{
  "openapi": "3.0.1",
  "info": {
    "title": "Machines API",
    "description": "This site hosts documentation generated from the Fly.io Machines API OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/) for how to get started, more information about each endpoint, parameter descriptions, and examples.",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0"
  },
  "externalDocs": {
    "url": "https://fly.io/docs/machines/working-with-machines/"
  },
  "servers": [
    {
      "url": "https://api.machines.dev/v1"
    }
  ],
  "tags": [
    {
      "name": "Apps",
      "description": "This site hosts documentation generated from the Fly.io Machines API OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/apps-resource/) for details about using the Apps resource."
    },
    {
      "name": "Machines",
      "description": "This site hosts documentation generated from the Fly.io Machines API OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/machines-resource/) for details about using the Machines resource."
    },
    {
      "name": "TLS Certificates",
      "description": "This site hosts documentation generated from the Fly.io Machines API OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/certificates-resource/) for details about using the TLS Certificates resource.\n"
    },
    {
      "name": "Volumes",
      "description": "This site hosts documentation generated from the Fly.io Machines API OpenAPI specification. Visit our complete [Machines API docs](https://fly.io/docs/machines/api/volumes-resource/) for details about using the Volumes resource."
    }
  ],
  "paths": {
    "/apps": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List Apps",
        "description": "List all apps with the ability to filter by organization slug.\n",
        "operationId": "Apps_list",
        "parameters": [
          {
            "name": "org_slug",
            "in": "query",
            "description": "The org slug, or 'personal', to filter apps",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_role",
            "in": "query",
            "description": "Filter apps by role",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAppsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Create App",
        "description": "Create an app with the specified details in the request body.\n",
        "operationId": "Apps_create",
        "requestBody": {
          "description": "App body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "Get App",
        "description": "Retrieve details about a specific app by its name.\n",
        "operationId": "Apps_show",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Apps"
        ],
        "summary": "Destroy App",
        "description": "Delete an app by its name.\n",
        "operationId": "Apps_delete",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/certificates": {
      "get": {
        "tags": [
          "TLS Certificates"
        ],
        "summary": "List certificates for app",
        "operationId": "App_Certificates_list",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Hostname filter (substring match)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results per page (default 25, max 500)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listCertificatesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/certificates/acme": {
      "post": {
        "tags": [
          "TLS Certificates"
        ],
        "summary": "Request ACME certificate",
        "operationId": "App_Certificates_acme_create",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "ACME certificate request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createAcmeCertificateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateDetail"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/certificates/custom": {
      "post": {
        "tags": [
          "TLS Certificates"
        ],
        "summary": "Upload custom certificate",
        "operationId": "App_Certificates_custom_create",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Custom certificate request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createCustomCertificateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateDetail"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/certificates/{hostname}": {
      "get": {
        "tags": [
          "TLS Certificates"
        ],
        "summary": "Get certificate details",
        "operationId": "App_Certificates_show",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "path",
            "description": "Certificate Hostname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateDetail"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TLS Certificates"
        ],
        "summary": "Remove certificate",
        "operationId": "App_Certificates_delete",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "path",
            "description": "Certificate Hostname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/certificates/{hostname}/acme": {
      "delete": {
        "tags": [
          "TLS Certificates"
        ],
        "summary": "Remove ACME certificates",
        "operationId": "App_Certificates_acme_delete",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "path",
            "description": "Certificate Hostname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateDetail"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/certificates/{hostname}/check": {
      "post": {
        "tags": [
          "TLS Certificates"
        ],
        "summary": "Check DNS and re-validate certificate",
        "operationId": "App_Certificates_check",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "path",
            "description": "Certificate Hostname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CertificateCheckResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/certificates/{hostname}/custom": {
      "delete": {
        "tags": [
          "TLS Certificates"
        ],
        "summary": "Remove custom certificate",
        "operationId": "App_Certificates_custom_delete",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hostname",
            "in": "path",
            "description": "Certificate Hostname",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/destroyCustomCertificateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/deploy_token": {
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Create App deploy token",
        "operationId": "App_create_deploy_token",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppDeployTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAppResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/ip_assignments": {
      "get": {
        "tags": [
          "Apps"
        ],
        "summary": "List IP assignments for app",
        "operationId": "App_IPAssignments_list",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/listIPAssignmentsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Apps"
        ],
        "summary": "Assign new IP address to app",
        "operationId": "App_IPAssignments_create",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Assign IP request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/assignIPRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IPAssignment"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/ip_assignments/{ip}": {
      "delete": {
        "tags": [
          "Apps"
        ],
        "summary": "Remove IP assignment from app",
        "operationId": "App_IPAssignments_delete",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "path",
            "description": "IP address",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/machines": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "List Machines",
        "description": "List all Machines associated with a specific app, with optional filters for including deleted Machines and filtering by region.\n",
        "operationId": "Machines_list",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "description": "Include deleted machines",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "comma separated list of states to filter (created, started, stopped, suspended)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "description": "Only return summary info about machines (omit config, checks, events, host_status, nonce, etc.)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Machine"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Create Machine",
        "description": "Create a Machine within a specific app using the details provided in the request body.\n\n**Important**: This request can fail, and you’re responsible for handling that failure. If you ask for a large Machine, or a Machine in a region we happen to be at capacity for, you might need to retry the request, or to fall back to another region. If you’re working directly with the Machines API, you’re taking some responsibility for your own orchestration!\n",
        "operationId": "Machines_create",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create machine request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMachineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/machines/{machine_id}": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Get Machine",
        "description": "Get details of a specific Machine within an app by the Machine ID.\n",
        "operationId": "Machines_show",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Update Machine",
        "description": "Update a Machine's configuration using the details provided in the request body.\n",
        "operationId": "Machines_update",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMachineRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Machine"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "delete": {
        "tags": [
          "Machines"
        ],
        "summary": "Destroy Machine",
        "description": "Delete a specific Machine within an app by Machine ID, with an optional force parameter to force kill the Machine if it's running.\n",
        "operationId": "Machines_delete",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Force kill the machine if it's running",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/cordon": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Cordon Machine",
        "description": "“Cordoning” a Machine refers to disabling its services, so the Fly Proxy won’t route requests to it. In flyctl this is used by blue/green deployments; one set of Machines is started up with services disabled, and when they are all healthy, the services are enabled on the new Machines and disabled on the old ones.\n",
        "operationId": "Machines_cordon",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/events": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "List Events",
        "description": "List all events associated with a specific Machine within an app.\n",
        "operationId": "Machines_list_events",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of events to fetch (max of 50). If omitted, this is set to 20 by default.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MachineEvent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/exec": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Execute Command",
        "description": "Execute a command on a specific Machine and return the raw command output bytes.\n",
        "operationId": "Machines_exec",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MachineExecRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "stdout, stderr, exit code, and exit signal are returned",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/flydv1.ExecResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/flydv1.ExecResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/machines/{machine_id}/lease": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Get Lease",
        "description": "Retrieve the current lease of a specific Machine within an app. Machine leases can be used to obtain an exclusive lock on modifying a Machine.\n",
        "operationId": "Machines_show_lease",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lease"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Create Lease",
        "description": "Create a lease for a specific Machine within an app using the details provided in the request body. Machine leases can be used to obtain an exclusive lock on modifying a Machine.\n",
        "operationId": "Machines_create_lease",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fly-machine-lease-nonce",
            "in": "header",
            "description": "Existing lease nonce to refresh by ttl, empty or non-existent to create a new lease",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeaseRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lease"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "delete": {
        "tags": [
          "Machines"
        ],
        "summary": "Release Lease",
        "description": "Release the lease of a specific Machine within an app. Machine leases can be used to obtain an exclusive lock on modifying a Machine.\n",
        "operationId": "Machines_release_lease",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fly-machine-lease-nonce",
            "in": "header",
            "description": "Existing lease nonce",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/memory": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Get Machine Memory",
        "description": "Get current memory limit and available capacity for a machine",
        "operationId": "Machines_get_memory",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/main.memoryResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Machines"
        ],
        "summary": "Set Machine Memory Limit",
        "description": "Set the memory limit for a machine using the balloon device",
        "operationId": "Machines_set_memory_limit",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Set memory limit request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/main.setMemoryLimitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/main.memoryResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/apps/{app_name}/machines/{machine_id}/memory/reclaim": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Reclaim Machine Memory",
        "description": "Trigger the balloon device to reclaim memory from a machine",
        "operationId": "Machines_reclaim_memory",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Reclaim memory request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/main.reclaimMemoryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/main.reclaimMemoryResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "body"
      }
    },
    "/apps/{app_name}/machines/{machine_id}/metadata": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Get Metadata",
        "description": "Retrieve metadata for a specific Machine within an app.\n",
        "operationId": "Machines_show_metadata",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Machines"
        ],
        "summary": "Update Metadata (set/remove multiple keys)",
        "description": "Update multiple metadata keys at once. Null values and empty strings remove keys.\n+ If `machine_version` is provided and no longer matches the current machine version, returns 412 Precondition Failed.",
        "operationId": "Machines_update_metadata",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update metadata request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "patch": {
        "tags": [
          "Machines"
        ],
        "summary": "Update Metadata (set/remove multiple keys)",
        "description": "Update multiple metadata keys at once. Null values and empty strings remove keys.\n+ If `machine_version` is provided and no longer matches the current machine version, returns 412 Precondition Failed.",
        "operationId": "Machines_update_metadata",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update metadata request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateMetadataRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "412": {
            "description": "Precondition Failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/machines/{machine_id}/metadata/{key}": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Get Metadata Value",
        "description": "Get the value of a specific metadata key",
        "operationId": "Machines_get_metadata_key",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "Metadata Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadataValueResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Upsert Metadata Key",
        "description": "Update metadata for a specific machine within an app by providing a metadata key.\n",
        "operationId": "Machines_upsert_metadata",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "Metadata Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Upsert metadata key request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/upsertMetadataKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "delete": {
        "tags": [
          "Machines"
        ],
        "summary": "Delete Metadata",
        "description": "Delete metadata for a specific Machine within an app by providing a metadata key.\n",
        "operationId": "Machines_delete_metadata",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "path",
            "description": "Metadata Key",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/ps": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "List Processes",
        "description": "List all processes running on a specific Machine within an app, with optional sorting parameters.\n",
        "operationId": "Machines_list_processes",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "description": "Sort by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Order",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcessStat"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/restart": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Restart Machine",
        "description": "Restart a specific Machine within an app, with an optional timeout parameter.\n",
        "operationId": "Machines_restart",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Restart timeout as a Go duration string or number of seconds",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "signal",
            "in": "query",
            "description": "Unix signal name",
            "schema": {
              "type": "string",
              "enum": [
                "SIGHUP",
                "SIGINT",
                "SIGQUIT",
                "SIGKILL",
                "SIGUSR1",
                "SIGUSR2",
                "SIGTERM"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/signal": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Signal Machine",
        "description": "Send a signal to a specific Machine within an app using the details provided in the request body.\n",
        "operationId": "Machines_signal",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignalRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/machines/{machine_id}/start": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Start Machine",
        "description": "Start a specific Machine within an app.\n",
        "operationId": "Machines_start",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/stop": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Stop Machine",
        "description": "Stop a specific Machine within an app, with an optional request body to specify signal and timeout.\n",
        "operationId": "Machines_stop",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Optional request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StopRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/machines/{machine_id}/suspend": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Suspend Machine",
        "description": "Suspend a specific Machine within an app. The next start operation will attempt (but is not guaranteed) to resume the Machine from a snapshot taken at suspension time, rather than performing a cold boot.\n",
        "operationId": "Machines_suspend",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/uncordon": {
      "post": {
        "tags": [
          "Machines"
        ],
        "summary": "Uncordon Machine",
        "description": "“Cordoning” a Machine refers to disabling its services, so the Fly Proxy won’t route requests to it. In flyctl this is used by blue/green deployments; one set of Machines is started up with services disabled, and when they are all healthy, the services are enabled on the new Machines and disabled on the old ones.\n",
        "operationId": "Machines_uncordon",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/versions": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "List Versions",
        "description": "List all versions of the configuration for a specific Machine within an app.\n",
        "operationId": "Machines_list_versions",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MachineVersion"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/machines/{machine_id}/wait": {
      "get": {
        "tags": [
          "Machines"
        ],
        "summary": "Wait for State",
        "description": "Wait for a Machine to reach a specific state. Specify the desired state with the state parameter. See the [Machine states table](https://fly.io/docs/machines/working-with-machines/#machine-states) for a list of possible states. The default for this parameter is `started`.\n\nThis request will block for up to 60 seconds. Set a shorter timeout with the timeout parameter.\n",
        "operationId": "Machines_wait",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "machine_id",
            "in": "path",
            "description": "Machine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "version",
            "in": "query",
            "description": "26-character Machine version ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "instance_id",
            "in": "query",
            "description": "26-character Machine version ID (deprecated; use version)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from_event_id",
            "in": "query",
            "description": "26-character Machine event ID to start waiting after",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "wait timeout. default 60s",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "desired state(s), supports repeated or comma-separated values",
            "schema": {
              "type": "string",
              "enum": [
                "started",
                "stopped",
                "suspended",
                "destroyed",
                "failed",
                "settled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitMachineResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/secretkeys": {
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "List secret keys belonging to an app",
        "operationId": "Secretkeys_list",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_version",
            "in": "query",
            "description": "Minimum secrets version to return. Returned when setting a new secret",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Comma-seperated list of secret keys to list",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretKeys"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/secretkeys/{secret_name}": {
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "Get an app's secret key",
        "operationId": "Secretkey_get",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "Secret key name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_version",
            "in": "query",
            "description": "Minimum secrets version to return. Returned when setting a new secret",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecretKey"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Create or update a secret key",
        "operationId": "Secretkey_set",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "Secret key name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create secret key request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetSecretkeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetSecretkeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "delete": {
        "tags": [
          "Secrets"
        ],
        "summary": "Delete an app's secret key",
        "operationId": "Secretkey_delete",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "Secret key name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteSecretkeyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/secretkeys/{secret_name}/decrypt": {
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Decrypt with a secret key",
        "operationId": "Secretkey_decrypt",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "Secret key name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_version",
            "in": "query",
            "description": "Minimum secrets version to return. Returned when setting a new secret",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Decrypt with secret key request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DecryptSecretkeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DecryptSecretkeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/secretkeys/{secret_name}/encrypt": {
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Encrypt with a secret key",
        "operationId": "Secretkey_encrypt",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "Secret key name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_version",
            "in": "query",
            "description": "Minimum secrets version to return. Returned when setting a new secret",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Encrypt with secret key request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EncryptSecretkeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EncryptSecretkeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/secretkeys/{secret_name}/generate": {
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Generate a random secret key",
        "operationId": "Secretkey_generate",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "Secret key name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "generate secret key request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetSecretkeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetSecretkeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/secretkeys/{secret_name}/sign": {
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Sign with a secret key",
        "operationId": "Secretkey_sign",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "Secret key name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_version",
            "in": "query",
            "description": "Minimum secrets version to return. Returned when setting a new secret",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Sign with secret key request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignSecretkeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SignSecretkeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/secretkeys/{secret_name}/verify": {
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Verify with a secret key",
        "operationId": "Secretkey_verify",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "Secret key name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_version",
            "in": "query",
            "description": "Minimum secrets version to return. Returned when setting a new secret",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Verify with secret key request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifySecretkeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/secrets": {
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "List app secrets belonging to an app",
        "operationId": "Secrets_list",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_version",
            "in": "query",
            "description": "Minimum secrets version to return. Returned when setting a new secret",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "show_secrets",
            "in": "query",
            "description": "Show the secret values.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppSecrets"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Update app secrets belonging to an app",
        "operationId": "Secrets_update",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Update app secret request, with values to set, or nil to unset",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppSecretsUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppSecretsUpdateResp"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/secrets/{secret_name}": {
      "get": {
        "tags": [
          "Secrets"
        ],
        "summary": "Get an app secret",
        "operationId": "Secret_get",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "App secret name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_version",
            "in": "query",
            "description": "Minimum secrets version to return. Returned when setting a new secret",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "show_secrets",
            "in": "query",
            "description": "Show the secret value.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppSecret"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Secrets"
        ],
        "summary": "Create or update Secret",
        "operationId": "Secret_create",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "App secret name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Create app secret request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetAppSecretRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetAppSecretResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "delete": {
        "tags": [
          "Secrets"
        ],
        "summary": "Delete an app secret",
        "operationId": "Secret_delete",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "secret_name",
            "in": "path",
            "description": "App secret name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAppSecretResponse"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/volumes": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "List Volumes",
        "description": "List all volumes associated with a specific app.\n",
        "operationId": "Volumes_list",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "description": "Only return summary info about volumes (omit blocks, block size, etc)",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Volume"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create Volume",
        "description": "Create a volume for a specific app using the details provided in the request body.\n",
        "operationId": "Volumes_create",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVolumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/volumes/{volume_id}": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "Get Volume",
        "description": "Retrieve details about a specific volume by its ID within an app.\n",
        "operationId": "Volumes_get_by_id",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volume_id",
            "in": "path",
            "description": "Volume ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Volumes"
        ],
        "summary": "Update Volume",
        "description": "Update a volume's configuration using the details provided in the request body.\n",
        "operationId": "Volumes_update",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volume_id",
            "in": "path",
            "description": "Volume ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVolumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      },
      "delete": {
        "tags": [
          "Volumes"
        ],
        "summary": "Destroy Volume",
        "description": "Delete a specific volume within an app by volume ID.\n",
        "operationId": "Volume_delete",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volume_id",
            "in": "path",
            "description": "Volume ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Volume"
                }
              }
            }
          }
        }
      }
    },
    "/apps/{app_name}/volumes/{volume_id}/extend": {
      "put": {
        "tags": [
          "Volumes"
        ],
        "summary": "Extend Volume",
        "description": "Extend a volume's size within an app using the details provided in the request body.\n",
        "operationId": "Volumes_extend",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volume_id",
            "in": "path",
            "description": "Volume ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtendVolumeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendVolumeResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/apps/{app_name}/volumes/{volume_id}/snapshots": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "summary": "List Snapshots",
        "description": "List all snapshots for a specific volume within an app.\n",
        "operationId": "Volumes_list_snapshots",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volume_id",
            "in": "path",
            "description": "Volume ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VolumeSnapshot"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Create Snapshot",
        "description": "Create a snapshot for a specific volume within an app.\n",
        "operationId": "createVolumeSnapshot",
        "parameters": [
          {
            "name": "app_name",
            "in": "path",
            "description": "Fly App Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "volume_id",
            "in": "path",
            "description": "Volume ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          }
        }
      }
    },
    "/orgs/{org_slug}/machines": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List All Machines",
        "description": "List all Machines associated with a specific organization. Machines are sorted by their `updated_at` timestamps, oldest to newest.\n\nThis API call represents \"a point in time\". Recent machine changes, including creations and destructions, may take time to propagate. When polling with `updated_after`, offset your timestamps to catch late-arriving events.\n",
        "operationId": "Machines_org_list",
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "description": "Fly Organization Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "description": "Include deleted machines",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Comma separated list of states to filter (created, started, stopped, suspended)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "description": "Omit config from responses",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "description": "Only return machines updated after this time. Timestamp must be in the RFC 3339 format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response (takes precedence over updated_after). Note that there is no guarantee that all machines returned by this endpoint are sorted by their updated_at fields. Pagination may reveal machines older than the last updated_at.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of machines to fetch (max of 1000). This limit is advisory. Responses may be shorter, or even empty, even when more machines remain. If omitted, the maximum is used",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgMachinesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orgs/{org_slug}/volumes": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "summary": "List All Volumes",
        "description": "List all volumes for an organization with optional filters and cursor-based pagination.",
        "operationId": "Volumes_org_list",
        "parameters": [
          {
            "name": "org_slug",
            "in": "path",
            "description": "Fly Organization Slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "description": "Include deleted volumes",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Region filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Comma separated list of volume states to filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "summary",
            "in": "query",
            "description": "Only return summary info about volumes (omit blocks, block size, etc)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "updated_after",
            "in": "query",
            "description": "Only return volumes updated after this time. Timestamp must be in the RFC 3339 format",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor from previous response (takes precedence over updated_after)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of volumes to fetch (max of 1000). This limit is advisory. Responses may be shorter, even when more volumes remain. If omitted, the maximum is used",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrgVolumesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/platform/placements": {
      "post": {
        "tags": [
          "Platform"
        ],
        "summary": "Get Placements",
        "description": "Simulates placing the specified number of machines into regions, depending on available capacity and limits.",
        "operationId": "Platform_placements_post",
        "requestBody": {
          "description": "Get placements request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/main.getPlacementsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/main.getPlacementsResponse"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "request"
      }
    },
    "/platform/regions": {
      "get": {
        "tags": [
          "Platform"
        ],
        "summary": "Get Regions",
        "description": "List all regions on the platform with their details.",
        "operationId": "Platform_regions_get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
[...]
