{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.account_relationship_definitions#PaginatedAccountRelationshipDefinitionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.account_relationship_definitions#PaginatedAccountRelationshipDefinitionListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relationship definition UUID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the relationship. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this relationship means, e.g. 'The customer success manager responsible for this account'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_single_holder": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether only one user can hold this relationship per account at a time, e.g. a single CSM per account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A team-defined account relationship type (CSM, Onboarding manager, ...)."
      }
    },
    "com.posthog.account_relationship_definitions#PaginatedAccountRelationshipDefinitionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinition"
      },
      "traits": {}
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsListRequest"
      },
      "output": {
        "target": "com.posthog.account_relationship_definitions#PaginatedAccountRelationshipDefinitionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/account_relationship_definitions/",
          "code": 200
        }
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relationship definition UUID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the relationship. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this relationship means, e.g. 'The customer success manager responsible for this account'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_single_holder": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether only one user can hold this relationship per account at a time, e.g. a single CSM per account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsCreateRequest"
      },
      "output": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/account_relationship_definitions/",
          "code": 200
        }
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/account_relationship_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the relationship. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this relationship means, e.g. 'The customer success manager responsible for this account'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_single_holder": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether only one user can hold this relationship per account at a time, e.g. a single CSM per account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/account_relationship_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the relationship. Unique within the team."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this relationship means, e.g. 'The customer success manager responsible for this account'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_single_holder": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether only one user can hold this relationship per account at a time, e.g. a single CSM per account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/account_relationship_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/account_relationship_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.account_relationship_definitions#AccountRelationshipDefinitions": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsList"
        },
        {
          "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsCreate"
        },
        {
          "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsRetrieve"
        },
        {
          "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsUpdate"
        },
        {
          "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsPartialUpdate"
        },
        {
          "target": "com.posthog.account_relationship_definitions#AccountRelationshipDefinitionsDestroy"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
