{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.agent_platform#AgentApplicationsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#PaginatedAgentApplicationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.agent_platform#PaginatedAgentApplicationListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplication": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally-unique URL identifier. Server-minted as an opaque random slug on create; only allowlisted first-party teams may set it explicitly. Slugs live in one global namespace (domain-mode ingress routing carries no team)."
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "live_revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "archived_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.agent_platform#AgentApplicationCreatedBy",
          "traits": {
            "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slack_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public URL to paste into the Slack app dashboard under Event Subscriptions → Request URL. Computed from the agent slug and the deployment's ingress routing mode (`AGENT_INGRESS_DOMAIN_SUFFIX` in domain mode, `AGENT_INGRESS_PUBLIC_URL` in path mode). Null when no public agent-ingress URL is configured (e.g. local dev without a tunnel).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_interactivity_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public URL to paste into the Slack app dashboard under Interactivity & Shortcuts → Request URL. Same source + null behaviour as `slack_events_url`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ingress_base_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mode-aware base URL the agent's trigger routes hang off — append `/webhook`, `/run`, `/mcp`, etc. Domain mode: `https://<slug><suffix>`; path mode: `<public_url>/agents/<slug>`. Same source + null behaviour as `slack_events_url` (null when no public ingress URL is configured).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted."
      }
    },
    "com.posthog.agent_platform#PaginatedAgentApplicationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentApplication"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsListRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#PaginatedAgentApplicationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/",
          "code": 200
        },
        "smithy.api#documentation": "Agent applications — the deployable unit of the platform.\n\nURLs:\n    GET    /api/projects/<team>/agent_applications/             list\n    POST   /api/projects/<team>/agent_applications/             create\n    GET    /api/projects/<team>/agent_applications/<id|slug>/   retrieve\n    PATCH  /api/projects/<team>/agent_applications/<id|slug>/   update\n    DELETE /api/projects/<team>/agent_applications/<id|slug>/   archive\n    POST   /api/projects/<team>/agent_applications/<id|slug>/set_env/        bulk replace env\n    GET    /api/projects/<team>/agent_applications/<id|slug>/env_keys/        list set keys\n    GET    /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  is one key set?\n    PUT    /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  set one key\n    DELETE /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  clear one key"
      }
    },
    "com.posthog.agent_platform#AgentApplicationsCreateRequestCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Globally-unique URL identifier. Server-minted as an opaque random slug on create; only allowlisted first-party teams may set it explicitly. Slugs live in one global namespace (domain-mode ingress routing carries no team)."
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "live_revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean"
        },
        "archived_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.agent_platform#AgentApplicationsCreateRequestCreatedBy",
          "traits": {
            "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slack_events_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public URL to paste into the Slack app dashboard under Event Subscriptions → Request URL. Computed from the agent slug and the deployment's ingress routing mode (`AGENT_INGRESS_DOMAIN_SUFFIX` in domain mode, `AGENT_INGRESS_PUBLIC_URL` in path mode). Null when no public agent-ingress URL is configured (e.g. local dev without a tunnel).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_interactivity_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public URL to paste into the Slack app dashboard under Interactivity & Shortcuts → Request URL. Same source + null behaviour as `slack_events_url`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "ingress_base_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mode-aware base URL the agent's trigger routes hang off — append `/webhook`, `/run`, `/mcp`, etc. Domain mode: `https://<slug><suffix>`; path mode: `<public_url>/agents/<slug>`. Same source + null behaviour as `slack_events_url` (null when no public ingress URL is configured).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsCreateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentApplication"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/agent_applications/",
          "code": 200
        },
        "smithy.api#documentation": "Agent applications — the deployable unit of the platform.\n\nURLs:\n    GET    /api/projects/<team>/agent_applications/             list\n    POST   /api/projects/<team>/agent_applications/             create\n    GET    /api/projects/<team>/agent_applications/<id|slug>/   retrieve\n    PATCH  /api/projects/<team>/agent_applications/<id|slug>/   update\n    DELETE /api/projects/<team>/agent_applications/<id|slug>/   archive\n    POST   /api/projects/<team>/agent_applications/<id|slug>/set_env/        bulk replace env\n    GET    /api/projects/<team>/agent_applications/<id|slug>/env_keys/        list set keys\n    GET    /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  is one key set?\n    PUT    /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  set one key\n    DELETE /api/projects/<team>/agent_applications/<id|slug>/env_keys/<KEY>/  clear one key"
      }
    },
    "com.posthog.agent_platform#AgentMemoryListFilesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "prefix",
            "smithy.api#documentation": "Optional path prefix to scope the list, e.g. 'incidents/'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryListResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of entries returned.",
            "smithy.api#required": {}
          }
        },
        "entries": {
          "target": "com.posthog.agent_platform#AgentMemoryListResponseEntriesList",
          "traits": {
            "smithy.api#documentation": "Headers (frontmatter only) — no file bodies. Use the read endpoint for the body.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryHeader": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative path within the agent's memory, e.g. 'incidents/db.md'.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One-line summary from the file's frontmatter.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.posthog.agent_platform#AgentMemoryHeaderTagsList",
          "traits": {
            "smithy.api#documentation": "Frontmatter tags (lowercase a-z 0-9 _ - only).",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp stamped on create. Null for files written before this field was introduced.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp stamped on every write.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryHeaderTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Frontmatter tags (lowercase a-z 0-9 _ - only)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryListResponseEntriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentMemoryHeader"
      },
      "traits": {
        "smithy.api#documentation": "Headers (frontmatter only) — no file bodies. Use the read endpoint for the body."
      }
    },
    "com.posthog.agent_platform#AgentMemoryListFiles": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryListFilesRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/",
          "code": 200
        },
        "smithy.api#documentation": "List memory file headers under the agent's prefix. Headers only — no bodies."
      }
    },
    "com.posthog.agent_platform#AgentMemoryCreateFileRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional flat tags for search ranking. Lowercase a-z 0-9 _ - only."
      }
    },
    "com.posthog.agent_platform#AgentMemoryCreateFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where to store the file. Lowercase a-z 0-9 _ - / only, must end in .md.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One-line summary, max 280 chars. Surfaces in list/search results.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full markdown body.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.posthog.agent_platform#AgentMemoryCreateFileRequestTagsList",
          "traits": {
            "smithy.api#documentation": "Optional flat tags for search ranking. Lowercase a-z 0-9 _ - only."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryFile": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full markdown body.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryCreateFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryCreateFileRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryFile"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/",
          "code": 200
        },
        "smithy.api#documentation": "Create a memory file. Fails if the path already exists — use the update endpoint to overwrite."
      }
    },
    "com.posthog.agent_platform#AgentMemoryGetFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Memory path returned by the list endpoint, e.g. 'incidents/db.md'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryGetFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryGetFileRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryFile"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/by_path/",
          "code": 200
        },
        "smithy.api#documentation": "Read one memory file in full (frontmatter + markdown body)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryUpdateFileRequestTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryUpdateFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Memory path to update."
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "com.posthog.agent_platform#AgentMemoryUpdateFileRequestTagsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryUpdateFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryUpdateFileRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryFile"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/by_path/",
          "code": 200
        },
        "smithy.api#documentation": "Update a memory file. Any field omitted is preserved from the existing file."
      }
    },
    "com.posthog.agent_platform#AgentMemoryDeleteFileRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Memory path to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryDeleteFile": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryDeleteFileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/files/by_path/",
          "code": 200
        },
        "smithy.api#documentation": "Hard-delete a memory file. Activity log captures the action against the agent."
      }
    },
    "com.posthog.agent_platform#AgentMemorySearchRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Max results (default 10, max 100)."
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "prefix",
            "smithy.api#documentation": "Optional path prefix to scope the search."
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q",
            "smithy.api#required": {},
            "smithy.api#documentation": "Search cue — plain natural language is fine."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemorySearchResponse": {
      "type": "structure",
      "members": {
        "cue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original search cue, echoed back.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.posthog.agent_platform#AgentMemorySearchResponseResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemorySearchResult": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.posthog.agent_platform#AgentMemorySearchResultTagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "BM25 relevance score.",
            "smithy.api#required": {}
          }
        },
        "snippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Body snippet around the earliest match. Null when only the header matched.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemorySearchResultTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemorySearchResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentMemorySearchResult"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemorySearch": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemorySearchRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemorySearchResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/search/",
          "code": 200
        },
        "smithy.api#documentation": "BM25 search across the agent's memory files. Ranks by description+tags+path+body with field weighting."
      }
    },
    "com.posthog.agent_platform#AgentMemoryListTablesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentTablesListResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of tables.",
            "smithy.api#required": {}
          }
        },
        "tables": {
          "target": "com.posthog.agent_platform#AgentTablesListResponseTablesList",
          "traits": {
            "smithy.api#documentation": "Tabular-reference tables for this agent (the @posthog/table-* JSONL tables).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentTableHeader": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table name.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Object size in bytes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentTablesListResponseTablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentTableHeader"
      },
      "traits": {
        "smithy.api#documentation": "Tabular-reference tables for this agent (the @posthog/table-* JSONL tables)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryListTables": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryListTablesRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentTablesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/tables/",
          "code": 200
        },
        "smithy.api#documentation": "List the agent's tabular-reference tables (the @posthog/table-* JSONL tables): name + byte size."
      }
    },
    "com.posthog.agent_platform#AgentMemoryReadTableRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Max rows to return (default 500, max 5000)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentTableRowsResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total rows in the table.",
            "smithy.api#required": {}
          }
        },
        "returned": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows in this response (capped by limit).",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "com.posthog.agent_platform#AgentTableRowsResponseRowsList",
          "traits": {
            "smithy.api#documentation": "The rows (arbitrary JSON objects).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentTableRowsResponseRowsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentTableRowsResponseRowsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentTableRowsResponseRowsItemMap"
      },
      "traits": {
        "smithy.api#documentation": "The rows (arbitrary JSON objects)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryReadTable": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryReadTableRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentTableRowsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/tables/{name}/",
          "code": 200
        },
        "smithy.api#documentation": "Read rows from one tabular-reference table (capped via ?limit)."
      }
    },
    "com.posthog.agent_platform#AgentMemoryTreeRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentMemoryTreeResponse": {
      "type": "structure",
      "members": {
        "root": {
          "target": "com.posthog.agent_platform#AgentMemoryTreeResponseRootMap",
          "traits": {
            "smithy.api#documentation": "Folder tree rooted at the agent's memory prefix. Each node is {name, type: 'folder'|'file', path?, description?, tags?, children?}.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentMemoryTreeResponseRootMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Folder tree rooted at the agent's memory prefix. Each node is {name, type: 'folder'|'file', path?, description?, tags?, children?}."
      }
    },
    "com.posthog.agent_platform#AgentMemoryTree": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentMemoryTreeRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentMemoryTreeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/memory/tree/",
          "code": 200
        },
        "smithy.api#documentation": "Pre-aggregated folder tree of memory files. Saves the frontend re-derivation work."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#PaginatedAgentRevisionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.agent_platform#PaginatedAgentRevisionListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevision": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "application": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent_revision": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.posthog.agent_platform#AgentRevisionStateEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bundle_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage-prefix metadata for the bundle, e.g. `fs://my-agent/`. Optional — leave blank and the server fills `fs://<application-slug>/`. Bundles are addressed by revision id regardless, so this is only a prefix hint."
          }
        },
        "bundle_sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spec": {
          "target": "smithy.api#Document"
        },
        "skill_refs": {
          "target": "com.posthog.agent_platform#AgentRevisionSkillRefsList",
          "traits": {
            "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`.",
            "smithy.api#required": {}
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.agent_platform#AgentRevisionCreatedBy",
          "traits": {
            "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionStateEnum": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `draft` - draft\n* `ready` - ready\n* `live` - live\n* `archived` - archived"
      }
    },
    "com.posthog.agent_platform#SkillRef": {
      "type": "structure",
      "members": {
        "from_template": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the skill in the llma-skill store to pin into this agent. Resolved at freeze to the chosen `version` and materialized into the bundle.",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Folder the resolved skill is materialized under in the bundle (`skills/<alias>/`). Lowercase letters, digits, hyphens or underscores, starting and ending with a letter or digit; must be unique within the revision.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specific published version to pin. Omit to pin the store's latest version at freeze time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One reference to a versioned skill in the llma-skill store, pinned into\nthis agent's bundle at freeze."
      }
    },
    "com.posthog.agent_platform#AgentRevisionSkillRefsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#SkillRef"
      },
      "traits": {
        "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`."
      }
    },
    "com.posthog.agent_platform#AgentRevisionCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted."
      }
    },
    "com.posthog.agent_platform#PaginatedAgentRevisionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsListRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#PaginatedAgentRevisionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/",
          "code": 200
        },
        "smithy.api#documentation": "Revisions of an agent. Created in `draft`, promoted through\n`ready → live` once the bundle has been uploaded + frozen.\n\nURLs (nested under an application):\n\n    Model CRUD:\n        GET   .../revisions/                       list\n        POST  .../revisions/                       create draft\n        GET   .../revisions/<id>/                  retrieve\n        PATCH .../revisions/<id>/                  update spec (draft only)\n\n    Lifecycle:\n        POST  .../revisions/<id>/promote/          ready → live\n        POST  .../revisions/<id>/archive/          → archived\n        POST  .../revisions/<id>/freeze/           draft → ready (stamps sha256)\n        POST  .../revisions/<id>/clone_from/       copy bundle from another rev\n        POST  .../revisions/new_draft/             create draft + clone_from atomically\n\n    Bundle authoring (proxied to the janitor):\n        GET    .../revisions/<id>/manifest/        list paths + sha256\n        GET    .../revisions/<id>/file/?path=…     read one file\n        PUT    .../revisions/<id>/file/?path=…     write one file (draft)\n        DELETE .../revisions/<id>/file/?path=…     delete one file (draft)\n        GET    .../revisions/<id>/bundle/          bulk pull all files\n        PUT    .../revisions/<id>/bundle/          bulk push (replace|merge)"
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCreateRequestSkillRefsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#SkillRef"
      },
      "traits": {
        "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCreateRequestCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "application": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent_revision": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.posthog.agent_platform#AgentRevisionStateEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bundle_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage-prefix metadata for the bundle, e.g. `fs://my-agent/`. Optional — leave blank and the server fills `fs://<application-slug>/`. Bundles are addressed by revision id regardless, so this is only a prefix hint."
          }
        },
        "bundle_sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spec": {
          "target": "smithy.api#Document"
        },
        "skill_refs": {
          "target": "com.posthog.agent_platform#AgentApplicationsRevisionsCreateRequestSkillRefsList",
          "traits": {
            "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`.",
            "smithy.api#required": {}
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.agent_platform#AgentApplicationsRevisionsCreateRequestCreatedBy",
          "traits": {
            "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsCreateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/",
          "code": 200
        },
        "smithy.api#documentation": "Revisions of an agent. Created in `draft`, promoted through\n`ready → live` once the bundle has been uploaded + frozen.\n\nURLs (nested under an application):\n\n    Model CRUD:\n        GET   .../revisions/                       list\n        POST  .../revisions/                       create draft\n        GET   .../revisions/<id>/                  retrieve\n        PATCH .../revisions/<id>/                  update spec (draft only)\n\n    Lifecycle:\n        POST  .../revisions/<id>/promote/          ready → live\n        POST  .../revisions/<id>/archive/          → archived\n        POST  .../revisions/<id>/freeze/           draft → ready (stamps sha256)\n        POST  .../revisions/<id>/clone_from/       copy bundle from another rev\n        POST  .../revisions/new_draft/             create draft + clone_from atomically\n\n    Bundle authoring (proxied to the janitor):\n        GET    .../revisions/<id>/manifest/        list paths + sha256\n        GET    .../revisions/<id>/file/?path=…     read one file\n        PUT    .../revisions/<id>/file/?path=…     write one file (draft)\n        DELETE .../revisions/<id>/file/?path=…     delete one file (draft)\n        GET    .../revisions/<id>/bundle/          bulk pull all files\n        PUT    .../revisions/<id>/bundle/          bulk push (replace|merge)"
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Revisions of an agent. Created in `draft`, promoted through\n`ready → live` once the bundle has been uploaded + frozen.\n\nURLs (nested under an application):\n\n    Model CRUD:\n        GET   .../revisions/                       list\n        POST  .../revisions/                       create draft\n        GET   .../revisions/<id>/                  retrieve\n        PATCH .../revisions/<id>/                  update spec (draft only)\n\n    Lifecycle:\n        POST  .../revisions/<id>/promote/          ready → live\n        POST  .../revisions/<id>/archive/          → archived\n        POST  .../revisions/<id>/freeze/           draft → ready (stamps sha256)\n        POST  .../revisions/<id>/clone_from/       copy bundle from another rev\n        POST  .../revisions/new_draft/             create draft + clone_from atomically\n\n    Bundle authoring (proxied to the janitor):\n        GET    .../revisions/<id>/manifest/        list paths + sha256\n        GET    .../revisions/<id>/file/?path=…     read one file\n        PUT    .../revisions/<id>/file/?path=…     write one file (draft)\n        DELETE .../revisions/<id>/file/?path=…     delete one file (draft)\n        GET    .../revisions/<id>/bundle/          bulk pull all files\n        PUT    .../revisions/<id>/bundle/          bulk push (replace|merge)"
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsUpdateRequestSkillRefsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#SkillRef"
      },
      "traits": {
        "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsUpdateRequestCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        },
        "application": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parent_revision": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.posthog.agent_platform#AgentRevisionStateEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "bundle_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage-prefix metadata for the bundle, e.g. `fs://my-agent/`. Optional — leave blank and the server fills `fs://<application-slug>/`. Bundles are addressed by revision id regardless, so this is only a prefix hint."
          }
        },
        "bundle_sha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "spec": {
          "target": "smithy.api#Document"
        },
        "skill_refs": {
          "target": "com.posthog.agent_platform#AgentApplicationsRevisionsUpdateRequestSkillRefsList",
          "traits": {
            "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`.",
            "smithy.api#required": {}
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.agent_platform#AgentApplicationsRevisionsUpdateRequestCreatedBy",
          "traits": {
            "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Spec edits are only allowed while state='draft'. Once promoted to\nready/live the spec is frozen — change requires a new revision."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsPartialUpdateRequestSkillRefsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#SkillRef"
      },
      "traits": {
        "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsPartialUpdateRequestCreatedBy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        },
        "application": {
          "target": "smithy.api#String"
        },
        "parent_revision": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "state": {
          "target": "com.posthog.agent_platform#AgentRevisionStateEnum"
        },
        "bundle_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Storage-prefix metadata for the bundle, e.g. `fs://my-agent/`. Optional — leave blank and the server fills `fs://<application-slug>/`. Bundles are addressed by revision id regardless, so this is only a prefix hint."
          }
        },
        "bundle_sha256": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "spec": {
          "target": "smithy.api#Document"
        },
        "skill_refs": {
          "target": "com.posthog.agent_platform#AgentApplicationsRevisionsPartialUpdateRequestSkillRefsList",
          "traits": {
            "smithy.api#documentation": "Store-skill references for this draft, set via the `skill_refs` action and resolved into the bundle at freeze. Preserved as the authoring record on the frozen revision (and carried forward when forking a new draft); resolved provenance is stamped onto `spec.skills[].source_version_id`."
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.agent_platform#AgentApplicationsRevisionsPartialUpdateRequestCreatedBy",
          "traits": {
            "smithy.api#documentation": "Resolved creator (id, first_name, email) from `created_by_id`, or null if unset or the user was deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Revisions of an agent. Created in `draft`, promoted through\n`ready → live` once the bundle has been uploaded + frozen.\n\nURLs (nested under an application):\n\n    Model CRUD:\n        GET   .../revisions/                       list\n        POST  .../revisions/                       create draft\n        GET   .../revisions/<id>/                  retrieve\n        PATCH .../revisions/<id>/                  update spec (draft only)\n\n    Lifecycle:\n        POST  .../revisions/<id>/promote/          ready → live\n        POST  .../revisions/<id>/archive/          → archived\n        POST  .../revisions/<id>/freeze/           draft → ready (stamps sha256)\n        POST  .../revisions/<id>/clone_from/       copy bundle from another rev\n        POST  .../revisions/new_draft/             create draft + clone_from atomically\n\n    Bundle authoring (proxied to the janitor):\n        GET    .../revisions/<id>/manifest/        list paths + sha256\n        GET    .../revisions/<id>/file/?path=…     read one file\n        PUT    .../revisions/<id>/file/?path=…     write one file (draft)\n        DELETE .../revisions/<id>/file/?path=…     delete one file (draft)\n        GET    .../revisions/<id>/bundle/          bulk pull all files\n        PUT    .../revisions/<id>/bundle/          bulk push (replace|merge)"
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Revisions of an agent. Created in `draft`, promoted through\n`ready → live` once the bundle has been uploaded + frozen.\n\nURLs (nested under an application):\n\n    Model CRUD:\n        GET   .../revisions/                       list\n        POST  .../revisions/                       create draft\n        GET   .../revisions/<id>/                  retrieve\n        PATCH .../revisions/<id>/                  update spec (draft only)\n\n    Lifecycle:\n        POST  .../revisions/<id>/promote/          ready → live\n        POST  .../revisions/<id>/archive/          → archived\n        POST  .../revisions/<id>/freeze/           draft → ready (stamps sha256)\n        POST  .../revisions/<id>/clone_from/       copy bundle from another rev\n        POST  .../revisions/new_draft/             create draft + clone_from atomically\n\n    Bundle authoring (proxied to the janitor):\n        GET    .../revisions/<id>/manifest/        list paths + sha256\n        GET    .../revisions/<id>/file/?path=…     read one file\n        PUT    .../revisions/<id>/file/?path=…     write one file (draft)\n        DELETE .../revisions/<id>/file/?path=…     delete one file (draft)\n        GET    .../revisions/<id>/bundle/          bulk pull all files\n        PUT    .../revisions/<id>/bundle/          bulk push (replace|merge)"
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsAgentMdUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsAgentMdUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsAgentMdUpdateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/agent_md/",
          "code": 200
        },
        "smithy.api#documentation": "Revisions of an agent. Created in `draft`, promoted through\n`ready → live` once the bundle has been uploaded + frozen.\n\nURLs (nested under an application):\n\n    Model CRUD:\n        GET   .../revisions/                       list\n        POST  .../revisions/                       create draft\n        GET   .../revisions/<id>/                  retrieve\n        PATCH .../revisions/<id>/                  update spec (draft only)\n\n    Lifecycle:\n        POST  .../revisions/<id>/promote/          ready → live\n        POST  .../revisions/<id>/archive/          → archived\n        POST  .../revisions/<id>/freeze/           draft → ready (stamps sha256)\n        POST  .../revisions/<id>/clone_from/       copy bundle from another rev\n        POST  .../revisions/new_draft/             create draft + clone_from atomically\n\n    Bundle authoring (proxied to the janitor):\n        GET    .../revisions/<id>/manifest/        list paths + sha256\n        GET    .../revisions/<id>/file/?path=…     read one file\n        PUT    .../revisions/<id>/file/?path=…     write one file (draft)\n        DELETE .../revisions/<id>/file/?path=…     delete one file (draft)\n        GET    .../revisions/<id>/bundle/          bulk pull all files\n        PUT    .../revisions/<id>/bundle/          bulk push (replace|merge)"
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsArchiveCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsArchiveCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsArchiveCreateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/archive/",
          "code": 200
        },
        "smithy.api#documentation": "Mark a revision archived. If it was the live one, clear the\napplication's live_revision pointer (the app effectively has no\ndeployable version until another revision is promoted)."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsBundleRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/bundle/",
          "code": 200
        },
        "smithy.api#documentation": "Read the full typed bundle: `{ agent_md, skills, tools, spec }`."
      }
    },
    "com.posthog.agent_platform#WriteToolRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "args_schema": {
          "target": "com.posthog.agent_platform#WriteToolRequestArgsSchemaMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Body shape for PUT /revisions/<id>/tools/<tool_id>/."
      }
    },
    "com.posthog.agent_platform#WriteToolRequestArgsSchemaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleUpdateRequestToolsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#WriteToolRequest"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleUpdateRequestSpecMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        },
        "agent_md": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tools": {
          "target": "com.posthog.agent_platform#AgentApplicationsRevisionsBundleUpdateRequestToolsList"
        },
        "spec": {
          "target": "com.posthog.agent_platform#AgentApplicationsRevisionsBundleUpdateRequestSpecMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsBundleUpdateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/bundle/",
          "code": 200
        },
        "smithy.api#documentation": "Full-replace the typed bundle. Anything not in the payload is\ndeleted. Tool sources are AST-checked + esbuild-compiled by the\njanitor before any S3 writes."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleFileUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Canonical bundle path. Must be `agent.md` or `skills/<id>/SKILL.md` where `<id>` is a skill-reference alias on this revision.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new file contents. For `agent.md`, written verbatim to the draft bundle. For a skill, published as a new version of the referenced store skill — shared with every agent that references it. SKILL.md frontmatter (description, license, allowed-tools, metadata) is honoured when present; body-only content carries those fields forward.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleFileUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsBundleFileUpdateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "errors": [
        {
          "target": "com.posthog.agent_platform#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/bundle/file/",
          "code": 200
        },
        "smithy.api#documentation": "Update one `.md` file on a draft revision.\n\n`agent.md` writes go to the draft bundle. `skills/<id>/SKILL.md`\nwrites are store-backed — skills are materialized from the skill\nstore at freeze, so the edit publishes a new version of the\nreferenced store skill and re-pins the draft's `skill_refs` entry\nto it. `<id>` must be a ref alias on this revision; add new skills\nvia `bundle/import/` or `skill_refs`. Tool source / schema editing\nis out of scope here — use the per-tool endpoints. Returns the\nupdated revision so the caller can refresh in one round-trip."
      }
    },
    "com.posthog.agent_platform#ImportBundleSkill": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Skill id. Lowercase letters, digits, hyphens, or underscores; must start and end with `[a-z0-9]`.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "One-line summary shown in the skill index. Required when creating a new skill; optional when updating one."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The skill's markdown body, published as a new version of the store skill.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One skill entry in a bulk-import payload.\n\nSkills are store-backed: each entry publishes to (or creates) a skill in\nthe skill store and pins a `skill_refs` entry on the draft. The optional\n`description` is honoured when supplied; when omitted on an existing\nskill, the current store description is preserved. Skill `id` must match\nthe canonical resource-id regex used by the janitor."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleImportCreateRequestSkillsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.agent_platform#ImportBundleSkill"
      },
      "traits": {
        "smithy.api#documentation": "Per-skill payloads merged into the skill store by id and pinned onto the draft's skill references. When omitted, no skills are touched."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleImportCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        },
        "agent_md": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New `agent.md` contents. When omitted, the existing agent.md is left alone."
          }
        },
        "skills": {
          "target": "com.posthog.agent_platform#AgentApplicationsRevisionsBundleImportCreateRequestSkillsList",
          "traits": {
            "smithy.api#documentation": "Per-skill payloads merged into the skill store by id and pinned onto the draft's skill references. When omitted, no skills are touched."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsBundleImportCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsBundleImportCreateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "errors": [
        {
          "target": "com.posthog.agent_platform#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/bundle/import/",
          "code": 200
        },
        "smithy.api#documentation": "Bulk-merge a set of `.md` files into a draft revision.\n\nSets `agent_md` on the draft bundle if present. `skills[]` are\nstore-backed and merge by `id`: an id already referenced by the\ndraft publishes a new version of its store skill; an unreferenced\nid attaches the store skill of that name (publishing the payload's\nbody to it), or creates it when no such skill exists — and each\nref is (re-)pinned to the published version. Skills not mentioned\nare left alone, so the import is safe to retry. Draft-only;\nnon-draft revisions return 409 untouched."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCloneFromCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        },
        "source_revision_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCloneFromCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsCloneFromCreateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevision"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/clone_from/",
          "code": 200
        },
        "smithy.api#documentation": "Copy every file from `source_revision_id` into this revision."
      }
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCronFireCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        },
        "cron_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`name` of the cron trigger in `spec.triggers[]` to fire.",
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable client-supplied id so repeated clicks of the same UI 'Fire now' button resolve to the same session id rather than firing twice. The janitor keys dedupe off `cron-manual:<rev>:<name>:<request_id>`. Omit to fire unconditionally — every call generates a fresh UUID.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentRevisionCronFireResponse": {
      "type": "structure",
      "members": {
        "ok": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the session the cron firing created (or returned, on dedupe).",
            "smithy.api#required": {}
          }
        },
        "fired_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO-8601 timestamp the firing was attributed to.",
            "smithy.api#required": {}
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Composed dedupe key — `cron-manual:<rev>:<name>:<request_id>`. Returned so the UI can correlate.",
            "smithy.api#required": {}
          }
        },
        "request_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request id the firing used (echoed back, or freshly minted).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentApplicationsRevisionsCronFireCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentApplicationsRevisionsCronFireCreateRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevisionCronFireResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/cron/fire/",
          "code": 200
        },
        "smithy.api#documentation": "Fire one cron job out-of-band — the same execution path the\nscheduler walks, but on demand. Authoring UX: the user iterates on\na cron prompt by clicking 'Fire now' rather than waiting for the\nnext scheduled firing. Without this, 'did my prompt do the right\nthing?' is unanswerable until the cron actually fires.\n\nIdempotent via `request_id`: repeat clicks with the same id resolve\nto the same session id rather than firing N times."
      }
    },
    "com.posthog.agent_platform#AgentRevisionsEnvKeysListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "application_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this agent revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.agent_platform#AgentRevisionEnvKeysResponse": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.posthog.agent_platform#AgentRevisionEnvKeysResponseKeysList",
          "traits": {
            "smithy.api#documentation": "Names of env variables currently set on the revision. Values are never returned.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.agent_platform#AgentRevisionEnvKeysResponseKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Names of env variables currently set on the revision. Values are never returned."
      }
    },
    "com.posthog.agent_platform#AgentRevisionsEnvKeysList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.agent_platform#AgentRevisionsEnvKeysListRequest"
      },
      "output": {
        "target": "com.posthog.agent_platform#AgentRevisionEnvKeysResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/agent_applications/{application_id}/revisions/{id}/env_keys/",
          "code": 200
        },
        "smithy.api#documentation": "List the names of secrets currently set on this revision.\n\nReturns names only — values stay server-side under\n`EncryptedTextField`. Use this to drive the \"set / unset\" badge next to\na declared secret in the editor UI."
      }
    },
    "com.posthog.agent_platform#AgentRevisionsEnvKeysGetRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
