{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.ai_observability#LlmAnalyticsPersonalSpendListRequestBucketMinutes": {
      "type": "intEnum",
      "members": {
        "_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 5
          }
        },
        "_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 15
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        },
        "_60": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 60
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#LlmAnalyticsPersonalSpendListRequest": {
      "type": "structure",
      "members": {
        "bucket_minutes": {
          "target": "com.posthog.ai_observability#LlmAnalyticsPersonalSpendListRequestBucketMinutes",
          "traits": {
            "smithy.api#httpQuery": "bucket_minutes",
            "smithy.api#documentation": "When set, additionally return a `by_bucket` breakdown: a time-ascending UTC cost series for the scoped product at this bucket size in minutes, with per-bucket cost split into uncached input / output / cache read / cache creation components plus the matching token sums. Supported bucket sizes: 5, 15, 30, 60. The window may span at most 600 buckets of the chosen size (e.g. 50 hours at 5-minute buckets).\n\n* `5` - 5\n* `15` - 15\n* `30` - 30\n* `60` - 60"
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Start of the spend window. Accepts absolute dates (`2026-04-23`) or relative strings (`-7d`, `-1m`, etc.) — same parser used elsewhere in PostHog. Defaults to `-30d`. The window between `date_from` and `date_to` cannot exceed 90 days."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "End of the spend window. Accepts the same formats as `date_from`. Defaults to `now` when omitted."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of rows to return per breakdown (1-200, defaults to 50). Each breakdown returns up to this many rows ordered by cost descending. Per-breakdown `truncated: true` indicates more rows exist beyond the limit."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "product",
            "smithy.api#required": {},
            "smithy.api#documentation": "Required `ai_product` key to scope the tool / model / trace breakdowns to a single product. Only the following products are currently supported: posthog_code."
          }
        },
        "refresh": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "refresh",
            "smithy.api#documentation": "If true, bypass the result cache and re-run the underlying queries against ClickHouse."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#PersonalSpendAnalysisResponse": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.posthog.ai_observability#Summary",
          "traits": {
            "smithy.api#documentation": "High-level totals for the lookback window.",
            "smithy.api#required": {}
          }
        },
        "by_product": {
          "target": "com.posthog.ai_observability#ProductBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by the `ai_product` property — always across all products, never filtered.",
            "smithy.api#required": {}
          }
        },
        "by_tool": {
          "target": "com.posthog.ai_observability#ToolBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by tool. Scoped to `product` when set.",
            "smithy.api#required": {}
          }
        },
        "by_model": {
          "target": "com.posthog.ai_observability#ModelBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by `$ai_model`. Scoped to `product` when set.",
            "smithy.api#required": {}
          }
        },
        "by_day": {
          "target": "com.posthog.ai_observability#DayBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by UTC day, ordered ascending. Scoped to `product`. Not subject to `limit`.",
            "smithy.api#required": {}
          }
        },
        "by_day_model": {
          "target": "com.posthog.ai_observability#PersonalSpendAnalysisResponseByDayModelList",
          "traits": {
            "smithy.api#documentation": "Daily model spend for the scoped product, ordered by day and cost. Includes the six highest-cost models in the selected window plus a null-model row for the remaining models.",
            "smithy.api#required": {}
          }
        },
        "by_bucket": {
          "target": "com.posthog.ai_observability#BucketBreakdown",
          "traits": {
            "smithy.api#documentation": "Spend grouped by UTC time bucket with per-bucket cost/token components, ordered ascending. Scoped to `product`. Only present when the request set `bucket_minutes`."
          }
        },
        "top_traces": {
          "target": "com.posthog.ai_observability#TopTraces",
          "traits": {
            "smithy.api#documentation": "Deprecated — always returns `{items: [], truncated: false}`. Trace IDs are opaque strings that aren't actionable in the UI. Kept in the response shape so existing consumers don't crash; remove your rendering of this field and we'll drop it from the response entirely in a follow-up.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured personal LLM spend analysis for the requesting user."
      }
    },
    "com.posthog.ai_observability#Summary": {
      "type": "structure",
      "members": {
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inclusive UTC start of the spend window resolved from the request.",
            "smithy.api#required": {}
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Exclusive UTC end of the spend window resolved from the request.",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `ai_product` filter applied to tool / model / trace breakdowns — echoes the request `product`.",
            "smithy.api#required": {}
          }
        },
        "total_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total LLM cost in USD across every `ai_product` for the user — independent of the `product` filter.",
            "smithy.api#required": {}
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total $ai_generation + $ai_embedding events captured across every product.",
            "smithy.api#required": {}
          }
        },
        "scoped_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for the product filter. Matches the cost summed across `by_tool` / `by_model` for the scoped slice.",
            "smithy.api#required": {}
          }
        },
        "scoped_event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total $ai_generation + $ai_embedding events for the scoped slice.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ProductBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#ProductBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "Rows of spend by product, ordered by cost descending.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond the requested `limit`. Re-request with a larger `limit` to retrieve them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ProductBreakdownRow": {
      "type": "structure",
      "members": {
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the `ai_product` property on the event (e.g. `posthog_code`, `background_agents`). Null when unset.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events for this product.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for this product over the lookback window.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ProductBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#ProductBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows of spend by product, ordered by cost descending."
      }
    },
    "com.posthog.ai_observability#ToolBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#ToolBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "Rows of spend by tool, ordered by cost descending.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond the requested `limit`. Re-request with a larger `limit` to retrieve them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ToolBreakdownRow": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Individual tool name from `$ai_tools_called` (split on `,` since multi-tool generations store a comma-separated list). Null = pure text response with no tool call.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "generation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation events whose tool list includes this tool.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_total_cost_usd` for generations whose tool list includes this tool. Multi-tool generations contribute their full cost to every tool they invoked, so this sum can exceed `summary.scoped_cost_usd`. Prefer `share_of_scoped` for headline percentages — it's computed per row and doesn't require the totals to reconcile.",
            "smithy.api#required": {}
          }
        },
        "share_of_scoped": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This tool's share of `summary.scoped_cost_usd`, expressed as a float in `[0, 1]`. Independent per row, so co-occurring tools can each show a substantial share — the headline number to present (e.g. `'Bash drove 47% of your spend'`).",
            "smithy.api#required": {}
          }
        },
        "avg_input_tokens": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average `$ai_input_tokens` across these generations — high values signal context bloat per call.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ToolBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#ToolBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows of spend by tool, ordered by cost descending."
      }
    },
    "com.posthog.ai_observability#ModelBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#ModelBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "Rows of spend by model, ordered by cost descending.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond the requested `limit`. Re-request with a larger `limit` to retrieve them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ModelBreakdownRow": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the `$ai_model` property.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "generation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for this model.",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_input_tokens` for this model.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_output_tokens` for this model.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#ModelBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#ModelBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows of spend by model, ordered by cost descending."
      }
    },
    "com.posthog.ai_observability#DayBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#DayBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "One row per UTC day that has events, ordered by day ascending. Days with no events are omitted — zero-fill client-side when rendering a continuous series.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Effectively always false: `by_day` ignores `limit` because truncating a time series by cost would be meaningless, and the 90-day window cap already bounds the series length.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DayBreakdownRow": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC calendar day the events fall on (`toDate(timestamp)`).",
            "smithy.api#required": {}
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events on this day for the scoped product.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD on this day for the scoped product.",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_input_tokens` on this day for the scoped product.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_output_tokens` on this day for the scoped product.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DayBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#DayBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per UTC day that has events, ordered by day ascending. Days with no events are omitted — zero-fill client-side when rendering a continuous series."
      }
    },
    "com.posthog.ai_observability#DayModelBreakdownRow": {
      "type": "structure",
      "members": {
        "day": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC calendar day the events fall on (`toDate(timestamp)`).",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Model name for one of the highest-cost models in the selected window. Null is the aggregate of all remaining models, including events without a model.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for this model on this day.",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_input_tokens` for this model on this day.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_output_tokens` for this model on this day.",
            "smithy.api#required": {}
          }
        },
        "generation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events for this model on this day.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#PersonalSpendAnalysisResponseByDayModelList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#DayModelBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Daily model spend for the scoped product, ordered by day and cost. Includes the six highest-cost models in the selected window plus a null-model row for the remaining models."
      }
    },
    "com.posthog.ai_observability#BucketBreakdown": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#BucketBreakdownItemsList",
          "traits": {
            "smithy.api#documentation": "One row per UTC time bucket that has events, ordered by bucket start ascending. Buckets with no events are omitted; zero-fill client-side when rendering a continuous series.",
            "smithy.api#required": {}
          }
        },
        "bucket_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bucket size in minutes the series was computed at; echoes the request `bucket_minutes`.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Effectively always false: `by_bucket` ignores `limit` because truncating a time series by cost would be meaningless, and the 600-bucket window cap already bounds the series length.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#BucketBreakdownRow": {
      "type": "structure",
      "members": {
        "bucket_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC start of the time bucket the events fall in (`toStartOfInterval(timestamp, ...)`).",
            "smithy.api#required": {}
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation + $ai_embedding events in this bucket for the scoped product.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD in this bucket (sum of `$ai_total_cost_usd`). Authoritative: the component columns below can sum to less than this when the cost breakdown was unavailable for some events; render any remainder as uncategorized rather than assuming the components reconcile.",
            "smithy.api#required": {}
          }
        },
        "input_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cost of uncached (full-price) input tokens in USD, derived per event as `$ai_input_cost_usd` minus the cache read/write costs (the stored input cost includes them), clamped at zero. The four component columns are disjoint: they sum to `cost_usd` when the full breakdown is present, so they can be stacked without double counting cache costs.",
            "smithy.api#required": {}
          }
        },
        "output_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cost of output tokens in USD (sum of `$ai_output_cost_usd`).",
            "smithy.api#required": {}
          }
        },
        "cache_read_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cost of prompt-cache reads in USD (sum of `$ai_cache_read_cost_usd`).",
            "smithy.api#required": {}
          }
        },
        "cache_creation_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cost of prompt-cache writes in USD (sum of `$ai_cache_creation_cost_usd`). A spike here with near-zero cache reads is the signature of a cold session being revived: the full conversation context is re-written to the cache at the cache-write rate instead of being read back cheaply.",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_input_tokens` in this bucket. Whether cached tokens are included follows the provider's reporting (`$ai_cache_reporting_exclusive`): Anthropic-style events exclude them, OpenAI-style events include them, so don't stack this with the cache token sums.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_output_tokens` in this bucket.",
            "smithy.api#required": {}
          }
        },
        "cache_read_input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_cache_read_input_tokens` (prompt tokens served from cache) in this bucket.",
            "smithy.api#required": {}
          }
        },
        "cache_creation_input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Sum of `$ai_cache_creation_input_tokens` (prompt tokens written to cache) in this bucket.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#BucketBreakdownItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#BucketBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per UTC time bucket that has events, ordered by bucket start ascending. Buckets with no events are omitted; zero-fill client-side when rendering a continuous series."
      }
    },
    "com.posthog.ai_observability#TopTraces": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.ai_observability#TopTracesItemsList",
          "traits": {
            "smithy.api#documentation": "Rows of top traces by cost, ordered by cost descending.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond the requested `limit`. Re-request with a larger `limit` to retrieve them.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#TopTraceRow": {
      "type": "structure",
      "members": {
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`$ai_trace_id` of the session — opaque string scoped to the originating product. Format is not stable: most are UUIDs but some SDK wrappers emit JSON-shaped strings like `{\"device_id\":\"...\",\"session_id\":\"...\"}`. Callers should treat this as an opaque identifier (URL-encode before linking to a trace view).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "generation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation events in this trace.",
            "smithy.api#required": {}
          }
        },
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total cost in USD for this trace.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the earliest event in this trace.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#TopTracesItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#TopTraceRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows of top traces by cost, ordered by cost descending."
      }
    },
    "com.posthog.ai_observability#LlmAnalyticsPersonalSpendListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#PersonalSpendAnalysisResponse"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#LlmAnalyticsPersonalSpendListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.ai_observability#LlmAnalyticsPersonalSpendListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.ai_observability#LlmAnalyticsPersonalSpendList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#LlmAnalyticsPersonalSpendListRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#LlmAnalyticsPersonalSpendListResponse"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/llm_analytics/@me/spend/",
          "code": 200
        },
        "smithy.api#documentation": "Return a structured personal LLM spend analysis for the requesting user. Pass `date_from` / `date_to` (absolute like `2026-04-23` or relative like `-7d`) to bound the window — defaults to the last 30 days, max 90 days. The `product=<ai_product>` query param is required and scopes the tool / model / day / trace breakdowns to a single product; supported values: posthog_code. `by_product` is always returned for cross-product visibility. `by_day` returns a day-ascending spend series for the scoped product. Pass `bucket_minutes` (5, 15, 30, or 60; the window may span at most 600 buckets) to additionally get `by_bucket`, a time-ascending series with per-bucket cost split into uncached input / output / cache read / cache creation components. Use `refresh=true` to bypass the 5-minute response cache."
      }
    },
    "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#InstrumentationChecklist": {
      "type": "structure",
      "members": {
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Length in days of the event window the checks were graded over.",
            "smithy.api#required": {}
          }
        },
        "checks": {
          "target": "com.posthog.ai_observability#InstrumentationChecklistChecksList",
          "traits": {
            "smithy.api#documentation": "Every check, graded. Checks are always all returned, including the ones that pass.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#InstrumentationCheck": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.ai_observability#AIObservabilityInstrumentationCheckEnum",
          "traits": {
            "smithy.api#documentation": "Identifier of the check. Stable across statuses, so a surface can key its own copy off it.\n\n* `sessions` - sessions\n* `tool_calls` - tool_calls\n* `user_identity` - user_identity\n* `trace_structure` - trace_structure",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.ai_observability#InstrumentationCheckStatusEnum",
          "traits": {
            "smithy.api#documentation": "How the check graded: 'ok' when the instrumentation is present, 'warning' when it is absent, 'pending' when the project has too little traffic to judge, and 'dismissed' when someone on the team marked the check as not applicable.\n\n* `ok` - ok\n* `warning` - warning\n* `pending` - pending\n* `dismissed` - dismissed",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short label for the check, the same for every status.",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sentence explaining what the counts mean and, for a warning, what to send. A dismissed check keeps the sentence its counts earned.",
            "smithy.api#required": {}
          }
        },
        "docs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Documentation page covering how to send the missing instrumentation.",
            "smithy.api#required": {}
          }
        },
        "stats": {
          "target": "com.posthog.ai_observability#InstrumentationCheckStatsMap",
          "traits": {
            "smithy.api#documentation": "Counts this check was graded from, over the same window. Which counts appear depends on the check.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#AIObservabilityInstrumentationCheckEnum": {
      "type": "enum",
      "members": {
        "SESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sessions"
          }
        },
        "TOOL_CALLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tool_calls"
          }
        },
        "USER_IDENTITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user_identity"
          }
        },
        "TRACE_STRUCTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace_structure"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `sessions` - sessions\n* `tool_calls` - tool_calls\n* `user_identity` - user_identity\n* `trace_structure` - trace_structure"
      }
    },
    "com.posthog.ai_observability#InstrumentationCheckStatusEnum": {
      "type": "enum",
      "members": {
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ok"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DISMISSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dismissed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `ok` - ok\n* `warning` - warning\n* `pending` - pending\n* `dismissed` - dismissed"
      }
    },
    "com.posthog.ai_observability#InstrumentationCheckStatsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Counts this check was graded from, over the same window. Which counts appear depends on the check."
      }
    },
    "com.posthog.ai_observability#InstrumentationChecklistChecksList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#InstrumentationCheck"
      },
      "traits": {
        "smithy.api#documentation": "Every check, graded. Checks are always all returned, including the ones that pass."
      }
    },
    "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#InstrumentationChecklist"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/ai_observability/instrumentation_checklist/",
          "code": 200
        },
        "smithy.api#documentation": "Grade every instrumentation check for this project."
      }
    },
    "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistDismissCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "check": {
          "target": "com.posthog.ai_observability#AIObservabilityInstrumentationCheckEnum",
          "traits": {
            "smithy.api#documentation": "Key of the check to dismiss or restore.\n\n* `sessions` - sessions\n* `tool_calls` - tool_calls\n* `user_identity` - user_identity\n* `trace_structure` - trace_structure",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistDismissCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistDismissCreateRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#InstrumentationChecklist"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/ai_observability/instrumentation_checklist/dismiss/",
          "code": 200
        },
        "smithy.api#documentation": "Mark a check as not applicable to this project."
      }
    },
    "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistRestoreCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "check": {
          "target": "com.posthog.ai_observability#AIObservabilityInstrumentationCheckEnum",
          "traits": {
            "smithy.api#documentation": "Key of the check to dismiss or restore.\n\n* `sessions` - sessions\n* `tool_calls` - tool_calls\n* `user_identity` - user_identity\n* `trace_structure` - trace_structure",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistRestoreCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#AiObservabilityInstrumentationChecklistRestoreCreateRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#InstrumentationChecklist"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/ai_observability/instrumentation_checklist/restore/",
          "code": 200
        },
        "smithy.api#documentation": "Bring a dismissed check back into grading."
      }
    },
    "com.posthog.ai_observability#DatasetItemsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "archived",
            "smithy.api#documentation": "Return archived items instead of active items."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dataset",
            "smithy.api#required": {},
            "smithy.api#documentation": "Dataset whose items should be returned."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "revision",
            "smithy.api#documentation": "Return the exact dataset snapshot at this revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#PaginatedDatasetItemReadList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.ai_observability#PaginatedDatasetItemReadListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetItemRead": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable dataset item ID shared by every version.",
            "smithy.api#required": {}
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset that owns the item.",
            "smithy.api#required": {}
          }
        },
        "client_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional caller-owned stable key that cannot be changed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this immutable item version.",
            "smithy.api#required": {}
          }
        },
        "dataset_revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dataset revision that introduced this item version.",
            "smithy.api#required": {}
          }
        },
        "dataset_revision_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the dataset revision that introduced this item version.",
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "com.posthog.ai_observability#DatasetJSONValue",
          "traits": {
            "smithy.api#documentation": "Input supplied to the system under test.",
            "smithy.api#required": {}
          }
        },
        "expected_output": {
          "target": "com.posthog.ai_observability#DatasetJSONValue",
          "traits": {
            "smithy.api#documentation": "Optional user-authored expected output.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_output": {
          "target": "com.posthog.ai_observability#DatasetJSONValue",
          "traits": {
            "smithy.api#documentation": "Optional actual output captured from the source trace.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.posthog.ai_observability#DatasetItemReadMetadataMap",
          "traits": {
            "smithy.api#documentation": "JSON object with item metadata.",
            "smithy.api#required": {}
          }
        },
        "source_trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_event_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the stable item was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the item last received a new version.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.ai_observability#UserBasic",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "version_created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this immutable version was created.",
            "smithy.api#required": {}
          }
        },
        "version_created_by": {
          "target": "com.posthog.ai_observability#UserBasic",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Project that owns the item.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetJSONValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.ai_observability#DatasetJSONValueCase0Map"
        },
        "Case1": {
          "target": "com.posthog.ai_observability#DatasetJSONValueCase1List"
        },
        "Case2": {
          "target": "smithy.api#String"
        },
        "Case3": {
          "target": "smithy.api#Double"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetJSONValueCase0Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetJSONValueCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetItemReadMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "JSON object with item metadata."
      }
    },
    "com.posthog.ai_observability#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.ai_observability#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.ai_observability#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.ai_observability#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.ai_observability#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.ai_observability#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#PaginatedDatasetItemReadListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#DatasetItemRead"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetItemsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetItemsListRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#PaginatedDatasetItemReadList"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/dataset_items/",
          "code": 200
        },
        "smithy.api#documentation": "List a dataset's current items or its exact contents at a prior revision."
      }
    },
    "com.posthog.ai_observability#DatasetItemsCreateRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Optional JSON object with item metadata."
      }
    },
    "com.posthog.ai_observability#DatasetItemsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dataset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset that will own the item.",
            "smithy.api#required": {}
          }
        },
        "client_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional case-sensitive stable key used for idempotent creates. It cannot be changed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "input": {
          "target": "com.posthog.ai_observability#DatasetJSONValue",
          "traits": {
            "smithy.api#documentation": "Input supplied to the system under test. Any non-null JSON value is accepted.",
            "smithy.api#required": {}
          }
        },
        "expected_output": {
          "target": "com.posthog.ai_observability#DatasetJSONValue",
          "traits": {
            "smithy.api#documentation": "Optional user-authored expected output.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_output": {
          "target": "com.posthog.ai_observability#DatasetJSONValue",
          "traits": {
            "smithy.api#documentation": "Optional actual output captured from the source trace.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.posthog.ai_observability#DatasetItemsCreateRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "Optional JSON object with item metadata."
          }
        },
        "source_trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trace ID copied from the source event.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_event_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event ID copied from the source trace.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp needed to retrieve the event-backed source trace.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetItemsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetItemsCreateRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetItemRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        },
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/dataset_items/",
          "code": 200
        },
        "smithy.api#documentation": "Create an item and its first immutable version. An identical client item ID retry returns the existing item. A different payload or an archived match returns a conflict."
      }
    },
    "com.posthog.ai_observability#DatasetItemsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dataset_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "revision",
            "smithy.api#documentation": "Return the item as it appeared at this exact dataset revision."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetItemsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetItemsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetItemRead"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/dataset_items/{dataset_item_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the current item version or the version visible at an exact dataset revision."
      }
    },
    "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestInputCase0Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestInputCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestInput": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestInputCase0Map"
        },
        "Case1": {
          "target": "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestInputCase1List"
        },
        "Case2": {
          "target": "smithy.api#String"
        },
        "Case3": {
          "target": "smithy.api#Double"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Replacement input. Omit to keep the current value."
      }
    },
    "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestExpectedOutputCase0Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestExpectedOutputCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestExpectedOutput": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestExpectedOutputCase0Map"
        },
        "Case1": {
          "target": "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestExpectedOutputCase1List"
        },
        "Case2": {
          "target": "smithy.api#String"
        },
        "Case3": {
          "target": "smithy.api#Double"
        },
        "Case4": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Replacement expected output. Send null to clear it."
      }
    },
    "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Replacement metadata object. Send an empty object to clear it."
      }
    },
    "com.posthog.ai_observability#DatasetItemsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dataset_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current item version observed by the caller.",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestInput",
          "traits": {
            "smithy.api#documentation": "Replacement input. Omit to keep the current value."
          }
        },
        "expected_output": {
          "target": "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestExpectedOutput",
          "traits": {
            "smithy.api#documentation": "Replacement expected output. Send null to clear it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.posthog.ai_observability#DatasetItemsPartialUpdateRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "Replacement metadata object. Send an empty object to clear it."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetItemsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetItemsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetItemRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/dataset_items/{dataset_item_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create a new immutable item version from editable fields."
      }
    },
    "com.posthog.ai_observability#DatasetItemsArchiveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dataset_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current item version observed by the caller.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetItemsArchive": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetItemsArchiveRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetItemRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/dataset_items/{dataset_item_id}/archive/",
          "code": 200
        },
        "smithy.api#documentation": "Archive an active item by creating a new immutable version."
      }
    },
    "com.posthog.ai_observability#DatasetItemsRestoreRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dataset_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Current item version observed by the caller.",
            "smithy.api#required": {}
          }
        },
        "source_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Historical version to copy. Omit to restore the archived version's content.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetItemsRestore": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetItemsRestoreRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetItemRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/dataset_items/{dataset_item_id}/restore/",
          "code": 200
        },
        "smithy.api#documentation": "Restore an archived item by copying content into a new immutable version."
      }
    },
    "com.posthog.ai_observability#DatasetItemsVersionsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dataset_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetItemsVersionsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetItemsVersionsListRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#PaginatedDatasetItemReadList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/dataset_items/{dataset_item_id}/versions/",
          "code": 200
        },
        "smithy.api#documentation": "List every immutable version of an item, newest first."
      }
    },
    "com.posthog.ai_observability#DatasetsListRequestIdInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetsListRequestOrderBy": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        },
        "UPDATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-updated_at"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "archived",
            "smithy.api#documentation": "Return archived datasets instead of active datasets."
          }
        },
        "id__in": {
          "target": "com.posthog.ai_observability#DatasetsListRequestIdInList",
          "traits": {
            "smithy.api#httpQuery": "id__in",
            "smithy.api#documentation": "Filter to these dataset IDs. Repeat the parameter or pass one comma-separated list, up to 100 IDs."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order_by": {
          "target": "com.posthog.ai_observability#DatasetsListRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Field and direction used to order results.\n\n* `created_at` - created_at\n* `-created_at` - -created_at\n* `updated_at` - updated_at\n* `-updated_at` - -updated_at"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search dataset names, descriptions, and metadata."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#PaginatedDatasetReadList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.ai_observability#PaginatedDatasetReadListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetRead": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.posthog.ai_observability#DatasetReadMetadataMap",
          "traits": {
            "smithy.api#documentation": "JSON object with descriptive dataset metadata.",
            "smithy.api#required": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current_revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest dataset revision, or null before the first item is added.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_revision_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the latest committed dataset revision.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.ai_observability#UserBasic",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Project that owns the dataset.",
            "smithy.api#required": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.ai_observability#DatasetReadMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "JSON object with descriptive dataset metadata."
      }
    },
    "com.posthog.ai_observability#PaginatedDatasetReadListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.ai_observability#DatasetRead"
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetsListRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#PaginatedDatasetReadList"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/datasets/",
          "code": 200
        },
        "smithy.api#documentation": "List active datasets by default, or archived datasets when requested."
      }
    },
    "com.posthog.ai_observability#DatasetsCreateRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Optional JSON object with descriptive dataset metadata."
      }
    },
    "com.posthog.ai_observability#DatasetsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset name. Names are unique within a project.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what the dataset contains."
          }
        },
        "metadata": {
          "target": "com.posthog.ai_observability#DatasetsCreateRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "Optional JSON object with descriptive dataset metadata."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetsCreateRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        },
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/datasets/",
          "code": 200
        },
        "smithy.api#documentation": "Create an empty dataset. Its first revision is created with its first item."
      }
    },
    "com.posthog.ai_observability#DatasetsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/datasets/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve an active or archived dataset."
      }
    },
    "com.posthog.ai_observability#DatasetsPartialUpdateRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Replacement JSON object for descriptive dataset metadata."
      }
    },
    "com.posthog.ai_observability#DatasetsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New dataset name. Names are unique within a project."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New dataset description."
          }
        },
        "metadata": {
          "target": "com.posthog.ai_observability#DatasetsPartialUpdateRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "Replacement JSON object for descriptive dataset metadata."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#BadRequest"
        },
        {
          "target": "com.posthog.ai_observability#Forbidden"
        },
        {
          "target": "com.posthog.ai_observability#NotFound"
        },
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/datasets/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Update descriptive dataset fields without changing its revision."
      }
    },
    "com.posthog.ai_observability#DatasetsArchiveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetsArchive": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetsArchiveRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetRead"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/datasets/{id}/archive/",
          "code": 200
        },
        "smithy.api#documentation": "Archive a dataset. Archived datasets remain readable and reject item mutations."
      }
    },
    "com.posthog.ai_observability#DatasetsExportsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset."
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Dataset revision to export. Defaults to the latest revision when the export is created."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetExportRead": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Export ID used to check status and download the file.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.ai_observability#DatasetExportReadStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current export state: pending, complete, or failed.",
            "smithy.api#required": {}
          }
        },
        "dataset_revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Immutable dataset revision included in the export.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Generated JSONL filename.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the export was requested.",
            "smithy.api#required": {}
          }
        },
        "expires_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the generated file expires.",
            "smithy.api#required": {}
          }
        },
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason the export failed, or null while it is pending or complete.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetExportReadStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetsExportsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetsExportsCreateRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetExportRead"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/datasets/{id}/exports/",
          "code": 200
        },
        "smithy.api#documentation": "Create an asynchronous JSONL export pinned to an immutable dataset revision."
      }
    },
    "com.posthog.ai_observability#DatasetsExportsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset."
          }
        },
        "export_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetsExportsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetsExportsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetExportRead"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/datasets/{id}/exports/{export_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Check the status of a dataset export created by the current user."
      }
    },
    "com.posthog.ai_observability#DatasetsExportsContentRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset."
          }
        },
        "export_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetsExportsContentRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetsExportsContentRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.ai_observability#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/datasets/{id}/exports/{export_id}/content/",
          "code": 200
        },
        "smithy.api#documentation": "Download a completed dataset JSONL export."
      }
    },
    "com.posthog.ai_observability#DatasetsRestoreRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#DatasetsRestore": {
      "type": "operation",
      "input": {
        "target": "com.posthog.ai_observability#DatasetsRestoreRequest"
      },
      "output": {
        "target": "com.posthog.ai_observability#DatasetRead"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/datasets/{id}/restore/",
          "code": 200
        },
        "smithy.api#documentation": "Restore an archived dataset without changing its item states."
      }
    },
    "com.posthog.ai_observability#DatasetsRevisionsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this dataset."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.ai_observability#PaginatedDatasetRevisionReadList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.ai_observability#PaginatedDatasetRevisionReadListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.ai_observability#DatasetRevisionRead": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataset_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset this revision belongs to.",
            "smithy.api#required": {}
          }
        },
        "revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.ai_observability#UserBasic",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Project that owns the revision.",
[...]
