{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.comments#CommentsListRequestCompleted": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.comments#CommentsListRequestKind": {
      "type": "enum",
      "members": {
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "any"
          }
        },
        "COMMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "comment"
          }
        },
        "TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "task"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.comments#ListCommentsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "completed": {
          "target": "com.posthog.comments#CommentsListRequestCompleted",
          "traits": {
            "smithy.api#httpQuery": "completed",
            "smithy.api#documentation": "When kind=task, restrict to open (incomplete) or completed tasks. Ignored when kind is not 'task'. Defaults to 'any' (no filter).\n\n* `any` - any\n* `open` - open\n* `completed` - completed"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "The pagination cursor value."
          }
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "item_id",
            "smithy.api#documentation": "Filter by the ID of the resource being commented on."
          }
        },
        "kind": {
          "target": "com.posthog.comments#CommentsListRequestKind",
          "traits": {
            "smithy.api#httpQuery": "kind",
            "smithy.api#documentation": "Filter by comment kind. 'task' returns only items intentionally created as actionable. 'comment' excludes tasks. Defaults to 'any' (no filter).\n\n* `any` - any\n* `comment` - comment\n* `task` - task"
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scope",
            "smithy.api#documentation": "Filter by resource type (e.g. Dashboard, FeatureFlag, Insight, Replay). Support-ticket scopes (Ticket, conversations_ticket) additionally require ticket API scope access."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Full-text search within comment content."
          }
        },
        "source_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_comment",
            "smithy.api#documentation": "Filter replies to a specific parent comment."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "task_id",
            "smithy.api#documentation": "Owning task for task, task_artifact, and desktop_canvas comment scopes."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#PaginatedCommentListOutput": {
      "type": "structure",
      "members": {
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.comments#PaginatedCommentListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.comments#CommentOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.comments#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "item_context": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the comment target, anchor, thread state, and owning task."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_task": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this comment is an actionable task that can be marked complete. Tasks render with a checkbox in the UI and can be filtered as a separate kind. Cannot be set on replies (source_comment) or emoji reactions. Immutable after creation."
          }
        },
        "completed_by": {
          "target": "com.posthog.comments#UserBasic",
          "traits": {
            "smithy.api#documentation": "The user who marked this task complete. Null for open tasks and non-task comments.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "slack_thread": {
          "target": "com.posthog.comments#CommentSlackThreadRef",
          "traits": {
            "smithy.api#documentation": "The Slack thread this comment's discussion is mirrored to, or null. Set only on a tracked thread-root comment; used to surface an 'Open in Slack' link and hide re-sending.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rich_content": {
          "target": "smithy.api#Document"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO timestamp when the task was marked complete. Only meaningful when is_task is true. Read-only — toggled via the /complete and /reopen actions, not via PATCH.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.comments#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.comments#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.comments#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.comments#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.comments#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.comments#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.comments#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.comments#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.comments#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.comments#CommentSlackThreadRef": {
      "type": "structure",
      "members": {
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel ID this discussion is mirrored to.",
            "smithy.api#required": {}
          }
        },
        "channel_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel name resolved from Slack when the discussion was sent (no leading #). Empty for private channels and when unknown; may lag behind a rename in Slack.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deep link that opens the mirrored Slack thread.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.comments#PaginatedCommentListOutputResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.comments#CommentOutput"
      },
      "traits": {}
    },
    "com.posthog.comments#ListComments": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#ListCommentsRequest"
      },
      "output": {
        "target": "com.posthog.comments#PaginatedCommentListOutput"
      },
      "errors": [
        {
          "target": "com.posthog.comments#BadRequest"
        },
        {
          "target": "com.posthog.comments#Forbidden"
        },
        {
          "target": "com.posthog.comments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/comments/",
          "code": 200
        }
      }
    },
    "com.posthog.comments#CommentsCreateRequestMentionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.comments#CreateCommentRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "item_context": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the comment target, anchor, thread state, and owning task."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.posthog.comments#CommentsCreateRequestMentionsList"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "is_task": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this comment is an actionable task that can be marked complete. Tasks render with a checkbox in the UI and can be filtered as a separate kind. Cannot be set on replies (source_comment) or emoji reactions. Immutable after creation."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rich_content": {
          "target": "smithy.api#Document"
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#CreateComment": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#CreateCommentRequest"
      },
      "output": {
        "target": "com.posthog.comments#CommentOutput"
      },
      "errors": [
        {
          "target": "com.posthog.comments#BadRequest"
        },
        {
          "target": "com.posthog.comments#Forbidden"
        },
        {
          "target": "com.posthog.comments#NotFound"
        },
        {
          "target": "com.posthog.comments#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/comments/",
          "code": 200
        },
        "smithy.api#documentation": "Create a comment.\n\nSupport messages are deduplicated: an identical message from the same author on the same\nticket within a short window returns the original comment with a 200 instead of creating a\nsecond one, and a 409 while a concurrent request is still creating it."
      }
    },
    "com.posthog.comments#CommentsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this comment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#CommentsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#CommentsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.comments#CommentOutput"
      },
      "errors": [
        {
          "target": "com.posthog.comments#Forbidden"
        },
        {
          "target": "com.posthog.comments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/comments/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.comments#CommentsUpdateRequestMentionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.comments#UpdateCommentRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this comment."
          }
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "item_context": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the comment target, anchor, thread state, and owning task."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.posthog.comments#CommentsUpdateRequestMentionsList"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "is_task": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this comment is an actionable task that can be marked complete. Tasks render with a checkbox in the UI and can be filtered as a separate kind. Cannot be set on replies (source_comment) or emoji reactions. Immutable after creation."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rich_content": {
          "target": "smithy.api#Document"
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#UpdateComment": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#UpdateCommentRequest"
      },
      "output": {
        "target": "com.posthog.comments#CommentOutput"
      },
      "errors": [
        {
          "target": "com.posthog.comments#BadRequest"
        },
        {
          "target": "com.posthog.comments#Forbidden"
        },
        {
          "target": "com.posthog.comments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/comments/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.comments#CommentsPartialUpdateRequestMentionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.comments#UpdateCommentPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this comment."
          }
        },
        "scope": {
          "target": "smithy.api#String"
        },
        "item_context": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Metadata for the comment target, anchor, thread state, and owning task."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mentions": {
          "target": "com.posthog.comments#CommentsPartialUpdateRequestMentionsList"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "is_task": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this comment is an actionable task that can be marked complete. Tasks render with a checkbox in the UI and can be filtered as a separate kind. Cannot be set on replies (source_comment) or emoji reactions. Immutable after creation."
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "rich_content": {
          "target": "smithy.api#Document"
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_comment": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#UpdateCommentPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#UpdateCommentPartialRequest"
      },
      "output": {
        "target": "com.posthog.comments#CommentOutput"
      },
      "errors": [
        {
          "target": "com.posthog.comments#BadRequest"
        },
        {
          "target": "com.posthog.comments#Forbidden"
        },
        {
          "target": "com.posthog.comments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/comments/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.comments#CommentsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this comment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#CommentsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#CommentsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.comments#Forbidden"
        },
        {
          "target": "com.posthog.comments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/comments/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Hard delete of this model is not allowed. Use a patch API call to set \"deleted\" to true"
      }
    },
    "com.posthog.comments#CreateCommentCompleteRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this comment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#CreateCommentComplete": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#CreateCommentCompleteRequest"
      },
      "output": {
        "target": "com.posthog.comments#CommentOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/comments/{id}/complete/",
          "code": 200
        },
        "smithy.api#documentation": "Mark a task-comment as complete. Sets completed_at and completed_by. 400 if the comment is not a task or is already complete."
      }
    },
    "com.posthog.comments#CreateCommentReopenRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this comment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#CreateCommentReopen": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#CreateCommentReopenRequest"
      },
      "output": {
        "target": "com.posthog.comments#CommentOutput"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/comments/{id}/reopen/",
          "code": 200
        },
        "smithy.api#documentation": "Reopen a completed task-comment. Clears completed_at and completed_by. 400 if the comment is not a task or is already open."
      }
    },
    "com.posthog.comments#CreateCommentSendToSlackRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this comment."
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Slack integration (kind='slack') whose bot posts the thread.",
            "smithy.api#required": {}
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel ID to create the mirrored thread in. The bot must be a member of the channel. The channel's display name is resolved server-side.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#CommentSlackThread": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource type of the mirrored discussion (e.g. Insight).",
            "smithy.api#required": {}
          }
        },
        "item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the resource the discussion is attached to.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The thread-root comment whose replies mirror to the Slack thread.",
            "smithy.api#required": {}
          }
        },
        "integration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Slack integration used to post to and read from the thread.",
            "smithy.api#required": {}
          }
        },
        "slack_channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel the mirrored thread lives in.",
            "smithy.api#required": {}
          }
        },
        "slack_channel_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel name resolved from Slack at send time (no leading #). Empty for private channels and when unknown.",
            "smithy.api#required": {}
          }
        },
        "slack_thread_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack thread timestamp anchoring the mirrored thread.",
            "smithy.api#required": {}
          }
        },
        "slack_team_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack workspace ID, used to route inbound replies back.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.comments#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who mirrored the discussion. Null if since deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.comments#CreateCommentSendToSlack": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#CreateCommentSendToSlackRequest"
      },
      "output": {
        "target": "com.posthog.comments#CommentSlackThread"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/comments/{id}/send_to_slack/",
          "code": 200
        },
        "smithy.api#documentation": "Mirror this discussion thread to a Slack channel. Posts the comment (and its existing replies) as a new Slack thread; later replies on either side sync across. A discussion mirrors to exactly one Slack thread: re-calling with the same channel returns the existing mirror; a different channel is a 400 naming the existing one. 409 while a concurrent send is in flight. 404 when the feature is not enabled for the team."
      }
    },
    "com.posthog.comments#CommentsThreadRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this comment."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#CommentsThreadRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#CommentsThreadRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.comments#Forbidden"
        },
        {
          "target": "com.posthog.comments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/comments/{id}/thread/",
          "code": 200
        }
      }
    },
    "com.posthog.comments#CommentsCountRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.comments#CommentsCountRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.comments#CommentsCountRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.comments#Forbidden"
        },
        {
          "target": "com.posthog.comments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/comments/count/",
          "code": 200
        }
      }
    },
    "com.posthog.comments#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.comments#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.comments#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.comments#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.posthog.comments#Comments": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.comments#ListComments"
        },
        {
          "target": "com.posthog.comments#CreateComment"
        },
        {
          "target": "com.posthog.comments#CommentsRetrieve"
        },
        {
          "target": "com.posthog.comments#UpdateComment"
        },
        {
          "target": "com.posthog.comments#UpdateCommentPartial"
        },
        {
          "target": "com.posthog.comments#CommentsDestroy"
        },
        {
          "target": "com.posthog.comments#CreateCommentComplete"
        },
        {
          "target": "com.posthog.comments#CreateCommentReopen"
        },
        {
          "target": "com.posthog.comments#CreateCommentSendToSlack"
        },
        {
          "target": "com.posthog.comments#CommentsThreadRetrieve"
        },
        {
          "target": "com.posthog.comments#CommentsCountRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
