{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.context_layer#ContextLayerChannelPagesRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#ChannelWikiPage": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repo-relative path of the wiki page whose frontmatter names the channel.",
            "smithy.api#required": {}
          }
        },
        "exists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a page exists at this path. False when the path is a proposal for a channel whose page has not been created yet."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a channel's page identity in the wiki."
      }
    },
    "com.posthog.context_layer#ContextLayerChannelPagesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerChannelPagesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ChannelWikiPage"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/channel-pages/{channel_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Resolve a channel's wiki page\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#CreateContextLayerCommitRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "bundle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A `git bundle` carrying the ref to land, created in the agent's clone (for example `git bundle create out.bundle origin/main..main`).",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional run summary stored in the landed commit body."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Land a dated dreaming branch (`dream/<YYYY-MM-DD>`) as one merge commit instead of rebasing onto `main`. Omit for ordinary commits on `main`.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#ContextLayerStatus": {
      "type": "structure",
      "members": {
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha of the wiki's current head.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for the wiki's current state."
      }
    },
    "com.posthog.context_layer#CreateContextLayerCommit": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#CreateContextLayerCommitRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ContextLayerStatus"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#BadRequest"
        },
        {
          "target": "com.posthog.context_layer#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/context_layer/commits/",
          "code": 200,
          "contentType": "form-urlencoded"
        },
        "smithy.api#documentation": "Land agent commits from a git bundle\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog.",
        "com.distilled.openapi#contentType": "form-urlencoded"
      }
    },
    "com.posthog.context_layer#ContextLayerEnableCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#ContextLayerEnableCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerEnableCreateRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ContextLayerStatus"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/context_layer/enable/",
          "code": 200
        },
        "smithy.api#documentation": "Enable the context layer\n\nCreate the organization's wiki with the default structure and import existing channel CONTEXT.md documents once. Idempotent."
      }
    },
    "com.posthog.context_layer#ContextLayerExportRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#WikiExport": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short-lived download URL for the wiki's current bundle.",
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha of the bundle behind the URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a wiki bundle export."
      }
    },
    "com.posthog.context_layer#ContextLayerExportRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerExportRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#WikiExport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/export/",
          "code": 200
        },
        "smithy.api#documentation": "Export the wiki\n\nA short-lived download URL for the wiki's current bundle: the whole repo and its history, one file, standard git."
      }
    },
    "com.posthog.context_layer#ContextLayerPagesRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "path",
            "smithy.api#required": {},
            "smithy.api#documentation": "Repo-relative Markdown path of the page to read."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#WikiPage": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repo-relative path of the page, for example `areas/analytics.md`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The page's Markdown content.",
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha the content was read at; pass back as `base_head` on writes.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this page was last changed in the wiki history.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for one wiki page."
      }
    },
    "com.posthog.context_layer#ContextLayerPagesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerPagesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#WikiPage"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/pages/",
          "code": 200
        },
        "smithy.api#documentation": "Read a wiki page\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#UpdateContextLayerPageRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repo-relative Markdown path inside the wiki's structure, for example `projects/12/spaces/general.md`.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The complete Markdown content for the page.",
            "smithy.api#required": {}
          }
        },
        "base_head": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optimistic-concurrency guard: the head sha the edit is based on. A moved head is rejected with 409 and the current head; omit to write unguarded.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#UpdateContextLayerPage": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#UpdateContextLayerPageRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ContextLayerStatus"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#BadRequest"
        },
        {
          "target": "com.posthog.context_layer#Forbidden"
        },
        {
          "target": "com.posthog.context_layer#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/organizations/{organization_id}/context_layer/pages/",
          "code": 200
        },
        "smithy.api#documentation": "Create or replace a wiki page\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#ContextLayerStatusRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#ContextLayerStatusRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerStatusRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#ContextLayerStatus"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/status/",
          "code": 200
        },
        "smithy.api#documentation": "Get the wiki head\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#ContextLayerTreeRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#WikiTree": {
      "type": "structure",
      "members": {
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha of the wiki's current head.",
            "smithy.api#required": {}
          }
        },
        "paths": {
          "target": "com.posthog.context_layer#WikiTreePathsList",
          "traits": {
            "smithy.api#documentation": "Repo-relative path of every Markdown page at the current head.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for the wiki's page listing."
      }
    },
    "com.posthog.context_layer#WikiTreePathsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Repo-relative path of every Markdown page at the current head."
      }
    },
    "com.posthog.context_layer#ContextLayerTreeRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerTreeRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#WikiTree"
      },
      "errors": [
        {
          "target": "com.posthog.context_layer#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/tree/",
          "code": 200
        },
        "smithy.api#documentation": "List wiki pages\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#ContextLayerWikiReportRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.context_layer#WikiHealthReport": {
      "type": "structure",
      "members": {
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit sha inspected by the report.",
            "smithy.api#required": {}
          }
        },
        "findings": {
          "target": "com.posthog.context_layer#WikiHealthReportFindingsList",
          "traits": {
            "smithy.api#documentation": "Health findings for the current wiki head.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.context_layer#WikiHealthFinding": {
      "type": "structure",
      "members": {
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable category used to group this finding.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Wiki page path associated with this finding.",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the finding.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.context_layer#WikiHealthReportFindingsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.context_layer#WikiHealthFinding"
      },
      "traits": {
        "smithy.api#documentation": "Health findings for the current wiki head."
      }
    },
    "com.posthog.context_layer#ContextLayerWikiReportRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.context_layer#ContextLayerWikiReportRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.context_layer#WikiHealthReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/context_layer/wiki/report/",
          "code": 200
        },
        "smithy.api#documentation": "Report wiki health findings\n\nThe organization's context wiki: a git repo of Markdown pages hosted by PostHog."
      }
    },
    "com.posthog.context_layer#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.context_layer#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.context_layer#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.posthog.context_layer#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.context_layer#ContextLayer": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.context_layer#ContextLayerChannelPagesRetrieve"
        },
        {
          "target": "com.posthog.context_layer#CreateContextLayerCommit"
        },
        {
          "target": "com.posthog.context_layer#ContextLayerEnableCreate"
        },
        {
          "target": "com.posthog.context_layer#ContextLayerExportRetrieve"
        },
        {
          "target": "com.posthog.context_layer#ContextLayerPagesRetrieve"
        },
        {
          "target": "com.posthog.context_layer#UpdateContextLayerPage"
        },
        {
          "target": "com.posthog.context_layer#ContextLayerStatusRetrieve"
        },
        {
          "target": "com.posthog.context_layer#ContextLayerTreeRetrieve"
        },
        {
          "target": "com.posthog.context_layer#ContextLayerWikiReportRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
