{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.customer_analytics#CustomerAnalyticsExternalAccountsRetrieveRequest": {
      "type": "structure",
      "members": {
        "assigned_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "assigned_only",
            "smithy.api#documentation": "When true, return only accounts with at least one active relationship assignment to a current member of the project's organization."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Account UUID from `next_cursor` to continue listing from. Omit for the first page."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of accounts to return. Values below 1 are clamped to 1; values above 100 are clamped to 100."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#ExternalAccountListPage": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.customer_analytics#ExternalAccountListPageResultsList",
          "traits": {
            "smithy.api#documentation": "Accounts in this page, ordered by account id.",
            "smithy.api#required": {}
          }
        },
        "next_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account UUID to pass as `cursor` for the next page, or null when the list is exhausted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#ExternalAccountListItem": {
      "type": "structure",
      "members": {
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "External account key used by downstream systems.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable account name.",
            "smithy.api#required": {}
          }
        },
        "relationships": {
          "target": "com.posthog.customer_analytics#ExternalAccountListItemRelationshipsMap",
          "traits": {
            "smithy.api#documentation": "Active relationship assignments to current organization members, keyed by relationship definition name (e.g. 'CSM', 'Account executive'). Definitions with no active assignment are omitted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#ExternalAccountListAssignment": {
      "type": "structure",
      "members": {
        "user_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "PostHog user id of the assigned user.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current email address of the assigned user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current display name of the assigned user, or null when the user has no name set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#ExternalAccountListItemRelationshipsValueList": {
      "type": "list",
      "member": {
        "target": "com.posthog.customer_analytics#ExternalAccountListAssignment"
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#ExternalAccountListItemRelationshipsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.posthog.customer_analytics#ExternalAccountListItemRelationshipsValueList"
      },
      "traits": {
        "smithy.api#documentation": "Active relationship assignments to current organization members, keyed by relationship definition name (e.g. 'CSM', 'Account executive'). Definitions with no active assignment are omitted."
      }
    },
    "com.posthog.customer_analytics#ExternalAccountListPageResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.customer_analytics#ExternalAccountListItem"
      },
      "traits": {
        "smithy.api#documentation": "Accounts in this page, ordered by account id."
      }
    },
    "com.posthog.customer_analytics#CustomerAnalyticsExternalAccountsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#CustomerAnalyticsExternalAccountsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#ExternalAccountListPage"
      },
      "errors": [
        {
          "target": "com.posthog.customer_analytics#BadRequest"
        },
        {
          "target": "com.posthog.customer_analytics#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/customer_analytics/external/accounts",
          "code": 200
        },
        "smithy.api#documentation": "List external customer analytics accounts\n\nList accounts with external IDs and their active relationship assignments. Requires a project secret API key with the `account:read` scope."
      }
    },
    "com.posthog.customer_analytics#AccountNotesListRequestAssignedToList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#AccountNotesListRequestCreatedByList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#AccountNotesListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Only return notes linked to this account."
          }
        },
        "assigned_to": {
          "target": "com.posthog.customer_analytics#AccountNotesListRequestAssignedToList",
          "traits": {
            "smithy.api#httpQuery": "assigned_to",
            "smithy.api#documentation": "Only return notes on accounts assigned to these user IDs (the account's CSM or account executive; repeat the param per user)."
          }
        },
        "created_by": {
          "target": "com.posthog.customer_analytics#AccountNotesListRequestCreatedByList",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "Only return notes created by these user IDs (repeat the param per user)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Full-text search across note title and content, plus substring match on account name."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#PaginatedAccountNoteList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.customer_analytics#PaginatedAccountNoteListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#AccountNote": {
      "type": "structure",
      "members": {
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-safe short ID of the notebook.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the note.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the note was created.",
            "smithy.api#required": {}
          }
        },
        "last_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the note was last modified.",
            "smithy.api#required": {}
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the account this note is linked to.",
            "smithy.api#required": {}
          }
        },
        "account_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the account this note is linked to.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.customer_analytics#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the note, if known.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A team-wide account note — an internal notebook linked to a Customer analytics account."
      }
    },
    "com.posthog.customer_analytics#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.customer_analytics#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.customer_analytics#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.customer_analytics#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.customer_analytics#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.customer_analytics#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#PaginatedAccountNoteListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.customer_analytics#AccountNote"
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#AccountNotesList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountNotesListRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#PaginatedAccountNoteList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/account_notes/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#AccountsCustomPropertyValuesListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the parent account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#CustomPropertyValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique id of this value record.",
            "smithy.api#required": {}
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account the value belongs to.",
            "smithy.api#required": {}
          }
        },
        "definition_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom property definition the value is for.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.posthog.customer_analytics#CustomPropertyValueValue",
          "traits": {
            "smithy.api#documentation": "The stored value, typed per the property's data type.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this value was set.",
            "smithy.api#required": {}
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Id of the user who set this value, if known.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An account's current value for a custom property (read shape)."
      }
    },
    "com.posthog.customer_analytics#CustomPropertyValueValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "The stored value, typed per the property's data type."
      }
    },
    "com.posthog.customer_analytics#AccountsCustomPropertyValuesListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.customer_analytics#CustomPropertyValue"
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#AccountsCustomPropertyValuesListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.customer_analytics#AccountsCustomPropertyValuesListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.customer_analytics#AccountsCustomPropertyValuesList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountsCustomPropertyValuesListRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#AccountsCustomPropertyValuesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/accounts/{account_id}/custom_property_values/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#AccountsCustomPropertyValuesCreateRequestValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Value to store, matching the definition's type: a number for number/currency/percent, a boolean for boolean, an ISO-8601 string for date/datetime, or text for text properties."
      }
    },
    "com.posthog.customer_analytics#AccountsCustomPropertyValuesCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the parent account."
          }
        },
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the custom property definition whose value to set for this account.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.posthog.customer_analytics#AccountsCustomPropertyValuesCreateRequestValue",
          "traits": {
            "smithy.api#documentation": "Value to store, matching the definition's type: a number for number/currency/percent, a boolean for boolean, an ISO-8601 string for date/datetime, or text for text properties.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#AccountsCustomPropertyValuesCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountsCustomPropertyValuesCreateRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#CustomPropertyValue"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/accounts/{account_id}/custom_property_values/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#AccountsNotebooksListRequestOrdering": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "CREATED_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_by"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "CREATED_BY_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_by"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#AccountsNotebooksListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the parent account."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "ordering": {
          "target": "com.posthog.customer_analytics#AccountsNotebooksListRequestOrdering",
          "traits": {
            "smithy.api#httpQuery": "ordering",
            "smithy.api#documentation": "Sort by creation date or author. Defaults to '-created_at'."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Full-text search across notebook title and content."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#PaginatedAccountNotebookList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.customer_analytics#PaginatedAccountNotebookListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#AccountNotebook": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable title of the account notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.customer_analytics#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_modified_by": {
          "target": "com.posthog.customer_analytics#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#PaginatedAccountNotebookListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.customer_analytics#AccountNotebook"
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#AccountsNotebooksList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountsNotebooksListRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#PaginatedAccountNotebookList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/accounts/{account_id}/notebooks/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#AccountsNotebooksCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the parent account."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable title of the account notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#AccountsNotebooksCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountsNotebooksCreateRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#AccountNotebook"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/accounts/{account_id}/notebooks/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#AccountsNotebooksRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the parent account."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#AccountsNotebooksRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountsNotebooksRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#AccountNotebook"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/accounts/{account_id}/notebooks/{short_id}/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#AccountsNotebooksDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the parent account."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#AccountsNotebooksDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountsNotebooksDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/accounts/{account_id}/notebooks/{short_id}/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#AccountsRelationshipsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the parent account."
          }
        },
        "include_history": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_history",
            "smithy.api#documentation": "Include ended assignments (the full timeline), not just active ones."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#AccountRelationship": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique id of this assignment row.",
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "com.posthog.customer_analytics#AccountRelationshipDefinition",
          "traits": {
            "smithy.api#documentation": "The relationship type this assignment belongs to.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.posthog.customer_analytics#AccountAssignment",
          "traits": {
            "smithy.api#documentation": "The assigned user; null when their account was deleted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this assignment became effective.",
            "smithy.api#required": {}
          }
        },
        "ended_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this assignment ended; null while it is active.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One assignment of a user to an account relationship, with its effective range."
      }
    },
    "com.posthog.customer_analytics#AccountRelationshipDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relationship definition UUID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the relationship. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What this relationship means, e.g. 'The customer success manager responsible for this account'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_single_holder": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether only one user can hold this relationship per account at a time, e.g. a single CSM per account."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A team-defined account relationship type (CSM, Onboarding manager, ...)."
      }
    },
    "com.posthog.customer_analytics#AccountAssignment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "PostHog user id of the assignee.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the assignee.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user assigned to an account relationship (read shape)."
      }
    },
    "com.posthog.customer_analytics#AccountsRelationshipsListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.customer_analytics#AccountRelationship"
      },
      "traits": {}
    },
    "com.posthog.customer_analytics#AccountsRelationshipsListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.customer_analytics#AccountsRelationshipsListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.customer_analytics#AccountsRelationshipsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountsRelationshipsListRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#AccountsRelationshipsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/accounts/{account_id}/relationships/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#AccountsRelationshipsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the parent account."
          }
        },
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the relationship definition to assign.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "PostHog user id of the assignee. Must be a member of the account's organization.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#AccountsRelationshipsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountsRelationshipsCreateRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#AccountRelationship"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/accounts/{account_id}/relationships/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#AccountsRelationshipsEndCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "UUID of the parent account."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.customer_analytics#AccountsRelationshipsEndCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.customer_analytics#AccountsRelationshipsEndCreateRequest"
      },
      "output": {
        "target": "com.posthog.customer_analytics#AccountRelationship"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/accounts/{account_id}/relationships/{id}/end/",
          "code": 200
        }
      }
    },
    "com.posthog.customer_analytics#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.customer_analytics#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.customer_analytics#CustomerAnalytics": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.customer_analytics#CustomerAnalyticsExternalAccountsRetrieve"
        },
        {
          "target": "com.posthog.customer_analytics#AccountNotesList"
        },
        {
          "target": "com.posthog.customer_analytics#AccountsCustomPropertyValuesList"
        },
        {
          "target": "com.posthog.customer_analytics#AccountsCustomPropertyValuesCreate"
        },
        {
          "target": "com.posthog.customer_analytics#AccountsNotebooksList"
        },
        {
          "target": "com.posthog.customer_analytics#AccountsNotebooksCreate"
        },
        {
          "target": "com.posthog.customer_analytics#AccountsNotebooksRetrieve"
        },
        {
          "target": "com.posthog.customer_analytics#AccountsNotebooksDestroy"
        },
        {
          "target": "com.posthog.customer_analytics#AccountsRelationshipsList"
        },
        {
          "target": "com.posthog.customer_analytics#AccountsRelationshipsCreate"
        },
        {
          "target": "com.posthog.customer_analytics#AccountsRelationshipsEndCreate"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
