{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_definitions#PaginatedCustomPropertyDefinitionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.custom_property_definitions#PaginatedCustomPropertyDefinitionListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the custom property. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what the property represents.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_type": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDisplayTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the property is interpreted and rendered: 'text', 'number', 'currency', 'percent', 'date', 'datetime', 'boolean', or 'select'.\n\n* `text` - text\n* `number` - number\n* `currency` - currency\n* `percent` - percent\n* `date` - date\n* `datetime` - datetime\n* `boolean` - boolean\n* `select` - select",
            "smithy.api#required": {}
          }
        },
        "target_type": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionTargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "What entity this property is attached to: 'account' (default), 'person', or 'group'. Person and group properties are populated from a warehouse schema and become usable like any other person/group property (feature flags, cohorts, insights).\n\n* `account` - account\n* `person` - person\n* `group` - group"
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For 'group' targets only: which group type (0-4) the property attaches to. Required when target_type is 'group'; must be omitted otherwise. Create-only.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_big_number": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Abbreviate large numbers (e.g. 10,000 → 10K). Only applies to numeric properties."
          }
        },
        "options": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionOptionsList",
          "traits": {
            "smithy.api#documentation": "For select properties: the allowed options. Required (non-empty) when display_type is 'select'; cleared server-side for other types.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source": {
          "target": "com.posthog.custom_property_definitions#CustomPropertySource",
          "traits": {
            "smithy.api#documentation": "The data-warehouse view-sync binding feeding this property, or null when values are set manually.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "references": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionReferencesList",
          "traits": {
            "smithy.api#documentation": "Workflows that use this property, resolved by definition id.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A team-scoped definition of a custom account property — the attribute side of the model.\n\nHolds only the property's shape (name, display type, big-number flag). Per-account values are\nstored separately, so this serializer never reads or writes account values."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDisplayTypeEnum": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "number"
          }
        },
        "CURRENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currency"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percent"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "date"
          }
        },
        "DATETIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "datetime"
          }
        },
        "BOOLEAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boolean"
          }
        },
        "SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "select"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `text` - text\n* `number` - number\n* `currency` - currency\n* `percent` - percent\n* `date` - date\n* `datetime` - datetime\n* `boolean` - boolean\n* `select` - select"
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionTargetTypeEnum": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `account` - account\n* `person` - person\n* `group` - group"
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyOption": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Server-assigned stable id of the option. Omit for new options; send it back unchanged when editing so renames and removals can be told apart.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display label of the option. Stored as the account's value when picked.",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyOptionColorEnum",
          "traits": {
            "smithy.api#documentation": "Preset color token used to render the option ('preset-1' through 'preset-10').\n\n* `preset-1` - preset-1\n* `preset-2` - preset-2\n* `preset-3` - preset-3\n* `preset-4` - preset-4\n* `preset-5` - preset-5\n* `preset-6` - preset-6\n* `preset-7` - preset-7\n* `preset-8` - preset-8\n* `preset-9` - preset-9\n* `preset-10` - preset-10",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An allowed value of a select custom property."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyOptionColorEnum": {
      "type": "enum",
      "members": {
        "PRESET_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-1"
          }
        },
        "PRESET_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-2"
          }
        },
        "PRESET_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-3"
          }
        },
        "PRESET_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-4"
          }
        },
        "PRESET_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-5"
          }
        },
        "PRESET_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-6"
          }
        },
        "PRESET_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-7"
          }
        },
        "PRESET_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-8"
          }
        },
        "PRESET_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-9"
          }
        },
        "PRESET_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preset-10"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `preset-1` - preset-1\n* `preset-2` - preset-2\n* `preset-3` - preset-3\n* `preset-4` - preset-4\n* `preset-5` - preset-5\n* `preset-6` - preset-6\n* `preset-7` - preset-7\n* `preset-8` - preset-8\n* `preset-9` - preset-9\n* `preset-10` - preset-10"
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionOptionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyOption"
      },
      "traits": {
        "smithy.api#documentation": "For select properties: the allowed options. Required (non-empty) when display_type is 'select'; cleared server-side for other types."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertySource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the custom property definition this source feeds. One source per definition.",
            "smithy.api#required": {}
          }
        },
        "saved_query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account sources only: UUID of the data-warehouse saved query (materialized view) to read values from. Mutually exclusive with external_data_schema.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_data_schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: UUID of the warehouse schema (raw incremental table) to read from. Mutually exclusive with saved_query.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account sources only: column in the view whose value is written to the property.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "column_property_map": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: {warehouse_column: property_name} mapping the columns this source writes onto the person or group."
          }
        },
        "key_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column whose value identifies the target: an account's external_id for account sources, the person's distinct_id for person sources, or the group key for group sources.",
            "smithy.api#required": {}
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the source syncs. Auto-disabled after repeated failures or a missing view; re-enabling resets the failure count."
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Consecutive failed sync runs; the source auto-disables at the cap.",
            "smithy.api#required": {}
          }
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the most recent sync run finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_sync_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error summary from the last run, or null if it succeeded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_frequency_interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: how often the underlying warehouse schema syncs, in seconds. Null for account sources or when unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_sync_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: approximate time of the next scheduled sync (last synced + interval). Approximate — drifts if the schedule was paused. Null for account sources or if never synced.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_run": {
          "target": "com.posthog.custom_property_definitions#CustomPropertySyncRun",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: the most recent sync/backfill run, or null if none yet.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Binds a data-warehouse source to a custom property definition. Account sources read a\nmaterialized view column and sync onto matching accounts; person and group sources read a\nwarehouse schema and sync onto matching persons or groups on each warehouse sync."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertySyncRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What started the run: 'scheduled' (rode a warehouse sync), 'manual', or 'backfill'.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run status: 'running', 'completed', or 'failed'.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run began.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run ended, or null while running.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rows_read": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Warehouse rows scanned this run.",
            "smithy.api#required": {}
          }
        },
        "changed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows whose mapped values changed since the last run.",
            "smithy.api#required": {}
          }
        },
        "existing": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Person or group profiles updated (changed rows that matched an existing person/group).",
            "smithy.api#required": {}
          }
        },
        "produced": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Property-update intents produced to the ingestion pipeline.",
            "smithy.api#required": {}
          }
        },
        "skipped_missing_person": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Changed rows dropped because no existing person/group matched the key column value.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error summary if the run failed, else null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run row was recorded.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One person- or group-property sync or backfill run. Read-only: runs are created by the\nsync/backfill pipeline, never through the API."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyReference": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the referring entity (e.g. the workflow id).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the referring entity.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the referring entity (e.g. workflow status).",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kind of reference. Currently always 'workflow'.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A place that uses a custom property definition (read-only)."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionReferencesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyReference"
      },
      "traits": {
        "smithy.api#documentation": "Workflows that use this property, resolved by definition id."
      }
    },
    "com.posthog.custom_property_definitions#PaginatedCustomPropertyDefinitionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinition"
      },
      "traits": {}
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsListRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_definitions#PaginatedCustomPropertyDefinitionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/custom_property_definitions/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsCreateRequestOptionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyOption"
      },
      "traits": {
        "smithy.api#documentation": "For select properties: the allowed options. Required (non-empty) when display_type is 'select'; cleared server-side for other types."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the custom property. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what the property represents.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_type": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDisplayTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the property is interpreted and rendered: 'text', 'number', 'currency', 'percent', 'date', 'datetime', 'boolean', or 'select'.\n\n* `text` - text\n* `number` - number\n* `currency` - currency\n* `percent` - percent\n* `date` - date\n* `datetime` - datetime\n* `boolean` - boolean\n* `select` - select",
            "smithy.api#required": {}
          }
        },
        "target_type": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionTargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "What entity this property is attached to: 'account' (default), 'person', or 'group'. Person and group properties are populated from a warehouse schema and become usable like any other person/group property (feature flags, cohorts, insights).\n\n* `account` - account\n* `person` - person\n* `group` - group"
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For 'group' targets only: which group type (0-4) the property attaches to. Required when target_type is 'group'; must be omitted otherwise. Create-only.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_big_number": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Abbreviate large numbers (e.g. 10,000 → 10K). Only applies to numeric properties."
          }
        },
        "options": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsCreateRequestOptionsList",
          "traits": {
            "smithy.api#documentation": "For select properties: the allowed options. Required (non-empty) when display_type is 'select'; cleared server-side for other types.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsCreateRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/custom_property_definitions/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/custom_property_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsUpdateRequestOptionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyOption"
      },
      "traits": {
        "smithy.api#documentation": "For select properties: the allowed options. Required (non-empty) when display_type is 'select'; cleared server-side for other types."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the custom property. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what the property represents.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_type": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDisplayTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the property is interpreted and rendered: 'text', 'number', 'currency', 'percent', 'date', 'datetime', 'boolean', or 'select'.\n\n* `text` - text\n* `number` - number\n* `currency` - currency\n* `percent` - percent\n* `date` - date\n* `datetime` - datetime\n* `boolean` - boolean\n* `select` - select",
            "smithy.api#required": {}
          }
        },
        "target_type": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionTargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "What entity this property is attached to: 'account' (default), 'person', or 'group'. Person and group properties are populated from a warehouse schema and become usable like any other person/group property (feature flags, cohorts, insights).\n\n* `account` - account\n* `person` - person\n* `group` - group"
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For 'group' targets only: which group type (0-4) the property attaches to. Required when target_type is 'group'; must be omitted otherwise. Create-only.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_big_number": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Abbreviate large numbers (e.g. 10,000 → 10K). Only applies to numeric properties."
          }
        },
        "options": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsUpdateRequestOptionsList",
          "traits": {
            "smithy.api#documentation": "For select properties: the allowed options. Required (non-empty) when display_type is 'select'; cleared server-side for other types.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/custom_property_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsPartialUpdateRequestOptionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyOption"
      },
      "traits": {
        "smithy.api#documentation": "For select properties: the allowed options. Required (non-empty) when display_type is 'select'; cleared server-side for other types."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the custom property. Unique within the team."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what the property represents.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "display_type": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDisplayTypeEnum",
          "traits": {
            "smithy.api#documentation": "How the property is interpreted and rendered: 'text', 'number', 'currency', 'percent', 'date', 'datetime', 'boolean', or 'select'.\n\n* `text` - text\n* `number` - number\n* `currency` - currency\n* `percent` - percent\n* `date` - date\n* `datetime` - datetime\n* `boolean` - boolean\n* `select` - select"
          }
        },
        "target_type": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionTargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "What entity this property is attached to: 'account' (default), 'person', or 'group'. Person and group properties are populated from a warehouse schema and become usable like any other person/group property (feature flags, cohorts, insights).\n\n* `account` - account\n* `person` - person\n* `group` - group"
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For 'group' targets only: which group type (0-4) the property attaches to. Required when target_type is 'group'; must be omitted otherwise. Create-only.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_big_number": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Abbreviate large numbers (e.g. 10,000 → 10K). Only applies to numeric properties."
          }
        },
        "options": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsPartialUpdateRequestOptionsList",
          "traits": {
            "smithy.api#documentation": "For select properties: the allowed options. Required (non-empty) when display_type is 'select'; cleared server-side for other types.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinition"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/custom_property_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/custom_property_definitions/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsValuesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "key",
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of the custom property definition to suggest values for."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "value",
            "smithy.api#documentation": "Case-insensitive substring to narrow the suggestions."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyValueSuggestionsResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.custom_property_definitions#CustomPropertyValueSuggestionsResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Suggested values matching the search input.",
            "smithy.api#required": {}
          }
        },
        "refreshing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always false — present for compatibility with the property-values consumer.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape of the custom property value-suggestions endpoint.\n\nMatches the contract of the shared property-values picker (``propertyDefinitionsModel``\non the frontend), which expects ``{results: [{name}], refreshing}``."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyValueSuggestion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A suggested value for the custom property.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One suggested filter value for a custom property."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyValueSuggestionsResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyValueSuggestion"
      },
      "traits": {
        "smithy.api#documentation": "Suggested values matching the search input."
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitionsValuesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsValuesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_definitions#CustomPropertyValueSuggestionsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/custom_property_definitions/values/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_definitions#CustomPropertyDefinitions": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsList"
        },
        {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsCreate"
        },
        {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsRetrieve"
        },
        {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsUpdate"
        },
        {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsPartialUpdate"
        },
        {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsDestroy"
        },
        {
          "target": "com.posthog.custom_property_definitions#CustomPropertyDefinitionsValuesRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
