{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.custom_property_sources#CustomPropertySourcesListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#PaginatedCustomPropertySourceList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.custom_property_sources#PaginatedCustomPropertySourceListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.custom_property_sources#CustomPropertySource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the custom property definition this source feeds. One source per definition.",
            "smithy.api#required": {}
          }
        },
        "saved_query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account sources only: UUID of the data-warehouse saved query (materialized view) to read values from. Mutually exclusive with external_data_schema.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_data_schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: UUID of the warehouse schema (raw incremental table) to read from. Mutually exclusive with saved_query.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account sources only: column in the view whose value is written to the property.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "column_property_map": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: {warehouse_column: property_name} mapping the columns this source writes onto the person or group."
          }
        },
        "key_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column whose value identifies the target: an account's external_id for account sources, the person's distinct_id for person sources, or the group key for group sources.",
            "smithy.api#required": {}
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the source syncs. Auto-disabled after repeated failures or a missing view; re-enabling resets the failure count."
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Consecutive failed sync runs; the source auto-disables at the cap.",
            "smithy.api#required": {}
          }
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the most recent sync run finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_sync_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error summary from the last run, or null if it succeeded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_frequency_interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: how often the underlying warehouse schema syncs, in seconds. Null for account sources or when unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_sync_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: approximate time of the next scheduled sync (last synced + interval). Approximate — drifts if the schedule was paused. Null for account sources or if never synced.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_run": {
          "target": "com.posthog.custom_property_sources#CustomPropertySyncRun",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: the most recent sync/backfill run, or null if none yet.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Binds a data-warehouse source to a custom property definition. Account sources read a\nmaterialized view column and sync onto matching accounts; person and group sources read a\nwarehouse schema and sync onto matching persons or groups on each warehouse sync."
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySyncRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "trigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What started the run: 'scheduled' (rode a warehouse sync), 'manual', or 'backfill'.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run status: 'running', 'completed', or 'failed'.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run began.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run ended, or null while running.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rows_read": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Warehouse rows scanned this run.",
            "smithy.api#required": {}
          }
        },
        "changed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows whose mapped values changed since the last run.",
            "smithy.api#required": {}
          }
        },
        "existing": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Person or group profiles updated (changed rows that matched an existing person/group).",
            "smithy.api#required": {}
          }
        },
        "produced": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Property-update intents produced to the ingestion pipeline.",
            "smithy.api#required": {}
          }
        },
        "skipped_missing_person": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Changed rows dropped because no existing person/group matched the key column value.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error summary if the run failed, else null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run row was recorded.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One person- or group-property sync or backfill run. Read-only: runs are created by the\nsync/backfill pipeline, never through the API."
      }
    },
    "com.posthog.custom_property_sources#PaginatedCustomPropertySourceListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {}
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesListRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#PaginatedCustomPropertySourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/custom_property_sources/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the custom property definition this source feeds. One source per definition.",
            "smithy.api#required": {}
          }
        },
        "saved_query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account sources only: UUID of the data-warehouse saved query (materialized view) to read values from. Mutually exclusive with external_data_schema.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_data_schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: UUID of the warehouse schema (raw incremental table) to read from. Mutually exclusive with saved_query.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account sources only: column in the view whose value is written to the property.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "column_property_map": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: {warehouse_column: property_name} mapping the columns this source writes onto the person or group."
          }
        },
        "key_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column whose value identifies the target: an account's external_id for account sources, the person's distinct_id for person sources, or the group key for group sources.",
            "smithy.api#required": {}
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the source syncs. Auto-disabled after repeated failures or a missing view; re-enabling resets the failure count."
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Consecutive failed sync runs; the source auto-disables at the cap.",
            "smithy.api#required": {}
          }
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the most recent sync run finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_sync_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error summary from the last run, or null if it succeeded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_frequency_interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: how often the underlying warehouse schema syncs, in seconds. Null for account sources or when unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_sync_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: approximate time of the next scheduled sync (last synced + interval). Approximate — drifts if the schedule was paused. Null for account sources or if never synced.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_run": {
          "target": "com.posthog.custom_property_sources#CustomPropertySyncRun",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: the most recent sync/backfill run, or null if none yet.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesCreateRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/custom_property_sources/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "source_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column in the view whose value is written to the property."
          }
        },
        "key_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column in the view whose value matches an account's external_id."
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the source syncs; re-enabling it resets the failure count."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesUpdateRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "source_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column in the view whose value is written to the property."
          }
        },
        "key_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column in the view whose value matches an account's external_id."
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the source syncs; re-enabling it resets the failure count."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesBackfillRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesBackfill": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesBackfillRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/backfill/",
          "code": 200
        },
        "smithy.api#documentation": "Person and group sources only: start a backfill that reads the whole warehouse table and\npopulates person or group properties for historical rows. Coalesces if one is already running\nfor the table."
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesRunsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#PaginatedCustomPropertySyncRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.custom_property_sources#PaginatedCustomPropertySyncRunListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.custom_property_sources#PaginatedCustomPropertySyncRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_sources#CustomPropertySyncRun"
      },
      "traits": {}
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesRunsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesRunsListRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#PaginatedCustomPropertySyncRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "Person and group sources only: the source's sync/backfill run history, newest first. Gated\non the caller's warehouse-source viewer access, since the runs expose its row counts and sync\nerrors."
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesSyncRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesSync": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesSyncRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/sync/",
          "code": 200
        },
        "smithy.api#documentation": "Person and group sources only: trigger the underlying warehouse schema's sync now. This\nre-runs a real (billable) warehouse sync; the incremental person/group-property update runs\noff it."
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySources": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesList"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesCreate"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesRetrieve"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesUpdate"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesPartialUpdate"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesDestroy"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesBackfill"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesRunsList"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesSync"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
