{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.custom_property_sources#CustomPropertySourcesListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#PaginatedCustomPropertySourceList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.custom_property_sources#PaginatedCustomPropertySourceListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.custom_property_sources#CustomPropertySource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the custom property definition this source feeds. One source per definition.",
            "smithy.api#required": {}
          }
        },
        "saved_query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the data-warehouse saved query to read from. Required for an account source. For a person or group source it must be a materialized view, and is one of the two binding options. Mutually exclusive with external_data_schema.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_data_schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: UUID of the warehouse schema (an imported table) to read from. Mutually exclusive with saved_query; a person or group source sets exactly one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account sources only: column in the view whose value is written to the property.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "column_property_map": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: {warehouse_column: property_name} mapping the columns this source writes onto the person or group."
          }
        },
        "column_descriptions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: {warehouse_column: description} giving each mapped column a human-facing description, seeded from the warehouse column's information_schema description. Optional per column. Create-only."
          }
        },
        "key_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column whose value identifies the target: an account's external_id for account sources, the person's distinct_id for person sources, or the group key for group sources.",
            "smithy.api#required": {}
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the source syncs. Auto-disabled after repeated failures or a missing view; re-enabling resets the failure count."
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Consecutive failed sync runs; the source auto-disables at the cap.",
            "smithy.api#required": {}
          }
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the most recent sync run finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_sync_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error summary from the last run, or null if it succeeded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_frequency_interval_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: how often the bound table or view runs, in seconds. Null for account sources, or when the schedule is unavailable — including a view whose frequency is set on its data-modeling DAG.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_sync_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: approximate time of the next scheduled run (last run + interval). Approximate — drifts if the schedule was paused. Null for account sources, if never run, or when the interval is unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_run": {
          "target": "com.posthog.custom_property_sources#CustomPropertySyncRun",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: the most recent sync/backfill run, or null if none yet.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_data_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Table-bound person and group sources only: UUID of the warehouse source owning the schema, so the UI can link to the table. Null for account sources, view-bound sources, or when unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: what this source reads, as it is named in HogQL — the imported table, or the view. Null for account sources or when unavailable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "saved_query_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "View-bound person and group sources only: the materialized view's name, so the UI can tell a view-backed source from a table-backed one. Null for account and table-bound sources.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Binds warehouse columns to a custom property definition. Account sources read a materialized\nview column and sync onto matching accounts; person and group sources read either an imported\nwarehouse table or a materialized view, and sync onto matching persons or groups on every\nwarehouse run of what they read."
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySyncRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Warehouse import or materialization job associated with the run, if any.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "account_segment": {
          "target": "com.posthog.custom_property_sources#AccountSegmentEnum",
          "traits": {
            "smithy.api#documentation": "Account segment processed by this run. Person and group property runs return null.\n\n* `tracked` - tracked\n* `ignored` - ignored",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sync_phase": {
          "target": "com.posthog.custom_property_sources#SyncPhaseEnum",
          "traits": {
            "smithy.api#documentation": "Current account sync phase. Person and group property runs return null.\n\n* `staging` - staging\n* `dispatching` - dispatching\n* `syncing` - syncing\n* `completed` - completed",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest Temporal activity attempt for the current account sync phase.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "workflow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Temporal workflow identifier associated with the current account sync phase.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "workflow_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Temporal run identifier associated with the current account sync phase.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "temporal_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Staff-only link to this run in Temporal. Null for non-staff users and runs without a Temporal ID.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "trigger": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "What started the run: 'scheduled' (rode a warehouse sync), 'sync' (a warehouse sync started from the UI), 'manual' (a backfill started from the UI), or 'backfill' (the automatic backfill run when a mapping is created or re-enabled).",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run status: 'running', 'completed', or 'failed'.",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run began.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "finished_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run ended, or null while running.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rows_read": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Warehouse rows scanned this run.",
            "smithy.api#required": {}
          }
        },
        "changed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows whose mapped values changed since the last run.",
            "smithy.api#required": {}
          }
        },
        "existing": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Changed rows that matched an existing account, person, or group.",
            "smithy.api#required": {}
          }
        },
        "produced": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Property updates written or produced to the ingestion pipeline.",
            "smithy.api#required": {}
          }
        },
        "skipped_missing_person": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Changed rows skipped because no existing account, person, or group matched the key column value.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error summary if the run failed, else null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run row was recorded.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One warehouse-backed custom property sync run."
      }
    },
    "com.posthog.custom_property_sources#AccountSegmentEnum": {
      "type": "enum",
      "members": {
        "TRACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tracked"
          }
        },
        "IGNORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ignored"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `tracked` - tracked\n* `ignored` - ignored"
      }
    },
    "com.posthog.custom_property_sources#SyncPhaseEnum": {
      "type": "enum",
      "members": {
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        },
        "DISPATCHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dispatching"
          }
        },
        "SYNCING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syncing"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `staging` - staging\n* `dispatching` - dispatching\n* `syncing` - syncing\n* `completed` - completed"
      }
    },
    "com.posthog.custom_property_sources#PaginatedCustomPropertySourceListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {}
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesListRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#PaginatedCustomPropertySourceList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/custom_property_sources/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "definition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the custom property definition this source feeds. One source per definition.",
            "smithy.api#required": {}
          }
        },
        "saved_query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the data-warehouse saved query to read from. Required for an account source. For a person or group source it must be a materialized view, and is one of the two binding options. Mutually exclusive with external_data_schema.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_data_schema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: UUID of the warehouse schema (an imported table) to read from. Mutually exclusive with saved_query; a person or group source sets exactly one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account sources only: column in the view whose value is written to the property.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "column_property_map": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: {warehouse_column: property_name} mapping the columns this source writes onto the person or group."
          }
        },
        "column_descriptions": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Person and group sources only: {warehouse_column: description} giving each mapped column a human-facing description, seeded from the warehouse column's information_schema description. Optional per column. Create-only."
          }
        },
        "key_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column whose value identifies the target: an account's external_id for account sources, the person's distinct_id for person sources, or the group key for group sources.",
            "smithy.api#required": {}
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the source syncs. Auto-disabled after repeated failures or a missing view; re-enabling resets the failure count."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesCreateRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/custom_property_sources/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "source_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column in the view whose value is written to the property."
          }
        },
        "key_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column in the view whose value matches an account's external_id."
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the source syncs; re-enabling it resets the failure count."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesUpdateRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "source_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column in the view whose value is written to the property."
          }
        },
        "key_column": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column in the view whose value matches an account's external_id."
          }
        },
        "is_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the source syncs; re-enabling it resets the failure count."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#CustomPropertySource"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesBackfillRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesBackfill": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesBackfillRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/backfill/",
          "code": 200
        },
        "smithy.api#documentation": "Person and group sources only: start a backfill that reads the whole warehouse table and\npopulates person or group properties for historical rows. Coalesces if one is already running\nfor the table."
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesRunsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Match run IDs, workflow IDs, job IDs, statuses, segments, triggers, or errors."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#PaginatedCustomPropertySyncRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.custom_property_sources#PaginatedCustomPropertySyncRunListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.custom_property_sources#PaginatedCustomPropertySyncRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.custom_property_sources#CustomPropertySyncRun"
      },
      "traits": {}
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesRunsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesRunsListRequest"
      },
      "output": {
        "target": "com.posthog.custom_property_sources#PaginatedCustomPropertySyncRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "The source's sync history, newest first. Person and group runs require viewer access to\ntheir warehouse source because the response includes row counts and sync errors."
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesSyncRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySourcesSync": {
      "type": "operation",
      "input": {
        "target": "com.posthog.custom_property_sources#CustomPropertySourcesSyncRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/custom_property_sources/{id}/sync/",
          "code": 200
        },
        "smithy.api#documentation": "Person and group sources only: run what this source reads now — an import for a table\nbinding (a real, billable warehouse sync), a materialization for a view binding. The\nincremental person/group-property update runs off that run."
      }
    },
    "com.posthog.custom_property_sources#CustomPropertySources": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesList"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesCreate"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesRetrieve"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesUpdate"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesPartialUpdate"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesDestroy"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesBackfill"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesRunsList"
        },
        {
          "target": "com.posthog.custom_property_sources#CustomPropertySourcesSync"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
