{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.data_warehouse#DataWarehouseCheckDatabaseNameRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name to check"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#CheckDatabaseNameResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseCheckDatabaseNameRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseCheckDatabaseNameRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#CheckDatabaseNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/check-database-name/",
          "code": 200
        },
        "smithy.api#documentation": "Check if a database name is available."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseCheckSchemaNameRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema name to check"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#CheckSchemaNameResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema name that was checked",
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the schema name is free within the organization's warehouse",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseCheckSchemaNameRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseCheckSchemaNameRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#CheckSchemaNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/check-schema-name/",
          "code": 200
        },
        "smithy.api#documentation": "Check if a schema name is free within the organization's managed warehouse."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseCompletedActivityRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseCompletedActivityRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseCompletedActivityRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/completed_activity/",
          "code": 200
        },
        "smithy.api#documentation": "Returns completed/non-running activities (jobs with status 'Completed').\nSupports pagination and cutoff time filtering."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataHealthIssuesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataHealthIssuesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDataHealthIssuesRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/data_health_issues/",
          "code": 200
        },
        "smithy.api#documentation": "Returns failed/disabled data pipeline items for the Pipeline status side panel.\nIncludes: materializations, syncs, sources, destinations, and transformations."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataOpsDashboardRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataOpsDashboardRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDataOpsDashboardRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/data_ops_dashboard/",
          "code": 200
        },
        "smithy.api#documentation": "Returns the data ops overview dashboard ID for this team, creating it if it doesn't exist yet."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDeleteOrgDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DeleteWarehouseOrgResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deletion lifecycle message from the provisioner"
          }
        },
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "duckgres org identifier (the PostHog organization id)"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseDeleteOrgDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDeleteOrgDestroyRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#DeleteWarehouseOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/data_warehouse/delete-org/",
          "code": 200
        },
        "smithy.api#documentation": "Remove the organization's provisioning record after teardown, freeing its warehouse name.\n\nCalled once the warehouse status reports `deleted`: deprovision tears the warehouse\ndown, this removes the now-empty org row so the database_name can be reused. Restricted\nto organization admins."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDeprovisionCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDeprovisionCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDeprovisionCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/data_warehouse/deprovision/",
          "code": 200
        },
        "smithy.api#documentation": "Start deprovisioning the organization's managed warehouse. Restricted to organization admins."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseJobStatsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseJobStatsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseJobStatsRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/job_stats/",
          "code": 200
        },
        "smithy.api#documentation": "Returns success and failed job statistics for the last 1, 7, or 30 days.\nQuery parameter 'days' can be 1, 7, or 30 (default: 7)."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseDataStatusRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseDataStatusResponse": {
      "type": "structure",
      "members": {
        "overall_readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "Highest-priority readiness state across all warehouse datasets.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseDatasetStatus",
          "traits": {
            "smithy.api#documentation": "Events backfill readiness.",
            "smithy.api#required": {}
          }
        },
        "persons": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseDatasetStatus",
          "traits": {
            "smithy.api#documentation": "Persons backfill readiness.",
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseSourcesStatus",
          "traits": {
            "smithy.api#documentation": "Imported source table readiness.",
            "smithy.api#required": {}
          }
        },
        "generated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this status snapshot was generated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum": {
      "type": "enum",
      "members": {
        "NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_configured"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "BACKFILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backfilling"
          }
        },
        "UP_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "up_to_date"
          }
        },
        "NEEDS_ATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needs_attention"
          }
        },
        "SYNC_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sync_paused"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused"
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseDatasetStatus": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "com.posthog.data_warehouse#DatasetEnum",
          "traits": {
            "smithy.api#documentation": "Warehouse dataset represented by this status.\n\n* `events` - events\n* `persons` - persons",
            "smithy.api#required": {}
          }
        },
        "readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "User-facing readiness state for this dataset.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the current readiness state.",
            "smithy.api#required": {}
          }
        },
        "completed_partitions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of historical backfill partitions completed successfully.",
            "smithy.api#required": {}
          }
        },
        "total_partitions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expected historical partitions, or null while the range is being calculated.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_partition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partition currently running or requiring attention, when applicable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the durable backfill status last changed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DatasetEnum": {
      "type": "enum",
      "members": {
        "EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "events"
          }
        },
        "PERSONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "persons"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `events` - events\n* `persons` - persons"
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourcesStatus": {
      "type": "structure",
      "members": {
        "readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "Rolled-up readiness state for imported sources.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of imported source readiness.",
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseSourcesStatusSourcesList",
          "traits": {
            "smithy.api#documentation": "Per-source rollup of schema backfill and live import application statuses. Reflects only warehouse source imports with sync enabled — manage sources at /data-management/sources.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourceSummary": {
      "type": "structure",
      "members": {
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Imported source connection identifier.",
            "smithy.api#required": {}
          }
        },
        "source_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the imported source connection.",
            "smithy.api#required": {}
          }
        },
        "source_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the imported source connection.",
            "smithy.api#required": {}
          }
        },
        "readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "Rolled-up warehouse readiness state across this source's schemas.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of this source's readiness state.",
            "smithy.api#required": {}
          }
        },
        "total_schemas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of this source's schemas visible to the warehouse.",
            "smithy.api#required": {}
          }
        },
        "backfilled_schemas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of schemas whose one-time historical copy into the warehouse has completed.",
            "smithy.api#required": {}
          }
        },
        "last_applied_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent time an imported batch was applied to the warehouse across this source's schemas, or null if no apply has been recorded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent upstream source import completion across this source's schemas.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourcesStatusSourcesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseSourceSummary"
      },
      "traits": {
        "smithy.api#documentation": "Per-source rollup of schema backfill and live import application statuses. Reflects only warehouse source imports with sync enabled — manage sources at /data-management/sources."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseDataStatusRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseDataStatusRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseDataStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/managed-warehouse-data-status/",
          "code": 200
        },
        "smithy.api#documentation": "Get events, persons, and imported source readiness for the managed warehouse."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseSourceSchemasRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "Imported source connection to fetch per-schema detail for."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourceSchemasResponse": {
      "type": "structure",
      "members": {
        "schemas": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseSourceSchemasResponseSchemasList",
          "traits": {
            "smithy.api#documentation": "Per-schema backfill and live import application status for the requested source.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourceTableStatus": {
      "type": "structure",
      "members": {
        "schema_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Imported source schema identifier.",
            "smithy.api#required": {}
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Imported source connection identifier.",
            "smithy.api#required": {}
          }
        },
        "source_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the imported source connection.",
            "smithy.api#required": {}
          }
        },
        "source_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the imported source connection.",
            "smithy.api#required": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Imported table name.",
            "smithy.api#required": {}
          }
        },
        "readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "User-facing warehouse readiness state for this table.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the table's readiness state.",
            "smithy.api#required": {}
          }
        },
        "backfilled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the one-time historical copy into the warehouse has completed for this table.",
            "smithy.api#required": {}
          }
        },
        "completed_chunks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Backfill chunks already copied into the warehouse.",
            "smithy.api#required": {}
          }
        },
        "total_chunks": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total backfill chunks, or null before the copy plan is ready.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_applied_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When an imported batch was most recently applied to the warehouse, or null if no apply has been recorded for this table.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When PostHog most recently completed the upstream source import.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourceSchemasResponseSchemasList": {
      "type": "list",
      "member": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseSourceTableStatus"
      },
      "traits": {
        "smithy.api#documentation": "Per-schema backfill and live import application status for the requested source."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseSourceSchemasRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseSourceSchemasRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseSourceSchemasResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/managed-warehouse-source-schemas/",
          "code": 200
        },
        "smithy.api#documentation": "Get per-schema detail for one imported source\n\nPer-schema backfill and live import status for one source, for the Overview tab's drill-down modal — the main status endpoint only returns a per-source rollup."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseOnboardTeamCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "schema_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema name for this project's data in the organization's warehouse. Lowercase letters, numbers, and underscores only, max 63 characters. Must be unique within the organization and cannot be changed later.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#OnboardWarehouseTeamResponse": {
      "type": "structure",
      "members": {
        "onboarded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this project is now onboarded onto the managed warehouse",
            "smithy.api#required": {}
          }
        },
        "schema_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema this project's data lands in",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseOnboardTeamCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseOnboardTeamCreateRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#OnboardWarehouseTeamResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/data_warehouse/onboard-team/",
          "code": 200
        },
        "smithy.api#documentation": "Onboard this project onto the organization's existing managed warehouse.\n\nRequires a schema name; records the project's membership both in duckgres and in the\nDjango backfill state. Restricted to organization admins."
      }
    },
    "com.posthog.data_warehouse#DataWarehousePropertyValuesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehousePropertyValuesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehousePropertyValuesRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/property_values/",
          "code": 200
        },
        "smithy.api#documentation": "API endpoints for data warehouse aggregate statistics and operations."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseProvisionCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the new database",
            "smithy.api#required": {}
          }
        },
        "schema_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema name for the provisioning project's data in the warehouse. Lowercase letters, numbers, and underscores only, max 63 characters. Cannot be changed later. Required — the first project gets its own schema, and other projects pick theirs when they join.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseProvisionCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseProvisionCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/data_warehouse/provision/",
          "code": 200
        },
        "smithy.api#documentation": "Start provisioning a managed warehouse for this organization (shared by all its teams)."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseResetPasswordCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#ResetPasswordResponse": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseResetPasswordCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseResetPasswordCreateRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#ResetPasswordResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/data_warehouse/reset-password/",
          "code": 200
        },
        "smithy.api#documentation": "Reset the root password for the managed warehouse."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseRunningActivityRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseRunningActivityRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseRunningActivityRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/running_activity/",
          "code": 200
        },
        "smithy.api#documentation": "Returns currently running activities (jobs with status 'Running').\nSupports pagination and cutoff time filtering."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseTotalRowsStatsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseTotalRowsStatsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseTotalRowsStatsRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/total_rows_stats/",
          "code": 200
        },
        "smithy.api#documentation": "Returns aggregated statistics for the data warehouse total rows processed within the current billing period.\nUsed by the frontend data warehouse scene to display usage information."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseWarehouseStatusRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#WarehouseStatusResponse": {
      "type": "structure",
      "members": {
        "org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "duckgres org identifier (the PostHog organization id)",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.data_warehouse#WarehouseStatusResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Overall provisioning lifecycle state\n\n* `pending` - pending\n* `provisioning` - provisioning\n* `ready` - ready\n* `failed` - failed\n* `deleting` - deleting\n* `deleted` - deleted",
            "smithy.api#required": {}
          }
        },
        "status_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable detail for the current state",
            "smithy.api#required": {}
          }
        },
        "s3_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object-store sub-resource provisioning state",
            "smithy.api#required": {}
          }
        },
        "metadata_store_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata-store sub-resource provisioning state",
            "smithy.api#required": {}
          }
        },
        "identity_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker identity sub-resource provisioning state",
            "smithy.api#required": {}
          }
        },
        "secrets_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credentials sub-resource provisioning state",
            "smithy.api#required": {}
          }
        },
        "ready_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the warehouse became ready",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When provisioning failed",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "connection": {
          "target": "com.posthog.data_warehouse#WarehouseConnection",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_backfill": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this project already has a warehouse backfill configured. When true, its table name is fixed and the enable form should not be shown.",
            "smithy.api#required": {}
          }
        },
        "table_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This project's per-environment table suffix (events_<suffix>). Null when the project still writes to the shared tables.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_onboarded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this project is onboarded onto the managed warehouse. False when the warehouse exists but this project has not picked a schema yet — show the onboarding screen in that case.",
            "smithy.api#required": {}
          }
        },
        "schema_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema this project's data lands in. Null when the project is not onboarded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#WarehouseStatusResponseStateEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pending` - pending\n* `provisioning` - provisioning\n* `ready` - ready\n* `failed` - failed\n* `deleting` - deleting\n* `deleted` - deleted"
      }
    },
    "com.posthog.data_warehouse#WarehouseConnection": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection host — the warehouse name is the SNI subdomain, e.g. my-warehouse.dw.us.postwh.com",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Postgres wire-protocol port",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database to connect to — always 'ducklake'",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root database username",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseWarehouseStatusRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseWarehouseStatusRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#WarehouseStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/warehouse_status/",
          "code": 200
        },
        "smithy.api#documentation": "Get the current provisioning status of the managed warehouse, with this project's onboarding state."
      }
    },
    "com.posthog.data_warehouse#DataWarehouse": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.data_warehouse#DataWarehouseCheckDatabaseNameRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseCheckSchemaNameRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseCompletedActivityRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDataHealthIssuesRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDataOpsDashboardRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDeleteOrgDestroy"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDeprovisionCreate"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseJobStatsRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseDataStatusRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseSourceSchemasRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseOnboardTeamCreate"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehousePropertyValuesRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseProvisionCreate"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseResetPasswordCreate"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseRunningActivityRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseTotalRowsStatsRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseWarehouseStatusRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
