{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.data_warehouse#DataWarehouseCheckDatabaseNameRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#required": {},
            "smithy.api#documentation": "Database name to check"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#CheckDatabaseNameResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseCheckDatabaseNameRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseCheckDatabaseNameRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#CheckDatabaseNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/check-database-name/",
          "code": 200
        },
        "smithy.api#documentation": "Check if a database name is available."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseCheckSchemaNameRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#required": {},
            "smithy.api#documentation": "Schema name to check"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#CheckSchemaNameResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The schema name that was checked",
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the schema name is free within the organization's warehouse",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseCheckSchemaNameRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseCheckSchemaNameRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#CheckSchemaNameResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/check-schema-name/",
          "code": 200
        },
        "smithy.api#documentation": "Check if a schema name is free within the organization's managed warehouse."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseCompletedActivityRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseCompletedActivityRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseCompletedActivityRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/completed_activity/",
          "code": 200
        },
        "smithy.api#documentation": "Returns completed/non-running activities (jobs with status 'Completed').\nSupports pagination and cutoff time filtering."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataHealthIssuesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataHealthIssuesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDataHealthIssuesRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/data_health_issues/",
          "code": 200
        },
        "smithy.api#documentation": "Returns failed/disabled data pipeline items for the Pipeline status side panel.\nIncludes: materializations, syncs, sources, destinations, and transformations."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataOpsDashboardRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataOpsDashboardRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDataOpsDashboardRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/data_ops_dashboard/",
          "code": 200
        },
        "smithy.api#documentation": "Returns the data ops overview dashboard ID for this team, creating it if it doesn't exist yet."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataQualityGateRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataQualityGateConfig": {
      "type": "structure",
      "members": {
        "gate_materialization_on_checks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, a materialization whose error-severity checks fail is not published; the previous version keeps serving and downstream models are skipped.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team-level materialization gate. Checks always run and warn; this only toggles blocking."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataQualityGateRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDataQualityGateRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#DataQualityGateConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/data_quality_gate/",
          "code": 200
        },
        "smithy.api#documentation": "Read or update the team's data quality gate: whether a materialization whose error-severity checks fail is published."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataQualityGatePartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "gate_materialization_on_checks": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, a materialization whose error-severity checks fail is not published; the previous version keeps serving and downstream models are skipped."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDataQualityGatePartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDataQualityGatePartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#DataQualityGateConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/data_warehouse/data_quality_gate/",
          "code": 200
        },
        "smithy.api#documentation": "Read or update the team's data quality gate: whether a materialization whose error-severity checks fail is published."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDeleteOrgDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DeleteWarehouseOrgResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deletion lifecycle message from the provisioner"
          }
        },
        "org": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "duckgres org identifier (the PostHog organization id)"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseDeleteOrgDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDeleteOrgDestroyRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#DeleteWarehouseOrgResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/data_warehouse/delete-org/",
          "code": 200
        },
        "smithy.api#documentation": "Remove the organization's provisioning record after teardown, freeing its warehouse name.\n\nCalled once the warehouse status reports `deleted`: deprovision tears the warehouse\ndown, this removes the now-empty org row so the database_name can be reused. Restricted\nto organization admins."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDeprovisionCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseDeprovisionCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseDeprovisionCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/data_warehouse/deprovision/",
          "code": 200
        },
        "smithy.api#documentation": "Start deprovisioning the organization's managed warehouse. Restricted to organization admins."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseJobStatsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseJobStatsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseJobStatsRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/job_stats/",
          "code": 200
        },
        "smithy.api#documentation": "Returns success and failed job statistics for the last 1, 7, or 30 days.\nQuery parameter 'days' can be 1, 7, or 30 (default: 7)."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseDataStatusRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseDataStatusResponse": {
      "type": "structure",
      "members": {
        "overall_readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "Highest-priority readiness state across all warehouse datasets.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseDatasetStatus",
          "traits": {
            "smithy.api#documentation": "Events backfill readiness.",
            "smithy.api#required": {}
          }
        },
        "persons": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseDatasetStatus",
          "traits": {
            "smithy.api#documentation": "Persons backfill readiness.",
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseSourcesStatus",
          "traits": {
            "smithy.api#documentation": "Imported source table readiness.",
            "smithy.api#required": {}
          }
        },
        "generated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this status snapshot was generated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum": {
      "type": "enum",
      "members": {
        "NOT_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_configured"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "BACKFILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backfilling"
          }
        },
        "UP_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "up_to_date"
          }
        },
        "NEEDS_ATTENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needs_attention"
          }
        },
        "SYNC_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sync_paused"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused"
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseDatasetStatus": {
      "type": "structure",
      "members": {
        "dataset": {
          "target": "com.posthog.data_warehouse#DatasetEnum",
          "traits": {
            "smithy.api#documentation": "Warehouse dataset represented by this status.\n\n* `events` - events\n* `persons` - persons",
            "smithy.api#required": {}
          }
        },
        "readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "User-facing readiness state for this dataset.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the current readiness state.",
            "smithy.api#required": {}
          }
        },
        "completed_partitions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of historical backfill partitions completed successfully.",
            "smithy.api#required": {}
          }
        },
        "total_partitions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Expected historical partitions, or null while the range is being calculated.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "current_partition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partition currently running or requiring attention, when applicable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the durable backfill status last changed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DatasetEnum": {
      "type": "enum",
      "members": {
        "EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "events"
          }
        },
        "PERSONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "persons"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `events` - events\n* `persons` - persons"
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourcesStatus": {
      "type": "structure",
      "members": {
        "readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "Rolled-up readiness state for imported sources.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of imported source readiness.",
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseSourcesStatusSourcesList",
          "traits": {
            "smithy.api#documentation": "Per-source rollup of copy and register workflow statuses for configured warehouse source imports.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourceSummary": {
      "type": "structure",
      "members": {
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Imported source connection identifier.",
            "smithy.api#required": {}
          }
        },
        "source_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the imported source connection.",
            "smithy.api#required": {}
          }
        },
        "source_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the imported source connection.",
            "smithy.api#required": {}
          }
        },
        "readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "Rolled-up warehouse readiness state across this source's schemas.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of this source's readiness state.",
            "smithy.api#required": {}
          }
        },
        "total_schemas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of this source's schemas visible to the warehouse.",
            "smithy.api#required": {}
          }
        },
        "applied_schemas": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of schemas applied by a completed copy or register workflow.",
            "smithy.api#required": {}
          }
        },
        "last_applied_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent completed copy or register workflow across this source's schemas, or null if none completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent upstream source import completion across this source's schemas.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourcesStatusSourcesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseSourceSummary"
      },
      "traits": {
        "smithy.api#documentation": "Per-source rollup of copy and register workflow statuses for configured warehouse source imports."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseDataStatusRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseDataStatusRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseDataStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/managed-warehouse-data-status/",
          "code": 200
        },
        "smithy.api#documentation": "Get events, persons, and imported source readiness for the managed warehouse."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringSnapshotResponse": {
      "type": "structure",
      "members": {
        "schema_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the managed warehouse monitoring response schema.",
            "smithy.api#required": {}
          }
        },
        "org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization whose managed warehouse is represented.",
            "smithy.api#required": {}
          }
        },
        "as_of": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC timestamp when this snapshot was assembled.",
            "smithy.api#required": {}
          }
        },
        "warehouse": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringWarehouse",
          "traits": {
            "smithy.api#documentation": "Managed warehouse lifecycle details.",
            "smithy.api#required": {}
          }
        },
        "limits": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringLimits",
          "traits": {
            "smithy.api#documentation": "Organization-level worker limits and defaults.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringTotals",
          "traits": {
            "smithy.api#documentation": "Current organization-level activity totals.",
            "smithy.api#required": {}
          }
        },
        "workers": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringSnapshotResponseWorkersList",
          "traits": {
            "smithy.api#documentation": "Current non-terminal workers with tenant-safe runtime details.",
            "smithy.api#required": {}
          }
        },
        "coverage": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringCoverage",
          "traits": {
            "smithy.api#documentation": "Completeness of the cross-control-plane live data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringWarehouse": {
      "type": "structure",
      "members": {
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current managed warehouse lifecycle state, such as ready, provisioning, or resharding.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringLimits": {
      "type": "structure",
      "members": {
        "max_workers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum concurrent workers for the organization. Zero means no organization-specific limit.",
            "smithy.api#required": {}
          }
        },
        "max_vcpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum active session vCPUs admitted for the organization. Zero means no organization-specific limit.",
            "smithy.api#required": {}
          }
        },
        "default_worker_cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default worker CPU as a Kubernetes resource quantity, such as 2 or 500m.",
            "smithy.api#required": {}
          }
        },
        "default_worker_memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default worker memory as a Kubernetes resource quantity, such as 8Gi.",
            "smithy.api#required": {}
          }
        },
        "default_worker_ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Default number of seconds an idle worker remains available for reuse.",
            "smithy.api#required": {}
          }
        },
        "default_worker_min_hot_idle": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum number of idle workers the organization keeps warm.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringTotals": {
      "type": "structure",
      "members": {
        "workers": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of current non-terminal workers.",
            "smithy.api#required": {}
          }
        },
        "allocated_cpu_cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total CPU cores allocated to current workers.",
            "smithy.api#required": {}
          }
        },
        "allocated_memory_bytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total memory bytes allocated to current workers.",
            "smithy.api#required": {}
          }
        },
        "active_sessions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of active database sessions across the organization's control planes.",
            "smithy.api#required": {}
          }
        },
        "running_queries": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of sessions currently executing a query.",
            "smithy.api#required": {}
          }
        },
        "queued_connections": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of connections waiting for worker capacity.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringWorker": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque identifier for the worker.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current worker lifecycle state.",
            "smithy.api#required": {}
          }
        },
        "cpu": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker CPU as a Kubernetes resource quantity, such as 2 or 500m. Blank when unavailable.",
            "smithy.api#required": {}
          }
        },
        "memory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker memory as a Kubernetes resource quantity, such as 8Gi. Blank when unavailable.",
            "smithy.api#required": {}
          }
        },
        "ttl_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds the worker remains available while idle.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC timestamp when the worker was created.",
            "smithy.api#required": {}
          }
        },
        "last_heartbeat_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC timestamp of the worker's latest heartbeat.",
            "smithy.api#required": {}
          }
        },
        "session": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringWorkerSession",
          "traits": {
            "smithy.api#documentation": "Sanitized live session assigned to the worker, when one exists.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringWorkerSession": {
      "type": "structure",
      "members": {
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection protocol, such as pg or flight.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current database session state.",
            "smithy.api#required": {}
          }
        },
        "elapsed_ms": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Milliseconds elapsed for the current query, or zero when the session is idle.",
            "smithy.api#required": {}
          }
        },
        "percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Best-effort query progress percentage, or null when DuckDB cannot estimate progress.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows processed by the current query.",
            "smithy.api#required": {}
          }
        },
        "total_rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Estimated total rows for the current query when available.",
            "smithy.api#required": {}
          }
        },
        "stalled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the current query appears stalled.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringSnapshotResponseWorkersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringWorker"
      },
      "traits": {
        "smithy.api#documentation": "Current non-terminal workers with tenant-safe runtime details."
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringCoverage": {
      "type": "structure",
      "members": {
        "cp_responders": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of control planes that contributed live data.",
            "smithy.api#required": {}
          }
        },
        "cp_total": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of control planes queried for live data.",
            "smithy.api#required": {}
          }
        },
        "partial": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether one or more control planes failed to contribute live data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.posthog.data_warehouse#BadRequest"
        },
        {
          "target": "com.posthog.data_warehouse#Forbidden"
        },
        {
          "target": "com.posthog.data_warehouse#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/managed-warehouse-monitoring/",
          "code": 200
        },
        "smithy.api#documentation": "Get managed warehouse monitoring snapshot\n\nGet tenant-safe live worker, session, queue, and capacity data for the current organization."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringTimeseriesRetrieveRequestMetric": {
      "type": "enum",
      "members": {
        "QUERY_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query_rate"
          }
        },
        "ERROR_RATIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error_ratio"
          }
        },
        "DURATION_P50": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration_p50"
          }
        },
        "DURATION_P95": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration_p95"
          }
        },
        "SESSIONS_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sessions_active"
          }
        },
        "ACQUIRE_P95": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acquire_p95"
          }
        },
        "ACQUIRE_BY_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acquire_by_source"
          }
        },
        "STORAGE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage_bytes"
          }
        },
        "WORKER_CRASH_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "worker_crash_rate"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringTimeseriesRetrieveRequestWindow": {
      "type": "enum",
      "members": {
        "_1H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1h"
          }
        },
        "_6H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "6h"
          }
        },
        "_24H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24h"
          }
        },
        "_7D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "7d"
          }
        },
        "_30D": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "30d"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringTimeseriesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "metric": {
          "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringTimeseriesRetrieveRequestMetric",
          "traits": {
            "smithy.api#httpQuery": "metric",
            "smithy.api#required": {},
            "smithy.api#documentation": "Allow-listed managed warehouse metric to retrieve.\n\n* `query_rate` - query_rate\n* `error_ratio` - error_ratio\n* `duration_p50` - duration_p50\n* `duration_p95` - duration_p95\n* `sessions_active` - sessions_active\n* `acquire_p95` - acquire_p95\n* `acquire_by_source` - acquire_by_source\n* `storage_bytes` - storage_bytes\n* `worker_crash_rate` - worker_crash_rate"
          }
        },
        "window": {
          "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringTimeseriesRetrieveRequestWindow",
          "traits": {
            "smithy.api#httpQuery": "window",
            "smithy.api#documentation": "Trailing time window to retrieve. Defaults to 24h.\n\n* `1h` - 1h\n* `6h` - 6h\n* `24h` - 24h\n* `7d` - 7d\n* `30d` - 30d"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeriesResponse": {
      "type": "structure",
      "members": {
        "schema_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version of the managed warehouse monitoring response schema.",
            "smithy.api#required": {}
          }
        },
        "org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Organization whose managed warehouse is represented.",
            "smithy.api#required": {}
          }
        },
        "metric": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Allow-listed metric returned by this response.",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unit for every value in the response.",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inclusive UTC start of the returned time window.",
            "smithy.api#required": {}
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inclusive UTC end of the returned time window.",
            "smithy.api#required": {}
          }
        },
        "step_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of seconds between requested samples.",
            "smithy.api#required": {}
          }
        },
        "series": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeriesResponseSeriesList",
          "traits": {
            "smithy.api#documentation": "Metric series grouped by their allow-listed labels.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeries": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeriesLabelsMap",
          "traits": {
            "smithy.api#documentation": "Allow-listed labels distinguishing this series, such as query outcome or acquisition source.",
            "smithy.api#required": {}
          }
        },
        "points": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeriesPointsList",
          "traits": {
            "smithy.api#documentation": "Chronologically ordered metric samples.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeriesLabelsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allow-listed labels distinguishing this series, such as query outcome or acquisition source."
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringPoint": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UTC timestamp of the sample.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric value at the sample timestamp.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeriesPointsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringPoint"
      },
      "traits": {
        "smithy.api#documentation": "Chronologically ordered metric samples."
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeriesResponseSeriesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeries"
      },
      "traits": {
        "smithy.api#documentation": "Metric series grouped by their allow-listed labels."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringTimeseriesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringTimeseriesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseMonitoringSeriesResponse"
      },
      "errors": [
        {
          "target": "com.posthog.data_warehouse#BadRequest"
        },
        {
          "target": "com.posthog.data_warehouse#Forbidden"
        },
        {
          "target": "com.posthog.data_warehouse#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/managed-warehouse-monitoring-timeseries/",
          "code": 200
        },
        "smithy.api#documentation": "Get managed warehouse monitoring time series\n\nGet one allow-listed monitoring metric for the current organization and trailing time window."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseSourceSchemasRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "Imported source connection to fetch per-schema detail for."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourceSchemasResponse": {
      "type": "structure",
      "members": {
        "schemas": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseSourceSchemasResponseSchemasList",
          "traits": {
            "smithy.api#documentation": "Per-schema copy or register workflow status for the requested source.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourceTableStatus": {
      "type": "structure",
      "members": {
        "schema_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Imported source schema identifier.",
            "smithy.api#required": {}
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Imported source connection identifier.",
            "smithy.api#required": {}
          }
        },
        "source_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the imported source connection.",
            "smithy.api#required": {}
          }
        },
        "source_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the imported source connection.",
            "smithy.api#required": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Imported table name.",
            "smithy.api#required": {}
          }
        },
        "readiness_state": {
          "target": "com.posthog.data_warehouse#ManagedWarehouseReadinessStateEnum",
          "traits": {
            "smithy.api#documentation": "User-facing warehouse readiness state for this table.\n\n* `not_configured` - not_configured\n* `waiting` - waiting\n* `backfilling` - backfilling\n* `up_to_date` - up_to_date\n* `needs_attention` - needs_attention\n* `sync_paused` - sync_paused",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable explanation of the table's readiness state.",
            "smithy.api#required": {}
          }
        },
        "workflow_type": {
          "target": "com.posthog.data_warehouse#WorkflowTypeEnum",
          "traits": {
            "smithy.api#documentation": "Workflow applying the latest source import, or null if no workflow has run.\n\n* `copy` - copy\n* `register` - register",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "workflow_status": {
          "target": "com.posthog.data_warehouse#WorkflowStatusEnum",
          "traits": {
            "smithy.api#documentation": "State of the latest copy or register workflow, or null if no workflow has run.\n\n* `running` - running\n* `completed` - completed\n* `failed` - failed\n* `skipped` - skipped\n* `stale` - stale",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "workflow_started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the latest copy or register workflow started, or null if no workflow has run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "applied": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a copy or register workflow has applied this table to the warehouse.",
            "smithy.api#required": {}
          }
        },
        "last_applied_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When a copy or register workflow most recently applied this table, or null if no workflow completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When PostHog most recently completed the upstream source import.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#WorkflowTypeEnum": {
      "type": "enum",
      "members": {
        "COPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "copy"
          }
        },
        "REGISTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "register"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `copy` - copy\n* `register` - register"
      }
    },
    "com.posthog.data_warehouse#WorkflowStatusEnum": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `running` - running\n* `completed` - completed\n* `failed` - failed\n* `skipped` - skipped\n* `stale` - stale"
      }
    },
    "com.posthog.data_warehouse#ManagedWarehouseSourceSchemasResponseSchemasList": {
      "type": "list",
      "member": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseSourceTableStatus"
      },
      "traits": {
        "smithy.api#documentation": "Per-schema copy or register workflow status for the requested source."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseManagedWarehouseSourceSchemasRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseSourceSchemasRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#ManagedWarehouseSourceSchemasResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/managed-warehouse-source-schemas/",
          "code": 200
        },
        "smithy.api#documentation": "Get per-schema detail for one imported source\n\nPer-schema backfill and live import status for one source, for the Overview tab's drill-down modal — the main status endpoint only returns a per-source rollup."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseOnboardTeamCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "schema_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema name for this project's data in the organization's warehouse. Lowercase letters, numbers, and underscores only, max 63 characters. Must be unique within the organization and cannot be changed later.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#OnboardWarehouseTeamResponse": {
      "type": "structure",
      "members": {
        "onboarded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this project is now onboarded onto the managed warehouse",
            "smithy.api#required": {}
          }
        },
        "schema_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema this project's data lands in",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseOnboardTeamCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseOnboardTeamCreateRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#OnboardWarehouseTeamResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/data_warehouse/onboard-team/",
          "code": 200
        },
        "smithy.api#documentation": "Onboard this project onto the organization's existing managed warehouse.\n\nRequires a schema name and records the project's membership in the Duckgres control plane.\nRestricted to organization admins."
      }
    },
    "com.posthog.data_warehouse#DataWarehousePropertyValuesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehousePropertyValuesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehousePropertyValuesRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/property_values/",
          "code": 200
        },
        "smithy.api#documentation": "API endpoints for data warehouse aggregate statistics and operations."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseProvisionCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "database_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the new database",
            "smithy.api#required": {}
          }
        },
        "schema_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema name for the provisioning project's data in the warehouse. Lowercase letters, numbers, and underscores only, max 63 characters. Cannot be changed later. Required — the first project gets its own schema, and other projects pick theirs when they join.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseProvisionCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseProvisionCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/data_warehouse/provision/",
          "code": 200
        },
        "smithy.api#documentation": "Start provisioning a managed warehouse for this organization (shared by all its teams)."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseResetPasswordCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#ResetPasswordResponse": {
      "type": "structure",
      "members": {
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseResetPasswordCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseResetPasswordCreateRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#ResetPasswordResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/data_warehouse/reset-password/",
          "code": 200
        },
        "smithy.api#documentation": "Reset the root password for the managed warehouse."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseRunningActivityRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseRunningActivityRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseRunningActivityRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/running_activity/",
          "code": 200
        },
        "smithy.api#documentation": "Returns currently running activities (jobs with status 'Running').\nSupports pagination and cutoff time filtering."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseTotalRowsStatsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#DataWarehouseTotalRowsStatsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseTotalRowsStatsRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/total_rows_stats/",
          "code": 200
        },
        "smithy.api#documentation": "Returns aggregated statistics for the data warehouse total rows processed within the current billing period.\nUsed by the frontend data warehouse scene to display usage information."
      }
    },
    "com.posthog.data_warehouse#DataWarehouseWarehouseStatusRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.data_warehouse#WarehouseStatusResponse": {
      "type": "structure",
      "members": {
        "org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "duckgres org identifier (the PostHog organization id)",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.data_warehouse#WarehouseStatusResponseStateEnum",
          "traits": {
            "smithy.api#documentation": "Overall provisioning lifecycle state\n\n* `pending` - pending\n* `provisioning` - provisioning\n* `ready` - ready\n* `failed` - failed\n* `deleting` - deleting\n* `deleted` - deleted",
            "smithy.api#required": {}
          }
        },
        "status_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable detail for the current state",
            "smithy.api#required": {}
          }
        },
        "s3_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object-store sub-resource provisioning state",
            "smithy.api#required": {}
          }
        },
        "metadata_store_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Metadata-store sub-resource provisioning state",
            "smithy.api#required": {}
          }
        },
        "identity_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Worker identity sub-resource provisioning state",
            "smithy.api#required": {}
          }
        },
        "secrets_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Credentials sub-resource provisioning state",
            "smithy.api#required": {}
          }
        },
        "ready_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the warehouse became ready",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When provisioning failed",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "connection": {
          "target": "com.posthog.data_warehouse#WarehouseConnection",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_backfill": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this project already has a warehouse backfill configured. When true, its table name is fixed and the enable form should not be shown.",
            "smithy.api#required": {}
          }
        },
        "table_suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This project's per-environment table suffix (events_<suffix>). Null when the project still writes to the shared tables.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_onboarded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this project is onboarded onto the managed warehouse. False when the warehouse exists but this project has not picked a schema yet — show the onboarding screen in that case.",
            "smithy.api#required": {}
          }
        },
        "schema_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Schema this project's data lands in. Null when the project is not onboarded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#WarehouseStatusResponseStateEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "provisioning"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pending` - pending\n* `provisioning` - provisioning\n* `ready` - ready\n* `failed` - failed\n* `deleting` - deleting\n* `deleted` - deleted"
      }
    },
    "com.posthog.data_warehouse#WarehouseConnection": {
      "type": "structure",
      "members": {
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection host — the warehouse name is the SNI subdomain, e.g. my-warehouse.dw.us.postwh.com",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Postgres wire-protocol port",
            "smithy.api#required": {}
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Database to connect to — always 'ducklake'",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Root database username",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.data_warehouse#DataWarehouseWarehouseStatusRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.data_warehouse#DataWarehouseWarehouseStatusRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.data_warehouse#WarehouseStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/data_warehouse/warehouse_status/",
          "code": 200
        },
        "smithy.api#documentation": "Get the current provisioning status of the managed warehouse, with this project's onboarding state."
      }
    },
    "com.posthog.data_warehouse#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.data_warehouse#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.data_warehouse#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.data_warehouse#DataWarehouse": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.data_warehouse#DataWarehouseCheckDatabaseNameRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseCheckSchemaNameRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseCompletedActivityRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDataHealthIssuesRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDataOpsDashboardRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDataQualityGateRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDataQualityGatePartialUpdate"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDeleteOrgDestroy"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseDeprovisionCreate"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseJobStatsRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseDataStatusRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseMonitoringTimeseriesRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseManagedWarehouseSourceSchemasRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseOnboardTeamCreate"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehousePropertyValuesRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseProvisionCreate"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseResetPasswordCreate"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseRunningActivityRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseTotalRowsStatsRetrieve"
        },
        {
          "target": "com.posthog.data_warehouse#DataWarehouseWarehouseStatusRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
