{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.elements#ElementsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.elements#PaginatedElementList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.elements#PaginatedElementListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.elements#Element": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tag_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attr_class": {
          "target": "com.posthog.elements#ElementAttrClassList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attr_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "nth_child": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "nth_of_type": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attributes": {
          "target": "smithy.api#Document"
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.elements#ElementAttrClassList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.elements#PaginatedElementListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.elements#Element"
      },
      "traits": {}
    },
    "com.posthog.elements#ElementsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.elements#ElementsListRequest"
      },
      "output": {
        "target": "com.posthog.elements#PaginatedElementList"
      },
      "errors": [
        {
          "target": "com.posthog.elements#BadRequest"
        },
        {
          "target": "com.posthog.elements#Forbidden"
        },
        {
          "target": "com.posthog.elements#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/elements/",
          "code": 200
        }
      }
    },
    "com.posthog.elements#ElementsCreateRequestAttrClassList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.elements#ElementsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tag_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attr_class": {
          "target": "com.posthog.elements#ElementsCreateRequestAttrClassList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attr_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "nth_child": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "nth_of_type": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attributes": {
          "target": "smithy.api#Document"
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.elements#ElementsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.elements#ElementsCreateRequest"
      },
      "output": {
        "target": "com.posthog.elements#Element"
      },
      "errors": [
        {
          "target": "com.posthog.elements#BadRequest"
        },
        {
          "target": "com.posthog.elements#Forbidden"
        },
        {
          "target": "com.posthog.elements#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/elements/",
          "code": 200
        }
      }
    },
    "com.posthog.elements#ElementsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this element."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.elements#ElementsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.elements#ElementsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.elements#Element"
      },
      "errors": [
        {
          "target": "com.posthog.elements#Forbidden"
        },
        {
          "target": "com.posthog.elements#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/elements/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.elements#ElementsUpdateRequestAttrClassList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.elements#ElementsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this element."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tag_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attr_class": {
          "target": "com.posthog.elements#ElementsUpdateRequestAttrClassList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attr_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "nth_child": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "nth_of_type": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attributes": {
          "target": "smithy.api#Document"
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.elements#ElementsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.elements#ElementsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.elements#Element"
      },
      "errors": [
        {
          "target": "com.posthog.elements#BadRequest"
        },
        {
          "target": "com.posthog.elements#Forbidden"
        },
        {
          "target": "com.posthog.elements#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/elements/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.elements#ElementsPartialUpdateRequestAttrClassList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.elements#ElementsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this element."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tag_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attr_class": {
          "target": "com.posthog.elements#ElementsPartialUpdateRequestAttrClassList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attr_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "nth_child": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "nth_of_type": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "attributes": {
          "target": "smithy.api#Document"
        },
        "order": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.elements#ElementsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.elements#ElementsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.elements#Element"
      },
      "errors": [
        {
          "target": "com.posthog.elements#BadRequest"
        },
        {
          "target": "com.posthog.elements#Forbidden"
        },
        {
          "target": "com.posthog.elements#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/elements/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.elements#ElementsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A unique integer value identifying this element."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.elements#ElementsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.elements#ElementsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.elements#Forbidden"
        },
        {
          "target": "com.posthog.elements#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/elements/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.elements#ElementsStatsRetrieveRequestIncludeList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.elements#ElementsStatsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "data_attributes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "data_attributes",
            "smithy.api#documentation": "Comma-separated data attribute names (wildcards allowed, e.g. data-*). When provided, each element's attributes map is filtered to matching attr__* keys, shrinking the response."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Start of the date range (e.g. -7d, 2024-01-01). Defaults to last 7 days."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "End of the date range (e.g. 2024-01-31). Defaults to now."
          }
        },
        "filter_test_accounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "filter_test_accounts",
            "smithy.api#documentation": "When true, applies the project's internal-and-test-account filters to the underlying events. Pass the lowercase string true; other truthy spellings are ignored."
          }
        },
        "include": {
          "target": "com.posthog.elements#ElementsStatsRetrieveRequestIncludeList",
          "traits": {
            "smithy.api#httpQuery": "include",
            "smithy.api#documentation": "Event types to include: $autocapture, $rageclick, $dead_click. Defaults to all three. Accepts repeated parameters, a JSON array, or a comma-separated list."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum rows per page"
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Pagination offset"
          }
        },
        "properties": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "properties",
            "smithy.api#documentation": "JSON-encoded list of property filters to apply to the underlying events, e.g. [{\"key\": \"$current_url\", \"value\": \"https://example.com/page\"}] or [{\"key\": \"email\", \"value\": \"@posthog.com\", \"operator\": \"icontains\", \"type\": \"person\"}]. Supports event, person, cohort, element, and HogQL property filter types."
          }
        },
        "sampling_factor": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "sampling_factor",
            "smithy.api#documentation": "Sampling factor between 0 and 1"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.elements#ElementStatsResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.elements#ElementStatsResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Element chains with event counts, ordered by count",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the next page of results, if any",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL for the previous page of results, if any",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.elements#ElementStats": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of events matching this element chain",
            "smithy.api#required": {}
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identity of the raw element chain (hash computed before any attribute filtering), for deduplicating rows across pages",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event type: $autocapture, $rageclick, or $dead_click",
            "smithy.api#required": {}
          }
        },
        "elements": {
          "target": "com.posthog.elements#ElementStatsElementsList",
          "traits": {
            "smithy.api#documentation": "Parsed elements of the chain, clicked element first",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.elements#ElementStatsElementsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.elements#Element"
      },
      "traits": {
        "smithy.api#documentation": "Parsed elements of the chain, clicked element first"
      }
    },
    "com.posthog.elements#ElementStatsResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.elements#ElementStats"
      },
      "traits": {
        "smithy.api#documentation": "Element chains with event counts, ordered by count"
      }
    },
    "com.posthog.elements#ElementsStatsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.elements#ElementsStatsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.elements#ElementStatsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.elements#Forbidden"
        },
        {
          "target": "com.posthog.elements#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/elements/stats/",
          "code": 200
        },
        "smithy.api#documentation": "Counts of $autocapture, $rageclick, and $dead_click events grouped by the element chain\nthey occurred on, ordered by count. Defaults to all three event types; narrow with the\ninclude parameter."
      }
    },
    "com.posthog.elements#ElementsValuesListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "key",
            "smithy.api#required": {},
            "smithy.api#documentation": "Element property to list values for: tag_name, text, href, or attr_id."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "value",
            "smithy.api#documentation": "Optional substring to filter values by (case-sensitive contains match)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.elements#ElementValue": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A distinct value of the requested element property",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.elements#ElementsValuesListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.elements#ElementValue"
      },
      "traits": {}
    },
    "com.posthog.elements#ElementsValuesListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.elements#ElementsValuesListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.elements#ElementsValuesList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.elements#ElementsValuesListRequest"
      },
      "output": {
        "target": "com.posthog.elements#ElementsValuesListResponse"
      },
      "errors": [
        {
          "target": "com.posthog.elements#Forbidden"
        },
        {
          "target": "com.posthog.elements#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/elements/values/",
          "code": 200
        }
      }
    },
    "com.posthog.elements#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.elements#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.posthog.elements#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.posthog.elements#Elements": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.elements#ElementsList"
        },
        {
          "target": "com.posthog.elements#ElementsCreate"
        },
        {
          "target": "com.posthog.elements#ElementsRetrieve"
        },
        {
          "target": "com.posthog.elements#ElementsUpdate"
        },
        {
          "target": "com.posthog.elements#ElementsPartialUpdate"
        },
        {
          "target": "com.posthog.elements#ElementsDestroy"
        },
        {
          "target": "com.posthog.elements#ElementsStatsRetrieve"
        },
        {
          "target": "com.posthog.elements#ElementsValuesList"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
