{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "author",
            "smithy.api#required": {},
            "smithy.api#documentation": "GitHub handle whose CI spend to break down."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Window start: relative ('-30d', '-8w') or ISO8601. Defaults to -30d."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Window end: relative or ISO8601. Defaults to now."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#WorkflowCost": {
      "type": "structure",
      "members": {
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub Actions workflow name this cost is for.",
            "smithy.api#required": {}
          }
        },
        "billable_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Billable (self-hosted) minutes for this workflow within the scope.",
            "smithy.api#required": {}
          }
        },
        "estimated_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated dollar cost for this workflow, or null when nothing was costable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "costed_jobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Costed jobs for this workflow (billable Linux runner, finished).",
            "smithy.api#required": {}
          }
        },
        "unsettled_jobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Billable Linux jobs still queued/running for this workflow.",
            "smithy.api#required": {}
          }
        },
        "excluded_jobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Provider-hosted/non-Linux jobs for this workflow, outside the estimate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#WorkflowCost"
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCosts": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsAuthorWorkflowCostsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/author_workflow_costs/",
          "code": 200
        },
        "smithy.api#documentation": "One author's estimated CI cost split by workflow over a window (date_from default -30d), highest spend first. Runs are attributed to the author through their pull requests (attribution is by PR number). Returns an empty list when the job-level source isn't synced."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsBrokenTestsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#BrokenTestsResult": {
      "type": "structure",
      "members": {
        "rows": {
          "target": "com.posthog.engineering_analytics#BrokenTestsResultRowsList",
          "traits": {
            "smithy.api#documentation": "Classified failures ranked by triage urgency — breaking trunk first, single-PR failures last.",
            "smithy.api#required": {}
          }
        },
        "breaking_master_jobs": {
          "target": "com.posthog.engineering_analytics#BrokenTestsResultBreakingMasterJobsList",
          "traits": {
            "smithy.api#documentation": "Default-branch job names whose latest completed run is failing — the 'what's on fire right now' summary. Empty when the job-level source isn't synced or trunk is green.",
            "smithy.api#required": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Length in days of the analysis window the counts cover.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more failures qualified than the cap; `rows` is the top `limit` by urgency.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of rows returned.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#BrokenTestRow": {
      "type": "structure",
      "members": {
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identity of this distinct failure: the failing test's node id plus a normalized error signature, so the same failure across runs groups into one row.",
            "smithy.api#required": {}
          }
        },
        "test_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pytest node id from the CI 'FAILED <id>' line — the failing test.",
            "smithy.api#required": {}
          }
        },
        "error_signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The trailing failure detail with volatile bits (numbers, hashes) normalized, shared across runs of the same failure. Empty when the FAILED line carried no detail.",
            "smithy.api#required": {}
          }
        },
        "job_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CI job the failure most recently came from. Matched against default-branch job status to decide whether trunk is currently broken by it.",
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "'owner/name' repository the failure belongs to.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.engineering_analytics#BrokenTestRowStateEnum",
          "traits": {
            "smithy.api#documentation": "The classifier's verdict on how this failure is behaving right now: 'breaking_master' (failing on trunk, latest trunk run still red), 'novel_burst' (new within a day and spreading across branches, not on trunk yet), 'potentially_resolved' (hit trunk but trunk is green again), 'flaky' (sporadic across branches over more than a day), or 'pr_only' (confined to one branch — one PR's own problem).\n\n* `breaking_master` - BREAKING_MASTER\n* `novel_burst` - NOVEL_BURST\n* `potentially_resolved` - POTENTIALLY_RESOLVED\n* `flaky` - FLAKY\n* `pr_only` - PR_ONLY",
            "smithy.api#required": {}
          }
        },
        "first_seen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest failure line for this fingerprint in the analysis window.",
            "smithy.api#required": {}
          }
        },
        "last_seen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent failure line for this fingerprint in the analysis window.",
            "smithy.api#required": {}
          }
        },
        "occurrences": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total failure lines for this fingerprint in the window. An absolute count, never a rate — passing runs aren't in this data.",
            "smithy.api#required": {}
          }
        },
        "branches": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct branches the failure appeared on in the window.",
            "smithy.api#required": {}
          }
        },
        "master_hits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Failure lines on the default branch (master/main). 0 means it never reached trunk.",
            "smithy.api#required": {}
          }
        },
        "latest_run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The most recent failing workflow run for this fingerprint — pass it to run_failure_logs to fetch the actual failing log lines.",
            "smithy.api#required": {}
          }
        },
        "latest_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The branch of the most recent failing run.",
            "smithy.api#required": {}
          }
        },
        "trend_24h": {
          "target": "com.posthog.engineering_analytics#BrokenTestRowTrend24hList",
          "traits": {
            "smithy.api#documentation": "Hourly failure counts over the last 24 hours, oldest first (fixed 24-slot array), for the row sparkline. All zeros when nothing failed in the last day."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#BrokenTestRowStateEnum": {
      "type": "enum",
      "members": {
        "BREAKING_MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "breaking_master"
          }
        },
        "NOVEL_BURST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "novel_burst"
          }
        },
        "POTENTIALLY_RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "potentially_resolved"
          }
        },
        "FLAKY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flaky"
          }
        },
        "PR_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pr_only"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `breaking_master` - BREAKING_MASTER\n* `novel_burst` - NOVEL_BURST\n* `potentially_resolved` - POTENTIALLY_RESOLVED\n* `flaky` - FLAKY\n* `pr_only` - PR_ONLY"
      }
    },
    "com.posthog.engineering_analytics#BrokenTestRowTrend24hList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Hourly failure counts over the last 24 hours, oldest first (fixed 24-slot array), for the row sparkline. All zeros when nothing failed in the last day."
      }
    },
    "com.posthog.engineering_analytics#BrokenTestsResultRowsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#BrokenTestRow"
      },
      "traits": {
        "smithy.api#documentation": "Classified failures ranked by triage urgency — breaking trunk first, single-PR failures last."
      }
    },
    "com.posthog.engineering_analytics#BrokenTestsResultBreakingMasterJobsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Default-branch job names whose latest completed run is failing — the 'what's on fire right now' summary. Empty when the job-level source isn't synced or trunk is green."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsBrokenTests": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsBrokenTestsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#BrokenTestsResult"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/broken_tests/",
          "code": 200
        },
        "smithy.api#documentation": "The broken-tests triage panel: live CI failures over the last 2 days grouped into distinct failures (by test id + normalized error signature) and classified by how each is behaving right now — breaking trunk, a new failure spreading across branches, probably-resolved, flaky, or one PR's own problem — ranked with the most urgent first. Also returns breaking_master_jobs, the default-branch jobs whose latest run is red. Reach for this to answer 'what CI failures should I care about right now'; expand a row's latest_run_id via run_failure_logs for the failing lines. Fingerprinting is pytest-only for now (jest/playwright/cargo failures aren't grouped yet), and the breaking/resolved distinction needs the job-level source synced — without it those failures fall through to flaky/pr_only rather than being misreported."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiSignalsConfigRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#CISignalsConfig": {
      "type": "structure",
      "members": {
        "configured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this project has ever configured CI signals.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether every CI signal detector is enabled.",
            "smithy.api#required": {}
          }
        },
        "sync_status": {
          "target": "com.posthog.engineering_analytics#SyncStatusEnum",
          "traits": {
            "smithy.api#documentation": "Aggregate sync status for pull requests, workflow runs, and workflow jobs.\n\n* `running` - RUNNING\n* `completed` - COMPLETED\n* `failed` - FAILED",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#SyncStatusEnum": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `running` - RUNNING\n* `completed` - COMPLETED\n* `failed` - FAILED"
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiSignalsConfigRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsCiSignalsConfigRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CISignalsConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/ci-signals-config/",
          "code": 200
        },
        "smithy.api#documentation": "Return the atomic CI Signals configuration and aggregate GitHub warehouse sync status."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiSignalsConfigUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable or disable every CI signal detector atomically.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiSignalsConfigUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsCiSignalsConfigUpdateRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CISignalsConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/engineering_analytics/ci-signals-config/",
          "code": 200
        },
        "smithy.api#documentation": "Enable or disable all CI signal detectors in one transaction."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiCardsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#CICardSummary": {
      "type": "structure",
      "members": {
        "open_prs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of open pull requests.",
            "smithy.api#required": {}
          }
        },
        "repos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct repositories with at least one open pull request.",
            "smithy.api#required": {}
          }
        },
        "stuck": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Open, non-draft, non-bot pull requests older than 7 days.",
            "smithy.api#required": {}
          }
        },
        "failing_ci": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Open pull requests with at least one failing latest CI run. May lag until the workflow_run webhook settles late completions.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiCards": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsCiCardsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CICardSummary"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/ci_cards/",
          "code": 200
        },
        "smithy.api#documentation": "Headline counts for the open-PR backlog: open PRs, distinct repos, stuck PRs (open, non-draft, non-bot, older than 7 days), and PRs with failing CI. The failing-CI count rests on the head-SHA join and can lag until late CI completions settle."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiFailureLogsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#required": {},
            "smithy.api#documentation": "Pull request number whose CI failure logs to fetch."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#required": {},
            "smithy.api#documentation": "'owner/name' repository the pull request belongs to."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#CIFailureLogs": {
      "type": "structure",
      "members": {
        "repo": {
          "target": "com.posthog.engineering_analytics#RepoRef",
          "traits": {
            "smithy.api#documentation": "Repository the pull request belongs to.",
            "smithy.api#required": {}
          }
        },
        "jobs": {
          "target": "com.posthog.engineering_analytics#CIFailureLogsJobsList",
          "traits": {
            "smithy.api#documentation": "Failed CI jobs with their thinned failure logs, grouped by job.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number the failure logs are for.",
            "smithy.api#required": {}
          }
        },
        "runs_attributed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflow runs attributed to the PR (across all its pushes) that were searched for logs.",
            "smithy.api#required": {}
          }
        },
        "logs_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when no failure logs were found — CI hasn't failed, the logs aged out of the short Logs retention, or a fork PR carries no run association to resolve.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the overall line cap across all jobs was hit.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#RepoRef": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code host provider, e.g. 'github'.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository owner or organization.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIJobFailureLog": {
      "type": "structure",
      "members": {
        "lines": {
          "target": "com.posthog.engineering_analytics#CIJobFailureLogLinesList",
          "traits": {
            "smithy.api#documentation": "The thinned failure-log lines in original order, with omission markers.",
            "smithy.api#required": {}
          }
        },
        "job_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub Actions job id of the failed job.",
            "smithy.api#required": {}
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflow run id the job belongs to.",
            "smithy.api#required": {}
          }
        },
        "conclusion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Job conclusion ('failure', 'timed_out', ...). Only failed jobs have logs.",
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch the run was triggered on, or '' when unknown.",
            "smithy.api#required": {}
          }
        },
        "original_total_lines": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total lines in the full job log before thinning (the denominator for each line's original_line); 0 when unknown.",
            "smithy.api#required": {}
          }
        },
        "line_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of lines returned for this job (after the per-job cap).",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the job had more failure lines than the per-job cap.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIFailureLogLine": {
      "type": "structure",
      "members": {
        "original_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1-based line number in the full pre-thinning job log, or null for a '... N lines omitted ...' marker. The gap between consecutive values is how many lines were elided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The log line text, or the omission-marker text.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIJobFailureLogLinesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#CIFailureLogLine"
      },
      "traits": {
        "smithy.api#documentation": "The thinned failure-log lines in original order, with omission markers."
      }
    },
    "com.posthog.engineering_analytics#CIFailureLogsJobsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#CIJobFailureLog"
      },
      "traits": {
        "smithy.api#documentation": "Failed CI jobs with their thinned failure logs, grouped by job."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCiFailureLogs": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsCiFailureLogsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CIFailureLogs"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/ci_failure_logs/",
          "code": 200
        },
        "smithy.api#documentation": "The thinned CI failure logs for a pull request, grouped by failed job. Resolves the PR to its workflow runs via the pull_requests association (all of the PR's pushes, not just the latest commit), then reads the Logs product joined on run_id. Returns failed jobs only (the worker fetches logs for failures); logs_available is false when CI hasn't failed, the logs aged out of the short Logs retention, or a fork PR has no run association. Each line carries its original 1-based line number in the full pre-thinning log; lines are the failure region (errors plus surrounding context, with omission markers), capped per job and overall."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCurrentBranchHealthRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#CurrentBranchHealth": {
      "type": "structure",
      "members": {
        "default_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Detected default branch ('master' or 'main') from runs in the same 24-hour window.",
            "smithy.api#required": {}
          }
        },
        "settled_workflows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflows with at least one completed run in the last 24 hours.",
            "smithy.api#required": {}
          }
        },
        "failing_workflows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflows whose latest completed run in the last 24 hours failed or timed out.",
            "smithy.api#required": {}
          }
        },
        "failing_workflow_names": {
          "target": "com.posthog.engineering_analytics#CurrentBranchHealthFailingWorkflowNamesList",
          "traits": {
            "smithy.api#documentation": "Alphabetical preview of failing workflow names, capped at 20; use failing_workflows for the complete count.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CurrentBranchHealthFailingWorkflowNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Alphabetical preview of failing workflow names, capped at 20; use failing_workflows for the complete count."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsCurrentBranchHealth": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsCurrentBranchHealthRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#CurrentBranchHealth"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/current_branch_health/",
          "code": 200
        },
        "smithy.api#documentation": "Current default-branch CI verdict over the fixed last-24-hours window. Counts every workflow whose latest completed run failed or timed out; failing workflow names are a bounded preview. The default branch is detected from the same window, independently of analytics date filters."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsFlakyTestsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Window start: relative ('-7d', '-30d') or ISO8601. Defaults to -7d; the window may span at most 30 days."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Window end: relative or ISO8601. Defaults to now."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of tests to return (1-200). Defaults to 50."
          }
        },
        "min_failed_prs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "min_failed_prs",
            "smithy.api#documentation": "A test with no recorded recovery qualifies once it failed on at least this many distinct pull requests in the window. Minimum 1. Defaults to 3."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#FlakyTestList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.engineering_analytics#FlakyTestListItemsList",
          "traits": {
            "smithy.api#documentation": "Tests worth acting on now, ranked by blast radius: master failures, then PRs hit, then runs.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more tests qualified than the cap; `items` is the highest-ranked `limit` rows.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of tests returned in `items`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#FlakyTestItem": {
      "type": "structure",
      "members": {
        "nodeid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reconstructed pytest nodeid (the CI span name), e.g. 'posthog/api/test/test_event/TestEvents::test_x'. A stable grouping key, not a runnable selector — use `selector` to run or quarantine the test.",
            "smithy.api#required": {}
          }
        },
        "selector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Runnable pytest selector, e.g. 'posthog/api/test/test_event.py::TestEvents::test_x'. Exact when the CI reporter emitted it; otherwise reconstructed from the nodeid, where the file/class boundary is a best-effort guess.",
            "smithy.api#required": {}
          }
        },
        "classification": {
          "target": "com.posthog.engineering_analytics#FlakyTestItemClassificationEnum",
          "traits": {
            "smithy.api#documentation": "confirmed_flake: one commit both failed and passed the test (a re-run attempt went green, or an in-job retry recovered it), so it is provably nondeterministic. quarantined: it fails while masked as xfail. suspected_regression: only failures were recorded, which is absence of proof, not proof that it is a real break.\n\n* `confirmed_flake` - CONFIRMED_FLAKE\n* `suspected_regression` - SUSPECTED_REGRESSION\n* `quarantined` - QUARANTINED",
            "smithy.api#required": {}
          }
        },
        "same_commit_recovery_run_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Runs where one commit both failed and passed the test: a 'Re-run failed jobs' attempt went green on the same commit, or an in-job pytest retry (tests hand-marked @pytest.mark.flaky(reruns=N)) recovered it. A pass in a different run is a different commit and never counts.",
            "smithy.api#required": {}
          }
        },
        "failed_run_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct CI runs whose recorded outcome was failed or error. A run counts once however many matrix legs it failed in.",
            "smithy.api#required": {}
          }
        },
        "failed_pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct pull requests among the failed runs. Failures on master or unattributed branches carry no PR number and are excluded here (still in failed_run_count).",
            "smithy.api#required": {}
          }
        },
        "master_failed_run_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Failed runs on the default branch (master/main approximation): the 'matters right now' signal that a test is breaking the trunk, not just PR branches.",
            "smithy.api#required": {}
          }
        },
        "quarantined_failed_run_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Runs where the test failed while quarantined (xfail): already masked in CI, still failing.",
            "smithy.api#required": {}
          }
        },
        "last_signal_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent failure, recovery, or xfail run for this test in the window.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#FlakyTestItemClassificationEnum": {
      "type": "enum",
      "members": {
        "CONFIRMED_FLAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "confirmed_flake"
          }
        },
        "SUSPECTED_REGRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspected_regression"
          }
        },
        "QUARANTINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarantined"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `confirmed_flake` - CONFIRMED_FLAKE\n* `suspected_regression` - SUSPECTED_REGRESSION\n* `quarantined` - QUARANTINED"
      }
    },
    "com.posthog.engineering_analytics#FlakyTestListItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#FlakyTestItem"
      },
      "traits": {
        "smithy.api#documentation": "Tests worth acting on now, ranked by blast radius: master failures, then PRs hit, then runs."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsFlakyTests": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsFlakyTestsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#FlakyTestList"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/flaky_tests/",
          "code": 200
        },
        "smithy.api#documentation": "The active test-health queue: backend tests worth acting on now, from the per-test CI spans, over a window (default -7d, maximum 30 days). Evidence is counted per CI run, never per span or run attempt. A test is a 'confirmed_flake' when one commit both failed and passed it (a 'Re-run failed jobs' attempt went green, or an in-job retry recovered it); 'quarantined' when it fails while masked as xfail; otherwise 'suspected_regression'. It qualifies on any same-commit recovery, any master/main failure, an xfail, or failures on at least min_failed_prs distinct PRs. Counts are absolute, never rates: CI emits a span for every failure but only for passes slow enough to clear the emitter's duration threshold, so there is no execution denominator. 'suspected_regression' means no recovery was recorded in this data, not that the test never flakes."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsJobAggregatesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branch",
            "smithy.api#documentation": "Optional exact git branch (head_branch) to scope results to, e.g. 'main'. Omit or leave blank to aggregate across all branches."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Window start: relative ('-30d', '-8w') or ISO8601. Defaults to -30d."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Window end: relative or ISO8601. Defaults to now."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        },
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "workflow_name",
            "smithy.api#required": {},
            "smithy.api#documentation": "Workflow name to aggregate jobs for."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#WorkflowJobAggregate": {
      "type": "structure",
      "members": {
        "job_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "De-sharded job name: the matrix '(G/N)' suffix is stripped and unexpanded '${{ matrix.* }}' templates are collapsed, so shards of one matrix aggregate together.",
            "smithy.api#required": {}
          }
        },
        "job_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Job instances observed in the window (all shards, all attempts).",
            "smithy.api#required": {}
          }
        },
        "shard_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct raw job names inside the group - the observed matrix width.",
            "smithy.api#required": {}
          }
        },
        "runs_in": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct workflow runs the job appeared in.",
            "smithy.api#required": {}
          }
        },
        "run_share": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "runs_in divided by the workflow's total runs in the window; below 1.0 means the job is conditional and skips some runs. Null when the workflow had no runs.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "queue_p50_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median queue wait (created to started) in seconds - where runner-capacity problems hide. Null when nothing started.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "p50_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median duration of successful job instances, in seconds — cancelled and failed instances end early and would bias the percentile. Null if none succeeded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "p95_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "95th-percentile duration of successful job instances, in seconds — cancelled and failed instances end early and would bias the percentile. Null if none succeeded.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failure_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Decisive failures ('failure', 'timed_out') over completed instances (0-1). Null if none completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "retry_job_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Job instances that ran on a 2nd+ run attempt - retry pressure.",
            "smithy.api#required": {}
          }
        },
        "billable_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Billable (self-hosted) minutes across the group's instances; null when every instance ran on an unknown tier.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "estimated_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated cost in USD via the runner-tier rate ladder; null when every instance ran on an unknown tier.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsJobAggregatesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#WorkflowJobAggregate"
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsJobAggregatesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.engineering_analytics#EngineeringAnalyticsJobAggregatesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsJobAggregates": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsJobAggregatesRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsJobAggregatesResponse"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/job_aggregates/",
          "code": 200
        },
        "smithy.api#documentation": "Per-job aggregates for one workflow over a window (default -30d), one row per de-sharded job name (matrix shards aggregate together), busiest first: queue p50, duration p50/p95, failure rate, retry pressure, run share (below 1.0 = conditional job), and billable cost. Jobs always need their run as context — this is the aggregate view; use workflow_jobs for one run's jobs. Empty when the job-level source isn't synced."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsMasterFailuresRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "branch",
            "smithy.api#documentation": "Optional exact git branch (head_branch) to scope results to, e.g. 'main'. Omit or leave blank to aggregate across all branches."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Window start: relative ('-24h', '-7d') or ISO8601. Defaults to -24h."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Window end: relative or ISO8601. Defaults to now."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#MasterFailureGroup": {
      "type": "structure",
      "members": {
        "repo": {
          "target": "com.posthog.engineering_analytics#RepoRef",
          "traits": {
            "smithy.api#documentation": "Repository the failures occurred in.",
            "smithy.api#required": {}
          }
        },
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub Actions workflow name the failing runs belong to.",
            "smithy.api#required": {}
          }
        },
        "failed_job": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "De-sharded failing job name (matrix '(G/N)' suffix stripped) — the group's failure signature together with the workflow. '' when the job-level source isn't synced and the group degrades to workflow level.",
            "smithy.api#required": {}
          }
        },
        "run_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct failing default-branch runs in this group within the window.",
            "smithy.api#required": {}
          }
        },
        "first_seen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the oldest failing run in the group started.",
            "smithy.api#required": {}
          }
        },
        "last_seen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the newest failing run in the group started.",
            "smithy.api#required": {}
          }
        },
        "latest_run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Run id of the newest failing run — the drill-down anchor.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsMasterFailuresResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#MasterFailureGroup"
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsMasterFailuresResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.engineering_analytics#EngineeringAnalyticsMasterFailuresResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsMasterFailures": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsMasterFailuresRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsMasterFailuresResponse"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/master_failures/",
          "code": 200
        },
        "smithy.api#documentation": "Default-branch failures over a window (default -24h), grouped error-tracking style by (workflow, de-sharded failing job) with a run count and first/last seen, newest group first. `branch` overrides the detected default branch. PR-branch failures are deliberately excluded — at monorepo volume a flat feed is a firehose; those surface per PR. Groups degrade to workflow level (failed_job '') when the job-level source isn't synced."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPrCostRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#required": {},
            "smithy.api#documentation": "Pull request number to estimate cost for."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#required": {},
            "smithy.api#documentation": "'owner/name' repository the pull request belongs to."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#PRCostSummary": {
      "type": "structure",
      "members": {
        "by_workflow": {
          "target": "com.posthog.engineering_analytics#PRCostSummaryByWorkflowList",
          "traits": {
            "smithy.api#documentation": "Same spend broken down per workflow.",
            "smithy.api#required": {}
          }
        },
        "by_run": {
          "target": "com.posthog.engineering_analytics#PRCostSummaryByRunList",
          "traits": {
            "smithy.api#documentation": "Same spend broken down per workflow run, keyed by (run_id, run_attempt).",
            "smithy.api#required": {}
          }
        },
        "llm_spend": {
          "target": "com.posthog.engineering_analytics#PRLLMSpend",
          "traits": {
            "smithy.api#documentation": "Agent LLM token spend attributed to this PR by git branch ($ai_git_branch), or null when no generation matched — independent of the CI cost figures, so it can be present even when jobs_available is false. The UI hides the row when null.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "jobs_available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "False when the job-level source (github_workflow_jobs) isn't synced — every figure is then zero/null and the cost cards should be hidden.",
            "smithy.api#required": {}
          }
        },
        "billable_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Billable CI minutes: each costed (self-hosted) job's elapsed time, summed. Parallel jobs add up, so this is compute time spent, not wall-clock run duration.",
            "smithy.api#required": {}
          }
        },
        "estimated_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated dollar cost (sum of per-job estimates: elapsed x tier multiplier x reference rate). Null when no job was costable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "costed_jobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Jobs counted in the estimate (billable Linux runner, finished).",
            "smithy.api#required": {}
          }
        },
        "unsettled_jobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Billable Linux jobs still queued/running (no elapsed) — excluded from the estimate.",
            "smithy.api#required": {}
          }
        },
        "excluded_jobs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Jobs on provider-hosted (GitHub-hosted, free) or non-Linux runners — outside the estimate.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#PRCostSummaryByWorkflowList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#WorkflowCost"
      },
      "traits": {
        "smithy.api#documentation": "Same spend broken down per workflow."
      }
    },
    "com.posthog.engineering_analytics#RunCost": {
      "type": "structure",
      "members": {
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub Actions run id this cost is for.",
            "smithy.api#required": {}
          }
        },
        "run_attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Re-run attempt number; 1 for the first attempt.",
            "smithy.api#required": {}
          }
        },
        "billable_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Billable (self-hosted) minutes for this run attempt.",
            "smithy.api#required": {}
          }
        },
        "estimated_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated dollar cost for this run attempt, or null when nothing was costable.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#PRCostSummaryByRunList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#RunCost"
      },
      "traits": {
        "smithy.api#documentation": "Same spend broken down per workflow run, keyed by (run_id, run_attempt)."
      }
    },
    "com.posthog.engineering_analytics#PRLLMSpend": {
      "type": "structure",
      "members": {
        "cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total agent LLM token cost in USD attributed to this PR (sum of $ai_total_cost_usd over the matched $ai_generation events).",
            "smithy.api#required": {}
          }
        },
        "input_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total input (prompt) tokens across the attributed generations.",
            "smithy.api#required": {}
          }
        },
        "output_tokens": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total output (completion) tokens across the attributed generations.",
            "smithy.api#required": {}
          }
        },
        "generations": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of $ai_generation events attributed to this PR by git branch ($ai_git_branch).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPrCost": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsPrCostRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#PRCostSummary"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/pr_cost/",
          "code": 200
        },
        "smithy.api#documentation": "Estimated CI cost for a pull request, summed over the jobs of all its workflow runs. Billable self-hosted Linux runners only — provider-hosted (free GitHub-hosted) and non-Linux jobs are excluded. Every figure is zero/null with `jobs_available` false when the job-level source isn't synced yet. `llm_spend` carries the agent LLM token spend attributed to the PR by git branch, or null when no `$ai_generation` event matched."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPrLifecycleRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#required": {},
            "smithy.api#documentation": "Pull request number to inspect."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#required": {},
            "smithy.api#documentation": "'owner/name' repository the pull request belongs to."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#PRLifecycle": {
      "type": "structure",
      "members": {
        "pull_request": {
          "target": "com.posthog.engineering_analytics#PullRequest",
          "traits": {
            "smithy.api#documentation": "The pull request header.",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.posthog.engineering_analytics#PRLifecycleEventsList",
          "traits": {
            "smithy.api#documentation": "Lifecycle events ordered by time.",
            "smithy.api#required": {}
          }
        },
        "metric_quality": {
          "target": "com.posthog.engineering_analytics#MetricQualityEnum",
          "traits": {
            "smithy.api#documentation": "Always 'partial' — CI events only; reviews and comments are not yet available.\n\n* `precise` - PRECISE\n* `coarse` - COARSE\n* `partial` - PARTIAL"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#PullRequest": {
      "type": "structure",
      "members": {
        "author": {
          "target": "com.posthog.engineering_analytics#Author",
          "traits": {
            "smithy.api#documentation": "The pull request author.",
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.posthog.engineering_analytics#RepoRef",
          "traits": {
            "smithy.api#documentation": "Repository the pull request belongs to.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub pull request id.",
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number within the repository.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request title.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.engineering_analytics#EngineeringAnalyticsPRStateEnum",
          "traits": {
            "smithy.api#documentation": "Derived state: 'open', 'closed', or 'merged'.\n\n* `open` - OPEN\n* `closed` - CLOSED\n* `merged` - MERGED",
            "smithy.api#required": {}
          }
        },
        "is_draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the pull request is a draft.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the pull request was opened.",
            "smithy.api#required": {}
          }
        },
        "merged_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the pull request was merged, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "closed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the pull request was closed, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#Author": {
      "type": "structure",
      "members": {
        "handle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login handle of the pull request author.",
            "smithy.api#required": {}
          }
        },
        "display_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name; equals the handle in v1.",
            "smithy.api#required": {}
          }
        },
        "avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the author's avatar image.",
            "smithy.api#required": {}
          }
        },
        "is_bot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the author is a bot (handle ends in [bot] or is a known bot).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPRStateEnum": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        },
        "MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merged"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `open` - OPEN\n* `closed` - CLOSED\n* `merged` - MERGED"
      }
    },
    "com.posthog.engineering_analytics#PRLifecycleEvent": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.posthog.engineering_analytics#PRLifecycleEventKindEnum",
          "traits": {
            "smithy.api#documentation": "Event kind: opened, ci_started, ci_finished, merged, or closed.\n\n* `opened` - OPENED\n* `ci_started` - CI_STARTED\n* `ci_finished` - CI_FINISHED\n* `merged` - MERGED\n* `closed` - CLOSED",
            "smithy.api#required": {}
          }
        },
        "at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the event occurred.",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional detail, e.g. workflow name and conclusion for CI events.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub Actions run id for ci_started/ci_finished events, null otherwise.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#PRLifecycleEventKindEnum": {
      "type": "enum",
      "members": {
        "OPENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opened"
          }
        },
        "CI_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci_started"
          }
        },
        "CI_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci_finished"
          }
        },
        "MERGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "merged"
          }
        },
        "CLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "closed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `opened` - OPENED\n* `ci_started` - CI_STARTED\n* `ci_finished` - CI_FINISHED\n* `merged` - MERGED\n* `closed` - CLOSED"
      }
    },
    "com.posthog.engineering_analytics#PRLifecycleEventsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#PRLifecycleEvent"
      },
      "traits": {
        "smithy.api#documentation": "Lifecycle events ordered by time."
      }
    },
    "com.posthog.engineering_analytics#MetricQualityEnum": {
      "type": "enum",
      "members": {
        "PRECISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "precise"
          }
        },
        "COARSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coarse"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "partial"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `precise` - PRECISE\n* `coarse` - COARSE\n* `partial` - PARTIAL"
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPrLifecycle": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsPrLifecycleRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#PRLifecycle"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        },
        {
          "target": "com.posthog.engineering_analytics#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/pr_lifecycle/",
          "code": 200
        },
        "smithy.api#documentation": "The timeline of a single pull request: header plus ordered events (opened, CI started/finished, merged or closed). Use this to answer 'where is this PR stuck and what happened to it'. This is a partial view: review and comment events are not yet available."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPrRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#required": {},
            "smithy.api#documentation": "Pull request number whose runs to list."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#required": {},
            "smithy.api#documentation": "'owner/name' repository the pull request belongs to."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#WorkflowRunDetail": {
      "type": "structure",
      "members": {
        "repo": {
          "target": "com.posthog.engineering_analytics#RepoRef",
          "traits": {
            "smithy.api#documentation": "Repository the run belongs to.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub Actions run id.",
            "smithy.api#required": {}
          }
        },
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub Actions workflow name.",
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit SHA the run was triggered on.",
            "smithy.api#required": {}
          }
        },
        "head_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch the run was triggered on.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw run status: 'queued', 'in_progress', 'completed', etc.",
            "smithy.api#required": {}
          }
        },
        "conclusion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run conclusion ('success', 'failure', 'timed_out', 'cancelled', 'skipped', 'action_required', ...), or null while still in progress.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "run_started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run started, or null for a queued/barely-started run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the run was last updated (its finish time once completed), or null when unstarted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "duration_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Wall-clock duration in seconds; null until the run completes.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "run_attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Re-run attempt number; 1 for the first attempt.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Attributed pull request number, or 0 when unattributed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPrRunsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#WorkflowRunDetail"
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPrRunsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.engineering_analytics#EngineeringAnalyticsPrRunsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPrRuns": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsPrRunsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsPrRunsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/engineering_analytics/pr_runs/",
          "code": 200
        },
        "smithy.api#documentation": "Every workflow run attributed to a pull request, across all its commits (grouped by head SHA client-side), newest first. Run-level only."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPullRequestsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "author",
            "smithy.api#documentation": "Optional GitHub login to scope the list to one author's pull requests."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Window start: relative ('-30d', '-8w') or ISO8601. Defaults to -30d."
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "'owner/name' repository to scope to when the selected source syncs several repositories (from the `sources` list). Defaults to the source's first repository."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Connected GitHub data warehouse source to read from. Defaults to the oldest connected GitHub source when the team has more than one."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.engineering_analytics#PullRequestList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.posthog.engineering_analytics#PullRequestListItemsList",
          "traits": {
            "smithy.api#documentation": "Pull requests, newest first, capped at `limit`.",
            "smithy.api#required": {}
          }
        },
        "truncated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more pull requests match than the cap; `items` is the newest `limit` rows and the aggregate counts in ci_cards can exceed it.",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of pull requests returned in `items`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#PullRequestListItem": {
      "type": "structure",
      "members": {
        "author": {
          "target": "com.posthog.engineering_analytics#Author",
          "traits": {
            "smithy.api#documentation": "The pull request author.",
            "smithy.api#required": {}
          }
        },
        "repo": {
          "target": "com.posthog.engineering_analytics#RepoRef",
          "traits": {
            "smithy.api#documentation": "Repository the pull request belongs to.",
            "smithy.api#required": {}
          }
        },
        "ci": {
          "target": "com.posthog.engineering_analytics#CIStatusRollup",
          "traits": {
            "smithy.api#documentation": "CI status from the latest workflow runs on the head SHA.",
            "smithy.api#required": {}
          }
        },
        "push_history": {
          "target": "com.posthog.engineering_analytics#PullRequestListItemPushHistoryList",
          "traits": {
            "smithy.api#documentation": "This PR's CI rounds oldest-first, capped to the most recent pushes - one sample per push for the push-history sparkline. `pushes` stays the uncapped count.",
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number within the repository.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request title.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.engineering_analytics#EngineeringAnalyticsPRStateEnum",
          "traits": {
            "smithy.api#documentation": "Derived state: 'open', 'closed', or 'merged'.\n\n* `open` - OPEN\n* `closed` - CLOSED\n* `merged` - MERGED",
            "smithy.api#required": {}
          }
        },
        "is_draft": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the pull request is a draft.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the pull request was opened.",
            "smithy.api#required": {}
          }
        },
        "merged_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the pull request was merged, or null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "open_to_merge_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Coarse open-to-merge time in seconds (merged_at - created_at; fuses draft and ready-for-review time). Null until merged.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.posthog.engineering_analytics#PullRequestListItemLabelsList",
          "traits": {
            "smithy.api#documentation": "GitHub label names on the pull request.",
            "smithy.api#required": {}
          }
        },
        "pushes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "CI triggers attributed to this PR: distinct head SHAs across its workflow runs. Fork-PR runs are unattributed.",
            "smithy.api#required": {}
          }
        },
        "rerun_cycles": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Workflow runs attributed to this PR that were a 2nd+ attempt (a re-run).",
            "smithy.api#required": {}
          }
        },
        "estimated_cost_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated CI cost in USD summed over this PR's jobs (billable runners only). Null when nothing was costable or the job-level source isn't synced.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "billable_minutes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Billable (self-hosted) minutes summed over this PR's jobs. Null when the job source isn't synced.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIStatusRollup": {
      "type": "structure",
      "members": {
        "runs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Distinct workflows run on the PR's head SHA.",
            "smithy.api#required": {}
          }
        },
        "passing": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest runs that completed with conclusion 'success'.",
            "smithy.api#required": {}
          }
        },
        "failing": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest runs that completed with conclusion 'failure' or 'timed_out'.",
            "smithy.api#required": {}
          }
        },
        "pending": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest runs not yet completed (queued or in progress).",
            "smithy.api#required": {}
          }
        },
        "failing_workflows": {
          "target": "com.posthog.engineering_analytics#CIStatusRollupFailingWorkflowsList",
          "traits": {
            "smithy.api#documentation": "The workflow names behind `failing`, sorted - names what is failing instead of leaving a bare count."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#CIStatusRollupFailingWorkflowsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The workflow names behind `failing`, sorted - names what is failing instead of leaving a bare count."
      }
    },
    "com.posthog.engineering_analytics#PushCISample": {
      "type": "structure",
      "members": {
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Head commit SHA of this push (CI round).",
            "smithy.api#required": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Earliest workflow-run start on this push.",
            "smithy.api#required": {}
          }
        },
        "wall_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Wall-clock CI seconds for this push: earliest run start to latest completed run end. Null while nothing has completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "failed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when any latest-per-workflow run on this push concluded 'failure' or 'timed_out'.",
            "smithy.api#required": {}
          }
        },
        "pending": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when any latest-per-workflow run on this push hasn't completed yet.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.engineering_analytics#PullRequestListItemPushHistoryList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#PushCISample"
      },
      "traits": {
        "smithy.api#documentation": "This PR's CI rounds oldest-first, capped to the most recent pushes - one sample per push for the push-history sparkline. `pushes` stays the uncapped count."
      }
    },
    "com.posthog.engineering_analytics#PullRequestListItemLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "GitHub label names on the pull request."
      }
    },
    "com.posthog.engineering_analytics#PullRequestListItemsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.engineering_analytics#PullRequestListItem"
      },
      "traits": {
        "smithy.api#documentation": "Pull requests, newest first, capped at `limit`."
      }
    },
    "com.posthog.engineering_analytics#EngineeringAnalyticsPullRequests": {
      "type": "operation",
      "input": {
        "target": "com.posthog.engineering_analytics#EngineeringAnalyticsPullRequestsRequest"
      },
      "output": {
        "target": "com.posthog.engineering_analytics#PullRequestList"
      },
      "errors": [
        {
          "target": "com.posthog.engineering_analytics#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
[...]
