{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.evaluation_directories#ListEvaluationDirectoriesRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluation_directories#EvaluationDirectory": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory name shown in the online evals list.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.evaluation_directories#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the directory.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of active evaluations in the directory.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluation_directories#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.evaluation_directories#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.evaluation_directories#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluation_directories#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.evaluation_directories#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.evaluation_directories#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.evaluation_directories#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.evaluation_directories#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.evaluation_directories#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.evaluation_directories#EvaluationDirectoriesListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.evaluation_directories#EvaluationDirectory"
      },
      "traits": {}
    },
    "com.posthog.evaluation_directories#ListEvaluationDirectoriesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.evaluation_directories#EvaluationDirectoriesListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.evaluation_directories#ListEvaluationDirectories": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluation_directories#ListEvaluationDirectoriesRequest"
      },
      "output": {
        "target": "com.posthog.evaluation_directories#ListEvaluationDirectoriesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/evaluation_directories/",
          "code": 200
        }
      }
    },
    "com.posthog.evaluation_directories#CreateEvaluationDirectoryRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory name shown in the online evals list.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluation_directories#CreateEvaluationDirectory": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluation_directories#CreateEvaluationDirectoryRequest"
      },
      "output": {
        "target": "com.posthog.evaluation_directories#EvaluationDirectory"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/evaluation_directories/",
          "code": 200
        }
      }
    },
    "com.posthog.evaluation_directories#EvaluationDirectoriesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation directory."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluation_directories#EvaluationDirectoriesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluation_directories#EvaluationDirectoriesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.evaluation_directories#EvaluationDirectory"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/evaluation_directories/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.evaluation_directories#UpdateEvaluationDirectoryPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation directory."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory name shown in the online evals list."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluation_directories#UpdateEvaluationDirectoryPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluation_directories#UpdateEvaluationDirectoryPartialRequest"
      },
      "output": {
        "target": "com.posthog.evaluation_directories#EvaluationDirectory"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/evaluation_directories/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.evaluation_directories#EvaluationDirectoriesDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this evaluation directory."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.evaluation_directories#EvaluationDirectoriesDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.evaluation_directories#EvaluationDirectoriesDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/evaluation_directories/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.evaluation_directories#EvaluationDirectories": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.evaluation_directories#ListEvaluationDirectories"
        },
        {
          "target": "com.posthog.evaluation_directories#CreateEvaluationDirectory"
        },
        {
          "target": "com.posthog.evaluation_directories#EvaluationDirectoriesRetrieve"
        },
        {
          "target": "com.posthog.evaluation_directories#UpdateEvaluationDirectoryPartial"
        },
        {
          "target": "com.posthog.evaluation_directories#EvaluationDirectoriesDestroy"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
