{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.experiments#ExperimentsListRequestStatus": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "complete"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "EXPOSURE_FROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exposure_frozen"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ListExperimentsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "archived",
            "smithy.api#documentation": "Filter by archived state. Defaults to non-archived experiments only."
          }
        },
        "created_by_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by_id",
            "smithy.api#documentation": "Filter to experiments created by the given user(s). Accepts a single user ID, or a JSON-encoded / comma-separated list of user IDs to match any of them."
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "event",
            "smithy.api#documentation": "Filter to experiments whose metrics reference this event name. Matches events used directly in metric queries as well as events behind any actions those metrics reference."
          }
        },
        "feature_flag_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "feature_flag_id",
            "smithy.api#documentation": "Filter to experiments linked to the given feature flag ID."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Field to order by. Prefix with '-' for descending. Allowlisted fields include name, created_at, updated_at, start_date, end_date, duration, and status."
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "prompt_name",
            "smithy.api#documentation": "Filter to experiments created from an LLM prompt with this name. Matches experiments whose parameters.prompt_metadata.name equals the given value."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Free-text search applied to the experiment name (case-insensitive)."
          }
        },
        "status": {
          "target": "com.posthog.experiments#ExperimentsListRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by experiment status. \"running\", \"paused\", and \"exposure_frozen\" are mutually exclusive: \"running\" returns launched experiments with an active feature flag, \"paused\" returns launched experiments whose feature flag is deactivated, and \"exposure_frozen\" returns launched experiments whose exposure was frozen to the already-enrolled cohort while metrics keep flowing. \"complete\" is an alias for \"stopped\". \"all\" disables status filtering."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.experiments#PaginatedExperimentBasicList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.experiments#PaginatedExperimentBasicListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the experiment.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the experiment hypothesis and expected outcomes.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_date": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "feature_flag_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique key for the experiment's feature flag. Letters, numbers, hyphens, and underscores only. Search existing flags with the feature-flag-get-all tool first — reuse an existing flag when possible.",
            "smithy.api#required": {}
          }
        },
        "feature_flag": {
          "target": "com.posthog.experiments#MinimalFeatureFlag",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "holdout": {
          "target": "com.posthog.experiments#ExperimentHoldout",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exposure_cohort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "parameters": {
          "target": "com.posthog.experiments#ExperimentParameters",
          "traits": {
            "smithy.api#documentation": "Experiment parameters JSON. Supported keys include `custom_exposure_filter` and `variant_notes` (free-text notes per variant, keyed by variant key). Flag config (variants, rollout, aggregation, payloads, experience continuity) belongs on the `feature_flag` object; send it there. For backward compatibility, config still sent through these deprecated keys is copied onto the linked flag rather than rejected, and reads project the flag's current config back into this field. Excluded variants live on the top-level `excluded_variants` field, not here.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "running_time_calculation": {
          "target": "com.posthog.experiments#ExperimentRunningTimeCalculation",
          "traits": {
            "smithy.api#documentation": "Running-time calculator state: `minimum_detectable_effect`, `recommended_running_time`, `recommended_sample_size`, and `exposure_estimate_config`. Canonical home for these keys, which historically lived in `parameters`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "excluded_variants": {
          "target": "com.posthog.experiments#ExperimentBasicExcludedVariantsList",
          "traits": {
            "smithy.api#documentation": "Variant keys to exclude from metric result calculations. Excluded variants are still served to users but omitted from statistical analysis. The baseline variant and holdout pseudo-variants cannot be excluded. Canonical home for what historically lived in `parameters.excluded_variants`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "archived": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the experiment is archived."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.experiments#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.experiments#ExperimentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Experiment type: web for frontend UI changes, product for backend/API changes.\n\n* `web` - web\n* `product` - product",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conclusion": {
          "target": "com.posthog.experiments#ConclusionEnum",
          "traits": {
            "smithy.api#documentation": "Experiment conclusion: won, lost, inconclusive, stopped_early, or invalid.\n\n* `won` - won\n* `lost` - lost\n* `inconclusive` - inconclusive\n* `stopped_early` - stopped_early\n* `invalid` - invalid",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conclusion_comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comment about the experiment conclusion.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.posthog.experiments#ExperimentStatusEnum",
          "traits": {
            "smithy.api#documentation": "Experiment lifecycle state: 'draft' (not yet launched), 'running' (launched with active feature flag), 'paused' (running with feature flag deactivated — virtual state derived from feature_flag.active, not stored), 'exposure_frozen' (running with enrollment frozen to the already-exposed cohort while metrics keep flowing — virtual state derived from the flag's release groups, not stored), 'stopped' (ended).",
            "smithy.api#required": {}
          }
        },
        "is_legacy": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the experiment uses any legacy-engine metrics (ExperimentTrendsQuery or ExperimentFunnelsQuery). Used to flag legacy experiments and gate actions that don't support them, such as duplicate and copy-to-project.",
            "smithy.api#required": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lightweight, read-only serializer for the experiment list endpoint.\n\nThe list view (and the MCP list tool) render only the scalar and feature-flag fields\nshared via ``ExperimentBaseSerializer`` — never the metric definitions. Omitting\n``metrics``/``metrics_secondary``/``saved_metrics`` lets the list query defer the large\nJSON columns and skip the saved-metric prefetch plus per-row fingerprinting; that work\nbelongs to the detail response served by ``ExperimentSerializer``.\n\nBecause the metric fields, the write-side machinery, and the action-name-refreshing\n``to_representation`` all live on ``ExperimentSerializer`` rather than the shared base,\nthis serializer needs no overrides: it gets DRF's default ``get_fields`` (no write-only\n``holdout_id`` to configure), default ``to_representation`` (no metrics to normalize), and\na plain ``ListSerializer`` that never touches the deferred columns. See\n``EnterpriseExperimentsViewSet.safely_get_queryset``."
      }
    },
    "com.posthog.experiments#MinimalFeatureFlag": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "team_id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "smithy.api#String"
        },
        "filters": {
          "target": "com.posthog.experiments#MinimalFeatureFlagFiltersMap"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "active": {
          "target": "smithy.api#Boolean"
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_runtime": {
          "target": "com.posthog.experiments#MinimalFeatureFlagEvaluationRuntime",
          "traits": {
            "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bucketing_identifier": {
          "target": "com.posthog.experiments#MinimalFeatureFlagBucketingIdentifier",
          "traits": {
            "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID",
            "com.distilled.openapi#nullable": {}
          }
        },
        "evaluation_contexts": {
          "target": "com.posthog.experiments#MinimalFeatureFlagEvaluationContextsList"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#MinimalFeatureFlagFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.experiments#EvaluationRuntimeEnum": {
      "type": "enum",
      "members": {
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "server"
          }
        },
        "CLIENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "client"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.experiments#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#MinimalFeatureFlagEvaluationRuntime": {
      "type": "union",
      "members": {
        "EvaluationRuntimeEnum": {
          "target": "com.posthog.experiments#EvaluationRuntimeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.experiments#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies where this feature flag should be evaluated\n\n* `server` - Server\n* `client` - Client\n* `all` - All"
      }
    },
    "com.posthog.experiments#BucketingIdentifierEnum": {
      "type": "enum",
      "members": {
        "DISTINCT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "distinct_id"
          }
        },
        "DEVICE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "device_id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.experiments#MinimalFeatureFlagBucketingIdentifier": {
      "type": "union",
      "members": {
        "BucketingIdentifierEnum": {
          "target": "com.posthog.experiments#BucketingIdentifierEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.experiments#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Identifier used for bucketing users into rollout and variants\n\n* `distinct_id` - User ID (default)\n* `device_id` - Device ID"
      }
    },
    "com.posthog.experiments#MinimalFeatureFlagEvaluationContextsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentHoldout": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for the holdout group."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of what this holdout reserves and why.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "filters": {
          "target": "com.posthog.experiments#ExperimentHoldoutFiltersList",
          "traits": {
            "smithy.api#documentation": "Non-empty list of release-condition groups defining the held-out population, using the same shape as feature-flag release conditions. Each element's `rollout_percentage` (0–100, may be fractional) is the **exclusion** percentage — the share of users held back from all experiments that reference this holdout. `properties` optionally narrows the group by person/group properties. Do not set `variant`: the server normalizes it to `holdout-{id}`. Note that only the first element's `rollout_percentage` is embedded into each linked experiment's feature flag, and this population is shared across every experiment using the holdout."
          }
        },
        "created_by": {
          "target": "com.posthog.experiments#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A holdout group — a stable slice of users excluded from experiment exposure."
      }
    },
    "com.posthog.experiments#FeatureFlagConditionGroupSchema": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.posthog.experiments#FeatureFlagConditionGroupSchemaPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property conditions for this release condition group."
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Rollout percentage for this release condition group."
          }
        },
        "variant": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Variant key override for multivariate flags.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aggregation_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index for this condition set. None means person-level aggregation.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertySchema": {
      "type": "union",
      "members": {
        "FeatureFlagFilterPropertyGenericSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyGenericSchema"
        },
        "FeatureFlagFilterPropertyExistsSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyExistsSchema"
        },
        "FeatureFlagFilterPropertyDateSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyDateSchema"
        },
        "FeatureFlagFilterPropertySemverSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertySemverSchema"
        },
        "FeatureFlagFilterPropertyMultiContainsSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchema"
        },
        "FeatureFlagFilterPropertyCohortInSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchema"
        },
        "FeatureFlagFilterPropertyFlagEvaluatesSchema": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchema"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyGenericSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Set it on every property. Use `group` with `group_type_index` to filter on a group's properties.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index a `group` filter reads properties from. Defaults to the condition set's `aggregation_group_type_index`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Comparison value for the property filter. Supports strings, numbers, booleans, and arrays."
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyGenericSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Operator used to compare the property value.\n\n* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `starts_with` - starts_with\n* `not_starts_with` - not_starts_with\n* `ends_with` - ends_with\n* `not_ends_with` - not_ends_with\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `gte` - gte\n* `lt` - lt\n* `lte` - lte"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PropertyGroupTypeEnum": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        },
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person"
          }
        },
        "GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `cohort` - cohort\n* `person` - person\n* `group` - group"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyGenericSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "NOT_STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "NOT_ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_ends_with"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `starts_with` - starts_with\n* `not_starts_with` - not_starts_with\n* `ends_with` - ends_with\n* `not_ends_with` - not_ends_with\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `gte` - gte\n* `lt` - lt\n* `lte` - lte"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyExistsSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Set it on every property. Use `group` with `group_type_index` to filter on a group's properties.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index a `group` filter reads properties from. Defaults to the condition set's `aggregation_group_type_index`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#ExistenceOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Existence operator.\n\n* `is_set` - is_set\n* `is_not_set` - is_not_set"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional value. Runtime behavior determines whether this is ignored."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExistenceOperatorEnum": {
      "type": "enum",
      "members": {
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `is_set` - is_set\n* `is_not_set` - is_not_set"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyDateSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Set it on every property. Use `group` with `group_type_index` to filter on a group's properties.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index a `group` filter reads properties from. Defaults to the condition set's `aggregation_group_type_index`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#DateOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Date comparison operator.\n\n* `is_date_exact` - is_date_exact\n* `is_date_after` - is_date_after\n* `is_date_before` - is_date_before"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date value in ISO format or relative date expression."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#DateOperatorEnum": {
      "type": "enum",
      "members": {
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `is_date_exact` - is_date_exact\n* `is_date_before` - is_date_before\n* `is_date_after` - is_date_after"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertySemverSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Set it on every property. Use `group` with `group_type_index` to filter on a group's properties.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index a `group` filter reads properties from. Defaults to the condition set's `aggregation_group_type_index`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertySemverSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Semantic version comparison operator.\n\n* `semver_gt` - semver_gt\n* `semver_gte` - semver_gte\n* `semver_lt` - semver_lt\n* `semver_lte` - semver_lte\n* `semver_eq` - semver_eq\n* `semver_neq` - semver_neq\n* `semver_tilde` - semver_tilde\n* `semver_caret` - semver_caret\n* `semver_wildcard` - semver_wildcard"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Semantic version string."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertySemverSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `semver_gt` - semver_gt\n* `semver_gte` - semver_gte\n* `semver_lt` - semver_lt\n* `semver_lte` - semver_lte\n* `semver_eq` - semver_eq\n* `semver_neq` - semver_neq\n* `semver_tilde` - semver_tilde\n* `semver_caret` - semver_caret\n* `semver_wildcard` - semver_wildcard"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#PropertyGroupTypeEnum",
          "traits": {
            "smithy.api#documentation": "Property filter type. Set it on every property. Use `group` with `group_type_index` to filter on a group's properties.\n\n* `cohort` - cohort\n* `person` - person\n* `group` - group"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index a `group` filter reads properties from. Defaults to the condition set's `aggregation_group_type_index`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Multi-contains operator.\n\n* `icontains_multi` - icontains_multi\n* `not_icontains_multi` - not_icontains_multi"
          }
        },
        "value": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchemaValueList",
          "traits": {
            "smithy.api#documentation": "List of strings to evaluate against."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `icontains_multi` - icontains_multi\n* `not_icontains_multi` - not_icontains_multi"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyMultiContainsSchemaValueList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of strings to evaluate against."
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Cohort property type required for in/not_in operators.\n\n* `cohort` - cohort"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index a `group` filter reads properties from. Defaults to the condition set's `aggregation_group_type_index`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Membership operator for cohort properties.\n\n* `in` - in\n* `not_in` - not_in"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Cohort comparison value (single or list, depending on usage)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "COHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cohort"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `cohort` - cohort"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyCohortInSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `in` - in\n* `not_in` - not_in"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchema": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property key used in this feature flag condition."
          }
        },
        "type": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchemaTypeEnum",
          "traits": {
            "smithy.api#documentation": "Flag property type required for flag dependency checks.\n\n* `flag` - flag"
          }
        },
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resolved cohort name for cohort-type filters.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index a `group` filter reads properties from. Defaults to the condition set's `aggregation_group_type_index`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchemaOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Operator for feature flag dependency evaluation.\n\n* `flag_evaluates_to` - flag_evaluates_to"
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare flag evaluation against."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchemaTypeEnum": {
      "type": "enum",
      "members": {
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `flag` - flag"
      }
    },
    "com.posthog.experiments#FeatureFlagFilterPropertyFlagEvaluatesSchemaOperatorEnum": {
      "type": "enum",
      "members": {
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `flag_evaluates_to` - flag_evaluates_to"
      }
    },
    "com.posthog.experiments#FeatureFlagConditionGroupSchemaPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#FeatureFlagFilterPropertySchema"
      },
      "traits": {
        "smithy.api#documentation": "Property conditions for this release condition group."
      }
    },
    "com.posthog.experiments#ExperimentHoldoutFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#FeatureFlagConditionGroupSchema"
      },
      "traits": {
        "smithy.api#documentation": "Non-empty list of release-condition groups defining the held-out population, using the same shape as feature-flag release conditions. Each element's `rollout_percentage` (0–100, may be fractional) is the **exclusion** percentage — the share of users held back from all experiments that reference this holdout. `properties` optionally narrows the group by person/group properties. Do not set `variant`: the server normalizes it to `holdout-{id}`. Note that only the first element's `rollout_percentage` is embedded into each linked experiment's feature flag, and this population is shared across every experiment using the holdout."
      }
    },
    "com.posthog.experiments#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.experiments#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.experiments#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.experiments#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.experiments#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.experiments#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.experiments#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentParameters": {
      "type": "structure",
      "members": {
        "minimum_detectable_effect": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum detectable effect as a percentage. Lower values need more users but catch smaller changes. Suggest 20–30% for most experiments.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "variant_notes": {
          "target": "com.posthog.experiments#ExperimentParametersVariantNotesMap",
          "traits": {
            "smithy.api#documentation": "Free-text notes per variant, keyed by variant key. Use to document what each variant does or its reroute URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentParametersVariantNotesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentRunningTimeCalculation": {
      "type": "structure",
      "members": {
        "exposure_estimate_config": {
          "target": "com.posthog.experiments#ExperimentExposureEstimateConfig",
          "traits": {
            "smithy.api#documentation": "How the exposure estimate is configured: manual user-entered values or automatic from live experiment data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "minimum_detectable_effect": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum detectable effect as a percentage. Lower values need more users but catch smaller changes.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "recommended_running_time": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Estimated number of days needed to reach the recommended sample size.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "recommended_sample_size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Recommended number of exposed users needed for statistical significance.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentExposureEstimateConfig": {
      "type": "structure",
      "members": {
        "conversionRateInputType": {
          "target": "com.posthog.experiments#ConversionRateInputType",
          "traits": {
            "smithy.api#documentation": "'manual' when the baseline value and exposure rate were entered by hand, 'automatic' when derived from live experiment data.",
            "smithy.api#required": {}
          }
        },
        "manualBaselineValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Manually entered baseline metric value (a conversion percentage for funnel metrics). Only used in manual mode.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manualExposureRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Manually entered estimate of users exposed to the experiment per day. Only used in manual mode.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "manualMetricType": {
          "target": "com.posthog.experiments#ManualMetricType",
          "traits": {
            "smithy.api#documentation": "Metric type the manual baseline value refers to. Only used in manual mode.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ConversionRateInputType": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ManualMetricType": {
      "type": "enum",
      "members": {
        "FUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "funnel"
          }
        },
        "MEAN_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mean_count"
          }
        },
        "MEAN_SUM_OR_AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mean_sum_or_avg"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentBasicExcludedVariantsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variant keys to exclude from metric result calculations. Excluded variants are still served to users but omitted from statistical analysis. The baseline variant and holdout pseudo-variants cannot be excluded. Canonical home for what historically lived in `parameters.excluded_variants`."
      }
    },
    "com.posthog.experiments#ExperimentTypeEnum": {
      "type": "enum",
      "members": {
        "WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "web"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `web` - web\n* `product` - product"
      }
    },
    "com.posthog.experiments#ConclusionEnum": {
      "type": "enum",
      "members": {
        "WON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "won"
          }
        },
        "LOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lost"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        },
        "STOPPED_EARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped_early"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invalid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `won` - won\n* `lost` - lost\n* `inconclusive` - inconclusive\n* `stopped_early` - stopped_early\n* `invalid` - invalid"
      }
    },
    "com.posthog.experiments#ExperimentStatusEnum": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "EXPOSURE_FROZEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exposure_frozen"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PaginatedExperimentBasicListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#ExperimentBasic"
      },
      "traits": {}
    },
    "com.posthog.experiments#ListExperiments": {
      "type": "operation",
      "input": {
        "target": "com.posthog.experiments#ListExperimentsRequest"
      },
      "output": {
        "target": "com.posthog.experiments#PaginatedExperimentBasicList"
      },
      "errors": [
        {
          "target": "com.posthog.experiments#BadRequest"
        },
        {
          "target": "com.posthog.experiments#Forbidden"
        },
        {
          "target": "com.posthog.experiments#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/experiments/",
          "code": 200
        },
        "smithy.api#documentation": "List experiments for the current project. Supports filtering by status and archival state."
      }
    },
    "com.posthog.experiments#ExperimentFeatureFlagInput": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.posthog.experiments#ExperimentFeatureFlagFilters",
          "traits": {
            "smithy.api#documentation": "Flag config to apply: `multivariate.variants` (2 to 20 variants; the baseline defaults to the variant keyed 'control' when present, else the first variant), `groups` (a single group with `rollout_percentage` only; release conditions are not supported here, edit the feature flag directly), `aggregation_group_type_index`, and `payloads` (JSON-encoded strings keyed by variant key). On update, config this object omits is preserved from the linked flag's current state."
          }
        },
        "ensure_experience_continuity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the flag persists variant assignment across authentication steps.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Flag config for experiment create/update, sent through the linked feature flag's own shape.\n\nValidated both as the OpenAPI request field (via ``ExperimentWriteSerializer``) and at runtime\n(``ExperimentSerializer._normalize_feature_flag_input`` runs it against the raw feature_flag\nobject). Echoed read-only flag objects (carrying a non-null id) are handled upstream and never\nreach this validation."
      }
    },
    "com.posthog.experiments#ExperimentFeatureFlagFilters": {
      "type": "structure",
      "members": {
        "groups": {
          "target": "com.posthog.experiments#ExperimentFeatureFlagFiltersGroupsList",
          "traits": {
            "smithy.api#documentation": "Overall rollout as a single group: [{\"properties\": [], \"rollout_percentage\": N}]."
          }
        },
        "multivariate": {
          "target": "com.posthog.experiments#ExperimentFlagMultivariate",
          "traits": {
            "smithy.api#documentation": "Multivariate variant configuration.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aggregation_group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Group type index for group-based feature flags.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "payloads": {
          "target": "com.posthog.experiments#ExperimentFeatureFlagFiltersPayloadsMap",
          "traits": {
            "smithy.api#documentation": "Optional payload values keyed by variant key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature-flag filters accepted by the experiment endpoints: the flag's own filters shape,\nminus the keys experiments don't apply."
      }
    },
    "com.posthog.experiments#ExperimentFlagRolloutGroup": {
      "type": "structure",
      "members": {
        "rollout_percentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Percentage of users who enter the experiment (0-100).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.experiments#ExperimentFlagRolloutGroupPropertiesList",
          "traits": {
            "smithy.api#documentation": "Must be empty or omitted: release-condition properties are not supported via the experiment input. Edit the feature flag directly for targeting."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single release-condition group carrying only the overall rollout percentage, the one\ngroups entry the experiment input applies."
      }
    },
    "com.posthog.experiments#ExperimentFlagRolloutGroupPropertiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Must be empty or omitted: release-condition properties are not supported via the experiment input. Edit the feature flag directly for targeting."
      }
    },
    "com.posthog.experiments#ExperimentFeatureFlagFiltersGroupsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#ExperimentFlagRolloutGroup"
      },
      "traits": {
        "smithy.api#documentation": "Overall rollout as a single group: [{\"properties\": [], \"rollout_percentage\": N}]."
      }
    },
    "com.posthog.experiments#ExperimentFlagMultivariate": {
      "type": "structure",
      "members": {
        "variants": {
          "target": "com.posthog.experiments#ExperimentFlagMultivariateVariantsList",
          "traits": {
            "smithy.api#documentation": "Variant definitions (2 to 20). The baseline defaults to the variant keyed 'control' when present, else the first variant.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Multivariate config for the experiment's feature flag."
      }
    },
    "com.posthog.experiments#ExperimentFlagVariant": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique variant key. The baseline defaults to the variant keyed 'control' when present, else the first variant.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable variant name."
          }
        },
        "rollout_percentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Variant rollout percentage (0-100). Across variants these must sum to 100.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single multivariate variant. Extra per-variant keys are dropped."
      }
    },
    "com.posthog.experiments#ExperimentFlagMultivariateVariantsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#ExperimentFlagVariant"
      },
      "traits": {
        "smithy.api#documentation": "Variant definitions (2 to 20). The baseline defaults to the variant keyed 'control' when present, else the first variant."
      }
    },
    "com.posthog.experiments#ExperimentFeatureFlagFiltersPayloadsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Optional payload values keyed by variant key."
      }
    },
    "com.posthog.experiments#ExperimentsCreateRequestExcludedVariantsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variant keys to exclude from metric result calculations. Excluded variants are still served to users but omitted from statistical analysis. The baseline variant and holdout pseudo-variants cannot be excluded. Canonical home for what historically lived in `parameters.excluded_variants`."
      }
    },
    "com.posthog.experiments#ExperimentsCreateRequestSavedMetricsIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "IDs of shared saved metrics to attach to this experiment. Each item has 'id' (saved metric ID) and 'metadata' with 'type' (primary or secondary)."
      }
    },
    "com.posthog.experiments#ExperimentApiExposureCriteria": {
      "type": "structure",
      "members": {
        "activation_config": {
          "target": "com.posthog.experiments#ExperimentApiExposureConfig",
          "traits": {
            "smithy.api#documentation": "Additional event (or action) an entity must emit at/after their first default exposure event before they count as exposed; exposure time becomes this event's timestamp. Only valid with the default exposure event, not a custom `exposure_config`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exposure_config": {
          "target": "com.posthog.experiments#ExperimentApiExposureConfig",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "filterTestAccounts": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "multiple_variant_handling": {
          "target": "com.posthog.experiments#MultipleVariantHandling",
          "traits": {
            "smithy.api#documentation": "How to handle entities exposed to multiple variants. 'exclude' (default) drops them from the analysis; 'first_seen' assigns them to the variant from their earliest exposure.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ExperimentApiExposureConfig": {
      "type": "structure",
      "members": {
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom exposure event name. Required when kind is 'ExperimentEventExposureConfig'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Action ID. Required when kind is 'ActionsNode'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "com.posthog.experiments#Kind1",
          "traits": {
            "smithy.api#documentation": "Defaults to 'ExperimentEventExposureConfig' when omitted. Pass 'ActionsNode' for an action-based exposure.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.experiments#ExperimentApiExposureConfigPropertiesList",
          "traits": {
            "smithy.api#documentation": "Property filters (event, person, and other supported types). Pass an empty array if no filters needed."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#Kind1": {
      "type": "enum",
      "members": {
        "EXPERIMENTEVENTEXPOSURECONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExperimentEventExposureConfig"
          }
        },
        "ACTIONSNODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActionsNode"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#EventPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event properties"
          }
        },
        "value": {
          "target": "com.posthog.experiments#EventPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PropertyOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "NOT_STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "NOT_ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_ends_with"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "between"
          }
        },
        "NOT_BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_between"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        },
        "IS_CLEANED_PATH_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_cleaned_path_exact"
          }
        },
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        },
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#EventPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#EventPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#EventPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#EventPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#EventPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PersonPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person properties"
          }
        },
        "value": {
          "target": "com.posthog.experiments#PersonPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PersonPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PersonPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#PersonPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#PersonPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#PersonPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PersonMetadataPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Top-level columns on the persons table (e.g. created_at), not properties JSON"
          }
        },
        "value": {
          "target": "com.posthog.experiments#PersonMetadataPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PersonMetadataPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#PersonMetadataPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#PersonMetadataPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#PersonMetadataPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#PersonMetadataPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ElementPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.experiments#Key10"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.experiments#ElementPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#Key10": {
      "type": "enum",
      "members": {
        "TAG_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_name"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "HREF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "href"
          }
        },
        "SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selector"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ElementPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#ElementPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#ElementPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#ElementPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#ElementPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#EventMetadataPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.experiments#EventMetadataPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#EventMetadataPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#EventMetadataPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#EventMetadataPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#EventMetadataPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#EventMetadataPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#SessionPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.experiments#SessionPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#SessionPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#SessionPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#SessionPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#SessionPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#SessionPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#CohortPropertyFilter": {
      "type": "structure",
      "members": {
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#RecordingPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.experiments#RecordingPropertyFilterKey"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.experiments#RecordingPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#DurationType": {
      "type": "enum",
      "members": {
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        },
        "ACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_seconds"
          }
        },
        "INACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive_seconds"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#RecordingPropertyFilterKey": {
      "type": "union",
      "members": {
        "DurationType": {
          "target": "com.posthog.experiments#DurationType"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#RecordingPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#RecordingPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#RecordingPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#RecordingPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#RecordingPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#LogEntryPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.experiments#LogEntryPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#LogEntryPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#LogEntryPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#LogEntryPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#LogEntryPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#LogEntryPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#GroupPropertyFilter": {
      "type": "structure",
      "members": {
        "group_key_names": {
          "target": "com.posthog.experiments#GroupPropertyFilterGroupKeyNamesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.experiments#GroupPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#GroupPropertyFilterGroupKeyNamesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.experiments#GroupPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#GroupPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#GroupPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#GroupPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#GroupPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeaturePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.experiments#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event property with \"$feature/\" prepended"
          }
        },
        "value": {
          "target": "com.posthog.experiments#FeaturePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeaturePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FeaturePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.experiments#FeaturePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.experiments#FeaturePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.experiments#FeaturePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FlagPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key should be the flag ID"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only flag_evaluates_to operator is allowed for flag dependencies"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag dependency"
          }
        },
        "value": {
          "target": "com.posthog.experiments#FlagPropertyFilterValue",
          "traits": {
            "smithy.api#documentation": "The value can be true, false, or a variant name"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#FlagPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The value can be true, false, or a variant name"
      }
    },
    "com.posthog.experiments#HogQLPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.experiments#HogQLPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.experiments#HogQLPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
[...]
