{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "include_inactive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_inactive",
            "smithy.api#documentation": "Include inactive product areas. Defaults to false."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductArea": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable product area ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Team-maintained product area name.",
            "smithy.api#required": {}
          }
        },
        "display_order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position in product area selectors. Lower values appear first."
          }
        },
        "is_active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether editors can select this product area for new requests."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the product area was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the product area was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.feature_request_product_areas#FeatureRequestProductArea"
      },
      "traits": {}
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasListResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasListRequest"
      },
      "output": {
        "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/feature_request_product_areas/",
          "code": 200
        }
      }
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Team-maintained product area name.",
            "smithy.api#required": {}
          }
        },
        "display_order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position in product area selectors. Lower values appear first."
          }
        },
        "is_active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether editors can select this product area for new requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasCreateRequest"
      },
      "output": {
        "target": "com.posthog.feature_request_product_areas#FeatureRequestProductArea"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/feature_request_product_areas/",
          "code": 200
        }
      }
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Team-maintained product area name.",
            "smithy.api#required": {}
          }
        },
        "display_order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position in product area selectors. Lower values appear first."
          }
        },
        "is_active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether editors can select this product area for new requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasUpdateRequest"
      },
      "output": {
        "target": "com.posthog.feature_request_product_areas#FeatureRequestProductArea"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/feature_request_product_areas/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Team-maintained product area name."
          }
        },
        "display_order": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Position in product area selectors. Lower values appear first."
          }
        },
        "is_active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether editors can select this product area for new requests."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreasPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.feature_request_product_areas#FeatureRequestProductArea"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/feature_request_product_areas/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.feature_request_product_areas#FeatureRequestProductAreas": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasList"
        },
        {
          "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasCreate"
        },
        {
          "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasUpdate"
        },
        {
          "target": "com.posthog.feature_request_product_areas#FeatureRequestProductAreasPartialUpdate"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
