{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.hog_flows#HogFlowsListRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#ListHogFlowsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_at"
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "Filter to workflows created by the user with this uuid."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "id"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive search across workflow name and description."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowsListRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "updated_at"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#PaginatedHogFlowMinimalList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.hog_flows#PaginatedHogFlowMinimalListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowMinimal": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStatusEnum"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.hog_flows#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "trigger": {
          "target": "smithy.api#Document"
        },
        "trigger_masking": {
          "target": "smithy.api#Document"
        },
        "conversion": {
          "target": "smithy.api#Document"
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum"
        },
        "email_sending_rate_limit": {
          "target": "smithy.api#Document"
        },
        "edges": {
          "target": "smithy.api#Document"
        },
        "actions": {
          "target": "smithy.api#Document"
        },
        "abort_action": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "variables": {
          "target": "smithy.api#Document"
        },
        "billable_action_types": {
          "target": "smithy.api#Document"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.hog_flows#HogFlowStatusEnum": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
      }
    },
    "com.posthog.hog_flows#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.hog_flows#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.hog_flows#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.hog_flows#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.hog_flows#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.hog_flows#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#ExitConditionEnum": {
      "type": "enum",
      "members": {
        "EXIT_ON_CONVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit_on_conversion"
          }
        },
        "EXIT_ON_TRIGGER_NOT_MATCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit_on_trigger_not_matched"
          }
        },
        "EXIT_ON_TRIGGER_NOT_MATCHED_OR_CONVERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit_on_trigger_not_matched_or_conversion"
          }
        },
        "EXIT_ONLY_AT_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit_only_at_end"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
      }
    },
    "com.posthog.hog_flows#PaginatedHogFlowMinimalListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowMinimal"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#ListHogFlows": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#ListHogFlowsRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#PaginatedHogFlowMinimalList"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#BadRequest"
        },
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/hog_flows/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#HogFlowMasking": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds (60 to ~94M / 3y) to suppress repeat firings of the same hash.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "threshold": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Fire once per N matches of the same hash within ttl — a sampler: N=3 fires on the 1st, 4th, 7th… match. Omit to fire on the first match, then suppress repeats within ttl.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HogQL template defining the dedup/grouping key, e.g. '{person.id}' (once per person) within ttl."
          }
        },
        "bytecode": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Auto-compiled from hash. Do not set."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowConversion": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.posthog.hog_flows#HogFlowConversionFiltersList",
          "traits": {
            "smithy.api#documentation": "Property-based conversion conditions, as an ARRAY of property filters: [{key, value, operator, type: event|person|group}, ...]. Event-based goals do NOT go here — put them in 'events'. Empty array = any event within the window converts."
          }
        },
        "events": {
          "target": "com.posthog.hog_flows#HogFlowConversionEventsList",
          "traits": {
            "smithy.api#documentation": "Event-based conversion goals: [{filters: {events: [{id, name, type: 'events'}], ...}}]."
          }
        },
        "window_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Conversion window in minutes after a person enters the workflow. null = no explicit window.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "bytecode": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Compiled server-side from 'filters'. Do not set; ignored if sent."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowConversionFiltersItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowConversionFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowConversionFiltersItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Property-based conversion conditions, as an ARRAY of property filters: [{key, value, operator, type: event|person|group}, ...]. Event-based goals do NOT go here — put them in 'events'. Empty array = any event within the window converts."
      }
    },
    "com.posthog.hog_flows#HogFlowConversionEvent": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.posthog.hog_flows#HogFunctionFilters",
          "traits": {
            "smithy.api#documentation": "Event/action filters for this conversion event, same shape as trigger filters: {events: [{id, name, type: 'events', properties?: [<cond>]}], actions?: [...], properties?: [<cond>]}. bytecode is compiled server-side.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFilters": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersSourceEnum"
        },
        "actions": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersActionsList"
        },
        "events": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersEventsList"
        },
        "data_warehouse": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersDataWarehouseList"
        },
        "properties": {
          "target": "com.posthog.hog_flows#HogFunctionFiltersPropertiesList"
        },
        "bytecode": {
          "target": "smithy.api#Document"
        },
        "transpiled": {
          "target": "smithy.api#Document"
        },
        "filter_test_accounts": {
          "target": "smithy.api#Boolean"
        },
        "bytecode_error": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersSourceEnum": {
      "type": "enum",
      "members": {
        "EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "events"
          }
        },
        "PERSON_UPDATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "person-updates"
          }
        },
        "DATA_WAREHOUSE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data-warehouse-table"
          }
        },
        "DATA_WAREHOUSE_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data-warehouse-view"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `events` - events\n* `person-updates` - person-updates\n* `data-warehouse-table` - data-warehouse-table\n* `data-warehouse-view` - data-warehouse-view"
      }
    },
    "com.posthog.hog_flows#HogFunctionFiltersActionsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFunctionFiltersActionsItemMap"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersEventsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersEventsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFunctionFiltersEventsItemMap"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersDataWarehouseItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersDataWarehouseList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFunctionFiltersDataWarehouseItemMap"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersPropertiesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFunctionFiltersPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFunctionFiltersPropertiesItemMap"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowConversionEventsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowConversionEvent"
      },
      "traits": {
        "smithy.api#documentation": "Event-based conversion goals: [{filters: {events: [{id, name, type: 'events'}], ...}}]."
      }
    },
    "com.posthog.hog_flows#HogFlowEmailSendingRateLimit": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of emails this workflow sends per period.",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "com.posthog.hog_flows#PeriodEnum",
          "traits": {
            "smithy.api#documentation": "Window the count applies to. Sends over the limit are delayed until capacity frees up, not dropped.\n\n* `minute` - minute\n* `hour` - hour",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#PeriodEnum": {
      "type": "enum",
      "members": {
        "MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "minute"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `minute` - minute\n* `hour` - hour"
      }
    },
    "com.posthog.hog_flows#HogFlowEdge": {
      "type": "structure",
      "members": {
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target action id.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.hog_flows#HogFlowEdgeTypeEnum",
          "traits": {
            "smithy.api#documentation": "continue: fall-through (sequential or the no-match path of conditional_branch). branch: requires 'index' matching config.conditions[index].\n\n* `continue` - continue\n* `branch` - branch",
            "smithy.api#required": {}
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required for type='branch'. conditional_branch: index into config.conditions[index]. random_cohort_branch: index into config.cohorts[index]. wait_until_condition: use index:0 — it advances via the index:0 branch edge when it resolves (a condition match or an events entry firing)."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Source action id.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowEdgeTypeEnum": {
      "type": "enum",
      "members": {
        "CONTINUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "continue"
          }
        },
        "BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "branch"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `continue` - continue\n* `branch` - branch"
      }
    },
    "com.posthog.hog_flows#HogFlowsCreateRequestEdgesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowEdge"
      },
      "traits": {
        "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
      }
    },
    "com.posthog.hog_flows#HogFlowAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique node ID within the workflow."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "on_error": {
          "target": "com.posthog.hog_flows#OnErrorEnum",
          "traits": {
            "smithy.api#documentation": "On failure: continue (skip the action and proceed) or abort (stop the run).\n\n* `continue` - continue\n* `abort` - abort",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Created at (epoch ms). Frontend-managed."
          }
        },
        "updated_at": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Updated at (epoch ms). Frontend-managed."
          }
        },
        "filters": {
          "target": "com.posthog.hog_flows#HogFunctionFilters",
          "traits": {
            "smithy.api#documentation": "Property filters gating this action.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.posthog.hog_flows#HogFlowActionTypeEnum",
          "traits": {
            "smithy.api#documentation": "One of: trigger | function | function_email | function_sms | function_push | delay | wait_until_condition | wait_until_time_window | conditional_branch | random_cohort_branch | exit.\n\n* `trigger` - trigger\n* `function` - function\n* `function_email` - function_email\n* `function_sms` - function_sms\n* `function_push` - function_push\n* `delay` - delay\n* `wait_until_condition` - wait_until_condition\n* `wait_until_time_window` - wait_until_time_window\n* `conditional_branch` - conditional_branch\n* `random_cohort_branch` - random_cohort_branch\n* `exit` - exit"
          }
        },
        "config": {
          "target": "com.posthog.hog_flows#HogFlowActionConfig",
          "traits": {
            "smithy.api#documentation": "Type-specific config keyed by action type. trigger: {type: event|webhook|manual|batch|schedule|tracking_pixel|slack-message, filters?}. slack-message runs once per message posted in a connected Slack channel, and takes only filters: {properties: [<cond>]} over the message properties (channel, user, bot_id, text, subtype, is_thread_reply). Runs are person-less, so person-dependent steps are rejected. webhook and manual triggers also require template_id: 'template-source-webhook', and tracking_pixel requires template_id: 'template-source-webhook-pixel'. filters shape: {events: [{id, name, type:'events', properties:[<cond>]}], properties:[<cond>], actions:[...], filter_test_accounts:<bool>}. <cond>: {key, value, operator, type: event|person|group}, or {key: 'id', type: 'cohort', value: <cohort_id>, operator: 'in'} to reference a cohort. batch triggers may set filters.audience_type: 'persons' (default) or 'accounts'. An accounts audience fans out one run per customer analytics account and takes account filters instead: properties entries of type 'account_custom_property' (key = definition id), plus tag_names: [<str>], assigned_to_user_ids: [<int>], all_roles_unassigned: <bool>. function*: {template_id, inputs: {<key>: {value: <str>}}}. Wrap values in {value:...} to enable hog templating ({person.x}, {event.x}); flat strings won't interpolate. function_email also accepts tracking_enabled?: <bool> (default true) - when false, no open pixel is injected, links are not rewritten, and the send skips ESP-level open/click tracking, so opens and clicks are not recorded for that step (delivery/bounce/unsubscribe still are). Dictionary input values are template strings too — write booleans/numbers as single-expression templates ('{true}', '{42}'), which evaluate to the typed value. delay: waits a fixed span or until a per-person/-event date — set EXACTLY ONE of delay_duration or delay_until. {delay_duration: '<number><unit>'} where unit is s|m|h|d. Fractions OK ('1.5d'=36h). Per-unit max s<=60, m<=60, h<=24, d<=30; values above are SILENTLY CLAMPED. Max 30d. delay_until: {expression: '<SQL>', offset?: '<±number><unit>'} waits until the date expression evaluates to (an ISO string, unix seconds, or a date value all resolve to the same instant); offset is a signed duration shifting it ('-1d' a day before, '2h' two hours after). expression is compiled server-side, so any bytecode sent with it is discarded. A person property is person.properties.<key>; an event property is properties.<key>, as the 'event.' prefix resolves to nothing and aborts the run. Optional timezone (IANA name), use_person_timezone (read $geoip_time_zone) and fallback_timezone decide which zone a date with no offset of its own is read in; a date that states an offset, and unix seconds, ignore them. Default UTC. Optional sibling max_delay_duration (default 30d, same '<number><unit>' format) caps how far past the step's start the wait may run. conditional_branch: {conditions: [{filters}, ...]}. Index N matches the 'branch' edge with index:N. random_cohort_branch: {cohorts: [{percentage: <number>, name?}, ...]}. Index N matches the 'branch' edge with index:N; percentages are relative weights, so they should sum to 100 but a total above or below that still splits traffic in the given proportions. wait_until_condition: {condition: {filters}, events?: [{filters: {events: [{id, name, type: 'events'}], actions?: [...]}, name?}], max_wait_duration: <duration>} (same rules as delay). Continues when condition.filters match OR any events entry fires; each events entry must target at least one event or action. On resolution (a condition match or any events entry firing) it advances via the 'branch' edge with index:0; the max_wait_duration timeout falls through the 'continue' edge. exit: {reason}."
          }
        },
        "output_variable": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Output variable for downstream actions: {key, result_path?, spread?, label?} or a list of those."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#OnErrorEnum": {
      "type": "enum",
      "members": {
        "CONTINUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "continue"
          }
        },
        "ABORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abort"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `continue` - continue\n* `abort` - abort"
      }
    },
    "com.posthog.hog_flows#HogFlowActionTypeEnum": {
      "type": "enum",
      "members": {
        "TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigger"
          }
        },
        "FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function"
          }
        },
        "FUNCTION_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_email"
          }
        },
        "FUNCTION_SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_sms"
          }
        },
        "FUNCTION_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "function_push"
          }
        },
        "DELAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delay"
          }
        },
        "WAIT_UNTIL_CONDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wait_until_condition"
          }
        },
        "WAIT_UNTIL_TIME_WINDOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wait_until_time_window"
          }
        },
        "CONDITIONAL_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conditional_branch"
          }
        },
        "RANDOM_COHORT_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "random_cohort_branch"
          }
        },
        "EXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `trigger` - trigger\n* `function` - function\n* `function_email` - function_email\n* `function_sms` - function_sms\n* `function_push` - function_push\n* `delay` - delay\n* `wait_until_condition` - wait_until_condition\n* `wait_until_time_window` - wait_until_time_window\n* `conditional_branch` - conditional_branch\n* `random_cohort_branch` - random_cohort_branch\n* `exit` - exit"
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase0Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Config for every action type except wait_until_condition — see the field description for per-type shapes."
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase1Condition": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.posthog.hog_flows#HogFunctionFilters",
          "traits": {
            "smithy.api#documentation": "Property conditions, e.g. {properties: [{key, value, operator, type}]}.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Property-based wait condition; continues when the person matches. A condition with no property filters is ignored — the wait then relies on 'events' and the max_wait_duration timeout."
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase1EventsItem": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.posthog.hog_flows#HogFunctionFilters",
          "traits": {
            "smithy.api#documentation": "Event/action filters; the workflow wakes when a matching event fires. Must target at least one event or action (entries targeting neither are dropped).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional display name."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase1EventsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowActionConfigCase1EventsItem"
      },
      "traits": {
        "smithy.api#documentation": "Events to wait for: continues when ANY entry fires (OR'd with 'condition'). Each entry: {filters: {events: [{id, name, type: 'events'}], actions?: [...]}, name?}."
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfigCase1": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.posthog.hog_flows#HogFlowActionConfigCase1Condition",
          "traits": {
            "smithy.api#documentation": "Property-based wait condition; continues when the person matches. A condition with no property filters is ignored — the wait then relies on 'events' and the max_wait_duration timeout."
          }
        },
        "events": {
          "target": "com.posthog.hog_flows#HogFlowActionConfigCase1EventsList",
          "traits": {
            "smithy.api#documentation": "Events to wait for: continues when ANY entry fires (OR'd with 'condition'). Each entry: {filters: {events: [{id, name, type: 'events'}], actions?: [...]}, name?}."
          }
        },
        "max_wait_duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "'<number><unit>' with unit s|m|h|d, e.g. '30m' (same rules as delay).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Config for type='wait_until_condition'. Provide 'condition' and/or 'events' — an events-only wait (no condition) is valid."
      }
    },
    "com.posthog.hog_flows#HogFlowActionConfig": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.hog_flows#HogFlowActionConfigCase0Map"
        },
        "Case1": {
          "target": "com.posthog.hog_flows#HogFlowActionConfigCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Type-specific config keyed by action type. trigger: {type: event|webhook|manual|batch|schedule|tracking_pixel|slack-message, filters?}. slack-message runs once per message posted in a connected Slack channel, and takes only filters: {properties: [<cond>]} over the message properties (channel, user, bot_id, text, subtype, is_thread_reply). Runs are person-less, so person-dependent steps are rejected. webhook and manual triggers also require template_id: 'template-source-webhook', and tracking_pixel requires template_id: 'template-source-webhook-pixel'. filters shape: {events: [{id, name, type:'events', properties:[<cond>]}], properties:[<cond>], actions:[...], filter_test_accounts:<bool>}. <cond>: {key, value, operator, type: event|person|group}, or {key: 'id', type: 'cohort', value: <cohort_id>, operator: 'in'} to reference a cohort. batch triggers may set filters.audience_type: 'persons' (default) or 'accounts'. An accounts audience fans out one run per customer analytics account and takes account filters instead: properties entries of type 'account_custom_property' (key = definition id), plus tag_names: [<str>], assigned_to_user_ids: [<int>], all_roles_unassigned: <bool>. function*: {template_id, inputs: {<key>: {value: <str>}}}. Wrap values in {value:...} to enable hog templating ({person.x}, {event.x}); flat strings won't interpolate. function_email also accepts tracking_enabled?: <bool> (default true) - when false, no open pixel is injected, links are not rewritten, and the send skips ESP-level open/click tracking, so opens and clicks are not recorded for that step (delivery/bounce/unsubscribe still are). Dictionary input values are template strings too — write booleans/numbers as single-expression templates ('{true}', '{42}'), which evaluate to the typed value. delay: waits a fixed span or until a per-person/-event date — set EXACTLY ONE of delay_duration or delay_until. {delay_duration: '<number><unit>'} where unit is s|m|h|d. Fractions OK ('1.5d'=36h). Per-unit max s<=60, m<=60, h<=24, d<=30; values above are SILENTLY CLAMPED. Max 30d. delay_until: {expression: '<SQL>', offset?: '<±number><unit>'} waits until the date expression evaluates to (an ISO string, unix seconds, or a date value all resolve to the same instant); offset is a signed duration shifting it ('-1d' a day before, '2h' two hours after). expression is compiled server-side, so any bytecode sent with it is discarded. A person property is person.properties.<key>; an event property is properties.<key>, as the 'event.' prefix resolves to nothing and aborts the run. Optional timezone (IANA name), use_person_timezone (read $geoip_time_zone) and fallback_timezone decide which zone a date with no offset of its own is read in; a date that states an offset, and unix seconds, ignore them. Default UTC. Optional sibling max_delay_duration (default 30d, same '<number><unit>' format) caps how far past the step's start the wait may run. conditional_branch: {conditions: [{filters}, ...]}. Index N matches the 'branch' edge with index:N. random_cohort_branch: {cohorts: [{percentage: <number>, name?}, ...]}. Index N matches the 'branch' edge with index:N; percentages are relative weights, so they should sum to 100 but a total above or below that still splits traffic in the given proportions. wait_until_condition: {condition: {filters}, events?: [{filters: {events: [{id, name, type: 'events'}], actions?: [...]}, name?}], max_wait_duration: <duration>} (same rules as delay). Continues when condition.filters match OR any events entry fires; each events entry must target at least one event or action. On resolution (a condition match or any events entry firing) it advances via the 'branch' edge with index:0; the max_wait_duration timeout falls through the 'continue' edge. exit: {reason}."
      }
    },
    "com.posthog.hog_flows#HogFlowsCreateRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowAction"
      },
      "traits": {
        "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
      }
    },
    "com.posthog.hog_flows#HogFlowsCreateRequestVariablesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variable: {key, type: string|number|boolean, default}."
      }
    },
    "com.posthog.hog_flows#HogFlowsCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowsCreateRequestVariablesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
      }
    },
    "com.posthog.hog_flows#CreateHogFlowRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workflow name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStatusEnum",
          "traits": {
            "smithy.api#documentation": "draft (no execution), active (live), archived (disabled).\n\n* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "trigger_masking": {
          "target": "com.posthog.hog_flows#HogFlowMasking",
          "traits": {
            "smithy.api#documentation": "Optional dedup/throttle on an already-matched trigger: {hash: <HogQL template>, ttl: <seconds, 60-94608000>, threshold?: <int>}. Without threshold: fire once per hash, then suppress repeats within ttl (hash '{person.id}' = once per person per ttl). With threshold N: fire once per N matches of the same hash — a sampler, the 1st then every Nth. Throttles an already-qualifying trigger; it doesn't decide who enters. Server compiles bytecode from hash; omit to disable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion": {
          "target": "com.posthog.hog_flows#HogFlowConversion",
          "traits": {
            "smithy.api#documentation": "Conversion goal. filters: ARRAY of property conditions [{key, value, operator, type: event|person|group}]; events: event-based goals [{filters: {events: [...]}}]; window_minutes: minutes after entry. Required for exit_on_conversion / exit_on_trigger_not_matched_or_conversion. bytecode compiled server-side.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum",
          "traits": {
            "smithy.api#documentation": "exit_only_at_end: only at exit node (default). exit_on_conversion: also on conversion (needs 'conversion'; silent no-op otherwise). exit_on_trigger_not_matched: also when trigger filter stops matching. exit_on_trigger_not_matched_or_conversion: both (needs 'conversion').\n\n* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
          }
        },
        "email_sending_rate_limit": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimit",
          "traits": {
            "smithy.api#documentation": "Optional email pacing for deliverability: {count, period: 'minute' | 'hour'}. The email worker spreads this workflow's sends to stay under the limit; over-limit sends wait for capacity instead of failing. Null disables pacing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edges": {
          "target": "com.posthog.hog_flows#HogFlowsCreateRequestEdgesList",
          "traits": {
            "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
          }
        },
        "actions": {
          "target": "com.posthog.hog_flows#HogFlowsCreateRequestActionsList",
          "traits": {
            "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
          }
        },
        "variables": {
          "target": "com.posthog.hog_flows#HogFlowsCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#HogFlow": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workflow name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStatusEnum",
          "traits": {
            "smithy.api#documentation": "draft (no execution), active (live), archived (disabled).\n\n* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.hog_flows#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "trigger": {
          "target": "smithy.api#Document"
        },
        "trigger_masking": {
          "target": "com.posthog.hog_flows#HogFlowMasking",
          "traits": {
            "smithy.api#documentation": "Optional dedup/throttle on an already-matched trigger: {hash: <HogQL template>, ttl: <seconds, 60-94608000>, threshold?: <int>}. Without threshold: fire once per hash, then suppress repeats within ttl (hash '{person.id}' = once per person per ttl). With threshold N: fire once per N matches of the same hash — a sampler, the 1st then every Nth. Throttles an already-qualifying trigger; it doesn't decide who enters. Server compiles bytecode from hash; omit to disable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion": {
          "target": "com.posthog.hog_flows#HogFlowConversion",
          "traits": {
            "smithy.api#documentation": "Conversion goal. filters: ARRAY of property conditions [{key, value, operator, type: event|person|group}]; events: event-based goals [{filters: {events: [...]}}]; window_minutes: minutes after entry. Required for exit_on_conversion / exit_on_trigger_not_matched_or_conversion. bytecode compiled server-side.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum",
          "traits": {
            "smithy.api#documentation": "exit_only_at_end: only at exit node (default). exit_on_conversion: also on conversion (needs 'conversion'; silent no-op otherwise). exit_on_trigger_not_matched: also when trigger filter stops matching. exit_on_trigger_not_matched_or_conversion: both (needs 'conversion').\n\n* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
          }
        },
        "email_sending_rate_limit": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimit",
          "traits": {
            "smithy.api#documentation": "Optional email pacing for deliverability: {count, period: 'minute' | 'hour'}. The email worker spreads this workflow's sends to stay under the limit; over-limit sends wait for capacity instead of failing. Null disables pacing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edges": {
          "target": "com.posthog.hog_flows#HogFlowEdgesList",
          "traits": {
            "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
          }
        },
        "actions": {
          "target": "com.posthog.hog_flows#HogFlowActionsList",
          "traits": {
            "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
          }
        },
        "abort_action": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "variables": {
          "target": "com.posthog.hog_flows#HogFlowVariablesList",
          "traits": {
            "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
          }
        },
        "billable_action_types": {
          "target": "smithy.api#Document"
        },
        "schedules": {
          "target": "com.posthog.hog_flows#HogFlowSchedulesList",
          "traits": {
            "smithy.api#documentation": "Recurring schedules attached to this workflow (read-only here; manage via the schedules sub-resource). A batch/schedule workflow only fires when it's active AND has an active schedule. Empty for non-scheduled workflows."
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "draft": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Staged content changes awaiting publish — a full snapshot of the workflow's actions, edges and settings. Null when there's nothing staged. Test it with a use_draft test run, then promote it with the publish endpoint or throw it away with discard_draft."
          }
        },
        "draft_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the draft was last written; null when there's no staged draft. Pass this to publish (and as base_updated_at on further draft edits) so a concurrent editor's changes aren't clobbered — a mismatch returns 409.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "action_redirects": {
          "target": "com.posthog.hog_flows#HogFlowActionRedirectsMap",
          "traits": {
            "smithy.api#documentation": "Skip-forward map for deleted steps: {deleted_action_id: next surviving action_id}. Maintained automatically when a live graph edit deletes actions, so in-flight runs parked on a deleted step continue at its surviving successor instead of exiting. Null when no live deletions have occurred.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.hog_flows#HogFlowEdgesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowEdge"
      },
      "traits": {
        "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
      }
    },
    "com.posthog.hog_flows#HogFlowActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowAction"
      },
      "traits": {
        "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
      }
    },
    "com.posthog.hog_flows#HogFlowVariablesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variable: {key, type: string|number|boolean, default}."
      }
    },
    "com.posthog.hog_flows#HogFlowVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowVariablesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
      }
    },
    "com.posthog.hog_flows#HogFlowSchedule": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "iCalendar RRULE string (e.g. 'FREQ=DAILY;INTERVAL=1'). Must produce occurrences at most once per hour."
          }
        },
        "starts_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 datetime the schedule starts from."
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA timezone for interpreting the RRULE (default 'UTC')."
          }
        },
        "variables": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Variable value overrides merged with the workflow defaults on each run."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowScheduleStatusEnum",
          "traits": {
            "smithy.api#documentation": "active, paused, or completed (set once the RRULE's COUNT/UNTIL is exhausted).\n\n* `active` - Active\n* `paused` - Paused\n* `completed` - Completed"
          }
        },
        "next_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Next scheduled fire time, computed by the scheduler.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowScheduleStatusEnum": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paused"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `active` - Active\n* `paused` - Paused\n* `completed` - Completed"
      }
    },
    "com.posthog.hog_flows#HogFlowSchedulesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowSchedule"
      },
      "traits": {
        "smithy.api#documentation": "Recurring schedules attached to this workflow (read-only here; manage via the schedules sub-resource). A batch/schedule workflow only fires when it's active AND has an active schedule. Empty for non-scheduled workflows."
      }
    },
    "com.posthog.hog_flows#HogFlowActionRedirectsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Skip-forward map for deleted steps: {deleted_action_id: next surviving action_id}. Maintained automatically when a live graph edit deletes actions, so in-flight runs parked on a deleted step continue at its surviving successor instead of exiting. Null when no live deletions have occurred."
      }
    },
    "com.posthog.hog_flows#CreateHogFlow": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#CreateHogFlowRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlow"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#BadRequest"
        },
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/hog_flows/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#HogFlowsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#HogFlowsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#HogFlowsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlow"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#HogFlowsUpdateRequestEdgesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowEdge"
      },
      "traits": {
        "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
      }
    },
    "com.posthog.hog_flows#HogFlowsUpdateRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowAction"
      },
      "traits": {
        "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
      }
    },
    "com.posthog.hog_flows#HogFlowsUpdateRequestVariablesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variable: {key, type: string|number|boolean, default}."
      }
    },
    "com.posthog.hog_flows#HogFlowsUpdateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowsUpdateRequestVariablesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workflow name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStatusEnum",
          "traits": {
            "smithy.api#documentation": "draft (no execution), active (live), archived (disabled).\n\n* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "trigger_masking": {
          "target": "com.posthog.hog_flows#HogFlowMasking",
          "traits": {
            "smithy.api#documentation": "Optional dedup/throttle on an already-matched trigger: {hash: <HogQL template>, ttl: <seconds, 60-94608000>, threshold?: <int>}. Without threshold: fire once per hash, then suppress repeats within ttl (hash '{person.id}' = once per person per ttl). With threshold N: fire once per N matches of the same hash — a sampler, the 1st then every Nth. Throttles an already-qualifying trigger; it doesn't decide who enters. Server compiles bytecode from hash; omit to disable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion": {
          "target": "com.posthog.hog_flows#HogFlowConversion",
          "traits": {
            "smithy.api#documentation": "Conversion goal. filters: ARRAY of property conditions [{key, value, operator, type: event|person|group}]; events: event-based goals [{filters: {events: [...]}}]; window_minutes: minutes after entry. Required for exit_on_conversion / exit_on_trigger_not_matched_or_conversion. bytecode compiled server-side.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum",
          "traits": {
            "smithy.api#documentation": "exit_only_at_end: only at exit node (default). exit_on_conversion: also on conversion (needs 'conversion'; silent no-op otherwise). exit_on_trigger_not_matched: also when trigger filter stops matching. exit_on_trigger_not_matched_or_conversion: both (needs 'conversion').\n\n* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
          }
        },
        "email_sending_rate_limit": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimit",
          "traits": {
            "smithy.api#documentation": "Optional email pacing for deliverability: {count, period: 'minute' | 'hour'}. The email worker spreads this workflow's sends to stay under the limit; over-limit sends wait for capacity instead of failing. Null disables pacing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edges": {
          "target": "com.posthog.hog_flows#HogFlowsUpdateRequestEdgesList",
          "traits": {
            "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
          }
        },
        "actions": {
          "target": "com.posthog.hog_flows#HogFlowsUpdateRequestActionsList",
          "traits": {
            "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
          }
        },
        "variables": {
          "target": "com.posthog.hog_flows#HogFlowsUpdateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#UpdateHogFlow": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#UpdateHogFlowRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlow"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#BadRequest"
        },
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#HogFlowsPartialUpdateRequestEdgesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowEdge"
      },
      "traits": {
        "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
      }
    },
    "com.posthog.hog_flows#HogFlowsPartialUpdateRequestActionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowAction"
      },
      "traits": {
        "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
      }
    },
    "com.posthog.hog_flows#HogFlowsPartialUpdateRequestVariablesItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Variable: {key, type: string|number|boolean, default}."
      }
    },
    "com.posthog.hog_flows#HogFlowsPartialUpdateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowsPartialUpdateRequestVariablesItemMap"
      },
      "traits": {
        "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Workflow name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description."
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowStatusEnum",
          "traits": {
            "smithy.api#documentation": "draft (no execution), active (live), archived (disabled).\n\n* `draft` - Draft\n* `active` - Active\n* `archived` - Archived"
          }
        },
        "trigger_masking": {
          "target": "com.posthog.hog_flows#HogFlowMasking",
          "traits": {
            "smithy.api#documentation": "Optional dedup/throttle on an already-matched trigger: {hash: <HogQL template>, ttl: <seconds, 60-94608000>, threshold?: <int>}. Without threshold: fire once per hash, then suppress repeats within ttl (hash '{person.id}' = once per person per ttl). With threshold N: fire once per N matches of the same hash — a sampler, the 1st then every Nth. Throttles an already-qualifying trigger; it doesn't decide who enters. Server compiles bytecode from hash; omit to disable.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "conversion": {
          "target": "com.posthog.hog_flows#HogFlowConversion",
          "traits": {
            "smithy.api#documentation": "Conversion goal. filters: ARRAY of property conditions [{key, value, operator, type: event|person|group}]; events: event-based goals [{filters: {events: [...]}}]; window_minutes: minutes after entry. Required for exit_on_conversion / exit_on_trigger_not_matched_or_conversion. bytecode compiled server-side.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "exit_condition": {
          "target": "com.posthog.hog_flows#ExitConditionEnum",
          "traits": {
            "smithy.api#documentation": "exit_only_at_end: only at exit node (default). exit_on_conversion: also on conversion (needs 'conversion'; silent no-op otherwise). exit_on_trigger_not_matched: also when trigger filter stops matching. exit_on_trigger_not_matched_or_conversion: both (needs 'conversion').\n\n* `exit_on_conversion` - Conversion\n* `exit_on_trigger_not_matched` - Trigger Not Matched\n* `exit_on_trigger_not_matched_or_conversion` - Trigger Not Matched Or Conversion\n* `exit_only_at_end` - Only At End"
          }
        },
        "email_sending_rate_limit": {
          "target": "com.posthog.hog_flows#HogFlowEmailSendingRateLimit",
          "traits": {
            "smithy.api#documentation": "Optional email pacing for deliverability: {count, period: 'minute' | 'hour'}. The email worker spreads this workflow's sends to stay under the limit; over-limit sends wait for capacity instead of failing. Null disables pacing.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "edges": {
          "target": "com.posthog.hog_flows#HogFlowsPartialUpdateRequestEdgesList",
          "traits": {
            "smithy.api#documentation": "Graph edges: [{from, to, type: 'continue'|'branch', index?}]. 'continue' = fall-through (sequential, or no-match path of conditional_branch). 'branch' requires 'index': matches config.conditions[index] on conditional_branch / wait_until_condition. Every non-exit action needs a reachable next action ('No next action found' otherwise)."
          }
        },
        "actions": {
          "target": "com.posthog.hog_flows#HogFlowsPartialUpdateRequestActionsList",
          "traits": {
            "smithy.api#documentation": "Ordered action nodes. Exactly one type='trigger' required. Typically one type='exit' too."
          }
        },
        "variables": {
          "target": "com.posthog.hog_flows#HogFlowsPartialUpdateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Workflow vars (key, type, default). Total <5KB."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#UpdateHogFlowPartialRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlow"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#BadRequest"
        },
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#HogFlowsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#HogFlowsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#HogFlowsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#DesignOperation": {
      "type": "structure",
      "members": {
        "op": {
          "target": "com.posthog.hog_flows#EmailTemplateDesignOperationEnum",
          "traits": {
            "smithy.api#documentation": "Design edit. update_content {id, patch}: deep-merge patch into the content block's fields (a null leaf deletes that key) — the surgical path, e.g. change just values.text. update_row / update_column {id, patch} and update_body {patch}: same deep-merge for row/column/body-level settings. add_content {column_id, content, index?}: insert a content block into a column (id and Unlayer numbering are filled in for you). remove_content {id} / move_content {id, column_id, index?}: delete or relocate a block. add_row {row, index?} / remove_row {id}: add or delete a row.\n\n* `update_content` - update_content\n* `update_column` - update_column\n* `update_row` - update_row\n* `update_body` - update_body\n* `add_content` - add_content\n* `remove_content` - remove_content\n* `move_content` - move_content\n* `add_row` - add_row\n* `remove_row` - remove_row",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target node id. Required for update_content/column/row, remove_content, remove_row, move_content."
          }
        },
        "column_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target column id. Required for add_content and move_content."
          }
        },
        "patch": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "update_* only. Partial fields deep-merged into the existing node; a null leaf deletes that key. e.g. {values: {text: '<p>Hi</p>'}} changes only the block's text."
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "add_content only. A content block {type, values: {...}}; omit id and values._meta — they're assigned server-side. type is one of text, heading, button, image, divider, html, etc."
          }
        },
        "row": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "add_row only. A full row {cells, columns: [{contents: [...], values}], values}; ids and Unlayer numbering are assigned server-side for the row and everything nested in it."
          }
        },
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "add_*/move_content only. 0-based insert position; omit to append to the end."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#EmailTemplateDesignOperationEnum": {
      "type": "enum",
      "members": {
        "UPDATE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_content"
          }
        },
        "UPDATE_COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_column"
          }
        },
        "UPDATE_ROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_row"
          }
        },
        "UPDATE_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "update_body"
          }
        },
        "ADD_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add_content"
          }
        },
        "REMOVE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove_content"
          }
        },
        "MOVE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "move_content"
          }
        },
        "ADD_ROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "add_row"
          }
        },
        "REMOVE_ROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remove_row"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `update_content` - update_content\n* `update_column` - update_column\n* `update_row` - update_row\n* `update_body` - update_body\n* `add_content` - add_content\n* `remove_content` - remove_content\n* `move_content` - move_content\n* `add_row` - add_row\n* `remove_row` - remove_row"
      }
    },
    "com.posthog.hog_flows#HogFlowsActionsEmailPartialUpdateRequestOperationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#DesignOperation"
      },
      "traits": {
        "smithy.api#documentation": "Ordered design edits applied atomically to this step's email design - the same operations as the email template patch. The result is re-rendered to HTML server-side, so the sent email always matches the patched design."
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowActionEmailPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        },
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Id of the function_email step to edit."
          }
        },
        "base_updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optimistic concurrency: the updated_at (or draft_updated_at) last loaded. If the stored workflow is newer, the patch is rejected with 409 instead of clobbering a concurrent edit."
          }
        },
        "operations": {
          "target": "com.posthog.hog_flows#HogFlowsActionsEmailPartialUpdateRequestOperationsList",
          "traits": {
            "smithy.api#documentation": "Ordered design edits applied atomically to this step's email design - the same operations as the email template patch. The result is re-rendered to HTML server-side, so the sent email always matches the patched design."
          }
        },
        "email_patch": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Partial email fields deep-merged into the step's email (a null leaf deletes the key): subject, preheader, text, to, from, replyTo, cc, bcc. The sender is from: {integrationId, email?, name?}, where email and name are optional templated overrides resolved per invocation; the address must resolve to the selected sender's verified domain or the send fails. The design is edited via operations, and html is always re-rendered from it."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#UpdateHogFlowActionEmailPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#UpdateHogFlowActionEmailPartialRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlow"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/actions/{action_id}/email/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#HogFlowsAssetsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        },
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "action_id",
            "smithy.api#documentation": "Only return assets sent by this email step (action node id) — used to drill in from a step's metric."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Start of the time range, matched on sent time. Relative ('-30d', '-24h') or ISO 8601. Defaults to -30d (the retention window) — bounds the ClickHouse partition scan."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "End of the time range, matched on sent time. Same format as 'after'. Defaults to now."
          }
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "distinct_id",
            "smithy.api#documentation": "Only return assets sent to this distinct_id."
          }
        },
        "invocation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "invocation_id",
            "smithy.api#documentation": "Only return the asset for this specific workflow run — used to deep-link from a single log entry to the email it sent. Returns 0 rows when the send had no captured asset (text-only, kill-switch off, or standalone email)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of assets to return (1-500, default 50)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Number of assets to skip, for pagination."
          }
        },
        "parent_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "parent_run_id",
            "smithy.api#documentation": "Only return assets for this batch run (HogFlowBatchJob id). Pass an empty string to return only event-triggered (non-batch) assets; omit to return all."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive substring match on recipient email or subject."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#MessageAsset": {
      "type": "structure",
      "members": {
        "invocation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The workflow run this email was sent in.",
            "smithy.api#required": {}
          }
        },
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email step (action node) within the workflow that sent this email.",
            "smithy.api#required": {}
          }
        },
        "function_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The workflow id that sent this email — used to navigate from a person's Emails tab back into the originating workflow.",
            "smithy.api#required": {}
          }
        },
        "function_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable workflow name for display. Empty when the workflow has been deleted; clients should fall back to function_id in that case.",
            "smithy.api#required": {}
          }
        },
        "parent_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The batch run this email belongs to, for batch-triggered workflows. Empty for event-triggered runs.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Message channel this asset was sent on: 'email' or 'push'. The per-person endpoints return one channel each.",
            "smithy.api#required": {}
          }
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recipient's distinct_id.",
            "smithy.api#required": {}
          }
        },
        "person_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recipient's person UUID, if resolved.",
            "smithy.api#required": {}
          }
        },
        "recipient": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Who the message went to: the email address for 'email', or the recipient's distinct ID for 'push'.",
            "smithy.api#required": {}
          }
        },
        "subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email subject line, or the push notification title.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Delivery status at capture time. Currently always 'sent' - only delivered messages are captured.",
            "smithy.api#required": {}
          }
        },
        "sent_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the message was sent.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowsAssetsRetrieveResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#MessageAsset"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowsAssetsRetrieveResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.hog_flows#HogFlowsAssetsRetrieveResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.hog_flows#HogFlowsAssetsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#HogFlowsAssetsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#HogFlowsAssetsRetrieveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/assets/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#HogFlowsAssetContentRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        },
        "action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "action_id",
            "smithy.api#documentation": "The email step (action node) that sent the email. Defaults to empty for standalone email sends."
          }
        },
        "invocation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "invocation_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "The workflow run the email was sent in."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#HogFlowsAssetContentRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#HogFlowsAssetContentRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/assets/content/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#ListHogFlowBatchJobsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this hog flow."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.hog_flows#HogFlowBatchJob": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.hog_flows#HogFlowBatchJobStatusEnum",
          "traits": {
            "smithy.api#documentation": "Not currently tracked — stays at its initial value. Use the workflow logs/metrics endpoints for run outcome.\n\n* `waiting` - Waiting\n* `queued` - Queued\n* `active` - Active\n* `completed` - Completed\n* `cancelled` - Cancelled\n* `failed` - Failed"
          }
        },
        "hog_flow": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the workflow this batch run belongs to.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Audience snapshot the run fanned out to, taken from the workflow's batch trigger filters.",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Variable value overrides applied to this run."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.hog_flows#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.hog_flows#HogFlowBatchJobStatusEnum": {
      "type": "enum",
      "members": {
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "waiting"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `waiting` - Waiting\n* `queued` - Queued\n* `active` - Active\n* `completed` - Completed\n* `cancelled` - Cancelled\n* `failed` - Failed"
      }
    },
    "com.posthog.hog_flows#HogFlowsBatchJobsListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.hog_flows#HogFlowBatchJob"
      },
      "traits": {}
    },
    "com.posthog.hog_flows#ListHogFlowBatchJobsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.hog_flows#HogFlowsBatchJobsListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.hog_flows#ListHogFlowBatchJobs": {
      "type": "operation",
      "input": {
        "target": "com.posthog.hog_flows#ListHogFlowBatchJobsRequest"
      },
      "output": {
        "target": "com.posthog.hog_flows#ListHogFlowBatchJobsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.hog_flows#Forbidden"
        },
        {
          "target": "com.posthog.hog_flows#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/hog_flows/{id}/batch_jobs/",
          "code": 200
        }
      }
    },
    "com.posthog.hog_flows#CreateHogFlowBatchJobRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
[...]
