{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.llm_prompts#LlmPromptsListRequestContent": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LlmPromptsListRequestOrderBy": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "NAME_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-name"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        },
        "UPDATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-updated_at"
          }
        },
        "VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "version"
          }
        },
        "VERSION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-version"
          }
        },
        "LATEST_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "latest_version"
          }
        },
        "LATEST_VERSION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-latest_version"
          }
        },
        "VERSION_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "version_count"
          }
        },
        "VERSION_COUNT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-version_count"
          }
        },
        "FIRST_VERSION_CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_version_created_at"
          }
        },
        "FIRST_VERSION_CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-first_version_created_at"
          }
        },
        "PROMPT_SIZE_BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prompt_size_bytes"
          }
        },
        "PROMPT_SIZE_BYTES_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-prompt_size_bytes"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#ListLlmPromptsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "content": {
          "target": "com.posthog.llm_prompts#LlmPromptsListRequestContent",
          "traits": {
            "smithy.api#httpQuery": "content",
            "smithy.api#documentation": "Controls how much prompt content is included in the response. 'full' includes the full prompt, 'preview' includes a short prompt_preview, and 'none' omits prompt content entirely. The config field is only included with 'full'. The outline field is always included.\n\n* `full` - full\n* `preview` - preview\n* `none` - none"
          }
        },
        "created_by_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "created_by_id",
            "smithy.api#documentation": "Filter prompts by the ID of the user who created them."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order_by": {
          "target": "com.posthog.llm_prompts#LlmPromptsListRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Field to sort the prompt list by. Prefix with '-' for descending order.\n\n* `name` - name\n* `-name` - -name\n* `created_at` - created_at\n* `-created_at` - -created_at\n* `updated_at` - updated_at\n* `-updated_at` - -updated_at\n* `version` - version\n* `-version` - -version\n* `latest_version` - latest_version\n* `-latest_version` - -latest_version\n* `version_count` - version_count\n* `-version_count` - -version_count\n* `first_version_created_at` - first_version_created_at\n* `-first_version_created_at` - -first_version_created_at\n* `prompt_size_bytes` - prompt_size_bytes\n* `-prompt_size_bytes` - -prompt_size_bytes"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Optional substring filter applied to prompt names and prompt content."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_prompts#PaginatedLLMPromptListList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.llm_prompts#PaginatedLLMPromptListListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptList": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique prompt name using letters, numbers, hyphens, and underscores only."
          }
        },
        "prompt": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Prompt payload as JSON or string data."
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional JSON object with model parameters or any agent configuration (e.g. model, temperature, tools). Versioned with the prompt and returned as-is when fetching it. Don't store secrets here: config is returned to anyone who can read the prompt.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "version_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional note describing what changed in this version. Set when the version is published.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.llm_prompts#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "is_latest": {
          "target": "smithy.api#Boolean"
        },
        "latest_version": {
          "target": "smithy.api#Integer"
        },
        "version_count": {
          "target": "smithy.api#Integer"
        },
        "first_version_created_at": {
          "target": "smithy.api#String"
        },
        "outline": {
          "target": "com.posthog.llm_prompts#LLMPromptListOutlineList"
        },
        "labels": {
          "target": "com.posthog.llm_prompts#LLMPromptListLabelsList",
          "traits": {
            "smithy.api#documentation": "Names of the labels currently pointing at this version."
          }
        },
        "activity_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key for this prompt's rows in the activity log, e.g. for the History tab. Derived from the name, at most 72 characters."
          }
        },
        "prompt_preview": {
          "target": "smithy.api#String"
        },
        "prompt_size_bytes": {
          "target": "smithy.api#Integer"
        },
        "all_labels": {
          "target": "com.posthog.llm_prompts#LLMPromptListAllLabelsList"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.llm_prompts#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.llm_prompts#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.llm_prompts#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.llm_prompts#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.llm_prompts#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptOutlineEntry": {
      "type": "structure",
      "members": {
        "level": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Markdown heading level (1-6)."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Heading text with markdown link syntax preserved."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptListOutlineList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_prompts#LLMPromptOutlineEntry"
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptListLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Names of the labels currently pointing at this version."
      }
    },
    "com.posthog.llm_prompts#LLMPromptLabelSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label name, e.g. 'production'.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Prompt version this label currently points to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptListAllLabelsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_prompts#LLMPromptLabelSummary"
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#PaginatedLLMPromptListListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_prompts#LLMPromptList"
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#ListLlmPrompts": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_prompts#ListLlmPromptsRequest"
      },
      "output": {
        "target": "com.posthog.llm_prompts#PaginatedLLMPromptListList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_prompts/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_prompts#CreateLlmPromptRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique prompt name using letters, numbers, hyphens, and underscores only."
          }
        },
        "prompt": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Prompt payload as JSON or string data."
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional JSON object with model parameters or any agent configuration (e.g. model, temperature, tools). Versioned with the prompt and returned as-is when fetching it. Don't store secrets here: config is returned to anyone who can read the prompt.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional note describing what changed in this version. Set when the version is published.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_prompts#LLMPrompt": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique prompt name using letters, numbers, hyphens, and underscores only."
          }
        },
        "prompt": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Prompt payload as JSON or string data."
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional JSON object with model parameters or any agent configuration (e.g. model, temperature, tools). Versioned with the prompt and returned as-is when fetching it. Don't store secrets here: config is returned to anyone who can read the prompt.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "version_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional note describing what changed in this version. Set when the version is published.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.llm_prompts#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "is_latest": {
          "target": "smithy.api#Boolean"
        },
        "latest_version": {
          "target": "smithy.api#Integer"
        },
        "version_count": {
          "target": "smithy.api#Integer"
        },
        "first_version_created_at": {
          "target": "smithy.api#String"
        },
        "outline": {
          "target": "com.posthog.llm_prompts#LLMPromptOutlineList"
        },
        "labels": {
          "target": "com.posthog.llm_prompts#LLMPromptLabelsList",
          "traits": {
            "smithy.api#documentation": "Names of the labels currently pointing at this version."
          }
        },
        "activity_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key for this prompt's rows in the activity log, e.g. for the History tab. Derived from the name, at most 72 characters."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptOutlineList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_prompts#LLMPromptOutlineEntry"
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Names of the labels currently pointing at this version."
      }
    },
    "com.posthog.llm_prompts#CreateLlmPrompt": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_prompts#CreateLlmPromptRequest"
      },
      "output": {
        "target": "com.posthog.llm_prompts#LLMPrompt"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_prompts/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_prompts#LlmPromptsNameRetrieveRequestContent": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "full"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LlmPromptsNameRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.posthog.llm_prompts#LlmPromptsNameRetrieveRequestContent",
          "traits": {
            "smithy.api#httpQuery": "content",
            "smithy.api#documentation": "Controls how much prompt content is included in the response. 'full' includes the full prompt, 'preview' includes a short prompt_preview, and 'none' omits prompt content entirely. The config field is only included with 'full'. The outline field is always included.\n\n* `full` - full\n* `preview` - preview\n* `none` - none"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "label",
            "smithy.api#documentation": "Fetch the version this label currently points to, e.g. 'production'. Lowercase letters, numbers, dots, hyphens and underscores. Mutually exclusive with version."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "version",
            "smithy.api#documentation": "Specific prompt version to fetch. If omitted, the latest version is returned."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_prompts#LLMPromptPublic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "prompt": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Full prompt content. Omitted when 'content=preview' or 'content=none'."
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON object with model parameters or any agent configuration stored with this version, or null when the version has none. Omitted when 'content=preview' or 'content=none'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "prompt_preview": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First 160 characters of the prompt. Only present when 'content=preview'."
          }
        },
        "outline": {
          "target": "com.posthog.llm_prompts#LLMPromptPublicOutlineList",
          "traits": {
            "smithy.api#documentation": "Flat list of markdown headings parsed from the prompt. Useful as a lightweight table of contents."
          }
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The label this prompt was fetched by. Only present when fetching with the label parameter."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        },
        "is_latest": {
          "target": "smithy.api#Boolean"
        },
        "latest_version": {
          "target": "smithy.api#Integer"
        },
        "version_count": {
          "target": "smithy.api#Integer"
        },
        "first_version_created_at": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptPublicOutlineList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_prompts#LLMPromptOutlineEntry"
      },
      "traits": {
        "smithy.api#documentation": "Flat list of markdown headings parsed from the prompt. Useful as a lightweight table of contents."
      }
    },
    "com.posthog.llm_prompts#LlmPromptsNameRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_prompts#LlmPromptsNameRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_prompts#LLMPromptPublic"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_prompts/name/{prompt_name}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_prompts#LLMPromptEditOperation": {
      "type": "structure",
      "members": {
        "old": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text to find in the current prompt. Must match exactly once."
          }
        },
        "new": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Replacement text."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LlmPromptsNamePartialUpdateRequestEditsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_prompts#LLMPromptEditOperation"
      },
      "traits": {
        "smithy.api#documentation": "List of find/replace operations to apply to the current prompt version. Each edit's 'old' text must match exactly once. Edits are applied sequentially. Mutually exclusive with prompt."
      }
    },
    "com.posthog.llm_prompts#UpdateLlmPromptNamePartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prompt": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Full prompt payload to publish as a new version. Mutually exclusive with edits."
          }
        },
        "edits": {
          "target": "com.posthog.llm_prompts#LlmPromptsNamePartialUpdateRequestEditsList",
          "traits": {
            "smithy.api#documentation": "List of find/replace operations to apply to the current prompt version. Each edit's 'old' text must match exactly once. Edits are applied sequentially. Mutually exclusive with prompt."
          }
        },
        "config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "JSON object with model parameters or any agent configuration to store with this version. If omitted, the current version's config is carried forward; pass null to clear it. Can be combined with either prompt or edits. Don't store secrets here: config is returned to anyone who can read the prompt.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "base_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest version you are editing from. Used for optimistic concurrency checks."
          }
        },
        "version_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional note describing what changed in this version. Shown in the version history."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_prompts#UpdateLlmPromptNamePartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_prompts#UpdateLlmPromptNamePartialRequest"
      },
      "output": {
        "target": "com.posthog.llm_prompts#LLMPrompt"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/llm_prompts/name/{prompt_name}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_prompts#CreateLlmPromptNameArchiveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_prompts#CreateLlmPromptNameArchive": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_prompts#CreateLlmPromptNameArchiveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_prompts/name/{prompt_name}/archive/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_prompts#CreateLlmPromptNameDuplicateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "new_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the duplicated prompt. Must be unique and use only letters, numbers, hyphens, and underscores."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_prompts#CreateLlmPromptNameDuplicate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_prompts#CreateLlmPromptNameDuplicateRequest"
      },
      "output": {
        "target": "com.posthog.llm_prompts#LLMPrompt"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/llm_prompts/name/{prompt_name}/duplicate/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_prompts#UpdateLlmPromptNameLabelRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "label_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Prompt version this label should point to. If the label already exists on another version of the prompt, it is moved there.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_prompts#LLMPromptLabel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Label name, e.g. 'production'. Points to exactly one version of the prompt.",
            "smithy.api#required": {}
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the prompt this label belongs to.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.llm_prompts#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#UpdateLlmPromptNameLabel": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_prompts#UpdateLlmPromptNameLabelRequest"
      },
      "output": {
        "target": "com.posthog.llm_prompts#LLMPromptLabel"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/llm_prompts/name/{prompt_name}/labels/{label_name}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_prompts#LlmPromptsNameLabelsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "label_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_prompts#LlmPromptsNameLabelsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_prompts#LlmPromptsNameLabelsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/llm_prompts/name/{prompt_name}/labels/{label_name}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_prompts#LlmPromptsResolveNameRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "prompt_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "before_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "before_version",
            "smithy.api#documentation": "Return versions older than this version number. Mutually exclusive with offset."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of versions to return per page (1-100)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Zero-based offset into version history for pagination. Mutually exclusive with before_version."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "version",
            "smithy.api#documentation": "Specific prompt version to fetch. If omitted, the latest version is returned."
          }
        },
        "version_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "version_id",
            "smithy.api#documentation": "Exact prompt version UUID to resolve. Can be used together with version for extra safety."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.llm_prompts#LLMPromptResolveResponse": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "com.posthog.llm_prompts#LLMPrompt"
        },
        "versions": {
          "target": "com.posthog.llm_prompts#LLMPromptResolveResponseVersionsList"
        },
        "has_more": {
          "target": "smithy.api#Boolean"
        },
        "labels": {
          "target": "com.posthog.llm_prompts#LLMPromptResolveResponseLabelsList",
          "traits": {
            "smithy.api#documentation": "All labels on this prompt with the version each one currently points to, across all versions (not just the returned page)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptVersionSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "version": {
          "target": "smithy.api#Integer"
        },
        "version_description": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.llm_prompts#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "is_latest": {
          "target": "smithy.api#Boolean"
        },
        "labels": {
          "target": "com.posthog.llm_prompts#LLMPromptVersionSummaryLabelsList",
          "traits": {
            "smithy.api#documentation": "Names of the labels currently pointing at this version."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptVersionSummaryLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Names of the labels currently pointing at this version."
      }
    },
    "com.posthog.llm_prompts#LLMPromptResolveResponseVersionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_prompts#LLMPromptVersionSummary"
      },
      "traits": {}
    },
    "com.posthog.llm_prompts#LLMPromptResolveResponseLabelsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.llm_prompts#LLMPromptLabel"
      },
      "traits": {
        "smithy.api#documentation": "All labels on this prompt with the version each one currently points to, across all versions (not just the returned page)."
      }
    },
    "com.posthog.llm_prompts#LlmPromptsResolveNameRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.llm_prompts#LlmPromptsResolveNameRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.llm_prompts#LLMPromptResolveResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/llm_prompts/resolve/name/{prompt_name}/",
          "code": 200
        }
      }
    },
    "com.posthog.llm_prompts#LlmPrompts": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.llm_prompts#ListLlmPrompts"
        },
        {
          "target": "com.posthog.llm_prompts#CreateLlmPrompt"
        },
        {
          "target": "com.posthog.llm_prompts#LlmPromptsNameRetrieve"
        },
        {
          "target": "com.posthog.llm_prompts#UpdateLlmPromptNamePartial"
        },
        {
          "target": "com.posthog.llm_prompts#CreateLlmPromptNameArchive"
        },
        {
          "target": "com.posthog.llm_prompts#CreateLlmPromptNameDuplicate"
        },
        {
          "target": "com.posthog.llm_prompts#UpdateLlmPromptNameLabel"
        },
        {
          "target": "com.posthog.llm_prompts#LlmPromptsNameLabelsDestroy"
        },
        {
          "target": "com.posthog.llm_prompts#LlmPromptsResolveNameRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
