{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.logs#LogsAlertsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "Only return log alerts created by the user with this UUID."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.logs#PaginatedLogsAlertConfigurationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.logs#PaginatedLogsAlertConfigurationListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogsAlertConfiguration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this alert."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is actively being evaluated. Disabling resets the state to not_firing."
          }
        },
        "filters": {
          "target": "com.posthog.logs#LogsAlertFilters",
          "traits": {
            "smithy.api#documentation": "Filter criteria — subset of LogsViewerFilters. Must contain at least one of: severityLevels (list of severity strings), serviceNames (list of service name strings), or filterGroup (property filter group object). May be empty on draft alerts (enabled=false)."
          }
        },
        "threshold_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of matching log entries that constitutes a threshold breach within the evaluation window. Defaults to 100. Use 0 with the 'above' operator to fire on any matching log."
          }
        },
        "threshold_operator": {
          "target": "com.posthog.logs#LogsAlertThresholdOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Whether the alert fires when the count is above or below the threshold.\n\n* `above` - Above\n* `below` - Below"
          }
        },
        "window_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window in minutes over which log entries are counted. Allowed values: 5, 10, 15, 30, 60."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How often the alert is evaluated, in minutes. Server-managed."
          }
        },
        "state": {
          "target": "com.posthog.logs#LogsAlertConfigurationStateEnum",
          "traits": {
            "smithy.api#documentation": "Current alert state: not_firing, firing, pending_resolve, errored, or snoozed. Server-managed.\n\n* `not_firing` - Not firing\n* `firing` - Firing\n* `pending_resolve` - Pending resolve\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken"
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of check periods in the sliding evaluation window for firing (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many periods within the evaluation window must breach the threshold to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between repeated notifications after the alert fires. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.logs#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not run. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_check_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the next evaluation is scheduled. Server-managed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_notified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the last notification was sent. Server-managed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_checked_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last evaluated. Server-managed.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive evaluation failures. Resets on success. Server-managed."
          }
        },
        "last_error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message from the most recent errored check, or null if the alert's most recent check was successful. Sourced from LogsAlertEvent without denormalization so retention-aware cleanup rules stay the only source of truth.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "state_timeline": {
          "target": "com.posthog.logs#LogsAlertConfigurationStateTimelineList",
          "traits": {
            "smithy.api#documentation": "Continuous state intervals over the last 24h, ordered oldest-first. Each interval covers a span during which (state, enabled) was constant. Derived from LogsAlertEvent rows walked in chronological order; consecutive identical intervals are collapsed. Drives the 'Last 24h' status bar on the alert list."
          }
        },
        "destination_types": {
          "target": "com.posthog.logs#LogsAlertConfigurationDestinationTypesList",
          "traits": {
            "smithy.api#documentation": "Notification destination types configured for this alert — e.g. 'slack', 'webhook'. Empty list means no notifications will fire. One or more destinations should be added after creating an alert."
          }
        },
        "first_enabled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was first enabled. Null means the alert is still in draft state.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was created."
          }
        },
        "created_by": {
          "target": "com.posthog.logs#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last modified.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogsAlertFilters": {
      "type": "structure",
      "members": {
        "filterGroup": {
          "target": "com.posthog.logs#PropertyGroupFilter",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "serviceNames": {
          "target": "com.posthog.logs#LogsAlertFiltersServiceNamesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "severityLevels": {
          "target": "com.posthog.logs#LogsAlertFiltersSeverityLevelsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PropertyGroupFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.logs#FilterLogicalOperator"
        },
        "values": {
          "target": "com.posthog.logs#PropertyGroupFilterValuesList"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#FilterLogicalOperator": {
      "type": "enum",
      "members": {
        "AND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AND"
          }
        },
        "OR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OR"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PropertyGroupFilterValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.logs#FilterLogicalOperator"
        },
        "values": {
          "target": "com.posthog.logs#PropertyGroupFilterValueValuesList"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#EventPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event properties"
          }
        },
        "value": {
          "target": "com.posthog.logs#EventPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PropertyOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "NOT_STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "NOT_ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_ends_with"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "between"
          }
        },
        "NOT_BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_between"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        },
        "IS_CLEANED_PATH_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_cleaned_path_exact"
          }
        },
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        },
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#EventPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#EventPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#EventPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#EventPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#EventPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PersonPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person properties"
          }
        },
        "value": {
          "target": "com.posthog.logs#PersonPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PersonPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PersonPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#PersonPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#PersonPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#PersonPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PersonMetadataPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Top-level columns on the persons table (e.g. created_at), not properties JSON"
          }
        },
        "value": {
          "target": "com.posthog.logs#PersonMetadataPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PersonMetadataPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PersonMetadataPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#PersonMetadataPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#PersonMetadataPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#PersonMetadataPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#ElementPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.logs#Key10"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#ElementPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#Key10": {
      "type": "enum",
      "members": {
        "TAG_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_name"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "HREF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "href"
          }
        },
        "SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selector"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#ElementPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#ElementPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#ElementPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#ElementPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#ElementPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#EventMetadataPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#EventMetadataPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#EventMetadataPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#EventMetadataPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#EventMetadataPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#EventMetadataPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#EventMetadataPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#SessionPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#SessionPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#SessionPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#SessionPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#SessionPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#SessionPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#SessionPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#CohortPropertyFilter": {
      "type": "structure",
      "members": {
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#RecordingPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.logs#RecordingPropertyFilterKey"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#RecordingPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#DurationType": {
      "type": "enum",
      "members": {
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        },
        "ACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_seconds"
          }
        },
        "INACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive_seconds"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#RecordingPropertyFilterKey": {
      "type": "union",
      "members": {
        "DurationType": {
          "target": "com.posthog.logs#DurationType"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#RecordingPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#RecordingPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#RecordingPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#RecordingPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#RecordingPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogEntryPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#LogEntryPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogEntryPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogEntryPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#LogEntryPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#LogEntryPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#LogEntryPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#GroupPropertyFilter": {
      "type": "structure",
      "members": {
        "group_key_names": {
          "target": "com.posthog.logs#GroupPropertyFilterGroupKeyNamesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#GroupPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#GroupPropertyFilterGroupKeyNamesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.logs#GroupPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#GroupPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#GroupPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#GroupPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#GroupPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#FeaturePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event property with \"$feature/\" prepended"
          }
        },
        "value": {
          "target": "com.posthog.logs#FeaturePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#FeaturePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#FeaturePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#FeaturePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#FeaturePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#FeaturePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#FlagPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key should be the flag ID"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only flag_evaluates_to operator is allowed for flag dependencies"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag dependency"
          }
        },
        "value": {
          "target": "com.posthog.logs#FlagPropertyFilterValue",
          "traits": {
            "smithy.api#documentation": "The value can be true, false, or a variant name"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#FlagPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The value can be true, false, or a variant name"
      }
    },
    "com.posthog.logs#HogQLPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#HogQLPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#HogQLPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#HogQLPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#HogQLPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#HogQLPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#HogQLPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#EmptyPropertyFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#DataWarehousePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#DataWarehousePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#DataWarehousePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#DataWarehousePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#DataWarehousePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#DataWarehousePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#DataWarehousePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#DataWarehousePersonPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#DataWarehousePersonPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#DataWarehousePersonPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#DataWarehousePersonPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#DataWarehousePersonPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#DataWarehousePersonPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#DataWarehousePersonPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#ErrorTrackingIssueFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#ErrorTrackingIssueFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#ErrorTrackingIssueFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#ErrorTrackingIssueFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#ErrorTrackingIssueFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#ErrorTrackingIssueFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#ErrorTrackingIssueFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "com.posthog.logs#LogPropertyFilterType"
        },
        "value": {
          "target": "com.posthog.logs#LogPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogPropertyFilterType": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "LOG_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log_attribute"
          }
        },
        "LOG_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#LogPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#LogPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#LogPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#MetricPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#MetricPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#MetricPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#MetricPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#MetricPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#MetricPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#MetricPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#SpanPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "com.posthog.logs#SpanPropertyFilterType"
        },
        "value": {
          "target": "com.posthog.logs#SpanPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#SpanPropertyFilterType": {
      "type": "enum",
      "members": {
        "SPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span"
          }
        },
        "SPAN_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_attribute"
          }
        },
        "SPAN_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#SpanPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#SpanPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#SpanPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#SpanPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#SpanPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#RevenueAnalyticsPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#RevenueAnalyticsPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#RevenueAnalyticsPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#RevenueAnalyticsPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#RevenueAnalyticsPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#RevenueAnalyticsPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#RevenueAnalyticsPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#AccountCustomPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer analytics account custom property — the key is the property definition id"
          }
        },
        "value": {
          "target": "com.posthog.logs#AccountCustomPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#AccountCustomPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#AccountCustomPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#AccountCustomPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#AccountCustomPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#AccountCustomPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#WorkflowVariablePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.logs#WorkflowVariablePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#WorkflowVariablePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#WorkflowVariablePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#WorkflowVariablePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.logs#WorkflowVariablePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.logs#WorkflowVariablePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#BehavioralPropertyFilter": {
      "type": "structure",
      "members": {
        "event_filters": {
          "target": "com.posthog.logs#BehavioralPropertyFilterEventFiltersList",
          "traits": {
            "smithy.api#documentation": "Extra property filters the matching events must satisfy. Deliberately excludes nested behavioral/cohort filters and groups",
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_type": {
          "target": "com.posthog.logs#BehavioralEventSource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "explicit_datetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute or relative (e.g. -30d) lower date bound — alternative to time_value/time_interval",
            "com.distilled.openapi#nullable": {}
          }
        },
        "explicit_datetime_to": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event name, or action id when event_type is 'actions'",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "negation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Match persons who did NOT satisfy the criterion. Not the same as a low count — zero-occurrence persons never match count operators",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.logs#PropertyOperator",
          "traits": {
            "smithy.api#documentation": "Count comparison for performed_event_multiple, defaults to exact",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count threshold for performed_event_multiple",
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_interval": {
          "target": "com.posthog.logs#TimeUnitType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Relative time window size, paired with time_interval",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person performed (or didn't perform) an event in a time window. ClickHouse-only — not evaluable by flags or CDP"
          }
        },
        "value": {
          "target": "com.posthog.logs#InlineBehavioralType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#BehavioralPropertyFilterEventFiltersItem": {
      "type": "union",
      "members": {
        "EventPropertyFilter": {
          "target": "com.posthog.logs#EventPropertyFilter"
        },
        "PersonPropertyFilter": {
          "target": "com.posthog.logs#PersonPropertyFilter"
        },
        "ElementPropertyFilter": {
          "target": "com.posthog.logs#ElementPropertyFilter"
        },
        "FeaturePropertyFilter": {
          "target": "com.posthog.logs#FeaturePropertyFilter"
        },
        "HogQLPropertyFilter": {
          "target": "com.posthog.logs#HogQLPropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#BehavioralPropertyFilterEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#BehavioralPropertyFilterEventFiltersItem"
      },
      "traits": {}
    },
    "com.posthog.logs#BehavioralEventSource": {
      "type": "enum",
      "members": {
        "EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "events"
          }
        },
        "ACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actions"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#TimeUnitType": {
      "type": "enum",
      "members": {
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#InlineBehavioralType": {
      "type": "enum",
      "members": {
        "PERFORMED_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performed_event"
          }
        },
        "PERFORMED_EVENT_MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performed_event_multiple"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PropertyGroupFilterValueValuesItem": {
      "type": "union",
      "members": {
        "PropertyGroupFilterValue": {
          "target": "com.posthog.logs#PropertyGroupFilterValue"
        },
        "EventPropertyFilter": {
          "target": "com.posthog.logs#EventPropertyFilter"
        },
        "PersonPropertyFilter": {
          "target": "com.posthog.logs#PersonPropertyFilter"
        },
        "PersonMetadataPropertyFilter": {
          "target": "com.posthog.logs#PersonMetadataPropertyFilter"
        },
        "ElementPropertyFilter": {
          "target": "com.posthog.logs#ElementPropertyFilter"
        },
        "EventMetadataPropertyFilter": {
          "target": "com.posthog.logs#EventMetadataPropertyFilter"
        },
        "SessionPropertyFilter": {
          "target": "com.posthog.logs#SessionPropertyFilter"
        },
        "CohortPropertyFilter": {
          "target": "com.posthog.logs#CohortPropertyFilter"
        },
        "RecordingPropertyFilter": {
          "target": "com.posthog.logs#RecordingPropertyFilter"
        },
        "LogEntryPropertyFilter": {
          "target": "com.posthog.logs#LogEntryPropertyFilter"
        },
        "GroupPropertyFilter": {
          "target": "com.posthog.logs#GroupPropertyFilter"
        },
        "FeaturePropertyFilter": {
          "target": "com.posthog.logs#FeaturePropertyFilter"
        },
        "FlagPropertyFilter": {
          "target": "com.posthog.logs#FlagPropertyFilter"
        },
        "HogQLPropertyFilter": {
          "target": "com.posthog.logs#HogQLPropertyFilter"
        },
        "EmptyPropertyFilter": {
          "target": "com.posthog.logs#EmptyPropertyFilter"
        },
        "DataWarehousePropertyFilter": {
          "target": "com.posthog.logs#DataWarehousePropertyFilter"
        },
        "DataWarehousePersonPropertyFilter": {
          "target": "com.posthog.logs#DataWarehousePersonPropertyFilter"
        },
        "ErrorTrackingIssueFilter": {
          "target": "com.posthog.logs#ErrorTrackingIssueFilter"
        },
        "LogPropertyFilter": {
          "target": "com.posthog.logs#LogPropertyFilter"
        },
        "MetricPropertyFilter": {
          "target": "com.posthog.logs#MetricPropertyFilter"
        },
        "SpanPropertyFilter": {
          "target": "com.posthog.logs#SpanPropertyFilter"
        },
        "RevenueAnalyticsPropertyFilter": {
          "target": "com.posthog.logs#RevenueAnalyticsPropertyFilter"
        },
        "AccountCustomPropertyFilter": {
          "target": "com.posthog.logs#AccountCustomPropertyFilter"
        },
        "WorkflowVariablePropertyFilter": {
          "target": "com.posthog.logs#WorkflowVariablePropertyFilter"
        },
        "BehavioralPropertyFilter": {
          "target": "com.posthog.logs#BehavioralPropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PropertyGroupFilterValueValuesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#PropertyGroupFilterValueValuesItem"
      },
      "traits": {}
    },
    "com.posthog.logs#PropertyGroupFilterValuesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#PropertyGroupFilterValue"
      },
      "traits": {}
    },
    "com.posthog.logs#LogsAlertFiltersServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.logs#LogSeverityLevel": {
      "type": "enum",
      "members": {
        "TRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trace"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "debug"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "info"
          }
        },
        "WARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warn"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fatal"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogsAlertFiltersSeverityLevelsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#LogSeverityLevel"
      },
      "traits": {}
    },
    "com.posthog.logs#LogsAlertThresholdOperatorEnum": {
      "type": "enum",
      "members": {
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "above"
          }
        },
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "below"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `above` - Above\n* `below` - Below"
      }
    },
    "com.posthog.logs#LogsAlertConfigurationStateEnum": {
      "type": "enum",
      "members": {
        "NOT_FIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_firing"
          }
        },
        "FIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firing"
          }
        },
        "PENDING_RESOLVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_resolve"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "SNOOZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snoozed"
          }
        },
        "BROKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "broken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `not_firing` - Not firing\n* `firing` - Firing\n* `pending_resolve` - Pending resolve\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken"
      }
    },
    "com.posthog.logs#AlertScheduleRestriction": {
      "type": "structure",
      "members": {
        "blocked_windows": {
          "target": "com.posthog.logs#AlertScheduleRestrictionBlockedWindowsList",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not run. Overlapping or identical windows are merged when saved. At most five windows before normalization; empty array clears quiet hours."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#AlertScheduleRestrictionWindow": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time HH:MM (24-hour, project timezone). Inclusive. Each window must span ≥ 30 minutes on the local daily timeline (half-open [start, end))."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time HH:MM (24-hour). Exclusive (half-open interval). Each window must span ≥ 30 minutes locally."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#AlertScheduleRestrictionBlockedWindowsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#AlertScheduleRestrictionWindow"
      },
      "traits": {
        "smithy.api#documentation": "Blocked local time windows when the alert must not run. Overlapping or identical windows are merged when saved. At most five windows before normalization; empty array clears quiet hours."
      }
    },
    "com.posthog.logs#LogsAlertStateInterval": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interval start (UTC, inclusive)."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Interval end (UTC, exclusive)."
          }
        },
        "state": {
          "target": "com.posthog.logs#LogsAlertConfigurationStateEnum",
          "traits": {
            "smithy.api#documentation": "Alert state during this interval.\n\n* `not_firing` - Not firing\n* `firing` - Firing\n* `pending_resolve` - Pending resolve\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert was enabled during this interval. Disabled alerts keep their state but are inactive."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogsAlertConfigurationStateTimelineList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#LogsAlertStateInterval"
      },
      "traits": {
        "smithy.api#documentation": "Continuous state intervals over the last 24h, ordered oldest-first. Each interval covers a span during which (state, enabled) was constant. Derived from LogsAlertEvent rows walked in chronological order; consecutive identical intervals are collapsed. Drives the 'Last 24h' status bar on the alert list."
      }
    },
    "com.posthog.logs#NotificationDestinationTypeEnum": {
      "type": "enum",
      "members": {
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `slack` - slack\n* `webhook` - webhook\n* `teams` - teams"
      }
    },
    "com.posthog.logs#LogsAlertConfigurationDestinationTypesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#NotificationDestinationTypeEnum"
      },
      "traits": {
        "smithy.api#documentation": "Notification destination types configured for this alert — e.g. 'slack', 'webhook'. Empty list means no notifications will fire. One or more destinations should be added after creating an alert."
      }
    },
    "com.posthog.logs#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.logs#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.logs#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.logs#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.logs#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.logs#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.logs#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.logs#PaginatedLogsAlertConfigurationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#LogsAlertConfiguration"
      },
      "traits": {}
    },
    "com.posthog.logs#LogsAlertsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.logs#LogsAlertsListRequest"
      },
      "output": {
        "target": "com.posthog.logs#PaginatedLogsAlertConfigurationList"
      },
      "errors": [
        {
          "target": "com.posthog.logs#BadRequest"
        },
        {
          "target": "com.posthog.logs#Forbidden"
        },
        {
          "target": "com.posthog.logs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/logs/alerts/",
          "code": 200
        }
      }
    },
    "com.posthog.logs#LogsAlertsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is actively being evaluated. Disabling resets the state to not_firing."
          }
        },
        "filters": {
          "target": "com.posthog.logs#LogsAlertFilters",
          "traits": {
            "smithy.api#documentation": "Filter criteria — subset of LogsViewerFilters. Must contain at least one of: severityLevels (list of severity strings), serviceNames (list of service name strings), or filterGroup (property filter group object). May be empty on draft alerts (enabled=false)."
          }
        },
        "threshold_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of matching log entries that constitutes a threshold breach within the evaluation window. Defaults to 100. Use 0 with the 'above' operator to fire on any matching log."
          }
        },
        "threshold_operator": {
          "target": "com.posthog.logs#LogsAlertThresholdOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Whether the alert fires when the count is above or below the threshold.\n\n* `above` - Above\n* `below` - Below"
          }
        },
        "window_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window in minutes over which log entries are counted. Allowed values: 5, 10, 15, 30, 60."
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of check periods in the sliding evaluation window for firing (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many periods within the evaluation window must breach the threshold to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between repeated notifications after the alert fires. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.logs#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not run. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.logs#LogsAlertsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.logs#LogsAlertsCreateRequest"
      },
      "output": {
        "target": "com.posthog.logs#LogsAlertConfiguration"
      },
      "errors": [
        {
          "target": "com.posthog.logs#BadRequest"
        },
        {
          "target": "com.posthog.logs#Forbidden"
        },
        {
          "target": "com.posthog.logs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/logs/alerts/",
          "code": 200
        }
      }
    },
    "com.posthog.logs#LogsAlertsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this logs alert configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.logs#LogsAlertConfigurationDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this alert.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is actively being evaluated. Disabling resets the state to not_firing."
          }
        },
        "filters": {
          "target": "com.posthog.logs#LogsAlertFilters",
          "traits": {
            "smithy.api#documentation": "Filter criteria — subset of LogsViewerFilters. Must contain at least one of: severityLevels (list of severity strings), serviceNames (list of service name strings), or filterGroup (property filter group object). May be empty on draft alerts (enabled=false)."
          }
        },
        "threshold_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of matching log entries that constitutes a threshold breach within the evaluation window. Defaults to 100. Use 0 with the 'above' operator to fire on any matching log."
          }
        },
        "threshold_operator": {
          "target": "com.posthog.logs#LogsAlertThresholdOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Whether the alert fires when the count is above or below the threshold.\n\n* `above` - Above\n* `below` - Below"
          }
        },
        "window_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window in minutes over which log entries are counted. Allowed values: 5, 10, 15, 30, 60."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How often the alert is evaluated, in minutes. Server-managed.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.posthog.logs#LogsAlertConfigurationStateEnum",
          "traits": {
            "smithy.api#documentation": "Current alert state: not_firing, firing, pending_resolve, errored, or snoozed. Server-managed.\n\n* `not_firing` - Not firing\n* `firing` - Firing\n* `pending_resolve` - Pending resolve\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken",
            "smithy.api#required": {}
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of check periods in the sliding evaluation window for firing (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many periods within the evaluation window must breach the threshold to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Minimum minutes between repeated notifications after the alert fires. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.logs#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not run. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_check_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the next evaluation is scheduled. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_notified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the last notification was sent. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_checked_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last evaluated. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of consecutive evaluation failures. Resets on success. Server-managed.",
            "smithy.api#required": {}
          }
        },
        "last_error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message from the most recent errored check, or null if the alert's most recent check was successful. Sourced from LogsAlertEvent without denormalization so retention-aware cleanup rules stay the only source of truth.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "state_timeline": {
          "target": "com.posthog.logs#LogsAlertConfigurationDetailStateTimelineList",
          "traits": {
            "smithy.api#documentation": "Continuous state intervals over the last 24h, ordered oldest-first. Each interval covers a span during which (state, enabled) was constant. Derived from LogsAlertEvent rows walked in chronological order; consecutive identical intervals are collapsed. Drives the 'Last 24h' status bar on the alert list.",
            "smithy.api#required": {}
          }
        },
        "destination_types": {
          "target": "com.posthog.logs#LogsAlertConfigurationDetailDestinationTypesList",
          "traits": {
            "smithy.api#documentation": "Notification destination types configured for this alert — e.g. 'slack', 'webhook'. Empty list means no notifications will fire. One or more destinations should be added after creating an alert.",
            "smithy.api#required": {}
          }
        },
        "first_enabled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was first enabled. Null means the alert is still in draft state.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was created.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.logs#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last modified.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "destinations": {
          "target": "com.posthog.logs#LogsAlertConfigurationDetailDestinationsList",
          "traits": {
            "smithy.api#documentation": "This alert's notification destinations, one entry per destination. Each carries the HogFunction IDs that delete it as a group, and its configuration with credential-bearing URL components removed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One alert, with the destinations attached to it. The list endpoint leaves them out:\nreading a destination pulls its stored inputs, which run to several KB per row."
      }
    },
    "com.posthog.logs#LogsAlertConfigurationDetailStateTimelineList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#LogsAlertStateInterval"
      },
      "traits": {
        "smithy.api#documentation": "Continuous state intervals over the last 24h, ordered oldest-first. Each interval covers a span during which (state, enabled) was constant. Derived from LogsAlertEvent rows walked in chronological order; consecutive identical intervals are collapsed. Drives the 'Last 24h' status bar on the alert list."
      }
    },
    "com.posthog.logs#LogsAlertConfigurationDetailDestinationTypesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#NotificationDestinationTypeEnum"
      },
      "traits": {
        "smithy.api#documentation": "Notification destination types configured for this alert — e.g. 'slack', 'webhook'. Empty list means no notifications will fire. One or more destinations should be added after creating an alert."
      }
    },
    "com.posthog.logs#LogsAlertDestinationConfig": {
      "type": "structure",
      "members": {
        "hog_function_ids": {
          "target": "com.posthog.logs#LogsAlertDestinationConfigHogFunctionIdsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.logs#NotificationDestinationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Notification destination type.\n\n* `slack` - slack\n* `webhook` - webhook\n* `teams` - teams",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether every HogFunction in the group is enabled, so the destination notifies for all alert event kinds. This is the stored setting: a destination PostHog stopped delivering to after repeated failures still reads as true.",
            "smithy.api#required": {}
          }
        },
        "slack_workspace_id": {
          "target": "smithy.api#Integer"
        },
        "slack_channel_id": {
          "target": "smithy.api#String"
        },
        "webhook_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Webhook endpoint reduced to scheme and host. The path, query and userinfo carry the secret."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.logs#LogsAlertDestinationConfigHogFunctionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.logs#LogsAlertConfigurationDetailDestinationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.logs#LogsAlertDestinationConfig"
      },
      "traits": {
        "smithy.api#documentation": "This alert's notification destinations, one entry per destination. Each carries the HogFunction IDs that delete it as a group, and its configuration with credential-bearing URL components removed."
      }
    },
    "com.posthog.logs#LogsAlertsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.logs#LogsAlertsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.logs#LogsAlertConfigurationDetail"
      },
      "errors": [
        {
          "target": "com.posthog.logs#Forbidden"
        },
        {
          "target": "com.posthog.logs#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/logs/alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.logs#LogsAlertsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this logs alert configuration."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is actively being evaluated. Disabling resets the state to not_firing."
          }
        },
        "filters": {
          "target": "com.posthog.logs#LogsAlertFilters",
          "traits": {
            "smithy.api#documentation": "Filter criteria — subset of LogsViewerFilters. Must contain at least one of: severityLevels (list of severity strings), serviceNames (list of service name strings), or filterGroup (property filter group object). May be empty on draft alerts (enabled=false)."
          }
        },
        "threshold_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of matching log entries that constitutes a threshold breach within the evaluation window. Defaults to 100. Use 0 with the 'above' operator to fire on any matching log."
          }
        },
        "threshold_operator": {
          "target": "com.posthog.logs#LogsAlertThresholdOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Whether the alert fires when the count is above or below the threshold.\n\n* `above` - Above\n* `below` - Below"
          }
        },
        "window_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Time window in minutes over which log entries are counted. Allowed values: 5, 10, 15, 30, 60."
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of check periods in the sliding evaluation window for firing (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
[...]
