{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.marketing_analytics#MarketingAnalyticsApplySetupOpsCreateRequestOpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Operations to apply, in order. Send `apply` payloads returned verbatim by setup_plan — never hand-craft one. Navigate-only ops (open_oauth, open_source_wizard, open_settings, fix_platform_urls) are rejected: they describe something a browser or a human does."
      }
    },
    "com.posthog.marketing_analytics#ApplySetupOpsSourceEnum": {
      "type": "enum",
      "members": {
        "SETUP_TAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "setup_tab"
          }
        },
        "APPLY_ALL_SAFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apply_all_safe"
          }
        },
        "MCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mcp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `setup_tab` - setup_tab\n* `apply_all_safe` - apply_all_safe\n* `mcp` - mcp"
      }
    },
    "com.posthog.marketing_analytics#MarketingAnalyticsApplySetupOpsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "ops": {
          "target": "com.posthog.marketing_analytics#MarketingAnalyticsApplySetupOpsCreateRequestOpsList",
          "traits": {
            "smithy.api#documentation": "Operations to apply, in order. Send `apply` payloads returned verbatim by setup_plan — never hand-craft one. Navigate-only ops (open_oauth, open_source_wizard, open_settings, fix_platform_urls) are rejected: they describe something a browser or a human does.",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.posthog.marketing_analytics#ApplySetupOpsSourceEnum",
          "traits": {
            "smithy.api#documentation": "Where the request came from, recorded in the activity log\n\n* `setup_tab` - setup_tab\n* `apply_all_safe` - apply_all_safe\n* `mcp` - mcp"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.marketing_analytics#ApplySetupOpsResponse": {
      "type": "structure",
      "members": {
        "applied": {
          "target": "com.posthog.marketing_analytics#ApplySetupOpsResponseAppliedList",
          "traits": {
            "smithy.api#documentation": "The operations that were applied",
            "smithy.api#required": {}
          }
        },
        "undo_ops": {
          "target": "com.posthog.marketing_analytics#ApplySetupOpsResponseUndoOpsList",
          "traits": {
            "smithy.api#documentation": "Operations that reverse this batch, in the order they should be sent. Computed server-side from the pre-change state — POST them back to undo.",
            "smithy.api#required": {}
          }
        },
        "marketing_analytics_config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The config as it now stands",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ApplySetupOpsResponseAppliedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The operations that were applied"
      }
    },
    "com.posthog.marketing_analytics#ApplySetupOpsResponseUndoOpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Operations that reverse this batch, in the order they should be sent. Computed server-side from the pre-change state — POST them back to undo."
      }
    },
    "com.posthog.marketing_analytics#MarketingAnalyticsApplySetupOpsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.marketing_analytics#MarketingAnalyticsApplySetupOpsCreateRequest"
      },
      "output": {
        "target": "com.posthog.marketing_analytics#ApplySetupOpsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.marketing_analytics#BadRequest"
        },
        {
          "target": "com.posthog.marketing_analytics#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/marketing_analytics/apply_setup_ops/",
          "code": 200
        },
        "smithy.api#documentation": "Apply setup operations\n\nApply one or more setup operations from the setup plan, atomically. Either every operation lands or none does — a partially-applied batch has no well-defined undo. Returns `undo_ops`, computed from the pre-change state, which can be POSTed back to reverse the batch. Only send `apply` payloads returned by setup_plan."
      }
    },
    "com.posthog.marketing_analytics#MarketingAnalyticsConversionGoalsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.marketing_analytics#ConversionGoalsListResponse": {
      "type": "structure",
      "members": {
        "goals": {
          "target": "com.posthog.marketing_analytics#ConversionGoalsListResponseGoalsList",
          "traits": {
            "smithy.api#documentation": "One summary entry per configured conversion goal",
            "smithy.api#required": {}
          }
        },
        "attribution_window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The team's configured attribution window in days",
            "smithy.api#required": {}
          }
        },
        "attribution_mode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The team's attribution model (e.g. last_touch, first_touch, linear)",
            "smithy.api#required": {}
          }
        },
        "has_misconfigured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if any goal is misconfigured",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ConversionGoalSummary": {
      "type": "structure",
      "members": {
        "conversion_goal_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the goal. Pass this to the explain, update and delete endpoints.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name of the conversion goal",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.marketing_analytics#ConversionGoalKindEnum",
          "traits": {
            "smithy.api#documentation": "Goal type: EventsNode (PostHog event), ActionsNode (PostHog action), or DataWarehouseNode (external table)\n\n* `EventsNode` - EventsNode\n* `ActionsNode` - ActionsNode\n* `DataWarehouseNode` - DataWarehouseNode",
            "smithy.api#required": {}
          }
        },
        "target_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable target the goal matches (event/action name or table)",
            "smithy.api#required": {}
          }
        },
        "last_30d_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count of matching conversion events in the last 30 days",
            "smithy.api#required": {}
          }
        },
        "integrated_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Conversions whose utm_source matches a known integration. Null for DataWarehouseNode goals.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "events_without_utm_source": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Conversions with no utm_source at all (fix by tagging UTMs). Null for DataWarehouseNode goals.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "events_with_unmatched_utm_source": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Conversions with a utm_source that matches no integration (fix with custom_source_mappings). Null for DataWarehouseNode goals.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "non_integrated_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total non-integrated conversions (without + unmatched utm_source). Null for DataWarehouseNode goals.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "integrated_pct": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage of conversions that are integrated. Null for DataWarehouseNode goals.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_misconfigured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the goal could not be evaluated (e.g. deleted action)",
            "smithy.api#required": {}
          }
        },
        "misconfig_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation when is_misconfigured is true",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_approximate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when this 30d count may differ from the dashboard's attribution-windowed number",
            "smithy.api#required": {}
          }
        },
        "approximation_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Explanation when is_approximate is true",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ConversionGoalKindEnum": {
      "type": "enum",
      "members": {
        "EVENTSNODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EventsNode"
          }
        },
        "ACTIONSNODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActionsNode"
          }
        },
        "DATAWAREHOUSENODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataWarehouseNode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `EventsNode` - EventsNode\n* `ActionsNode` - ActionsNode\n* `DataWarehouseNode` - DataWarehouseNode"
      }
    },
    "com.posthog.marketing_analytics#ConversionGoalsListResponseGoalsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#ConversionGoalSummary"
      },
      "traits": {
        "smithy.api#documentation": "One summary entry per configured conversion goal"
      }
    },
    "com.posthog.marketing_analytics#MarketingAnalyticsConversionGoalsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.marketing_analytics#MarketingAnalyticsConversionGoalsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.marketing_analytics#ConversionGoalsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/marketing_analytics/conversion_goals/",
          "code": 200
        },
        "smithy.api#documentation": "List conversion goals\n\nRead the configured conversion goals for the current project — each with its kind, target, last-30d count, integrated vs non-integrated split, and a misconfiguration flag. Read-only."
      }
    },
    "com.posthog.marketing_analytics#MarketingAnalyticsConversionGoalsDeleteDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "conversion_goal_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.marketing_analytics#ConversionGoalWriteResponse": {
      "type": "structure",
      "members": {
        "goal": {
          "target": "com.posthog.marketing_analytics#ConversionGoal",
          "traits": {
            "smithy.api#documentation": "The goal as stored after the write",
            "smithy.api#required": {}
          }
        },
        "conversion_goals": {
          "target": "com.posthog.marketing_analytics#ConversionGoalWrittenList",
          "traits": {
            "smithy.api#documentation": "Every configured goal after the write, in display order",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ConversionGoal": {
      "type": "union",
      "members": {
        "ConversionGoalFilter1": {
          "target": "com.posthog.marketing_analytics#ConversionGoalFilter1"
        },
        "ConversionGoalFilter2": {
          "target": "com.posthog.marketing_analytics#ConversionGoalFilter2"
        },
        "ConversionGoalFilter3": {
          "target": "com.posthog.marketing_analytics#ConversionGoalFilter3"
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for OpenAPI schema generation - one goal, in any of the three node shapes."
      }
    },
    "com.posthog.marketing_analytics#ConversionGoalFilter1": {
      "type": "structure",
      "members": {
        "conversion_goal_id": {
          "target": "smithy.api#String"
        },
        "conversion_goal_name": {
          "target": "smithy.api#String"
        },
        "counts_as_customer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Marks this goal as customer-defining: a conversion here means the person became a customer (e.g. a payment or subscription), not an intermediate step like a sign up. It gates customer-based metrics such as CAC, whose denominator is this goal's conversions — its count, or its unique converters under dau math. That equals new customers only for a once-per-person moment: a repeatable event such as a monthly payment counts every time and understates cost per customer, and dedup under dau is per result row, so someone converting under two sources counts twice at channel level. Defaults to false.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "counts_as_revenue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Marks this goal as revenue-bearing: the value of a conversion is a monetary amount, not a count or an arbitrary numeric property. It gates revenue metrics such as ROAS and LTV:CAC. The amount itself comes from math_property, and its currency from math_property_revenue_currency, the same shape Revenue analytics uses for revenue events. Independent of counts_as_customer: a purchase is usually both, a trial signup neither. Defaults to false.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The event or `null` for all events.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "fixedProperties": {
          "target": "com.posthog.marketing_analytics#ConversionGoalFilter1FixedPropertiesList",
          "traits": {
            "smithy.api#documentation": "Fixed properties in the query, can't be edited in the interface (e.g. scoping down by person)",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kind": {
          "target": "smithy.api#String"
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math": {
          "target": "com.posthog.marketing_analytics#ConversionGoalFilter1Math",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_group_type_index": {
          "target": "com.posthog.marketing_analytics#MathGroupTypeIndex",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_hogql": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_multiplier": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property_revenue_currency": {
          "target": "com.posthog.marketing_analytics#RevenueCurrencyPropertyConfig",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "math_property_type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "optionalInFunnel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "orderBy": {
          "target": "com.posthog.marketing_analytics#ConversionGoalFilter1OrderByList",
          "traits": {
            "smithy.api#documentation": "Columns to order by",
            "com.distilled.openapi#nullable": {}
          }
        },
        "properties": {
          "target": "com.posthog.marketing_analytics#ConversionGoalFilter1PropertiesList",
          "traits": {
            "smithy.api#documentation": "Properties configurable in the interface",
            "com.distilled.openapi#nullable": {}
          }
        },
        "response": {
          "target": "com.posthog.marketing_analytics#ConversionGoalFilter1ResponseMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "schema_map": {
          "target": "com.posthog.marketing_analytics#ConversionGoalFilter1SchemaMapMap"
        },
        "version": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "version of the node, used for schema migrations",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#EventPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event properties"
          }
        },
        "value": {
          "target": "com.posthog.marketing_analytics#EventPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PropertyOperator": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "NOT_STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "NOT_ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_ends_with"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gte"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lte"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        },
        "IS_DATE_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_exact"
          }
        },
        "IS_DATE_BEFORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_before"
          }
        },
        "IS_DATE_AFTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_date_after"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "between"
          }
        },
        "NOT_BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_between"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_in"
          }
        },
        "IS_CLEANED_PATH_EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_cleaned_path_exact"
          }
        },
        "FLAG_EVALUATES_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag_evaluates_to"
          }
        },
        "SEMVER_EQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_eq"
          }
        },
        "SEMVER_NEQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_neq"
          }
        },
        "SEMVER_GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gt"
          }
        },
        "SEMVER_GTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_gte"
          }
        },
        "SEMVER_LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lt"
          }
        },
        "SEMVER_LTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_lte"
          }
        },
        "SEMVER_TILDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_tilde"
          }
        },
        "SEMVER_CARET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_caret"
          }
        },
        "SEMVER_WILDCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semver_wildcard"
          }
        },
        "ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains_multi"
          }
        },
        "NOT_ICONTAINS_MULTI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains_multi"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#EventPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#EventPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#EventPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#EventPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#EventPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PersonPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person properties"
          }
        },
        "value": {
          "target": "com.posthog.marketing_analytics#PersonPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PersonPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PersonPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#PersonPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PersonPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#PersonPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PersonMetadataPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Top-level columns on the persons table (e.g. created_at), not properties JSON"
          }
        },
        "value": {
          "target": "com.posthog.marketing_analytics#PersonMetadataPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PersonMetadataPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PersonMetadataPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#PersonMetadataPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PersonMetadataPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#PersonMetadataPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ElementPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.marketing_analytics#Key10"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#ElementPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#Key10": {
      "type": "enum",
      "members": {
        "TAG_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tag_name"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "HREF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "href"
          }
        },
        "SELECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selector"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ElementPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ElementPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#ElementPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ElementPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#ElementPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#EventMetadataPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#EventMetadataPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#EventMetadataPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#EventMetadataPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#EventMetadataPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#EventMetadataPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#EventMetadataPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#SessionPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#SessionPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#SessionPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#SessionPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#SessionPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#SessionPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#SessionPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#CohortPropertyFilter": {
      "type": "structure",
      "members": {
        "cohort_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RecordingPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.posthog.marketing_analytics#RecordingPropertyFilterKey"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#RecordingPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#DurationType": {
      "type": "enum",
      "members": {
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        },
        "ACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active_seconds"
          }
        },
        "INACTIVE_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive_seconds"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RecordingPropertyFilterKey": {
      "type": "union",
      "members": {
        "DurationType": {
          "target": "com.posthog.marketing_analytics#DurationType"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RecordingPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RecordingPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#RecordingPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RecordingPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#RecordingPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#LogEntryPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#LogEntryPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#LogEntryPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#LogEntryPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#LogEntryPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#LogEntryPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#LogEntryPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#GroupPropertyFilter": {
      "type": "structure",
      "members": {
        "group_key_names": {
          "target": "com.posthog.marketing_analytics#GroupPropertyFilterGroupKeyNamesMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "group_type_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#GroupPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#GroupPropertyFilterGroupKeyNamesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#GroupPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#GroupPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#GroupPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#GroupPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#GroupPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#FeaturePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event property with \"$feature/\" prepended"
          }
        },
        "value": {
          "target": "com.posthog.marketing_analytics#FeaturePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#FeaturePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#FeaturePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#FeaturePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#FeaturePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#FeaturePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#FlagPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The key should be the flag ID"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Only flag_evaluates_to operator is allowed for flag dependencies"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Feature flag dependency"
          }
        },
        "value": {
          "target": "com.posthog.marketing_analytics#FlagPropertyFilterValue",
          "traits": {
            "smithy.api#documentation": "The value can be true, false, or a variant name"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#FlagPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The value can be true, false, or a variant name"
      }
    },
    "com.posthog.marketing_analytics#HogQLPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#HogQLPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#HogQLPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#HogQLPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#HogQLPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#HogQLPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#HogQLPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#EmptyPropertyFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#DataWarehousePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#DataWarehousePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#DataWarehousePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#DataWarehousePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#DataWarehousePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#DataWarehousePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#DataWarehousePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#DataWarehousePersonPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#DataWarehousePersonPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#DataWarehousePersonPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#DataWarehousePersonPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#DataWarehousePersonPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#DataWarehousePersonPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#DataWarehousePersonPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ErrorTrackingIssueFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#ErrorTrackingIssueFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ErrorTrackingIssueFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ErrorTrackingIssueFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#ErrorTrackingIssueFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ErrorTrackingIssueFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#ErrorTrackingIssueFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#LogPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "com.posthog.marketing_analytics#LogPropertyFilterType"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#LogPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#LogPropertyFilterType": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log"
          }
        },
        "LOG_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log_attribute"
          }
        },
        "LOG_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#LogPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#LogPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#LogPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#LogPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#LogPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#MetricPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#MetricPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#MetricPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#MetricPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#MetricPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#MetricPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#MetricPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#SpanPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "com.posthog.marketing_analytics#SpanPropertyFilterType"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#SpanPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#SpanPropertyFilterType": {
      "type": "enum",
      "members": {
        "SPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span"
          }
        },
        "SPAN_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_attribute"
          }
        },
        "SPAN_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#SpanPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#SpanPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#SpanPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#SpanPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#SpanPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RevenueAnalyticsPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#RevenueAnalyticsPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RevenueAnalyticsPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RevenueAnalyticsPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#RevenueAnalyticsPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RevenueAnalyticsPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#RevenueAnalyticsPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#AccountCustomPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Customer analytics account custom property — the key is the property definition id"
          }
        },
        "value": {
          "target": "com.posthog.marketing_analytics#AccountCustomPropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#AccountCustomPropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#AccountCustomPropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#AccountCustomPropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#AccountCustomPropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#AccountCustomPropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#WorkflowVariablePropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "com.posthog.marketing_analytics#WorkflowVariablePropertyFilterValue",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#WorkflowVariablePropertyFilterValueCase0Item": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        },
        "Case2": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#WorkflowVariablePropertyFilterValueCase0List": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#WorkflowVariablePropertyFilterValueCase0Item"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#WorkflowVariablePropertyFilterValue": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.posthog.marketing_analytics#WorkflowVariablePropertyFilterValueCase0List"
        },
        "Case1": {
          "target": "smithy.api#String"
        },
        "Case2": {
          "target": "smithy.api#Double"
        },
        "Case3": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#BehavioralPropertyFilter": {
      "type": "structure",
      "members": {
        "event_filters": {
          "target": "com.posthog.marketing_analytics#BehavioralPropertyFilterEventFiltersList",
          "traits": {
            "smithy.api#documentation": "Extra property filters the matching events must satisfy. Deliberately excludes nested behavioral/cohort filters and groups",
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_type": {
          "target": "com.posthog.marketing_analytics#BehavioralEventSource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "explicit_datetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Absolute or relative (e.g. -30d) lower date bound — alternative to time_value/time_interval",
            "com.distilled.openapi#nullable": {}
          }
        },
        "explicit_datetime_to": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Event name, or action id when event_type is 'actions'",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "negation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Match persons who did NOT satisfy the criterion. Not the same as a low count — zero-occurrence persons never match count operators",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator": {
          "target": "com.posthog.marketing_analytics#PropertyOperator",
          "traits": {
            "smithy.api#documentation": "Count comparison for performed_event_multiple, defaults to exact",
            "com.distilled.openapi#nullable": {}
          }
        },
        "operator_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Count threshold for performed_event_multiple",
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_interval": {
          "target": "com.posthog.marketing_analytics#TimeUnitType",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_value": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Relative time window size, paired with time_interval",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Person performed (or didn't perform) an event in a time window. ClickHouse-only — not evaluable by flags or CDP"
          }
        },
        "value": {
          "target": "com.posthog.marketing_analytics#InlineBehavioralType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#BehavioralPropertyFilterEventFiltersItem": {
      "type": "union",
      "members": {
        "EventPropertyFilter": {
          "target": "com.posthog.marketing_analytics#EventPropertyFilter"
        },
        "PersonPropertyFilter": {
          "target": "com.posthog.marketing_analytics#PersonPropertyFilter"
        },
        "ElementPropertyFilter": {
          "target": "com.posthog.marketing_analytics#ElementPropertyFilter"
        },
        "FeaturePropertyFilter": {
          "target": "com.posthog.marketing_analytics#FeaturePropertyFilter"
        },
        "HogQLPropertyFilter": {
          "target": "com.posthog.marketing_analytics#HogQLPropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#BehavioralPropertyFilterEventFiltersList": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#BehavioralPropertyFilterEventFiltersItem"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#BehavioralEventSource": {
      "type": "enum",
      "members": {
        "EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "events"
          }
        },
        "ACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actions"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#TimeUnitType": {
      "type": "enum",
      "members": {
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        },
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#InlineBehavioralType": {
      "type": "enum",
      "members": {
        "PERFORMED_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performed_event"
          }
        },
        "PERFORMED_EVENT_MULTIPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performed_event_multiple"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ConversionGoalFilter1FixedPropertiesItem": {
      "type": "union",
      "members": {
        "EventPropertyFilter": {
          "target": "com.posthog.marketing_analytics#EventPropertyFilter"
        },
        "PersonPropertyFilter": {
          "target": "com.posthog.marketing_analytics#PersonPropertyFilter"
        },
        "PersonMetadataPropertyFilter": {
          "target": "com.posthog.marketing_analytics#PersonMetadataPropertyFilter"
        },
        "ElementPropertyFilter": {
          "target": "com.posthog.marketing_analytics#ElementPropertyFilter"
        },
        "EventMetadataPropertyFilter": {
          "target": "com.posthog.marketing_analytics#EventMetadataPropertyFilter"
        },
        "SessionPropertyFilter": {
          "target": "com.posthog.marketing_analytics#SessionPropertyFilter"
        },
        "CohortPropertyFilter": {
          "target": "com.posthog.marketing_analytics#CohortPropertyFilter"
        },
        "RecordingPropertyFilter": {
          "target": "com.posthog.marketing_analytics#RecordingPropertyFilter"
        },
        "LogEntryPropertyFilter": {
          "target": "com.posthog.marketing_analytics#LogEntryPropertyFilter"
        },
        "GroupPropertyFilter": {
          "target": "com.posthog.marketing_analytics#GroupPropertyFilter"
        },
        "FeaturePropertyFilter": {
          "target": "com.posthog.marketing_analytics#FeaturePropertyFilter"
        },
        "FlagPropertyFilter": {
          "target": "com.posthog.marketing_analytics#FlagPropertyFilter"
        },
        "HogQLPropertyFilter": {
          "target": "com.posthog.marketing_analytics#HogQLPropertyFilter"
        },
        "EmptyPropertyFilter": {
          "target": "com.posthog.marketing_analytics#EmptyPropertyFilter"
        },
        "DataWarehousePropertyFilter": {
          "target": "com.posthog.marketing_analytics#DataWarehousePropertyFilter"
        },
        "DataWarehousePersonPropertyFilter": {
          "target": "com.posthog.marketing_analytics#DataWarehousePersonPropertyFilter"
        },
        "ErrorTrackingIssueFilter": {
          "target": "com.posthog.marketing_analytics#ErrorTrackingIssueFilter"
        },
        "LogPropertyFilter": {
          "target": "com.posthog.marketing_analytics#LogPropertyFilter"
        },
        "MetricPropertyFilter": {
          "target": "com.posthog.marketing_analytics#MetricPropertyFilter"
        },
        "SpanPropertyFilter": {
          "target": "com.posthog.marketing_analytics#SpanPropertyFilter"
        },
        "RevenueAnalyticsPropertyFilter": {
          "target": "com.posthog.marketing_analytics#RevenueAnalyticsPropertyFilter"
        },
        "AccountCustomPropertyFilter": {
          "target": "com.posthog.marketing_analytics#AccountCustomPropertyFilter"
        },
        "WorkflowVariablePropertyFilter": {
          "target": "com.posthog.marketing_analytics#WorkflowVariablePropertyFilter"
        },
        "BehavioralPropertyFilter": {
          "target": "com.posthog.marketing_analytics#BehavioralPropertyFilter"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ConversionGoalFilter1FixedPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.marketing_analytics#ConversionGoalFilter1FixedPropertiesItem"
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#BaseMathType": {
      "type": "enum",
      "members": {
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        },
        "DAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dau"
          }
        },
        "WEEKLY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly_active"
          }
        },
        "MONTHLY_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly_active"
          }
        },
        "UNIQUE_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique_session"
          }
        },
        "FIRST_TIME_FOR_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_for_user"
          }
        },
        "FIRST_MATCHING_EVENT_FOR_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_matching_event_for_user"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#FunnelMathType": {
      "type": "enum",
      "members": {
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        },
        "FIRST_TIME_FOR_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_for_user"
          }
        },
        "FIRST_TIME_FOR_USER_WITH_FILTERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_for_user_with_filters"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#PropertyMathType": {
      "type": "enum",
      "members": {
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "MEDIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "median"
          }
        },
        "P75": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p75"
          }
        },
        "P90": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p90"
          }
        },
        "P95": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p95"
          }
        },
        "P99": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p99"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#CountPerActorMathType": {
      "type": "enum",
      "members": {
        "AVG_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg_count_per_actor"
          }
        },
        "MIN_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min_count_per_actor"
          }
        },
        "MAX_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max_count_per_actor"
          }
        },
        "MEDIAN_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "median_count_per_actor"
          }
        },
        "P75_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p75_count_per_actor"
          }
        },
        "P90_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p90_count_per_actor"
          }
        },
        "P95_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p95_count_per_actor"
          }
        },
        "P99_COUNT_PER_ACTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p99_count_per_actor"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#GroupMathType": {
      "type": "enum",
      "members": {
        "UNIQUE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique_group"
          }
        },
        "FIRST_TIME_FOR_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_time_for_group"
          }
        },
        "FIRST_MATCHING_EVENT_FOR_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_matching_event_for_group"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ExperimentMetricMathType": {
      "type": "enum",
      "members": {
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "UNIQUE_SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique_session"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "AVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg"
          }
        },
        "DAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dau"
          }
        },
        "UNIQUE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unique_group"
          }
        },
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#CalendarHeatmapMathType": {
      "type": "enum",
      "members": {
        "TOTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "total"
          }
        },
        "DAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dau"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#ConversionGoalFilter1Math": {
      "type": "union",
      "members": {
        "BaseMathType": {
          "target": "com.posthog.marketing_analytics#BaseMathType"
        },
        "FunnelMathType": {
          "target": "com.posthog.marketing_analytics#FunnelMathType"
        },
        "PropertyMathType": {
          "target": "com.posthog.marketing_analytics#PropertyMathType"
        },
        "CountPerActorMathType": {
          "target": "com.posthog.marketing_analytics#CountPerActorMathType"
        },
        "GroupMathType": {
          "target": "com.posthog.marketing_analytics#GroupMathType"
        },
        "ExperimentMetricMathType": {
          "target": "com.posthog.marketing_analytics#ExperimentMetricMathType"
        },
        "CalendarHeatmapMathType": {
          "target": "com.posthog.marketing_analytics#CalendarHeatmapMathType"
        },
        "Case7": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#MathGroupTypeIndex": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 4
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#RevenueCurrencyPropertyConfig": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "static": {
          "target": "com.posthog.marketing_analytics#CurrencyCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.marketing_analytics#CurrencyCode": {
      "type": "enum",
      "members": {
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AED"
          }
        },
        "AFN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AFN"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMD"
          }
        },
        "ANG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANG"
          }
        },
        "AOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AOA"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARS"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWG"
          }
        },
        "AZN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZN"
          }
        },
        "BAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAM"
          }
        },
        "BBD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BBD"
          }
        },
        "BDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BDT"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BGN"
          }
        },
        "BHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BHD"
          }
        },
        "BIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIF"
          }
        },
        "BMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BMD"
          }
        },
        "BND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BND"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOB"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRL"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BSD"
          }
        },
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BTC"
          }
        },
        "BTN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BTN"
          }
        },
        "BWP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BWP"
          }
        },
        "BYN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYN"
          }
        },
        "BZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZD"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "CDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CDF"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHF"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLP"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNY"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COP"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRC"
          }
        },
        "CVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CVE"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZK"
          }
        },
        "DJF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJF"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DKK"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOP"
          }
        },
        "DZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZD"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EGP"
          }
        },
        "ERN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERN"
          }
        },
        "ETB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ETB"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "FJD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJD"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "GEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEL"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GHS"
          }
        },
        "GIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GIP"
          }
        },
        "GMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GMD"
          }
        },
        "GNF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GNF"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GTQ"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GYD"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HKD"
          }
        },
        "HNL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HNL"
          }
        },
        "HRK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HRK"
          }
        },
        "HTG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTG"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUF"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDR"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ILS"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "IQD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQD"
          }
        },
        "IRR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IRR"
          }
        },
        "ISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISK"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JMD"
          }
        },
        "JOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JOD"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JPY"
          }
        },
        "KES": {
[...]
