{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.notebooks#ListNotebooksRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "contains": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "contains",
            "smithy.api#documentation": "Filter for notebooks that match a provided filter.\n                Each match pair is separated by a colon,\n                multiple match pairs can be sent separated by a space or a comma"
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "The UUID of the Notebook's creator"
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Filter for notebooks created after this date & time"
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Filter for notebooks created before this date & time"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user",
            "smithy.api#documentation": "If any value is provided for this parameter, return notebooks created by the logged in user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#PaginatedNotebookMinimalListOutput": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.notebooks#PaginatedNotebookMinimalListOutputResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookMinimalOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the notebook."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short alphanumeric identifier used in URLs and API lookups."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.notebooks#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_modified_at": {
          "target": "smithy.api#String"
        },
        "last_modified_by": {
          "target": "com.posthog.notebooks#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.notebooks#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.notebooks#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.notebooks#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.notebooks#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.notebooks#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.notebooks#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#PaginatedNotebookMinimalListOutputResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookMinimalOutput"
      },
      "traits": {}
    },
    "com.posthog.notebooks#ListNotebooks": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#ListNotebooksRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#PaginatedNotebookMinimalListOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebookVariable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier the cell reads: `{name}` in a SQL cell, a plain global in a Python cell.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "How to coerce the value: 'string', 'number', 'boolean', or 'date'. Unknown types read as 'string'.",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The variable's current value. A 'date' accepts an absolute date or a relative expression ('-7d', 'mStart'), resolved against the project timezone."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One notebook-level variable. Shared by the notebook's own `variables` field and a run body."
      }
    },
    "com.posthog.notebooks#NotebooksCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#CreateNotebookRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "UUID of the notebook."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short alphanumeric identifier used in URLs and API lookups."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "created_by": {
          "target": "com.posthog.notebooks#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_modified_at": {
          "target": "smithy.api#String"
        },
        "last_modified_by": {
          "target": "com.posthog.notebooks#UserBasic",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parent_resource": {
          "target": "com.posthog.notebooks#NotebookOutputParentResource",
          "traits": {
            "smithy.api#documentation": "Parent resource this notebook is attached to, or `null`. Returns `{type: 'account', id: <uuid>}` for account-linked notebooks; used by the frontend to route breadcrumbs back to the resource's list.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebookOutputVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookOutputParentResourceType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookOutputParentResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.notebooks#NotebookOutputParentResourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parent resource this notebook is attached to, or `null`. Returns `{type: 'account', id: <uuid>}` for account-linked notebooks; used by the frontend to route breadcrumbs back to the resource's list."
      }
    },
    "com.posthog.notebooks#NotebookOutputVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#CreateNotebook": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#ListNotebookSharingRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "notebook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#SharingConfiguration": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "settings": {
          "target": "smithy.api#Document"
        },
        "password_required": {
          "target": "smithy.api#Boolean"
        },
        "share_passwords": {
          "target": "com.posthog.notebooks#SharingConfigurationSharePasswordsList"
        },
        "user_access_level": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The effective access level the user has for this object",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mixin for serializers to add user access control fields"
      }
    },
    "com.posthog.notebooks#SharePassword": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by_email": {
          "target": "smithy.api#String"
        },
        "is_active": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#SharingConfigurationSharePasswordsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#SharePassword"
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebooksSharingListResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#SharingConfiguration"
      },
      "traits": {}
    },
    "com.posthog.notebooks#ListNotebookSharingResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.posthog.notebooks#NotebooksSharingListResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.posthog.notebooks#ListNotebookSharing": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#ListNotebookSharingRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#ListNotebookSharingResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{notebook_id}/sharing/",
          "code": 200
        }
      }
    },
    "com.posthog.notebooks#CreateNotebookSharingPasswordRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "notebook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "settings": {
          "target": "smithy.api#Document"
        },
        "password_required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebookSharingPassword": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookSharingPasswordRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#SharingConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{notebook_id}/sharing/passwords/",
          "code": 200
        },
        "smithy.api#documentation": "Create a new password for the sharing configuration."
      }
    },
    "com.posthog.notebooks#NotebooksSharingPasswordsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "notebook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "password_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksSharingPasswordsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksSharingPasswordsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/notebooks/{notebook_id}/sharing/passwords/{password_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Delete a password from the sharing configuration."
      }
    },
    "com.posthog.notebooks#CreateNotebookSharingRefreshRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "notebook_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "settings": {
          "target": "smithy.api#Document"
        },
        "password_required": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebookSharingRefresh": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookSharingRefreshRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#SharingConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{notebook_id}/sharing/refresh/",
          "code": 200
        }
      }
    },
    "com.posthog.notebooks#NotebooksRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksUpdateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#UpdateNotebookRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksUpdateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#UpdateNotebook": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#UpdateNotebookRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksPartialUpdateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#UpdateNotebookPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksPartialUpdateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#UpdateNotebookPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#UpdateNotebookPartialRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookOutput"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Hard delete of this model is not allowed. Use a patch API call to set \"deleted\" to true"
      }
    },
    "com.posthog.notebooks#NotebooksActivityRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksActivityRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksActivityRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/activity/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebookCollabCursor": {
      "type": "structure",
      "members": {
        "head": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ProseMirror selection head position (rich v1 notebooks)."
          }
        },
        "node_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index of the caret's block node in the markdown notebook document (markdown notebooks)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Caret offset in the plain text of the focused editable element, in UTF-16 code units."
          }
        },
        "list_item_index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Index of the focused list item when the caret is inside a list block."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#CreateNotebookCollabMarkdownSaveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the client session, used to skip self-echo on the update stream.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The notebook version the submitted content is based on (optimistic concurrency baseline).",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The full markdown notebook document: a ProseMirror doc wrapping a single markdown node.",
            "smithy.api#required": {}
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text for search indexing."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated notebook title."
          }
        },
        "cursor": {
          "target": "com.posthog.notebooks#NotebookCollabCursor",
          "traits": {
            "smithy.api#documentation": "The author's caret in the saved markdown, broadcast with the update so other clients can move the author's remote caret together with the text change."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebookCollabMarkdownSave": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookCollabMarkdownSaveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/collab/markdown_save/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#CreateNotebookCollabPresenceRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the client session, used to skip self-echo on the update stream.",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The notebook version the cursor position is relative to.",
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "com.posthog.notebooks#NotebookCollabCursor",
          "traits": {
            "smithy.api#documentation": "The caller's caret position, broadcast to other clients on this notebook's collab stream.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebookCollabPresence": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookCollabPresenceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/collab/presence/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksCollabSaveCreateRequestStepsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of ProseMirror step JSON objects to apply."
      }
    },
    "com.posthog.notebooks#CreateNotebookCollabSaveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the client session."
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The collab version the client's steps are based on."
          }
        },
        "steps": {
          "target": "com.posthog.notebooks#NotebooksCollabSaveCreateRequestStepsList",
          "traits": {
            "smithy.api#documentation": "List of ProseMirror step JSON objects to apply."
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The resulting ProseMirror document after applying the steps locally."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text for search indexing."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Updated notebook title."
          }
        },
        "cursor_head": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ProseMirror cursor head position after applying steps.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebookCollabSave": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookCollabSaveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/collab/save/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksCollabStreamRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksCollabStreamRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksCollabStreamRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/collab/stream/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksHogqlExecuteCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#CreateNotebookHogqlExecuteRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksHogqlExecuteCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebookHogqlExecute": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookHogqlExecuteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/hogql/execute/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#CreateNotebookKernelConfigRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cpu_cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU cores for the notebook's sandbox kernel; must be a supported option."
          }
        },
        "memory_gb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory in GB for the notebook's sandbox kernel; must be a supported option."
          }
        },
        "idle_timeout_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of inactivity before the sandbox kernel shuts down."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookKernelConfigResponse": {
      "type": "structure",
      "members": {
        "cpu_cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configured CPU cores; null means the default applies.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "memory_gb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Configured memory in GB; null means the default applies.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "idle_timeout_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Configured idle timeout in seconds; null means the default.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "restart_required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when a kernel is currently active: config applies at sandbox provision time, so the running kernel keeps its old resources until restarted (restarting loses materialized dataframes).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#CreateNotebookKernelConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookKernelConfigRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookKernelConfigResponse"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/config/",
          "code": 200
        },
        "smithy.api#documentation": "Set the notebook's kernel compute configuration. Applies at sandbox provision time: a currently running kernel keeps its resources until restarted."
      }
    },
    "com.posthog.notebooks#NotebooksKernelDataframeRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksKernelDataframeRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksKernelDataframeRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/dataframe/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksKernelExecuteCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#CreateNotebookKernelExecuteRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksKernelExecuteCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebookKernelExecute": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookKernelExecuteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/execute/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksKernelExecuteStreamCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#CreateNotebookKernelExecuteStreamRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksKernelExecuteStreamCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#CreateNotebookKernelExecuteStream": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookKernelExecuteStreamRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/execute/stream/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksKernelRestartCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#NotebooksKernelRestartCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksKernelRestartCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksKernelRestartCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksKernelRestartCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/restart/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStartCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStartCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksKernelStartCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksKernelStartCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksKernelStartCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/start/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStatusRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookKernelStatusResponse": {
      "type": "structure",
      "members": {
        "backend": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox backend the kernel runs on: 'modal' or 'docker'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Live-checked kernel state: 'starting', 'running', 'stopped', 'timed_out', 'discarded', or 'error'.",
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the kernel last executed anything.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Most recent provisioning or runtime error, if any.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "runtime_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kernel runtime row identifier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kernel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Jupyter kernel identifier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "kernel_pid": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Kernel process id inside the sandbox.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "sandbox_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sandbox container identifier.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "frames": {
          "target": "com.posthog.notebooks#NotebookKernelStatusResponseFramesList",
          "traits": {
            "smithy.api#documentation": "Dataframes and DuckDB tables a cell can currently reference, with column names and types. Empty unless the kernel is running and the caller has query access.",
            "smithy.api#required": {}
          }
        },
        "cpu_cores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU cores the sandbox is configured with.",
            "smithy.api#required": {}
          }
        },
        "memory_gb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory in GB the sandbox is configured with.",
            "smithy.api#required": {}
          }
        },
        "disk_size_gb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Disk size in GB the sandbox is configured with.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "idle_timeout_seconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Seconds of inactivity before the sandbox shuts down.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookSQLV2Frame": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name a SQL node can SELECT from.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where the object came from: 'frame' (a dataframe a node produced), or 'table'/'view' (created by SQL DDL in a DuckDB node).",
            "smithy.api#required": {}
          }
        },
        "columns": {
          "target": "com.posthog.notebooks#NotebookSQLV2FrameColumnsList",
          "traits": {
            "smithy.api#documentation": "DuckDB type per column, as [name, type] pairs."
          }
        },
        "row_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Rows available, or null when counting would require a table scan (a DDL view).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "row_count_is_estimate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when row_count is DuckDB's optimizer estimate rather than a count. The estimate does not track deletes, so it must never be presented as exact."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookSQLV2FrameColumnsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A [column name, DuckDB type] pair."
      }
    },
    "com.posthog.notebooks#NotebookSQLV2FrameColumnsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookSQLV2FrameColumnsItemList"
      },
      "traits": {
        "smithy.api#documentation": "DuckDB type per column, as [name, type] pairs."
      }
    },
    "com.posthog.notebooks#NotebookKernelStatusResponseFramesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookSQLV2Frame"
      },
      "traits": {
        "smithy.api#documentation": "Dataframes and DuckDB tables a cell can currently reference, with column names and types. Empty unless the kernel is running and the caller has query access."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStatusRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksKernelStatusRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookKernelStatusResponse"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/status/",
          "code": 200
        },
        "smithy.api#documentation": "Live-checked kernel runtime state for this notebook, its compute configuration, and the catalog of dataframes/tables a cell can currently reference (with column schemas)."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStopCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
      }
    },
    "com.posthog.notebooks#NotebooksKernelStopCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Title of the notebook.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Notebook content as a ProseMirror JSON document structure."
          }
        },
        "text_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plain text representation of the notebook content for search.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Version number for optimistic concurrency control. Must match the current version when updating content."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the notebook has been soft-deleted."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksKernelStopCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables, in display order. A SQL cell reads one as a `{name}` placeholder and a Python cell as a global. Names must be unique."
          }
        },
        "_create_in_folder": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebooksKernelStopCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#NotebooksKernelStopCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#BadRequest"
        },
        {
          "target": "com.posthog.notebooks#Forbidden"
        },
        {
          "target": "com.posthog.notebooks#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/kernel/stop/",
          "code": 200
        },
        "smithy.api#documentation": "The API for interacting with Notebooks. This feature is in early access and the API can have breaking changes without announcement."
      }
    },
    "com.posthog.notebooks#NotebookSQLV2NodeTypeEnum": {
      "type": "enum",
      "members": {
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `hogql` - hogql\n* `python` - python"
      }
    },
    "com.posthog.notebooks#NotebookSQLV2Ref": {
      "type": "structure",
      "members": {
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ProseMirror node id of the upstream node this name points at.",
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.notebooks#NotebookSQLV2RefKindEnum",
          "traits": {
            "smithy.api#documentation": "What the name resolves to: 'hogql' is a SQL node's query definition (resolved to its last-run HogQL); 'local' is a dataframe a Python node bound in the kernel namespace.\n\n* `hogql` - hogql\n* `local` - local"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookSQLV2RefKindEnum": {
      "type": "enum",
      "members": {
        "HOGQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hogql"
          }
        },
        "LOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `hogql` - hogql\n* `local` - local"
      }
    },
    "com.posthog.notebooks#NotebooksSqlV2RunCreateRequestRefsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.posthog.notebooks#NotebookSQLV2Ref"
      },
      "traits": {
        "smithy.api#documentation": "Available upstream nodes, keyed by dataframe name. A SQL node inlines referenced hogql refs as CTEs — unless it references a local ref, which reroutes the run to the sandbox's DuckDB; a python node materializes the hogql refs its code reads as pandas frames."
      }
    },
    "com.posthog.notebooks#NotebooksSqlV2RunCreateRequestVariablesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookVariable"
      },
      "traits": {
        "smithy.api#documentation": "Notebook-level variables in scope for this run. A SQL node has each `{name}` bound to its value before dispatch; a Python node gets them as globals in the kernel namespace. A SQL node reading a `{name}` that is absent here fails the dispatch."
      }
    },
    "com.posthog.notebooks#CreateNotebookSqlV2RunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "node_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ProseMirror node id of the SQLV2 node being run.",
            "smithy.api#required": {}
          }
        },
        "node_type": {
          "target": "com.posthog.notebooks#NotebookSQLV2NodeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Execution kind. 'hogql' is a SQL node — pushed to ClickHouse, or rerouted to the sandbox's DuckDB when it references a local frame; 'python' runs the code in the sandbox kernel, materializing referenced upstream nodes as pandas frames first.\n\n* `hogql` - hogql\n* `python` - python"
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The node's source — SQL for a hogql node, Python for a python node. Must not be blank.",
            "smithy.api#required": {}
          }
        },
        "output_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Kernel nodes only: the dataframe variable to bind the result to in the kernel namespace (a python node falls back to the last expression for its preview)."
          }
        },
        "refs": {
          "target": "com.posthog.notebooks#NotebooksSqlV2RunCreateRequestRefsMap",
          "traits": {
            "smithy.api#documentation": "Available upstream nodes, keyed by dataframe name. A SQL node inlines referenced hogql refs as CTEs — unless it references a local ref, which reroutes the run to the sandbox's DuckDB; a python node materializes the hogql refs its code reads as pandas frames."
          }
        },
        "variables": {
          "target": "com.posthog.notebooks#NotebooksSqlV2RunCreateRequestVariablesList",
          "traits": {
            "smithy.api#documentation": "Notebook-level variables in scope for this run. A SQL node has each `{name}` bound to its value before dispatch; a Python node gets them as globals in the kernel namespace. A SQL node reading a `{name}` that is absent here fails the dispatch."
          }
        },
        "connection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SQL nodes only: id of a direct-query-capable external data source to run against instead of PostHog's ClickHouse. Omit to query PostHog.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "send_raw_query": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Send the code to the selected connection verbatim instead of compiling it from HogQL first. Ignored without connection_id, and incompatible with references to other cells."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookSQLV2RunResponse": {
      "type": "structure",
      "members": {
        "run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the dispatched run. Poll the run result endpoint with it until the status is terminal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#CreateNotebookSqlV2Run": {
      "type": "operation",
      "input": {
        "target": "com.posthog.notebooks#CreateNotebookSqlV2RunRequest"
      },
      "output": {
        "target": "com.posthog.notebooks#NotebookSQLV2RunResponse"
      },
      "errors": [
        {
          "target": "com.posthog.notebooks#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/notebooks/{short_id}/sql_v2/run/",
          "code": 200
        },
        "smithy.api#documentation": "Dispatch an asynchronous run of a notebook SQL or Python cell. Returns a run_id immediately; poll the run result endpoint until the status is terminal. One run at a time per notebook. Flag-gated (revamped-py-notebooks)."
      }
    },
    "com.posthog.notebooks#NotebooksSqlV2RunsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the run, as returned by the run dispatch endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.notebooks#NotebookSQLV2RunStatusResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run state: 'running' (keep polling), or terminal — 'done', 'failed', or 'interrupted'.",
            "smithy.api#required": {}
          }
        },
        "result": {
          "target": "com.posthog.notebooks#NotebookSQLV2Envelope",
          "traits": {
            "smithy.api#documentation": "The result envelope once the run is 'done' or 'interrupted' (an interrupted run keeps the stdout/stderr captured before the stop); null while running and for failed runs.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the run failed when it never produced an envelope (dispatch or watchdog failure); execution errors arrive inside the envelope's error field instead.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rows": {
          "target": "com.posthog.notebooks#NotebookSQLV2RunStatusResponseRowsList",
          "traits": {
            "smithy.api#documentation": "SQL (hogql) runs only: the full capped row set for client-side paging, present while the query manager's transient result is alive (~20 minutes). Absent afterwards and for kernel (python/duckdb) runs, which keep only the envelope's first_page preview."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookSQLV2Envelope": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Run outcome: 'ok', 'error', or 'interrupted' (user-requested stop).",
            "smithy.api#required": {}
          }
        },
        "frames": {
          "target": "com.posthog.notebooks#NotebookSQLV2EnvelopeFramesList",
          "traits": {
            "smithy.api#documentation": "DuckDB objects a SQL node can SELECT from as of this run, for the schema browser. Only kernel runs (python/duckdb) report these; a hogql run never enters the kernel."
          }
        },
        "stdout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Captured stdout from a Python node run."
          }
        },
        "stderr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Captured stderr (including tracebacks) from a Python node run."
          }
        },
        "media": {
          "target": "com.posthog.notebooks#NotebookSQLV2EnvelopeMediaList",
          "traits": {
            "smithy.api#documentation": "Rich outputs from a Python node run, e.g. matplotlib figures as PNGs."
          }
        },
        "columns": {
          "target": "com.posthog.notebooks#NotebookSQLV2EnvelopeColumnsList",
          "traits": {
            "smithy.api#documentation": "Result column names."
          }
        },
        "types": {
          "target": "com.posthog.notebooks#NotebookSQLV2EnvelopeTypesList",
          "traits": {
            "smithy.api#documentation": "ClickHouse type per column, as [name, type] pairs; used by the visualization tab."
          }
        },
        "row_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of rows in the result."
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether ClickHouse has more rows beyond first_page (detected by fetching limit+1)."
          }
        },
        "first_page": {
          "target": "com.posthog.notebooks#NotebookSQLV2EnvelopeFirstPageList",
          "traits": {
            "smithy.api#documentation": "First page of result rows for display; each row is a list of cell values."
          }
        },
        "result_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the materialized result, used as the paging key.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message when status is 'error'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "timings": {
          "target": "com.posthog.notebooks#NotebookSQLV2EnvelopeTimingsMap",
          "traits": {
            "smithy.api#documentation": "Phase durations in seconds. From the sandbox: input_wait_s (waiting on the data plane), download_s (presigned frame downloads), kernel_boot_s (ensuring the ipykernel is up), exec_s (kernel cell execution), sandbox_total_s (the whole sandbox-side run). From the direct lane: queued_s (enqueue to Celery pickup), clickhouse_s (pickup to completion). Feeds the node-run metrics."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookSQLV2EnvelopeFramesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookSQLV2Frame"
      },
      "traits": {
        "smithy.api#documentation": "DuckDB objects a SQL node can SELECT from as of this run, for the schema browser. Only kernel runs (python/duckdb) report these; a hogql run never enters the kernel."
      }
    },
    "com.posthog.notebooks#NotebookSQLV2Media": {
      "type": "structure",
      "members": {
        "mime_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "MIME type of the media, e.g. 'image/png' for a matplotlib figure.",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Base64-encoded media bytes.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.notebooks#NotebookSQLV2EnvelopeMediaList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookSQLV2Media"
      },
      "traits": {
        "smithy.api#documentation": "Rich outputs from a Python node run, e.g. matplotlib figures as PNGs."
      }
    },
    "com.posthog.notebooks#NotebookSQLV2EnvelopeColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Result column names."
      }
    },
    "com.posthog.notebooks#NotebookSQLV2EnvelopeTypesItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A [column name, ClickHouse type] pair."
      }
    },
    "com.posthog.notebooks#NotebookSQLV2EnvelopeTypesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.notebooks#NotebookSQLV2EnvelopeTypesItemList"
      },
      "traits": {
        "smithy.api#documentation": "ClickHouse type per column, as [name, type] pairs; used by the visualization tab."
      }
    },
    "com.posthog.notebooks#NotebookSQLV2EnvelopeFirstPageItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A single result row as a list of cell values."
      }
    },
[...]
