{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.organizations#ListRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedOrganizationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedOrganizationListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#Organization": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "slug": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String"
        },
        "updated_at": {
          "target": "smithy.api#String"
        },
        "membership_level": {
          "target": "com.posthog.organizations#EffectiveMembershipLevelEnum"
        },
        "plugins_access_level": {
          "target": "com.posthog.organizations#PluginsAccessLevelEnum"
        },
        "teams": {
          "target": "com.posthog.organizations#OrganizationTeamsList"
        },
        "projects": {
          "target": "com.posthog.organizations#OrganizationProjectsList"
        },
        "available_product_features": {
          "target": "com.posthog.organizations#OrganizationAvailableProductFeaturesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_member_join_email_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Legacy field; member-join emails are controlled per user in account notification settings."
          }
        },
        "metadata": {
          "target": "com.posthog.organizations#OrganizationMetadataMap"
        },
        "customer_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_verified_domains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, logins, signups, and invites for this organization are restricted to email addresses on its verified domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "members_can_see_org_members": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When False, members (below admin) only see themselves in the members list and only project members in access control."
          }
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "read_only_mcp_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, requests through the PostHog MCP server can read but not change this organization's data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "member_count": {
          "target": "smithy.api#Integer"
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, the AI training opt-out setting cannot be modified through the UI or API.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_cta_shown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, in-app callouts inviting members to enable AI training are shown.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_hipaa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_experiment_stats_method": {
          "target": "com.posthog.organizations#OrganizationDefaultExperimentStatsMethod",
          "traits": {
            "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set this to 'No' to temporarily disable an organization.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_not_active_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "(optional) reason for why the organization has been de-activated. This will be displayed to users on the web app.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_pending_deletion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Set to True when org deletion has been initiated. Blocks all UI access until the async task completes.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#EffectiveMembershipLevelEnum": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 8
          }
        },
        "_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 15
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#PluginsAccessLevelEnum": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 6
          }
        },
        "_9": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 9
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `0` - none\n* `3` - config\n* `6` - install\n* `9` - root"
      }
    },
    "com.posthog.organizations#OrganizationTeamsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationTeamsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#OrganizationTeamsItemMap"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationProjectsItemMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationProjectsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#OrganizationProjectsItemMap"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationAvailableProductFeaturesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.organizations#DefaultExperimentStatsMethodEnum": {
      "type": "enum",
      "members": {
        "BAYESIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bayesian"
          }
        },
        "FREQUENTIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "frequentist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationDefaultExperimentStatsMethod": {
      "type": "union",
      "members": {
        "DefaultExperimentStatsMethodEnum": {
          "target": "com.posthog.organizations#DefaultExperimentStatsMethodEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#PaginatedOrganizationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#Organization"
      },
      "traits": {}
    },
    "com.posthog.organizations#List": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedOrganizationList"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#CreateRequestDefaultExperimentStatsMethod": {
      "type": "union",
      "members": {
        "DefaultExperimentStatsMethodEnum": {
          "target": "com.posthog.organizations#DefaultExperimentStatsMethodEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#CreateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_verified_domains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, logins, signups, and invites for this organization are restricted to email addresses on its verified domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "members_can_see_org_members": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When False, members (below admin) only see themselves in the members list and only project members in access control."
          }
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "read_only_mcp_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, requests through the PostHog MCP server can read but not change this organization's data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_experiment_stats_method": {
          "target": "com.posthog.organizations#CreateRequestDefaultExperimentStatsMethod",
          "traits": {
            "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Create": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#RetrieveRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Retrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#RetrieveRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#UpdateRequestDefaultExperimentStatsMethod": {
      "type": "union",
      "members": {
        "DefaultExperimentStatsMethodEnum": {
          "target": "com.posthog.organizations#DefaultExperimentStatsMethodEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#UpdateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_verified_domains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, logins, signups, and invites for this organization are restricted to email addresses on its verified domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "members_can_see_org_members": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When False, members (below admin) only see themselves in the members list and only project members in access control."
          }
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "read_only_mcp_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, requests through the PostHog MCP server can read but not change this organization's data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_experiment_stats_method": {
          "target": "com.posthog.organizations#UpdateRequestDefaultExperimentStatsMethod",
          "traits": {
            "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Update": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#UpdateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#PartialUpdateRequestDefaultExperimentStatsMethod": {
      "type": "union",
      "members": {
        "DefaultExperimentStatsMethodEnum": {
          "target": "com.posthog.organizations#DefaultExperimentStatsMethodEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist"
      }
    },
    "com.posthog.organizations#UpdatePartialRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "logo_media_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "enforce_verified_domains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, logins, signups, and invites for this organization are restricted to email addresses on its verified domains.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_invite": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_create_projects": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, organization members (below admin) are allowed to create new projects. Admins and owners can always create projects.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "members_can_use_personal_api_keys": {
          "target": "smithy.api#Boolean"
        },
        "members_can_see_org_members": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When False, members (below admin) only see themselves in the members list and only project members in access control."
          }
        },
        "allow_publicly_shared_resources": {
          "target": "smithy.api#Boolean"
        },
        "read_only_mcp_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, requests through the PostHog MCP server can read but not change this organization's data.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_data_processing_approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_ai_training_opted_in": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When True, this organization allows its data to be used to train PostHog AI models.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_experiment_stats_method": {
          "target": "com.posthog.organizations#PartialUpdateRequestDefaultExperimentStatsMethod",
          "traits": {
            "smithy.api#documentation": "Default statistical method for new experiments in this organization.\n\n* `bayesian` - Bayesian\n* `frequentist` - Frequentist",
            "com.distilled.openapi#nullable": {}
          }
        },
        "default_anonymize_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Default setting for 'Discard client IP data' for new projects in this organization."
          }
        },
        "default_role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the role to automatically assign to new members joining the organization",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#UpdatePartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#UpdatePartialRequest"
      },
      "output": {
        "target": "com.posthog.organizations#Organization"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DestroyRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#Destroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#CreateRemoveBlockedMemberAndEnforceVerifiedDomainRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#OrganizationRemoveBlockedMembersResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether verified-domain enforcement was turned on.",
            "smithy.api#required": {}
          }
        },
        "removed_members": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many members with an email outside the verified domains were removed from the organization. Owners are never removed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#CreateRemoveBlockedMemberAndEnforceVerifiedDomain": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CreateRemoveBlockedMemberAndEnforceVerifiedDomainRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationRemoveBlockedMembersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{id}/remove_blocked_members_and_enforce_verified_domains/",
          "code": 200
        },
        "smithy.api#documentation": "Remove the members whose email domain is outside the organization's verified domains and turn\n`enforce_verified_domains` on, in one transaction. Owners are never removed; they keep gated\naccess and can disable the setting themselves. Admin only.\n\nUse this only when the caller has confirmed the removals. To turn the setting on without\ntouching memberships, PATCH `enforce_verified_domains` on the organization instead."
      }
    },
    "com.posthog.organizations#RequestAiAccessCreateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#OrganizationAIAccessRequestResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the access request was accepted and the organization admins were notified.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#RequestAiAccessCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#RequestAiAccessCreateRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationAIAccessRequestResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{id}/request_ai_access/",
          "code": 200
        },
        "smithy.api#documentation": "Notify organization admins that a member is requesting PostHog AI be enabled."
      }
    },
    "com.posthog.organizations#TeamsDataFreshnessRetrieveRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this organization."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#OrganizationDataFreshness": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.organizations#OrganizationDataFreshnessResultsList",
          "traits": {
            "smithy.api#documentation": "One entry per project the requesting user can see.",
            "smithy.api#required": {}
          }
        },
        "lookback_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many days back the check looks. Data older than this is not visible to the check.",
            "smithy.api#required": {}
          }
        },
        "quiet_after_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many days without data make a project or source count as quiet.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#DataFreshnessProject": {
      "type": "structure",
      "members": {
        "team_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the project this freshness verdict is for.",
            "smithy.api#required": {}
          }
        },
        "freshness": {
          "target": "com.posthog.organizations#FreshnessEnum",
          "traits": {
            "smithy.api#documentation": "`live` if data of any kind arrived within `quiet_after_days`, `stale` if none did, `never` if the project has never ingested anything at all.\n\n* `never` - never\n* `live` - live\n* `stale` - stale",
            "smithy.api#required": {}
          }
        },
        "last_data_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When data of any kind last reached the project, or null if nothing arrived within the lookback window.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "sources": {
          "target": "com.posthog.organizations#DataFreshnessProjectSourcesList",
          "traits": {
            "smithy.api#documentation": "Per-source breakdown, most recently active first.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#FreshnessEnum": {
      "type": "enum",
      "members": {
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "never"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "live"
          }
        },
        "STALE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stale"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `never` - never\n* `live` - live\n* `stale` - stale"
      }
    },
    "com.posthog.organizations#DataFreshnessSource": {
      "type": "structure",
      "members": {
        "data_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product this timestamp is about, as a `ProductKey` (e.g. `session_replay`, `logs`). Not an enum: products declare their own data sources, so the set grows without an API change.",
            "smithy.api#required": {}
          }
        },
        "last_data_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When data of this kind last reached the project. Only sources with data inside the lookback window are listed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#DataFreshnessProjectSourcesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#DataFreshnessSource"
      },
      "traits": {
        "smithy.api#documentation": "Per-source breakdown, most recently active first."
      }
    },
    "com.posthog.organizations#OrganizationDataFreshnessResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#DataFreshnessProject"
      },
      "traits": {
        "smithy.api#documentation": "One entry per project the requesting user can see."
      }
    },
    "com.posthog.organizations#TeamsDataFreshnessRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#TeamsDataFreshnessRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDataFreshness"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{id}/teams/data_freshness/",
          "code": 200
        },
        "smithy.api#documentation": "When each project in the organization last received data, broken down by kind of data."
      }
    },
    "com.posthog.organizations#ListCimdVerificationTokensRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedCIMDVerificationTokenList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedCIMDVerificationTokenListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#CIMDVerificationToken": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name to identify this token later, e.g. 'Production CIMD partner'.",
            "smithy.api#required": {}
          }
        },
        "cimd_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTPS URL of the CIMD metadata document this token verifies at. Null on tokens issued before URL binding; those no longer verify until bound via PATCH or reissued.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "mask_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.organizations#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Read shape for list/retrieve/create-response. `cimd_url` is nullable here for\ntokens issued before URL binding; the write serializers below require a value."
      }
    },
    "com.posthog.organizations#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.organizations#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.organizations#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.organizations#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.organizations#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.organizations#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#PaginatedCIMDVerificationTokenListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#CIMDVerificationToken"
      },
      "traits": {}
    },
    "com.posthog.organizations#ListCimdVerificationTokens": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListCimdVerificationTokensRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedCIMDVerificationTokenList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/cimd_verification_tokens/",
          "code": 200
        },
        "smithy.api#documentation": "Manage CIMD verification tokens for an organization.\n\nA partner embeds the plaintext token in their CIMD metadata document as\n`verification_token` inside the `com.posthog` object (the legacy top-level\n`posthog_verification_token` field still works as a fallback). When PostHog fetches\nthe metadata, matching the token links the partner app to this organization and\ngrants a higher default rate limit for account provisioning.\n\nEach token is scoped at creation to the one `cimd_url` it will be published at,\nand verifies nowhere else. Two organizations may name the same URL; only the one\nwhose token is actually served there verifies, so claiming a URL cannot be used\nto block a partner from verifying theirs.\n\nThe plaintext value is only available on creation; we store a hash."
      }
    },
    "com.posthog.organizations#CreateCimdVerificationTokenRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name to identify this token later, e.g. 'Production CIMD partner'.",
            "smithy.api#required": {}
          }
        },
        "cimd_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTPS URL of the CIMD metadata document this token will be published in. The token only verifies at this URL, so a copy hosted anywhere else is rejected. Host case, an explicit :443 and a trailing slash are normalized away; the path is case-sensitive.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#CIMDVerificationTokenWithValue": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name to identify this token later, e.g. 'Production CIMD partner'.",
            "smithy.api#required": {}
          }
        },
        "cimd_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTPS URL of the CIMD metadata document this token verifies at. Null on tokens issued before URL binding; those no longer verify until bound via PATCH or reissued.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "mask_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.organizations#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plaintext token, only returned on creation",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create-response variant that includes the plaintext token.\n\nOnly emitted from the create endpoint - storage-side we only persist the\nhash, so subsequent reads use the base serializer."
      }
    },
    "com.posthog.organizations#CreateCimdVerificationToken": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CreateCimdVerificationTokenRequest"
      },
      "output": {
        "target": "com.posthog.organizations#CIMDVerificationTokenWithValue"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/cimd_verification_tokens/",
          "code": 200
        },
        "smithy.api#documentation": "Manage CIMD verification tokens for an organization.\n\nA partner embeds the plaintext token in their CIMD metadata document as\n`verification_token` inside the `com.posthog` object (the legacy top-level\n`posthog_verification_token` field still works as a fallback). When PostHog fetches\nthe metadata, matching the token links the partner app to this organization and\ngrants a higher default rate limit for account provisioning.\n\nEach token is scoped at creation to the one `cimd_url` it will be published at,\nand verifies nowhere else. Two organizations may name the same URL; only the one\nwhose token is actually served there verifies, so claiming a URL cannot be used\nto block a partner from verifying theirs.\n\nThe plaintext value is only available on creation; we store a hash."
      }
    },
    "com.posthog.organizations#CimdVerificationTokensRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this CIMD Verification Token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#CimdVerificationTokensRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CimdVerificationTokensRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.organizations#CIMDVerificationToken"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/cimd_verification_tokens/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Manage CIMD verification tokens for an organization.\n\nA partner embeds the plaintext token in their CIMD metadata document as\n`verification_token` inside the `com.posthog` object (the legacy top-level\n`posthog_verification_token` field still works as a fallback). When PostHog fetches\nthe metadata, matching the token links the partner app to this organization and\ngrants a higher default rate limit for account provisioning.\n\nEach token is scoped at creation to the one `cimd_url` it will be published at,\nand verifies nowhere else. Two organizations may name the same URL; only the one\nwhose token is actually served there verifies, so claiming a URL cannot be used\nto block a partner from verifying theirs.\n\nThe plaintext value is only available on creation; we store a hash."
      }
    },
    "com.posthog.organizations#UpdateCimdVerificationTokenPartialRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this CIMD Verification Token."
          }
        },
        "cimd_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTPS URL of the CIMD metadata document to bind this token to. Only settable once, on a token with no existing binding; an already-bound token must be reissued instead."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#UpdateCimdVerificationTokenPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#UpdateCimdVerificationTokenPartialRequest"
      },
      "output": {
        "target": "com.posthog.organizations#CIMDVerificationToken"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/organizations/{organization_id}/cimd_verification_tokens/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Manage CIMD verification tokens for an organization.\n\nA partner embeds the plaintext token in their CIMD metadata document as\n`verification_token` inside the `com.posthog` object (the legacy top-level\n`posthog_verification_token` field still works as a fallback). When PostHog fetches\nthe metadata, matching the token links the partner app to this organization and\ngrants a higher default rate limit for account provisioning.\n\nEach token is scoped at creation to the one `cimd_url` it will be published at,\nand verifies nowhere else. Two organizations may name the same URL; only the one\nwhose token is actually served there verifies, so claiming a URL cannot be used\nto block a partner from verifying theirs.\n\nThe plaintext value is only available on creation; we store a hash."
      }
    },
    "com.posthog.organizations#CimdVerificationTokensDestroyRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this CIMD Verification Token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#CimdVerificationTokensDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CimdVerificationTokensDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{organization_id}/cimd_verification_tokens/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Manage CIMD verification tokens for an organization.\n\nA partner embeds the plaintext token in their CIMD metadata document as\n`verification_token` inside the `com.posthog` object (the legacy top-level\n`posthog_verification_token` field still works as a fallback). When PostHog fetches\nthe metadata, matching the token links the partner app to this organization and\ngrants a higher default rate limit for account provisioning.\n\nEach token is scoped at creation to the one `cimd_url` it will be published at,\nand verifies nowhere else. Two organizations may name the same URL; only the one\nwhose token is actually served there verifies, so claiming a URL cannot be used\nto block a partner from verifying theirs.\n\nThe plaintext value is only available on creation; we store a hash."
      }
    },
    "com.posthog.organizations#ListDesktopBetaTermsRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DesktopBetaTermsAcceptanceDTO": {
      "type": "structure",
      "members": {
        "is_desktop_beta_terms_accepted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the organization has accepted the PostHog Desktop beta terms.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#ListDesktopBetaTerms": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListDesktopBetaTermsRequest"
      },
      "output": {
        "target": "com.posthog.organizations#DesktopBetaTermsAcceptanceDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/desktop_beta_terms/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#CreateDesktopBetaTermRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#CreateDesktopBetaTerm": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CreateDesktopBetaTermRequest"
      },
      "output": {
        "target": "com.posthog.organizations#DesktopBetaTermsAcceptanceDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/desktop_beta_terms/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#ListDomainsRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedOrganizationDomainList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedOrganizationDomainListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#OrganizationDomain": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "is_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines whether a domain is verified or not."
          }
        },
        "verified_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "verification_challenge": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        },
        "scim_base_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#PaginatedOrganizationDomainListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "traits": {}
    },
    "com.posthog.organizations#ListDomains": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListDomainsRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedOrganizationDomainList"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/domains/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CreateDomainRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/domains/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/domains/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#UpdateDomainRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#UpdateDomain": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#UpdateDomainRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/organizations/{organization_id}/domains/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#UpdateDomainPartialRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#UpdateDomainPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#UpdateDomainPartialRequest"
      },
      "output": {
        "target": "com.posthog.organizations#OrganizationDomain"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/organizations/{organization_id}/domains/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsDestroyRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/organizations/{organization_id}/domains/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsScimLogsRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsScimLogsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsScimLogsRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/domains/{id}/scim/logs/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#DomainsVerifyCreateRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this domain."
          }
        },
        "domain": {
          "target": "smithy.api#String"
        },
        "jit_provisioning_enabled": {
          "target": "smithy.api#Boolean"
        },
        "sso_enforcement": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#DomainsVerifyCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#DomainsVerifyCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.organizations#BadRequest"
        },
        {
          "target": "com.posthog.organizations#Forbidden"
        },
        {
          "target": "com.posthog.organizations#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/domains/{id}/verify/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#ListIdentityProviderConfigsRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#PaginatedIdentityProviderConfigList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.organizations#PaginatedIdentityProviderConfigListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#IdentityProviderConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this IdP configuration (e.g. 'Okta production')."
          }
        },
        "domain_scope": {
          "target": "com.posthog.organizations#IdentityProviderConfigDomainScope",
          "traits": {
            "smithy.api#documentation": "Domains this configuration applies to. An unset value behaves like selected domains.\n\n* `all` - All\n* `selected` - Selected",
            "com.distilled.openapi#nullable": {}
          }
        },
        "config_scope": {
          "target": "com.posthog.organizations#IdentityProviderConfigConfigScope",
          "traits": {
            "smithy.api#documentation": "Feature configured by this identity provider configuration.\n\n* `saml` - Saml\n* `scim` - Scim\n* `xaa` - Xaa",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization_domain_ids": {
          "target": "com.posthog.organizations#IdentityProviderConfigOrganizationDomainIdsList",
          "traits": {
            "smithy.api#documentation": "Organization domain IDs that this identity provider configuration applies to."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_saml": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether SAML is fully configured on this config.",
            "smithy.api#required": {}
          }
        },
        "saml_relay_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable UUID sent as SAML RelayState to route authentication responses to this IdP configuration.",
            "smithy.api#required": {}
          }
        },
        "saml_entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAML IdP entity ID (issuer).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_acs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAML single sign-on (ACS) URL the IdP redirects to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_x509_cert": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAML IdP X.509 signing certificate (PEM).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_scim": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether SCIM is enabled and a bearer token is set on this config.",
            "smithy.api#required": {}
          }
        },
        "scim_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether SCIM provisioning is enabled. Setting this true generates a bearer token (returned once); setting it false clears the token."
          }
        },
        "scim_bearer_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Plaintext SCIM bearer token. Only returned once, immediately after SCIM is enabled or the token is regenerated; null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_id_jag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether ID-JAG (XAA) is configured on this config.",
            "smithy.api#required": {}
          }
        },
        "id_jag_issuer_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted IdP issuer URL for ID-JAG (XAA). Required to enable ID-JAG.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_jwks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override JWKS URL. Defaults to OIDC discovery on the issuer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_allowed_clients": {
          "target": "com.posthog.organizations#IdentityProviderConfigIdJagAllowedClientsList",
          "traits": {
            "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.organizations#DomainScopeEnum": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "SELECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "selected"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `all` - All\n* `selected` - Selected"
      }
    },
    "com.posthog.organizations#IdentityProviderConfigDomainScope": {
      "type": "union",
      "members": {
        "DomainScopeEnum": {
          "target": "com.posthog.organizations#DomainScopeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Domains this configuration applies to. An unset value behaves like selected domains.\n\n* `all` - All\n* `selected` - Selected"
      }
    },
    "com.posthog.organizations#ConfigScopeEnum": {
      "type": "enum",
      "members": {
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saml"
          }
        },
        "SCIM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scim"
          }
        },
        "XAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xaa"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `saml` - Saml\n* `scim` - Scim\n* `xaa` - Xaa"
      }
    },
    "com.posthog.organizations#IdentityProviderConfigConfigScope": {
      "type": "union",
      "members": {
        "ConfigScopeEnum": {
          "target": "com.posthog.organizations#ConfigScopeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature configured by this identity provider configuration.\n\n* `saml` - Saml\n* `scim` - Scim\n* `xaa` - Xaa"
      }
    },
    "com.posthog.organizations#IdentityProviderConfigOrganizationDomainIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Organization domain IDs that this identity provider configuration applies to."
      }
    },
    "com.posthog.organizations#IdentityProviderConfigIdJagAllowedClientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
      }
    },
    "com.posthog.organizations#PaginatedIdentityProviderConfigListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.organizations#IdentityProviderConfig"
      },
      "traits": {}
    },
    "com.posthog.organizations#ListIdentityProviderConfigs": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#ListIdentityProviderConfigsRequest"
      },
      "output": {
        "target": "com.posthog.organizations#PaginatedIdentityProviderConfigList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/identity_provider_configs/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsCreateRequestDomainScope": {
      "type": "union",
      "members": {
        "DomainScopeEnum": {
          "target": "com.posthog.organizations#DomainScopeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Domains this configuration applies to. An unset value behaves like selected domains.\n\n* `all` - All\n* `selected` - Selected"
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsCreateRequestConfigScope": {
      "type": "union",
      "members": {
        "ConfigScopeEnum": {
          "target": "com.posthog.organizations#ConfigScopeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature configured by this identity provider configuration.\n\n* `saml` - Saml\n* `scim` - Scim\n* `xaa` - Xaa"
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsCreateRequestOrganizationDomainIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Organization domain IDs that this identity provider configuration applies to."
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsCreateRequestIdJagAllowedClientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
      }
    },
    "com.posthog.organizations#CreateIdentityProviderConfigRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this IdP configuration (e.g. 'Okta production')."
          }
        },
        "domain_scope": {
          "target": "com.posthog.organizations#IdentityProviderConfigsCreateRequestDomainScope",
          "traits": {
            "smithy.api#documentation": "Domains this configuration applies to. An unset value behaves like selected domains.\n\n* `all` - All\n* `selected` - Selected",
            "com.distilled.openapi#nullable": {}
          }
        },
        "config_scope": {
          "target": "com.posthog.organizations#IdentityProviderConfigsCreateRequestConfigScope",
          "traits": {
            "smithy.api#documentation": "Feature configured by this identity provider configuration.\n\n* `saml` - Saml\n* `scim` - Scim\n* `xaa` - Xaa",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization_domain_ids": {
          "target": "com.posthog.organizations#IdentityProviderConfigsCreateRequestOrganizationDomainIdsList",
          "traits": {
            "smithy.api#documentation": "Organization domain IDs that this identity provider configuration applies to."
          }
        },
        "saml_entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAML IdP entity ID (issuer).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_acs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAML single sign-on (ACS) URL the IdP redirects to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_x509_cert": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAML IdP X.509 signing certificate (PEM).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scim_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether SCIM provisioning is enabled. Setting this true generates a bearer token (returned once); setting it false clears the token."
          }
        },
        "id_jag_issuer_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted IdP issuer URL for ID-JAG (XAA). Required to enable ID-JAG.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_jwks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override JWKS URL. Defaults to OIDC discovery on the issuer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_allowed_clients": {
          "target": "com.posthog.organizations#IdentityProviderConfigsCreateRequestIdJagAllowedClientsList",
          "traits": {
            "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#CreateIdentityProviderConfig": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#CreateIdentityProviderConfigRequest"
      },
      "output": {
        "target": "com.posthog.organizations#IdentityProviderConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{organization_id}/identity_provider_configs/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsRetrieveRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this identity provider config."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.organizations#IdentityProviderConfigsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.organizations#IdentityProviderConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{organization_id}/identity_provider_configs/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsUpdateRequestDomainScope": {
      "type": "union",
      "members": {
        "DomainScopeEnum": {
          "target": "com.posthog.organizations#DomainScopeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Domains this configuration applies to. An unset value behaves like selected domains.\n\n* `all` - All\n* `selected` - Selected"
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsUpdateRequestConfigScope": {
      "type": "union",
      "members": {
        "ConfigScopeEnum": {
          "target": "com.posthog.organizations#ConfigScopeEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.organizations#BlankEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Feature configured by this identity provider configuration.\n\n* `saml` - Saml\n* `scim` - Scim\n* `xaa` - Xaa"
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsUpdateRequestOrganizationDomainIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Organization domain IDs that this identity provider configuration applies to."
      }
    },
    "com.posthog.organizations#IdentityProviderConfigsUpdateRequestIdJagAllowedClientsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Allowed ID-JAG client IDs. Empty list allows any client_id."
      }
    },
    "com.posthog.organizations#UpdateIdentityProviderConfigRequest": {
      "type": "structure",
      "members": {
        "organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "ID of the organization you're trying to access. To find the ID of the organization, make a call to /api/organizations/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this identity provider config."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for this IdP configuration (e.g. 'Okta production')."
          }
        },
        "domain_scope": {
          "target": "com.posthog.organizations#IdentityProviderConfigsUpdateRequestDomainScope",
          "traits": {
            "smithy.api#documentation": "Domains this configuration applies to. An unset value behaves like selected domains.\n\n* `all` - All\n* `selected` - Selected",
            "com.distilled.openapi#nullable": {}
          }
        },
        "config_scope": {
          "target": "com.posthog.organizations#IdentityProviderConfigsUpdateRequestConfigScope",
          "traits": {
            "smithy.api#documentation": "Feature configured by this identity provider configuration.\n\n* `saml` - Saml\n* `scim` - Scim\n* `xaa` - Xaa",
            "com.distilled.openapi#nullable": {}
          }
        },
        "organization_domain_ids": {
          "target": "com.posthog.organizations#IdentityProviderConfigsUpdateRequestOrganizationDomainIdsList",
          "traits": {
            "smithy.api#documentation": "Organization domain IDs that this identity provider configuration applies to."
          }
        },
        "saml_entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAML IdP entity ID (issuer).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_acs_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAML single sign-on (ACS) URL the IdP redirects to.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "saml_x509_cert": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SAML IdP X.509 signing certificate (PEM).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "scim_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether SCIM provisioning is enabled. Setting this true generates a bearer token (returned once); setting it false clears the token."
          }
        },
        "id_jag_issuer_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Trusted IdP issuer URL for ID-JAG (XAA). Required to enable ID-JAG.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_jwks_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Override JWKS URL. Defaults to OIDC discovery on the issuer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id_jag_allowed_clients": {
[...]
