{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.signals#SignalsProcessingListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PaginatedPauseStateResponseList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.signals#PaginatedPauseStateResponseListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PauseStateResponse": {
      "type": "structure",
      "members": {
        "paused_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp the pipeline is paused until, or null if not paused/not running.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PaginatedPauseStateResponseListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#PauseStateResponse"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsProcessingList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsProcessingListRequest"
      },
      "output": {
        "target": "com.posthog.signals#PaginatedPauseStateResponseList"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/processing/",
          "code": 200
        },
        "smithy.api#documentation": "Return current processing state including pause status."
      }
    },
    "com.posthog.signals#SignalsProcessingPauseUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pause the grouping pipeline until this timestamp (ISO 8601)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PauseResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always 'paused'."
          }
        },
        "paused_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp the pipeline is paused until."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsProcessingPauseUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsProcessingPauseUpdateRequest"
      },
      "output": {
        "target": "com.posthog.signals#PauseResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/signals/processing/pause/",
          "code": 200
        },
        "smithy.api#documentation": "View and control signal processing pipeline state for a team."
      }
    },
    "com.posthog.signals#SignalsProcessingPauseDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsProcessingPauseDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsProcessingPauseDestroyRequest"
      },
      "output": {
        "target": "com.posthog.signals#PauseResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/signals/processing/pause/",
          "code": 200
        },
        "smithy.api#documentation": "View and control signal processing pipeline state for a team."
      }
    },
    "com.posthog.signals#SignalsReportsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "channel_id",
            "smithy.api#documentation": "Narrow to reports assigned to one space (channel). Absent or empty means all reports regardless of assignment."
          }
        },
        "has_implementation_pr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "has_implementation_pr",
            "smithy.api#documentation": "Filter reports by whether a shipped implementation pull request exists. 'true' keeps only reports with a PR; 'false' keeps only those without. Pair with limit=1 to count PR reports cheaply."
          }
        },
        "include_all_statuses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_all_statuses",
            "smithy.api#documentation": "When true, the list includes reports in every status with no default exclusions applied — currently that adds suppressed (dismissed) reports, which are otherwise hidden. Use it to see the full inbox state (e.g. deduplicating before creating a report) and read each row's status (plus dismissal_reason/dismissal_note on dismissed rows) before acting. Deleted reports are terminal and never returned. Defaults to false, which keeps the existing default exclusions. Ignored when an explicit 'status' filter is set — that filter alone decides which statuses are returned."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "ordering": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ordering",
            "smithy.api#documentation": "Comma-separated ordering clauses. Each clause is a field name optionally prefixed with '-' for descending. Allowed fields: status, is_suggested_reviewer, signal_count, total_weight, priority, created_at, updated_at, id. Defaults to '-is_suggested_reviewer,status,-updated_at'."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "priority",
            "smithy.api#documentation": "Comma-separated list of priorities to include. Valid values: P0, P1, P2, P3, P4. Reports without a priority assignment are excluded when this filter is set."
          }
        },
        "scout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scout",
            "smithy.api#documentation": "Comma-separated list of scout skill_name slugs (e.g. signals-scout-error-tracking). Reports are kept if at least one of their contributing signals was authored by one of these scouts. Combines with source_product as an AND."
          }
        },
        "scout_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scout_prefix",
            "smithy.api#documentation": "Scout skill_name prefix (e.g. signals-scout-customer-analytics). Reports are kept if at least one of their contributing signals was authored by a scout whose skill_name starts with this prefix — new scouts in the family match without callers listing every name. Combines with the other filters as an AND."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive substring match against report title and summary."
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_id",
            "smithy.api#documentation": "Comma-separated list of source record ids. Reports are kept if at least one of their contributing signals came from one of these records — e.g. pass a support ticket's UUID to see what the inbox already found for that ticket. Requires exactly one source_product, since a source id is only unique within its product."
          }
        },
        "source_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_product",
            "smithy.api#documentation": "Comma-separated list of source products to include. Reports are kept if at least one of their contributing signals comes from one of these products (e.g. error_tracking, session_replay)."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Comma-separated list of statuses to include. Valid values: potential, candidate, in_progress, pending_input, ready, resolved, failed, suppressed. Defaults to all statuses except suppressed."
          }
        },
        "suggested_reviewers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "suggested_reviewers",
            "smithy.api#documentation": "Comma-separated list of PostHog user UUIDs. Reports are kept if their suggested reviewers include any of the given users."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "task_id",
            "smithy.api#documentation": "Only reports associated with this task (via the report's task associations)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PaginatedSignalReportList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.signals#PaginatedSignalReportListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReport": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.posthog.signals#SignalReportStatusEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signal_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signals_at_run": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "artefact_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "charts": {
          "target": "com.posthog.signals#SignalReportChartsList",
          "traits": {
            "smithy.api#documentation": "Charts the report shows, in the order they were written. The summary places one with a `[label](chart:<chart_id>)` link; the rest render below it.",
            "smithy.api#required": {}
          }
        },
        "suggested_prompts": {
          "target": "com.posthog.signals#SignalReportSuggestedPromptsList",
          "traits": {
            "smithy.api#documentation": "Follow-up questions the report's author suggests asking about it, in the order they were written. The inbox offers them above the `Ask AI` box; clicking one fills the box with it.",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P0–P4 from the latest priority judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actionability choice from the latest actionability judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "already_addressed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the issue is already being handled — fixed in recent changes, or with a fix in flight (an open PR, a recently active branch, an assigned / in-progress issue or agent task) — from the actionability judgment artefact.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason code from the latest dismissal artefact, set when the report was suppressed (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form note captured alongside the dismissal reason (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_suggested_reviewer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_products": {
          "target": "com.posthog.signals#SignalReportSourceProductsList",
          "traits": {
            "smithy.api#documentation": "Distinct source products contributing signals to this report (from ClickHouse).",
            "smithy.api#required": {}
          }
        },
        "scout_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "skill_name slug of the scout that authored this report, when scout-authored (from ClickHouse); null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "implementation_pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PR URL from the latest implementation task run, if available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "implementation_pr_merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether that implementation PR is merged, per the GitHub webhook. False when there is no PR or it hasn't merged. Report status doesn't imply this: a resolved report may have been resolved directly, without a merged PR.",
            "smithy.api#required": {}
          }
        },
        "refund": {
          "target": "com.posthog.signals#SignalReportRefund",
          "traits": {
            "smithy.api#documentation": "The report's PR refund, when one exists. One refund per report, ever.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refund_ineligibility_reason": {
          "target": "com.posthog.signals#RefundIneligibilityReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why refunding this report's PR would be rejected right now, or null when a refund would be accepted (see the field's schema for the reason values).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_exempt_reason": {
          "target": "com.posthog.signals#BillingExemptReasonEnum",
          "traits": {
            "smithy.api#documentation": "Non-null when this report is system-marked never-billable (PostHog-system origin, e.g. a health-check scout finding) — its implementation PRs are free and cannot be refunded because nothing was charged.\n\n* `posthog_health_check` - PostHog health check\n* `posthog_onboarding` - PostHog onboarding\n* `posthog_system` - PostHog system",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The space (task channel) this report is assigned to, or null when unassigned. The general view lists every report regardless of this value.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportStatusEnum": {
      "type": "enum",
      "members": {
        "POTENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "potential"
          }
        },
        "CANDIDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "candidate"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "PENDING_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_input"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "SUPPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suppressed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `potential` - Potential\n* `candidate` - Candidate\n* `in_progress` - In Progress\n* `pending_input` - Pending Input\n* `ready` - Ready\n* `resolved` - Resolved\n* `failed` - Failed\n* `deleted` - Deleted\n* `suppressed` - Suppressed"
      }
    },
    "com.posthog.signals#ReportChart": {
      "type": "structure",
      "members": {
        "chart_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable slug for this chart within the report (lowercase letters, numbers, underscores, hyphens; must start with a letter or number). Reference it from `summary` as a markdown link with a `chart:` target — `[Daily signups](chart:signups-drop)` — to place the chart at that point in the body. A chart you don't reference still renders, below the summary.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short heading shown above the chart.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The query node to render. `kind` must be `InsightVizNode` (an ad-hoc product analytics chart), `DataVisualizationNode` (a SQL series — a `HogQLQuery` source plus a `display`), or `SavedInsightNode` (an existing insight by `shortId`). Pin the window to absolute dates where the node supports it, so the reader sees the data you wrote about rather than whatever a relative range resolves to when they open the report.",
            "smithy.api#required": {}
          }
        },
        "caption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional one-line note on what to look at in the chart.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "size": {
          "target": "com.posthog.signals#SizeEnum",
          "traits": {
            "smithy.api#documentation": "How much height the chart gets: `small` for a single number or a short series, `medium` for an ordinary graph, `large` when there are rows or a grid to read (retention, paths, a wide breakdown). Leave it out unless the default looks wrong — the inbox sizes a chart from its query, and two charts referenced from the same paragraph sit side by side.\n\n* `small` - small\n* `medium` - medium\n* `large` - large",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One chart attached to a report — rendered in the inbox and referenceable from the summary."
      }
    },
    "com.posthog.signals#SizeEnum": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "small"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medium"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "large"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `small` - small\n* `medium` - medium\n* `large` - large"
      }
    },
    "com.posthog.signals#SignalReportChartsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#ReportChart"
      },
      "traits": {
        "smithy.api#documentation": "Charts the report shows, in the order they were written. The summary places one with a `[label](chart:<chart_id>)` link; the rest render below it."
      }
    },
    "com.posthog.signals#SignalReportSuggestedPromptsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Follow-up questions the report's author suggests asking about it, in the order they were written. The inbox offers them above the `Ask AI` box; clicking one fills the box with it."
      }
    },
    "com.posthog.signals#SignalReportSourceProductsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Distinct source products contributing signals to this report (from ClickHouse)."
      }
    },
    "com.posthog.signals#SignalReportRefund": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.posthog.signals#SignalReportRefundReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why the user refunded this PR (feeds the refund review).\n\n* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-form note captured with the refund.",
            "smithy.api#required": {}
          }
        },
        "billing_path": {
          "target": "com.posthog.signals#BillingPathEnum",
          "traits": {
            "smithy.api#documentation": "How the refund was executed, frozen at refund time: 'excluded' (same UTC day as the billable PR run — the report never reaches billing) or 'credited' (billing issues a Stripe customer-balance credit).\n\n* `excluded` - Excluded\n* `credited` - Credited",
            "smithy.api#required": {}
          }
        },
        "credits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Signals credits refunded (flat per-PR charge snapshot; 1 credit = $0.01).",
            "smithy.api#required": {}
          }
        },
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refunded implementation PR's GitHub URL, snapshotted at refund time.",
            "smithy.api#required": {}
          }
        },
        "pr_run_created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the first billable PR run was created — the charge this reverses.",
            "smithy.api#required": {}
          }
        },
        "credit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "USD amount the billing service credited (credited path only). Null until the sync completes; '0.00' is a legitimate outcome (e.g. the PR was inside the free tier).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_synced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the billing service has acknowledged this refund. Always relevant for the credited path (the Stripe credit is issued asynchronously); excluded-path refunds need no billing sync and report false.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the refund was created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportRefundReasonEnum": {
      "type": "enum",
      "members": {
        "PR_INCORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pr_incorrect"
          }
        },
        "PR_NOT_USEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pr_not_useful"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other"
      }
    },
    "com.posthog.signals#BillingPathEnum": {
      "type": "enum",
      "members": {
        "EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "excluded"
          }
        },
        "CREDITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credited"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `excluded` - Excluded\n* `credited` - Credited"
      }
    },
    "com.posthog.signals#RefundIneligibilityReasonEnum": {
      "type": "enum",
      "members": {
        "ALREADY_REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "already_refunded"
          }
        },
        "BILLING_EXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing_exempt"
          }
        },
        "NO_BILLABLE_PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_billable_pr"
          }
        },
        "OUT_OF_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "out_of_period"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#BillingExemptReasonEnum": {
      "type": "enum",
      "members": {
        "POSTHOG_HEALTH_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_health_check"
          }
        },
        "POSTHOG_ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_onboarding"
          }
        },
        "POSTHOG_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `posthog_health_check` - PostHog health check\n* `posthog_onboarding` - PostHog onboarding\n* `posthog_system` - PostHog system"
      }
    },
    "com.posthog.signals#PaginatedSignalReportListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalReport"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsReportsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsListRequest"
      },
      "output": {
        "target": "com.posthog.signals#PaginatedSignalReportList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/",
          "code": 200
        }
      }
    },
    "com.posthog.signals#SignalsReportsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.signals#SignalsReportsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New human-facing title for the report. Omit to leave the title unchanged."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New summary (the report's description) explaining what the report is about. Omit to leave the summary unchanged."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReport"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Edit a report's title or summary\n\nEdit the human-facing title and/or summary (description) of a signal report, addressed by id. Both fields are optional — supply only the ones you want to change; at least one is required. Every other report field (status, weights, judgments) is managed by the signals pipeline and cannot be set here. Returns the full updated report."
      }
    },
    "com.posthog.signals#SentimentEnum": {
      "type": "enum",
      "members": {
        "POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "positive"
          }
        },
        "NEGATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "negative"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `positive` - positive\n* `negative` - negative"
      }
    },
    "com.posthog.signals#SignalsReportsFeedbackCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "sentiment": {
          "target": "com.posthog.signals#SentimentEnum",
          "traits": {
            "smithy.api#documentation": "The rating left on the report: 'positive' (thumbs up) or 'negative' (thumbs down).\n\n* `positive` - positive\n* `negative` - negative",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form note explaining the rating. Capped at 4000 characters. Optional — a bare thumb carries none. When present and the report was authored by a scout, the note is forwarded to that scout as a steering note."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalReportFeedbackResponse": {
      "type": "structure",
      "members": {
        "forwarded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the note was forwarded to the report's authoring scout as a steering note. False when the report has no resolvable authoring scout, or the caller lacks scout-steering access.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsReportsFeedbackCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsFeedbackCreateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReportFeedbackResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/feedback/",
          "code": 200
        },
        "smithy.api#documentation": "Leave feedback on a report\n\nRecord the thumbs rating at the end of a report, with an optional note. For browser-session requests the rating is persisted as a per-person report action, which counts as consumption evidence for the scout that authored the report (scouts whose output nobody consumes are eventually paused); requests authenticated any other way record no action. When a note is present and the report was authored by a scout, the note is also forwarded to that scout as a steering note it reads on its next run; for any other report there is nothing to steer. The report's state is never changed."
      }
    },
    "com.posthog.signals#SignalsReportPrChecksRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PullRequestChecksResponse": {
      "type": "structure",
      "members": {
        "checks": {
          "target": "com.posthog.signals#PullRequestChecksResponseChecksList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the PR checks endpoint — the CI status of a report's implementation PR."
      }
    },
    "com.posthog.signals#PullRequestCheck": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Check run name or status context.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lifecycle state: 'queued', 'in_progress', or 'completed'.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "conclusion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Outcome once completed: 'success', 'failure', 'neutral', 'cancelled', 'skipped', 'timed_out', or 'action_required'. Null while still running.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the check run / status detail on GitHub.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One CI check on a pull request's head commit — a GitHub Actions check run or a legacy commit\nstatus, normalized to a common shape."
      }
    },
    "com.posthog.signals#PullRequestChecksResponseChecksList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#PullRequestCheck"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsReportPrChecks": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportPrChecksRequest"
      },
      "output": {
        "target": "com.posthog.signals#PullRequestChecksResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/pr_checks/",
          "code": 200
        },
        "smithy.api#documentation": "Fetch CI checks for a report's implementation PR\n\nFetch the CI status (GitHub Actions check runs and legacy commit statuses) of the pull request the report's implementation task opened, via the team's GitHub integration."
      }
    },
    "com.posthog.signals#SignalsReportPrCommentsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PullRequestCommentsResponse": {
      "type": "structure",
      "members": {
        "comments": {
          "target": "com.posthog.signals#PullRequestCommentsResponseCommentsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for the PR comments endpoint — conversation and review comments merged chronologically."
      }
    },
    "com.posthog.signals#PullRequestComment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub comment id.",
            "smithy.api#required": {}
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comment author's GitHub login.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "author_avatar_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Author's GitHub avatar URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comment body (GitHub-flavored markdown).",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 creation timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the comment on GitHub.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "comment_type": {
          "target": "com.posthog.signals#CommentTypeEnum",
          "traits": {
            "smithy.api#documentation": "'conversation' for a PR discussion comment, 'review' for an inline code-review comment.\n\n* `conversation` - conversation\n* `review` - review",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File path the review comment is anchored to (review comments only).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Line in the diff the review comment is anchored to — the end line for multi-line comments (review comments only; null when the comment is outdated relative to the PR head).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "start_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "First line of a multi-line review comment's range (review comments only).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "side": {
          "target": "com.posthog.signals#SideEnum",
          "traits": {
            "smithy.api#documentation": "Diff side the review comment is anchored to: 'LEFT' = deletions, 'RIGHT' = additions (review comments only).\n\n* `LEFT` - LEFT\n* `RIGHT` - RIGHT",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "diff_hunk": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Diff hunk excerpt the review comment applies to (review comments only).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "in_reply_to_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the thread root comment this one replies to; null for thread roots and conversation comments.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "commit_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA of the commit the review comment was made against (review comments only).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reactions": {
          "target": "com.posthog.signals#PullRequestCommentReactionsList",
          "traits": {
            "smithy.api#documentation": "Emoji reactions on this review comment, one entry per reactor.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One comment on a pull request — a conversation comment or an inline review comment."
      }
    },
    "com.posthog.signals#CommentTypeEnum": {
      "type": "enum",
      "members": {
        "CONVERSATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversation"
          }
        },
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `conversation` - conversation\n* `review` - review"
      }
    },
    "com.posthog.signals#SideEnum": {
      "type": "enum",
      "members": {
        "LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT"
          }
        },
        "RIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `LEFT` - LEFT\n* `RIGHT` - RIGHT"
      }
    },
    "com.posthog.signals#PullRequestCommentReaction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub reaction id (needed to remove it).",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reaction key: '+1', '-1', 'laugh', 'hooray', 'confused', 'heart', 'rocket', or 'eyes'.",
            "smithy.api#required": {}
          }
        },
        "user_login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub login of the user who added the reaction.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One emoji reaction on a review comment, with the reactor so the viewer's own can be toggled."
      }
    },
    "com.posthog.signals#PullRequestCommentReactionsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#PullRequestCommentReaction"
      },
      "traits": {
        "smithy.api#documentation": "Emoji reactions on this review comment, one entry per reactor."
      }
    },
    "com.posthog.signals#PullRequestCommentsResponseCommentsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#PullRequestComment"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsReportPrComments": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportPrCommentsRequest"
      },
      "output": {
        "target": "com.posthog.signals#PullRequestCommentsResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/pr_comments/",
          "code": 200
        },
        "smithy.api#documentation": "Fetch comments for a report's implementation PR\n\nFetch the pull request's conversation comments and inline review comments, merged chronologically, via the team's GitHub integration."
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comment body (GitHub-flavored markdown).",
            "smithy.api#required": {}
          }
        },
        "in_reply_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Numeric id of the thread root comment to reply to. When set, path/line/side are ignored.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "File path to anchor a new comment thread to (required when starting a new thread).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Diff line to anchor a new comment thread to (required when starting a new thread).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "side": {
          "target": "com.posthog.signals#SideEnum",
          "traits": {
            "smithy.api#documentation": "Diff side of the anchor line: 'LEFT' = deletions, 'RIGHT' = additions. Defaults to 'RIGHT'.\n\n* `LEFT` - LEFT\n* `RIGHT` - RIGHT",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PullRequestReviewCommentCreateResponse": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "com.posthog.signals#PullRequestComment",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response after posting a review comment — the created comment in the normalized PR-comment shape."
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportPrReviewCommentsCreateRequest"
      },
      "output": {
        "target": "com.posthog.signals#PullRequestReviewCommentCreateResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/pr_review_comments/",
          "code": 200
        },
        "smithy.api#documentation": "Post an inline review comment on a report's implementation PR\n\nPost an inline review comment on the report's implementation pull request, attributed to the requesting user's own GitHub identity via their personal GitHub connection. Either replies to an existing thread (`in_reply_to`) or starts a new thread on a diff line (`path` + `line`)."
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "comment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New comment body (GitHub-flavored markdown)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportPrReviewCommentUpdateRequest"
      },
      "output": {
        "target": "com.posthog.signals#PullRequestReviewCommentCreateResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/pr_review_comments/{comment_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Edit one of the requesting user's own review comments"
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "comment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportPrReviewCommentDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/pr_review_comments/{comment_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Delete one of the requesting user's own review comments"
      }
    },
    "com.posthog.signals#ContentEnum": {
      "type": "enum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "+1"
          }
        },
        "_1_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-1"
          }
        },
        "LAUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "laugh"
          }
        },
        "HOORAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hooray"
          }
        },
        "CONFUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "confused"
          }
        },
        "HEART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "heart"
          }
        },
        "ROCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rocket"
          }
        },
        "EYES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eyes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `+1` - +1\n* `-1` - -1\n* `laugh` - laugh\n* `hooray` - hooray\n* `confused` - confused\n* `heart` - heart\n* `rocket` - rocket\n* `eyes` - eyes"
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentReactionsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "comment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.posthog.signals#ContentEnum",
          "traits": {
            "smithy.api#documentation": "Reaction to add: one of '+1', '-1', 'laugh', 'hooray', 'confused', 'heart', 'rocket', 'eyes'.\n\n* `+1` - +1\n* `-1` - -1\n* `laugh` - laugh\n* `hooray` - hooray\n* `confused` - confused\n* `heart` - heart\n* `rocket` - rocket\n* `eyes` - eyes",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PullRequestReviewCommentReactionCreateResponse": {
      "type": "structure",
      "members": {
        "reaction": {
          "target": "com.posthog.signals#PullRequestCommentReaction",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response after adding a reaction — the created reaction, so the frontend can track its id."
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentReactionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportPrReviewCommentReactionsCreateRequest"
      },
      "output": {
        "target": "com.posthog.signals#PullRequestReviewCommentReactionCreateResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/pr_review_comments/{comment_id}/reactions/",
          "code": 200
        },
        "smithy.api#documentation": "React to a review comment as the requesting user"
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentReactionDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "comment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "reaction_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportPrReviewCommentReactionDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportPrReviewCommentReactionDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/pr_review_comments/{comment_id}/reactions/{reaction_id}/",
          "code": 200
        },
        "smithy.api#documentation": "Remove one of the requesting user's own reactions from a review comment"
      }
    },
    "com.posthog.signals#SignalsReportsRefundCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "reason": {
          "target": "com.posthog.signals#SignalReportRefundReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why this PR is being refunded. One of: pr_incorrect (the PR doesn't address what the report promised), pr_not_useful (technically fine but not worth paying for), duplicate (covers work already charged elsewhere), other. Required — refund reviews key on it.\n\n* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-form context for the refund; stored on the refund and echoed in the report's dismissal artefact. Capped at 4000 characters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalReportRefundResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.posthog.signals#SignalReportRefundReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why the user refunded this PR (feeds the refund review).\n\n* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-form note captured with the refund.",
            "smithy.api#required": {}
          }
        },
        "billing_path": {
          "target": "com.posthog.signals#BillingPathEnum",
          "traits": {
            "smithy.api#documentation": "How the refund was executed, frozen at refund time: 'excluded' (same UTC day as the billable PR run — the report never reaches billing) or 'credited' (billing issues a Stripe customer-balance credit).\n\n* `excluded` - Excluded\n* `credited` - Credited",
            "smithy.api#required": {}
          }
        },
        "credits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Signals credits refunded (flat per-PR charge snapshot; 1 credit = $0.01).",
            "smithy.api#required": {}
          }
        },
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refunded implementation PR's GitHub URL, snapshotted at refund time.",
            "smithy.api#required": {}
          }
        },
        "pr_run_created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the first billable PR run was created — the charge this reverses.",
            "smithy.api#required": {}
          }
        },
        "credit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "USD amount the billing service credited (credited path only). Null until the sync completes; '0.00' is a legitimate outcome (e.g. the PR was inside the free tier).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_synced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the billing service has acknowledged this refund. Always relevant for the credited path (the Stripe credit is issued asynchronously); excluded-path refunds need no billing sync and report false.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the refund was created.",
            "smithy.api#required": {}
          }
        },
        "already_refunded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the report already had a refund and that existing refund is returned unchanged — refunds are one-per-report and repeat calls are idempotent.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsReportsRefundCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsRefundCreateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReportRefundResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/refund/",
          "code": 200
        },
        "smithy.api#documentation": "Refund a report's implementation PR\n\nRefund the flat charge for this report's implementation PR and archive the report. Refunds auto-approve: the charge is either excluded from usage before it is ever reported to billing (refund on the same UTC day as the PR run) or returned as a Stripe customer-balance credit on the next invoice. A refunded PR does not count toward the free monthly PR allowance. One refund per report, ever — repeat calls return the existing refund with already_refunded=true. The report is archived as part of the refund (a resolved report stays resolved) and can't be restored afterwards."
      }
    },
    "com.posthog.signals#SignalsReportsSignalsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#ReportSignalsResponse": {
      "type": "structure",
      "members": {
        "report": {
          "target": "com.posthog.signals#SignalReport",
          "traits": {
            "smithy.api#documentation": "The report these signals were clustered into.",
            "smithy.api#required": {}
          }
        },
        "signals": {
          "target": "com.posthog.signals#ReportSignalsResponseSignalsList",
          "traits": {
            "smithy.api#documentation": "All signals contributing to the report.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response body for GET /api/projects/:id/signals/reports/:id/signals/."
      }
    },
    "com.posthog.signals#SignalNode": {
      "type": "structure",
      "members": {
        "signal_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ClickHouse document id of the signal.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signal's human-readable description.",
            "smithy.api#required": {}
          }
        },
        "source_product": {
          "target": "com.posthog.signals#SignalSourceProduct",
          "traits": {
            "smithy.api#documentation": "Product that emitted the signal.\n\n* `session_replay` - session_replay\n* `llm_analytics` - llm_analytics\n* `github` - github\n* `linear` - linear\n* `jira` - jira\n* `zendesk` - zendesk\n* `conversations` - conversations\n* `error_tracking` - error_tracking\n* `endpoints` - endpoints\n* `pganalyze` - pganalyze\n* `signals_scout` - signals_scout\n* `logs` - logs\n* `health_checks` - health_checks\n* `replay_vision` - replay_vision\n* `analytics` - analytics\n* `freshdesk` - freshdesk\n* `freshservice` - freshservice\n* `front` - front\n* `gorgias` - gorgias\n* `kustomer` - kustomer\n* `dixa` - dixa\n* `plain` - plain\n* `gitlab` - gitlab\n* `gitea` - gitea\n* `shortcut` - shortcut\n* `sentry` - sentry\n* `rollbar` - rollbar\n* `bugsnag` - bugsnag\n* `honeybadger` - honeybadger\n* `raygun` - raygun\n* `snyk` - snyk\n* `sonarqube` - sonarqube\n* `semgrep` - semgrep\n* `rapid7_insightvm` - rapid7_insightvm\n* `featurebase` - featurebase\n* `frill` - frill\n* `aha` - aha\n* `uservoice` - uservoice\n* `productboard` - productboard\n* `canny` - canny\n* `asknicely` - asknicely\n* `retently` - retently\n* `appfigures` - appfigures\n* `appfollow` - appfollow\n* `judgeme_reviews` - judgeme_reviews\n* `intercom` - intercom\n* `hubspot` - hubspot\n* `engineering_analytics` - engineering_analytics\n* `google_search_console` - google_search_console",
            "smithy.api#required": {}
          }
        },
        "source_type": {
          "target": "com.posthog.signals#SignalSourceType",
          "traits": {
            "smithy.api#documentation": "Signal type within the source product.\n\n* `session_analysis_cluster` - session_analysis_cluster\n* `session_problem` - session_problem\n* `evaluation` - evaluation\n* `evaluation_report` - evaluation_report\n* `issue` - issue\n* `ticket` - ticket\n* `issue_created` - issue_created\n* `issue_reopened` - issue_reopened\n* `issue_spiking` - issue_spiking\n* `endpoint_execution_failed` - endpoint_execution_failed\n* `endpoint_breakdown_limit_exceeded` - endpoint_breakdown_limit_exceeded\n* `cross_source_issue` - cross_source_issue\n* `alert_state_change` - alert_state_change\n* `health_issue` - health_issue\n* `scanner_finding` - scanner_finding\n* `anomaly_investigation` - anomaly_investigation\n* `feedback` - feedback\n* `review` - review\n* `ci_flaky_check` - ci_flaky_check\n* `ci_broken_default_branch` - ci_broken_default_branch\n* `ci_duration_regression` - ci_duration_regression\n* `search_opportunity` - search_opportunity",
            "smithy.api#required": {}
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Emitter-scoped id of the underlying object (issue, ticket, ...).",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Signal weight in [0, 1]; drives report ranking.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Emission timestamp.",
            "smithy.api#required": {}
          }
        },
        "extra": {
          "target": "com.posthog.signals#SignalExtra",
          "traits": {
            "smithy.api#documentation": "Product-specific payload; shape depends on (source_product, source_type).",
            "smithy.api#required": {}
          }
        },
        "match_metadata": {
          "target": "com.posthog.signals#SignalMatchMetadata",
          "traits": {
            "smithy.api#documentation": "Clustering match/no-match metadata, when present.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalSourceProduct": {
      "type": "enum",
      "members": {
        "SESSION_REPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session_replay"
          }
        },
        "LLM_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llm_analytics"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "JIRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jira"
          }
        },
        "ZENDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zendesk"
          }
        },
        "CONVERSATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversations"
          }
        },
        "ERROR_TRACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error_tracking"
          }
        },
        "ENDPOINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endpoints"
          }
        },
        "PGANALYZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pganalyze"
          }
        },
        "SIGNALS_SCOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signals_scout"
          }
        },
        "LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logs"
          }
        },
        "HEALTH_CHECKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health_checks"
          }
        },
        "REPLAY_VISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replay_vision"
          }
        },
        "ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analytics"
          }
        },
        "FRESHDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "freshdesk"
          }
        },
        "FRESHSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "freshservice"
          }
        },
        "FRONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "front"
          }
        },
        "GORGIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gorgias"
          }
        },
        "KUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kustomer"
          }
        },
        "DIXA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dixa"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitea"
          }
        },
        "SHORTCUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shortcut"
          }
        },
        "SENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentry"
          }
        },
        "ROLLBAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rollbar"
          }
        },
        "BUGSNAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bugsnag"
          }
        },
        "HONEYBADGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "honeybadger"
          }
        },
        "RAYGUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "raygun"
          }
        },
        "SNYK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snyk"
          }
        },
        "SONARQUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sonarqube"
          }
        },
        "SEMGREP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semgrep"
          }
        },
        "RAPID7_INSIGHTVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rapid7_insightvm"
          }
        },
        "FEATUREBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "featurebase"
          }
        },
        "FRILL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "frill"
          }
        },
        "AHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aha"
          }
        },
        "USERVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uservoice"
          }
        },
        "PRODUCTBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "productboard"
          }
        },
        "CANNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canny"
          }
        },
        "ASKNICELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asknicely"
          }
        },
        "RETENTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retently"
          }
        },
        "APPFIGURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appfigures"
          }
        },
        "APPFOLLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appfollow"
          }
        },
        "JUDGEME_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "judgeme_reviews"
          }
        },
        "INTERCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "intercom"
          }
        },
        "HUBSPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hubspot"
          }
        },
        "ENGINEERING_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering_analytics"
          }
        },
        "GOOGLE_SEARCH_CONSOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google_search_console"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `session_replay` - session_replay\n* `llm_analytics` - llm_analytics\n* `github` - github\n* `linear` - linear\n* `jira` - jira\n* `zendesk` - zendesk\n* `conversations` - conversations\n* `error_tracking` - error_tracking\n* `endpoints` - endpoints\n* `pganalyze` - pganalyze\n* `signals_scout` - signals_scout\n* `logs` - logs\n* `health_checks` - health_checks\n* `replay_vision` - replay_vision\n* `analytics` - analytics\n* `freshdesk` - freshdesk\n* `freshservice` - freshservice\n* `front` - front\n* `gorgias` - gorgias\n* `kustomer` - kustomer\n* `dixa` - dixa\n* `plain` - plain\n* `gitlab` - gitlab\n* `gitea` - gitea\n* `shortcut` - shortcut\n* `sentry` - sentry\n* `rollbar` - rollbar\n* `bugsnag` - bugsnag\n* `honeybadger` - honeybadger\n* `raygun` - raygun\n* `snyk` - snyk\n* `sonarqube` - sonarqube\n* `semgrep` - semgrep\n* `rapid7_insightvm` - rapid7_insightvm\n* `featurebase` - featurebase\n* `frill` - frill\n* `aha` - aha\n* `uservoice` - uservoice\n* `productboard` - productboard\n* `canny` - canny\n* `asknicely` - asknicely\n* `retently` - retently\n* `appfigures` - appfigures\n* `appfollow` - appfollow\n* `judgeme_reviews` - judgeme_reviews\n* `intercom` - intercom\n* `hubspot` - hubspot\n* `engineering_analytics` - engineering_analytics\n* `google_search_console` - google_search_console"
      }
    },
    "com.posthog.signals#SignalSourceType": {
      "type": "enum",
      "members": {
        "SESSION_ANALYSIS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session_analysis_cluster"
          }
        },
        "SESSION_PROBLEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session_problem"
          }
        },
        "EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "evaluation"
          }
        },
        "EVALUATION_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "evaluation_report"
          }
        },
        "ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issue"
          }
        },
        "TICKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ticket"
          }
        },
        "ISSUE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issue_created"
          }
        },
        "ISSUE_REOPENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issue_reopened"
          }
        },
        "ISSUE_SPIKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issue_spiking"
          }
        },
        "ENDPOINT_EXECUTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endpoint_execution_failed"
          }
        },
        "ENDPOINT_BREAKDOWN_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endpoint_breakdown_limit_exceeded"
          }
        },
        "CROSS_SOURCE_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cross_source_issue"
          }
        },
        "ALERT_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert_state_change"
          }
        },
        "HEALTH_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health_issue"
          }
        },
        "SCANNER_FINDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scanner_finding"
          }
        },
        "ANOMALY_INVESTIGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anomaly_investigation"
          }
        },
        "FEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feedback"
          }
        },
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "CI_FLAKY_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci_flaky_check"
          }
        },
        "CI_BROKEN_DEFAULT_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci_broken_default_branch"
          }
        },
        "CI_DURATION_REGRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci_duration_regression"
          }
        },
        "SEARCH_OPPORTUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "search_opportunity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `session_analysis_cluster` - session_analysis_cluster\n* `session_problem` - session_problem\n* `evaluation` - evaluation\n* `evaluation_report` - evaluation_report\n* `issue` - issue\n* `ticket` - ticket\n* `issue_created` - issue_created\n* `issue_reopened` - issue_reopened\n* `issue_spiking` - issue_spiking\n* `endpoint_execution_failed` - endpoint_execution_failed\n* `endpoint_breakdown_limit_exceeded` - endpoint_breakdown_limit_exceeded\n* `cross_source_issue` - cross_source_issue\n* `alert_state_change` - alert_state_change\n* `health_issue` - health_issue\n* `scanner_finding` - scanner_finding\n* `anomaly_investigation` - anomaly_investigation\n* `feedback` - feedback\n* `review` - review\n* `ci_flaky_check` - ci_flaky_check\n* `ci_broken_default_branch` - ci_broken_default_branch\n* `ci_duration_regression` - ci_duration_regression\n* `search_opportunity` - search_opportunity"
      }
    },
    "com.posthog.signals#SignalExtra": {
      "type": "union",
      "members": {
        "SessionProblemSignalExtra": {
          "target": "com.posthog.signals#SessionProblemSignalExtra"
        },
        "LlmEvalSignalExtra": {
          "target": "com.posthog.signals#LlmEvalSignalExtra"
        },
        "LlmEvalReportSignalExtra": {
          "target": "com.posthog.signals#LlmEvalReportSignalExtra"
        },
        "ZendeskTicketSignalExtra": {
          "target": "com.posthog.signals#ZendeskTicketSignalExtra"
        },
        "GithubIssueSignalExtra": {
          "target": "com.posthog.signals#GithubIssueSignalExtra"
        },
        "LinearIssueSignalExtra": {
          "target": "com.posthog.signals#LinearIssueSignalExtra"
        },
        "JiraIssueSignalExtra": {
          "target": "com.posthog.signals#JiraIssueSignalExtra"
        },
        "ConversationsTicketSignalExtra": {
          "target": "com.posthog.signals#ConversationsTicketSignalExtra"
        },
        "ErrorTrackingSignalExtra": {
          "target": "com.posthog.signals#ErrorTrackingSignalExtra"
        },
        "PgAnalyzeIssueSignalExtra": {
          "target": "com.posthog.signals#PgAnalyzeIssueSignalExtra"
        },
        "EndpointExecutionFailedSignalExtra": {
          "target": "com.posthog.signals#EndpointExecutionFailedSignalExtra"
        },
        "EndpointBreakdownLimitExceededSignalExtra": {
          "target": "com.posthog.signals#EndpointBreakdownLimitExceededSignalExtra"
        },
        "SignalsScoutSignalExtra": {
          "target": "com.posthog.signals#SignalsScoutSignalExtra"
        },
        "LogsAlertStateChangeSignalExtra": {
          "target": "com.posthog.signals#LogsAlertStateChangeSignalExtra"
        },
        "ReplayVisionScannerFindingSignalExtra": {
          "target": "com.posthog.signals#ReplayVisionScannerFindingSignalExtra"
        },
        "AnalyticsAnomalyInvestigationSignalExtra": {
          "target": "com.posthog.signals#AnalyticsAnomalyInvestigationSignalExtra"
        },
        "HealthCheckSignalExtra": {
          "target": "com.posthog.signals#HealthCheckSignalExtra"
        },
        "EngineeringAnalyticsCIFlakyCheckSignalExtra": {
          "target": "com.posthog.signals#EngineeringAnalyticsCIFlakyCheckSignalExtra"
        },
        "EngineeringAnalyticsCIBrokenDefaultBranchSignalExtra": {
          "target": "com.posthog.signals#EngineeringAnalyticsCIBrokenDefaultBranchSignalExtra"
        },
        "EngineeringAnalyticsCIDurationRegressionSignalExtra": {
          "target": "com.posthog.signals#EngineeringAnalyticsCIDurationRegressionSignalExtra"
        },
        "FreshdeskTicketSignalExtra": {
          "target": "com.posthog.signals#FreshdeskTicketSignalExtra"
        },
        "FreshserviceTicketSignalExtra": {
          "target": "com.posthog.signals#FreshserviceTicketSignalExtra"
        },
        "FrontConversationSignalExtra": {
          "target": "com.posthog.signals#FrontConversationSignalExtra"
        },
        "GorgiasTicketSignalExtra": {
          "target": "com.posthog.signals#GorgiasTicketSignalExtra"
        },
        "KustomerConversationSignalExtra": {
          "target": "com.posthog.signals#KustomerConversationSignalExtra"
        },
        "DixaConversationSignalExtra": {
          "target": "com.posthog.signals#DixaConversationSignalExtra"
        },
        "PlainThreadSignalExtra": {
          "target": "com.posthog.signals#PlainThreadSignalExtra"
        },
        "GitlabIssueSignalExtra": {
          "target": "com.posthog.signals#GitlabIssueSignalExtra"
        },
        "GiteaIssueSignalExtra": {
          "target": "com.posthog.signals#GiteaIssueSignalExtra"
        },
        "ShortcutStorySignalExtra": {
          "target": "com.posthog.signals#ShortcutStorySignalExtra"
        },
        "SentryIssueSignalExtra": {
          "target": "com.posthog.signals#SentryIssueSignalExtra"
        },
        "RollbarItemSignalExtra": {
          "target": "com.posthog.signals#RollbarItemSignalExtra"
        },
        "BugsnagErrorSignalExtra": {
          "target": "com.posthog.signals#BugsnagErrorSignalExtra"
        },
        "HoneybadgerFaultSignalExtra": {
          "target": "com.posthog.signals#HoneybadgerFaultSignalExtra"
        },
        "RaygunErrorGroupSignalExtra": {
          "target": "com.posthog.signals#RaygunErrorGroupSignalExtra"
        },
        "SnykScannerFindingSignalExtra": {
          "target": "com.posthog.signals#SnykScannerFindingSignalExtra"
        },
        "SonarqubeScannerFindingSignalExtra": {
          "target": "com.posthog.signals#SonarqubeScannerFindingSignalExtra"
        },
        "SemgrepScannerFindingSignalExtra": {
          "target": "com.posthog.signals#SemgrepScannerFindingSignalExtra"
        },
        "Rapid7InsightvmScannerFindingSignalExtra": {
          "target": "com.posthog.signals#Rapid7InsightvmScannerFindingSignalExtra"
        },
[...]
