{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.signals#SignalsProcessingListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PaginatedPauseStateResponseList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer"
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.signals#PaginatedPauseStateResponseListResultsList"
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PauseStateResponse": {
      "type": "structure",
      "members": {
        "paused_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp the pipeline is paused until, or null if not paused/not running.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PaginatedPauseStateResponseListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#PauseStateResponse"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsProcessingList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsProcessingListRequest"
      },
      "output": {
        "target": "com.posthog.signals#PaginatedPauseStateResponseList"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/processing/",
          "code": 200
        },
        "smithy.api#documentation": "Return current processing state including pause status."
      }
    },
    "com.posthog.signals#SignalsProcessingPauseUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pause the grouping pipeline until this timestamp (ISO 8601)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PauseResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always 'paused'."
          }
        },
        "paused_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp the pipeline is paused until."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsProcessingPauseUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsProcessingPauseUpdateRequest"
      },
      "output": {
        "target": "com.posthog.signals#PauseResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/signals/processing/pause/",
          "code": 200
        },
        "smithy.api#documentation": "View and control signal processing pipeline state for a team."
      }
    },
    "com.posthog.signals#SignalsProcessingPauseDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsProcessingPauseDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsProcessingPauseDestroyRequest"
      },
      "output": {
        "target": "com.posthog.signals#PauseResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#Forbidden"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/signals/processing/pause/",
          "code": 200
        },
        "smithy.api#documentation": "View and control signal processing pipeline state for a team."
      }
    },
    "com.posthog.signals#SignalsReportsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "has_implementation_pr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "has_implementation_pr",
            "smithy.api#documentation": "Filter reports by whether a shipped implementation pull request exists. 'true' keeps only reports with a PR; 'false' keeps only those without. Pair with limit=1 to count PR reports cheaply."
          }
        },
        "include_all_statuses": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_all_statuses",
            "smithy.api#documentation": "When true, the list includes reports in every status with no default exclusions applied — currently that adds suppressed (dismissed) reports, which are otherwise hidden. Use it to see the full inbox state (e.g. deduplicating before creating a report) and read each row's status (plus dismissal_reason/dismissal_note on dismissed rows) before acting. Deleted reports are terminal and never returned. Defaults to false, which keeps the existing default exclusions. Ignored when an explicit 'status' filter is set — that filter alone decides which statuses are returned."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "ordering": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ordering",
            "smithy.api#documentation": "Comma-separated ordering clauses. Each clause is a field name optionally prefixed with '-' for descending. Allowed fields: status, is_suggested_reviewer, signal_count, total_weight, priority, created_at, updated_at, id. Defaults to '-is_suggested_reviewer,status,-updated_at'."
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "priority",
            "smithy.api#documentation": "Comma-separated list of priorities to include. Valid values: P0, P1, P2, P3, P4. Reports without a priority assignment are excluded when this filter is set."
          }
        },
        "scout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scout",
            "smithy.api#documentation": "Comma-separated list of scout skill_name slugs (e.g. signals-scout-error-tracking). Reports are kept if at least one of their contributing signals was authored by one of these scouts. Combines with source_product as an AND."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive substring match against report title and summary."
          }
        },
        "source_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "source_product",
            "smithy.api#documentation": "Comma-separated list of source products to include. Reports are kept if at least one of their contributing signals comes from one of these products (e.g. error_tracking, session_replay)."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Comma-separated list of statuses to include. Valid values: potential, candidate, in_progress, pending_input, ready, resolved, failed, suppressed. Defaults to all statuses except suppressed."
          }
        },
        "suggested_reviewers": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "suggested_reviewers",
            "smithy.api#documentation": "Comma-separated list of PostHog user UUIDs. Reports are kept if their suggested reviewers include any of the given users."
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "task_id",
            "smithy.api#documentation": "Only reports associated with this task (via the report's task associations)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#PaginatedSignalReportList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.signals#PaginatedSignalReportListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReport": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.posthog.signals#SignalReportStatusEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signal_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signals_at_run": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "artefact_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "P0–P4 from the latest priority judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "actionability": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Actionability choice from the latest actionability judgment artefact (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "already_addressed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the issue appears already fixed, from the actionability judgment artefact.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Reason code from the latest dismissal artefact, set when the report was suppressed (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "dismissal_note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form note captured alongside the dismissal reason (when present).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_suggested_reviewer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_products": {
          "target": "com.posthog.signals#SignalReportSourceProductsList",
          "traits": {
            "smithy.api#documentation": "Distinct source products contributing signals to this report (from ClickHouse).",
            "smithy.api#required": {}
          }
        },
        "scout_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "skill_name slug of the scout that authored this report, when scout-authored (from ClickHouse); null otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "implementation_pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PR URL from the latest implementation task run, if available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "implementation_pr_merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether that implementation PR is merged, per the GitHub webhook. False when there is no PR or it hasn't merged. Report status doesn't imply this: a resolved report may have been resolved directly, without a merged PR.",
            "smithy.api#required": {}
          }
        },
        "refund": {
          "target": "com.posthog.signals#SignalReportRefund",
          "traits": {
            "smithy.api#documentation": "The report's PR refund, when one exists. One refund per report, ever.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "refund_ineligibility_reason": {
          "target": "com.posthog.signals#RefundIneligibilityReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why refunding this report's PR would be rejected right now, or null when a refund would be accepted (see the field's schema for the reason values).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_exempt_reason": {
          "target": "com.posthog.signals#BillingExemptReasonEnum",
          "traits": {
            "smithy.api#documentation": "Non-null when this report is system-marked never-billable (PostHog-system origin, e.g. a health-check scout finding) — its implementation PRs are free and cannot be refunded because nothing was charged.\n\n* `posthog_health_check` - PostHog health check\n* `posthog_onboarding` - PostHog onboarding\n* `posthog_system` - PostHog system",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportStatusEnum": {
      "type": "enum",
      "members": {
        "POTENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "potential"
          }
        },
        "CANDIDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "candidate"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_progress"
          }
        },
        "PENDING_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_input"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resolved"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "SUPPRESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suppressed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `potential` - Potential\n* `candidate` - Candidate\n* `in_progress` - In Progress\n* `pending_input` - Pending Input\n* `ready` - Ready\n* `resolved` - Resolved\n* `failed` - Failed\n* `deleted` - Deleted\n* `suppressed` - Suppressed"
      }
    },
    "com.posthog.signals#SignalReportSourceProductsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Distinct source products contributing signals to this report (from ClickHouse)."
      }
    },
    "com.posthog.signals#SignalReportRefund": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.posthog.signals#SignalReportRefundReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why the user refunded this PR (feeds the refund review).\n\n* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-form note captured with the refund.",
            "smithy.api#required": {}
          }
        },
        "billing_path": {
          "target": "com.posthog.signals#BillingPathEnum",
          "traits": {
            "smithy.api#documentation": "How the refund was executed, frozen at refund time: 'excluded' (same UTC day as the billable PR run — the report never reaches billing) or 'credited' (billing issues a Stripe customer-balance credit).\n\n* `excluded` - Excluded\n* `credited` - Credited",
            "smithy.api#required": {}
          }
        },
        "credits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Signals credits refunded (flat per-PR charge snapshot; 1 credit = $0.01).",
            "smithy.api#required": {}
          }
        },
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refunded implementation PR's GitHub URL, snapshotted at refund time.",
            "smithy.api#required": {}
          }
        },
        "pr_run_created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the first billable PR run was created — the charge this reverses.",
            "smithy.api#required": {}
          }
        },
        "credit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "USD amount the billing service credited (credited path only). Null until the sync completes; '0.00' is a legitimate outcome (e.g. the PR was inside the free tier).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_synced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the billing service has acknowledged this refund. Always relevant for the credited path (the Stripe credit is issued asynchronously); excluded-path refunds need no billing sync and report false.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the refund was created.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalReportRefundReasonEnum": {
      "type": "enum",
      "members": {
        "PR_INCORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pr_incorrect"
          }
        },
        "PR_NOT_USEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pr_not_useful"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duplicate"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other"
      }
    },
    "com.posthog.signals#BillingPathEnum": {
      "type": "enum",
      "members": {
        "EXCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "excluded"
          }
        },
        "CREDITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credited"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `excluded` - Excluded\n* `credited` - Credited"
      }
    },
    "com.posthog.signals#RefundIneligibilityReasonEnum": {
      "type": "enum",
      "members": {
        "ALREADY_REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "already_refunded"
          }
        },
        "BILLING_EXEMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing_exempt"
          }
        },
        "NO_BILLABLE_PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_billable_pr"
          }
        },
        "OUT_OF_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "out_of_period"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#BillingExemptReasonEnum": {
      "type": "enum",
      "members": {
        "POSTHOG_HEALTH_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_health_check"
          }
        },
        "POSTHOG_ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_onboarding"
          }
        },
        "POSTHOG_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "posthog_system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `posthog_health_check` - PostHog health check\n* `posthog_onboarding` - PostHog onboarding\n* `posthog_system` - PostHog system"
      }
    },
    "com.posthog.signals#PaginatedSignalReportListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalReport"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsReportsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsListRequest"
      },
      "output": {
        "target": "com.posthog.signals#PaginatedSignalReportList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/",
          "code": 200
        }
      }
    },
    "com.posthog.signals#SignalsReportsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReport"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.signals#SignalsReportsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New human-facing title for the report. Omit to leave the title unchanged."
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New summary (the report's description) explaining what the report is about. Omit to leave the summary unchanged."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalsReportsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReport"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Edit a report's title or summary\n\nEdit the human-facing title and/or summary (description) of a signal report, addressed by id. Both fields are optional — supply only the ones you want to change; at least one is required. Every other report field (status, weights, judgments) is managed by the signals pipeline and cannot be set here. Returns the full updated report."
      }
    },
    "com.posthog.signals#SignalsReportsRefundCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        },
        "reason": {
          "target": "com.posthog.signals#SignalReportRefundReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why this PR is being refunded. One of: pr_incorrect (the PR doesn't address what the report promised), pr_not_useful (technically fine but not worth paying for), duplicate (covers work already charged elsewhere), other. Required — refund reviews key on it.\n\n* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-form context for the refund; stored on the refund and echoed in the report's dismissal artefact. Capped at 4000 characters."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#SignalReportRefundResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.posthog.signals#SignalReportRefundReasonEnum",
          "traits": {
            "smithy.api#documentation": "Why the user refunded this PR (feeds the refund review).\n\n* `pr_incorrect` - PR incorrect\n* `pr_not_useful` - PR not useful\n* `duplicate` - Duplicate\n* `other` - Other",
            "smithy.api#required": {}
          }
        },
        "note": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional free-form note captured with the refund.",
            "smithy.api#required": {}
          }
        },
        "billing_path": {
          "target": "com.posthog.signals#BillingPathEnum",
          "traits": {
            "smithy.api#documentation": "How the refund was executed, frozen at refund time: 'excluded' (same UTC day as the billable PR run — the report never reaches billing) or 'credited' (billing issues a Stripe customer-balance credit).\n\n* `excluded` - Excluded\n* `credited` - Credited",
            "smithy.api#required": {}
          }
        },
        "credits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Signals credits refunded (flat per-PR charge snapshot; 1 credit = $0.01).",
            "smithy.api#required": {}
          }
        },
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refunded implementation PR's GitHub URL, snapshotted at refund time.",
            "smithy.api#required": {}
          }
        },
        "pr_run_created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the first billable PR run was created — the charge this reverses.",
            "smithy.api#required": {}
          }
        },
        "credit_amount_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "USD amount the billing service credited (credited path only). Null until the sync completes; '0.00' is a legitimate outcome (e.g. the PR was inside the free tier).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "billing_synced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the billing service has acknowledged this refund. Always relevant for the credited path (the Stripe credit is issued asynchronously); excluded-path refunds need no billing sync and report false.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the refund was created.",
            "smithy.api#required": {}
          }
        },
        "already_refunded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when the report already had a refund and that existing refund is returned unchanged — refunds are one-per-report and repeat calls are idempotent.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsReportsRefundCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.signals#SignalsReportsRefundCreateRequest"
      },
      "output": {
        "target": "com.posthog.signals#SignalReportRefundResponse"
      },
      "errors": [
        {
          "target": "com.posthog.signals#BadRequest"
        },
        {
          "target": "com.posthog.signals#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/signals/reports/{id}/refund/",
          "code": 200
        },
        "smithy.api#documentation": "Refund a report's implementation PR\n\nRefund the flat charge for this report's implementation PR and archive the report. Refunds auto-approve: the charge is either excluded from usage before it is ever reported to billing (refund on the same UTC day as the PR run) or returned as a Stripe customer-balance credit on the next invoice. A refunded PR does not count toward the free monthly PR allowance. One refund per report, ever — repeat calls return the existing refund with already_refunded=true. The report is archived as part of the refund (a resolved report stays resolved) and can't be restored afterwards."
      }
    },
    "com.posthog.signals#SignalsReportsSignalsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this signal report."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.signals#ReportSignalsResponse": {
      "type": "structure",
      "members": {
        "report": {
          "target": "com.posthog.signals#SignalReport",
          "traits": {
            "smithy.api#documentation": "The report these signals were clustered into.",
            "smithy.api#required": {}
          }
        },
        "signals": {
          "target": "com.posthog.signals#ReportSignalsResponseSignalsList",
          "traits": {
            "smithy.api#documentation": "All signals contributing to the report.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response body for GET /api/projects/:id/signals/reports/:id/signals/."
      }
    },
    "com.posthog.signals#SignalNode": {
      "type": "structure",
      "members": {
        "signal_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ClickHouse document id of the signal.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signal's human-readable description.",
            "smithy.api#required": {}
          }
        },
        "source_product": {
          "target": "com.posthog.signals#SignalSourceProduct",
          "traits": {
            "smithy.api#documentation": "Product that emitted the signal.\n\n* `session_replay` - session_replay\n* `llm_analytics` - llm_analytics\n* `github` - github\n* `linear` - linear\n* `jira` - jira\n* `zendesk` - zendesk\n* `conversations` - conversations\n* `error_tracking` - error_tracking\n* `endpoints` - endpoints\n* `pganalyze` - pganalyze\n* `signals_scout` - signals_scout\n* `logs` - logs\n* `health_checks` - health_checks\n* `replay_vision` - replay_vision\n* `analytics` - analytics\n* `freshdesk` - freshdesk\n* `freshservice` - freshservice\n* `front` - front\n* `gorgias` - gorgias\n* `kustomer` - kustomer\n* `dixa` - dixa\n* `plain` - plain\n* `gitlab` - gitlab\n* `gitea` - gitea\n* `shortcut` - shortcut\n* `sentry` - sentry\n* `rollbar` - rollbar\n* `bugsnag` - bugsnag\n* `honeybadger` - honeybadger\n* `raygun` - raygun\n* `snyk` - snyk\n* `sonarqube` - sonarqube\n* `semgrep` - semgrep\n* `rapid7_insightvm` - rapid7_insightvm\n* `featurebase` - featurebase\n* `frill` - frill\n* `aha` - aha\n* `uservoice` - uservoice\n* `productboard` - productboard\n* `canny` - canny\n* `asknicely` - asknicely\n* `retently` - retently\n* `appfigures` - appfigures\n* `appfollow` - appfollow\n* `judgeme_reviews` - judgeme_reviews\n* `intercom` - intercom\n* `hubspot` - hubspot\n* `engineering_analytics` - engineering_analytics",
            "smithy.api#required": {}
          }
        },
        "source_type": {
          "target": "com.posthog.signals#SignalSourceType",
          "traits": {
            "smithy.api#documentation": "Signal type within the source product.\n\n* `session_analysis_cluster` - session_analysis_cluster\n* `session_problem` - session_problem\n* `evaluation` - evaluation\n* `evaluation_report` - evaluation_report\n* `issue` - issue\n* `ticket` - ticket\n* `issue_created` - issue_created\n* `issue_reopened` - issue_reopened\n* `issue_spiking` - issue_spiking\n* `endpoint_execution_failed` - endpoint_execution_failed\n* `endpoint_breakdown_limit_exceeded` - endpoint_breakdown_limit_exceeded\n* `cross_source_issue` - cross_source_issue\n* `alert_state_change` - alert_state_change\n* `health_issue` - health_issue\n* `scanner_finding` - scanner_finding\n* `anomaly_investigation` - anomaly_investigation\n* `feedback` - feedback\n* `review` - review\n* `ci_flaky_check` - ci_flaky_check\n* `ci_broken_default_branch` - ci_broken_default_branch\n* `ci_duration_regression` - ci_duration_regression",
            "smithy.api#required": {}
          }
        },
        "source_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Emitter-scoped id of the underlying object (issue, ticket, ...).",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Signal weight in [0, 1]; drives report ranking.",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Emission timestamp.",
            "smithy.api#required": {}
          }
        },
        "extra": {
          "target": "com.posthog.signals#SignalExtra",
          "traits": {
            "smithy.api#documentation": "Product-specific payload; shape depends on (source_product, source_type).",
            "smithy.api#required": {}
          }
        },
        "match_metadata": {
          "target": "com.posthog.signals#SignalMatchMetadata",
          "traits": {
            "smithy.api#documentation": "Clustering match/no-match metadata, when present.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalSourceProduct": {
      "type": "enum",
      "members": {
        "SESSION_REPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session_replay"
          }
        },
        "LLM_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llm_analytics"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "JIRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jira"
          }
        },
        "ZENDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zendesk"
          }
        },
        "CONVERSATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conversations"
          }
        },
        "ERROR_TRACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error_tracking"
          }
        },
        "ENDPOINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endpoints"
          }
        },
        "PGANALYZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pganalyze"
          }
        },
        "SIGNALS_SCOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "signals_scout"
          }
        },
        "LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logs"
          }
        },
        "HEALTH_CHECKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health_checks"
          }
        },
        "REPLAY_VISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "replay_vision"
          }
        },
        "ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "analytics"
          }
        },
        "FRESHDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "freshdesk"
          }
        },
        "FRESHSERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "freshservice"
          }
        },
        "FRONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "front"
          }
        },
        "GORGIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gorgias"
          }
        },
        "KUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kustomer"
          }
        },
        "DIXA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dixa"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "GITEA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitea"
          }
        },
        "SHORTCUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shortcut"
          }
        },
        "SENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sentry"
          }
        },
        "ROLLBAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rollbar"
          }
        },
        "BUGSNAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bugsnag"
          }
        },
        "HONEYBADGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "honeybadger"
          }
        },
        "RAYGUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "raygun"
          }
        },
        "SNYK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snyk"
          }
        },
        "SONARQUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sonarqube"
          }
        },
        "SEMGREP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "semgrep"
          }
        },
        "RAPID7_INSIGHTVM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rapid7_insightvm"
          }
        },
        "FEATUREBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "featurebase"
          }
        },
        "FRILL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "frill"
          }
        },
        "AHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aha"
          }
        },
        "USERVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uservoice"
          }
        },
        "PRODUCTBOARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "productboard"
          }
        },
        "CANNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canny"
          }
        },
        "ASKNICELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asknicely"
          }
        },
        "RETENTLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retently"
          }
        },
        "APPFIGURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appfigures"
          }
        },
        "APPFOLLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "appfollow"
          }
        },
        "JUDGEME_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "judgeme_reviews"
          }
        },
        "INTERCOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "intercom"
          }
        },
        "HUBSPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hubspot"
          }
        },
        "ENGINEERING_ANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering_analytics"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `session_replay` - session_replay\n* `llm_analytics` - llm_analytics\n* `github` - github\n* `linear` - linear\n* `jira` - jira\n* `zendesk` - zendesk\n* `conversations` - conversations\n* `error_tracking` - error_tracking\n* `endpoints` - endpoints\n* `pganalyze` - pganalyze\n* `signals_scout` - signals_scout\n* `logs` - logs\n* `health_checks` - health_checks\n* `replay_vision` - replay_vision\n* `analytics` - analytics\n* `freshdesk` - freshdesk\n* `freshservice` - freshservice\n* `front` - front\n* `gorgias` - gorgias\n* `kustomer` - kustomer\n* `dixa` - dixa\n* `plain` - plain\n* `gitlab` - gitlab\n* `gitea` - gitea\n* `shortcut` - shortcut\n* `sentry` - sentry\n* `rollbar` - rollbar\n* `bugsnag` - bugsnag\n* `honeybadger` - honeybadger\n* `raygun` - raygun\n* `snyk` - snyk\n* `sonarqube` - sonarqube\n* `semgrep` - semgrep\n* `rapid7_insightvm` - rapid7_insightvm\n* `featurebase` - featurebase\n* `frill` - frill\n* `aha` - aha\n* `uservoice` - uservoice\n* `productboard` - productboard\n* `canny` - canny\n* `asknicely` - asknicely\n* `retently` - retently\n* `appfigures` - appfigures\n* `appfollow` - appfollow\n* `judgeme_reviews` - judgeme_reviews\n* `intercom` - intercom\n* `hubspot` - hubspot\n* `engineering_analytics` - engineering_analytics"
      }
    },
    "com.posthog.signals#SignalSourceType": {
      "type": "enum",
      "members": {
        "SESSION_ANALYSIS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session_analysis_cluster"
          }
        },
        "SESSION_PROBLEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "session_problem"
          }
        },
        "EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "evaluation"
          }
        },
        "EVALUATION_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "evaluation_report"
          }
        },
        "ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issue"
          }
        },
        "TICKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ticket"
          }
        },
        "ISSUE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issue_created"
          }
        },
        "ISSUE_REOPENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issue_reopened"
          }
        },
        "ISSUE_SPIKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "issue_spiking"
          }
        },
        "ENDPOINT_EXECUTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endpoint_execution_failed"
          }
        },
        "ENDPOINT_BREAKDOWN_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endpoint_breakdown_limit_exceeded"
          }
        },
        "CROSS_SOURCE_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cross_source_issue"
          }
        },
        "ALERT_STATE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert_state_change"
          }
        },
        "HEALTH_ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health_issue"
          }
        },
        "SCANNER_FINDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scanner_finding"
          }
        },
        "ANOMALY_INVESTIGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "anomaly_investigation"
          }
        },
        "FEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feedback"
          }
        },
        "REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "review"
          }
        },
        "CI_FLAKY_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci_flaky_check"
          }
        },
        "CI_BROKEN_DEFAULT_BRANCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci_broken_default_branch"
          }
        },
        "CI_DURATION_REGRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ci_duration_regression"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `session_analysis_cluster` - session_analysis_cluster\n* `session_problem` - session_problem\n* `evaluation` - evaluation\n* `evaluation_report` - evaluation_report\n* `issue` - issue\n* `ticket` - ticket\n* `issue_created` - issue_created\n* `issue_reopened` - issue_reopened\n* `issue_spiking` - issue_spiking\n* `endpoint_execution_failed` - endpoint_execution_failed\n* `endpoint_breakdown_limit_exceeded` - endpoint_breakdown_limit_exceeded\n* `cross_source_issue` - cross_source_issue\n* `alert_state_change` - alert_state_change\n* `health_issue` - health_issue\n* `scanner_finding` - scanner_finding\n* `anomaly_investigation` - anomaly_investigation\n* `feedback` - feedback\n* `review` - review\n* `ci_flaky_check` - ci_flaky_check\n* `ci_broken_default_branch` - ci_broken_default_branch\n* `ci_duration_regression` - ci_duration_regression"
      }
    },
    "com.posthog.signals#SignalExtra": {
      "type": "union",
      "members": {
        "SessionProblemSignalExtra": {
          "target": "com.posthog.signals#SessionProblemSignalExtra"
        },
        "LlmEvalSignalExtra": {
          "target": "com.posthog.signals#LlmEvalSignalExtra"
        },
        "LlmEvalReportSignalExtra": {
          "target": "com.posthog.signals#LlmEvalReportSignalExtra"
        },
        "ZendeskTicketSignalExtra": {
          "target": "com.posthog.signals#ZendeskTicketSignalExtra"
        },
        "GithubIssueSignalExtra": {
          "target": "com.posthog.signals#GithubIssueSignalExtra"
        },
        "LinearIssueSignalExtra": {
          "target": "com.posthog.signals#LinearIssueSignalExtra"
        },
        "JiraIssueSignalExtra": {
          "target": "com.posthog.signals#JiraIssueSignalExtra"
        },
        "ConversationsTicketSignalExtra": {
          "target": "com.posthog.signals#ConversationsTicketSignalExtra"
        },
        "ErrorTrackingSignalExtra": {
          "target": "com.posthog.signals#ErrorTrackingSignalExtra"
        },
        "PgAnalyzeIssueSignalExtra": {
          "target": "com.posthog.signals#PgAnalyzeIssueSignalExtra"
        },
        "EndpointExecutionFailedSignalExtra": {
          "target": "com.posthog.signals#EndpointExecutionFailedSignalExtra"
        },
        "EndpointBreakdownLimitExceededSignalExtra": {
          "target": "com.posthog.signals#EndpointBreakdownLimitExceededSignalExtra"
        },
        "SignalsScoutSignalExtra": {
          "target": "com.posthog.signals#SignalsScoutSignalExtra"
        },
        "LogsAlertStateChangeSignalExtra": {
          "target": "com.posthog.signals#LogsAlertStateChangeSignalExtra"
        },
        "ReplayVisionScannerFindingSignalExtra": {
          "target": "com.posthog.signals#ReplayVisionScannerFindingSignalExtra"
        },
        "AnalyticsAnomalyInvestigationSignalExtra": {
          "target": "com.posthog.signals#AnalyticsAnomalyInvestigationSignalExtra"
        },
        "HealthCheckSignalExtra": {
          "target": "com.posthog.signals#HealthCheckSignalExtra"
        },
        "EngineeringAnalyticsCIFlakyCheckSignalExtra": {
          "target": "com.posthog.signals#EngineeringAnalyticsCIFlakyCheckSignalExtra"
        },
        "EngineeringAnalyticsCIBrokenDefaultBranchSignalExtra": {
          "target": "com.posthog.signals#EngineeringAnalyticsCIBrokenDefaultBranchSignalExtra"
        },
        "EngineeringAnalyticsCIDurationRegressionSignalExtra": {
          "target": "com.posthog.signals#EngineeringAnalyticsCIDurationRegressionSignalExtra"
        },
        "FreshdeskTicketSignalExtra": {
          "target": "com.posthog.signals#FreshdeskTicketSignalExtra"
        },
        "FreshserviceTicketSignalExtra": {
          "target": "com.posthog.signals#FreshserviceTicketSignalExtra"
        },
        "FrontConversationSignalExtra": {
          "target": "com.posthog.signals#FrontConversationSignalExtra"
        },
        "GorgiasTicketSignalExtra": {
          "target": "com.posthog.signals#GorgiasTicketSignalExtra"
        },
        "KustomerConversationSignalExtra": {
          "target": "com.posthog.signals#KustomerConversationSignalExtra"
        },
        "DixaConversationSignalExtra": {
          "target": "com.posthog.signals#DixaConversationSignalExtra"
        },
        "PlainThreadSignalExtra": {
          "target": "com.posthog.signals#PlainThreadSignalExtra"
        },
        "GitlabIssueSignalExtra": {
          "target": "com.posthog.signals#GitlabIssueSignalExtra"
        },
        "GiteaIssueSignalExtra": {
          "target": "com.posthog.signals#GiteaIssueSignalExtra"
        },
        "ShortcutStorySignalExtra": {
          "target": "com.posthog.signals#ShortcutStorySignalExtra"
        },
        "SentryIssueSignalExtra": {
          "target": "com.posthog.signals#SentryIssueSignalExtra"
        },
        "RollbarItemSignalExtra": {
          "target": "com.posthog.signals#RollbarItemSignalExtra"
        },
        "BugsnagErrorSignalExtra": {
          "target": "com.posthog.signals#BugsnagErrorSignalExtra"
        },
        "HoneybadgerFaultSignalExtra": {
          "target": "com.posthog.signals#HoneybadgerFaultSignalExtra"
        },
        "RaygunErrorGroupSignalExtra": {
          "target": "com.posthog.signals#RaygunErrorGroupSignalExtra"
        },
        "SnykScannerFindingSignalExtra": {
          "target": "com.posthog.signals#SnykScannerFindingSignalExtra"
        },
        "SonarqubeScannerFindingSignalExtra": {
          "target": "com.posthog.signals#SonarqubeScannerFindingSignalExtra"
        },
        "SemgrepScannerFindingSignalExtra": {
          "target": "com.posthog.signals#SemgrepScannerFindingSignalExtra"
        },
        "Rapid7InsightvmScannerFindingSignalExtra": {
          "target": "com.posthog.signals#Rapid7InsightvmScannerFindingSignalExtra"
        },
        "FeaturebaseFeedbackSignalExtra": {
          "target": "com.posthog.signals#FeaturebaseFeedbackSignalExtra"
        },
        "FrillFeedbackSignalExtra": {
          "target": "com.posthog.signals#FrillFeedbackSignalExtra"
        },
        "AhaFeedbackSignalExtra": {
          "target": "com.posthog.signals#AhaFeedbackSignalExtra"
        },
        "UservoiceFeedbackSignalExtra": {
          "target": "com.posthog.signals#UservoiceFeedbackSignalExtra"
        },
        "ProductboardFeedbackSignalExtra": {
          "target": "com.posthog.signals#ProductboardFeedbackSignalExtra"
        },
        "CannyFeedbackSignalExtra": {
          "target": "com.posthog.signals#CannyFeedbackSignalExtra"
        },
        "AsknicelyFeedbackSignalExtra": {
          "target": "com.posthog.signals#AsknicelyFeedbackSignalExtra"
        },
        "RetentlyFeedbackSignalExtra": {
          "target": "com.posthog.signals#RetentlyFeedbackSignalExtra"
        },
        "AppfiguresReviewSignalExtra": {
          "target": "com.posthog.signals#AppfiguresReviewSignalExtra"
        },
        "AppfollowReviewSignalExtra": {
          "target": "com.posthog.signals#AppfollowReviewSignalExtra"
        },
        "JudgemeReviewsReviewSignalExtra": {
          "target": "com.posthog.signals#JudgemeReviewsReviewSignalExtra"
        },
        "IntercomTicketSignalExtra": {
          "target": "com.posthog.signals#IntercomTicketSignalExtra"
        },
        "HubspotTicketSignalExtra": {
          "target": "com.posthog.signals#HubspotTicketSignalExtra"
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SessionProblemSignalExtra": {
      "type": "structure",
      "members": {
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "segment_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "end_time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "problem_type": {
          "target": "com.posthog.signals#ProblemTypeEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "session_start_time": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "session_end_time": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "session_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "session_active_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "exported_asset_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_history": {
          "target": "com.posthog.signals#SessionProblemSignalExtraEventHistoryList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#ProblemTypeEnum": {
      "type": "enum",
      "members": {
        "CONFUSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "confusion"
          }
        },
        "ABANDONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "abandonment"
          }
        },
        "BLOCKING_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blocking_exception"
          }
        },
        "NON_BLOCKING_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "non_blocking_exception"
          }
        },
        "FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failure"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SessionProblemEventEntry": {
      "type": "structure",
      "members": {
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "current_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "interaction_text": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SessionProblemSignalExtraEventHistoryList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SessionProblemEventEntry"
      },
      "traits": {}
    },
    "com.posthog.signals#LlmEvalSignalExtra": {
      "type": "structure",
      "members": {
        "evaluation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "target_event_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "target_event_type": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#LlmEvalReportSignalExtra": {
      "type": "structure",
      "members": {
        "evaluation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "evaluation_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "evaluation_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "report_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "report_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "period_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "period_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#ZendeskTicketSignalExtra": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.signals#ZendeskTicketSignalExtraTagsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#ZendeskTicketSignalExtraTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.signals#GithubIssueSignalExtra": {
      "type": "structure",
      "members": {
        "html_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.posthog.signals#GithubIssueSignalExtraLabelsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#GithubIssueSignalExtraLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.signals#LinearIssueSignalExtra": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "priority_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "labels": {
          "target": "com.posthog.signals#LinearIssueSignalExtraLabelsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "state_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#LinearIssueSignalExtraLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.signals#JiraIssueSignalExtra": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "assignee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "labels": {
          "target": "com.posthog.signals#JiraIssueSignalExtraLabelsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#JiraIssueSignalExtraLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.signals#ConversationsTicketSignalExtra": {
      "type": "structure",
      "members": {
        "ticket_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "channel_source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "channel_detail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email_subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#ErrorTrackingSignalExtra": {
      "type": "structure",
      "members": {
        "fingerprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PgAnalyzeIssueSignalExtra": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "references": {
          "target": "com.posthog.signals#PgAnalyzeIssueSignalExtraReferencesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "database_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "server_human_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "server_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "synced_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PgAnalyzeIssueReference": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "queryText": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#PgAnalyzeIssueSignalExtraReferencesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#PgAnalyzeIssueReference"
      },
      "traits": {}
    },
    "com.posthog.signals#EndpointExecutionFailedSignalExtra": {
      "type": "structure",
      "members": {
        "endpoint_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoint_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "materialized": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "saved_query_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_class": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#EndpointBreakdownLimitExceededSignalExtra": {
      "type": "structure",
      "members": {
        "endpoint_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "breakdown_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsScoutSignalExtra": {
      "type": "structure",
      "members": {
        "scout_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task_run_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "finding_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skill_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "skill_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "com.posthog.signals#ReportPriority",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hypothesis": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "evidence": {
          "target": "com.posthog.signals#SignalsScoutSignalExtraEvidenceList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dedupe_keys": {
          "target": "com.posthog.signals#SignalsScoutSignalExtraDedupeKeysList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "tags": {
          "target": "com.posthog.signals#SignalsScoutSignalExtraTagsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "time_range": {
          "target": "com.posthog.signals#SignalsScoutTimeRange",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "mcp_trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#ReportPriority": {
      "type": "enum",
      "members": {
        "P0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P0"
          }
        },
        "P1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P1"
          }
        },
        "P2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P2"
          }
        },
        "P3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P3"
          }
        },
        "P4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "P4"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsScoutEvidenceEntry": {
      "type": "structure",
      "members": {
        "source_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "entity_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsScoutSignalExtraEvidenceList": {
      "type": "list",
      "member": {
        "target": "com.posthog.signals#SignalsScoutEvidenceEntry"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsScoutSignalExtraDedupeKeysList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsScoutSignalExtraTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.signals#SignalsScoutTimeRange": {
      "type": "structure",
      "members": {
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#LogsAlertStateChangeSignalExtra": {
      "type": "structure",
      "members": {
        "alert_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alert_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.posthog.signals#LogsAlertStateChangeSignalExtraActionEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "threshold_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "threshold_operator": {
          "target": "com.posthog.signals#LogsAlertStateChangeSignalExtraThresholdOperatorEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "result_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.posthog.signals#LogsAlertStateChangeSignalExtraFiltersMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#LogsAlertStateChangeSignalExtraActionEnum": {
      "type": "enum",
      "members": {
        "FIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firing"
          }
        },
        "BROKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "broken"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#LogsAlertStateChangeSignalExtraThresholdOperatorEnum": {
      "type": "enum",
      "members": {
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "above"
          }
        },
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "below"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#LogsAlertStateChangeSignalExtraFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.signals#ReplayVisionScannerFindingSignalExtra": {
      "type": "structure",
      "members": {
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scanner_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scanner_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "observation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "problem_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_time": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "end_time": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "exported_asset_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "recording_start_time": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "recording_end_time": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "recording_duration": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "recording_active_seconds": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#AnalyticsAnomalyInvestigationSignalExtra": {
      "type": "structure",
      "members": {
        "alert_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alert_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "alert_check_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "insight_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "detector_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "verdict": {
          "target": "com.posthog.signals#InvestigationVerdictEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "insight_name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "insight_short_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "triggered_dates": {
          "target": "com.posthog.signals#AnalyticsAnomalyInvestigationSignalExtraTriggeredDatesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "notebook_short_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#InvestigationVerdictEnum": {
      "type": "enum",
      "members": {
        "TRUE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "true_positive"
          }
        },
        "FALSE_POSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "false_positive"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `true_positive` - true_positive\n* `false_positive` - false_positive\n* `inconclusive` - inconclusive"
      }
    },
    "com.posthog.signals#AnalyticsAnomalyInvestigationSignalExtraTriggeredDatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.posthog.signals#HealthCheckSignalExtra": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "com.posthog.signals#HealthCheckSignalExtraSeverityEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "issue_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "link": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "com.posthog.signals#HealthCheckSignalExtraPayloadMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#HealthCheckSignalExtraSeverityEnum": {
      "type": "enum",
      "members": {
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "info"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.signals#HealthCheckSignalExtraPayloadMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.signals#EngineeringAnalyticsCIFlakyCheckSignalExtra": {
      "type": "structure",
      "members": {
        "repo_owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "workflow_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "job_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "run_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failed_attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "passed_attempt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "flaky_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One immutable flaky observation: failed then passed on a later attempt of the same run,\nso only non-determinism can explain the flip."
      }
    },
    "com.posthog.signals#EngineeringAnalyticsCIBrokenDefaultBranchSignalExtra": {
      "type": "structure",
      "members": {
        "repo_owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repo_name": {
          "target": "smithy.api#String",
          "traits": {
[...]
