{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.stamphog#StamphogDigestRunsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "slack_channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slack_channel_id",
            "smithy.api#documentation": "Filter by the Slack channel the digest was posted to, e.g. 'C012AB3CD'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#PaginatedDigestRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.stamphog#PaginatedDigestRunListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#DigestRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "audience_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest bucket this run drained, e.g. a team slug or 'repo:PostHog/posthog'.",
            "smithy.api#required": {}
          }
        },
        "slack_channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel this digest was posted to, e.g. 'C012AB3CD'.",
            "smithy.api#required": {}
          }
        },
        "slack_channel_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of that channel, for display.",
            "smithy.api#required": {}
          }
        },
        "resolution_source": {
          "target": "com.posthog.stamphog#ResolutionSourceEnum",
          "traits": {
            "smithy.api#documentation": "Why the digest went to this channel: 'slack_name_match' (no declaration anywhere, so the audience_key matched a same-named Slack channel), 'stamphog_config' (the channel the repo declared under 'digest:' in .stamphog/policy.yml), 'owners_contact' (a teams: entry in a root owners.yaml named it), or 'manual' (no longer produced).\n\n* `manual` - MANUAL\n* `slack_name_match` - SLACK_NAME_MATCH\n* `stamphog_config` - STAMPHOG_CONFIG\n* `owners_contact` - OWNERS_CONTACT",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.stamphog#DigestRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current state of the digest run (pending, completed, failed).\n\n* `pending` - PENDING\n* `completed` - COMPLETED\n* `failed` - FAILED",
            "smithy.api#required": {}
          }
        },
        "pr_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of merged PRs included in the posted digest.",
            "smithy.api#required": {}
          }
        },
        "slack_message_ts": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack message timestamp of the posted digest, if posted.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if the run failed, blank otherwise.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the digest run was created.",
            "smithy.api#required": {}
          }
        },
        "posted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the digest was posted to Slack, if it was.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#ResolutionSourceEnum": {
      "type": "enum",
      "members": {
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "SLACK_NAME_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack_name_match"
          }
        },
        "STAMPHOG_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stamphog_config"
          }
        },
        "OWNERS_CONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owners_contact"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `manual` - MANUAL\n* `slack_name_match` - SLACK_NAME_MATCH\n* `stamphog_config` - STAMPHOG_CONFIG\n* `owners_contact` - OWNERS_CONTACT"
      }
    },
    "com.posthog.stamphog#DigestRunStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pending` - PENDING\n* `completed` - COMPLETED\n* `failed` - FAILED"
      }
    },
    "com.posthog.stamphog#PaginatedDigestRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#DigestRun"
      },
      "traits": {}
    },
    "com.posthog.stamphog#StamphogDigestRunsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogDigestRunsListRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#PaginatedDigestRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/digest_runs/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only history of posted (or attempted) digests, filterable by Slack channel."
      }
    },
    "com.posthog.stamphog#StamphogDigestRunsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogDigestRunsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogDigestRunsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#DigestRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/digest_runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only history of posted (or attempted) digests, filterable by Slack channel."
      }
    },
    "com.posthog.stamphog#StamphogPullRequestsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "merged",
            "smithy.api#documentation": "Filter by merge state: true for merged pull requests, false for unmerged."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#documentation": "Filter by pull request number."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#PaginatedStamphogPullRequestList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.stamphog#PaginatedStamphogPullRequestListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#StamphogPullRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the repository this pull request belongs to.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number on GitHub.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request title, refreshed on every relevant webhook delivery.",
            "smithy.api#required": {}
          }
        },
        "author_login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub login of the pull request author.",
            "smithy.api#required": {}
          }
        },
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full URL to the pull request on GitHub.",
            "smithy.api#required": {}
          }
        },
        "head_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Branch name of the PR head.",
            "smithy.api#required": {}
          }
        },
        "merged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this pull request has merged (merged_at is set).",
            "smithy.api#required": {}
          }
        },
        "merged_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the pull request merged, null if it hasn't.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "merge_commit_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Merge commit SHA, blank until the pull request merges.",
            "smithy.api#required": {}
          }
        },
        "additions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lines added, recorded when the pull request merges.",
            "smithy.api#required": {}
          }
        },
        "deletions": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lines deleted, recorded when the pull request merges.",
            "smithy.api#required": {}
          }
        },
        "changed_files": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Files changed, recorded when the pull request merges.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this pull request was first captured.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this pull request was last updated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#PaginatedStamphogPullRequestListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#StamphogPullRequest"
      },
      "traits": {}
    },
    "com.posthog.stamphog#StamphogPullRequestsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogPullRequestsListRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#PaginatedStamphogPullRequestList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/pull_requests/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only pull requests stamphog knows about, filterable by PR number and merge state."
      }
    },
    "com.posthog.stamphog#StamphogPullRequestsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogPullRequestsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogPullRequestsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogPullRequest"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/pull_requests/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only pull requests stamphog knows about, filterable by PR number and merge state."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#PaginatedStamphogRepoConfigList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.stamphog#PaginatedStamphogRepoConfigListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#StamphogRepoConfig": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SCM provider this config talks to. Defaults to 'github'."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether stamphog actively reviews pull requests for this repo.",
            "smithy.api#required": {}
          }
        },
        "installation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider app installation ID that authorizes API calls for this repo. Set only by the verified sync_installation flow; ignored on direct writes.",
            "smithy.api#required": {}
          }
        },
        "digest_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether merged PRs on this repo are captured for the daily Slack digest. Requires 'enabled', since the digest reports what stamphog approved."
          }
        },
        "review_mode": {
          "target": "com.posthog.stamphog#ReviewModeEnum",
          "traits": {
            "smithy.api#documentation": "When reviews run: 'all' reviews every pull request (the default); 'label' reviews only pull requests carrying the trigger label, mirroring the Action's opt-in flow.\n\n* `all` - all\n* `label` - label",
            "smithy.api#required": {}
          }
        },
        "trigger_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request label that triggers a review when review_mode is 'label'. Defaults to 'stamphog'."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#ReviewModeEnum": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `all` - all\n* `label` - label"
      }
    },
    "com.posthog.stamphog#PaginatedStamphogRepoConfigListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {}
    },
    "com.posthog.stamphog#StamphogRepoConfigsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsListRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#PaginatedStamphogRepoConfigList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SCM provider this config talks to. Defaults to 'github'."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether stamphog actively reviews pull requests for this repo."
          }
        },
        "digest_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether merged PRs on this repo are captured for the daily Slack digest."
          }
        },
        "review_mode": {
          "target": "com.posthog.stamphog#ReviewModeEnum",
          "traits": {
            "smithy.api#documentation": "When reviews run: 'all' reviews every pull request (the default); 'label' reviews only pull requests carrying the trigger label, mirroring the Action's opt-in flow.\n\n* `all` - all\n* `label` - label"
          }
        },
        "trigger_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request label that triggers a review when review_mode is 'label'. Defaults to 'stamphog'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsCreateRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SCM provider this config talks to. Defaults to 'github'."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether stamphog actively reviews pull requests for this repo."
          }
        },
        "digest_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether merged PRs on this repo are captured for the daily Slack digest."
          }
        },
        "review_mode": {
          "target": "com.posthog.stamphog#ReviewModeEnum",
          "traits": {
            "smithy.api#documentation": "When reviews run: 'all' reviews every pull request (the default); 'label' reviews only pull requests carrying the trigger label, mirroring the Action's opt-in flow.\n\n* `all` - all\n* `label` - label"
          }
        },
        "trigger_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request label that triggers a review when review_mode is 'label'. Defaults to 'stamphog'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsUpdateRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SCM provider this config talks to. Defaults to 'github'."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repository full name, e.g. 'PostHog/posthog'."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether stamphog actively reviews pull requests for this repo."
          }
        },
        "digest_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether merged PRs on this repo are captured for the daily Slack digest."
          }
        },
        "review_mode": {
          "target": "com.posthog.stamphog#ReviewModeEnum",
          "traits": {
            "smithy.api#documentation": "When reviews run: 'all' reviews every pull request (the default); 'label' reviews only pull requests carrying the trigger label, mirroring the Action's opt-in flow.\n\n* `all` - all\n* `label` - label"
          }
        },
        "trigger_label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request label that triggers a review when review_mode is 'label'. Defaults to 'stamphog'."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsInstallInfoRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogInstallInfo": {
      "type": "structure",
      "members": {
        "app_slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly slug of the dedicated Stamphog GitHub App, or blank if unconfigured.",
            "smithy.api#required": {}
          }
        },
        "install_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub install URL (github.com/apps/<slug>/installations/new) the user opens to install the App, or blank if the App slug is unconfigured. Used for the genuinely-not-installed case; the primary 'Connect' button uses authorize_url instead.",
            "smithy.api#required": {}
          }
        },
        "authorize_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub authorize URL (github.com/login/oauth/authorize) the 'Connect' button opens. Authorize-first: an already-installed user is redirected straight back with an OAuth code (no installation_id), and sync_installation then discovers their installations server-side. Blank if the App client id is unconfigured.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Static info the frontend needs to render the 'Connect a repository' button."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsInstallInfoRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsInstallInfoRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogInstallInfo"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/install_info/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsSyncInstallationCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "installation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub App installation ID from the fresh-install Setup URL redirect. Optional: absent or blank means discover the caller's installations from the OAuth code instead (authorize-first flow). The id is not trusted on its own — ownership is always proven via the code."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub user-to-server OAuth code from the post-install redirect (present when the App has 'Request user authorization during installation' enabled). Exchanged server-side to prove the caller owns the installation before its repos are bound.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Signed state token minted by install_info and round-tripped through GitHub's install redirect. Binds the callback to the team and user that started the flow, so a stolen installation_id + code can't be replayed against another team's session.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogSyncInstallationResponse": {
      "type": "structure",
      "members": {
        "synced": {
          "target": "com.posthog.stamphog#StamphogSyncInstallationResponseSyncedList",
          "traits": {
            "smithy.api#documentation": "Repo configs now bound to this team for the installation (created this call or already present).",
            "smithy.api#required": {}
          }
        },
        "skipped": {
          "target": "com.posthog.stamphog#StamphogSyncInstallationResponseSkippedList",
          "traits": {
            "smithy.api#documentation": "Repository full names skipped because another team already owns them under this installation.",
            "smithy.api#required": {}
          }
        },
        "app_not_installed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True only on the discovery path (no installation_id) when the caller can reach no installation of this App — it isn't installed anywhere they can see. The frontend should route the user to the GitHub install page (install_url). Always false on the explicit installation_id path.",
            "smithy.api#required": {}
          }
        },
        "installations": {
          "target": "com.posthog.stamphog#StamphogSyncInstallationResponseInstallationsList",
          "traits": {
            "smithy.api#documentation": "Populated only on the discovery path when the caller can reach MORE than one installation of this App: nothing was bound, and the user must pick which installation to connect. The frontend re-runs the authorize flow and calls back with the chosen installation_id, which the explicit path verifies. Empty whenever a bind happened (or nothing was found).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result of syncing an installation: rows created/kept for this team, plus conflicting repos skipped."
      }
    },
    "com.posthog.stamphog#StamphogSyncInstallationResponseSyncedList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#StamphogRepoConfig"
      },
      "traits": {
        "smithy.api#documentation": "Repo configs now bound to this team for the installation (created this call or already present)."
      }
    },
    "com.posthog.stamphog#StamphogSyncInstallationResponseSkippedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Repository full names skipped because another team already owns them under this installation."
      }
    },
    "com.posthog.stamphog#StamphogDiscoveredInstallation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub installation id, as a string.",
            "smithy.api#required": {}
          }
        },
        "account_login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Login of the org or user account the installation lives on.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One installation of the App the authorizing user can reach, offered for an explicit pick."
      }
    },
    "com.posthog.stamphog#StamphogSyncInstallationResponseInstallationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#StamphogDiscoveredInstallation"
      },
      "traits": {
        "smithy.api#documentation": "Populated only on the discovery path when the caller can reach MORE than one installation of this App: nothing was bound, and the user must pick which installation to connect. The frontend re-runs the authorize flow and calls back with the chosen installation_id, which the explicit path verifies. Empty whenever a bind happened (or nothing was found)."
      }
    },
    "com.posthog.stamphog#StamphogRepoConfigsSyncInstallationCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogRepoConfigsSyncInstallationCreateRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#StamphogSyncInstallationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/stamphog/repo_configs/sync_installation/",
          "code": 200
        },
        "smithy.api#documentation": "Per-repo stamphog settings — enable/disable review, GitHub App installation, policy overrides."
      }
    },
    "com.posthog.stamphog#StamphogReviewRunsListRequestTrigger": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        },
        "SELF_DRIVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self_driving"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#StamphogReviewRunsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "pr_number",
            "smithy.api#documentation": "Filter by pull request number."
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repository",
            "smithy.api#documentation": "Filter by repository full name, e.g. 'PostHog/posthog'."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by review run status."
          }
        },
        "trigger": {
          "target": "com.posthog.stamphog#StamphogReviewRunsListRequestTrigger",
          "traits": {
            "smithy.api#httpQuery": "trigger",
            "smithy.api#documentation": "Filter by what caused the run: self_driving, label, or all."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#PaginatedReviewRunList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.stamphog#PaginatedReviewRunListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#ReviewRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pull_request": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the pull request this review run belongs to.",
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full name of the repository this review run belongs to.",
            "smithy.api#required": {}
          }
        },
        "pr_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pull request number on GitHub.",
            "smithy.api#required": {}
          }
        },
        "pr_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Full URL to the pull request on GitHub.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pull request title as of the last webhook delivery applied.",
            "smithy.api#required": {}
          }
        },
        "author_login": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub login of the pull request author.",
            "smithy.api#required": {}
          }
        },
        "head_sha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Commit SHA of the PR head at the time this run started.",
            "smithy.api#required": {}
          }
        },
        "head_branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Branch name of the PR head.",
            "smithy.api#required": {}
          }
        },
        "delivery_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub webhook delivery ID that triggered this run, used for deduplication.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "trigger": {
          "target": "com.posthog.stamphog#ReviewRunTriggerEnum",
          "traits": {
            "smithy.api#documentation": "What caused this run to exist: self-driving inbox provenance, the repo's trigger label, or the repo reviewing every PR event.\n\n* `self_driving` - SELF_DRIVING\n* `label` - LABEL\n* `all` - ALL",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.stamphog#ReviewRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Current stage of the review run's lifecycle.\n\n* `queued` - QUEUED\n* `gated` - GATED\n* `reviewing` - REVIEWING\n* `completed` - COMPLETED\n* `failed` - FAILED\n* `superseded` - SUPERSEDED",
            "smithy.api#required": {}
          }
        },
        "verdict": {
          "target": "com.posthog.stamphog#ReviewRunVerdictEnum",
          "traits": {
            "smithy.api#documentation": "Final verdict reached by the reviewer, if any.\n\n* `none` - NONE\n* `approved` - APPROVED\n* `refused` - REFUSED\n* `escalate` - ESCALATE\n* `wait` - WAIT\n* `error` - ERROR",
            "smithy.api#required": {}
          }
        },
        "gate_result": {
          "target": "com.posthog.stamphog#GateResultSummary",
          "traits": {
            "smithy.api#documentation": "Allowlisted deterministic gate outcome (gate_blocked, final_verdict). The nested gate, classification, and policy sub-objects are excluded — they carry changed-file paths and policy scopes, repository content a project member without repo access must not read.",
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "com.posthog.stamphog#ReviewOutputSummary",
          "traits": {
            "smithy.api#documentation": "Allowlisted, non-sensitive subset of the reviewer output blob (stamphog version, reviewer exit code). The raw reviewer stdout, PR payload, changed-file patches, and policy file contents are deliberately excluded — they carry repository content a project member without repo access must not read.",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Error message if the run failed, blank otherwise.",
            "smithy.api#required": {}
          }
        },
        "posted_review_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the GitHub review this run posted, null if it never posted one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verdict_posted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this run's verdict reached GitHub, null if it never did.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "approval_dismissed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this run's GitHub approval was retracted because the head moved, null if it wasn't.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the review run was created.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the review run was last updated.",
            "smithy.api#required": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the review run reached a terminal state, if it has.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.stamphog#ReviewRunTriggerEnum": {
      "type": "enum",
      "members": {
        "SELF_DRIVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "self_driving"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `self_driving` - SELF_DRIVING\n* `label` - LABEL\n* `all` - ALL"
      }
    },
    "com.posthog.stamphog#ReviewRunStatusEnum": {
      "type": "enum",
      "members": {
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "queued"
          }
        },
        "GATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gated"
          }
        },
        "REVIEWING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reviewing"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SUPERSEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "superseded"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `queued` - QUEUED\n* `gated` - GATED\n* `reviewing` - REVIEWING\n* `completed` - COMPLETED\n* `failed` - FAILED\n* `superseded` - SUPERSEDED"
      }
    },
    "com.posthog.stamphog#ReviewRunVerdictEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REFUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refused"
          }
        },
        "ESCALATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "escalate"
          }
        },
        "WAIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wait"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `none` - NONE\n* `approved` - APPROVED\n* `refused` - REFUSED\n* `escalate` - ESCALATE\n* `wait` - WAIT\n* `error` - ERROR"
      }
    },
    "com.posthog.stamphog#GateResultSummary": {
      "type": "structure",
      "members": {
        "gate_blocked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the deterministic gates blocked auto-review before the reviewer ran.",
            "smithy.api#required": {}
          }
        },
        "final_verdict": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The engine's raw final-verdict token, if the run reached a verdict.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allowlisted, content-free slice of ``ReviewRun.gate_result``.\n\nThe raw gate blob nests ``gates``, ``classification``, and ``policy`` sub-objects that carry\nrepository content — changed-file paths (``safe_migration_files``, ``invalid_folder_files``),\nmanifest gate messages, and declared ``policy.scopes`` — which a project member without repo\naccess must not read. Only the terminal decision is exposed."
      }
    },
    "com.posthog.stamphog#ReviewOutputSummary": {
      "type": "structure",
      "members": {
        "stamphog_version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the stamphog engine that produced this review, if it reported one.",
            "smithy.api#required": {}
          }
        },
        "reviewer_exit_code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exit code of the reviewer process in the sandbox, if the run reached the sandbox stage.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allowlisted, non-sensitive slice of ``ReviewRun.output``.\n\nThe raw ``output`` blob also holds the reviewer's stdout, the full PR payload, changed-file patches,\nand default-branch policy file contents — repository content a project member without repo access\nmust never read. Only these derived, content-free fields are exposed."
      }
    },
    "com.posthog.stamphog#PaginatedReviewRunListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.stamphog#ReviewRun"
      },
      "traits": {}
    },
    "com.posthog.stamphog#StamphogReviewRunsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogReviewRunsListRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#PaginatedReviewRunList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/review_runs/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only history of stamphog review runs, filterable by repository, PR number, and status."
      }
    },
    "com.posthog.stamphog#StamphogReviewRunsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.stamphog#StamphogReviewRunsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.stamphog#StamphogReviewRunsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.stamphog#ReviewRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/stamphog/review_runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only history of stamphog review runs, filterable by repository, PR number, and status."
      }
    },
    "com.posthog.stamphog#Stamphog": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.stamphog#StamphogDigestRunsList"
        },
        {
          "target": "com.posthog.stamphog#StamphogDigestRunsRetrieve"
        },
        {
          "target": "com.posthog.stamphog#StamphogPullRequestsList"
        },
        {
          "target": "com.posthog.stamphog#StamphogPullRequestsRetrieve"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsList"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsCreate"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsRetrieve"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsUpdate"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsPartialUpdate"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsDestroy"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsInstallInfoRetrieve"
        },
        {
          "target": "com.posthog.stamphog#StamphogRepoConfigsSyncInstallationCreate"
        },
        {
          "target": "com.posthog.stamphog#StamphogReviewRunsList"
        },
        {
          "target": "com.posthog.stamphog#StamphogReviewRunsRetrieve"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
