{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.task_activity#TaskActivityListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Activity timestamp from the final row of the previous page."
          }
        },
        "before_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before_id",
            "smithy.api#documentation": "Activity ID from the final row of the previous page."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of tasks to return (most recent activity first)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_activity#TaskActivityPageDTO": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.task_activity#TaskActivityPageDTOResultsList",
          "traits": {
            "smithy.api#documentation": "Tasks with activity, most recent first.",
            "smithy.api#required": {}
          }
        },
        "unread_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Unread tasks across the requester's whole feed, not just this page. Backs the sidebar badge.",
            "smithy.api#required": {}
          }
        },
        "next_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Activity timestamp to pass as before for the next page, or null on the final page.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_before_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Activity ID to pass as before_id for the next page, or null on the final page.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A page of the requester's activity feed, plus the unread total across the whole feed."
      }
    },
    "com.posthog.task_activity#TaskActivityDTO": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "task_title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "activity_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "activity_kind": {
          "target": "com.posthog.task_activity#ActivityKindEnum",
          "traits": {
            "smithy.api#documentation": "What the latest activity on this task was: an agent run waiting on the requester (awaiting_input), a completed run (completed), someone @-mentioning them (mention), a comment-thread reply (thread_reply), a comment on their item (owned_item_comment), a task-thread reply (message), or their creating the task (created).\n\n* `awaiting_input` - awaiting_input\n* `completed` - completed\n* `mention` - mention\n* `thread_reply` - thread_reply\n* `owned_item_comment` - owned_item_comment\n* `message` - message\n* `created` - created",
            "smithy.api#required": {}
          }
        },
        "snippet": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Content of the thread message or resource comment tied to the latest activity.",
            "smithy.api#required": {}
          }
        },
        "latest_author": {
          "target": "com.posthog.task_activity#TaskUserBasicInfo",
          "traits": {
            "smithy.api#documentation": "Author of the thread message tied to the latest activity, when one applies.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_message_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_comment_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_comment_scope": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "latest_comment_item_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_unread": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the requester has yet to see this activity. Activity they caused themselves is never unread.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for one task in the requester's activity feed (one row per task)."
      }
    },
    "com.posthog.task_activity#ActivityKindEnum": {
      "type": "enum",
      "members": {
        "AWAITING_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awaiting_input"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "MENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mention"
          }
        },
        "THREAD_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thread_reply"
          }
        },
        "OWNED_ITEM_COMMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owned_item_comment"
          }
        },
        "MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `awaiting_input` - awaiting_input\n* `completed` - completed\n* `mention` - mention\n* `thread_reply` - thread_reply\n* `owned_item_comment` - owned_item_comment\n* `message` - message\n* `created` - created"
      }
    },
    "com.posthog.task_activity#TaskUserBasicInfo": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.task_activity#TaskUserBasicInfoHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response shape for a task creator, mirroring core ``UserBasicSerializer`` output."
      }
    },
    "com.posthog.task_activity#TaskUserBasicInfoHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.task_activity#TaskActivityPageDTOResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_activity#TaskActivityDTO"
      },
      "traits": {
        "smithy.api#documentation": "Tasks with activity, most recent first."
      }
    },
    "com.posthog.task_activity#TaskActivityList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_activity#TaskActivityListRequest"
      },
      "output": {
        "target": "com.posthog.task_activity#TaskActivityPageDTO"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/task_activity/",
          "code": 200
        },
        "smithy.api#documentation": "List the requester's task activity\n\nTask lifecycle rows collapse per task. Comment notifications remain separate. Results are most-recent first and restricted to tasks the requester can see."
      }
    },
    "com.posthog.task_activity#TaskActivityReadMarker": {
      "type": "structure",
      "members": {
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Task whose displayed activity should be marked read.",
            "smithy.api#required": {}
          }
        },
        "activity_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comment activity row to mark read. Omit for collapsed task activity.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "seen_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mark activity at or before this timestamp read without clearing newer activity.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_activity#TaskActivityMarkReadCreateRequestActivitiesList": {
      "type": "list",
      "member": {
        "target": "com.posthog.task_activity#TaskActivityReadMarker"
      },
      "traits": {
        "smithy.api#documentation": "Displayed task activities to mark read if they have not changed."
      }
    },
    "com.posthog.task_activity#TaskActivityMarkReadCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "activities": {
          "target": "com.posthog.task_activity#TaskActivityMarkReadCreateRequestActivitiesList",
          "traits": {
            "smithy.api#documentation": "Displayed task activities to mark read if they have not changed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.task_activity#TaskActivityMarkReadResponse": {
      "type": "structure",
      "members": {
        "marked_read": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "How many feed rows changed from unread to read.",
            "smithy.api#required": {}
          }
        },
        "unread_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The requester's remaining unread total after the update.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.task_activity#TaskActivityMarkReadCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.task_activity#TaskActivityMarkReadCreateRequest"
      },
      "output": {
        "target": "com.posthog.task_activity#TaskActivityMarkReadResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/task_activity/mark_read/",
          "code": 200
        },
        "smithy.api#documentation": "Mark task activity read\n\nClear collapsed task activity through task timestamps and individual comment activity through activity IDs."
      }
    },
    "com.posthog.task_activity#TaskActivity": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.task_activity#TaskActivityList"
        },
        {
          "target": "com.posthog.task_activity#TaskActivityMarkReadCreate"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
