{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.tracing#TracingAggregationQueryBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the primary window. Defaults to last hour."
          }
        },
        "compareFilter": {
          "target": "com.posthog.tracing#CompareFilter",
          "traits": {
            "smithy.api#documentation": "Optional comparison-window configuration. When omitted, only the primary window is returned."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingAggregationQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingAggregationQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters applied to spans in both windows."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max rows to return, ordered by total_duration_nano DESC. Defaults to 100; hard max 5000. Keep this small to bound the response size — a high value on high-cardinality span names (e.g. untemplated URL paths) returns a very large payload. Prefer narrowing with `serviceNames`/`filterGroup` over raising the limit."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Row offset for pagination. Combine with `limit` and the `next_offset` returned in the response to page through results beyond the first page."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingDateRange": {
      "type": "structure",
      "members": {
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of the date range. Accepts ISO 8601 timestamps or relative formats: -1h, -6h, -1d, -7d, etc.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of the date range. Same format as date_from. Omit or null for \"now\".",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#CompareFilter": {
      "type": "structure",
      "members": {
        "compare": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, also fetch results for a comparison window and return them under `compare`."
          }
        },
        "compare_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Relative date offset for the comparison window (e.g. '-1h', '-1d', '-7d'). Defaults to the immediately previous period of equal length.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAggregationQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#SpanPropertyFilter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attribute key. For type \"span\", use built-in fields (trace_id, span_id, duration, name, kind, status_code, is_root_span). For \"span_attribute\"/\"span_resource_attribute\", use the attribute key (e.g. \"http.method\").",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.posthog.tracing#SpanPropertyTypeEnum",
          "traits": {
            "smithy.api#documentation": "\"span\" filters built-in span fields. \"span_attribute\" filters span-level attributes. \"span_resource_attribute\" filters resource-level attributes.\n\n* `span` - span\n* `span_attribute` - span_attribute\n* `span_resource_attribute` - span_resource_attribute",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.posthog.tracing#SpanPropertyFilterOperatorEnum",
          "traits": {
            "smithy.api#documentation": "Comparison operator.\n\n* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `starts_with` - starts_with\n* `not_starts_with` - not_starts_with\n* `ends_with` - ends_with\n* `not_ends_with` - not_ends_with\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `lt` - lt\n* `is_set` - is_set\n* `is_not_set` - is_not_set",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Value to compare against. String, number, or array of strings. Omit for is_set/is_not_set operators."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#SpanPropertyTypeEnum": {
      "type": "enum",
      "members": {
        "SPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span"
          }
        },
        "SPAN_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_attribute"
          }
        },
        "SPAN_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_resource_attribute"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `span` - span\n* `span_attribute` - span_attribute\n* `span_resource_attribute` - span_resource_attribute"
      }
    },
    "com.posthog.tracing#SpanPropertyFilterOperatorEnum": {
      "type": "enum",
      "members": {
        "EXACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exact"
          }
        },
        "IS_NOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not"
          }
        },
        "ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icontains"
          }
        },
        "NOT_ICONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_icontains"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "starts_with"
          }
        },
        "NOT_STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_starts_with"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ends_with"
          }
        },
        "NOT_ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_ends_with"
          }
        },
        "REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "regex"
          }
        },
        "NOT_REGEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_regex"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gt"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lt"
          }
        },
        "IS_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_set"
          }
        },
        "IS_NOT_SET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "is_not_set"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `exact` - exact\n* `is_not` - is_not\n* `icontains` - icontains\n* `not_icontains` - not_icontains\n* `starts_with` - starts_with\n* `not_starts_with` - not_starts_with\n* `ends_with` - ends_with\n* `not_ends_with` - not_ends_with\n* `regex` - regex\n* `not_regex` - not_regex\n* `gt` - gt\n* `lt` - lt\n* `is_set` - is_set\n* `is_not_set` - is_not_set"
      }
    },
    "com.posthog.tracing#TracingAggregationQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters applied to spans in both windows."
      }
    },
    "com.posthog.tracing#CreateTracingSpanAggregateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingAggregationQueryBody",
          "traits": {
            "smithy.api#documentation": "The span aggregation query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingAggregationResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingAggregationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "One row per (service_name, name) group, ordered by total_duration_nano descending.",
            "smithy.api#required": {}
          }
        },
        "compare": {
          "target": "com.posthog.tracing#TracingAggregationResponseCompareList",
          "traits": {
            "smithy.api#documentation": "Rows for the comparison window when compareFilter.compare is true, else null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_more": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when more rows exist beyond this page — page further with `next_offset`, or narrow the query.",
            "smithy.api#required": {}
          }
        },
        "next_offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Offset to request the next page, or null when this is the last page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#AggregatedSpanRow": {
      "type": "structure",
      "members": {
        "service_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service that emitted the spans in this group.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Span name (operation) for this group.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of spans matched in this group.",
            "smithy.api#required": {}
          }
        },
        "total_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sum of span durations in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "avg_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p50_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p95_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "95th percentile span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p99_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "99th percentile span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p999_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "99.9th percentile span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "error_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Spans with OTel status code Error (status_code = 2).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAggregationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#AggregatedSpanRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per (service_name, name) group, ordered by total_duration_nano descending."
      }
    },
    "com.posthog.tracing#TracingAggregationResponseCompareList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#AggregatedSpanRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows for the comparison window when compareFilter.compare is true, else null."
      }
    },
    "com.posthog.tracing#CreateTracingSpanAggregate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanAggregateRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingAggregationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/aggregate/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownQueryBody": {
      "type": "structure",
      "members": {
        "breakdownKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attribute key to group by (e.g. \"server.address\", \"http.response.status_code\"). Discover keys with apm-attributes-list. For the \"span\" breakdown type, must be one of the allowlisted top-level columns: \"service_name\", \"status_code\".",
            "smithy.api#required": {}
          }
        },
        "breakdownType": {
          "target": "com.posthog.tracing#SpanPropertyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Where the key lives: \"span\" for allowlisted top-level span columns, \"span_attribute\" for span-level attributes, \"span_resource_attribute\" for resource-level attributes.\n\n* `span` - span\n* `span_attribute` - span_attribute\n* `span_resource_attribute` - span_resource_attribute",
            "smithy.api#required": {}
          }
        },
        "excludeBreakdownFilter": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Drop filters targeting the breakdown key itself (including serviceNames for a service_name breakdown), so a facet's value list stays complete while one of its values is selected."
          }
        },
        "facetSearch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type-ahead filter over the breakdown field's own values (case-insensitive substring match). An empty string means no filter. Lets a facet's value search reach past the row limit."
          }
        },
        "orderBy": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownQueryBodyOrderByEnum",
          "traits": {
            "smithy.api#documentation": "Order rows by span count or error count, descending. Defaults to count.\n\n* `count` - count\n* `error_count` - error_count"
          }
        },
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the primary window. Defaults to last hour."
          }
        },
        "compareFilter": {
          "target": "com.posthog.tracing#CompareFilter",
          "traits": {
            "smithy.api#documentation": "Optional comparison-window configuration. When omitted, only the primary window is returned."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters scoping the spans the breakdown runs over (e.g. only error spans)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAttributeBreakdownQueryBodyOrderByEnum": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "ERROR_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error_count"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `count` - count\n* `error_count` - error_count"
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters scoping the spans the breakdown runs over (e.g. only error spans)."
      }
    },
    "com.posthog.tracing#CreateTracingSpanAttributeBreakdownRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownQueryBody",
          "traits": {
            "smithy.api#documentation": "The attribute breakdown query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownResponseResultsList",
          "traits": {
            "smithy.api#documentation": "One row per distinct attribute value, ordered by the requested column descending.",
            "smithy.api#required": {}
          }
        },
        "compare": {
          "target": "com.posthog.tracing#TracingAttributeBreakdownResponseCompareList",
          "traits": {
            "smithy.api#documentation": "Rows for the comparison window when compareFilter.compare is true, else null.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAttributeBreakdownRow": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The attribute's value for this group. Spans without the attribute group under ''.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of matching spans with this value.",
            "smithy.api#required": {}
          }
        },
        "error_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of matching error spans (status_code = 2).",
            "smithy.api#required": {}
          }
        },
        "p50_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p95_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "95th percentile span duration in nanoseconds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAttributeBreakdownResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingAttributeBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per distinct attribute value, ordered by the requested column descending."
      }
    },
    "com.posthog.tracing#TracingAttributeBreakdownResponseCompareList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingAttributeBreakdownRow"
      },
      "traits": {
        "smithy.api#documentation": "Rows for the comparison window when compareFilter.compare is true, else null."
      }
    },
    "com.posthog.tracing#CreateTracingSpanAttributeBreakdown": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanAttributeBreakdownRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingAttributeBreakdownResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/attribute-breakdown/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingSpansAttributesRetrieveRequestAttributeType": {
      "type": "enum",
      "members": {
        "SPAN_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_attribute"
          }
        },
        "SPAN_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingSpansAttributesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "attribute_type": {
          "target": "com.posthog.tracing#TracingSpansAttributesRetrieveRequestAttributeType",
          "traits": {
            "smithy.api#httpQuery": "attribute_type",
            "smithy.api#documentation": "Type of attributes: \"span_attribute\" for span-level attributes, \"span_resource_attribute\" for resource-level attributes.\n\n* `span_attribute` - span_attribute\n* `span_resource_attribute` - span_resource_attribute"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Max results (default: 100)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Pagination offset (default: 0)."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search filter for attribute names."
          }
        },
        "search_values": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "search_values",
            "smithy.api#documentation": "When true, the search query also matches attribute values (not just keys), so a value such as a trace_id finds the key holding it."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingAttributesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingAttributesResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Available attribute keys matching the filters.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total attribute keys matched (lower bound when searching values).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingAttributeEntry": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Attribute key name.",
            "smithy.api#required": {}
          }
        },
        "propertyFilterType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Property filter type: \"span_attribute\" or \"span_resource_attribute\". Use this as the `type` field when filtering.",
            "smithy.api#required": {}
          }
        },
        "matchedOn": {
          "target": "com.posthog.tracing#MatchedOnEnum",
          "traits": {
            "smithy.api#documentation": "How the search query matched this row: \"key\" if the attribute key matched, \"value\" if a value matched.\n\n* `key` - key\n* `value` - value",
            "smithy.api#required": {}
          }
        },
        "matchedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sample matching value — only set when matchedOn is \"value\".",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#MatchedOnEnum": {
      "type": "enum",
      "members": {
        "KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "key"
          }
        },
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `key` - key\n* `value` - value"
      }
    },
    "com.posthog.tracing#TracingAttributesResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingAttributeEntry"
      },
      "traits": {
        "smithy.api#documentation": "Available attribute keys matching the filters."
      }
    },
    "com.posthog.tracing#TracingSpansAttributesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#TracingSpansAttributesRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingAttributesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/spans/attributes/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingCountBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the count. Defaults to last hour."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingCountBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "statusCodes": {
          "target": "com.posthog.tracing#TracingCountBodyStatusCodesList",
          "traits": {
            "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingCountBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters for the count."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingCountBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingCountBodyStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
      }
    },
    "com.posthog.tracing#TracingCountBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters for the count."
      }
    },
    "com.posthog.tracing#CreateTracingSpanCountRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingCountBody",
          "traits": {
            "smithy.api#documentation": "The span count query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingCountResponse": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of spans matching the filters.",
            "smithy.api#required": {}
          }
        },
        "traceCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of distinct traces whose root span matches the filters — the trace count shown in the Traces view.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#CreateTracingSpanCount": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanCountRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingCountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/count/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingDurationHistogramQueryBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the query. Defaults to last hour."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "statusCodes": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBodyStatusCodesList",
          "traits": {
            "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters for the query."
          }
        },
        "rootSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true (default), bucket root-span durations only — a distribution of traces. When false, bucket every matching span — used with a span name filter for operation-scoped distributions."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingDurationHistogramQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingDurationHistogramQueryBodyStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
      }
    },
    "com.posthog.tracing#TracingDurationHistogramQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters for the query."
      }
    },
    "com.posthog.tracing#CreateTracingSpanDurationHistogramRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBody",
          "traits": {
            "smithy.api#documentation": "The duration-histogram query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#CreateTracingSpanDurationHistogram": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanDurationHistogramRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/duration-histogram/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingSpansHasSpansRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#HasSpansResponse": {
      "type": "structure",
      "members": {
        "hasSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the team has ingested any tracing spans yet. Used to gate the onboarding empty state.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingSpansHasSpansRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#TracingSpansHasSpansRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.tracing#HasSpansResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/spans/has_spans/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#CreateTracingSpanLatencyHeatmapRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingDurationHistogramQueryBody",
          "traits": {
            "smithy.api#documentation": "The latency-heatmap query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingLatencyHeatmapResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#TracingLatencyHeatmapResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Sparse heatmap cells ordered by time then duration bucket. Every time bucket in the window appears in at least one row, so the full x axis can be derived from the response.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingLatencyHeatmapCell": {
      "type": "structure",
      "members": {
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 UTC start of the time bucket.",
            "smithy.api#required": {}
          }
        },
        "bucket_ns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Lower edge of the 1-2-5 series duration bucket in nanoseconds (1ms, 2ms, 5ms, 10ms, ...). 0 on the sentinel row that enumerates a time bucket with no matching spans.",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Traces in this cell, bucketed by root-span duration (the default, rootSpans=true). When rootSpans is false, every matching span is counted instead. 0 only on sentinel rows.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingLatencyHeatmapResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingLatencyHeatmapCell"
      },
      "traits": {
        "smithy.api#documentation": "Sparse heatmap cells ordered by time then duration bucket. Every time bucket in the window appears in at least one row, so the full x axis can be derived from the response."
      }
    },
    "com.posthog.tracing#CreateTracingSpanLatencyHeatmap": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanLatencyHeatmapRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingLatencyHeatmapResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/latency-heatmap/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingQueryBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the query. Defaults to last hour."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "statusCodes": {
          "target": "com.posthog.tracing#TracingQueryBodyStatusCodesList",
          "traits": {
            "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
          }
        },
        "orderBy": {
          "target": "com.posthog.tracing#TracingQueryBodyOrderByEnum",
          "traits": {
            "smithy.api#documentation": "Column to order by. Defaults to timestamp. Ordering by timestamp paginates via the keyset cursor ('after'); ordering by duration paginates via 'offset'.\n\n* `timestamp` - timestamp\n* `duration` - duration"
          }
        },
        "orderDirection": {
          "target": "com.posthog.tracing#OrderDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Order direction. Defaults to DESC (e.g. timestamp+DESC = newest first, duration+DESC = slowest first).\n\n* `ASC` - ASC\n* `DESC` - DESC"
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters for the query."
          }
        },
        "traceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter to a specific trace ID (hex string)."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Max results (1-1000). Defaults to 100."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Keyset pagination cursor from a previous timestamp-ordered response."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pagination offset, used when ordering by a column (e.g. duration). Defaults to 0."
          }
        },
        "rootSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Filter to root spans only. Defaults to true."
          }
        },
        "flatSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Return the matching spans themselves, one row per span (root and child), instead of collapsing to traces. Use this to search by a child-span attribute (e.g. code.filepath) without the whole-trace grouping. Distinct from rootSpans. Defaults to false."
          }
        },
        "prefetchSpans": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of child spans to prefetch per trace (1-100)."
          }
        },
        "excludeAttributes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Omit the per-span attributes and resource attributes maps from results to keep payloads compact. Defaults to false."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingQueryBodyStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
      }
    },
    "com.posthog.tracing#TracingQueryBodyOrderByEnum": {
      "type": "enum",
      "members": {
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timestamp"
          }
        },
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "duration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `timestamp` - timestamp\n* `duration` - duration"
      }
    },
    "com.posthog.tracing#OrderDirectionEnum": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASC"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `ASC` - ASC\n* `DESC` - DESC"
      }
    },
    "com.posthog.tracing#TracingQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters for the query."
      }
    },
    "com.posthog.tracing#CreateTracingSpanQueryRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingQueryBody",
          "traits": {
            "smithy.api#documentation": "The tracing spans query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#CreateTracingSpanQuery": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanQueryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/query/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingSpansServiceNamesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "dateRange": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "dateRange",
            "smithy.api#documentation": "JSON-encoded date range, e.g. '{\"date_from\": \"-1h\"}'."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search filter for service names."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingSpansServiceNamesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#TracingSpansServiceNamesRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/spans/service-names/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingSparklineQueryBody": {
      "type": "structure",
      "members": {
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the query. Defaults to last hour."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingSparklineQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "statusCodes": {
          "target": "com.posthog.tracing#TracingSparklineQueryBodyStatusCodesList",
          "traits": {
            "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingSparklineQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Property filters for the query."
          }
        },
        "rootSpans": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, count only root spans (one per trace) so the bars reflect the Traces view. When false (default), count every matching span — the Spans view's volume."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingSparklineQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingSparklineQueryBodyStatusCodesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "Filter by OTel span status codes (0 Unset, 1 OK, 2 Error) — not HTTP status codes. Use [2] to select error spans."
      }
    },
    "com.posthog.tracing#TracingSparklineQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Property filters for the query."
      }
    },
    "com.posthog.tracing#CreateTracingSpanSparklineRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingSparklineQueryBody",
          "traits": {
            "smithy.api#documentation": "The sparkline query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#CreateTracingSpanSparkline": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanSparklineRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/sparkline/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#SymbolStatsQueryBody": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Repo-relative path of the source file to aggregate (e.g. 'src/flags/flag_matching.rs'). Matched as a path suffix against the recorded OTel code.file.path / code.filepath, so a recorded path carrying an extra crate/workspace prefix still matches. Separators are normalized.",
            "smithy.api#required": {}
          }
        },
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Current period to aggregate over; the prior equal-length window is the comparison. Defaults to last 24h."
          }
        },
        "symbols": {
          "target": "com.posthog.tracing#SymbolStatsQueryBodySymbolsList",
          "traits": {
            "smithy.api#documentation": "Optional symbol (function) line ranges, supplied by the client from its own AST/LSP. When given, each span is attributed to the smallest enclosing range (one row per symbol). When omitted (or an empty list), spans are aggregated per source line (one row per line); pass a single whole-file range for a file-level total."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#SymbolStatsSymbol": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque identifier (e.g. the function name) echoed back on the matching result row.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "startLine": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "First line of the symbol's range, inclusive.",
            "smithy.api#required": {}
          }
        },
        "endLine": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Last line of the symbol's range, inclusive.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#SymbolStatsQueryBodySymbolsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SymbolStatsSymbol"
      },
      "traits": {
        "smithy.api#documentation": "Optional symbol (function) line ranges, supplied by the client from its own AST/LSP. When given, each span is attributed to the smallest enclosing range (one row per symbol). When omitted (or an empty list), spans are aggregated per source line (one row per line); pass a single whole-file range for a file-level total."
      }
    },
    "com.posthog.tracing#CreateTracingSpanSymbolStatRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#SymbolStatsQueryBody",
          "traits": {
            "smithy.api#documentation": "The symbol-stats per-symbol aggregation query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#SymbolStatsResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.posthog.tracing#SymbolStatsResponseResultsList",
          "traits": {
            "smithy.api#documentation": "One row per bucket, ordered by line ascending.",
            "smithy.api#required": {}
          }
        },
        "granularity": {
          "target": "com.posthog.tracing#GranularityEnum",
          "traits": {
            "smithy.api#documentation": "Bucketing applied: 'line' when no symbols were supplied, 'symbol' otherwise.\n\n* `line` - line\n* `symbol` - symbol",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#SymbolStatsRow": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of spans attributed to this symbol in the period.",
            "smithy.api#required": {}
          }
        },
        "error_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Spans whose OTel status is Error (status_code = 2).",
            "smithy.api#required": {}
          }
        },
        "sum_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total wall-clock span duration in the period, in nanoseconds (additive across spans).",
            "smithy.api#required": {}
          }
        },
        "p50_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median wall-clock span duration, in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p95_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "95th-percentile wall-clock span duration, in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p99_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "99th-percentile wall-clock span duration, in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "busy_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Spans in the period carrying an active/busy time attribute. 0 means busy_* are not meaningful.",
            "smithy.api#required": {}
          }
        },
        "p50_busy_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median active (busy) time, in nanoseconds. Excludes awaiting children.",
            "smithy.api#required": {}
          }
        },
        "p95_busy_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "95th-percentile active (busy) time, in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p99_busy_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "99th-percentile active (busy) time, in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Bucket anchor: the source line (line mode) or the symbol's startLine (symbol mode).",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Echoed name from the requested symbol (symbol mode only).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "end_line": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "endLine of the matched symbol's range (symbol mode only).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "com.posthog.tracing#SymbolStatsPeriod",
          "traits": {
            "smithy.api#documentation": "The same metrics over the immediately-preceding equal-length period.",
            "smithy.api#required": {}
          }
        },
        "count_pct_change": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage change in count vs the previous period (180 = +180%). Null when there is no baseline (previous count 0). Use `previous.count` — not a null here — to detect a new symbol.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "p95_duration_pct_change": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Percentage change in p95 duration vs the previous period (180 = +180%). Null when the previous p95 is 0 (no comparable baseline), which can occur even when previous.count > 0 — do not read null as 'new symbol'.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#SymbolStatsPeriod": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of spans attributed to this symbol in the period.",
            "smithy.api#required": {}
          }
        },
        "error_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Spans whose OTel status is Error (status_code = 2).",
            "smithy.api#required": {}
          }
        },
        "sum_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total wall-clock span duration in the period, in nanoseconds (additive across spans).",
            "smithy.api#required": {}
          }
        },
        "p50_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median wall-clock span duration, in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p95_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "95th-percentile wall-clock span duration, in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p99_duration_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "99th-percentile wall-clock span duration, in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "busy_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Spans in the period carrying an active/busy time attribute. 0 means busy_* are not meaningful.",
            "smithy.api#required": {}
          }
        },
        "p50_busy_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Median active (busy) time, in nanoseconds. Excludes awaiting children.",
            "smithy.api#required": {}
          }
        },
        "p95_busy_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "95th-percentile active (busy) time, in nanoseconds.",
            "smithy.api#required": {}
          }
        },
        "p99_busy_nano": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "99th-percentile active (busy) time, in nanoseconds.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#SymbolStatsResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SymbolStatsRow"
      },
      "traits": {
        "smithy.api#documentation": "One row per bucket, ordered by line ascending."
      }
    },
    "com.posthog.tracing#GranularityEnum": {
      "type": "enum",
      "members": {
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "line"
          }
        },
        "SYMBOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "symbol"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `line` - line\n* `symbol` - symbol"
      }
    },
    "com.posthog.tracing#CreateTracingSpanSymbolStat": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanSymbolStatRequest"
      },
      "output": {
        "target": "com.posthog.tracing#SymbolStatsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/symbol-stats/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#CreateTracingSpanTraceRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "trace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the query. Defaults to last 24 hours."
          }
        },
        "excludeAttributes": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Omit the per-span attributes and resource attributes maps from results to keep payloads compact. Defaults to false."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Pagination offset into the trace's spans (ordered by start time ascending). Each page returns up to 2000 spans; pass the response's `nextOffset` to load the next page. Defaults to 0."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#CreateTracingSpanTrace": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanTraceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/trace/{trace_id}/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingTreeQueryBody": {
      "type": "structure",
      "members": {
        "spanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Span name to scope the matched trace set. Required because the (trace_id, parent_span_id) self-join is unsafe without bounding the matched traces.",
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service name that scopes the returned tree. Applied to the spans CTE so the call-tree only contains spans from this service, even when matched traces span multiple services.",
            "smithy.api#required": {}
          }
        },
        "dateRange": {
          "target": "com.posthog.tracing#TracingDateRange",
          "traits": {
            "smithy.api#documentation": "Date range for the primary window. Defaults to last hour."
          }
        },
        "compareFilter": {
          "target": "com.posthog.tracing#CompareFilter",
          "traits": {
            "smithy.api#documentation": "Optional comparison-window configuration. When omitted, only the primary window is returned."
          }
        },
        "serviceNames": {
          "target": "com.posthog.tracing#TracingTreeQueryBodyServiceNamesList",
          "traits": {
            "smithy.api#documentation": "Filter by service names."
          }
        },
        "filterGroup": {
          "target": "com.posthog.tracing#TracingTreeQueryBodyFilterGroupList",
          "traits": {
            "smithy.api#documentation": "Additional property filters applied to spans in both windows."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingTreeQueryBodyServiceNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter by service names."
      }
    },
    "com.posthog.tracing#TracingTreeQueryBodyFilterGroupList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#SpanPropertyFilter"
      },
      "traits": {
        "smithy.api#documentation": "Additional property filters applied to spans in both windows."
      }
    },
    "com.posthog.tracing#CreateTracingSpanTreeRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "query": {
          "target": "com.posthog.tracing#TracingTreeQueryBody",
          "traits": {
            "smithy.api#documentation": "The span call-tree aggregation query to execute.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#CreateTracingSpanTree": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingSpanTreeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/spans/tree/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingSpansValuesRetrieveRequestAttributeType": {
      "type": "enum",
      "members": {
        "SPAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span"
          }
        },
        "SPAN_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_attribute"
          }
        },
        "SPAN_RESOURCE_ATTRIBUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "span_resource_attribute"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingSpansValuesRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "attribute_type": {
          "target": "com.posthog.tracing#TracingSpansValuesRetrieveRequestAttributeType",
          "traits": {
            "smithy.api#httpQuery": "attribute_type",
            "smithy.api#documentation": "Type of attribute: \"span\" for built-in span fields (e.g. name), \"span_attribute\" for span-level attributes, \"span_resource_attribute\" for resource-level attributes.\n\n* `span` - span\n* `span_attribute` - span_attribute\n* `span_resource_attribute` - span_resource_attribute"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "key",
            "smithy.api#required": {},
            "smithy.api#documentation": "The attribute key to get values for."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Max results (default: 100)."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "Pagination offset (default: 0)."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "value",
            "smithy.api#documentation": "Search filter for attribute values."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingSpansValuesRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#TracingSpansValuesRetrieveRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/spans/values/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#ListTracingViewsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#PaginatedTracingViewList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.tracing#PaginatedTracingViewListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingView": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name shown in the saved views list.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.posthog.tracing#TracingViewFiltersMap",
          "traits": {
            "smithy.api#documentation": "Saved tracing filters — a subset of the frontend TracingFilters shape. May contain dateRange, serviceNames, filterGroup, orderBy, orderDirection, and viewMode."
          }
        },
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the view is pinned for quick access."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.tracing#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the view.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#TracingViewFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Saved tracing filters — a subset of the frontend TracingFilters shape. May contain dateRange, serviceNames, filterGroup, orderBy, orderDirection, and viewMode."
      }
    },
    "com.posthog.tracing#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.tracing#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.tracing#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.tracing#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.tracing#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.tracing#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.tracing#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.tracing#PaginatedTracingViewListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.tracing#TracingView"
      },
      "traits": {}
    },
    "com.posthog.tracing#ListTracingViews": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#ListTracingViewsRequest"
      },
      "output": {
        "target": "com.posthog.tracing#PaginatedTracingViewList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/views/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingViewsCreateRequestFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Saved tracing filters — a subset of the frontend TracingFilters shape. May contain dateRange, serviceNames, filterGroup, orderBy, orderDirection, and viewMode."
      }
    },
    "com.posthog.tracing#CreateTracingViewRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name shown in the saved views list.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.posthog.tracing#TracingViewsCreateRequestFiltersMap",
          "traits": {
            "smithy.api#documentation": "Saved tracing filters — a subset of the frontend TracingFilters shape. May contain dateRange, serviceNames, filterGroup, orderBy, orderDirection, and viewMode."
          }
        },
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the view is pinned for quick access."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#CreateTracingView": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#CreateTracingViewRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingView"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/tracing/views/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingViewsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingViewsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#TracingViewsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingView"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/tracing/views/{short_id}/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingViewsUpdateRequestFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Saved tracing filters — a subset of the frontend TracingFilters shape. May contain dateRange, serviceNames, filterGroup, orderBy, orderDirection, and viewMode."
      }
    },
    "com.posthog.tracing#UpdateTracingViewRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name shown in the saved views list.",
            "smithy.api#required": {}
          }
        },
        "filters": {
          "target": "com.posthog.tracing#TracingViewsUpdateRequestFiltersMap",
          "traits": {
            "smithy.api#documentation": "Saved tracing filters — a subset of the frontend TracingFilters shape. May contain dateRange, serviceNames, filterGroup, orderBy, orderDirection, and viewMode."
          }
        },
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the view is pinned for quick access."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#UpdateTracingView": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#UpdateTracingViewRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingView"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/tracing/views/{short_id}/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingViewsPartialUpdateRequestFiltersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Saved tracing filters — a subset of the frontend TracingFilters shape. May contain dateRange, serviceNames, filterGroup, orderBy, orderDirection, and viewMode."
      }
    },
    "com.posthog.tracing#UpdateTracingViewPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name shown in the saved views list."
          }
        },
        "filters": {
          "target": "com.posthog.tracing#TracingViewsPartialUpdateRequestFiltersMap",
          "traits": {
            "smithy.api#documentation": "Saved tracing filters — a subset of the frontend TracingFilters shape. May contain dateRange, serviceNames, filterGroup, orderBy, orderDirection, and viewMode."
          }
        },
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the view is pinned for quick access."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#UpdateTracingViewPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#UpdateTracingViewPartialRequest"
      },
      "output": {
        "target": "com.posthog.tracing#TracingView"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/tracing/views/{short_id}/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#TracingViewsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "short_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.tracing#TracingViewsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.tracing#TracingViewsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/tracing/views/{short_id}/",
          "code": 200
        }
      }
    },
    "com.posthog.tracing#Tracing": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.tracing#CreateTracingSpanAggregate"
        },
        {
          "target": "com.posthog.tracing#CreateTracingSpanAttributeBreakdown"
        },
        {
          "target": "com.posthog.tracing#TracingSpansAttributesRetrieve"
        },
        {
          "target": "com.posthog.tracing#CreateTracingSpanCount"
        },
        {
          "target": "com.posthog.tracing#CreateTracingSpanDurationHistogram"
        },
        {
          "target": "com.posthog.tracing#TracingSpansHasSpansRetrieve"
        },
        {
          "target": "com.posthog.tracing#CreateTracingSpanLatencyHeatmap"
        },
        {
          "target": "com.posthog.tracing#CreateTracingSpanQuery"
        },
        {
          "target": "com.posthog.tracing#TracingSpansServiceNamesRetrieve"
        },
        {
          "target": "com.posthog.tracing#CreateTracingSpanSparkline"
        },
        {
          "target": "com.posthog.tracing#CreateTracingSpanSymbolStat"
        },
        {
          "target": "com.posthog.tracing#CreateTracingSpanTrace"
        },
        {
          "target": "com.posthog.tracing#CreateTracingSpanTree"
        },
        {
          "target": "com.posthog.tracing#TracingSpansValuesRetrieve"
        },
        {
          "target": "com.posthog.tracing#ListTracingViews"
        },
        {
          "target": "com.posthog.tracing#CreateTracingView"
        },
        {
          "target": "com.posthog.tracing#TracingViewsRetrieve"
        },
        {
          "target": "com.posthog.tracing#UpdateTracingView"
        },
        {
          "target": "com.posthog.tracing#UpdateTracingViewPartial"
        },
        {
          "target": "com.posthog.tracing#TracingViewsDestroy"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
