{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.vision#ListVisionActionsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "scanner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scanner",
            "smithy.api#documentation": "Filter to the actions belonging to one scanner."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedVisionActionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedVisionActionListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable action name. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "scanner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this action operates on. Must belong to the same team.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the scheduler skips this action."
          }
        },
        "is_scanner_digest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Marks this action as the scanner's built-in daily digest, the one summary surfaced on the scanner overview. At most one digest per scanner."
          }
        },
        "trigger_type": {
          "target": "com.posthog.vision#VisionActionTriggerTypeEnum",
          "traits": {
            "smithy.api#documentation": "What fires the action. MVP supports 'schedule' only.\n\n* `schedule` - Schedule\n* `threshold` - Threshold"
          }
        },
        "mode": {
          "target": "com.posthog.vision#VisionActionModeEnum",
          "traits": {
            "smithy.api#documentation": "What the action produces. MVP supports 'group_summary' only.\n\n* `group_summary` - Group summary\n* `alert` - Alert\n* `per_observation` - Per observation"
          }
        },
        "trigger_config": {
          "target": "com.posthog.vision#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "Trigger parameters. For schedule triggers: {rrule, timezone}."
          }
        },
        "selection": {
          "target": "com.posthog.vision#Selection",
          "traits": {
            "smithy.api#documentation": "Targeting predicate: which of the scanner's observations this action runs on."
          }
        },
        "synthesis_config": {
          "target": "com.posthog.vision#SynthesisConfig",
          "traits": {
            "smithy.api#documentation": "Synthesis options for the group summary, e.g. {prompt_guide}."
          }
        },
        "alert_config": {
          "target": "com.posthog.vision#AlertConfig",
          "traits": {
            "smithy.api#documentation": "Alert condition; required when mode is 'alert', ignored otherwise."
          }
        },
        "delivery_config": {
          "target": "com.posthog.vision#VisionActionDeliveryConfigList",
          "traits": {
            "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
          }
        },
        "next_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Computed next fire time for schedule triggers; the scheduler scans this.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the most recent run, or null if it has never run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hog_flow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the delivery flow provisioned for this action. Null until delivery is wired up.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.vision#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the action.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Replay Vision action: a scheduled \"and then…\" automation over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionTriggerTypeEnum": {
      "type": "enum",
      "members": {
        "SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "schedule"
          }
        },
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "threshold"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `schedule` - Schedule\n* `threshold` - Threshold"
      }
    },
    "com.posthog.vision#VisionActionModeEnum": {
      "type": "enum",
      "members": {
        "GROUP_SUMMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group_summary"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert"
          }
        },
        "PER_OBSERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "per_observation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `group_summary` - Group summary\n* `alert` - Alert\n* `per_observation` - Per observation"
      }
    },
    "com.posthog.vision#TriggerConfig": {
      "type": "structure",
      "members": {
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "iCal RRULE string controlling the schedule cadence (no DTSTART — the start is managed separately)."
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA timezone name the RRULE is expanded in, e.g. 'Europe/Prague'. Defaults to 'UTC'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schedule trigger parameters. Threshold triggers are reserved and rejected at the API for now."
      }
    },
    "com.posthog.vision#Selection": {
      "type": "structure",
      "members": {
        "scanner_ids": {
          "target": "com.posthog.vision#SelectionScannerIdsList",
          "traits": {
            "smithy.api#documentation": "Restrict to observations produced by these scanner IDs. Defaults to the bound scanner."
          }
        },
        "verdict": {
          "target": "com.posthog.vision#SelectionVerdictList",
          "traits": {
            "smithy.api#documentation": "Only run on monitor observations with one of these verdicts (yes/no/inconclusive)."
          }
        },
        "tags": {
          "target": "com.posthog.vision#SelectionTagsList",
          "traits": {
            "smithy.api#documentation": "Only run on classifier observations carrying any of these tags (fixed or freeform)."
          }
        },
        "min_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Only run on scorer observations with a score at or above this value (inclusive)."
          }
        },
        "max_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Only run on scorer observations with a score at or below this value (inclusive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action's targeting predicate (\"run this on…\") applied when gathering observations. All keys\noptional; this typed shape is the allowlist, so unknown input keys are dropped rather than persisted."
      }
    },
    "com.posthog.vision#SelectionScannerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Restrict to observations produced by these scanner IDs. Defaults to the bound scanner."
      }
    },
    "com.posthog.vision#VerdictEnum": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `yes` - yes\n* `no` - no\n* `inconclusive` - inconclusive"
      }
    },
    "com.posthog.vision#SelectionVerdictList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VerdictEnum"
      },
      "traits": {
        "smithy.api#documentation": "Only run on monitor observations with one of these verdicts (yes/no/inconclusive)."
      }
    },
    "com.posthog.vision#SelectionTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Only run on classifier observations carrying any of these tags (fixed or freeform)."
      }
    },
    "com.posthog.vision#SynthesisConfig": {
      "type": "structure",
      "members": {
        "prompt_guide": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form guidance steering how the group summary is written."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the group-summary synthesis step."
      }
    },
    "com.posthog.vision#AlertConfig": {
      "type": "structure",
      "members": {
        "frequency": {
          "target": "com.posthog.vision#AlertConfigFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "'every_match' notifies about every new matching observation (batched per check); 'on_breach' notifies once when the threshold condition starts holding. Defaults to 'on_breach'.\n\n* `every_match` - Every new match\n* `on_breach` - When a threshold is crossed"
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertMetricEnum",
          "traits": {
            "smithy.api#documentation": "What to measure over the window: 'count' of targeted observations, or 'avg_score' (the mean scorer score; scorer scanners only). every_match supports 'count' only.\n\n* `count` - Count of matching observations\n* `avg_score` - Average score"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The alert fires when the metric is at or above ('above') or at or below ('below') this value, per 'direction'. Required for on_breach; ignored for every_match."
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Which side of the threshold breaches: 'above' fires when the metric is at or above it, 'below' when at or below (e.g. an average score dropping under a floor). Both inclusive. Defaults to 'above'; ignored for every_match.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "window_days": {
          "target": "com.posthog.vision#WindowDaysEnum",
          "traits": {
            "smithy.api#documentation": "Rolling lookback window for on_breach conditions, ending at each check. Defaults to 1 day. every_match ignores it (each check covers what's new since the previous one).\n\n* `1` - 1 day\n* `3` - 3 days\n* `7` - 7 days\n* `14` - 14 days\n* `30` - 30 days"
          }
        },
        "include_reasoning": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, each example line in the alert message includes the scanner's full reasoning for that observation, not just its verdict/score/tags. Useful when piping the message somewhere else to read or act on. Defaults to false."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The alert condition for mode='alert', applied after `selection` targeting. 'every_match'\nnotifies about each new match since the previous check; 'on_breach' compares a metric to a\nthreshold over a rolling window and notifies on the transition into breach."
      }
    },
    "com.posthog.vision#AlertConfigFrequencyEnum": {
      "type": "enum",
      "members": {
        "EVERY_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "every_match"
          }
        },
        "ON_BREACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on_breach"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `every_match` - Every new match\n* `on_breach` - When a threshold is crossed"
      }
    },
    "com.posthog.vision#VisionAlertMetricEnum": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "AVG_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg_score"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `count` - Count of matching observations\n* `avg_score` - Average score"
      }
    },
    "com.posthog.vision#VisionAlertDirectionEnum": {
      "type": "enum",
      "members": {
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "above"
          }
        },
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "below"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `above` - At or above\n* `below` - At or below"
      }
    },
    "com.posthog.vision#WindowDaysEnum": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 7
          }
        },
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `1` - 1 day\n* `3` - 3 days\n* `7` - 7 days\n* `14` - 14 days\n* `30` - 30 days"
      }
    },
    "com.posthog.vision#DeliveryTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.vision#DeliveryTargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "Destination type: 'slack' posts to a Slack channel; 'webhook' POSTs a JSON payload to a URL.\n\n* `slack` - Slack\n* `webhook` - Webhook",
            "smithy.api#required": {}
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Slack Integration on this team used to deliver. Required when type is 'slack'."
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel ID or name the summary is posted to. Required when type is 'slack'."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTPS endpoint the summary is POSTed to as JSON. Required when type is 'webhook'. Redacted to scheme+host in responses for users without editor access to the scanner."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single delivery destination: a Slack channel or an HTTP webhook URL."
      }
    },
    "com.posthog.vision#DeliveryTargetTypeEnum": {
      "type": "enum",
      "members": {
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `slack` - Slack\n* `webhook` - Webhook"
      }
    },
    "com.posthog.vision#VisionActionDeliveryConfigList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#DeliveryTarget"
      },
      "traits": {
        "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
      }
    },
    "com.posthog.vision#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.vision#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.vision#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.vision#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.vision#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.vision#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.vision#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.vision#PaginatedVisionActionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VisionAction"
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionActions": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#ListVisionActionsRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedVisionActionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/actions/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionsCreateRequestDeliveryConfigList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#DeliveryTarget"
      },
      "traits": {
        "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
      }
    },
    "com.posthog.vision#CreateVisionActionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable action name. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "scanner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this action operates on. Must belong to the same team.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the scheduler skips this action."
          }
        },
        "is_scanner_digest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Marks this action as the scanner's built-in daily digest, the one summary surfaced on the scanner overview. At most one digest per scanner."
          }
        },
        "trigger_type": {
          "target": "com.posthog.vision#VisionActionTriggerTypeEnum",
          "traits": {
            "smithy.api#documentation": "What fires the action. MVP supports 'schedule' only.\n\n* `schedule` - Schedule\n* `threshold` - Threshold"
          }
        },
        "mode": {
          "target": "com.posthog.vision#VisionActionModeEnum",
          "traits": {
            "smithy.api#documentation": "What the action produces. MVP supports 'group_summary' only.\n\n* `group_summary` - Group summary\n* `alert` - Alert\n* `per_observation` - Per observation"
          }
        },
        "trigger_config": {
          "target": "com.posthog.vision#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "Trigger parameters. For schedule triggers: {rrule, timezone}."
          }
        },
        "selection": {
          "target": "com.posthog.vision#Selection",
          "traits": {
            "smithy.api#documentation": "Targeting predicate: which of the scanner's observations this action runs on."
          }
        },
        "synthesis_config": {
          "target": "com.posthog.vision#SynthesisConfig",
          "traits": {
            "smithy.api#documentation": "Synthesis options for the group summary, e.g. {prompt_guide}."
          }
        },
        "alert_config": {
          "target": "com.posthog.vision#AlertConfig",
          "traits": {
            "smithy.api#documentation": "Alert condition; required when mode is 'alert', ignored otherwise."
          }
        },
        "delivery_config": {
          "target": "com.posthog.vision#VisionActionsCreateRequestDeliveryConfigList",
          "traits": {
            "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#CreateVisionAction": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#CreateVisionActionRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAction"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/actions/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionActionsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAction"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/actions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionsPartialUpdateRequestDeliveryConfigList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#DeliveryTarget"
      },
      "traits": {
        "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
      }
    },
    "com.posthog.vision#UpdateVisionActionPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable action name. Unique within the team."
          }
        },
        "scanner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this action operates on. Must belong to the same team."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the scheduler skips this action."
          }
        },
        "is_scanner_digest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Marks this action as the scanner's built-in daily digest, the one summary surfaced on the scanner overview. At most one digest per scanner."
          }
        },
        "trigger_type": {
          "target": "com.posthog.vision#VisionActionTriggerTypeEnum",
          "traits": {
            "smithy.api#documentation": "What fires the action. MVP supports 'schedule' only.\n\n* `schedule` - Schedule\n* `threshold` - Threshold"
          }
        },
        "mode": {
          "target": "com.posthog.vision#VisionActionModeEnum",
          "traits": {
            "smithy.api#documentation": "What the action produces. MVP supports 'group_summary' only.\n\n* `group_summary` - Group summary\n* `alert` - Alert\n* `per_observation` - Per observation"
          }
        },
        "trigger_config": {
          "target": "com.posthog.vision#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "Trigger parameters. For schedule triggers: {rrule, timezone}."
          }
        },
        "selection": {
          "target": "com.posthog.vision#Selection",
          "traits": {
            "smithy.api#documentation": "Targeting predicate: which of the scanner's observations this action runs on."
          }
        },
        "synthesis_config": {
          "target": "com.posthog.vision#SynthesisConfig",
          "traits": {
            "smithy.api#documentation": "Synthesis options for the group summary, e.g. {prompt_guide}."
          }
        },
        "alert_config": {
          "target": "com.posthog.vision#AlertConfig",
          "traits": {
            "smithy.api#documentation": "Alert condition; required when mode is 'alert', ignored otherwise."
          }
        },
        "delivery_config": {
          "target": "com.posthog.vision#VisionActionsPartialUpdateRequestDeliveryConfigList",
          "traits": {
            "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#UpdateVisionActionPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#UpdateVisionActionPartialRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAction"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/vision/actions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionActionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/vision/actions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#CreateVisionActionRunRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#CreateVisionActionRun": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#CreateVisionActionRunRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/actions/{id}/run/",
          "code": 200
        },
        "smithy.api#documentation": "Run this summary now, without waiting for its schedule — synthesizes a group summary over the\nobservations since the last summary (or the last 24h). The recurring schedule is untouched: the\nengine advances next_run_at only at scheduled claim time, never in the run itself."
      }
    },
    "com.posthog.vision#ListVisionActionRunsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "vision_action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedVisionActionRunListList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedVisionActionRunListListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionActionRunList": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.vision#VisionActionRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Run outcome: running, completed, failed, or skipped.\n\n* `running` - Running\n* `completed` - Completed\n* `failed` - Failed\n* `skipped` - Skipped",
            "smithy.api#required": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled fire time this run was claimed for.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "observation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of observations that fed this run's summary.",
            "smithy.api#required": {}
          }
        },
        "error_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short human-readable reason a run skipped or failed; null on success.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_recovery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True for the run recording an alert's condition clearing after a breach (the recovery bookend in run history). False for alert firings and summaries.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lightweight run row for the per-action run list (no report body — that's fetched on retrieve)."
      }
    },
    "com.posthog.vision#VisionActionRunStatusEnum": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `running` - Running\n* `completed` - Completed\n* `failed` - Failed\n* `skipped` - Skipped"
      }
    },
    "com.posthog.vision#PaginatedVisionActionRunListListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VisionActionRunList"
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionActionRuns": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#ListVisionActionRunsRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedVisionActionRunListList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/actions/{vision_action_id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only run history for a single vision action (nested under /vision/actions/{action_id}/runs/)."
      }
    },
    "com.posthog.vision#VisionActionsRunsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "vision_action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionActionRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.vision#VisionActionRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Run outcome: running, completed, failed, or skipped.\n\n* `running` - Running\n* `completed` - Completed\n* `failed` - Failed\n* `skipped` - Skipped",
            "smithy.api#required": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled fire time this run was claimed for.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "observation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of observations that fed this run's summary.",
            "smithy.api#required": {}
          }
        },
        "error_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short human-readable reason a run skipped or failed; null on success.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_recovery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True for the run recording an alert's condition clearing after a breach (the recovery bookend in run history). False for alert firings and summaries.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "synthesized_markdown": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The synthesized group-summary report in Markdown. Empty until a run completes successfully.",
            "smithy.api#required": {}
          }
        },
        "observations": {
          "target": "com.posthog.vision#VisionActionRunObservationsList",
          "traits": {
            "smithy.api#documentation": "Recordings this run included in its summary, in summary order. Empty for runs recorded before this was tracked, and for skipped/failed runs.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Full run detail: the list fields plus the synthesized report and the recordings it summarized."
      }
    },
    "com.posthog.vision#RunObservation": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1-based reference number of this observation in the summary, stable across deletions. The synthesized report cites observations by this number (rendered like `[3]`), so consumers use it to resolve a citation to its observation.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Observation id; links to the observation detail view.",
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session recording id this observation was made on.",
            "smithy.api#required": {}
          }
        },
        "recording_subject_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the person in the recorded session, captured at scan time; null if unidentified.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short title from the observation's summary; null if the observation had none.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the observation was produced.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One recording an action run included in its summary — the 'recordings included' list on the run detail view."
      }
    },
    "com.posthog.vision#VisionActionRunObservationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#RunObservation"
      },
      "traits": {
        "smithy.api#documentation": "Recordings this run included in its summary, in summary order. Empty for runs recorded before this was tracked, and for skipped/failed runs."
      }
    },
    "com.posthog.vision#VisionActionsRunsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsRunsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionActionRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/actions/{vision_action_id}/runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only run history for a single vision action (nested under /vision/actions/{action_id}/runs/)."
      }
    },
    "com.posthog.vision#ListVisionAlertsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scanner_id",
            "smithy.api#documentation": "Only return alerts on this scanner."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedVisionAlertConfigurationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedVisionAlertConfigurationListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertConfiguration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for this alert.",
            "smithy.api#required": {}
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this alert watches. Immutable after creation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is active. Disabling a metric alert resets its state to not_firing."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertConfigurationKindEnum",
          "traits": {
            "smithy.api#documentation": "'metric' fires when a metric crosses a threshold over a rolling window; 'match' fires on every observation that matches the selection. Immutable after creation.\n\n* `metric` - Metric\n* `match` - Match",
            "smithy.api#required": {}
          }
        },
        "selection": {
          "target": "com.posthog.vision#VisionAlertSelection",
          "traits": {
            "smithy.api#documentation": "Which observations count. Empty matches every observation of the scanner."
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertConfigurationMetricEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: what to measure over the window. 'avg_score' requires a scorer scanner.\n\n* `count` - Count matching observations\n* `avg_score` - Average score"
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: whether the alert fires at or above, or at or below, the threshold.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: the threshold value. Required for metric alerts, must be omitted for match alerts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: rolling window in days. Allowed values: [1, 3, 7, 14, 30]."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: evaluation cadence in minutes, at least 15."
          }
        },
        "state": {
          "target": "com.posthog.vision#LogsAlertConfigurationStateEnum",
          "traits": {
            "smithy.api#documentation": "Current lifecycle state. Always not_firing for match alerts. Server-managed.\n\n* `not_firing` - Not firing\n* `firing` - Firing\n* `pending_resolve` - Pending resolve\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken",
            "smithy.api#required": {}
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: total check periods in the sliding evaluation window (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: how many periods must breach to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: minimum minutes between repeated notifications. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.vision#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not notify. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_check_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the next evaluation is scheduled. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_notified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the last notification was sent. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_checked_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last evaluated. Server-managed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "consecutive_failures": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Consecutive evaluation failures. Resets on success. Server-managed.",
            "smithy.api#required": {}
          }
        },
        "first_enabled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was first enabled. Null means still a draft.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was created.",
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.vision#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the alert was last modified.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertConfigurationKindEnum": {
      "type": "enum",
      "members": {
        "METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metric"
          }
        },
        "MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "match"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `metric` - Metric\n* `match` - Match"
      }
    },
    "com.posthog.vision#VisionAlertSelection": {
      "type": "structure",
      "members": {
        "verdict": {
          "target": "com.posthog.vision#VisionAlertSelectionVerdictList",
          "traits": {
            "smithy.api#documentation": "Monitor verdicts to match, e.g. ['yes']."
          }
        },
        "tags": {
          "target": "com.posthog.vision#VisionAlertSelectionTagsList",
          "traits": {
            "smithy.api#documentation": "Classifier tags to match; an observation matches when it carries any of them."
          }
        },
        "min_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum scorer score (inclusive)."
          }
        },
        "max_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum scorer score (inclusive)."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertSelectionVerdictList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Monitor verdicts to match, e.g. ['yes']."
      }
    },
    "com.posthog.vision#VisionAlertSelectionTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Classifier tags to match; an observation matches when it carries any of them."
      }
    },
    "com.posthog.vision#VisionAlertConfigurationMetricEnum": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "AVG_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg_score"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `count` - Count matching observations\n* `avg_score` - Average score"
      }
    },
    "com.posthog.vision#LogsAlertConfigurationStateEnum": {
      "type": "enum",
      "members": {
        "NOT_FIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_firing"
          }
        },
        "FIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firing"
          }
        },
        "PENDING_RESOLVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_resolve"
          }
        },
        "ERRORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "errored"
          }
        },
        "SNOOZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snoozed"
          }
        },
        "BROKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "broken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `not_firing` - Not firing\n* `firing` - Firing\n* `pending_resolve` - Pending resolve\n* `errored` - Errored\n* `snoozed` - Snoozed\n* `broken` - Broken"
      }
    },
    "com.posthog.vision#AlertScheduleRestriction": {
      "type": "structure",
      "members": {
        "blocked_windows": {
          "target": "com.posthog.vision#AlertScheduleRestrictionBlockedWindowsList",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not run. Overlapping or identical windows are merged when saved. At most five windows before normalization; empty array clears quiet hours."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#AlertScheduleRestrictionWindow": {
      "type": "structure",
      "members": {
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start time HH:MM (24-hour, project timezone). Inclusive. Each window must span ≥ 30 minutes on the local daily timeline (half-open [start, end))."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End time HH:MM (24-hour). Exclusive (half-open interval). Each window must span ≥ 30 minutes locally."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#AlertScheduleRestrictionBlockedWindowsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#AlertScheduleRestrictionWindow"
      },
      "traits": {
        "smithy.api#documentation": "Blocked local time windows when the alert must not run. Overlapping or identical windows are merged when saved. At most five windows before normalization; empty array clears quiet hours."
      }
    },
    "com.posthog.vision#PaginatedVisionAlertConfigurationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionAlerts": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#ListVisionAlertsRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedVisionAlertConfigurationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/alerts/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#CreateVisionAlertRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this alert watches. Immutable after creation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is active. Disabling a metric alert resets its state to not_firing."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertConfigurationKindEnum",
          "traits": {
            "smithy.api#documentation": "'metric' fires when a metric crosses a threshold over a rolling window; 'match' fires on every observation that matches the selection. Immutable after creation.\n\n* `metric` - Metric\n* `match` - Match",
            "smithy.api#required": {}
          }
        },
        "selection": {
          "target": "com.posthog.vision#VisionAlertSelection",
          "traits": {
            "smithy.api#documentation": "Which observations count. Empty matches every observation of the scanner."
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertConfigurationMetricEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: what to measure over the window. 'avg_score' requires a scorer scanner.\n\n* `count` - Count matching observations\n* `avg_score` - Average score"
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: whether the alert fires at or above, or at or below, the threshold.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: the threshold value. Required for metric alerts, must be omitted for match alerts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: rolling window in days. Allowed values: [1, 3, 7, 14, 30]."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: evaluation cadence in minutes, at least 15."
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: total check periods in the sliding evaluation window (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: how many periods must breach to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: minimum minutes between repeated notifications. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.vision#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not notify. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#CreateVisionAlert": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#CreateVisionAlertRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/alerts/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#VisionAlertsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionAlertsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionAlertsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#UpdateVisionAlertRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this alert watches. Immutable after creation.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is active. Disabling a metric alert resets its state to not_firing."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertConfigurationKindEnum",
          "traits": {
            "smithy.api#documentation": "'metric' fires when a metric crosses a threshold over a rolling window; 'match' fires on every observation that matches the selection. Immutable after creation.\n\n* `metric` - Metric\n* `match` - Match",
            "smithy.api#required": {}
          }
        },
        "selection": {
          "target": "com.posthog.vision#VisionAlertSelection",
          "traits": {
            "smithy.api#documentation": "Which observations count. Empty matches every observation of the scanner."
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertConfigurationMetricEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: what to measure over the window. 'avg_score' requires a scorer scanner.\n\n* `count` - Count matching observations\n* `avg_score` - Average score"
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: whether the alert fires at or above, or at or below, the threshold.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: the threshold value. Required for metric alerts, must be omitted for match alerts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: rolling window in days. Allowed values: [1, 3, 7, 14, 30]."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: evaluation cadence in minutes, at least 15."
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: total check periods in the sliding evaluation window (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: how many periods must breach to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: minimum minutes between repeated notifications. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.vision#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not notify. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#UpdateVisionAlert": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#UpdateVisionAlertRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#UpdateVisionAlertPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this alert watches. Immutable after creation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name for this alert. Defaults to 'Untitled alert' on create when omitted."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the alert is active. Disabling a metric alert resets its state to not_firing."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertConfigurationKindEnum",
          "traits": {
            "smithy.api#documentation": "'metric' fires when a metric crosses a threshold over a rolling window; 'match' fires on every observation that matches the selection. Immutable after creation.\n\n* `metric` - Metric\n* `match` - Match"
          }
        },
        "selection": {
          "target": "com.posthog.vision#VisionAlertSelection",
          "traits": {
            "smithy.api#documentation": "Which observations count. Empty matches every observation of the scanner."
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertConfigurationMetricEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: what to measure over the window. 'avg_score' requires a scorer scanner.\n\n* `count` - Count matching observations\n* `avg_score` - Average score"
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: whether the alert fires at or above, or at or below, the threshold.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: the threshold value. Required for metric alerts, must be omitted for match alerts.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "window_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: rolling window in days. Allowed values: [1, 3, 7, 14, 30]."
          }
        },
        "check_interval_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: evaluation cadence in minutes, at least 15."
          }
        },
        "evaluation_periods": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: total check periods in the sliding evaluation window (M in N-of-M)."
          }
        },
        "datapoints_to_alarm": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: how many periods must breach to fire (N in N-of-M)."
          }
        },
        "cooldown_minutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Metric alerts only: minimum minutes between repeated notifications. 0 means no cooldown."
          }
        },
        "schedule_restriction": {
          "target": "com.posthog.vision#AlertScheduleRestriction",
          "traits": {
            "smithy.api#documentation": "Blocked local time windows when the alert must not notify. Times use the project timezone. Null disables quiet hours.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "snooze_until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ISO 8601 timestamp until which the alert is snoozed. Set to null to unsnooze.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#UpdateVisionAlertPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#UpdateVisionAlertPartialRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#VisionAlertsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionAlertsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionAlertsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#VisionAlertCreateDestinationTypeEnum": {
      "type": "enum",
      "members": {
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webhook"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `slack` - slack\n* `webhook` - webhook"
      }
    },
    "com.posthog.vision#CreateVisionAlertDestinationRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "type": {
          "target": "com.posthog.vision#VisionAlertCreateDestinationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Notification destination type.\n\n* `slack` - slack\n* `webhook` - webhook",
            "smithy.api#required": {}
          }
        },
        "slack_workspace_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Integration ID for the Slack workspace. Required when type=slack."
          }
        },
        "slack_channel_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel ID. Required when type=slack."
          }
        },
        "slack_channel_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable channel name for display."
          }
        },
        "webhook_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HTTPS endpoint to post to. Required when type=webhook."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionAlertDestinationResponse": {
      "type": "structure",
      "members": {
        "hog_function_ids": {
          "target": "com.posthog.vision#VisionAlertDestinationResponseHogFunctionIdsList",
          "traits": {
            "smithy.api#documentation": "HogFunctions backing the created destination, one per event kind.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertDestinationResponseHogFunctionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "HogFunctions backing the created destination, one per event kind."
      }
    },
    "com.posthog.vision#CreateVisionAlertDestination": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#CreateVisionAlertDestinationRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertDestinationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/destinations/",
          "code": 200
        },
        "smithy.api#documentation": "Create a notification destination for this alert. One HogFunction is created per alert event kind atomically."
      }
    },
    "com.posthog.vision#VisionAlertsDestinationsDeleteCreateRequestHogFunctionIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "HogFunction IDs to delete as one atomic destination group."
      }
    },
    "com.posthog.vision#VisionAlertsDestinationsDeleteCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "hog_function_ids": {
          "target": "com.posthog.vision#VisionAlertsDestinationsDeleteCreateRequestHogFunctionIdsList",
          "traits": {
            "smithy.api#documentation": "HogFunction IDs to delete as one atomic destination group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionAlertsDestinationsDeleteCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionAlertsDestinationsDeleteCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/destinations/delete/",
          "code": 200
        },
        "smithy.api#documentation": "Delete a notification destination by deleting its HogFunction group atomically."
      }
    },
    "com.posthog.vision#VisionAlertsEventsListRequestKind": {
      "type": "enum",
      "members": {
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check"
          }
        },
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        },
        "RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reset"
          }
        },
        "SNOOZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snooze"
          }
        },
        "THRESHOLD_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "threshold_change"
          }
        },
        "UNSNOOZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsnooze"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionAlertEventsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertsEventsListRequestKind",
          "traits": {
            "smithy.api#httpQuery": "kind",
            "smithy.api#documentation": "Narrow the history to one event kind."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedVisionAlertEventList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedVisionAlertEventListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertEvent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.posthog.vision#VisionAlertEventKindEnum",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "state_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "threshold_breached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "metric_value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "error_message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAlertEventKindEnum": {
      "type": "enum",
      "members": {
        "CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "check"
          }
        },
        "RESET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reset"
          }
        },
        "ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enable"
          }
        },
        "DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disable"
          }
        },
        "SNOOZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snooze"
          }
        },
        "UNSNOOZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unsnooze"
          }
        },
        "THRESHOLD_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "threshold_change"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `check` - Check\n* `reset` - Reset\n* `enable` - Enable\n* `disable` - Disable\n* `snooze` - Snooze\n* `unsnooze` - Unsnooze\n* `threshold_change` - Threshold change"
      }
    },
    "com.posthog.vision#PaginatedVisionAlertEventListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VisionAlertEvent"
      },
      "traits": {}
    },
    "com.posthog.vision#ListVisionAlertEvents": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#ListVisionAlertEventsRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedVisionAlertEventList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/events/",
          "code": 200
        },
        "smithy.api#documentation": "Paginated event history for this alert, newest first. Quiet no-op check rows (no state change, no error) are filtered out. Optional `?kind=...` narrows to one kind."
      }
    },
    "com.posthog.vision#CreateVisionAlertResetRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision alert configuration."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#CreateVisionAlertReset": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#CreateVisionAlertResetRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAlertConfiguration"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/alerts/{id}/reset/",
          "code": 200
        },
        "smithy.api#documentation": "Reset a broken alert. Clears the consecutive-failure counter and schedules an immediate recheck."
      }
    },
    "com.posthog.vision#VisionObservationsListRequestOrderBy": {
      "type": "enum",
      "members": {
        "COMPLETED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-completed_at"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-label"
          }
        },
        "RECORDING_SUBJECT_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-recording_subject_email"
          }
        },
        "RESULT_CONFIDENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_confidence"
          }
        },
        "RESULT_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_score"
[...]
