{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.vision#VisionActionsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "scanner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scanner",
            "smithy.api#documentation": "Filter to the actions belonging to one scanner."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedVisionActionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedVisionActionListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionAction": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable action name. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "scanner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this action operates on. Must belong to the same team.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the scheduler skips this action."
          }
        },
        "is_scanner_digest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Marks this action as the scanner's built-in daily digest, the one summary surfaced on the scanner overview. At most one digest per scanner."
          }
        },
        "trigger_type": {
          "target": "com.posthog.vision#VisionActionTriggerTypeEnum",
          "traits": {
            "smithy.api#documentation": "What fires the action. MVP supports 'schedule' only.\n\n* `schedule` - Schedule\n* `threshold` - Threshold"
          }
        },
        "mode": {
          "target": "com.posthog.vision#VisionActionModeEnum",
          "traits": {
            "smithy.api#documentation": "What the action produces. MVP supports 'group_summary' only.\n\n* `group_summary` - Group summary\n* `alert` - Alert\n* `per_observation` - Per observation"
          }
        },
        "trigger_config": {
          "target": "com.posthog.vision#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "Trigger parameters. For schedule triggers: {rrule, timezone}."
          }
        },
        "selection": {
          "target": "com.posthog.vision#Selection",
          "traits": {
            "smithy.api#documentation": "Targeting predicate: which of the scanner's observations this action runs on."
          }
        },
        "synthesis_config": {
          "target": "com.posthog.vision#SynthesisConfig",
          "traits": {
            "smithy.api#documentation": "Synthesis options for the group summary, e.g. {prompt_guide}."
          }
        },
        "alert_config": {
          "target": "com.posthog.vision#AlertConfig",
          "traits": {
            "smithy.api#documentation": "Alert condition; required when mode is 'alert', ignored otherwise."
          }
        },
        "delivery_config": {
          "target": "com.posthog.vision#VisionActionDeliveryConfigList",
          "traits": {
            "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
          }
        },
        "next_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Computed next fire time for schedule triggers; the scheduler scans this.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_run_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the most recent run, or null if it has never run.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hog_flow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the delivery flow provisioned for this action. Null until delivery is wired up.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.vision#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the action.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Replay Vision action: a scheduled \"and then…\" automation over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionTriggerTypeEnum": {
      "type": "enum",
      "members": {
        "SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "schedule"
          }
        },
        "THRESHOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "threshold"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `schedule` - Schedule\n* `threshold` - Threshold"
      }
    },
    "com.posthog.vision#VisionActionModeEnum": {
      "type": "enum",
      "members": {
        "GROUP_SUMMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "group_summary"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert"
          }
        },
        "PER_OBSERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "per_observation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `group_summary` - Group summary\n* `alert` - Alert\n* `per_observation` - Per observation"
      }
    },
    "com.posthog.vision#TriggerConfig": {
      "type": "structure",
      "members": {
        "rrule": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "iCal RRULE string controlling the schedule cadence (no DTSTART — the start is managed separately)."
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IANA timezone name the RRULE is expanded in, e.g. 'Europe/Prague'. Defaults to 'UTC'."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schedule trigger parameters. Threshold triggers are reserved and rejected at the API for now."
      }
    },
    "com.posthog.vision#Selection": {
      "type": "structure",
      "members": {
        "scanner_ids": {
          "target": "com.posthog.vision#SelectionScannerIdsList",
          "traits": {
            "smithy.api#documentation": "Restrict to observations produced by these scanner IDs. Defaults to the bound scanner."
          }
        },
        "verdict": {
          "target": "com.posthog.vision#SelectionVerdictList",
          "traits": {
            "smithy.api#documentation": "Only run on monitor observations with one of these verdicts (yes/no/inconclusive)."
          }
        },
        "tags": {
          "target": "com.posthog.vision#SelectionTagsList",
          "traits": {
            "smithy.api#documentation": "Only run on classifier observations carrying any of these tags (fixed or freeform)."
          }
        },
        "min_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Only run on scorer observations with a score at or above this value (inclusive)."
          }
        },
        "max_score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Only run on scorer observations with a score at or below this value (inclusive)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The action's targeting predicate (\"run this on…\") applied when gathering observations. All keys\noptional; this typed shape is the allowlist, so unknown input keys are dropped rather than persisted."
      }
    },
    "com.posthog.vision#SelectionScannerIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Restrict to observations produced by these scanner IDs. Defaults to the bound scanner."
      }
    },
    "com.posthog.vision#VerdictEnum": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no"
          }
        },
        "INCONCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inconclusive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `yes` - yes\n* `no` - no\n* `inconclusive` - inconclusive"
      }
    },
    "com.posthog.vision#SelectionVerdictList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VerdictEnum"
      },
      "traits": {
        "smithy.api#documentation": "Only run on monitor observations with one of these verdicts (yes/no/inconclusive)."
      }
    },
    "com.posthog.vision#SelectionTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Only run on classifier observations carrying any of these tags (fixed or freeform)."
      }
    },
    "com.posthog.vision#SynthesisConfig": {
      "type": "structure",
      "members": {
        "prompt_guide": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form guidance steering how the group summary is written."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for the group-summary synthesis step."
      }
    },
    "com.posthog.vision#AlertConfig": {
      "type": "structure",
      "members": {
        "frequency": {
          "target": "com.posthog.vision#AlertConfigFrequencyEnum",
          "traits": {
            "smithy.api#documentation": "'every_match' notifies about every new matching observation (batched per check); 'on_breach' notifies once when the threshold condition starts holding. Defaults to 'on_breach'.\n\n* `every_match` - Every new match\n* `on_breach` - When a threshold is crossed"
          }
        },
        "metric": {
          "target": "com.posthog.vision#VisionAlertMetricEnum",
          "traits": {
            "smithy.api#documentation": "What to measure over the window: 'count' of targeted observations, or 'avg_score' (the mean scorer score; scorer scanners only). every_match supports 'count' only.\n\n* `count` - Count of matching observations\n* `avg_score` - Average score"
          }
        },
        "threshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The alert fires when the metric is at or above ('above') or at or below ('below') this value, per 'direction'. Required for on_breach; ignored for every_match."
          }
        },
        "direction": {
          "target": "com.posthog.vision#VisionAlertDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Which side of the threshold breaches: 'above' fires when the metric is at or above it, 'below' when at or below (e.g. an average score dropping under a floor). Both inclusive. Defaults to 'above'; ignored for every_match.\n\n* `above` - At or above\n* `below` - At or below"
          }
        },
        "window_days": {
          "target": "com.posthog.vision#WindowDaysEnum",
          "traits": {
            "smithy.api#documentation": "Rolling lookback window for on_breach conditions, ending at each check. Defaults to 1 day. every_match ignores it (each check covers what's new since the previous one).\n\n* `1` - 1 day\n* `3` - 3 days\n* `7` - 7 days\n* `14` - 14 days\n* `30` - 30 days"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The alert condition for mode='alert', applied after `selection` targeting. 'every_match'\nnotifies about each new match since the previous check; 'on_breach' compares a metric to a\nthreshold over a rolling window and notifies on the transition into breach."
      }
    },
    "com.posthog.vision#AlertConfigFrequencyEnum": {
      "type": "enum",
      "members": {
        "EVERY_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "every_match"
          }
        },
        "ON_BREACH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on_breach"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `every_match` - Every new match\n* `on_breach` - When a threshold is crossed"
      }
    },
    "com.posthog.vision#VisionAlertMetricEnum": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "AVG_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg_score"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `count` - Count of matching observations\n* `avg_score` - Average score"
      }
    },
    "com.posthog.vision#VisionAlertDirectionEnum": {
      "type": "enum",
      "members": {
        "ABOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "above"
          }
        },
        "BELOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "below"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `above` - At or above\n* `below` - At or below"
      }
    },
    "com.posthog.vision#WindowDaysEnum": {
      "type": "intEnum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        },
        "_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 3
          }
        },
        "_7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 7
          }
        },
        "_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 14
          }
        },
        "_30": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 30
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `1` - 1 day\n* `3` - 3 days\n* `7` - 7 days\n* `14` - 14 days\n* `30` - 30 days"
      }
    },
    "com.posthog.vision#DeliveryTarget": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.posthog.vision#DeliveryTargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "Destination channel type. MVP supports 'slack' only.\n\n* `slack` - Slack",
            "smithy.api#required": {}
          }
        },
        "integration_id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "ID of the Slack Integration on this team used to deliver the summary.",
            "smithy.api#required": {}
          }
        },
        "channel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack channel ID or name the summary is posted to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A single delivery destination. MVP supports Slack only."
      }
    },
    "com.posthog.vision#DeliveryTargetTypeEnum": {
      "type": "enum",
      "members": {
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `slack` - Slack"
      }
    },
    "com.posthog.vision#VisionActionDeliveryConfigList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#DeliveryTarget"
      },
      "traits": {
        "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
      }
    },
    "com.posthog.vision#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.vision#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.vision#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.vision#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `other` - Other"
      }
    },
    "com.posthog.vision#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.vision#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.vision#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.vision#PaginatedVisionActionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VisionAction"
      },
      "traits": {}
    },
    "com.posthog.vision#VisionActionsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsListRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedVisionActionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/actions/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionsCreateRequestDeliveryConfigList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#DeliveryTarget"
      },
      "traits": {
        "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
      }
    },
    "com.posthog.vision#VisionActionsCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable action name. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "scanner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this action operates on. Must belong to the same team.",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the scheduler skips this action."
          }
        },
        "is_scanner_digest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Marks this action as the scanner's built-in daily digest, the one summary surfaced on the scanner overview. At most one digest per scanner."
          }
        },
        "trigger_type": {
          "target": "com.posthog.vision#VisionActionTriggerTypeEnum",
          "traits": {
            "smithy.api#documentation": "What fires the action. MVP supports 'schedule' only.\n\n* `schedule` - Schedule\n* `threshold` - Threshold"
          }
        },
        "mode": {
          "target": "com.posthog.vision#VisionActionModeEnum",
          "traits": {
            "smithy.api#documentation": "What the action produces. MVP supports 'group_summary' only.\n\n* `group_summary` - Group summary\n* `alert` - Alert\n* `per_observation` - Per observation"
          }
        },
        "trigger_config": {
          "target": "com.posthog.vision#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "Trigger parameters. For schedule triggers: {rrule, timezone}."
          }
        },
        "selection": {
          "target": "com.posthog.vision#Selection",
          "traits": {
            "smithy.api#documentation": "Targeting predicate: which of the scanner's observations this action runs on."
          }
        },
        "synthesis_config": {
          "target": "com.posthog.vision#SynthesisConfig",
          "traits": {
            "smithy.api#documentation": "Synthesis options for the group summary, e.g. {prompt_guide}."
          }
        },
        "alert_config": {
          "target": "com.posthog.vision#AlertConfig",
          "traits": {
            "smithy.api#documentation": "Alert condition; required when mode is 'alert', ignored otherwise."
          }
        },
        "delivery_config": {
          "target": "com.posthog.vision#VisionActionsCreateRequestDeliveryConfigList",
          "traits": {
            "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionActionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsCreateRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAction"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/actions/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionActionsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAction"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/actions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionsPartialUpdateRequestDeliveryConfigList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#DeliveryTarget"
      },
      "traits": {
        "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
      }
    },
    "com.posthog.vision#VisionActionsPartialUpdateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable action name. Unique within the team."
          }
        },
        "scanner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner whose observations this action operates on. Must belong to the same team."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the scheduler skips this action."
          }
        },
        "is_scanner_digest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Marks this action as the scanner's built-in daily digest, the one summary surfaced on the scanner overview. At most one digest per scanner."
          }
        },
        "trigger_type": {
          "target": "com.posthog.vision#VisionActionTriggerTypeEnum",
          "traits": {
            "smithy.api#documentation": "What fires the action. MVP supports 'schedule' only.\n\n* `schedule` - Schedule\n* `threshold` - Threshold"
          }
        },
        "mode": {
          "target": "com.posthog.vision#VisionActionModeEnum",
          "traits": {
            "smithy.api#documentation": "What the action produces. MVP supports 'group_summary' only.\n\n* `group_summary` - Group summary\n* `alert` - Alert\n* `per_observation` - Per observation"
          }
        },
        "trigger_config": {
          "target": "com.posthog.vision#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "Trigger parameters. For schedule triggers: {rrule, timezone}."
          }
        },
        "selection": {
          "target": "com.posthog.vision#Selection",
          "traits": {
            "smithy.api#documentation": "Targeting predicate: which of the scanner's observations this action runs on."
          }
        },
        "synthesis_config": {
          "target": "com.posthog.vision#SynthesisConfig",
          "traits": {
            "smithy.api#documentation": "Synthesis options for the group summary, e.g. {prompt_guide}."
          }
        },
        "alert_config": {
          "target": "com.posthog.vision#AlertConfig",
          "traits": {
            "smithy.api#documentation": "Alert condition; required when mode is 'alert', ignored otherwise."
          }
        },
        "delivery_config": {
          "target": "com.posthog.vision#VisionActionsPartialUpdateRequestDeliveryConfigList",
          "traits": {
            "smithy.api#documentation": "List of delivery destinations the synthesized summary is sent to."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionActionsPartialUpdate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsPartialUpdateRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionAction"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/vision/actions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionActionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/vision/actions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "CRUD for Replay Vision actions — scheduled \"and then…\" automations over a scanner's observations."
      }
    },
    "com.posthog.vision#VisionActionsRunCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionActionsRunCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsRunCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/actions/{id}/run/",
          "code": 200
        },
        "smithy.api#documentation": "Run this summary now, without waiting for its schedule — synthesizes a group summary over the\nobservations since the last summary (or the last 24h). The recurring schedule is untouched: the\nengine advances next_run_at only at scheduled claim time, never in the run itself."
      }
    },
    "com.posthog.vision#VisionActionsRunsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "vision_action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedVisionActionRunListList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedVisionActionRunListListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionActionRunList": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.vision#VisionActionRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Run outcome: running, completed, failed, or skipped.\n\n* `running` - Running\n* `completed` - Completed\n* `failed` - Failed\n* `skipped` - Skipped",
            "smithy.api#required": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled fire time this run was claimed for.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "observation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of observations that fed this run's summary.",
            "smithy.api#required": {}
          }
        },
        "error_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short human-readable reason a run skipped or failed; null on success.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_recovery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True for the run recording an alert's condition clearing after a breach (the recovery bookend in run history). False for alert firings and summaries.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Lightweight run row for the per-action run list (no report body — that's fetched on retrieve)."
      }
    },
    "com.posthog.vision#VisionActionRunStatusEnum": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `running` - Running\n* `completed` - Completed\n* `failed` - Failed\n* `skipped` - Skipped"
      }
    },
    "com.posthog.vision#PaginatedVisionActionRunListListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#VisionActionRunList"
      },
      "traits": {}
    },
    "com.posthog.vision#VisionActionsRunsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsRunsListRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedVisionActionRunListList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/actions/{vision_action_id}/runs/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only run history for a single vision action (nested under /vision/actions/{action_id}/runs/)."
      }
    },
    "com.posthog.vision#VisionActionsRunsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "vision_action_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this vision action run."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionActionRun": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.vision#VisionActionRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Run outcome: running, completed, failed, or skipped.\n\n* `running` - Running\n* `completed` - Completed\n* `failed` - Failed\n* `skipped` - Skipped",
            "smithy.api#required": {}
          }
        },
        "scheduled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled fire time this run was claimed for.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "observation_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of observations that fed this run's summary.",
            "smithy.api#required": {}
          }
        },
        "error_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short human-readable reason a run skipped or failed; null on success.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_recovery": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True for the run recording an alert's condition clearing after a breach (the recovery bookend in run history). False for alert firings and summaries.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "synthesized_markdown": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The synthesized group-summary report in Markdown. Empty until a run completes successfully.",
            "smithy.api#required": {}
          }
        },
        "observations": {
          "target": "com.posthog.vision#VisionActionRunObservationsList",
          "traits": {
            "smithy.api#documentation": "Recordings this run included in its summary, in summary order. Empty for runs recorded before this was tracked, and for skipped/failed runs.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Full run detail: the list fields plus the synthesized report and the recordings it summarized."
      }
    },
    "com.posthog.vision#RunObservation": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "1-based reference number of this observation in the summary, stable across deletions. The synthesized report cites observations by this number (rendered like `[3]`), so consumers use it to resolve a citation to its observation.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Observation id; links to the observation detail view.",
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session recording id this observation was made on.",
            "smithy.api#required": {}
          }
        },
        "recording_subject_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the person in the recorded session, captured at scan time; null if unidentified.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Short title from the observation's summary; null if the observation had none.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the observation was produced.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "One recording an action run included in its summary — the 'recordings included' list on the run detail view."
      }
    },
    "com.posthog.vision#VisionActionRunObservationsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#RunObservation"
      },
      "traits": {
        "smithy.api#documentation": "Recordings this run included in its summary, in summary order. Empty for runs recorded before this was tracked, and for skipped/failed runs."
      }
    },
    "com.posthog.vision#VisionActionsRunsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionActionsRunsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionActionRun"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/actions/{vision_action_id}/runs/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only run history for a single vision action (nested under /vision/actions/{action_id}/runs/)."
      }
    },
    "com.posthog.vision#VisionObservationsListRequestOrderBy": {
      "type": "enum",
      "members": {
        "COMPLETED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-completed_at"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-label"
          }
        },
        "RECORDING_SUBJECT_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-recording_subject_email"
          }
        },
        "RESULT_CONFIDENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_confidence"
          }
        },
        "RESULT_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_score"
          }
        },
        "RESULT_VERDICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_verdict"
          }
        },
        "SCANNER_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-scanner_version"
          }
        },
        "STARTED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-started_at"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-status"
          }
        },
        "COMPLETED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed_at"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "LABEL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        },
        "RECORDING_SUBJECT_EMAIL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recording_subject_email"
          }
        },
        "RESULT_CONFIDENCE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_confidence"
          }
        },
        "RESULT_SCORE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_score"
          }
        },
        "RESULT_VERDICT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_verdict"
          }
        },
        "SCANNER_VERSION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scanner_version"
          }
        },
        "STARTED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started_at"
          }
        },
        "STATUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionObservationsListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order_by": {
          "target": "com.posthog.vision#VisionObservationsListRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Sort observations. Plain keys: created_at, started_at, completed_at, status, recording_subject_email. JSONB keys: result_score (scorer), result_verdict (monitor), result_confidence, scanner_version. Prefix with `-` for descending; nullable keys sort nulls last either way."
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "session_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "Session recording id to return observations for."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedReplayObservationList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedReplayObservationListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#ReplayObservation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scanner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scanner that produced this observation.",
            "smithy.api#required": {}
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session recording id this scanner was applied to.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.posthog.vision#ObservationStatusEnum",
          "traits": {
            "smithy.api#documentation": "Observation status (pending, running, succeeded, failed, ineligible).\n\n* `pending` - Pending\n* `running` - Running\n* `succeeded` - Succeeded\n* `failed` - Failed\n* `ineligible` - Ineligible",
            "smithy.api#required": {}
          }
        },
        "error_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Populated on terminal non-success statuses; formatted as `kind:human-readable message`. For `ineligible`, kind is one of no_recording / too_short / too_inactive / too_long / no_events. For `failed`, kind is one of provider_transient / provider_rejected / rasterization_failed / validation_failed / internal_error / orphaned.",
            "smithy.api#required": {}
          }
        },
        "workflow_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Temporal workflow id for progress queries and debugging. Empty until the workflow starts.",
            "smithy.api#required": {}
          }
        },
        "scanner_snapshot": {
          "target": "com.posthog.vision#ScannerSnapshot",
          "traits": {
            "smithy.api#documentation": "Frozen view of the scanner at run time; scanner edits do not retroactively mutate this observation.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "scanner_result": {
          "target": "com.posthog.vision#ScannerResult",
          "traits": {
            "smithy.api#documentation": "Result data persisted on success; null until the observation succeeds.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "triggered_by": {
          "target": "com.posthog.vision#ObservationTriggerEnum",
          "traits": {
            "smithy.api#documentation": "Whether this observation came from the schedule, an on-demand request, or a retry of a failed observation.\n\n* `schedule` - Schedule\n* `on_demand` - On demand\n* `retry` - Retry",
            "smithy.api#required": {}
          }
        },
        "triggered_by_user": {
          "target": "com.posthog.vision#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who triggered an on-demand observation; null for scheduled observations.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Distinct id of the person in the recorded session (the subject being watched); null if unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "recording_subject_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Email of the person in the recorded session (the subject being watched, not the user who triggered the observation), captured at scan time. Null when the session had no identified person.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous_observation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the preceding sibling observation for the same scanner (prev/next nav), honoring any list filters and ordering passed to retrieve; only set on retrieve, null at the start of the set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "next_observation_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Id of the following sibling observation for the same scanner (prev/next nav), honoring any list filters and ordering passed to retrieve; only set on retrieve, null at the end of the set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "label": {
          "target": "com.posthog.vision#ReplayObservationLabel",
          "traits": {
            "smithy.api#documentation": "The team's shared label on this observation (correct/incorrect + feedback), or null if unlabeled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "started_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "completed_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#ObservationStatusEnum": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "INELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ineligible"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `pending` - Pending\n* `running` - Running\n* `succeeded` - Succeeded\n* `failed` - Failed\n* `ineligible` - Ineligible"
      }
    },
    "com.posthog.vision#ScannerSnapshot": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Scanner name at run time.",
            "smithy.api#required": {}
          }
        },
        "scanner_type": {
          "target": "com.posthog.vision#ScannerTypeEnum",
          "traits": {
            "smithy.api#documentation": "Scanner type (monitor, classifier, scorer, summarizer) at run time.\n\n* `monitor` - Monitor\n* `classifier` - Classifier\n* `scorer` - Scorer\n* `summarizer` - Summarizer",
            "smithy.api#required": {}
          }
        },
        "scanner_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The `ReplayScanner.scanner_version` value at the moment the workflow ran.",
            "smithy.api#required": {}
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Concrete model that ran the observation; historical rows may carry since-retired model ids.",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Concrete provider that ran the observation; historical rows may carry since-retired providers.",
            "smithy.api#required": {}
          }
        },
        "emits_signals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the observation was run with Signal emission enabled.",
            "smithy.api#required": {}
          }
        },
        "scanner_config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Scanner-type-specific configuration at run time (prompt, tags, scale, etc.).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mirrors `temporal.types.ScannerSnapshot` for OpenAPI generation."
      }
    },
    "com.posthog.vision#ScannerTypeEnum": {
      "type": "enum",
      "members": {
        "MONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monitor"
          }
        },
        "CLASSIFIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "classifier"
          }
        },
        "SCORER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scorer"
          }
        },
        "SUMMARIZER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "summarizer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `monitor` - Monitor\n* `classifier` - Classifier\n* `scorer` - Scorer\n* `summarizer` - Summarizer"
      }
    },
    "com.posthog.vision#ScannerResult": {
      "type": "structure",
      "members": {
        "model_output": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Validated scanner output. Shape depends on `scanner_snapshot.scanner_type`; always carries `confidence` and `scanner_type`.",
            "smithy.api#required": {}
          }
        },
        "signals_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of PostHog Signals emitted from this observation.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mirrors `temporal.types.ScannerResult` for OpenAPI generation."
      }
    },
    "com.posthog.vision#ObservationTriggerEnum": {
      "type": "enum",
      "members": {
        "SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "schedule"
          }
        },
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on_demand"
          }
        },
        "RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retry"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `schedule` - Schedule\n* `on_demand` - On demand\n* `retry` - Retry"
      }
    },
    "com.posthog.vision#ReplayObservationLabel": {
      "type": "structure",
      "members": {
        "is_correct": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the scanner scored this session correctly, false if not.",
            "smithy.api#required": {}
          }
        },
        "feedback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional written context on the rating, for thumbs-up and thumbs-down alike: what the scanner got right or wrong, or what it should have concluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team's shared judgement on whether the scanner scored this session correctly."
      }
    },
    "com.posthog.vision#PaginatedReplayObservationListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.vision#ReplayObservation"
      },
      "traits": {}
    },
    "com.posthog.vision#VisionObservationsList": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionObservationsListRequest"
      },
      "output": {
        "target": "com.posthog.vision#PaginatedReplayObservationList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/observations/",
          "code": 200
        },
        "smithy.api#documentation": "Read-only access to a session's observations across every scanner the caller can read, for the replay-page dock."
      }
    },
    "com.posthog.vision#VisionObservationsRetrieveRequestOrderBy": {
      "type": "enum",
      "members": {
        "COMPLETED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-completed_at"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-label"
          }
        },
        "RECORDING_SUBJECT_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-recording_subject_email"
          }
        },
        "RESULT_CONFIDENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_confidence"
          }
        },
        "RESULT_SCORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_score"
          }
        },
        "RESULT_VERDICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-result_verdict"
          }
        },
        "SCANNER_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-scanner_version"
          }
        },
        "STARTED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-started_at"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-status"
          }
        },
        "COMPLETED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed_at"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "LABEL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "label"
          }
        },
        "RECORDING_SUBJECT_EMAIL_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recording_subject_email"
          }
        },
        "RESULT_CONFIDENCE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_confidence"
          }
        },
        "RESULT_SCORE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_score"
          }
        },
        "RESULT_VERDICT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "result_verdict"
          }
        },
        "SCANNER_VERSION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scanner_version"
          }
        },
        "STARTED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "started_at"
          }
        },
        "STATUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionObservationsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this replay observation."
          }
        },
        "date_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_from",
            "smithy.api#documentation": "Only observations created at or after this time. Accepts ISO 8601 or a relative date like `-7d`."
          }
        },
        "date_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "date_to",
            "smithy.api#documentation": "Only observations created at or before this time. Accepts ISO 8601 or a relative date like `-1d`; date-only values include the whole day."
          }
        },
        "labeled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "labeled",
            "smithy.api#documentation": "When true, return only observations that have a shared label (thumbs up or down); when false, only unlabeled observations."
          }
        },
        "order_by": {
          "target": "com.posthog.vision#VisionObservationsRetrieveRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Sort observations. Plain keys: created_at, started_at, completed_at, status, recording_subject_email. JSONB keys: result_score (scorer), result_verdict (monitor), result_confidence, scanner_version. Prefix with `-` for descending; nullable keys sort nulls last either way."
          }
        },
        "recording_subject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "recording_subject",
            "smithy.api#documentation": "Filter to observations whose person email contains this value (case-insensitive)."
          }
        },
        "session_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "session_id",
            "smithy.api#documentation": "Filter to observations of one or more session recordings. Accepts a comma-separated list."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter by observation status. Accepts a comma-separated list."
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "Filter classifier observations whose fixed or freeform tags include any of the given values (comma-separated). Matches if the tag appears in either `tags` or `tags_freeform`."
          }
        },
        "triggered_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "triggered_by",
            "smithy.api#documentation": "Filter by trigger source (schedule, on_demand, or retry). Accepts a comma-separated list."
          }
        },
        "verdict": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "verdict",
            "smithy.api#documentation": "Filter monitor observations by verdict. Accepts a comma-separated list (e.g. `yes,inconclusive`)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionObservationsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionObservationsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.vision#ReplayObservation"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/observations/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve one observation. Any list filters passed along (status, tags, order_by, …) scope the `previous_observation_id`/`next_observation_id` navigation to the matching, identically-ordered set — so prev/next from a filtered table stays within that filtered list."
      }
    },
    "com.posthog.vision#VisionObservationsCreateTaskCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this replay observation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#CreateTaskFromObservationResponse": {
      "type": "structure",
      "members": {
        "task_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the PostHog Task holding this observation's finding, created now (201) or by an earlier call (200).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The PostHog Task created from an observation."
      }
    },
    "com.posthog.vision#VisionObservationsCreateTaskCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionObservationsCreateTaskCreateRequest"
      },
      "output": {
        "target": "com.posthog.vision#CreateTaskFromObservationResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/observations/{id}/create_task/",
          "code": 200
        },
        "smithy.api#documentation": "Create a PostHog Task from this observation's finding so it can be triaged and fixed. Title and description are derived from the scanner and its result. Record-only: this does not start the coding agent. Idempotent per observation: once a task exists, repeat calls return its id with a 200 instead of creating a duplicate."
      }
    },
    "com.posthog.vision#VisionObservationsLabelCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this replay observation."
          }
        },
        "is_correct": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if the scanner scored this session correctly, false if not.",
            "smithy.api#required": {}
          }
        },
        "feedback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional written context on the rating, for thumbs-up and thumbs-down alike: what the scanner got right or wrong, or what it should have concluded."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionObservationsLabelCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionObservationsLabelCreateRequest"
      },
      "output": {
        "target": "com.posthog.vision#ReplayObservationLabel"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/observations/{id}/label/",
          "code": 200
        },
        "smithy.api#documentation": "Set or update the observation's shared label: whether the scanner scored the session correctly, plus optional feedback on what it got wrong. One label per observation, shared across the team; these labels feed prompt improvement. Requires editor access to the scanner."
      }
    },
    "com.posthog.vision#VisionObservationsLabelDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this replay observation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionObservationsLabelDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionObservationsLabelDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/vision/observations/{id}/label/",
          "code": 200
        },
        "smithy.api#documentation": "Remove the observation's shared label. Requires editor access to the scanner."
      }
    },
    "com.posthog.vision#VisionObservationsRetryCreateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this replay observation."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionObservationsRetryCreate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#VisionObservationsRetryCreateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/vision/observations/{id}/retry/",
          "code": 200
        },
        "smithy.api#documentation": "Delete a failed observation and re-run its scanner on the same recording. Returns 202 with the workflow handle."
      }
    },
    "com.posthog.vision#EnvironmentVisionQuotaRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#VisionQuota": {
      "type": "structure",
      "members": {
        "credit_limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Credits the org may spend per billing period (1 credit = $0.01). Null when billing has synced the product with no spend limit: uncapped.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "credits_used": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Credits spent this period: succeeded observations from the receipt ledger plus reserved in-flight observations.",
            "smithy.api#required": {}
          }
        },
        "remaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "`credit_limit - credits_used`, floored at 0. Null when uncapped.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "exhausted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when `credits_used >= credit_limit`; further observations are skipped until next period. Always false when uncapped.",
            "smithy.api#required": {}
          }
        },
        "period_start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First moment of the current quota period (UTC).",
            "smithy.api#required": {}
          }
        },
        "period_end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "First moment of the next quota period (UTC); the current period's exclusive upper bound.",
            "smithy.api#required": {}
          }
        },
        "projected_monthly_credits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Credit-weighted sum of enabled scanners' projected observations/month across the organization. Scanners without a computed estimate contribute 0.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#EnvironmentVisionQuotaRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.vision#EnvironmentVisionQuotaRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.vision#VisionQuota"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/vision/quota/",
          "code": 200
        }
      }
    },
    "com.posthog.vision#VisionScannersListRequestOrderBy": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_at"
          }
        },
        "CREATED_BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-created_by"
          }
        },
        "CREDITS_THIS_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-credits_this_month"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-enabled"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-name"
          }
        },
        "SAMPLING_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-sampling_rate"
          }
        },
        "SCANNER_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-scanner_type"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "-updated_at"
          }
        },
        "CREATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "CREATED_BY_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_by"
          }
        },
        "CREDITS_THIS_MONTH_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "credits_this_month"
          }
        },
        "ENABLED_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "NAME_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "SAMPLING_RATE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sampling_rate"
          }
        },
        "SCANNER_TYPE_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scanner_type"
          }
        },
        "UPDATED_AT_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updated_at"
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#VisionScannersListRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_by",
            "smithy.api#documentation": "Filter to scanners created by the given user IDs (comma-separated)."
          }
        },
        "emits_signals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "emits_signals",
            "smithy.api#documentation": "Filter to scanners that emit Signals."
          }
        },
        "enabled": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "enabled",
            "smithy.api#documentation": "Filter by enabled state. Accepts a comma-separated list of `enabled`/`disabled`."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "order_by": {
          "target": "com.posthog.vision#VisionScannersListRequestOrderBy",
          "traits": {
            "smithy.api#httpQuery": "order_by",
            "smithy.api#documentation": "Sort scanners by name, created_at, updated_at, scanner_type, enabled, sampling_rate, created_by, credits_this_month. Prefix with `-` for descending."
          }
        },
        "scanner_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "scanner_type",
            "smithy.api#documentation": "Filter by scanner type (monitor, classifier, scorer, summarizer). Accepts a comma-separated list."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Case-insensitive substring match across name, description, and the prompt in scanner_config."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.vision#PaginatedReplayScannerList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.vision#PaginatedReplayScannerListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.vision#ReplayScanner": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable scanner name. Unique within the team.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Free-form description shown in the scanner management UI."
          }
        },
        "scanner_type": {
          "target": "com.posthog.vision#ScannerTypeEnum",
          "traits": {
            "smithy.api#documentation": "What the scanner does: monitor, classifier, scorer, or summarizer.\n\n* `monitor` - Monitor\n* `classifier` - Classifier\n* `scorer` - Scorer\n* `summarizer` - Summarizer",
            "smithy.api#required": {}
          }
        },
        "scanner_config": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Type-specific configuration. All scanner types require `prompt`; monitors add optional `allow_inconclusive`, classifiers add `tags`, scorers add `scale`, summarizers add optional `length`.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Persisted `RecordingsQuery` shape used to pick candidate sessions. `date_from`/`date_to` are stripped on save — the schedule controls time, not the user."
          }
        },
        "sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "0..1 random downsample applied after the query matches. Defaults to 1.0 (no downsampling). Use exactly 0 to pause scanning; non-zero rates below 0.0001 (0.01%) are rejected as below the sampling precision."
          }
        },
        "sampling_mode": {
          "target": "com.posthog.vision#SamplingModeEnum",
          "traits": {
            "smithy.api#documentation": "Quality pre-filter applied before random sampling. focused = top sessions only, balanced = drops the lowest-quality, comprehensive = no filter (default).\n\n* `focused` - Focused\n* `balanced` - Balanced\n* `comprehensive` - Comprehensive"
          }
        },
        "provider": {
          "target": "com.posthog.vision#ScannerProviderEnum",
          "traits": {
            "smithy.api#documentation": "LLM provider. v1 is Google-only.\n\n* `google` - Google"
          }
        },
        "model": {
          "target": "com.posthog.vision#ScannerModelEnum",
          "traits": {
            "smithy.api#documentation": "Concrete model to use for this scanner.\n\n* `gemini-3.5-flash-lite` - Gemini 3.5 Flash Lite\n* `gemini-3-flash-preview` - Gemini 3 Flash (preview)\n* `gemini-3.6-flash` - Gemini 3.6 Flash",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When false, the reconciler removes the scanner's Temporal schedule. On-demand triggers still work."
          }
        },
        "emits_signals": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, the prompt is augmented with the Signal side mission and the scanner emits PostHog Signals."
          }
        },
        "scanner_version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Increments on every config-changing save. Observations snapshot this value.",
            "smithy.api#required": {}
          }
        },
        "estimated_monthly_observations": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Latest projected observations/month for this scanner. Null until first computed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "credits_per_observation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Credits one observation by this scanner costs (1 credit = $0.01), derived from `model`.",
            "smithy.api#required": {}
          }
        },
        "estimated_monthly_credits": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "`estimated_monthly_observations` priced at `credits_per_observation`. Null until the estimate is first computed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "credits_this_month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Credits this scanner's succeeded observations consumed in the current billing period (1 credit = $0.01). Matches the window of the org-wide quota meter.",
            "smithy.api#required": {}
          }
        },
        "last_swept_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Watermark for the scanner's last scheduled fire. Mirrors Temporal schedule state for recovery.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_by": {
          "target": "com.posthog.vision#UserBasic",
          "traits": {
            "smithy.api#documentation": "User who created the scanner.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "feedback_themes": {
          "target": "com.posthog.vision#FeedbackThemes",
          "traits": {
            "smithy.api#documentation": "AI summary of the team's written thumbs-down feedback into recurring failure modes. Refreshed with prompt recommendations; null until enough feedback accumulates.",
            "smithy.api#required": {},
[...]
