{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.warehouse_view_links#ListWarehouseViewLinksRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "A search term."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_links#PaginatedViewLinkList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.warehouse_view_links#PaginatedViewLinkListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_links#ViewLink": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this join has been soft-deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.warehouse_view_links#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table the join starts from, for example events.",
            "smithy.api#required": {}
          }
        },
        "source_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the source table used as the join key.",
            "smithy.api#required": {}
          }
        },
        "joining_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table or view being joined onto the source table.",
            "smithy.api#required": {}
          }
        },
        "joining_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the joining table used as the join key.",
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Accessor added to the source table to reach the joined rows, for example person in events.person.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional join configuration, for example experiments optimization flags."
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_links#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.warehouse_view_links#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.warehouse_view_links#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_links#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_links#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.warehouse_view_links#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_links#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.warehouse_view_links#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.warehouse_view_links#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_links#PaginatedViewLinkListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.warehouse_view_links#ViewLink"
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_links#ListWarehouseViewLinks": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_links#ListWarehouseViewLinksRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_links#PaginatedViewLinkList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/warehouse_view_links/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_links#CreateWarehouseViewLinkRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this join has been soft-deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table the join starts from, for example events.",
            "smithy.api#required": {}
          }
        },
        "source_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the source table used as the join key.",
            "smithy.api#required": {}
          }
        },
        "joining_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table or view being joined onto the source table.",
            "smithy.api#required": {}
          }
        },
        "joining_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the joining table used as the join key.",
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Accessor added to the source table to reach the joined rows, for example person in events.person.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional join configuration, for example experiments optimization flags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_links#CreateWarehouseViewLink": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_links#CreateWarehouseViewLinkRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_links#ViewLink"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/warehouse_view_links/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_links#WarehouseViewLinksRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse join."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_links#WarehouseViewLinksRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_links#WarehouseViewLinksRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_links#ViewLink"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/warehouse_view_links/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_links#UpdateWarehouseViewLinkRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse join."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this join has been soft-deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table the join starts from, for example events.",
            "smithy.api#required": {}
          }
        },
        "source_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the source table used as the join key.",
            "smithy.api#required": {}
          }
        },
        "joining_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table or view being joined onto the source table.",
            "smithy.api#required": {}
          }
        },
        "joining_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the joining table used as the join key.",
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Accessor added to the source table to reach the joined rows, for example person in events.person.",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional join configuration, for example experiments optimization flags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_links#UpdateWarehouseViewLink": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_links#UpdateWarehouseViewLinkRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_links#ViewLink"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/warehouse_view_links/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_links#UpdateWarehouseViewLinkPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse join."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this join has been soft-deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table the join starts from, for example events."
          }
        },
        "source_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the source table used as the join key."
          }
        },
        "joining_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table or view being joined onto the source table."
          }
        },
        "joining_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the joining table used as the join key."
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Accessor added to the source table to reach the joined rows, for example person in events.person."
          }
        },
        "configuration": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Optional join configuration, for example experiments optimization flags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_links#UpdateWarehouseViewLinkPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_links#UpdateWarehouseViewLinkPartialRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_links#ViewLink"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/warehouse_view_links/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_links#WarehouseViewLinksDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse join."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_links#WarehouseViewLinksDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_links#WarehouseViewLinksDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/warehouse_view_links/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_links#CreateWarehouseViewLinkValidateRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "joining_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table or view being joined onto the source table.",
            "smithy.api#required": {}
          }
        },
        "joining_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the joining table used as the join key.",
            "smithy.api#required": {}
          }
        },
        "source_table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table the join starts from, for example events.",
            "smithy.api#required": {}
          }
        },
        "source_table_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Column or HogQL expression on the source table used as the join key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_view_links#ViewLinkValidationResponse": {
      "type": "structure",
      "members": {
        "is_valid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the join compiled and returned rows when executed against a sample of the source table.",
            "smithy.api#required": {}
          }
        },
        "msg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Warning about the validation result, for example when the sampled join returned no rows.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "hogql": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HogQL statement used to validate the join.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "columns": {
          "target": "com.posthog.warehouse_view_links#ViewLinkValidationResponseColumnsList",
          "traits": {
            "smithy.api#documentation": "Column names for each row in results.",
            "smithy.api#required": {}
          }
        },
        "results": {
          "target": "com.posthog.warehouse_view_links#ViewLinkValidationResponseResultsList",
          "traits": {
            "smithy.api#documentation": "Distinct source and joining key pairs from the joined result, at most 5.",
            "smithy.api#required": {}
          }
        },
        "total_rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of sampled source rows checked for a join match, at most 10000. Null when the match-rate query failed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "matched_rows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of sampled source rows with at least one match in the joining table. Null when the match-rate query failed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "match_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "matched_rows divided by total_rows, between 0 and 1. Null when the match-rate query failed or no rows were sampled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_links#ViewLinkValidationResponseColumnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Column names for each row in results."
      }
    },
    "com.posthog.warehouse_view_links#ViewLinkValidationResponseResultsItemList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.warehouse_view_links#ViewLinkValidationResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.warehouse_view_links#ViewLinkValidationResponseResultsItemList"
      },
      "traits": {
        "smithy.api#documentation": "Distinct source and joining key pairs from the joined result, at most 5."
      }
    },
    "com.posthog.warehouse_view_links#CreateWarehouseViewLinkValidate": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_view_links#CreateWarehouseViewLinkValidateRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_view_links#ViewLinkValidationResponse"
      },
      "errors": [
        {
          "target": "com.posthog.warehouse_view_links#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/warehouse_view_links/validate/",
          "code": 200
        },
        "smithy.api#documentation": "Create, Read, Update and Delete View Columns."
      }
    },
    "com.posthog.warehouse_view_links#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.posthog.warehouse_view_links#WarehouseViewLinks": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.warehouse_view_links#ListWarehouseViewLinks"
        },
        {
          "target": "com.posthog.warehouse_view_links#CreateWarehouseViewLink"
        },
        {
          "target": "com.posthog.warehouse_view_links#WarehouseViewLinksRetrieve"
        },
        {
          "target": "com.posthog.warehouse_view_links#UpdateWarehouseViewLink"
        },
        {
          "target": "com.posthog.warehouse_view_links#UpdateWarehouseViewLinkPartial"
        },
        {
          "target": "com.posthog.warehouse_view_links#WarehouseViewLinksDestroy"
        },
        {
          "target": "com.posthog.warehouse_view_links#CreateWarehouseViewLinkValidate"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
