{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.posthog.warehouse_expressions#ListWarehouseExpressionsRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Number of results to return per page."
          }
        },
        "offset": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "offset",
            "smithy.api#documentation": "The initial index from which to return the results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "A search term."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_expressions#PaginatedDataWarehouseExpressionList": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "previous": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "results": {
          "target": "com.posthog.warehouse_expressions#PaginatedDataWarehouseExpressionListResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_expressions#DataWarehouseExpression": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this expression has been soft-deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_by": {
          "target": "com.posthog.warehouse_expressions#UserBasic",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table the expression field is added to, for example events.",
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the virtual field the expression is exposed as. Letters, numbers, underscores and $ only, starting with a letter, underscore or $. Must not clash with an existing field on the table.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HogQL expression evaluated in the context of the table, for example properties.$browser or lower(email).",
            "smithy.api#required": {}
          }
        },
        "connection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ExternalDataSource id to scope the expression to that connection's direct-query database. Null applies it to the default warehouse database.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_expressions#UserBasic": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#Integer"
        },
        "uuid": {
          "target": "smithy.api#String"
        },
        "distinct_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_name": {
          "target": "smithy.api#String"
        },
        "last_name": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String"
        },
        "is_email_verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "hedgehog_config": {
          "target": "com.posthog.warehouse_expressions#UserBasicHedgehogConfigMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "role_at_organization": {
          "target": "com.posthog.warehouse_expressions#UserBasicRoleAtOrganization",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_expressions#UserBasicHedgehogConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.posthog.warehouse_expressions#RoleAtOrganizationEnum": {
      "type": "enum",
      "members": {
        "ENGINEERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "engineering"
          }
        },
        "DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "data"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product"
          }
        },
        "FOUNDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "founder"
          }
        },
        "LEADERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "leadership"
          }
        },
        "MARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "STUDENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "student"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "* `engineering` - Engineering\n* `data` - Data\n* `product` - Product Management\n* `founder` - Founder\n* `leadership` - Leadership\n* `marketing` - Marketing\n* `sales` - Sales / Success\n* `student` - Student\n* `other` - Other"
      }
    },
    "com.posthog.warehouse_expressions#BlankEnum": {
      "type": "enum",
      "members": {
        "VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": ""
          }
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_expressions#UserBasicRoleAtOrganization": {
      "type": "union",
      "members": {
        "RoleAtOrganizationEnum": {
          "target": "com.posthog.warehouse_expressions#RoleAtOrganizationEnum"
        },
        "BlankEnum": {
          "target": "com.posthog.warehouse_expressions#BlankEnum"
        }
      },
      "traits": {}
    },
    "com.posthog.warehouse_expressions#PaginatedDataWarehouseExpressionListResultsList": {
      "type": "list",
      "member": {
        "target": "com.posthog.warehouse_expressions#DataWarehouseExpression"
      },
      "traits": {}
    },
    "com.posthog.warehouse_expressions#ListWarehouseExpressions": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_expressions#ListWarehouseExpressionsRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_expressions#PaginatedDataWarehouseExpressionList"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/warehouse_expressions/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete saved HogQL expressions that appear as virtual fields on tables."
      }
    },
    "com.posthog.warehouse_expressions#CreateWarehouseExpressionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this expression has been soft-deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table the expression field is added to, for example events.",
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the virtual field the expression is exposed as. Letters, numbers, underscores and $ only, starting with a letter, underscore or $. Must not clash with an existing field on the table.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HogQL expression evaluated in the context of the table, for example properties.$browser or lower(email).",
            "smithy.api#required": {}
          }
        },
        "connection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ExternalDataSource id to scope the expression to that connection's direct-query database. Null applies it to the default warehouse database.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_expressions#CreateWarehouseExpression": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_expressions#CreateWarehouseExpressionRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_expressions#DataWarehouseExpression"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/projects/{project_id}/warehouse_expressions/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete saved HogQL expressions that appear as virtual fields on tables."
      }
    },
    "com.posthog.warehouse_expressions#WarehouseExpressionsRetrieveRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse expression."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_expressions#WarehouseExpressionsRetrieve": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_expressions#WarehouseExpressionsRetrieveRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_expressions#DataWarehouseExpression"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/projects/{project_id}/warehouse_expressions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete saved HogQL expressions that appear as virtual fields on tables."
      }
    },
    "com.posthog.warehouse_expressions#UpdateWarehouseExpressionRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse expression."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this expression has been soft-deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table the expression field is added to, for example events.",
            "smithy.api#required": {}
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the virtual field the expression is exposed as. Letters, numbers, underscores and $ only, starting with a letter, underscore or $. Must not clash with an existing field on the table.",
            "smithy.api#required": {}
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HogQL expression evaluated in the context of the table, for example properties.$browser or lower(email).",
            "smithy.api#required": {}
          }
        },
        "connection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ExternalDataSource id to scope the expression to that connection's direct-query database. Null applies it to the default warehouse database.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_expressions#UpdateWarehouseExpression": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_expressions#UpdateWarehouseExpressionRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_expressions#DataWarehouseExpression"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/projects/{project_id}/warehouse_expressions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete saved HogQL expressions that appear as virtual fields on tables."
      }
    },
    "com.posthog.warehouse_expressions#UpdateWarehouseExpressionPartialRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse expression."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this expression has been soft-deleted.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "table_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the table the expression field is added to, for example events."
          }
        },
        "field_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the virtual field the expression is exposed as. Letters, numbers, underscores and $ only, starting with a letter, underscore or $. Must not clash with an existing field on the table."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "HogQL expression evaluated in the context of the table, for example properties.$browser or lower(email)."
          }
        },
        "connection_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ExternalDataSource id to scope the expression to that connection's direct-query database. Null applies it to the default warehouse database.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_expressions#UpdateWarehouseExpressionPartial": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_expressions#UpdateWarehouseExpressionPartialRequest"
      },
      "output": {
        "target": "com.posthog.warehouse_expressions#DataWarehouseExpression"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/projects/{project_id}/warehouse_expressions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete saved HogQL expressions that appear as virtual fields on tables."
      }
    },
    "com.posthog.warehouse_expressions#WarehouseExpressionsDestroyRequest": {
      "type": "structure",
      "members": {
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID of the project you're trying to access. To find the ID of the project, make a call to /api/projects/."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "A UUID string identifying this data warehouse expression."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.posthog.warehouse_expressions#WarehouseExpressionsDestroy": {
      "type": "operation",
      "input": {
        "target": "com.posthog.warehouse_expressions#WarehouseExpressionsDestroyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/api/projects/{project_id}/warehouse_expressions/{id}/",
          "code": 200
        },
        "smithy.api#documentation": "Create, read, update and delete saved HogQL expressions that appear as virtual fields on tables."
      }
    },
    "com.posthog.warehouse_expressions#WarehouseExpressions": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.posthog.warehouse_expressions#ListWarehouseExpressions"
        },
        {
          "target": "com.posthog.warehouse_expressions#CreateWarehouseExpression"
        },
        {
          "target": "com.posthog.warehouse_expressions#WarehouseExpressionsRetrieve"
        },
        {
          "target": "com.posthog.warehouse_expressions#UpdateWarehouseExpression"
        },
        {
          "target": "com.posthog.warehouse_expressions#UpdateWarehouseExpressionPartial"
        },
        {
          "target": "com.posthog.warehouse_expressions#WarehouseExpressionsDestroy"
        }
      ],
      "traits": {
        "smithy.api#title": "PostHog API"
      }
    }
  }
}
