{
  "openapi": "3.0.0",
  "info": {
    "description": "A public and stable API for interacting with axiom services",
    "title": "Axiom",
    "termsOfService": "http://axiom.co/terms",
    "contact": {
      "name": "Axiom support team",
      "url": "https://axiom.co",
      "email": "hello@axiom.co"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.axiom.co"
    }
  ],
  "paths": {
    "/v2/annotations": {
      "get": {
        "security": [
          {
            "Auth": [
              "annotations|read"
            ]
          }
        ],
        "description": "Get annotations",
        "tags": [
          "annotations"
        ],
        "operationId": "getAnnotations",
        "parameters": [
          {
            "description": "Optional: Filter for dataset names.",
            "name": "datasets",
            "in": "query",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "description": "Optional: Filter for events after this date. Use RFC3339 time format.",
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Optional: Filter for events before this date. Use RFC3339 time format.",
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Annotation"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Auth": [
              "annotations|create"
            ]
          }
        ],
        "description": "Create annotation",
        "tags": [
          "annotations"
        ],
        "operationId": "createAnnotation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewAnnotation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Annotation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          }
        }
      }
    },
    "/v2/annotations/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "annotations|read"
            ]
          }
        ],
        "description": "Get annotation by ID",
        "tags": [
          "annotations"
        ],
        "operationId": "getAnnotation",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "200": {
            "description": "Annotation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": [
              "annotations|update"
            ]
          }
        ],
        "description": "Update annotation",
        "tags": [
          "annotations"
        ],
        "operationId": "updateAnnotation",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatedAnnotation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Annotation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Annotation"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "annotations|delete"
            ]
          }
        ],
        "description": "Delete annotation",
        "tags": [
          "annotations"
        ],
        "operationId": "deleteAnnotation",
        "parameters": [
          {
            "$ref": "#/components/parameters/id"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/v2/datasets": {
      "get": {
        "security": [
          {
            "Auth": []
          }
        ],
        "description": "Get list of datasets",
        "tags": [
          "Datasets"
        ],
        "summary": "Get list of datasets",
        "operationId": "getDatasets",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dataset"
                  },
                  "example": [
                    {
                      "created": "2020-01-01T00:00:00Z",
                      "description": "This is an example dataset",
                      "id": "example-dataset",
                      "name": "example-dataset",
                      "who": "John Doe"
                    },
                    {
                      "created": "2020-02-01T00:00:00Z",
                      "description": "This is an example dataset",
                      "id": "example-dataset-2",
                      "name": "example-dataset-2",
                      "who": "Foo Bar"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        },
        "x-axiom-preview": true
      },
      "post": {
        "security": [
          {
            "Auth": [
              "datasets|create"
            ]
          }
        ],
        "description": "Create dataset",
        "tags": [
          "Datasets"
        ],
        "summary": "Create dataset",
        "operationId": "createDataset",
        "parameters": [
          {
            "description": "Referrer slug",
            "name": "referrer",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/datasets/{dataset_id}": {
      "get": {
        "security": [
          {
            "Auth": []
          }
        ],
        "description": "Get dataset by ID",
        "tags": [
          "Datasets"
        ],
        "summary": "Get dataset by ID",
        "operationId": "getDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-axiom-preview": true
      },
      "put": {
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ],
        "description": "Update dataset",
        "tags": [
          "Datasets"
        ],
        "summary": "Update dataset",
        "operationId": "updateDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDataset"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Dataset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        },
        "x-axiom-preview": true
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "datasets|delete"
            ]
          }
        ],
        "description": "Delete dataset",
        "tags": [
          "Datasets"
        ],
        "summary": "Delete dataset",
        "operationId": "deleteDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "(empty)"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/datasets/{dataset_id}/trim": {
      "post": {
        "security": [
          {
            "Auth": [
              "trim|update"
            ]
          }
        ],
        "description": "Trim dataset",
        "tags": [
          "datasets"
        ],
        "summary": "Trim dataset by duration",
        "operationId": "trimDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrimOptions"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "TrimResult"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/datasets/{dataset_id}/vacuum": {
      "post": {
        "security": [
          {
            "Auth": [
              "vacuum|update"
            ]
          }
        ],
        "tags": [
          "datasets"
        ],
        "operationId": "vacuumDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VacuumResult"
          },
          "429": {
            "description": "TooManyVacuumRequests",
            "headers": {
              "Retry-After": {
                "description": "The GMT date/time at which the current rate limit window resets.\n",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/v2/datasets/{dataset_id}/fields": {
      "get": {
        "security": [
          {
            "Auth": [
              "datasets|read"
            ]
          }
        ],
        "tags": [
          "datasets"
        ],
        "operationId": "getFieldsForDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of fields in the dataset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DatasetField"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          }
        }
      }
    },
    "/v2/datasets/{dataset_id}/fields/{field_id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "datasets|read"
            ]
          }
        ],
        "tags": [
          "datasets"
        ],
        "operationId": "getFieldForDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DatasetField",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetField"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ],
        "tags": [
          "datasets"
        ],
        "operationId": "updateFieldForDataset",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "DatasetField",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DatasetField"
                }
              }
            }
          }
        }
      }
    },
    "/v2/datasets/{dataset_id}/mapfields": {
      "get": {
        "security": [
          {
            "Auth": [
              "datasets|read"
            ]
          }
        ],
        "tags": [
          "datasets"
        ],
        "operationId": "getMapFields",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "MapFields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapFields"
                }
              }
            }
          }
        },
        "x-axiom-not-suspended": true
      },
      "put": {
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ],
        "tags": [
          "datasets"
        ],
        "operationId": "updateMapFields",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapFields"
              }
            }
          },
          "description": "A list of MapField-names",
          "required": true
        },
        "responses": {
          "200": {
            "description": "A list of map field names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapFields"
                }
              }
            }
          }
        },
        "x-axiom-not-suspended": true
      },
      "post": {
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ],
        "tags": [
          "datasets"
        ],
        "operationId": "createMapField",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MapField"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A mapfield, described by a name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapField"
                }
              }
            }
          }
        },
        "x-axiom-not-suspended": true
      }
    },
    "/v2/datasets/{dataset_id}/mapfields/{map_field_name}": {
      "delete": {
        "security": [
          {
            "Auth": [
              "datasets|update"
            ]
          }
        ],
        "tags": [
          "datasets"
        ],
        "operationId": "deleteMapField",
        "parameters": [
          {
            "name": "dataset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "map_field_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "(empty)"
          }
        },
        "x-axiom-not-suspended": true
      }
    },
    "/v2/monitors": {
      "get": {
        "security": [
          {
            "Auth": [
              "monitors|read"
            ]
          }
        ],
        "description": "Lists all configured monitors. Returns an array of monitor configurations including their IDs and current status.",
        "tags": [
          "Monitors"
        ],
        "operationId": "getMonitors",
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitorWithId"
                  }
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      },
      "post": {
        "security": [
          {
            "Auth": [
              "monitors|create"
            ]
          }
        ],
        "description": "Create monitor",
        "tags": [
          "Monitors"
        ],
        "operationId": "createMonitor",
        "requestBody": {
          "$ref": "#/components/requestBodies/Monitor"
        },
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorWithId"
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/monitors/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "monitors|read"
            ]
          }
        ],
        "description": "Retrieves detailed configuration for a specific monitor by its unique identifier",
        "tags": [
          "Monitors"
        ],
        "operationId": "getMonitor",
        "parameters": [
          {
            "description": "Unique identifier of the monitor (format: mon_*)",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorWithId"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": [
              "monitors|update"
            ]
          }
        ],
        "description": "Update monitor",
        "tags": [
          "Monitors"
        ],
        "operationId": "updateMonitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/Monitor"
        },
        "responses": {
          "200": {
            "description": "Monitor",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorWithId"
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "monitors|delete"
            ]
          }
        ],
        "description": "Delete monitor",
        "tags": [
          "Monitors"
        ],
        "operationId": "deleteMonitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/monitors/{id}/history": {
      "get": {
        "security": [
          {
            "Auth": [
              "monitors|read"
            ]
          }
        ],
        "description": "Get monitor history",
        "tags": [
          "Monitors"
        ],
        "operationId": "getMonitorHistory",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Start time (ISO 8601 format) for filtering alert history.",
            "name": "startTime",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "description": "End time (ISO 8601 format) for filtering alert history.",
            "name": "endTime",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "AlertHistory",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlertHistory"
                  }
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/notifiers": {
      "get": {
        "security": [
          {
            "Auth": [
              "notifiers|read"
            ]
          }
        ],
        "description": "Lists all configured notifiers. Returns an array of notification configurations including their IDs and current status.",
        "tags": [
          "Monitors"
        ],
        "operationId": "getNotifiers",
        "responses": {
          "200": {
            "description": "Successfully retrieved list of notifiers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NotifierWithId"
                  }
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      },
      "post": {
        "security": [
          {
            "Auth": [
              "notifiers|create"
            ]
          }
        ],
        "description": "Creates a new notifier configuration for sending alerts through various channels (Slack, Email, etc)",
        "tags": [
          "Monitors"
        ],
        "operationId": "createNotifier",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Notifier"
              }
            }
          },
          "description": "Notifier configuration details",
          "required": true
        },
        "responses": {
          "200": {
            "description": "Notifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotifierWithId"
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/notifiers/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "notifiers|read"
            ]
          }
        ],
        "description": "Retrieves detailed configuration for a specific notifier by its unique identifier",
        "tags": [
          "Monitors"
        ],
        "operationId": "getNotifier",
        "parameters": [
          {
            "description": "Unique identifier of the notifier (format: notify_*)",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotifierWithId"
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      },
      "put": {
        "security": [
          {
            "Auth": [
              "notifiers|update"
            ]
          }
        ],
        "description": "Update notifier",
        "tags": [
          "Monitors"
        ],
        "operationId": "updateNotifier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Notifier"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Notifier",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotifierWithId"
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "notifiers|delete"
            ]
          }
        ],
        "description": "Delete notifier",
        "tags": [
          "Monitors"
        ],
        "operationId": "deleteNotifier",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "(empty)"
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/orgs": {
      "get": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "orgs"
        ],
        "operationId": "getOrgs",
        "responses": {
          "200": {
            "description": "Org",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Org"
                  }
                }
              }
            }
          }
        },
        "x-axiom-no-org-required": true
      },
      "post": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "orgs"
        ],
        "operationId": "createOrg",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostOrg"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Org"
                }
              }
            }
          }
        },
        "x-axiom-no-org-required": true
      }
    },
    "/v2/orgs/{id}": {
      "get": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "orgs"
        ],
        "operationId": "getOrg",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Org"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": []
          }
        ],
        "tags": [
          "orgs"
        ],
        "operationId": "updateOrg",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOrg"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Org",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Org"
                }
              }
            }
          }
        }
      }
    },
    "/v2/rbac/roles": {
      "get": {
        "security": [
          {
            "Auth": [
              "rbac|read"
            ]
          }
        ],
        "description": "Retrieves all roles in the organization with their associated permissions and members.",
        "tags": [
          "rbac"
        ],
        "summary": "List all roles",
        "operationId": "listRoles",
        "responses": {
          "200": {
            "description": "A list of roles was successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleWithID"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ],
        "description": "Creates a new role in the organization with the specified permissions and member assignments.",
        "tags": [
          "rbac"
        ],
        "summary": "Create role",
        "operationId": "createRole",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          },
          "description": "The role configuration containing name, description, members, and capability settings",
          "required": true
        },
        "responses": {
          "200": {
            "description": "The role was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleWithID"
                }
              }
            }
          }
        }
      }
    },
    "/v2/rbac/roles/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "rbac|read"
            ]
          }
        ],
        "description": "Retrieves detailed information about a specific role by its unique identifier.",
        "tags": [
          "rbac"
        ],
        "summary": "Get role by ID",
        "operationId": "getRoleById",
        "parameters": [
          {
            "description": "Unique identifier of the role to retrieve",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The role was successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleWithID"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ],
        "description": "Updates an existing role's configuration including its permissions and member assignments.",
        "tags": [
          "rbac"
        ],
        "summary": "Update role",
        "operationId": "updateRole",
        "parameters": [
          {
            "description": "Unique identifier of the role to update",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Role"
              }
            }
          },
          "description": "The updated role configuration",
          "required": true
        },
        "responses": {
          "200": {
            "description": "The role was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleWithID"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ],
        "description": "Permanently removes a role from the organization.",
        "tags": [
          "rbac"
        ],
        "summary": "Delete role",
        "operationId": "deleteRole",
        "parameters": [
          {
            "description": "Unique identifier of the role to delete",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The role was successfully deleted"
          }
        }
      }
    },
    "/v2/rbac/groups": {
      "get": {
        "security": [
          {
            "Auth": [
              "rbac|read"
            ]
          }
        ],
        "description": "Retrieves all groups in the organization.",
        "tags": [
          "rbac"
        ],
        "summary": "List all groups",
        "operationId": "listGroups",
        "responses": {
          "200": {
            "description": "A list of groups was successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GroupWithID"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ],
        "description": "Creates a new group in the organization.",
        "tags": [
          "rbac"
        ],
        "summary": "Create group",
        "operationId": "createGroup",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          },
          "description": "The group configuration",
          "required": true
        },
        "responses": {
          "200": {
            "description": "The group was successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupWithID"
                }
              }
            }
          }
        }
      }
    },
    "/v2/rbac/groups/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "rbac|read"
            ]
          }
        ],
        "description": "Retrieves detailed information about a specific group by its unique identifier.",
        "tags": [
          "rbac"
        ],
        "summary": "Get group by ID",
        "operationId": "getGroupById",
        "parameters": [
          {
            "description": "Unique identifier of the group to retrieve",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The group was successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupWithID"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ],
        "description": "Updates an existing group's configuration.",
        "tags": [
          "rbac"
        ],
        "summary": "Update group",
        "operationId": "updateGroup",
        "parameters": [
          {
            "description": "Unique identifier of the group to update",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          },
          "description": "The updated group configuration",
          "required": true
        },
        "responses": {
          "200": {
            "description": "The group was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupWithID"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "rbac|create"
            ]
          }
        ],
        "description": "Permanently removes a group from the organization.",
        "tags": [
          "rbac"
        ],
        "summary": "Delete group",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "description": "Unique identifier of the group to delete",
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The group was successfully deleted"
          }
        }
      }
    },
    "/v2/apl-starred-queries": {
      "get": {
        "security": [
          {
            "Auth": [
              "starredQueries|read"
            ]
          }
        ],
        "tags": [
          "starred"
        ],
        "operationId": "getStarredQueries",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "name": "dataset",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "- If the value of `who` is undefined, the request returns queries starred by the authenticated user.\n- If the value of `who` is a user ID, the request returns queries starred by the user with this ID (this request requires elevated privileges). For example, `&who='abc123'`.\n- If the value of `who` is `team`, the request returns queries starred by the team apart from the authenticated user.For example, `&who=team`.\n- If the value of `who` is `all`, the request returns queries starred by all users in the team, including the authenticated user. For example, `&who=all`.",
            "name": "who",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qs",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarredQueryWithId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StarredQueryWithId"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Auth": [
              "starredQueries|create"
            ]
          }
        ],
        "tags": [
          "starred"
        ],
        "operationId": "createStarred",
        "requestBody": {
          "$ref": "#/components/requestBodies/StarredQuery"
        },
        "responses": {
          "200": {
            "description": "StarredQueryWithId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarredQueryWithId"
                }
              }
            }
          }
        }
      }
    },
    "/v2/apl-starred-queries/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "starredQueries|read"
            ]
          }
        ],
        "tags": [
          "starred"
        ],
        "operationId": "getStarred",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "StarredQueryWithId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarredQueryWithId"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": [
              "starredQueries|update"
            ]
          }
        ],
        "tags": [
          "starred"
        ],
        "operationId": "updateStarred",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/StarredQuery"
        },
        "responses": {
          "200": {
            "description": "StarredQueryWithId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StarredQueryWithId"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "starredQueries|delete"
            ]
          }
        ],
        "tags": [
          "starred"
        ],
        "operationId": "deleteStarred",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "(empty)"
          }
        }
      }
    },
    "/v2/tokens": {
      "get": {
        "security": [
          {
            "Auth": [
              "apiTokens|read"
            ]
          }
        ],
        "description": "Get API tokens",
        "tags": [
          "tokens"
        ],
        "operationId": "getAPITokens",
        "responses": {
          "200": {
            "description": "Token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/APIToken"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Auth": [
              "apiTokens|create"
            ]
          }
        ],
        "description": "Create API token",
        "tags": [
          "tokens"
        ],
        "operationId": "createAPIToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAPIToken"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "CreateApiTokenResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAPITokenResponse"
                }
              }
            }
          }
        },
        "x-axiom-not-suspended": true
      }
    },
    "/v2/tokens/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "apiTokens|read"
            ]
          }
        ],
        "description": "Get API token by ID",
        "tags": [
          "tokens"
        ],
        "operationId": "getAPIToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIToken"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "apiTokens|delete"
            ]
          }
        ],
        "description": "Delete API token",
        "tags": [
          "tokens"
        ],
        "operationId": "deleteAPIToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "(empty)"
          }
        }
      }
    },
    "/v2/tokens/{id}/regenerate": {
      "post": {
        "security": [
          {
            "Auth": [
              "apiTokens|update"
            ]
          }
        ],
        "description": "Regenerate API token",
        "tags": [
          "tokens"
        ],
        "operationId": "regenerateAPIToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegenerateAPIToken"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CreateAPITokenResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAPITokenResponse"
                }
              }
            }
          }
        },
        "x-axiom-not-suspended": true
      }
    },
    "/v2/user": {
      "get": {
        "security": [
          {
            "Auth": []
          }
        ],
        "description": "Get current user",
        "tags": [
          "Users"
        ],
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "x-axiom-no-org-required": true,
        "x-axiom-preview": true
      },
      "put": {
        "security": [
          {
            "Auth": []
          }
        ],
        "description": "Update current user",
        "tags": [
          "Users"
        ],
        "operationId": "updateCurrentUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCurrentUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "x-axiom-no-org-required": true,
        "x-axiom-preview": true
      }
    },
    "/v2/users": {
      "get": {
        "security": [
          {
            "Auth": [
              "users|read"
            ]
          }
        ],
        "description": "Get users",
        "tags": [
          "Users"
        ],
        "operationId": "getUsers",
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      },
      "post": {
        "security": [
          {
            "Auth": [
              "users|create"
            ]
          }
        ],
        "description": "Create user",
        "tags": [
          "Users"
        ],
        "operationId": "createUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "x-axiom-no-org-required": true,
        "x-axiom-not-suspended": true,
        "x-axiom-preview": true
      }
    },
    "/v2/users/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "users|read"
            ]
          }
        ],
        "description": "Get user by ID",
        "tags": [
          "Users"
        ],
        "operationId": "getUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "users|delete"
            ]
          }
        ],
        "description": "Remove user from org",
        "tags": [
          "Users"
        ],
        "operationId": "removeUserFromOrg",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "(empty)"
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/users/{id}/role": {
      "put": {
        "security": [
          {
            "Auth": [
              "users|update"
            ]
          }
        ],
        "description": "Update user role",
        "tags": [
          "Users"
        ],
        "operationId": "updateUserRole",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRoleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "User",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        },
        "x-axiom-preview": true
      }
    },
    "/v2/vfields": {
      "get": {
        "security": [
          {
            "Auth": [
              "virtualFields|read"
            ]
          }
        ],
        "tags": [
          "vfields"
        ],
        "operationId": "getVirtualFields",
        "parameters": [
          {
            "name": "dataset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VirtualFieldWithId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VirtualFieldWithId"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Auth": [
              "virtualFields|create"
            ]
          }
        ],
        "tags": [
          "vfields"
        ],
        "operationId": "createVirtualField",
        "requestBody": {
          "$ref": "#/components/requestBodies/VirtualField"
        },
        "responses": {
          "200": {
            "description": "VirtualFieldWithId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualFieldWithId"
                }
              }
            }
          }
        }
      }
    },
    "/v2/vfields/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "virtualFields|read"
            ]
          }
        ],
        "tags": [
          "vfields"
        ],
        "operationId": "getVirtualField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "VirtualFieldWithId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualFieldWithId"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": [
              "virtualFields|update"
            ]
          }
        ],
        "tags": [
          "vfields"
        ],
        "operationId": "updateVirtualField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/VirtualField"
        },
        "responses": {
          "200": {
            "description": "VirtualFieldWithId",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VirtualFieldWithId"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "virtualFields|delete"
            ]
          }
        ],
        "tags": [
          "vfields"
        ],
        "operationId": "deleteVirtualField",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "(empty)"
          }
        }
      }
    },
    "/v2/views": {
      "get": {
        "security": [
          {
            "Auth": [
              "views|read"
            ]
          }
        ],
        "tags": [
          "views"
        ],
        "operationId": "getViews",
        "responses": {
          "200": {
            "description": "View",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/View"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "Auth": [
              "views|create"
            ]
          }
        ],
        "tags": [
          "views"
        ],
        "operationId": "createView",
        "requestBody": {
          "$ref": "#/components/requestBodies/View"
        },
        "responses": {
          "200": {
            "description": "View",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          }
        }
      }
    },
    "/v2/views/{id}": {
      "get": {
        "security": [
          {
            "Auth": [
              "views|read"
            ]
          }
        ],
        "tags": [
          "views"
        ],
        "operationId": "getView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "View",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Auth": [
              "views|update"
            ]
          }
        ],
        "tags": [
          "views"
        ],
        "operationId": "updateView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/View"
        },
        "responses": {
          "200": {
            "description": "View",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/View"
                }
              }
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Auth": [
              "views|delete"
            ]
          }
        ],
        "tags": [
          "views"
        ],
        "operationId": "deleteView",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "(empty)"
          }
        }
      }
    },
    "/v2/dashboards": {
      "get": {
        "tags": [
          "dashboards"
        ],
        "summary": "List dashboards",
        "description": "List dashboards visible to the caller.",
        "operationId": "listDashboards",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          }
        ],
        "responses": {
          "200": {
            "description": "List of dashboards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DashboardResource"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "dashboards"
        ],
        "summary": "Create dashboard",
        "description": "Create a dashboard from a dashboard document payload.",
        "operationId": "createDashboard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardWriteResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardWriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid dashboard payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardError"
                }
              }
            }
          },
          "409": {
            "description": "Dashboard already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardError"
                }
              }
            }
          },
          "412": {
            "description": "Version conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardError"
                }
              }
            }
          }
        }
      }
    },
    "/v2/dashboards/uid/{uid}": {
      "get": {
        "tags": [
          "dashboards"
        ],
        "summary": "Get dashboard",
        "description": "Get a dashboard by UID.",
        "operationId": "getDashboard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardResource"
                }
              }
            }
          },
          "404": {
            "description": "Dashboard not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardError"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "dashboards"
        ],
        "summary": "Update dashboard",
        "description": "Update a dashboard by UID.",
        "operationId": "updateDashboard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DashboardUpsertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardWriteResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created dashboard",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardWriteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid dashboard payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardError"
                }
              }
            }
          },
          "409": {
            "description": "Dashboard already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardError"
                }
              }
            }
          },
          "412": {
            "description": "Version conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "dashboards"
        ],
        "summary": "Delete dashboard",
        "description": "Delete a dashboard by UID.",
        "operationId": "deleteDashboard",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Dashboard deleted"
          },
          "404": {
            "description": "Dashboard not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DashboardError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 1000,
          "default": 100
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "format": "int64",
          "minimum": 0,
          "default": 0
        }
      },
      "id": {
        "description": "Unique ID of the annotation",
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^ann_"
        }
      }
    },
    "responses": {
      "ForbiddenError": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "code": 403,
                "message": "Forbidden"
              }
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                }
              },
              "example": {
                "code": 404,
                "message": "Not found"
              }
            }
          }
        }
      }
    },
    "requestBodies": {
      "FlowDestination": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FlowDestination"
            }
          }
        },
        "required": true
      },
      "Repo": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Repo"
            }
          }
        },
        "required": true
      },
      "View": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/View"
            }
          }
        },
        "required": true
      },
      "DashboardUpsertRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DashboardUpsertRequest"
            }
          }
        },
        "required": true
      },
      "StarredQuery": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StarredQuery"
            }
          }
        },
        "required": true
      },
      "Monitor": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Monitor"
            }
          }
        },
        "required": true
      },
      "VirtualField": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/VirtualField"
            }
          }
        },
        "required": true
      }
    },
    "securitySchemes": {
      "Auth": {
        "description": "Authenticate using an API token or personal access token (PAT). Include the token as a Bearer token: `Authorization: Bearer <token>`. For more information, see [Tokens](/reference/tokens).",
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/v2/auth",
            "tokenUrl": "https://www.googleapis.com/oauth2/v4/token",
            "scopes": {}
          }
        }
      },
      "Shared": {
        "type": "apiKey",
        "name": "tk",
        "in": "query"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authenticate using an API token or personal access token (PAT). Include the token as a Bearer token: `Authorization: Bearer <token>`. For more information, see [Tokens](/reference/tokens)."
      }
    },
    "schemas": {
      "APIToken": {
        "type": "object",
        "required": [
          "id",
          "name",
          "datasetCapabilities",
          "orgCapabilities"
        ],
        "properties": {
          "datasetCapabilities": {
            "$ref": "#/components/schemas/datasetCapabilities"
          },
          "description": {
            "description": "Description of the token",
            "type": "string"
          },
          "expiresAt": {
            "description": "Expiration date of the token (ISO 8601 format)",
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "nullable": true
          },
          "id": {
            "description": "ID of the token",
            "type": "string"
          },
          "name": {
            "description": "Name of the token",
            "type": "string"
          },
          "orgCapabilities": {
            "$ref": "#/components/schemas/orgCapabilities"
          },
          "samlAuthenticated": {
            "type": "boolean"
          },
          "viewCapabilities": {
            "$ref": "#/components/schemas/viewCapabilities"
          }
        }
      },
      "APLRequestWithOptions": {
        "type": "object",
        "required": [
          "apl"
        ],
        "properties": {
          "apl": {
            "type": "string"
          },
          "cursor": {
            "type": "string"
          },
          "defaultLimit": {
            "type": "integer",
            "format": "int64"
          },
          "defaultOrder": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/APLRequestWithOptionsDefaultOrder"
            }
          },
          "endTime": {
            "type": "string"
          },
          "includeCursor": {
            "type": "boolean"
          },
          "includeCursorField": {
            "type": "boolean"
          },
          "libraries": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "queryOptions": {
            "$ref": "#/components/schemas/QueryOptions"
          },
          "startTime": {
            "type": "string"
          },
          "variables": {
            "type": "object"
          }
        }
      },
      "APLRequestWithOptionsDefaultOrder": {
        "type": "object",
        "properties": {
          "desc": {
            "type": "boolean"
          },
          "field": {
            "type": "string"
          }
        }
      },
      "AggInfo": {
        "description": "AggInfo captures information about an aggregation",
        "type": "object",
        "properties": {
          "args": {
            "description": "Args specifies any non-field arguments for the aggregation. Fx. [10] for topk(players, 10).",
            "type": "array",
            "items": {}
          },
          "fields": {
            "description": "Fields specifies the names of the fields this aggregation is computed on.\nFx [\"players\"] for topk(players, 10)",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "name": {
            "description": "Name is the system name of the aggregation, which is the string form of aggregation.Type.\nIf the aggregation is aliased, the alias is stored in the parent FieldInfo",
            "type": "string"
          }
        }
      },
      "AlertHistory": {
        "description": "Historical record of an alert's state changes.\nTracks when alerts are opened and closed, allowing for incident timeline analysis.\n",
        "type": "object",
        "required": [
          "name",
          "checkId",
          "timestamp",
          "state"
        ],
        "properties": {
          "checkId": {
            "description": "Unique identifier of the check that triggered the alert",
            "type": "string",
            "example": "chk_abc123"
          },
          "name": {
            "description": "The name of the alert",
            "type": "string",
            "example": "High CPU Usage Alert"
          },
          "state": {
            "description": "Current state of the alert",
            "type": "string",
            "enum": [
              "open",
              "closed"
            ],
            "example": "open"
          },
          "timestamp": {
            "description": "ISO 8601 timestamp when the alert state changed",
            "type": "string",
            "format": "date-time",
            "example": "2024-03-20T15:30:00Z"
          }
        }
      },
      "Annotation": {
        "type": "object",
        "required": [
          "id",
          "time",
          "datasets",
          "type"
        ],
        "properties": {
          "datasets": {
            "description": "array<string> of dataset names for which the annotation appears on charts",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "minLength": 1
            }
          },
          "description": {
            "description": "Explanation of the event the annotation marks on the charts",
            "type": "string",
            "maxLength": 512
          },
          "endTime": {
            "description": "End time of the annotation",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "id": {
            "$ref": "#/components/schemas/AnnotationID"
          },
          "time": {
            "description": "Time the annotation marks on the charts. If you don't include this field, Axiom assigns the time of the API request to the annotation.",
            "type": "string",
            "format": "date-time"
          },
          "title": {
            "description": "Summary of the annotation that appears on the charts",
            "type": "string",
            "maxLength": 256
          },
          "type": {
            "description": "Type of the event marked by the annotation. Use only alphanumeric characters or hyphens. For example, \"production-deployment\".",
            "type": "string",
            "maxLength": 256,
            "pattern": "^[a-z0-9-]+$"
          },
          "url": {
            "description": "URL relevant for the event marked by the annotation. For example, link to GitHub pull request.",
            "type": "string",
            "maxLength": 512
          }
        },
        "example": {
          "datasets": [
            "my-dataset"
          ],
          "description": "Deploy new feature to the sales form",
          "endTime": "2024-02-06T11:39:28.382Z",
          "id": "ann_123",
          "time": "2024-02-06T10:39:28.382Z",
          "title": "Production deployment",
          "type": "deploy",
          "url": "https://example.com"
        }
      },
      "AnnotationID": {
        "type": "string",
        "x-go-type": {
          "import": {
            "package": "github.com/axiomhq/axiom/pkg/core/ids"
          },
          "type": "AnnotationID"
        }
      },
      "AplDeletionRequest": {
        "type": "object",
        "required": [
          "apl",
          "commit"
        ],
        "properties": {
          "Modules": {
            "description": "Key-value pairs of module names and module sources. Axiom will make modules available for this query later.",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "apl": {
            "type": "string"
          },
          "commit": {
            "type": "boolean"
          },
          "endTime": {
            "type": "string"
          },
          "startTime": {
            "description": "start and end time for the query, these must be specified as RFC3339 strings\nor using relative time expressions (e.g. now-1h, now-1d, now-1w, etc)",
            "type": "string"
          },
          "variables": {
            "description": "Variables is an optional set of additional variables that are inserted into the APL",
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "AplDeletionResponse": {
        "type": "object",
        "required": [
          "rowsMatched",
          "rowsDeleted"
        ],
        "properties": {
          "blocksMatched": {
            "type": "integer",
            "format": "uint64"
          },
          "dryRun": {
            "type": "boolean"
          },
          "firstMatchedEvent": {
            "description": "these are timestamps",
            "type": "string"
          },
          "lastMatchedEvent": {
            "type": "string"
          },
          "rowsDeleted": {
            "type": "integer",
            "format": "uint64"
          },
          "rowsMatched": {
            "type": "integer",
            "format": "uint64"
          }
        }
      },
      "AplModuleDefinition": {
        "type": "object",
        "properties": {
          "constant": {
            "$ref": "#/components/schemas/Constant"
          },
          "description": {
            "description": "The description of the apl module definition.",
            "type": "string"
          },
          "id": {
            "description": "The unique identifier for the object.",
            "type": "string"
          },
          "lookup": {
            "$ref": "#/components/schemas/Lookup"
          },
          "name": {
            "description": "The name of the apl module definition.",
            "type": "string"
          },
          "namespace": {
            "description": "The namespace of the APL module definition.",
            "type": "string"
          },
          "type": {
            "description": "The type of the object.",
            "type": "string",
            "enum": [
              "REGEX",
              "CONSTANT",
              "LOOKUP"
            ]
          }
        }
      },
      "AplQueryError": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Status is the http status code associated with this error",
            "type": "integer"
          },
          "detail": {
            "$ref": "#/components/schemas/AplQueryErrorDetail"
          },
          "message": {
            "description": "a formatted user-facing error message",
            "type": "string"
          }
        }
      },
      "AplQueryErrorDetail": {
        "type": "object",
        "properties": {
          "column": {
            "description": "Column is the column associated with this compile type error",
            "type": "integer",
            "format": "int64"
          },
          "compileErrorCode": {
            "description": "CompileErrorCode is a special error code that is only available for Compile Errors\nIt is an integer value that can be used to identify the error",
            "type": "integer",
            "format": "int64",
            "enum": [
              1,
              2,
              16,
              17,
              32,
              33,
              34
            ]
          },
          "errorType": {
            "description": "Error Type is an integer value indicating the kind of error",
            "type": "integer",
            "format": "int64",
            "enum": [
              1,
              2,
              3,
              4
            ]
          },
          "line": {
            "description": "Line is the line associated with this compile type error",
            "type": "integer",
            "format": "int64"
          },
          "message": {
            "description": "Message is the raw error message without any formatting",
            "type": "string"
          }
        }
      },
      "AplRequest": {
        "type": "object",
        "required": [
          "apl"
        ],
        "properties": {
          "apl": {
            "type": "string"
          },
          "variables": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "AplResult": {
        "type": "object",
        "required": [
          "status",
          "tables"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/Status"
          },
          "tables": {
            "description": "Tables hold the result data for a query",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Table"
            }
          }
        }
      },
      "Block": {
        "type": "object",
        "properties": {
          "locatorURL": {
            "description": "URL to locate the block in storage",
            "type": "string",
            "example": "block://unstable_v0/zgAQynPEQLEMsQwAAwAACAwYqTcAFGcAAAAAAAAACjgVchcAG7bpGFuQrFTOk54YW5Fr9V76LmidjehN6GOLBD7YhQAAAACS2SJheGlvbWVyc2Z0ODNheGlvbXRyYWNlc2RldnlreDdjeXJ12SxzMzovL2F4aW9tLWNsb3VkLWRldmVsb3BtZW50LWRhdGFiYXNlLTY1amJtLw=="
          },
          "memoryEstimate": {
            "description": "Estimated memory usage in bytes",
            "type": "integer",
            "format": "int64",
            "example": 100000
          },
          "recordCount": {
            "description": "Number of records in the block",
            "type": "integer",
            "format": "int32",
            "example": 10000
          }
        }
      },
      "BlockFailure": {
        "type": "object",
        "properties": {
          "block": {
            "$ref": "#/components/schemas/Block"
          },
          "error": {
            "description": "Error message describing the failure",
            "type": "string",
            "example": "Failed to parse block data"
          },
          "errorCode": {
            "description": "Error code for categorizing the failure",
            "type": "string",
            "example": "PARSE_ERROR"
          }
        }
      },
      "BlockSuccess": {
        "type": "object",
        "properties": {
          "block": {
            "$ref": "#/components/schemas/Block"
          },
          "events": {
            "description": "Number of events processed",
            "type": "integer",
            "format": "int64",
            "example": 5000
          }
        }
      },
      "BlocksRequest": {
        "type": "object",
        "required": [
          "apl",
          "startTime",
          "endTime"
        ],
        "properties": {
          "apl": {
            "description": "The APL query to execute for finding matching blocks",
            "type": "string",
            "example": "['my-dataset'] | where status_code >= 400"
          },
          "endTime": {
            "description": "The end time for the query time range",
            "type": "string",
            "format": "date-time",
            "example": "2024-01-02T00:00:00Z"
          },
          "startTime": {
            "description": "The start time for the query time range",
            "type": "string",
            "format": "date-time",
            "example": "2024-01-01T00:00:00Z"
          }
        }
      },
      "BlocksResponse": {
        "type": "object",
        "properties": {
          "blocks": {
            "description": "List of blocks matching the query",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Block"
            }
          }
        }
      },
      "BucketInfo": {
        "description": "The standard mode of operation for Kirby is to create buckets on the _time column,",
        "type": "object",
        "title": "BucketInfo captures information about how a grouped query is sorted into buckets.",
        "properties": {
          "field": {
            "description": "Field specifies the field used to create buckets on. Normally this would be _time.",
            "type": "string"
          },
          "size": {
            "description": "An integer or float representing the fixed bucket size.\nWhen the bucket field is _time this value is in nanoseconds."
          }
        }
      },
      "Constant": {
        "type": "object",
        "properties": {
          "value": {
            "description": "Constant value of any type"
          }
        }
      },
      "CreateAPIToken": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "datasetCapabilities": {
            "$ref": "#/components/schemas/datasetCapabilities"
          },
          "description": {
            "description": "Description of the token",
            "type": "string"
          },
          "expiresAt": {
            "description": "Expiration date of the token (ISO 8601 format)",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "name": {
            "description": "Name of the token",
            "type": "string"
          },
          "orgCapabilities": {
            "$ref": "#/components/schemas/orgCapabilities"
          },
          "viewCapabilities": {
            "$ref": "#/components/schemas/viewCapabilities"
          }
        }
      },
      "CreateAPITokenResponse": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/APIToken"
          },
          {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "x-go-name": "Value"
              }
            }
          }
        ]
      },
      "CreateDataset": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "description": {
            "description": "Dataset description",
            "type": "string",
            "default": ""
          },
          "edgeDeployment": {
            "description": "Edge deployment of the dataset",
            "type": "string",
            "x-omitempty": true
          },
          "kind": {
            "description": "The kind of the dataset",
            "type": "string",
            "default": "axiom:events:v1",
            "enum": [
              "otel:metrics:v1",
              "otel:traces:v1",
              "otel:logs:v1",
              "axiom:events:v1"
            ],
            "example": "axiom:events:v1"
          },
          "name": {
            "description": "Dataset unique name",
            "type": "string"
          },
          "retentionDays": {
            "description": "Number of days to retain data in the dataset",
            "type": "integer",
            "x-omitempty": false
          },
          "useRetentionPeriod": {
            "description": "Whether to use the retention period",
            "type": "boolean",
            "x-omitempty": false
          }
        },
        "example": {
          "description": "string",
          "kind": "axiom:events:v1",
          "name": "string",
          "retentionDays": 30
        }
      },
      "CreateFlowExport": {
        "type": "object",
        "required": [
          "destinationId",
          "name",
          "apl",
          "start",
          "end"
        ],
        "properties": {
          "apl": {
            "description": "The APL query to execute for the export",
            "type": "string"
          },
          "destinationId": {
            "description": "The destination to export to",
            "type": "string"
          },
          "end": {
            "description": "The RFC3339-formatted time of the end of the export range",
            "type": "string",
            "format": "date-time"
          },
          "name": {
            "description": "The name of the export",
            "type": "string"
          },
          "start": {
            "description": "The RFC3339-formatted time of the start of the export range",
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CreateUserRequest": {
        "description": "Object representing a new user creation request",
        "type": "object",
        "required": [
          "name",
          "email",
          "role"
        ],
        "properties": {
          "email": {
            "description": "Email address of the new user",
            "type": "string",
            "example": "jane.doe@example.com"
          },
          "name": {
            "description": "Full name of the new user",
            "type": "string",
            "example": "Jane Doe"
          },
          "role": {
            "description": "Role to assign to the new user",
            "type": "string",
            "example": "member"
          }
        }
      },
      "CustomNotifierConfig": {
        "description": "Configuration for custom webhook notifications with flexible headers and body template.\nSupports variable substitution in the body template using {{.Variable}} syntax.\n",
        "type": "object",
        "required": [
          "url",
          "body"
        ],
        "properties": {
          "body": {
            "description": "Template for the webhook body, supports variable substitution",
            "type": "string",
            "example": "{\"alert\": \"{{.AlertName}}\", \"severity\": \"{{.Severity}}\", \"message\": \"{{.Message}}\"}"
          },
          "headers": {
            "description": "HTTP headers to include in the request",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "Content-Type": "application/json",
              "X-API-Version": "1.0"
            }
          },
          "secretHeaders": {
            "description": "Sensitive HTTP headers (tokens, keys) that should be masked in logs",
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "example": {
              "Authorization": "Bearer {{token}}"
            }
          },
          "url": {
            "description": "Custom webhook endpoint URL",
            "type": "string",
            "example": "https://api.custom-service.com/alerts"
          }
        }
      },
      "DashboardDocument": {
        "type": "object",
        "additionalProperties": true,
        "$ref": "#/components/schemas/Dashboard"
      },
      "DashboardError": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "currentVersion": {
            "type": "integer",
            "format": "int64"
          },
          "message": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          }
        }
      },
      "DashboardID": {
        "type": "string",
        "x-go-type": {
          "import": {
            "package": "github.com/axiomhq/axiom/pkg/core/ids"
          },
          "type": "DashboardID"
        }
      },
      "DashboardResource": {
        "type": "object",
        "required": [
          "uid",
          "id",
          "version",
          "dashboard",
          "createdAt",
          "updatedAt",
          "createdBy",
          "updatedBy"
        ],
        "properties": {
          "createdAt": {
[...]
