{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.access_groups#ReadsAnAccessGroupRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#ReadsAnAccessGroupResponseTeamPermissionsItem": {
      "type": "enum",
      "members": {
        "AIGATEWAYAPIKEYOWNEDBYSELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayApiKeyOwnedBySelf"
          }
        },
        "AIGATEWAYBUDGETMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayBudgetManager"
          }
        },
        "AIGATEWAYCREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayCredits"
          }
        },
        "AIGATEWAYSETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewaySettings"
          }
        },
        "CONNECTORMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectorManager"
          }
        },
        "CREATEPROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateProject"
          }
        },
        "ENVVARIABLEMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvVariableManager"
          }
        },
        "ENVIRONMENTMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvironmentManager"
          }
        },
        "FULLPRODUCTIONDEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullProductionDeployment"
          }
        },
        "INTEGRATIONMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntegrationManager"
          }
        },
        "ORGADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgAdmin"
          }
        },
        "ORGVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgViewer"
          }
        },
        "USAGEVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsageViewer"
          }
        },
        "V0BUILDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Builder"
          }
        },
        "V0CHATTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Chatter"
          }
        },
        "V0VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Viewer"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ReadsAnAccessGroupResponseTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.access_groups#ReadsAnAccessGroupResponseTeamPermissionsItem"
      },
      "traits": {}
    },
    "com.vercel.access_groups#ReadsAnAccessGroupResponseEntitlementsItem": {
      "type": "enum",
      "members": {
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ReadsAnAccessGroupResponseEntitlementsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.access_groups#ReadsAnAccessGroupResponseEntitlementsItem"
      },
      "traits": {}
    },
    "com.vercel.access_groups#ReadsAnAccessGroupResponseTeamRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Roles that the team has in the access group."
      }
    },
    "com.vercel.access_groups#ReadsAnAccessGroupResponse": {
      "type": "structure",
      "members": {
        "teamPermissions": {
          "target": "com.vercel.access_groups#ReadsAnAccessGroupResponseTeamPermissionsList"
        },
        "entitlements": {
          "target": "com.vercel.access_groups#ReadsAnAccessGroupResponseEntitlementsList"
        },
        "isDsyncManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this access group.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when the access group was created.",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the team that this access group belongs to.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when the access group was last updated.",
            "smithy.api#required": {}
          }
        },
        "accessGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the access group.",
            "smithy.api#required": {}
          }
        },
        "membersCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of members in the access group.",
            "smithy.api#required": {}
          }
        },
        "projectsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of projects in the access group.",
            "smithy.api#required": {}
          }
        },
        "teamRoles": {
          "target": "com.vercel.access_groups#ReadsAnAccessGroupResponseTeamRolesList",
          "traits": {
            "smithy.api#documentation": "Roles that the team has in the access group."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.access_groups#ReadsAnAccessGroup": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#ReadsAnAccessGroupRequest"
      },
      "output": {
        "target": "com.vercel.access_groups#ReadsAnAccessGroupResponse"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/access-groups/{idOrName}",
          "code": 200
        },
        "smithy.api#documentation": "Reads an access group\n\nAllows to read an access group"
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupRequestProjectsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project role that will be added to this Access Group. \"null\" will remove this project level role."
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupRequestProjectsItem": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupRequestProjectsItemRole",
          "traits": {
            "smithy.api#documentation": "The project role that will be added to this Access Group. \"null\" will remove this project level role.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#UpdateAnAccessGroupRequestProjectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.access_groups#UpdateAnAccessGroupRequestProjectsItem"
      },
      "traits": {}
    },
    "com.vercel.access_groups#UpdateAnAccessGroupRequestMembersToAddList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of members to add to the access group."
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupRequestMembersToRemoveList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of members to remove from the access group."
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the access group"
          }
        },
        "projects": {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupRequestProjectsList"
        },
        "membersToAdd": {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupRequestMembersToAddList",
          "traits": {
            "smithy.api#documentation": "List of members to add to the access group."
          }
        },
        "membersToRemove": {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupRequestMembersToRemoveList",
          "traits": {
            "smithy.api#documentation": "List of members to remove from the access group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupResponseEntitlementsItem": {
      "type": "enum",
      "members": {
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#UpdateAnAccessGroupResponseEntitlementsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.access_groups#UpdateAnAccessGroupResponseEntitlementsItem"
      },
      "traits": {}
    },
    "com.vercel.access_groups#UpdateAnAccessGroupResponseTeamRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Roles that the team has in the access group."
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupResponseTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Permissions that the team has in the access group."
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupResponse": {
      "type": "structure",
      "members": {
        "entitlements": {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupResponseEntitlementsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this access group.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when the access group was created.",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the team that this access group belongs to.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when the access group was last updated.",
            "smithy.api#required": {}
          }
        },
        "accessGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the access group.",
            "smithy.api#required": {}
          }
        },
        "membersCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of members in the access group.",
            "smithy.api#required": {}
          }
        },
        "projectsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of projects in the access group.",
            "smithy.api#required": {}
          }
        },
        "teamRoles": {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupResponseTeamRolesList",
          "traits": {
            "smithy.api#documentation": "Roles that the team has in the access group."
          }
        },
        "teamPermissions": {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupResponseTeamPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permissions that the team has in the access group."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroup": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#UpdateAnAccessGroupRequest"
      },
      "output": {
        "target": "com.vercel.access_groups#UpdateAnAccessGroupResponse"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/access-groups/{idOrName}",
          "code": 200
        },
        "smithy.api#documentation": "Update an access group\n\nAllows to update an access group metadata"
      }
    },
    "com.vercel.access_groups#DeletesAnAccessGroupRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#DeletesAnAccessGroup": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#DeletesAnAccessGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/access-groups/{idOrName}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an access group\n\nAllows to delete an access group"
      }
    },
    "com.vercel.access_groups#ListMembersOfAnAccessGroupRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or name of the Access Group."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Limit how many access group members should be returned."
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "next",
            "smithy.api#documentation": "Continuation cursor to retrieve the next page of results."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search project members by their name, username, and email."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#ListMembersOfAnAccessGroupResponseMembersItemTeamRole": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListMembersOfAnAccessGroupResponseMembersItem": {
      "type": "structure",
      "members": {
        "avatar": {
          "target": "smithy.api#String"
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#String"
        },
        "teamRole": {
          "target": "com.vercel.access_groups#ListMembersOfAnAccessGroupResponseMembersItemTeamRole",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListMembersOfAnAccessGroupResponseMembersList": {
      "type": "list",
      "member": {
        "target": "com.vercel.access_groups#ListMembersOfAnAccessGroupResponseMembersItem"
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListMembersOfAnAccessGroupResponsePagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListMembersOfAnAccessGroupResponse": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.vercel.access_groups#ListMembersOfAnAccessGroupResponseMembersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.access_groups#ListMembersOfAnAccessGroupResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.access_groups#ListMembersOfAnAccessGroup": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#ListMembersOfAnAccessGroupRequest"
      },
      "output": {
        "target": "com.vercel.access_groups#ListMembersOfAnAccessGroupResponse"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/access-groups/{idOrName}/members",
          "code": 200
        },
        "smithy.api#documentation": "List members of an access group\n\nList members of an access group"
      }
    },
    "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#documentation": "Filter access groups by project."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search for access groups by name."
          }
        },
        "membersLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "membersLimit",
            "smithy.api#documentation": "Number of members to include in the response."
          }
        },
        "projectsLimit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "projectsLimit",
            "smithy.api#documentation": "Number of projects to include in the response."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Limit how many access group should be returned."
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "next",
            "smithy.api#documentation": "Continuation cursor to retrieve the next page of results."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponseBodyCase1AccessGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponseBodyCase1Pagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponseBodyCase1": {
      "type": "structure",
      "members": {
        "accessGroups": {
          "target": "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponseBodyCase1AccessGroupsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponseBodyCase1Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMember": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberRequest"
      },
      "output": {
        "target": "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMemberResponse"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/access-groups",
          "code": 200
        },
        "smithy.api#documentation": "List access groups for a team, project or member\n\nList access groups"
      }
    },
    "com.vercel.access_groups#CreatesAnAccessGroupRequestProjectsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project role that will be added to this Access Group. \"null\" will remove this project level role."
      }
    },
    "com.vercel.access_groups#CreatesAnAccessGroupRequestProjectsItem": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.access_groups#CreatesAnAccessGroupRequestProjectsItemRole",
          "traits": {
            "smithy.api#documentation": "The project role that will be added to this Access Group. \"null\" will remove this project level role.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#CreatesAnAccessGroupRequestProjectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.access_groups#CreatesAnAccessGroupRequestProjectsItem"
      },
      "traits": {}
    },
    "com.vercel.access_groups#CreatesAnAccessGroupRequestMembersToAddList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of members to add to the access group."
      }
    },
    "com.vercel.access_groups#CreatesAnAccessGroupRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the access group",
            "smithy.api#required": {}
          }
        },
        "projects": {
          "target": "com.vercel.access_groups#CreatesAnAccessGroupRequestProjectsList"
        },
        "membersToAdd": {
          "target": "com.vercel.access_groups#CreatesAnAccessGroupRequestMembersToAddList",
          "traits": {
            "smithy.api#documentation": "List of members to add to the access group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#CreatesAnAccessGroupResponseEntitlementsItem": {
      "type": "enum",
      "members": {
        "V0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#CreatesAnAccessGroupResponseEntitlementsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.access_groups#CreatesAnAccessGroupResponseEntitlementsItem"
      },
      "traits": {}
    },
    "com.vercel.access_groups#CreatesAnAccessGroupResponseTeamRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Roles that the team has in the access group."
      }
    },
    "com.vercel.access_groups#CreatesAnAccessGroupResponseTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Permissions that the team has in the access group."
      }
    },
    "com.vercel.access_groups#CreatesAnAccessGroupResponse": {
      "type": "structure",
      "members": {
        "entitlements": {
          "target": "com.vercel.access_groups#CreatesAnAccessGroupResponseEntitlementsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "membersCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectsCount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this access group.",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when the access group was created.",
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the team that this access group belongs to.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when the access group was last updated.",
            "smithy.api#required": {}
          }
        },
        "accessGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the access group.",
            "smithy.api#required": {}
          }
        },
        "teamRoles": {
          "target": "com.vercel.access_groups#CreatesAnAccessGroupResponseTeamRolesList",
          "traits": {
            "smithy.api#documentation": "Roles that the team has in the access group."
          }
        },
        "teamPermissions": {
          "target": "com.vercel.access_groups#CreatesAnAccessGroupResponseTeamPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permissions that the team has in the access group."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.access_groups#CreatesAnAccessGroup": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#CreatesAnAccessGroupRequest"
      },
      "output": {
        "target": "com.vercel.access_groups#CreatesAnAccessGroupResponse"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/access-groups",
          "code": 200
        },
        "smithy.api#documentation": "Creates an access group\n\nAllows to create an access group"
      }
    },
    "com.vercel.access_groups#ListProjectsOfAnAccessGroupRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or name of the Access Group."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Limit how many access group projects should be returned."
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "next",
            "smithy.api#documentation": "Continuation cursor to retrieve the next page of results."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponseProjectsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        },
        "PROJECT_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GUEST"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponseProjectsItem": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponseProjectsItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponseProjectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponseProjectsItem"
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponsePagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponse": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponseProjectsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.access_groups#ListProjectsOfAnAccessGroup": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#ListProjectsOfAnAccessGroupRequest"
      },
      "output": {
        "target": "com.vercel.access_groups#ListProjectsOfAnAccessGroupResponse"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/access-groups/{idOrName}/projects",
          "code": 200
        },
        "smithy.api#documentation": "List projects of an access group\n\nList projects of an access group"
      }
    },
    "com.vercel.access_groups#CreateAnAccessGroupProjectRequestRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project role that will be added to this Access Group."
      }
    },
    "com.vercel.access_groups#CreateAnAccessGroupProjectRequest": {
      "type": "structure",
      "members": {
        "accessGroupIdOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.access_groups#CreateAnAccessGroupProjectRequestRole",
          "traits": {
            "smithy.api#documentation": "The project role that will be added to this Access Group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#CreateAnAccessGroupProjectResponseRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        },
        "PROJECT_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GUEST"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#CreateAnAccessGroupProjectResponse": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.access_groups#CreateAnAccessGroupProjectResponseRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.access_groups#CreateAnAccessGroupProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#CreateAnAccessGroupProjectRequest"
      },
      "output": {
        "target": "com.vercel.access_groups#CreateAnAccessGroupProjectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/access-groups/{accessGroupIdOrName}/projects",
          "code": 200
        },
        "smithy.api#documentation": "Create an access group project\n\nAllows creation of an access group project"
      }
    },
    "com.vercel.access_groups#ReadsAnAccessGroupProjectRequest": {
      "type": "structure",
      "members": {
        "accessGroupIdOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#ReadsAnAccessGroupProjectResponseRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        },
        "PROJECT_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GUEST"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#ReadsAnAccessGroupProjectResponse": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.access_groups#ReadsAnAccessGroupProjectResponseRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.access_groups#ReadsAnAccessGroupProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#ReadsAnAccessGroupProjectRequest"
      },
      "output": {
        "target": "com.vercel.access_groups#ReadsAnAccessGroupProjectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/access-groups/{accessGroupIdOrName}/projects/{projectId}",
          "code": 200
        },
        "smithy.api#documentation": "Reads an access group project\n\nAllows reading an access group project"
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupProjectRequestRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project role that will be added to this Access Group."
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupProjectRequest": {
      "type": "structure",
      "members": {
        "accessGroupIdOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "role": {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupProjectRequestRole",
          "traits": {
            "smithy.api#documentation": "The project role that will be added to this Access Group.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupProjectResponseRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        },
        "PROJECT_GUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_GUEST"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.access_groups#UpdateAnAccessGroupProjectResponse": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "accessGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupProjectResponseRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.access_groups#UpdateAnAccessGroupProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#UpdateAnAccessGroupProjectRequest"
      },
      "output": {
        "target": "com.vercel.access_groups#UpdateAnAccessGroupProjectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/access-groups/{accessGroupIdOrName}/projects/{projectId}",
          "code": 200
        },
        "smithy.api#documentation": "Update an access group project\n\nAllows update of an access group project"
      }
    },
    "com.vercel.access_groups#DeleteAnAccessGroupProjectRequest": {
      "type": "structure",
      "members": {
        "accessGroupIdOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.access_groups#DeleteAnAccessGroupProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.access_groups#DeleteAnAccessGroupProjectRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.vercel.access_groups#BadRequest"
        },
        {
          "target": "com.vercel.access_groups#Forbidden"
        },
        {
          "target": "com.vercel.access_groups#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/access-groups/{accessGroupIdOrName}/projects/{projectId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an access group project\n\nAllows deletion of an access group project"
      }
    },
    "com.vercel.access_groups#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.access_groups#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.access_groups#Gone": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 410,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 410
          }
        ]
      }
    },
    "com.vercel.access_groups#AccessGroups": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.vercel.access_groups#ReadsAnAccessGroup"
        },
        {
          "target": "com.vercel.access_groups#UpdateAnAccessGroup"
        },
        {
          "target": "com.vercel.access_groups#DeletesAnAccessGroup"
        },
        {
          "target": "com.vercel.access_groups#ListMembersOfAnAccessGroup"
        },
        {
          "target": "com.vercel.access_groups#ListAccessGroupsForATeamProjectOrMember"
        },
        {
          "target": "com.vercel.access_groups#CreatesAnAccessGroup"
        },
        {
          "target": "com.vercel.access_groups#ListProjectsOfAnAccessGroup"
        },
        {
          "target": "com.vercel.access_groups#CreateAnAccessGroupProject"
        },
        {
          "target": "com.vercel.access_groups#ReadsAnAccessGroupProject"
        },
        {
          "target": "com.vercel.access_groups#UpdateAnAccessGroupProject"
        },
        {
          "target": "com.vercel.access_groups#DeleteAnAccessGroupProject"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel access-groups",
        "smithy.api#documentation": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/access_groups/."
      }
    }
  }
}
