{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.authentication#SsoTokenExchangeRequestBodyCase0GrantType": {
      "type": "enum",
      "members": {
        "AUTHORIZATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorization_code"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The grant type, when using x-www-form-urlencoded content type"
      }
    },
    "com.vercel.authentication#SsoTokenExchangeRequestBodyCase0": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The sensitive code received from Vercel",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The state received from the initialization request"
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The integration client id",
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The integration client secret",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "redirect_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The integration redirect URI"
          }
        },
        "grant_type": {
          "target": "com.vercel.authentication#SsoTokenExchangeRequestBodyCase0GrantType",
          "traits": {
            "smithy.api#documentation": "The grant type, when using x-www-form-urlencoded content type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#SsoTokenExchangeRequestBodyCase1GrantType": {
      "type": "enum",
      "members": {
        "REFRESH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "refresh_token"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The grant type, when using x-www-form-urlencoded content type"
      }
    },
    "com.vercel.authentication#SsoTokenExchangeRequestBodyCase1": {
      "type": "structure",
      "members": {
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The refresh token received from previous token exchange",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The integration client id",
            "smithy.api#required": {}
          }
        },
        "client_secret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The integration client secret",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "grant_type": {
          "target": "com.vercel.authentication#SsoTokenExchangeRequestBodyCase1GrantType",
          "traits": {
            "smithy.api#documentation": "The grant type, when using x-www-form-urlencoded content type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#SsoTokenExchangeRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.authentication#SsoTokenExchangeRequestBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.authentication#SsoTokenExchangeRequestBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#SsoTokenExchangeRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.authentication#SsoTokenExchangeRequestBody",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.authentication#SsoTokenExchangeResponseBodyCase0": {
      "type": "structure",
      "members": {
        "id_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Double"
        },
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {},
            "smithy.api#sensitive": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#SsoTokenExchangeResponseBodyCase1": {
      "type": "structure",
      "members": {
        "id_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "access_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "refresh_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "expires_in": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#SsoTokenExchangeResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.authentication#SsoTokenExchangeResponseBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.authentication#SsoTokenExchangeResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#SsoTokenExchangeResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.authentication#SsoTokenExchangeResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.authentication#SsoTokenExchange": {
      "type": "operation",
      "input": {
        "target": "com.vercel.authentication#SsoTokenExchangeRequest"
      },
      "output": {
        "target": "com.vercel.authentication#SsoTokenExchangeResponse"
      },
      "errors": [
        {
          "target": "com.vercel.authentication#BadRequest"
        },
        {
          "target": "com.vercel.authentication#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/integrations/sso/token",
          "code": 200
        },
        "smithy.api#documentation": "SSO Token Exchange\n\nDuring the autorization process, Vercel sends the user to the provider [redirectLoginUrl](https://vercel.com/docs/integrations/create-integration/submit-integration#redirect-login-url), that includes the OAuth authorization `code` parameter. The provider then calls the SSO Token Exchange endpoint with the sent code and receives the OIDC token. They log the user in based on this token and redirects the user back to the Vercel account using deep-link parameters included the redirectLoginUrl. Providers should not persist the returned `id_token` in a database since the token will expire. See [**Authentication with SSO**](https://vercel.com/docs/integrations/create-integration/marketplace-api#authentication-with-sso) for more details."
      }
    },
    "com.vercel.authentication#ListAuthTokensResponseBodyCase0TokensList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.authentication#ListAuthTokensResponseBodyCase0Pagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#ListAuthTokensResponseBodyCase0": {
      "type": "structure",
      "members": {
        "tokens": {
          "target": "com.vercel.authentication#ListAuthTokensResponseBodyCase0TokensList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.authentication#ListAuthTokensResponseBodyCase0Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#ListAuthTokensResponseBodyCase1TokensList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.authentication#ListAuthTokensResponseBodyCase1Pagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of items in the current page.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the next page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the previous page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data."
      }
    },
    "com.vercel.authentication#ListAuthTokensResponseBodyCase1": {
      "type": "structure",
      "members": {
        "tokens": {
          "target": "com.vercel.authentication#ListAuthTokensResponseBodyCase1TokensList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.authentication#ListAuthTokensResponseBodyCase1Pagination",
          "traits": {
            "smithy.api#documentation": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#ListAuthTokensResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.authentication#ListAuthTokensResponseBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.authentication#ListAuthTokensResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.authentication#ListAuthTokensResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.authentication#ListAuthTokensResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.authentication#ListAuthTokens": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.vercel.authentication#ListAuthTokensResponse"
      },
      "errors": [
        {
          "target": "com.vercel.authentication#BadRequest"
        },
        {
          "target": "com.vercel.authentication#Forbidden"
        },
        {
          "target": "com.vercel.authentication#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v6/user/tokens",
          "code": 200
        },
        "smithy.api#documentation": "List Auth Tokens\n\nRetrieve a list of the current User's authentication tokens."
      }
    },
    "com.vercel.authentication#CreateAnAuthTokenRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double"
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project to scope this token to"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.authentication#CreateAnAuthTokenResponseTokenScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The access scopes granted to the token."
      }
    },
    "com.vercel.authentication#CreateAnAuthTokenResponseToken": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the token.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the token.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the token.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token's prefix, for identification purposes."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last few characters of the token, for identification purposes."
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin of how the token was created."
          }
        },
        "scopes": {
          "target": "com.vercel.authentication#CreateAnAuthTokenResponseTokenScopesList",
          "traits": {
            "smithy.api#documentation": "The access scopes granted to the token."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token was created.",
            "smithy.api#required": {}
          }
        },
        "activeAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token was most recently used.",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token expires."
          }
        },
        "revokedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token was revoked."
          }
        },
        "leakedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token was marked as leaked."
          }
        },
        "leakedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL where the token was discovered as leaked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication token metadata."
      }
    },
    "com.vercel.authentication#CreateAnAuthTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "com.vercel.authentication#CreateAnAuthTokenResponseToken",
          "traits": {
            "smithy.api#documentation": "Authentication token metadata.",
            "smithy.api#required": {}
          }
        },
        "bearerToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authentication token's actual value. This token is only provided in this response, and can never be retrieved again in the future. Be sure to save it somewhere safe!",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.authentication#CreateAnAuthToken": {
      "type": "operation",
      "input": {
        "target": "com.vercel.authentication#CreateAnAuthTokenRequest"
      },
      "output": {
        "target": "com.vercel.authentication#CreateAnAuthTokenResponse"
      },
      "errors": [
        {
          "target": "com.vercel.authentication#BadRequest"
        },
        {
          "target": "com.vercel.authentication#Forbidden"
        },
        {
          "target": "com.vercel.authentication#NotFound"
        },
        {
          "target": "com.vercel.authentication#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v3/user/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Create an Auth Token\n\nCreates and returns a new authentication token for the currently authenticated User. The `bearerToken` property is only provided once, in the response body, so be sure to save it on the client for use with API requests."
      }
    },
    "com.vercel.authentication#GetAuthTokenMetadataRequest": {
      "type": "structure",
      "members": {
        "tokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier of the token to retrieve. The special value \"current\" may be supplied, which returns the metadata for the token that the current HTTP request is authenticated with."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.authentication#GetAuthTokenMetadataResponseTokenScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The access scopes granted to the token."
      }
    },
    "com.vercel.authentication#GetAuthTokenMetadataResponseToken": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the token.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable name of the token.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the token.",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token's prefix, for identification purposes."
          }
        },
        "suffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last few characters of the token, for identification purposes."
          }
        },
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin of how the token was created."
          }
        },
        "scopes": {
          "target": "com.vercel.authentication#GetAuthTokenMetadataResponseTokenScopesList",
          "traits": {
            "smithy.api#documentation": "The access scopes granted to the token."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token was created.",
            "smithy.api#required": {}
          }
        },
        "activeAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token was most recently used.",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token expires."
          }
        },
        "revokedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token was revoked."
          }
        },
        "leakedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the token was marked as leaked."
          }
        },
        "leakedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL where the token was discovered as leaked."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication token metadata."
      }
    },
    "com.vercel.authentication#GetAuthTokenMetadataResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "com.vercel.authentication#GetAuthTokenMetadataResponseToken",
          "traits": {
            "smithy.api#documentation": "Authentication token metadata.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.authentication#GetAuthTokenMetadata": {
      "type": "operation",
      "input": {
        "target": "com.vercel.authentication#GetAuthTokenMetadataRequest"
      },
      "output": {
        "target": "com.vercel.authentication#GetAuthTokenMetadataResponse"
      },
      "errors": [
        {
          "target": "com.vercel.authentication#BadRequest"
        },
        {
          "target": "com.vercel.authentication#Forbidden"
        },
        {
          "target": "com.vercel.authentication#NotFound"
        },
        {
          "target": "com.vercel.authentication#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/user/tokens/{tokenId}",
          "code": 200
        },
        "smithy.api#documentation": "Get Auth Token Metadata\n\nRetrieve metadata about an authentication token belonging to the currently authenticated User."
      }
    },
    "com.vercel.authentication#DeleteAnAuthenticationTokenRequest": {
      "type": "structure",
      "members": {
        "tokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The identifier of the token to invalidate. The special value \"current\" may be supplied, which invalidates the token that the HTTP request was authenticated with."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.authentication#DeleteAnAuthenticationTokenResponse": {
      "type": "structure",
      "members": {
        "tokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the token that was deleted.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.authentication#DeleteAnAuthenticationToken": {
      "type": "operation",
      "input": {
        "target": "com.vercel.authentication#DeleteAnAuthenticationTokenRequest"
      },
      "output": {
        "target": "com.vercel.authentication#DeleteAnAuthenticationTokenResponse"
      },
      "errors": [
        {
          "target": "com.vercel.authentication#BadRequest"
        },
        {
          "target": "com.vercel.authentication#Forbidden"
        },
        {
          "target": "com.vercel.authentication#NotFound"
        },
        {
          "target": "com.vercel.authentication#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v3/user/tokens/{tokenId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an authentication token\n\nInvalidate an authentication token, such that it will no longer be valid for future HTTP requests."
      }
    },
    "com.vercel.authentication#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.authentication#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.authentication#Gone": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 410,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 410
          }
        ]
      }
    },
    "com.vercel.authentication#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.authentication#Authentication": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.vercel.authentication#SsoTokenExchange"
        },
        {
          "target": "com.vercel.authentication#ListAuthTokens"
        },
        {
          "target": "com.vercel.authentication#CreateAnAuthToken"
        },
        {
          "target": "com.vercel.authentication#GetAuthTokenMetadata"
        },
        {
          "target": "com.vercel.authentication#DeleteAnAuthenticationToken"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel authentication",
        "smithy.api#documentation": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/authentication/."
      }
    }
  }
}
