{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.certs#GetCertByIdRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The cert id"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.certs#GetCertByIdResponseCnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.certs#GetCertByIdResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cns": {
          "target": "com.vercel.certs#GetCertByIdResponseCnsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.certs#GetCertById": {
      "type": "operation",
      "input": {
        "target": "com.vercel.certs#GetCertByIdRequest"
      },
      "output": {
        "target": "com.vercel.certs#GetCertByIdResponse"
      },
      "errors": [
        {
          "target": "com.vercel.certs#BadRequest"
        },
        {
          "target": "com.vercel.certs#Forbidden"
        },
        {
          "target": "com.vercel.certs#NotFound"
        },
        {
          "target": "com.vercel.certs#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v8/certs/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get cert by id\n\nGet cert by id"
      }
    },
    "com.vercel.certs#RemoveCertRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The cert id to remove"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.certs#RemoveCertResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.certs#RemoveCert": {
      "type": "operation",
      "input": {
        "target": "com.vercel.certs#RemoveCertRequest"
      },
      "output": {
        "target": "com.vercel.certs#RemoveCertResponse"
      },
      "errors": [
        {
          "target": "com.vercel.certs#BadRequest"
        },
        {
          "target": "com.vercel.certs#Forbidden"
        },
        {
          "target": "com.vercel.certs#NotFound"
        },
        {
          "target": "com.vercel.certs#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v8/certs/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove cert\n\nRemove cert"
      }
    },
    "com.vercel.certs#GetCertsRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.certs#GetCertsResponseCertsItemCnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.certs#GetCertsResponseCertsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cns": {
          "target": "com.vercel.certs#GetCertsResponseCertsItemCnsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.certs#GetCertsResponseCertsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.certs#GetCertsResponseCertsItem"
      },
      "traits": {}
    },
    "com.vercel.certs#GetCertsResponsePagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of items in the current page.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the next page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the previous page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data."
      }
    },
    "com.vercel.certs#GetCertsResponse": {
      "type": "structure",
      "members": {
        "certs": {
          "target": "com.vercel.certs#GetCertsResponseCertsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.certs#GetCertsResponsePagination",
          "traits": {
            "smithy.api#documentation": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.certs#GetCerts": {
      "type": "operation",
      "input": {
        "target": "com.vercel.certs#GetCertsRequest"
      },
      "output": {
        "target": "com.vercel.certs#GetCertsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.certs#BadRequest"
        },
        {
          "target": "com.vercel.certs#Forbidden"
        },
        {
          "target": "com.vercel.certs#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v8/certs",
          "code": 200
        },
        "smithy.api#documentation": "Get certs\n\nGet certs"
      }
    },
    "com.vercel.certs#IssueANewCertRequestCnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The common names the cert should be issued for"
      }
    },
    "com.vercel.certs#IssueANewCertRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "cns": {
          "target": "com.vercel.certs#IssueANewCertRequestCnsList",
          "traits": {
            "smithy.api#documentation": "The common names the cert should be issued for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.certs#IssueANewCertResponseCnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.certs#IssueANewCertResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cns": {
          "target": "com.vercel.certs#IssueANewCertResponseCnsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.certs#IssueANewCert": {
      "type": "operation",
      "input": {
        "target": "com.vercel.certs#IssueANewCertRequest"
      },
      "output": {
        "target": "com.vercel.certs#IssueANewCertResponse"
      },
      "errors": [
        {
          "target": "com.vercel.certs#BadRequest"
        },
        {
          "target": "com.vercel.certs#PaymentRequired"
        },
        {
          "target": "com.vercel.certs#Forbidden"
        },
        {
          "target": "com.vercel.certs#NotFound"
        },
        {
          "target": "com.vercel.certs#Gone"
        },
        {
          "target": "com.vercel.certs#RetryWith"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v8/certs",
          "code": 200
        },
        "smithy.api#documentation": "Issue a new cert\n\nIssue a new cert"
      }
    },
    "com.vercel.certs#UploadACertRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "ca": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate authority",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate key",
            "smithy.api#required": {}
          }
        },
        "cert": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The certificate",
            "smithy.api#required": {}
          }
        },
        "skipValidation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Skip validation of the certificate"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.certs#UploadACertResponseCnsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.certs#UploadACertResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cns": {
          "target": "com.vercel.certs#UploadACertResponseCnsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.certs#UploadACert": {
      "type": "operation",
      "input": {
        "target": "com.vercel.certs#UploadACertRequest"
      },
      "output": {
        "target": "com.vercel.certs#UploadACertResponse"
      },
      "errors": [
        {
          "target": "com.vercel.certs#BadRequest"
        },
        {
          "target": "com.vercel.certs#PaymentRequired"
        },
        {
          "target": "com.vercel.certs#Forbidden"
        },
        {
          "target": "com.vercel.certs#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v8/certs",
          "code": 200
        },
        "smithy.api#documentation": "Upload a cert\n\nUpload a cert"
      }
    },
    "com.vercel.certs#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.certs#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.certs#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.certs#Gone": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 410,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 410
          }
        ]
      }
    },
    "com.vercel.certs#PaymentRequired": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 402,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 402
          }
        ]
      }
    },
    "com.vercel.certs#RetryWith": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 449,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 449
          }
        ]
      }
    },
    "com.vercel.certs#Certs": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.vercel.certs#GetCertById"
        },
        {
          "target": "com.vercel.certs#RemoveCert"
        },
        {
          "target": "com.vercel.certs#GetCerts"
        },
        {
          "target": "com.vercel.certs#IssueANewCert"
        },
        {
          "target": "com.vercel.certs#UploadACert"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel certs",
        "smithy.api#documentation": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/certs/."
      }
    }
  }
}
