{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.connect#ConnectConnectorCreateData": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0"
        },
        "Case1": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase1"
        },
        "Case2": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase2"
        },
        "Case3": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase3"
        },
        "Case4": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase4"
        },
        "Case5": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase5"
        },
        "Case6": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase6"
        },
        "Case7": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase7"
        },
        "Case8": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase8"
        },
        "Case9": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase9"
        },
        "Case10": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase10"
        },
        "Case11": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase11Map"
        }
      },
      "traits": {
        "smithy.api#documentation": "Provider configuration. With type, provide the complete configuration for that type. With service and connectionMethod, provide only credentials and preferences; Connect supplies the type, endpoints, templates, and defaults. Other connector types accept an arbitrary object."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwksKeysItemUse": {
      "type": "enum",
      "members": {
        "SIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sig"
          }
        },
        "ENC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Intended key use: signing or encryption."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwksKeysItemKeyOpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Operations permitted for this key."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwksKeysItem": {
      "type": "structure",
      "members": {
        "kty": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON Web Key type.",
            "smithy.api#required": {}
          }
        },
        "kid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "JSON Web Key identifier."
          }
        },
        "use": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwksKeysItemUse",
          "traits": {
            "smithy.api#documentation": "Intended key use: signing or encryption."
          }
        },
        "key_ops": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwksKeysItemKeyOpsList",
          "traits": {
            "smithy.api#documentation": "Operations permitted for this key."
          }
        },
        "alg": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Algorithm intended for this key."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwksKeysList": {
      "type": "list",
      "member": {
        "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwksKeysItem"
      },
      "traits": {
        "smithy.api#documentation": "JSON Web Keys published by the authorization server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwks": {
      "type": "structure",
      "members": {
        "keys": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwksKeysList",
          "traits": {
            "smithy.api#documentation": "JSON Web Keys published by the authorization server.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Inline authorization server JSON Web Key Set."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigResponseTypesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OAuth response types supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigTokenEndpointAuthMethodsSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Token endpoint client authentication methods supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigTokenEndpointAuthSigningAlgValuesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Signing algorithms supported for token endpoint authentication."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigScopesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OAuth scopes supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigGrantTypesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OAuth grant types supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigResponseModesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OAuth response modes supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigSubjectTypesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OpenID Connect subject identifier types supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigIdTokenSigningAlgValuesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Signing algorithms supported for ID tokens."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigIdTokenEncryptionAlgValuesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key management algorithms supported for encrypted ID tokens."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigIdTokenEncryptionEncValuesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Content encryption algorithms supported for encrypted ID tokens."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigClaimTypesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OpenID Connect claim value types supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigClaimsSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Claims that the authorization server can return."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigCodeChallengeMethodsSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "PKCE code challenge methods supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigPromptValuesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Authorization prompt values supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigAuthorizationDetailsTypesSupportedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OAuth authorization-detail types supported by the server."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfig": {
      "type": "structure",
      "members": {
        "issuer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization server issuer URL."
          }
        },
        "authorization_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth authorization endpoint URL."
          }
        },
        "token_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth token endpoint URL."
          }
        },
        "userinfo_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OpenID Connect UserInfo endpoint URL."
          }
        },
        "jwks_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of the authorization server JSON Web Key Set."
          }
        },
        "jwks": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigJwks",
          "traits": {
            "smithy.api#documentation": "Inline authorization server JSON Web Key Set."
          }
        },
        "revocation_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth token revocation endpoint URL."
          }
        },
        "introspection_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth token introspection endpoint URL."
          }
        },
        "end_session_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OpenID Connect session termination endpoint URL."
          }
        },
        "device_authorization_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth device authorization endpoint URL."
          }
        },
        "registration_endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth dynamic client registration endpoint URL."
          }
        },
        "response_types_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigResponseTypesSupportedList",
          "traits": {
            "smithy.api#documentation": "OAuth response types supported by the server."
          }
        },
        "token_endpoint_auth_methods_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigTokenEndpointAuthMethodsSupportedList",
          "traits": {
            "smithy.api#documentation": "Token endpoint client authentication methods supported by the server."
          }
        },
        "token_endpoint_auth_signing_alg_values_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigTokenEndpointAuthSigningAlgValuesSupportedList",
          "traits": {
            "smithy.api#documentation": "Signing algorithms supported for token endpoint authentication."
          }
        },
        "scopes_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigScopesSupportedList",
          "traits": {
            "smithy.api#documentation": "OAuth scopes supported by the server."
          }
        },
        "grant_types_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigGrantTypesSupportedList",
          "traits": {
            "smithy.api#documentation": "OAuth grant types supported by the server."
          }
        },
        "response_modes_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigResponseModesSupportedList",
          "traits": {
            "smithy.api#documentation": "OAuth response modes supported by the server."
          }
        },
        "subject_types_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigSubjectTypesSupportedList",
          "traits": {
            "smithy.api#documentation": "OpenID Connect subject identifier types supported by the server."
          }
        },
        "id_token_signing_alg_values_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigIdTokenSigningAlgValuesSupportedList",
          "traits": {
            "smithy.api#documentation": "Signing algorithms supported for ID tokens."
          }
        },
        "id_token_encryption_alg_values_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigIdTokenEncryptionAlgValuesSupportedList",
          "traits": {
            "smithy.api#documentation": "Key management algorithms supported for encrypted ID tokens."
          }
        },
        "id_token_encryption_enc_values_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigIdTokenEncryptionEncValuesSupportedList",
          "traits": {
            "smithy.api#documentation": "Content encryption algorithms supported for encrypted ID tokens."
          }
        },
        "claim_types_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigClaimTypesSupportedList",
          "traits": {
            "smithy.api#documentation": "OpenID Connect claim value types supported by the server."
          }
        },
        "claims_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigClaimsSupportedList",
          "traits": {
            "smithy.api#documentation": "Claims that the authorization server can return."
          }
        },
        "code_challenge_methods_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigCodeChallengeMethodsSupportedList",
          "traits": {
            "smithy.api#documentation": "PKCE code challenge methods supported by the server."
          }
        },
        "prompt_values_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigPromptValuesSupportedList",
          "traits": {
            "smithy.api#documentation": "Authorization prompt values supported by the server."
          }
        },
        "claims_parameter_supported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether authorization requests can use the claims parameter."
          }
        },
        "request_parameter_supported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether authorization requests can use signed request objects."
          }
        },
        "request_uri_parameter_supported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether authorization requests can use request_uri."
          }
        },
        "require_request_uri_registration": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether request_uri values must be registered in advance."
          }
        },
        "service_documentation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization server documentation URL."
          }
        },
        "op_policy_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization server privacy policy URL."
          }
        },
        "op_tos_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization server terms of service URL."
          }
        },
        "logo_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization server logo URL."
          }
        },
        "client_id_metadata_document_supported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the server supports OAuth client ID metadata documents."
          }
        },
        "authorization_details_types_supported": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfigAuthorizationDetailsTypesSupportedList",
          "traits": {
            "smithy.api#documentation": "OAuth authorization-detail types supported by the server."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authorization server metadata. Values override discovered metadata. Empty known string fields remove their stored overrides."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0UserAuthorizationScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Default scopes to request when token params specify scopes: [\\\"*\\\"]."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0UserAuthorization": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this OAuth grant is enabled.",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0UserAuthorizationScopesList",
          "traits": {
            "smithy.api#documentation": "Default scopes to request when token params specify scopes: [\\\"*\\\"]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User authorization grant settings."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0RefreshTokens": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this OAuth grant is enabled.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Refresh token settings."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ClientCredentialsScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Default scopes to request when token params specify scopes: [\\\"*\\\"]."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ClientCredentials": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this OAuth grant is enabled.",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ClientCredentialsScopesList",
          "traits": {
            "smithy.api#documentation": "Default scopes to request when token params specify scopes: [\\\"*\\\"]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Client credentials grant settings."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ForwardedClaimsIdTokenList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "ID token claim names that Connect can expose."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ForwardedClaims": {
      "type": "structure",
      "members": {
        "idToken": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ForwardedClaimsIdTokenList",
          "traits": {
            "smithy.api#documentation": "ID token claim names that Connect can expose."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Allow-list of extra claims to propagate, keyed by source (idToken). Only claims named here and present in that source are exposed."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0AuthorizationUrlParamsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Extra query parameters added to authorization URLs."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0JwtBearerScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Default scopes to request when token params specify scopes: [\\\"*\\\"]."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0JwtBearerAdditionalClaimsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional claims included in generated JWT assertions."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0JwtBearer": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether JWT bearer grants are enabled."
          }
        },
        "scopes": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0JwtBearerScopesList",
          "traits": {
            "smithy.api#documentation": "Default scopes to request when token params specify scopes: [\\\"*\\\"]."
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default JWT subject claim."
          }
        },
        "iss": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default JWT issuer claim."
          }
        },
        "aud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default JWT audience claim."
          }
        },
        "additionalClaims": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0JwtBearerAdditionalClaimsMap",
          "traits": {
            "smithy.api#documentation": "Additional claims included in generated JWT assertions."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "JWT lifetime in seconds."
          }
        },
        "useClientCredentials": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether JWT bearer requests also use client credentials."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "JWT bearer grant settings."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ClientAssertionClaimsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional claims included in the client assertion."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0ClientAssertion": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client assertion type. Defaults to urn:ietf:params:oauth:client-assertion-type:jwt-bearer. An empty string clears the configured type."
          }
        },
        "ttl": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Client assertion lifetime in seconds."
          }
        },
        "claims": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ClientAssertionClaimsMap",
          "traits": {
            "smithy.api#documentation": "Additional claims included in the client assertion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`private_key_jwt` client assertion settings."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase0": {
      "type": "structure",
      "members": {
        "serverUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorization server base URL used for discovery."
          }
        },
        "serverConfig": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ServerConfig",
          "traits": {
            "smithy.api#documentation": "Authorization server metadata. Values override discovered metadata. Empty known string fields remove their stored overrides."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client ID assigned by the provider.",
            "smithy.api#required": {}
          }
        },
        "clientName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client name."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client secret.",
            "smithy.api#sensitive": {}
          }
        },
        "tokenEndpointAuthMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth token endpoint authentication method. Common values are client_secret_post, client_secret_basic, none, and private_key_jwt. If omitted, Vercel selects a supported method from serverConfig and otherwise uses client_secret_post."
          }
        },
        "responseType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth authorization response type. Defaults to code. Other provider-supported values are accepted. An empty string clears the configured type."
          }
        },
        "pkceRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether user authorization must use PKCE."
          }
        },
        "codeChallengeMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PKCE code challenge method. Supported values are S256 and plain. Vercel prefers S256 when the provider supports it. An empty string clears the configured method."
          }
        },
        "userAuthorization": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0UserAuthorization",
          "traits": {
            "smithy.api#documentation": "User authorization grant settings."
          }
        },
        "refreshTokens": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0RefreshTokens",
          "traits": {
            "smithy.api#documentation": "Refresh token settings."
          }
        },
        "clientCredentials": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ClientCredentials",
          "traits": {
            "smithy.api#documentation": "Client credentials grant settings."
          }
        },
        "forwardedClaims": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ForwardedClaims",
          "traits": {
            "smithy.api#documentation": "Allow-list of extra claims to propagate, keyed by source (idToken). Only claims named here and present in that source are exposed."
          }
        },
        "defaultAudience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default audience used when a token request omits one. An empty string clears the default."
          }
        },
        "defaultTokenExpiresIn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Default token lifetime in seconds to use when the token response omits expires_in."
          }
        },
        "authorizationUrlParams": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0AuthorizationUrlParamsMap",
          "traits": {
            "smithy.api#documentation": "Extra query parameters added to authorization URLs."
          }
        },
        "jwtBearer": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0JwtBearer",
          "traits": {
            "smithy.api#documentation": "JWT bearer grant settings."
          }
        },
        "clientAssertion": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase0ClientAssertion",
          "traits": {
            "smithy.api#documentation": "`private_key_jwt` client assertion settings."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase1SubjectType": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which subject the connector issues tokens for. Defaults to \\\"app\\\" (connector-level keys). \\\"user\\\" connectors store no connector-level values; each user supplies their own key during authorization."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase1ValuesItem": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API key value.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional scope associated with the API key value."
          }
        },
        "expiresAt": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The timestamp when the API key value expires in milliseconds."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase1ValuesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.connect#ConnectConnectorCreateDataCase1ValuesItem"
      },
      "traits": {
        "smithy.api#documentation": "Initial API key values stored by the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase1ServiceUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The HTTPS resources the API key authenticates against."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase1": {
      "type": "structure",
      "members": {
        "subjectType": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase1SubjectType",
          "traits": {
            "smithy.api#documentation": "Which subject the connector issues tokens for. Defaults to \\\"app\\\" (connector-level keys). \\\"user\\\" connectors store no connector-level values; each user supplies their own key during authorization."
          }
        },
        "values": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase1ValuesList",
          "traits": {
            "smithy.api#documentation": "Initial API key values stored by the connector."
          }
        },
        "serviceUrls": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase1ServiceUrlsList",
          "traits": {
            "smithy.api#documentation": "The HTTPS resources the API key authenticates against."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase2OwnerType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization"
          }
        },
        "USER_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "User"
          }
        },
        "ORGANIZATION_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Organization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitHub App owner type."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase2Owner": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase2OwnerType",
          "traits": {
            "smithy.api#documentation": "GitHub App owner type.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub App owner numeric ID.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub App owner login.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub App owner display name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "GitHub App owner."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase2ExtrasMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional provider metadata stored with the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase2": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "GitHub App numeric ID.",
            "smithy.api#required": {}
          }
        },
        "appSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub App slug.",
            "smithy.api#required": {}
          }
        },
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub App display name.",
            "smithy.api#required": {}
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client ID assigned by GitHub.",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase2Owner",
          "traits": {
            "smithy.api#documentation": "GitHub App owner."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub App OAuth client secret.",
            "smithy.api#sensitive": {}
          }
        },
        "privateKeyPem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub App private key in PEM format."
          }
        },
        "webhookSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "GitHub App webhook secret."
          }
        },
        "extras": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase2ExtrasMap",
          "traits": {
            "smithy.api#documentation": "Additional provider metadata stored with the connector."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase3AppScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OAuth scopes requested for Linear application tokens."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase3UserScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OAuth scopes requested for Linear user tokens."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase3OwnerOrganization": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear organization ID.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear organization slug.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear organization name.",
            "smithy.api#required": {}
          }
        },
        "logoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear organization logo URL.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Linear organization that owns the OAuth application."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase3ApplicationRedirectUrisList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Registered redirect URIs for the Linear OAuth application."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase3ApplicationWebhookResourceTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Linear resource types delivered to the webhook."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase3Application": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application ID.",
            "smithy.api#required": {}
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth client ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application name.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application description.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "developer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application developer name.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "developerUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application developer URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "imageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application image URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectUris": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase3ApplicationRedirectUrisList",
          "traits": {
            "smithy.api#documentation": "Registered redirect URIs for the Linear OAuth application."
          }
        },
        "distribution": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application distribution mode.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "webhookResourceTypes": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase3ApplicationWebhookResourceTypesList",
          "traits": {
            "smithy.api#documentation": "Linear resource types delivered to the webhook."
          }
        },
        "webhookUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear webhook URL.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "webhookEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Linear webhook is enabled."
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application creation timestamp."
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application update timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Linear OAuth application metadata."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase3ExtrasMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional provider metadata stored with the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase3": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear application ID."
          }
        },
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear application name."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client ID assigned by Linear.",
            "smithy.api#required": {}
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear OAuth client secret.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "webhookSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linear webhook verification secret."
          }
        },
        "appScopes": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase3AppScopesList",
          "traits": {
            "smithy.api#documentation": "OAuth scopes requested for Linear application tokens."
          }
        },
        "userScopes": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase3UserScopesList",
          "traits": {
            "smithy.api#documentation": "OAuth scopes requested for Linear user tokens."
          }
        },
        "ownerOrganization": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase3OwnerOrganization",
          "traits": {
            "smithy.api#documentation": "Linear organization that owns the OAuth application."
          }
        },
        "application": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase3Application",
          "traits": {
            "smithy.api#documentation": "Linear OAuth application metadata."
          }
        },
        "extras": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase3ExtrasMap",
          "traits": {
            "smithy.api#documentation": "Additional provider metadata stored with the connector."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase4PhoneNumbersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase4": {
      "type": "structure",
      "members": {
        "apiToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Linq partner API token for the shared line.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "phoneNumbers": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase4PhoneNumbersList"
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase5": {
      "type": "structure",
      "members": {
        "consumerKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Salesforce connected app consumer key.",
            "smithy.api#required": {}
          }
        },
        "consumerSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Salesforce connected app consumer secret.",
            "smithy.api#required": {}
          }
        },
        "loginHost": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Salesforce login host, such as login.salesforce.com.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase6PhoneNumbersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "E.164 Sendblue lines this connector sends and receives on. Used as the connector's display name, and the only lines its webhooks are registered for; an empty array clears them, which also removes the webhook subscription."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase6": {
      "type": "structure",
      "members": {
        "apiKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sendblue API key id (`sb-api-key-id`).",
            "smithy.api#required": {}
          }
        },
        "apiSecretKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sendblue API secret key (`sb-api-secret-key`).",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "phoneNumbers": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase6PhoneNumbersList",
          "traits": {
            "smithy.api#documentation": "E.164 Sendblue lines this connector sends and receives on. Used as the connector's display name, and the only lines its webhooks are registered for; an empty array clears them, which also removes the webhook subscription."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase7SlackTeam": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack workspace ID.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack workspace name."
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack workspace domain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Slack workspace metadata."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase7BotScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OAuth scopes requested for Slack bot tokens."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase7UserScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "OAuth scopes requested for Slack user tokens."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase7ExtrasMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional provider metadata stored with the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase7": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack app ID.",
            "smithy.api#required": {}
          }
        },
        "appName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack app display name.",
            "smithy.api#required": {}
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OAuth client ID assigned by Slack.",
            "smithy.api#required": {}
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack app OAuth client secret.",
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        },
        "slackTeam": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase7SlackTeam",
          "traits": {
            "smithy.api#documentation": "Slack workspace metadata."
          }
        },
        "signingSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Slack request signing secret."
          }
        },
        "verificationToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legacy Slack webhook verification token."
          }
        },
        "botScopes": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase7BotScopesList",
          "traits": {
            "smithy.api#documentation": "OAuth scopes requested for Slack bot tokens."
          }
        },
        "userScopes": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase7UserScopesList",
          "traits": {
            "smithy.api#documentation": "OAuth scopes requested for Slack user tokens."
          }
        },
        "extras": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase7ExtrasMap",
          "traits": {
            "smithy.api#documentation": "Additional provider metadata stored with the connector."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase8ExtrasMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional provider metadata stored with the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase8": {
      "type": "structure",
      "members": {
        "clientName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snowflake OAuth client name."
          }
        },
        "accountIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snowflake account identifier.",
            "smithy.api#required": {}
          }
        },
        "defaultSessionRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default Snowflake role for created sessions."
          }
        },
        "extras": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase8ExtrasMap",
          "traits": {
            "smithy.api#documentation": "Additional provider metadata stored with the connector."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase9ExtrasMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Additional provider metadata stored with the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase9": {
      "type": "structure",
      "members": {
        "clientName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snowflake client name."
          }
        },
        "accountIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Snowflake account identifier."
          }
        },
        "extras": {
          "target": "com.vercel.connect#ConnectConnectorCreateDataCase9ExtrasMap",
          "traits": {
            "smithy.api#documentation": "Additional provider metadata stored with the connector."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase10": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Photon project ID.",
            "smithy.api#required": {}
          }
        },
        "projectSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Photon project secret.",
            "smithy.api#required": {}
          }
        },
        "webhookSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Photon webhook verification secret."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateDataCase11Map": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.connect#CreateConnectorRequestParamsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Values for the selected connection method's template fields. Requires connectionMethod."
      }
    },
    "com.vercel.connect#CreateConnectorRequestEnvironmentsItemCase0": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#CreateConnectorRequestEnvironmentsItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.connect#CreateConnectorRequestEnvironmentsItemCase0"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "A built-in environment name or the stable env_* ID of a custom environment."
      }
    },
    "com.vercel.connect#CreateConnectorRequestEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.connect#CreateConnectorRequestEnvironmentsItem"
      },
      "traits": {
        "smithy.api#documentation": "Environments for the project connection. Requires projectId. Use one or more built-in environment names or stable custom environment IDs that belong to the project. Duplicate values are accepted and removed."
      }
    },
    "com.vercel.connect#CreateConnectorRequestTriggerDestinationCase0": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project that receives triggers. During connector creation, omit it to use the top-level projectId."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Route path on the linked project that receives forwarded trigger requests."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#CreateConnectorRequestTriggerDestinationCase1": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project that receives triggers. During connector creation, omit it to use the top-level projectId."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch used to select a preview deployment.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Route path on the linked project that receives forwarded trigger requests."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#CreateConnectorRequestTriggerDestinationCase2": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project that receives triggers. During connector creation, omit it to use the top-level projectId."
          }
        },
        "customEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable custom environment ID that belongs to the destination project.",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Route path on the linked project that receives forwarded trigger requests."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#CreateConnectorRequestTriggerDestination": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.connect#CreateConnectorRequestTriggerDestinationCase0"
        },
        "Case1": {
          "target": "com.vercel.connect#CreateConnectorRequestTriggerDestinationCase1"
        },
        "Case2": {
          "target": "com.vercel.connect#CreateConnectorRequestTriggerDestinationCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "Initial trigger destination. Requires triggers to be enabled and a projectId here or at the top level. Connector responses expose the resulting set as triggerDestinations. Replace the complete set with PATCH /v1/connect/connectors/{connector}/trigger-destinations."
      }
    },
    "com.vercel.connect#CreateConnectorRequestEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Default trigger events for this connector."
      }
    },
    "com.vercel.connect#CreateConnectorRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The team ID that scopes the request. Do not send it with slug. If both are omitted, Vercel uses the team associated with the token or the authenticated user's default team. The request returns 401 if no team can be selected."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The team slug that scopes the request. Do not send it with teamId. If both are omitted, Vercel uses the team associated with the token or the authenticated user's default team. The request returns 401 if no team can be selected."
          }
        },
        "data": {
          "target": "com.vercel.connect#ConnectConnectorCreateData",
          "traits": {
            "smithy.api#documentation": "Provider configuration for the selected connector type or connection method.",
            "smithy.api#required": {}
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "SHA-1 digest of a PNG or JPEG icon that is at least 640 by 640 pixels. This field does not accept a URL or image bytes.\n\nFirst compute the digest and upload the raw image with [POST /v2/files](https://vercel.com/docs/rest-api/deployments/upload-deployment-files). Send `Content-Length` and the same 40-character digest in `x-vercel-digest`. Then set `icon` to that digest.\n\n```js\nimport { createHash } from 'node:crypto';\nimport { readFile } from 'node:fs/promises';\n\nconst VERCEL_TOKEN = process.env.VERCEL_TOKEN;\nconst connectorId = 'scl_...';\nconst bytes = await readFile('icon.png');\nconst digest = createHash('sha1').update(bytes).digest('hex');\n\nawait fetch('https://api.vercel.com/v2/files', {\n  method: 'POST',\n  headers: {\n    Authorization: `Bearer ${VERCEL_TOKEN}`,\n    'Content-Type': 'application/octet-stream',\n    'Content-Length': String(bytes.length),\n    'x-vercel-digest': digest,\n  },\n  body: bytes,\n});\n\nawait fetch(`https://api.vercel.com/v2/connect/connectors/${connectorId}`, {\n  method: 'PATCH',\n  headers: {\n    Authorization: `Bearer ${VERCEL_TOKEN}`,\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({ icon: digest }),\n});\n```\n"
          }
        },
        "backgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Branding background color (6-digit hex, for example"
          }
        },
        "accentColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Branding accent color (6-digit hex, for example"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connector implementation type for full configuration. Known types: api-key, discord, github, linear, linq, microsoft-entra, oauth, photon, salesforce, sendblue, slack, snowflake, snowflake-wif. Optional when service and connectionMethod select the type."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Service slug or URL for which the connector is used. Required when connectionMethod is set. Service alone does not enable preset configuration."
          }
        },
        "connectionMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection method slug of the service. Use it with service to select preset configuration."
          }
        },
        "params": {
          "target": "com.vercel.connect#CreateConnectorRequestParamsMap",
          "traits": {
            "smithy.api#documentation": "Values for the selected connection method's template fields. Requires connectionMethod."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Which of the service's targets this connector is for. Requires \\\"connectionMethod\\\" and must be one that method serves. Optional."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional team-scoped unique identifier for the connector. If omitted or empty, Connect generates a value."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connector name. The value is trimmed and cannot contain control characters. If omitted or empty, the project name is used. A name or projectId is required. API key connectors require name."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Project to connect during creation. If environments is omitted, the connection uses development, preview, and production."
          }
        },
        "environments": {
          "target": "com.vercel.connect#CreateConnectorRequestEnvironmentsList",
          "traits": {
            "smithy.api#documentation": "Environments for the project connection. Requires projectId. Use one or more built-in environment names or stable custom environment IDs that belong to the project. Duplicate values are accepted and removed."
          }
        },
        "triggers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the triggers are enabled for this connector."
          }
        },
        "triggerDestination": {
          "target": "com.vercel.connect#CreateConnectorRequestTriggerDestination",
          "traits": {
            "smithy.api#documentation": "Initial trigger destination. Requires triggers to be enabled and a projectId here or at the top level. Connector responses expose the resulting set as triggerDestinations. Replace the complete set with PATCH /v1/connect/connectors/{connector}/trigger-destinations."
          }
        },
        "events": {
          "target": "com.vercel.connect#CreateConnectorRequestEventsList",
          "traits": {
            "smithy.api#documentation": "Default trigger events for this connector."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable `scl_` connector ID. Use this value directly in `{connector}`.",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Team-scoped UID. URL-encode this value before using it in `{connector}`.",
            "smithy.api#required": {}
          }
        },
        "defaultInstallationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Installation used when a token request does not specify an installation."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Creation time in epoch milliseconds.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Last update time in epoch milliseconds.",
            "smithy.api#required": {}
          }
        },
        "reinstallAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Time when this connector started requiring reinstallation because an installation-affecting app-token grant changed."
          }
        },
        "createdBy": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultCreatedBy",
          "traits": {
            "smithy.api#documentation": "Principal that created the connector."
          }
        },
        "updatedBy": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUpdatedBy",
          "traits": {
            "smithy.api#documentation": "Principal that most recently updated the connector."
          }
        },
        "creationMode": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultCreationMode",
          "traits": {
            "smithy.api#documentation": "How the connector row was originally created. New create paths stamp this explicitly; older rows may omit it."
          }
        },
        "managed": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultManaged",
          "traits": {
            "smithy.api#documentation": "Managed connector metadata exposed without leaking the manager connector or installation identifiers."
          }
        },
        "type": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultType",
          "traits": {
            "smithy.api#documentation": "Connector implementation type.",
            "smithy.api#required": {}
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Best-effort identifier of the third-party service this connector represents, independent of `type`. Examples: `'slack'`, `'mcp.linear.app'`, and `'auth.example.com'`. Always present in API responses.",
            "smithy.api#required": {}
          }
        },
        "connectionMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The connection method this connector was created from, when the create request named one."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Which of the service's products/surfaces this connector points at."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connector name within the owning team.",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable connector name.",
            "smithy.api#required": {}
          }
        },
        "clientUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Provider-side URL for viewing or managing the resource represented by the connector. The destination can be an app, account, phone line, or service instance, depending on the connector type.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Redirect URI registered with the third-party service for this connector, if any. Used by `startAuthorization`/`startInstallation` to replay the exact URI back to the provider's token endpoint. Absent on connectors created before this field was introduced; those callers fall back to the `https://connect.vercel.com/callback` default."
          }
        },
        "typeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable name of the connector type.",
            "smithy.api#required": {}
          }
        },
        "typeIcon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Icon identifier supplied by the connector type."
          }
        },
        "website": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public website for the connected service."
          }
        },
        "devsite": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Developer website for the connected service."
          }
        },
        "docsite": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Developer documentation for the connected service."
          }
        },
        "icon": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connector branding icon. SHA-1 hash that resolves to the uploaded icon through the Vercel avatar service. Consumers render this with `https://vercel.com/api/www/avatar/{icon}`."
          }
        },
        "backgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hex background color (e.g., `#000000`) for branding."
          }
        },
        "accentColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hex accent color (e.g., `#000000`) for branding."
          }
        },
        "supportedSubjectTypes": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultSupportedSubjectTypesList",
          "traits": {
            "smithy.api#documentation": "Token subject types supported by the connector.",
            "smithy.api#required": {}
          }
        },
        "appTokens": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultAppTokens",
          "traits": {
            "smithy.api#documentation": "App-token capabilities and known grants for the connector."
          }
        },
        "userTokens": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUserTokens",
          "traits": {
            "smithy.api#documentation": "User-token capabilities and known grants for the connector."
          }
        },
        "supportsInstallation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the connector supports an installation flow.",
            "smithy.api#required": {}
          }
        },
        "supportsRevocation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Connect can revoke tokens for this connector.",
            "smithy.api#required": {}
          }
        },
        "supportsTriggers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this connector type supports trigger webhooks. Derived from the type definition; indicates that `triggers` and `triggerDestinations` may be meaningful for this connector.",
            "smithy.api#required": {}
          }
        },
        "supportsIcon": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Whether the connector icon can propagate to the provider.",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.vercel.connect#ConnectTriggerConfiguration",
          "traits": {
            "smithy.api#documentation": "Incoming trigger configuration for the connector."
          }
        },
        "events": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultEventsList",
          "traits": {
            "smithy.api#documentation": "Known events this connector subscribes to (e.g. Slack bot events, GitHub webhook events). Names are type-specific and validated by the managed-create flow when forwarded to the third-party service."
          }
        },
        "triggerDestinations": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultTriggerDestinationsList",
          "traits": {
            "smithy.api#documentation": "Destinations that incoming triggers should be forwarded to. Limited to 3 entries. Set the initial destination with `triggerDestination` during creation. Replace the complete set with `PATCH /v1/connect/connectors/{connector}/trigger-destinations`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connector created by the request."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase0Type": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal kind."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase0Type",
          "traits": {
            "smithy.api#documentation": "Principal kind.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vercel user ID.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal that originally created the connector — either a Vercel user (interactive dashboard / CLI flow) or a Vercel deployment (OIDC-authenticated project, used by runtime auto-provisioning). See {@link ConnexPrincipal}. Optional: pre-existing rows from before this shape was introduced may carry no attribution at all."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase1Type": {
      "type": "enum",
      "members": {
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal kind."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase1EnvironmentCase1": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase1Environment": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase1EnvironmentCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment environment of the project principal."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase1Type",
          "traits": {
            "smithy.api#documentation": "Principal kind.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vercel project ID.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase1Environment",
          "traits": {
            "smithy.api#documentation": "Deployment environment of the project principal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal that originally created the connector — either a Vercel user (interactive dashboard / CLI flow) or a Vercel deployment (OIDC-authenticated project, used by runtime auto-provisioning). See {@link ConnexPrincipal}. Optional: pre-existing rows from before this shape was introduced may carry no attribution at all."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultCreatedBy": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase0"
        },
        "Case1": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultCreatedByCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal that created the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase0Type": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal kind."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase0Type",
          "traits": {
            "smithy.api#documentation": "Principal kind.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vercel user ID.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal that most recently mutated the connector. Same shape as {@link createdBy} but tracks the most recent updater, not the original creator. At create time the two fields point at the same principal; they diverge on the first subsequent update."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase1Type": {
      "type": "enum",
      "members": {
        "PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal kind."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase1EnvironmentCase1": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase1Environment": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase1EnvironmentCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Deployment environment of the project principal."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase1Type",
          "traits": {
            "smithy.api#documentation": "Principal kind.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vercel project ID.",
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase1Environment",
          "traits": {
            "smithy.api#documentation": "Deployment environment of the project principal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal that most recently mutated the connector. Same shape as {@link createdBy} but tracks the most recent updater, not the original creator. At create time the two fields point at the same principal; they diverge on the first subsequent update."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultUpdatedBy": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase0"
        },
        "Case1": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUpdatedByCase1"
        }
      },
      "traits": {
        "smithy.api#documentation": "Principal that most recently updated the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultCreationMode": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How the connector row was originally created. New create paths stamp this explicitly; older rows may omit it."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultManaged": {
      "type": "structure",
      "members": {
        "sync": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Vercel synchronizes provider-side configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Managed connector metadata exposed without leaking the manager connector or installation identifiers."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultType": {
      "type": "enum",
      "members": {
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api-key"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "LINEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linear"
          }
        },
        "LINQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "linq"
          }
        },
        "MICROSOFT_ENTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microsoft-entra"
          }
        },
        "MICROSOFT_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microsoft-teams"
          }
        },
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth"
          }
        },
        "PHOTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "photon"
          }
        },
        "SALESFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "salesforce"
          }
        },
        "SENDBLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sendblue"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "slack"
          }
        },
        "SNOWFLAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snowflake"
          }
        },
        "SNOWFLAKE_WIF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snowflake-wif"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Connector implementation type."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultSupportedSubjectTypesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Token subject types supported by the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultAppTokensScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Known allowed app-level scopes. For Slack this is the bot scope set configured on the app; for OAuth it is the connector's enabled `clientCredentials.scopes` configuration."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultAppTokensSupportedAuthorizationDetailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Supported OAuth authorization-detail type names."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultAppTokens": {
      "type": "structure",
      "members": {
        "crossInstallation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether one app token can be used across installations.",
            "smithy.api#required": {}
          }
        },
        "supportsRefinement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether callers can narrow app-token grants per request.",
            "smithy.api#required": {}
          }
        },
        "requiresReinstallation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True when changing app token grants requires reinstalling the app, so tokens cannot be partitioned independently by requester environment."
          }
        },
        "scopes": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultAppTokensScopesList",
          "traits": {
            "smithy.api#documentation": "Known allowed app-level scopes. For Slack this is the bot scope set configured on the app; for OAuth it is the connector's enabled `clientCredentials.scopes` configuration."
          }
        },
        "supportedAuthorizationDetails": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultAppTokensSupportedAuthorizationDetailsList",
          "traits": {
            "smithy.api#documentation": "Supported OAuth authorization-detail type names."
          }
        },
        "permissionsUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Link to the page on the service where this connector's app-level permissions are declared and granted, when the service has one and it differs from `clientUrl`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "App-token capabilities and known grants for the connector."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultUserTokensScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Known allowed user-level scopes. For Slack this is the user scope set configured on the app; for OAuth it is the connector's enabled `userAuthorization.scopes` configuration."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultUserTokensSupportedAuthorizationDetailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Supported OAuth authorization-detail type names."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultUserTokens": {
      "type": "structure",
      "members": {
        "crossInstallation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether one user token can be used across installations.",
            "smithy.api#required": {}
          }
        },
        "supportsRefinement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether callers can narrow user-token grants per request.",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUserTokensScopesList",
          "traits": {
            "smithy.api#documentation": "Known allowed user-level scopes. For Slack this is the user scope set configured on the app; for OAuth it is the connector's enabled `userAuthorization.scopes` configuration."
          }
        },
        "supportedAuthorizationDetails": {
          "target": "com.vercel.connect#ConnectConnectorCreateResultUserTokensSupportedAuthorizationDetailsList",
          "traits": {
            "smithy.api#documentation": "Supported OAuth authorization-detail type names."
          }
        },
        "manualCredentialInput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "User authorization is completed by the Connect consent screen submitting a credential instead of an OAuth redirect."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User-token capabilities and known grants for the connector."
      }
    },
    "com.vercel.connect#ConnectTriggerConfiguration": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether incoming triggers are enabled for the connector.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Incoming trigger configuration. Only present when enabled."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultEventsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Known events this connector subscribes to (e.g. Slack bot events, GitHub webhook events). Names are type-specific and validated by the managed-create flow when forwarded to the third-party service."
      }
    },
    "com.vercel.connect#ConnectTriggerDestination": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Vercel project that receives matching trigger requests.",
            "smithy.api#required": {}
          }
        },
        "customEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable custom-environment ID to route this destination to. Mutually exclusive with `branch`; omitted destinations keep the legacy production behavior."
          }
        },
        "branch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch used to select a preview deployment."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Route path that receives the forwarded trigger request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Destinations that incoming triggers should be forwarded to. Limited to 3 entries. Set the initial destination with `triggerDestination` during creation. Replace the complete set with `PATCH /v1/connect/connectors/{connector}/trigger-destinations`."
      }
    },
    "com.vercel.connect#ConnectConnectorCreateResultTriggerDestinationsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.connect#ConnectTriggerDestination"
      },
      "traits": {
[...]
