{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.deployments#GetDeploymentEventsRequestDirection": {
      "type": "enum",
      "members": {
        "BACKWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "backward"
          }
        },
        "FORWARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forward"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsRequestFollow": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsRequestDelimiter": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsRequestBuilds": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 1
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsRequest": {
      "type": "structure",
      "members": {
        "idOrUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier or hostname of the deployment."
          }
        },
        "direction": {
          "target": "com.vercel.deployments#GetDeploymentEventsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Order of the returned events based on the timestamp."
          }
        },
        "follow": {
          "target": "com.vercel.deployments#GetDeploymentEventsRequestFollow",
          "traits": {
            "smithy.api#httpQuery": "follow",
            "smithy.api#documentation": "When enabled, this endpoint will return live events as they happen."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of events to return. Provide `-1` to return all available logs."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Deployment build ID."
          }
        },
        "since": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Timestamp for when build logs should be pulled from."
          }
        },
        "until": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Timestamp for when the build logs should be pulled up until."
          }
        },
        "statusCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "statusCode",
            "smithy.api#documentation": "HTTP status code range to filter events by."
          }
        },
        "delimiter": {
          "target": "com.vercel.deployments#GetDeploymentEventsRequestDelimiter",
          "traits": {
            "smithy.api#httpQuery": "delimiter"
          }
        },
        "builds": {
          "target": "com.vercel.deployments#GetDeploymentEventsRequestBuilds",
          "traits": {
            "smithy.api#httpQuery": "builds"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0Type": {
      "type": "enum",
      "members": {
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "DELIMITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delimiter"
          }
        },
        "DEPLOYMENT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-state"
          }
        },
        "EDGE_FUNCTION_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-function-invocation"
          }
        },
        "EXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fatal"
          }
        },
        "METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metric"
          }
        },
        "MIDDLEWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware"
          }
        },
        "MIDDLEWARE_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware-invocation"
          }
        },
        "REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report"
          }
        },
        "STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stderr"
          }
        },
        "STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stdout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "created": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Type": {
      "type": "enum",
      "members": {
        "COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "command"
          }
        },
        "DELIMITER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delimiter"
          }
        },
        "DEPLOYMENT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-state"
          }
        },
        "EDGE_FUNCTION_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-function-invocation"
          }
        },
        "EXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exit"
          }
        },
        "FATAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fatal"
          }
        },
        "METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "metric"
          }
        },
        "MIDDLEWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware"
          }
        },
        "MIDDLEWARE_INVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleware-invocation"
          }
        },
        "REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "report"
          }
        },
        "STDERR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stderr"
          }
        },
        "STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stdout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Level": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "warning"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "info": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serial": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "level": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1Level"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyItem": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase0"
        },
        "Case1": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItemCase1"
        },
        "Case2": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyItem"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetDeploymentEventsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.deployments#GetDeploymentEventsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.deployments#GetDeploymentEvents": {
      "type": "operation",
      "input": {
        "target": "com.vercel.deployments#GetDeploymentEventsRequest"
      },
      "output": {
        "target": "com.vercel.deployments#GetDeploymentEventsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.deployments#BadRequest"
        },
        {
          "target": "com.vercel.deployments#Forbidden"
        },
        {
          "target": "com.vercel.deployments#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/deployments/{idOrUrl}/events",
          "code": 200
        },
        "smithy.api#documentation": "Get deployment events\n\nGet the build logs of a deployment by deployment ID and build ID. It can work as an infinite stream of logs or as a JSON endpoint depending on the input parameters."
      }
    },
    "com.vercel.deployments#UpdateDeploymentIntegrationActionRequestStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#UpdateDeploymentIntegrationActionRequestOutcomesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#UpdateDeploymentIntegrationActionRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "integrationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.deployments#UpdateDeploymentIntegrationActionRequestStatus"
        },
        "statusText": {
          "target": "smithy.api#String"
        },
        "statusUrl": {
          "target": "smithy.api#String"
        },
        "outcomes": {
          "target": "com.vercel.deployments#UpdateDeploymentIntegrationActionRequestOutcomesList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.deployments#UpdateDeploymentIntegrationAction": {
      "type": "operation",
      "input": {
        "target": "com.vercel.deployments#UpdateDeploymentIntegrationActionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.vercel.deployments#BadRequest"
        },
        {
          "target": "com.vercel.deployments#Forbidden"
        },
        {
          "target": "com.vercel.deployments#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/deployments/{deploymentId}/integrations/{integrationConfigurationId}/resources/{resourceId}/actions/{action}",
          "code": 200
        },
        "smithy.api#documentation": "Update deployment integration action\n\nUpdates the deployment integration action for the specified integration installation"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlRequest": {
      "type": "structure",
      "members": {
        "idOrUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier or hostname of the deployment."
          }
        },
        "withGitRepoInfo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "withGitRepoInfo",
            "smithy.api#documentation": "When `true`, the response includes the `gitSource` object with the commit SHA, branch name, and connected repository metadata. Defaults to `false`."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0AliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0Target": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0ReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0AliasError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that will contain a `code` and a `message` when the aliasing fails, otherwise the value will be `null`"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0AliasWarning": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "link": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0AliasList"
        },
        "aliasAssigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string holding the unique ID of the deployment",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0Target",
          "traits": {
            "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyState": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0ReadyState",
          "traits": {
            "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
            "smithy.api#required": {}
          }
        },
        "aliasError": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0AliasError",
          "traits": {
            "smithy.api#documentation": "An object that will contain a `code` and a `message` when the aliasing fails, otherwise the value will be `null`",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasWarning": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase0AliasWarning",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorCode": {
          "target": "smithy.api#String"
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns the reduced deployment view for anonymous (`vcn_`) callers. Pool-team details are withheld."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AliasAssignedAt": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1BuildEnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Build": {
      "type": "structure",
      "members": {
        "env": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1BuildEnvList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1BuildArtifactUrlsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1BuildsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1EnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ResourceConfig": {
      "type": "structure",
      "members": {
        "buildMachine": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Build machine configuration recorded for this deployment's build. See {@link DeploymentBuildMachine}. Distinct from the team/user `resourceConfig.buildMachine`, which only carries `default`."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ProjectSettingsNodeVersion": {
      "type": "enum",
      "members": {
        "_10_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "10.x"
          }
        },
        "_12_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "12.x"
          }
        },
        "_14_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "14.x"
          }
        },
        "_16_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "16.x"
          }
        },
        "_18_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "18.x"
          }
        },
        "_20_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "20.x"
          }
        },
        "_22_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "22.x"
          }
        },
        "_24_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24.x"
          }
        },
        "_8_10_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8.10.x"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ProjectSettingsFramework": {
      "type": "enum",
      "members": {
        "ACTIX_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actix-web"
          }
        },
        "ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "angular"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "ASTRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "astro"
          }
        },
        "AXUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axum"
          }
        },
        "BLITZJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blitzjs"
          }
        },
        "BRUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brunch"
          }
        },
        "BUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bun"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "CREATE_REACT_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create-react-app"
          }
        },
        "DJANGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "django"
          }
        },
        "DOCUSAURUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus"
          }
        },
        "DOCUSAURUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus-2"
          }
        },
        "DOJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dojo"
          }
        },
        "ELEVENTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eleventy"
          }
        },
        "ELYSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elysia"
          }
        },
        "EMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ember"
          }
        },
        "EVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eve"
          }
        },
        "EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "express"
          }
        },
        "FASTAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastapi"
          }
        },
        "FASTHTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fasthtml"
          }
        },
        "FASTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastify"
          }
        },
        "FLASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flask"
          }
        },
        "GATSBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gatsby"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go"
          }
        },
        "GRIDSOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gridsome"
          }
        },
        "H3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h3"
          }
        },
        "HEXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hexo"
          }
        },
        "HONO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hono"
          }
        },
        "HUGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hugo"
          }
        },
        "HYDROGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hydrogen"
          }
        },
        "IONIC_ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-angular"
          }
        },
        "IONIC_REACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-react"
          }
        },
        "JEKYLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jekyll"
          }
        },
        "KOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "koa"
          }
        },
        "MASTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mastra"
          }
        },
        "MIDDLEMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleman"
          }
        },
        "NESTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nestjs"
          }
        },
        "NEXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nextjs"
          }
        },
        "NITRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nitro"
          }
        },
        "NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node"
          }
        },
        "NUXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nuxtjs"
          }
        },
        "PARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parcel"
          }
        },
        "POLYMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polymer"
          }
        },
        "PREACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preact"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        },
        "REACT_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "react-router"
          }
        },
        "REDWOODJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redwoodjs"
          }
        },
        "REMIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remix"
          }
        },
        "RUBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruby"
          }
        },
        "RUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust"
          }
        },
        "SABER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saber"
          }
        },
        "SANITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity"
          }
        },
        "SANITY_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity-v2"
          }
        },
        "SAPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sapper"
          }
        },
        "SCULLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scully"
          }
        },
        "SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "services"
          }
        },
        "SOLIDSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart"
          }
        },
        "SOLIDSTART_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart-1"
          }
        },
        "STENCIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stencil"
          }
        },
        "STORYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storybook"
          }
        },
        "SVELTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "svelte"
          }
        },
        "SVELTEKIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit"
          }
        },
        "SVELTEKIT_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit-1"
          }
        },
        "TANSTACK_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start"
          }
        },
        "TANSTACK_START_LOVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start-lovable"
          }
        },
        "UMIJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "umijs"
          }
        },
        "VITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vite"
          }
        },
        "VITEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vitepress"
          }
        },
        "VUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vue"
          }
        },
        "VUEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vuepress"
          }
        },
        "XMCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xmcp"
          }
        },
        "ZOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zola"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ProjectSettings": {
      "type": "structure",
      "members": {
        "nodeVersion": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ProjectSettingsNodeVersion"
        },
        "buildCommand": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "devCommand": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "framework": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ProjectSettingsFramework",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "commandForIgnoringBuildStep": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "installCommand": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "outputDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "speedInsights": {
          "target": "smithy.api#Document"
        },
        "webAnalytics": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1IntegrationsStatus": {
      "type": "enum",
      "members": {
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "timeout"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Integrations": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1IntegrationsStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "claimedAt": {
          "target": "smithy.api#Double"
        },
        "completedAt": {
          "target": "smithy.api#Double"
        },
        "skippedAt": {
          "target": "smithy.api#Double"
        },
        "skippedBy": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesSizesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesQualitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesRemotePatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesLocalPatternsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesFormatsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesContentDispositionType": {
      "type": "enum",
      "members": {
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attachment"
          }
        },
        "INLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inline"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Images": {
      "type": "structure",
      "members": {
        "sizes": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesSizesList"
        },
        "qualities": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesQualitiesList"
        },
        "domains": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesDomainsList"
        },
        "remotePatterns": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesRemotePatternsList"
        },
        "localPatterns": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesLocalPatternsList"
        },
        "minimumCacheTTL": {
          "target": "smithy.api#Double"
        },
        "formats": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesFormatsList"
        },
        "dangerouslyAllowSVG": {
          "target": "smithy.api#Boolean"
        },
        "contentSecurityPolicy": {
          "target": "smithy.api#String"
        },
        "contentDispositionType": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ImagesContentDispositionType"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of all the aliases (default aliases, staging aliases and production aliases) that were assigned upon deployment creation"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Creator": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user that created the deployment",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the user that created the deployment"
          }
        },
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The avatar of the user that created the deployment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the deployment creator"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1LambdasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Status": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Team": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The team that owns the deployment if any"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1UserAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of domains that were provided by the user when creating the Deployment."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1OomReport": {
      "type": "enum",
      "members": {
        "OUT_OF_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "out-of-memory"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Target": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AliasError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An object that will contain a `code` and a `message` when the aliasing fails, otherwise the value will be `null`"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AliasWarning": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "link": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Type": {
      "type": "enum",
      "members": {
        "LAMBDAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAMBDAS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AutomaticAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ChecksState": {
      "type": "enum",
      "members": {
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registered"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ChecksConclusion": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skipped"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1PassiveRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Since November 2023 this field defines a set of regions that we will deploy the lambda to passively Lambdas will be deployed to these regions but only invoked if all of the primary `regions` are marked as out of service"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ManualProvisioningState": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Current provisioning state"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ManualProvisioning": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ManualProvisioningState",
          "traits": {
            "smithy.api#documentation": "Current provisioning state",
            "smithy.api#required": {}
          }
        },
        "completedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when manual provisioning completed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Present when deployment was created with manual provisioning enabled, either explicitly or via the experimental BYOC git flow. The deployment stays in INITIALIZING until /continue is called."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1MetaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1NodeVersion": {
      "type": "enum",
      "members": {
        "_10_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "10.x"
          }
        },
        "_12_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "12.x"
          }
        },
        "_14_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "14.x"
          }
        },
        "_16_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "16.x"
          }
        },
        "_18_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "18.x"
          }
        },
        "_20_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "20.x"
          }
        },
        "_22_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "22.x"
          }
        },
        "_24_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24.x"
          }
        },
        "_8_10_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8.10.x"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If set it overrides the `projectSettings.nodeVersion` for this deployment."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Project": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The public project information associated with the deployment."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ReadySubstate": {
      "type": "enum",
      "members": {
        "PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTED"
          }
        },
        "ROLLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLING"
          }
        },
        "STAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Substate of deployment when readyState is 'READY' Tracks whether or not deployment has seen production traffic: - STAGED: never seen production traffic - ROLLING: in the process of having production traffic gradually transitioned. - PROMOTED: has seen production traffic"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1RegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The regions the deployment exists in"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Source": {
      "type": "enum",
      "members": {
        "API_TRIGGER_GIT_DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api-trigger-git-deploy"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "CLONE_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone/repo"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop"
          }
        },
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git"
          }
        },
        "GIT_DEPLOY_HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git-deploy-hook"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "IMPORT_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import/repo"
          }
        },
        "REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redeploy"
          }
        },
        "V0_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0-web"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Version": {
      "type": "intEnum",
      "members": {
        "_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 2
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The platform version that was used to create the deployment."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1OidcTokenClaimsMfeGroupIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1OidcTokenClaims": {
      "type": "structure",
      "members": {
        "iss": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sub": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aud": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "owner_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "project_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "custom_environment_id": {
          "target": "smithy.api#String"
        },
        "mfe_group_ids": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1OidcTokenClaimsMfeGroupIdsList"
        },
        "plan": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Plan": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1CronsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1FunctionsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1RoutesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ServicesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Services detected during build from vercel.json experimentalServices or auto-detected from project structure. Used to inject service URLs as environment variables at runtime."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1FlagsCase1List": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Flags defined in the Build Output API, used by this deployment. Primarily used by the Toolbar to know about the used flags."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Flags": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1FlagsCase1List"
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Platform": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The external platform that created the deployment (e.g. its display name).",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Reference back to the entity on the platform that initiated the deployment.",
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The user on the external platform who triggered the deployment.",
            "smithy.api#required": {}
          }
        },
        "meta": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary key-value metadata provided by the platform."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the source platform that triggered the deployment. Allows us to map a deployment back to a platform (e.g. the chat that created it)"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ConfigFunctionType": {
      "type": "enum",
      "members": {
        "FLUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fluid"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ConfigFunctionMemoryType": {
      "type": "enum",
      "members": {
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performance"
          }
        },
        "PERFORMANCE_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performance_xl"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "STANDARD_LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard_legacy"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Config": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Double"
        },
        "functionType": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ConfigFunctionType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "functionMemoryType": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ConfigFunctionMemoryType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "functionTimeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "secureComputePrimaryRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "secureComputeFallbackRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "isUsingActiveCPU": {
          "target": "smithy.api#Boolean"
        },
        "resourceConfig": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Build resource configuration snapshot for this deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Since February 2025 the configuration must include snapshot data at the time of deployment creation to capture properties for the /deployments/:id/config endpoint utilized for displaying Deployment Configuration on the frontend This is optional because older deployments may not have this data captured"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Checks": {
      "type": "structure",
      "members": {
        "deployment_alias": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Condensed check data. Retrieve individual check and check run data using api-checks v2 routes.",
            "smithy.api#required": {},
            "smithy.api#jsonName": "deployment-alias"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1SeatBlockBlockCode": {
      "type": "enum",
      "members": {
        "COMMIT_AUTHOR_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMIT_AUTHOR_REQUIRED"
          }
        },
        "TEAM_ACCESS_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEAM_ACCESS_REQUIRED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The NSNB decision code for the seat block. TODO: We should consolidate block types."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1SeatBlockGitProvider": {
      "type": "enum",
      "members": {
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The git provider type associated with gitUserId."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1SeatBlock": {
      "type": "structure",
      "members": {
        "blockCode": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1SeatBlockBlockCode",
          "traits": {
            "smithy.api#documentation": "The NSNB decision code for the seat block. TODO: We should consolidate block types.",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The blocked vercel user ID."
          }
        },
        "isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determines if the user was verified during the block. In the git integration case, the commit sender was the author."
          }
        },
        "gitUserId": {
          "target": "smithy.api#Document"
        },
        "gitProvider": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1SeatBlockGitProvider",
          "traits": {
            "smithy.api#documentation": "The git provider type associated with gitUserId."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSNB Blocked metadata"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Attribution": {
      "type": "structure",
      "members": {
        "commitMeta": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Commit metadata from the git commit author"
          }
        },
        "gitUser": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Git provider user associated with the commit author email (only set if resolved)"
          }
        },
        "vercelUser": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Vercel user linked to the git provider account (only set if resolved)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Attribution metadata for the deployment, linking commit author to git and Vercel users. Only populated when the `enable-deployment-attribution` flag is enabled."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1": {
      "type": "structure",
      "members": {
        "aliasAssignedAt": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AliasAssignedAt",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "alwaysRefuseToBuild": {
          "target": "smithy.api#Boolean"
        },
        "build": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Build",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buildArtifactUrls": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1BuildArtifactUrlsList"
        },
        "builds": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1BuildsList"
        },
        "env": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1EnvList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceConfig": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ResourceConfig"
        },
        "inspectorUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "isInConcurrentBuildsQueue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isInSystemBuildsQueue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectSettings": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ProjectSettings",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integrations": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Integrations"
        },
        "images": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Images"
        },
        "alias": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AliasList",
          "traits": {
            "smithy.api#documentation": "A list of all the aliases (default aliases, staging aliases and production aliases) that were assigned upon deployment creation"
          }
        },
        "aliasAssigned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean that will be true when the aliases from the alias property were assigned successfully",
            "smithy.api#required": {}
          }
        },
        "bootedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buildingAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buildContainerFinishedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Since April 2025 it necessary for On-Demand Concurrency Minutes calculation"
          }
        },
        "buildSkipped": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Creator",
          "traits": {
            "smithy.api#documentation": "Information about the deployment creator",
            "smithy.api#required": {}
          }
        },
        "initReadyAt": {
          "target": "smithy.api#Double"
        },
        "isFirstBranchDeployment": {
          "target": "smithy.api#Boolean"
        },
        "lambdas": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1LambdasList"
        },
        "public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean representing if the deployment is public or not. By default this is `false`",
            "smithy.api#required": {}
          }
        },
        "ready": {
          "target": "smithy.api#Double"
        },
        "status": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Status",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "team": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Team",
          "traits": {
            "smithy.api#documentation": "The team that owns the deployment if any"
          }
        },
        "userAliases": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1UserAliasesList",
          "traits": {
            "smithy.api#documentation": "An array of domains that were provided by the user when creating the Deployment."
          }
        },
        "previewCommentsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not preview comments are enabled for the deployment"
          }
        },
        "ttyBuildLogs": {
          "target": "smithy.api#Boolean"
        },
        "customEnvironment": {
          "target": "smithy.api#Document"
        },
        "oomReport": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1OomReport"
        },
        "readyStateReason": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string holding the unique ID of the deployment",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Target",
          "traits": {
            "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyState": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ReadyState",
          "traits": {
            "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
            "smithy.api#required": {}
          }
        },
        "aliasError": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AliasError",
          "traits": {
            "smithy.api#documentation": "An object that will contain a `code` and a `message` when the aliasing fails, otherwise the value will be `null`",
            "com.distilled.openapi#nullable": {}
          }
        },
        "aliasWarning": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AliasWarning",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "errorCode": {
          "target": "smithy.api#String"
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number containing the date when the deployment was created in milliseconds",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the project associated with the deployment at the time that the deployment was created",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aliasFinal": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "autoAssignCustomDomains": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "applies to custom domains only, defaults to `true`"
          }
        },
        "automaticAliases": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1AutomaticAliasesList"
        },
        "buildErrorAt": {
          "target": "smithy.api#Double"
        },
        "checksState": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ChecksState"
        },
        "checksConclusion": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ChecksConclusion"
        },
        "deletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number containing the date when the deployment was deleted at milliseconds",
            "com.distilled.openapi#nullable": {}
          }
        },
        "defaultRoute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Computed field that is only available for deployments with a microfrontend configuration."
          }
        },
        "canceledAt": {
          "target": "smithy.api#Double"
        },
        "errorLink": {
          "target": "smithy.api#String"
        },
        "errorStep": {
          "target": "smithy.api#String"
        },
        "passiveRegions": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1PassiveRegionsList",
          "traits": {
            "smithy.api#documentation": "Since November 2023 this field defines a set of regions that we will deploy the lambda to passively Lambdas will be deployed to these regions but only invoked if all of the primary `regions` are marked as out of service"
          }
        },
        "gitSource": {
          "target": "smithy.api#Document"
        },
        "manualProvisioning": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ManualProvisioning",
          "traits": {
            "smithy.api#documentation": "Present when deployment was created with manual provisioning enabled, either explicitly or via the experimental BYOC git flow. The deployment stays in INITIALIZING until /continue is called."
          }
        },
        "meta": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1MetaMap",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "originCacheRegion": {
          "target": "smithy.api#String"
        },
        "nodeVersion": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1NodeVersion",
          "traits": {
            "smithy.api#documentation": "If set it overrides the `projectSettings.nodeVersion` for this deployment."
          }
        },
        "project": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Project",
          "traits": {
            "smithy.api#documentation": "The public project information associated with the deployment."
          }
        },
        "prebuilt": {
          "target": "smithy.api#Boolean"
        },
        "readySubstate": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ReadySubstate",
          "traits": {
            "smithy.api#documentation": "Substate of deployment when readyState is 'READY' Tracks whether or not deployment has seen production traffic: - STAGED: never seen production traffic - ROLLING: in the process of having production traffic gradually transitioned. - PROMOTED: has seen production traffic"
          }
        },
        "regions": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1RegionsList",
          "traits": {
            "smithy.api#documentation": "The regions the deployment exists in",
            "smithy.api#required": {}
          }
        },
        "softDeletedByRetention": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "flag to indicate if the deployment was deleted by retention policy"
          }
        },
        "source": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Source",
          "traits": {
            "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
          }
        },
        "undeletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number containing the date when the deployment was undeleted at milliseconds"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string with the unique URL of the deployment",
            "smithy.api#required": {}
          }
        },
        "userConfiguredDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Since January 2025 User-configured deployment ID for skew protection with pre-built deployments. This is set when users configure a custom deploymentId in their next.config.js file. This allows Next.js to use skew protection even when deployments are pre-built outside of Vercel's build system."
          }
        },
        "version": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Version",
          "traits": {
            "smithy.api#documentation": "The platform version that was used to create the deployment.",
            "smithy.api#required": {}
          }
        },
        "oidcTokenClaims": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1OidcTokenClaims"
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "plan": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Plan",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "connectBuildsEnabled": {
          "target": "smithy.api#Boolean"
        },
        "connectConfigurationId": {
          "target": "smithy.api#String"
        },
        "createdIn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "crons": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1CronsList"
        },
        "functions": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1FunctionsMap",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "isInstantStatic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this deployment completed through the instant static fast path."
          }
        },
        "monorepoManager": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "passiveConnectConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Since November 2023 this field defines a Secure Compute network that will only be used to deploy passive lambdas to (as in passiveRegions)"
          }
        },
        "routes": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1RoutesList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "services": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1ServicesList",
          "traits": {
            "smithy.api#documentation": "Services detected during build from vercel.json experimentalServices or auto-detected from project structure. Used to inject service URLs as environment variables at runtime."
          }
        },
        "gitRepo": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "flags": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Flags"
        },
        "microfrontends": {
          "target": "smithy.api#Document"
        },
        "platform": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Platform",
          "traits": {
            "smithy.api#documentation": "Metadata about the source platform that triggered the deployment. Allows us to map a deployment back to a platform (e.g. the chat that created it)"
          }
        },
        "config": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Config",
          "traits": {
            "smithy.api#documentation": "Since February 2025 the configuration must include snapshot data at the time of deployment creation to capture properties for the /deployments/:id/config endpoint utilized for displaying Deployment Configuration on the frontend This is optional because older deployments may not have this data captured"
          }
        },
        "checks": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Checks"
        },
        "seatBlock": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1SeatBlock",
          "traits": {
            "smithy.api#documentation": "NSNB Blocked metadata"
          }
        },
        "attribution": {
          "target": "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase1Attribution",
          "traits": {
            "smithy.api#documentation": "Attribution metadata for the deployment, linking commit author to git and Vercel users. Only populated when the `enable-deployment-attribution` flag is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns the deployment object for the authenticated owner, including private fields such as environment variables, build log URLs, and internal metadata."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase2AliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of all the aliases (default aliases, staging aliases and production aliases) that were assigned upon deployment creation"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase2Creator": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user that created the deployment",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the user that created the deployment"
          }
        },
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The avatar of the user that created the deployment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the deployment creator"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase2LambdasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase2Status": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase2Team": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatar": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The team that owns the deployment if any"
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase2UserAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "An array of domains that were provided by the user when creating the Deployment."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase2OomReport": {
      "type": "enum",
      "members": {
        "OUT_OF_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "out-of-memory"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase2Target": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.deployments#GetADeploymentByIdOrUrlResponseBodyCase2ReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
