{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.dns#ListExistingDnsRecordsRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of records to list from a request."
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Get records created after this JavaScript timestamp."
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Get records created before this JavaScript timestamp."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase1RecordsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase1": {
      "type": "structure",
      "members": {
        "records": {
          "target": "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase1RecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase2RecordsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase2Pagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of items in the current page.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the next page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the previous page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data."
      }
    },
    "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase2": {
      "type": "structure",
      "members": {
        "records": {
          "target": "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase2RecordsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase2Pagination",
          "traits": {
            "smithy.api#documentation": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Successful response retrieving a list of paginated DNS records."
      }
    },
    "com.vercel.dns#ListExistingDnsRecordsResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase1"
        },
        "Case2": {
          "target": "com.vercel.dns#ListExistingDnsRecordsResponseBodyCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.dns#ListExistingDnsRecordsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.dns#ListExistingDnsRecordsResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#ListExistingDnsRecords": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#ListExistingDnsRecordsRequest"
      },
      "output": {
        "target": "com.vercel.dns#ListExistingDnsRecordsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        },
        {
          "target": "com.vercel.dns#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v5/domains/{domain}/records",
          "code": 200
        },
        "smithy.api#documentation": "List existing DNS records\n\nRetrieves a list of DNS records created for a domain name. By default it returns 20 records if no limit is provided. The rest can be retrieved using the pagination options."
      }
    },
    "com.vercel.dns#CreateADnsRecordRequestType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of record, it could be one of the valid DNS records."
      }
    },
    "com.vercel.dns#CreateADnsRecordRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The domain used to create the DNS record."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "type": {
          "target": "com.vercel.dns#CreateADnsRecordRequestType",
          "traits": {
            "smithy.api#documentation": "The type of record, it could be one of the valid DNS records.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#CreateADnsRecordResponseBodyCase0": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updated": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#CreateADnsRecordResponseBodyCase1": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the newly created DNS record",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#CreateADnsRecordResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.dns#CreateADnsRecordResponseBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.dns#CreateADnsRecordResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.dns#CreateADnsRecordResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.dns#CreateADnsRecordResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#CreateADnsRecord": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#CreateADnsRecordRequest"
      },
      "output": {
        "target": "com.vercel.dns#CreateADnsRecordResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#PaymentRequired"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        },
        {
          "target": "com.vercel.dns#Conflict"
        },
        {
          "target": "com.vercel.dns#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/domains/{domain}/records",
          "code": 200
        },
        "smithy.api#documentation": "Create a DNS record\n\nCreates a DNS record for a domain."
      }
    },
    "com.vercel.dns#UpdateAnExistingDnsRecordRequestType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the DNS record"
      }
    },
    "com.vercel.dns#UpdateAnExistingDnsRecordRequestSrv": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#UpdateAnExistingDnsRecordRequestHttps": {
      "type": "structure",
      "members": {
        "priority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "params": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#UpdateAnExistingDnsRecordRequest": {
      "type": "structure",
      "members": {
        "recordId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The id of the DNS record"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.vercel.dns#UpdateAnExistingDnsRecordRequestType",
          "traits": {
            "smithy.api#documentation": "The type of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The Time to live (TTL) value of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "mxPriority": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The MX priority value of the DNS record",
            "com.distilled.openapi#nullable": {}
          }
        },
        "srv": {
          "target": "com.vercel.dns#UpdateAnExistingDnsRecordRequestSrv",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "https": {
          "target": "com.vercel.dns#UpdateAnExistingDnsRecordRequestHttps",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment to add context on what this DNS record is for"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#UpdateAnExistingDnsRecordResponseType": {
      "type": "enum",
      "members": {
        "RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "record"
          }
        },
        "RECORD_SYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "record-sys"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#UpdateAnExistingDnsRecordResponseRecordType": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "AAAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAAA"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALIAS"
          }
        },
        "CAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "NS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NS"
          }
        },
        "SRV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SRV"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TXT"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.dns#UpdateAnExistingDnsRecordResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.dns#UpdateAnExistingDnsRecordResponseType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "smithy.api#Double"
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "recordType": {
          "target": "com.vercel.dns#UpdateAnExistingDnsRecordResponseRecordType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#UpdateAnExistingDnsRecord": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#UpdateAnExistingDnsRecordRequest"
      },
      "output": {
        "target": "com.vercel.dns#UpdateAnExistingDnsRecordResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#PaymentRequired"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        },
        {
          "target": "com.vercel.dns#Conflict"
        },
        {
          "target": "com.vercel.dns#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/domains/records/{recordId}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing DNS record\n\nUpdates an existing DNS record for a domain name."
      }
    },
    "com.vercel.dns#DeleteADnsRecordRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "recordId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.dns#DeleteADnsRecordResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.dns#DeleteADnsRecord": {
      "type": "operation",
      "input": {
        "target": "com.vercel.dns#DeleteADnsRecordRequest"
      },
      "output": {
        "target": "com.vercel.dns#DeleteADnsRecordResponse"
      },
      "errors": [
        {
          "target": "com.vercel.dns#BadRequest"
        },
        {
          "target": "com.vercel.dns#Forbidden"
        },
        {
          "target": "com.vercel.dns#NotFound"
        },
        {
          "target": "com.vercel.dns#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/domains/{domain}/records/{recordId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a DNS record\n\nRemoves an existing DNS record from a domain name."
      }
    },
    "com.vercel.dns#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.dns#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.dns#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.dns#Gone": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 410,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 410
          }
        ]
      }
    },
    "com.vercel.dns#PaymentRequired": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 402,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 402
          }
        ]
      }
    },
    "com.vercel.dns#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.vercel.dns#Dns": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.vercel.dns#ListExistingDnsRecords"
        },
        {
          "target": "com.vercel.dns#CreateADnsRecord"
        },
        {
          "target": "com.vercel.dns#UpdateAnExistingDnsRecord"
        },
        {
          "target": "com.vercel.dns#DeleteADnsRecord"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel dns",
        "smithy.api#documentation": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/dns/."
      }
    }
  }
}
