{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.domains_registrar#GetSupportedTldsRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetSupportedTldsResponseBodyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of the TLDs supported by Vercel."
      }
    },
    "com.vercel.domains_registrar#GetSupportedTldsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.domains_registrar#GetSupportedTldsResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetSupportedTlds": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetSupportedTldsRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetSupportedTldsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/tlds/supported",
          "code": 200
        },
        "smithy.api#documentation": "Get supported TLDs\n\nGet a list of TLDs supported by Vercel"
      }
    },
    "com.vercel.domains_registrar#GetTldRequest": {
      "type": "structure",
      "members": {
        "tld": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetTldResponseSupportedLanguageCodesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The language codes that are supported for the TLD. The key is the language code, and the value is the name of the language."
      }
    },
    "com.vercel.domains_registrar#GetTldResponse": {
      "type": "structure",
      "members": {
        "supportedLanguageCodes": {
          "target": "com.vercel.domains_registrar#GetTldResponseSupportedLanguageCodesMap",
          "traits": {
            "smithy.api#documentation": "The language codes that are supported for the TLD. The key is the language code, and the value is the name of the language.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetTld": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetTldRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetTldResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/tlds/{tld}",
          "code": 200
        },
        "smithy.api#documentation": "Get TLD\n\nGet the metadata for a specific TLD."
      }
    },
    "com.vercel.domains_registrar#GetTldPriceDataRequest": {
      "type": "structure",
      "members": {
        "tld": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "years": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "years",
            "smithy.api#documentation": "The number of years to get the price for. If not provided, the minimum number of years for the TLD will be used."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetTldPriceDataResponsePurchasePrice": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetTldPriceDataResponseRenewalPrice": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetTldPriceDataResponseTransferPrice": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetTldPriceDataResponse": {
      "type": "structure",
      "members": {
        "years": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of years the returned price is for.",
            "smithy.api#required": {}
          }
        },
        "purchasePrice": {
          "target": "com.vercel.domains_registrar#GetTldPriceDataResponsePurchasePrice",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "renewalPrice": {
          "target": "com.vercel.domains_registrar#GetTldPriceDataResponseRenewalPrice",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transferPrice": {
          "target": "com.vercel.domains_registrar#GetTldPriceDataResponseTransferPrice",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetTldPriceData": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetTldPriceDataRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetTldPriceDataResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/tlds/{tld}/price",
          "code": 200
        },
        "smithy.api#documentation": "Get TLD price data\n\nGet price data for a specific TLD. This only reflects base prices for the given TLD. Premium domains may have different prices. Use the [Get price data for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-price-data-for-a-domain) endpoint to get the price data for a specific domain."
      }
    },
    "com.vercel.domains_registrar#GetAvailabilityForADomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetAvailabilityForADomainResponse": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetAvailabilityForADomain": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetAvailabilityForADomainRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetAvailabilityForADomainResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        },
        {
          "target": "com.vercel.domains_registrar#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/domains/{domain}/availability",
          "code": 200
        },
        "smithy.api#documentation": "Get availability for a domain\n\nGet availability for a specific domain. If the domain is available, it can be purchased using the [Buy a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/buy-a-domain) endpoint or the [Buy multiple domains](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/buy-multiple-domains) endpoint."
      }
    },
    "com.vercel.domains_registrar#GetPriceDataForADomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "years": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "years",
            "smithy.api#documentation": "The number of years to get the price for. If not provided, the minimum number of years for the TLD will be used."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetPriceDataForADomainResponsePurchasePrice": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetPriceDataForADomainResponseRenewalPrice": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetPriceDataForADomainResponseTransferPrice": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetPriceDataForADomainResponse": {
      "type": "structure",
      "members": {
        "years": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "purchasePrice": {
          "target": "com.vercel.domains_registrar#GetPriceDataForADomainResponsePurchasePrice",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "renewalPrice": {
          "target": "com.vercel.domains_registrar#GetPriceDataForADomainResponseRenewalPrice",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "transferPrice": {
          "target": "com.vercel.domains_registrar#GetPriceDataForADomainResponseTransferPrice",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetPriceDataForADomain": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetPriceDataForADomainRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetPriceDataForADomainResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/domains/{domain}/price",
          "code": 200
        },
        "smithy.api#documentation": "Get price data for a domain\n\nGet price data for a specific domain"
      }
    },
    "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsRequestDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "an array of at most 50 item(s)"
      }
    },
    "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        },
        "domains": {
          "target": "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsRequestDomainsList",
          "traits": {
            "smithy.api#documentation": "an array of at most 50 item(s)",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsResponseResultsItem": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid domain name",
            "smithy.api#required": {}
          }
        },
        "available": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsResponseResultsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsResponseResultsItem"
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsResponseResultsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetAvailabilityForMultipleDomains": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetAvailabilityForMultipleDomainsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/registrar/domains/availability",
          "code": 200
        },
        "smithy.api#documentation": "Get availability for multiple domains\n\nGet availability for multiple domains. If the domains are available, they can be purchased using the [Buy a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/buy-a-domain) endpoint or the [Buy multiple domains](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/buy-multiple-domains) endpoint."
      }
    },
    "com.vercel.domains_registrar#GetTheAuthCodeForADomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetTheAuthCodeForADomainResponse": {
      "type": "structure",
      "members": {
        "authCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetTheAuthCodeForADomain": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetTheAuthCodeForADomainRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetTheAuthCodeForADomainResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        },
        {
          "target": "com.vercel.domains_registrar#NotFound"
        },
        {
          "target": "com.vercel.domains_registrar#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/domains/{domain}/auth-code",
          "code": 200
        },
        "smithy.api#documentation": "Get the auth code for a domain\n\nGet the auth code for a domain. This is required to transfer a domain from Vercel to another registrar."
      }
    },
    "com.vercel.domains_registrar#BuyADomainRequestContactInformation": {
      "type": "structure",
      "members": {
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid RFC 5322 email address",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid E.164 phone number",
            "smithy.api#required": {}
          }
        },
        "address1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "address2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string"
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid ISO 3166-1 alpha-2 country code",
            "smithy.api#required": {}
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string"
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid E.164 phone number"
          }
        },
        "additional": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contact information for the domain. Some TLDs require additional contact information. Use the [Get contact info schema](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-contact-info-schema) endpoint to retrieve the required fields."
      }
    },
    "com.vercel.domains_registrar#BuyADomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain should be auto-renewed before it expires. This can be configured later through the Vercel Dashboard or the [Update auto-renew for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/update-auto-renew-for-a-domain) endpoint.",
            "smithy.api#required": {}
          }
        },
        "years": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of years to purchase the domain for.",
            "smithy.api#required": {}
          }
        },
        "expectedPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contactInformation": {
          "target": "com.vercel.domains_registrar#BuyADomainRequestContactInformation",
          "traits": {
            "smithy.api#documentation": "The contact information for the domain. Some TLDs require additional contact information. Use the [Get contact info schema](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-contact-info-schema) endpoint to retrieve the required fields.",
            "smithy.api#required": {}
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language code for the domain. For punycode domains, this must be provided. The list of supported language codes for a TLD can be retrieved from the [Get TLD](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-tld) endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#BuyADomainResponseLinksValueMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#BuyADomainResponseLinksValue": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.vercel.domains_registrar#BuyADomainResponseLinksValueMethod",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#BuyADomainResponseLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.domains_registrar#BuyADomainResponseLinksValue"
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#BuyADomainResponse": {
      "type": "structure",
      "members": {
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid order ID",
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.vercel.domains_registrar#BuyADomainResponseLinksMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#BuyADomain": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#BuyADomainRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#BuyADomainResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/registrar/domains/{domain}/buy",
          "code": 200
        },
        "smithy.api#documentation": "Buy a domain\n\nBuy a domain"
      }
    },
    "com.vercel.domains_registrar#BuyMultipleDomainsRequestDomainsItem": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid domain name",
            "smithy.api#required": {}
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain should be auto-renewed before it expires. This can be configured later through the Vercel Dashboard or the [Update auto-renew for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/update-auto-renew-for-a-domain) endpoint.",
            "smithy.api#required": {}
          }
        },
        "years": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of years to purchase the domain for.",
            "smithy.api#required": {}
          }
        },
        "expectedPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language code for the domain. For punycode domains, this must be provided. The list of supported language codes for a TLD can be retrieved from the [Get TLD](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-tld) endpoint."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#BuyMultipleDomainsRequestDomainsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.domains_registrar#BuyMultipleDomainsRequestDomainsItem"
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#BuyMultipleDomainsRequestContactInformation": {
      "type": "structure",
      "members": {
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid RFC 5322 email address",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid E.164 phone number",
            "smithy.api#required": {}
          }
        },
        "address1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "address2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string"
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid ISO 3166-1 alpha-2 country code",
            "smithy.api#required": {}
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string"
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid E.164 phone number"
          }
        },
        "additional": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {
        "smithy.api#documentation": "The contact information for the domain. Some TLDs require additional contact information. Use the [Get contact info schema](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-contact-info-schema) endpoint to retrieve the required fields."
      }
    },
    "com.vercel.domains_registrar#BuyMultipleDomainsRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        },
        "domains": {
          "target": "com.vercel.domains_registrar#BuyMultipleDomainsRequestDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contactInformation": {
          "target": "com.vercel.domains_registrar#BuyMultipleDomainsRequestContactInformation",
          "traits": {
            "smithy.api#documentation": "The contact information for the domain. Some TLDs require additional contact information. Use the [Get contact info schema](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/get-contact-info-schema) endpoint to retrieve the required fields.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#BuyMultipleDomainsResponseLinksValueMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#BuyMultipleDomainsResponseLinksValue": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.vercel.domains_registrar#BuyMultipleDomainsResponseLinksValueMethod",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#BuyMultipleDomainsResponseLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.domains_registrar#BuyMultipleDomainsResponseLinksValue"
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#BuyMultipleDomainsResponse": {
      "type": "structure",
      "members": {
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid order ID",
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.vercel.domains_registrar#BuyMultipleDomainsResponseLinksMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#BuyMultipleDomains": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#BuyMultipleDomainsRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#BuyMultipleDomainsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/registrar/domains/buy",
          "code": 200
        },
        "smithy.api#documentation": "Buy multiple domains\n\nBuy multiple domains at once"
      }
    },
    "com.vercel.domains_registrar#GetADomainSTransferStatusRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetADomainSTransferStatusResponseStatus": {
      "type": "enum",
      "members": {
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "CANCELED_PENDING_REFUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled_pending_refund"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PENDING_INSERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_insert"
          }
        },
        "PENDING_NEW_AUTH_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_new_auth_code"
          }
        },
        "PENDING_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_transfer"
          }
        },
        "PENDING_UNLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_unlock"
          }
        },
        "PENDING_REGISTRY_UNLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending_registry_unlock"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "SUBMITTING_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submitting_transfer"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetADomainSTransferStatusResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.vercel.domains_registrar#GetADomainSTransferStatusResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetADomainSTransferStatus": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetADomainSTransferStatusRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetADomainSTransferStatusResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        },
        {
          "target": "com.vercel.domains_registrar#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/domains/{domain}/transfer",
          "code": 200
        },
        "smithy.api#documentation": "Get a domain's transfer status\n\nGet the transfer status for a domain"
      }
    },
    "com.vercel.domains_registrar#TransferInADomainRequestContactInformation": {
      "type": "structure",
      "members": {
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid RFC 5322 email address",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid E.164 phone number",
            "smithy.api#required": {}
          }
        },
        "address1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "address2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string"
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid ISO 3166-1 alpha-2 country code",
            "smithy.api#required": {}
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string"
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid E.164 phone number"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#TransferInADomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        },
        "authCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The auth code for the domain. You must obtain this code from the losing registrar.",
            "smithy.api#required": {}
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the domain should be auto-renewed before it expires. This can be configured later through the Vercel Dashboard or the [Update auto-renew for a domain](https://vercel.com/docs/rest-api/reference/endpoints/domains-registrar/update-auto-renew-for-a-domain) endpoint.",
            "smithy.api#required": {}
          }
        },
        "years": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of years to renew the domain for once it is transferred in. This must be a valid number of transfer years for the TLD.",
            "smithy.api#required": {}
          }
        },
        "expectedPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contactInformation": {
          "target": "com.vercel.domains_registrar#TransferInADomainRequestContactInformation",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#TransferInADomainResponseLinksValueMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#TransferInADomainResponseLinksValue": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.vercel.domains_registrar#TransferInADomainResponseLinksValueMethod",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#TransferInADomainResponseLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.domains_registrar#TransferInADomainResponseLinksValue"
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#TransferInADomainResponse": {
      "type": "structure",
      "members": {
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid order ID",
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.vercel.domains_registrar#TransferInADomainResponseLinksMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#TransferInADomain": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#TransferInADomainRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#TransferInADomainResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/registrar/domains/{domain}/transfer",
          "code": 200
        },
        "smithy.api#documentation": "Transfer-in a domain\n\nTransfer a domain in from another registrar"
      }
    },
    "com.vercel.domains_registrar#RenewADomainRequestContactInformation": {
      "type": "structure",
      "members": {
        "firstName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "lastName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid RFC 5322 email address",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid E.164 phone number",
            "smithy.api#required": {}
          }
        },
        "address1": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "address2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string"
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "zip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid ISO 3166-1 alpha-2 country code",
            "smithy.api#required": {}
          }
        },
        "companyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a non empty string"
          }
        },
        "fax": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid E.164 phone number"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#RenewADomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        },
        "years": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of years to renew the domain for.",
            "smithy.api#required": {}
          }
        },
        "expectedPrice": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contactInformation": {
          "target": "com.vercel.domains_registrar#RenewADomainRequestContactInformation"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#RenewADomainResponseLinksValueMethod": {
      "type": "enum",
      "members": {
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#RenewADomainResponseLinksValue": {
      "type": "structure",
      "members": {
        "href": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "method": {
          "target": "com.vercel.domains_registrar#RenewADomainResponseLinksValueMethod",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#RenewADomainResponseLinksMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.domains_registrar#RenewADomainResponseLinksValue"
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#RenewADomainResponse": {
      "type": "structure",
      "members": {
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid order ID",
            "smithy.api#required": {}
          }
        },
        "_links": {
          "target": "com.vercel.domains_registrar#RenewADomainResponseLinksMap",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#RenewADomain": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#RenewADomainRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#RenewADomainResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        },
        {
          "target": "com.vercel.domains_registrar#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/registrar/domains/{domain}/renew",
          "code": 200
        },
        "smithy.api#documentation": "Renew a domain\n\nRenew a domain"
      }
    },
    "com.vercel.domains_registrar#UpdateAutoRenewForADomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        },
        "autoRenew": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#UpdateAutoRenewForADomain": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#UpdateAutoRenewForADomainRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        },
        {
          "target": "com.vercel.domains_registrar#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/registrar/domains/{domain}/auto-renew",
          "code": 200
        },
        "smithy.api#documentation": "Update auto-renew for a domain\n\nUpdate the auto-renew setting for a domain"
      }
    },
    "com.vercel.domains_registrar#UpdateNameserversForADomainRequestNameserversList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#UpdateNameserversForADomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        },
        "nameservers": {
          "target": "com.vercel.domains_registrar#UpdateNameserversForADomainRequestNameserversList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#UpdateNameserversForADomain": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#UpdateNameserversForADomainRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        },
        {
          "target": "com.vercel.domains_registrar#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/registrar/domains/{domain}/nameservers",
          "code": 200
        },
        "smithy.api#documentation": "Update nameservers for a domain\n\nUpdate the nameservers for a domain. Pass an empty array to use Vercel's default nameservers."
      }
    },
    "com.vercel.domains_registrar#GetContactVerificationStatusForADomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetContactVerificationStatusForADomainResponseBodyCase0": {
      "type": "structure",
      "members": {
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The registrant contact has been verified."
      }
    },
    "com.vercel.domains_registrar#GetContactVerificationStatusForADomainResponseBodyCase1": {
      "type": "structure",
      "members": {
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "verifyBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "a string to be decoded into a Date",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The registrant contact has not yet been verified. The contact must be verified by `verifyBy`, and a verification email is sent to `email`."
      }
    },
    "com.vercel.domains_registrar#GetContactVerificationStatusForADomainResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.domains_registrar#GetContactVerificationStatusForADomainResponseBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.domains_registrar#GetContactVerificationStatusForADomainResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetContactVerificationStatusForADomainResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.domains_registrar#GetContactVerificationStatusForADomainResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetContactVerificationStatusForADomain": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetContactVerificationStatusForADomainRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetContactVerificationStatusForADomainResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        },
        {
          "target": "com.vercel.domains_registrar#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/domains/{domain}/contact-verification",
          "code": 200
        },
        "smithy.api#documentation": "Get contact verification status for a domain\n\nGet the registrant contact verification status for a domain. Use this after purchasing a domain to determine whether the contact has been verified. Note that a bought_too_recently error will be returned if the domain was bought less than 30 minutes before the request."
      }
    },
    "com.vercel.domains_registrar#GetContactInfoSchemaRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetContactInfoSchemaResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetContactInfoSchema": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetContactInfoSchemaRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetContactInfoSchemaResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/domains/{domain}/contact-info/schema",
          "code": 200
        },
        "smithy.api#documentation": "Get contact info schema\n\nSome TLDs require additional contact information. Use this endpoint to get the schema for the tld-specific contact information for a domain."
      }
    },
    "com.vercel.domains_registrar#GetADomainOrderRequest": {
      "type": "structure",
      "members": {
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.domains_registrar#GetADomainOrderResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetADomainOrderResponseStatus": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "PURCHASING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purchasing"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetADomainOrderResponseErrorCase1": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetADomainOrderResponseError": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.vercel.domains_registrar#GetADomainOrderResponseErrorCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.domains_registrar#GetADomainOrderResponse": {
      "type": "structure",
      "members": {
        "orderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A valid order ID",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.vercel.domains_registrar#GetADomainOrderResponseDomainsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.domains_registrar#GetADomainOrderResponseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.vercel.domains_registrar#GetADomainOrderResponseError"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.domains_registrar#GetADomainOrder": {
      "type": "operation",
      "input": {
        "target": "com.vercel.domains_registrar#GetADomainOrderRequest"
      },
      "output": {
        "target": "com.vercel.domains_registrar#GetADomainOrderResponse"
      },
      "errors": [
        {
          "target": "com.vercel.domains_registrar#BadRequest"
        },
        {
          "target": "com.vercel.domains_registrar#Forbidden"
        },
        {
          "target": "com.vercel.domains_registrar#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/registrar/orders/{orderId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a domain order\n\nGet information about a domain order by its ID"
      }
    },
    "com.vercel.domains_registrar#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.domains_registrar#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.domains_registrar#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.domains_registrar#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.vercel.domains_registrar#DomainsRegistrar": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.vercel.domains_registrar#GetSupportedTlds"
        },
        {
          "target": "com.vercel.domains_registrar#GetTld"
        },
        {
          "target": "com.vercel.domains_registrar#GetTldPriceData"
        },
        {
          "target": "com.vercel.domains_registrar#GetAvailabilityForADomain"
        },
        {
          "target": "com.vercel.domains_registrar#GetPriceDataForADomain"
        },
        {
          "target": "com.vercel.domains_registrar#GetAvailabilityForMultipleDomains"
        },
        {
          "target": "com.vercel.domains_registrar#GetTheAuthCodeForADomain"
        },
        {
          "target": "com.vercel.domains_registrar#BuyADomain"
        },
        {
          "target": "com.vercel.domains_registrar#BuyMultipleDomains"
        },
        {
          "target": "com.vercel.domains_registrar#GetADomainSTransferStatus"
        },
        {
          "target": "com.vercel.domains_registrar#TransferInADomain"
        },
        {
          "target": "com.vercel.domains_registrar#RenewADomain"
        },
        {
          "target": "com.vercel.domains_registrar#UpdateAutoRenewForADomain"
        },
        {
          "target": "com.vercel.domains_registrar#UpdateNameserversForADomain"
        },
        {
          "target": "com.vercel.domains_registrar#GetContactVerificationStatusForADomain"
        },
        {
          "target": "com.vercel.domains_registrar#GetContactInfoSchema"
        },
        {
          "target": "com.vercel.domains_registrar#GetADomainOrder"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel domains-registrar",
        "smithy.api#documentation": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/domains_registrar/."
      }
    }
  }
}
