{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamRequest": {
      "type": "structure",
      "members": {
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search"
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#documentation": "Filter SharedEnvVariables that belong to a project"
          }
        },
        "ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "ids",
            "smithy.api#documentation": "Filter SharedEnvVariables based on comma separated ids"
          }
        },
        "exclude_ids": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "exclude_ids",
            "smithy.api#documentation": "Filter SharedEnvVariables based on comma separated ids"
          }
        },
        "exclude_projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "exclude_projectId",
            "smithy.api#documentation": "Filter SharedEnvVariables that belong to a project"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItemProjectIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The unique identifiers of the projects which the Shared Env Var is linked to."
      }
    },
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItemType": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of this cosmos doc instance, if blank, assume secret."
      }
    },
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItemTargetList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "environments this env variable targets"
      }
    },
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItemCustomEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The custom environment IDs that this Shared Env Var is scoped to."
      }
    },
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the Shared Env Var was created."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Shared Env Var."
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the owner (team) the Shared Env Var was created for.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Shared Env Var."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who created the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who deleted the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who last updated the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was created."
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was (soft) deleted."
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was last updated."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the Shared Env Var."
          }
        },
        "projectId": {
          "target": "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItemProjectIdList",
          "traits": {
            "smithy.api#documentation": "The unique identifiers of the projects which the Shared Env Var is linked to."
          }
        },
        "type": {
          "target": "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItemType",
          "traits": {
            "smithy.api#documentation": "The type of this cosmos doc instance, if blank, assume secret."
          }
        },
        "target": {
          "target": "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItemTargetList",
          "traits": {
            "smithy.api#documentation": "environments this env variable targets"
          }
        },
        "applyToAllCustomEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether or not this env varible applies to custom environments"
          }
        },
        "customEnvironmentIds": {
          "target": "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItemCustomEnvironmentIdsList",
          "traits": {
            "smithy.api#documentation": "The custom environment IDs that this Shared Env Var is scoped to."
          }
        },
        "decrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether or not this env variable is decrypted"
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user provided comment that describes what this Shared Env Var is for."
          }
        },
        "lastEditedByDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last editor full name or username."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataItem"
      },
      "traits": {}
    },
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponsePagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of items in the current page.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the next page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the previous page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data."
      }
    },
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponsePagination",
          "traits": {
            "smithy.api#documentation": "This object contains information related to the pagination of the current request, including the necessary parameters to get the next or previous page of data.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeam": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamRequest"
      },
      "output": {
        "target": "com.vercel.environment#ListsAllSharedEnvironmentVariablesForATeamResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#NotFound"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/env",
          "code": 200
        },
        "smithy.api#documentation": "Lists all Shared Environment Variables for a team\n\nLists all Shared Environment Variables for a team, taking into account optional filters."
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestEvsItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Shared Environment Variable",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the Shared Environment Variable",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment to add context on what this Shared Environment Variable is for"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestEvsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestEvsItem"
      },
      "traits": {}
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestType": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of environment variable"
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestTargetItem": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestTargetList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestTargetItem"
      },
      "traits": {
        "smithy.api#documentation": "The target environment of the Shared Environment Variable"
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestProjectIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Associate a Shared Environment Variable to projects."
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "evs": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestEvsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestType",
          "traits": {
            "smithy.api#documentation": "The type of environment variable"
          }
        },
        "target": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestTargetList",
          "traits": {
            "smithy.api#documentation": "The target environment of the Shared Environment Variable"
          }
        },
        "projectId": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequestProjectIdList",
          "traits": {
            "smithy.api#documentation": "Associate a Shared Environment Variable to projects."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItemProjectIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The unique identifiers of the projects which the Shared Env Var is linked to."
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItemType": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of this cosmos doc instance, if blank, assume secret."
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItemTargetList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "environments this env variable targets"
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItemCustomEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The custom environment IDs that this Shared Env Var is scoped to."
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the Shared Env Var was created."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Shared Env Var."
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the owner (team) the Shared Env Var was created for.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Shared Env Var."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who created the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who deleted the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who last updated the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was created."
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was (soft) deleted."
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was last updated."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the Shared Env Var."
          }
        },
        "projectId": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItemProjectIdList",
          "traits": {
            "smithy.api#documentation": "The unique identifiers of the projects which the Shared Env Var is linked to."
          }
        },
        "type": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItemType",
          "traits": {
            "smithy.api#documentation": "The type of this cosmos doc instance, if blank, assume secret."
          }
        },
        "target": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItemTargetList",
          "traits": {
            "smithy.api#documentation": "environments this env variable targets"
          }
        },
        "applyToAllCustomEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether or not this env varible applies to custom environments"
          }
        },
        "customEnvironmentIds": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItemCustomEnvironmentIdsList",
          "traits": {
            "smithy.api#documentation": "The custom environment IDs that this Shared Env Var is scoped to."
          }
        },
        "decrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether or not this env variable is decrypted"
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user provided comment that describes what this Shared Env Var is for."
          }
        },
        "lastEditedByDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last editor full name or username."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedItem"
      },
      "traits": {}
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseFailedItem": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseFailedList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseFailedItem"
      },
      "traits": {}
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseCreatedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponseFailedList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariables": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesRequest"
      },
      "output": {
        "target": "com.vercel.environment#CreateOneOrMoreSharedEnvironmentVariablesResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#PaymentRequired"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/env",
          "code": 200
        },
        "smithy.api#documentation": "Create one or more shared environment variables\n\nCreates shared environment variable(s) for a team."
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesValueTargetList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The target environment of the Shared Environment Variable"
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesValueProjectIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Associate a Shared Environment Variable to projects."
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesValueType": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The new type of the Shared Environment Variable"
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesValue": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Shared Environment Variable"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the Shared Environment Variable"
          }
        },
        "target": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesValueTargetList",
          "traits": {
            "smithy.api#documentation": "The target environment of the Shared Environment Variable"
          }
        },
        "projectId": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesValueProjectIdList",
          "traits": {
            "smithy.api#documentation": "Associate a Shared Environment Variable to projects."
          }
        },
        "projectIdUpdates": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Incrementally update project linking without specifying the full list"
          }
        },
        "type": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesValueType",
          "traits": {
            "smithy.api#documentation": "The new type of the Shared Environment Variable"
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A comment to add context on what this Shared Environment Variable is for"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesValue"
      },
      "traits": {
        "smithy.api#documentation": "An object where each key is an environment variable ID (not the key name) and the value is the update to apply"
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "updates": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequestUpdatesMap",
          "traits": {
            "smithy.api#documentation": "An object where each key is an environment variable ID (not the key name) and the value is the update to apply",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItemProjectIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The unique identifiers of the projects which the Shared Env Var is linked to."
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItemType": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of this cosmos doc instance, if blank, assume secret."
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItemTargetList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "environments this env variable targets"
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItemCustomEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The custom environment IDs that this Shared Env Var is scoped to."
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItem": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the Shared Env Var was created."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Shared Env Var."
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the owner (team) the Shared Env Var was created for.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Shared Env Var."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who created the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who deleted the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who last updated the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was created."
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was (soft) deleted."
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was last updated."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the Shared Env Var."
          }
        },
        "projectId": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItemProjectIdList",
          "traits": {
            "smithy.api#documentation": "The unique identifiers of the projects which the Shared Env Var is linked to."
          }
        },
        "type": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItemType",
          "traits": {
            "smithy.api#documentation": "The type of this cosmos doc instance, if blank, assume secret."
          }
        },
        "target": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItemTargetList",
          "traits": {
            "smithy.api#documentation": "environments this env variable targets"
          }
        },
        "applyToAllCustomEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether or not this env varible applies to custom environments"
          }
        },
        "customEnvironmentIds": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItemCustomEnvironmentIdsList",
          "traits": {
            "smithy.api#documentation": "The custom environment IDs that this Shared Env Var is scoped to."
          }
        },
        "decrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether or not this env variable is decrypted"
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user provided comment that describes what this Shared Env Var is for."
          }
        },
        "lastEditedByDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last editor full name or username."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedItem"
      },
      "traits": {}
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseFailedItem": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseFailedList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseFailedItem"
      },
      "traits": {}
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponse": {
      "type": "structure",
      "members": {
        "updated": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseUpdatedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponseFailedList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariables": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesRequest"
      },
      "output": {
        "target": "com.vercel.environment#UpdatesOneOrMoreSharedEnvironmentVariablesResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#PaymentRequired"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/env",
          "code": 200
        },
        "smithy.api#documentation": "Updates one or more shared environment variables\n\nUpdates a given Shared Environment Variable for a Team."
      }
    },
    "com.vercel.environment#DeleteOneOrMoreEnvVarRequestIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "IDs of the Shared Environment Variables to delete"
      }
    },
    "com.vercel.environment#DeleteOneOrMoreEnvVarRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "ids": {
          "target": "com.vercel.environment#DeleteOneOrMoreEnvVarRequestIdsList",
          "traits": {
            "smithy.api#documentation": "IDs of the Shared Environment Variables to delete",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#DeleteOneOrMoreEnvVarResponseDeletedList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.environment#DeleteOneOrMoreEnvVarResponseFailedItem": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#DeleteOneOrMoreEnvVarResponseFailedList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#DeleteOneOrMoreEnvVarResponseFailedItem"
      },
      "traits": {}
    },
    "com.vercel.environment#DeleteOneOrMoreEnvVarResponse": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "com.vercel.environment#DeleteOneOrMoreEnvVarResponseDeletedList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failed": {
          "target": "com.vercel.environment#DeleteOneOrMoreEnvVarResponseFailedList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#DeleteOneOrMoreEnvVar": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#DeleteOneOrMoreEnvVarRequest"
      },
      "output": {
        "target": "com.vercel.environment#DeleteOneOrMoreEnvVarResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#PaymentRequired"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/env",
          "code": 200
        },
        "smithy.api#documentation": "Delete one or more Env Var\n\nDeletes one or many Shared Environment Variables for a given team."
      }
    },
    "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID for the Shared Environment Variable to get the decrypted value."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseProjectIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The unique identifiers of the projects which the Shared Env Var is linked to."
      }
    },
    "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseType": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of this cosmos doc instance, if blank, assume secret."
      }
    },
    "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseTargetItem": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "environments this env variable targets"
      }
    },
    "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseTargetList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseTargetItem"
      },
      "traits": {
        "smithy.api#documentation": "environments this env variable targets"
      }
    },
    "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseCustomEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The custom environment IDs that this Shared Env Var is scoped to."
      }
    },
    "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponse": {
      "type": "structure",
      "members": {
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date when the Shared Env Var was created."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the Shared Env Var."
          }
        },
        "ownerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the owner (team) the Shared Env Var was created for.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Shared Env Var."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who created the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "deletedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who deleted the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user who last updated the Shared Env Var.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was created."
          }
        },
        "deletedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was (soft) deleted."
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp for when the Shared Env Var was last updated."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value of the Shared Env Var."
          }
        },
        "projectId": {
          "target": "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseProjectIdList",
          "traits": {
            "smithy.api#documentation": "The unique identifiers of the projects which the Shared Env Var is linked to."
          }
        },
        "type": {
          "target": "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseType",
          "traits": {
            "smithy.api#documentation": "The type of this cosmos doc instance, if blank, assume secret."
          }
        },
        "target": {
          "target": "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseTargetList",
          "traits": {
            "smithy.api#documentation": "environments this env variable targets"
          }
        },
        "applyToAllCustomEnvironments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether or not this env varible applies to custom environments"
          }
        },
        "customEnvironmentIds": {
          "target": "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponseCustomEnvironmentIdsList",
          "traits": {
            "smithy.api#documentation": "The custom environment IDs that this Shared Env Var is scoped to."
          }
        },
        "decrypted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "whether or not this env variable is decrypted"
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user provided comment that describes what this Shared Env Var is for."
          }
        },
        "lastEditedByDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last editor full name or username."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableById": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdRequest"
      },
      "output": {
        "target": "com.vercel.environment#RetrieveTheDecryptedValueOfASharedEnvironmentVariableByIdResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/env/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve the decrypted value of a Shared Environment Variable by id.\n\nRetrieve the decrypted value of a Shared Environment Variable by id."
      }
    },
    "com.vercel.environment#DisconnectsASharedEnvironmentVariableForAGivenProjectRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique ID for the Shared Environment Variable to unlink from the project."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#DisconnectsASharedEnvironmentVariableForAGivenProjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#DisconnectsASharedEnvironmentVariableForAGivenProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#DisconnectsASharedEnvironmentVariableForAGivenProjectRequest"
      },
      "output": {
        "target": "com.vercel.environment#DisconnectsASharedEnvironmentVariableForAGivenProjectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/env/{id}/unlink/{projectId}",
          "code": 200
        },
        "smithy.api#documentation": "Disconnects a shared environment variable for a given project\n\nDisconnects a shared environment variable for a given project"
      }
    },
    "com.vercel.environment#RetrieveCustomEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique project identifier or the project name"
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "gitBranch",
            "smithy.api#documentation": "Fetch custom environments for a specific git branch"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#RetrieveCustomEnvironmentsResponseAccountLimit": {
      "type": "structure",
      "members": {
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The maximum number of custom environments allowed either by the team's plan type or a custom override."
      }
    },
    "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsItemType": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of environment (production, preview, or development)"
      }
    },
    "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsItemDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsItemCurrentDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of aliases for the current deployment"
      }
    },
    "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsItemType",
          "traits": {
            "smithy.api#documentation": "The type of environment (production, preview, or development)",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the environment's purpose"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was last updated",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly name of the environment",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the custom environment (format: env_*)",
            "smithy.api#required": {}
          }
        },
        "domains": {
          "target": "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsItemDomainsList",
          "traits": {
            "smithy.api#documentation": "List of domains associated with this environment"
          }
        },
        "branchMatcher": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Configuration for matching git branches to this environment"
          }
        },
        "currentDeploymentAliases": {
          "target": "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsItemCurrentDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "List of aliases for the current deployment"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.environment#RetrieveCustomEnvironmentsResponse": {
      "type": "structure",
      "members": {
        "accountLimit": {
          "target": "com.vercel.environment#RetrieveCustomEnvironmentsResponseAccountLimit",
          "traits": {
            "smithy.api#documentation": "The maximum number of custom environments allowed either by the team's plan type or a custom override.",
            "smithy.api#required": {}
          }
        },
        "environments": {
          "target": "com.vercel.environment#RetrieveCustomEnvironmentsResponseEnvironmentsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#RetrieveCustomEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#RetrieveCustomEnvironmentsRequest"
      },
      "output": {
        "target": "com.vercel.environment#RetrieveCustomEnvironmentsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v9/projects/{idOrName}/custom-environments",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve custom environments\n\nRetrieve custom environments for the project. Must not be named 'Production' or 'Preview'."
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectRequestBranchMatcherType": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        },
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of matcher. One of \"equals\", \"startsWith\", or \"endsWith\"."
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectRequestBranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectRequestBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "Type of matcher. One of \"equals\", \"startsWith\", or \"endsWith\".",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name or portion thereof.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How we want to determine a matching branch. This is optional."
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique project identifier or the project name"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the custom environment. This is optional."
          }
        },
        "branchMatcher": {
          "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectRequestBranchMatcher",
          "traits": {
            "smithy.api#documentation": "How we want to determine a matching branch. This is optional."
          }
        },
        "copyEnvVarsFrom": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where to copy environment variables from. This is optional."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseType": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of environment (production, preview, or development)"
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseBranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseBranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for matching git branches to this environment"
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseDomainsItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseDomainsItemVerificationList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "apexName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseDomainsItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "customEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseDomainsItemVerificationList",
          "traits": {
            "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseDomainsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseCurrentDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of aliases for the current deployment"
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the custom environment (format: env_*)",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly name of the environment",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseType",
          "traits": {
            "smithy.api#documentation": "The type of environment (production, preview, or development)",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the environment's purpose"
          }
        },
        "branchMatcher": {
          "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseBranchMatcher",
          "traits": {
            "smithy.api#documentation": "Configuration for matching git branches to this environment"
          }
        },
        "domains": {
          "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "List of domains associated with this environment"
          }
        },
        "currentDeploymentAliases": {
          "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponseCurrentDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "List of aliases for the current deployment"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was last updated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectRequest"
      },
      "output": {
        "target": "com.vercel.environment#CreateACustomEnvironmentForTheCurrentProjectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#PaymentRequired"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v9/projects/{idOrName}/custom-environments",
          "code": 200
        },
        "smithy.api#documentation": "Create a custom environment for the current project.\n\nCreates a custom environment for the current project. Cannot be named 'Production' or 'Preview'."
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironmentRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique project identifier or the project name"
          }
        },
        "environmentSlugOrId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique custom environment identifier within the project"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironmentResponseType": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of environment (production, preview, or development)"
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironmentResponseBranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironmentResponseBranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.environment#RetrieveACustomEnvironmentResponseBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for matching git branches to this environment"
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironmentResponseDomainsItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#RetrieveACustomEnvironmentResponseDomainsItemVerificationList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironmentResponseDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "apexName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.environment#RetrieveACustomEnvironmentResponseDomainsItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "customEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "com.vercel.environment#RetrieveACustomEnvironmentResponseDomainsItemVerificationList",
          "traits": {
            "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironmentResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#RetrieveACustomEnvironmentResponseDomainsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironmentResponseCurrentDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of aliases for the current deployment"
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironmentResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the custom environment (format: env_*)",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly name of the environment",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.environment#RetrieveACustomEnvironmentResponseType",
          "traits": {
            "smithy.api#documentation": "The type of environment (production, preview, or development)",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the environment's purpose"
          }
        },
        "branchMatcher": {
          "target": "com.vercel.environment#RetrieveACustomEnvironmentResponseBranchMatcher",
          "traits": {
            "smithy.api#documentation": "Configuration for matching git branches to this environment"
          }
        },
        "domains": {
          "target": "com.vercel.environment#RetrieveACustomEnvironmentResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "List of domains associated with this environment"
          }
        },
        "currentDeploymentAliases": {
          "target": "com.vercel.environment#RetrieveACustomEnvironmentResponseCurrentDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "List of aliases for the current deployment"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was last updated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#RetrieveACustomEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#RetrieveACustomEnvironmentRequest"
      },
      "output": {
        "target": "com.vercel.environment#RetrieveACustomEnvironmentResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#NotFound"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v9/projects/{idOrName}/custom-environments/{environmentSlugOrId}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a custom environment\n\nRetrieve a custom environment for the project. Must not be named 'Production' or 'Preview'."
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentRequestBranchMatcherType": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        },
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of matcher. One of \"equals\", \"startsWith\", or \"endsWith\"."
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentRequestBranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.environment#UpdateACustomEnvironmentRequestBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "Type of matcher. One of \"equals\", \"startsWith\", or \"endsWith\".",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Git branch name or portion thereof.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How we want to determine a matching branch. This is optional."
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique project identifier or the project name"
          }
        },
        "environmentSlugOrId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique custom environment identifier within the project"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the custom environment. This is optional."
          }
        },
        "branchMatcher": {
          "target": "com.vercel.environment#UpdateACustomEnvironmentRequestBranchMatcher",
          "traits": {
            "smithy.api#documentation": "How we want to determine a matching branch. This is optional.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentResponseType": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of environment (production, preview, or development)"
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentResponseBranchMatcherType": {
      "type": "enum",
      "members": {
        "ENDSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "endsWith"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "equals"
          }
        },
        "STARTSWITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "startsWith"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of matching to perform"
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentResponseBranchMatcher": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.environment#UpdateACustomEnvironmentResponseBranchMatcherType",
          "traits": {
            "smithy.api#documentation": "The type of matching to perform",
            "smithy.api#required": {}
          }
        },
        "pattern": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The pattern to match against branch names",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for matching git branches to this environment"
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentResponseDomainsItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.environment#UpdateACustomEnvironmentResponseDomainsItemVerificationList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentResponseDomainsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "apexName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.environment#UpdateACustomEnvironmentResponseDomainsItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "customEnvironmentId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed.",
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "com.vercel.environment#UpdateACustomEnvironmentResponseDomainsItemVerificationList",
          "traits": {
            "smithy.api#documentation": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentResponseDomainsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.environment#UpdateACustomEnvironmentResponseDomainsItem"
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentResponseCurrentDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "List of aliases for the current deployment"
      }
    },
    "com.vercel.environment#UpdateACustomEnvironmentResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the custom environment (format: env_*)",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly name of the environment",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.environment#UpdateACustomEnvironmentResponseType",
          "traits": {
            "smithy.api#documentation": "The type of environment (production, preview, or development)",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the environment's purpose"
          }
        },
        "branchMatcher": {
          "target": "com.vercel.environment#UpdateACustomEnvironmentResponseBranchMatcher",
          "traits": {
            "smithy.api#documentation": "Configuration for matching git branches to this environment"
          }
        },
        "domains": {
          "target": "com.vercel.environment#UpdateACustomEnvironmentResponseDomainsList",
          "traits": {
            "smithy.api#documentation": "List of domains associated with this environment"
          }
        },
        "currentDeploymentAliases": {
          "target": "com.vercel.environment#UpdateACustomEnvironmentResponseCurrentDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "List of aliases for the current deployment"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was last updated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.environment#UpdateACustomEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.vercel.environment#UpdateACustomEnvironmentRequest"
      },
      "output": {
        "target": "com.vercel.environment#UpdateACustomEnvironmentResponse"
      },
      "errors": [
        {
          "target": "com.vercel.environment#BadRequest"
        },
        {
          "target": "com.vercel.environment#PaymentRequired"
        },
        {
          "target": "com.vercel.environment#Forbidden"
        },
        {
          "target": "com.vercel.environment#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v9/projects/{idOrName}/custom-environments/{environmentSlugOrId}",
          "code": 200
        },
[...]
