{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.project_members#ListProjectMembersRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or name of the Project."
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Limit how many project members should be returned"
          }
        },
        "since": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Timestamp in milliseconds to only include members added since then."
          }
        },
        "until": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Timestamp in milliseconds to only include members added until then."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search project members by their name, username, and email."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.project_members#ListProjectMembersResponseBodyCase1MembersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.project_members#ListProjectMembersResponseBodyCase1Pagination": {
      "type": "structure",
      "members": {
        "hasNext": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of items in the current page.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the next page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the previous page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.project_members#ListProjectMembersResponseBodyCase1": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.vercel.project_members#ListProjectMembersResponseBodyCase1MembersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.project_members#ListProjectMembersResponseBodyCase1Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Paginated list of members for the project."
      }
    },
    "com.vercel.project_members#ListProjectMembersResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.vercel.project_members#ListProjectMembersResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.project_members#ListProjectMembersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.project_members#ListProjectMembersResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.project_members#ListProjectMembers": {
      "type": "operation",
      "input": {
        "target": "com.vercel.project_members#ListProjectMembersRequest"
      },
      "output": {
        "target": "com.vercel.project_members#ListProjectMembersResponse"
      },
      "errors": [
        {
          "target": "com.vercel.project_members#BadRequest"
        },
        {
          "target": "com.vercel.project_members#Forbidden"
        },
        {
          "target": "com.vercel.project_members#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{idOrName}/members",
          "code": 200
        },
        "smithy.api#documentation": "List project members\n\nLists all members of a project."
      }
    },
    "com.vercel.project_members#AddsANewMemberToAProjectRequestRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project role of the member that will be added."
      }
    },
    "com.vercel.project_members#AddsANewMemberToAProjectRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or name of the Project."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the team member that should be added to this project."
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the team member that should be added to this project."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the team member that should be added to this project."
          }
        },
        "role": {
          "target": "com.vercel.project_members#AddsANewMemberToAProjectRequestRole",
          "traits": {
            "smithy.api#documentation": "The project role of the member that will be added.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.project_members#AddsANewMemberToAProjectResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.project_members#AddsANewMemberToAProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.project_members#AddsANewMemberToAProjectRequest"
      },
      "output": {
        "target": "com.vercel.project_members#AddsANewMemberToAProjectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.project_members#BadRequest"
        },
        {
          "target": "com.vercel.project_members#Forbidden"
        },
        {
          "target": "com.vercel.project_members#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{idOrName}/members",
          "code": 200
        },
        "smithy.api#documentation": "Adds a new member to a project.\n\nAdds a new member to the project."
      }
    },
    "com.vercel.project_members#RemoveAProjectMemberRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID or name of the Project."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user ID of the member."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.project_members#RemoveAProjectMemberResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.project_members#RemoveAProjectMember": {
      "type": "operation",
      "input": {
        "target": "com.vercel.project_members#RemoveAProjectMemberRequest"
      },
      "output": {
        "target": "com.vercel.project_members#RemoveAProjectMemberResponse"
      },
      "errors": [
        {
          "target": "com.vercel.project_members#BadRequest"
        },
        {
          "target": "com.vercel.project_members#Forbidden"
        },
        {
          "target": "com.vercel.project_members#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/projects/{idOrName}/members/{uid}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a Project Member\n\nRemove a member from a specific project"
      }
    },
    "com.vercel.project_members#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.project_members#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.project_members#Gone": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 410,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 410
          }
        ]
      }
    },
    "com.vercel.project_members#ProjectMembers": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.vercel.project_members#ListProjectMembers"
        },
        {
          "target": "com.vercel.project_members#AddsANewMemberToAProject"
        },
        {
          "target": "com.vercel.project_members#RemoveAProjectMember"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel projectMembers",
        "smithy.api#documentation": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/project_members/."
      }
    }
  }
}
