{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.projects#RetrieveAListOfProjectsRequestGitForkProtection": {
      "type": "enum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        },
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsRequestElasticConcurrencyEnabled": {
      "type": "enum",
      "members": {
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        },
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsRequestStaticIpsEnabled": {
      "type": "enum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "0"
          }
        },
        "_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "1"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsRequestBuildQueueConfiguration": {
      "type": "enum",
      "members": {
        "SKIP_NAMESPACE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_NAMESPACE_QUEUE"
          }
        },
        "WAIT_FOR_NAMESPACE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAIT_FOR_NAMESPACE_QUEUE"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsRequest": {
      "type": "structure",
      "members": {
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#documentation": "Query only projects updated after the given timestamp or continuation token."
          }
        },
        "gitForkProtection": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsRequestGitForkProtection",
          "traits": {
            "smithy.api#httpQuery": "gitForkProtection",
            "smithy.api#documentation": "Specifies whether PRs from Git forks should require a team member's authorization before it can be deployed"
          }
        },
        "limit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Limit the number of projects returned"
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search projects by the name field"
          }
        },
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repo",
            "smithy.api#documentation": "Filter results by repo. Also used for project count"
          }
        },
        "repoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repoId",
            "smithy.api#documentation": "Filter results by Repository ID."
          }
        },
        "repoUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "repoUrl",
            "smithy.api#documentation": "Filter results by Repository URL."
          }
        },
        "excludeRepos": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "excludeRepos",
            "smithy.api#documentation": "Filter results by excluding those projects that belong to a repo"
          }
        },
        "edgeConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "edgeConfigId",
            "smithy.api#documentation": "Filter results by connected Edge Config ID"
          }
        },
        "edgeConfigTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "edgeConfigTokenId",
            "smithy.api#documentation": "Filter results by connected Edge Config Token ID"
          }
        },
        "deprecated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "deprecated"
          }
        },
        "elasticConcurrencyEnabled": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsRequestElasticConcurrencyEnabled",
          "traits": {
            "smithy.api#httpQuery": "elasticConcurrencyEnabled",
            "smithy.api#documentation": "Filter results by projects with elastic concurrency enabled"
          }
        },
        "staticIpsEnabled": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsRequestStaticIpsEnabled",
          "traits": {
            "smithy.api#httpQuery": "staticIpsEnabled",
            "smithy.api#documentation": "Filter results by projects with Static IPs enabled"
          }
        },
        "buildMachineTypes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "buildMachineTypes",
            "smithy.api#documentation": "Filter results by effective build machine types. Accepts comma-separated values. Use \"elastic\" for projects with elastic selection and \"default\" for projects without a build machine type set."
          }
        },
        "buildQueueConfiguration": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsRequestBuildQueueConfiguration",
          "traits": {
            "smithy.api#httpQuery": "buildQueueConfiguration",
            "smithy.api#documentation": "Filter results by build queue configuration. SKIP_NAMESPACE_QUEUE includes projects without a configuration set."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemAliasList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemIpBucketsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemEnvList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemFramework": {
      "type": "enum",
      "members": {
        "ACTIX_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actix-web"
          }
        },
        "ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "angular"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "ASTRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "astro"
          }
        },
        "AXUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axum"
          }
        },
        "BLITZJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blitzjs"
          }
        },
        "BRUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brunch"
          }
        },
        "BUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bun"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "CREATE_REACT_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create-react-app"
          }
        },
        "DJANGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "django"
          }
        },
        "DOCUSAURUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus"
          }
        },
        "DOCUSAURUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus-2"
          }
        },
        "DOJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dojo"
          }
        },
        "ELEVENTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eleventy"
          }
        },
        "ELYSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elysia"
          }
        },
        "EMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ember"
          }
        },
        "EVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eve"
          }
        },
        "EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "express"
          }
        },
        "FASTAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastapi"
          }
        },
        "FASTHTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fasthtml"
          }
        },
        "FASTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastify"
          }
        },
        "FLASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flask"
          }
        },
        "GATSBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gatsby"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go"
          }
        },
        "GRIDSOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gridsome"
          }
        },
        "H3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h3"
          }
        },
        "HEXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hexo"
          }
        },
        "HONO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hono"
          }
        },
        "HUGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hugo"
          }
        },
        "HYDROGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hydrogen"
          }
        },
        "IONIC_ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-angular"
          }
        },
        "IONIC_REACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-react"
          }
        },
        "JEKYLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jekyll"
          }
        },
        "KOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "koa"
          }
        },
        "MASTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mastra"
          }
        },
        "MIDDLEMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleman"
          }
        },
        "NESTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nestjs"
          }
        },
        "NEXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nextjs"
          }
        },
        "NITRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nitro"
          }
        },
        "NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node"
          }
        },
        "NUXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nuxtjs"
          }
        },
        "PARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parcel"
          }
        },
        "POLYMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polymer"
          }
        },
        "PREACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preact"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        },
        "REACT_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "react-router"
          }
        },
        "REDWOODJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redwoodjs"
          }
        },
        "REMIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remix"
          }
        },
        "RUBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruby"
          }
        },
        "RUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust"
          }
        },
        "SABER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saber"
          }
        },
        "SANITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity"
          }
        },
        "SANITY_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity-v2"
          }
        },
        "SAPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sapper"
          }
        },
        "SCULLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scully"
          }
        },
        "SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "services"
          }
        },
        "SOLIDSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart"
          }
        },
        "SOLIDSTART_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart-1"
          }
        },
        "STENCIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stencil"
          }
        },
        "STORYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storybook"
          }
        },
        "SVELTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "svelte"
          }
        },
        "SVELTEKIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit"
          }
        },
        "SVELTEKIT_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit-1"
          }
        },
        "TANSTACK_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start"
          }
        },
        "TANSTACK_START_LOVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start-lovable"
          }
        },
        "UMIJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "umijs"
          }
        },
        "VITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vite"
          }
        },
        "VITEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vitepress"
          }
        },
        "VUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vue"
          }
        },
        "VUEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vuepress"
          }
        },
        "XMCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xmcp"
          }
        },
        "ZOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zola"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemLatestDeploymentsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemNodeVersion": {
      "type": "enum",
      "members": {
        "_10_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "10.x"
          }
        },
        "_12_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "12.x"
          }
        },
        "_14_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "14.x"
          }
        },
        "_16_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "16.x"
          }
        },
        "_18_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "18.x"
          }
        },
        "_20_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "20.x"
          }
        },
        "_22_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "22.x"
          }
        },
        "_24_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "24.x"
          }
        },
        "_8_10_X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "8.10.x"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemInternalRoutesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0Item": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "creator": {
          "target": "smithy.api#Document"
        },
        "alias": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemAliasList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "analytics": {
          "target": "smithy.api#Document"
        },
        "appliedCve55182Migration": {
          "target": "smithy.api#Boolean"
        },
        "autoExposeSystemEnvs": {
          "target": "smithy.api#Boolean"
        },
        "autoAssignCustomDomains": {
          "target": "smithy.api#Boolean"
        },
        "autoAssignCustomDomainsUpdatedBy": {
          "target": "smithy.api#String"
        },
        "buildCommand": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "commandForIgnoringBuildStep": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "customerSupportCodeVisibility": {
          "target": "smithy.api#Boolean"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "devCommand": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "directoryListing": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deploymentExpiration": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Retention policies for deployments. These are enforced at the project level, but we also maintain an instance of this at the team level as a default policy that gets applied to new projects.",
            "smithy.api#required": {}
          }
        },
        "installCommand": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ipBuckets": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemIpBucketsList"
        },
        "env": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemEnvList"
        },
        "framework": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemFramework",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitForkProtection": {
          "target": "smithy.api#Boolean"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "latestDeployments": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemLatestDeploymentsList"
        },
        "link": {
          "target": "smithy.api#Document"
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "nodeVersion": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemNodeVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "outputDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "passwordProtection": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "passport": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "resourceConfig": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rollingRelease": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Project-level rolling release configuration that defines how deployments should be gradually rolled out",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rootDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "serverlessFunctionRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serverlessFunctionZeroConfigFailover": {
          "target": "smithy.api#Boolean"
        },
        "speedInsights": {
          "target": "smithy.api#Document"
        },
        "skipGitConnectDuringLink": {
          "target": "smithy.api#Boolean"
        },
        "sourceFilesOutsideRootDirectory": {
          "target": "smithy.api#Boolean"
        },
        "ssoProtection": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "targets": {
          "target": "smithy.api#Document"
        },
        "transferCompletedAt": {
          "target": "smithy.api#Double"
        },
        "transferStartedAt": {
          "target": "smithy.api#Double"
        },
        "transferToAccountId": {
          "target": "smithy.api#String"
        },
        "transferredFromAccountId": {
          "target": "smithy.api#String"
        },
        "trustedSources": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "live": {
          "target": "smithy.api#Boolean"
        },
        "hasActiveBranches": {
          "target": "smithy.api#Boolean"
        },
        "gitComments": {
          "target": "smithy.api#Document"
        },
        "gitProviderOptions": {
          "target": "smithy.api#Document"
        },
        "paused": {
          "target": "smithy.api#Boolean"
        },
        "webAnalytics": {
          "target": "smithy.api#Document"
        },
        "security": {
          "target": "smithy.api#Document"
        },
        "oidcTokenConfig": {
          "target": "smithy.api#Document"
        },
        "tier": {
          "target": "smithy.api#String"
        },
        "abuse": {
          "target": "smithy.api#Document"
        },
        "internalRoutes": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0ItemInternalRoutesList"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0List": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0Item"
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase1ProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase1": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase1ProjectsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase2ProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase2": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase2ProjectsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase0List"
        },
        "Case1": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase1"
        },
        "Case2": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBodyCase2"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#RetrieveAListOfProjectsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.projects#RetrieveAListOfProjectsResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.projects#RetrieveAListOfProjects": {
      "type": "operation",
      "input": {
        "target": "com.vercel.projects#RetrieveAListOfProjectsRequest"
      },
      "output": {
        "target": "com.vercel.projects#RetrieveAListOfProjectsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.projects#BadRequest"
        },
        {
          "target": "com.vercel.projects#Forbidden"
        },
        {
          "target": "com.vercel.projects#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v10/projects",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve a list of projects\n\nAllows to retrieve the list of projects of the authenticated user or team. The list will be paginated and the provided query parameters allow filtering the returned projects."
      }
    },
    "com.vercel.projects#GetAProjectTraceByRequestIdRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The project ID"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "requestId",
            "smithy.api#required": {},
            "smithy.api#documentation": "The Vercel CLI request ID associated with the trace"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.projects#GetAProjectTraceByRequestIdResponseTraceResourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#GetAProjectTraceByRequestIdResponseTraceSpansList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#GetAProjectTraceByRequestIdResponseTrace": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.vercel.projects#GetAProjectTraceByRequestIdResponseTraceResourcesList"
        },
        "spans": {
          "target": "com.vercel.projects#GetAProjectTraceByRequestIdResponseTraceSpansList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rootSpanId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#GetAProjectTraceByRequestIdResponse": {
      "type": "structure",
      "members": {
        "trace": {
          "target": "com.vercel.projects#GetAProjectTraceByRequestIdResponseTrace",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.projects#GetAProjectTraceByRequestId": {
      "type": "operation",
      "input": {
        "target": "com.vercel.projects#GetAProjectTraceByRequestIdRequest"
      },
      "output": {
        "target": "com.vercel.projects#GetAProjectTraceByRequestIdResponse"
      },
      "errors": [
        {
          "target": "com.vercel.projects#BadRequest"
        },
        {
          "target": "com.vercel.projects#Forbidden"
        },
        {
          "target": "com.vercel.projects#NotFound"
        },
        {
          "target": "com.vercel.projects#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/traces",
          "code": 200
        },
        "smithy.api#documentation": "Get a project trace by request ID\n\nReturns the OTEL trace for a given Vercel CLI request."
      }
    },
    "com.vercel.projects#CreateANewProjectRequestEnvironmentVariablesItemType": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of the ENV variable"
      }
    },
    "com.vercel.projects#CreateANewProjectRequestEnvironmentVariablesItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the ENV variable",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Deployment Target or Targets in which the ENV variable will be used",
            "smithy.api#required": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If defined, the git branch of the environment variable (must have target=preview)"
          }
        },
        "type": {
          "target": "com.vercel.projects#CreateANewProjectRequestEnvironmentVariablesItemType",
          "traits": {
            "smithy.api#documentation": "Type of the ENV variable"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value for the ENV variable",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectRequestEnvironmentVariablesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#CreateANewProjectRequestEnvironmentVariablesItem"
      },
      "traits": {
        "smithy.api#documentation": "Collection of ENV Variables the Project will use"
      }
    },
    "com.vercel.projects#CreateANewProjectRequestFramework": {
      "type": "enum",
      "members": {
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "BLITZJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blitzjs"
          }
        },
        "NEXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nextjs"
          }
        },
        "GATSBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gatsby"
          }
        },
        "REMIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "remix"
          }
        },
        "REACT_ROUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "react-router"
          }
        },
        "ASTRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "astro"
          }
        },
        "HEXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hexo"
          }
        },
        "ELEVENTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eleventy"
          }
        },
        "DOCUSAURUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus-2"
          }
        },
        "DOCUSAURUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus"
          }
        },
        "PREACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preact"
          }
        },
        "SOLIDSTART_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart-1"
          }
        },
        "SOLIDSTART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "solidstart"
          }
        },
        "DOJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dojo"
          }
        },
        "EMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ember"
          }
        },
        "VUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vue"
          }
        },
        "SCULLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scully"
          }
        },
        "IONIC_ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-angular"
          }
        },
        "ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "angular"
          }
        },
        "POLYMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "polymer"
          }
        },
        "SVELTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "svelte"
          }
        },
        "SVELTEKIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit"
          }
        },
        "SVELTEKIT_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sveltekit-1"
          }
        },
        "IONIC_REACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-react"
          }
        },
        "CREATE_REACT_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create-react-app"
          }
        },
        "GRIDSOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gridsome"
          }
        },
        "UMIJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "umijs"
          }
        },
        "SAPPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sapper"
          }
        },
        "SABER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saber"
          }
        },
        "STENCIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stencil"
          }
        },
        "NUXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nuxtjs"
          }
        },
        "REDWOODJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redwoodjs"
          }
        },
        "HUGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hugo"
          }
        },
        "JEKYLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jekyll"
          }
        },
        "BRUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brunch"
          }
        },
        "MIDDLEMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleman"
          }
        },
        "ZOLA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zola"
          }
        },
        "HYDROGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hydrogen"
          }
        },
        "VITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vite"
          }
        },
        "TANSTACK_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start"
          }
        },
        "TANSTACK_START_LOVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tanstack-start-lovable"
          }
        },
        "VITEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vitepress"
          }
        },
        "VUEPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vuepress"
          }
        },
        "PARCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parcel"
          }
        },
        "FASTAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastapi"
          }
        },
        "FLASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flask"
          }
        },
        "FASTHTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fasthtml"
          }
        },
        "DJANGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "django"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "EVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eve"
          }
        },
        "SANITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity"
          }
        },
        "SANITY_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sanity-v2"
          }
        },
        "STORYBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storybook"
          }
        },
        "NITRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nitro"
          }
        },
        "HONO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hono"
          }
        },
        "EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "express"
          }
        },
        "H3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h3"
          }
        },
        "KOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "koa"
          }
        },
        "NESTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nestjs"
          }
        },
        "ELYSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elysia"
          }
        },
        "FASTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastify"
          }
        },
        "XMCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xmcp"
          }
        },
        "PYTHON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python"
          }
        },
        "RUBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ruby"
          }
        },
        "RUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rust"
          }
        },
        "AXUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axum"
          }
        },
        "ACTIX_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actix-web"
          }
        },
        "BUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bun"
          }
        },
        "NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go"
          }
        },
        "SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "services"
          }
        },
        "MASTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mastra"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The framework that is being used for this project. When `null` is used no framework is selected"
      }
    },
    "com.vercel.projects#CreateANewProjectRequestGitRepositoryType": {
      "type": "enum",
      "members": {
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITHUB_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github-limited"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "VERCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel"
          }
        },
        "CURSOR_ORIGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cursor-origin"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Git Provider of the repository"
      }
    },
    "com.vercel.projects#CreateANewProjectRequestGitRepository": {
      "type": "structure",
      "members": {
        "repo": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the git repository. For example: \\\"vercel/next.js\\\"",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.projects#CreateANewProjectRequestGitRepositoryType",
          "traits": {
            "smithy.api#documentation": "The Git Provider of the repository",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Git Repository that will be connected to the project. When this is defined, any pushes to the specified connected Git Repository will be automatically deployed"
      }
    },
    "com.vercel.projects#CreateANewProjectRequestSsoProtectionDeploymentType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PROD_DEPLOYMENT_URLS_AND_ALL_PREVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prod_deployment_urls_and_all_previews"
          }
        },
        "ALL_EXCEPT_CUSTOM_DOMAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all_except_custom_domains"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectRequestSsoProtection": {
      "type": "structure",
      "members": {
        "deploymentType": {
          "target": "com.vercel.projects#CreateANewProjectRequestSsoProtectionDeploymentType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Vercel Auth setting for the project (historically named \\\"SSO Protection\\\")"
      }
    },
    "com.vercel.projects#CreateANewProjectRequestOidcTokenConfigIssuerMode": {
      "type": "enum",
      "members": {
        "TEAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "team"
          }
        },
        "GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "team: `https://oidc.vercel.com/[team_slug]` global: `https://oidc.vercel.com`"
      }
    },
    "com.vercel.projects#CreateANewProjectRequestOidcTokenConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to generate OpenID Connect JSON Web Tokens."
          }
        },
        "issuerMode": {
          "target": "com.vercel.projects#CreateANewProjectRequestOidcTokenConfigIssuerMode",
          "traits": {
            "smithy.api#documentation": "team: `https://oidc.vercel.com/[team_slug]` global: `https://oidc.vercel.com`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OpenID Connect JSON Web Token generation configuration."
      }
    },
    "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildMachineType": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enhanced"
          }
        },
        "TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "turbo"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ELASTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elastic"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectRequestResourceConfigFunctionDefaultRegionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The regions to deploy Vercel Functions to for this project"
      }
    },
    "com.vercel.projects#CreateANewProjectRequestResourceConfigFunctionDefaultMemoryType": {
      "type": "enum",
      "members": {
        "STANDARD_LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard_legacy"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "PERFORMANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performance"
          }
        },
        "PERFORMANCE_XL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performance_xl"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildMachineSelection": {
      "type": "enum",
      "members": {
        "ELASTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elastic"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fixed"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildMachineElasticReason": {
      "type": "enum",
      "members": {
        "OOM_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oom-failure"
          }
        },
        "ENOSPC_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enospc-failure"
          }
        },
        "BUILD_TIMEOUT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "build-timeout-failure"
          }
        },
        "BASIC_FLOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic-floor"
          }
        },
        "HIGH_PEAK_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high-peak-memory"
          }
        },
        "SUSTAINED_HIGH_CPU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sustained-high-cpu"
          }
        },
        "HIGH_PEAK_DISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high-peak-disk"
          }
        },
        "LONG_BUILD_DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "long-build-duration"
          }
        },
        "SHORT_BUILD_DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "short-build-duration"
          }
        },
        "ENTERPRISE_FLOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise-floor"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildQueueConfiguration": {
      "type": "enum",
      "members": {
        "SKIP_NAMESPACE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP_NAMESPACE_QUEUE"
          }
        },
        "WAIT_FOR_NAMESPACE_QUEUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAIT_FOR_NAMESPACE_QUEUE"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildQueue": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildQueueConfiguration"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectRequestResourceConfig": {
      "type": "structure",
      "members": {
        "buildMachineType": {
          "target": "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildMachineType"
        },
        "fluid": {
          "target": "smithy.api#Boolean"
        },
        "functionDefaultRegions": {
          "target": "com.vercel.projects#CreateANewProjectRequestResourceConfigFunctionDefaultRegionsList",
          "traits": {
            "smithy.api#documentation": "The regions to deploy Vercel Functions to for this project"
          }
        },
        "functionDefaultTimeout": {
          "target": "smithy.api#Double"
        },
        "functionDefaultMemoryType": {
          "target": "com.vercel.projects#CreateANewProjectRequestResourceConfigFunctionDefaultMemoryType"
        },
        "functionZeroConfigFailover": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether Zero Config Failover is enabled for this project."
          }
        },
        "elasticConcurrencyEnabled": {
          "target": "smithy.api#Boolean"
        },
        "buildMachineSelection": {
          "target": "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildMachineSelection"
        },
        "buildMachineElasticLastUpdated": {
          "target": "smithy.api#Double"
        },
        "buildMachineElasticReason": {
          "target": "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildMachineElasticReason"
        },
        "isNSNBDisabled": {
          "target": "smithy.api#Boolean"
        },
        "buildQueue": {
          "target": "com.vercel.projects#CreateANewProjectRequestResourceConfigBuildQueue"
        },
        "enableFunctionsBeta": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies resource override configuration for the project"
      }
    },
    "com.vercel.projects#CreateANewProjectRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "enablePreviewFeedback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Opt-in to preview toolbar on the project level",
            "com.distilled.openapi#nullable": {}
          }
        },
        "enableProductionFeedback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Opt-in to production toolbar on the project level",
            "com.distilled.openapi#nullable": {}
          }
        },
        "previewDeploymentsDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether preview deployments are disabled for this project.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "previewDeploymentSuffix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom domain suffix for preview deployments. Takes precedence over team-level suffix. Must be a domain owned by the team.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "buildCommand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The build command for this project. When `null` is used this value will be automatically detected",
            "com.distilled.openapi#nullable": {}
          }
        },
        "commandForIgnoringBuildStep": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "devCommand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The dev command for this project. When `null` is used this value will be automatically detected",
            "com.distilled.openapi#nullable": {}
          }
        },
        "environmentVariables": {
          "target": "com.vercel.projects#CreateANewProjectRequestEnvironmentVariablesList",
          "traits": {
            "smithy.api#documentation": "Collection of ENV Variables the Project will use"
          }
        },
        "framework": {
          "target": "com.vercel.projects#CreateANewProjectRequestFramework",
          "traits": {
            "smithy.api#documentation": "The framework that is being used for this project. When `null` is used no framework is selected"
          }
        },
        "gitRepository": {
          "target": "com.vercel.projects#CreateANewProjectRequestGitRepository",
          "traits": {
            "smithy.api#documentation": "The Git Repository that will be connected to the project. When this is defined, any pushes to the specified connected Git Repository will be automatically deployed"
          }
        },
        "installCommand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The install command for this project. When `null` is used this value will be automatically detected",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The desired name for the project",
            "smithy.api#required": {}
          }
        },
        "skipGitConnectDuringLink": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Opts-out of the message prompting a CLI user to connect a Git repository in `vercel link`."
          }
        },
        "ssoProtection": {
          "target": "com.vercel.projects#CreateANewProjectRequestSsoProtection",
          "traits": {
            "smithy.api#documentation": "The Vercel Auth setting for the project (historically named \\\"SSO Protection\\\")",
            "com.distilled.openapi#nullable": {}
          }
        },
        "outputDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The output directory of the project. When `null` is used this value will be automatically detected",
            "com.distilled.openapi#nullable": {}
          }
        },
        "publicSource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. Accepted for backwards compatibility but ignored.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rootDirectory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of a directory or relative path to the source code of your project. When `null` is used it will default to the project root",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serverlessFunctionRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region to deploy Serverless Functions in this project",
            "com.distilled.openapi#nullable": {}
          }
        },
        "serverlessFunctionZeroConfigFailover": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Specifies whether Zero Config Failover is enabled for this project."
          }
        },
        "oidcTokenConfig": {
          "target": "com.vercel.projects#CreateANewProjectRequestOidcTokenConfig",
          "traits": {
            "smithy.api#documentation": "OpenID Connect JSON Web Token generation configuration."
          }
        },
        "enableAffectedProjectsDeployments": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Opt-in to skip deployments when there are no changes to the root directory and its dependencies"
          }
        },
        "resourceConfig": {
          "target": "com.vercel.projects#CreateANewProjectRequestResourceConfig",
          "traits": {
            "smithy.api#documentation": "Specifies resource override configuration for the project"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.projects#CreateANewProjectResponseCreatorCase0Type": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCreatorCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#CreateANewProjectResponseCreatorCase0Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "via": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCreatorCase1Type": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCreatorCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#CreateANewProjectResponseCreatorCase1Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCreatorCase2Type": {
      "type": "enum",
      "members": {
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCreatorCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#CreateANewProjectResponseCreatorCase2Type",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "integration": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCreatorCase3Type": {
      "type": "enum",
      "members": {
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCreatorCase3": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.projects#CreateANewProjectResponseCreatorCase3Type",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCreator": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.projects#CreateANewProjectResponseCreatorCase0"
        },
        "Case1": {
          "target": "com.vercel.projects#CreateANewProjectResponseCreatorCase1"
        },
        "Case2": {
          "target": "com.vercel.projects#CreateANewProjectResponseCreatorCase2"
        },
        "Case3": {
          "target": "com.vercel.projects#CreateANewProjectResponseCreatorCase3"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseAliasItemConfiguredBy": {
      "type": "enum",
      "members": {
        "A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A"
          }
        },
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        },
        "DNS_01": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns-01"
          }
        },
        "HTTP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "http"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseAliasItemEnvironment": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseAliasItemRedirectStatusCode": {
      "type": "intEnum",
      "members": {
        "_301": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 301
          }
        },
        "_302": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 302
          }
        },
        "_307": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 307
          }
        },
        "_308": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 308
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseAliasItemTarget": {
      "type": "enum",
      "members": {
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCTION"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STAGING"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseAliasItem": {
      "type": "structure",
      "members": {
        "configuredBy": {
          "target": "com.vercel.projects#CreateANewProjectResponseAliasItemConfiguredBy",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "configuredChangedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "deployment": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "environment": {
          "target": "com.vercel.projects#CreateANewProjectResponseAliasItemEnvironment",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirect": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "redirectStatusCode": {
          "target": "com.vercel.projects#CreateANewProjectResponseAliasItemRedirectStatusCode",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "target": {
          "target": "com.vercel.projects#CreateANewProjectResponseAliasItemTarget",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseAliasList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#CreateANewProjectResponseAliasItem"
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseAnalytics": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "canceledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "paidAt": {
          "target": "smithy.api#Double"
        },
        "sampleRatePercent": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "spendLimitInDollars": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseSpeedInsights": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledAt": {
          "target": "smithy.api#Double"
        },
        "disabledAt": {
          "target": "smithy.api#Double"
        },
        "canceledAt": {
          "target": "smithy.api#Double"
        },
        "hasData": {
          "target": "smithy.api#Boolean"
        },
        "paidAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseConnectConfigurationsItem": {
      "type": "structure",
      "members": {
        "envId": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "connectConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dc": {
          "target": "smithy.api#String"
        },
        "passive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "buildsEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aws": {
          "target": "smithy.api#Document"
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseConnectConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#CreateANewProjectResponseConnectConfigurationsItem"
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCronsDefinitionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCrons": {
      "type": "structure",
      "members": {
        "enabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time the feature was enabled for this project. Note: It enables automatically with the first Deployment that outputs cronjobs.",
            "smithy.api#required": {}
          }
        },
        "disabledAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time the feature was disabled for this project.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the Deployment from which the definitions originated.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "definitions": {
          "target": "com.vercel.projects#CreateANewProjectResponseCronsDefinitionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseDataCache": {
      "type": "structure",
      "members": {
        "userDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storageSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "unlimited": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseDeploymentExpiration": {
      "type": "structure",
      "members": {
        "expirationDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep non-production deployments (mostly preview deployments) before soft deletion."
          }
        },
        "expirationDaysProduction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep production deployments before soft deletion."
          }
        },
        "expirationDaysCanceled": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep canceled deployments before soft deletion."
          }
        },
        "expirationDaysErrored": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep errored deployments before soft deletion."
          }
        },
        "deploymentsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum number of production deployments to keep for this project, even if they are over the production expiration limit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Retention policies for deployments. These are enforced at the project level, but we also maintain an instance of this at the team level as a default policy that gets applied to new projects."
      }
    },
    "com.vercel.projects#CreateANewProjectResponseExpirationCase0": {
      "type": "structure",
      "members": {
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix ms timestamp when the project is scheduled to expire.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseExpirationCase1": {
      "type": "structure",
      "members": {
        "lockedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix ms timestamp when the project was locked.",
            "smithy.api#required": {}
          }
        },
        "lockedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "userId of the actor that triggered the lock (system or admin).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseExpiration": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.projects#CreateANewProjectResponseExpirationCase0"
        },
        "Case1": {
          "target": "com.vercel.projects#CreateANewProjectResponseExpirationCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseEnvItemType": {
      "type": "enum",
      "members": {
        "ENCRYPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "encrypted"
          }
        },
        "PLAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plain"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret"
          }
        },
        "SENSITIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sensitive"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseEnvItemVisibility": {
      "type": "enum",
      "members": {
        "CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "config"
          }
        },
        "SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "secret"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User-facing config/secret model. When set, authoritative for new code paths when the env-var-config-secret-ui flag is enabled. Legacy rows omit this field; legacy rows omit it and callers fall back to existing `type` behavior."
      }
    },
    "com.vercel.projects#CreateANewProjectResponseEnvItemCustomEnvironmentIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseEnvItem": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#Document"
        },
        "type": {
          "target": "com.vercel.projects#CreateANewProjectResponseEnvItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "sunsetSecretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "This is used to identify variables that have been migrated from type secret to sensitive."
          }
        },
        "legacyValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Legacy now-encryption ciphertext, present after migration swaps value/vsmValue"
          }
        },
        "decrypted": {
          "target": "smithy.api#Boolean"
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "vsmValue": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "configurationId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "updatedAt": {
          "target": "smithy.api#Double"
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitBranch": {
          "target": "smithy.api#String"
        },
        "visibility": {
          "target": "com.vercel.projects#CreateANewProjectResponseEnvItemVisibility",
          "traits": {
            "smithy.api#documentation": "User-facing config/secret model. When set, authoritative for new code paths when the env-var-config-secret-ui flag is enabled. Legacy rows omit this field; legacy rows omit it and callers fall back to existing `type` behavior."
          }
        },
        "edgeConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "edgeConfigTokenId": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "contentHint": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "internalContentHint": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Similar to `contentHints`, but should not be exposed to the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "comment": {
          "target": "smithy.api#String"
        },
        "customEnvironmentIds": {
          "target": "com.vercel.projects#CreateANewProjectResponseEnvItemCustomEnvironmentIdsList"
        }
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseEnvList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#CreateANewProjectResponseEnvItem"
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseCustomEnvironmentsItemType": {
      "type": "enum",
      "members": {
        "DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of environment (production, preview, or development)"
      }
    },
    "com.vercel.projects#CreateANewProjectResponseCustomEnvironmentsItemDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of domains associated with this environment"
      }
    },
    "com.vercel.projects#CreateANewProjectResponseCustomEnvironmentsItemCurrentDeploymentAliasesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of aliases for the current deployment"
      }
    },
    "com.vercel.projects#CreateANewProjectResponseCustomEnvironmentsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the custom environment (format: env_*)",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL-friendly name of the environment",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.projects#CreateANewProjectResponseCustomEnvironmentsItemType",
          "traits": {
            "smithy.api#documentation": "The type of environment (production, preview, or development)",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional description of the environment's purpose"
          }
        },
        "branchMatcher": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Configuration for matching git branches to this environment"
          }
        },
        "domains": {
          "target": "com.vercel.projects#CreateANewProjectResponseCustomEnvironmentsItemDomainsList",
          "traits": {
            "smithy.api#documentation": "List of domains associated with this environment"
          }
        },
        "currentDeploymentAliases": {
          "target": "com.vercel.projects#CreateANewProjectResponseCustomEnvironmentsItemCurrentDeploymentAliasesList",
          "traits": {
            "smithy.api#documentation": "List of aliases for the current deployment"
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was created",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp when the environment was last updated",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Internal representation of a custom environment with all required properties"
      }
    },
    "com.vercel.projects#CreateANewProjectResponseCustomEnvironmentsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.projects#CreateANewProjectResponseCustomEnvironmentsItem"
      },
      "traits": {}
    },
    "com.vercel.projects#CreateANewProjectResponseFramework": {
      "type": "enum",
      "members": {
        "ACTIX_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actix-web"
          }
        },
        "ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "angular"
          }
        },
        "ASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ash"
          }
        },
        "ASTRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "astro"
          }
        },
        "AXUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "axum"
          }
        },
        "BLITZJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blitzjs"
          }
        },
        "BRUNCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brunch"
          }
        },
        "BUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bun"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "container"
          }
        },
        "CREATE_REACT_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "create-react-app"
          }
        },
        "DJANGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "django"
          }
        },
        "DOCUSAURUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus"
          }
        },
        "DOCUSAURUS_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docusaurus-2"
          }
        },
        "DOJO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dojo"
          }
        },
        "ELEVENTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eleventy"
          }
        },
        "ELYSIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elysia"
          }
        },
        "EMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ember"
          }
        },
        "EVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eve"
          }
        },
        "EXPRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "express"
          }
        },
        "FASTAPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastapi"
          }
        },
        "FASTHTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fasthtml"
          }
        },
        "FASTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fastify"
          }
        },
        "FLASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flask"
          }
        },
        "GATSBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gatsby"
          }
        },
        "GO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go"
          }
        },
        "GRIDSOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gridsome"
          }
        },
        "H3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "h3"
          }
        },
        "HEXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hexo"
          }
        },
        "HONO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hono"
          }
        },
        "HUGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hugo"
          }
        },
        "HYDROGEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hydrogen"
          }
        },
        "IONIC_ANGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-angular"
          }
        },
        "IONIC_REACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ionic-react"
          }
        },
        "JEKYLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jekyll"
          }
        },
        "KOA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "koa"
          }
        },
        "MASTRA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mastra"
          }
        },
        "MIDDLEMAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "middleman"
          }
        },
        "NESTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nestjs"
          }
        },
        "NEXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nextjs"
          }
        },
        "NITRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nitro"
          }
        },
        "NODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node"
          }
        },
        "NUXTJS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nuxtjs"
          }
        },
        "PARCEL": {
[...]
