{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID or project name (URL-encoded)"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase0AvailableSlots": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase0Reason": {
      "type": "enum",
      "members": {
        "PLAN_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plan_not_supported"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase0": {
      "type": "structure",
      "members": {
        "availableSlots": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase0AvailableSlots",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase0Reason",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase1AvailableSlots": {
      "type": "enum",
      "members": {
        "UNLIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlimited"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase1Reason": {
      "type": "enum",
      "members": {
        "UNLIMITED_SLOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unlimited_slots"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase1": {
      "type": "structure",
      "members": {
        "availableSlots": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase1AvailableSlots",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase1Reason",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase2AvailableSlots": {
      "type": "intEnum",
      "members": {
        "_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 0
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase2Reason": {
      "type": "enum",
      "members": {
        "NO_AVAILABLE_SLOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_available_slots"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase2EnabledProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase2": {
      "type": "structure",
      "members": {
        "availableSlots": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase2AvailableSlots",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase2Reason",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enabledProjects": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase2EnabledProjectsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase3Reason": {
      "type": "enum",
      "members": {
        "AVAILABLE_SLOTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available_slots"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase3": {
      "type": "structure",
      "members": {
        "availableSlots": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase3Reason",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase1"
        },
        "Case2": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase2"
        },
        "Case3": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBodyCase3"
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseBillingStatus": {
      "type": "operation",
      "input": {
        "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusRequest"
      },
      "output": {
        "target": "com.vercel.rolling_release#GetRollingReleaseBillingStatusResponse"
      },
      "errors": [
        {
          "target": "com.vercel.rolling_release#BadRequest"
        },
        {
          "target": "com.vercel.rolling_release#Forbidden"
        },
        {
          "target": "com.vercel.rolling_release#NotFound"
        },
        {
          "target": "com.vercel.rolling_release#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{idOrName}/rolling-release/billing",
          "code": 200
        },
        "smithy.api#documentation": "Get rolling release billing status\n\nGet the Rolling Releases billing status for a project. The team level billing status is used to determine if the project can be configured for rolling releases."
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseConfigurationRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID or project name (URL-encoded)"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingReleaseStagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "An array of all the stages required during a deployment release. Each stage defines a target percentage and advancement rules. The final stage must always have targetPercentage: 100."
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingReleaseGateChecksList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The checks to evaluate. An empty array means nothing is evaluated."
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingReleaseGateAction": {
      "type": "enum",
      "members": {
        "PAUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pause"
          }
        },
        "ROLLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rollback"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What to do when the gate trips: pause the rollout, or roll it back."
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingReleaseGate": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether automated gating is enabled for this project's rollouts.",
            "smithy.api#required": {}
          }
        },
        "checks": {
          "target": "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingReleaseGateChecksList",
          "traits": {
            "smithy.api#documentation": "The checks to evaluate. An empty array means nothing is evaluated.",
            "smithy.api#required": {}
          }
        },
        "failureThreshold": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many failing evaluations within {@link windowSize} trip the gate. Defaults to `3` when omitted."
          }
        },
        "windowSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "How many of the most recent evaluations {@link failureThreshold} is counted against. Defaults to `5` when omitted."
          }
        },
        "action": {
          "target": "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingReleaseGateAction",
          "traits": {
            "smithy.api#documentation": "What to do when the gate trips: pause the rollout, or roll it back.",
            "smithy.api#required": {}
          }
        },
        "dryRun": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When true, a tripped gate is only reported — {@link action} is not taken.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Automated gating configuration. Omitted (the default) means no gating is configured, which is equivalent to `enabled: false`."
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingRelease": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The environment that the release targets, currently only supports production. Adding in case we want to configure with alias groups or custom environments.",
            "smithy.api#required": {}
          }
        },
        "stages": {
          "target": "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingReleaseStagesList",
          "traits": {
            "smithy.api#documentation": "An array of all the stages required during a deployment release. Each stage defines a target percentage and advancement rules. The final stage must always have targetPercentage: 100.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "canaryResponseHeader": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the request served by a canary deployment should return a header indicating a canary was served. Defaults to `false` when omitted."
          }
        },
        "gate": {
          "target": "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingReleaseGate",
          "traits": {
            "smithy.api#documentation": "Automated gating configuration. Omitted (the default) means no gating is configured, which is equivalent to `enabled: false`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project-level rolling release configuration that defines how deployments should be gradually rolled out"
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseConfigurationResponse": {
      "type": "structure",
      "members": {
        "rollingRelease": {
          "target": "com.vercel.rolling_release#GetRollingReleaseConfigurationResponseRollingRelease",
          "traits": {
            "smithy.api#documentation": "Project-level rolling release configuration that defines how deployments should be gradually rolled out",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.rolling_release#GetRollingReleaseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.vercel.rolling_release#GetRollingReleaseConfigurationRequest"
      },
      "output": {
        "target": "com.vercel.rolling_release#GetRollingReleaseConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.vercel.rolling_release#BadRequest"
        },
        {
          "target": "com.vercel.rolling_release#Forbidden"
        },
        {
          "target": "com.vercel.rolling_release#NotFound"
        },
        {
          "target": "com.vercel.rolling_release#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{idOrName}/rolling-release/config",
          "code": 200
        },
        "smithy.api#documentation": "Get rolling release configuration\n\nGet the Rolling Releases configuration for a project. The project-level config is simply a template that will be used for any future rolling release, and not the configuration for any active rolling release."
      }
    },
    "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID or project name (URL-encoded)"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBodyCase0": {
      "type": "structure",
      "members": {
        "rollingRelease": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBodyCase1RollingReleaseStagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBodyCase1RollingRelease": {
      "type": "structure",
      "members": {
        "stages": {
          "target": "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBodyCase1RollingReleaseStagesList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBodyCase1": {
      "type": "structure",
      "members": {
        "rollingRelease": {
          "target": "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBodyCase1RollingRelease",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBodyCase0"
        },
        "Case1": {
          "target": "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectRequest"
      },
      "output": {
        "target": "com.vercel.rolling_release#UpdateTheRollingReleaseSettingsForTheProjectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.rolling_release#BadRequest"
        },
        {
          "target": "com.vercel.rolling_release#Forbidden"
        },
        {
          "target": "com.vercel.rolling_release#NotFound"
        },
        {
          "target": "com.vercel.rolling_release#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/projects/{idOrName}/rolling-release/config",
          "code": 200
        },
        "smithy.api#documentation": "Update the rolling release settings for the project\n\nUpdate (or disable) Rolling Releases for a project. When disabling with the resolve-on-disable feature flag enabled, any active rolling release document is resolved using the disableRolloutAction parameter: \"abort\" to roll back (default), or \"complete\" to promote the canary to production. When enabling or updating config, changes only affect the next production deployment and do not alter a rollout that's already in-flight. Note: Enabling Rolling Releases automatically enables skew protection on the project with the default value if it wasn't configured already."
      }
    },
    "com.vercel.rolling_release#DeleteRollingReleaseConfigurationRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID or project name (URL-encoded)"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.rolling_release#DeleteRollingReleaseConfigurationResponse": {
      "type": "structure",
      "members": {
        "rollingRelease": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.rolling_release#DeleteRollingReleaseConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.vercel.rolling_release#DeleteRollingReleaseConfigurationRequest"
      },
      "output": {
        "target": "com.vercel.rolling_release#DeleteRollingReleaseConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.vercel.rolling_release#BadRequest"
        },
        {
          "target": "com.vercel.rolling_release#Forbidden"
        },
        {
          "target": "com.vercel.rolling_release#NotFound"
        },
        {
          "target": "com.vercel.rolling_release#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/projects/{idOrName}/rolling-release/config",
          "code": 200
        },
        "smithy.api#documentation": "Delete rolling release configuration\n\nDisable Rolling Releases for a project means that future deployments will not undergo a rolling release. Changing the config never alters a rollout that's already in-flight—it only affects the next production deployment. If you want to also stop the current rollout, call this endpoint to disable the feature, and then call either the /complete or /abort endpoint."
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectRequestState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID or project name (URL-encoded)"
          }
        },
        "state": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectRequestState",
          "traits": {
            "smithy.api#httpQuery": "state",
            "smithy.api#documentation": "Filter by rolling release state"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseState": {
      "type": "enum",
      "members": {
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the rolling release"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseSubstate": {
      "type": "enum",
      "members": {
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set to `PAUSED`, the rollout is frozen at the current percentage until continued."
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCurrentDeploymentReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCurrentDeploymentTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCurrentDeploymentSource": {
      "type": "enum",
      "members": {
        "API_TRIGGER_GIT_DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api-trigger-git-deploy"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "CLONE_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone/repo"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop"
          }
        },
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git"
          }
        },
        "GIT_DEPLOY_HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git-deploy-hook"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "IMPORT_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import/repo"
          }
        },
        "REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redeploy"
          }
        },
        "V0_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0-web"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCurrentDeployment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the project associated with the deployment at the time that the deployment was created",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number containing the date when the deployment was created in milliseconds",
            "smithy.api#required": {}
          }
        },
        "readyState": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCurrentDeploymentReadyState",
          "traits": {
            "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string holding the unique ID of the deployment",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCurrentDeploymentTarget",
          "traits": {
            "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyStateAt": {
          "target": "smithy.api#Double"
        },
        "source": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCurrentDeploymentSource",
          "traits": {
            "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string with the unique URL of the deployment",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current deployment receiving production traffic"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCanaryDeploymentReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCanaryDeploymentTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCanaryDeploymentSource": {
      "type": "enum",
      "members": {
        "API_TRIGGER_GIT_DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api-trigger-git-deploy"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "CLONE_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone/repo"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop"
          }
        },
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git"
          }
        },
        "GIT_DEPLOY_HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git-deploy-hook"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "IMPORT_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import/repo"
          }
        },
        "REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redeploy"
          }
        },
        "V0_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0-web"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCanaryDeployment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the project associated with the deployment at the time that the deployment was created",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number containing the date when the deployment was created in milliseconds",
            "smithy.api#required": {}
          }
        },
        "readyState": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCanaryDeploymentReadyState",
          "traits": {
            "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string holding the unique ID of the deployment",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCanaryDeploymentTarget",
          "traits": {
            "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyStateAt": {
          "target": "smithy.api#Double"
        },
        "source": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCanaryDeploymentSource",
          "traits": {
            "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string with the unique URL of the deployment",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The canary deployment being rolled out"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseAdvancementType": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        },
        "MANUAL_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual-approval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The advancement type of the rolling release"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseStagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "All stages configured for this rolling release"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseActiveStage": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the stage",
            "smithy.api#required": {}
          }
        },
        "isFinalStage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage is the final stage (targetPercentage === 100)",
            "smithy.api#required": {}
          }
        },
        "targetPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of traffic to serve to the canary deployment (0-100)",
            "smithy.api#required": {}
          }
        },
        "requireApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage requires manual approval to proceed",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "linearShift": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to linearly shift traffic over the duration of this stage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The currently active stage, null if the rollout is aborted"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseNextStage": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the stage",
            "smithy.api#required": {}
          }
        },
        "isFinalStage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage is the final stage (targetPercentage === 100)",
            "smithy.api#required": {}
          }
        },
        "targetPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of traffic to serve to the canary deployment (0-100)",
            "smithy.api#required": {}
          }
        },
        "requireApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage requires manual approval to proceed",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "linearShift": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to linearly shift traffic over the duration of this stage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The next stage to be activated, null if not in ACTIVE state"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingRelease": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseState",
          "traits": {
            "smithy.api#documentation": "The current state of the rolling release",
            "smithy.api#required": {}
          }
        },
        "substate": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseSubstate",
          "traits": {
            "smithy.api#documentation": "When set to `PAUSED`, the rollout is frozen at the current percentage until continued.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentDeployment": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCurrentDeployment",
          "traits": {
            "smithy.api#documentation": "The current deployment receiving production traffic",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "canaryDeployment": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseCanaryDeployment",
          "traits": {
            "smithy.api#documentation": "The canary deployment being rolled out",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "queuedDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a deployment queued for the next rolling release",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "advancementType": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseAdvancementType",
          "traits": {
            "smithy.api#documentation": "The advancement type of the rolling release",
            "smithy.api#required": {}
          }
        },
        "stages": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseStagesList",
          "traits": {
            "smithy.api#documentation": "All stages configured for this rolling release",
            "smithy.api#required": {}
          }
        },
        "activeStage": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseActiveStage",
          "traits": {
            "smithy.api#documentation": "The currently active stage, null if the rollout is aborted",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "nextStage": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingReleaseNextStage",
          "traits": {
            "smithy.api#documentation": "The next stage to be activated, null if not in ACTIVE state",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the rolling release started",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the rolling release was last updated",
            "smithy.api#required": {}
          }
        },
        "currentCanaryPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "When set (for example while {@link substate} is `PAUSED`), the canary traffic percentage persisted on the rollout document — use for dashboard display when linear shift is active."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rolling release information including configuration and document details, or null if no rolling release exists"
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponse": {
      "type": "structure",
      "members": {
        "rollingRelease": {
          "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponseRollingRelease",
          "traits": {
            "smithy.api#documentation": "Rolling release information including configuration and document details, or null if no rolling release exists",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectRequest"
      },
      "output": {
        "target": "com.vercel.rolling_release#GetTheActiveRollingReleaseInformationForAProjectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.rolling_release#BadRequest"
        },
        {
          "target": "com.vercel.rolling_release#Forbidden"
        },
        {
          "target": "com.vercel.rolling_release#NotFound"
        },
        {
          "target": "com.vercel.rolling_release#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/projects/{idOrName}/rolling-release",
          "code": 200
        },
        "smithy.api#documentation": "Get the active rolling release information for a project\n\nReturn the Rolling Release for a project, regardless of whether the rollout is active, aborted, or completed. If the feature is enabled but no deployment has occurred yet, null will be returned."
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID or project name (URL-encoded)"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "nextStageIndex": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The index of the stage to transition to",
            "smithy.api#required": {}
          }
        },
        "canaryDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the canary deployment to approve for the next stage",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseState": {
      "type": "enum",
      "members": {
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the rolling release"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseSubstate": {
      "type": "enum",
      "members": {
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set to `PAUSED`, the rollout is frozen at the current percentage until continued."
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCurrentDeploymentReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCurrentDeploymentTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCurrentDeploymentSource": {
      "type": "enum",
      "members": {
        "API_TRIGGER_GIT_DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api-trigger-git-deploy"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "CLONE_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone/repo"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop"
          }
        },
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git"
          }
        },
        "GIT_DEPLOY_HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git-deploy-hook"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "IMPORT_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import/repo"
          }
        },
        "REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redeploy"
          }
        },
        "V0_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0-web"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCurrentDeployment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the project associated with the deployment at the time that the deployment was created",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number containing the date when the deployment was created in milliseconds",
            "smithy.api#required": {}
          }
        },
        "readyState": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCurrentDeploymentReadyState",
          "traits": {
            "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string holding the unique ID of the deployment",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCurrentDeploymentTarget",
          "traits": {
            "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyStateAt": {
          "target": "smithy.api#Double"
        },
        "source": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCurrentDeploymentSource",
          "traits": {
            "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string with the unique URL of the deployment",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current deployment receiving production traffic"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCanaryDeploymentReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCanaryDeploymentTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCanaryDeploymentSource": {
      "type": "enum",
      "members": {
        "API_TRIGGER_GIT_DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api-trigger-git-deploy"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "CLONE_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone/repo"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop"
          }
        },
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git"
          }
        },
        "GIT_DEPLOY_HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git-deploy-hook"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "IMPORT_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import/repo"
          }
        },
        "REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redeploy"
          }
        },
        "V0_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0-web"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCanaryDeployment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the project associated with the deployment at the time that the deployment was created",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number containing the date when the deployment was created in milliseconds",
            "smithy.api#required": {}
          }
        },
        "readyState": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCanaryDeploymentReadyState",
          "traits": {
            "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string holding the unique ID of the deployment",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCanaryDeploymentTarget",
          "traits": {
            "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyStateAt": {
          "target": "smithy.api#Double"
        },
        "source": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCanaryDeploymentSource",
          "traits": {
            "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string with the unique URL of the deployment",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The canary deployment being rolled out"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseAdvancementType": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        },
        "MANUAL_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual-approval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The advancement type of the rolling release"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseStagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "All stages configured for this rolling release"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseActiveStage": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the stage",
            "smithy.api#required": {}
          }
        },
        "isFinalStage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage is the final stage (targetPercentage === 100)",
            "smithy.api#required": {}
          }
        },
        "targetPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of traffic to serve to the canary deployment (0-100)",
            "smithy.api#required": {}
          }
        },
        "requireApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage requires manual approval to proceed",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "linearShift": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to linearly shift traffic over the duration of this stage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The currently active stage, null if the rollout is aborted"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseNextStage": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the stage",
            "smithy.api#required": {}
          }
        },
        "isFinalStage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage is the final stage (targetPercentage === 100)",
            "smithy.api#required": {}
          }
        },
        "targetPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of traffic to serve to the canary deployment (0-100)",
            "smithy.api#required": {}
          }
        },
        "requireApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage requires manual approval to proceed",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "linearShift": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to linearly shift traffic over the duration of this stage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The next stage to be activated, null if not in ACTIVE state"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingRelease": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseState",
          "traits": {
            "smithy.api#documentation": "The current state of the rolling release",
            "smithy.api#required": {}
          }
        },
        "substate": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseSubstate",
          "traits": {
            "smithy.api#documentation": "When set to `PAUSED`, the rollout is frozen at the current percentage until continued.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "currentDeployment": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCurrentDeployment",
          "traits": {
            "smithy.api#documentation": "The current deployment receiving production traffic",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "canaryDeployment": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseCanaryDeployment",
          "traits": {
            "smithy.api#documentation": "The canary deployment being rolled out",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "queuedDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of a deployment queued for the next rolling release",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "advancementType": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseAdvancementType",
          "traits": {
            "smithy.api#documentation": "The advancement type of the rolling release",
            "smithy.api#required": {}
          }
        },
        "stages": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseStagesList",
          "traits": {
            "smithy.api#documentation": "All stages configured for this rolling release",
            "smithy.api#required": {}
          }
        },
        "activeStage": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseActiveStage",
          "traits": {
            "smithy.api#documentation": "The currently active stage, null if the rollout is aborted",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "nextStage": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingReleaseNextStage",
          "traits": {
            "smithy.api#documentation": "The next stage to be activated, null if not in ACTIVE state",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the rolling release started",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Unix timestamp in milliseconds when the rolling release was last updated",
            "smithy.api#required": {}
          }
        },
        "currentCanaryPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "When set (for example while {@link substate} is `PAUSED`), the canary traffic percentage persisted on the rollout document — use for dashboard display when linear shift is active."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rolling release information including configuration and document details, or null if no rolling release exists"
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponse": {
      "type": "structure",
      "members": {
        "rollingRelease": {
          "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponseRollingRelease",
          "traits": {
            "smithy.api#documentation": "Rolling release information including configuration and document details, or null if no rolling release exists",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProject": {
      "type": "operation",
      "input": {
        "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectRequest"
      },
      "output": {
        "target": "com.vercel.rolling_release#UpdateTheActiveRollingReleaseToTheNextStageForAProjectResponse"
      },
      "errors": [
        {
          "target": "com.vercel.rolling_release#BadRequest"
        },
        {
          "target": "com.vercel.rolling_release#Forbidden"
        },
        {
          "target": "com.vercel.rolling_release#NotFound"
        },
        {
          "target": "com.vercel.rolling_release#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/projects/{idOrName}/rolling-release/approve-stage",
          "code": 200
        },
        "smithy.api#documentation": "Update the active rolling release to the next stage for a project\n\nAdvance a rollout to the next stage. This is only needed when rolling releases is configured to require manual approval."
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectRequest": {
      "type": "structure",
      "members": {
        "idOrName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Project ID or project name (URL-encoded)"
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "canaryDeploymentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the canary deployment to start the rolling release for",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseState": {
      "type": "enum",
      "members": {
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current state of the rolling release"
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseSubstate": {
      "type": "enum",
      "members": {
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set to `PAUSED`, the rollout is frozen at the current percentage until continued."
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCurrentDeploymentReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state"
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCurrentDeploymentTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCurrentDeploymentSource": {
      "type": "enum",
      "members": {
        "API_TRIGGER_GIT_DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api-trigger-git-deploy"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "CLONE_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone/repo"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop"
          }
        },
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git"
          }
        },
        "GIT_DEPLOY_HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git-deploy-hook"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "IMPORT_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import/repo"
          }
        },
        "REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redeploy"
          }
        },
        "V0_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0-web"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCurrentDeployment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the project associated with the deployment at the time that the deployment was created",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number containing the date when the deployment was created in milliseconds",
            "smithy.api#required": {}
          }
        },
        "readyState": {
          "target": "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCurrentDeploymentReadyState",
          "traits": {
            "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string holding the unique ID of the deployment",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCurrentDeploymentTarget",
          "traits": {
            "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyStateAt": {
          "target": "smithy.api#Double"
        },
        "source": {
          "target": "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCurrentDeploymentSource",
          "traits": {
            "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string with the unique URL of the deployment",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current deployment receiving production traffic"
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCanaryDeploymentReadyState": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state"
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCanaryDeploymentTarget": {
      "type": "enum",
      "members": {
        "PRODUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production"
          }
        },
        "STAGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "staging"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment."
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCanaryDeploymentSource": {
      "type": "enum",
      "members": {
        "API_TRIGGER_GIT_DEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api-trigger-git-deploy"
          }
        },
        "CLI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cli"
          }
        },
        "CLONE_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clone/repo"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drop"
          }
        },
        "GIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git"
          }
        },
        "GIT_DEPLOY_HOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git-deploy-hook"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "IMPORT_REPO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import/repo"
          }
        },
        "REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redeploy"
          }
        },
        "V0_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0-web"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCanaryDeployment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the project associated with the deployment at the time that the deployment was created",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A number containing the date when the deployment was created in milliseconds",
            "smithy.api#required": {}
          }
        },
        "readyState": {
          "target": "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCanaryDeploymentReadyState",
          "traits": {
            "smithy.api#documentation": "The state of the deployment depending on the process of deploying, or if it is ready or in an error state",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string holding the unique ID of the deployment",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCanaryDeploymentTarget",
          "traits": {
            "smithy.api#documentation": "If defined, either `staging` if a staging alias in the format `<project>.<team>.now.sh` was assigned upon creation, or `production` if the aliases from `alias` were assigned. `null` value indicates the \"preview\" deployment.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "readyStateAt": {
          "target": "smithy.api#Double"
        },
        "source": {
          "target": "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseCanaryDeploymentSource",
          "traits": {
            "smithy.api#documentation": "Where was the deployment created from. Best-effort guess for metrics only — not authoritative; do not gate behavior on it."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string with the unique URL of the deployment",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The canary deployment being rolled out"
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseAdvancementType": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        },
        "MANUAL_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual-approval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The advancement type of the rolling release"
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseStagesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "All stages configured for this rolling release"
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseActiveStage": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the stage",
            "smithy.api#required": {}
          }
        },
        "isFinalStage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage is the final stage (targetPercentage === 100)",
            "smithy.api#required": {}
          }
        },
        "targetPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of traffic to serve to the canary deployment (0-100)",
            "smithy.api#required": {}
          }
        },
        "requireApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage requires manual approval to proceed",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "linearShift": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to linearly shift traffic over the duration of this stage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The currently active stage, null if the rollout is aborted"
      }
    },
    "com.vercel.rolling_release#StartARollingReleaseForTheProjectResponseRollingReleaseNextStage": {
      "type": "structure",
      "members": {
        "index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The zero-based index of the stage",
            "smithy.api#required": {}
          }
        },
        "isFinalStage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage is the final stage (targetPercentage === 100)",
            "smithy.api#required": {}
          }
        },
        "targetPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of traffic to serve to the canary deployment (0-100)",
            "smithy.api#required": {}
          }
        },
        "requireApproval": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not this stage requires manual approval to proceed",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Duration in seconds for automatic advancement, null for manual stages or the final stage",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "linearShift": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to linearly shift traffic over the duration of this stage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The next stage to be activated, null if not in ACTIVE state"
      }
    },
[...]
