{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.sandboxes#ListSandboxesRequestSortBy": {
      "type": "enum",
      "members": {
        "CREATEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createdAt"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "STATUSUPDATEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "statusUpdatedAt"
          }
        },
        "CURRENTSNAPSHOTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "currentSnapshotId"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSandboxesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSandboxesRequestStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopping"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSandboxesRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#documentation": "The unique identifier or name of the project to list named sandboxes for."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of named sandboxes to return in the response. Used for pagination."
          }
        },
        "sortBy": {
          "target": "com.vercel.sandboxes#ListSandboxesRequestSortBy",
          "traits": {
            "smithy.api#httpQuery": "sortBy",
            "smithy.api#documentation": "Field to sort by."
          }
        },
        "namePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "namePrefix",
            "smithy.api#documentation": "Filter named sandboxes whose name starts with this prefix. Only valid when sortBy=name."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Opaque pagination cursor from a previous response."
          }
        },
        "sortOrder": {
          "target": "com.vercel.sandboxes#ListSandboxesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Sort direction. Defaults to desc."
          }
        },
        "status": {
          "target": "com.vercel.sandboxes#ListSandboxesRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Filter named sandboxes by status. Only valid when sortBy is createdAt."
          }
        },
        "tags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "tags",
            "smithy.api#documentation": "Filter sandboxes by tag. Format: \\\"key:value\\\". Only one tag filter is supported at a time."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.sandboxes#ListSandboxesResponseSandboxesItemStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopping"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the current sandbox."
      }
    },
    "com.vercel.sandboxes#ListSandboxesResponseSandboxesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the sandbox.",
            "smithy.api#required": {}
          }
        },
        "currentSnapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current snapshot ID that the named sandbox is pointing to."
          }
        },
        "currentSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current session ID the sandbox is pointing to.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.sandboxes#ListSandboxesResponseSandboxesItemStatus",
          "traits": {
            "smithy.api#documentation": "The status of the current sandbox.",
            "smithy.api#required": {}
          }
        },
        "statusUpdatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the sandbox status was last updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "persistent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the sandbox persists its state across restarts via automatic snapshots.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region the sandbox is configured to run in: the region set on the sandbox, otherwise the project-level default, then the platform default. Where a running session actually landed is reported by `session.region`."
          }
        },
        "vcpus": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of virtual CPUs allocated."
          }
        },
        "memory": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory allocated in MB."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Runtime identifier."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest-pinned reference of the container image the sandbox was created from, when it was created from an image (\"{repository}@{manifestDigest}\")."
          }
        },
        "timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timeout in milliseconds."
          }
        },
        "snapshotExpiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Default snapshot expiration time in milliseconds. 0 means no expiration."
          }
        },
        "keepLastSnapshots": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Keep-last snapshot configuration."
          }
        },
        "networkPolicy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Network policy configuration."
          }
        },
        "totalEgressBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative egress bytes across all sandbox runs."
          }
        },
        "totalIngressBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative ingress bytes across all sandbox runs."
          }
        },
        "totalActiveCpuDurationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative active CPU duration in milliseconds across all sandbox runs."
          }
        },
        "totalDurationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative wall-clock duration in milliseconds across all sandbox runs."
          }
        },
        "cwd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The working directory of the sandbox."
          }
        },
        "tags": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Key-value tags attached to the named sandbox."
          }
        },
        "mounts": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Key-value pairs of mount path and drive."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the named sandbox was created, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the named sandbox was last updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time at which the currently running sandbox will time out, in milliseconds since the epoch. Only present while a session is running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to a Vercel NamedSandbox."
      }
    },
    "com.vercel.sandboxes#ListSandboxesResponseSandboxesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.sandboxes#ListSandboxesResponseSandboxesItem"
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSandboxesResponsePagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSandboxesResponse": {
      "type": "structure",
      "members": {
        "sandboxes": {
          "target": "com.vercel.sandboxes#ListSandboxesResponseSandboxesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.sandboxes#ListSandboxesResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.sandboxes#ListSandboxes": {
      "type": "operation",
      "input": {
        "target": "com.vercel.sandboxes#ListSandboxesRequest"
      },
      "output": {
        "target": "com.vercel.sandboxes#ListSandboxesResponse"
      },
      "errors": [
        {
          "target": "com.vercel.sandboxes#BadRequest"
        },
        {
          "target": "com.vercel.sandboxes#Forbidden"
        },
        {
          "target": "com.vercel.sandboxes#NotFound"
        },
        {
          "target": "com.vercel.sandboxes#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/sandboxes",
          "code": 200
        },
        "smithy.api#documentation": "List sandboxes\n\nRetrieves a paginated list of named sandboxes belonging to a specific project. Results can be sorted by creation time or name, and optionally filtered by name prefix or status.",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "pagination.next",
          "items": "sandboxes"
        }
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0Mode": {
      "type": "enum",
      "members": {
        "ALLOW_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow-all"
          }
        },
        "DENY_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny-all"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "DEFAULT_ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default-allow"
          }
        },
        "DEFAULT_DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default-deny"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The network access policy mode. Use \\\"allow-all\\\" to permit all outbound traffic. Use \\\"deny-all\\\" to block all outbound traffic. Use \\\"custom\\\" to specify explicit allow/deny rules."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0AllowedDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of domain names the sandbox is allowed to connect to. Only applies when mode is \\\"custom\\\". Supports wildcard patterns (e.g., \\\"*.example.com\\\" matches all subdomains)."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0AllowedCIDRsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of IP address ranges (in CIDR notation) the sandbox is allowed to connect to. Traffic to these addresses bypasses domain-based restrictions."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0DeniedCIDRsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of IP address ranges (in CIDR notation) the sandbox is blocked from connecting to. These rules take precedence over all allowed rules."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0InjectionRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "HTTP header injection rules for outgoing requests matching specific domains. Traffic to matching domains will be intercepted instead of proxied through encrypted connections."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0Mode",
          "traits": {
            "smithy.api#documentation": "The network access policy mode. Use \\\"allow-all\\\" to permit all outbound traffic. Use \\\"deny-all\\\" to block all outbound traffic. Use \\\"custom\\\" to specify explicit allow/deny rules.",
            "smithy.api#required": {}
          }
        },
        "allowedDomains": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0AllowedDomainsList",
          "traits": {
            "smithy.api#documentation": "List of domain names the sandbox is allowed to connect to. Only applies when mode is \\\"custom\\\". Supports wildcard patterns (e.g., \\\"*.example.com\\\" matches all subdomains)."
          }
        },
        "allowedCIDRs": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0AllowedCIDRsList",
          "traits": {
            "smithy.api#documentation": "List of IP address ranges (in CIDR notation) the sandbox is allowed to connect to. Traffic to these addresses bypasses domain-based restrictions."
          }
        },
        "deniedCIDRs": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0DeniedCIDRsList",
          "traits": {
            "smithy.api#documentation": "List of IP address ranges (in CIDR notation) the sandbox is blocked from connecting to. These rules take precedence over all allowed rules."
          }
        },
        "injectionRules": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0InjectionRulesList",
          "traits": {
            "smithy.api#documentation": "HTTP header injection rules for outgoing requests matching specific domains. Traffic to matching domains will be intercepted instead of proxied through encrypted connections."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Network access policy for the sandbox.\\n    Controls which external hosts the sandbox can communicate with.\\n    Use \\\"allow-all\\\" mode to allow all traffic, \\\"deny-all\\\" to block all traffic or \\\"custom\\\" to provide specific rules."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase1": {
      "type": "structure",
      "members": {
        "allow": {
          "target": "smithy.api#Document"
        },
        "subnets": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicy": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase0"
        },
        "Case1": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestRuntime": {
      "type": "enum",
      "members": {
        "NODE22": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node22"
          }
        },
        "NODE24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node24"
          }
        },
        "NODE26": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "node26"
          }
        },
        "PYTHON3_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "python3.13"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The runtime environment for the sandbox. Determines the pre-installed language runtimes and tools available."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestResources": {
      "type": "structure",
      "members": {
        "vcpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of virtual CPUs to allocate to the sandbox. Must be 1, or an even number."
          }
        },
        "memory": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of memory in megabytes to allocate to the sandbox. Must equal vcpus * 2048."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Resources to define the VM"
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestSourceCase0": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Indicates the source is a Git repository.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the Git repository to clone.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username for Git authentication. Required together with password for private repositories."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Password or personal access token for Git authentication. Required together with username for private repositories.",
            "smithy.api#sensitive": {}
          }
        },
        "depth": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Create a shallow clone with history truncated to the specified number of commits. Useful for faster cloning of large repositories."
          }
        },
        "revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specific commit SHA, branch name, or tag to checkout after cloning."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Clone a Git repository into the sandbox."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestSourceCase1": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Indicates the source is a tarball.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL of a gzipped tarball (.tar.gz) to download and extract.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Download and extract a gzipped tarball into the sandbox."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestSourceCase2": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Indicates the source is a snapshot.",
            "smithy.api#required": {}
          }
        },
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the snapshot to restore.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Restore the sandbox filesystem from an existing snapshot."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestSource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestSourceCase0"
        },
        "Case1": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestSourceCase1"
        },
        "Case2": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestSourceCase2"
        }
      },
      "traits": {
        "smithy.api#documentation": "The source from which to initialize the sandbox filesystem. Can be a Git repository, a tarball URL, or an existing snapshot."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestPortsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#documentation": "List of ports to expose from the sandbox. Each port will be accessible via a unique URL. Maximum of 15 ports can be exposed."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestEnvMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Default environment variables for the sandbox. These are inherited by all commands unless overridden."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestMountsValueMode": {
      "type": "enum",
      "members": {
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read-only"
          }
        },
        "READ_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read-write"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Mount the drive read-only or read-write."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestMountsValue": {
      "type": "structure",
      "members": {
        "drive": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the drive to mount. The drive must already exist.",
            "smithy.api#required": {}
          }
        },
        "mode": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestMountsValueMode",
          "traits": {
            "smithy.api#documentation": "Mount the drive read-only or read-write."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestMountsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.vercel.sandboxes#CreateANamedSandboxRequestMountsValue"
      },
      "traits": {
        "smithy.api#documentation": "List of drives to mount to the sandbox at the provided path."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestSnapshotExpiration": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default snapshot expiration time in milliseconds. Set to 0 to disable expiration. When set, this value is used as the default expiration for all snapshots created for this sandbox."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestKeepLastSnapshotsExpiration": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#documentation": "Expiration time in milliseconds for kept snapshots. Falls back to snapshotExpiration."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestKeepLastSnapshots": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of most recent snapshots to keep.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestKeepLastSnapshotsExpiration",
          "traits": {
            "smithy.api#documentation": "Expiration time in milliseconds for kept snapshots. Falls back to snapshotExpiration."
          }
        },
        "deleteEvicted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to immediately delete evicted snapshots. Defaults to true."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Protect the N most recent snapshots with different expiration/deletion behavior."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequestTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key-value tags to associate with the sandbox. Maximum 5 tags."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "networkPolicy": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestNetworkPolicy"
        },
        "runtime": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestRuntime",
          "traits": {
            "smithy.api#documentation": "The runtime environment for the sandbox. Determines the pre-installed language runtimes and tools available."
          }
        },
        "resources": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestResources",
          "traits": {
            "smithy.api#documentation": "Resources to define the VM"
          }
        },
        "source": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestSource",
          "traits": {
            "smithy.api#documentation": "The source from which to initialize the sandbox filesystem. Can be a Git repository, a tarball URL, or an existing snapshot."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target project slug or ID in which the sandbox will be assigned to."
          }
        },
        "ports": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestPortsList",
          "traits": {
            "smithy.api#documentation": "List of ports to expose from the sandbox. Each port will be accessible via a unique URL. Maximum of 15 ports can be exposed."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Image to use for the sandbox."
          }
        },
        "timeout": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum duration in milliseconds that the sandbox can run before being automatically stopped."
          }
        },
        "env": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestEnvMap",
          "traits": {
            "smithy.api#documentation": "Default environment variables for the sandbox. These are inherited by all commands unless overridden."
          }
        },
        "mounts": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestMountsMap",
          "traits": {
            "smithy.api#documentation": "List of drives to mount to the sandbox at the provided path."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name for the sandbox. Must be unique per project and URL-safe (alphanumeric, hyphens, underscores)."
          }
        },
        "persistent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the sandbox persists its state across restarts via automatic snapshots. Defaults to true."
          }
        },
        "snapshotExpiration": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestSnapshotExpiration",
          "traits": {
            "smithy.api#documentation": "Default snapshot expiration time in milliseconds. Set to 0 to disable expiration. When set, this value is used as the default expiration for all snapshots created for this sandbox."
          }
        },
        "keepLastSnapshots": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestKeepLastSnapshots",
          "traits": {
            "smithy.api#documentation": "Protect the N most recent snapshots with different expiration/deletion behavior."
          }
        },
        "tags": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxRequestTagsMap",
          "traits": {
            "smithy.api#documentation": "Key-value tags to associate with the sandbox. Maximum 5 tags."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopping"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the current sandbox."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxKeepLastSnapshots": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of most recent snapshots to keep.",
            "smithy.api#required": {}
          }
        },
        "expiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Expiration time in milliseconds for kept snapshots."
          }
        },
        "deleteEvicted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to immediately delete evicted snapshots.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Keep-last snapshot configuration."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicyMode": {
      "type": "enum",
      "members": {
        "ALLOW_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow-all"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "DEFAULT_ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default-allow"
          }
        },
        "DEFAULT_DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default-deny"
          }
        },
        "DENY_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny-all"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicyAllowedDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicyAllowedCIDRsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicyDeniedCIDRsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicyMode",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowedDomains": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicyAllowedDomainsList"
        },
        "allowedCIDRs": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicyAllowedCIDRsList"
        },
        "deniedCIDRs": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicyDeniedCIDRsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Network policy configuration."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Key-value tags attached to the named sandbox."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxMountsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Key-value pairs of mount path and drive."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSandbox": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the sandbox.",
            "smithy.api#required": {}
          }
        },
        "currentSnapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current snapshot ID that the named sandbox is pointing to."
          }
        },
        "currentSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current session ID the sandbox is pointing to.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxStatus",
          "traits": {
            "smithy.api#documentation": "The status of the current sandbox.",
            "smithy.api#required": {}
          }
        },
        "statusUpdatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the sandbox status was last updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "persistent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the sandbox persists its state across restarts via automatic snapshots.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region the sandbox is configured to run in: the region set on the sandbox, otherwise the project-level default, then the platform default. Where a running session actually landed is reported by `session.region`."
          }
        },
        "vcpus": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of virtual CPUs allocated."
          }
        },
        "memory": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory allocated in MB."
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Runtime identifier."
          }
        },
        "image": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Digest-pinned reference of the container image the sandbox was created from, when it was created from an image (\"{repository}@{manifestDigest}\")."
          }
        },
        "timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timeout in milliseconds."
          }
        },
        "snapshotExpiration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Default snapshot expiration time in milliseconds. 0 means no expiration."
          }
        },
        "keepLastSnapshots": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxKeepLastSnapshots",
          "traits": {
            "smithy.api#documentation": "Keep-last snapshot configuration."
          }
        },
        "networkPolicy": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxNetworkPolicy",
          "traits": {
            "smithy.api#documentation": "Network policy configuration."
          }
        },
        "totalEgressBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative egress bytes across all sandbox runs."
          }
        },
        "totalIngressBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative ingress bytes across all sandbox runs."
          }
        },
        "totalActiveCpuDurationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative active CPU duration in milliseconds across all sandbox runs."
          }
        },
        "totalDurationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative wall-clock duration in milliseconds across all sandbox runs."
          }
        },
        "cwd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The working directory of the sandbox."
          }
        },
        "tags": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxTagsMap",
          "traits": {
            "smithy.api#documentation": "Key-value tags attached to the named sandbox."
          }
        },
        "mounts": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandboxMountsMap",
          "traits": {
            "smithy.api#documentation": "Key-value pairs of mount path and drive."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the named sandbox was created, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the named sandbox was last updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time at which the currently running sandbox will time out, in milliseconds since the epoch. Only present while a session is running."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to a Vercel NamedSandbox."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSessionStatus": {
      "type": "enum",
      "members": {
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aborted"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "running"
          }
        },
        "SNAPSHOTTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "snapshotting"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopped"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stopping"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the sandbox."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyMode": {
      "type": "enum",
      "members": {
        "ALLOW_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allow-all"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "DENY_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deny-all"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The network policy mode. - 'allow-all': All traffic is allowed. - 'deny-all': All traffic is blocked. - 'custom': Traffic is controlled by explicit allow/deny rules."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyAllowedDomainsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of domain names the sandbox is allowed to connect to. Supports wildcard patterns (e.g., \"*.vercel.com\" matches all subdomains)."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyAllowedCIDRsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of IP address ranges (in CIDR notation) the sandbox is allowed to connect to."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyDeniedCIDRsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "List of IP address ranges (in CIDR notation) the sandbox is blocked from connecting to. These rules take precedence over all allowed rules."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyInjectionRulesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "HTTP header injection rules for outgoing requests matching specific domains."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyMode",
          "traits": {
            "smithy.api#documentation": "The network policy mode. - 'allow-all': All traffic is allowed. - 'deny-all': All traffic is blocked. - 'custom': Traffic is controlled by explicit allow/deny rules.",
            "smithy.api#required": {}
          }
        },
        "allowedDomains": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyAllowedDomainsList",
          "traits": {
            "smithy.api#documentation": "List of domain names the sandbox is allowed to connect to. Supports wildcard patterns (e.g., \"*.vercel.com\" matches all subdomains)."
          }
        },
        "allowedCIDRs": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyAllowedCIDRsList",
          "traits": {
            "smithy.api#documentation": "List of IP address ranges (in CIDR notation) the sandbox is allowed to connect to."
          }
        },
        "deniedCIDRs": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyDeniedCIDRsList",
          "traits": {
            "smithy.api#documentation": "List of IP address ranges (in CIDR notation) the sandbox is blocked from connecting to. These rules take precedence over all allowed rules."
          }
        },
        "injectionRules": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicyInjectionRulesList",
          "traits": {
            "smithy.api#documentation": "HTTP header injection rules for outgoing requests matching specific domains."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The network policy applied to this sandbox, if any."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkTransfer": {
      "type": "structure",
      "members": {
        "ingress": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "egress": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The quantity of data transfered to and from the sandbox, in bytes. This value is only available once the sandbox is stopped, and only if it stopped successfully."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseSession": {
      "type": "structure",
      "members": {
        "sourceSandboxName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the source sandbox.",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the project associated with this session.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the sandbox.",
            "smithy.api#required": {}
          }
        },
        "memory": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory allocated to this sandbox in MB.",
            "smithy.api#required": {}
          }
        },
        "vcpus": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of vCPUs allocated to this sandbox.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the sandbox is hosted.",
            "smithy.api#required": {}
          }
        },
        "runtime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The runtime of the sandbox.",
            "smithy.api#required": {}
          }
        },
        "timeout": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum amount of time the sandbox will run for in milliseconds.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSessionStatus",
          "traits": {
            "smithy.api#documentation": "The status of the sandbox.",
            "smithy.api#required": {}
          }
        },
        "requestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the sandbox was requested, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the sandbox was started, in milliseconds since the epoch."
          }
        },
        "cwd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The working directory of the sandbox.",
            "smithy.api#required": {}
          }
        },
        "requestedStopAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the sandbox was requested to stop, in milliseconds since the epoch."
          }
        },
        "stoppedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the sandbox was stopped, in milliseconds since the epoch."
          }
        },
        "abortedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the sandbox was aborted, in milliseconds since the epoch."
          }
        },
        "duration": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The duration of the sandbox in milliseconds."
          }
        },
        "sourceSnapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the snapshot associated with this sandbox, if any."
          }
        },
        "snapshottedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when a snapshot was requested, in milliseconds since the epoch."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the sandbox was created, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The last time the sandbox was updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "networkPolicy": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkPolicy",
          "traits": {
            "smithy.api#documentation": "The network policy applied to this sandbox, if any."
          }
        },
        "activeCpuDurationMs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of CPU time the sandbox consumed, if available, in milliseconds. This value is only available once the sandbox is stopped, and only if it stopped successfully."
          }
        },
        "networkTransfer": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSessionNetworkTransfer",
          "traits": {
            "smithy.api#documentation": "The quantity of data transfered to and from the sandbox, in bytes. This value is only available once the sandbox is stopped, and only if it stopped successfully."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to a Vercel Sandbox Session. v2 endpoints return \"session\" instead of \"sandbox\" as the response wrapper key."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseRoutesItem": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A public URL to access the corresponding port in the Sandbox.",
            "smithy.api#required": {}
          }
        },
        "port": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The user port number that the route is mapped to.",
            "smithy.api#required": {}
          }
        },
        "subdomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The subdomain assigned to this route.",
            "smithy.api#required": {}
          }
        },
        "system": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the route is reserved by the system (e.g. for internal use)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object represents a public route in a Vercel Sandbox."
      }
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponseRoutesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.sandboxes#CreateANamedSandboxResponseRoutesItem"
      },
      "traits": {}
    },
    "com.vercel.sandboxes#CreateANamedSandboxResponse": {
      "type": "structure",
      "members": {
        "sandbox": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSandbox",
          "traits": {
            "smithy.api#documentation": "This object contains information related to a Vercel NamedSandbox.",
            "smithy.api#required": {}
          }
        },
        "session": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseSession",
          "traits": {
            "smithy.api#documentation": "This object contains information related to a Vercel Sandbox Session. v2 endpoints return \"session\" instead of \"sandbox\" as the response wrapper key.",
            "smithy.api#required": {}
          }
        },
        "routes": {
          "target": "com.vercel.sandboxes#CreateANamedSandboxResponseRoutesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.sandboxes#CreateANamedSandbox": {
      "type": "operation",
      "input": {
        "target": "com.vercel.sandboxes#CreateANamedSandboxRequest"
      },
      "output": {
        "target": "com.vercel.sandboxes#CreateANamedSandboxResponse"
      },
      "errors": [
        {
          "target": "com.vercel.sandboxes#BadRequest"
        },
        {
          "target": "com.vercel.sandboxes#PaymentRequired"
        },
        {
          "target": "com.vercel.sandboxes#Forbidden"
        },
        {
          "target": "com.vercel.sandboxes#NotFound"
        },
        {
          "target": "com.vercel.sandboxes#Conflict"
        },
        {
          "target": "com.vercel.sandboxes#Gone"
        },
        {
          "target": "com.vercel.sandboxes#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/sandboxes",
          "code": 200
        },
        "smithy.api#documentation": "Create a named sandbox\n\nCreates a named sandbox environment. Named sandboxes have a unique name within a project and support automatic snapshotting on shutdown."
      }
    },
    "com.vercel.sandboxes#ListDrivesRequestSortBy": {
      "type": "enum",
      "members": {
        "CREATEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "createdAt"
          }
        },
        "UPDATEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updatedAt"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListDrivesRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListDrivesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#documentation": "The project ID or name associated with the drives. Required unless using a Vercel OIDC token scoped to a project."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of drives to return in the response. Used for pagination."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Opaque pagination cursor from a previous response."
          }
        },
        "sortBy": {
          "target": "com.vercel.sandboxes#ListDrivesRequestSortBy",
          "traits": {
            "smithy.api#httpQuery": "sortBy",
            "smithy.api#documentation": "Field to sort drives by."
          }
        },
        "namePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "namePrefix",
            "smithy.api#documentation": "Filter drives whose name starts with this prefix. Only valid when sortBy=name."
          }
        },
        "sortOrder": {
          "target": "com.vercel.sandboxes#ListDrivesRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Sort direction for results."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.sandboxes#ListDrivesResponseDrivesItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique drive name within the project.",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project that owns the drive.",
            "smithy.api#required": {}
          }
        },
        "maxSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum drive size in bytes.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the drive is stored.",
            "smithy.api#required": {}
          }
        },
        "currentSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current session ID the drive is attached to, if any."
          }
        },
        "currentSandboxName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current sandbox name the drive is attached to, if any."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the drive was created, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The last time the drive was updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to a Vercel Sandbox Drive."
      }
    },
    "com.vercel.sandboxes#ListDrivesResponseDrivesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.sandboxes#ListDrivesResponseDrivesItem"
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListDrivesResponsePagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListDrivesResponse": {
      "type": "structure",
      "members": {
        "drives": {
          "target": "com.vercel.sandboxes#ListDrivesResponseDrivesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.sandboxes#ListDrivesResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.sandboxes#ListDrives": {
      "type": "operation",
      "input": {
        "target": "com.vercel.sandboxes#ListDrivesRequest"
      },
      "output": {
        "target": "com.vercel.sandboxes#ListDrivesResponse"
      },
      "errors": [
        {
          "target": "com.vercel.sandboxes#BadRequest"
        },
        {
          "target": "com.vercel.sandboxes#Forbidden"
        },
        {
          "target": "com.vercel.sandboxes#NotFound"
        },
        {
          "target": "com.vercel.sandboxes#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/sandboxes/drives",
          "code": 200
        },
        "smithy.api#documentation": "List drives\n\nRetrieves a paginated list of drives belonging to a specific project. Drives are in private beta. Register your interest to get access: https://vercel.com/changelog/drives-for-vercel-sandbox-in-private-beta",
        "smithy.api#paginated": {
          "mode": "cursor",
          "inputToken": "cursor",
          "outputToken": "pagination.next",
          "items": "drives"
        }
      }
    },
    "com.vercel.sandboxes#GetOrCreateADriveRequestRegion": {
      "type": "enum",
      "members": {
        "IAD1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iad1"
          }
        },
        "SFO1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sfo1"
          }
        },
        "CLE1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cle1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Region where the drive is stored. Defaults to iad1."
      }
    },
    "com.vercel.sandboxes#GetOrCreateADriveRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name for the drive. Must be unique per project and URL-safe (alphanumeric, hyphens, underscores)."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project ID or name to associate the drive with. Required unless using a Vercel OIDC token scoped to a project."
          }
        },
        "maxSizeBytes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum drive size in bytes. Defaults to 100 GiB when omitted."
          }
        },
        "region": {
          "target": "com.vercel.sandboxes#GetOrCreateADriveRequestRegion",
          "traits": {
            "smithy.api#documentation": "Region where the drive is stored. Defaults to iad1."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.sandboxes#GetOrCreateADriveResponseDrive": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique drive name within the project.",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project that owns the drive.",
            "smithy.api#required": {}
          }
        },
        "maxSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum drive size in bytes.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the drive is stored.",
            "smithy.api#required": {}
          }
        },
        "currentSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current session ID the drive is attached to, if any."
          }
        },
        "currentSandboxName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current sandbox name the drive is attached to, if any."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the drive was created, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The last time the drive was updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to a Vercel Sandbox Drive."
      }
    },
    "com.vercel.sandboxes#GetOrCreateADriveResponse": {
      "type": "structure",
      "members": {
        "drive": {
          "target": "com.vercel.sandboxes#GetOrCreateADriveResponseDrive",
          "traits": {
            "smithy.api#documentation": "This object contains information related to a Vercel Sandbox Drive.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.sandboxes#GetOrCreateADrive": {
      "type": "operation",
      "input": {
        "target": "com.vercel.sandboxes#GetOrCreateADriveRequest"
      },
      "output": {
        "target": "com.vercel.sandboxes#GetOrCreateADriveResponse"
      },
      "errors": [
        {
          "target": "com.vercel.sandboxes#BadRequest"
        },
        {
          "target": "com.vercel.sandboxes#PaymentRequired"
        },
        {
          "target": "com.vercel.sandboxes#Forbidden"
        },
        {
          "target": "com.vercel.sandboxes#NotFound"
        },
        {
          "target": "com.vercel.sandboxes#Conflict"
        },
        {
          "target": "com.vercel.sandboxes#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/sandboxes/drives/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Get or create a drive\n\nGets an existing drive by project and name, or creates it when it does not exist. Drives are in private beta. Register your interest to get access: https://vercel.com/changelog/drives-for-vercel-sandbox-in-private-beta"
      }
    },
    "com.vercel.sandboxes#DeleteADriveRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Name for the drive. Must be unique per project and URL-safe (alphanumeric, hyphens, underscores)."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectId",
            "smithy.api#documentation": "The project ID or name associated with the drive. Required unless using a Vercel OIDC token scoped to a project."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.sandboxes#DeleteADriveResponseDrive": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique drive name within the project.",
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project that owns the drive.",
            "smithy.api#required": {}
          }
        },
        "maxSizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum drive size in bytes.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the drive is stored.",
            "smithy.api#required": {}
          }
        },
        "currentSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current session ID the drive is attached to, if any."
          }
        },
        "currentSandboxName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current sandbox name the drive is attached to, if any."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the drive was created, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The last time the drive was updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to a Vercel Sandbox Drive."
      }
    },
    "com.vercel.sandboxes#DeleteADriveResponse": {
      "type": "structure",
      "members": {
        "drive": {
          "target": "com.vercel.sandboxes#DeleteADriveResponseDrive",
          "traits": {
            "smithy.api#documentation": "This object contains information related to a Vercel Sandbox Drive.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.sandboxes#DeleteADrive": {
      "type": "operation",
      "input": {
        "target": "com.vercel.sandboxes#DeleteADriveRequest"
      },
      "output": {
        "target": "com.vercel.sandboxes#DeleteADriveResponse"
      },
      "errors": [
        {
          "target": "com.vercel.sandboxes#BadRequest"
        },
        {
          "target": "com.vercel.sandboxes#Forbidden"
        },
        {
          "target": "com.vercel.sandboxes#NotFound"
        },
        {
          "target": "com.vercel.sandboxes#Conflict"
        },
        {
          "target": "com.vercel.sandboxes#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/sandboxes/drives/{name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a drive\n\nDeletes a drive by project and name. Attached drives cannot be deleted. Stop or replace the session currently using the drive before retrying deletion. Drives are in private beta. Register your interest to get access: https://vercel.com/changelog/drives-for-vercel-sandbox-in-private-beta"
      }
    },
    "com.vercel.sandboxes#ListSnapshotsRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSnapshotsRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#documentation": "The unique identifier or name of the project to list snapshots for."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Name for the sandbox. Must be unique per project and URL-safe (alphanumeric, hyphens, underscores)."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of snapshots to return in the response. Used for pagination."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor",
            "smithy.api#documentation": "Opaque pagination cursor from a previous response."
          }
        },
        "sortOrder": {
          "target": "com.vercel.sandboxes#ListSnapshotsRequestSortOrder",
          "traits": {
            "smithy.api#httpQuery": "sortOrder",
            "smithy.api#documentation": "Sort direction for results by creation time."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.sandboxes#ListSnapshotsResponseBodyCase1SnapshotsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSnapshotsResponseBodyCase1Pagination": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSnapshotsResponseBodyCase1": {
      "type": "structure",
      "members": {
        "snapshots": {
          "target": "com.vercel.sandboxes#ListSnapshotsResponseBodyCase1SnapshotsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pagination": {
          "target": "com.vercel.sandboxes#ListSnapshotsResponseBodyCase1Pagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSnapshotsResponseBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Document"
        },
        "Case1": {
          "target": "com.vercel.sandboxes#ListSnapshotsResponseBodyCase1"
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSnapshotsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.vercel.sandboxes#ListSnapshotsResponseBody",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.sandboxes#ListSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.vercel.sandboxes#ListSnapshotsRequest"
      },
      "output": {
        "target": "com.vercel.sandboxes#ListSnapshotsResponse"
      },
      "errors": [
        {
          "target": "com.vercel.sandboxes#BadRequest"
        },
        {
          "target": "com.vercel.sandboxes#Forbidden"
        },
        {
          "target": "com.vercel.sandboxes#NotFound"
        },
        {
          "target": "com.vercel.sandboxes#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/sandboxes/snapshots",
          "code": 200
        },
        "smithy.api#documentation": "List snapshots\n\nRetrieves a paginated list of snapshots for a specific project."
      }
    },
    "com.vercel.sandboxes#GetASnapshotRequest": {
      "type": "structure",
      "members": {
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the snapshot to retrieve."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.sandboxes#GetASnapshotResponseSnapshotStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the snapshot."
      }
    },
    "com.vercel.sandboxes#GetASnapshotResponseSnapshotCreationMethod": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The method used to create the snapshot."
      }
    },
    "com.vercel.sandboxes#GetASnapshotResponseSnapshot": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the snapshot.",
            "smithy.api#required": {}
          }
        },
        "sourceSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the session from which the snapshot was created.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the snapshot is stored."
          }
        },
        "status": {
          "target": "com.vercel.sandboxes#GetASnapshotResponseSnapshotStatus",
          "traits": {
            "smithy.api#documentation": "The status of the snapshot.",
            "smithy.api#required": {}
          }
        },
        "sizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the snapshot in bytes.",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the snapshot will expire, in milliseconds since the epoch. If not set, the snapshot does not have any expiration."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the snapshot was created, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The last time the snapshot was updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The last time the snapshot was used (e.g. to resume or create a sandbox), in milliseconds since the epoch. Falls back to `createdAt` for older snapshots that predate this field.",
            "smithy.api#required": {}
          }
        },
        "creationMethod": {
          "target": "com.vercel.sandboxes#GetASnapshotResponseSnapshotCreationMethod",
          "traits": {
            "smithy.api#documentation": "The method used to create the snapshot."
          }
        },
        "parentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the parent snapshot, if this snapshot was created from another snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to a Snapshot of a Vercel Sandbox session (v2 API)."
      }
    },
    "com.vercel.sandboxes#GetASnapshotResponse": {
      "type": "structure",
      "members": {
        "snapshot": {
          "target": "com.vercel.sandboxes#GetASnapshotResponseSnapshot",
          "traits": {
            "smithy.api#documentation": "This object contains information related to a Snapshot of a Vercel Sandbox session (v2 API).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.sandboxes#GetASnapshot": {
      "type": "operation",
      "input": {
        "target": "com.vercel.sandboxes#GetASnapshotRequest"
      },
      "output": {
        "target": "com.vercel.sandboxes#GetASnapshotResponse"
      },
      "errors": [
        {
          "target": "com.vercel.sandboxes#BadRequest"
        },
        {
          "target": "com.vercel.sandboxes#Forbidden"
        },
        {
          "target": "com.vercel.sandboxes#NotFound"
        },
        {
          "target": "com.vercel.sandboxes#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/sandboxes/snapshots/{snapshotId}",
          "code": 200
        },
        "smithy.api#documentation": "Get a snapshot\n\nRetrieves detailed information about a specific snapshot, including its creation time, size, expiration date, and the source session it was created from."
      }
    },
    "com.vercel.sandboxes#DeleteASnapshotRequest": {
      "type": "structure",
      "members": {
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the snapshot to delete."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.sandboxes#DeleteASnapshotResponseSnapshotStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the snapshot."
      }
    },
    "com.vercel.sandboxes#DeleteASnapshotResponseSnapshotCreationMethod": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automatic"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The method used to create the snapshot."
      }
    },
    "com.vercel.sandboxes#DeleteASnapshotResponseSnapshot": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the snapshot.",
            "smithy.api#required": {}
          }
        },
        "sourceSessionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the session from which the snapshot was created.",
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The region where the snapshot is stored."
          }
        },
        "status": {
          "target": "com.vercel.sandboxes#DeleteASnapshotResponseSnapshotStatus",
          "traits": {
            "smithy.api#documentation": "The status of the snapshot.",
            "smithy.api#required": {}
          }
        },
        "sizeBytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The size of the snapshot in bytes.",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the snapshot will expire, in milliseconds since the epoch. If not set, the snapshot does not have any expiration."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The time when the snapshot was created, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The last time the snapshot was updated, in milliseconds since the epoch.",
            "smithy.api#required": {}
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The last time the snapshot was used (e.g. to resume or create a sandbox), in milliseconds since the epoch. Falls back to `createdAt` for older snapshots that predate this field.",
            "smithy.api#required": {}
          }
        },
        "creationMethod": {
          "target": "com.vercel.sandboxes#DeleteASnapshotResponseSnapshotCreationMethod",
          "traits": {
            "smithy.api#documentation": "The method used to create the snapshot."
          }
        },
        "parentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the parent snapshot, if this snapshot was created from another snapshot."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This object contains information related to a Snapshot of a Vercel Sandbox session (v2 API)."
      }
    },
    "com.vercel.sandboxes#DeleteASnapshotResponse": {
      "type": "structure",
      "members": {
        "snapshot": {
          "target": "com.vercel.sandboxes#DeleteASnapshotResponseSnapshot",
          "traits": {
            "smithy.api#documentation": "This object contains information related to a Snapshot of a Vercel Sandbox session (v2 API).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.sandboxes#DeleteASnapshot": {
      "type": "operation",
      "input": {
        "target": "com.vercel.sandboxes#DeleteASnapshotRequest"
      },
      "output": {
        "target": "com.vercel.sandboxes#DeleteASnapshotResponse"
      },
      "errors": [
        {
          "target": "com.vercel.sandboxes#BadRequest"
        },
        {
          "target": "com.vercel.sandboxes#Forbidden"
        },
        {
          "target": "com.vercel.sandboxes#NotFound"
        },
        {
          "target": "com.vercel.sandboxes#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v2/sandboxes/snapshots/{snapshotId}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a snapshot\n\nPermanently deletes a snapshot and frees its associated storage. This action cannot be undone. After deletion, the snapshot can no longer be used to create new sessions."
      }
    },
    "com.vercel.sandboxes#ListSessionsRequestSortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.sandboxes#ListSessionsRequest": {
      "type": "structure",
      "members": {
        "project": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "project",
            "smithy.api#documentation": "The unique identifier or name of the project to list sessions for."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "name",
            "smithy.api#documentation": "Filter sessions by sandbox name. Only sessions belonging to the specified sandbox are returned."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of sessions to return in the response. Used for pagination."
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
[...]
