{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.storage#GetAStoreRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "skip_metadata": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "skip-metadata"
          }
        },
        "include_guides": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include-guides"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.storage#GetAStoreResponseStoreProjectsMetadataList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.storage#GetAStoreResponseStoreProjectFilter": {
      "type": "structure",
      "members": {
        "git": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.storage#GetAStoreResponseStoreStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "LIMITS_EXCEEDED_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limits-exceeded-suspended"
          }
        },
        "LIMITS_EXCEEDED_SUSPENDED_STORE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limits-exceeded-suspended-store-count"
          }
        },
        "ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onboarding"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "UNINSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uninstalled"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.storage#GetAStoreResponseStore": {
      "type": "structure",
      "members": {
        "projectsMetadata": {
          "target": "com.vercel.storage#GetAStoreResponseStoreProjectsMetadataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectFilter": {
          "target": "com.vercel.storage#GetAStoreResponseStoreProjectFilter"
        },
        "totalConnectedProjects": {
          "target": "smithy.api#Double"
        },
        "usageQuotaExceeded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.storage#GetAStoreResponseStoreStatus",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.storage#GetAStoreResponse": {
      "type": "structure",
      "members": {
        "store": {
          "target": "com.vercel.storage#GetAStoreResponseStore",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.storage#GetAStore": {
      "type": "operation",
      "input": {
        "target": "com.vercel.storage#GetAStoreRequest"
      },
      "output": {
        "target": "com.vercel.storage#GetAStoreResponse"
      },
      "errors": [
        {
          "target": "com.vercel.storage#BadRequest"
        },
        {
          "target": "com.vercel.storage#Forbidden"
        },
        {
          "target": "com.vercel.storage#NotFound"
        },
        {
          "target": "com.vercel.storage#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/storage/stores/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Get a store"
      }
    },
    "com.vercel.storage#CreateABlobStoreRequestRegion": {
      "type": "enum",
      "members": {
        "ARN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arn1"
          }
        },
        "BOM1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bom1"
          }
        },
        "CDG1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdg1"
          }
        },
        "CLE1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cle1"
          }
        },
        "CPT1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpt1"
          }
        },
        "DUB1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dub1"
          }
        },
        "DXB1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dxb1"
          }
        },
        "FRA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fra1"
          }
        },
        "GRU1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gru1"
          }
        },
        "HKG1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hkg1"
          }
        },
        "HND1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hnd1"
          }
        },
        "IAD1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iad1"
          }
        },
        "ICN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icn1"
          }
        },
        "KIX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kix1"
          }
        },
        "LHR1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lhr1"
          }
        },
        "PDX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pdx1"
          }
        },
        "SFO1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sfo1"
          }
        },
        "SIN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sin1"
          }
        },
        "SYD1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd1"
          }
        },
        "YUL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yul1"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.storage#CreateABlobStoreRequestAccess": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.storage#CreateABlobStoreRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.vercel.storage#CreateABlobStoreRequestRegion"
        },
        "access": {
          "target": "com.vercel.storage#CreateABlobStoreRequestAccess"
        },
        "projectId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.storage#CreateABlobStoreResponseStoreProjectsMetadataList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.storage#CreateABlobStoreResponseStoreProjectFilter": {
      "type": "structure",
      "members": {
        "git": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.vercel.storage#CreateABlobStoreResponseStoreStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "error"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "initializing"
          }
        },
        "LIMITS_EXCEEDED_SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limits-exceeded-suspended"
          }
        },
        "LIMITS_EXCEEDED_SUSPENDED_STORE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limits-exceeded-suspended-store-count"
          }
        },
        "ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "onboarding"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        },
        "UNINSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uninstalled"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.storage#CreateABlobStoreResponseStoreAccess": {
      "type": "enum",
      "members": {
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.storage#CreateABlobStoreResponseStoreKind": {
      "type": "enum",
      "members": {
        "PROJECT_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-default"
          }
        },
        "USER_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user-created"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A project-default store is a private blob store that is lazily created per-project, uses OIDC auth instead of read-write tokens, and cannot be modified through standard store mutation APIs. Undefined for legacy stores."
      }
    },
    "com.vercel.storage#CreateABlobStoreResponseStoreRegion": {
      "type": "enum",
      "members": {
        "ARN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arn1"
          }
        },
        "BOM1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bom1"
          }
        },
        "CDG1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cdg1"
          }
        },
        "CLE1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cle1"
          }
        },
        "CPT1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cpt1"
          }
        },
        "DUB1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dub1"
          }
        },
        "DXB1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dxb1"
          }
        },
        "FRA1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fra1"
          }
        },
        "GRU1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gru1"
          }
        },
        "HKG1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hkg1"
          }
        },
        "HND1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hnd1"
          }
        },
        "IAD1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iad1"
          }
        },
        "ICN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "icn1"
          }
        },
        "KIX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kix1"
          }
        },
        "LHR1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lhr1"
          }
        },
        "PDX1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pdx1"
          }
        },
        "SFO1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sfo1"
          }
        },
        "SIN1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sin1"
          }
        },
        "SYD1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "syd1"
          }
        },
        "YUL1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yul1"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.storage#CreateABlobStoreResponseStore": {
      "type": "structure",
      "members": {
        "projectsMetadata": {
          "target": "com.vercel.storage#CreateABlobStoreResponseStoreProjectsMetadataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "projectFilter": {
          "target": "com.vercel.storage#CreateABlobStoreResponseStoreProjectFilter"
        },
        "totalConnectedProjects": {
          "target": "smithy.api#Double"
        },
        "usageQuotaExceeded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.vercel.storage#CreateABlobStoreResponseStoreStatus",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "access": {
          "target": "com.vercel.storage#CreateABlobStoreResponseStoreAccess"
        },
        "kind": {
          "target": "com.vercel.storage#CreateABlobStoreResponseStoreKind",
          "traits": {
            "smithy.api#documentation": "A project-default store is a private blob store that is lazily created per-project, uses OIDC auth instead of read-write tokens, and cannot be modified through standard store mutation APIs. Undefined for legacy stores."
          }
        },
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The project this store is scoped to. Set for project-default stores and user-created stores with enforced project association."
          }
        },
        "size": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "region": {
          "target": "com.vercel.storage#CreateABlobStoreResponseStoreRegion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isTokenExpired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.storage#CreateABlobStoreResponse": {
      "type": "structure",
      "members": {
        "store": {
          "target": "com.vercel.storage#CreateABlobStoreResponseStore",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.storage#CreateABlobStore": {
      "type": "operation",
      "input": {
        "target": "com.vercel.storage#CreateABlobStoreRequest"
      },
      "output": {
        "target": "com.vercel.storage#CreateABlobStoreResponse"
      },
      "errors": [
        {
          "target": "com.vercel.storage#BadRequest"
        },
        {
          "target": "com.vercel.storage#PaymentRequired"
        },
        {
          "target": "com.vercel.storage#Forbidden"
        },
        {
          "target": "com.vercel.storage#NotFound"
        },
        {
          "target": "com.vercel.storage#Conflict"
        },
        {
          "target": "com.vercel.storage#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/storage/stores/blob",
          "code": 200
        },
        "smithy.api#documentation": "Create a Blob store"
      }
    },
    "com.vercel.storage#DeleteABlobStoreRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.storage#DeleteABlobStoreResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.storage#DeleteABlobStore": {
      "type": "operation",
      "input": {
        "target": "com.vercel.storage#DeleteABlobStoreRequest"
      },
      "output": {
        "target": "com.vercel.storage#DeleteABlobStoreResponse"
      },
      "errors": [
        {
          "target": "com.vercel.storage#BadRequest"
        },
        {
          "target": "com.vercel.storage#Forbidden"
        },
        {
          "target": "com.vercel.storage#NotFound"
        },
        {
          "target": "com.vercel.storage#Conflict"
        },
        {
          "target": "com.vercel.storage#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/storage/stores/blob/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Blob store"
      }
    },
    "com.vercel.storage#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.vercel.storage#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.vercel.storage#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.vercel.storage#Gone": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 410,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 410
          }
        ]
      }
    },
    "com.vercel.storage#PaymentRequired": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 402,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 402
          }
        ]
      }
    },
    "com.vercel.storage#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.vercel.storage#Storage": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.vercel.storage#GetAStore"
        },
        {
          "target": "com.vercel.storage#CreateABlobStore"
        },
        {
          "target": "com.vercel.storage#DeleteABlobStore"
        }
      ],
      "traits": {
        "smithy.api#title": "Vercel storage",
        "smithy.api#documentation": "Generated by scripts/docs-to-openapi.ts from the Vercel REST API documentation mirrored in specs/. Do not edit — regenerate, or add an RFC-6902 patch under patches/storage/."
      }
    }
  }
}
