{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.teams#ListTeamMembersRequestRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Limit how many teams should be returned"
          }
        },
        "since": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Timestamp in milliseconds to only include members added since then."
          }
        },
        "until": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Timestamp in milliseconds to only include members added until then."
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search",
            "smithy.api#documentation": "Search team members by their name, username, and email."
          }
        },
        "role": {
          "target": "com.vercel.teams#ListTeamMembersRequestRole",
          "traits": {
            "smithy.api#httpQuery": "role",
            "smithy.api#documentation": "Only return members with the specified team role."
          }
        },
        "excludeProject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "excludeProject",
            "smithy.api#documentation": "Exclude members who belong to the specified project."
          }
        },
        "eligibleMembersForProjectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "eligibleMembersForProjectId",
            "smithy.api#documentation": "Include team members who are eligible to be members of the specified project."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#ListTeamMembersResponseMembersItemRole": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Role of this user in the team."
      }
    },
    "com.vercel.teams#ListTeamMembersResponseMembersItemProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Array of project memberships"
      }
    },
    "com.vercel.teams#ListTeamMembersResponseMembersItem": {
      "type": "structure",
      "members": {
        "avatar": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the file for the Avatar of this member."
          }
        },
        "confirmed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Boolean that indicates if this member was confirmed by an owner.",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of this member.",
            "smithy.api#required": {}
          }
        },
        "github": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Information about the GitHub account for this user."
          }
        },
        "gitlab": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Information about the GitLab account of this user."
          }
        },
        "bitbucket": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Information about the Bitbucket account of this user."
          }
        },
        "role": {
          "target": "com.vercel.teams#ListTeamMembersResponseMembersItemRole",
          "traits": {
            "smithy.api#documentation": "Role of this user in the team.",
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of this user.",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique username of this user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of this user."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when this member was added.",
            "smithy.api#required": {}
          }
        },
        "accessRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds for when this team member was accepted by an owner."
          }
        },
        "joinedFrom": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Map with information about the members origin if they joined by requesting access."
          }
        },
        "projects": {
          "target": "com.vercel.teams#ListTeamMembersResponseMembersItemProjectsList",
          "traits": {
            "smithy.api#documentation": "Array of project memberships"
          }
        },
        "isEnterpriseManaged": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether the user is managed by an enterprise."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponseMembersList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#ListTeamMembersResponseMembersItem"
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemAccessGroupsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemRole": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemTeamRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemEntitlementsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItem": {
      "type": "structure",
      "members": {
        "accessGroups": {
          "target": "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemAccessGroupsList"
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String"
        },
        "role": {
          "target": "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemRole"
        },
        "teamRoles": {
          "target": "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemTeamRolesList"
        },
        "teamPermissions": {
          "target": "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemTeamPermissionsList"
        },
        "isDSyncUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "expired": {
          "target": "smithy.api#Boolean"
        },
        "projects": {
          "target": "smithy.api#Document"
        },
        "entitlements": {
          "target": "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItemEntitlementsList"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesItem"
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponsePagination": {
      "type": "structure",
      "members": {
        "hasNext": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Amount of items in the current page.",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the next page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "prev": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp that must be used to request the previous page.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#ListTeamMembersResponse": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.vercel.teams#ListTeamMembersResponseMembersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "emailInviteCodes": {
          "target": "com.vercel.teams#ListTeamMembersResponseEmailInviteCodesList"
        },
        "pagination": {
          "target": "com.vercel.teams#ListTeamMembersResponsePagination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#ListTeamMembers": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#ListTeamMembersRequest"
      },
      "output": {
        "target": "com.vercel.teams#ListTeamMembersResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        },
        {
          "target": "com.vercel.teams#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v3/teams/{teamId}/members",
          "code": 200
        },
        "smithy.api#documentation": "List team members\n\nGet a paginated list of team members for the provided team."
      }
    },
    "com.vercel.teams#InviteAUserRequestBodyItemRole": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role of the user to invite"
      }
    },
    "com.vercel.teams#InviteAUserRequestBodyItemProjectsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.teams#InviteAUserRequestBodyItem": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the user to invite",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.teams#InviteAUserRequestBodyItemRole",
          "traits": {
            "smithy.api#documentation": "The role of the user to invite"
          }
        },
        "projects": {
          "target": "com.vercel.teams#InviteAUserRequestBodyItemProjectsList"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#InviteAUserRequestBodyList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#InviteAUserRequestBodyItem"
      },
      "traits": {}
    },
    "com.vercel.teams#InviteAUserRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        },
        "body": {
          "target": "com.vercel.teams#InviteAUserRequestBodyList",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#InviteAUserResponseRole": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The role used for the invitation"
      }
    },
    "com.vercel.teams#InviteAUserResponseTeamRolesItem": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team roles of the user"
      }
    },
    "com.vercel.teams#InviteAUserResponseTeamRolesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#InviteAUserResponseTeamRolesItem"
      },
      "traits": {
        "smithy.api#documentation": "The team roles of the user"
      }
    },
    "com.vercel.teams#InviteAUserResponseTeamPermissionsItem": {
      "type": "enum",
      "members": {
        "AIGATEWAYAPIKEYOWNEDBYSELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayApiKeyOwnedBySelf"
          }
        },
        "AIGATEWAYBUDGETMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayBudgetManager"
          }
        },
        "AIGATEWAYCREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayCredits"
          }
        },
        "AIGATEWAYSETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewaySettings"
          }
        },
        "CONNECTORMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectorManager"
          }
        },
        "CREATEPROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateProject"
          }
        },
        "ENVVARIABLEMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvVariableManager"
          }
        },
        "ENVIRONMENTMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvironmentManager"
          }
        },
        "FULLPRODUCTIONDEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullProductionDeployment"
          }
        },
        "INTEGRATIONMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntegrationManager"
          }
        },
        "ORGADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgAdmin"
          }
        },
        "ORGVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgViewer"
          }
        },
        "USAGEVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsageViewer"
          }
        },
        "V0BUILDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Builder"
          }
        },
        "V0CHATTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Chatter"
          }
        },
        "V0VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Viewer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team permissions of the user"
      }
    },
    "com.vercel.teams#InviteAUserResponseTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#InviteAUserResponseTeamPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The team permissions of the user"
      }
    },
    "com.vercel.teams#InviteAUserResponse": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the invited user",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the invited user",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the invited user.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.teams#InviteAUserResponseRole",
          "traits": {
            "smithy.api#documentation": "The role used for the invitation",
            "smithy.api#required": {}
          }
        },
        "teamRoles": {
          "target": "com.vercel.teams#InviteAUserResponseTeamRolesList",
          "traits": {
            "smithy.api#documentation": "The team roles of the user"
          }
        },
        "teamPermissions": {
          "target": "com.vercel.teams#InviteAUserResponseTeamPermissionsList",
          "traits": {
            "smithy.api#documentation": "The team permissions of the user"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#InviteAUser": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#InviteAUserRequest"
      },
      "output": {
        "target": "com.vercel.teams#InviteAUserResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/teams/{teamId}/members",
          "code": 200
        },
        "smithy.api#documentation": "Invite a user\n\nInvite a user to join the team specified in the URL. The authenticated user needs to be an `OWNER` in order to successfully invoke this endpoint. The user to be invited must be specified by email."
      }
    },
    "com.vercel.teams#RequestAccessToATeamRequestJoinedFromOrigin": {
      "type": "enum",
      "members": {
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "FEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feedback"
          }
        },
        "ORGANIZATION_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-teams"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The origin of the request."
      }
    },
    "com.vercel.teams#RequestAccessToATeamRequestJoinedFromGitUserId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "The ID of the Git account of the user who requests access."
      }
    },
    "com.vercel.teams#RequestAccessToATeamRequestJoinedFrom": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.vercel.teams#RequestAccessToATeamRequestJoinedFromOrigin",
          "traits": {
            "smithy.api#documentation": "The origin of the request.",
            "smithy.api#required": {}
          }
        },
        "commitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The commit sha if the origin is a git provider."
          }
        },
        "repoId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the repository for the given Git provider."
          }
        },
        "repoPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The path to the repository for the given Git provider."
          }
        },
        "gitUserId": {
          "target": "com.vercel.teams#RequestAccessToATeamRequestJoinedFromGitUserId",
          "traits": {
            "smithy.api#documentation": "The ID of the Git account of the user who requests access."
          }
        },
        "gitUserLogin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The login name for the Git account of the user who requests access."
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToATeamRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "joinedFrom": {
          "target": "com.vercel.teams#RequestAccessToATeamRequestJoinedFrom",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#RequestAccessToATeamResponseJoinedFromOrigin": {
      "type": "enum",
      "members": {
        "ACCOUNT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-update"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "DSYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dsync"
          }
        },
        "FEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feedback"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mail"
          }
        },
        "NSNB_AUTO_APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-auto-approve"
          }
        },
        "NSNB_HOBBY_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-hobby-upgrade"
          }
        },
        "NSNB_INVITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-invite"
          }
        },
        "NSNB_REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy"
          }
        },
        "NSNB_REDEPLOY_ATTRIBUTION_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy-attribution-card"
          }
        },
        "NSNB_REQUEST_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-request-access"
          }
        },
        "NSNB_VIEWER_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-viewer-upgrade"
          }
        },
        "ORGANIZATION_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-teams"
          }
        },
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saml"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToATeamResponseJoinedFromGitUserId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToATeamResponseJoinedFrom": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.vercel.teams#RequestAccessToATeamResponseJoinedFromOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitId": {
          "target": "smithy.api#String"
        },
        "repoId": {
          "target": "smithy.api#String"
        },
        "repoPath": {
          "target": "smithy.api#String"
        },
        "gitUserId": {
          "target": "com.vercel.teams#RequestAccessToATeamResponseJoinedFromGitUserId"
        },
        "gitUserLogin": {
          "target": "smithy.api#String"
        },
        "ssoUserId": {
          "target": "smithy.api#String"
        },
        "ssoConnectedAt": {
          "target": "smithy.api#Double"
        },
        "idpUserId": {
          "target": "smithy.api#String"
        },
        "dsyncUserId": {
          "target": "smithy.api#String"
        },
        "dsyncConnectedAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToATeamResponseGithub": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToATeamResponseGitlab": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToATeamResponseBitbucket": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#RequestAccessToATeamResponse": {
      "type": "structure",
      "members": {
        "teamSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "teamName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "confirmed": {
          "target": "smithy.api#Boolean"
        },
        "joinedFrom": {
          "target": "com.vercel.teams#RequestAccessToATeamResponseJoinedFrom"
        },
        "accessRequestedAt": {
          "target": "smithy.api#Double"
        },
        "github": {
          "target": "com.vercel.teams#RequestAccessToATeamResponseGithub",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitlab": {
          "target": "com.vercel.teams#RequestAccessToATeamResponseGitlab",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "bitbucket": {
          "target": "com.vercel.teams#RequestAccessToATeamResponseBitbucket",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#RequestAccessToATeam": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#RequestAccessToATeamRequest"
      },
      "output": {
        "target": "com.vercel.teams#RequestAccessToATeamResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        },
        {
          "target": "com.vercel.teams#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/teams/{teamId}/request",
          "code": 200
        },
        "smithy.api#documentation": "Request access to a team\n\nRequest access to a team as a member. An owner has to approve the request. Only 100 users can request access to a team at the same time."
      }
    },
    "com.vercel.teams#GetAccessRequestStatusRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#GetAccessRequestStatusResponseJoinedFromOrigin": {
      "type": "enum",
      "members": {
        "ACCOUNT_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account-update"
          }
        },
        "BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket"
          }
        },
        "DSYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dsync"
          }
        },
        "FEEDBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "feedback"
          }
        },
        "GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github"
          }
        },
        "GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "import"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "MAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mail"
          }
        },
        "NSNB_AUTO_APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-auto-approve"
          }
        },
        "NSNB_HOBBY_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-hobby-upgrade"
          }
        },
        "NSNB_INVITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-invite"
          }
        },
        "NSNB_REDEPLOY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy"
          }
        },
        "NSNB_REDEPLOY_ATTRIBUTION_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-redeploy-attribution-card"
          }
        },
        "NSNB_REQUEST_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-request-access"
          }
        },
        "NSNB_VIEWER_UPGRADE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nsnb-viewer-upgrade"
          }
        },
        "ORGANIZATION_TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-teams"
          }
        },
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saml"
          }
        },
        "TEAMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "teams"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetAccessRequestStatusResponseJoinedFromGitUserId": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#String"
        },
        "Case1": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetAccessRequestStatusResponseJoinedFrom": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "com.vercel.teams#GetAccessRequestStatusResponseJoinedFromOrigin",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "commitId": {
          "target": "smithy.api#String"
        },
        "repoId": {
          "target": "smithy.api#String"
        },
        "repoPath": {
          "target": "smithy.api#String"
        },
        "gitUserId": {
          "target": "com.vercel.teams#GetAccessRequestStatusResponseJoinedFromGitUserId"
        },
        "gitUserLogin": {
          "target": "smithy.api#String"
        },
        "ssoUserId": {
          "target": "smithy.api#String"
        },
        "ssoConnectedAt": {
          "target": "smithy.api#Double"
        },
        "idpUserId": {
          "target": "smithy.api#String"
        },
        "dsyncUserId": {
          "target": "smithy.api#String"
        },
        "dsyncConnectedAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "A map that describes the origin from where the user joined."
      }
    },
    "com.vercel.teams#GetAccessRequestStatusResponseGithub": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Map of the connected GitHub account."
      }
    },
    "com.vercel.teams#GetAccessRequestStatusResponseGitlab": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Map of the connected GitLab account."
      }
    },
    "com.vercel.teams#GetAccessRequestStatusResponseBitbucket": {
      "type": "structure",
      "members": {
        "login": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "Map of the connected Bitbucket account."
      }
    },
    "com.vercel.teams#GetAccessRequestStatusResponse": {
      "type": "structure",
      "members": {
        "teamSlug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the team.",
            "smithy.api#required": {}
          }
        },
        "teamName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the team.",
            "smithy.api#required": {}
          }
        },
        "confirmed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Current status of the membership. Will be `true` if confirmed, if pending it'll be `false`.",
            "smithy.api#required": {}
          }
        },
        "joinedFrom": {
          "target": "com.vercel.teams#GetAccessRequestStatusResponseJoinedFrom",
          "traits": {
            "smithy.api#documentation": "A map that describes the origin from where the user joined.",
            "smithy.api#required": {}
          }
        },
        "accessRequestedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp in milliseconds when the user requested access to the team.",
            "smithy.api#required": {}
          }
        },
        "github": {
          "target": "com.vercel.teams#GetAccessRequestStatusResponseGithub",
          "traits": {
            "smithy.api#documentation": "Map of the connected GitHub account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "gitlab": {
          "target": "com.vercel.teams#GetAccessRequestStatusResponseGitlab",
          "traits": {
            "smithy.api#documentation": "Map of the connected GitLab account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "bitbucket": {
          "target": "com.vercel.teams#GetAccessRequestStatusResponseBitbucket",
          "traits": {
            "smithy.api#documentation": "Map of the connected Bitbucket account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#GetAccessRequestStatus": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#GetAccessRequestStatusRequest"
      },
      "output": {
        "target": "com.vercel.teams#GetAccessRequestStatusResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        },
        {
          "target": "com.vercel.teams#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/teams/{teamId}/request/{userId}",
          "code": 200
        },
        "smithy.api#documentation": "Get access request status\n\nCheck the status of a join request. It'll respond with a 404 if the request has been declined. If no `userId` path segment was provided, this endpoint will instead return the status of the authenticated user."
      }
    },
    "com.vercel.teams#JoinATeamRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "inviteCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The invite code to join the team."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#JoinATeamResponse": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the team the user joined.",
            "smithy.api#required": {}
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The slug of the team the user joined.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the team the user joined.",
            "smithy.api#required": {}
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The origin of how the user joined.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#JoinATeam": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#JoinATeamRequest"
      },
      "output": {
        "target": "com.vercel.teams#JoinATeamResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#PaymentRequired"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        },
        {
          "target": "com.vercel.teams#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/teams/{teamId}/members/teams/join",
          "code": 200
        },
        "smithy.api#documentation": "Join a team\n\nJoin a team with a provided invite code or team ID."
      }
    },
    "com.vercel.teams#UpdateATeamMemberRequestTeamPermissionsItem": {
      "type": "enum",
      "members": {
        "CONNECTORMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectorManager"
          }
        },
        "INTEGRATIONMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntegrationManager"
          }
        },
        "CREATEPROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateProject"
          }
        },
        "FULLPRODUCTIONDEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullProductionDeployment"
          }
        },
        "USAGEVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsageViewer"
          }
        },
        "ENVVARIABLEMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvVariableManager"
          }
        },
        "ENVIRONMENTMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvironmentManager"
          }
        },
        "ORGADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgAdmin"
          }
        },
        "ORGVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgViewer"
          }
        },
        "AIGATEWAYSETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewaySettings"
          }
        },
        "AIGATEWAYCREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayCredits"
          }
        },
        "AIGATEWAYAPIKEYOWNEDBYSELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayApiKeyOwnedBySelf"
          }
        },
        "AIGATEWAYBUDGETMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayBudgetManager"
          }
        },
        "V0BUILDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Builder"
          }
        },
        "V0CHATTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Chatter"
          }
        },
        "V0VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Viewer"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#UpdateATeamMemberRequestTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#UpdateATeamMemberRequestTeamPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The team permissions to set for the member. Permissions must be compatible with the team roles assigned to the member."
      }
    },
    "com.vercel.teams#UpdateATeamMemberRequestProjectsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN"
          }
        },
        "PROJECT_VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_VIEWER"
          }
        },
        "PROJECT_DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECT_DEVELOPER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The project role of the member that will be added. \\\"null\\\" will remove this project level role."
      }
    },
    "com.vercel.teams#UpdateATeamMemberRequestProjectsItem": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the project.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.vercel.teams#UpdateATeamMemberRequestProjectsItemRole",
          "traits": {
            "smithy.api#documentation": "The project role of the member that will be added. \\\"null\\\" will remove this project level role.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#UpdateATeamMemberRequestProjectsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#UpdateATeamMemberRequestProjectsItem"
      },
      "traits": {}
    },
    "com.vercel.teams#UpdateATeamMemberRequestJoinedFrom": {
      "type": "structure",
      "members": {
        "ssoUserId": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#UpdateATeamMemberRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the member."
          }
        },
        "confirmed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Accept a user who requested access to the team."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The role in the team of the member."
          }
        },
        "teamPermissions": {
          "target": "com.vercel.teams#UpdateATeamMemberRequestTeamPermissionsList",
          "traits": {
            "smithy.api#documentation": "The team permissions to set for the member. Permissions must be compatible with the team roles assigned to the member."
          }
        },
        "projects": {
          "target": "com.vercel.teams#UpdateATeamMemberRequestProjectsList"
        },
        "joinedFrom": {
          "target": "com.vercel.teams#UpdateATeamMemberRequestJoinedFrom"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#UpdateATeamMemberResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the team.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#UpdateATeamMember": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#UpdateATeamMemberRequest"
      },
      "output": {
        "target": "com.vercel.teams#UpdateATeamMemberResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#PaymentRequired"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        },
        {
          "target": "com.vercel.teams#Conflict"
        },
        {
          "target": "com.vercel.teams#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/teams/{teamId}/members/{uid}",
          "code": 200
        },
        "smithy.api#documentation": "Update a Team Member\n\nUpdate the membership of a Team Member on the Team specified by `teamId`, such as changing the _role_ of the member, or confirming a request to join the Team for an unconfirmed member. The authenticated user must be an `OWNER` of the Team."
      }
    },
    "com.vercel.teams#RemoveATeamMemberRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user ID of the member."
          }
        },
        "newDefaultTeamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "newDefaultTeamId",
            "smithy.api#documentation": "The ID of the team to set as the new default team for the Northstar user."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#RemoveATeamMemberResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the team.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.vercel.teams#RemoveATeamMember": {
      "type": "operation",
      "input": {
        "target": "com.vercel.teams#RemoveATeamMemberRequest"
      },
      "output": {
        "target": "com.vercel.teams#RemoveATeamMemberResponse"
      },
      "errors": [
        {
          "target": "com.vercel.teams#BadRequest"
        },
        {
          "target": "com.vercel.teams#Forbidden"
        },
        {
          "target": "com.vercel.teams#NotFound"
        },
        {
          "target": "com.vercel.teams#Gone"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/teams/{teamId}/members/{uid}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a Team Member\n\nRemove a Team Member from the Team, or dismiss a user that requested access, or leave a team."
      }
    },
    "com.vercel.teams#GetATeamRequest": {
      "type": "structure",
      "members": {
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.teams#GetATeamResponseConnect": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseSamlConnectionSyncState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility."
      }
    },
    "com.vercel.teams#GetATeamResponseSamlConnection": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Identity Provider \"type\", for example Okta.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current state of the connection.",
            "smithy.api#required": {}
          }
        },
        "connectedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the configuration was connected.",
            "smithy.api#required": {}
          }
        },
        "lastReceivedWebhookEvent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the last webhook event was received from WorkOS."
          }
        },
        "lastSyncedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the last directory sync was performed."
          }
        },
        "syncState": {
          "target": "com.vercel.teams#GetATeamResponseSamlConnectionSyncState",
          "traits": {
            "smithy.api#documentation": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information for the SAML Single Sign-On configuration."
      }
    },
    "com.vercel.teams#GetATeamResponseSamlDirectorySyncState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility."
      }
    },
    "com.vercel.teams#GetATeamResponseSamlDirectory": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Identity Provider \"type\", for example Okta.",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Current state of the connection.",
            "smithy.api#required": {}
          }
        },
        "connectedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the configuration was connected.",
            "smithy.api#required": {}
          }
        },
        "lastReceivedWebhookEvent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the last webhook event was received from WorkOS."
          }
        },
        "lastSyncedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the last directory sync was performed."
          }
        },
        "syncState": {
          "target": "com.vercel.teams#GetATeamResponseSamlDirectorySyncState",
          "traits": {
            "smithy.api#documentation": "Controls whether directory sync events are processed. - 'SETUP': Directory connected but role mappings not yet configured. Events are acknowledged but not processed. - 'ACTIVE': Fully configured. Events are processed normally. - undefined: Legacy directory (pre-feature), treat as 'ACTIVE' for backwards compatibility."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information for the Directory Sync configuration."
      }
    },
    "com.vercel.teams#GetATeamResponseSamlDefaultRedirectUri": {
      "type": "enum",
      "members": {
        "V0_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0.app"
          }
        },
        "V0_DEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "v0.dev"
          }
        },
        "VERCEL_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vercel.com"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The default redirect URI to use after successful SAML authentication."
      }
    },
    "com.vercel.teams#GetATeamResponseSamlRolesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "When \"Directory Sync\" is configured, this object contains a mapping of which Directory Group (by ID) should be assigned to which Vercel Team \"role\"."
      }
    },
    "com.vercel.teams#GetATeamResponseSaml": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "com.vercel.teams#GetATeamResponseSamlConnection",
          "traits": {
            "smithy.api#documentation": "Information for the SAML Single Sign-On configuration."
          }
        },
        "directory": {
          "target": "com.vercel.teams#GetATeamResponseSamlDirectory",
          "traits": {
            "smithy.api#documentation": "Information for the Directory Sync configuration."
          }
        },
        "enforced": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When `true`, interactions with the Team **must** be done with an authentication token that has been authenticated with the Team's SAML Single Sign-On provider.",
            "smithy.api#required": {}
          }
        },
        "defaultRedirectUri": {
          "target": "com.vercel.teams#GetATeamResponseSamlDefaultRedirectUri",
          "traits": {
            "smithy.api#documentation": "The default redirect URI to use after successful SAML authentication."
          }
        },
        "roles": {
          "target": "com.vercel.teams#GetATeamResponseSamlRolesMap",
          "traits": {
            "smithy.api#documentation": "When \"Directory Sync\" is configured, this object contains a mapping of which Directory Group (by ID) should be assigned to which Vercel Team \"role\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When \"Single Sign-On (SAML)\" is configured, this object contains information regarding the configuration of the Identity Provider (IdP)."
      }
    },
    "com.vercel.teams#GetATeamResponseBillingPlan": {
      "type": "enum",
      "members": {
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        },
        "HOBBY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby"
          }
        },
        "PRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pro"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseBilling": {
      "type": "structure",
      "members": {
        "plan": {
          "target": "com.vercel.teams#GetATeamResponseBillingPlan",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The team's billing plan."
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultRolesTeamRolesItem": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseDefaultRolesTeamRolesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#GetATeamResponseDefaultRolesTeamRolesItem"
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseDefaultRolesTeamPermissionsItem": {
      "type": "enum",
      "members": {
        "AIGATEWAYAPIKEYOWNEDBYSELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayApiKeyOwnedBySelf"
          }
        },
        "AIGATEWAYBUDGETMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayBudgetManager"
          }
        },
        "AIGATEWAYCREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewayCredits"
          }
        },
        "AIGATEWAYSETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AiGatewaySettings"
          }
        },
        "CONNECTORMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectorManager"
          }
        },
        "CREATEPROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateProject"
          }
        },
        "ENVVARIABLEMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvVariableManager"
          }
        },
        "ENVIRONMENTMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnvironmentManager"
          }
        },
        "FULLPRODUCTIONDEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FullProductionDeployment"
          }
        },
        "INTEGRATIONMANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntegrationManager"
          }
        },
        "ORGADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgAdmin"
          }
        },
        "ORGVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OrgViewer"
          }
        },
        "USAGEVIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UsageViewer"
          }
        },
        "V0BUILDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Builder"
          }
        },
        "V0CHATTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Chatter"
          }
        },
        "V0VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "V0Viewer"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseDefaultRolesTeamPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#GetATeamResponseDefaultRolesTeamPermissionsItem"
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseDefaultRoles": {
      "type": "structure",
      "members": {
        "teamRoles": {
          "target": "com.vercel.teams#GetATeamResponseDefaultRolesTeamRolesList"
        },
        "teamPermissions": {
          "target": "com.vercel.teams#GetATeamResponseDefaultRolesTeamPermissionsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Default roles for the team."
      }
    },
    "com.vercel.teams#GetATeamResponseResourceConfigBuildEntitlements": {
      "type": "structure",
      "members": {
        "enhancedBuilds": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseResourceConfigBuildMachineDefault": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "basic"
          }
        },
        "ELASTIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elastic"
          }
        },
        "ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enhanced"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "TURBO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "turbo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default build machine type for new builds"
      }
    },
    "com.vercel.teams#GetATeamResponseResourceConfigBuildMachine": {
      "type": "structure",
      "members": {
        "default": {
          "target": "com.vercel.teams#GetATeamResponseResourceConfigBuildMachineDefault",
          "traits": {
            "smithy.api#documentation": "Default build machine type for new builds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Build machine configuration"
      }
    },
    "com.vercel.teams#GetATeamResponseResourceConfig": {
      "type": "structure",
      "members": {
        "concurrentBuilds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total amount of concurrent builds that can be used."
          }
        },
        "elasticConcurrencyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether every build for this team / user has elastic concurrency enabled automatically."
          }
        },
        "edgeConfigSize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum size in kilobytes of an Edge Config. Only specified if a custom limit is set."
          }
        },
        "edgeConfigs": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of edge configs an account can create."
          }
        },
        "kvDatabases": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of kv databases an account can create."
          }
        },
        "blobStores": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of blob stores an account can create."
          }
        },
        "postgresDatabases": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of postgres databases an account can create."
          }
        },
        "customEnvironmentsPerProject": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum number of custom environments allowed per project."
          }
        },
        "serverlessFunctionMaxMemorySize": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum memory size (in MB) for a serverless function. Only specified if a custom limit is set."
          }
        },
        "buildEntitlements": {
          "target": "com.vercel.teams#GetATeamResponseResourceConfigBuildEntitlements"
        },
        "buildMachine": {
          "target": "com.vercel.teams#GetATeamResponseResourceConfigBuildMachine",
          "traits": {
            "smithy.api#documentation": "Build machine configuration"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseDisableHardAutoBlocks": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Double"
        },
        "Case1": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseRemoteCaching": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "Is remote caching enabled for this team"
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultDeploymentProtectionPasswordProtection": {
      "type": "structure",
      "members": {
        "deploymentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseDefaultDeploymentProtectionSsoProtection": {
      "type": "structure",
      "members": {
        "deploymentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseDefaultDeploymentProtection": {
      "type": "structure",
      "members": {
        "passwordProtection": {
          "target": "com.vercel.teams#GetATeamResponseDefaultDeploymentProtectionPasswordProtection",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ssoProtection": {
          "target": "com.vercel.teams#GetATeamResponseDefaultDeploymentProtectionSsoProtection",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default deployment protection for this team null indicates protection is disabled"
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultPassportDeploymentType": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ALL_EXCEPT_CUSTOM_DOMAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all_except_custom_domains"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview"
          }
        },
        "PROD_DEPLOYMENT_URLS_AND_ALL_PREVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prod_deployment_urls_and_all_previews"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default Passport configuration for new projects in this team."
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultPassport": {
      "type": "structure",
      "members": {
        "connectorId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Default Passport configuration for new projects in this team.",
            "smithy.api#required": {}
          }
        },
        "deploymentType": {
          "target": "com.vercel.teams#GetATeamResponseDefaultPassportDeploymentType",
          "traits": {
            "smithy.api#documentation": "Default Passport configuration for new projects in this team.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default Passport configuration for new projects in this team."
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultExpirationSettings": {
      "type": "structure",
      "members": {
        "expirationDays": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep non-production deployments (mostly preview deployments) before soft deletion."
          }
        },
        "expirationDaysProduction": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep production deployments before soft deletion."
          }
        },
        "expirationDaysCanceled": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep canceled deployments before soft deletion."
          }
        },
        "expirationDaysErrored": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of days to keep errored deployments before soft deletion."
          }
        },
        "deploymentsToKeep": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum number of production deployments to keep for this project, even if they are over the production expiration limit."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default deployment expiration settings for this team"
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultProjectJobsLintTargetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultProjectJobsLint": {
      "type": "structure",
      "members": {
        "targets": {
          "target": "com.vercel.teams#GetATeamResponseDefaultProjectJobsLintTargetsList",
          "traits": {
            "smithy.api#documentation": "Default job configuration applied to new projects created in this team.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultProjectJobsTypecheckTargetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultProjectJobsTypecheck": {
      "type": "structure",
      "members": {
        "targets": {
          "target": "com.vercel.teams#GetATeamResponseDefaultProjectJobsTypecheckTargetsList",
          "traits": {
            "smithy.api#documentation": "Default job configuration applied to new projects created in this team.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultProjectJobsMfeConfigPresentTargetsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultProjectJobsMfeConfigPresent": {
      "type": "structure",
      "members": {
        "targets": {
          "target": "com.vercel.teams#GetATeamResponseDefaultProjectJobsMfeConfigPresentTargetsList",
          "traits": {
            "smithy.api#documentation": "Default job configuration applied to new projects created in this team.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
      }
    },
    "com.vercel.teams#GetATeamResponseDefaultProjectJobs": {
      "type": "structure",
      "members": {
        "lint": {
          "target": "com.vercel.teams#GetATeamResponseDefaultProjectJobsLint",
          "traits": {
            "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
          }
        },
        "typecheck": {
          "target": "com.vercel.teams#GetATeamResponseDefaultProjectJobsTypecheck",
          "traits": {
            "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
          }
        },
        "mfe_config_present": {
          "target": "com.vercel.teams#GetATeamResponseDefaultProjectJobsMfeConfigPresent",
          "traits": {
            "smithy.api#documentation": "Default job configuration applied to new projects created in this team.",
            "smithy.api#jsonName": "mfe-config-present"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Default job configuration applied to new projects created in this team."
      }
    },
    "com.vercel.teams#GetATeamResponseEnablePreviewFeedback": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "DEFAULT_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default-force"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "OFF_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off-force"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "ON_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on-force"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether toolbar is enabled on preview deployments"
      }
    },
    "com.vercel.teams#GetATeamResponseEnableProductionFeedback": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "DEFAULT_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default-force"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "OFF_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off-force"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        },
        "ON_FORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on-force"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether toolbar is enabled on production deployments"
      }
    },
    "com.vercel.teams#GetATeamResponseSensitiveEnvironmentVariablePolicy": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "default"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "off"
          }
        },
        "ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "on"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sensitive environment variable policy for this team"
      }
    },
    "com.vercel.teams#GetATeamResponseDpAccessRequestsMode": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "EMAIL_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email-domain"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Controls who can request access to protected deployments."
      }
    },
    "com.vercel.teams#GetATeamResponseIpBucketsItem": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "supportUntil": {
          "target": "smithy.api#Double"
        },
        "default": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseIpBucketsList": {
      "type": "list",
      "member": {
        "target": "com.vercel.teams#GetATeamResponseIpBucketsItem"
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseStrictDeploymentProtectionSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, deployment protection settings require stricter permissions (owner-only)."
      }
    },
    "com.vercel.teams#GetATeamResponseStrictShareableLinks": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, creating shareable links requires Owner role."
      }
    },
    "com.vercel.teams#GetATeamResponseStrictPasswordProtectionSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled, adding, changing, or removing project password protection requires Owner role."
      }
    },
    "com.vercel.teams#GetATeamResponseNsnbConfigPreference": {
      "type": "enum",
      "members": {
        "AUTO_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto-approval"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "block"
          }
        },
        "MANUAL_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual-approval"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseNsnbConfig": {
      "type": "structure",
      "members": {
        "preference": {
          "target": "com.vercel.teams#GetATeamResponseNsnbConfigPreference",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "NSNB configuration for the team."
      }
    },
    "com.vercel.teams#GetATeamResponseDeploymentPolicyGitSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseDeploymentPolicyDeploymentSourcesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseDeploymentPolicy": {
      "type": "structure",
      "members": {
        "gitSources": {
          "target": "com.vercel.teams#GetATeamResponseDeploymentPolicyGitSourcesList"
        },
        "deploymentSources": {
          "target": "com.vercel.teams#GetATeamResponseDeploymentPolicyDeploymentSourcesList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Composable deployment-time policy for the team. Used as the default for every project on the team, with optional per-project overrides on `project.deploymentPolicy`."
      }
    },
    "com.vercel.teams#GetATeamResponseMembershipEntitlementsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseMembershipRole": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTRIBUTOR"
          }
        },
        "DEVELOPER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVELOPER"
          }
        },
        "MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEMBER"
          }
        },
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OWNER"
          }
        },
        "SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        },
        "VIEWER_FOR_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER_FOR_PLUS"
          }
        }
      },
      "traits": {}
    },
    "com.vercel.teams#GetATeamResponseMembershipTeamRolesItem": {
      "type": "enum",
      "members": {
        "BILLING": {
          "target": "smithy.api#Unit",
[...]
