{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.vercel.user#ListUserEventsRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "limit",
            "smithy.api#documentation": "Maximum number of items which may be returned."
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "since",
            "smithy.api#documentation": "Timestamp to only include items created since then."
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "until",
            "smithy.api#documentation": "Timestamp to only include items created until then."
          }
        },
        "types": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "types",
            "smithy.api#documentation": "Comma-delimited list of event \"types\" to filter the results by."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "userId",
            "smithy.api#documentation": "Deprecated. Use `principalId` instead. If `principalId` and `userId` both exist, `principalId` will be used."
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "principalId",
            "smithy.api#documentation": "When retrieving events for a Team, the `principalId` parameter may be specified to filter events generated by a specific principal."
          }
        },
        "projectIds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "projectIds",
            "smithy.api#documentation": "Comma-delimited list of project IDs to filter the results by."
          }
        },
        "entityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "entityId",
            "smithy.api#documentation": "Filters events to those associated with a specific entity (matched against `payload.id`). For example, a connector ID."
          }
        },
        "withPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "withPayload",
            "smithy.api#documentation": "When set to `true`, the response will include the `payload` field for each event."
          }
        },
        "teamId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "teamId",
            "smithy.api#documentation": "The Team identifier to perform the request on behalf of."
          }
        },
        "slug": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "slug",
            "smithy.api#documentation": "The Team slug to perform the request on behalf of."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.vercel.user#UserEvent": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the Event.",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The human-readable text of the Event.",
            "smithy.api#required": {}
          }
        },
        "entities": {
          "target": "com.vercel.user#UserEventEntitiesList",
          "traits": {
            "smithy.api#documentation": "A list of \"entities\" within the event `text`. Useful for enhancing the displayed text with additional styling and links.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.vercel.user#UserEventType",
          "traits": {
            "smithy.api#documentation": "The type of the event."
          }
        },
        "categories": {
          "target": "com.vercel.user#UserEventCategoriesList",
          "traits": {
            "smithy.api#documentation": "The categories that group this event with related event types. An event can belong to multiple categories (e.g. a firewall event is both Firewall and Security). The first entry is the \"primary\" category. Use the `/events/types` endpoint to discover the full list of categories."
          }
        },
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Timestamp (in milliseconds) of when the event was generated.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.vercel.user#UserEventUser",
          "traits": {
            "smithy.api#documentation": "Metadata for {@link userId}."
          }
        },
        "principal": {
          "target": "com.vercel.user#UserEventPrincipal"
        },
        "via": {
          "target": "com.vercel.user#UserEventViaList",
          "traits": {
            "smithy.api#documentation": "Metadata for {@link viaIds}."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the principal who generated the event is a user, this is their ID; otherwise, it is empty."
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the principal who generated the event. The principal is typically a user, but it could also be an app, an integration, etc. The principal may have delegated its authority to an acting party, and so {@link viaIds} should be checked as well.",
            "smithy.api#required": {}
          }
        },
        "viaIds": {
          "target": "com.vercel.user#UserEventViaIdsList",
          "traits": {
            "smithy.api#documentation": "If the principal delegated its authority (for example, a user delegating to an app), then this array contains the ID of the current actor. For example, if `principalId` is \"user123\" and `viaIds` is `[\"app456\"]`, we can say the event was triggered by - \"app456 on behalf of user123\", or - \"user123 via app4556\". Both are equivalent. Arbitrarily long chains of delegation can be represented. For example, if `principalId` is \"user123\" and `viaIds` is `[\"service1\", \"service2\"]`, we can say the event was triggered by \"user123 via service1 via service2\"."
          }
        },
        "payload": {
          "target": "com.vercel.user#UserEventPayload"
        }
      },
      "traits": {
        "smithy.api#documentation": "Array of events generated by the User."
      }
    },
    "com.vercel.user#UserEventEntitiesItemType": {
      "type": "enum",
      "members": {
        "APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app"
          }
        },
        "AUTHOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "author"
          }
        },
        "BITBUCKET_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bitbucket_login"
          }
        },
        "BOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bold"
          }
        },
        "DEPLOYMENT_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_host"
          }
        },
        "DEPLOYMENT_INSPECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment_inspector"
          }
        },
        "DNS_RECORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_record"
          }
        },
        "EDGE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config"
          }
        },
        "ENV_VAR_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env_var_name"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        },
        "FLAGS_SEGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-segment"
          }
        },
        "FLAGS_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-settings"
          }
        },
        "GIT_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git_link"
          }
        },
        "GITHUB_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "github_login"
          }
        },
        "GITLAB_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gitlab_login"
          }
        },
        "HOOK_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hook_name"
          }
        },
        "INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "PROJECT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project_name"
          }
        },
        "SCALING_RULES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scaling_rules"
          }
        },
        "STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "store"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "TARGET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "target"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of entity."
      }
    },
    "com.vercel.user#UserEventEntitiesItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.vercel.user#UserEventEntitiesItemType",
          "traits": {
            "smithy.api#documentation": "The type of entity.",
            "smithy.api#required": {}
          }
        },
        "start": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The index of where the entity begins within the `text` (inclusive).",
            "smithy.api#required": {}
          }
        },
        "end": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The index of where the entity ends within the `text` (non-inclusive).",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of \"entities\" within the event `text`. Useful for enhancing the displayed text with additional styling and links."
      }
    },
    "com.vercel.user#UserEventEntitiesList": {
      "type": "list",
      "member": {
        "target": "com.vercel.user#UserEventEntitiesItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of \"entities\" within the event `text`. Useful for enhancing the displayed text with additional styling and links."
      }
    },
    "com.vercel.user#UserEventType": {
      "type": "enum",
      "members": {
        "ACCESS_GROUP_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access-group-created"
          }
        },
        "ACCESS_GROUP_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access-group-deleted"
          }
        },
        "ACCESS_GROUP_PROJECT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access-group-project-updated"
          }
        },
        "ACCESS_GROUP_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access-group-updated"
          }
        },
        "ACCESS_GROUP_USER_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access-group-user-added"
          }
        },
        "ACCESS_GROUP_USER_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "access-group-user-removed"
          }
        },
        "ADMIN_AGENTIC_PROVISIONING_ACCOUNT_UNLINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin-agentic-provisioning-account-unlinked"
          }
        },
        "ADMIN_PLAN_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin-plan-updated"
          }
        },
        "ADMIN_SECONDARY_EMAIL_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin-secondary-email-added"
          }
        },
        "ADMIN_SECONDARY_EMAIL_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin-secondary-email-removed"
          }
        },
        "ADMIN_TEAM_NAME_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin-team-name-update"
          }
        },
        "ADMIN_TEAM_SLUG_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin-team-slug-update"
          }
        },
        "ADMIN_USER_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin-user-delete"
          }
        },
        "ADMIN_USER_PRIMARY_EMAIL_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin-user-primary-email-updated"
          }
        },
        "ADMIN_USERNAME_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin-username-updated"
          }
        },
        "AGENTIC_PROVISIONING_ACCOUNT_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agentic-provisioning-account-blocked"
          }
        },
        "AGENTIC_PROVISIONING_ACCOUNT_LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agentic-provisioning-account-linked"
          }
        },
        "AGENTIC_PROVISIONING_ACCOUNT_RELINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agentic-provisioning-account-relinked"
          }
        },
        "AGENTIC_PROVISIONING_ACCOUNT_UNLINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agentic-provisioning-account-unlinked"
          }
        },
        "AGENTIC_PROVISIONING_CREDENTIALS_ROTATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agentic-provisioning-credentials-rotated"
          }
        },
        "AGENTIC_PROVISIONING_PLAN_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agentic-provisioning-plan-changed"
          }
        },
        "AGENTIC_PROVISIONING_TEAM_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agentic-provisioning-team-created"
          }
        },
        "AI_ALERT_INVESTIGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-alert-investigation"
          }
        },
        "AI_CODE_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-code-review"
          }
        },
        "AI_GATEWAY_API_KEY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-api-key-created"
          }
        },
        "AI_GATEWAY_API_KEY_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-api-key-deleted"
          }
        },
        "AI_GATEWAY_API_KEY_QUOTA_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-api-key-quota-updated"
          }
        },
        "AI_GATEWAY_AUTO_RELOAD_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-auto-reload-updated"
          }
        },
        "AI_GATEWAY_BUDGET_DEFAULT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-budget-default-updated"
          }
        },
        "AI_GATEWAY_BYOK_CREDENTIAL_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-byok-credential-created"
          }
        },
        "AI_GATEWAY_BYOK_CREDENTIAL_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-byok-credential-deleted"
          }
        },
        "AI_GATEWAY_BYOK_CREDENTIAL_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-byok-credential-updated"
          }
        },
        "AI_GATEWAY_CREDITS_PURCHASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-credits-purchased"
          }
        },
        "AI_GATEWAY_GUARDRAILS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-guardrails-updated"
          }
        },
        "AI_GATEWAY_MODEL_ALLOWLIST_MODELS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-model-allowlist-models-updated"
          }
        },
        "AI_GATEWAY_MODEL_ALLOWLIST_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-model-allowlist-toggled"
          }
        },
        "AI_GATEWAY_PRIVATE_MODEL_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-private-model-created"
          }
        },
        "AI_GATEWAY_PRIVATE_MODEL_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-private-model-deleted"
          }
        },
        "AI_GATEWAY_PRIVATE_MODEL_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-private-model-updated"
          }
        },
        "AI_GATEWAY_PRIVATE_PROVIDER_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-private-provider-created"
          }
        },
        "AI_GATEWAY_PRIVATE_PROVIDER_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-private-provider-deleted"
          }
        },
        "AI_GATEWAY_PRIVATE_PROVIDER_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-private-provider-updated"
          }
        },
        "AI_GATEWAY_PROVIDER_ALLOWLIST_PROVIDERS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-provider-allowlist-providers-updated"
          }
        },
        "AI_GATEWAY_PROVIDER_ALLOWLIST_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-provider-allowlist-toggled"
          }
        },
        "AI_GATEWAY_RULE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-rule-created"
          }
        },
        "AI_GATEWAY_RULE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-rule-deleted"
          }
        },
        "AI_GATEWAY_RULE_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-rule-updated"
          }
        },
        "AI_GATEWAY_SCOPE_BUDGET_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-scope-budget-updated"
          }
        },
        "AI_GATEWAY_TRANSCRIPTS_DEFAULT_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-transcripts-default-disabled"
          }
        },
        "AI_GATEWAY_TRANSCRIPTS_DEFAULT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-transcripts-default-enabled"
          }
        },
        "AI_GATEWAY_TRANSCRIPTS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-transcripts-disabled"
          }
        },
        "AI_GATEWAY_TRANSCRIPTS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-transcripts-enabled"
          }
        },
        "AI_GATEWAY_TRANSCRIPTS_RETENTION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-transcripts-retention-updated"
          }
        },
        "AI_GATEWAY_VIRTUAL_MODEL_CONFIG_ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-virtual-model-config-archived"
          }
        },
        "AI_GATEWAY_VIRTUAL_MODEL_CONFIG_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-virtual-model-config-created"
          }
        },
        "AI_GATEWAY_VIRTUAL_MODEL_CONFIG_RESTORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-virtual-model-config-restored"
          }
        },
        "AI_GATEWAY_VIRTUAL_MODEL_CONFIG_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-gateway-virtual-model-config-updated"
          }
        },
        "AI_OMNIAGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai-omniagent"
          }
        },
        "ALERT_INVESTIGATION_PROJECT_ALLOWLIST_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert-investigation-project-allowlist-updated"
          }
        },
        "ALERT_RULE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert-rule-created"
          }
        },
        "ALERT_RULE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert-rule-deleted"
          }
        },
        "ALERT_RULE_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alert-rule-updated"
          }
        },
        "ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias"
          }
        },
        "ALIAS_CHOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-chown"
          }
        },
        "ALIAS_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-delete"
          }
        },
        "ALIAS_INVITE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-invite-created"
          }
        },
        "ALIAS_INVITE_JOINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-invite-joined"
          }
        },
        "ALIAS_INVITE_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-invite-revoked"
          }
        },
        "ALIAS_PROTECTION_BYPASS_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-protection-bypass-created"
          }
        },
        "ALIAS_PROTECTION_BYPASS_EXCEPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-protection-bypass-exception"
          }
        },
        "ALIAS_PROTECTION_BYPASS_REGENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-protection-bypass-regenerated"
          }
        },
        "ALIAS_PROTECTION_BYPASS_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-protection-bypass-revoked"
          }
        },
        "ALIAS_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-system"
          }
        },
        "ALIAS_USER_SCOPED_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-user-scoped-access-denied"
          }
        },
        "ALIAS_USER_SCOPED_ACCESS_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-user-scoped-access-granted"
          }
        },
        "ALIAS_USER_SCOPED_ACCESS_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-user-scoped-access-requested"
          }
        },
        "ALIAS_USER_SCOPED_ACCESS_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alias-user-scoped-access-revoked"
          }
        },
        "ALIASES_ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aliases-assigned"
          }
        },
        "ATTACK_MODE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attack-mode-disabled"
          }
        },
        "ATTACK_MODE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "attack-mode-enabled"
          }
        },
        "AUDIT_LOG_EXPORT_DOWNLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit-log-export-downloaded"
          }
        },
        "AUDIT_LOG_EXPORT_REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "audit-log-export-requested"
          }
        },
        "AUTHORIZE_GIT_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authorize-git-deployment"
          }
        },
        "AUTO_EXPOSE_SYSTEM_ENVS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto-expose-system-envs"
          }
        },
        "AVATAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avatar"
          }
        },
        "BULK_REDIRECTS_SETTINGS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk-redirects-settings-updated"
          }
        },
        "BULK_REDIRECTS_VERSION_PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk-redirects-version-promoted"
          }
        },
        "BULK_REDIRECTS_VERSION_RESTORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bulk-redirects-version-restored"
          }
        },
        "CERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cert"
          }
        },
        "CERT_AUTORENEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cert-autorenew"
          }
        },
        "CERT_CHOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cert-chown"
          }
        },
        "CERT_CLONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cert-clone"
          }
        },
        "CERT_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cert-delete"
          }
        },
        "CERT_RENEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cert-renew"
          }
        },
        "CERT_REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cert-replace"
          }
        },
        "CERT_SYSTEM_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cert-system-create"
          }
        },
        "CODE_OWNERS_CONFIG_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code-owners-config-updated"
          }
        },
        "COMPLIANCE_DOCUMENT_DOWNLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compliance-document-downloaded"
          }
        },
        "COMPLIANCE_DOCUMENT_PREVIEWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compliance-document-previewed"
          }
        },
        "COMPLIANCE_DOCUMENTS_BULK_DOWNLOADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compliance-documents-bulk-downloaded"
          }
        },
        "CONCURRENT_BUILDS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "concurrent-builds-update"
          }
        },
        "CONNECT_ATTACH_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-attach-project"
          }
        },
        "CONNECT_BITBUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-bitbucket"
          }
        },
        "CONNECT_BITBUCKET_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-bitbucket-app"
          }
        },
        "CONNECT_CONFIGURATION_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-configuration-created"
          }
        },
        "CONNECT_CONFIGURATION_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-configuration-deleted"
          }
        },
        "CONNECT_CONFIGURATION_LINK_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-configuration-link-updated"
          }
        },
        "CONNECT_CONFIGURATION_LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-configuration-linked"
          }
        },
        "CONNECT_CONFIGURATION_UNLINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-configuration-unlinked"
          }
        },
        "CONNECT_CONFIGURATION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-configuration-updated"
          }
        },
        "CONNECT_CREATE_CONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-create-connector"
          }
        },
        "CONNECT_DELETE_CONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-delete-connector"
          }
        },
        "CONNECT_DELETE_INSTALLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-delete-installation"
          }
        },
        "CONNECT_DETACH_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-detach-project"
          }
        },
        "CONNECT_GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-github"
          }
        },
        "CONNECT_GITHUB_CUSTOM_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-github-custom-host"
          }
        },
        "CONNECT_GITHUB_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-github-limited"
          }
        },
        "CONNECT_GITLAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-gitlab"
          }
        },
        "CONNECT_GITLAB_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-gitlab-app"
          }
        },
        "CONNECT_IMPORT_TOKENS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-import-tokens"
          }
        },
        "CONNECT_REVOKE_ALL_TOKENS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-revoke-all-tokens"
          }
        },
        "CONNECT_UPDATE_CONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-update-connector"
          }
        },
        "CONNECT_UPDATE_TRIGGER_DESTINATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-update-trigger-destinations"
          }
        },
        "CONNECT_UPSERT_INSTALLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "connect-upsert-installation"
          }
        },
        "CUSTOM_ALERT_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-alert-created"
          }
        },
        "CUSTOM_ALERT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-alert-deleted"
          }
        },
        "CUSTOM_ALERT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-alert-updated"
          }
        },
        "CUSTOM_ENVIRONMENTS_SETTINGS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-environments-settings-updated"
          }
        },
        "CUSTOM_METRIC_METADATA_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-metric-metadata-deleted"
          }
        },
        "CUSTOM_METRIC_METADATA_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-metric-metadata-updated"
          }
        },
        "CUSTOM_SUFFIX_CLEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-suffix-clear"
          }
        },
        "CUSTOM_SUFFIX_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-suffix-disable"
          }
        },
        "CUSTOM_SUFFIX_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-suffix-enable"
          }
        },
        "CUSTOM_SUFFIX_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-suffix-pending"
          }
        },
        "CUSTOM_SUFFIX_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom-suffix-ready"
          }
        },
        "DEPLOY_HOOK_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-hook-created"
          }
        },
        "DEPLOY_HOOK_DEDUPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-hook-deduped"
          }
        },
        "DEPLOY_HOOK_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-hook-deleted"
          }
        },
        "DEPLOY_HOOK_PROCESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deploy-hook-processed"
          }
        },
        "DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment"
          }
        },
        "DEPLOYMENT_CHECK_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-check-created"
          }
        },
        "DEPLOYMENT_CHECK_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-check-deleted"
          }
        },
        "DEPLOYMENT_CHECK_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-check-updated"
          }
        },
        "DEPLOYMENT_CHOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-chown"
          }
        },
        "DEPLOYMENT_CREATION_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-creation-blocked"
          }
        },
        "DEPLOYMENT_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-delete"
          }
        },
        "DEPLOYMENT_POLICY_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-policy-blocked"
          }
        },
        "DEPLOYMENT_UNDELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deployment-undeleted"
          }
        },
        "DISABLED_INTEGRATION_INSTALLATION_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled-integration-installation-removed"
          }
        },
        "DISCONNECT_BITBUCKET_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disconnect-bitbucket-app"
          }
        },
        "DISCONNECT_GITHUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disconnect-github"
          }
        },
        "DISCONNECT_GITHUB_CUSTOM_HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disconnect-github-custom-host"
          }
        },
        "DISCONNECT_GITHUB_LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disconnect-github-limited"
          }
        },
        "DISCONNECT_GITLAB_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disconnect-gitlab-app"
          }
        },
        "DNS_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns-add"
          }
        },
        "DNS_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns-delete"
          }
        },
        "DNS_RECORD_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns-record-internal"
          }
        },
        "DNS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns-update"
          }
        },
        "DNS_ZONEFILE_IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns-zonefile-import"
          }
        },
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain"
          }
        },
        "DOMAIN_BUY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-buy"
          }
        },
        "DOMAIN_CDN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-cdn"
          }
        },
        "DOMAIN_CHOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-chown"
          }
        },
        "DOMAIN_CUSTOM_NS_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-custom-ns-change"
          }
        },
        "DOMAIN_DELEGATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-delegated"
          }
        },
        "DOMAIN_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-delete"
          }
        },
        "DOMAIN_ECH_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-ech-change"
          }
        },
        "DOMAIN_MOVE_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-move-in"
          }
        },
        "DOMAIN_MOVE_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-move-out"
          }
        },
        "DOMAIN_MOVE_OUT_REQUEST_SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-move-out-request-sent"
          }
        },
        "DOMAIN_RENEW_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-renew-change"
          }
        },
        "DOMAIN_SERVICE_TYPE_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-service-type-updated"
          }
        },
        "DOMAIN_TRANSFER_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-transfer-in"
          }
        },
        "DOMAIN_TRANSFER_IN_CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-transfer-in-canceled"
          }
        },
        "DOMAIN_TRANSFER_IN_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-transfer-in-completed"
          }
        },
        "DOMAIN_ZONE_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-zone-change"
          }
        },
        "DOMAIN_ZONE_CHANGE_INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "domain-zone-change-internal"
          }
        },
        "DRAIN_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drain-created"
          }
        },
        "DRAIN_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drain-deleted"
          }
        },
        "DRAIN_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drain-disabled"
          }
        },
        "DRAIN_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drain-enabled"
          }
        },
        "DRAIN_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drain-updated"
          }
        },
        "EDGE_CACHE_DANGEROUSLY_DELETE_BY_SRC_IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-cache-dangerously-delete-by-src-images"
          }
        },
        "EDGE_CACHE_DANGEROUSLY_DELETE_BY_TAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-cache-dangerously-delete-by-tags"
          }
        },
        "EDGE_CACHE_DANGEROUSLY_DELETE_IMMUTABLE_STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-cache-dangerously-delete-immutable-static"
          }
        },
        "EDGE_CACHE_INVALIDATE_BY_SRC_IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-cache-invalidate-by-src-images"
          }
        },
        "EDGE_CACHE_INVALIDATE_BY_TAGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-cache-invalidate-by-tags"
          }
        },
        "EDGE_CACHE_PURGE_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-cache-purge-all"
          }
        },
        "EDGE_CACHE_ROLLBACK_PURGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-cache-rollback-purge"
          }
        },
        "EDGE_CONFIG_BACKUP_RESTORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-backup-restored"
          }
        },
        "EDGE_CONFIG_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-created"
          }
        },
        "EDGE_CONFIG_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-deleted"
          }
        },
        "EDGE_CONFIG_ITEMS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-items-updated"
          }
        },
        "EDGE_CONFIG_SCHEMA_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-schema-deleted"
          }
        },
        "EDGE_CONFIG_SCHEMA_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-schema-updated"
          }
        },
        "EDGE_CONFIG_TOKEN_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-token-created"
          }
        },
        "EDGE_CONFIG_TOKEN_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-token-deleted"
          }
        },
        "EDGE_CONFIG_TRANSFER_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-transfer-in"
          }
        },
        "EDGE_CONFIG_TRANSFER_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-transfer-out"
          }
        },
        "EDGE_CONFIG_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edge-config-updated"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        },
        "EMAIL_NOTIFICATION_RULE_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email-notification-rule-removed"
          }
        },
        "EMAIL_NOTIFICATION_RULE_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email-notification-rule-updated"
          }
        },
        "EMU_MEMBER_REMOVED_UNVERIFIED_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "emu-member-removed-unverified-domain"
          }
        },
        "ENFORCE_DISJUNCTIVE_PRODUCTION_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforce-disjunctive-production-secrets"
          }
        },
        "ENFORCE_SENSITIVE_ENVIRONMENT_VARIABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enforce-sensitive-environment-variables"
          }
        },
        "ENV_VARIABLE_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-add"
          }
        },
        "ENV_VARIABLE_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-delete"
          }
        },
        "ENV_VARIABLE_EDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-edit"
          }
        },
        "ENV_VARIABLE_MASKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-masked"
          }
        },
        "ENV_VARIABLE_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-read"
          }
        },
        "ENV_VARIABLE_READ_CLI_DEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-read:cli:dev"
          }
        },
        "ENV_VARIABLE_READ_CLI_ENV_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-read:cli:env:add"
          }
        },
        "ENV_VARIABLE_READ_CLI_ENV_LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-read:cli:env:ls"
          }
        },
        "ENV_VARIABLE_READ_CLI_ENV_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-read:cli:env:pull"
          }
        },
        "ENV_VARIABLE_READ_CLI_ENV_RM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-read:cli:env:rm"
          }
        },
        "ENV_VARIABLE_READ_CLI_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-read:cli:pull"
          }
        },
        "ENV_VARIABLE_READ_UNKNOWN_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-read:unknown-source"
          }
        },
        "ENV_VARIABLE_READ_V0_ENV_PULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-read:v0:env:pull"
          }
        },
        "ENV_VARIABLE_ROTATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "env-variable-rotated"
          }
        },
        "EXPERIMENT_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment-created"
          }
        },
        "EXPERIMENT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment-deleted"
          }
        },
        "EXPERIMENT_TRANSITIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment-transitioned"
          }
        },
        "EXPERIMENT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experiment-updated"
          }
        },
        "FIREWALL_BYPASS_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall-bypass-created"
          }
        },
        "FIREWALL_BYPASS_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall-bypass-deleted"
          }
        },
        "FIREWALL_CONFIG_MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall-config-modified"
          }
        },
        "FIREWALL_CONFIG_PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall-config-promoted"
          }
        },
        "FIREWALL_CONFIG_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall-config-removed"
          }
        },
        "FIREWALL_MANAGED_RULEGROUP_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall-managed-rulegroup-updated"
          }
        },
        "FIREWALL_MANAGED_RULESET_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "firewall-managed-ruleset-updated"
          }
        },
        "FLAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag"
          }
        },
        "FLAG_ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag-archived"
          }
        },
        "FLAG_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag-created"
          }
        },
        "FLAG_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag-deleted"
          }
        },
        "FLAG_UNARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag-unarchived"
          }
        },
        "FLAG_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flag-updated"
          }
        },
        "FLAGS_EXPLORER_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-explorer-subscription"
          }
        },
        "FLAGS_SDK_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-sdk-key"
          }
        },
        "FLAGS_SDK_KEY_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-sdk-key-added"
          }
        },
        "FLAGS_SDK_KEY_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-sdk-key-deleted"
          }
        },
        "FLAGS_SDK_KEY_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-sdk-key-read"
          }
        },
        "FLAGS_SEGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-segment"
          }
        },
        "FLAGS_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-settings"
          }
        },
        "FLAGS_TRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flags-transferred"
          }
        },
        "GIT_INTEGRATION_REPO_PUSH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git-integration-repo-push"
          }
        },
        "GIT_ACCOUNT_INTEGRATION_LINK_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "git_account_integration_link_added"
          }
        },
        "GLOBAL_CONFIG_BACKUP_RESTORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-backup-restored"
          }
        },
        "GLOBAL_CONFIG_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-created"
          }
        },
        "GLOBAL_CONFIG_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-deleted"
          }
        },
        "GLOBAL_CONFIG_ITEMS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-items-updated"
          }
        },
        "GLOBAL_CONFIG_SCHEMA_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-schema-deleted"
          }
        },
        "GLOBAL_CONFIG_SCHEMA_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-schema-updated"
          }
        },
        "GLOBAL_CONFIG_TOKEN_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-token-created"
          }
        },
        "GLOBAL_CONFIG_TOKEN_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-token-deleted"
          }
        },
        "GLOBAL_CONFIG_TRANSFER_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-transfer-in"
          }
        },
        "GLOBAL_CONFIG_TRANSFER_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-transfer-out"
          }
        },
        "GLOBAL_CONFIG_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "global-config-updated"
          }
        },
        "INSTANT_ROLLBACK_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instant-rollback-created"
          }
        },
        "INTEGRATION_CONFIGURATION_CREDENTIAL_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration-credential-revoked"
          }
        },
        "INTEGRATION_CONFIGURATION_CREDENTIAL_ROTATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration-credential-rotated"
          }
        },
        "INTEGRATION_CONFIGURATION_OWNER_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration-owner-changed"
          }
        },
        "INTEGRATION_CONFIGURATION_SCOPE_CHANGE_CONFIRMED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration-scope-change-confirmed"
          }
        },
        "INTEGRATION_CONFIGURATION_TRANSFER_IN_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration-transfer-in-success"
          }
        },
        "INTEGRATION_CONFIGURATION_TRANSFER_OUT_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configuration-transfer-out-success"
          }
        },
        "INTEGRATION_CONFIGURATIONS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-configurations-disabled"
          }
        },
        "INTEGRATION_INSTALLATION_BILLING_PLAN_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-installation-billing-plan-updated"
          }
        },
        "INTEGRATION_INSTALLATION_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-installation-completed"
          }
        },
        "INTEGRATION_INSTALLATION_PERMISSION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-installation-permission-updated"
          }
        },
        "INTEGRATION_INSTALLATION_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-installation-removed"
          }
        },
        "INTEGRATION_RESOURCE_REDIS_COMMAND_EXECUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-resource-redis-command-executed"
          }
        },
        "INTEGRATION_RESOURCE_SQL_QUERY_EXECUTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-resource-sql-query-executed"
          }
        },
        "INTEGRATION_SCOPE_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "integration-scope-changed"
          }
        },
        "INVOICE_MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invoice-modified"
          }
        },
        "INVOICE_REFUNDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "invoice-refunded"
          }
        },
        "KMS_ISSUER_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-created"
          }
        },
        "KMS_ISSUER_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-deleted"
          }
        },
        "KMS_ISSUER_KEY_ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-key-activated"
          }
        },
        "KMS_ISSUER_KEY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-key-created"
          }
        },
        "KMS_ISSUER_KEY_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-key-revoked"
          }
        },
        "KMS_ISSUER_KEY_ROTATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-key-rotated"
          }
        },
        "KMS_ISSUER_POLICY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-policy-created"
          }
        },
        "KMS_ISSUER_POLICY_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-policy-deleted"
          }
        },
        "KMS_ISSUER_POLICY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-policy-updated"
          }
        },
        "KMS_ISSUER_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kms-issuer-updated"
          }
        },
        "LOG_DRAIN_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log-drain-created"
          }
        },
        "LOG_DRAIN_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log-drain-deleted"
          }
        },
        "LOG_DRAIN_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log-drain-disabled"
          }
        },
        "LOG_DRAIN_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "log-drain-enabled"
          }
        },
        "LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login"
          }
        },
        "LOGIN_CONNECTION_LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login-connection-linked"
          }
        },
        "LOGIN_CONNECTION_UNLINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "login-connection-unlinked"
          }
        },
        "MANUAL_DEPLOYMENT_PROMOTION_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual-deployment-promotion-created"
          }
        },
        "MARKETPLACE_FLEX_COMMIT_OPT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace-flex-commit-opt-in"
          }
        },
        "MARKETPLACE_INTEGRATION_ALLOWLIST_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace-integration-allowlist-updated"
          }
        },
        "MICROFRONTEND_GROUP_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microfrontend-group-added"
          }
        },
        "MICROFRONTEND_GROUP_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microfrontend-group-deleted"
          }
        },
        "MICROFRONTEND_GROUP_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microfrontend-group-updated"
          }
        },
        "MICROFRONTEND_PROJECT_ADDED_TO_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microfrontend-project-added-to-group"
          }
        },
        "MICROFRONTEND_PROJECT_REMOVED_FROM_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microfrontend-project-removed-from-group"
          }
        },
        "MICROFRONTEND_PROJECT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "microfrontend-project-updated"
          }
        },
        "MONITORING_ALERT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monitoring-alert-updated"
          }
        },
        "MONITORING_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monitoring-disabled"
          }
        },
        "MONITORING_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monitoring-enabled"
          }
        },
        "OAUTH_APP_CONNECTION_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app-connection-created"
          }
        },
        "OAUTH_APP_CONNECTION_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app-connection-removed"
          }
        },
        "OAUTH_APP_CONNECTION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app-connection-updated"
          }
        },
        "OAUTH_APP_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app-created"
          }
        },
        "OAUTH_APP_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app-deleted"
          }
        },
        "OAUTH_APP_SECRET_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app-secret-deleted"
          }
        },
        "OAUTH_APP_SECRET_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app-secret-generated"
          }
        },
        "OAUTH_APP_TOKEN_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app-token-created"
          }
        },
        "OAUTH_APP_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app-updated"
          }
        },
        "OBSERVABILITY_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "observability-disabled"
          }
        },
        "OBSERVABILITY_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "observability-enabled"
          }
        },
        "OBSERVABILITY_PLUS_PROJECT_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "observability-plus-project-disabled"
          }
        },
        "OBSERVABILITY_PLUS_PROJECT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "observability-plus-project-enabled"
          }
        },
        "OIDC_POLICY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oidc-policy-created"
          }
        },
        "OIDC_POLICY_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oidc-policy-deleted"
          }
        },
        "OIDC_POLICY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oidc-policy-updated"
          }
        },
        "OIDC_POLICY_USED_TO_OBTAIN_APP_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oidc-policy-used-to-obtain-app-token"
          }
        },
        "ORGANIZATION_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-create"
          }
        },
        "ORGANIZATION_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-delete"
          }
        },
        "ORGANIZATION_DSYNC_GROUP_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-dsync-group-delete"
          }
        },
        "ORGANIZATION_DSYNC_GROUP_UPSERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-dsync-group-upsert"
          }
        },
        "ORGANIZATION_SLUG_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-slug-update"
          }
        },
        "ORGANIZATION_TEAM_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-team-add"
          }
        },
        "ORGANIZATION_TEAM_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-team-create"
          }
        },
        "ORGANIZATION_TEAM_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "organization-team-delete"
          }
        },
        "OWNER_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner-blocked"
          }
        },
        "OWNER_SOFT_BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner-soft-blocked"
          }
        },
        "OWNER_SOFT_UNBLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner-soft-unblocked"
          }
        },
        "OWNER_UNBLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner-unblocked"
          }
        },
        "PAGE_INTEGRITY_CONFIG_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page-integrity-config-updated"
          }
        },
        "PAGE_INTEGRITY_HEADER_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page-integrity-header-approved"
          }
        },
        "PAGE_INTEGRITY_HEADER_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page-integrity-header-rejected"
          }
        },
        "PAGE_INTEGRITY_INVENTORY_CLEARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page-integrity-inventory-cleared"
          }
        },
        "PAGE_INTEGRITY_RESOURCE_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page-integrity-resource-approved"
          }
        },
        "PAGE_INTEGRITY_RESOURCE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page-integrity-resource-deleted"
          }
        },
        "PAGE_INTEGRITY_RESOURCE_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page-integrity-resource-rejected"
          }
        },
        "PAGE_INTEGRITY_SCRIPT_APPROVAL_RULE_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page-integrity-script-approval-rule-created"
          }
        },
        "PAGE_INTEGRITY_SCRIPT_APPROVAL_RULE_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "page-integrity-script-approval-rule-deleted"
          }
        },
        "PASSKEY_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passkey-created"
          }
        },
        "PASSKEY_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passkey-deleted"
          }
        },
        "PASSKEY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passkey-updated"
          }
        },
        "PASSPORT_ACCESS_GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passport-access-granted"
          }
        },
        "PASSWORD_PROTECTION_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "password-protection-disabled"
          }
        },
        "PASSWORD_PROTECTION_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "password-protection-enabled"
          }
        },
        "PAYMENT_METHOD_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payment-method-added"
          }
        },
        "PAYMENT_METHOD_DEFAULT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payment-method-default-updated"
          }
        },
        "PAYMENT_METHOD_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payment-method-removed"
          }
        },
        "PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "plan"
          }
        },
        "PREVIEW_DEPLOYMENT_SUFFIX_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview-deployment-suffix-disabled"
          }
        },
        "PREVIEW_DEPLOYMENT_SUFFIX_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview-deployment-suffix-enabled"
          }
        },
        "PREVIEW_DEPLOYMENT_SUFFIX_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "preview-deployment-suffix-update"
          }
        },
        "PRIVATELINK_ENDPOINT_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "privatelink-endpoint-created"
          }
        },
        "PRIVATELINK_ENDPOINT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "privatelink-endpoint-deleted"
          }
        },
        "PRIVATELINK_ENDPOINT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "privatelink-endpoint-updated"
          }
        },
        "PRODUCTION_BRANCH_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "production-branch-updated"
          }
        },
        "PROJECT_ADD_ALIAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-add-alias"
          }
        },
        "PROJECT_ADD_REDIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-add-redirect"
          }
        },
        "PROJECT_AFFECTED_PROJECTS_DEPLOYMENTS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-affected-projects-deployments-updated"
          }
        },
        "PROJECT_ALIAS_CONFIGURED_CHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-alias-configured-change"
          }
        },
        "PROJECT_ANALYTICS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-analytics-disabled"
          }
        },
        "PROJECT_ANALYTICS_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-analytics-enabled"
          }
        },
        "PROJECT_AUTO_ASSIGN_CUSTOM_PRODUCTION_DOMAINS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-auto-assign-custom-production-domains-updated"
          }
        },
        "PROJECT_AUTOMATION_BYPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-automation-bypass"
          }
        },
        "PROJECT_AVATAR_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-avatar-update"
          }
        },
        "PROJECT_BUILD_COMMAND_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-build-command-updated"
          }
        },
        "PROJECT_BUILD_LOGS_AND_SOURCE_PROTECTION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-build-logs-and-source-protection-updated"
          }
        },
        "PROJECT_BUILD_MACHINE_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-build-machine-updated"
          }
        },
        "PROJECT_CARD_WIDGET_PREFERENCE_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-card-widget-preference-updated"
          }
        },
        "PROJECT_CLIENT_CERT_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-client-cert-delete"
          }
        },
        "PROJECT_CLIENT_CERT_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-client-cert-upload"
          }
        },
        "PROJECT_CONNECT_CONFIGURATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-connect-configurations"
          }
        },
        "PROJECT_CONSOLIDATED_GIT_COMMIT_STATUS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-consolidated-git-commit-status-updated"
          }
        },
        "PROJECT_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-created"
          }
        },
        "PROJECT_CRON_JOBS_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-cron-jobs-toggled"
          }
        },
        "PROJECT_CUSTOM_ENVIRONMENT_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-custom-environment-created"
          }
        },
        "PROJECT_CUSTOM_ENVIRONMENT_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-custom-environment-deleted"
          }
        },
        "PROJECT_CUSTOM_ENVIRONMENT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-custom-environment-updated"
          }
        },
        "PROJECT_CUSTOMER_SUCCESS_CODE_VISIBILITY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-customer-success-code-visibility-updated"
          }
        },
        "PROJECT_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-delete"
          }
        },
        "PROJECT_DEPLOYMENT_POLICY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-deployment-policy-updated"
          }
        },
        "PROJECT_DEPLOYMENT_RETENTION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-deployment-retention-updated"
          }
        },
        "PROJECT_DIRECTORY_LISTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-directory-listing"
          }
        },
        "PROJECT_DOMAIN_DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-domain-deleted"
          }
        },
        "PROJECT_DOMAIN_MOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-domain-moved"
          }
        },
        "PROJECT_DOMAIN_UNVERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-domain-unverified"
          }
        },
        "PROJECT_DOMAIN_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-domain-updated"
          }
        },
        "PROJECT_DOMAIN_VERIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-domain-verified"
          }
        },
        "PROJECT_ELASTIC_CONCURRENCY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-elastic-concurrency-updated"
          }
        },
        "PROJECT_EXPIRATION_LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-expiration-locked"
          }
        },
        "PROJECT_EXPIRATION_REACHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-expiration-reached"
          }
        },
        "PROJECT_EXPIRATION_SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-expiration-scheduled"
          }
        },
        "PROJECT_EXPIRATION_UNLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-expiration-unlocked"
          }
        },
        "PROJECT_EXTERNAL_REWRITE_CACHING_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-external-rewrite-caching-updated"
          }
        },
        "PROJECT_FRAMEWORK_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-framework-updated"
          }
        },
        "PROJECT_FUNCTION_CPU_MEMORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-function-cpu-memory"
          }
        },
        "PROJECT_FUNCTION_FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-function-failover"
          }
        },
        "PROJECT_FUNCTION_MAX_DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-function-max-duration"
          }
        },
        "PROJECT_FUNCTION_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-function-regions"
          }
        },
        "PROJECT_FUNCTIONS_BETA_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-functions-beta-updated"
          }
        },
        "PROJECT_FUNCTIONS_FLUID_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-functions-fluid-disabled"
          }
        },
        "PROJECT_FUNCTIONS_FLUID_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-functions-fluid-enabled"
          }
        },
        "PROJECT_GIT_COMMIT_COMMENTS_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-commit-comments-toggled"
          }
        },
        "PROJECT_GIT_COMMIT_STATUS_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-commit-status-toggled"
          }
        },
        "PROJECT_GIT_CREATE_DEPLOYMENTS_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-create-deployments-toggled"
          }
        },
        "PROJECT_GIT_FORK_PROTECTION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-fork-protection-updated"
          }
        },
        "PROJECT_GIT_LFS_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-lfs-toggled"
          }
        },
        "PROJECT_GIT_PR_COMMENTS_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-pr-comments-toggled"
          }
        },
        "PROJECT_GIT_REPOSITORY_CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-repository-connected"
          }
        },
        "PROJECT_GIT_REPOSITORY_DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-repository-disconnected"
          }
        },
        "PROJECT_GIT_REPOSITORY_DISPATCH_EVENTS_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-repository-dispatch-events-toggled"
          }
        },
        "PROJECT_GIT_REQUIRE_VERIFIED_COMMITS_TOGGLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-git-require-verified-commits-toggled"
          }
        },
        "PROJECT_IGNORED_BUILD_STEP_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-ignored-build-step-updated"
          }
        },
        "PROJECT_INSTALL_COMMAND_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-install-command-updated"
          }
        },
        "PROJECT_MEMBER_ADDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-member-added"
          }
        },
        "PROJECT_MEMBER_INVITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-member-invited"
          }
        },
        "PROJECT_MEMBER_REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-member-removed"
          }
        },
        "PROJECT_MEMBER_REMOVED_BATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-member-removed-batch"
          }
        },
        "PROJECT_MEMBER_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-member-updated"
          }
        },
        "PROJECT_MOVE_IN_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-move-in-success"
          }
        },
        "PROJECT_MOVE_OUT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-move-out-failed"
          }
        },
        "PROJECT_MOVE_OUT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-move-out-started"
          }
        },
        "PROJECT_MOVE_OUT_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-move-out-success"
          }
        },
        "PROJECT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-name"
          }
        },
        "PROJECT_NODE_VERSION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-node-version-updated"
          }
        },
        "PROJECT_OIDC_ISSUER_MODE_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-oidc-issuer-mode-updated"
          }
        },
        "PROJECT_OIDC_TOKEN_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-oidc-token-created"
          }
        },
        "PROJECT_OPTIONS_ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-options-allowlist"
          }
        },
        "PROJECT_OUTPUT_DIRECTORY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-output-directory-updated"
          }
        },
        "PROJECT_PASSPORT_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-passport-updated"
          }
        },
        "PROJECT_PASSWORD_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-password-protection"
          }
        },
        "PROJECT_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-paused"
          }
        },
        "PROJECT_PREVIEW_DEPLOYMENT_SUFFIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-preview-deployment-suffix"
          }
        },
        "PROJECT_PREVIEW_ENVIRONMENT_BRANCH_TRACKING_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-preview-environment-branch-tracking-updated"
          }
        },
        "PROJECT_PRIORITIZE_PRODUCTION_BUILDS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-prioritize-production-builds-updated"
          }
        },
        "PROJECT_PROGRAM_ENROLLMENT_CHANGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-program-enrollment-changed"
          }
        },
        "PROJECT_PROTECTED_SOURCEMAPS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-protected-sourcemaps-updated"
          }
        },
        "PROJECT_ROLLBACK_DESCRIPTION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rollback-description-updated"
          }
        },
        "PROJECT_ROLLING_RELEASE_ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-aborted"
          }
        },
        "PROJECT_ROLLING_RELEASE_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-approved"
          }
        },
        "PROJECT_ROLLING_RELEASE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-completed"
          }
        },
        "PROJECT_ROLLING_RELEASE_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-configured"
          }
        },
        "PROJECT_ROLLING_RELEASE_CONTINUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-continued"
          }
        },
        "PROJECT_ROLLING_RELEASE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-disabled"
          }
        },
        "PROJECT_ROLLING_RELEASE_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-enabled"
          }
        },
        "PROJECT_ROLLING_RELEASE_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-paused"
          }
        },
        "PROJECT_ROLLING_RELEASE_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-started"
          }
        },
        "PROJECT_ROLLING_RELEASE_SUGGESTED_ACTIONS_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-suggested-actions-generated"
          }
        },
        "PROJECT_ROLLING_RELEASE_TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-rolling-release-timer"
          }
        },
        "PROJECT_ROOT_DIRECTORY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-root-directory-updated"
          }
        },
        "PROJECT_ROUTES_VERSION_PROMOTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-routes-version-promoted"
          }
        },
        "PROJECT_ROUTES_VERSION_RESTORED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-routes-version-restored"
          }
        },
        "PROJECT_SANDBOX_CONFIG_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-sandbox-config-updated"
          }
        },
        "PROJECT_SANDBOX_URL_PROTECTION_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-sandbox-url-protection-updated"
          }
        },
        "PROJECT_SKEW_PROTECTION_ALLOWED_DOMAINS_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-skew-protection-allowed-domains-updated"
          }
        },
        "PROJECT_SKEW_PROTECTION_MAX_AGE_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-skew-protection-max-age-updated"
          }
        },
        "PROJECT_SKEW_PROTECTION_THRESHOLD_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-skew-protection-threshold-updated"
          }
        },
        "PROJECT_SOURCE_FILES_OUTSIDE_ROOT_DIRECTORY_UPDATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-source-files-outside-root-directory-updated"
          }
        },
        "PROJECT_SPEED_INSIGHTS_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "project-speed-insights-disabled"
          }
[...]
