{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.logs#ControlCmbConfigCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "allow_out_of_region_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Allow out of region access"
          }
        },
        "regions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the region."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logs#ControlCmbConfigCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logs#ControlCmbConfigCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logs#ControlCmbConfigCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.logs#ControlCmbConfigCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/logs/control/cmb/config",
          "code": 200
        },
        "smithy.api#documentation": "Updates CMB config."
      }
    },
    "com.cloudflare.logs#ControlCmbConfigDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logs#ControlCmbConfigDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logs#ControlCmbConfigDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logs#ControlCmbConfigDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.logs#ControlCmbConfigDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/logs/control/cmb/config",
          "code": 200
        },
        "smithy.api#documentation": "Deletes CMB config.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.logs#ControlCmbConfigGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logs#ControlCmbConfigGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.logs#ControlCmbConfigGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logs#ControlCmbConfigGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logs#ControlCmbConfigGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/logs/control/cmb/config",
          "code": 200
        },
        "smithy.api#documentation": "Gets CMB config.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logs#ControlRetentionCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "flag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The log retention flag for Logpull API."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logs#ControlRetentionCreateResponse": {
      "type": "structure",
      "members": {
        "flag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The log retention flag for Logpull API."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logs#ControlRetentionCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logs#ControlRetentionCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.logs#ControlRetentionCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/logs/control/retention/flag",
          "code": 200
        },
        "smithy.api#documentation": "Updates log retention flag for Logpull API."
      }
    },
    "com.cloudflare.logs#ControlRetentionGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logs#ControlRetentionGetResponse": {
      "type": "structure",
      "members": {
        "flag": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "The log retention flag for Logpull API."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.logs#ControlRetentionGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logs#ControlRetentionGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logs#ControlRetentionGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logs/control/retention/flag",
          "code": 200
        },
        "smithy.api#documentation": "Gets log retention flag for Logpull API.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logs#RayidGetRequestTimestamps": {
      "type": "enum",
      "members": {
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        }
      }
    },
    "com.cloudflare.logs#RayidGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ray_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Ray identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `/received` route by default returns a limited set of fields, and allows customers to override the default field set by specifying individual fields. The reasons for this are: 1. Most customers require only a small subset of fields, but that subset varies from customer to customer; 2. Flat schema is much easier to work with downstream (importing into BigTable etc); 3. Performance (time to process, file size). If `?fields=` is not specified, default field set is returned. This default field set may change at any time. When `?fields=` is provided, each record is returned with the specified fields. `fields` must be specified as a comma separated list without any whitespaces, and all fields must exist. The order in which fields are specified does not matter, and the order of fields in the response is not specified.",
            "smithy.api#httpQuery": "fields"
          }
        },
        "timestamps": {
          "target": "com.cloudflare.logs#RayidGetRequestTimestamps",
          "traits": {
            "smithy.api#documentation": "By default, timestamps in responses are returned as Unix nanosecond integers. The `?timestamps=` argument can be set to change the format in which response timestamps are returned. Possible values are: `unix`, `unixnano`, `rfc3339`. Note that `unix` and `unixnano` return timestamps as integers; `rfc3339` returns timestamps as strings.",
            "smithy.api#httpQuery": "timestamps"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logs#RayidGetResponse": {
      "type": "structure",
      "members": {
        "string": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unknown": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.logs#RayidGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logs#RayidGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logs#RayidGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logs/rayids/{ray_id}",
          "code": 200
        },
        "smithy.api#documentation": "The `/rayids` api route allows lookups by specific rayid. The rayids route will return zero, one, or more records (ray ids are not unique).",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logs#ReceivedGetRequestTimestamps": {
      "type": "enum",
      "members": {
        "UNIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unix"
          }
        },
        "UNIXNANO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unixnano"
          }
        },
        "RFC3339": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rfc3339"
          }
        }
      }
    },
    "com.cloudflare.logs#ReceivedGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the (exclusive) end of the requested time frame. This can be a unix timestamp (in seconds or nanoseconds), or an absolute timestamp that conforms to RFC 3339. `end` must be at least five minutes earlier than now and must be later than `start`. Difference between `start` and `end` must be not greater than one hour.",
            "smithy.api#httpQuery": "end",
            "smithy.api#required": {}
          }
        },
        "count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "When `?count=` is provided, the response will contain up to `count` results. Since results are not sorted, you are likely to get different data for repeated requests. `count` must be an integer > 0.",
            "smithy.api#httpQuery": "count"
          }
        },
        "fields": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `/received` route by default returns a limited set of fields, and allows customers to override the default field set by specifying individual fields. The reasons for this are: 1. Most customers require only a small subset of fields, but that subset varies from customer to customer; 2. Flat schema is much easier to work with downstream (importing into BigTable etc); 3. Performance (time to process, file size). If `?fields=` is not specified, default field set is returned. This default field set may change at any time. When `?fields=` is provided, each record is returned with the specified fields. `fields` must be specified as a comma separated list without any whitespaces, and all fields must exist. The order in which fields are specified does not matter, and the order of fields in the response is not specified.",
            "smithy.api#httpQuery": "fields"
          }
        },
        "sample": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "When `?sample=` is provided, a sample of matching records is returned. If `sample=0.1` then 10% of records will be returned. Sampling is random: repeated calls will not only return different records, but likely will also vary slightly in number of returned records. When `?count=` is also specified, `count` is applied to the number of returned records, not the sampled records. So, with `sample=0.05` and `count=7`, when there is a total of 100 records available, approximately five will be returned. When there are 1000 records, seven will be returned. When there are 10,000 records, seven will be returned.",
            "smithy.api#httpQuery": "sample"
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets the (inclusive) beginning of the requested time frame. This can be a unix timestamp (in seconds or nanoseconds), or an absolute timestamp that conforms to RFC 3339. At this point in time, it cannot exceed a time in the past greater than seven days.",
            "smithy.api#httpQuery": "start"
          }
        },
        "timestamps": {
          "target": "com.cloudflare.logs#ReceivedGetRequestTimestamps",
          "traits": {
            "smithy.api#documentation": "By default, timestamps in responses are returned as Unix nanosecond integers. The `?timestamps=` argument can be set to change the format in which response timestamps are returned. Possible values are: `unix`, `unixnano`, `rfc3339`. Note that `unix` and `unixnano` return timestamps as integers; `rfc3339` returns timestamps as strings.",
            "smithy.api#httpQuery": "timestamps"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logs#ReceivedGetResponse": {
      "type": "structure",
      "members": {
        "string": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "unknown": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.logs#ReceivedGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logs#ReceivedGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logs#ReceivedGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logs/received",
          "code": 200
        },
        "smithy.api#documentation": "The `/received` api route allows customers to retrieve their edge HTTP logs. The basic access pattern is \"give me all the logs for zone Z for minute M\", where the minute M refers to the time records were received at Cloudflare's central data center. `start` is inclusive, and `end` is exclusive. Because of that, to get all data, at minutely cadence, starting at 10AM, the proper values are: `start=2018-05-20T10:00:00Z&end=2018-05-20T10:01:00Z`, then `start=2018-05-20T10:01:00Z&end=2018-05-20T10:02:00Z` and so on; the overlap will be handled properly.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logs#ReceivedFieldsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.logs#ReceivedFieldsGetResponse": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.logs#ReceivedFieldsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.logs#ReceivedFieldsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.logs#ReceivedFieldsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/logs/received/fields",
          "code": 200
        },
        "smithy.api#documentation": "Lists all fields available. The response is json object with key-value pairs, where keys are field names, and values are descriptions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.logs#Logs": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.logs#ControlCmbConfigCreate"
        },
        {
          "target": "com.cloudflare.logs#ControlCmbConfigDelete"
        },
        {
          "target": "com.cloudflare.logs#ControlCmbConfigGet"
        },
        {
          "target": "com.cloudflare.logs#ControlRetentionCreate"
        },
        {
          "target": "com.cloudflare.logs#ControlRetentionGet"
        },
        {
          "target": "com.cloudflare.logs#RayidGet"
        },
        {
          "target": "com.cloudflare.logs#ReceivedGet"
        },
        {
          "target": "com.cloudflare.logs#ReceivedFieldsGet"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Logs",
        "smithy.api#documentation": "Cloudflare API — logs resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
