{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "appID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Comma-delimited list of Spectrum Application Id(s). If provided, the response will be limited to Spectrum Application Id(s) that match.",
            "smithy.api#httpQuery": "appID"
          }
        },
        "colo_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Co-location identifier.",
            "smithy.api#httpQuery": "colo_name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGetResultItem": {
      "type": "structure",
      "members": {
        "appID": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Application identifier.",
            "smithy.api#required": {}
          }
        },
        "bytesEgress": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of bytes sent",
            "smithy.api#required": {}
          }
        },
        "bytesIngress": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of bytes received",
            "smithy.api#required": {}
          }
        },
        "connections": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of connections",
            "smithy.api#required": {}
          }
        },
        "durationAvg": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average duration of connections",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGetResultItem"
      }
    },
    "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/spectrum/analytics/aggregate/current",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves analytics aggregated from the last minute of usage on Spectrum applications underneath a given zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestTimeDelta": {
      "type": "enum",
      "members": {
        "YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "year"
          }
        },
        "QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarter"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestMetrics": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "BYTESINGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytesIngress"
          }
        },
        "BYTESEGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytesEgress"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestMetricsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestMetrics"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestSortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "time_delta": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestTimeDelta",
          "traits": {
            "smithy.api#documentation": "Used to select time series resolution.",
            "smithy.api#httpQuery": "time_delta",
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestDimensionsList",
          "traits": {
            "smithy.api#documentation": "Can be used to break down the data by given attributes. Options are:",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to filter rows by one or more dimensions. Filters can be combined using OR and AND boolean logic. AND takes precedence over OR in all the expressions. The OR operator is defined using a comma (,) or OR keyword surrounded by whitespace. The AND operator is defined using a semicolon (;) or AND keyword surrounded by whitespace. Note that the semicolon is a reserved character in URLs (rfc1738) and needs to be percent-encoded as %3B. Comparison options are:",
            "smithy.api#httpQuery": "filters"
          }
        },
        "metrics": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestMetricsList",
          "traits": {
            "smithy.api#documentation": "One or more metrics to compute. Options are:",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of time interval to query, defaults to `until` - 6 hours. Timestamp must be in RFC3339 format and uses UTC unless otherwise specified.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequestSortList",
          "traits": {
            "smithy.api#documentation": "The sort order for the result set; sort fields must be included in `metrics` or `dimensions`.",
            "smithy.api#httpQuery": "sort"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of time interval to query, defaults to current time. Timestamp must be in RFC3339 format and uses UTC unless otherwise specified.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseDataItemDimensionsList"
        },
        "metrics": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseDataItemMetricsList"
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseDataItem"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseMaxMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseMinMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQueryMetricsItem": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "BYTESINGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytesIngress"
          }
        },
        "BYTESEGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytesEgress"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQueryMetricsItem"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Can be used to break down the data by given attributes. Options are:"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to filter rows by one or more dimensions. Filters can be combined using OR and AND boolean logic. AND takes precedence over OR in all the expressions. The OR operator is defined using a comma (,) or OR keyword surrounded by whitespace. The AND operator is defined using a semicolon (;) or AND keyword surrounded by whitespace. Note that the semicolon is a reserved character in URLs (rfc1738) and needs to be percent-encoded as %3B. Comparison options are:"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics."
          }
        },
        "metrics": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "One or more metrics to compute. Options are:"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of time interval to query, defaults to `until` - 6 hours. Timestamp must be in RFC3339 format and uses UTC unless otherwise specified."
          }
        },
        "sort": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "The sort order for the result set; sort fields must be included in `metrics` or `dimensions`."
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of time interval to query, defaults to current time. Timestamp must be in RFC3339 format and uses UTC unless otherwise specified."
          }
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseTotalsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseDataList",
          "traits": {
            "smithy.api#documentation": "List of columns returned by the analytics query.",
            "smithy.api#required": {}
          }
        },
        "data_lag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds between current time and last processed event, i.e. how many seconds of data could be missing.",
            "smithy.api#required": {}
          }
        },
        "max": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseMaxMap",
          "traits": {
            "smithy.api#documentation": "Maximum result for each selected metrics across all data.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseMinMap",
          "traits": {
            "smithy.api#documentation": "Minimum result for each selected metrics across all data.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of rows in the result.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseTotalsMap",
          "traits": {
            "smithy.api#documentation": "Total result for each selected metrics across all data.",
            "smithy.api#required": {}
          }
        },
        "time_intervals": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponseTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "List of time interval buckets: [start, end]"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsBytimesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/spectrum/analytics/events/bytime",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of aggregate metrics grouped by time interval.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequestDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequestMetrics": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "BYTESINGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytesIngress"
          }
        },
        "BYTESEGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytesEgress"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequestMetricsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequestMetrics"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequestSortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dimensions": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequestDimensionsList",
          "traits": {
            "smithy.api#documentation": "Can be used to break down the data by given attributes. Options are:",
            "smithy.api#httpQuery": "dimensions"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to filter rows by one or more dimensions. Filters can be combined using OR and AND boolean logic. AND takes precedence over OR in all the expressions. The OR operator is defined using a comma (,) or OR keyword surrounded by whitespace. The AND operator is defined using a semicolon (;) or AND keyword surrounded by whitespace. Note that the semicolon is a reserved character in URLs (rfc1738) and needs to be percent-encoded as %3B. Comparison options are:",
            "smithy.api#httpQuery": "filters"
          }
        },
        "metrics": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequestMetricsList",
          "traits": {
            "smithy.api#documentation": "One or more metrics to compute. Options are:",
            "smithy.api#httpQuery": "metrics"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of time interval to query, defaults to `until` - 6 hours. Timestamp must be in RFC3339 format and uses UTC unless otherwise specified.",
            "smithy.api#httpQuery": "since"
          }
        },
        "sort": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequestSortList",
          "traits": {
            "smithy.api#documentation": "The sort order for the result set; sort fields must be included in `metrics` or `dimensions`.",
            "smithy.api#httpQuery": "sort"
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of time interval to query, defaults to current time. Timestamp must be in RFC3339 format and uses UTC unless otherwise specified.",
            "smithy.api#httpQuery": "until"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseDataItemDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseDataItemMetricsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseDataItem": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseDataItemDimensionsList"
        },
        "metrics": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseDataItemMetricsList"
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseDataItem"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseMaxMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseMinMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQueryDimensionsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQueryMetricsItem": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "BYTESINGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytesIngress"
          }
        },
        "BYTESEGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bytesEgress"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQueryMetricsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQueryMetricsItem"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQuerySortList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQuery": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQueryDimensionsList",
          "traits": {
            "smithy.api#documentation": "Can be used to break down the data by given attributes. Options are:"
          }
        },
        "filters": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Used to filter rows by one or more dimensions. Filters can be combined using OR and AND boolean logic. AND takes precedence over OR in all the expressions. The OR operator is defined using a comma (,) or OR keyword surrounded by whitespace. The AND operator is defined using a semicolon (;) or AND keyword surrounded by whitespace. Note that the semicolon is a reserved character in URLs (rfc1738) and needs to be percent-encoded as %3B. Comparison options are:"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Limit number of returned metrics."
          }
        },
        "metrics": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQueryMetricsList",
          "traits": {
            "smithy.api#documentation": "One or more metrics to compute. Options are:"
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Start of time interval to query, defaults to `until` - 6 hours. Timestamp must be in RFC3339 format and uses UTC unless otherwise specified."
          }
        },
        "sort": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQuerySortList",
          "traits": {
            "smithy.api#documentation": "The sort order for the result set; sort fields must be included in `metrics` or `dimensions`."
          }
        },
        "until": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "End of time interval to query, defaults to current time. Timestamp must be in RFC3339 format and uses UTC unless otherwise specified."
          }
        }
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseTotalsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseTimeIntervalsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseDataList",
          "traits": {
            "smithy.api#documentation": "List of columns returned by the analytics query.",
            "smithy.api#required": {}
          }
        },
        "data_lag": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of seconds between current time and last processed event, i.e. how many seconds of data could be missing.",
            "smithy.api#required": {}
          }
        },
        "max": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseMaxMap",
          "traits": {
            "smithy.api#documentation": "Maximum result for each selected metrics across all data.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseMinMap",
          "traits": {
            "smithy.api#documentation": "Minimum result for each selected metrics across all data.",
            "smithy.api#required": {}
          }
        },
        "query": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseQuery",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Total number of rows in the result.",
            "smithy.api#required": {}
          }
        },
        "totals": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseTotalsMap",
          "traits": {
            "smithy.api#documentation": "Total result for each selected metrics across all data.",
            "smithy.api#required": {}
          }
        },
        "time_intervals": {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponseTimeIntervalsList",
          "traits": {
            "smithy.api#documentation": "List of time interval buckets: [start, end]"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.spectrum#AnalyticsEventsSummariesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/spectrum/analytics/events/summary",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of summarised aggregate metrics over a given time period.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.spectrum#AppsCreateRequestBody": {
      "type": "structure",
      "members": {
        "SpectrumConfigAppConfig_object___id__created_on__dns__12_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigAppConfig object { id, created_on, dns, 12 more }"
          }
        },
        "SpectrumConfigPaygoAppConfig_object___id__created_on__dns__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigPaygoAppConfig object { id, created_on, dns, 3 more }"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AppsCreateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.spectrum#AppsCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.spectrum#AppsCreateResponse": {
      "type": "structure",
      "members": {
        "SpectrumConfigAppConfig_object___id__created_on__dns__12_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigAppConfig object { id, created_on, dns, 12 more }"
          }
        },
        "SpectrumConfigPaygoAppConfig_object___id__created_on__dns__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigPaygoAppConfig object { id, created_on, dns, 3 more }"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.spectrum#AppsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.spectrum#AppsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.spectrum#AppsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zones/{zone_id}/spectrum/apps",
          "code": 200
        },
        "smithy.api#documentation": "Creates a new Spectrum application from a configuration using a name for the origin."
      }
    },
    "com.cloudflare.spectrum#AppsDeleteRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.spectrum#AppsDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.spectrum#AppsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.spectrum#AppsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.spectrum#AppsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zones/{zone_id}/spectrum/apps/{app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes a previously existing application.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.spectrum#AppsGetRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.spectrum#AppsGetResponse": {
      "type": "structure",
      "members": {
        "SpectrumConfigAppConfig_object___id__created_on__dns__12_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigAppConfig object { id, created_on, dns, 12 more }"
          }
        },
        "SpectrumConfigPaygoAppConfig_object___id__created_on__dns__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigPaygoAppConfig object { id, created_on, dns, 3 more }"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.spectrum#AppsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.spectrum#AppsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.spectrum#AppsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/spectrum/apps/{app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Gets the application configuration of a specific application inside a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.spectrum#AppsListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AppsListRequestOrder": {
      "type": "enum",
      "members": {
        "PROTOCOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protocol"
          }
        },
        "APP_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_id"
          }
        },
        "CREATED_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_on"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AppsListRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.spectrum#AppsListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Sets the direction by which results are ordered.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "com.cloudflare.spectrum#AppsListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Application field by which results are ordered.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results. This parameter is required in order to use other pagination parameters. If included in the query, `result_info` will be present in the response.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Sets the maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.spectrum#AppsListResultItem": {
      "type": "structure",
      "members": {
        "array_of_object___id__created_on__dns__12_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "array of object { id, created_on, dns, 12 more }"
          }
        },
        "array_of_object___id__created_on__dns__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "array of object { id, created_on, dns, 3 more }"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AppsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.spectrum#AppsListResultItem"
      }
    },
    "com.cloudflare.spectrum#AppsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.spectrum#AppsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.spectrum#AppsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.spectrum#AppsListRequest"
      },
      "output": {
        "target": "com.cloudflare.spectrum#AppsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zones/{zone_id}/spectrum/apps",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves a list of currently existing Spectrum applications inside a zone.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.spectrum#AppsUpdateRequestBody": {
      "type": "structure",
      "members": {
        "SpectrumConfigAppConfig_object___id__created_on__dns__12_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigAppConfig object { id, created_on, dns, 12 more }"
          }
        },
        "SpectrumConfigPaygoAppConfig_object___id__created_on__dns__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigPaygoAppConfig object { id, created_on, dns, 3 more }"
          }
        }
      }
    },
    "com.cloudflare.spectrum#AppsUpdateRequest": {
      "type": "structure",
      "members": {
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Zone identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "App identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.spectrum#AppsUpdateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.spectrum#AppsUpdateResponse": {
      "type": "structure",
      "members": {
        "SpectrumConfigAppConfig_object___id__created_on__dns__12_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigAppConfig object { id, created_on, dns, 12 more }"
          }
        },
        "SpectrumConfigPaygoAppConfig_object___id__created_on__dns__3_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SpectrumConfigPaygoAppConfig object { id, created_on, dns, 3 more }"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.spectrum#AppsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.spectrum#AppsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.spectrum#AppsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/zones/{zone_id}/spectrum/apps/{app_id}",
          "code": 200
        },
        "smithy.api#documentation": "Updates a previously existing application's configuration that uses a name for the origin.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.spectrum#Spectrum": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.spectrum#AnalyticsAggregatesCurrentsGet"
        },
        {
          "target": "com.cloudflare.spectrum#AnalyticsEventsBytimesGet"
        },
        {
          "target": "com.cloudflare.spectrum#AnalyticsEventsSummariesGet"
        },
        {
          "target": "com.cloudflare.spectrum#AppsCreate"
        },
        {
          "target": "com.cloudflare.spectrum#AppsDelete"
        },
        {
          "target": "com.cloudflare.spectrum#AppsGet"
        },
        {
          "target": "com.cloudflare.spectrum#AppsList"
        },
        {
          "target": "com.cloudflare.spectrum#AppsUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Spectrum",
        "smithy.api#documentation": "Cloudflare API — spectrum resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
