{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the dispatch namespace."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateResponse": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a \"trusted\" manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are \"untrusted\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Workers for Platforms namespace."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Workers for Platforms namespace.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesGetResponse": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a \"trusted\" manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are \"untrusted\"."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}",
          "code": 200
        },
        "smithy.api#documentation": "Get a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultItem": {
      "type": "structure",
      "members": {
        "created_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "modified_by": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "namespace_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "API Resource UUID tag."
          }
        },
        "namespace_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace."
          }
        },
        "script_count": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The current number of scripts in this Dispatch Namespace."
          }
        },
        "trusted_workers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Workers in the namespace are executed in a \"trusted\" manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are \"untrusted\"."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces",
          "code": 200
        },
        "smithy.api#documentation": "Fetch a list of Workers for Platforms namespaces.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, delete will not be stopped by associated service binding, durable object, or other binding. Any of these associated bindings/durable objects will be deleted along with the script.",
            "smithy.api#httpQuery": "force"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a worker from a Workers for Platforms namespace. This call has no response body on a successful delete.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
          "code": 200
        },
        "smithy.api#documentation": "Fetch information about a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestBindingsInherit": {
      "type": "enum",
      "members": {
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "strict"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "bindings_inherit": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequestBindingsInherit",
          "traits": {
            "smithy.api#documentation": "When set to \"strict\", the upload will fail if any `inherit` type bindings cannot be resolved against the previous version of the script. Without this, unresolvable inherit bindings are silently dropped.",
            "smithy.api#httpQuery": "bindings_inherit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItemHandlersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItem": {
      "type": "structure",
      "members": {
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItemHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the named export."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the export."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacement": {
      "type": "structure",
      "members": {
        "object___mode__last_analyzed_at__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { mode, last_analyzed_at, status }"
          }
        },
        "object___region__last_analyzed_at__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { region, last_analyzed_at, status }"
          }
        },
        "object___hostname__last_analyzed_at__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { hostname, last_analyzed_at, status }"
          }
        },
        "object___host__last_analyzed_at__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { host, last_analyzed_at, status }"
          }
        },
        "object___mode__region__last_analyzed_at__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { mode, region, last_analyzed_at, status }"
          }
        },
        "object___hostname__mode__last_analyzed_at__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { hostname, mode, last_analyzed_at, status }"
          }
        },
        "object___host__mode__last_analyzed_at__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { host, mode, last_analyzed_at, status }"
          }
        },
        "object___mode__target__last_analyzed_at__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { mode, target, last_analyzed_at, status }"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementMode": {
      "type": "enum",
      "members": {
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smart"
          }
        },
        "TARGETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "targeted"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "UNSUPPORTED_APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_APPLICATION"
          }
        },
        "INSUFFICIENT_INVOCATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_INVOCATIONS"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponse": {
      "type": "structure",
      "members": {
        "startup_time_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name used to identify the script."
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a `compatibility_date`."
          }
        },
        "created_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was created."
          }
        },
        "entry_point": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The entry point for the script."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hashed script content, can be used in a If-None-Match header when updating."
          }
        },
        "handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseHandlersList",
          "traits": {
            "smithy.api#documentation": "The names of handlers exported as part of the default export."
          }
        },
        "has_assets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains assets."
          }
        },
        "has_modules": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether a Worker contains modules."
          }
        },
        "last_deployed_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client most recently used to deploy this Worker."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Logpush is turned on for the Worker."
          }
        },
        "migration_tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag of the Durable Object migration that was most recently applied for this Worker."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the script was last modified."
          }
        },
        "named_handlers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseNamedHandlersList",
          "traits": {
            "smithy.api#documentation": "Named exports, such as Durable Object class implementations and named entrypoints."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "placement": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacement",
          "traits": {
            "smithy.api#documentation": "Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host."
          }
        },
        "placement_mode": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementMode"
        },
        "placement_status": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponsePlacementStatus"
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The immutable ID of the script."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseTailConsumersList",
          "traits": {
            "smithy.api#documentation": "List of Workers that will consume logs from the attached Worker."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponseUsageModel",
          "traits": {
            "smithy.api#documentation": "Usage model for the Worker invocations."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}",
          "code": 200
        },
        "smithy.api#documentation": "Upload a worker module to a Workers for Platforms namespace. You can find more about the multipart metadata on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequestManifestMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "manifest": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequestManifestMap",
          "traits": {
            "smithy.api#documentation": "A manifest ([path]: {hash, size}) map of files to upload. As an example, `/blog/hello-world.html` would be a valid path key.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponseBucketsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponse": {
      "type": "structure",
      "members": {
        "buckets": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponseBucketsList",
          "traits": {
            "smithy.api#documentation": "The requests to make to upload assets."
          }
        },
        "jwt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JWT to use as authentication for uploading assets."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsAssetUploadCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/assets-upload-session",
          "code": 200
        },
        "smithy.api#documentation": "Start uploading a collection of assets for use in a Worker version. To learn more about the direct uploads of assets, see https://developers.cloudflare.com/workers/static-assets/direct-upload/."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItem": {
      "type": "structure",
      "members": {
        "AI_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AI object { name, type }"
          }
        },
        "AISearch_object___instance_name__name__type__namespace__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AISearch object { instance_name, name, type, namespace }"
          }
        },
        "AISearchNamespace_object___name__namespace__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AISearchNamespace object { name, namespace, type }"
          }
        },
        "AnalyticsEngine_object___dataset__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AnalyticsEngine object { dataset, name, type }"
          }
        },
        "Assets_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Assets object { name, type }"
          }
        },
        "Browser_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Browser object { name, type }"
          }
        },
        "D1_object___database_id__name__type__id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "D1 object { database_id, name, type, id }"
          }
        },
        "DataBlob_object___name__part__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DataBlob object { name, part, type }"
          }
        },
        "DispatchNamespace_object___name__namespace__type__outbound__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DispatchNamespace object { name, namespace, type, outbound }"
          }
        },
        "DurableObjectNamespace_object___name__type__class_name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DurableObjectNamespace object { name, type, class_name, 4 more }"
          }
        },
        "Hyperdrive_object___id__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Hyperdrive object { id, name, type }"
          }
        },
        "Inherit_object___name__type__old_name__version_id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Inherit object { name, type, old_name, version_id }"
          }
        },
        "Images_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Images object { name, type }"
          }
        },
        "Json_object___json__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Json object { json, name, type }"
          }
        },
        "KVNamespace_object___name__namespace_id__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "KVNamespace object { name, namespace_id, type }"
          }
        },
        "Media_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Media object { name, type }"
          }
        },
        "MTLSCertificate_object___certificate_id__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "MTLSCertificate object { certificate_id, name, type }"
          }
        },
        "PlainText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PlainText object { name, text, type }"
          }
        },
        "Pipelines_object___name__pipeline__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Pipelines object { name, pipeline, type }"
          }
        },
        "Queue_object___name__queue_name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Queue object { name, queue_name, type }"
          }
        },
        "Ratelimit_object___name__namespace_id__simple__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Ratelimit object { name, namespace_id, simple, type }"
          }
        },
        "R2Bucket_object___bucket_name__name__type__jurisdiction__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "R2Bucket object { bucket_name, name, type, jurisdiction }"
          }
        },
        "SecretText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretText object { name, text, type }"
          }
        },
        "SendEmail_object___name__type__allowed_destination_addresses__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SendEmail object { name, type, allowed_destination_addresses, 2 more }"
          }
        },
        "Service_object___name__service__type__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Service object { name, service, type, 2 more }"
          }
        },
        "TextBlob_object___name__part__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TextBlob object { name, part, type }"
          }
        },
        "Vectorize_object___index_name__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Vectorize object { index_name, name, type }"
          }
        },
        "VersionMetadata_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "VersionMetadata object { name, type }"
          }
        },
        "SecretsStoreSecret_object___name__secret_name__store_id__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretsStoreSecret object { name, secret_name, store_id, type }"
          }
        },
        "Flagship_object___app_id__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Flagship object { app_id, name, type }"
          }
        },
        "SecretKey_object___algorithm__format__name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretKey object { algorithm, format, name, 4 more }"
          }
        },
        "Workflow_object___name__type__workflow_name__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Workflow object { name, type, workflow_name, 2 more }"
          }
        },
        "WasmModule_object___name__part__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WasmModule object { name, part, type }"
          }
        },
        "VPCService_object___name__service_id__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "VPCService object { name, service_id, type }"
          }
        },
        "VPCNetwork_object___name__type__network_id__tunnel_id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "VPCNetwork object { name, type, network_id, tunnel_id }"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsBindingsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/bindings",
          "code": 200
        },
        "smithy.api#documentation": "Fetch script bindings from a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/content",
          "code": 200
        },
        "smithy.api#documentation": "Fetch script content from a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "_CF_WORKER_BODY_PART_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "\"CF-WORKER-BODY-PART\""
          }
        },
        "_CF_WORKER_MAIN_MODULE_PART_": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "\"CF-WORKER-MAIN-MODULE-PART\""
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsContentUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/content",
          "code": 200
        },
        "smithy.api#documentation": "Put script content for a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestVersionTagsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "secrets": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestSecretsMap",
          "traits": {
            "smithy.api#documentation": "Map of secret names to secret values:"
          }
        },
        "version_tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequestVersionTagsMap",
          "traits": {
            "smithy.api#documentation": "Optional version tags to apply to the new script version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResultMap",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsBulkUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets-bulk",
          "code": 200
        },
        "smithy.api#documentation": "Create, update, or delete multiple secrets on a script in a single operation using JSON Merge Patch (RFC 7396). Usage: - To create or update a secret, set its value to a secret object. - To delete a secret, set its value to `null`. - Secrets not included in the request are left unchanged."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the secret binding.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "url_encoded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates whether the secret name is URL encoded.",
            "smithy.api#httpQuery": "url_encoded"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsDeleteResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets/{secret_name}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a secret from a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "secret_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A JavaScript variable name for the secret binding.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "url_encoded": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Flag that indicates whether the secret name is URL encoded.",
            "smithy.api#httpQuery": "url_encoded"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsGetResponse": {
      "type": "structure",
      "members": {
        "SecretText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretText object { name, text, type }"
          }
        },
        "SecretKey_object___algorithm__format__name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretKey object { algorithm, format, name, 4 more }"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets/{secret_name}",
          "code": 200
        },
        "smithy.api#documentation": "Get a given secret binding (value omitted) on a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsListResultItem": {
      "type": "structure",
      "members": {
        "SecretText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretText object { name, text, type }"
          }
        },
        "SecretKey_object___algorithm__format__name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretKey object { algorithm, format, name, 4 more }"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsListResultItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsListRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets",
          "code": 200
        },
        "smithy.api#documentation": "List secrets bound to a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsUpdateRequestBody": {
      "type": "structure",
      "members": {
        "SecretText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretText object { name, text, type }"
          }
        },
        "SecretKey_object___algorithm__format__name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretKey object { algorithm, format, name, 4 more }"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsUpdateRequestBody",
          "traits": {
            "smithy.api#documentation": "A secret value accessible through a binding.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsUpdateResponse": {
      "type": "structure",
      "members": {
        "SecretText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretText object { name, text, type }"
          }
        },
        "SecretKey_object___algorithm__format__name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretKey object { algorithm, format, name, 4 more }"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSecretsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets",
          "code": 200
        },
        "smithy.api#documentation": "Add a secret to a script uploaded to a Workers for Platforms namespace.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseBindingsItem": {
      "type": "structure",
      "members": {
        "AI_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AI object { name, type }"
          }
        },
        "AISearch_object___instance_name__name__type__namespace__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AISearch object { instance_name, name, type, namespace }"
          }
        },
        "AISearchNamespace_object___name__namespace__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AISearchNamespace object { name, namespace, type }"
          }
        },
        "AnalyticsEngine_object___dataset__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AnalyticsEngine object { dataset, name, type }"
          }
        },
        "Assets_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Assets object { name, type }"
          }
        },
        "Browser_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Browser object { name, type }"
          }
        },
        "D1_object___database_id__name__type__id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "D1 object { database_id, name, type, id }"
          }
        },
        "DataBlob_object___name__part__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DataBlob object { name, part, type }"
          }
        },
        "DispatchNamespace_object___name__namespace__type__outbound__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DispatchNamespace object { name, namespace, type, outbound }"
          }
        },
        "DurableObjectNamespace_object___name__type__class_name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "DurableObjectNamespace object { name, type, class_name, 4 more }"
          }
        },
        "Hyperdrive_object___id__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Hyperdrive object { id, name, type }"
          }
        },
        "Inherit_object___name__type__old_name__version_id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Inherit object { name, type, old_name, version_id }"
          }
        },
        "Images_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Images object { name, type }"
          }
        },
        "Json_object___json__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Json object { json, name, type }"
          }
        },
        "KVNamespace_object___name__namespace_id__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "KVNamespace object { name, namespace_id, type }"
          }
        },
        "Media_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Media object { name, type }"
          }
        },
        "MTLSCertificate_object___certificate_id__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "MTLSCertificate object { certificate_id, name, type }"
          }
        },
        "PlainText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "PlainText object { name, text, type }"
          }
        },
        "Pipelines_object___name__pipeline__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Pipelines object { name, pipeline, type }"
          }
        },
        "Queue_object___name__queue_name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Queue object { name, queue_name, type }"
          }
        },
        "Ratelimit_object___name__namespace_id__simple__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Ratelimit object { name, namespace_id, simple, type }"
          }
        },
        "R2Bucket_object___bucket_name__name__type__jurisdiction__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "R2Bucket object { bucket_name, name, type, jurisdiction }"
          }
        },
        "SecretText_object___name__text__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretText object { name, text, type }"
          }
        },
        "SendEmail_object___name__type__allowed_destination_addresses__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SendEmail object { name, type, allowed_destination_addresses, 2 more }"
          }
        },
        "Service_object___name__service__type__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Service object { name, service, type, 2 more }"
          }
        },
        "TextBlob_object___name__part__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "TextBlob object { name, part, type }"
          }
        },
        "Vectorize_object___index_name__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Vectorize object { index_name, name, type }"
          }
        },
        "VersionMetadata_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "VersionMetadata object { name, type }"
          }
        },
        "SecretsStoreSecret_object___name__secret_name__store_id__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretsStoreSecret object { name, secret_name, store_id, type }"
          }
        },
        "Flagship_object___app_id__name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Flagship object { app_id, name, type }"
          }
        },
        "SecretKey_object___algorithm__format__name__4_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "SecretKey object { algorithm, format, name, 4 more }"
          }
        },
        "Workflow_object___name__type__workflow_name__2_more__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Workflow object { name, type, workflow_name, 2 more }"
          }
        },
        "WasmModule_object___name__part__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "WasmModule object { name, part, type }"
          }
        },
        "VPCService_object___name__service_id__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "VPCService object { name, service_id, type }"
          }
        },
        "VPCNetwork_object___name__type__network_id__tunnel_id__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "VPCNetwork object { name, type, network_id, tunnel_id }"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseBindingsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseBindingsItem"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseCompatibilityFlagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseLimits": {
      "type": "structure",
      "members": {
        "cpu_ms": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of CPU time this Worker can use in milliseconds."
          }
        },
        "subrequests": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number of subrequests this Worker can make per request."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityLogsDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityLogs": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether logs are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "invocation_logs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether [invocation logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs) are enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityLogsDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where logs will be exported to."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether log persistence is enabled for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityTracesDestinationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityTracesPropagationPolicy": {
      "type": "enum",
      "members": {
        "AUTHENTICATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated"
          }
        },
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accept"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityTraces": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityTracesDestinationsList",
          "traits": {
            "smithy.api#documentation": "A list of destinations where traces will be exported to."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether traces are enabled for the Worker."
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for traces. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "persist": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether trace persistence is enabled for the Worker."
          }
        },
        "propagation_policy": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityTracesPropagationPolicy",
          "traits": {
            "smithy.api#documentation": "Controls how inbound trace context (traceparent/tracestate) headers on incoming requests are handled. \"authenticated\" (default) honors inbound trace context only when accompanied by a valid trace auth token. \"accept\" unconditionally accepts inbound trace context. Requires the trace propagation feature to be enabled."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservability": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether observability is enabled for the Worker.",
            "smithy.api#required": {}
          }
        },
        "head_sampling_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1 = 10%). Default is 1."
          }
        },
        "logs": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityLogs",
          "traits": {
            "smithy.api#documentation": "Log settings for the Worker."
          }
        },
        "traces": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservabilityTraces",
          "traits": {
            "smithy.api#documentation": "Trace settings for the Worker."
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponsePlacement": {
      "type": "structure",
      "members": {
        "Mode_object___mode__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Mode object { mode }"
          }
        },
        "Region_object___region__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Region object { region }"
          }
        },
        "Hostname_object___hostname__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Hostname object { hostname }"
          }
        },
        "Host_object___host__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "Host object { host }"
          }
        },
        "object___mode__region__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { mode, region }"
          }
        },
        "object___hostname__mode__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { hostname, mode }"
          }
        },
        "object___host__mode__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { host, mode }"
          }
        },
        "object___mode__target__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "object { mode, target }"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseTagsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseTailConsumersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseUsageModel": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "BUNDLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bundled"
          }
        },
        "UNBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unbound"
          }
        }
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponse": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseBindingsList",
          "traits": {
            "smithy.api#documentation": "List of bindings attached to a Worker. You can find more about bindings on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/#bindings."
          }
        },
        "compatibility_date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date indicating targeted support in the Workers runtime. Backwards incompatible fixes to the runtime following this date will not affect this Worker."
          }
        },
        "compatibility_flags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseCompatibilityFlagsList",
          "traits": {
            "smithy.api#documentation": "Flags that enable or disable certain features in the Workers runtime. Used to enable upcoming features or opt in or out of specific changes not included in a `compatibility_date`."
          }
        },
        "limits": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseLimits",
          "traits": {
            "smithy.api#documentation": "Limits to apply for this Worker."
          }
        },
        "logpush": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Logpush is turned on for the Worker."
          }
        },
        "migrations": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Migrations to apply for Durable Objects associated with this Worker."
          }
        },
        "observability": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseObservability",
          "traits": {
            "smithy.api#documentation": "Observability settings for the Worker."
          }
        },
        "placement": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponsePlacement",
          "traits": {
            "smithy.api#documentation": "Configuration for [Smart Placement](https://developers.cloudflare.com/workers/configuration/smart-placement). Specify mode='smart' for Smart Placement, or one of region/hostname/host."
          }
        },
        "tags": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseTagsList",
          "traits": {
            "smithy.api#documentation": "Tags associated with the Worker."
          }
        },
        "tail_consumers": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseTailConsumersList",
          "traits": {
            "smithy.api#documentation": "List of Workers that will consume logs from the attached Worker."
          }
        },
        "usage_model": {
          "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponseUsageModel",
          "traits": {
            "smithy.api#documentation": "Usage model for the Worker invocations."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/settings",
          "code": 200
        },
        "smithy.api#documentation": "Patch script metadata, such as bindings."
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dispatch_namespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Workers for Platforms dispatch namespace.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "script_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the script, used in URLs and route configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.workers_for_platforms#DispatchNamespacesScriptsSettingsGetResponseBindingsItem": {
      "type": "structure",
      "members": {
        "AI_object___name__type__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "AI object { name, type }"
          }
        },
[...]
