openapi: 3.1.0
info:
  title: Cloudflare Containers API
  version: 0.0.0
  description: Reverse-engineered low-level Cloudflare Containers API.
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: containers
paths:
  /accounts/{account_id}/containers/applications:
    get:
      operationId: listContainerApplications
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
      summary: List container applications
      parameters:
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: Container applications
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ContainerApplication"
    post:
      operationId: createContainerApplication
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
        DurableObjectAlreadyHasApplication:
          - code: 1608
            message:
              includes: DURABLE_OBJECT_ALREADY_HAS_APPLICATION
        DurableObjectNotContainerEnabled:
          - code: 1607
            message:
              includes: DURABLE_OBJECT_NOT_CONTAINER_ENABLED
      summary: Create container application
      parameters:
        - $ref: "#/components/parameters/AccountId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContainerApplicationRequest"
      responses:
        "200":
          description: Created container application
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerApplication"

  /accounts/{account_id}/containers/applications/{application_id}:
    get:
      operationId: getContainerApplication
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
        ContainerApplicationNotFound:
          - code: 1609
            message:
              includes: Container application not found
          - code: 1609
            message:
              includes: APPLICATION_NOT_FOUND
      summary: Get container application
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/ApplicationId"
      responses:
        "200":
          description: Container application
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerApplication"
    patch:
      operationId: updateContainerApplication
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
        ContainerApplicationNotFound:
          - code: 1609
            message:
              includes: APPLICATION_NOT_FOUND
      summary: Update container application
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/ApplicationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateContainerApplicationRequest"
      responses:
        "200":
          description: Updated container application
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerApplication"
    delete:
      operationId: deleteContainerApplication
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
        ContainerApplicationNotFound:
          - code: 1609
            message:
              includes: APPLICATION_NOT_FOUND
      summary: Delete container application
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/ApplicationId"
      responses:
        "200":
          description: Deletion result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  /accounts/{account_id}/containers/applications/{application_id}/rollouts:
    post:
      operationId: createContainerApplicationRollout
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
        ContainerApplicationNotFound:
          - code: 1609
            message:
              includes: APPLICATION_NOT_FOUND
      summary: Create container application rollout
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/ApplicationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateContainerRolloutRequest"
      responses:
        "200":
          description: Rollout
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerRollout"

  /accounts/{account_id}/containers/registries/{registry_id}/credentials:
    post:
      operationId: createContainerRegistryCredentials
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
      summary: Create registry credentials
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/RegistryId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegistryCredentialsRequest"
      responses:
        "200":
          description: Registry credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegistryCredentials"

  /accounts/{account_id}/containers/me:
    get:
      operationId: getContainerIdentity
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
      summary: Get container identity
      parameters:
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: Container identity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContainerIdentity"

components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
    ApplicationId:
      name: application_id
      in: path
      required: true
      schema:
        type: string
    RegistryId:
      name: registry_id
      in: path
      required: true
      schema:
        type: string

  schemas:
    ContainerApplication:
      type: object
      required:
        - id
        - account_id
        - name
        - scheduling_policy
        - instances
        - max_instances
        - configuration
        - created_at
        - version
        - health
      properties:
        id:
          type: string
        account_id:
          type: string
        name:
          type: string
        scheduling_policy:
          $ref: "#/components/schemas/SchedulingPolicy"
        instances:
          type: number
        max_instances:
          type: number
        constraints:
          $ref: "#/components/schemas/ApplicationConstraints"
        affinities:
          $ref: "#/components/schemas/ApplicationAffinities"
        configuration:
          $ref: "#/components/schemas/DeploymentConfiguration"
        durable_objects:
          $ref: "#/components/schemas/DurableObjectsBinding"
        created_at:
          type: string
        version:
          type: number
        durable_object_namespace_id:
          type: string
        health:
          $ref: "#/components/schemas/ApplicationHealth"
      additionalProperties: true

    CreateContainerApplicationRequest:
      type: object
      required:
        - name
        - max_instances
        - configuration
      properties:
        name:
          type: string
        max_instances:
          type: number
        configuration:
          $ref: "#/components/schemas/DeploymentConfiguration"
        durable_objects:
          $ref: "#/components/schemas/DurableObjectsBinding"
        instances:
          type: number
        scheduling_policy:
          $ref: "#/components/schemas/SchedulingPolicy"
        constraints:
          $ref: "#/components/schemas/ApplicationConstraints"
        affinities:
          $ref: "#/components/schemas/ApplicationAffinities"
      additionalProperties: true

    UpdateContainerApplicationRequest:
      type: object
      properties:
        instances:
          type: number
        max_instances:
          type: number
        affinities:
          $ref: "#/components/schemas/ApplicationAffinities"
        scheduling_policy:
          $ref: "#/components/schemas/SchedulingPolicy"
        constraints:
          $ref: "#/components/schemas/UpdateApplicationConstraints"
        configuration:
          $ref: "#/components/schemas/DeploymentConfiguration"

    DeploymentConfiguration:
      type: object
      required:
        - image
      properties:
        image:
          type: string
        instance_type:
          $ref: "#/components/schemas/InstanceType"
        observability:
          $ref: "#/components/schemas/DeploymentObservability"
        ssh_public_key_ids:
          type: array
          items:
            type: string
        secrets:
          type: array
          items:
            $ref: "#/components/schemas/DeploymentSecret"
        vcpu:
          type: number
        memory:
          type: string
        disk:
          $ref: "#/components/schemas/DeploymentDisk"
        environment_variables:
          type: array
          items:
            $ref: "#/components/schemas/NameValuePair"
        labels:
          type: array
          items:
            $ref: "#/components/schemas/NameValuePair"
        network:
          $ref: "#/components/schemas/DeploymentNetwork"
        command:
          type: array
          items:
            type: string
        entrypoint:
          type: array
          items:
            type: string
        dns:
          $ref: "#/components/schemas/DeploymentDns"
        ports:
          type: array
          items:
            $ref: "#/components/schemas/DeploymentPort"
        checks:
          type: array
          items:
            $ref: "#/components/schemas/DeploymentCheck"
      additionalProperties: true

    CreateContainerRolloutRequest:
      type: object
      required:
        - description
        - strategy
        - step_percentage
        - target_configuration
      properties:
        description:
          type: string
        strategy:
          type: string
          enum: [rolling]
        kind:
          type: string
          enum: [full_auto]
        step_percentage:
          type: number
        target_configuration:
          $ref: "#/components/schemas/DeploymentConfiguration"

    ContainerRollout:
      type: object
      required:
        - id
        - created_at
        - last_updated_at
        - description
        - status
        - health
        - kind
        - strategy
        - current_configuration
        - target_configuration
        - current_version
        - target_version
        - steps
        - progress
      properties:
        id:
          type: string
        created_at:
          type: string
        last_updated_at:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [progressing, completed, failed]
        health:
          $ref: "#/components/schemas/RolloutHealth"
        kind:
          type: string
          enum: [full_auto]
        strategy:
          type: string
          enum: [rolling]
        current_configuration:
          $ref: "#/components/schemas/RolloutCurrentConfiguration"
        target_configuration:
          $ref: "#/components/schemas/DeploymentConfiguration"
        current_version:
          type: number
        target_version:
          type: number
        steps:
          type: array
          items:
            $ref: "#/components/schemas/ContainerRolloutStep"
        progress:
          $ref: "#/components/schemas/ContainerRolloutProgress"

    RegistryCredentialsRequest:
      type: object
      required:
        - permissions
        - expiration_minutes
      properties:
        permissions:
          type: array
          items:
            type: string
            enum: [pull, push]
        expiration_minutes:
          type: number

    RegistryCredentials:
      type: object
      required:
        - password
      properties:
        user:
          type: string
        username:
          type: string
        password:
          type: string

    ContainerIdentity:
      type: object
      required:
        - external_account_id
        - legacy_identity
        - limits
        - locations
        - defaults
      properties:
        account_id:
          type: string
        external_account_id:
          type: string
        legacy_identity:
          type: string
        capabilities:
          type: array
          items:
            type: string
        limits:
          $ref: "#/components/schemas/ContainerIdentityLimits"
        locations:
          type: array
          items: {}
        defaults:
          $ref: "#/components/schemas/ContainerIdentityDefaults"

    SchedulingPolicy:
      type: string
      enum: [moon, gpu, regional, fill_metals, default]

    InstanceType:
      type: string
      enum: [lite, dev, basic, standard, standard-1, standard-2, standard-3, standard-4]

    ApplicationConstraints:
      type: object
      properties:
        tier:
          type: number
      additionalProperties: true

    UpdateApplicationConstraints:
      type: object
      properties:
        tier:
          type: number
        region:
          $ref: "#/components/schemas/Region"
        regions:
          type: array
          items:
            $ref: "#/components/schemas/Region"
        cities:
          type: array
          items:
            $ref: "#/components/schemas/City"

    ApplicationAffinities:
      type: object
      properties:
        colocation:
          type: string
          enum: [datacenter]

    DurableObjectsBinding:
      type: object
      required:
        - namespace_id
      properties:
        namespace_id:
          type: string
      additionalProperties: true

    ApplicationHealth:
      type: object
      required:
        - instances
      properties:
        instances: {}
      additionalProperties: true

    DeploymentObservability:
      type: object
      properties:
        logs:
          type: object
          required:
            - enabled
          properties:
            enabled:
              type: boolean

    DeploymentSecret:
      type: object
      required:
        - name
        - type
        - secret
      properties:
        name:
          type: string
        type:
          type: string
          enum: [env]
        secret:
          type: string

    DeploymentDisk:
      type: object
      required:
        - size
      properties:
        size:
          type: string

    NameValuePair:
      type: object
      required:
        - name
        - value
      properties:
        name:
          type: string
        value:
          type: string

    DeploymentNetwork:
      type: object
      properties:
        assign_ipv4:
          type: string
          enum: [none, predefined, account]
        assign_ipv6:
          type: string
          enum: [none, predefined, account]
        mode:
          type: string
          enum: [public, private]

    DeploymentDns:
      type: object
      properties:
        servers:
          type: array
          items:
            type: string
        searches:
          type: array
          items:
            type: string

    DeploymentPort:
      type: object
      required:
        - name
      properties:
        name:
          type: string
        port:
          type: number

    DeploymentCheck:
      type: object
      required:
        - type
        - port
        - interval
        - timeout
        - kind
      properties:
        name:
          type: string
        type:
          type: string
          enum: [http, tcp]
        tls:
          type: boolean
        port:
          type: string
        http:
          $ref: "#/components/schemas/DeploymentHttpCheck"
        interval:
          $ref: "#/components/schemas/Duration"
        timeout:
          $ref: "#/components/schemas/Duration"
        retries:
          type: number
        kind:
          type: string
          enum: [health, ready]

    DeploymentHttpCheck:
      type: object
      properties:
        method:
          type: string
          enum: [GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD]
        body:
          type: string
        path:
          type: string
        headers:
          type: object
          additionalProperties: true

    RolloutHealth:
      type: object
      required:
        - instances
      properties:
        instances:
          $ref: "#/components/schemas/RolloutInstanceHealth"

    RolloutInstanceHealth:
      type: object
      required:
        - healthy
        - failed
        - starting
        - scheduling
      properties:
        healthy:
          type: number
        failed:
          type: number
        starting:
          type: number
        scheduling:
          type: number

    RolloutCurrentConfiguration:
      type: object
      required:
        - image
      properties:
        image:
          type: string
        observability:
          $ref: "#/components/schemas/DeploymentObservability"

    ContainerRolloutStep:
      type: object
      required:
        - id
        - status
        - step_size
        - description
      properties:
        id:
          type: number
        status:
          type: string
          enum: [progressing, pending, completed, failed]
        step_size:
          $ref: "#/components/schemas/RolloutStepSize"
        description:
          type: string
        started_at:
          type: string

    RolloutStepSize:
      type: object
      required:
        - percentage
      properties:
        percentage:
          type: number

    ContainerRolloutProgress:
      type: object
      required:
        - total_steps
        - current_step
        - updated_instances
        - total_instances
      properties:
        total_steps:
          type: number
        current_step:
          type: number
        updated_instances:
          type: number
        total_instances:
          type: number

    ContainerIdentityLimits:
      type: object
      required:
        - account_id
        - vcpu_per_deployment
        - memory_mib_per_deployment
        - memory_per_deployment
        - disk_per_deployment
        - disk_mb_per_deployment
        - total_vcpu
        - total_memory_mib
        - node_group
        - ipv4s
        - network_modes
        - total_disk_mb
        - total_memory
      properties:
        account_id:
          type: string
        vcpu_per_deployment:
          type: number
        memory_mib_per_deployment:
          type: number
        memory_per_deployment:
          type: string
        disk_per_deployment:
          type: string
        disk_mb_per_deployment:
          type: number
        total_vcpu:
          type: number
        total_memory_mib:
          type: number
        node_group:
          type: string
        ipv4s:
          type: number
        network_modes:
          type: array
          items:
            type: string
        total_disk_mb:
          type: number
        total_memory:
          type: string

    ContainerIdentityDefaults:
      type: object
      required:
        - vcpus
        - memory_mib
        - memory
        - disk_mb
      properties:
        vcpus:
          type: number
        memory_mib:
          type: number
        memory:
          type: string
        disk_mb:
          type: number

    Region:
      type: string
      enum: [AFR, APAC, EEUR, ENAM, WNAM, ME, OC, SAM, WEUR]

    City:
      type: string
      enum: [AFR, APAC, EEUR, ENAM, WNAM, ME, OC, SAM, WEUR]

    Duration:
      type: string
