openapi: 3.1.0
info:
  title: Cloudflare Workers API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: workers
paths:
  /zones/{zone_id}/workers/edge-preview:
    get:
      operationId: createZoneEdgePreviewSession
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
      summary: Create an edge preview session scoped to a zone
      parameters:
        - $ref: "#/components/parameters/ZoneId"
      responses:
        "200":
          description: Edge preview session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgePreviewSession"

  /accounts/{account_id}/workers/subdomain/edge-preview:
    get:
      operationId: createSubdomainEdgePreviewSession
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
      summary: Create an edge preview session on the workers.dev subdomain
      parameters:
        - $ref: "#/components/parameters/AccountId"
      responses:
        "200":
          description: Edge preview session
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgePreviewSession"

  /accounts/{account_id}/workers/scripts/{script_name}/edge-preview:
    post:
      operationId: createScriptEdgePreview
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
      summary: Upload a worker script and create an edge preview token
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/ScriptName"
        - name: cf-preview-upload-config-token
          in: header
          required: true
          description: The session token returned by createZoneEdgePreviewSession or createSubdomainEdgePreviewSession.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  $ref: "#/components/schemas/WorkerUploadMetadata"
                files:
                  type: array
                  description: Module files comprising the worker script.
                  items:
                    type: string
                    format: binary
                wrangler-session-config:
                  $ref: "#/components/schemas/PreviewSessionConfig"
      responses:
        "200":
          description: Edge preview token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgePreviewToken"

  /accounts/{account_id}/workers/services/{service_name}/environments/{environment_name}/edge-preview:
    post:
      operationId: createServiceEdgePreview
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
            message:
              includes: Could not route
      summary: Upload a worker to a service environment and create an edge preview token
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/ServiceName"
        - $ref: "#/components/parameters/EnvironmentName"
        - name: cf-preview-upload-config-token
          in: header
          required: true
          description: The session token returned by createZoneEdgePreviewSession or createSubdomainEdgePreviewSession.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  $ref: "#/components/schemas/WorkerUploadMetadata"
                files:
                  type: array
                  description: Module files comprising the worker script.
                  items:
                    type: string
                    format: binary
                wrangler-session-config:
                  $ref: "#/components/schemas/PreviewSessionConfig"
      responses:
        "200":
          description: Edge preview token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EdgePreviewToken"

components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
    ZoneId:
      name: zone_id
      in: path
      required: true
      schema:
        type: string
    ScriptName:
      name: script_name
      in: path
      required: true
      schema:
        type: string
    ServiceName:
      name: service_name
      in: path
      required: true
      schema:
        type: string
    EnvironmentName:
      name: environment_name
      in: path
      required: true
      schema:
        type: string

  schemas:
    EdgePreviewSession:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: Session token used as cf-preview-upload-config-token when uploading a preview worker.
        exchange_url:
          type: string
          description: Optional URL to exchange the token for a re-encoded version.

    EdgePreviewToken:
      type: object
      required:
        - preview_token
        - tail_url
      properties:
        preview_token:
          type: string
          description: Token to send as cf-workers-preview-token header when making requests to the preview host.
        tail_url:
          type: string
          description: URL for tailing live logs from the preview worker.

    PreviewSessionConfig:
      oneOf:
        - type: object
          required:
            - workers_dev
          properties:
            workers_dev:
              type: boolean
              enum: [true]
            minimal_mode:
              type: boolean
        - type: object
          required:
            - routes
          properties:
            routes:
              type: array
              items:
                type: string
            minimal_mode:
              type: boolean

    WorkerUploadMetadata:
      type: object
      properties:
        main_module:
          type: string
          description: Entry point module name (ES module format).
        body_part:
          type: string
          description: Entry point part name (service worker format).
        compatibility_date:
          type: string
        compatibility_flags:
          type: array
          items:
            type: string
        usage_model:
          type: string
          enum: [bundled, unbound, standard]
        bindings:
          type: array
          items:
            $ref: "#/components/schemas/WorkerMetadataBinding"
        keep_bindings:
          type: array
          items:
            type: string
        migrations:
          $ref: "#/components/schemas/DurableObjectMigrations"
        capnp_schema:
          type: string
        logpush:
          type: boolean
        placement:
          $ref: "#/components/schemas/WorkerPlacement"
        tail_consumers:
          type: array
          items:
            $ref: "#/components/schemas/TailConsumer"
        streaming_tail_consumers:
          type: array
          items:
            $ref: "#/components/schemas/TailConsumer"
        limits:
          type: object
          properties:
            cpu_ms:
              type: number
            subrequests:
              type: number
        assets:
          type: object
          properties:
            jwt:
              type: string
            config:
              $ref: "#/components/schemas/AssetConfigMetadata"
        observability:
          $ref: "#/components/schemas/WorkerObservability"
        containers:
          type: array
          items:
            type: object
            required:
              - class_name
            properties:
              class_name:
                type: string
        annotations:
          type: object
          additionalProperties:
            type: string
        keep_assets:
          type: boolean
        tags:
          type: array
          items:
            type: string
      additionalProperties: true

    WorkerMetadataBinding:
      oneOf:
        # plain_text
        - type: object
          required: [type, name, text]
          properties:
            type:
              type: string
              enum: [plain_text]
            name:
              type: string
            text:
              type: string

        # secret_text
        - type: object
          required: [type, name, text]
          properties:
            type:
              type: string
              enum: [secret_text]
            name:
              type: string
            text:
              type: string

        # json
        - type: object
          required: [type, name, json]
          properties:
            type:
              type: string
              enum: [json]
            name:
              type: string
            json: {}

        # kv_namespace — supports raw
        - type: object
          required: [type, name, namespace_id]
          properties:
            type:
              type: string
              enum: [kv_namespace]
            name:
              type: string
            namespace_id:
              type: string
            raw:
              type: boolean

        # durable_object_namespace
        - type: object
          required: [type, name, class_name]
          properties:
            type:
              type: string
              enum: [durable_object_namespace]
            name:
              type: string
            class_name:
              type: string
            script_name:
              type: string
            environment:
              type: string
            namespace_id:
              type: string

        # r2_bucket — supports raw
        - type: object
          required: [type, name, bucket_name]
          properties:
            type:
              type: string
              enum: [r2_bucket]
            name:
              type: string
            bucket_name:
              type: string
            jurisdiction:
              type: string
            raw:
              type: boolean

        # d1 — supports raw
        - type: object
          required: [type, name, id]
          properties:
            type:
              type: string
              enum: [d1]
            name:
              type: string
            id:
              type: string
            internalEnv:
              type: string
            raw:
              type: boolean

        # queue — supports raw
        - type: object
          required: [type, name, queue_name]
          properties:
            type:
              type: string
              enum: [queue]
            name:
              type: string
            queue_name:
              type: string
            delivery_delay:
              type: number
            raw:
              type: boolean

        # service
        - type: object
          required: [type, name, service]
          properties:
            type:
              type: string
              enum: [service]
            name:
              type: string
            service:
              type: string
            environment:
              type: string
            entrypoint:
              type: string
            cross_account_grant:
              type: string

        # ai — supports raw
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [ai]
            name:
              type: string
            staging:
              type: boolean
            raw:
              type: boolean

        # browser — supports raw
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [browser]
            name:
              type: string
            raw:
              type: boolean

        # images — supports raw
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [images]
            name:
              type: string
            raw:
              type: boolean

        # vectorize — supports raw
        - type: object
          required: [type, name, index_name]
          properties:
            type:
              type: string
              enum: [vectorize]
            name:
              type: string
            index_name:
              type: string
            internalEnv:
              type: string
            raw:
              type: boolean

        # workflow — supports raw
        - type: object
          required: [type, name, workflow_name, class_name]
          properties:
            type:
              type: string
              enum: [workflow]
            name:
              type: string
            workflow_name:
              type: string
            class_name:
              type: string
            script_name:
              type: string
            raw:
              type: boolean

        # hyperdrive
        - type: object
          required: [type, name, id]
          properties:
            type:
              type: string
              enum: [hyperdrive]
            name:
              type: string
            id:
              type: string

        # analytics_engine
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [analytics_engine]
            name:
              type: string
            dataset:
              type: string

        # dispatch_namespace
        - type: object
          required: [type, name, namespace]
          properties:
            type:
              type: string
              enum: [dispatch_namespace]
            name:
              type: string
            namespace:
              type: string
            outbound:
              type: object
              properties:
                worker:
                  type: object
                  properties:
                    service:
                      type: string
                    environment:
                      type: string
                params:
                  type: array
                  items:
                    type: object
                    required: [name]
                    properties:
                      name:
                        type: string

        # send_email
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [send_email]
            name:
              type: string
            destination_address:
              type: string
            allowed_destination_addresses:
              type: array
              items:
                type: string
            allowed_sender_addresses:
              type: array
              items:
                type: string

        # mtls_certificate
        - type: object
          required: [type, name, certificate_id]
          properties:
            type:
              type: string
              enum: [mtls_certificate]
            name:
              type: string
            certificate_id:
              type: string

        # wasm_module
        - type: object
          required: [type, name, part]
          properties:
            type:
              type: string
              enum: [wasm_module]
            name:
              type: string
            part:
              type: string

        # text_blob
        - type: object
          required: [type, name, part]
          properties:
            type:
              type: string
              enum: [text_blob]
            name:
              type: string
            part:
              type: string

        # data_blob
        - type: object
          required: [type, name, part]
          properties:
            type:
              type: string
              enum: [data_blob]
            name:
              type: string
            part:
              type: string

        # pipelines
        - type: object
          required: [type, name, pipeline]
          properties:
            type:
              type: string
              enum: [pipelines]
            name:
              type: string
            pipeline:
              type: string

        # secrets_store_secret
        - type: object
          required: [type, name, store_id, secret_name]
          properties:
            type:
              type: string
              enum: [secrets_store_secret]
            name:
              type: string
            store_id:
              type: string
            secret_name:
              type: string

        # stream
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [stream]
            name:
              type: string

        # media
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [media]
            name:
              type: string

        # version_metadata
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [version_metadata]
            name:
              type: string

        # assets
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [assets]
            name:
              type: string

        # worker_loader
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [worker_loader]
            name:
              type: string

        # logfwdr
        - type: object
          required: [type, name, destination]
          properties:
            type:
              type: string
              enum: [logfwdr]
            name:
              type: string
            destination:
              type: string

        # ai_search_namespace
        - type: object
          required: [type, name, namespace]
          properties:
            type:
              type: string
              enum: [ai_search_namespace]
            name:
              type: string
            namespace:
              type: string

        # ai_search
        - type: object
          required: [type, name, instance_name]
          properties:
            type:
              type: string
              enum: [ai_search]
            name:
              type: string
            instance_name:
              type: string

        # ratelimit
        - type: object
          required: [type, name, namespace_id, simple]
          properties:
            type:
              type: string
              enum: [ratelimit]
            name:
              type: string
            namespace_id:
              type: string
            simple:
              type: object
              required: [limit, period]
              properties:
                limit:
                  type: number
                period:
                  type: number
                  enum: [10, 60]

        # artifacts
        - type: object
          required: [type, name, namespace]
          properties:
            type:
              type: string
              enum: [artifacts]
            name:
              type: string
            namespace:
              type: string

        # unsafe_hello_world
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [unsafe_hello_world]
            name:
              type: string
            enable_timer:
              type: boolean

        # flagship
        - type: object
          required: [type, name, app_id]
          properties:
            type:
              type: string
              enum: [flagship]
            name:
              type: string
            app_id:
              type: string

        # vpc_service
        - type: object
          required: [type, name, service_id]
          properties:
            type:
              type: string
              enum: [vpc_service]
            name:
              type: string
            service_id:
              type: string

        # vpc_network
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [vpc_network]
            name:
              type: string
            tunnel_id:
              type: string
            network_id:
              type: string

        # inherit
        - type: object
          required: [type, name]
          properties:
            type:
              type: string
              enum: [inherit]
            name:
              type: string

    DurableObjectMigrations:
      type: object
      properties:
        old_tag:
          type: string
        new_tag:
          type: string
        steps:
          type: array
          items:
            type: object
            properties:
              new_classes:
                type: array
                items:
                  type: string
              new_sqlite_classes:
                type: array
                items:
                  type: string
              renamed_classes:
                type: array
                items:
                  type: object
                  properties:
                    from:
                      type: string
                    to:
                      type: string
              deleted_classes:
                type: array
                items:
                  type: string

    WorkerPlacement:
      oneOf:
        - type: object
          required: [mode]
          properties:
            mode:
              type: string
              enum: [smart]
            hint:
              type: string
        - type: object
          required: [region]
          properties:
            region:
              type: string
        - type: object
          required: [host]
          properties:
            host:
              type: string
        - type: object
          required: [hostname]
          properties:
            hostname:
              type: string

    TailConsumer:
      type: object
      required:
        - service
      properties:
        service:
          type: string
        environment:
          type: string

    AssetConfigMetadata:
      type: object
      properties:
        html_handling:
          type: string
          enum:
            [
              auto-trailing-slash,
              force-trailing-slash,
              drop-trailing-slash,
              none,
            ]
        not_found_handling:
          type: string
          enum: [single-page-application, 404-page, none]
        run_worker_first:
          oneOf:
            - type: boolean
            - type: array
              items:
                type: string
        _redirects:
          type: string
        _headers:
          type: string

    WorkerObservability:
      type: object
      properties:
        enabled:
          type: boolean
        head_sampling_rate:
          type: number
        logs:
          type: object
          properties:
            enabled:
              type: boolean
            head_sampling_rate:
              type: number
            invocation_logs:
              type: boolean
            persist:
              type: boolean
            destinations:
              type: array
              items:
                type: string
        traces:
          type: object
          properties:
            enabled:
              type: boolean
            head_sampling_rate:
              type: number
            persist:
              type: boolean
            destinations:
              type: array
              items:
                type: string
