openapi: 3.1.0
info:
  title: Cloudflare Email Routing API (patch overrides)
  version: 0.0.0
  description: |
    Restores `listRules`, which upstream `cloudflare-typescript` removed from
    its generated `Rules` class in v6.5.0 (commit 90eea55,
    "chore(email-routing): update codegen output"
    https://github.com/cloudflare/cloudflare-typescript/commit/90eea555f6e84cbc4002704af4b8e1645b842acb).
    That commit only deleted the `list()` method (and its
    `RuleListParams`/`EmailRoutingRulesV4PagePaginationArray` types) from the
    SDK's internal spec — the underlying `GET /zones/{zone_id}/email/routing/rules`
    endpoint is unaffected (still documented at
    https://developers.cloudflare.com/api/node/resources/email_routing/subresources/rules/methods/list/)
    and `create`/`update`/`delete`/`get` for rules were untouched. This file
    re-declares the operation exactly as it existed pre-removal so
    `emailRouting.listRules` keeps working; drop this patch once Cloudflare
    restores the method upstream.
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: email-routing
paths:
  /zones/{zone_id}/email/routing/rules:
    get:
      operationId: listRules
      summary: Lists existing routing rules.
      x-distilled-pagination-class: V4PagePaginationArray
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: Page number of paginated results.
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          description: Maximum number of results per page.
          schema:
            type: number
        - name: enabled
          in: query
          required: false
          description: Filter by enabled routing rules.
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Routing rule.
                properties:
                  id:
                    type: string
                    nullable: true
                    description: Routing rule identifier.
                  actions:
                    type: array
                    nullable: true
                    description: List actions patterns.
                    items:
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum: [drop, forward, worker]
                          description: Type of supported action.
                        value:
                          type: array
                          nullable: true
                          items:
                            type: string
                  enabled:
                    type: boolean
                    nullable: true
                    description: Routing rule status.
                  matchers:
                    type: array
                    nullable: true
                    description: Matching patterns to forward to your actions.
                    items:
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum: [all, literal]
                          description: Type of matcher.
                        field:
                          type: string
                          enum: [to]
                          nullable: true
                          description: Field for type matcher.
                        value:
                          type: string
                          nullable: true
                          description: Value for matcher.
                  name:
                    type: string
                    nullable: true
                    description: Routing rule name.
                  priority:
                    type: number
                    nullable: true
                    description: Priority of the routing rule.
                  tag:
                    type: string
                    nullable: true
                    description: Routing rule tag. (Deprecated, replaced by routing rule identifier)
