openapi: 3.1.0
info:
  title: Cloudflare Provisioning API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
# These endpoints are not part of the official Cloudflare OpenAPI / TypeScript
# SDK. They back wrangler's `wrangler deploy --temporary` flow, which provisions
# a short-lived "temporary preview account" so an agent can deploy without first
# signing up. See https://blog.cloudflare.com/temporary-accounts/ and
# workers-sdk: packages/workers-auth/src/temporary.ts.
#
# Both endpoints are public (no API token required) and are gated behind a
# proof-of-work challenge to deter abuse:
#   1. POST /provisioning/previews/challenge  -> mint a PoW challenge
#   2. solve the challenge client-side (sequential SHA-256 chain)
#   3. POST /provisioning/previews            -> redeem the solution for an account
x-distilled-service: provisioning
paths:
  /provisioning/previews/challenge:
    post:
      operationId: createTemporaryAccountChallenge
      x-distilled-response-path: result
      summary: Request a proof-of-work challenge for temporary account provisioning
      description: >-
        Mints a proof-of-work challenge that must be solved before a temporary
        preview account can be created. The challenge is a sequential SHA-256
        chain of `k` segments of `g` hashes each, seeded by `seed`.
      responses:
        "200":
          description: Proof-of-work challenge
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemporaryAccountChallenge"

  /provisioning/previews:
    post:
      operationId: createTemporaryAccount
      x-distilled-response-path: result
      summary: Create a temporary preview account
      description: >-
        Redeems a solved proof-of-work challenge for a short-lived temporary
        preview account. Returns an account-scoped API token and a claim URL a
        human can use to convert the temporary account into a permanent one. The
        account and claim both expire (typically after ~60 minutes).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTemporaryAccountRequest"
      responses:
        "200":
          description: Temporary preview account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemporaryAccount"

components:
  schemas:
    TemporaryAccountChallenge:
      type: object
      required:
        - challengeToken
        - seed
        - k
        - g
      properties:
        challengeToken:
          type: string
          description: Opaque token identifying this challenge; echoed back when redeeming the solution.
        seed:
          type: string
          description: Base64url-encoded 32-byte seed for the proof-of-work hash chain.
        k:
          type: integer
          description: Number of segments in the hash chain (number of checkpoints minus one).
        g:
          type: integer
          description: Number of SHA-256 iterations per segment. Total work is `k * g` hashes.

    CreateTemporaryAccountRequest:
      type: object
      required:
        - acceptTermsOfService
        - challengeToken
        - solution
      properties:
        termsOfService:
          type: string
          description: URL of the Cloudflare Terms of Service the caller is accepting.
        privacyPolicy:
          type: string
          description: URL of the Cloudflare Privacy Policy the caller is accepting.
        acceptTermsOfService:
          type: string
          description: Must be the literal string `"yes"` to indicate acceptance of the terms.
        challengeToken:
          type: string
          description: The `challengeToken` returned by createTemporaryAccountChallenge.
        solution:
          $ref: "#/components/schemas/TemporaryAccountChallengeSolution"

    TemporaryAccountChallengeSolution:
      type: object
      required:
        - checkpoints
      properties:
        checkpoints:
          type: string
          description: >-
            Standard base64 encoding of the concatenated (k+1) 32-byte checkpoint
            hashes produced by solving the proof-of-work chain.

    TemporaryAccount:
      type: object
      required:
        - account
        - claim
      properties:
        account:
          $ref: "#/components/schemas/TemporaryAccountDetails"
        claim:
          $ref: "#/components/schemas/TemporaryAccountClaim"

    TemporaryAccountDetails:
      type: object
      required:
        - id
        - name
        - apiToken
        - expiresAt
      properties:
        id:
          type: string
          description: The temporary account's ID.
        name:
          type: string
          description: The temporary account's display name.
        type:
          type: string
          description: The temporary account's type.
        apiToken:
          type: string
          description: API token scoped to the temporary account, used to deploy into it.
        tokenId:
          type: string
          description: The ID of the issued API token.
        expiresAt:
          type: string
          description: ISO 8601 timestamp at which the temporary account (and its token) expires.

    TemporaryAccountClaim:
      type: object
      required:
        - url
        - expiresAt
      properties:
        token:
          type: string
          description: Opaque claim token embedded in the claim URL.
        url:
          type: string
          description: URL a human can visit to claim and convert the temporary account into a permanent one.
        expiresAt:
          type: string
          description: ISO 8601 timestamp at which the claim opportunity expires.
