openapi: 3.1.0
info:
  title: Cloudflare R2 Object API
  version: 0.0.0
  description: R2 object operations not exposed in the Cloudflare TypeScript SDK.
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: r2
paths:
  /accounts/{account_id}/r2/buckets/{bucketName}/objects:
    get:
      operationId: listObjects
      summary: List objects in an R2 bucket.
      description: |
        Lists objects in an R2 bucket. Returns object metadata including key, size, etag,
        last modified date, HTTP metadata, and custom metadata. Cursor-paginated — call
        `.items()` on the operation for an `Effect.Stream` of every object across pages.
      x-distilled-pagination-class: CursorPagination
      x-distilled-errors:
        NoSuchBucket:
          - code: 10006
        InvalidRoute:
          - code: 7003
        NoRoute:
          - code: 10015
      parameters:
        - $ref: "#/components/parameters/BucketName"
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/Jurisdiction"
        - name: per_page
          in: query
          required: false
          description: Maximum number of objects to return per page (1-1000).
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 20
        - name: prefix
          in: query
          required: false
          description: Restrict results to keys beginning with this prefix.
          schema:
            type: string
        - name: delimiter
          in: query
          required: false
          description: Single character used to group keys.
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: Pagination cursor returned by a previous List Objects call.
          schema:
            type: string
        - name: start_after
          in: query
          required: false
          description: Returns keys lexicographically after this key.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/R2Object"
    delete:
      operationId: deleteObjects
      summary: Bulk-delete objects from an R2 bucket.
      description: |
        Deletes multiple objects from an R2 bucket in a single request. Provide a JSON
        array of object keys in `keys`; up to 1000 keys per request. Per-key errors are
        reported in the response body without failing the request as a whole.

        For prefix-based async deletion (returns a job descriptor), pass a `prefix` query
        parameter and an empty `keys` array.
      x-distilled-response-path: result
      x-distilled-errors:
        NoSuchBucket:
          - code: 10006
        InvalidRoute:
          - code: 7003
        NoRoute:
          - code: 10015
      parameters:
        - $ref: "#/components/parameters/BucketName"
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/Jurisdiction"
        - name: prefix
          in: query
          required: false
          description: |
            When set, switches to "delete by prefix" mode and asynchronously deletes every
            object whose key begins with the given prefix. The response is a prefix-delete
            job descriptor instead of a per-key list. Pass an empty body when using prefix
            mode.
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
              example:
                - path/to/object-a.txt
                - path/to/object-b.txt
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    description: Per-key delete results (delete-by-list mode).
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: Key of the deleted object.
                  - $ref: "#/components/schemas/R2PrefixDeleteJob"
  /accounts/{account_id}/r2/buckets/{bucketName}/objects/{objectName}:
    get:
      operationId: getObject
      summary: Download an object from an R2 bucket.
      description: |
        Downloads an object from an R2 bucket. The response is shaped like
        `{ body: Stream.Stream<Uint8Array>, etag?, contentType?, ... }` —
        S3-style metadata headers are surfaced as optional fields alongside
        the streaming body.
      x-distilled-response-path: result
      x-distilled-errors:
        NoSuchBucket:
          - code: 10006
        InvalidRoute:
          - code: 7003
        NoRoute:
          - code: 10015
      parameters:
        - $ref: "#/components/parameters/BucketName"
        - $ref: "#/components/parameters/ObjectName"
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/Jurisdiction"
      responses:
        "200":
          description: Success
          headers:
            etag:
              description: Entity tag of the object (raw hex digest).
              schema:
                type: string
            content-type:
              description: MIME type of the object.
              schema:
                type: string
            content-length:
              description: Object size in bytes.
              schema:
                type: integer
            content-encoding:
              description: Content encoding of the object (e.g. `gzip`).
              schema:
                type: string
            content-disposition:
              description: Content disposition header for the object.
              schema:
                type: string
            content-language:
              description: Content language of the object.
              schema:
                type: string
            content-range:
              description: Byte range returned (set when the request used `Range`).
              schema:
                type: string
            cache-control:
              description: Cache-Control directives associated with the object.
              schema:
                type: string
            expires:
              description: Expiration date of the object.
              schema:
                type: string
            last-modified:
              description: When the object was last modified (RFC 7231 date).
              schema:
                type: string
            cf-r2-storage-class:
              description: Storage class of the object (`Standard` or `InfrequentAccess`).
              schema:
                type: string
                enum:
                  - Standard
                  - InfrequentAccess
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
    put:
      operationId: putObject
      summary: Upload an object to an R2 bucket.
      description: Uploads an object to an R2 bucket.
      x-distilled-response-path: result
      x-distilled-errors:
        NoSuchBucket:
          - code: 10006
        InvalidRoute:
          - code: 7003
        NoRoute:
          - code: 10015
      parameters:
        - $ref: "#/components/parameters/BucketName"
        - $ref: "#/components/parameters/ObjectName"
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/Jurisdiction"
        - name: content-type
          in: header
          required: false
          description: MIME type of the object.
          schema:
            type: string
        - name: content-disposition
          in: header
          required: false
          description: Content disposition of the object.
          schema:
            type: string
        - name: content-encoding
          in: header
          required: false
          description: Content encoding of the object.
          schema:
            type: string
        - name: content-language
          in: header
          required: false
          description: Content language of the object.
          schema:
            type: string
        - name: content-length
          in: header
          required: false
          description: Content length of the object in bytes.
          schema:
            type: string
        - name: cache-control
          in: header
          required: false
          description: Cache control directives for the object.
          schema:
            type: string
        - name: expires
          in: header
          required: false
          description: Expiration date of the object.
          schema:
            type: string
        - name: cf-r2-storage-class
          in: header
          required: false
          description: Storage class for the object.
          schema:
            type: string
            enum:
              - Standard
              - InfrequentAccess
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
    delete:
      operationId: deleteObject
      summary: Delete an object from an R2 bucket.
      description: Deletes an object from an R2 bucket.
      x-distilled-response-path: result
      x-distilled-errors:
        NoSuchBucket:
          - code: 10006
        InvalidRoute:
          - code: 7003
        NoRoute:
          - code: 10015
      parameters:
        - $ref: "#/components/parameters/BucketName"
        - $ref: "#/components/parameters/ObjectName"
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/Jurisdiction"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: Account ID.
      schema:
        type: string
    BucketName:
      name: bucketName
      in: path
      required: true
      description: Name of the R2 bucket.
      schema:
        type: string
    ObjectName:
      name: objectName
      in: path
      required: true
      description: Key (name) of the object.
      schema:
        type: string
    Jurisdiction:
      name: cf-r2-jurisdiction
      in: header
      required: false
      description: Jurisdiction where objects in this bucket are guaranteed to be stored.
      schema:
        type: string
        enum:
          - default
          - eu
          - fedramp
  schemas:
    R2Object:
      type: object
      description: Metadata for an R2 object.
      properties:
        key:
          type: string
          description: The object key (name).
        size:
          type: integer
          description: Object size in bytes.
        etag:
          type: string
          description: Entity tag (raw hex digest, no surrounding quotes).
        last_modified:
          type: string
          format: date-time
          description: When the object was last modified.
        storage_class:
          type: string
          enum:
            - Standard
            - InfrequentAccess
        ssec:
          type: boolean
          description: Whether the object is encrypted with a customer-supplied key.
        custom_metadata:
          type: object
          additionalProperties:
            type: string
          description: Custom metadata key-value pairs.
        http_metadata:
          type: object
          description: HTTP metadata associated with the object.
          additionalProperties: true
    R2PrefixDeleteJob:
      type: object
      description: Descriptor of an asynchronous prefix-delete job.
      properties:
        id:
          type: string
        jobType:
          type: string
          enum:
            - prefixDelete
        status:
          type: string
          enum:
            - ENQUEUED
            - RUNNING
            - COMPLETED
            - FAILED
            - CANCELLED
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        prefixDelete:
          type: object
          properties:
            prefix:
              type: string
            deletedObjects:
              type: integer
            isBucketClear:
              type: boolean
