openapi: 3.1.0
info:
  title: Cloudflare Vectorize API (patch overrides)
  version: 0.0.0
  description: |
    Operation overrides for endpoints whose upstream SDK shape is wrong.
    Currently:
      - insertIndex / upsertIndex: the upstream Cloudflare TypeScript SDK models
        the ndjson vector payload as a single `Core.Uploadable` `body`, which the
        distilled generator conflates into a multipart part named `body`. The v2
        endpoint requires the payload as a multipart/form-data part literally
        named `vectors` (otherwise: `400 Got a multipart request without a
        vectors part`). Model it explicitly here.
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: vectorize
paths:
  /accounts/{account_id}/vectorize/v2/indexes/{index_name}/insert:
    post:
      operationId: insertIndex
      summary: Insert vectors into an index
      x-distilled-response-path: result
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/IndexName"
        - $ref: "#/components/parameters/UnparsableBehavior"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - vectors
              properties:
                vectors:
                  type: string
                  format: binary
                  description: ndjson file containing vectors to insert.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MutationResponse"
  /accounts/{account_id}/vectorize/v2/indexes/{index_name}/upsert:
    post:
      operationId: upsertIndex
      summary: Upsert vectors into an index
      x-distilled-response-path: result
      parameters:
        - $ref: "#/components/parameters/AccountId"
        - $ref: "#/components/parameters/IndexName"
        - $ref: "#/components/parameters/UnparsableBehavior"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - vectors
              properties:
                vectors:
                  type: string
                  format: binary
                  description: ndjson file containing vectors to upsert.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MutationResponse"

components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      description: Identifier
      schema:
        type: string
    IndexName:
      name: index_name
      in: path
      required: true
      description: The name of the index.
      schema:
        type: string
    UnparsableBehavior:
      name: unparsable-behavior
      in: query
      required: false
      description: Behavior for ndjson parse failures.
      schema:
        type: string
        enum:
          - error
          - discard
  schemas:
    MutationResponse:
      type: object
      properties:
        mutationId:
          type: string
          description: The unique identifier for the async mutation operation containing the changeset.
