openapi: 3.1.0
info:
  title: Cloudflare ABUSE-REPORTS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: abuse-reports
paths:
  /accounts/{account_id}/abuse-reports/{reportParam}:
    get:
      operationId: getAbuseReport
      description: Retrieve the details of an abuse report.
      parameters:
        - name: reportParam
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Cloudflare Account ID
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Public facing ID of abuse report, aka abuse_rand.
                  cdate:
                    type: string
                    description: Creation date of report. Time in RFC 3339 format
                      (https://www.rfc-editor.org/rfc/rfc3339.html)
                  domain:
                    type: string
                    description: Domain that relates to the report.
                  mitigation_summary:
                    type: object
                    properties:
                      accepted_url_count:
                        type: number
                        description: How many of the reported URLs were confirmed as abusive.
                      active_count:
                        type: number
                        description: How many mitigations are active.
                      external_host_notified:
                        type: boolean
                        description: Whether the report has been forwarded to an external hosting
                          provider.
                      in_review_count:
                        type: number
                        description: How many mitigations are under review.
                      pending_count:
                        type: number
                        description: How many mitigations are pending their effective date.
                    required:
                      - accepted_url_count
                      - active_count
                      - external_host_notified
                      - in_review_count
                      - pending_count
                    description: A summary of the mitigations related to this report.
                  status:
                    type: string
                    enum:
                      - accepted
                      - in_review
                    description: An enum value that represents the status of an abuse record
                  type:
                    type: string
                    enum:
                      - PHISH
                      - GEN
                      - THREAT
                      - DMCA
                      - EMER
                      - TM
                      - REG_WHO
                      - NCSEI
                      - NETWORK
                    description: The abuse report type
                  justification:
                    type: string
                    description: Justification for the report.
                  original_work:
                    type: string
                    description: Original work / Targeted brand in the alleged abuse.
                  submitter:
                    type: object
                    properties:
                      company:
                        type: string
                      email:
                        type: string
                      name:
                        type: string
                      telephone:
                        type: string
                    description: Information about the submitter of the report.
                  urls:
                    type: array
                    items:
                      type: string
                required:
                  - id
                  - cdate
                  - domain
                  - mitigation_summary
                  - status
                  - type
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidAccountId:
          - code: 7003
        AbuseReportNotFound:
          - code: 0
    post:
      operationId: createAbuseReport
      description: Submit the Abuse Report of a particular type
      parameters:
        - name: reportParam
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare Account ID"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                act:
                  type: string
                  enum:
                    - abuse_dmca
                  description: "Body param: The report type for submitted reports."
                address1:
                  type: string
                  description: "Body param: Text not exceeding 100 characters. This field may be
                    released by Cloudflare to third parties such as the Lumen
                    Database (https://lumendatabase.org/)."
                agent_name:
                  type: string
                  description: "Body param: The name of the copyright holder. Text not exceeding
                    60 characters. This field may be released by Cloudflare to
                    third parties such as the Lumen Database
                    (https://lumendatabase.org/)."
                agree:
                  type: number
                  enum:
                    - 1
                  description: "Body param: Can be `0` for false or `1` for true. Must be value: 1
                    for DMCA reports"
                city:
                  type: string
                  description: "Body param: Text not exceeding 255 characters. This field may be
                    released by Cloudflare to third parties such as the Lumen
                    Database (https://lumendatabase.org/)."
                country:
                  type: string
                  description: "Body param: Text not exceeding 255 characters. This field may be
                    released by Cloudflare to third parties such as the Lumen
                    Database (https://lumendatabase.org/)."
                email:
                  type: string
                  description: "Body param: A valid email of the abuse reporter. This field may be
                    released by Cloudflare to third parties such as the Lumen
                    Database (https://lumendatabase.org/)."
                email2:
                  type: string
                  description: "Body param: Should match the value provided in `email`"
                host_notification:
                  type: string
                  enum:
                    - send
                  description: "Body param: Notification type based on the abuse type. NOTE:
                    Copyright (DMCA) and Trademark reports cannot be anonymous."
                name:
                  type: string
                  description: "Body param: Text not exceeding 255 characters. This field may be
                    released by Cloudflare to third parties such as the Lumen
                    Database (https://lumendatabase.org/)."
                original_work:
                  type: string
                  description: "Body param: Text not exceeding 255 characters. This field may be
                    released by Cloudflare to third parties such as the Lumen
                    Database (https://lumendatabase.org/)."
                owner_notification:
                  type: string
                  enum:
                    - send
                  description: "Body param: Notification type based on the abuse type. NOTE:
                    Copyright (DMCA) and Trademark reports cannot be anonymous."
                signature:
                  type: string
                  description: "Body param: Required for DMCA reports, should be same as Name. An
                    affirmation that all information in the report is true and
                    accurate while agreeing to the policies of Cloudflare's
                    abuse reports"
                state:
                  type: string
                  description: "Body param: Text not exceeding 255 characters. This field may be
                    released by Cloudflare to third parties such as the Lumen
                    Database (https://lumendatabase.org/)."
                urls:
                  type: string
                  description: "Body param: A list of valid URLs separated by ‘\\n’ (new line
                    character). The list of the URLs should not exceed 250 URLs.
                    All URLs should have the same hostname. Each URL should be
                    unique. This field may be released by Cloudflare to third
                    parties such as the Lumen Database
                    (https://lumendatabase.org/)."
                comments:
                  type: string
                  description: "Body param: Any additional comments about the infringement not
                    exceeding 2000 characters"
                company:
                  type: string
                  description: "Body param: Text not exceeding 100 characters. This field may be
                    released by Cloudflare to third parties such as the Lumen
                    Database (https://lumendatabase.org/)."
                reported_country:
                  type: string
                  description: "Body param: Text containing 2 characters"
                reported_user_agent:
                  type: string
                  description: "Body param: Text not exceeding 255 characters"
                tele:
                  type: string
                  description: "Body param: Text not exceeding 20 characters. This field may be
                    released by Cloudflare to third parties such as the Lumen
                    Database (https://lumendatabase.org/)."
                title:
                  type: string
                  description: "Body param: Text not exceeding 255 characters"
              required:
                - act
                - address1
                - agent_name
                - agree
                - city
                - country
                - email
                - email2
                - host_notification
                - name
                - original_work
                - owner_notification
                - signature
                - state
                - urls
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRequest:
          - code: 7003
  /accounts/{account_id}/abuse-reports:
    get:
      operationId: listAbuseReports
      description: List the abuse reports for a given account
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare Account ID"
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: created_after
          in: query
          required: false
          description: "Query param: Returns reports created after the specified date"
          schema:
            type: string
        - name: created_before
          in: query
          required: false
          description: "Query param: Returns reports created before the specified date"
          schema:
            type: string
        - name: domain
          in: query
          required: false
          description: "Query param: Filter by domain name related to the abuse report"
          schema:
            type: string
        - name: mitigation_status
          in: query
          required: false
          description: "Query param: Filter reports that have any mitigations in the given
            status."
          schema:
            type: string
            enum:
              - pending
              - active
              - in_review
              - cancelled
              - removed
        - name: sort
          in: query
          required: false
          description: "Query param: A property to sort by, followed by the order (id,
            cdate, domain, type, status)"
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: "Query param: Filter by the status of the report."
          schema:
            type: string
            enum:
              - accepted
              - in_review
        - name: type
          in: query
          required: false
          description: "Query param: Filter by the type of the report."
          schema:
            type: string
            enum:
              - PHISH
              - GEN
              - THREAT
              - DMCA
              - EMER
              - TM
              - REG_WHO
              - NCSEI
              - NETWORK
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  reports:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Public facing ID of abuse report, aka abuse_rand.
                        cdate:
                          type: string
                          description: Creation date of report. Time in RFC 3339 format
                            (https://www.rfc-editor.org/rfc/rfc3339.html)
                        domain:
                          type: string
                          description: Domain that relates to the report.
                        mitigation_summary:
                          type: object
                          properties:
                            accepted_url_count:
                              type: number
                              description: How many of the reported URLs were confirmed as abusive.
                            active_count:
                              type: number
                              description: How many mitigations are active.
                            external_host_notified:
                              type: boolean
                              description: Whether the report has been forwarded to an external hosting
                                provider.
                            in_review_count:
                              type: number
                              description: How many mitigations are under review.
                            pending_count:
                              type: number
                              description: How many mitigations are pending their effective date.
                          required:
                            - accepted_url_count
                            - active_count
                            - external_host_notified
                            - in_review_count
                            - pending_count
                          description: A summary of the mitigations related to this report.
                        status:
                          type: string
                          enum:
                            - accepted
                            - in_review
                          description: An enum value that represents the status of an abuse record
                        type:
                          type: string
                          enum:
                            - PHISH
                            - GEN
                            - THREAT
                            - DMCA
                            - EMER
                            - TM
                            - REG_WHO
                            - NCSEI
                            - NETWORK
                          description: The abuse report type
                        justification:
                          type: string
                          description: Justification for the report.
                        original_work:
                          type: string
                          description: Original work / Targeted brand in the alleged abuse.
                        submitter:
                          type: object
                          properties:
                            company:
                              type: string
                            email:
                              type: string
                            name:
                              type: string
                            telephone:
                              type: string
                          description: Information about the submitter of the report.
                        urls:
                          type: array
                          items:
                            type: string
                      required:
                        - id
                        - cdate
                        - domain
                        - mitigation_summary
                        - status
                        - type
                required:
                  - reports
      x-distilled-pagination-class: AbuseReportListResponsesV4PagePagination
      x-distilled-errors:
        InvalidAccountId:
          - code: 7003
  /accounts/{account_id}/abuse-reports/{reportId}/mitigations:
    get:
      operationId: listMitigations
      description: List mitigations done to remediate the abuse report.
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare Account ID"
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: effective_after
          in: query
          required: false
          description: "Query param: Returns mitigation that were dispatched after the
            given date"
          schema:
            type: string
        - name: effective_before
          in: query
          required: false
          description: "Query param: Returns mitigations that were dispatched before the
            given date"
          schema:
            type: string
        - name: entity_type
          in: query
          required: false
          description: "Query param: Filter by the type of entity the mitigation impacts."
          schema:
            type: string
            enum:
              - url_pattern
              - account
              - zone
        - name: sort
          in: query
          required: false
          description: "Query param: A property to sort by, followed by the order"
          schema:
            type: string
            enum:
              - type,asc
              - type,desc
              - effective_date,asc
              - effective_date,desc
              - status,asc
              - status,desc
              - entity_type,asc
              - entity_type,desc
        - name: status
          in: query
          required: false
          description: "Query param: Filter by the status of the mitigation."
          schema:
            type: string
            enum:
              - pending
              - active
              - in_review
              - cancelled
              - removed
        - name: type
          in: query
          required: false
          description: "Query param: Filter by the type of mitigation. This filter
            parameter can be specified multiple times to include multiple types
            of mitigations in the result set, e.g.
            ?type=rate_limit_cache&type=legal_block."
          schema:
            type: string
            enum:
              - legal_block
              - misleading_interstitial
              - phishing_interstitial
              - network_block
              - rate_limit_cache
              - account_suspend
              - redirect_video_stream
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  mitigations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: ID of remediation.
                        effective_date:
                          type: string
                          description: Date when the mitigation will become active. Time in RFC 3339
                            format (https://www.rfc-editor.org/rfc/rfc3339.html)
                        entity_id:
                          type: string
                        entity_type:
                          type: string
                          enum:
                            - url_pattern
                            - account
                            - zone
                        status:
                          type: string
                          enum:
                            - pending
                            - active
                            - in_review
                            - cancelled
                            - removed
                          description: The status of a mitigation
                        type:
                          type: string
                          enum:
                            - legal_block
                            - misleading_interstitial
                            - phishing_interstitial
                            - network_block
                            - rate_limit_cache
                            - account_suspend
                            - redirect_video_stream
                          description: The type of mitigation
                      required:
                        - id
                        - effective_date
                        - entity_id
                        - entity_type
                        - status
                        - type
                required:
                  - mitigations
      x-distilled-pagination-class: MitigationListResponsesV4PagePagination
  /accounts/{account_id}/abuse-reports/{reportId}/mitigations/appeal:
    post:
      operationId: reviewMitigation
      description: Request a review for mitigations on an account.
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare Account ID"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                appeals:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID of the mitigation to appeal.
                      reason:
                        type: string
                        enum:
                          - removed
                          - misclassified
                        description: Reason why the customer is appealing.
                    required:
                      - id
                      - reason
                  description: "Body param: List of mitigations to appeal."
              required:
                - appeals
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of remediation.
                  effective_date:
                    type: string
                    description: Date when the mitigation will become active. Time in RFC 3339
                      format (https://www.rfc-editor.org/rfc/rfc3339.html)
                  entity_id:
                    type: string
                  entity_type:
                    type: string
                    enum:
                      - url_pattern
                      - account
                      - zone
                  status:
                    type: string
                    enum:
                      - pending
                      - active
                      - in_review
                      - cancelled
                      - removed
                    description: The status of a mitigation
                  type:
                    type: string
                    enum:
                      - legal_block
                      - misleading_interstitial
                      - phishing_interstitial
                      - network_block
                      - rate_limit_cache
                      - account_suspend
                      - redirect_video_stream
                    description: The type of mitigation
                required:
                  - id
                  - effective_date
                  - entity_id
                  - entity_type
                  - status
                  - type
      x-distilled-pagination-class: MitigationReviewResponsesSinglePage
