openapi: 3.1.0
info:
  title: Cloudflare ACM API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: acm
paths:
  /zones/{zone_id}/acm/total_tls:
    get:
      operationId: getTotalTl
      description: "Get Total TLS Settings for a Zone.  @example ```ts const totalTLS
        = await client.acm.totalTLS.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificate_authority:
                    type: string
                    enum:
                      - google
                      - lets_encrypt
                      - ssl_com
                    description: The Certificate Authority that Total TLS certificates will be
                      issued through.
                  enabled:
                    type: boolean
                    description: If enabled, Total TLS will order a hostname specific TLS
                      certificate for any proxied A, AAAA, or CNAME record in
                      your zone.
                  validity_period:
                    type: number
                    description: The validity period in days for the certificates ordered via Total
                      TLS.
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidObjectIdentifier:
          - code: 7003
        AdvancedCertificateManagerRequired:
          - code: 1450
    post:
      operationId: createTotalTl
      description: "Set Total TLS Settings or disable the feature for a
        Zone.  @example ```ts const totalTLS = await
        client.acm.totalTLS.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', enabled: true, }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: If enabled, Total TLS will order a hostname specific
                    TLS certificate for any proxied A, AAAA, or CNAME record in
                    your zone."
                certificate_authority:
                  type: string
                  enum:
                    - google
                    - lets_encrypt
                    - ssl_com
                  description: "Body param: The Certificate Authority that Total TLS certificates
                    will be issued through."
              required:
                - enabled
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificate_authority:
                    type: string
                    enum:
                      - google
                      - lets_encrypt
                      - ssl_com
                    description: The Certificate Authority that Total TLS certificates will be
                      issued through.
                  enabled:
                    type: boolean
                    description: If enabled, Total TLS will order a hostname specific TLS
                      certificate for any proxied A, AAAA, or CNAME record in
                      your zone.
                  validity_period:
                    type: number
                    description: The validity period in days for the certificates ordered via Total
                      TLS.
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidObjectIdentifier:
          - code: 7003
        AdvancedCertificateManagerRequired:
          - code: 1450
        NoStateChange:
          - code: 1467
        PreviousJobInProgress:
          - code: 1482
