openapi: 3.1.0
info:
  title: Cloudflare ACM API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: acm
paths:
  /zones/{zone_id}/acm/custom_trust_store/{customOriginTrustStoreId}:
    get:
      operationId: getCustomTrustStore
      description: "Retrieves details about a specific root CA certificate in the
        custom origin trust store, including expiration and subject
        information.  @example ```ts const customTrustStore = await
        client.acm.customTrustStore.get( '023e105f4ecef8ad9ca31a8372d0c353', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: customOriginTrustStoreId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  certificate:
                    type: string
                    description: The root CA certificate in PEM format. Only root CA certificates
                      are accepted; intermediate and leaf certificates are not
                      supported.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  status:
                    type: string
                    enum:
                      - initializing
                      - pending_deployment
                      - active
                      - pending_deletion
                      - deleted
                      - expired
                    description: Status of the zone's custom SSL.
                  updated_at:
                    type: string
                    description: When the certificate was last modified.
                  uploaded_on:
                    type: string
                    description: When the certificate was uploaded to Cloudflare.
                required:
                  - id
                  - certificate
                  - expires_on
                  - issuer
                  - signature
                  - status
                  - updated_at
                  - uploaded_on
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidObjectIdentifier:
          - code: 7003
        AdvancedCertificateManagerRequired:
          - code: 1450
        CustomTrustStoreNotFound:
          - status: 404
        Forbidden:
          - status: 403
    delete:
      operationId: deleteCustomTrustStore
      description: "Removes a root CA certificate from the custom origin trust store.
        Origins using certificates signed by this CA will no longer be
        trusted.  @example ```ts const customTrustStore = await
        client.acm.customTrustStore.delete( '023e105f4ecef8ad9ca31a8372d0c353',
        { zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: customOriginTrustStoreId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidObjectIdentifier:
          - code: 7003
        AdvancedCertificateManagerRequired:
          - code: 1450
        CustomTrustStoreNotFound:
          - status: 404
        Forbidden:
          - status: 403
  /zones/{zone_id}/acm/custom_trust_store:
    get:
      operationId: listCustomTrustStores
      description: "Get Custom Origin Trust Store for a Zone.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        customTrustStore of client.acm.customTrustStore.list( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: limit
          in: query
          required: false
          description: "Query param: Limit to the number of records returned."
          schema:
            type: number
        - name: offset
          in: query
          required: false
          description: "Query param: Offset the results"
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  certificate:
                    type: string
                    description: The root CA certificate in PEM format. Only root CA certificates
                      are accepted; intermediate and leaf certificates are not
                      supported.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  status:
                    type: string
                    enum:
                      - initializing
                      - pending_deployment
                      - active
                      - pending_deletion
                      - deleted
                      - expired
                    description: Status of the zone's custom SSL.
                  updated_at:
                    type: string
                    description: When the certificate was last modified.
                  uploaded_on:
                    type: string
                    description: When the certificate was uploaded to Cloudflare.
                required:
                  - id
                  - certificate
                  - expires_on
                  - issuer
                  - signature
                  - status
                  - updated_at
                  - uploaded_on
      x-distilled-pagination-class: CustomTrustStoresV4PagePaginationArray
      x-distilled-errors:
        AdvancedCertificateManagerRequired:
          - code: 1450
        Forbidden:
          - status: 403
    post:
      operationId: createCustomTrustStore
      description: "Upload a root CA certificate to the Custom Origin Trust Store for
        a Zone. Only root CA certificates are accepted.  @example ```ts const
        customTrustStore = await client.acm.customTrustStore.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', certificate: '-----BEGIN
        CERTIFICATE-----\\nMIIDdjCCAl6gAwIBAgIJAPnMg0Fs+/B0MA0GCSqGSIb3DQEBCwUA\
        MFsx...\\n-----END CERTIFICATE-----\\n', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                certificate:
                  type: string
                  description: "Body param: The root CA certificate in PEM format. Only root CA
                    certificates are accepted; intermediate and leaf
                    certificates are not supported."
              required:
                - certificate
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  certificate:
                    type: string
                    description: The root CA certificate in PEM format. Only root CA certificates
                      are accepted; intermediate and leaf certificates are not
                      supported.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  status:
                    type: string
                    enum:
                      - initializing
                      - pending_deployment
                      - active
                      - pending_deletion
                      - deleted
                      - expired
                    description: Status of the zone's custom SSL.
                  updated_at:
                    type: string
                    description: When the certificate was last modified.
                  uploaded_on:
                    type: string
                    description: When the certificate was uploaded to Cloudflare.
                required:
                  - id
                  - certificate
                  - expires_on
                  - issuer
                  - signature
                  - status
                  - updated_at
                  - uploaded_on
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidObjectIdentifier:
          - code: 7003
        AdvancedCertificateManagerRequired:
          - code: 1450
        Forbidden:
          - status: 403
  /zones/{zone_id}/acm/total_tls:
    get:
      operationId: getTotalTl
      description: "Get Total TLS Settings for a Zone.  @example ```ts const totalTLS
        = await client.acm.totalTLS.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificate_authority:
                    type: string
                    enum:
                      - google
                      - lets_encrypt
                      - ssl_com
                    description: The Certificate Authority that Total TLS certificates will be
                      issued through.
                  enabled:
                    type: boolean
                    description: If enabled, Total TLS will order a hostname specific TLS
                      certificate for any proxied A, AAAA, or CNAME record in
                      your zone.
                  validity_period:
                    type: number
                    description: The validity period in days for the certificates ordered via Total
                      TLS.
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidObjectIdentifier:
          - code: 7003
        AdvancedCertificateManagerRequired:
          - code: 1450
        Forbidden:
          - status: 403
    post:
      operationId: editTotalTl
      description: "Set Total TLS Settings or disable the feature for a
        Zone.  @example ```ts const response = await client.acm.totalTLS.edit({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', enabled: true, }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: If enabled, Total TLS will order a hostname specific
                    TLS certificate for any proxied A, AAAA, or CNAME record in
                    your zone."
                certificate_authority:
                  type: string
                  enum:
                    - google
                    - lets_encrypt
                    - ssl_com
                  description: "Body param: The Certificate Authority that Total TLS certificates
                    will be issued through."
              required:
                - enabled
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificate_authority:
                    type: string
                    enum:
                      - google
                      - lets_encrypt
                      - ssl_com
                    description: The Certificate Authority that Total TLS certificates will be
                      issued through.
                  enabled:
                    type: boolean
                    description: If enabled, Total TLS will order a hostname specific TLS
                      certificate for any proxied A, AAAA, or CNAME record in
                      your zone.
                  validity_period:
                    type: number
                    enum:
                      - 90
                    description: The validity period in days for the certificates ordered via Total
                      TLS.
      x-distilled-response-path: result
