openapi: 3.1.0
info:
  title: Cloudflare ADDRESSING API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: addressing
paths:
  /accounts/{account_id}/addressing/address_maps/{addressMapId}:
    get:
      operationId: getAddressMap
      description: "Show a particular address map owned by the account.  @example
        ```ts const addressMap = await client.addressing.addressMaps.get(
        '055817b111884e0227e1be16a0be6ee0', { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, ); ```"
      parameters:
        - name: addressMapId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of an Address Map.
                  can_delete:
                    type: boolean
                    description: If set to false, then the Address Map cannot be deleted via API.
                      This is true for Cloudflare-managed maps.
                  can_modify_ips:
                    type: boolean
                    description: If set to false, then the IPs on the Address Map cannot be modified
                      via the API. This is true for Cloudflare-managed maps.
                  created_at:
                    type: string
                  default_sni:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If you have legacy TLS clients which do not send the TLS server
                      name indicator, then you can specify one default SNI on
                      the map. If Cloudflare receives a TLS handshake from a
                      client without an SNI, it will respond with the default
                      SNI on those IPs. The default SNI can be any valid zone or
                      subdomain owned by the account.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An optional description field which may be used to describe the
                      types of IPs or zones on the map.
                  enabled:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Whether the Address Map is enabled or not. Cloudflare's DNS will
                      not respond with IP addresses on an Address Map until the
                      map is enabled.
                  ips:
                    type: array
                    items:
                      type: object
                      properties:
                        created_at:
                          type: string
                        ip:
                          type: string
                          description: An IPv4 or IPv6 address.
                    description: The set of IPs on the Address Map.
                  memberships:
                    type: array
                    items:
                      type: object
                      properties:
                        can_delete:
                          type: boolean
                          description: Controls whether the membership can be deleted via the API or not.
                        created_at:
                          type: string
                        identifier:
                          type: string
                          description: The identifier for the membership (eg. a zone or account tag).
                        kind:
                          type: string
                          enum:
                            - zone
                            - account
                          description: The type of the membership.
                    description: Zones and Accounts which will be assigned IPs on this Address Map.
                      A zone membership will take priority over an account
                      membership.
                  modified_at:
                    type: string
      x-distilled-response-path: result
      x-distilled-errors:
        AddressMapNotFound:
          - code: 1000
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
    patch:
      operationId: patchAddressMap
      description: "Modify properties of an address map owned by the
        account.  @example ```ts const addressMap = await
        client.addressing.addressMaps.edit( '055817b111884e0227e1be16a0be6ee0',
        { account_id: '258def64c72dae45f3e4c8516e2111f2' }, ); ```"
      parameters:
        - name: addressMapId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                default_sni:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: If you have legacy TLS clients which do not send the
                    TLS server name indicator, then you can specify one default
                    SNI on the map. If Cloudflare receives a TLS handshake from
                    a client without an SNI, it will respond with the default
                    SNI on those IPs. The default SNI can be any valid zone or
                    subdomain owned by the account."
                description:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: An optional description field which may be used to
                    describe the types of IPs or zones on the map."
                enabled:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: Whether the Address Map is enabled or not.
                    Cloudflare's DNS will not respond with IP addresses on an
                    Address Map until the map is enabled."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of an Address Map.
                  can_delete:
                    type: boolean
                    description: If set to false, then the Address Map cannot be deleted via API.
                      This is true for Cloudflare-managed maps.
                  can_modify_ips:
                    type: boolean
                    description: If set to false, then the IPs on the Address Map cannot be modified
                      via the API. This is true for Cloudflare-managed maps.
                  created_at:
                    type: string
                  default_sni:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If you have legacy TLS clients which do not send the TLS server
                      name indicator, then you can specify one default SNI on
                      the map. If Cloudflare receives a TLS handshake from a
                      client without an SNI, it will respond with the default
                      SNI on those IPs. The default SNI can be any valid zone or
                      subdomain owned by the account.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An optional description field which may be used to describe the
                      types of IPs or zones on the map.
                  enabled:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Whether the Address Map is enabled or not. Cloudflare's DNS will
                      not respond with IP addresses on an Address Map until the
                      map is enabled.
                  modified_at:
                    type: string
      x-distilled-response-path: result
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        FeatureNotEnabled:
          - code: 1002
            message:
              includes: address_maps_not_enabled
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
    delete:
      operationId: deleteAddressMap
      description: "Delete a particular address map owned by the account. An Address
        Map must be disabled before it can be deleted.  @example ```ts const
        addressMap = await client.addressing.addressMaps.delete(
        '055817b111884e0227e1be16a0be6ee0', { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, ); ```"
      parameters:
        - name: addressMapId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                        description: Total number of results for the requested service.
                      page:
                        type: number
                        description: Current page within paginated list of results.
                      per_page:
                        type: number
                        description: Number of results per page of results.
                      total_count:
                        type: number
                        description: Total results available without any search parameters.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        FeatureNotEnabled:
          - code: 1002
            message:
              includes: address_maps_not_enabled
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
        AddressMapNotFound:
          - code: 1000
  /accounts/{account_id}/addressing/address_maps:
    get:
      operationId: listAddressMaps
      description: "List all address maps owned by the account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const addressMap
        of client.addressing.addressMaps.list( { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of an Address Map.
                  can_delete:
                    type: boolean
                    description: If set to false, then the Address Map cannot be deleted via API.
                      This is true for Cloudflare-managed maps.
                  can_modify_ips:
                    type: boolean
                    description: If set to false, then the IPs on the Address Map cannot be modified
                      via the API. This is true for Cloudflare-managed maps.
                  created_at:
                    type: string
                  default_sni:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If you have legacy TLS clients which do not send the TLS server
                      name indicator, then you can specify one default SNI on
                      the map. If Cloudflare receives a TLS handshake from a
                      client without an SNI, it will respond with the default
                      SNI on those IPs. The default SNI can be any valid zone or
                      subdomain owned by the account.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An optional description field which may be used to describe the
                      types of IPs or zones on the map.
                  enabled:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Whether the Address Map is enabled or not. Cloudflare's DNS will
                      not respond with IP addresses on an Address Map until the
                      map is enabled.
                  modified_at:
                    type: string
      x-distilled-pagination-class: AddressMapsSinglePage
    post:
      operationId: createAddressMap
      description: "Create a new address map under the account.  @example ```ts const
        addressMap = await client.addressing.addressMaps.create({ account_id:
        '258def64c72dae45f3e4c8516e2111f2', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: An optional description field which may be used to
                    describe the types of IPs or zones on the map."
                enabled:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: Whether the Address Map is enabled or not.
                    Cloudflare's DNS will not respond with IP addresses on an
                    Address Map until the map is enabled."
                ips:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                memberships:
                  type: array
                  items:
                    type: object
                    properties:
                      identifier:
                        type: string
                        description: The identifier for the membership (eg. a zone or account tag).
                      kind:
                        type: string
                        enum:
                          - zone
                          - account
                        description: The type of the membership.
                  description: "Body param: Zones and Accounts which will be assigned IPs on this
                    Address Map. A zone membership will take priority over an
                    account membership."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of an Address Map.
                  can_delete:
                    type: boolean
                    description: If set to false, then the Address Map cannot be deleted via API.
                      This is true for Cloudflare-managed maps.
                  can_modify_ips:
                    type: boolean
                    description: If set to false, then the IPs on the Address Map cannot be modified
                      via the API. This is true for Cloudflare-managed maps.
                  created_at:
                    type: string
                  default_sni:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If you have legacy TLS clients which do not send the TLS server
                      name indicator, then you can specify one default SNI on
                      the map. If Cloudflare receives a TLS handshake from a
                      client without an SNI, it will respond with the default
                      SNI on those IPs. The default SNI can be any valid zone or
                      subdomain owned by the account.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An optional description field which may be used to describe the
                      types of IPs or zones on the map.
                  enabled:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Whether the Address Map is enabled or not. Cloudflare's DNS will
                      not respond with IP addresses on an Address Map until the
                      map is enabled.
                  ips:
                    type: array
                    items:
                      type: object
                      properties:
                        created_at:
                          type: string
                        ip:
                          type: string
                          description: An IPv4 or IPv6 address.
                    description: The set of IPs on the Address Map.
                  memberships:
                    type: array
                    items:
                      type: object
                      properties:
                        can_delete:
                          type: boolean
                          description: Controls whether the membership can be deleted via the API or not.
                        created_at:
                          type: string
                        identifier:
                          type: string
                          description: The identifier for the membership (eg. a zone or account tag).
                        kind:
                          type: string
                          enum:
                            - zone
                            - account
                          description: The type of the membership.
                    description: Zones and Accounts which will be assigned IPs on this Address Map.
                      A zone membership will take priority over an account
                      membership.
                  modified_at:
                    type: string
      x-distilled-response-path: result
      x-distilled-errors:
        FeatureNotEnabled:
          - code: 1002
            message:
              includes: address_maps_not_enabled
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
  /accounts/{account_id}/addressing/address_maps/{addressMapId}/accounts/{account_id}:
    put:
      operationId: putAddressMapAccount
      description: "Add an account as a member of a particular address map.  @example
        ```ts const account = await
        client.addressing.addressMaps.accounts.update(
        '055817b111884e0227e1be16a0be6ee0', { account_id:
        '258def64c72dae45f3e4c8516e2111f2', body: {}, }, ); ```"
      parameters:
        - name: addressMapId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                        description: Total number of results for the requested service.
                      page:
                        type: number
                        description: Current page within paginated list of results.
                      per_page:
                        type: number
                        description: Number of results per page of results.
                      total_count:
                        type: number
                        description: Total results available without any search parameters.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        FeatureNotEnabled:
          - code: 1002
            message:
              includes: address_maps_not_enabled
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
    delete:
      operationId: deleteAddressMapAccount
      description: "Remove an account as a member of a particular address
        map.  @example ```ts const account = await
        client.addressing.addressMaps.accounts.delete(
        '055817b111884e0227e1be16a0be6ee0', { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, ); ```"
      parameters:
        - name: addressMapId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                        description: Total number of results for the requested service.
                      page:
                        type: number
                        description: Current page within paginated list of results.
                      per_page:
                        type: number
                        description: Number of results per page of results.
                      total_count:
                        type: number
                        description: Total results available without any search parameters.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        FeatureNotEnabled:
          - code: 1002
            message:
              includes: address_maps_not_enabled
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
  /accounts/{account_id}/addressing/address_maps/{addressMapId}/ips/{ipAddress}:
    put:
      operationId: putAddressMapIp
      description: "Add an IP from a prefix owned by the account to a particular
        address map.  @example ```ts const ip = await
        client.addressing.addressMaps.ips.update(
        '055817b111884e0227e1be16a0be6ee0', '192.0.2.1', { account_id:
        '258def64c72dae45f3e4c8516e2111f2', body: {}, }, ); ```"
      parameters:
        - name: addressMapId
          in: path
          required: true
          schema:
            type: string
        - name: ipAddress
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                        description: Total number of results for the requested service.
                      page:
                        type: number
                        description: Current page within paginated list of results.
                      per_page:
                        type: number
                        description: Number of results per page of results.
                      total_count:
                        type: number
                        description: Total results available without any search parameters.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        FeatureNotEnabled:
          - code: 1002
            message:
              includes: address_maps_not_enabled
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
        AddressMapNotFound:
          - code: 1000
            message:
              includes: not_found
    delete:
      operationId: deleteAddressMapIp
      description: "Remove an IP from a particular address map.  @example ```ts const
        ip = await client.addressing.addressMaps.ips.delete(
        '055817b111884e0227e1be16a0be6ee0', '192.0.2.1', { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, ); ```"
      parameters:
        - name: addressMapId
          in: path
          required: true
          schema:
            type: string
        - name: ipAddress
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                        description: Total number of results for the requested service.
                      page:
                        type: number
                        description: Current page within paginated list of results.
                      per_page:
                        type: number
                        description: Number of results per page of results.
                      total_count:
                        type: number
                        description: Total results available without any search parameters.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        FeatureNotEnabled:
          - code: 1002
            message:
              includes: address_maps_not_enabled
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
        AddressMapNotFound:
          - code: 1000
            message:
              includes: not_found
  /accounts/{account_id}/addressing/address_maps/{addressMapId}/zones/{zone_id}:
    put:
      operationId: putAddressMapZone
      description: "Add a zone as a member of a particular address map.  @example
        ```ts const zone = await client.addressing.addressMaps.zones.update(
        '055817b111884e0227e1be16a0be6ee0', { zone_id:
        '8ac8489932db6327334c9b6d58544cfe', account_id:
        '258def64c72dae45f3e4c8516e2111f2', body: {}, }, ); ```"
      parameters:
        - name: addressMapId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier of a zone."
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                        description: Total number of results for the requested service.
                      page:
                        type: number
                        description: Current page within paginated list of results.
                      per_page:
                        type: number
                        description: Number of results per page of results.
                      total_count:
                        type: number
                        description: Total results available without any search parameters.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        FeatureNotEnabled:
          - code: 1002
            message:
              includes: address_maps_not_enabled
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
    delete:
      operationId: deleteAddressMapZone
      description: "Remove a zone as a member of a particular address map.  @example
        ```ts const zone = await client.addressing.addressMaps.zones.delete(
        '055817b111884e0227e1be16a0be6ee0', { zone_id:
        '8ac8489932db6327334c9b6d58544cfe', account_id:
        '258def64c72dae45f3e4c8516e2111f2', }, ); ```"
      parameters:
        - name: addressMapId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier of a zone.
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                        description: Total number of results for the requested service.
                      page:
                        type: number
                        description: Current page within paginated list of results.
                      per_page:
                        type: number
                        description: Number of results per page of results.
                      total_count:
                        type: number
                        description: Total results available without any search parameters.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        FeatureNotEnabled:
          - code: 1002
            message:
              includes: address_maps_not_enabled
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
  /accounts/{account_id}/addressing/loa_documents/{loaDocumentId}/download:
    get:
      operationId: getLoaDocument
      description: "Download specified LOA document under the account.  @example ```ts
        const loaDocument = await client.addressing.loaDocuments.get(
        'd933b1530bc56c9953cf8ce166da8004', { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, );  const content = await
        loaDocument.blob(); console.log(content); ```"
      parameters:
        - name: loaDocumentId
          in: path
          required: true
          schema:
            oneOf:
              - type: string
            nullable: true
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
      x-distilled-errors:
        LoaDocumentNotFound:
          - code: 1000
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
  /accounts/{account_id}/addressing/loa_documents:
    post:
      operationId: createLoaDocument
      description: "Submit LOA document (pdf format) under the account.  @example
        ```ts const loaDocument = await client.addressing.loaDocuments.create({
        account_id: '258def64c72dae45f3e4c8516e2111f2', loa_document:
        '@document.pdf', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                loa_document:
                  type: string
                  description: "Body param: LOA document to upload."
              required:
                - loa_document
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Identifier for the uploaded LOA document.
                  account_id:
                    type: string
                    description: Identifier of a Cloudflare account.
                  auto_generated:
                    type: boolean
                    description: Whether the LOA has been auto-generated for the prefix owner by
                      Cloudflare.
                  created:
                    type: string
                  filename:
                    type: string
                    description: Name of LOA document. Max file size 10MB, and supported filetype is
                      pdf.
                  size_bytes:
                    type: number
                    description: File size of the uploaded LOA document.
                  verified:
                    type: boolean
                    description: Whether the LOA has been verified by Cloudflare staff.
                  verified_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Timestamp of the moment the LOA was marked as validated.
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
        InvalidLoaForm:
          - code: 1001
            message:
              includes: invalid_loa_form
          - code: 1001
  /accounts/{account_id}/addressing/prefixes/{prefixId}:
    get:
      operationId: getPrefix
      description: "List a particular prefix owned by the account.  @example ```ts
        const prefix = await client.addressing.prefixes.get(
        '2af39739cc4e3b5910c918468bb89828', { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of an IP Prefix.
                  account_id:
                    type: string
                    description: Identifier of a Cloudflare account.
                  advertised:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  advertised_modified_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  approved:
                    type: string
                    description: Approval state of the prefix (P = pending, V = active).
                  asn:
                    type: number
                    description: Autonomous System Number (ASN) the prefix will be advertised under.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  delegate_loa_creation:
                    type: boolean
                    description: Whether Cloudflare is allowed to generate the LOA document on
                      behalf of the prefix owner.
                  description:
                    type: string
                    description: Description of the prefix.
                  irr_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
                  loa_document_id:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Identifier for the uploaded LOA document.
                  modified_at:
                    type: string
                  on_demand_enabled:
                    type: boolean
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  on_demand_locked:
                    type: boolean
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  ownership_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
                  ownership_validation_token:
                    type: string
                    description: Token provided to demonstrate ownership of the prefix.
                  rpki_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
      x-distilled-response-path: result
      x-distilled-errors:
        PrefixNotFound:
          - code: 1000
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
    patch:
      operationId: patchPrefix
      description: "Modify the description for a prefix owned by the
        account.  @example ```ts const prefix = await
        client.addressing.prefixes.edit( '2af39739cc4e3b5910c918468bb89828', {
        account_id: '258def64c72dae45f3e4c8516e2111f2', description: 'Internal
        test prefix', }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: "Body param: Description of the prefix."
              required:
                - description
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of an IP Prefix.
                  account_id:
                    type: string
                    description: Identifier of a Cloudflare account.
                  advertised:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  advertised_modified_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  approved:
                    type: string
                    description: Approval state of the prefix (P = pending, V = active).
                  asn:
                    type: number
                    description: Autonomous System Number (ASN) the prefix will be advertised under.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  delegate_loa_creation:
                    type: boolean
                    description: Whether Cloudflare is allowed to generate the LOA document on
                      behalf of the prefix owner.
                  description:
                    type: string
                    description: Description of the prefix.
                  irr_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
                  loa_document_id:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Identifier for the uploaded LOA document.
                  modified_at:
                    type: string
                  on_demand_enabled:
                    type: boolean
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  on_demand_locked:
                    type: boolean
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  ownership_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
                  ownership_validation_token:
                    type: string
                    description: Token provided to demonstrate ownership of the prefix.
                  rpki_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
      x-distilled-response-path: result
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        PrefixNotFound:
          - code: 1000
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
    delete:
      operationId: deletePrefix
      description: "Delete an unapproved prefix owned by the account.  @example ```ts
        const prefix = await client.addressing.prefixes.delete(
        '2af39739cc4e3b5910c918468bb89828', { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        PrefixNotFound:
          - code: 1000
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
  /accounts/{account_id}/addressing/prefixes:
    get:
      operationId: listPrefixes
      description: "List all prefixes owned by the account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const prefix of
        client.addressing.prefixes.list({ account_id:
        '258def64c72dae45f3e4c8516e2111f2', })) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of an IP Prefix.
                  account_id:
                    type: string
                    description: Identifier of a Cloudflare account.
                  advertised:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  advertised_modified_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  approved:
                    type: string
                    description: Approval state of the prefix (P = pending, V = active).
                  asn:
                    type: number
                    description: Autonomous System Number (ASN) the prefix will be advertised under.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  delegate_loa_creation:
                    type: boolean
                    description: Whether Cloudflare is allowed to generate the LOA document on
                      behalf of the prefix owner.
                  description:
                    type: string
                    description: Description of the prefix.
                  irr_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
                  loa_document_id:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Identifier for the uploaded LOA document.
                  modified_at:
                    type: string
                  on_demand_enabled:
                    type: boolean
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  on_demand_locked:
                    type: boolean
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  ownership_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
                  ownership_validation_token:
                    type: string
                    description: Token provided to demonstrate ownership of the prefix.
                  rpki_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
      x-distilled-pagination-class: PrefixesSinglePage
    post:
      operationId: createPrefix
      description: "Add a new prefix under the account.  @example ```ts const prefix =
        await client.addressing.prefixes.create({ account_id:
        '258def64c72dae45f3e4c8516e2111f2', asn: 13335, cidr: '192.0.2.0/24',
        }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                asn:
                  type: number
                  description: "Body param: Autonomous System Number (ASN) the prefix will be
                    advertised under."
                cidr:
                  type: string
                  description: "Body param: IP Prefix in Classless Inter-Domain Routing format."
                delegate_loa_creation:
                  type: boolean
                  description: "Body param: Whether Cloudflare is allowed to generate the LOA
                    document on behalf of the prefix owner."
                description:
                  type: string
                  description: "Body param: Description of the prefix."
                loa_document_id:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: Identifier for the uploaded LOA document."
              required:
                - asn
                - cidr
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of an IP Prefix.
                  account_id:
                    type: string
                    description: Identifier of a Cloudflare account.
                  advertised:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  advertised_modified_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  approved:
                    type: string
                    description: Approval state of the prefix (P = pending, V = active).
                  asn:
                    type: number
                    description: Autonomous System Number (ASN) the prefix will be advertised under.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  delegate_loa_creation:
                    type: boolean
                    description: Whether Cloudflare is allowed to generate the LOA document on
                      behalf of the prefix owner.
                  description:
                    type: string
                    description: Description of the prefix.
                  irr_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
                  loa_document_id:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Identifier for the uploaded LOA document.
                  modified_at:
                    type: string
                  on_demand_enabled:
                    type: boolean
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  on_demand_locked:
                    type: boolean
                    description: "@deprecated Prefer the [BGP Prefixes
                      API](https://developers.cloudflare.com/api/resources/addr\
                      essing/subresources/prefixes/subresources/bgp_prefixes/)
                      instead, which allows for advertising multiple BGP routes
                      within a single IP Prefix."
                  ownership_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
                  ownership_validation_token:
                    type: string
                    description: Token provided to demonstrate ownership of the prefix.
                  rpki_validation_state:
                    type: string
                    description: State of one kind of validation for an IP prefix.
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
        InvalidNetworkCidr:
          - code: 1001
            message:
              includes: invalid_network_cidr
        IrrEntryNotFound:
          - code: 1003
            message:
              includes: irr_entry_not_found
  /accounts/{account_id}/addressing/prefixes/{prefixId}/bgp/status:
    get:
      operationId: getPrefixAdvertisementStatus
      description: "View the current advertisement state for a
        prefix.    Deprecated:  Prefer the BGP Prefixes endpoints, which
        additionally allow for advertising and withdrawing subnets of an IP
        prefix.  @deprecated"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  advertised:
                    type: boolean
                    description: Advertisement status of the prefix. If `true`, the BGP route for
                      the prefix is advertised to the Internet. If `false`, the
                      BGP route is withdrawn.
                  advertised_modified_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Last time the advertisement status was changed. This field is only
                      not 'null' if on demand is enabled.
      x-distilled-response-path: result
      x-distilled-errors:
        PrefixNotFound:
          - code: 1000
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
    patch:
      operationId: patchPrefixAdvertisementStatus
      description: "Advertise or withdraw the BGP route for a
        prefix.    Deprecated:  Prefer the BGP Prefixes endpoints, which
        additionally allow for advertising and withdrawing subnets of an IP
        prefix.  @deprecated"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                advertised:
                  type: boolean
                  description: "Body param: Advertisement status of the prefix. If `true`, the BGP
                    route for the prefix is advertised to the Internet. If
                    `false`, the BGP route is withdrawn."
              required:
                - advertised
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  advertised:
                    type: boolean
                    description: Advertisement status of the prefix. If `true`, the BGP route for
                      the prefix is advertised to the Internet. If `false`, the
                      BGP route is withdrawn.
                  advertised_modified_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Last time the advertisement status was changed. This field is only
                      not 'null' if on demand is enabled.
      x-distilled-response-path: result
      x-distilled-errors:
        PrefixNotFound:
          - code: 1000
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
  /accounts/{account_id}/addressing/prefixes/{prefixId}/bgp/prefixes/{bgpPrefixId}:
    get:
      operationId: getPrefixBgpPrefix
      description: "Retrieve a single BGP Prefix according to its identifier  @example
        ```ts const bgpPrefix = await
        client.addressing.prefixes.bgpPrefixes.get(
        '2af39739cc4e3b5910c918468bb89828', '7009ba364c7a5760798ceb430e603b74',
        { account_id: '258def64c72dae45f3e4c8516e2111f2' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: bgpPrefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of BGP Prefix.
                  asn:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Autonomous System Number (ASN) the prefix will be advertised under.
                  asn_prepend_count:
                    type: number
                    description: Number of times to prepend the Cloudflare ASN to the BGP AS-Path
                      attribute
                  auto_advertise_withdraw:
                    type: boolean
                    description: Determines if Cloudflare advertises a BYOIP BGP prefix even when
                      there is no matching BGP prefix in the Magic routing
                      table. When true, Cloudflare will automatically withdraw
                      the BGP prefix when there are no matching BGP routes, and
                      will resume advertising when there is at least one
                      matching BGP route.
                  bgp_signal_opts:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether control of advertisement of the prefix to the Internet is
                          enabled to be performed via BGP signal
                      modified_at:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time BGP signaling control was toggled. This field is null if
                          BGP signaling has never been enabled.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  on_demand:
                    type: object
                    properties:
                      advertised:
                        oneOf:
                          - type: boolean
                        nullable: true
                        description: Prefix advertisement status to the Internet. This field is only not
                          'null' if on demand is enabled.
                      advertised_modified_at:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time the advertisement status was changed. This field is only
                          not 'null' if on demand is enabled.
                      on_demand_enabled:
                        type: boolean
                        description: Whether advertisement of the prefix to the Internet may be
                          dynamically enabled or disabled.
                      on_demand_locked:
                        type: boolean
                        description: Whether the advertisement status of the prefix is locked, meaning
                          it cannot be changed.
      x-distilled-response-path: result
      x-distilled-errors:
        BgpPrefixNotFound:
          - code: 1002
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
        PrefixNotFound:
          - code: 1000
            message:
              includes: not_found
    patch:
      operationId: patchPrefixBgpPrefix
      description: "Update the properties of a BGP Prefix, such as the on demand
        advertisement status (advertised or withdrawn).  @example ```ts const
        bgpPrefix = await client.addressing.prefixes.bgpPrefixes.edit(
        '2af39739cc4e3b5910c918468bb89828', '7009ba364c7a5760798ceb430e603b74',
        { account_id: '258def64c72dae45f3e4c8516e2111f2' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: bgpPrefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                asn_prepend_count:
                  type: number
                  description: "Body param: Number of times to prepend the Cloudflare ASN to the
                    BGP AS-Path attribute"
                auto_advertise_withdraw:
                  type: boolean
                  description: "Body param: Determines if Cloudflare advertises a BYOIP BGP prefix
                    even when there is no matching BGP prefix in the Magic
                    routing table. When true, Cloudflare will automatically
                    withdraw the BGP prefix when there are no matching BGP
                    routes, and will resume advertising when there is at least
                    one matching BGP route."
                on_demand:
                  type: object
                  properties:
                    advertised:
                      type: boolean
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of BGP Prefix.
                  asn:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Autonomous System Number (ASN) the prefix will be advertised under.
                  asn_prepend_count:
                    type: number
                    description: Number of times to prepend the Cloudflare ASN to the BGP AS-Path
                      attribute
                  auto_advertise_withdraw:
                    type: boolean
                    description: Determines if Cloudflare advertises a BYOIP BGP prefix even when
                      there is no matching BGP prefix in the Magic routing
                      table. When true, Cloudflare will automatically withdraw
                      the BGP prefix when there are no matching BGP routes, and
                      will resume advertising when there is at least one
                      matching BGP route.
                  bgp_signal_opts:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether control of advertisement of the prefix to the Internet is
                          enabled to be performed via BGP signal
                      modified_at:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time BGP signaling control was toggled. This field is null if
                          BGP signaling has never been enabled.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  on_demand:
                    type: object
                    properties:
                      advertised:
                        oneOf:
                          - type: boolean
                        nullable: true
                        description: Prefix advertisement status to the Internet. This field is only not
                          'null' if on demand is enabled.
                      advertised_modified_at:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time the advertisement status was changed. This field is only
                          not 'null' if on demand is enabled.
                      on_demand_enabled:
                        type: boolean
                        description: Whether advertisement of the prefix to the Internet may be
                          dynamically enabled or disabled.
                      on_demand_locked:
                        type: boolean
                        description: Whether the advertisement status of the prefix is locked, meaning
                          it cannot be changed.
      x-distilled-response-path: result
      x-distilled-errors:
        BgpPrefixNotFound:
          - code: 1002
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
  /accounts/{account_id}/addressing/prefixes/{prefixId}/bgp/prefixes:
    get:
      operationId: listPrefixBgpPrefixes
      description: "List all BGP Prefixes within the specified IP Prefix. BGP Prefixes
        are used to control which specific subnets are advertised to the
        Internet. It is possible to advertise subnets more specific than an IP
        Prefix by creating more specific BGP Prefixes.  @example ```ts //
        Automatically fetches more pages as needed. for await (const bgpPrefix
        of client.addressing.prefixes.bgpPrefixes.list(
        '2af39739cc4e3b5910c918468bb89828', { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, )) { // ... } ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of BGP Prefix.
                  asn:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Autonomous System Number (ASN) the prefix will be advertised under.
                  asn_prepend_count:
                    type: number
                    description: Number of times to prepend the Cloudflare ASN to the BGP AS-Path
                      attribute
                  auto_advertise_withdraw:
                    type: boolean
                    description: Determines if Cloudflare advertises a BYOIP BGP prefix even when
                      there is no matching BGP prefix in the Magic routing
                      table. When true, Cloudflare will automatically withdraw
                      the BGP prefix when there are no matching BGP routes, and
                      will resume advertising when there is at least one
                      matching BGP route.
                  bgp_signal_opts:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether control of advertisement of the prefix to the Internet is
                          enabled to be performed via BGP signal
                      modified_at:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time BGP signaling control was toggled. This field is null if
                          BGP signaling has never been enabled.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  on_demand:
                    type: object
                    properties:
                      advertised:
                        oneOf:
                          - type: boolean
                        nullable: true
                        description: Prefix advertisement status to the Internet. This field is only not
                          'null' if on demand is enabled.
                      advertised_modified_at:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time the advertisement status was changed. This field is only
                          not 'null' if on demand is enabled.
                      on_demand_enabled:
                        type: boolean
                        description: Whether advertisement of the prefix to the Internet may be
                          dynamically enabled or disabled.
                      on_demand_locked:
                        type: boolean
                        description: Whether the advertisement status of the prefix is locked, meaning
                          it cannot be changed.
      x-distilled-pagination-class: BGPPrefixesSinglePage
    post:
      operationId: createPrefixBgpPrefix
      description: "Create a BGP prefix, controlling the BGP advertisement status of a
        specific subnet. When created, BGP prefixes are initially withdrawn, and
        can be advertised with the Update BGP Prefix API.  @example ```ts const
        bgpPrefix = await client.addressing.prefixes.bgpPrefixes.create(
        '2af39739cc4e3b5910c918468bb89828', { account_id:
        '258def64c72dae45f3e4c8516e2111f2', cidr: '192.0.2.0/24', }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cidr:
                  type: string
                  description: "Body param: IP Prefix in Classless Inter-Domain Routing format."
              required:
                - cidr
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of BGP Prefix.
                  asn:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Autonomous System Number (ASN) the prefix will be advertised under.
                  asn_prepend_count:
                    type: number
                    description: Number of times to prepend the Cloudflare ASN to the BGP AS-Path
                      attribute
                  auto_advertise_withdraw:
                    type: boolean
                    description: Determines if Cloudflare advertises a BYOIP BGP prefix even when
                      there is no matching BGP prefix in the Magic routing
                      table. When true, Cloudflare will automatically withdraw
                      the BGP prefix when there are no matching BGP routes, and
                      will resume advertising when there is at least one
                      matching BGP route.
                  bgp_signal_opts:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether control of advertisement of the prefix to the Internet is
                          enabled to be performed via BGP signal
                      modified_at:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time BGP signaling control was toggled. This field is null if
                          BGP signaling has never been enabled.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  on_demand:
                    type: object
                    properties:
                      advertised:
                        oneOf:
                          - type: boolean
                        nullable: true
                        description: Prefix advertisement status to the Internet. This field is only not
                          'null' if on demand is enabled.
                      advertised_modified_at:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time the advertisement status was changed. This field is only
                          not 'null' if on demand is enabled.
                      on_demand_enabled:
                        type: boolean
                        description: Whether advertisement of the prefix to the Internet may be
                          dynamically enabled or disabled.
                      on_demand_locked:
                        type: boolean
                        description: Whether the advertisement status of the prefix is locked, meaning
                          it cannot be changed.
      x-distilled-response-path: result
      x-distilled-errors:
        NonexistentAccountPrefix:
          - code: 1003
        InvalidAccountId:
          - code: 7003
            message:
              includes: Could not route
        InvalidNetworkCidr:
          - code: 1001
            message:
              includes: invalid_network_cidr
  /accounts/{account_id}/addressing/prefixes/{prefixId}/delegations:
    get:
      operationId: listPrefixDelegations
      description: "List all delegations for a given account IP prefix.  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        delegations of client.addressing.prefixes.delegations.list(
        '2af39739cc4e3b5910c918468bb89828', { account_id:
        '258def64c72dae45f3e4c8516e2111f2' }, )) { // ... } ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier of a Cloudflare account.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of a Delegation.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  delegated_account_id:
                    type: string
                    description: Account identifier for the account to which prefix is being
                      delegated.
                  modified_at:
                    type: string
                  parent_prefix_id:
                    type: string
                    description: Identifier of an IP Prefix.
      x-distilled-pagination-class: DelegationsSinglePage
    post:
      operationId: createPrefixDelegation
      description: "Create a new account delegation for a given IP prefix.  @example
        ```ts const delegations = await
        client.addressing.prefixes.delegations.create(
        '2af39739cc4e3b5910c918468bb89828', { account_id:
        '258def64c72dae45f3e4c8516e2111f2', cidr: '192.0.2.0/24',
        delegated_account_id: 'b1946ac92492d2347c6235b4d2611184', }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier of a Cloudflare account."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cidr:
                  type: string
                  description: "Body param: IP Prefix in Classless Inter-Domain Routing format."
                delegated_account_id:
                  type: string
                  description: "Body param: Account identifier for the account to which prefix is
                    being delegated."
              required:
                - cidr
                - delegated_account_id
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of a Delegation.
                  cidr:
                    type: string
                    description: IP Prefix in Classless Inter-Domain Routing format.
                  created_at:
                    type: string
                  delegated_account_id:
                    type: string
                    description: Account identifier for the account to which prefix is being
                      delegated.
                  modified_at:
                    type: string
                  parent_prefix_id:
                    type: string
                    description: Identifier of an IP Prefix.
[...]
