openapi: 3.1.0
info:
  title: Cloudflare AI Gateway API (patch additions)
  version: 0.0.0
  description: |
    Operations missing from the upstream OpenAPI spec / TypeScript SDK.
    Currently:
      - deleteProviderConfig: the dashboard deletes BYOK provider configs via
        DELETE .../provider_configs/{id}; verified live (returns the deleted
        config object; a second delete returns code 7002 Not Found), but the
        upstream spec only documents list + create.
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: ai-gateway
paths:
  /accounts/{account_id}/ai-gateway/gateways/{id}:
    get:
      operationId: getAiGateway
      description: "Retrieves details for a specific AI Gateway dataset.  @example
        ```ts const aiGateway = await client.aiGateway.get('my-gateway', {
        account_id: '3ebbcb006d4d46d7bb6a8c7f14676cb0', }); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: gateway id
                  cache_invalidate_on_update:
                    type: boolean
                  cache_ttl:
                    oneOf:
                      - type: number
                    nullable: true
                  collect_logs:
                    type: boolean
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  rate_limiting_interval:
                    oneOf:
                      - type: number
                    nullable: true
                  rate_limiting_limit:
                    oneOf:
                      - type: number
                    nullable: true
                  authentication:
                    type: boolean
                  dlp:
                    oneOf:
                      - type: object
                        properties:
                          action:
                            type: string
                            enum:
                              - BLOCK
                              - FLAG
                          enabled:
                            type: boolean
                          profiles:
                            type: array
                            items:
                              type: string
                        required:
                          - action
                          - enabled
                          - profiles
                      - type: object
                        properties:
                          enabled:
                            type: boolean
                          policies:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                action:
                                  type: string
                                  enum:
                                    - FLAG
                                    - BLOCK
                                check:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                      - REQUEST
                                      - RESPONSE
                                enabled:
                                  type: boolean
                                profiles:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - id
                                - action
                                - check
                                - enabled
                                - profiles
                        required:
                          - enabled
                          - policies
                  guardrails:
                    oneOf:
                      - type: object
                        properties:
                          prompt:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                          response:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                        required:
                          - prompt
                          - response
                    nullable: true
                  is_default:
                    type: boolean
                  log_management:
                    oneOf:
                      - type: number
                    nullable: true
                  log_management_strategy:
                    type: string
                    enum:
                      - STOP_INSERTING
                      - DELETE_OLDEST
                    nullable: true
                  logpush:
                    type: boolean
                  logpush_public_key:
                    oneOf:
                      - type: string
                    nullable: true
                  otel:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            authorization:
                              type: string
                            headers:
                              type: object
                              additionalProperties: true
                            url:
                              type: string
                            content_type:
                              type: string
                              enum:
                                - json
                                - protobuf
                          required:
                            - authorization
                            - headers
                            - url
                    nullable: true
                  rate_limiting_technique:
                    type: string
                    enum:
                      - fixed
                      - sliding
                    nullable: true
                  retry_backoff:
                    type: string
                    enum:
                      - constant
                      - linear
                      - exponential
                    nullable: true
                    description: Backoff strategy for retry delays
                  retry_delay:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Delay between retry attempts in milliseconds (0-5000)
                  retry_max_attempts:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Maximum number of retry attempts for failed requests (1-5)
                  store_id:
                    oneOf:
                      - type: string
                    nullable: true
                  stripe:
                    oneOf:
                      - type: object
                        properties:
                          authorization:
                            type: string
                          usage_events:
                            type: array
                            items:
                              type: object
                              properties:
                                payload:
                                  type: string
                              required:
                                - payload
                        required:
                          - authorization
                          - usage_events
                    nullable: true
                  workers_ai_billing_mode:
                    type: string
                    enum:
                      - postpaid
                    description: Controls how Workers AI inference calls routed through this gateway
                      are billed. Only 'postpaid' is currently supported.
                  zdr:
                    type: boolean
                required:
                  - id
                  - cache_invalidate_on_update
                  - cache_ttl
                  - collect_logs
                  - created_at
                  - modified_at
                  - rate_limiting_interval
                  - rate_limiting_limit
      x-distilled-response-path: result
      x-distilled-errors:
        GatewayNotFound:
          - code: 7002
    put:
      operationId: updateAiGateway
      description: "Updates an existing AI Gateway dataset.  @example ```ts const
        aiGateway = await client.aiGateway.update( 'my-gateway', { account_id:
        '3ebbcb006d4d46d7bb6a8c7f14676cb0', cache_invalidate_on_update: true,
        cache_ttl: 0, collect_logs: true, rate_limiting_interval: 0,
        rate_limiting_limit: 0, }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cache_invalidate_on_update:
                  type: boolean
                  description: Body param
                cache_ttl:
                  oneOf:
                    - type: number
                  nullable: true
                  description: Body param
                collect_logs:
                  type: boolean
                  description: Body param
                rate_limiting_interval:
                  oneOf:
                    - type: number
                  nullable: true
                  description: Body param
                rate_limiting_limit:
                  oneOf:
                    - type: number
                  nullable: true
                  description: Body param
                authentication:
                  type: boolean
                  description: Body param
                dlp:
                  oneOf:
                    - type: object
                      properties:
                        action:
                          type: string
                          enum:
                            - BLOCK
                            - FLAG
                        enabled:
                          type: boolean
                        profiles:
                          type: array
                          items:
                            type: string
                      required:
                        - action
                        - enabled
                        - profiles
                    - type: object
                      properties:
                        enabled:
                          type: boolean
                        policies:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              action:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              check:
                                type: array
                                items:
                                  type: string
                                  enum:
                                    - REQUEST
                                    - RESPONSE
                              enabled:
                                type: boolean
                              profiles:
                                type: array
                                items:
                                  type: string
                            required:
                              - id
                              - action
                              - check
                              - enabled
                              - profiles
                      required:
                        - enabled
                        - policies
                  description: Body param
                guardrails:
                  oneOf:
                    - type: object
                      properties:
                        prompt:
                          type: object
                          properties:
                            P1:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S1:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S10:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S11:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S12:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S13:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S2:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S3:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S4:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S5:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S6:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S7:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S8:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S9:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                        response:
                          type: object
                          properties:
                            P1:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S1:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S10:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S11:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S12:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S13:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S2:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S3:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S4:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S5:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S6:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S7:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S8:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                            S9:
                              type: string
                              enum:
                                - FLAG
                                - BLOCK
                      required:
                        - prompt
                        - response
                  nullable: true
                  description: Body param
                log_management:
                  oneOf:
                    - type: number
                  nullable: true
                  description: Body param
                log_management_strategy:
                  type: string
                  enum:
                    - STOP_INSERTING
                    - DELETE_OLDEST
                  nullable: true
                  description: Body param
                logpush:
                  type: boolean
                  description: Body param
                logpush_public_key:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                otel:
                  oneOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          authorization:
                            type: string
                          headers:
                            type: object
                            additionalProperties: true
                          url:
                            type: string
                          content_type:
                            type: string
                            enum:
                              - json
                              - protobuf
                        required:
                          - authorization
                          - headers
                          - url
                  nullable: true
                  description: Body param
                rate_limiting_technique:
                  type: string
                  enum:
                    - fixed
                    - sliding
                  nullable: true
                  description: Body param
                retry_backoff:
                  type: string
                  enum:
                    - constant
                    - linear
                    - exponential
                  nullable: true
                  description: "Body param: Backoff strategy for retry delays"
                retry_delay:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: Delay between retry attempts in milliseconds (0-5000)"
                retry_max_attempts:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: Maximum number of retry attempts for failed requests
                    (1-5)"
                store_id:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                stripe:
                  oneOf:
                    - type: object
                      properties:
                        authorization:
                          type: string
                        usage_events:
                          type: array
                          items:
                            type: object
                            properties:
                              payload:
                                type: string
                            required:
                              - payload
                      required:
                        - authorization
                        - usage_events
                  nullable: true
                  description: Body param
                workers_ai_billing_mode:
                  type: string
                  enum:
                    - postpaid
                  description: "Body param: Controls how Workers AI inference calls routed through
                    this gateway are billed. Only 'postpaid' is currently
                    supported."
                zdr:
                  type: boolean
                  description: Body param
              required:
                - cache_invalidate_on_update
                - cache_ttl
                - collect_logs
                - rate_limiting_interval
                - rate_limiting_limit
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: gateway id
                  cache_invalidate_on_update:
                    type: boolean
                  cache_ttl:
                    oneOf:
                      - type: number
                    nullable: true
                  collect_logs:
                    type: boolean
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  rate_limiting_interval:
                    oneOf:
                      - type: number
                    nullable: true
                  rate_limiting_limit:
                    oneOf:
                      - type: number
                    nullable: true
                  authentication:
                    type: boolean
                  dlp:
                    oneOf:
                      - type: object
                        properties:
                          action:
                            type: string
                            enum:
                              - BLOCK
                              - FLAG
                          enabled:
                            type: boolean
                          profiles:
                            type: array
                            items:
                              type: string
                        required:
                          - action
                          - enabled
                          - profiles
                      - type: object
                        properties:
                          enabled:
                            type: boolean
                          policies:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                action:
                                  type: string
                                  enum:
                                    - FLAG
                                    - BLOCK
                                check:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                      - REQUEST
                                      - RESPONSE
                                enabled:
                                  type: boolean
                                profiles:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - id
                                - action
                                - check
                                - enabled
                                - profiles
                        required:
                          - enabled
                          - policies
                  guardrails:
                    oneOf:
                      - type: object
                        properties:
                          prompt:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                          response:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                        required:
                          - prompt
                          - response
                    nullable: true
                  is_default:
                    type: boolean
                  log_management:
                    oneOf:
                      - type: number
                    nullable: true
                  log_management_strategy:
                    type: string
                    enum:
                      - STOP_INSERTING
                      - DELETE_OLDEST
                    nullable: true
                  logpush:
                    type: boolean
                  logpush_public_key:
                    oneOf:
                      - type: string
                    nullable: true
                  otel:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            authorization:
                              type: string
                            headers:
                              type: object
                              additionalProperties: true
                            url:
                              type: string
                            content_type:
                              type: string
                              enum:
                                - json
                                - protobuf
                          required:
                            - authorization
                            - headers
                            - url
                    nullable: true
                  rate_limiting_technique:
                    type: string
                    enum:
                      - fixed
                      - sliding
                    nullable: true
                  retry_backoff:
                    type: string
                    enum:
                      - constant
                      - linear
                      - exponential
                    nullable: true
                    description: Backoff strategy for retry delays
                  retry_delay:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Delay between retry attempts in milliseconds (0-5000)
                  retry_max_attempts:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Maximum number of retry attempts for failed requests (1-5)
                  store_id:
                    oneOf:
                      - type: string
                    nullable: true
                  stripe:
                    oneOf:
                      - type: object
                        properties:
                          authorization:
                            type: string
                          usage_events:
                            type: array
                            items:
                              type: object
                              properties:
                                payload:
                                  type: string
                              required:
                                - payload
                        required:
                          - authorization
                          - usage_events
                    nullable: true
                  workers_ai_billing_mode:
                    type: string
                    enum:
                      - postpaid
                    description: Controls how Workers AI inference calls routed through this gateway
                      are billed. Only 'postpaid' is currently supported.
                  zdr:
                    type: boolean
                required:
                  - id
                  - cache_invalidate_on_update
                  - cache_ttl
                  - collect_logs
                  - created_at
                  - modified_at
                  - rate_limiting_interval
                  - rate_limiting_limit
      x-distilled-response-path: result
      x-distilled-errors:
        GatewayNotFound:
          - code: 7002
    delete:
      operationId: deleteAiGateway
      description: "Deletes an AI Gateway dataset.  @example ```ts const aiGateway =
        await client.aiGateway.delete( 'my-gateway', { account_id:
        '3ebbcb006d4d46d7bb6a8c7f14676cb0' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: gateway id
                  cache_invalidate_on_update:
                    type: boolean
                  cache_ttl:
                    oneOf:
                      - type: number
                    nullable: true
                  collect_logs:
                    type: boolean
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  rate_limiting_interval:
                    oneOf:
                      - type: number
                    nullable: true
                  rate_limiting_limit:
                    oneOf:
                      - type: number
                    nullable: true
                  authentication:
                    type: boolean
                  dlp:
                    oneOf:
                      - type: object
                        properties:
                          action:
                            type: string
                            enum:
                              - BLOCK
                              - FLAG
                          enabled:
                            type: boolean
                          profiles:
                            type: array
                            items:
                              type: string
                        required:
                          - action
                          - enabled
                          - profiles
                      - type: object
                        properties:
                          enabled:
                            type: boolean
                          policies:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                action:
                                  type: string
                                  enum:
                                    - FLAG
                                    - BLOCK
                                check:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                      - REQUEST
                                      - RESPONSE
                                enabled:
                                  type: boolean
                                profiles:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - id
                                - action
                                - check
                                - enabled
                                - profiles
                        required:
                          - enabled
                          - policies
                  guardrails:
                    oneOf:
                      - type: object
                        properties:
                          prompt:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                          response:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                        required:
                          - prompt
                          - response
                    nullable: true
                  is_default:
                    type: boolean
                  log_management:
                    oneOf:
                      - type: number
                    nullable: true
                  log_management_strategy:
                    type: string
                    enum:
                      - STOP_INSERTING
                      - DELETE_OLDEST
                    nullable: true
                  logpush:
                    type: boolean
                  logpush_public_key:
                    oneOf:
                      - type: string
                    nullable: true
                  otel:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            authorization:
                              type: string
                            headers:
                              type: object
                              additionalProperties: true
                            url:
                              type: string
                            content_type:
                              type: string
                              enum:
                                - json
                                - protobuf
                          required:
                            - authorization
                            - headers
                            - url
                    nullable: true
                  rate_limiting_technique:
                    type: string
                    enum:
                      - fixed
                      - sliding
                    nullable: true
                  retry_backoff:
                    type: string
                    enum:
                      - constant
                      - linear
                      - exponential
                    nullable: true
                    description: Backoff strategy for retry delays
                  retry_delay:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Delay between retry attempts in milliseconds (0-5000)
                  retry_max_attempts:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Maximum number of retry attempts for failed requests (1-5)
                  store_id:
                    oneOf:
                      - type: string
                    nullable: true
                  stripe:
                    oneOf:
                      - type: object
                        properties:
                          authorization:
                            type: string
                          usage_events:
                            type: array
                            items:
                              type: object
                              properties:
                                payload:
                                  type: string
                              required:
                                - payload
                        required:
                          - authorization
                          - usage_events
                    nullable: true
                  workers_ai_billing_mode:
                    type: string
                    enum:
                      - postpaid
                    description: Controls how Workers AI inference calls routed through this gateway
                      are billed. Only 'postpaid' is currently supported.
                  zdr:
                    type: boolean
                required:
                  - id
                  - cache_invalidate_on_update
                  - cache_ttl
                  - collect_logs
                  - created_at
                  - modified_at
                  - rate_limiting_interval
                  - rate_limiting_limit
      x-distilled-response-path: result
      x-distilled-errors:
        GatewayNotFound:
          - code: 7002
  /accounts/{account_id}/ai-gateway/gateways:
    get:
      operationId: listAiGateways
      description: "Lists all AI Gateway evaluator types configured for the
        account.  @example ```ts // Automatically fetches more pages as needed.
        for await (const aiGatewayListResponse of client.aiGateway.list( {
        account_id: '3ebbcb006d4d46d7bb6a8c7f14676cb0' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: search
          in: query
          required: false
          description: "Query param: Search by id"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: gateway id
                  cache_invalidate_on_update:
                    type: boolean
                  cache_ttl:
                    oneOf:
                      - type: number
                    nullable: true
                  collect_logs:
                    type: boolean
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  rate_limiting_interval:
                    oneOf:
                      - type: number
                    nullable: true
                  rate_limiting_limit:
                    oneOf:
                      - type: number
                    nullable: true
                  authentication:
                    type: boolean
                  dlp:
                    oneOf:
                      - type: object
                        properties:
                          action:
                            type: string
                            enum:
                              - BLOCK
                              - FLAG
                          enabled:
                            type: boolean
                          profiles:
                            type: array
                            items:
                              type: string
                        required:
                          - action
                          - enabled
                          - profiles
                      - type: object
                        properties:
                          enabled:
                            type: boolean
                          policies:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                action:
                                  type: string
                                  enum:
                                    - FLAG
                                    - BLOCK
                                check:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                      - REQUEST
                                      - RESPONSE
                                enabled:
                                  type: boolean
                                profiles:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - id
                                - action
                                - check
                                - enabled
                                - profiles
                        required:
                          - enabled
                          - policies
                  guardrails:
                    oneOf:
                      - type: object
                        properties:
                          prompt:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                          response:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                        required:
                          - prompt
                          - response
                    nullable: true
                  is_default:
                    type: boolean
                  log_management:
                    oneOf:
                      - type: number
                    nullable: true
                  log_management_strategy:
                    type: string
                    enum:
                      - STOP_INSERTING
                      - DELETE_OLDEST
                    nullable: true
                  logpush:
                    type: boolean
                  logpush_public_key:
                    oneOf:
                      - type: string
                    nullable: true
                  otel:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            authorization:
                              type: string
                            headers:
                              type: object
                              additionalProperties: true
                            url:
                              type: string
                            content_type:
                              type: string
                              enum:
                                - json
                                - protobuf
                          required:
                            - authorization
                            - headers
                            - url
                    nullable: true
                  rate_limiting_technique:
                    type: string
                    enum:
                      - fixed
                      - sliding
                    nullable: true
                  retry_backoff:
                    type: string
                    enum:
                      - constant
                      - linear
                      - exponential
                    nullable: true
                    description: Backoff strategy for retry delays
                  retry_delay:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Delay between retry attempts in milliseconds (0-5000)
                  retry_max_attempts:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Maximum number of retry attempts for failed requests (1-5)
                  store_id:
                    oneOf:
                      - type: string
                    nullable: true
                  stripe:
                    oneOf:
                      - type: object
                        properties:
                          authorization:
                            type: string
                          usage_events:
                            type: array
                            items:
                              type: object
                              properties:
                                payload:
                                  type: string
                              required:
                                - payload
                        required:
                          - authorization
                          - usage_events
                    nullable: true
                  workers_ai_billing_mode:
                    type: string
                    enum:
                      - postpaid
                    description: Controls how Workers AI inference calls routed through this gateway
                      are billed. Only 'postpaid' is currently supported.
                  zdr:
                    type: boolean
                required:
                  - id
                  - cache_invalidate_on_update
                  - cache_ttl
                  - collect_logs
                  - created_at
                  - modified_at
                  - rate_limiting_interval
                  - rate_limiting_limit
      x-distilled-pagination-class: AIGatewayListResponsesV4PagePaginationArray
    post:
      operationId: createAiGateway
      description: "Creates a new AI Gateway.  @example ```ts const aiGateway = await
        client.aiGateway.create({ account_id:
        '3ebbcb006d4d46d7bb6a8c7f14676cb0', id: 'my-gateway',
        cache_invalidate_on_update: true, cache_ttl: 0, collect_logs: true,
        rate_limiting_interval: 0, rate_limiting_limit: 0, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: "Body param: gateway id"
                cache_invalidate_on_update:
                  type: boolean
                  description: Body param
                cache_ttl:
                  oneOf:
                    - type: number
                  nullable: true
                  description: Body param
                collect_logs:
                  type: boolean
                  description: Body param
                rate_limiting_interval:
                  oneOf:
                    - type: number
                  nullable: true
                  description: Body param
                rate_limiting_limit:
                  oneOf:
                    - type: number
                  nullable: true
                  description: Body param
                authentication:
                  type: boolean
                  description: Body param
                log_management:
                  oneOf:
                    - type: number
                  nullable: true
                  description: Body param
                log_management_strategy:
                  type: string
                  enum:
                    - STOP_INSERTING
                    - DELETE_OLDEST
                  nullable: true
                  description: Body param
                logpush:
                  type: boolean
                  description: Body param
                logpush_public_key:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                rate_limiting_technique:
                  type: string
                  enum:
                    - fixed
                    - sliding
                  nullable: true
                  description: Body param
                retry_backoff:
                  type: string
                  enum:
                    - constant
                    - linear
                    - exponential
                  nullable: true
                  description: "Body param: Backoff strategy for retry delays"
                retry_delay:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: Delay between retry attempts in milliseconds (0-5000)"
                retry_max_attempts:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: Maximum number of retry attempts for failed requests
                    (1-5)"
                workers_ai_billing_mode:
                  type: string
                  enum:
                    - postpaid
                  description: "Body param: Controls how Workers AI inference calls routed through
                    this gateway are billed. Only 'postpaid' is currently
                    supported."
                zdr:
                  type: boolean
                  description: Body param
              required:
                - id
                - cache_invalidate_on_update
                - cache_ttl
                - collect_logs
                - rate_limiting_interval
                - rate_limiting_limit
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: gateway id
                  cache_invalidate_on_update:
                    type: boolean
                  cache_ttl:
                    oneOf:
                      - type: number
                    nullable: true
                  collect_logs:
                    type: boolean
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  rate_limiting_interval:
                    oneOf:
                      - type: number
                    nullable: true
                  rate_limiting_limit:
                    oneOf:
                      - type: number
                    nullable: true
                  authentication:
                    type: boolean
                  dlp:
                    oneOf:
                      - type: object
                        properties:
                          action:
                            type: string
                            enum:
                              - BLOCK
                              - FLAG
                          enabled:
                            type: boolean
                          profiles:
                            type: array
                            items:
                              type: string
                        required:
                          - action
                          - enabled
                          - profiles
                      - type: object
                        properties:
                          enabled:
                            type: boolean
                          policies:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                action:
                                  type: string
                                  enum:
                                    - FLAG
                                    - BLOCK
                                check:
                                  type: array
                                  items:
                                    type: string
                                    enum:
                                      - REQUEST
                                      - RESPONSE
                                enabled:
                                  type: boolean
                                profiles:
                                  type: array
                                  items:
                                    type: string
                              required:
                                - id
                                - action
                                - check
                                - enabled
                                - profiles
                        required:
                          - enabled
                          - policies
                  guardrails:
                    oneOf:
                      - type: object
                        properties:
                          prompt:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                          response:
                            type: object
                            properties:
                              P1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S1:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S10:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S11:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S12:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S13:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S2:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S3:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S4:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S5:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S6:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S7:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S8:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                              S9:
                                type: string
                                enum:
                                  - FLAG
                                  - BLOCK
                        required:
                          - prompt
                          - response
                    nullable: true
                  is_default:
                    type: boolean
                  log_management:
                    oneOf:
                      - type: number
                    nullable: true
                  log_management_strategy:
                    type: string
                    enum:
                      - STOP_INSERTING
                      - DELETE_OLDEST
                    nullable: true
                  logpush:
                    type: boolean
                  logpush_public_key:
                    oneOf:
                      - type: string
                    nullable: true
                  otel:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            authorization:
                              type: string
                            headers:
                              type: object
                              additionalProperties: true
                            url:
                              type: string
                            content_type:
                              type: string
                              enum:
                                - json
                                - protobuf
                          required:
                            - authorization
                            - headers
                            - url
                    nullable: true
                  rate_limiting_technique:
                    type: string
                    enum:
                      - fixed
                      - sliding
                    nullable: true
                  retry_backoff:
                    type: string
                    enum:
                      - constant
                      - linear
                      - exponential
                    nullable: true
                    description: Backoff strategy for retry delays
                  retry_delay:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Delay between retry attempts in milliseconds (0-5000)
                  retry_max_attempts:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Maximum number of retry attempts for failed requests (1-5)
                  store_id:
                    oneOf:
                      - type: string
                    nullable: true
                  stripe:
                    oneOf:
                      - type: object
                        properties:
                          authorization:
                            type: string
                          usage_events:
                            type: array
                            items:
                              type: object
                              properties:
                                payload:
                                  type: string
                              required:
                                - payload
                        required:
                          - authorization
                          - usage_events
                    nullable: true
                  workers_ai_billing_mode:
                    type: string
                    enum:
                      - postpaid
                    description: Controls how Workers AI inference calls routed through this gateway
                      are billed. Only 'postpaid' is currently supported.
                  zdr:
                    type: boolean
                required:
                  - id
                  - cache_invalidate_on_update
                  - cache_ttl
                  - collect_logs
                  - created_at
                  - modified_at
                  - rate_limiting_interval
                  - rate_limiting_limit
      x-distilled-response-path: result
      x-distilled-errors:
        GatewayAlreadyExists:
          - code: 7001
          - status: 504
  /accounts/{account_id}/ai-gateway/billing/credit-balance:
    get:
      operationId: creditBalanceBilling
      description: "Retrieve the current credit balance, payment method info, and
        top-up configuration.  @example ```ts const response = await
        client.aiGateway.billing.creditBalance({ account_id: 'account_id', });
        ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Cloudflare account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    type: number
                  has_default_payment_method:
                    type: boolean
                  payment_method:
                    oneOf:
                      - type: object
                        properties:
                          brand:
                            type: string
                          last4:
                            type: string
                    nullable: true
                  topup_config:
                    type: object
                    properties:
                      amount:
                        oneOf:
                          - type: number
                        nullable: true
                      disabledReason:
                        oneOf:
                          - type: string
                        nullable: true
                      error:
                        oneOf:
                          - type: string
                        nullable: true
                      lastFailedAt:
                        oneOf:
                          - type: number
                        nullable: true
                      threshold:
                        oneOf:
                          - type: number
                        nullable: true
                    required:
                      - amount
                      - threshold
                  first_topup_success:
                    type: boolean
                required:
                  - balance
                  - has_default_payment_method
                  - payment_method
                  - topup_config
      x-distilled-response-path: result
  /accounts/{account_id}/ai-gateway/billing/spending-limit:
    get:
      operationId: getBillingSpendingLimit
      description: "Retrieve the current spending limit configuration for the
        account.  @example ```ts const spendingLimit = await
        client.aiGateway.billing.spendingLimit.get({ account_id: 'account_id',
        }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Cloudflare account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  config:
                    type: object
                    properties:
                      amount:
                        oneOf:
                          - type: number
                        nullable: true
                      duration:
                        oneOf:
                          - type: string
                        nullable: true
                      strategy:
                        oneOf:
                          - type: string
                        nullable: true
                    required:
                      - amount
                      - duration
                      - strategy
                  enabled:
                    type: boolean
                required:
                  - config
                  - enabled
      x-distilled-response-path: result
    post:
      operationId: createBillingSpendingLimit
      description: "Configure a spending limit with amount, strategy, and
        duration.  @example ```ts const spendingLimit = await
        client.aiGateway.billing.spendingLimit.create({ account_id:
        'account_id', amount: 10000, duration: 'monthly', strategy: 'fixed', });
        ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: "Body param: Spending limit amount in cents (min 100)."
                duration:
                  type: string
                  enum:
                    - daily
                    - weekly
                    - monthly
                  description: "Body param: Spending limit duration."
                strategy:
                  type: string
                  enum:
                    - fixed
                    - sliding
                  description: "Body param: Spending limit strategy."
              required:
                - amount
                - duration
                - strategy
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        NoManualTopup:
          - code: 1000
            message:
              includes: NO_MANUAL_TOPUP
    delete:
      operationId: deleteBillingSpendingLimit
      description: "Remove the spending limit for the account.  @example ```ts const
        spendingLimit = await client.aiGateway.billing.spendingLimit.delete({
        account_id: 'account_id', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Cloudflare account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /accounts/{account_id}/ai-gateway/billing/topup:
    post:
      operationId: createBillingTopup
      description: "Create a credit top-up via Stripe PaymentIntent for the given
        account.  @example ```ts const topup = await
        client.aiGateway.billing.topup.create({ account_id: 'account_id',
        amount: 5000, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: "Body param: Top-up amount in cents (min 1000)."
              required:
                - amount
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_secret:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Stripe PaymentIntent client secret.
                  onboarding:
                    type: boolean
                    description: Whether the user was already onboarded.
                  payment_intent_id:
                    type: string
                    description: Stripe invoice ID.
                  brand:
                    type: string
                    description: Card brand (visa, mastercard, etc.).
                  last4:
                    type: string
                    description: Last 4 digits of card.
                required:
                  - client_secret
                  - onboarding
                  - payment_intent_id
      x-distilled-response-path: result
  /accounts/{account_id}/ai-gateway/billing/topup/status:
    post:
      operationId: statusBillingTopup
      description: "Get the payment processing status of a top-up by its invoice
        ID.  @example ```ts const response = await
        client.aiGateway.billing.topup.status({ account_id: 'account_id',
        payment_intent_id: 'in_1abc', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_intent_id:
                  type: string
                  description: "Body param: Stripe invoice ID to check status for."
              required:
                - payment_intent_id
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  payment_intent_id:
                    type: string
                  status:
                    type: string
                    enum:
                      - completed
                      - pending
                required:
                  - payment_intent_id
                  - status
      x-distilled-response-path: result
  /accounts/{account_id}/ai-gateway/billing/topup/config:
    get:
      operationId: getBillingTopupConfig
      description: "Retrieve the current auto top-up threshold, amount, and any error
        state.  @example ```ts const config = await
        client.aiGateway.billing.topup.config.get({ account_id: 'account_id',
        }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Cloudflare account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  amount:
                    oneOf:
                      - type: number
                    nullable: true
                  disabledReason:
                    oneOf:
                      - type: string
                    nullable: true
                  error:
                    oneOf:
                      - type: string
                    nullable: true
                  lastFailedAt:
                    oneOf:
                      - type: number
                    nullable: true
                  threshold:
                    oneOf:
                      - type: number
                    nullable: true
                required:
                  - amount
                  - threshold
      x-distilled-response-path: result
    post:
      operationId: createBillingTopupConfig
      description: "Configure auto top-up with a balance threshold and top-up
        amount.  @example ```ts const config = await
        client.aiGateway.billing.topup.config.create({ account_id: 'account_id',
        amount: 5000, threshold: 500, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Cloudflare account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  description: "Body param: Auto top-up amount in cents (min 1000)."
                threshold:
                  type: number
                  description: "Body param: Balance threshold in cents that triggers auto top-up
                    (min 500)."
              required:
                - amount
                - threshold
      responses:
        "200":
          description: Success
          content:
[...]
