openapi: 3.1.0
info:
  title: Cloudflare AI-SECURITY API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: ai-security
paths:
  /zones/{zone_id}/ai-security/settings:
    get:
      operationId: getAiSecurity
      description: "Get whether AI Security for Apps is enabled or disabled for a
        zone.  @example ```ts const aiSecurity = await client.aiSecurity.get({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Defines the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Whether AI Security for Apps is enabled on the zone.
      x-distilled-response-path: result
      x-distilled-errors:
        AiSecurityNotEntitled:
          - code: 13101
            message:
              includes: not entitled
        ZoneNotAuthorized:
          - code: 10000
            message:
              includes: Authentication error
        Forbidden:
          - status: 403
    put:
      operationId: putAiSecurity
      description: "Enable or disable AI Security for Apps for a zone.  Changes can
        take up to a minute to propagate to the zone.  @example ```ts const
        aiSecurity = await client.aiSecurity.update({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines the zone."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: Whether AI Security for Apps is enabled on the zone."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Whether AI Security for Apps is enabled on the zone.
      x-distilled-response-path: result
      x-distilled-errors:
        AiSecurityNotEntitled:
          - code: 13101
            message:
              includes: not entitled
        ZoneNotAuthorized:
          - code: 10000
            message:
              includes: Authentication error
        Forbidden:
          - status: 403
  /zones/{zone_id}/ai-security/custom-topics:
    get:
      operationId: getCustomTopic
      description: "Get the AI Security for Apps custom topic categories for a
        zone.  @example ```ts const customTopic = await
        client.aiSecurity.customTopics.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Defines the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  topics:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          description: Unique label identifier. Must contain only lowercase letters (a–z),
                            digits (0–9), and hyphens.
                        topic:
                          type: string
                          description: Description of the topic category. Must contain only printable
                            ASCII characters.
                      required:
                        - label
                        - topic
                    description: Custom topic categories for AI Security for Apps content detection.
      x-distilled-response-path: result
      x-distilled-errors:
        AiSecurityNotEntitled:
          - code: 13101
            message:
              includes: not entitled
        ZoneNotAuthorized:
          - code: 10000
            message:
              includes: Authentication error
        Forbidden:
          - status: 403
    put:
      operationId: putCustomTopic
      description: "Set the AI Security for Apps custom topic categories for a
        zone.  A maximum of 20 custom topics can be configured per zone. Each
        topic label must be 2–20 characters using only lowercase letters (a–z),
        digits (0–9), and hyphens. Each topic description must be 2–50 printable
        ASCII characters.  Changes can take up to a minute to propagate to the
        zone.  @example ```ts const customTopic = await
        client.aiSecurity.customTopics.update({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines the zone."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                topics:
                  type: array
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                        description: Unique label identifier. Must contain only lowercase letters (a–z),
                          digits (0–9), and hyphens.
                      topic:
                        type: string
                        description: Description of the topic category. Must contain only printable
                          ASCII characters.
                    required:
                      - label
                      - topic
                  description: "Body param: Custom topic categories for AI Security for Apps
                    content detection."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  topics:
                    type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          description: Unique label identifier. Must contain only lowercase letters (a–z),
                            digits (0–9), and hyphens.
                        topic:
                          type: string
                          description: Description of the topic category. Must contain only printable
                            ASCII characters.
                      required:
                        - label
                        - topic
                    description: Custom topic categories for AI Security for Apps content detection.
      x-distilled-response-path: result
      x-distilled-errors:
        AiSecurityNotEntitled:
          - code: 13101
            message:
              includes: not entitled
        ZoneNotAuthorized:
          - code: 10000
            message:
              includes: Authentication error
        Forbidden:
          - status: 403
