openapi: 3.1.0
info:
  title: Cloudflare AI API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: ai
paths:
  /accounts/{account_id}/ai/run/{modelName}:
    post:
      operationId: runAi
      description: This endpoint provides users with the capability to run specific AI
        models on-demand.  By submitting the required input data, users can
        receive real-time predictions or results generated by the chosen AI
        model. The endpoint supports various AI model types, ensuring
        flexibility and adaptability for diverse use cases.  Model specific
        inputs available in [Cloudflare
        Docs](https://developers.cloudflare.com/workers-ai/models/).
      parameters:
        - name: modelName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: "Body param: The text that you want to classify"
              required:
                - text
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          description: The classification label assigned to the text (e.g., 'POSITIVE' or
                            'NEGATIVE')
                        score:
                          type: number
                          description: Confidence score indicating the likelihood that the text belongs to
                            the specified label
                  - type: string
                    format: binary
                  - type: object
                    properties:
                      audio:
                        type: string
                        description: The generated audio in MP3 format, base64-encoded
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                        description: Embeddings of the requested text values
                      shape:
                        type: array
                        items:
                          type: number
                  - type: object
                    properties:
                      text:
                        type: string
                        description: The transcription
                      vtt:
                        type: string
                      word_count:
                        type: number
                      words:
                        type: array
                        items:
                          type: object
                          properties:
                            end:
                              type: number
                              description: The ending second when the word completes
                            start:
                              type: number
                              description: The second this word begins in the recording
                            word:
                              type: string
                    required:
                      - text
                  - type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          description: The predicted category or class for the input image based on
                            analysis
                        score:
                          type: number
                          description: A confidence value, between 0 and 1, indicating how certain the
                            model is about the predicted label
                  - type: array
                    items:
                      type: object
                      properties:
                        box:
                          type: object
                          properties:
                            xmax:
                              type: number
                              description: The x-coordinate of the bottom-right corner of the bounding box
                            xmin:
                              type: number
                              description: The x-coordinate of the top-left corner of the bounding box
                            ymax:
                              type: number
                              description: The y-coordinate of the bottom-right corner of the bounding box
                            ymin:
                              type: number
                              description: The y-coordinate of the top-left corner of the bounding box
                          description: Coordinates defining the bounding box around the detected object
                        label:
                          type: string
                          description: The class label or name of the detected object
                        score:
                          type: number
                          description: Confidence score indicating the likelihood that the detection is
                            correct
                  - type: object
                    properties:
                      response:
                        type: string
                        description: The generated text response from the model
                      tool_calls:
                        type: array
                        items:
                          type: object
                          properties:
                            arguments:
                              description: The arguments passed to be passed to the tool call request
                            name:
                              type: string
                              description: The name of the tool to be called
                        description: An array of tool calls requests made during the response generation
                      usage:
                        type: object
                        properties:
                          completion_tokens:
                            type: number
                            description: Total number of tokens in output
                          prompt_tokens:
                            type: number
                            description: Total number of tokens in input
                          total_tokens:
                            type: number
                            description: Total number of input and output tokens
                        description: Usage statistics for the inference request
                    required:
                      - response
                  - type: object
                    properties:
                      translated_text:
                        type: string
                        description: The translated text in the target language
                  - type: object
                    properties:
                      summary:
                        type: string
                        description: The summarized version of the input text
                  - type: object
                    properties:
                      description:
                        type: string
                  - type: object
                    properties:
                      description:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      shape:
                        type: array
                        items:
                          type: number
      x-distilled-response-path: result
      x-distilled-errors:
        ModelNotFound:
          - code: 7003
          - code: 7000
  /accounts/{account_id}/ai/authors/search:
    get:
      operationId: listAuthors
      description: Searches Workers AI models by author or organization name.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-pagination-class: AuthorListResponsesSinglePage
  /accounts/{account_id}/ai/finetunes:
    get:
      operationId: listFinetunes
      description: Lists all fine-tuning jobs created by the account, including status
        and metrics.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    created_at:
                      type: string
                    model:
                      type: string
                    modified_at:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                  required:
                    - id
                    - created_at
                    - model
                    - modified_at
                    - name
      x-distilled-response-path: result
      x-distilled-errors:
        AccountNotFound:
          - code: 7003
    post:
      operationId: createFinetune
      description: Creates a new fine-tuning job for a Workers AI model using custom
        training data.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Body param
                name:
                  type: string
                  description: Body param
                description:
                  type: string
                  description: Body param
                public:
                  type: boolean
                  description: Body param
              required:
                - model
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_at:
                    type: string
                  model:
                    type: string
                  modified_at:
                    type: string
                  name:
                    type: string
                  public:
                    type: boolean
                  description:
                    type: string
                required:
                  - id
                  - created_at
                  - model
                  - modified_at
                  - name
                  - public
      x-distilled-response-path: result
      x-distilled-errors:
        ModelNotSupported:
          - code: 1000
        AccountNotFound:
          - code: 7003
  /accounts/{account_id}/ai/finetunes/{finetuneId}/finetune-assets:
    post:
      operationId: createFinetuneAsset
      description: Uploads training data assets for a Workers AI fine-tuning job.
      parameters:
        - name: finetuneId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: "Body param: File to upload"
                file_name:
                  type: string
                  description: "Body param: Name of the file (adapter_config.json or
                    adapter_model.safetensors)"
              required:
                - file
                - file_name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
      x-distilled-errors:
        ModelNotSupported:
          - code: 1000
        AccountNotFound:
          - code: 7003
  /accounts/{account_id}/ai/finetunes/public:
    get:
      operationId: listFinetunePublics
      description: Lists publicly available fine-tuned models that can be used with
        Workers AI.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param: Pagination Limit"
          schema:
            type: number
        - name: offset
          in: query
          required: false
          description: "Query param: Pagination Offset"
          schema:
            type: number
        - name: orderBy
          in: query
          required: false
          description: "Query param: Order By Column Name"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_at:
                    type: string
                  model:
                    type: string
                  modified_at:
                    type: string
                  name:
                    type: string
                  public:
                    type: boolean
                  description:
                    type: string
                required:
                  - id
                  - created_at
                  - model
                  - modified_at
                  - name
                  - public
      x-distilled-pagination-class: PublicListResponsesSinglePage
  /accounts/{account_id}/ai/models/search:
    get:
      operationId: listModels
      description: Searches Workers AI models by name or description.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: author
          in: query
          required: false
          description: "Query param: Filter by Author"
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: "Query param: If set, return models in the requested marketplace
            format instead of the default response."
          schema:
            type: string
            enum:
              - openrouter
        - name: hide_experimental
          in: query
          required: false
          description: "Query param: Filter to hide experimental models"
          schema:
            type: boolean
        - name: search
          in: query
          required: false
          description: "Query param: Search"
          schema:
            type: string
        - name: source
          in: query
          required: false
          description: "Query param: Filter by Source Id"
          schema:
            type: number
        - name: task
          in: query
          required: false
          description: "Query param: Filter by Task Name"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-pagination-class: ModelListResponsesV4PagePaginationArray
  /accounts/{account_id}/ai/models/schema:
    get:
      operationId: getModelSchema
      description: Retrieves the input and output JSON schema definition for a Workers
        AI model.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: model
          in: query
          required: true
          description: "Query param: Model Name"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  input:
                    type: object
                    properties:
                      additionalProperties:
                        type: boolean
                      description:
                        type: string
                      type:
                        type: string
                    required:
                      - additionalProperties
                      - description
                      - type
                  output:
                    type: object
                    properties:
                      additionalProperties:
                        type: boolean
                      description:
                        type: string
                      type:
                        type: string
                    required:
                      - additionalProperties
                      - description
                      - type
                required:
                  - input
                  - output
      x-distilled-response-path: result
      x-distilled-errors:
        ModelNotSupported:
          - code: 1000
        ModelSchemaNotFound:
          - code: 6002
        AccountNotFound:
          - code: 7003
  /accounts/{account_id}/ai/tasks/search:
    get:
      operationId: listTasks
      description: Searches Workers AI models by task type (e.g., text-generation,
        embeddings).
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-pagination-class: TaskListResponsesSinglePage
  /accounts/{account_id}/ai/tomarkdown/supported:
    get:
      operationId: supportedToMarkdown
      description: Lists all file formats supported for conversion to Markdown.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  extension:
                    type: string
                  mimeType:
                    type: string
                required:
                  - extension
                  - mimeType
      x-distilled-pagination-class: ToMarkdownSupportedResponsesSinglePage
  /accounts/{account_id}/ai/tomarkdown:
    post:
      operationId: transformToMarkdown
      description: Converts uploaded files into Markdown format using Workers AI.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
                  properties:
                    files:
                      type: array
                      items:
                        type: string
                        format: binary
                  required:
                    - files
                  description: Body param
              required:
                - file
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: string
                    format:
                      type: string
                    mimeType:
                      type: string
                    name:
                      type: string
                    tokens:
                      type: string
                  required:
                    - data
                    - format
                    - mimeType
                    - name
                    - tokens
      x-distilled-response-path: result
