openapi: 3.1.0
info:
  title: Cloudflare AI API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: ai
paths:
  /accounts/{account_id}/ai/run/{modelName}:
    post:
      operationId: runAi
      description: This endpoint provides users with the capability to run specific AI
        models on-demand.  By submitting the required input data, users can
        receive real-time predictions or results generated by the chosen AI
        model. The endpoint supports various AI model types, ensuring
        flexibility and adaptability for diverse use cases.  Model specific
        inputs available in [Cloudflare
        Docs](https://developers.cloudflare.com/workers-ai/models/).
      parameters:
        - name: modelName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                  description: "Body param: The text that you want to classify"
                prompt:
                  type: string
                  description: "Body param: A text description of the image you want to generate"
                guidance:
                  type: number
                  description: "Body param: Controls how closely the generated image should adhere
                    to the prompt; higher values make the image more aligned
                    with the prompt"
                height:
                  type: number
                  description: "Body param: The height of the generated image in pixels"
                image:
                  oneOf:
                    - type: array
                      items:
                        type: number
                    - type: string
                  description: "Body param: For use with img2img tasks. An array of integers that
                    represent the image data constrained to 8-bit unsigned
                    integer values"
                image_b64:
                  type: string
                  description: "Body param: For use with img2img tasks. A base64-encoded string of
                    the input image"
                mask:
                  type: array
                  items:
                    type: number
                  description: "Body param: An array representing An array of integers that
                    represent mask image data for inpainting constrained to
                    8-bit unsigned integer values"
                negative_prompt:
                  type: string
                  description: "Body param: Text describing elements to avoid in the generated
                    image"
                num_steps:
                  type: number
                  description: "Body param: The number of diffusion steps; higher values can
                    improve quality but take longer"
                seed:
                  type: number
                  description: "Body param: Random seed for reproducibility of the image
                    generation"
                strength:
                  type: number
                  description: "Body param: A value between 0 and 1 indicating how strongly to
                    apply the transformation during img2img tasks; lower values
                    make the output closer to the input image"
                width:
                  type: number
                  description: "Body param: The width of the generated image in pixels"
                lang:
                  type: string
                  description: "Body param: The speech language (e.g., 'en' for English, 'fr' for
                    French). Defaults to 'en' if not specified"
                audio:
                  type: array
                  items:
                    type: number
                  description: "Body param: An array of integers that represent the audio data
                    constrained to 8-bit unsigned integer values"
                source_lang:
                  type: string
                  description: "Body param: The language of the recorded audio"
                target_lang:
                  type: string
                  description: "Body param: The language to translate the transcription into.
                    Currently only English is supported."
                frequency_penalty:
                  type: number
                  description: "Body param: Decreases the likelihood of the model repeating the
                    same lines verbatim."
                lora:
                  type: string
                  description: "Body param: Name of the LoRA (Low-Rank Adaptation) model to
                    fine-tune the base model."
                max_tokens:
                  type: number
                  description: "Body param: The maximum number of tokens to generate in the
                    response."
                presence_penalty:
                  type: number
                  description: "Body param: Increases the likelihood of the model introducing new
                    topics."
                raw:
                  type: boolean
                  description: "Body param: If true, a chat template is not applied and you must
                    adhere to the specific model's expected formatting."
                repetition_penalty:
                  type: number
                  description: "Body param: Penalty for repeated tokens; higher values discourage
                    repetition."
                response_format:
                  type: object
                  properties:
                    json_schema: {}
                    type:
                      type: string
                      enum:
                        - json_object
                        - json_schema
                  description: Body param
                stream:
                  type: boolean
                  description: "Body param: If true, the response will be streamed back
                    incrementally using SSE, Server Sent Events."
                temperature:
                  type: number
                  description: "Body param: Controls the randomness of the output; higher values
                    produce more random results."
                top_k:
                  type: number
                  description: "Body param: Limits the AI to choose from the top 'k' most probable
                    words. Lower values make responses more focused; higher
                    values introduce more variety and potential surprises."
                top_p:
                  type: number
                  description: "Body param: Adjusts the creativity of the AI's responses by
                    controlling how many possible words it considers. Lower
                    values make outputs more predictable; higher values allow
                    for more varied and creative responses."
                messages:
                  oneOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          content:
                            oneOf:
                              - type: string
                              - type: array
                                items:
                                  type: object
                                  properties:
                                    text:
                                      type: string
                                      description: Text content
                                    type:
                                      type: string
                                      description: Type of the content (text)
                            description: The content of the message as a string.
                          role:
                            type: string
                            description: The role of the message sender (e.g., 'user', 'assistant',
                              'system', 'tool').
                        required:
                          - content
                          - role
                    - type: array
                      items:
                        type: object
                        properties:
                          content:
                            oneOf:
                              - type: string
                              - type: array
                                items:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      description: Type of the content part (e.g. 'text', 'image_url').
                                    image_url:
                                      type: object
                                      properties:
                                        url:
                                          type: string
                                          description: Image URI with data (e.g. data:image/jpeg;base64,/9j/...).
                                      required:
                                        - url
                                      description: Image URL object (when type is 'image_url').
                                    text:
                                      type: string
                                      description: Text content (when type is 'text').
                                  required:
                                    - type
                            description: The content of the message as a string.
                          role:
                            type: string
                            description: The role of the message sender (e.g., 'user', 'assistant',
                              'system', 'tool').
                        required:
                          - content
                          - role
                  description: "Body param: An array of message objects representing the
                    conversation history."
                functions:
                  type: array
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                      name:
                        type: string
                    required:
                      - code
                      - name
                  description: Body param
                tools:
                  type: array
                  items:
                    oneOf:
                      - type: object
                        properties:
                          description:
                            type: string
                            description: A brief description of what the tool does.
                          name:
                            type: string
                            description: The name of the tool. More descriptive the better.
                          parameters:
                            type: object
                            properties:
                              properties:
                                type: object
                                additionalProperties: true
                                description: Definitions of each parameter.
                              type:
                                type: string
                                description: The type of the parameters object (usually 'object').
                              required:
                                type: array
                                items:
                                  type: string
                                description: List of required parameter names.
                            required:
                              - properties
                              - type
                            description: Schema defining the parameters accepted by the tool.
                        required:
                          - description
                          - name
                          - parameters
                      - type: object
                        properties:
                          code:
                            type: string
                          name:
                            type: string
                        required:
                          - code
                          - name
                  description: "Body param: A list of tools available for the assistant to use."
                input_text:
                  type: string
                  description: "Body param: The text that you want the model to summarize"
                max_length:
                  type: number
                  description: "Body param: The maximum length of the generated summary in tokens"
                ignore_eos:
                  type: boolean
                  description: "Body param: Whether to ignore the EOS token and continue
                    generating tokens after the EOS token is generated."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          description: The classification label assigned to the text (e.g., 'POSITIVE' or
                            'NEGATIVE')
                        score:
                          type: number
                          description: Confidence score indicating the likelihood that the text belongs to
                            the specified label
                  - type: string
                    format: binary
                  - type: object
                    properties:
                      audio:
                        type: string
                        description: The generated audio in MP3 format, base64-encoded
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                        description: Embeddings of the requested text values
                      shape:
                        type: array
                        items:
                          type: number
                  - type: object
                    properties:
                      text:
                        type: string
                        description: The transcription
                      vtt:
                        type: string
                      word_count:
                        type: number
                      words:
                        type: array
                        items:
                          type: object
                          properties:
                            end:
                              type: number
                              description: The ending second when the word completes
                            start:
                              type: number
                              description: The second this word begins in the recording
                            word:
                              type: string
                    required:
                      - text
                  - type: array
                    items:
                      type: object
                      properties:
                        label:
                          type: string
                          description: The predicted category or class for the input image based on
                            analysis
                        score:
                          type: number
                          description: A confidence value, between 0 and 1, indicating how certain the
                            model is about the predicted label
                  - type: array
                    items:
                      type: object
                      properties:
                        box:
                          type: object
                          properties:
                            xmax:
                              type: number
                              description: The x-coordinate of the bottom-right corner of the bounding box
                            xmin:
                              type: number
                              description: The x-coordinate of the top-left corner of the bounding box
                            ymax:
                              type: number
                              description: The y-coordinate of the bottom-right corner of the bounding box
                            ymin:
                              type: number
                              description: The y-coordinate of the top-left corner of the bounding box
                          description: Coordinates defining the bounding box around the detected object
                        label:
                          type: string
                          description: The class label or name of the detected object
                        score:
                          type: number
                          description: Confidence score indicating the likelihood that the detection is
                            correct
                  - type: object
                    properties:
                      response:
                        type: string
                        description: The generated text response from the model
                      tool_calls:
                        type: array
                        items:
                          type: object
                          properties:
                            arguments:
                              description: The arguments passed to be passed to the tool call request
                            name:
                              type: string
                              description: The name of the tool to be called
                        description: An array of tool calls requests made during the response generation
                      usage:
                        type: object
                        properties:
                          completion_tokens:
                            type: number
                            description: Total number of tokens in output
                          prompt_tokens:
                            type: number
                            description: Total number of tokens in input
                          total_tokens:
                            type: number
                            description: Total number of input and output tokens
                        description: Usage statistics for the inference request
                    required:
                      - response
                  - type: object
                    properties:
                      translated_text:
                        type: string
                        description: The translated text in the target language
                  - type: object
                    properties:
                      summary:
                        type: string
                        description: The summarized version of the input text
                  - type: object
                    properties:
                      description:
                        type: string
                  - type: object
                    properties:
                      description:
                        type: string
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: array
                          items:
                            type: number
                      shape:
                        type: array
                        items:
                          type: number
      x-distilled-response-path: result
      x-distilled-errors:
        ModelNotFound:
          - code: 7003
          - code: 7000
  /accounts/{account_id}/ai/authors/search:
    get:
      operationId: listAuthors
      description: Searches Workers AI models by author or organization name.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-pagination-class: AuthorListResponsesSinglePage
  /accounts/{account_id}/ai/finetunes:
    get:
      operationId: listFinetunes
      description: Lists all fine-tuning jobs created by the account, including status
        and metrics.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    created_at:
                      type: string
                    model:
                      type: string
                    modified_at:
                      type: string
                    name:
                      type: string
                    description:
                      type: string
                  required:
                    - id
                    - created_at
                    - model
                    - modified_at
                    - name
      x-distilled-response-path: result
      x-distilled-errors:
        AccountNotFound:
          - code: 7003
    post:
      operationId: createFinetune
      description: Creates a new fine-tuning job for a Workers AI model using custom
        training data.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                model:
                  type: string
                  description: Body param
                name:
                  type: string
                  description: Body param
                description:
                  type: string
                  description: Body param
                public:
                  type: boolean
                  description: Body param
              required:
                - model
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_at:
                    type: string
                  model:
                    type: string
                  modified_at:
                    type: string
                  name:
                    type: string
                  public:
                    type: boolean
                  description:
                    type: string
                required:
                  - id
                  - created_at
                  - model
                  - modified_at
                  - name
                  - public
      x-distilled-response-path: result
      x-distilled-errors:
        ModelNotSupported:
          - code: 1000
        AccountNotFound:
          - code: 7003
  /accounts/{account_id}/ai/finetunes/{finetuneId}/finetune-assets:
    post:
      operationId: createFinetuneAsset
      description: Uploads training data assets for a Workers AI fine-tuning job.
      parameters:
        - name: finetuneId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: "Body param: File to upload"
                file_name:
                  type: string
                  description: "Body param: Name of the file (adapter_config.json or
                    adapter_model.safetensors)"
              required:
                - file
                - file_name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
      x-distilled-errors:
        ModelNotSupported:
          - code: 1000
        AccountNotFound:
          - code: 7003
  /accounts/{account_id}/ai/finetunes/public:
    get:
      operationId: listFinetunePublics
      description: Lists publicly available fine-tuned models that can be used with
        Workers AI.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param: Pagination Limit"
          schema:
            type: number
        - name: offset
          in: query
          required: false
          description: "Query param: Pagination Offset"
          schema:
            type: number
        - name: orderBy
          in: query
          required: false
          description: "Query param: Order By Column Name"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_at:
                    type: string
                  model:
                    type: string
                  modified_at:
                    type: string
                  name:
                    type: string
                  public:
                    type: boolean
                  description:
                    type: string
                required:
                  - id
                  - created_at
                  - model
                  - modified_at
                  - name
                  - public
      x-distilled-pagination-class: PublicListResponsesSinglePage
  /accounts/{account_id}/ai/models/search:
    get:
      operationId: listModels
      description: Searches Workers AI models by name or description.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: author
          in: query
          required: false
          description: "Query param: Filter by Author"
          schema:
            type: string
        - name: format
          in: query
          required: false
          description: "Query param: If set, return models in the requested marketplace
            format instead of the default response."
          schema:
            type: string
            enum:
              - openrouter
        - name: hide_experimental
          in: query
          required: false
          description: "Query param: Filter to hide experimental models"
          schema:
            type: boolean
        - name: search
          in: query
          required: false
          description: "Query param: Search"
          schema:
            type: string
        - name: source
          in: query
          required: false
          description: "Query param: Filter by Source Id"
          schema:
            type: number
        - name: task
          in: query
          required: false
          description: "Query param: Filter by Task Name"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-pagination-class: ModelListResponsesV4PagePaginationArray
  /accounts/{account_id}/ai/models/schema:
    get:
      operationId: getModelSchema
      description: Retrieves the input and output JSON schema definition for a Workers
        AI model.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: model
          in: query
          required: true
          description: "Query param: Model Name"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  input:
                    type: object
                    properties:
                      additionalProperties:
                        type: boolean
                      description:
                        type: string
                      type:
                        type: string
                    required:
                      - additionalProperties
                      - description
                      - type
                  output:
                    type: object
                    properties:
                      additionalProperties:
                        type: boolean
                      description:
                        type: string
                      type:
                        type: string
                    required:
                      - additionalProperties
                      - description
                      - type
                required:
                  - input
                  - output
      x-distilled-response-path: result
      x-distilled-errors:
        ModelNotSupported:
          - code: 1000
        ModelSchemaNotFound:
          - code: 6002
        AccountNotFound:
          - code: 7003
  /accounts/{account_id}/ai/tasks/search:
    get:
      operationId: listTasks
      description: Searches Workers AI models by task type (e.g., text-generation,
        embeddings).
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-pagination-class: TaskListResponsesSinglePage
  /accounts/{account_id}/ai/tomarkdown/supported:
    get:
      operationId: supportedToMarkdown
      description: Lists all file formats supported for conversion to Markdown.
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  extension:
                    type: string
                  mimeType:
                    type: string
                required:
                  - extension
                  - mimeType
      x-distilled-pagination-class: ToMarkdownSupportedResponsesSinglePage
  /accounts/{account_id}/ai/tomarkdown:
    post:
      operationId: transformToMarkdown
      description: Converts uploaded files into Markdown format using Workers AI.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
                  properties:
                    files:
                      type: array
                      items:
                        type: string
                        format: binary
                  required:
                    - files
                  description: Body param
              required:
                - file
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: string
                    format:
                      type: string
                    mimeType:
                      type: string
                    name:
                      type: string
                    tokens:
                      type: string
                  required:
                    - data
                    - format
                    - mimeType
                    - name
                    - tokens
      x-distilled-response-path: result
