openapi: 3.1.0
info:
  title: Cloudflare AISEARCH API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: aisearch
paths:
  /accounts/{account_id}/ai-search/instances:
    get:
      operationId: listInstances
      description: "List instances.  @example ```ts // Automatically fetches more
        pages as needed. for await (const instanceListResponse of
        client.aiSearch.instances.list( { account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: search
          in: query
          required: false
          description: "Query param: Search by id"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Use your AI Search ID.
                  account_id:
                    type: string
                  account_tag:
                    type: string
                  created_at:
                    type: string
                  internal_id:
                    type: string
                  modified_at:
                    type: string
                  source:
                    type: string
                  token_id:
                    type: string
                  type:
                    type: string
                    enum:
                      - r2
                      - web-crawler
                  vectorize_name:
                    type: string
                  ai_gateway_id:
                    type: string
                  ai_search_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  cache:
                    type: boolean
                  cache_threshold:
                    type: string
                    enum:
                      - super_strict_match
                      - close_enough
                      - flexible_friend
                      - anything_goes
                  chunk:
                    type: boolean
                  chunk_overlap:
                    type: number
                  chunk_size:
                    type: number
                  created_by:
                    type: string
                  embedding_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-m3"
                      - "@cf/baai/bge-large-en-v1.5"
                      - "@cf/google/embeddinggemma-300m"
                      - "@cf/qwen/qwen3-embedding-0.6b"
                      - google-ai-studio/gemini-embedding-001
                      - openai/text-embedding-3-small
                      - openai/text-embedding-3-large
                      - ""
                  enable:
                    type: boolean
                  engine_version:
                    type: number
                  hybrid_search_enabled:
                    type: boolean
                  last_activity:
                    type: string
                  max_num_results:
                    type: number
                  metadata:
                    type: object
                    properties:
                      created_from_aisearch_wizard:
                        type: boolean
                      worker_domain:
                        type: string
                  modified_by:
                    type: string
                  paused:
                    type: boolean
                  public_endpoint_id:
                    type: string
                  public_endpoint_params:
                    type: object
                    properties:
                      authorized_hosts:
                        type: array
                        items:
                          type: string
                      chat_completions_endpoint:
                        type: object
                        properties:
                          disabled:
                            type: boolean
                            description: Disable chat completions endpoint for this public endpoint
                      enabled:
                        type: boolean
                      mcp:
                        type: object
                        properties:
                          disabled:
                            type: boolean
                            description: Disable MCP endpoint for this public endpoint
                      rate_limit:
                        type: object
                        properties:
                          period_ms:
                            type: number
                          requests:
                            type: number
                          technique:
                            type: string
                            enum:
                              - fixed
                              - sliding
                      search_endpoint:
                        type: object
                        properties:
                          disabled:
                            type: boolean
                            description: Disable search endpoint for this public endpoint
                  reranking:
                    type: boolean
                  reranking_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-reranker-base"
                      - ""
                  rewrite_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  rewrite_query:
                    type: boolean
                  score_threshold:
                    type: number
                  source_params:
                    type: object
                    properties:
                      exclude_items:
                        type: array
                        items:
                          type: string
                        description: List of path patterns to exclude. Supports wildcards (e.g.,
                          _/admin/_, /private/\ _, _\private\ )
                      include_items:
                        type: array
                        items:
                          type: string
                        description: List of path patterns to include. Supports wildcards (e.g.,
                          _/blog/_.html, /docs/\ _, _\blog\ .html)
                      prefix:
                        type: string
                      r2_jurisdiction:
                        type: string
                      web_crawler:
                        type: object
                        properties:
                          parse_options:
                            type: object
                            properties:
                              include_headers:
                                type: object
                                additionalProperties: true
                              include_images:
                                type: boolean
                              use_browser_rendering:
                                type: boolean
                          parse_type:
                            type: string
                            enum:
                              - sitemap
                              - feed-rss
                          store_options:
                            type: object
                            properties:
                              storage_id:
                                type: string
                              r2_jurisdiction:
                                type: string
                              storage_type:
                                type: string
                                enum:
                                  - r2
                            required:
                              - storage_id
                  status:
                    type: string
                  summarization:
                    type: boolean
                  summarization_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  system_prompt_ai_search:
                    type: string
                  system_prompt_index_summarization:
                    type: string
                  system_prompt_rewrite_query:
                    type: string
                  vectorize_active_namespace:
                    type: string
                required:
                  - id
                  - account_id
                  - account_tag
                  - created_at
                  - internal_id
                  - modified_at
                  - source
                  - token_id
                  - type
                  - vectorize_name
      x-distilled-pagination-class: InstanceListResponsesV4PagePaginationArray
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
    post:
      operationId: createInstance
      description: "Create new instances.  @example ```ts const instance = await
        client.aiSearch.instances.create({ account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22', id: 'my-ai-search', source:
        'source', token_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', type: 'r2',
        }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: "Body param: Use your AI Search ID."
                source:
                  type: string
                  description: "Body param:"
                token_id:
                  type: string
                  description: "Body param:"
                type:
                  type: string
                  enum:
                    - r2
                    - web-crawler
                  description: "Body param:"
                ai_gateway_id:
                  type: string
                  description: "Body param:"
                ai_search_model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  description: "Body param:"
                chunk:
                  type: boolean
                  description: "Body param:"
                chunk_overlap:
                  type: number
                  description: "Body param:"
                chunk_size:
                  type: number
                  description: "Body param:"
                embedding_model:
                  type: string
                  enum:
                    - "@cf/baai/bge-m3"
                    - "@cf/baai/bge-large-en-v1.5"
                    - "@cf/google/embeddinggemma-300m"
                    - "@cf/qwen/qwen3-embedding-0.6b"
                    - google-ai-studio/gemini-embedding-001
                    - openai/text-embedding-3-small
                    - openai/text-embedding-3-large
                    - ""
                  description: "Body param:"
                hybrid_search_enabled:
                  type: boolean
                  description: "Body param:"
                max_num_results:
                  type: number
                  description: "Body param:"
                metadata:
                  type: object
                  properties:
                    created_from_aisearch_wizard:
                      type: boolean
                    worker_domain:
                      type: string
                  description: "Body param:"
                public_endpoint_params:
                  type: object
                  properties:
                    authorized_hosts:
                      type: array
                      items:
                        type: string
                    chat_completions_endpoint:
                      type: object
                      properties:
                        disabled:
                          type: boolean
                          description: Disable chat completions endpoint for this public endpoint
                    enabled:
                      type: boolean
                    mcp:
                      type: object
                      properties:
                        disabled:
                          type: boolean
                          description: Disable MCP endpoint for this public endpoint
                    rate_limit:
                      type: object
                      properties:
                        period_ms:
                          type: number
                        requests:
                          type: number
                        technique:
                          type: string
                          enum:
                            - fixed
                            - sliding
                    search_endpoint:
                      type: object
                      properties:
                        disabled:
                          type: boolean
                          description: Disable search endpoint for this public endpoint
                  description: "Body param:"
                reranking:
                  type: boolean
                  description: "Body param:"
                reranking_model:
                  type: string
                  enum:
                    - "@cf/baai/bge-reranker-base"
                    - ""
                  description: "Body param:"
                rewrite_model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  description: "Body param:"
                rewrite_query:
                  type: boolean
                  description: "Body param:"
                score_threshold:
                  type: number
                  description: "Body param:"
                source_params:
                  type: object
                  properties:
                    exclude_items:
                      type: array
                      items:
                        type: string
                      description: List of path patterns to exclude. Supports wildcards (e.g.,
                        _/admin/_, /private/\ _, _\private\ )
                    include_items:
                      type: array
                      items:
                        type: string
                      description: List of path patterns to include. Supports wildcards (e.g.,
                        _/blog/_.html, /docs/\ _, _\blog\ .html)
                    prefix:
                      type: string
                    r2_jurisdiction:
                      type: string
                    web_crawler:
                      type: object
                      properties:
                        parse_options:
                          type: object
                          properties:
                            include_headers:
                              type: object
                              additionalProperties: true
                            include_images:
                              type: boolean
                            use_browser_rendering:
                              type: boolean
                        parse_type:
                          type: string
                          enum:
                            - sitemap
                            - feed-rss
                        store_options:
                          type: object
                          properties:
                            storage_id:
                              type: string
                            r2_jurisdiction:
                              type: string
                            storage_type:
                              type: string
                              enum:
                                - r2
                          required:
                            - storage_id
                  description: "Body param:"
              required:
                - id
                - source
                - token_id
                - type
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Use your AI Search ID.
                  account_id:
                    type: string
                  account_tag:
                    type: string
                  created_at:
                    type: string
                  internal_id:
                    type: string
                  modified_at:
                    type: string
                  source:
                    type: string
                  token_id:
                    type: string
                  type:
                    type: string
                    enum:
                      - r2
                      - web-crawler
                  vectorize_name:
                    type: string
                  ai_gateway_id:
                    type: string
                  ai_search_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  cache:
                    type: boolean
                  cache_threshold:
                    type: string
                    enum:
                      - super_strict_match
                      - close_enough
                      - flexible_friend
                      - anything_goes
                    nullable: true
                  chunk:
                    type: boolean
                  chunk_overlap:
                    type: number
                  chunk_size:
                    type: number
                  created_by:
                    type: string
                  embedding_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-m3"
                      - "@cf/baai/bge-large-en-v1.5"
                      - "@cf/google/embeddinggemma-300m"
                      - "@cf/qwen/qwen3-embedding-0.6b"
                      - google-ai-studio/gemini-embedding-001
                      - openai/text-embedding-3-small
                      - openai/text-embedding-3-large
                      - ""
                  enable:
                    type: boolean
                  engine_version:
                    type: number
                  hybrid_search_enabled:
                    type: boolean
                  last_activity:
                    oneOf:
                      - type: string
                    nullable: true
                  max_num_results:
                    type: number
                  metadata:
                    oneOf:
                      - type: object
                        properties:
                          created_from_aisearch_wizard:
                            type: boolean
                          worker_domain:
                            type: string
                    nullable: true
                  modified_by:
                    type: string
                  paused:
                    type: boolean
                  public_endpoint_id:
                    oneOf:
                      - type: string
                    nullable: true
                  public_endpoint_params:
                    oneOf:
                      - type: object
                        properties:
                          authorized_hosts:
                            type: array
                            items:
                              type: string
                          chat_completions_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable chat completions endpoint for this public endpoint
                          enabled:
                            type: boolean
                          mcp:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable MCP endpoint for this public endpoint
                          rate_limit:
                            type: object
                            properties:
                              period_ms:
                                type: number
                              requests:
                                type: number
                              technique:
                                type: string
                                enum:
                                  - fixed
                                  - sliding
                          search_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable search endpoint for this public endpoint
                    nullable: true
                  reranking:
                    type: boolean
                  reranking_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-reranker-base"
                      - ""
                  rewrite_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  rewrite_query:
                    type: boolean
                  score_threshold:
                    type: number
                  source_params:
                    oneOf:
                      - type: object
                        properties:
                          exclude_items:
                            type: array
                            items:
                              type: string
                            description: List of path patterns to exclude. Supports wildcards (e.g.,
                              _/admin/_, /private/\ _, _\private\ )
                          include_items:
                            type: array
                            items:
                              type: string
                            description: List of path patterns to include. Supports wildcards (e.g.,
                              _/blog/_.html, /docs/\ _, _\blog\ .html)
                          prefix:
                            type: string
                          r2_jurisdiction:
                            type: string
                          web_crawler:
                            type: object
                            properties:
                              parse_options:
                                type: object
                                properties:
                                  include_headers:
                                    type: object
                                    additionalProperties: true
                                  include_images:
                                    type: boolean
                                  use_browser_rendering:
                                    type: boolean
                              parse_type:
                                type: string
                                enum:
                                  - sitemap
                                  - feed-rss
                              store_options:
                                type: object
                                properties:
                                  storage_id:
                                    type: string
                                  r2_jurisdiction:
                                    type: string
                                  storage_type:
                                    type: string
                                    enum:
                                      - r2
                                required:
                                  - storage_id
                    nullable: true
                  status:
                    type: string
                  summarization:
                    type: boolean
                  summarization_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  system_prompt_ai_search:
                    oneOf:
                      - type: string
                    nullable: true
                  system_prompt_index_summarization:
                    oneOf:
                      - type: string
                    nullable: true
                  system_prompt_rewrite_query:
                    oneOf:
                      - type: string
                    nullable: true
                  vectorize_active_namespace:
                    oneOf:
                      - type: string
                    nullable: true
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        ValidationError:
          - code: 7001
        NotFound:
          - code: 7002
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/ai-search/instances/{id}:
    put:
      operationId: updateInstance
      description: "Update instances.  @example ```ts const instance = await
        client.aiSearch.instances.update( 'my-ai-search', { account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ai_gateway_id:
                  type: string
                  description: "Body param:"
                ai_search_model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  description: "Body param:"
                cache:
                  type: boolean
                  description: "Body param:"
                cache_threshold:
                  type: string
                  enum:
                    - super_strict_match
                    - close_enough
                    - flexible_friend
                    - anything_goes
                  description: "Body param:"
                chunk:
                  type: boolean
                  description: "Body param:"
                chunk_overlap:
                  type: number
                  description: "Body param:"
                chunk_size:
                  type: number
                  description: "Body param:"
                embedding_model:
                  type: string
                  enum:
                    - "@cf/baai/bge-m3"
                    - "@cf/baai/bge-large-en-v1.5"
                    - "@cf/google/embeddinggemma-300m"
                    - "@cf/qwen/qwen3-embedding-0.6b"
                    - google-ai-studio/gemini-embedding-001
                    - openai/text-embedding-3-small
                    - openai/text-embedding-3-large
                    - ""
                  description: "Body param:"
                hybrid_search_enabled:
                  type: boolean
                  description: "Body param:"
                max_num_results:
                  type: number
                  description: "Body param:"
                metadata:
                  type: object
                  properties:
                    created_from_aisearch_wizard:
                      type: boolean
                    worker_domain:
                      type: string
                  description: "Body param:"
                paused:
                  type: boolean
                  description: "Body param:"
                public_endpoint_params:
                  type: object
                  properties:
                    authorized_hosts:
                      type: array
                      items:
                        type: string
                    chat_completions_endpoint:
                      type: object
                      properties:
                        disabled:
                          type: boolean
                          description: Disable chat completions endpoint for this public endpoint
                    enabled:
                      type: boolean
                    mcp:
                      type: object
                      properties:
                        disabled:
                          type: boolean
                          description: Disable MCP endpoint for this public endpoint
                    rate_limit:
                      type: object
                      properties:
                        period_ms:
                          type: number
                        requests:
                          type: number
                        technique:
                          type: string
                          enum:
                            - fixed
                            - sliding
                    search_endpoint:
                      type: object
                      properties:
                        disabled:
                          type: boolean
                          description: Disable search endpoint for this public endpoint
                  description: "Body param:"
                reranking:
                  type: boolean
                  description: "Body param:"
                reranking_model:
                  type: string
                  enum:
                    - "@cf/baai/bge-reranker-base"
                    - ""
                  description: "Body param:"
                rewrite_model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  description: "Body param:"
                rewrite_query:
                  type: boolean
                  description: "Body param:"
                score_threshold:
                  type: number
                  description: "Body param:"
                source_params:
                  type: object
                  properties:
                    exclude_items:
                      type: array
                      items:
                        type: string
                      description: List of path patterns to exclude. Supports wildcards (e.g.,
                        _/admin/_, /private/\ _, _\private\ )
                    include_items:
                      type: array
                      items:
                        type: string
                      description: List of path patterns to include. Supports wildcards (e.g.,
                        _/blog/_.html, /docs/\ _, _\blog\ .html)
                    prefix:
                      type: string
                    r2_jurisdiction:
                      type: string
                    web_crawler:
                      type: object
                      properties:
                        parse_options:
                          type: object
                          properties:
                            include_headers:
                              type: object
                              additionalProperties: true
                            include_images:
                              type: boolean
                            use_browser_rendering:
                              type: boolean
                        parse_type:
                          type: string
                          enum:
                            - sitemap
                            - feed-rss
                        store_options:
                          type: object
                          properties:
                            storage_id:
                              type: string
                            r2_jurisdiction:
                              type: string
                            storage_type:
                              type: string
                              enum:
                                - r2
                          required:
                            - storage_id
                  description: "Body param:"
                summarization:
                  type: boolean
                  description: "Body param:"
                summarization_model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  description: "Body param:"
                system_prompt_ai_search:
                  type: string
                  description: "Body param:"
                system_prompt_index_summarization:
                  type: string
                  description: "Body param:"
                system_prompt_rewrite_query:
                  type: string
                  description: "Body param:"
                token_id:
                  type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Use your AI Search ID.
                  account_id:
                    type: string
                  account_tag:
                    type: string
                  created_at:
                    type: string
                  internal_id:
                    type: string
                  modified_at:
                    type: string
                  source:
                    type: string
                  token_id:
                    type: string
                  type:
                    type: string
                    enum:
                      - r2
                      - web-crawler
                  vectorize_name:
                    type: string
                  ai_gateway_id:
                    type: string
                  ai_search_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  cache:
                    type: boolean
                  cache_threshold:
                    type: string
                    enum:
                      - super_strict_match
                      - close_enough
                      - flexible_friend
                      - anything_goes
                    nullable: true
                  chunk:
                    type: boolean
                  chunk_overlap:
                    type: number
                  chunk_size:
                    type: number
                  created_by:
                    type: string
                  embedding_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-m3"
                      - "@cf/baai/bge-large-en-v1.5"
                      - "@cf/google/embeddinggemma-300m"
                      - "@cf/qwen/qwen3-embedding-0.6b"
                      - google-ai-studio/gemini-embedding-001
                      - openai/text-embedding-3-small
                      - openai/text-embedding-3-large
                      - ""
                  enable:
                    type: boolean
                  engine_version:
                    type: number
                  hybrid_search_enabled:
                    type: boolean
                  last_activity:
                    oneOf:
                      - type: string
                    nullable: true
                  max_num_results:
                    type: number
                  metadata:
                    oneOf:
                      - type: object
                        properties:
                          created_from_aisearch_wizard:
                            type: boolean
                          worker_domain:
                            type: string
                    nullable: true
                  modified_by:
                    type: string
                  paused:
                    type: boolean
                  public_endpoint_id:
                    oneOf:
                      - type: string
                    nullable: true
                  public_endpoint_params:
                    oneOf:
                      - type: object
                        properties:
                          authorized_hosts:
                            type: array
                            items:
                              type: string
                          chat_completions_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable chat completions endpoint for this public endpoint
                          enabled:
                            type: boolean
                          mcp:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable MCP endpoint for this public endpoint
                          rate_limit:
                            type: object
                            properties:
                              period_ms:
                                type: number
                              requests:
                                type: number
                              technique:
                                type: string
                                enum:
                                  - fixed
                                  - sliding
                          search_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable search endpoint for this public endpoint
                    nullable: true
                  reranking:
                    type: boolean
                  reranking_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-reranker-base"
                      - ""
                  rewrite_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  rewrite_query:
                    type: boolean
                  score_threshold:
                    type: number
                  source_params:
                    oneOf:
                      - type: object
                        properties:
                          exclude_items:
                            type: array
                            items:
                              type: string
                            description: List of path patterns to exclude. Supports wildcards (e.g.,
                              _/admin/_, /private/\ _, _\private\ )
                          include_items:
                            type: array
                            items:
                              type: string
                            description: List of path patterns to include. Supports wildcards (e.g.,
                              _/blog/_.html, /docs/\ _, _\blog\ .html)
                          prefix:
                            type: string
                          r2_jurisdiction:
                            type: string
                          web_crawler:
                            type: object
                            properties:
                              parse_options:
                                type: object
                                properties:
                                  include_headers:
                                    type: object
                                    additionalProperties: true
                                  include_images:
                                    type: boolean
                                  use_browser_rendering:
                                    type: boolean
                              parse_type:
                                type: string
                                enum:
                                  - sitemap
                                  - feed-rss
                              store_options:
                                type: object
                                properties:
                                  storage_id:
                                    type: string
                                  r2_jurisdiction:
                                    type: string
                                  storage_type:
                                    type: string
                                    enum:
                                      - r2
                                required:
                                  - storage_id
                    nullable: true
                  status:
                    type: string
                  summarization:
                    type: boolean
                  summarization_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  system_prompt_ai_search:
                    oneOf:
                      - type: string
                    nullable: true
                  system_prompt_index_summarization:
                    oneOf:
                      - type: string
                    nullable: true
                  system_prompt_rewrite_query:
                    oneOf:
                      - type: string
                    nullable: true
                  vectorize_active_namespace:
                    oneOf:
                      - type: string
                    nullable: true
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        ValidationError:
          - code: 7001
        NotFound:
          - code: 7002
        InvalidRoute:
          - code: 7003
    delete:
      operationId: deleteInstance
      description: "Delete instances.  @example ```ts const instance = await
        client.aiSearch.instances.delete( 'my-ai-search', { account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Use your AI Search ID.
                  account_id:
                    type: string
                  account_tag:
                    type: string
                  created_at:
                    type: string
                  internal_id:
                    type: string
                  modified_at:
                    type: string
                  source:
                    type: string
                  token_id:
                    type: string
                  type:
                    type: string
                    enum:
                      - r2
                      - web-crawler
                  vectorize_name:
                    type: string
                  ai_gateway_id:
                    type: string
                  ai_search_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  cache:
                    type: boolean
                  cache_threshold:
                    type: string
                    enum:
                      - super_strict_match
                      - close_enough
                      - flexible_friend
                      - anything_goes
                    nullable: true
                  chunk:
                    type: boolean
                  chunk_overlap:
                    type: number
                  chunk_size:
                    type: number
                  created_by:
                    type: string
                  embedding_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-m3"
                      - "@cf/baai/bge-large-en-v1.5"
                      - "@cf/google/embeddinggemma-300m"
                      - "@cf/qwen/qwen3-embedding-0.6b"
                      - google-ai-studio/gemini-embedding-001
                      - openai/text-embedding-3-small
                      - openai/text-embedding-3-large
                      - ""
                  enable:
                    type: boolean
                  engine_version:
                    type: number
                  hybrid_search_enabled:
                    type: boolean
                  last_activity:
                    oneOf:
                      - type: string
                    nullable: true
                  max_num_results:
                    type: number
                  metadata:
                    oneOf:
                      - type: object
                        properties:
                          created_from_aisearch_wizard:
                            type: boolean
                          worker_domain:
                            type: string
                    nullable: true
                  modified_by:
                    type: string
                  paused:
                    type: boolean
                  public_endpoint_id:
                    oneOf:
                      - type: string
                    nullable: true
                  public_endpoint_params:
                    oneOf:
                      - type: object
                        properties:
                          authorized_hosts:
                            type: array
                            items:
                              type: string
                          chat_completions_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable chat completions endpoint for this public endpoint
                          enabled:
                            type: boolean
                          mcp:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable MCP endpoint for this public endpoint
                          rate_limit:
                            type: object
                            properties:
                              period_ms:
                                type: number
                              requests:
                                type: number
                              technique:
                                type: string
                                enum:
                                  - fixed
                                  - sliding
                          search_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable search endpoint for this public endpoint
                    nullable: true
                  reranking:
                    type: boolean
                  reranking_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-reranker-base"
                      - ""
                  rewrite_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  rewrite_query:
                    type: boolean
                  score_threshold:
                    type: number
                  source_params:
                    oneOf:
                      - type: object
                        properties:
                          exclude_items:
                            type: array
                            items:
                              type: string
                            description: List of path patterns to exclude. Supports wildcards (e.g.,
                              _/admin/_, /private/\ _, _\private\ )
                          include_items:
                            type: array
                            items:
                              type: string
                            description: List of path patterns to include. Supports wildcards (e.g.,
                              _/blog/_.html, /docs/\ _, _\blog\ .html)
                          prefix:
                            type: string
                          r2_jurisdiction:
                            type: string
                          web_crawler:
                            type: object
                            properties:
                              parse_options:
                                type: object
                                properties:
                                  include_headers:
                                    type: object
                                    additionalProperties: true
                                  include_images:
                                    type: boolean
                                  use_browser_rendering:
                                    type: boolean
                              parse_type:
                                type: string
                                enum:
                                  - sitemap
                                  - feed-rss
                              store_options:
                                type: object
                                properties:
                                  storage_id:
                                    type: string
                                  r2_jurisdiction:
                                    type: string
                                  storage_type:
                                    type: string
                                    enum:
                                      - r2
                                required:
                                  - storage_id
                    nullable: true
                  status:
                    type: string
                  summarization:
                    type: boolean
                  summarization_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  system_prompt_ai_search:
                    oneOf:
                      - type: string
                    nullable: true
                  system_prompt_index_summarization:
                    oneOf:
                      - type: string
                    nullable: true
                  system_prompt_rewrite_query:
                    oneOf:
                      - type: string
                    nullable: true
                  vectorize_active_namespace:
                    oneOf:
                      - type: string
                    nullable: true
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        ValidationError:
          - code: 7001
        NotFound:
          - code: 7002
        InvalidRoute:
          - code: 7003
    get:
      operationId: readInstance
      description: "Read instances.  @example ```ts const response = await
        client.aiSearch.instances.read( 'my-ai-search', { account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Use your AI Search ID.
                  account_id:
                    type: string
                  account_tag:
                    type: string
                  created_at:
                    type: string
                  internal_id:
                    type: string
                  modified_at:
                    type: string
                  source:
                    type: string
                  token_id:
                    type: string
                  type:
                    type: string
                    enum:
                      - r2
                      - web-crawler
                  vectorize_name:
                    type: string
                  ai_gateway_id:
                    type: string
                  ai_search_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  cache:
                    type: boolean
                  cache_threshold:
                    type: string
                    enum:
                      - super_strict_match
                      - close_enough
                      - flexible_friend
                      - anything_goes
                    nullable: true
                  chunk:
                    type: boolean
                  chunk_overlap:
                    type: number
                  chunk_size:
                    type: number
                  created_by:
                    type: string
                  embedding_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-m3"
                      - "@cf/baai/bge-large-en-v1.5"
                      - "@cf/google/embeddinggemma-300m"
                      - "@cf/qwen/qwen3-embedding-0.6b"
                      - google-ai-studio/gemini-embedding-001
                      - openai/text-embedding-3-small
                      - openai/text-embedding-3-large
                      - ""
                  enable:
                    type: boolean
                  engine_version:
                    type: number
                  hybrid_search_enabled:
                    type: boolean
                  last_activity:
                    oneOf:
                      - type: string
                    nullable: true
                  max_num_results:
                    type: number
                  metadata:
                    oneOf:
                      - type: object
                        properties:
                          created_from_aisearch_wizard:
                            type: boolean
                          worker_domain:
                            type: string
                    nullable: true
                  modified_by:
                    type: string
                  paused:
                    type: boolean
                  public_endpoint_id:
                    oneOf:
                      - type: string
                    nullable: true
                  public_endpoint_params:
                    oneOf:
                      - type: object
                        properties:
                          authorized_hosts:
                            type: array
                            items:
                              type: string
                          chat_completions_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable chat completions endpoint for this public endpoint
                          enabled:
                            type: boolean
                          mcp:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable MCP endpoint for this public endpoint
                          rate_limit:
                            type: object
                            properties:
                              period_ms:
                                type: number
                              requests:
                                type: number
                              technique:
                                type: string
                                enum:
                                  - fixed
                                  - sliding
                          search_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable search endpoint for this public endpoint
                    nullable: true
                  reranking:
                    type: boolean
                  reranking_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-reranker-base"
                      - ""
                  rewrite_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  rewrite_query:
                    type: boolean
                  score_threshold:
                    type: number
                  source_params:
                    oneOf:
                      - type: object
                        properties:
                          exclude_items:
                            type: array
                            items:
                              type: string
                            description: List of path patterns to exclude. Supports wildcards (e.g.,
                              _/admin/_, /private/\ _, _\private\ )
                          include_items:
                            type: array
                            items:
                              type: string
                            description: List of path patterns to include. Supports wildcards (e.g.,
                              _/blog/_.html, /docs/\ _, _\blog\ .html)
                          prefix:
                            type: string
                          r2_jurisdiction:
                            type: string
                          web_crawler:
                            type: object
                            properties:
                              parse_options:
                                type: object
                                properties:
                                  include_headers:
                                    type: object
                                    additionalProperties: true
                                  include_images:
                                    type: boolean
                                  use_browser_rendering:
                                    type: boolean
                              parse_type:
                                type: string
                                enum:
                                  - sitemap
                                  - feed-rss
                              store_options:
                                type: object
                                properties:
                                  storage_id:
                                    type: string
                                  r2_jurisdiction:
                                    type: string
                                  storage_type:
                                    type: string
                                    enum:
                                      - r2
                                required:
                                  - storage_id
                    nullable: true
                  status:
                    type: string
                  summarization:
                    type: boolean
                  summarization_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                  system_prompt_ai_search:
                    oneOf:
                      - type: string
                    nullable: true
                  system_prompt_index_summarization:
                    oneOf:
                      - type: string
                    nullable: true
                  system_prompt_rewrite_query:
                    oneOf:
                      - type: string
                    nullable: true
                  vectorize_active_namespace:
                    oneOf:
                      - type: string
                    nullable: true
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        ValidationError:
          - code: 7001
        NotFound:
          - code: 7002
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/ai-search/instances/{id}/stats:
    get:
      operationId: statsInstance
      description: "Stats  @example ```ts const response = await
        client.aiSearch.instances.stats( 'my-ai-search', { account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  completed:
                    type: number
                  error:
                    type: number
                  file_embed_errors:
                    type: object
                    additionalProperties: true
                  index_source_errors:
                    type: object
                    additionalProperties: true
                  last_activity:
                    oneOf:
                      - type: string
                    nullable: true
                  queued:
                    type: number
                  running:
                    type: number
                  skipped:
                    type: number
      x-distilled-response-path: result
      x-distilled-errors:
        ValidationError:
          - code: 7001
        NotFound:
          - code: 7002
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/ai-search/instances/{id}/items/{itemId}:
    get:
      operationId: getInstanceItem
      description: "Get Items.  @example ```ts const item = await
        client.aiSearch.instances.items.get( 'my-ai-search', 'item_id', {
        account_id: 'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  key:
                    type: string
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - completed
                      - error
                      - skipped
                  error:
                    type: string
                  last_seen_at:
                    type: string
                  next_action:
                    type: string
                required:
                  - id
                  - key
                  - status
      x-distilled-response-path: result
      x-distilled-errors:
        ValidationError:
          - code: 7001
        NotFound:
          - code: 7002
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/ai-search/instances/{id}/items:
    get:
      operationId: listInstanceItems
      description: "Items List.  @example ```ts // Automatically fetches more pages as
        needed. for await (const itemListResponse of
        client.aiSearch.instances.items.list( 'my-ai-search', { account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, )) { // ... } ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: search
          in: query
          required: false
          description: "Query param:"
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: "Query param:"
          schema:
            type: string
            enum:
              - queued
              - running
              - completed
              - error
              - skipped
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  key:
                    type: string
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - completed
                      - error
                      - skipped
                  error:
                    type: string
                  last_seen_at:
                    type: string
                  next_action:
                    type: string
                required:
                  - id
                  - key
                  - status
      x-distilled-pagination-class: ItemListResponsesV4PagePaginationArray
  /accounts/{account_id}/ai-search/instances/{id}/jobs/{jobId}:
    get:
      operationId: getInstanceJob
      description: "Get a Job Details  @example ```ts const job = await
        client.aiSearch.instances.jobs.get( 'my-ai-search', 'job_id', {
        account_id: 'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: jobId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  source:
                    type: string
                    enum:
                      - user
                      - schedule
                  end_reason:
                    type: string
                  ended_at:
                    type: string
                  last_seen_at:
                    type: string
                  started_at:
                    type: string
                required:
                  - id
                  - source
      x-distilled-response-path: result
      x-distilled-errors:
        ValidationError:
          - code: 7001
        NotFound:
          - code: 7002
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/ai-search/instances/{id}/jobs:
    get:
      operationId: listInstanceJobs
      description: "List Jobs  @example ```ts // Automatically fetches more pages as
        needed. for await (const jobListResponse of
        client.aiSearch.instances.jobs.list( 'my-ai-search', { account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, )) { // ... } ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  source:
                    type: string
                    enum:
                      - user
                      - schedule
                  end_reason:
                    type: string
                  ended_at:
                    type: string
                  last_seen_at:
                    type: string
                  started_at:
                    type: string
                required:
                  - id
                  - source
      x-distilled-pagination-class: JobListResponsesV4PagePaginationArray
    post:
      operationId: createInstanceJob
      description: "Create new job  @example ```ts const job = await
        client.aiSearch.instances.jobs.create( 'my-ai-search', { account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  source:
                    type: string
                    enum:
                      - user
                      - schedule
                  end_reason:
                    oneOf:
                      - type: string
                    nullable: true
                  ended_at:
                    oneOf:
                      - type: string
                    nullable: true
                  last_seen_at:
                    type: string
                  started_at:
                    type: string
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        ValidationError:
          - code: 7001
        NotFound:
          - code: 7002
        InvalidRoute:
          - code: 7003
        UnableToConnect:
          - code: 7017
        SyncInCooldown:
          - code: 7020
  /accounts/{account_id}/ai-search/instances/{id}/jobs/{jobId}/logs:
    get:
      operationId: logsInstanceJob
      description: "List Job Logs  @example ```ts const response = await
        client.aiSearch.instances.jobs.logs( 'my-ai-search', 'job_id', {
        account_id: 'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: jobId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: page
          in: query
          required: false
          description: "Query param:"
          schema:
            type: number
[...]
