openapi: 3.1.0
info:
  title: Cloudflare AISEARCH API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: aisearch
paths:
  /accounts/{account_id}/ai-search/instances/{id}/chat/completions:
    post:
      operationId: chatCompletionsInstance
      description: "Performs a chat completion request against an AI Search instance,
        using indexed content as context for generating responses.  @example
        ```ts const response = await client.aiSearch.instances.chatCompletions(
        'my-ai-search', { account_id: 'c3dc5f0b34a14ff8e1b3ec04895e1b22',
        messages: [{ content: 'content', role: 'system' }], }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      content:
                        oneOf:
                          - type: string
                        nullable: true
                      role:
                        type: string
                        enum:
                          - system
                          - developer
                          - user
                          - assistant
                          - tool
                    required:
                      - content
                      - role
                  description: Body param
                ai_search_options:
                  type: object
                  properties:
                    cache:
                      type: object
                      properties:
                        cache_threshold:
                          type: string
                          enum:
                            - super_strict_match
                            - close_enough
                            - flexible_friend
                            - anything_goes
                        enabled:
                          type: boolean
                    query_rewrite:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        model:
                          type: string
                          enum:
                            - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                            - "@cf/zai-org/glm-4.7-flash"
                            - "@cf/meta/llama-3.1-8b-instruct-fast"
                            - "@cf/meta/llama-3.1-8b-instruct-fp8"
                            - "@cf/meta/llama-4-scout-17b-16e-instruct"
                            - "@cf/qwen/qwen3-30b-a3b-fp8"
                            - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                            - "@cf/moonshotai/kimi-k2-instruct"
                            - "@cf/google/gemma-3-12b-it"
                            - "@cf/google/gemma-4-26b-a4b-it"
                            - "@cf/moonshotai/kimi-k2.5"
                            - anthropic/claude-3-7-sonnet
                            - anthropic/claude-sonnet-4
                            - anthropic/claude-opus-4
                            - anthropic/claude-3-5-haiku
                            - cerebras/qwen-3-235b-a22b-instruct
                            - cerebras/qwen-3-235b-a22b-thinking
                            - cerebras/llama-3.3-70b
                            - cerebras/llama-4-maverick-17b-128e-instruct
                            - cerebras/llama-4-scout-17b-16e-instruct
                            - cerebras/gpt-oss-120b
                            - google-ai-studio/gemini-2.5-flash
                            - google-ai-studio/gemini-2.5-pro
                            - grok/grok-4
                            - groq/llama-3.3-70b-versatile
                            - groq/llama-3.1-8b-instant
                            - openai/gpt-5
                            - openai/gpt-5-mini
                            - openai/gpt-5-nano
                            - ""
                        rewrite_prompt:
                          type: string
                    reranking:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        match_threshold:
                          type: number
                        model:
                          type: string
                          enum:
                            - "@cf/baai/bge-reranker-base"
                            - ""
                    retrieval:
                      type: object
                      properties:
                        boost_by:
                          type: array
                          items:
                            type: object
                            properties:
                              field:
                                type: string
                                description: Metadata field name to boost by. Use 'timestamp' for document
                                  freshness, or any custom_metadata field.
                                  Numeric and datetime fields support asc/desc
                                  directions; text/boolean fields support
                                  exists/not_exists.
                              direction:
                                type: string
                                enum:
                                  - asc
                                  - desc
                                  - exists
                                  - not_exists
                                description: Boost direction. 'desc' = higher values rank higher (e.g. newer
                                  timestamps). 'asc' = lower values rank higher.
                                  'exists' = boost chunks that have the field.
                                  'not_exists' = boost chunks that lack the
                                  field. Optional ��� defaults to 'asc' for
                                  numeric/datetime fields, 'exists' for
                                  text/boolean fields.
                            required:
                              - field
                          description: Metadata fields to boost search results by. Overrides the
                            instance-level boost_by config. Direction defaults
                            to 'asc' for numeric/datetime fields, 'exists' for
                            text/boolean fields. Fields must match 'timestamp'
                            or a defined custom_metadata field.
                        context_expansion:
                          type: number
                        filters:
                          type: object
                          additionalProperties: true
                        fusion_method:
                          type: string
                          enum:
                            - max
                            - rrf
                        keyword_match_mode:
                          type: string
                          enum:
                            - and
                            - or
                          description: Controls which documents are candidates for BM25 scoring. 'and'
                            restricts candidates to documents containing all
                            query terms; 'or' includes any document containing
                            at least one term, ranked by BM25 relevance.
                            Defaults to 'and'.
                        match_threshold:
                          type: number
                        max_num_results:
                          type: number
                        retrieval_type:
                          type: string
                          enum:
                            - vector
                            - keyword
                            - hybrid
                        return_on_failure:
                          type: boolean
                  description: Body param
                model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/zai-org/glm-4.7-flash"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - "@cf/google/gemma-3-12b-it"
                    - "@cf/google/gemma-4-26b-a4b-it"
                    - "@cf/moonshotai/kimi-k2.5"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  description: Body param
                stream:
                  type: boolean
                  description: Body param
              required:
                - messages
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: object
                          properties:
                            content:
                              oneOf:
                                - type: string
                              nullable: true
                            role:
                              type: string
                              enum:
                                - system
                                - developer
                                - user
                                - assistant
                                - tool
                          required:
                            - content
                            - role
                        index:
                          type: number
                      required:
                        - message
                  chunks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        score:
                          type: number
                        text:
                          type: string
                        type:
                          type: string
                        item:
                          type: object
                          properties:
                            key:
                              type: string
                            metadata:
                              type: object
                              additionalProperties: true
                            timestamp:
                              type: number
                          required:
                            - key
                        scoring_details:
                          type: object
                          properties:
                            fusion_method:
                              type: string
                              enum:
                                - rrf
                                - max
                            keyword_rank:
                              type: number
                            keyword_score:
                              type: number
                            reranking_score:
                              type: number
                            vector_rank:
                              type: number
                            vector_score:
                              type: number
                      required:
                        - id
                        - score
                        - text
                        - type
                  id:
                    type: string
                  model:
                    type: string
                  object:
                    type: string
                required:
                  - choices
                  - chunks
  /accounts/{account_id}/ai-search/namespaces/{name}/chat/completions:
    post:
      operationId: chatCompletionsNamespace
      description: "Performs a chat completion request against multiple AI Search
        instances in parallel, merging retrieved content as context for
        generating a response.  @example ```ts const response = await
        client.aiSearch.namespaces.chatCompletions( 'my-namespace', {
        account_id: 'c3dc5f0b34a14ff8e1b3ec04895e1b22', ai_search_options: {
        instance_ids: ['my-ai-search'] }, messages: [{ content: 'content', role:
        'system' }], }, ); ```"
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ai_search_options:
                  type: object
                  properties:
                    instance_ids:
                      type: array
                      items:
                        type: string
                    cache:
                      type: object
                      properties:
                        cache_threshold:
                          type: string
                          enum:
                            - super_strict_match
                            - close_enough
                            - flexible_friend
                            - anything_goes
                        enabled:
                          type: boolean
                    query_rewrite:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        model:
                          type: string
                          enum:
                            - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                            - "@cf/zai-org/glm-4.7-flash"
                            - "@cf/meta/llama-3.1-8b-instruct-fast"
                            - "@cf/meta/llama-3.1-8b-instruct-fp8"
                            - "@cf/meta/llama-4-scout-17b-16e-instruct"
                            - "@cf/qwen/qwen3-30b-a3b-fp8"
                            - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                            - "@cf/moonshotai/kimi-k2-instruct"
                            - "@cf/google/gemma-3-12b-it"
                            - "@cf/google/gemma-4-26b-a4b-it"
                            - "@cf/moonshotai/kimi-k2.5"
                            - anthropic/claude-3-7-sonnet
                            - anthropic/claude-sonnet-4
                            - anthropic/claude-opus-4
                            - anthropic/claude-3-5-haiku
                            - cerebras/qwen-3-235b-a22b-instruct
                            - cerebras/qwen-3-235b-a22b-thinking
                            - cerebras/llama-3.3-70b
                            - cerebras/llama-4-maverick-17b-128e-instruct
                            - cerebras/llama-4-scout-17b-16e-instruct
                            - cerebras/gpt-oss-120b
                            - google-ai-studio/gemini-2.5-flash
                            - google-ai-studio/gemini-2.5-pro
                            - grok/grok-4
                            - groq/llama-3.3-70b-versatile
                            - groq/llama-3.1-8b-instant
                            - openai/gpt-5
                            - openai/gpt-5-mini
                            - openai/gpt-5-nano
                            - ""
                        rewrite_prompt:
                          type: string
                    reranking:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        match_threshold:
                          type: number
                        model:
                          type: string
                          enum:
                            - "@cf/baai/bge-reranker-base"
                            - ""
                    retrieval:
                      type: object
                      properties:
                        boost_by:
                          type: array
                          items:
                            type: object
                            properties:
                              field:
                                type: string
                                description: Metadata field name to boost by. Use 'timestamp' for document
                                  freshness, or any custom_metadata field.
                                  Numeric and datetime fields support asc/desc
                                  directions; text/boolean fields support
                                  exists/not_exists.
                              direction:
                                type: string
                                enum:
                                  - asc
                                  - desc
                                  - exists
                                  - not_exists
                                description: Boost direction. 'desc' = higher values rank higher (e.g. newer
                                  timestamps). 'asc' = lower values rank higher.
                                  'exists' = boost chunks that have the field.
                                  'not_exists' = boost chunks that lack the
                                  field. Optional ��� defaults to 'asc' for
                                  numeric/datetime fields, 'exists' for
                                  text/boolean fields.
                            required:
                              - field
                          description: Metadata fields to boost search results by. Overrides the
                            instance-level boost_by config. Direction defaults
                            to 'asc' for numeric/datetime fields, 'exists' for
                            text/boolean fields. Fields must match 'timestamp'
                            or a defined custom_metadata field.
                        context_expansion:
                          type: number
                        filters:
                          type: object
                          additionalProperties: true
                        fusion_method:
                          type: string
                          enum:
                            - max
                            - rrf
                        keyword_match_mode:
                          type: string
                          enum:
                            - and
                            - or
                          description: Controls which documents are candidates for BM25 scoring. 'and'
                            restricts candidates to documents containing all
                            query terms; 'or' includes any document containing
                            at least one term, ranked by BM25 relevance.
                            Defaults to 'and'.
                        match_threshold:
                          type: number
                        max_num_results:
                          type: number
                        retrieval_type:
                          type: string
                          enum:
                            - vector
                            - keyword
                            - hybrid
                        return_on_failure:
                          type: boolean
                  required:
                    - instance_ids
                  description: Body param
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      content:
                        oneOf:
                          - type: string
                        nullable: true
                      role:
                        type: string
                        enum:
                          - system
                          - developer
                          - user
                          - assistant
                          - tool
                    required:
                      - content
                      - role
                  description: Body param
                model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/zai-org/glm-4.7-flash"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - "@cf/google/gemma-3-12b-it"
                    - "@cf/google/gemma-4-26b-a4b-it"
                    - "@cf/moonshotai/kimi-k2.5"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  description: Body param
                stream:
                  type: boolean
                  description: Body param
              required:
                - ai_search_options
                - messages
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: object
                          properties:
                            content:
                              oneOf:
                                - type: string
                              nullable: true
                            role:
                              type: string
                              enum:
                                - system
                                - developer
                                - user
                                - assistant
                                - tool
                          required:
                            - content
                            - role
                        index:
                          type: number
                      required:
                        - message
                  chunks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        instance_id:
                          type: string
                        score:
                          type: number
                        text:
                          type: string
                        type:
                          type: string
                        item:
                          type: object
                          properties:
                            key:
                              type: string
                            metadata:
                              type: object
                              additionalProperties: true
                            timestamp:
                              type: number
                          required:
                            - key
                        scoring_details:
                          type: object
                          properties:
                            fusion_method:
                              type: string
                              enum:
                                - rrf
                                - max
                            keyword_rank:
                              type: number
                            keyword_score:
                              type: number
                            reranking_score:
                              type: number
                            vector_rank:
                              type: number
                            vector_score:
                              type: number
                      required:
                        - id
                        - instance_id
                        - score
                        - text
                        - type
                  id:
                    type: string
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        instance_id:
                          type: string
                        message:
                          type: string
                      required:
                        - instance_id
                        - message
                  model:
                    type: string
                  object:
                    type: string
                required:
                  - choices
                  - chunks
  /accounts/{account_id}/ai-search/namespaces/{name}/instances/{id}/chat/completions:
    post:
      operationId: chatCompletionsNamespaceInstance
      description: "Performs a chat completion request against an AI Search instance,
        using indexed content as context for generating responses.  @example
        ```ts const response = await
        client.aiSearch.namespaces.instances.chatCompletions( 'my-namespace',
        'my-ai-search', { account_id: 'c3dc5f0b34a14ff8e1b3ec04895e1b22',
        messages: [{ content: 'content', role: 'system' }], }, ); ```"
      parameters:
        - name: name
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                messages:
                  type: array
                  items:
                    type: object
                    properties:
                      content:
                        oneOf:
                          - type: string
                        nullable: true
                      role:
                        type: string
                        enum:
                          - system
                          - developer
                          - user
                          - assistant
                          - tool
                    required:
                      - content
                      - role
                  description: Body param
                ai_search_options:
                  type: object
                  properties:
                    cache:
                      type: object
                      properties:
                        cache_threshold:
                          type: string
                          enum:
                            - super_strict_match
                            - close_enough
                            - flexible_friend
                            - anything_goes
                        enabled:
                          type: boolean
                    query_rewrite:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        model:
                          type: string
                          enum:
                            - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                            - "@cf/zai-org/glm-4.7-flash"
                            - "@cf/meta/llama-3.1-8b-instruct-fast"
                            - "@cf/meta/llama-3.1-8b-instruct-fp8"
                            - "@cf/meta/llama-4-scout-17b-16e-instruct"
                            - "@cf/qwen/qwen3-30b-a3b-fp8"
                            - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                            - "@cf/moonshotai/kimi-k2-instruct"
                            - "@cf/google/gemma-3-12b-it"
                            - "@cf/google/gemma-4-26b-a4b-it"
                            - "@cf/moonshotai/kimi-k2.5"
                            - anthropic/claude-3-7-sonnet
                            - anthropic/claude-sonnet-4
                            - anthropic/claude-opus-4
                            - anthropic/claude-3-5-haiku
                            - cerebras/qwen-3-235b-a22b-instruct
                            - cerebras/qwen-3-235b-a22b-thinking
                            - cerebras/llama-3.3-70b
                            - cerebras/llama-4-maverick-17b-128e-instruct
                            - cerebras/llama-4-scout-17b-16e-instruct
                            - cerebras/gpt-oss-120b
                            - google-ai-studio/gemini-2.5-flash
                            - google-ai-studio/gemini-2.5-pro
                            - grok/grok-4
                            - groq/llama-3.3-70b-versatile
                            - groq/llama-3.1-8b-instant
                            - openai/gpt-5
                            - openai/gpt-5-mini
                            - openai/gpt-5-nano
                            - ""
                        rewrite_prompt:
                          type: string
                    reranking:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        match_threshold:
                          type: number
                        model:
                          type: string
                          enum:
                            - "@cf/baai/bge-reranker-base"
                            - ""
                    retrieval:
                      type: object
                      properties:
                        boost_by:
                          type: array
                          items:
                            type: object
                            properties:
                              field:
                                type: string
                                description: Metadata field name to boost by. Use 'timestamp' for document
                                  freshness, or any custom_metadata field.
                                  Numeric and datetime fields support asc/desc
                                  directions; text/boolean fields support
                                  exists/not_exists.
                              direction:
                                type: string
                                enum:
                                  - asc
                                  - desc
                                  - exists
                                  - not_exists
                                description: Boost direction. 'desc' = higher values rank higher (e.g. newer
                                  timestamps). 'asc' = lower values rank higher.
                                  'exists' = boost chunks that have the field.
                                  'not_exists' = boost chunks that lack the
                                  field. Optional ��� defaults to 'asc' for
                                  numeric/datetime fields, 'exists' for
                                  text/boolean fields.
                            required:
                              - field
                          description: Metadata fields to boost search results by. Overrides the
                            instance-level boost_by config. Direction defaults
                            to 'asc' for numeric/datetime fields, 'exists' for
                            text/boolean fields. Fields must match 'timestamp'
                            or a defined custom_metadata field.
                        context_expansion:
                          type: number
                        filters:
                          type: object
                          additionalProperties: true
                        fusion_method:
                          type: string
                          enum:
                            - max
                            - rrf
                        keyword_match_mode:
                          type: string
                          enum:
                            - and
                            - or
                          description: Controls which documents are candidates for BM25 scoring. 'and'
                            restricts candidates to documents containing all
                            query terms; 'or' includes any document containing
                            at least one term, ranked by BM25 relevance.
                            Defaults to 'and'.
                        match_threshold:
                          type: number
                        max_num_results:
                          type: number
                        retrieval_type:
                          type: string
                          enum:
                            - vector
                            - keyword
                            - hybrid
                        return_on_failure:
                          type: boolean
                  description: Body param
                model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/zai-org/glm-4.7-flash"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - "@cf/google/gemma-3-12b-it"
                    - "@cf/google/gemma-4-26b-a4b-it"
                    - "@cf/moonshotai/kimi-k2.5"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  description: Body param
                stream:
                  type: boolean
                  description: Body param
              required:
                - messages
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: object
                          properties:
                            content:
                              oneOf:
                                - type: string
                              nullable: true
                            role:
                              type: string
                              enum:
                                - system
                                - developer
                                - user
                                - assistant
                                - tool
                          required:
                            - content
                            - role
                        index:
                          type: number
                      required:
                        - message
                  chunks:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        score:
                          type: number
                        text:
                          type: string
                        type:
                          type: string
                        item:
                          type: object
                          properties:
                            key:
                              type: string
                            metadata:
                              type: object
                              additionalProperties: true
                            timestamp:
                              type: number
                          required:
                            - key
                        scoring_details:
                          type: object
                          properties:
                            fusion_method:
                              type: string
                              enum:
                                - rrf
                                - max
                            keyword_rank:
                              type: number
                            keyword_score:
                              type: number
                            reranking_score:
                              type: number
                            vector_rank:
                              type: number
                            vector_score:
                              type: number
                      required:
                        - id
                        - score
                        - text
                        - type
                  id:
                    type: string
                  model:
                    type: string
                  object:
                    type: string
                required:
                  - choices
                  - chunks
  /accounts/{account_id}/ai-search/instances:
    get:
      operationId: listInstances
      description: "List instances.  @example ```ts // Automatically fetches more
        pages as needed. for await (const instanceListResponse of
        client.aiSearch.instances.list( { account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: namespace
          in: query
          required: false
          description: "Query param: Filter by namespace."
          schema:
            type: string
        - name: order_by
          in: query
          required: false
          description: "Query param: Field to order results by."
          schema:
            type: string
            enum:
              - created_at
        - name: order_by_direction
          in: query
          required: false
          description: "Query param: Order direction."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: search
          in: query
          required: false
          description: "Query param: Filter instances whose id contains this string
            (case-insensitive)."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: AI Search instance ID. Lowercase alphanumeric, hyphens, and
                      underscores.
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  ai_gateway_id:
                    oneOf:
                      - type: string
                    nullable: true
                  ai_search_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/zai-org/glm-4.7-flash"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - "@cf/google/gemma-3-12b-it"
                      - "@cf/google/gemma-4-26b-a4b-it"
                      - "@cf/moonshotai/kimi-k2.5"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                    nullable: true
                  cache:
                    type: boolean
                  cache_threshold:
                    type: string
                    enum:
                      - super_strict_match
                      - close_enough
                      - flexible_friend
                      - anything_goes
                  cache_ttl:
                    type: number
                    enum:
                      - 600
                      - 1800
                      - 3600
                      - 7200
                      - 21600
                      - 43200
                      - 86400
                      - 172800
                      - 259200
                      - 518400
                    description: "Cache entry TTL in seconds. Allowed values: 600 (10min), 1800
                      (30min), 3600 (1h), 7200 (2h), 21600 (6h), 43200 (12h),
                      86400 (24h), 172800 (48h), 259200 (72h), 518400 (6d)."
                  chunk_overlap:
                    type: number
                  chunk_size:
                    type: number
                  created_by:
                    oneOf:
                      - type: string
                    nullable: true
                  custom_metadata:
                    type: array
                    items:
                      type: object
                      properties:
                        data_type:
                          type: string
                          enum:
                            - text
                            - number
                            - boolean
                            - datetime
                        field_name:
                          type: string
                      required:
                        - data_type
                        - field_name
                  embedding_model:
                    type: string
                    enum:
                      - "@cf/qwen/qwen3-embedding-0.6b"
                      - "@cf/baai/bge-m3"
                      - "@cf/baai/bge-large-en-v1.5"
                      - "@cf/google/embeddinggemma-300m"
                      - google-ai-studio/gemini-embedding-001
                      - google-ai-studio/gemini-embedding-2-preview
                      - openai/text-embedding-3-small
                      - openai/text-embedding-3-large
                      - ""
                    nullable: true
                  enable:
                    type: boolean
                  engine_version:
                    type: number
                  fusion_method:
                    type: string
                    enum:
                      - max
                      - rrf
                  hybrid_search_enabled:
                    type: boolean
                    description: "@deprecated Deprecated — use index_method instead."
                  index_method:
                    type: object
                    properties:
                      keyword:
                        type: boolean
                        description: Enable keyword (BM25) storage backend.
                      vector:
                        type: boolean
                        description: Enable vector (embedding) storage backend.
                    required:
                      - keyword
                      - vector
                    description: Controls which storage backends are used during indexing. Defaults
                      to vector-only.
                  indexing_options:
                    oneOf:
                      - type: object
                        properties:
                          keyword_tokenizer:
                            type: string
                            enum:
                              - porter
                              - trigram
                            description: Tokenizer used for keyword search indexing. porter provides
                              word-level tokenization with Porter stemming (good
                              for natural language queries). trigram enables
                              character-level substring matching (good for
                              partial matches, code, identifiers). Changing this
                              triggers a full re-index. Defaults to porter.
                    nullable: true
                  last_activity:
                    oneOf:
                      - type: string
                    nullable: true
                  max_num_results:
                    type: number
                  metadata:
                    type: object
                    properties:
                      created_from_aisearch_wizard:
                        type: boolean
                      worker_domain:
                        type: string
                  modified_by:
                    oneOf:
                      - type: string
                    nullable: true
                  namespace:
                    oneOf:
                      - type: string
                    nullable: true
                  paused:
                    type: boolean
                  public_endpoint_id:
                    oneOf:
                      - type: string
                    nullable: true
                  public_endpoint_params:
                    type: object
                    properties:
                      authorized_hosts:
                        type: array
                        items:
                          type: string
                      chat_completions_endpoint:
                        type: object
                        properties:
                          disabled:
                            type: boolean
                            description: Disable chat completions endpoint for this public endpoint
                      enabled:
                        type: boolean
                      mcp:
                        type: object
                        properties:
                          description:
                            type: string
                          disabled:
                            type: boolean
                            description: Disable MCP endpoint for this public endpoint
                      rate_limit:
                        type: object
                        properties:
                          period_ms:
                            type: number
                          requests:
                            type: number
                          technique:
                            type: string
                            enum:
                              - fixed
                              - sliding
                      search_endpoint:
                        type: object
                        properties:
                          disabled:
                            type: boolean
                            description: Disable search endpoint for this public endpoint
                  reranking:
                    type: boolean
                  reranking_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-reranker-base"
                      - ""
                    nullable: true
                  retrieval_options:
                    oneOf:
                      - type: object
                        properties:
                          boost_by:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                  description: Metadata field name to boost by. Use 'timestamp' for document
                                    freshness, or any custom_metadata field.
                                    Numeric and datetime fields support asc/desc
                                    directions; text/boolean fields support
                                    exists/not_exists.
                                direction:
                                  type: string
                                  enum:
                                    - asc
                                    - desc
                                    - exists
                                    - not_exists
                                  description: Boost direction. 'desc' = higher values rank higher (e.g. newer
                                    timestamps). 'asc' = lower values rank
                                    higher. 'exists' = boost chunks that have
                                    the field. 'not_exists' = boost chunks that
                                    lack the field. Optional ��� defaults to
                                    'asc' for numeric/datetime fields, 'exists'
                                    for text/boolean fields.
                              required:
                                - field
                            description: Metadata fields to boost search results by. Each entry specifies a
                              metadata field and an optional direction.
                              Direction defaults to 'asc' for numeric fields and
                              'exists' for text/boolean fields. Fields must
                              match 'timestamp' or a defined custom_metadata
                              field.
                          keyword_match_mode:
                            type: string
                            enum:
                              - and
                              - or
                            description: Controls which documents are candidates for BM25 scoring. 'and'
                              restricts candidates to documents containing all
                              query terms; 'or' includes any document containing
                              at least one term, ranked by BM25 relevance.
                              Defaults to 'and'.
                    nullable: true
                  rewrite_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/zai-org/glm-4.7-flash"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - "@cf/google/gemma-3-12b-it"
                      - "@cf/google/gemma-4-26b-a4b-it"
                      - "@cf/moonshotai/kimi-k2.5"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                    nullable: true
                  rewrite_query:
                    type: boolean
                  score_threshold:
                    type: number
                  source:
                    oneOf:
                      - type: string
                    nullable: true
                  source_params:
                    oneOf:
                      - type: object
                        properties:
                          exclude_items:
                            type: array
                            items:
                              type: string
                            description: "List of path patterns to exclude. Uses micromatch glob syntax: \\
                              matches within a path segment,  matches across
                              path segments (e.g., /admin/  matches /admin/users
                              and /admin/settings/advanced)"
                          include_items:
                            type: array
                            items:
                              type: string
                            description: "List of path patterns to include. Uses micromatch glob syntax: \\
                              matches within a path segment,  matches across
                              path segments (e.g., /blog/  matches /blog/post
                              and /blog/2024/post)"
                          prefix:
                            type: string
                          r2_jurisdiction:
                            type: string
                          web_crawler:
                            type: object
                            properties:
                              crawl_options:
                                type: object
                                properties:
                                  depth:
                                    type: number
                                  include_external_links:
                                    type: boolean
                                  include_subdomains:
                                    type: boolean
                                  max_age:
                                    type: number
                                  source:
                                    type: string
                                    enum:
                                      - all
                                      - sitemaps
                                      - links
                              parse_options:
                                type: object
                                properties:
                                  content_selector:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        path:
                                          type: string
                                          description: "Glob pattern to match against the page URL path. Uses standard
                                            glob syntax: \\  matches within a
                                            segment, \\ \\ crosses directories."
                                        selector:
                                          type: string
                                          description: CSS selector to extract content from pages matching the path
                                            pattern. Must not contain disallowed
                                            characters (;, `, $, {, }, \). Must
                                            target a single element; if multiple
                                            elements match, the selector is
                                            ignored and the full page is used.
                                      required:
                                        - path
                                        - selector
                                    description: List of path-to-selector mappings for extracting specific content
                                      from crawled pages. Each entry pairs a URL
                                      glob pattern with a CSS selector. The
                                      first matching path wins. Only the matched
                                      HTML fragment is stored and indexed. Omit
                                      the field to disable content selection —
                                      empty arrays are rejected.
                                  include_headers:
                                    type: object
                                    additionalProperties: true
                                    description: Up to 5 custom HTTP headers sent with each crawl request. Names
                                      must be RFC-7230 token characters (no
                                      spaces, colons, or control characters);
                                      values must be HTAB + printable ASCII (no
                                      CR/LF).
                                  include_images:
                                    type: boolean
                                  specific_sitemaps:
                                    type: array
                                    items:
                                      type: string
                                    description: List of specific sitemap URLs to use for crawling. Only valid when
                                      parse_type is 'sitemap'.
                                  use_browser_rendering:
                                    type: boolean
                              parse_type:
                                type: string
                                enum:
                                  - sitemap
                                  - feed-rss
                                  - crawl
                              store_options:
                                type: object
                                properties:
                                  storage_id:
                                    type: string
                                  r2_jurisdiction:
                                    type: string
                                  storage_type:
                                    type: string
                                    enum:
                                      - r2
                                required:
                                  - storage_id
                    nullable: true
                  status:
                    type: string
                  sync_interval:
                    type: number
                    enum:
                      - 900
                      - 1800
                      - 3600
                      - 7200
                      - 14400
                      - 21600
                      - 43200
                      - 86400
                    description: "Interval between automatic syncs, in seconds. Allowed values: 900
                      (15min), 1800 (30min), 3600 (1h), 7200 (2h), 14400 (4h),
                      21600 (6h), 43200 (12h), 86400 (24h)."
                  token_id:
                    type: string
                  type:
                    type: string
                    enum:
                      - r2
                      - web-crawler
                    nullable: true
                required:
                  - id
                  - created_at
                  - modified_at
      x-distilled-pagination-class: InstanceListResponsesV4PagePaginationArray
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
    post:
      operationId: createInstance
      description: "Create a new instance.  @example ```ts const instance = await
        client.aiSearch.instances.create({ account_id:
        'c3dc5f0b34a14ff8e1b3ec04895e1b22', id: 'my-ai-search', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: "Body param: AI Search instance ID. Lowercase alphanumeric,
                    hyphens, and underscores."
                ai_gateway_id:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                ai_search_model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/zai-org/glm-4.7-flash"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - "@cf/google/gemma-3-12b-it"
                    - "@cf/google/gemma-4-26b-a4b-it"
                    - "@cf/moonshotai/kimi-k2.5"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  nullable: true
                  description: Body param
                cache:
                  type: boolean
                  description: Body param
                cache_threshold:
                  type: string
                  enum:
                    - super_strict_match
                    - close_enough
                    - flexible_friend
                    - anything_goes
                  description: Body param
                cache_ttl:
                  type: number
                  enum:
                    - 600
                    - 1800
                    - 3600
                    - 7200
                    - 21600
                    - 43200
                    - 86400
                    - 172800
                    - 259200
                    - 518400
                  description: "Body param: Cache entry TTL in seconds. Allowed values: 600
                    (10min), 1800 (30min), 3600 (1h), 7200 (2h), 21600 (6h),
                    43200 (12h), 86400 (24h), 172800 (48h), 259200 (72h), 518400
                    (6d)."
                chunk:
                  type: boolean
                  description: Body param
                chunk_overlap:
                  type: number
                  description: Body param
                chunk_size:
                  type: number
                  description: Body param
                custom_metadata:
                  type: array
                  items:
                    type: object
                    properties:
                      data_type:
                        type: string
                        enum:
                          - text
                          - number
                          - boolean
                          - datetime
                      field_name:
                        type: string
                    required:
                      - data_type
                      - field_name
                  description: Body param
                embedding_model:
                  type: string
                  enum:
                    - "@cf/qwen/qwen3-embedding-0.6b"
                    - "@cf/baai/bge-m3"
                    - "@cf/baai/bge-large-en-v1.5"
                    - "@cf/google/embeddinggemma-300m"
                    - google-ai-studio/gemini-embedding-001
                    - google-ai-studio/gemini-embedding-2-preview
                    - openai/text-embedding-3-small
                    - openai/text-embedding-3-large
                    - ""
                  nullable: true
                  description: Body param
                fusion_method:
                  type: string
                  enum:
                    - max
                    - rrf
                  description: Body param
                hybrid_search_enabled:
                  type: boolean
                  description: "@deprecated Body param: Deprecated — use index_method instead."
                index_method:
                  type: object
                  properties:
                    keyword:
                      type: boolean
                      description: Enable keyword (BM25) storage backend.
                    vector:
                      type: boolean
                      description: Enable vector (embedding) storage backend.
                  required:
                    - keyword
                    - vector
                  description: "Body param: Controls which storage backends are used during
                    indexing. Defaults to vector-only."
                indexing_options:
                  oneOf:
                    - type: object
                      properties:
                        keyword_tokenizer:
                          type: string
                          enum:
                            - porter
                            - trigram
                          description: Tokenizer used for keyword search indexing. porter provides
                            word-level tokenization with Porter stemming (good
                            for natural language queries). trigram enables
                            character-level substring matching (good for partial
                            matches, code, identifiers). Changing this triggers
                            a full re-index. Defaults to porter.
                  nullable: true
                  description: Body param
                max_num_results:
                  type: number
                  description: Body param
                metadata:
                  type: object
                  properties:
                    created_from_aisearch_wizard:
                      type: boolean
                    worker_domain:
                      type: string
                  description: Body param
                public_endpoint_params:
                  type: object
                  properties:
                    authorized_hosts:
                      type: array
                      items:
                        type: string
                    chat_completions_endpoint:
                      type: object
                      properties:
                        disabled:
                          type: boolean
                          description: Disable chat completions endpoint for this public endpoint
                    enabled:
                      type: boolean
                    mcp:
                      type: object
                      properties:
                        description:
                          type: string
                        disabled:
                          type: boolean
                          description: Disable MCP endpoint for this public endpoint
                    rate_limit:
                      type: object
                      properties:
                        period_ms:
                          type: number
                        requests:
                          type: number
                        technique:
                          type: string
                          enum:
                            - fixed
                            - sliding
                    search_endpoint:
                      type: object
                      properties:
                        disabled:
                          type: boolean
                          description: Disable search endpoint for this public endpoint
                  description: Body param
                reranking:
                  type: boolean
                  description: Body param
                reranking_model:
                  type: string
                  enum:
                    - "@cf/baai/bge-reranker-base"
                    - ""
                  nullable: true
                  description: Body param
                retrieval_options:
                  oneOf:
                    - type: object
                      properties:
                        boost_by:
                          type: array
                          items:
                            type: object
                            properties:
                              field:
                                type: string
                                description: Metadata field name to boost by. Use 'timestamp' for document
                                  freshness, or any custom_metadata field.
                                  Numeric and datetime fields support asc/desc
                                  directions; text/boolean fields support
                                  exists/not_exists.
                              direction:
                                type: string
                                enum:
                                  - asc
                                  - desc
                                  - exists
                                  - not_exists
                                description: Boost direction. 'desc' = higher values rank higher (e.g. newer
                                  timestamps). 'asc' = lower values rank higher.
                                  'exists' = boost chunks that have the field.
                                  'not_exists' = boost chunks that lack the
                                  field. Optional ��� defaults to 'asc' for
                                  numeric/datetime fields, 'exists' for
                                  text/boolean fields.
                            required:
                              - field
                          description: Metadata fields to boost search results by. Each entry specifies a
                            metadata field and an optional direction. Direction
                            defaults to 'asc' for numeric fields and 'exists'
                            for text/boolean fields. Fields must match
                            'timestamp' or a defined custom_metadata field.
                        keyword_match_mode:
                          type: string
                          enum:
                            - and
                            - or
                          description: Controls which documents are candidates for BM25 scoring. 'and'
                            restricts candidates to documents containing all
                            query terms; 'or' includes any document containing
                            at least one term, ranked by BM25 relevance.
                            Defaults to 'and'.
                  nullable: true
                  description: Body param
                rewrite_model:
                  type: string
                  enum:
                    - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                    - "@cf/zai-org/glm-4.7-flash"
                    - "@cf/meta/llama-3.1-8b-instruct-fast"
                    - "@cf/meta/llama-3.1-8b-instruct-fp8"
                    - "@cf/meta/llama-4-scout-17b-16e-instruct"
                    - "@cf/qwen/qwen3-30b-a3b-fp8"
                    - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                    - "@cf/moonshotai/kimi-k2-instruct"
                    - "@cf/google/gemma-3-12b-it"
                    - "@cf/google/gemma-4-26b-a4b-it"
                    - "@cf/moonshotai/kimi-k2.5"
                    - anthropic/claude-3-7-sonnet
                    - anthropic/claude-sonnet-4
                    - anthropic/claude-opus-4
                    - anthropic/claude-3-5-haiku
                    - cerebras/qwen-3-235b-a22b-instruct
                    - cerebras/qwen-3-235b-a22b-thinking
                    - cerebras/llama-3.3-70b
                    - cerebras/llama-4-maverick-17b-128e-instruct
                    - cerebras/llama-4-scout-17b-16e-instruct
                    - cerebras/gpt-oss-120b
                    - google-ai-studio/gemini-2.5-flash
                    - google-ai-studio/gemini-2.5-pro
                    - grok/grok-4
                    - groq/llama-3.3-70b-versatile
                    - groq/llama-3.1-8b-instant
                    - openai/gpt-5
                    - openai/gpt-5-mini
                    - openai/gpt-5-nano
                    - ""
                  nullable: true
                  description: Body param
                rewrite_query:
                  type: boolean
                  description: Body param
                score_threshold:
                  type: number
                  description: Body param
                source:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                source_params:
                  oneOf:
                    - type: object
                      properties:
                        exclude_items:
                          type: array
                          items:
                            type: string
                          description: "List of path patterns to exclude. Uses micromatch glob syntax: \\
                            matches within a path segment,  matches across path
                            segments (e.g., /admin/  matches /admin/users and
                            /admin/settings/advanced)"
                        include_items:
                          type: array
                          items:
                            type: string
                          description: "List of path patterns to include. Uses micromatch glob syntax: \\
                            matches within a path segment,  matches across path
                            segments (e.g., /blog/  matches /blog/post and
                            /blog/2024/post)"
                        prefix:
                          type: string
                        r2_jurisdiction:
                          type: string
                        web_crawler:
                          type: object
                          properties:
                            crawl_options:
                              type: object
                              properties:
                                depth:
                                  type: number
                                include_external_links:
                                  type: boolean
                                include_subdomains:
                                  type: boolean
                                max_age:
                                  type: number
                                source:
                                  type: string
                                  enum:
                                    - all
                                    - sitemaps
                                    - links
                            parse_options:
                              type: object
                              properties:
                                content_selector:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      path:
                                        type: string
                                        description: "Glob pattern to match against the page URL path. Uses standard
                                          glob syntax: \\  matches within a
                                          segment, \\ \\ crosses directories."
                                      selector:
                                        type: string
                                        description: CSS selector to extract content from pages matching the path
                                          pattern. Must not contain disallowed
                                          characters (;, `, $, {, }, \). Must
                                          target a single element; if multiple
                                          elements match, the selector is
                                          ignored and the full page is used.
                                    required:
                                      - path
                                      - selector
                                  description: List of path-to-selector mappings for extracting specific content
                                    from crawled pages. Each entry pairs a URL
                                    glob pattern with a CSS selector. The first
                                    matching path wins. Only the matched HTML
                                    fragment is stored and indexed. Omit the
                                    field to disable content selection — empty
                                    arrays are rejected.
                                include_headers:
                                  type: object
                                  additionalProperties: true
                                  description: Up to 5 custom HTTP headers sent with each crawl request. Names
                                    must be RFC-7230 token characters (no
                                    spaces, colons, or control characters);
                                    values must be HTAB + printable ASCII (no
                                    CR/LF).
                                include_images:
                                  type: boolean
                                specific_sitemaps:
                                  type: array
                                  items:
                                    type: string
                                  description: List of specific sitemap URLs to use for crawling. Only valid when
                                    parse_type is 'sitemap'.
                                use_browser_rendering:
                                  type: boolean
                            parse_type:
                              type: string
                              enum:
                                - sitemap
                                - feed-rss
                                - crawl
                            store_options:
                              type: object
                              properties:
                                storage_id:
                                  type: string
                                r2_jurisdiction:
                                  type: string
                                storage_type:
                                  type: string
                                  enum:
                                    - r2
                              required:
                                - storage_id
                  nullable: true
                  description: Body param
                sync_interval:
                  type: number
                  enum:
                    - 900
                    - 1800
                    - 3600
                    - 7200
                    - 14400
                    - 21600
                    - 43200
                    - 86400
                  description: "Body param: Interval between automatic syncs, in seconds. Allowed
                    values: 900 (15min), 1800 (30min), 3600 (1h), 7200 (2h),
                    14400 (4h), 21600 (6h), 43200 (12h), 86400 (24h)."
                token_id:
                  type: string
                  description: Body param
                type:
                  type: string
                  enum:
                    - r2
                    - web-crawler
                  nullable: true
                  description: Body param
              required:
                - id
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: AI Search instance ID. Lowercase alphanumeric, hyphens, and
                      underscores.
                  created_at:
                    type: string
                  modified_at:
                    type: string
                  ai_gateway_id:
                    oneOf:
                      - type: string
                    nullable: true
                  ai_search_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/zai-org/glm-4.7-flash"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - "@cf/google/gemma-3-12b-it"
                      - "@cf/google/gemma-4-26b-a4b-it"
                      - "@cf/moonshotai/kimi-k2.5"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
                      - grok/grok-4
                      - groq/llama-3.3-70b-versatile
                      - groq/llama-3.1-8b-instant
                      - openai/gpt-5
                      - openai/gpt-5-mini
                      - openai/gpt-5-nano
                      - ""
                    nullable: true
                  cache:
                    type: boolean
                  cache_threshold:
                    type: string
                    enum:
                      - super_strict_match
                      - close_enough
                      - flexible_friend
                      - anything_goes
                    nullable: true
                  cache_ttl:
                    type: number
                    enum:
                      - 600
                      - 1800
                      - 3600
                      - 7200
                      - 21600
                      - 43200
                      - 86400
                      - 172800
                      - 259200
                      - 518400
                    description: "Cache entry TTL in seconds. Allowed values: 600 (10min), 1800
                      (30min), 3600 (1h), 7200 (2h), 21600 (6h), 43200 (12h),
                      86400 (24h), 172800 (48h), 259200 (72h), 518400 (6d)."
                  chunk_overlap:
                    type: number
                  chunk_size:
                    type: number
                  created_by:
                    oneOf:
                      - type: string
                    nullable: true
                  custom_metadata:
                    type: array
                    items:
                      type: object
                      properties:
                        data_type:
                          type: string
                          enum:
                            - text
                            - number
                            - boolean
                            - datetime
                        field_name:
                          type: string
                      required:
                        - data_type
                        - field_name
                  embedding_model:
                    type: string
                    enum:
                      - "@cf/qwen/qwen3-embedding-0.6b"
                      - "@cf/baai/bge-m3"
                      - "@cf/baai/bge-large-en-v1.5"
                      - "@cf/google/embeddinggemma-300m"
                      - google-ai-studio/gemini-embedding-001
                      - google-ai-studio/gemini-embedding-2-preview
                      - openai/text-embedding-3-small
                      - openai/text-embedding-3-large
                      - ""
                    nullable: true
                  enable:
                    type: boolean
                  engine_version:
                    type: number
                  fusion_method:
                    type: string
                    enum:
                      - max
                      - rrf
                  hybrid_search_enabled:
                    type: boolean
                    description: "@deprecated Deprecated — use index_method instead."
                  index_method:
                    type: object
                    properties:
                      keyword:
                        type: boolean
                        description: Enable keyword (BM25) storage backend.
                      vector:
                        type: boolean
                        description: Enable vector (embedding) storage backend.
                    required:
                      - keyword
                      - vector
                    description: Controls which storage backends are used during indexing. Defaults
                      to vector-only.
                  indexing_options:
                    oneOf:
                      - type: object
                        properties:
                          keyword_tokenizer:
                            type: string
                            enum:
                              - porter
                              - trigram
                            description: Tokenizer used for keyword search indexing. porter provides
                              word-level tokenization with Porter stemming (good
                              for natural language queries). trigram enables
                              character-level substring matching (good for
                              partial matches, code, identifiers). Changing this
                              triggers a full re-index. Defaults to porter.
                    nullable: true
                  last_activity:
                    oneOf:
                      - type: string
                    nullable: true
                  max_num_results:
                    type: number
                  metadata:
                    oneOf:
                      - type: object
                        properties:
                          created_from_aisearch_wizard:
                            type: boolean
                          worker_domain:
                            type: string
                    nullable: true
                  modified_by:
                    oneOf:
                      - type: string
                    nullable: true
                  namespace:
                    oneOf:
                      - type: string
                    nullable: true
                  paused:
                    type: boolean
                  public_endpoint_id:
                    oneOf:
                      - type: string
                    nullable: true
                  public_endpoint_params:
                    oneOf:
                      - type: object
                        properties:
                          authorized_hosts:
                            type: array
                            items:
                              type: string
                          chat_completions_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable chat completions endpoint for this public endpoint
                          enabled:
                            type: boolean
                          mcp:
                            type: object
                            properties:
                              description:
                                type: string
                              disabled:
                                type: boolean
                                description: Disable MCP endpoint for this public endpoint
                          rate_limit:
                            type: object
                            properties:
                              period_ms:
                                type: number
                              requests:
                                type: number
                              technique:
                                type: string
                                enum:
                                  - fixed
                                  - sliding
                          search_endpoint:
                            type: object
                            properties:
                              disabled:
                                type: boolean
                                description: Disable search endpoint for this public endpoint
                    nullable: true
                  reranking:
                    type: boolean
                  reranking_model:
                    type: string
                    enum:
                      - "@cf/baai/bge-reranker-base"
                      - ""
                    nullable: true
                  retrieval_options:
                    oneOf:
                      - type: object
                        properties:
                          boost_by:
                            type: array
                            items:
                              type: object
                              properties:
                                field:
                                  type: string
                                  description: Metadata field name to boost by. Use 'timestamp' for document
                                    freshness, or any custom_metadata field.
                                    Numeric and datetime fields support asc/desc
                                    directions; text/boolean fields support
                                    exists/not_exists.
                                direction:
                                  type: string
                                  enum:
                                    - asc
                                    - desc
                                    - exists
                                    - not_exists
                                  description: Boost direction. 'desc' = higher values rank higher (e.g. newer
                                    timestamps). 'asc' = lower values rank
                                    higher. 'exists' = boost chunks that have
                                    the field. 'not_exists' = boost chunks that
                                    lack the field. Optional ��� defaults to
                                    'asc' for numeric/datetime fields, 'exists'
                                    for text/boolean fields.
                              required:
                                - field
                            description: Metadata fields to boost search results by. Each entry specifies a
                              metadata field and an optional direction.
                              Direction defaults to 'asc' for numeric fields and
                              'exists' for text/boolean fields. Fields must
                              match 'timestamp' or a defined custom_metadata
                              field.
                          keyword_match_mode:
                            type: string
                            enum:
                              - and
                              - or
                            description: Controls which documents are candidates for BM25 scoring. 'and'
                              restricts candidates to documents containing all
                              query terms; 'or' includes any document containing
                              at least one term, ranked by BM25 relevance.
                              Defaults to 'and'.
                    nullable: true
                  rewrite_model:
                    type: string
                    enum:
                      - "@cf/meta/llama-3.3-70b-instruct-fp8-fast"
                      - "@cf/zai-org/glm-4.7-flash"
                      - "@cf/meta/llama-3.1-8b-instruct-fast"
                      - "@cf/meta/llama-3.1-8b-instruct-fp8"
                      - "@cf/meta/llama-4-scout-17b-16e-instruct"
                      - "@cf/qwen/qwen3-30b-a3b-fp8"
                      - "@cf/deepseek-ai/deepseek-r1-distill-qwen-32b"
                      - "@cf/moonshotai/kimi-k2-instruct"
                      - "@cf/google/gemma-3-12b-it"
                      - "@cf/google/gemma-4-26b-a4b-it"
                      - "@cf/moonshotai/kimi-k2.5"
                      - anthropic/claude-3-7-sonnet
                      - anthropic/claude-sonnet-4
                      - anthropic/claude-opus-4
                      - anthropic/claude-3-5-haiku
                      - cerebras/qwen-3-235b-a22b-instruct
                      - cerebras/qwen-3-235b-a22b-thinking
                      - cerebras/llama-3.3-70b
                      - cerebras/llama-4-maverick-17b-128e-instruct
                      - cerebras/llama-4-scout-17b-16e-instruct
                      - cerebras/gpt-oss-120b
                      - google-ai-studio/gemini-2.5-flash
                      - google-ai-studio/gemini-2.5-pro
[...]
