openapi: 3.1.0
info:
  title: Cloudflare AUDIT-LOGS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: audit-logs
paths:
  /accounts/{account_id}/audit_logs:
    get:
      operationId: listAuditLogs
      description: Gets a list of audit logs for an account. Can be filtered by who
        made the change, on which zone, and the timeframe of the change.
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: "Query param: Finds a specific log by its ID."
          schema:
            type: string
        - name: action
          in: query
          required: false
          description: "Query param:"
          schema:
            type: object
            properties:
              type:
                type: string
                description: Filters by the action type.
        - name: actor
          in: query
          required: false
          description: "Query param:"
          schema:
            type: object
            properties:
              email:
                type: string
                description: Filters by the email address of the actor that made the change.
              ip:
                type: string
                description: Filters by the IP address of the request that made the change by
                  specific IP address or valid CIDR Range.
        - name: before
          in: query
          required: false
          description: "Query param: Limits the returned results to logs older than the
            specified date. A `full-date` that conforms to RFC3339."
          schema: {}
        - name: direction
          in: query
          required: false
          description: "Query param: Changes the direction of the chronological sorting."
          schema:
            type: string
            enum:
              - desc
              - asc
        - name: export
          in: query
          required: false
          description: "Query param: Indicates that this request is an export of logs in
            CSV format."
          schema:
            type: boolean
        - name: hide_user_logs
          in: query
          required: false
          description: "Query param: Indicates whether or not to hide user level audit
            logs."
          schema:
            type: boolean
        - name: since
          in: query
          required: false
          description: "Query param: Limits the returned results to logs newer than the
            specified date. A `full-date` that conforms to RFC3339."
          schema: {}
        - name: zone
          in: query
          required: false
          description: "Query param:"
          schema:
            type: object
            properties:
              name:
                type: string
                description: Filters by the name of the zone associated to the change.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-distilled-pagination-class: AuditLogsV4PagePaginationArray
