openapi: 3.1.0
info:
  title: Cloudflare BOT-MANAGEMENT API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: bot-management
paths:
  /zones/{zone_id}/bot_management:
    get:
      operationId: getBotManagement
      description: "Retrieve a zone's Bot Management Config  @example ```ts const
        botManagement = await client.botManagement.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      ai_bots_protection:
                        type: string
                        enum:
                          - block
                          - disabled
                          - only_on_ad_pages
                        description: Enable rule to block AI Scrapers and Crawlers. Please note the
                          value `only_on_ad_pages` is currently not available
                          for Enterprise customers.
                      cf_robots_variant:
                        type: string
                        enum:
                          - off
                          - policy_only
                        description: Specifies the Robots Access Control License variant to use.
                      crawler_protection:
                        type: string
                        enum:
                          - enabled
                          - disabled
                        description: Enable rule to punish AI Scrapers and Crawlers via a link maze.
                      enable_js:
                        type: boolean
                        description: Use lightweight, invisible JavaScript detections to improve Bot
                          Management. [Learn more about JavaScript
                          Detections](https://developers.cloudflare.com/bots/reference/javascript-detections/).
                      fight_mode:
                        type: boolean
                        description: Whether to enable Bot Fight Mode.
                      is_robots_txt_managed:
                        type: boolean
                        description: Enable cloudflare managed robots.txt. If an existing robots.txt is
                          detected, then managed robots.txt will be prepended to
                          the existing robots.txt.
                      stale_zone_configuration:
                        type: object
                        properties:
                          optimize_wordpress:
                            type: boolean
                            description: Indicates that the zone's wordpress optimization for SBFM is turned
                              on.
                          sbfm_definitely_automated:
                            type: string
                            description: Indicates that the zone's definitely automated requests are being
                              blocked or challenged.
                          sbfm_likely_automated:
                            type: string
                            description: Indicates that the zone's likely automated requests are being
                              blocked or challenged.
                          sbfm_static_resource_protection:
                            type: string
                            description: Indicates that the zone's static resource protection is turned on.
                          sbfm_verified_bots:
                            type: string
                            description: Indicates that the zone's verified bot requests are being blocked.
                          suppress_session_score:
                            type: boolean
                            description: Indicates that the zone's session score tracking is disabled.
                        description: A read-only field that shows which unauthorized settings are
                          currently active on the zone. These settings typically
                          result from upgrades or downgrades.
                      using_latest_model:
                        type: boolean
                        description: A read-only field that indicates whether the zone currently is
                          running the latest ML model.
                  - type: object
                    properties:
                      ai_bots_protection:
                        type: string
                        enum:
                          - block
                          - disabled
                          - only_on_ad_pages
                        description: Enable rule to block AI Scrapers and Crawlers. Please note the
                          value `only_on_ad_pages` is currently not available
                          for Enterprise customers.
                      cf_robots_variant:
                        type: string
                        enum:
                          - off
                          - policy_only
                        description: Specifies the Robots Access Control License variant to use.
                      crawler_protection:
                        type: string
                        enum:
                          - enabled
                          - disabled
                        description: Enable rule to punish AI Scrapers and Crawlers via a link maze.
                      enable_js:
                        type: boolean
                        description: Use lightweight, invisible JavaScript detections to improve Bot
                          Management. [Learn more about JavaScript
                          Detections](https://developers.cloudflare.com/bots/reference/javascript-detections/).
                      is_robots_txt_managed:
                        type: boolean
                        description: Enable cloudflare managed robots.txt. If an existing robots.txt is
                          detected, then managed robots.txt will be prepended to
                          the existing robots.txt.
                      optimize_wordpress:
                        type: boolean
                        description: Whether to optimize Super Bot Fight Mode protections for Wordpress.
                      sbfm_definitely_automated:
                        type: string
                        enum:
                          - allow
                          - block
                          - managed_challenge
                        description: Super Bot Fight Mode (SBFM) action to take on definitely automated
                          requests.
                      sbfm_static_resource_protection:
                        type: boolean
                        description: "Super Bot Fight Mode (SBFM) to enable static resource protection.
                          Enable if static resources on your application need
                          bot protection. Note: Static resource protection can
                          also result in legitimate traffic being blocked."
                      sbfm_verified_bots:
                        type: string
                        enum:
                          - allow
                          - block
                        description: Super Bot Fight Mode (SBFM) action to take on verified bots
                          requests.
                      stale_zone_configuration:
                        type: object
                        properties:
                          fight_mode:
                            type: boolean
                            description: Indicates that the zone's Bot Fight Mode is turned on.
                          sbfm_likely_automated:
                            type: string
                            description: Indicates that the zone's likely automated requests are being
                              blocked or challenged.
                        description: A read-only field that shows which unauthorized settings are
                          currently active on the zone. These settings typically
                          result from upgrades or downgrades.
                      using_latest_model:
                        type: boolean
                        description: A read-only field that indicates whether the zone currently is
                          running the latest ML model.
                  - type: object
                    properties:
                      ai_bots_protection:
                        type: string
                        enum:
                          - block
                          - disabled
                          - only_on_ad_pages
                        description: Enable rule to block AI Scrapers and Crawlers. Please note the
                          value `only_on_ad_pages` is currently not available
                          for Enterprise customers.
                      cf_robots_variant:
                        type: string
                        enum:
                          - off
                          - policy_only
                        description: Specifies the Robots Access Control License variant to use.
                      crawler_protection:
                        type: string
                        enum:
                          - enabled
                          - disabled
                        description: Enable rule to punish AI Scrapers and Crawlers via a link maze.
                      enable_js:
                        type: boolean
                        description: Use lightweight, invisible JavaScript detections to improve Bot
                          Management. [Learn more about JavaScript
                          Detections](https://developers.cloudflare.com/bots/reference/javascript-detections/).
                      is_robots_txt_managed:
                        type: boolean
                        description: Enable cloudflare managed robots.txt. If an existing robots.txt is
                          detected, then managed robots.txt will be prepended to
                          the existing robots.txt.
                      optimize_wordpress:
                        type: boolean
                        description: Whether to optimize Super Bot Fight Mode protections for Wordpress.
                      sbfm_definitely_automated:
                        type: string
                        enum:
                          - allow
                          - block
                          - managed_challenge
                        description: Super Bot Fight Mode (SBFM) action to take on definitely automated
                          requests.
                      sbfm_likely_automated:
                        type: string
                        enum:
                          - allow
                          - block
                          - managed_challenge
                        description: Super Bot Fight Mode (SBFM) action to take on likely automated
                          requests.
                      sbfm_static_resource_protection:
                        type: boolean
                        description: "Super Bot Fight Mode (SBFM) to enable static resource protection.
                          Enable if static resources on your application need
                          bot protection. Note: Static resource protection can
                          also result in legitimate traffic being blocked."
                      sbfm_verified_bots:
                        type: string
                        enum:
                          - allow
                          - block
                        description: Super Bot Fight Mode (SBFM) action to take on verified bots
                          requests.
                      stale_zone_configuration:
                        type: object
                        properties:
                          fight_mode:
                            type: boolean
                            description: Indicates that the zone's Bot Fight Mode is turned on.
                        description: A read-only field that shows which unauthorized settings are
                          currently active on the zone. These settings typically
                          result from upgrades or downgrades.
                      using_latest_model:
                        type: boolean
                        description: A read-only field that indicates whether the zone currently is
                          running the latest ML model.
                  - type: object
                    properties:
                      ai_bots_protection:
                        type: string
                        enum:
                          - block
                          - disabled
                          - only_on_ad_pages
                        description: Enable rule to block AI Scrapers and Crawlers. Please note the
                          value `only_on_ad_pages` is currently not available
                          for Enterprise customers.
                      auto_update_model:
                        type: boolean
                        description: Automatically update to the newest bot detection models created by
                          Cloudflare as they are released. [Learn
                          more.](https://developers.cloudflare.com/bots/reference/machine-learning-models#model-versions-and-release-notes)
                      bm_cookie_enabled:
                        type: boolean
                        description: Indicates that the bot management cookie can be placed on end user
                          devices accessing the site. Defaults to true
                      cf_robots_variant:
                        type: string
                        enum:
                          - off
                          - policy_only
                        description: Specifies the Robots Access Control License variant to use.
                      crawler_protection:
                        type: string
                        enum:
                          - enabled
                          - disabled
                        description: Enable rule to punish AI Scrapers and Crawlers via a link maze.
                      enable_js:
                        type: boolean
                        description: Use lightweight, invisible JavaScript detections to improve Bot
                          Management. [Learn more about JavaScript
                          Detections](https://developers.cloudflare.com/bots/reference/javascript-detections/).
                      is_robots_txt_managed:
                        type: boolean
                        description: Enable cloudflare managed robots.txt. If an existing robots.txt is
                          detected, then managed robots.txt will be prepended to
                          the existing robots.txt.
                      stale_zone_configuration:
                        type: object
                        properties:
                          fight_mode:
                            type: boolean
                            description: Indicates that the zone's Bot Fight Mode is turned on.
                          optimize_wordpress:
                            type: boolean
                            description: Indicates that the zone's wordpress optimization for SBFM is turned
                              on.
                          sbfm_definitely_automated:
                            type: string
                            description: Indicates that the zone's definitely automated requests are being
                              blocked or challenged.
                          sbfm_likely_automated:
                            type: string
                            description: Indicates that the zone's likely automated requests are being
                              blocked or challenged.
                          sbfm_static_resource_protection:
                            type: string
                            description: Indicates that the zone's static resource protection is turned on.
                          sbfm_verified_bots:
                            type: string
                            description: Indicates that the zone's verified bot requests are being blocked.
                        description: A read-only field that shows which unauthorized settings are
                          currently active on the zone. These settings typically
                          result from upgrades or downgrades.
                      suppress_session_score:
                        type: boolean
                        description: Whether to disable tracking the highest bot score for a session in
                          the Bot Management cookie.
                      using_latest_model:
                        type: boolean
                        description: A read-only field that indicates whether the zone currently is
                          running the latest ML model.
      x-distilled-response-path: result
    put:
      operationId: putBotManagement
      description: "Updates the Bot Management configuration for a zone.  This API is
        used to update:  -  Bot Fight Mode   -  Super Bot Fight Mode   -  Bot
        Management for Enterprise    See [Bot
        Plans](https://developers.cloudflare.com/bots/plans/) for more
        information on the different plans \\ If you recently upgraded or
        downgraded your plan, refer to the following examples to clean up old
        configurations. Copy and paste the example body to remove old zone
        configurations based on your current plan.  #### Clean up configuration
        for Bot Fight Mode plan  ```json { \"sbfm_likely_automated\": \"allow\",
        \"sbfm_definitely_automated\": \"allow\", \"sbfm_verified_bots\":
        \"allow\", \"sbfm_static_resource_protection\": false,
        \"optimize_wordpress\": false, \"suppress_session_score\": false }
        ```  #### Clean up configuration for SBFM Pro plan  ```json {
        \"sbfm_likely_automated\": \"allow\", \"fight_mode\": false } ```  ####
        Clean up configuration for SBFM Biz plan  ```json { \"fight_mode\":
        false } ```  #### Clean up configuration for BM Enterprise Subscription
        plan  It is strongly recommended that you ensure you have [custom
        rules](https://developers.cloudflare.com/waf/custom-rules/) in place to
        protect your zone before disabling the SBFM rules. Without these
        protections, your zone is vulnerable to attacks.  ```json {
        \"sbfm_likely_automated\": \"allow\", \"sbfm_definitely_automated\":
        \"allow\", \"sbfm_verified_bots\": \"allow\",
        \"sbfm_static_resource_protection\": false, \"optimize_wordpress\":
        false, \"fight_mode\": false } ```  @example ```ts const botManagement =
        await client.botManagement.update({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', ai_bots_protection: 'disabled',
        cf_robots_variant: 'off', crawler_protection: 'disabled', enable_js:
        true, fight_mode: true, }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ai_bots_protection:
                  type: string
                  enum:
                    - block
                    - disabled
                    - only_on_ad_pages
                  description: "Body param: Enable rule to block AI Scrapers and Crawlers. Please
                    note the value `only_on_ad_pages` is currently not available
                    for Enterprise customers."
                cf_robots_variant:
                  type: string
                  enum:
                    - off
                    - policy_only
                  description: "Body param: Specifies the Robots Access Control License variant to
                    use."
                crawler_protection:
                  type: string
                  enum:
                    - enabled
                    - disabled
                  description: "Body param: Enable rule to punish AI Scrapers and Crawlers via a
                    link maze."
                enable_js:
                  type: boolean
                  description: "Body param: Use lightweight, invisible JavaScript detections to
                    improve Bot Management. [Learn more about JavaScript
                    Detections](https://developers.cloudflare.com/bots/referenc\
                    e/javascript-detections/)."
                fight_mode:
                  type: boolean
                  description: "Body param: Whether to enable Bot Fight Mode."
                is_robots_txt_managed:
                  type: boolean
                  description: "Body param: Enable cloudflare managed robots.txt. If an existing
                    robots.txt is detected, then managed robots.txt will be
                    prepended to the existing robots.txt."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      ai_bots_protection:
                        type: string
                        enum:
                          - block
                          - disabled
                          - only_on_ad_pages
                        description: Enable rule to block AI Scrapers and Crawlers. Please note the
                          value `only_on_ad_pages` is currently not available
                          for Enterprise customers.
                      cf_robots_variant:
                        type: string
                        enum:
                          - off
                          - policy_only
                        description: Specifies the Robots Access Control License variant to use.
                      crawler_protection:
                        type: string
                        enum:
                          - enabled
                          - disabled
                        description: Enable rule to punish AI Scrapers and Crawlers via a link maze.
                      enable_js:
                        type: boolean
                        description: Use lightweight, invisible JavaScript detections to improve Bot
                          Management. [Learn more about JavaScript
                          Detections](https://developers.cloudflare.com/bots/reference/javascript-detections/).
                      fight_mode:
                        type: boolean
                        description: Whether to enable Bot Fight Mode.
                      is_robots_txt_managed:
                        type: boolean
                        description: Enable cloudflare managed robots.txt. If an existing robots.txt is
                          detected, then managed robots.txt will be prepended to
                          the existing robots.txt.
                      stale_zone_configuration:
                        type: object
                        properties:
                          optimize_wordpress:
                            type: boolean
                            description: Indicates that the zone's wordpress optimization for SBFM is turned
                              on.
                          sbfm_definitely_automated:
                            type: string
                            description: Indicates that the zone's definitely automated requests are being
                              blocked or challenged.
                          sbfm_likely_automated:
                            type: string
                            description: Indicates that the zone's likely automated requests are being
                              blocked or challenged.
                          sbfm_static_resource_protection:
                            type: string
                            description: Indicates that the zone's static resource protection is turned on.
                          sbfm_verified_bots:
                            type: string
                            description: Indicates that the zone's verified bot requests are being blocked.
                          suppress_session_score:
                            type: boolean
                            description: Indicates that the zone's session score tracking is disabled.
                        description: A read-only field that shows which unauthorized settings are
                          currently active on the zone. These settings typically
                          result from upgrades or downgrades.
                      using_latest_model:
                        type: boolean
                        description: A read-only field that indicates whether the zone currently is
                          running the latest ML model.
                  - type: object
                    properties:
                      ai_bots_protection:
                        type: string
                        enum:
                          - block
                          - disabled
                          - only_on_ad_pages
                        description: Enable rule to block AI Scrapers and Crawlers. Please note the
                          value `only_on_ad_pages` is currently not available
                          for Enterprise customers.
                      cf_robots_variant:
                        type: string
                        enum:
                          - off
                          - policy_only
                        description: Specifies the Robots Access Control License variant to use.
                      crawler_protection:
                        type: string
                        enum:
                          - enabled
                          - disabled
                        description: Enable rule to punish AI Scrapers and Crawlers via a link maze.
                      enable_js:
                        type: boolean
                        description: Use lightweight, invisible JavaScript detections to improve Bot
                          Management. [Learn more about JavaScript
                          Detections](https://developers.cloudflare.com/bots/reference/javascript-detections/).
                      is_robots_txt_managed:
                        type: boolean
                        description: Enable cloudflare managed robots.txt. If an existing robots.txt is
                          detected, then managed robots.txt will be prepended to
                          the existing robots.txt.
                      optimize_wordpress:
                        type: boolean
                        description: Whether to optimize Super Bot Fight Mode protections for Wordpress.
                      sbfm_definitely_automated:
                        type: string
                        enum:
                          - allow
                          - block
                          - managed_challenge
                        description: Super Bot Fight Mode (SBFM) action to take on definitely automated
                          requests.
                      sbfm_static_resource_protection:
                        type: boolean
                        description: "Super Bot Fight Mode (SBFM) to enable static resource protection.
                          Enable if static resources on your application need
                          bot protection. Note: Static resource protection can
                          also result in legitimate traffic being blocked."
                      sbfm_verified_bots:
                        type: string
                        enum:
                          - allow
                          - block
                        description: Super Bot Fight Mode (SBFM) action to take on verified bots
                          requests.
                      stale_zone_configuration:
                        type: object
                        properties:
                          fight_mode:
                            type: boolean
                            description: Indicates that the zone's Bot Fight Mode is turned on.
                          sbfm_likely_automated:
                            type: string
                            description: Indicates that the zone's likely automated requests are being
                              blocked or challenged.
                        description: A read-only field that shows which unauthorized settings are
                          currently active on the zone. These settings typically
                          result from upgrades or downgrades.
                      using_latest_model:
                        type: boolean
                        description: A read-only field that indicates whether the zone currently is
                          running the latest ML model.
                  - type: object
                    properties:
                      ai_bots_protection:
                        type: string
                        enum:
                          - block
                          - disabled
                          - only_on_ad_pages
                        description: Enable rule to block AI Scrapers and Crawlers. Please note the
                          value `only_on_ad_pages` is currently not available
                          for Enterprise customers.
                      cf_robots_variant:
                        type: string
                        enum:
                          - off
                          - policy_only
                        description: Specifies the Robots Access Control License variant to use.
                      crawler_protection:
                        type: string
                        enum:
                          - enabled
                          - disabled
                        description: Enable rule to punish AI Scrapers and Crawlers via a link maze.
                      enable_js:
                        type: boolean
                        description: Use lightweight, invisible JavaScript detections to improve Bot
                          Management. [Learn more about JavaScript
                          Detections](https://developers.cloudflare.com/bots/reference/javascript-detections/).
                      is_robots_txt_managed:
                        type: boolean
                        description: Enable cloudflare managed robots.txt. If an existing robots.txt is
                          detected, then managed robots.txt will be prepended to
                          the existing robots.txt.
                      optimize_wordpress:
                        type: boolean
                        description: Whether to optimize Super Bot Fight Mode protections for Wordpress.
                      sbfm_definitely_automated:
                        type: string
                        enum:
                          - allow
                          - block
                          - managed_challenge
                        description: Super Bot Fight Mode (SBFM) action to take on definitely automated
                          requests.
                      sbfm_likely_automated:
                        type: string
                        enum:
                          - allow
                          - block
                          - managed_challenge
                        description: Super Bot Fight Mode (SBFM) action to take on likely automated
                          requests.
                      sbfm_static_resource_protection:
                        type: boolean
                        description: "Super Bot Fight Mode (SBFM) to enable static resource protection.
                          Enable if static resources on your application need
                          bot protection. Note: Static resource protection can
                          also result in legitimate traffic being blocked."
                      sbfm_verified_bots:
                        type: string
                        enum:
                          - allow
                          - block
                        description: Super Bot Fight Mode (SBFM) action to take on verified bots
                          requests.
                      stale_zone_configuration:
                        type: object
                        properties:
                          fight_mode:
                            type: boolean
                            description: Indicates that the zone's Bot Fight Mode is turned on.
                        description: A read-only field that shows which unauthorized settings are
                          currently active on the zone. These settings typically
                          result from upgrades or downgrades.
                      using_latest_model:
                        type: boolean
                        description: A read-only field that indicates whether the zone currently is
                          running the latest ML model.
                  - type: object
                    properties:
                      ai_bots_protection:
                        type: string
                        enum:
                          - block
                          - disabled
                          - only_on_ad_pages
                        description: Enable rule to block AI Scrapers and Crawlers. Please note the
                          value `only_on_ad_pages` is currently not available
                          for Enterprise customers.
                      auto_update_model:
                        type: boolean
                        description: Automatically update to the newest bot detection models created by
                          Cloudflare as they are released. [Learn
                          more.](https://developers.cloudflare.com/bots/reference/machine-learning-models#model-versions-and-release-notes)
                      bm_cookie_enabled:
                        type: boolean
                        description: Indicates that the bot management cookie can be placed on end user
                          devices accessing the site. Defaults to true
                      cf_robots_variant:
                        type: string
                        enum:
                          - off
                          - policy_only
                        description: Specifies the Robots Access Control License variant to use.
                      crawler_protection:
                        type: string
                        enum:
                          - enabled
                          - disabled
                        description: Enable rule to punish AI Scrapers and Crawlers via a link maze.
                      enable_js:
                        type: boolean
                        description: Use lightweight, invisible JavaScript detections to improve Bot
                          Management. [Learn more about JavaScript
                          Detections](https://developers.cloudflare.com/bots/reference/javascript-detections/).
                      is_robots_txt_managed:
                        type: boolean
                        description: Enable cloudflare managed robots.txt. If an existing robots.txt is
                          detected, then managed robots.txt will be prepended to
                          the existing robots.txt.
                      stale_zone_configuration:
                        type: object
                        properties:
                          fight_mode:
                            type: boolean
                            description: Indicates that the zone's Bot Fight Mode is turned on.
                          optimize_wordpress:
                            type: boolean
                            description: Indicates that the zone's wordpress optimization for SBFM is turned
                              on.
                          sbfm_definitely_automated:
                            type: string
                            description: Indicates that the zone's definitely automated requests are being
                              blocked or challenged.
                          sbfm_likely_automated:
                            type: string
                            description: Indicates that the zone's likely automated requests are being
                              blocked or challenged.
                          sbfm_static_resource_protection:
                            type: string
                            description: Indicates that the zone's static resource protection is turned on.
                          sbfm_verified_bots:
                            type: string
                            description: Indicates that the zone's verified bot requests are being blocked.
                        description: A read-only field that shows which unauthorized settings are
                          currently active on the zone. These settings typically
                          result from upgrades or downgrades.
                      suppress_session_score:
                        type: boolean
                        description: Whether to disable tracking the highest bot score for a session in
                          the Bot Management cookie.
                      using_latest_model:
                        type: boolean
                        description: A read-only field that indicates whether the zone currently is
                          running the latest ML model.
      x-distilled-response-path: result
