openapi: 3.1.0
info:
  title: Cloudflare BOTNET-FEED API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: botnet-feed
paths:
  /accounts/{account_id}/botnet_feed/configs/asn:
    get:
      operationId: getConfigAsn
      description: Gets a list of all ASNs registered for a user for the DDoS Botnet
        Feed API.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  asn:
                    type: number
      x-distilled-response-path: result
  /accounts/{account_id}/botnet_feed/configs/asn/{asnId}:
    delete:
      operationId: deleteConfigAsn
      description: Delete an ASN from botnet threat feed for a given user.
      parameters:
        - name: asnId
          in: path
          required: true
          schema:
            type: number
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  asn:
                    type: number
      x-distilled-response-path: result
  /accounts/{account_id}/botnet_feed/asn/{asnId}/day_report:
    get:
      operationId: dayReportAsn
      description: Gets all the data the botnet tracking database has for a given ASN
        registered to user account for given date. If no date is given, it will
        return results for the previous day.
      parameters:
        - name: asnId
          in: path
          required: true
          schema:
            type: number
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: date
          in: query
          required: false
          description: Query param
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  cidr:
                    type: string
                  date:
                    type: string
                  offense_count:
                    type: number
      x-distilled-response-path: result
  /accounts/{account_id}/botnet_feed/asn/{asnId}/full_report:
    get:
      operationId: fullReportAsn
      description: Gets all the data the botnet threat feed tracking database has for
        a given ASN registered to user account.
      parameters:
        - name: asnId
          in: path
          required: true
          schema:
            type: number
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  cidr:
                    type: string
                  date:
                    type: string
                  offense_count:
                    type: number
      x-distilled-response-path: result
