openapi: 3.1.0
info:
  title: Cloudflare BRAND-PROTECTION API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: brand-protection
paths:
  /accounts/{account_id}/brand-protection/submit:
    post:
      operationId: submitBrandProtection
      description: Return new URL submissions
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  skipped_urls:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  submitted_urls:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
  /accounts/{account_id}/brand-protection/url-info:
    get:
      operationId: urlInfoBrandProtection
      description: Return submitted URLs based on ID
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-distilled-pagination-class: BrandProtectionURLInfoResponsesSinglePage
  /accounts/{account_id}/brand-protection/logos:
    post:
      operationId: createLogo
      description: Return new saved logo queries created from image files
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: match_type
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: threshold
          in: query
          required: false
          description: Query param
          schema:
            type: number
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary
                  description: Body param
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  tag:
                    type: string
                  upload_path:
                    type: string
  /accounts/{account_id}/brand-protection/logos/{logoId}:
    delete:
      operationId: deleteLogo
      description: Return a success message after deleting saved logo queries by ID
      parameters:
        - name: logoId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
  /accounts/{account_id}/brand-protection/logo-matches:
    get:
      operationId: getLogoMatch
      description: Return matches for logo queries based on ID
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: logo_id
          in: query
          required: false
          description: Query param
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          required: false
          description: Query param
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  total:
                    type: number
  /accounts/{account_id}/brand-protection/logo-matches/download:
    get:
      operationId: downloadLogoMatch
      description: Return matches as CSV for logo queries based on ID
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: logo_id
          in: query
          required: false
          description: Query param
          schema:
            type: array
            items:
              type: string
        - name: offset
          in: query
          required: false
          description: Query param
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  total:
                    type: number
  /accounts/{account_id}/brand-protection/matches:
    get:
      operationId: getMatch
      description: Return matches for string queries based on ID
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: include_domain_id
          in: query
          required: false
          description: Query param
          schema:
            type: boolean
        - name: limit
          in: query
          required: false
          description: Query param
          schema:
            type: number
        - name: offset
          in: query
          required: false
          description: Query param
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  total:
                    type: number
  /accounts/{account_id}/brand-protection/matches/download:
    get:
      operationId: downloadMatch
      description: Return matches as CSV for string queries based on ID
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: include_domain_id
          in: query
          required: false
          description: Query param
          schema:
            type: boolean
        - name: limit
          in: query
          required: false
          description: Query param
          schema:
            type: number
        - name: offset
          in: query
          required: false
          description: Query param
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  total:
                    type: number
  /accounts/{account_id}/brand-protection/queries:
    post:
      operationId: createQuery
      description: Return a success message after creating new saved string queries
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: query_scan
          in: query
          required: false
          description: Query param
          schema:
            type: boolean
        - name: query_tag
          in: query
          required: false
          description: Query param
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                max_time:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                min_time:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                body_scan:
                  type: boolean
                  description: Body param
                string_matches:
                  description: Body param
                body_tag:
                  type: string
                  description: Body param
      responses:
        "200":
          description: Success
    delete:
      operationId: deleteQuery
      description: Return a success message after deleting saved string queries by ID
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: scan
          in: query
          required: false
          description: Query param
          schema:
            type: boolean
        - name: tag
          in: query
          required: false
          description: Query param
          schema:
            type: string
      responses:
        "200":
          description: Success
  /accounts/{account_id}/brand-protection/queries/bulk:
    post:
      operationId: bulkQuery
      description: Return a success message after creating new saved string queries in bulk
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                queries:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  description: Body param
      responses:
        "200":
          description: Success
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/logo/queries:
    get:
      operationId: getV2Logo
      description: Get all saved brand protection logo queries for an account.
        Optionally specify id to get a single query. Set download=true to
        include base64-encoded image data.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: "Query param: Optional query ID to retrieve a specific logo query"
          schema:
            type: string
        - name: download
          in: query
          required: false
          description: "Query param: If true, include base64-encoded image data in the
            response"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: number
                    r2_path:
                      type: string
                    similarity_threshold:
                      type: number
                    tag:
                      type: string
                    uploaded_at:
                      oneOf:
                        - type: string
                      nullable: true
                    content_type:
                      type: string
                      description: MIME type of the image (only present when download=true)
                    image_data:
                      type: string
                      description: Base64-encoded image data (only present when download=true)
                  required:
                    - id
                    - r2_path
                    - similarity_threshold
                    - tag
                    - uploaded_at
    post:
      operationId: createV2Logo
      description: Create a new saved brand protection logo query for visual
        similarity matching
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                image_data:
                  type: string
                  description: "Body param: Base64 encoded image data. Can include data URI prefix
                    (e.g., 'data:image/png;base64,...') or just the base64
                    string."
                similarity_threshold:
                  type: number
                  description: "Body param: Minimum similarity score (0-1) required for visual
                    matches"
                tag:
                  type: string
                  description: "Body param: Unique identifier for the logo query"
                search_lookback:
                  type: boolean
                  description: "Body param: If true, search historic scanned images for matches
                    above the similarity threshold"
              required:
                - image_data
                - similarity_threshold
                - tag
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
                  query_id:
                    type: number
                required:
                  - message
                  - success
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/logo/queries/{queryId}:
    delete:
      operationId: deleteV2Logo
      description: Delete a saved brand protection logo query. Returns 404 if the
        query ID doesn't exist.
      parameters:
        - name: queryId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  success:
                    type: boolean
                required:
                  - message
                  - success
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/logo/matches:
    get:
      operationId: getV2LogoMatch
      description: Get paginated list of logo matches for a specific brand protection
        logo query
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: query_id
          in: query
          required: true
          description: Query param
          schema:
            type: string
        - name: download
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: "Query param: Sort order. Options: 'asc' (ascending) or 'desc'
            (descending)"
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: orderBy
          in: query
          required: false
          description: "Query param: Column to sort by. Options: 'matchedAt', 'domain',
            'similarityScore', or 'registrar'"
          schema:
            type: string
            enum:
              - matchedAt
              - domain
              - similarityScore
              - registrar
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        domain:
                          oneOf:
                            - type: string
                          nullable: true
                        matched_at:
                          oneOf:
                            - type: string
                          nullable: true
                        query_id:
                          type: number
                        registrar:
                          oneOf:
                            - type: string
                          nullable: true
                        similarity_score:
                          type: number
                        url_scan_id:
                          oneOf:
                            - type: string
                          nullable: true
                        content_type:
                          type: string
                        image_data:
                          type: string
                      required:
                        - id
                        - domain
                        - matched_at
                        - query_id
                        - registrar
                        - similarity_score
                        - url_scan_id
                  total:
                    type: number
                required:
                  - matches
                  - total
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/matches:
    get:
      operationId: getV2Match
      description: Get paginated list of domain matches for one or more brand
        protection queries. When multiple query_ids are provided
        (comma-separated), matches are deduplicated across queries and each
        match includes a match_details array with per-match query metadata and
        individual dismissed state.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: query_id
          in: query
          required: true
          description: "Query param: Query ID or comma-separated list of Query IDs. When
            multiple IDs are provided, matches are deduplicated across queries
            and each match includes a match_details array with per-match query
            metadata and dismissed state."
          schema:
            type: array
            items:
              type: string
        - name: domain_search
          in: query
          required: false
          description: "Query param: Filter matches by domain name (substring match)"
          schema:
            type: string
        - name: include_dismissed
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: include_domain_id
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: "Query param: Sort order. Options: 'asc' (ascending) or 'desc'
            (descending)"
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: orderBy
          in: query
          required: false
          description: "Query param: Column to sort by. Options: 'domain', 'first_seen',
            or 'registrar'"
          schema:
            type: string
            enum:
              - domain
              - first_seen
              - registrar
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        domain:
                          type: string
                        first_seen:
                          type: string
                        public_scans:
                          oneOf:
                            - type: object
                              properties:
                                submission_id:
                                  type: string
                              required:
                                - submission_id
                          nullable: true
                        registrar:
                          oneOf:
                            - type: string
                          nullable: true
                        scan_status:
                          type: string
                        scan_submission_id:
                          oneOf:
                            - type: number
                          nullable: true
                        source:
                          oneOf:
                            - type: string
                          nullable: true
                        dismissed:
                          type: boolean
                          description: Whether the match is dismissed. Only present for single-query
                            requests. For multi-query requests, use the
                            dismissed field in each match_details entry.
                        match_details:
                          type: array
                          items:
                            type: object
                            properties:
                              dismissed:
                                type: boolean
                                description: Individual dismissed state for this specific match.
                              match_id:
                                type: number
                              query_id:
                                type: number
                              query_tag:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Tag associated with the query, if one exists.
                            required:
                              - dismissed
                              - match_id
                              - query_id
                              - query_tag
                          description: Per-match detail objects with query metadata and individual
                            dismissed state. Only present when multiple
                            query_ids are requested.
                      required:
                        - domain
                        - first_seen
                        - public_scans
                        - registrar
                        - scan_status
                        - scan_submission_id
                        - source
                  total:
                    type: number
                required:
                  - matches
                  - total
  /accounts/{account_id}/cloudforce-one/v2/brand-protection/domain/queries:
    get:
      operationId: getV2Query
      description: Get all saved brand protection queries for an account
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: Query param
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    created:
                      type: string
                    parameters:
                      oneOf:
                        - type: object
                          properties:
                            string_matches:
                              type: array
                              items:
                                type: object
                                properties:
                                  max_edit_distance:
                                    type: number
                                  pattern:
                                    type: string
                                required:
                                  - max_edit_distance
                                  - pattern
                            max_time:
                              type: string
                            min_time:
                              type: string
                          required:
                            - string_matches
                      nullable: true
                    query_id:
                      type: number
                    query_tag:
                      type: string
                    scan:
                      type: boolean
                    updated:
                      type: string
                  required:
                    - created
                    - parameters
                    - query_id
                    - query_tag
                    - scan
                    - updated
