openapi: 3.1.0
info:
  title: Cloudflare CALLS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: calls
paths:
  /accounts/{account_id}/calls/apps/{appId}:
    get:
      operationId: getSfu
      description: "Fetches details for a single Calls app.  @example ```ts const sfu
        = await client.calls.sfu.get( '2a95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of Calls app, not shown to end users.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-response-path: result
      x-distilled-errors:
        CallsAppNotFound:
          - code: 20007
        Forbidden:
          - status: 403
    put:
      operationId: updateSfu
      description: "Edit details for a single app.  @example ```ts const sfu = await
        client.calls.sfu.update( '2a95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: A short description of Calls app, not shown to end
                    users."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of Calls app, not shown to end users.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-response-path: result
      x-distilled-errors:
        CallsAppNotFound:
          - code: 20007
        Forbidden:
          - status: 403
    delete:
      operationId: deleteSfu
      description: "Deletes an app from Cloudflare Calls  @example ```ts const sfu =
        await client.calls.sfu.delete( '2a95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of Calls app, not shown to end users.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-response-path: result
      x-distilled-errors:
        CallsAppNotFound:
          - code: 20007
        Forbidden:
          - status: 403
  /accounts/{account_id}/calls/apps:
    post:
      operationId: createSfu
      description: "Creates a new Cloudflare calls app. An app is an unique enviroment
        where each Session can access all Tracks within the app.  @example ```ts
        const sfu = await client.calls.sfu.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: A short description of Calls app, not shown to end
                    users."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of Calls app, not shown to end users.
                  secret:
                    type: string
                    description: Bearer token
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-response-path: result
      x-distilled-errors:
        Forbidden:
          - status: 403
    get:
      operationId: listSfus
      description: "Lists all apps in the Cloudflare account  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        sfuListResponse of client.calls.sfu.list({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', })) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of Calls app, not shown to end users.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-pagination-class: SFUListResponsesSinglePage
  /accounts/{account_id}/calls/turn_keys/{keyId}:
    get:
      operationId: getTurn
      description: "Fetches details for a single TURN key.  @example ```ts const turn
        = await client.calls.turn.get( '2a95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of Calls app, not shown to end users.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-response-path: result
      x-distilled-errors:
        TurnKeyNotFound:
          - code: 20008
        Forbidden:
          - status: 403
    put:
      operationId: updateTurn
      description: "Edit details for a single TURN key.  @example ```ts const turn =
        await client.calls.turn.update( '2a95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: A short description of a TURN key, not shown to end
                    users."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of Calls app, not shown to end users.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-response-path: result
      x-distilled-errors:
        TurnKeyNotFound:
          - code: 20008
        Forbidden:
          - status: 403
    delete:
      operationId: deleteTurn
      description: "Deletes a TURN key from Cloudflare Calls  @example ```ts const
        turn = await client.calls.turn.delete(
        '2a95132c15732412d22c1476fa83f27a', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of Calls app, not shown to end users.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-response-path: result
      x-distilled-errors:
        TurnKeyNotFound:
          - code: 20008
        Forbidden:
          - status: 403
  /accounts/{account_id}/calls/turn_keys:
    get:
      operationId: listTurns
      description: "Lists all TURN keys in the Cloudflare account  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        turnListResponse of client.calls.turn.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of Calls app, not shown to end users.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-pagination-class: TURNListResponsesSinglePage
    post:
      operationId: createTurn
      description: "Creates a new Cloudflare Calls TURN key.  @example ```ts const
        turn = await client.calls.turn.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: A short description of a TURN key, not shown to end
                    users."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the item was created.
                  secret:
                    type: string
                    description: Bearer token
                  modified:
                    type: string
                    description: The date and time the item was last modified.
                  name:
                    type: string
                    description: A short description of a TURN key, not shown to end users.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a item.
      x-distilled-response-path: result
      x-distilled-errors:
        Forbidden:
          - status: 403
