openapi: 3.1.0
info:
  title: Cloudflare CUSTOM-PAGES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: custom-pages
paths:
  /{accountOrZone}/{accountOrZoneId}/custom_pages/assets/{assetName}:
    get:
      operationId: getAsset
      parameters:
        - name: assetName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  description: The Account ID to use for this endpoint. Mutually exclusive with
                    the Zone ID.
                zone_id:
                  type: string
                  description: The Zone ID to use for this endpoint. Mutually exclusive with the
                    Account ID.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: A short description of the custom asset.
                  last_updated:
                    type: string
                  name:
                    type: string
                    description: The unique name of the custom asset. Can only contain letters (A-Z,
                      a-z), numbers (0-9), and underscores (\_).
                  size_bytes:
                    type: number
                    description: The size of the asset content in bytes.
                  url:
                    type: string
                    description: The URL where the asset content is fetched from.
      x-distilled-response-path: result
    put:
      operationId: updateAsset
      description: "Updates the configuration of an existing custom asset.  @example
        ```ts const asset = await client.customPages.assets.update(
        'my_custom_error_page', { description: 'Custom 500 error page', url:
        'https://example.com/error.html', account_id: 'account_id', }, ); ```"
      parameters:
        - name: assetName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: "Body param: A short description of the custom asset."
                url:
                  type: string
                  description: "Body param: The URL where the asset content is fetched from."
              required:
                - description
                - url
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: A short description of the custom asset.
                  last_updated:
                    type: string
                  name:
                    type: string
                    description: The unique name of the custom asset. Can only contain letters (A-Z,
                      a-z), numbers (0-9), and underscores (\_).
                  size_bytes:
                    type: number
                    description: The size of the asset content in bytes.
                  url:
                    type: string
                    description: The URL where the asset content is fetched from.
      x-distilled-response-path: result
    delete:
      operationId: deleteAsset
      parameters:
        - name: assetName
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  description: The Account ID to use for this endpoint. Mutually exclusive with
                    the Zone ID.
                zone_id:
                  type: string
                  description: The Zone ID to use for this endpoint. Mutually exclusive with the
                    Account ID.
      responses:
        "200":
          description: Success
  /{accountOrZone}/{accountOrZoneId}/custom_pages/assets:
    get:
      operationId: listAssets
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: A short description of the custom asset.
                  last_updated:
                    type: string
                  name:
                    type: string
                    description: The unique name of the custom asset. Can only contain letters (A-Z,
                      a-z), numbers (0-9), and underscores (\_).
                  size_bytes:
                    type: number
                    description: The size of the asset content in bytes.
                  url:
                    type: string
                    description: The URL where the asset content is fetched from.
      x-distilled-pagination-class: AssetListResponsesV4PagePaginationArray
    post:
      operationId: createAsset
      description: "Creates a new custom asset.  @example ```ts const asset = await
        client.customPages.assets.create({ description: 'Custom 500 error page',
        name: 'my_custom_error_page', url: 'https://example.com/error.html',
        account_id: 'account_id', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: "Body param: A short description of the custom asset."
                name:
                  type: string
                  description: "Body param: The unique name of the custom asset. Can only contain
                    letters (A-Z, a-z), numbers (0-9), and underscores (\\_)."
                url:
                  type: string
                  description: "Body param: The URL where the asset content is fetched from."
              required:
                - description
                - name
                - url
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                    description: A short description of the custom asset.
                  last_updated:
                    type: string
                  name:
                    type: string
                    description: The unique name of the custom asset. Can only contain letters (A-Z,
                      a-z), numbers (0-9), and underscores (\_).
                  size_bytes:
                    type: number
                    description: The size of the asset content in bytes.
                  url:
                    type: string
                    description: The URL where the asset content is fetched from.
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/custom_pages/{identifier}:
    get:
      operationId: getCustomPage
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: string
                  description: The Account ID to use for this endpoint. Mutually exclusive with
                    the Zone ID.
                zone_id:
                  type: string
                  description: The Zone ID to use for this endpoint. Mutually exclusive with the
                    Account ID.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  description:
                    type: string
                  modified_on:
                    type: string
                  preview_target:
                    type: string
                  required_tokens:
                    type: array
                    items:
                      type: string
                  state:
                    type: string
                    enum:
                      - default
                      - customized
                    description: The custom page state.
                  url:
                    type: string
                    description: The URL associated with the custom page.
      x-distilled-response-path: result
    put:
      operationId: putCustomPage
      description: "Updates the configuration of an existing custom page.  @example
        ```ts const customPage = await client.customPages.update(
        'ratelimit_block', { state: 'default', url: 'http://www.example.com',
        account_id: 'account_id', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
        - name: identifier
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                state:
                  type: string
                  enum:
                    - default
                    - customized
                  description: "Body param: The custom page state."
                url:
                  type: string
                  description: "Body param: The URL associated with the custom page."
              required:
                - state
                - url
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  description:
                    type: string
                  modified_on:
                    type: string
                  preview_target:
                    type: string
                  required_tokens:
                    type: array
                    items:
                      type: string
                  state:
                    type: string
                    enum:
                      - default
                      - customized
                    description: The custom page state.
                  url:
                    type: string
                    description: The URL associated with the custom page.
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/custom_pages:
    get:
      operationId: listCustomPages
      parameters:
        - name: account_id
          in: query
          required: false
          description: The Account ID to use for this endpoint. Mutually exclusive with
            the Zone ID.
          schema:
            type: string
        - name: zone_id
          in: query
          required: false
          description: The Zone ID to use for this endpoint. Mutually exclusive with the
            Account ID.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  description:
                    type: string
                  modified_on:
                    type: string
                  preview_target:
                    type: string
                  required_tokens:
                    type: array
                    items:
                      type: string
                  state:
                    type: string
                    enum:
                      - default
                      - customized
                    description: The custom page state.
                  url:
                    type: string
                    description: The URL associated with the custom page.
      x-distilled-pagination-class: CustomPageListResponsesSinglePage
