openapi: 3.1.0
info:
  title: Cloudflare DDOS-PROTECTION API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: ddos-protection
paths:
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist:
    get:
      operationId: listAdvancedTcpProtectionAllowlists
      description: "List all allowlist prefixes for an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        allowlistListResponse of
        client.DDoSProtection.advancedTCPProtection.allowlist.list( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: The direction of ordering (ASC or DESC). Defaults to
            'ASC'."
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: "Query param: The field to order by. Defaults to 'prefix'."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the allowlist prefix.
                  comment:
                    type: string
                    description: An optional comment describing the allowlist prefix.
                  created_on:
                    type: string
                    description: The creation timestamp of the allowlist prefix.
                  enabled:
                    type: boolean
                    description: Whether to enable the allowlist prefix into effect. Defaults to
                      false.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the allowlist prefix.
                  prefix:
                    type: string
                    description: The allowlist prefix in CIDR format.
                required:
                  - id
                  - comment
                  - created_on
                  - enabled
                  - modified_on
                  - prefix
      x-distilled-pagination-class: AllowlistListResponsesV4PagePaginationArray
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    post:
      operationId: createAdvancedTcpProtectionAllowlist
      description: "Create an allowlist prefix for an account.  @example ```ts const
        allowlist = await
        client.DDoSProtection.advancedTCPProtection.allowlist.create( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', comment: 'comment',
        enabled: true, prefix: 'prefix', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: "Body param: An comment describing the allowlist prefix."
                enabled:
                  type: boolean
                  description: "Body param: Whether to enable the allowlist prefix into effect."
                prefix:
                  type: string
                  description: "Body param: The allowlist prefix to add in CIDR format."
              required:
                - comment
                - enabled
                - prefix
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the allowlist prefix.
                  comment:
                    type: string
                    description: An optional comment describing the allowlist prefix.
                  created_on:
                    type: string
                    description: The creation timestamp of the allowlist prefix.
                  enabled:
                    type: boolean
                    description: Whether to enable the allowlist prefix into effect. Defaults to
                      false.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the allowlist prefix.
                  prefix:
                    type: string
                    description: The allowlist prefix in CIDR format.
                required:
                  - id
                  - comment
                  - created_on
                  - enabled
                  - modified_on
                  - prefix
      x-distilled-response-path: result
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    delete:
      operationId: bulkDeleteAdvancedTcpProtectionAllowlists
      description: "Delete all allowlist prefixes for an account.  @example ```ts
        const response = await
        client.DDoSProtection.advancedTCPProtection.allowlist.bulkDelete( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/allowlist/{prefixId}:
    get:
      operationId: getAdvancedTcpProtectionAllowlistItem
      description: "Get an allowlist prefix specified by the given UUID.  @example
        ```ts const item = await
        client.DDoSProtection.advancedTCPProtection.allowlist.items.get(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the allowlist prefix.
                  comment:
                    type: string
                    description: An optional comment describing the allowlist prefix.
                  created_on:
                    type: string
                    description: The creation timestamp of the allowlist prefix.
                  enabled:
                    type: boolean
                    description: Whether to enable the allowlist prefix into effect. Defaults to
                      false.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the allowlist prefix.
                  prefix:
                    type: string
                    description: The allowlist prefix in CIDR format.
                required:
                  - id
                  - comment
                  - created_on
                  - enabled
                  - modified_on
                  - prefix
      x-distilled-response-path: result
      x-distilled-errors:
        AllowlistEntryNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    patch:
      operationId: patchAdvancedTcpProtectionAllowlistItem
      description: "Update an allowlist prefix specified by the given UUID.  @example
        ```ts const response = await
        client.DDoSProtection.advancedTCPProtection.allowlist.items.edit(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: "Body param: A comment describing the allowlist prefix. Optional."
                enabled:
                  type: boolean
                  description: "Body param: Whether to enable the allowlist prefix into effect.
                    Optional."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the allowlist prefix.
                  comment:
                    type: string
                    description: An optional comment describing the allowlist prefix.
                  created_on:
                    type: string
                    description: The creation timestamp of the allowlist prefix.
                  enabled:
                    type: boolean
                    description: Whether to enable the allowlist prefix into effect. Defaults to
                      false.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the allowlist prefix.
                  prefix:
                    type: string
                    description: The allowlist prefix in CIDR format.
                required:
                  - id
                  - comment
                  - created_on
                  - enabled
                  - modified_on
                  - prefix
      x-distilled-response-path: result
      x-distilled-errors:
        AllowlistEntryNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    delete:
      operationId: deleteAdvancedTcpProtectionAllowlistItem
      description: "Delete the allowlist prefix for an account given a UUID.  @example
        ```ts const item = await
        client.DDoSProtection.advancedTCPProtection.allowlist.items.delete(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        AllowlistEntryNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes:
    get:
      operationId: listAdvancedTcpProtectionPrefixes
      description: "List all prefixes for an account.  @example ```ts // Automatically
        fetches more pages as needed. for await (const prefixListResponse of
        client.DDoSProtection.advancedTCPProtection.prefixes.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: The direction of ordering (ASC or DESC). Defaults to
            'ASC'."
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: "Query param: The field to order by. Defaults to 'prefix'."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the prefix.
                  comment:
                    type: string
                    description: A comment describing the prefix.
                  created_on:
                    type: string
                    description: The creation timestamp of the prefix.
                  excluded:
                    type: boolean
                    description: Whether to exclude the prefix from protection.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the prefix.
                  prefix:
                    type: string
                    description: The prefix in CIDR format.
                required:
                  - id
                  - comment
                  - created_on
                  - excluded
                  - modified_on
                  - prefix
      x-distilled-pagination-class: PrefixListResponsesV4PagePaginationArray
    post:
      operationId: createAdvancedTcpProtectionPrefix
      description: "Create a prefix for an account.  @example ```ts const prefix =
        await client.DDoSProtection.advancedTCPProtection.prefixes.create( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', comment: 'comment',
        excluded: true, prefix: '192.0.2.0/24', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: "Body param: A comment describing the prefix."
                excluded:
                  type: boolean
                  description: "Body param: Whether to exclude the prefix from protection."
                prefix:
                  type: string
                  description: "Body param: The prefix to add in CIDR format."
              required:
                - comment
                - excluded
                - prefix
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the prefix.
                  comment:
                    type: string
                    description: A comment describing the prefix.
                  created_on:
                    type: string
                    description: The creation timestamp of the prefix.
                  excluded:
                    type: boolean
                    description: Whether to exclude the prefix from protection.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the prefix.
                  prefix:
                    type: string
                    description: The prefix in CIDR format.
                required:
                  - id
                  - comment
                  - created_on
                  - excluded
                  - modified_on
                  - prefix
      x-distilled-response-path: result
    delete:
      operationId: bulkDeleteAdvancedTcpProtectionPrefixes
      description: "Delete all prefixes for an account.  @example ```ts const response
        = await client.DDoSProtection.advancedTCPProtection.prefixes.bulkDelete(
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/bulk:
    post:
      operationId: bulkCreateAdvancedTcpProtectionPrefixes
      description: "Create multiple prefixes for an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        prefixBulkCreateResponse of
        client.DDoSProtection.advancedTCPProtection.prefixes.bulkCreate( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', body: [ { comment:
        'comment', excluded: true, prefix: '192.0.2.0/24', }, ], }, )) { // ...
        } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  comment:
                    type: string
                    description: A comment describing the prefix.
                  excluded:
                    type: boolean
                    description: Whether to exclude the prefix from protection.
                  prefix:
                    type: string
                    description: The prefix to add in CIDR format.
                required:
                  - comment
                  - excluded
                  - prefix
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the prefix.
                  comment:
                    type: string
                    description: A comment describing the prefix.
                  created_on:
                    type: string
                    description: The creation timestamp of the prefix.
                  excluded:
                    type: boolean
                    description: Whether to exclude the prefix from protection.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the prefix.
                  prefix:
                    type: string
                    description: The prefix in CIDR format.
                required:
                  - id
                  - comment
                  - created_on
                  - excluded
                  - modified_on
                  - prefix
      x-distilled-pagination-class: PrefixBulkCreateResponsesSinglePage
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/prefixes/{prefixId}:
    get:
      operationId: getAdvancedTcpProtectionPrefixItem
      description: "Get a prefix specified by the given UUID.  @example ```ts const
        item = await
        client.DDoSProtection.advancedTCPProtection.prefixes.items.get(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the prefix.
                  comment:
                    type: string
                    description: A comment describing the prefix.
                  created_on:
                    type: string
                    description: The creation timestamp of the prefix.
                  excluded:
                    type: boolean
                    description: Whether to exclude the prefix from protection.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the prefix.
                  prefix:
                    type: string
                    description: The prefix in CIDR format.
                required:
                  - id
                  - comment
                  - created_on
                  - excluded
                  - modified_on
                  - prefix
      x-distilled-response-path: result
    patch:
      operationId: patchAdvancedTcpProtectionPrefixItem
      description: "Update a prefix specified by the given UUID.  @example ```ts const
        response = await
        client.DDoSProtection.advancedTCPProtection.prefixes.items.edit(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: "Body param: A new comment for the prefix. Optional."
                excluded:
                  type: boolean
                  description: "Body param: Whether to exclude the prefix from protection.
                    Optional."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the prefix.
                  comment:
                    type: string
                    description: A comment describing the prefix.
                  created_on:
                    type: string
                    description: The creation timestamp of the prefix.
                  excluded:
                    type: boolean
                    description: Whether to exclude the prefix from protection.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the prefix.
                  prefix:
                    type: string
                    description: The prefix in CIDR format.
                required:
                  - id
                  - comment
                  - created_on
                  - excluded
                  - modified_on
                  - prefix
      x-distilled-response-path: result
    delete:
      operationId: deleteAdvancedTcpProtectionPrefixItem
      description: "Delete the prefix for an account given a UUID.  @example ```ts
        const item = await
        client.DDoSProtection.advancedTCPProtection.prefixes.items.delete(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: prefixId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_protection_status:
    get:
      operationId: getAdvancedTcpProtectionStatus
      description: "Get the protection status of the account.  @example ```ts const
        status = await client.DDoSProtection.advancedTCPProtection.status.get( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                required:
                  - enabled
      x-distilled-response-path: result
    patch:
      operationId: patchAdvancedTcpProtectionStatus
      description: "Update the protection status of the account.  @example ```ts const
        response = await
        client.DDoSProtection.advancedTCPProtection.status.edit( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', enabled: true, }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: Enables or disables protection."
              required:
                - enabled
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                required:
                  - enabled
      x-distilled-response-path: result
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/filters:
    get:
      operationId: listAdvancedTcpProtectionSynProtectionFilters
      description: "List all SYN Protection filters for an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        filterListResponse of
        client.DDoSProtection.advancedTCPProtection.synProtection.filters.list(
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: The direction of ordering (ASC or DESC). Defaults to
            'ASC'."
          schema:
            type: string
        - name: mode
          in: query
          required: false
          description: "Query param: The mode of the filters to get. Optional. Valid
            values: 'enabled', 'disabled', 'monitoring'."
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: "Query param: The field to order by. Defaults to 'prefix'."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the expression filter.
                  created_on:
                    type: string
                    description: The creation timestamp of the expression filter.
                  expression:
                    type: string
                    description: The filter expression.
                  mode:
                    type: string
                    description: The filter's mode. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the expression filter.
                required:
                  - id
                  - created_on
                  - expression
                  - mode
                  - modified_on
      x-distilled-pagination-class: FilterListResponsesV4PagePaginationArray
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    post:
      operationId: createAdvancedTcpProtectionSynProtectionFilter
      description: "Create a SYN Protection filter for an account.  @example ```ts
        const filter = await
        client.DDoSProtection.advancedTCPProtection.synProtection.filters.creat\
        e( { account_id: '023e105f4ecef8ad9ca31a8372d0c353', expression: 'ip.dst
        in { 192.0.2.0/24 198.51.100.0/24 } and tcp.srcport in { 80 443
        10000..65535 }', mode: 'mode', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  description: "Body param: The filter expression."
                mode:
                  type: string
                  description: "Body param: The filter's mode. Must be one of 'enabled',
                    'disabled', 'monitoring'."
              required:
                - expression
                - mode
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the expression filter.
                  created_on:
                    type: string
                    description: The creation timestamp of the expression filter.
                  expression:
                    type: string
                    description: The filter expression.
                  mode:
                    type: string
                    description: The filter's mode. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the expression filter.
                required:
                  - id
                  - created_on
                  - expression
                  - mode
                  - modified_on
      x-distilled-response-path: result
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    delete:
      operationId: bulkDeleteAdvancedTcpProtectionSynProtectionFilters
      description: "Delete all SYN Protection filters for an account.  @example ```ts
        const response = await
        client.DDoSProtection.advancedTCPProtection.synProtection.filters.bulkD\
        elete( { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/filters/{filterId}:
    get:
      operationId: getAdvancedTcpProtectionSynProtectionFilterItem
      description: "Get a SYN Protection filter specified by the given UUID.  @example
        ```ts const item = await
        client.DDoSProtection.advancedTCPProtection.synProtection.filters.items\
        .get( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the expression filter.
                  created_on:
                    type: string
                    description: The creation timestamp of the expression filter.
                  expression:
                    type: string
                    description: The filter expression.
                  mode:
                    type: string
                    description: The filter's mode. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the expression filter.
                required:
                  - id
                  - created_on
                  - expression
                  - mode
                  - modified_on
      x-distilled-response-path: result
      x-distilled-errors:
        SynProtectionFilterNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    patch:
      operationId: patchAdvancedTcpProtectionSynProtectionFilterItem
      description: "Update a SYN Protection filter specified by the given
        UUID.  @example ```ts const response = await
        client.DDoSProtection.advancedTCPProtection.synProtection.filters.items\
        .edit( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  description: "Body param: The new filter expression. Optional."
                mode:
                  type: string
                  description: "Body param: The new mode for the filter. Optional. Must be one of
                    'enabled', 'disabled', 'monitoring'."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the expression filter.
                  created_on:
                    type: string
                    description: The creation timestamp of the expression filter.
                  expression:
                    type: string
                    description: The filter expression.
                  mode:
                    type: string
                    description: The filter's mode. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the expression filter.
                required:
                  - id
                  - created_on
                  - expression
                  - mode
                  - modified_on
      x-distilled-response-path: result
      x-distilled-errors:
        SynProtectionFilterNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    delete:
      operationId: deleteAdvancedTcpProtectionSynProtectionFilterItem
      description: "Delete a SYN Protection filter specified by the given
        UUID.  @example ```ts const item = await
        client.DDoSProtection.advancedTCPProtection.synProtection.filters.items\
        .delete( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        SynProtectionFilterNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/rules:
    get:
      operationId: listAdvancedTcpProtectionSynProtectionRules
      description: "List all SYN Protection rules for an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        ruleListResponse of
        client.DDoSProtection.advancedTCPProtection.synProtection.rules.list( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: The direction of ordering (ASC or DESC). Defaults to
            'ASC'."
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: "Query param: The field to order by. Defaults to 'prefix'."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the SYN Protection rule.
                  burst_sensitivity:
                    type: string
                    description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
                  created_on:
                    type: string
                    description: The creation timestamp of the SYN Protection rule.
                  mitigation_type:
                    type: string
                    description: The type of mitigation for SYN Protection. Must be one of
                      'challenge' or 'retransmit'.
                  mode:
                    type: string
                    description: The mode for SYN Protection. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the SYN Protection rule.
                  name:
                    type: string
                    description: The name of the SYN Protection rule. Value is relative to the
                      'scope' setting. For 'global' scope, name should be
                      'global'. For either the 'region' or 'datacenter' scope,
                      name should be the actual name of the region or
                      datacenter, e.g., 'wnam' or 'lax'.
                  rate_sensitivity:
                    type: string
                    description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
                  scope:
                    type: string
                    description: The scope for the SYN Protection rule. Must be one of 'global',
                      'region', or 'datacenter'.
                required:
                  - id
                  - burst_sensitivity
                  - created_on
                  - mitigation_type
                  - mode
                  - modified_on
                  - name
                  - rate_sensitivity
                  - scope
      x-distilled-pagination-class: RuleListResponsesV4PagePaginationArray
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    post:
      operationId: createAdvancedTcpProtectionSynProtectionRule
      description: "Create a SYN Protection rule for an account.  @example ```ts const
        rule = await
        client.DDoSProtection.advancedTCPProtection.synProtection.rules.create(
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353', burst_sensitivity:
        'burst_sensitivity', mode: 'mode', name: 'name', rate_sensitivity:
        'rate_sensitivity', scope: 'scope', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                burst_sensitivity:
                  type: string
                  description: "Body param: The burst sensitivity. Must be one of 'low', 'medium',
                    'high'."
                mode:
                  type: string
                  description: "Body param: The mode for SYN Protection. Must be one of 'enabled',
                    'disabled', 'monitoring'."
                name:
                  type: string
                  description: "Body param: The name of the SYN Protection rule. Value is relative
                    to the 'scope' setting. For 'global' scope, name should be
                    'global'. For either the 'region' or 'datacenter' scope,
                    name should be the actual name of the region or datacenter,
                    e.g., 'wnam' or 'lax'."
                rate_sensitivity:
                  type: string
                  description: "Body param: The rate sensitivity. Must be one of 'low', 'medium',
                    'high'."
                scope:
                  type: string
                  description: "Body param: The scope for the SYN Protection rule. Must be one of
                    'global', 'region', or 'datacenter'."
                mitigation_type:
                  type: string
                  description: "Body param: The type of mitigation. Must be one of 'challenge' or
                    'retransmit'. Optional. Defaults to 'challenge'."
              required:
                - burst_sensitivity
                - mode
                - name
                - rate_sensitivity
                - scope
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the SYN Protection rule.
                  burst_sensitivity:
                    type: string
                    description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
                  created_on:
                    type: string
                    description: The creation timestamp of the SYN Protection rule.
                  mitigation_type:
                    type: string
                    description: The type of mitigation for SYN Protection. Must be one of
                      'challenge' or 'retransmit'.
                  mode:
                    type: string
                    description: The mode for SYN Protection. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the SYN Protection rule.
                  name:
                    type: string
                    description: The name of the SYN Protection rule. Value is relative to the
                      'scope' setting. For 'global' scope, name should be
                      'global'. For either the 'region' or 'datacenter' scope,
                      name should be the actual name of the region or
                      datacenter, e.g., 'wnam' or 'lax'.
                  rate_sensitivity:
                    type: string
                    description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
                  scope:
                    type: string
                    description: The scope for the SYN Protection rule. Must be one of 'global',
                      'region', or 'datacenter'.
                required:
                  - id
                  - burst_sensitivity
                  - created_on
                  - mitigation_type
                  - mode
                  - modified_on
                  - name
                  - rate_sensitivity
                  - scope
      x-distilled-response-path: result
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    delete:
      operationId: bulkDeleteAdvancedTcpProtectionSynProtectionRules
      description: "Delete all SYN Protection rules for an account.  @example ```ts
        const response = await
        client.DDoSProtection.advancedTCPProtection.synProtection.rules.bulkDel\
        ete( { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/syn_protection/rules/{ruleId}:
    get:
      operationId: getAdvancedTcpProtectionSynProtectionRuleItem
      description: "Get a SYN Protection rule specified by the given UUID.  @example
        ```ts const item = await
        client.DDoSProtection.advancedTCPProtection.synProtection.rules.items.g\
        et( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the SYN Protection rule.
                  burst_sensitivity:
                    type: string
                    description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
                  created_on:
                    type: string
                    description: The creation timestamp of the SYN Protection rule.
                  mitigation_type:
                    type: string
                    description: The type of mitigation for SYN Protection. Must be one of
                      'challenge' or 'retransmit'.
                  mode:
                    type: string
                    description: The mode for SYN Protection. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the SYN Protection rule.
                  name:
                    type: string
                    description: The name of the SYN Protection rule. Value is relative to the
                      'scope' setting. For 'global' scope, name should be
                      'global'. For either the 'region' or 'datacenter' scope,
                      name should be the actual name of the region or
                      datacenter, e.g., 'wnam' or 'lax'.
                  rate_sensitivity:
                    type: string
                    description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
                  scope:
                    type: string
                    description: The scope for the SYN Protection rule. Must be one of 'global',
                      'region', or 'datacenter'.
                required:
                  - id
                  - burst_sensitivity
                  - created_on
                  - mitigation_type
                  - mode
                  - modified_on
                  - name
                  - rate_sensitivity
                  - scope
      x-distilled-response-path: result
      x-distilled-errors:
        SynProtectionRuleNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    patch:
      operationId: patchAdvancedTcpProtectionSynProtectionRuleItem
      description: "Update a SYN Protection rule specified by the given
        UUID.  @example ```ts const response = await
        client.DDoSProtection.advancedTCPProtection.synProtection.rules.items.e\
        dit( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                burst_sensitivity:
                  type: string
                  description: "Body param: The new burst sensitivity. Optional. Must be one of
                    'low', 'medium', 'high'."
                mitigation_type:
                  type: string
                  description: "Body param: The new mitigation type. Optional. Must be one of
                    'challenge' or 'retransmit'."
                mode:
                  type: string
                  description: "Body param: The new mode for SYN Protection. Optional. Must be one
                    of 'enabled', 'disabled', 'monitoring'."
                rate_sensitivity:
                  type: string
                  description: "Body param: The new rate sensitivity. Optional. Must be one of
                    'low', 'medium', 'high'."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the SYN Protection rule.
                  burst_sensitivity:
                    type: string
                    description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
                  created_on:
                    type: string
                    description: The creation timestamp of the SYN Protection rule.
                  mitigation_type:
                    type: string
                    description: The type of mitigation for SYN Protection. Must be one of
                      'challenge' or 'retransmit'.
                  mode:
                    type: string
                    description: The mode for SYN Protection. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the SYN Protection rule.
                  name:
                    type: string
                    description: The name of the SYN Protection rule. Value is relative to the
                      'scope' setting. For 'global' scope, name should be
                      'global'. For either the 'region' or 'datacenter' scope,
                      name should be the actual name of the region or
                      datacenter, e.g., 'wnam' or 'lax'.
                  rate_sensitivity:
                    type: string
                    description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
                  scope:
                    type: string
                    description: The scope for the SYN Protection rule. Must be one of 'global',
                      'region', or 'datacenter'.
                required:
                  - id
                  - burst_sensitivity
                  - created_on
                  - mitigation_type
                  - mode
                  - modified_on
                  - name
                  - rate_sensitivity
                  - scope
      x-distilled-response-path: result
      x-distilled-errors:
        SynProtectionRuleNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    delete:
      operationId: deleteAdvancedTcpProtectionSynProtectionRuleItem
      description: "Delete a SYN Protection rule specified by the given
        UUID.  @example ```ts const item = await
        client.DDoSProtection.advancedTCPProtection.synProtection.rules.items.d\
        elete( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        SynProtectionRuleNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters:
    get:
      operationId: listAdvancedTcpProtectionTcpFlowProtectionFilters
      description: "List all TCP Flow Protection filters for an account.  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        filterListResponse of
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.filters.l\
        ist( { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... }
        ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: The direction of ordering (ASC or DESC). Defaults to
            'ASC'."
          schema:
            type: string
        - name: mode
          in: query
          required: false
          description: "Query param: The mode of the filters to get. Optional. Valid
            values: 'enabled', 'disabled', 'monitoring'."
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: "Query param: The field to order by. Defaults to 'prefix'."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the expression filter.
                  created_on:
                    type: string
                    description: The creation timestamp of the expression filter.
                  expression:
                    type: string
                    description: The filter expression.
                  mode:
                    type: string
                    description: The filter's mode. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the expression filter.
                required:
                  - id
                  - created_on
                  - expression
                  - mode
                  - modified_on
      x-distilled-pagination-class: FilterListResponsesV4PagePaginationArray
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    post:
      operationId: createAdvancedTcpProtectionTcpFlowProtectionFilter
      description: "Create a TCP Flow Protection filter for an account.  @example
        ```ts const filter = await
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.filters.c\
        reate( { account_id: '023e105f4ecef8ad9ca31a8372d0c353', expression:
        'ip.dst in { 192.0.2.0/24 198.51.100.0/24 } and tcp.srcport in { 80 443
        10000..65535 }', mode: 'mode', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  description: "Body param: The filter expression."
                mode:
                  type: string
                  description: "Body param: The filter's mode. Must be one of 'enabled',
                    'disabled', 'monitoring'."
              required:
                - expression
                - mode
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the expression filter.
                  created_on:
                    type: string
                    description: The creation timestamp of the expression filter.
                  expression:
                    type: string
                    description: The filter expression.
                  mode:
                    type: string
                    description: The filter's mode. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the expression filter.
                required:
                  - id
                  - created_on
                  - expression
                  - mode
                  - modified_on
      x-distilled-response-path: result
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    delete:
      operationId: bulkDeleteAdvancedTcpProtectionTcpFlowProtectionFilters
      description: "Delete all TCP Flow Protection filters for an account.  @example
        ```ts const response = await
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.filters.b\
        ulkDelete( { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/filters/{filterId}:
    get:
      operationId: getAdvancedTcpProtectionTcpFlowProtectionFilterItem
      description: "Get a TCP Flow Protection filter specified by the given
        UUID.  @example ```ts const item = await
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.filters.i\
        tems.get( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the expression filter.
                  created_on:
                    type: string
                    description: The creation timestamp of the expression filter.
                  expression:
                    type: string
                    description: The filter expression.
                  mode:
                    type: string
                    description: The filter's mode. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the expression filter.
                required:
                  - id
                  - created_on
                  - expression
                  - mode
                  - modified_on
      x-distilled-response-path: result
      x-distilled-errors:
        TcpFlowProtectionFilterNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    patch:
      operationId: patchAdvancedTcpProtectionTcpFlowProtectionFilterItem
      description: "Update a TCP Flow Protection filter specified by the given
        UUID.  @example ```ts const response = await
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.filters.i\
        tems.edit( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                expression:
                  type: string
                  description: "Body param: The new filter expression. Optional."
                mode:
                  type: string
                  description: "Body param: The new mode for the filter. Optional. Must be one of
                    'enabled', 'disabled', 'monitoring'."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the expression filter.
                  created_on:
                    type: string
                    description: The creation timestamp of the expression filter.
                  expression:
                    type: string
                    description: The filter expression.
                  mode:
                    type: string
                    description: The filter's mode. Must be one of 'enabled', 'disabled',
                      'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the expression filter.
                required:
                  - id
                  - created_on
                  - expression
                  - mode
                  - modified_on
      x-distilled-response-path: result
      x-distilled-errors:
        TcpFlowProtectionFilterNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    delete:
      operationId: deleteAdvancedTcpProtectionTcpFlowProtectionFilterItem
      description: "Delete a TCP Flow Protection filter specified by the given
        UUID.  @example ```ts const item = await
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.filters.i\
        tems.delete( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        TcpFlowProtectionFilterNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/rules:
    get:
      operationId: listAdvancedTcpProtectionTcpFlowProtectionRules
      description: "List all TCP Flow Protection rules for an account.  @example ```ts
        // Automatically fetches more pages as needed. for await (const
        ruleListResponse of
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.rules.lis\
        t( { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... }
        ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: The direction of ordering (ASC or DESC). Defaults to
            'ASC'."
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: "Query param: The field to order by. Defaults to 'prefix'."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the TCP Flow Protection rule.
                  burst_sensitivity:
                    type: string
                    description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
                  created_on:
                    type: string
                    description: The creation timestamp of the TCP Flow Protection rule.
                  mode:
                    type: string
                    description: The mode for TCP Flow Protection. Must be one of 'enabled',
                      'disabled', 'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the TCP Flow Protection rule.
                  name:
                    type: string
                    description: The name of the TCP Flow Protection rule. Value is relative to the
                      'scope' setting. For 'global' scope, name should be
                      'global'. For either the 'region' or 'datacenter' scope,
                      name should be the actual name of the region or
                      datacenter, e.g., 'wnam' or 'lax'.
                  rate_sensitivity:
                    type: string
                    description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
                  scope:
                    type: string
                    description: The scope for the TCP Flow Protection rule. Must be one of
                      'global', 'region', or 'datacenter'.
                required:
                  - id
                  - burst_sensitivity
                  - created_on
                  - mode
                  - modified_on
                  - name
                  - rate_sensitivity
                  - scope
      x-distilled-pagination-class: RuleListResponsesV4PagePaginationArray
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    post:
      operationId: createAdvancedTcpProtectionTcpFlowProtectionRule
      description: "Create a TCP Flow Protection rule for an account.  @example ```ts
        const rule = await
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.rules.cre\
        ate( { account_id: '023e105f4ecef8ad9ca31a8372d0c353',
        burst_sensitivity: 'burst_sensitivity', mode: 'mode', name: 'name',
        rate_sensitivity: 'rate_sensitivity', scope: 'scope', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                burst_sensitivity:
                  type: string
                  description: "Body param: The burst sensitivity. Must be one of 'low', 'medium',
                    'high'."
                mode:
                  type: string
                  description: "Body param: The mode for the TCP Flow Protection. Must be one of
                    'enabled', 'disabled', 'monitoring'."
                name:
                  type: string
                  description: "Body param: The name of the TCP Flow Protection rule. Value is
                    relative to the 'scope' setting. For 'global' scope, name
                    should be 'global'. For either the 'region' or 'datacenter'
                    scope, name should be the actual name of the region or
                    datacenter, e.g., 'wnam' or 'lax'."
                rate_sensitivity:
                  type: string
                  description: "Body param: The rate sensitivity. Must be one of 'low', 'medium',
                    'high'."
                scope:
                  type: string
                  description: "Body param: The scope for the TCP Flow Protection rule."
              required:
                - burst_sensitivity
                - mode
                - name
                - rate_sensitivity
                - scope
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the TCP Flow Protection rule.
                  burst_sensitivity:
                    type: string
                    description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
                  created_on:
                    type: string
                    description: The creation timestamp of the TCP Flow Protection rule.
                  mode:
                    type: string
                    description: The mode for TCP Flow Protection. Must be one of 'enabled',
                      'disabled', 'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the TCP Flow Protection rule.
                  name:
                    type: string
                    description: The name of the TCP Flow Protection rule. Value is relative to the
                      'scope' setting. For 'global' scope, name should be
                      'global'. For either the 'region' or 'datacenter' scope,
                      name should be the actual name of the region or
                      datacenter, e.g., 'wnam' or 'lax'.
                  rate_sensitivity:
                    type: string
                    description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
                  scope:
                    type: string
                    description: The scope for the TCP Flow Protection rule. Must be one of
                      'global', 'region', or 'datacenter'.
                required:
                  - id
                  - burst_sensitivity
                  - created_on
                  - mode
                  - modified_on
                  - name
                  - rate_sensitivity
                  - scope
      x-distilled-response-path: result
      x-distilled-errors:
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    delete:
      operationId: bulkDeleteAdvancedTcpProtectionTcpFlowProtectionRules
      description: "Delete all TCP Flow Protection rules for an account.  @example
        ```ts const response = await
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.rules.bul\
        kDelete( { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
  /accounts/{account_id}/magic/advanced_tcp_protection/configs/tcp_flow_protection/rules/{ruleId}:
    get:
      operationId: getAdvancedTcpProtectionTcpFlowProtectionRuleItem
      description: "Get a TCP Flow Protection rule specified by the given
        UUID.  @example ```ts const item = await
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.rules.ite\
        ms.get( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the TCP Flow Protection rule.
                  burst_sensitivity:
                    type: string
                    description: The burst sensitivity. Must be one of 'low', 'medium', 'high'.
                  created_on:
                    type: string
                    description: The creation timestamp of the TCP Flow Protection rule.
                  mode:
                    type: string
                    description: The mode for TCP Flow Protection. Must be one of 'enabled',
                      'disabled', 'monitoring'.
                  modified_on:
                    type: string
                    description: The last modification timestamp of the TCP Flow Protection rule.
                  name:
                    type: string
                    description: The name of the TCP Flow Protection rule. Value is relative to the
                      'scope' setting. For 'global' scope, name should be
                      'global'. For either the 'region' or 'datacenter' scope,
                      name should be the actual name of the region or
                      datacenter, e.g., 'wnam' or 'lax'.
                  rate_sensitivity:
                    type: string
                    description: The rate sensitivity. Must be one of 'low', 'medium', 'high'.
                  scope:
                    type: string
                    description: The scope for the TCP Flow Protection rule. Must be one of
                      'global', 'region', or 'datacenter'.
                required:
                  - id
                  - burst_sensitivity
                  - created_on
                  - mode
                  - modified_on
                  - name
                  - rate_sensitivity
                  - scope
      x-distilled-response-path: result
      x-distilled-errors:
        TcpFlowProtectionRuleNotFound:
          - status: 404
        AdvancedTcpProtectionNotEntitled:
          - code: 8888
        Forbidden:
          - status: 403
    patch:
      operationId: patchAdvancedTcpProtectionTcpFlowProtectionRuleItem
      description: "Update a TCP Flow Protection rule specified by the given
        UUID.  @example ```ts const response = await
        client.DDoSProtection.advancedTCPProtection.tcpFlowProtection.rules.ite\
        ms.edit( 'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
[...]
