openapi: 3.1.0
info:
  title: Cloudflare DLS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: dls
paths:
  /accounts/{account_id}/dls/regions/{regionId}:
    get:
      operationId: getRegion
      description: "Get a DLS region  @example ```ts const region = await
        client.dls.regions.get( 'a1b2c3d4-e5f6-7890-abcd-ef1234567890', {
        account_id: 0 }, ); ```"
      parameters:
        - name: regionId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  modified_on:
                    type: string
                  name:
                    type: string
                  region_key:
                    type: string
                  version:
                    type: number
                  version_created_on:
                    type: string
                required:
                  - id
                  - created_on
                  - modified_on
                  - name
                  - region_key
                  - version
                  - version_created_on
      x-distilled-response-path: result
  /accounts/{account_id}/dls/regions:
    get:
      operationId: listRegions
      description: "List DLS regions for an account  @example ```ts // Automatically
        fetches more pages as needed. for await (const regionListResponse of
        client.dls.regions.list( { account_id: 0 }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Query param: Filter regions by type. Omit to return all regions."
          schema:
            type: string
            enum:
              - managed
              - custom
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  modified_on:
                    type: string
                  name:
                    type: string
                  region_key:
                    type: string
                  version:
                    type: number
                  version_created_on:
                    type: string
                required:
                  - id
                  - created_on
                  - modified_on
                  - name
                  - region_key
                  - version
                  - version_created_on
      x-distilled-pagination-class: RegionListResponsesCursorPagination
  /accounts/{account_id}/dls/regional_services/prefix_bindings/{bindingId}:
    get:
      operationId: getRegionalServicePrefixBinding
      description: "Get a DLS prefix binding  @example ```ts const prefixBinding =
        await client.dls.regionalServices.prefixBindings.get(
        'a1b2c3d4-e5f6-7890-abcd-ef1234567890', { account_id: 0 }, ); ```"
      parameters:
        - name: bindingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the binding.
                  cidr:
                    type: string
                    description: The CIDR that is bound.
                  prefix_id:
                    type: string
                    description: The ID of the parent prefix.
                  region_key:
                    type: string
                    description: The region key used for the binding.
                required:
                  - id
                  - cidr
                  - prefix_id
                  - region_key
      x-distilled-response-path: result
    patch:
      operationId: patchRegionalServicePrefixBinding
      description: "Update a DLS prefix binding  @example ```ts const response = await
        client.dls.regionalServices.prefixBindings.edit(
        'a1b2c3d4-e5f6-7890-abcd-ef1234567890', { account_id: 0, region_key:
        'eu' }, ); ```"
      parameters:
        - name: bindingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                region_key:
                  type: string
                  description: 'Body param: New region key to assign (e.g., "us", "eu",
                    "cfcanary").'
              required:
                - region_key
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the binding.
                  cidr:
                    type: string
                    description: The CIDR that is bound.
                  prefix_id:
                    type: string
                    description: The ID of the parent prefix.
                  region_key:
                    type: string
                    description: The region key used for the binding.
                required:
                  - id
                  - cidr
                  - prefix_id
                  - region_key
      x-distilled-response-path: result
    delete:
      operationId: deleteRegionalServicePrefixBinding
      description: "Delete a DLS prefix binding  @example ```ts const prefixBinding =
        await client.dls.regionalServices.prefixBindings.delete(
        'a1b2c3d4-e5f6-7890-abcd-ef1234567890', { account_id: 0 }, ); ```"
      parameters:
        - name: bindingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                required:
                  - messages
                  - success
  /accounts/{account_id}/dls/regional_services/prefix_bindings:
    get:
      operationId: listRegionalServicePrefixBindings
      description: "List DLS prefix bindings for an account  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        prefixBindingListResponse of
        client.dls.regionalServices.prefixBindings.list( { account_id: 0 }, )) {
        // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the binding.
                  cidr:
                    type: string
                    description: The CIDR that is bound.
                  prefix_id:
                    type: string
                    description: The ID of the parent prefix.
                  region_key:
                    type: string
                    description: The region key used for the binding.
                required:
                  - id
                  - cidr
                  - prefix_id
                  - region_key
      x-distilled-pagination-class: PrefixBindingListResponsesCursorPagination
    post:
      operationId: createRegionalServicePrefixBinding
      description: "Create a DLS prefix binding  @example ```ts const prefixBinding =
        await client.dls.regionalServices.prefixBindings.create({ account_id: 0,
        cidr: '10.0.1.0/24', prefix_id: 'a1b2c3d4-e5f6-7890-abcd-ef1234567890',
        region_key: 'eu', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cidr:
                  type: string
                  description: "Body param: IP prefix in CIDR notation to bind."
                prefix_id:
                  type: string
                  description: "Body param: The ID of the parent IP prefix that contains the
                    CIDR."
                region_key:
                  type: string
                  description: 'Body param: Region key from managed regions (e.g., "us", "eu").'
              required:
                - cidr
                - prefix_id
                - region_key
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the binding.
                  cidr:
                    type: string
                    description: The CIDR that is bound.
                  prefix_id:
                    type: string
                    description: The ID of the parent prefix.
                  region_key:
                    type: string
                    description: The region key used for the binding.
                required:
                  - id
                  - cidr
                  - prefix_id
                  - region_key
      x-distilled-response-path: result
