openapi: 3.1.0
info:
  title: Cloudflare DNS-FIREWALL API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: dns-firewall
paths:
  /accounts/{account_id}/dns_firewall/{dnsFirewallId}/dns_analytics/report:
    get:
      operationId: getAnalyticReport
      description: "Retrieves a list of summarised aggregate metrics over a given time
        period.  See [Analytics API
        properties](https://developers.cloudflare.com/dns/reference/analytics-a\
        pi-properties/) for detailed information about the available query
        parameters.  @example ```ts const report = await
        client.dnsFirewall.analytics.reports.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dnsFirewallId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: dimensions
          in: query
          required: false
          description: "Query param: A comma-separated list of dimensions to group results
            by."
          schema:
            type: string
        - name: filters
          in: query
          required: false
          description: "Query param: Segmentation filter in 'attribute operator value'
            format."
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param: Limit number of returned metrics."
          schema:
            type: number
        - name: metrics
          in: query
          required: false
          description: "Query param: A comma-separated list of metrics to query."
          schema:
            type: string
        - name: since
          in: query
          required: false
          description: "Query param: Start date and time of requesting data period in ISO
            8601 format."
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: "Query param: A comma-separated list of dimensions to sort by,
            where each dimension may be prefixed by - (descending) or +
            (ascending)."
          schema:
            type: string
        - name: until
          in: query
          required: false
          description: "Query param: End date and time of requesting data period in ISO
            8601 format."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        dimensions:
                          type: array
                          items:
                            type: string
                          description: Array of dimension values, representing the combination of
                            dimension values corresponding to this row.
                        metrics:
                          type: array
                          items:
                            type: number
                          description: Array with one item per requested metric. Each item is a single
                            value.
                      required:
                        - dimensions
                        - metrics
                    description: Array with one row per combination of dimension values.
                  data_lag:
                    type: number
                    description: Number of seconds between current time and last processed event, in
                      another words how many seconds of data could be missing.
                  max:
                    description: Maximum results for each metric (object mapping metric names to
                      values). Currently always an empty object.
                  min:
                    description: Minimum results for each metric (object mapping metric names to
                      values). Currently always an empty object.
                  query:
                    type: object
                    properties:
                      dimensions:
                        type: array
                        items:
                          type: string
                        description: Array of dimension names.
                      limit:
                        type: number
                        description: Limit number of returned metrics.
                      metrics:
                        type: array
                        items:
                          type: string
                        description: Array of metric names.
                      since:
                        type: string
                        description: Start date and time of requesting data period in ISO 8601 format.
                      until:
                        type: string
                        description: End date and time of requesting data period in ISO 8601 format.
                      filters:
                        type: string
                        description: Segmentation filter in 'attribute operator value' format.
                      sort:
                        type: array
                        items:
                          type: string
                        description: Array of dimensions to sort by, where each dimension may be
                          prefixed by - (descending) or + (ascending).
                    required:
                      - dimensions
                      - limit
                      - metrics
                      - since
                      - until
                  rows:
                    type: number
                    description: Total number of rows in the result.
                  totals:
                    description: Total results for metrics across all data (object mapping metric
                      names to values).
                required:
                  - data
                  - data_lag
                  - max
                  - min
                  - query
                  - rows
                  - totals
      x-distilled-response-path: result
  /accounts/{account_id}/dns_firewall/{dnsFirewallId}/dns_analytics/report/bytime:
    get:
      operationId: getAnalyticReportBytime
      description: "Retrieves a list of aggregate metrics grouped by time
        interval.  See [Analytics API
        properties](https://developers.cloudflare.com/dns/reference/analytics-a\
        pi-properties/) for detailed information about the available query
        parameters.  @example ```ts const byTime = await
        client.dnsFirewall.analytics.reports.bytimes.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dnsFirewallId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: dimensions
          in: query
          required: false
          description: "Query param: A comma-separated list of dimensions to group results
            by."
          schema:
            type: string
        - name: filters
          in: query
          required: false
          description: "Query param: Segmentation filter in 'attribute operator value'
            format."
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param: Limit number of returned metrics."
          schema:
            type: number
        - name: metrics
          in: query
          required: false
          description: "Query param: A comma-separated list of metrics to query."
          schema:
            type: string
        - name: since
          in: query
          required: false
          description: "Query param: Start date and time of requesting data period in ISO
            8601 format."
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: "Query param: A comma-separated list of dimensions to sort by,
            where each dimension may be prefixed by - (descending) or +
            (ascending)."
          schema:
            type: string
        - name: time_delta
          in: query
          required: false
          description: "Query param: Unit of time to group data by."
          schema:
            type: string
            enum:
              - all
              - auto
              - year
              - quarter
              - month
              - week
              - day
              - hour
              - dekaminute
              - minute
        - name: until
          in: query
          required: false
          description: "Query param: End date and time of requesting data period in ISO
            8601 format."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        dimensions:
                          type: array
                          items:
                            type: string
                          description: Array of dimension values, representing the combination of
                            dimension values corresponding to this row.
                        metrics:
                          type: array
                          items:
                            type: array
                            items:
                              type: number
                          description: Array with one item per requested metric. Each item is an array of
                            values, broken down by time interval.
                      required:
                        - dimensions
                        - metrics
                    description: Array with one row per combination of dimension values.
                  data_lag:
                    type: number
                    description: Number of seconds between current time and last processed event, in
                      another words how many seconds of data could be missing.
                  max:
                    description: Maximum results for each metric (object mapping metric names to
                      values). Currently always an empty object.
                  min:
                    description: Minimum results for each metric (object mapping metric names to
                      values). Currently always an empty object.
                  query:
                    type: object
                    properties:
                      dimensions:
                        type: array
                        items:
                          type: string
                        description: Array of dimension names.
                      limit:
                        type: number
                        description: Limit number of returned metrics.
                      metrics:
                        type: array
                        items:
                          type: string
                        description: Array of metric names.
                      since:
                        type: string
                        description: Start date and time of requesting data period in ISO 8601 format.
                      time_delta:
                        type: string
                        enum:
                          - all
                          - auto
                          - year
                          - quarter
                          - month
                          - week
                          - day
                          - hour
                          - dekaminute
                          - minute
                        description: Unit of time to group data by.
                      until:
                        type: string
                        description: End date and time of requesting data period in ISO 8601 format.
                      filters:
                        type: string
                        description: Segmentation filter in 'attribute operator value' format.
                      sort:
                        type: array
                        items:
                          type: string
                        description: Array of dimensions to sort by, where each dimension may be
                          prefixed by - (descending) or + (ascending).
                    required:
                      - dimensions
                      - limit
                      - metrics
                      - since
                      - time_delta
                      - until
                  rows:
                    type: number
                    description: Total number of rows in the result.
                  time_intervals:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                    description: "Array of time intervals in the response data. Each interval is
                      represented as an array containing two values: the start
                      time, and the end time."
                  totals:
                    description: Total results for metrics across all data (object mapping metric
                      names to values).
                required:
                  - data
                  - data_lag
                  - max
                  - min
                  - query
                  - rows
                  - time_intervals
                  - totals
      x-distilled-response-path: result
  /accounts/{account_id}/dns_firewall/{dnsFirewallId}:
    get:
      operationId: getDnsFirewall
      description: "Show a single DNS Firewall cluster for an account  @example ```ts
        const dnsFirewall = await client.dnsFirewall.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dnsFirewallId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  deprecate_any_requests:
                    type: boolean
                    description: Whether to refuse to answer queries for the ANY type
                  dns_firewall_ips:
                    type: array
                    items:
                      type: string
                  ecs_fallback:
                    type: boolean
                    description: Whether to forward client IP (resolver) subnet if no EDNS Client
                      Subnet is sent
                  maximum_cache_ttl:
                    type: number
                    description: By default, Cloudflare attempts to cache responses for as long as
                      indicated by the TTL received from upstream nameservers.
                      This setting sets an upper bound on this duration. For
                      caching purposes, higher TTLs will be decreased to the
                      maximum value defined by this setting.  This setting does
                      not affect the TTL value in the DNS response Cloudflare
                      returns to clients. Cloudflare will always forward the TTL
                      value received from upstream nameservers.
                  minimum_cache_ttl:
                    type: number
                    description: By default, Cloudflare attempts to cache responses for as long as
                      indicated by the TTL received from upstream nameservers.
                      This setting sets a lower bound on this duration. For
                      caching purposes, lower TTLs will be increased to the
                      minimum value defined by this setting.  This setting does
                      not affect the TTL value in the DNS response Cloudflare
                      returns to clients. Cloudflare will always forward the TTL
                      value received from upstream nameservers.  Note that, even
                      with this setting, there is no guarantee that a response
                      will be cached for at least the specified duration. Cached
                      responses may be removed earlier for capacity or other
                      operational reasons.
                  modified_on:
                    type: string
                    description: Last modification of DNS Firewall cluster
                  name:
                    type: string
                    description: DNS Firewall cluster name
                  negative_cache_ttl:
                    oneOf:
                      - type: number
                    nullable: true
                    description: This setting controls how long DNS Firewall should cache negative
                      responses (e.g., NXDOMAIN) from the upstream
                      servers.  This setting does not affect the TTL value in
                      the DNS response Cloudflare returns to clients. Cloudflare
                      will always forward the TTL value received from upstream
                      nameservers.
                  ratelimit:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Ratelimit in queries per second per datacenter (applies to DNS
                      queries sent to the upstream nameservers configured on the
                      cluster)
                  retries:
                    type: number
                    description: Number of retries for fetching DNS responses from upstream
                      nameservers (not counting the initial attempt)
                  upstream_ips:
                    type: array
                    items:
                      type: string
                  attack_mitigation:
                    oneOf:
                      - type: object
                        properties:
                          enabled:
                            type: boolean
                            description: When enabled, automatically mitigate random-prefix attacks to
                              protect upstream DNS servers
                          only_when_upstream_unhealthy:
                            type: boolean
                            description: Only mitigate attacks when upstream servers seem unhealthy
                    nullable: true
                    description: Attack mitigation settings
                required:
                  - id
                  - deprecate_any_requests
                  - dns_firewall_ips
                  - ecs_fallback
                  - maximum_cache_ttl
                  - minimum_cache_ttl
                  - modified_on
                  - name
                  - negative_cache_ttl
                  - ratelimit
                  - retries
                  - upstream_ips
      x-distilled-response-path: result
    patch:
      operationId: patchDnsFirewall
      description: "Modify the configuration of a DNS Firewall cluster  @example ```ts
        const response = await client.dnsFirewall.edit(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dnsFirewallId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                attack_mitigation:
                  oneOf:
                    - type: object
                      properties:
                        enabled:
                          type: boolean
                          description: When enabled, automatically mitigate random-prefix attacks to
                            protect upstream DNS servers
                        only_when_upstream_unhealthy:
                          type: boolean
                          description: Only mitigate attacks when upstream servers seem unhealthy
                  nullable: true
                  description: "Body param: Attack mitigation settings"
                deprecate_any_requests:
                  type: boolean
                  description: "Body param: Whether to refuse to answer queries for the ANY type"
                ecs_fallback:
                  type: boolean
                  description: "Body param: Whether to forward client IP (resolver) subnet if no
                    EDNS Client Subnet is sent"
                maximum_cache_ttl:
                  type: number
                  description: "Body param: By default, Cloudflare attempts to cache responses for
                    as long as indicated by the TTL received from upstream
                    nameservers. This setting sets an upper bound on this
                    duration. For caching purposes, higher TTLs will be
                    decreased to the maximum value defined by this
                    setting.  This setting does not affect the TTL value in the
                    DNS response Cloudflare returns to clients. Cloudflare will
                    always forward the TTL value received from upstream
                    nameservers."
                minimum_cache_ttl:
                  type: number
                  description: "Body param: By default, Cloudflare attempts to cache responses for
                    as long as indicated by the TTL received from upstream
                    nameservers. This setting sets a lower bound on this
                    duration. For caching purposes, lower TTLs will be increased
                    to the minimum value defined by this setting.  This setting
                    does not affect the TTL value in the DNS response Cloudflare
                    returns to clients. Cloudflare will always forward the TTL
                    value received from upstream nameservers.  Note that, even
                    with this setting, there is no guarantee that a response
                    will be cached for at least the specified duration. Cached
                    responses may be removed earlier for capacity or other
                    operational reasons."
                name:
                  type: string
                  description: "Body param: DNS Firewall cluster name"
                negative_cache_ttl:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: This setting controls how long DNS Firewall should
                    cache negative responses (e.g., NXDOMAIN) from the upstream
                    servers.  This setting does not affect the TTL value in the
                    DNS response Cloudflare returns to clients. Cloudflare will
                    always forward the TTL value received from upstream
                    nameservers."
                ratelimit:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: Ratelimit in queries per second per datacenter
                    (applies to DNS queries sent to the upstream nameservers
                    configured on the cluster)"
                retries:
                  type: number
                  description: "Body param: Number of retries for fetching DNS responses from
                    upstream nameservers (not counting the initial attempt)"
                upstream_ips:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  deprecate_any_requests:
                    type: boolean
                    description: Whether to refuse to answer queries for the ANY type
                  dns_firewall_ips:
                    type: array
                    items:
                      type: string
                  ecs_fallback:
                    type: boolean
                    description: Whether to forward client IP (resolver) subnet if no EDNS Client
                      Subnet is sent
                  maximum_cache_ttl:
                    type: number
                    description: By default, Cloudflare attempts to cache responses for as long as
                      indicated by the TTL received from upstream nameservers.
                      This setting sets an upper bound on this duration. For
                      caching purposes, higher TTLs will be decreased to the
                      maximum value defined by this setting.  This setting does
                      not affect the TTL value in the DNS response Cloudflare
                      returns to clients. Cloudflare will always forward the TTL
                      value received from upstream nameservers.
                  minimum_cache_ttl:
                    type: number
                    description: By default, Cloudflare attempts to cache responses for as long as
                      indicated by the TTL received from upstream nameservers.
                      This setting sets a lower bound on this duration. For
                      caching purposes, lower TTLs will be increased to the
                      minimum value defined by this setting.  This setting does
                      not affect the TTL value in the DNS response Cloudflare
                      returns to clients. Cloudflare will always forward the TTL
                      value received from upstream nameservers.  Note that, even
                      with this setting, there is no guarantee that a response
                      will be cached for at least the specified duration. Cached
                      responses may be removed earlier for capacity or other
                      operational reasons.
                  modified_on:
                    type: string
                    description: Last modification of DNS Firewall cluster
                  name:
                    type: string
                    description: DNS Firewall cluster name
                  negative_cache_ttl:
                    oneOf:
                      - type: number
                    nullable: true
                    description: This setting controls how long DNS Firewall should cache negative
                      responses (e.g., NXDOMAIN) from the upstream
                      servers.  This setting does not affect the TTL value in
                      the DNS response Cloudflare returns to clients. Cloudflare
                      will always forward the TTL value received from upstream
                      nameservers.
                  ratelimit:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Ratelimit in queries per second per datacenter (applies to DNS
                      queries sent to the upstream nameservers configured on the
                      cluster)
                  retries:
                    type: number
                    description: Number of retries for fetching DNS responses from upstream
                      nameservers (not counting the initial attempt)
                  upstream_ips:
                    type: array
                    items:
                      type: string
                  attack_mitigation:
                    oneOf:
                      - type: object
                        properties:
                          enabled:
                            type: boolean
                            description: When enabled, automatically mitigate random-prefix attacks to
                              protect upstream DNS servers
                          only_when_upstream_unhealthy:
                            type: boolean
                            description: Only mitigate attacks when upstream servers seem unhealthy
                    nullable: true
                    description: Attack mitigation settings
                required:
                  - id
                  - deprecate_any_requests
                  - dns_firewall_ips
                  - ecs_fallback
                  - maximum_cache_ttl
                  - minimum_cache_ttl
                  - modified_on
                  - name
                  - negative_cache_ttl
                  - ratelimit
                  - retries
                  - upstream_ips
      x-distilled-response-path: result
    delete:
      operationId: deleteDnsFirewall
      description: "Delete a DNS Firewall cluster  @example ```ts const dnsFirewall =
        await client.dnsFirewall.delete( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dnsFirewallId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
      x-distilled-response-path: result
  /accounts/{account_id}/dns_firewall:
    get:
      operationId: listDnsFirewalls
      description: "List DNS Firewall clusters for an account  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        dnsFirewallListResponse of client.dnsFirewall.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  deprecate_any_requests:
                    type: boolean
                    description: Whether to refuse to answer queries for the ANY type
                  dns_firewall_ips:
                    type: array
                    items:
                      type: string
                  ecs_fallback:
                    type: boolean
                    description: Whether to forward client IP (resolver) subnet if no EDNS Client
                      Subnet is sent
                  maximum_cache_ttl:
                    type: number
                    description: By default, Cloudflare attempts to cache responses for as long as
                      indicated by the TTL received from upstream nameservers.
                      This setting sets an upper bound on this duration. For
                      caching purposes, higher TTLs will be decreased to the
                      maximum value defined by this setting.  This setting does
                      not affect the TTL value in the DNS response Cloudflare
                      returns to clients. Cloudflare will always forward the TTL
                      value received from upstream nameservers.
                  minimum_cache_ttl:
                    type: number
                    description: By default, Cloudflare attempts to cache responses for as long as
                      indicated by the TTL received from upstream nameservers.
                      This setting sets a lower bound on this duration. For
                      caching purposes, lower TTLs will be increased to the
                      minimum value defined by this setting.  This setting does
                      not affect the TTL value in the DNS response Cloudflare
                      returns to clients. Cloudflare will always forward the TTL
                      value received from upstream nameservers.  Note that, even
                      with this setting, there is no guarantee that a response
                      will be cached for at least the specified duration. Cached
                      responses may be removed earlier for capacity or other
                      operational reasons.
                  modified_on:
                    type: string
                    description: Last modification of DNS Firewall cluster
                  name:
                    type: string
                    description: DNS Firewall cluster name
                  negative_cache_ttl:
                    oneOf:
                      - type: number
                    nullable: true
                    description: This setting controls how long DNS Firewall should cache negative
                      responses (e.g., NXDOMAIN) from the upstream
                      servers.  This setting does not affect the TTL value in
                      the DNS response Cloudflare returns to clients. Cloudflare
                      will always forward the TTL value received from upstream
                      nameservers.
                  ratelimit:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Ratelimit in queries per second per datacenter (applies to DNS
                      queries sent to the upstream nameservers configured on the
                      cluster)
                  retries:
                    type: number
                    description: Number of retries for fetching DNS responses from upstream
                      nameservers (not counting the initial attempt)
                  upstream_ips:
                    type: array
                    items:
                      type: string
                  attack_mitigation:
                    oneOf:
                      - type: object
                        properties:
                          enabled:
                            type: boolean
                            description: When enabled, automatically mitigate random-prefix attacks to
                              protect upstream DNS servers
                          only_when_upstream_unhealthy:
                            type: boolean
                            description: Only mitigate attacks when upstream servers seem unhealthy
                    nullable: true
                    description: Attack mitigation settings
                required:
                  - id
                  - deprecate_any_requests
                  - dns_firewall_ips
                  - ecs_fallback
                  - maximum_cache_ttl
                  - minimum_cache_ttl
                  - modified_on
                  - name
                  - negative_cache_ttl
                  - ratelimit
                  - retries
                  - upstream_ips
      x-distilled-pagination-class: DNSFirewallListResponsesV4PagePaginationArray
    post:
      operationId: createDnsFirewall
      description: "Create a DNS Firewall cluster  @example ```ts const dnsFirewall =
        await client.dnsFirewall.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'My Awesome DNS Firewall
        cluster', upstream_ips: [ '192.0.2.1', '198.51.100.1',
        '2001:DB8:100::CF', ], }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: DNS Firewall cluster name"
                upstream_ips:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                attack_mitigation:
                  oneOf:
                    - type: object
                      properties:
                        enabled:
                          type: boolean
                          description: When enabled, automatically mitigate random-prefix attacks to
                            protect upstream DNS servers
                        only_when_upstream_unhealthy:
                          type: boolean
                          description: Only mitigate attacks when upstream servers seem unhealthy
                  nullable: true
                  description: "Body param: Attack mitigation settings"
                deprecate_any_requests:
                  type: boolean
                  description: "Body param: Whether to refuse to answer queries for the ANY type"
                ecs_fallback:
                  type: boolean
                  description: "Body param: Whether to forward client IP (resolver) subnet if no
                    EDNS Client Subnet is sent"
                maximum_cache_ttl:
                  type: number
                  description: "Body param: By default, Cloudflare attempts to cache responses for
                    as long as indicated by the TTL received from upstream
                    nameservers. This setting sets an upper bound on this
                    duration. For caching purposes, higher TTLs will be
                    decreased to the maximum value defined by this
                    setting.  This setting does not affect the TTL value in the
                    DNS response Cloudflare returns to clients. Cloudflare will
                    always forward the TTL value received from upstream
                    nameservers."
                minimum_cache_ttl:
                  type: number
                  description: "Body param: By default, Cloudflare attempts to cache responses for
                    as long as indicated by the TTL received from upstream
                    nameservers. This setting sets a lower bound on this
                    duration. For caching purposes, lower TTLs will be increased
                    to the minimum value defined by this setting.  This setting
                    does not affect the TTL value in the DNS response Cloudflare
                    returns to clients. Cloudflare will always forward the TTL
                    value received from upstream nameservers.  Note that, even
                    with this setting, there is no guarantee that a response
                    will be cached for at least the specified duration. Cached
                    responses may be removed earlier for capacity or other
                    operational reasons."
                negative_cache_ttl:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: This setting controls how long DNS Firewall should
                    cache negative responses (e.g., NXDOMAIN) from the upstream
                    servers.  This setting does not affect the TTL value in the
                    DNS response Cloudflare returns to clients. Cloudflare will
                    always forward the TTL value received from upstream
                    nameservers."
                ratelimit:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: Ratelimit in queries per second per datacenter
                    (applies to DNS queries sent to the upstream nameservers
                    configured on the cluster)"
                retries:
                  type: number
                  description: "Body param: Number of retries for fetching DNS responses from
                    upstream nameservers (not counting the initial attempt)"
              required:
                - name
                - upstream_ips
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  deprecate_any_requests:
                    type: boolean
                    description: Whether to refuse to answer queries for the ANY type
                  dns_firewall_ips:
                    type: array
                    items:
                      type: string
                  ecs_fallback:
                    type: boolean
                    description: Whether to forward client IP (resolver) subnet if no EDNS Client
                      Subnet is sent
                  maximum_cache_ttl:
                    type: number
                    description: By default, Cloudflare attempts to cache responses for as long as
                      indicated by the TTL received from upstream nameservers.
                      This setting sets an upper bound on this duration. For
                      caching purposes, higher TTLs will be decreased to the
                      maximum value defined by this setting.  This setting does
                      not affect the TTL value in the DNS response Cloudflare
                      returns to clients. Cloudflare will always forward the TTL
                      value received from upstream nameservers.
                  minimum_cache_ttl:
                    type: number
                    description: By default, Cloudflare attempts to cache responses for as long as
                      indicated by the TTL received from upstream nameservers.
                      This setting sets a lower bound on this duration. For
                      caching purposes, lower TTLs will be increased to the
                      minimum value defined by this setting.  This setting does
                      not affect the TTL value in the DNS response Cloudflare
                      returns to clients. Cloudflare will always forward the TTL
                      value received from upstream nameservers.  Note that, even
                      with this setting, there is no guarantee that a response
                      will be cached for at least the specified duration. Cached
                      responses may be removed earlier for capacity or other
                      operational reasons.
                  modified_on:
                    type: string
                    description: Last modification of DNS Firewall cluster
                  name:
                    type: string
                    description: DNS Firewall cluster name
                  negative_cache_ttl:
                    oneOf:
                      - type: number
                    nullable: true
                    description: This setting controls how long DNS Firewall should cache negative
                      responses (e.g., NXDOMAIN) from the upstream
                      servers.  This setting does not affect the TTL value in
                      the DNS response Cloudflare returns to clients. Cloudflare
                      will always forward the TTL value received from upstream
                      nameservers.
                  ratelimit:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Ratelimit in queries per second per datacenter (applies to DNS
                      queries sent to the upstream nameservers configured on the
                      cluster)
                  retries:
                    type: number
                    description: Number of retries for fetching DNS responses from upstream
                      nameservers (not counting the initial attempt)
                  upstream_ips:
                    type: array
                    items:
                      type: string
                  attack_mitigation:
                    oneOf:
                      - type: object
                        properties:
                          enabled:
                            type: boolean
                            description: When enabled, automatically mitigate random-prefix attacks to
                              protect upstream DNS servers
                          only_when_upstream_unhealthy:
                            type: boolean
                            description: Only mitigate attacks when upstream servers seem unhealthy
                    nullable: true
                    description: Attack mitigation settings
                required:
                  - id
                  - deprecate_any_requests
                  - dns_firewall_ips
                  - ecs_fallback
                  - maximum_cache_ttl
                  - minimum_cache_ttl
                  - modified_on
                  - name
                  - negative_cache_ttl
                  - ratelimit
                  - retries
                  - upstream_ips
      x-distilled-response-path: result
  /accounts/{account_id}/dns_firewall/{dnsFirewallId}/reverse_dns:
    get:
      operationId: getReverseDn
      description: "Show reverse DNS configuration (PTR records) for a DNS Firewall
        cluster  @example ```ts const reverseDNS = await
        client.dnsFirewall.reverseDNS.get( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dnsFirewallId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ptr:
                    type: object
                    additionalProperties: true
                    description: Map of cluster IP addresses to PTR record contents
                required:
                  - ptr
      x-distilled-response-path: result
    patch:
      operationId: patchReverseDn
      description: "Update reverse DNS configuration (PTR records) for a DNS Firewall
        cluster  @example ```ts const response = await
        client.dnsFirewall.reverseDNS.edit( '023e105f4ecef8ad9ca31a8372d0c353',
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dnsFirewallId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ptr:
                  type: object
                  additionalProperties: true
                  description: "Body param: Map of cluster IP addresses to PTR record contents"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  ptr:
                    type: object
                    additionalProperties: true
                    description: Map of cluster IP addresses to PTR record contents
                required:
                  - ptr
      x-distilled-response-path: result
