openapi: 3.1.0
info:
  title: Cloudflare DNS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: dns
paths:
  /zones/{zone_id}/dns_analytics/report:
    get:
      operationId: getAnalyticReport
      description: "Retrieves a list of summarised aggregate metrics over a given time
        period.  See [Analytics API
        properties](https://developers.cloudflare.com/dns/reference/analytics-a\
        pi-properties/) for detailed information about the available query
        parameters.  @example ```ts const report = await
        client.dns.analytics.reports.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: dimensions
          in: query
          required: false
          description: "Query param: A comma-separated list of dimensions to group results
            by."
          schema:
            type: string
        - name: filters
          in: query
          required: false
          description: "Query param: Segmentation filter in 'attribute operator value'
            format."
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param: Limit number of returned metrics."
          schema:
            type: number
        - name: metrics
          in: query
          required: false
          description: "Query param: A comma-separated list of metrics to query."
          schema:
            type: string
        - name: since
          in: query
          required: false
          description: "Query param: Start date and time of requesting data period in ISO
            8601 format."
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: "Query param: A comma-separated list of dimensions to sort by,
            where each dimension may be prefixed by - (descending) or +
            (ascending)."
          schema:
            type: string
        - name: until
          in: query
          required: false
          description: "Query param: End date and time of requesting data period in ISO
            8601 format."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        dimensions:
                          type: array
                          items:
                            type: string
                          description: Array of dimension values, representing the combination of
                            dimension values corresponding to this row.
                        metrics:
                          type: array
                          items:
                            type: number
                          description: Array with one item per requested metric. Each item is a single
                            value.
                      required:
                        - dimensions
                        - metrics
                    description: Array with one row per combination of dimension values.
                  data_lag:
                    type: number
                    description: Number of seconds between current time and last processed event, in
                      another words how many seconds of data could be missing.
                  max:
                    description: Maximum results for each metric (object mapping metric names to
                      values). Currently always an empty object.
                  min:
                    description: Minimum results for each metric (object mapping metric names to
                      values). Currently always an empty object.
                  query:
                    type: object
                    properties:
                      dimensions:
                        type: array
                        items:
                          type: string
                        description: Array of dimension names.
                      limit:
                        type: number
                        description: Limit number of returned metrics.
                      metrics:
                        type: array
                        items:
                          type: string
                        description: Array of metric names.
                      since:
                        type: string
                        description: Start date and time of requesting data period in ISO 8601 format.
                      until:
                        type: string
                        description: End date and time of requesting data period in ISO 8601 format.
                      filters:
                        type: string
                        description: Segmentation filter in 'attribute operator value' format.
                      sort:
                        type: array
                        items:
                          type: string
                        description: Array of dimensions to sort by, where each dimension may be
                          prefixed by - (descending) or + (ascending).
                    required:
                      - dimensions
                      - limit
                      - metrics
                      - since
                      - until
                  rows:
                    type: number
                    description: Total number of rows in the result.
                  totals:
                    description: Total results for metrics across all data (object mapping metric
                      names to values).
                required:
                  - data
                  - data_lag
                  - max
                  - min
                  - query
                  - rows
                  - totals
      x-distilled-response-path: result
  /zones/{zone_id}/dns_analytics/report/bytime:
    get:
      operationId: getAnalyticReportBytime
      description: "Retrieves a list of aggregate metrics grouped by time
        interval.  See [Analytics API
        properties](https://developers.cloudflare.com/dns/reference/analytics-a\
        pi-properties/) for detailed information about the available query
        parameters.  @example ```ts const byTime = await
        client.dns.analytics.reports.bytimes.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: dimensions
          in: query
          required: false
          description: "Query param: A comma-separated list of dimensions to group results
            by."
          schema:
            type: string
        - name: filters
          in: query
          required: false
          description: "Query param: Segmentation filter in 'attribute operator value'
            format."
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param: Limit number of returned metrics."
          schema:
            type: number
        - name: metrics
          in: query
          required: false
          description: "Query param: A comma-separated list of metrics to query."
          schema:
            type: string
        - name: since
          in: query
          required: false
          description: "Query param: Start date and time of requesting data period in ISO
            8601 format."
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: "Query param: A comma-separated list of dimensions to sort by,
            where each dimension may be prefixed by - (descending) or +
            (ascending)."
          schema:
            type: string
        - name: time_delta
          in: query
          required: false
          description: "Query param: Unit of time to group data by."
          schema:
            type: string
            enum:
              - all
              - auto
              - year
              - quarter
              - month
              - week
              - day
              - hour
              - dekaminute
              - minute
        - name: until
          in: query
          required: false
          description: "Query param: End date and time of requesting data period in ISO
            8601 format."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        dimensions:
                          type: array
                          items:
                            type: string
                          description: Array of dimension values, representing the combination of
                            dimension values corresponding to this row.
                        metrics:
                          type: array
                          items:
                            type: array
                            items:
                              type: number
                          description: Array with one item per requested metric. Each item is an array of
                            values, broken down by time interval.
                      required:
                        - dimensions
                        - metrics
                    description: Array with one row per combination of dimension values.
                  data_lag:
                    type: number
                    description: Number of seconds between current time and last processed event, in
                      another words how many seconds of data could be missing.
                  max:
                    description: Maximum results for each metric (object mapping metric names to
                      values). Currently always an empty object.
                  min:
                    description: Minimum results for each metric (object mapping metric names to
                      values). Currently always an empty object.
                  query:
                    type: object
                    properties:
                      dimensions:
                        type: array
                        items:
                          type: string
                        description: Array of dimension names.
                      limit:
                        type: number
                        description: Limit number of returned metrics.
                      metrics:
                        type: array
                        items:
                          type: string
                        description: Array of metric names.
                      since:
                        type: string
                        description: Start date and time of requesting data period in ISO 8601 format.
                      time_delta:
                        type: string
                        enum:
                          - all
                          - auto
                          - year
                          - quarter
                          - month
                          - week
                          - day
                          - hour
                          - dekaminute
                          - minute
                        description: Unit of time to group data by.
                      until:
                        type: string
                        description: End date and time of requesting data period in ISO 8601 format.
                      filters:
                        type: string
                        description: Segmentation filter in 'attribute operator value' format.
                      sort:
                        type: array
                        items:
                          type: string
                        description: Array of dimensions to sort by, where each dimension may be
                          prefixed by - (descending) or + (ascending).
                    required:
                      - dimensions
                      - limit
                      - metrics
                      - since
                      - time_delta
                      - until
                  rows:
                    type: number
                    description: Total number of rows in the result.
                  time_intervals:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                    description: "Array of time intervals in the response data. Each interval is
                      represented as an array containing two values: the start
                      time, and the end time."
                  totals:
                    description: Total results for metrics across all data (object mapping metric
                      names to values).
                required:
                  - data
                  - data_lag
                  - max
                  - min
                  - query
                  - rows
                  - time_intervals
                  - totals
      x-distilled-response-path: result
  /zones/{zone_id}/dnssec:
    get:
      operationId: getDnssec
      description: "Details about DNSSEC status and configuration.  @example ```ts
        const dnssec = await client.dns.dnssec.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  algorithm:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Algorithm key code.
                  digest:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Digest hash.
                  digest_algorithm:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Type of digest algorithm.
                  digest_type:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Coded type for digest algorithm.
                  dnssec_multi_signer:
                    type: boolean
                    description: If true, multi-signer DNSSEC is enabled on the zone, allowing
                      multiple providers to serve a DNSSEC-signed zone at the
                      same time. This is required for DNSKEY records (except
                      those automatically generated by Cloudflare) to be added
                      to the zone.  See [Multi-signer
                      DNSSEC](https://developers.cloudflare.com/dns/dnssec/multi-signer-dnssec/)
                      for details.
                  dnssec_presigned:
                    type: boolean
                    description: If true, allows Cloudflare to transfer in a DNSSEC-signed zone
                      including signatures from an external provider, without
                      requiring Cloudflare to sign any records on the fly.  Note
                      that this feature has some limitations. See [Cloudflare as
                      Secondary](https://developers.cloudflare.com/dns/zone-setups/zone-transfers/cloudflare-as-secondary/setup/#dnssec)
                      for details.
                  dnssec_use_nsec3:
                    type: boolean
                    description: If true, enables the use of NSEC3 together with DNSSEC on the zone.
                      Combined with setting dnssec_presigned to true, this
                      enables the use of NSEC3 records when transferring in from
                      an external provider. If dnssec_presigned is instead set
                      to false (default), NSEC3 records will be generated and
                      signed at request time.  See [DNSSEC with
                      NSEC3](https://developers.cloudflare.com/dns/dnssec/enable-nsec3/)
                      for details.
                  ds:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Full DS record.
                  flags:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Flag for DNSSEC record.
                  key_tag:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Code for key tag.
                  key_type:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Algorithm key type.
                  modified_on:
                    oneOf:
                      - type: string
                    nullable: true
                    description: When DNSSEC was last modified.
                  public_key:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Public key for DS record.
                  status:
                    type: string
                    enum:
                      - active
                      - pending
                      - disabled
                      - pending-disabled
                      - error
                    description: Status of DNSSEC, based on user-desired state and presence of
                      necessary records.
      x-distilled-response-path: result
    patch:
      operationId: patchDnssec
      description: "Enable or disable DNSSEC.  @example ```ts const dnssec = await
        client.dns.dnssec.edit({ zone_id: '023e105f4ecef8ad9ca31a8372d0c353',
        }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dnssec_multi_signer:
                  type: boolean
                  description: "Body param: If true, multi-signer DNSSEC is enabled on the zone,
                    allowing multiple providers to serve a DNSSEC-signed zone at
                    the same time. This is required for DNSKEY records (except
                    those automatically generated by Cloudflare) to be added to
                    the zone.  See [Multi-signer
                    DNSSEC](https://developers.cloudflare.com/dns/dnssec/multi-\
                    signer-dnssec/) for details."
                dnssec_presigned:
                  type: boolean
                  description: "Body param: If true, allows Cloudflare to transfer in a
                    DNSSEC-signed zone including signatures from an external
                    provider, without requiring Cloudflare to sign any records
                    on the fly.  Note that this feature has some limitations.
                    See [Cloudflare as
                    Secondary](https://developers.cloudflare.com/dns/zone-setup\
                    s/zone-transfers/cloudflare-as-secondary/setup/#dnssec) for
                    details."
                dnssec_use_nsec3:
                  type: boolean
                  description: "Body param: If true, enables the use of NSEC3 together with DNSSEC
                    on the zone. Combined with setting dnssec_presigned to true,
                    this enables the use of NSEC3 records when transferring in
                    from an external provider. If dnssec_presigned is instead
                    set to false (default), NSEC3 records will be generated and
                    signed at request time.  See [DNSSEC with
                    NSEC3](https://developers.cloudflare.com/dns/dnssec/enable-\
                    nsec3/) for details."
                status:
                  type: string
                  enum:
                    - active
                    - disabled
                  description: "Body param: Status of DNSSEC, based on user-desired state and
                    presence of necessary records."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  algorithm:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Algorithm key code.
                  digest:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Digest hash.
                  digest_algorithm:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Type of digest algorithm.
                  digest_type:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Coded type for digest algorithm.
                  dnssec_multi_signer:
                    type: boolean
                    description: If true, multi-signer DNSSEC is enabled on the zone, allowing
                      multiple providers to serve a DNSSEC-signed zone at the
                      same time. This is required for DNSKEY records (except
                      those automatically generated by Cloudflare) to be added
                      to the zone.  See [Multi-signer
                      DNSSEC](https://developers.cloudflare.com/dns/dnssec/multi-signer-dnssec/)
                      for details.
                  dnssec_presigned:
                    type: boolean
                    description: If true, allows Cloudflare to transfer in a DNSSEC-signed zone
                      including signatures from an external provider, without
                      requiring Cloudflare to sign any records on the fly.  Note
                      that this feature has some limitations. See [Cloudflare as
                      Secondary](https://developers.cloudflare.com/dns/zone-setups/zone-transfers/cloudflare-as-secondary/setup/#dnssec)
                      for details.
                  dnssec_use_nsec3:
                    type: boolean
                    description: If true, enables the use of NSEC3 together with DNSSEC on the zone.
                      Combined with setting dnssec_presigned to true, this
                      enables the use of NSEC3 records when transferring in from
                      an external provider. If dnssec_presigned is instead set
                      to false (default), NSEC3 records will be generated and
                      signed at request time.  See [DNSSEC with
                      NSEC3](https://developers.cloudflare.com/dns/dnssec/enable-nsec3/)
                      for details.
                  ds:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Full DS record.
                  flags:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Flag for DNSSEC record.
                  key_tag:
                    oneOf:
                      - type: number
                    nullable: true
                    description: Code for key tag.
                  key_type:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Algorithm key type.
                  modified_on:
                    oneOf:
                      - type: string
                    nullable: true
                    description: When DNSSEC was last modified.
                  public_key:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Public key for DS record.
                  status:
                    type: string
                    enum:
                      - active
                      - pending
                      - disabled
                      - pending-disabled
                      - error
                    description: Status of DNSSEC, based on user-desired state and presence of
                      necessary records.
      x-distilled-response-path: result
    delete:
      operationId: deleteDnssec
      description: "Delete DNSSEC.  @example ```ts const dnssec = await
        client.dns.dnssec.delete({ zone_id: '023e105f4ecef8ad9ca31a8372d0c353',
        }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-response-path: result
  /zones/{zone_id}/dns_records/scan/review:
    get:
      operationId: scanListRecord
      description: "Retrieves the list of DNS records discovered up to this point by
        the asynchronous scan. These records are temporary until explicitly
        accepted or rejected via `POST /scan/review`. Additional records may be
        discovered by the scan later.  @example ```ts // Automatically fetches
        more pages as needed. for await (const recordResponse of
        client.dns.records.scanList( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      comment:
                        type: string
                        description: Comments or notes about the DNS record. This field has no effect on
                          DNS responses.
                      content:
                        type: string
                        description: A single Base64-encoded OpenPGP Transferable Public Key (RFC 4880
                          Section 11.1)
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      name:
                        type: string
                        description: Complete DNS record name, including the zone name, in Punycode.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      proxied:
                        type: boolean
                        description: Whether the record is receiving the performance and security
                          benefits of Cloudflare.
                      settings:
                        type: object
                        properties:
                          ipv4_only:
                            type: boolean
                            description: When enabled, only A records will be generated, and AAAA records
                              will not be created. This setting is intended for
                              exceptional cases. Note that this option only
                              applies to proxied records and it has no effect on
                              whether Cloudflare communicates with the origin
                              using IPv4 or IPv6.
                          ipv6_only:
                            type: boolean
                            description: When enabled, only AAAA records will be generated, and A records
                              will not be created. This setting is intended for
                              exceptional cases. Note that this option only
                              applies to proxied records and it has no effect on
                              whether Cloudflare communicates with the origin
                              using IPv4 or IPv6.
                        description: Settings for the DNS record.
                      tags:
                        type: array
                        items:
                          type: string
                        description: Custom tags for the DNS record. This field has no effect on DNS
                          responses.
                      ttl:
                        oneOf:
                          - type: number
                          - type: number
                            enum:
                              - 1
                        description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                          'automatic'. Value must be between 60 and 86400, with
                          the minimum reduced to 30 for Enterprise zones.
                      type:
                        type: string
                        enum:
                          - OPENPGPKEY
                        description: Record type.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - comment
                      - content
                      - created_on
                      - meta
                      - modified_on
                      - name
                      - proxiable
                      - proxied
                      - settings
                      - tags
                      - ttl
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier.
                      created_on:
                        type: string
                        description: When the record was created.
                      meta:
                        description: Extra Cloudflare-specific information about the record.
                      modified_on:
                        type: string
                        description: When the record was last modified.
                      proxiable:
                        type: boolean
                        description: Whether the record can be proxied by Cloudflare or not.
                      comment_modified_on:
                        type: string
                        description: When the record comment was last modified. Omitted if there is no
                          comment.
                      tags_modified_on:
                        type: string
                        description: When the record tags were last modified. Omitted if there are no
                          tags.
                    required:
                      - id
                      - created_on
                      - meta
                      - modified_on
                      - proxiable
      x-distilled-pagination-class: RecordResponsesSinglePage
    post:
      operationId: scanReviewRecord
      description: "Accept or reject DNS records found by the DNS records scan.
        Accepted records will be permanently added to the zone, while rejected
        records will be permanently deleted.  @example ```ts const response =
        await client.dns.records.scanReview({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                accepts:
                  type: array
                  items:
                    oneOf:
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - A
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          content:
                            type: string
                            description: A valid IPv4 address.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - AAAA
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          content:
                            type: string
                            description: A valid IPv6 address.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - CNAME
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          content:
                            type: string
                            description: A valid hostname. Must not match the record's name.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              flatten_cname:
                                type: boolean
                                description: If enabled, causes the CNAME record to be resolved externally and
                                  the resulting address records (e.g., A and
                                  AAAA) to be returned instead of the CNAME
                                  record itself. This setting is unavailable for
                                  proxied records, since they are always
                                  flattened.
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - MX
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          content:
                            type: string
                            description: A valid mail server hostname.
                          priority:
                            type: number
                            description: Required for MX, SRV and URI records; unused by other record types.
                              Records with lower priorities are preferred.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - NS
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          content:
                            type: string
                            description: A valid name server host name.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - OPENPGPKEY
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          content:
                            type: string
                            description: A single Base64-encoded OpenPGP Transferable Public Key (RFC 4880
                              Section 11.1)
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - PTR
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          content:
                            type: string
                            description: Domain name pointing to the address.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - TXT
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          content:
                            type: string
                            description: Text content for the record. The content must consist of quoted
                              "character strings" (RFC 1035), each with a length
                              of up to 255 bytes. Strings exceeding this allowed
                              maximum length are automatically split.  Learn
                              more at
                              <https://www.cloudflare.com/learning/dns/dns-records/dns-txt-record/>.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - CAA
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          data:
                            type: object
                            properties:
                              flags:
                                type: number
                                description: Flags for the CAA record.
                              tag:
                                type: string
                                description: "Name of the property controlled by this record (e.g.: issue,
                                  issuewild, iodef)."
                              value:
                                type: string
                                description: Value of the record. This field's semantics depend on the chosen
                                  tag.
                            description: Components of a CAA record.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - CERT
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          data:
                            type: object
                            properties:
                              algorithm:
                                type: number
                                description: Algorithm.
                              certificate:
                                type: string
                                description: Certificate.
                              key_tag:
                                type: number
                                description: Key Tag.
                              type:
                                type: number
                                description: Type.
                            description: Components of a CERT record.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
                            description: Custom tags for the DNS record. This field has no effect on DNS
                              responses.
                        required:
                          - name
                          - ttl
                          - type
                      - type: object
                        properties:
                          name:
                            type: string
                            description: Complete DNS record name, including the zone name, in Punycode.
                          ttl:
                            oneOf:
                              - type: number
                              - type: number
                                enum:
                                  - 1
                            description: Time To Live (TTL) of the DNS record in seconds. Setting to 1 means
                              'automatic'. Value must be between 60 and 86400,
                              with the minimum reduced to 30 for Enterprise
                              zones.
                          type:
                            type: string
                            enum:
                              - DNSKEY
                            description: Record type.
                          comment:
                            type: string
                            description: Comments or notes about the DNS record. This field has no effect on
                              DNS responses.
                          data:
                            type: object
                            properties:
                              algorithm:
                                type: number
                                description: Algorithm.
                              flags:
                                type: number
                                description: Flags.
                              protocol:
                                type: number
                                description: Protocol.
                              public_key:
                                type: string
                                description: Public Key.
                            description: Components of a DNSKEY record.
                          proxied:
                            type: boolean
                            description: Whether the record is receiving the performance and security
                              benefits of Cloudflare.
                          settings:
                            type: object
                            properties:
                              ipv4_only:
                                type: boolean
                                description: When enabled, only A records will be generated, and AAAA records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                              ipv6_only:
                                type: boolean
                                description: When enabled, only AAAA records will be generated, and A records
                                  will not be created. This setting is intended
                                  for exceptional cases. Note that this option
                                  only applies to proxied records and it has no
                                  effect on whether Cloudflare communicates with
                                  the origin using IPv4 or IPv6.
                            description: Settings for the DNS record.
                          tags:
                            type: array
                            items:
                              type: string
[...]
