openapi: 3.1.0
info:
  title: Cloudflare DURABLE-OBJECTS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: durable-objects
paths:
  /accounts/{account_id}/workers/durable_objects/namespaces:
    get:
      operationId: listNamespaces
      description: Returns the Durable Object namespaces owned by an account.
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class:
                    type: string
                  name:
                    type: string
                  script:
                    type: string
                  use_sqlite:
                    type: boolean
      x-distilled-pagination-class: NamespacesV4PagePaginationArray
      x-distilled-errors:
        InvalidIdentifier:
          - code: 7003
  /accounts/{account_id}/workers/durable_objects/namespaces/{id}/objects:
    get:
      operationId: listNamespaceObjects
      description: Returns the Durable Objects in a given namespace.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param: The number of objects to return. The cursor attribute
            may be used to iterate over the next batch of objects if there are
            more than the limit."
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the Durable Object.
                  hasStoredData:
                    type: boolean
                    description: Whether the Durable Object has stored data.
      x-distilled-pagination-class: DurableObjectsCursorPaginationAfter
      x-distilled-errors:
        NamespaceNotFound:
          - code: 10066
        InvalidIdentifier:
          - code: 7003
        MalformedParameter:
          - code: 10077
