openapi: 3.1.0
info:
  title: Cloudflare EMAIL-SECURITY API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: email-security
paths:
  /accounts/{account_id}/email-security/investigate/{investigateId}:
    get:
      operationId: getInvestigate
      description: "Retrieves comprehensive details for a specific email message
        including headers, recipients, sender information, and current
        quarantine status. Use the investigate_id from search results to fetch
        detailed information.  @example ```ts const investigate = await
        client.emailSecurity.investigate.get(
        '4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: investigateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: submission
          in: query
          required: false
          description: "Query param: When true, search the submissions datastore only.
            When false or omitted, search the regular datastore only."
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for a message retrieved from investigation
                  action_log:
                    type: array
                    items:
                      type: object
                      properties:
                        completed_at:
                          type: string
                          description: Timestamp when action completed
                        operation:
                          type: string
                          enum:
                            - MOVE
                            - RELEASE
                            - RECLASSIFY
                            - SUBMISSION
                            - QUARANTINE_RELEASE
                            - PREVIEW
                          description: Type of action performed
                        completed_timestamp:
                          type: string
                          description: "@deprecated Deprecated, use `completed_at` instead. End of life:
                            November 1, 2026."
                        properties:
                          type: object
                          properties:
                            folder:
                              type: string
                              description: Target folder for move operations
                            requested_by:
                              type: string
                              description: User who requested the action
                          description: Additional properties for the action
                        status:
                          oneOf:
                            - type: string
                          nullable: true
                          description: Status of the action
                      required:
                        - completed_at
                        - operation
                    description: "@deprecated Deprecated, use `GET
                      /investigate/{investigate_id}/action_log` instead. End of
                      life: November 1, 2026."
                  client_recipients:
                    type: array
                    items:
                      type: string
                  detection_reasons:
                    type: array
                    items:
                      type: string
                  is_phish_submission:
                    type: boolean
                  is_quarantined:
                    type: boolean
                  postfix_id:
                    type: string
                    description: The identifier of the message
                  properties:
                    type: object
                    properties:
                      allowlisted_pattern:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Pattern that allowlisted this message
                      allowlisted_pattern_type:
                        type: string
                        enum:
                          - quarantine_release
                          - acceptable_sender
                          - allowed_sender
                          - allowed_recipient
                          - domain_similarity
                          - domain_recency
                          - managed_acceptable_sender
                          - outbound_ndr
                        nullable: true
                        description: Type of allowlist pattern
                      blocklisted_message:
                        oneOf:
                          - type: boolean
                        nullable: true
                        description: Whether message was blocklisted
                      blocklisted_pattern:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Pattern that blocklisted this message
                      whitelisted_pattern_type:
                        type: string
                        enum:
                          - quarantine_release
                          - acceptable_sender
                          - allowed_sender
                          - allowed_recipient
                          - domain_similarity
                          - domain_recency
                          - managed_acceptable_sender
                          - outbound_ndr
                        nullable: true
                        description: Legacy field for allowlist pattern type
                    description: Message processing properties
                  ts:
                    type: string
                    description: "@deprecated Deprecated, use `scanned_at` instead. End of life:
                      November 1, 2026."
                  alert_id:
                    oneOf:
                      - type: string
                    nullable: true
                  delivery_mode:
                    type: string
                    enum:
                      - DIRECT
                      - BCC
                      - JOURNAL
                      - REVIEW_SUBMISSION
                      - DMARC_UNVERIFIED
                      - DMARC_FAILURE_REPORT
                      - DMARC_AGGREGATE_REPORT
                      - THREAT_INTEL_SUBMISSION
                      - SIMULATION_SUBMISSION
                      - API
                      - RETRO_SCAN
                  delivery_status:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - delivered
                            - moved
                            - quarantined
                            - rejected
                            - deferred
                            - bounced
                            - queued
                    nullable: true
                  edf_hash:
                    oneOf:
                      - type: string
                    nullable: true
                  envelope_from:
                    oneOf:
                      - type: string
                    nullable: true
                  envelope_to:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  final_disposition:
                    type: string
                    enum:
                      - MALICIOUS
                      - MALICIOUS-BEC
                      - SUSPICIOUS
                      - SPOOF
                      - SPAM
                      - BULK
                      - ENCRYPTED
                      - EXTERNAL
                      - UNKNOWN
                      - NONE
                  findings:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            attachment:
                              oneOf:
                                - type: string
                              nullable: true
                            detail:
                              oneOf:
                                - type: string
                              nullable: true
                            detection:
                              type: string
                              enum:
                                - MALICIOUS
                                - MALICIOUS-BEC
                                - SUSPICIOUS
                                - SPOOF
                                - SPAM
                                - BULK
                                - ENCRYPTED
                                - EXTERNAL
                                - UNKNOWN
                                - NONE
                            field:
                              oneOf:
                                - type: string
                              nullable: true
                            name:
                              oneOf:
                                - type: string
                              nullable: true
                            portion:
                              oneOf:
                                - type: string
                              nullable: true
                            reason:
                              oneOf:
                                - type: string
                              nullable: true
                            score:
                              oneOf:
                                - type: number
                              nullable: true
                            value:
                              oneOf:
                                - type: string
                              nullable: true
                    nullable: true
                    description: "@deprecated Deprecated, use the `findings` field from `GET
                      /investigate/{investigate_id}/detections` instead. End of
                      life: November 1, 2026. Detection findings for this
                      message."
                  from:
                    oneOf:
                      - type: string
                    nullable: true
                  from_name:
                    oneOf:
                      - type: string
                    nullable: true
                  htmltext_structure_hash:
                    oneOf:
                      - type: string
                    nullable: true
                  message_id:
                    oneOf:
                      - type: string
                    nullable: true
                  post_delivery_operations:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - PREVIEW
                            - QUARANTINE_RELEASE
                            - SUBMISSION
                            - MOVE
                    nullable: true
                    description: Post-delivery operations performed on this message
                  postfix_id_outbound:
                    oneOf:
                      - type: string
                    nullable: true
                  replyto:
                    oneOf:
                      - type: string
                    nullable: true
                  scanned_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: When the message was scanned (UTC)
                  sent_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: When the message was sent (UTC)
                  sent_date:
                    oneOf:
                      - type: string
                    nullable: true
                  smtp_helo_server_ip:
                    oneOf:
                      - type: string
                    nullable: true
                  smtp_previous_hop_ip:
                    oneOf:
                      - type: string
                    nullable: true
                  subject:
                    oneOf:
                      - type: string
                    nullable: true
                  threat_categories:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  to:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  to_name:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  validation:
                    type: object
                    properties:
                      comment:
                        oneOf:
                          - type: string
                        nullable: true
                      dkim:
                        type: string
                        enum:
                          - pass
                          - neutral
                          - fail
                          - error
                          - none
                      dmarc:
                        type: string
                        enum:
                          - pass
                          - neutral
                          - fail
                          - error
                          - none
                      spf:
                        type: string
                        enum:
                          - pass
                          - neutral
                          - fail
                          - error
                          - none
                  x_originating_ip:
                    oneOf:
                      - type: string
                    nullable: true
                required:
                  - id
                  - action_log
                  - client_recipients
                  - detection_reasons
                  - is_phish_submission
                  - is_quarantined
                  - postfix_id
                  - properties
                  - ts
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/investigate:
    get:
      operationId: listInvestigates
      description: "Returns information for each email that matches the search
        parameter(s).  @example ```ts // Automatically fetches more pages as
        needed. for await (const investigateListResponse of
        client.emailSecurity.investigate.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: action_log
          in: query
          required: false
          description: "Query param: Whether to include the message action log in the
            response."
          schema:
            type: boolean
        - name: alert_id
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: delivery_status
          in: query
          required: false
          description: "Query param: Delivery status to filter by."
          schema:
            type: string
            enum:
              - delivered
              - moved
              - quarantined
              - rejected
              - deferred
              - bounced
              - queued
        - name: detections_only
          in: query
          required: false
          description: "Query param: Whether to include only detections in search results."
          schema:
            type: boolean
        - name: domain
          in: query
          required: false
          description: "Query param: Sender domains to filter by."
          schema:
            type: string
        - name: end
          in: query
          required: false
          description: "Query param: The end of the search date range. Defaults to `now`."
          schema:
            type: string
        - name: final_disposition
          in: query
          required: false
          description: "Query param: Dispositions to filter by."
          schema:
            type: string
            enum:
              - MALICIOUS
              - SUSPICIOUS
              - SPOOF
              - SPAM
              - BULK
              - NONE
        - name: message_action
          in: query
          required: false
          description: "Query param: Message actions to filter by."
          schema:
            type: string
            enum:
              - PREVIEW
              - QUARANTINE_RELEASED
              - MOVED
        - name: message_id
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: metric
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: query
          in: query
          required: false
          description: "Query param: Space-delimited search term. Case-insensitive."
          schema:
            type: string
        - name: recipient
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: sender
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: start
          in: query
          required: false
          description: "Query param: The beginning of the search date range. Defaults to
            `now - 30 days`."
          schema:
            type: string
        - name: subject
          in: query
          required: false
          description: Query param
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for a message retrieved from investigation
                  action_log:
                    type: array
                    items:
                      type: object
                      properties:
                        completed_at:
                          type: string
                          description: Timestamp when action completed
                        operation:
                          type: string
                          enum:
                            - MOVE
                            - RELEASE
                            - RECLASSIFY
                            - SUBMISSION
                            - QUARANTINE_RELEASE
                            - PREVIEW
                          description: Type of action performed
                        completed_timestamp:
                          type: string
                          description: "@deprecated Deprecated, use `completed_at` instead. End of life:
                            November 1, 2026."
                        properties:
                          type: object
                          properties:
                            folder:
                              type: string
                              description: Target folder for move operations
                            requested_by:
                              type: string
                              description: User who requested the action
                          description: Additional properties for the action
                        status:
                          oneOf:
                            - type: string
                          nullable: true
                          description: Status of the action
                      required:
                        - completed_at
                        - operation
                    description: "@deprecated Deprecated, use `GET
                      /investigate/{investigate_id}/action_log` instead. End of
                      life: November 1, 2026."
                  client_recipients:
                    type: array
                    items:
                      type: string
                  detection_reasons:
                    type: array
                    items:
                      type: string
                  is_phish_submission:
                    type: boolean
                  is_quarantined:
                    type: boolean
                  postfix_id:
                    type: string
                    description: The identifier of the message
                  properties:
                    type: object
                    properties:
                      allowlisted_pattern:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Pattern that allowlisted this message
                      allowlisted_pattern_type:
                        type: string
                        enum:
                          - quarantine_release
                          - acceptable_sender
                          - allowed_sender
                          - allowed_recipient
                          - domain_similarity
                          - domain_recency
                          - managed_acceptable_sender
                          - outbound_ndr
                        nullable: true
                        description: Type of allowlist pattern
                      blocklisted_message:
                        oneOf:
                          - type: boolean
                        nullable: true
                        description: Whether message was blocklisted
                      blocklisted_pattern:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Pattern that blocklisted this message
                      whitelisted_pattern_type:
                        type: string
                        enum:
                          - quarantine_release
                          - acceptable_sender
                          - allowed_sender
                          - allowed_recipient
                          - domain_similarity
                          - domain_recency
                          - managed_acceptable_sender
                          - outbound_ndr
                        nullable: true
                        description: Legacy field for allowlist pattern type
                    description: Message processing properties
                  ts:
                    type: string
                    description: "@deprecated Deprecated, use `scanned_at` instead. End of life:
                      November 1, 2026."
                  alert_id:
                    oneOf:
                      - type: string
                    nullable: true
                  delivery_mode:
                    type: string
                    enum:
                      - DIRECT
                      - BCC
                      - JOURNAL
                      - REVIEW_SUBMISSION
                      - DMARC_UNVERIFIED
                      - DMARC_FAILURE_REPORT
                      - DMARC_AGGREGATE_REPORT
                      - THREAT_INTEL_SUBMISSION
                      - SIMULATION_SUBMISSION
                      - API
                      - RETRO_SCAN
                  delivery_status:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - delivered
                            - moved
                            - quarantined
                            - rejected
                            - deferred
                            - bounced
                            - queued
                    nullable: true
                  edf_hash:
                    oneOf:
                      - type: string
                    nullable: true
                  envelope_from:
                    oneOf:
                      - type: string
                    nullable: true
                  envelope_to:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  final_disposition:
                    type: string
                    enum:
                      - MALICIOUS
                      - MALICIOUS-BEC
                      - SUSPICIOUS
                      - SPOOF
                      - SPAM
                      - BULK
                      - ENCRYPTED
                      - EXTERNAL
                      - UNKNOWN
                      - NONE
                  findings:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            attachment:
                              oneOf:
                                - type: string
                              nullable: true
                            detail:
                              oneOf:
                                - type: string
                              nullable: true
                            detection:
                              type: string
                              enum:
                                - MALICIOUS
                                - MALICIOUS-BEC
                                - SUSPICIOUS
                                - SPOOF
                                - SPAM
                                - BULK
                                - ENCRYPTED
                                - EXTERNAL
                                - UNKNOWN
                                - NONE
                            field:
                              oneOf:
                                - type: string
                              nullable: true
                            name:
                              oneOf:
                                - type: string
                              nullable: true
                            portion:
                              oneOf:
                                - type: string
                              nullable: true
                            reason:
                              oneOf:
                                - type: string
                              nullable: true
                            score:
                              oneOf:
                                - type: number
                              nullable: true
                            value:
                              oneOf:
                                - type: string
                              nullable: true
                    nullable: true
                    description: "@deprecated Deprecated, use the `findings` field from `GET
                      /investigate/{investigate_id}/detections` instead. End of
                      life: November 1, 2026. Detection findings for this
                      message."
                  from:
                    oneOf:
                      - type: string
                    nullable: true
                  from_name:
                    oneOf:
                      - type: string
                    nullable: true
                  htmltext_structure_hash:
                    oneOf:
                      - type: string
                    nullable: true
                  message_id:
                    oneOf:
                      - type: string
                    nullable: true
                  post_delivery_operations:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - PREVIEW
                            - QUARANTINE_RELEASE
                            - SUBMISSION
                            - MOVE
                    nullable: true
                    description: Post-delivery operations performed on this message
                  postfix_id_outbound:
                    oneOf:
                      - type: string
                    nullable: true
                  replyto:
                    oneOf:
                      - type: string
                    nullable: true
                  scanned_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: When the message was scanned (UTC)
                  sent_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: When the message was sent (UTC)
                  sent_date:
                    oneOf:
                      - type: string
                    nullable: true
                  smtp_helo_server_ip:
                    oneOf:
                      - type: string
                    nullable: true
                  smtp_previous_hop_ip:
                    oneOf:
                      - type: string
                    nullable: true
                  subject:
                    oneOf:
                      - type: string
                    nullable: true
                  threat_categories:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  to:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  to_name:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  validation:
                    type: object
                    properties:
                      comment:
                        oneOf:
                          - type: string
                        nullable: true
                      dkim:
                        type: string
                        enum:
                          - pass
                          - neutral
                          - fail
                          - error
                          - none
                      dmarc:
                        type: string
                        enum:
                          - pass
                          - neutral
                          - fail
                          - error
                          - none
                      spf:
                        type: string
                        enum:
                          - pass
                          - neutral
                          - fail
                          - error
                          - none
                  x_originating_ip:
                    oneOf:
                      - type: string
                    nullable: true
                required:
                  - id
                  - action_log
                  - client_recipients
                  - detection_reasons
                  - is_phish_submission
                  - is_quarantined
                  - postfix_id
                  - properties
                  - ts
      x-distilled-pagination-class: InvestigateListResponsesV4PagePaginationArray
  /accounts/{account_id}/email-security/investigate/{investigateId}/detections:
    get:
      operationId: getInvestigateDetection
      description: "Returns detection details such as threat categories and sender
        information for non-benign messages.  @example ```ts const detection =
        await client.emailSecurity.investigate.detections.get(
        '4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: investigateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    type: string
                  attachments:
                    type: array
                    items:
                      type: object
                      properties:
                        size:
                          type: number
                          description: Size of the attachment in bytes
                        content_type:
                          oneOf:
                            - type: string
                          nullable: true
                          description: MIME type of the attachment
                        detection:
                          type: string
                          enum:
                            - MALICIOUS
                            - MALICIOUS-BEC
                            - SUSPICIOUS
                            - SPOOF
                            - SPAM
                            - BULK
                            - ENCRYPTED
                            - EXTERNAL
                            - UNKNOWN
                            - NONE
                          nullable: true
                          description: Detection result for this attachment
                        encrypted:
                          oneOf:
                            - type: boolean
                          nullable: true
                          description: Whether the attachment is encrypted
                        filename:
                          oneOf:
                            - type: string
                          nullable: true
                          description: Name of the attached file
                        md5:
                          oneOf:
                            - type: string
                          nullable: true
                          description: MD5 hash of the attachment
                        name:
                          oneOf:
                            - type: string
                          nullable: true
                          description: Attachment name (alternative to filename)
                        sha1:
                          oneOf:
                            - type: string
                          nullable: true
                          description: SHA1 hash of the attachment
                        sha256:
                          oneOf:
                            - type: string
                          nullable: true
                          description: SHA256 hash of the attachment
                      required:
                        - size
                  findings:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            attachment:
                              oneOf:
                                - type: string
                              nullable: true
                            detail:
                              oneOf:
                                - type: string
                              nullable: true
                            detection:
                              type: string
                              enum:
                                - MALICIOUS
                                - MALICIOUS-BEC
                                - SUSPICIOUS
                                - SPOOF
                                - SPAM
                                - BULK
                                - ENCRYPTED
                                - EXTERNAL
                                - UNKNOWN
                                - NONE
                            field:
                              oneOf:
                                - type: string
                              nullable: true
                            name:
                              oneOf:
                                - type: string
                              nullable: true
                            portion:
                              oneOf:
                                - type: string
                              nullable: true
                            reason:
                              oneOf:
                                - type: string
                              nullable: true
                            score:
                              oneOf:
                                - type: number
                              nullable: true
                            value:
                              oneOf:
                                - type: string
                              nullable: true
                    nullable: true
                  headers:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        value:
                          type: string
                      required:
                        - name
                        - value
                  links:
                    type: array
                    items:
                      type: object
                      properties:
                        href:
                          type: string
                        text:
                          oneOf:
                            - type: string
                          nullable: true
                      required:
                        - href
                  sender_info:
                    type: object
                    properties:
                      as_name:
                        oneOf:
                          - type: string
                        nullable: true
                        description: The name of the autonomous system.
                      as_number:
                        oneOf:
                          - type: number
                        nullable: true
                        description: The number of the autonomous system.
                      geo:
                        oneOf:
                          - type: string
                        nullable: true
                      ip:
                        oneOf:
                          - type: string
                        nullable: true
                      pld:
                        oneOf:
                          - type: string
                        nullable: true
                  threat_categories:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        description:
                          oneOf:
                            - type: string
                          nullable: true
                        name:
                          oneOf:
                            - type: string
                          nullable: true
                  validation:
                    type: object
                    properties:
                      comment:
                        oneOf:
                          - type: string
                        nullable: true
                      dkim:
                        type: string
                        enum:
                          - pass
                          - neutral
                          - fail
                          - error
                          - none
                      dmarc:
                        type: string
                        enum:
                          - pass
                          - neutral
                          - fail
                          - error
                          - none
                      spf:
                        type: string
                        enum:
                          - pass
                          - neutral
                          - fail
                          - error
                          - none
                  final_disposition:
                    type: string
                    enum:
                      - MALICIOUS
                      - MALICIOUS-BEC
                      - SUSPICIOUS
                      - SPOOF
                      - SPAM
                      - BULK
                      - ENCRYPTED
                      - EXTERNAL
                      - UNKNOWN
                      - NONE
                required:
                  - action
                  - attachments
                  - findings
                  - headers
                  - links
                  - sender_info
                  - threat_categories
                  - validation
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/investigate/{investigateId}/move:
    post:
      operationId: createInvestigateMove
      description: "Moves a single message to a specified mailbox folder (Inbox,
        JunkEmail, DeletedItems, RecoverableItemsDeletions, or
        RecoverableItemsPurges). Requires active integration.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        moveCreateResponse of client.emailSecurity.investigate.move.create(
        '4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', destination: 'Inbox', }, )) { // ...
        } ```"
      parameters:
        - name: investigateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: string
                  enum:
                    - Inbox
                    - JunkEmail
                    - DeletedItems
                    - RecoverableItemsDeletions
                    - RecoverableItemsPurges
                  description: Body param
              required:
                - destination
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the operation succeeded
                  completed_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: When the move operation completed (UTC)
                  completed_timestamp:
                    type: string
                    description: "@deprecated Deprecated, use `completed_at` instead. End of life:
                      November 1, 2026."
                  destination:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Destination folder for the message
                  item_count:
                    type: number
                    description: "@deprecated Number of items moved. End of life: November 1, 2026."
                  message_id:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Message identifier
                  operation:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Type of operation performed
                  recipient:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Recipient email address
                  status:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Operation status
                required:
                  - success
      x-distilled-pagination-class: MoveCreateResponsesSinglePage
  /accounts/{account_id}/email-security/investigate/move:
    post:
      operationId: bulkInvestigateMove
      description: "Moves multiple messages to a specified mailbox folder (Inbox,
        JunkEmail, DeletedItems, RecoverableItemsDeletions, or
        RecoverableItemsPurges). Requires active integration.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        moveBulkResponse of client.emailSecurity.investigate.move.bulk( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', destination: 'Inbox', },
        )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: postfix_ids
          in: query
          required: false
          description: "@deprecated Body param: Deprecated, use `ids` instead. End of
            life: November 1, 2026. List of message IDs to move."
          schema:
            type: array
            items:
              type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination:
                  type: string
                  enum:
                    - Inbox
                    - JunkEmail
                    - DeletedItems
                    - RecoverableItemsDeletions
                    - RecoverableItemsPurges
                  description: Body param
                ids:
                  type: array
                  items:
                    type: string
                  description: "Body param: List of message IDs to move"
              required:
                - destination
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the operation succeeded
                  completed_at:
                    oneOf:
                      - type: string
                    nullable: true
                    description: When the move operation completed (UTC)
                  completed_timestamp:
                    type: string
                    description: "@deprecated Deprecated, use `completed_at` instead. End of life:
                      November 1, 2026."
                  destination:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Destination folder for the message
                  item_count:
                    type: number
                    description: "@deprecated Number of items moved. End of life: November 1, 2026."
                  message_id:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Message identifier
                  operation:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Type of operation performed
                  recipient:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Recipient email address
                  status:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Operation status
                required:
                  - success
      x-distilled-pagination-class: MoveBulkResponsesSinglePage
  /accounts/{account_id}/email-security/investigate/{investigateId}/preview:
    get:
      operationId: getInvestigatePreview
      description: "Returns a preview of the message body as a base64 encoded PNG
        image for non-benign messages.  @example ```ts const preview = await
        client.emailSecurity.investigate.preview.get(
        '4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: investigateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  screenshot:
                    type: string
                    description: A base64 encoded PNG image of the email.
                required:
                  - screenshot
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/investigate/preview:
    post:
      operationId: createInvestigatePreview
      description: "Generates a preview image for a message that was not flagged as a
        detection. Useful for investigating benign messages. Returns a
        base64-encoded PNG screenshot of the email body.  @example ```ts const
        preview = await client.emailSecurity.investigate.preview.create({
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', postfix_id:
        '4Njp3P0STMz2c02Q', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                postfix_id:
                  type: string
                  description: "Body param: The identifier of the message"
              required:
                - postfix_id
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  screenshot:
                    type: string
                    description: A base64 encoded PNG image of the email.
                required:
                  - screenshot
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/investigate/{investigateId}/raw:
    get:
      operationId: getInvestigateRaw
      description: "Returns the raw eml of any non-benign message.  @example ```ts
        const raw = await client.emailSecurity.investigate.raw.get(
        '4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: investigateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  raw:
                    type: string
                    description: A UTF-8 encoded eml file of the email.
                required:
                  - raw
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/investigate/{investigateId}/reclassify:
    post:
      operationId: createInvestigateReclassify
      description: "Submits a request to reclassify an email's disposition. Use for
        reporting false positives or false negatives. Optionally provide the raw
        EML content for reanalysis. The reclassification is processed
        asynchronously.  @example ```ts const reclassify = await
        client.emailSecurity.investigate.reclassify.create(
        '4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', expected_disposition: 'NONE', }, );
        ```"
      parameters:
        - name: investigateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expected_disposition:
                  type: string
                  enum:
                    - NONE
                    - BULK
                    - MALICIOUS
                    - SPAM
                    - SPOOF
                    - SUSPICIOUS
                  description: Body param
                eml_content:
                  type: string
                  description: "Body param: Base64 encoded content of the EML file."
                escalated_submission_id:
                  type: string
                  description: Body param
              required:
                - expected_disposition
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/investigate/release:
    post:
      operationId: bulkInvestigateRelease
      description: "Releases one or more quarantined messages, delivering them to the
        intended recipients. Use when a message was incorrectly quarantined.
        Returns delivery status for each recipient.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        releaseBulkResponse of client.emailSecurity.investigate.release.bulk( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', body:
        ['4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678'], }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Unique identifier for a message retrieved from investigation
                  delivered:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  failed:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                  postfix_id:
                    type: string
                    description: "@deprecated Deprecated, use `id` instead. End of life: November 1,
                      2026."
                  undelivered:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                required:
                  - id
      x-distilled-pagination-class: ReleaseBulkResponsesSinglePage
  /accounts/{account_id}/email-security/investigate/{investigateId}/trace:
    get:
      operationId: getInvestigateTrace
      description: "Retrieves delivery and processing trace information for an email
        message. Shows the delivery path, retraction history, and move
        operations performed on the message. Useful for debugging delivery
        issues.  @example ```ts const trace = await
        client.emailSecurity.investigate.trace.get(
        '4Njp3P0STMz2c02Q-2024-01-05T10:00:00-12345678', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: investigateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  inbound:
                    type: object
                    properties:
                      lines:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                lineno:
                                  type: number
                                  description: Line number in the trace log
                                logged_at:
                                  oneOf:
                                    - type: string
                                  nullable: true
                                message:
                                  type: string
                                ts:
                                  type: string
                                  description: "@deprecated Deprecated, use `logged_at` instead. End of life:
                                    November 1, 2026."
                        nullable: true
                      pending:
                        oneOf:
                          - type: boolean
                        nullable: true
                  outbound:
                    type: object
                    properties:
                      lines:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                lineno:
                                  type: number
                                  description: Line number in the trace log
                                logged_at:
                                  oneOf:
                                    - type: string
                                  nullable: true
                                message:
                                  type: string
                                ts:
                                  type: string
                                  description: "@deprecated Deprecated, use `logged_at` instead. End of life:
                                    November 1, 2026."
                        nullable: true
                      pending:
                        oneOf:
                          - type: boolean
                        nullable: true
                required:
                  - inbound
                  - outbound
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/phishguard/reports:
    get:
      operationId: listPhishguardReports
      description: "Retrieves PhishGuard security alert reports for a specified date
        range. Reports include detected threats, dispositions, and contextual
        information. Use for security monitoring and threat analysis.  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        reportListResponse of client.emailSecurity.phishguard.reports.list( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: end
          in: query
          required: false
          description: "Query param: End of the time range (RFC3339). Takes precedence
            over to_date."
          schema:
            type: string
        - name: from_date
          in: query
          required: false
          description: "Query param: Deprecated, use `start` instead. Start date in
            YYYY-MM-DD format."
          schema:
            type: string
        - name: start
          in: query
          required: false
          description: "Query param: Start of the time range (RFC3339). Takes precedence
            over from_date."
          schema:
            type: string
        - name: to_date
          in: query
          required: false
          description: "Query param: Deprecated, use `end` instead. End date in YYYY-MM-DD
            format."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                  content:
                    type: string
                  disposition:
                    type: string
                    enum:
                      - MALICIOUS
                      - MALICIOUS-BEC
                      - SUSPICIOUS
                      - SPOOF
                      - SPAM
                      - BULK
                      - ENCRYPTED
                      - EXTERNAL
                      - UNKNOWN
                      - NONE
                  fields:
                    type: object
                    properties:
                      to:
                        type: array
                        items:
                          type: string
                      from:
                        oneOf:
                          - type: string
                        nullable: true
                      occurred_at:
                        type: string
                      postfix_id:
                        oneOf:
                          - type: string
                        nullable: true
                      ts:
                        type: string
                        description: "@deprecated Deprecated, use `occurred_at` instead"
                    required:
                      - to
                  priority:
                    type: string
                  title:
                    type: string
                  created_at:
                    oneOf:
                      - type: string
                    nullable: true
                  tags:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            category:
                              type: string
                            value:
                              type: string
                          required:
                            - category
                            - value
                    nullable: true
                  ts:
                    type: string
                    description: "@deprecated Deprecated, use `created_at` instead"
                  updated_at:
                    oneOf:
                      - type: string
                    nullable: true
                required:
                  - id
                  - content
                  - disposition
                  - fields
                  - priority
                  - title
      x-distilled-pagination-class: ReportListResponsesSinglePage
  /accounts/{account_id}/email-security/settings/allow_policies/{policyId}:
    get:
      operationId: getSettingAllowPolicy
      description: "Retrieves details for a specific allow policy including its
        pattern, dispositions that are exempted, and whether it applies to all
        detections.  @example ```ts const allowPolicy = await
        client.emailSecurity.settings.allowPolicies.get(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Allow policy identifier
                  created_at:
                    type: string
                  last_modified:
                    type: string
                    description: "@deprecated Deprecated, use `modified_at` instead. End of life:
                      November 1, 2026."
                  comments:
                    oneOf:
                      - type: string
                    nullable: true
                  is_acceptable_sender:
                    type: boolean
                    description: Messages from this sender will be exempted from Spam, Spoof and
                      Bulk dispositions. Note - This will not exempt messages
                      with Malicious or Suspicious dispositions.
                  is_exempt_recipient:
                    type: boolean
                    description: Messages to this recipient will bypass all detections
                  is_recipient:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use
                      `is_exempt_recipient` instead. End of life: July 1, 2026."
                  is_regex:
                    type: boolean
                  is_sender:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use `is_trusted_sender`
                      instead. End of life: July 1, 2026."
                  is_spoof:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use
                      `is_acceptable_sender` instead. End of life: July 1,
                      2026."
                  is_trusted_sender:
                    type: boolean
                    description: Messages from this sender will bypass all detections and link
                      following
                  modified_at:
                    type: string
                  pattern:
                    type: string
                  pattern_type:
                    type: string
                    enum:
                      - EMAIL
                      - DOMAIN
                      - IP
                      - UNKNOWN
                    description: "Type of pattern matching. Note: UNKNOWN is deprecated and cannot
                      be used when creating or updating policies, but may be
                      returned for existing entries."
                  verify_sender:
                    type: boolean
                    description: Enforce DMARC, SPF or DKIM authentication. When on, Email Security
                      only honors policies that pass authentication.
                required:
                  - id
                  - created_at
                  - last_modified
      x-distilled-response-path: result
    patch:
      operationId: patchSettingAllowPolicy
      description: "Updates an existing allow policy. Only provided fields will be
        modified. Changes take effect for new emails matching the
        pattern.  @example ```ts const response = await
        client.emailSecurity.settings.allowPolicies.edit(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comments:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                is_acceptable_sender:
                  type: boolean
                  description: "Body param: Messages from this sender will be exempted from Spam,
                    Spoof and Bulk dispositions. Note - This will not exempt
                    messages with Malicious or Suspicious dispositions."
                is_exempt_recipient:
                  type: boolean
                  description: "Body param: Messages to this recipient will bypass all detections"
                is_recipient:
                  type: boolean
                  description: "@deprecated Body param: Deprecated as of July 1, 2025. Use
                    `is_exempt_recipient` instead. End of life: July 1, 2026."
                is_regex:
                  type: boolean
                  description: Body param
                is_sender:
                  type: boolean
                  description: "@deprecated Body param: Deprecated as of July 1, 2025. Use
                    `is_trusted_sender` instead. End of life: July 1, 2026."
                is_spoof:
                  type: boolean
                  description: "@deprecated Body param: Deprecated as of July 1, 2025. Use
                    `is_acceptable_sender` instead. End of life: July 1, 2026."
                is_trusted_sender:
                  type: boolean
                  description: "Body param: Messages from this sender will bypass all detections
                    and link following"
                pattern:
                  type: string
                  description: Body param
                pattern_type:
                  type: string
                  enum:
                    - EMAIL
                    - DOMAIN
                    - IP
                    - UNKNOWN
                  description: "Body param: Type of pattern matching. Note: UNKNOWN is deprecated
                    and cannot be used when creating or updating policies, but
                    may be returned for existing entries."
                verify_sender:
                  type: boolean
                  description: "Body param: Enforce DMARC, SPF or DKIM authentication. When on,
                    Email Security only honors policies that pass
                    authentication."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Allow policy identifier
                  created_at:
                    type: string
                  last_modified:
                    type: string
                    description: "@deprecated Deprecated, use `modified_at` instead. End of life:
                      November 1, 2026."
                  comments:
                    oneOf:
                      - type: string
                    nullable: true
                  is_acceptable_sender:
                    type: boolean
                    description: Messages from this sender will be exempted from Spam, Spoof and
                      Bulk dispositions. Note - This will not exempt messages
                      with Malicious or Suspicious dispositions.
                  is_exempt_recipient:
                    type: boolean
                    description: Messages to this recipient will bypass all detections
                  is_recipient:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use
                      `is_exempt_recipient` instead. End of life: July 1, 2026."
                  is_regex:
                    type: boolean
                  is_sender:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use `is_trusted_sender`
                      instead. End of life: July 1, 2026."
                  is_spoof:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use
                      `is_acceptable_sender` instead. End of life: July 1,
                      2026."
                  is_trusted_sender:
                    type: boolean
                    description: Messages from this sender will bypass all detections and link
                      following
                  modified_at:
                    type: string
                  pattern:
                    type: string
                  pattern_type:
                    type: string
                    enum:
                      - EMAIL
                      - DOMAIN
                      - IP
                      - UNKNOWN
                    description: "Type of pattern matching. Note: UNKNOWN is deprecated and cannot
                      be used when creating or updating policies, but may be
                      returned for existing entries."
                  verify_sender:
                    type: boolean
                    description: Enforce DMARC, SPF or DKIM authentication. When on, Email Security
                      only honors policies that pass authentication.
                required:
                  - id
                  - created_at
                  - last_modified
      x-distilled-response-path: result
    delete:
      operationId: deleteSettingAllowPolicy
      description: "Removes an allow policy. After deletion, emails matching this
        pattern will be subject to normal security scanning and disposition
        actions.  @example ```ts const allowPolicy = await
        client.emailSecurity.settings.allowPolicies.delete(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: policyId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Allow policy identifier
                required:
                  - id
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/settings/allow_policies:
    get:
      operationId: listSettingAllowPolicies
      description: "Returns a paginated list of email allow policies. These policies
        exempt matching emails from security detection, allowing them to bypass
        disposition actions. Supports filtering by pattern type and policy
        attributes.  @example ```ts // Automatically fetches more pages as
        needed. for await (const allowPolicyListResponse of
        client.emailSecurity.settings.allowPolicies.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: The sorting direction."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: is_acceptable_sender
          in: query
          required: false
          description: "Query param: Filter to show only policies where messages from the
            sender are exempted from Spam, Spoof, and Bulk dispositions (not
            Malicious or Suspicious)."
          schema:
            type: boolean
        - name: is_exempt_recipient
          in: query
          required: false
          description: "Query param: Filter to show only policies where messages to the
            recipient bypass all detections."
          schema:
            type: boolean
        - name: is_trusted_sender
          in: query
          required: false
          description: "Query param: Filter to show only policies where messages from the
            sender bypass all detections and link following."
          schema:
            type: boolean
        - name: order
          in: query
          required: false
          description: "Query param: Field to sort by."
          schema:
            type: string
            enum:
              - pattern
              - created_at
        - name: pattern
          in: query
          required: false
          description: Query param
          schema:
            type: string
        - name: pattern_type
          in: query
          required: false
          description: "Query param: Type of pattern matching. Note: UNKNOWN is deprecated
            and cannot be used when creating or updating policies, but may be
            returned for existing entries."
          schema:
            type: string
            enum:
              - EMAIL
              - DOMAIN
              - IP
              - UNKNOWN
        - name: search
          in: query
          required: false
          description: "Query param: Search term for filtering records. Behavior may
            change."
          schema:
            type: string
        - name: verify_sender
          in: query
          required: false
          description: "Query param: Filter to show only policies that enforce DMARC, SPF,
            or DKIM authentication."
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Allow policy identifier
                  created_at:
                    type: string
                  last_modified:
                    type: string
                    description: "@deprecated Deprecated, use `modified_at` instead. End of life:
                      November 1, 2026."
                  comments:
                    oneOf:
                      - type: string
                    nullable: true
                  is_acceptable_sender:
                    type: boolean
                    description: Messages from this sender will be exempted from Spam, Spoof and
                      Bulk dispositions. Note - This will not exempt messages
                      with Malicious or Suspicious dispositions.
                  is_exempt_recipient:
                    type: boolean
                    description: Messages to this recipient will bypass all detections
                  is_recipient:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use
                      `is_exempt_recipient` instead. End of life: July 1, 2026."
                  is_regex:
                    type: boolean
                  is_sender:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use `is_trusted_sender`
                      instead. End of life: July 1, 2026."
                  is_spoof:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use
                      `is_acceptable_sender` instead. End of life: July 1,
                      2026."
                  is_trusted_sender:
                    type: boolean
                    description: Messages from this sender will bypass all detections and link
                      following
                  modified_at:
                    type: string
                  pattern:
                    type: string
                  pattern_type:
                    type: string
                    enum:
                      - EMAIL
                      - DOMAIN
                      - IP
                      - UNKNOWN
                    description: "Type of pattern matching. Note: UNKNOWN is deprecated and cannot
                      be used when creating or updating policies, but may be
                      returned for existing entries."
                  verify_sender:
                    type: boolean
                    description: Enforce DMARC, SPF or DKIM authentication. When on, Email Security
                      only honors policies that pass authentication.
                required:
                  - id
                  - created_at
                  - last_modified
      x-distilled-pagination-class: AllowPolicyListResponsesV4PagePaginationArray
    post:
      operationId: createSettingAllowPolicy
      description: "Creates a new allow policy that exempts matching emails from
        security detections. Use with caution as this bypasses email security
        scanning. Policies can match on sender patterns and apply to specific
        detections or all detections.  @example ```ts const allowPolicy = await
        client.emailSecurity.settings.allowPolicies.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', is_acceptable_sender: false,
        is_exempt_recipient: false, is_regex: false, is_trusted_sender: true,
        pattern: 'test@example.com', pattern_type: 'EMAIL', verify_sender: true,
        }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                is_acceptable_sender:
                  type: boolean
                  description: "Body param: Messages from this sender will be exempted from Spam,
                    Spoof and Bulk dispositions. Note - This will not exempt
                    messages with Malicious or Suspicious dispositions."
                is_exempt_recipient:
                  type: boolean
                  description: "Body param: Messages to this recipient will bypass all detections"
                is_regex:
                  type: boolean
                  description: Body param
                is_trusted_sender:
                  type: boolean
                  description: "Body param: Messages from this sender will bypass all detections
                    and link following"
                pattern:
                  type: string
                  description: Body param
                pattern_type:
                  type: string
                  enum:
                    - EMAIL
                    - DOMAIN
                    - IP
                    - UNKNOWN
                  description: "Body param: Type of pattern matching. Note: UNKNOWN is deprecated
                    and cannot be used when creating or updating policies, but
                    may be returned for existing entries."
                verify_sender:
                  type: boolean
                  description: "Body param: Enforce DMARC, SPF or DKIM authentication. When on,
                    Email Security only honors policies that pass
                    authentication."
                comments:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                is_recipient:
                  type: boolean
                  description: "@deprecated Body param: Deprecated as of July 1, 2025. Use
                    `is_exempt_recipient` instead. End of life: July 1, 2026."
                is_sender:
                  type: boolean
                  description: "@deprecated Body param: Deprecated as of July 1, 2025. Use
                    `is_trusted_sender` instead. End of life: July 1, 2026."
                is_spoof:
                  type: boolean
                  description: "@deprecated Body param: Deprecated as of July 1, 2025. Use
                    `is_acceptable_sender` instead. End of life: July 1, 2026."
              required:
                - is_acceptable_sender
                - is_exempt_recipient
                - is_regex
                - is_trusted_sender
                - pattern
                - pattern_type
                - verify_sender
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Allow policy identifier
                  created_at:
                    type: string
                  last_modified:
                    type: string
                    description: "@deprecated Deprecated, use `modified_at` instead. End of life:
                      November 1, 2026."
                  comments:
                    oneOf:
                      - type: string
                    nullable: true
                  is_acceptable_sender:
                    type: boolean
                    description: Messages from this sender will be exempted from Spam, Spoof and
                      Bulk dispositions. Note - This will not exempt messages
                      with Malicious or Suspicious dispositions.
                  is_exempt_recipient:
                    type: boolean
                    description: Messages to this recipient will bypass all detections
                  is_recipient:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use
                      `is_exempt_recipient` instead. End of life: July 1, 2026."
                  is_regex:
                    type: boolean
                  is_sender:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use `is_trusted_sender`
                      instead. End of life: July 1, 2026."
                  is_spoof:
                    type: boolean
                    description: "@deprecated Deprecated as of July 1, 2025. Use
                      `is_acceptable_sender` instead. End of life: July 1,
                      2026."
                  is_trusted_sender:
                    type: boolean
                    description: Messages from this sender will bypass all detections and link
                      following
                  modified_at:
                    type: string
                  pattern:
                    type: string
                  pattern_type:
                    type: string
                    enum:
                      - EMAIL
                      - DOMAIN
                      - IP
                      - UNKNOWN
                    description: "Type of pattern matching. Note: UNKNOWN is deprecated and cannot
                      be used when creating or updating policies, but may be
                      returned for existing entries."
                  verify_sender:
                    type: boolean
                    description: Enforce DMARC, SPF or DKIM authentication. When on, Email Security
                      only honors policies that pass authentication.
                required:
                  - id
                  - created_at
                  - last_modified
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/settings/block_senders/{patternId}:
    get:
      operationId: getSettingBlockSender
      description: "Retrieves details for a specific blocked sender pattern including
        its pattern type, value, and metadata.  @example ```ts const blockSender
        = await client.emailSecurity.settings.blockSenders.get(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: patternId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Blocked sender pattern identifier
                  comments:
                    oneOf:
                      - type: string
                    nullable: true
                  created_at:
                    type: string
                  is_regex:
                    type: boolean
                  last_modified:
                    type: string
                    description: "@deprecated Deprecated, use `modified_at` instead. End of life:
                      November 1, 2026."
                  modified_at:
                    type: string
                  pattern:
                    type: string
                  pattern_type:
                    type: string
                    enum:
                      - EMAIL
                      - DOMAIN
                      - IP
                      - UNKNOWN
                    description: "Type of pattern matching. Note: UNKNOWN is deprecated and cannot
                      be used when creating or updating policies, but may be
                      returned for existing entries."
      x-distilled-response-path: result
    patch:
      operationId: patchSettingBlockSender
      description: "Updates an existing blocked sender pattern. Only provided fields
        will be modified. The pattern will continue blocking emails until
        deleted.  @example ```ts const response = await
        client.emailSecurity.settings.blockSenders.edit(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: patternId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comments:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                is_regex:
                  type: boolean
                  description: Body param
                pattern:
                  type: string
                  description: Body param
                pattern_type:
                  type: string
                  enum:
                    - EMAIL
                    - DOMAIN
                    - IP
                    - UNKNOWN
                  description: "Body param: Type of pattern matching. Note: UNKNOWN is deprecated
                    and cannot be used when creating or updating policies, but
                    may be returned for existing entries."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Blocked sender pattern identifier
                  comments:
                    oneOf:
                      - type: string
                    nullable: true
                  created_at:
                    type: string
                  is_regex:
                    type: boolean
                  last_modified:
                    type: string
                    description: "@deprecated Deprecated, use `modified_at` instead. End of life:
                      November 1, 2026."
                  modified_at:
                    type: string
                  pattern:
                    type: string
                  pattern_type:
                    type: string
                    enum:
                      - EMAIL
                      - DOMAIN
                      - IP
                      - UNKNOWN
                    description: "Type of pattern matching. Note: UNKNOWN is deprecated and cannot
                      be used when creating or updating policies, but may be
                      returned for existing entries."
      x-distilled-response-path: result
    delete:
      operationId: deleteSettingBlockSender
      description: "Removes a blocked sender pattern. After deletion, emails from this
        sender will no longer be automatically blocked based on this
        rule.  @example ```ts const blockSender = await
        client.emailSecurity.settings.blockSenders.delete(
        'f174e90a-fafe-4643-bbbc-4a0ed4fc8415', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: patternId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Blocked sender pattern identifier
                required:
                  - id
      x-distilled-response-path: result
  /accounts/{account_id}/email-security/settings/block_senders:
    get:
      operationId: listSettingBlockSenders
      description: "Returns a paginated list of blocked email sender patterns. These
        patterns prevent emails from matching senders from being delivered.
        Supports filtering by pattern type and searching across
        patterns.  @example ```ts // Automatically fetches more pages as needed.
        for await (const blockSenderListResponse of
        client.emailSecurity.settings.blockSenders.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: The sorting direction."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: order
          in: query
          required: false
          description: "Query param: Field to sort by."
          schema:
            type: string
            enum:
              - pattern
              - created_at
        - name: pattern
          in: query
          required: false
          description: "Query param: Filter by pattern value."
          schema:
            type: string
        - name: pattern_type
          in: query
          required: false
          description: "Query param: Filter by pattern type."
          schema:
            type: string
            enum:
              - EMAIL
              - DOMAIN
              - IP
              - UNKNOWN
        - name: search
          in: query
          required: false
          description: "Query param: Search term for filtering records. Behavior may
            change."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Blocked sender pattern identifier
                  comments:
                    oneOf:
                      - type: string
                    nullable: true
                  created_at:
                    type: string
                  is_regex:
                    type: boolean
                  last_modified:
                    type: string
                    description: "@deprecated Deprecated, use `modified_at` instead. End of life:
                      November 1, 2026."
                  modified_at:
                    type: string
                  pattern:
                    type: string
                  pattern_type:
                    type: string
                    enum:
[...]
