openapi: 3.1.0
info:
  title: Cloudflare EMAIL-ROUTING API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: email-routing
paths:
  /accounts/{account_id}/email/routing/addresses/{destinationAddressIdentifier}:
    get:
      operationId: getAddress
      description: "Gets information for a specific destination email already
        created.  @example ```ts const address = await
        client.emailRouting.addresses.get( 'ea95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: destinationAddressIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Destination address identifier.
                  created:
                    type: string
                    description: The date and time the destination address has been created.
                  email:
                    type: string
                    description: The contact email address of the user.
                  modified:
                    type: string
                    description: The date and time the destination address was last modified.
                  tag:
                    type: string
                    description: "@deprecated Destination address tag. (Deprecated, replaced by
                      destination address identifier)"
                  verified:
                    type: string
                    description: The date and time the destination address has been verified. Null
                      means not verified yet.
      x-distilled-response-path: result
    delete:
      operationId: deleteAddress
      description: "Deletes a specific destination address.  @example ```ts const
        address = await client.emailRouting.addresses.delete(
        'ea95132c15732412d22c1476fa83f27a', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: destinationAddressIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Destination address identifier.
                  created:
                    type: string
                    description: The date and time the destination address has been created.
                  email:
                    type: string
                    description: The contact email address of the user.
                  modified:
                    type: string
                    description: The date and time the destination address was last modified.
                  tag:
                    type: string
                    description: "@deprecated Destination address tag. (Deprecated, replaced by
                      destination address identifier)"
                  verified:
                    type: string
                    description: The date and time the destination address has been verified. Null
                      means not verified yet.
      x-distilled-response-path: result
  /accounts/{account_id}/email/routing/addresses:
    get:
      operationId: listAddresses
      description: "Lists existing destination addresses.  @example ```ts //
        Automatically fetches more pages as needed. for await (const address of
        client.emailRouting.addresses.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: direction
          in: query
          required: false
          description: "Query param: Sorts results in an ascending or descending order."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: verified
          in: query
          required: false
          description: "Query param: Filter by verified destination addresses."
          schema:
            type: boolean
            enum:
              - true
              - false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Destination address identifier.
                  created:
                    type: string
                    description: The date and time the destination address has been created.
                  email:
                    type: string
                    description: The contact email address of the user.
                  modified:
                    type: string
                    description: The date and time the destination address was last modified.
                  tag:
                    type: string
                    description: "@deprecated Destination address tag. (Deprecated, replaced by
                      destination address identifier)"
                  verified:
                    type: string
                    description: The date and time the destination address has been verified. Null
                      means not verified yet.
      x-distilled-pagination-class: AddressesV4PagePaginationArray
    post:
      operationId: createAddress
      description: "Create a destination address to forward your emails to.
        Destination addresses need to be verified before they can be
        used.  @example ```ts const address = await
        client.emailRouting.addresses.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', email: 'user@example.com', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "Body param: The contact email address of the user."
              required:
                - email
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Destination address identifier.
                  created:
                    type: string
                    description: The date and time the destination address has been created.
                  email:
                    type: string
                    description: The contact email address of the user.
                  modified:
                    type: string
                    description: The date and time the destination address was last modified.
                  tag:
                    type: string
                    description: "@deprecated Destination address tag. (Deprecated, replaced by
                      destination address identifier)"
                  verified:
                    type: string
                    description: The date and time the destination address has been verified. Null
                      means not verified yet.
      x-distilled-response-path: result
  /zones/{zone_id}/email/routing/dns:
    get:
      operationId: getDns
      description: "Show the DNS records needed to configure your Email Routing
        zone.  @example ```ts const dns = await client.emailRouting.dns.get({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: subdomain
          in: query
          required: false
          description: "Query param: Domain of your zone."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: number
                            message:
                              type: string
                            documentation_url:
                              type: string
                            source:
                              type: object
                              properties:
                                pointer:
                                  type: string
                          required:
                            - code
                            - message
                      messages:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: number
                            message:
                              type: string
                            documentation_url:
                              type: string
                            source:
                              type: object
                              properties:
                                pointer:
                                  type: string
                          required:
                            - code
                            - message
                      success:
                        type: boolean
                        enum:
                          - true
                        description: Whether the API call was successful.
                      result:
                        type: object
                        properties:
                          errors:
                            type: array
                            items:
                              type: object
                              properties:
                                code:
                                  type: string
                                missing:
                                  type: object
                                  properties:
                                    content:
                                      type: string
                                      description: DNS record content.
                                    name:
                                      type: string
                                      description: DNS record name (or @ for the zone apex).
                                    priority:
                                      type: number
                                      description: Required for MX, SRV and URI records. Unused by other record types.
                                        Records with lower priorities are
                                        preferred.
                                    ttl:
                                      oneOf:
                                        - type: number
                                        - type: number
                                          enum:
                                            - 1
                                      description: Time to live, in seconds, of the DNS record. Must be between 60 and
                                        86400, or 1 for 'automatic'.
                                    type:
                                      type: string
                                      enum:
                                        - A
                                        - AAAA
                                        - CNAME
                                        - HTTPS
                                        - TXT
                                        - SRV
                                        - LOC
                                        - MX
                                        - NS
                                        - CERT
                                        - DNSKEY
                                        - DS
                                        - NAPTR
                                        - SMIMEA
                                        - SSHFP
                                        - SVCB
                                        - TLSA
                                        - URI
                                      description: DNS record type.
                                  description: List of records needed to enable an Email Routing zone.
                          record:
                            type: array
                            items:
                              type: object
                              properties:
                                content:
                                  type: string
                                  description: DNS record content.
                                name:
                                  type: string
                                  description: DNS record name (or @ for the zone apex).
                                priority:
                                  type: number
                                  description: Required for MX, SRV and URI records. Unused by other record types.
                                    Records with lower priorities are preferred.
                                ttl:
                                  oneOf:
                                    - type: number
                                    - type: number
                                      enum:
                                        - 1
                                  description: Time to live, in seconds, of the DNS record. Must be between 60 and
                                    86400, or 1 for 'automatic'.
                                type:
                                  type: string
                                  enum:
                                    - A
                                    - AAAA
                                    - CNAME
                                    - HTTPS
                                    - TXT
                                    - SRV
                                    - LOC
                                    - MX
                                    - NS
                                    - CERT
                                    - DNSKEY
                                    - DS
                                    - NAPTR
                                    - SMIMEA
                                    - SSHFP
                                    - SVCB
                                    - TLSA
                                    - URI
                                  description: DNS record type.
                      result_info:
                        type: object
                        properties:
                          count:
                            type: number
                            description: Total number of results for the requested service.
                          page:
                            type: number
                            description: Current page within paginated list of results.
                          per_page:
                            type: number
                            description: Number of results per page of results.
                          total_count:
                            type: number
                            description: Total results available without any search parameters.
                    required:
                      - errors
                      - messages
                      - success
                  - type: object
                    properties:
                      errors:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: number
                            message:
                              type: string
                            documentation_url:
                              type: string
                            source:
                              type: object
                              properties:
                                pointer:
                                  type: string
                          required:
                            - code
                            - message
                      messages:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: number
                            message:
                              type: string
                            documentation_url:
                              type: string
                            source:
                              type: object
                              properties:
                                pointer:
                                  type: string
                          required:
                            - code
                            - message
                      success:
                        type: boolean
                        enum:
                          - true
                        description: Whether the API call was successful.
                      result:
                        type: array
                        items:
                          type: object
                          properties:
                            content:
                              type: string
                              description: DNS record content.
                            name:
                              type: string
                              description: DNS record name (or @ for the zone apex).
                            priority:
                              type: number
                              description: Required for MX, SRV and URI records. Unused by other record types.
                                Records with lower priorities are preferred.
                            ttl:
                              oneOf:
                                - type: number
                                - type: number
                                  enum:
                                    - 1
                              description: Time to live, in seconds, of the DNS record. Must be between 60 and
                                86400, or 1 for 'automatic'.
                            type:
                              type: string
                              enum:
                                - A
                                - AAAA
                                - CNAME
                                - HTTPS
                                - TXT
                                - SRV
                                - LOC
                                - MX
                                - NS
                                - CERT
                                - DNSKEY
                                - DS
                                - NAPTR
                                - SMIMEA
                                - SSHFP
                                - SVCB
                                - TLSA
                                - URI
                              description: DNS record type.
                      result_info:
                        type: object
                        properties:
                          count:
                            type: number
                            description: Total number of results for the requested service.
                          page:
                            type: number
                            description: Current page within paginated list of results.
                          per_page:
                            type: number
                            description: Number of results per page of results.
                          total_count:
                            type: number
                            description: Total results available without any search parameters.
                    required:
                      - errors
                      - messages
                      - success
    post:
      operationId: createDns
      description: "Enable you Email Routing zone. Add and lock the necessary MX and
        SPF records.  @example ```ts const settings = await
        client.emailRouting.dns.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Domain of your zone."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Email Routing settings identifier.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: State of the zone settings for Email Routing.
                  name:
                    type: string
                    description: Domain of your zone.
                  created:
                    type: string
                    description: The date and time the settings have been created.
                  modified:
                    type: string
                    description: The date and time the settings have been modified.
                  skip_wizard:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Flag to check if the user skipped the configuration wizard.
                  status:
                    type: string
                    enum:
                      - ready
                      - unconfigured
                      - misconfigured
                      - misconfigured/locked
                      - unlocked
                    description: Show the state of your account, and the type or configuration
                      error.
                  tag:
                    type: string
                    description: "@deprecated Email Routing settings tag. (Deprecated, replaced by
                      Email Routing settings identifier)"
                required:
                  - id
                  - enabled
                  - name
      x-distilled-response-path: result
    patch:
      operationId: patchDns
      description: "Unlock MX Records previously locked by Email Routing.  @example
        ```ts const settings = await client.emailRouting.dns.edit({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Domain of your zone."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Email Routing settings identifier.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: State of the zone settings for Email Routing.
                  name:
                    type: string
                    description: Domain of your zone.
                  created:
                    type: string
                    description: The date and time the settings have been created.
                  modified:
                    type: string
                    description: The date and time the settings have been modified.
                  skip_wizard:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Flag to check if the user skipped the configuration wizard.
                  status:
                    type: string
                    enum:
                      - ready
                      - unconfigured
                      - misconfigured
                      - misconfigured/locked
                      - unlocked
                    description: Show the state of your account, and the type or configuration
                      error.
                  tag:
                    type: string
                    description: "@deprecated Email Routing settings tag. (Deprecated, replaced by
                      Email Routing settings identifier)"
                required:
                  - id
                  - enabled
                  - name
      x-distilled-response-path: result
    delete:
      operationId: deleteDns
      description: "Disable your Email Routing zone. Also removes additional MX
        records previously required for Email Routing to work.  @example ```ts
        // Automatically fetches more pages as needed. for await (const
        dnsRecord of client.emailRouting.dns.delete( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: string
                    description: DNS record content.
                  name:
                    type: string
                    description: DNS record name (or @ for the zone apex).
                  priority:
                    type: number
                    description: Required for MX, SRV and URI records. Unused by other record types.
                      Records with lower priorities are preferred.
                  ttl:
                    oneOf:
                      - type: number
                      - type: number
                        enum:
                          - 1
                    description: Time to live, in seconds, of the DNS record. Must be between 60 and
                      86400, or 1 for 'automatic'.
                  type:
                    type: string
                    enum:
                      - A
                      - AAAA
                      - CNAME
                      - HTTPS
                      - TXT
                      - SRV
                      - LOC
                      - MX
                      - NS
                      - CERT
                      - DNSKEY
                      - DS
                      - NAPTR
                      - SMIMEA
                      - SSHFP
                      - SVCB
                      - TLSA
                      - URI
                    description: DNS record type.
      x-distilled-pagination-class: DNSRecordsSinglePage
  /zones/{zone_id}/email/routing:
    get:
      operationId: getEmailRouting
      description: "Get information about the settings for your Email Routing
        zone.  @example ```ts const settings = await client.emailRouting.get({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Email Routing settings identifier.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: State of the zone settings for Email Routing.
                  name:
                    type: string
                    description: Domain of your zone.
                  created:
                    type: string
                    description: The date and time the settings have been created.
                  modified:
                    type: string
                    description: The date and time the settings have been modified.
                  skip_wizard:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Flag to check if the user skipped the configuration wizard.
                  status:
                    type: string
                    enum:
                      - ready
                      - unconfigured
                      - misconfigured
                      - misconfigured/locked
                      - unlocked
                    description: Show the state of your account, and the type or configuration
                      error.
                  tag:
                    type: string
                    description: "@deprecated Email Routing settings tag. (Deprecated, replaced by
                      Email Routing settings identifier)"
                required:
                  - id
                  - enabled
                  - name
      x-distilled-response-path: result
  /zones/{zone_id}/email/routing/enable:
    post:
      operationId: enableEmailRouting
      description: Enable you Email Routing zone. Add and lock the necessary MX and
        SPF records.  @deprecated
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Email Routing settings identifier.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: State of the zone settings for Email Routing.
                  name:
                    type: string
                    description: Domain of your zone.
                  created:
                    type: string
                    description: The date and time the settings have been created.
                  modified:
                    type: string
                    description: The date and time the settings have been modified.
                  skip_wizard:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Flag to check if the user skipped the configuration wizard.
                  status:
                    type: string
                    enum:
                      - ready
                      - unconfigured
                      - misconfigured
                      - misconfigured/locked
                      - unlocked
                    description: Show the state of your account, and the type or configuration
                      error.
                  tag:
                    type: string
                    description: "@deprecated Email Routing settings tag. (Deprecated, replaced by
                      Email Routing settings identifier)"
                required:
                  - id
                  - enabled
                  - name
      x-distilled-response-path: result
  /zones/{zone_id}/email/routing/disable:
    post:
      operationId: disableEmailRouting
      description: Disable your Email Routing zone. Also removes additional MX records
        previously required for Email Routing to work.  @deprecated
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Email Routing settings identifier.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: State of the zone settings for Email Routing.
                  name:
                    type: string
                    description: Domain of your zone.
                  created:
                    type: string
                    description: The date and time the settings have been created.
                  modified:
                    type: string
                    description: The date and time the settings have been modified.
                  skip_wizard:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Flag to check if the user skipped the configuration wizard.
                  status:
                    type: string
                    enum:
                      - ready
                      - unconfigured
                      - misconfigured
                      - misconfigured/locked
                      - unlocked
                    description: Show the state of your account, and the type or configuration
                      error.
                  tag:
                    type: string
                    description: "@deprecated Email Routing settings tag. (Deprecated, replaced by
                      Email Routing settings identifier)"
                required:
                  - id
                  - enabled
                  - name
      x-distilled-response-path: result
  /zones/{zone_id}/email/routing/rules/{ruleIdentifier}:
    get:
      operationId: getRule
      description: "Get information for a specific routing rule already
        created.  @example ```ts const emailRoutingRule = await
        client.emailRouting.rules.get( 'a7e6fb77503c41d8a7f3113c6918f10c', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Routing rule identifier.
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - drop
                            - forward
                            - worker
                          description: Type of supported action.
                        value:
                          type: array
                          items:
                            type: string
                      required:
                        - type
                    description: List actions patterns.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Routing rule status.
                  matchers:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - all
                            - literal
                          description: Type of matcher.
                        field:
                          type: string
                          enum:
                            - to
                          description: Field for type matcher.
                        value:
                          type: string
                          description: Value for matcher.
                      required:
                        - type
                    description: Matching patterns to forward to your actions.
                  name:
                    type: string
                    description: Routing rule name.
                  priority:
                    type: number
                    description: Priority of the routing rule.
                  tag:
                    type: string
                    description: "@deprecated Routing rule tag. (Deprecated, replaced by routing
                      rule identifier)"
      x-distilled-response-path: result
    put:
      operationId: updateRule
      description: "Update actions and matches, or enable/disable specific routing
        rules.  @example ```ts const emailRoutingRule = await
        client.emailRouting.rules.update( 'a7e6fb77503c41d8a7f3113c6918f10c', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', actions: [{ type: 'forward'
        }], matchers: [{ type: 'literal' }], }, ); ```"
      parameters:
        - name: ruleIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - drop
                          - forward
                          - worker
                        description: Type of supported action.
                      value:
                        type: array
                        items:
                          type: string
                    required:
                      - type
                  description: "Body param: List actions patterns."
                matchers:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - all
                          - literal
                        description: Type of matcher.
                      field:
                        type: string
                        enum:
                          - to
                        description: Field for type matcher.
                      value:
                        type: string
                        description: Value for matcher.
                    required:
                      - type
                  description: "Body param: Matching patterns to forward to your actions."
                enabled:
                  type: boolean
                  enum:
                    - true
                    - false
                  description: "Body param: Routing rule status."
                name:
                  type: string
                  description: "Body param: Routing rule name."
                priority:
                  type: number
                  description: "Body param: Priority of the routing rule."
              required:
                - actions
                - matchers
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Routing rule identifier.
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - drop
                            - forward
                            - worker
                          description: Type of supported action.
                        value:
                          type: array
                          items:
                            type: string
                      required:
                        - type
                    description: List actions patterns.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Routing rule status.
                  matchers:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - all
                            - literal
                          description: Type of matcher.
                        field:
                          type: string
                          enum:
                            - to
                          description: Field for type matcher.
                        value:
                          type: string
                          description: Value for matcher.
                      required:
                        - type
                    description: Matching patterns to forward to your actions.
                  name:
                    type: string
                    description: Routing rule name.
                  priority:
                    type: number
                    description: Priority of the routing rule.
                  tag:
                    type: string
                    description: "@deprecated Routing rule tag. (Deprecated, replaced by routing
                      rule identifier)"
      x-distilled-response-path: result
    delete:
      operationId: deleteRule
      description: "Delete a specific routing rule.  @example ```ts const
        emailRoutingRule = await client.emailRouting.rules.delete(
        'a7e6fb77503c41d8a7f3113c6918f10c', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Routing rule identifier.
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - drop
                            - forward
                            - worker
                          description: Type of supported action.
                        value:
                          type: array
                          items:
                            type: string
                      required:
                        - type
                    description: List actions patterns.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Routing rule status.
                  matchers:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - all
                            - literal
                          description: Type of matcher.
                        field:
                          type: string
                          enum:
                            - to
                          description: Field for type matcher.
                        value:
                          type: string
                          description: Value for matcher.
                      required:
                        - type
                    description: Matching patterns to forward to your actions.
                  name:
                    type: string
                    description: Routing rule name.
                  priority:
                    type: number
                    description: Priority of the routing rule.
                  tag:
                    type: string
                    description: "@deprecated Routing rule tag. (Deprecated, replaced by routing
                      rule identifier)"
      x-distilled-response-path: result
  /zones/{zone_id}/email/routing/rules:
    get:
      operationId: listRules
      description: "Lists existing routing rules.  @example ```ts // Automatically
        fetches more pages as needed. for await (const emailRoutingRule of
        client.emailRouting.rules.list( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: enabled
          in: query
          required: false
          description: "Query param: Filter by enabled routing rules."
          schema:
            type: boolean
            enum:
              - true
              - false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Routing rule identifier.
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - drop
                            - forward
                            - worker
                          description: Type of supported action.
                        value:
                          type: array
                          items:
                            type: string
                      required:
                        - type
                    description: List actions patterns.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Routing rule status.
                  matchers:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - all
                            - literal
                          description: Type of matcher.
                        field:
                          type: string
                          enum:
                            - to
                          description: Field for type matcher.
                        value:
                          type: string
                          description: Value for matcher.
                      required:
                        - type
                    description: Matching patterns to forward to your actions.
                  name:
                    type: string
                    description: Routing rule name.
                  priority:
                    type: number
                    description: Priority of the routing rule.
                  tag:
                    type: string
                    description: "@deprecated Routing rule tag. (Deprecated, replaced by routing
                      rule identifier)"
      x-distilled-pagination-class: EmailRoutingRulesV4PagePaginationArray
    post:
      operationId: createRule
      description: "Rules consist of a set of criteria for matching emails (such as an
        email being sent to a specific custom email address) plus a set of
        actions to take on the email (like forwarding it to a specific
        destination address).  @example ```ts const emailRoutingRule = await
        client.emailRouting.rules.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', actions: [{ type: 'forward' }],
        matchers: [{ type: 'literal' }], }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - drop
                          - forward
                          - worker
                        description: Type of supported action.
                      value:
                        type: array
                        items:
                          type: string
                    required:
                      - type
                  description: "Body param: List actions patterns."
                matchers:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - all
                          - literal
                        description: Type of matcher.
                      field:
                        type: string
                        enum:
                          - to
                        description: Field for type matcher.
                      value:
                        type: string
                        description: Value for matcher.
                    required:
                      - type
                  description: "Body param: Matching patterns to forward to your actions."
                enabled:
                  type: boolean
                  enum:
                    - true
                    - false
                  description: "Body param: Routing rule status."
                name:
                  type: string
                  description: "Body param: Routing rule name."
                priority:
                  type: number
                  description: "Body param: Priority of the routing rule."
              required:
                - actions
                - matchers
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Routing rule identifier.
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - drop
                            - forward
                            - worker
                          description: Type of supported action.
                        value:
                          type: array
                          items:
                            type: string
                      required:
                        - type
                    description: List actions patterns.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Routing rule status.
                  matchers:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - all
                            - literal
                          description: Type of matcher.
                        field:
                          type: string
                          enum:
                            - to
                          description: Field for type matcher.
                        value:
                          type: string
                          description: Value for matcher.
                      required:
                        - type
                    description: Matching patterns to forward to your actions.
                  name:
                    type: string
                    description: Routing rule name.
                  priority:
                    type: number
                    description: Priority of the routing rule.
                  tag:
                    type: string
                    description: "@deprecated Routing rule tag. (Deprecated, replaced by routing
                      rule identifier)"
      x-distilled-response-path: result
  /zones/{zone_id}/email/routing/rules/catch_all:
    get:
      operationId: getRuleCatchAll
      description: "Get information on the default catch-all routing rule.  @example
        ```ts const catchAll = await client.emailRouting.rules.catchAlls.get({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Routing rule identifier.
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - drop
                            - forward
                            - worker
                          description: Type of action for catch-all rule.
                        value:
                          type: array
                          items:
                            type: string
                      required:
                        - type
                    description: List actions for the catch-all routing rule.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Routing rule status.
                  matchers:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - all
                          description: Type of matcher. Default is 'all'.
                      required:
                        - type
                    description: List of matchers for the catch-all routing rule.
                  name:
                    type: string
                    description: Routing rule name.
                  tag:
                    type: string
                    description: "@deprecated Routing rule tag. (Deprecated, replaced by routing
                      rule identifier)"
      x-distilled-response-path: result
    put:
      operationId: putRuleCatchAll
      description: "Enable or disable catch-all routing rule, or change action to
        forward to specific destination address.  @example ```ts const catchAll
        = await client.emailRouting.rules.catchAlls.update({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', actions: [{ type: 'forward' }],
        matchers: [{ type: 'all' }], }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - drop
                          - forward
                          - worker
                        description: Type of action for catch-all rule.
                      value:
                        type: array
                        items:
                          type: string
                    required:
                      - type
                  description: "Body param: List actions for the catch-all routing rule."
                matchers:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - all
                        description: Type of matcher. Default is 'all'.
                    required:
                      - type
                  description: "Body param: List of matchers for the catch-all routing rule."
                enabled:
                  type: boolean
                  enum:
                    - true
                    - false
                  description: "Body param: Routing rule status."
                name:
                  type: string
                  description: "Body param: Routing rule name."
              required:
                - actions
                - matchers
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Routing rule identifier.
                  actions:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - drop
                            - forward
                            - worker
                          description: Type of action for catch-all rule.
                        value:
                          type: array
                          items:
                            type: string
                      required:
                        - type
                    description: List actions for the catch-all routing rule.
                  enabled:
                    type: boolean
                    enum:
                      - true
                      - false
                    description: Routing rule status.
                  matchers:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - all
                          description: Type of matcher. Default is 'all'.
                      required:
                        - type
                    description: List of matchers for the catch-all routing rule.
                  name:
                    type: string
                    description: Routing rule name.
                  tag:
                    type: string
                    description: "@deprecated Routing rule tag. (Deprecated, replaced by routing
                      rule identifier)"
      x-distilled-response-path: result
