openapi: 3.1.0
info:
  title: Cloudflare FILTERS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: filters
paths:
  /zones/{zone_id}/filters/{filterId}:
    get:
      operationId: getFilter
      description: Fetches the details of a filter.  @deprecated The Filters API is
        deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the filter.
                  description:
                    type: string
                    description: An informative summary of the filter.
                  expression:
                    type: string
                    description: The filter expression. For more information, refer to
                      [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                  paused:
                    type: boolean
                    description: When true, indicates that the filter is currently paused.
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related filters.
      x-distilled-response-path: result
    put:
      operationId: updateFilter
      description: Updates an existing filter.  @deprecated The Filters API is
        deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: "Body param: An informative summary of the filter."
                expression:
                  type: string
                  description: "Body param: The filter expression. For more information, refer to
                    [Expressions](https://developers.cloudflare.com/ruleset-eng\
                    ine/rules-language/expressions/)."
                paused:
                  type: boolean
                  description: "Body param: When true, indicates that the filter is currently
                    paused."
                ref:
                  type: string
                  description: "Body param: A short reference tag. Allows you to select related
                    filters."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the filter.
                  description:
                    type: string
                    description: An informative summary of the filter.
                  expression:
                    type: string
                    description: The filter expression. For more information, refer to
                      [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                  paused:
                    type: boolean
                    description: When true, indicates that the filter is currently paused.
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related filters.
      x-distilled-response-path: result
    delete:
      operationId: deleteFilter
      description: Deletes an existing filter.  @deprecated The Filters API is
        deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: filterId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the filter.
                required:
                  - id
      x-distilled-response-path: result
  /zones/{zone_id}/filters:
    get:
      operationId: listFilters
      description: Fetches filters in a zone. You can filter the results using several
        optional parameters.  @deprecated The Filters API is deprecated in
        favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: "Query param: The unique identifier of the filter."
          schema:
            type: string
        - name: description
          in: query
          required: false
          description: "Query param: A case-insensitive string to find in the description."
          schema:
            type: string
        - name: expression
          in: query
          required: false
          description: "Query param: A case-insensitive string to find in the expression."
          schema:
            type: string
        - name: paused
          in: query
          required: false
          description: "Query param: When true, indicates that the filter is currently
            paused."
          schema:
            type: boolean
        - name: ref
          in: query
          required: false
          description: "Query param: The filter ref (a short reference tag) to search for.
            Must be an exact match."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the filter.
                  description:
                    type: string
                    description: An informative summary of the filter.
                  expression:
                    type: string
                    description: The filter expression. For more information, refer to
                      [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                  paused:
                    type: boolean
                    description: When true, indicates that the filter is currently paused.
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related filters.
      x-distilled-pagination-class: FirewallFiltersV4PagePaginationArray
    post:
      operationId: createFilter
      description: Creates one or more filters.  @deprecated The Filters API is
        deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  description:
                    type: string
                    description: An informative summary of the filter.
                  expression:
                    type: string
                    description: The filter expression. For more information, refer to
                      [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                  paused:
                    type: boolean
                    description: When true, indicates that the filter is currently paused.
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related filters.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the filter.
                  description:
                    type: string
                    description: An informative summary of the filter.
                  expression:
                    type: string
                    description: The filter expression. For more information, refer to
                      [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                  paused:
                    type: boolean
                    description: When true, indicates that the filter is currently paused.
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related filters.
      x-distilled-pagination-class: FirewallFiltersSinglePage
    delete:
      operationId: bulkDeleteFilters
      description: Deletes one or more existing filters.  @deprecated The Filters API
        is deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
        - name: id
          in: query
          required: true
          description: "Query param:"
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The unique identifier of the filter.
      x-distilled-response-path: result
    put:
      operationId: bulkPutFilters
      description: Updates one or more existing filters.  @deprecated The Filters API
        is deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  description:
                    type: string
                    description: An informative summary of the filter.
                  expression:
                    type: string
                    description: The filter expression. For more information, refer to
                      [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                  paused:
                    type: boolean
                    description: When true, indicates that the filter is currently paused.
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related filters.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the filter.
                  description:
                    type: string
                    description: An informative summary of the filter.
                  expression:
                    type: string
                    description: The filter expression. For more information, refer to
                      [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                  paused:
                    type: boolean
                    description: When true, indicates that the filter is currently paused.
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related filters.
      x-distilled-pagination-class: FirewallFiltersSinglePage
