openapi: 3.1.0
info:
  title: Cloudflare FIREWALL API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: firewall
paths:
  /{accountOrZone}/{accountOrZoneId}/firewall/access_rules/rules/{ruleId}:
    get:
      operationId: getAccessRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the IP Access rule.
                  allowed_modes:
                    type: array
                    items:
                      type: string
                      enum:
                        - block
                        - challenge
                        - whitelist
                        - js_challenge
                        - managed_challenge
                    description: The available actions that a rule can apply to a matched request.
                  configuration:
                    oneOf:
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip
                            description: The configuration target. You must set the target to `ip` when
                              specifying an IP address in the rule.
                          value:
                            type: string
                            description: The IP address to match. This address will be compared to the IP
                              address of incoming requests.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip6
                            description: The configuration target. You must set the target to `ip6` when
                              specifying an IPv6 address in the rule.
                          value:
                            type: string
                            description: The IPv6 address to match.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip_range
                            description: The configuration target. You must set the target to `ip_range`
                              when specifying an IP address range in the rule.
                          value:
                            type: string
                            description: The IP address range to match. You can only use prefix lengths
                              `/16` and `/24` for IPv4 ranges, and prefix
                              lengths `/32`, `/48`, and `/64` for IPv6 ranges.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - asn
                            description: The configuration target. You must set the target to `asn` when
                              specifying an Autonomous System Number (ASN) in
                              the rule.
                          value:
                            type: string
                            description: The AS number to match.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - country
                            description: The configuration target. You must set the target to `country` when
                              specifying a country code in the rule.
                          value:
                            type: string
                            description: "The two-letter ISO-3166-1 alpha-2 code to match. For more
                              information, refer to [IP Access rules:
                              Parameters](https://developers.cloudflare.com/waf\
                              /tools/ip-access-rules/parameters/#country)."
                    description: The rule configuration.
                  mode:
                    type: string
                    enum:
                      - block
                      - challenge
                      - whitelist
                      - js_challenge
                      - managed_challenge
                    description: The action to apply to a matched request.
                  created_on:
                    type: string
                    description: The timestamp of when the rule was created.
                  modified_on:
                    type: string
                    description: The timestamp of when the rule was last modified.
                  notes:
                    type: string
                    description: An informative summary of the rule, typically used as a reminder or
                      explanation.
                  scope:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Defines an identifier.
                      email:
                        type: string
                        description: The contact email address of the user.
                      type:
                        type: string
                        enum:
                          - user
                          - organization
                        description: Defines the scope of the rule.
                    description: All zones owned by the user will have the rule applied.
                required:
                  - id
                  - allowed_modes
                  - configuration
                  - mode
      x-distilled-response-path: result
    patch:
      operationId: patchAccessRule
      description: "Updates an IP Access rule defined.  Note: This operation will
        affect all zones in the account or zone.  @example ```ts const response
        = await client.firewall.accessRules.edit(
        '023e105f4ecef8ad9ca31a8372d0c353', { configuration: {}, mode:
        'challenge', account_id: 'account_id', }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                configuration:
                  oneOf:
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - ip
                          description: The configuration target. You must set the target to `ip` when
                            specifying an IP address in the rule.
                        value:
                          type: string
                          description: The IP address to match. This address will be compared to the IP
                            address of incoming requests.
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - ip6
                          description: The configuration target. You must set the target to `ip6` when
                            specifying an IPv6 address in the rule.
                        value:
                          type: string
                          description: The IPv6 address to match.
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - ip_range
                          description: The configuration target. You must set the target to `ip_range`
                            when specifying an IP address range in the rule.
                        value:
                          type: string
                          description: The IP address range to match. You can only use prefix lengths
                            `/16` and `/24` for IPv4 ranges, and prefix lengths
                            `/32`, `/48`, and `/64` for IPv6 ranges.
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - asn
                          description: The configuration target. You must set the target to `asn` when
                            specifying an Autonomous System Number (ASN) in the
                            rule.
                        value:
                          type: string
                          description: The AS number to match.
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - country
                          description: The configuration target. You must set the target to `country` when
                            specifying a country code in the rule.
                        value:
                          type: string
                          description: "The two-letter ISO-3166-1 alpha-2 code to match. For more
                            information, refer to [IP Access rules:
                            Parameters](https://developers.cloudflare.com/waf/t\
                            ools/ip-access-rules/parameters/#country)."
                  description: "Body param: The rule configuration."
                mode:
                  type: string
                  enum:
                    - block
                    - challenge
                    - whitelist
                    - js_challenge
                    - managed_challenge
                  description: "Body param: The action to apply to a matched request."
                notes:
                  type: string
                  description: "Body param: An informative summary of the rule, typically used as
                    a reminder or explanation."
              required:
                - configuration
                - mode
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the IP Access rule.
                  allowed_modes:
                    type: array
                    items:
                      type: string
                      enum:
                        - block
                        - challenge
                        - whitelist
                        - js_challenge
                        - managed_challenge
                    description: The available actions that a rule can apply to a matched request.
                  configuration:
                    oneOf:
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip
                            description: The configuration target. You must set the target to `ip` when
                              specifying an IP address in the rule.
                          value:
                            type: string
                            description: The IP address to match. This address will be compared to the IP
                              address of incoming requests.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip6
                            description: The configuration target. You must set the target to `ip6` when
                              specifying an IPv6 address in the rule.
                          value:
                            type: string
                            description: The IPv6 address to match.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip_range
                            description: The configuration target. You must set the target to `ip_range`
                              when specifying an IP address range in the rule.
                          value:
                            type: string
                            description: The IP address range to match. You can only use prefix lengths
                              `/16` and `/24` for IPv4 ranges, and prefix
                              lengths `/32`, `/48`, and `/64` for IPv6 ranges.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - asn
                            description: The configuration target. You must set the target to `asn` when
                              specifying an Autonomous System Number (ASN) in
                              the rule.
                          value:
                            type: string
                            description: The AS number to match.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - country
                            description: The configuration target. You must set the target to `country` when
                              specifying a country code in the rule.
                          value:
                            type: string
                            description: "The two-letter ISO-3166-1 alpha-2 code to match. For more
                              information, refer to [IP Access rules:
                              Parameters](https://developers.cloudflare.com/waf\
                              /tools/ip-access-rules/parameters/#country)."
                    description: The rule configuration.
                  mode:
                    type: string
                    enum:
                      - block
                      - challenge
                      - whitelist
                      - js_challenge
                      - managed_challenge
                    description: The action to apply to a matched request.
                  created_on:
                    type: string
                    description: The timestamp of when the rule was created.
                  modified_on:
                    type: string
                    description: The timestamp of when the rule was last modified.
                  notes:
                    type: string
                    description: An informative summary of the rule, typically used as a reminder or
                      explanation.
                  scope:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Defines an identifier.
                      email:
                        type: string
                        description: The contact email address of the user.
                      type:
                        type: string
                        enum:
                          - user
                          - organization
                        description: Defines the scope of the rule.
                    description: All zones owned by the user will have the rule applied.
                required:
                  - id
                  - allowed_modes
                  - configuration
                  - mode
      x-distilled-response-path: result
    delete:
      operationId: deleteAccessRule
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Defines an identifier.
                required:
                  - id
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/firewall/access_rules/rules:
    get:
      operationId: listAccessRules
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the IP Access rule.
                  allowed_modes:
                    type: array
                    items:
                      type: string
                      enum:
                        - block
                        - challenge
                        - whitelist
                        - js_challenge
                        - managed_challenge
                    description: The available actions that a rule can apply to a matched request.
                  configuration:
                    oneOf:
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip
                            description: The configuration target. You must set the target to `ip` when
                              specifying an IP address in the rule.
                          value:
                            type: string
                            description: The IP address to match. This address will be compared to the IP
                              address of incoming requests.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip6
                            description: The configuration target. You must set the target to `ip6` when
                              specifying an IPv6 address in the rule.
                          value:
                            type: string
                            description: The IPv6 address to match.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip_range
                            description: The configuration target. You must set the target to `ip_range`
                              when specifying an IP address range in the rule.
                          value:
                            type: string
                            description: The IP address range to match. You can only use prefix lengths
                              `/16` and `/24` for IPv4 ranges, and prefix
                              lengths `/32`, `/48`, and `/64` for IPv6 ranges.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - asn
                            description: The configuration target. You must set the target to `asn` when
                              specifying an Autonomous System Number (ASN) in
                              the rule.
                          value:
                            type: string
                            description: The AS number to match.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - country
                            description: The configuration target. You must set the target to `country` when
                              specifying a country code in the rule.
                          value:
                            type: string
                            description: "The two-letter ISO-3166-1 alpha-2 code to match. For more
                              information, refer to [IP Access rules:
                              Parameters](https://developers.cloudflare.com/waf\
                              /tools/ip-access-rules/parameters/#country)."
                    description: The rule configuration.
                  mode:
                    type: string
                    enum:
                      - block
                      - challenge
                      - whitelist
                      - js_challenge
                      - managed_challenge
                    description: The action to apply to a matched request.
                  created_on:
                    type: string
                    description: The timestamp of when the rule was created.
                  modified_on:
                    type: string
                    description: The timestamp of when the rule was last modified.
                  notes:
                    type: string
                    description: An informative summary of the rule, typically used as a reminder or
                      explanation.
                  scope:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Defines an identifier.
                      email:
                        type: string
                        description: The contact email address of the user.
                      type:
                        type: string
                        enum:
                          - user
                          - organization
                        description: Defines the scope of the rule.
                    description: All zones owned by the user will have the rule applied.
                required:
                  - id
                  - allowed_modes
                  - configuration
                  - mode
      x-distilled-pagination-class: AccessRuleListResponsesV4PagePaginationArray
    post:
      operationId: createAccessRule
      description: "Creates a new IP Access rule for an account or zone. The rule will
        apply to all zones in the account or zone.  Note: To create an IP Access
        rule that applies to a single zone, refer to the [IP Access rules for a
        zone](#ip-access-rules-for-a-zone) endpoints.  @example ```ts const
        accessRule = await client.firewall.accessRules.create( { configuration:
        {}, mode: 'challenge', account_id: 'account_id', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                configuration:
                  oneOf:
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - ip
                          description: The configuration target. You must set the target to `ip` when
                            specifying an IP address in the rule.
                        value:
                          type: string
                          description: The IP address to match. This address will be compared to the IP
                            address of incoming requests.
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - ip6
                          description: The configuration target. You must set the target to `ip6` when
                            specifying an IPv6 address in the rule.
                        value:
                          type: string
                          description: The IPv6 address to match.
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - ip_range
                          description: The configuration target. You must set the target to `ip_range`
                            when specifying an IP address range in the rule.
                        value:
                          type: string
                          description: The IP address range to match. You can only use prefix lengths
                            `/16` and `/24` for IPv4 ranges, and prefix lengths
                            `/32`, `/48`, and `/64` for IPv6 ranges.
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - asn
                          description: The configuration target. You must set the target to `asn` when
                            specifying an Autonomous System Number (ASN) in the
                            rule.
                        value:
                          type: string
                          description: The AS number to match.
                    - type: object
                      properties:
                        target:
                          type: string
                          enum:
                            - country
                          description: The configuration target. You must set the target to `country` when
                            specifying a country code in the rule.
                        value:
                          type: string
                          description: "The two-letter ISO-3166-1 alpha-2 code to match. For more
                            information, refer to [IP Access rules:
                            Parameters](https://developers.cloudflare.com/waf/t\
                            ools/ip-access-rules/parameters/#country)."
                  description: "Body param: The rule configuration."
                mode:
                  type: string
                  enum:
                    - block
                    - challenge
                    - whitelist
                    - js_challenge
                    - managed_challenge
                  description: "Body param: The action to apply to a matched request."
                notes:
                  type: string
                  description: "Body param: An informative summary of the rule, typically used as
                    a reminder or explanation."
              required:
                - configuration
                - mode
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the IP Access rule.
                  allowed_modes:
                    type: array
                    items:
                      type: string
                      enum:
                        - block
                        - challenge
                        - whitelist
                        - js_challenge
                        - managed_challenge
                    description: The available actions that a rule can apply to a matched request.
                  configuration:
                    oneOf:
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip
                            description: The configuration target. You must set the target to `ip` when
                              specifying an IP address in the rule.
                          value:
                            type: string
                            description: The IP address to match. This address will be compared to the IP
                              address of incoming requests.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip6
                            description: The configuration target. You must set the target to `ip6` when
                              specifying an IPv6 address in the rule.
                          value:
                            type: string
                            description: The IPv6 address to match.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip_range
                            description: The configuration target. You must set the target to `ip_range`
                              when specifying an IP address range in the rule.
                          value:
                            type: string
                            description: The IP address range to match. You can only use prefix lengths
                              `/16` and `/24` for IPv4 ranges, and prefix
                              lengths `/32`, `/48`, and `/64` for IPv6 ranges.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - asn
                            description: The configuration target. You must set the target to `asn` when
                              specifying an Autonomous System Number (ASN) in
                              the rule.
                          value:
                            type: string
                            description: The AS number to match.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - country
                            description: The configuration target. You must set the target to `country` when
                              specifying a country code in the rule.
                          value:
                            type: string
                            description: "The two-letter ISO-3166-1 alpha-2 code to match. For more
                              information, refer to [IP Access rules:
                              Parameters](https://developers.cloudflare.com/waf\
                              /tools/ip-access-rules/parameters/#country)."
                    description: The rule configuration.
                  mode:
                    type: string
                    enum:
                      - block
                      - challenge
                      - whitelist
                      - js_challenge
                      - managed_challenge
                    description: The action to apply to a matched request.
                  created_on:
                    type: string
                    description: The timestamp of when the rule was created.
                  modified_on:
                    type: string
                    description: The timestamp of when the rule was last modified.
                  notes:
                    type: string
                    description: An informative summary of the rule, typically used as a reminder or
                      explanation.
                  scope:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Defines an identifier.
                      email:
                        type: string
                        description: The contact email address of the user.
                      type:
                        type: string
                        enum:
                          - user
                          - organization
                        description: Defines the scope of the rule.
                    description: All zones owned by the user will have the rule applied.
                required:
                  - id
                  - allowed_modes
                  - configuration
                  - mode
      x-distilled-response-path: result
  /zones/{zone_id}/firewall/lockdowns/{lockDownsId}:
    get:
      operationId: getLockdown
      description: "Fetches the details of a Zone Lockdown rule.  @example ```ts const
        lockdown = await client.firewall.lockdowns.get(
        '372e67954025e0ba6aaa6d586b9e0b59', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: lockDownsId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the Zone Lockdown rule.
                  configurations:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            target:
                              type: string
                              enum:
                                - ip
                              description: The configuration target. You must set the target to `ip` when
                                specifying an IP address in the Zone Lockdown
                                rule.
                            value:
                              type: string
                              description: The IP address to match. This address will be compared to the IP
                                address of incoming requests.
                        - type: object
                          properties:
                            target:
                              type: string
                              enum:
                                - ip_range
                              description: The configuration target. You must set the target to `ip_range`
                                when specifying an IP address range in the Zone
                                Lockdown rule.
                            value:
                              type: string
                              description: The IP address range to match. You can only use prefix lengths
                                `/16` and `/24`.
                    description: A list of IP addresses or CIDR ranges that will be allowed to
                      access the URLs specified in the Zone Lockdown rule. You
                      can include any number of `ip` or `ip_range`
                      configurations.
                  created_on:
                    type: string
                    description: The timestamp of when the rule was created.
                  description:
                    type: string
                    description: An informative summary of the rule.
                  modified_on:
                    type: string
                    description: The timestamp of when the rule was last modified.
                  paused:
                    type: boolean
                    description: When true, indicates that the rule is currently paused.
                  urls:
                    type: array
                    items:
                      type: string
                    description: The URLs to include in the rule definition. You can use wildcards.
                      Each entered URL will be escaped before use, which means
                      you can only use simple wildcard patterns.
                required:
                  - id
                  - configurations
                  - created_on
                  - description
                  - modified_on
                  - paused
                  - urls
      x-distilled-response-path: result
    put:
      operationId: updateLockdown
      description: "Updates an existing Zone Lockdown rule.  @example ```ts const
        lockdown = await client.firewall.lockdowns.update(
        '372e67954025e0ba6aaa6d586b9e0b59', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', configurations: [{}], urls:
        ['shop.example.com/ '], }, ); ```"
      parameters:
        - name: lockDownsId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                configurations:
                  type: array
                  items:
                    oneOf:
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip
                            description: The configuration target. You must set the target to `ip` when
                              specifying an IP address in the Zone Lockdown
                              rule.
                          value:
                            type: string
                            description: The IP address to match. This address will be compared to the IP
                              address of incoming requests.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip_range
                            description: The configuration target. You must set the target to `ip_range`
                              when specifying an IP address range in the Zone
                              Lockdown rule.
                          value:
                            type: string
                            description: The IP address range to match. You can only use prefix lengths
                              `/16` and `/24`.
                  description: "Body param: A list of IP addresses or CIDR ranges that will be
                    allowed to access the URLs specified in the Zone Lockdown
                    rule. You can include any number of `ip` or `ip_range`
                    configurations."
                urls:
                  type: array
                  items:
                    type: string
                  description: "Body param: The URLs to include in the current WAF override. You
                    can use wildcards. Each entered URL will be escaped before
                    use, which means you can only use simple wildcard patterns."
              required:
                - configurations
                - urls
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the Zone Lockdown rule.
                  configurations:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            target:
                              type: string
                              enum:
                                - ip
                              description: The configuration target. You must set the target to `ip` when
                                specifying an IP address in the Zone Lockdown
                                rule.
                            value:
                              type: string
                              description: The IP address to match. This address will be compared to the IP
                                address of incoming requests.
                        - type: object
                          properties:
                            target:
                              type: string
                              enum:
                                - ip_range
                              description: The configuration target. You must set the target to `ip_range`
                                when specifying an IP address range in the Zone
                                Lockdown rule.
                            value:
                              type: string
                              description: The IP address range to match. You can only use prefix lengths
                                `/16` and `/24`.
                    description: A list of IP addresses or CIDR ranges that will be allowed to
                      access the URLs specified in the Zone Lockdown rule. You
                      can include any number of `ip` or `ip_range`
                      configurations.
                  created_on:
                    type: string
                    description: The timestamp of when the rule was created.
                  description:
                    type: string
                    description: An informative summary of the rule.
                  modified_on:
                    type: string
                    description: The timestamp of when the rule was last modified.
                  paused:
                    type: boolean
                    description: When true, indicates that the rule is currently paused.
                  urls:
                    type: array
                    items:
                      type: string
                    description: The URLs to include in the rule definition. You can use wildcards.
                      Each entered URL will be escaped before use, which means
                      you can only use simple wildcard patterns.
                required:
                  - id
                  - configurations
                  - created_on
                  - description
                  - modified_on
                  - paused
                  - urls
      x-distilled-response-path: result
    delete:
      operationId: deleteLockdown
      description: "Deletes an existing Zone Lockdown rule.  @example ```ts const
        lockdown = await client.firewall.lockdowns.delete(
        '372e67954025e0ba6aaa6d586b9e0b59', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: lockDownsId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the Zone Lockdown rule.
      x-distilled-response-path: result
  /zones/{zone_id}/firewall/lockdowns:
    get:
      operationId: listLockdowns
      description: "Fetches Zone Lockdown rules. You can filter the results using
        several optional parameters.  @example ```ts // Automatically fetches
        more pages as needed. for await (const lockdown of
        client.firewall.lockdowns.list( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
        - name: created_on
          in: query
          required: false
          description: "Query param: The timestamp of when the rule was created."
          schema:
            type: string
        - name: description
          in: query
          required: false
          description: "Query param: A string to search for in the description of existing
            rules."
          schema:
            type: string
        - name: description_search
          in: query
          required: false
          description: "Query param: A string to search for in the description of existing
            rules."
          schema:
            type: string
        - name: ip
          in: query
          required: false
          description: "Query param: A single IP address to search for in existing rules."
          schema:
            type: string
        - name: ip_range_search
          in: query
          required: false
          description: "Query param: A single IP address range to search for in existing
            rules."
          schema:
            type: string
        - name: ip_search
          in: query
          required: false
          description: "Query param: A single IP address to search for in existing rules."
          schema:
            type: string
        - name: modified_on
          in: query
          required: false
          description: "Query param: The timestamp of when the rule was last modified."
          schema:
            type: string
        - name: priority
          in: query
          required: false
          description: "Query param: The priority of the rule to control the processing
            order. A lower number indicates higher priority. If not provided,
            any rules with a configured priority will be processed before rules
            without a priority."
          schema:
            type: number
        - name: uri_search
          in: query
          required: false
          description: "Query param: A single URI to search for in the list of URLs of
            existing rules."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the Zone Lockdown rule.
                  configurations:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            target:
                              type: string
                              enum:
                                - ip
                              description: The configuration target. You must set the target to `ip` when
                                specifying an IP address in the Zone Lockdown
                                rule.
                            value:
                              type: string
                              description: The IP address to match. This address will be compared to the IP
                                address of incoming requests.
                        - type: object
                          properties:
                            target:
                              type: string
                              enum:
                                - ip_range
                              description: The configuration target. You must set the target to `ip_range`
                                when specifying an IP address range in the Zone
                                Lockdown rule.
                            value:
                              type: string
                              description: The IP address range to match. You can only use prefix lengths
                                `/16` and `/24`.
                    description: A list of IP addresses or CIDR ranges that will be allowed to
                      access the URLs specified in the Zone Lockdown rule. You
                      can include any number of `ip` or `ip_range`
                      configurations.
                  created_on:
                    type: string
                    description: The timestamp of when the rule was created.
                  description:
                    type: string
                    description: An informative summary of the rule.
                  modified_on:
                    type: string
                    description: The timestamp of when the rule was last modified.
                  paused:
                    type: boolean
                    description: When true, indicates that the rule is currently paused.
                  urls:
                    type: array
                    items:
                      type: string
                    description: The URLs to include in the rule definition. You can use wildcards.
                      Each entered URL will be escaped before use, which means
                      you can only use simple wildcard patterns.
                required:
                  - id
                  - configurations
                  - created_on
                  - description
                  - modified_on
                  - paused
                  - urls
      x-distilled-pagination-class: LockdownsV4PagePaginationArray
    post:
      operationId: createLockdown
      description: "Creates a new Zone Lockdown rule.  @example ```ts const lockdown =
        await client.firewall.lockdowns.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', configurations: [{}], urls:
        ['shop.example.com/ '], }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                configurations:
                  type: array
                  items:
                    oneOf:
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip
                            description: The configuration target. You must set the target to `ip` when
                              specifying an IP address in the Zone Lockdown
                              rule.
                          value:
                            type: string
                            description: The IP address to match. This address will be compared to the IP
                              address of incoming requests.
                      - type: object
                        properties:
                          target:
                            type: string
                            enum:
                              - ip_range
                            description: The configuration target. You must set the target to `ip_range`
                              when specifying an IP address range in the Zone
                              Lockdown rule.
                          value:
                            type: string
                            description: The IP address range to match. You can only use prefix lengths
                              `/16` and `/24`.
                  description: "Body param: A list of IP addresses or CIDR ranges that will be
                    allowed to access the URLs specified in the Zone Lockdown
                    rule. You can include any number of `ip` or `ip_range`
                    configurations."
                urls:
                  type: array
                  items:
                    type: string
                  description: "Body param: The URLs to include in the current WAF override. You
                    can use wildcards. Each entered URL will be escaped before
                    use, which means you can only use simple wildcard patterns."
                description:
                  type: string
                  description: "Body param: An informative summary of the rule. This value is
                    sanitized and any tags will be removed."
                paused:
                  type: boolean
                  description: "Body param: When true, indicates that the rule is currently
                    paused."
                priority:
                  type: number
                  description: "Body param: The priority of the rule to control the processing
                    order. A lower number indicates higher priority. If not
                    provided, any rules with a configured priority will be
                    processed before rules without a priority."
              required:
                - configurations
                - urls
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the Zone Lockdown rule.
                  configurations:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            target:
                              type: string
                              enum:
                                - ip
                              description: The configuration target. You must set the target to `ip` when
                                specifying an IP address in the Zone Lockdown
                                rule.
                            value:
                              type: string
                              description: The IP address to match. This address will be compared to the IP
                                address of incoming requests.
                        - type: object
                          properties:
                            target:
                              type: string
                              enum:
                                - ip_range
                              description: The configuration target. You must set the target to `ip_range`
                                when specifying an IP address range in the Zone
                                Lockdown rule.
                            value:
                              type: string
                              description: The IP address range to match. You can only use prefix lengths
                                `/16` and `/24`.
                    description: A list of IP addresses or CIDR ranges that will be allowed to
                      access the URLs specified in the Zone Lockdown rule. You
                      can include any number of `ip` or `ip_range`
                      configurations.
                  created_on:
                    type: string
                    description: The timestamp of when the rule was created.
                  description:
                    type: string
                    description: An informative summary of the rule.
                  modified_on:
                    type: string
                    description: The timestamp of when the rule was last modified.
                  paused:
                    type: boolean
                    description: When true, indicates that the rule is currently paused.
                  urls:
                    type: array
                    items:
                      type: string
                    description: The URLs to include in the rule definition. You can use wildcards.
                      Each entered URL will be escaped before use, which means
                      you can only use simple wildcard patterns.
                required:
                  - id
                  - configurations
                  - created_on
                  - description
                  - modified_on
                  - paused
                  - urls
      x-distilled-response-path: result
  /zones/{zone_id}/firewall/rules:
    put:
      operationId: bulkPutRules
      description: Updates one or more existing firewall rules.  @deprecated The
        Firewall Rules API is deprecated in favour of using the Ruleset Engine.
        See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the firewall rule.
                  action:
                    type: string
                    enum:
                      - block
                      - challenge
                      - js_challenge
                      - managed_challenge
                      - allow
                      - log
                      - bypass
                    description: The action to apply to a matched request. The `log` action is only
                      available on an Enterprise plan.
                  description:
                    type: string
                    description: An informative summary of the firewall rule.
                  filter:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          description:
                            type: string
                            description: An informative summary of the filter.
                          expression:
                            type: string
                            description: The filter expression. For more information, refer to
                              [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                          paused:
                            type: boolean
                            description: When true, indicates that the filter is currently paused.
                          ref:
                            type: string
                            description: A short reference tag. Allows you to select related filters.
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          deleted:
                            type: boolean
                            description: When true, indicates that the firewall rule was deleted.
                        required:
                          - id
                          - deleted
                  paused:
                    type: boolean
                    description: When true, indicates that the firewall rule is currently paused.
                  priority:
                    type: number
                    description: The priority of the rule. Optional value used to define the
                      processing order. A lower number indicates a higher
                      priority. If not provided, rules with a defined priority
                      will be processed before rules without a priority.
                  products:
                    type: array
                    items:
                      type: string
                      enum:
                        - zoneLockdown
                        - uaBlock
                        - bic
                        - hot
                        - securityLevel
                        - rateLimit
                        - waf
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related firewall rules.
      x-distilled-pagination-class: FirewallRulesSinglePage
    get:
      operationId: listRules
      description: Fetches firewall rules in a zone. You can filter the results using
        several optional parameters.  @deprecated The Firewall Rules API is
        deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: "Query param: The unique identifier of the firewall rule."
          schema:
            type: string
        - name: action
          in: query
          required: false
          description: "Query param: The action to search for. Must be an exact match."
          schema:
            type: string
        - name: description
          in: query
          required: false
          description: "Query param: A case-insensitive string to find in the description."
          schema:
            type: string
        - name: paused
          in: query
          required: false
          description: "Query param: When true, indicates that the firewall rule is
            currently paused."
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the firewall rule.
                  action:
                    type: string
                    enum:
                      - block
                      - challenge
                      - js_challenge
                      - managed_challenge
                      - allow
                      - log
                      - bypass
                    description: The action to apply to a matched request. The `log` action is only
                      available on an Enterprise plan.
                  description:
                    type: string
                    description: An informative summary of the firewall rule.
                  filter:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          description:
                            type: string
                            description: An informative summary of the filter.
                          expression:
                            type: string
                            description: The filter expression. For more information, refer to
                              [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                          paused:
                            type: boolean
                            description: When true, indicates that the filter is currently paused.
                          ref:
                            type: string
                            description: A short reference tag. Allows you to select related filters.
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          deleted:
                            type: boolean
                            description: When true, indicates that the firewall rule was deleted.
                        required:
                          - id
                          - deleted
                  paused:
                    type: boolean
                    description: When true, indicates that the firewall rule is currently paused.
                  priority:
                    type: number
                    description: The priority of the rule. Optional value used to define the
                      processing order. A lower number indicates a higher
                      priority. If not provided, rules with a defined priority
                      will be processed before rules without a priority.
                  products:
                    type: array
                    items:
                      type: string
                      enum:
                        - zoneLockdown
                        - uaBlock
                        - bic
                        - hot
                        - securityLevel
                        - rateLimit
                        - waf
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related firewall rules.
      x-distilled-pagination-class: FirewallRulesV4PagePaginationArray
    post:
      operationId: createRule
      description: Create one or more firewall rules.  @deprecated The Firewall Rules
        API is deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                        - simulate
                        - ban
                        - challenge
                        - js_challenge
                        - managed_challenge
                      description: The action to perform.
                    response:
                      type: object
                      properties:
                        body:
                          type: string
                          description: The response body to return. The value must conform to the
                            configured content type.
                        content_type:
                          type: string
                          description: "The content type of the body. Must be one of the following:
                            `text/plain`, `text/xml`, or `application/json`."
                      description: 'A custom content type and reponse to return when the threshold is
                        exceeded. The custom response configured in this object
                        will override the custom error for the zone. This object
                        is optional. Notes: If you omit this object, Cloudflare
                        will use the default HTML error page. If "mode" is
                        "challenge", "managed_challenge", or "js_challenge",
                        Cloudflare will use the zone challenge pages and you
                        should not provide the "response" object.'
                    timeout:
                      type: number
                      description: "The time in seconds during which Cloudflare will perform the
                        mitigation action. Must be an integer value greater than
                        or equal to the period. Notes: If \"mode\" is
                        \"challenge\", \"managed_challenge\", or
                        \"js_challenge\", Cloudflare will use the zone's
                        Challenge Passage time and you should not provide this
                        value."
                  description: "Body param: The action to perform when the threshold of matched
                    traffic within the configured period is exceeded."
                filter:
                  type: object
                  properties:
                    description:
                      type: string
                      description: An informative summary of the filter.
                    expression:
                      type: string
                      description: The filter expression. For more information, refer to
                        [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                    paused:
                      type: boolean
                      description: When true, indicates that the filter is currently paused.
                    ref:
                      type: string
                      description: A short reference tag. Allows you to select related filters.
                  description: "Body param:"
              required:
                - action
                - filter
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the firewall rule.
                  action:
                    type: string
                    enum:
                      - block
                      - challenge
                      - js_challenge
                      - managed_challenge
                      - allow
                      - log
                      - bypass
                    description: The action to apply to a matched request. The `log` action is only
                      available on an Enterprise plan.
                  description:
                    type: string
                    description: An informative summary of the firewall rule.
                  filter:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          description:
                            type: string
                            description: An informative summary of the filter.
                          expression:
                            type: string
                            description: The filter expression. For more information, refer to
                              [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                          paused:
                            type: boolean
                            description: When true, indicates that the filter is currently paused.
                          ref:
                            type: string
                            description: A short reference tag. Allows you to select related filters.
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          deleted:
                            type: boolean
                            description: When true, indicates that the firewall rule was deleted.
                        required:
                          - id
                          - deleted
                  paused:
                    type: boolean
                    description: When true, indicates that the firewall rule is currently paused.
                  priority:
                    type: number
                    description: The priority of the rule. Optional value used to define the
                      processing order. A lower number indicates a higher
                      priority. If not provided, rules with a defined priority
                      will be processed before rules without a priority.
                  products:
                    type: array
                    items:
                      type: string
                      enum:
                        - zoneLockdown
                        - uaBlock
                        - bic
                        - hot
                        - securityLevel
                        - rateLimit
                        - waf
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related firewall rules.
      x-distilled-pagination-class: FirewallRulesSinglePage
    patch:
      operationId: bulkPatchRules
      description: Updates the priority of existing firewall rules.  @deprecated The
        Firewall Rules API is deprecated in favour of using the Ruleset Engine.
        See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the firewall rule.
                  action:
                    type: string
                    enum:
                      - block
                      - challenge
                      - js_challenge
                      - managed_challenge
                      - allow
                      - log
                      - bypass
                    description: The action to apply to a matched request. The `log` action is only
                      available on an Enterprise plan.
                  description:
                    type: string
                    description: An informative summary of the firewall rule.
                  filter:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          description:
                            type: string
                            description: An informative summary of the filter.
                          expression:
                            type: string
                            description: The filter expression. For more information, refer to
                              [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                          paused:
                            type: boolean
                            description: When true, indicates that the filter is currently paused.
                          ref:
                            type: string
                            description: A short reference tag. Allows you to select related filters.
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          deleted:
                            type: boolean
                            description: When true, indicates that the firewall rule was deleted.
                        required:
                          - id
                          - deleted
                  paused:
                    type: boolean
                    description: When true, indicates that the firewall rule is currently paused.
                  priority:
                    type: number
                    description: The priority of the rule. Optional value used to define the
                      processing order. A lower number indicates a higher
                      priority. If not provided, rules with a defined priority
                      will be processed before rules without a priority.
                  products:
                    type: array
                    items:
                      type: string
                      enum:
                        - zoneLockdown
                        - uaBlock
                        - bic
                        - hot
                        - securityLevel
                        - rateLimit
                        - waf
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related firewall rules.
      x-distilled-pagination-class: FirewallRulesSinglePage
    delete:
      operationId: bulkDeleteRules
      description: Deletes existing firewall rules.  @deprecated The Firewall Rules
        API is deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the firewall rule.
                  action:
                    type: string
                    enum:
                      - block
                      - challenge
                      - js_challenge
                      - managed_challenge
                      - allow
                      - log
                      - bypass
                    description: The action to apply to a matched request. The `log` action is only
                      available on an Enterprise plan.
                  description:
                    type: string
                    description: An informative summary of the firewall rule.
                  filter:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          description:
                            type: string
                            description: An informative summary of the filter.
                          expression:
                            type: string
                            description: The filter expression. For more information, refer to
                              [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                          paused:
                            type: boolean
                            description: When true, indicates that the filter is currently paused.
                          ref:
                            type: string
                            description: A short reference tag. Allows you to select related filters.
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          deleted:
                            type: boolean
                            description: When true, indicates that the firewall rule was deleted.
                        required:
                          - id
                          - deleted
                  paused:
                    type: boolean
                    description: When true, indicates that the firewall rule is currently paused.
                  priority:
                    type: number
                    description: The priority of the rule. Optional value used to define the
                      processing order. A lower number indicates a higher
                      priority. If not provided, rules with a defined priority
                      will be processed before rules without a priority.
                  products:
                    type: array
                    items:
                      type: string
                      enum:
                        - zoneLockdown
                        - uaBlock
                        - bic
                        - hot
                        - securityLevel
                        - rateLimit
                        - waf
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related firewall rules.
      x-distilled-pagination-class: FirewallRulesSinglePage
  /zones/{zone_id}/firewall/rules/{ruleId}:
    get:
      operationId: getRule
      description: Fetches the details of a firewall rule.  @deprecated The Firewall
        Rules API is deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the firewall rule.
                  action:
                    type: string
                    enum:
                      - block
                      - challenge
                      - js_challenge
                      - managed_challenge
                      - allow
                      - log
                      - bypass
                    description: The action to apply to a matched request. The `log` action is only
                      available on an Enterprise plan.
                  description:
                    type: string
                    description: An informative summary of the firewall rule.
                  filter:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          description:
                            type: string
                            description: An informative summary of the filter.
                          expression:
                            type: string
                            description: The filter expression. For more information, refer to
                              [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                          paused:
                            type: boolean
                            description: When true, indicates that the filter is currently paused.
                          ref:
                            type: string
                            description: A short reference tag. Allows you to select related filters.
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          deleted:
                            type: boolean
                            description: When true, indicates that the firewall rule was deleted.
                        required:
                          - id
                          - deleted
                  paused:
                    type: boolean
                    description: When true, indicates that the firewall rule is currently paused.
                  priority:
                    type: number
                    description: The priority of the rule. Optional value used to define the
                      processing order. A lower number indicates a higher
                      priority. If not provided, rules with a defined priority
                      will be processed before rules without a priority.
                  products:
                    type: array
                    items:
                      type: string
                      enum:
                        - zoneLockdown
                        - uaBlock
                        - bic
                        - hot
                        - securityLevel
                        - rateLimit
                        - waf
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related firewall rules.
      x-distilled-response-path: result
    put:
      operationId: updateRule
      description: Updates an existing firewall rule.  @deprecated The Firewall Rules
        API is deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                        - simulate
                        - ban
                        - challenge
                        - js_challenge
                        - managed_challenge
                      description: The action to perform.
                    response:
                      type: object
                      properties:
                        body:
                          type: string
                          description: The response body to return. The value must conform to the
                            configured content type.
                        content_type:
                          type: string
                          description: "The content type of the body. Must be one of the following:
                            `text/plain`, `text/xml`, or `application/json`."
                      description: 'A custom content type and reponse to return when the threshold is
                        exceeded. The custom response configured in this object
                        will override the custom error for the zone. This object
                        is optional. Notes: If you omit this object, Cloudflare
                        will use the default HTML error page. If "mode" is
                        "challenge", "managed_challenge", or "js_challenge",
                        Cloudflare will use the zone challenge pages and you
                        should not provide the "response" object.'
                    timeout:
                      type: number
                      description: "The time in seconds during which Cloudflare will perform the
                        mitigation action. Must be an integer value greater than
                        or equal to the period. Notes: If \"mode\" is
                        \"challenge\", \"managed_challenge\", or
                        \"js_challenge\", Cloudflare will use the zone's
                        Challenge Passage time and you should not provide this
                        value."
                  description: "Body param: The action to perform when the threshold of matched
                    traffic within the configured period is exceeded."
                filter:
                  type: object
                  properties:
                    description:
                      type: string
                      description: An informative summary of the filter.
                    expression:
                      type: string
                      description: The filter expression. For more information, refer to
                        [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                    paused:
                      type: boolean
                      description: When true, indicates that the filter is currently paused.
                    ref:
                      type: string
                      description: A short reference tag. Allows you to select related filters.
                  description: "Body param:"
              required:
                - action
                - filter
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the firewall rule.
                  action:
                    type: string
                    enum:
                      - block
                      - challenge
                      - js_challenge
                      - managed_challenge
                      - allow
                      - log
                      - bypass
                    description: The action to apply to a matched request. The `log` action is only
                      available on an Enterprise plan.
                  description:
                    type: string
                    description: An informative summary of the firewall rule.
                  filter:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          description:
                            type: string
                            description: An informative summary of the filter.
                          expression:
                            type: string
                            description: The filter expression. For more information, refer to
                              [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                          paused:
                            type: boolean
                            description: When true, indicates that the filter is currently paused.
                          ref:
                            type: string
                            description: A short reference tag. Allows you to select related filters.
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          deleted:
                            type: boolean
                            description: When true, indicates that the firewall rule was deleted.
                        required:
                          - id
                          - deleted
                  paused:
                    type: boolean
                    description: When true, indicates that the firewall rule is currently paused.
                  priority:
                    type: number
                    description: The priority of the rule. Optional value used to define the
                      processing order. A lower number indicates a higher
                      priority. If not provided, rules with a defined priority
                      will be processed before rules without a priority.
                  products:
                    type: array
                    items:
                      type: string
                      enum:
                        - zoneLockdown
                        - uaBlock
                        - bic
                        - hot
                        - securityLevel
                        - rateLimit
                        - waf
                  ref:
                    type: string
                    description: A short reference tag. Allows you to select related firewall rules.
      x-distilled-response-path: result
    patch:
      operationId: patchRule
      description: Updates the priority of an existing firewall rule.  @deprecated The
        Firewall Rules API is deprecated in favour of using the Ruleset Engine.
        See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#firewall-rules-api-and-filters-api
        for full details.
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the firewall rule.
                  action:
                    type: string
                    enum:
                      - block
                      - challenge
                      - js_challenge
                      - managed_challenge
                      - allow
                      - log
                      - bypass
                    description: The action to apply to a matched request. The `log` action is only
                      available on an Enterprise plan.
                  description:
                    type: string
                    description: An informative summary of the firewall rule.
                  filter:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          description:
                            type: string
                            description: An informative summary of the filter.
                          expression:
                            type: string
                            description: The filter expression. For more information, refer to
                              [Expressions](https://developers.cloudflare.com/ruleset-engine/rules-language/expressions/).
                          paused:
                            type: boolean
                            description: When true, indicates that the filter is currently paused.
                          ref:
                            type: string
                            description: A short reference tag. Allows you to select related filters.
                      - type: object
                        properties:
                          id:
                            type: string
                            description: The unique identifier of the filter.
                          deleted:
                            type: boolean
                            description: When true, indicates that the firewall rule was deleted.
                        required:
                          - id
                          - deleted
                  paused:
                    type: boolean
                    description: When true, indicates that the firewall rule is currently paused.
                  priority:
                    type: number
                    description: The priority of the rule. Optional value used to define the
[...]
