openapi: 3.1.0
info:
  title: Cloudflare HEALTHCHECKS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: healthchecks
paths:
  /zones/{zone_id}/healthchecks/{healthcheckId}:
    get:
      operationId: getHealthcheck
      description: "Fetch a single configured health check.  @example ```ts const
        healthcheck = await client.healthchecks.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: healthcheckId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                  address:
                    type: string
                    description: The hostname or IP address of the origin server to run health
                      checks on.
                  check_regions:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - WNAM
                            - ENAM
                            - WEU
                            - EEU
                            - NSAM
                            - SSAM
                            - OC
                            - ME
                            - NAF
                            - SAF
                            - IN
                            - SEAS
                            - NEAS
                            - ALL_REGIONS
                    nullable: true
                    description: A list of regions from which to run health checks. Null means
                      Cloudflare will pick a default region.
                  consecutive_fails:
                    type: number
                    description: The number of consecutive fails required from a health check before
                      changing the health to unhealthy.
                  consecutive_successes:
                    type: number
                    description: The number of consecutive successes required from a health check
                      before changing the health to healthy.
                  created_on:
                    type: string
                  description:
                    type: string
                    description: A human-readable description of the health check.
                  failure_reason:
                    type: string
                    description: The current failure reason if status is unhealthy.
                  http_config:
                    oneOf:
                      - type: object
                        properties:
                          allow_insecure:
                            type: boolean
                            description: Do not validate the certificate when the health check uses HTTPS.
                          expected_body:
                            type: string
                            description: A case-insensitive sub-string to look for in the response body. If
                              this string is not found, the origin will be
                              marked as unhealthy.
                          expected_codes:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                              "2xx" for all codes starting with 2) of the health
                              check.
                          follow_redirects:
                            type: boolean
                            description: Follow redirects if the origin returns a 3xx status code.
                          header:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: The HTTP request headers to send in the health check. It is
                              recommended you set a Host header by default. The
                              User-Agent header cannot be overridden.
                          method:
                            type: string
                            enum:
                              - GET
                              - HEAD
                            description: The HTTP method to use for the health check.
                          path:
                            type: string
                            description: The endpoint path to health check against.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80 if
                              type is HTTP or 443 if type is HTTPS.
                    nullable: true
                    description: Parameters specific to an HTTP or HTTPS health check.
                  interval:
                    type: number
                    description: The interval between each health check. Shorter intervals may give
                      quicker notifications if the origin status changes, but
                      will increase load on the origin as we check from multiple
                      locations.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A short name to identify the health check. Only alphanumeric
                      characters, hyphens and underscores are allowed.
                  retries:
                    type: number
                    description: The number of retries to attempt in case of a timeout before
                      marking the origin as unhealthy. Retries are attempted
                      immediately.
                  status:
                    type: string
                    enum:
                      - unknown
                      - healthy
                      - unhealthy
                      - suspended
                    description: The current status of the origin server according to the health
                      check.
                  suspended:
                    type: boolean
                    description: If suspended, no health checks are sent to the origin.
                  tcp_config:
                    oneOf:
                      - type: object
                        properties:
                          method:
                            type: string
                            enum:
                              - connection_established
                            description: The TCP connection method to use for the health check.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80.
                    nullable: true
                    description: Parameters specific to TCP health check.
                  timeout:
                    type: number
                    description: The timeout (in seconds) before marking the health check as failed.
                  type:
                    type: string
                    description: The protocol to use for the health check. Currently supported
                      protocols are 'HTTP', 'HTTPS' and 'TCP'.
      x-distilled-response-path: result
    put:
      operationId: updateHealthcheck
      description: "Update a configured health check.  @example ```ts const
        healthcheck = await client.healthchecks.update(
        '023e105f4ecef8ad9ca31a8372d0c353', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', address: 'www.example.com', name:
        'server-1', }, ); ```"
      parameters:
        - name: healthcheckId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: "Body param: The hostname or IP address of the origin server to run
                    health checks on."
                name:
                  type: string
                  description: "Body param: A short name to identify the health check. Only
                    alphanumeric characters, hyphens and underscores are
                    allowed."
                check_regions:
                  oneOf:
                    - type: array
                      items:
                        type: string
                        enum:
                          - WNAM
                          - ENAM
                          - WEU
                          - EEU
                          - NSAM
                          - SSAM
                          - OC
                          - ME
                          - NAF
                          - SAF
                          - IN
                          - SEAS
                          - NEAS
                          - ALL_REGIONS
                  nullable: true
                  description: "Body param: A list of regions from which to run health checks.
                    Null means Cloudflare will pick a default region."
                consecutive_fails:
                  type: number
                  description: "Body param: The number of consecutive fails required from a health
                    check before changing the health to unhealthy."
                consecutive_successes:
                  type: number
                  description: "Body param: The number of consecutive successes required from a
                    health check before changing the health to healthy."
                description:
                  type: string
                  description: "Body param: A human-readable description of the health check."
                http_config:
                  oneOf:
                    - type: object
                      properties:
                        allow_insecure:
                          type: boolean
                          description: Do not validate the certificate when the health check uses HTTPS.
                        expected_body:
                          type: string
                          description: A case-insensitive sub-string to look for in the response body. If
                            this string is not found, the origin will be marked
                            as unhealthy.
                        expected_codes:
                          oneOf:
                            - type: array
                              items:
                                type: string
                          nullable: true
                          description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                            "2xx" for all codes starting with 2) of the health
                            check.
                        follow_redirects:
                          type: boolean
                          description: Follow redirects if the origin returns a 3xx status code.
                        header:
                          oneOf:
                            - type: object
                              additionalProperties: true
                          nullable: true
                          description: The HTTP request headers to send in the health check. It is
                            recommended you set a Host header by default. The
                            User-Agent header cannot be overridden.
                        method:
                          type: string
                          enum:
                            - GET
                            - HEAD
                          description: The HTTP method to use for the health check.
                        path:
                          type: string
                          description: The endpoint path to health check against.
                        port:
                          type: number
                          description: Port number to connect to for the health check. Defaults to 80 if
                            type is HTTP or 443 if type is HTTPS.
                  nullable: true
                  description: "Body param: Parameters specific to an HTTP or HTTPS health check."
                interval:
                  type: number
                  description: "Body param: The interval between each health check. Shorter
                    intervals may give quicker notifications if the origin
                    status changes, but will increase load on the origin as we
                    check from multiple locations."
                retries:
                  type: number
                  description: "Body param: The number of retries to attempt in case of a timeout
                    before marking the origin as unhealthy. Retries are
                    attempted immediately."
                suspended:
                  type: boolean
                  description: "Body param: If suspended, no health checks are sent to the
                    origin."
                tcp_config:
                  oneOf:
                    - type: object
                      properties:
                        method:
                          type: string
                          enum:
                            - connection_established
                          description: The TCP connection method to use for the health check.
                        port:
                          type: number
                          description: Port number to connect to for the health check. Defaults to 80.
                  nullable: true
                  description: "Body param: Parameters specific to TCP health check."
                timeout:
                  type: number
                  description: "Body param: The timeout (in seconds) before marking the health
                    check as failed."
                type:
                  type: string
                  description: "Body param: The protocol to use for the health check. Currently
                    supported protocols are 'HTTP', 'HTTPS' and 'TCP'."
              required:
                - address
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                  address:
                    type: string
                    description: The hostname or IP address of the origin server to run health
                      checks on.
                  check_regions:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - WNAM
                            - ENAM
                            - WEU
                            - EEU
                            - NSAM
                            - SSAM
                            - OC
                            - ME
                            - NAF
                            - SAF
                            - IN
                            - SEAS
                            - NEAS
                            - ALL_REGIONS
                    nullable: true
                    description: A list of regions from which to run health checks. Null means
                      Cloudflare will pick a default region.
                  consecutive_fails:
                    type: number
                    description: The number of consecutive fails required from a health check before
                      changing the health to unhealthy.
                  consecutive_successes:
                    type: number
                    description: The number of consecutive successes required from a health check
                      before changing the health to healthy.
                  created_on:
                    type: string
                  description:
                    type: string
                    description: A human-readable description of the health check.
                  failure_reason:
                    type: string
                    description: The current failure reason if status is unhealthy.
                  http_config:
                    oneOf:
                      - type: object
                        properties:
                          allow_insecure:
                            type: boolean
                            description: Do not validate the certificate when the health check uses HTTPS.
                          expected_body:
                            type: string
                            description: A case-insensitive sub-string to look for in the response body. If
                              this string is not found, the origin will be
                              marked as unhealthy.
                          expected_codes:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                              "2xx" for all codes starting with 2) of the health
                              check.
                          follow_redirects:
                            type: boolean
                            description: Follow redirects if the origin returns a 3xx status code.
                          header:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: The HTTP request headers to send in the health check. It is
                              recommended you set a Host header by default. The
                              User-Agent header cannot be overridden.
                          method:
                            type: string
                            enum:
                              - GET
                              - HEAD
                            description: The HTTP method to use for the health check.
                          path:
                            type: string
                            description: The endpoint path to health check against.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80 if
                              type is HTTP or 443 if type is HTTPS.
                    nullable: true
                    description: Parameters specific to an HTTP or HTTPS health check.
                  interval:
                    type: number
                    description: The interval between each health check. Shorter intervals may give
                      quicker notifications if the origin status changes, but
                      will increase load on the origin as we check from multiple
                      locations.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A short name to identify the health check. Only alphanumeric
                      characters, hyphens and underscores are allowed.
                  retries:
                    type: number
                    description: The number of retries to attempt in case of a timeout before
                      marking the origin as unhealthy. Retries are attempted
                      immediately.
                  status:
                    type: string
                    enum:
                      - unknown
                      - healthy
                      - unhealthy
                      - suspended
                    description: The current status of the origin server according to the health
                      check.
                  suspended:
                    type: boolean
                    description: If suspended, no health checks are sent to the origin.
                  tcp_config:
                    oneOf:
                      - type: object
                        properties:
                          method:
                            type: string
                            enum:
                              - connection_established
                            description: The TCP connection method to use for the health check.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80.
                    nullable: true
                    description: Parameters specific to TCP health check.
                  timeout:
                    type: number
                    description: The timeout (in seconds) before marking the health check as failed.
                  type:
                    type: string
                    description: The protocol to use for the health check. Currently supported
                      protocols are 'HTTP', 'HTTPS' and 'TCP'.
      x-distilled-response-path: result
    patch:
      operationId: patchHealthcheck
      description: "Patch a configured health check.  @example ```ts const healthcheck
        = await client.healthchecks.edit( '023e105f4ecef8ad9ca31a8372d0c353', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', address: 'www.example.com',
        name: 'server-1', }, ); ```"
      parameters:
        - name: healthcheckId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: "Body param: The hostname or IP address of the origin server to run
                    health checks on."
                name:
                  type: string
                  description: "Body param: A short name to identify the health check. Only
                    alphanumeric characters, hyphens and underscores are
                    allowed."
                check_regions:
                  oneOf:
                    - type: array
                      items:
                        type: string
                        enum:
                          - WNAM
                          - ENAM
                          - WEU
                          - EEU
                          - NSAM
                          - SSAM
                          - OC
                          - ME
                          - NAF
                          - SAF
                          - IN
                          - SEAS
                          - NEAS
                          - ALL_REGIONS
                  nullable: true
                  description: "Body param: A list of regions from which to run health checks.
                    Null means Cloudflare will pick a default region."
                consecutive_fails:
                  type: number
                  description: "Body param: The number of consecutive fails required from a health
                    check before changing the health to unhealthy."
                consecutive_successes:
                  type: number
                  description: "Body param: The number of consecutive successes required from a
                    health check before changing the health to healthy."
                description:
                  type: string
                  description: "Body param: A human-readable description of the health check."
                http_config:
                  oneOf:
                    - type: object
                      properties:
                        allow_insecure:
                          type: boolean
                          description: Do not validate the certificate when the health check uses HTTPS.
                        expected_body:
                          type: string
                          description: A case-insensitive sub-string to look for in the response body. If
                            this string is not found, the origin will be marked
                            as unhealthy.
                        expected_codes:
                          oneOf:
                            - type: array
                              items:
                                type: string
                          nullable: true
                          description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                            "2xx" for all codes starting with 2) of the health
                            check.
                        follow_redirects:
                          type: boolean
                          description: Follow redirects if the origin returns a 3xx status code.
                        header:
                          oneOf:
                            - type: object
                              additionalProperties: true
                          nullable: true
                          description: The HTTP request headers to send in the health check. It is
                            recommended you set a Host header by default. The
                            User-Agent header cannot be overridden.
                        method:
                          type: string
                          enum:
                            - GET
                            - HEAD
                          description: The HTTP method to use for the health check.
                        path:
                          type: string
                          description: The endpoint path to health check against.
                        port:
                          type: number
                          description: Port number to connect to for the health check. Defaults to 80 if
                            type is HTTP or 443 if type is HTTPS.
                  nullable: true
                  description: "Body param: Parameters specific to an HTTP or HTTPS health check."
                interval:
                  type: number
                  description: "Body param: The interval between each health check. Shorter
                    intervals may give quicker notifications if the origin
                    status changes, but will increase load on the origin as we
                    check from multiple locations."
                retries:
                  type: number
                  description: "Body param: The number of retries to attempt in case of a timeout
                    before marking the origin as unhealthy. Retries are
                    attempted immediately."
                suspended:
                  type: boolean
                  description: "Body param: If suspended, no health checks are sent to the
                    origin."
                tcp_config:
                  oneOf:
                    - type: object
                      properties:
                        method:
                          type: string
                          enum:
                            - connection_established
                          description: The TCP connection method to use for the health check.
                        port:
                          type: number
                          description: Port number to connect to for the health check. Defaults to 80.
                  nullable: true
                  description: "Body param: Parameters specific to TCP health check."
                timeout:
                  type: number
                  description: "Body param: The timeout (in seconds) before marking the health
                    check as failed."
                type:
                  type: string
                  description: "Body param: The protocol to use for the health check. Currently
                    supported protocols are 'HTTP', 'HTTPS' and 'TCP'."
              required:
                - address
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                  address:
                    type: string
                    description: The hostname or IP address of the origin server to run health
                      checks on.
                  check_regions:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - WNAM
                            - ENAM
                            - WEU
                            - EEU
                            - NSAM
                            - SSAM
                            - OC
                            - ME
                            - NAF
                            - SAF
                            - IN
                            - SEAS
                            - NEAS
                            - ALL_REGIONS
                    nullable: true
                    description: A list of regions from which to run health checks. Null means
                      Cloudflare will pick a default region.
                  consecutive_fails:
                    type: number
                    description: The number of consecutive fails required from a health check before
                      changing the health to unhealthy.
                  consecutive_successes:
                    type: number
                    description: The number of consecutive successes required from a health check
                      before changing the health to healthy.
                  created_on:
                    type: string
                  description:
                    type: string
                    description: A human-readable description of the health check.
                  failure_reason:
                    type: string
                    description: The current failure reason if status is unhealthy.
                  http_config:
                    oneOf:
                      - type: object
                        properties:
                          allow_insecure:
                            type: boolean
                            description: Do not validate the certificate when the health check uses HTTPS.
                          expected_body:
                            type: string
                            description: A case-insensitive sub-string to look for in the response body. If
                              this string is not found, the origin will be
                              marked as unhealthy.
                          expected_codes:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                              "2xx" for all codes starting with 2) of the health
                              check.
                          follow_redirects:
                            type: boolean
                            description: Follow redirects if the origin returns a 3xx status code.
                          header:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: The HTTP request headers to send in the health check. It is
                              recommended you set a Host header by default. The
                              User-Agent header cannot be overridden.
                          method:
                            type: string
                            enum:
                              - GET
                              - HEAD
                            description: The HTTP method to use for the health check.
                          path:
                            type: string
                            description: The endpoint path to health check against.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80 if
                              type is HTTP or 443 if type is HTTPS.
                    nullable: true
                    description: Parameters specific to an HTTP or HTTPS health check.
                  interval:
                    type: number
                    description: The interval between each health check. Shorter intervals may give
                      quicker notifications if the origin status changes, but
                      will increase load on the origin as we check from multiple
                      locations.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A short name to identify the health check. Only alphanumeric
                      characters, hyphens and underscores are allowed.
                  retries:
                    type: number
                    description: The number of retries to attempt in case of a timeout before
                      marking the origin as unhealthy. Retries are attempted
                      immediately.
                  status:
                    type: string
                    enum:
                      - unknown
                      - healthy
                      - unhealthy
                      - suspended
                    description: The current status of the origin server according to the health
                      check.
                  suspended:
                    type: boolean
                    description: If suspended, no health checks are sent to the origin.
                  tcp_config:
                    oneOf:
                      - type: object
                        properties:
                          method:
                            type: string
                            enum:
                              - connection_established
                            description: The TCP connection method to use for the health check.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80.
                    nullable: true
                    description: Parameters specific to TCP health check.
                  timeout:
                    type: number
                    description: The timeout (in seconds) before marking the health check as failed.
                  type:
                    type: string
                    description: The protocol to use for the health check. Currently supported
                      protocols are 'HTTP', 'HTTPS' and 'TCP'.
      x-distilled-response-path: result
    delete:
      operationId: deleteHealthcheck
      description: "Delete a health check.  @example ```ts const healthcheck = await
        client.healthchecks.delete( '023e105f4ecef8ad9ca31a8372d0c353', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: healthcheckId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
      x-distilled-response-path: result
  /zones/{zone_id}/healthchecks:
    get:
      operationId: listHealthchecks
      description: "List configured health checks.  @example ```ts // Automatically
        fetches more pages as needed. for await (const healthcheck of
        client.healthchecks.list({ zone_id: '023e105f4ecef8ad9ca31a8372d0c353',
        })) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                  address:
                    type: string
                    description: The hostname or IP address of the origin server to run health
                      checks on.
                  check_regions:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - WNAM
                            - ENAM
                            - WEU
                            - EEU
                            - NSAM
                            - SSAM
                            - OC
                            - ME
                            - NAF
                            - SAF
                            - IN
                            - SEAS
                            - NEAS
                            - ALL_REGIONS
                    nullable: true
                    description: A list of regions from which to run health checks. Null means
                      Cloudflare will pick a default region.
                  consecutive_fails:
                    type: number
                    description: The number of consecutive fails required from a health check before
                      changing the health to unhealthy.
                  consecutive_successes:
                    type: number
                    description: The number of consecutive successes required from a health check
                      before changing the health to healthy.
                  created_on:
                    type: string
                  description:
                    type: string
                    description: A human-readable description of the health check.
                  failure_reason:
                    type: string
                    description: The current failure reason if status is unhealthy.
                  http_config:
                    oneOf:
                      - type: object
                        properties:
                          allow_insecure:
                            type: boolean
                            description: Do not validate the certificate when the health check uses HTTPS.
                          expected_body:
                            type: string
                            description: A case-insensitive sub-string to look for in the response body. If
                              this string is not found, the origin will be
                              marked as unhealthy.
                          expected_codes:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                              "2xx" for all codes starting with 2) of the health
                              check.
                          follow_redirects:
                            type: boolean
                            description: Follow redirects if the origin returns a 3xx status code.
                          header:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: The HTTP request headers to send in the health check. It is
                              recommended you set a Host header by default. The
                              User-Agent header cannot be overridden.
                          method:
                            type: string
                            enum:
                              - GET
                              - HEAD
                            description: The HTTP method to use for the health check.
                          path:
                            type: string
                            description: The endpoint path to health check against.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80 if
                              type is HTTP or 443 if type is HTTPS.
                    nullable: true
                    description: Parameters specific to an HTTP or HTTPS health check.
                  interval:
                    type: number
                    description: The interval between each health check. Shorter intervals may give
                      quicker notifications if the origin status changes, but
                      will increase load on the origin as we check from multiple
                      locations.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A short name to identify the health check. Only alphanumeric
                      characters, hyphens and underscores are allowed.
                  retries:
                    type: number
                    description: The number of retries to attempt in case of a timeout before
                      marking the origin as unhealthy. Retries are attempted
                      immediately.
                  status:
                    type: string
                    enum:
                      - unknown
                      - healthy
                      - unhealthy
                      - suspended
                    description: The current status of the origin server according to the health
                      check.
                  suspended:
                    type: boolean
                    description: If suspended, no health checks are sent to the origin.
                  tcp_config:
                    oneOf:
                      - type: object
                        properties:
                          method:
                            type: string
                            enum:
                              - connection_established
                            description: The TCP connection method to use for the health check.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80.
                    nullable: true
                    description: Parameters specific to TCP health check.
                  timeout:
                    type: number
                    description: The timeout (in seconds) before marking the health check as failed.
                  type:
                    type: string
                    description: The protocol to use for the health check. Currently supported
                      protocols are 'HTTP', 'HTTPS' and 'TCP'.
      x-distilled-pagination-class: HealthchecksV4PagePaginationArray
    post:
      operationId: createHealthcheck
      description: "Create a new health check.  @example ```ts const healthcheck =
        await client.healthchecks.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', address: 'www.example.com', name:
        'server-1', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: "Body param: The hostname or IP address of the origin server to run
                    health checks on."
                name:
                  type: string
                  description: "Body param: A short name to identify the health check. Only
                    alphanumeric characters, hyphens and underscores are
                    allowed."
                check_regions:
                  oneOf:
                    - type: array
                      items:
                        type: string
                        enum:
                          - WNAM
                          - ENAM
                          - WEU
                          - EEU
                          - NSAM
                          - SSAM
                          - OC
                          - ME
                          - NAF
                          - SAF
                          - IN
                          - SEAS
                          - NEAS
                          - ALL_REGIONS
                  nullable: true
                  description: "Body param: A list of regions from which to run health checks.
                    Null means Cloudflare will pick a default region."
                consecutive_fails:
                  type: number
                  description: "Body param: The number of consecutive fails required from a health
                    check before changing the health to unhealthy."
                consecutive_successes:
                  type: number
                  description: "Body param: The number of consecutive successes required from a
                    health check before changing the health to healthy."
                description:
                  type: string
                  description: "Body param: A human-readable description of the health check."
                http_config:
                  oneOf:
                    - type: object
                      properties:
                        allow_insecure:
                          type: boolean
                          description: Do not validate the certificate when the health check uses HTTPS.
                        expected_body:
                          type: string
                          description: A case-insensitive sub-string to look for in the response body. If
                            this string is not found, the origin will be marked
                            as unhealthy.
                        expected_codes:
                          oneOf:
                            - type: array
                              items:
                                type: string
                          nullable: true
                          description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                            "2xx" for all codes starting with 2) of the health
                            check.
                        follow_redirects:
                          type: boolean
                          description: Follow redirects if the origin returns a 3xx status code.
                        header:
                          oneOf:
                            - type: object
                              additionalProperties: true
                          nullable: true
                          description: The HTTP request headers to send in the health check. It is
                            recommended you set a Host header by default. The
                            User-Agent header cannot be overridden.
                        method:
                          type: string
                          enum:
                            - GET
                            - HEAD
                          description: The HTTP method to use for the health check.
                        path:
                          type: string
                          description: The endpoint path to health check against.
                        port:
                          type: number
                          description: Port number to connect to for the health check. Defaults to 80 if
                            type is HTTP or 443 if type is HTTPS.
                  nullable: true
                  description: "Body param: Parameters specific to an HTTP or HTTPS health check."
                interval:
                  type: number
                  description: "Body param: The interval between each health check. Shorter
                    intervals may give quicker notifications if the origin
                    status changes, but will increase load on the origin as we
                    check from multiple locations."
                retries:
                  type: number
                  description: "Body param: The number of retries to attempt in case of a timeout
                    before marking the origin as unhealthy. Retries are
                    attempted immediately."
                suspended:
                  type: boolean
                  description: "Body param: If suspended, no health checks are sent to the
                    origin."
                tcp_config:
                  oneOf:
                    - type: object
                      properties:
                        method:
                          type: string
                          enum:
                            - connection_established
                          description: The TCP connection method to use for the health check.
                        port:
                          type: number
                          description: Port number to connect to for the health check. Defaults to 80.
                  nullable: true
                  description: "Body param: Parameters specific to TCP health check."
                timeout:
                  type: number
                  description: "Body param: The timeout (in seconds) before marking the health
                    check as failed."
                type:
                  type: string
                  description: "Body param: The protocol to use for the health check. Currently
                    supported protocols are 'HTTP', 'HTTPS' and 'TCP'."
              required:
                - address
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                  address:
                    type: string
                    description: The hostname or IP address of the origin server to run health
                      checks on.
                  check_regions:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - WNAM
                            - ENAM
                            - WEU
                            - EEU
                            - NSAM
                            - SSAM
                            - OC
                            - ME
                            - NAF
                            - SAF
                            - IN
                            - SEAS
                            - NEAS
                            - ALL_REGIONS
                    nullable: true
                    description: A list of regions from which to run health checks. Null means
                      Cloudflare will pick a default region.
                  consecutive_fails:
                    type: number
                    description: The number of consecutive fails required from a health check before
                      changing the health to unhealthy.
                  consecutive_successes:
                    type: number
                    description: The number of consecutive successes required from a health check
                      before changing the health to healthy.
                  created_on:
                    type: string
                  description:
                    type: string
                    description: A human-readable description of the health check.
                  failure_reason:
                    type: string
                    description: The current failure reason if status is unhealthy.
                  http_config:
                    oneOf:
                      - type: object
                        properties:
                          allow_insecure:
                            type: boolean
                            description: Do not validate the certificate when the health check uses HTTPS.
                          expected_body:
                            type: string
                            description: A case-insensitive sub-string to look for in the response body. If
                              this string is not found, the origin will be
                              marked as unhealthy.
                          expected_codes:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                              "2xx" for all codes starting with 2) of the health
                              check.
                          follow_redirects:
                            type: boolean
                            description: Follow redirects if the origin returns a 3xx status code.
                          header:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: The HTTP request headers to send in the health check. It is
                              recommended you set a Host header by default. The
                              User-Agent header cannot be overridden.
                          method:
                            type: string
                            enum:
                              - GET
                              - HEAD
                            description: The HTTP method to use for the health check.
                          path:
                            type: string
                            description: The endpoint path to health check against.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80 if
                              type is HTTP or 443 if type is HTTPS.
                    nullable: true
                    description: Parameters specific to an HTTP or HTTPS health check.
                  interval:
                    type: number
                    description: The interval between each health check. Shorter intervals may give
                      quicker notifications if the origin status changes, but
                      will increase load on the origin as we check from multiple
                      locations.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A short name to identify the health check. Only alphanumeric
                      characters, hyphens and underscores are allowed.
                  retries:
                    type: number
                    description: The number of retries to attempt in case of a timeout before
                      marking the origin as unhealthy. Retries are attempted
                      immediately.
                  status:
                    type: string
                    enum:
                      - unknown
                      - healthy
                      - unhealthy
                      - suspended
                    description: The current status of the origin server according to the health
                      check.
                  suspended:
                    type: boolean
                    description: If suspended, no health checks are sent to the origin.
                  tcp_config:
                    oneOf:
                      - type: object
                        properties:
                          method:
                            type: string
                            enum:
                              - connection_established
                            description: The TCP connection method to use for the health check.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80.
                    nullable: true
                    description: Parameters specific to TCP health check.
                  timeout:
                    type: number
                    description: The timeout (in seconds) before marking the health check as failed.
                  type:
                    type: string
                    description: The protocol to use for the health check. Currently supported
                      protocols are 'HTTP', 'HTTPS' and 'TCP'.
      x-distilled-response-path: result
  /zones/{zone_id}/healthchecks/preview/{healthcheckId}:
    get:
      operationId: getPreview
      description: "Fetch a single configured health check preview.  @example ```ts
        const healthcheck = await client.healthchecks.previews.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: healthcheckId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                  address:
                    type: string
                    description: The hostname or IP address of the origin server to run health
                      checks on.
                  check_regions:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - WNAM
                            - ENAM
                            - WEU
                            - EEU
                            - NSAM
                            - SSAM
                            - OC
                            - ME
                            - NAF
                            - SAF
                            - IN
                            - SEAS
                            - NEAS
                            - ALL_REGIONS
                    nullable: true
                    description: A list of regions from which to run health checks. Null means
                      Cloudflare will pick a default region.
                  consecutive_fails:
                    type: number
                    description: The number of consecutive fails required from a health check before
                      changing the health to unhealthy.
                  consecutive_successes:
                    type: number
                    description: The number of consecutive successes required from a health check
                      before changing the health to healthy.
                  created_on:
                    type: string
                  description:
                    type: string
                    description: A human-readable description of the health check.
                  failure_reason:
                    type: string
                    description: The current failure reason if status is unhealthy.
                  http_config:
                    oneOf:
                      - type: object
                        properties:
                          allow_insecure:
                            type: boolean
                            description: Do not validate the certificate when the health check uses HTTPS.
                          expected_body:
                            type: string
                            description: A case-insensitive sub-string to look for in the response body. If
                              this string is not found, the origin will be
                              marked as unhealthy.
                          expected_codes:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                              "2xx" for all codes starting with 2) of the health
                              check.
                          follow_redirects:
                            type: boolean
                            description: Follow redirects if the origin returns a 3xx status code.
                          header:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: The HTTP request headers to send in the health check. It is
                              recommended you set a Host header by default. The
                              User-Agent header cannot be overridden.
                          method:
                            type: string
                            enum:
                              - GET
                              - HEAD
                            description: The HTTP method to use for the health check.
                          path:
                            type: string
                            description: The endpoint path to health check against.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80 if
                              type is HTTP or 443 if type is HTTPS.
                    nullable: true
                    description: Parameters specific to an HTTP or HTTPS health check.
                  interval:
                    type: number
                    description: The interval between each health check. Shorter intervals may give
                      quicker notifications if the origin status changes, but
                      will increase load on the origin as we check from multiple
                      locations.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A short name to identify the health check. Only alphanumeric
                      characters, hyphens and underscores are allowed.
                  retries:
                    type: number
                    description: The number of retries to attempt in case of a timeout before
                      marking the origin as unhealthy. Retries are attempted
                      immediately.
                  status:
                    type: string
                    enum:
                      - unknown
                      - healthy
                      - unhealthy
                      - suspended
                    description: The current status of the origin server according to the health
                      check.
                  suspended:
                    type: boolean
                    description: If suspended, no health checks are sent to the origin.
                  tcp_config:
                    oneOf:
                      - type: object
                        properties:
                          method:
                            type: string
                            enum:
                              - connection_established
                            description: The TCP connection method to use for the health check.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80.
                    nullable: true
                    description: Parameters specific to TCP health check.
                  timeout:
                    type: number
                    description: The timeout (in seconds) before marking the health check as failed.
                  type:
                    type: string
                    description: The protocol to use for the health check. Currently supported
                      protocols are 'HTTP', 'HTTPS' and 'TCP'.
      x-distilled-response-path: result
    delete:
      operationId: deletePreview
      description: "Delete a health check.  @example ```ts const preview = await
        client.healthchecks.previews.delete( '023e105f4ecef8ad9ca31a8372d0c353',
        { zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: healthcheckId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
      x-distilled-response-path: result
  /zones/{zone_id}/healthchecks/preview:
    post:
      operationId: createPreview
      description: "Create a new preview health check.  @example ```ts const
        healthcheck = await client.healthchecks.previews.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', address: 'www.example.com', name:
        'server-1', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                  description: "Body param: The hostname or IP address of the origin server to run
                    health checks on."
                name:
                  type: string
                  description: "Body param: A short name to identify the health check. Only
                    alphanumeric characters, hyphens and underscores are
                    allowed."
                check_regions:
                  oneOf:
                    - type: array
                      items:
                        type: string
                        enum:
                          - WNAM
                          - ENAM
                          - WEU
                          - EEU
                          - NSAM
                          - SSAM
                          - OC
                          - ME
                          - NAF
                          - SAF
                          - IN
                          - SEAS
                          - NEAS
                          - ALL_REGIONS
                  nullable: true
                  description: "Body param: A list of regions from which to run health checks.
                    Null means Cloudflare will pick a default region."
                consecutive_fails:
                  type: number
                  description: "Body param: The number of consecutive fails required from a health
                    check before changing the health to unhealthy."
                consecutive_successes:
                  type: number
                  description: "Body param: The number of consecutive successes required from a
                    health check before changing the health to healthy."
                description:
                  type: string
                  description: "Body param: A human-readable description of the health check."
                http_config:
                  oneOf:
                    - type: object
                      properties:
                        allow_insecure:
                          type: boolean
                          description: Do not validate the certificate when the health check uses HTTPS.
                        expected_body:
                          type: string
                          description: A case-insensitive sub-string to look for in the response body. If
                            this string is not found, the origin will be marked
                            as unhealthy.
                        expected_codes:
                          oneOf:
                            - type: array
                              items:
                                type: string
                          nullable: true
                          description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                            "2xx" for all codes starting with 2) of the health
                            check.
                        follow_redirects:
                          type: boolean
                          description: Follow redirects if the origin returns a 3xx status code.
                        header:
                          oneOf:
                            - type: object
                              additionalProperties: true
                          nullable: true
                          description: The HTTP request headers to send in the health check. It is
                            recommended you set a Host header by default. The
                            User-Agent header cannot be overridden.
                        method:
                          type: string
                          enum:
                            - GET
                            - HEAD
                          description: The HTTP method to use for the health check.
                        path:
                          type: string
                          description: The endpoint path to health check against.
                        port:
                          type: number
                          description: Port number to connect to for the health check. Defaults to 80 if
                            type is HTTP or 443 if type is HTTPS.
                  nullable: true
                  description: "Body param: Parameters specific to an HTTP or HTTPS health check."
                interval:
                  type: number
                  description: "Body param: The interval between each health check. Shorter
                    intervals may give quicker notifications if the origin
                    status changes, but will increase load on the origin as we
                    check from multiple locations."
                retries:
                  type: number
                  description: "Body param: The number of retries to attempt in case of a timeout
                    before marking the origin as unhealthy. Retries are
                    attempted immediately."
                suspended:
                  type: boolean
                  description: "Body param: If suspended, no health checks are sent to the
                    origin."
                tcp_config:
                  oneOf:
                    - type: object
                      properties:
                        method:
                          type: string
                          enum:
                            - connection_established
                          description: The TCP connection method to use for the health check.
                        port:
                          type: number
                          description: Port number to connect to for the health check. Defaults to 80.
                  nullable: true
                  description: "Body param: Parameters specific to TCP health check."
                timeout:
                  type: number
                  description: "Body param: The timeout (in seconds) before marking the health
                    check as failed."
                type:
                  type: string
                  description: "Body param: The protocol to use for the health check. Currently
                    supported protocols are 'HTTP', 'HTTPS' and 'TCP'."
              required:
                - address
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                  address:
                    type: string
                    description: The hostname or IP address of the origin server to run health
                      checks on.
                  check_regions:
                    oneOf:
                      - type: array
                        items:
                          type: string
                          enum:
                            - WNAM
                            - ENAM
                            - WEU
                            - EEU
                            - NSAM
                            - SSAM
                            - OC
                            - ME
                            - NAF
                            - SAF
                            - IN
                            - SEAS
                            - NEAS
                            - ALL_REGIONS
                    nullable: true
                    description: A list of regions from which to run health checks. Null means
                      Cloudflare will pick a default region.
                  consecutive_fails:
                    type: number
                    description: The number of consecutive fails required from a health check before
                      changing the health to unhealthy.
                  consecutive_successes:
                    type: number
                    description: The number of consecutive successes required from a health check
                      before changing the health to healthy.
                  created_on:
                    type: string
                  description:
                    type: string
                    description: A human-readable description of the health check.
                  failure_reason:
                    type: string
                    description: The current failure reason if status is unhealthy.
                  http_config:
                    oneOf:
                      - type: object
                        properties:
                          allow_insecure:
                            type: boolean
                            description: Do not validate the certificate when the health check uses HTTPS.
                          expected_body:
                            type: string
                            description: A case-insensitive sub-string to look for in the response body. If
                              this string is not found, the origin will be
                              marked as unhealthy.
                          expected_codes:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: The expected HTTP response codes (e.g. "200") or code ranges (e.g.
                              "2xx" for all codes starting with 2) of the health
                              check.
                          follow_redirects:
                            type: boolean
                            description: Follow redirects if the origin returns a 3xx status code.
                          header:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: The HTTP request headers to send in the health check. It is
                              recommended you set a Host header by default. The
                              User-Agent header cannot be overridden.
                          method:
                            type: string
                            enum:
                              - GET
                              - HEAD
                            description: The HTTP method to use for the health check.
                          path:
                            type: string
                            description: The endpoint path to health check against.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80 if
                              type is HTTP or 443 if type is HTTPS.
                    nullable: true
                    description: Parameters specific to an HTTP or HTTPS health check.
                  interval:
                    type: number
                    description: The interval between each health check. Shorter intervals may give
                      quicker notifications if the origin status changes, but
                      will increase load on the origin as we check from multiple
                      locations.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A short name to identify the health check. Only alphanumeric
                      characters, hyphens and underscores are allowed.
                  retries:
                    type: number
                    description: The number of retries to attempt in case of a timeout before
                      marking the origin as unhealthy. Retries are attempted
                      immediately.
                  status:
                    type: string
                    enum:
                      - unknown
                      - healthy
                      - unhealthy
                      - suspended
                    description: The current status of the origin server according to the health
                      check.
                  suspended:
                    type: boolean
                    description: If suspended, no health checks are sent to the origin.
                  tcp_config:
                    oneOf:
                      - type: object
                        properties:
                          method:
                            type: string
                            enum:
                              - connection_established
                            description: The TCP connection method to use for the health check.
                          port:
                            type: number
                            description: Port number to connect to for the health check. Defaults to 80.
                    nullable: true
                    description: Parameters specific to TCP health check.
                  timeout:
                    type: number
                    description: The timeout (in seconds) before marking the health check as failed.
                  type:
                    type: string
                    description: The protocol to use for the health check. Currently supported
                      protocols are 'HTTP', 'HTTPS' and 'TCP'.
      x-distilled-response-path: result
