openapi: 3.1.0
info:
  title: Cloudflare HOSTNAMES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: hostnames
paths:
  /zones/{zone_id}/hostnames/settings/{settingId}:
    get:
      operationId: getSettingTls
      description: List the requested TLS setting for the hostnames under this zone.
      parameters:
        - name: settingId
          in: path
          required: true
          schema:
            type: string
            enum:
              - ciphers
              - min_tls_version
              - http2
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_at:
                    type: string
                    description: This is the time the tls setting was originally created for this
                      hostname.
                  hostname:
                    type: string
                    description: The hostname for which the tls settings are set.
                  status:
                    type: string
                    description: Deployment status for the given tls setting.
                  updated_at:
                    type: string
                    description: This is the time the tls setting was updated.
                  value:
                    oneOf:
                      - type: number
                        enum:
                          - 1
                      - type: number
                        enum:
                          - 1.1
                      - type: number
                        enum:
                          - 1.2
                      - type: number
                        enum:
                          - 1.3
                      - type: string
                        enum:
                          - on
                      - type: string
                        enum:
                          - off
                      - type: array
                        items:
                          type: string
                    description: 'The TLS setting value. The type depends on the `setting_id` used
                      in the request path:  - `ciphers`: an array of allowed
                      cipher suite strings in BoringSSL format (e.g.,
                      `["ECDHE-RSA-AES128-GCM-SHA256", "AES128-GCM-SHA256"]`) -
                      `min_tls_version`: a string indicating the minimum TLS
                      version — one of `"1.0"`, `"1.1"`, `"1.2"`, or `"1.3"`
                      (e.g., `"1.2"`) - `http2`: a string indicating whether
                      HTTP/2 is enabled — `"on"` or `"off"` (e.g., `"on"`)'
      x-distilled-pagination-class: TLSGetResponsesSinglePage
  /zones/{zone_id}/hostnames/settings/{settingId}/{hostname}:
    put:
      operationId: putSettingTls
      description: Update the tls setting value for the hostname.
      parameters:
        - name: settingId
          in: path
          required: true
          schema:
            type: string
            enum:
              - ciphers
              - min_tls_version
              - http2
        - name: hostname
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  oneOf:
                    - type: number
                      enum:
                        - 1
                    - type: number
                      enum:
                        - 1.1
                    - type: number
                      enum:
                        - 1.2
                    - type: number
                      enum:
                        - 1.3
                    - type: string
                      enum:
                        - on
                    - type: string
                      enum:
                        - off
                    - type: array
                      items:
                        type: string
                  description: 'Body param: The TLS setting value. The type depends on the
                    `setting_id` used in the request path:  - `ciphers`: an
                    array of allowed cipher suite strings in BoringSSL format
                    (e.g., `["ECDHE-RSA-AES128-GCM-SHA256",
                    "AES128-GCM-SHA256"]`) - `min_tls_version`: a string
                    indicating the minimum TLS version — one of `"1.0"`,
                    `"1.1"`, `"1.2"`, or `"1.3"` (e.g., `"1.2"`) - `http2`: a
                    string indicating whether HTTP/2 is enabled — `"on"` or
                    `"off"` (e.g., `"on"`)'
              required:
                - value
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_at:
                    type: string
                    description: This is the time the tls setting was originally created for this
                      hostname.
                  hostname:
                    type: string
                    description: The hostname for which the tls settings are set.
                  status:
                    type: string
                    description: Deployment status for the given tls setting.
                  updated_at:
                    type: string
                    description: This is the time the tls setting was updated.
                  value:
                    oneOf:
                      - type: number
                        enum:
                          - 1
                      - type: number
                        enum:
                          - 1.1
                      - type: number
                        enum:
                          - 1.2
                      - type: number
                        enum:
                          - 1.3
                      - type: string
                        enum:
                          - on
                      - type: string
                        enum:
                          - off
                      - type: array
                        items:
                          type: string
                    description: 'The TLS setting value. The type depends on the `setting_id` used
                      in the request path:  - `ciphers`: an array of allowed
                      cipher suite strings in BoringSSL format (e.g.,
                      `["ECDHE-RSA-AES128-GCM-SHA256", "AES128-GCM-SHA256"]`) -
                      `min_tls_version`: a string indicating the minimum TLS
                      version — one of `"1.0"`, `"1.1"`, `"1.2"`, or `"1.3"`
                      (e.g., `"1.2"`) - `http2`: a string indicating whether
                      HTTP/2 is enabled — `"on"` or `"off"` (e.g., `"on"`)'
      x-distilled-response-path: result
    delete:
      operationId: deleteSettingTls
      description: Delete the tls setting value for the hostname.
      parameters:
        - name: settingId
          in: path
          required: true
          schema:
            type: string
            enum:
              - ciphers
              - min_tls_version
              - http2
        - name: hostname
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_at:
                    type: string
                    description: This is the time the tls setting was originally created for this
                      hostname.
                  hostname:
                    type: string
                    description: The hostname for which the tls settings are set.
                  status:
                    type: string
                    description: Deployment status for the given tls setting.
                  updated_at:
                    type: string
                    description: This is the time the tls setting was updated.
                  value:
                    oneOf:
                      - type: number
                        enum:
                          - 1
                      - type: number
                        enum:
                          - 1.1
                      - type: number
                        enum:
                          - 1.2
                      - type: number
                        enum:
                          - 1.3
                      - type: string
                        enum:
                          - on
                      - type: string
                        enum:
                          - off
                      - type: array
                        items:
                          type: string
                    description: 'The TLS setting value. The type depends on the `setting_id` used
                      in the request path:  - `ciphers`: an array of allowed
                      cipher suite strings in BoringSSL format (e.g.,
                      `["ECDHE-RSA-AES128-GCM-SHA256", "AES128-GCM-SHA256"]`) -
                      `min_tls_version`: a string indicating the minimum TLS
                      version — one of `"1.0"`, `"1.1"`, `"1.2"`, or `"1.3"`
                      (e.g., `"1.2"`) - `http2`: a string indicating whether
                      HTTP/2 is enabled — `"on"` or `"off"` (e.g., `"on"`)'
      x-distilled-response-path: result
