openapi: 3.1.0
info:
  title: Cloudflare IAM API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: iam
paths:
  /accounts/{account_id}/oauth_clients/{oauthClientId}:
    get:
      operationId: getOauthClient
      description: "Get details of a specific OAuth client.  @example ```ts const
        oauthClient = await client.iam.oauthClients.get(
        'a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: oauthClientId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_id:
                    type: string
                    description: The unique identifier for an OAuth client.
                  visibility:
                    type: string
                    enum:
                      - public
                      - private
                    description: Visibility of the OAuth client.
                  allowed_cors_origins:
                    type: array
                    items:
                      type: string
                    description: Array of allowed CORS origins.
                  client_name:
                    type: string
                    description: Human-readable name of the OAuth client.
                  client_uri:
                    type: string
                    description: URL of the home page of the client.
                  client_uri_verification:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - pending
                          - in_progress
                          - verified
                          - failed
                        description: Current verification status for the client URI host.
                      text:
                        type: string
                        description: Exact TXT record value that must be added to DNS to prove ownership
                          of the client URI host.
                    description: Client URI domain control verification state.
                  created_at:
                    type: string
                    description: Timestamp when the OAuth client was created.
                  grant_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - authorization_code
                        - refresh_token
                    description: Array of OAuth grant types the client is allowed to use.
                      `authorization_code` is required; `refresh_token` may be
                      included optionally.
                  has_rotated_secret:
                    type: boolean
                    description: Indicates whether the client has a rotated secret that has not yet
                      been deleted.
                  logo_uri:
                    type: string
                    description: URL of the client's logo.
                  policy_uri:
                    type: string
                    description: URL that points to a privacy policy document.
                  post_logout_redirect_uris:
                    type: array
                    items:
                      type: string
                    description: Array of allowed post-logout redirect URIs.
                  promoted_at:
                    type: string
                    description: Timestamp when the OAuth client was promoted to public visibility.
                  redirect_uris:
                    type: array
                    items:
                      type: string
                    description: Array of allowed redirect URIs for the client.
                  response_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - token
                        - id_token
                        - code
                    description: Array of OAuth response types the client is allowed to use.
                  scopes:
                    type: array
                    items:
                      type: string
                    description: Array of OAuth scopes the client is allowed to request.
                      Colon-delimited scopes are not accepted. Dot-delimited
                      scopes are validated against available OAuth API scopes;
                      simple identity scopes are allowed. Protocol scopes
                      `offline_access` and `openid` are added or removed
                      automatically based on `grant_types` and `response_types`.
                  token_endpoint_auth_method:
                    type: string
                    enum:
                      - none
                      - client_secret_basic
                      - client_secret_post
                    description: The authentication method the client uses at the token endpoint.
                  tos_uri:
                    type: string
                    description: URL that points to a terms of service document.
                  updated_at:
                    type: string
                    description: Timestamp when the OAuth client was last updated.
                required:
                  - client_id
                  - visibility
      x-distilled-response-path: result
    patch:
      operationId: patchOauthClient
      description: "Update an existing OAuth client. Only include fields you want to
        update.  @example ```ts const oauthClient = await
        client.iam.oauthClients.update( 'a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: oauthClientId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                allowed_cors_origins:
                  type: array
                  items:
                    type: string
                  description: "Body param: Array of allowed CORS origins."
                client_name:
                  type: string
                  description: "Body param: Human-readable name of the OAuth client."
                client_uri:
                  type: string
                  description: "Body param: URL of the home page of the client."
                grant_types:
                  type: array
                  items:
                    type: string
                    enum:
                      - authorization_code
                      - refresh_token
                  description: "Body param: Array of OAuth grant types the client is allowed to
                    use. `authorization_code` is required; `refresh_token` may
                    be included optionally."
                logo_uri:
                  type: string
                  description: "Body param: URL of the client's logo."
                policy_uri:
                  type: string
                  description: "Body param: URL that points to a privacy policy document."
                post_logout_redirect_uris:
                  type: array
                  items:
                    type: string
                  description: "Body param: Array of allowed post-logout redirect URIs."
                redirect_uris:
                  type: array
                  items:
                    type: string
                  description: "Body param: Array of allowed redirect URIs for the client."
                response_types:
                  type: array
                  items:
                    type: string
                    enum:
                      - token
                      - id_token
                      - code
                  description: "Body param: Array of OAuth response types the client is allowed to
                    use."
                scopes:
                  type: array
                  items:
                    type: string
                  description: "Body param: Array of OAuth scopes the client is allowed to
                    request. Colon-delimited scopes are not accepted.
                    Dot-delimited scopes are validated against available OAuth
                    API scopes; simple identity scopes are allowed. Protocol
                    scopes `offline_access` and `openid` are added or removed
                    automatically based on `grant_types` and `response_types`."
                token_endpoint_auth_method:
                  type: string
                  enum:
                    - none
                    - client_secret_basic
                    - client_secret_post
                  description: "Body param: The authentication method the client uses at the token
                    endpoint."
                tos_uri:
                  type: string
                  description: "Body param: URL that points to a terms of service document."
                visibility:
                  type: string
                  enum:
                    - public
                  description: "Body param: Promote the OAuth client from private to public
                    visibility. Only `public` is accepted; demotion to `private`
                    is not supported. Promotion requires a non-empty client
                    name, logo URI, verified client URI host, and at least one
                    non-identity scope."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_id:
                    type: string
                    description: The unique identifier for an OAuth client.
                  visibility:
                    type: string
                    enum:
                      - public
                      - private
                    description: Visibility of the OAuth client.
                  allowed_cors_origins:
                    type: array
                    items:
                      type: string
                    description: Array of allowed CORS origins.
                  client_name:
                    type: string
                    description: Human-readable name of the OAuth client.
                  client_uri:
                    type: string
                    description: URL of the home page of the client.
                  client_uri_verification:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - pending
                          - in_progress
                          - verified
                          - failed
                        description: Current verification status for the client URI host.
                      text:
                        type: string
                        description: Exact TXT record value that must be added to DNS to prove ownership
                          of the client URI host.
                    description: Client URI domain control verification state.
                  created_at:
                    type: string
                    description: Timestamp when the OAuth client was created.
                  grant_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - authorization_code
                        - refresh_token
                    description: Array of OAuth grant types the client is allowed to use.
                      `authorization_code` is required; `refresh_token` may be
                      included optionally.
                  has_rotated_secret:
                    type: boolean
                    description: Indicates whether the client has a rotated secret that has not yet
                      been deleted.
                  logo_uri:
                    type: string
                    description: URL of the client's logo.
                  policy_uri:
                    type: string
                    description: URL that points to a privacy policy document.
                  post_logout_redirect_uris:
                    type: array
                    items:
                      type: string
                    description: Array of allowed post-logout redirect URIs.
                  promoted_at:
                    type: string
                    description: Timestamp when the OAuth client was promoted to public visibility.
                  redirect_uris:
                    type: array
                    items:
                      type: string
                    description: Array of allowed redirect URIs for the client.
                  response_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - token
                        - id_token
                        - code
                    description: Array of OAuth response types the client is allowed to use.
                  scopes:
                    type: array
                    items:
                      type: string
                    description: Array of OAuth scopes the client is allowed to request.
                      Colon-delimited scopes are not accepted. Dot-delimited
                      scopes are validated against available OAuth API scopes;
                      simple identity scopes are allowed. Protocol scopes
                      `offline_access` and `openid` are added or removed
                      automatically based on `grant_types` and `response_types`.
                  token_endpoint_auth_method:
                    type: string
                    enum:
                      - none
                      - client_secret_basic
                      - client_secret_post
                    description: The authentication method the client uses at the token endpoint.
                  tos_uri:
                    type: string
                    description: URL that points to a terms of service document.
                  updated_at:
                    type: string
                    description: Timestamp when the OAuth client was last updated.
                required:
                  - client_id
                  - visibility
      x-distilled-response-path: result
    delete:
      operationId: deleteOauthClient
      description: "Delete an OAuth client.  @example ```ts const oauthClient = await
        client.iam.oauthClients.delete( 'a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: oauthClientId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                required:
                  - id
      x-distilled-response-path: result
  /accounts/{account_id}/oauth_clients:
    get:
      operationId: listOauthClients
      description: "List all OAuth clients for an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        oauthClientListResponse of client.iam.oauthClients.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_id:
                    type: string
                    description: The unique identifier for an OAuth client.
                  visibility:
                    type: string
                    enum:
                      - public
                      - private
                    description: Visibility of the OAuth client.
                  allowed_cors_origins:
                    type: array
                    items:
                      type: string
                    description: Array of allowed CORS origins.
                  client_name:
                    type: string
                    description: Human-readable name of the OAuth client.
                  client_uri:
                    type: string
                    description: URL of the home page of the client.
                  client_uri_verification:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - pending
                          - in_progress
                          - verified
                          - failed
                        description: Current verification status for the client URI host.
                      text:
                        type: string
                        description: Exact TXT record value that must be added to DNS to prove ownership
                          of the client URI host.
                    description: Client URI domain control verification state.
                  created_at:
                    type: string
                    description: Timestamp when the OAuth client was created.
                  grant_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - authorization_code
                        - refresh_token
                    description: Array of OAuth grant types the client is allowed to use.
                      `authorization_code` is required; `refresh_token` may be
                      included optionally.
                  has_rotated_secret:
                    type: boolean
                    description: Indicates whether the client has a rotated secret that has not yet
                      been deleted.
                  logo_uri:
                    type: string
                    description: URL of the client's logo.
                  policy_uri:
                    type: string
                    description: URL that points to a privacy policy document.
                  post_logout_redirect_uris:
                    type: array
                    items:
                      type: string
                    description: Array of allowed post-logout redirect URIs.
                  promoted_at:
                    type: string
                    description: Timestamp when the OAuth client was promoted to public visibility.
                  redirect_uris:
                    type: array
                    items:
                      type: string
                    description: Array of allowed redirect URIs for the client.
                  response_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - token
                        - id_token
                        - code
                    description: Array of OAuth response types the client is allowed to use.
                  scopes:
                    type: array
                    items:
                      type: string
                    description: Array of OAuth scopes the client is allowed to request.
                      Colon-delimited scopes are not accepted. Dot-delimited
                      scopes are validated against available OAuth API scopes;
                      simple identity scopes are allowed. Protocol scopes
                      `offline_access` and `openid` are added or removed
                      automatically based on `grant_types` and `response_types`.
                  token_endpoint_auth_method:
                    type: string
                    enum:
                      - none
                      - client_secret_basic
                      - client_secret_post
                    description: The authentication method the client uses at the token endpoint.
                  tos_uri:
                    type: string
                    description: URL that points to a terms of service document.
                  updated_at:
                    type: string
                    description: Timestamp when the OAuth client was last updated.
                required:
                  - client_id
                  - visibility
      x-distilled-pagination-class: OAuthClientListResponsesSinglePage
    post:
      operationId: createOauthClient
      description: "Create a new OAuth client for an account.  @example ```ts const
        oauthClient = await client.iam.oauthClients.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', client_name: 'My OAuth App',
        grant_types: ['authorization_code', 'refresh_token'], redirect_uris:
        ['https://example.com/callback'], response_types: ['code'], scopes:
        ['account.read'], token_endpoint_auth_method: 'client_secret_post', });
        ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_name:
                  type: string
                  description: "Body param: Human-readable name of the OAuth client."
                grant_types:
                  type: array
                  items:
                    type: string
                    enum:
                      - authorization_code
                      - refresh_token
                  description: "Body param: Array of OAuth grant types the client is allowed to
                    use. `authorization_code` is required; `refresh_token` may
                    be included optionally."
                redirect_uris:
                  type: array
                  items:
                    type: string
                  description: "Body param: Array of allowed redirect URIs for the client."
                response_types:
                  type: array
                  items:
                    type: string
                    enum:
                      - token
                      - id_token
                      - code
                  description: "Body param: Array of OAuth response types the client is allowed to
                    use."
                scopes:
                  type: array
                  items:
                    type: string
                  description: "Body param: Array of OAuth scopes the client is allowed to
                    request. Colon-delimited scopes are not accepted.
                    Dot-delimited scopes are validated against available OAuth
                    API scopes; simple identity scopes are allowed. Protocol
                    scopes `offline_access` and `openid` are added or removed
                    automatically based on `grant_types` and `response_types`."
                token_endpoint_auth_method:
                  type: string
                  enum:
                    - none
                    - client_secret_basic
                    - client_secret_post
                  description: "Body param: The authentication method the client uses at the token
                    endpoint."
                allowed_cors_origins:
                  type: array
                  items:
                    type: string
                  description: "Body param: Array of allowed CORS origins."
                client_uri:
                  type: string
                  description: "Body param: URL of the home page of the client."
                logo_uri:
                  type: string
                  description: "Body param: URL of the client's logo."
                policy_uri:
                  type: string
                  description: "Body param: URL that points to a privacy policy document."
                post_logout_redirect_uris:
                  type: array
                  items:
                    type: string
                  description: "Body param: Array of allowed post-logout redirect URIs."
                tos_uri:
                  type: string
                  description: "Body param: URL that points to a terms of service document."
              required:
                - client_name
                - grant_types
                - redirect_uris
                - response_types
                - scopes
                - token_endpoint_auth_method
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_id:
                    type: string
                    description: The unique identifier for an OAuth client.
                  visibility:
                    type: string
                    enum:
                      - public
                      - private
                    description: Visibility of the OAuth client.
                  allowed_cors_origins:
                    type: array
                    items:
                      type: string
                    description: Array of allowed CORS origins.
                  client_name:
                    type: string
                    description: Human-readable name of the OAuth client.
                  client_secret:
                    type: string
                    description: The client secret. This is the only time the secret is returned in
                      a response.
                  client_uri:
                    type: string
                    description: URL of the home page of the client.
                  client_uri_verification:
                    type: object
                    properties:
                      status:
                        type: string
                        enum:
                          - pending
                          - in_progress
                          - verified
                          - failed
                        description: Current verification status for the client URI host.
                      text:
                        type: string
                        description: Exact TXT record value that must be added to DNS to prove ownership
                          of the client URI host.
                    description: Client URI domain control verification state.
                  created_at:
                    type: string
                    description: Timestamp when the OAuth client was created.
                  grant_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - authorization_code
                        - refresh_token
                    description: Array of OAuth grant types the client is allowed to use.
                      `authorization_code` is required; `refresh_token` may be
                      included optionally.
                  has_rotated_secret:
                    type: boolean
                    description: Indicates whether the client has a rotated secret that has not yet
                      been deleted.
                  logo_uri:
                    type: string
                    description: URL of the client's logo.
                  policy_uri:
                    type: string
                    description: URL that points to a privacy policy document.
                  post_logout_redirect_uris:
                    type: array
                    items:
                      type: string
                    description: Array of allowed post-logout redirect URIs.
                  promoted_at:
                    type: string
                    description: Timestamp when the OAuth client was promoted to public visibility.
                  redirect_uris:
                    type: array
                    items:
                      type: string
                    description: Array of allowed redirect URIs for the client.
                  response_types:
                    type: array
                    items:
                      type: string
                      enum:
                        - token
                        - id_token
                        - code
                    description: Array of OAuth response types the client is allowed to use.
                  scopes:
                    type: array
                    items:
                      type: string
                    description: Array of OAuth scopes the client is allowed to request.
                      Colon-delimited scopes are not accepted. Dot-delimited
                      scopes are validated against available OAuth API scopes;
                      simple identity scopes are allowed. Protocol scopes
                      `offline_access` and `openid` are added or removed
                      automatically based on `grant_types` and `response_types`.
                  token_endpoint_auth_method:
                    type: string
                    enum:
                      - none
                      - client_secret_basic
                      - client_secret_post
                    description: The authentication method the client uses at the token endpoint.
                  tos_uri:
                    type: string
                    description: URL that points to a terms of service document.
                  updated_at:
                    type: string
                    description: Timestamp when the OAuth client was last updated.
                required:
                  - client_id
                  - visibility
      x-distilled-response-path: result
  /oauth/scopes:
    get:
      operationId: listOauthScopes
      description: List all available OAuth scopes. This endpoint requires
        authentication but has no authorization role requirements.  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        oauthScopeListResponse of client.iam.oauthScopes.list()) { // ... } ```
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The scope label to use in the scopes array when creating or
                      updating an OAuth client.
                  name:
                    type: string
                    description: Human-readable name of the OAuth scope.
                  category:
                    type: string
                    description: Category for grouping scopes in the UI.
                  scopes:
                    type: array
                    items:
                      type: string
                    description: The underlying resource scopes (Bach scopes) that define which
                      resources this OAuth scope can act upon.
                required:
                  - id
                  - name
      x-distilled-pagination-class: OAuthScopeListResponsesSinglePage
  /accounts/{account_id}/iam/permission_groups/{permissionGroupId}:
    get:
      operationId: getPermissionGroup
      description: "Get information about a specific permission group in an
        account.  @example ```ts const permissionGroup = await
        client.iam.permissionGroups.get( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: permissionGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of the permission group.
                  meta:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                    description: Attributes associated to the permission group.
                  name:
                    type: string
                    description: Name of the permission group.
                required:
                  - id
      x-distilled-response-path: result
  /accounts/{account_id}/iam/permission_groups:
    get:
      operationId: listPermissionGroups
      description: "List all the permissions groups for an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        permissionGroupListResponse of client.iam.permissionGroups.list( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: id
          in: query
          required: false
          description: "Query param: ID of the permission group to be fetched."
          schema:
            type: string
        - name: label
          in: query
          required: false
          description: "Query param: Label of the permission group to be fetched."
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: "Query param: Name of the permission group to be fetched."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of the permission group.
                  meta:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                    description: Attributes associated to the permission group.
                  name:
                    type: string
                    description: Name of the permission group.
                required:
                  - id
      x-distilled-pagination-class: PermissionGroupListResponsesV4PagePaginationArray
  /accounts/{account_id}/iam/resource_groups/{resourceGroupId}:
    get:
      operationId: getResourceGroup
      description: "Get information about a specific resource group in an
        account.  @example ```ts const resourceGroup = await
        client.iam.resourceGroups.get( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: resourceGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of the resource group.
                  scope:
                    description: The scope associated to the resource group
                  meta:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                    description: Attributes associated to the resource group.
                  name:
                    type: string
                    description: Name of the resource group.
                required:
                  - id
                  - scope
      x-distilled-response-path: result
      x-distilled-errors:
        ResourceGroupNotFound:
          - code: 404
            message:
              includes: Resource group
        Forbidden:
          - status: 403
    put:
      operationId: updateResourceGroup
      description: "Modify an existing resource group.  @example ```ts const
        resourceGroup = await client.iam.resourceGroups.update(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: resourceGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Name of the resource group"
                scope:
                  type: object
                  properties:
                    key:
                      type: string
                      description: This is a combination of pre-defined resource name and identifier
                        (like Account ID etc.)
                    objects:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: This is a combination of pre-defined resource name and identifier
                              (like Zone ID etc.)
                        required:
                          - key
                      description: A list of scope objects for additional context. The number of Scope
                        objects should not be zero.
                  required:
                    - key
                    - objects
                  description: "Body param: A scope is a combination of scope objects which
                    provides additional context."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of the resource group.
                  scope:
                    description: The scope associated to the resource group
                  meta:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                    description: Attributes associated to the resource group.
                  name:
                    type: string
                    description: Name of the resource group.
                required:
                  - id
                  - scope
      x-distilled-response-path: result
      x-distilled-errors:
        ResourceGroupNotFound:
          - code: 404
            message:
              includes: Resource group
    delete:
      operationId: deleteResourceGroup
      description: "Remove a resource group from an account.  @example ```ts const
        resourceGroup = await client.iam.resourceGroups.delete(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: resourceGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        ResourceGroupNotFound:
          - code: 404
            message:
              includes: Resource group
  /accounts/{account_id}/iam/resource_groups:
    get:
      operationId: listResourceGroups
      description: "List all the resource groups for an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        resourceGroupListResponse of client.iam.resourceGroups.list( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: "Query param: ID of the resource group to be fetched."
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: "Query param: Name of the resource group to be fetched."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of the resource group.
                  scope:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          description: This is a combination of pre-defined resource name and identifier
                            (like Account ID etc.)
                        objects:
                          type: array
                          items:
                            type: object
                            properties:
                              key:
                                type: string
                                description: This is a combination of pre-defined resource name and identifier
                                  (like Zone ID etc.)
                            required:
                              - key
                          description: A list of scope objects for additional context.
                      required:
                        - key
                        - objects
                    description: The scope associated to the resource group
                  meta:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                    description: Attributes associated to the resource group.
                  name:
                    type: string
                    description: Name of the resource group.
                required:
                  - id
                  - scope
      x-distilled-pagination-class: ResourceGroupListResponsesSinglePage
    post:
      operationId: createResourceGroup
      description: "Create a new Resource Group under the specified account.  @example
        ```ts const resourceGroup = await client.iam.resourceGroups.create({
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', name:
        'NewResourceGroup', scope: { key:
        'com.cloudflare.api.account.eb78d65290b24279ba6f44721b3ea3c4', objects:
        [ { key:
        'com.cloudflare.api.account.zone.23f8d65290b24279ba6f44721b3eaad5', },
        ], }, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Name of the resource group"
                scope:
                  type: object
                  properties:
                    key:
                      type: string
                      description: This is a combination of pre-defined resource name and identifier
                        (like Account ID etc.)
                    objects:
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            type: string
                            description: This is a combination of pre-defined resource name and identifier
                              (like Zone ID etc.)
                        required:
                          - key
                      description: A list of scope objects for additional context. The number of Scope
                        objects should not be zero.
                  required:
                    - key
                    - objects
                  description: "Body param: A scope is a combination of scope objects which
                    provides additional context."
              required:
                - name
                - scope
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier of the resource group.
                  scope:
                    description: The scope associated to the resource group
                  meta:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                    description: Attributes associated to the resource group.
                  name:
                    type: string
                    description: Name of the resource group.
                required:
                  - id
                  - scope
      x-distilled-response-path: result
  /accounts/{account_id}/oauth_clients/{oauthClientId}/rotate_secret:
    delete:
      operationId: deleteRotatedSecretOauthClient
      description: "Removes the old client secret after a rotation, keeping only the
        new one. Use this after you have updated your client configuration to
        use the new secret. The `has_rotated_secret` field on the client
        indicates whether there is an old secret to delete.  @example ```ts
        const response = await client.iam.oauthClients.deleteRotatedSecret(
        'a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: oauthClientId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                required:
                  - id
      x-distilled-response-path: result
    post:
      operationId: rotateSecretOauthClient
      description: "Creates a second client secret so you can update your client
        configuration before deleting the old one. The `has_rotated_secret`
        field on the client will be set to `true`.  @example ```ts const
        response = await client.iam.oauthClients.rotateSecret(
        'a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: oauthClientId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  client_secret:
                    type: string
                    description: The new client secret.
      x-distilled-response-path: result
  /accounts/{account_id}/sso_connectors/{ssoConnectorId}:
    get:
      operationId: getSso
      description: "Retrieves details for a specific SSO connector.  @example ```ts
        const sso = await client.iam.sso.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ssoConnectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: SSO Connector identifier tag.
                  created_on:
                    type: string
                    description: Timestamp for the creation of the SSO connector
                  email_domain:
                    type: string
                  enabled:
                    type: boolean
                  updated_on:
                    type: string
                    description: Timestamp for the last update of the SSO connector
                  use_fedramp_language:
                    type: boolean
                    description: Controls the display of FedRAMP language to the user during SSO
                      login
                  verification:
                    type: object
                    properties:
                      code:
                        type: string
                        description: DNS verification code. Add this entire string to the DNS TXT record
                          of the email domain to validate ownership.
                      status:
                        type: string
                        enum:
                          - awaiting
                          - pending
                          - failed
                          - verified
                        description: The status of the verification code from the verification process.
      x-distilled-response-path: result
    patch:
      operationId: patchSso
      description: "Updates the state or configuration of an SSO connector.  @example
        ```ts const sso = await client.iam.sso.update(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ssoConnectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: SSO Connector enabled state"
                use_fedramp_language:
                  type: boolean
                  description: "Body param: Controls the display of FedRAMP language to the user
                    during SSO login"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: SSO Connector identifier tag.
                  created_on:
                    type: string
                    description: Timestamp for the creation of the SSO connector
                  email_domain:
                    type: string
                  enabled:
                    type: boolean
                  updated_on:
                    type: string
                    description: Timestamp for the last update of the SSO connector
                  use_fedramp_language:
                    type: boolean
                    description: Controls the display of FedRAMP language to the user during SSO
                      login
                  verification:
                    type: object
                    properties:
                      code:
                        type: string
                        description: DNS verification code. Add this entire string to the DNS TXT record
                          of the email domain to validate ownership.
                      status:
                        type: string
                        enum:
                          - awaiting
                          - pending
                          - failed
                          - verified
                        description: The status of the verification code from the verification process.
      x-distilled-response-path: result
    delete:
      operationId: deleteSso
      description: "Deletes an SSO connector from the account.  @example ```ts const
        sso = await client.iam.sso.delete( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ssoConnectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                required:
                  - id
      x-distilled-response-path: result
  /accounts/{account_id}/sso_connectors:
    get:
      operationId: listSsos
      description: "Lists all SSO connectors configured for the account.  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        ssoListResponse of client.iam.sso.list({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', })) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: SSO Connector identifier tag.
                  created_on:
                    type: string
                    description: Timestamp for the creation of the SSO connector
                  email_domain:
                    type: string
                  enabled:
                    type: boolean
                  updated_on:
                    type: string
                    description: Timestamp for the last update of the SSO connector
                  use_fedramp_language:
                    type: boolean
                    description: Controls the display of FedRAMP language to the user during SSO
                      login
                  verification:
                    type: object
                    properties:
                      code:
                        type: string
                        description: DNS verification code. Add this entire string to the DNS TXT record
                          of the email domain to validate ownership.
                      status:
                        type: string
                        enum:
                          - awaiting
                          - pending
                          - failed
                          - verified
                        description: The status of the verification code from the verification process.
      x-distilled-pagination-class: SSOListResponsesSinglePage
    post:
      operationId: createSso
      description: "Creates a new SSO connector for logging into Cloudflare through an
        identity provider.  @example ```ts const sso = await
        client.iam.sso.create({ account_id: '023e105f4ecef8ad9ca31a8372d0c353',
        email_domain: 'example.com', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email_domain:
                  type: string
                  description: "Body param: Email domain of the new SSO connector"
                begin_verification:
                  type: boolean
                  description: "Body param: Begin the verification process after creation"
                use_fedramp_language:
                  type: boolean
                  description: "Body param: Controls the display of FedRAMP language to the user
                    during SSO login"
              required:
                - email_domain
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: SSO Connector identifier tag.
                  created_on:
                    type: string
                    description: Timestamp for the creation of the SSO connector
                  email_domain:
                    type: string
                  enabled:
                    type: boolean
                  updated_on:
                    type: string
                    description: Timestamp for the last update of the SSO connector
                  use_fedramp_language:
                    type: boolean
                    description: Controls the display of FedRAMP language to the user during SSO
                      login
                  verification:
                    type: object
                    properties:
                      code:
                        type: string
                        description: DNS verification code. Add this entire string to the DNS TXT record
                          of the email domain to validate ownership.
                      status:
                        type: string
                        enum:
                          - awaiting
                          - pending
                          - failed
                          - verified
                        description: The status of the verification code from the verification process.
      x-distilled-response-path: result
  /accounts/{account_id}/iam/user_groups/{userGroupId}:
    get:
      operationId: getUserGroup
      description: "Get information about a specific user group in an
        account.  @example ```ts const userGroup = await
        client.iam.userGroups.get( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: userGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: User Group identifier tag.
                  created_on:
                    type: string
                    description: Timestamp for the creation of the user group
                  modified_on:
                    type: string
                    description: Last time the user group was modified.
                  name:
                    type: string
                    description: Name of the user group.
                  policies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Policy identifier.
                        access:
                          type: string
                          enum:
                            - allow
                            - deny
                          description: Allow or deny operations against the resources.
                        permission_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the permission group.
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the permission group.
                              name:
                                type: string
                                description: Name of the permission group.
                            required:
                              - id
                          description: A set of permission groups that are specified to the policy.
                        resource_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the resource group.
                              scope:
                                description: The scope associated to the resource group
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the resource group.
                              name:
                                type: string
                                description: Name of the resource group.
                            required:
                              - id
                              - scope
                          description: A list of resource groups that the policy applies to.
                    description: Policies attached to the User group
                required:
                  - id
                  - created_on
                  - modified_on
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        UserGroupNotFound:
          - code: 404
            message:
              includes: User group
        Forbidden:
          - status: 403
    put:
      operationId: updateUserGroup
      description: "Modify an existing user group.  @example ```ts const userGroup =
        await client.iam.userGroups.update( '023e105f4ecef8ad9ca31a8372d0c353',
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: userGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Name of the User group."
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Policy identifier.
                      access:
                        type: string
                        enum:
                          - allow
                          - deny
                        description: Allow or deny operations against the resources.
                      permission_groups:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Permission Group identifier tag.
                          required:
                            - id
                        description: A set of permission groups that are specified to the policy.
                      resource_groups:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Group identifier tag.
                          required:
                            - id
                        description: A set of resource groups that are specified to the policy.
                    required:
                      - access
                      - permission_groups
                      - resource_groups
                  description: "Body param: Policies attached to the User group"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: User Group identifier tag.
                  created_on:
                    type: string
                    description: Timestamp for the creation of the user group
                  modified_on:
                    type: string
                    description: Last time the user group was modified.
                  name:
                    type: string
                    description: Name of the user group.
                  policies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Policy identifier.
                        access:
                          type: string
                          enum:
                            - allow
                            - deny
                          description: Allow or deny operations against the resources.
                        permission_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the permission group.
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the permission group.
                              name:
                                type: string
                                description: Name of the permission group.
                            required:
                              - id
                          description: A set of permission groups that are specified to the policy.
                        resource_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the resource group.
                              scope:
                                description: The scope associated to the resource group
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the resource group.
                              name:
                                type: string
                                description: Name of the resource group.
                            required:
                              - id
                              - scope
                          description: A list of resource groups that the policy applies to.
                    description: Policies attached to the User group
                required:
                  - id
                  - created_on
                  - modified_on
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        UserGroupNotFound:
          - code: 404
            message:
              includes: User group
        UserGroupNameInUse:
          - code: 400
            message:
              includes: already in use
    delete:
      operationId: deleteUserGroup
      description: "Remove a user group from an account.  @example ```ts const
        userGroup = await client.iam.userGroups.delete(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: userGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        UserGroupNotFound:
          - code: 404
            message:
              includes: User group
  /accounts/{account_id}/iam/user_groups:
    get:
      operationId: listUserGroups
      description: "List all the user groups for an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        userGroupListResponse of client.iam.userGroups.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: id
          in: query
          required: false
          description: "Query param: ID of the user group to be fetched."
          schema:
            type: string
        - name: direction
          in: query
          required: false
          description: "Query param: The sort order of returned user groups by name
            (ascending or descending)."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: fuzzyName
          in: query
          required: false
          description: "Query param: A string used for searching for user groups
            containing that substring."
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: "Query param: Name of the user group to be fetched."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: User Group identifier tag.
                  created_on:
                    type: string
                    description: Timestamp for the creation of the user group
                  modified_on:
                    type: string
                    description: Last time the user group was modified.
                  name:
                    type: string
                    description: Name of the user group.
                  policies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Policy identifier.
                        access:
                          type: string
                          enum:
                            - allow
                            - deny
                          description: Allow or deny operations against the resources.
                        permission_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the permission group.
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the permission group.
                              name:
                                type: string
                                description: Name of the permission group.
                            required:
                              - id
                          description: A set of permission groups that are specified to the policy.
                        resource_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the resource group.
                              scope:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                      description: This is a combination of pre-defined resource name and identifier
                                        (like Account ID etc.)
                                    objects:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          key:
                                            type: string
                                            description: This is a combination of pre-defined resource name and identifier
                                              (like Zone ID etc.)
                                        required:
                                          - key
                                      description: A list of scope objects for additional context.
                                  required:
                                    - key
                                    - objects
                                description: The scope associated to the resource group
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the resource group.
                              name:
                                type: string
                                description: Name of the resource group.
                            required:
                              - id
                              - scope
                          description: A list of resource groups that the policy applies to.
                    description: Policies attached to the User group
                required:
                  - id
                  - created_on
                  - modified_on
                  - name
      x-distilled-pagination-class: UserGroupListResponsesV4PagePaginationArray
    post:
      operationId: createUserGroup
      description: "Create a new user group under the specified account.  @example
        ```ts const userGroup = await client.iam.userGroups.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'My New User Group', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Name of the User group."
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      access:
                        type: string
                        enum:
                          - allow
                          - deny
                        description: Allow or deny operations against the resources.
                      permission_groups:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Permission Group identifier tag.
                          required:
                            - id
                        description: A set of permission groups that are specified to the policy.
                      resource_groups:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: Resource Group identifier tag.
                          required:
                            - id
                        description: A set of resource groups that are specified to the policy.
                    required:
                      - access
                      - permission_groups
                      - resource_groups
                  description: "Body param: Policies attached to the User group"
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: User Group identifier tag.
                  created_on:
                    type: string
                    description: Timestamp for the creation of the user group
                  modified_on:
                    type: string
                    description: Last time the user group was modified.
                  name:
                    type: string
                    description: Name of the user group.
                  policies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Policy identifier.
                        access:
                          type: string
                          enum:
                            - allow
                            - deny
                          description: Allow or deny operations against the resources.
                        permission_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the permission group.
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the permission group.
                              name:
                                type: string
                                description: Name of the permission group.
                            required:
                              - id
                          description: A set of permission groups that are specified to the policy.
                        resource_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the resource group.
                              scope:
                                description: The scope associated to the resource group
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the resource group.
                              name:
                                type: string
                                description: Name of the resource group.
                            required:
                              - id
                              - scope
                          description: A list of resource groups that the policy applies to.
                    description: Policies attached to the User group
                required:
                  - id
                  - created_on
                  - modified_on
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        UserGroupNameInUse:
          - code: 400
            message:
              includes: already in use
  /accounts/{account_id}/iam/user_groups/{userGroupId}/members/{memberId}:
    get:
      operationId: getUserGroupMember
      description: "Get details of a specific member in a user group.  @example ```ts
        const member = await client.iam.userGroups.members.get(
        '023e105f4ecef8ad9ca31a8372d0c353', '023e105f4ecef8ad9ca31a8372d0c353',
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: userGroupId
          in: path
          required: true
          schema:
            type: string
        - name: memberId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Account member identifier.
                  created_at:
                    type: string
                    description: When the member was added to the user group.
                  email:
                    type: string
                    description: The contact email address of the user.
                  status:
                    type: string
                    enum:
                      - accepted
                      - pending
                    description: The member's status in the account.
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        description: User identifier tag.
                      email:
                        type: string
                        description: The contact email address of the user.
                      first_name:
                        type: string
                        description: User's first name.
                      last_name:
                        type: string
                        description: User's last name.
                    description: Details of the user associated with this membership.
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        UserGroupMemberNotFound:
          - code: 404
            message:
              includes: not found in user group
        UserGroupNotFound:
          - code: 404
            message:
              includes: User group
        Forbidden:
          - status: 403
    delete:
      operationId: deleteUserGroupMember
      description: "Remove a member from User Group  @example ```ts const member =
        await client.iam.userGroups.members.delete(
        '023e105f4ecef8ad9ca31a8372d0c353', '023e105f4ecef8ad9ca31a8372d0c353',
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: userGroupId
          in: path
          required: true
          schema:
            type: string
        - name: memberId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Account member identifier.
                  email:
                    type: string
                    description: The contact email address of the user.
                  status:
                    type: string
                    enum:
                      - accepted
                      - pending
                    description: The member's status in the account.
                required:
                  - id
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidMember:
          - code: 400
        UserGroupMemberNotFound:
          - code: 404
            message:
              includes: not found in user group
        UserGroupNotFound:
          - code: 404
            message:
              includes: User group
  /accounts/{account_id}/iam/user_groups/{userGroupId}/members:
    get:
      operationId: listUserGroupMembers
      description: "List all the members attached to a user group.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        memberListResponse of client.iam.userGroups.members.list(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: userGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: The sort order of returned user group members by
            email."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: fuzzyEmail
          in: query
          required: false
          description: "Query param: A string used for filtering members by partial email
            match."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Account member identifier.
                  email:
                    type: string
                    description: The contact email address of the user.
                  status:
                    type: string
                    enum:
                      - accepted
                      - pending
                    description: The member's status in the account.
                required:
                  - id
      x-distilled-pagination-class: MemberListResponsesV4PagePaginationArray
      x-distilled-errors:
        UserGroupNotFound:
          - code: 404
            message:
              includes: User group
        PolicyValidationFailed:
          - status: 400
            message:
              includes: Policy validation failed
    post:
      operationId: createUserGroupMember
      description: "Add members to a User Group.  @example ```ts // Automatically
        fetches more pages as needed. for await (const memberCreateResponse of
        client.iam.userGroups.members.create(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', members: [{ id:
        '023e105f4ecef8ad9ca31a8372d0c353' }], }, )) { // ... } ```"
      parameters:
        - name: userGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The identifier of an existing account Member.
                required:
                  - id
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Account member identifier.
                  email:
                    type: string
                    description: The contact email address of the user.
                  status:
                    type: string
                    enum:
                      - accepted
                      - pending
                    description: The member's status in the account.
                required:
                  - id
      x-distilled-pagination-class: MemberCreateResponsesSinglePage
      x-distilled-errors:
        InvalidMember:
          - code: 400
        UserGroupNotFound:
          - code: 404
            message:
              includes: User group
    put:
      operationId: updateUserGroupMember
      description: "Replace the set of members attached to a User Group.  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        memberUpdateResponse of client.iam.userGroups.members.update(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', members: [{ id:
        '023e105f4ecef8ad9ca31a8372d0c353' }], }, )) { // ... } ```"
      parameters:
        - name: userGroupId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier tag."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: The identifier of an existing account Member.
                required:
                  - id
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Account member identifier.
                  email:
                    type: string
                    description: The contact email address of the user.
                  status:
                    type: string
                    enum:
                      - accepted
                      - pending
                    description: The member's status in the account.
                required:
                  - id
      x-distilled-pagination-class: MemberUpdateResponsesSinglePage
      x-distilled-errors:
        InvalidMember:
          - code: 400
        UserGroupNotFound:
          - code: 404
            message:
              includes: User group
  /accounts/{account_id}/sso_connectors/{ssoConnectorId}/begin_verification:
    post:
      operationId: beginVerificationSso
      description: "Validates the user has added the DNS TXT record required for
        validating ownership of the domain they are trying to set up a connector
        for.  @example ```ts const response = await
        client.iam.sso.beginVerification( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ssoConnectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
[...]
