openapi: 3.1.0
info:
  title: Cloudflare IPS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: ips
paths:
  /ips:
    get:
      operationId: listIps
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      etag:
                        type: string
                        description: A digest of the IP data. Useful for determining if the data has
                          changed.
                      ipv4_cidrs:
                        type: array
                        items:
                          type: string
                        description: List of Cloudflare IPv4 CIDR addresses.
                      ipv6_cidrs:
                        type: array
                        items:
                          type: string
                        description: List of Cloudflare IPv6 CIDR addresses.
                  - type: object
                    properties:
                      etag:
                        type: string
                        description: A digest of the IP data. Useful for determining if the data has
                          changed.
                      ipv4_cidrs:
                        type: array
                        items:
                          type: string
                        description: List of Cloudflare IPv4 CIDR addresses.
                      ipv6_cidrs:
                        type: array
                        items:
                          type: string
                        description: List of Cloudflare IPv6 CIDR addresses.
                      jdcloud_cidrs:
                        type: array
                        items:
                          type: string
                        description: List IPv4 and IPv6 CIDRs, only populated if `?networks=jdcloud` is
                          used.
      x-distilled-response-path: result
