openapi: 3.1.0
info:
  title: Cloudflare KV API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: kv
paths:
  /accounts/{account_id}/storage/kv/namespaces/{namespaceId}:
    get:
      operationId: getNamespace
      description: "Get the namespace corresponding to the given ID.  @example ```ts
        const namespace = await client.kv.namespaces.get(
        '0f2ac74b498b48028cb68387c421e279', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Namespace identifier tag.
                  title:
                    type: string
                    description: A human-readable string name for a Namespace.
                  supports_url_encoding:
                    type: boolean
                    description: True if keys written on the URL will be URL-decoded before storing.
                      For example, if set to "true", a key written on the URL as
                      "%3F" will be stored as "?".
                required:
                  - id
                  - title
      x-distilled-response-path: result
      x-distilled-errors:
        NamespaceNotFound:
          - code: 10013
        InvalidObjectIdentifier:
          - code: 7003
    put:
      operationId: updateNamespace
      description: "Modifies a namespace's title.  @example ```ts const namespace =
        await client.kv.namespaces.update( '0f2ac74b498b48028cb68387c421e279', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', title: 'My Own
        Namespace', }, ); ```"
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: "Body param: A human-readable string name for a Namespace."
              required:
                - title
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Namespace identifier tag.
                  title:
                    type: string
                    description: A human-readable string name for a Namespace.
                  supports_url_encoding:
                    type: boolean
                    description: True if keys written on the URL will be URL-decoded before storing.
                      For example, if set to "true", a key written on the URL as
                      "%3F" will be stored as "?".
                required:
                  - id
                  - title
      x-distilled-response-path: result
      x-distilled-errors:
        NamespaceNotFound:
          - code: 10013
        TitleRequired:
          - code: 10019
        InvalidObjectIdentifier:
          - code: 7003
        NamespaceTitleAlreadyExists:
          - code: 10014
    delete:
      operationId: deleteNamespace
      description: "Deletes the namespace corresponding to the given ID.  @example
        ```ts const namespace = await client.kv.namespaces.delete(
        '0f2ac74b498b48028cb68387c421e279', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-distilled-response-path: result
      x-distilled-errors:
        MethodNotAllowed:
          - code: 10405
            message:
              includes: not allowed
          - code: 10000
            message:
              includes: not allowed
        NamespaceNotFound:
          - code: 10013
        InvalidObjectIdentifier:
          - code: 7003
  /accounts/{account_id}/storage/kv/namespaces:
    get:
      operationId: listNamespaces
      description: "Returns the namespaces owned by an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const namespace
        of client.kv.namespaces.list({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', })) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: direction
          in: query
          required: false
          description: "Query param: Direction to order namespaces."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: order
          in: query
          required: false
          description: "Query param: Field to order results by."
          schema:
            type: string
            enum:
              - id
              - title
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Namespace identifier tag.
                  title:
                    type: string
                    description: A human-readable string name for a Namespace.
                  supports_url_encoding:
                    type: boolean
                    description: True if keys written on the URL will be URL-decoded before storing.
                      For example, if set to "true", a key written on the URL as
                      "%3F" will be stored as "?".
                required:
                  - id
                  - title
      x-distilled-pagination-class: NamespacesV4PagePaginationArray
    post:
      operationId: createNamespace
      description: "Creates a namespace under the given title. A `400` is returned if
        the account already owns a namespace with this title. A namespace must
        be explicitly deleted to be replaced.  @example ```ts const namespace =
        await client.kv.namespaces.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', title: 'My Own Namespace', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: "Body param: A human-readable string name for a Namespace."
              required:
                - title
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Namespace identifier tag.
                  title:
                    type: string
                    description: A human-readable string name for a Namespace.
                  supports_url_encoding:
                    type: boolean
                    description: True if keys written on the URL will be URL-decoded before storing.
                      For example, if set to "true", a key written on the URL as
                      "%3F" will be stored as "?".
                required:
                  - id
                  - title
      x-distilled-response-path: result
      x-distilled-errors:
        TitleRequired:
          - code: 10019
        InvalidObjectIdentifier:
          - code: 7003
        NamespaceTitleAlreadyExists:
          - code: 10014
  /accounts/{account_id}/storage/kv/namespaces/{namespaceId}/bulk/get:
    post:
      operationId: bulkGetNamespaceKeys
      description: Retrieve up to 100 KV pairs from the namespace. Keys must contain
        text-based values. JSON values can optionally be parsed instead of being
        returned as a string value. Metadata can be included if `withMetadata`
        is true.  @deprecated Please use kv.namespaces.bulk_get instead
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keys:
                  type: array
                  items:
                    type: string
                  description: "Body param: Array of keys to retrieve (maximum of 100)."
                type:
                  type: string
                  enum:
                    - text
                    - json
                  description: "Body param: Whether to parse JSON values in the response."
                withMetadata:
                  type: boolean
                  description: "Body param: Whether to include metadata in the response."
              required:
                - keys
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      values:
                        type: object
                        additionalProperties: true
                        description: Requested keys are paired with their values in an object.
                  - type: object
                    properties:
                      values:
                        type: object
                        additionalProperties: true
                        description: Requested keys are paired with their values and metadata in an
                          object.
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRequestBody:
          - code: 10012
        NamespaceNotFound:
          - code: 10013
        InvalidObjectIdentifier:
          - code: 7003
  /accounts/{account_id}/storage/kv/namespaces/{namespaceId}/bulk/delete:
    post:
      operationId: bulkDeleteNamespaceKeys
      description: Remove multiple KV pairs from the namespace. Body should be an
        array of up to 10,000 keys to be removed.  @deprecated Please use
        kv.namespaces.bulk_delete instead
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  successful_key_count:
                    type: number
                    description: Number of keys successfully updated.
                  unsuccessful_keys:
                    type: array
                    items:
                      type: string
                    description: Name of the keys that failed to be fully updated. They should be
                      retried.
      x-distilled-response-path: result
      x-distilled-errors:
        NamespaceNotFound:
          - code: 10013
        InvalidRequestBody:
          - code: 10012
        InvalidObjectIdentifier:
          - code: 7003
  /accounts/{account_id}/storage/kv/namespaces/{namespaceId}/keys:
    get:
      operationId: listNamespaceKeys
      description: "Lists a namespace's keys.  @example ```ts // Automatically fetches
        more pages as needed. for await (const key of
        client.kv.namespaces.keys.list( '0f2ac74b498b48028cb68387c421e279', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param: Limits the number of keys returned in the response.
            The cursor attribute may be used to iterate over the next batch of
            keys if there are more than the limit."
          schema:
            type: number
        - name: prefix
          in: query
          required: false
          description: "Query param: Filters returned keys by a name prefix. Exact matches
            and any key names that begin with the prefix will be returned."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: A key's name. The name may be at most 512 bytes. All printable,
                      non-whitespace characters are valid. Use percent-encoding
                      to define key names as part of a URL.
                  expiration:
                    type: number
                    description: The time, measured in number of seconds since the UNIX epoch, at
                      which the key will expire. This property is omitted for
                      keys that will not expire.
                  metadata:
                    description: Arbitrary JSON that is associated with a key.
                required:
                  - name
      x-distilled-pagination-class: KeysCursorPaginationAfter
  /accounts/{account_id}/storage/kv/namespaces/{namespaceId}/metadata/{keyName}:
    get:
      operationId: getNamespaceMetadata
      description: "Returns the metadata associated with the given key in the given
        namespace. Use URL-encoding to use special characters (for example, `:`,
        `!`, `%`) in the key name.  @example ```ts const metadata = await
        client.kv.namespaces.metadata.get( '0f2ac74b498b48028cb68387c421e279',
        'My-Key', { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: keyName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        KeyNotFound:
          - code: 10009
        NamespaceNotFound:
          - code: 10013
        InvalidObjectIdentifier:
          - code: 7003
  /accounts/{account_id}/storage/kv/namespaces/{namespaceId}/values/{keyName}:
    get:
      operationId: getNamespaceValue
      description: "Returns the value associated with the given key in the given
        namespace. Use URL-encoding to use special characters (for example, `:`,
        `!`, `%`) in the key name. If the KV-pair is set to expire at some
        point, the expiration time as measured in seconds since the UNIX epoch
        will be returned in the `expiration` response header.  @example ```ts
        const value = await client.kv.namespaces.values.get(
        '0f2ac74b498b48028cb68387c421e279', 'My-Key', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, );  const content = await
        value.blob(); console.log(content); ```"
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: keyName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
      x-distilled-errors:
        KeyNotFound:
          - code: 10009
        NamespaceNotFound:
          - code: 10013
        InvalidObjectIdentifier:
          - code: 7003
    put:
      operationId: putNamespaceValue
      description: "Write a value identified by a key. Use URL-encoding to use special
        characters (for example, `:`, `!`, `%`) in the key name. Body should be
        the value to be stored. If JSON metadata to be associated with the
        key/value pair is needed, use `multipart/form-data` content type for
        your PUT request (see dropdown below in `REQUEST BODY SCHEMA`). Existing
        values, expirations, and metadata will be overwritten. If neither
        `expiration` nor `expiration_ttl` is specified, the key-value pair will
        never expire. If both are set, `expiration_ttl` is used and `expiration`
        is ignored.  @example ```ts const value = await
        client.kv.namespaces.values.update( '0f2ac74b498b48028cb68387c421e279',
        'My-Key', { account_id: '023e105f4ecef8ad9ca31a8372d0c353', value: 'Some
        Value', }, ); ```"
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: keyName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: expiration
          in: query
          required: false
          description: "Query param: Expires the key at a certain time, measured in number
            of seconds since the UNIX epoch."
          schema:
            type: number
        - name: expiration_ttl
          in: query
          required: false
          description: "Query param: Expires the key after a number of seconds. Must be at
            least 60."
          schema:
            type: number
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                value:
                  type: string
                  description: "Body param: A byte sequence to be stored, up to 25 MiB in length."
                metadata:
                  description: "Body param: Associates arbitrary JSON data with a key/value pair."
              required:
                - value
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-distilled-response-path: result
      x-distilled-errors:
        NamespaceNotFound:
          - code: 10013
        InvalidObjectIdentifier:
          - code: 7003
        InvalidExpirationTtl:
          - code: 10034
    delete:
      operationId: deleteNamespaceValue
      description: "Remove a KV pair from the namespace. Use URL-encoding to use
        special characters (for example, `:`, `!`, `%`) in the key
        name.  @example ```ts const value = await
        client.kv.namespaces.values.delete( '0f2ac74b498b48028cb68387c421e279',
        'My-Key', { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: keyName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
      x-distilled-response-path: result
      x-distilled-errors:
        NamespaceNotFound:
          - code: 10013
        InvalidObjectIdentifier:
          - code: 7003
  /accounts/{account_id}/storage/kv/namespaces/{namespaceId}/bulk:
    put:
      operationId: bulkPutNamespaceKeys
      description: Write multiple keys and values at once. Body should be an array of
        up to 10,000 key-value pairs to be stored, along with optional
        expiration information. Existing values and expirations will be
        overwritten. If neither `expiration` nor `expiration_ttl` is specified,
        the key-value pair will never expire. If both are set, `expiration_ttl`
        is used and `expiration` is ignored. The entire request size must be 100
        megabytes or less.  @deprecated Please use kv.namespaces.bulk_update
        instead
      parameters:
        - name: namespaceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  key:
                    type: string
                    description: A key's name. The name may be at most 512 bytes. All printable,
                      non-whitespace characters are valid.
                  value:
                    type: string
                    description: A UTF-8 encoded string to be stored, up to 25 MiB in length.
                  base64:
                    type: boolean
                    description: Indicates whether or not the server should base64 decode the value
                      before storing it. Useful for writing values that wouldn't
                      otherwise be valid JSON strings, such as images.
                  expiration:
                    type: number
                    description: Expires the key at a certain time, measured in number of seconds
                      since the UNIX epoch.
                  expiration_ttl:
                    type: number
                    description: Expires the key after a number of seconds. Must be at least 60.
                  metadata:
                    description: Arbitrary JSON that is associated with a key.
                required:
                  - key
                  - value
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  successful_key_count:
                    type: number
                    description: Number of keys successfully updated.
                  unsuccessful_keys:
                    type: array
                    items:
                      type: string
                    description: Name of the keys that failed to be fully updated. They should be
                      retried.
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRequestBody:
          - code: 10012
        NamespaceNotFound:
          - code: 10013
        InvalidObjectIdentifier:
          - code: 7003
