openapi: 3.1.0
info:
  title: Cloudflare LEAKED-CREDENTIAL-CHECKS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: leaked-credential-checks
paths:
  /zones/{zone_id}/leaked-credential-checks/detections/{detectionId}:
    get:
      operationId: getDetection
      description: "Get user-defined detection pattern for Leaked Credential
        Checks.  @example ```ts const detection = await
        client.leakedCredentialChecks.detections.get(
        '18a14bafaa8eb1df04ce683ec18c765e', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: detectionId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Defines the unique ID for this custom detection.
                  password:
                    type: string
                    description: Defines ehe ruleset expression to use in matching the password in a
                      request.
                  username:
                    type: string
                    description: Defines the ruleset expression to use in matching the username in a
                      request.
      x-distilled-response-path: result
    put:
      operationId: updateDetection
      description: "Update user-defined detection pattern for Leaked Credential
        Checks.  @example ```ts const detection = await
        client.leakedCredentialChecks.detections.update(
        '18a14bafaa8eb1df04ce683ec18c765e', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: detectionId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: "Body param: Defines ehe ruleset expression to use in matching the
                    password in a request."
                username:
                  type: string
                  description: "Body param: Defines the ruleset expression to use in matching the
                    username in a request."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Defines the unique ID for this custom detection.
                  password:
                    type: string
                    description: Defines ehe ruleset expression to use in matching the password in a
                      request.
                  username:
                    type: string
                    description: Defines the ruleset expression to use in matching the username in a
                      request.
      x-distilled-response-path: result
    delete:
      operationId: deleteDetection
      description: "Remove user-defined detection pattern for Leaked Credential
        Checks.  @example ```ts const detection = await
        client.leakedCredentialChecks.detections.delete(
        '18a14bafaa8eb1df04ce683ec18c765e', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: detectionId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /zones/{zone_id}/leaked-credential-checks/detections:
    get:
      operationId: listDetections
      description: "List user-defined detection patterns for Leaked Credential
        Checks.  @example ```ts // Automatically fetches more pages as needed.
        for await (const detectionListResponse of
        client.leakedCredentialChecks.detections.list( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Defines the unique ID for this custom detection.
                  password:
                    type: string
                    description: Defines ehe ruleset expression to use in matching the password in a
                      request.
                  username:
                    type: string
                    description: Defines the ruleset expression to use in matching the username in a
                      request.
      x-distilled-pagination-class: DetectionListResponsesSinglePage
    post:
      operationId: createDetection
      description: "Create user-defined detection pattern for Leaked Credential
        Checks.  @example ```ts const detection = await
        client.leakedCredentialChecks.detections.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                password:
                  type: string
                  description: "Body param: Defines ehe ruleset expression to use in matching the
                    password in a request."
                username:
                  type: string
                  description: "Body param: Defines the ruleset expression to use in matching the
                    username in a request."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Defines the unique ID for this custom detection.
                  password:
                    type: string
                    description: Defines ehe ruleset expression to use in matching the password in a
                      request.
                  username:
                    type: string
                    description: Defines the ruleset expression to use in matching the username in a
                      request.
      x-distilled-response-path: result
  /zones/{zone_id}/leaked-credential-checks:
    get:
      operationId: getLeakedCredentialCheck
      description: "Retrieves the current status of Leaked Credential
        Checks.  @example ```ts const leakedCredentialCheck = await
        client.leakedCredentialChecks.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Determines whether or not Leaked Credential Checks are enabled.
      x-distilled-response-path: result
    post:
      operationId: createLeakedCredentialCheck
      description: "Updates the current status of Leaked Credential Checks.  @example
        ```ts const leakedCredentialCheck = await
        client.leakedCredentialChecks.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: Determines whether or not Leaked Credential Checks are
                    enabled."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Determines whether or not Leaked Credential Checks are enabled.
      x-distilled-response-path: result
