openapi: 3.1.0
info:
  title: Cloudflare LOAD-BALANCERS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: load-balancers
paths:
  /zones/{zone_id}/load_balancers/{loadBalancerId}:
    get:
      operationId: getLoadBalancer
      description: "Fetch a single configured load balancer.  @example ```ts const
        loadBalancer = await client.loadBalancers.get(
        '699d98642c564d2e855e9661899b7252', { zone_id:
        '699d98642c564d2e855e9661899b7252' }, ); ```"
      parameters:
        - name: loadBalancerId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  adaptive_routing:
                    type: object
                    properties:
                      failover_across_pools:
                        type: boolean
                        description: Extends zero-downtime failover of requests to healthy origins from
                          alternate pools, when no healthy alternate exists in
                          the same pool, according to the failover order defined
                          by traffic and origin steering. When set false (the
                          default) zero-downtime failover will only occur
                          between origins within the same pool. See
                          `session_affinity_attributes` for control over when
                          sessions are broken or reassigned.
                    description: Controls features that modify the routing of requests to pools and
                      origins in response to dynamic conditions, such as during
                      the interval between active health monitoring requests.
                      For example, zero-downtime failover occurs immediately
                      when an origin becomes unavailable due to HTTP 521, 522,
                      or 523 response codes. If there is another healthy origin
                      in the same pool, the request is retried once against this
                      alternate origin.
                  country_pools:
                    type: object
                    additionalProperties: true
                    description: A mapping of country codes to a list of pool IDs (ordered by their
                      failover priority) for the given country. Any country not
                      explicitly defined will fall back to using the
                      corresponding region_pool mapping if it exists else to
                      default_pools.
                  created_on:
                    type: string
                  default_pools:
                    type: array
                    items:
                      type: string
                    description: A list of pool IDs ordered by their failover priority. Pools
                      defined here are used by default, or when region_pools are
                      not configured for a given region.
                  description:
                    type: string
                    description: Object description.
                  enabled:
                    type: boolean
                    description: Whether to enable (the default) this load balancer.
                  fallback_pool:
                    type: string
                    description: The pool ID to use when all other pools are detected as unhealthy.
                  location_strategy:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                          - pop
                          - resolver_ip
                        description: 'Determines the authoritative location when ECS is not preferred,
                          does not exist in the request, or its GeoIP lookup is
                          unsuccessful.  - `"pop"`: Use the Cloudflare PoP
                          location. - `"resolver_ip"`: Use the DNS resolver
                          GeoIP location. If the GeoIP lookup is unsuccessful,
                          use the Cloudflare PoP location.'
                      prefer_ecs:
                        type: string
                        enum:
                          - always
                          - never
                          - proximity
                          - geo
                        description: 'Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as
                          the authoritative location.  - `"always"`: Always
                          prefer ECS. - `"never"`: Never prefer ECS. -
                          `"proximity"`: Prefer ECS only when
                          `steering_policy="proximity"`. - `"geo"`: Prefer ECS
                          only when `steering_policy="geo"`.'
                    description: Controls location-based steering for non-proxied requests. See
                      `steering_policy` to learn how steering is affected.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: The DNS hostname to associate with your Load Balancer. If this
                      hostname already exists as a DNS record in Cloudflare's
                      DNS, the Load Balancer will take precedence and the DNS
                      record will not be used.
                  networks:
                    type: array
                    items:
                      type: string
                    description: List of networks where Load Balancer or Pool is enabled.
                  pop_pools:
                    type: object
                    additionalProperties: true
                    description: "Enterprise only: A mapping of Cloudflare PoP identifiers to a list
                      of pool IDs (ordered by their failover priority) for the
                      PoP (datacenter). Any PoPs not explicitly defined will
                      fall back to using the corresponding country_pool, then
                      region_pool mapping if it exists else to default_pools."
                  proxied:
                    type: boolean
                    description: Whether the hostname should be gray clouded (false) or orange
                      clouded (true).
                  random_steering:
                    type: object
                    properties:
                      default_weight:
                        type: number
                        description: The default weight for pools in the load balancer that are not
                          specified in the pool_weights map.
                      pool_weights:
                        type: object
                        additionalProperties: true
                        description: A mapping of pool IDs to custom weights. The weight is relative to
                          other pools in the load balancer.
                    description: "Configures pool weights.  - `steering_policy=\"random\"`: A random
                      pool is selected with probability proportional to pool
                      weights. -
                      `steering_policy=\"least_outstanding_requests\"`: Use pool
                      weights to scale each pool's outstanding requests. -
                      `steering_policy=\"least_connections\"`: Use pool weights
                      to scale each pool's open connections."
                  region_pools:
                    type: object
                    additionalProperties: true
                    description: A mapping of region codes to a list of pool IDs (ordered by their
                      failover priority) for the given region. Any regions not
                      explicitly defined will fall back to using default_pools.
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        condition:
                          type: string
                          description: The condition expressions to evaluate. If the condition evaluates
                            to true, the overrides or fixed_response in this
                            rule will be applied. An empty condition is always
                            true. For more details on condition expressions,
                            please see
                            https://developers.cloudflare.com/load-balancing/understand-basics/load-balancing-rules/expressions.
                        disabled:
                          type: boolean
                          description: Disable this specific rule. It will no longer be evaluated by this
                            load balancer.
                        fixed_response:
                          type: object
                          properties:
                            content_type:
                              type: string
                              description: The http 'Content-Type' header to include in the response.
                            location:
                              type: string
                              description: The http 'Location' header to include in the response.
                            message_body:
                              type: string
                              description: Text to include as the http body.
                            status_code:
                              type: number
                              description: The http status code to respond with.
                          description: A collection of fields used to directly respond to the eyeball
                            instead of routing to a pool. If a fixed_response is
                            supplied the rule will be marked as terminates.
                        name:
                          type: string
                          description: Name of this rule. Only used for human readability.
                        overrides:
                          type: object
                          properties:
                            adaptive_routing:
                              type: object
                              properties:
                                failover_across_pools:
                                  type: boolean
                                  description: Extends zero-downtime failover of requests to healthy origins from
                                    alternate pools, when no healthy alternate
                                    exists in the same pool, according to the
                                    failover order defined by traffic and origin
                                    steering. When set false (the default)
                                    zero-downtime failover will only occur
                                    between origins within the same pool. See
                                    `session_affinity_attributes` for control
                                    over when sessions are broken or reassigned.
                              description: Controls features that modify the routing of requests to pools and
                                origins in response to dynamic conditions, such
                                as during the interval between active health
                                monitoring requests. For example, zero-downtime
                                failover occurs immediately when an origin
                                becomes unavailable due to HTTP 521, 522, or 523
                                response codes. If there is another healthy
                                origin in the same pool, the request is retried
                                once against this alternate origin.
                            country_pools:
                              type: object
                              additionalProperties: true
                              description: A mapping of country codes to a list of pool IDs (ordered by their
                                failover priority) for the given country. Any
                                country not explicitly defined will fall back to
                                using the corresponding region_pool mapping if
                                it exists else to default_pools.
                            default_pools:
                              type: array
                              items:
                                type: string
                              description: A list of pool IDs ordered by their failover priority. Pools
                                defined here are used by default, or when
                                region_pools are not configured for a given
                                region.
                            fallback_pool:
                              type: string
                              description: The pool ID to use when all other pools are detected as unhealthy.
                            location_strategy:
                              type: object
                              properties:
                                mode:
                                  type: string
                                  enum:
                                    - pop
                                    - resolver_ip
                                  description: 'Determines the authoritative location when ECS is not preferred,
                                    does not exist in the request, or its GeoIP
                                    lookup is unsuccessful.  - `"pop"`: Use the
                                    Cloudflare PoP location. - `"resolver_ip"`:
                                    Use the DNS resolver GeoIP location. If the
                                    GeoIP lookup is unsuccessful, use the
                                    Cloudflare PoP location.'
                                prefer_ecs:
                                  type: string
                                  enum:
                                    - always
                                    - never
                                    - proximity
                                    - geo
                                  description: 'Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as
                                    the authoritative location.  - `"always"`:
                                    Always prefer ECS. - `"never"`: Never prefer
                                    ECS. - `"proximity"`: Prefer ECS only when
                                    `steering_policy="proximity"`. - `"geo"`:
                                    Prefer ECS only when
                                    `steering_policy="geo"`.'
                              description: Controls location-based steering for non-proxied requests. See
                                `steering_policy` to learn how steering is
                                affected.
                            pop_pools:
                              type: object
                              additionalProperties: true
                              description: "Enterprise only: A mapping of Cloudflare PoP identifiers to a list
                                of pool IDs (ordered by their failover priority)
                                for the PoP (datacenter). Any PoPs not
                                explicitly defined will fall back to using the
                                corresponding country_pool, then region_pool
                                mapping if it exists else to default_pools."
                            random_steering:
                              type: object
                              properties:
                                default_weight:
                                  type: number
                                  description: The default weight for pools in the load balancer that are not
                                    specified in the pool_weights map.
                                pool_weights:
                                  type: object
                                  additionalProperties: true
                                  description: A mapping of pool IDs to custom weights. The weight is relative to
                                    other pools in the load balancer.
                              description: "Configures pool weights.  - `steering_policy=\"random\"`: A random
                                pool is selected with probability proportional
                                to pool weights. -
                                `steering_policy=\"least_outstanding_requests\"\
                                `: Use pool weights to scale each pool's
                                outstanding requests. -
                                `steering_policy=\"least_connections\"`: Use
                                pool weights to scale each pool's open
                                connections."
                            region_pools:
                              type: object
                              additionalProperties: true
                              description: A mapping of region codes to a list of pool IDs (ordered by their
                                failover priority) for the given region. Any
                                regions not explicitly defined will fall back to
                                using default_pools.
                            session_affinity:
                              type: string
                              enum:
                                - none
                                - cookie
                                - ip_cookie
                                - header
                              description: "Specifies the type of session affinity the load balancer should
                                use unless specified as `\"none\"`. The
                                supported types are: - `\"cookie\"`: On the
                                first request to a proxied load balancer, a
                                cookie is generated, encoding information of
                                which origin the request will be forwarded to.
                                Subsequent requests, by the same client to the
                                same load balancer, will be sent to the origin
                                server the cookie encodes, for the duration of
                                the cookie and as long as the origin server
                                remains healthy. If the cookie has expired or
                                the origin server is unhealthy, then a new
                                origin server is calculated and used. -
                                `\"ip_cookie\"`: Behaves the same as
                                `\"cookie\"` except the initial origin selection
                                is stable and based on the client's ip address.
                                - `\"header\"`: On the first request to a
                                proxied load balancer, a session key based on
                                the configured HTTP headers (see
                                `session_affinity_attributes.headers`) is
                                generated, encoding the request headers used for
                                storing in the load balancer session state which
                                origin the request will be forwarded to.
                                Subsequent requests to the load balancer with
                                the same headers will be sent to the same origin
                                server, for the duration of the session and as
                                long as the origin server remains healthy. If
                                the session has been idle for the duration of
                                `session_affinity_ttl` seconds or the origin
                                server is unhealthy, then a new origin server is
                                calculated and used. See `headers` in
                                `session_affinity_attributes` for additional
                                required configuration."
                            session_affinity_attributes:
                              type: object
                              properties:
                                drain_duration:
                                  type: number
                                  description: Configures the drain duration in seconds. This field is only used
                                    when session affinity is enabled on the load
                                    balancer.
                                headers:
                                  type: array
                                  items:
                                    type: string
                                  description: 'Configures the names of HTTP headers to base session affinity on
                                    when header `session_affinity` is enabled.
                                    At least one HTTP header name must be
                                    provided. To specify the exact cookies to be
                                    used, include an item in the following
                                    format:
                                    `"cookie:<cookie-name-1>,<cookie-name-2>"`
                                    (example) where everything after the colon
                                    is a comma-separated list of cookie names.
                                    Providing only `"cookie"` will result in all
                                    cookies being used. The default max number
                                    of HTTP header names that can be provided
                                    depends on your plan: 5 for Enterprise, 1
                                    for all other plans.'
                                require_all_headers:
                                  type: boolean
                                  description: "When header `session_affinity` is enabled, this option can be used
                                    to specify how HTTP headers on load
                                    balancing requests will be used. The
                                    supported values are: - `\"true\"`: Load
                                    balancing requests must contain _all_ of the
                                    HTTP headers specified by the `headers`
                                    session affinity attribute, otherwise
                                    sessions aren't created. - `\"false\"`: Load
                                    balancing requests must contain _at least
                                    one_ of the HTTP headers specified by the
                                    `headers` session affinity attribute,
                                    otherwise sessions aren't created."
                                samesite:
                                  type: string
                                  enum:
                                    - Auto
                                    - Lax
                                    - None
                                    - Strict
                                  description: 'Configures the SameSite attribute on session affinity cookie.
                                    Value "Auto" will be translated to "Lax" or
                                    "None" depending if Always Use HTTPS is
                                    enabled. Note: when using value "None", the
                                    secure attribute can not be set to "Never".'
                                secure:
                                  type: string
                                  enum:
                                    - Auto
                                    - Always
                                    - Never
                                  description: Configures the Secure attribute on session affinity cookie. Value
                                    "Always" indicates the Secure attribute will
                                    be set in the Set-Cookie header, "Never"
                                    indicates the Secure attribute will not be
                                    set, and "Auto" will set the Secure
                                    attribute depending if Always Use HTTPS is
                                    enabled.
                                zero_downtime_failover:
                                  type: string
                                  enum:
                                    - none
                                    - temporary
                                    - sticky
                                  description: 'Configures the zero-downtime failover between origins within a
                                    pool when session affinity is enabled. This
                                    feature is currently incompatible with Argo,
                                    Tiered Cache, and Bandwidth Alliance. The
                                    supported values are: - `"none"`: No
                                    failover takes place for sessions pinned to
                                    the origin (default). - `"temporary"`:
                                    Traffic will be sent to another other
                                    healthy origin until the originally pinned
                                    origin is available; note that this can
                                    potentially result in heavy origin flapping.
                                    - `"sticky"`: The session affinity cookie is
                                    updated and subsequent requests are sent to
                                    the new origin. Note: Zero-downtime failover
                                    with sticky sessions is currently not
                                    supported for session affinity by header.'
                              description: Configures attributes for session affinity.
                            session_affinity_ttl:
                              type: number
                              description: "Time, in seconds, until a client's session expires after being
                                created. Once the expiry time has been reached,
                                subsequent requests may get sent to a different
                                origin server. The accepted ranges per
                                `session_affinity` policy are: - `\"cookie\"` /
                                `\"ip_cookie\"`: The current default of 23 hours
                                will be used unless explicitly set. The accepted
                                range of values is between [1800, 604800]. -
                                `\"header\"`: The current default of 1800
                                seconds will be used unless explicitly set. The
                                accepted range of values is between [30, 3600].
                                Note: With session affinity by header, sessions
                                only expire after they haven't been used for the
                                number of seconds specified."
                            steering_policy:
                              type: string
                              enum:
                                - off
                                - geo
                                - random
                                - dynamic_latency
                                - proximity
                                - least_outstanding_requests
                                - least_connections
                                - ""
                              description: "Steering Policy for this load balancer.  - `\"off\"`: Use
                                `default_pools`. - `\"geo\"`: Use
                                `region_pools`/`country_pools`/`pop_pools`. For
                                non-proxied requests, the country for
                                `country_pools` is determined by
                                `location_strategy`. - `\"random\"`: Select a
                                pool randomly. - `\"dynamic_latency\"`: Use
                                round trip time to select the closest pool in
                                default_pools (requires pool health checks). -
                                `\"proximity\"`: Use the pools' latitude and
                                longitude to select the closest pool using the
                                Cloudflare PoP location for proxied requests or
                                the location determined by `location_strategy`
                                for non-proxied requests. -
                                `\"least_outstanding_requests\"`: Select a pool
                                by taking into consideration `random_steering`
                                weights, as well as each pool's number of
                                outstanding requests. Pools with more pending
                                requests are weighted proportionately less
                                relative to others. - `\"least_connections\"`:
                                Select a pool by taking into consideration
                                `random_steering` weights, as well as each
                                pool's number of open connections. Pools with
                                more open connections are weighted
                                proportionately less relative to others.
                                Supported for HTTP/1 and HTTP/2 connections. -
                                `\"\"`: Will map to `\"geo\"` if you use
                                `region_pools`/`country_pools`/`pop_pools`
                                otherwise `\"off\"`."
                            ttl:
                              type: number
                              description: Time to live (TTL) of the DNS entry for the IP address returned by
                                this load balancer. This only applies to
                                gray-clouded (unproxied) load balancers.
                          description: A collection of overrides to apply to the load balancer when this
                            rule's condition is true. All fields are optional.
                        priority:
                          type: number
                          description: The order in which rules should be executed in relation to each
                            other. Lower values are executed first. Values do
                            not need to be sequential. If no value is provided
                            for any rule the array order of the rules field will
                            be used to assign a priority.
                        terminates:
                          type: boolean
                          description: If this rule's condition is true, this causes rule evaluation to
                            stop after processing this rule.
                    description: "BETA Field Not General Access: A list of rules for this load
                      balancer to execute."
                  session_affinity:
                    type: string
                    enum:
                      - none
                      - cookie
                      - ip_cookie
                      - header
                    description: "Specifies the type of session affinity the load balancer should
                      use unless specified as `\"none\"`. The supported types
                      are: - `\"cookie\"`: On the first request to a proxied
                      load balancer, a cookie is generated, encoding information
                      of which origin the request will be forwarded to.
                      Subsequent requests, by the same client to the same load
                      balancer, will be sent to the origin server the cookie
                      encodes, for the duration of the cookie and as long as the
                      origin server remains healthy. If the cookie has expired
                      or the origin server is unhealthy, then a new origin
                      server is calculated and used. - `\"ip_cookie\"`: Behaves
                      the same as `\"cookie\"` except the initial origin
                      selection is stable and based on the client's ip address.
                      - `\"header\"`: On the first request to a proxied load
                      balancer, a session key based on the configured HTTP
                      headers (see `session_affinity_attributes.headers`) is
                      generated, encoding the request headers used for storing
                      in the load balancer session state which origin the
                      request will be forwarded to. Subsequent requests to the
                      load balancer with the same headers will be sent to the
                      same origin server, for the duration of the session and as
                      long as the origin server remains healthy. If the session
                      has been idle for the duration of `session_affinity_ttl`
                      seconds or the origin server is unhealthy, then a new
                      origin server is calculated and used. See `headers` in
                      `session_affinity_attributes` for additional required
                      configuration."
                  session_affinity_attributes:
                    type: object
                    properties:
                      drain_duration:
                        type: number
                        description: Configures the drain duration in seconds. This field is only used
                          when session affinity is enabled on the load balancer.
                      headers:
                        type: array
                        items:
                          type: string
                        description: 'Configures the names of HTTP headers to base session affinity on
                          when header `session_affinity` is enabled. At least
                          one HTTP header name must be provided. To specify the
                          exact cookies to be used, include an item in the
                          following format:
                          `"cookie:<cookie-name-1>,<cookie-name-2>"` (example)
                          where everything after the colon is a comma-separated
                          list of cookie names. Providing only `"cookie"` will
                          result in all cookies being used. The default max
                          number of HTTP header names that can be provided
                          depends on your plan: 5 for Enterprise, 1 for all
                          other plans.'
                      require_all_headers:
                        type: boolean
                        description: "When header `session_affinity` is enabled, this option can be used
                          to specify how HTTP headers on load balancing requests
                          will be used. The supported values are: - `\"true\"`:
                          Load balancing requests must contain _all_ of the HTTP
                          headers specified by the `headers` session affinity
                          attribute, otherwise sessions aren't created. -
                          `\"false\"`: Load balancing requests must contain _at
                          least one_ of the HTTP headers specified by the
                          `headers` session affinity attribute, otherwise
                          sessions aren't created."
                      samesite:
                        type: string
                        enum:
                          - Auto
                          - Lax
                          - None
                          - Strict
                        description: 'Configures the SameSite attribute on session affinity cookie.
                          Value "Auto" will be translated to "Lax" or "None"
                          depending if Always Use HTTPS is enabled. Note: when
                          using value "None", the secure attribute can not be
                          set to "Never".'
                      secure:
                        type: string
                        enum:
                          - Auto
                          - Always
                          - Never
                        description: Configures the Secure attribute on session affinity cookie. Value
                          "Always" indicates the Secure attribute will be set in
                          the Set-Cookie header, "Never" indicates the Secure
                          attribute will not be set, and "Auto" will set the
                          Secure attribute depending if Always Use HTTPS is
                          enabled.
                      zero_downtime_failover:
                        type: string
                        enum:
                          - none
                          - temporary
                          - sticky
                        description: 'Configures the zero-downtime failover between origins within a
                          pool when session affinity is enabled. This feature is
                          currently incompatible with Argo, Tiered Cache, and
                          Bandwidth Alliance. The supported values are: -
                          `"none"`: No failover takes place for sessions pinned
                          to the origin (default). - `"temporary"`: Traffic will
                          be sent to another other healthy origin until the
                          originally pinned origin is available; note that this
                          can potentially result in heavy origin flapping. -
                          `"sticky"`: The session affinity cookie is updated and
                          subsequent requests are sent to the new origin. Note:
                          Zero-downtime failover with sticky sessions is
                          currently not supported for session affinity by
                          header.'
                    description: Configures attributes for session affinity.
                  session_affinity_ttl:
                    type: number
                    description: "Time, in seconds, until a client's session expires after being
                      created. Once the expiry time has been reached, subsequent
                      requests may get sent to a different origin server. The
                      accepted ranges per `session_affinity` policy are: -
                      `\"cookie\"` / `\"ip_cookie\"`: The current default of 23
                      hours will be used unless explicitly set. The accepted
                      range of values is between [1800, 604800]. - `\"header\"`:
                      The current default of 1800 seconds will be used unless
                      explicitly set. The accepted range of values is between
                      [30, 3600]. Note: With session affinity by header,
                      sessions only expire after they haven't been used for the
                      number of seconds specified."
                  steering_policy:
                    type: string
                    enum:
                      - off
                      - geo
                      - random
                      - dynamic_latency
                      - proximity
                      - least_outstanding_requests
                      - least_connections
                      - ""
                    description: "Steering Policy for this load balancer.  - `\"off\"`: Use
                      `default_pools`. - `\"geo\"`: Use
                      `region_pools`/`country_pools`/`pop_pools`. For
                      non-proxied requests, the country for `country_pools` is
                      determined by `location_strategy`. - `\"random\"`: Select
                      a pool randomly. - `\"dynamic_latency\"`: Use round trip
                      time to select the closest pool in default_pools (requires
                      pool health checks). - `\"proximity\"`: Use the pools'
                      latitude and longitude to select the closest pool using
                      the Cloudflare PoP location for proxied requests or the
                      location determined by `location_strategy` for non-proxied
                      requests. - `\"least_outstanding_requests\"`: Select a
                      pool by taking into consideration `random_steering`
                      weights, as well as each pool's number of outstanding
                      requests. Pools with more pending requests are weighted
                      proportionately less relative to others. -
                      `\"least_connections\"`: Select a pool by taking into
                      consideration `random_steering` weights, as well as each
                      pool's number of open connections. Pools with more open
                      connections are weighted proportionately less relative to
                      others. Supported for HTTP/1 and HTTP/2 connections. -
                      `\"\"`: Will map to `\"geo\"` if you use
                      `region_pools`/`country_pools`/`pop_pools` otherwise
                      `\"off\"`."
                  ttl:
                    type: number
                    description: Time to live (TTL) of the DNS entry for the IP address returned by
                      this load balancer. This only applies to gray-clouded
                      (unproxied) load balancers.
                  zone_name:
                    type: string
      x-distilled-response-path: result
    put:
      operationId: updateLoadBalancer
      description: "Update a configured load balancer.  @example ```ts const
        loadBalancer = await client.loadBalancers.update(
        '699d98642c564d2e855e9661899b7252', { zone_id:
        '699d98642c564d2e855e9661899b7252', default_pools: [
        '17b5962d775c646f3f9725cbc7a53df4', '9290f38c5d07c2e2f4df57b1f61d4196',
        '00920f38ce07c2e2f4df50b1f61d4194', ], fallback_pool: 'fallback_pool',
        name: 'www.example.com', }, ); ```"
      parameters:
        - name: loadBalancerId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                default_pools:
                  type: array
                  items:
                    type: string
                  description: "Body param: A list of pool IDs ordered by their failover priority.
                    Pools defined here are used by default, or when region_pools
                    are not configured for a given region."
                fallback_pool:
                  type: string
                  description: "Body param: The pool ID to use when all other pools are detected
                    as unhealthy."
                name:
                  type: string
                  description: "Body param: The DNS hostname to associate with your Load Balancer.
                    If this hostname already exists as a DNS record in
                    Cloudflare's DNS, the Load Balancer will take precedence and
                    the DNS record will not be used."
                adaptive_routing:
                  type: object
                  properties:
                    failover_across_pools:
                      type: boolean
                      description: Extends zero-downtime failover of requests to healthy origins from
                        alternate pools, when no healthy alternate exists in the
                        same pool, according to the failover order defined by
                        traffic and origin steering. When set false (the
                        default) zero-downtime failover will only occur between
                        origins within the same pool. See
                        `session_affinity_attributes` for control over when
                        sessions are broken or reassigned.
                  description: "Body param: Controls features that modify the routing of requests
                    to pools and origins in response to dynamic conditions, such
                    as during the interval between active health monitoring
                    requests. For example, zero-downtime failover occurs
                    immediately when an origin becomes unavailable due to HTTP
                    521, 522, or 523 response codes. If there is another healthy
                    origin in the same pool, the request is retried once against
                    this alternate origin."
                country_pools:
                  type: object
                  additionalProperties: true
                  description: "Body param: A mapping of country codes to a list of pool IDs
                    (ordered by their failover priority) for the given country.
                    Any country not explicitly defined will fall back to using
                    the corresponding region_pool mapping if it exists else to
                    default_pools."
                description:
                  type: string
                  description: "Body param: Object description."
                enabled:
                  type: boolean
                  description: "Body param: Whether to enable (the default) this load balancer."
                location_strategy:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                        - pop
                        - resolver_ip
                      description: 'Determines the authoritative location when ECS is not preferred,
                        does not exist in the request, or its GeoIP lookup is
                        unsuccessful.  - `"pop"`: Use the Cloudflare PoP
                        location. - `"resolver_ip"`: Use the DNS resolver GeoIP
                        location. If the GeoIP lookup is unsuccessful, use the
                        Cloudflare PoP location.'
                    prefer_ecs:
                      type: string
                      enum:
                        - always
                        - never
                        - proximity
                        - geo
                      description: 'Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as
                        the authoritative location.  - `"always"`: Always prefer
                        ECS. - `"never"`: Never prefer ECS. - `"proximity"`:
                        Prefer ECS only when `steering_policy="proximity"`. -
                        `"geo"`: Prefer ECS only when `steering_policy="geo"`.'
                  description: "Body param: Controls location-based steering for non-proxied
                    requests. See `steering_policy` to learn how steering is
                    affected."
                networks:
                  type: array
                  items:
                    type: string
                  description: "Body param: List of networks where Load Balancer or Pool is
                    enabled."
                pop_pools:
                  type: object
                  additionalProperties: true
                  description: "Body param: Enterprise only: A mapping of Cloudflare PoP
                    identifiers to a list of pool IDs (ordered by their failover
                    priority) for the PoP (datacenter). Any PoPs not explicitly
                    defined will fall back to using the corresponding
                    country_pool, then region_pool mapping if it exists else to
                    default_pools."
                proxied:
                  type: boolean
                  description: "Body param: Whether the hostname should be gray clouded (false) or
                    orange clouded (true)."
                random_steering:
                  type: object
                  properties:
                    default_weight:
                      type: number
                      description: The default weight for pools in the load balancer that are not
                        specified in the pool_weights map.
                    pool_weights:
                      type: object
                      additionalProperties: true
                      description: A mapping of pool IDs to custom weights. The weight is relative to
                        other pools in the load balancer.
                  description: "Body param: Configures pool weights.  -
                    `steering_policy=\"random\"`: A random pool is selected with
                    probability proportional to pool weights. -
                    `steering_policy=\"least_outstanding_requests\"`: Use pool
                    weights to scale each pool's outstanding requests. -
                    `steering_policy=\"least_connections\"`: Use pool weights to
                    scale each pool's open connections."
                region_pools:
                  type: object
                  additionalProperties: true
                  description: "Body param: A mapping of region codes to a list of pool IDs
                    (ordered by their failover priority) for the given region.
                    Any regions not explicitly defined will fall back to using
                    default_pools."
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      condition:
                        type: string
                        description: The condition expressions to evaluate. If the condition evaluates
                          to true, the overrides or fixed_response in this rule
                          will be applied. An empty condition is always true.
                          For more details on condition expressions, please see
                          https://developers.cloudflare.com/load-balancing/understand-basics/load-balancing-rules/expressions.
                      disabled:
                        type: boolean
                        description: Disable this specific rule. It will no longer be evaluated by this
                          load balancer.
                      fixed_response:
                        type: object
                        properties:
                          content_type:
                            type: string
                            description: The http 'Content-Type' header to include in the response.
                          location:
                            type: string
                            description: The http 'Location' header to include in the response.
                          message_body:
                            type: string
                            description: Text to include as the http body.
                          status_code:
                            type: number
                            description: The http status code to respond with.
                        description: A collection of fields used to directly respond to the eyeball
                          instead of routing to a pool. If a fixed_response is
                          supplied the rule will be marked as terminates.
                      name:
                        type: string
                        description: Name of this rule. Only used for human readability.
                      overrides:
                        type: object
                        properties:
                          adaptive_routing:
                            type: object
                            properties:
                              failover_across_pools:
                                type: boolean
                                description: Extends zero-downtime failover of requests to healthy origins from
                                  alternate pools, when no healthy alternate
                                  exists in the same pool, according to the
                                  failover order defined by traffic and origin
                                  steering. When set false (the default)
                                  zero-downtime failover will only occur between
                                  origins within the same pool. See
                                  `session_affinity_attributes` for control over
                                  when sessions are broken or reassigned.
                            description: Controls features that modify the routing of requests to pools and
                              origins in response to dynamic conditions, such as
                              during the interval between active health
                              monitoring requests. For example, zero-downtime
                              failover occurs immediately when an origin becomes
                              unavailable due to HTTP 521, 522, or 523 response
                              codes. If there is another healthy origin in the
                              same pool, the request is retried once against
                              this alternate origin.
                          country_pools:
                            type: object
                            additionalProperties: true
                            description: A mapping of country codes to a list of pool IDs (ordered by their
                              failover priority) for the given country. Any
                              country not explicitly defined will fall back to
                              using the corresponding region_pool mapping if it
                              exists else to default_pools.
                          default_pools:
                            type: array
                            items:
                              type: string
                            description: A list of pool IDs ordered by their failover priority. Pools
                              defined here are used by default, or when
                              region_pools are not configured for a given
                              region.
                          fallback_pool:
                            type: string
                            description: The pool ID to use when all other pools are detected as unhealthy.
                          location_strategy:
                            type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                  - pop
                                  - resolver_ip
                                description: 'Determines the authoritative location when ECS is not preferred,
                                  does not exist in the request, or its GeoIP
                                  lookup is unsuccessful.  - `"pop"`: Use the
                                  Cloudflare PoP location. - `"resolver_ip"`:
                                  Use the DNS resolver GeoIP location. If the
                                  GeoIP lookup is unsuccessful, use the
                                  Cloudflare PoP location.'
                              prefer_ecs:
                                type: string
                                enum:
                                  - always
                                  - never
                                  - proximity
                                  - geo
                                description: 'Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as
                                  the authoritative location.  - `"always"`:
                                  Always prefer ECS. - `"never"`: Never prefer
                                  ECS. - `"proximity"`: Prefer ECS only when
                                  `steering_policy="proximity"`. - `"geo"`:
                                  Prefer ECS only when `steering_policy="geo"`.'
                            description: Controls location-based steering for non-proxied requests. See
                              `steering_policy` to learn how steering is
                              affected.
                          pop_pools:
                            type: object
                            additionalProperties: true
                            description: "Enterprise only: A mapping of Cloudflare PoP identifiers to a list
                              of pool IDs (ordered by their failover priority)
                              for the PoP (datacenter). Any PoPs not explicitly
                              defined will fall back to using the corresponding
                              country_pool, then region_pool mapping if it
                              exists else to default_pools."
                          random_steering:
                            type: object
                            properties:
                              default_weight:
                                type: number
                                description: The default weight for pools in the load balancer that are not
                                  specified in the pool_weights map.
                              pool_weights:
                                type: object
                                additionalProperties: true
                                description: A mapping of pool IDs to custom weights. The weight is relative to
                                  other pools in the load balancer.
                            description: "Configures pool weights.  - `steering_policy=\"random\"`: A random
                              pool is selected with probability proportional to
                              pool weights. -
                              `steering_policy=\"least_outstanding_requests\"`:
                              Use pool weights to scale each pool's outstanding
                              requests. -
                              `steering_policy=\"least_connections\"`: Use pool
                              weights to scale each pool's open connections."
                          region_pools:
                            type: object
                            additionalProperties: true
                            description: A mapping of region codes to a list of pool IDs (ordered by their
                              failover priority) for the given region. Any
                              regions not explicitly defined will fall back to
                              using default_pools.
                          session_affinity:
                            type: string
                            enum:
                              - none
                              - cookie
                              - ip_cookie
                              - header
                            description: "Specifies the type of session affinity the load balancer should
                              use unless specified as `\"none\"`. The supported
                              types are: - `\"cookie\"`: On the first request to
                              a proxied load balancer, a cookie is generated,
                              encoding information of which origin the request
                              will be forwarded to. Subsequent requests, by the
                              same client to the same load balancer, will be
                              sent to the origin server the cookie encodes, for
                              the duration of the cookie and as long as the
                              origin server remains healthy. If the cookie has
                              expired or the origin server is unhealthy, then a
                              new origin server is calculated and used. -
                              `\"ip_cookie\"`: Behaves the same as `\"cookie\"`
                              except the initial origin selection is stable and
                              based on the client's ip address. - `\"header\"`:
                              On the first request to a proxied load balancer, a
                              session key based on the configured HTTP headers
                              (see `session_affinity_attributes.headers`) is
                              generated, encoding the request headers used for
                              storing in the load balancer session state which
                              origin the request will be forwarded to.
                              Subsequent requests to the load balancer with the
                              same headers will be sent to the same origin
                              server, for the duration of the session and as
                              long as the origin server remains healthy. If the
                              session has been idle for the duration of
                              `session_affinity_ttl` seconds or the origin
                              server is unhealthy, then a new origin server is
                              calculated and used. See `headers` in
                              `session_affinity_attributes` for additional
                              required configuration."
                          session_affinity_attributes:
                            type: object
                            properties:
                              drain_duration:
                                type: number
                                description: Configures the drain duration in seconds. This field is only used
                                  when session affinity is enabled on the load
                                  balancer.
                              headers:
                                type: array
                                items:
                                  type: string
                                description: 'Configures the names of HTTP headers to base session affinity on
                                  when header `session_affinity` is enabled. At
                                  least one HTTP header name must be provided.
                                  To specify the exact cookies to be used,
                                  include an item in the following format:
                                  `"cookie:<cookie-name-1>,<cookie-name-2>"`
                                  (example) where everything after the colon is
                                  a comma-separated list of cookie names.
                                  Providing only `"cookie"` will result in all
                                  cookies being used. The default max number of
                                  HTTP header names that can be provided depends
                                  on your plan: 5 for Enterprise, 1 for all
                                  other plans.'
                              require_all_headers:
                                type: boolean
                                description: "When header `session_affinity` is enabled, this option can be used
                                  to specify how HTTP headers on load balancing
                                  requests will be used. The supported values
                                  are: - `\"true\"`: Load balancing requests
                                  must contain _all_ of the HTTP headers
                                  specified by the `headers` session affinity
                                  attribute, otherwise sessions aren't created.
                                  - `\"false\"`: Load balancing requests must
                                  contain _at least one_ of the HTTP headers
                                  specified by the `headers` session affinity
                                  attribute, otherwise sessions aren't created."
                              samesite:
                                type: string
                                enum:
                                  - Auto
                                  - Lax
                                  - None
                                  - Strict
                                description: 'Configures the SameSite attribute on session affinity cookie.
                                  Value "Auto" will be translated to "Lax" or
                                  "None" depending if Always Use HTTPS is
                                  enabled. Note: when using value "None", the
                                  secure attribute can not be set to "Never".'
                              secure:
                                type: string
                                enum:
                                  - Auto
                                  - Always
                                  - Never
                                description: Configures the Secure attribute on session affinity cookie. Value
                                  "Always" indicates the Secure attribute will
                                  be set in the Set-Cookie header, "Never"
                                  indicates the Secure attribute will not be
                                  set, and "Auto" will set the Secure attribute
                                  depending if Always Use HTTPS is enabled.
                              zero_downtime_failover:
                                type: string
                                enum:
                                  - none
                                  - temporary
                                  - sticky
                                description: 'Configures the zero-downtime failover between origins within a
                                  pool when session affinity is enabled. This
                                  feature is currently incompatible with Argo,
                                  Tiered Cache, and Bandwidth Alliance. The
                                  supported values are: - `"none"`: No failover
                                  takes place for sessions pinned to the origin
                                  (default). - `"temporary"`: Traffic will be
                                  sent to another other healthy origin until the
                                  originally pinned origin is available; note
                                  that this can potentially result in heavy
                                  origin flapping. - `"sticky"`: The session
                                  affinity cookie is updated and subsequent
                                  requests are sent to the new origin. Note:
                                  Zero-downtime failover with sticky sessions is
                                  currently not supported for session affinity
                                  by header.'
                            description: Configures attributes for session affinity.
                          session_affinity_ttl:
                            type: number
                            description: "Time, in seconds, until a client's session expires after being
                              created. Once the expiry time has been reached,
                              subsequent requests may get sent to a different
                              origin server. The accepted ranges per
                              `session_affinity` policy are: - `\"cookie\"` /
                              `\"ip_cookie\"`: The current default of 23 hours
                              will be used unless explicitly set. The accepted
                              range of values is between [1800, 604800]. -
                              `\"header\"`: The current default of 1800 seconds
                              will be used unless explicitly set. The accepted
                              range of values is between [30, 3600]. Note: With
                              session affinity by header, sessions only expire
                              after they haven't been used for the number of
                              seconds specified."
                          steering_policy:
                            type: string
                            enum:
                              - off
                              - geo
                              - random
                              - dynamic_latency
                              - proximity
                              - least_outstanding_requests
                              - least_connections
                              - ""
                            description: "Steering Policy for this load balancer.  - `\"off\"`: Use
                              `default_pools`. - `\"geo\"`: Use
                              `region_pools`/`country_pools`/`pop_pools`. For
                              non-proxied requests, the country for
                              `country_pools` is determined by
                              `location_strategy`. - `\"random\"`: Select a pool
                              randomly. - `\"dynamic_latency\"`: Use round trip
                              time to select the closest pool in default_pools
                              (requires pool health checks). - `\"proximity\"`:
                              Use the pools' latitude and longitude to select
                              the closest pool using the Cloudflare PoP location
                              for proxied requests or the location determined by
                              `location_strategy` for non-proxied requests. -
                              `\"least_outstanding_requests\"`: Select a pool by
                              taking into consideration `random_steering`
                              weights, as well as each pool's number of
                              outstanding requests. Pools with more pending
                              requests are weighted proportionately less
                              relative to others. - `\"least_connections\"`:
                              Select a pool by taking into consideration
                              `random_steering` weights, as well as each pool's
                              number of open connections. Pools with more open
                              connections are weighted proportionately less
                              relative to others. Supported for HTTP/1 and
                              HTTP/2 connections. - `\"\"`: Will map to
                              `\"geo\"` if you use
                              `region_pools`/`country_pools`/`pop_pools`
                              otherwise `\"off\"`."
                          ttl:
                            type: number
                            description: Time to live (TTL) of the DNS entry for the IP address returned by
                              this load balancer. This only applies to
                              gray-clouded (unproxied) load balancers.
                        description: A collection of overrides to apply to the load balancer when this
                          rule's condition is true. All fields are optional.
                      priority:
                        type: number
                        description: The order in which rules should be executed in relation to each
                          other. Lower values are executed first. Values do not
                          need to be sequential. If no value is provided for any
                          rule the array order of the rules field will be used
                          to assign a priority.
                      terminates:
                        type: boolean
                        description: If this rule's condition is true, this causes rule evaluation to
                          stop after processing this rule.
                  description: "Body param: BETA Field Not General Access: A list of rules for
                    this load balancer to execute."
                session_affinity:
                  type: string
                  enum:
                    - none
                    - cookie
                    - ip_cookie
                    - header
                  description: "Body param: Specifies the type of session affinity the load
                    balancer should use unless specified as `\"none\"`. The
                    supported types are: - `\"cookie\"`: On the first request to
                    a proxied load balancer, a cookie is generated, encoding
                    information of which origin the request will be forwarded
                    to. Subsequent requests, by the same client to the same load
                    balancer, will be sent to the origin server the cookie
                    encodes, for the duration of the cookie and as long as the
                    origin server remains healthy. If the cookie has expired or
                    the origin server is unhealthy, then a new origin server is
                    calculated and used. - `\"ip_cookie\"`: Behaves the same as
                    `\"cookie\"` except the initial origin selection is stable
                    and based on the client's ip address. - `\"header\"`: On the
                    first request to a proxied load balancer, a session key
                    based on the configured HTTP headers (see
                    `session_affinity_attributes.headers`) is generated,
                    encoding the request headers used for storing in the load
                    balancer session state which origin the request will be
                    forwarded to. Subsequent requests to the load balancer with
                    the same headers will be sent to the same origin server, for
                    the duration of the session and as long as the origin server
                    remains healthy. If the session has been idle for the
                    duration of `session_affinity_ttl` seconds or the origin
                    server is unhealthy, then a new origin server is calculated
                    and used. See `headers` in `session_affinity_attributes` for
                    additional required configuration."
                session_affinity_attributes:
                  type: object
                  properties:
                    drain_duration:
                      type: number
                      description: Configures the drain duration in seconds. This field is only used
                        when session affinity is enabled on the load balancer.
                    headers:
                      type: array
                      items:
                        type: string
                      description: 'Configures the names of HTTP headers to base session affinity on
                        when header `session_affinity` is enabled. At least one
                        HTTP header name must be provided. To specify the exact
                        cookies to be used, include an item in the following
                        format: `"cookie:<cookie-name-1>,<cookie-name-2>"`
                        (example) where everything after the colon is a
                        comma-separated list of cookie names. Providing only
                        `"cookie"` will result in all cookies being used. The
                        default max number of HTTP header names that can be
                        provided depends on your plan: 5 for Enterprise, 1 for
                        all other plans.'
                    require_all_headers:
                      type: boolean
                      description: "When header `session_affinity` is enabled, this option can be used
                        to specify how HTTP headers on load balancing requests
                        will be used. The supported values are: - `\"true\"`:
                        Load balancing requests must contain _all_ of the HTTP
                        headers specified by the `headers` session affinity
                        attribute, otherwise sessions aren't created. -
                        `\"false\"`: Load balancing requests must contain _at
                        least one_ of the HTTP headers specified by the
                        `headers` session affinity attribute, otherwise sessions
                        aren't created."
                    samesite:
                      type: string
                      enum:
                        - Auto
                        - Lax
                        - None
                        - Strict
                      description: 'Configures the SameSite attribute on session affinity cookie.
                        Value "Auto" will be translated to "Lax" or "None"
                        depending if Always Use HTTPS is enabled. Note: when
                        using value "None", the secure attribute can not be set
                        to "Never".'
                    secure:
                      type: string
                      enum:
                        - Auto
                        - Always
                        - Never
                      description: Configures the Secure attribute on session affinity cookie. Value
                        "Always" indicates the Secure attribute will be set in
                        the Set-Cookie header, "Never" indicates the Secure
                        attribute will not be set, and "Auto" will set the
                        Secure attribute depending if Always Use HTTPS is
                        enabled.
                    zero_downtime_failover:
                      type: string
                      enum:
                        - none
                        - temporary
                        - sticky
                      description: 'Configures the zero-downtime failover between origins within a
                        pool when session affinity is enabled. This feature is
                        currently incompatible with Argo, Tiered Cache, and
                        Bandwidth Alliance. The supported values are: -
                        `"none"`: No failover takes place for sessions pinned to
                        the origin (default). - `"temporary"`: Traffic will be
                        sent to another other healthy origin until the
                        originally pinned origin is available; note that this
                        can potentially result in heavy origin flapping. -
                        `"sticky"`: The session affinity cookie is updated and
                        subsequent requests are sent to the new origin. Note:
                        Zero-downtime failover with sticky sessions is currently
                        not supported for session affinity by header.'
                  description: "Body param: Configures attributes for session affinity."
                session_affinity_ttl:
                  type: number
                  description: "Body param: Time, in seconds, until a client's session expires
                    after being created. Once the expiry time has been reached,
                    subsequent requests may get sent to a different origin
                    server. The accepted ranges per `session_affinity` policy
                    are: - `\"cookie\"` / `\"ip_cookie\"`: The current default
                    of 23 hours will be used unless explicitly set. The accepted
                    range of values is between [1800, 604800]. - `\"header\"`:
                    The current default of 1800 seconds will be used unless
                    explicitly set. The accepted range of values is between [30,
                    3600]. Note: With session affinity by header, sessions only
                    expire after they haven't been used for the number of
                    seconds specified."
                steering_policy:
                  type: string
                  enum:
                    - off
                    - geo
                    - random
                    - dynamic_latency
                    - proximity
                    - least_outstanding_requests
                    - least_connections
                    - ""
                  description: "Body param: Steering Policy for this load balancer.  - `\"off\"`:
                    Use `default_pools`. - `\"geo\"`: Use
                    `region_pools`/`country_pools`/`pop_pools`. For non-proxied
                    requests, the country for `country_pools` is determined by
                    `location_strategy`. - `\"random\"`: Select a pool randomly.
                    - `\"dynamic_latency\"`: Use round trip time to select the
                    closest pool in default_pools (requires pool health checks).
                    - `\"proximity\"`: Use the pools' latitude and longitude to
                    select the closest pool using the Cloudflare PoP location
                    for proxied requests or the location determined by
                    `location_strategy` for non-proxied requests. -
                    `\"least_outstanding_requests\"`: Select a pool by taking
                    into consideration `random_steering` weights, as well as
                    each pool's number of outstanding requests. Pools with more
                    pending requests are weighted proportionately less relative
                    to others. - `\"least_connections\"`: Select a pool by
                    taking into consideration `random_steering` weights, as well
                    as each pool's number of open connections. Pools with more
                    open connections are weighted proportionately less relative
                    to others. Supported for HTTP/1 and HTTP/2 connections. -
                    `\"\"`: Will map to `\"geo\"` if you use
                    `region_pools`/`country_pools`/`pop_pools` otherwise
                    `\"off\"`."
                ttl:
                  type: number
                  description: "Body param: Time to live (TTL) of the DNS entry for the IP address
                    returned by this load balancer. This only applies to
                    gray-clouded (unproxied) load balancers."
              required:
                - default_pools
                - fallback_pool
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  adaptive_routing:
                    type: object
                    properties:
                      failover_across_pools:
                        type: boolean
                        description: Extends zero-downtime failover of requests to healthy origins from
                          alternate pools, when no healthy alternate exists in
                          the same pool, according to the failover order defined
                          by traffic and origin steering. When set false (the
                          default) zero-downtime failover will only occur
                          between origins within the same pool. See
                          `session_affinity_attributes` for control over when
                          sessions are broken or reassigned.
                    description: Controls features that modify the routing of requests to pools and
                      origins in response to dynamic conditions, such as during
                      the interval between active health monitoring requests.
                      For example, zero-downtime failover occurs immediately
                      when an origin becomes unavailable due to HTTP 521, 522,
                      or 523 response codes. If there is another healthy origin
                      in the same pool, the request is retried once against this
                      alternate origin.
                  country_pools:
                    type: object
                    additionalProperties: true
                    description: A mapping of country codes to a list of pool IDs (ordered by their
                      failover priority) for the given country. Any country not
                      explicitly defined will fall back to using the
                      corresponding region_pool mapping if it exists else to
                      default_pools.
                  created_on:
                    type: string
                  default_pools:
                    type: array
                    items:
                      type: string
                    description: A list of pool IDs ordered by their failover priority. Pools
                      defined here are used by default, or when region_pools are
                      not configured for a given region.
                  description:
                    type: string
                    description: Object description.
                  enabled:
                    type: boolean
                    description: Whether to enable (the default) this load balancer.
                  fallback_pool:
                    type: string
                    description: The pool ID to use when all other pools are detected as unhealthy.
                  location_strategy:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                          - pop
                          - resolver_ip
                        description: 'Determines the authoritative location when ECS is not preferred,
                          does not exist in the request, or its GeoIP lookup is
                          unsuccessful.  - `"pop"`: Use the Cloudflare PoP
                          location. - `"resolver_ip"`: Use the DNS resolver
                          GeoIP location. If the GeoIP lookup is unsuccessful,
                          use the Cloudflare PoP location.'
                      prefer_ecs:
                        type: string
                        enum:
                          - always
                          - never
                          - proximity
                          - geo
                        description: 'Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as
                          the authoritative location.  - `"always"`: Always
                          prefer ECS. - `"never"`: Never prefer ECS. -
                          `"proximity"`: Prefer ECS only when
                          `steering_policy="proximity"`. - `"geo"`: Prefer ECS
                          only when `steering_policy="geo"`.'
                    description: Controls location-based steering for non-proxied requests. See
                      `steering_policy` to learn how steering is affected.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: The DNS hostname to associate with your Load Balancer. If this
                      hostname already exists as a DNS record in Cloudflare's
                      DNS, the Load Balancer will take precedence and the DNS
                      record will not be used.
                  networks:
                    type: array
                    items:
                      type: string
                    description: List of networks where Load Balancer or Pool is enabled.
                  pop_pools:
                    type: object
                    additionalProperties: true
                    description: "Enterprise only: A mapping of Cloudflare PoP identifiers to a list
                      of pool IDs (ordered by their failover priority) for the
                      PoP (datacenter). Any PoPs not explicitly defined will
                      fall back to using the corresponding country_pool, then
                      region_pool mapping if it exists else to default_pools."
                  proxied:
                    type: boolean
                    description: Whether the hostname should be gray clouded (false) or orange
                      clouded (true).
                  random_steering:
                    type: object
                    properties:
                      default_weight:
                        type: number
                        description: The default weight for pools in the load balancer that are not
                          specified in the pool_weights map.
                      pool_weights:
                        type: object
                        additionalProperties: true
                        description: A mapping of pool IDs to custom weights. The weight is relative to
                          other pools in the load balancer.
                    description: "Configures pool weights.  - `steering_policy=\"random\"`: A random
                      pool is selected with probability proportional to pool
                      weights. -
                      `steering_policy=\"least_outstanding_requests\"`: Use pool
                      weights to scale each pool's outstanding requests. -
                      `steering_policy=\"least_connections\"`: Use pool weights
                      to scale each pool's open connections."
                  region_pools:
                    type: object
                    additionalProperties: true
                    description: A mapping of region codes to a list of pool IDs (ordered by their
                      failover priority) for the given region. Any regions not
                      explicitly defined will fall back to using default_pools.
                  rules:
                    type: array
                    items:
                      type: object
                      properties:
                        condition:
                          type: string
                          description: The condition expressions to evaluate. If the condition evaluates
                            to true, the overrides or fixed_response in this
                            rule will be applied. An empty condition is always
                            true. For more details on condition expressions,
                            please see
                            https://developers.cloudflare.com/load-balancing/understand-basics/load-balancing-rules/expressions.
                        disabled:
                          type: boolean
                          description: Disable this specific rule. It will no longer be evaluated by this
                            load balancer.
                        fixed_response:
                          type: object
                          properties:
                            content_type:
                              type: string
                              description: The http 'Content-Type' header to include in the response.
                            location:
                              type: string
                              description: The http 'Location' header to include in the response.
                            message_body:
                              type: string
                              description: Text to include as the http body.
                            status_code:
                              type: number
                              description: The http status code to respond with.
                          description: A collection of fields used to directly respond to the eyeball
                            instead of routing to a pool. If a fixed_response is
                            supplied the rule will be marked as terminates.
                        name:
                          type: string
                          description: Name of this rule. Only used for human readability.
                        overrides:
                          type: object
                          properties:
                            adaptive_routing:
                              type: object
                              properties:
                                failover_across_pools:
                                  type: boolean
                                  description: Extends zero-downtime failover of requests to healthy origins from
                                    alternate pools, when no healthy alternate
                                    exists in the same pool, according to the
                                    failover order defined by traffic and origin
                                    steering. When set false (the default)
                                    zero-downtime failover will only occur
                                    between origins within the same pool. See
                                    `session_affinity_attributes` for control
                                    over when sessions are broken or reassigned.
                              description: Controls features that modify the routing of requests to pools and
                                origins in response to dynamic conditions, such
                                as during the interval between active health
                                monitoring requests. For example, zero-downtime
                                failover occurs immediately when an origin
                                becomes unavailable due to HTTP 521, 522, or 523
                                response codes. If there is another healthy
                                origin in the same pool, the request is retried
                                once against this alternate origin.
                            country_pools:
                              type: object
                              additionalProperties: true
                              description: A mapping of country codes to a list of pool IDs (ordered by their
                                failover priority) for the given country. Any
                                country not explicitly defined will fall back to
                                using the corresponding region_pool mapping if
                                it exists else to default_pools.
                            default_pools:
                              type: array
                              items:
                                type: string
                              description: A list of pool IDs ordered by their failover priority. Pools
                                defined here are used by default, or when
                                region_pools are not configured for a given
                                region.
                            fallback_pool:
                              type: string
                              description: The pool ID to use when all other pools are detected as unhealthy.
                            location_strategy:
                              type: object
                              properties:
                                mode:
                                  type: string
                                  enum:
                                    - pop
                                    - resolver_ip
                                  description: 'Determines the authoritative location when ECS is not preferred,
                                    does not exist in the request, or its GeoIP
                                    lookup is unsuccessful.  - `"pop"`: Use the
                                    Cloudflare PoP location. - `"resolver_ip"`:
                                    Use the DNS resolver GeoIP location. If the
                                    GeoIP lookup is unsuccessful, use the
                                    Cloudflare PoP location.'
                                prefer_ecs:
                                  type: string
                                  enum:
                                    - always
                                    - never
                                    - proximity
                                    - geo
                                  description: 'Whether the EDNS Client Subnet (ECS) GeoIP should be preferred as
                                    the authoritative location.  - `"always"`:
                                    Always prefer ECS. - `"never"`: Never prefer
                                    ECS. - `"proximity"`: Prefer ECS only when
                                    `steering_policy="proximity"`. - `"geo"`:
                                    Prefer ECS only when
                                    `steering_policy="geo"`.'
                              description: Controls location-based steering for non-proxied requests. See
                                `steering_policy` to learn how steering is
                                affected.
                            pop_pools:
                              type: object
                              additionalProperties: true
                              description: "Enterprise only: A mapping of Cloudflare PoP identifiers to a list
                                of pool IDs (ordered by their failover priority)
                                for the PoP (datacenter). Any PoPs not
                                explicitly defined will fall back to using the
                                corresponding country_pool, then region_pool
                                mapping if it exists else to default_pools."
                            random_steering:
                              type: object
                              properties:
                                default_weight:
                                  type: number
                                  description: The default weight for pools in the load balancer that are not
                                    specified in the pool_weights map.
                                pool_weights:
                                  type: object
                                  additionalProperties: true
                                  description: A mapping of pool IDs to custom weights. The weight is relative to
                                    other pools in the load balancer.
                              description: "Configures pool weights.  - `steering_policy=\"random\"`: A random
[...]
