openapi: 3.1.0
info:
  title: Cloudflare LOGPUSH API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: logpush
paths:
  /{accountOrZone}/{accountOrZoneId}/logpush/datasets/{datasetId}/fields:
    get:
      operationId: getDatasetField
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
            enum:
              - access_requests
              - audit_logs
              - audit_logs_v2
              - biso_user_actions
              - casb_findings
              - device_posture_results
              - dex_application_tests
              - dex_device_state_events
              - dlp_forensic_copies
              - dns_firewall_logs
              - dns_logs
              - email_security_alerts
              - firewall_events
              - gateway_dns
              - gateway_http
              - gateway_network
              - http_requests
              - ipsec_logs
              - magic_ids_detections
              - nel_reports
              - network_analytics_logs
              - page_shield_events
              - sinkhole_http_logs
              - spectrum_events
              - ssh_logs
              - warp_config_changes
              - warp_toggle_changes
              - workers_trace_events
              - zaraz_events
              - zero_trust_network_sessions
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/logpush/datasets/{datasetId}/jobs:
    get:
      operationId: getDatasetJob
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
            enum:
              - access_requests
              - audit_logs
              - audit_logs_v2
              - biso_user_actions
              - casb_findings
              - device_posture_results
              - dex_application_tests
              - dex_device_state_events
              - dlp_forensic_copies
              - dns_firewall_logs
              - dns_logs
              - email_security_alerts
              - firewall_events
              - gateway_dns
              - gateway_http
              - gateway_network
              - http_requests
              - ipsec_logs
              - magic_ids_detections
              - nel_reports
              - network_analytics_logs
              - page_shield_events
              - sinkhole_http_logs
              - spectrum_events
              - ssh_logs
              - warp_config_changes
              - warp_toggle_changes
              - workers_trace_events
              - zaraz_events
              - zero_trust_network_sessions
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: number
                        description: Unique id of the job.
                      dataset:
                        type: string
                        enum:
                          - access_requests
                          - audit_logs
                          - audit_logs_v2
                          - biso_user_actions
                          - casb_findings
                          - device_posture_results
                          - dex_application_tests
                          - dex_device_state_events
                          - dlp_forensic_copies
                          - dns_firewall_logs
                          - dns_logs
                          - email_security_alerts
                          - firewall_events
                          - gateway_dns
                          - gateway_http
                          - gateway_network
                          - http_requests
                          - ipsec_logs
                          - magic_ids_detections
                          - nel_reports
                          - network_analytics_logs
                          - page_shield_events
                          - sinkhole_http_logs
                          - spectrum_events
                          - ssh_logs
                          - warp_config_changes
                          - warp_toggle_changes
                          - workers_trace_events
                          - zaraz_events
                          - zero_trust_network_sessions
                        nullable: true
                        description: Name of the dataset. A list of supported datasets can be found on
                          the [Developer
                          Docs](https://developers.cloudflare.com/logs/reference/log-fields/).
                      destination_conf:
                        type: string
                        description: Uniquely identifies a resource (such as an s3 bucket) where data.
                          will be pushed. Additional configuration parameters
                          supported by the destination may be included.
                      enabled:
                        type: boolean
                        description: Flag that indicates if the job is enabled.
                      error_message:
                        oneOf:
                          - type: string
                        nullable: true
                        description: "If not null, the job is currently failing. Failures are usually.
                          repetitive (example: no permissions to write to
                          destination bucket). Only the last failure is
                          recorded. On successful execution of a job the
                          error_message and last_error are set to null."
                      frequency:
                        type: string
                        enum:
                          - high
                          - low
                        nullable: true
                        description: "@deprecated This field is deprecated. Please use `max_upload_ `
                          parameters instead. . The frequency at which
                          Cloudflare sends batches of logs to your destination.
                          Setting frequency to high sends your logs in larger
                          quantities of smaller files. Setting frequency to low
                          sends logs in smaller quantities of larger files."
                      kind:
                        type: string
                        enum:
                          - ""
                          - edge
                        description: The kind parameter (optional) is used to differentiate between
                          Logpush and Edge Log Delivery jobs (when supported by
                          the dataset).
                      last_complete:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Records the last time for which logs have been successfully pushed.
                          If the last successful push was for logs range
                          2018-07-23T10:00:00Z to 2018-07-23T10:01:00Z then the
                          value of this field will be 2018-07-23T10:01:00Z. If
                          the job has never run or has just been enabled and
                          hasn't run yet then the field will be empty.
                      last_error:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Records the last time the job failed. If not null, the job is
                          currently. failing. If null, the job has either never
                          failed or has run successfully at least once since
                          last failure. See also the error_message field.
                      logpull_options:
                        oneOf:
                          - type: string
                        nullable: true
                        description: "@deprecated This field is deprecated. Use `output_options`
                          instead. Configuration string. It specifies things
                          like requested fields and timestamp formats. If
                          migrating from the logpull api, copy the url (full url
                          or just the query string) of your call here, and
                          logpush will keep on making this call for you, setting
                          start and end times appropriately."
                      max_upload_bytes:
                        oneOf:
                          - type: number
                            enum:
                              - 0
                          - type: number
                        nullable: true
                        description: The maximum uncompressed file size of a batch of logs. This setting
                          value must be between `5 MB` and `1 GB`, or `0` to
                          disable it. Note that you cannot set a minimum file
                          size; this means that log files may be much smaller
                          than this batch size.
                      max_upload_interval_seconds:
                        oneOf:
                          - type: number
                            enum:
                              - 0
                          - type: number
                        nullable: true
                        description: The maximum interval in seconds for log batches. This setting must
                          be between 30 and 300 seconds (5 minutes), or `0` to
                          disable it. Note that you cannot specify a minimum
                          interval for log batches; this means that log files
                          may be sent in shorter intervals than this.
                      max_upload_records:
                        oneOf:
                          - type: number
                            enum:
                              - 0
                          - type: number
                        nullable: true
                        description: The maximum number of log lines per batch. This setting must be
                          between 1000 and 1,000,000 lines, or `0` to disable
                          it. Note that you cannot specify a minimum number of
                          log lines per batch; this means that log files may
                          contain many fewer lines than this.
                      name:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Optional human readable job name. Not unique. Cloudflare suggests.
                          that you set this to a meaningful string, like the
                          domain name, to make it easier to identify your job.
                      output_options:
                        oneOf:
                          - type: object
                            properties:
                              batch_prefix:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be prepended before each batch.
                              batch_suffix:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be appended after each batch.
                              CVE-2021-44228:
                                oneOf:
                                  - type: boolean
                                nullable: true
                                description: If set to true, will cause all occurrences of `${` in the generated
                                  files to be replaced with `x{`.
                              field_delimiter:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to join fields. This field be ignored when `record_template`
                                  is set.
                              field_names:
                                type: array
                                items:
                                  type: string
                                description: List of field names to be included in the Logpush output. For the
                                  moment, there is no option to add all fields
                                  at once, so you must specify all the fields
                                  names you are interested in.
                              output_type:
                                type: string
                                enum:
                                  - ndjson
                                  - csv
                                description: Specifies the output type, such as `ndjson` or `csv`. This sets
                                  default values for the rest of the settings,
                                  depending on the chosen output type. Some
                                  formatting rules, like string quoting, are
                                  different between output types.
                              record_delimiter:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be inserted in-between the records as separator.
                              record_prefix:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be prepended before each record.
                              record_suffix:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be appended after each record.
                              record_template:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to use as template for each record instead of the default
                                  json key value mapping. All fields used in the
                                  template must be present in `field_names` as
                                  well, otherwise they will end up as null.
                                  Format as a Go `text/template` without any
                                  standard functions, like conditionals, loops,
                                  sub-templates, etc.
                              sample_rate:
                                oneOf:
                                  - type: number
                                nullable: true
                                description: Floating number to specify sampling rate. Sampling is applied on
                                  top of filtering, and regardless of the
                                  current `sample_interval` of the data.
                              timestamp_format:
                                type: string
                                enum:
                                  - unixnano
                                  - unix
                                  - rfc3339
                                description: String to specify the format for timestamps, such as `unixnano`,
                                  `unix`, or `rfc3339`.
                        nullable: true
                        description: The structured replacement for `logpull_options`. When including
                          this field, the `logpull_option` field will be
                          ignored.
                nullable: true
      x-distilled-pagination-class: LogpushJobsSinglePage
  /zones/{zone_id}/logpush/edge/jobs:
    get:
      operationId: getEdge
      description: "Lists Instant Logs jobs for a zone.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        instantLogpushJob of client.logpush.edge.get( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      destination_conf:
                        type: string
                        description: Unique WebSocket address that will receive messages from
                          Cloudflare’s edge.
                      fields:
                        type: string
                        description: Comma-separated list of fields.
                      filter:
                        type: string
                        description: Filters to drill down into specific events.
                      sample:
                        type: number
                        description: 'The sample parameter is the sample rate of the records set by the
                          client: "sample": 1 is 100% of records "sample": 10 is
                          10% and so on.'
                      session_id:
                        type: string
                        description: Unique session id of the job.
                nullable: true
      x-distilled-pagination-class: InstantLogpushJobsSinglePage
    post:
      operationId: createEdge
      description: "Creates a new Instant Logs job for a zone.  @example ```ts const
        instantLogpushJob = await client.logpush.edge.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                fields:
                  type: string
                  description: "Body param: Comma-separated list of fields."
                filter:
                  type: string
                  description: "Body param: Filters to drill down into specific events."
                sample:
                  type: number
                  description: 'Body param: The sample parameter is the sample rate of the records
                    set by the client: "sample": 1 is 100% of records "sample":
                    10 is 10% and so on.'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  destination_conf:
                    type: string
                    description: Unique WebSocket address that will receive messages from
                      Cloudflare’s edge.
                  fields:
                    type: string
                    description: Comma-separated list of fields.
                  filter:
                    type: string
                    description: Filters to drill down into specific events.
                  sample:
                    type: number
                    description: 'The sample parameter is the sample rate of the records set by the
                      client: "sample": 1 is 100% of records "sample": 10 is 10%
                      and so on.'
                  session_id:
                    type: string
                    description: Unique session id of the job.
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/logpush/validate/destination/exists:
    post:
      operationId: destinationExistsValidate
      description: "Checks if there is an existing job with a destination.  @example
        ```ts const response = await client.logpush.validate.destinationExists({
        destination_conf: 's3://mybucket/logs?region=us-west-2', account_id:
        'account_id', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_conf:
                  type: string
                  description: "Body param: Uniquely identifies a resource (such as an s3 bucket)
                    where data. will be pushed. Additional configuration
                    parameters supported by the destination may be included."
              required:
                - destination_conf
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  exists:
                    type: boolean
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/logpush/jobs/{jobId}:
    get:
      operationId: getJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    description: Unique id of the job.
                  dataset:
                    type: string
                    enum:
                      - access_requests
                      - audit_logs
                      - audit_logs_v2
                      - biso_user_actions
                      - casb_findings
                      - device_posture_results
                      - dex_application_tests
                      - dex_device_state_events
                      - dlp_forensic_copies
                      - dns_firewall_logs
                      - dns_logs
                      - email_security_alerts
                      - firewall_events
                      - gateway_dns
                      - gateway_http
                      - gateway_network
                      - http_requests
                      - ipsec_logs
                      - magic_ids_detections
                      - nel_reports
                      - network_analytics_logs
                      - page_shield_events
                      - sinkhole_http_logs
                      - spectrum_events
                      - ssh_logs
                      - warp_config_changes
                      - warp_toggle_changes
                      - workers_trace_events
                      - zaraz_events
                      - zero_trust_network_sessions
                    nullable: true
                    description: Name of the dataset. A list of supported datasets can be found on
                      the [Developer
                      Docs](https://developers.cloudflare.com/logs/reference/log-fields/).
                  destination_conf:
                    type: string
                    description: Uniquely identifies a resource (such as an s3 bucket) where data.
                      will be pushed. Additional configuration parameters
                      supported by the destination may be included.
                  enabled:
                    type: boolean
                    description: Flag that indicates if the job is enabled.
                  error_message:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "If not null, the job is currently failing. Failures are usually.
                      repetitive (example: no permissions to write to
                      destination bucket). Only the last failure is recorded. On
                      successful execution of a job the error_message and
                      last_error are set to null."
                  frequency:
                    type: string
                    enum:
                      - high
                      - low
                    nullable: true
                    description: "@deprecated This field is deprecated. Please use `max_upload_ `
                      parameters instead. . The frequency at which Cloudflare
                      sends batches of logs to your destination. Setting
                      frequency to high sends your logs in larger quantities of
                      smaller files. Setting frequency to low sends logs in
                      smaller quantities of larger files."
                  kind:
                    type: string
                    enum:
                      - ""
                      - edge
                    description: The kind parameter (optional) is used to differentiate between
                      Logpush and Edge Log Delivery jobs (when supported by the
                      dataset).
                  last_complete:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Records the last time for which logs have been successfully pushed.
                      If the last successful push was for logs range
                      2018-07-23T10:00:00Z to 2018-07-23T10:01:00Z then the
                      value of this field will be 2018-07-23T10:01:00Z. If the
                      job has never run or has just been enabled and hasn't run
                      yet then the field will be empty.
                  last_error:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Records the last time the job failed. If not null, the job is
                      currently. failing. If null, the job has either never
                      failed or has run successfully at least once since last
                      failure. See also the error_message field.
                  logpull_options:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "@deprecated This field is deprecated. Use `output_options`
                      instead. Configuration string. It specifies things like
                      requested fields and timestamp formats. If migrating from
                      the logpull api, copy the url (full url or just the query
                      string) of your call here, and logpush will keep on making
                      this call for you, setting start and end times
                      appropriately."
                  max_upload_bytes:
                    oneOf:
                      - type: number
                        enum:
                          - 0
                      - type: number
                    nullable: true
                    description: The maximum uncompressed file size of a batch of logs. This setting
                      value must be between `5 MB` and `1 GB`, or `0` to disable
                      it. Note that you cannot set a minimum file size; this
                      means that log files may be much smaller than this batch
                      size.
                  max_upload_interval_seconds:
                    oneOf:
                      - type: number
                        enum:
                          - 0
                      - type: number
                    nullable: true
                    description: The maximum interval in seconds for log batches. This setting must
                      be between 30 and 300 seconds (5 minutes), or `0` to
                      disable it. Note that you cannot specify a minimum
                      interval for log batches; this means that log files may be
                      sent in shorter intervals than this.
                  max_upload_records:
                    oneOf:
                      - type: number
                        enum:
                          - 0
                      - type: number
                    nullable: true
                    description: The maximum number of log lines per batch. This setting must be
                      between 1000 and 1,000,000 lines, or `0` to disable it.
                      Note that you cannot specify a minimum number of log lines
                      per batch; this means that log files may contain many
                      fewer lines than this.
                  name:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Optional human readable job name. Not unique. Cloudflare suggests.
                      that you set this to a meaningful string, like the domain
                      name, to make it easier to identify your job.
                  output_options:
                    oneOf:
                      - type: object
                        properties:
                          batch_prefix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be prepended before each batch.
                          batch_suffix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be appended after each batch.
                          CVE-2021-44228:
                            oneOf:
                              - type: boolean
                            nullable: true
                            description: If set to true, will cause all occurrences of `${` in the generated
                              files to be replaced with `x{`.
                          field_delimiter:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to join fields. This field be ignored when `record_template`
                              is set.
                          field_names:
                            type: array
                            items:
                              type: string
                            description: List of field names to be included in the Logpush output. For the
                              moment, there is no option to add all fields at
                              once, so you must specify all the fields names you
                              are interested in.
                          output_type:
                            type: string
                            enum:
                              - ndjson
                              - csv
                            description: Specifies the output type, such as `ndjson` or `csv`. This sets
                              default values for the rest of the settings,
                              depending on the chosen output type. Some
                              formatting rules, like string quoting, are
                              different between output types.
                          record_delimiter:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be inserted in-between the records as separator.
                          record_prefix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be prepended before each record.
                          record_suffix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be appended after each record.
                          record_template:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to use as template for each record instead of the default
                              json key value mapping. All fields used in the
                              template must be present in `field_names` as well,
                              otherwise they will end up as null. Format as a Go
                              `text/template` without any standard functions,
                              like conditionals, loops, sub-templates, etc.
                          sample_rate:
                            oneOf:
                              - type: number
                            nullable: true
                            description: Floating number to specify sampling rate. Sampling is applied on
                              top of filtering, and regardless of the current
                              `sample_interval` of the data.
                          timestamp_format:
                            type: string
                            enum:
                              - unixnano
                              - unix
                              - rfc3339
                            description: String to specify the format for timestamps, such as `unixnano`,
                              `unix`, or `rfc3339`.
                    nullable: true
                    description: The structured replacement for `logpull_options`. When including
                      this field, the `logpull_option` field will be ignored.
      x-distilled-response-path: result
    put:
      operationId: updateJob
      description: "Updates a Logpush job.  @example ```ts const logpushJob = await
        client.logpush.jobs.update(1, { account_id: 'account_id',
        destination_conf: 's3://mybucket/logs?region=us-west-2', filter:
        '{\"where\":{\"and\":[{\"key\":\"ClientRequestPath\",\"operator\":\"con\
        tains\",\"value\":\"/static\"},{\"key\":\"ClientRequestHost\",\"operator\
        \":\"eq\",\"value\":\"example.com\"}]}}', max_upload_bytes: 5000000,
        max_upload_interval_seconds: 30, max_upload_records: 1000,
        output_options: { 'CVE-2021-44228': false, batch_prefix: '',
        batch_suffix: '', field_delimiter: ',', field_names: ['Datetime',
        'DstIP', 'SrcIP'], output_type: 'ndjson', record_delimiter: '',
        record_prefix: '{', record_suffix: '}\\n', sample_rate: 1,
        timestamp_format: 'unixnano', }, ownership_challenge:
        '00000000000000000000', }); ```"
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: number
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_conf:
                  type: string
                  description: "Body param: Uniquely identifies a resource (such as an s3 bucket)
                    where data. will be pushed. Additional configuration
                    parameters supported by the destination may be included."
                enabled:
                  type: boolean
                  description: "Body param: Flag that indicates if the job is enabled."
                filter:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: The filters to select the events to include and/or
                    remove from your logs. For more information, refer to
                    [Filters](https://developers.cloudflare.com/logs/reference/\
                    filters/)."
                frequency:
                  type: string
                  enum:
                    - high
                    - low
                  nullable: true
                  description: "@deprecated Body param: This field is deprecated. Please use
                    `max_upload_ ` parameters instead. . The frequency at which
                    Cloudflare sends batches of logs to your destination.
                    Setting frequency to high sends your logs in larger
                    quantities of smaller files. Setting frequency to low sends
                    logs in smaller quantities of larger files."
                kind:
                  type: string
                  enum:
                    - ""
                    - edge
                  description: "Body param: The kind parameter (optional) is used to differentiate
                    between Logpush and Edge Log Delivery jobs (when supported
                    by the dataset)."
                logpull_options:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "@deprecated Body param: This field is deprecated. Use
                    `output_options` instead. Configuration string. It specifies
                    things like requested fields and timestamp formats. If
                    migrating from the logpull api, copy the url (full url or
                    just the query string) of your call here, and logpush will
                    keep on making this call for you, setting start and end
                    times appropriately."
                max_upload_bytes:
                  oneOf:
                    - type: number
                      enum:
                        - 0
                    - type: number
                  nullable: true
                  description: "Body param: The maximum uncompressed file size of a batch of logs.
                    This setting value must be between `5 MB` and `1 GB`, or `0`
                    to disable it. Note that you cannot set a minimum file size;
                    this means that log files may be much smaller than this
                    batch size."
                max_upload_interval_seconds:
                  oneOf:
                    - type: number
                      enum:
                        - 0
                    - type: number
                  nullable: true
                  description: "Body param: The maximum interval in seconds for log batches. This
                    setting must be between 30 and 300 seconds (5 minutes), or
                    `0` to disable it. Note that you cannot specify a minimum
                    interval for log batches; this means that log files may be
                    sent in shorter intervals than this."
                max_upload_records:
                  oneOf:
                    - type: number
                      enum:
                        - 0
                    - type: number
                  nullable: true
                  description: "Body param: The maximum number of log lines per batch. This
                    setting must be between 1000 and 1,000,000 lines, or `0` to
                    disable it. Note that you cannot specify a minimum number of
                    log lines per batch; this means that log files may contain
                    many fewer lines than this."
                name:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: Optional human readable job name. Not unique.
                    Cloudflare suggests. that you set this to a meaningful
                    string, like the domain name, to make it easier to identify
                    your job."
                output_options:
                  oneOf:
                    - type: object
                      properties:
                        batch_prefix:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be prepended before each batch.
                        batch_suffix:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be appended after each batch.
                        CVE-2021-44228:
                          oneOf:
                            - type: boolean
                          nullable: true
                          description: If set to true, will cause all occurrences of `${` in the generated
                            files to be replaced with `x{`.
                        field_delimiter:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to join fields. This field be ignored when `record_template`
                            is set.
                        field_names:
                          type: array
                          items:
                            type: string
                          description: List of field names to be included in the Logpush output. For the
                            moment, there is no option to add all fields at
                            once, so you must specify all the fields names you
                            are interested in.
                        output_type:
                          type: string
                          enum:
                            - ndjson
                            - csv
                          description: Specifies the output type, such as `ndjson` or `csv`. This sets
                            default values for the rest of the settings,
                            depending on the chosen output type. Some formatting
                            rules, like string quoting, are different between
                            output types.
                        record_delimiter:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be inserted in-between the records as separator.
                        record_prefix:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be prepended before each record.
                        record_suffix:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be appended after each record.
                        record_template:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to use as template for each record instead of the default
                            json key value mapping. All fields used in the
                            template must be present in `field_names` as well,
                            otherwise they will end up as null. Format as a Go
                            `text/template` without any standard functions, like
                            conditionals, loops, sub-templates, etc.
                        sample_rate:
                          oneOf:
                            - type: number
                          nullable: true
                          description: Floating number to specify sampling rate. Sampling is applied on
                            top of filtering, and regardless of the current
                            `sample_interval` of the data.
                        timestamp_format:
                          type: string
                          enum:
                            - unixnano
                            - unix
                            - rfc3339
                          description: String to specify the format for timestamps, such as `unixnano`,
                            `unix`, or `rfc3339`.
                  nullable: true
                  description: "Body param: The structured replacement for `logpull_options`. When
                    including this field, the `logpull_option` field will be
                    ignored."
                ownership_challenge:
                  type: string
                  description: "Body param: Ownership challenge token to prove destination
                    ownership."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    description: Unique id of the job.
                  dataset:
                    type: string
                    enum:
                      - access_requests
                      - audit_logs
                      - audit_logs_v2
                      - biso_user_actions
                      - casb_findings
                      - device_posture_results
                      - dex_application_tests
                      - dex_device_state_events
                      - dlp_forensic_copies
                      - dns_firewall_logs
                      - dns_logs
                      - email_security_alerts
                      - firewall_events
                      - gateway_dns
                      - gateway_http
                      - gateway_network
                      - http_requests
                      - ipsec_logs
                      - magic_ids_detections
                      - nel_reports
                      - network_analytics_logs
                      - page_shield_events
                      - sinkhole_http_logs
                      - spectrum_events
                      - ssh_logs
                      - warp_config_changes
                      - warp_toggle_changes
                      - workers_trace_events
                      - zaraz_events
                      - zero_trust_network_sessions
                    nullable: true
                    description: Name of the dataset. A list of supported datasets can be found on
                      the [Developer
                      Docs](https://developers.cloudflare.com/logs/reference/log-fields/).
                  destination_conf:
                    type: string
                    description: Uniquely identifies a resource (such as an s3 bucket) where data.
                      will be pushed. Additional configuration parameters
                      supported by the destination may be included.
                  enabled:
                    type: boolean
                    description: Flag that indicates if the job is enabled.
                  error_message:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "If not null, the job is currently failing. Failures are usually.
                      repetitive (example: no permissions to write to
                      destination bucket). Only the last failure is recorded. On
                      successful execution of a job the error_message and
                      last_error are set to null."
                  frequency:
                    type: string
                    enum:
                      - high
                      - low
                    nullable: true
                    description: "@deprecated This field is deprecated. Please use `max_upload_ `
                      parameters instead. . The frequency at which Cloudflare
                      sends batches of logs to your destination. Setting
                      frequency to high sends your logs in larger quantities of
                      smaller files. Setting frequency to low sends logs in
                      smaller quantities of larger files."
                  kind:
                    type: string
                    enum:
                      - ""
                      - edge
                    description: The kind parameter (optional) is used to differentiate between
                      Logpush and Edge Log Delivery jobs (when supported by the
                      dataset).
                  last_complete:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Records the last time for which logs have been successfully pushed.
                      If the last successful push was for logs range
                      2018-07-23T10:00:00Z to 2018-07-23T10:01:00Z then the
                      value of this field will be 2018-07-23T10:01:00Z. If the
                      job has never run or has just been enabled and hasn't run
                      yet then the field will be empty.
                  last_error:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Records the last time the job failed. If not null, the job is
                      currently. failing. If null, the job has either never
                      failed or has run successfully at least once since last
                      failure. See also the error_message field.
                  logpull_options:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "@deprecated This field is deprecated. Use `output_options`
                      instead. Configuration string. It specifies things like
                      requested fields and timestamp formats. If migrating from
                      the logpull api, copy the url (full url or just the query
                      string) of your call here, and logpush will keep on making
                      this call for you, setting start and end times
                      appropriately."
                  max_upload_bytes:
                    oneOf:
                      - type: number
                        enum:
                          - 0
                      - type: number
                    nullable: true
                    description: The maximum uncompressed file size of a batch of logs. This setting
                      value must be between `5 MB` and `1 GB`, or `0` to disable
                      it. Note that you cannot set a minimum file size; this
                      means that log files may be much smaller than this batch
                      size.
                  max_upload_interval_seconds:
                    oneOf:
                      - type: number
                        enum:
                          - 0
                      - type: number
                    nullable: true
                    description: The maximum interval in seconds for log batches. This setting must
                      be between 30 and 300 seconds (5 minutes), or `0` to
                      disable it. Note that you cannot specify a minimum
                      interval for log batches; this means that log files may be
                      sent in shorter intervals than this.
                  max_upload_records:
                    oneOf:
                      - type: number
                        enum:
                          - 0
                      - type: number
                    nullable: true
                    description: The maximum number of log lines per batch. This setting must be
                      between 1000 and 1,000,000 lines, or `0` to disable it.
                      Note that you cannot specify a minimum number of log lines
                      per batch; this means that log files may contain many
                      fewer lines than this.
                  name:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Optional human readable job name. Not unique. Cloudflare suggests.
                      that you set this to a meaningful string, like the domain
                      name, to make it easier to identify your job.
                  output_options:
                    oneOf:
                      - type: object
                        properties:
                          batch_prefix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be prepended before each batch.
                          batch_suffix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be appended after each batch.
                          CVE-2021-44228:
                            oneOf:
                              - type: boolean
                            nullable: true
                            description: If set to true, will cause all occurrences of `${` in the generated
                              files to be replaced with `x{`.
                          field_delimiter:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to join fields. This field be ignored when `record_template`
                              is set.
                          field_names:
                            type: array
                            items:
                              type: string
                            description: List of field names to be included in the Logpush output. For the
                              moment, there is no option to add all fields at
                              once, so you must specify all the fields names you
                              are interested in.
                          output_type:
                            type: string
                            enum:
                              - ndjson
                              - csv
                            description: Specifies the output type, such as `ndjson` or `csv`. This sets
                              default values for the rest of the settings,
                              depending on the chosen output type. Some
                              formatting rules, like string quoting, are
                              different between output types.
                          record_delimiter:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be inserted in-between the records as separator.
                          record_prefix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be prepended before each record.
                          record_suffix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be appended after each record.
                          record_template:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to use as template for each record instead of the default
                              json key value mapping. All fields used in the
                              template must be present in `field_names` as well,
                              otherwise they will end up as null. Format as a Go
                              `text/template` without any standard functions,
                              like conditionals, loops, sub-templates, etc.
                          sample_rate:
                            oneOf:
                              - type: number
                            nullable: true
                            description: Floating number to specify sampling rate. Sampling is applied on
                              top of filtering, and regardless of the current
                              `sample_interval` of the data.
                          timestamp_format:
                            type: string
                            enum:
                              - unixnano
                              - unix
                              - rfc3339
                            description: String to specify the format for timestamps, such as `unixnano`,
                              `unix`, or `rfc3339`.
                    nullable: true
                    description: The structured replacement for `logpull_options`. When including
                      this field, the `logpull_option` field will be ignored.
      x-distilled-response-path: result
    delete:
      operationId: deleteJob
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    description: Unique id of the job.
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/logpush/jobs:
    get:
      operationId: listJobs
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: number
                        description: Unique id of the job.
                      dataset:
                        type: string
                        enum:
                          - access_requests
                          - audit_logs
                          - audit_logs_v2
                          - biso_user_actions
                          - casb_findings
                          - device_posture_results
                          - dex_application_tests
                          - dex_device_state_events
                          - dlp_forensic_copies
                          - dns_firewall_logs
                          - dns_logs
                          - email_security_alerts
                          - firewall_events
                          - gateway_dns
                          - gateway_http
                          - gateway_network
                          - http_requests
                          - ipsec_logs
                          - magic_ids_detections
                          - nel_reports
                          - network_analytics_logs
                          - page_shield_events
                          - sinkhole_http_logs
                          - spectrum_events
                          - ssh_logs
                          - warp_config_changes
                          - warp_toggle_changes
                          - workers_trace_events
                          - zaraz_events
                          - zero_trust_network_sessions
                        nullable: true
                        description: Name of the dataset. A list of supported datasets can be found on
                          the [Developer
                          Docs](https://developers.cloudflare.com/logs/reference/log-fields/).
                      destination_conf:
                        type: string
                        description: Uniquely identifies a resource (such as an s3 bucket) where data.
                          will be pushed. Additional configuration parameters
                          supported by the destination may be included.
                      enabled:
                        type: boolean
                        description: Flag that indicates if the job is enabled.
                      error_message:
                        oneOf:
                          - type: string
                        nullable: true
                        description: "If not null, the job is currently failing. Failures are usually.
                          repetitive (example: no permissions to write to
                          destination bucket). Only the last failure is
                          recorded. On successful execution of a job the
                          error_message and last_error are set to null."
                      frequency:
                        type: string
                        enum:
                          - high
                          - low
                        nullable: true
                        description: "@deprecated This field is deprecated. Please use `max_upload_ `
                          parameters instead. . The frequency at which
                          Cloudflare sends batches of logs to your destination.
                          Setting frequency to high sends your logs in larger
                          quantities of smaller files. Setting frequency to low
                          sends logs in smaller quantities of larger files."
                      kind:
                        type: string
                        enum:
                          - ""
                          - edge
                        description: The kind parameter (optional) is used to differentiate between
                          Logpush and Edge Log Delivery jobs (when supported by
                          the dataset).
                      last_complete:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Records the last time for which logs have been successfully pushed.
                          If the last successful push was for logs range
                          2018-07-23T10:00:00Z to 2018-07-23T10:01:00Z then the
                          value of this field will be 2018-07-23T10:01:00Z. If
                          the job has never run or has just been enabled and
                          hasn't run yet then the field will be empty.
                      last_error:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Records the last time the job failed. If not null, the job is
                          currently. failing. If null, the job has either never
                          failed or has run successfully at least once since
                          last failure. See also the error_message field.
                      logpull_options:
                        oneOf:
                          - type: string
                        nullable: true
                        description: "@deprecated This field is deprecated. Use `output_options`
                          instead. Configuration string. It specifies things
                          like requested fields and timestamp formats. If
                          migrating from the logpull api, copy the url (full url
                          or just the query string) of your call here, and
                          logpush will keep on making this call for you, setting
                          start and end times appropriately."
                      max_upload_bytes:
                        oneOf:
                          - type: number
                            enum:
                              - 0
                          - type: number
                        nullable: true
                        description: The maximum uncompressed file size of a batch of logs. This setting
                          value must be between `5 MB` and `1 GB`, or `0` to
                          disable it. Note that you cannot set a minimum file
                          size; this means that log files may be much smaller
                          than this batch size.
                      max_upload_interval_seconds:
                        oneOf:
                          - type: number
                            enum:
                              - 0
                          - type: number
                        nullable: true
                        description: The maximum interval in seconds for log batches. This setting must
                          be between 30 and 300 seconds (5 minutes), or `0` to
                          disable it. Note that you cannot specify a minimum
                          interval for log batches; this means that log files
                          may be sent in shorter intervals than this.
                      max_upload_records:
                        oneOf:
                          - type: number
                            enum:
                              - 0
                          - type: number
                        nullable: true
                        description: The maximum number of log lines per batch. This setting must be
                          between 1000 and 1,000,000 lines, or `0` to disable
                          it. Note that you cannot specify a minimum number of
                          log lines per batch; this means that log files may
                          contain many fewer lines than this.
                      name:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Optional human readable job name. Not unique. Cloudflare suggests.
                          that you set this to a meaningful string, like the
                          domain name, to make it easier to identify your job.
                      output_options:
                        oneOf:
                          - type: object
                            properties:
                              batch_prefix:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be prepended before each batch.
                              batch_suffix:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be appended after each batch.
                              CVE-2021-44228:
                                oneOf:
                                  - type: boolean
                                nullable: true
                                description: If set to true, will cause all occurrences of `${` in the generated
                                  files to be replaced with `x{`.
                              field_delimiter:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to join fields. This field be ignored when `record_template`
                                  is set.
                              field_names:
                                type: array
                                items:
                                  type: string
                                description: List of field names to be included in the Logpush output. For the
                                  moment, there is no option to add all fields
                                  at once, so you must specify all the fields
                                  names you are interested in.
                              output_type:
                                type: string
                                enum:
                                  - ndjson
                                  - csv
                                description: Specifies the output type, such as `ndjson` or `csv`. This sets
                                  default values for the rest of the settings,
                                  depending on the chosen output type. Some
                                  formatting rules, like string quoting, are
                                  different between output types.
                              record_delimiter:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be inserted in-between the records as separator.
                              record_prefix:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be prepended before each record.
                              record_suffix:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to be appended after each record.
                              record_template:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: String to use as template for each record instead of the default
                                  json key value mapping. All fields used in the
                                  template must be present in `field_names` as
                                  well, otherwise they will end up as null.
                                  Format as a Go `text/template` without any
                                  standard functions, like conditionals, loops,
                                  sub-templates, etc.
                              sample_rate:
                                oneOf:
                                  - type: number
                                nullable: true
                                description: Floating number to specify sampling rate. Sampling is applied on
                                  top of filtering, and regardless of the
                                  current `sample_interval` of the data.
                              timestamp_format:
                                type: string
                                enum:
                                  - unixnano
                                  - unix
                                  - rfc3339
                                description: String to specify the format for timestamps, such as `unixnano`,
                                  `unix`, or `rfc3339`.
                        nullable: true
                        description: The structured replacement for `logpull_options`. When including
                          this field, the `logpull_option` field will be
                          ignored.
                nullable: true
      x-distilled-pagination-class: LogpushJobsSinglePage
    post:
      operationId: createJob
      description: "Creates a new Logpush job for an account or zone.  @example ```ts
        const logpushJob = await client.logpush.jobs.create({ destination_conf:
        's3://mybucket/logs?region=us-west-2', account_id: 'account_id',
        dataset: 'gateway_dns', filter:
        '{\"where\":{\"and\":[{\"key\":\"ClientRequestPath\",\"operator\":\"con\
        tains\",\"value\":\"/static\"},{\"key\":\"ClientRequestHost\",\"operator\
        \":\"eq\",\"value\":\"example.com\"}]}}', max_upload_bytes: 5000000,
        max_upload_interval_seconds: 30, max_upload_records: 1000, name:
        'example.com', output_options: { 'CVE-2021-44228': false, batch_prefix:
        '', batch_suffix: '', field_delimiter: ',', field_names: ['Datetime',
        'DstIP', 'SrcIP'], output_type: 'ndjson', record_delimiter: '',
        record_prefix: '{', record_suffix: '}\\n', sample_rate: 1,
        timestamp_format: 'unixnano', }, ownership_challenge:
        '00000000000000000000', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_conf:
                  type: string
                  description: "Body param: Uniquely identifies a resource (such as an s3 bucket)
                    where data. will be pushed. Additional configuration
                    parameters supported by the destination may be included."
                dataset:
                  type: string
                  enum:
                    - access_requests
                    - audit_logs
                    - audit_logs_v2
                    - biso_user_actions
                    - casb_findings
                    - device_posture_results
                    - dex_application_tests
                    - dex_device_state_events
                    - dlp_forensic_copies
                    - dns_firewall_logs
                    - dns_logs
                    - email_security_alerts
                    - firewall_events
                    - gateway_dns
                    - gateway_http
                    - gateway_network
                    - http_requests
                    - ipsec_logs
                    - magic_ids_detections
                    - nel_reports
                    - network_analytics_logs
                    - page_shield_events
                    - sinkhole_http_logs
                    - spectrum_events
                    - ssh_logs
                    - warp_config_changes
                    - warp_toggle_changes
                    - workers_trace_events
                    - zaraz_events
                    - zero_trust_network_sessions
                  nullable: true
                  description: "Body param: Name of the dataset. A list of supported datasets can
                    be found on the [Developer
                    Docs](https://developers.cloudflare.com/logs/reference/log-\
                    fields/)."
                enabled:
                  type: boolean
                  description: "Body param: Flag that indicates if the job is enabled."
                filter:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: The filters to select the events to include and/or
                    remove from your logs. For more information, refer to
                    [Filters](https://developers.cloudflare.com/logs/reference/\
                    filters/)."
                frequency:
                  type: string
                  enum:
                    - high
                    - low
                  nullable: true
                  description: "@deprecated Body param: This field is deprecated. Please use
                    `max_upload_ ` parameters instead. . The frequency at which
                    Cloudflare sends batches of logs to your destination.
                    Setting frequency to high sends your logs in larger
                    quantities of smaller files. Setting frequency to low sends
                    logs in smaller quantities of larger files."
                kind:
                  type: string
                  enum:
                    - ""
                    - edge
                  description: "Body param: The kind parameter (optional) is used to differentiate
                    between Logpush and Edge Log Delivery jobs (when supported
                    by the dataset)."
                logpull_options:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "@deprecated Body param: This field is deprecated. Use
                    `output_options` instead. Configuration string. It specifies
                    things like requested fields and timestamp formats. If
                    migrating from the logpull api, copy the url (full url or
                    just the query string) of your call here, and logpush will
                    keep on making this call for you, setting start and end
                    times appropriately."
                max_upload_bytes:
                  oneOf:
                    - type: number
                      enum:
                        - 0
                    - type: number
                  nullable: true
                  description: "Body param: The maximum uncompressed file size of a batch of logs.
                    This setting value must be between `5 MB` and `1 GB`, or `0`
                    to disable it. Note that you cannot set a minimum file size;
                    this means that log files may be much smaller than this
                    batch size."
                max_upload_interval_seconds:
                  oneOf:
                    - type: number
                      enum:
                        - 0
                    - type: number
                  nullable: true
                  description: "Body param: The maximum interval in seconds for log batches. This
                    setting must be between 30 and 300 seconds (5 minutes), or
                    `0` to disable it. Note that you cannot specify a minimum
                    interval for log batches; this means that log files may be
                    sent in shorter intervals than this."
                max_upload_records:
                  oneOf:
                    - type: number
                      enum:
                        - 0
                    - type: number
                  nullable: true
                  description: "Body param: The maximum number of log lines per batch. This
                    setting must be between 1000 and 1,000,000 lines, or `0` to
                    disable it. Note that you cannot specify a minimum number of
                    log lines per batch; this means that log files may contain
                    many fewer lines than this."
                name:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: Optional human readable job name. Not unique.
                    Cloudflare suggests. that you set this to a meaningful
                    string, like the domain name, to make it easier to identify
                    your job."
                output_options:
                  oneOf:
                    - type: object
                      properties:
                        batch_prefix:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be prepended before each batch.
                        batch_suffix:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be appended after each batch.
                        CVE-2021-44228:
                          oneOf:
                            - type: boolean
                          nullable: true
                          description: If set to true, will cause all occurrences of `${` in the generated
                            files to be replaced with `x{`.
                        field_delimiter:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to join fields. This field be ignored when `record_template`
                            is set.
                        field_names:
                          type: array
                          items:
                            type: string
                          description: List of field names to be included in the Logpush output. For the
                            moment, there is no option to add all fields at
                            once, so you must specify all the fields names you
                            are interested in.
                        output_type:
                          type: string
                          enum:
                            - ndjson
                            - csv
                          description: Specifies the output type, such as `ndjson` or `csv`. This sets
                            default values for the rest of the settings,
                            depending on the chosen output type. Some formatting
                            rules, like string quoting, are different between
                            output types.
                        record_delimiter:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be inserted in-between the records as separator.
                        record_prefix:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be prepended before each record.
                        record_suffix:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to be appended after each record.
                        record_template:
                          oneOf:
                            - type: string
                          nullable: true
                          description: String to use as template for each record instead of the default
                            json key value mapping. All fields used in the
                            template must be present in `field_names` as well,
                            otherwise they will end up as null. Format as a Go
                            `text/template` without any standard functions, like
                            conditionals, loops, sub-templates, etc.
                        sample_rate:
                          oneOf:
                            - type: number
                          nullable: true
                          description: Floating number to specify sampling rate. Sampling is applied on
                            top of filtering, and regardless of the current
                            `sample_interval` of the data.
                        timestamp_format:
                          type: string
                          enum:
                            - unixnano
                            - unix
                            - rfc3339
                          description: String to specify the format for timestamps, such as `unixnano`,
                            `unix`, or `rfc3339`.
                  nullable: true
                  description: "Body param: The structured replacement for `logpull_options`. When
                    including this field, the `logpull_option` field will be
                    ignored."
                ownership_challenge:
                  type: string
                  description: "Body param: Ownership challenge token to prove destination
                    ownership."
              required:
                - destination_conf
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    description: Unique id of the job.
                  dataset:
                    type: string
                    enum:
                      - access_requests
                      - audit_logs
                      - audit_logs_v2
                      - biso_user_actions
                      - casb_findings
                      - device_posture_results
                      - dex_application_tests
                      - dex_device_state_events
                      - dlp_forensic_copies
                      - dns_firewall_logs
                      - dns_logs
                      - email_security_alerts
                      - firewall_events
                      - gateway_dns
                      - gateway_http
                      - gateway_network
                      - http_requests
                      - ipsec_logs
                      - magic_ids_detections
                      - nel_reports
                      - network_analytics_logs
                      - page_shield_events
                      - sinkhole_http_logs
                      - spectrum_events
                      - ssh_logs
                      - warp_config_changes
                      - warp_toggle_changes
                      - workers_trace_events
                      - zaraz_events
                      - zero_trust_network_sessions
                    nullable: true
                    description: Name of the dataset. A list of supported datasets can be found on
                      the [Developer
                      Docs](https://developers.cloudflare.com/logs/reference/log-fields/).
                  destination_conf:
                    type: string
                    description: Uniquely identifies a resource (such as an s3 bucket) where data.
                      will be pushed. Additional configuration parameters
                      supported by the destination may be included.
                  enabled:
                    type: boolean
                    description: Flag that indicates if the job is enabled.
                  error_message:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "If not null, the job is currently failing. Failures are usually.
                      repetitive (example: no permissions to write to
                      destination bucket). Only the last failure is recorded. On
                      successful execution of a job the error_message and
                      last_error are set to null."
                  frequency:
                    type: string
                    enum:
                      - high
                      - low
                    nullable: true
                    description: "@deprecated This field is deprecated. Please use `max_upload_ `
                      parameters instead. . The frequency at which Cloudflare
                      sends batches of logs to your destination. Setting
                      frequency to high sends your logs in larger quantities of
                      smaller files. Setting frequency to low sends logs in
                      smaller quantities of larger files."
                  kind:
                    type: string
                    enum:
                      - ""
                      - edge
                    description: The kind parameter (optional) is used to differentiate between
                      Logpush and Edge Log Delivery jobs (when supported by the
                      dataset).
                  last_complete:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Records the last time for which logs have been successfully pushed.
                      If the last successful push was for logs range
                      2018-07-23T10:00:00Z to 2018-07-23T10:01:00Z then the
                      value of this field will be 2018-07-23T10:01:00Z. If the
                      job has never run or has just been enabled and hasn't run
                      yet then the field will be empty.
                  last_error:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Records the last time the job failed. If not null, the job is
                      currently. failing. If null, the job has either never
                      failed or has run successfully at least once since last
                      failure. See also the error_message field.
                  logpull_options:
                    oneOf:
                      - type: string
                    nullable: true
                    description: "@deprecated This field is deprecated. Use `output_options`
                      instead. Configuration string. It specifies things like
                      requested fields and timestamp formats. If migrating from
                      the logpull api, copy the url (full url or just the query
                      string) of your call here, and logpush will keep on making
                      this call for you, setting start and end times
                      appropriately."
                  max_upload_bytes:
                    oneOf:
                      - type: number
                        enum:
                          - 0
                      - type: number
                    nullable: true
                    description: The maximum uncompressed file size of a batch of logs. This setting
                      value must be between `5 MB` and `1 GB`, or `0` to disable
                      it. Note that you cannot set a minimum file size; this
                      means that log files may be much smaller than this batch
                      size.
                  max_upload_interval_seconds:
                    oneOf:
                      - type: number
                        enum:
                          - 0
                      - type: number
                    nullable: true
                    description: The maximum interval in seconds for log batches. This setting must
                      be between 30 and 300 seconds (5 minutes), or `0` to
                      disable it. Note that you cannot specify a minimum
                      interval for log batches; this means that log files may be
                      sent in shorter intervals than this.
                  max_upload_records:
                    oneOf:
                      - type: number
                        enum:
                          - 0
                      - type: number
                    nullable: true
                    description: The maximum number of log lines per batch. This setting must be
                      between 1000 and 1,000,000 lines, or `0` to disable it.
                      Note that you cannot specify a minimum number of log lines
                      per batch; this means that log files may contain many
                      fewer lines than this.
                  name:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Optional human readable job name. Not unique. Cloudflare suggests.
                      that you set this to a meaningful string, like the domain
                      name, to make it easier to identify your job.
                  output_options:
                    oneOf:
                      - type: object
                        properties:
                          batch_prefix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be prepended before each batch.
                          batch_suffix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be appended after each batch.
                          CVE-2021-44228:
                            oneOf:
                              - type: boolean
                            nullable: true
                            description: If set to true, will cause all occurrences of `${` in the generated
                              files to be replaced with `x{`.
                          field_delimiter:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to join fields. This field be ignored when `record_template`
                              is set.
                          field_names:
                            type: array
                            items:
                              type: string
                            description: List of field names to be included in the Logpush output. For the
                              moment, there is no option to add all fields at
                              once, so you must specify all the fields names you
                              are interested in.
                          output_type:
                            type: string
                            enum:
                              - ndjson
                              - csv
                            description: Specifies the output type, such as `ndjson` or `csv`. This sets
                              default values for the rest of the settings,
                              depending on the chosen output type. Some
                              formatting rules, like string quoting, are
                              different between output types.
                          record_delimiter:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be inserted in-between the records as separator.
                          record_prefix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be prepended before each record.
                          record_suffix:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to be appended after each record.
                          record_template:
                            oneOf:
                              - type: string
                            nullable: true
                            description: String to use as template for each record instead of the default
                              json key value mapping. All fields used in the
                              template must be present in `field_names` as well,
                              otherwise they will end up as null. Format as a Go
                              `text/template` without any standard functions,
                              like conditionals, loops, sub-templates, etc.
                          sample_rate:
                            oneOf:
                              - type: number
                            nullable: true
                            description: Floating number to specify sampling rate. Sampling is applied on
                              top of filtering, and regardless of the current
                              `sample_interval` of the data.
                          timestamp_format:
                            type: string
                            enum:
                              - unixnano
                              - unix
                              - rfc3339
                            description: String to specify the format for timestamps, such as `unixnano`,
                              `unix`, or `rfc3339`.
                    nullable: true
                    description: The structured replacement for `logpull_options`. When including
                      this field, the `logpull_option` field will be ignored.
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/logpush/ownership:
    post:
      operationId: createOwnership
      description: "Gets a new ownership challenge sent to your destination.  @example
        ```ts const ownership = await client.logpush.ownership.create({
        destination_conf: 's3://mybucket/logs?region=us-west-2', account_id:
        'account_id', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID to use for this endpoint. Mutually
            exclusive with the Zone ID."
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: The Zone ID to use for this endpoint. Mutually
            exclusive with the Account ID."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_conf:
                  type: string
                  description: "Body param: Uniquely identifies a resource (such as an s3 bucket)
                    where data. will be pushed. Additional configuration
                    parameters supported by the destination may be included."
              required:
                - destination_conf
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                  message:
                    type: string
                  valid:
[...]
