openapi: 3.1.0
info:
  title: Cloudflare MAGIC-TRANSIT API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: magic-transit
paths:
  /accounts/{account_id}/magic/apps:
    get:
      operationId: listApps
      description: "Lists Apps associated with an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        appListResponse of client.magicTransit.apps.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      account_app_id:
                        type: string
                        description: Magic account app ID.
                      hostnames:
                        type: array
                        items:
                          type: string
                        description: FQDNs to associate with traffic decisions.
                      ip_subnets:
                        type: array
                        items:
                          type: string
                        description: IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are
                          currently unsupported)
                      name:
                        type: string
                        description: Display name for the app.
                      type:
                        type: string
                        description: Category of the app.
                    required:
                      - account_app_id
                  - type: object
                    properties:
                      managed_app_id:
                        type: string
                        description: Managed app ID.
                      hostnames:
                        type: array
                        items:
                          type: string
                        description: FQDNs to associate with traffic decisions.
                      ip_subnets:
                        type: array
                        items:
                          type: string
                        description: IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are
                          currently unsupported)
                      name:
                        type: string
                        description: Display name for the app.
                      type:
                        type: string
                        description: Category of the app.
                    required:
                      - managed_app_id
      x-distilled-pagination-class: AppListResponsesSinglePage
    post:
      operationId: createApp
      description: "Creates a new App for an account  @example ```ts const app = await
        client.magicTransit.apps.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'Cloudflare Dashboard', type:
        'Development', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Display name for the app."
                type:
                  type: string
                  description: "Body param: Category of the app."
                hostnames:
                  type: array
                  items:
                    type: string
                  description: "Body param: FQDNs to associate with traffic decisions."
                ip_subnets:
                  type: array
                  items:
                    type: string
                  description: "Body param: IPv4 CIDRs to associate with traffic decisions. (IPv6
                    CIDRs are currently unsupported)"
              required:
                - name
                - type
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_app_id:
                    type: string
                    description: Magic account app ID.
                  hostnames:
                    type: array
                    items:
                      type: string
                    description: FQDNs to associate with traffic decisions.
                  ip_subnets:
                    type: array
                    items:
                      type: string
                    description: IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are
                      currently unsupported)
                  name:
                    type: string
                    description: Display name for the app.
                  type:
                    type: string
                    description: Category of the app.
                required:
                  - account_app_id
      x-distilled-response-path: result
  /accounts/{account_id}/magic/apps/{accountAppId}:
    put:
      operationId: updateApp
      description: "Updates an Account App  @example ```ts const app = await
        client.magicTransit.apps.update( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: accountAppId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                hostnames:
                  type: array
                  items:
                    type: string
                  description: "Body param: FQDNs to associate with traffic decisions."
                ip_subnets:
                  type: array
                  items:
                    type: string
                  description: "Body param: IPv4 CIDRs to associate with traffic decisions. (IPv6
                    CIDRs are currently unsupported)"
                name:
                  type: string
                  description: "Body param: Display name for the app."
                type:
                  type: string
                  description: "Body param: Category of the app."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_app_id:
                    type: string
                    description: Magic account app ID.
                  hostnames:
                    type: array
                    items:
                      type: string
                    description: FQDNs to associate with traffic decisions.
                  ip_subnets:
                    type: array
                    items:
                      type: string
                    description: IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are
                      currently unsupported)
                  name:
                    type: string
                    description: Display name for the app.
                  type:
                    type: string
                    description: Category of the app.
                required:
                  - account_app_id
      x-distilled-response-path: result
    patch:
      operationId: patchApp
      description: "Updates an Account App  @example ```ts const response = await
        client.magicTransit.apps.edit( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: accountAppId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                hostnames:
                  type: array
                  items:
                    type: string
                  description: "Body param: FQDNs to associate with traffic decisions."
                ip_subnets:
                  type: array
                  items:
                    type: string
                  description: "Body param: IPv4 CIDRs to associate with traffic decisions. (IPv6
                    CIDRs are currently unsupported)"
                name:
                  type: string
                  description: "Body param: Display name for the app."
                type:
                  type: string
                  description: "Body param: Category of the app."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_app_id:
                    type: string
                    description: Magic account app ID.
                  hostnames:
                    type: array
                    items:
                      type: string
                    description: FQDNs to associate with traffic decisions.
                  ip_subnets:
                    type: array
                    items:
                      type: string
                    description: IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are
                      currently unsupported)
                  name:
                    type: string
                    description: Display name for the app.
                  type:
                    type: string
                    description: Category of the app.
                required:
                  - account_app_id
      x-distilled-response-path: result
    delete:
      operationId: deleteApp
      description: "Deletes specific Account App.  @example ```ts const app = await
        client.magicTransit.apps.delete( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: accountAppId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_app_id:
                    type: string
                    description: Magic account app ID.
                  hostnames:
                    type: array
                    items:
                      type: string
                    description: FQDNs to associate with traffic decisions.
                  ip_subnets:
                    type: array
                    items:
                      type: string
                    description: IPv4 CIDRs to associate with traffic decisions. (IPv6 CIDRs are
                      currently unsupported)
                  name:
                    type: string
                    description: Display name for the app.
                  type:
                    type: string
                    description: Category of the app.
                required:
                  - account_app_id
      x-distilled-response-path: result
  /accounts/{account_id}/magic/cf_interconnects/{cfInterconnectId}:
    get:
      operationId: getCfInterconnect
      description: "Lists details for a specific interconnect.  @example ```ts const
        cfInterconnect = await client.magicTransit.cfInterconnects.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: cfInterconnectId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
        - name: x-magic-new-hc-target
          in: header
          required: false
          description: "Header param: If true, the health check target in the response
            body will be presented using the new object format. Defaults to
            false."
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  interconnect:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier
                      automatic_return_routing:
                        type: boolean
                        description: True if automatic stateful return routing should be enabled for a
                          tunnel, false otherwise.
                      colo_name:
                        type: string
                        description: The name of the interconnect. The name cannot share a name with
                          other tunnels.
                      created_on:
                        type: string
                        description: The date and time the tunnel was created.
                      description:
                        type: string
                        description: An optional description of the interconnect.
                      gre:
                        type: object
                        properties:
                          cloudflare_endpoint:
                            type: string
                            description: The IP address assigned to the Cloudflare side of the GRE tunnel
                              created as part of the Interconnect.
                        description: The configuration specific to GRE interconnects.
                      health_check:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Determines whether to run healthchecks for a tunnel.
                          rate:
                            type: string
                            enum:
                              - low
                              - mid
                              - high
                            description: How frequent the health check is run. The default value is `mid`.
                          target:
                            oneOf:
                              - type: object
                                properties:
                                  effective:
                                    type: string
                                    description: The effective health check target. If 'saved' is empty, then this
                                      field will be populated with the
                                      calculated default value on GET requests.
                                      Ignored in POST, PUT, and PATCH requests.
                                  saved:
                                    type: string
                                    description: The saved health check target. Setting the value to the empty
                                      string indicates that the calculated
                                      default value will be used.
                              - type: string
                            description: The destination address in a request type health check. After the
                              healthcheck is decapsulated at the customer end of
                              the tunnel, the ICMP echo will be forwarded to
                              this address. This field defaults to
                              `customer_gre_endpoint address`. This field is
                              ignored for bidirectional healthchecks as the
                              interface_address (not assigned to the Cloudflare
                              side of the tunnel) is used as the target. Must be
                              in object form if the x-magic-new-hc-target header
                              is set to true and string form if
                              x-magic-new-hc-target is absent or set to false.
                          type:
                            type: string
                            enum:
                              - reply
                              - request
                            description: The type of healthcheck to run, reply or request. The default value
                              is `reply`.
                      interface_address:
                        type: string
                        description: "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one
                          for each side of the tunnel. Select the subnet from
                          the following private IP space:
                          10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255,
                          192.168.0.0–192.168.255.255."
                      interface_address6:
                        type: string
                        description: A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space
                          with the address being the first IP of the subnet and
                          not same as the address of virtual_subnet6. Eg if
                          virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 ,
                          interface_address6 could be
                          2606:54c1:7:0:a9fe:12d2:1:200/127
                      modified_on:
                        type: string
                        description: The date and time the tunnel was last modified.
                      mtu:
                        type: number
                        description: The Maximum Transmission Unit (MTU) in bytes for the interconnect.
                          The minimum value is 576.
                      name:
                        type: string
                        description: The name of the interconnect. The name cannot share a name with
                          other tunnels.
      x-distilled-response-path: result
    put:
      operationId: putCfInterconnect
      description: "Updates a specific interconnect associated with an account. Use
        `?validate_only=true` as an optional query parameter to only run
        validation without persisting changes.  @example ```ts const
        cfInterconnect = await client.magicTransit.cfInterconnects.update(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: cfInterconnectId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
        - name: x-magic-new-hc-target
          in: header
          required: false
          description: "Header param: If true, the health check target in the request and
            response bodies will be presented using the new object format.
            Defaults to false."
          schema:
            type: boolean
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                automatic_return_routing:
                  type: boolean
                  description: "Body param: True if automatic stateful return routing should be
                    enabled for a tunnel, false otherwise."
                description:
                  type: string
                  description: "Body param: An optional description of the interconnect."
                gre:
                  type: object
                  properties:
                    cloudflare_endpoint:
                      type: string
                      description: The IP address assigned to the Cloudflare side of the GRE tunnel
                        created as part of the Interconnect.
                  description: "Body param: The configuration specific to GRE interconnects."
                health_check:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Determines whether to run healthchecks for a tunnel.
                    rate:
                      type: string
                      enum:
                        - low
                        - mid
                        - high
                      description: How frequent the health check is run. The default value is `mid`.
                    target:
                      oneOf:
                        - type: object
                          properties:
                            saved:
                              type: string
                              description: The saved health check target. Setting the value to the empty
                                string indicates that the calculated default
                                value will be used.
                        - type: string
                      description: The destination address in a request type health check. After the
                        healthcheck is decapsulated at the customer end of the
                        tunnel, the ICMP echo will be forwarded to this address.
                        This field defaults to `customer_gre_endpoint address`.
                        This field is ignored for bidirectional healthchecks as
                        the interface_address (not assigned to the Cloudflare
                        side of the tunnel) is used as the target. Must be in
                        object form if the x-magic-new-hc-target header is set
                        to true and string form if x-magic-new-hc-target is
                        absent or set to false.
                    type:
                      type: string
                      enum:
                        - reply
                        - request
                      description: The type of healthcheck to run, reply or request. The default value
                        is `reply`.
                  description: "Body param:"
                interface_address:
                  type: string
                  description: "Body param: A 31-bit prefix (/31 in CIDR notation) supporting two
                    hosts, one for each side of the tunnel. Select the subnet
                    from the following private IP space:
                    10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255,
                    192.168.0.0–192.168.255.255."
                interface_address6:
                  type: string
                  description: "Body param: A 127 bit IPV6 prefix from within the virtual_subnet6
                    prefix space with the address being the first IP of the
                    subnet and not same as the address of virtual_subnet6. Eg if
                    virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 ,
                    interface_address6 could be
                    2606:54c1:7:0:a9fe:12d2:1:200/127"
                mtu:
                  type: number
                  description: "Body param: The Maximum Transmission Unit (MTU) in bytes for the
                    interconnect. The minimum value is 576."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  modified:
                    type: boolean
                  modified_interconnect:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier
                      automatic_return_routing:
                        type: boolean
                        description: True if automatic stateful return routing should be enabled for a
                          tunnel, false otherwise.
                      colo_name:
                        type: string
                        description: The name of the interconnect. The name cannot share a name with
                          other tunnels.
                      created_on:
                        type: string
                        description: The date and time the tunnel was created.
                      description:
                        type: string
                        description: An optional description of the interconnect.
                      gre:
                        type: object
                        properties:
                          cloudflare_endpoint:
                            type: string
                            description: The IP address assigned to the Cloudflare side of the GRE tunnel
                              created as part of the Interconnect.
                        description: The configuration specific to GRE interconnects.
                      health_check:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Determines whether to run healthchecks for a tunnel.
                          rate:
                            type: string
                            enum:
                              - low
                              - mid
                              - high
                            description: How frequent the health check is run. The default value is `mid`.
                          target:
                            oneOf:
                              - type: object
                                properties:
                                  effective:
                                    type: string
                                    description: The effective health check target. If 'saved' is empty, then this
                                      field will be populated with the
                                      calculated default value on GET requests.
                                      Ignored in POST, PUT, and PATCH requests.
                                  saved:
                                    type: string
                                    description: The saved health check target. Setting the value to the empty
                                      string indicates that the calculated
                                      default value will be used.
                              - type: string
                            description: The destination address in a request type health check. After the
                              healthcheck is decapsulated at the customer end of
                              the tunnel, the ICMP echo will be forwarded to
                              this address. This field defaults to
                              `customer_gre_endpoint address`. This field is
                              ignored for bidirectional healthchecks as the
                              interface_address (not assigned to the Cloudflare
                              side of the tunnel) is used as the target. Must be
                              in object form if the x-magic-new-hc-target header
                              is set to true and string form if
                              x-magic-new-hc-target is absent or set to false.
                          type:
                            type: string
                            enum:
                              - reply
                              - request
                            description: The type of healthcheck to run, reply or request. The default value
                              is `reply`.
                      interface_address:
                        type: string
                        description: "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one
                          for each side of the tunnel. Select the subnet from
                          the following private IP space:
                          10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255,
                          192.168.0.0–192.168.255.255."
                      interface_address6:
                        type: string
                        description: A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space
                          with the address being the first IP of the subnet and
                          not same as the address of virtual_subnet6. Eg if
                          virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127 ,
                          interface_address6 could be
                          2606:54c1:7:0:a9fe:12d2:1:200/127
                      modified_on:
                        type: string
                        description: The date and time the tunnel was last modified.
                      mtu:
                        type: number
                        description: The Maximum Transmission Unit (MTU) in bytes for the interconnect.
                          The minimum value is 576.
                      name:
                        type: string
                        description: The name of the interconnect. The name cannot share a name with
                          other tunnels.
      x-distilled-response-path: result
  /accounts/{account_id}/magic/cf_interconnects:
    get:
      operationId: listCfInterconnects
      description: "Lists interconnects associated with an account.  @example ```ts
        const cfInterconnects = await client.magicTransit.cfInterconnects.list({
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
        - name: x-magic-new-hc-target
          in: header
          required: false
          description: "Header param: If true, the health check target in the response
            body will be presented using the new object format. Defaults to
            false."
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  interconnects:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier
                        automatic_return_routing:
                          type: boolean
                          description: True if automatic stateful return routing should be enabled for a
                            tunnel, false otherwise.
                        colo_name:
                          type: string
                          description: The name of the interconnect. The name cannot share a name with
                            other tunnels.
                        created_on:
                          type: string
                          description: The date and time the tunnel was created.
                        description:
                          type: string
                          description: An optional description of the interconnect.
                        gre:
                          type: object
                          properties:
                            cloudflare_endpoint:
                              type: string
                              description: The IP address assigned to the Cloudflare side of the GRE tunnel
                                created as part of the Interconnect.
                          description: The configuration specific to GRE interconnects.
                        health_check:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Determines whether to run healthchecks for a tunnel.
                            rate:
                              type: string
                              enum:
                                - low
                                - mid
                                - high
                              description: How frequent the health check is run. The default value is `mid`.
                            target:
                              oneOf:
                                - type: object
                                  properties:
                                    effective:
                                      type: string
                                      description: The effective health check target. If 'saved' is empty, then this
                                        field will be populated with the
                                        calculated default value on GET
                                        requests. Ignored in POST, PUT, and
                                        PATCH requests.
                                    saved:
                                      type: string
                                      description: The saved health check target. Setting the value to the empty
                                        string indicates that the calculated
                                        default value will be used.
                                - type: string
                              description: The destination address in a request type health check. After the
                                healthcheck is decapsulated at the customer end
                                of the tunnel, the ICMP echo will be forwarded
                                to this address. This field defaults to
                                `customer_gre_endpoint address`. This field is
                                ignored for bidirectional healthchecks as the
                                interface_address (not assigned to the
                                Cloudflare side of the tunnel) is used as the
                                target. Must be in object form if the
                                x-magic-new-hc-target header is set to true and
                                string form if x-magic-new-hc-target is absent
                                or set to false.
                            type:
                              type: string
                              enum:
                                - reply
                                - request
                              description: The type of healthcheck to run, reply or request. The default value
                                is `reply`.
                        interface_address:
                          type: string
                          description: "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one
                            for each side of the tunnel. Select the subnet from
                            the following private IP space:
                            10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255,
                            192.168.0.0–192.168.255.255."
                        interface_address6:
                          type: string
                          description: A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space
                            with the address being the first IP of the subnet
                            and not same as the address of virtual_subnet6. Eg
                            if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127
                            , interface_address6 could be
                            2606:54c1:7:0:a9fe:12d2:1:200/127
                        modified_on:
                          type: string
                          description: The date and time the tunnel was last modified.
                        mtu:
                          type: number
                          description: The Maximum Transmission Unit (MTU) in bytes for the interconnect.
                            The minimum value is 576.
                        name:
                          type: string
                          description: The name of the interconnect. The name cannot share a name with
                            other tunnels.
      x-distilled-response-path: result
    put:
      operationId: bulkPutCfInterconnects
      description: "Updates multiple interconnects associated with an account. Use
        `?validate_only=true` as an optional query parameter to only run
        validation without persisting changes.  @example ```ts const response =
        await client.magicTransit.cfInterconnects.bulkUpdate({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', body: {}, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
        - name: x-magic-new-hc-target
          in: header
          required: false
          description: "Header param: If true, the health check target in the request and
            response bodies will be presented using the new object format.
            Defaults to false."
          schema:
            type: boolean
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  modified:
                    type: boolean
                  modified_interconnects:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier
                        automatic_return_routing:
                          type: boolean
                          description: True if automatic stateful return routing should be enabled for a
                            tunnel, false otherwise.
                        colo_name:
                          type: string
                          description: The name of the interconnect. The name cannot share a name with
                            other tunnels.
                        created_on:
                          type: string
                          description: The date and time the tunnel was created.
                        description:
                          type: string
                          description: An optional description of the interconnect.
                        gre:
                          type: object
                          properties:
                            cloudflare_endpoint:
                              type: string
                              description: The IP address assigned to the Cloudflare side of the GRE tunnel
                                created as part of the Interconnect.
                          description: The configuration specific to GRE interconnects.
                        health_check:
                          type: object
                          properties:
                            enabled:
                              type: boolean
                              description: Determines whether to run healthchecks for a tunnel.
                            rate:
                              type: string
                              enum:
                                - low
                                - mid
                                - high
                              description: How frequent the health check is run. The default value is `mid`.
                            target:
                              oneOf:
                                - type: object
                                  properties:
                                    effective:
                                      type: string
                                      description: The effective health check target. If 'saved' is empty, then this
                                        field will be populated with the
                                        calculated default value on GET
                                        requests. Ignored in POST, PUT, and
                                        PATCH requests.
                                    saved:
                                      type: string
                                      description: The saved health check target. Setting the value to the empty
                                        string indicates that the calculated
                                        default value will be used.
                                - type: string
                              description: The destination address in a request type health check. After the
                                healthcheck is decapsulated at the customer end
                                of the tunnel, the ICMP echo will be forwarded
                                to this address. This field defaults to
                                `customer_gre_endpoint address`. This field is
                                ignored for bidirectional healthchecks as the
                                interface_address (not assigned to the
                                Cloudflare side of the tunnel) is used as the
                                target. Must be in object form if the
                                x-magic-new-hc-target header is set to true and
                                string form if x-magic-new-hc-target is absent
                                or set to false.
                            type:
                              type: string
                              enum:
                                - reply
                                - request
                              description: The type of healthcheck to run, reply or request. The default value
                                is `reply`.
                        interface_address:
                          type: string
                          description: "A 31-bit prefix (/31 in CIDR notation) supporting two hosts, one
                            for each side of the tunnel. Select the subnet from
                            the following private IP space:
                            10.0.0.0–10.255.255.255, 172.16.0.0–172.31.255.255,
                            192.168.0.0–192.168.255.255."
                        interface_address6:
                          type: string
                          description: A 127 bit IPV6 prefix from within the virtual_subnet6 prefix space
                            with the address being the first IP of the subnet
                            and not same as the address of virtual_subnet6. Eg
                            if virtual_subnet6 is 2606:54c1:7:0:a9fe:12d2::/127
                            , interface_address6 could be
                            2606:54c1:7:0:a9fe:12d2:1:200/127
                        modified_on:
                          type: string
                          description: The date and time the tunnel was last modified.
                        mtu:
                          type: number
                          description: The Maximum Transmission Unit (MTU) in bytes for the interconnect.
                            The minimum value is 576.
                        name:
                          type: string
                          description: The name of the interconnect. The name cannot share a name with
                            other tunnels.
      x-distilled-response-path: result
  /accounts/{account_id}/magic/connectors/{connectorId}:
    get:
      operationId: getConnector
      description: "Fetch Connector  @example ```ts const connector = await
        client.magicTransit.connectors.get( 'connector_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  activated:
                    type: boolean
                  interrupt_window_duration_hours:
                    type: number
                  interrupt_window_hour_of_day:
                    type: number
                  last_updated:
                    type: string
                  notes:
                    type: string
                  timezone:
                    type: string
                  device:
                    type: object
                    properties:
                      id:
                        type: string
                      serial_number:
                        type: string
                    required:
                      - id
                  last_heartbeat:
                    type: string
                  last_seen_version:
                    type: string
                  license_key:
                    type: string
                required:
                  - id
                  - activated
                  - interrupt_window_duration_hours
                  - interrupt_window_hour_of_day
                  - last_updated
                  - notes
                  - timezone
      x-distilled-response-path: result
    put:
      operationId: updateConnector
      description: "Replace Connector or Re-provision License Key  @example ```ts
        const connector = await client.magicTransit.connectors.update(
        'connector_id', { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, );
        ```"
      parameters:
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                activated:
                  type: boolean
                  description: "Body param:"
                interrupt_window_duration_hours:
                  type: number
                  description: "Body param:"
                interrupt_window_hour_of_day:
                  type: number
                  description: "Body param:"
                notes:
                  type: string
                  description: "Body param:"
                provision_license:
                  type: boolean
                  description: "Body param: When true, regenerate license key for the connector."
                timezone:
                  type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  activated:
                    type: boolean
                  interrupt_window_duration_hours:
                    type: number
                  interrupt_window_hour_of_day:
                    type: number
                  last_updated:
                    type: string
                  notes:
                    type: string
                  timezone:
                    type: string
                  device:
                    type: object
                    properties:
                      id:
                        type: string
                      serial_number:
                        type: string
                    required:
                      - id
                  last_heartbeat:
                    type: string
                  last_seen_version:
                    type: string
                  license_key:
                    type: string
                required:
                  - id
                  - activated
                  - interrupt_window_duration_hours
                  - interrupt_window_hour_of_day
                  - last_updated
                  - notes
                  - timezone
      x-distilled-response-path: result
    patch:
      operationId: patchConnector
      description: "Edit Connector to update specific properties or Re-provision
        License Key  @example ```ts const response = await
        client.magicTransit.connectors.edit( 'connector_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                activated:
                  type: boolean
                  description: "Body param:"
                interrupt_window_duration_hours:
                  type: number
                  description: "Body param:"
                interrupt_window_hour_of_day:
                  type: number
                  description: "Body param:"
                notes:
                  type: string
                  description: "Body param:"
                provision_license:
                  type: boolean
                  description: "Body param: When true, regenerate license key for the connector."
                timezone:
                  type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  activated:
                    type: boolean
                  interrupt_window_duration_hours:
                    type: number
                  interrupt_window_hour_of_day:
                    type: number
                  last_updated:
                    type: string
                  notes:
                    type: string
                  timezone:
                    type: string
                  device:
                    type: object
                    properties:
                      id:
                        type: string
                      serial_number:
                        type: string
                    required:
                      - id
                  last_heartbeat:
                    type: string
                  last_seen_version:
                    type: string
                  license_key:
                    type: string
                required:
                  - id
                  - activated
                  - interrupt_window_duration_hours
                  - interrupt_window_hour_of_day
                  - last_updated
                  - notes
                  - timezone
      x-distilled-response-path: result
    delete:
      operationId: deleteConnector
      description: "Remove a connector from your account  @example ```ts const
        connector = await client.magicTransit.connectors.delete( 'connector_id',
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  activated:
                    type: boolean
                  interrupt_window_duration_hours:
                    type: number
                  interrupt_window_hour_of_day:
                    type: number
                  last_updated:
                    type: string
                  notes:
                    type: string
                  timezone:
                    type: string
                  device:
                    type: object
                    properties:
                      id:
                        type: string
                      serial_number:
                        type: string
                    required:
                      - id
                  last_heartbeat:
                    type: string
                  last_seen_version:
                    type: string
                  license_key:
                    type: string
                required:
                  - id
                  - activated
                  - interrupt_window_duration_hours
                  - interrupt_window_hour_of_day
                  - last_updated
                  - notes
                  - timezone
      x-distilled-response-path: result
  /accounts/{account_id}/magic/connectors:
    get:
      operationId: listConnectors
      description: "List Connectors  @example ```ts // Automatically fetches more
        pages as needed. for await (const connectorListResponse of
        client.magicTransit.connectors.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Account identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  activated:
                    type: boolean
                  interrupt_window_duration_hours:
                    type: number
                  interrupt_window_hour_of_day:
                    type: number
                  last_updated:
                    type: string
                  notes:
                    type: string
                  timezone:
                    type: string
                  device:
                    type: object
                    properties:
                      id:
                        type: string
                      serial_number:
                        type: string
                    required:
                      - id
                  last_heartbeat:
                    type: string
                  last_seen_version:
                    type: string
                  license_key:
                    type: string
                required:
                  - id
                  - activated
                  - interrupt_window_duration_hours
                  - interrupt_window_hour_of_day
                  - last_updated
                  - notes
                  - timezone
      x-distilled-pagination-class: ConnectorListResponsesSinglePage
    post:
      operationId: createConnector
      description: "Add a connector to your account  @example ```ts const connector =
        await client.magicTransit.connectors.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', device: {}, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                device:
                  type: object
                  properties:
                    id:
                      type: string
                    provision_license:
                      type: boolean
                      description: When true, create and provision a new licence key for the
                        connector.
                    serial_number:
                      type: string
                  description: "Body param: Exactly one of id, serial_number, or provision_license
                    must be provided."
                activated:
                  type: boolean
                  description: "Body param:"
                interrupt_window_duration_hours:
                  type: number
                  description: "Body param:"
                interrupt_window_hour_of_day:
                  type: number
                  description: "Body param:"
                notes:
                  type: string
                  description: "Body param:"
                timezone:
                  type: string
                  description: "Body param:"
              required:
                - device
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  activated:
                    type: boolean
                  interrupt_window_duration_hours:
                    type: number
                  interrupt_window_hour_of_day:
                    type: number
                  last_updated:
                    type: string
                  notes:
                    type: string
                  timezone:
                    type: string
                  device:
                    type: object
                    properties:
                      id:
                        type: string
                      serial_number:
                        type: string
                    required:
                      - id
                  last_heartbeat:
                    type: string
                  last_seen_version:
                    type: string
                  license_key:
                    type: string
                required:
                  - id
                  - activated
                  - interrupt_window_duration_hours
                  - interrupt_window_hour_of_day
                  - last_updated
                  - notes
                  - timezone
      x-distilled-response-path: result
  /accounts/{account_id}/magic/connectors/{connectorId}/telemetry/events/{eventT}.{eventN}:
    get:
      operationId: getConnectorEvent
      description: "Get Event  @example ```ts const event = await
        client.magicTransit.connectors.events.get( 'connector_id', 0, 0, {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
        - name: eventT
          in: path
          required: true
          schema:
            type: number
        - name: eventN
          in: path
          required: true
          schema:
            type: number
        - name: account_id
          in: path
          required: true
          description: Account identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  e:
                    oneOf:
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - Init
                            description: Initialized process
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - Leave
                            description: Stopped process
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - StartAttestation
                            description: Started attestation
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - FinishAttestationSuccess
                            description: Finished attestation
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - FinishAttestationFailure
                            description: Failed attestation
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - StartRotateCryptKey
                            description: Started crypt key rotation
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - FinishRotateCryptKeySuccess
                            description: Finished crypt key rotation
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - FinishRotateCryptKeyFailure
                            description: Failed crypt key rotation
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - StartRotatePki
                            description: Started PKI rotation
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - FinishRotatePkiSuccess
                            description: Finished PKI rotation
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - FinishRotatePkiFailure
                            description: Failed PKI rotation
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - StartUpgrade
                            description: Started upgrade
                          url:
                            type: string
                            description: Location of upgrade bundle
                        required:
                          - k
                          - url
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - FinishUpgradeSuccess
                            description: Finished upgrade
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - FinishUpgradeFailure
                            description: Failed upgrade
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - Reconcile
                            description: Reconciled
                        required:
                          - k
                      - type: object
                        properties:
                          k:
                            type: string
                            enum:
                              - ConfigureCloudflaredTunnel
                            description: Configured Cloudflared tunnel
                        required:
                          - k
                  n:
                    type: number
                    description: Sequence number, used to order events with the same timestamp
                  t:
                    type: number
                    description: Time the Event was recorded (seconds since the Unix epoch)
                required:
                  - e
                  - n
                  - t
      x-distilled-response-path: result
  /accounts/{account_id}/magic/connectors/{connectorId}/telemetry/events:
    get:
      operationId: listConnectorEvents
      description: "List Events  @example ```ts const events = await
        client.magicTransit.connectors.events.list( 'connector_id', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', from: 0, to: 0, }, );
        ```"
      parameters:
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account identifier"
          schema:
            type: string
        - name: from
          in: query
          required: true
          description: "Query param:"
          schema:
            type: number
        - name: to
          in: query
          required: true
          description: "Query param:"
          schema:
            type: number
        - name: cursor
          in: query
          required: false
          description: "Query param:"
          schema:
            type: string
        - name: k
          in: query
          required: false
          description: "Query param: Filter by event kind"
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: "Query param:"
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        a:
                          type: number
                          description: Time the Event was collected (seconds since the Unix epoch)
                        k:
                          type: string
                          description: Kind
                        n:
                          type: number
                          description: Sequence number, used to order events with the same timestamp
                        t:
                          type: number
                          description: Time the Event was recorded (seconds since the Unix epoch)
                      required:
                        - a
                        - k
                        - n
                        - t
                  cursor:
                    type: string
                required:
                  - count
                  - items
      x-distilled-response-path: result
  /accounts/{account_id}/magic/connectors/{connectorId}/telemetry/events/latest:
    get:
      operationId: listConnectorEventLatests
      description: "Get latest Events  @example ```ts const latests = await
        client.magicTransit.connectors.events.latest.list( 'connector_id', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        e:
                          oneOf:
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - Init
                                  description: Initialized process
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - Leave
                                  description: Stopped process
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - StartAttestation
                                  description: Started attestation
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - FinishAttestationSuccess
                                  description: Finished attestation
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - FinishAttestationFailure
                                  description: Failed attestation
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - StartRotateCryptKey
                                  description: Started crypt key rotation
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - FinishRotateCryptKeySuccess
                                  description: Finished crypt key rotation
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - FinishRotateCryptKeyFailure
                                  description: Failed crypt key rotation
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - StartRotatePki
                                  description: Started PKI rotation
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - FinishRotatePkiSuccess
                                  description: Finished PKI rotation
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - FinishRotatePkiFailure
                                  description: Failed PKI rotation
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - StartUpgrade
                                  description: Started upgrade
                                url:
                                  type: string
                                  description: Location of upgrade bundle
                              required:
                                - k
                                - url
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - FinishUpgradeSuccess
                                  description: Finished upgrade
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - FinishUpgradeFailure
                                  description: Failed upgrade
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - Reconcile
                                  description: Reconciled
                              required:
                                - k
                            - type: object
                              properties:
                                k:
                                  type: string
                                  enum:
                                    - ConfigureCloudflaredTunnel
                                  description: Configured Cloudflared tunnel
                              required:
                                - k
                        n:
                          type: number
                          description: Sequence number, used to order events with the same timestamp
                        t:
                          type: number
                          description: Time the Event was recorded (seconds since the Unix epoch)
                      required:
                        - e
                        - n
                        - t
                required:
                  - count
                  - items
      x-distilled-response-path: result
  /accounts/{account_id}/magic/connectors/{connectorId}/telemetry/snapshots/{snapshotT}:
    get:
      operationId: getConnectorSnapshot
      description: "Get Snapshot  @example ```ts const snapshot = await
        client.magicTransit.connectors.snapshots.get( 'connector_id', 0, {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: connectorId
          in: path
          required: true
          schema:
            type: string
        - name: snapshotT
          in: path
          required: true
          schema:
            type: number
        - name: account_id
          in: path
          required: true
          description: Account identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  count_reclaim_failures:
                    type: number
                    description: Count of failures to reclaim space
                  count_reclaimed_paths:
                    type: number
                    description: Count of reclaimed paths
                  count_record_failed:
                    type: number
                    description: Count of failed snapshot recordings
                  count_transmit_failures:
                    type: number
                    description: Count of failed snapshot transmissions
                  t:
                    type: number
                    description: Time the Snapshot was recorded (seconds since the Unix epoch)
                  v:
                    type: string
                    description: Version
                  bonds:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the network interface
                        status:
                          type: string
                          description: Current status of the network interface
                      required:
                        - name
                        - status
                  cpu_count:
                    type: number
                    description: Count of processors/cores
                  cpu_pressure_10s:
                    type: number
                    description: Percentage of time over a 10 second window that tasks were stalled
                  cpu_pressure_300s:
                    type: number
                    description: Percentage of time over a 5 minute window that tasks were stalled
                  cpu_pressure_60s:
                    type: number
                    description: Percentage of time over a 1 minute window that tasks were stalled
                  cpu_pressure_total_us:
                    type: number
                    description: Total stall time (microseconds)
                  cpu_time_guest_ms:
                    type: number
                    description: Time spent running a virtual CPU or guest OS (milliseconds)
                  cpu_time_guest_nice_ms:
                    type: number
                    description: Time spent running a niced guest (milliseconds)
                  cpu_time_idle_ms:
                    type: number
                    description: Time spent in idle state (milliseconds)
                  cpu_time_iowait_ms:
                    type: number
                    description: Time spent wait for I/O to complete (milliseconds)
                  cpu_time_irq_ms:
                    type: number
                    description: Time spent servicing interrupts (milliseconds)
                  cpu_time_nice_ms:
                    type: number
                    description: Time spent in low-priority user mode (milliseconds)
                  cpu_time_softirq_ms:
                    type: number
                    description: Time spent servicing softirqs (milliseconds)
                  cpu_time_steal_ms:
                    type: number
                    description: Time stolen (milliseconds)
                  cpu_time_system_ms:
                    type: number
                    description: Time spent in system mode (milliseconds)
                  cpu_time_user_ms:
                    type: number
                    description: Time spent in user mode (milliseconds)
                  dhcp_leases:
                    type: array
                    items:
                      type: object
                      properties:
                        client_id:
                          type: string
                          description: Client ID of the device the IP Address was leased to
                        expiry_time:
                          type: number
                          description: Expiry time of the DHCP lease (seconds since the Unix epoch)
                        hostname:
                          type: string
                          description: Hostname of the device the IP Address was leased to
                        interface_name:
                          type: string
                          description: Name of the network interface
                        ip_address:
                          type: string
                          description: IP Address that was leased
                        mac_address:
                          type: string
                          description: MAC Address of the device the IP Address was leased to
                        connector_id:
                          type: string
                          description: Connector identifier
                      required:
                        - client_id
                        - expiry_time
                        - hostname
                        - interface_name
                        - ip_address
                        - mac_address
                  disks:
                    type: array
                    items:
                      type: object
                      properties:
                        in_progress:
                          type: number
                          description: I/Os currently in progress
                        major:
                          type: number
                          description: Device major number
                        merged:
                          type: number
                          description: Reads merged
                        minor:
                          type: number
                          description: Device minor number
                        name:
                          type: string
                          description: Device name
                        reads:
                          type: number
                          description: Reads completed successfully
                        sectors_read:
                          type: number
                          description: Sectors read successfully
                        sectors_written:
                          type: number
                          description: Sectors written successfully
                        time_in_progress_ms:
                          type: number
                          description: Time spent doing I/Os (milliseconds)
                        time_reading_ms:
                          type: number
                          description: Time spent reading (milliseconds)
                        time_writing_ms:
                          type: number
                          description: Time spent writing (milliseconds)
                        weighted_time_in_progress_ms:
                          type: number
                          description: Weighted time spent doing I/Os (milliseconds)
                        writes:
                          type: number
                          description: Writes completed
                        writes_merged:
                          type: number
                          description: Writes merged
                        connector_id:
                          type: string
                          description: Connector identifier
                        discards:
                          type: number
                          description: Discards completed successfully
                        discards_merged:
                          type: number
                          description: Discards merged
                        flushes:
                          type: number
                          description: Flushes completed successfully
                        sectors_discarded:
                          type: number
                          description: Sectors discarded
                        time_discarding_ms:
                          type: number
                          description: Time spent discarding (milliseconds)
                        time_flushing_ms:
                          type: number
                          description: Time spent flushing (milliseconds)
                      required:
                        - in_progress
                        - major
                        - merged
                        - minor
                        - name
                        - reads
                        - sectors_read
                        - sectors_written
                        - time_in_progress_ms
                        - time_reading_ms
                        - time_writing_ms
                        - weighted_time_in_progress_ms
                        - writes
                        - writes_merged
                  ha_state:
                    type: string
                    description: Name of high availability state
                  ha_value:
                    type: number
                    description: Numeric value associated with high availability state (0 =
                      disabled, 1 = active, 2 = standby, 3 = stopped, 4 = fault)
                  interfaces:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Name of the network interface
                        operstate:
                          type: string
                          description: UP/DOWN state of the network interface
                        connector_id:
                          type: string
                          description: Connector identifier
                        ip_addresses:
                          type: array
                          items:
                            type: object
                            properties:
                              interface_name:
                                type: string
                                description: Name of the network interface
                              ip_address:
                                type: string
                                description: IP address of the network interface
                              connector_id:
                                type: string
                                description: Connector identifier
                            required:
                              - interface_name
                              - ip_address
                        speed:
                          type: number
                          description: Speed of the network interface (bits per second)
                      required:
                        - name
                        - operstate
                  io_pressure_full_10s:
                    type: number
                    description: Percentage of time over a 10 second window that all tasks were
                      stalled
                  io_pressure_full_300s:
                    type: number
                    description: Percentage of time over a 5 minute window that all tasks were
                      stalled
                  io_pressure_full_60s:
                    type: number
                    description: Percentage of time over a 1 minute window that all tasks were
                      stalled
                  io_pressure_full_total_us:
                    type: number
                    description: Total stall time (microseconds)
                  io_pressure_some_10s:
                    type: number
                    description: Percentage of time over a 10 second window that some tasks were
                      stalled
                  io_pressure_some_300s:
                    type: number
                    description: Percentage of time over a 3 minute window that some tasks were
                      stalled
                  io_pressure_some_60s:
                    type: number
                    description: Percentage of time over a 1 minute window that some tasks were
                      stalled
                  io_pressure_some_total_us:
                    type: number
                    description: Total stall time (microseconds)
                  kernel_btime:
                    type: number
                    description: Boot time (seconds since Unix epoch)
                  kernel_ctxt:
                    type: number
                    description: Number of context switches that the system underwent
                  kernel_processes:
                    type: number
                    description: Number of forks since boot
                  kernel_processes_blocked:
                    type: number
                    description: Number of processes blocked waiting for I/O
                  kernel_processes_running:
                    type: number
                    description: Number of processes in runnable state
                  load_average_15m:
                    type: number
                    description: The fifteen-minute load average
                  load_average_1m:
                    type: number
                    description: The one-minute load average
                  load_average_5m:
                    type: number
                    description: The five-minute load average
                  load_average_cur:
                    type: number
                    description: Number of currently runnable kernel scheduling entities
                  load_average_max:
                    type: number
                    description: Number of kernel scheduling entities that currently exist on the
                      system
                  memory_active_bytes:
                    type: number
                    description: Memory that has been used more recently
                  memory_anon_hugepages_bytes:
                    type: number
                    description: Non-file backed huge pages mapped into user-space page tables
                  memory_anon_pages_bytes:
                    type: number
                    description: Non-file backed pages mapped into user-space page tables
                  memory_available_bytes:
                    type: number
                    description: Estimate of how much memory is available for starting new
                      applications
                  memory_bounce_bytes:
                    type: number
                    description: Memory used for block device bounce buffers
                  memory_buffers_bytes:
                    type: number
                    description: Relatively temporary storage for raw disk blocks
                  memory_cached_bytes:
                    type: number
                    description: In-memory cache for files read from the disk
                  memory_cma_free_bytes:
                    type: number
                    description: Free CMA (Contiguous Memory Allocator) pages
                  memory_cma_total_bytes:
                    type: number
                    description: Total CMA (Contiguous Memory Allocator) pages
                  memory_commit_limit_bytes:
                    type: number
                    description: Total amount of memory currently available to be allocated on the
                      system
                  memory_committed_as_bytes:
                    type: number
                    description: Amount of memory presently allocated on the system
                  memory_dirty_bytes:
                    type: number
                    description: Memory which is waiting to get written back to the disk
                  memory_free_bytes:
                    type: number
                    description: The sum of LowFree and HighFree
                  memory_high_free_bytes:
                    type: number
                    description: Amount of free highmem
                  memory_high_total_bytes:
                    type: number
                    description: Total amount of highmem
                  memory_hugepages_free:
                    type: number
                    description: The number of huge pages in the pool that are not yet allocated
                  memory_hugepages_rsvd:
                    type: number
                    description: Number of huge pages for which a commitment has been made, but no
                      allocation has yet been made
                  memory_hugepages_surp:
                    type: number
                    description: Number of huge pages in the pool above the threshold
                  memory_hugepages_total:
                    type: number
                    description: The size of the pool of huge pages
                  memory_hugepagesize_bytes:
                    type: number
                    description: The size of huge pages
                  memory_inactive_bytes:
                    type: number
                    description: Memory which has been less recently used
                  memory_k_reclaimable_bytes:
                    type: number
                    description: Kernel allocations that the kernel will attempt to reclaim under
                      memory pressure
                  memory_kernel_stack_bytes:
                    type: number
                    description: Amount of memory allocated to kernel stacks
                  memory_low_free_bytes:
                    type: number
                    description: Amount of free lowmem
                  memory_low_total_bytes:
                    type: number
                    description: Total amount of lowmem
                  memory_mapped_bytes:
                    type: number
                    description: Files which have been mapped into memory
                  memory_page_tables_bytes:
                    type: number
                    description: Amount of memory dedicated to the lowest level of page tables
                  memory_per_cpu_bytes:
                    type: number
                    description: Memory allocated to the per-cpu alloctor used to back per-cpu
                      allocations
                  memory_pressure_full_10s:
                    type: number
                    description: Percentage of time over a 10 second window that all tasks were
                      stalled
                  memory_pressure_full_300s:
                    type: number
                    description: Percentage of time over a 5 minute window that all tasks were
                      stalled
                  memory_pressure_full_60s:
                    type: number
                    description: Percentage of time over a 1 minute window that all tasks were
                      stalled
                  memory_pressure_full_total_us:
                    type: number
                    description: Total stall time (microseconds)
                  memory_pressure_some_10s:
                    type: number
                    description: Percentage of time over a 10 second window that some tasks were
                      stalled
                  memory_pressure_some_300s:
                    type: number
                    description: Percentage of time over a 5 minute window that some tasks were
                      stalled
                  memory_pressure_some_60s:
                    type: number
                    description: Percentage of time over a 1 minute window that some tasks were
                      stalled
                  memory_pressure_some_total_us:
                    type: number
                    description: Total stall time (microseconds)
                  memory_s_reclaimable_bytes:
                    type: number
                    description: Part of slab that can be reclaimed on memory pressure
                  memory_s_unreclaim_bytes:
                    type: number
                    description: Part of slab that cannot be reclaimed on memory pressure
                  memory_secondary_page_tables_bytes:
[...]
