openapi: 3.1.0
info:
  title: Cloudflare MAGIC-CLOUD-NETWORKING API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: magic-cloud-networking
paths:
  /accounts/{account_id}/magic/cloud/providers/discover:
    post:
      operationId: discoverAllCloudIntegration
      description: Run discovery for all Cloud Integrations in an account (Closed Beta).
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                          enum:
                            - 1001
                            - 1002
                            - 1003
                            - 1004
                            - 1005
                            - 1006
                            - 1007
                            - 1008
                            - 1009
                            - 1010
                            - 1011
                            - 1012
                            - 1013
                            - 1014
                            - 1015
                            - 1016
                            - 1017
                            - 1018
                            - 2001
                            - 2002
                            - 2003
                            - 2004
                            - 2005
                            - 2006
                            - 2007
                            - 2008
                            - 2009
                            - 2010
                            - 2011
                            - 2012
                            - 2013
                            - 2014
                            - 2015
                            - 2016
                            - 2017
                            - 2018
                            - 2019
                            - 2020
                            - 2021
                            - 2022
                            - 3001
                            - 3002
                            - 3003
                            - 3004
                            - 3005
                            - 3006
                            - 3007
                            - 4001
                            - 4002
                            - 4003
                            - 4004
                            - 4005
                            - 4006
                            - 4007
                            - 4008
                            - 4009
                            - 4010
                            - 4011
                            - 4012
                            - 4013
                            - 4014
                            - 4015
                            - 4016
                            - 4017
                            - 4018
                            - 4019
                            - 4020
                            - 4021
                            - 4022
                            - 4023
                            - 5001
                            - 5002
                            - 5003
                            - 5004
                            - 102000
                            - 102001
                            - 102002
                            - 102003
                            - 102004
                            - 102005
                            - 102006
                            - 102007
                            - 102008
                            - 102009
                            - 102010
                            - 102011
                            - 102012
                            - 102013
                            - 102014
                            - 102015
                            - 102016
                            - 102017
                            - 102018
                            - 102019
                            - 102020
                            - 102021
                            - 102022
                            - 102023
                            - 102024
                            - 102025
                            - 102026
                            - 102027
                            - 102028
                            - 102029
                            - 102030
                            - 102031
                            - 102032
                            - 102033
                            - 102034
                            - 102035
                            - 102036
                            - 102037
                            - 102038
                            - 102039
                            - 102040
                            - 102041
                            - 102042
                            - 102043
                            - 102044
                            - 102045
                            - 102046
                            - 102047
                            - 102048
                            - 102049
                            - 102050
                            - 102051
                            - 102052
                            - 102053
                            - 102054
                            - 102055
                            - 102056
                            - 102057
                            - 102058
                            - 102059
                            - 102060
                            - 102061
                            - 102062
                            - 102063
                            - 102064
                            - 102065
                            - 102066
                            - 102067
                            - 102068
                            - 102069
                            - 102070
                            - 102071
                            - 102072
                            - 103001
                            - 103002
                            - 103003
                            - 103004
                            - 103005
                            - 103006
                            - 103007
                            - 103008
                        message:
                          type: string
                        documentation_url:
                          type: string
                        meta:
                          type: object
                          properties:
                            l10n_key:
                              type: string
                            loggable_error:
                              type: string
                            template_data: {}
                            trace_id:
                              type: string
                        source:
                          type: object
                          properties:
                            parameter:
                              type: string
                            parameter_value_index:
                              type: number
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                          enum:
                            - 1001
                            - 1002
                            - 1003
                            - 1004
                            - 1005
                            - 1006
                            - 1007
                            - 1008
                            - 1009
                            - 1010
                            - 1011
                            - 1012
                            - 1013
                            - 1014
                            - 1015
                            - 1016
                            - 1017
                            - 1018
                            - 2001
                            - 2002
                            - 2003
                            - 2004
                            - 2005
                            - 2006
                            - 2007
                            - 2008
                            - 2009
                            - 2010
                            - 2011
                            - 2012
                            - 2013
                            - 2014
                            - 2015
                            - 2016
                            - 2017
                            - 2018
                            - 2019
                            - 2020
                            - 2021
                            - 2022
                            - 3001
                            - 3002
                            - 3003
                            - 3004
                            - 3005
                            - 3006
                            - 3007
                            - 4001
                            - 4002
                            - 4003
                            - 4004
                            - 4005
                            - 4006
                            - 4007
                            - 4008
                            - 4009
                            - 4010
                            - 4011
                            - 4012
                            - 4013
                            - 4014
                            - 4015
                            - 4016
                            - 4017
                            - 4018
                            - 4019
                            - 4020
                            - 4021
                            - 4022
                            - 4023
                            - 5001
                            - 5002
                            - 5003
                            - 5004
                            - 102000
                            - 102001
                            - 102002
                            - 102003
                            - 102004
                            - 102005
                            - 102006
                            - 102007
                            - 102008
                            - 102009
                            - 102010
                            - 102011
                            - 102012
                            - 102013
                            - 102014
                            - 102015
                            - 102016
                            - 102017
                            - 102018
                            - 102019
                            - 102020
                            - 102021
                            - 102022
                            - 102023
                            - 102024
                            - 102025
                            - 102026
                            - 102027
                            - 102028
                            - 102029
                            - 102030
                            - 102031
                            - 102032
                            - 102033
                            - 102034
                            - 102035
                            - 102036
                            - 102037
                            - 102038
                            - 102039
                            - 102040
                            - 102041
                            - 102042
                            - 102043
                            - 102044
                            - 102045
                            - 102046
                            - 102047
                            - 102048
                            - 102049
                            - 102050
                            - 102051
                            - 102052
                            - 102053
                            - 102054
                            - 102055
                            - 102056
                            - 102057
                            - 102058
                            - 102059
                            - 102060
                            - 102061
                            - 102062
                            - 102063
                            - 102064
                            - 102065
                            - 102066
                            - 102067
                            - 102068
                            - 102069
                            - 102070
                            - 102071
                            - 102072
                            - 103001
                            - 103002
                            - 103003
                            - 103004
                            - 103005
                            - 103006
                            - 103007
                            - 103008
                        message:
                          type: string
                        documentation_url:
                          type: string
                        meta:
                          type: object
                          properties:
                            l10n_key:
                              type: string
                            loggable_error:
                              type: string
                            template_data: {}
                            trace_id:
                              type: string
                        source:
                          type: object
                          properties:
                            parameter:
                              type: string
                            parameter_value_index:
                              type: number
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                required:
                  - errors
                  - messages
                  - success
  /accounts/{account_id}/magic/cloud/catalog-syncs/{syncId}:
    get:
      operationId: getCatalogSync
      description: Read a Catalog Sync (Closed Beta).
      parameters:
        - name: syncId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  description:
                    type: string
                  destination_id:
                    type: string
                  destination_type:
                    type: string
                    enum:
                      - NONE
                      - ZERO_TRUST_LIST
                  last_user_update_at:
                    type: string
                  name:
                    type: string
                  policy:
                    type: string
                  update_mode:
                    type: string
                    enum:
                      - AUTO
                      - MANUAL
                  errors:
                    type: object
                    additionalProperties: true
                  includes_discoveries_until:
                    type: string
                  last_attempted_update_at:
                    type: string
                  last_successful_update_at:
                    type: string
                required:
                  - id
                  - description
                  - destination_id
                  - destination_type
                  - last_user_update_at
                  - name
                  - policy
                  - update_mode
      x-distilled-response-path: result
    put:
      operationId: updateCatalogSync
      description: Update a Catalog Sync (Closed Beta).
      parameters:
        - name: syncId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: "Body param:"
                name:
                  type: string
                  description: "Body param:"
                policy:
                  type: string
                  description: "Body param:"
                update_mode:
                  type: string
                  enum:
                    - AUTO
                    - MANUAL
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  description:
                    type: string
                  destination_id:
                    type: string
                  destination_type:
                    type: string
                    enum:
                      - NONE
                      - ZERO_TRUST_LIST
                  last_user_update_at:
                    type: string
                  name:
                    type: string
                  policy:
                    type: string
                  update_mode:
                    type: string
                    enum:
                      - AUTO
                      - MANUAL
                  errors:
                    type: object
                    additionalProperties: true
                  includes_discoveries_until:
                    type: string
                  last_attempted_update_at:
                    type: string
                  last_successful_update_at:
                    type: string
                required:
                  - id
                  - description
                  - destination_id
                  - destination_type
                  - last_user_update_at
                  - name
                  - policy
                  - update_mode
      x-distilled-response-path: result
    patch:
      operationId: patchCatalogSync
      description: Update a Catalog Sync (Closed Beta).
      parameters:
        - name: syncId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: "Body param:"
                name:
                  type: string
                  description: "Body param:"
                policy:
                  type: string
                  description: "Body param:"
                update_mode:
                  type: string
                  enum:
                    - AUTO
                    - MANUAL
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  description:
                    type: string
                  destination_id:
                    type: string
                  destination_type:
                    type: string
                    enum:
                      - NONE
                      - ZERO_TRUST_LIST
                  last_user_update_at:
                    type: string
                  name:
                    type: string
                  policy:
                    type: string
                  update_mode:
                    type: string
                    enum:
                      - AUTO
                      - MANUAL
                  errors:
                    type: object
                    additionalProperties: true
                  includes_discoveries_until:
                    type: string
                  last_attempted_update_at:
                    type: string
                  last_successful_update_at:
                    type: string
                required:
                  - id
                  - description
                  - destination_id
                  - destination_type
                  - last_user_update_at
                  - name
                  - policy
                  - update_mode
      x-distilled-response-path: result
    delete:
      operationId: deleteCatalogSync
      description: Delete a Catalog Sync (Closed Beta).
      parameters:
        - name: syncId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: delete_destination
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                  - id
      x-distilled-response-path: result
  /accounts/{account_id}/magic/cloud/catalog-syncs:
    get:
      operationId: listCatalogSyncs
      description: List Catalog Syncs (Closed Beta).
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  description:
                    type: string
                  destination_id:
                    type: string
                  destination_type:
                    type: string
                    enum:
                      - NONE
                      - ZERO_TRUST_LIST
                  last_user_update_at:
                    type: string
                  name:
                    type: string
                  policy:
                    type: string
                  update_mode:
                    type: string
                    enum:
                      - AUTO
                      - MANUAL
                  errors:
                    type: object
                    additionalProperties: true
                  includes_discoveries_until:
                    type: string
                  last_attempted_update_at:
                    type: string
                  last_successful_update_at:
                    type: string
                required:
                  - id
                  - description
                  - destination_id
                  - destination_type
                  - last_user_update_at
                  - name
                  - policy
                  - update_mode
      x-distilled-pagination-class: CatalogSyncListResponsesSinglePage
    post:
      operationId: createCatalogSync
      description: Create a new Catalog Sync (Closed Beta).
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: forwarded
          in: header
          required: false
          description: "Header param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                destination_type:
                  type: string
                  enum:
                    - NONE
                    - ZERO_TRUST_LIST
                  description: "Body param:"
                name:
                  type: string
                  description: "Body param:"
                update_mode:
                  type: string
                  enum:
                    - AUTO
                    - MANUAL
                  description: "Body param:"
                description:
                  type: string
                  description: "Body param:"
                policy:
                  type: string
                  description: "Body param:"
              required:
                - destination_type
                - name
                - update_mode
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  description:
                    type: string
                  destination_id:
                    type: string
                  destination_type:
                    type: string
                    enum:
                      - NONE
                      - ZERO_TRUST_LIST
                  last_user_update_at:
                    type: string
                  name:
                    type: string
                  policy:
                    type: string
                  update_mode:
                    type: string
                    enum:
                      - AUTO
                      - MANUAL
                  errors:
                    type: object
                    additionalProperties: true
                  includes_discoveries_until:
                    type: string
                  last_attempted_update_at:
                    type: string
                  last_successful_update_at:
                    type: string
                required:
                  - id
                  - description
                  - destination_id
                  - destination_type
                  - last_user_update_at
                  - name
                  - policy
                  - update_mode
      x-distilled-response-path: result
  /accounts/{account_id}/magic/cloud/catalog-syncs/{syncId}/refresh:
    post:
      operationId: refreshCatalogSync
      description: Refresh a Catalog Sync's destination by running the sync policy
        against latest resource catalog (Closed Beta).
      parameters:
        - name: syncId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-response-path: result
  /accounts/{account_id}/magic/cloud/catalog-syncs/prebuilt-policies:
    get:
      operationId: listCatalogSyncPrebuiltPolicies
      description: List prebuilt catalog sync policies (Closed Beta).
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: destination_type
          in: query
          required: false
          description: "Query param: Specify type of destination, omit to return all."
          schema:
            type: string
            enum:
              - NONE
              - ZERO_TRUST_LIST
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  applicable_destinations:
                    type: array
                    items:
                      type: string
                      enum:
                        - NONE
                        - ZERO_TRUST_LIST
                  policy_description:
                    type: string
                  policy_name:
                    type: string
                  policy_string:
                    type: string
                required:
                  - applicable_destinations
                  - policy_description
                  - policy_name
                  - policy_string
      x-distilled-pagination-class: PrebuiltPolicyListResponsesSinglePage
  /accounts/{account_id}/magic/cloud/providers/{providerId}:
    get:
      operationId: getCloudIntegration
      description: Read a Cloud Integration (Closed Beta).
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  cloud_type:
                    type: string
                    enum:
                      - AWS
                      - AZURE
                      - GOOGLE
                      - CLOUDFLARE
                  friendly_name:
                    type: string
                  last_updated:
                    type: string
                  lifecycle_state:
                    type: string
                    enum:
                      - ACTIVE
                      - PENDING_SETUP
                      - RETIRED
                  state:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  state_v2:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  aws_arn:
                    type: string
                  azure_subscription_id:
                    type: string
                  azure_tenant_id:
                    type: string
                  description:
                    type: string
                  gcp_project_id:
                    type: string
                  gcp_service_account_email:
                    type: string
                  status:
                    type: object
                    properties:
                      discovery_progress:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      discovery_progress_v2:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      last_discovery_status:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      last_discovery_status_v2:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      regions:
                        type: array
                        items:
                          type: string
                      credentials_good_since:
                        type: string
                      credentials_missing_since:
                        type: string
                      credentials_rejected_since:
                        type: string
                      discovery_message:
                        type: string
                      discovery_message_v2:
                        type: string
                      in_use_by:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            client_type:
                              type: string
                              enum:
                                - MAGIC_WAN_CLOUD_ONRAMP
                            name:
                              type: string
                          required:
                            - id
                            - client_type
                            - name
                      last_discovery_completed_at:
                        type: string
                      last_discovery_completed_at_v2:
                        type: string
                      last_discovery_started_at:
                        type: string
                      last_discovery_started_at_v2:
                        type: string
                      last_updated:
                        type: string
                    required:
                      - discovery_progress
                      - discovery_progress_v2
                      - last_discovery_status
                      - last_discovery_status_v2
                      - regions
                required:
                  - id
                  - cloud_type
                  - friendly_name
                  - last_updated
                  - lifecycle_state
                  - state
                  - state_v2
      x-distilled-response-path: result
    put:
      operationId: updateCloudIntegration
      description: Update a Cloud Integration (Closed Beta).
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                aws_arn:
                  type: string
                  description: "Body param:"
                azure_subscription_id:
                  type: string
                  description: "Body param:"
                azure_tenant_id:
                  type: string
                  description: "Body param:"
                description:
                  type: string
                  description: "Body param:"
                friendly_name:
                  type: string
                  description: "Body param:"
                gcp_project_id:
                  type: string
                  description: "Body param:"
                gcp_service_account_email:
                  type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  cloud_type:
                    type: string
                    enum:
                      - AWS
                      - AZURE
                      - GOOGLE
                      - CLOUDFLARE
                  friendly_name:
                    type: string
                  last_updated:
                    type: string
                  lifecycle_state:
                    type: string
                    enum:
                      - ACTIVE
                      - PENDING_SETUP
                      - RETIRED
                  state:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  state_v2:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  aws_arn:
                    type: string
                  azure_subscription_id:
                    type: string
                  azure_tenant_id:
                    type: string
                  description:
                    type: string
                  gcp_project_id:
                    type: string
                  gcp_service_account_email:
                    type: string
                  status:
                    type: object
                    properties:
                      discovery_progress:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      discovery_progress_v2:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      last_discovery_status:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      last_discovery_status_v2:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      regions:
                        type: array
                        items:
                          type: string
                      credentials_good_since:
                        type: string
                      credentials_missing_since:
                        type: string
                      credentials_rejected_since:
                        type: string
                      discovery_message:
                        type: string
                      discovery_message_v2:
                        type: string
                      in_use_by:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            client_type:
                              type: string
                              enum:
                                - MAGIC_WAN_CLOUD_ONRAMP
                            name:
                              type: string
                          required:
                            - id
                            - client_type
                            - name
                      last_discovery_completed_at:
                        type: string
                      last_discovery_completed_at_v2:
                        type: string
                      last_discovery_started_at:
                        type: string
                      last_discovery_started_at_v2:
                        type: string
                      last_updated:
                        type: string
                    required:
                      - discovery_progress
                      - discovery_progress_v2
                      - last_discovery_status
                      - last_discovery_status_v2
                      - regions
                required:
                  - id
                  - cloud_type
                  - friendly_name
                  - last_updated
                  - lifecycle_state
                  - state
                  - state_v2
      x-distilled-response-path: result
    patch:
      operationId: patchCloudIntegration
      description: Update a Cloud Integration (Closed Beta).
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                aws_arn:
                  type: string
                  description: "Body param:"
                azure_subscription_id:
                  type: string
                  description: "Body param:"
                azure_tenant_id:
                  type: string
                  description: "Body param:"
                description:
                  type: string
                  description: "Body param:"
                friendly_name:
                  type: string
                  description: "Body param:"
                gcp_project_id:
                  type: string
                  description: "Body param:"
                gcp_service_account_email:
                  type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  cloud_type:
                    type: string
                    enum:
                      - AWS
                      - AZURE
                      - GOOGLE
                      - CLOUDFLARE
                  friendly_name:
                    type: string
                  last_updated:
                    type: string
                  lifecycle_state:
                    type: string
                    enum:
                      - ACTIVE
                      - PENDING_SETUP
                      - RETIRED
                  state:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  state_v2:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  aws_arn:
                    type: string
                  azure_subscription_id:
                    type: string
                  azure_tenant_id:
                    type: string
                  description:
                    type: string
                  gcp_project_id:
                    type: string
                  gcp_service_account_email:
                    type: string
                  status:
                    type: object
                    properties:
                      discovery_progress:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      discovery_progress_v2:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      last_discovery_status:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      last_discovery_status_v2:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      regions:
                        type: array
                        items:
                          type: string
                      credentials_good_since:
                        type: string
                      credentials_missing_since:
                        type: string
                      credentials_rejected_since:
                        type: string
                      discovery_message:
                        type: string
                      discovery_message_v2:
                        type: string
                      in_use_by:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            client_type:
                              type: string
                              enum:
                                - MAGIC_WAN_CLOUD_ONRAMP
                            name:
                              type: string
                          required:
                            - id
                            - client_type
                            - name
                      last_discovery_completed_at:
                        type: string
                      last_discovery_completed_at_v2:
                        type: string
                      last_discovery_started_at:
                        type: string
                      last_discovery_started_at_v2:
                        type: string
                      last_updated:
                        type: string
                    required:
                      - discovery_progress
                      - discovery_progress_v2
                      - last_discovery_status
                      - last_discovery_status_v2
                      - regions
                required:
                  - id
                  - cloud_type
                  - friendly_name
                  - last_updated
                  - lifecycle_state
                  - state
                  - state_v2
      x-distilled-response-path: result
    delete:
      operationId: deleteCloudIntegration
      description: Delete a Cloud Integration (Closed Beta).
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                  - id
      x-distilled-response-path: result
  /accounts/{account_id}/magic/cloud/providers:
    get:
      operationId: listCloudIntegrations
      description: List Cloud Integrations (Closed Beta).
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: cloudflare
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
        - name: desc
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
        - name: order_by
          in: query
          required: false
          description: 'Query param: One of ["updated_at", "id", "cloud_type", "name"].'
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  cloud_type:
                    type: string
                    enum:
                      - AWS
                      - AZURE
                      - GOOGLE
                      - CLOUDFLARE
                  friendly_name:
                    type: string
                  last_updated:
                    type: string
                  lifecycle_state:
                    type: string
                    enum:
                      - ACTIVE
                      - PENDING_SETUP
                      - RETIRED
                  state:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  state_v2:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  aws_arn:
                    type: string
                  azure_subscription_id:
                    type: string
                  azure_tenant_id:
                    type: string
                  description:
                    type: string
                  gcp_project_id:
                    type: string
                  gcp_service_account_email:
                    type: string
                  status:
                    type: object
                    properties:
                      discovery_progress:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      discovery_progress_v2:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      last_discovery_status:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      last_discovery_status_v2:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      regions:
                        type: array
                        items:
                          type: string
                      credentials_good_since:
                        type: string
                      credentials_missing_since:
                        type: string
                      credentials_rejected_since:
                        type: string
                      discovery_message:
                        type: string
                      discovery_message_v2:
                        type: string
                      in_use_by:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            client_type:
                              type: string
                              enum:
                                - MAGIC_WAN_CLOUD_ONRAMP
                            name:
                              type: string
                          required:
                            - id
                            - client_type
                            - name
                      last_discovery_completed_at:
                        type: string
                      last_discovery_completed_at_v2:
                        type: string
                      last_discovery_started_at:
                        type: string
                      last_discovery_started_at_v2:
                        type: string
                      last_updated:
                        type: string
                    required:
                      - discovery_progress
                      - discovery_progress_v2
                      - last_discovery_status
                      - last_discovery_status_v2
                      - regions
                required:
                  - id
                  - cloud_type
                  - friendly_name
                  - last_updated
                  - lifecycle_state
                  - state
                  - state_v2
      x-distilled-pagination-class: CloudIntegrationListResponsesSinglePage
    post:
      operationId: createCloudIntegration
      description: Create a new Cloud Integration (Closed Beta).
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: forwarded
          in: header
          required: false
          description: "Header param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                cloud_type:
                  type: string
                  enum:
                    - AWS
                    - AZURE
                    - GOOGLE
                    - CLOUDFLARE
                  description: "Body param:"
                friendly_name:
                  type: string
                  description: "Body param:"
                description:
                  type: string
                  description: "Body param:"
              required:
                - cloud_type
                - friendly_name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  cloud_type:
                    type: string
                    enum:
                      - AWS
                      - AZURE
                      - GOOGLE
                      - CLOUDFLARE
                  friendly_name:
                    type: string
                  last_updated:
                    type: string
                  lifecycle_state:
                    type: string
                    enum:
                      - ACTIVE
                      - PENDING_SETUP
                      - RETIRED
                  state:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  state_v2:
                    type: string
                    enum:
                      - UNSPECIFIED
                      - PENDING
                      - DISCOVERING
                      - FAILED
                      - SUCCEEDED
                  aws_arn:
                    type: string
                  azure_subscription_id:
                    type: string
                  azure_tenant_id:
                    type: string
                  description:
                    type: string
                  gcp_project_id:
                    type: string
                  gcp_service_account_email:
                    type: string
                  status:
                    type: object
                    properties:
                      discovery_progress:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      discovery_progress_v2:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                          unit:
                            type: string
                        required:
                          - done
                          - total
                          - unit
                      last_discovery_status:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      last_discovery_status_v2:
                        type: string
                        enum:
                          - UNSPECIFIED
                          - PENDING
                          - DISCOVERING
                          - FAILED
                          - SUCCEEDED
                      regions:
                        type: array
                        items:
                          type: string
                      credentials_good_since:
                        type: string
                      credentials_missing_since:
                        type: string
                      credentials_rejected_since:
                        type: string
                      discovery_message:
                        type: string
                      discovery_message_v2:
                        type: string
                      in_use_by:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            client_type:
                              type: string
                              enum:
                                - MAGIC_WAN_CLOUD_ONRAMP
                            name:
                              type: string
                          required:
                            - id
                            - client_type
                            - name
                      last_discovery_completed_at:
                        type: string
                      last_discovery_completed_at_v2:
                        type: string
                      last_discovery_started_at:
                        type: string
                      last_discovery_started_at_v2:
                        type: string
                      last_updated:
                        type: string
                    required:
                      - discovery_progress
                      - discovery_progress_v2
                      - last_discovery_status
                      - last_discovery_status_v2
                      - regions
                required:
                  - id
                  - cloud_type
                  - friendly_name
                  - last_updated
                  - lifecycle_state
                  - state
                  - state_v2
      x-distilled-response-path: result
  /accounts/{account_id}/magic/cloud/providers/{providerId}/discover:
    post:
      operationId: discoverCloudIntegration
      description: Run discovery for a Cloud Integration (Closed Beta).
      parameters:
        - name: providerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: v2
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                          enum:
                            - 1001
                            - 1002
                            - 1003
                            - 1004
                            - 1005
                            - 1006
                            - 1007
                            - 1008
                            - 1009
                            - 1010
                            - 1011
                            - 1012
                            - 1013
                            - 1014
                            - 1015
                            - 1016
                            - 1017
                            - 1018
                            - 2001
                            - 2002
                            - 2003
                            - 2004
                            - 2005
                            - 2006
                            - 2007
                            - 2008
                            - 2009
                            - 2010
                            - 2011
                            - 2012
                            - 2013
                            - 2014
                            - 2015
                            - 2016
                            - 2017
                            - 2018
                            - 2019
                            - 2020
                            - 2021
                            - 2022
                            - 3001
                            - 3002
                            - 3003
                            - 3004
                            - 3005
                            - 3006
                            - 3007
                            - 4001
                            - 4002
                            - 4003
                            - 4004
                            - 4005
                            - 4006
                            - 4007
                            - 4008
                            - 4009
                            - 4010
                            - 4011
                            - 4012
                            - 4013
                            - 4014
                            - 4015
                            - 4016
                            - 4017
                            - 4018
                            - 4019
                            - 4020
                            - 4021
                            - 4022
                            - 4023
                            - 5001
                            - 5002
                            - 5003
                            - 5004
                            - 102000
                            - 102001
                            - 102002
                            - 102003
                            - 102004
                            - 102005
                            - 102006
                            - 102007
                            - 102008
                            - 102009
                            - 102010
                            - 102011
                            - 102012
                            - 102013
                            - 102014
                            - 102015
                            - 102016
                            - 102017
                            - 102018
                            - 102019
                            - 102020
                            - 102021
                            - 102022
                            - 102023
                            - 102024
                            - 102025
                            - 102026
                            - 102027
                            - 102028
                            - 102029
                            - 102030
                            - 102031
                            - 102032
                            - 102033
                            - 102034
                            - 102035
                            - 102036
                            - 102037
                            - 102038
                            - 102039
                            - 102040
                            - 102041
                            - 102042
                            - 102043
                            - 102044
                            - 102045
                            - 102046
                            - 102047
                            - 102048
                            - 102049
                            - 102050
                            - 102051
                            - 102052
                            - 102053
                            - 102054
                            - 102055
                            - 102056
                            - 102057
                            - 102058
                            - 102059
                            - 102060
                            - 102061
                            - 102062
                            - 102063
                            - 102064
                            - 102065
                            - 102066
                            - 102067
                            - 102068
                            - 102069
                            - 102070
                            - 102071
                            - 102072
                            - 103001
                            - 103002
                            - 103003
                            - 103004
                            - 103005
                            - 103006
                            - 103007
                            - 103008
                        message:
                          type: string
                        documentation_url:
                          type: string
                        meta:
                          type: object
                          properties:
                            l10n_key:
                              type: string
                            loggable_error:
                              type: string
                            template_data: {}
                            trace_id:
                              type: string
                        source:
                          type: object
                          properties:
                            parameter:
                              type: string
                            parameter_value_index:
                              type: number
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                          enum:
                            - 1001
                            - 1002
                            - 1003
                            - 1004
                            - 1005
                            - 1006
                            - 1007
                            - 1008
                            - 1009
                            - 1010
                            - 1011
                            - 1012
                            - 1013
                            - 1014
                            - 1015
                            - 1016
                            - 1017
                            - 1018
                            - 2001
                            - 2002
                            - 2003
                            - 2004
                            - 2005
                            - 2006
                            - 2007
                            - 2008
                            - 2009
                            - 2010
                            - 2011
                            - 2012
                            - 2013
                            - 2014
                            - 2015
                            - 2016
                            - 2017
                            - 2018
                            - 2019
                            - 2020
                            - 2021
                            - 2022
                            - 3001
                            - 3002
                            - 3003
                            - 3004
                            - 3005
                            - 3006
                            - 3007
                            - 4001
                            - 4002
                            - 4003
                            - 4004
                            - 4005
                            - 4006
                            - 4007
                            - 4008
                            - 4009
                            - 4010
                            - 4011
                            - 4012
                            - 4013
                            - 4014
                            - 4015
                            - 4016
                            - 4017
                            - 4018
                            - 4019
                            - 4020
                            - 4021
                            - 4022
                            - 4023
                            - 5001
                            - 5002
                            - 5003
                            - 5004
                            - 102000
                            - 102001
                            - 102002
                            - 102003
                            - 102004
                            - 102005
                            - 102006
                            - 102007
                            - 102008
                            - 102009
                            - 102010
                            - 102011
                            - 102012
                            - 102013
                            - 102014
                            - 102015
                            - 102016
                            - 102017
                            - 102018
                            - 102019
                            - 102020
                            - 102021
                            - 102022
                            - 102023
                            - 102024
                            - 102025
                            - 102026
                            - 102027
                            - 102028
                            - 102029
                            - 102030
                            - 102031
                            - 102032
                            - 102033
                            - 102034
                            - 102035
                            - 102036
                            - 102037
                            - 102038
                            - 102039
                            - 102040
                            - 102041
                            - 102042
                            - 102043
                            - 102044
                            - 102045
                            - 102046
                            - 102047
                            - 102048
                            - 102049
                            - 102050
                            - 102051
                            - 102052
                            - 102053
                            - 102054
                            - 102055
                            - 102056
                            - 102057
                            - 102058
                            - 102059
                            - 102060
                            - 102061
                            - 102062
                            - 102063
                            - 102064
                            - 102065
                            - 102066
                            - 102067
                            - 102068
                            - 102069
                            - 102070
                            - 102071
                            - 102072
                            - 103001
                            - 103002
                            - 103003
                            - 103004
                            - 103005
                            - 103006
                            - 103007
                            - 103008
                        message:
                          type: string
                        documentation_url:
                          type: string
                        meta:
                          type: object
                          properties:
                            l10n_key:
                              type: string
                            loggable_error:
                              type: string
                            template_data: {}
                            trace_id:
                              type: string
                        source:
                          type: object
                          properties:
                            parameter:
                              type: string
                            parameter_value_index:
                              type: number
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                required:
                  - errors
                  - messages
                  - success
  /accounts/{account_id}/magic/cloud/onramps/{onrampId}:
    get:
      operationId: getOnRamp
      description: Read an On-ramp (Closed Beta).
      parameters:
        - name: onrampId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: planned_resources
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
        - name: post_apply_resources
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
        - name: status
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
        - name: vpcs
          in: query
          required: false
          description: "Query param:"
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  cloud_type:
                    type: string
                    enum:
                      - AWS
                      - AZURE
                      - GOOGLE
                  dynamic_routing:
                    type: boolean
                  install_routes_in_cloud:
                    type: boolean
                  install_routes_in_magic_wan:
                    type: boolean
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                      - OnrampTypeSingle
                      - OnrampTypeHub
                  updated_at:
                    type: string
                  attached_hubs:
                    type: array
                    items:
                      type: string
                  attached_vpcs:
                    type: array
                    items:
                      type: string
                  cloud_asn:
                    type: number
                  description:
                    type: string
                  hub:
                    type: string
                  last_applied_at:
                    type: string
                  last_exported_at:
                    type: string
                  last_planned_at:
                    type: string
                  manage_hub_to_hub_attachments:
                    type: boolean
                  manage_vpc_to_hub_attachments:
                    type: boolean
                  planned_monthly_cost_estimate:
                    type: object
                    properties:
                      currency:
                        type: string
                      current_monthly_cost:
                        type: number
                      diff:
                        type: number
                      proposed_monthly_cost:
                        type: number
                    required:
                      - currency
                      - current_monthly_cost
                      - diff
                      - proposed_monthly_cost
                  planned_resources:
                    type: array
                    items:
                      type: object
                      properties:
                        diff:
                          type: object
                          properties:
                            diff:
                              type: string
                            left_description:
                              type: string
                            left_yaml:
                              type: string
                            right_description:
                              type: string
                            right_yaml:
                              type: string
                          required:
                            - diff
                            - left_description
                            - left_yaml
                            - right_description
                            - right_yaml
                        keys_require_replace:
                          type: array
                          items:
                            type: string
                        monthly_cost_estimate_diff:
                          type: object
                          properties:
                            currency:
                              type: string
                            current_monthly_cost:
                              type: number
                            diff:
                              type: number
                            proposed_monthly_cost:
                              type: number
                          required:
                            - currency
                            - current_monthly_cost
                            - diff
                            - proposed_monthly_cost
                        planned_action:
                          type: string
                          enum:
                            - no_op
                            - create
                            - update
                            - replace
                            - destroy
                        resource:
                          type: object
                          properties:
                            id:
                              type: string
                            cloud_type:
                              type: string
                              enum:
                                - AWS
                                - AZURE
                                - GOOGLE
                                - CLOUDFLARE
                            detail:
                              type: string
                            name:
                              type: string
                            resource_type:
                              type: string
                              enum:
                                - aws_customer_gateway
                                - aws_egress_only_internet_gateway
                                - aws_internet_gateway
                                - aws_instance
                                - aws_network_interface
                                - aws_route
                                - aws_route_table
                                - aws_route_table_association
                                - aws_subnet
                                - aws_vpc
                                - aws_vpc_ipv4_cidr_block_association
                                - aws_vpn_connection
                                - aws_vpn_connection_route
                                - aws_vpn_gateway
                                - aws_security_group
                                - aws_vpc_security_group_ingress_rule
                                - aws_vpc_security_group_egress_rule
                                - aws_ec2_managed_prefix_list
                                - aws_ec2_transit_gateway
                                - aws_ec2_transit_gateway_prefix_list_reference
                                - aws_ec2_transit_gateway_vpc_attachment
                                - azurerm_application_security_group
                                - azurerm_lb
                                - azurerm_lb_backend_address_pool
                                - azurerm_lb_nat_pool
                                - azurerm_lb_nat_rule
                                - azurerm_lb_rule
                                - azurerm_local_network_gateway
                                - azurerm_network_interface
                                - azurerm_network_interface_application_security_group_association
                                - azurerm_network_interface_backend_address_pool_association
                                - azurerm_network_interface_security_group_association
                                - azurerm_network_security_group
                                - azurerm_public_ip
                                - azurerm_route
                                - azurerm_route_table
                                - azurerm_subnet
                                - azurerm_subnet_route_table_association
                                - azurerm_virtual_machine
                                - azurerm_virtual_network_gateway_connection
                                - azurerm_virtual_network
                                - azurerm_virtual_network_gateway
                                - google_compute_network
                                - google_compute_subnetwork
                                - google_compute_vpn_gateway
                                - google_compute_vpn_tunnel
                                - google_compute_route
                                - google_compute_address
                                - google_compute_global_address
                                - google_compute_router
                                - google_compute_interconnect_attachment
                                - google_compute_ha_vpn_gateway
                                - google_compute_forwarding_rule
                                - google_compute_network_firewall_policy
                                - google_compute_network_firewall_policy_rule
                                - cloudflare_static_route
                                - cloudflare_ipsec_tunnel
                            title:
                              type: string
                          required:
                            - id
                            - cloud_type
                            - detail
                            - name
                            - resource_type
                            - title
                      required:
                        - diff
                        - keys_require_replace
                        - monthly_cost_estimate_diff
                        - planned_action
                        - resource
                  planned_resources_unavailable:
                    type: boolean
                  post_apply_monthly_cost_estimate:
                    type: object
                    properties:
                      currency:
                        type: string
                      monthly_cost:
                        type: number
                    required:
                      - currency
                      - monthly_cost
                  post_apply_resources:
                    type: object
                    additionalProperties: true
                  post_apply_resources_unavailable:
                    type: boolean
                  region:
                    type: string
                  status:
                    type: object
                    properties:
                      apply_progress:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                        required:
                          - done
                          - total
                      lifecycle_state:
                        type: string
                        enum:
                          - OnrampNeedsApply
                          - OnrampPendingPlan
                          - OnrampPlanning
                          - OnrampPlanFailed
                          - OnrampPendingApproval
                          - OnrampPendingApply
                          - OnrampApplying
                          - OnrampApplyFailed
                          - OnrampActive
                          - OnrampPendingDestroy
                          - OnrampDestroying
                          - OnrampDestroyFailed
                      plan_progress:
                        type: object
                        properties:
                          done:
                            type: number
                          total:
                            type: number
                        required:
                          - done
                          - total
                      routes:
                        type: array
                        items:
                          type: string
                      tunnels:
                        type: array
                        items:
                          type: string
                      lifecycle_errors:
                        type: object
                        additionalProperties: true
                    required:
                      - apply_progress
                      - lifecycle_state
                      - plan_progress
                      - routes
                      - tunnels
                  vpc:
                    type: string
                  vpcs_by_id:
                    type: object
                    additionalProperties: true
                  vpcs_by_id_unavailable:
                    type: array
                    items:
                      type: string
                    description: The list of vpc IDs for which resource details failed to generate.
                required:
                  - id
                  - cloud_type
                  - dynamic_routing
                  - install_routes_in_cloud
                  - install_routes_in_magic_wan
                  - name
                  - type
                  - updated_at
      x-distilled-response-path: result
    put:
      operationId: updateOnRamp
      description: Update an On-ramp (Closed Beta).
      parameters:
        - name: onrampId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                attached_hubs:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                attached_vpcs:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                description:
                  type: string
                  description: "Body param:"
                install_routes_in_cloud:
                  type: boolean
                  description: "Body param:"
                install_routes_in_magic_wan:
                  type: boolean
                  description: "Body param:"
                manage_hub_to_hub_attachments:
                  type: boolean
                  description: "Body param:"
                manage_vpc_to_hub_attachments:
                  type: boolean
                  description: "Body param:"
                name:
                  type: string
                  description: "Body param:"
                vpc:
                  type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  cloud_type:
                    type: string
                    enum:
                      - AWS
                      - AZURE
                      - GOOGLE
                  dynamic_routing:
                    type: boolean
                  install_routes_in_cloud:
                    type: boolean
                  install_routes_in_magic_wan:
                    type: boolean
                  name:
                    type: string
                  type:
                    type: string
                    enum:
                      - OnrampTypeSingle
                      - OnrampTypeHub
                  updated_at:
                    type: string
                  attached_hubs:
                    type: array
                    items:
                      type: string
                  attached_vpcs:
                    type: array
                    items:
                      type: string
                  cloud_asn:
                    type: number
                  description:
                    type: string
                  hub:
                    type: string
                  last_applied_at:
                    type: string
                  last_exported_at:
                    type: string
                  last_planned_at:
                    type: string
                  manage_hub_to_hub_attachments:
                    type: boolean
                  manage_vpc_to_hub_attachments:
                    type: boolean
                  planned_monthly_cost_estimate:
                    type: object
                    properties:
                      currency:
                        type: string
                      current_monthly_cost:
                        type: number
                      diff:
                        type: number
                      proposed_monthly_cost:
                        type: number
                    required:
                      - currency
                      - current_monthly_cost
                      - diff
                      - proposed_monthly_cost
                  planned_resources:
                    type: array
                    items:
                      type: object
                      properties:
                        diff:
                          type: object
                          properties:
                            diff:
                              type: string
                            left_description:
                              type: string
                            left_yaml:
                              type: string
                            right_description:
                              type: string
                            right_yaml:
                              type: string
                          required:
                            - diff
                            - left_description
                            - left_yaml
                            - right_description
                            - right_yaml
                        keys_require_replace:
                          type: array
                          items:
                            type: string
                        monthly_cost_estimate_diff:
                          type: object
                          properties:
                            currency:
                              type: string
                            current_monthly_cost:
                              type: number
                            diff:
                              type: number
                            proposed_monthly_cost:
                              type: number
                          required:
                            - currency
                            - current_monthly_cost
                            - diff
                            - proposed_monthly_cost
                        planned_action:
                          type: string
                          enum:
                            - no_op
                            - create
                            - update
                            - replace
                            - destroy
                        resource:
                          type: object
                          properties:
                            id:
                              type: string
                            cloud_type:
                              type: string
                              enum:
                                - AWS
                                - AZURE
                                - GOOGLE
                                - CLOUDFLARE
                            detail:
                              type: string
                            name:
                              type: string
                            resource_type:
                              type: string
                              enum:
                                - aws_customer_gateway
                                - aws_egress_only_internet_gateway
                                - aws_internet_gateway
                                - aws_instance
                                - aws_network_interface
                                - aws_route
                                - aws_route_table
                                - aws_route_table_association
                                - aws_subnet
                                - aws_vpc
                                - aws_vpc_ipv4_cidr_block_association
                                - aws_vpn_connection
                                - aws_vpn_connection_route
                                - aws_vpn_gateway
                                - aws_security_group
                                - aws_vpc_security_group_ingress_rule
                                - aws_vpc_security_group_egress_rule
                                - aws_ec2_managed_prefix_list
                                - aws_ec2_transit_gateway
                                - aws_ec2_transit_gateway_prefix_list_reference
                                - aws_ec2_transit_gateway_vpc_attachment
                                - azurerm_application_security_group
                                - azurerm_lb
                                - azurerm_lb_backend_address_pool
                                - azurerm_lb_nat_pool
                                - azurerm_lb_nat_rule
[...]
