openapi: 3.1.0
info:
  title: Cloudflare MAGIC-NETWORK-MONITORING API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: magic-network-monitoring
paths:
  /accounts/{account_id}/mnm/config:
    get:
      operationId: getConfig
      description: "Lists default sampling, router IPs and warp devices for
        account.  @example ```ts const configuration = await
        client.magicNetworkMonitoring.configs.get({ account_id:
        '6f91088a406011ed95aed352566e8d4c', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_sampling:
                    type: number
                    description: Fallback sampling rate of flow messages being sent in packets per
                      second. This should match the packet sampling rate
                      configured on the router.
                  name:
                    type: string
                    description: The account name.
                  router_ips:
                    type: array
                    items:
                      type: string
                  warp_devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the warp device.
                        name:
                          type: string
                          description: Name of the warp device.
                        router_ip:
                          type: string
                          description: IPv4 CIDR of the router sourcing flow data associated with this
                            warp device. Only /32 addresses are currently
                            supported.
                      required:
                        - id
                        - name
                        - router_ip
                required:
                  - default_sampling
                  - name
                  - router_ips
                  - warp_devices
      x-distilled-response-path: result
    post:
      operationId: createConfig
      description: "Create a new network monitoring configuration.  @example ```ts
        const configuration = await
        client.magicNetworkMonitoring.configs.create({ account_id:
        '6f91088a406011ed95aed352566e8d4c', default_sampling: 1, name:
        \"cloudflare user's account\", }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                default_sampling:
                  type: number
                  description: "Body param: Fallback sampling rate of flow messages being sent in
                    packets per second. This should match the packet sampling
                    rate configured on the router."
                name:
                  type: string
                  description: "Body param: The account name."
                router_ips:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                warp_devices:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier for the warp device.
                      name:
                        type: string
                        description: Name of the warp device.
                      router_ip:
                        type: string
                        description: IPv4 CIDR of the router sourcing flow data associated with this
                          warp device. Only /32 addresses are currently
                          supported.
                    required:
                      - id
                      - name
                      - router_ip
                  description: "Body param:"
              required:
                - default_sampling
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_sampling:
                    type: number
                    description: Fallback sampling rate of flow messages being sent in packets per
                      second. This should match the packet sampling rate
                      configured on the router.
                  name:
                    type: string
                    description: The account name.
                  router_ips:
                    type: array
                    items:
                      type: string
                  warp_devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the warp device.
                        name:
                          type: string
                          description: Name of the warp device.
                        router_ip:
                          type: string
                          description: IPv4 CIDR of the router sourcing flow data associated with this
                            warp device. Only /32 addresses are currently
                            supported.
                      required:
                        - id
                        - name
                        - router_ip
                required:
                  - default_sampling
                  - name
                  - router_ips
                  - warp_devices
      x-distilled-response-path: result
    put:
      operationId: updateConfig
      description: "Update an existing network monitoring configuration, requires the
        entire configuration to be updated at once.  @example ```ts const
        configuration = await client.magicNetworkMonitoring.configs.update({
        account_id: '6f91088a406011ed95aed352566e8d4c', default_sampling: 1,
        name: \"cloudflare user's account\", }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                default_sampling:
                  type: number
                  description: "Body param: Fallback sampling rate of flow messages being sent in
                    packets per second. This should match the packet sampling
                    rate configured on the router."
                name:
                  type: string
                  description: "Body param: The account name."
                router_ips:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                warp_devices:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier for the warp device.
                      name:
                        type: string
                        description: Name of the warp device.
                      router_ip:
                        type: string
                        description: IPv4 CIDR of the router sourcing flow data associated with this
                          warp device. Only /32 addresses are currently
                          supported.
                    required:
                      - id
                      - name
                      - router_ip
                  description: "Body param:"
              required:
                - default_sampling
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_sampling:
                    type: number
                    description: Fallback sampling rate of flow messages being sent in packets per
                      second. This should match the packet sampling rate
                      configured on the router.
                  name:
                    type: string
                    description: The account name.
                  router_ips:
                    type: array
                    items:
                      type: string
                  warp_devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the warp device.
                        name:
                          type: string
                          description: Name of the warp device.
                        router_ip:
                          type: string
                          description: IPv4 CIDR of the router sourcing flow data associated with this
                            warp device. Only /32 addresses are currently
                            supported.
                      required:
                        - id
                        - name
                        - router_ip
                required:
                  - default_sampling
                  - name
                  - router_ips
                  - warp_devices
      x-distilled-response-path: result
    patch:
      operationId: patchConfig
      description: "Update fields in an existing network monitoring
        configuration.  @example ```ts const configuration = await
        client.magicNetworkMonitoring.configs.edit({ account_id:
        '6f91088a406011ed95aed352566e8d4c', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                default_sampling:
                  type: number
                  description: "Body param: Fallback sampling rate of flow messages being sent in
                    packets per second. This should match the packet sampling
                    rate configured on the router."
                name:
                  type: string
                  description: "Body param: The account name."
                router_ips:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                warp_devices:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier for the warp device.
                      name:
                        type: string
                        description: Name of the warp device.
                      router_ip:
                        type: string
                        description: IPv4 CIDR of the router sourcing flow data associated with this
                          warp device. Only /32 addresses are currently
                          supported.
                    required:
                      - id
                      - name
                      - router_ip
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_sampling:
                    type: number
                    description: Fallback sampling rate of flow messages being sent in packets per
                      second. This should match the packet sampling rate
                      configured on the router.
                  name:
                    type: string
                    description: The account name.
                  router_ips:
                    type: array
                    items:
                      type: string
                  warp_devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the warp device.
                        name:
                          type: string
                          description: Name of the warp device.
                        router_ip:
                          type: string
                          description: IPv4 CIDR of the router sourcing flow data associated with this
                            warp device. Only /32 addresses are currently
                            supported.
                      required:
                        - id
                        - name
                        - router_ip
                required:
                  - default_sampling
                  - name
                  - router_ips
                  - warp_devices
      x-distilled-response-path: result
    delete:
      operationId: deleteConfig
      description: "Delete an existing network monitoring configuration.  @example
        ```ts const configuration = await
        client.magicNetworkMonitoring.configs.delete({ account_id:
        '6f91088a406011ed95aed352566e8d4c', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_sampling:
                    type: number
                    description: Fallback sampling rate of flow messages being sent in packets per
                      second. This should match the packet sampling rate
                      configured on the router.
                  name:
                    type: string
                    description: The account name.
                  router_ips:
                    type: array
                    items:
                      type: string
                  warp_devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the warp device.
                        name:
                          type: string
                          description: Name of the warp device.
                        router_ip:
                          type: string
                          description: IPv4 CIDR of the router sourcing flow data associated with this
                            warp device. Only /32 addresses are currently
                            supported.
                      required:
                        - id
                        - name
                        - router_ip
                required:
                  - default_sampling
                  - name
                  - router_ips
                  - warp_devices
      x-distilled-response-path: result
  /accounts/{account_id}/mnm/config/full:
    get:
      operationId: getConfigFull
      description: "Lists default sampling, router IPs, warp devices, and rules for
        account.  @example ```ts const configuration = await
        client.magicNetworkMonitoring.configs.full.get({ account_id:
        '6f91088a406011ed95aed352566e8d4c', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_sampling:
                    type: number
                    description: Fallback sampling rate of flow messages being sent in packets per
                      second. This should match the packet sampling rate
                      configured on the router.
                  name:
                    type: string
                    description: The account name.
                  router_ips:
                    type: array
                    items:
                      type: string
                  warp_devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the warp device.
                        name:
                          type: string
                          description: Name of the warp device.
                        router_ip:
                          type: string
                          description: IPv4 CIDR of the router sourcing flow data associated with this
                            warp device. Only /32 addresses are currently
                            supported.
                      required:
                        - id
                        - name
                        - router_ip
                required:
                  - default_sampling
                  - name
                  - router_ips
                  - warp_devices
      x-distilled-response-path: result
  /accounts/{account_id}/mnm/rules/{ruleId}:
    get:
      operationId: getRule
      description: "List a single network monitoring rule for account.  @example ```ts
        const magicNetworkMonitoringRule = await
        client.magicNetworkMonitoring.rules.get(
        '2890e6fa406311ed9b5a23f70f6fb8cf', { account_id:
        '6f91088a406011ed95aed352566e8d4c' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  automatic_advertisement:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Toggle on if you would like Cloudflare to automatically advertise
                      the IP Prefixes within the rule via Magic Transit when the
                      rule is triggered. Only available for users of Magic
                      Transit.
                  name:
                    type: string
                    description: The name of the rule. Must be unique. Supports characters A-Z, a-z,
                      0-9, underscore (\_), dash (-), period (.), and tilde (~).
                      You can’t have a space in the rule name. Max 256
                      characters.
                  prefixes:
                    type: array
                    items:
                      type: string
                  type:
                    type: string
                    enum:
                      - threshold
                      - zscore
                      - advanced_ddos
                    description: MNM rule type.
                  id:
                    type: string
                    description: The id of the rule. Must be unique.
                  bandwidth_threshold:
                    type: number
                    description: The number of bits per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  duration:
                    type: string
                    enum:
                      - 1m
                      - 5m
                      - 10m
                      - 15m
                      - 20m
                      - 30m
                      - 45m
                      - 60m
                    description: The amount of time that the rule threshold must be exceeded to send
                      an alert notification. The final value must be equivalent
                      to one of the following 8 values
                      ["1m","5m","10m","15m","20m","30m","45m","60m"].
                  packet_threshold:
                    type: number
                    description: The number of packets per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  prefix_match:
                    type: string
                    enum:
                      - exact
                      - subnet
                      - supernet
                    nullable: true
                    description: Prefix match type to be applied for a prefix auto advertisement
                      when using an advanced_ddos rule.
                  zscore_sensitivity:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                    nullable: true
                    description: Level of sensitivity set for zscore rules.
                  zscore_target:
                    type: string
                    enum:
                      - bits
                      - packets
                    nullable: true
                    description: Target of the zscore rule analysis.
                required:
                  - automatic_advertisement
                  - name
                  - prefixes
                  - type
      x-distilled-response-path: result
    patch:
      operationId: patchRule
      description: "Update a network monitoring rule for account.  @example ```ts
        const magicNetworkMonitoringRule = await
        client.magicNetworkMonitoring.rules.edit(
        '2890e6fa406311ed9b5a23f70f6fb8cf', { account_id:
        '6f91088a406011ed95aed352566e8d4c' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                automatic_advertisement:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: Toggle on if you would like Cloudflare to
                    automatically advertise the IP Prefixes within the rule via
                    Magic Transit when the rule is triggered. Only available for
                    users of Magic Transit."
                bandwidth:
                  type: number
                  description: "Body param: The number of bits per second for the rule. When this
                    value is exceeded for the set duration, an alert
                    notification is sent. Minimum of 1 and no maximum."
                duration:
                  type: string
                  enum:
                    - 1m
                    - 5m
                    - 10m
                    - 15m
                    - 20m
                    - 30m
                    - 45m
                    - 60m
                  description: 'Body param: The amount of time that the rule threshold must be
                    exceeded to send an alert notification. The final value must
                    be equivalent to one of the following 8 values
                    ["1m","5m","10m","15m","20m","30m","45m","60m"].'
                name:
                  type: string
                  description: "Body param: The name of the rule. Must be unique. Supports
                    characters A-Z, a-z, 0-9, underscore (\\_), dash (-), period
                    (.), and tilde (~). You can’t have a space in the rule name.
                    Max 256 characters."
                packet_threshold:
                  type: number
                  description: "Body param: The number of packets per second for the rule. When
                    this value is exceeded for the set duration, an alert
                    notification is sent. Minimum of 1 and no maximum."
                prefixes:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  automatic_advertisement:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Toggle on if you would like Cloudflare to automatically advertise
                      the IP Prefixes within the rule via Magic Transit when the
                      rule is triggered. Only available for users of Magic
                      Transit.
                  name:
                    type: string
                    description: The name of the rule. Must be unique. Supports characters A-Z, a-z,
                      0-9, underscore (\_), dash (-), period (.), and tilde (~).
                      You can’t have a space in the rule name. Max 256
                      characters.
                  prefixes:
                    type: array
                    items:
                      type: string
                  type:
                    type: string
                    enum:
                      - threshold
                      - zscore
                      - advanced_ddos
                    description: MNM rule type.
                  id:
                    type: string
                    description: The id of the rule. Must be unique.
                  bandwidth_threshold:
                    type: number
                    description: The number of bits per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  duration:
                    type: string
                    enum:
                      - 1m
                      - 5m
                      - 10m
                      - 15m
                      - 20m
                      - 30m
                      - 45m
                      - 60m
                    description: The amount of time that the rule threshold must be exceeded to send
                      an alert notification. The final value must be equivalent
                      to one of the following 8 values
                      ["1m","5m","10m","15m","20m","30m","45m","60m"].
                  packet_threshold:
                    type: number
                    description: The number of packets per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  prefix_match:
                    type: string
                    enum:
                      - exact
                      - subnet
                      - supernet
                    nullable: true
                    description: Prefix match type to be applied for a prefix auto advertisement
                      when using an advanced_ddos rule.
                  zscore_sensitivity:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                    nullable: true
                    description: Level of sensitivity set for zscore rules.
                  zscore_target:
                    type: string
                    enum:
                      - bits
                      - packets
                    nullable: true
                    description: Target of the zscore rule analysis.
                required:
                  - automatic_advertisement
                  - name
                  - prefixes
                  - type
      x-distilled-response-path: result
    delete:
      operationId: deleteRule
      description: "Delete a network monitoring rule for account.  @example ```ts
        const magicNetworkMonitoringRule = await
        client.magicNetworkMonitoring.rules.delete(
        '2890e6fa406311ed9b5a23f70f6fb8cf', { account_id:
        '6f91088a406011ed95aed352566e8d4c' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  automatic_advertisement:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Toggle on if you would like Cloudflare to automatically advertise
                      the IP Prefixes within the rule via Magic Transit when the
                      rule is triggered. Only available for users of Magic
                      Transit.
                  name:
                    type: string
                    description: The name of the rule. Must be unique. Supports characters A-Z, a-z,
                      0-9, underscore (\_), dash (-), period (.), and tilde (~).
                      You can’t have a space in the rule name. Max 256
                      characters.
                  prefixes:
                    type: array
                    items:
                      type: string
                  type:
                    type: string
                    enum:
                      - threshold
                      - zscore
                      - advanced_ddos
                    description: MNM rule type.
                  id:
                    type: string
                    description: The id of the rule. Must be unique.
                  bandwidth_threshold:
                    type: number
                    description: The number of bits per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  duration:
                    type: string
                    enum:
                      - 1m
                      - 5m
                      - 10m
                      - 15m
                      - 20m
                      - 30m
                      - 45m
                      - 60m
                    description: The amount of time that the rule threshold must be exceeded to send
                      an alert notification. The final value must be equivalent
                      to one of the following 8 values
                      ["1m","5m","10m","15m","20m","30m","45m","60m"].
                  packet_threshold:
                    type: number
                    description: The number of packets per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  prefix_match:
                    type: string
                    enum:
                      - exact
                      - subnet
                      - supernet
                    nullable: true
                    description: Prefix match type to be applied for a prefix auto advertisement
                      when using an advanced_ddos rule.
                  zscore_sensitivity:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                    nullable: true
                    description: Level of sensitivity set for zscore rules.
                  zscore_target:
                    type: string
                    enum:
                      - bits
                      - packets
                    nullable: true
                    description: Target of the zscore rule analysis.
                required:
                  - automatic_advertisement
                  - name
                  - prefixes
                  - type
      x-distilled-response-path: result
  /accounts/{account_id}/mnm/rules:
    get:
      operationId: listRules
      description: "Lists network monitoring rules for account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        magicNetworkMonitoringRule of client.magicNetworkMonitoring.rules.list(
        { account_id: '6f91088a406011ed95aed352566e8d4c' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      automatic_advertisement:
                        oneOf:
                          - type: boolean
                        nullable: true
                        description: Toggle on if you would like Cloudflare to automatically advertise
                          the IP Prefixes within the rule via Magic Transit when
                          the rule is triggered. Only available for users of
                          Magic Transit.
                      name:
                        type: string
                        description: The name of the rule. Must be unique. Supports characters A-Z, a-z,
                          0-9, underscore (\_), dash (-), period (.), and tilde
                          (~). You can’t have a space in the rule name. Max 256
                          characters.
                      prefixes:
                        type: array
                        items:
                          type: string
                      type:
                        type: string
                        enum:
                          - threshold
                          - zscore
                          - advanced_ddos
                        description: MNM rule type.
                      id:
                        type: string
                        description: The id of the rule. Must be unique.
                      bandwidth_threshold:
                        type: number
                        description: The number of bits per second for the rule. When this value is
                          exceeded for the set duration, an alert notification
                          is sent. Minimum of 1 and no maximum.
                      duration:
                        type: string
                        enum:
                          - 1m
                          - 5m
                          - 10m
                          - 15m
                          - 20m
                          - 30m
                          - 45m
                          - 60m
                        description: The amount of time that the rule threshold must be exceeded to send
                          an alert notification. The final value must be
                          equivalent to one of the following 8 values
                          ["1m","5m","10m","15m","20m","30m","45m","60m"].
                      packet_threshold:
                        type: number
                        description: The number of packets per second for the rule. When this value is
                          exceeded for the set duration, an alert notification
                          is sent. Minimum of 1 and no maximum.
                      prefix_match:
                        type: string
                        enum:
                          - exact
                          - subnet
                          - supernet
                        nullable: true
                        description: Prefix match type to be applied for a prefix auto advertisement
                          when using an advanced_ddos rule.
                      zscore_sensitivity:
                        type: string
                        enum:
                          - low
                          - medium
                          - high
                        nullable: true
                        description: Level of sensitivity set for zscore rules.
                      zscore_target:
                        type: string
                        enum:
                          - bits
                          - packets
                        nullable: true
                        description: Target of the zscore rule analysis.
                    required:
                      - automatic_advertisement
                      - name
                      - prefixes
                      - type
                nullable: true
      x-distilled-pagination-class: MagicNetworkMonitoringRulesSinglePage
    post:
      operationId: createRule
      description: "Create network monitoring rules for account. Currently only
        supports creating a single rule per API request.  @example ```ts const
        magicNetworkMonitoringRule = await
        client.magicNetworkMonitoring.rules.create({ account_id:
        '6f91088a406011ed95aed352566e8d4c', duration: '1m', name: 'my_rule_1',
        }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  type: string
                  enum:
                    - 1m
                    - 5m
                    - 10m
                    - 15m
                    - 20m
                    - 30m
                    - 45m
                    - 60m
                  description: 'Body param: The amount of time that the rule threshold must be
                    exceeded to send an alert notification. The final value must
                    be equivalent to one of the following 8 values
                    ["1m","5m","10m","15m","20m","30m","45m","60m"].'
                name:
                  type: string
                  description: "Body param: The name of the rule. Must be unique. Supports
                    characters A-Z, a-z, 0-9, underscore (\\_), dash (-), period
                    (.), and tilde (~). You can’t have a space in the rule name.
                    Max 256 characters."
                automatic_advertisement:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: Toggle on if you would like Cloudflare to
                    automatically advertise the IP Prefixes within the rule via
                    Magic Transit when the rule is triggered. Only available for
                    users of Magic Transit."
                bandwidth:
                  type: number
                  description: "Body param: The number of bits per second for the rule. When this
                    value is exceeded for the set duration, an alert
                    notification is sent. Minimum of 1 and no maximum."
                packet_threshold:
                  type: number
                  description: "Body param: The number of packets per second for the rule. When
                    this value is exceeded for the set duration, an alert
                    notification is sent. Minimum of 1 and no maximum."
                prefixes:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
              required:
                - duration
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  automatic_advertisement:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Toggle on if you would like Cloudflare to automatically advertise
                      the IP Prefixes within the rule via Magic Transit when the
                      rule is triggered. Only available for users of Magic
                      Transit.
                  name:
                    type: string
                    description: The name of the rule. Must be unique. Supports characters A-Z, a-z,
                      0-9, underscore (\_), dash (-), period (.), and tilde (~).
                      You can’t have a space in the rule name. Max 256
                      characters.
                  prefixes:
                    type: array
                    items:
                      type: string
                  type:
                    type: string
                    enum:
                      - threshold
                      - zscore
                      - advanced_ddos
                    description: MNM rule type.
                  id:
                    type: string
                    description: The id of the rule. Must be unique.
                  bandwidth_threshold:
                    type: number
                    description: The number of bits per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  duration:
                    type: string
                    enum:
                      - 1m
                      - 5m
                      - 10m
                      - 15m
                      - 20m
                      - 30m
                      - 45m
                      - 60m
                    description: The amount of time that the rule threshold must be exceeded to send
                      an alert notification. The final value must be equivalent
                      to one of the following 8 values
                      ["1m","5m","10m","15m","20m","30m","45m","60m"].
                  packet_threshold:
                    type: number
                    description: The number of packets per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  prefix_match:
                    type: string
                    enum:
                      - exact
                      - subnet
                      - supernet
                    nullable: true
                    description: Prefix match type to be applied for a prefix auto advertisement
                      when using an advanced_ddos rule.
                  zscore_sensitivity:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                    nullable: true
                    description: Level of sensitivity set for zscore rules.
                  zscore_target:
                    type: string
                    enum:
                      - bits
                      - packets
                    nullable: true
                    description: Target of the zscore rule analysis.
                required:
                  - automatic_advertisement
                  - name
                  - prefixes
                  - type
      x-distilled-response-path: result
    put:
      operationId: updateRule
      description: "Update network monitoring rules for account.  @example ```ts const
        magicNetworkMonitoringRule = await
        client.magicNetworkMonitoring.rules.update({ account_id:
        '6f91088a406011ed95aed352566e8d4c', duration: '1m', name: 'my_rule_1',
        }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  type: string
                  enum:
                    - 1m
                    - 5m
                    - 10m
                    - 15m
                    - 20m
                    - 30m
                    - 45m
                    - 60m
                  description: 'Body param: The amount of time that the rule threshold must be
                    exceeded to send an alert notification. The final value must
                    be equivalent to one of the following 8 values
                    ["1m","5m","10m","15m","20m","30m","45m","60m"].'
                name:
                  type: string
                  description: "Body param: The name of the rule. Must be unique. Supports
                    characters A-Z, a-z, 0-9, underscore (\\_), dash (-), period
                    (.), and tilde (~). You can’t have a space in the rule name.
                    Max 256 characters."
                id:
                  type: string
                  description: "Body param: The id of the rule. Must be unique."
                automatic_advertisement:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: Toggle on if you would like Cloudflare to
                    automatically advertise the IP Prefixes within the rule via
                    Magic Transit when the rule is triggered. Only available for
                    users of Magic Transit."
                bandwidth:
                  type: number
                  description: "Body param: The number of bits per second for the rule. When this
                    value is exceeded for the set duration, an alert
                    notification is sent. Minimum of 1 and no maximum."
                packet_threshold:
                  type: number
                  description: "Body param: The number of packets per second for the rule. When
                    this value is exceeded for the set duration, an alert
                    notification is sent. Minimum of 1 and no maximum."
                prefixes:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
              required:
                - duration
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  automatic_advertisement:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Toggle on if you would like Cloudflare to automatically advertise
                      the IP Prefixes within the rule via Magic Transit when the
                      rule is triggered. Only available for users of Magic
                      Transit.
                  name:
                    type: string
                    description: The name of the rule. Must be unique. Supports characters A-Z, a-z,
                      0-9, underscore (\_), dash (-), period (.), and tilde (~).
                      You can’t have a space in the rule name. Max 256
                      characters.
                  prefixes:
                    type: array
                    items:
                      type: string
                  type:
                    type: string
                    enum:
                      - threshold
                      - zscore
                      - advanced_ddos
                    description: MNM rule type.
                  id:
                    type: string
                    description: The id of the rule. Must be unique.
                  bandwidth_threshold:
                    type: number
                    description: The number of bits per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  duration:
                    type: string
                    enum:
                      - 1m
                      - 5m
                      - 10m
                      - 15m
                      - 20m
                      - 30m
                      - 45m
                      - 60m
                    description: The amount of time that the rule threshold must be exceeded to send
                      an alert notification. The final value must be equivalent
                      to one of the following 8 values
                      ["1m","5m","10m","15m","20m","30m","45m","60m"].
                  packet_threshold:
                    type: number
                    description: The number of packets per second for the rule. When this value is
                      exceeded for the set duration, an alert notification is
                      sent. Minimum of 1 and no maximum.
                  prefix_match:
                    type: string
                    enum:
                      - exact
                      - subnet
                      - supernet
                    nullable: true
                    description: Prefix match type to be applied for a prefix auto advertisement
                      when using an advanced_ddos rule.
                  zscore_sensitivity:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                    nullable: true
                    description: Level of sensitivity set for zscore rules.
                  zscore_target:
                    type: string
                    enum:
                      - bits
                      - packets
                    nullable: true
                    description: Target of the zscore rule analysis.
                required:
                  - automatic_advertisement
                  - name
                  - prefixes
                  - type
      x-distilled-response-path: result
  /accounts/{account_id}/mnm/rules/{ruleId}/advertisement:
    patch:
      operationId: patchRuleAdvertisement
      description: "Update advertisement for rule.  @example ```ts const advertisement
        = await client.magicNetworkMonitoring.rules.advertisements.edit(
        '2890e6fa406311ed9b5a23f70f6fb8cf', { account_id:
        '6f91088a406011ed95aed352566e8d4c', body: {}, }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  automatic_advertisement:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Toggle on if you would like Cloudflare to automatically advertise
                      the IP Prefixes within the rule via Magic Transit when the
                      rule is triggered. Only available for users of Magic
                      Transit.
                required:
                  - automatic_advertisement
      x-distilled-response-path: result
  /accounts/{account_id}/mnm/vpc-flows/token:
    post:
      operationId: createVpcFlowToken
      description: "Generate authentication token for VPC flow logs export.  @example
        ```ts const token = await
        client.magicNetworkMonitoring.vpcFlows.tokens.create( { account_id:
        '6f91088a406011ed95aed352566e8d4c' }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-response-path: result
