openapi: 3.1.0
info:
  title: Cloudflare MEMBERSHIPS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: memberships
paths:
  /memberships/{membershipId}:
    get:
      operationId: getMembership
      description: Get a specific membership.  @example ```ts const membership = await
        client.memberships.get( '4536bcfad5faccb111b47003c79917fa', ); ```
      parameters:
        - name: membershipId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Membership identifier tag.
                  account:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier
                      name:
                        type: string
                        description: Account name
                      type:
                        type: string
                        enum:
                          - standard
                          - enterprise
                      created_on:
                        type: string
                        description: Timestamp for the creation of the account
                      managed_by:
                        type: object
                        properties:
                          parent_org_id:
                            type: string
                            description: ID of the parent Organization, if one exists
                          parent_org_name:
                            type: string
                            description: Name of the parent Organization, if one exists
                        description: Parent container details
                      settings:
                        type: object
                        properties:
                          abuse_contact_email:
                            type: string
                            description: Sets an abuse contact email to notify for abuse reports.
                          enforce_twofactor:
                            type: boolean
                            description: Indicates whether membership in this account requires that
                              Two-Factor Authentication is enabled
                        description: Account settings
                    required:
                      - id
                      - name
                      - type
                  api_access_enabled:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Enterprise only. Indicates whether or not API access is enabled
                      specifically for this user on a given account.
                  permissions:
                    type: object
                    properties:
                      analytics:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      billing:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      cache_purge:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      dns:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      dns_records:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      lb:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      logs:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      organization:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      ssl:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      waf:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      zone_settings:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      zones:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                    description: All access permissions for the user at the account.
                  policies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Policy identifier.
                        access:
                          type: string
                          enum:
                            - allow
                            - deny
                          description: Allow or deny operations against the resources.
                        permission_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the permission group.
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the permission group.
                              name:
                                type: string
                                description: Name of the permission group.
                            required:
                              - id
                          description: A set of permission groups that are specified to the policy.
                        resource_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the resource group.
                              scope:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                      description: This is a combination of pre-defined resource name and identifier
                                        (like Account ID etc.)
                                    objects:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          key:
                                            type: string
                                            description: This is a combination of pre-defined resource name and identifier
                                              (like Zone ID etc.)
                                        required:
                                          - key
                                      description: A list of scope objects for additional context.
                                  required:
                                    - key
                                    - objects
                                description: The scope associated to the resource group
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the resource group.
                              name:
                                type: string
                                description: Name of the resource group.
                            required:
                              - id
                              - scope
                          description: A list of resource groups that the policy applies to.
                    description: Access policy for the membership
                  roles:
                    type: array
                    items:
                      type: string
                    description: List of role names the membership has for this account.
                  status:
                    type: string
                    enum:
                      - accepted
                      - pending
                      - rejected
                    description: Status of this membership.
      x-distilled-response-path: result
    put:
      operationId: putMembership
      description: "Accept or reject this account invitation.  @example ```ts const
        membership = await client.memberships.update(
        '4536bcfad5faccb111b47003c79917fa', { status: 'accepted' }, ); ```"
      parameters:
        - name: membershipId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - accepted
                    - rejected
                  description: Whether to accept or reject this account invitation.
              required:
                - status
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Membership identifier tag.
                  account:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier
                      name:
                        type: string
                        description: Account name
                      type:
                        type: string
                        enum:
                          - standard
                          - enterprise
                      created_on:
                        type: string
                        description: Timestamp for the creation of the account
                      managed_by:
                        type: object
                        properties:
                          parent_org_id:
                            type: string
                            description: ID of the parent Organization, if one exists
                          parent_org_name:
                            type: string
                            description: Name of the parent Organization, if one exists
                        description: Parent container details
                      settings:
                        type: object
                        properties:
                          abuse_contact_email:
                            type: string
                            description: Sets an abuse contact email to notify for abuse reports.
                          enforce_twofactor:
                            type: boolean
                            description: Indicates whether membership in this account requires that
                              Two-Factor Authentication is enabled
                        description: Account settings
                    required:
                      - id
                      - name
                      - type
                  api_access_enabled:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Enterprise only. Indicates whether or not API access is enabled
                      specifically for this user on a given account.
                  permissions:
                    type: object
                    properties:
                      analytics:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      billing:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      cache_purge:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      dns:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      dns_records:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      lb:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      logs:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      organization:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      ssl:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      waf:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      zone_settings:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      zones:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                    description: All access permissions for the user at the account.
                  policies:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Policy identifier.
                        access:
                          type: string
                          enum:
                            - allow
                            - deny
                          description: Allow or deny operations against the resources.
                        permission_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the permission group.
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the permission group.
                              name:
                                type: string
                                description: Name of the permission group.
                            required:
                              - id
                          description: A set of permission groups that are specified to the policy.
                        resource_groups:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the resource group.
                              scope:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                      description: This is a combination of pre-defined resource name and identifier
                                        (like Account ID etc.)
                                    objects:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          key:
                                            type: string
                                            description: This is a combination of pre-defined resource name and identifier
                                              (like Zone ID etc.)
                                        required:
                                          - key
                                      description: A list of scope objects for additional context.
                                  required:
                                    - key
                                    - objects
                                description: The scope associated to the resource group
                              meta:
                                type: object
                                properties:
                                  key:
                                    type: string
                                  value:
                                    type: string
                                description: Attributes associated to the resource group.
                              name:
                                type: string
                                description: Name of the resource group.
                            required:
                              - id
                              - scope
                          description: A list of resource groups that the policy applies to.
                    description: Access policy for the membership
                  roles:
                    type: array
                    items:
                      type: string
                    description: List of role names the membership has for this account.
                  status:
                    type: string
                    enum:
                      - accepted
                      - pending
                      - rejected
                    description: Status of this membership.
      x-distilled-response-path: result
    delete:
      operationId: deleteMembership
      description: Remove the associated member from an account.  @example ```ts const
        membership = await client.memberships.delete(
        '4536bcfad5faccb111b47003c79917fa', ); ```
      parameters:
        - name: membershipId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Membership identifier tag.
      x-distilled-response-path: result
  /memberships:
    get:
      operationId: listMemberships
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Membership identifier tag.
                  account:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier
                      name:
                        type: string
                        description: Account name
                      type:
                        type: string
                        enum:
                          - standard
                          - enterprise
                      created_on:
                        type: string
                        description: Timestamp for the creation of the account
                      managed_by:
                        type: object
                        properties:
                          parent_org_id:
                            type: string
                            description: ID of the parent Organization, if one exists
                          parent_org_name:
                            type: string
                            description: Name of the parent Organization, if one exists
                        description: Parent container details
                      settings:
                        type: object
                        properties:
                          abuse_contact_email:
                            type: string
                            description: Sets an abuse contact email to notify for abuse reports.
                          enforce_twofactor:
                            type: boolean
                            description: Indicates whether membership in this account requires that
                              Two-Factor Authentication is enabled
                        description: Account settings
                    required:
                      - id
                      - name
                      - type
                  api_access_enabled:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Enterprise only. Indicates whether or not API access is enabled
                      specifically for this user on a given account.
                  permissions:
                    type: object
                    properties:
                      analytics:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      billing:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      cache_purge:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      dns:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      dns_records:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      lb:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      logs:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      organization:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      ssl:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      waf:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      zone_settings:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                      zones:
                        type: object
                        properties:
                          read:
                            type: boolean
                          write:
                            type: boolean
                    description: All access permissions for the user at the account.
                  roles:
                    type: array
                    items:
                      type: string
                    description: List of role names the membership has for this account.
                  status:
                    type: string
                    enum:
                      - accepted
                      - pending
                      - rejected
                    description: Status of this membership.
      x-distilled-pagination-class: MembershipsV4PagePaginationArray
