openapi: 3.1.0
info:
  title: Cloudflare MTLS-CERTIFICATES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: mtls-certificates
paths:
  /accounts/{account_id}/mtls_certificates/{mtlsCertificateId}/associations:
    get:
      operationId: getAssociation
      description: "Lists all active associations between the certificate and
        Cloudflare services.  @example ```ts // Automatically fetches more pages
        as needed. for await (const certificateAsssociation of
        client.mtlsCertificates.associations.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: mtlsCertificateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                    description: The service using the certificate.
                  status:
                    type: string
                    description: Certificate deployment status for the given service.
      x-distilled-pagination-class: CertificateAsssociationsSinglePage
  /accounts/{account_id}/mtls_certificates/{mtlsCertificateId}:
    get:
      operationId: getMtlsCertificate
      description: "Fetches a single mTLS certificate uploaded to your account. To get
        a certificate issued by the Cloudflare managed CA, use the [Client
        Certificate Details
        endpoint](/api/resources/client_certificates/methods/get/).  @example
        ```ts const mtlsCertificate = await client.mtlsCertificates.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: mtlsCertificateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  ca:
                    type: boolean
                    description: Indicates whether the certificate is a CA or leaf certificate.
                  certificates:
                    type: string
                    description: The uploaded root CA certificate.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  name:
                    type: string
                    description: Optional unique name for the certificate. Only used for human
                      readability.
                  serial_number:
                    type: string
                    description: The certificate serial number.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  type:
                    type: string
                    enum:
                      - custom
                      - gateway_managed
                      - access_managed
                    description: The type of the certificate, indicating how it was created and who
                      manages it.
                  uploaded_on:
                    type: string
                    description: This is the time the certificate was uploaded.
      x-distilled-response-path: result
      x-distilled-errors:
        CertificateNotFound:
          - code: 1472
            message:
              includes: Certificate not found
          - status: 404
    delete:
      operationId: deleteMtlsCertificate
      description: "Deletes the mTLS certificate unless the certificate is in use by
        one or more Cloudflare services.  @example ```ts const mtlsCertificate =
        await client.mtlsCertificates.delete(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: mtlsCertificateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  ca:
                    type: boolean
                    description: Indicates whether the certificate is a CA or leaf certificate.
                  certificates:
                    type: string
                    description: The uploaded root CA certificate.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  name:
                    type: string
                    description: Optional unique name for the certificate. Only used for human
                      readability.
                  serial_number:
                    type: string
                    description: The certificate serial number.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  type:
                    type: string
                    enum:
                      - custom
                      - gateway_managed
                      - access_managed
                    description: The type of the certificate, indicating how it was created and who
                      manages it.
                  uploaded_on:
                    type: string
                    description: This is the time the certificate was uploaded.
      x-distilled-response-path: result
      x-distilled-errors:
        CertificateNotFound:
          - code: 1472
            message:
              includes: Certificate not found
          - status: 404
  /accounts/{account_id}/mtls_certificates:
    get:
      operationId: listMtlsCertificates
      description: "Lists all mTLS certificates uploaded to your account, such as
        Bring Your Own CA (BYO-CA) for mTLS. To list certificates issued by the
        Cloudflare managed CA, use the [List Client Certificates
        endpoint](/api/resources/client_certificates/methods/list/).  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        mtlsCertificate of client.mtlsCertificates.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Query param: Filters results by certificate type. Multiple types
            can be comma-separated."
          schema:
            type: array
            items:
              type: string
              enum:
                - custom
                - gateway_managed
                - access_managed
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  ca:
                    type: boolean
                    description: Indicates whether the certificate is a CA or leaf certificate.
                  certificates:
                    type: string
                    description: The uploaded root CA certificate.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  name:
                    type: string
                    description: Optional unique name for the certificate. Only used for human
                      readability.
                  serial_number:
                    type: string
                    description: The certificate serial number.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  type:
                    type: string
                    enum:
                      - custom
                      - gateway_managed
                      - access_managed
                    description: The type of the certificate, indicating how it was created and who
                      manages it.
                  uploaded_on:
                    type: string
                    description: This is the time the certificate was uploaded.
      x-distilled-pagination-class: MTLSCertificatesSinglePage
    post:
      operationId: createMtlsCertificate
      description: "Upload a certificate that you want to use with mTLS-enabled
        Cloudflare services, such as Bring Your Own CA (BYO-CA) for mTLS. To
        create certificates issued by the Cloudflare managed CA, use the [Create
        Client Certificate
        endpoint](/api/resources/client_certificates/methods/create/).  @example
        ```ts const mtlsCertificate = await client.mtlsCertificates.create({
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', ca: true, certificates:
        '-----BEGIN
        CERTIFICATE-----\\nMIIDmDCCAoCgAwIBAgIUKTOAZNjcXVZRj4oQt0SHsl1c1vMwDQYJ\
        KoZIhvcNAQEL\\nBQAwUTELMAkGA1UEBhMCVVMxFjAUBgNVBAgMDVNhbiBGcmFuY2lzY28x\
        EzARBgNV\\nBAcMCkNhbGlmb3JuaWExFTATBgNVBAoMDEV4YW1wbGUgSW5jLjAgFw0yMjEx\
        MjIx\\nNjU5NDdaGA8yMTIyMTAyOTE2NTk0N1owUTELMAkGA1UEBhMCVVMxFjAUBgNVBAgM\
        \\nDVNhbiBGcmFuY2lzY28xEzARBgNVBAcMCkNhbGlmb3JuaWExFTATBgNVBAoMDEV4\\nY\
        W1wbGUgSW5jLjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMRcORwg\\nJFTdc\
        G/2GKI+cFYiOBNDKjCZUXEOvXWY42BkH9wxiMT869CO+enA1w5pIrXow6kC\\nM1sQspHHa\
        VmJUlotEMJxyoLFfA/8Kt1EKFyobOjuZs2SwyVyJ2sStvQuUQEosULZ\\nCNGZEqoH5g6zh\
        MPxaxm7ZLrrsDZ9maNGVqo7EWLWHrZ57Q/5MtTrbxQL+eXjUmJ9\\nK3kS+3uEwMdqR6Z3B\
        luU1ivanpPc1CN2GNhdO0/hSY4YkGEnuLsqJyDd3cIiB1Mx\\nuCBJ4ZaqOd2viV1WcP3oU\
        3dxVPm4MWyfYIldMWB14FahScxLhWdRnM9YZ/i9IFcL\\nypXsuz7DjrJPtPUCAwEAAaNmM\
        GQwHQYDVR0OBBYEFP5JzLUawNF+c3AXsYTEWHh7\\nz2czMB8GA1UdIwQYMBaAFP5JzLUaw\
        NF+c3AXsYTEWHh7z2czMA4GA1UdDwEB/wQE\\nAwIBBjASBgNVHRMBAf8ECDAGAQH/AgEBM\
        A0GCSqGSIb3DQEBCwUAA4IBAQBc+Be7\\nNDhpE09y7hLPZGRPl1cSKBw4RI0XIv6rlbSTF\
        s5EebpTGjhx/whNxwEZhB9HZ711\\n1Oa1YlT8xkI9DshB78mjAHCKBAJ76moK8tkG0aqdY\
        pJ4ZcJTVBB7l98Rvgc7zfTi\\ni7WemTy72deBbSeiEtXavm4EF0mWjHhQ5Nxpnp00Bqn5g\
        1x8CyTDypgmugnep+xG\\n+iFzNmTdsz7WI9T/7kDMXqB7M/FPWBORyS98OJqNDswCLF8bI\
        ZYwUBEe+bRHFomo\\nShMzaC3tvim7WCb16noDkSTMlfKO4pnvKhpcVdSgwcruATV7y+W+L\
        vmz2OT/Gui4\\nJhqeoTewsxndhDDE\\n-----END CERTIFICATE-----', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ca:
                  type: boolean
                  description: "Body param: Indicates whether the certificate is a CA or leaf
                    certificate."
                certificates:
                  type: string
                  description: "Body param: The uploaded root CA certificate."
                name:
                  type: string
                  description: "Body param: Optional unique name for the certificate. Only used
                    for human readability."
                private_key:
                  type: string
                  description: "Body param: The private key for the certificate. This field is
                    only needed for specific use cases such as using a custom
                    certificate with Zero Trust's block page."
              required:
                - ca
                - certificates
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  ca:
                    type: boolean
                    description: Indicates whether the certificate is a CA or leaf certificate.
                  certificates:
                    type: string
                    description: The uploaded root CA certificate.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  name:
                    type: string
                    description: Optional unique name for the certificate. Only used for human
                      readability.
                  serial_number:
                    type: string
                    description: The certificate serial number.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  type:
                    type: string
                    enum:
                      - custom
                      - gateway_managed
                      - access_managed
                    description: The type of the certificate, indicating how it was created and who
                      manages it.
                  updated_at:
                    type: string
                    description: This is the time the certificate was updated.
                  uploaded_on:
                    type: string
                    description: This is the time the certificate was uploaded.
      x-distilled-response-path: result
      x-distilled-errors:
        CertificateAlreadyExists:
          - code: 1471
            message:
              includes: already exists
