openapi: 3.1.0
info:
  title: Cloudflare MTLS-CERTIFICATES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: mtls-certificates
paths:
  /accounts/{account_id}/mtls_certificates/{mtlsCertificateId}/associations:
    get:
      operationId: getAssociation
      description: "Lists all active associations between the certificate and
        Cloudflare services.  @example ```ts // Automatically fetches more pages
        as needed. for await (const certificateAsssociation of
        client.mtlsCertificates.associations.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: mtlsCertificateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                    description: The service using the certificate.
                  status:
                    type: string
                    description: Certificate deployment status for the given service.
      x-distilled-pagination-class: CertificateAsssociationsSinglePage
  /accounts/{account_id}/mtls_certificates/{mtlsCertificateId}:
    get:
      operationId: getMtlsCertificate
      description: "Fetches a single mTLS certificate.  @example ```ts const
        mtlsCertificate = await client.mtlsCertificates.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: mtlsCertificateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  ca:
                    type: boolean
                    description: Indicates whether the certificate is a CA or leaf certificate.
                  certificates:
                    type: string
                    description: The uploaded root CA certificate.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  name:
                    type: string
                    description: Optional unique name for the certificate. Only used for human
                      readability.
                  serial_number:
                    type: string
                    description: The certificate serial number.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  uploaded_on:
                    type: string
                    description: This is the time the certificate was uploaded.
      x-distilled-response-path: result
    delete:
      operationId: deleteMtlsCertificate
      description: "Deletes the mTLS certificate unless the certificate is in use by
        one or more Cloudflare services.  @example ```ts const mtlsCertificate =
        await client.mtlsCertificates.delete(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: mtlsCertificateId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  ca:
                    type: boolean
                    description: Indicates whether the certificate is a CA or leaf certificate.
                  certificates:
                    type: string
                    description: The uploaded root CA certificate.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  name:
                    type: string
                    description: Optional unique name for the certificate. Only used for human
                      readability.
                  serial_number:
                    type: string
                    description: The certificate serial number.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  uploaded_on:
                    type: string
                    description: This is the time the certificate was uploaded.
      x-distilled-response-path: result
  /accounts/{account_id}/mtls_certificates:
    get:
      operationId: listMtlsCertificates
      description: "Lists all mTLS certificates.  @example ```ts // Automatically
        fetches more pages as needed. for await (const mtlsCertificate of
        client.mtlsCertificates.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  ca:
                    type: boolean
                    description: Indicates whether the certificate is a CA or leaf certificate.
                  certificates:
                    type: string
                    description: The uploaded root CA certificate.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  name:
                    type: string
                    description: Optional unique name for the certificate. Only used for human
                      readability.
                  serial_number:
                    type: string
                    description: The certificate serial number.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  uploaded_on:
                    type: string
                    description: This is the time the certificate was uploaded.
      x-distilled-pagination-class: MTLSCertificatesSinglePage
    post:
      operationId: createMtlsCertificate
      description: "Upload a certificate that you want to use with mTLS-enabled
        Cloudflare services.  @example ```ts const mtlsCertificate = await
        client.mtlsCertificates.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', ca: true, certificates: '-----BEGIN
        CERTIFICATE-----\\nMIIDmDCCAoCgAwIBAgIUKTOAZNjcXVZRj4oQt0SHsl1c1vMwDQYJ\
        KoZIhvcNAQELBQAwUTELMAkGA1UEBhMCVVMxFjAUBgNVBAgMDVNhbiBGcmFuY2lzY28xEzA\
        RBgNVBAcMCkNhbGlmb3JuaWExFTATBgNVBAoMDEV4YW1wbGUgSW5jLjAgFw0yMjExMjIxNj\
        U5NDdaGA8yMTIyMTAyOTE2NTk0N1owUTELMAkGA1UEBhMCVVMxFjAUBgNVBAgMDVNhbiBGc\
        mFuY2lzY28xEzARBgNVBAcMCkNhbGlmb3JuaWExFTATBgNVBAoMDEV4YW1wbGUgSW5jLjCC\
        ASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMRcORwgJFTdcG/2GKI+cFYiOBNDKjC\
        ZUXEOvXWY42BkH9wxiMT869CO+enA1w5pIrXow6kCM1sQspHHaVmJUlotEMJxyoLFfA/8Kt\
        1EKFyobOjuZs2SwyVyJ2sStvQuUQEosULZCNGZEqoH5g6zhMPxaxm7ZLrrsDZ9maNGVqo7E\
        WLWHrZ57Q/5MtTrbxQL+eXjUmJ9K3kS+3uEwMdqR6Z3BluU1ivanpPc1CN2GNhdO0/hSY4Y\
        kGEnuLsqJyDd3cIiB1MxuCBJ4ZaqOd2viV1WcP3oU3dxVPm4MWyfYIldMWB14FahScxLhWd\
        RnM9YZ/i9IFcLypXsuz7DjrJPtPUCAwEAAaNmMGQwHQYDVR0OBBYEFP5JzLUawNF+c3AXsY\
        TEWHh7z2czMB8GA1UdIwQYMBaAFP5JzLUawNF+c3AXsYTEWHh7z2czMA4GA1UdDwEB/wQEA\
        wIBBjASBgNVHRMBAf8ECDAGAQH/AgEBMA0GCSqGSIb3DQEBCwUAA4IBAQBc+Be7NDhpE09y\
        7hLPZGRPl1cSKBw4RI0XIv6rlbSTFs5EebpTGjhx/whNxwEZhB9HZ7111Oa1YlT8xkI9Dsh\
        B78mjAHCKBAJ76moK8tkG0aqdYpJ4ZcJTVBB7l98Rvgc7zfTii7WemTy72deBbSeiEtXavm\
        4EF0mWjHhQ5Nxpnp00Bqn5g1x8CyTDypgmugnep+xG+iFzNmTdsz7WI9T/7kDMXqB7M/FPW\
        BORyS98OJqNDswCLF8bIZYwUBEe+bRHFomoShMzaC3tvim7WCb16noDkSTMlfKO4pnvKhpc\
        VdSgwcruATV7y+W+Lvmz2OT/Gui4JhqeoTewsxndhDDE\\n-----END
        CERTIFICATE-----', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ca:
                  type: boolean
                  description: "Body param: Indicates whether the certificate is a CA or leaf
                    certificate."
                certificates:
                  type: string
                  description: "Body param: The uploaded root CA certificate."
                name:
                  type: string
                  description: "Body param: Optional unique name for the certificate. Only used
                    for human readability."
                private_key:
                  type: string
                  description: "Body param: The private key for the certificate. This field is
                    only needed for specific use cases such as using a custom
                    certificate with Zero Trust's block page."
              required:
                - ca
                - certificates
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  ca:
                    type: boolean
                    description: Indicates whether the certificate is a CA or leaf certificate.
                  certificates:
                    type: string
                    description: The uploaded root CA certificate.
                  expires_on:
                    type: string
                    description: When the certificate expires.
                  issuer:
                    type: string
                    description: The certificate authority that issued the certificate.
                  name:
                    type: string
                    description: Optional unique name for the certificate. Only used for human
                      readability.
                  serial_number:
                    type: string
                    description: The certificate serial number.
                  signature:
                    type: string
                    description: The type of hash used for the certificate.
                  updated_at:
                    type: string
                    description: This is the time the certificate was updated.
                  uploaded_on:
                    type: string
                    description: This is the time the certificate was uploaded.
      x-distilled-response-path: result
