openapi: 3.1.0
info:
  title: Cloudflare NETWORK-INTERCONNECTS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: network-interconnects
paths:
  /accounts/{account_id}/cni/cnis/{cni}:
    get:
      operationId: getCni
      description: "Get information about a CNI object  @example ```ts const cni =
        await client.networkInterconnects.cnis.get(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id: 'account_id' }, );
        ```"
      parameters:
        - name: cni
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Customer account tag
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  account:
                    type: string
                    description: Customer account tag
                  cust_ip:
                    type: string
                    description: Customer end of the point-to-point link  This should always be
                      inside the same prefix as `p2p_ip`.
                  interconnect:
                    type: string
                    description: Interconnect identifier hosting this CNI
                  magic:
                    type: object
                    properties:
                      conduit_name:
                        type: string
                      description:
                        type: string
                      mtu:
                        type: number
                    required:
                      - conduit_name
                      - description
                      - mtu
                  p2p_ip:
                    type: string
                    description: Cloudflare end of the point-to-point link
                  bgp:
                    type: object
                    properties:
                      customer_asn:
                        type: number
                        description: ASN used on the customer end of the BGP session
                      extra_prefixes:
                        type: array
                        items:
                          type: string
                        description: Extra set of static prefixes to advertise to the customer's end of
                          the session
                      md5_key:
                        oneOf:
                          - type: string
                        nullable: true
                        description: "MD5 key to use for session authentication.  Note that _this is not
                          a security measure_. MD5 is not a valid security
                          mechanism, and the key is not treated as a secret
                          value. This is _only_ supported for preventing
                          misconfiguration, not for defending against malicious
                          attacks.  The MD5 key, if set, must be of non-zero
                          length and consist only of the following types of
                          character:  - ASCII alphanumerics: `[a-zA-Z0-9]` -
                          Special characters in the set `'!@#$%^&
                          ()+[]{}<>/.,;:_-~`= \\|`  In other words, MD5 keys may
                          contain any printable ASCII character aside from
                          newline (0x0A), quotation mark (`\"`), vertical tab
                          (0x0B), carriage return (0x0D), tab (0x09), form feed
                          (0x0C), and the question mark (`?`). Requests
                          specifying an MD5 key with one or more of these
                          disallowed characters will be rejected."
                    required:
                      - customer_asn
                      - extra_prefixes
                required:
                  - id
                  - account
                  - cust_ip
                  - interconnect
                  - magic
                  - p2p_ip
    put:
      operationId: updateCni
      description: "Modify stored information about a CNI object  @example ```ts const
        cni = await client.networkInterconnects.cnis.update(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id: 'account_id', id:
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', account: 'account', cust_ip:
        '192.168.3.4/31', interconnect: 'interconnect', magic: { conduit_name:
        'conduit_name', description: 'description', mtu: 0, }, p2p_ip:
        '192.168.3.4/31', }, ); ```"
      parameters:
        - name: cni
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Customer account tag"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Body param
                account:
                  type: string
                  description: "Body param: Customer account tag"
                cust_ip:
                  type: string
                  description: "Body param: Customer end of the point-to-point link  This should
                    always be inside the same prefix as `p2p_ip`."
                interconnect:
                  type: string
                  description: "Body param: Interconnect identifier hosting this CNI"
                magic:
                  type: object
                  properties:
                    conduit_name:
                      type: string
                    description:
                      type: string
                    mtu:
                      type: number
                  required:
                    - conduit_name
                    - description
                    - mtu
                  description: Body param
                p2p_ip:
                  type: string
                  description: "Body param: Cloudflare end of the point-to-point link"
                bgp:
                  type: object
                  properties:
                    customer_asn:
                      type: number
                      description: ASN used on the customer end of the BGP session
                    extra_prefixes:
                      type: array
                      items:
                        type: string
                      description: Extra set of static prefixes to advertise to the customer's end of
                        the session
                    md5_key:
                      oneOf:
                        - type: string
                      nullable: true
                      description: "MD5 key to use for session authentication.  Note that _this is not
                        a security measure_. MD5 is not a valid security
                        mechanism, and the key is not treated as a secret value.
                        This is _only_ supported for preventing
                        misconfiguration, not for defending against malicious
                        attacks.  The MD5 key, if set, must be of non-zero
                        length and consist only of the following types of
                        character:  - ASCII alphanumerics: `[a-zA-Z0-9]` -
                        Special characters in the set `'!@#$%^&
                        ()+[]{}<>/.,;:_-~`= \\|`  In other words, MD5 keys may
                        contain any printable ASCII character aside from newline
                        (0x0A), quotation mark (`\"`), vertical tab (0x0B),
                        carriage return (0x0D), tab (0x09), form feed (0x0C),
                        and the question mark (`?`). Requests specifying an MD5
                        key with one or more of these disallowed characters will
                        be rejected."
                  required:
                    - customer_asn
                    - extra_prefixes
                  description: Body param
              required:
                - id
                - account
                - cust_ip
                - interconnect
                - magic
                - p2p_ip
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  account:
                    type: string
                    description: Customer account tag
                  cust_ip:
                    type: string
                    description: Customer end of the point-to-point link  This should always be
                      inside the same prefix as `p2p_ip`.
                  interconnect:
                    type: string
                    description: Interconnect identifier hosting this CNI
                  magic:
                    type: object
                    properties:
                      conduit_name:
                        type: string
                      description:
                        type: string
                      mtu:
                        type: number
                    required:
                      - conduit_name
                      - description
                      - mtu
                  p2p_ip:
                    type: string
                    description: Cloudflare end of the point-to-point link
                  bgp:
                    type: object
                    properties:
                      customer_asn:
                        type: number
                        description: ASN used on the customer end of the BGP session
                      extra_prefixes:
                        type: array
                        items:
                          type: string
                        description: Extra set of static prefixes to advertise to the customer's end of
                          the session
                      md5_key:
                        oneOf:
                          - type: string
                        nullable: true
                        description: "MD5 key to use for session authentication.  Note that _this is not
                          a security measure_. MD5 is not a valid security
                          mechanism, and the key is not treated as a secret
                          value. This is _only_ supported for preventing
                          misconfiguration, not for defending against malicious
                          attacks.  The MD5 key, if set, must be of non-zero
                          length and consist only of the following types of
                          character:  - ASCII alphanumerics: `[a-zA-Z0-9]` -
                          Special characters in the set `'!@#$%^&
                          ()+[]{}<>/.,;:_-~`= \\|`  In other words, MD5 keys may
                          contain any printable ASCII character aside from
                          newline (0x0A), quotation mark (`\"`), vertical tab
                          (0x0B), carriage return (0x0D), tab (0x09), form feed
                          (0x0C), and the question mark (`?`). Requests
                          specifying an MD5 key with one or more of these
                          disallowed characters will be rejected."
                    required:
                      - customer_asn
                      - extra_prefixes
                required:
                  - id
                  - account
                  - cust_ip
                  - interconnect
                  - magic
                  - p2p_ip
    delete:
      operationId: deleteCni
      description: "Delete a specified CNI object  @example ```ts await
        client.networkInterconnects.cnis.delete(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id: 'account_id' }, );
        ```"
      parameters:
        - name: cni
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Customer account tag
          schema:
            type: string
      responses:
        "200":
          description: Success
  /accounts/{account_id}/cni/cnis:
    get:
      operationId: listCnis
      description: "List existing CNI objects  @example ```ts const cnis = await
        client.networkInterconnects.cnis.list({ account_id: 'account_id', });
        ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Customer account tag"
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: Query param
          schema:
            oneOf:
              - type: number
            nullable: true
        - name: limit
          in: query
          required: false
          description: Query param
          schema:
            oneOf:
              - type: number
            nullable: true
        - name: slot
          in: query
          required: false
          description: "Query param: If specified, only show CNIs associated with the
            specified slot"
          schema:
            oneOf:
              - type: string
            nullable: true
        - name: tunnel_id
          in: query
          required: false
          description: "Query param: If specified, only show cnis associated with the
            specified tunnel id"
          schema:
            oneOf:
              - type: string
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        account:
                          type: string
                          description: Customer account tag
                        cust_ip:
                          type: string
                          description: Customer end of the point-to-point link  This should always be
                            inside the same prefix as `p2p_ip`.
                        interconnect:
                          type: string
                          description: Interconnect identifier hosting this CNI
                        magic:
                          type: object
                          properties:
                            conduit_name:
                              type: string
                            description:
                              type: string
                            mtu:
                              type: number
                          required:
                            - conduit_name
                            - description
                            - mtu
                        p2p_ip:
                          type: string
                          description: Cloudflare end of the point-to-point link
                        bgp:
                          type: object
                          properties:
                            customer_asn:
                              type: number
                              description: ASN used on the customer end of the BGP session
                            extra_prefixes:
                              type: array
                              items:
                                type: string
                              description: Extra set of static prefixes to advertise to the customer's end of
                                the session
                            md5_key:
                              oneOf:
                                - type: string
                              nullable: true
                              description: "MD5 key to use for session authentication.  Note that _this is not
                                a security measure_. MD5 is not a valid security
                                mechanism, and the key is not treated as a
                                secret value. This is _only_ supported for
                                preventing misconfiguration, not for defending
                                against malicious attacks.  The MD5 key, if set,
                                must be of non-zero length and consist only of
                                the following types of character:  - ASCII
                                alphanumerics: `[a-zA-Z0-9]` - Special
                                characters in the set `'!@#$%^&
                                ()+[]{}<>/.,;:_-~`= \\|`  In other words, MD5
                                keys may contain any printable ASCII character
                                aside from newline (0x0A), quotation mark
                                (`\"`), vertical tab (0x0B), carriage return
                                (0x0D), tab (0x09), form feed (0x0C), and the
                                question mark (`?`). Requests specifying an MD5
                                key with one or more of these disallowed
                                characters will be rejected."
                          required:
                            - customer_asn
                            - extra_prefixes
                      required:
                        - id
                        - account
                        - cust_ip
                        - interconnect
                        - magic
                        - p2p_ip
                  next:
                    oneOf:
                      - type: number
                    nullable: true
                required:
                  - items
    post:
      operationId: createCni
      description: "Create a new CNI object  @example ```ts const cni = await
        client.networkInterconnects.cnis.create({ account_id: 'account_id',
        account: 'account', interconnect: 'interconnect', magic: { conduit_name:
        'conduit_name', description: 'description', mtu: 0, }, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Customer account tag"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account:
                  type: string
                  description: "Body param: Customer account tag"
                interconnect:
                  type: string
                  description: Body param
                magic:
                  type: object
                  properties:
                    conduit_name:
                      type: string
                    description:
                      type: string
                    mtu:
                      type: number
                  required:
                    - conduit_name
                    - description
                    - mtu
                  description: Body param
                bgp:
                  type: object
                  properties:
                    customer_asn:
                      type: number
                      description: ASN used on the customer end of the BGP session
                    extra_prefixes:
                      type: array
                      items:
                        type: string
                      description: Extra set of static prefixes to advertise to the customer's end of
                        the session
                    md5_key:
                      oneOf:
                        - type: string
                      nullable: true
                      description: "MD5 key to use for session authentication.  Note that _this is not
                        a security measure_. MD5 is not a valid security
                        mechanism, and the key is not treated as a secret value.
                        This is _only_ supported for preventing
                        misconfiguration, not for defending against malicious
                        attacks.  The MD5 key, if set, must be of non-zero
                        length and consist only of the following types of
                        character:  - ASCII alphanumerics: `[a-zA-Z0-9]` -
                        Special characters in the set `'!@#$%^&
                        ()+[]{}<>/.,;:_-~`= \\|`  In other words, MD5 keys may
                        contain any printable ASCII character aside from newline
                        (0x0A), quotation mark (`\"`), vertical tab (0x0B),
                        carriage return (0x0D), tab (0x09), form feed (0x0C),
                        and the question mark (`?`). Requests specifying an MD5
                        key with one or more of these disallowed characters will
                        be rejected."
                  required:
                    - customer_asn
                    - extra_prefixes
                  description: Body param
              required:
                - account
                - interconnect
                - magic
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  account:
                    type: string
                    description: Customer account tag
                  cust_ip:
                    type: string
                    description: Customer end of the point-to-point link  This should always be
                      inside the same prefix as `p2p_ip`.
                  interconnect:
                    type: string
                    description: Interconnect identifier hosting this CNI
                  magic:
                    type: object
                    properties:
                      conduit_name:
                        type: string
                      description:
                        type: string
                      mtu:
                        type: number
                    required:
                      - conduit_name
                      - description
                      - mtu
                  p2p_ip:
                    type: string
                    description: Cloudflare end of the point-to-point link
                  bgp:
                    type: object
                    properties:
                      customer_asn:
                        type: number
                        description: ASN used on the customer end of the BGP session
                      extra_prefixes:
                        type: array
                        items:
                          type: string
                        description: Extra set of static prefixes to advertise to the customer's end of
                          the session
                      md5_key:
                        oneOf:
                          - type: string
                        nullable: true
                        description: "MD5 key to use for session authentication.  Note that _this is not
                          a security measure_. MD5 is not a valid security
                          mechanism, and the key is not treated as a secret
                          value. This is _only_ supported for preventing
                          misconfiguration, not for defending against malicious
                          attacks.  The MD5 key, if set, must be of non-zero
                          length and consist only of the following types of
                          character:  - ASCII alphanumerics: `[a-zA-Z0-9]` -
                          Special characters in the set `'!@#$%^&
                          ()+[]{}<>/.,;:_-~`= \\|`  In other words, MD5 keys may
                          contain any printable ASCII character aside from
                          newline (0x0A), quotation mark (`\"`), vertical tab
                          (0x0B), carriage return (0x0D), tab (0x09), form feed
                          (0x0C), and the question mark (`?`). Requests
                          specifying an MD5 key with one or more of these
                          disallowed characters will be rejected."
                    required:
                      - customer_asn
                      - extra_prefixes
                required:
                  - id
                  - account
                  - cust_ip
                  - interconnect
                  - magic
                  - p2p_ip
  /accounts/{account_id}/cni/interconnects/{icon}:
    get:
      operationId: getInterconnect
      description: "Get information about an interconnect object  @example ```ts const
        interconnect = await client.networkInterconnects.interconnects.get(
        'icon', { account_id: 'account_id' }, ); ```"
      parameters:
        - name: icon
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Customer account tag
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      account:
                        type: string
                      facility:
                        type: object
                        properties:
                          address:
                            type: array
                            items:
                              type: string
                          name:
                            type: string
                        required:
                          - address
                          - name
                      name:
                        type: string
                      site:
                        type: string
                        description: A Cloudflare site name.
                      slot_id:
                        type: string
                      speed:
                        type: string
                      type:
                        type: string
                      owner:
                        type: string
                    required:
                      - account
                      - facility
                      - name
                      - site
                      - slot_id
                      - speed
                      - type
                  - type: object
                    properties:
                      account:
                        type: string
                      name:
                        type: string
                      region:
                        type: string
                      type:
                        type: string
                      owner:
                        type: string
                      speed:
                        type: string
                        enum:
                          - 50M
                          - 100M
                          - 200M
                          - 300M
                          - 400M
                          - 500M
                          - 1G
                          - 2G
                          - 5G
                          - 10G
                          - 20G
                          - 50G
                        description: Bandwidth structure as visible through the customer-facing API.
                    required:
                      - account
                      - name
                      - region
                      - type
    delete:
      operationId: deleteInterconnect
      description: "Delete an interconnect object  @example ```ts await
        client.networkInterconnects.interconnects.delete( 'icon', { account_id:
        'account_id' }, ); ```"
      parameters:
        - name: icon
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Customer account tag
          schema:
            type: string
      responses:
        "200":
          description: Success
  /accounts/{account_id}/cni/interconnects:
    get:
      operationId: listInterconnects
      description: "List existing interconnects  @example ```ts const interconnects =
        await client.networkInterconnects.interconnects.list({ account_id:
        'account_id', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Customer account tag"
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          description: Query param
          schema:
            oneOf:
              - type: number
            nullable: true
        - name: limit
          in: query
          required: false
          description: Query param
          schema:
            oneOf:
              - type: number
            nullable: true
        - name: site
          in: query
          required: false
          description: "Query param: If specified, only show interconnects located at the
            given site"
          schema:
            oneOf:
              - type: string
            nullable: true
        - name: type
          in: query
          required: false
          description: "Query param: If specified, only show interconnects of the given
            type"
          schema:
            oneOf:
              - type: string
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            account:
                              type: string
                            facility:
                              type: object
                              properties:
                                address:
                                  type: array
                                  items:
                                    type: string
                                name:
                                  type: string
                              required:
                                - address
                                - name
                            name:
                              type: string
                            site:
                              type: string
                              description: A Cloudflare site name.
                            slot_id:
                              type: string
                            speed:
                              type: string
                            type:
                              type: string
                            owner:
                              type: string
                          required:
                            - account
                            - facility
                            - name
                            - site
                            - slot_id
                            - speed
                            - type
                        - type: object
                          properties:
                            account:
                              type: string
                            name:
                              type: string
                            region:
                              type: string
                            type:
                              type: string
                            owner:
                              type: string
                            speed:
                              type: string
                              enum:
                                - 50M
                                - 100M
                                - 200M
                                - 300M
                                - 400M
                                - 500M
                                - 1G
                                - 2G
                                - 5G
                                - 10G
                                - 20G
                                - 50G
                              description: Bandwidth structure as visible through the customer-facing API.
                          required:
                            - account
                            - name
                            - region
                            - type
                  next:
                    oneOf:
                      - type: number
                    nullable: true
                required:
                  - items
    post:
      operationId: createInterconnect
      description: "Create a new interconnect  @example ```ts const interconnect =
        await client.networkInterconnects.interconnects.create({ account_id:
        'account_id', account: 'account', slot_id:
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', type: 'type', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Customer account tag"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account:
                  type: string
                  description: Body param
                slot_id:
                  type: string
                  description: Body param
                type:
                  type: string
                  description: Body param
                speed:
                  oneOf:
                    - type: string
                  nullable: true
                  description: Body param
                bandwidth:
                  type: string
                  enum:
                    - 50M
                    - 100M
                    - 200M
                    - 300M
                    - 400M
                    - 500M
                    - 1G
                    - 2G
                    - 5G
                    - 10G
                    - 20G
                    - 50G
                  description: "Body param: Bandwidth structure as visible through the
                    customer-facing API."
                pairing_key:
                  type: string
                  description: "Body param: Pairing key provided by GCP"
              required:
                - account
                - type
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      account:
                        type: string
                      facility:
                        type: object
                        properties:
                          address:
                            type: array
                            items:
                              type: string
                          name:
                            type: string
                        required:
                          - address
                          - name
                      name:
                        type: string
                      site:
                        type: string
                        description: A Cloudflare site name.
                      slot_id:
                        type: string
                      speed:
                        type: string
                      type:
                        type: string
                      owner:
                        type: string
                    required:
                      - account
                      - facility
                      - name
                      - site
                      - slot_id
                      - speed
                      - type
                  - type: object
                    properties:
                      account:
                        type: string
                      name:
                        type: string
                      region:
                        type: string
                      type:
                        type: string
                      owner:
                        type: string
                      speed:
                        type: string
                        enum:
                          - 50M
                          - 100M
                          - 200M
                          - 300M
                          - 400M
                          - 500M
                          - 1G
                          - 2G
                          - 5G
                          - 10G
                          - 20G
                          - 50G
                        description: Bandwidth structure as visible through the customer-facing API.
                    required:
                      - account
                      - name
                      - region
                      - type
  /accounts/{account_id}/cni/interconnects/{icon}/status:
    get:
      operationId: statusInterconnect
      description: "Get the current status of an interconnect object  @example ```ts
        const response = await client.networkInterconnects.interconnects.status(
        'icon', { account_id: 'account_id' }, ); ```"
      parameters:
        - name: icon
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Customer account tag
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      state:
                        type: string
                        enum:
                          - Pending
                    required:
                      - state
                  - type: object
                    properties:
                      state:
                        type: string
                        enum:
                          - Down
                      reason:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Diagnostic information, if available
                    required:
                      - state
                  - type: object
                    properties:
                      state:
                        type: string
                        enum:
                          - Unhealthy
                      reason:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Diagnostic information, if available
                    required:
                      - state
                  - type: object
                    properties:
                      state:
                        type: string
                        enum:
                          - Healthy
                    required:
                      - state
  /accounts/{account_id}/cni/interconnects/{icon}/loa:
    get:
      operationId: loaInterconnect
      description: "Generate the Letter of Authorization (LOA) for a given
        interconnect  @example ```ts await
        client.networkInterconnects.interconnects.loa( 'icon', { account_id:
        'account_id' }, ); ```"
      parameters:
        - name: icon
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Customer account tag
          schema:
            type: string
      responses:
        "200":
          description: Success
  /accounts/{account_id}/cni/settings:
    get:
      operationId: getSetting
      description: "Get the current settings for the active account  @example ```ts
        const setting = await client.networkInterconnects.settings.get({
        account_id: 'account_id', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Account tag to retrieve settings for
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_asn:
                    type: number
                required:
                  - default_asn
    put:
      operationId: putSetting
      description: "Update the current settings for the active account  @example ```ts
        const setting = await client.networkInterconnects.settings.update({
        account_id: 'account_id', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account tag to update settings for"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                default_asn:
                  oneOf:
                    - type: number
                  nullable: true
                  description: Body param
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_asn:
                    type: number
                required:
                  - default_asn
  /accounts/{account_id}/cni/slots/{slot}:
    get:
      operationId: getSlot
      description: "Get information about the specified slot  @example ```ts const
        slot = await client.networkInterconnects.slots.get(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id: 'account_id' }, );
        ```"
      parameters:
        - name: slot
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Customer account tag
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Slot ID
                  facility:
                    type: object
                    properties:
                      address:
                        type: array
                        items:
                          type: string
                      name:
                        type: string
                    required:
                      - address
                      - name
                  occupied:
                    type: boolean
                    description: Whether the slot is occupied or not
                  site:
                    type: string
                  speed:
                    type: string
                  account:
                    type: string
                    description: Customer account tag
                required:
                  - id
                  - facility
                  - occupied
                  - site
                  - speed
  /accounts/{account_id}/cni/slots:
    get:
      operationId: listSlots
      description: "Retrieve a list of all slots matching the specified
        parameters  @example ```ts const slots = await
        client.networkInterconnects.slots.list({ account_id: 'account_id', });
        ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Customer account tag"
          schema:
            type: string
        - name: address_contains
          in: query
          required: false
          description: "Query param: If specified, only show slots with the given text in
            their address field"
          schema:
            oneOf:
              - type: string
            nullable: true
        - name: cursor
          in: query
          required: false
          description: Query param
          schema:
            oneOf:
              - type: number
            nullable: true
        - name: limit
          in: query
          required: false
          description: Query param
          schema:
            oneOf:
              - type: number
            nullable: true
        - name: occupied
          in: query
          required: false
          description: "Query param: If specified, only show slots with a specific
            occupied/unoccupied state"
          schema:
            oneOf:
              - type: boolean
            nullable: true
        - name: site
          in: query
          required: false
          description: "Query param: If specified, only show slots located at the given
            site"
          schema:
            oneOf:
              - type: string
            nullable: true
        - name: speed
          in: query
          required: false
          description: "Query param: If specified, only show slots that support the given
            speed"
          schema:
            oneOf:
              - type: string
            nullable: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Slot ID
                        facility:
                          type: object
                          properties:
                            address:
                              type: array
                              items:
                                type: string
                            name:
                              type: string
                          required:
                            - address
                            - name
                        occupied:
                          type: boolean
                          description: Whether the slot is occupied or not
                        site:
                          type: string
                        speed:
                          type: string
                        account:
                          type: string
                          description: Customer account tag
                      required:
                        - id
                        - facility
                        - occupied
                        - site
                        - speed
                  next:
                    oneOf:
                      - type: number
                    nullable: true
                required:
                  - items
