openapi: 3.1.0
info:
  title: Cloudflare ORGANIZATIONS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: organizations
paths:
  /organizations/{organizationId}/billable/usage:
    get:
      operationId: getBillingUsage
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    BillingAccountId:
                      type: string
                      description: Public identifier of the Cloudflare account (account tag).
                    BillingAccountName:
                      type: string
                      description: Display name of the Cloudflare account.
                    ChargeCategory:
                      type: string
                      enum:
                        - Usage
                      description: Highest-level classification of a charge based on the nature of how
                        it gets billed. Currently only "Usage" is supported.
                    ChargeDescription:
                      type: string
                      description: Self-contained summary of the charge's purpose and price.
                    ChargeFrequency:
                      type: string
                      enum:
                        - Usage-Based
                      description: Indicates how often a charge occurs. Currently only "Usage-Based"
                        is supported.
                    ChargePeriodEnd:
                      type: string
                      description: Exclusive end of the time interval during which the usage was
                        consumed.
                    ChargePeriodStart:
                      type: string
                      description: Inclusive start of the time interval during which the usage was
                        consumed.
                    ConsumedQuantity:
                      type: number
                      description: Measured usage amount within the charge period. Reflects raw
                        metered consumption before pricing transformations.
                    ConsumedUnit:
                      type: string
                      description: Unit of measure for the consumed quantity (e.g., "GB", "Requests",
                        "vCPU-Hours").
                    HostProviderName:
                      type: string
                      description: Name of the entity providing the underlying infrastructure or
                        platform.
                    InvoiceIssuerName:
                      type: string
                      description: Name of the entity responsible for invoicing for the services
                        consumed.
                    ServiceProviderName:
                      type: string
                      description: Name of the entity that made the services available for purchase.
                    x_BillableMetricName:
                      type: string
                      description: The display name of the billable metric. Cloudflare extension;
                        replaces FOCUS SkuMeter.
                    BilledCost:
                      oneOf:
                        - type: number
                      nullable: true
                      description: A charge serving as the basis for invoicing, inclusive of all
                        reduced rates and discounts while excluding the
                        amortization of upfront charges (one-time or recurring).
                    BillingCurrency:
                      oneOf:
                        - type: string
                      nullable: true
                      description: Currency that a charge was billed in (ISO 4217).
                    BillingPeriodEnd:
                      oneOf:
                        - type: string
                      nullable: true
                      description: Exclusive end of the billing cycle that contains this usage record.
                    BillingPeriodStart:
                      oneOf:
                        - type: string
                      nullable: true
                      description: Inclusive start of the billing cycle that contains this usage
                        record.
                    ChargeClass:
                      type: string
                      enum:
                        - Correction
                      nullable: true
                      description: Indicates whether the row represents a correction to one or more
                        charges invoiced in a previous billing period.
                    ContractedCost:
                      oneOf:
                        - type: number
                      nullable: true
                      description: Cost calculated by multiplying ContractedUnitPrice and the
                        corresponding PricingQuantity.
                    ContractedUnitPrice:
                      oneOf:
                        - type: number
                      nullable: true
                      description: The agreed-upon unit price for a single PricingUnit of the
                        associated billable metric, inclusive of negotiated
                        discounts, if present, while excluding any other
                        discounts.
                    EffectiveCost:
                      oneOf:
                        - type: number
                      nullable: true
                      description: The amortized cost of the charge after applying all reduced rates,
                        discounts, and the applicable portion of relevant,
                        prepaid purchases (one-time or recurring) that covered
                        the charge.
                    ListCost:
                      oneOf:
                        - type: number
                      nullable: true
                      description: Cost calculated by multiplying ListUnitPrice and the corresponding
                        PricingQuantity.
                    ListUnitPrice:
                      oneOf:
                        - type: number
                      nullable: true
                      description: Suggested provider-published unit price for a single PricingUnit of
                        the associated billable metric, exclusive of any
                        discounts.
                    PricingQuantity:
                      oneOf:
                        - type: number
                      nullable: true
                      description: Volume of a given service used or purchased, based on the
                        PricingUnit.
                    PricingUnit:
                      oneOf:
                        - type: string
                      nullable: true
                      description: Provider-specified measurement unit for determining unit prices,
                        indicating how the provider rates measured usage after
                        applying pricing rules like block pricing.
                    RegionId:
                      oneOf:
                        - type: string
                      nullable: true
                      description: Provider-assigned identifier for an isolated geographic area where
                        a service is provided.
                    RegionName:
                      oneOf:
                        - type: string
                      nullable: true
                      description: Name of an isolated geographic area where a service is provided.
                    SubAccountId:
                      type: string
                      description: Unique identifier assigned to a grouping of services. For
                        Cloudflare, this is the subscription or contract ID.
                    SubAccountName:
                      type: string
                      description: Name assigned to a grouping of services. For Cloudflare, this is
                        the subscription or contract display name.
                    x_BillableMetricId:
                      type: string
                      description: The unique identifier for the billable metric in the Cloudflare
                        catalog. Cloudflare extension; replaces FOCUS SkuId.
                    x_ProductFamilyName:
                      type: string
                      description: The product family the charge belongs to (e.g., "R2", "Workers").
                        Cloudflare extension; replaces FOCUS ServiceName.
                    x_ZoneId:
                      oneOf:
                        - type: string
                      nullable: true
                      description: The identifier for the Cloudflare zone (zone tag). Cloudflare
                        extension.
                    x_ZoneName:
                      oneOf:
                        - type: string
                      nullable: true
                      description: The display name of the Cloudflare zone. Cloudflare extension.
                  required:
                    - BillingAccountId
                    - BillingAccountName
                    - ChargeCategory
                    - ChargeDescription
                    - ChargeFrequency
                    - ChargePeriodEnd
                    - ChargePeriodStart
                    - ConsumedQuantity
                    - ConsumedUnit
                    - HostProviderName
                    - InvoiceIssuerName
                    - ServiceProviderName
                    - x_BillableMetricName
      x-distilled-response-path: result
  /organizations/{organizationId}/logs/audit:
    get:
      operationId: listLogAudits
      description: Gets a list of audit logs for an organization.
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: before
          in: query
          required: true
          description: Limits the returned results to logs older than the specified date.
            This can be a date string 2019-04-30 (interpreted in UTC) or an
            absolute timestamp that conforms to RFC3339.
          schema:
            type: string
        - name: since
          in: query
          required: true
          description: Limits the returned results to logs newer than the specified date.
            This can be a date string 2019-04-30 (interpreted in UTC) or an
            absolute timestamp that conforms to RFC3339.
          schema:
            type: string
        - name: id
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by their IDs.
        - name: action_result
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                  enum:
                    - success
                    - failure
                description: Filters out audit logs by whether the action was successful or not.
        - name: action_type
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                  enum:
                    - create
                    - delete
                    - view
                    - update
                description: Filters out audit logs by the action type.
        - name: actor_context
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                  enum:
                    - api_key
                    - api_token
                    - dash
                    - oauth
                    - origin_ca_key
                description: Filters out audit logs by the actor context.
        - name: actor_email
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by the actor's email address.
        - name: actor_id
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by the actor's user ID.
        - name: actor_ip_address
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs IP address where the action was initiated.
        - name: actor_token_id
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by the API token ID when the actor context
                  is an api_token or oauth.
        - name: actor_token_name
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by the API token name when the actor context
                  is an api_token or oauth.
        - name: actor_type
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                  enum:
                    - cloudflare_admin
                    - system
                    - user
                description: Filters out audit logs by the actor type.
        - name: direction
          in: query
          required: false
          description: Sets sorting order.
          schema:
            type: string
            enum:
              - desc
              - asc
        - name: limit
          in: query
          required: false
          description: The number limits the objects to return. The cursor attribute may
            be used to iterate over the next batch of objects if there are more
            than the limit.
          schema:
            type: number
        - name: raw_cf_ray_id
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by the response CF Ray ID.
        - name: raw_method
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by the HTTP method for the API call.
        - name: raw_status_code
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: number
                description: Filters out audit logs by the response status code that was
                  returned.
        - name: raw_uri
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by the request URI.
        - name: resource_id
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by the resource ID.
        - name: resource_product
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs by the Cloudflare product associated with
                  the changed resource.
        - name: resource_scope
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                  enum:
                    - organizations
                description: Filters out audit logs by the resource scope, specifying whether
                  the resource is associated with an organization.
        - name: resource_type
          in: query
          required: false
          schema:
            type: object
            properties:
              not:
                type: array
                items:
                  type: string
                description: Filters out audit logs based on the unique type of resource changed
                  by the action.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: A unique identifier for the audit log entry.
                  action:
                    type: object
                    properties:
                      description:
                        type: string
                        description: A short description of the action performed.
                      result:
                        type: string
                        description: The result of the action, indicating success or failure.
                      time:
                        type: string
                        description: A timestamp indicating when the action was logged.
                      type:
                        type: string
                        description: A short string that describes the action that was performed.
                    description: Provides information about the action performed.
                  actor:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the actor who performed the action. If a user performed
                          the action, this will be their User ID.
                      context:
                        type: string
                        enum:
                          - api_key
                          - api_token
                          - dash
                          - oauth
                          - origin_ca_key
                      email:
                        type: string
                        description: The email of the actor who performed the action.
                      ip_address:
                        type: string
                        description: The IP address of the request that performed the action.
                      token_id:
                        type: string
                        description: The API token ID when the actor context is an api_token or oauth.
                      token_name:
                        type: string
                        description: The API token name when the actor context is an api_token or oauth.
                      type:
                        type: string
                        enum:
                          - cloudflare_admin
                          - system
                          - user
                        description: The type of actor.
                    description: Provides details about the actor who performed the action.
                  organization:
                    type: object
                    properties:
                      id:
                        type: string
                        description: A unique identifier for the organization.
                    description: Contains organization related information.
                  raw:
                    type: object
                    properties:
                      cf_ray_id:
                        type: string
                        description: The Cloudflare Ray ID for the request.
                      method:
                        type: string
                        description: The HTTP method of the request.
                      status_code:
                        type: number
                        description: The HTTP response status code returned by the API.
                      uri:
                        type: string
                        description: The URI of the request.
                      user_agent:
                        type: string
                        description: The client's user agent string sent with the request.
                    description: Provides raw information about the request and response.
                  resource:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The unique identifier for the affected resource.
                      product:
                        type: string
                        description: The Cloudflare product associated with the resource.
                      request: {}
                      response: {}
                      scope:
                        description: The scope of the resource.
                      type:
                        type: string
                        description: The type of the resource.
                    description: Provides details about the affected resource.
      x-distilled-pagination-class: AuditListResponsesCursorPaginationAfter
  /organizations/{organizationId}:
    get:
      operationId: getOrganization
      description: Retrieve the details of a certain organization. (Currently in
        Public Beta - see
        https://developers.cloudflare.com/fundamentals/organizations/)
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  create_time:
                    type: string
                  meta:
                    type: object
                    properties:
                      flags:
                        type: object
                        properties:
                          account_creation:
                            type: string
                          account_deletion:
                            type: string
                          account_migration:
                            type: string
                          account_mobility:
                            type: string
                          sub_org_creation:
                            type: string
                        required:
                          - account_creation
                          - account_deletion
                          - account_migration
                          - account_mobility
                          - sub_org_creation
                        description: Enable features for Organizations.
                      managed_by:
                        type: string
                  name:
                    type: string
                  parent:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                      - id
                      - name
                  profile:
                    type: object
                    properties:
                      business_address:
                        type: string
                      business_email:
                        type: string
                      business_name:
                        type: string
                      business_phone:
                        type: string
                      external_metadata:
                        type: string
                    required:
                      - business_address
                      - business_email
                      - business_name
                      - business_phone
                      - external_metadata
                required:
                  - id
                  - create_time
                  - meta
                  - name
      x-distilled-response-path: result
    put:
      operationId: updateOrganization
      description: Modify organization. (Currently in Public Beta - see
        https://developers.cloudflare.com/fundamentals/organizations/)
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                parent:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                    - id
                profile:
                  type: object
                  properties:
                    business_address:
                      type: string
                    business_email:
                      type: string
                    business_name:
                      type: string
                    business_phone:
                      type: string
                    external_metadata:
                      type: string
                  required:
                    - business_address
                    - business_email
                    - business_name
                    - business_phone
                    - external_metadata
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  create_time:
                    type: string
                  meta:
                    type: object
                    properties:
                      flags:
                        type: object
                        properties:
                          account_creation:
                            type: string
                          account_deletion:
                            type: string
                          account_migration:
                            type: string
                          account_mobility:
                            type: string
                          sub_org_creation:
                            type: string
                        required:
                          - account_creation
                          - account_deletion
                          - account_migration
                          - account_mobility
                          - sub_org_creation
                        description: Enable features for Organizations.
                      managed_by:
                        type: string
                  name:
                    type: string
                  parent:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                      - id
                      - name
                  profile:
                    type: object
                    properties:
                      business_address:
                        type: string
                      business_email:
                        type: string
                      business_name:
                        type: string
                      business_phone:
                        type: string
                      external_metadata:
                        type: string
                    required:
                      - business_address
                      - business_email
                      - business_name
                      - business_phone
                      - external_metadata
                required:
                  - id
                  - create_time
                  - meta
                  - name
      x-distilled-response-path: result
    delete:
      operationId: deleteOrganization
      description: Delete an organization. The organization MUST be empty before
        deleting. It must not contain any sub-organizations, accounts, members
        or users. (Currently in Public Beta - see
        https://developers.cloudflare.com/fundamentals/organizations/)
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                required:
                  - id
      x-distilled-response-path: result
  /organizations:
    get:
      operationId: listOrganizations
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  create_time:
                    type: string
                  meta:
                    type: object
                    properties:
                      flags:
                        type: object
                        properties:
                          account_creation:
                            type: string
                          account_deletion:
                            type: string
                          account_migration:
                            type: string
                          account_mobility:
                            type: string
                          sub_org_creation:
                            type: string
                        required:
                          - account_creation
                          - account_deletion
                          - account_migration
                          - account_mobility
                          - sub_org_creation
                        description: Enable features for Organizations.
                      managed_by:
                        type: string
                  name:
                    type: string
                  parent:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                      - id
                      - name
                  profile:
                    type: object
                    properties:
                      business_address:
                        type: string
                      business_email:
                        type: string
                      business_name:
                        type: string
                      business_phone:
                        type: string
                      external_metadata:
                        type: string
                    required:
                      - business_address
                      - business_email
                      - business_name
                      - business_phone
                      - external_metadata
                required:
                  - id
                  - create_time
                  - meta
                  - name
      x-distilled-pagination-class: OrganizationsSinglePage
    post:
      operationId: createOrganization
      description: Create a new organization for a user. (Currently in Public Beta -
        see https://developers.cloudflare.com/fundamentals/organizations/)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                parent:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                    - id
                profile:
                  type: object
                  properties:
                    business_address:
                      type: string
                    business_email:
                      type: string
                    business_name:
                      type: string
                    business_phone:
                      type: string
                    external_metadata:
                      type: string
                  required:
                    - business_address
                    - business_email
                    - business_name
                    - business_phone
                    - external_metadata
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  create_time:
                    type: string
                  meta:
                    type: object
                    properties:
                      flags:
                        type: object
                        properties:
                          account_creation:
                            type: string
                          account_deletion:
                            type: string
                          account_migration:
                            type: string
                          account_mobility:
                            type: string
                          sub_org_creation:
                            type: string
                        required:
                          - account_creation
                          - account_deletion
                          - account_migration
                          - account_mobility
                          - sub_org_creation
                        description: Enable features for Organizations.
                      managed_by:
                        type: string
                  name:
                    type: string
                  parent:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                    required:
                      - id
                      - name
                  profile:
                    type: object
                    properties:
                      business_address:
                        type: string
                      business_email:
                        type: string
                      business_name:
                        type: string
                      business_phone:
                        type: string
                      external_metadata:
                        type: string
                    required:
                      - business_address
                      - business_email
                      - business_name
                      - business_phone
                      - external_metadata
                required:
                  - id
                  - create_time
                  - meta
                  - name
      x-distilled-response-path: result
  /organizations/{organizationId}/profile:
    get:
      operationId: getOrganizationProfile
      description: Get an organizations profile if it exists. (Currently in Public
        Beta - see
        https://developers.cloudflare.com/fundamentals/organizations/)
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  business_address:
                    type: string
                  business_email:
                    type: string
                  business_name:
                    type: string
                  business_phone:
                    type: string
                  external_metadata:
                    type: string
                required:
                  - business_address
                  - business_email
                  - business_name
                  - business_phone
                  - external_metadata
      x-distilled-response-path: result
    put:
      operationId: putOrganizationProfile
      description: Modify organization profile. (Currently in Public Beta - see
        https://developers.cloudflare.com/fundamentals/organizations/)
      parameters:
        - name: organizationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                business_address:
                  type: string
                business_email:
                  type: string
                business_name:
                  type: string
                business_phone:
                  type: string
                external_metadata:
                  type: string
              required:
                - business_address
                - business_email
                - business_name
                - business_phone
                - external_metadata
      responses:
        "200":
          description: Success
