openapi: 3.1.0
info:
  title: Cloudflare ORIGIN-TLS-COMPLIANCE-MODES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: origin-tls-compliance-modes
paths:
  /zones/{zone_id}/settings/origin_tls_compliance_modes:
    get:
      operationId: getOriginTlsComplianceMode
      description: "Origin TLS Compliance Modes constrains the set of TLS key-exchange
        algorithms Cloudflare may use when establishing the TLS connection to
        the zone's origin. The value is a list of named compliance modes
        (currently `fips` and `pqh`). Multiple modes are combined as the
        intersection of their permitted algorithm lists. An empty list (or no
        rule configured) means no compliance constraint is applied.  @example
        ```ts const originTLSComplianceMode = await
        client.originTLSComplianceModes.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    enum:
                      - origin_tls_compliance_modes
                    description: The identifier of the caching setting.
                  editable:
                    type: boolean
                    description: Whether the setting is editable.
                  value:
                    type: array
                    items:
                      type: string
                    description: List of TLS compliance modes that constrain the key-exchange
                      algorithms Cloudflare may use when establishing the TLS
                      connection to the zone's origin. Currently supported
                      values are `fips` (FIPS-approved curves) and `pqh`
                      (post-quantum hybrid). Future modes (e.g. `cnsa2`) may be
                      added; clients should treat unknown values as opaque
                      strings. Multiple modes are combined as the intersection
                      of their permitted algorithm lists; selections whose
                      intersection is empty are rejected. An empty list clears
                      the constraint.
                  modified_on:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Last time this setting was modified.
                required:
                  - id
                  - editable
                  - value
      x-distilled-response-path: result
    put:
      operationId: putOriginTlsComplianceMode
      description: "Replace the entire set of TLS compliance modes for the zone with
        the list provided in the request body. PUT performs a full replace, not
        a merge — any modes not present in the request body are removed. The
        request body must be of the form `{\"value\": [\"fips\", \"pqh\"]}`.
        Currently supported modes are `fips` and `pqh`; an empty list clears the
        constraint. Future modes (e.g. `cnsa2`) may be added; clients should
        treat unknown values as opaque strings. Invalid mode values are rejected
        with a 4xx response.  @example ```ts const originTLSComplianceMode =
        await client.originTLSComplianceModes.update({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', value: ['fips', 'pqh'], }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: "Body param: List of TLS compliance modes that constrain the
                    key-exchange algorithms Cloudflare may use when establishing
                    the TLS connection to the zone's origin. Currently supported
                    values are `fips` (FIPS-approved curves) and `pqh`
                    (post-quantum hybrid). Future modes (e.g. `cnsa2`) may be
                    added; clients should treat unknown values as opaque
                    strings. Multiple modes are combined as the intersection of
                    their permitted algorithm lists; selections whose
                    intersection is empty are rejected. An empty list clears the
                    constraint."
              required:
                - value
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    enum:
                      - origin_tls_compliance_modes
                    description: The identifier of the caching setting.
                  editable:
                    type: boolean
                    description: Whether the setting is editable.
                  value:
                    type: array
                    items:
                      type: string
                    description: List of TLS compliance modes that constrain the key-exchange
                      algorithms Cloudflare may use when establishing the TLS
                      connection to the zone's origin. Currently supported
                      values are `fips` (FIPS-approved curves) and `pqh`
                      (post-quantum hybrid). Future modes (e.g. `cnsa2`) may be
                      added; clients should treat unknown values as opaque
                      strings. Multiple modes are combined as the intersection
                      of their permitted algorithm lists; selections whose
                      intersection is empty are rejected. An empty list clears
                      the constraint.
                  modified_on:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Last time this setting was modified.
                required:
                  - id
                  - editable
                  - value
      x-distilled-response-path: result
    patch:
      operationId: patchOriginTlsComplianceMode
      description: "Update the set of TLS compliance modes for the zone. PATCH
        performs a full replace of the modes list, not a merge — the request
        body is treated as the complete new list, and any modes not present in
        it are removed. (To remove a single mode from an existing configuration,
        send the updated list without it.) The request body must be of the form
        `{\"value\": [\"fips\", \"pqh\"]}`. Currently supported modes are `fips`
        and `pqh`; an empty list clears the constraint. Future modes (e.g.
        `cnsa2`) may be added; clients should treat unknown values as opaque
        strings. Invalid mode values are rejected with a 4xx response.  @example
        ```ts const response = await client.originTLSComplianceModes.edit( {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', value: ['fips', 'pqh'], },
        ); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  type: array
                  items:
                    type: string
                  description: "Body param: List of TLS compliance modes that constrain the
                    key-exchange algorithms Cloudflare may use when establishing
                    the TLS connection to the zone's origin. Currently supported
                    values are `fips` (FIPS-approved curves) and `pqh`
                    (post-quantum hybrid). Future modes (e.g. `cnsa2`) may be
                    added; clients should treat unknown values as opaque
                    strings. Multiple modes are combined as the intersection of
                    their permitted algorithm lists; selections whose
                    intersection is empty are rejected. An empty list clears the
                    constraint."
              required:
                - value
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    enum:
                      - origin_tls_compliance_modes
                    description: The identifier of the caching setting.
                  editable:
                    type: boolean
                    description: Whether the setting is editable.
                  value:
                    type: array
                    items:
                      type: string
                    description: List of TLS compliance modes that constrain the key-exchange
                      algorithms Cloudflare may use when establishing the TLS
                      connection to the zone's origin. Currently supported
                      values are `fips` (FIPS-approved curves) and `pqh`
                      (post-quantum hybrid). Future modes (e.g. `cnsa2`) may be
                      added; clients should treat unknown values as opaque
                      strings. Multiple modes are combined as the intersection
                      of their permitted algorithm lists; selections whose
                      intersection is empty are rejected. An empty list clears
                      the constraint.
                  modified_on:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Last time this setting was modified.
                required:
                  - id
                  - editable
                  - value
      x-distilled-response-path: result
    delete:
      operationId: deleteOriginTlsComplianceMode
      description: "Delete the Origin TLS Compliance Modes setting for the zone,
        removing any configured compliance constraint. After deletion,
        Cloudflare's default behavior applies (no compliance filtering of the
        key-exchange algorithm list sent to the origin).  @example ```ts const
        originTLSComplianceMode = await client.originTLSComplianceModes.delete({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    enum:
                      - origin_tls_compliance_modes
                    description: The identifier of the caching setting.
                  editable:
                    type: boolean
                    description: Whether the setting is editable.
                  modified_on:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Last time this setting was modified.
                required:
                  - id
                  - editable
      x-distilled-response-path: result
