openapi: 3.1.0
info:
  title: Cloudflare ORIGIN-CA-CERTIFICATES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: origin-ca-certificates
paths:
  /certificates/{certificateId}:
    get:
      operationId: getOriginCaCertificate
      description: Get an existing Origin CA certificate by its serial number. You can
        use an Origin CA Key as your User Service Key or an API token when
        calling this endpoint ([see above](#requests)).  @example ```ts const
        originCACertificate = await client.originCACertificates.get(
        '023e105f4ecef8ad9ca31a8372d0c353', ); ```
      parameters:
        - name: certificateId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  csr:
                    type: string
                    description: The Certificate Signing Request (CSR). Must be newline-encoded.
                  hostnames:
                    type: array
                    items:
                      type: string
                    description: Array of hostnames or wildcard names bound to the certificate.
                      Hostnames must be fully qualified domain names (FQDNs)
                      belonging to zones on your account (e.g., `example.com` or
                      `sub.example.com`). Wildcards are supported only as a ` .`
                      prefix for a single level (e.g., ` .example.com`). Double
                      wildcards (` . .example.com`) and interior wildcards
                      (`foo. .example.com`) are not allowed. The wildcard suffix
                      must be a multi-label domain (` .example.com` is valid,
                      but ` .com` is not). Unicode/IDN hostnames are accepted
                      and automatically converted to punycode.
                  request_type:
                    type: string
                    enum:
                      - origin-rsa
                      - origin-ecc
                      - keyless-certificate
                    description: Signature type desired on certificate ("origin-rsa" (rsa),
                      "origin-ecc" (ecdsa), or "keyless-certificate" (for
                      Keyless SSL servers).
                  requested_validity:
                    type: number
                    enum:
                      - 7
                      - 30
                      - 90
                      - 365
                      - 730
                      - 1095
                      - 5475
                    description: The number of days for which the certificate should be valid.
                  id:
                    type: string
                    description: Identifier.
                  certificate:
                    type: string
                    description: The Origin CA certificate. Will be newline-encoded.
                  expires_on:
                    type: string
                    description: When the certificate will expire.
                required:
                  - csr
                  - hostnames
                  - request_type
                  - requested_validity
      x-distilled-response-path: result
    delete:
      operationId: deleteOriginCaCertificate
      description: Revoke an existing Origin CA certificate by its serial number. You
        can use an Origin CA Key as your User Service Key or an API token when
        calling this endpoint ([see above](#requests)).  @example ```ts const
        originCACertificate = await client.originCACertificates.delete(
        '023e105f4ecef8ad9ca31a8372d0c353', ); ```
      parameters:
        - name: certificateId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  revoked_at:
                    type: string
                    description: When the certificate was revoked.
      x-distilled-response-path: result
  /certificates:
    get:
      operationId: listOriginCaCertificates
      description: "List all existing Origin CA certificates for a given zone. You can
        use an Origin CA Key as your User Service Key or an API token when
        calling this endpoint ([see above](#requests)).  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        originCACertificate of client.originCACertificates.list( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: zone_id
          in: query
          required: true
          description: Identifier.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Limit to the number of records returned.
          schema:
            type: number
        - name: offset
          in: query
          required: false
          description: Offset the results
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  csr:
                    type: string
                    description: The Certificate Signing Request (CSR). Must be newline-encoded.
                  hostnames:
                    type: array
                    items:
                      type: string
                    description: Array of hostnames or wildcard names bound to the certificate.
                      Hostnames must be fully qualified domain names (FQDNs)
                      belonging to zones on your account (e.g., `example.com` or
                      `sub.example.com`). Wildcards are supported only as a ` .`
                      prefix for a single level (e.g., ` .example.com`). Double
                      wildcards (` . .example.com`) and interior wildcards
                      (`foo. .example.com`) are not allowed. The wildcard suffix
                      must be a multi-label domain (` .example.com` is valid,
                      but ` .com` is not). Unicode/IDN hostnames are accepted
                      and automatically converted to punycode.
                  request_type:
                    type: string
                    enum:
                      - origin-rsa
                      - origin-ecc
                      - keyless-certificate
                    description: Signature type desired on certificate ("origin-rsa" (rsa),
                      "origin-ecc" (ecdsa), or "keyless-certificate" (for
                      Keyless SSL servers).
                  requested_validity:
                    type: number
                    enum:
                      - 7
                      - 30
                      - 90
                      - 365
                      - 730
                      - 1095
                      - 5475
                    description: The number of days for which the certificate should be valid.
                  id:
                    type: string
                    description: Identifier.
                  certificate:
                    type: string
                    description: The Origin CA certificate. Will be newline-encoded.
                  expires_on:
                    type: string
                    description: When the certificate will expire.
                required:
                  - csr
                  - hostnames
                  - request_type
                  - requested_validity
      x-distilled-pagination-class: OriginCACertificatesV4PagePaginationArray
    post:
      operationId: createOriginCaCertificate
      description: "Create an Origin CA certificate. You can use an Origin CA Key as
        your User Service Key or an API token when calling this endpoint ([see
        above](#requests)).  @example ```ts const originCACertificate = await
        client.originCACertificates.create({ csr: '-----BEGIN CERTIFICATE
        REQUEST-----\\nMIICxzCCAa8CAQAwSDELMAkGA1UEBhMCVVMxFjAUBgNVBAgTDVNhbiBG\
        cmFuY2lz\\nY28xCzAJBgNVBAcTAkNBMRQwEgYDVQQDEwtleGFtcGxlLm5ldDCCASIwDQYJ\
        KoZI\\nhvcNAQEBBQADggEPADCCAQoCggEBALxejtu4b+jPdFeFi6OUsye8TYJQBm3WfCvL\
        \\nHu5EvijMO/4Z2TImwASbwUF7Ir8OLgH+mGlQZeqyNvGoSOMEaZVXcYfpR1hlVak8\\n4\
        GGVr+04IGfOCqaBokaBFIwzclGZbzKmLGwIQioNxGfqFm6RGYGA3be2Je2iseBc\\nN8GV1\
        wYmvYE0RR+yWweJCTJ157exyRzu7sVxaEW9F87zBQLyOnwXc64rflXslRqi\\ng7F7w5IaQ\
        YOl8yvmk/jEPCAha7fkiUfEpj4N12+oPRiMvleJF98chxjD4MH39c5I\\nuOslULhrWunfh\
        7GB1jwWNA9y44H0snrf+xvoy2TcHmxvma9Eln8CAwEAAaA6MDgG\\nCSqGSIb3DQEJDjErM\
        CkwJwYDVR0RBCAwHoILZXhhbXBsZS5uZXSCD3d3dy5leGFt\\ncGxlLm5ldDANBgkqhkiG9\
        w0BAQsFAAOCAQEAcBaX6dOnI8ncARrI9ZSF2AJX+8mx\\npTHY2+Y2C0VvrVDGMtbBRH8R9\
        yMbqWtlxeeNGf//LeMkSKSFa4kbpdx226lfui8/\\nauRDBTJGx2R1ccUxmLZXx4my0W5iI\
        Mxunu+kez+BDlu7bTT2io0uXMRHue4i6quH\\nyc5ibxvbJMjR7dqbcanVE10/34oprzXQs\
        J/VmSuZNXtjbtSKDlmcpw6To/eeAJ+J\\nhXykcUihvHyG4A1m2R6qpANBjnA0pHexfwM/S\
        gfzvpbvUg0T1ubmer8BgTwCKIWs\\ndcWYTthM51JIqRBfNqy4QcBnX+GY05yltEEswQI55\
        wdiS3CjTTA67sdbcQ==\\n-----END CERTIFICATE REQUEST-----', hostnames: [
        'example.com', ' .example.com', 'sub.example.com', ], request_type:
        'origin-rsa', }); ```"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                csr:
                  type: string
                  description: The Certificate Signing Request (CSR). Must be newline-encoded.
                hostnames:
                  type: array
                  items:
                    type: string
                  description: Array of hostnames or wildcard names bound to the certificate.
                    Hostnames must be fully qualified domain names (FQDNs)
                    belonging to zones on your account (e.g., `example.com` or
                    `sub.example.com`). Wildcards are supported only as a ` .`
                    prefix for a single level (e.g., ` .example.com`). Double
                    wildcards (` . .example.com`) and interior wildcards (`foo.
                    .example.com`) are not allowed. The wildcard suffix must be
                    a multi-label domain (` .example.com` is valid, but ` .com`
                    is not). Unicode/IDN hostnames are accepted and
                    automatically converted to punycode.
                request_type:
                  type: string
                  enum:
                    - origin-rsa
                    - origin-ecc
                    - keyless-certificate
                  description: Signature type desired on certificate ("origin-rsa" (rsa),
                    "origin-ecc" (ecdsa), or "keyless-certificate" (for Keyless
                    SSL servers).
                requested_validity:
                  type: number
                  enum:
                    - 7
                    - 30
                    - 90
                    - 365
                    - 730
                    - 1095
                    - 5475
                  description: The number of days for which the certificate should be valid.
              required:
                - csr
                - hostnames
                - request_type
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  csr:
                    type: string
                    description: The Certificate Signing Request (CSR). Must be newline-encoded.
                  hostnames:
                    type: array
                    items:
                      type: string
                    description: Array of hostnames or wildcard names bound to the certificate.
                      Hostnames must be fully qualified domain names (FQDNs)
                      belonging to zones on your account (e.g., `example.com` or
                      `sub.example.com`). Wildcards are supported only as a ` .`
                      prefix for a single level (e.g., ` .example.com`). Double
                      wildcards (` . .example.com`) and interior wildcards
                      (`foo. .example.com`) are not allowed. The wildcard suffix
                      must be a multi-label domain (` .example.com` is valid,
                      but ` .com` is not). Unicode/IDN hostnames are accepted
                      and automatically converted to punycode.
                  request_type:
                    type: string
                    enum:
                      - origin-rsa
                      - origin-ecc
                      - keyless-certificate
                    description: Signature type desired on certificate ("origin-rsa" (rsa),
                      "origin-ecc" (ecdsa), or "keyless-certificate" (for
                      Keyless SSL servers).
                  requested_validity:
                    type: number
                    enum:
                      - 7
                      - 30
                      - 90
                      - 365
                      - 730
                      - 1095
                      - 5475
                    description: The number of days for which the certificate should be valid.
                  id:
                    type: string
                    description: Identifier.
                  certificate:
                    type: string
                    description: The Origin CA certificate. Will be newline-encoded.
                  expires_on:
                    type: string
                    description: When the certificate will expire.
                required:
                  - csr
                  - hostnames
                  - request_type
                  - requested_validity
      x-distilled-response-path: result
