openapi: 3.1.0
info:
  title: Cloudflare PAGE-RULES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: page-rules
paths:
  /zones/{zone_id}/pagerules/{pageruleId}:
    get:
      operationId: getPageRule
      description: "Fetches the details of a Page Rule.  @example ```ts const pageRule
        = await client.pageRules.get( '023e105f4ecef8ad9ca31a8372d0c353', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: pageruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  actions:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - always_use_https
                              description: If enabled, any ` http://`` URL is converted to  `https://` through
                                a 301 redirect.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - automatic_https_rewrites
                              description: Turn on or off Automatic HTTPS Rewrites.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Automatic HTTPS Rewrites.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - browser_cache_ttl
                              description: Control how long resources cached by client browsers remain valid.
                            value:
                              type: number
                              description: The number of seconds to cache resources for. Setting this to 0
                                enables "Respect Existing Headers".
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - browser_check
                              description: Inspect the visitor's browser for headers commonly associated with
                                spammers and certain bots.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Browser Integrity Check.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - bypass_cache_on_cookie
                              description: Bypass cache and fetch resources from the origin server if a
                                regular expression matches against a cookie name
                                present in the request.
                            value:
                              type: string
                              description: The regular expression to use for matching cookie names in the
                                request. Refer to [Bypass Cache on Cookie
                                setting](https://developers.cloudflare.com/rules/page-rules/reference/additional-reference/#bypass-cache-on-cookie-setting)
                                to learn about limited regular expression
                                support.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_by_device_type
                              description: Separate cached content based on the visitor's device type.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Cache By Device Type.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_deception_armor
                              description: Protect from web cache deception attacks while still allowing
                                static assets to be cached. This setting
                                verifies that the URL's extension matches the
                                returned `Content-Type`.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Cache Deception Armor.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_key_fields
                              description: Control specifically what variables to include when deciding which
                                resources to cache. This allows customers to
                                determine what to cache based on something other
                                than just the URL.
                            value:
                              type: object
                              properties:
                                cookie:
                                  type: object
                                  properties:
                                    check_presence:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of cookies to check for the presence of, without including
                                        their actual values.
                                    include:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of cookies to include.
                                  description: Controls which cookies appear in the Cache Key.
                                header:
                                  type: object
                                  properties:
                                    check_presence:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of headers to check for the presence of, without including
                                        their actual values.
                                    exclude:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of headers to ignore.
                                    include:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of headers to include.
                                  description: Controls which headers go into the Cache Key. Exactly one of
                                    `include` or `exclude` is expected.
                                host:
                                  type: object
                                  properties:
                                    resolved:
                                      type: boolean
                                      description: Whether to include the Host header in the HTTP request sent to the
                                        origin.
                                  description: Determines which host header to include in the Cache Key.
                                query_string:
                                  type: object
                                  properties:
                                    exclude:
                                      oneOf:
                                        - type: string
                                          enum:
                                            - "*"
                                        - type: array
                                          items:
                                            type: string
                                      description: Ignore all query string parameters.
                                    include:
                                      oneOf:
                                        - type: string
                                          enum:
                                            - "*"
                                        - type: array
                                          items:
                                            type: string
                                      description: Include all query string parameters.
                                  description: Controls which URL query string parameters go into the Cache Key.
                                    Exactly one of `include` or `exclude` is
                                    expected.
                                user:
                                  type: object
                                  properties:
                                    device_type:
                                      type: boolean
                                      description: Classifies a request as `mobile`, `desktop`, or `tablet` based on
                                        the User Agent.
                                    geo:
                                      type: boolean
                                      description: Includes the client's country, derived from the IP address.
                                    lang:
                                      type: boolean
                                      description: Includes the first language code contained in the `Accept-Language`
                                        header sent by the client.
                                  description: Feature fields to add features about the end-user (client) into the
                                    Cache Key.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_level
                              description: Apply custom caching based on the option selected.
                            value:
                              type: string
                              enum:
                                - bypass
                                - basic
                                - simplified
                                - aggressive
                                - cache_everything
                              description: "- `bypass`: Cloudflare does not cache. - `basic`: Delivers
                                resources from cache when there is no query
                                string. - `simplified`: Delivers the same
                                resource to everyone independent of the query
                                string. - `aggressive`: Caches all static
                                content that has a query string. -
                                `cache_everything`: Treats all content as static
                                and caches all file types beyond the [Cloudflare
                                default cached
                                content](https://developers.cloudflare.com/cach\
                                e/concepts/default-cache-behavior/#default-cach\
                                ed-file-extensions)."
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_on_cookie
                              description: Apply the Cache Everything option (Cache Level setting) based on a
                                regular expression match against a cookie name.
                            value:
                              type: string
                              description: The regular expression to use for matching cookie names in the
                                request.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_ttl_by_status
                              description: Enterprise customers can set cache time-to-live (TTL) based on the
                                response status from the origin web server.
                                Cache TTL refers to the duration of a resource
                                in the Cloudflare network before being marked as
                                stale or discarded from cache. Status codes are
                                returned by a resource's origin. Setting cache
                                TTL based on response status overrides the
                                default cache behavior (standard caching) for
                                static files and overrides cache instructions
                                sent by the origin web server. To cache
                                non-static assets, set a Cache Level of Cache
                                Everything using a Page Rule. Setting no-store
                                Cache-Control or a low TTL (using
                                `max-age`/`s-maxage`) increases requests to
                                origin web servers and decreases performance.
                            value:
                              type: object
                              additionalProperties: true
                              description: "A JSON object containing status codes and their corresponding
                                TTLs. Each key-value pair in the cache TTL by
                                status cache rule has the following syntax  -
                                `status_code`: An integer value such as 200 or
                                500. status_code matches the exact status code
                                from the origin web server. Valid status codes
                                are between 100-999. - `status_code_range`:
                                Integer values for from and to.
                                status_code_range matches any status code from
                                the origin web server within the specified
                                range. - `value`: An integer value that defines
                                the duration an asset is valid in seconds or one
                                of the following strings: no-store (equivalent
                                to -1), no-cache (equivalent to 0)."
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - disable_apps
                              description: Turn off all active [Cloudflare
                                Apps](https://developers.cloudflare.com/support/more-dashboard-apps/cloudflare-apps/)
                                (deprecated).
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - disable_performance
                              description: Turn off [Rocket
                                Loader](https://developers.cloudflare.com/speed/optimization/content/rocket-loader/),
                                [Mirage](https://developers.cloudflare.com/speed/optimization/images/mirage/),
                                and
                                [Polish](https://developers.cloudflare.com/images/polish/).
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - disable_security
                              description: Turn off [Email
                                Obfuscation](https://developers.cloudflare.com/waf/tools/scrape-shield/email-address-obfuscation/),
                                [Rate Limiting (previous version,
                                deprecated)](https://developers.cloudflare.com/waf/reference/legacy/old-rate-limiting/),
                                [Scrape
                                Shield](https://developers.cloudflare.com/waf/tools/scrape-shield/),
                                [URL (Zone)
                                Lockdown](https://developers.cloudflare.com/waf/tools/zone-lockdown/),
                                and [WAF managed rules (previous version,
                                deprecated)](https://developers.cloudflare.com/waf/reference/legacy/old-waf-managed-rules/).
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - disable_zaraz
                              description: Turn off [Zaraz](https://developers.cloudflare.com/zaraz/).
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - edge_cache_ttl
                              description: Specify how long to cache a resource in the Cloudflare global
                                network. _Edge Cache TTL_ is not visible in
                                response headers.
                            value:
                              type: number
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - email_obfuscation
                              description: Turn on or off  Email Obfuscation  .
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Email Obfuscation.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - explicit_cache_control
                              description: Origin Cache Control is enabled by default for Free, Pro, and
                                Business domains and disabled by default for
                                Enterprise domains.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Origin Cache Control.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - forwarding_url
                              description: Redirects one URL to another using an `HTTP 301/302` redirect.
                                Refer to [Wildcard matching and
                                referencing](https://developers.cloudflare.com/rules/page-rules/reference/wildcard-matching/).
                            value:
                              type: object
                              properties:
                                status_code:
                                  type: number
                                  enum:
                                    - 301
                                    - 302
                                  description: The status code to use for the URL redirect. 301 is a permanent
                                    redirect. 302 is a temporary redirect.
                                url:
                                  type: string
                                  description: "The URL to redirect the request to. Notes: ${num} refers to the
                                    position of '\\ ' in the constraint value."
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - host_header_override
                              description: Apply a specific host header.
                            value:
                              type: string
                              description: The hostname to use in the `Host` header
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - ip_geolocation
                              description: Cloudflare adds a CF-IPCountry HTTP header containing the country
                                code that corresponds to the visitor.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of adding the IP Geolocation Header.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - mirage
                              description: Cloudflare Mirage reduces bandwidth used by images in mobile
                                browsers. It can accelerate loading of
                                image-heavy websites on very slow mobile
                                connections and HTTP/1.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Mirage.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - opportunistic_encryption
                              description: Opportunistic Encryption allows browsers to access HTTP URIs over
                                an encrypted TLS channel. It's not a substitute
                                for HTTPS, but provides additional security for
                                otherwise vulnerable requests.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Opportunistic Encryption.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - origin_error_page_pass_thru
                              description: Turn on or off Cloudflare error pages generated from issues sent
                                from the origin server. If enabled, this setting
                                triggers error pages issued by the origin.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Origin Error Page Passthru.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - polish
                              description: Apply options from the Polish feature of the Cloudflare Speed app.
                            value:
                              type: string
                              enum:
                                - off
                                - lossless
                                - lossy
                              description: The level of Polish you want applied to your origin.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - resolve_override
                              description: Change the origin address to the value specified in this setting.
                            value:
                              type: string
                              description: The origin address you want to override with.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - respect_strong_etag
                              description: Turn on or off byte-for-byte equivalency checks between the
                                Cloudflare cache and the origin server.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Respect Strong ETags
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - response_buffering
                              description: Turn on or off whether Cloudflare should wait for an entire file
                                from the origin server before forwarding it to
                                the site visitor. By default, Cloudflare sends
                                packets to the client as they arrive from the
                                origin server.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Response Buffering
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - rocket_loader
                              description: Turn on or off Rocket Loader in the Cloudflare Speed app.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Rocket Loader
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - security_level
                              description: Control options for the  Security Level  feature from
                                the  Security  app.
                            value:
                              type: string
                              enum:
                                - off
                                - essentially_off
                                - low
                                - medium
                                - high
                                - under_attack
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - sort_query_string_for_cache
                              description: Turn on or off the reordering of query strings. When query strings
                                have the same structure, caching improves.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Query String Sort
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - ssl
                              description: Control options for the SSL feature of the Edge Certificates tab in
                                the Cloudflare SSL/TLS app.
                            value:
                              type: string
                              enum:
                                - off
                                - flexible
                                - full
                                - strict
                                - origin_pull
                              description: The encryption mode that Cloudflare uses to connect to your origin
                                server.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - true_client_ip_header
                              description: Turn on or off the True-Client-IP Header feature of the Cloudflare
                                Network app.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of True Client IP Header.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - waf
                              description: Turn on or off [WAF managed rules (previous version,
                                deprecated)](https://developers.cloudflare.com/waf/reference/legacy/old-waf-managed-rules/).
                                You cannot enable or disable individual WAF
                                managed rules via Page Rules.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of WAF managed rules (previous version).
                    description: The set of actions to perform if the targets of this rule match the
                      request. Actions can redirect to another URL or override
                      settings, but not both.
                  created_on:
                    type: string
                    description: The timestamp of when the Page Rule was created.
                  modified_on:
                    type: string
                    description: The timestamp of when the Page Rule was last modified.
                  priority:
                    type: number
                    description: "The priority of the rule, used to define which Page Rule is
                      processed over another. A higher number indicates a higher
                      priority. For example, if you have a catch-all Page Rule
                      (rule A: `/images/ `) but want a more specific Page Rule
                      to take precedence (rule B: `/images/special/ `), specify
                      a higher priority for rule B so it overrides rule A."
                  status:
                    type: string
                    enum:
                      - active
                      - disabled
                    description: The status of the Page Rule.
                  targets:
                    type: array
                    items:
                      type: object
                      properties:
                        constraint:
                          type: object
                          properties:
                            operator:
                              type: string
                              enum:
                                - matches
                                - contains
                                - equals
                                - not_equal
                                - not_contain
                              description: The matches operator can use asterisks and pipes as wildcard and
                                'or' operators.
                            value:
                              type: string
                              description: The URL pattern to match against the current request. The pattern
                                may contain up to four asterisks ('\ ') as
                                placeholders.
                          required:
                            - operator
                            - value
                          description: String constraint.
                        target:
                          type: string
                          enum:
                            - url
                          description: A target based on the URL of the request.
                    description: The rule targets to evaluate on each request.
                required:
                  - id
                  - actions
                  - created_on
                  - modified_on
                  - priority
                  - status
                  - targets
      x-distilled-response-path: result
    put:
      operationId: updatePageRule
      description: "Replaces the configuration of an existing Page Rule. The
        configuration of the updated Page Rule will exactly match the data
        passed in the API request.  @example ```ts const pageRule = await
        client.pageRules.update( '023e105f4ecef8ad9ca31a8372d0c353', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', actions: [{ id: 'browser_check' }],
        targets: [ { constraint: { operator: 'matches', value: '
        example.com/images/ ', }, target: 'url', }, ], }, ); ```"
      parameters:
        - name: pageruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                actions:
                  type: array
                  items:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - always_use_https
                            description: If enabled, any ` http://`` URL is converted to  `https://` through
                              a 301 redirect.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - automatic_https_rewrites
                            description: Turn on or off Automatic HTTPS Rewrites.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Automatic HTTPS Rewrites.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - browser_cache_ttl
                            description: Control how long resources cached by client browsers remain valid.
                          value:
                            type: number
                            description: The number of seconds to cache resources for. Setting this to 0
                              enables "Respect Existing Headers".
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - browser_check
                            description: Inspect the visitor's browser for headers commonly associated with
                              spammers and certain bots.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Browser Integrity Check.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - bypass_cache_on_cookie
                            description: Bypass cache and fetch resources from the origin server if a
                              regular expression matches against a cookie name
                              present in the request.
                          value:
                            type: string
                            description: The regular expression to use for matching cookie names in the
                              request. Refer to [Bypass Cache on Cookie
                              setting](https://developers.cloudflare.com/rules/page-rules/reference/additional-reference/#bypass-cache-on-cookie-setting)
                              to learn about limited regular expression support.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - cache_by_device_type
                            description: Separate cached content based on the visitor's device type.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Cache By Device Type.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - cache_deception_armor
                            description: Protect from web cache deception attacks while still allowing
                              static assets to be cached. This setting verifies
                              that the URL's extension matches the returned
                              `Content-Type`.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Cache Deception Armor.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - cache_key_fields
                            description: Control specifically what variables to include when deciding which
                              resources to cache. This allows customers to
                              determine what to cache based on something other
                              than just the URL.
                          value:
                            type: object
                            properties:
                              cookie:
                                type: object
                                properties:
                                  check_presence:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of cookies to check for the presence of, without including
                                      their actual values.
                                  include:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of cookies to include.
                                description: Controls which cookies appear in the Cache Key.
                              header:
                                type: object
                                properties:
                                  check_presence:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of headers to check for the presence of, without including
                                      their actual values.
                                  exclude:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of headers to ignore.
                                  include:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of headers to include.
                                description: Controls which headers go into the Cache Key. Exactly one of
                                  `include` or `exclude` is expected.
                              host:
                                type: object
                                properties:
                                  resolved:
                                    type: boolean
                                    description: Whether to include the Host header in the HTTP request sent to the
                                      origin.
                                description: Determines which host header to include in the Cache Key.
                              query_string:
                                type: object
                                properties:
                                  exclude:
                                    oneOf:
                                      - type: string
                                        enum:
                                          - "*"
                                      - type: array
                                        items:
                                          type: string
                                    description: Ignore all query string parameters.
                                  include:
                                    oneOf:
                                      - type: string
                                        enum:
                                          - "*"
                                      - type: array
                                        items:
                                          type: string
                                    description: Include all query string parameters.
                                description: Controls which URL query string parameters go into the Cache Key.
                                  Exactly one of `include` or `exclude` is
                                  expected.
                              user:
                                type: object
                                properties:
                                  device_type:
                                    type: boolean
                                    description: Classifies a request as `mobile`, `desktop`, or `tablet` based on
                                      the User Agent.
                                  geo:
                                    type: boolean
                                    description: Includes the client's country, derived from the IP address.
                                  lang:
                                    type: boolean
                                    description: Includes the first language code contained in the `Accept-Language`
                                      header sent by the client.
                                description: Feature fields to add features about the end-user (client) into the
                                  Cache Key.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - cache_level
                            description: Apply custom caching based on the option selected.
                          value:
                            type: string
                            enum:
                              - bypass
                              - basic
                              - simplified
                              - aggressive
                              - cache_everything
                            description: "- `bypass`: Cloudflare does not cache. - `basic`: Delivers
                              resources from cache when there is no query
                              string. - `simplified`: Delivers the same resource
                              to everyone independent of the query string. -
                              `aggressive`: Caches all static content that has a
                              query string. - `cache_everything`: Treats all
                              content as static and caches all file types beyond
                              the [Cloudflare default cached
                              content](https://developers.cloudflare.com/cache/\
                              concepts/default-cache-behavior/#default-cached-f\
                              ile-extensions)."
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - cache_on_cookie
                            description: Apply the Cache Everything option (Cache Level setting) based on a
                              regular expression match against a cookie name.
                          value:
                            type: string
                            description: The regular expression to use for matching cookie names in the
                              request.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - cache_ttl_by_status
                            description: Enterprise customers can set cache time-to-live (TTL) based on the
                              response status from the origin web server. Cache
                              TTL refers to the duration of a resource in the
                              Cloudflare network before being marked as stale or
                              discarded from cache. Status codes are returned by
                              a resource's origin. Setting cache TTL based on
                              response status overrides the default cache
                              behavior (standard caching) for static files and
                              overrides cache instructions sent by the origin
                              web server. To cache non-static assets, set a
                              Cache Level of Cache Everything using a Page Rule.
                              Setting no-store Cache-Control or a low TTL (using
                              `max-age`/`s-maxage`) increases requests to origin
                              web servers and decreases performance.
                          value:
                            type: object
                            additionalProperties: true
                            description: "A JSON object containing status codes and their corresponding
                              TTLs. Each key-value pair in the cache TTL by
                              status cache rule has the following syntax  -
                              `status_code`: An integer value such as 200 or
                              500. status_code matches the exact status code
                              from the origin web server. Valid status codes are
                              between 100-999. - `status_code_range`: Integer
                              values for from and to. status_code_range matches
                              any status code from the origin web server within
                              the specified range. - `value`: An integer value
                              that defines the duration an asset is valid in
                              seconds or one of the following strings: no-store
                              (equivalent to -1), no-cache (equivalent to 0)."
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - disable_apps
                            description: Turn off all active [Cloudflare
                              Apps](https://developers.cloudflare.com/support/more-dashboard-apps/cloudflare-apps/)
                              (deprecated).
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - disable_performance
                            description: Turn off [Rocket
                              Loader](https://developers.cloudflare.com/speed/optimization/content/rocket-loader/),
                              [Mirage](https://developers.cloudflare.com/speed/optimization/images/mirage/),
                              and
                              [Polish](https://developers.cloudflare.com/images/polish/).
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - disable_security
                            description: Turn off [Email
                              Obfuscation](https://developers.cloudflare.com/waf/tools/scrape-shield/email-address-obfuscation/),
                              [Rate Limiting (previous version,
                              deprecated)](https://developers.cloudflare.com/waf/reference/legacy/old-rate-limiting/),
                              [Scrape
                              Shield](https://developers.cloudflare.com/waf/tools/scrape-shield/),
                              [URL (Zone)
                              Lockdown](https://developers.cloudflare.com/waf/tools/zone-lockdown/),
                              and [WAF managed rules (previous version,
                              deprecated)](https://developers.cloudflare.com/waf/reference/legacy/old-waf-managed-rules/).
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - disable_zaraz
                            description: Turn off [Zaraz](https://developers.cloudflare.com/zaraz/).
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - edge_cache_ttl
                            description: Specify how long to cache a resource in the Cloudflare global
                              network. _Edge Cache TTL_ is not visible in
                              response headers.
                          value:
                            type: number
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - email_obfuscation
                            description: Turn on or off  Email Obfuscation  .
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Email Obfuscation.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - explicit_cache_control
                            description: Origin Cache Control is enabled by default for Free, Pro, and
                              Business domains and disabled by default for
                              Enterprise domains.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Origin Cache Control.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - forwarding_url
                            description: Redirects one URL to another using an `HTTP 301/302` redirect.
                              Refer to [Wildcard matching and
                              referencing](https://developers.cloudflare.com/rules/page-rules/reference/wildcard-matching/).
                          value:
                            type: object
                            properties:
                              status_code:
                                type: number
                                enum:
                                  - 301
                                  - 302
                                description: The status code to use for the URL redirect. 301 is a permanent
                                  redirect. 302 is a temporary redirect.
                              url:
                                type: string
                                description: "The URL to redirect the request to. Notes: ${num} refers to the
                                  position of '\\ ' in the constraint value."
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - host_header_override
                            description: Apply a specific host header.
                          value:
                            type: string
                            description: The hostname to use in the `Host` header
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - ip_geolocation
                            description: Cloudflare adds a CF-IPCountry HTTP header containing the country
                              code that corresponds to the visitor.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of adding the IP Geolocation Header.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - mirage
                            description: Cloudflare Mirage reduces bandwidth used by images in mobile
                              browsers. It can accelerate loading of image-heavy
                              websites on very slow mobile connections and
                              HTTP/1.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Mirage.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - opportunistic_encryption
                            description: Opportunistic Encryption allows browsers to access HTTP URIs over
                              an encrypted TLS channel. It's not a substitute
                              for HTTPS, but provides additional security for
                              otherwise vulnerable requests.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Opportunistic Encryption.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - origin_error_page_pass_thru
                            description: Turn on or off Cloudflare error pages generated from issues sent
                              from the origin server. If enabled, this setting
                              triggers error pages issued by the origin.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Origin Error Page Passthru.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - polish
                            description: Apply options from the Polish feature of the Cloudflare Speed app.
                          value:
                            type: string
                            enum:
                              - off
                              - lossless
                              - lossy
                            description: The level of Polish you want applied to your origin.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - resolve_override
                            description: Change the origin address to the value specified in this setting.
                          value:
                            type: string
                            description: The origin address you want to override with.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - respect_strong_etag
                            description: Turn on or off byte-for-byte equivalency checks between the
                              Cloudflare cache and the origin server.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Respect Strong ETags
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - response_buffering
                            description: Turn on or off whether Cloudflare should wait for an entire file
                              from the origin server before forwarding it to the
                              site visitor. By default, Cloudflare sends packets
                              to the client as they arrive from the origin
                              server.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Response Buffering
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - rocket_loader
                            description: Turn on or off Rocket Loader in the Cloudflare Speed app.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Rocket Loader
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - security_level
                            description: Control options for the  Security Level  feature from
                              the  Security  app.
                          value:
                            type: string
                            enum:
                              - off
                              - essentially_off
                              - low
                              - medium
                              - high
                              - under_attack
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - sort_query_string_for_cache
                            description: Turn on or off the reordering of query strings. When query strings
                              have the same structure, caching improves.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of Query String Sort
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - ssl
                            description: Control options for the SSL feature of the Edge Certificates tab in
                              the Cloudflare SSL/TLS app.
                          value:
                            type: string
                            enum:
                              - off
                              - flexible
                              - full
                              - strict
                              - origin_pull
                            description: The encryption mode that Cloudflare uses to connect to your origin
                              server.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - true_client_ip_header
                            description: Turn on or off the True-Client-IP Header feature of the Cloudflare
                              Network app.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of True Client IP Header.
                      - type: object
                        properties:
                          id:
                            type: string
                            enum:
                              - waf
                            description: Turn on or off [WAF managed rules (previous version,
                              deprecated)](https://developers.cloudflare.com/waf/reference/legacy/old-waf-managed-rules/).
                              You cannot enable or disable individual WAF
                              managed rules via Page Rules.
                          value:
                            type: string
                            enum:
                              - on
                              - off
                            description: The status of WAF managed rules (previous version).
                  description: "Body param: The set of actions to perform if the targets of this
                    rule match the request. Actions can redirect to another URL
                    or override settings, but not both."
                targets:
                  type: array
                  items:
                    type: object
                    properties:
                      constraint:
                        type: object
                        properties:
                          operator:
                            type: string
                            enum:
                              - matches
                              - contains
                              - equals
                              - not_equal
                              - not_contain
                            description: The matches operator can use asterisks and pipes as wildcard and
                              'or' operators.
                          value:
                            type: string
                            description: The URL pattern to match against the current request. The pattern
                              may contain up to four asterisks ('\ ') as
                              placeholders.
                        required:
                          - operator
                          - value
                        description: String constraint.
                      target:
                        type: string
                        enum:
                          - url
                        description: A target based on the URL of the request.
                  description: "Body param: The rule targets to evaluate on each request."
                priority:
                  type: number
                  description: "Body param: The priority of the rule, used to define which Page
                    Rule is processed over another. A higher number indicates a
                    higher priority. For example, if you have a catch-all Page
                    Rule (rule A: `/images/ `) but want a more specific Page
                    Rule to take precedence (rule B: `/images/special/ `),
                    specify a higher priority for rule B so it overrides rule
                    A."
                status:
                  type: string
                  enum:
                    - active
                    - disabled
                  description: "Body param: The status of the Page Rule."
              required:
                - actions
                - targets
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  actions:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - always_use_https
                              description: If enabled, any ` http://`` URL is converted to  `https://` through
                                a 301 redirect.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - automatic_https_rewrites
                              description: Turn on or off Automatic HTTPS Rewrites.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Automatic HTTPS Rewrites.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - browser_cache_ttl
                              description: Control how long resources cached by client browsers remain valid.
                            value:
                              type: number
                              description: The number of seconds to cache resources for. Setting this to 0
                                enables "Respect Existing Headers".
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - browser_check
                              description: Inspect the visitor's browser for headers commonly associated with
                                spammers and certain bots.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Browser Integrity Check.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - bypass_cache_on_cookie
                              description: Bypass cache and fetch resources from the origin server if a
                                regular expression matches against a cookie name
                                present in the request.
                            value:
                              type: string
                              description: The regular expression to use for matching cookie names in the
                                request. Refer to [Bypass Cache on Cookie
                                setting](https://developers.cloudflare.com/rules/page-rules/reference/additional-reference/#bypass-cache-on-cookie-setting)
                                to learn about limited regular expression
                                support.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_by_device_type
                              description: Separate cached content based on the visitor's device type.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Cache By Device Type.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_deception_armor
                              description: Protect from web cache deception attacks while still allowing
                                static assets to be cached. This setting
                                verifies that the URL's extension matches the
                                returned `Content-Type`.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Cache Deception Armor.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_key_fields
                              description: Control specifically what variables to include when deciding which
                                resources to cache. This allows customers to
                                determine what to cache based on something other
                                than just the URL.
                            value:
                              type: object
                              properties:
                                cookie:
                                  type: object
                                  properties:
                                    check_presence:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of cookies to check for the presence of, without including
                                        their actual values.
                                    include:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of cookies to include.
                                  description: Controls which cookies appear in the Cache Key.
                                header:
                                  type: object
                                  properties:
                                    check_presence:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of headers to check for the presence of, without including
                                        their actual values.
                                    exclude:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of headers to ignore.
                                    include:
                                      type: array
                                      items:
                                        type: string
                                      description: A list of headers to include.
                                  description: Controls which headers go into the Cache Key. Exactly one of
                                    `include` or `exclude` is expected.
                                host:
                                  type: object
                                  properties:
                                    resolved:
                                      type: boolean
                                      description: Whether to include the Host header in the HTTP request sent to the
                                        origin.
                                  description: Determines which host header to include in the Cache Key.
                                query_string:
                                  type: object
                                  properties:
                                    exclude:
                                      oneOf:
                                        - type: string
                                          enum:
                                            - "*"
                                        - type: array
                                          items:
                                            type: string
                                      description: Ignore all query string parameters.
                                    include:
                                      oneOf:
                                        - type: string
                                          enum:
                                            - "*"
                                        - type: array
                                          items:
                                            type: string
                                      description: Include all query string parameters.
                                  description: Controls which URL query string parameters go into the Cache Key.
                                    Exactly one of `include` or `exclude` is
                                    expected.
                                user:
                                  type: object
                                  properties:
                                    device_type:
                                      type: boolean
                                      description: Classifies a request as `mobile`, `desktop`, or `tablet` based on
                                        the User Agent.
                                    geo:
                                      type: boolean
                                      description: Includes the client's country, derived from the IP address.
                                    lang:
                                      type: boolean
                                      description: Includes the first language code contained in the `Accept-Language`
                                        header sent by the client.
                                  description: Feature fields to add features about the end-user (client) into the
                                    Cache Key.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_level
                              description: Apply custom caching based on the option selected.
                            value:
                              type: string
                              enum:
                                - bypass
                                - basic
                                - simplified
                                - aggressive
                                - cache_everything
                              description: "- `bypass`: Cloudflare does not cache. - `basic`: Delivers
                                resources from cache when there is no query
                                string. - `simplified`: Delivers the same
                                resource to everyone independent of the query
                                string. - `aggressive`: Caches all static
                                content that has a query string. -
                                `cache_everything`: Treats all content as static
                                and caches all file types beyond the [Cloudflare
                                default cached
                                content](https://developers.cloudflare.com/cach\
                                e/concepts/default-cache-behavior/#default-cach\
                                ed-file-extensions)."
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_on_cookie
                              description: Apply the Cache Everything option (Cache Level setting) based on a
                                regular expression match against a cookie name.
                            value:
                              type: string
                              description: The regular expression to use for matching cookie names in the
                                request.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - cache_ttl_by_status
                              description: Enterprise customers can set cache time-to-live (TTL) based on the
                                response status from the origin web server.
                                Cache TTL refers to the duration of a resource
                                in the Cloudflare network before being marked as
                                stale or discarded from cache. Status codes are
                                returned by a resource's origin. Setting cache
                                TTL based on response status overrides the
                                default cache behavior (standard caching) for
                                static files and overrides cache instructions
                                sent by the origin web server. To cache
                                non-static assets, set a Cache Level of Cache
                                Everything using a Page Rule. Setting no-store
                                Cache-Control or a low TTL (using
                                `max-age`/`s-maxage`) increases requests to
                                origin web servers and decreases performance.
                            value:
                              type: object
                              additionalProperties: true
                              description: "A JSON object containing status codes and their corresponding
                                TTLs. Each key-value pair in the cache TTL by
                                status cache rule has the following syntax  -
                                `status_code`: An integer value such as 200 or
                                500. status_code matches the exact status code
                                from the origin web server. Valid status codes
                                are between 100-999. - `status_code_range`:
                                Integer values for from and to.
                                status_code_range matches any status code from
                                the origin web server within the specified
                                range. - `value`: An integer value that defines
                                the duration an asset is valid in seconds or one
                                of the following strings: no-store (equivalent
                                to -1), no-cache (equivalent to 0)."
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - disable_apps
                              description: Turn off all active [Cloudflare
                                Apps](https://developers.cloudflare.com/support/more-dashboard-apps/cloudflare-apps/)
                                (deprecated).
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - disable_performance
                              description: Turn off [Rocket
                                Loader](https://developers.cloudflare.com/speed/optimization/content/rocket-loader/),
                                [Mirage](https://developers.cloudflare.com/speed/optimization/images/mirage/),
                                and
                                [Polish](https://developers.cloudflare.com/images/polish/).
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - disable_security
                              description: Turn off [Email
                                Obfuscation](https://developers.cloudflare.com/waf/tools/scrape-shield/email-address-obfuscation/),
                                [Rate Limiting (previous version,
                                deprecated)](https://developers.cloudflare.com/waf/reference/legacy/old-rate-limiting/),
                                [Scrape
                                Shield](https://developers.cloudflare.com/waf/tools/scrape-shield/),
                                [URL (Zone)
                                Lockdown](https://developers.cloudflare.com/waf/tools/zone-lockdown/),
                                and [WAF managed rules (previous version,
                                deprecated)](https://developers.cloudflare.com/waf/reference/legacy/old-waf-managed-rules/).
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - disable_zaraz
                              description: Turn off [Zaraz](https://developers.cloudflare.com/zaraz/).
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - edge_cache_ttl
                              description: Specify how long to cache a resource in the Cloudflare global
                                network. _Edge Cache TTL_ is not visible in
                                response headers.
                            value:
                              type: number
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - email_obfuscation
                              description: Turn on or off  Email Obfuscation  .
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Email Obfuscation.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - explicit_cache_control
                              description: Origin Cache Control is enabled by default for Free, Pro, and
                                Business domains and disabled by default for
                                Enterprise domains.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Origin Cache Control.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - forwarding_url
                              description: Redirects one URL to another using an `HTTP 301/302` redirect.
                                Refer to [Wildcard matching and
                                referencing](https://developers.cloudflare.com/rules/page-rules/reference/wildcard-matching/).
                            value:
                              type: object
                              properties:
                                status_code:
                                  type: number
                                  enum:
                                    - 301
                                    - 302
                                  description: The status code to use for the URL redirect. 301 is a permanent
                                    redirect. 302 is a temporary redirect.
                                url:
                                  type: string
                                  description: "The URL to redirect the request to. Notes: ${num} refers to the
                                    position of '\\ ' in the constraint value."
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - host_header_override
                              description: Apply a specific host header.
                            value:
                              type: string
                              description: The hostname to use in the `Host` header
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - ip_geolocation
                              description: Cloudflare adds a CF-IPCountry HTTP header containing the country
                                code that corresponds to the visitor.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of adding the IP Geolocation Header.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - mirage
                              description: Cloudflare Mirage reduces bandwidth used by images in mobile
                                browsers. It can accelerate loading of
                                image-heavy websites on very slow mobile
                                connections and HTTP/1.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Mirage.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - opportunistic_encryption
                              description: Opportunistic Encryption allows browsers to access HTTP URIs over
                                an encrypted TLS channel. It's not a substitute
                                for HTTPS, but provides additional security for
                                otherwise vulnerable requests.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Opportunistic Encryption.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - origin_error_page_pass_thru
                              description: Turn on or off Cloudflare error pages generated from issues sent
                                from the origin server. If enabled, this setting
                                triggers error pages issued by the origin.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Origin Error Page Passthru.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - polish
                              description: Apply options from the Polish feature of the Cloudflare Speed app.
                            value:
                              type: string
                              enum:
                                - off
                                - lossless
                                - lossy
                              description: The level of Polish you want applied to your origin.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - resolve_override
                              description: Change the origin address to the value specified in this setting.
                            value:
                              type: string
                              description: The origin address you want to override with.
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - respect_strong_etag
                              description: Turn on or off byte-for-byte equivalency checks between the
                                Cloudflare cache and the origin server.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Respect Strong ETags
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - response_buffering
                              description: Turn on or off whether Cloudflare should wait for an entire file
                                from the origin server before forwarding it to
                                the site visitor. By default, Cloudflare sends
                                packets to the client as they arrive from the
                                origin server.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Response Buffering
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - rocket_loader
                              description: Turn on or off Rocket Loader in the Cloudflare Speed app.
                            value:
                              type: string
                              enum:
                                - on
                                - off
                              description: The status of Rocket Loader
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - security_level
                              description: Control options for the  Security Level  feature from
                                the  Security  app.
                            value:
                              type: string
                              enum:
                                - off
                                - essentially_off
                                - low
                                - medium
                                - high
                                - under_attack
                        - type: object
                          properties:
                            id:
                              type: string
                              enum:
                                - sort_query_string_for_cache
[...]
