openapi: 3.1.0
info:
  title: Cloudflare PAGES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: pages
paths:
  /accounts/{account_id}/pages/projects/{projectName}/purge_build_cache:
    post:
      operationId: purgeBuildCacheProject
      description: "Purge all cached build artifacts for a Pages project  @example
        ```ts const response = await client.pages.projects.purgeBuildCache(
        'this-is-my-project-01', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: projectName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /accounts/{account_id}/pages/projects/{projectName}:
    get:
      operationId: getProject
      description: "Fetch a project by name.  @example ```ts const project = await
        client.pages.projects.get( 'this-is-my-project-01', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: projectName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the project.
                  canonical_deployment:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: Id of the deployment.
                          aliases:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: A list of alias URLs pointing to this deployment.
                          build_config:
                            type: object
                            properties:
                              web_analytics_tag:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: The classifying tag for analytics.
                              web_analytics_token:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: The auth token for analytics.
                              build_caching:
                                oneOf:
                                  - type: boolean
                                nullable: true
                                description: Enable build caching for the project.
                              build_command:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Command used to build project.
                              destination_dir:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Assets output directory of the build.
                              root_dir:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Directory to run the command.
                            required:
                              - web_analytics_tag
                              - web_analytics_token
                            description: Configs for the project build process.
                          created_on:
                            type: string
                            description: When the deployment was created.
                          deployment_trigger:
                            type: object
                            properties:
                              metadata:
                                type: object
                                properties:
                                  branch:
                                    type: string
                                    description: Where the trigger happened.
                                  commit_dirty:
                                    type: boolean
                                    description: Whether the deployment trigger commit was dirty.
                                  commit_hash:
                                    type: string
                                    description: Hash of the deployment trigger commit.
                                  commit_message:
                                    type: string
                                    description: Message of the deployment trigger commit.
                                required:
                                  - branch
                                  - commit_dirty
                                  - commit_hash
                                  - commit_message
                                description: Additional info about the trigger.
                              type:
                                type: string
                                enum:
                                  - github:push
                                  - ad_hoc
                                  - deploy_hook
                                description: What caused the deployment.
                            required:
                              - metadata
                              - type
                            description: Info about what caused the deployment.
                          env_vars:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: Environment variables used for builds and Pages Functions.
                          environment:
                            type: string
                            enum:
                              - preview
                              - production
                            description: Type of deploy.
                          is_skipped:
                            type: boolean
                            description: If the deployment has been skipped.
                          latest_stage:
                            type: object
                            properties:
                              ended_on:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: When the stage ended.
                              name:
                                type: string
                                enum:
                                  - queued
                                  - initialize
                                  - clone_repo
                                  - build
                                  - deploy
                                description: The current build stage.
                              started_on:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: When the stage started.
                              status:
                                type: string
                                enum:
                                  - success
                                  - idle
                                  - active
                                  - failure
                                  - canceled
                                description: State of the current stage.
                            required:
                              - ended_on
                              - name
                              - started_on
                              - status
                            description: The status of the deployment.
                          modified_on:
                            type: string
                            description: When the deployment was last modified.
                          project_id:
                            type: string
                            description: Id of the project.
                          project_name:
                            type: string
                            description: Name of the project.
                          short_id:
                            type: string
                            description: Short Id (8 character) of the deployment.
                          source:
                            type: object
                            properties:
                              config:
                                type: object
                                properties:
                                  deployments_enabled:
                                    type: boolean
                                    description: "@deprecated Use `production_deployments_enabled` and
                                      `preview_deployment_setting` for more
                                      granular control."
                                  owner:
                                    type: string
                                    description: The owner of the repository.
                                  owner_id:
                                    type: string
                                    description: The owner ID of the repository.
                                  path_excludes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of paths that should be excluded from triggering a preview
                                      deployment. Wildcard syntax (` `) is
                                      supported.
                                  path_includes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of paths that should be watched to trigger a preview
                                      deployment. Wildcard syntax (` `) is
                                      supported.
                                  pr_comments_enabled:
                                    type: boolean
                                    description: Whether to enable PR comments.
                                  preview_branch_excludes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of branches that should not trigger a preview deployment.
                                      Wildcard syntax (` `) is supported. Must
                                      be used with `preview_deployment_setting`
                                      set to `custom`.
                                  preview_branch_includes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of branches that should trigger a preview deployment.
                                      Wildcard syntax (` `) is supported. Must
                                      be used with `preview_deployment_setting`
                                      set to `custom`.
                                  preview_deployment_setting:
                                    type: string
                                    enum:
                                      - all
                                      - none
                                      - custom
                                    description: Controls whether commits to preview branches trigger a preview
                                      deployment.
                                  production_branch:
                                    type: string
                                    description: The production branch of the repository.
                                  production_deployments_enabled:
                                    type: boolean
                                    description: Whether to trigger a production deployment on commits to the
                                      production branch.
                                  repo_id:
                                    type: string
                                    description: The ID of the repository.
                                  repo_name:
                                    type: string
                                    description: The name of the repository.
                                required:
                                  - deployments_enabled
                                  - owner
                                  - owner_id
                                  - path_excludes
                                  - path_includes
                                  - pr_comments_enabled
                                  - preview_branch_excludes
                                  - preview_branch_includes
                                  - preview_deployment_setting
                                  - production_branch
                                  - production_deployments_enabled
                                  - repo_id
                                  - repo_name
                              type:
                                type: string
                                enum:
                                  - github
                                  - gitlab
                                description: The source control management provider.
                            required:
                              - config
                              - type
                            description: Configs for the project source control.
                          stages:
                            type: array
                            items:
                              type: object
                              properties:
                                ended_on:
                                  oneOf:
                                    - type: string
                                  nullable: true
                                  description: When the stage ended.
                                name:
                                  type: string
                                  enum:
                                    - queued
                                    - initialize
                                    - clone_repo
                                    - build
                                    - deploy
                                  description: The current build stage.
                                started_on:
                                  oneOf:
                                    - type: string
                                  nullable: true
                                  description: When the stage started.
                                status:
                                  type: string
                                  enum:
                                    - success
                                    - idle
                                    - active
                                    - failure
                                    - canceled
                                  description: State of the current stage.
                              required:
                                - ended_on
                                - name
                                - started_on
                                - status
                            description: List of past stages.
                          url:
                            type: string
                            description: The live URL to view this deployment.
                          uses_functions:
                            oneOf:
                              - type: boolean
                            nullable: true
                            description: Whether the deployment uses functions.
                        required:
                          - id
                          - aliases
                          - build_config
                          - created_on
                          - deployment_trigger
                          - env_vars
                          - environment
                          - is_skipped
                          - latest_stage
                          - modified_on
                          - project_id
                          - project_name
                          - short_id
                          - source
                          - stages
                          - url
                    nullable: true
                    description: Most recent production deployment of the project.
                  created_on:
                    type: string
                    description: When the project was created.
                  deployment_configs:
                    type: object
                    properties:
                      preview:
                        type: object
                        properties:
                          always_use_latest_compatibility_date:
                            type: boolean
                            description: Whether to always use the latest compatibility date for Pages
                              Functions.
                          build_image_major_version:
                            type: number
                            description: The major version of the build image to use for Pages Functions.
                          compatibility_date:
                            type: string
                            description: Compatibility date used for Pages Functions.
                          compatibility_flags:
                            type: array
                            items:
                              type: string
                            description: Compatibility flags used for Pages Functions.
                          env_vars:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: Environment variables used for builds and Pages Functions.
                          fail_open:
                            type: boolean
                            description: Whether to fail open when the deployment config cannot be applied.
                          usage_model:
                            type: string
                            enum:
                              - standard
                              - bundled
                              - unbound
                            description: "@deprecated All new projects now use the Standard usage model."
                          ai_bindings:
                            type: object
                            additionalProperties: true
                            description: Constellation bindings used for Pages Functions.
                          analytics_engine_datasets:
                            type: object
                            additionalProperties: true
                            description: Analytics Engine bindings used for Pages Functions.
                          browsers:
                            type: object
                            additionalProperties: true
                            description: Browser bindings used for Pages Functions.
                          d1_databases:
                            type: object
                            additionalProperties: true
                            description: D1 databases used for Pages Functions.
                          durable_object_namespaces:
                            type: object
                            additionalProperties: true
                            description: Durable Object namespaces used for Pages Functions.
                          hyperdrive_bindings:
                            type: object
                            additionalProperties: true
                            description: Hyperdrive bindings used for Pages Functions.
                          kv_namespaces:
                            type: object
                            additionalProperties: true
                            description: KV namespaces used for Pages Functions.
                          limits:
                            type: object
                            properties:
                              cpu_ms:
                                type: number
                                description: CPU time limit in milliseconds.
                            required:
                              - cpu_ms
                            description: Limits for Pages Functions.
                          mtls_certificates:
                            type: object
                            additionalProperties: true
                            description: mTLS bindings used for Pages Functions.
                          placement:
                            type: object
                            properties:
                              mode:
                                type: string
                                description: Placement mode.
                            required:
                              - mode
                            description: Placement setting used for Pages Functions.
                          queue_producers:
                            type: object
                            additionalProperties: true
                            description: Queue Producer bindings used for Pages Functions.
                          r2_buckets:
                            type: object
                            additionalProperties: true
                            description: R2 buckets used for Pages Functions.
                          services:
                            type: object
                            additionalProperties: true
                            description: Services used for Pages Functions.
                          vectorize_bindings:
                            type: object
                            additionalProperties: true
                            description: Vectorize bindings used for Pages Functions.
                          wrangler_config_hash:
                            type: string
                            description: Hash of the Wrangler configuration used for the deployment.
                        required:
                          - always_use_latest_compatibility_date
                          - build_image_major_version
                          - compatibility_date
                          - compatibility_flags
                          - env_vars
                          - fail_open
                          - usage_model
                        description: Configs for preview deploys.
                      production:
                        type: object
                        properties:
                          always_use_latest_compatibility_date:
                            type: boolean
                            description: Whether to always use the latest compatibility date for Pages
                              Functions.
                          build_image_major_version:
                            type: number
                            description: The major version of the build image to use for Pages Functions.
                          compatibility_date:
                            type: string
                            description: Compatibility date used for Pages Functions.
                          compatibility_flags:
                            type: array
                            items:
                              type: string
                            description: Compatibility flags used for Pages Functions.
                          env_vars:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: Environment variables used for builds and Pages Functions.
                          fail_open:
                            type: boolean
                            description: Whether to fail open when the deployment config cannot be applied.
                          usage_model:
                            type: string
                            enum:
                              - standard
                              - bundled
                              - unbound
                            description: "@deprecated All new projects now use the Standard usage model."
                          ai_bindings:
                            type: object
                            additionalProperties: true
                            description: Constellation bindings used for Pages Functions.
                          analytics_engine_datasets:
                            type: object
                            additionalProperties: true
                            description: Analytics Engine bindings used for Pages Functions.
                          browsers:
                            type: object
                            additionalProperties: true
                            description: Browser bindings used for Pages Functions.
                          d1_databases:
                            type: object
                            additionalProperties: true
                            description: D1 databases used for Pages Functions.
                          durable_object_namespaces:
                            type: object
                            additionalProperties: true
                            description: Durable Object namespaces used for Pages Functions.
                          hyperdrive_bindings:
                            type: object
                            additionalProperties: true
                            description: Hyperdrive bindings used for Pages Functions.
                          kv_namespaces:
                            type: object
                            additionalProperties: true
                            description: KV namespaces used for Pages Functions.
                          limits:
                            type: object
                            properties:
                              cpu_ms:
                                type: number
                                description: CPU time limit in milliseconds.
                            required:
                              - cpu_ms
                            description: Limits for Pages Functions.
                          mtls_certificates:
                            type: object
                            additionalProperties: true
                            description: mTLS bindings used for Pages Functions.
                          placement:
                            type: object
                            properties:
                              mode:
                                type: string
                                description: Placement mode.
                            required:
                              - mode
                            description: Placement setting used for Pages Functions.
                          queue_producers:
                            type: object
                            additionalProperties: true
                            description: Queue Producer bindings used for Pages Functions.
                          r2_buckets:
                            type: object
                            additionalProperties: true
                            description: R2 buckets used for Pages Functions.
                          services:
                            type: object
                            additionalProperties: true
                            description: Services used for Pages Functions.
                          vectorize_bindings:
                            type: object
                            additionalProperties: true
                            description: Vectorize bindings used for Pages Functions.
                          wrangler_config_hash:
                            type: string
                            description: Hash of the Wrangler configuration used for the deployment.
                        required:
                          - always_use_latest_compatibility_date
                          - build_image_major_version
                          - compatibility_date
                          - compatibility_flags
                          - env_vars
                          - fail_open
                          - usage_model
                        description: Configs for production deploys.
                    required:
                      - preview
                      - production
                    description: Configs for deployments in a project.
                  framework:
                    type: string
                    description: Framework the project is using.
                  framework_version:
                    type: string
                    description: Version of the framework the project is using.
                  latest_deployment:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: Id of the deployment.
                          aliases:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: A list of alias URLs pointing to this deployment.
                          build_config:
                            type: object
                            properties:
                              web_analytics_tag:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: The classifying tag for analytics.
                              web_analytics_token:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: The auth token for analytics.
                              build_caching:
                                oneOf:
                                  - type: boolean
                                nullable: true
                                description: Enable build caching for the project.
                              build_command:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Command used to build project.
                              destination_dir:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Assets output directory of the build.
                              root_dir:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Directory to run the command.
                            required:
                              - web_analytics_tag
                              - web_analytics_token
                            description: Configs for the project build process.
                          created_on:
                            type: string
                            description: When the deployment was created.
                          deployment_trigger:
                            type: object
                            properties:
                              metadata:
                                type: object
                                properties:
                                  branch:
                                    type: string
                                    description: Where the trigger happened.
                                  commit_dirty:
                                    type: boolean
                                    description: Whether the deployment trigger commit was dirty.
                                  commit_hash:
                                    type: string
                                    description: Hash of the deployment trigger commit.
                                  commit_message:
                                    type: string
                                    description: Message of the deployment trigger commit.
                                required:
                                  - branch
                                  - commit_dirty
                                  - commit_hash
                                  - commit_message
                                description: Additional info about the trigger.
                              type:
                                type: string
                                enum:
                                  - github:push
                                  - ad_hoc
                                  - deploy_hook
                                description: What caused the deployment.
                            required:
                              - metadata
                              - type
                            description: Info about what caused the deployment.
                          env_vars:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: Environment variables used for builds and Pages Functions.
                          environment:
                            type: string
                            enum:
                              - preview
                              - production
                            description: Type of deploy.
                          is_skipped:
                            type: boolean
                            description: If the deployment has been skipped.
                          latest_stage:
                            type: object
                            properties:
                              ended_on:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: When the stage ended.
                              name:
                                type: string
                                enum:
                                  - queued
                                  - initialize
                                  - clone_repo
                                  - build
                                  - deploy
                                description: The current build stage.
                              started_on:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: When the stage started.
                              status:
                                type: string
                                enum:
                                  - success
                                  - idle
                                  - active
                                  - failure
                                  - canceled
                                description: State of the current stage.
                            required:
                              - ended_on
                              - name
                              - started_on
                              - status
                            description: The status of the deployment.
                          modified_on:
                            type: string
                            description: When the deployment was last modified.
                          project_id:
                            type: string
                            description: Id of the project.
                          project_name:
                            type: string
                            description: Name of the project.
                          short_id:
                            type: string
                            description: Short Id (8 character) of the deployment.
                          source:
                            type: object
                            properties:
                              config:
                                type: object
                                properties:
                                  deployments_enabled:
                                    type: boolean
                                    description: "@deprecated Use `production_deployments_enabled` and
                                      `preview_deployment_setting` for more
                                      granular control."
                                  owner:
                                    type: string
                                    description: The owner of the repository.
                                  owner_id:
                                    type: string
                                    description: The owner ID of the repository.
                                  path_excludes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of paths that should be excluded from triggering a preview
                                      deployment. Wildcard syntax (` `) is
                                      supported.
                                  path_includes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of paths that should be watched to trigger a preview
                                      deployment. Wildcard syntax (` `) is
                                      supported.
                                  pr_comments_enabled:
                                    type: boolean
                                    description: Whether to enable PR comments.
                                  preview_branch_excludes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of branches that should not trigger a preview deployment.
                                      Wildcard syntax (` `) is supported. Must
                                      be used with `preview_deployment_setting`
                                      set to `custom`.
                                  preview_branch_includes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of branches that should trigger a preview deployment.
                                      Wildcard syntax (` `) is supported. Must
                                      be used with `preview_deployment_setting`
                                      set to `custom`.
                                  preview_deployment_setting:
                                    type: string
                                    enum:
                                      - all
                                      - none
                                      - custom
                                    description: Controls whether commits to preview branches trigger a preview
                                      deployment.
                                  production_branch:
                                    type: string
                                    description: The production branch of the repository.
                                  production_deployments_enabled:
                                    type: boolean
                                    description: Whether to trigger a production deployment on commits to the
                                      production branch.
                                  repo_id:
                                    type: string
                                    description: The ID of the repository.
                                  repo_name:
                                    type: string
                                    description: The name of the repository.
                                required:
                                  - deployments_enabled
                                  - owner
                                  - owner_id
                                  - path_excludes
                                  - path_includes
                                  - pr_comments_enabled
                                  - preview_branch_excludes
                                  - preview_branch_includes
                                  - preview_deployment_setting
                                  - production_branch
                                  - production_deployments_enabled
                                  - repo_id
                                  - repo_name
                              type:
                                type: string
                                enum:
                                  - github
                                  - gitlab
                                description: The source control management provider.
                            required:
                              - config
                              - type
                            description: Configs for the project source control.
                          stages:
                            type: array
                            items:
                              type: object
                              properties:
                                ended_on:
                                  oneOf:
                                    - type: string
                                  nullable: true
                                  description: When the stage ended.
                                name:
                                  type: string
                                  enum:
                                    - queued
                                    - initialize
                                    - clone_repo
                                    - build
                                    - deploy
                                  description: The current build stage.
                                started_on:
                                  oneOf:
                                    - type: string
                                  nullable: true
                                  description: When the stage started.
                                status:
                                  type: string
                                  enum:
                                    - success
                                    - idle
                                    - active
                                    - failure
                                    - canceled
                                  description: State of the current stage.
                              required:
                                - ended_on
                                - name
                                - started_on
                                - status
                            description: List of past stages.
                          url:
                            type: string
                            description: The live URL to view this deployment.
                          uses_functions:
                            oneOf:
                              - type: boolean
                            nullable: true
                            description: Whether the deployment uses functions.
                        required:
                          - id
                          - aliases
                          - build_config
                          - created_on
                          - deployment_trigger
                          - env_vars
                          - environment
                          - is_skipped
                          - latest_stage
                          - modified_on
                          - project_id
                          - project_name
                          - short_id
                          - source
                          - stages
                          - url
                    nullable: true
                    description: Most recent deployment of the project.
                  name:
                    type: string
                    description: Name of the project.
                  preview_script_name:
                    type: string
                    description: Name of the preview script.
                  production_branch:
                    type: string
                    description: Production branch of the project. Used to identify production
                      deployments.
                  production_script_name:
                    type: string
                    description: Name of the production script.
                  uses_functions:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: Whether the project uses functions.
                  build_config:
                    type: object
                    properties:
                      web_analytics_tag:
                        oneOf:
                          - type: string
                        nullable: true
                        description: The classifying tag for analytics.
                      web_analytics_token:
                        oneOf:
                          - type: string
                        nullable: true
                        description: The auth token for analytics.
                      build_caching:
                        oneOf:
                          - type: boolean
                        nullable: true
                        description: Enable build caching for the project.
                      build_command:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Command used to build project.
                      destination_dir:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Assets output directory of the build.
                      root_dir:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Directory to run the command.
                    required:
                      - web_analytics_tag
                      - web_analytics_token
                    description: Configs for the project build process.
                  domains:
                    type: array
                    items:
                      type: string
                    description: A list of associated custom domains for the project.
                  source:
                    type: object
                    properties:
                      config:
                        type: object
                        properties:
                          deployments_enabled:
                            type: boolean
                            description: "@deprecated Use `production_deployments_enabled` and
                              `preview_deployment_setting` for more granular
                              control."
                          owner:
                            type: string
                            description: The owner of the repository.
                          owner_id:
                            type: string
                            description: The owner ID of the repository.
                          path_excludes:
                            type: array
                            items:
                              type: string
                            description: A list of paths that should be excluded from triggering a preview
                              deployment. Wildcard syntax (` `) is supported.
                          path_includes:
                            type: array
                            items:
                              type: string
                            description: A list of paths that should be watched to trigger a preview
                              deployment. Wildcard syntax (` `) is supported.
                          pr_comments_enabled:
                            type: boolean
                            description: Whether to enable PR comments.
                          preview_branch_excludes:
                            type: array
                            items:
                              type: string
                            description: A list of branches that should not trigger a preview deployment.
                              Wildcard syntax (` `) is supported. Must be used
                              with `preview_deployment_setting` set to `custom`.
                          preview_branch_includes:
                            type: array
                            items:
                              type: string
                            description: A list of branches that should trigger a preview deployment.
                              Wildcard syntax (` `) is supported. Must be used
                              with `preview_deployment_setting` set to `custom`.
                          preview_deployment_setting:
                            type: string
                            enum:
                              - all
                              - none
                              - custom
                            description: Controls whether commits to preview branches trigger a preview
                              deployment.
                          production_branch:
                            type: string
                            description: The production branch of the repository.
                          production_deployments_enabled:
                            type: boolean
                            description: Whether to trigger a production deployment on commits to the
                              production branch.
                          repo_id:
                            type: string
                            description: The ID of the repository.
                          repo_name:
                            type: string
                            description: The name of the repository.
                        required:
                          - deployments_enabled
                          - owner
                          - owner_id
                          - path_excludes
                          - path_includes
                          - pr_comments_enabled
                          - preview_branch_excludes
                          - preview_branch_includes
                          - preview_deployment_setting
                          - production_branch
                          - production_deployments_enabled
                          - repo_id
                          - repo_name
                      type:
                        type: string
                        enum:
                          - github
                          - gitlab
                        description: The source control management provider.
                    required:
                      - config
                      - type
                    description: Configs for the project source control.
                  subdomain:
                    type: string
                    description: The Cloudflare subdomain associated with the project.
                required:
                  - id
                  - canonical_deployment
                  - created_on
                  - deployment_configs
                  - framework
                  - framework_version
                  - latest_deployment
                  - name
                  - preview_script_name
                  - production_branch
                  - production_script_name
                  - uses_functions
      x-distilled-response-path: result
    patch:
      operationId: patchProject
      description: "Set new attributes for an existing project. Modify environment
        variables. To delete an environment variable, set the key to
        null.  @example ```ts const response = await client.pages.projects.edit(
        'this-is-my-project-01', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: projectName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                build_config:
                  type: object
                  properties:
                    build_caching:
                      type: boolean
                      description: Enable build caching for the project.
                    build_command:
                      type: string
                      description: Command used to build project.
                    destination_dir:
                      type: string
                      description: Output directory of the build.
                    root_dir:
                      type: string
                      description: Directory to run the command.
                    web_analytics_tag:
                      oneOf:
                        - type: string
                      nullable: true
                      description: The classifying tag for analytics.
                    web_analytics_token:
                      oneOf:
                        - type: string
                      nullable: true
                      description: The auth token for analytics.
                  description: "Body param: Configs for the project build process."
                deployment_configs:
                  type: object
                  properties:
                    preview:
                      type: object
                      properties:
                        ai_bindings:
                          type: object
                          additionalProperties: true
                          description: Constellation bindings used for Pages Functions.
                        always_use_latest_compatibility_date:
                          type: boolean
                          description: Whether to always use the latest compatibility date for Pages
                            Functions.
                        analytics_engine_datasets:
                          type: object
                          additionalProperties: true
                          description: Analytics Engine bindings used for Pages Functions.
                        browsers:
                          type: object
                          additionalProperties: true
                          description: Browser bindings used for Pages Functions.
                        build_image_major_version:
                          type: number
                          description: The major version of the build image to use for Pages Functions.
                        compatibility_date:
                          type: string
                          description: Compatibility date used for Pages Functions.
                        compatibility_flags:
                          type: array
                          items:
                            type: string
                          description: Compatibility flags used for Pages Functions.
                        d1_databases:
                          type: object
                          additionalProperties: true
                          description: D1 databases used for Pages Functions.
                        durable_object_namespaces:
                          type: object
                          additionalProperties: true
                          description: Durable Object namespaces used for Pages Functions.
                        env_vars:
                          type: object
                          additionalProperties: true
                          description: Environment variables used for builds and Pages Functions.
                        fail_open:
                          type: boolean
                          description: Whether to fail open when the deployment config cannot be applied.
                        hyperdrive_bindings:
                          type: object
                          additionalProperties: true
                          description: Hyperdrive bindings used for Pages Functions.
                        kv_namespaces:
                          type: object
                          additionalProperties: true
                          description: KV namespaces used for Pages Functions.
                        limits:
                          type: object
                          properties:
                            cpu_ms:
                              type: number
                              description: CPU time limit in milliseconds.
                          required:
                            - cpu_ms
                          description: Limits for Pages Functions.
                        mtls_certificates:
                          type: object
                          additionalProperties: true
                          description: mTLS bindings used for Pages Functions.
                        placement:
                          type: object
                          properties:
                            mode:
                              type: string
                              description: Placement mode.
                          required:
                            - mode
                          description: Placement setting used for Pages Functions.
                        queue_producers:
                          type: object
                          additionalProperties: true
                          description: Queue Producer bindings used for Pages Functions.
                        r2_buckets:
                          type: object
                          additionalProperties: true
                          description: R2 buckets used for Pages Functions.
                        services:
                          type: object
                          additionalProperties: true
                          description: Services used for Pages Functions.
                        usage_model:
                          type: string
                          enum:
                            - standard
                            - bundled
                            - unbound
                          description: "@deprecated All new projects now use the Standard usage model."
                        vectorize_bindings:
                          type: object
                          additionalProperties: true
                          description: Vectorize bindings used for Pages Functions.
                        wrangler_config_hash:
                          type: string
                          description: Hash of the Wrangler configuration used for the deployment.
                      description: Configs for preview deploys.
                    production:
                      type: object
                      properties:
                        ai_bindings:
                          type: object
                          additionalProperties: true
                          description: Constellation bindings used for Pages Functions.
                        always_use_latest_compatibility_date:
                          type: boolean
                          description: Whether to always use the latest compatibility date for Pages
                            Functions.
                        analytics_engine_datasets:
                          type: object
                          additionalProperties: true
                          description: Analytics Engine bindings used for Pages Functions.
                        browsers:
                          type: object
                          additionalProperties: true
                          description: Browser bindings used for Pages Functions.
                        build_image_major_version:
                          type: number
                          description: The major version of the build image to use for Pages Functions.
                        compatibility_date:
                          type: string
                          description: Compatibility date used for Pages Functions.
                        compatibility_flags:
                          type: array
                          items:
                            type: string
                          description: Compatibility flags used for Pages Functions.
                        d1_databases:
                          type: object
                          additionalProperties: true
                          description: D1 databases used for Pages Functions.
                        durable_object_namespaces:
                          type: object
                          additionalProperties: true
                          description: Durable Object namespaces used for Pages Functions.
                        env_vars:
                          type: object
                          additionalProperties: true
                          description: Environment variables used for builds and Pages Functions.
                        fail_open:
                          type: boolean
                          description: Whether to fail open when the deployment config cannot be applied.
                        hyperdrive_bindings:
                          type: object
                          additionalProperties: true
                          description: Hyperdrive bindings used for Pages Functions.
                        kv_namespaces:
                          type: object
                          additionalProperties: true
                          description: KV namespaces used for Pages Functions.
                        limits:
                          type: object
                          properties:
                            cpu_ms:
                              type: number
                              description: CPU time limit in milliseconds.
                          required:
                            - cpu_ms
                          description: Limits for Pages Functions.
                        mtls_certificates:
                          type: object
                          additionalProperties: true
                          description: mTLS bindings used for Pages Functions.
                        placement:
                          type: object
                          properties:
                            mode:
                              type: string
                              description: Placement mode.
                          required:
                            - mode
                          description: Placement setting used for Pages Functions.
                        queue_producers:
                          type: object
                          additionalProperties: true
                          description: Queue Producer bindings used for Pages Functions.
                        r2_buckets:
                          type: object
                          additionalProperties: true
                          description: R2 buckets used for Pages Functions.
                        services:
                          type: object
                          additionalProperties: true
                          description: Services used for Pages Functions.
                        usage_model:
                          type: string
                          enum:
                            - standard
                            - bundled
                            - unbound
                          description: "@deprecated All new projects now use the Standard usage model."
                        vectorize_bindings:
                          type: object
                          additionalProperties: true
                          description: Vectorize bindings used for Pages Functions.
                        wrangler_config_hash:
                          type: string
                          description: Hash of the Wrangler configuration used for the deployment.
                      description: Configs for production deploys.
                  description: "Body param: Configs for deployments in a project."
                name:
                  type: string
                  description: "Body param: Name of the project."
                production_branch:
                  type: string
                  description: "Body param: Production branch of the project. Used to identify
                    production deployments."
                source:
                  type: object
                  properties:
                    config:
                      type: object
                      properties:
                        deployments_enabled:
                          type: boolean
                          description: "@deprecated Use `production_deployments_enabled` and
                            `preview_deployment_setting` for more granular
                            control."
                        owner:
                          type: string
                          description: The owner of the repository.
                        owner_id:
                          type: string
                          description: The owner ID of the repository.
                        path_excludes:
                          type: array
                          items:
                            type: string
                          description: A list of paths that should be excluded from triggering a preview
                            deployment. Wildcard syntax (` `) is supported.
                        path_includes:
                          type: array
                          items:
                            type: string
                          description: A list of paths that should be watched to trigger a preview
                            deployment. Wildcard syntax (` `) is supported.
                        pr_comments_enabled:
                          type: boolean
                          description: Whether to enable PR comments.
                        preview_branch_excludes:
                          type: array
                          items:
                            type: string
                          description: A list of branches that should not trigger a preview deployment.
                            Wildcard syntax (` `) is supported. Must be used
                            with `preview_deployment_setting` set to `custom`.
                        preview_branch_includes:
                          type: array
                          items:
                            type: string
                          description: A list of branches that should trigger a preview deployment.
                            Wildcard syntax (` `) is supported. Must be used
                            with `preview_deployment_setting` set to `custom`.
                        preview_deployment_setting:
                          type: string
                          enum:
                            - all
                            - none
                            - custom
                          description: Controls whether commits to preview branches trigger a preview
                            deployment.
                        production_branch:
                          type: string
                          description: The production branch of the repository.
                        production_deployments_enabled:
                          type: boolean
                          description: Whether to trigger a production deployment on commits to the
                            production branch.
                        repo_id:
                          type: string
                          description: The ID of the repository.
                        repo_name:
                          type: string
                          description: The name of the repository.
                    type:
                      type: string
                      enum:
                        - github
                        - gitlab
                      description: The source control management provider.
                  required:
                    - config
                    - type
                  description: "Body param: Configs for the project source control."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the project.
                  canonical_deployment:
                    oneOf:
                      - type: object
                        properties:
                          id:
                            type: string
                            description: Id of the deployment.
                          aliases:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                            nullable: true
                            description: A list of alias URLs pointing to this deployment.
                          build_config:
                            type: object
                            properties:
                              web_analytics_tag:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: The classifying tag for analytics.
                              web_analytics_token:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: The auth token for analytics.
                              build_caching:
                                oneOf:
                                  - type: boolean
                                nullable: true
                                description: Enable build caching for the project.
                              build_command:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Command used to build project.
                              destination_dir:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Assets output directory of the build.
                              root_dir:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: Directory to run the command.
                            required:
                              - web_analytics_tag
                              - web_analytics_token
                            description: Configs for the project build process.
                          created_on:
                            type: string
                            description: When the deployment was created.
                          deployment_trigger:
                            type: object
                            properties:
                              metadata:
                                type: object
                                properties:
                                  branch:
                                    type: string
                                    description: Where the trigger happened.
                                  commit_dirty:
                                    type: boolean
                                    description: Whether the deployment trigger commit was dirty.
                                  commit_hash:
                                    type: string
                                    description: Hash of the deployment trigger commit.
                                  commit_message:
                                    type: string
                                    description: Message of the deployment trigger commit.
                                required:
                                  - branch
                                  - commit_dirty
                                  - commit_hash
                                  - commit_message
                                description: Additional info about the trigger.
                              type:
                                type: string
                                enum:
                                  - github:push
                                  - ad_hoc
                                  - deploy_hook
                                description: What caused the deployment.
                            required:
                              - metadata
                              - type
                            description: Info about what caused the deployment.
                          env_vars:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: Environment variables used for builds and Pages Functions.
                          environment:
                            type: string
                            enum:
                              - preview
                              - production
                            description: Type of deploy.
                          is_skipped:
                            type: boolean
                            description: If the deployment has been skipped.
                          latest_stage:
                            type: object
                            properties:
                              ended_on:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: When the stage ended.
                              name:
                                type: string
                                enum:
                                  - queued
                                  - initialize
                                  - clone_repo
                                  - build
                                  - deploy
                                description: The current build stage.
                              started_on:
                                oneOf:
                                  - type: string
                                nullable: true
                                description: When the stage started.
                              status:
                                type: string
                                enum:
                                  - success
                                  - idle
                                  - active
                                  - failure
                                  - canceled
                                description: State of the current stage.
                            required:
                              - ended_on
                              - name
                              - started_on
                              - status
                            description: The status of the deployment.
                          modified_on:
                            type: string
                            description: When the deployment was last modified.
                          project_id:
                            type: string
                            description: Id of the project.
                          project_name:
                            type: string
                            description: Name of the project.
                          short_id:
                            type: string
                            description: Short Id (8 character) of the deployment.
                          source:
                            type: object
                            properties:
                              config:
                                type: object
                                properties:
                                  deployments_enabled:
                                    type: boolean
                                    description: "@deprecated Use `production_deployments_enabled` and
                                      `preview_deployment_setting` for more
                                      granular control."
                                  owner:
                                    type: string
                                    description: The owner of the repository.
                                  owner_id:
                                    type: string
                                    description: The owner ID of the repository.
                                  path_excludes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of paths that should be excluded from triggering a preview
                                      deployment. Wildcard syntax (` `) is
                                      supported.
                                  path_includes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of paths that should be watched to trigger a preview
                                      deployment. Wildcard syntax (` `) is
                                      supported.
                                  pr_comments_enabled:
                                    type: boolean
                                    description: Whether to enable PR comments.
                                  preview_branch_excludes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of branches that should not trigger a preview deployment.
                                      Wildcard syntax (` `) is supported. Must
                                      be used with `preview_deployment_setting`
                                      set to `custom`.
                                  preview_branch_includes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of branches that should trigger a preview deployment.
                                      Wildcard syntax (` `) is supported. Must
                                      be used with `preview_deployment_setting`
                                      set to `custom`.
                                  preview_deployment_setting:
                                    type: string
                                    enum:
                                      - all
                                      - none
                                      - custom
                                    description: Controls whether commits to preview branches trigger a preview
                                      deployment.
                                  production_branch:
                                    type: string
                                    description: The production branch of the repository.
                                  production_deployments_enabled:
                                    type: boolean
                                    description: Whether to trigger a production deployment on commits to the
                                      production branch.
                                  repo_id:
                                    type: string
                                    description: The ID of the repository.
                                  repo_name:
                                    type: string
                                    description: The name of the repository.
                                required:
                                  - deployments_enabled
                                  - owner
                                  - owner_id
                                  - path_excludes
                                  - path_includes
                                  - pr_comments_enabled
                                  - preview_branch_excludes
                                  - preview_branch_includes
                                  - preview_deployment_setting
                                  - production_branch
                                  - production_deployments_enabled
                                  - repo_id
                                  - repo_name
                              type:
                                type: string
                                enum:
                                  - github
                                  - gitlab
                                description: The source control management provider.
                            required:
                              - config
                              - type
                            description: Configs for the project source control.
                          stages:
                            type: array
                            items:
                              type: object
                              properties:
                                ended_on:
                                  oneOf:
                                    - type: string
                                  nullable: true
                                  description: When the stage ended.
                                name:
                                  type: string
                                  enum:
                                    - queued
                                    - initialize
                                    - clone_repo
                                    - build
                                    - deploy
                                  description: The current build stage.
                                started_on:
                                  oneOf:
                                    - type: string
                                  nullable: true
                                  description: When the stage started.
                                status:
                                  type: string
                                  enum:
                                    - success
                                    - idle
                                    - active
                                    - failure
                                    - canceled
                                  description: State of the current stage.
                              required:
                                - ended_on
                                - name
                                - started_on
                                - status
                            description: List of past stages.
                          url:
                            type: string
                            description: The live URL to view this deployment.
                          uses_functions:
                            oneOf:
                              - type: boolean
                            nullable: true
                            description: Whether the deployment uses functions.
                        required:
                          - id
                          - aliases
                          - build_config
                          - created_on
                          - deployment_trigger
                          - env_vars
                          - environment
                          - is_skipped
                          - latest_stage
                          - modified_on
                          - project_id
                          - project_name
                          - short_id
                          - source
                          - stages
                          - url
                    nullable: true
                    description: Most recent production deployment of the project.
                  created_on:
                    type: string
                    description: When the project was created.
                  deployment_configs:
                    type: object
                    properties:
                      preview:
                        type: object
                        properties:
                          always_use_latest_compatibility_date:
                            type: boolean
                            description: Whether to always use the latest compatibility date for Pages
                              Functions.
                          build_image_major_version:
                            type: number
                            description: The major version of the build image to use for Pages Functions.
                          compatibility_date:
                            type: string
                            description: Compatibility date used for Pages Functions.
                          compatibility_flags:
                            type: array
                            items:
                              type: string
                            description: Compatibility flags used for Pages Functions.
                          env_vars:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: Environment variables used for builds and Pages Functions.
                          fail_open:
                            type: boolean
                            description: Whether to fail open when the deployment config cannot be applied.
                          usage_model:
                            type: string
                            enum:
                              - standard
                              - bundled
                              - unbound
                            description: "@deprecated All new projects now use the Standard usage model."
                          ai_bindings:
                            type: object
                            additionalProperties: true
                            description: Constellation bindings used for Pages Functions.
                          analytics_engine_datasets:
                            type: object
                            additionalProperties: true
                            description: Analytics Engine bindings used for Pages Functions.
                          browsers:
                            type: object
                            additionalProperties: true
                            description: Browser bindings used for Pages Functions.
                          d1_databases:
                            type: object
                            additionalProperties: true
                            description: D1 databases used for Pages Functions.
                          durable_object_namespaces:
                            type: object
                            additionalProperties: true
                            description: Durable Object namespaces used for Pages Functions.
                          hyperdrive_bindings:
                            type: object
                            additionalProperties: true
                            description: Hyperdrive bindings used for Pages Functions.
                          kv_namespaces:
                            type: object
                            additionalProperties: true
                            description: KV namespaces used for Pages Functions.
                          limits:
                            type: object
                            properties:
                              cpu_ms:
                                type: number
                                description: CPU time limit in milliseconds.
                            required:
                              - cpu_ms
                            description: Limits for Pages Functions.
                          mtls_certificates:
                            type: object
                            additionalProperties: true
                            description: mTLS bindings used for Pages Functions.
                          placement:
                            type: object
                            properties:
                              mode:
                                type: string
                                description: Placement mode.
                            required:
                              - mode
                            description: Placement setting used for Pages Functions.
                          queue_producers:
                            type: object
                            additionalProperties: true
                            description: Queue Producer bindings used for Pages Functions.
                          r2_buckets:
                            type: object
                            additionalProperties: true
                            description: R2 buckets used for Pages Functions.
                          services:
                            type: object
                            additionalProperties: true
                            description: Services used for Pages Functions.
                          vectorize_bindings:
                            type: object
                            additionalProperties: true
                            description: Vectorize bindings used for Pages Functions.
                          wrangler_config_hash:
                            type: string
                            description: Hash of the Wrangler configuration used for the deployment.
                        required:
                          - always_use_latest_compatibility_date
                          - build_image_major_version
                          - compatibility_date
                          - compatibility_flags
                          - env_vars
                          - fail_open
                          - usage_model
                        description: Configs for preview deploys.
                      production:
                        type: object
                        properties:
                          always_use_latest_compatibility_date:
                            type: boolean
                            description: Whether to always use the latest compatibility date for Pages
                              Functions.
                          build_image_major_version:
                            type: number
                            description: The major version of the build image to use for Pages Functions.
                          compatibility_date:
                            type: string
                            description: Compatibility date used for Pages Functions.
                          compatibility_flags:
                            type: array
                            items:
                              type: string
                            description: Compatibility flags used for Pages Functions.
                          env_vars:
                            oneOf:
                              - type: object
                                additionalProperties: true
                            nullable: true
                            description: Environment variables used for builds and Pages Functions.
                          fail_open:
                            type: boolean
                            description: Whether to fail open when the deployment config cannot be applied.
                          usage_model:
                            type: string
                            enum:
                              - standard
                              - bundled
                              - unbound
                            description: "@deprecated All new projects now use the Standard usage model."
                          ai_bindings:
                            type: object
                            additionalProperties: true
                            description: Constellation bindings used for Pages Functions.
                          analytics_engine_datasets:
                            type: object
                            additionalProperties: true
                            description: Analytics Engine bindings used for Pages Functions.
                          browsers:
                            type: object
                            additionalProperties: true
                            description: Browser bindings used for Pages Functions.
                          d1_databases:
                            type: object
                            additionalProperties: true
                            description: D1 databases used for Pages Functions.
                          durable_object_namespaces:
                            type: object
                            additionalProperties: true
                            description: Durable Object namespaces used for Pages Functions.
                          hyperdrive_bindings:
                            type: object
                            additionalProperties: true
                            description: Hyperdrive bindings used for Pages Functions.
                          kv_namespaces:
                            type: object
                            additionalProperties: true
                            description: KV namespaces used for Pages Functions.
                          limits:
                            type: object
                            properties:
                              cpu_ms:
                                type: number
                                description: CPU time limit in milliseconds.
                            required:
                              - cpu_ms
                            description: Limits for Pages Functions.
                          mtls_certificates:
                            type: object
                            additionalProperties: true
                            description: mTLS bindings used for Pages Functions.
                          placement:
                            type: object
                            properties:
                              mode:
                                type: string
                                description: Placement mode.
                            required:
                              - mode
                            description: Placement setting used for Pages Functions.
                          queue_producers:
                            type: object
                            additionalProperties: true
                            description: Queue Producer bindings used for Pages Functions.
                          r2_buckets:
                            type: object
                            additionalProperties: true
                            description: R2 buckets used for Pages Functions.
                          services:
                            type: object
                            additionalProperties: true
                            description: Services used for Pages Functions.
                          vectorize_bindings:
                            type: object
                            additionalProperties: true
                            description: Vectorize bindings used for Pages Functions.
                          wrangler_config_hash:
                            type: string
                            description: Hash of the Wrangler configuration used for the deployment.
                        required:
                          - always_use_latest_compatibility_date
                          - build_image_major_version
                          - compatibility_date
                          - compatibility_flags
                          - env_vars
                          - fail_open
                          - usage_model
                        description: Configs for production deploys.
                    required:
                      - preview
                      - production
[...]
