openapi: 3.1.0
info:
  title: Cloudflare RADAR API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: radar
paths:
  /radar/ai/bots/summary/user_agent:
    get:
      operationId: userAgentAiBotSummary
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                asn:
                  type: array
                  items:
                    type: string
                  description: Filters results by Autonomous System. Specify one or more
                    Autonomous System Numbers (ASNs) as a comma-separated list.
                    Prefix with `-` to exclude ASNs from results. For example,
                    `-174, 3356` excludes results from AS174, but includes
                    results from AS3356.
                continent:
                  type: array
                  items:
                    type: string
                  description: Filters results by continent. Specify a comma-separated list of
                    alpha-2 codes. Prefix with `-` to exclude continents from
                    results. For example, `-EU,NA` excludes results from EU, but
                    includes results from NA.
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                limitPerGroup:
                  type: number
                  description: Limits the number of objects per group to the top items within the
                    specified time range. When item count exceeds the limit,
                    extra items appear grouped under an "other" category.
                location:
                  type: array
                  items:
                    type: string
                  description: Filters results by location. Specify a comma-separated list of
                    alpha-2 codes. Prefix with `-` to exclude locations from
                    results. For example, `-US,PT` excludes results from the US,
                    but includes results from PT.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    additionalProperties: true
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/ai/bots/timeseries_groups/user_agent:
    get:
      operationId: userAgentAiTimeseriesGroup
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                aggInterval:
                  type: string
                  enum:
                    - 15m
                    - 1h
                    - 1d
                    - 1w
                  description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                    intervals). Refer to [Aggregation
                    intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                asn:
                  type: array
                  items:
                    type: string
                  description: Filters results by Autonomous System. Specify one or more
                    Autonomous System Numbers (ASNs) as a comma-separated list.
                    Prefix with `-` to exclude ASNs from results. For example,
                    `-174, 3356` excludes results from AS174, but includes
                    results from AS3356.
                continent:
                  type: array
                  items:
                    type: string
                  description: Filters results by continent. Specify a comma-separated list of
                    alpha-2 codes. Prefix with `-` to exclude continents from
                    results. For example, `-EU,NA` excludes results from EU, but
                    includes results from NA.
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                limitPerGroup:
                  type: number
                  description: Limits the number of objects per group to the top items within the
                    specified time range. When item count exceeds the limit,
                    extra items appear grouped under an "other" category.
                location:
                  type: array
                  items:
                    type: string
                  description: Filters results by location. Specify a comma-separated list of
                    alpha-2 codes. Prefix with `-` to exclude locations from
                    results. For example, `-US,PT` excludes results from the US,
                    but includes results from PT.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  serie_0:
                    type: object
                    properties:
                      timestamps:
                        type: array
                        items:
                          type: string
                    required:
                      - timestamps
                required:
                  - meta
                  - serie_0
      x-distilled-response-path: result
  /radar/agent_readiness/summary/{dimension}:
    get:
      operationId: summaryAgentReadiness
      parameters:
        - name: dimension
          in: path
          required: true
          schema:
            type: string
            enum:
              - CHECK
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: Filters results by the specified date.
                domainCategory:
                  type: array
                  items:
                    type: string
                  description: Filters results by domain category.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      date:
                        type: string
                        description: Date of the returned scan (YYYY-MM-DD). May differ from the
                          requested date if no scan exists for that exact date.
                      domainCategories:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: Sub-category name.
                            value:
                              type: number
                              description: Number of successfully scanned domains in this sub-category.
                          required:
                            - name
                            - value
                        description: Available domain sub-categories with their scan counts. Use as
                          filter options for the domainCategory parameter.
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      successfulDomains:
                        type: number
                        description: Domains successfully scanned (excludes errors).
                      totalDomains:
                        type: number
                        description: Total domains attempted in the scan.
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - date
                      - domainCategories
                      - lastUpdated
                      - normalization
                      - successfulDomains
                      - totalDomains
                      - units
                  summary_0:
                    type: object
                    additionalProperties: true
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/ai/bots/timeseries:
    get:
      operationId: timeseriesAiTimeseriesGroup
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                aggInterval:
                  type: string
                  enum:
                    - 15m
                    - 1h
                    - 1d
                    - 1w
                  description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                    intervals). Refer to [Aggregation
                    intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                asn:
                  type: array
                  items:
                    type: string
                  description: Filters results by Autonomous System. Specify one or more
                    Autonomous System Numbers (ASNs) as a comma-separated list.
                    Prefix with `-` to exclude ASNs from results. For example,
                    `-174, 3356` excludes results from AS174, but includes
                    results from AS3356.
                contentType:
                  type: array
                  items:
                    type: string
                    enum:
                      - HTML
                      - IMAGES
                      - JSON
                      - JAVASCRIPT
                      - CSS
                      - PLAIN_TEXT
                      - FONTS
                      - XML
                      - YAML
                      - VIDEO
                      - AUDIO
                      - MARKDOWN
                      - DOCUMENTS
                      - BINARY
                      - SERIALIZATION
                      - OTHER
                  description: Filters results by content type category.
                continent:
                  type: array
                  items:
                    type: string
                  description: Filters results by continent. Specify a comma-separated list of
                    alpha-2 codes. Prefix with `-` to exclude continents from
                    results. For example, `-EU,NA` excludes results from EU, but
                    includes results from NA.
                crawlPurpose:
                  type: array
                  items:
                    type: string
                  description: Filters results by bot crawl purpose.
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                industry:
                  type: array
                  items:
                    type: string
                  description: Filters results by industry.
                limitPerGroup:
                  type: number
                  description: Limits the number of objects per group to the top items within the
                    specified time range. When item count exceeds the limit,
                    extra items appear grouped under an "other" category.
                location:
                  type: array
                  items:
                    type: string
                  description: Filters results by location. Specify a comma-separated list of
                    alpha-2 codes. Prefix with `-` to exclude locations from
                    results. For example, `-US,PT` excludes results from the US,
                    but includes results from PT.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
                responseStatus:
                  type: array
                  items:
                    type: string
                  description: Filters results by HTTP response status code (e.g. 200, 403, 404).
                    Only [IANA-registered
                    codes](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml)
                    are accepted.
                responseStatusCategory:
                  type: array
                  items:
                    type: string
                    enum:
                      - INFORMATIONAL
                      - SUCCESS
                      - REDIRECTION
                      - CLIENT_ERROR
                      - SERVER_ERROR
                  description: Filters results by HTTP response status code category.
                userAgent:
                  type: array
                  items:
                    type: string
                  description: Filters results by user agent.
                vertical:
                  type: array
                  items:
                    type: string
                  description: Filters results by vertical.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                required:
                  - meta
      x-distilled-response-path: result
  /radar/ai/inference/summary/model:
    get:
      operationId: modelAiInferenceSummary
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                limitPerGroup:
                  type: number
                  description: Limits the number of objects per group to the top items within the
                    specified time range. When item count exceeds the limit,
                    extra items appear grouped under an "other" category.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    additionalProperties: true
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/ai/inference/summary/task:
    get:
      operationId: taskAiInferenceSummary
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                limitPerGroup:
                  type: number
                  description: Limits the number of objects per group to the top items within the
                    specified time range. When item count exceeds the limit,
                    extra items appear grouped under an "other" category.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    additionalProperties: true
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/ai/inference/timeseries_groups/model:
    get:
      operationId: modelAiInferenceTimeseriesGroupSummary
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                aggInterval:
                  type: string
                  enum:
                    - 15m
                    - 1h
                    - 1d
                    - 1w
                  description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                    intervals). Refer to [Aggregation
                    intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                limitPerGroup:
                  type: number
                  description: Limits the number of objects per group to the top items within the
                    specified time range. When item count exceeds the limit,
                    extra items appear grouped under an "other" category.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  serie_0:
                    type: object
                    properties:
                      timestamps:
                        type: array
                        items:
                          type: string
                    required:
                      - timestamps
                required:
                  - meta
                  - serie_0
      x-distilled-response-path: result
  /radar/ai/inference/timeseries_groups/task:
    get:
      operationId: taskAiInferenceTimeseriesGroupSummary
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                aggInterval:
                  type: string
                  enum:
                    - 15m
                    - 1h
                    - 1d
                    - 1w
                  description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                    intervals). Refer to [Aggregation
                    intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                limitPerGroup:
                  type: number
                  description: Limits the number of objects per group to the top items within the
                    specified time range. When item count exceeds the limit,
                    extra items appear grouped under an "other" category.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  serie_0:
                    type: object
                    properties:
                      timestamps:
                        type: array
                        items:
                          type: string
                    required:
                      - timestamps
                required:
                  - meta
                  - serie_0
      x-distilled-response-path: result
  /radar/ai/markdown_for_agents/summary:
    get:
      operationId: summaryAiMarkdownForAgent
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    properties:
                      value:
                        type: string
                        description: A numeric string that can include decimals and infinity values.
                    required:
                      - value
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/ai/markdown_for_agents/timeseries:
    get:
      operationId: timeseriesAiMarkdownForAgent
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                aggInterval:
                  type: string
                  enum:
                    - 15m
                    - 1h
                    - 1d
                    - 1w
                  description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                    intervals). Refer to [Aggregation
                    intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                required:
                  - meta
      x-distilled-response-path: result
  /radar/ai/bots/summary/{dimension}:
    get:
      operationId: summaryV2AiBot
      parameters:
        - name: dimension
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                asn:
                  type: array
                  items:
                    type: string
                  description: Filters results by Autonomous System. Specify one or more
                    Autonomous System Numbers (ASNs) as a comma-separated list.
                    Prefix with `-` to exclude ASNs from results. For example,
                    `-174, 3356` excludes results from AS174, but includes
                    results from AS3356.
                contentType:
                  type: array
                  items:
                    type: string
                    enum:
                      - HTML
                      - IMAGES
                      - JSON
                      - JAVASCRIPT
                      - CSS
                      - PLAIN_TEXT
                      - FONTS
                      - XML
                      - YAML
                      - VIDEO
                      - AUDIO
                      - MARKDOWN
                      - DOCUMENTS
                      - BINARY
                      - SERIALIZATION
                      - OTHER
                  description: Filters results by content type category.
                continent:
                  type: array
                  items:
                    type: string
                  description: Filters results by continent. Specify a comma-separated list of
                    alpha-2 codes. Prefix with `-` to exclude continents from
                    results. For example, `-EU,NA` excludes results from EU, but
                    includes results from NA.
                crawlPurpose:
                  type: array
                  items:
                    type: string
                  description: Filters results by bot crawl purpose.
                dateEnd:
                  type: array
                  items:
                    type: string
                  description: End of the date range (inclusive).
                dateRange:
                  type: array
                  items:
                    type: string
                  description: Filters results by date range. For example, use `7d` and
                    `7dcontrol` to compare this week with the previous week. Use
                    this parameter or set specific start and end dates
                    (`dateStart` and `dateEnd` parameters).
                dateStart:
                  type: array
                  items:
                    type: string
                  description: Start of the date range.
                format:
                  type: string
                  enum:
                    - JSON
                    - CSV
                  description: Format in which results will be returned.
                industry:
                  type: array
                  items:
                    type: string
                  description: Filters results by industry.
                limitPerGroup:
                  type: number
                  description: Limits the number of objects per group to the top items within the
                    specified time range. When item count exceeds the limit,
                    extra items appear grouped under an "other" category.
                location:
                  type: array
                  items:
                    type: string
                  description: Filters results by location. Specify a comma-separated list of
                    alpha-2 codes. Prefix with `-` to exclude locations from
                    results. For example, `-US,PT` excludes results from the US,
                    but includes results from PT.
                name:
                  type: array
                  items:
                    type: string
                  description: Array of names used to label the series in the response.
                responseStatus:
                  type: array
                  items:
                    type: string
                  description: Filters results by HTTP response status code (e.g. 200, 403, 404).
                    Only [IANA-registered
                    codes](https://www.iana.org/assignments/http-status-codes/http-status-codes.xhtml)
                    are accepted.
                responseStatusCategory:
                  type: array
                  items:
                    type: string
                    enum:
                      - INFORMATIONAL
                      - SUCCESS
                      - REDIRECTION
                      - CLIENT_ERROR
                      - SERVER_ERROR
                  description: Filters results by HTTP response status code category.
                userAgent:
                  type: array
                  items:
                    type: string
                  description: Filters results by user agent.
                vertical:
                  type: array
                  items:
                    type: string
                  description: Filters results by vertical.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    additionalProperties: true
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /accounts/{account_id}/ai/tomarkdown:
    post:
      operationId: createAiToMarkdown
      description: Converts uploaded files into Markdown format using Workers
        AI.  @deprecated Use [AI > To
        Markdown](https://developers.cloudflare.com/api/resources/ai/subresources/to_markdown/)
        instead.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: Body param
              required:
                - files
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    data:
                      type: string
                    format:
                      type: string
                    mimeType:
                      type: string
                    name:
                      type: string
                    tokens:
                      type: string
                  required:
                    - data
                    - format
                    - mimeType
                    - name
                    - tokens
      x-distilled-response-path: result
  /radar/annotations:
[...]
