openapi: 3.1.0
info:
  title: Cloudflare RADAR API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: radar
paths:
  /radar/ai/bots/summary/user_agent:
    get:
      operationId: userAgentAiBotSummary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    additionalProperties: true
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/ai/bots/timeseries_groups/user_agent:
    get:
      operationId: userAgentAiTimeseriesGroup
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  serie_0:
                    type: object
                    properties:
                      timestamps:
                        type: array
                        items:
                          type: string
                    required:
                      - timestamps
                required:
                  - meta
                  - serie_0
      x-distilled-response-path: result
  /radar/ai/bots/timeseries:
    get:
      operationId: timeseriesAiTimeseriesGroup
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                required:
                  - meta
      x-distilled-response-path: result
  /radar/ai/inference/summary/model:
    get:
      operationId: modelAiInferenceSummary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    additionalProperties: true
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/ai/inference/summary/task:
    get:
      operationId: taskAiInferenceSummary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    additionalProperties: true
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/ai/inference/timeseries_groups/model:
    get:
      operationId: modelAiInferenceTimeseriesGroupSummary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  serie_0:
                    type: object
                    properties:
                      timestamps:
                        type: array
                        items:
                          type: string
                    required:
                      - timestamps
                required:
                  - meta
                  - serie_0
      x-distilled-response-path: result
  /radar/ai/inference/timeseries_groups/task:
    get:
      operationId: taskAiInferenceTimeseriesGroupSummary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  serie_0:
                    type: object
                    properties:
                      timestamps:
                        type: array
                        items:
                          type: string
                    required:
                      - timestamps
                required:
                  - meta
                  - serie_0
      x-distilled-response-path: result
  /radar/ai/bots/summary/{dimension}:
    get:
      operationId: summaryV2AiBot
      parameters:
        - name: dimension
          in: path
          required: true
          schema:
            type: string
            enum:
              - USER_AGENT
              - CRAWL_PURPOSE
              - INDUSTRY
              - VERTICAL
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    additionalProperties: true
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /accounts/{account_id}/ai/tomarkdown:
    post:
      operationId: createAiToMarkdown
      description: Convert Files into Markdown  @deprecated Use [AI > To
        Markdown](https://developers.cloudflare.com/api/resources/ai/subresources/to_markdown/)
        instead.
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                  format:
                    type: string
                  mimeType:
                    type: string
                  name:
                    type: string
                  tokens:
                    type: string
                required:
                  - data
                  - format
                  - mimeType
                  - name
                  - tokens
      x-distilled-pagination-class: ToMarkdownCreateResponsesSinglePage
  /radar/annotations:
    get:
      operationId: listAnnotations
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  annotations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        asns:
                          type: array
                          items:
                            type: number
                        asnsDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              asn:
                                type: string
                              name:
                                type: string
                              locations:
                                type: object
                                properties:
                                  code:
                                    type: string
                                  name:
                                    type: string
                                required:
                                  - code
                                  - name
                            required:
                              - asn
                              - name
                        dataSource:
                          type: string
                        eventType:
                          type: string
                        locations:
                          type: array
                          items:
                            type: string
                        locationsDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              name:
                                type: string
                            required:
                              - code
                              - name
                        origins:
                          type: array
                          items:
                            type: string
                        originsDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              origin:
                                type: string
                            required:
                              - name
                              - origin
                        outage:
                          type: object
                          properties:
                            outageCause:
                              type: string
                            outageType:
                              type: string
                          required:
                            - outageCause
                            - outageType
                        startDate:
                          type: string
                        description:
                          type: string
                        endDate:
                          type: string
                        linkedUrl:
                          type: string
                        scope:
                          type: string
                      required:
                        - id
                        - asns
                        - asnsDetails
                        - dataSource
                        - eventType
                        - locations
                        - locationsDetails
                        - origins
                        - originsDetails
                        - outage
                        - startDate
                required:
                  - annotations
      x-distilled-response-path: result
  /radar/annotations/outages:
    get:
      operationId: getAnnotationOutage
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  annotations:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        asns:
                          type: array
                          items:
                            type: number
                        asnsDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              asn:
                                type: string
                              name:
                                type: string
                              locations:
                                type: object
                                properties:
                                  code:
                                    type: string
                                  name:
                                    type: string
                                required:
                                  - code
                                  - name
                            required:
                              - asn
                              - name
                        dataSource:
                          type: string
                        eventType:
                          type: string
                        locations:
                          type: array
                          items:
                            type: string
                        locationsDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              code:
                                type: string
                              name:
                                type: string
                            required:
                              - code
                              - name
                        origins:
                          type: array
                          items:
                            type: string
                        originsDetails:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              origin:
                                type: string
                            required:
                              - name
                              - origin
                        outage:
                          type: object
                          properties:
                            outageCause:
                              type: string
                            outageType:
                              type: string
                          required:
                            - outageCause
                            - outageType
                        startDate:
                          type: string
                        description:
                          type: string
                        endDate:
                          type: string
                        linkedUrl:
                          type: string
                        scope:
                          type: string
                      required:
                        - id
                        - asns
                        - asnsDetails
                        - dataSource
                        - eventType
                        - locations
                        - locationsDetails
                        - origins
                        - originsDetails
                        - outage
                        - startDate
                required:
                  - annotations
      x-distilled-response-path: result
  /radar/annotations/outages/locations:
    get:
      operationId: locationsAnnotationOutage
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  annotations:
                    type: array
                    items:
                      type: object
                      properties:
                        clientCountryAlpha2:
                          type: string
                        clientCountryName:
                          type: string
                        value:
                          type: string
                          description: A numeric string.
                      required:
                        - clientCountryAlpha2
                        - clientCountryName
                        - value
                required:
                  - annotations
      x-distilled-response-path: result
  /radar/dns/summary/matching_answer:
    get:
      operationId: matchingAnswerDnsSummary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    properties:
                      NEGATIVE:
                        type: string
                        description: A numeric string.
                      POSITIVE:
                        type: string
                        description: A numeric string.
                    required:
                      - NEGATIVE
                      - POSITIVE
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/dns/timeseries_groups/matching_answer:
    get:
      operationId: matchingAnswerDnsTimeseriesGroup
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  serie_0:
                    type: object
                    properties:
                      NEGATIVE:
                        type: array
                        items:
                          type: string
                      POSITIVE:
                        type: array
                        items:
                          type: string
                    required:
                      - NEGATIVE
                      - POSITIVE
                required:
                  - meta
                  - serie_0
      x-distilled-response-path: result
  /radar/as112/timeseries:
    get:
      operationId: timeseriesAs112
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      aggInterval:
                        type: string
                        enum:
                          - FIFTEEN_MINUTES
                          - ONE_HOUR
                          - ONE_DAY
                          - ONE_WEEK
                          - ONE_MONTH
                        description: Aggregation interval of the results (e.g., in 15 minutes or 1 hour
                          intervals). Refer to [Aggregation
                          intervals](https://developers.cloudflare.com/radar/concepts/aggregation-intervals/).
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - aggInterval
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                required:
                  - meta
      x-distilled-response-path: result
  /radar/as112/summary/dnssec:
    get:
      operationId: dnssecAs112Summary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    properties:
                      NOT_SUPPORTED:
                        type: string
                        description: A numeric string.
                      SUPPORTED:
                        type: string
                        description: A numeric string.
                    required:
                      - NOT_SUPPORTED
                      - SUPPORTED
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/as112/summary/edns:
    get:
      operationId: ednsAs112Summary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
                                linkedUrl:
                                  type: string
                                startDate:
                                  type: string
                              required:
                                - dataSource
                                - description
                                - endDate
                                - eventType
                                - isInstantaneous
                                - linkedUrl
                                - startDate
                          level:
                            type: number
                            description: Provides an indication of how much confidence Cloudflare has in the
                              data.
                        required:
                          - annotations
                          - level
                      dateRange:
                        type: array
                        items:
                          type: object
                          properties:
                            endTime:
                              type: string
                              description: Adjusted end of date range.
                            startTime:
                              type: string
                              description: Adjusted start of date range.
                          required:
                            - endTime
                            - startTime
                      lastUpdated:
                        type: string
                        description: Timestamp of the last dataset update.
                      normalization:
                        type: string
                        enum:
                          - PERCENTAGE
                          - MIN0_MAX
                          - MIN_MAX
                          - RAW_VALUES
                          - PERCENTAGE_CHANGE
                          - ROLLING_AVERAGE
                          - OVERLAPPED_PERCENTAGE
                          - RATIO
                        description: Normalization method applied to the results. Refer to
                          [Normalization
                          methods](https://developers.cloudflare.com/radar/concepts/normalization/).
                      units:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                          required:
                            - name
                            - value
                        description: Measurement units for the results.
                    required:
                      - confidenceInfo
                      - dateRange
                      - lastUpdated
                      - normalization
                      - units
                    description: Metadata for the results.
                  summary_0:
                    type: object
                    properties:
                      NOT_SUPPORTED:
                        type: string
                        description: A numeric string.
                      SUPPORTED:
                        type: string
                        description: A numeric string.
                    required:
                      - NOT_SUPPORTED
                      - SUPPORTED
                required:
                  - meta
                  - summary_0
      x-distilled-response-path: result
  /radar/as112/summary/protocol:
    get:
      operationId: protocolAs112Summary
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      confidenceInfo:
                        type: object
                        properties:
                          annotations:
                            type: array
                            items:
                              type: object
                              properties:
                                dataSource:
                                  type: string
                                  enum:
                                    - ALL
                                    - AI_BOTS
                                    - AI_GATEWAY
                                    - BGP
                                    - BOTS
                                    - CONNECTION_ANOMALY
                                    - CT
                                    - DNS
                                    - DNS_MAGNITUDE
                                    - DNS_AS112
                                    - DOS
                                    - EMAIL_ROUTING
                                    - EMAIL_SECURITY
                                    - FW
                                    - FW_PG
                                    - HTTP
                                    - HTTP_CONTROL
                                    - HTTP_CRAWLER_REFERER
                                    - HTTP_ORIGINS
                                    - IQI
                                    - LEAKED_CREDENTIALS
                                    - NET
                                    - ROBOTS_TXT
                                    - SPEED
                                    - WORKERS_AI
                                  description: Data source for annotations.
                                description:
                                  type: string
                                endDate:
                                  type: string
                                eventType:
                                  type: string
                                  enum:
                                    - EVENT
                                    - GENERAL
                                    - OUTAGE
                                    - PARTIAL_PROJECTION
                                    - PIPELINE
                                    - TRAFFIC_ANOMALY
                                  description: Event type for annotations.
                                isInstantaneous:
                                  type: boolean
                                  description: Whether event is a single point in time or a time range.
[...]
