openapi: 3.1.0
info:
  title: Cloudflare RATE-LIMITS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: rate-limits
paths:
  /zones/{zone_id}/rate_limits/{rateLimitId}:
    get:
      operationId: getRateLimit
      description: Fetches the details of a rate limit.  @deprecated Rate limiting API
        is deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#rate-limiting-api-previous-version
        for full details.
      parameters:
        - name: rateLimitId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the rate limit.
                  action:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                          - simulate
                          - ban
                          - challenge
                          - js_challenge
                          - managed_challenge
                        description: The action to perform.
                      response:
                        type: object
                        properties:
                          body:
                            type: string
                            description: The response body to return. The value must conform to the
                              configured content type.
                          content_type:
                            type: string
                            description: "The content type of the body. Must be one of the following:
                              `text/plain`, `text/xml`, or `application/json`."
                        description: 'A custom content type and reponse to return when the threshold is
                          exceeded. The custom response configured in this
                          object will override the custom error for the zone.
                          This object is optional. Notes: If you omit this
                          object, Cloudflare will use the default HTML error
                          page. If "mode" is "challenge", "managed_challenge",
                          or "js_challenge", Cloudflare will use the zone
                          challenge pages and you should not provide the
                          "response" object.'
                      timeout:
                        type: number
                        description: "The time in seconds during which Cloudflare will perform the
                          mitigation action. Must be an integer value greater
                          than or equal to the period. Notes: If \"mode\" is
                          \"challenge\", \"managed_challenge\", or
                          \"js_challenge\", Cloudflare will use the zone's
                          Challenge Passage time and you should not provide this
                          value."
                    description: The action to perform when the threshold of matched traffic within
                      the configured period is exceeded.
                  bypass:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          enum:
                            - url
                        value:
                          type: string
                          description: The URL to bypass.
                    description: Criteria specifying when the current rate limit should be bypassed.
                      You can specify that the rate limit should not apply to
                      one or more URLs.
                  description:
                    type: string
                    description: An informative summary of the rule. This value is sanitized and any
                      tags will be removed.
                  disabled:
                    type: boolean
                    description: When true, indicates that the rate limit is currently disabled.
                  match:
                    type: object
                    properties:
                      headers:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the response header to match.
                            op:
                              type: string
                              enum:
                                - eq
                                - ne
                              description: 'The operator used when matching: `eq` means "equal" and `ne` means
                                "not equal".'
                            value:
                              type: string
                              description: The value of the response header, which must match exactly.
                      request:
                        type: object
                        properties:
                          methods:
                            type: array
                            items:
                              type: string
                              enum:
                                - GET
                                - POST
                                - PUT
                                - DELETE
                                - PATCH
                                - HEAD
                                - _ALL_
                            description: The HTTP methods to match. You can specify a subset (for example,
                              `['POST','PUT']`) or all methods (`['_ALL_']`).
                              This field is optional when creating a rate limit.
                          schemes:
                            type: array
                            items:
                              type: string
                            description: The HTTP schemes to match. You can specify one scheme
                              (`['HTTPS']`), both schemes (`['HTTP','HTTPS']`),
                              or all schemes (`['_ALL_']`). This field is
                              optional.
                          url:
                            type: string
                            description: The URL pattern to match, composed of a host and a path such as
                              `example.org/path `. Normalization is applied
                              before the pattern is matched. ` ` wildcards are
                              expanded to match applicable traffic. Query
                              strings are not matched. Set the value to ` ` to
                              match all traffic to your zone.
                      response:
                        type: object
                        properties:
                          origin_traffic:
                            type: boolean
                            description: 'When true, only the uncached traffic served from your origin
                              servers will count towards rate limiting. In this
                              case, any cached traffic served by Cloudflare will
                              not count towards rate limiting. This field is
                              optional. Notes: This field is deprecated.
                              Instead, use response headers and set
                              "origin_traffic" to "false" to avoid legacy
                              behaviour interacting with the "response_headers"
                              property.'
                    description: Determines which traffic the rate limit counts towards the
                      threshold.
                  period:
                    type: number
                    description: The time in seconds (an integer value) to count matching traffic.
                      If the count exceeds the configured threshold within this
                      period, Cloudflare will perform the configured action.
                  threshold:
                    type: number
                    description: The threshold that will trigger the configured mitigation action.
                      Configure this value along with the `period` property to
                      establish a threshold per period.
      x-distilled-response-path: result
    delete:
      operationId: deleteRateLimit
      description: Deletes an existing rate limit.  @deprecated Rate limiting API is
        deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#rate-limiting-api-previous-version
        for full details.
      parameters:
        - name: rateLimitId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Defines an identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the rate limit.
                  action:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                          - simulate
                          - ban
                          - challenge
                          - js_challenge
                          - managed_challenge
                        description: The action to perform.
                      response:
                        type: object
                        properties:
                          body:
                            type: string
                            description: The response body to return. The value must conform to the
                              configured content type.
                          content_type:
                            type: string
                            description: "The content type of the body. Must be one of the following:
                              `text/plain`, `text/xml`, or `application/json`."
                        description: 'A custom content type and reponse to return when the threshold is
                          exceeded. The custom response configured in this
                          object will override the custom error for the zone.
                          This object is optional. Notes: If you omit this
                          object, Cloudflare will use the default HTML error
                          page. If "mode" is "challenge", "managed_challenge",
                          or "js_challenge", Cloudflare will use the zone
                          challenge pages and you should not provide the
                          "response" object.'
                      timeout:
                        type: number
                        description: "The time in seconds during which Cloudflare will perform the
                          mitigation action. Must be an integer value greater
                          than or equal to the period. Notes: If \"mode\" is
                          \"challenge\", \"managed_challenge\", or
                          \"js_challenge\", Cloudflare will use the zone's
                          Challenge Passage time and you should not provide this
                          value."
                    description: The action to perform when the threshold of matched traffic within
                      the configured period is exceeded.
                  bypass:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          enum:
                            - url
                        value:
                          type: string
                          description: The URL to bypass.
                    description: Criteria specifying when the current rate limit should be bypassed.
                      You can specify that the rate limit should not apply to
                      one or more URLs.
                  description:
                    type: string
                    description: An informative summary of the rule. This value is sanitized and any
                      tags will be removed.
                  disabled:
                    type: boolean
                    description: When true, indicates that the rate limit is currently disabled.
                  match:
                    type: object
                    properties:
                      headers:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the response header to match.
                            op:
                              type: string
                              enum:
                                - eq
                                - ne
                              description: 'The operator used when matching: `eq` means "equal" and `ne` means
                                "not equal".'
                            value:
                              type: string
                              description: The value of the response header, which must match exactly.
                      request:
                        type: object
                        properties:
                          methods:
                            type: array
                            items:
                              type: string
                              enum:
                                - GET
                                - POST
                                - PUT
                                - DELETE
                                - PATCH
                                - HEAD
                                - _ALL_
                            description: The HTTP methods to match. You can specify a subset (for example,
                              `['POST','PUT']`) or all methods (`['_ALL_']`).
                              This field is optional when creating a rate limit.
                          schemes:
                            type: array
                            items:
                              type: string
                            description: The HTTP schemes to match. You can specify one scheme
                              (`['HTTPS']`), both schemes (`['HTTP','HTTPS']`),
                              or all schemes (`['_ALL_']`). This field is
                              optional.
                          url:
                            type: string
                            description: The URL pattern to match, composed of a host and a path such as
                              `example.org/path `. Normalization is applied
                              before the pattern is matched. ` ` wildcards are
                              expanded to match applicable traffic. Query
                              strings are not matched. Set the value to ` ` to
                              match all traffic to your zone.
                      response:
                        type: object
                        properties:
                          origin_traffic:
                            type: boolean
                            description: 'When true, only the uncached traffic served from your origin
                              servers will count towards rate limiting. In this
                              case, any cached traffic served by Cloudflare will
                              not count towards rate limiting. This field is
                              optional. Notes: This field is deprecated.
                              Instead, use response headers and set
                              "origin_traffic" to "false" to avoid legacy
                              behaviour interacting with the "response_headers"
                              property.'
                    description: Determines which traffic the rate limit counts towards the
                      threshold.
                  period:
                    type: number
                    description: The time in seconds (an integer value) to count matching traffic.
                      If the count exceeds the configured threshold within this
                      period, Cloudflare will perform the configured action.
                  threshold:
                    type: number
                    description: The threshold that will trigger the configured mitigation action.
                      Configure this value along with the `period` property to
                      establish a threshold per period.
      x-distilled-response-path: result
    put:
      operationId: editRateLimit
      description: Updates an existing rate limit.  @deprecated Rate limiting API is
        deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#rate-limiting-api-previous-version
        for full details.
      parameters:
        - name: rateLimitId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                        - simulate
                        - ban
                        - challenge
                        - js_challenge
                        - managed_challenge
                      description: The action to perform.
                    response:
                      type: object
                      properties:
                        body:
                          type: string
                          description: The response body to return. The value must conform to the
                            configured content type.
                        content_type:
                          type: string
                          description: "The content type of the body. Must be one of the following:
                            `text/plain`, `text/xml`, or `application/json`."
                      description: 'A custom content type and reponse to return when the threshold is
                        exceeded. The custom response configured in this object
                        will override the custom error for the zone. This object
                        is optional. Notes: If you omit this object, Cloudflare
                        will use the default HTML error page. If "mode" is
                        "challenge", "managed_challenge", or "js_challenge",
                        Cloudflare will use the zone challenge pages and you
                        should not provide the "response" object.'
                    timeout:
                      type: number
                      description: "The time in seconds during which Cloudflare will perform the
                        mitigation action. Must be an integer value greater than
                        or equal to the period. Notes: If \"mode\" is
                        \"challenge\", \"managed_challenge\", or
                        \"js_challenge\", Cloudflare will use the zone's
                        Challenge Passage time and you should not provide this
                        value."
                  description: "Body param: The action to perform when the threshold of matched
                    traffic within the configured period is exceeded."
                match:
                  type: object
                  properties:
                    headers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the response header to match.
                          op:
                            type: string
                            enum:
                              - eq
                              - ne
                            description: 'The operator used when matching: `eq` means "equal" and `ne` means
                              "not equal".'
                          value:
                            type: string
                            description: The value of the response header, which must match exactly.
                    request:
                      type: object
                      properties:
                        methods:
                          type: array
                          items:
                            type: string
                            enum:
                              - GET
                              - POST
                              - PUT
                              - DELETE
                              - PATCH
                              - HEAD
                              - _ALL_
                          description: The HTTP methods to match. You can specify a subset (for example,
                            `['POST','PUT']`) or all methods (`['_ALL_']`). This
                            field is optional when creating a rate limit.
                        schemes:
                          type: array
                          items:
                            type: string
                          description: The HTTP schemes to match. You can specify one scheme
                            (`['HTTPS']`), both schemes (`['HTTP','HTTPS']`), or
                            all schemes (`['_ALL_']`). This field is optional.
                        url:
                          type: string
                          description: The URL pattern to match, composed of a host and a path such as
                            `example.org/path `. Normalization is applied before
                            the pattern is matched. ` ` wildcards are expanded
                            to match applicable traffic. Query strings are not
                            matched. Set the value to ` ` to match all traffic
                            to your zone.
                    response:
                      type: object
                      properties:
                        origin_traffic:
                          type: boolean
                          description: 'When true, only the uncached traffic served from your origin
                            servers will count towards rate limiting. In this
                            case, any cached traffic served by Cloudflare will
                            not count towards rate limiting. This field is
                            optional. Notes: This field is deprecated. Instead,
                            use response headers and set "origin_traffic" to
                            "false" to avoid legacy behaviour interacting with
                            the "response_headers" property.'
                  description: "Body param: Determines which traffic the rate limit counts towards
                    the threshold."
                period:
                  type: number
                  description: "Body param: The time in seconds (an integer value) to count
                    matching traffic. If the count exceeds the configured
                    threshold within this period, Cloudflare will perform the
                    configured action."
                threshold:
                  type: number
                  description: "Body param: The threshold that will trigger the configured
                    mitigation action. Configure this value along with the
                    `period` property to establish a threshold per period."
              required:
                - action
                - match
                - period
                - threshold
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the rate limit.
                  action:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                          - simulate
                          - ban
                          - challenge
                          - js_challenge
                          - managed_challenge
                        description: The action to perform.
                      response:
                        type: object
                        properties:
                          body:
                            type: string
                            description: The response body to return. The value must conform to the
                              configured content type.
                          content_type:
                            type: string
                            description: "The content type of the body. Must be one of the following:
                              `text/plain`, `text/xml`, or `application/json`."
                        description: 'A custom content type and reponse to return when the threshold is
                          exceeded. The custom response configured in this
                          object will override the custom error for the zone.
                          This object is optional. Notes: If you omit this
                          object, Cloudflare will use the default HTML error
                          page. If "mode" is "challenge", "managed_challenge",
                          or "js_challenge", Cloudflare will use the zone
                          challenge pages and you should not provide the
                          "response" object.'
                      timeout:
                        type: number
                        description: "The time in seconds during which Cloudflare will perform the
                          mitigation action. Must be an integer value greater
                          than or equal to the period. Notes: If \"mode\" is
                          \"challenge\", \"managed_challenge\", or
                          \"js_challenge\", Cloudflare will use the zone's
                          Challenge Passage time and you should not provide this
                          value."
                    description: The action to perform when the threshold of matched traffic within
                      the configured period is exceeded.
                  bypass:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          enum:
                            - url
                        value:
                          type: string
                          description: The URL to bypass.
                    description: Criteria specifying when the current rate limit should be bypassed.
                      You can specify that the rate limit should not apply to
                      one or more URLs.
                  description:
                    type: string
                    description: An informative summary of the rule. This value is sanitized and any
                      tags will be removed.
                  disabled:
                    type: boolean
                    description: When true, indicates that the rate limit is currently disabled.
                  match:
                    type: object
                    properties:
                      headers:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the response header to match.
                            op:
                              type: string
                              enum:
                                - eq
                                - ne
                              description: 'The operator used when matching: `eq` means "equal" and `ne` means
                                "not equal".'
                            value:
                              type: string
                              description: The value of the response header, which must match exactly.
                      request:
                        type: object
                        properties:
                          methods:
                            type: array
                            items:
                              type: string
                              enum:
                                - GET
                                - POST
                                - PUT
                                - DELETE
                                - PATCH
                                - HEAD
                                - _ALL_
                            description: The HTTP methods to match. You can specify a subset (for example,
                              `['POST','PUT']`) or all methods (`['_ALL_']`).
                              This field is optional when creating a rate limit.
                          schemes:
                            type: array
                            items:
                              type: string
                            description: The HTTP schemes to match. You can specify one scheme
                              (`['HTTPS']`), both schemes (`['HTTP','HTTPS']`),
                              or all schemes (`['_ALL_']`). This field is
                              optional.
                          url:
                            type: string
                            description: The URL pattern to match, composed of a host and a path such as
                              `example.org/path `. Normalization is applied
                              before the pattern is matched. ` ` wildcards are
                              expanded to match applicable traffic. Query
                              strings are not matched. Set the value to ` ` to
                              match all traffic to your zone.
                      response:
                        type: object
                        properties:
                          origin_traffic:
                            type: boolean
                            description: 'When true, only the uncached traffic served from your origin
                              servers will count towards rate limiting. In this
                              case, any cached traffic served by Cloudflare will
                              not count towards rate limiting. This field is
                              optional. Notes: This field is deprecated.
                              Instead, use response headers and set
                              "origin_traffic" to "false" to avoid legacy
                              behaviour interacting with the "response_headers"
                              property.'
                    description: Determines which traffic the rate limit counts towards the
                      threshold.
                  period:
                    type: number
                    description: The time in seconds (an integer value) to count matching traffic.
                      If the count exceeds the configured threshold within this
                      period, Cloudflare will perform the configured action.
                  threshold:
                    type: number
                    description: The threshold that will trigger the configured mitigation action.
                      Configure this value along with the `period` property to
                      establish a threshold per period.
      x-distilled-response-path: result
  /zones/{zone_id}/rate_limits:
    get:
      operationId: listRateLimits
      description: Fetches the rate limits for a zone.  @deprecated Rate limiting API
        is deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#rate-limiting-api-previous-version
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the rate limit.
                  action:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                          - simulate
                          - ban
                          - challenge
                          - js_challenge
                          - managed_challenge
                        description: The action to perform.
                      response:
                        type: object
                        properties:
                          body:
                            type: string
                            description: The response body to return. The value must conform to the
                              configured content type.
                          content_type:
                            type: string
                            description: "The content type of the body. Must be one of the following:
                              `text/plain`, `text/xml`, or `application/json`."
                        description: 'A custom content type and reponse to return when the threshold is
                          exceeded. The custom response configured in this
                          object will override the custom error for the zone.
                          This object is optional. Notes: If you omit this
                          object, Cloudflare will use the default HTML error
                          page. If "mode" is "challenge", "managed_challenge",
                          or "js_challenge", Cloudflare will use the zone
                          challenge pages and you should not provide the
                          "response" object.'
                      timeout:
                        type: number
                        description: "The time in seconds during which Cloudflare will perform the
                          mitigation action. Must be an integer value greater
                          than or equal to the period. Notes: If \"mode\" is
                          \"challenge\", \"managed_challenge\", or
                          \"js_challenge\", Cloudflare will use the zone's
                          Challenge Passage time and you should not provide this
                          value."
                    description: The action to perform when the threshold of matched traffic within
                      the configured period is exceeded.
                  bypass:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          enum:
                            - url
                        value:
                          type: string
                          description: The URL to bypass.
                    description: Criteria specifying when the current rate limit should be bypassed.
                      You can specify that the rate limit should not apply to
                      one or more URLs.
                  description:
                    type: string
                    description: An informative summary of the rule. This value is sanitized and any
                      tags will be removed.
                  disabled:
                    type: boolean
                    description: When true, indicates that the rate limit is currently disabled.
                  match:
                    type: object
                    properties:
                      headers:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the response header to match.
                            op:
                              type: string
                              enum:
                                - eq
                                - ne
                              description: 'The operator used when matching: `eq` means "equal" and `ne` means
                                "not equal".'
                            value:
                              type: string
                              description: The value of the response header, which must match exactly.
                      request:
                        type: object
                        properties:
                          methods:
                            type: array
                            items:
                              type: string
                              enum:
                                - GET
                                - POST
                                - PUT
                                - DELETE
                                - PATCH
                                - HEAD
                                - _ALL_
                            description: The HTTP methods to match. You can specify a subset (for example,
                              `['POST','PUT']`) or all methods (`['_ALL_']`).
                              This field is optional when creating a rate limit.
                          schemes:
                            type: array
                            items:
                              type: string
                            description: The HTTP schemes to match. You can specify one scheme
                              (`['HTTPS']`), both schemes (`['HTTP','HTTPS']`),
                              or all schemes (`['_ALL_']`). This field is
                              optional.
                          url:
                            type: string
                            description: The URL pattern to match, composed of a host and a path such as
                              `example.org/path `. Normalization is applied
                              before the pattern is matched. ` ` wildcards are
                              expanded to match applicable traffic. Query
                              strings are not matched. Set the value to ` ` to
                              match all traffic to your zone.
                      response:
                        type: object
                        properties:
                          origin_traffic:
                            type: boolean
                            description: 'When true, only the uncached traffic served from your origin
                              servers will count towards rate limiting. In this
                              case, any cached traffic served by Cloudflare will
                              not count towards rate limiting. This field is
                              optional. Notes: This field is deprecated.
                              Instead, use response headers and set
                              "origin_traffic" to "false" to avoid legacy
                              behaviour interacting with the "response_headers"
                              property.'
                    description: Determines which traffic the rate limit counts towards the
                      threshold.
                  period:
                    type: number
                    description: The time in seconds (an integer value) to count matching traffic.
                      If the count exceeds the configured threshold within this
                      period, Cloudflare will perform the configured action.
                  threshold:
                    type: number
                    description: The threshold that will trigger the configured mitigation action.
                      Configure this value along with the `period` property to
                      establish a threshold per period.
      x-distilled-pagination-class: RateLimitsV4PagePaginationArray
    post:
      operationId: createRateLimit
      description: Creates a new rate limit for a zone. Refer to the object definition
        for a list of required attributes.  @deprecated Rate limiting API is
        deprecated in favour of using the Ruleset Engine. See
        https://developers.cloudflare.com/fundamentals/api/reference/deprecations/#rate-limiting-api-previous-version
        for full details.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Defines an identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: object
                  properties:
                    mode:
                      type: string
                      enum:
                        - simulate
                        - ban
                        - challenge
                        - js_challenge
                        - managed_challenge
                      description: The action to perform.
                    response:
                      type: object
                      properties:
                        body:
                          type: string
                          description: The response body to return. The value must conform to the
                            configured content type.
                        content_type:
                          type: string
                          description: "The content type of the body. Must be one of the following:
                            `text/plain`, `text/xml`, or `application/json`."
                      description: 'A custom content type and reponse to return when the threshold is
                        exceeded. The custom response configured in this object
                        will override the custom error for the zone. This object
                        is optional. Notes: If you omit this object, Cloudflare
                        will use the default HTML error page. If "mode" is
                        "challenge", "managed_challenge", or "js_challenge",
                        Cloudflare will use the zone challenge pages and you
                        should not provide the "response" object.'
                    timeout:
                      type: number
                      description: "The time in seconds during which Cloudflare will perform the
                        mitigation action. Must be an integer value greater than
                        or equal to the period. Notes: If \"mode\" is
                        \"challenge\", \"managed_challenge\", or
                        \"js_challenge\", Cloudflare will use the zone's
                        Challenge Passage time and you should not provide this
                        value."
                  description: "Body param: The action to perform when the threshold of matched
                    traffic within the configured period is exceeded."
                match:
                  type: object
                  properties:
                    headers:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the response header to match.
                          op:
                            type: string
                            enum:
                              - eq
                              - ne
                            description: 'The operator used when matching: `eq` means "equal" and `ne` means
                              "not equal".'
                          value:
                            type: string
                            description: The value of the response header, which must match exactly.
                    request:
                      type: object
                      properties:
                        methods:
                          type: array
                          items:
                            type: string
                            enum:
                              - GET
                              - POST
                              - PUT
                              - DELETE
                              - PATCH
                              - HEAD
                              - _ALL_
                          description: The HTTP methods to match. You can specify a subset (for example,
                            `['POST','PUT']`) or all methods (`['_ALL_']`). This
                            field is optional when creating a rate limit.
                        schemes:
                          type: array
                          items:
                            type: string
                          description: The HTTP schemes to match. You can specify one scheme
                            (`['HTTPS']`), both schemes (`['HTTP','HTTPS']`), or
                            all schemes (`['_ALL_']`). This field is optional.
                        url:
                          type: string
                          description: The URL pattern to match, composed of a host and a path such as
                            `example.org/path `. Normalization is applied before
                            the pattern is matched. ` ` wildcards are expanded
                            to match applicable traffic. Query strings are not
                            matched. Set the value to ` ` to match all traffic
                            to your zone.
                    response:
                      type: object
                      properties:
                        origin_traffic:
                          type: boolean
                          description: 'When true, only the uncached traffic served from your origin
                            servers will count towards rate limiting. In this
                            case, any cached traffic served by Cloudflare will
                            not count towards rate limiting. This field is
                            optional. Notes: This field is deprecated. Instead,
                            use response headers and set "origin_traffic" to
                            "false" to avoid legacy behaviour interacting with
                            the "response_headers" property.'
                  description: "Body param: Determines which traffic the rate limit counts towards
                    the threshold."
                period:
                  type: number
                  description: "Body param: The time in seconds (an integer value) to count
                    matching traffic. If the count exceeds the configured
                    threshold within this period, Cloudflare will perform the
                    configured action."
                threshold:
                  type: number
                  description: "Body param: The threshold that will trigger the configured
                    mitigation action. Configure this value along with the
                    `period` property to establish a threshold per period."
              required:
                - action
                - match
                - period
                - threshold
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique identifier of the rate limit.
                  action:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                          - simulate
                          - ban
                          - challenge
                          - js_challenge
                          - managed_challenge
                        description: The action to perform.
                      response:
                        type: object
                        properties:
                          body:
                            type: string
                            description: The response body to return. The value must conform to the
                              configured content type.
                          content_type:
                            type: string
                            description: "The content type of the body. Must be one of the following:
                              `text/plain`, `text/xml`, or `application/json`."
                        description: 'A custom content type and reponse to return when the threshold is
                          exceeded. The custom response configured in this
                          object will override the custom error for the zone.
                          This object is optional. Notes: If you omit this
                          object, Cloudflare will use the default HTML error
                          page. If "mode" is "challenge", "managed_challenge",
                          or "js_challenge", Cloudflare will use the zone
                          challenge pages and you should not provide the
                          "response" object.'
                      timeout:
                        type: number
                        description: "The time in seconds during which Cloudflare will perform the
                          mitigation action. Must be an integer value greater
                          than or equal to the period. Notes: If \"mode\" is
                          \"challenge\", \"managed_challenge\", or
                          \"js_challenge\", Cloudflare will use the zone's
                          Challenge Passage time and you should not provide this
                          value."
                    description: The action to perform when the threshold of matched traffic within
                      the configured period is exceeded.
                  bypass:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          enum:
                            - url
                        value:
                          type: string
                          description: The URL to bypass.
                    description: Criteria specifying when the current rate limit should be bypassed.
                      You can specify that the rate limit should not apply to
                      one or more URLs.
                  description:
                    type: string
                    description: An informative summary of the rule. This value is sanitized and any
                      tags will be removed.
                  disabled:
                    type: boolean
                    description: When true, indicates that the rate limit is currently disabled.
                  match:
                    type: object
                    properties:
                      headers:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the response header to match.
                            op:
                              type: string
                              enum:
                                - eq
                                - ne
                              description: 'The operator used when matching: `eq` means "equal" and `ne` means
                                "not equal".'
                            value:
                              type: string
                              description: The value of the response header, which must match exactly.
                      request:
                        type: object
                        properties:
                          methods:
                            type: array
                            items:
                              type: string
                              enum:
                                - GET
                                - POST
                                - PUT
                                - DELETE
                                - PATCH
                                - HEAD
                                - _ALL_
                            description: The HTTP methods to match. You can specify a subset (for example,
                              `['POST','PUT']`) or all methods (`['_ALL_']`).
                              This field is optional when creating a rate limit.
                          schemes:
                            type: array
                            items:
                              type: string
                            description: The HTTP schemes to match. You can specify one scheme
                              (`['HTTPS']`), both schemes (`['HTTP','HTTPS']`),
                              or all schemes (`['_ALL_']`). This field is
                              optional.
                          url:
                            type: string
                            description: The URL pattern to match, composed of a host and a path such as
                              `example.org/path `. Normalization is applied
                              before the pattern is matched. ` ` wildcards are
                              expanded to match applicable traffic. Query
                              strings are not matched. Set the value to ` ` to
                              match all traffic to your zone.
                      response:
                        type: object
                        properties:
                          origin_traffic:
                            type: boolean
                            description: 'When true, only the uncached traffic served from your origin
                              servers will count towards rate limiting. In this
                              case, any cached traffic served by Cloudflare will
                              not count towards rate limiting. This field is
                              optional. Notes: This field is deprecated.
                              Instead, use response headers and set
                              "origin_traffic" to "false" to avoid legacy
                              behaviour interacting with the "response_headers"
                              property.'
                    description: Determines which traffic the rate limit counts towards the
                      threshold.
                  period:
                    type: number
                    description: The time in seconds (an integer value) to count matching traffic.
                      If the count exceeds the configured threshold within this
                      period, Cloudflare will perform the configured action.
                  threshold:
                    type: number
                    description: The threshold that will trigger the configured mitigation action.
                      Configure this value along with the `period` property to
                      establish a threshold per period.
      x-distilled-response-path: result
