openapi: 3.1.0
info:
  title: Cloudflare REALTIME-KIT API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: realtime-kit
paths:
  /accounts/{account_id}/realtime/kit/{appId}/livestreams/{livestreamId}/active-livestream-session:
    get:
      operationId: getActiveLivestreamsForLivestreamIdLivestream
      description: "Returns details of all active livestreams for the given livestream
        ID. Retreive the livestream ID using the `Start livestreaming a meeting`
        API.  @example ```ts const response = await
        client.realtimeKit.livestreams.getActiveLivestreamsForLivestreamId(
        'app_id', 'livestream_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: livestreamId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      livestream:
                        type: object
                        properties:
                          id:
                            type: string
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO
                              format.
                          disabled:
                            type: string
                            description: Specifies if the livestream was disabled.
                          ingest_server:
                            type: string
                            description: The server URL to which the RTMP encoder sends the video and audio
                              data.
                          meeting_id:
                            type: string
                            description: ID of the meeting.
                          name:
                            type: string
                            description: Name of the livestream.
                          playback_url:
                            type: string
                            description: The web address that viewers can use to watch the livestream.
                          status:
                            type: string
                            enum:
                              - LIVE
                              - IDLE
                              - ERRORED
                              - INVOKED
                          stream_key:
                            type: string
                            description: Unique key for accessing each livestream.
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO
                              format.
                      session:
                        type: object
                        properties:
                          id:
                            type: string
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO
                              format.
                          err_message:
                            type: string
                          ingest_seconds:
                            type: string
                            description: The time duration for which the input was given or the meeting was
                              streamed.
                          invoked_time:
                            type: string
                            description: Timestamp the object was invoked. The time is returned in ISO
                              format.
                          livestream_id:
                            type: string
                          started_time:
                            type: string
                            description: Timestamp the object was started. The time is returned in ISO
                              format.
                          stopped_time:
                            type: string
                            description: Timestamp the object was stopped. The time is returned in ISO
                              format.
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO
                              format.
                          viewer_seconds:
                            type: string
                            description: The total view time for which the viewers watched the stream.
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/recordings/active-recording/{meetingId}:
    get:
      operationId: getActiveRecordingsRecording
      description: "Returns the active recording details for the given meeting
        ID.  @example ```ts const response = await
        client.realtimeKit.recordings.getActiveRecordings( 'app_id',
        'meeting_id', { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, );
        ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID of the recording
                      audio_download_url:
                        oneOf:
                          - type: string
                        nullable: true
                        description: If the audio_config is passed, the URL for downloading the audio
                          recording is returned.
                      download_url:
                        oneOf:
                          - type: string
                        nullable: true
                        description: URL where the recording can be downloaded.
                      download_url_expiry:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Timestamp when the download URL expires.
                      file_size:
                        oneOf:
                          - type: number
                        nullable: true
                        description: File size of the recording, in bytes.
                      invoked_time:
                        type: string
                        description: Timestamp when this recording was invoked.
                      output_file_name:
                        type: string
                        description: File name of the recording.
                      session_id:
                        oneOf:
                          - type: string
                        nullable: true
                        description: ID of the meeting session this recording is for.
                      started_time:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Timestamp when this recording actually started after being invoked.
                          Usually a few seconds after `invoked_time`.
                      status:
                        type: string
                        enum:
                          - INVOKED
                          - RECORDING
                          - UPLOADING
                          - UPLOADED
                          - ERRORED
                          - PAUSED
                        description: Current status of the recording.
                      stopped_time:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Timestamp when this recording was stopped. Optional; is present
                          only when the recording has actually been stopped.
                      recording_duration:
                        type: number
                        description: Total recording time in seconds.
                    required:
                      - id
                      - audio_download_url
                      - download_url
                      - download_url_expiry
                      - file_size
                      - invoked_time
                      - output_file_name
                      - session_id
                      - started_time
                      - status
                      - stopped_time
                    description: Data returned by the operation
                  success:
                    type: boolean
                    description: Success status of the operation
                required:
                  - data
                  - success
  /accounts/{account_id}/realtime/kit/{appId}/meetings/{meetingId}/active-session:
    get:
      operationId: getActiveSessionActiveSession
      description: "Returns details of an ongoing active session for the given meeting
        ID.  @example ```ts const response = await
        client.realtimeKit.activeSession.getActiveSession( 'app_id',
        'meeting_id', { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, );
        ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID of the session
                      associated_id:
                        type: string
                        description: ID of the meeting this session is associated with. In the case of
                          V2 meetings, it is always a UUID. In V1 meetings, it
                          is a room name of the form `abcdef-ghijkl`
                      created_at:
                        type: string
                        description: timestamp when session created
                      live_participants:
                        type: number
                        description: number of participants currently in the session
                      max_concurrent_participants:
                        type: number
                        description: number of maximum participants that were in the session
                      meeting_display_name:
                        type: string
                        description: Title of the meeting this session belongs to
                      minutes_consumed:
                        type: number
                        description: number of minutes consumed since the session started
                      organization_id:
                        type: string
                        description: App id that hosted this session
                      started_at:
                        type: string
                        description: timestamp when session started
                      status:
                        type: string
                        enum:
                          - LIVE
                          - ENDED
                        description: current status of session
                      type:
                        type: string
                        enum:
                          - meeting
                          - livestream
                          - participant
                        description: type of session
                      updated_at:
                        type: string
                        description: timestamp when session was last updated
                      breakout_rooms:
                        type: array
                        items: {}
                      ended_at:
                        type: string
                        description: timestamp when session ended
                      meta:
                        description: Any meta data about session.
                    required:
                      - id
                      - associated_id
                      - created_at
                      - live_participants
                      - max_concurrent_participants
                      - meeting_display_name
                      - minutes_consumed
                      - organization_id
                      - started_at
                      - status
                      - type
                      - updated_at
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/livestreams:
    get:
      operationId: getAllLivestreamsLivestream
      description: "Returns details of livestreams associated with the given App ID.
        It includes livestreams created by your App and RealtimeKit meetings
        that are livestreamed by your App. If you only want details of
        livestreams created by your App and not RealtimeKit meetings, you can
        use the `exclude_meetings` query parameter.  @example ```ts const
        response = await client.realtimeKit.livestreams.getAllLivestreams(
        'app_id', { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
        - name: end_time
          in: query
          required: false
          description: "Query param: Specify the end time range in ISO format to access
            the live stream."
          schema:
            type: string
        - name: exclude_meetings
          in: query
          required: false
          description: "Query param: Exclude the RealtimeKit meetings that are
            livestreamed."
          schema:
            type: boolean
        - name: page_no
          in: query
          required: false
          description: "Query param: The page number from which you want your page search
            results to be displayed."
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          description: "Query param: Number of results per page."
          schema:
            type: number
        - name: sort_order
          in: query
          required: false
          description: "Query param: Specifies the sorting order for the results."
          schema:
            type: string
            enum:
              - ASC
              - DSC
        - name: start_time
          in: query
          required: false
          description: "Query param: Specify the start time range in ISO format to access
            the live stream."
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: "Query param: Specifies the status of the operation."
          schema:
            type: string
            enum:
              - LIVE
              - IDLE
              - ERRORED
              - INVOKED
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The ID of the livestream.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO
                          format.
                      disabled:
                        type: string
                        description: Specifies if the livestream was disabled.
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio
                          data.
                      meeting_id:
                        type: string
                        description: ID of the meeting.
                      name:
                        type: string
                        description: Name of the livestream.
                      paging:
                        type: object
                        properties:
                          end_offset:
                            type: number
                          start_offset:
                            type: number
                          total_count:
                            type: number
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO
                          format.
                  success:
                    type: boolean
    post:
      operationId: createIndependentLivestreamLivestream
      description: "Creates a livestream for the given App ID and returns ingest
        server, stream key, and playback URL. You can pass custom input to the
        ingest server and stream key, and freely distribute the content using
        the playback URL on any player that supports HLS/LHLS.  @example ```ts
        const response = await
        client.realtimeKit.livestreams.createIndependentLivestream( 'app_id', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', name: 'prdmmp-xhycsl',
        }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: Name of the livestream"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The livestream ID.
                      disabled:
                        type: boolean
                        description: Specifies if the livestream was disabled.
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder should send the video and
                          audio data.
                      meeting_id:
                        oneOf:
                          - type: string
                        nullable: true
                      name:
                        type: string
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/meetings/{meetingId}/active-session/kick-all:
    post:
      operationId: kickAllParticipantsActiveSession
      description: "Kicks all participants from an active session for the given
        meeting ID.  @example ```ts const response = await
        client.realtimeKit.activeSession.kickAllParticipants( 'app_id',
        'meeting_id', { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, );
        ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      action:
                        type: string
                      kicked_participants_count:
                        type: number
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/apps:
    get:
      operationId: getApp
      description: "Fetch all apps for your account  @example ```ts const app = await
        client.realtimeKit.apps.get({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        created_at:
                          type: string
                        name:
                          type: string
                  success:
                    type: boolean
    post:
      operationId: postApp
      description: "Create new app for your account  @example ```ts const response =
        await client.realtimeKit.apps.post({ account_id: 'account_id', name:
        'name', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param:"
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      app:
                        type: object
                        properties:
                          id:
                            type: string
                          created_at:
                            type: string
                          name:
                            type: string
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/analytics/livestreams/overall:
    get:
      operationId: getLivestreamAnalyticsCompleteLivestream
      description: "Returns livestream analytics for the specified time
        range.  @example ```ts const response = await
        client.realtimeKit.livestreams.getLivestreamAnalyticsComplete( 'app_id',
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
        - name: end_time
          in: query
          required: false
          description: "Query param: Specify the end time range in ISO format to access
            the livestream analytics."
          schema:
            type: string
        - name: start_time
          in: query
          required: false
          description: "Query param: Specify the start time range in ISO format to access
            the livestream analytics."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      count:
                        type: number
                        description: Count of total livestreams.
                      total_ingest_seconds:
                        type: number
                        description: Total time duration for which the input was given or the meeting
                          was streamed.
                      total_viewer_seconds:
                        type: number
                        description: Total view time for which the viewers watched the stream.
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/meetings/{meetingId}/livestreams:
    post:
      operationId: startLivestreamingAMeetingLivestream
      description: "Starts livestream of a meeting associated with the given meeting
        ID. Retreive the meeting ID using the `Create a meeting` API.  @example
        ```ts const response = await
        client.realtimeKit.livestreams.startLivestreamingAMeeting( 'app_id',
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'prdmmp-xhycsl', }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param:"
                video_config:
                  type: object
                  properties:
                    height:
                      type: number
                      description: Height of the livestreaming video in pixels
                    width:
                      type: number
                      description: Width of the livestreaming video in pixels
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The livestream ID.
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio
                          data.
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/meetings/{meetingId}/active-livestream/stop:
    post:
      operationId: stopLivestreamingAMeetingLivestream
      description: "Stops the active livestream of a meeting associated with the given
        meeting ID. Retreive the meeting ID using the `Create a meeting`
        API.  @example ```ts const response = await
        client.realtimeKit.livestreams.stopLivestreamingAMeeting( 'app_id',
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/livestreams/sessions/{livestreamSessionId}:
    get:
      operationId: getLivestreamSessionDetailsForSessionIdLivestream
      description: "Returns livestream session details for the given livestream
        session ID. Retrieve the `livestream_session_id`using the `Fetch
        livestream session details using a session ID` API.  @example ```ts
        const response = await
        client.realtimeKit.livestreams.getLivestreamSessionDetailsForSessionId(
        'app_id', 'livestream-session-id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: livestreamSessionId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The livestream ID.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO
                          format.
                      err_message:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio
                          data.
                      ingest_seconds:
                        type: number
                        description: Name of the livestream.
                      livestream_id:
                        type: string
                      started_time:
                        type: string
                        description: Unique key for accessing each livestream.
                      stopped_time:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO
                          format.
                      viewer_seconds:
                        type: number
                        description: Specifies if the livestream was disabled.
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/livestreams/{livestreamId}:
    get:
      operationId: getLivestreamSessionForLivestreamIdLivestream
      description: "Returns details of a livestream with sessions for the given
        livestream ID. Retreive the livestream ID using the `Start livestreaming
        a meeting` API.  @example ```ts const response = await
        client.realtimeKit.livestreams.getLivestreamSessionForLivestreamId(
        'app_id', 'livestream_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: livestreamId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
        - name: page_no
          in: query
          required: false
          description: "Query param: The page number from which you want your page search
            results to be displayed."
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          description: "Query param: Number of results per page."
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      livestream:
                        type: object
                        properties:
                          id:
                            type: string
                            description: ID of the livestream.
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO
                              format.
                          disabled:
                            type: string
                            description: Specifies if the livestream was disabled.
                          ingest_server:
                            type: string
                            description: The server URL to which the RTMP encoder sends the video and audio
                              data.
                          meeting_id:
                            type: string
                            description: The ID of the meeting.
                          name:
                            type: string
                            description: Name of the livestream.
                          playback_url:
                            type: string
                            description: The web address that viewers can use to watch the livestream.
                          status:
                            type: string
                            enum:
                              - LIVE
                              - IDLE
                              - ERRORED
                              - INVOKED
                          stream_key:
                            type: string
                            description: Unique key for accessing each livestream.
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO
                              format.
                      paging:
                        type: object
                        properties:
                          end_offset:
                            type: number
                          start_offset:
                            type: number
                          total_count:
                            type: number
                      session:
                        type: object
                        properties:
                          id:
                            type: string
                            description: ID of the session.
                          created_at:
                            type: string
                            description: Timestamp the object was created at. The time is returned in ISO
                              format.
                          err_message:
                            type: string
                          ingest_seconds:
                            type: number
                            description: The time duration for which the input was given or the meeting was
                              streamed.
                          invoked_time:
                            type: string
                            description: Timestamp the object was invoked. The time is returned in ISO
                              format.
                          livestream_id:
                            type: string
                          started_time:
                            type: string
                            description: Timestamp the object was started. The time is returned in ISO
                              format.
                          stopped_time:
                            type: string
                            description: Timestamp the object was stopped. The time is returned in ISO
                              format.
                          updated_at:
                            type: string
                            description: Timestamp the object was updated at. The time is returned in ISO
                              format.
                          viewer_seconds:
                            type: number
                            description: The total view time for which the viewers watched the stream.
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/meetings:
    get:
      operationId: getMeeting
      description: "Returns all meetings for the given App ID.  @example ```ts const
        meeting = await client.realtimeKit.meetings.get( 'app_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
        - name: end_time
          in: query
          required: false
          description: "Query param: The end time range for which you want to retrieve the
            meetings. The time must be specified in ISO format."
          schema:
            type: string
        - name: page_no
          in: query
          required: false
          description: "Query param: The page number from which you want your page search
            results to be displayed."
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          description: "Query param: Number of results per page"
          schema:
            type: number
        - name: search
          in: query
          required: false
          description: "Query param: The search query string. You can search using the
            meeting ID or title."
          schema:
            type: string
        - name: start_time
          in: query
          required: false
          description: "Query param: The start time range for which you want to retrieve
            the meetings. The time must be specified in ISO format."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: ID of the meeting.
                        created_at:
                          type: string
                          description: Timestamp the object was created at. The time is returned in ISO
                            format.
                        updated_at:
                          type: string
                          description: Timestamp the object was updated at. The time is returned in ISO
                            format.
                        live_stream_on_start:
                          type: boolean
                          description: Specifies if the meeting should start getting livestreamed on
                            start.
                        persist_chat:
                          type: boolean
                          description: Specifies if Chat within a meeting should persist for a week.
                        record_on_start:
                          type: boolean
                          description: Specifies if the meeting should start getting recorded as soon as
                            someone joins the meeting.
                        session_keep_alive_time_in_secs:
                          type: number
                          description: Time in seconds, for which a session remains active, after the last
                            participant has left the meeting.
                        status:
                          type: string
                          enum:
                            - ACTIVE
                            - INACTIVE
                          description: Whether the meeting is `ACTIVE` or `INACTIVE`. Users will not be
                            able to join an `INACTIVE` meeting.
                        summarize_on_end:
                          type: boolean
                          description: Automatically generate summary of meetings using transcripts.
                            Requires Transcriptions to be enabled, and can be
                            retrieved via Webhooks or summary API.
                        title:
                          type: string
                          description: Title of the meeting.
                      required:
                        - id
                        - created_at
                        - updated_at
                  paging:
                    type: object
                    properties:
                      end_offset:
                        type: number
                      start_offset:
                        type: number
                      total_count:
                        type: number
                    required:
                      - end_offset
                      - start_offset
                      - total_count
                  success:
                    type: boolean
                required:
                  - data
                  - paging
                  - success
    post:
      operationId: createMeeting
      description: "Create a meeting for the given App ID.  @example ```ts const
        meeting = await client.realtimeKit.meetings.create( 'app_id', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ai_config:
                  type: object
                  properties:
                    summarization:
                      type: object
                      properties:
                        summary_type:
                          type: string
                          enum:
                            - general
                            - team_meeting
                            - sales_call
                            - client_check_in
                            - interview
                            - daily_standup
                            - one_on_one_meeting
                            - lecture
                            - code_review
                          description: Defines the style of the summary, such as general, team meeting, or
                            sales call.
                        text_format:
                          type: string
                          enum:
                            - plain_text
                            - markdown
                          description: Determines the text format of the summary, such as plain text or
                            markdown.
                        word_limit:
                          type: number
                          description: Sets the maximum number of words in the meeting summary.
                      description: Summary Config
                    transcription:
                      type: object
                      properties:
                        keywords:
                          type: array
                          items:
                            type: string
                          description: Adds specific terms to improve accurate detection during
                            transcription.
                        language:
                          type: string
                          enum:
                            - en-US
                            - en-IN
                            - de
                            - hi
                            - sv
                            - ru
                            - pl
                            - el
                            - fr
                            - nl
                          description: Specifies the language code for transcription to ensure accurate
                            results.
                        profanity_filter:
                          type: boolean
                          description: Control the inclusion of offensive language in transcriptions.
                      description: Transcription Configurations
                  description: "Body param: The AI Config allows you to customize the behavior of
                    meeting transcriptions and summaries"
                live_stream_on_start:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: Specifies if the meeting should start getting
                    livestreamed on start."
                persist_chat:
                  type: boolean
                  description: "Body param: If a meeting is set to persist_chat, meeting chat
                    would remain for a week within the meeting space."
                record_on_start:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: Specifies if the meeting should start getting recorded
                    as soon as someone joins the meeting."
                recording_config:
                  type: object
                  properties:
                    audio_config:
                      type: object
                      properties:
                        channel:
                          type: string
                          enum:
                            - mono
                            - stereo
                          description: Audio signal pathway within an audio file that carries a specific
                            sound source.
                        codec:
                          type: string
                          enum:
                            - MP3
                            - AAC
                          description: Codec using which the recording will be encoded. If VP8/VP9 is
                            selected for videoConfig, changing audioConfig is
                            not allowed. In this case, the codec in the
                            audioConfig is automatically set to vorbis.
                        export_file:
                          type: boolean
                          description: Controls whether to export audio file seperately
                      description: Object containing configuration regarding the audio that is being
                        recorded.
                    file_name_prefix:
                      type: string
                      description: Adds a prefix to the beginning of the file name of the recording.
                    live_streaming_config:
                      type: object
                      properties:
                        rtmp_url:
                          type: string
                          description: RTMP URL to stream to
                    max_seconds:
                      type: number
                      description: Specifies the maximum duration for recording in seconds, ranging
                        from a minimum of 60 seconds to a maximum of 24 hours.
                    realtimekit_bucket_config:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Controls whether recordings are uploaded to RealtimeKit's bucket.
                            If set to false, `download_url`,
                            `audio_download_url`, `download_url_expiry` won't be
                            generated for a recording.
                      required:
                        - enabled
                    storage_config:
                      oneOf:
                        - type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - aws
                                - azure
                                - digitalocean
                                - gcs
                                - sftp
                              description: Type of storage media.
                            access_key:
                              type: string
                              description: Access key of the storage medium. Access key is not required for
                                the `gcs` storage media type.  Note that this
                                field is not readable by clients, only
                                writeable.
                            auth_method:
                              type: string
                              enum:
                                - KEY
                                - PASSWORD
                              description: Authentication method used for "sftp" type storage medium
                            bucket:
                              type: string
                              description: Name of the storage medium's bucket.
                            host:
                              type: string
                              description: SSH destination server host for SFTP type storage medium
                            password:
                              type: string
                              description: SSH destination server password for SFTP type storage medium when
                                auth_method is "PASSWORD". If auth_method is
                                "KEY", this specifies the password for the ssh
                                private key.
                            path:
                              type: string
                              description: Path relative to the bucket root at which the recording will be
                                placed.
                            port:
                              type: number
                              description: SSH destination server port for SFTP type storage medium
                            private_key:
                              type: string
                              description: Private key used to login to destination SSH server for SFTP type
                                storage medium, when auth_method used is "KEY"
                            region:
                              type: string
                              description: Region of the storage medium.
                            secret:
                              type: string
                              description: Secret key of the storage medium. Similar to `access_key`, it is
                                only writeable by clients, not readable.
                            username:
                              type: string
                              description: SSH destination server username for SFTP type storage medium
                          required:
                            - type
                      nullable: true
                    video_config:
                      type: object
                      properties:
                        codec:
                          type: string
                          enum:
                            - H264
                            - VP8
                          description: Codec using which the recording will be encoded.
                        export_file:
                          type: boolean
                          description: Controls whether to export video file seperately
                        height:
                          type: number
                          description: Height of the recording video in pixels
                        watermark:
                          type: object
                          properties:
                            position:
                              type: string
                              enum:
                                - left top
                                - right top
                                - left bottom
                                - right bottom
                              description: Position of the watermark
                            size:
                              type: object
                              properties:
                                height:
                                  type: number
                                  description: Height of the watermark in px
                                width:
                                  type: number
                                  description: Width of the watermark in px
                              description: Size of the watermark
                            url:
                              type: string
                              description: URL of the watermark image
                          description: Watermark to be added to the recording
                        width:
                          type: number
                          description: Width of the recording video in pixels
                  description: "Body param: Recording Configurations to be used for this meeting.
                    This level of configs takes higher preference over App level
                    configs on the RealtimeKit developer portal."
                session_keep_alive_time_in_secs:
                  type: number
                  description: "Body param: Time in seconds, for which a session remains active,
                    after the last participant has left the meeting."
                summarize_on_end:
                  type: boolean
                  description: "Body param: Automatically generate summary of meetings using
                    transcripts. Requires Transcriptions to be enabled, and can
                    be retrieved via Webhooks or summary API."
                title:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: Title of the meeting"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Success status of the operation
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID of the meeting.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO
                          format.
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO
                          format.
                      ai_config:
                        type: object
                        properties:
                          summarization:
                            type: object
                            properties:
                              summary_type:
                                type: string
                                enum:
                                  - general
                                  - team_meeting
                                  - sales_call
                                  - client_check_in
                                  - interview
                                  - daily_standup
                                  - one_on_one_meeting
                                  - lecture
                                  - code_review
                                description: Defines the style of the summary, such as general, team meeting, or
                                  sales call.
                              text_format:
                                type: string
                                enum:
                                  - plain_text
                                  - markdown
                                description: Determines the text format of the summary, such as plain text or
                                  markdown.
                              word_limit:
                                type: number
                                description: Sets the maximum number of words in the meeting summary.
                            description: Summary Config
                          transcription:
                            type: object
                            properties:
                              keywords:
                                type: array
                                items:
                                  type: string
                                description: Adds specific terms to improve accurate detection during
                                  transcription.
                              language:
                                type: string
                                enum:
                                  - en-US
                                  - en-IN
                                  - de
                                  - hi
                                  - sv
                                  - ru
                                  - pl
                                  - el
                                  - fr
                                  - nl
                                description: Specifies the language code for transcription to ensure accurate
                                  results.
                              profanity_filter:
                                type: boolean
                                description: Control the inclusion of offensive language in transcriptions.
                            description: Transcription Configurations
                        description: The AI Config allows you to customize the behavior of meeting
                          transcriptions and summaries
                      live_stream_on_start:
                        type: boolean
                        description: Specifies if the meeting should start getting livestreamed on
                          start.
                      persist_chat:
                        type: boolean
                        description: Specifies if Chat within a meeting should persist for a week.
                      record_on_start:
                        type: boolean
                        description: Specifies if the meeting should start getting recorded as soon as
                          someone joins the meeting.
                      recording_config:
                        type: object
                        properties:
                          audio_config:
                            type: object
                            properties:
                              channel:
                                type: string
                                enum:
                                  - mono
                                  - stereo
                                description: Audio signal pathway within an audio file that carries a specific
                                  sound source.
                              codec:
                                type: string
                                enum:
                                  - MP3
                                  - AAC
                                description: Codec using which the recording will be encoded. If VP8/VP9 is
                                  selected for videoConfig, changing audioConfig
                                  is not allowed. In this case, the codec in the
                                  audioConfig is automatically set to vorbis.
                              export_file:
                                type: boolean
                                description: Controls whether to export audio file seperately
                            description: Object containing configuration regarding the audio that is being
                              recorded.
                          file_name_prefix:
                            type: string
                            description: Adds a prefix to the beginning of the file name of the recording.
                          live_streaming_config:
                            type: object
                            properties:
                              rtmp_url:
                                type: string
                                description: RTMP URL to stream to
                          max_seconds:
                            type: number
                            description: Specifies the maximum duration for recording in seconds, ranging
                              from a minimum of 60 seconds to a maximum of 24
                              hours.
                          realtimekit_bucket_config:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Controls whether recordings are uploaded to RealtimeKit's bucket.
                                  If set to false, `download_url`,
                                  `audio_download_url`, `download_url_expiry`
                                  won't be generated for a recording.
                            required:
                              - enabled
                          storage_config:
                            oneOf:
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - aws
                                      - azure
                                      - digitalocean
                                      - gcs
                                      - sftp
                                    description: Type of storage media.
                                  auth_method:
                                    type: string
                                    enum:
                                      - KEY
                                      - PASSWORD
                                    description: Authentication method used for "sftp" type storage medium
                                  bucket:
                                    type: string
                                    description: Name of the storage medium's bucket.
                                  host:
                                    type: string
                                    description: SSH destination server host for SFTP type storage medium
                                  password:
                                    type: string
                                    description: SSH destination server password for SFTP type storage medium when
                                      auth_method is "PASSWORD". If auth_method
                                      is "KEY", this specifies the password for
                                      the ssh private key.
                                  path:
                                    type: string
                                    description: Path relative to the bucket root at which the recording will be
                                      placed.
                                  port:
                                    type: number
                                    description: SSH destination server port for SFTP type storage medium
                                  private_key:
                                    type: string
                                    description: Private key used to login to destination SSH server for SFTP type
                                      storage medium, when auth_method used is
                                      "KEY"
                                  region:
                                    type: string
                                    description: Region of the storage medium.
                                  secret:
                                    type: string
                                    description: Secret key of the storage medium. Similar to `access_key`, it is
                                      only writeable by clients, not readable.
                                  username:
                                    type: string
                                    description: SSH destination server username for SFTP type storage medium
                                required:
                                  - type
                            nullable: true
                          video_config:
                            type: object
                            properties:
                              codec:
                                type: string
                                enum:
                                  - H264
                                  - VP8
                                description: Codec using which the recording will be encoded.
                              export_file:
                                type: boolean
                                description: Controls whether to export video file seperately
                              height:
                                type: number
                                description: Height of the recording video in pixels
                              watermark:
                                type: object
                                properties:
                                  position:
                                    type: string
                                    enum:
                                      - left top
                                      - right top
                                      - left bottom
                                      - right bottom
                                    description: Position of the watermark
                                  size:
                                    type: object
                                    properties:
                                      height:
                                        type: number
                                        description: Height of the watermark in px
                                      width:
                                        type: number
                                        description: Width of the watermark in px
                                    description: Size of the watermark
                                  url:
                                    type: string
                                    description: URL of the watermark image
                                description: Watermark to be added to the recording
                              width:
                                type: number
                                description: Width of the recording video in pixels
                        description: Recording Configurations to be used for this meeting. This level of
                          configs takes higher preference over App level configs
                          on the RealtimeKit developer portal.
                      session_keep_alive_time_in_secs:
                        type: number
                        description: Time in seconds, for which a session remains active, after the last
                          participant has left the meeting.
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                        description: Whether the meeting is `ACTIVE` or `INACTIVE`. Users will not be
                          able to join an `INACTIVE` meeting.
                      summarize_on_end:
                        type: boolean
                        description: Automatically generate summary of meetings using transcripts.
                          Requires Transcriptions to be enabled, and can be
                          retrieved via Webhooks or summary API.
                      title:
                        type: string
                        description: Title of the meeting.
                    required:
                      - id
                      - created_at
                      - updated_at
                    description: Data returned by the operation
                required:
                  - success
  /accounts/{account_id}/realtime/kit/{appId}/meetings/{meetingId}/active-livestream:
    get:
      operationId: getMeetingActiveLivestreamsLivestream
      description: "Returns details of all active livestreams for the given meeting
        ID.  @example ```ts const response = await
        client.realtimeKit.livestreams.getMeetingActiveLivestreams( 'app_id',
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The livestream ID.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO
                          format.
                      disabled:
                        type: string
                        description: Specifies if the livestream was disabled.
                      ingest_server:
                        type: string
                        description: The server URL to which the RTMP encoder sends the video and audio
                          data.
                      meeting_id:
                        type: string
                      name:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Name of the livestream.
                      playback_url:
                        type: string
                        description: The web address that viewers can use to watch the livestream.
                      status:
                        type: string
                        enum:
                          - LIVE
                          - IDLE
                          - ERRORED
                          - INVOKED
                      stream_key:
                        type: string
                        description: Unique key for accessing each livestream.
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO
                          format.
                  success:
                    type: boolean
  /accounts/{account_id}/realtime/kit/{appId}/meetings/{meetingId}:
    get:
      operationId: getMeetingByIdMeeting
      description: "Returns a meeting details in an App for the given meeting
        ID.  @example ```ts const response = await
        client.realtimeKit.meetings.getMeetingById( 'app_id',
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
        - name: name
          in: query
          required: false
          description: "Query param:"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Success status of the operation
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID of the meeting.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO
                          format.
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO
                          format.
                      ai_config:
                        type: object
                        properties:
                          summarization:
                            type: object
                            properties:
                              summary_type:
                                type: string
                                enum:
                                  - general
                                  - team_meeting
                                  - sales_call
                                  - client_check_in
                                  - interview
                                  - daily_standup
                                  - one_on_one_meeting
                                  - lecture
                                  - code_review
                                description: Defines the style of the summary, such as general, team meeting, or
                                  sales call.
                              text_format:
                                type: string
                                enum:
                                  - plain_text
                                  - markdown
                                description: Determines the text format of the summary, such as plain text or
                                  markdown.
                              word_limit:
                                type: number
                                description: Sets the maximum number of words in the meeting summary.
                            description: Summary Config
                          transcription:
                            type: object
                            properties:
                              keywords:
                                type: array
                                items:
                                  type: string
                                description: Adds specific terms to improve accurate detection during
                                  transcription.
                              language:
                                type: string
                                enum:
                                  - en-US
                                  - en-IN
                                  - de
                                  - hi
                                  - sv
                                  - ru
                                  - pl
                                  - el
                                  - fr
                                  - nl
                                description: Specifies the language code for transcription to ensure accurate
                                  results.
                              profanity_filter:
                                type: boolean
                                description: Control the inclusion of offensive language in transcriptions.
                            description: Transcription Configurations
                        description: The AI Config allows you to customize the behavior of meeting
                          transcriptions and summaries
                      live_stream_on_start:
                        type: boolean
                        description: Specifies if the meeting should start getting livestreamed on
                          start.
                      persist_chat:
                        type: boolean
                        description: Specifies if Chat within a meeting should persist for a week.
                      record_on_start:
                        type: boolean
                        description: Specifies if the meeting should start getting recorded as soon as
                          someone joins the meeting.
                      recording_config:
                        type: object
                        properties:
                          audio_config:
                            type: object
                            properties:
                              channel:
                                type: string
                                enum:
                                  - mono
                                  - stereo
                                description: Audio signal pathway within an audio file that carries a specific
                                  sound source.
                              codec:
                                type: string
                                enum:
                                  - MP3
                                  - AAC
                                description: Codec using which the recording will be encoded. If VP8/VP9 is
                                  selected for videoConfig, changing audioConfig
                                  is not allowed. In this case, the codec in the
                                  audioConfig is automatically set to vorbis.
                              export_file:
                                type: boolean
                                description: Controls whether to export audio file seperately
                            description: Object containing configuration regarding the audio that is being
                              recorded.
                          file_name_prefix:
                            type: string
                            description: Adds a prefix to the beginning of the file name of the recording.
                          live_streaming_config:
                            type: object
                            properties:
                              rtmp_url:
                                type: string
                                description: RTMP URL to stream to
                          max_seconds:
                            type: number
                            description: Specifies the maximum duration for recording in seconds, ranging
                              from a minimum of 60 seconds to a maximum of 24
                              hours.
                          realtimekit_bucket_config:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Controls whether recordings are uploaded to RealtimeKit's bucket.
                                  If set to false, `download_url`,
                                  `audio_download_url`, `download_url_expiry`
                                  won't be generated for a recording.
                            required:
                              - enabled
                          storage_config:
                            oneOf:
                              - type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - aws
                                      - azure
                                      - digitalocean
                                      - gcs
                                      - sftp
                                    description: Type of storage media.
                                  auth_method:
                                    type: string
                                    enum:
                                      - KEY
                                      - PASSWORD
                                    description: Authentication method used for "sftp" type storage medium
                                  bucket:
                                    type: string
                                    description: Name of the storage medium's bucket.
                                  host:
                                    type: string
                                    description: SSH destination server host for SFTP type storage medium
                                  password:
                                    type: string
                                    description: SSH destination server password for SFTP type storage medium when
                                      auth_method is "PASSWORD". If auth_method
                                      is "KEY", this specifies the password for
                                      the ssh private key.
                                  path:
                                    type: string
                                    description: Path relative to the bucket root at which the recording will be
                                      placed.
                                  port:
                                    type: number
                                    description: SSH destination server port for SFTP type storage medium
                                  private_key:
                                    type: string
                                    description: Private key used to login to destination SSH server for SFTP type
                                      storage medium, when auth_method used is
                                      "KEY"
                                  region:
                                    type: string
                                    description: Region of the storage medium.
                                  secret:
                                    type: string
                                    description: Secret key of the storage medium. Similar to `access_key`, it is
                                      only writeable by clients, not readable.
                                  username:
                                    type: string
                                    description: SSH destination server username for SFTP type storage medium
                                required:
                                  - type
                            nullable: true
                          video_config:
                            type: object
                            properties:
                              codec:
                                type: string
                                enum:
                                  - H264
                                  - VP8
                                description: Codec using which the recording will be encoded.
                              export_file:
                                type: boolean
                                description: Controls whether to export video file seperately
                              height:
                                type: number
                                description: Height of the recording video in pixels
                              watermark:
                                type: object
                                properties:
                                  position:
                                    type: string
                                    enum:
                                      - left top
                                      - right top
                                      - left bottom
                                      - right bottom
                                    description: Position of the watermark
                                  size:
                                    type: object
                                    properties:
                                      height:
                                        type: number
                                        description: Height of the watermark in px
                                      width:
                                        type: number
                                        description: Width of the watermark in px
                                    description: Size of the watermark
                                  url:
                                    type: string
                                    description: URL of the watermark image
                                description: Watermark to be added to the recording
                              width:
                                type: number
                                description: Width of the recording video in pixels
                        description: Recording Configurations to be used for this meeting. This level of
                          configs takes higher preference over App level configs
                          on the RealtimeKit developer portal.
                      session_keep_alive_time_in_secs:
                        type: number
                        description: Time in seconds, for which a session remains active, after the last
                          participant has left the meeting.
                      status:
                        type: string
                        enum:
                          - ACTIVE
                          - INACTIVE
                        description: Whether the meeting is `ACTIVE` or `INACTIVE`. Users will not be
                          able to join an `INACTIVE` meeting.
                      summarize_on_end:
                        type: boolean
                        description: Automatically generate summary of meetings using transcripts.
                          Requires Transcriptions to be enabled, and can be
                          retrieved via Webhooks or summary API.
                      title:
                        type: string
                        description: Title of the meeting.
                    required:
                      - id
                      - created_at
                      - updated_at
                    description: Data returned by the operation
                required:
                  - success
    patch:
      operationId: updateMeetingByIdMeeting
      description: "Updates a meeting in an App for the given meeting ID.  @example
        ```ts const response = await
        client.realtimeKit.meetings.updateMeetingById( 'app_id',
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: meetingId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                ai_config:
                  type: object
                  properties:
                    summarization:
                      type: object
                      properties:
                        summary_type:
                          type: string
                          enum:
                            - general
                            - team_meeting
                            - sales_call
                            - client_check_in
                            - interview
                            - daily_standup
                            - one_on_one_meeting
                            - lecture
                            - code_review
                          description: Defines the style of the summary, such as general, team meeting, or
                            sales call.
                        text_format:
                          type: string
                          enum:
                            - plain_text
                            - markdown
                          description: Determines the text format of the summary, such as plain text or
                            markdown.
                        word_limit:
                          type: number
                          description: Sets the maximum number of words in the meeting summary.
                      description: Summary Config
                    transcription:
                      type: object
                      properties:
                        keywords:
                          type: array
                          items:
                            type: string
                          description: Adds specific terms to improve accurate detection during
                            transcription.
                        language:
                          type: string
                          enum:
                            - en-US
                            - en-IN
                            - de
                            - hi
                            - sv
                            - ru
                            - pl
                            - el
                            - fr
                            - nl
                          description: Specifies the language code for transcription to ensure accurate
                            results.
                        profanity_filter:
                          type: boolean
                          description: Control the inclusion of offensive language in transcriptions.
                      description: Transcription Configurations
                  description: "Body param: The AI Config allows you to customize the behavior of
                    meeting transcriptions and summaries"
                live_stream_on_start:
                  type: boolean
                  description: "Body param: Specifies if the meeting should start getting
                    livestreamed on start."
                persist_chat:
                  type: boolean
                  description: "Body param: If a meeting is updated to persist_chat, meeting chat
                    would remain for a week within the meeting space."
                record_on_start:
                  type: boolean
                  description: "Body param: Specifies if the meeting should start getting recorded
                    as soon as someone joins the meeting."
                session_keep_alive_time_in_secs:
                  type: number
                  description: "Body param: Time in seconds, for which a session remains active,
                    after the last participant has left the meeting."
                status:
                  type: string
                  enum:
                    - ACTIVE
                    - INACTIVE
                  description: "Body param: Whether the meeting is `ACTIVE` or `INACTIVE`. Users
                    will not be able to join an `INACTIVE` meeting."
                summarize_on_end:
                  type: boolean
                  description: "Body param: Automatically generate summary of meetings using
                    transcripts. Requires Transcriptions to be enabled, and can
                    be retrieved via Webhooks or summary API."
                title:
                  type: string
                  description: "Body param: Title of the meeting"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Success status of the operation
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID of the meeting.
                      created_at:
                        type: string
                        description: Timestamp the object was created at. The time is returned in ISO
                          format.
                      updated_at:
                        type: string
                        description: Timestamp the object was updated at. The time is returned in ISO
                          format.
                      ai_config:
                        type: object
                        properties:
                          summarization:
                            type: object
                            properties:
                              summary_type:
                                type: string
                                enum:
                                  - general
                                  - team_meeting
                                  - sales_call
                                  - client_check_in
                                  - interview
                                  - daily_standup
                                  - one_on_one_meeting
                                  - lecture
                                  - code_review
                                description: Defines the style of the summary, such as general, team meeting, or
                                  sales call.
                              text_format:
                                type: string
                                enum:
                                  - plain_text
                                  - markdown
                                description: Determines the text format of the summary, such as plain text or
[...]
