openapi: 3.1.0
info:
  title: Cloudflare REGISTRAR API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: registrar
paths:
  /accounts/{account_id}/registrar/domains/{domainName}:
    get:
      operationId: getDomain
      description: Show individual domain.  @deprecated This operation is deprecated
        and will be removed in a future release. A replacement Registrar API
        will be announced separately.
      parameters:
        - name: domainName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        Forbidden:
          - status: 403
    put:
      operationId: putDomain
      description: Update individual domain.  @deprecated This operation is deprecated
        and will be removed in a future release. A replacement Registrar API
        will be announced separately.
      parameters:
        - name: domainName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                auto_renew:
                  type: boolean
                  description: "Body param: Auto-renew controls whether subscription is
                    automatically renewed upon domain expiration."
                locked:
                  type: boolean
                  description: "Body param: Shows whether a registrar lock is in place for a
                    domain."
                privacy:
                  type: boolean
                  description: "Body param: Privacy option controls redacting WHOIS information."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        RegistrarDomainNotOwned:
          - code: 10000
            status: 403
            message:
              includes: Domain doesn't belong to the user
        RegistrarUpdateNotAllowed:
          - status: 422
        Forbidden:
          - status: 403
  /accounts/{account_id}/registrar/domains:
    get:
      operationId: listDomains
      description: List domains handled by Registrar.  @deprecated This operation is
        deprecated and will be removed in a future release. A replacement
        Registrar API will be announced separately.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Domain identifier.
                  available:
                    type: boolean
                    description: Shows if a domain is available for transferring into Cloudflare
                      Registrar.
                  can_register:
                    type: boolean
                    description: Indicates if the domain can be registered as a new domain.
                  created_at:
                    type: string
                    description: Shows time of creation.
                  current_registrar:
                    type: string
                    description: Shows name of current registrar.
                  expires_at:
                    type: string
                    description: Shows when domain name registration expires.
                  locked:
                    type: boolean
                    description: Shows whether a registrar lock is in place for a domain.
                  registrant_contact:
                    type: object
                    properties:
                      address:
                        type: string
                        description: Address.
                      city:
                        type: string
                        description: City.
                      country:
                        oneOf:
                          - type: string
                        nullable: true
                        description: The country in which the user lives.
                      first_name:
                        oneOf:
                          - type: string
                        nullable: true
                        description: User's first name
                      last_name:
                        oneOf:
                          - type: string
                        nullable: true
                        description: User's last name
                      organization:
                        type: string
                        description: Name of organization.
                      phone:
                        oneOf:
                          - type: string
                        nullable: true
                        description: User's telephone number
                      state:
                        type: string
                        description: State.
                      zip:
                        oneOf:
                          - type: string
                        nullable: true
                        description: The zipcode or postal code where the user lives.
                      id:
                        type: string
                        description: Contact Identifier.
                      address2:
                        type: string
                        description: Optional address line for unit, floor, suite, etc.
                      email:
                        type: string
                        description: The contact email address of the user.
                      fax:
                        type: string
                        description: Contact fax number.
                    required:
                      - address
                      - city
                      - country
                      - first_name
                      - last_name
                      - organization
                      - phone
                      - state
                      - zip
                    description: Shows contact information for domain registrant.
                  registry_statuses:
                    type: string
                    description: A comma-separated list of registry status codes. A full list of
                      status codes can be found at [EPP Status
                      Codes](https://www.icann.org/resources/pages/epp-status-codes-2014-06-16-en).
                  supported_tld:
                    type: boolean
                    description: Whether a particular TLD is currently supported by Cloudflare
                      Registrar. Refer to [TLD
                      Policies](https://www.cloudflare.com/tld-policies/) for a
                      list of supported TLDs.
                  transfer_in:
                    type: object
                    properties:
                      accept_foa:
                        type: string
                        enum:
                          - needed
                          - ok
                        description: Form of authorization has been accepted by the registrant.
                      approve_transfer:
                        type: string
                        enum:
                          - needed
                          - ok
                          - pending
                          - trying
                          - rejected
                          - unknown
                        description: Shows transfer status with the registry.
                      can_cancel_transfer:
                        type: boolean
                        description: Indicates if cancellation is still possible.
                      disable_privacy:
                        type: string
                        enum:
                          - needed
                          - ok
                          - unknown
                        description: Privacy guards are disabled at the foreign registrar.
                      enter_auth_code:
                        type: string
                        enum:
                          - needed
                          - ok
                          - pending
                          - trying
                          - rejected
                        description: Auth code has been entered and verified.
                      unlock_domain:
                        type: string
                        enum:
                          - needed
                          - ok
                          - pending
                          - trying
                          - unknown
                        description: Domain is unlocked at the foreign registrar.
                    description: Statuses for domain transfers into Cloudflare Registrar.
                  updated_at:
                    type: string
                    description: Last updated.
      x-distilled-pagination-class: DomainsSinglePage
      x-distilled-errors:
        Forbidden:
          - status: 403
  /accounts/{account_id}/registrar/domain-check:
    post:
      operationId: checkRegistrar
      description: "Performs real-time, authoritative availability checks directly
        against domain registries. Use this endpoint to verify a domain is
        available before attempting registration via `POST
        /registrations`.    Important:  Unlike the Search endpoint, these
        results are authoritative and reflect current registry status. Always
        check availability immediately before registration as domain status can
        change rapidly.    Note:  This endpoint uses POST to accept a list of
        domains in the request body. It is a read-only operation — it does not
        create, modify, or reserve any domains.  ### Extension support  Only
        domains on extensions supported for programmatic registration by this
        API can be registered. If you check a domain on an unsupported
        extension, the response will include `registrable: false` with a
        `reason` field explaining why:  - `extension_not_supported_via_api` —
        Cloudflare Registrar supports this extension in the dashboard, but it is
        not yet available for programmatic registration via this API. Register
        via `https://dash.cloudflare.com/{account_id}/domains/registrations`
        instead. - `extension_not_supported` — This extension is not supported
        by Cloudflare Registrar. - `extension_disallows_registration` — The
        extension's registry has temporarily or permanently frozen new
        registrations. No registrar can register domains on this extension at
        this time. - `domain_premium` — The domain is premium priced. Premium
        registration is not currently supported by this API. -
        `domain_unavailable` — The domain is already registered, reserved, or
        otherwise not available for registration on a supported extension.  The
        `reason` field is only present when `registrable` is `false`.  ###
        Behavior  - Maximum 20 domains per request - Pricing is only returned
        for domains where `registrable: true` - Results are not cached; each
        request queries the registry  ### Workflow  1. Call this endpoint with
        domains the user wants to register. 2. For each domain where
        `registrable: true`, present pricing to the user. 3. If `tier: premium`,
        note that premium registration is not currently supported by this API
        and do not proceed to `POST /registrations`. 4. Proceed to `POST
        /registrations` only for supported non-premium domains.  @example ```ts
        const response = await client.registrar.check({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', domains: [ 'myawesomebrand.com',
        'myawesomebrand.net', 'myawesomebrand.org', 'myawesomebrand.app',
        'myawesomebrand.dev', ], }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  description: "Body param: List of fully qualified domain names (FQDNs) to check
                    for availability. Each domain must include the extension.  -
                    Minimum: 1 domain - Maximum: 20 domains per request -
                    Domains on unsupported extensions are returned with
                    `registrable: false` and a `reason` field - Malformed domain
                    names (e.g., missing extension) may be omitted from the
                    response"
              required:
                - domains
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  domains:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The fully qualified domain name (FQDN) in punycode format for
                            internationalized domain names (IDNs).
                        registrable:
                          type: boolean
                          description: "Indicates whether this domain can be registered programmatically
                            through this API based on a real-time registry
                            check.  - `true`: Domain is available for
                            registration. The `pricing` object will be included.
                            - `false`: Domain is not available. See the `reason`
                            field for why. `tier` may still be present on some
                            non-registrable results, such as premium domains."
                        pricing:
                          type: object
                          properties:
                            currency:
                              type: string
                              description: ISO-4217 currency code for the prices (e.g., "USD", "EUR", "GBP").
                            registration_cost:
                              type: string
                              description: "The first-year cost to register this domain. For premium domains
                                (`tier: premium`), this price is set by the
                                registry and may be significantly higher than
                                standard pricing. For multi-year registrations,
                                this cost applies to the first year only;
                                subsequent years are charged at `renewal_cost`."
                            renewal_cost:
                              type: string
                              description: Per-year renewal cost for this domain. Applied to each year beyond
                                the first year of a multi-year registration, and
                                to each annual auto-renewal thereafter. May
                                differ from `registration_cost`, especially for
                                premium domains where initial registration often
                                costs more than renewals.
                          required:
                            - currency
                            - registration_cost
                            - renewal_cost
                          description: Annual pricing information for a registrable domain. This object is
                            only present when `registrable` is `true`. All
                            prices are per year and returned as strings to
                            preserve decimal precision.  `registration_cost` and
                            `renewal_cost` are frequently the same value, but
                            may differ — especially for premium domains where
                            registries set different rates for initial
                            registration vs. renewal. For a multi-year
                            registration (e.g., 4 years), the first year is
                            charged at `registration_cost` and each subsequent
                            year at `renewal_cost`. Registry pricing may change
                            over time; the values returned here reflect the
                            current registry rate. Premium pricing may be
                            surfaced by Search and Check, but premium
                            registration is not currently supported by this API.
                        reason:
                          type: string
                          enum:
                            - extension_not_supported_via_api
                            - extension_not_supported
                            - extension_disallows_registration
                            - domain_premium
                            - domain_unavailable
                          description: "Present only when `registrable` is `false`. Explains why the
                            domain cannot be registered via this API.  -
                            `extension_not_supported_via_api`: Cloudflare
                            Registrar supports this extension in the dashboard
                            but it is not yet available for programmatic
                            registration via this API. The user can register via
                            `https://dash.cloudflare.com/{account_id}/domains/r\
                            egistrations`. - `extension_not_supported`: This
                            extension is not supported by Cloudflare Registrar
                            at all. - `extension_disallows_registration`: The
                            extension's registry has temporarily or permanently
                            frozen new registrations. No registrar can register
                            domains on this extension at this time. -
                            `domain_premium`: The domain is premium priced.
                            Premium registration is not currently supported by
                            this API. - `domain_unavailable`: The domain is
                            already registered, reserved, or otherwise not
                            available on a supported extension."
                        tier:
                          type: string
                          enum:
                            - standard
                            - premium
                          description: "The pricing tier for this domain. Always present when
                            `registrable` is `true`; defaults to `standard` for
                            most domains. May be absent when `registrable` is
                            `false`.  - `standard`: Standard registry pricing -
                            `premium`: Premium domain with higher pricing set by
                            the registry"
                      required:
                        - name
                        - registrable
                    description: "Array of domain availability results. Domains on unsupported
                      extensions are included with `registrable: false` and a
                      `reason` field. Malformed domain names may be omitted."
                required:
                  - domains
      x-distilled-response-path: result
  /accounts/{account_id}/registrar/domain-search:
    get:
      operationId: searchRegistrar
      description: "Searches for domain name suggestions based on a keyword, phrase,
        or partial domain name. Returns a list of potentially available domains
        with pricing information.    Important:  Results are non-authoritative
        and based on cached data. Always use the `/domain-check` endpoint to
        verify real-time availability before attempting
        registration.  Suggestions are scoped to extensions supported for
        programmatic registration via this API (`POST /registrations`). Domains
        on unsupported extensions will not appear in results, even if they are
        available at the registry level.  ### Use cases  - Brand name discovery
        (e.g., \"acme corp\" → acmecorp.com, acmecorp.dev) - Keyword-based
        suggestions (e.g., \"coffee shop\" → coffeeshop.com, mycoffeeshop.net) -
        Alternative extension discovery (e.g., \"example.com\" → example.com,
        example.app, example.xyz)  ### Workflow  1. Call this endpoint with a
        keyword or domain name. 2. Present suggestions to the user. 3. Call
        `/domain-check` with the user's chosen domains to confirm real-time
        availability and pricing. 4. Proceed to `POST /registrations` only for
        supported non-premium domains where the Check response returns
        `registrable: true`.    Note:  Searching with just a domain extension
        (e.g., \"com\" or \".app\") is not supported. Provide a keyword or
        domain name.  @example ```ts const response = await
        client.registrar.search({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', q: 'x', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
        - name: q
          in: query
          required: true
          description: 'Query param: The search term to find domain suggestions. Accepts
            keywords, phrases, or full domain names.  - Phrases: "coffee shop"
            returns coffeeshop.com, mycoffeeshop.net, etc. - Domain names:
            "example.com" returns example.com and variations across extensions'
          schema:
            type: string
        - name: extensions
          in: query
          required: false
          description: "Query param: Limits results to specific domain extensions from the
            supported set. If not specified, returns results across all
            supported extensions. Extensions not in the supported set are
            silently ignored."
          schema:
            type: array
            items:
              type: string
        - name: limit
          in: query
          required: false
          description: "Query param: Maximum number of domain suggestions to return.
            Defaults to 20 if not specified."
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  domains:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The fully qualified domain name (FQDN) in punycode format for
                            internationalized domain names (IDNs).
                        registrable:
                          type: boolean
                          description: "Indicates whether this domain appears available based on search
                            data. Search results are non-authoritative and may
                            be stale. - `true`: The domain appears available.
                            Use POST /domain-check to confirm before
                            registration.  - `false`: The domain does not appear
                            available in search results."
                        pricing:
                          type: object
                          properties:
                            currency:
                              type: string
                              description: ISO-4217 currency code for the prices (e.g., "USD", "EUR", "GBP").
                            registration_cost:
                              type: string
                              description: "The first-year cost to register this domain. For premium domains
                                (`tier: premium`), this price is set by the
                                registry and may be significantly higher than
                                standard pricing. For multi-year registrations,
                                this cost applies to the first year only;
                                subsequent years are charged at `renewal_cost`."
                            renewal_cost:
                              type: string
                              description: Per-year renewal cost for this domain. Applied to each year beyond
                                the first year of a multi-year registration, and
                                to each annual auto-renewal thereafter. May
                                differ from `registration_cost`, especially for
                                premium domains where initial registration often
                                costs more than renewals.
                          required:
                            - currency
                            - registration_cost
                            - renewal_cost
                          description: Annual pricing information for a registrable domain. This object is
                            only present when `registrable` is `true`. All
                            prices are per year and returned as strings to
                            preserve decimal precision.  `registration_cost` and
                            `renewal_cost` are frequently the same value, but
                            may differ — especially for premium domains where
                            registries set different rates for initial
                            registration vs. renewal. For a multi-year
                            registration (e.g., 4 years), the first year is
                            charged at `registration_cost` and each subsequent
                            year at `renewal_cost`. Registry pricing may change
                            over time; the values returned here reflect the
                            current registry rate. Premium pricing may be
                            surfaced by Search and Check, but premium
                            registration is not currently supported by this API.
                        reason:
                          type: string
                          enum:
                            - extension_not_supported_via_api
                            - extension_not_supported
                            - extension_disallows_registration
                            - domain_premium
                            - domain_unavailable
                          description: "Present only when `registrable` is `false` on search results.
                            Explains why the domain does not appear registrable
                            through this API. These values are advisory; use
                            POST /domain-check for authoritative status.  -
                            `extension_not_supported_via_api`: Cloudflare
                            Registrar supports this extension in the dashboard
                            but it is not yet available for programmatic
                            registration via this API. -
                            `extension_not_supported`: This extension is not
                            supported by Cloudflare Registrar at all. -
                            `extension_disallows_registration`: The extension's
                            registry has temporarily or permanently frozen new
                            registrations. - `domain_premium`: The domain is
                            premium priced. Premium registration is not
                            currently supported by this API. -
                            `domain_unavailable`: The domain appears
                            unavailable."
                        tier:
                          type: string
                          enum:
                            - standard
                            - premium
                          description: "The pricing tier for this domain. Always present when
                            `registrable` is `true`; defaults to `standard` for
                            most domains. May be absent when `registrable` is
                            `false`.  - `standard`: Standard registry pricing -
                            `premium`: Premium domain with higher pricing set by
                            the registry"
                      required:
                        - name
                        - registrable
                    description: Array of domain suggestions sorted by relevance. May be empty if no
                      domains match the search criteria.
                required:
                  - domains
      x-distilled-response-path: result
  /accounts/{account_id}/registrar/registrations/{domainName}/registration-status:
    get:
      operationId: getRegistrationStatus
      description: "Returns the current status of a domain registration workflow.  Use
        this endpoint to poll for completion when the POST response returned
        `202 Accepted`. The URL is provided in the `links.self` field of the
        workflow status response.  Poll this endpoint until the workflow reaches
        a terminal state or a state that requires user attention.    Terminal
        states:  `succeeded` and `failed` are terminal and always have
        `completed: true`.    Non-terminal states:    - `action_required` has
        `completed: false` and will not resolve on its own. The workflow is
        paused pending user intervention. - `blocked` has `completed: false` and
        indicates the workflow is waiting on a third party such as the extension
        registry or losing registrar. Continue polling while informing the user
        of the delay.  Use increasing backoff between polls. When `state:
        blocked`, use a longer polling interval and do not poll indefinitely.  A
        naive polling loop that only checks `completed` can run indefinitely
        when `state: action_required`. Break explicitly on
        `action_required`:  ```js let status; do { await new Promise((r) =>
        setTimeout(r, 2000)); status = await cloudflare.request({ method:
        \"GET\", path: reg.result.links.self, }); } while
        (!status.result.completed && status.result.state !==
        \"action_required\");  if (status.result.state === \"action_required\")
        { // Surface context.action and context.confirmation_sent_to to the
        user. // Do not re-submit the registration request. } ```  @example
        ```ts const workflowStatus = await
        client.registrar.registrationStatus.get( 'example.com', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: domainName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  completed:
                    type: boolean
                    description: Whether the workflow has reached a terminal state. `true` when
                      `state` is `succeeded` or `failed`. `false` for `pending`,
                      `in_progress`, `action_required`, and `blocked`.
                  created_at:
                    type: string
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        description: URL to this status resource.
                      resource:
                        type: string
                        description: URL to the domain resource.
                    required:
                      - self
                  state:
                    type: string
                    enum:
                      - pending
                      - in_progress
                      - action_required
                      - blocked
                      - succeeded
                      - failed
                    description: "Workflow lifecycle state.  - `pending`: Workflow has been created
                      but not yet started processing. - `in_progress`: Actively
                      processing. Continue polling `links.self`. The workflow
                      has an internal deadline and will not remain in this state
                      indefinitely. - `action_required`: Paused — requires
                      action by the user (not the system). See `context.action`
                      for what is needed. An automated polling loop must break
                      on this state; it will not resolve on its own without user
                      intervention. - `blocked`: The workflow cannot make
                      progress due to a third party such as the domain
                      extension's registry or a losing registrar. No user action
                      will help. Continue polling — the block may resolve when
                      the third party responds. - `succeeded`: Terminal. The
                      operation completed successfully. `completed` will be
                      `true`. For registrations, `context.registration` contains
                      the resulting registration resource. - `failed`: Terminal.
                      The operation failed. `completed` will be `true`. See
                      `error.code` and `error.message` for the reason. Do not
                      auto-retry without user review."
                  updated_at:
                    type: string
                  context:
                    type: object
                    additionalProperties: true
                    description: Workflow-specific data for this workflow.  The workflow subject is
                      identified by `context.domain_name` for domain-centric
                      workflows.
                  error:
                    oneOf:
                      - type: object
                        properties:
                          code:
                            type: string
                            description: Machine-readable error code identifying the failure reason.
                          message:
                            type: string
                            description: Human-readable explanation of the failure. May include
                              registry-specific details.
                        required:
                          - code
                          - message
                    nullable: true
                    description: Error details when a workflow reaches the `failed` state. The
                      specific error codes and messages depend on the workflow
                      type (registration, update, etc.) and the underlying
                      registry response. These workflow error codes are separate
                      from immediate HTTP error `errors[].code` values returned
                      by non-2xx responses. Surface `error.message` to the user
                      for context.
                required:
                  - completed
                  - created_at
                  - links
                  - state
                  - updated_at
      x-distilled-response-path: result
  /accounts/{account_id}/registrar/registrations/{domainName}/update-status:
    get:
      operationId: getUpdateStatus
      description: "Returns the current status of a domain update workflow.  Use this
        endpoint to poll for completion when the PATCH response returned `202
        Accepted`. The URL is provided in the `links.self` field of the workflow
        status response.  Poll this endpoint until the workflow reaches a
        terminal state or a state that requires user attention.  Use increasing
        backoff between polls. When the workflow remains blocked on a third
        party, use a longer polling interval and do not poll
        indefinitely.  @example ```ts const workflowStatus = await
        client.registrar.updateStatus.get('example.com', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: domainName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  completed:
                    type: boolean
                    description: Whether the workflow has reached a terminal state. `true` when
                      `state` is `succeeded` or `failed`. `false` for `pending`,
                      `in_progress`, `action_required`, and `blocked`.
                  created_at:
                    type: string
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        description: URL to this status resource.
                      resource:
                        type: string
                        description: URL to the domain resource.
                    required:
                      - self
                  state:
                    type: string
                    enum:
                      - pending
                      - in_progress
                      - action_required
                      - blocked
                      - succeeded
                      - failed
                    description: "Workflow lifecycle state.  - `pending`: Workflow has been created
                      but not yet started processing. - `in_progress`: Actively
                      processing. Continue polling `links.self`. The workflow
                      has an internal deadline and will not remain in this state
                      indefinitely. - `action_required`: Paused — requires
                      action by the user (not the system). See `context.action`
                      for what is needed. An automated polling loop must break
                      on this state; it will not resolve on its own without user
                      intervention. - `blocked`: The workflow cannot make
                      progress due to a third party such as the domain
                      extension's registry or a losing registrar. No user action
                      will help. Continue polling — the block may resolve when
                      the third party responds. - `succeeded`: Terminal. The
                      operation completed successfully. `completed` will be
                      `true`. For registrations, `context.registration` contains
                      the resulting registration resource. - `failed`: Terminal.
                      The operation failed. `completed` will be `true`. See
                      `error.code` and `error.message` for the reason. Do not
                      auto-retry without user review."
                  updated_at:
                    type: string
                  context:
                    type: object
                    additionalProperties: true
                    description: Workflow-specific data for this workflow.  The workflow subject is
                      identified by `context.domain_name` for domain-centric
                      workflows.
                  error:
                    oneOf:
                      - type: object
                        properties:
                          code:
                            type: string
                            description: Machine-readable error code identifying the failure reason.
                          message:
                            type: string
                            description: Human-readable explanation of the failure. May include
                              registry-specific details.
                        required:
                          - code
                          - message
                    nullable: true
                    description: Error details when a workflow reaches the `failed` state. The
                      specific error codes and messages depend on the workflow
                      type (registration, update, etc.) and the underlying
                      registry response. These workflow error codes are separate
                      from immediate HTTP error `errors[].code` values returned
                      by non-2xx responses. Surface `error.message` to the user
                      for context.
                required:
                  - completed
                  - created_at
                  - links
                  - state
                  - updated_at
      x-distilled-response-path: result
