openapi: 3.1.0
info:
  title: Cloudflare REQUEST-TRACERS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: request-tracers
paths:
  /accounts/{account_id}/request-tracer/trace:
    post:
      operationId: createTrace
      description: "Request Trace  @example ```ts const trace = await
        client.requestTracers.traces.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', method: 'PUT', url:
        'https://some.zone/some_path', body: { base64:
        'c29tZV9yZXF1ZXN0X2JvZHk=' }, context: { geoloc: { city: 'London' },
        skip_challenge: true, }, cookies: { cookie_name_1: 'cookie_value_1',
        cookie_name_2: 'cookie_value_2', }, headers: { header_name_1:
        'header_value_1', header_name_2: 'header_value_2', }, protocol:
        'HTTP/1.1', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                method:
                  type: string
                  description: "Body param: HTTP Method of tracing request"
                url:
                  type: string
                  description: "Body param: URL to which perform tracing request"
                body:
                  type: object
                  properties:
                    base64:
                      type: string
                      description: Base64 encoded request body
                    json:
                      description: Arbitrary json as request body
                    plain_text:
                      type: string
                      description: Request body as plain text
                  description: "Body param:"
                context:
                  type: object
                  properties:
                    bot_score:
                      type: number
                      description: Bot score used for evaluating tracing request processing
                    geoloc:
                      type: object
                      properties:
                        city:
                          type: string
                        continent:
                          type: string
                        is_eu_country:
                          type: boolean
                        iso_code:
                          type: string
                        latitude:
                          type: number
                        longitude:
                          type: number
                        postal_code:
                          type: string
                        region_code:
                          type: string
                        subdivision_2_iso_code:
                          type: string
                        timezone:
                          type: string
                      description: Geodata for tracing request
                    skip_challenge:
                      type: boolean
                      description: "Whether to skip any challenges for tracing request (e.g.:
                        captcha)"
                    threat_score:
                      type: number
                      description: Threat score used for evaluating tracing request processing
                  description: "Body param: Additional request parameters"
                cookies:
                  type: object
                  additionalProperties: true
                  description: "Body param: Cookies added to tracing request"
                headers:
                  type: object
                  additionalProperties: true
                  description: "Body param: Headers added to tracing request"
                protocol:
                  type: string
                  description: "Body param: HTTP Protocol of tracing request"
                skip_response:
                  type: boolean
                  description: "Body param: Skip sending the request to the Origin server after
                    all rules evaluation"
              required:
                - method
                - url
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status_code:
                    type: number
                    description: HTTP Status code of zone response
                  trace:
                    type: array
                    items:
                      type: object
                      properties:
                        action:
                          type: string
                          description: If step type is rule, then action performed by this rule
                        action_parameters:
                          description: If step type is rule, then action parameters of this rule as JSON
                        description:
                          type: string
                          description: If step type is rule or ruleset, the description of this entity
                        expression:
                          type: string
                          description: If step type is rule, then expression used to match for this rule
                        kind:
                          type: string
                          description: If step type is ruleset, then kind of this ruleset
                        matched:
                          type: boolean
                          description: Whether tracing step affected tracing request/response
                        name:
                          type: string
                          description: If step type is ruleset, then name of this ruleset
                        step_name:
                          type: string
                          description: Tracing step identifying name
                        trace:
                          type: object
                          additionalProperties: true
                        type:
                          type: string
                          description: Tracing step type
      x-distilled-response-path: result
