openapi: 3.1.0
info:
  title: Cloudflare RESOURCE-TAGGING API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: resource-tagging
paths:
  /accounts/{account_id}/tags:
    get:
      operationId: getAccountTag
      description: Retrieves tags for a specific account-level resource.
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: resource_id
          in: query
          required: true
          description: "Query param: The ID of the resource to retrieve tags for."
          schema:
            type: string
        - name: resource_type
          in: query
          required: true
          description: "Query param: The type of the resource."
          schema:
            type: string
            enum:
              - access_application
              - access_group
              - account
              - ai_gateway
              - alerting_policy
              - alerting_webhook
              - cloudflared_tunnel
              - d1_database
              - durable_object_namespace
              - gateway_list
              - gateway_rule
              - image
              - kv_namespace
              - queue
              - r2_bucket
              - resource_share
              - stream_live_input
              - stream_video
              - worker
              - worker_version
        - name: worker_id
          in: query
          required: false
          description: "Query param: Worker identifier. Required for worker_version
            resources."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - access_application
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      access_application_id:
                        type: string
                        description: Access application ID is required only for
                          access_application_policy resources
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - access_application_policy
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - access_application_id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - access_group
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - account
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - ai_gateway
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - alerting_policy
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - alerting_webhook
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - api_gateway_operation
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - cloudflared_tunnel
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - custom_certificate
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - custom_hostname
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - d1_database
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - dns_record
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - durable_object_namespace
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - gateway_list
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - gateway_rule
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - image
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - kv_namespace
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - managed_client_certificate
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - queue
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - r2_bucket
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - resource_share
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - stream_live_input
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - stream_video
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - worker
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - worker_version
                      worker_id:
                        type: string
                        description: Worker ID is required only for worker_version resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - worker_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - zone
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
      x-distilled-response-path: result
    put:
      operationId: putAccountTag
      description: "Creates or updates tags for a specific account-level
        resource.  @example ```ts const accountTag = await
        client.resourceTagging.accountTags.update({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', resource_id:
        '023e105f4ecef8ad9ca31a8372d0c353', resource_type: 'worker', worker_id:
        '3f72a691-44b3-4c11-8642-c18a88ddaa5e', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: If-Match
          in: header
          required: false
          description: "Header param: ETag value for optimistic concurrency control. When
            provided, the server will verify the current resource ETag matches
            before applying the write. Returns 412 Precondition Failed if the
            resource has been modified since the ETag was obtained. Omit this
            header for unconditional writes."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resource_id:
                  type: string
                  description: "Body param: Identifies the unique resource."
                resource_type:
                  type: string
                  enum:
                    - access_application
                    - access_group
                    - account
                    - ai_gateway
                    - alerting_policy
                    - alerting_webhook
                    - cloudflared_tunnel
                    - d1_database
                    - durable_object_namespace
                    - gateway_list
                    - gateway_rule
                    - image
                    - kv_namespace
                    - queue
                    - r2_bucket
                    - resource_share
                    - stream_live_input
                    - stream_video
                    - worker
                    - worker_version
                  description: "Body param: Enum for base account-level resource types (those with
                    no extra required fields)."
                worker_id:
                  type: string
                  description: "Body param: Worker ID is required only for worker_version
                    resources"
                tags:
                  type: object
                  additionalProperties: true
                  description: "Body param: Contains key-value pairs of tags."
              required:
                - resource_id
                - resource_type
                - worker_id
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - access_application
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      access_application_id:
                        type: string
                        description: Access application ID is required only for
                          access_application_policy resources
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - access_application_policy
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - access_application_id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - access_group
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - account
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - ai_gateway
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - alerting_policy
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - alerting_webhook
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - api_gateway_operation
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - cloudflared_tunnel
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - custom_certificate
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - custom_hostname
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - d1_database
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - dns_record
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - durable_object_namespace
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - gateway_list
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - gateway_rule
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - image
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - kv_namespace
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - managed_client_certificate
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - queue
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - r2_bucket
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - resource_share
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - stream_live_input
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - stream_video
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - worker
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - worker_version
                      worker_id:
                        type: string
                        description: Worker ID is required only for worker_version resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - worker_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - zone
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
      x-distilled-response-path: result
    delete:
      operationId: deleteAccountTag
      description: Removes all tags from a specific account-level resource.
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: If-Match
          in: header
          required: false
          description: "Header param: ETag value for optimistic concurrency control. When
            provided, the server will verify the current resource ETag matches
            before applying the write. Returns 412 Precondition Failed if the
            resource has been modified since the ETag was obtained. Omit this
            header for unconditional writes."
          schema:
            type: string
      responses:
        "200":
          description: Success
  /accounts/{account_id}/tags/keys:
    get:
      operationId: listKeys
      description: Lists all distinct tag keys used across resources in an account.
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-pagination-class: KeyListResponsesCursorPaginationAfter
  /accounts/{account_id}/tags/resources:
    get:
      operationId: listResourceTaggings
      description: Lists all tagged resources for an account.
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: tag
          in: query
          required: false
          description: "Query param: Filter resources by tag criteria. This parameter can
            be repeated multiple times, with AND logic between
            parameters.  Supported syntax:  -  Key-only  : `tag=<key>` -
            Resource must have the tag key (e.g., `tag=production`)
            -  Key-value  : `tag=<key>=<value>` - Resource must have the tag
            with specific value (e.g., `tag=env=prod`) -  Multiple values
            (OR)  : `tag=<key>=<v1>,<v2>` - Resource must have tag with any of
            the values (e.g., `tag=env=prod,staging`) -  Negate key-only  :
            `tag=!<key>` - Resource must not have the tag key (e.g.,
            `tag=!archived`) -  Negate key-value  : `tag=<key>!=<value>` -
            Resource must not have the tag with specific value (e.g.,
            `tag=region!=us-west-1`)  Multiple tag parameters are combined with
            AND logic."
          schema:
            type: array
            items:
              type: string
        - name: type
          in: query
          required: false
          description: "Query param: Filter by resource type. Can be repeated to filter by
            multiple types (OR logic). Example: ?type=zone&type=worker"
          schema:
            type: array
            items:
              type: string
              enum:
                - access_application
                - access_application_policy
                - access_group
                - account
                - ai_gateway
                - alerting_policy
                - alerting_webhook
                - api_gateway_operation
                - cloudflared_tunnel
                - custom_certificate
                - custom_hostname
                - d1_database
                - dns_record
                - durable_object_namespace
                - gateway_list
                - gateway_rule
                - image
                - kv_namespace
                - managed_client_certificate
                - queue
                - r2_bucket
                - resource_share
                - stream_live_input
                - stream_video
                - worker
                - worker_version
                - zone
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - access_application
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      access_application_id:
                        type: string
                        description: Access application ID is required only for
                          access_application_policy resources
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - access_application_policy
                      zone_id:
                        type: string
                        description: Zone ID is required only for zone-level resources
                    required:
                      - id
                      - access_application_id
                      - etag
                      - name
                      - tags
                      - type
                      - zone_id
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - access_group
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - account
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - ai_gateway
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
                        additionalProperties: true
                        description: Contains key-value pairs of tags.
                      type:
                        type: string
                        enum:
                          - alerting_policy
                    required:
                      - id
                      - etag
                      - name
                      - tags
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifies the unique resource.
                      etag:
                        type: string
                        description: ETag identifier for optimistic concurrency control. Formatted as
                          "v1:<hash>" where the hash is the base64url-encoded
                          SHA-256 (truncated to 128 bits) of the tags map
                          canonicalized using RFC 8785 (JSON Canonicalization
                          Scheme). Clients should treat ETags as opaque strings
                          and pass them back via the If-Match header on write
                          operations.
                      name:
                        type: string
                        description: Human-readable name of the resource.
                      tags:
                        type: object
[...]
