openapi: 3.1.0
info:
  title: Cloudflare RULES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: rules
paths:
  /accounts/{account_id}/rules/lists/{listId}:
    get:
      operationId: getList
      description: "Fetches the details of a list.  @example ```ts const list = await
        client.rules.lists.get( '2c0fc9fa937b11eaa1b71c4d701ab86e', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account ID for this resource.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the list.
                  created_on:
                    type: string
                    description: The RFC 3339 timestamp of when the list was created.
                  kind:
                    type: string
                    enum:
                      - ip
                      - redirect
                      - hostname
                      - asn
                    description: The type of the list. Each type supports specific list items (IP
                      addresses, ASNs, hostnames or redirects).
                  modified_on:
                    type: string
                    description: The RFC 3339 timestamp of when the list was last modified.
                  name:
                    type: string
                    description: An informative name for the list. Use this name in filter and rule
                      expressions.
                  num_items:
                    type: number
                    description: The number of items in the list.
                  num_referencing_filters:
                    type: number
                    description: The number of [filters](/api/resources/filters/) referencing the
                      list.
                  description:
                    type: string
                    description: An informative summary of the list.
                required:
                  - id
                  - created_on
                  - kind
                  - modified_on
                  - name
                  - num_items
                  - num_referencing_filters
      x-distilled-response-path: result
    put:
      operationId: updateList
      description: "Updates the description of a list.  @example ```ts const list =
        await client.rules.lists.update( '2c0fc9fa937b11eaa1b71c4d701ab86e', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID for this resource."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: "Body param: An informative summary of the list."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the list.
                  created_on:
                    type: string
                    description: The RFC 3339 timestamp of when the list was created.
                  kind:
                    type: string
                    enum:
                      - ip
                      - redirect
                      - hostname
                      - asn
                    description: The type of the list. Each type supports specific list items (IP
                      addresses, ASNs, hostnames or redirects).
                  modified_on:
                    type: string
                    description: The RFC 3339 timestamp of when the list was last modified.
                  name:
                    type: string
                    description: An informative name for the list. Use this name in filter and rule
                      expressions.
                  num_items:
                    type: number
                    description: The number of items in the list.
                  num_referencing_filters:
                    type: number
                    description: The number of [filters](/api/resources/filters/) referencing the
                      list.
                  description:
                    type: string
                    description: An informative summary of the list.
                required:
                  - id
                  - created_on
                  - kind
                  - modified_on
                  - name
                  - num_items
                  - num_referencing_filters
      x-distilled-response-path: result
    delete:
      operationId: deleteList
      description: "Deletes a specific list and all its items.  @example ```ts const
        list = await client.rules.lists.delete(
        '2c0fc9fa937b11eaa1b71c4d701ab86e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account ID for this resource.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the list.
                required:
                  - id
      x-distilled-response-path: result
  /accounts/{account_id}/rules/lists:
    get:
      operationId: listLists
      description: "Fetches all lists in the account.  @example ```ts // Automatically
        fetches more pages as needed. for await (const listsList of
        client.rules.lists.list({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', })) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: The Account ID for this resource.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the list.
                  created_on:
                    type: string
                    description: The RFC 3339 timestamp of when the list was created.
                  kind:
                    type: string
                    enum:
                      - ip
                      - redirect
                      - hostname
                      - asn
                    description: The type of the list. Each type supports specific list items (IP
                      addresses, ASNs, hostnames or redirects).
                  modified_on:
                    type: string
                    description: The RFC 3339 timestamp of when the list was last modified.
                  name:
                    type: string
                    description: An informative name for the list. Use this name in filter and rule
                      expressions.
                  num_items:
                    type: number
                    description: The number of items in the list.
                  num_referencing_filters:
                    type: number
                    description: The number of [filters](/api/resources/filters/) referencing the
                      list.
                  description:
                    type: string
                    description: An informative summary of the list.
                required:
                  - id
                  - created_on
                  - kind
                  - modified_on
                  - name
                  - num_items
                  - num_referencing_filters
      x-distilled-pagination-class: ListsListsSinglePage
    post:
      operationId: createList
      description: "Creates a new list of the specified kind.  @example ```ts const
        list = await client.rules.lists.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', kind: 'ip', name: 'list1', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID for this resource."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  type: string
                  enum:
                    - ip
                    - redirect
                    - hostname
                    - asn
                  description: "Body param: The type of the list. Each type supports specific list
                    items (IP addresses, ASNs, hostnames or redirects)."
                name:
                  type: string
                  description: "Body param: An informative name for the list. Use this name in
                    filter and rule expressions."
                description:
                  type: string
                  description: "Body param: An informative summary of the list."
              required:
                - kind
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the list.
                  created_on:
                    type: string
                    description: The RFC 3339 timestamp of when the list was created.
                  kind:
                    type: string
                    enum:
                      - ip
                      - redirect
                      - hostname
                      - asn
                    description: The type of the list. Each type supports specific list items (IP
                      addresses, ASNs, hostnames or redirects).
                  modified_on:
                    type: string
                    description: The RFC 3339 timestamp of when the list was last modified.
                  name:
                    type: string
                    description: An informative name for the list. Use this name in filter and rule
                      expressions.
                  num_items:
                    type: number
                    description: The number of items in the list.
                  num_referencing_filters:
                    type: number
                    description: The number of [filters](/api/resources/filters/) referencing the
                      list.
                  description:
                    type: string
                    description: An informative summary of the list.
                required:
                  - id
                  - created_on
                  - kind
                  - modified_on
                  - name
                  - num_items
                  - num_referencing_filters
      x-distilled-response-path: result
  /accounts/{account_id}/rules/lists/bulk_operations/{operationId}:
    get:
      operationId: getListBulkOperation
      description: "Gets the current status of an asynchronous operation on a
        list.  The `status` property can have one of the following values:
        `pending`, `running`, `completed`, or `failed`. If the status is
        `failed`, the `error` property will contain a message describing the
        error.  @example ```ts const bulkOperation = await
        client.rules.lists.bulkOperations.get(
        '4da8780eeb215e6cb7f48dd981c4ea02', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: operationId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account ID for this resource.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: The unique operation ID of the asynchronous action.
                      status:
                        type: string
                        enum:
                          - pending
                          - running
                        description: The current status of the asynchronous operation.
                    required:
                      - id
                      - status
                  - type: object
                    properties:
                      id:
                        type: string
                        description: The unique operation ID of the asynchronous action.
                      completed:
                        type: string
                        description: The RFC 3339 timestamp of when the operation was completed.
                      status:
                        type: string
                        enum:
                          - completed
                        description: The current status of the asynchronous operation.
                    required:
                      - id
                      - completed
                      - status
                  - type: object
                    properties:
                      id:
                        type: string
                        description: The unique operation ID of the asynchronous action.
                      completed:
                        type: string
                        description: The RFC 3339 timestamp of when the operation was completed.
                      error:
                        type: string
                        description: A message describing the error when the status is `failed`.
                      status:
                        type: string
                        enum:
                          - failed
                        description: The current status of the asynchronous operation.
                    required:
                      - id
                      - completed
                      - error
                      - status
      x-distilled-response-path: result
  /accounts/{account_id}/rules/lists/{listId}/items/{itemId}:
    get:
      operationId: getListItem
      description: "Fetches a list item in the list.  @example ```ts const item =
        await client.rules.lists.items.get( '2c0fc9fa937b11eaa1b71c4d701ab86e',
        '34b12448945f11eaa1b71c4d701ab86e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: itemId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The Account ID for this resource.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Defines the unique ID of the item in the List.
                      created_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was created.
                      ip:
                        type: string
                        description: An IPv4 address, an IPv4 CIDR, an IPv6 address, or an IPv6 CIDR.
                      modified_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was last modified.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - id
                      - created_on
                      - ip
                      - modified_on
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Defines the unique ID of the item in the List.
                      created_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was created.
                      hostname:
                        type: object
                        properties:
                          url_hostname:
                            type: string
                          exclude_exact_hostname:
                            type: boolean
                            description: Only applies to wildcard hostnames (e.g., \ .example.com). When
                              true (default), only subdomains are blocked. When
                              false, both the root domain and subdomains are
                              blocked.
                        required:
                          - url_hostname
                        description: Valid characters for hostnames are ASCII(7) letters from a to z,
                          the digits from 0 to 9, wildcards (\ ), and the hyphen
                          (-).
                      modified_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was last modified.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - id
                      - created_on
                      - hostname
                      - modified_on
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Defines the unique ID of the item in the List.
                      created_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was created.
                      modified_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was last modified.
                      redirect:
                        type: object
                        properties:
                          source_url:
                            type: string
                          target_url:
                            type: string
                          include_subdomains:
                            type: boolean
                          preserve_path_suffix:
                            type: boolean
                          preserve_query_string:
                            type: boolean
                          status_code:
                            type: number
                            enum:
                              - 301
                              - 302
                              - 307
                              - 308
                          subpath_matching:
                            type: boolean
                        required:
                          - source_url
                          - target_url
                        description: The definition of the redirect.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - id
                      - created_on
                      - modified_on
                      - redirect
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Defines the unique ID of the item in the List.
                      asn:
                        type: number
                        description: Defines a non-negative 32 bit integer.
                      created_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was created.
                      modified_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was last modified.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - id
                      - asn
                      - created_on
                      - modified_on
      x-distilled-response-path: result
  /accounts/{account_id}/rules/lists/{listId}/items:
    get:
      operationId: listListItems
      description: "Fetches all the items in the list.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        itemListResponse of client.rules.lists.items.list(
        '2c0fc9fa937b11eaa1b71c4d701ab86e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID for this resource."
          schema:
            type: string
        - name: per_page
          in: query
          required: false
          description: "Query param: Amount of results to include in each paginated
            response. A non-negative 32 bit integer."
          schema:
            type: number
        - name: search
          in: query
          required: false
          description: "Query param: A search query to filter returned items. Its meaning
            depends on the list type: IP addresses must start with the provided
            string, hostnames and bulk redirects must contain the string, and
            ASNs must match the string exactly."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Defines the unique ID of the item in the List.
                      created_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was created.
                      ip:
                        type: string
                        description: An IPv4 address, an IPv4 CIDR, an IPv6 address, or an IPv6 CIDR.
                      modified_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was last modified.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - id
                      - created_on
                      - ip
                      - modified_on
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Defines the unique ID of the item in the List.
                      created_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was created.
                      hostname:
                        type: object
                        properties:
                          url_hostname:
                            type: string
                          exclude_exact_hostname:
                            type: boolean
                            description: Only applies to wildcard hostnames (e.g., \ .example.com). When
                              true (default), only subdomains are blocked. When
                              false, both the root domain and subdomains are
                              blocked.
                        required:
                          - url_hostname
                        description: Valid characters for hostnames are ASCII(7) letters from a to z,
                          the digits from 0 to 9, wildcards (\ ), and the hyphen
                          (-).
                      modified_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was last modified.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - id
                      - created_on
                      - hostname
                      - modified_on
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Defines the unique ID of the item in the List.
                      created_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was created.
                      modified_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was last modified.
                      redirect:
                        type: object
                        properties:
                          source_url:
                            type: string
                          target_url:
                            type: string
                          include_subdomains:
                            type: boolean
                          preserve_path_suffix:
                            type: boolean
                          preserve_query_string:
                            type: boolean
                          status_code:
                            type: number
                            enum:
                              - 301
                              - 302
                              - 307
                              - 308
                          subpath_matching:
                            type: boolean
                        required:
                          - source_url
                          - target_url
                        description: The definition of the redirect.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - id
                      - created_on
                      - modified_on
                      - redirect
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Defines the unique ID of the item in the List.
                      asn:
                        type: number
                        description: Defines a non-negative 32 bit integer.
                      created_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was created.
                      modified_on:
                        type: string
                        description: The RFC 3339 timestamp of when the list was last modified.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - id
                      - asn
                      - created_on
                      - modified_on
      x-distilled-pagination-class: ItemListResponsesCursorPaginationAfter
    post:
      operationId: createListItem
      description: "Appends new items to the list.  This operation is asynchronous. To
        get current the operation status, invoke the `Get bulk operation status`
        endpoint with the returned `operation_id`.  There is a limit of 1
        pending bulk operation per account. If an outstanding bulk operation is
        in progress, the request will be rejected.  @example ```ts const item =
        await client.rules.lists.items.create(
        '2c0fc9fa937b11eaa1b71c4d701ab86e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', body: [{ ip: '10.0.0.1' }], }, );
        ```"
      parameters:
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID for this resource."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                oneOf:
                  - type: object
                    properties:
                      ip:
                        type: string
                        description: An IPv4 address, an IPv4 CIDR, an IPv6 address, or an IPv6 CIDR.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - ip
                  - type: object
                    properties:
                      redirect:
                        type: object
                        properties:
                          source_url:
                            type: string
                          target_url:
                            type: string
                          include_subdomains:
                            type: boolean
                          preserve_path_suffix:
                            type: boolean
                          preserve_query_string:
                            type: boolean
                          status_code:
                            type: number
                            enum:
                              - 301
                              - 302
                              - 307
                              - 308
                          subpath_matching:
                            type: boolean
                        required:
                          - source_url
                          - target_url
                        description: The definition of the redirect.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - redirect
                  - type: object
                    properties:
                      hostname:
                        type: object
                        properties:
                          url_hostname:
                            type: string
                          exclude_exact_hostname:
                            type: boolean
                            description: Only applies to wildcard hostnames (e.g., \ .example.com). When
                              true (default), only subdomains are blocked. When
                              false, both the root domain and subdomains are
                              blocked.
                        required:
                          - url_hostname
                        description: Valid characters for hostnames are ASCII(7) letters from a to z,
                          the digits from 0 to 9, wildcards (\ ), and the hyphen
                          (-).
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - hostname
                  - type: object
                    properties:
                      asn:
                        type: number
                        description: Defines a non-negative 32 bit integer.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - asn
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  operation_id:
                    type: string
                    description: The unique operation ID of the asynchronous action.
                required:
                  - operation_id
      x-distilled-response-path: result
    put:
      operationId: updateListItem
      description: "Removes all existing items from the list and adds the provided
        items to the list.  This operation is asynchronous. To get current the
        operation status, invoke the `Get bulk operation status` endpoint with
        the returned `operation_id`.  There is a limit of 1 pending bulk
        operation per account. If an outstanding bulk operation is in progress,
        the request will be rejected.  @example ```ts const item = await
        client.rules.lists.items.update( '2c0fc9fa937b11eaa1b71c4d701ab86e', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', body: [{ ip: '10.0.0.1'
        }], }, ); ```"
      parameters:
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID for this resource."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                oneOf:
                  - type: object
                    properties:
                      ip:
                        type: string
                        description: An IPv4 address, an IPv4 CIDR, an IPv6 address, or an IPv6 CIDR.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - ip
                  - type: object
                    properties:
                      redirect:
                        type: object
                        properties:
                          source_url:
                            type: string
                          target_url:
                            type: string
                          include_subdomains:
                            type: boolean
                          preserve_path_suffix:
                            type: boolean
                          preserve_query_string:
                            type: boolean
                          status_code:
                            type: number
                            enum:
                              - 301
                              - 302
                              - 307
                              - 308
                          subpath_matching:
                            type: boolean
                        required:
                          - source_url
                          - target_url
                        description: The definition of the redirect.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - redirect
                  - type: object
                    properties:
                      hostname:
                        type: object
                        properties:
                          url_hostname:
                            type: string
                          exclude_exact_hostname:
                            type: boolean
                            description: Only applies to wildcard hostnames (e.g., \ .example.com). When
                              true (default), only subdomains are blocked. When
                              false, both the root domain and subdomains are
                              blocked.
                        required:
                          - url_hostname
                        description: Valid characters for hostnames are ASCII(7) letters from a to z,
                          the digits from 0 to 9, wildcards (\ ), and the hyphen
                          (-).
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - hostname
                  - type: object
                    properties:
                      asn:
                        type: number
                        description: Defines a non-negative 32 bit integer.
                      comment:
                        type: string
                        description: Defines an informative summary of the list item.
                    required:
                      - asn
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  operation_id:
                    type: string
                    description: The unique operation ID of the asynchronous action.
                required:
                  - operation_id
      x-distilled-response-path: result
    delete:
      operationId: deleteListItem
      description: "Removes one or more items from a list.  This operation is
        asynchronous. To get current the operation status, invoke the `Get bulk
        operation status` endpoint with the returned `operation_id`.  There is a
        limit of 1 pending bulk operation per account. If an outstanding bulk
        operation is in progress, the request will be rejected.  @example ```ts
        const item = await client.rules.lists.items.delete(
        '2c0fc9fa937b11eaa1b71c4d701ab86e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: listId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The Account ID for this resource."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Defines the unique ID of the item in the List.
                    required:
                      - id
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  operation_id:
                    type: string
                    description: The unique operation ID of the asynchronous action.
                required:
                  - operation_id
      x-distilled-response-path: result
