openapi: 3.1.0
info:
  title: Cloudflare RULESETS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: rulesets
paths:
  /{accountOrZone}/{accountOrZoneId}/rulesets/phases/{rulesetPhase}/entrypoint:
    get:
      operationId: getPhas
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The unique ID of the ruleset.
                  kind:
                    type: string
                    enum:
                      - managed
                      - custom
                      - root
                      - zone
                    description: The kind of the ruleset.
                  last_updated:
                    type: string
                    description: The timestamp of when the ruleset was last modified.
                  name:
                    type: string
                    description: The human-readable name of the ruleset.
                  phase:
                    type: string
                    enum:
                      - ddos_l4
                      - ddos_l7
                      - http_config_settings
                      - http_custom_errors
                      - http_log_custom_fields
                      - http_ratelimit
                      - http_request_cache_settings
                      - http_request_dynamic_redirect
                      - http_request_firewall_custom
                      - http_request_firewall_managed
                      - http_request_late_transform
                      - http_request_origin
                      - http_request_redirect
                      - http_request_sanitize
                      - http_request_sbfm
                      - http_request_transform
                      - http_response_compression
                      - http_response_firewall_managed
                      - http_response_headers_transform
                      - magic_transit
                      - magic_transit_ids_managed
                      - magic_transit_managed
                      - magic_transit_ratelimit
                    description: The phase of the ruleset.
                  rules:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - block
                              description: The action to perform when the rule matches.
                            action_parameters:
                              type: object
                              properties:
                                response:
                                  type: object
                                  properties:
                                    content:
                                      type: string
                                      description: The content to return.
                                    content_type:
                                      type: string
                                      description: The type of the content to return.
                                    status_code:
                                      type: number
                                      description: The status code to return.
                                  required:
                                    - content
                                    - content_type
                                    - status_code
                                  description: The response to show when the block is applied.
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - challenge
                              description: The action to perform when the rule matches.
                            action_parameters:
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - compress_response
                              description: The action to perform when the rule matches.
                            action_parameters:
                              type: object
                              properties:
                                algorithms:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        enum:
                                          - none
                                          - auto
                                          - default
                                          - gzip
                                          - brotli
                                          - zstd
                                        description: Name of the compression algorithm to enable.
                                  description: Custom order for compression algorithms.
                              required:
                                - algorithms
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - ddos_dynamic
                              description: The action to perform when the rule matches.
                            action_parameters:
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - execute
                              description: The action to perform when the rule matches.
                            action_parameters:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: The ID of the ruleset to execute.
                                matched_data:
                                  type: object
                                  properties:
                                    public_key:
                                      type: string
                                      description: The public key to encrypt matched data logs with.
                                  required:
                                    - public_key
                                  description: The configuration to use for matched data logging.
                                overrides:
                                  type: object
                                  properties:
                                    action:
                                      type: string
                                      description: An action to override all rules with. This option has lower
                                        precedence than rule and category
                                        overrides.
                                    categories:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          category:
                                            type: string
                                            description: The name of the category to override.
                                          action:
                                            type: string
                                            description: The action to override rules in the category with.
                                          enabled:
                                            type: boolean
                                            description: Whether to enable execution of rules in the category.
                                          sensitivity_level:
                                            type: string
                                            enum:
                                              - default
                                              - medium
                                              - low
                                              - eoff
                                            description: The sensitivity level to use for rules in the category. This option
                                              is only applicable for DDoS
                                              phases.
                                        required:
                                          - category
                                      description: A list of category-level overrides. This option has the
                                        second-highest precedence after
                                        rule-level overrides.
                                    enabled:
                                      type: boolean
                                      description: Whether to enable execution of all rules. This option has lower
                                        precedence than rule and category
                                        overrides.
                                    rules:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the rule to override.
                                          action:
                                            type: string
                                            description: The action to override the rule with.
                                          enabled:
                                            type: boolean
                                            description: Whether to enable execution of the rule.
                                          score_threshold:
                                            type: number
                                            description: The score threshold to use for the rule.
                                          sensitivity_level:
                                            type: string
                                            enum:
                                              - default
                                              - medium
                                              - low
                                              - eoff
                                            description: The sensitivity level to use for the rule. This option is only
                                              applicable for DDoS phases.
                                        required:
                                          - id
                                      description: A list of rule-level overrides. This option has the highest
                                        precedence.
                                    sensitivity_level:
                                      type: string
                                      enum:
                                        - default
                                        - medium
                                        - low
                                        - eoff
                                      description: A sensitivity level to set for all rules. This option has lower
                                        precedence than rule and category
                                        overrides and is only applicable for
                                        DDoS phases.
                                  description: A set of overrides to apply to the target ruleset.
                              required:
                                - id
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - force_connection_close
                              description: The action to perform when the rule matches.
                            action_parameters:
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - js_challenge
                              description: The action to perform when the rule matches.
                            action_parameters:
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - log
                              description: The action to perform when the rule matches.
                            action_parameters:
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - log_custom_field
                              description: The action to perform when the rule matches.
                            action_parameters:
                              type: object
                              properties:
                                cookie_fields:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the cookie.
                                    required:
                                      - name
                                  description: The cookie fields to log.
                                raw_response_fields:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the response header.
                                      preserve_duplicates:
                                        type: boolean
                                        description: Whether to log duplicate values of the same header.
                                    required:
                                      - name
                                  description: The raw response fields to log.
                                request_fields:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the header.
                                    required:
                                      - name
                                  description: The raw request fields to log.
                                response_fields:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the response header.
                                      preserve_duplicates:
                                        type: boolean
                                        description: Whether to log duplicate values of the same header.
                                    required:
                                      - name
                                  description: The transformed response fields to log.
                                transformed_request_fields:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                        description: The name of the header.
                                    required:
                                      - name
                                  description: The transformed request fields to log.
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - managed_challenge
                              description: The action to perform when the rule matches.
                            action_parameters:
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - redirect
                              description: The action to perform when the rule matches.
                            action_parameters:
                              type: object
                              properties:
                                from_list:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                      description: An expression that evaluates to the list lookup key.
                                    name:
                                      type: string
                                      description: The name of the list to match against.
                                  required:
                                    - key
                                    - name
                                  description: A redirect based on a bulk list lookup.
                                from_value:
                                  type: object
                                  properties:
                                    target_url:
                                      type: object
                                      properties:
                                        expression:
                                          type: string
                                          description: An expression that evaluates to a URL to redirect the request to.
                                        value:
                                          type: string
                                          description: A URL to redirect the request to.
                                      description: A URL to redirect the request to.
                                    preserve_query_string:
                                      type: boolean
                                      description: Whether to keep the query string of the original request.
                                    status_code:
                                      type: number
                                      enum:
                                        - 301
                                        - 302
                                        - 303
                                        - 307
                                        - 308
                                      description: The status code to use for the redirect.
                                  required:
                                    - target_url
                                  description: A redirect based on the request properties.
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - rewrite
                              description: The action to perform when the rule matches.
                            action_parameters:
                              type: object
                              properties:
                                headers:
                                  type: object
                                  additionalProperties: true
                                  description: A map of headers to rewrite.
                                uri:
                                  oneOf:
                                    - type: object
                                      properties:
                                        path:
                                          type: object
                                          properties:
                                            expression:
                                              type: string
                                              description: An expression that evaluates to a value to rewrite the URI path to.
                                            value:
                                              type: string
                                              description: A value to rewrite the URI path to.
                                          description: A URI path rewrite.
                                        origin:
                                          type: boolean
                                          description: Whether to propagate the rewritten URI to origin.
                                      required:
                                        - path
                                    - type: object
                                      properties:
                                        query:
                                          type: object
                                          properties:
                                            expression:
                                              type: string
                                              description: An expression that evaluates to a value to rewrite the URI query
                                                to.
                                            value:
                                              type: string
                                              description: A value to rewrite the URI query to.
                                          description: A URI query rewrite.
                                        origin:
                                          type: boolean
                                          description: Whether to propagate the rewritten URI to origin.
                                      required:
                                        - query
                                  description: A URI path rewrite.
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - route
                              description: The action to perform when the rule matches.
                            action_parameters:
                              type: object
                              properties:
                                host_header:
                                  type: string
                                  description: A value to rewrite the HTTP host header to.
                                origin:
                                  type: object
                                  properties:
                                    host:
                                      type: string
                                      description: A resolved host to route to.
                                    port:
                                      type: number
                                      description: A destination port to route to.
                                  description: An origin to route to.
                                sni:
                                  type: object
                                  properties:
                                    value:
                                      type: string
                                      description: A value to override the SNI to.
                                  required:
                                    - value
                                  description: A Server Name Indication (SNI) override.
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
                                  description: An expression that selects the user ID used in the credentials
                                    check.
                              required:
                                - password_expression
                                - username_expression
                              description: Configuration for exposed credential checking.
                            expression:
                              type: string
                              description: The expression defining which traffic will match the rule.
                            logging:
                              type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether to generate a log when the rule matches.
                              required:
                                - enabled
                              description: An object configuring the rule's logging behavior.
                            ratelimit:
                              type: object
                              properties:
                                characteristics:
                                  type: array
                                  items:
                                    type: string
                                  description: Characteristics of the request on which the rate limit counter will
                                    be incremented.
                                period:
                                  type: number
                                  description: Period in seconds over which the counter is being incremented.
                                counting_expression:
                                  type: string
                                  description: An expression that defines when the rate limit counter should be
                                    incremented. It defaults to the same as the
                                    rule's expression.
                                mitigation_timeout:
                                  type: number
                                  description: Period of time in seconds after which the action will be disabled
                                    following its first execution.
                                requests_per_period:
                                  type: number
                                  description: The threshold of requests per period after which the action will be
                                    executed for the first time.
                                requests_to_origin:
                                  type: boolean
                                  description: Whether counting is only performed when an origin is reached.
                                score_per_period:
                                  type: number
                                  description: The score threshold per period for which the action will be
                                    executed the first time.
                                score_response_header_name:
                                  type: string
                                  description: A response header name provided by the origin, which contains the
                                    score to increment rate limit counter with.
                              required:
                                - characteristics
                                - period
                              description: An object configuring the rule's rate limit behavior.
                            ref:
                              type: string
                              description: The reference of the rule (the rule's ID by default).
                          required:
                            - last_updated
                            - version
                        - type: object
                          properties:
                            last_updated:
                              type: string
                              description: The timestamp of when the rule was last modified.
                            version:
                              type: string
                              description: The version of the rule.
                            id:
                              type: string
                              description: The unique ID of the rule.
                            action:
                              type: string
                              enum:
                                - score
                              description: The action to perform when the rule matches.
                            action_parameters:
                              type: object
                              properties:
                                increment:
                                  type: number
                                  description: A delta to change the score by, which can be either positive or
                                    negative.
                              required:
                                - increment
                              description: The parameters configuring the rule's action.
                            categories:
                              type: array
                              items:
                                type: string
                              description: The categories of the rule.
                            description:
                              type: string
                              description: An informative description of the rule.
                            enabled:
                              type: boolean
                              description: Whether the rule should be executed.
                            exposed_credential_check:
                              type: object
                              properties:
                                password_expression:
                                  type: string
                                  description: An expression that selects the password used in the credentials
                                    check.
                                username_expression:
                                  type: string
[...]
