openapi: 3.1.0
info:
  title: Cloudflare SECRETS-STORE API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: secrets-store
paths:
  /accounts/{account_id}/secrets_store/quota:
    get:
      operationId: getQuota
      description: "Lists the number of secrets used in the account.  @example ```ts
        const quota = await client.secretsStore.quota.get({ account_id:
        '985e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Account Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  secrets:
                    type: object
                    properties:
                      quota:
                        type: number
                        description: The number of secrets the account is entitlted to use
                      usage:
                        type: number
                        description: The number of secrets the account is currently using
                    required:
                      - quota
                      - usage
                required:
                  - secrets
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidAccountId:
          - code: 7003
  /accounts/{account_id}/secrets_store/stores:
    get:
      operationId: listStores
      description: "Lists all the stores in an account  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        storeListResponse of client.secretsStore.stores.list( { account_id:
        '985e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Account Identifier"
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: Direction to sort objects"
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: order
          in: query
          required: false
          description: "Query param: Order secrets by values in the given field"
          schema:
            type: string
            enum:
              - name
              - comment
              - created
              - modified
              - status
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Store Identifier
                  created:
                    type: string
                    description: Whenthe secret was created.
                  modified:
                    type: string
                    description: When the secret was modified.
                  name:
                    type: string
                    description: The name of the store
                required:
                  - id
                  - created
                  - modified
                  - name
      x-distilled-pagination-class: StoreListResponsesV4PagePaginationArray
      x-distilled-errors:
        InvalidAccountId:
          - code: 7003
    post:
      operationId: createStore
      summary: Create a Secrets Store
      parameters:
        - name: account_id
          in: path
          required: true
          description: Account identifier
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the store
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Store identifier
                  created:
                    type: string
                    description: When the store was created
                  modified:
                    type: string
                    description: When the store was modified
                  name:
                    type: string
                    description: The name of the store
                required:
                  - id
                  - created
                  - modified
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidAccountId:
          - code: 7003
        MaximumStoresExceeded:
          - code: 1003
            message:
              includes: maximum_stores_exceeded
  /accounts/{account_id}/secrets_store/stores/{storeId}:
    delete:
      operationId: deleteStore
      description: "Deletes a single store  @example ```ts const store = await
        client.secretsStore.stores.delete( '023e105f4ecef8ad9ca31a8372d0c353', {
        account_id: '985e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Store Identifier
                  created:
                    type: string
                    description: Whenthe secret was created.
                  modified:
                    type: string
                    description: When the secret was modified.
                  name:
                    type: string
                    description: The name of the store
      x-distilled-response-path: result
      x-distilled-errors:
        StoreNotFound:
          - code: 1001
            message:
              includes: store_not_found
        InvalidAccountId:
          - code: 7003
        NotFound:
          - code: 1000
  /accounts/{account_id}/secrets_store/stores/{storeId}/secrets/{secretId}:
    get:
      operationId: getStoreSecret
      description: "Returns details of a single secret  @example ```ts const secret =
        await client.secretsStore.stores.secrets.get(
        '023e105f4ecef8ad9ca31a8372d0c353', '3fd85f74b32742f1bff64a85009dda07',
        { account_id: '985e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
        - name: secretId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Secret identifier tag.
                  created:
                    type: string
                    description: Whenthe secret was created.
                  modified:
                    type: string
                    description: When the secret was modified.
                  name:
                    type: string
                    description: The name of the secret
                  status:
                    type: string
                    enum:
                      - pending
                      - active
                      - deleted
                  store_id:
                    type: string
                    description: Store Identifier
                  comment:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Freeform text describing the secret
                required:
                  - id
                  - created
                  - modified
                  - name
                  - status
                  - store_id
      x-distilled-response-path: result
      x-distilled-errors:
        StoreNotFound:
          - code: 1001
            message:
              includes: store_not_found
        SecretNotFound:
          - code: 1001
            message:
              includes: secret_not_found
        InvalidAccountId:
          - code: 7003
        NotFound:
          - code: 1000
    patch:
      operationId: patchStoreSecret
      description: "Updates a single secret  @example ```ts const response = await
        client.secretsStore.stores.secrets.edit(
        '023e105f4ecef8ad9ca31a8372d0c353', '3fd85f74b32742f1bff64a85009dda07',
        { account_id: '985e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
        - name: secretId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account Identifier"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: string
                  description: "Body param: Freeform text describing the secret"
                scopes:
                  type: array
                  items:
                    type: string
                  description: "Body param: The list of services that can use this secret."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Secret identifier tag.
                  created:
                    type: string
                    description: Whenthe secret was created.
                  modified:
                    type: string
                    description: When the secret was modified.
                  name:
                    type: string
                    description: The name of the secret
                  status:
                    type: string
                    enum:
                      - pending
                      - active
                      - deleted
                  store_id:
                    type: string
                    description: Store Identifier
                  comment:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Freeform text describing the secret
                required:
                  - id
                  - created
                  - modified
                  - name
                  - status
                  - store_id
      x-distilled-response-path: result
      x-distilled-errors:
        StoreNotFound:
          - code: 1001
            message:
              includes: store_not_found
        SecretNotFound:
          - code: 1001
            message:
              includes: secret_not_found
        InvalidAccountId:
          - code: 7003
        SecretScopeInvalid:
          - code: 1001
            message:
              includes: secret_scope_invalid
    delete:
      operationId: deleteStoreSecret
      description: "Deletes a single secret  @example ```ts const secret = await
        client.secretsStore.stores.secrets.delete(
        '023e105f4ecef8ad9ca31a8372d0c353', '3fd85f74b32742f1bff64a85009dda07',
        { account_id: '985e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
        - name: secretId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Secret identifier tag.
                  created:
                    type: string
                    description: Whenthe secret was created.
                  modified:
                    type: string
                    description: When the secret was modified.
                  name:
                    type: string
                    description: The name of the secret
                  status:
                    type: string
                    enum:
                      - pending
                      - active
                      - deleted
                  store_id:
                    type: string
                    description: Store Identifier
                  comment:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Freeform text describing the secret
      x-distilled-response-path: result
      x-distilled-errors:
        StoreNotFound:
          - code: 1001
            message:
              includes: store_not_found
        SecretNotFound:
          - code: 1001
            message:
              includes: secret_not_found
        InvalidAccountId:
          - code: 7003
        NotFound:
          - code: 1000
  /accounts/{account_id}/secrets_store/stores/{storeId}/secrets:
    get:
      operationId: listStoreSecrets
      description: "Lists all store secrets  @example ```ts // Automatically fetches
        more pages as needed. for await (const secretListResponse of
        client.secretsStore.stores.secrets.list(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '985e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account Identifier"
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: direction
          in: query
          required: false
          description: "Query param: Direction to sort objects"
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: order
          in: query
          required: false
          description: "Query param: Order secrets by values in the given field"
          schema:
            type: string
            enum:
              - name
              - comment
              - created
              - modified
              - status
        - name: scopes
          in: query
          required: false
          description: "Query param: Only secrets with the given scopes will be returned"
          schema:
            type: array
            items:
              type: array
              items:
                type: string
        - name: search
          in: query
          required: false
          description: "Query param: Search secrets using a filter string, filtering
            across name and comment"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Secret identifier tag.
                  created:
                    type: string
                    description: Whenthe secret was created.
                  modified:
                    type: string
                    description: When the secret was modified.
                  name:
                    type: string
                    description: The name of the secret
                  status:
                    type: string
                    enum:
                      - pending
                      - active
                      - deleted
                  store_id:
                    type: string
                    description: Store Identifier
                  comment:
                    type: string
                    description: Freeform text describing the secret
                required:
                  - id
                  - created
                  - modified
                  - name
                  - status
                  - store_id
      x-distilled-pagination-class: SecretListResponsesV4PagePaginationArray
      x-distilled-errors:
        StoreNotFound:
          - code: 1001
            message:
              includes: store_not_found
        InvalidAccountId:
          - code: 7003
    post:
      operationId: createStoreSecret
      description: "Creates a secret in the account  @example ```ts // Automatically
        fetches more pages as needed. for await (const secretCreateResponse of
        client.secretsStore.stores.secrets.create(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '985e105f4ecef8ad9ca31a8372d0c353', body: [ { name: 'MY_API_KEY',
        scopes: ['workers', 'ai_gateway', 'dex', 'access'], value:
        'api-token-secret-123', }, ], }, )) { // ... } ```"
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account Identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the secret
                  scopes:
                    type: array
                    items:
                      type: string
                    description: The list of services that can use this secret.
                  value:
                    type: string
                    description: The value of the secret. Note that this is 'write only' - no API
                      reponse will provide this value, it is only used to
                      create/modify secrets.
                  comment:
                    type: string
                    description: Freeform text describing the secret
                required:
                  - name
                  - scopes
                  - value
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Secret identifier tag.
                  created:
                    type: string
                    description: Whenthe secret was created.
                  modified:
                    type: string
                    description: When the secret was modified.
                  name:
                    type: string
                    description: The name of the secret
                  status:
                    type: string
                    enum:
                      - pending
                      - active
                      - deleted
                  store_id:
                    type: string
                    description: Store Identifier
                  comment:
                    type: string
                    description: Freeform text describing the secret
                required:
                  - id
                  - created
                  - modified
                  - name
                  - status
                  - store_id
      x-distilled-pagination-class: SecretCreateResponsesSinglePage
      x-distilled-errors:
        StoreNotFound:
          - code: 1001
            message:
              includes: store_not_found
        InvalidAccountId:
          - code: 7003
        SecretNameEmpty:
          - code: 1001
            message:
              includes: secret_name_empty
        SecretNameAlreadyExists:
          - code: 1003
            message:
              includes: secret_name_already_exists
        SecretScopeInvalid:
          - code: 1001
            message:
              includes: secret_scope_invalid
    delete:
      operationId: bulkDeleteStoreSecrets
      description: "Deletes one or more secrets  @example ```ts // Automatically
        fetches more pages as needed. for await (const secretBulkDeleteResponse
        of client.secretsStore.stores.secrets.bulkDelete(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '985e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Account Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Secret identifier tag.
                  created:
                    type: string
                    description: Whenthe secret was created.
                  modified:
                    type: string
                    description: When the secret was modified.
                  name:
                    type: string
                    description: The name of the secret
                  status:
                    type: string
                    enum:
                      - pending
                      - active
                      - deleted
                  store_id:
                    type: string
                    description: Store Identifier
                  comment:
                    type: string
                    description: Freeform text describing the secret
                required:
                  - id
                  - created
                  - modified
                  - name
                  - status
                  - store_id
      x-distilled-pagination-class: SecretBulkDeleteResponsesSinglePage
      x-distilled-errors:
        StoreNotFound:
          - code: 1001
            message:
              includes: store_not_found
        InvalidAccountId:
          - code: 7003
        InvalidJsonBody:
          - code: 1001
            message:
              includes: invalid_json_body
  /accounts/{account_id}/secrets_store/stores/{storeId}/secrets/{secretId}/duplicate:
    post:
      operationId: duplicateStoreSecret
      description: "Duplicates the secret, keeping the value  @example ```ts const
        response = await client.secretsStore.stores.secrets.duplicate(
        '023e105f4ecef8ad9ca31a8372d0c353', '3fd85f74b32742f1bff64a85009dda07',
        { account_id: '985e105f4ecef8ad9ca31a8372d0c353', name: 'MY_API_KEY',
        scopes: ['workers', 'ai_gateway', 'dex', 'access'], }, ); ```"
      parameters:
        - name: storeId
          in: path
          required: true
          schema:
            type: string
        - name: secretId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Account Identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: The name of the secret"
                scopes:
                  type: array
                  items:
                    type: string
                  description: "Body param: The list of services that can use this secret."
                comment:
                  type: string
                  description: "Body param: Freeform text describing the secret"
              required:
                - name
                - scopes
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Secret identifier tag.
                  created:
                    type: string
                    description: Whenthe secret was created.
                  modified:
                    type: string
                    description: When the secret was modified.
                  name:
                    type: string
                    description: The name of the secret
                  status:
                    type: string
                    enum:
                      - pending
                      - active
                      - deleted
                  store_id:
                    type: string
                    description: Store Identifier
                  comment:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Freeform text describing the secret
                required:
                  - id
                  - created
                  - modified
                  - name
                  - status
                  - store_id
      x-distilled-response-path: result
      x-distilled-errors:
        StoreNotFound:
          - code: 1001
            message:
              includes: store_not_found
        SecretNotFound:
          - code: 1001
            message:
              includes: secret_not_found
        SecretNameEmpty:
          - code: 1001
            message:
              includes: secret_name_empty
        SecretScopesEmpty:
          - code: 1001
            message:
              includes: secret_scopes_empty
        SecretNameAlreadyExists:
          - code: 1003
            message:
              includes: secret_name_already_exists
        InvalidAccountId:
          - code: 7003
        SecretScopeInvalid:
          - code: 1001
            message:
              includes: secret_scope_invalid
