openapi: 3.1.0
info:
  title: Cloudflare SECURITY-TXT API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: security-txt
paths:
  /zones/{zone_id}/security-center/securitytxt:
    get:
      operationId: getSecurityTxt
      description: "Retrieves the current security.txt file configuration for a zone,
        used for security vulnerability reporting.  @example ```ts const
        securityTXT = await client.securityTXT.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      acknowledgments:
                        type: array
                        items:
                          type: string
                      canonical:
                        type: array
                        items:
                          type: string
                      contact:
                        type: array
                        items:
                          type: string
                      enabled:
                        type: boolean
                      encryption:
                        type: array
                        items:
                          type: string
                      expires:
                        type: string
                      hiring:
                        type: array
                        items:
                          type: string
                      policy:
                        type: array
                        items:
                          type: string
                      preferred_languages:
                        type: string
                  - type: string
      x-distilled-response-path: result
      x-distilled-errors:
        Forbidden:
          - status: 403
    put:
      operationId: putSecurityTxt
      description: "Updates the security.txt file configuration for a zone, which
        provides security researchers with vulnerability reporting
        information.  @example ```ts const securityTXT = await
        client.securityTXT.update({ zone_id: '023e105f4ecef8ad9ca31a8372d0c353',
        }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                acknowledgments:
                  type: array
                  items:
                    type: string
                  description: Body param
                canonical:
                  type: array
                  items:
                    type: string
                  description: Body param
                contact:
                  type: array
                  items:
                    type: string
                  description: Body param
                enabled:
                  type: boolean
                  description: Body param
                encryption:
                  type: array
                  items:
                    type: string
                  description: Body param
                expires:
                  type: string
                  description: Body param
                hiring:
                  type: array
                  items:
                    type: string
                  description: Body param
                policy:
                  type: array
                  items:
                    type: string
                  description: Body param
                preferred_languages:
                  type: string
                  description: Body param
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        Forbidden:
          - status: 403
        SecurityTxtInvalid:
          - code: 10400
            message:
              includes: invalid or missing values
    delete:
      operationId: deleteSecurityTxt
      description: "Removes the security.txt file configuration for a zone. The
        /.well-known/security.txt endpoint will no longer be served.  @example
        ```ts const securityTXT = await client.securityTXT.delete({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        Forbidden:
          - status: 403
