openapi: 3.1.0
info:
  title: Cloudflare SNIPPETS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: snippets
paths:
  /zones/{zone_id}/snippets/{snippetName}/content:
    get:
      operationId: getContent
      description: Fetches the content of a snippet belonging to the zone.
      parameters:
        - name: snippetName
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Use this field to specify the unique ID of the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
  /zones/{zone_id}/snippets/snippet_rules:
    get:
      operationId: listRules
      description: Fetches all snippet rules belonging to the zone.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Use this field to specify the unique ID of the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        Forbidden:
          - status: 403
    put:
      operationId: putRule
      description: Updates all snippet rules belonging to the zone.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Use this field to specify the unique ID of the zone."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      expression:
                        type: string
                        description: Define the expression that determines which traffic matches the
                          rule.
                      snippet_name:
                        type: string
                        description: Identify the snippet.
                      description:
                        type: string
                        description: Provide an informative description of the rule.
                      enabled:
                        type: boolean
                        description: Indicate whether to execute the rule.
                    required:
                      - expression
                      - snippet_name
                  description: "Body param: Lists snippet rules."
              required:
                - rules
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
    delete:
      operationId: deleteRule
      description: Deletes all snippet rules belonging to the zone.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Use this field to specify the unique ID of the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        SnippetRulesNotFound:
          - status: 404
        Forbidden:
          - status: 403
  /zones/{zone_id}/snippets/{snippetName}:
    get:
      operationId: getSnippet
      description: Fetches a snippet belonging to the zone.
      parameters:
        - name: snippetName
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Use this field to specify the unique ID of the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_on:
                    type: string
                    description: Indicates when the snippet was created.
                  snippet_name:
                    type: string
                    description: Identify the snippet.
                  modified_on:
                    type: string
                    description: Indicates when the snippet was last modified.
                required:
                  - created_on
                  - snippet_name
      x-distilled-response-path: result
      x-distilled-errors:
        SnippetNotFound:
          - status: 400
            message:
              includes: snippet not found
          - status: 404
    put:
      operationId: putSnippet
      description: Creates or updates a snippet belonging to the zone.
      parameters:
        - name: snippetName
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Use this field to specify the unique ID of the zone."
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    main_module:
                      type: string
                      description: Specify the name of the file that contains the main module of the
                        snippet.
                  required:
                    - main_module
                  description: "Body param: Provide metadata about the snippet."
                files:
                  type: string
                  format: binary
              required:
                - metadata
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_on:
                    type: string
                    description: Indicates when the snippet was created.
                  snippet_name:
                    type: string
                    description: Identify the snippet.
                  modified_on:
                    type: string
                    description: Indicates when the snippet was last modified.
                required:
                  - created_on
                  - snippet_name
      x-distilled-response-path: result
    delete:
      operationId: deleteSnippet
      description: Deletes a snippet belonging to the zone.
      parameters:
        - name: snippetName
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Use this field to specify the unique ID of the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        SnippetNotFound:
          - status: 400
            message:
              includes: snippet not found
          - status: 404
  /zones/{zone_id}/snippets:
    get:
      operationId: listSnippets
      description: Fetches all snippets belonging to the zone.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Use this field to specify the unique ID of the zone."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_on:
                    type: string
                    description: Indicates when the snippet was created.
                  snippet_name:
                    type: string
                    description: Identify the snippet.
                  modified_on:
                    type: string
                    description: Indicates when the snippet was last modified.
                required:
                  - created_on
                  - snippet_name
      x-distilled-pagination-class: SnippetListResponsesV4PagePaginationArray
      x-distilled-errors:
        Forbidden:
          - status: 403
