openapi: 3.1.0
info:
  title: Cloudflare SPECTRUM API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: spectrum
paths:
  /zones/{zone_id}/spectrum/analytics/aggregate/current:
    get:
      operationId: getAnalyticAggregateCurrent
      description: Retrieves analytics aggregated from the last minute of usage on
        Spectrum applications underneath a given zone.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: appID
          in: query
          required: false
          description: "Query param: Comma-delimited list of Spectrum Application Id(s).
            If provided, the response will be limited to Spectrum Application
            Id(s) that match."
          schema:
            type: string
        - name: colo_name
          in: query
          required: false
          description: "Query param: Co-location identifier."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    appID:
                      type: string
                      description: Application identifier.
                    bytesEgress:
                      type: number
                      description: Number of bytes sent
                    bytesIngress:
                      type: number
                      description: Number of bytes received
                    connections:
                      type: number
                      description: Number of connections
                    durationAvg:
                      type: number
                      description: Average duration of connections
                  required:
                    - appID
                    - bytesEgress
                    - bytesIngress
                    - connections
                    - durationAvg
      x-distilled-response-path: result
  /zones/{zone_id}/spectrum/analytics/events/bytime:
    get:
      operationId: getAnalyticEventBytime
      description: Retrieves a list of aggregate metrics grouped by time interval.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: time_delta
          in: query
          required: true
          description: "Query param: Used to select time series resolution."
          schema:
            type: string
            enum:
              - year
              - quarter
              - month
              - week
              - day
              - hour
              - dekaminute
              - minute
        - name: dimensions
          in: query
          required: false
          description: "Query param: Can be used to break down the data by given
            attributes. Options are:  | Dimension |
            Name                          |
            Example                                                    | |
            --------- | ----------------------------- |
            ---------------------------------------------------------- | |
            event     | Connection Event              | connect, progress,
            disconnect, originError, clientFiltered | | appID     | Application
            ID                |
            40d67c87c6cd4b889a4fd57805225e85                           | |
            coloName  | Colo Name                     |
            SFO                                                        | |
            ipVersion | IP version used by the client | 4,
            6.                                                      |"
          schema:
            type: array
            items:
              type: string
              enum:
                - event
                - appID
                - coloName
                - ipVersion
        - name: filters
          in: query
          required: false
          description: "Query param: Used to filter rows by one or more dimensions.
            Filters can be combined using OR and AND boolean logic. AND takes
            precedence over OR in all the expressions. The OR operator is
            defined using a comma (,) or OR keyword surrounded by whitespace.
            The AND operator is defined using a semicolon (;) or AND keyword
            surrounded by whitespace. Note that the semicolon is a reserved
            character in URLs (rfc1738) and needs to be percent-encoded as %3B.
            Comparison options are:  | Operator | Name                     | URL
            Encoded | | -------- | ------------------------ | ----------- | |
            ==       | Equals                   | %3D%3D      | | !=       |
            Does not equals          | !%3D        | | \\>       | Greater
            Than             | %3E         | | \\<       | Less
            Than                | %3C         | | \\>=      | Greater than or
            equal to | %3E%3D      | | \\<=      | Less than or equal to    |
            %3C%3D      |"
          schema:
            type: string
        - name: metrics
          in: query
          required: false
          description: "Query param: One or more metrics to compute. Options are:  |
            Metric         | Name                                | Example |
            Unit                  | | -------------- |
            ----------------------------------- | ------- |
            --------------------- | | count          | Count of total
            events               | 1000    | Count                 | |
            bytesIngress   | Sum of ingress bytes                | 1000    |
            Sum                   | | bytesEgress    | Sum of egress
            bytes                 | 1000    | Sum                   | |
            durationAvg    | Average connection duration         | 1.0     |
            Time in milliseconds  | | durationMedian | Median connection
            duration          | 1.0     | Time in milliseconds  | |
            duration90th   | 90th percentile connection duration | 1.0     |
            Time in milliseconds  | | duration99th   | 99th percentile
            connection duration | 1.0     | Time in milliseconds. |"
          schema:
            type: array
            items:
              type: string
              enum:
                - count
                - bytesIngress
                - bytesEgress
                - durationAvg
                - durationMedian
                - duration90th
                - duration99th
        - name: since
          in: query
          required: false
          description: "Query param: Start of time interval to query, defaults to `until`
            - 6 hours. Timestamp must be in RFC3339 format and uses UTC unless
            otherwise specified."
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: "Query param: The sort order for the result set; sort fields must
            be included in `metrics` or `dimensions`."
          schema:
            type: array
            items:
              type: string
        - name: until
          in: query
          required: false
          description: "Query param: End of time interval to query, defaults to current
            time. Timestamp must be in RFC3339 format and uses UTC unless
            otherwise specified."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        dimensions:
                          type: array
                          items:
                            type: string
                        metrics:
                          oneOf:
                            - type: array
                              items:
                                type: number
                            - type: array
                              items:
                                type: array
                                items:
                                  type: number
                    description: List of columns returned by the analytics query.
                  data_lag:
                    type: number
                    description: Number of seconds between current time and last processed event,
                      i.e. how many seconds of data could be missing.
                  max:
                    type: object
                    additionalProperties: true
                    description: Maximum result for each selected metrics across all data.
                  min:
                    type: object
                    additionalProperties: true
                    description: Minimum result for each selected metrics across all data.
                  query:
                    type: object
                    properties:
                      dimensions:
                        type: array
                        items:
                          type: string
                          enum:
                            - event
                            - appID
                            - coloName
                            - ipVersion
                        description: "Can be used to break down the data by given attributes. Options
                          are:  | Dimension | Name                          |
                          Example                                                    \
                          | | --------- | ----------------------------- |
                          -----------------------------------------------------\
                          ----- | | event     | Connection Event              |
                          connect, progress, disconnect, originError,
                          clientFiltered | | appID     | Application
                          ID                |
                          40d67c87c6cd4b889a4fd57805225e85                           \
                          | | coloName  | Colo Name                     |
                          SFO                                                        \
                          | | ipVersion | IP version used by the client | 4,
                          6.                                                      \
                          |"
                      filters:
                        type: string
                        description: "Used to filter rows by one or more dimensions. Filters can be
                          combined using OR and AND boolean logic. AND takes
                          precedence over OR in all the expressions. The OR
                          operator is defined using a comma (,) or OR keyword
                          surrounded by whitespace. The AND operator is defined
                          using a semicolon (;) or AND keyword surrounded by
                          whitespace. Note that the semicolon is a reserved
                          character in URLs (rfc1738) and needs to be
                          percent-encoded as %3B. Comparison options are:  |
                          Operator | Name                     | URL Encoded | |
                          -------- | ------------------------ | ----------- | |
                          ==       | Equals                   | %3D%3D      | |
                          !=       | Does not equals          | !%3D        | |
                          \\>       | Greater Than             | %3E         | |
                          \\<       | Less Than                | %3C         | |
                          \\>=      | Greater than or equal to | %3E%3D      | |
                          \\<=      | Less than or equal to    | %3C%3D      |"
                      limit:
                        type: number
                        description: Limit number of returned metrics.
                      metrics:
                        type: array
                        items:
                          type: string
                          enum:
                            - count
                            - bytesIngress
                            - bytesEgress
                            - durationAvg
                            - durationMedian
                            - duration90th
                            - duration99th
                        description: "One or more metrics to compute. Options are:  | Metric         |
                          Name                                | Example |
                          Unit                  | | -------------- |
                          ----------------------------------- | ------- |
                          --------------------- | | count          | Count of
                          total events               | 1000    |
                          Count                 | | bytesIngress   | Sum of
                          ingress bytes                | 1000    |
                          Sum                   | | bytesEgress    | Sum of
                          egress bytes                 | 1000    |
                          Sum                   | | durationAvg    | Average
                          connection duration         | 1.0     | Time in
                          milliseconds  | | durationMedian | Median connection
                          duration          | 1.0     | Time in milliseconds  |
                          | duration90th   | 90th percentile connection duration
                          | 1.0     | Time in milliseconds  | | duration99th   |
                          99th percentile connection duration | 1.0     | Time
                          in milliseconds. |"
                      since:
                        type: string
                        description: Start of time interval to query, defaults to `until` - 6 hours.
                          Timestamp must be in RFC3339 format and uses UTC
                          unless otherwise specified.
                      sort:
                        type: array
                        items:
                          type: string
                        description: The sort order for the result set; sort fields must be included in
                          `metrics` or `dimensions`.
                      until:
                        type: string
                        description: End of time interval to query, defaults to current time. Timestamp
                          must be in RFC3339 format and uses UTC unless
                          otherwise specified.
                  rows:
                    type: number
                    description: Total number of rows in the result.
                  totals:
                    type: object
                    additionalProperties: true
                    description: Total result for each selected metrics across all data.
                  time_intervals:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                    description: "List of time interval buckets: [start, end]"
                required:
                  - data
                  - data_lag
                  - max
                  - min
                  - query
                  - rows
                  - totals
      x-distilled-response-path: result
  /zones/{zone_id}/spectrum/analytics/events/summary:
    get:
      operationId: getAnalyticEventSummary
      description: Retrieves a list of summarised aggregate metrics over a given time
        period.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: dimensions
          in: query
          required: false
          description: "Query param: Can be used to break down the data by given
            attributes. Options are:  | Dimension |
            Name                          |
            Example                                                    | |
            --------- | ----------------------------- |
            ---------------------------------------------------------- | |
            event     | Connection Event              | connect, progress,
            disconnect, originError, clientFiltered | | appID     | Application
            ID                |
            40d67c87c6cd4b889a4fd57805225e85                           | |
            coloName  | Colo Name                     |
            SFO                                                        | |
            ipVersion | IP version used by the client | 4,
            6.                                                      |"
          schema:
            type: array
            items:
              type: string
              enum:
                - event
                - appID
                - coloName
                - ipVersion
        - name: filters
          in: query
          required: false
          description: "Query param: Used to filter rows by one or more dimensions.
            Filters can be combined using OR and AND boolean logic. AND takes
            precedence over OR in all the expressions. The OR operator is
            defined using a comma (,) or OR keyword surrounded by whitespace.
            The AND operator is defined using a semicolon (;) or AND keyword
            surrounded by whitespace. Note that the semicolon is a reserved
            character in URLs (rfc1738) and needs to be percent-encoded as %3B.
            Comparison options are:  | Operator | Name                     | URL
            Encoded | | -------- | ------------------------ | ----------- | |
            ==       | Equals                   | %3D%3D      | | !=       |
            Does not equals          | !%3D        | | \\>       | Greater
            Than             | %3E         | | \\<       | Less
            Than                | %3C         | | \\>=      | Greater than or
            equal to | %3E%3D      | | \\<=      | Less than or equal to    |
            %3C%3D      |"
          schema:
            type: string
        - name: metrics
          in: query
          required: false
          description: "Query param: One or more metrics to compute. Options are:  |
            Metric         | Name                                | Example |
            Unit                  | | -------------- |
            ----------------------------------- | ------- |
            --------------------- | | count          | Count of total
            events               | 1000    | Count                 | |
            bytesIngress   | Sum of ingress bytes                | 1000    |
            Sum                   | | bytesEgress    | Sum of egress
            bytes                 | 1000    | Sum                   | |
            durationAvg    | Average connection duration         | 1.0     |
            Time in milliseconds  | | durationMedian | Median connection
            duration          | 1.0     | Time in milliseconds  | |
            duration90th   | 90th percentile connection duration | 1.0     |
            Time in milliseconds  | | duration99th   | 99th percentile
            connection duration | 1.0     | Time in milliseconds. |"
          schema:
            type: array
            items:
              type: string
              enum:
                - count
                - bytesIngress
                - bytesEgress
                - durationAvg
                - durationMedian
                - duration90th
                - duration99th
        - name: since
          in: query
          required: false
          description: "Query param: Start of time interval to query, defaults to `until`
            - 6 hours. Timestamp must be in RFC3339 format and uses UTC unless
            otherwise specified."
          schema:
            type: string
        - name: sort
          in: query
          required: false
          description: "Query param: The sort order for the result set; sort fields must
            be included in `metrics` or `dimensions`."
          schema:
            type: array
            items:
              type: string
        - name: until
          in: query
          required: false
          description: "Query param: End of time interval to query, defaults to current
            time. Timestamp must be in RFC3339 format and uses UTC unless
            otherwise specified."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        dimensions:
                          type: array
                          items:
                            type: string
                        metrics:
                          oneOf:
                            - type: array
                              items:
                                type: number
                            - type: array
                              items:
                                type: array
                                items:
                                  type: number
                    description: List of columns returned by the analytics query.
                  data_lag:
                    type: number
                    description: Number of seconds between current time and last processed event,
                      i.e. how many seconds of data could be missing.
                  max:
                    type: object
                    additionalProperties: true
                    description: Maximum result for each selected metrics across all data.
                  min:
                    type: object
                    additionalProperties: true
                    description: Minimum result for each selected metrics across all data.
                  query:
                    type: object
                    properties:
                      dimensions:
                        type: array
                        items:
                          type: string
                          enum:
                            - event
                            - appID
                            - coloName
                            - ipVersion
                        description: "Can be used to break down the data by given attributes. Options
                          are:  | Dimension | Name                          |
                          Example                                                    \
                          | | --------- | ----------------------------- |
                          -----------------------------------------------------\
                          ----- | | event     | Connection Event              |
                          connect, progress, disconnect, originError,
                          clientFiltered | | appID     | Application
                          ID                |
                          40d67c87c6cd4b889a4fd57805225e85                           \
                          | | coloName  | Colo Name                     |
                          SFO                                                        \
                          | | ipVersion | IP version used by the client | 4,
                          6.                                                      \
                          |"
                      filters:
                        type: string
                        description: "Used to filter rows by one or more dimensions. Filters can be
                          combined using OR and AND boolean logic. AND takes
                          precedence over OR in all the expressions. The OR
                          operator is defined using a comma (,) or OR keyword
                          surrounded by whitespace. The AND operator is defined
                          using a semicolon (;) or AND keyword surrounded by
                          whitespace. Note that the semicolon is a reserved
                          character in URLs (rfc1738) and needs to be
                          percent-encoded as %3B. Comparison options are:  |
                          Operator | Name                     | URL Encoded | |
                          -------- | ------------------------ | ----------- | |
                          ==       | Equals                   | %3D%3D      | |
                          !=       | Does not equals          | !%3D        | |
                          \\>       | Greater Than             | %3E         | |
                          \\<       | Less Than                | %3C         | |
                          \\>=      | Greater than or equal to | %3E%3D      | |
                          \\<=      | Less than or equal to    | %3C%3D      |"
                      limit:
                        type: number
                        description: Limit number of returned metrics.
                      metrics:
                        type: array
                        items:
                          type: string
                          enum:
                            - count
                            - bytesIngress
                            - bytesEgress
                            - durationAvg
                            - durationMedian
                            - duration90th
                            - duration99th
                        description: "One or more metrics to compute. Options are:  | Metric         |
                          Name                                | Example |
                          Unit                  | | -------------- |
                          ----------------------------------- | ------- |
                          --------------------- | | count          | Count of
                          total events               | 1000    |
                          Count                 | | bytesIngress   | Sum of
                          ingress bytes                | 1000    |
                          Sum                   | | bytesEgress    | Sum of
                          egress bytes                 | 1000    |
                          Sum                   | | durationAvg    | Average
                          connection duration         | 1.0     | Time in
                          milliseconds  | | durationMedian | Median connection
                          duration          | 1.0     | Time in milliseconds  |
                          | duration90th   | 90th percentile connection duration
                          | 1.0     | Time in milliseconds  | | duration99th   |
                          99th percentile connection duration | 1.0     | Time
                          in milliseconds. |"
                      since:
                        type: string
                        description: Start of time interval to query, defaults to `until` - 6 hours.
                          Timestamp must be in RFC3339 format and uses UTC
                          unless otherwise specified.
                      sort:
                        type: array
                        items:
                          type: string
                        description: The sort order for the result set; sort fields must be included in
                          `metrics` or `dimensions`.
                      until:
                        type: string
                        description: End of time interval to query, defaults to current time. Timestamp
                          must be in RFC3339 format and uses UTC unless
                          otherwise specified.
                  rows:
                    type: number
                    description: Total number of rows in the result.
                  totals:
                    type: object
                    additionalProperties: true
                    description: Total result for each selected metrics across all data.
                  time_intervals:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                    description: "List of time interval buckets: [start, end]"
                required:
                  - data
                  - data_lag
                  - max
                  - min
                  - query
                  - rows
                  - totals
      x-distilled-response-path: result
  /zones/{zone_id}/spectrum/apps/{appId}:
    get:
      operationId: getApp
      description: Gets the application configuration of a specific application inside
        a zone.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Zone identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: App identifier.
                      created_on:
                        type: string
                        description: When the Application was created.
                      dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the application.
                          type:
                            type: string
                            enum:
                              - CNAME
                              - ADDRESS
                            description: The type of DNS record associated with the application.
                        description: The name and type of DNS record for the Spectrum application.
                      modified_on:
                        type: string
                        description: When the Application was last modified.
                      protocol:
                        type: string
                        description: The port configuration at Cloudflare's edge. May specify a single
                          port, for example `"tcp/1000"`, or a range of ports,
                          for example `"tcp/1000-2000"`.
                      traffic_type:
                        type: string
                        enum:
                          - direct
                          - http
                          - https
                        description: Determines how data travels from the edge to your origin. When set
                          to "direct", Spectrum will send traffic directly to
                          your origin, and the application's type is derived
                          from the `protocol`. When set to "http" or "https",
                          Spectrum will apply Cloudflare's HTTP/HTTPS features
                          as it sends traffic to your origin, and the
                          application type matches this property exactly.
                      argo_smart_routing:
                        type: boolean
                        description: 'Enables Argo Smart Routing for this application. Notes: Only
                          available for TCP applications with traffic_type set
                          to "direct".'
                      edge_ips:
                        oneOf:
                          - type: object
                            properties:
                              connectivity:
                                type: string
                                enum:
                                  - all
                                  - ipv4
                                  - ipv6
                                description: The IP versions supported for inbound connections on Spectrum
                                  anycast IPs.
                              type:
                                type: string
                                enum:
                                  - dynamic
                                description: The type of edge IP configuration specified. Dynamically allocated
                                  edge IPs use Spectrum anycast IPs in
                                  accordance with the connectivity you specify.
                                  Only valid with CNAME DNS names.
                          - type: object
                            properties:
                              ips:
                                type: array
                                items:
                                  type: string
                                description: The array of customer owned IPs we broadcast via anycast for this
                                  hostname and application.
                              type:
                                type: string
                                enum:
                                  - static
                                description: The type of edge IP configuration specified. Statically allocated
                                  edge IPs use customer IPs in accordance with
                                  the ips array you specify. Only valid with
                                  ADDRESS DNS names.
                        description: The anycast edge IP configuration for the hostname of this
                          application.
                      ip_firewall:
                        type: boolean
                        description: "Enables IP Access Rules for this application. Notes: Only
                          available for TCP applications."
                      origin_direct:
                        type: array
                        items:
                          type: string
                        description: List of origin IP addresses. Array may contain multiple IP
                          addresses for load balancing.
                      origin_dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the origin.
                          ttl:
                            type: number
                            description: The TTL of our resolution of your DNS record in seconds.
                          type:
                            type: string
                            enum:
                              - ""
                              - A
                              - AAAA
                              - SRV
                            description: The type of DNS record associated with the origin. "" is used to
                              specify a combination of A/AAAA records.
                        description: The name and type of DNS record for the Spectrum application.
                      origin_port:
                        oneOf:
                          - type: number
                          - type: string
                        description: 'The destination port at the origin. Only specified in conjunction
                          with origin_dns. May use an integer to specify a
                          single origin port, for example `1000`, or a string to
                          specify a range of origin ports, for example
                          `"1000-2000"`. Notes: If specifying a port range, the
                          number of ports in the range must match the number of
                          ports specified in the "protocol" field.'
                      proxy_protocol:
                        type: string
                        enum:
                          - off
                          - v1
                          - v2
                          - simple
                        description: Enables Proxy Protocol to the origin. Refer to [Enable Proxy
                          protocol](https://developers.cloudflare.com/spectrum/getting-started/proxy-protocol/)
                          for implementation details on PROXY Protocol V1, PROXY
                          Protocol V2, and Simple Proxy Protocol.
                      tls:
                        type: string
                        enum:
                          - off
                          - flexible
                          - full
                          - strict
                        description: The type of TLS termination associated with the application.
                    required:
                      - id
                      - created_on
                      - dns
                      - modified_on
                      - protocol
                      - traffic_type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: App identifier.
                      created_on:
                        type: string
                        description: When the Application was created.
                      dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the application.
                          type:
                            type: string
                            enum:
                              - CNAME
                              - ADDRESS
                            description: The type of DNS record associated with the application.
                        description: The name and type of DNS record for the Spectrum application.
                      modified_on:
                        type: string
                        description: When the Application was last modified.
                      protocol:
                        type: string
                        description: The port configuration at Cloudflare's edge. May specify a single
                          port, for example `"tcp/1000"`, or a range of ports,
                          for example `"tcp/1000-2000"`.
                      origin_direct:
                        type: array
                        items:
                          type: string
                        description: List of origin IP addresses. Array may contain multiple IP
                          addresses for load balancing.
                    required:
                      - id
                      - created_on
                      - dns
                      - modified_on
                      - protocol
      x-distilled-response-path: result
    put:
      operationId: updateApp
      description: "Updates a previously existing application's configuration that
        uses a name for the origin.  @example ```ts const app = await
        client.spectrum.apps.update( '023e105f4ecef8ad9ca31a8372d0c353', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', dns: {}, protocol:
        'tcp/22', traffic_type: 'direct', }, ); ```"
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Zone identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dns:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the DNS record associated with the application.
                    type:
                      type: string
                      enum:
                        - CNAME
                        - ADDRESS
                      description: The type of DNS record associated with the application.
                  description: "Body param: The name and type of DNS record for the Spectrum
                    application."
                protocol:
                  type: string
                  description: "Body param: The port configuration at Cloudflare's edge. May
                    specify a single port, for example `\"tcp/1000\"`, or a
                    range of ports, for example `\"tcp/1000-2000\"`."
                traffic_type:
                  type: string
                  enum:
                    - direct
                    - http
                    - https
                  description: "Body param: Determines how data travels from the edge to your
                    origin. When set to \"direct\", Spectrum will send traffic
                    directly to your origin, and the application's type is
                    derived from the `protocol`. When set to \"http\" or
                    \"https\", Spectrum will apply Cloudflare's HTTP/HTTPS
                    features as it sends traffic to your origin, and the
                    application type matches this property exactly."
                argo_smart_routing:
                  type: boolean
                  description: 'Body param: Enables Argo Smart Routing for this application.
                    Notes: Only available for TCP applications with traffic_type
                    set to "direct".'
                edge_ips:
                  oneOf:
                    - type: object
                      properties:
                        connectivity:
                          type: string
                          enum:
                            - all
                            - ipv4
                            - ipv6
                          description: The IP versions supported for inbound connections on Spectrum
                            anycast IPs.
                        type:
                          type: string
                          enum:
                            - dynamic
                          description: The type of edge IP configuration specified. Dynamically allocated
                            edge IPs use Spectrum anycast IPs in accordance with
                            the connectivity you specify. Only valid with CNAME
                            DNS names.
                    - type: object
                      properties:
                        ips:
                          type: array
                          items:
                            type: string
                          description: The array of customer owned IPs we broadcast via anycast for this
                            hostname and application.
                        type:
                          type: string
                          enum:
                            - static
                          description: The type of edge IP configuration specified. Statically allocated
                            edge IPs use customer IPs in accordance with the ips
                            array you specify. Only valid with ADDRESS DNS
                            names.
                  description: "Body param: The anycast edge IP configuration for the hostname of
                    this application."
                ip_firewall:
                  type: boolean
                  description: "Body param: Enables IP Access Rules for this application. Notes:
                    Only available for TCP applications."
                origin_direct:
                  type: array
                  items:
                    type: string
                  description: "Body param: List of origin IP addresses. Array may contain
                    multiple IP addresses for load balancing."
                origin_dns:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the DNS record associated with the origin.
                    ttl:
                      type: number
                      description: The TTL of our resolution of your DNS record in seconds.
                    type:
                      type: string
                      enum:
                        - ""
                        - A
                        - AAAA
                        - SRV
                      description: The type of DNS record associated with the origin. "" is used to
                        specify a combination of A/AAAA records.
                  description: "Body param: The name and type of DNS record for the Spectrum
                    application."
                origin_port:
                  oneOf:
                    - type: number
                    - type: string
                  description: 'Body param: The destination port at the origin. Only specified in
                    conjunction with origin_dns. May use an integer to specify a
                    single origin port, for example `1000`, or a string to
                    specify a range of origin ports, for example `"1000-2000"`.
                    Notes: If specifying a port range, the number of ports in
                    the range must match the number of ports specified in the
                    "protocol" field.'
                proxy_protocol:
                  type: string
                  enum:
                    - off
                    - v1
                    - v2
                    - simple
                  description: "Body param: Enables Proxy Protocol to the origin. Refer to [Enable
                    Proxy
                    protocol](https://developers.cloudflare.com/spectrum/gettin\
                    g-started/proxy-protocol/) for implementation details on
                    PROXY Protocol V1, PROXY Protocol V2, and Simple Proxy
                    Protocol."
                tls:
                  type: string
                  enum:
                    - off
                    - flexible
                    - full
                    - strict
                  description: "Body param: The type of TLS termination associated with the
                    application."
              required:
                - dns
                - protocol
                - traffic_type
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: App identifier.
                      created_on:
                        type: string
                        description: When the Application was created.
                      dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the application.
                          type:
                            type: string
                            enum:
                              - CNAME
                              - ADDRESS
                            description: The type of DNS record associated with the application.
                        description: The name and type of DNS record for the Spectrum application.
                      modified_on:
                        type: string
                        description: When the Application was last modified.
                      protocol:
                        type: string
                        description: The port configuration at Cloudflare's edge. May specify a single
                          port, for example `"tcp/1000"`, or a range of ports,
                          for example `"tcp/1000-2000"`.
                      traffic_type:
                        type: string
                        enum:
                          - direct
                          - http
                          - https
                        description: Determines how data travels from the edge to your origin. When set
                          to "direct", Spectrum will send traffic directly to
                          your origin, and the application's type is derived
                          from the `protocol`. When set to "http" or "https",
                          Spectrum will apply Cloudflare's HTTP/HTTPS features
                          as it sends traffic to your origin, and the
                          application type matches this property exactly.
                      argo_smart_routing:
                        type: boolean
                        description: 'Enables Argo Smart Routing for this application. Notes: Only
                          available for TCP applications with traffic_type set
                          to "direct".'
                      edge_ips:
                        oneOf:
                          - type: object
                            properties:
                              connectivity:
                                type: string
                                enum:
                                  - all
                                  - ipv4
                                  - ipv6
                                description: The IP versions supported for inbound connections on Spectrum
                                  anycast IPs.
                              type:
                                type: string
                                enum:
                                  - dynamic
                                description: The type of edge IP configuration specified. Dynamically allocated
                                  edge IPs use Spectrum anycast IPs in
                                  accordance with the connectivity you specify.
                                  Only valid with CNAME DNS names.
                          - type: object
                            properties:
                              ips:
                                type: array
                                items:
                                  type: string
                                description: The array of customer owned IPs we broadcast via anycast for this
                                  hostname and application.
                              type:
                                type: string
                                enum:
                                  - static
                                description: The type of edge IP configuration specified. Statically allocated
                                  edge IPs use customer IPs in accordance with
                                  the ips array you specify. Only valid with
                                  ADDRESS DNS names.
                        description: The anycast edge IP configuration for the hostname of this
                          application.
                      ip_firewall:
                        type: boolean
                        description: "Enables IP Access Rules for this application. Notes: Only
                          available for TCP applications."
                      origin_direct:
                        type: array
                        items:
                          type: string
                        description: List of origin IP addresses. Array may contain multiple IP
                          addresses for load balancing.
                      origin_dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the origin.
                          ttl:
                            type: number
                            description: The TTL of our resolution of your DNS record in seconds.
                          type:
                            type: string
                            enum:
                              - ""
                              - A
                              - AAAA
                              - SRV
                            description: The type of DNS record associated with the origin. "" is used to
                              specify a combination of A/AAAA records.
                        description: The name and type of DNS record for the Spectrum application.
                      origin_port:
                        oneOf:
                          - type: number
                          - type: string
                        description: 'The destination port at the origin. Only specified in conjunction
                          with origin_dns. May use an integer to specify a
                          single origin port, for example `1000`, or a string to
                          specify a range of origin ports, for example
                          `"1000-2000"`. Notes: If specifying a port range, the
                          number of ports in the range must match the number of
                          ports specified in the "protocol" field.'
                      proxy_protocol:
                        type: string
                        enum:
                          - off
                          - v1
                          - v2
                          - simple
                        description: Enables Proxy Protocol to the origin. Refer to [Enable Proxy
                          protocol](https://developers.cloudflare.com/spectrum/getting-started/proxy-protocol/)
                          for implementation details on PROXY Protocol V1, PROXY
                          Protocol V2, and Simple Proxy Protocol.
                      tls:
                        type: string
                        enum:
                          - off
                          - flexible
                          - full
                          - strict
                        description: The type of TLS termination associated with the application.
                    required:
                      - id
                      - created_on
                      - dns
                      - modified_on
                      - protocol
                      - traffic_type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: App identifier.
                      created_on:
                        type: string
                        description: When the Application was created.
                      dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the application.
                          type:
                            type: string
                            enum:
                              - CNAME
                              - ADDRESS
                            description: The type of DNS record associated with the application.
                        description: The name and type of DNS record for the Spectrum application.
                      modified_on:
                        type: string
                        description: When the Application was last modified.
                      protocol:
                        type: string
                        description: The port configuration at Cloudflare's edge. May specify a single
                          port, for example `"tcp/1000"`, or a range of ports,
                          for example `"tcp/1000-2000"`.
                      origin_direct:
                        type: array
                        items:
                          type: string
                        description: List of origin IP addresses. Array may contain multiple IP
                          addresses for load balancing.
                    required:
                      - id
                      - created_on
                      - dns
                      - modified_on
                      - protocol
      x-distilled-response-path: result
    delete:
      operationId: deleteApp
      description: Deletes a previously existing application.
      parameters:
        - name: appId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Zone identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                required:
                  - id
      x-distilled-response-path: result
  /zones/{zone_id}/spectrum/apps:
    get:
      operationId: listApps
      description: Retrieves a list of currently existing Spectrum applications inside
        a zone.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Zone identifier."
          schema:
            type: string
        - name: direction
          in: query
          required: false
          description: "Query param: Sets the direction by which results are ordered."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: order
          in: query
          required: false
          description: "Query param: Application field by which results are ordered."
          schema:
            type: string
            enum:
              - protocol
              - app_id
              - created_on
              - modified_on
              - dns
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: App identifier.
                      created_on:
                        type: string
                        description: When the Application was created.
                      dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the application.
                          type:
                            type: string
                            enum:
                              - CNAME
                              - ADDRESS
                            description: The type of DNS record associated with the application.
                        description: The name and type of DNS record for the Spectrum application.
                      modified_on:
                        type: string
                        description: When the Application was last modified.
                      protocol:
                        type: string
                        description: The port configuration at Cloudflare's edge. May specify a single
                          port, for example `"tcp/1000"`, or a range of ports,
                          for example `"tcp/1000-2000"`.
                      traffic_type:
                        type: string
                        enum:
                          - direct
                          - http
                          - https
                        description: Determines how data travels from the edge to your origin. When set
                          to "direct", Spectrum will send traffic directly to
                          your origin, and the application's type is derived
                          from the `protocol`. When set to "http" or "https",
                          Spectrum will apply Cloudflare's HTTP/HTTPS features
                          as it sends traffic to your origin, and the
                          application type matches this property exactly.
                      argo_smart_routing:
                        type: boolean
                        description: 'Enables Argo Smart Routing for this application. Notes: Only
                          available for TCP applications with traffic_type set
                          to "direct".'
                      edge_ips:
                        oneOf:
                          - type: object
                            properties:
                              connectivity:
                                type: string
                                enum:
                                  - all
                                  - ipv4
                                  - ipv6
                                description: The IP versions supported for inbound connections on Spectrum
                                  anycast IPs.
                              type:
                                type: string
                                enum:
                                  - dynamic
                                description: The type of edge IP configuration specified. Dynamically allocated
                                  edge IPs use Spectrum anycast IPs in
                                  accordance with the connectivity you specify.
                                  Only valid with CNAME DNS names.
                          - type: object
                            properties:
                              ips:
                                type: array
                                items:
                                  type: string
                                description: The array of customer owned IPs we broadcast via anycast for this
                                  hostname and application.
                              type:
                                type: string
                                enum:
                                  - static
                                description: The type of edge IP configuration specified. Statically allocated
                                  edge IPs use customer IPs in accordance with
                                  the ips array you specify. Only valid with
                                  ADDRESS DNS names.
                        description: The anycast edge IP configuration for the hostname of this
                          application.
                      ip_firewall:
                        type: boolean
                        description: "Enables IP Access Rules for this application. Notes: Only
                          available for TCP applications."
                      origin_direct:
                        type: array
                        items:
                          type: string
                        description: List of origin IP addresses. Array may contain multiple IP
                          addresses for load balancing.
                      origin_dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the origin.
                          ttl:
                            type: number
                            description: The TTL of our resolution of your DNS record in seconds.
                          type:
                            type: string
                            enum:
                              - ""
                              - A
                              - AAAA
                              - SRV
                            description: The type of DNS record associated with the origin. "" is used to
                              specify a combination of A/AAAA records.
                        description: The name and type of DNS record for the Spectrum application.
                      origin_port:
                        oneOf:
                          - type: number
                          - type: string
                        description: 'The destination port at the origin. Only specified in conjunction
                          with origin_dns. May use an integer to specify a
                          single origin port, for example `1000`, or a string to
                          specify a range of origin ports, for example
                          `"1000-2000"`. Notes: If specifying a port range, the
                          number of ports in the range must match the number of
                          ports specified in the "protocol" field.'
                      proxy_protocol:
                        type: string
                        enum:
                          - off
                          - v1
                          - v2
                          - simple
                        description: Enables Proxy Protocol to the origin. Refer to [Enable Proxy
                          protocol](https://developers.cloudflare.com/spectrum/getting-started/proxy-protocol/)
                          for implementation details on PROXY Protocol V1, PROXY
                          Protocol V2, and Simple Proxy Protocol.
                      tls:
                        type: string
                        enum:
                          - off
                          - flexible
                          - full
                          - strict
                        description: The type of TLS termination associated with the application.
                    required:
                      - id
                      - created_on
                      - dns
                      - modified_on
                      - protocol
                      - traffic_type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: App identifier.
                      created_on:
                        type: string
                        description: When the Application was created.
                      dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the application.
                          type:
                            type: string
                            enum:
                              - CNAME
                              - ADDRESS
                            description: The type of DNS record associated with the application.
                        description: The name and type of DNS record for the Spectrum application.
                      modified_on:
                        type: string
                        description: When the Application was last modified.
                      protocol:
                        type: string
                        description: The port configuration at Cloudflare's edge. May specify a single
                          port, for example `"tcp/1000"`, or a range of ports,
                          for example `"tcp/1000-2000"`.
                      origin_direct:
                        type: array
                        items:
                          type: string
                        description: List of origin IP addresses. Array may contain multiple IP
                          addresses for load balancing.
                    required:
                      - id
                      - created_on
                      - dns
                      - modified_on
                      - protocol
      x-distilled-pagination-class: AppListResponsesV4PagePaginationArray
    post:
      operationId: createApp
      description: "Creates a new Spectrum application from a configuration using a
        name for the origin.  @example ```ts const app = await
        client.spectrum.apps.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', dns: {}, protocol: 'tcp/22',
        traffic_type: 'direct', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Zone identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dns:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the DNS record associated with the application.
                    type:
                      type: string
                      enum:
                        - CNAME
                        - ADDRESS
                      description: The type of DNS record associated with the application.
                  description: "Body param: The name and type of DNS record for the Spectrum
                    application."
                protocol:
                  type: string
                  description: "Body param: The port configuration at Cloudflare's edge. May
                    specify a single port, for example `\"tcp/1000\"`, or a
                    range of ports, for example `\"tcp/1000-2000\"`."
                traffic_type:
                  type: string
                  enum:
                    - direct
                    - http
                    - https
                  description: "Body param: Determines how data travels from the edge to your
                    origin. When set to \"direct\", Spectrum will send traffic
                    directly to your origin, and the application's type is
                    derived from the `protocol`. When set to \"http\" or
                    \"https\", Spectrum will apply Cloudflare's HTTP/HTTPS
                    features as it sends traffic to your origin, and the
                    application type matches this property exactly."
                argo_smart_routing:
                  type: boolean
                  description: 'Body param: Enables Argo Smart Routing for this application.
                    Notes: Only available for TCP applications with traffic_type
                    set to "direct".'
                edge_ips:
                  oneOf:
                    - type: object
                      properties:
                        connectivity:
                          type: string
                          enum:
                            - all
                            - ipv4
                            - ipv6
                          description: The IP versions supported for inbound connections on Spectrum
                            anycast IPs.
                        type:
                          type: string
                          enum:
                            - dynamic
                          description: The type of edge IP configuration specified. Dynamically allocated
                            edge IPs use Spectrum anycast IPs in accordance with
                            the connectivity you specify. Only valid with CNAME
                            DNS names.
                    - type: object
                      properties:
                        ips:
                          type: array
                          items:
                            type: string
                          description: The array of customer owned IPs we broadcast via anycast for this
                            hostname and application.
                        type:
                          type: string
                          enum:
                            - static
                          description: The type of edge IP configuration specified. Statically allocated
                            edge IPs use customer IPs in accordance with the ips
                            array you specify. Only valid with ADDRESS DNS
                            names.
                  description: "Body param: The anycast edge IP configuration for the hostname of
                    this application."
                ip_firewall:
                  type: boolean
                  description: "Body param: Enables IP Access Rules for this application. Notes:
                    Only available for TCP applications."
                origin_direct:
                  type: array
                  items:
                    type: string
                  description: "Body param: List of origin IP addresses. Array may contain
                    multiple IP addresses for load balancing."
                origin_dns:
                  type: object
                  properties:
                    name:
                      type: string
                      description: The name of the DNS record associated with the origin.
                    ttl:
                      type: number
                      description: The TTL of our resolution of your DNS record in seconds.
                    type:
                      type: string
                      enum:
                        - ""
                        - A
                        - AAAA
                        - SRV
                      description: The type of DNS record associated with the origin. "" is used to
                        specify a combination of A/AAAA records.
                  description: "Body param: The name and type of DNS record for the Spectrum
                    application."
                origin_port:
                  oneOf:
                    - type: number
                    - type: string
                  description: 'Body param: The destination port at the origin. Only specified in
                    conjunction with origin_dns. May use an integer to specify a
                    single origin port, for example `1000`, or a string to
                    specify a range of origin ports, for example `"1000-2000"`.
                    Notes: If specifying a port range, the number of ports in
                    the range must match the number of ports specified in the
                    "protocol" field.'
                proxy_protocol:
                  type: string
                  enum:
                    - off
                    - v1
                    - v2
                    - simple
                  description: "Body param: Enables Proxy Protocol to the origin. Refer to [Enable
                    Proxy
                    protocol](https://developers.cloudflare.com/spectrum/gettin\
                    g-started/proxy-protocol/) for implementation details on
                    PROXY Protocol V1, PROXY Protocol V2, and Simple Proxy
                    Protocol."
                tls:
                  type: string
                  enum:
                    - off
                    - flexible
                    - full
                    - strict
                  description: "Body param: The type of TLS termination associated with the
                    application."
              required:
                - dns
                - protocol
                - traffic_type
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        description: App identifier.
                      created_on:
                        type: string
                        description: When the Application was created.
                      dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the application.
                          type:
                            type: string
                            enum:
                              - CNAME
                              - ADDRESS
                            description: The type of DNS record associated with the application.
                        description: The name and type of DNS record for the Spectrum application.
                      modified_on:
                        type: string
                        description: When the Application was last modified.
                      protocol:
                        type: string
                        description: The port configuration at Cloudflare's edge. May specify a single
                          port, for example `"tcp/1000"`, or a range of ports,
                          for example `"tcp/1000-2000"`.
                      traffic_type:
                        type: string
                        enum:
                          - direct
                          - http
                          - https
                        description: Determines how data travels from the edge to your origin. When set
                          to "direct", Spectrum will send traffic directly to
                          your origin, and the application's type is derived
                          from the `protocol`. When set to "http" or "https",
                          Spectrum will apply Cloudflare's HTTP/HTTPS features
                          as it sends traffic to your origin, and the
                          application type matches this property exactly.
                      argo_smart_routing:
                        type: boolean
                        description: 'Enables Argo Smart Routing for this application. Notes: Only
                          available for TCP applications with traffic_type set
                          to "direct".'
                      edge_ips:
                        oneOf:
                          - type: object
                            properties:
                              connectivity:
                                type: string
                                enum:
                                  - all
                                  - ipv4
                                  - ipv6
                                description: The IP versions supported for inbound connections on Spectrum
                                  anycast IPs.
                              type:
                                type: string
                                enum:
                                  - dynamic
                                description: The type of edge IP configuration specified. Dynamically allocated
                                  edge IPs use Spectrum anycast IPs in
                                  accordance with the connectivity you specify.
                                  Only valid with CNAME DNS names.
                          - type: object
                            properties:
                              ips:
                                type: array
                                items:
                                  type: string
                                description: The array of customer owned IPs we broadcast via anycast for this
                                  hostname and application.
                              type:
                                type: string
                                enum:
                                  - static
                                description: The type of edge IP configuration specified. Statically allocated
                                  edge IPs use customer IPs in accordance with
                                  the ips array you specify. Only valid with
                                  ADDRESS DNS names.
                        description: The anycast edge IP configuration for the hostname of this
                          application.
                      ip_firewall:
                        type: boolean
                        description: "Enables IP Access Rules for this application. Notes: Only
                          available for TCP applications."
                      origin_direct:
                        type: array
                        items:
                          type: string
                        description: List of origin IP addresses. Array may contain multiple IP
                          addresses for load balancing.
                      origin_dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the origin.
                          ttl:
                            type: number
                            description: The TTL of our resolution of your DNS record in seconds.
                          type:
                            type: string
                            enum:
                              - ""
                              - A
                              - AAAA
                              - SRV
                            description: The type of DNS record associated with the origin. "" is used to
                              specify a combination of A/AAAA records.
                        description: The name and type of DNS record for the Spectrum application.
                      origin_port:
                        oneOf:
                          - type: number
                          - type: string
                        description: 'The destination port at the origin. Only specified in conjunction
                          with origin_dns. May use an integer to specify a
                          single origin port, for example `1000`, or a string to
                          specify a range of origin ports, for example
                          `"1000-2000"`. Notes: If specifying a port range, the
                          number of ports in the range must match the number of
                          ports specified in the "protocol" field.'
                      proxy_protocol:
                        type: string
                        enum:
                          - off
                          - v1
                          - v2
                          - simple
                        description: Enables Proxy Protocol to the origin. Refer to [Enable Proxy
                          protocol](https://developers.cloudflare.com/spectrum/getting-started/proxy-protocol/)
                          for implementation details on PROXY Protocol V1, PROXY
                          Protocol V2, and Simple Proxy Protocol.
                      tls:
                        type: string
                        enum:
                          - off
                          - flexible
                          - full
                          - strict
                        description: The type of TLS termination associated with the application.
                    required:
                      - id
                      - created_on
                      - dns
                      - modified_on
                      - protocol
                      - traffic_type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: App identifier.
                      created_on:
                        type: string
                        description: When the Application was created.
                      dns:
                        type: object
                        properties:
                          name:
                            type: string
                            description: The name of the DNS record associated with the application.
                          type:
                            type: string
                            enum:
                              - CNAME
                              - ADDRESS
                            description: The type of DNS record associated with the application.
                        description: The name and type of DNS record for the Spectrum application.
                      modified_on:
                        type: string
                        description: When the Application was last modified.
                      protocol:
                        type: string
                        description: The port configuration at Cloudflare's edge. May specify a single
                          port, for example `"tcp/1000"`, or a range of ports,
                          for example `"tcp/1000-2000"`.
                      origin_direct:
                        type: array
                        items:
                          type: string
                        description: List of origin IP addresses. Array may contain multiple IP
                          addresses for load balancing.
                    required:
                      - id
                      - created_on
                      - dns
                      - modified_on
                      - protocol
      x-distilled-response-path: result
