openapi: 3.1.0
info:
  title: Cloudflare SSL API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: ssl
paths:
  /zones/{zone_id}/ssl/analyze:
    post:
      operationId: createAnalyze
      description: "Returns the set of hostnames, the signature algorithm, and the
        expiration date of the certificate.  @example ```ts const analyze =
        await client.ssl.analyze.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                bundle_method:
                  type: string
                  enum:
                    - ubiquitous
                    - optimal
                    - force
                  description: "Body param: A ubiquitous bundle has the highest probability of
                    being verified everywhere, even by clients using outdated or
                    unusual trust stores. An optimal bundle uses the shortest
                    chain and newest intermediates. And the force bundle
                    verifies the chain, but does not otherwise modify it."
                certificate:
                  type: string
                  description: "Body param: The zone's SSL certificate or certificate and the
                    intermediate(s)."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /zones/{zone_id}/ssl/certificate_packs/{certificatePackId}:
    get:
      operationId: getCertificatePack
      description: "For a given zone, get a certificate pack.  @example ```ts const
        certificatePack = await client.ssl.certificatePacks.get(
        '023e105f4ecef8ad9ca31a8372d0c353', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: certificatePackId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  certificates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Certificate identifier.
                        hosts:
                          type: array
                          items:
                            type: string
                          description: Hostnames covered by this certificate.
                        status:
                          type: string
                          description: Certificate status.
                        bundle_method:
                          type: string
                          description: Certificate bundle method.
                        expires_on:
                          type: string
                          description: When the certificate from the authority expires.
                        geo_restrictions:
                          type: object
                          properties:
                            label:
                              type: string
                              enum:
                                - us
                                - eu
                                - highest_security
                          description: Specify the region where your private key can be held locally.
                        issuer:
                          type: string
                          description: The certificate authority that issued the certificate.
                        modified_on:
                          type: string
                          description: When the certificate was last modified.
                        priority:
                          type: number
                          description: The order/priority in which the certificate will be used.
                        signature:
                          type: string
                          description: The type of hash used for the certificate.
                        uploaded_on:
                          type: string
                          description: When the certificate was uploaded to Cloudflare.
                        zone_id:
                          type: string
                          description: Identifier.
                      required:
                        - id
                        - hosts
                        - status
                    description: Array of certificates in this pack.
                  hosts:
                    type: array
                    items:
                      type: string
                    description: Comma separated list of valid host names for the certificate packs.
                      Must contain the zone apex, may not contain more than 50
                      hosts, and may not be empty.
                  status:
                    type: string
                    enum:
                      - initializing
                      - pending_validation
                      - deleted
                      - pending_issuance
                      - pending_deployment
                      - pending_deletion
                      - pending_expiration
                      - expired
                      - active
                      - initializing_timed_out
                      - validation_timed_out
                      - issuance_timed_out
                      - deployment_timed_out
                      - deletion_timed_out
                      - pending_cleanup
                      - staging_deployment
                      - staging_active
                      - deactivating
                      - inactive
                      - backup_issued
                      - holding_deployment
                    description: Status of certificate pack.
                  type:
                    type: string
                    enum:
                      - mh_custom
                      - managed_hostname
                      - sni_custom
                      - universal
                      - advanced
                      - total_tls
                      - keyless
                      - legacy_custom
                    description: Type of certificate pack.
                  certificate_authority:
                    type: string
                    enum:
                      - google
                      - lets_encrypt
                      - ssl_com
                    description: Certificate Authority selected for the order. For information on
                      any certificate authority specific details or restrictions
                      [see this page for more
                      details.](https://developers.cloudflare.com/ssl/reference/certificate-authorities)
                  cloudflare_branding:
                    type: boolean
                    description: Whether or not to add Cloudflare Branding for the order. This will
                      add a subdomain of sni.cloudflaressl.com as the Common
                      Name if set to true.
                  primary_certificate:
                    type: string
                    description: Identifier of the primary certificate in a pack.
                  validation_errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          description: A domain validation error.
                    description: Domain validation errors that have been received by the certificate
                      authority (CA).
                  validation_method:
                    type: string
                    enum:
                      - txt
                      - http
                      - email
                    description: Validation Method selected for the order.
                  validation_records:
                    type: array
                    items:
                      type: object
                      properties:
                        emails:
                          type: array
                          items:
                            type: string
                          description: The set of email addresses that the certificate authority (CA) will
                            use to complete domain validation.
                        http_body:
                          type: string
                          description: The content that the certificate authority (CA) will expect to find
                            at the http_url during the domain validation.
                        http_url:
                          type: string
                          description: The url that will be checked during domain validation.
                        txt_name:
                          type: string
                          description: The hostname that the certificate authority (CA) will check for a
                            TXT record during domain validation .
                        txt_value:
                          type: string
                          description: The TXT record that the certificate authority (CA) will check
                            during domain validation.
                    description: Certificates' validation records.
                  validity_days:
                    type: number
                    enum:
                      - 14
                      - 30
                      - 90
                      - 365
                    description: Validity Days selected for the order.
                required:
                  - id
                  - certificates
                  - hosts
                  - status
                  - type
      x-distilled-response-path: result
    patch:
      operationId: patchCertificatePack
      description: "For a given zone, restart validation or add cloudflare branding
        for an advanced certificate pack. The former is only a validation
        operation for a Certificate Pack in a validation_timed_out
        status.  @example ```ts const response = await
        client.ssl.certificatePacks.edit( '023e105f4ecef8ad9ca31a8372d0c353', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: certificatePackId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cloudflare_branding:
                  type: boolean
                  description: "Body param: Whether or not to add Cloudflare Branding for the
                    order. This will add a subdomain of sni.cloudflaressl.com as
                    the Common Name if set to true."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  certificates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Certificate identifier.
                        hosts:
                          type: array
                          items:
                            type: string
                          description: Hostnames covered by this certificate.
                        status:
                          type: string
                          description: Certificate status.
                        bundle_method:
                          type: string
                          description: Certificate bundle method.
                        expires_on:
                          type: string
                          description: When the certificate from the authority expires.
                        geo_restrictions:
                          type: object
                          properties:
                            label:
                              type: string
                              enum:
                                - us
                                - eu
                                - highest_security
                          description: Specify the region where your private key can be held locally.
                        issuer:
                          type: string
                          description: The certificate authority that issued the certificate.
                        modified_on:
                          type: string
                          description: When the certificate was last modified.
                        priority:
                          type: number
                          description: The order/priority in which the certificate will be used.
                        signature:
                          type: string
                          description: The type of hash used for the certificate.
                        uploaded_on:
                          type: string
                          description: When the certificate was uploaded to Cloudflare.
                        zone_id:
                          type: string
                          description: Identifier.
                      required:
                        - id
                        - hosts
                        - status
                    description: Array of certificates in this pack.
                  hosts:
                    type: array
                    items:
                      type: string
                    description: Comma separated list of valid host names for the certificate packs.
                      Must contain the zone apex, may not contain more than 50
                      hosts, and may not be empty.
                  status:
                    type: string
                    enum:
                      - initializing
                      - pending_validation
                      - deleted
                      - pending_issuance
                      - pending_deployment
                      - pending_deletion
                      - pending_expiration
                      - expired
                      - active
                      - initializing_timed_out
                      - validation_timed_out
                      - issuance_timed_out
                      - deployment_timed_out
                      - deletion_timed_out
                      - pending_cleanup
                      - staging_deployment
                      - staging_active
                      - deactivating
                      - inactive
                      - backup_issued
                      - holding_deployment
                    description: Status of certificate pack.
                  type:
                    type: string
                    enum:
                      - mh_custom
                      - managed_hostname
                      - sni_custom
                      - universal
                      - advanced
                      - total_tls
                      - keyless
                      - legacy_custom
                    description: Type of certificate pack.
                  certificate_authority:
                    type: string
                    enum:
                      - google
                      - lets_encrypt
                      - ssl_com
                    description: Certificate Authority selected for the order. For information on
                      any certificate authority specific details or restrictions
                      [see this page for more
                      details.](https://developers.cloudflare.com/ssl/reference/certificate-authorities)
                  cloudflare_branding:
                    type: boolean
                    description: Whether or not to add Cloudflare Branding for the order. This will
                      add a subdomain of sni.cloudflaressl.com as the Common
                      Name if set to true.
                  primary_certificate:
                    type: string
                    description: Identifier of the primary certificate in a pack.
                  validation_errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          description: A domain validation error.
                    description: Domain validation errors that have been received by the certificate
                      authority (CA).
                  validation_method:
                    type: string
                    enum:
                      - txt
                      - http
                      - email
                    description: Validation Method selected for the order.
                  validation_records:
                    type: array
                    items:
                      type: object
                      properties:
                        emails:
                          type: array
                          items:
                            type: string
                          description: The set of email addresses that the certificate authority (CA) will
                            use to complete domain validation.
                        http_body:
                          type: string
                          description: The content that the certificate authority (CA) will expect to find
                            at the http_url during the domain validation.
                        http_url:
                          type: string
                          description: The url that will be checked during domain validation.
                        txt_name:
                          type: string
                          description: The hostname that the certificate authority (CA) will check for a
                            TXT record during domain validation .
                        txt_value:
                          type: string
                          description: The TXT record that the certificate authority (CA) will check
                            during domain validation.
                    description: Certificates' validation records.
                  validity_days:
                    type: number
                    enum:
                      - 14
                      - 30
                      - 90
                      - 365
                    description: Validity Days selected for the order.
                required:
                  - id
                  - certificates
                  - hosts
                  - status
                  - type
      x-distilled-response-path: result
    delete:
      operationId: deleteCertificatePack
      description: "For a given zone, delete an advanced certificate pack.  @example
        ```ts const certificatePack = await client.ssl.certificatePacks.delete(
        '023e105f4ecef8ad9ca31a8372d0c353', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: certificatePackId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
      x-distilled-response-path: result
  /zones/{zone_id}/ssl/certificate_packs:
    get:
      operationId: listCertificatePacks
      description: "For a given zone, list all active certificate packs.  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        certificatePackListResponse of client.ssl.certificatePacks.list( {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: status
          in: query
          required: false
          description: "Query param: Include Certificate Packs of all statuses, not just
            active ones."
          schema:
            type: string
            enum:
              - all
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  certificates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Certificate identifier.
                        hosts:
                          type: array
                          items:
                            type: string
                          description: Hostnames covered by this certificate.
                        status:
                          type: string
                          description: Certificate status.
                        bundle_method:
                          type: string
                          description: Certificate bundle method.
                        expires_on:
                          type: string
                          description: When the certificate from the authority expires.
                        geo_restrictions:
                          type: object
                          properties:
                            label:
                              type: string
                              enum:
                                - us
                                - eu
                                - highest_security
                          description: Specify the region where your private key can be held locally.
                        issuer:
                          type: string
                          description: The certificate authority that issued the certificate.
                        modified_on:
                          type: string
                          description: When the certificate was last modified.
                        priority:
                          type: number
                          description: The order/priority in which the certificate will be used.
                        signature:
                          type: string
                          description: The type of hash used for the certificate.
                        uploaded_on:
                          type: string
                          description: When the certificate was uploaded to Cloudflare.
                        zone_id:
                          type: string
                          description: Identifier.
                      required:
                        - id
                        - hosts
                        - status
                    description: Array of certificates in this pack.
                  hosts:
                    type: array
                    items:
                      type: string
                    description: Comma separated list of valid host names for the certificate packs.
                      Must contain the zone apex, may not contain more than 50
                      hosts, and may not be empty.
                  status:
                    type: string
                    enum:
                      - initializing
                      - pending_validation
                      - deleted
                      - pending_issuance
                      - pending_deployment
                      - pending_deletion
                      - pending_expiration
                      - expired
                      - active
                      - initializing_timed_out
                      - validation_timed_out
                      - issuance_timed_out
                      - deployment_timed_out
                      - deletion_timed_out
                      - pending_cleanup
                      - staging_deployment
                      - staging_active
                      - deactivating
                      - inactive
                      - backup_issued
                      - holding_deployment
                    description: Status of certificate pack.
                  type:
                    type: string
                    enum:
                      - mh_custom
                      - managed_hostname
                      - sni_custom
                      - universal
                      - advanced
                      - total_tls
                      - keyless
                      - legacy_custom
                    description: Type of certificate pack.
                  certificate_authority:
                    type: string
                    enum:
                      - google
                      - lets_encrypt
                      - ssl_com
                    description: Certificate Authority selected for the order. For information on
                      any certificate authority specific details or restrictions
                      [see this page for more
                      details.](https://developers.cloudflare.com/ssl/reference/certificate-authorities)
                  cloudflare_branding:
                    type: boolean
                    description: Whether or not to add Cloudflare Branding for the order. This will
                      add a subdomain of sni.cloudflaressl.com as the Common
                      Name if set to true.
                  primary_certificate:
                    type: string
                    description: Identifier of the primary certificate in a pack.
                  validation_errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          description: A domain validation error.
                    description: Domain validation errors that have been received by the certificate
                      authority (CA).
                  validation_method:
                    type: string
                    enum:
                      - txt
                      - http
                      - email
                    description: Validation Method selected for the order.
                  validation_records:
                    type: array
                    items:
                      type: object
                      properties:
                        emails:
                          type: array
                          items:
                            type: string
                          description: The set of email addresses that the certificate authority (CA) will
                            use to complete domain validation.
                        http_body:
                          type: string
                          description: The content that the certificate authority (CA) will expect to find
                            at the http_url during the domain validation.
                        http_url:
                          type: string
                          description: The url that will be checked during domain validation.
                        txt_name:
                          type: string
                          description: The hostname that the certificate authority (CA) will check for a
                            TXT record during domain validation .
                        txt_value:
                          type: string
                          description: The TXT record that the certificate authority (CA) will check
                            during domain validation.
                    description: Certificates' validation records.
                  validity_days:
                    type: number
                    enum:
                      - 14
                      - 30
                      - 90
                      - 365
                    description: Validity Days selected for the order.
                required:
                  - id
                  - certificates
                  - hosts
                  - status
                  - type
      x-distilled-pagination-class: CertificatePackListResponsesSinglePage
  /zones/{zone_id}/ssl/certificate_packs/order:
    post:
      operationId: createCertificatePack
      description: "For a given zone, order an advanced certificate pack.  @example
        ```ts const certificatePack = await client.ssl.certificatePacks.create({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', certificate_authority:
        'lets_encrypt', hosts: [ 'example.com', ' .example.com',
        'www.example.com', ], type: 'advanced', validation_method: 'txt',
        validity_days: 14, }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                certificate_authority:
                  type: string
                  enum:
                    - google
                    - lets_encrypt
                    - ssl_com
                  description: "Body param: Certificate Authority selected for the order. For
                    information on any certificate authority specific details or
                    restrictions [see this page for more
                    details.](https://developers.cloudflare.com/ssl/reference/c\
                    ertificate-authorities)"
                hosts:
                  type: array
                  items:
                    type: string
                  description: "Body param: Comma separated list of valid host names for the
                    certificate packs. Must contain the zone apex, may not
                    contain more than 50 hosts, and may not be empty."
                type:
                  type: string
                  enum:
                    - advanced
                  description: "Body param: Type of certificate pack."
                validation_method:
                  type: string
                  enum:
                    - txt
                    - http
                    - email
                  description: "Body param: Validation Method selected for the order."
                validity_days:
                  type: number
                  enum:
                    - 14
                    - 30
                    - 90
                    - 365
                  description: "Body param: Validity Days selected for the order."
                cloudflare_branding:
                  type: boolean
                  description: "Body param: Whether or not to add Cloudflare Branding for the
                    order. This will add a subdomain of sni.cloudflaressl.com as
                    the Common Name if set to true."
              required:
                - certificate_authority
                - hosts
                - type
                - validation_method
                - validity_days
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  certificates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Certificate identifier.
                        hosts:
                          type: array
                          items:
                            type: string
                          description: Hostnames covered by this certificate.
                        status:
                          type: string
                          description: Certificate status.
                        bundle_method:
                          type: string
                          description: Certificate bundle method.
                        expires_on:
                          type: string
                          description: When the certificate from the authority expires.
                        geo_restrictions:
                          type: object
                          properties:
                            label:
                              type: string
                              enum:
                                - us
                                - eu
                                - highest_security
                          description: Specify the region where your private key can be held locally.
                        issuer:
                          type: string
                          description: The certificate authority that issued the certificate.
                        modified_on:
                          type: string
                          description: When the certificate was last modified.
                        priority:
                          type: number
                          description: The order/priority in which the certificate will be used.
                        signature:
                          type: string
                          description: The type of hash used for the certificate.
                        uploaded_on:
                          type: string
                          description: When the certificate was uploaded to Cloudflare.
                        zone_id:
                          type: string
                          description: Identifier.
                      required:
                        - id
                        - hosts
                        - status
                    description: Array of certificates in this pack.
                  hosts:
                    type: array
                    items:
                      type: string
                    description: Comma separated list of valid host names for the certificate packs.
                      Must contain the zone apex, may not contain more than 50
                      hosts, and may not be empty.
                  status:
                    type: string
                    enum:
                      - initializing
                      - pending_validation
                      - deleted
                      - pending_issuance
                      - pending_deployment
                      - pending_deletion
                      - pending_expiration
                      - expired
                      - active
                      - initializing_timed_out
                      - validation_timed_out
                      - issuance_timed_out
                      - deployment_timed_out
                      - deletion_timed_out
                      - pending_cleanup
                      - staging_deployment
                      - staging_active
                      - deactivating
                      - inactive
                      - backup_issued
                      - holding_deployment
                    description: Status of certificate pack.
                  type:
                    type: string
                    enum:
                      - mh_custom
                      - managed_hostname
                      - sni_custom
                      - universal
                      - advanced
                      - total_tls
                      - keyless
                      - legacy_custom
                    description: Type of certificate pack.
                  certificate_authority:
                    type: string
                    enum:
                      - google
                      - lets_encrypt
                      - ssl_com
                    description: Certificate Authority selected for the order. For information on
                      any certificate authority specific details or restrictions
                      [see this page for more
                      details.](https://developers.cloudflare.com/ssl/reference/certificate-authorities)
                  cloudflare_branding:
                    type: boolean
                    description: Whether or not to add Cloudflare Branding for the order. This will
                      add a subdomain of sni.cloudflaressl.com as the Common
                      Name if set to true.
                  primary_certificate:
                    type: string
                    description: Identifier of the primary certificate in a pack.
                  validation_errors:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                          description: A domain validation error.
                    description: Domain validation errors that have been received by the certificate
                      authority (CA).
                  validation_method:
                    type: string
                    enum:
                      - txt
                      - http
                      - email
                    description: Validation Method selected for the order.
                  validation_records:
                    type: array
                    items:
                      type: object
                      properties:
                        emails:
                          type: array
                          items:
                            type: string
                          description: The set of email addresses that the certificate authority (CA) will
                            use to complete domain validation.
                        http_body:
                          type: string
                          description: The content that the certificate authority (CA) will expect to find
                            at the http_url during the domain validation.
                        http_url:
                          type: string
                          description: The url that will be checked during domain validation.
                        txt_name:
                          type: string
                          description: The hostname that the certificate authority (CA) will check for a
                            TXT record during domain validation .
                        txt_value:
                          type: string
                          description: The TXT record that the certificate authority (CA) will check
                            during domain validation.
                    description: Certificates' validation records.
                  validity_days:
                    type: number
                    enum:
                      - 14
                      - 30
                      - 90
                      - 365
                    description: Validity Days selected for the order.
                required:
                  - id
                  - certificates
                  - hosts
                  - status
                  - type
      x-distilled-response-path: result
  /zones/{zone_id}/ssl/certificate_packs/quota:
    get:
      operationId: getCertificatePackQuota
      description: "For a given zone, list certificate pack quotas.  @example ```ts
        const quota = await client.ssl.certificatePacks.quota.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  advanced:
                    type: object
                    properties:
                      allocated:
                        type: number
                        description: Quantity Allocated.
                      used:
                        type: number
                        description: Quantity Used.
      x-distilled-response-path: result
  /zones/{zone_id}/ssl/recommendation:
    get:
      operationId: getRecommendation
      description: Retrieve the SSL/TLS Recommender's recommendation for a
        zone.  @deprecated SSL/TLS Recommender has been decommissioned in favor
        of Automatic SSL/TLS
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  editable:
                    type: boolean
                    description: Whether this setting can be updated or not.
                  modified_on:
                    type: string
                    description: Last time this setting was modified.
                  value:
                    type: string
                    enum:
                      - auto
                      - custom
                    description: Current setting of the automatic SSL/TLS.
                  next_scheduled_scan:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Next time this zone will be scanned by the Automatic SSL/TLS.
                required:
                  - id
                  - editable
                  - modified_on
                  - value
      x-distilled-response-path: result
  /zones/{zone_id}/ssl/universal/settings:
    get:
      operationId: getUniversalSetting
      description: "Get Universal SSL Settings for a Zone.  @example ```ts const
        universalSSLSettings = await client.ssl.universal.settings.get({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Disabling Universal SSL removes any currently active Universal SSL
                      certificates for your zone from the edge and prevents any
                      future Universal SSL certificates from being ordered. If
                      there are no advanced certificates or custom certificates
                      uploaded for the domain, visitors will be unable to access
                      the domain over HTTPS.  By disabling Universal SSL, you
                      understand that the following Cloudflare settings and
                      preferences will result in visitors being unable to visit
                      your domain unless you have uploaded a custom certificate
                      or purchased an advanced certificate.  - HSTS - Always Use
                      HTTPS - Opportunistic Encryption - Onion Routing - Any
                      Page Rules redirecting traffic to HTTPS  Similarly, any
                      HTTP redirect to HTTPS at the origin while the Cloudflare
                      proxy is enabled will result in users being unable to
                      visit your site without a valid certificate at
                      Cloudflare's edge.  If you do not have a valid custom or
                      advanced certificate at Cloudflare's edge and are unsure
                      if any of the above Cloudflare settings are enabled, or if
                      any HTTP redirects exist at your origin, we advise leaving
                      Universal SSL enabled for your domain.
      x-distilled-response-path: result
    patch:
      operationId: patchUniversalSetting
      description: "Patch Universal SSL Settings for a Zone.  @example ```ts const
        universalSSLSettings = await client.ssl.universal.settings.edit({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: Disabling Universal SSL removes any currently active
                    Universal SSL certificates for your zone from the edge and
                    prevents any future Universal SSL certificates from being
                    ordered. If there are no advanced certificates or custom
                    certificates uploaded for the domain, visitors will be
                    unable to access the domain over HTTPS.  By disabling
                    Universal SSL, you understand that the following Cloudflare
                    settings and preferences will result in visitors being
                    unable to visit your domain unless you have uploaded a
                    custom certificate or purchased an advanced certificate.  -
                    HSTS - Always Use HTTPS - Opportunistic Encryption - Onion
                    Routing - Any Page Rules redirecting traffic to
                    HTTPS  Similarly, any HTTP redirect to HTTPS at the origin
                    while the Cloudflare proxy is enabled will result in users
                    being unable to visit your site without a valid certificate
                    at Cloudflare's edge.  If you do not have a valid custom or
                    advanced certificate at Cloudflare's edge and are unsure if
                    any of the above Cloudflare settings are enabled, or if any
                    HTTP redirects exist at your origin, we advise leaving
                    Universal SSL enabled for your domain."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: Disabling Universal SSL removes any currently active Universal SSL
                      certificates for your zone from the edge and prevents any
                      future Universal SSL certificates from being ordered. If
                      there are no advanced certificates or custom certificates
                      uploaded for the domain, visitors will be unable to access
                      the domain over HTTPS.  By disabling Universal SSL, you
                      understand that the following Cloudflare settings and
                      preferences will result in visitors being unable to visit
                      your domain unless you have uploaded a custom certificate
                      or purchased an advanced certificate.  - HSTS - Always Use
                      HTTPS - Opportunistic Encryption - Onion Routing - Any
                      Page Rules redirecting traffic to HTTPS  Similarly, any
                      HTTP redirect to HTTPS at the origin while the Cloudflare
                      proxy is enabled will result in users being unable to
                      visit your site without a valid certificate at
                      Cloudflare's edge.  If you do not have a valid custom or
                      advanced certificate at Cloudflare's edge and are unsure
                      if any of the above Cloudflare settings are enabled, or if
                      any HTTP redirects exist at your origin, we advise leaving
                      Universal SSL enabled for your domain.
      x-distilled-response-path: result
  /zones/{zone_id}/ssl/verification:
    get:
      operationId: getVerification
      description: "Get SSL Verification Info for a Zone.  @example ```ts const
        verifications = await client.ssl.verification.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: retry
          in: query
          required: false
          description: "Query param: Immediately retry SSL Verification."
          schema:
            type: boolean
            enum:
              - true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    certificate_status:
                      type: string
                      enum:
                        - initializing
                        - authorizing
                        - active
                        - expired
                        - issuing
                        - timing_out
                        - pending_deployment
                      description: Current status of certificate.
                    brand_check:
                      type: boolean
                      description: Certificate Authority is manually reviewing the order.
                    cert_pack_uuid:
                      type: string
                      description: Certificate Pack UUID.
                    signature:
                      type: string
                      enum:
                        - ECDSAWithSHA256
                        - SHA1WithRSA
                        - SHA256WithRSA
                      description: Certificate's signature algorithm.
                    validation_method:
                      type: string
                      enum:
                        - http
                        - cname
                        - txt
                      description: Validation method in use for a certificate pack order.
                    verification_info:
                      type: object
                      properties:
                        record_name:
                          type: string
                          enum:
                            - record_name
                            - http_url
                            - cname
                            - txt_name
                          description: Name of CNAME record.
                        record_target:
                          type: string
                          enum:
                            - record_value
                            - http_body
                            - cname_target
                            - txt_value
                          description: Target of CNAME record.
                      description: Certificate's required verification information.
                    verification_status:
                      type: boolean
                      description: Status of the required verification information, omitted if
                        verification status is unknown.
                    verification_type:
                      type: string
                      enum:
                        - cname
                        - meta tag
                      description: Method of verification.
                  required:
                    - certificate_status
      x-distilled-response-path: result
  /zones/{zone_id}/ssl/verification/{certificatePackId}:
    patch:
      operationId: patchVerification
      description: "Edit SSL validation method for a certificate pack. A PATCH request
        will request an immediate validation check on any certificate, and
        return the updated status. If a validation method is provided, the
        validation will be immediately attempted using that method.  @example
        ```ts const response = await client.ssl.verification.edit(
        'a77f8bd7-3b47-46b4-a6f1-75cf98109948', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', validation_method: 'txt', }, ); ```"
      parameters:
        - name: certificatePackId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validation_method:
                  type: string
                  enum:
                    - http
                    - cname
                    - txt
                    - email
                  description: "Body param: Desired validation method."
              required:
                - validation_method
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: Result status.
                  validation_method:
                    type: string
                    enum:
                      - http
                      - cname
                      - txt
                      - email
                    description: Desired validation method.
      x-distilled-response-path: result
