openapi: 3.1.0
info:
  title: Cloudflare STREAM API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: stream
paths:
  /accounts/{account_id}/stream/{identifier}/audio:
    get:
      operationId: getAudioTrack
      description: "Lists additional audio tracks on a video. Note this API will not
        return information for audio attached to the video upload.  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        audio of client.stream.audioTracks.get(
        'ea95132c15732412d22c1476fa83f27a', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default:
                    type: boolean
                    description: Denotes whether the audio track will be played by default in a
                      player.
                  label:
                    type: string
                    description: A string to uniquely identify the track amongst other audio track
                      labels for the specified video.
                  status:
                    type: string
                    enum:
                      - queued
                      - ready
                      - error
                    description: Specifies the processing status of the video.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a media item.
      x-distilled-pagination-class: AudioSinglePage
  /accounts/{account_id}/stream/{identifier}/audio/{audioIdentifier}:
    patch:
      operationId: patchAudioTrack
      description: "Edits additional audio tracks on a video. Editing the default
        status of an audio track to `true` will mark all other audio tracks on
        the video default status to `false`.  @example ```ts const audio = await
        client.stream.audioTracks.edit( 'ea95132c15732412d22c1476fa83f27a',
        'ea95132c15732412d22c1476fa83f27a', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: audioIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                default:
                  type: boolean
                  description: "Body param: Denotes whether the audio track will be played by
                    default in a player."
                label:
                  type: string
                  description: "Body param: A string to uniquely identify the track amongst other
                    audio track labels for the specified video."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default:
                    type: boolean
                    description: Denotes whether the audio track will be played by default in a
                      player.
                  label:
                    type: string
                    description: A string to uniquely identify the track amongst other audio track
                      labels for the specified video.
                  status:
                    type: string
                    enum:
                      - queued
                      - ready
                      - error
                    description: Specifies the processing status of the video.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a media item.
      x-distilled-response-path: result
    delete:
      operationId: deleteAudioTrack
      description: "Deletes additional audio tracks on a video. Deleting a default
        audio track is not allowed. You must assign another audio track as
        default prior to deletion.  @example ```ts const audioTrack = await
        client.stream.audioTracks.delete( 'ea95132c15732412d22c1476fa83f27a',
        'ea95132c15732412d22c1476fa83f27a', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: audioIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-response-path: result
  /accounts/{account_id}/stream/{identifier}/audio/copy:
    post:
      operationId: copyAudioTrack
      description: "Adds an additional audio track to a video using the provided audio
        track URL.  @example ```ts const audio = await
        client.stream.audioTracks.copy( 'ea95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', label: 'director
        commentary', }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: "Body param: A string to uniquely identify the track amongst other
                    audio track labels for the specified video."
                url:
                  type: string
                  description: "Body param: An audio track URL. The server must be publicly
                    routable and support `HTTP HEAD` requests and `HTTP GET`
                    range requests. The server should respond to `HTTP HEAD`
                    requests with a `content-range` header that includes the
                    size of the file."
              required:
                - label
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default:
                    type: boolean
                    description: Denotes whether the audio track will be played by default in a
                      player.
                  label:
                    type: string
                    description: A string to uniquely identify the track amongst other audio track
                      labels for the specified video.
                  status:
                    type: string
                    enum:
                      - queued
                      - ready
                      - error
                    description: Specifies the processing status of the video.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a media item.
      x-distilled-response-path: result
  /accounts/{account_id}/stream/{identifier}/captions:
    get:
      operationId: getCaption
      description: "Lists the available captions or subtitles for a specific
        video.  @example ```ts // Automatically fetches more pages as needed.
        for await (const caption of client.stream.captions.get(
        'ea95132c15732412d22c1476fa83f27a', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  generated:
                    type: boolean
                    description: Whether the caption was generated via AI.
                  label:
                    type: string
                    description: The language label displayed in the native language to users.
                  language:
                    type: string
                    description: The language tag in BCP 47 format.
                  status:
                    type: string
                    enum:
                      - ready
                      - inprogress
                      - error
                    description: The status of a generated caption.
      x-distilled-pagination-class: CaptionsSinglePage
  /accounts/{account_id}/stream/{identifier}/captions/{language}:
    get:
      operationId: getCaptionLanguage
      description: "Lists the captions or subtitles for provided language.  @example
        ```ts const caption = await client.stream.captions.language.get(
        'ea95132c15732412d22c1476fa83f27a', 'tr', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  generated:
                    type: boolean
                    description: Whether the caption was generated via AI.
                  label:
                    type: string
                    description: The language label displayed in the native language to users.
                  language:
                    type: string
                    description: The language tag in BCP 47 format.
                  status:
                    type: string
                    enum:
                      - ready
                      - inprogress
                      - error
                    description: The status of a generated caption.
      x-distilled-response-path: result
    put:
      operationId: updateCaptionLanguage
      description: "Uploads the caption or subtitle file to the endpoint for a
        specific BCP47 language. One caption or subtitle file per language is
        allowed.  @example ```ts const caption = await
        client.stream.captions.language.update(
        'ea95132c15732412d22c1476fa83f27a', 'tr', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', file: '@/Users/kyle/Desktop/tr.vtt',
        }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  description: "Body param: The WebVTT file containing the caption or subtitle
                    content."
              required:
                - file
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  generated:
                    type: boolean
                    description: Whether the caption was generated via AI.
                  label:
                    type: string
                    description: The language label displayed in the native language to users.
                  language:
                    type: string
                    description: The language tag in BCP 47 format.
                  status:
                    type: string
                    enum:
                      - ready
                      - inprogress
                      - error
                    description: The status of a generated caption.
      x-distilled-response-path: result
    delete:
      operationId: deleteCaptionLanguage
      description: "Removes the captions or subtitles from a video.  @example ```ts
        const language = await client.stream.captions.language.delete(
        'ea95132c15732412d22c1476fa83f27a', 'tr', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-response-path: result
  /accounts/{account_id}/stream/{identifier}/captions/{language}/generate:
    post:
      operationId: createCaptionLanguage
      description: "Generate captions or subtitles for provided language via
        AI.  @example ```ts const caption = await
        client.stream.captions.language.create(
        'ea95132c15732412d22c1476fa83f27a', 'tr', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  generated:
                    type: boolean
                    description: Whether the caption was generated via AI.
                  label:
                    type: string
                    description: The language label displayed in the native language to users.
                  language:
                    type: string
                    description: The language tag in BCP 47 format.
                  status:
                    type: string
                    enum:
                      - ready
                      - inprogress
                      - error
                    description: The status of a generated caption.
      x-distilled-response-path: result
  /accounts/{account_id}/stream/{identifier}/captions/{language}/vtt:
    get:
      operationId: getCaptionLanguageVtt
      description: "Return WebVTT captions for a provided language.  @example ```ts
        const vtt = await client.stream.captions.language.vtt.get(
        'ea95132c15732412d22c1476fa83f27a', 'tr', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: language
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
  /accounts/{account_id}/stream/clip:
    post:
      operationId: createClip
      description: "Clips a video based on the specified start and end times provided
        in seconds.  @example ```ts const clip = await
        client.stream.clip.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', clippedFromVideoUID:
        '023e105f4ecef8ad9ca31a8372d0c353', endTimeSeconds: 0, startTimeSeconds:
        0, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clippedFromVideoUID:
                  type: string
                  description: "Body param: The unique video identifier (UID)."
                endTimeSeconds:
                  type: number
                  description: "Body param: Specifies the end time for the video clip in seconds."
                startTimeSeconds:
                  type: number
                  description: "Body param: Specifies the start time for the video clip in
                    seconds."
                allowedOrigins:
                  type: array
                  items:
                    type: string
                  description: "Body param: Lists the origins allowed to display the video. Enter
                    allowed origin domains in an array and use ` ` for wildcard
                    subdomains. Empty arrays allow the video to be viewed on any
                    origin."
                creator:
                  type: string
                  description: "Body param: A user-defined identifier for the media creator."
                maxDurationSeconds:
                  type: number
                  description: "Body param: The maximum duration in seconds for a video upload.
                    Can be set for a video that is not yet uploaded to limit its
                    duration. Uploads that exceed the specified duration will
                    fail during processing. A value of `-1` means the value is
                    unknown."
                requireSignedURLs:
                  type: boolean
                  description: "Body param: Indicates whether the video can be a accessed using
                    the UID. When set to `true`, a signed token must be
                    generated with a signing key to view the video."
                thumbnailTimestampPct:
                  type: number
                  description: "Body param: The timestamp for a thumbnail image calculated as a
                    percentage value of the video's duration. To convert from a
                    second-wise timestamp to a percentage, divide the desired
                    timestamp by the total duration of the video. If this value
                    is not set, the default thumbnail image is taken from 0s of
                    the video."
                watermark:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: The unique identifier for the watermark profile.
                  description: "Body param:"
              required:
                - clippedFromVideoUID
                - endTimeSeconds
                - startTimeSeconds
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowedOrigins:
                    type: array
                    items:
                      type: string
                    description: Lists the origins allowed to display the video. Enter allowed
                      origin domains in an array and use ` ` for wildcard
                      subdomains. Empty arrays allow the video to be viewed on
                      any origin.
                  clippedFromVideoUID:
                    type: string
                    description: The unique video identifier (UID).
                  created:
                    type: string
                    description: The date and time the clip was created.
                  creator:
                    type: string
                    description: A user-defined identifier for the media creator.
                  endTimeSeconds:
                    type: number
                    description: Specifies the end time for the video clip in seconds.
                  maxDurationSeconds:
                    type: number
                    description: The maximum duration in seconds for a video upload. Can be set for
                      a video that is not yet uploaded to limit its duration.
                      Uploads that exceed the specified duration will fail
                      during processing. A value of `-1` means the value is
                      unknown.
                  meta:
                    description: A user modifiable key-value store used to reference other systems
                      of record for managing videos.
                  modified:
                    type: string
                    description: The date and time the live input was last modified.
                  playback:
                    type: object
                    properties:
                      dash:
                        type: string
                        description: DASH Media Presentation Description for the video.
                      hls:
                        type: string
                        description: The HLS manifest for the video.
                  preview:
                    type: string
                    description: The video's preview page URI. This field is omitted until encoding
                      is complete.
                  requireSignedURLs:
                    type: boolean
                    description: Indicates whether the video can be a accessed using the UID. When
                      set to `true`, a signed token must be generated with a
                      signing key to view the video.
                  startTimeSeconds:
                    type: number
                    description: Specifies the start time for the video clip in seconds.
                  status:
                    type: string
                    enum:
                      - pendingupload
                      - downloading
                      - queued
                      - inprogress
                      - ready
                      - error
                      - live-inprogress
                    description: Specifies the processing status for all quality levels for a video.
                  thumbnailTimestampPct:
                    type: number
                    description: The timestamp for a thumbnail image calculated as a percentage
                      value of the video's duration. To convert from a
                      second-wise timestamp to a percentage, divide the desired
                      timestamp by the total duration of the video. If this
                      value is not set, the default thumbnail image is taken
                      from 0s of the video.
                  watermark:
                    type: object
                    properties:
                      uid:
                        type: string
                        description: The unique identifier for the watermark profile.
      x-distilled-response-path: result
  /accounts/{account_id}/stream/copy:
    post:
      operationId: createCopy
      description: "Uploads a video to Stream from a provided URL.  @example ```ts
        const video = await client.stream.copy.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', url:
        'https://example.com/myvideo.mp4', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
        - name: Upload-Creator
          in: header
          required: false
          description: "Header param: A user-defined identifier for the media creator."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: "Body param: A video's URL. The server must be publicly routable
                    and support `HTTP HEAD` requests and `HTTP GET` range
                    requests. The server should respond to `HTTP HEAD` requests
                    with a `content-range` header that includes the size of the
                    file."
                allowedOrigins:
                  type: array
                  items:
                    type: string
                  description: "Body param: Lists the origins allowed to display the video. Enter
                    allowed origin domains in an array and use ` ` for wildcard
                    subdomains. Empty arrays allow the video to be viewed on any
                    origin."
                creator:
                  type: string
                  description: "Body param: A user-defined identifier for the media creator."
                meta:
                  description: "Body param: A user modifiable key-value store used to reference
                    other systems of record for managing videos."
                requireSignedURLs:
                  type: boolean
                  description: "Body param: Indicates whether the video can be a accessed using
                    the UID. When set to `true`, a signed token must be
                    generated with a signing key to view the video."
                scheduledDeletion:
                  type: string
                  description: "Body param: Indicates the date and time at which the video will be
                    deleted. Omit the field to indicate no change, or include
                    with a `null` value to remove an existing scheduled
                    deletion. If specified, must be at least 30 days from upload
                    time."
                thumbnailTimestampPct:
                  type: number
                  description: "Body param: The timestamp for a thumbnail image calculated as a
                    percentage value of the video's duration. To convert from a
                    second-wise timestamp to a percentage, divide the desired
                    timestamp by the total duration of the video. If this value
                    is not set, the default thumbnail image is taken from 0s of
                    the video."
                watermark:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: The unique identifier for the watermark profile.
                  description: "Body param:"
              required:
                - url
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowedOrigins:
                    type: array
                    items:
                      type: string
                    description: Lists the origins allowed to display the video. Enter allowed
                      origin domains in an array and use ` ` for wildcard
                      subdomains. Empty arrays allow the video to be viewed on
                      any origin.
                  created:
                    type: string
                    description: The date and time the media item was created.
                  creator:
                    type: string
                    description: A user-defined identifier for the media creator.
                  duration:
                    type: number
                    description: The duration of the video in seconds. A value of `-1` means the
                      duration is unknown. The duration becomes available after
                      the upload and before the video is ready.
                  input:
                    type: object
                    properties:
                      height:
                        type: number
                        description: The video height in pixels. A value of `-1` means the height is
                          unknown. The value becomes available after the upload
                          and before the video is ready.
                      width:
                        type: number
                        description: The video width in pixels. A value of `-1` means the width is
                          unknown. The value becomes available after the upload
                          and before the video is ready.
                  liveInput:
                    type: string
                    description: The live input ID used to upload a video with Stream Live.
                  maxDurationSeconds:
                    type: number
                    description: The maximum duration in seconds for a video upload. Can be set for
                      a video that is not yet uploaded to limit its duration.
                      Uploads that exceed the specified duration will fail
                      during processing. A value of `-1` means the value is
                      unknown.
                  meta:
                    description: A user modifiable key-value store used to reference other systems
                      of record for managing videos.
                  modified:
                    type: string
                    description: The date and time the media item was last modified.
                  playback:
                    type: object
                    properties:
                      dash:
                        type: string
                        description: DASH Media Presentation Description for the video.
                      hls:
                        type: string
                        description: The HLS manifest for the video.
                  preview:
                    type: string
                    description: The video's preview page URI. This field is omitted until encoding
                      is complete.
                  readyToStream:
                    type: boolean
                    description: Indicates whether the video is playable. The field is empty if the
                      video is not ready for viewing or the live stream is still
                      in progress.
                  readyToStreamAt:
                    type: string
                    description: Indicates the time at which the video became playable. The field is
                      empty if the video is not ready for viewing or the live
                      stream is still in progress.
                  requireSignedURLs:
                    type: boolean
                    description: Indicates whether the video can be a accessed using the UID. When
                      set to `true`, a signed token must be generated with a
                      signing key to view the video.
                  scheduledDeletion:
                    type: string
                    description: Indicates the date and time at which the video will be deleted.
                      Omit the field to indicate no change, or include with a
                      `null` value to remove an existing scheduled deletion. If
                      specified, must be at least 30 days from upload time.
                  size:
                    type: number
                    description: The size of the media item in bytes.
                  status:
                    type: object
                    properties:
                      errorReasonCode:
                        type: string
                        description: Specifies why the video failed to encode. This field is empty if
                          the video is not in an `error` state. Preferred for
                          programmatic use.
                      errorReasonText:
                        type: string
                        description: Specifies why the video failed to encode using a human readable
                          error message in English. This field is empty if the
                          video is not in an `error` state.
                      pctComplete:
                        type: string
                        description: Indicates the progress as a percentage between 0 and 100.
                      state:
                        type: string
                        enum:
                          - pendingupload
                          - downloading
                          - queued
                          - inprogress
                          - ready
                          - error
                          - live-inprogress
                        description: Specifies the processing status for all quality levels for a video.
                    description: Specifies a detailed status for a video. If the `state` is
                      `inprogress` or `error`, the `step` field returns
                      `encoding` or `manifest`. If the `state` is `inprogress`,
                      `pctComplete` returns a number between 0 and 100 to
                      indicate the approximate percent of completion. If the
                      `state` is `error`, `errorReasonCode` and
                      `errorReasonText` provide additional details.
                  thumbnail:
                    type: string
                    description: The media item's thumbnail URI. This field is omitted until
                      encoding is complete.
                  thumbnailTimestampPct:
                    type: number
                    description: The timestamp for a thumbnail image calculated as a percentage
                      value of the video's duration. To convert from a
                      second-wise timestamp to a percentage, divide the desired
                      timestamp by the total duration of the video. If this
                      value is not set, the default thumbnail image is taken
                      from 0s of the video.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a media item.
                  uploaded:
                    type: string
                    description: The date and time the media item was uploaded.
                  uploadExpiry:
                    type: string
                    description: The date and time when the video upload URL is no longer valid for
                      direct user uploads.
                  watermark:
                    type: object
                    properties:
                      created:
                        type: string
                        description: The date and a time a watermark profile was created.
                      downloadedFrom:
                        type: string
                        description: The source URL for a downloaded image. If the watermark profile was
                          created via direct upload, this field is null.
                      height:
                        type: number
                        description: The height of the image in pixels.
                      name:
                        type: string
                        description: A short description of the watermark profile.
                      opacity:
                        type: number
                        description: The translucency of the image. A value of `0.0` makes the image
                          completely transparent, and `1.0` makes the image
                          completely opaque. Note that if the image is already
                          semi-transparent, setting this to `1.0` will not make
                          the image completely opaque.
                      padding:
                        type: number
                        description: The whitespace between the adjacent edges (determined by position)
                          of the video and the image. `0.0` indicates no
                          padding, and `1.0` indicates a fully padded video
                          width or length, as determined by the algorithm.
                      position:
                        type: string
                        description: "The location of the image. Valid positions are: `upperRight`,
                          `upperLeft`, `lowerLeft`, `lowerRight`, and `center`.
                          Note that `center` ignores the `padding` parameter."
                      scale:
                        type: number
                        description: The size of the image relative to the overall size of the video.
                          This parameter will adapt to horizontal and vertical
                          videos automatically. `0.0` indicates no scaling (use
                          the size of the image as-is), and `1.0 `fills the
                          entire video.
                      size:
                        type: number
                        description: The size of the image in bytes.
                      uid:
                        type: string
                        description: The unique identifier for a watermark profile.
                      width:
                        type: number
                        description: The width of the image in pixels.
      x-distilled-response-path: result
  /accounts/{account_id}/stream/direct_upload:
    post:
      operationId: createDirectUpload
      description: "Creates a direct upload that allows video uploads without an API
        key.  @example ```ts const directUpload = await
        client.stream.directUpload.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', maxDurationSeconds: 1, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
        - name: Upload-Creator
          in: header
          required: false
          description: "Header param: A user-defined identifier for the media creator."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                maxDurationSeconds:
                  type: number
                  description: "Body param: The maximum duration in seconds for a video upload.
                    Can be set for a video that is not yet uploaded to limit its
                    duration. Uploads that exceed the specified duration will
                    fail during processing. A value of `-1` means the value is
                    unknown."
                allowedOrigins:
                  type: array
                  items:
                    type: string
                  description: "Body param: Lists the origins allowed to display the video. Enter
                    allowed origin domains in an array and use ` ` for wildcard
                    subdomains. Empty arrays allow the video to be viewed on any
                    origin."
                creator:
                  type: string
                  description: "Body param: A user-defined identifier for the media creator."
                expiry:
                  type: string
                  description: "Body param: The date and time after upload when videos will not be
                    accepted."
                meta:
                  description: "Body param: A user modifiable key-value store used to reference
                    other systems of record for managing videos."
                requireSignedURLs:
                  type: boolean
                  description: "Body param: Indicates whether the video can be a accessed using
                    the UID. When set to `true`, a signed token must be
                    generated with a signing key to view the video."
                scheduledDeletion:
                  type: string
                  description: "Body param: Indicates the date and time at which the video will be
                    deleted. Omit the field to indicate no change, or include
                    with a `null` value to remove an existing scheduled
                    deletion. If specified, must be at least 30 days from upload
                    time."
                thumbnailTimestampPct:
                  type: number
                  description: "Body param: The timestamp for a thumbnail image calculated as a
                    percentage value of the video's duration. To convert from a
                    second-wise timestamp to a percentage, divide the desired
                    timestamp by the total duration of the video. If this value
                    is not set, the default thumbnail image is taken from 0s of
                    the video."
                watermark:
                  type: object
                  properties:
                    uid:
                      type: string
                      description: The unique identifier for the watermark profile.
                  description: "Body param:"
              required:
                - maxDurationSeconds
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  scheduledDeletion:
                    type: string
                    description: Indicates the date and time at which the video will be deleted.
                      Omit the field to indicate no change, or include with a
                      `null` value to remove an existing scheduled deletion. If
                      specified, must be at least 30 days from upload time.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a media item.
                  uploadURL:
                    type: string
                    description: The URL an unauthenticated upload can use for a single `HTTP POST
                      multipart/form-data` request.
                  watermark:
                    type: object
                    properties:
                      created:
                        type: string
                        description: The date and a time a watermark profile was created.
                      downloadedFrom:
                        type: string
                        description: The source URL for a downloaded image. If the watermark profile was
                          created via direct upload, this field is null.
                      height:
                        type: number
                        description: The height of the image in pixels.
                      name:
                        type: string
                        description: A short description of the watermark profile.
                      opacity:
                        type: number
                        description: The translucency of the image. A value of `0.0` makes the image
                          completely transparent, and `1.0` makes the image
                          completely opaque. Note that if the image is already
                          semi-transparent, setting this to `1.0` will not make
                          the image completely opaque.
                      padding:
                        type: number
                        description: The whitespace between the adjacent edges (determined by position)
                          of the video and the image. `0.0` indicates no
                          padding, and `1.0` indicates a fully padded video
                          width or length, as determined by the algorithm.
                      position:
                        type: string
                        description: "The location of the image. Valid positions are: `upperRight`,
                          `upperLeft`, `lowerLeft`, `lowerRight`, and `center`.
                          Note that `center` ignores the `padding` parameter."
                      scale:
                        type: number
                        description: The size of the image relative to the overall size of the video.
                          This parameter will adapt to horizontal and vertical
                          videos automatically. `0.0` indicates no scaling (use
                          the size of the image as-is), and `1.0 `fills the
                          entire video.
                      size:
                        type: number
                        description: The size of the image in bytes.
                      uid:
                        type: string
                        description: The unique identifier for a watermark profile.
                      width:
                        type: number
                        description: The width of the image in pixels.
      x-distilled-response-path: result
  /accounts/{account_id}/stream/{identifier}/downloads:
    get:
      operationId: getDownload
      description: "Lists the downloads created for a video.  @example ```ts const
        download = await client.stream.downloads.get(
        'ea95132c15732412d22c1476fa83f27a', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  audio:
                    type: object
                    properties:
                      percentComplete:
                        type: number
                        description: Indicates the progress as a percentage between 0 and 100.
                      status:
                        type: string
                        enum:
                          - ready
                          - inprogress
                          - error
                        description: The status of a generated download.
                      url:
                        type: string
                        description: The URL to access the generated download.
                    description: The audio-only download. Only present if this download type has
                      been created.
                  default:
                    type: object
                    properties:
                      percentComplete:
                        type: number
                        description: Indicates the progress as a percentage between 0 and 100.
                      status:
                        type: string
                        enum:
                          - ready
                          - inprogress
                          - error
                        description: The status of a generated download.
                      url:
                        type: string
                        description: The URL to access the generated download.
                    description: The default video download. Only present if this download type has
                      been created.
      x-distilled-response-path: result
    post:
      operationId: createDownload
      description: "Creates a download for a video when a video is ready to view. Use
        `/downloads/{download_type}` instead for type-specific downloads.
        Available types are `default` and `audio`.  @example ```ts const
        download = await client.stream.downloads.create(
        'ea95132c15732412d22c1476fa83f27a', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', body: {}, }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  percentComplete:
                    type: number
                    description: Indicates the progress as a percentage between 0 and 100.
                  status:
                    type: string
                    enum:
                      - ready
                      - inprogress
                      - error
                    description: The status of a generated download.
                  url:
                    type: string
                    description: The URL to access the generated download.
      x-distilled-response-path: result
    delete:
      operationId: deleteDownload
      description: "Delete the downloads for a video. Use `/downloads/{download_type}`
        instead for type-specific downloads. Available types are `default` and
        `audio`.  @example ```ts const download = await
        client.stream.downloads.delete( 'ea95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-response-path: result
  /accounts/{account_id}/stream/{identifier}/embed:
    get:
      operationId: getEmbed
      description: "Fetches an HTML code snippet to embed a video in a web page
        delivered through Cloudflare. On success, returns an HTML fragment for
        use on web pages to display a video. On failure, returns a JSON response
        body.  @example ```ts const embed = await client.stream.embed.get(
        'ea95132c15732412d22c1476fa83f27a', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
  /accounts/{account_id}/stream/keys:
    get:
      operationId: getKey
      description: "Lists the video ID and creation date and time when a signing key
        was created.  @example ```ts // Automatically fetches more pages as
        needed. for await (const keyGetResponse of client.stream.keys.get({
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', })) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  created:
                    type: string
                    description: The date and time a signing key was created.
      x-distilled-pagination-class: KeyGetResponsesSinglePage
    post:
      operationId: createKey
      description: "Creates an RSA private key in PEM and JWK formats. Key files are
        only displayed once after creation. Keys are created, used, and deleted
        independently of videos, and every key can sign any video.  @example
        ```ts const keys = await client.stream.keys.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', body: {}, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
                  created:
                    type: string
                    description: The date and time a signing key was created.
                  jwk:
                    type: string
                    description: The signing key in JWK format.
                  pem:
                    type: string
                    description: The signing key in PEM format.
      x-distilled-response-path: result
  /accounts/{account_id}/stream/keys/{identifier}:
    delete:
      operationId: deleteKey
      description: "Deletes signing keys and revokes all signed URLs generated with
        the key.  @example ```ts const key = await client.stream.keys.delete(
        '023e105f4ecef8ad9ca31a8372d0c353', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-response-path: result
  /accounts/{account_id}/stream/live_inputs/{liveInputIdentifier}:
    get:
      operationId: getLiveInput
      description: "Retrieves details of an existing live input.  @example ```ts const
        liveInput = await client.stream.liveInputs.get(
        '66be4bf738797e01e1fca35a7bdecdcd', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: liveInputIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the live input was created.
                  deleteRecordingAfterDays:
                    type: number
                    description: Indicates the number of days after which the live inputs recordings
                      will be deleted. When a stream completes and the recording
                      is ready, the value is used to calculate a scheduled
                      deletion date for that recording. Omit the field to
                      indicate no change, or include with a `null` value to
                      remove an existing scheduled deletion.
                  meta:
                    description: A user modifiable key-value store used to reference other systems
                      of record for managing live inputs.
                  modified:
                    type: string
                    description: The date and time the live input was last modified.
                  uid:
                    type: string
                    description: A unique identifier for a live input.
      x-distilled-response-path: result
    put:
      operationId: updateLiveInput
      description: "Updates a specified live input.  @example ```ts const liveInput =
        await client.stream.liveInputs.update(
        '66be4bf738797e01e1fca35a7bdecdcd', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: liveInputIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultCreator:
                  type: string
                  description: "Body param: Sets the creator ID asssociated with this live input."
                deleteRecordingAfterDays:
                  type: number
                  description: "Body param: Indicates the number of days after which the live
                    inputs recordings will be deleted. When a stream completes
                    and the recording is ready, the value is used to calculate a
                    scheduled deletion date for that recording. Omit the field
                    to indicate no change, or include with a `null` value to
                    remove an existing scheduled deletion."
                meta:
                  description: "Body param: A user modifiable key-value store used to reference
                    other systems of record for managing live inputs."
                recording:
                  type: object
                  properties:
                    allowedOrigins:
                      type: array
                      items:
                        type: string
                      description: Lists the origins allowed to display videos created with this
                        input. Enter allowed origin domains in an array and use
                        ` ` for wildcard subdomains. An empty array allows
                        videos to be viewed on any origin.
                    hideLiveViewerCount:
                      type: boolean
                      description: Disables reporting the number of live viewers when this property is
                        set to `true`.
                    mode:
                      type: string
                      enum:
                        - off
                        - automatic
                      description: Specifies the recording behavior for the live input. Set this value
                        to `off` to prevent a recording. Set the value to
                        `automatic` to begin a recording and transition to
                        on-demand after Stream Live stops receiving input.
                    requireSignedURLs:
                      type: boolean
                      description: Indicates if a video using the live input has the
                        `requireSignedURLs` property set. Also enforces access
                        controls on any video recording of the livestream with
                        the live input.
                    timeoutSeconds:
                      type: number
                      description: Determines the amount of time a live input configured in
                        `automatic` mode should wait before a recording
                        transitions from live to on-demand. `0` is recommended
                        for most use cases and indicates the platform default
                        should be used.
                  description: "Body param: Records the input to a Cloudflare Stream video.
                    Behavior depends on the mode. In most cases, the video will
                    initially be viewable as a live video and transition to
                    on-demand after a condition is satisfied."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the live input was created.
                  deleteRecordingAfterDays:
                    type: number
                    description: Indicates the number of days after which the live inputs recordings
                      will be deleted. When a stream completes and the recording
                      is ready, the value is used to calculate a scheduled
                      deletion date for that recording. Omit the field to
                      indicate no change, or include with a `null` value to
                      remove an existing scheduled deletion.
                  meta:
                    description: A user modifiable key-value store used to reference other systems
                      of record for managing live inputs.
                  modified:
                    type: string
                    description: The date and time the live input was last modified.
                  uid:
                    type: string
                    description: A unique identifier for a live input.
      x-distilled-response-path: result
    delete:
      operationId: deleteLiveInput
      description: "Prevents a live input from being streamed to and makes the live
        input inaccessible to any future API calls.  @example ```ts await
        client.stream.liveInputs.delete( '66be4bf738797e01e1fca35a7bdecdcd', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: liveInputIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
  /accounts/{account_id}/stream/live_inputs:
    get:
      operationId: listLiveInputs
      description: "Lists the live inputs created for an account. To get the
        credentials needed to stream to a specific live input, request a single
        live input.  @example ```ts const liveInputs = await
        client.stream.liveInputs.list({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: include_counts
          in: query
          required: false
          description: "Query param: Includes the total number of videos associated with
            the submitted query parameters."
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  liveInputs:
                    type: array
                    items:
                      type: object
                      properties:
                        created:
                          type: string
                          description: The date and time the live input was created.
                        deleteRecordingAfterDays:
                          type: number
                          description: Indicates the number of days after which the live inputs recordings
                            will be deleted. When a stream completes and the
                            recording is ready, the value is used to calculate a
                            scheduled deletion date for that recording. Omit the
                            field to indicate no change, or include with a
                            `null` value to remove an existing scheduled
                            deletion.
                        meta:
                          description: A user modifiable key-value store used to reference other systems
                            of record for managing live inputs.
                        modified:
                          type: string
                          description: The date and time the live input was last modified.
                        uid:
                          type: string
                          description: A unique identifier for a live input.
                  range:
                    type: number
                    description: The total number of remaining live inputs based on cursor position.
                  total:
                    type: number
                    description: The total number of live inputs that match the provided filters.
      x-distilled-response-path: result
    post:
      operationId: createLiveInput
      description: "Creates a live input, and returns credentials that you or your
        users can use to stream live video to Cloudflare Stream.  @example ```ts
        const liveInput = await client.stream.liveInputs.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                defaultCreator:
                  type: string
                  description: "Body param: Sets the creator ID asssociated with this live input."
                deleteRecordingAfterDays:
                  type: number
                  description: "Body param: Indicates the number of days after which the live
                    inputs recordings will be deleted. When a stream completes
                    and the recording is ready, the value is used to calculate a
                    scheduled deletion date for that recording. Omit the field
                    to indicate no change, or include with a `null` value to
                    remove an existing scheduled deletion."
                meta:
                  description: "Body param: A user modifiable key-value store used to reference
                    other systems of record for managing live inputs."
                recording:
                  type: object
                  properties:
                    allowedOrigins:
                      type: array
                      items:
                        type: string
                      description: Lists the origins allowed to display videos created with this
                        input. Enter allowed origin domains in an array and use
                        ` ` for wildcard subdomains. An empty array allows
                        videos to be viewed on any origin.
                    hideLiveViewerCount:
                      type: boolean
                      description: Disables reporting the number of live viewers when this property is
                        set to `true`.
                    mode:
                      type: string
                      enum:
                        - off
                        - automatic
                      description: Specifies the recording behavior for the live input. Set this value
                        to `off` to prevent a recording. Set the value to
                        `automatic` to begin a recording and transition to
                        on-demand after Stream Live stops receiving input.
                    requireSignedURLs:
                      type: boolean
                      description: Indicates if a video using the live input has the
                        `requireSignedURLs` property set. Also enforces access
                        controls on any video recording of the livestream with
                        the live input.
                    timeoutSeconds:
                      type: number
                      description: Determines the amount of time a live input configured in
                        `automatic` mode should wait before a recording
                        transitions from live to on-demand. `0` is recommended
                        for most use cases and indicates the platform default
                        should be used.
                  description: "Body param: Records the input to a Cloudflare Stream video.
                    Behavior depends on the mode. In most cases, the video will
                    initially be viewable as a live video and transition to
                    on-demand after a condition is satisfied."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created:
                    type: string
                    description: The date and time the live input was created.
                  deleteRecordingAfterDays:
                    type: number
                    description: Indicates the number of days after which the live inputs recordings
                      will be deleted. When a stream completes and the recording
                      is ready, the value is used to calculate a scheduled
                      deletion date for that recording. Omit the field to
                      indicate no change, or include with a `null` value to
                      remove an existing scheduled deletion.
                  meta:
                    description: A user modifiable key-value store used to reference other systems
                      of record for managing live inputs.
                  modified:
                    type: string
                    description: The date and time the live input was last modified.
                  uid:
                    type: string
                    description: A unique identifier for a live input.
      x-distilled-response-path: result
  /accounts/{account_id}/stream/live_inputs/{liveInputIdentifier}/outputs:
    get:
      operationId: listLiveInputOutputs
      description: "Retrieves all outputs associated with a specified live
        input.  @example ```ts // Automatically fetches more pages as needed.
        for await (const output of client.stream.liveInputs.outputs.list(
        '66be4bf738797e01e1fca35a7bdecdcd', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: liveInputIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: When enabled, live video streamed to the associated live input will
                      be sent to the output URL. When disabled, live video will
                      not be sent to the output URL, even when streaming to the
                      associated live input. Use this to control precisely when
                      you start and stop simulcasting to specific destinations
                      like YouTube and Twitch.
                  streamKey:
                    type: string
                    description: The streamKey used to authenticate against an output's target.
                  uid:
                    type: string
                    description: A unique identifier for the output.
                  url:
                    type: string
                    description: The URL an output uses to restream.
      x-distilled-pagination-class: OutputsSinglePage
    post:
      operationId: createLiveInputOutput
      description: "Creates a new output that can be used to simulcast or restream
        live video to other RTMP or SRT destinations. Outputs are always linked
        to a specific live input — one live input can have many
        outputs.  @example ```ts const output = await
        client.stream.liveInputs.outputs.create(
        '66be4bf738797e01e1fca35a7bdecdcd', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', streamKey:
        'uzya-f19y-g2g9-a2ee-51j2', url: 'rtmp://a.rtmp.youtube.com/live2', },
        ); ```"
      parameters:
        - name: liveInputIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                streamKey:
                  type: string
                  description: "Body param: The streamKey used to authenticate against an output's
                    target."
                url:
                  type: string
                  description: "Body param: The URL an output uses to restream."
                enabled:
                  type: boolean
                  description: "Body param: When enabled, live video streamed to the associated
                    live input will be sent to the output URL. When disabled,
                    live video will not be sent to the output URL, even when
                    streaming to the associated live input. Use this to control
                    precisely when you start and stop simulcasting to specific
                    destinations like YouTube and Twitch."
              required:
                - streamKey
                - url
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: When enabled, live video streamed to the associated live input will
                      be sent to the output URL. When disabled, live video will
                      not be sent to the output URL, even when streaming to the
                      associated live input. Use this to control precisely when
                      you start and stop simulcasting to specific destinations
                      like YouTube and Twitch.
                  streamKey:
                    type: string
                    description: The streamKey used to authenticate against an output's target.
                  uid:
                    type: string
                    description: A unique identifier for the output.
                  url:
                    type: string
                    description: The URL an output uses to restream.
      x-distilled-response-path: result
  /accounts/{account_id}/stream/live_inputs/{liveInputIdentifier}/outputs/{outputIdentifier}:
    put:
      operationId: updateLiveInputOutput
      description: "Updates the state of an output.  @example ```ts const output =
        await client.stream.liveInputs.outputs.update(
        '66be4bf738797e01e1fca35a7bdecdcd', 'baea4d9c515887b80289d5c33cf01145',
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353', enabled: true, }, );
        ```"
      parameters:
        - name: liveInputIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: outputIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: When enabled, live video streamed to the associated
                    live input will be sent to the output URL. When disabled,
                    live video will not be sent to the output URL, even when
                    streaming to the associated live input. Use this to control
                    precisely when you start and stop simulcasting to specific
                    destinations like YouTube and Twitch."
              required:
                - enabled
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  enabled:
                    type: boolean
                    description: When enabled, live video streamed to the associated live input will
                      be sent to the output URL. When disabled, live video will
                      not be sent to the output URL, even when streaming to the
                      associated live input. Use this to control precisely when
                      you start and stop simulcasting to specific destinations
                      like YouTube and Twitch.
                  streamKey:
                    type: string
                    description: The streamKey used to authenticate against an output's target.
                  uid:
                    type: string
                    description: A unique identifier for the output.
                  url:
                    type: string
                    description: The URL an output uses to restream.
      x-distilled-response-path: result
    delete:
      operationId: deleteLiveInputOutput
      description: "Deletes an output and removes it from the associated live
        input.  @example ```ts await client.stream.liveInputs.outputs.delete(
        '66be4bf738797e01e1fca35a7bdecdcd', 'baea4d9c515887b80289d5c33cf01145',
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: liveInputIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: outputIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
  /accounts/{account_id}/stream/{identifier}:
    get:
      operationId: getStream
      description: "Fetches details for a single video.  @example ```ts const video =
        await client.stream.get( 'ea95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowedOrigins:
                    type: array
                    items:
                      type: string
                    description: Lists the origins allowed to display the video. Enter allowed
                      origin domains in an array and use ` ` for wildcard
                      subdomains. Empty arrays allow the video to be viewed on
                      any origin.
                  created:
                    type: string
                    description: The date and time the media item was created.
                  creator:
                    type: string
                    description: A user-defined identifier for the media creator.
                  duration:
                    type: number
                    description: The duration of the video in seconds. A value of `-1` means the
                      duration is unknown. The duration becomes available after
                      the upload and before the video is ready.
                  input:
                    type: object
                    properties:
                      height:
                        type: number
                        description: The video height in pixels. A value of `-1` means the height is
                          unknown. The value becomes available after the upload
                          and before the video is ready.
                      width:
                        type: number
                        description: The video width in pixels. A value of `-1` means the width is
                          unknown. The value becomes available after the upload
                          and before the video is ready.
                  liveInput:
                    type: string
                    description: The live input ID used to upload a video with Stream Live.
                  maxDurationSeconds:
                    type: number
                    description: The maximum duration in seconds for a video upload. Can be set for
                      a video that is not yet uploaded to limit its duration.
                      Uploads that exceed the specified duration will fail
                      during processing. A value of `-1` means the value is
                      unknown.
                  meta:
                    description: A user modifiable key-value store used to reference other systems
                      of record for managing videos.
                  modified:
                    type: string
                    description: The date and time the media item was last modified.
                  playback:
                    type: object
                    properties:
                      dash:
                        type: string
                        description: DASH Media Presentation Description for the video.
                      hls:
                        type: string
                        description: The HLS manifest for the video.
                  preview:
                    type: string
                    description: The video's preview page URI. This field is omitted until encoding
                      is complete.
                  readyToStream:
                    type: boolean
                    description: Indicates whether the video is playable. The field is empty if the
                      video is not ready for viewing or the live stream is still
                      in progress.
                  readyToStreamAt:
                    type: string
                    description: Indicates the time at which the video became playable. The field is
                      empty if the video is not ready for viewing or the live
                      stream is still in progress.
                  requireSignedURLs:
                    type: boolean
                    description: Indicates whether the video can be a accessed using the UID. When
                      set to `true`, a signed token must be generated with a
                      signing key to view the video.
                  scheduledDeletion:
                    type: string
                    description: Indicates the date and time at which the video will be deleted.
                      Omit the field to indicate no change, or include with a
                      `null` value to remove an existing scheduled deletion. If
                      specified, must be at least 30 days from upload time.
                  size:
                    type: number
                    description: The size of the media item in bytes.
                  status:
                    type: object
                    properties:
                      errorReasonCode:
                        type: string
                        description: Specifies why the video failed to encode. This field is empty if
                          the video is not in an `error` state. Preferred for
                          programmatic use.
                      errorReasonText:
                        type: string
                        description: Specifies why the video failed to encode using a human readable
                          error message in English. This field is empty if the
                          video is not in an `error` state.
                      pctComplete:
                        type: string
                        description: Indicates the progress as a percentage between 0 and 100.
                      state:
                        type: string
                        enum:
                          - pendingupload
                          - downloading
                          - queued
                          - inprogress
                          - ready
                          - error
                          - live-inprogress
                        description: Specifies the processing status for all quality levels for a video.
                    description: Specifies a detailed status for a video. If the `state` is
                      `inprogress` or `error`, the `step` field returns
                      `encoding` or `manifest`. If the `state` is `inprogress`,
                      `pctComplete` returns a number between 0 and 100 to
                      indicate the approximate percent of completion. If the
                      `state` is `error`, `errorReasonCode` and
                      `errorReasonText` provide additional details.
                  thumbnail:
                    type: string
                    description: The media item's thumbnail URI. This field is omitted until
                      encoding is complete.
                  thumbnailTimestampPct:
                    type: number
                    description: The timestamp for a thumbnail image calculated as a percentage
                      value of the video's duration. To convert from a
                      second-wise timestamp to a percentage, divide the desired
                      timestamp by the total duration of the video. If this
                      value is not set, the default thumbnail image is taken
                      from 0s of the video.
                  uid:
                    type: string
                    description: A Cloudflare-generated unique identifier for a media item.
                  uploaded:
                    type: string
                    description: The date and time the media item was uploaded.
                  uploadExpiry:
                    type: string
                    description: The date and time when the video upload URL is no longer valid for
                      direct user uploads.
                  watermark:
                    type: object
                    properties:
                      created:
                        type: string
                        description: The date and a time a watermark profile was created.
                      downloadedFrom:
                        type: string
                        description: The source URL for a downloaded image. If the watermark profile was
                          created via direct upload, this field is null.
                      height:
                        type: number
                        description: The height of the image in pixels.
                      name:
                        type: string
                        description: A short description of the watermark profile.
                      opacity:
                        type: number
                        description: The translucency of the image. A value of `0.0` makes the image
                          completely transparent, and `1.0` makes the image
                          completely opaque. Note that if the image is already
                          semi-transparent, setting this to `1.0` will not make
                          the image completely opaque.
                      padding:
                        type: number
                        description: The whitespace between the adjacent edges (determined by position)
                          of the video and the image. `0.0` indicates no
                          padding, and `1.0` indicates a fully padded video
                          width or length, as determined by the algorithm.
                      position:
                        type: string
                        description: "The location of the image. Valid positions are: `upperRight`,
                          `upperLeft`, `lowerLeft`, `lowerRight`, and `center`.
                          Note that `center` ignores the `padding` parameter."
                      scale:
                        type: number
                        description: The size of the image relative to the overall size of the video.
                          This parameter will adapt to horizontal and vertical
                          videos automatically. `0.0` indicates no scaling (use
                          the size of the image as-is), and `1.0 `fills the
                          entire video.
                      size:
                        type: number
                        description: The size of the image in bytes.
                      uid:
                        type: string
                        description: The unique identifier for a watermark profile.
                      width:
                        type: number
                        description: The width of the image in pixels.
      x-distilled-response-path: result
    delete:
      operationId: deleteStream
      description: "Deletes a video and its copies from Cloudflare Stream.  @example
        ```ts await client.stream.delete( 'ea95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: The account identifier tag.
          schema:
            type: string
      responses:
        "200":
          description: Success
    post:
      operationId: editStream
      description: "Edit details for a single video.  @example ```ts const video =
        await client.stream.edit( 'ea95132c15732412d22c1476fa83f27a', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: The account identifier tag."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                allowedOrigins:
                  type: array
                  items:
                    type: string
                  description: "Body param: Lists the origins allowed to display the video. Enter
                    allowed origin domains in an array and use ` ` for wildcard
                    subdomains. Empty arrays allow the video to be viewed on any
                    origin."
                creator:
                  type: string
                  description: "Body param: A user-defined identifier for the media creator."
                maxDurationSeconds:
                  type: number
                  description: "Body param: The maximum duration in seconds for a video upload.
                    Can be set for a video that is not yet uploaded to limit its
                    duration. Uploads that exceed the specified duration will
                    fail during processing. A value of `-1` means the value is
                    unknown."
                meta:
                  description: "Body param: A user modifiable key-value store used to reference
                    other systems of record for managing videos."
                requireSignedURLs:
                  type: boolean
                  description: "Body param: Indicates whether the video can be a accessed using
                    the UID. When set to `true`, a signed token must be
                    generated with a signing key to view the video."
                scheduledDeletion:
                  type: string
                  description: "Body param: Indicates the date and time at which the video will be
                    deleted. Omit the field to indicate no change, or include
                    with a `null` value to remove an existing scheduled
                    deletion. If specified, must be at least 30 days from upload
                    time."
                thumbnailTimestampPct:
                  type: number
                  description: "Body param: The timestamp for a thumbnail image calculated as a
                    percentage value of the video's duration. To convert from a
                    second-wise timestamp to a percentage, divide the desired
                    timestamp by the total duration of the video. If this value
                    is not set, the default thumbnail image is taken from 0s of
                    the video."
                uploadExpiry:
                  type: string
                  description: "Body param: The date and time when the video upload URL is no
                    longer valid for direct user uploads."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowedOrigins:
                    type: array
                    items:
                      type: string
                    description: Lists the origins allowed to display the video. Enter allowed
                      origin domains in an array and use ` ` for wildcard
                      subdomains. Empty arrays allow the video to be viewed on
                      any origin.
                  created:
                    type: string
                    description: The date and time the media item was created.
                  creator:
                    type: string
                    description: A user-defined identifier for the media creator.
                  duration:
                    type: number
                    description: The duration of the video in seconds. A value of `-1` means the
                      duration is unknown. The duration becomes available after
                      the upload and before the video is ready.
                  input:
                    type: object
                    properties:
                      height:
                        type: number
                        description: The video height in pixels. A value of `-1` means the height is
                          unknown. The value becomes available after the upload
                          and before the video is ready.
                      width:
                        type: number
                        description: The video width in pixels. A value of `-1` means the width is
                          unknown. The value becomes available after the upload
                          and before the video is ready.
                  liveInput:
                    type: string
                    description: The live input ID used to upload a video with Stream Live.
                  maxDurationSeconds:
                    type: number
                    description: The maximum duration in seconds for a video upload. Can be set for
                      a video that is not yet uploaded to limit its duration.
                      Uploads that exceed the specified duration will fail
                      during processing. A value of `-1` means the value is
                      unknown.
                  meta:
                    description: A user modifiable key-value store used to reference other systems
                      of record for managing videos.
                  modified:
                    type: string
                    description: The date and time the media item was last modified.
                  playback:
                    type: object
                    properties:
                      dash:
                        type: string
                        description: DASH Media Presentation Description for the video.
                      hls:
                        type: string
                        description: The HLS manifest for the video.
                  preview:
                    type: string
                    description: The video's preview page URI. This field is omitted until encoding
                      is complete.
[...]
