openapi: 3.1.0
info:
  title: Cloudflare TOKEN-VALIDATION API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: token-validation
paths:
  /zones/{zone_id}/token_validation/config/{configId}:
    get:
      operationId: getConfiguration
      description: "Get a single Token Configuration  @example ```ts const tokenConfig
        = await client.tokenValidation.configuration.get(
        '4a7ee8d3-dd63-4ceb-9d5f-c27831854ce7', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: configId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: UUID.
                  created_at:
                    type: string
                  credentials:
                    type: object
                    properties:
                      keys:
                        type: array
                        items:
                          oneOf:
                            - type: object
                              properties:
                                alg:
                                  type: string
                                  enum:
                                    - RS256
                                    - RS384
                                    - RS512
                                    - PS256
                                    - PS384
                                    - PS512
                                  description: Algorithm
                                e:
                                  type: string
                                  description: RSA exponent
                                kid:
                                  type: string
                                  description: Key ID
                                kty:
                                  type: string
                                  enum:
                                    - RSA
                                  description: Key Type
                                n:
                                  type: string
                                  description: RSA modulus
                              required:
                                - alg
                                - e
                                - kid
                                - kty
                                - n
                            - type: object
                              properties:
                                alg:
                                  type: string
                                  enum:
                                    - ES256
                                  description: Algorithm
                                crv:
                                  type: string
                                  enum:
                                    - P-256
                                  description: Curve
                                kid:
                                  type: string
                                  description: Key ID
                                kty:
                                  type: string
                                  enum:
                                    - EC
                                  description: Key Type
                                x:
                                  type: string
                                  description: X EC coordinate
                                y:
                                  type: string
                                  description: Y EC coordinate
                              required:
                                - alg
                                - crv
                                - kid
                                - kty
                                - x
                                - y
                            - type: object
                              properties:
                                alg:
                                  type: string
                                  enum:
                                    - ES384
                                  description: Algorithm
                                crv:
                                  type: string
                                  enum:
                                    - P-384
                                  description: Curve
                                kid:
                                  type: string
                                  description: Key ID
                                kty:
                                  type: string
                                  enum:
                                    - EC
                                  description: Key Type
                                x:
                                  type: string
                                  description: X EC coordinate
                                y:
                                  type: string
                                  description: Y EC coordinate
                              required:
                                - alg
                                - crv
                                - kid
                                - kty
                                - x
                                - y
                    required:
                      - keys
                  description:
                    type: string
                  last_updated:
                    type: string
                  title:
                    type: string
                  token_sources:
                    type: array
                    items:
                      type: string
                  token_type:
                    type: string
                    enum:
                      - JWT
                required:
                  - id
                  - created_at
                  - credentials
                  - description
                  - last_updated
                  - title
                  - token_sources
                  - token_type
      x-distilled-response-path: result
    patch:
      operationId: patchConfiguration
      description: "Edit fields of an existing Token Configuration  @example ```ts
        const response = await client.tokenValidation.configuration.edit(
        '4a7ee8d3-dd63-4ceb-9d5f-c27831854ce7', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: configId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: "Body param:"
                title:
                  type: string
                  description: "Body param:"
                token_sources:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  description:
                    type: string
                  title:
                    type: string
                  token_sources:
                    type: array
                    items:
                      type: string
      x-distilled-response-path: result
    delete:
      operationId: deleteConfiguration
      description: "Delete Token Configuration  @example ```ts const configuration =
        await client.tokenValidation.configuration.delete(
        '4a7ee8d3-dd63-4ceb-9d5f-c27831854ce7', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: configId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: UUID.
      x-distilled-response-path: result
  /zones/{zone_id}/token_validation/config:
    get:
      operationId: listConfigurations
      description: "Lists all token validation configurations for this zone  @example
        ```ts // Automatically fetches more pages as needed. for await (const
        tokenConfig of client.tokenValidation.configuration.list( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: UUID.
                  created_at:
                    type: string
                  credentials:
                    type: object
                    properties:
                      keys:
                        type: array
                        items:
                          oneOf:
                            - type: object
                              properties:
                                alg:
                                  type: string
                                  enum:
                                    - RS256
                                    - RS384
                                    - RS512
                                    - PS256
                                    - PS384
                                    - PS512
                                  description: Algorithm
                                e:
                                  type: string
                                  description: RSA exponent
                                kid:
                                  type: string
                                  description: Key ID
                                kty:
                                  type: string
                                  enum:
                                    - RSA
                                  description: Key Type
                                n:
                                  type: string
                                  description: RSA modulus
                              required:
                                - alg
                                - e
                                - kid
                                - kty
                                - n
                            - type: object
                              properties:
                                alg:
                                  type: string
                                  enum:
                                    - ES256
                                  description: Algorithm
                                crv:
                                  type: string
                                  enum:
                                    - P-256
                                  description: Curve
                                kid:
                                  type: string
                                  description: Key ID
                                kty:
                                  type: string
                                  enum:
                                    - EC
                                  description: Key Type
                                x:
                                  type: string
                                  description: X EC coordinate
                                y:
                                  type: string
                                  description: Y EC coordinate
                              required:
                                - alg
                                - crv
                                - kid
                                - kty
                                - x
                                - y
                            - type: object
                              properties:
                                alg:
                                  type: string
                                  enum:
                                    - ES384
                                  description: Algorithm
                                crv:
                                  type: string
                                  enum:
                                    - P-384
                                  description: Curve
                                kid:
                                  type: string
                                  description: Key ID
                                kty:
                                  type: string
                                  enum:
                                    - EC
                                  description: Key Type
                                x:
                                  type: string
                                  description: X EC coordinate
                                y:
                                  type: string
                                  description: Y EC coordinate
                              required:
                                - alg
                                - crv
                                - kid
                                - kty
                                - x
                                - y
                    required:
                      - keys
                  description:
                    type: string
                  last_updated:
                    type: string
                  title:
                    type: string
                  token_sources:
                    type: array
                    items:
                      type: string
                  token_type:
                    type: string
                    enum:
                      - JWT
                required:
                  - id
                  - created_at
                  - credentials
                  - description
                  - last_updated
                  - title
                  - token_sources
                  - token_type
      x-distilled-pagination-class: TokenConfigsV4PagePaginationArray
    post:
      operationId: createConfiguration
      description: "Create a new Token Validation configuration  @example ```ts const
        tokenConfig = await client.tokenValidation.configuration.create({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', credentials: { keys: [ {
        alg: 'ES256', crv: 'P-256', kid: '38013f13-c266-4eec-a72a-92ec92779f21',
        kty: 'EC', x: 'KN53JRwN3wCjm2o39bvZUX2VdrsHzS8pxOAGjm8m7EQ', y:
        'lnkkzIxaveggz-HFhcMWW15nxvOj0Z_uQsXbpK0GFcY', }, ], }, description:
        'Long description for Token Validation Configuration', title: 'Example
        Token Validation Configuration', token_sources: [
        'http.request.headers[\"x-auth\"][0]',
        'http.request.cookies[\"Authorization\"][0]', ], token_type: 'JWT', });
        ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                credentials:
                  type: object
                  properties:
                    keys:
                      type: array
                      items:
                        oneOf:
                          - type: object
                            properties:
                              alg:
                                type: string
                                enum:
                                  - RS256
                                  - RS384
                                  - RS512
                                  - PS256
                                  - PS384
                                  - PS512
                                description: Algorithm
                              e:
                                type: string
                                description: RSA exponent
                              kid:
                                type: string
                                description: Key ID
                              kty:
                                type: string
                                enum:
                                  - RSA
                                description: Key Type
                              n:
                                type: string
                                description: RSA modulus
                            required:
                              - alg
                              - e
                              - kid
                              - kty
                              - n
                          - type: object
                            properties:
                              alg:
                                type: string
                                enum:
                                  - ES256
                                description: Algorithm
                              crv:
                                type: string
                                enum:
                                  - P-256
                                description: Curve
                              kid:
                                type: string
                                description: Key ID
                              kty:
                                type: string
                                enum:
                                  - EC
                                description: Key Type
                              x:
                                type: string
                                description: X EC coordinate
                              y:
                                type: string
                                description: Y EC coordinate
                            required:
                              - alg
                              - crv
                              - kid
                              - kty
                              - x
                              - y
                          - type: object
                            properties:
                              alg:
                                type: string
                                enum:
                                  - ES384
                                description: Algorithm
                              crv:
                                type: string
                                enum:
                                  - P-384
                                description: Curve
                              kid:
                                type: string
                                description: Key ID
                              kty:
                                type: string
                                enum:
                                  - EC
                                description: Key Type
                              x:
                                type: string
                                description: X EC coordinate
                              y:
                                type: string
                                description: Y EC coordinate
                            required:
                              - alg
                              - crv
                              - kid
                              - kty
                              - x
                              - y
                  required:
                    - keys
                  description: "Body param:"
                description:
                  type: string
                  description: "Body param:"
                title:
                  type: string
                  description: "Body param:"
                token_sources:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                token_type:
                  type: string
                  enum:
                    - JWT
                  description: "Body param:"
              required:
                - credentials
                - description
                - title
                - token_sources
                - token_type
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: UUID.
                  created_at:
                    type: string
                  credentials:
                    type: object
                    properties:
                      keys:
                        type: array
                        items:
                          oneOf:
                            - type: object
                              properties:
                                alg:
                                  type: string
                                  enum:
                                    - RS256
                                    - RS384
                                    - RS512
                                    - PS256
                                    - PS384
                                    - PS512
                                  description: Algorithm
                                e:
                                  type: string
                                  description: RSA exponent
                                kid:
                                  type: string
                                  description: Key ID
                                kty:
                                  type: string
                                  enum:
                                    - RSA
                                  description: Key Type
                                n:
                                  type: string
                                  description: RSA modulus
                              required:
                                - alg
                                - e
                                - kid
                                - kty
                                - n
                            - type: object
                              properties:
                                alg:
                                  type: string
                                  enum:
                                    - ES256
                                  description: Algorithm
                                crv:
                                  type: string
                                  enum:
                                    - P-256
                                  description: Curve
                                kid:
                                  type: string
                                  description: Key ID
                                kty:
                                  type: string
                                  enum:
                                    - EC
                                  description: Key Type
                                x:
                                  type: string
                                  description: X EC coordinate
                                y:
                                  type: string
                                  description: Y EC coordinate
                              required:
                                - alg
                                - crv
                                - kid
                                - kty
                                - x
                                - y
                            - type: object
                              properties:
                                alg:
                                  type: string
                                  enum:
                                    - ES384
                                  description: Algorithm
                                crv:
                                  type: string
                                  enum:
                                    - P-384
                                  description: Curve
                                kid:
                                  type: string
                                  description: Key ID
                                kty:
                                  type: string
                                  enum:
                                    - EC
                                  description: Key Type
                                x:
                                  type: string
                                  description: X EC coordinate
                                y:
                                  type: string
                                  description: Y EC coordinate
                              required:
                                - alg
                                - crv
                                - kid
                                - kty
                                - x
                                - y
                    required:
                      - keys
                  description:
                    type: string
                  last_updated:
                    type: string
                  title:
                    type: string
                  token_sources:
                    type: array
                    items:
                      type: string
                  token_type:
                    type: string
                    enum:
                      - JWT
                required:
                  - id
                  - created_at
                  - credentials
                  - description
                  - last_updated
                  - title
                  - token_sources
                  - token_type
      x-distilled-response-path: result
  /zones/{zone_id}/token_validation/config/{configId}/credentials:
    put:
      operationId: putConfigurationCredential
      description: "Update Token Configuration credentials  @example ```ts const
        credential = await
        client.tokenValidation.configuration.credentials.update(
        '4a7ee8d3-dd63-4ceb-9d5f-c27831854ce7', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', keys: [ { alg: 'ES256', crv:
        'P-256', kid: '38013f13-c266-4eec-a72a-92ec92779f21', kty: 'EC', x:
        'KN53JRwN3wCjm2o39bvZUX2VdrsHzS8pxOAGjm8m7EQ', y:
        'lnkkzIxaveggz-HFhcMWW15nxvOj0Z_uQsXbpK0GFcY', }, ], }, ); ```"
      parameters:
        - name: configId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                keys:
                  type: array
                  items:
                    oneOf:
                      - type: object
                        properties:
                          alg:
                            type: string
                            enum:
                              - RS256
                              - RS384
                              - RS512
                              - PS256
                              - PS384
                              - PS512
                            description: Algorithm
                          e:
                            type: string
                            description: RSA exponent
                          kid:
                            type: string
                            description: Key ID
                          kty:
                            type: string
                            enum:
                              - RSA
                            description: Key Type
                          n:
                            type: string
                            description: RSA modulus
                        required:
                          - alg
                          - e
                          - kid
                          - kty
                          - n
                      - type: object
                        properties:
                          alg:
                            type: string
                            enum:
                              - ES256
                            description: Algorithm
                          crv:
                            type: string
                            enum:
                              - P-256
                            description: Curve
                          kid:
                            type: string
                            description: Key ID
                          kty:
                            type: string
                            enum:
                              - EC
                            description: Key Type
                          x:
                            type: string
                            description: X EC coordinate
                          y:
                            type: string
                            description: Y EC coordinate
                        required:
                          - alg
                          - crv
                          - kid
                          - kty
                          - x
                          - y
                      - type: object
                        properties:
                          alg:
                            type: string
                            enum:
                              - ES384
                            description: Algorithm
                          crv:
                            type: string
                            enum:
                              - P-384
                            description: Curve
                          kid:
                            type: string
                            description: Key ID
                          kty:
                            type: string
                            enum:
                              - EC
                            description: Key Type
                          x:
                            type: string
                            description: X EC coordinate
                          y:
                            type: string
                            description: Y EC coordinate
                        required:
                          - alg
                          - crv
                          - kid
                          - kty
                          - x
                          - y
                  description: "Body param:"
              required:
                - keys
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  keys:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            alg:
                              type: string
                              enum:
                                - RS256
                                - RS384
                                - RS512
                                - PS256
                                - PS384
                                - PS512
                              description: Algorithm
                            e:
                              type: string
                              description: RSA exponent
                            kid:
                              type: string
                              description: Key ID
                            kty:
                              type: string
                              enum:
                                - RSA
                              description: Key Type
                            n:
                              type: string
                              description: RSA modulus
                          required:
                            - alg
                            - e
                            - kid
                            - kty
                            - n
                        - type: object
                          properties:
                            alg:
                              type: string
                              enum:
                                - ES256
                              description: Algorithm
                            crv:
                              type: string
                              enum:
                                - P-256
                              description: Curve
                            kid:
                              type: string
                              description: Key ID
                            kty:
                              type: string
                              enum:
                                - EC
                              description: Key Type
                            x:
                              type: string
                              description: X EC coordinate
                            y:
                              type: string
                              description: Y EC coordinate
                          required:
                            - alg
                            - crv
                            - kid
                            - kty
                            - x
                            - y
                        - type: object
                          properties:
                            alg:
                              type: string
                              enum:
                                - ES384
                              description: Algorithm
                            crv:
                              type: string
                              enum:
                                - P-384
                              description: Curve
                            kid:
                              type: string
                              description: Key ID
                            kty:
                              type: string
                              enum:
                                - EC
                              description: Key Type
                            x:
                              type: string
                              description: X EC coordinate
                            y:
                              type: string
                              description: Y EC coordinate
                          required:
                            - alg
                            - crv
                            - kid
                            - kty
                            - x
                            - y
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - keys
                  - messages
                  - success
  /zones/{zone_id}/token_validation/rules/{ruleId}:
    get:
      operationId: getRule
      description: "Get a zone token validation rule.  @example ```ts const
        tokenValidationRule = await client.tokenValidation.rules.get(
        '4a7ee8d3-dd63-4ceb-9d5f-c27831854ce7', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    type: string
                    enum:
                      - log
                      - block
                    description: Action to take on requests that match operations included in
                      `selector` and fail `expression`.
                  description:
                    type: string
                    description: A human-readable description that gives more details than `title`.
                  enabled:
                    type: boolean
                    description: Toggle rule on or off.
                  expression:
                    type: string
                    description: Rule expression. Requests that fail to match this expression will
                      be subject to `action`.  For details on expressions, see
                      the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  selector:
                    type: object
                    properties:
                      exclude:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                operation_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: Excluded operation IDs.
                        nullable: true
                        description: Ignore operations that were otherwise included by `include`.
                      include:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                host:
                                  type: array
                                  items:
                                    type: string
                                  description: Included hostnames.
                        nullable: true
                        description: Select all matching operations.
                    description: Select operations covered by this rule.  For details on selectors,
                      see the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  title:
                    type: string
                    description: A human-readable name for the rule.
                  id:
                    type: string
                    description: UUID.
                  created_at:
                    type: string
                  last_updated:
                    type: string
                required:
                  - action
                  - description
                  - enabled
                  - expression
                  - selector
                  - title
      x-distilled-response-path: result
    patch:
      operationId: patchRule
      description: "Edit a zone token validation rule.  @example ```ts const
        tokenValidationRule = await client.tokenValidation.rules.edit(
        '4a7ee8d3-dd63-4ceb-9d5f-c27831854ce7', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                    - log
                    - block
                  description: "Body param: Action to take on requests that match operations
                    included in `selector` and fail `expression`."
                description:
                  type: string
                  description: "Body param: A human-readable description that gives more details
                    than `title`."
                enabled:
                  type: boolean
                  description: "Body param: Toggle rule on or off."
                expression:
                  type: string
                  description: "Body param: Rule expression. Requests that fail to match this
                    expression will be subject to `action`.  For details on
                    expressions, see the [Cloudflare
                    Docs](https://developers.cloudflare.com/api-shield/security\
                    /jwt-validation/)."
                position:
                  oneOf:
                    - type: object
                      properties:
                        index:
                          type: number
                          description: Move rule to this position
                      required:
                        - index
                    - type: object
                      properties:
                        before:
                          type: string
                          description: Move rule to before rule with this ID.
                    - type: object
                      properties:
                        after:
                          type: string
                          description: Move rule to after rule with this ID.
                  description: "Body param: Update rule order among zone rules."
                selector:
                  type: object
                  properties:
                    exclude:
                      oneOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              operation_ids:
                                type: array
                                items:
                                  type: string
                                description: Excluded operation IDs.
                      nullable: true
                      description: Ignore operations that were otherwise included by `include`.
                    include:
                      oneOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              host:
                                type: array
                                items:
                                  type: string
                                description: Included hostnames.
                      nullable: true
                      description: Select all matching operations.
                  description: "Body param: Select operations covered by this rule.  For details
                    on selectors, see the [Cloudflare
                    Docs](https://developers.cloudflare.com/api-shield/security\
                    /jwt-validation/)."
                title:
                  type: string
                  description: "Body param: A human-readable name for the rule."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    type: string
                    enum:
                      - log
                      - block
                    description: Action to take on requests that match operations included in
                      `selector` and fail `expression`.
                  description:
                    type: string
                    description: A human-readable description that gives more details than `title`.
                  enabled:
                    type: boolean
                    description: Toggle rule on or off.
                  expression:
                    type: string
                    description: Rule expression. Requests that fail to match this expression will
                      be subject to `action`.  For details on expressions, see
                      the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  selector:
                    type: object
                    properties:
                      exclude:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                operation_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: Excluded operation IDs.
                        nullable: true
                        description: Ignore operations that were otherwise included by `include`.
                      include:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                host:
                                  type: array
                                  items:
                                    type: string
                                  description: Included hostnames.
                        nullable: true
                        description: Select all matching operations.
                    description: Select operations covered by this rule.  For details on selectors,
                      see the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  title:
                    type: string
                    description: A human-readable name for the rule.
                  id:
                    type: string
                    description: UUID.
                  created_at:
                    type: string
                  last_updated:
                    type: string
                required:
                  - action
                  - description
                  - enabled
                  - expression
                  - selector
                  - title
      x-distilled-response-path: result
    delete:
      operationId: deleteRule
      description: "Delete a zone token validation rule.  @example ```ts const rule =
        await client.tokenValidation.rules.delete(
        '4a7ee8d3-dd63-4ceb-9d5f-c27831854ce7', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /zones/{zone_id}/token_validation/rules:
    get:
      operationId: listRules
      description: "List token validation rules  @example ```ts // Automatically
        fetches more pages as needed. for await (const tokenValidationRule of
        client.tokenValidation.rules.list( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: id
          in: query
          required: false
          description: "Query param: Select rules with these IDs."
          schema:
            type: string
        - name: action
          in: query
          required: false
          description: "Query param: Action to take on requests that match operations
            included in `selector` and fail `expression`."
          schema:
            type: string
            enum:
              - log
              - block
        - name: enabled
          in: query
          required: false
          description: "Query param: Toggle rule on or off."
          schema:
            type: boolean
        - name: host
          in: query
          required: false
          description: "Query param: Select rules with this host in `include`."
          schema:
            type: string
        - name: hostname
          in: query
          required: false
          description: "Query param: Select rules with this host in `include`."
          schema:
            type: string
        - name: rule_id
          in: query
          required: false
          description: "Query param: Select rules with these IDs."
          schema:
            type: string
        - name: token_configuration
          in: query
          required: false
          description: "Query param: Select rules using any of these token configurations."
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    type: string
                    enum:
                      - log
                      - block
                    description: Action to take on requests that match operations included in
                      `selector` and fail `expression`.
                  description:
                    type: string
                    description: A human-readable description that gives more details than `title`.
                  enabled:
                    type: boolean
                    description: Toggle rule on or off.
                  expression:
                    type: string
                    description: Rule expression. Requests that fail to match this expression will
                      be subject to `action`.  For details on expressions, see
                      the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  selector:
                    type: object
                    properties:
                      exclude:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                operation_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: Excluded operation IDs.
                        nullable: true
                        description: Ignore operations that were otherwise included by `include`.
                      include:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                host:
                                  type: array
                                  items:
                                    type: string
                                  description: Included hostnames.
                        nullable: true
                        description: Select all matching operations.
                    description: Select operations covered by this rule.  For details on selectors,
                      see the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  title:
                    type: string
                    description: A human-readable name for the rule.
                  id:
                    type: string
                    description: UUID.
                  created_at:
                    type: string
                  last_updated:
                    type: string
                required:
                  - action
                  - description
                  - enabled
                  - expression
                  - selector
                  - title
      x-distilled-pagination-class: TokenValidationRulesV4PagePaginationArray
    post:
      operationId: createRule
      description: "Create a token validation rule.  @example ```ts const
        tokenValidationRule = await client.tokenValidation.rules.create({
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', action: 'log', description:
        'Long description for Token Validation Rule', enabled: true, expression:
        'is_jwt_valid(\"52973293-cb04-4a97-8f55-e7d2ad1107dd\") or
        is_jwt_valid(\"46eab8d1-6376-45e3-968f-2c649d77d423\")', selector: {},
        title: 'Example Token Validation Rule', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                    - log
                    - block
                  description: "Body param: Action to take on requests that match operations
                    included in `selector` and fail `expression`."
                description:
                  type: string
                  description: "Body param: A human-readable description that gives more details
                    than `title`."
                enabled:
                  type: boolean
                  description: "Body param: Toggle rule on or off."
                expression:
                  type: string
                  description: "Body param: Rule expression. Requests that fail to match this
                    expression will be subject to `action`.  For details on
                    expressions, see the [Cloudflare
                    Docs](https://developers.cloudflare.com/api-shield/security\
                    /jwt-validation/)."
                selector:
                  type: object
                  properties:
                    exclude:
                      oneOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              operation_ids:
                                type: array
                                items:
                                  type: string
                                description: Excluded operation IDs.
                      nullable: true
                      description: Ignore operations that were otherwise included by `include`.
                    include:
                      oneOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              host:
                                type: array
                                items:
                                  type: string
                                description: Included hostnames.
                      nullable: true
                      description: Select all matching operations.
                  description: "Body param: Select operations covered by this rule.  For details
                    on selectors, see the [Cloudflare
                    Docs](https://developers.cloudflare.com/api-shield/security\
                    /jwt-validation/)."
                title:
                  type: string
                  description: "Body param: A human-readable name for the rule."
              required:
                - action
                - description
                - enabled
                - expression
                - selector
                - title
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    type: string
                    enum:
                      - log
                      - block
                    description: Action to take on requests that match operations included in
                      `selector` and fail `expression`.
                  description:
                    type: string
                    description: A human-readable description that gives more details than `title`.
                  enabled:
                    type: boolean
                    description: Toggle rule on or off.
                  expression:
                    type: string
                    description: Rule expression. Requests that fail to match this expression will
                      be subject to `action`.  For details on expressions, see
                      the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  selector:
                    type: object
                    properties:
                      exclude:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                operation_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: Excluded operation IDs.
                        nullable: true
                        description: Ignore operations that were otherwise included by `include`.
                      include:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                host:
                                  type: array
                                  items:
                                    type: string
                                  description: Included hostnames.
                        nullable: true
                        description: Select all matching operations.
                    description: Select operations covered by this rule.  For details on selectors,
                      see the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  title:
                    type: string
                    description: A human-readable name for the rule.
                  id:
                    type: string
                    description: UUID.
                  created_at:
                    type: string
                  last_updated:
                    type: string
                required:
                  - action
                  - description
                  - enabled
                  - expression
                  - selector
                  - title
      x-distilled-response-path: result
  /zones/{zone_id}/token_validation/rules/bulk:
    post:
      operationId: bulkCreateRules
      description: "Create zone token validation rules.  A request can create multiple
        Token Validation Rules.  @example ```ts // Automatically fetches more
        pages as needed. for await (const tokenValidationRule of
        client.tokenValidation.rules.bulkCreate( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', body: [ { action: 'log',
        description: 'Long description for Token Validation Rule', enabled:
        true, expression:
        'is_jwt_valid(\"52973293-cb04-4a97-8f55-e7d2ad1107dd\") or
        is_jwt_valid(\"46eab8d1-6376-45e3-968f-2c649d77d423\")', selector: {},
        title: 'Example Token Validation Rule', }, ], }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  action:
                    type: string
                    enum:
                      - log
                      - block
                    description: Action to take on requests that match operations included in
                      `selector` and fail `expression`.
                  description:
                    type: string
                    description: A human-readable description that gives more details than `title`.
                  enabled:
                    type: boolean
                    description: Toggle rule on or off.
                  expression:
                    type: string
                    description: Rule expression. Requests that fail to match this expression will
                      be subject to `action`.  For details on expressions, see
                      the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  selector:
                    type: object
                    properties:
                      exclude:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                operation_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: Excluded operation IDs.
                        nullable: true
                        description: Ignore operations that were otherwise included by `include`.
                      include:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                host:
                                  type: array
                                  items:
                                    type: string
                                  description: Included hostnames.
                        nullable: true
                        description: Select all matching operations.
                    description: Select operations covered by this rule.  For details on selectors,
                      see the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  title:
                    type: string
                    description: A human-readable name for the rule.
                required:
                  - action
                  - description
                  - enabled
                  - expression
                  - selector
                  - title
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    type: string
                    enum:
                      - log
                      - block
                    description: Action to take on requests that match operations included in
                      `selector` and fail `expression`.
                  description:
                    type: string
                    description: A human-readable description that gives more details than `title`.
                  enabled:
                    type: boolean
                    description: Toggle rule on or off.
                  expression:
                    type: string
                    description: Rule expression. Requests that fail to match this expression will
                      be subject to `action`.  For details on expressions, see
                      the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  selector:
                    type: object
                    properties:
                      exclude:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                operation_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: Excluded operation IDs.
                        nullable: true
                        description: Ignore operations that were otherwise included by `include`.
                      include:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                host:
                                  type: array
                                  items:
                                    type: string
                                  description: Included hostnames.
                        nullable: true
                        description: Select all matching operations.
                    description: Select operations covered by this rule.  For details on selectors,
                      see the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  title:
                    type: string
                    description: A human-readable name for the rule.
                  id:
                    type: string
                    description: UUID.
                  created_at:
                    type: string
                  last_updated:
                    type: string
                required:
                  - action
                  - description
                  - enabled
                  - expression
                  - selector
                  - title
      x-distilled-pagination-class: TokenValidationRulesSinglePage
    patch:
      operationId: bulkPatchRules
      description: "Edit token validation rules.  A request can update multiple Token
        Validation Rules.  Rules can be re-ordered using the `position`
        field.  Returns all updated rules.  @example ```ts // Automatically
        fetches more pages as needed. for await (const tokenValidationRule of
        client.tokenValidation.rules.bulkEdit( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', body: [{ id:
        '0d9bf70c-92e1-4bb3-9411-34a3bcc59003' }], }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: Rule ID this patch applies to
                  action:
                    type: string
                    enum:
                      - log
                      - block
                    description: Action to take on requests that match operations included in
                      `selector` and fail `expression`.
                  description:
                    type: string
                    description: A human-readable description that gives more details than `title`.
                  enabled:
                    type: boolean
                    description: Toggle rule on or off.
                  expression:
                    type: string
                    description: Rule expression. Requests that fail to match this expression will
                      be subject to `action`.  For details on expressions, see
                      the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  position:
                    oneOf:
                      - type: object
                        properties:
                          index:
                            type: number
                            description: Move rule to this position
                        required:
                          - index
                      - type: object
                        properties:
                          before:
                            type: string
                            description: Move rule to before rule with this ID.
                      - type: object
                        properties:
                          after:
                            type: string
                            description: Move rule to after rule with this ID.
                    description: Update rule order among zone rules.
                  selector:
                    type: object
                    properties:
                      exclude:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                operation_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: Excluded operation IDs.
                        nullable: true
                        description: Ignore operations that were otherwise included by `include`.
                      include:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                host:
                                  type: array
                                  items:
                                    type: string
                                  description: Included hostnames.
                        nullable: true
                        description: Select all matching operations.
                    description: Select operations covered by this rule.  For details on selectors,
                      see the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  title:
                    type: string
                    description: A human-readable name for the rule.
                required:
                  - id
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  action:
                    type: string
                    enum:
                      - log
                      - block
                    description: Action to take on requests that match operations included in
                      `selector` and fail `expression`.
                  description:
                    type: string
                    description: A human-readable description that gives more details than `title`.
                  enabled:
                    type: boolean
                    description: Toggle rule on or off.
                  expression:
                    type: string
                    description: Rule expression. Requests that fail to match this expression will
                      be subject to `action`.  For details on expressions, see
                      the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  selector:
                    type: object
                    properties:
                      exclude:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                operation_ids:
                                  type: array
                                  items:
                                    type: string
                                  description: Excluded operation IDs.
                        nullable: true
                        description: Ignore operations that were otherwise included by `include`.
                      include:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                host:
                                  type: array
                                  items:
                                    type: string
                                  description: Included hostnames.
                        nullable: true
                        description: Select all matching operations.
                    description: Select operations covered by this rule.  For details on selectors,
                      see the [Cloudflare
                      Docs](https://developers.cloudflare.com/api-shield/security/jwt-validation/).
                  title:
                    type: string
                    description: A human-readable name for the rule.
                  id:
                    type: string
                    description: UUID.
                  created_at:
                    type: string
                  last_updated:
                    type: string
                required:
                  - action
                  - description
                  - enabled
                  - expression
                  - selector
                  - title
      x-distilled-pagination-class: TokenValidationRulesSinglePage
