openapi: 3.1.0
info:
  title: Cloudflare TURNSTILE API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: turnstile
paths:
  /accounts/{account_id}/challenges/widgets/{sitekey}/rotate_secret:
    post:
      operationId: rotateSecretWidget
      description: "Generate a new secret key for this widget. If
        `invalidate_immediately` is set to `false`, the previous secret remains
        valid for 2 hours.  Note that secrets cannot be rotated again during the
        grace period.  @example ```ts const widget = await
        client.turnstile.widgets.rotateSecret( '0x4AAF00AAAABn0R22HWm-YUc', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: sitekey
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                invalidate_immediately:
                  type: boolean
                  description: "Body param: If `invalidate_immediately` is set to `false`, the
                    previous secret will remain valid for two hours. Otherwise,
                    the secret is immediately invalidated, and requests using it
                    will be rejected."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  bot_fight_mode:
                    type: boolean
                    description: If bot_fight_mode is set to `true`, Cloudflare issues
                      computationally expensive challenges in response to
                      malicious bots (ENT only).
                  clearance_level:
                    type: string
                    enum:
                      - no_clearance
                      - jschallenge
                      - managed
                      - interactive
                    description: If Turnstile is embedded on a Cloudflare site and the widget should
                      grant challenge clearance, this setting can determine the
                      clearance level to be set
                  created_on:
                    type: string
                    description: When the widget was created.
                  domains:
                    type: array
                    items:
                      type: string
                  ephemeral_id:
                    type: boolean
                    description: Return the Ephemeral ID in /siteverify (ENT only).
                  mode:
                    type: string
                    enum:
                      - non-interactive
                      - invisible
                      - managed
                    description: Widget Mode
                  modified_on:
                    type: string
                    description: When the widget was modified.
                  name:
                    type: string
                    description: Human readable widget name. Not unique. Cloudflare suggests that
                      you set this to a meaningful string to make it easier to
                      identify your widget, and where it is used.
                  offlabel:
                    type: boolean
                    description: Do not show any Cloudflare branding on the widget (ENT only).
                  region:
                    type: string
                    enum:
                      - world
                      - china
                    description: Region where this widget can be used. This cannot be changed after
                      creation.
                  secret:
                    type: string
                    description: Secret key for this widget.
                  sitekey:
                    type: string
                    description: Widget item identifier tag.
                required:
                  - bot_fight_mode
                  - clearance_level
                  - created_on
                  - domains
                  - ephemeral_id
                  - mode
                  - modified_on
                  - name
                  - offlabel
                  - region
                  - secret
                  - sitekey
      x-distilled-response-path: result
  /accounts/{account_id}/challenges/widgets/{sitekey}:
    get:
      operationId: getWidget
      description: "Show a single challenge widget configuration.  @example ```ts
        const widget = await client.turnstile.widgets.get(
        '0x4AAF00AAAABn0R22HWm-YUc', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: sitekey
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  bot_fight_mode:
                    type: boolean
                    description: If bot_fight_mode is set to `true`, Cloudflare issues
                      computationally expensive challenges in response to
                      malicious bots (ENT only).
                  clearance_level:
                    type: string
                    enum:
                      - no_clearance
                      - jschallenge
                      - managed
                      - interactive
                    description: If Turnstile is embedded on a Cloudflare site and the widget should
                      grant challenge clearance, this setting can determine the
                      clearance level to be set
                  created_on:
                    type: string
                    description: When the widget was created.
                  domains:
                    type: array
                    items:
                      type: string
                  ephemeral_id:
                    type: boolean
                    description: Return the Ephemeral ID in /siteverify (ENT only).
                  mode:
                    type: string
                    enum:
                      - non-interactive
                      - invisible
                      - managed
                    description: Widget Mode
                  modified_on:
                    type: string
                    description: When the widget was modified.
                  name:
                    type: string
                    description: Human readable widget name. Not unique. Cloudflare suggests that
                      you set this to a meaningful string to make it easier to
                      identify your widget, and where it is used.
                  offlabel:
                    type: boolean
                    description: Do not show any Cloudflare branding on the widget (ENT only).
                  region:
                    type: string
                    enum:
                      - world
                      - china
                    description: Region where this widget can be used. This cannot be changed after
                      creation.
                  secret:
                    type: string
                    description: Secret key for this widget.
                  sitekey:
                    type: string
                    description: Widget item identifier tag.
                required:
                  - bot_fight_mode
                  - clearance_level
                  - created_on
                  - domains
                  - ephemeral_id
                  - mode
                  - modified_on
                  - name
                  - offlabel
                  - region
                  - secret
                  - sitekey
      x-distilled-response-path: result
    put:
      operationId: updateWidget
      description: "Update the configuration of a widget.  @example ```ts const widget
        = await client.turnstile.widgets.update( '0x4AAF00AAAABn0R22HWm-YUc', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', domains: [
        '203.0.113.1', 'cloudflare.com', 'blog.example.com', ], mode:
        'invisible', name: 'blog.cloudflare.com login form', }, ); ```"
      parameters:
        - name: sitekey
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                mode:
                  type: string
                  enum:
                    - non-interactive
                    - invisible
                    - managed
                  description: "Body param: Widget Mode"
                name:
                  type: string
                  description: "Body param: Human readable widget name. Not unique. Cloudflare
                    suggests that you set this to a meaningful string to make it
                    easier to identify your widget, and where it is used."
                bot_fight_mode:
                  type: boolean
                  description: "Body param: If bot_fight_mode is set to `true`, Cloudflare issues
                    computationally expensive challenges in response to
                    malicious bots (ENT only)."
                clearance_level:
                  type: string
                  enum:
                    - no_clearance
                    - jschallenge
                    - managed
                    - interactive
                  description: "Body param: If Turnstile is embedded on a Cloudflare site and the
                    widget should grant challenge clearance, this setting can
                    determine the clearance level to be set"
                ephemeral_id:
                  type: boolean
                  description: "Body param: Return the Ephemeral ID in /siteverify (ENT only)."
                offlabel:
                  type: boolean
                  description: "Body param: Do not show any Cloudflare branding on the widget (ENT
                    only)."
                region:
                  type: string
                  enum:
                    - world
                    - china
                  description: "Body param: Region where this widget can be used. This cannot be
                    changed after creation."
              required:
                - domains
                - mode
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  bot_fight_mode:
                    type: boolean
                    description: If bot_fight_mode is set to `true`, Cloudflare issues
                      computationally expensive challenges in response to
                      malicious bots (ENT only).
                  clearance_level:
                    type: string
                    enum:
                      - no_clearance
                      - jschallenge
                      - managed
                      - interactive
                    description: If Turnstile is embedded on a Cloudflare site and the widget should
                      grant challenge clearance, this setting can determine the
                      clearance level to be set
                  created_on:
                    type: string
                    description: When the widget was created.
                  domains:
                    type: array
                    items:
                      type: string
                  ephemeral_id:
                    type: boolean
                    description: Return the Ephemeral ID in /siteverify (ENT only).
                  mode:
                    type: string
                    enum:
                      - non-interactive
                      - invisible
                      - managed
                    description: Widget Mode
                  modified_on:
                    type: string
                    description: When the widget was modified.
                  name:
                    type: string
                    description: Human readable widget name. Not unique. Cloudflare suggests that
                      you set this to a meaningful string to make it easier to
                      identify your widget, and where it is used.
                  offlabel:
                    type: boolean
                    description: Do not show any Cloudflare branding on the widget (ENT only).
                  region:
                    type: string
                    enum:
                      - world
                      - china
                    description: Region where this widget can be used. This cannot be changed after
                      creation.
                  secret:
                    type: string
                    description: Secret key for this widget.
                  sitekey:
                    type: string
                    description: Widget item identifier tag.
                required:
                  - bot_fight_mode
                  - clearance_level
                  - created_on
                  - domains
                  - ephemeral_id
                  - mode
                  - modified_on
                  - name
                  - offlabel
                  - region
                  - secret
                  - sitekey
      x-distilled-response-path: result
    delete:
      operationId: deleteWidget
      description: "Destroy a Turnstile Widget.  @example ```ts const widget = await
        client.turnstile.widgets.delete( '0x4AAF00AAAABn0R22HWm-YUc', {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: sitekey
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  bot_fight_mode:
                    type: boolean
                    description: If bot_fight_mode is set to `true`, Cloudflare issues
                      computationally expensive challenges in response to
                      malicious bots (ENT only).
                  clearance_level:
                    type: string
                    enum:
                      - no_clearance
                      - jschallenge
                      - managed
                      - interactive
                    description: If Turnstile is embedded on a Cloudflare site and the widget should
                      grant challenge clearance, this setting can determine the
                      clearance level to be set
                  created_on:
                    type: string
                    description: When the widget was created.
                  domains:
                    type: array
                    items:
                      type: string
                  ephemeral_id:
                    type: boolean
                    description: Return the Ephemeral ID in /siteverify (ENT only).
                  mode:
                    type: string
                    enum:
                      - non-interactive
                      - invisible
                      - managed
                    description: Widget Mode
                  modified_on:
                    type: string
                    description: When the widget was modified.
                  name:
                    type: string
                    description: Human readable widget name. Not unique. Cloudflare suggests that
                      you set this to a meaningful string to make it easier to
                      identify your widget, and where it is used.
                  offlabel:
                    type: boolean
                    description: Do not show any Cloudflare branding on the widget (ENT only).
                  region:
                    type: string
                    enum:
                      - world
                      - china
                    description: Region where this widget can be used. This cannot be changed after
                      creation.
                  secret:
                    type: string
                    description: Secret key for this widget.
                  sitekey:
                    type: string
                    description: Widget item identifier tag.
                required:
                  - bot_fight_mode
                  - clearance_level
                  - created_on
                  - domains
                  - ephemeral_id
                  - mode
                  - modified_on
                  - name
                  - offlabel
                  - region
                  - secret
                  - sitekey
      x-distilled-response-path: result
  /accounts/{account_id}/challenges/widgets:
    get:
      operationId: listWidgets
      description: "Lists all turnstile widgets of an account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        widgetListResponse of client.turnstile.widgets.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
        - name: direction
          in: query
          required: false
          description: "Query param: Direction to order widgets."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: order
          in: query
          required: false
          description: "Query param: Field to order widgets by."
          schema:
            type: string
            enum:
              - id
              - sitekey
              - name
              - created_on
              - modified_on
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  bot_fight_mode:
                    type: boolean
                    description: If bot_fight_mode is set to `true`, Cloudflare issues
                      computationally expensive challenges in response to
                      malicious bots (ENT only).
                  clearance_level:
                    type: string
                    enum:
                      - no_clearance
                      - jschallenge
                      - managed
                      - interactive
                    description: If Turnstile is embedded on a Cloudflare site and the widget should
                      grant challenge clearance, this setting can determine the
                      clearance level to be set
                  created_on:
                    type: string
                    description: When the widget was created.
                  domains:
                    type: array
                    items:
                      type: string
                  ephemeral_id:
                    type: boolean
                    description: Return the Ephemeral ID in /siteverify (ENT only).
                  mode:
                    type: string
                    enum:
                      - non-interactive
                      - invisible
                      - managed
                    description: Widget Mode
                  modified_on:
                    type: string
                    description: When the widget was modified.
                  name:
                    type: string
                    description: Human readable widget name. Not unique. Cloudflare suggests that
                      you set this to a meaningful string to make it easier to
                      identify your widget, and where it is used.
                  offlabel:
                    type: boolean
                    description: Do not show any Cloudflare branding on the widget (ENT only).
                  region:
                    type: string
                    enum:
                      - world
                      - china
                    description: Region where this widget can be used. This cannot be changed after
                      creation.
                  sitekey:
                    type: string
                    description: Widget item identifier tag.
                required:
                  - bot_fight_mode
                  - clearance_level
                  - created_on
                  - domains
                  - ephemeral_id
                  - mode
                  - modified_on
                  - name
                  - offlabel
                  - region
                  - sitekey
      x-distilled-pagination-class: WidgetListResponsesV4PagePaginationArray
    post:
      operationId: createWidget
      description: "Lists challenge widgets.  @example ```ts const widget = await
        client.turnstile.widgets.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', domains: [ '203.0.113.1',
        'cloudflare.com', 'blog.example.com', ], mode: 'invisible', name:
        'blog.cloudflare.com login form', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
        - name: direction
          in: query
          required: false
          description: "Query param: Direction to order widgets."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: order
          in: query
          required: false
          description: "Query param: Field to order widgets by."
          schema:
            type: string
            enum:
              - id
              - sitekey
              - name
              - created_on
              - modified_on
        - name: page
          in: query
          required: false
          description: "Query param: Page number of paginated results."
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          description: "Query param: Number of items per page."
          schema:
            type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domains:
                  type: array
                  items:
                    type: string
                  description: "Body param:"
                mode:
                  type: string
                  enum:
                    - non-interactive
                    - invisible
                    - managed
                  description: "Body param: Widget Mode"
                name:
                  type: string
                  description: "Body param: Human readable widget name. Not unique. Cloudflare
                    suggests that you set this to a meaningful string to make it
                    easier to identify your widget, and where it is used."
                bot_fight_mode:
                  type: boolean
                  description: "Body param: If bot_fight_mode is set to `true`, Cloudflare issues
                    computationally expensive challenges in response to
                    malicious bots (ENT only)."
                clearance_level:
                  type: string
                  enum:
                    - no_clearance
                    - jschallenge
                    - managed
                    - interactive
                  description: "Body param: If Turnstile is embedded on a Cloudflare site and the
                    widget should grant challenge clearance, this setting can
                    determine the clearance level to be set"
                ephemeral_id:
                  type: boolean
                  description: "Body param: Return the Ephemeral ID in /siteverify (ENT only)."
                offlabel:
                  type: boolean
                  description: "Body param: Do not show any Cloudflare branding on the widget (ENT
                    only)."
                region:
                  type: string
                  enum:
                    - world
                    - china
                  description: "Body param: Region where this widget can be used. This cannot be
                    changed after creation."
              required:
                - domains
                - mode
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  bot_fight_mode:
                    type: boolean
                    description: If bot_fight_mode is set to `true`, Cloudflare issues
                      computationally expensive challenges in response to
                      malicious bots (ENT only).
                  clearance_level:
                    type: string
                    enum:
                      - no_clearance
                      - jschallenge
                      - managed
                      - interactive
                    description: If Turnstile is embedded on a Cloudflare site and the widget should
                      grant challenge clearance, this setting can determine the
                      clearance level to be set
                  created_on:
                    type: string
                    description: When the widget was created.
                  domains:
                    type: array
                    items:
                      type: string
                  ephemeral_id:
                    type: boolean
                    description: Return the Ephemeral ID in /siteverify (ENT only).
                  mode:
                    type: string
                    enum:
                      - non-interactive
                      - invisible
                      - managed
                    description: Widget Mode
                  modified_on:
                    type: string
                    description: When the widget was modified.
                  name:
                    type: string
                    description: Human readable widget name. Not unique. Cloudflare suggests that
                      you set this to a meaningful string to make it easier to
                      identify your widget, and where it is used.
                  offlabel:
                    type: boolean
                    description: Do not show any Cloudflare branding on the widget (ENT only).
                  region:
                    type: string
                    enum:
                      - world
                      - china
                    description: Region where this widget can be used. This cannot be changed after
                      creation.
                  secret:
                    type: string
                    description: Secret key for this widget.
                  sitekey:
                    type: string
                    description: Widget item identifier tag.
                required:
                  - bot_fight_mode
                  - clearance_level
                  - created_on
                  - domains
                  - ephemeral_id
                  - mode
                  - modified_on
                  - name
                  - offlabel
                  - region
                  - secret
                  - sitekey
      x-distilled-response-path: result
