openapi: 3.1.0
info:
  title: Cloudflare URL-NORMALIZATION API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: url-normalization
paths:
  /zones/{zone_id}/url_normalization:
    get:
      operationId: getURLNormalization
      description: "Fetches the current URL Normalization settings.  @example ```ts
        const urlNormalization = await client.urlNormalization.get({ zone_id:
        '9f1839b6152d298aca64c4e906b6d074', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: The unique ID of the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  scope:
                    type: string
                    enum:
                      - incoming
                      - both
                      - none
                    description: The scope of the URL normalization.
                  type:
                    type: string
                    enum:
                      - cloudflare
                      - rfc3986
                    description: The type of URL normalization performed by Cloudflare.
                required:
                  - scope
                  - type
      x-distilled-response-path: result
    put:
      operationId: putURLNormalization
      description: "Updates the URL Normalization settings.  @example ```ts const
        urlNormalization = await client.urlNormalization.update({ zone_id:
        '9f1839b6152d298aca64c4e906b6d074', scope: 'incoming', type:
        'cloudflare', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: The unique ID of the zone."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: string
                  enum:
                    - incoming
                    - both
                    - none
                  description: "Body param: The scope of the URL normalization."
                type:
                  type: string
                  enum:
                    - cloudflare
                    - rfc3986
                  description: "Body param: The type of URL normalization performed by
                    Cloudflare."
              required:
                - scope
                - type
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  scope:
                    type: string
                    enum:
                      - incoming
                      - both
                      - none
                    description: The scope of the URL normalization.
                  type:
                    type: string
                    enum:
                      - cloudflare
                      - rfc3986
                    description: The type of URL normalization performed by Cloudflare.
                required:
                  - scope
                  - type
      x-distilled-response-path: result
    delete:
      operationId: deleteURLNormalization
      description: "Deletes the URL Normalization settings.  @example ```ts await
        client.urlNormalization.delete({ zone_id:
        '9f1839b6152d298aca64c4e906b6d074', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: The unique ID of the zone.
          schema:
            type: string
      responses:
        "200":
          description: Success
