openapi: 3.1.0
info:
  title: Cloudflare VULNERABILITY-SCANNER API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: vulnerability-scanner
paths:
  /accounts/{account_id}/vuln_scanner/credential_sets/{credentialSetId}:
    get:
      operationId: getCredentialSet
      description: "Returns a single credential set by ID.  @example ```ts const
        credentialSet = await client.vulnerabilityScanner.credentialSets.get(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential set identifier.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
    put:
      operationId: updateCredentialSet
      description: "Replaces a credential set. All fields must be provided.  @example
        ```ts const credentialSet = await
        client.vulnerabilityScanner.credentialSets.update(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'Production API credentials',
        }, ); ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Human-readable name."
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential set identifier.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
    patch:
      operationId: patchCredentialSet
      description: "Updates a credential set with only the provided fields; omitted
        fields remain unchanged.  @example ```ts const response = await
        client.vulnerabilityScanner.credentialSets.edit(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Human-readable name."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential set identifier.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
    delete:
      operationId: deleteCredentialSet
      description: "Deletes a credential set and all of its credentials.  @example
        ```ts const credentialSet = await
        client.vulnerabilityScanner.credentialSets.delete(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
  /accounts/{account_id}/vuln_scanner/credential_sets:
    get:
      operationId: listCredentialSets
      description: "Returns all credential sets for the account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        credentialSetListResponse of
        client.vulnerabilityScanner.credentialSets.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential set identifier.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - name
      x-distilled-pagination-class: CredentialSetListResponsesV4PagePaginationArray
    post:
      operationId: createCredentialSet
      description: "Creates a new credential set.  @example ```ts const credentialSet
        = await client.vulnerabilityScanner.credentialSets.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'Production API credentials',
        }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Human-readable name."
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential set identifier.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - name
      x-distilled-response-path: result
  /accounts/{account_id}/vuln_scanner/credential_sets/{credentialSetId}/credentials/{credentialId}:
    get:
      operationId: getCredentialSetCredential
      description: "Returns a single credential by ID.  @example ```ts const
        credential = await
        client.vulnerabilityScanner.credentialSets.credentials.get(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: credentialId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential identifier.
                  credential_set_id:
                    type: string
                    description: Parent credential set identifier.
                  location:
                    type: string
                    enum:
                      - header
                      - cookie
                    description: Where the credential is attached in outgoing requests.
                  location_name:
                    type: string
                    description: Name of the header or cookie where the credential is attached.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - credential_set_id
                  - location
                  - location_name
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        CredentialNotFound:
          - code: 14002
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
    put:
      operationId: updateCredentialSetCredential
      description: "Replaces a credential. All fields must be provided.  @example
        ```ts const credential = await
        client.vulnerabilityScanner.credentialSets.credentials.update(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', location: 'header', location_name:
        'Authorization', name: 'Admin API key', value: 'Bearer EXAMPLE_TOKEN',
        }, ); ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: credentialId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                  enum:
                    - header
                    - cookie
                  description: "Body param: Where the credential is attached in outgoing
                    requests."
                location_name:
                  type: string
                  description: "Body param: Name of the header or cookie where the credential is
                    attached."
                name:
                  type: string
                  description: "Body param: Human-readable name."
                value:
                  type: string
                  description: "Body param: The credential value. Write-only. Never returned in
                    responses."
              required:
                - location
                - location_name
                - name
                - value
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential identifier.
                  credential_set_id:
                    type: string
                    description: Parent credential set identifier.
                  location:
                    type: string
                    enum:
                      - header
                      - cookie
                    description: Where the credential is attached in outgoing requests.
                  location_name:
                    type: string
                    description: Name of the header or cookie where the credential is attached.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - credential_set_id
                  - location
                  - location_name
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        CredentialNotFound:
          - code: 14002
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
    patch:
      operationId: patchCredentialSetCredential
      description: "Updates a credential with only the provided fields; omitted fields
        remain unchanged.  @example ```ts const response = await
        client.vulnerabilityScanner.credentialSets.credentials.edit(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: credentialId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                  enum:
                    - header
                    - cookie
                  description: "Body param: Where the credential is attached in outgoing
                    requests."
                location_name:
                  type: string
                  description: "Body param: Name of the header or cookie where the credential is
                    attached."
                name:
                  type: string
                  description: "Body param: Human-readable name."
                value:
                  type: string
                  description: "Body param: The credential value. Write-only. Never returned in
                    responses."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential identifier.
                  credential_set_id:
                    type: string
                    description: Parent credential set identifier.
                  location:
                    type: string
                    enum:
                      - header
                      - cookie
                    description: Where the credential is attached in outgoing requests.
                  location_name:
                    type: string
                    description: Name of the header or cookie where the credential is attached.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - credential_set_id
                  - location
                  - location_name
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        CredentialNotFound:
          - code: 14002
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
    delete:
      operationId: deleteCredentialSetCredential
      description: "Deletes a credential.  @example ```ts const credential = await
        client.vulnerabilityScanner.credentialSets.credentials.delete(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: credentialId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        CredentialNotFound:
          - code: 14002
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
  /accounts/{account_id}/vuln_scanner/credential_sets/{credentialSetId}/credentials:
    get:
      operationId: listCredentialSetCredentials
      description: "Returns all credentials within a credential set.  @example ```ts
        // Automatically fetches more pages as needed. for await (const
        credentialListResponse of
        client.vulnerabilityScanner.credentialSets.credentials.list(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential identifier.
                  credential_set_id:
                    type: string
                    description: Parent credential set identifier.
                  location:
                    type: string
                    enum:
                      - header
                      - cookie
                    description: Where the credential is attached in outgoing requests.
                  location_name:
                    type: string
                    description: Name of the header or cookie where the credential is attached.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - credential_set_id
                  - location
                  - location_name
                  - name
      x-distilled-pagination-class: CredentialListResponsesV4PagePaginationArray
      x-distilled-errors:
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
    post:
      operationId: createCredentialSetCredential
      description: "Creates a new credential within a credential set.  @example ```ts
        const credential = await
        client.vulnerabilityScanner.credentialSets.credentials.create(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', location: 'header', location_name:
        'Authorization', name: 'Admin API key', value: 'Bearer EXAMPLE_TOKEN',
        }, ); ```"
      parameters:
        - name: credentialSetId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                location:
                  type: string
                  enum:
                    - header
                    - cookie
                  description: "Body param: Where the credential is attached in outgoing
                    requests."
                location_name:
                  type: string
                  description: "Body param: Name of the header or cookie where the credential is
                    attached."
                name:
                  type: string
                  description: "Body param: Human-readable name."
                value:
                  type: string
                  description: "Body param: The credential value (e.g. API key, session token).
                    Write-only. Never returned in responses."
              required:
                - location
                - location_name
                - name
                - value
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Credential identifier.
                  credential_set_id:
                    type: string
                    description: Parent credential set identifier.
                  location:
                    type: string
                    enum:
                      - header
                      - cookie
                    description: Where the credential is attached in outgoing requests.
                  location_name:
                    type: string
                    description: Name of the header or cookie where the credential is attached.
                  name:
                    type: string
                    description: Human-readable name.
                required:
                  - id
                  - credential_set_id
                  - location
                  - location_name
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        CredentialSetNotFound:
          - code: 14001
        Forbidden:
          - status: 403
  /accounts/{account_id}/vuln_scanner/scans/{scanId}:
    get:
      operationId: getScan
      description: "Returns a single scan by ID.  @example ```ts const scan = await
        client.vulnerabilityScanner.scans.get(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: scanId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Scan identifier.
                  scan_type:
                    type: string
                    enum:
                      - bola
                    description: The type of vulnerability scan.
                  status:
                    type: string
                    enum:
                      - created
                      - scheduled
                      - planning
                      - running
                      - finished
                      - failed
                    description: Current lifecycle status of the scan.
                  target_environment_id:
                    type: string
                    description: The target environment this scan runs against.
                  report:
                    oneOf:
                      - type: object
                        properties:
                          report:
                            type: object
                            properties:
                              summary:
                                type: object
                                properties:
                                  verdict:
                                    type: string
                                    enum:
                                      - ok
                                      - warning
                                      - inconclusive
                                    description: Overall verdict of the vulnerability scan.
                                required:
                                  - verdict
                                description: Summary of all steps and findings.
                              tests:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    steps:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          assertions:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                description:
                                                  type: string
                                                  description: Human-readable description of the assertion, explaining what was
                                                    checked.
                                                kind:
                                                  type: object
                                                  properties:
                                                    parameters:
                                                      type: object
                                                      properties:
                                                        max:
                                                          type: number
                                                          description: Maximum (inclusive) status code of the range.
                                                        min:
                                                          type: number
                                                          description: Minimum (inclusive) status code of the range.
                                                      required:
                                                        - max
                                                        - min
                                                      description: Range of HTTP status codes.
                                                    type:
                                                      type: string
                                                      enum:
                                                        - http_status_within_range
                                                  required:
                                                    - parameters
                                                    - type
                                                  description: Kind of assertion.
                                                observed:
                                                  oneOf:
                                                    - type: number
                                                  nullable: true
                                                  description: Observed value on which the assertion was made.
                                                outcome:
                                                  type: string
                                                  enum:
                                                    - ok
                                                    - fail
                                                    - inconclusive
                                                  description: Outcome of the assertion.
                                              required:
                                                - description
                                                - kind
                                                - observed
                                                - outcome
                                            description: Assertions that were made against the received response.
                                          errors:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                description:
                                                  type: string
                                                  description: Human-readable error description.
                                                error_code:
                                                  oneOf:
                                                    - type: number
                                                  nullable: true
                                                  description: Numeric error code identifying the class of error, if available.
                                              required:
                                                - description
                                            description: Errors the step encountered that may explain absent or incomplete
                                              fields.
                                          request:
                                            oneOf:
                                              - type: object
                                                properties:
                                                  credential_set:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: string
                                                        description: ID of the credential set.
                                                      role:
                                                        type: string
                                                        enum:
                                                          - owner
                                                          - attacker
                                                        description: Role of the credential set.
                                                    required:
                                                      - id
                                                      - role
                                                    description: Credential set that was used.
                                                  header_names:
                                                    type: array
                                                    items:
                                                      type: string
                                                    description: Names of headers that were sent.
                                                  method:
                                                    type: string
                                                    enum:
                                                      - GET
                                                      - DELETE
                                                      - PATCH
                                                      - POST
                                                      - PUT
                                                    description: HTTP method.
                                                  url:
                                                    type: string
                                                    description: Exact and full URL (including host, query parameters) that was
                                                      requested.
                                                  variable_captures:
                                                    type: array
                                                    items:
                                                      type: object
                                                      properties:
                                                        json_path:
                                                          type: string
                                                          description: JSONPath expression used for capture, e.g. `"$.id"`.
                                                        name:
                                                          type: string
                                                          description: Variable name, e.g. `"resource_id"`.
                                                      required:
                                                        - json_path
                                                        - name
                                                    description: Variable captures requested for this step.
                                                  body:
                                                    description: Request body, if any.
                                                required:
                                                  - credential_set
                                                  - header_names
                                                  - method
                                                  - url
                                                  - variable_captures
                                            nullable: true
                                            description: HTTP request that was made, if any.
                                          response:
                                            oneOf:
                                              - type: object
                                                properties:
                                                  body:
                                                    oneOf:
                                                      - type: object
                                                        properties:
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - not_found
                                                        required:
                                                          - kind
                                                      - type: object
                                                        properties:
                                                          contents:
                                                            type: string
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - bytes
                                                          truncated:
                                                            type: boolean
                                                        required:
                                                          - contents
                                                          - kind
                                                          - truncated
                                                      - type: object
                                                        properties:
                                                          contents:
                                                            type: string
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - text
                                                          truncated:
                                                            type: boolean
                                                        required:
                                                          - contents
                                                          - kind
                                                          - truncated
                                                      - type: object
                                                        properties:
                                                          contents:
                                                            type: string
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - json
                                                          truncated:
                                                            type: boolean
                                                        required:
                                                          - contents
                                                          - kind
                                                          - truncated
                                                    description: HTTP response body.
                                                  header_names:
                                                    type: array
                                                    items:
                                                      type: string
                                                    description: Names of headers that were received.
                                                  status:
                                                    type: number
                                                    description: HTTP status code.
                                                  status_text:
                                                    oneOf:
                                                      - type: string
                                                    nullable: true
                                                    description: HTTP status text, if available for the status code.
                                                required:
                                                  - body
                                                  - header_names
                                                  - status
                                            nullable: true
                                            description: HTTP response that was received, if any.
                                        required:
                                          - assertions
                                      description: Steps that were executed.
                                    verdict:
                                      type: string
                                      enum:
                                        - ok
                                        - warning
                                        - inconclusive
                                      description: Verdict of this single test.
                                    preflight_errors:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          description:
                                            type: string
                                            description: Human-readable error description.
                                          error_code:
                                            oneOf:
                                              - type: number
                                            nullable: true
                                            description: Numeric error code identifying the class of error, if available.
                                        required:
                                          - description
                                      description: Errors that prevented step execution.
                                  required:
                                    - steps
                                    - verdict
                                description: List of tests that were run.
                            required:
                              - summary
                              - tests
                            description: Version 1 of the BOLA vulnerability scan report.
                          report_schema_version:
                            type: string
                            enum:
                              - v1
                            description: Version of the report schema.
                        required:
                          - report
                          - report_schema_version
                    nullable: true
                    description: Vulnerability report produced after the scan completes. The shape
                      depends on the scan type. Present only for finished scans.
                required:
                  - id
                  - scan_type
                  - status
                  - target_environment_id
      x-distilled-response-path: result
  /accounts/{account_id}/vuln_scanner/scans:
    get:
      operationId: listScans
      description: "Returns all scans for the account.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        scanListResponse of client.vulnerabilityScanner.scans.list( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Scan identifier.
                  scan_type:
                    type: string
                    enum:
                      - bola
                    description: The type of vulnerability scan.
                  status:
                    type: string
                    enum:
                      - created
                      - scheduled
                      - planning
                      - running
                      - finished
                      - failed
                    description: Current lifecycle status of the scan.
                  target_environment_id:
                    type: string
                    description: The target environment this scan runs against.
                  report:
                    oneOf:
                      - type: object
                        properties:
                          report:
                            type: object
                            properties:
                              summary:
                                type: object
                                properties:
                                  verdict:
                                    type: string
                                    enum:
                                      - ok
                                      - warning
                                      - inconclusive
                                    description: Overall verdict of the vulnerability scan.
                                required:
                                  - verdict
                                description: Summary of all steps and findings.
                              tests:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    steps:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          assertions:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                description:
                                                  type: string
                                                  description: Human-readable description of the assertion, explaining what was
                                                    checked.
                                                kind:
                                                  type: object
                                                  properties:
                                                    parameters:
                                                      type: object
                                                      properties:
                                                        max:
                                                          type: number
                                                          description: Maximum (inclusive) status code of the range.
                                                        min:
                                                          type: number
                                                          description: Minimum (inclusive) status code of the range.
                                                      required:
                                                        - max
                                                        - min
                                                      description: Range of HTTP status codes.
                                                    type:
                                                      type: string
                                                      enum:
                                                        - http_status_within_range
                                                  required:
                                                    - parameters
                                                    - type
                                                  description: Kind of assertion.
                                                observed:
                                                  oneOf:
                                                    - type: number
                                                  nullable: true
                                                  description: Observed value on which the assertion was made.
                                                outcome:
                                                  type: string
                                                  enum:
                                                    - ok
                                                    - fail
                                                    - inconclusive
                                                  description: Outcome of the assertion.
                                              required:
                                                - description
                                                - kind
                                                - observed
                                                - outcome
                                            description: Assertions that were made against the received response.
                                          errors:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                description:
                                                  type: string
                                                  description: Human-readable error description.
                                                error_code:
                                                  oneOf:
                                                    - type: number
                                                  nullable: true
                                                  description: Numeric error code identifying the class of error, if available.
                                              required:
                                                - description
                                            description: Errors the step encountered that may explain absent or incomplete
                                              fields.
                                          request:
                                            oneOf:
                                              - type: object
                                                properties:
                                                  credential_set:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: string
                                                        description: ID of the credential set.
                                                      role:
                                                        type: string
                                                        enum:
                                                          - owner
                                                          - attacker
                                                        description: Role of the credential set.
                                                    required:
                                                      - id
                                                      - role
                                                    description: Credential set that was used.
                                                  header_names:
                                                    type: array
                                                    items:
                                                      type: string
                                                    description: Names of headers that were sent.
                                                  method:
                                                    type: string
                                                    enum:
                                                      - GET
                                                      - DELETE
                                                      - PATCH
                                                      - POST
                                                      - PUT
                                                    description: HTTP method.
                                                  url:
                                                    type: string
                                                    description: Exact and full URL (including host, query parameters) that was
                                                      requested.
                                                  variable_captures:
                                                    type: array
                                                    items:
                                                      type: object
                                                      properties:
                                                        json_path:
                                                          type: string
                                                          description: JSONPath expression used for capture, e.g. `"$.id"`.
                                                        name:
                                                          type: string
                                                          description: Variable name, e.g. `"resource_id"`.
                                                      required:
                                                        - json_path
                                                        - name
                                                    description: Variable captures requested for this step.
                                                  body:
                                                    description: Request body, if any.
                                                required:
                                                  - credential_set
                                                  - header_names
                                                  - method
                                                  - url
                                                  - variable_captures
                                            nullable: true
                                            description: HTTP request that was made, if any.
                                          response:
                                            oneOf:
                                              - type: object
                                                properties:
                                                  body:
                                                    oneOf:
                                                      - type: object
                                                        properties:
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - not_found
                                                        required:
                                                          - kind
                                                      - type: object
                                                        properties:
                                                          contents:
                                                            type: string
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - bytes
                                                          truncated:
                                                            type: boolean
                                                        required:
                                                          - contents
                                                          - kind
                                                          - truncated
                                                      - type: object
                                                        properties:
                                                          contents:
                                                            type: string
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - text
                                                          truncated:
                                                            type: boolean
                                                        required:
                                                          - contents
                                                          - kind
                                                          - truncated
                                                      - type: object
                                                        properties:
                                                          contents:
                                                            type: string
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - json
                                                          truncated:
                                                            type: boolean
                                                        required:
                                                          - contents
                                                          - kind
                                                          - truncated
                                                    description: HTTP response body.
                                                  header_names:
                                                    type: array
                                                    items:
                                                      type: string
                                                    description: Names of headers that were received.
                                                  status:
                                                    type: number
                                                    description: HTTP status code.
                                                  status_text:
                                                    oneOf:
                                                      - type: string
                                                    nullable: true
                                                    description: HTTP status text, if available for the status code.
                                                required:
                                                  - body
                                                  - header_names
                                                  - status
                                            nullable: true
                                            description: HTTP response that was received, if any.
                                        required:
                                          - assertions
                                      description: Steps that were executed.
                                    verdict:
                                      type: string
                                      enum:
                                        - ok
                                        - warning
                                        - inconclusive
                                      description: Verdict of this single test.
                                    preflight_errors:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          description:
                                            type: string
                                            description: Human-readable error description.
                                          error_code:
                                            oneOf:
                                              - type: number
                                            nullable: true
                                            description: Numeric error code identifying the class of error, if available.
                                        required:
                                          - description
                                      description: Errors that prevented step execution.
                                  required:
                                    - steps
                                    - verdict
                                description: List of tests that were run.
                            required:
                              - summary
                              - tests
                            description: Version 1 of the BOLA vulnerability scan report.
                          report_schema_version:
                            type: string
                            enum:
                              - v1
                            description: Version of the report schema.
                        required:
                          - report
                          - report_schema_version
                    nullable: true
                    description: Vulnerability report produced after the scan completes. The shape
                      depends on the scan type. Present only for finished scans.
                required:
                  - id
                  - scan_type
                  - status
                  - target_environment_id
      x-distilled-pagination-class: ScanListResponsesV4PagePaginationArray
    post:
      operationId: createScan
      description: "Creates and starts a new vulnerability scan. The response may
        include non-fatal warnings in the `messages` array.  @example ```ts
        const scan = await client.vulnerabilityScanner.scans.create( {
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', credential_sets: {
        attacker: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', owner:
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', }, open_api: 'open_api',
        scan_type: 'bola', target_environment_id:
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                credential_sets:
                  type: object
                  properties:
                    attacker:
                      type: string
                      description: Credential set ID for the attacker.
                    owner:
                      type: string
                      description: Credential set ID for the resource owner.
                  required:
                    - attacker
                    - owner
                  description: "Body param: Credential set references for a BOLA scan. The scanner
                    uses the `owner` credentials for legitimate requests and the
                    `attacker` credentials to attempt unauthorized access."
                open_api:
                  type: string
                  description: "Body param: OpenAPI schema definition for the API under test. The
                    scanner uses this to discover endpoints and construct
                    requests."
                scan_type:
                  type: string
                  enum:
                    - bola
                  description: Body param
                target_environment_id:
                  type: string
                  description: "Body param: The target environment to scan."
              required:
                - credential_sets
                - open_api
                - scan_type
                - target_environment_id
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Scan identifier.
                  scan_type:
                    type: string
                    enum:
                      - bola
                    description: The type of vulnerability scan.
                  status:
                    type: string
                    enum:
                      - created
                      - scheduled
                      - planning
                      - running
                      - finished
                      - failed
                    description: Current lifecycle status of the scan.
                  target_environment_id:
                    type: string
                    description: The target environment this scan runs against.
                  report:
                    oneOf:
                      - type: object
                        properties:
                          report:
                            type: object
                            properties:
                              summary:
                                type: object
                                properties:
                                  verdict:
                                    type: string
                                    enum:
                                      - ok
                                      - warning
                                      - inconclusive
                                    description: Overall verdict of the vulnerability scan.
                                required:
                                  - verdict
                                description: Summary of all steps and findings.
                              tests:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    steps:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          assertions:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                description:
                                                  type: string
                                                  description: Human-readable description of the assertion, explaining what was
                                                    checked.
                                                kind:
                                                  type: object
                                                  properties:
                                                    parameters:
                                                      type: object
                                                      properties:
                                                        max:
                                                          type: number
                                                          description: Maximum (inclusive) status code of the range.
                                                        min:
                                                          type: number
                                                          description: Minimum (inclusive) status code of the range.
                                                      required:
                                                        - max
                                                        - min
                                                      description: Range of HTTP status codes.
                                                    type:
                                                      type: string
                                                      enum:
                                                        - http_status_within_range
                                                  required:
                                                    - parameters
                                                    - type
                                                  description: Kind of assertion.
                                                observed:
                                                  oneOf:
                                                    - type: number
                                                  nullable: true
                                                  description: Observed value on which the assertion was made.
                                                outcome:
                                                  type: string
                                                  enum:
                                                    - ok
                                                    - fail
                                                    - inconclusive
                                                  description: Outcome of the assertion.
                                              required:
                                                - description
                                                - kind
                                                - observed
                                                - outcome
                                            description: Assertions that were made against the received response.
                                          errors:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                description:
                                                  type: string
                                                  description: Human-readable error description.
                                                error_code:
                                                  oneOf:
                                                    - type: number
                                                  nullable: true
                                                  description: Numeric error code identifying the class of error, if available.
                                              required:
                                                - description
                                            description: Errors the step encountered that may explain absent or incomplete
                                              fields.
                                          request:
                                            oneOf:
                                              - type: object
                                                properties:
                                                  credential_set:
                                                    type: object
                                                    properties:
                                                      id:
                                                        type: string
                                                        description: ID of the credential set.
                                                      role:
                                                        type: string
                                                        enum:
                                                          - owner
                                                          - attacker
                                                        description: Role of the credential set.
                                                    required:
                                                      - id
                                                      - role
                                                    description: Credential set that was used.
                                                  header_names:
                                                    type: array
                                                    items:
                                                      type: string
                                                    description: Names of headers that were sent.
                                                  method:
                                                    type: string
                                                    enum:
                                                      - GET
                                                      - DELETE
                                                      - PATCH
                                                      - POST
                                                      - PUT
                                                    description: HTTP method.
                                                  url:
                                                    type: string
                                                    description: Exact and full URL (including host, query parameters) that was
                                                      requested.
                                                  variable_captures:
                                                    type: array
                                                    items:
                                                      type: object
                                                      properties:
                                                        json_path:
                                                          type: string
                                                          description: JSONPath expression used for capture, e.g. `"$.id"`.
                                                        name:
                                                          type: string
                                                          description: Variable name, e.g. `"resource_id"`.
                                                      required:
                                                        - json_path
                                                        - name
                                                    description: Variable captures requested for this step.
                                                  body:
                                                    description: Request body, if any.
                                                required:
                                                  - credential_set
                                                  - header_names
                                                  - method
                                                  - url
                                                  - variable_captures
                                            nullable: true
                                            description: HTTP request that was made, if any.
                                          response:
                                            oneOf:
                                              - type: object
                                                properties:
                                                  body:
                                                    oneOf:
                                                      - type: object
                                                        properties:
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - not_found
                                                        required:
                                                          - kind
                                                      - type: object
                                                        properties:
                                                          contents:
                                                            type: string
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - bytes
                                                          truncated:
                                                            type: boolean
                                                        required:
                                                          - contents
                                                          - kind
                                                          - truncated
                                                      - type: object
                                                        properties:
                                                          contents:
                                                            type: string
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - text
                                                          truncated:
                                                            type: boolean
                                                        required:
                                                          - contents
                                                          - kind
                                                          - truncated
                                                      - type: object
                                                        properties:
                                                          contents:
                                                            type: string
                                                          kind:
                                                            type: string
                                                            enum:
                                                              - json
                                                          truncated:
                                                            type: boolean
                                                        required:
                                                          - contents
                                                          - kind
                                                          - truncated
                                                    description: HTTP response body.
                                                  header_names:
                                                    type: array
                                                    items:
                                                      type: string
                                                    description: Names of headers that were received.
                                                  status:
                                                    type: number
                                                    description: HTTP status code.
                                                  status_text:
                                                    oneOf:
                                                      - type: string
                                                    nullable: true
                                                    description: HTTP status text, if available for the status code.
                                                required:
                                                  - body
                                                  - header_names
                                                  - status
                                            nullable: true
                                            description: HTTP response that was received, if any.
                                        required:
                                          - assertions
                                      description: Steps that were executed.
                                    verdict:
                                      type: string
                                      enum:
                                        - ok
                                        - warning
                                        - inconclusive
                                      description: Verdict of this single test.
                                    preflight_errors:
                                      type: array
                                      items:
                                        type: object
                                        properties:
                                          description:
                                            type: string
                                            description: Human-readable error description.
                                          error_code:
                                            oneOf:
                                              - type: number
                                            nullable: true
                                            description: Numeric error code identifying the class of error, if available.
                                        required:
                                          - description
                                      description: Errors that prevented step execution.
                                  required:
                                    - steps
                                    - verdict
                                description: List of tests that were run.
                            required:
                              - summary
                              - tests
                            description: Version 1 of the BOLA vulnerability scan report.
                          report_schema_version:
                            type: string
                            enum:
                              - v1
                            description: Version of the report schema.
                        required:
                          - report
                          - report_schema_version
                    nullable: true
                    description: Vulnerability report produced after the scan completes. The shape
                      depends on the scan type. Present only for finished scans.
                required:
                  - id
                  - scan_type
                  - status
                  - target_environment_id
      x-distilled-response-path: result
  /accounts/{account_id}/vuln_scanner/target_environments/{targetEnvironmentId}:
    get:
      operationId: getTargetEnvironment
      description: "Returns a single target environment by ID.  @example ```ts const
        targetEnvironment = await
        client.vulnerabilityScanner.targetEnvironments.get(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: targetEnvironmentId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Target environment identifier.
                  name:
                    type: string
                    description: Human-readable name.
                  target:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - zone
                      zone_tag:
                        type: string
                        description: Cloudflare zone tag. The zone must belong to the account.
                    required:
                      - type
                      - zone_tag
                    description: Identifies the Cloudflare asset to scan. Uses a `type`
                      discriminator. Currently the service supports only `zone`
                      targets.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Optional description providing additional context.
                required:
                  - id
                  - name
                  - target
      x-distilled-response-path: result
      x-distilled-errors:
        TargetEnvironmentNotFound:
          - code: 11001
        Forbidden:
          - status: 403
    put:
      operationId: updateTargetEnvironment
      description: "Replaces a target environment. All fields must be
        provided.  @example ```ts const targetEnvironment = await
        client.vulnerabilityScanner.targetEnvironments.update(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'Production Zone', target: {
        type: 'zone', zone_tag: 'd8e8fca2dc0f896fd7cb4cb0031ba249', }, }, );
        ```"
      parameters:
        - name: targetEnvironmentId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Human-readable name."
                target:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - zone
                    zone_tag:
                      type: string
                      description: Cloudflare zone tag. The zone must belong to the account.
                  required:
                    - type
                    - zone_tag
                  description: "Body param: Identifies the Cloudflare asset to scan. Uses a `type`
                    discriminator. Currently the service supports only `zone`
                    targets."
                description:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: Optional description."
              required:
                - name
                - target
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Target environment identifier.
                  name:
                    type: string
                    description: Human-readable name.
                  target:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - zone
                      zone_tag:
                        type: string
                        description: Cloudflare zone tag. The zone must belong to the account.
                    required:
                      - type
                      - zone_tag
                    description: Identifies the Cloudflare asset to scan. Uses a `type`
                      discriminator. Currently the service supports only `zone`
                      targets.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Optional description providing additional context.
                required:
                  - id
                  - name
                  - target
      x-distilled-response-path: result
      x-distilled-errors:
        TargetEnvironmentNotFound:
          - code: 11001
        ZoneTagNotFound:
          - code: 14150
        Forbidden:
          - status: 403
    patch:
      operationId: patchTargetEnvironment
      description: "Updates a target environment with only the provided fields;
        omitted fields remain unchanged.  @example ```ts const response = await
        client.vulnerabilityScanner.targetEnvironments.edit(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: targetEnvironmentId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: Optional description. Omit to leave unchanged, set to
                    `null` to clear, or provide a string to update."
                name:
                  type: string
                  description: "Body param: Human-readable name."
                target:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - zone
                    zone_tag:
                      type: string
                      description: Cloudflare zone tag. The zone must belong to the account.
                  required:
                    - type
                    - zone_tag
                  description: "Body param: Identifies the Cloudflare asset to scan. Uses a `type`
                    discriminator. Currently the service supports only `zone`
                    targets."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Target environment identifier.
                  name:
                    type: string
                    description: Human-readable name.
                  target:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - zone
                      zone_tag:
                        type: string
                        description: Cloudflare zone tag. The zone must belong to the account.
                    required:
                      - type
                      - zone_tag
                    description: Identifies the Cloudflare asset to scan. Uses a `type`
                      discriminator. Currently the service supports only `zone`
                      targets.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Optional description providing additional context.
                required:
                  - id
                  - name
                  - target
      x-distilled-response-path: result
      x-distilled-errors:
        TargetEnvironmentNotFound:
          - code: 11001
        ZoneTagNotFound:
          - code: 14150
        Forbidden:
          - status: 403
    delete:
      operationId: deleteTargetEnvironment
      description: "Removes a target environment.  @example ```ts const
        targetEnvironment = await
        client.vulnerabilityScanner.targetEnvironments.delete(
        '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: targetEnvironmentId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        TargetEnvironmentNotFound:
          - code: 11001
        Forbidden:
          - status: 403
  /accounts/{account_id}/vuln_scanner/target_environments:
    get:
      operationId: listTargetEnvironments
      description: "Returns all target environments for the account.  @example ```ts
        // Automatically fetches more pages as needed. for await (const
        targetEnvironmentListResponse of
        client.vulnerabilityScanner.targetEnvironments.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Target environment identifier.
                  name:
                    type: string
                    description: Human-readable name.
                  target:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - zone
                      zone_tag:
                        type: string
                        description: Cloudflare zone tag. The zone must belong to the account.
                    required:
                      - type
                      - zone_tag
                    description: Identifies the Cloudflare asset to scan. Uses a `type`
                      discriminator. Currently the service supports only `zone`
                      targets.
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                    description: Optional description providing additional context.
                required:
                  - id
                  - name
                  - target
      x-distilled-pagination-class: TargetEnvironmentListResponsesV4PagePaginationArray
    post:
      operationId: createTargetEnvironment
      description: "Creates a new target environment for the account.  @example ```ts
        const targetEnvironment = await
        client.vulnerabilityScanner.targetEnvironments.create( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'Production Zone', target: {
        type: 'zone', zone_tag: 'd8e8fca2dc0f896fd7cb4cb0031ba249', }, }, );
        ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Human-readable name."
                target:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - zone
                    zone_tag:
                      type: string
                      description: Cloudflare zone tag. The zone must belong to the account.
                  required:
                    - type
                    - zone_tag
                  description: "Body param: Identifies the Cloudflare asset to scan. Uses a `type`
                    discriminator. Currently the service supports only `zone`
                    targets."
                description:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: Optional description."
              required:
                - name
[...]
