openapi: 3.1.0
info:
  title: Cloudflare WAITING-ROOMS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: waiting-rooms
paths:
  /zones/{zone_id}/waiting_rooms/{waitingRoomId}/events/{eventId}:
    get:
      operationId: getEvent
      description: "Fetches a single configured event for a waiting room.  @example
        ```ts const event = await client.waitingRooms.events.get(
        '699d98642c564d2e855e9661899b7252', '25756b2dfe6e378a06b033b670413757',
        { zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  custom_page_html:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `custom_page_html` property while it is active. If null,
                      the event will inherit it.
                  description:
                    type: string
                    description: A note that you can use to add more details about the event.
                  disable_session_renewal:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `disable_session_renewal` property while it is active. If
                      null, the event will inherit it.
                  event_end_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the end of the event.
                  event_start_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the start of the event. At this
                      time, queued users will be processed with the event's
                      configuration. The start time must be at least one minute
                      before `event_end_time`.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A unique name to identify the event. Only alphanumeric characters,
                      hyphens and underscores are allowed.
                  new_users_per_minute:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `new_users_per_minute` property while it is active. If
                      null, the event will inherit it. This can only be set if
                      the event's `total_active_users` property is also set.
                  prequeue_start_time:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An ISO 8601 timestamp that marks when to begin queueing all users
                      before the event starts. The prequeue must start at least
                      five minutes before `event_start_time`.
                  queueing_method:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `queueing_method` property while it is active. If null,
                      the event will inherit it.
                  session_duration:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `session_duration` property while it is active. If null,
                      the event will inherit it.
                  shuffle_at_event_start:
                    type: boolean
                    description: If enabled, users in the prequeue will be shuffled randomly at the
                      `event_start_time`. Requires that `prequeue_start_time` is
                      not null. This is useful for situations when many users
                      will join the event prequeue at the same time and you want
                      to shuffle them to ensure fairness. Naturally, it makes
                      the most sense to enable this feature when the
                      `queueing_method` during the event respects ordering such
                      as  fifo  , or else the shuffling may be unnecessary.
                  suspended:
                    type: boolean
                    description: Suspends or allows an event. If set to `true`, the event is ignored
                      and traffic will be handled based on the waiting room
                      configuration.
                  total_active_users:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `total_active_users` property while it is active. If null,
                      the event will inherit it. This can only be set if the
                      event's `new_users_per_minute` property is also set.
                  turnstile_action:
                    type: string
                    enum:
                      - log
                      - infinite_queue
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `turnstile_action` property while it is active. If null,
                      the event will inherit it.
                  turnstile_mode:
                    type: string
                    enum:
                      - off
                      - invisible
                      - visible_non_interactive
                      - visible_managed
                    nullable: true
                    description: If set, the event will override the waiting room's `turnstile_mode`
                      property while it is active. If null, the event will
                      inherit it.
      x-distilled-response-path: result
    put:
      operationId: updateEvent
      description: "Updates a configured event for a waiting room.  @example ```ts
        const event = await client.waitingRooms.events.update(
        '699d98642c564d2e855e9661899b7252', '25756b2dfe6e378a06b033b670413757',
        { zone_id: '023e105f4ecef8ad9ca31a8372d0c353', event_end_time:
        '2021-09-28T17:00:00.000Z', event_start_time:
        '2021-09-28T15:30:00.000Z', name: 'production_webinar_event', }, ); ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_end_time:
                  type: string
                  description: "Body param: An ISO 8601 timestamp that marks the end of the
                    event."
                event_start_time:
                  type: string
                  description: "Body param: An ISO 8601 timestamp that marks the start of the
                    event. At this time, queued users will be processed with the
                    event's configuration. The start time must be at least one
                    minute before `event_end_time`."
                name:
                  type: string
                  description: "Body param: A unique name to identify the event. Only alphanumeric
                    characters, hyphens and underscores are allowed."
                custom_page_html:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `custom_page_html` property while it is active. If null, the
                    event will inherit it."
                description:
                  type: string
                  description: "Body param: A note that you can use to add more details about the
                    event."
                disable_session_renewal:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `disable_session_renewal` property while it is active. If
                    null, the event will inherit it."
                new_users_per_minute:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `new_users_per_minute` property while it is active. If null,
                    the event will inherit it. This can only be set if the
                    event's `total_active_users` property is also set."
                prequeue_start_time:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: An ISO 8601 timestamp that marks when to begin
                    queueing all users before the event starts. The prequeue
                    must start at least five minutes before `event_start_time`."
                queueing_method:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `queueing_method` property while it is active. If null, the
                    event will inherit it."
                session_duration:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `session_duration` property while it is active. If null, the
                    event will inherit it."
                shuffle_at_event_start:
                  type: boolean
                  description: "Body param: If enabled, users in the prequeue will be shuffled
                    randomly at the `event_start_time`. Requires that
                    `prequeue_start_time` is not null. This is useful for
                    situations when many users will join the event prequeue at
                    the same time and you want to shuffle them to ensure
                    fairness. Naturally, it makes the most sense to enable this
                    feature when the `queueing_method` during the event respects
                    ordering such as  fifo  , or else the shuffling may be
                    unnecessary."
                suspended:
                  type: boolean
                  description: "Body param: Suspends or allows an event. If set to `true`, the
                    event is ignored and traffic will be handled based on the
                    waiting room configuration."
                total_active_users:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `total_active_users` property while it is active. If null,
                    the event will inherit it. This can only be set if the
                    event's `new_users_per_minute` property is also set."
                turnstile_action:
                  type: string
                  enum:
                    - log
                    - infinite_queue
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `turnstile_action` property while it is active. If null, the
                    event will inherit it."
                turnstile_mode:
                  type: string
                  enum:
                    - off
                    - invisible
                    - visible_non_interactive
                    - visible_managed
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `turnstile_mode` property while it is active. If null, the
                    event will inherit it."
              required:
                - event_end_time
                - event_start_time
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  custom_page_html:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `custom_page_html` property while it is active. If null,
                      the event will inherit it.
                  description:
                    type: string
                    description: A note that you can use to add more details about the event.
                  disable_session_renewal:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `disable_session_renewal` property while it is active. If
                      null, the event will inherit it.
                  event_end_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the end of the event.
                  event_start_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the start of the event. At this
                      time, queued users will be processed with the event's
                      configuration. The start time must be at least one minute
                      before `event_end_time`.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A unique name to identify the event. Only alphanumeric characters,
                      hyphens and underscores are allowed.
                  new_users_per_minute:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `new_users_per_minute` property while it is active. If
                      null, the event will inherit it. This can only be set if
                      the event's `total_active_users` property is also set.
                  prequeue_start_time:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An ISO 8601 timestamp that marks when to begin queueing all users
                      before the event starts. The prequeue must start at least
                      five minutes before `event_start_time`.
                  queueing_method:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `queueing_method` property while it is active. If null,
                      the event will inherit it.
                  session_duration:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `session_duration` property while it is active. If null,
                      the event will inherit it.
                  shuffle_at_event_start:
                    type: boolean
                    description: If enabled, users in the prequeue will be shuffled randomly at the
                      `event_start_time`. Requires that `prequeue_start_time` is
                      not null. This is useful for situations when many users
                      will join the event prequeue at the same time and you want
                      to shuffle them to ensure fairness. Naturally, it makes
                      the most sense to enable this feature when the
                      `queueing_method` during the event respects ordering such
                      as  fifo  , or else the shuffling may be unnecessary.
                  suspended:
                    type: boolean
                    description: Suspends or allows an event. If set to `true`, the event is ignored
                      and traffic will be handled based on the waiting room
                      configuration.
                  total_active_users:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `total_active_users` property while it is active. If null,
                      the event will inherit it. This can only be set if the
                      event's `new_users_per_minute` property is also set.
                  turnstile_action:
                    type: string
                    enum:
                      - log
                      - infinite_queue
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `turnstile_action` property while it is active. If null,
                      the event will inherit it.
                  turnstile_mode:
                    type: string
                    enum:
                      - off
                      - invisible
                      - visible_non_interactive
                      - visible_managed
                    nullable: true
                    description: If set, the event will override the waiting room's `turnstile_mode`
                      property while it is active. If null, the event will
                      inherit it.
      x-distilled-response-path: result
    patch:
      operationId: patchEvent
      description: "Patches a configured event for a waiting room.  @example ```ts
        const event = await client.waitingRooms.events.edit(
        '699d98642c564d2e855e9661899b7252', '25756b2dfe6e378a06b033b670413757',
        { zone_id: '023e105f4ecef8ad9ca31a8372d0c353', event_end_time:
        '2021-09-28T17:00:00.000Z', event_start_time:
        '2021-09-28T15:30:00.000Z', name: 'production_webinar_event', }, ); ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_end_time:
                  type: string
                  description: "Body param: An ISO 8601 timestamp that marks the end of the
                    event."
                event_start_time:
                  type: string
                  description: "Body param: An ISO 8601 timestamp that marks the start of the
                    event. At this time, queued users will be processed with the
                    event's configuration. The start time must be at least one
                    minute before `event_end_time`."
                name:
                  type: string
                  description: "Body param: A unique name to identify the event. Only alphanumeric
                    characters, hyphens and underscores are allowed."
                custom_page_html:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `custom_page_html` property while it is active. If null, the
                    event will inherit it."
                description:
                  type: string
                  description: "Body param: A note that you can use to add more details about the
                    event."
                disable_session_renewal:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `disable_session_renewal` property while it is active. If
                    null, the event will inherit it."
                new_users_per_minute:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `new_users_per_minute` property while it is active. If null,
                    the event will inherit it. This can only be set if the
                    event's `total_active_users` property is also set."
                prequeue_start_time:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: An ISO 8601 timestamp that marks when to begin
                    queueing all users before the event starts. The prequeue
                    must start at least five minutes before `event_start_time`."
                queueing_method:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `queueing_method` property while it is active. If null, the
                    event will inherit it."
                session_duration:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `session_duration` property while it is active. If null, the
                    event will inherit it."
                shuffle_at_event_start:
                  type: boolean
                  description: "Body param: If enabled, users in the prequeue will be shuffled
                    randomly at the `event_start_time`. Requires that
                    `prequeue_start_time` is not null. This is useful for
                    situations when many users will join the event prequeue at
                    the same time and you want to shuffle them to ensure
                    fairness. Naturally, it makes the most sense to enable this
                    feature when the `queueing_method` during the event respects
                    ordering such as  fifo  , or else the shuffling may be
                    unnecessary."
                suspended:
                  type: boolean
                  description: "Body param: Suspends or allows an event. If set to `true`, the
                    event is ignored and traffic will be handled based on the
                    waiting room configuration."
                total_active_users:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `total_active_users` property while it is active. If null,
                    the event will inherit it. This can only be set if the
                    event's `new_users_per_minute` property is also set."
                turnstile_action:
                  type: string
                  enum:
                    - log
                    - infinite_queue
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `turnstile_action` property while it is active. If null, the
                    event will inherit it."
                turnstile_mode:
                  type: string
                  enum:
                    - off
                    - invisible
                    - visible_non_interactive
                    - visible_managed
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `turnstile_mode` property while it is active. If null, the
                    event will inherit it."
              required:
                - event_end_time
                - event_start_time
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  custom_page_html:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `custom_page_html` property while it is active. If null,
                      the event will inherit it.
                  description:
                    type: string
                    description: A note that you can use to add more details about the event.
                  disable_session_renewal:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `disable_session_renewal` property while it is active. If
                      null, the event will inherit it.
                  event_end_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the end of the event.
                  event_start_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the start of the event. At this
                      time, queued users will be processed with the event's
                      configuration. The start time must be at least one minute
                      before `event_end_time`.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A unique name to identify the event. Only alphanumeric characters,
                      hyphens and underscores are allowed.
                  new_users_per_minute:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `new_users_per_minute` property while it is active. If
                      null, the event will inherit it. This can only be set if
                      the event's `total_active_users` property is also set.
                  prequeue_start_time:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An ISO 8601 timestamp that marks when to begin queueing all users
                      before the event starts. The prequeue must start at least
                      five minutes before `event_start_time`.
                  queueing_method:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `queueing_method` property while it is active. If null,
                      the event will inherit it.
                  session_duration:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `session_duration` property while it is active. If null,
                      the event will inherit it.
                  shuffle_at_event_start:
                    type: boolean
                    description: If enabled, users in the prequeue will be shuffled randomly at the
                      `event_start_time`. Requires that `prequeue_start_time` is
                      not null. This is useful for situations when many users
                      will join the event prequeue at the same time and you want
                      to shuffle them to ensure fairness. Naturally, it makes
                      the most sense to enable this feature when the
                      `queueing_method` during the event respects ordering such
                      as  fifo  , or else the shuffling may be unnecessary.
                  suspended:
                    type: boolean
                    description: Suspends or allows an event. If set to `true`, the event is ignored
                      and traffic will be handled based on the waiting room
                      configuration.
                  total_active_users:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `total_active_users` property while it is active. If null,
                      the event will inherit it. This can only be set if the
                      event's `new_users_per_minute` property is also set.
                  turnstile_action:
                    type: string
                    enum:
                      - log
                      - infinite_queue
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `turnstile_action` property while it is active. If null,
                      the event will inherit it.
                  turnstile_mode:
                    type: string
                    enum:
                      - off
                      - invisible
                      - visible_non_interactive
                      - visible_managed
                    nullable: true
                    description: If set, the event will override the waiting room's `turnstile_mode`
                      property while it is active. If null, the event will
                      inherit it.
      x-distilled-response-path: result
    delete:
      operationId: deleteEvent
      description: "Deletes an event for a waiting room.  @example ```ts const event =
        await client.waitingRooms.events.delete(
        '699d98642c564d2e855e9661899b7252', '25756b2dfe6e378a06b033b670413757',
        { zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
      x-distilled-response-path: result
  /zones/{zone_id}/waiting_rooms/{waitingRoomId}/events:
    get:
      operationId: listEvents
      description: "Lists events for a waiting room.  @example ```ts // Automatically
        fetches more pages as needed. for await (const event of
        client.waitingRooms.events.list( '699d98642c564d2e855e9661899b7252', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  custom_page_html:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `custom_page_html` property while it is active. If null,
                      the event will inherit it.
                  description:
                    type: string
                    description: A note that you can use to add more details about the event.
                  disable_session_renewal:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `disable_session_renewal` property while it is active. If
                      null, the event will inherit it.
                  event_end_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the end of the event.
                  event_start_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the start of the event. At this
                      time, queued users will be processed with the event's
                      configuration. The start time must be at least one minute
                      before `event_end_time`.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A unique name to identify the event. Only alphanumeric characters,
                      hyphens and underscores are allowed.
                  new_users_per_minute:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `new_users_per_minute` property while it is active. If
                      null, the event will inherit it. This can only be set if
                      the event's `total_active_users` property is also set.
                  prequeue_start_time:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An ISO 8601 timestamp that marks when to begin queueing all users
                      before the event starts. The prequeue must start at least
                      five minutes before `event_start_time`.
                  queueing_method:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `queueing_method` property while it is active. If null,
                      the event will inherit it.
                  session_duration:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `session_duration` property while it is active. If null,
                      the event will inherit it.
                  shuffle_at_event_start:
                    type: boolean
                    description: If enabled, users in the prequeue will be shuffled randomly at the
                      `event_start_time`. Requires that `prequeue_start_time` is
                      not null. This is useful for situations when many users
                      will join the event prequeue at the same time and you want
                      to shuffle them to ensure fairness. Naturally, it makes
                      the most sense to enable this feature when the
                      `queueing_method` during the event respects ordering such
                      as  fifo  , or else the shuffling may be unnecessary.
                  suspended:
                    type: boolean
                    description: Suspends or allows an event. If set to `true`, the event is ignored
                      and traffic will be handled based on the waiting room
                      configuration.
                  total_active_users:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `total_active_users` property while it is active. If null,
                      the event will inherit it. This can only be set if the
                      event's `new_users_per_minute` property is also set.
                  turnstile_action:
                    type: string
                    enum:
                      - log
                      - infinite_queue
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `turnstile_action` property while it is active. If null,
                      the event will inherit it.
                  turnstile_mode:
                    type: string
                    enum:
                      - off
                      - invisible
                      - visible_non_interactive
                      - visible_managed
                    nullable: true
                    description: If set, the event will override the waiting room's `turnstile_mode`
                      property while it is active. If null, the event will
                      inherit it.
      x-distilled-pagination-class: EventsV4PagePaginationArray
    post:
      operationId: createEvent
      description: "Only available for the Waiting Room Advanced subscription. Creates
        an event for a waiting room. An event takes place during a specified
        period of time, temporarily changing the behavior of a waiting room.
        While the event is active, some of the properties in the event's
        configuration may either override or inherit from the waiting room's
        configuration. Note that events cannot overlap with each other, so only
        one event can be active at a time.  @example ```ts const event = await
        client.waitingRooms.events.create( '699d98642c564d2e855e9661899b7252', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', event_end_time:
        '2021-09-28T17:00:00.000Z', event_start_time:
        '2021-09-28T15:30:00.000Z', name: 'production_webinar_event', }, ); ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                event_end_time:
                  type: string
                  description: "Body param: An ISO 8601 timestamp that marks the end of the
                    event."
                event_start_time:
                  type: string
                  description: "Body param: An ISO 8601 timestamp that marks the start of the
                    event. At this time, queued users will be processed with the
                    event's configuration. The start time must be at least one
                    minute before `event_end_time`."
                name:
                  type: string
                  description: "Body param: A unique name to identify the event. Only alphanumeric
                    characters, hyphens and underscores are allowed."
                custom_page_html:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `custom_page_html` property while it is active. If null, the
                    event will inherit it."
                description:
                  type: string
                  description: "Body param: A note that you can use to add more details about the
                    event."
                disable_session_renewal:
                  oneOf:
                    - type: boolean
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `disable_session_renewal` property while it is active. If
                    null, the event will inherit it."
                new_users_per_minute:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `new_users_per_minute` property while it is active. If null,
                    the event will inherit it. This can only be set if the
                    event's `total_active_users` property is also set."
                prequeue_start_time:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: An ISO 8601 timestamp that marks when to begin
                    queueing all users before the event starts. The prequeue
                    must start at least five minutes before `event_start_time`."
                queueing_method:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `queueing_method` property while it is active. If null, the
                    event will inherit it."
                session_duration:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `session_duration` property while it is active. If null, the
                    event will inherit it."
                shuffle_at_event_start:
                  type: boolean
                  description: "Body param: If enabled, users in the prequeue will be shuffled
                    randomly at the `event_start_time`. Requires that
                    `prequeue_start_time` is not null. This is useful for
                    situations when many users will join the event prequeue at
                    the same time and you want to shuffle them to ensure
                    fairness. Naturally, it makes the most sense to enable this
                    feature when the `queueing_method` during the event respects
                    ordering such as  fifo  , or else the shuffling may be
                    unnecessary."
                suspended:
                  type: boolean
                  description: "Body param: Suspends or allows an event. If set to `true`, the
                    event is ignored and traffic will be handled based on the
                    waiting room configuration."
                total_active_users:
                  oneOf:
                    - type: number
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `total_active_users` property while it is active. If null,
                    the event will inherit it. This can only be set if the
                    event's `new_users_per_minute` property is also set."
                turnstile_action:
                  type: string
                  enum:
                    - log
                    - infinite_queue
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `turnstile_action` property while it is active. If null, the
                    event will inherit it."
                turnstile_mode:
                  type: string
                  enum:
                    - off
                    - invisible
                    - visible_non_interactive
                    - visible_managed
                  nullable: true
                  description: "Body param: If set, the event will override the waiting room's
                    `turnstile_mode` property while it is active. If null, the
                    event will inherit it."
              required:
                - event_end_time
                - event_start_time
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  custom_page_html:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `custom_page_html` property while it is active. If null,
                      the event will inherit it.
                  description:
                    type: string
                    description: A note that you can use to add more details about the event.
                  disable_session_renewal:
                    oneOf:
                      - type: boolean
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `disable_session_renewal` property while it is active. If
                      null, the event will inherit it.
                  event_end_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the end of the event.
                  event_start_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the start of the event. At this
                      time, queued users will be processed with the event's
                      configuration. The start time must be at least one minute
                      before `event_end_time`.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A unique name to identify the event. Only alphanumeric characters,
                      hyphens and underscores are allowed.
                  new_users_per_minute:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `new_users_per_minute` property while it is active. If
                      null, the event will inherit it. This can only be set if
                      the event's `total_active_users` property is also set.
                  prequeue_start_time:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An ISO 8601 timestamp that marks when to begin queueing all users
                      before the event starts. The prequeue must start at least
                      five minutes before `event_start_time`.
                  queueing_method:
                    oneOf:
                      - type: string
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `queueing_method` property while it is active. If null,
                      the event will inherit it.
                  session_duration:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `session_duration` property while it is active. If null,
                      the event will inherit it.
                  shuffle_at_event_start:
                    type: boolean
                    description: If enabled, users in the prequeue will be shuffled randomly at the
                      `event_start_time`. Requires that `prequeue_start_time` is
                      not null. This is useful for situations when many users
                      will join the event prequeue at the same time and you want
                      to shuffle them to ensure fairness. Naturally, it makes
                      the most sense to enable this feature when the
                      `queueing_method` during the event respects ordering such
                      as  fifo  , or else the shuffling may be unnecessary.
                  suspended:
                    type: boolean
                    description: Suspends or allows an event. If set to `true`, the event is ignored
                      and traffic will be handled based on the waiting room
                      configuration.
                  total_active_users:
                    oneOf:
                      - type: number
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `total_active_users` property while it is active. If null,
                      the event will inherit it. This can only be set if the
                      event's `new_users_per_minute` property is also set.
                  turnstile_action:
                    type: string
                    enum:
                      - log
                      - infinite_queue
                    nullable: true
                    description: If set, the event will override the waiting room's
                      `turnstile_action` property while it is active. If null,
                      the event will inherit it.
                  turnstile_mode:
                    type: string
                    enum:
                      - off
                      - invisible
                      - visible_non_interactive
                      - visible_managed
                    nullable: true
                    description: If set, the event will override the waiting room's `turnstile_mode`
                      property while it is active. If null, the event will
                      inherit it.
      x-distilled-response-path: result
  /zones/{zone_id}/waiting_rooms/{waitingRoomId}/events/{eventId}/details:
    get:
      operationId: getEventDetail
      description: "Previews an event's configuration as if it was active. Inherited
        fields from the waiting room will be displayed with their current
        values.  @example ```ts const detail = await
        client.waitingRooms.events.details.get(
        '699d98642c564d2e855e9661899b7252', '25756b2dfe6e378a06b033b670413757',
        { zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: eventId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  custom_page_html:
                    type: string
                  description:
                    type: string
                    description: A note that you can use to add more details about the event.
                  disable_session_renewal:
                    type: boolean
                  event_end_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the end of the event.
                  event_start_time:
                    type: string
                    description: An ISO 8601 timestamp that marks the start of the event. At this
                      time, queued users will be processed with the event's
                      configuration. The start time must be at least one minute
                      before `event_end_time`.
                  modified_on:
                    type: string
                  name:
                    type: string
                    description: A unique name to identify the event. Only alphanumeric characters,
                      hyphens and underscores are allowed.
                  new_users_per_minute:
                    type: number
                  prequeue_start_time:
                    oneOf:
                      - type: string
                    nullable: true
                    description: An ISO 8601 timestamp that marks when to begin queueing all users
                      before the event starts. The prequeue must start at least
                      five minutes before `event_start_time`.
                  queueing_method:
                    type: string
                  session_duration:
                    type: number
                  shuffle_at_event_start:
                    type: boolean
                    description: If enabled, users in the prequeue will be shuffled randomly at the
                      `event_start_time`. Requires that `prequeue_start_time` is
                      not null. This is useful for situations when many users
                      will join the event prequeue at the same time and you want
                      to shuffle them to ensure fairness. Naturally, it makes
                      the most sense to enable this feature when the
                      `queueing_method` during the event respects ordering such
                      as  fifo  , or else the shuffling may be unnecessary.
                  suspended:
                    type: boolean
                    description: Suspends or allows an event. If set to `true`, the event is ignored
                      and traffic will be handled based on the waiting room
                      configuration.
                  total_active_users:
                    type: number
      x-distilled-response-path: result
  /zones/{zone_id}/waiting_rooms/preview:
    post:
      operationId: previewPage
      description: "Creates a waiting room page preview. Upload a custom waiting room
        page for preview. You will receive a preview URL in the form
        `http://waitingrooms.dev/preview/<uuid>`. You can use the following
        query parameters to change the state of the preview:  1. `force_queue`:
        Boolean indicating if all users will be queued in the waiting room and
        no one will be let into the origin website (also known as queueAll). 2.
        `queue_is_full`: Boolean indicating if the waiting room's queue is
        currently full and not accepting new users at the moment. 3.
        `queueing_method`: The queueing method currently used by the waiting
        room. -  fifo  indicates a FIFO queue. -  random  indicates a Random
        queue. -  passthrough  indicates a Passthrough queue. Keep in mind that
        the waiting room page will only be displayed if `force_queue=true` or
        `event=prequeueing` — for other cases the request will pass through to
        the origin. For our preview, this will be a fake origin website
        returning \\\"Welcome\\\". -  reject  indicates a Reject queue. 4.
        `event`: Used to preview a waiting room event. -  none  indicates no
        event is occurring. -  prequeueing  indicates that an event is
        prequeueing (between `prequeue_start_time` and `event_start_time`).
        -  started  indicates that an event has started (between
        `event_start_time` and `event_end_time`). 5. `shuffle_at_event_start`:
        Boolean indicating if the event will shuffle users in the prequeue when
        it starts. This can only be set to  true  if an event is active (`event`
        is not  none  ).  For example, you can make a request to
        `http://waitingrooms.dev/preview/<uuid>?force_queue=false&queue_is_full\
        =false&queueing_method=random&event=started&shuffle_at_event_start=true`
        6. `waitTime`: Non-zero, positive integer indicating the estimated wait
        time in minutes. The default value is 10 minutes.  For example, you can
        make a request to `http://waitingrooms.dev/preview/<uuid>?waitTime=50`
        to configure the estimated wait time as 50 minutes.  @example ```ts
        const response = await client.waitingRooms.page.preview({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', custom_html: '{{#waitTimeKnown}}
        {{waitTime}} mins {{/waitTimeKnown}} {{^waitTimeKnown}} Queue all
        enabled {{/waitTimeKnown}}', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                custom_html:
                  type: string
                  description: "Body param: Only available for the Waiting Room Advanced
                    subscription. This is a template html file that will be
                    rendered at the edge. If no custom_page_html is provided,
                    the default waiting room will be used. The template is based
                    on mustache ( https://mustache.github.io/ ). There are
                    several variables that are evaluated by the Cloudflare
                    edge:  1. {{`waitTimeKnown`}} Acts like a boolean value that
                    indicates the behavior to take when wait time is not
                    available, for instance when queue_all is   true  . 2.
                    {{`waitTimeFormatted`}} Estimated wait time for the user.
                    For example, five minutes. Alternatively, you can use: 3.
                    {{`waitTime`}} Number of minutes of estimated wait for a
                    user. 4. {{`waitTimeHours`}} Number of hours of estimated
                    wait for a user (`Math.floor(waitTime/60)`). 5.
                    {{`waitTimeHourMinutes`}} Number of minutes above the
                    `waitTimeHours` value (`waitTime%60`). 6. {{`queueIsFull`}}
                    Changes to  true  when no more people can be added to the
                    queue.  To view the full list of variables, look at the
                    `cfWaitingRoom` object described under the
                    `json_response_enabled` property in other Waiting Room API
                    calls."
              required:
                - custom_html
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  preview_url:
                    type: string
                    description: URL where the custom waiting room page can temporarily be
                      previewed.
      x-distilled-response-path: result
  /zones/{zone_id}/waiting_rooms/{waitingRoomId}/rules:
    get:
      operationId: getRule
      description: "Lists rules for a waiting room.  @example ```ts // Automatically
        fetches more pages as needed. for await (const waitingRoomRule of
        client.waitingRooms.rules.get( '699d98642c564d2e855e9661899b7252', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the rule.
                  action:
                    type: string
                    enum:
                      - bypass_waiting_room
                    description: The action to take when the expression matches.
                  description:
                    type: string
                    description: The description of the rule.
                  enabled:
                    type: boolean
                    description: When set to true, the rule is enabled.
                  expression:
                    type: string
                    description: Criteria defining when there is a match for the current rule.
                  last_updated:
                    type: string
                  version:
                    type: string
                    description: The version of the rule.
      x-distilled-pagination-class: WaitingRoomRulesSinglePage
    post:
      operationId: createRule
      description: "Only available for the Waiting Room Advanced subscription. Creates
        a rule for a waiting room.  @example ```ts // Automatically fetches more
        pages as needed. for await (const waitingRoomRule of
        client.waitingRooms.rules.create( '699d98642c564d2e855e9661899b7252', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', rules: { action:
        'bypass_waiting_room', expression: 'ip.src in {10.20.30.40}', }, }, )) {
        // ... } ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: object
                  properties:
                    action:
                      type: string
                      enum:
                        - bypass_waiting_room
                      description: The action to take when the expression matches.
                    expression:
                      type: string
                      description: Criteria defining when there is a match for the current rule.
                    description:
                      type: string
                      description: The description of the rule.
                    enabled:
                      type: boolean
                      description: When set to true, the rule is enabled.
                  required:
                    - action
                    - expression
                  description: "Body param:"
              required:
                - rules
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the rule.
                  action:
                    type: string
                    enum:
                      - bypass_waiting_room
                    description: The action to take when the expression matches.
                  description:
                    type: string
                    description: The description of the rule.
                  enabled:
                    type: boolean
                    description: When set to true, the rule is enabled.
                  expression:
                    type: string
                    description: Criteria defining when there is a match for the current rule.
                  last_updated:
                    type: string
                  version:
                    type: string
                    description: The version of the rule.
      x-distilled-pagination-class: WaitingRoomRulesSinglePage
    put:
      operationId: updateRule
      description: "Only available for the Waiting Room Advanced subscription.
        Replaces all rules for a waiting room.  @example ```ts // Automatically
        fetches more pages as needed. for await (const waitingRoomRule of
        client.waitingRooms.rules.update( '699d98642c564d2e855e9661899b7252', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353', rules: [ { action:
        'bypass_waiting_room', expression: 'ip.src in {10.20.30.40}', }, ], },
        )) { // ... } ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rules:
                  type: array
                  items:
                    type: object
                    properties:
                      action:
                        type: string
                        enum:
                          - bypass_waiting_room
                        description: The action to take when the expression matches.
                      expression:
                        type: string
                        description: Criteria defining when there is a match for the current rule.
                      description:
                        type: string
                        description: The description of the rule.
                      enabled:
                        type: boolean
                        description: When set to true, the rule is enabled.
                    required:
                      - action
                      - expression
                  description: "Body param:"
              required:
                - rules
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the rule.
                  action:
                    type: string
                    enum:
                      - bypass_waiting_room
                    description: The action to take when the expression matches.
                  description:
                    type: string
                    description: The description of the rule.
                  enabled:
                    type: boolean
                    description: When set to true, the rule is enabled.
                  expression:
                    type: string
                    description: Criteria defining when there is a match for the current rule.
                  last_updated:
                    type: string
                  version:
                    type: string
                    description: The version of the rule.
      x-distilled-pagination-class: WaitingRoomRulesSinglePage
  /zones/{zone_id}/waiting_rooms/{waitingRoomId}/rules/{ruleId}:
    patch:
      operationId: patchRule
      description: "Patches a rule for a waiting room.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        waitingRoomRule of client.waitingRooms.rules.edit(
        '699d98642c564d2e855e9661899b7252', '25756b2dfe6e378a06b033b670413757',
        { zone_id: '023e105f4ecef8ad9ca31a8372d0c353', action:
        'bypass_waiting_room', expression: 'ip.src in {10.20.30.40}', }, )) { //
        ... } ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum:
                    - bypass_waiting_room
                  description: "Body param: The action to take when the expression matches."
                expression:
                  type: string
                  description: "Body param: Criteria defining when there is a match for the
                    current rule."
                description:
                  type: string
                  description: "Body param: The description of the rule."
                enabled:
                  type: boolean
                  description: "Body param: When set to true, the rule is enabled."
                position:
                  oneOf:
                    - type: object
                      properties:
                        index:
                          type: number
                          description: Places the rule in the exact position specified by the integer
                            number <POSITION_NUMBER>. Position numbers start
                            with 1. Existing rules in the ruleset from the
                            specified position number onward are shifted one
                            position (no rule is overwritten).
                    - type: object
                      properties:
                        before:
                          type: string
                          description: Places the rule before rule <RULE_ID>. Use this argument with an
                            empty rule ID value ("") to set the rule as the
                            first rule in the ruleset.
                    - type: object
                      properties:
                        after:
                          type: string
                          description: Places the rule after rule <RULE_ID>. Use this argument with an
                            empty rule ID value ("") to set the rule as the last
                            rule in the ruleset.
                  description: "Body param: Reorder the position of a rule"
              required:
                - action
                - expression
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the rule.
                  action:
                    type: string
                    enum:
                      - bypass_waiting_room
                    description: The action to take when the expression matches.
                  description:
                    type: string
                    description: The description of the rule.
                  enabled:
                    type: boolean
                    description: When set to true, the rule is enabled.
                  expression:
                    type: string
                    description: Criteria defining when there is a match for the current rule.
                  last_updated:
                    type: string
                  version:
                    type: string
                    description: The version of the rule.
      x-distilled-pagination-class: WaitingRoomRulesSinglePage
    delete:
      operationId: deleteRule
      description: "Deletes a rule for a waiting room.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        waitingRoomRule of client.waitingRooms.rules.delete(
        '699d98642c564d2e855e9661899b7252', '25756b2dfe6e378a06b033b670413757',
        { zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: ruleId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the rule.
                  action:
                    type: string
                    enum:
                      - bypass_waiting_room
                    description: The action to take when the expression matches.
                  description:
                    type: string
                    description: The description of the rule.
                  enabled:
                    type: boolean
                    description: When set to true, the rule is enabled.
                  expression:
                    type: string
                    description: Criteria defining when there is a match for the current rule.
                  last_updated:
                    type: string
                  version:
                    type: string
                    description: The version of the rule.
      x-distilled-pagination-class: WaitingRoomRulesSinglePage
  /zones/{zone_id}/waiting_rooms/settings:
    get:
      operationId: getSetting
      description: "Get zone-level Waiting Room settings  @example ```ts const setting
        = await client.waitingRooms.settings.get({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_engine_crawler_bypass:
                    type: boolean
                    description: Whether to allow verified search engine crawlers to bypass all
                      waiting rooms on this zone. Verified search engine
                      crawlers will not be tracked or counted by the waiting
                      room system, and will not appear in waiting room
                      analytics.
                required:
                  - search_engine_crawler_bypass
      x-distilled-response-path: result
    put:
      operationId: putSetting
      description: "Update zone-level Waiting Room settings  @example ```ts const
        setting = await client.waitingRooms.settings.update({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search_engine_crawler_bypass:
                  type: boolean
                  description: "Body param: Whether to allow verified search engine crawlers to
                    bypass all waiting rooms on this zone. Verified search
                    engine crawlers will not be tracked or counted by the
                    waiting room system, and will not appear in waiting room
                    analytics."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_engine_crawler_bypass:
                    type: boolean
                    description: Whether to allow verified search engine crawlers to bypass all
                      waiting rooms on this zone. Verified search engine
                      crawlers will not be tracked or counted by the waiting
                      room system, and will not appear in waiting room
                      analytics.
                required:
                  - search_engine_crawler_bypass
      x-distilled-response-path: result
    patch:
      operationId: patchSetting
      description: "Patch zone-level Waiting Room settings  @example ```ts const
        response = await client.waitingRooms.settings.edit({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                search_engine_crawler_bypass:
                  type: boolean
                  description: "Body param: Whether to allow verified search engine crawlers to
                    bypass all waiting rooms on this zone. Verified search
                    engine crawlers will not be tracked or counted by the
                    waiting room system, and will not appear in waiting room
                    analytics."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  search_engine_crawler_bypass:
                    type: boolean
                    description: Whether to allow verified search engine crawlers to bypass all
                      waiting rooms on this zone. Verified search engine
                      crawlers will not be tracked or counted by the waiting
                      room system, and will not appear in waiting room
                      analytics.
                required:
                  - search_engine_crawler_bypass
      x-distilled-response-path: result
  /zones/{zone_id}/waiting_rooms/{waitingRoomId}/status:
    get:
      operationId: getStatus
      description: "Fetches the status of a configured waiting room. Response fields
        include:  1. `status`: String indicating the status of the waiting room.
        The possible status are: -  not_queueing  indicates that the configured
        thresholds have not been met and all users are going through to the
        origin. -  queueing  indicates that the thresholds have been met and
        some users are held in the waiting room. -  event_prequeueing  indicates
        that an event is active and is currently prequeueing users before it
        starts. -  suspended  indicates that the room is suspended. 2.
        `event_id`: String of the current event's `id` if an event is active,
        otherwise an empty string. 3. `estimated_queued_users`: Integer of the
        estimated number of users currently waiting in the queue. 4.
        `estimated_total_active_users`: Integer of the estimated number of users
        currently active on the origin. 5. `max_estimated_time_minutes`: Integer
        of the maximum estimated time currently presented to the
        users.  @example ```ts const status = await
        client.waitingRooms.statuses.get( '699d98642c564d2e855e9661899b7252', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  estimated_queued_users:
                    type: number
                  estimated_total_active_users:
                    type: number
                  event_id:
                    type: string
                  max_estimated_time_minutes:
                    type: number
                  status:
                    type: string
                    enum:
                      - event_prequeueing
                      - not_queueing
                      - queueing
                      - suspended
      x-distilled-response-path: result
  /zones/{zone_id}/waiting_rooms/{waitingRoomId}:
    get:
      operationId: getWaitingRoom
      description: "Fetches a single configured waiting room.  @example ```ts const
        waitingRoom = await client.waitingRooms.get(
        '699d98642c564d2e855e9661899b7252', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: waitingRoomId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  additional_routes:
                    type: array
                    items:
                      type: object
                      properties:
                        host:
                          type: string
                          description: The hostname to which this waiting room will be applied (no
                            wildcards). The hostname must be the primary domain,
                            subdomain, or custom hostname (if using SSL for
                            SaaS) of this zone. Please do not include the scheme
                            (http:// or https://).
                        path:
                          type: string
                          description: Sets the path within the host to enable the waiting room on. The
                            waiting room will be enabled for all subpaths as
                            well. If there are two waiting rooms on the same
                            subpath, the waiting room for the most specific path
                            will be chosen. Wildcards and query parameters are
                            not supported.
                    description: Only available for the Waiting Room Advanced subscription.
                      Additional hostname and path combinations to which this
                      waiting room will be applied. There is an implied wildcard
                      at the end of the path. The hostname and path combination
                      must be unique to this and all other waiting rooms.
                  cookie_attributes:
                    type: object
                    properties:
                      samesite:
                        type: string
                        enum:
                          - auto
                          - lax
                          - none
                          - strict
                        description: Configures the SameSite attribute on the waiting room cookie. Value
                          `auto` will be translated to `lax` or `none` depending
                          if  Always Use HTTPS  is enabled. Note that when using
                          value `none`, the secure attribute cannot be set to
                          `never`.
                      secure:
                        type: string
                        enum:
                          - auto
                          - always
                          - never
                        description: Configures the Secure attribute on the waiting room cookie. Value
                          `always` indicates that the Secure attribute will be
                          set in the Set-Cookie header, `never` indicates that
                          the Secure attribute will not be set, and `auto` will
                          set the Secure attribute depending if  Always Use
                          HTTPS  is enabled.
                    description: Configures cookie attributes for the waiting room cookie. This
                      encrypted cookie stores a user's status in the waiting
                      room, such as queue position.
                  cookie_suffix:
                    type: string
                    description: Appends a '\_' + a custom suffix to the end of Cloudflare Waiting
                      Room's cookie name(  cf_waitingroom). If `cookie_suffix`
                      is "abcd", the cookie name will be
                      `  cf_waitingroom_abcd`. This field is required if using
                      `additional_routes`.
                  created_on:
                    type: string
                  custom_page_html:
                    type: string
                    description: "Only available for the Waiting Room Advanced subscription. This is
                      a template html file that will be rendered at the edge. If
                      no custom_page_html is provided, the default waiting room
                      will be used. The template is based on mustache (
                      https://mustache.github.io/ ). There are several variables
                      that are evaluated by the Cloudflare edge:  1.
                      {{`waitTimeKnown`}} Acts like a boolean value that
                      indicates the behavior to take when wait time is not
                      available, for instance when queue_all is   true  . 2.
                      {{`waitTimeFormatted`}} Estimated wait time for the user.
                      For example, five minutes. Alternatively, you can use: 3.
                      {{`waitTime`}} Number of minutes of estimated wait for a
                      user. 4. {{`waitTimeHours`}} Number of hours of estimated
                      wait for a user (`Math.floor(waitTime/60)`). 5.
                      {{`waitTimeHourMinutes`}} Number of minutes above the
                      `waitTimeHours` value (`waitTime%60`). 6.
                      {{`queueIsFull`}} Changes to  true  when no more people
                      can be added to the queue.  To view the full list of
                      variables, look at the `cfWaitingRoom` object described
                      under the `json_response_enabled` property in other
                      Waiting Room API calls."
                  default_template_language:
                    type: string
                    enum:
                      - en-US
                      - es-ES
                      - de-DE
                      - fr-FR
                      - it-IT
                      - ja-JP
                      - ko-KR
                      - pt-BR
                      - zh-CN
                      - zh-TW
                      - nl-NL
                      - pl-PL
                      - id-ID
                      - tr-TR
                      - ar-EG
                      - ru-RU
                      - fa-IR
                      - bg-BG
                      - hr-HR
                      - cs-CZ
                      - da-DK
                      - fi-FI
                      - lt-LT
                      - ms-MY
                      - nb-NO
                      - ro-RO
                      - el-GR
                      - he-IL
                      - hi-IN
                      - hu-HU
                      - sr-BA
                      - sk-SK
                      - sl-SI
                      - sv-SE
                      - tl-PH
                      - th-TH
                      - uk-UA
                      - vi-VN
                    description: The language of the default page template. If no
                      default_template_language is provided, then `en-US`
                      (English) will be used.
                  description:
                    type: string
                    description: A note that you can use to add more details about the waiting room.
                  disable_session_renewal:
                    type: boolean
                    description: Only available for the Waiting Room Advanced subscription. Disables
                      automatic renewal of session cookies. If `true`, an
                      accepted user will have session_duration minutes to browse
                      the site. After that, they will have to go through the
                      waiting room again. If `false`, a user's session cookie
                      will be automatically renewed on every request.
                  enabled_origin_commands:
                    type: array
                    items:
                      type: string
                      enum:
                        - revoke
                    description: A list of enabled origin commands.
                  host:
                    type: string
                    description: The host name to which the waiting room will be applied (no
                      wildcards). Please do not include the scheme (http:// or
                      https://). The host and path combination must be unique.
                  json_response_enabled:
                    type: boolean
                    description: "Only available for the Waiting Room Advanced subscription. If
                      `true`, requests to the waiting room with the header
                      `Accept: application/json` will receive a JSON response
                      object with information on the user's status in the
                      waiting room as opposed to the configured static HTML
                      page. This JSON response object has one property
                      `cfWaitingRoom` which is an object containing the
                      following fields:  1. `inWaitingRoom`: Boolean indicating
                      if the user is in the waiting room (always  true  ). 2.
                      `waitTimeKnown`: Boolean indicating if the current
                      estimated wait times are accurate. If  false  , they are
                      not available. 3. `waitTime`: Valid only when
                      `waitTimeKnown` is  true  . Integer indicating the current
                      estimated time in minutes the user will wait in the
                      waiting room. When `queueingMethod` is  random  , this is
                      set to `waitTime50Percentile`. 4. `waitTime25Percentile`:
                      Valid only when `queueingMethod` is  random  and
                      `waitTimeKnown` is  true  . Integer indicating the current
                      estimated maximum wait time for the 25% of users that gain
                      entry the fastest (25th percentile). 5.
                      `waitTime50Percentile`: Valid only when `queueingMethod`
                      is  random  and `waitTimeKnown` is  true  . Integer
                      indicating the current estimated maximum wait time for the
                      50% of users that gain entry the fastest (50th
                      percentile). In other words, half of the queued users are
                      expected to let into the origin website before
                      `waitTime50Percentile` and half are expected to be let in
                      after it. 6. `waitTime75Percentile`: Valid only when
                      `queueingMethod` is  random  and `waitTimeKnown`
                      is  true  . Integer indicating the current estimated
                      maximum wait time for the 75% of users that gain entry the
                      fastest (75th percentile). 7. `waitTimeFormatted`: String
                      displaying the `waitTime` formatted in English for users.
                      If `waitTimeKnown` is  false  , `waitTimeFormatted` will
                      display   unavailable  . 8. `queueIsFull`: Boolean
                      indicating if the waiting room's queue is currently full
                      and not accepting new users at the moment. 9. `queueAll`:
                      Boolean indicating if all users will be queued in the
                      waiting room and no one will be let into the origin
                      website. 10. `lastUpdated`: String displaying the
                      timestamp as an ISO 8601 string of the user's last attempt
                      to leave the waiting room and be let into the origin
                      website. The user is able to make another attempt after
                      `refreshIntervalSeconds` past this time. If the user makes
                      a request too soon, it will be ignored and `lastUpdated`
                      will not change. 11. `refreshIntervalSeconds`: Integer
                      indicating the number of seconds after `lastUpdated` until
                      the user is able to make another attempt to leave the
                      waiting room and be let into the origin website. When the
                      `queueingMethod` is `reject`, there is no specified
                      refresh time —\\_it will always be   zero  . 12.
                      `queueingMethod`: The queueing method currently used by
                      the waiting room. It is
                      either  fifo  ,  random  ,  passthrough  , or  reject  .
                      13. `isFIFOQueue`: Boolean indicating if the waiting room
                      uses a FIFO (First-In-First-Out) queue. 14.
                      `isRandomQueue`: Boolean indicating if the waiting room
                      uses a Random queue where users gain access randomly. 15.
                      `isPassthroughQueue`: Boolean indicating if the waiting
                      room uses a passthrough queue. Keep in mind that when
                      passthrough is enabled, this JSON response will only exist
                      when `queueAll` is  true  or `isEventPrequeueing`
                      is  true  because in all other cases requests will go
                      directly to the origin. 16. `isRejectQueue`: Boolean
                      indicating if the waiting room uses a reject queue. 17.
                      `isEventActive`: Boolean indicating if an event is
                      currently occurring. Events are able to change a waiting
                      room's behavior during a specified period of time. For
                      additional information, look at the event properties
                      `prequeue_start_time`, `event_start_time`, and
                      `event_end_time` in the documentation for creating waiting
                      room events. Events are considered active between these
                      start and end times, as well as during the prequeueing
                      period if it exists. 18. `isEventPrequeueing`: Valid only
                      when `isEventActive` is  true  . Boolean indicating if an
                      event is currently prequeueing users before it starts. 19.
                      `timeUntilEventStart`: Valid only when
                      `isEventPrequeueing` is  true  . Integer indicating the
                      number of minutes until the event starts. 20.
                      `timeUntilEventStartFormatted`: String displaying the
                      `timeUntilEventStart` formatted in English for users. If
                      `isEventPrequeueing` is  false  ,
                      `timeUntilEventStartFormatted` will
                      display  unavailable  . 21. `timeUntilEventEnd`: Valid
                      only when `isEventActive` is  true  . Integer indicating
                      the number of minutes until the event ends. 22.
                      `timeUntilEventEndFormatted`: String displaying the
                      `timeUntilEventEnd` formatted in English for users. If
                      `isEventActive` is  false  , `timeUntilEventEndFormatted`
                      will display  unavailable  . 23. `shuffleAtEventStart`:
                      Valid only when `isEventActive` is  true  . Boolean
                      indicating if the users in the prequeue are shuffled
                      randomly when the event starts. 24. `turnstile`: Empty
                      when turnstile isn't enabled. String displaying an html
                      tag to display the Turnstile widget. Please add the
                      `{{{turnstile}}}` tag to the `custom_html` template to
                      ensure the Turnstile widget appears. 25. `infiniteQueue`:
                      Boolean indicating whether the response is for a user in
                      the infinite queue.  An example cURL to a waiting room
[...]
