openapi: 3.1.0
info:
  title: Cloudflare WORKERS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: workers
paths:
  /accounts/{account_id}/workers/account-settings:
    get:
      operationId: getAccountSetting
      description: "Fetches Worker account settings for an account.  @example ```ts
        const accountSetting = await client.workers.accountSettings.get({
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_usage_model:
                    type: string
                  green_compute:
                    type: boolean
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
    put:
      operationId: putAccountSetting
      description: "Creates Worker account settings for an account.  @example ```ts
        const accountSetting = await client.workers.accountSettings.update({
        account_id: '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                default_usage_model:
                  type: string
                  description: "Body param:"
                green_compute:
                  type: boolean
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  default_usage_model:
                    type: string
                  green_compute:
                    type: boolean
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/workers/assets/upload:
    post:
      operationId: createAssetUpload
      description: "Upload assets ahead of creating a Worker version. To learn more
        about the direct uploads of assets, see
        https://developers.cloudflare.com/workers/static-assets/direct-upload/.  \
        @example ```ts const upload = await
        client.workers.assets.upload.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', base64: true, body: { foo: 'string'
        }, }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: base64
          in: query
          required: true
          description: "Query param: Whether the file contents are base64-encoded. Must be
            `true`."
          schema:
            type: boolean
            enum:
              - true
        - name: Authorization
          in: header
          required: false
          description: Upload session JWT returned by createScriptAssetUpload. This SDK
            sends it as an Authorization bearer token for this request.
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  jwt:
                    type: string
                    description: A "completion" JWT which can be redeemed when creating a Worker
                      version.
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/workers/workers/{workerId}:
    get:
      operationId: getBetaWorker
      description: "Get details about a specific Worker.  @example ```ts const worker
        = await client.workers.beta.workers.get( 'worker_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: workerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the referencing Worker.
                  name:
                    type: string
                    description: Name of the referencing Worker.
                required:
                  - id
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        WorkerNotFound:
          - code: 10007
        InvalidRoute:
          - code: 7003
    put:
      operationId: updateBetaWorker
      description: "Perform a complete replacement of a Worker, where omitted
        properties are set to their default values. This is the exact same as
        the Create Worker endpoint, but operates on an existing Worker. To
        perform a partial update instead, use the Edit Worker
        endpoint.  @example ```ts const worker = await
        client.workers.beta.workers.update( 'worker_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'my-worker', }, ); ```"
      parameters:
        - name: workerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Name of the Worker."
                logpush:
                  type: boolean
                  description: "Body param: Whether logpush is enabled for the Worker."
                observability:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether observability is enabled for the Worker.
                    head_sampling_rate:
                      type: number
                      description: The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 =
                        10%).
                    logs:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Whether logs are enabled for the Worker.
                        head_sampling_rate:
                          type: number
                          description: The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%).
                        invocation_logs:
                          type: boolean
                          description: Whether [invocation
                            logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs)
                            are enabled for the Worker.
                      description: Log settings for the Worker.
                  description: "Body param: Observability settings for the Worker."
                subdomain:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether the \ .workers.dev subdomain is enabled for the Worker.
                    previews_enabled:
                      type: boolean
                      description: Whether [preview
                        URLs](https://developers.cloudflare.com/workers/configuration/previews/)
                        are enabled for the Worker.
                  description: "Body param: Subdomain settings for the Worker."
                tags:
                  type: array
                  items:
                    type: string
                  description: "Body param: Tags associated with the Worker."
                tail_consumers:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the consumer Worker.
                    required:
                      - name
                  description: "Body param: Other Workers that should consume logs from the
                    Worker."
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the referencing Worker.
                  name:
                    type: string
                    description: Name of the referencing Worker.
                required:
                  - id
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        WorkerNotFound:
          - code: 10007
    patch:
      operationId: patchBetaWorker
      description: "Perform a partial update on a Worker, where omitted properties are
        left unchanged from their current values.  @example ```ts const worker =
        await client.workers.beta.workers.edit( 'worker_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', logpush: true, name: 'my-worker',
        observability: {}, subdomain: {}, tags: ['my-team', 'my-public-api'],
        tail_consumers: [{ name: 'my-tail-consumer' }], }, ); ```"
      parameters:
        - name: workerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                logpush:
                  type: boolean
                  description: "Body param: Whether logpush is enabled for the Worker."
                name:
                  type: string
                  description: "Body param: Name of the Worker."
                observability:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether observability is enabled for the Worker.
                    head_sampling_rate:
                      type: number
                      description: The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 =
                        10%).
                    logs:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Whether logs are enabled for the Worker.
                        head_sampling_rate:
                          type: number
                          description: The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%).
                        invocation_logs:
                          type: boolean
                          description: Whether [invocation
                            logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs)
                            are enabled for the Worker.
                      description: Log settings for the Worker.
                  description: "Body param: Observability settings for the Worker."
                subdomain:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether the \ .workers.dev subdomain is enabled for the Worker.
                    previews_enabled:
                      type: boolean
                      description: Whether [preview
                        URLs](https://developers.cloudflare.com/workers/configuration/previews/)
                        are enabled for the Worker.
                  description: "Body param: Subdomain settings for the Worker."
                tags:
                  type: array
                  items:
                    type: string
                  description: "Body param: Tags associated with the Worker."
                tail_consumers:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the consumer Worker.
                    required:
                      - name
                  description: "Body param: Other Workers that should consume logs from the
                    Worker."
              required:
                - logpush
                - name
                - observability
                - subdomain
                - tags
                - tail_consumers
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the referencing Worker.
                  name:
                    type: string
                    description: Name of the referencing Worker.
                required:
                  - id
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        WorkerNotFound:
          - code: 10007
    delete:
      operationId: deleteBetaWorker
      description: "Delete a Worker and all its associated resources (versions,
        deployments, etc.).  @example ```ts const worker = await
        client.workers.beta.workers.delete( 'worker_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: workerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        WorkerNotFound:
          - code: 10007
  /accounts/{account_id}/workers/workers:
    get:
      operationId: listBetaWorkers
      description: "List all Workers for an account.  @example ```ts // Automatically
        fetches more pages as needed. for await (const worker of
        client.workers.beta.workers.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the referencing Worker.
                  name:
                    type: string
                    description: Name of the referencing Worker.
                required:
                  - id
                  - name
      x-distilled-pagination-class: WorkersV4PagePaginationArray
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
    post:
      operationId: createBetaWorker
      description: "Create a new Worker.  @example ```ts const worker = await
        client.workers.beta.workers.create({ account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', name: 'my-worker', }); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: Name of the Worker."
                logpush:
                  type: boolean
                  description: "Body param: Whether logpush is enabled for the Worker."
                observability:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether observability is enabled for the Worker.
                    head_sampling_rate:
                      type: number
                      description: The sampling rate for observability. From 0 to 1 (1 = 100%, 0.1 =
                        10%).
                    logs:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Whether logs are enabled for the Worker.
                        head_sampling_rate:
                          type: number
                          description: The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%).
                        invocation_logs:
                          type: boolean
                          description: Whether [invocation
                            logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs)
                            are enabled for the Worker.
                      description: Log settings for the Worker.
                  description: "Body param: Observability settings for the Worker."
                subdomain:
                  type: object
                  properties:
                    enabled:
                      type: boolean
                      description: Whether the \ .workers.dev subdomain is enabled for the Worker.
                    previews_enabled:
                      type: boolean
                      description: Whether [preview
                        URLs](https://developers.cloudflare.com/workers/configuration/previews/)
                        are enabled for the Worker.
                  description: "Body param: Subdomain settings for the Worker."
                tags:
                  type: array
                  items:
                    type: string
                  description: "Body param: Tags associated with the Worker."
                tail_consumers:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Name of the consumer Worker.
                    required:
                      - name
                  description: "Body param: Other Workers that should consume logs from the
                    Worker."
              required:
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: ID of the referencing Worker.
                  name:
                    type: string
                    description: Name of the referencing Worker.
                required:
                  - id
                  - name
      x-distilled-response-path: result
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/workers/workers/{workerId}/versions/{versionId}:
    get:
      operationId: getBetaWorkerVersion
      description: "Get details about a specific version.  @example ```ts const
        version = await client.workers.beta.workers.versions.get( 'worker_id',
        'version_id', { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, );
        ```"
      parameters:
        - name: workerId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: include
          in: query
          required: false
          description: "Query param: Whether to include the `modules` property of the
            version in the response, which contains code and sourcemap content
            and may add several megabytes to the response size."
          schema:
            type: string
            enum:
              - modules
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Version identifier.
                  created_on:
                    type: string
                    description: When the version was created.
                  number:
                    type: number
                    description: The integer version number, starting from one.
                  annotations:
                    type: object
                    properties:
                      workers/message:
                        type: string
                        description: Human-readable message about the version.
                      workers/tag:
                        type: string
                        description: User-provided identifier for the version.
                      workers/triggered_by:
                        type: string
                        description: Operation that triggered the creation of the version.
                    description: Metadata about the version.
                  assets:
                    type: object
                    properties:
                      config:
                        type: object
                        properties:
                          html_handling:
                            type: string
                            enum:
                              - auto-trailing-slash
                              - force-trailing-slash
                              - drop-trailing-slash
                              - none
                            description: Determines the redirects and rewrites of requests for HTML content.
                          not_found_handling:
                            type: string
                            enum:
                              - none
                              - 404-page
                              - single-page-application
                            description: Determines the response when a request does not match a static
                              asset, and there is no Worker script.
                          run_worker_first:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                              - type: boolean
                            description: Contains a list path rules to control routing to either the Worker
                              or assets. Glob (\ ) and negative (!) rules are
                              supported. Rules must start with either '/' or
                              '!/'. At least one non-negative rule must be
                              provided, and negative rules have higher
                              precedence than non-negative rules.
                        description: Configuration for assets within a Worker.
                      jwt:
                        type: string
                        description: Token provided upon successful upload of all files from a
                          registered manifest.
                    description: Configuration for assets within a
                      Worker.  [`_headers`](https://developers.cloudflare.com/workers/static-assets/headers/#custom-headers)
                      and
                      [`_redirects`](https://developers.cloudflare.com/workers/static-assets/redirects/)
                      files should be included as modules named `_headers` and
                      `_redirects` with content type `text/plain`.
                  bindings:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - ai
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            dataset:
                              type: string
                              description: The name of the dataset to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - analytics_engine
                              description: The kind of resource that the binding provides.
                          required:
                            - dataset
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - assets
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - browser
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            id:
                              type: string
                              description: Identifier of the D1 database to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - d1
                              description: The kind of resource that the binding provides.
                          required:
                            - id
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            part:
                              type: string
                              description: The name of the file containing the data content. Only accepted for
                                `service worker syntax` Workers.
                            type:
                              type: string
                              enum:
                                - data_blob
                              description: "@deprecated The kind of resource that the binding provides."
                          required:
                            - name
                            - part
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            namespace:
                              type: string
                              description: The name of the dispatch namespace.
                            type:
                              type: string
                              enum:
                                - dispatch_namespace
                              description: The kind of resource that the binding provides.
                            outbound:
                              type: object
                              properties:
                                params:
                                  type: array
                                  items:
                                    type: string
                                  description: Pass information from the Dispatch Worker to the Outbound Worker
                                    through the parameters.
                                worker:
                                  type: object
                                  properties:
                                    environment:
                                      type: string
                                      description: Environment of the outbound worker.
                                    service:
                                      type: string
                                      description: Name of the outbound worker.
                                  description: Outbound worker.
                              description: Outbound worker.
                          required:
                            - name
                            - namespace
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - durable_object_namespace
                              description: The kind of resource that the binding provides.
                            class_name:
                              type: string
                              description: The exported class name of the Durable Object.
                            environment:
                              type: string
                              description: The environment of the script_name to bind to.
                            namespace_id:
                              type: string
                              description: Namespace identifier tag.
                            script_name:
                              type: string
                              description: The script where the Durable Object is defined, if it is external
                                to this Worker.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            id:
                              type: string
                              description: Identifier of the Hyperdrive connection to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - hyperdrive
                              description: The kind of resource that the binding provides.
                          required:
                            - id
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: The name of the inherited binding.
                            type:
                              type: string
                              enum:
                                - inherit
                              description: The kind of resource that the binding provides.
                            old_name:
                              type: string
                              description: The old name of the inherited binding. If set, the binding will be
                                renamed from `old_name` to `name` in the new
                                version. If not set, the binding will keep the
                                same name between versions.
                            version_id:
                              type: string
                              description: Identifier for the version to inherit the binding from, which can
                                be the version ID or the literal "latest" to
                                inherit from the latest version. Defaults to
                                inheriting the binding from the latest version.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - images
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            json:
                              type: string
                              description: JSON data to use.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - json
                              description: The kind of resource that the binding provides.
                          required:
                            - json
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            namespace_id:
                              type: string
                              description: Namespace identifier tag.
                            type:
                              type: string
                              enum:
                                - kv_namespace
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - namespace_id
                            - type
                        - type: object
                          properties:
                            certificate_id:
                              type: string
                              description: Identifier of the certificate to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - mtls_certificate
                              description: The kind of resource that the binding provides.
                          required:
                            - certificate_id
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            text:
                              type: string
                              description: The text value to use.
                            type:
                              type: string
                              enum:
                                - plain_text
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - text
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            pipeline:
                              type: string
                              description: Name of the Pipeline to bind to.
                            type:
                              type: string
                              enum:
                                - pipelines
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - pipeline
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            queue_name:
                              type: string
                              description: Name of the Queue to bind to.
                            type:
                              type: string
                              enum:
                                - queue
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - queue_name
                            - type
                        - type: object
                          properties:
                            bucket_name:
                              type: string
                              description: R2 bucket to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - r2_bucket
                              description: The kind of resource that the binding provides.
                            jurisdiction:
                              type: string
                              enum:
                                - eu
                                - fedramp
                              description: The
                                [jurisdiction](https://developers.cloudflare.com/r2/reference/data-location/#jurisdictional-restrictions)
                                of the R2 bucket.
                          required:
                            - bucket_name
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - secret_text
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - send_email
                              description: The kind of resource that the binding provides.
                            allowed_destination_addresses:
                              type: array
                              items:
                                type: string
                              description: List of allowed destination addresses.
                            allowed_sender_addresses:
                              type: array
                              items:
                                type: string
                              description: List of allowed sender addresses.
                            destination_address:
                              type: string
                              description: Destination address for the email.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            service:
                              type: string
                              description: Name of Worker to bind to.
                            type:
                              type: string
                              enum:
                                - service
                              description: The kind of resource that the binding provides.
                            environment:
                              type: string
                              description: Optional environment if the Worker utilizes one.
                          required:
                            - name
                            - service
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            part:
                              type: string
                              description: The name of the file containing the text content. Only accepted for
                                `service worker syntax` Workers.
                            type:
                              type: string
                              enum:
                                - text_blob
                              description: "@deprecated The kind of resource that the binding provides."
                          required:
                            - name
                            - part
                            - type
                        - type: object
                          properties:
                            index_name:
                              type: string
                              description: Name of the Vectorize index to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - vectorize
                              description: The kind of resource that the binding provides.
                          required:
                            - index_name
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - version_metadata
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            secret_name:
                              type: string
                              description: Name of the secret in the store.
                            store_id:
                              type: string
                              description: ID of the store containing the secret.
                            type:
                              type: string
                              enum:
                                - secrets_store_secret
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - secret_name
                            - store_id
                            - type
                        - type: object
                          properties:
                            algorithm:
                              description: Algorithm-specific key parameters. [Learn
                                more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#algorithm).
                            format:
                              type: string
                              enum:
                                - raw
                                - pkcs8
                                - spki
                                - jwk
                              description: Data format of the key. [Learn
                                more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#format).
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - secret_key
                              description: The kind of resource that the binding provides.
                            usages:
                              type: array
                              items:
                                type: string
                                enum:
                                  - encrypt
                                  - decrypt
                                  - sign
                                  - verify
                                  - deriveKey
                                  - deriveBits
                                  - wrapKey
                                  - unwrapKey
                              description: Allowed operations with the key. [Learn
                                more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#keyUsages).
                          required:
                            - algorithm
                            - format
                            - name
                            - type
                            - usages
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - workflow
                              description: The kind of resource that the binding provides.
                            workflow_name:
                              type: string
                              description: Name of the Workflow to bind to.
                            class_name:
                              type: string
                              description: Class name of the Workflow. Should only be provided if the Workflow
                                belongs to this script.
                            script_name:
                              type: string
                              description: Script name that contains the Workflow. If not provided, defaults
                                to this script name.
                          required:
                            - name
                            - type
                            - workflow_name
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            part:
                              type: string
                              description: The name of the file containing the WebAssembly module content.
                                Only accepted for `service worker syntax`
                                Workers.
                            type:
                              type: string
                              enum:
                                - wasm_module
                              description: "@deprecated The kind of resource that the binding provides."
                          required:
                            - name
                            - part
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                            type:
                              type: string
                              enum:
                                - worker_loader
                          required:
                            - name
                            - type
                    description: "List of bindings attached to a Worker. You can find more about
                      bindings on our docs:
                      https://developers.cloudflare.com/workers/configuration/m\
                      ultipart-upload-metadata/#bindings."
                  compatibility_date:
                    type: string
                    description: Date indicating targeted support in the Workers runtime. Backwards
                      incompatible fixes to the runtime following this date will
                      not affect this Worker.
                  compatibility_flags:
                    type: array
                    items:
                      type: string
                    description: Flags that enable or disable certain features in the Workers
                      runtime. Used to enable upcoming features or opt in or out
                      of specific changes not included in a
                      `compatibility_date`.
                  limits:
                    type: object
                    properties:
                      cpu_ms:
                        type: number
                        description: CPU time limit in milliseconds.
                    required:
                      - cpu_ms
                    description: Resource limits enforced at runtime.
                  main_module:
                    type: string
                    description: The name of the main module in the `modules` array (e.g. the name
                      of the module that exports a `fetch` handler).
                  migrations:
                    oneOf:
                      - type: object
                        additionalProperties: true
                      - type: object
                        properties:
                          new_tag:
                            type: string
                            description: Tag to set as the latest migration tag.
                          old_tag:
                            type: string
                            description: Tag used to verify against the latest migration tag for this
                              Worker. If they don't match, the upload is
                              rejected.
                          steps:
                            type: array
                            items:
                              type: object
                              properties:
                                deleted_classes:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of classes to delete Durable Object namespaces from.
                                new_classes:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of classes to create Durable Object namespaces from.
                                new_sqlite_classes:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of classes to create Durable Object namespaces with SQLite
                                    from.
                                renamed_classes:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      from:
                                        type: string
                                      to:
                                        type: string
                                  description: A list of classes with Durable Object namespaces that were renamed.
                                transferred_classes:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      from:
                                        type: string
                                      from_script:
                                        type: string
                                      to:
                                        type: string
                                  description: A list of transfers for Durable Object namespaces from a different
                                    Worker and class to a class defined in this
                                    Worker.
                            description: Migrations to apply in order.
                    description: Migrations for Durable Objects associated with the version.
                      Migrations are applied when the version is deployed.
                  modules:
                    type: array
                    items:
                      type: object
                      properties:
                        content_base64:
                          type: string
                          description: The base64-encoded module content.
                        content_type:
                          type: string
                          description: The content type of the module.
                        name:
                          type: string
                          description: The name of the module.
                      required:
                        - content_base64
                        - content_type
                        - name
                    description: Code, sourcemaps, and other content used at runtime.  This includes
                      [`_headers`](https://developers.cloudflare.com/workers/static-assets/headers/#custom-headers)
                      and
                      [`_redirects`](https://developers.cloudflare.com/workers/static-assets/redirects/)
                      files used to configure [Static
                      Assets](https://developers.cloudflare.com/workers/static-assets/).
                      `_headers` and `_redirects` files should be included as
                      modules named `_headers` and `_redirects` with content
                      type `text/plain`.
                  placement:
                    type: object
                    properties:
                      mode:
                        type: string
                        enum:
                          - smart
                        description: Placement mode for the version.
                    description: Placement settings for the version.
                  source:
                    type: string
                    description: The client used to create the version.
                  startup_time_ms:
                    type: number
                    description: Time in milliseconds spent on [Worker
                      startup](https://developers.cloudflare.com/workers/platform/limits/#worker-startup-time).
                  usage_model:
                    type: string
                    enum:
                      - standard
                      - bundled
                      - unbound
                    description: "@deprecated Usage model for the version."
                required:
                  - id
                  - created_on
                  - number
      x-distilled-response-path: result
      x-distilled-errors:
        WorkerNotFound:
          - code: 10007
          - code: 10013
        WorkerVersionNotFound:
          - code: 10071
    delete:
      operationId: deleteBetaWorkerVersion
      description: "Delete a version.  @example ```ts const version = await
        client.workers.beta.workers.versions.delete( 'worker_id', 'version_id',
        { account_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: workerId
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                required:
                  - errors
                  - messages
                  - success
      x-distilled-errors:
        WorkerNotFound:
          - code: 10007
          - code: 10013
        WorkerVersionNotFound:
          - code: 10071
  /accounts/{account_id}/workers/workers/{workerId}/versions:
    get:
      operationId: listBetaWorkerVersions
      description: "List all versions for a Worker.  @example ```ts // Automatically
        fetches more pages as needed. for await (const version of
        client.workers.beta.workers.versions.list( 'worker_id', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: workerId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Version identifier.
                  created_on:
                    type: string
                    description: When the version was created.
                  number:
                    type: number
                    description: The integer version number, starting from one.
                  annotations:
                    type: object
                    properties:
                      workers/message:
                        type: string
                        description: Human-readable message about the version.
                      workers/tag:
                        type: string
                        description: User-provided identifier for the version.
                      workers/triggered_by:
                        type: string
                        description: Operation that triggered the creation of the version.
                    description: Metadata about the version.
                  assets:
                    type: object
                    properties:
                      config:
                        type: object
                        properties:
                          html_handling:
                            type: string
                            enum:
                              - auto-trailing-slash
                              - force-trailing-slash
                              - drop-trailing-slash
                              - none
                            description: Determines the redirects and rewrites of requests for HTML content.
                          not_found_handling:
                            type: string
                            enum:
                              - none
                              - 404-page
                              - single-page-application
                            description: Determines the response when a request does not match a static
                              asset, and there is no Worker script.
                          run_worker_first:
                            oneOf:
                              - type: array
                                items:
                                  type: string
                              - type: boolean
                            description: Contains a list path rules to control routing to either the Worker
                              or assets. Glob (\ ) and negative (!) rules are
                              supported. Rules must start with either '/' or
                              '!/'. At least one non-negative rule must be
                              provided, and negative rules have higher
                              precedence than non-negative rules.
                        description: Configuration for assets within a Worker.
                      jwt:
                        type: string
                        description: Token provided upon successful upload of all files from a
                          registered manifest.
                    description: Configuration for assets within a
                      Worker.  [`_headers`](https://developers.cloudflare.com/workers/static-assets/headers/#custom-headers)
                      and
                      [`_redirects`](https://developers.cloudflare.com/workers/static-assets/redirects/)
                      files should be included as modules named `_headers` and
                      `_redirects` with content type `text/plain`.
                  bindings:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - ai
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            dataset:
                              type: string
                              description: The name of the dataset to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - analytics_engine
                              description: The kind of resource that the binding provides.
                          required:
                            - dataset
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - assets
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - browser
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            id:
                              type: string
                              description: Identifier of the D1 database to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - d1
                              description: The kind of resource that the binding provides.
                          required:
                            - id
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            part:
                              type: string
                              description: The name of the file containing the data content. Only accepted for
                                `service worker syntax` Workers.
                            type:
                              type: string
                              enum:
                                - data_blob
                              description: "@deprecated The kind of resource that the binding provides."
                          required:
                            - name
                            - part
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            namespace:
                              type: string
                              description: The name of the dispatch namespace.
                            type:
                              type: string
                              enum:
                                - dispatch_namespace
                              description: The kind of resource that the binding provides.
                            outbound:
                              type: object
                              properties:
                                params:
                                  type: array
                                  items:
                                    type: string
                                  description: Pass information from the Dispatch Worker to the Outbound Worker
                                    through the parameters.
                                worker:
                                  type: object
                                  properties:
                                    environment:
                                      type: string
                                      description: Environment of the outbound worker.
                                    service:
                                      type: string
                                      description: Name of the outbound worker.
                                  description: Outbound worker.
                              description: Outbound worker.
                          required:
                            - name
                            - namespace
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - durable_object_namespace
                              description: The kind of resource that the binding provides.
                            class_name:
                              type: string
                              description: The exported class name of the Durable Object.
                            environment:
                              type: string
                              description: The environment of the script_name to bind to.
                            namespace_id:
                              type: string
                              description: Namespace identifier tag.
                            script_name:
                              type: string
                              description: The script where the Durable Object is defined, if it is external
                                to this Worker.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            id:
                              type: string
                              description: Identifier of the Hyperdrive connection to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - hyperdrive
                              description: The kind of resource that the binding provides.
                          required:
                            - id
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: The name of the inherited binding.
                            type:
                              type: string
                              enum:
                                - inherit
                              description: The kind of resource that the binding provides.
                            old_name:
                              type: string
                              description: The old name of the inherited binding. If set, the binding will be
                                renamed from `old_name` to `name` in the new
                                version. If not set, the binding will keep the
                                same name between versions.
                            version_id:
                              type: string
                              description: Identifier for the version to inherit the binding from, which can
                                be the version ID or the literal "latest" to
                                inherit from the latest version. Defaults to
                                inheriting the binding from the latest version.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - images
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            json:
                              type: string
                              description: JSON data to use.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - json
                              description: The kind of resource that the binding provides.
                          required:
                            - json
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            namespace_id:
                              type: string
                              description: Namespace identifier tag.
                            type:
                              type: string
                              enum:
                                - kv_namespace
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - namespace_id
                            - type
                        - type: object
                          properties:
                            certificate_id:
                              type: string
                              description: Identifier of the certificate to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - mtls_certificate
                              description: The kind of resource that the binding provides.
                          required:
                            - certificate_id
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            text:
                              type: string
                              description: The text value to use.
                            type:
                              type: string
                              enum:
                                - plain_text
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - text
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            pipeline:
                              type: string
                              description: Name of the Pipeline to bind to.
                            type:
                              type: string
                              enum:
                                - pipelines
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - pipeline
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            queue_name:
                              type: string
                              description: Name of the Queue to bind to.
                            type:
                              type: string
                              enum:
                                - queue
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - queue_name
                            - type
                        - type: object
                          properties:
                            bucket_name:
                              type: string
                              description: R2 bucket to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - r2_bucket
                              description: The kind of resource that the binding provides.
                            jurisdiction:
                              type: string
                              enum:
                                - eu
                                - fedramp
                              description: The
                                [jurisdiction](https://developers.cloudflare.com/r2/reference/data-location/#jurisdictional-restrictions)
                                of the R2 bucket.
                          required:
                            - bucket_name
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - secret_text
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - send_email
                              description: The kind of resource that the binding provides.
                            allowed_destination_addresses:
                              type: array
                              items:
                                type: string
                              description: List of allowed destination addresses.
                            allowed_sender_addresses:
                              type: array
                              items:
                                type: string
                              description: List of allowed sender addresses.
                            destination_address:
                              type: string
                              description: Destination address for the email.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            service:
                              type: string
                              description: Name of Worker to bind to.
                            type:
                              type: string
                              enum:
                                - service
                              description: The kind of resource that the binding provides.
                            environment:
                              type: string
                              description: Optional environment if the Worker utilizes one.
                          required:
                            - name
                            - service
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            part:
                              type: string
                              description: The name of the file containing the text content. Only accepted for
                                `service worker syntax` Workers.
                            type:
                              type: string
                              enum:
                                - text_blob
                              description: "@deprecated The kind of resource that the binding provides."
                          required:
                            - name
                            - part
                            - type
                        - type: object
                          properties:
                            index_name:
                              type: string
                              description: Name of the Vectorize index to bind to.
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - vectorize
                              description: The kind of resource that the binding provides.
                          required:
                            - index_name
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - version_metadata
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - type
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            secret_name:
                              type: string
                              description: Name of the secret in the store.
                            store_id:
                              type: string
                              description: ID of the store containing the secret.
                            type:
                              type: string
                              enum:
                                - secrets_store_secret
                              description: The kind of resource that the binding provides.
                          required:
                            - name
                            - secret_name
                            - store_id
                            - type
                        - type: object
                          properties:
                            algorithm:
                              description: Algorithm-specific key parameters. [Learn
                                more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#algorithm).
                            format:
                              type: string
                              enum:
                                - raw
                                - pkcs8
                                - spki
                                - jwk
                              description: Data format of the key. [Learn
                                more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#format).
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - secret_key
                              description: The kind of resource that the binding provides.
                            usages:
                              type: array
                              items:
                                type: string
                                enum:
                                  - encrypt
                                  - decrypt
                                  - sign
                                  - verify
                                  - deriveKey
                                  - deriveBits
                                  - wrapKey
                                  - unwrapKey
                              description: Allowed operations with the key. [Learn
                                more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#keyUsages).
                          required:
                            - algorithm
                            - format
                            - name
                            - type
                            - usages
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            type:
                              type: string
                              enum:
                                - workflow
                              description: The kind of resource that the binding provides.
                            workflow_name:
                              type: string
                              description: Name of the Workflow to bind to.
                            class_name:
                              type: string
                              description: Class name of the Workflow. Should only be provided if the Workflow
                                belongs to this script.
                            script_name:
                              type: string
                              description: Script name that contains the Workflow. If not provided, defaults
                                to this script name.
                          required:
                            - name
                            - type
                            - workflow_name
                        - type: object
                          properties:
                            name:
                              type: string
                              description: A JavaScript variable name for the binding.
                            part:
                              type: string
                              description: The name of the file containing the WebAssembly module content.
                                Only accepted for `service worker syntax`
                                Workers.
                            type:
                              type: string
                              enum:
                                - wasm_module
                              description: "@deprecated The kind of resource that the binding provides."
                          required:
                            - name
                            - part
                            - type
                    description: "List of bindings attached to a Worker. You can find more about
                      bindings on our docs:
                      https://developers.cloudflare.com/workers/configuration/m\
                      ultipart-upload-metadata/#bindings."
                  compatibility_date:
                    type: string
                    description: Date indicating targeted support in the Workers runtime. Backwards
                      incompatible fixes to the runtime following this date will
                      not affect this Worker.
                  compatibility_flags:
                    type: array
                    items:
                      type: string
                    description: Flags that enable or disable certain features in the Workers
                      runtime. Used to enable upcoming features or opt in or out
                      of specific changes not included in a
                      `compatibility_date`.
                  limits:
                    type: object
                    properties:
                      cpu_ms:
                        type: number
                        description: CPU time limit in milliseconds.
                    required:
                      - cpu_ms
                    description: Resource limits enforced at runtime.
                  main_module:
                    type: string
                    description: The name of the main module in the `modules` array (e.g. the name
                      of the module that exports a `fetch` handler).
                  migrations:
                    oneOf:
                      - type: object
                        additionalProperties: true
                      - type: object
                        properties:
                          new_tag:
                            type: string
                            description: Tag to set as the latest migration tag.
                          old_tag:
                            type: string
                            description: Tag used to verify against the latest migration tag for this
                              Worker. If they don't match, the upload is
                              rejected.
                          steps:
                            type: array
                            items:
                              type: object
                              properties:
                                deleted_classes:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of classes to delete Durable Object namespaces from.
                                new_classes:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of classes to create Durable Object namespaces from.
                                new_sqlite_classes:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of classes to create Durable Object namespaces with SQLite
                                    from.
                                renamed_classes:
                                  type: array
                                  items:
                                    type: object
                                    properties:
[...]
