openapi: 3.1.0
info:
  title: Cloudflare WORKERS-FOR-PLATFORMS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: workers-for-platforms
paths:
  /accounts/{account_id}/workers/dispatch/namespaces/{dispatchNamespace}:
    get:
      operationId: getDispatchNamespace
      description: "Get a Workers for Platforms namespace.  @example ```ts const
        namespace = await client.workersForPlatforms.dispatch.namespaces.get(
        'my-dispatch-namespace', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dispatchNamespace
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_by:
                    type: string
                    description: Identifier.
                  created_on:
                    type: string
                    description: When the script was created.
                  modified_by:
                    type: string
                    description: Identifier.
                  modified_on:
                    type: string
                    description: When the script was last modified.
                  namespace_id:
                    type: string
                    description: API Resource UUID tag.
                  namespace_name:
                    type: string
                    description: Name of the Workers for Platforms dispatch namespace.
                  script_count:
                    type: number
                    description: The current number of scripts in this Dispatch Namespace.
                  trusted_workers:
                    type: boolean
                    description: Whether the Workers in the namespace are executed in a "trusted"
                      manner. When a Worker is trusted, it has access to the
                      shared caches for the zone in the Cache API, and has
                      access to the `request.cf` object on incoming Requests.
                      When a Worker is untrusted, caches are not shared across
                      the zone, and `request.cf` is undefined. By default,
                      Workers in a namespace are "untrusted".
      x-distilled-response-path: result
    delete:
      operationId: deleteDispatchNamespace
      description: "Delete a Workers for Platforms namespace.  @example ```ts const
        namespace = await client.workersForPlatforms.dispatch.namespaces.delete(
        'my-dispatch-namespace', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dispatchNamespace
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /accounts/{account_id}/workers/dispatch/namespaces:
    get:
      operationId: listDispatchNamespaces
      description: "Fetch a list of Workers for Platforms namespaces.  @example ```ts
        // Automatically fetches more pages as needed. for await (const
        namespaceListResponse of
        client.workersForPlatforms.dispatch.namespaces.list( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_by:
                    type: string
                    description: Identifier.
                  created_on:
                    type: string
                    description: When the script was created.
                  modified_by:
                    type: string
                    description: Identifier.
                  modified_on:
                    type: string
                    description: When the script was last modified.
                  namespace_id:
                    type: string
                    description: API Resource UUID tag.
                  namespace_name:
                    type: string
                    description: Name of the Workers for Platforms dispatch namespace.
                  script_count:
                    type: number
                    description: The current number of scripts in this Dispatch Namespace.
                  trusted_workers:
                    type: boolean
                    description: Whether the Workers in the namespace are executed in a "trusted"
                      manner. When a Worker is trusted, it has access to the
                      shared caches for the zone in the Cache API, and has
                      access to the `request.cf` object on incoming Requests.
                      When a Worker is untrusted, caches are not shared across
                      the zone, and `request.cf` is undefined. By default,
                      Workers in a namespace are "untrusted".
      x-distilled-pagination-class: NamespaceListResponsesSinglePage
    post:
      operationId: createDispatchNamespace
      description: "Create a new Workers for Platforms namespace.  @example ```ts
        const namespace = await
        client.workersForPlatforms.dispatch.namespaces.create( { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Body param: The name of the dispatch namespace."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_by:
                    type: string
                    description: Identifier.
                  created_on:
                    type: string
                    description: When the script was created.
                  modified_by:
                    type: string
                    description: Identifier.
                  modified_on:
                    type: string
                    description: When the script was last modified.
                  namespace_id:
                    type: string
                    description: API Resource UUID tag.
                  namespace_name:
                    type: string
                    description: Name of the Workers for Platforms dispatch namespace.
                  script_count:
                    type: number
                    description: The current number of scripts in this Dispatch Namespace.
                  trusted_workers:
                    type: boolean
                    description: Whether the Workers in the namespace are executed in a "trusted"
                      manner. When a Worker is trusted, it has access to the
                      shared caches for the zone in the Cache API, and has
                      access to the `request.cf` object on incoming Requests.
                      When a Worker is untrusted, caches are not shared across
                      the zone, and `request.cf` is undefined. By default,
                      Workers in a namespace are "untrusted".
      x-distilled-response-path: result
  /accounts/{account_id}/workers/dispatch/namespaces/{dispatchNamespace}/scripts/{scriptName}:
    get:
      operationId: getDispatchNamespaceScript
      description: "Fetch information about a script uploaded to a Workers for
        Platforms namespace.  @example ```ts const script = await
        client.workersForPlatforms.dispatch.namespaces.scripts.get(
        'my-dispatch-namespace', 'this-is_my_script-01', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dispatchNamespace
          in: path
          required: true
          schema:
            type: string
        - name: scriptName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_on:
                    type: string
                    description: When the script was created.
                  dispatch_namespace:
                    type: string
                    description: Name of the Workers for Platforms dispatch namespace.
                  modified_on:
                    type: string
                    description: When the script was last modified.
                  script:
                    type: object
                    properties:
                      id:
                        type: string
                        description: The name used to identify the script.
                      compatibility_date:
                        type: string
                        description: Date indicating targeted support in the Workers runtime. Backwards
                          incompatible fixes to the runtime following this date
                          will not affect this Worker.
                      compatibility_flags:
                        type: array
                        items:
                          type: string
                        description: Flags that enable or disable certain features in the Workers
                          runtime. Used to enable upcoming features or opt in or
                          out of specific changes not included in a
                          `compatibility_date`.
                      created_on:
                        type: string
                        description: When the script was created.
                      etag:
                        type: string
                        description: Hashed script content, can be used in a If-None-Match header when
                          updating.
                      handlers:
                        type: array
                        items:
                          type: string
                        description: The names of handlers exported as part of the default export.
                      has_assets:
                        type: boolean
                        description: Whether a Worker contains assets.
                      has_modules:
                        type: boolean
                        description: Whether a Worker contains modules.
                      last_deployed_from:
                        type: string
                        description: The client most recently used to deploy this Worker.
                      logpush:
                        type: boolean
                        description: Whether Logpush is turned on for the Worker.
                      migration_tag:
                        type: string
                        description: The tag of the Durable Object migration that was most recently
                          applied for this Worker.
                      modified_on:
                        type: string
                        description: When the script was last modified.
                      named_handlers:
                        type: array
                        items:
                          type: object
                          properties:
                            handlers:
                              type: array
                              items:
                                type: string
                              description: The names of handlers exported as part of the named export.
                            name:
                              type: string
                              description: The name of the export.
                        description: Named exports, such as Durable Object class implementations and
                          named entrypoints.
                      observability:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Whether observability is enabled for the Worker.
                          head_sampling_rate:
                            oneOf:
                              - type: number
                            nullable: true
                            description: The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1
                              = 10%). Default is 1.
                          logs:
                            oneOf:
                              - type: object
                                properties:
                                  enabled:
                                    type: boolean
                                    description: Whether logs are enabled for the Worker.
                                  invocation_logs:
                                    type: boolean
                                    description: Whether [invocation
                                      logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs)
                                      are enabled for the Worker.
                                  destinations:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of destinations where logs will be exported to.
                                  head_sampling_rate:
                                    oneOf:
                                      - type: number
                                    nullable: true
                                    description: The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%).
                                      Default is 1.
                                  persist:
                                    type: boolean
                                    description: Whether log persistence is enabled for the Worker.
                                required:
                                  - enabled
                                  - invocation_logs
                            nullable: true
                            description: Log settings for the Worker.
                        required:
                          - enabled
                        description: Observability settings for the Worker.
                      placement:
                        oneOf:
                          - type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                  - smart
                                description: Enables [Smart
                                  Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                              last_analyzed_at:
                                type: string
                                description: The last time the script was analyzed for [Smart
                                  Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                              status:
                                type: string
                                enum:
                                  - SUCCESS
                                  - UNSUPPORTED_APPLICATION
                                  - INSUFFICIENT_INVOCATIONS
                                description: Status of [Smart
                                  Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                            required:
                              - mode
                          - type: object
                            properties:
                              region:
                                type: string
                                description: Cloud region for targeted placement in format 'provider:region'.
                              last_analyzed_at:
                                type: string
                                description: The last time the script was analyzed for [Smart
                                  Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                              status:
                                type: string
                                enum:
                                  - SUCCESS
                                  - UNSUPPORTED_APPLICATION
                                  - INSUFFICIENT_INVOCATIONS
                                description: Status of [Smart
                                  Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                            required:
                              - region
                          - type: object
                            properties:
                              hostname:
                                type: string
                                description: HTTP hostname for targeted placement.
                              last_analyzed_at:
                                type: string
                                description: The last time the script was analyzed for [Smart
                                  Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                              status:
                                type: string
                                enum:
                                  - SUCCESS
                                  - UNSUPPORTED_APPLICATION
                                  - INSUFFICIENT_INVOCATIONS
                                description: Status of [Smart
                                  Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                            required:
                              - hostname
                          - type: object
                            properties:
                              host:
                                type: string
                                description: TCP host and port for targeted placement.
                              last_analyzed_at:
                                type: string
                                description: The last time the script was analyzed for [Smart
                                  Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                              status:
                                type: string
                                enum:
                                  - SUCCESS
                                  - UNSUPPORTED_APPLICATION
                                  - INSUFFICIENT_INVOCATIONS
                                description: Status of [Smart
                                  Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                            required:
                              - host
                        description: Configuration for [Smart
                          Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                          Specify either mode for Smart Placement, or one of
                          region/hostname/host for targeted placement.
                      placement_mode:
                        type: string
                        enum:
                          - smart
                        description: "@deprecated Enables [Smart
                          Placement](https://developers.cloudflare.com/workers/\
                          configuration/smart-placement)."
                      placement_status:
                        type: string
                        enum:
                          - SUCCESS
                          - UNSUPPORTED_APPLICATION
                          - INSUFFICIENT_INVOCATIONS
                        description: "@deprecated Status of [Smart
                          Placement](https://developers.cloudflare.com/workers/\
                          configuration/smart-placement)."
                      tag:
                        type: string
                        description: The immutable ID of the script.
                      tags:
                        oneOf:
                          - type: array
                            items:
                              type: string
                        nullable: true
                        description: Tags associated with the Worker.
                      tail_consumers:
                        oneOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                service:
                                  type: string
                                  description: Name of Worker that is to be the consumer.
                                environment:
                                  type: string
                                  description: Optional environment if the Worker utilizes one.
                                namespace:
                                  type: string
                                  description: Optional dispatch namespace the script belongs to.
                              required:
                                - service
                        nullable: true
                        description: List of Workers that will consume logs from the attached Worker.
                      usage_model:
                        type: string
                        enum:
                          - standard
                          - bundled
                          - unbound
                        description: Usage model for the Worker invocations.
      x-distilled-response-path: result
    put:
      operationId: putDispatchNamespaceScript
      description: "Upload a worker module to a Workers for Platforms namespace. You
        can find more about the multipart metadata on our docs:
        https://developers.cloudflare.com/workers/configuration/multipart-uploa\
        d-metadata/.  @example ```ts const script = await
        client.workersForPlatforms.dispatch.namespaces.scripts.update(
        'my-dispatch-namespace', 'this-is_my_script-01', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', metadata: {}, }, ); ```"
      parameters:
        - name: dispatchNamespace
          in: path
          required: true
          schema:
            type: string
        - name: scriptName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                metadata:
                  type: object
                  properties:
                    assets:
                      type: object
                      properties:
                        config:
                          type: object
                          properties:
                            _headers:
                              type: string
                              description: The contents of a \_headers file (used to attach custom headers on
                                asset responses).
                            _redirects:
                              type: string
                              description: The contents of a \_redirects file (used to apply redirects or
                                proxy paths ahead of asset serving).
                            html_handling:
                              type: string
                              enum:
                                - auto-trailing-slash
                                - force-trailing-slash
                                - drop-trailing-slash
                                - none
                              description: Determines the redirects and rewrites of requests for HTML content.
                            not_found_handling:
                              type: string
                              enum:
                                - none
                                - 404-page
                                - single-page-application
                              description: Determines the response when a request does not match a static
                                asset, and there is no Worker script.
                            run_worker_first:
                              oneOf:
                                - type: array
                                  items:
                                    type: string
                                - type: boolean
                              description: Contains a list path rules to control routing to either the Worker
                                or assets. Glob (\ ) and negative (!) rules are
                                supported. Rules must start with either '/' or
                                '!/'. At least one non-negative rule must be
                                provided, and negative rules have higher
                                precedence than non-negative rules.
                            serve_directly:
                              type: boolean
                              description: "@deprecated When true and the incoming request matches an asset,
                                that will be served instead of invoking the
                                Worker script. When false, requests will always
                                invoke the Worker script."
                          description: Configuration for assets within a Worker.
                        jwt:
                          type: string
                          description: Token provided upon successful upload of all files from a
                            registered manifest.
                      description: Configuration for assets within a Worker.
                    bindings:
                      type: array
                      items:
                        oneOf:
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - ai
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - type
                          - type: object
                            properties:
                              dataset:
                                type: string
                                description: The name of the dataset to bind to.
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - analytics_engine
                                description: The kind of resource that the binding provides.
                            required:
                              - dataset
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - assets
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - browser
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - type
                          - type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the D1 database to bind to.
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - d1
                                description: The kind of resource that the binding provides.
                            required:
                              - id
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              part:
                                type: string
                                description: The name of the file containing the data content. Only accepted for
                                  `service worker syntax` Workers.
                              type:
                                type: string
                                enum:
                                  - data_blob
                                description: "@deprecated The kind of resource that the binding provides."
                            required:
                              - name
                              - part
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              namespace:
                                type: string
                                description: The name of the dispatch namespace.
                              type:
                                type: string
                                enum:
                                  - dispatch_namespace
                                description: The kind of resource that the binding provides.
                              outbound:
                                type: object
                                properties:
                                  params:
                                    type: array
                                    items:
                                      type: string
                                    description: Pass information from the Dispatch Worker to the Outbound Worker
                                      through the parameters.
                                  worker:
                                    type: object
                                    properties:
                                      environment:
                                        type: string
                                        description: Environment of the outbound worker.
                                      service:
                                        type: string
                                        description: Name of the outbound worker.
                                    description: Outbound worker.
                                description: Outbound worker.
                            required:
                              - name
                              - namespace
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - durable_object_namespace
                                description: The kind of resource that the binding provides.
                              class_name:
                                type: string
                                description: The exported class name of the Durable Object.
                              environment:
                                type: string
                                description: The environment of the script_name to bind to.
                              namespace_id:
                                type: string
                                description: Namespace identifier tag.
                              script_name:
                                type: string
                                description: The script where the Durable Object is defined, if it is external
                                  to this Worker.
                            required:
                              - name
                              - type
                          - type: object
                            properties:
                              id:
                                type: string
                                description: Identifier of the Hyperdrive connection to bind to.
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - hyperdrive
                                description: The kind of resource that the binding provides.
                            required:
                              - id
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: The name of the inherited binding.
                              type:
                                type: string
                                enum:
                                  - inherit
                                description: The kind of resource that the binding provides.
                              old_name:
                                type: string
                                description: The old name of the inherited binding. If set, the binding will be
                                  renamed from `old_name` to `name` in the new
                                  version. If not set, the binding will keep the
                                  same name between versions.
                              version_id:
                                type: string
                                description: Identifier for the version to inherit the binding from, which can
                                  be the version ID or the literal "latest" to
                                  inherit from the latest version. Defaults to
                                  inheriting the binding from the latest
                                  version.
                            required:
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - images
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - type
                          - type: object
                            properties:
                              json:
                                type: string
                                description: JSON data to use.
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - json
                                description: The kind of resource that the binding provides.
                            required:
                              - json
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              namespace_id:
                                type: string
                                description: Namespace identifier tag.
                              type:
                                type: string
                                enum:
                                  - kv_namespace
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - namespace_id
                              - type
                          - type: object
                            properties:
                              certificate_id:
                                type: string
                                description: Identifier of the certificate to bind to.
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - mtls_certificate
                                description: The kind of resource that the binding provides.
                            required:
                              - certificate_id
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              text:
                                type: string
                                description: The text value to use.
                              type:
                                type: string
                                enum:
                                  - plain_text
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - text
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              pipeline:
                                type: string
                                description: Name of the Pipeline to bind to.
                              type:
                                type: string
                                enum:
                                  - pipelines
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - pipeline
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              queue_name:
                                type: string
                                description: Name of the Queue to bind to.
                              type:
                                type: string
                                enum:
                                  - queue
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - queue_name
                              - type
                          - type: object
                            properties:
                              bucket_name:
                                type: string
                                description: R2 bucket to bind to.
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - r2_bucket
                                description: The kind of resource that the binding provides.
                              jurisdiction:
                                type: string
                                enum:
                                  - eu
                                  - fedramp
                                description: The
                                  [jurisdiction](https://developers.cloudflare.com/r2/reference/data-location/#jurisdictional-restrictions)
                                  of the R2 bucket.
                            required:
                              - bucket_name
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              text:
                                type: string
                                description: The secret value to use.
                              type:
                                type: string
                                enum:
                                  - secret_text
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - text
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - send_email
                                description: The kind of resource that the binding provides.
                              allowed_destination_addresses:
                                type: array
                                items:
                                  type: string
                                description: List of allowed destination addresses.
                              allowed_sender_addresses:
                                type: array
                                items:
                                  type: string
                                description: List of allowed sender addresses.
                              destination_address:
                                type: string
                                description: Destination address for the email.
                            required:
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              service:
                                type: string
                                description: Name of Worker to bind to.
                              type:
                                type: string
                                enum:
                                  - service
                                description: The kind of resource that the binding provides.
                              environment:
                                type: string
                                description: Optional environment if the Worker utilizes one.
                            required:
                              - name
                              - service
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              part:
                                type: string
                                description: The name of the file containing the text content. Only accepted for
                                  `service worker syntax` Workers.
                              type:
                                type: string
                                enum:
                                  - text_blob
                                description: "@deprecated The kind of resource that the binding provides."
                            required:
                              - name
                              - part
                              - type
                          - type: object
                            properties:
                              index_name:
                                type: string
                                description: Name of the Vectorize index to bind to.
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - vectorize
                                description: The kind of resource that the binding provides.
                            required:
                              - index_name
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - version_metadata
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - type
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              secret_name:
                                type: string
                                description: Name of the secret in the store.
                              store_id:
                                type: string
                                description: ID of the store containing the secret.
                              type:
                                type: string
                                enum:
                                  - secrets_store_secret
                                description: The kind of resource that the binding provides.
                            required:
                              - name
                              - secret_name
                              - store_id
                              - type
                          - type: object
                            properties:
                              algorithm:
                                description: Algorithm-specific key parameters. [Learn
                                  more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#algorithm).
                              format:
                                type: string
                                enum:
                                  - raw
                                  - pkcs8
                                  - spki
                                  - jwk
                                description: Data format of the key. [Learn
                                  more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#format).
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - secret_key
                                description: The kind of resource that the binding provides.
                              usages:
                                type: array
                                items:
                                  type: string
                                  enum:
                                    - encrypt
                                    - decrypt
                                    - sign
                                    - verify
                                    - deriveKey
                                    - deriveBits
                                    - wrapKey
                                    - unwrapKey
                                description: Allowed operations with the key. [Learn
                                  more](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#keyUsages).
                              key_base64:
                                type: string
                                description: Base64-encoded key data. Required if `format` is "raw", "pkcs8", or
                                  "spki".
                              key_jwk:
                                description: Key data in [JSON Web
                                  Key](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/importKey#json_web_key)
                                  format. Required if `format` is "jwk".
                            required:
                              - algorithm
                              - format
                              - name
                              - type
                              - usages
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              type:
                                type: string
                                enum:
                                  - workflow
                                description: The kind of resource that the binding provides.
                              workflow_name:
                                type: string
                                description: Name of the Workflow to bind to.
                              class_name:
                                type: string
                                description: Class name of the Workflow. Should only be provided if the Workflow
                                  belongs to this script.
                              script_name:
                                type: string
                                description: Script name that contains the Workflow. If not provided, defaults
                                  to this script name.
                            required:
                              - name
                              - type
                              - workflow_name
                          - type: object
                            properties:
                              name:
                                type: string
                                description: A JavaScript variable name for the binding.
                              part:
                                type: string
                                description: The name of the file containing the WebAssembly module content.
                                  Only accepted for `service worker syntax`
                                  Workers.
                              type:
                                type: string
                                enum:
                                  - wasm_module
                                description: "@deprecated The kind of resource that the binding provides."
                            required:
                              - name
                              - part
                              - type
                      description: "List of bindings attached to a Worker. You can find more about
                        bindings on our docs:
                        https://developers.cloudflare.com/workers/configuration\
                        /multipart-upload-metadata/#bindings."
                    body_part:
                      type: string
                      description: Name of the uploaded file that contains the script (e.g. the file
                        adding a listener to the `fetch` event). Indicates a
                        `service worker syntax` Worker.
                    compatibility_date:
                      type: string
                      description: Date indicating targeted support in the Workers runtime. Backwards
                        incompatible fixes to the runtime following this date
                        will not affect this Worker.
                    compatibility_flags:
                      type: array
                      items:
                        type: string
                      description: Flags that enable or disable certain features in the Workers
                        runtime. Used to enable upcoming features or opt in or
                        out of specific changes not included in a
                        `compatibility_date`.
                    keep_assets:
                      type: boolean
                      description: Retain assets which exist for a previously uploaded Worker version;
                        used in lieu of providing a completion token.
                    keep_bindings:
                      type: array
                      items:
                        type: string
                      description: List of binding types to keep from previous_upload.
                    limits:
                      type: object
                      properties:
                        cpu_ms:
                          type: number
                          description: The amount of CPU time this Worker can use in milliseconds.
                      description: Limits to apply for this Worker.
                    logpush:
                      type: boolean
                      description: Whether Logpush is turned on for the Worker.
                    main_module:
                      type: string
                      description: Name of the uploaded file that contains the main module (e.g. the
                        file exporting a `fetch` handler). Indicates a `module
                        syntax` Worker.
                    migrations:
                      oneOf:
                        - type: object
                          properties:
                            deleted_classes:
                              type: array
                              items:
                                type: string
                              description: A list of classes to delete Durable Object namespaces from.
                            new_classes:
                              type: array
                              items:
                                type: string
                              description: A list of classes to create Durable Object namespaces from.
                            new_sqlite_classes:
                              type: array
                              items:
                                type: string
                              description: A list of classes to create Durable Object namespaces with SQLite
                                from.
                            new_tag:
                              type: string
                              description: Tag to set as the latest migration tag.
                            old_tag:
                              type: string
                              description: Tag used to verify against the latest migration tag for this
                                Worker. If they don't match, the upload is
                                rejected.
                            renamed_classes:
                              type: array
                              items:
                                type: object
                                properties:
                                  from:
                                    type: string
                                  to:
                                    type: string
                              description: A list of classes with Durable Object namespaces that were renamed.
                            transferred_classes:
                              type: array
                              items:
                                type: object
                                properties:
                                  from:
                                    type: string
                                  from_script:
                                    type: string
                                  to:
                                    type: string
                              description: A list of transfers for Durable Object namespaces from a different
                                Worker and class to a class defined in this
                                Worker.
                        - type: object
                          properties:
                            new_tag:
                              type: string
                              description: Tag to set as the latest migration tag.
                            old_tag:
                              type: string
                              description: Tag used to verify against the latest migration tag for this
                                Worker. If they don't match, the upload is
                                rejected.
                            steps:
                              type: array
                              items:
                                type: object
                                properties:
                                  deleted_classes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of classes to delete Durable Object namespaces from.
                                  new_classes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of classes to create Durable Object namespaces from.
                                  new_sqlite_classes:
                                    type: array
                                    items:
                                      type: string
                                    description: A list of classes to create Durable Object namespaces with SQLite
                                      from.
                                  renamed_classes:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        from:
                                          type: string
                                        to:
                                          type: string
                                    description: A list of classes with Durable Object namespaces that were renamed.
                                  transferred_classes:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        from:
                                          type: string
                                        from_script:
                                          type: string
                                        to:
                                          type: string
                                    description: A list of transfers for Durable Object namespaces from a different
                                      Worker and class to a class defined in
                                      this Worker.
                              description: Migrations to apply in order.
                      description: Migrations to apply for Durable Objects associated with this
                        Worker.
                    observability:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                          description: Whether observability is enabled for the Worker.
                        head_sampling_rate:
                          oneOf:
                            - type: number
                          nullable: true
                          description: The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1
                            = 10%). Default is 1.
                        logs:
                          oneOf:
                            - type: object
                              properties:
                                enabled:
                                  type: boolean
                                  description: Whether logs are enabled for the Worker.
                                invocation_logs:
                                  type: boolean
                                  description: Whether [invocation
                                    logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs)
                                    are enabled for the Worker.
                                destinations:
                                  type: array
                                  items:
                                    type: string
                                  description: A list of destinations where logs will be exported to.
                                head_sampling_rate:
                                  oneOf:
                                    - type: number
                                  nullable: true
                                  description: The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%).
                                    Default is 1.
                                persist:
                                  type: boolean
                                  description: Whether log persistence is enabled for the Worker.
                              required:
                                - enabled
                                - invocation_logs
                          nullable: true
                          description: Log settings for the Worker.
                      required:
                        - enabled
                      description: Observability settings for the Worker.
                    placement:
                      oneOf:
                        - type: object
                          properties:
                            mode:
                              type: string
                              enum:
                                - smart
                              description: Enables [Smart
                                Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                          required:
                            - mode
                        - type: object
                          properties:
                            region:
                              type: string
                              description: Cloud region for targeted placement in format 'provider:region'.
                          required:
                            - region
                        - type: object
                          properties:
                            hostname:
                              type: string
                              description: HTTP hostname for targeted placement.
                          required:
                            - hostname
                        - type: object
                          properties:
                            host:
                              type: string
                              description: TCP host and port for targeted placement.
                          required:
                            - host
                      description: Configuration for [Smart
                        Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                        Specify either mode for Smart Placement, or one of
                        region/hostname/host for targeted placement.
                    tags:
                      type: array
                      items:
                        type: string
                      description: List of strings to use as tags for this Worker.
                    tail_consumers:
                      oneOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              service:
                                type: string
                                description: Name of Worker that is to be the consumer.
                              environment:
                                type: string
                                description: Optional environment if the Worker utilizes one.
                              namespace:
                                type: string
                                description: Optional dispatch namespace the script belongs to.
                            required:
                              - service
                      nullable: true
                      description: List of Workers that will consume logs from the attached Worker.
                    usage_model:
                      type: string
                      enum:
                        - standard
                        - bundled
                        - unbound
                      description: Usage model for the Worker invocations.
                  description: "Body param: JSON-encoded metadata about the uploaded parts and
                    Worker configuration."
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: "Body param: An array of modules (often JavaScript files)
                    comprising a Worker script. At least one module must be
                    present and referenced in the metadata as `main_module` or
                    `body_part` by filename.<br/>Possible Content-Type(s) are:
                    `application/javascript+module`, `text/javascript+module`,
                    `application/javascript`, `text/javascript`,
                    `text/x-python`, `text/x-python-requirement`,
                    `application/wasm`, `text/plain`,
                    `application/octet-stream`, `application/source-map`."
              required:
                - metadata
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  startup_time_ms:
                    type: number
                  id:
                    type: string
                    description: The name used to identify the script.
                  compatibility_date:
                    type: string
                    description: Date indicating targeted support in the Workers runtime. Backwards
                      incompatible fixes to the runtime following this date will
                      not affect this Worker.
                  compatibility_flags:
                    type: array
                    items:
                      type: string
                    description: Flags that enable or disable certain features in the Workers
                      runtime. Used to enable upcoming features or opt in or out
                      of specific changes not included in a
                      `compatibility_date`.
                  created_on:
                    type: string
                    description: When the script was created.
                  entry_point:
                    type: string
                    description: The entry point for the script.
                  etag:
                    type: string
                    description: Hashed script content, can be used in a If-None-Match header when
                      updating.
                  handlers:
                    type: array
                    items:
                      type: string
                    description: The names of handlers exported as part of the default export.
                  has_assets:
                    type: boolean
                    description: Whether a Worker contains assets.
                  has_modules:
                    type: boolean
                    description: Whether a Worker contains modules.
                  last_deployed_from:
                    type: string
                    description: The client most recently used to deploy this Worker.
                  logpush:
                    type: boolean
                    description: Whether Logpush is turned on for the Worker.
                  migration_tag:
                    type: string
                    description: The tag of the Durable Object migration that was most recently
                      applied for this Worker.
                  modified_on:
                    type: string
                    description: When the script was last modified.
                  named_handlers:
                    type: array
                    items:
                      type: object
                      properties:
                        handlers:
                          type: array
                          items:
                            type: string
                          description: The names of handlers exported as part of the named export.
                        name:
                          type: string
                          description: The name of the export.
                    description: Named exports, such as Durable Object class implementations and
                      named entrypoints.
                  observability:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        description: Whether observability is enabled for the Worker.
                      head_sampling_rate:
                        oneOf:
                          - type: number
                        nullable: true
                        description: The sampling rate for incoming requests. From 0 to 1 (1 = 100%, 0.1
                          = 10%). Default is 1.
                      logs:
                        oneOf:
                          - type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether logs are enabled for the Worker.
                              invocation_logs:
                                type: boolean
                                description: Whether [invocation
                                  logs](https://developers.cloudflare.com/workers/observability/logs/workers-logs/#invocation-logs)
                                  are enabled for the Worker.
                              destinations:
                                type: array
                                items:
                                  type: string
                                description: A list of destinations where logs will be exported to.
                              head_sampling_rate:
                                oneOf:
                                  - type: number
                                nullable: true
                                description: The sampling rate for logs. From 0 to 1 (1 = 100%, 0.1 = 10%).
                                  Default is 1.
                              persist:
                                type: boolean
                                description: Whether log persistence is enabled for the Worker.
                            required:
                              - enabled
                              - invocation_logs
                        nullable: true
                        description: Log settings for the Worker.
                    required:
                      - enabled
                    description: Observability settings for the Worker.
                  placement:
                    oneOf:
                      - type: object
                        properties:
                          mode:
                            type: string
                            enum:
                              - smart
                            description: Enables [Smart
                              Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                          last_analyzed_at:
                            type: string
                            description: The last time the script was analyzed for [Smart
                              Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                          status:
                            type: string
                            enum:
                              - SUCCESS
                              - UNSUPPORTED_APPLICATION
                              - INSUFFICIENT_INVOCATIONS
                            description: Status of [Smart
                              Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                        required:
                          - mode
                      - type: object
                        properties:
                          region:
                            type: string
                            description: Cloud region for targeted placement in format 'provider:region'.
                          last_analyzed_at:
                            type: string
                            description: The last time the script was analyzed for [Smart
                              Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                          status:
                            type: string
                            enum:
                              - SUCCESS
                              - UNSUPPORTED_APPLICATION
                              - INSUFFICIENT_INVOCATIONS
                            description: Status of [Smart
                              Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                        required:
                          - region
                      - type: object
                        properties:
                          hostname:
                            type: string
                            description: HTTP hostname for targeted placement.
                          last_analyzed_at:
                            type: string
                            description: The last time the script was analyzed for [Smart
                              Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                          status:
                            type: string
                            enum:
                              - SUCCESS
                              - UNSUPPORTED_APPLICATION
                              - INSUFFICIENT_INVOCATIONS
                            description: Status of [Smart
                              Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                        required:
                          - hostname
                      - type: object
                        properties:
                          host:
                            type: string
                            description: TCP host and port for targeted placement.
                          last_analyzed_at:
                            type: string
                            description: The last time the script was analyzed for [Smart
                              Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                          status:
                            type: string
                            enum:
                              - SUCCESS
                              - UNSUPPORTED_APPLICATION
                              - INSUFFICIENT_INVOCATIONS
                            description: Status of [Smart
                              Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                        required:
                          - host
                    description: Configuration for [Smart
                      Placement](https://developers.cloudflare.com/workers/configuration/smart-placement).
                      Specify either mode for Smart Placement, or one of
                      region/hostname/host for targeted placement.
                  placement_mode:
                    type: string
                    enum:
                      - smart
                    description: "@deprecated"
                  placement_status:
                    type: string
                    enum:
                      - SUCCESS
                      - UNSUPPORTED_APPLICATION
                      - INSUFFICIENT_INVOCATIONS
                    description: "@deprecated"
                  tag:
                    type: string
                    description: The immutable ID of the script.
                  tags:
                    oneOf:
                      - type: array
                        items:
                          type: string
                    nullable: true
                    description: Tags associated with the Worker.
                  tail_consumers:
                    oneOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            service:
                              type: string
                              description: Name of Worker that is to be the consumer.
                            environment:
                              type: string
                              description: Optional environment if the Worker utilizes one.
                            namespace:
                              type: string
                              description: Optional dispatch namespace the script belongs to.
                          required:
                            - service
                    nullable: true
                    description: List of Workers that will consume logs from the attached Worker.
                  usage_model:
                    type: string
                    enum:
                      - standard
                      - bundled
                      - unbound
                    description: Usage model for the Worker invocations.
                required:
                  - startup_time_ms
      x-distilled-response-path: result
    delete:
      operationId: deleteDispatchNamespaceScript
      description: "Delete a worker from a Workers for Platforms namespace. This call
        has no response body on a successful delete.  @example ```ts const
        script = await
        client.workersForPlatforms.dispatch.namespaces.scripts.delete(
        'my-dispatch-namespace', 'this-is_my_script-01', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: dispatchNamespace
          in: path
          required: true
          schema:
            type: string
        - name: scriptName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: force
          in: query
          required: false
          description: "Query param: If set to true, delete will not be stopped by
            associated service binding, durable object, or other binding. Any of
            these associated bindings/durable objects will be deleted along with
            the script."
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /accounts/{account_id}/workers/dispatch/namespaces/{dispatchNamespace}/scripts/{scriptName}/assets-upload-session:
    post:
      operationId: createDispatchNamespaceScriptAssetUpload
      description: "Start uploading a collection of assets for use in a Worker
        version. To learn more about the direct uploads of assets, see
        https://developers.cloudflare.com/workers/static-assets/direct-upload/.  \
        @example ```ts const assetUpload = await
        client.workersForPlatforms.dispatch.namespaces.scripts.assetUpload.crea\
        te( 'my-dispatch-namespace', 'this-is_my_script-01', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353', manifest: { foo: { hash: 'hash',
        size: 0 } }, }, ); ```"
      parameters:
        - name: dispatchNamespace
          in: path
          required: true
          schema:
            type: string
        - name: scriptName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                manifest:
                  type: object
                  additionalProperties: true
                  description: "Body param: A manifest ([path]: {hash, size}) map of files to
                    upload. As an example, `/blog/hello-world.html` would be a
                    valid path key."
              required:
                - manifest
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  buckets:
                    type: array
                    items:
                      type: array
                      items:
                        type: string
                    description: The requests to make to upload assets.
                  jwt:
                    type: string
                    description: A JWT to use as authentication for uploading assets.
      x-distilled-response-path: result
  /accounts/{account_id}/workers/dispatch/namespaces/{dispatchNamespace}/scripts/{scriptName}/bindings:
    get:
      operationId: getDispatchNamespaceScriptBinding
      description: "Fetch script bindings from a script uploaded to a Workers for
        Platforms namespace.  @example ```ts // Automatically fetches more pages
        as needed. for await (const bindingGetResponse of
        client.workersForPlatforms.dispatch.namespaces.scripts.bindings.get(
        'my-dispatch-namespace', 'this-is_my_script-01', { account_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: dispatchNamespace
          in: path
          required: true
          schema:
            type: string
        - name: scriptName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - ai
                        description: The kind of resource that the binding provides.
                    required:
                      - name
                      - type
                  - type: object
                    properties:
                      dataset:
                        type: string
                        description: The name of the dataset to bind to.
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - analytics_engine
                        description: The kind of resource that the binding provides.
                    required:
                      - dataset
                      - name
                      - type
                  - type: object
                    properties:
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - assets
                        description: The kind of resource that the binding provides.
                    required:
                      - name
                      - type
                  - type: object
                    properties:
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - browser
                        description: The kind of resource that the binding provides.
                    required:
                      - name
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier of the D1 database to bind to.
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - d1
                        description: The kind of resource that the binding provides.
                    required:
                      - id
                      - name
                      - type
                  - type: object
                    properties:
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      part:
                        type: string
                        description: The name of the file containing the data content. Only accepted for
                          `service worker syntax` Workers.
                      type:
                        type: string
                        enum:
                          - data_blob
                        description: "@deprecated The kind of resource that the binding provides."
                    required:
                      - name
                      - part
                      - type
                  - type: object
                    properties:
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      namespace:
                        type: string
                        description: The name of the dispatch namespace.
                      type:
                        type: string
                        enum:
                          - dispatch_namespace
                        description: The kind of resource that the binding provides.
                      outbound:
                        type: object
                        properties:
                          params:
                            type: array
                            items:
                              type: string
                            description: Pass information from the Dispatch Worker to the Outbound Worker
                              through the parameters.
                          worker:
                            type: object
                            properties:
                              environment:
                                type: string
                                description: Environment of the outbound worker.
                              service:
                                type: string
                                description: Name of the outbound worker.
                            description: Outbound worker.
                        description: Outbound worker.
                    required:
                      - name
                      - namespace
                      - type
                  - type: object
                    properties:
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - durable_object_namespace
                        description: The kind of resource that the binding provides.
                      class_name:
                        type: string
                        description: The exported class name of the Durable Object.
                      environment:
                        type: string
                        description: The environment of the script_name to bind to.
                      namespace_id:
                        type: string
                        description: Namespace identifier tag.
                      script_name:
                        type: string
                        description: The script where the Durable Object is defined, if it is external
                          to this Worker.
                    required:
                      - name
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: Identifier of the Hyperdrive connection to bind to.
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - hyperdrive
                        description: The kind of resource that the binding provides.
                    required:
                      - id
                      - name
                      - type
                  - type: object
                    properties:
                      name:
                        type: string
                        description: The name of the inherited binding.
                      type:
                        type: string
                        enum:
                          - inherit
                        description: The kind of resource that the binding provides.
                      old_name:
                        type: string
                        description: The old name of the inherited binding. If set, the binding will be
                          renamed from `old_name` to `name` in the new version.
                          If not set, the binding will keep the same name
                          between versions.
                      version_id:
                        type: string
                        description: Identifier for the version to inherit the binding from, which can
                          be the version ID or the literal "latest" to inherit
                          from the latest version. Defaults to inheriting the
                          binding from the latest version.
                    required:
                      - name
                      - type
                  - type: object
                    properties:
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - images
                        description: The kind of resource that the binding provides.
                    required:
                      - name
                      - type
                  - type: object
                    properties:
                      json:
                        type: string
                        description: JSON data to use.
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - json
                        description: The kind of resource that the binding provides.
                    required:
                      - json
                      - name
                      - type
                  - type: object
                    properties:
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      namespace_id:
                        type: string
                        description: Namespace identifier tag.
                      type:
                        type: string
                        enum:
                          - kv_namespace
                        description: The kind of resource that the binding provides.
                    required:
                      - name
                      - namespace_id
                      - type
                  - type: object
                    properties:
                      certificate_id:
                        type: string
                        description: Identifier of the certificate to bind to.
                      name:
                        type: string
                        description: A JavaScript variable name for the binding.
                      type:
                        type: string
                        enum:
                          - mtls_certificate
                        description: The kind of resource that the binding provides.
                    required:
                      - certificate_id
                      - name
[...]
