openapi: 3.1.0
info:
  title: Cloudflare WORKFLOWS API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: workflows
paths:
  /accounts/{account_id}/workflows/{workflowName}/instances/{instanceId}:
    get:
      operationId: getInstance
      description: Retrieves logs and execution status for a specific workflow instance.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: order
          in: query
          required: false
          description: 'Query param: Step ordering: "asc" (default, oldest first) or
            "desc" (newest first).'
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: simple
          in: query
          required: false
          description: "Query param: When true, omits step details and returns only
            metadata with step_count."
          schema:
            type: boolean
            enum:
              - true
              - false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  end:
                    oneOf:
                      - type: string
                    nullable: true
                  error:
                    oneOf:
                      - type: object
                        properties:
                          message:
                            type: string
                          name:
                            type: string
                        required:
                          - message
                          - name
                    nullable: true
                  output:
                    oneOf:
                      - type: string
                      - type: number
                    nullable: true
                  params: {}
                  queued:
                    type: string
                  start:
                    oneOf:
                      - type: string
                    nullable: true
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                  step_count:
                    type: number
                  steps:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            attempts:
                              type: array
                              items:
                                type: object
                                properties:
                                  end:
                                    oneOf:
                                      - type: string
                                    nullable: true
                                  error:
                                    oneOf:
                                      - type: object
                                        properties:
                                          message:
                                            type: string
                                          name:
                                            type: string
                                        required:
                                          - message
                                          - name
                                    nullable: true
                                  start:
                                    type: string
                                  success:
                                    oneOf:
                                      - type: boolean
                                    nullable: true
                                required:
                                  - end
                                  - error
                                  - start
                                  - success
                            config:
                              type: object
                              properties:
                                retries:
                                  type: object
                                  properties:
                                    delay:
                                      oneOf:
                                        - type: string
                                        - type: number
                                      description: Specifies the delay duration.
                                    limit:
                                      type: number
                                    backoff:
                                      type: string
                                      enum:
                                        - constant
                                        - linear
                                        - exponential
                                  required:
                                    - delay
                                    - limit
                                timeout:
                                  description: Specifies the timeout duration.
                                sensitive:
                                  type: string
                                  enum:
                                    - output
                                  description: When set to 'output', step output is redacted from log and step
                                    output responses.
                              required:
                                - retries
                                - timeout
                            end:
                              oneOf:
                                - type: string
                              nullable: true
                            name:
                              type: string
                            output:
                              oneOf:
                                - type: string
                              nullable: true
                            start:
                              type: string
                            success:
                              oneOf:
                                - type: boolean
                              nullable: true
                            type:
                              type: string
                              enum:
                                - step
                          required:
                            - attempts
                            - config
                            - end
                            - name
                            - output
                            - start
                            - success
                            - type
                        - type: object
                          properties:
                            end:
                              type: string
                            error:
                              oneOf:
                                - type: object
                                  properties:
                                    message:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                    - message
                                    - name
                              nullable: true
                            finished:
                              type: boolean
                            name:
                              type: string
                            start:
                              type: string
                            type:
                              type: string
                              enum:
                                - sleep
                          required:
                            - end
                            - error
                            - finished
                            - name
                            - start
                            - type
                        - type: object
                          properties:
                            trigger:
                              type: object
                              properties:
                                source:
                                  type: string
                              required:
                                - source
                            type:
                              type: string
                              enum:
                                - termination
                          required:
                            - trigger
                            - type
                        - type: object
                          properties:
                            end:
                              type: string
                            error:
                              oneOf:
                                - type: object
                                  properties:
                                    message:
                                      type: string
                                    name:
                                      type: string
                                  required:
                                    - message
                                    - name
                              nullable: true
                            finished:
                              type: boolean
                            name:
                              type: string
                            start:
                              type: string
                            type:
                              type: string
                              enum:
                                - waitForEvent
                            output:
                              type: string
                          required:
                            - end
                            - error
                            - finished
                            - name
                            - start
                            - type
                  success:
                    oneOf:
                      - type: boolean
                    nullable: true
                  trigger:
                    type: object
                    properties:
                      source:
                        type: string
                        enum:
                          - unknown
                          - api
                          - binding
                          - event
                          - cron
                    required:
                      - source
                  versionId:
                    type: string
                required:
                  - end
                  - error
                  - output
                  - params
                  - queued
                  - start
                  - status
                  - step_count
                  - steps
                  - success
                  - trigger
                  - versionId
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
        InstanceNotFound:
          - code: 10400
  /accounts/{account_id}/workflows/{workflowName}/instances:
    get:
      operationId: listInstances
      description: Lists all instances of a workflow with their execution status.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: cursor
          in: query
          required: false
          description: "Query param: Opaque token for cursor-based pagination. Mutually
            exclusive with `page`."
          schema:
            type: string
        - name: date_end
          in: query
          required: false
          description: "Query param: Accepts ISO 8601 with no timezone offsets and in UTC."
          schema:
            type: string
        - name: date_start
          in: query
          required: false
          description: "Query param: Accepts ISO 8601 with no timezone offsets and in UTC."
          schema:
            type: string
        - name: direction
          in: query
          required: false
          description: "Query param: Defines the direction for cursor-based pagination."
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: status
          in: query
          required: false
          description: Query param
          schema:
            type: string
            enum:
              - queued
              - running
              - paused
              - errored
              - terminated
              - complete
              - waitingForPause
              - waiting
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  created_on:
                    type: string
                  ended_on:
                    oneOf:
                      - type: string
                    nullable: true
                  modified_on:
                    type: string
                  started_on:
                    oneOf:
                      - type: string
                    nullable: true
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                  version_id:
                    type: string
                  workflow_id:
                    type: string
                required:
                  - id
                  - created_on
                  - ended_on
                  - modified_on
                  - started_on
                  - status
                  - version_id
                  - workflow_id
      x-distilled-pagination-class: InstanceListResponsesV4PagePaginationArray
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        WorkflowInternalError:
          - code: 10001
        InvalidRoute:
          - code: 7003
        InvalidBody:
          - code: 10002
    post:
      operationId: createInstance
      description: Creates a new instance of a workflow, starting its execution.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                instance_id:
                  type: string
                  description: Body param
                instance_retention:
                  type: object
                  properties:
                    error_retention:
                      oneOf:
                        - type: number
                        - type: string
                      description: Specifies the duration in milliseconds or as a string like '5
                        minutes'.
                    success_retention:
                      oneOf:
                        - type: number
                        - type: string
                      description: Specifies the duration in milliseconds or as a string like '5
                        minutes'.
                  description: Body param
                params:
                  description: Body param
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                  version_id:
                    type: string
                  workflow_id:
                    type: string
                required:
                  - id
                  - status
                  - version_id
                  - workflow_id
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InstanceAlreadyExists:
          - code: 10405
        InvalidRoute:
          - code: 7003
        InvalidBody:
          - code: 10002
  /accounts/{account_id}/workflows/{workflowName}/instances/batch:
    post:
      operationId: bulkInstance
      description: Creates multiple workflow instances in a single batch operation.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  instance_id:
                    type: string
                  instance_retention:
                    type: object
                    properties:
                      error_retention:
                        oneOf:
                          - type: number
                          - type: string
                        description: Specifies the duration in milliseconds or as a string like '5
                          minutes'.
                      success_retention:
                        oneOf:
                          - type: number
                          - type: string
                        description: Specifies the duration in milliseconds or as a string like '5
                          minutes'.
                  params: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                  version_id:
                    type: string
                  workflow_id:
                    type: string
                required:
                  - id
                  - status
                  - version_id
                  - workflow_id
      x-distilled-pagination-class: InstanceBulkResponsesSinglePage
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InstanceAlreadyExists:
          - code: 10405
        InvalidRoute:
          - code: 7003
        InvalidBody:
          - code: 10002
  /accounts/{account_id}/workflows/{workflowName}/instances/{instanceId}/events/{eventType}:
    post:
      operationId: createInstanceEvent
      description: Sends an event to a running workflow instance to trigger state
        transitions.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
        - name: eventType
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema: {}
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
        InstanceNotFound:
          - code: 10201
        InvalidBody:
          - code: 10002
  /accounts/{account_id}/workflows/{workflowName}/instances/{instanceId}/status:
    patch:
      operationId: patchInstanceStatus
      description: Changes the execution status of a workflow instance (e.g., pause,
        resume, terminate).
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: instanceId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - resume
                    - pause
                    - terminate
                    - restart
                  description: "Body param: Apply action to instance."
                from:
                  type: object
                  properties:
                    name:
                      type: string
                    count:
                      type: number
                    type:
                      type: string
                      enum:
                        - do
                        - sleep
                        - waitForEvent
                  required:
                    - name
                  description: 'Body param: Step to restart from. Only applicable when status is
                    "restart".'
              required:
                - status
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - queued
                      - running
                      - paused
                      - errored
                      - terminated
                      - complete
                      - waitingForPause
                      - waiting
                  timestamp:
                    type: string
                    description: Accepts ISO 8601 with no timezone offsets and in UTC.
                required:
                  - status
                  - timestamp
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
        InstanceNotFound:
          - code: 10400
        InstanceCannotTerminate:
          - code: 10401
  /accounts/{account_id}/workflows/{workflowName}/versions/{versionId}:
    get:
      operationId: getVersion
      description: Retrieves details for a specific deployed workflow version.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: versionId
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  has_dag:
                    type: boolean
                  language:
                    type: string
                    enum:
                      - javascript
                      - python
                    description: The programming language of the workflow implementation
                  modified_on:
                    type: string
                  workflow_id:
                    type: string
                  limits:
                    type: object
                    properties:
                      steps:
                        type: number
                required:
                  - id
                  - class_name
                  - created_on
                  - has_dag
                  - language
                  - modified_on
                  - workflow_id
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
        VersionNotFound:
          - code: 10300
  /accounts/{account_id}/workflows/{workflowName}/versions:
    get:
      operationId: listVersions
      description: Lists all deployed versions of a workflow.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  has_dag:
                    type: boolean
                  language:
                    type: string
                    enum:
                      - javascript
                      - python
                    description: The programming language of the workflow implementation
                  modified_on:
                    type: string
                  workflow_id:
                    type: string
                  limits:
                    type: object
                    properties:
                      steps:
                        type: number
                required:
                  - id
                  - class_name
                  - created_on
                  - has_dag
                  - language
                  - modified_on
                  - workflow_id
      x-distilled-pagination-class: VersionListResponsesV4PagePaginationArray
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/workflows/{workflowName}:
    get:
      operationId: getWorkflow
      description: Retrieves configuration and metadata for a specific workflow.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  instances:
                    type: object
                    properties:
                      complete:
                        type: number
                      errored:
                        type: number
                      paused:
                        type: number
                      queued:
                        type: number
                      running:
                        type: number
                      terminated:
                        type: number
                      waiting:
                        type: number
                      waitingForPause:
                        type: number
                  modified_on:
                    type: string
                  name:
                    type: string
                  script_name:
                    type: string
                  triggered_on:
                    oneOf:
                      - type: string
                    nullable: true
                required:
                  - id
                  - class_name
                  - created_on
                  - instances
                  - modified_on
                  - name
                  - script_name
                  - triggered_on
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
    put:
      operationId: putWorkflow
      description: Creates a new workflow or updates an existing workflow definition.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                class_name:
                  type: string
                  description: Body param
                script_name:
                  type: string
                  description: Body param
                limits:
                  type: object
                  properties:
                    steps:
                      type: number
                  description: Body param
              required:
                - class_name
                - script_name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  is_deleted:
                    type: number
                  modified_on:
                    type: string
                  name:
                    type: string
                  script_name:
                    type: string
                  terminator_running:
                    type: number
                  triggered_on:
                    oneOf:
                      - type: string
                    nullable: true
                  version_id:
                    type: string
                required:
                  - id
                  - class_name
                  - created_on
                  - modified_on
                  - name
                  - script_name
                  - version_id
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowInternalError:
          - code: 10001
        InvalidRoute:
          - code: 7003
    delete:
      operationId: deleteWorkflow
      description: Deletes a Workflow. This only deletes the Workflow and does not
        delete or modify any Worker associated to this Workflow or bounded to
        it.
      parameters:
        - name: workflowName
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  success:
                    oneOf:
                      - type: boolean
                    nullable: true
                required:
                  - status
      x-distilled-response-path: result
      x-distilled-errors:
        WorkflowNotFound:
          - code: 10200
        InvalidRoute:
          - code: 7003
  /accounts/{account_id}/workflows:
    get:
      operationId: listWorkflows
      description: Lists all workflows configured for the account.
      parameters:
        - name: account_id
          in: path
          required: true
          description: Path param
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: number
        - name: per_page
          in: query
          required: false
          schema:
            type: number
        - name: search
          in: query
          required: false
          description: "Query param: Allows filtering workflows` name."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  class_name:
                    type: string
                  created_on:
                    type: string
                  instances:
                    type: object
                    properties:
                      complete:
                        type: number
                      errored:
                        type: number
                      paused:
                        type: number
                      queued:
                        type: number
                      running:
                        type: number
                      terminated:
                        type: number
                      waiting:
                        type: number
                      waitingForPause:
                        type: number
                  modified_on:
                    type: string
                  name:
                    type: string
                  script_name:
                    type: string
                  triggered_on:
                    oneOf:
                      - type: string
                    nullable: true
                required:
                  - id
                  - class_name
                  - created_on
                  - instances
                  - modified_on
                  - name
                  - script_name
                  - triggered_on
      x-distilled-pagination-class: WorkflowListResponsesV4PagePaginationArray
      x-distilled-errors:
        InvalidRoute:
          - code: 7003
