openapi: 3.1.0
info:
  title: Cloudflare ZERO-TRUST API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: zero-trust
paths:
  /accounts/{account_id}/access/ai-controls/mcp/portals:
    get:
      operationId: listAccessAiControlMcpPortals
      description: "List MCP Portals  @example ```ts // Automatically fetches more
        pages as needed. for await (const portalListResponse of
        client.zeroTrust.access.aiControls.mcp.portals.list( { account_id:
        'a86a8f5c339544d7bdc89926de14fb8c' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: "Query param: Search by id, name, hostname"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: portal id
                  hostname:
                    type: string
                  name:
                    type: string
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                required:
                  - id
                  - hostname
                  - name
      x-distilled-pagination-class: PortalListResponsesV4PagePaginationArray
    post:
      operationId: createAccessAiControlMcpPortal
      description: "Create a new MCP Portal  @example ```ts const portal = await
        client.zeroTrust.access.aiControls.mcp.portals.create( { account_id:
        'a86a8f5c339544d7bdc89926de14fb8c', id: 'my-mcp-portal', hostname:
        'exmaple.com', name: 'My MCP Portal', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: "Body param: portal id"
                hostname:
                  type: string
                  description: "Body param:"
                name:
                  type: string
                  description: "Body param:"
                description:
                  type: string
                  description: "Body param:"
                servers:
                  type: array
                  items:
                    type: object
                    properties:
                      server_id:
                        type: string
                        description: server id
                      default_disabled:
                        type: boolean
                      on_behalf:
                        type: boolean
                      updated_prompts:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            description:
                              type: string
                            enabled:
                              type: boolean
                          required:
                            - name
                      updated_tools:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            description:
                              type: string
                            enabled:
                              type: boolean
                          required:
                            - name
                    required:
                      - server_id
                  description: "Body param:"
              required:
                - id
                - hostname
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: portal id
                  hostname:
                    type: string
                  name:
                    type: string
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                required:
                  - id
                  - hostname
                  - name
      x-distilled-response-path: result
  /accounts/{account_id}/access/ai-controls/mcp/portals/{id}:
    put:
      operationId: updateAccessAiControlMcpPortal
      description: "Update a MCP Portal  @example ```ts const portal = await
        client.zeroTrust.access.aiControls.mcp.portals.update( 'my-mcp-portal',
        { account_id: 'a86a8f5c339544d7bdc89926de14fb8c' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: "Body param:"
                hostname:
                  type: string
                  description: "Body param:"
                name:
                  type: string
                  description: "Body param:"
                servers:
                  type: array
                  items:
                    type: object
                    properties:
                      server_id:
                        type: string
                        description: server id
                      default_disabled:
                        type: boolean
                      on_behalf:
                        type: boolean
                      updated_prompts:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            description:
                              type: string
                            enabled:
                              type: boolean
                          required:
                            - name
                      updated_tools:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            description:
                              type: string
                            enabled:
                              type: boolean
                          required:
                            - name
                    required:
                      - server_id
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: portal id
                  hostname:
                    type: string
                  name:
                    type: string
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                required:
                  - id
                  - hostname
                  - name
      x-distilled-response-path: result
    delete:
      operationId: deleteAccessAiControlMcpPortal
      description: "Delete a MCP Portal  @example ```ts const portal = await
        client.zeroTrust.access.aiControls.mcp.portals.delete( 'my-mcp-portal',
        { account_id: 'a86a8f5c339544d7bdc89926de14fb8c' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: portal id
                  hostname:
                    type: string
                  name:
                    type: string
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                required:
                  - id
                  - hostname
                  - name
      x-distilled-response-path: result
    get:
      operationId: readAccessAiControlMcpPortal
      description: "Read details of an MCP Portal  @example ```ts const response =
        await client.zeroTrust.access.aiControls.mcp.portals.read(
        'my-mcp-portal', { account_id: 'a86a8f5c339544d7bdc89926de14fb8c' }, );
        ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: portal id
                  hostname:
                    type: string
                  name:
                    type: string
                  servers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: server id
                        auth_type:
                          type: string
                          enum:
                            - oauth
                            - bearer
                            - unauthenticated
                        hostname:
                          type: string
                        name:
                          type: string
                        prompts:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                        tools:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                        updated_prompts:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                        updated_tools:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                        created_at:
                          type: string
                        created_by:
                          type: string
                        default_disabled:
                          type: boolean
                        description:
                          oneOf:
                            - type: string
                          nullable: true
                        error:
                          type: string
                        last_synced:
                          type: string
                        modified_at:
                          type: string
                        modified_by:
                          type: string
                        on_behalf:
                          type: boolean
                        status:
                          type: string
                      required:
                        - id
                        - auth_type
                        - hostname
                        - name
                        - prompts
                        - tools
                        - updated_prompts
                        - updated_tools
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                required:
                  - id
                  - hostname
                  - name
                  - servers
      x-distilled-response-path: result
  /accounts/{account_id}/access/ai-controls/mcp/servers:
    get:
      operationId: listAccessAiControlMcpServers
      description: "List MCP Servers  @example ```ts // Automatically fetches more
        pages as needed. for await (const serverListResponse of
        client.zeroTrust.access.aiControls.mcp.servers.list( { account_id:
        'a86a8f5c339544d7bdc89926de14fb8c' }, )) { // ... } ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: "Query param: Search by id, name"
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: server id
                  auth_type:
                    type: string
                    enum:
                      - oauth
                      - bearer
                      - unauthenticated
                  hostname:
                    type: string
                  name:
                    type: string
                  prompts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                  error:
                    type: string
                  last_synced:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                  status:
                    type: string
                required:
                  - id
                  - auth_type
                  - hostname
                  - name
                  - prompts
                  - tools
      x-distilled-pagination-class: ServerListResponsesV4PagePaginationArray
    post:
      operationId: createAccessAiControlMcpServer
      description: "Create a new MCP Server  @example ```ts const server = await
        client.zeroTrust.access.aiControls.mcp.servers.create( { account_id:
        'a86a8f5c339544d7bdc89926de14fb8c', id: 'my-mcp-server', auth_type:
        'unauthenticated', hostname: 'https://exmaple.com/mcp', name: 'My MCP
        Server', }, ); ```"
      parameters:
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: "Body param: server id"
                auth_type:
                  type: string
                  enum:
                    - oauth
                    - bearer
                    - unauthenticated
                  description: "Body param:"
                hostname:
                  type: string
                  description: "Body param:"
                name:
                  type: string
                  description: "Body param:"
                auth_credentials:
                  type: string
                  description: "Body param:"
                description:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param:"
              required:
                - id
                - auth_type
                - hostname
                - name
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: server id
                  auth_type:
                    type: string
                    enum:
                      - oauth
                      - bearer
                      - unauthenticated
                  hostname:
                    type: string
                  name:
                    type: string
                  prompts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                  error:
                    type: string
                  last_synced:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                  status:
                    type: string
                required:
                  - id
                  - auth_type
                  - hostname
                  - name
                  - prompts
                  - tools
      x-distilled-response-path: result
  /accounts/{account_id}/access/ai-controls/mcp/servers/{id}:
    put:
      operationId: updateAccessAiControlMcpServer
      description: "Update a MCP Server  @example ```ts const server = await
        client.zeroTrust.access.aiControls.mcp.servers.update( 'my-mcp-server',
        { account_id: 'a86a8f5c339544d7bdc89926de14fb8c' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          description: "Path param:"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                auth_credentials:
                  type: string
                  description: "Body param:"
                description:
                  oneOf:
                    - type: string
                  nullable: true
                  description: "Body param:"
                name:
                  type: string
                  description: "Body param:"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: server id
                  auth_type:
                    type: string
                    enum:
                      - oauth
                      - bearer
                      - unauthenticated
                  hostname:
                    type: string
                  name:
                    type: string
                  prompts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                  error:
                    type: string
                  last_synced:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                  status:
                    type: string
                required:
                  - id
                  - auth_type
                  - hostname
                  - name
                  - prompts
                  - tools
      x-distilled-response-path: result
    delete:
      operationId: deleteAccessAiControlMcpServer
      description: "Delete a MCP Server  @example ```ts const server = await
        client.zeroTrust.access.aiControls.mcp.servers.delete( 'my-mcp-server',
        { account_id: 'a86a8f5c339544d7bdc89926de14fb8c' }, ); ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: server id
                  auth_type:
                    type: string
                    enum:
                      - oauth
                      - bearer
                      - unauthenticated
                  hostname:
                    type: string
                  name:
                    type: string
                  prompts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                  error:
                    type: string
                  last_synced:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                  status:
                    type: string
                required:
                  - id
                  - auth_type
                  - hostname
                  - name
                  - prompts
                  - tools
      x-distilled-response-path: result
    get:
      operationId: readAccessAiControlMcpServer
      description: "Read the details of a MCP Server  @example ```ts const response =
        await client.zeroTrust.access.aiControls.mcp.servers.read(
        'my-mcp-server', { account_id: 'a86a8f5c339544d7bdc89926de14fb8c' }, );
        ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: server id
                  auth_type:
                    type: string
                    enum:
                      - oauth
                      - bearer
                      - unauthenticated
                  hostname:
                    type: string
                  name:
                    type: string
                  prompts:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  tools:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                  created_at:
                    type: string
                  created_by:
                    type: string
                  description:
                    oneOf:
                      - type: string
                    nullable: true
                  error:
                    type: string
                  last_synced:
                    type: string
                  modified_at:
                    type: string
                  modified_by:
                    type: string
                  status:
                    type: string
                required:
                  - id
                  - auth_type
                  - hostname
                  - name
                  - prompts
                  - tools
      x-distilled-response-path: result
  /accounts/{account_id}/access/ai-controls/mcp/servers/{id}/sync:
    post:
      operationId: syncAccessAiControlMcpServer
      description: "Sync MCP Server Capabilities  @example ```ts const response =
        await client.zeroTrust.access.aiControls.mcp.servers.sync(
        'my-mcp-portal', { account_id: 'a86a8f5c339544d7bdc89926de14fb8c' }, );
        ```"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: account_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema: {}
      x-distilled-response-path: result
  /{accountOrZone}/{accountOrZoneId}/access/apps/{appId}:
    get:
      operationId: getAccessApplication
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      domain:
                        type: string
                        description: The primary hostname and path secured by Access. This domain will
                          be displayed if the app is visible in the App
                          Launcher.
                      type:
                        type: string
                        enum:
                          - self_hosted
                          - saas
                          - ssh
                          - vnc
                          - app_launcher
                          - warp
                          - biso
                          - bookmark
                          - dash_sso
                          - infrastructure
                          - rdp
                          - mcp
                          - mcp_portal
                          - proxy_endpoint
                        description: The application type.
                      id:
                        type: string
                        description: UUID.
                      allow_authenticate_via_warp:
                        type: boolean
                        description: When set to true, users can authenticate to this application using
                          their WARP session. When set to false this application
                          will always require direct IdP authentication. This
                          setting always overrides the organization setting for
                          WARP authentication.
                      allow_iframe:
                        type: boolean
                        description: Enables loading application content in an iFrame.
                      allowed_idps:
                        type: array
                        items:
                          type: string
                        description: The identity providers your users can select when connecting to
                          this application. Defaults to all IdPs configured in
                          your account.
                      app_launcher_visible:
                        type: boolean
                        description: Displays the application in the App Launcher.
                      aud:
                        type: string
                        description: Audience tag.
                      auto_redirect_to_identity:
                        type: boolean
                        description: When set to `true`, users skip the identity provider selection step
                          during login. You must specify only one identity
                          provider in allowed_idps.
                      cors_headers:
                        type: object
                        additionalProperties: true
                      custom_deny_message:
                        type: string
                        description: The custom error message shown to a user when they are denied
                          access to the application.
                      custom_deny_url:
                        type: string
                        description: The custom URL a user is redirected to when they are denied access
                          to the application when failing identity-based rules.
                      custom_non_identity_deny_url:
                        type: string
                        description: The custom URL a user is redirected to when they are denied access
                          to the application when failing non-identity rules.
                      custom_pages:
                        type: array
                        items:
                          type: string
                        description: The custom pages that will be displayed when applicable for this
                          application
                      destinations:
                        type: array
                        items:
                          oneOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - public
                                uri:
                                  type: string
                                  description: The URI of the destination. Public destinations' URIs can include a
                                    domain and path with
                                    [wildcards](https://developers.cloudflare.com/cloudflare-one/policies/access/app-paths/).
                            - type: object
                              properties:
                                cidr:
                                  type: string
                                  description: The CIDR range of the destination. Single IPs will be computed as
                                    /32.
                                hostname:
                                  type: string
                                  description: The hostname of the destination. Matches a valid SNI served by an
                                    HTTPS origin.
                                l4_protocol:
                                  type: string
                                  enum:
                                    - tcp
                                    - udp
                                  description: The L4 protocol of the destination. When omitted, both UDP and TCP
                                    traffic will match.
                                port_range:
                                  type: string
                                  description: The port range of the destination. Can be a single port or a range
                                    of ports. When omitted, all ports will
                                    match.
                                type:
                                  type: string
                                  enum:
                                    - private
                                vnet_id:
                                  type: string
                                  description: The VNET ID to match the destination. When omitted, all VNETs will
                                    match.
                            - type: object
                              properties:
                                mcp_server_id:
                                  type: string
                                  description: The MCP server id configured in ai-controls.
                                type:
                                  type: string
                                  enum:
                                    - via_mcp_server_portal
                        description: List of destinations secured by Access. This supersedes
                          `self_hosted_domains` to allow for more flexibility in
                          defining different types of domains. If `destinations`
                          are provided, then `self_hosted_domains` will be
                          ignored.
                      enable_binding_cookie:
                        type: boolean
                        description: Enables the binding cookie, which increases security against
                          compromised authorization tokens and CSRF attacks.
                      http_only_cookie_attribute:
                        type: boolean
                        description: Enables the HttpOnly cookie attribute, which increases security
                          against XSS attacks.
                      logo_url:
                        type: string
                        description: The image URL for the logo shown in the App Launcher dashboard.
                      name:
                        type: string
                        description: The name of the application.
                      options_preflight_bypass:
                        type: boolean
                        description: Allows options preflight requests to bypass Access authentication
                          and go directly to the origin. Cannot turn on if
                          cors_headers is set.
                      path_cookie_attribute:
                        type: boolean
                        description: Enables cookie paths to scope an application's JWT to the
                          application path. If disabled, the JWT will scope to
                          the hostname by default
                      policies:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The UUID of the policy
                            approval_groups:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                              description: Administrators who can approve a temporary authentication request.
                            approval_required:
                              type: boolean
                              description: Requires the user to request access from an administrator at the
                                start of each session.
                            created_at:
                              type: string
                            decision:
                              type: string
                              enum:
                                - allow
                                - bypass
                                - deny
                                - non_identity
                              description: The action Access will take if a user matches this policy.
                                Infrastructure application policies can only use
                                the Allow action.
                            exclude:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                              description: Rules evaluated with a NOT logical operator. To match the policy, a
                                user cannot meet any of the Exclude rules.
                            include:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                              description: Rules evaluated with an OR logical operator. A user needs to meet
                                only one of the Include rules.
                            isolation_required:
                              type: boolean
                              description: Require this application to be served in an isolated browser for
                                users matching this policy. 'Client Web
                                Isolation' must be on for the account in order
                                to use this feature.
                            name:
                              type: string
                              description: The name of the Access policy.
                            precedence:
                              type: number
                              description: The order of execution for this policy. Must be unique for each
                                policy within an app.
                            purpose_justification_prompt:
                              type: string
                              description: A custom message that will appear on the purpose justification
                                screen.
                            purpose_justification_required:
                              type: boolean
                              description: Require users to enter a justification when they log in to the
                                application.
                            require:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                              description: Rules evaluated with an AND logical operator. To match the policy,
                                a user must meet all of the Require rules.
                            session_duration:
                              type: string
                              description: "The amount of time that tokens issued for the application will be
                                valid. Must be in the format `300ms` or `2h45m`.
                                Valid time units are: ns, us (or µs), ms, s, m,
                                h."
                            updated_at:
                              type: string
                      read_service_tokens_from_header:
                        type: string
                        description: 'Allows matching Access Service Tokens passed HTTP in a single
                          header with this name. This works as an alternative to
                          the (CF-Access-Client-Id, CF-Access-Client-Secret)
                          pair of headers. The header value will be interpreted
                          as a json object similar to: { "cf-access-client-id":
                          "88bf3b6d86161464f6509f7219099e57.access.example.com",
                          "cf-access-client-secret":
                          "bdd31cbc4dec990953e39163fbbb194c93313ca9f0a6e420346af9d326b1d2a5"
                          }'
                      same_site_cookie_attribute:
                        type: string
                        description: Sets the SameSite cookie setting, which provides increased security
                          against CSRF attacks.
                      scim_config:
                        type: object
                        properties:
                          idp_uid:
                            type: string
                            description: The UID of the IdP to use as the source for SCIM resources to
                              provision to this application.
                          remote_uri:
                            type: string
                            description: The base URI for the application's SCIM-compatible API.
                          authentication:
                            oneOf:
                              - type: object
                                additionalProperties: true
                              - type: object
                                additionalProperties: true
                              - type: object
                                additionalProperties: true
                              - type: object
                                properties:
                                  client_id:
                                    type: string
                                    description: Client ID of the Access service token used to authenticate with the
                                      remote service.
                                  client_secret:
                                    type: string
                                    description: Client secret of the Access service token used to authenticate with
                                      the remote service.
                                  scheme:
                                    type: string
                                    enum:
                                      - access_service_token
                                    description: The authentication scheme to use when making SCIM requests to this
                                      application.
                                required:
                                  - client_id
                                  - client_secret
                                  - scheme
                              - type: array
                                items:
                                  oneOf:
                                    - type: object
                                      additionalProperties: true
                                    - type: object
                                      additionalProperties: true
                                    - type: object
                                      additionalProperties: true
                                    - type: object
                                      properties:
                                        client_id:
                                          type: string
                                          description: Client ID of the Access service token used to authenticate with the
                                            remote service.
                                        client_secret:
                                          type: string
                                          description: Client secret of the Access service token used to authenticate with
                                            the remote service.
                                        scheme:
                                          type: string
                                          enum:
                                            - access_service_token
                                          description: The authentication scheme to use when making SCIM requests to this
                                            application.
                                      required:
                                        - client_id
                                        - client_secret
                                        - scheme
                            description: Attributes for configuring HTTP Basic authentication scheme for
                              SCIM provisioning to an application.
                          deactivate_on_delete:
                            type: boolean
                            description: "If false, propagates DELETE requests to the target application for
                              SCIM resources. If true, sets 'active' to false on
                              the SCIM resource. Note: Some targets do not
                              support DELETE operations."
                          enabled:
                            type: boolean
                            description: Whether SCIM provisioning is turned on for this application.
                          mappings:
                            type: array
                            items:
                              type: object
                              additionalProperties: true
                            description: A list of mappings to apply to SCIM resources before provisioning
                              them in this application. These can transform or
                              filter the resources to be provisioned.
                        required:
                          - idp_uid
                          - remote_uri
                        description: Configuration for provisioning to this application via SCIM. This
                          is currently in closed beta.
                      self_hosted_domains:
                        type: array
                        items:
                          type: string
                        description: "@deprecated List of public domains that Access will secure. This
                          field is deprecated in favor of `destinations` and
                          will be supported until  November 21, 2025.  If
                          `destinations` are provided, then
                          `self_hosted_domains` will be ignored."
                      service_auth_401_redirect:
                        type: boolean
                        description: Returns a 401 status code when the request is blocked by a Service
                          Auth policy.
                      session_duration:
                        type: string
                        description: "The amount of time that tokens issued for this application will be
                          valid. Must be in the format `300ms` or `2h45m`. Valid
                          time units are: ns, us (or µs), ms, s, m, h. Note:
                          unsupported for infrastructure type applications."
                      skip_interstitial:
                        type: boolean
                        description: Enables automatic authentication through cloudflared.
                      tags:
                        type: array
                        items:
                          type: string
                        description: The tags you want assigned to an application. Tags are used to
                          filter applications in the App Launcher dashboard.
                    required:
                      - domain
                      - type
                  - type: object
                    properties:
                      id:
                        type: string
                        description: UUID.
                      allowed_idps:
                        type: array
                        items:
                          type: string
                        description: The identity providers your users can select when connecting to
                          this application. Defaults to all IdPs configured in
                          your account.
                      app_launcher_visible:
                        type: boolean
                        description: Displays the application in the App Launcher.
                      aud:
                        type: string
                        description: Audience tag.
                      auto_redirect_to_identity:
                        type: boolean
                        description: When set to `true`, users skip the identity provider selection step
                          during login. You must specify only one identity
                          provider in allowed_idps.
                      custom_pages:
                        type: array
                        items:
                          type: string
                        description: The custom pages that will be displayed when applicable for this
                          application
                      logo_url:
                        type: string
                        description: The image URL for the logo shown in the App Launcher dashboard.
                      name:
                        type: string
                        description: The name of the application.
                      policies:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The UUID of the policy
                            approval_groups:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                              description: Administrators who can approve a temporary authentication request.
                            approval_required:
                              type: boolean
                              description: Requires the user to request access from an administrator at the
                                start of each session.
                            created_at:
                              type: string
                            decision:
                              type: string
                              enum:
                                - allow
                                - bypass
                                - deny
                                - non_identity
                              description: The action Access will take if a user matches this policy.
                                Infrastructure application policies can only use
                                the Allow action.
                            exclude:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                              description: Rules evaluated with a NOT logical operator. To match the policy, a
                                user cannot meet any of the Exclude rules.
                            include:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                              description: Rules evaluated with an OR logical operator. A user needs to meet
                                only one of the Include rules.
                            isolation_required:
                              type: boolean
                              description: Require this application to be served in an isolated browser for
                                users matching this policy. 'Client Web
                                Isolation' must be on for the account in order
                                to use this feature.
                            name:
                              type: string
                              description: The name of the Access policy.
                            precedence:
                              type: number
                              description: The order of execution for this policy. Must be unique for each
                                policy within an app.
                            purpose_justification_prompt:
                              type: string
                              description: A custom message that will appear on the purpose justification
                                screen.
                            purpose_justification_required:
                              type: boolean
                              description: Require users to enter a justification when they log in to the
                                application.
                            require:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                              description: Rules evaluated with an AND logical operator. To match the policy,
                                a user must meet all of the Require rules.
                            session_duration:
                              type: string
                              description: "The amount of time that tokens issued for the application will be
                                valid. Must be in the format `300ms` or `2h45m`.
                                Valid time units are: ns, us (or µs), ms, s, m,
                                h."
                            updated_at:
                              type: string
                      saas_app:
                        oneOf:
                          - type: object
                            additionalProperties: true
                          - type: object
                            additionalProperties: true
                      scim_config:
                        type: object
                        properties:
                          idp_uid:
                            type: string
                            description: The UID of the IdP to use as the source for SCIM resources to
                              provision to this application.
                          remote_uri:
                            type: string
                            description: The base URI for the application's SCIM-compatible API.
                          authentication:
                            oneOf:
                              - type: object
                                additionalProperties: true
                              - type: object
                                additionalProperties: true
                              - type: object
                                additionalProperties: true
                              - type: object
                                properties:
                                  client_id:
                                    type: string
                                    description: Client ID of the Access service token used to authenticate with the
                                      remote service.
                                  client_secret:
                                    type: string
                                    description: Client secret of the Access service token used to authenticate with
                                      the remote service.
                                  scheme:
                                    type: string
                                    enum:
                                      - access_service_token
                                    description: The authentication scheme to use when making SCIM requests to this
                                      application.
                                required:
                                  - client_id
                                  - client_secret
                                  - scheme
                              - type: array
                                items:
                                  oneOf:
                                    - type: object
                                      additionalProperties: true
                                    - type: object
                                      additionalProperties: true
                                    - type: object
                                      additionalProperties: true
                                    - type: object
                                      properties:
                                        client_id:
                                          type: string
                                          description: Client ID of the Access service token used to authenticate with the
                                            remote service.
                                        client_secret:
                                          type: string
                                          description: Client secret of the Access service token used to authenticate with
                                            the remote service.
                                        scheme:
                                          type: string
                                          enum:
                                            - access_service_token
                                          description: The authentication scheme to use when making SCIM requests to this
                                            application.
                                      required:
                                        - client_id
                                        - client_secret
                                        - scheme
                            description: Attributes for configuring HTTP Basic authentication scheme for
                              SCIM provisioning to an application.
                          deactivate_on_delete:
                            type: boolean
                            description: "If false, propagates DELETE requests to the target application for
                              SCIM resources. If true, sets 'active' to false on
                              the SCIM resource. Note: Some targets do not
                              support DELETE operations."
                          enabled:
                            type: boolean
                            description: Whether SCIM provisioning is turned on for this application.
                          mappings:
                            type: array
                            items:
                              type: object
                              additionalProperties: true
                            description: A list of mappings to apply to SCIM resources before provisioning
                              them in this application. These can transform or
                              filter the resources to be provisioned.
                        required:
                          - idp_uid
                          - remote_uri
                        description: Configuration for provisioning to this application via SCIM. This
                          is currently in closed beta.
                      tags:
                        type: array
                        items:
                          type: string
                        description: The tags you want assigned to an application. Tags are used to
                          filter applications in the App Launcher dashboard.
                      type:
                        type: string
                        enum:
                          - self_hosted
                          - saas
                          - ssh
                          - vnc
                          - app_launcher
                          - warp
                          - biso
                          - bookmark
                          - dash_sso
                          - infrastructure
                          - rdp
                          - mcp
                          - mcp_portal
                          - proxy_endpoint
                        description: The application type.
                  - type: object
                    properties:
                      domain:
                        type: string
                        description: The primary hostname and path secured by Access. This domain will
                          be displayed if the app is visible in the App
                          Launcher.
                      type:
                        type: string
                        enum:
                          - self_hosted
                          - saas
                          - ssh
                          - vnc
                          - app_launcher
                          - warp
                          - biso
                          - bookmark
                          - dash_sso
                          - infrastructure
                          - rdp
                          - mcp
                          - mcp_portal
                          - proxy_endpoint
                        description: The application type.
                      id:
                        type: string
                        description: UUID.
                      allow_authenticate_via_warp:
                        type: boolean
                        description: When set to true, users can authenticate to this application using
                          their WARP session. When set to false this application
                          will always require direct IdP authentication. This
                          setting always overrides the organization setting for
                          WARP authentication.
                      allow_iframe:
                        type: boolean
                        description: Enables loading application content in an iFrame.
                      allowed_idps:
                        type: array
                        items:
                          type: string
                        description: The identity providers your users can select when connecting to
                          this application. Defaults to all IdPs configured in
                          your account.
                      app_launcher_visible:
                        type: boolean
                        description: Displays the application in the App Launcher.
                      aud:
                        type: string
                        description: Audience tag.
                      auto_redirect_to_identity:
                        type: boolean
                        description: When set to `true`, users skip the identity provider selection step
                          during login. You must specify only one identity
                          provider in allowed_idps.
                      cors_headers:
                        type: object
                        additionalProperties: true
                      custom_deny_message:
                        type: string
                        description: The custom error message shown to a user when they are denied
                          access to the application.
                      custom_deny_url:
                        type: string
                        description: The custom URL a user is redirected to when they are denied access
                          to the application when failing identity-based rules.
                      custom_non_identity_deny_url:
                        type: string
                        description: The custom URL a user is redirected to when they are denied access
                          to the application when failing non-identity rules.
                      custom_pages:
                        type: array
                        items:
                          type: string
                        description: The custom pages that will be displayed when applicable for this
                          application
                      destinations:
                        type: array
                        items:
                          oneOf:
                            - type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - public
                                uri:
                                  type: string
                                  description: The URI of the destination. Public destinations' URIs can include a
                                    domain and path with
                                    [wildcards](https://developers.cloudflare.com/cloudflare-one/policies/access/app-paths/).
                            - type: object
                              properties:
                                cidr:
                                  type: string
                                  description: The CIDR range of the destination. Single IPs will be computed as
                                    /32.
                                hostname:
                                  type: string
                                  description: The hostname of the destination. Matches a valid SNI served by an
                                    HTTPS origin.
                                l4_protocol:
                                  type: string
                                  enum:
                                    - tcp
                                    - udp
                                  description: The L4 protocol of the destination. When omitted, both UDP and TCP
                                    traffic will match.
                                port_range:
                                  type: string
                                  description: The port range of the destination. Can be a single port or a range
                                    of ports. When omitted, all ports will
                                    match.
                                type:
                                  type: string
                                  enum:
                                    - private
                                vnet_id:
                                  type: string
                                  description: The VNET ID to match the destination. When omitted, all VNETs will
                                    match.
                            - type: object
                              properties:
                                mcp_server_id:
                                  type: string
                                  description: The MCP server id configured in ai-controls.
                                type:
                                  type: string
                                  enum:
                                    - via_mcp_server_portal
                        description: List of destinations secured by Access. This supersedes
                          `self_hosted_domains` to allow for more flexibility in
                          defining different types of domains. If `destinations`
                          are provided, then `self_hosted_domains` will be
                          ignored.
                      enable_binding_cookie:
                        type: boolean
                        description: Enables the binding cookie, which increases security against
                          compromised authorization tokens and CSRF attacks.
                      http_only_cookie_attribute:
                        type: boolean
                        description: Enables the HttpOnly cookie attribute, which increases security
                          against XSS attacks.
                      logo_url:
                        type: string
                        description: The image URL for the logo shown in the App Launcher dashboard.
                      name:
                        type: string
                        description: The name of the application.
                      options_preflight_bypass:
                        type: boolean
                        description: Allows options preflight requests to bypass Access authentication
                          and go directly to the origin. Cannot turn on if
                          cors_headers is set.
                      path_cookie_attribute:
                        type: boolean
                        description: Enables cookie paths to scope an application's JWT to the
                          application path. If disabled, the JWT will scope to
                          the hostname by default
                      policies:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              description: The UUID of the policy
                            approval_groups:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                              description: Administrators who can approve a temporary authentication request.
                            approval_required:
                              type: boolean
                              description: Requires the user to request access from an administrator at the
                                start of each session.
                            created_at:
                              type: string
                            decision:
                              type: string
                              enum:
                                - allow
                                - bypass
                                - deny
                                - non_identity
                              description: The action Access will take if a user matches this policy.
                                Infrastructure application policies can only use
                                the Allow action.
                            exclude:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                              description: Rules evaluated with a NOT logical operator. To match the policy, a
                                user cannot meet any of the Exclude rules.
                            include:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                              description: Rules evaluated with an OR logical operator. A user needs to meet
                                only one of the Include rules.
                            isolation_required:
                              type: boolean
                              description: Require this application to be served in an isolated browser for
                                users matching this policy. 'Client Web
                                Isolation' must be on for the account in order
                                to use this feature.
                            name:
                              type: string
                              description: The name of the Access policy.
                            precedence:
                              type: number
                              description: The order of execution for this policy. Must be unique for each
                                policy within an app.
                            purpose_justification_prompt:
                              type: string
                              description: A custom message that will appear on the purpose justification
                                screen.
                            purpose_justification_required:
                              type: boolean
                              description: Require users to enter a justification when they log in to the
                                application.
                            require:
                              type: array
                              items:
                                oneOf:
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                                  - type: object
                                    additionalProperties: true
                              description: Rules evaluated with an AND logical operator. To match the policy,
                                a user must meet all of the Require rules.
                            session_duration:
                              type: string
                              description: "The amount of time that tokens issued for the application will be
                                valid. Must be in the format `300ms` or `2h45m`.
                                Valid time units are: ns, us (or µs), ms, s, m,
                                h."
                            updated_at:
                              type: string
                      read_service_tokens_from_header:
                        type: string
                        description: 'Allows matching Access Service Tokens passed HTTP in a single
                          header with this name. This works as an alternative to
                          the (CF-Access-Client-Id, CF-Access-Client-Secret)
                          pair of headers. The header value will be interpreted
                          as a json object similar to: { "cf-access-client-id":
                          "88bf3b6d86161464f6509f7219099e57.access.example.com",
                          "cf-access-client-secret":
                          "bdd31cbc4dec990953e39163fbbb194c93313ca9f0a6e420346af9d326b1d2a5"
[...]
