openapi: 3.1.0
info:
  title: Cloudflare ZONES API
  version: 0.0.0
servers:
  - url: https://api.cloudflare.com/client/v4
x-distilled-service: zones
paths:
  /zones/{zone_id}/activation_check:
    put:
      operationId: triggerActivationCheck
      description: "Triggeres a new activation check for a PENDING Zone. This can be
        triggered every 5 min for paygo/ent customers, every hour for FREE
        Zones.  @example ```ts const response = await
        client.zones.activationCheck.trigger( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier.
      x-distilled-response-path: result
  /zones/{zone_id}/custom_ns:
    get:
      operationId: getCustomNameserver
      description: Get metadata for account-level custom nameservers on a
        zone.  Deprecated in favor of [Show DNS
        Settings](https://developers.cloudflare.com/api/operations/dns-settings-for-a-zone-list-dns-settings).  @deprecated
        Use [DNS settings
        API](https://developers.cloudflare.com/api/resources/dns/subresources/settings/methods/get/)
        instead.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  messages:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: number
                        message:
                          type: string
                        documentation_url:
                          type: string
                        source:
                          type: object
                          properties:
                            pointer:
                              type: string
                      required:
                        - code
                        - message
                  success:
                    type: boolean
                    enum:
                      - true
                    description: Whether the API call was successful.
                  enabled:
                    type: boolean
                    description: Whether zone uses account-level custom nameservers.
                  ns_set:
                    type: number
                    description: The number of the name server set to assign to the zone.
                  result_info:
                    type: object
                    properties:
                      count:
                        type: number
                        description: Total number of results for the requested service.
                      page:
                        type: number
                        description: Current page within paginated list of results.
                      per_page:
                        type: number
                        description: Number of results per page of results.
                      total_count:
                        type: number
                        description: Total results available without any search parameters.
                required:
                  - errors
                  - messages
                  - success
    put:
      operationId: putCustomNameserver
      description: Set metadata for account-level custom nameservers on a zone.  If
        you would like new zones in the account to use account custom
        nameservers by default, use PUT /accounts/:identifier to set the account
        setting use_account_custom_ns_by_default to true.  Deprecated in favor
        of [Update DNS
        Settings](https://developers.cloudflare.com/api/operations/dns-settings-for-a-zone-update-dns-settings).  @deprecated
        Use [DNS settings
        API](https://developers.cloudflare.com/api/resources/dns/subresources/settings/methods/put/)
        instead.
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: Whether zone uses account-level custom nameservers."
                ns_set:
                  type: number
                  description: "Body param: The number of the name server set to assign to the
                    zone."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: string
      x-distilled-pagination-class: CustomNameserverUpdateResponsesSinglePage
  /zones/{zone_id}/hold:
    get:
      operationId: getHold
      description: "Retrieve whether the zone is subject to a zone hold, and metadata
        about the hold.  @example ```ts const zoneHold = await
        client.zones.holds.get({ zone_id: '023e105f4ecef8ad9ca31a8372d0c353',
        }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  hold:
                    type: boolean
                  hold_after:
                    type: string
                  include_subdomains:
                    type: string
      x-distilled-response-path: result
    post:
      operationId: createHold
      description: "Enforce a zone hold on the zone, blocking the creation and
        activation of zones with this zone's hostname.  @example ```ts const
        zoneHold = await client.zones.holds.create({ zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353', }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: include_subdomains
          in: query
          required: false
          description: "Query param: If provided, the zone hold will extend to block any
            subdomain of the given zone, as well as SSL4SaaS Custom Hostnames.
            For example, a zone hold on a zone with the hostname 'example.com'
            and include_subdomains=true will block 'example.com',
            'staging.example.com', 'api.staging.example.com', etc."
          schema:
            type: boolean
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  hold:
                    type: boolean
                  hold_after:
                    type: string
                  include_subdomains:
                    type: string
      x-distilled-response-path: result
    patch:
      operationId: patchHold
      description: "Update the `hold_after` and/or `include_subdomains` values on an
        existing zone hold. The hold is enabled if the `hold_after` date-time
        value is in the past.  @example ```ts const zoneHold = await
        client.zones.holds.edit({ zone_id: '023e105f4ecef8ad9ca31a8372d0c353',
        }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                hold_after:
                  type: string
                  description: "Body param: If `hold_after` is provided and future-dated, the hold
                    will be temporarily disabled, then automatically re-enabled
                    by the system at the time specified in this
                    RFC3339-formatted timestamp. A past-dated `hold_after` value
                    will have no effect on an existing, enabled hold. Providing
                    an empty string will set its value to the current time."
                include_subdomains:
                  type: boolean
                  description: "Body param: If `true`, the zone hold will extend to block any
                    subdomain of the given zone, as well as SSL4SaaS Custom
                    Hostnames. For example, a zone hold on a zone with the
                    hostname 'example.com' and include_subdomains=true will
                    block 'example.com', 'staging.example.com',
                    'api.staging.example.com', etc."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  hold:
                    type: boolean
                  hold_after:
                    type: string
                  include_subdomains:
                    type: string
      x-distilled-response-path: result
    delete:
      operationId: deleteHold
      description: "Stop enforcement of a zone hold on the zone, permanently or
        temporarily, allowing the creation and activation of zones with this
        zone's hostname.  @example ```ts const zoneHold = await
        client.zones.holds.delete({ zone_id: '023e105f4ecef8ad9ca31a8372d0c353',
        }); ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier."
          schema:
            type: string
        - name: hold_after
          in: query
          required: false
          description: "Query param: If `hold_after` is provided, the hold will be
            temporarily disabled, then automatically re-enabled by the system at
            the time specified in this RFC3339-formatted timestamp. Otherwise,
            the hold will be disabled indefinitely."
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  hold:
                    type: boolean
                  hold_after:
                    type: string
                  include_subdomains:
                    type: string
      x-distilled-response-path: result
  /zones/{zone_id}/available_plans/{planIdentifier}:
    get:
      operationId: getPlan
      description: "Details of the available plan that the zone can subscribe
        to.  @example ```ts const availableRatePlan = await
        client.zones.plans.get( '023e105f4ecef8ad9ca31a8372d0c353', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: planIdentifier
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                  can_subscribe:
                    type: boolean
                    description: Indicates whether you can subscribe to this plan.
                  currency:
                    type: string
                    description: The monetary unit in which pricing information is displayed.
                  externally_managed:
                    type: boolean
                    description: Indicates whether this plan is managed externally.
                  frequency:
                    type: string
                    enum:
                      - weekly
                      - monthly
                      - quarterly
                      - yearly
                    description: The frequency at which you will be billed for this plan.
                  is_subscribed:
                    type: boolean
                    description: Indicates whether you are currently subscribed to this plan.
                  legacy_discount:
                    type: boolean
                    description: Indicates whether this plan has a legacy discount applied.
                  legacy_id:
                    type: string
                    description: The legacy identifier for this rate plan, if any.
                  name:
                    type: string
                    description: The plan name.
                  price:
                    type: number
                    description: The amount you will be billed for this plan.
      x-distilled-response-path: result
  /zones/{zone_id}/available_plans:
    get:
      operationId: listPlans
      description: "Lists available plans the zone can subscribe to.  @example ```ts
        // Automatically fetches more pages as needed. for await (const
        availableRatePlan of client.zones.plans.list( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier
                  can_subscribe:
                    type: boolean
                    description: Indicates whether you can subscribe to this plan.
                  currency:
                    type: string
                    description: The monetary unit in which pricing information is displayed.
                  externally_managed:
                    type: boolean
                    description: Indicates whether this plan is managed externally.
                  frequency:
                    type: string
                    enum:
                      - weekly
                      - monthly
                      - quarterly
                      - yearly
                    description: The frequency at which you will be billed for this plan.
                  is_subscribed:
                    type: boolean
                    description: Indicates whether you are currently subscribed to this plan.
                  legacy_discount:
                    type: boolean
                    description: Indicates whether this plan has a legacy discount applied.
                  legacy_id:
                    type: string
                    description: The legacy identifier for this rate plan, if any.
                  name:
                    type: string
                    description: The plan name.
                  price:
                    type: number
                    description: The amount you will be billed for this plan.
      x-distilled-pagination-class: AvailableRatePlansSinglePage
  /zones/{zone_id}/available_rate_plans:
    get:
      operationId: getRatePlan
      description: "Lists all rate plans the zone can subscribe to.  @example ```ts //
        Automatically fetches more pages as needed. for await (const
        ratePlanGetResponse of client.zones.ratePlans.get( { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, )) { // ... } ```"
      parameters:
        - name: zone_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Plan identifier tag.
                  components:
                    type: array
                    items:
                      type: object
                      properties:
                        default:
                          type: number
                          description: The default amount allocated.
                        name:
                          type: string
                          enum:
                            - zones
                            - page_rules
                            - dedicated_certificates
                            - dedicated_certificates_custom
                          description: The unique component.
                        unit_price:
                          type: number
                          description: The unit price of the addon.
                    description: Array of available components values for the plan.
                  currency:
                    type: string
                    description: The monetary unit in which pricing information is displayed.
                  duration:
                    type: number
                    description: The duration of the plan subscription.
                  frequency:
                    type: string
                    enum:
                      - weekly
                      - monthly
                      - quarterly
                      - yearly
                    description: The frequency at which you will be billed for this plan.
                  name:
                    type: string
                    description: The plan name.
      x-distilled-pagination-class: RatePlanGetResponsesSinglePage
  /zones/{zone_id}/settings/{settingId}:
    get:
      operationId: getSetting
      description: "Fetch a single zone setting by name  @example ```ts const setting
        = await client.zones.settings.get( 'always_online', { zone_id:
        '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: settingId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: Identifier
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - 0rtt
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - advanced_ddos
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - aegis
                        description: ID of the zone setting.
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time this setting was modified.
                      value:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Whether the feature is enabled or not.
                          pool_id:
                            type: string
                            description: Egress pool id which refers to a grouping of dedicated egress IPs
                              through which Cloudflare will connect to origin.
                        description: Value of the zone setting.
                    required:
                      - id
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - always_online
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - always_use_https
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - automatic_https_rewrites
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - brotli
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - off
                          - on
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - browser_cache_ttl
                        description: ID of the zone setting.
                      value:
                        type: number
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - browser_check
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - cache_level
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - aggressive
                          - basic
                          - simplified
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - challenge_ttl
                        description: ID of the zone setting.
                      value:
                        type: number
                        enum:
                          - 300
                          - 900
                          - 1800
                          - 2700
                          - 3600
                          - 7200
                          - 10800
                          - 14400
                          - 28800
                          - 57600
                          - 86400
                          - 604800
                          - 2592000
                          - 31536000
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - china_network_enabled
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - ciphers
                        description: ID of the zone setting.
                      value:
                        type: array
                        items:
                          type: string
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - cname_flattening
                        description: How to flatten the cname destination.
                      value:
                        type: string
                        enum:
                          - flatten_at_root
                          - flatten_all
                        description: "@deprecated This zone setting is deprecated; please use the DNS
                          Settings route instead. More information at
                          https://developers.cloudflare.com/fundamentals/api/re\
                          ference/deprecations/#2025-03-21"
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - development_mode
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                      time_remaining:
                        type: number
                        description: "Value of the zone setting. Notes: The interval (in seconds) from
                          when development mode expires (positive integer) or
                          last expired (negative integer) for the domain. If
                          development mode has never been enabled, this value is
                          false."
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - early_hints
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - edge_cache_ttl
                        description: ID of the zone setting.
                      value:
                        type: number
                        enum:
                          - 30
                          - 60
                          - 300
                          - 1200
                          - 1800
                          - 3600
                          - 7200
                          - 10800
                          - 14400
                          - 18000
                          - 28800
                          - 43200
                          - 57600
                          - 72000
                          - 86400
                          - 172800
                          - 259200
                          - 345600
                          - 432000
                          - 518400
                          - 604800
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - email_obfuscation
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - h2_prioritization
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                          - custom
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - hotlink_protection
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - http2
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - http3
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - image_resizing
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                          - open
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - ip_geolocation
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - ipv6
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - off
                          - on
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - max_upload
                        description: identifier of the zone setting.
                      value:
                        type: number
                        enum:
                          - 100
                          - 125
                          - 150
                          - 175
                          - 200
                          - 225
                          - 250
                          - 275
                          - 300
                          - 325
                          - 350
                          - 375
                          - 400
                          - 425
                          - 450
                          - 475
                          - 500
                          - 1000
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - min_tls_version
                        description: ID of the zone setting.
                      value:
                        type: number
                        enum:
                          - 1
                          - 1.1
                          - 1.2
                          - 1.3
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - mirage
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: "@deprecated Mirage is being deprecated. More information at
                          https://developers.cloudflare.com/speed/optimization/\
                          images/mirage/"
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - nel
                        description: Zone setting identifier.
                      value:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - opportunistic_encryption
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - opportunistic_onion
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - orange_to_orange
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - origin_error_page_pass_thru
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - origin_h2_max_streams
                        description: Value of the zone setting.
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time this setting was modified.
                      value:
                        type: number
                        description: Value of the Origin H2 Max Streams Setting.
                    required:
                      - id
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - origin_max_http_version
                        description: Value of the zone setting.
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time this setting was modified.
                      value:
                        type: number
                        enum:
                          - 2
                          - 1
                        description: Value of the Origin Max HTTP Version Setting.
                    required:
                      - id
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - polish
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - off
                          - lossless
                          - lossy
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - prefetch_preload
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - privacy_pass
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: "@deprecated Privacy Pass v1 was deprecated in 2023. (Announcement
                          - https://blog.cloudflare.com/privacy-pass-standard/)
                          and (API deprecation details -
                          https://developers.cloudflare.com/fundamentals/api/re\
                          ference/deprecations/#2024-03-31)"
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - proxy_read_timeout
                        description: ID of the zone setting.
                      value:
                        type: number
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - pseudo_ipv4
                        description: Value of the Pseudo IPv4 setting.
                      value:
                        type: string
                        enum:
                          - off
                          - add_header
                          - overwrite_header
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - replace_insecure_js
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - response_buffering
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - rocket_loader
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - automatic_platform_optimization
                        description: ID of the zone setting.
                      value:
                        type: object
                        properties:
                          cache_by_device_type:
                            type: boolean
                            description: Indicates whether or not [cache by device
                              type](https://developers.cloudflare.com/automatic-platform-optimization/reference/cache-device-type/)
                              is enabled.
                          cf:
                            type: boolean
                            description: Indicates whether or not Cloudflare proxy is enabled.
                          enabled:
                            type: boolean
                            description: Indicates whether or not Automatic Platform Optimization is
                              enabled.
                          hostnames:
                            type: array
                            items:
                              type: string
                            description: An array of hostnames where Automatic Platform Optimization for
                              WordPress is activated.
                          wordpress:
                            type: boolean
                            description: Indicates whether or not site is powered by WordPress.
                          wp_plugin:
                            type: boolean
                            description: Indicates whether or not [Cloudflare for WordPress
                              plugin](https://wordpress.org/plugins/cloudflare/)
                              is installed.
                        required:
                          - cache_by_device_type
                          - cf
                          - enabled
                          - hostnames
                          - wordpress
                          - wp_plugin
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - security_header
                        description: ID of the zone's security header.
                      value:
                        type: object
                        properties:
                          strict_transport_security:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether or not strict transport security is enabled.
                              include_subdomains:
                                type: boolean
                                description: Include all subdomains for strict transport security.
                              max_age:
                                type: number
                                description: Max age in seconds of the strict transport security.
                              nosniff:
                                type: boolean
                                description: "Whether or not to include 'X-Content-Type-Options: nosniff'
                                  header."
                              preload:
                                type: boolean
                                description: Enable automatic preload of the HSTS configuration.
                            description: Strict Transport Security.
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - security_level
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - off
                          - essentially_off
                          - low
                          - medium
                          - high
                          - under_attack
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - server_side_exclude
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - sha1_support
                        description: Zone setting identifier.
                      value:
                        type: string
                        enum:
                          - off
                          - on
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - sort_query_string_for_cache
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - ssl
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - off
                          - flexible
                          - full
                          - strict
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - ssl_recommender
                        description: Enrollment value for SSL/TLS Recommender.
                      enabled:
                        type: boolean
                        description: ssl-recommender enrollment setting.
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - tls_1_2_only
                        description: Zone setting identifier.
                      value:
                        type: string
                        enum:
                          - off
                          - on
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - tls_1_3
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                          - zrt
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - tls_client_auth
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - transformations
                        description: ID of the zone setting. Shared between Image Transformations and
                          Video Transformations.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                          - open
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - transformations_allowed_origins
                        description: ID of the zone setting. Shared between Image Transformations and
                          Video Transformations.
                      value:
                        type: string
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - true_client_ip_header
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - waf
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - webp
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - off
                          - on
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - websockets
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - off
                          - on
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
      x-distilled-response-path: result
    patch:
      operationId: patchSetting
      description: "Updates a single zone setting by the identifier  @example ```ts
        const response = await client.zones.settings.edit( 'always_online', {
        zone_id: '023e105f4ecef8ad9ca31a8372d0c353' }, ); ```"
      parameters:
        - name: settingId
          in: path
          required: true
          schema:
            type: string
        - name: zone_id
          in: path
          required: true
          description: "Path param: Identifier"
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: "Body param: ssl-recommender enrollment setting."
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - 0rtt
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - advanced_ddos
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - aegis
                        description: ID of the zone setting.
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: Last time this setting was modified.
                      value:
                        type: object
                        properties:
                          enabled:
                            type: boolean
                            description: Whether the feature is enabled or not.
                          pool_id:
                            type: string
                            description: Egress pool id which refers to a grouping of dedicated egress IPs
                              through which Cloudflare will connect to origin.
                        description: Value of the zone setting.
                    required:
                      - id
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - always_online
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - always_use_https
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
                  - type: object
                    properties:
                      id:
                        type: string
                        enum:
                          - automatic_https_rewrites
                        description: ID of the zone setting.
                      value:
                        type: string
                        enum:
                          - on
                          - off
                        description: Current value of the zone setting.
                      editable:
                        type: boolean
                        enum:
                          - true
                          - false
                        description: Whether or not this setting can be modified for this zone (based on
                          your Cloudflare plan level).
                      modified_on:
                        oneOf:
                          - type: string
                        nullable: true
                        description: last time this setting was modified.
                    required:
                      - id
                      - value
[...]
