{
  "smithy": "2.0",
  "metadata": {
    "note": "Hand-authored Smithy model of ACME (RFC 8555). There is no vendor spec for a protocol. Shapes keep the RFC's wire member names; errors are the urn:ietf:params:acme:error:* registry (RFC 8555 \u00a76.7) matched on a problem document's `type`. HTTP traits are placeholders: the protocol (src/protocol.ts) resolves newNonce/newAccount/newOrder/revokeCert from the CA's directory and addresses every other resource by the absolute `url` label the CA returned; the uri only identifies the operation."
  },
  "shapes": {
    "org.ietf.acme#Directory": {
      "type": "structure",
      "members": {
        "newNonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "newAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "newOrder": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "newAuthz": {
          "target": "smithy.api#String"
        },
        "revokeCert": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keyChange": {
          "target": "smithy.api#String"
        },
        "meta": {
          "target": "org.ietf.acme#DirectoryMeta"
        }
      },
      "traits": {
        "smithy.api#documentation": "RFC 8555 \u00a77.1.1"
      }
    },
    "org.ietf.acme#DirectoryMeta": {
      "type": "structure",
      "members": {
        "termsOfService": {
          "target": "smithy.api#String"
        },
        "website": {
          "target": "smithy.api#String"
        },
        "caaIdentities": {
          "target": "org.ietf.acme#DirectoryMetaCaaIdentitiesList"
        },
        "externalAccountRequired": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "org.ietf.acme#DirectoryMetaCaaIdentitiesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.ietf.acme#GetDirectory": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "org.ietf.acme#Directory"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/directory",
          "code": 200
        },
        "smithy.api#documentation": "Fetch the CA's directory of resource URLs"
      }
    },
    "org.ietf.acme#NonceResponse": {
      "type": "structure",
      "members": {
        "replayNonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `Replay-Nonce` header.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.ietf.acme#NewNonce": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "org.ietf.acme#NonceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/newNonce",
          "code": 200
        },
        "smithy.api#documentation": "Get a fresh anti-replay nonce (the `Replay-Nonce` header)"
      }
    },
    "org.ietf.acme#NewAccountRequestContactList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.ietf.acme#ExternalAccountBinding": {
      "type": "structure",
      "members": {
        "protected": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A JWS binding this account to an existing CA account (RFC 8555 \u00a77.3.4). The protocol builds it from the credentials' EAB key when the CA requires one."
      }
    },
    "org.ietf.acme#NewAccountRequest": {
      "type": "structure",
      "members": {
        "contact": {
          "target": "org.ietf.acme#NewAccountRequestContactList"
        },
        "termsOfServiceAgreed": {
          "target": "smithy.api#Boolean"
        },
        "onlyReturnExisting": {
          "target": "smithy.api#Boolean"
        },
        "externalAccountBinding": {
          "target": "org.ietf.acme#ExternalAccountBinding"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#AccountResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "contact": {
          "target": "org.ietf.acme#AccountResponseContactList"
        },
        "termsOfServiceAgreed": {
          "target": "smithy.api#Boolean"
        },
        "orders": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account URL (`Location` header); the `kid` for every later request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RFC 8555 \u00a77.1.2, plus the `Location` header as `location`."
      }
    },
    "org.ietf.acme#AccountResponseContactList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.ietf.acme#NewAccount": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#NewAccountRequest"
      },
      "output": {
        "target": "org.ietf.acme#AccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/newAccount",
          "code": 200
        },
        "smithy.api#documentation": "Create an account, or find the existing account for this key"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeBadPublicKey"
        },
        {
          "target": "org.ietf.acme#AcmeBadSignatureAlgorithm"
        },
        {
          "target": "org.ietf.acme#AcmeExternalAccountRequired"
        },
        {
          "target": "org.ietf.acme#AcmeInvalidContact"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        },
        {
          "target": "org.ietf.acme#AcmeUnsupportedContact"
        },
        {
          "target": "org.ietf.acme#AcmeUserActionRequired"
        }
      ]
    },
    "org.ietf.acme#UpdateAccountRequestContactList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.ietf.acme#UpdateAccountRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute URL of the resource, as returned by the CA."
          }
        },
        "contact": {
          "target": "org.ietf.acme#UpdateAccountRequestContactList"
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`deactivated` to deactivate the account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#UpdateAccount": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#UpdateAccountRequest"
      },
      "output": {
        "target": "org.ietf.acme#AccountResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/account/{url}",
          "code": 200
        },
        "smithy.api#documentation": "Update (or deactivate) the account at `url`"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeInvalidContact"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        },
        {
          "target": "org.ietf.acme#AcmeUnsupportedContact"
        }
      ]
    },
    "org.ietf.acme#Identifier": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`dns` (RFC 8555) or `ip` (RFC 8738).",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "org.ietf.acme#NewOrderRequestIdentifiersList": {
      "type": "list",
      "member": {
        "target": "org.ietf.acme#Identifier"
      },
      "traits": {}
    },
    "org.ietf.acme#NewOrderRequest": {
      "type": "structure",
      "members": {
        "identifiers": {
          "target": "org.ietf.acme#NewOrderRequestIdentifiersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notBefore": {
          "target": "smithy.api#String"
        },
        "notAfter": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#OrderResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "pending | ready | processing | valid | invalid",
            "smithy.api#required": {}
          }
        },
        "expires": {
          "target": "smithy.api#String"
        },
        "identifiers": {
          "target": "org.ietf.acme#OrderResponseIdentifiersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "notBefore": {
          "target": "smithy.api#String"
        },
        "notAfter": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "org.ietf.acme#Problem"
        },
        "authorizations": {
          "target": "org.ietf.acme#OrderResponseAuthorizationsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "finalize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "certificate": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The order URL (`Location` header)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "RFC 8555 \u00a77.1.3, plus the `Location` header as `location`."
      }
    },
    "org.ietf.acme#OrderResponseIdentifiersList": {
      "type": "list",
      "member": {
        "target": "org.ietf.acme#Identifier"
      },
      "traits": {}
    },
    "org.ietf.acme#Problem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#Integer"
        },
        "instance": {
          "target": "smithy.api#String"
        },
        "identifier": {
          "target": "org.ietf.acme#Identifier"
        },
        "subproblems": {
          "target": "org.ietf.acme#ProblemSubproblemsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "RFC 7807 problem document (RFC 8555 \u00a76.7)."
      }
    },
    "org.ietf.acme#Subproblem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        },
        "identifier": {
          "target": "org.ietf.acme#Identifier"
        }
      },
      "traits": {}
    },
    "org.ietf.acme#ProblemSubproblemsList": {
      "type": "list",
      "member": {
        "target": "org.ietf.acme#Subproblem"
      },
      "traits": {}
    },
    "org.ietf.acme#OrderResponseAuthorizationsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "org.ietf.acme#NewOrder": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#NewOrderRequest"
      },
      "output": {
        "target": "org.ietf.acme#OrderResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/newOrder",
          "code": 200
        },
        "smithy.api#documentation": "Create an order for a set of identifiers"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeRejectedIdentifier"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        },
        {
          "target": "org.ietf.acme#AcmeUnsupportedIdentifier"
        },
        {
          "target": "org.ietf.acme#AcmeUserActionRequired"
        }
      ]
    },
    "org.ietf.acme#GetOrderRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute URL of the resource, as returned by the CA."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#GetOrder": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#GetOrderRequest"
      },
      "output": {
        "target": "org.ietf.acme#OrderResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/order/{url}",
          "code": 200
        },
        "smithy.api#documentation": "Fetch the order at `url` (POST-as-GET)"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        }
      ]
    },
    "org.ietf.acme#FinalizeOrderRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute URL of the resource, as returned by the CA."
          }
        },
        "csr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "base64url DER PKCS#10 CSR.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#FinalizeOrder": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#FinalizeOrderRequest"
      },
      "output": {
        "target": "org.ietf.acme#OrderResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/finalize/{url}",
          "code": 200
        },
        "smithy.api#documentation": "Submit the CSR to the order's finalize URL"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeBadCsr"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeOrderNotReady"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        }
      ]
    },
    "org.ietf.acme#GetAuthorizationRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute URL of the resource, as returned by the CA."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#Authorization": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "org.ietf.acme#Identifier",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "pending | valid | invalid | deactivated | expired | revoked",
            "smithy.api#required": {}
          }
        },
        "expires": {
          "target": "smithy.api#String"
        },
        "challenges": {
          "target": "org.ietf.acme#AuthorizationChallengesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "wildcard": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#documentation": "RFC 8555 \u00a77.1.4"
      }
    },
    "org.ietf.acme#Challenge": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "dns-01 | http-01 | tls-alpn-01",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "pending | processing | valid | invalid",
            "smithy.api#required": {}
          }
        },
        "validated": {
          "target": "smithy.api#String"
        },
        "token": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "org.ietf.acme#Problem"
        }
      },
      "traits": {
        "smithy.api#documentation": "RFC 8555 \u00a78"
      }
    },
    "org.ietf.acme#AuthorizationChallengesList": {
      "type": "list",
      "member": {
        "target": "org.ietf.acme#Challenge"
      },
      "traits": {}
    },
    "org.ietf.acme#GetAuthorization": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#GetAuthorizationRequest"
      },
      "output": {
        "target": "org.ietf.acme#Authorization"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/authz/{url}",
          "code": 200
        },
        "smithy.api#documentation": "Fetch the authorization at `url` (POST-as-GET)"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        }
      ]
    },
    "org.ietf.acme#DeactivateAuthorizationRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute URL of the resource, as returned by the CA."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Always `deactivated`.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#DeactivateAuthorization": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#DeactivateAuthorizationRequest"
      },
      "output": {
        "target": "org.ietf.acme#Authorization"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/authz/{url}/deactivate",
          "code": 200
        },
        "smithy.api#documentation": "Deactivate the authorization at `url`"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        }
      ]
    },
    "org.ietf.acme#RespondChallengeRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute URL of the resource, as returned by the CA."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#RespondChallenge": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#RespondChallengeRequest"
      },
      "output": {
        "target": "org.ietf.acme#Challenge"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/challenge/{url}",
          "code": 200
        },
        "smithy.api#documentation": "Tell the CA the challenge at `url` is ready to be validated"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeCaa"
        },
        {
          "target": "org.ietf.acme#AcmeConnection"
        },
        {
          "target": "org.ietf.acme#AcmeDns"
        },
        {
          "target": "org.ietf.acme#AcmeIncorrectResponse"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeTls"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        }
      ]
    },
    "org.ietf.acme#DownloadCertificateRequest": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Absolute URL of the resource, as returned by the CA."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#CertificateChain": {
      "type": "structure",
      "members": {
        "chain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "PEM certificate chain (`application/pem-certificate-chain`), leaf first.",
            "smithy.api#required": {}
          }
        },
        "alternates": {
          "target": "org.ietf.acme#CertificateChainAlternatesList",
          "traits": {
            "smithy.api#documentation": "Alternate chain URLs from `Link: <url>;rel=\"alternate\"` headers."
          }
        }
      },
      "traits": {}
    },
    "org.ietf.acme#CertificateChainAlternatesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Alternate chain URLs from `Link: <url>;rel=\"alternate\"` headers."
      }
    },
    "org.ietf.acme#DownloadCertificate": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#DownloadCertificateRequest"
      },
      "output": {
        "target": "org.ietf.acme#CertificateChain"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cert/{url}",
          "code": 200
        },
        "smithy.api#documentation": "Download the PEM certificate chain at `url` (POST-as-GET)"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        }
      ]
    },
    "org.ietf.acme#RevokeCertificateRequest": {
      "type": "structure",
      "members": {
        "certificate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "base64url DER of the certificate to revoke.",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "RFC 5280 CRLReason code."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "org.ietf.acme#RevokeCertificate": {
      "type": "operation",
      "input": {
        "target": "org.ietf.acme#RevokeCertificateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/revokeCert",
          "code": 200
        },
        "smithy.api#documentation": "Revoke a certificate"
      },
      "errors": [
        {
          "target": "org.ietf.acme#AcmeAccountDoesNotExist"
        },
        {
          "target": "org.ietf.acme#AcmeAlreadyRevoked"
        },
        {
          "target": "org.ietf.acme#AcmeBadNonce"
        },
        {
          "target": "org.ietf.acme#AcmeBadRevocationReason"
        },
        {
          "target": "org.ietf.acme#AcmeMalformed"
        },
        {
          "target": "org.ietf.acme#AcmeRateLimited"
        },
        {
          "target": "org.ietf.acme#AcmeServerInternal"
        },
        {
          "target": "org.ietf.acme#AcmeUnauthorized"
        }
      ]
    },
    "org.ietf.acme#Acme": {
      "type": "service",
      "version": "v2",
      "operations": [
        {
          "target": "org.ietf.acme#GetDirectory"
        },
        {
          "target": "org.ietf.acme#NewNonce"
        },
        {
          "target": "org.ietf.acme#NewAccount"
        },
        {
          "target": "org.ietf.acme#UpdateAccount"
        },
        {
          "target": "org.ietf.acme#NewOrder"
        },
        {
          "target": "org.ietf.acme#GetOrder"
        },
        {
          "target": "org.ietf.acme#FinalizeOrder"
        },
        {
          "target": "org.ietf.acme#GetAuthorization"
        },
        {
          "target": "org.ietf.acme#DeactivateAuthorization"
        },
        {
          "target": "org.ietf.acme#RespondChallenge"
        },
        {
          "target": "org.ietf.acme#DownloadCertificate"
        },
        {
          "target": "org.ietf.acme#RevokeCertificate"
        }
      ],
      "traits": {
        "smithy.api#title": "ACME (RFC 8555)",
        "smithy.api#documentation": "Automatic Certificate Management Environment (RFC 8555): directory, nonces, accounts, orders, authorizations, challenges, certificate download and revocation. Requests are JWS-signed by the account key from `Credentials`; see the package README and `src/protocol.ts`."
      }
    },
    "org.ietf.acme#AcmeAccountDoesNotExist": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#documentation": "onlyReturnExisting was set and no account matches this key.",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:accountDoesNotExist$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeAlreadyRevoked": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:alreadyRevoked$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeBadCsr": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:badCSR$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeBadNonce": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#retryable": {},
        "smithy.api#documentation": "The anti-replay nonce was stale. The response carries a fresh one and the default retry policy re-signs and resends.",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:badNonce$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeBadPublicKey": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:badPublicKey$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeBadRevocationReason": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:badRevocationReason$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeBadSignatureAlgorithm": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:badSignatureAlgorithm$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeCaa": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#documentation": "A CAA record forbids this CA from issuing for the identifier.",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:caa$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeCompound": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#documentation": "Several errors; see `subproblems` on the raw document.",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:compound$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeConnection": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:connection$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeDns": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#documentation": "The CA could not resolve the identifier (DNS-01 record missing or not propagated).",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:dns$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeExternalAccountRequired": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#documentation": "This CA needs an External Account Binding on newAccount (ZeroSSL, Google Trust Services).",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:externalAccountRequired$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeIncorrectResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:incorrectResponse$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeInvalidContact": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:invalidContact$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeMalformed": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:malformed$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeOrderNotReady": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#documentation": "finalize was called before every authorization was valid.",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:orderNotReady$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeRateLimited": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 429,
        "smithy.api#retryable": {
          "throttling": true
        },
        "smithy.api#documentation": "The CA's rate limit was hit; `retryAfter` carries its hint when the CA sends one.",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:rateLimited$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeRejectedIdentifier": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#documentation": "The CA will not issue for this identifier (policy, blocklist).",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:rejectedIdentifier$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeServerInternal": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#retryable": {},
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:serverInternal$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeTls": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:tls$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeUnauthorized": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:unauthorized$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeUnsupportedContact": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:unsupportedContact$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeUnsupportedIdentifier": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:unsupportedIdentifier$"
            }
          }
        ]
      }
    },
    "org.ietf.acme#AcmeUserActionRequired": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer"
        },
        "message": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        },
        "detail": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#documentation": "The CA needs a human step (new terms of service, a subscriber agreement); `detail` says what.",
        "com.distilled.openapi#errorMatchers": [
          {
            "message": {
              "matches": "^urn:ietf:params:acme:error:userActionRequired$"
            }
          }
        ]
      }
    }
  }
}
