{
  "smithy": "2.0",
  "metadata": {
    "service": "agentidentity",
    "version": "v1beta",
    "title": "Agent Identity API",
    "baseUrl": "https://agentidentity.googleapis.com/"
  },
  "shapes": {
    "com.gcp.agentidentity_v1beta#AuthProvider": {
      "type": "structure",
      "members": {
        "workloadIds": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Represents the workload identity in IAM `principal://` format of the agent(s) that will use this AuthProvider. Example: `principal://agents.global.org-${ORG_ID}.system.id.goog/resources/aiplatform/projects/{PROJECT_ID}/locations/{LOCATIONS}/reasoningEngines/{ID}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update time stamp"
          }
        },
        "allowedScopes": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of scopes that are allowed to be requested for this auth_provider. If this list is non-empty, only scopes within this list may be requested. If this list is empty, all scopes may be requested. Scopes appearing in `blocked_scopes` are disallowed even if they appear in `allowed_scopes`. The number of allowed scopes is limited to 200."
          }
        },
        "authProviderTypeParams": {
          "target": "com.gcp.agentidentity_v1beta#AuthProviderTypeParams",
          "traits": {
            "smithy.api#documentation": "Required. AuthProvider type specific parameters."
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. This is set to true if the auth_provider is deleted."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the resource. Must be less than 256 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The full resource name of the auth_provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}"
          }
        },
        "labels": {
          "target": "com.gcp.agentidentity_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs"
          }
        },
        "state": {
          "target": "com.gcp.agentidentity_v1beta#AuthProviderStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the auth_provider."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create time stamp"
          }
        },
        "blockedScopes": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of scopes that are blocked from being requested for this auth_provider. If a scope appears in this list, it will not be requested, even if it also appears in `allowed_scopes`. `blocked_scopes` takes precedence over `allowed_scopes`. The number of blocked scopes is limited to 200."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when the auth_provider will expire."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing AuthProvider object"
      }
    },
    "com.gcp.agentidentity_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentidentity_v1beta#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentidentity_v1beta#AuthProviderStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#ThreeLeggedOAuth": {
      "type": "structure",
      "members": {
        "redirectUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The redirect URL this auth_provider uses for the OAuth exchange. This is deterministic based on the name of the auth_provider."
          }
        },
        "tokenUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The token endpoint for requesting tokens on behalf of an end user. eg. \"https://auth.atlassian.com/oauth/token\""
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The client ID of the OAuth client."
          }
        },
        "enablePkce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enables Proof Key for Code Exchange (PKCE) for the OAuth flow to prevent authorization code interception attacks."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The client secret of the OAuth client."
          }
        },
        "defaultContinueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The default continue URI for 3LO flow and it will be used when no continue URI is provided in the RetrieveCredentials request."
          }
        },
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The authorization endpoint to send users to for consenting to delegate to the agent. eg. \"https://auth.atlassian.com/authorize\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing ThreeLeggedOAuth object."
      }
    },
    "com.gcp.agentidentity_v1beta#ListAuthorizationsResponse": {
      "type": "structure",
      "members": {
        "authorizations": {
          "target": "com.gcp.agentidentity_v1beta#AuthorizationList",
          "traits": {
            "smithy.api#documentation": "The list of Authorization"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Authorizations"
      }
    },
    "com.gcp.agentidentity_v1beta#AuthorizationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentidentity_v1beta#Authorization"
      }
    },
    "com.gcp.agentidentity_v1beta#SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.agentidentity_v1beta#Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.agentidentity_v1beta#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.agentidentity_v1beta#EnableAuthProviderRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for enabling an AuthProvider"
      }
    },
    "com.gcp.agentidentity_v1beta#DisableAuthProviderRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for disabling an AuthProvider"
      }
    },
    "com.gcp.agentidentity_v1beta#TestIamPermissionsRequest": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `TestIamPermissions` method."
      }
    },
    "com.gcp.agentidentity_v1beta#AccessSummary": {
      "type": "structure",
      "members": {
        "lastAccessTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time this user has interacted with this workload. Rounded to the previous hour."
          }
        },
        "authProviderType": {
          "target": "com.gcp.agentidentity_v1beta#AccessSummaryAuthProviderTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the connector that was used to create this access summary."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The user_id provided by the workload application for this user. Not verified by Google."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Name of the AccessSummary"
          }
        },
        "labels": {
          "target": "com.gcp.agentidentity_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs"
          }
        },
        "workloadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identity bound to the workload that this user interacted with to produce this AccessSummary. Will typically be an agentic spiffe id"
          }
        },
        "scopes": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. All scopes that have been used by this user with this workload. The number of scopes is limited to 200."
          }
        },
        "tokenUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The url of the authentication server that was accessed."
          }
        },
        "firstAccessTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The first time this user has interacted with this workload. Rounded to the previous hour."
          }
        },
        "authProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The auth_provider that this access summary is associated with."
          }
        },
        "purgeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time when this access summary is permanently deleted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing AccessSummary object"
      }
    },
    "com.gcp.agentidentity_v1beta#AccessSummaryAuthProviderTypeEnum": {
      "type": "enum",
      "members": {
        "AUTH_PROVIDER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_PROVIDER_TYPE_UNSPECIFIED"
          }
        },
        "AUTH_PROVIDER_TYPE_THREE_LEGGED_OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_PROVIDER_TYPE_THREE_LEGGED_OAUTH"
          }
        },
        "AUTH_PROVIDER_TYPE_TWO_LEGGED_OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_PROVIDER_TYPE_TWO_LEGGED_OAUTH"
          }
        },
        "AUTH_PROVIDER_TYPE_API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_PROVIDER_TYPE_API_KEY"
          }
        },
        "AUTH_PROVIDER_TYPE_GEMINI_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_PROVIDER_TYPE_GEMINI_ENTERPRISE"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.agentidentity_v1beta#AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.agentidentity_v1beta#AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#AuditConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
          }
        },
        "auditLogConfigs": {
          "target": "com.gcp.agentidentity_v1beta#AuditLogConfigList",
          "traits": {
            "smithy.api#documentation": "The configuration for logging of each type of permission."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
      }
    },
    "com.gcp.agentidentity_v1beta#AuditLogConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentidentity_v1beta#AuditLogConfig"
      }
    },
    "com.gcp.agentidentity_v1beta#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.agentidentity_v1beta#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        },
        "labels": {
          "target": "com.gcp.agentidentity_v1beta#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.agentidentity_v1beta#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.agentidentity_v1beta#ApiKeyParams": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The API key for this auth_provider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing ApiKeyParams object."
      }
    },
    "com.gcp.agentidentity_v1beta#GeminiEnterpriseAuthProviderParams": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Message describing GeminiEnterpriseAuthProviderParams object."
      }
    },
    "com.gcp.agentidentity_v1beta#UndeleteAuthProviderRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for undeleting a AuthProvider"
      }
    },
    "com.gcp.agentidentity_v1beta#RevokeAuthorizationRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identity of the user to revoke authorization for."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RevokeAuthorization."
      }
    },
    "com.gcp.agentidentity_v1beta#TwoLeggedOAuth": {
      "type": "structure",
      "members": {
        "tokenUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The token endpoint of the OAuth client."
          }
        },
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. The client secret of the OAuth client."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The client ID of the OAuth client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing TwoLeggedOAuth object."
      }
    },
    "com.gcp.agentidentity_v1beta#QueryAuthProvidersResponse": {
      "type": "structure",
      "members": {
        "authProviderNames": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The unique list of auth_provider resource names used by the workload."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for QueryAuthProviders."
      }
    },
    "com.gcp.agentidentity_v1beta#ListAuthProvidersResponse": {
      "type": "structure",
      "members": {
        "authProviders": {
          "target": "com.gcp.agentidentity_v1beta#AuthProviderList",
          "traits": {
            "smithy.api#documentation": "The list of AuthProvider"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing AuthProviders"
      }
    },
    "com.gcp.agentidentity_v1beta#AuthProviderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentidentity_v1beta#AuthProvider"
      }
    },
    "com.gcp.agentidentity_v1beta#QueryWorkloadsResponse": {
      "type": "structure",
      "members": {
        "workloadIds": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The unique list of workload identifiers (agents) that used the auth_provider."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for QueryWorkloads."
      }
    },
    "com.gcp.agentidentity_v1beta#RevokeAuthorizationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for RevokeAuthorization."
      }
    },
    "com.gcp.agentidentity_v1beta#Binding": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`."
          }
        },
        "condition": {
          "target": "com.gcp.agentidentity_v1beta#Expr",
          "traits": {
            "smithy.api#documentation": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "role": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associates `members`, or principals, with a `role`."
      }
    },
    "com.gcp.agentidentity_v1beta#Expr": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Textual representation of an expression in Common Expression Language syntax."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      }
    },
    "com.gcp.agentidentity_v1beta#TestIamPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `TestIamPermissions` method."
      }
    },
    "com.gcp.agentidentity_v1beta#Authorization": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. name of resource"
          }
        },
        "clientUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The client_user_id provided by the client application for their end user. Not verified by Google."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Update time stamp"
          }
        },
        "state": {
          "target": "com.gcp.agentidentity_v1beta#AuthorizationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the authorization."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. [Output only] Create time stamp"
          }
        },
        "scopes": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The scopes actually granted by the end user during the consent flow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing Authorization object"
      }
    },
    "com.gcp.agentidentity_v1beta#AuthorizationStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.agentidentity_v1beta#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.agentidentity_v1beta#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentidentity_v1beta#Location"
      }
    },
    "com.gcp.agentidentity_v1beta#ListAccessSummariesResponse": {
      "type": "structure",
      "members": {
        "accessSummaries": {
          "target": "com.gcp.agentidentity_v1beta#AccessSummaryList",
          "traits": {
            "smithy.api#documentation": "The list of AccessSummary"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing AccessSummaries"
      }
    },
    "com.gcp.agentidentity_v1beta#AccessSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentidentity_v1beta#AccessSummary"
      }
    },
    "com.gcp.agentidentity_v1beta#AuthProviderTypeParams": {
      "type": "structure",
      "members": {
        "threeLeggedOauth": {
          "target": "com.gcp.agentidentity_v1beta#ThreeLeggedOAuth",
          "traits": {
            "smithy.api#documentation": "ThreeLeggedOAuth AuthProvider type parameters."
          }
        },
        "twoLeggedOauth": {
          "target": "com.gcp.agentidentity_v1beta#TwoLeggedOAuth",
          "traits": {
            "smithy.api#documentation": "TwoLeggedOAuth AuthProvider type parameters."
          }
        },
        "apiKey": {
          "target": "com.gcp.agentidentity_v1beta#ApiKeyParams",
          "traits": {
            "smithy.api#documentation": "ApiKey AuthProvider type parameters."
          }
        },
        "geAuthProvider": {
          "target": "com.gcp.agentidentity_v1beta#GeminiEnterpriseAuthProviderParams",
          "traits": {
            "smithy.api#documentation": "GeminiEnterprise auth_provider type parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AuthProvider type specific parameters. Required when creating an auth_provider."
      }
    },
    "com.gcp.agentidentity_v1beta#Policy": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
          }
        },
        "bindings": {
          "target": "com.gcp.agentidentity_v1beta#BindingList",
          "traits": {
            "smithy.api#documentation": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
          }
        },
        "auditConfigs": {
          "target": "com.gcp.agentidentity_v1beta#AuditConfigList",
          "traits": {
            "smithy.api#documentation": "Specifies cloud audit logging configuration for this policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
      }
    },
    "com.gcp.agentidentity_v1beta#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentidentity_v1beta#Binding"
      }
    },
    "com.gcp.agentidentity_v1beta#AuditConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentidentity_v1beta#AuditConfig"
      }
    },
    "com.gcp.agentidentity_v1beta#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.agentidentity_v1beta#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.agentidentity_v1beta#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#Location"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.agentidentity_v1beta#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "extraLocationTypes": {
          "target": "com.gcp.agentidentity_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentidentity_v1beta#SetIamPolicyProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentity_v1beta#SetIamPolicyRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.agentidentity_v1beta#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.agentidentity_v1beta#SetIamPolicyProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#SetIamPolicyProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+resource}:setIamPolicy"
        },
        "smithy.api#documentation": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors."
      }
    },
    "com.gcp.agentidentity_v1beta#GetIamPolicyProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "options.requestedPolicyVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
            "smithy.api#httpQuery": "options.requestedPolicyVersion"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#GetIamPolicyProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#GetIamPolicyProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#Policy"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+resource}:getIamPolicy"
        },
        "smithy.api#documentation": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set."
      }
    },
    "com.gcp.agentidentity_v1beta#CreateProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource where the AuthProvider is created. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "authProviderId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the AuthProvider, which will become the final segment of the AuthProvider's resource name. This value should be 1-63 characters, and valid characters are /a-z-/. The first character must be a lowercase letter, and the last character must be a lowercase letter or a number.",
            "smithy.api#httpQuery": "authProviderId"
          }
        },
        "body": {
          "target": "com.gcp.agentidentity_v1beta#AuthProvider",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#CreateProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#CreateProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#AuthProvider"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+parent}/authProviders"
        },
        "smithy.api#documentation": "Creates a new AuthProvider in a given project and location."
      }
    },
    "com.gcp.agentidentity_v1beta#EnableProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentity_v1beta#EnableAuthProviderRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#EnableProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#EnableProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#AuthProvider"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:enable"
        },
        "smithy.api#documentation": "Enables a single AuthProvider."
      }
    },
    "com.gcp.agentidentity_v1beta#DisableProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentity_v1beta#DisableAuthProviderRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#DisableProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#DisableProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#AuthProvider"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:disable"
        },
        "smithy.api#documentation": "Disables a single AuthProvider."
      }
    },
    "com.gcp.agentidentity_v1beta#DeleteProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#DeleteProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#DeleteProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Deletes a single AuthProvider."
      }
    },
    "com.gcp.agentidentity_v1beta#RevokeAuthorizationProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the AuthProvider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentity_v1beta#RevokeAuthorizationRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#RevokeAuthorizationProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#RevokeAuthorizationProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#RevokeAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:revokeAuthorization"
        },
        "smithy.api#documentation": "Revokes all authorizations for a specific user on an AuthProvider. This deletes all authorization records associated with the user and AuthProvider, effectively revoking access across all agents."
      }
    },
    "com.gcp.agentidentity_v1beta#ListProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, the first page is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Currently ignored. Defaults to ordering by auth_provider_id in ascending order.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "showDeleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Deleted auth_providers will be kept with a soft-delete for 30 days before being purged. If this field is set to true, deleted auth_providers will also be returned.",
            "smithy.api#httpQuery": "showDeleted"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter results. This field is currently ignored.",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#ListProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#ListProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#ListAuthProvidersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+parent}/authProviders"
        },
        "smithy.api#documentation": "Lists AuthProviders in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentidentity_v1beta#QueryWorkloadsProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the auth_provider to query. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token, which can be sent as `page_token` to retrieve the next page. When paginating, all other parameters provided to QueryWorkloads must match the call that provided the page token. If this field is omitted, the first page is returned.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#QueryWorkloadsProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#QueryWorkloadsProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#QueryWorkloadsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}:queryWorkloads"
        },
        "smithy.api#documentation": "Queries what all workloads are using a given auth_provider.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentidentity_v1beta#UndeleteProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentity_v1beta#UndeleteAuthProviderRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#UndeleteProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#UndeleteProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#AuthProvider"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+name}:undelete"
        },
        "smithy.api#documentation": "Undeletes a single AuthProvider."
      }
    },
    "com.gcp.agentidentity_v1beta#GetProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#GetProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#GetProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#AuthProvider"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single AuthProvider."
      }
    },
    "com.gcp.agentidentity_v1beta#QueryProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "workloadId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The workload identifier to filter by.",
            "smithy.api#httpQuery": "workloadId"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum page size is 1000.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, the first page is returned. A page token, received from a previous QueryAuthProviders call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to QueryAuthProviders must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#QueryProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#QueryProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#QueryAuthProvidersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+parent}/authProviders:query"
        },
        "smithy.api#documentation": "Queries what all auth_providers are used by a given workload_id.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentidentity_v1beta#TestIamPermissionsProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentity_v1beta#TestIamPermissionsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#TestIamPermissionsProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#TestIamPermissionsProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#TestIamPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+resource}:testIamPermissions"
        },
        "smithy.api#documentation": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning."
      }
    },
    "com.gcp.agentidentity_v1beta#PatchProjectsLocationsAuthProvidersRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The full resource name of the auth_provider. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the fields to be overwritten in the AuthProvider resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "body": {
          "target": "com.gcp.agentidentity_v1beta#AuthProvider",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#PatchProjectsLocationsAuthProviders": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#PatchProjectsLocationsAuthProvidersRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#AuthProvider"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Updates the parameters of a single AuthProvider."
      }
    },
    "com.gcp.agentidentity_v1beta#ListProjectsLocationsAuthProvidersAuthorizationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter string to restrict the results. Currently supports filtering by `client_user_id` only. Format: `client_user_id=\"\"`",
            "smithy.api#httpQuery": "filter"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A page token, received from a previous `ListAuthorizations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAuthorizations` must match the call that provided the page token.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This field is currently ignored. Defaults to ordering by authorization_id in ascending order.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#ListProjectsLocationsAuthProvidersAuthorizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#ListProjectsLocationsAuthProvidersAuthorizationsRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#ListAuthorizationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+parent}/authorizations"
        },
        "smithy.api#documentation": "Lists Authorizations in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentidentity_v1beta#DeleteProjectsLocationsAuthProvidersAuthorizationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the Authorization to delete. Format: projects/{project}/locations/{location}/authProviders/{auth_provider}/authorizations/{authorization}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#DeleteProjectsLocationsAuthProvidersAuthorizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#DeleteProjectsLocationsAuthProvidersAuthorizationsRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#Empty"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Deletes a single Authorization."
      }
    },
    "com.gcp.agentidentity_v1beta#GetProjectsLocationsAuthProvidersAuthorizationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#GetProjectsLocationsAuthProvidersAuthorizations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#GetProjectsLocationsAuthProvidersAuthorizationsRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#Authorization"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Authorization."
      }
    },
    "com.gcp.agentidentity_v1beta#GetProjectsLocationsAccessSummariesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#GetProjectsLocationsAccessSummaries": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#GetProjectsLocationsAccessSummariesRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#AccessSummary"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single AccessSummary."
      }
    },
    "com.gcp.agentidentity_v1beta#ListProjectsLocationsAccessSummariesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource where the search is performed. Format: projects/{project}/locations/{location}",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This field is currently ignored. Defaults to ordering by (auth_provider_id, user_id) in ascending order.",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter string to restrict the results. Currently supports filtering by `workload_id` or `auth_provider_name`. If no filter is provided, returns all access summaries for the requested project and location. Format: `workload_id=\"\"` or `auth_provider_name=\"\"`",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.agentidentity_v1beta#ListProjectsLocationsAccessSummaries": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentity_v1beta#ListProjectsLocationsAccessSummariesRequest"
      },
      "output": {
        "target": "com.gcp.agentidentity_v1beta#ListAccessSummariesResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentity_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentity_v1beta#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1beta/{+parent}/accessSummaries"
        },
        "smithy.api#documentation": "Lists AccessSummaries in a given project and location. Supported Filters: - `workload_id`: Filter by the SPIFFE ID of the agent. Example: `workload_id=\"spiffe://example.com/ns/default/sa/my-agent\"`",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    }
  }
}
