{
  "smithy": "2.0",
  "metadata": {
    "service": "agentregistry",
    "version": "v1alpha",
    "title": "Agent Registry API",
    "baseUrl": "https://agentregistry.googleapis.com/"
  },
  "shapes": {
    "com.gcp.agentregistry_v1alpha#A2ASkill": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Keywords describing the skill."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable name for the agent's skill."
          }
        },
        "examples": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Example prompts or scenarios this skill can handle."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A more detailed description of the skill."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A unique identifier for the agent's skill."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the skills of an Agent."
      }
    },
    "com.gcp.agentregistry_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentregistry_v1alpha#GcsSource": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Cloud Storage object URI. Format: `gs://{bucket_name}/{object_name}`"
          }
        },
        "generation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Cloud Storage object generation ID. If not specified, the latest generation is used."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifications for Cloud Storage objects."
      }
    },
    "com.gcp.agentregistry_v1alpha#Service": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "endpointSpec": {
          "target": "com.gcp.agentregistry_v1alpha#EndpointSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The spec of the Endpoint. When `endpoint_spec` is set, the type of the service is Endpoint."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`."
          }
        },
        "mcpServerSpec": {
          "target": "com.gcp.agentregistry_v1alpha#McpServerSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The spec of the MCP Server. When `mcp_server_spec` is set, the type of the service is MCP Server."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Optional. The connection details for the Service."
          }
        },
        "agentSpec": {
          "target": "com.gcp.agentregistry_v1alpha#AgentSpec",
          "traits": {
            "smithy.api#documentation": "Optional. The spec of the Agent. When `agent_spec` is set, the type of the service is Agent."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of an Service. Can have a maximum length of `2048` characters."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined display name for the Service. Can have a maximum length of `63` characters."
          }
        },
        "registryResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource name of the resulting Agent, MCP Server, or Endpoint. Format: * `projects/{project}/locations/{location}/mcpServers/{mcp_server}` * `projects/{project}/locations/{location}/agents/{agent}` * `projects/{project}/locations/{location}/endpoints/{endpoint}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user-defined Service."
      }
    },
    "com.gcp.agentregistry_v1alpha#InterfaceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Interface"
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchSkillsResponse": {
      "type": "structure",
      "members": {
        "skills": {
          "target": "com.gcp.agentregistry_v1alpha#SkillList",
          "traits": {
            "smithy.api#documentation": "Matched Skills list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Query page offset continuation token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response listing searched Skills."
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Skill"
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillRevision": {
      "type": "structure",
      "members": {
        "archiveUploadSource": {
          "target": "com.gcp.agentregistry_v1alpha#ArchiveUploadSource",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Direct write-only raw archive upload source."
          }
        },
        "gcsSource": {
          "target": "com.gcp.agentregistry_v1alpha#GcsSource",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. Cloud Storage object generation URI."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Universally unique identifier (UUID4) for the skill revision."
          }
        },
        "frontmatter": {
          "target": "com.gcp.agentregistry_v1alpha#Frontmatter",
          "traits": {
            "smithy.api#documentation": "Output only. Extracted YAML frontmatter configuration snapshot."
          }
        },
        "sizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Size of the compiled zip payload in bytes (assists client download progress)."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Revision creation timestamp."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the SkillRevision. Format: `projects/{project}/locations/{location}/skills/{skill}/revisions/{revision}`"
          }
        },
        "sha256Hash": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Cryptographic SHA-256 integrity and deduplication digest of the payload zip."
          }
        },
        "state": {
          "target": "com.gcp.agentregistry_v1alpha#SkillRevisionStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The system-managed lifecycle state of this revision."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an immutable, versioned snapshot of a Skill package."
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillRevisionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchAgentsRequest": {
      "type": "structure",
      "members": {
        "searchString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Search criteria used to select the Agents to return. If no search criteria is specified then all accessible Agents will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | agentId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | | description | No | Yes | No | Included | | skills | No | Yes | No | Included | | skills.id | No | Yes | No | Included | | skills.name | No | Yes | No | Included | | skills.description | No | Yes | No | Included | | skills.tags | No | Yes | No | Included | | skills.examples | No | Yes | No | Included | Examples: * `agentId=\"urn:agent:projects-123:projects:123:locations:us-central1:reasoningEngines:1234\"` to find the agent with the specified agent ID. * `name:important` to find agents whose name contains `important` as a word. * `displayName:works*` to find agents whose display name contains words that start with `works`. * `skills.tags:test` to find agents whose skills tags contain `test`. * `planner OR booking` to find agents whose metadata contains the words `planner` or `booking`."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for searching Agents"
      }
    },
    "com.gcp.agentregistry_v1alpha#Location": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "labels": {
          "target": "com.gcp.agentregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "metadata": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.agentregistry_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentregistry_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.agentregistry_v1alpha#ListAgentsResponse": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.gcp.agentregistry_v1alpha#AgentList",
          "traits": {
            "smithy.api#documentation": "The list of Agents."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Agents"
      }
    },
    "com.gcp.agentregistry_v1alpha#AgentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Agent"
      }
    },
    "com.gcp.agentregistry_v1alpha#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.agentregistry_v1alpha#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "response": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.agentregistry_v1alpha#Interface": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The destination URL."
          }
        },
        "protocolBinding": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceProtocolBindingEnum",
          "traits": {
            "smithy.api#documentation": "Required. The protocol binding of the interface."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the connection details for an Agent or MCP Server."
      }
    },
    "com.gcp.agentregistry_v1alpha#InterfaceProtocolBindingEnum": {
      "type": "enum",
      "members": {
        "PROTOCOL_BINDING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTOCOL_BINDING_UNSPECIFIED"
          }
        },
        "JSONRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSONRPC"
          }
        },
        "GRPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRPC"
          }
        },
        "HTTP_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_JSON"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#Target": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the target Agent, MCP Server, or Endpoint. Format: * `urn:agent:{publisher}:{namespace}:{name}` * `urn:mcp:{publisher}:{namespace}:{name}` * `urn:endpoint:{publisher}:{namespace}:{name}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The target of the Binding."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListBindingsResponse": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.agentregistry_v1alpha#BindingList",
          "traits": {
            "smithy.api#documentation": "The list of Binding resources matching the parent and filter criteria in the request. Each Binding resource follows the format: `projects/{project}/locations/{location}/bindings/{binding}`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. Used in page_token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Bindings"
      }
    },
    "com.gcp.agentregistry_v1alpha#BindingList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Binding"
      }
    },
    "com.gcp.agentregistry_v1alpha#ArchiveUploadSource": {
      "type": "structure",
      "members": {
        "archiveContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Input only. Write-only raw ZIP/TAR archive payload bytes containing the skill package."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Direct write-only raw archive payload upload."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListSkillsResponse": {
      "type": "structure",
      "members": {
        "skills": {
          "target": "com.gcp.agentregistry_v1alpha#SkillList",
          "traits": {
            "smithy.api#documentation": "Returned container list."
          }
        },
        "unreachable": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Unreachable locations or failures."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page continuation continuation token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response structure listing logical Skills."
      }
    },
    "com.gcp.agentregistry_v1alpha#McpServerSpec": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the MCP Server spec. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
          }
        },
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#McpServerSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the MCP Server spec content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec of the MCP Server."
      }
    },
    "com.gcp.agentregistry_v1alpha#McpServerSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SPEC"
          }
        },
        "TOOL_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOOL_SPEC"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#ListSkillRevisionsResponse": {
      "type": "structure",
      "members": {
        "skillRevisions": {
          "target": "com.gcp.agentregistry_v1alpha#SkillRevisionList",
          "traits": {
            "smithy.api#documentation": "Returned version snapshot list."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page offset continuation token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response listing Revisions."
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillRevisionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#SkillRevision"
      }
    },
    "com.gcp.agentregistry_v1alpha#Source": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier of the source Agent. Format: * `urn:agent:{publisher}:{namespace}:{name}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The source of the Binding."
      }
    },
    "com.gcp.agentregistry_v1alpha#Endpoint": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "attributes": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes of the Endpoint. Valid values: * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Endpoint, for example, the GKE Deployment."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Required. The connection details for the Endpoint."
          }
        },
        "endpointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique identifier for Endpoint."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of an Endpoint."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Endpoint. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name for the Endpoint."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Endpoint."
      }
    },
    "com.gcp.agentregistry_v1alpha#DocumentMapMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.agentregistry_v1alpha#DocumentMap"
      }
    },
    "com.gcp.agentregistry_v1alpha#ListServicesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. Used in page_token."
          }
        },
        "services": {
          "target": "com.gcp.agentregistry_v1alpha#ServiceList",
          "traits": {
            "smithy.api#documentation": "The list of Service resources matching the parent and filter criteria in the request. Each Service resource follows the format: `projects/{project}/locations/{location}/services/{service}`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Services"
      }
    },
    "com.gcp.agentregistry_v1alpha#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Service"
      }
    },
    "com.gcp.agentregistry_v1alpha#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.agentregistry_v1alpha#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.agentregistry_v1alpha#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Location"
      }
    },
    "com.gcp.agentregistry_v1alpha#OperationMetadata": {
      "type": "structure",
      "members": {
        "apiVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. API version used to start the operation."
          }
        },
        "requestedCancellation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
          }
        },
        "target": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server-defined resource path for the target of the operation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable status of the operation, if any."
          }
        },
        "verb": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the verb executed by the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the metadata of the long-running operation."
      }
    },
    "com.gcp.agentregistry_v1alpha#AgentSpec": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the Agent spec in the JSON format. This payload is validated against the schema for the specified type. The content size is limited to `10KB`."
          }
        },
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#AgentSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the agent spec content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec of the agent."
      }
    },
    "com.gcp.agentregistry_v1alpha#AgentSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SPEC"
          }
        },
        "A2A_AGENT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2A_AGENT_CARD"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.agentregistry_v1alpha#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#DocumentMap"
      }
    },
    "com.gcp.agentregistry_v1alpha#ListMcpServersResponse": {
      "type": "structure",
      "members": {
        "mcpServers": {
          "target": "com.gcp.agentregistry_v1alpha#McpServerList",
          "traits": {
            "smithy.api#documentation": "The list of McpServers."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing McpServers"
      }
    },
    "com.gcp.agentregistry_v1alpha#McpServerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#McpServer"
      }
    },
    "com.gcp.agentregistry_v1alpha#ListOperationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "operations": {
          "target": "com.gcp.agentregistry_v1alpha#OperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.agentregistry_v1alpha#OperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Operation"
      }
    },
    "com.gcp.agentregistry_v1alpha#AuthProviderBinding": {
      "type": "structure",
      "members": {
        "continueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The continue URI of the AuthProvider. The URI is used to reauthenticate the user and finalize the managed OAuth flow."
          }
        },
        "authProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the target AuthProvider. Format: * `projects/{project}/locations/{location}/authProviders/{auth_provider}`"
          }
        },
        "scopes": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of OAuth2 scopes of the AuthProvider."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The AuthProvider of the Binding."
      }
    },
    "com.gcp.agentregistry_v1alpha#Agent": {
      "type": "structure",
      "members": {
        "card": {
          "target": "com.gcp.agentregistry_v1alpha#Card",
          "traits": {
            "smithy.api#documentation": "Output only. Full Agent Card payload, when available."
          }
        },
        "agentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique identifier for agents."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the agent, often obtained from the A2A Agent Card."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no description."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the Agent, often obtained from the A2A Agent Card. Empty if Agent Card has no version or agent is not an A2A Agent."
          }
        },
        "attributes": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes of the Agent. Valid values: * `agentregistry.googleapis.com/system/Framework`: {\"framework\": \"google-adk\"} - the agent framework used to develop the Agent. Example values: \"google-adk\", \"langchain\", \"custom\". * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the Agent. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the Agent, for example, the Reasoning Engine URI."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of an Agent. Format: `projects/{project}/locations/{location}/agents/{agent}`."
          }
        },
        "protocols": {
          "target": "com.gcp.agentregistry_v1alpha#ProtocolList",
          "traits": {
            "smithy.api#documentation": "Output only. The connection details for the Agent."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The location where agent is hosted. The value is defined by the hosting environment (i.e. cloud provider)."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A universally unique identifier for the Agent."
          }
        },
        "skills": {
          "target": "com.gcp.agentregistry_v1alpha#A2ASkillList",
          "traits": {
            "smithy.api#documentation": "Output only. Skills the agent possesses, often obtained from the A2A Agent Card."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Agent. \"A2A\" below refers to the Agent-to-Agent protocol."
      }
    },
    "com.gcp.agentregistry_v1alpha#ProtocolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Protocol"
      }
    },
    "com.gcp.agentregistry_v1alpha#A2ASkillList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#A2ASkill"
      }
    },
    "com.gcp.agentregistry_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.agentregistry_v1alpha#McpServer": {
      "type": "structure",
      "members": {
        "tools": {
          "target": "com.gcp.agentregistry_v1alpha#ToolList",
          "traits": {
            "smithy.api#documentation": "Output only. Tools provided by the MCP Server."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the MCP Server. Format: `projects/{project}/locations/{location}/mcpServers/{mcp_server}`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the MCP Server."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The description of the MCP Server."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Output only. The connection details for the MCP Server."
          }
        },
        "mcpServerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique identifier for MCP Servers."
          }
        },
        "attributes": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMapMap",
          "traits": {
            "smithy.api#documentation": "Output only. Attributes of the MCP Server. Valid values: * `agentregistry.googleapis.com/system/RuntimeIdentity`: {\"principal\": \"principal://...\"} - the runtime identity associated with the MCP Server. * `agentregistry.googleapis.com/system/RuntimeReference`: {\"uri\": \"//...\"} - the URI of the underlying resource hosting the MCP Server, for example, the GKE Deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an MCP (Model Context Protocol) Server."
      }
    },
    "com.gcp.agentregistry_v1alpha#ToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Tool"
      }
    },
    "com.gcp.agentregistry_v1alpha#Annotations": {
      "type": "structure",
      "members": {
        "idempotentHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, calling the tool repeatedly with the same arguments will have no additional effect on its environment. NOTE: This property is meaningful only when `read_only_hint == false` Default: false"
          }
        },
        "destructiveHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the tool may perform destructive updates to its environment. If false, the tool performs only additive updates. NOTE: This property is meaningful only when `read_only_hint == false` Default: true"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A human-readable title for the tool."
          }
        },
        "openWorldHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, this tool may interact with an \"open world\" of external entities. If false, the tool's domain of interaction is closed. For example, the world of a web search tool is open, whereas that of a memory tool is not. Default: true"
          }
        },
        "readOnlyHint": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the tool does not modify its environment. Default: false"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Annotations describing the characteristics and behavior of a tool or operation."
      }
    },
    "com.gcp.agentregistry_v1alpha#Protocol": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#ProtocolTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the protocol."
          }
        },
        "interfaces": {
          "target": "com.gcp.agentregistry_v1alpha#InterfaceList",
          "traits": {
            "smithy.api#documentation": "Output only. The connection details for the Agent."
          }
        },
        "protocolVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The version of the protocol, for example, the A2A Agent Card version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the protocol of an Agent."
      }
    },
    "com.gcp.agentregistry_v1alpha#ProtocolTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "A2A_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2A_AGENT"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#Binding": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this binding was created."
          }
        },
        "target": {
          "target": "com.gcp.agentregistry_v1alpha#Target",
          "traits": {
            "smithy.api#documentation": "Required. The target Agent Registry Resource of the Binding."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined description of a Binding. Can have a maximum length of `2048` characters."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when this binding was last updated."
          }
        },
        "authProviderBinding": {
          "target": "com.gcp.agentregistry_v1alpha#AuthProviderBinding",
          "traits": {
            "smithy.api#documentation": "The binding for AuthProvider."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Identifier. The resource name of the Binding. Format: `projects/{project}/locations/{location}/bindings/{binding}`."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User-defined display name for the Binding. Can have a maximum length of `63` characters."
          }
        },
        "source": {
          "target": "com.gcp.agentregistry_v1alpha#Source",
          "traits": {
            "smithy.api#documentation": "Required. The target Agent of the Binding."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a user-defined Binding."
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchMcpServersResponse": {
      "type": "structure",
      "members": {
        "mcpServers": {
          "target": "com.gcp.agentregistry_v1alpha#McpServerList",
          "traits": {
            "smithy.api#documentation": "A list of McpServers that match the `search_string`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to searching MCP Servers"
      }
    },
    "com.gcp.agentregistry_v1alpha#Frontmatter": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Functional description."
          }
        },
        "compatibility": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Environmental dependencies or local sidecars."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the skill."
          }
        },
        "metadata": {
          "target": "com.gcp.agentregistry_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Extensible flattened map mapping custom tags, authors, and version parameters."
          }
        },
        "license": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. License."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Structured metadata attributes extracted from the package's local SKILL.md frontmatter."
      }
    },
    "com.gcp.agentregistry_v1alpha#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListEndpointsResponse": {
      "type": "structure",
      "members": {
        "endpoints": {
          "target": "com.gcp.agentregistry_v1alpha#EndpointList",
          "traits": {
            "smithy.api#documentation": "The list of Endpoint resources matching the parent and filter criteria in the request. Each Endpoint resource follows the format: `projects/{project}/locations/{location}/endpoints/{endpoint}`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return. Used in page_token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Endpoints"
      }
    },
    "com.gcp.agentregistry_v1alpha#EndpointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Endpoint"
      }
    },
    "com.gcp.agentregistry_v1alpha#Card": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#CardTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of agent card."
          }
        },
        "content": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. The content of the agent card."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Full Agent Card payload, often obtained from the A2A Agent Card."
      }
    },
    "com.gcp.agentregistry_v1alpha#CardTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "A2A_AGENT_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "A2A_AGENT_CARD"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#Publisher": {
      "type": "structure",
      "members": {
        "documentationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI pointing to official publisher documentation."
          }
        },
        "supportUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. URI pointing to the support portal or email."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the publisher. Format: `projects/{project}/locations/{location}/publishers/{publisher}`"
          }
        },
        "verifiedPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The verified prefix (e.g. \"snowflake-\", \"google-\") associated with this publisher. The system uses this prefix to enforce name-squatting rules during Skill registration. Must be globally unique across all publishers."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human readable display name of the publisher."
          }
        },
        "publisherTier": {
          "target": "com.gcp.agentregistry_v1alpha#PublisherPublisherTierEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The curation tier of the publisher."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a verified Publisher of Skills. Prepopulated publishers include `publishers/cloud.google.com` and `publishers/workspace.google.com`."
      }
    },
    "com.gcp.agentregistry_v1alpha#PublisherPublisherTierEnum": {
      "type": "enum",
      "members": {
        "PUBLISHER_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER_TIER_UNSPECIFIED"
          }
        },
        "FIRST_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIRST_PARTY"
          }
        },
        "THIRD_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD_PARTY"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#EndpointSpec": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#EndpointSpecTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the endpoint spec content."
          }
        },
        "content": {
          "target": "com.gcp.agentregistry_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The content of the endpoint spec. Reserved for future use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The spec of the endpoint."
      }
    },
    "com.gcp.agentregistry_v1alpha#EndpointSpecTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "NO_SPEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_SPEC"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchAgentsResponse": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.gcp.agentregistry_v1alpha#AgentList",
          "traits": {
            "smithy.api#documentation": "A list of Agents that match the `search_string`."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If there are more results than those appearing in this response, then `next_page_token` is included. To get the next set of results, call this method again using the value of `next_page_token` as `page_token`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to searching Agents"
      }
    },
    "com.gcp.agentregistry_v1alpha#Tool": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Description of what the tool does."
          }
        },
        "annotations": {
          "target": "com.gcp.agentregistry_v1alpha#Annotations",
          "traits": {
            "smithy.api#documentation": "Output only. Annotations associated with the tool."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable name of the tool."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single tool provided by an MCP Server."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListPublishersResponse": {
      "type": "structure",
      "members": {
        "publishers": {
          "target": "com.gcp.agentregistry_v1alpha#PublisherList",
          "traits": {
            "smithy.api#documentation": "The returned list of Publishers."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Page offset continuation token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response listing Publishers."
      }
    },
    "com.gcp.agentregistry_v1alpha#PublisherList": {
      "type": "list",
      "member": {
        "target": "com.gcp.agentregistry_v1alpha#Publisher"
      }
    },
    "com.gcp.agentregistry_v1alpha#FetchAvailableBindingsResponse": {
      "type": "structure",
      "members": {
        "bindings": {
          "target": "com.gcp.agentregistry_v1alpha#BindingList",
          "traits": {
            "smithy.api#documentation": "The list of Bindings."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to fetching available Bindings."
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchMcpServersRequest": {
      "type": "structure",
      "members": {
        "searchString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Search criteria used to select the MCP Servers to return. If no search criteria is specified then all accessible MCP Servers will be returned. Search expressions can be used to restrict results based upon searchable fields, where the operators can be used along with the suffix wildcard symbol `*`. See [instructions](https://docs.cloud.google.com/agent-registry/search-agents-and-tools) for more details. Allowed operators: `=`, `:`, `NOT`, `AND`, `OR`, and `()`. Searchable fields: | Field | `=` | `:` | `*` | Keyword Search | |--------------------|-----|-----|-----|----------------| | mcpServerId | Yes | Yes | Yes | Included | | name | No | Yes | Yes | Included | | displayName | No | Yes | Yes | Included | Examples: * `mcpServerId=\"urn:mcp:projects-123:projects:123:locations:us-central1:agentregistry:services:service-id\"` to find the MCP Server with the specified MCP Server ID. * `name:important` to find MCP Servers whose name contains `important` as a word. * `displayName:works*` to find MCP Servers whose display name contains words that start with `works`. * `planner OR booking` to find MCP Servers whose metadata contains the words `planner` or `booking`. * `mcpServerId:service-id AND (displayName:planner OR displayName:booking)` to find MCP Servers whose MCP Server ID contains `service-id` and whose display name contains `planner` or `booking`."
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of search results to return per page. The page size is capped at `100`, even if a larger value is specified. A negative value will result in an `INVALID_ARGUMENT` error. If unspecified or set to `0`, a default value of `20` will be used. The server may return fewer results than requested."
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If present, retrieve the next batch of results from the preceding call to this method. `page_token` must be the value of `next_page_token` from the previous response. The values of all other method parameters, must be identical to those in the previous call."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for searching MCP Servers"
      }
    },
    "com.gcp.agentregistry_v1alpha#Skill": {
      "type": "structure",
      "members": {
        "defaultRevision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The full resource name of the revision currently served by default (floating track). Format: `projects/{project}/locations/{location}/skills/{skill}/revisions/{revision}`"
          }
        },
        "initialRevision": {
          "target": "com.gcp.agentregistry_v1alpha#SkillRevision",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Optional nested initial revision payload to support standard one-shot creation. The server processes this field on input during creation but must never return it in responses."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time."
          }
        },
        "publisher": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The publisher resource associated with this skill. Format: `projects/{project}/locations/{location}/publishers/{publisher}` The publisher dictates the allowed namespace prefixes for the skill's name and logical `skill_id` (e.g., Publisher `google` authorizes the `google-*` prefix)."
          }
        },
        "skillId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A stable, globally unique logical identifier for the skill. It is securely constructed by the backend by combining the associated `publisher`'s verified namespace and the skill's resource ID to enforce strict ownership. For example, the prefix `google-` is reserved exclusively for first-party Google publishers to prevent namespace squatting. Example: `urn:skill:google-workspace:create-docs`"
          }
        },
        "targetState": {
          "target": "com.gcp.agentregistry_v1alpha#SkillTargetStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. User-managed target state of the skill."
          }
        },
        "frontmatter": {
          "target": "com.gcp.agentregistry_v1alpha#Frontmatter",
          "traits": {
            "smithy.api#documentation": "Output only. Lightweight frontmatter metadata attributes copied from the default revision."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Universally unique identifier (UUID4) for the logical container."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time."
          }
        },
        "state": {
          "target": "com.gcp.agentregistry_v1alpha#SkillStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The system-managed state of the skill."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name of the Skill. Format: `projects/{project}/locations/{location}/skills/{skill}` The `{skill}` segment acts as the resource ID. If the skill is associated with a Publisher, this segment typically uses a hyphenated namespace prefix corresponding to the publisher (e.g., `google-workspace-create-docs`)."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Brief summary describing the capabilities of the skill. Maximum length is 2048 characters."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Human-readable display name of the skill. Maximum length is 128 characters."
          }
        },
        "type": {
          "target": "com.gcp.agentregistry_v1alpha#SkillTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Structural deployment type (SIMPLE leaf vs COMPOSITE bundle)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an Executable Agent Skill or a Composite Tool Suite (Bundle). Sibling resource with Agent and McpServer under agentregistry.googleapis.com."
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillTargetStateEnum": {
      "type": "enum",
      "members": {
        "TARGET_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_UNSPECIFIED"
          }
        },
        "TARGET_STATE_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_DRAFT"
          }
        },
        "TARGET_STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_ACTIVE"
          }
        },
        "TARGET_STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_DISABLED"
          }
        },
        "TARGET_STATE_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_DEPRECATED"
          }
        },
        "TARGET_STATE_DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_STATE_DECOMMISSIONED"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STATE_CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_CREATING"
          }
        },
        "STATE_DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DRAFT"
          }
        },
        "STATE_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_ACTIVE"
          }
        },
        "STATE_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DISABLED"
          }
        },
        "STATE_DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DEPRECATED"
          }
        },
        "STATE_DECOMMISSIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DECOMMISSIONED"
          }
        },
        "STATE_DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_DELETING"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#SkillTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIMPLE"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "extraLocationTypes": {
          "target": "com.gcp.agentregistry_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
            "smithy.api#httpQuery": "extraLocationTypes"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return. If not set, the service selects a default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource that owns the locations collection, if applicable.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1alpha#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#ListProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#ListLocationsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}/locations"
        },
        "smithy.api#documentation": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocations": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#GetProjectsLocationsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#Location"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets information about a location."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsAgentsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent value for ListAgentsRequest",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filtering results",
            "smithy.api#httpQuery": "filter"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Hint for how to order the results",
            "smithy.api#httpQuery": "orderBy"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsAgents": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#ListProjectsLocationsAgentsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#ListAgentsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/agents"
        },
        "smithy.api#documentation": "Lists Agents in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsAgentsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsAgents": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#GetProjectsLocationsAgentsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#Agent"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Agent."
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchProjectsLocationsAgentsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent value for SearchAgentsRequest. Format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentregistry_v1alpha#SearchAgentsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1alpha#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchProjectsLocationsAgents": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#SearchProjectsLocationsAgentsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#SearchAgentsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+parent}/agents:search"
        },
        "smithy.api#documentation": "Searches Agents in a given project and location."
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsPublishersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Target publisher resource name. Format: `projects/{project}/locations/{location}/publishers/{publisher}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsPublishers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#GetProjectsLocationsPublishersRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#Publisher"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Fetches details of a specific Publisher."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsPublishersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent location to query. Format: `projects/{project}/locations/{location}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Page limit size.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Page offset token.",
            "smithy.api#httpQuery": "pageToken"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsPublishers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#ListProjectsLocationsPublishersRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#ListPublishersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/publishers"
        },
        "smithy.api#documentation": "Lists all Publishers in a location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsEndpointsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project and location to list endpoints in. Expected format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A query string used to filter the list of endpoints returned. The filter expression must follow AIP-160 syntax. Filtering is supported on the `name`, `display_name`, `description`, `version`, and `interfaces` fields. Some examples: * `name = \"projects/p1/locations/l1/endpoints/e1\"` * `display_name = \"my-endpoint\"` * `description = \"my-endpoint-description\"` * `version = \"v1\"` * `interfaces.transport = \"HTTP_JSON\"`",
            "smithy.api#httpQuery": "filter"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#ListProjectsLocationsEndpointsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#ListEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/endpoints"
        },
        "smithy.api#documentation": "Lists Endpoints in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsEndpointsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the endpoint to retrieve. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#GetProjectsLocationsEndpointsRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#Endpoint"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single Endpoint."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsMcpServersRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filtering results",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent value for ListMcpServersRequest. Format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
            "smithy.api#httpQuery": "pageSize"
          }
        },
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "orderBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Hint for how to order the results",
            "smithy.api#httpQuery": "orderBy"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsMcpServers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#ListProjectsLocationsMcpServersRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#ListMcpServersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+parent}/mcpServers"
        },
        "smithy.api#documentation": "Lists McpServers in a given project and location.",
        "smithy.api#paginated": {
          "inputToken": "pageToken",
          "outputToken": "nextPageToken"
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsMcpServersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the resource",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#GetProjectsLocationsMcpServers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#GetProjectsLocationsMcpServersRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#McpServer"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Gets details of a single McpServer."
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchProjectsLocationsMcpServersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Parent value for SearchMcpServersRequest. Format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentregistry_v1alpha#SearchMcpServersRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#SearchProjectsLocationsMcpServers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#SearchProjectsLocationsMcpServersRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#SearchMcpServersResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+parent}/mcpServers:search"
        },
        "smithy.api#documentation": "Searches McpServers in a given project and location."
      }
    },
    "com.gcp.agentregistry_v1alpha#CreateProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project and location to create the Service in. Expected format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "serviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID to use for the service, which will become the final component of the service's resource name. This value should be 4-63 characters, and valid characters are `/a-z-/`.",
            "smithy.api#httpQuery": "serviceId"
          }
        },
        "body": {
          "target": "com.gcp.agentregistry_v1alpha#Service",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#CreateProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#CreateProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1alpha/{+parent}/services"
        },
        "smithy.api#documentation": "Creates a new Service in a given project and location."
      }
    },
    "com.gcp.agentregistry_v1alpha#PatchProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the Service. Format: `projects/{project}/locations/{location}/services/{service}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Field mask is used to specify the fields to be overwritten in the Service resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields present in the request will be overwritten.",
            "smithy.api#httpQuery": "updateMask"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
            "smithy.api#httpQuery": "requestId"
          }
        },
        "body": {
          "target": "com.gcp.agentregistry_v1alpha#Service",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentregistry_v1alpha#PatchProjectsLocationsServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentregistry_v1alpha#PatchProjectsLocationsServicesRequest"
      },
      "output": {
        "target": "com.gcp.agentregistry_v1alpha#Operation"
      },
      "errors": [
        {
          "target": "com.gcp.agentregistry_v1alpha#NotFound"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Forbidden"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#BadRequest"
        },
        {
          "target": "com.gcp.agentregistry_v1alpha#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "v1alpha/{+name}"
        },
        "smithy.api#documentation": "Updates the parameters of a single Service."
      }
    },
    "com.gcp.agentregistry_v1alpha#ListProjectsLocationsServicesRequest": {
      "type": "structure",
      "members": {
        "pageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A token identifying a page of results the server should return.",
            "smithy.api#httpQuery": "pageToken"
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A query string used to filter the list of services returned. The filter expression must follow AIP-160 syntax. Filtering is supported on the `name`, `display_name`, `description`, and `labels` fields. Some examples: * `name = \"projects/p1/locations/l1/services/s1\"` * `display_name = \"my-service\"` * `description : \"myservice description\"` * `labels.env = \"prod\"`",
            "smithy.api#httpQuery": "filter"
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The project and location to list services in. Expected format: `projects/{project}/locations/{location}`.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pageSize": {
          "target": "smithy.api#Integer",
          "traits": {
[...]
