{
  "smithy": "2.0",
  "metadata": {
    "service": "agentidentitycredentials",
    "version": "v1beta",
    "title": "Agent Identity Credentials API",
    "baseUrl": "https://agentidentitycredentials.googleapis.com/"
  },
  "shapes": {
    "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest": {
      "type": "structure",
      "members": {
        "userIdValidationState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The encrypted state passed back from the consent flow."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identity of the end user."
          }
        },
        "consentNonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The same consent_nonce value that was provided during redirect in the UriConsentRequired metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for FinalizeCredentials."
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_Success",
          "traits": {
            "smithy.api#documentation": "Message indicating credentials were successfully retrieved."
          }
        },
        "uriConsentRequired": {
          "target": "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired",
          "traits": {
            "smithy.api#documentation": "Message indicating uri based consent is required."
          }
        },
        "pending": {
          "target": "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_Pending",
          "traits": {
            "smithy.api#documentation": "Message indicating credential retrieval is pending."
          }
        },
        "consentRejected": {
          "target": "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected",
          "traits": {
            "smithy.api#documentation": "Message indicating consent was rejected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for RetrieveCredentials. Contains the access tokens and related artifacts."
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_UriConsentRequired": {
      "type": "structure",
      "members": {
        "authorizationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL where the user should be redirected to grant consent. This will always be present."
          }
        },
        "consentNonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the FinalizeCredentials request to complete the OAuth exchange. This will always be present. Implemented per https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5"
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the credentials retrieval operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback"
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for FinalizeCredentials. Intentionally empty"
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_Pending": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Indicates that the credential retrieval is pending. The caller should retry the RetrieveCredentials request after some time."
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_Success": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.agentidentitycredentials_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list."
          }
        },
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The retrieved access token or credential for the end user. On MCPTool call, for an invalid token OAuth spec says this should return 401 or 403, but MCPServers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to RetrieveCredentials with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow."
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP header name where the token should be placed."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message indicating successful retrieval of credentials."
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_ConsentRejected": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Indicates the user has rejected the permission delegation or cancelled the request."
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest": {
      "type": "structure",
      "members": {
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identity of the end user."
          }
        },
        "scopes": {
          "target": "com.gcp.agentidentitycredentials_v1beta#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The OAuth scopes required for this access."
          }
        },
        "forceRefreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Will trigger a refresh of the access token with a stored refresh token, if possible, or a new consent flow."
          }
        },
        "continueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URI to redirect the user to after consent is completed. This field is required for authproviders using the 3-legged OAuth flow. For other authprovider types, this field is unused but not rejected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for RetrieveCredentials."
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#RetrieveProjectsLocationsAuthProvidersCredentialsRequest": {
      "type": "structure",
      "members": {
        "authProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource name of the AuthProvider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#RetrieveProjectsLocationsAuthProvidersCredentials": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentitycredentials_v1beta#RetrieveProjectsLocationsAuthProvidersCredentialsRequest"
      },
      "output": {
        "target": "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_RetrieveCredentialsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentitycredentials_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+authProvider}/credentials:retrieve"
        },
        "smithy.api#documentation": "Retrieves authorization credentials for an authprovider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `status` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information."
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#FinalizeProjectsLocationsAuthProvidersCredentialsRequest": {
      "type": "structure",
      "members": {
        "authProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the AuthProvider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentitycredentials_v1beta#FinalizeProjectsLocationsAuthProvidersCredentials": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentitycredentials_v1beta#FinalizeProjectsLocationsAuthProvidersCredentialsRequest"
      },
      "output": {
        "target": "com.gcp.agentidentitycredentials_v1beta#GoogleCloudAgentidentitycredentialsV1beta_FinalizeCredentialsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentitycredentials_v1beta#NotFound"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1beta#Forbidden"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1beta#BadRequest"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1beta#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1beta/{+authProvider}/credentials:finalize"
        },
        "smithy.api#documentation": "Finalizes the credentials after a successful consent flow."
      }
    }
  }
}
