{
  "smithy": "2.0",
  "metadata": {
    "service": "alloydb",
    "version": "v1alpha",
    "title": "AlloyDB API",
    "baseUrl": "https://alloydb.googleapis.com/"
  },
  "shapes": {
    "com.gcp.alloydb_v1alpha#ListSupportedDatabaseFlagsResponse": {
      "type": "structure",
      "members": {
        "supportedDatabaseFlags": {
          "target": "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagList",
          "traits": {
            "smithy.api#documentation": "The list of SupportedDatabaseFlags."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing SupportedDatabaseFlags."
      }
    },
    "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#SupportedDatabaseFlag"
      }
    },
    "com.gcp.alloydb_v1alpha#Instance": {
      "type": "structure",
      "members": {
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time stamp"
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "connectionPoolConfig": {
          "target": "com.gcp.alloydb_v1alpha#ConnectionPoolConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for Managed Connection Pool (MCP)."
          }
        },
        "geminiConfig": {
          "target": "com.gcp.alloydb_v1alpha#GeminiInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated and unused. This field will be removed in the near future."
          }
        },
        "queryInsightsConfig": {
          "target": "com.gcp.alloydb_v1alpha#QueryInsightsInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for query insights."
          }
        },
        "networkConfig": {
          "target": "com.gcp.alloydb_v1alpha#InstanceNetworkConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Instance-level network configuration."
          }
        },
        "readPoolConfig": {
          "target": "com.gcp.alloydb_v1alpha#ReadPoolConfig",
          "traits": {
            "smithy.api#documentation": "Read pool instance configuration. This is required if the value of instanceType is READ_POOL."
          }
        },
        "gcaConfig": {
          "target": "com.gcp.alloydb_v1alpha#GCAInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Configuration parameters related to Gemini Cloud Assist."
          }
        },
        "outboundPublicIpAddresses": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. All outbound public IP addresses configured for the instance."
          }
        },
        "databaseFlags": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Database flags. Set at the instance level. They are copied from the primary instance on secondary instance creation. Flags that have restrictions default to the value at primary instance on read instances during creation. Read instances can set new flags or override existing flags that are relevant for reads, for example, for enabling columnar cache on a read instance. Flags set on read instance might or might not be present on the primary instance. This is a list of \"key\": \"value\" pairs. \"key\": The name of the flag. These flags are passed at instance setup time, so include both server options and system variables for Postgres. Flags are specified with underscores, not hyphens. \"value\": The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value."
          }
        },
        "availabilityType": {
          "target": "com.gcp.alloydb_v1alpha#InstanceAvailabilityTypeEnum",
          "traits": {
            "smithy.api#documentation": "Availability type of an Instance. If empty, defaults to REGIONAL for primary instances. For read pools, availability_type is always UNSPECIFIED. Instances in the read pools are evenly distributed across available zones within the region (i.e. read pools with more than one node will have a node in at least two zones)."
          }
        },
        "clientConnectionConfig": {
          "target": "com.gcp.alloydb_v1alpha#ClientConnectionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Client connection specific configurations"
          }
        },
        "annotations": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
          }
        },
        "activationPolicy": {
          "target": "com.gcp.alloydb_v1alpha#InstanceActivationPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies whether an instance needs to spin up. Once the instance is active, the activation policy can be updated to the `NEVER` to stop the instance. Likewise, the activation policy can be updated to `ALWAYS` to start the instance. There are restrictions around when an instance can/cannot be activated (for example, a read pool instance should be stopped before stopping primary etc.). Please refer to the API documentation for more details."
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "nodes": {
          "target": "com.gcp.alloydb_v1alpha#NodeList",
          "traits": {
            "smithy.api#documentation": "Output only. List of available read-only VMs in this instance, including the standby for a PRIMARY instance."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time stamp"
          }
        },
        "gceZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Compute Engine zone that the instance should serve from, per https://cloud.google.com/compute/docs/regions-zones This can ONLY be specified for ZONAL instances. If present for a REGIONAL instance, an error will be thrown. If this is absent for a ZONAL instance, instance is created in a random zone with available capacity."
          }
        },
        "pscInstanceInfo": {
          "target": "com.gcp.alloydb_v1alpha#PscInstanceInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Information about the Private Service Connect (PSC) for the instance."
          }
        },
        "machineConfig": {
          "target": "com.gcp.alloydb_v1alpha#MachineConfig",
          "traits": {
            "smithy.api#documentation": "Configurations for the machines that host the underlying database engine."
          }
        },
        "labels": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs"
          }
        },
        "writableNode": {
          "target": "com.gcp.alloydb_v1alpha#Node",
          "traits": {
            "smithy.api#documentation": "Output only. This is set for the read-write VM of the PRIMARY instance only."
          }
        },
        "observabilityConfig": {
          "target": "com.gcp.alloydb_v1alpha#ObservabilityInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Configuration for observability."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-settable and human-readable display name for the Instance."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For Resource freshness validation (https://google.aip.dev/154)"
          }
        },
        "pscInstanceConfig": {
          "target": "com.gcp.alloydb_v1alpha#PscInstanceConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for Private Service Connect (PSC) for the instance."
          }
        },
        "state": {
          "target": "com.gcp.alloydb_v1alpha#InstanceStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current serving state of the instance."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Instance does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance."
          }
        },
        "publicIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application."
          }
        },
        "dataApiAccess": {
          "target": "com.gcp.alloydb_v1alpha#InstanceDataApiAccessEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Controls whether the Data API is enabled for this instance. When enabled, this allows authorized users to connect to the instance from the public internet using the `executeSql` API, even for private IP instances. If this is not specified, the data API is enabled by default for Google internal services like AlloyDB Studio. Disable it explicitly to disallow Google internal services as well."
          }
        },
        "instanceType": {
          "target": "com.gcp.alloydb_v1alpha#InstanceInstanceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of the instance. Specified at creation time."
          }
        },
        "ipAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The IP address for the Instance. This is the connection endpoint for an end-user application."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Delete time stamp"
          }
        },
        "maintenanceVersionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Maintenance version of the instance, for example: POSTGRES_15.2025_07_15.04_00. Output only. Update this field via the parent cluster's maintenance_version field(s)."
          }
        },
        "updatePolicy": {
          "target": "com.gcp.alloydb_v1alpha#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Update policy that will be applied during instance update. This field is not persisted when you update the instance. To use a non-default update policy, you must specify explicitly specify the value in each update request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An Instance is a computing unit that an end customer can connect to. It's the main unit of computing resources in AlloyDB."
      }
    },
    "com.gcp.alloydb_v1alpha#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.alloydb_v1alpha#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceAvailabilityTypeEnum": {
      "type": "enum",
      "members": {
        "AVAILABILITY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABILITY_TYPE_UNSPECIFIED"
          }
        },
        "ZONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONAL"
          }
        },
        "REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceActivationPolicyEnum": {
      "type": "enum",
      "members": {
        "ACTIVATION_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATION_POLICY_UNSPECIFIED"
          }
        },
        "ALWAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS"
          }
        },
        "NEVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#NodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#Node"
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "BOOTSTRAPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOTSTRAPPING"
          }
        },
        "PROMOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTING"
          }
        },
        "SWITCHOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWITCHOVER"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPING"
          }
        },
        "STARTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTING"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceDataApiAccessEnum": {
      "type": "enum",
      "members": {
        "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceInstanceTypeEnum": {
      "type": "enum",
      "members": {
        "INSTANCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "READ_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_POOL"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Disable validation warnings"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Disable validation warnings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable validation warnings"
      }
    },
    "com.gcp.alloydb_v1alpha#BackupDrPitrSource": {
      "type": "structure",
      "members": {
        "pointInTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The point in time to restore to."
          }
        },
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing a BackupDrPitrSource."
      }
    },
    "com.gcp.alloydb_v1alpha#EncryptionInfo": {
      "type": "structure",
      "members": {
        "encryptionType": {
          "target": "com.gcp.alloydb_v1alpha#EncryptionInfoEncryptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of encryption."
          }
        },
        "kmsKeyVersions": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud KMS key versions that are being used to protect the database or the backup."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "EncryptionInfo describes the encryption information of a cluster or a backup."
      }
    },
    "com.gcp.alloydb_v1alpha#EncryptionInfoEncryptionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "GOOGLE_DEFAULT_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_DEFAULT_ENCRYPTION"
          }
        },
        "CUSTOMER_MANAGED_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED_ENCRYPTION"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#InjectFaultRequest": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
          }
        },
        "faultType": {
          "target": "com.gcp.alloydb_v1alpha#InjectFaultRequestFaultTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of fault to be injected in an instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for triggering fault injection on an instance"
      }
    },
    "com.gcp.alloydb_v1alpha#InjectFaultRequestFaultTypeEnum": {
      "type": "enum",
      "members": {
        "FAULT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAULT_TYPE_UNSPECIFIED"
          }
        },
        "STOP_VM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_VM"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#ListInstancesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "instances": {
          "target": "com.gcp.alloydb_v1alpha#InstanceList",
          "traits": {
            "smithy.api#documentation": "The list of Instance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for response to listing Instances"
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#Instance"
      }
    },
    "com.gcp.alloydb_v1alpha#GoogleCloudLocationLocation": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
          }
        },
        "metadata": {
          "target": "com.gcp.alloydb_v1alpha#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata. For example the available capacity at the given location."
          }
        },
        "locationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The canonical id for this location. For example: `\"us-east1\"`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents a Google Cloud location."
      }
    },
    "com.gcp.alloydb_v1alpha#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.alloydb_v1alpha#BackupDrEnabledWindow": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The DataSource resource that represents the cluster in BackupDR."
          }
        },
        "backupPlanAssociation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The BackupPlanAssociation resource that was used to enable BackupDR protection for this cluster."
          }
        },
        "logRetentionPeriod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The retention period for logs generated by BackupDR for this cluster."
          }
        },
        "continuousBackupPreviouslyEnabledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time when continuous backup was previously enabled prior to enabling BackupDR protection for this cluster."
          }
        },
        "continuousBackupPreviouslyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether continuous backup was previously enabled prior to enabling BackupDR protection for this cluster."
          }
        },
        "enabledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the BackupDR protection for this cluster was enabled."
          }
        },
        "automatedBackupPreviouslyEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether automated backup was previously enabled prior to enabling BackupDR protection for this cluster."
          }
        },
        "continuousBackupPreviousRecoveryWindowDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The retention set for the continuous backup that was previously enabled prior to enabling BackupDR protection for this cluster."
          }
        },
        "disabledTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time when the BackupDR protection for this cluster was disabled. This field will be empty if this BackupDR window is the `current_window`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a single window when BackupDR was enabled for this cluster."
      }
    },
    "com.gcp.alloydb_v1alpha#ClusterUpgradeDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Normalized name of the cluster"
          }
        },
        "instanceUpgradeDetails": {
          "target": "com.gcp.alloydb_v1alpha#InstanceUpgradeDetailsList",
          "traits": {
            "smithy.api#documentation": "Upgrade details of the instances directly associated with this cluster."
          }
        },
        "databaseVersion": {
          "target": "com.gcp.alloydb_v1alpha#ClusterUpgradeDetailsDatabaseVersionEnum",
          "traits": {
            "smithy.api#documentation": "Database version of the cluster after the upgrade operation. This will be the target version if the upgrade was successful otherwise it remains the same as that before the upgrade operation."
          }
        },
        "upgradeStatus": {
          "target": "com.gcp.alloydb_v1alpha#ClusterUpgradeDetailsUpgradeStatusEnum",
          "traits": {
            "smithy.api#documentation": "Upgrade status of the cluster."
          }
        },
        "stageInfo": {
          "target": "com.gcp.alloydb_v1alpha#StageInfoList",
          "traits": {
            "smithy.api#documentation": "Array containing stage info associated with this cluster."
          }
        },
        "clusterType": {
          "target": "com.gcp.alloydb_v1alpha#ClusterUpgradeDetailsClusterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Cluster type which can either be primary or secondary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upgrade details of a cluster. This cluster can be primary or secondary."
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceUpgradeDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#InstanceUpgradeDetails"
      }
    },
    "com.gcp.alloydb_v1alpha#ClusterUpgradeDetailsDatabaseVersionEnum": {
      "type": "enum",
      "members": {
        "DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "POSTGRES_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_13"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#ClusterUpgradeDetailsUpgradeStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_SUCCESS"
          }
        },
        "CANCEL_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL_IN_PROGRESS"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StageInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#StageInfo"
      }
    },
    "com.gcp.alloydb_v1alpha#ClusterUpgradeDetailsClusterTypeEnum": {
      "type": "enum",
      "members": {
        "CLUSTER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#MigrationSource": {
      "type": "structure",
      "members": {
        "sourceType": {
          "target": "com.gcp.alloydb_v1alpha#MigrationSourceSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Type of migration source."
          }
        },
        "hostPort": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The host and port of the on-premises instance in host:port format"
          }
        },
        "referenceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Place holder for the external source identifier(e.g DMS job name) that created the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Subset of the source instance configuration that is available when reading the cluster resource."
      }
    },
    "com.gcp.alloydb_v1alpha#MigrationSourceSourceTypeEnum": {
      "type": "enum",
      "members": {
        "MIGRATION_SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIGRATION_SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "DMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DMS"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#CsvImportOptions": {
      "type": "structure",
      "members": {
        "escapeCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is same as quote character. The value of this argument has to be a character in Hex ASCII Code."
          }
        },
        "table": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The database table to import CSV file into."
          }
        },
        "quoteCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code."
          }
        },
        "fieldDelimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code."
          }
        },
        "columns": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options for importing data in CSV format."
      }
    },
    "com.gcp.alloydb_v1alpha#IntegerRestrictions": {
      "type": "structure",
      "members": {
        "maxValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The maximum value that can be specified, if applicable."
          }
        },
        "minValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minimum value that can be specified, if applicable."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Restrictions on INTEGER type values."
      }
    },
    "com.gcp.alloydb_v1alpha#QuantityBasedRetention": {
      "type": "structure",
      "members": {
        "count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of backups to retain."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A quantity based policy specifies that a certain number of the most recent successful backups should be retained."
      }
    },
    "com.gcp.alloydb_v1alpha#GeminiInstanceConfig": {
      "type": "structure",
      "members": {
        "entitled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Deprecated and unused. This field will be removed in the near future."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated and unused. This message will be removed in the near future."
      }
    },
    "com.gcp.alloydb_v1alpha#CloudControl2SharedOperationsReconciliationOperationMetadata": {
      "type": "structure",
      "members": {
        "deleteResource": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "DEPRECATED. Use exclusive_action instead."
          }
        },
        "exclusiveAction": {
          "target": "com.gcp.alloydb_v1alpha#CloudControl2SharedOperationsReconciliationOperationMetadataExclusiveActionEnum",
          "traits": {
            "smithy.api#documentation": "Excluisive action returned by the CLH."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation metadata returned by the CLH during resource state reconciliation."
      }
    },
    "com.gcp.alloydb_v1alpha#CloudControl2SharedOperationsReconciliationOperationMetadataExclusiveActionEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_REPAIR_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_REPAIR_ACTION"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "RETRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "type": "structure",
      "members": {
        "databaseResourceSignalData": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "skipIngestion": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Disable validation warnings"
          }
        },
        "observabilityMetricData": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainObservabilityMetricData",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "configBasedSignalData": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "resourceHealthSignalData": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "feedType": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeedFeedTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Disable validation warnings"
          }
        },
        "recommendationSignalData": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "feedTimestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Disable validation warnings"
          }
        },
        "resourceMetadata": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "resourceId": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "backupdrMetadata": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable validation warnings"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeedFeedTypeEnum": {
      "type": "enum",
      "members": {
        "FEEDTYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEEDTYPE_UNSPECIFIED"
          }
        },
        "RESOURCE_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_METADATA"
          }
        },
        "OBSERVABILITY_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSERVABILITY_DATA"
          }
        },
        "SECURITY_FINDING_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_FINDING_DATA"
          }
        },
        "RECOMMENDATION_SIGNAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOMMENDATION_SIGNAL_DATA"
          }
        },
        "CONFIG_BASED_SIGNAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIG_BASED_SIGNAL_DATA"
          }
        },
        "BACKUPDR_METADATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUPDR_METADATA"
          }
        },
        "DATABASE_RESOURCE_SIGNAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_RESOURCE_SIGNAL_DATA"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceId": {
      "type": "structure",
      "members": {
        "uniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Disable validation warnings"
          }
        },
        "provider": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceIdProviderEnum",
          "traits": {
            "smithy.api#documentation": "Required. Disable validation warnings"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Disable validation warnings"
          }
        },
        "providerDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Disable validation warnings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable validation warnings"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceIdProviderEnum": {
      "type": "enum",
      "members": {
        "PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_UNSPECIFIED"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "ONPREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONPREM"
          }
        },
        "SELFMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELFMANAGED"
          }
        },
        "PROVIDER_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDER_OTHER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "type": "structure",
      "members": {
        "internalResourceMetadata": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainInternalResourceMetadataList",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable validation warnings"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainInternalResourceMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
      }
    },
    "com.gcp.alloydb_v1alpha#InstanceNetworkConfig": {
      "type": "structure",
      "members": {
        "authorizedExternalNetworks": {
          "target": "com.gcp.alloydb_v1alpha#AuthorizedNetworkList",
          "traits": {
            "smithy.api#documentation": "Optional. A list of external network authorized to access this instance."
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The resource link for the VPC network in which instance resources are created and from which they are accessible via Private IP. This will be the same value as the parent cluster's network. It is specified in the form: // `projects/{project_number}/global/networks/{network_id}`."
          }
        },
        "enableOutboundPublicIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enabling an outbound public IP address to support a database server sending requests out into the internet."
          }
        },
        "enablePublicIp": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Enabling public ip for the instance."
          }
        },
        "allocatedIpRangeOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the allocated IP range for the private IP AlloyDB instance, for example: \"google-managed-services-default\". If set, the instance IPs will be created from this allocated range and will override the IP range used by the parent cluster. The range name must comply with [RFC 1035](https://datatracker.ietf.org/doc/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata related to instance-level network configuration."
      }
    },
    "com.gcp.alloydb_v1alpha#AuthorizedNetworkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#AuthorizedNetwork"
      }
    },
    "com.gcp.alloydb_v1alpha#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.alloydb_v1alpha#RestoreClusterRequest": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "com.gcp.alloydb_v1alpha#Cluster",
          "traits": {
            "smithy.api#documentation": "Required. The resource being created"
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
          }
        },
        "backupdrBackupSource": {
          "target": "com.gcp.alloydb_v1alpha#BackupDrBackupSource",
          "traits": {
            "smithy.api#documentation": "BackupDR backup source."
          }
        },
        "continuousBackupSource": {
          "target": "com.gcp.alloydb_v1alpha#ContinuousBackupSource",
          "traits": {
            "smithy.api#documentation": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed."
          }
        },
        "backupSource": {
          "target": "com.gcp.alloydb_v1alpha#BackupSource",
          "traits": {
            "smithy.api#documentation": "Backup source."
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. ID of the requesting object."
          }
        },
        "backupdrPitrSource": {
          "target": "com.gcp.alloydb_v1alpha#BackupDrPitrSource",
          "traits": {
            "smithy.api#documentation": "BackupDR source used for point in time recovery."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11"
      }
    },
    "com.gcp.alloydb_v1alpha#SupportedDatabaseFlag": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the flag resource, following Google Cloud conventions, e.g.: * projects/{project}/locations/{location}/flags/{flag} This field currently has no semantic meaning."
          }
        },
        "flagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the database flag, e.g. \"max_allowed_packets\". The is a possibly key for the Instance.database_flags map field."
          }
        },
        "acceptsMultipleValues": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the database flag accepts multiple values. If true, a comma-separated list of stringified values may be specified."
          }
        },
        "integerRestrictions": {
          "target": "com.gcp.alloydb_v1alpha#IntegerRestrictions",
          "traits": {
            "smithy.api#documentation": "Restriction on INTEGER type value."
          }
        },
        "stringRestrictions": {
          "target": "com.gcp.alloydb_v1alpha#StringRestrictions",
          "traits": {
            "smithy.api#documentation": "Restriction on STRING type value."
          }
        },
        "valueType": {
          "target": "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagValueTypeEnum"
        },
        "scope": {
          "target": "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagScopeEnum",
          "traits": {
            "smithy.api#documentation": "The scope of the flag."
          }
        },
        "requiresDbRestart": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether setting or updating this flag on an Instance requires a database restart. If a flag that requires database restart is set, the backend will automatically restart the database (making sure to satisfy any availability SLO's)."
          }
        },
        "recommendedIntegerValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommended value for an INTEGER flag."
          }
        },
        "supportedDbVersions": {
          "target": "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagSupportedDbVersionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Major database engine versions for which this flag is supported."
          }
        },
        "recommendedStringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The recommended value for a STRING flag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SupportedDatabaseFlag gives general information about a database flag, like type and allowed values. This is a static value that is defined on the server side, and it cannot be modified by callers. To set the Database flags on a particular Instance, a caller should modify the Instance.database_flags field."
      }
    },
    "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagValueTypeEnum": {
      "type": "enum",
      "members": {
        "VALUE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALUE_TYPE_UNSPECIFIED"
          }
        },
        "STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRING"
          }
        },
        "INTEGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGER"
          }
        },
        "FLOAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOAT"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE"
          }
        },
        "CONNECTION_POOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_POOL"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagSupportedDbVersionsItemEnum": {
      "type": "enum",
      "members": {
        "DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "POSTGRES_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_13"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagSupportedDbVersionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.alloydb_v1alpha#SupportedDatabaseFlagSupportedDbVersionsItemEnum"
      }
    },
    "com.gcp.alloydb_v1alpha#CancelOperationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The request message for Operations.CancelOperation."
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata": {
      "type": "structure",
      "members": {
        "backupConfiguration": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "resourceId": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "isDeletionProtectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Disable validation warnings"
          }
        },
        "product": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProduct",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "backupRun": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupRun",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable validation warnings"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainUserLabels": {
      "type": "structure",
      "members": {
        "labels": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable validation warnings"
      }
    },
    "com.gcp.alloydb_v1alpha#Node": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The private IP address of the VM e.g. \"10.57.0.34\"."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Determined by state of the compute VM and postgres-service health. Compute VM state can have values listed in https://cloud.google.com/compute/docs/instances/instance-life-cycle and postgres-service health can have values: HEALTHY and UNHEALTHY."
          }
        },
        "isHotStandby": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates whether the node set up to be configured as a hot standby."
          }
        },
        "zoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The Compute Engine zone of the VM e.g. \"us-central1-b\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The identifier of the VM e.g. \"test-read-0601-407e52be-ms3l\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a single node in the instance. Nodes in an AlloyDB instance are ephemeral, they can change during update, failover, autohealing and resize operations."
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "type": "structure",
      "members": {
        "timestampBasedRetentionTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "quantityBasedRetention": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "retentionUnit": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainRetentionSettingsRetentionUnitEnum",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "timeBasedRetention": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "durationBasedRetention": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable validation warnings"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainRetentionSettingsRetentionUnitEnum": {
      "type": "enum",
      "members": {
        "RETENTION_UNIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETENTION_UNIT_UNSPECIFIED"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        },
        "TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME"
          }
        },
        "DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DURATION"
          }
        },
        "RETENTION_UNIT_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETENTION_UNIT_OTHER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupRun": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainOperationError",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "status": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupRunStatusEnum",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disable validation warnings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disable validation warnings"
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterPartnerapiV1mainBackupRunStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#Cluster": {
      "type": "structure",
      "members": {
        "initialUser": {
          "target": "com.gcp.alloydb_v1alpha#UserPassword",
          "traits": {
            "smithy.api#documentation": "Input only. Initial user to setup during cluster creation. Required. If used in `RestoreCluster` this is ignored."
          }
        },
        "secondaryConfig": {
          "target": "com.gcp.alloydb_v1alpha#SecondaryConfig",
          "traits": {
            "smithy.api#documentation": "Cross Region replication config specific to SECONDARY cluster."
          }
        },
        "backupdrBackupSource": {
          "target": "com.gcp.alloydb_v1alpha#BackupDrBackupSource",
          "traits": {
            "smithy.api#documentation": "Output only. Cluster created from a BackupDR backup."
          }
        },
        "labels": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time stamp"
          }
        },
        "geminiConfig": {
          "target": "com.gcp.alloydb_v1alpha#GeminiClusterConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated and unused. This field will be removed in the near future."
          }
        },
        "subscriptionType": {
          "target": "com.gcp.alloydb_v1alpha#ClusterSubscriptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Subscription type of the cluster."
          }
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "clusterType": {
          "target": "com.gcp.alloydb_v1alpha#ClusterClusterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The type of the cluster. This is an output-only field and it's populated at the Cluster creation time or the Cluster promotion time. The cluster type is determined by which RPC was used to create the cluster (i.e. `CreateCluster` vs. `CreateSecondaryCluster`"
          }
        },
        "maintenanceUpdatePolicy": {
          "target": "com.gcp.alloydb_v1alpha#MaintenanceUpdatePolicy",
          "traits": {
            "smithy.api#documentation": "Optional. The maintenance update policy determines when to allow or deny updates."
          }
        },
        "maintenanceVersionSelectionPolicy": {
          "target": "com.gcp.alloydb_v1alpha#ClusterMaintenanceVersionSelectionPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Input only. Policy to use to automatically select the maintenance version to which to update the cluster's instances."
          }
        },
        "state": {
          "target": "com.gcp.alloydb_v1alpha#ClusterStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The current serving state of the cluster."
          }
        },
        "backupdrInfo": {
          "target": "com.gcp.alloydb_v1alpha#BackupDrInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Output only information about BackupDR protection for this cluster."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}"
          }
        },
        "serviceAccountEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. AlloyDB per-cluster service account. This service account is created per-cluster per-project, and is different from the per-project service account. The per-cluster service account naming format is subject to change."
          }
        },
        "primaryConfig": {
          "target": "com.gcp.alloydb_v1alpha#PrimaryConfig",
          "traits": {
            "smithy.api#documentation": "Output only. Cross Region replication config specific to PRIMARY cluster."
          }
        },
        "reconciling": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Cluster does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance."
          }
        },
        "trialMetadata": {
          "target": "com.gcp.alloydb_v1alpha#TrialMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata for free trial clusters"
          }
        },
        "maintenanceSchedule": {
          "target": "com.gcp.alloydb_v1alpha#MaintenanceSchedule",
          "traits": {
            "smithy.api#documentation": "Output only. The maintenance schedule for the cluster, generated for a specific rollout if a maintenance window is set."
          }
        },
        "cloudsqlBackupRunSource": {
          "target": "com.gcp.alloydb_v1alpha#CloudSQLBackupRunSource",
          "traits": {
            "smithy.api#documentation": "Output only. Cluster created from CloudSQL snapshot."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-settable and human-readable display name for the Cluster."
          }
        },
        "encryptionConfig": {
          "target": "com.gcp.alloydb_v1alpha#EncryptionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For Resource freshness validation (https://google.aip.dev/154)"
          }
        },
        "migrationSource": {
          "target": "com.gcp.alloydb_v1alpha#MigrationSource",
          "traits": {
            "smithy.api#documentation": "Output only. Cluster created via DMS migration."
          }
        },
        "continuousBackupInfo": {
          "target": "com.gcp.alloydb_v1alpha#ContinuousBackupInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Continuous backup properties for this cluster."
          }
        },
        "sslConfig": {
          "target": "com.gcp.alloydb_v1alpha#SslConfig",
          "traits": {
            "smithy.api#documentation": "SSL configuration for this AlloyDB cluster."
          }
        },
        "tags": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time stamp"
          }
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. Reserved for future use."
          }
        },
        "encryptionInfo": {
          "target": "com.gcp.alloydb_v1alpha#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "Output only. The encryption information for the cluster."
          }
        },
        "dataplexConfig": {
          "target": "com.gcp.alloydb_v1alpha#DataplexConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for Dataplex integration."
          }
        },
        "automatedBackupPolicy": {
          "target": "com.gcp.alloydb_v1alpha#AutomatedBackupPolicy",
          "traits": {
            "smithy.api#documentation": "The automated backup policy for this cluster. If no policy is provided then the default policy will be used. If backups are supported for the cluster, the default policy takes one backup a day, has a backup window of 1 hour, and retains backups for 14 days. For more information on the defaults, consult the documentation for the message type."
          }
        },
        "backupSource": {
          "target": "com.gcp.alloydb_v1alpha#BackupSource",
          "traits": {
            "smithy.api#documentation": "Output only. Cluster created from backup."
          }
        },
        "databaseVersion": {
          "target": "com.gcp.alloydb_v1alpha#ClusterDatabaseVersionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The database engine major version. This is an optional field and it is populated at the Cluster creation time. If a database version is not supplied at cluster creation time, then a default database version will be used."
          }
        },
        "networkConfig": {
          "target": "com.gcp.alloydb_v1alpha#NetworkConfig",
          "traits": {
            "smithy.api#documentation": "Optional."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted."
          }
        },
        "annotations": {
          "target": "com.gcp.alloydb_v1alpha#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
          }
        },
        "network": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project}/global/networks/{network_id}`. This is required to create a cluster. Deprecated, use network_config.network instead."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Delete time stamp"
          }
        },
        "continuousBackupConfig": {
          "target": "com.gcp.alloydb_v1alpha#ContinuousBackupConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Continuous backup configuration for this cluster."
          }
        },
        "pscConfig": {
          "target": "com.gcp.alloydb_v1alpha#PscConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The configuration for Private Service Connect (PSC) for the cluster."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A cluster is a collection of regional AlloyDB resources. It can include a primary instance and one or more read pool instances. All cluster resources share a storage layer, which scales as needed."
      }
    },
    "com.gcp.alloydb_v1alpha#ClusterSubscriptionTypeEnum": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIPTION_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "TRIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIAL"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#ClusterClusterTypeEnum": {
      "type": "enum",
      "members": {
        "CLUSTER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_TYPE_UNSPECIFIED"
          }
        },
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "SECONDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#ClusterMaintenanceVersionSelectionPolicyEnum": {
      "type": "enum",
      "members": {
        "MAINTENANCE_VERSION_SELECTION_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE_VERSION_SELECTION_POLICY_UNSPECIFIED"
          }
        },
        "MAINTENANCE_VERSION_SELECTION_POLICY_LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE_VERSION_SELECTION_POLICY_LATEST"
          }
        },
        "MAINTENANCE_VERSION_SELECTION_POLICY_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE_VERSION_SELECTION_POLICY_DEFAULT"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#ClusterStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "EMPTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMPTY"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "BOOTSTRAPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOTSTRAPPING"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "PROMOTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMOTING"
          }
        },
        "SWITCHOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWITCHOVER"
          }
        },
        "RECREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECREATING"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#ClusterDatabaseVersionEnum": {
      "type": "enum",
      "members": {
        "DATABASE_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATABASE_VERSION_UNSPECIFIED"
          }
        },
        "POSTGRES_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_13"
          }
        },
        "POSTGRES_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_14"
          }
        },
        "POSTGRES_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_15"
          }
        },
        "POSTGRES_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_16"
          }
        },
        "POSTGRES_17": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_17"
          }
        },
        "POSTGRES_18": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES_18"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#Stats": {
      "type": "structure",
      "members": {
        "ongoing": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of read pool instances undergoing upgrade."
          }
        },
        "success": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of read pool instances successfully upgraded."
          }
        },
        "notStarted": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of read pool instances for which upgrade has not started."
          }
        },
        "failed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of read pool instances which failed to upgrade."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Upgrade stats for read pool instances."
      }
    },
    "com.gcp.alloydb_v1alpha#User": {
      "type": "structure",
      "members": {
        "databaseRoles": {
          "target": "com.gcp.alloydb_v1alpha#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of database roles this user has. The database role strings are subject to the PostgreSQL naming conventions."
          }
        },
        "keepExtraRoles": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Input only. If the user already exists and it has additional roles, keep them granted."
          }
        },
        "userType": {
          "target": "com.gcp.alloydb_v1alpha#UserUserTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Type of this user."
          }
        },
        "password": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. Password for the user."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the resource in the form of projects/{project}/locations/{location}/cluster/{cluster}/users/{user}."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing User object."
      }
    },
    "com.gcp.alloydb_v1alpha#UserUserTypeEnum": {
      "type": "enum",
      "members": {
        "USER_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_TYPE_UNSPECIFIED"
          }
        },
        "ALLOYDB_BUILT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOYDB_BUILT_IN"
          }
        },
        "ALLOYDB_IAM_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOYDB_IAM_USER"
          }
        },
        "ALLOYDB_IAM_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOYDB_IAM_GROUP"
          }
        },
        "ALLOYDB_IAM_GROUP_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOYDB_IAM_GROUP_USER"
          }
        },
        "ALLOYDB_IAM_GROUP_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOYDB_IAM_GROUP_SERVICE_ACCOUNT"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#ReadPoolInstancesUpgradeStageStatus": {
      "type": "structure",
      "members": {
        "upgradeStats": {
          "target": "com.gcp.alloydb_v1alpha#Stats",
          "traits": {
            "smithy.api#documentation": "Read pool instances upgrade statistics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Read pool instances upgrade specific status."
      }
    },
    "com.gcp.alloydb_v1alpha#DataplexConfig": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for Dataplex integration."
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProduct": {
      "type": "structure",
      "members": {
        "minorVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc.."
          }
        },
        "engine": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProductEngineEnum",
          "traits": {
            "smithy.api#documentation": "The specific engine that the underlying database is running."
          }
        },
        "type": {
          "target": "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProductTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of specific database product. It could be CloudSQL, AlloyDB etc.."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc.."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Product specification for Condor resources."
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProductEngineEnum": {
      "type": "enum",
      "members": {
        "ENGINE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_UNSPECIFIED"
          }
        },
        "ENGINE_MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MYSQL"
          }
        },
        "MYSQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYSQL"
          }
        },
        "ENGINE_POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_POSTGRES"
          }
        },
        "POSTGRES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRES"
          }
        },
        "ENGINE_SQL_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_SQL_SERVER"
          }
        },
        "SQL_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL_SERVER"
          }
        },
        "ENGINE_NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_NATIVE"
          }
        },
        "NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE"
          }
        },
        "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT"
          }
        },
        "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_REDIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_REDIS"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER"
          }
        },
        "ENGINE_MEMORYSTORE_FOR_VALKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_MEMORYSTORE_FOR_VALKEY"
          }
        },
        "ENGINE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_OTHER"
          }
        },
        "ENGINE_FIRESTORE_WITH_NATIVE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_NATIVE_MODE"
          }
        },
        "ENGINE_FIRESTORE_WITH_DATASTORE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_DATASTORE_MODE"
          }
        },
        "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE"
          }
        },
        "ENGINE_EXADATA_ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_EXADATA_ORACLE"
          }
        },
        "ENGINE_ADB_SERVERLESS_ORACLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENGINE_ADB_SERVERLESS_ORACLE"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#StorageDatabasecenterProtoCommonProductTypeEnum": {
      "type": "enum",
      "members": {
        "PRODUCT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_UNSPECIFIED"
          }
        },
        "PRODUCT_TYPE_CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_CLOUD_SQL"
          }
        },
        "CLOUD_SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL"
          }
        },
        "PRODUCT_TYPE_ALLOYDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ALLOYDB"
          }
        },
        "ALLOYDB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOYDB"
          }
        },
        "PRODUCT_TYPE_SPANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_SPANNER"
          }
        },
        "PRODUCT_TYPE_ON_PREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ON_PREM"
          }
        },
        "ON_PREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_PREM"
          }
        },
        "PRODUCT_TYPE_MEMORYSTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_MEMORYSTORE"
          }
        },
        "PRODUCT_TYPE_BIGTABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_BIGTABLE"
          }
        },
        "PRODUCT_TYPE_FIRESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_FIRESTORE"
          }
        },
        "PRODUCT_TYPE_COMPUTE_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_COMPUTE_ENGINE"
          }
        },
        "PRODUCT_TYPE_ORACLE_ON_GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_ORACLE_ON_GCP"
          }
        },
        "PRODUCT_TYPE_BIGQUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_BIGQUERY"
          }
        },
        "PRODUCT_TYPE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_TYPE_OTHER"
          }
        }
      }
    },
    "com.gcp.alloydb_v1alpha#Policy": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, autoscaling is enabled for the instance. If not set, the default value is false."
          }
        },
        "cpuUtilization": {
          "target": "com.gcp.alloydb_v1alpha#CpuUtilization",
          "traits": {
            "smithy.api#documentation": "CPU utilization policy for the autoscaler."
          }
        },
        "maxNodeCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Maximum number of nodes for the autoscaler."
          }
        },
        "coolDownPeriodSec": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The period of time in seconds after a new node is created before the autoscaler will incorporate its resource usage (e.g. CPU utilization) into the autoscaling recommendation algorithm."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Policy for the autoscaler."
      }
    },
    "com.gcp.alloydb_v1alpha#ExportClusterRequest": {
      "type": "structure",
      "members": {
        "csvExportOptions": {
          "target": "com.gcp.alloydb_v1alpha#CsvExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting data in CSV format. Required field to be set for CSV file type."
          }
        },
        "gcsDestination": {
          "target": "com.gcp.alloydb_v1alpha#GcsDestination",
          "traits": {
            "smithy.api#documentation": "Required. Option to export data to cloud storage."
          }
        },
        "database": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Name of the database where the export command will be executed. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference."
          }
        },
        "sqlExportOptions": {
          "target": "com.gcp.alloydb_v1alpha#SqlExportOptions",
          "traits": {
            "smithy.api#documentation": "Options for exporting data in SQL format. Required field to be set for SQL file type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Export cluster request."
      }
    },
    "com.gcp.alloydb_v1alpha#UpdatePolicy": {
      "type": "structure",
      "members": {
        "mode": {
          "target": "com.gcp.alloydb_v1alpha#UpdatePolicyModeEnum",
          "traits": {
[...]
