{
  "smithy": "2.0",
  "metadata": {
    "service": "assuredworkloads",
    "version": "v1beta1",
    "title": "Assured Workloads API",
    "baseUrl": "https://assuredworkloads.googleapis.com/"
  },
  "shapes": {
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ListDbControlComplianceSummariesResponse": {
      "type": "structure",
      "members": {
        "dbControlComplianceSummaries": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbControlComplianceSummaryList",
          "traits": {
            "smithy.api#documentation": "The list of control compliance details."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for ListDBControlComplianceSummaries."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbControlComplianceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbControlComplianceSummary"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate": {
      "type": "structure",
      "members": {
        "suggestedPolicy": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
          "traits": {
            "smithy.api#documentation": "The suggested org policy that replaces the applied policy."
          }
        },
        "appliedPolicy": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
          "traits": {
            "smithy.api#documentation": "The org policy currently applied on the assured workload resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an update for an org policy control applied on an Assured Workload resource. The inherited org policy is not considered."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for EnableResourceMonitoring endpoint."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails": {
      "type": "structure",
      "members": {
        "majorRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The major revision ID of the framework for the target resource."
          }
        },
        "minorRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minor revision ID of the framework for the target resource."
          }
        },
        "frameworkDeployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The framework deployment name for the target resource. For example, `organizations/{organization_id}/locations/{location}/frameworkDeployments/{framework_deployment_id}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The create time of the target resource."
          }
        },
        "targetResourceDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the target resource. For example, `google.com`, `staging-project`, or `development-folder`."
          }
        },
        "targetResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target resource. For example, `organizations/1234567890`, `projects/1234567890`, or `folders/1234567890`."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The update time of the target resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details for a target resource."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ListDbFrameworkComplianceSummariesResponse": {
      "type": "structure",
      "members": {
        "dbFrameworkComplianceSummaries": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummaryList",
          "traits": {
            "smithy.api#documentation": "The list of framework compliance summaries."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for ListDbFrameworkComplianceSummariesResponse."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummary"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails": {
      "type": "structure",
      "members": {
        "assessedPassingControls": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of controls that were assessed and are passing."
          }
        },
        "passingControls": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of controls that are passing or not assessed."
          }
        },
        "passingControlIds": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of controls that are passing or not assessed."
          }
        },
        "notAssessedControlIds": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of controls that aren't assessed because they require manual review."
          }
        },
        "failingControls": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of controls that are failing."
          }
        },
        "failingControlIds": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of controls that are failing."
          }
        },
        "assessedPassingControlIds": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of controls that were assessed and are passing."
          }
        },
        "notAssessedControls": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of controls that aren't assessed because they require manual review."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details for a control assessment."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1Trend": {
      "type": "structure",
      "members": {
        "valuePercent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Output only. The trend value as a percentage. The value can be positive or negative."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration for the trend."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The trend of a compliance metric."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CELExpression": {
      "type": "structure",
      "members": {
        "resourceTypesValues": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1StringList",
          "traits": {
            "smithy.api#documentation": "The resource instance types on which this expression is defined. The format is `/`. For example: `compute.googleapis.com/Instance`"
          }
        },
        "expression": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The logical expression in CEL. The maximum length of the condition is 1000 characters. For more information, see [CEL expression](https://cloud.google.com/security-command-center/docs/compliance-manager-write-cel-expressions)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Common Expression Language (CEL) expression that's used to create a rule."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The parent of the workload."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Time when the operation was created."
          }
        },
        "complianceRegime": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadataComplianceRegimeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Compliance controls that should be applied to the resources managed by the workload."
          }
        },
        "resourceSettings": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettingsList",
          "traits": {
            "smithy.api#documentation": "Optional. Resource properties in the input that are used for creating/customizing workload resources."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the workload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation metadata to give request details of CreateWorkload."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadataComplianceRegimeEnum": {
      "type": "enum",
      "members": {
        "COMPLIANCE_REGIME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLIANCE_REGIME_UNSPECIFIED"
          }
        },
        "ASSURED_WORKLOADS_FOR_PARTNERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSURED_WORKLOADS_FOR_PARTNERS"
          }
        },
        "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT"
          }
        },
        "CANADA_DATA_BOUNDARY_AND_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANADA_DATA_BOUNDARY_AND_SUPPORT"
          }
        },
        "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS"
          }
        },
        "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B"
          }
        },
        "DATA_BOUNDARY_FOR_CJIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_CJIS"
          }
        },
        "DATA_BOUNDARY_FOR_FEDRAMP_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_FEDRAMP_HIGH"
          }
        },
        "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE"
          }
        },
        "DATA_BOUNDARY_FOR_IL2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_IL2"
          }
        },
        "DATA_BOUNDARY_FOR_IL4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_IL4"
          }
        },
        "DATA_BOUNDARY_FOR_IL5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_IL5"
          }
        },
        "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075"
          }
        },
        "DATA_BOUNDARY_FOR_ITAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_BOUNDARY_FOR_ITAR"
          }
        },
        "EU_DATA_BOUNDARY_AND_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU_DATA_BOUNDARY_AND_SUPPORT"
          }
        },
        "ISRAEL_DATA_BOUNDARY_AND_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISRAEL_DATA_BOUNDARY_AND_SUPPORT"
          }
        },
        "JAPAN_DATA_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JAPAN_DATA_BOUNDARY"
          }
        },
        "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWITZERLAND_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS"
          }
        },
        "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS"
          }
        },
        "REGIONAL_DATA_BOUNDARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_DATA_BOUNDARY"
          }
        },
        "US_DATA_BOUNDARY_AND_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US_DATA_BOUNDARY_AND_SUPPORT"
          }
        },
        "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES"
          }
        },
        "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT"
          }
        },
        "AU_REGIONS_AND_US_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU_REGIONS_AND_US_SUPPORT"
          }
        },
        "CA_PROTECTED_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_PROTECTED_B"
          }
        },
        "CA_REGIONS_AND_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_REGIONS_AND_SUPPORT"
          }
        },
        "CANADA_CONTROLLED_GOODS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANADA_CONTROLLED_GOODS"
          }
        },
        "CJIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CJIS"
          }
        },
        "EU_REGIONS_AND_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EU_REGIONS_AND_SUPPORT"
          }
        },
        "FEDRAMP_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDRAMP_HIGH"
          }
        },
        "FEDRAMP_MODERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEDRAMP_MODERATE"
          }
        },
        "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS"
          }
        },
        "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT"
          }
        },
        "HIPAA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIPAA"
          }
        },
        "HITRUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HITRUST"
          }
        },
        "IL2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL2"
          }
        },
        "IL4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL4"
          }
        },
        "IL5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL5"
          }
        },
        "IRS_1075": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IRS_1075"
          }
        },
        "ISR_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISR_REGIONS"
          }
        },
        "ISR_REGIONS_AND_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISR_REGIONS_AND_SUPPORT"
          }
        },
        "ITAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITAR"
          }
        },
        "JP_REGIONS_AND_SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP_REGIONS_AND_SUPPORT"
          }
        },
        "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS"
          }
        },
        "REGIONAL_CONTROLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGIONAL_CONTROLS"
          }
        },
        "US_REGIONAL_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US_REGIONAL_ACCESS"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the update was last updated."
          }
        },
        "details": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1UpdateDetails",
          "traits": {
            "smithy.api#documentation": "The details of the update."
          }
        },
        "state": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadUpdateStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the update."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the update was created."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A workload update is a change to the workload's compliance configuration."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadUpdateStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLIED"
          }
        },
        "WITHDRAWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WITHDRAWN"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis": {
      "type": "structure",
      "members": {
        "analysisGroups": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroupList",
          "traits": {
            "smithy.api#documentation": "List of eligible analyses performed for the asset."
          }
        },
        "asset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1"
          }
        },
        "assetType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents move analysis results for an asset."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup": {
      "type": "structure",
      "members": {
        "analysisResult": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult",
          "traits": {
            "smithy.api#documentation": "Result of a successful analysis."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the analysis group."
          }
        },
        "error": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "Error details for a failed analysis."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for EnableComplianceUpdates endpoint."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetails": {
      "type": "structure",
      "members": {
        "findingsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of findings for the cloud control."
          }
        },
        "evaluationState": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetailsEvaluationStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The evaluation status of the cloud control."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cloud control assessment details for non-manual cloud controls."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetailsEvaluationStateEnum": {
      "type": "enum",
      "members": {
        "EVALUATION_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_STATE_UNSPECIFIED"
          }
        },
        "EVALUATION_STATE_PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_STATE_PASSED"
          }
        },
        "EVALUATION_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_STATE_FAILED"
          }
        },
        "EVALUATION_STATE_NOT_ASSESSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVALUATION_STATE_NOT_ASSESSED"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ListDbFindingSummariesResponse": {
      "type": "structure",
      "members": {
        "dbFindingSummaries": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFindingSummaryList",
          "traits": {
            "smithy.api#documentation": "List of finding summary by category."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The token to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for ListDbFindingSummaries."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFindingSummaryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFindingSummary"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "response": {
          "target": "com.gcp.assuredworkloads_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.assuredworkloads_v1beta1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions": {
      "type": "structure",
      "members": {
        "kajEnrollmentType": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptionsKajEnrollmentTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies type of KAJ Enrollment if provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Options to be set for the given created workload."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptionsKajEnrollmentTypeEnum": {
      "type": "enum",
      "members": {
        "KAJ_ENROLLMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KAJ_ENROLLMENT_TYPE_UNSPECIFIED"
          }
        },
        "KEY_ACCESS_TRANSPARENCY_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_ACCESS_TRANSPARENCY_OFF"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ArchiveResourceEventsResponse": {
      "type": "structure",
      "members": {
        "movedEventsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of events successfully moved to the archive table."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for archiving resource events."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "unreachable": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1Rule": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The rule description. The maximum length is 2000 characters."
          }
        },
        "celExpression": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CELExpression",
          "traits": {
            "smithy.api#documentation": "The rule's logic expression in Common Expression Language (CEL)."
          }
        },
        "ruleActionTypes": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RuleRuleActionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The functionality that's enabled by the rule."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rule in the cloud control."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RuleRuleActionTypesItemEnum": {
      "type": "enum",
      "members": {
        "RULE_ACTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_ACTION_TYPE_UNSPECIFIED"
          }
        },
        "RULE_ACTION_TYPE_PREVENTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_ACTION_TYPE_PREVENTIVE"
          }
        },
        "RULE_ACTION_TYPE_DETECTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_ACTION_TYPE_DETECTIVE"
          }
        },
        "RULE_ACTION_TYPE_AUDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_ACTION_TYPE_AUDIT"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RuleRuleActionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RuleRuleActionTypesItemEnum"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponse": {
      "type": "structure",
      "members": {
        "frameworkDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name for the framework."
          }
        },
        "minorRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest minor revision ID of the latest major revision of the framework."
          }
        },
        "controlAssessmentDetails": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails",
          "traits": {
            "smithy.api#documentation": "The control assessment details of the framework."
          }
        },
        "frameworkDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the framework."
          }
        },
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the framework."
          }
        },
        "supportedCloudProviders": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseSupportedCloudProvidersItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of cloud providers that are supported by the framework."
          }
        },
        "majorRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The latest major revision ID of the framework."
          }
        },
        "frameworkType": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseFrameworkTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the framework."
          }
        },
        "frameworkCategories": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseFrameworkCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of framework categories supported."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the framework compliance report."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last updated time of the report."
          }
        },
        "targetResourceDetails": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1TargetResourceDetailsList",
          "traits": {
            "smithy.api#documentation": "The target resource details of the framework."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for FetchDbFrameworkComplianceReport."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseSupportedCloudProvidersItemEnum": {
      "type": "enum",
      "members": {
        "CLOUD_PROVIDER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_PROVIDER_UNSPECIFIED"
          }
        },
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZURE"
          }
        },
        "GCP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCP"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseSupportedCloudProvidersItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseSupportedCloudProvidersItemEnum"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseFrameworkTypeEnum": {
      "type": "enum",
      "members": {
        "FRAMEWORK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAMEWORK_TYPE_UNSPECIFIED"
          }
        },
        "BUILT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILT_IN"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseFrameworkCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "FRAMEWORK_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAMEWORK_CATEGORY_UNSPECIFIED"
          }
        },
        "INDUSTRY_DEFINED_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDUSTRY_DEFINED_STANDARD"
          }
        },
        "ASSURED_WORKLOADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSURED_WORKLOADS"
          }
        },
        "DATA_SECURITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SECURITY"
          }
        },
        "GOOGLE_BEST_PRACTICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_BEST_PRACTICES"
          }
        },
        "CUSTOM_FRAMEWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_FRAMEWORK"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseFrameworkCategoriesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1FetchDbFrameworkComplianceReportResponseFrameworkCategoriesItemEnum"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1TargetResourceDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1TargetResourceDetails"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for restricting the list of allowed resources."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse": {
      "type": "structure",
      "members": {
        "assetMoveAnalyses": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysisList",
          "traits": {
            "smithy.api#documentation": "List of analysis results for each asset in scope."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token. Is empty if the last page is reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response containing the analysis results for the hypothetical resource move."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysisList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "type": "structure",
      "members": {
        "kmsSettings": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "traits": {
            "smithy.api#documentation": "Input only. Immutable. Settings used to create a CMEK crypto key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings specific to resources needed for FedRAMP Moderate."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Resource identifier. For a project this represents project_number."
          }
        },
        "resourceType": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfoResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the type of resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represent the resources that are children of this Workload."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfoResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "CONSUMER_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER_PROJECT"
          }
        },
        "CONSUMER_FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER_FOLDER"
          }
        },
        "ENCRYPTION_KEYS_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_KEYS_PROJECT"
          }
        },
        "KEYRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYRING"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport": {
      "type": "structure",
      "members": {
        "reportTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The report time of the aggregated compliance report."
          }
        },
        "controlAssessmentDetails": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails",
          "traits": {
            "smithy.api#documentation": "The control assessment details of the framework."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The aggregated compliance report."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "type": "structure",
      "members": {
        "kmsSettings": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "traits": {
            "smithy.api#documentation": "Input only. Immutable. Settings used to create a CMEK crypto key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings specific to resources needed for IL4."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1StringList": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. The strings in the list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of strings for the parameter value."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus": {
      "type": "structure",
      "members": {
        "acknowledgedViolationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of current orgPolicy violations which are acknowledged."
          }
        },
        "acknowledgedResourceViolationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of current resource violations which are not acknowledged."
          }
        },
        "activeViolationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of current orgPolicy violations which are not acknowledged."
          }
        },
        "activeResourceViolationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of current resource violations which are acknowledged."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the Compliance Status of this workload"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Business justification explaining the need for violation acknowledgement"
          }
        },
        "nonCompliantOrgPolicy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}"
          }
        },
        "acknowledgeType": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequestAcknowledgeTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Acknowledge type of specified violation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for acknowledging the violation"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequestAcknowledgeTypeEnum": {
      "type": "enum",
      "members": {
        "ACKNOWLEDGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACKNOWLEDGE_TYPE_UNSPECIFIED"
          }
        },
        "SINGLE_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_VIOLATION"
          }
        },
        "EXISTING_CHILD_RESOURCE_VIOLATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues": {
      "type": "structure",
      "members": {
        "allowedValues": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of values allowed at this resource."
          }
        },
        "deniedValues": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "List of values denied at this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The values allowed for a ListPolicy."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ManualCloudControlAssessmentDetails": {
      "type": "structure",
      "members": {
        "manualCloudControlGuide": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The guide for assessing a cloud control manually."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details for a manual cloud control assessment."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues",
          "traits": {
            "smithy.api#documentation": "ListPolicy only when custom values are specified."
          }
        },
        "allowAll": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "ListPolicy only when all values are allowed."
          }
        },
        "enforce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "BooleanPolicy only."
          }
        },
        "denyAll": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "ListPolicy only when all values are denied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rule used to express this policy."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext": {
      "type": "structure",
      "members": {
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the user (or service account) who acknowledged the violation."
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business justification provided towards the acknowledgement of the violation."
          }
        },
        "acknowledgementTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp when the violation was acknowledged."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Violation exception detail."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse": {
      "type": "structure",
      "members": {
        "ekmProvisioningErrorDomain": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponseEkmProvisioningErrorDomainEnum",
          "traits": {
            "smithy.api#documentation": "Indicates Ekm provisioning error if any."
          }
        },
        "ekmProvisioningErrorMapping": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponseEkmProvisioningErrorMappingEnum",
          "traits": {
            "smithy.api#documentation": "Detailed error message if Ekm provisioning fails"
          }
        },
        "ekmProvisioningState": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponseEkmProvisioningStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates Ekm enrollment Provisioning of a given workload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "External key management systems(EKM) Provisioning response"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponseEkmProvisioningErrorDomainEnum": {
      "type": "enum",
      "members": {
        "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED"
          }
        },
        "UNSPECIFIED_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED_ERROR"
          }
        },
        "GOOGLE_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_SERVER_ERROR"
          }
        },
        "EXTERNAL_USER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_USER_ERROR"
          }
        },
        "EXTERNAL_PARTNER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_PARTNER_ERROR"
          }
        },
        "TIMEOUT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUT_ERROR"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponseEkmProvisioningErrorMappingEnum": {
      "type": "enum",
      "members": {
        "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED"
          }
        },
        "INVALID_SERVICE_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_SERVICE_ACCOUNT"
          }
        },
        "MISSING_METRICS_SCOPE_ADMIN_PERMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_METRICS_SCOPE_ADMIN_PERMISSION"
          }
        },
        "MISSING_EKM_CONNECTION_ADMIN_PERMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponseEkmProvisioningStateEnum": {
      "type": "enum",
      "members": {
        "EKM_PROVISIONING_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKM_PROVISIONING_STATE_UNSPECIFIED"
          }
        },
        "EKM_PROVISIONING_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKM_PROVISIONING_STATE_PENDING"
          }
        },
        "EKM_PROVISIONING_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKM_PROVISIONING_STATE_FAILED"
          }
        },
        "EKM_PROVISIONING_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKM_PROVISIONING_STATE_COMPLETED"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFindingSummary": {
      "type": "structure",
      "members": {
        "findingCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The count of the finding."
          }
        },
        "findingClass": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFindingSummaryFindingClassEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The class of the finding."
          }
        },
        "resourceFindingCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of active resource findings for this category."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the finding summary."
          }
        },
        "relatedFrameworks": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of compliance frameworks that the finding belongs to."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The last updated time of the finding."
          }
        },
        "findingCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The category of the finding."
          }
        },
        "severity": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFindingSummarySeverityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The severity of the finding."
          }
        },
        "organizationPolicyFindingCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of active organization policy findings for this category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details for a finding."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFindingSummaryFindingClassEnum": {
      "type": "enum",
      "members": {
        "FINDING_CLASS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINDING_CLASS_UNSPECIFIED"
          }
        },
        "THREAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THREAT"
          }
        },
        "VULNERABILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VULNERABILITY"
          }
        },
        "MISCONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURATION"
          }
        },
        "OBSERVATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBSERVATION"
          }
        },
        "SCC_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCC_ERROR"
          }
        },
        "POSTURE_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTURE_VIOLATION"
          }
        },
        "TOXIC_COMBINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOXIC_COMBINATION"
          }
        },
        "SENSITIVE_DATA_RISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVE_DATA_RISK"
          }
        },
        "CHOKEPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHOKEPOINT"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFindingSummarySeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Output only. The time the operation was created."
          }
        },
        "action": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateOperationMetadataActionEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The time the operation was created."
          }
        },
        "updateName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the update"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Operation metadata to give request details of ApplyWorkloadUpdate."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateOperationMetadataActionEnum": {
      "type": "enum",
      "members": {
        "WORKLOAD_UPDATE_ACTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKLOAD_UPDATE_ACTION_UNSPECIFIED"
          }
        },
        "APPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLY"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions": {
      "type": "structure",
      "members": {
        "dataLogsViewer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Allow the partner to view inspectability logs and monitoring violations."
          }
        },
        "serviceAccessApprover": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Allow partner to view access approval logs."
          }
        },
        "assuredWorkloadsMonitoring": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Allow partner to view violation alerts."
          }
        },
        "accessTransparencyLogsSupportCaseViewer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Allow partner to view support case details for an AXT log"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Permissions granted to the AW Partner SA account for the customer workload"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RevertArchivedResourceEventsRequest": {
      "type": "structure",
      "members": {
        "maxEventsMove": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The maximum total number of events to move in this request."
          }
        },
        "organizationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The organization ID for which to revert events."
          }
        },
        "archiveEndTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong."
          }
        },
        "archiveStartTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Only events within this time range will be reverted. This helps prevent reverting everything when something goes wrong."
          }
        },
        "batchSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Required. The number of events to process in a single transaction batch."
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The region of the workload(s) whose events should be reverted. This is used to filter workloads based on AssurantWorkloadData.region."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for reverting archived resource events."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for violation acknowledgement"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name."
          }
        },
        "resourceType": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettingsResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represent the custom settings for the resources to be created."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettingsResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE_UNSPECIFIED"
          }
        },
        "CONSUMER_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER_PROJECT"
          }
        },
        "CONSUMER_FOLDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSUMER_FOLDER"
          }
        },
        "ENCRYPTION_KEYS_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_KEYS_PROJECT"
          }
        },
        "KEYRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEYRING"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Steps to resolve violation via gcloud cli"
          }
        },
        "additionalLinks": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Additional urls for more information about steps"
          }
        },
        "gcloudCommands": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Gcloud command to resolve violation"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remediation instructions to resolve violation via gcloud cli"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AggregateDbFrameworkComplianceReportResponse": {
      "type": "structure",
      "members": {
        "aggregatedComplianceReports": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReportList",
          "traits": {
            "smithy.api#documentation": "The list of aggregated compliance reports."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for AggregateDbFrameworkComplianceReport."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1AggregatedComplianceReport"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse": {
      "type": "structure",
      "members": {
        "setupStatus": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponseSetupStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Indicates SAA enrollment status of a given workload."
          }
        },
        "setupErrors": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponseSetupErrorsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Indicates SAA enrollment setup error if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Signed Access Approvals (SAA) enrollment response."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponseSetupStatusEnum": {
      "type": "enum",
      "members": {
        "SETUP_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP_STATE_UNSPECIFIED"
          }
        },
        "STATUS_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_PENDING"
          }
        },
        "STATUS_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_COMPLETE"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponseSetupErrorsItemEnum": {
      "type": "enum",
      "members": {
        "SETUP_ERROR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SETUP_ERROR_UNSPECIFIED"
          }
        },
        "ERROR_INVALID_BASE_SETUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_INVALID_BASE_SETUP"
          }
        },
        "ERROR_MISSING_EXTERNAL_SIGNING_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_MISSING_EXTERNAL_SIGNING_KEY"
          }
        },
        "ERROR_NOT_ALL_SERVICES_ENROLLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_NOT_ALL_SERVICES_ENROLLED"
          }
        },
        "ERROR_SETUP_CHECK_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR_SETUP_CHECK_FAILED"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponseSetupErrorsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponseSetupErrorsItemEnum"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlReport": {
      "type": "structure",
      "members": {
        "rules": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RuleList",
          "traits": {
            "smithy.api#documentation": "The list of rules that correspond to the cloud control."
          }
        },
        "cloudControl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the cloud control."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The description of the cloud control."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the cloud control."
          }
        },
        "findingCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The category of the finding."
          }
        },
        "frameworkMajorRevisionIds": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The major revision IDs of the frameworks that the cloud control belongs to."
          }
        },
        "findingSeverity": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlReportFindingSeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the finding."
          }
        },
        "minorRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minor revision ID of the cloud control."
          }
        },
        "cloudControlDeployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the cloud control deployment."
          }
        },
        "enforcementMode": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlReportEnforcementModeEnum",
          "traits": {
            "smithy.api#documentation": "The enforcement mode of the cloud control."
          }
        },
        "majorRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The major revision ID of the cloud control."
          }
        },
        "cloudControlType": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlReportCloudControlTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the cloud control."
          }
        },
        "similarControls": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1SimilarControlsList",
          "traits": {
            "smithy.api#documentation": "The list of similar controls."
          }
        },
        "cloudControlAssessmentDetails": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlAssessmentDetails",
          "traits": {
            "smithy.api#documentation": "The details of a cloud control assessment."
          }
        },
        "categories": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "The list of categories for the cloud control."
          }
        },
        "manualCloudControlAssessmentDetails": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ManualCloudControlAssessmentDetails",
          "traits": {
            "smithy.api#documentation": "The details of a manual cloud control assessment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cloud control report."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1Rule"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlReportFindingSeverityEnum": {
      "type": "enum",
      "members": {
        "SEVERITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEVERITY_UNSPECIFIED"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlReportEnforcementModeEnum": {
      "type": "enum",
      "members": {
        "ENFORCEMENT_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENFORCEMENT_MODE_UNSPECIFIED"
          }
        },
        "PREVENTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVENTIVE"
          }
        },
        "DETECTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTIVE"
          }
        },
        "AUDIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIT"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1CloudControlReportCloudControlTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "BUILT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILT_IN"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1SimilarControlsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1SimilarControls"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions": {
      "type": "structure",
      "members": {
        "gcloudInstructions": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
          "traits": {
            "smithy.api#documentation": "Remediation instructions to resolve violation via gcloud cli"
          }
        },
        "consoleInstructions": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
          "traits": {
            "smithy.api#documentation": "Remediation instructions to resolve violation via cloud console"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instructions to remediate violation"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest": {
      "type": "structure",
      "members": {
        "restrictionType": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequestRestrictionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The type of restriction for using gcp products in the Workload environment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for restricting list of available resources in Workload environment."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequestRestrictionTypeEnum": {
      "type": "enum",
      "members": {
        "RESTRICTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTION_TYPE_UNSPECIFIED"
          }
        },
        "ALLOW_ALL_GCP_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ALL_GCP_RESOURCES"
          }
        },
        "ALLOW_COMPLIANT_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_COMPLIANT_RESOURCES"
          }
        },
        "APPEND_COMPLIANT_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND_COMPLIANT_RESOURCES"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "type": "structure",
      "members": {
        "kmsSettings": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "traits": {
            "smithy.api#documentation": "Input only. Immutable. Settings used to create a CMEK crypto key."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings specific to resources needed for FedRAMP High."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse": {
      "type": "structure",
      "members": {
        "workloads": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadList",
          "traits": {
            "smithy.api#documentation": "List of Workloads under a given parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token. Return empty if reached the last page."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of ListWorkloads endpoint."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1Workload"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse": {
      "type": "structure",
      "members": {
        "appliedUpdate": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
          "traits": {
            "smithy.api#documentation": "The update that was applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for ApplyWorkloadUpdate endpoint."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleRpcStatus": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.gcp.assuredworkloads_v1beta1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#DocumentMap"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of violations."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token. Returns empty if reached the last page."
          }
        },
        "violations": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationList",
          "traits": {
            "smithy.api#documentation": "List of Violations under a Workload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of ListViolations endpoint."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1Violation"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationRemediation": {
      "type": "structure",
      "members": {
        "compliantValues": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values"
          }
        },
        "remediationType": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationRemediationRemediationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Reemediation type based on the type of org policy values violated"
          }
        },
        "instructions": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions",
          "traits": {
            "smithy.api#documentation": "Required. Remediation instructions to resolve violations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents remediation guidance to resolve compliance violation for AssuredWorkload"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationRemediationRemediationTypeEnum": {
      "type": "enum",
      "members": {
        "REMEDIATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMEDIATION_TYPE_UNSPECIFIED"
          }
        },
        "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION"
          }
        },
        "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION"
          }
        },
        "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION"
          }
        },
        "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION"
          }
        },
        "REMEDIATION_RESOURCE_VIOLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMEDIATION_RESOURCE_VIOLATION"
          }
        },
        "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Steps to resolve violation via cloud console"
          }
        },
        "additionalLinks": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Additional urls for more information about steps"
          }
        },
        "consoleUris": {
          "target": "com.gcp.assuredworkloads_v1beta1#StringList",
          "traits": {
            "smithy.api#documentation": "Link to console page where violations can be resolved"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remediation instructions to resolve violation via cloud console"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleProtobufEmpty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1SimilarControls": {
      "type": "structure",
      "members": {
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the framework."
          }
        },
        "controlId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the control."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The similar controls."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummary": {
      "type": "structure",
      "members": {
        "frameworkType": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummaryFrameworkTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of framework."
          }
        },
        "frameworkCategories": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummaryFrameworkCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of framework categories supported by the framework."
          }
        },
        "majorRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The major revision ID of the framework."
          }
        },
        "controlsPassingTrend": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1Trend",
          "traits": {
            "smithy.api#documentation": "Output only. The trend of controls that are passing for the given duration."
          }
        },
        "findingCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The count of the findings generated against the framework."
          }
        },
        "framework": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the framework."
          }
        },
        "targetResourceDetails": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1TargetResourceDetailsList",
          "traits": {
            "smithy.api#documentation": "The target resource details for the framework."
          }
        },
        "supportedCloudProviders": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummarySupportedCloudProvidersItemEnumList",
          "traits": {
            "smithy.api#documentation": "The list of cloud providers supported by the framework."
          }
        },
        "minorRevisionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The minor revision ID of the framework."
          }
        },
        "controlAssessmentDetails": {
          "target": "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1ControlAssessmentDetails",
          "traits": {
            "smithy.api#documentation": "The control assessment details of the framework."
          }
        },
        "frameworkDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name for the framework."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The name of the framework compliance summary."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The details for a framework compliance summary."
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummaryFrameworkTypeEnum": {
      "type": "enum",
      "members": {
        "FRAMEWORK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAMEWORK_TYPE_UNSPECIFIED"
          }
        },
        "BUILT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILT_IN"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.gcp.assuredworkloads_v1beta1#GoogleCloudAssuredworkloadsV1beta1DbFrameworkComplianceSummaryFrameworkCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "FRAMEWORK_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
