{
  "smithy": "2.0",
  "metadata": {
    "service": "dialogflow",
    "version": "v2",
    "title": "Dialogflow API",
    "baseUrl": "https://dialogflow.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1EntityTypeEntity": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        },
        "synonyms": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "type": "structure",
      "members": {
        "candidatesTokenCount": {
          "target": "smithy.api#Integer"
        },
        "promptTokenCount": {
          "target": "smithy.api#Integer"
        },
        "totalTokenCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ImportFlowResponse": {
      "type": "structure",
      "members": {
        "flow": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContent": {
      "type": "structure",
      "members": {
        "mediaType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentMediaTypeEnum"
        },
        "mediaObjects": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObjectList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentMediaTypeEnum": {
      "type": "enum",
      "members": {
        "RESPONSE_MEDIA_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_MEDIA_TYPE_UNSPECIFIED"
          }
        },
        "AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContentResponseMediaObject"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfig": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfigCategoryEnum"
        },
        "sensitivityLevel": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfigSensitivityLevelEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfigCategoryEnum": {
      "type": "enum",
      "members": {
        "RAI_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RAI_CATEGORY_UNSPECIFIED"
          }
        },
        "DANGEROUS_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANGEROUS_CONTENT"
          }
        },
        "SEXUALLY_EXPLICIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEXUALLY_EXPLICIT"
          }
        },
        "HARASSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARASSMENT"
          }
        },
        "HATE_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HATE_SPEECH"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RaiSettingsRaiCategoryConfigSensitivityLevelEnum": {
      "type": "enum",
      "members": {
        "SENSITIVITY_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENSITIVITY_LEVEL_UNSPECIFIED"
          }
        },
        "BLOCK_MOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_MOST"
          }
        },
        "BLOCK_SOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_SOME"
          }
        },
        "BLOCK_FEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_FEW"
          }
        },
        "BLOCK_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_NONE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationProcessConfig": {
      "type": "structure",
      "members": {
        "recentSentencesCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource": {
      "type": "structure",
      "members": {
        "knowledgeBases": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageList"
        },
        "mergeBehavior": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponseMergeBehaviorEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessage"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponseMergeBehaviorEnum": {
      "type": "enum",
      "members": {
        "MERGE_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_BEHAVIOR_UNSPECIFIED"
          }
        },
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "type": "structure",
      "members": {
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "knowledgeAssistAnswer": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        },
        "additionalSuggestedQueryResults": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResultList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpecControlPoint": {
      "type": "structure",
      "members": {
        "boostAmount": {
          "target": "smithy.api#Double"
        },
        "attributeValue": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentHistoryEntry": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "agentVersion": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "type": "structure",
      "members": {
        "repeatCount": {
          "target": "smithy.api#Integer"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "parts": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePartList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudLocationListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudLocationLocationList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudLocationLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudLocationLocation"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Environment"
        },
        "deployment": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Webhook": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "genericWebService": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "serviceDirectory": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "timeout": {
          "target": "smithy.api#String"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FreeFormContext": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Environment": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentStateEnum"
        },
        "textToSpeechSettings": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2TextToSpeechSettings"
        },
        "agentVersion": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "fulfillment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Fulfillment"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "updateTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "LOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOADING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TextInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3AudioInput": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ImportFlowResponse": {
      "type": "structure",
      "members": {
        "flow": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1BatchRunTestCasesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCaseResultList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCaseResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCaseResult"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2WebhookResponse": {
      "type": "structure",
      "members": {
        "followupEventInput": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EventInput"
        },
        "source": {
          "target": "smithy.api#String"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "sessionEntityTypes": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SessionEntityTypeList"
        },
        "fulfillmentMessages": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageList"
        },
        "outputContexts": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ContextList"
        },
        "fulfillmentText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SessionEntityTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SessionEntityType"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessage"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Context"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "type": "structure",
      "members": {
        "entityType": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "alias": {
          "target": "smithy.api#String"
        },
        "userDefined": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageSuggestions": {
      "type": "structure",
      "members": {
        "suggestions": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageSuggestion"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3IntentParameter": {
      "type": "structure",
      "members": {
        "isList": {
          "target": "smithy.api#Boolean"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "entityType": {
          "target": "smithy.api#String"
        },
        "redact": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthentication": {
      "type": "structure",
      "members": {
        "oauthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        },
        "apiKeyConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        },
        "serviceAgentAuthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        },
        "bearerTokenConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolCallResult": {
      "type": "structure",
      "members": {
        "rawContent": {
          "target": "smithy.api#String"
        },
        "cesTool": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolCallResultError"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "cesApp": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "cesToolset": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolFunctionTool": {
      "type": "structure",
      "members": {
        "methodType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolFunctionToolMethodTypeEnum"
        },
        "inputSchema": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "outputSchema": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolFunctionToolMethodTypeEnum": {
      "type": "enum",
      "members": {
        "METHOD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHOD_TYPE_UNSPECIFIED"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2BatchUpdateEntitiesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String"
        },
        "entities": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EntityTypeEntityList"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EntityTypeEntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EntityTypeEntity"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ExportIntentsMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ToolCall": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String"
        },
        "inputParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "action": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "type": "structure",
      "members": {
        "triggeredIntent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Intent"
        },
        "sessionParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "diagnosticInfo": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "differences": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestRunDifferenceList"
        },
        "status": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
        },
        "textResponses": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageTextList"
        },
        "currentPage": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Page"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestRunDifferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestRunDifference"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageTextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageText"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListSessionEntityTypesResponse": {
      "type": "structure",
      "members": {
        "sessionEntityTypes": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SessionEntityTypeList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GcsSources": {
      "type": "structure",
      "members": {
        "uris": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCase": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "notes": {
          "target": "smithy.api#String"
        },
        "creationTime": {
          "target": "smithy.api#String"
        },
        "testConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestConfig"
        },
        "testCaseConversationTurns": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ConversationTurnList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "tags": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "lastTestResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ConversationTurnList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ConversationTurn"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ConversationEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ConversationEventTypeEnum"
        },
        "newRecognitionResultPayload": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1StreamingRecognitionResult"
        },
        "conversation": {
          "target": "smithy.api#String"
        },
        "newMessagePayload": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1Message"
        },
        "errorStatus": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ConversationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CONVERSATION_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_STARTED"
          }
        },
        "CONVERSATION_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_FINISHED"
          }
        },
        "HUMAN_INTERVENTION_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_INTERVENTION_NEEDED"
          }
        },
        "NEW_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_MESSAGE"
          }
        },
        "NEW_RECOGNITION_RESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_RECOGNITION_RESULT"
          }
        },
        "UNRECOVERABLE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRECOVERABLE_ERROR"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery": {
      "type": "structure",
      "members": {
        "queryText": {
          "target": "smithy.api#String"
        },
        "searchContexts": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContextList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuerySearchContext"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Intent": {
      "type": "structure",
      "members": {
        "dtmfPattern": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "labels": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "priority": {
          "target": "smithy.api#Integer"
        },
        "trainingPhrases": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhraseList"
        },
        "isFallback": {
          "target": "smithy.api#Boolean"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentParameterList"
        }
      }
    },
    "com.gcp.dialogflow_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhraseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentParameter"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DetectIntentRequest": {
      "type": "structure",
      "members": {
        "queryParams": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2QueryParameters"
        },
        "queryInput": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2QueryInput"
        },
        "outputAudioConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "inputAudio": {
          "target": "smithy.api#String"
        },
        "outputAudioConfigMask": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListMessagesResponse": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Message"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListKnowledgeBasesResponse": {
      "type": "structure",
      "members": {
        "knowledgeBases": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeBaseList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeBaseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeBase"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Generator": {
      "type": "structure",
      "members": {
        "cesToolSpecs": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpecList"
        },
        "cesAppSpecs": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesAppSpecList"
        },
        "freeFormContext": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FreeFormContext"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "agentCoachingContext": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingContext"
        },
        "summarizationContext": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationContext"
        },
        "toolsetTools": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolsetToolList"
        },
        "suggestionDedupingConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionDedupingConfig"
        },
        "inferenceParameter": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InferenceParameter"
        },
        "tools": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "triggerEvent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorTriggerEventEnum"
        },
        "publishedModel": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpec"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesAppSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesAppSpec"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolsetToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolsetTool"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorTriggerEventEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_EVENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_EVENT_UNSPECIFIED"
          }
        },
        "END_OF_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_UTTERANCE"
          }
        },
        "MANUAL_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CALL"
          }
        },
        "CUSTOMER_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MESSAGE"
          }
        },
        "AGENT_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_MESSAGE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfo": {
      "type": "structure",
      "members": {
        "dialedNumber": {
          "target": "smithy.api#String"
        },
        "sdp": {
          "target": "smithy.api#String"
        },
        "sipHeaders": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeaderList"
        },
        "extraMimeContents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContentList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContent"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestCaseErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestCaseErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestCaseError"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentHandoffConfigLivePersonConfig": {
      "type": "structure",
      "members": {
        "accountNumber": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "openUriAction": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "footer": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ImportConversationDataRequest": {
      "type": "structure",
      "members": {
        "inputConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListDocumentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "documents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DocumentList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DocumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Document"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "type": "structure",
      "members": {
        "continuousTestResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ToolCallResult": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String"
        },
        "outputParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ToolCallResultError"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Agent": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "matchMode": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentMatchModeEnum"
        },
        "defaultLanguageCode": {
          "target": "smithy.api#String"
        },
        "supportedLanguageCodes": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "avatarUri": {
          "target": "smithy.api#String"
        },
        "enableLogging": {
          "target": "smithy.api#Boolean"
        },
        "parent": {
          "target": "smithy.api#String"
        },
        "classificationThreshold": {
          "target": "smithy.api#Double"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "timeZone": {
          "target": "smithy.api#String"
        },
        "tier": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentTierEnum"
        },
        "apiVersion": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentApiVersionEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentMatchModeEnum": {
      "type": "enum",
      "members": {
        "MATCH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_MODE_UNSPECIFIED"
          }
        },
        "MATCH_MODE_HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_MODE_HYBRID"
          }
        },
        "MATCH_MODE_ML_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_MODE_ML_ONLY"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentTierEnum": {
      "type": "enum",
      "members": {
        "TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_UNSPECIFIED"
          }
        },
        "TIER_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_STANDARD"
          }
        },
        "TIER_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_ENTERPRISE"
          }
        },
        "TIER_ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_ENTERPRISE_PLUS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentApiVersionEnum": {
      "type": "enum",
      "members": {
        "API_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_UNSPECIFIED"
          }
        },
        "API_VERSION_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_V1"
          }
        },
        "API_VERSION_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_V2"
          }
        },
        "API_VERSION_V2_BETA_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_V2_BETA_1"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion": {
      "type": "structure",
      "members": {
        "reply": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedReply"
        },
        "action": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedAction"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySource": {
      "type": "structure",
      "members": {
        "agent": {
          "target": "smithy.api#String"
        },
        "humanAgentSideConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigDialogflowQuerySourceHumanAgentSideConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequest": {
      "type": "structure",
      "members": {
        "querySource": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestQuerySourceEnum"
        },
        "parent": {
          "target": "smithy.api#String"
        },
        "searchConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfig"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "conversation": {
          "target": "smithy.api#String"
        },
        "exactSearch": {
          "target": "smithy.api#Boolean"
        },
        "sessionId": {
          "target": "smithy.api#String"
        },
        "query": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2TextInput"
        },
        "conversationProfile": {
          "target": "smithy.api#String"
        },
        "endUserMetadata": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestQuerySourceEnum": {
      "type": "enum",
      "members": {
        "QUERY_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_SOURCE_UNSPECIFIED"
          }
        },
        "AGENT_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_QUERY"
          }
        },
        "SUGGESTED_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUGGESTED_QUERY"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfig": {
      "type": "structure",
      "members": {
        "sampleRateHertz": {
          "target": "smithy.api#Integer"
        },
        "singleUtterance": {
          "target": "smithy.api#Boolean"
        },
        "audioEncoding": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfigAudioEncodingEnum"
        },
        "speechContexts": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechContextList"
        },
        "phraseHints": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "modelVariant": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfigModelVariantEnum"
        },
        "enableAutomaticPunctuation": {
          "target": "smithy.api#Boolean"
        },
        "disableNoSpeechRecognizedEvent": {
          "target": "smithy.api#Boolean"
        },
        "enableVoiceActivityEvents": {
          "target": "smithy.api#Boolean"
        },
        "phraseSets": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "enableWordInfo": {
          "target": "smithy.api#Boolean"
        },
        "optOutConformerModelMigration": {
          "target": "smithy.api#Boolean"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfigAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "AUDIO_ENCODING_LINEAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_LINEAR_16"
          }
        },
        "AUDIO_ENCODING_FLAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_FLAC"
          }
        },
        "AUDIO_ENCODING_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_MULAW"
          }
        },
        "AUDIO_ENCODING_AMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR"
          }
        },
        "AUDIO_ENCODING_AMR_WB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR_WB"
          }
        },
        "AUDIO_ENCODING_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_OGG_OPUS"
          }
        },
        "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          }
        },
        "AUDIO_ENCODING_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_ALAW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechContext"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfigModelVariantEnum": {
      "type": "enum",
      "members": {
        "SPEECH_MODEL_VARIANT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_MODEL_VARIANT_UNSPECIFIED"
          }
        },
        "USE_BEST_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_BEST_AVAILABLE"
          }
        },
        "USE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_STANDARD"
          }
        },
        "USE_ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_ENHANCED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ExportOperationMetadata": {
      "type": "structure",
      "members": {
        "exportedGcsDestination": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GcsDestination"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestedActionRbmSuggestedActionDial": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfig": {
      "type": "structure",
      "members": {
        "endUserSuggestionConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "notificationConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2NotificationConfig"
        },
        "humanAgentSuggestionConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "messageAnalysisConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        },
        "telephonyTransferCall": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "playAudio": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "outputAudioText": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "toolCall": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ToolCall"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "knowledgeInfoCard": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "mixedAudio": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "liveAgentHandoff": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        },
        "endInteraction": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "channel": {
          "target": "smithy.api#String"
        },
        "conversationSuccess": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SuggestSmartRepliesResponse": {
      "type": "structure",
      "members": {
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "smartReplyAnswers": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SmartReplyAnswerList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SmartReplyAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SmartReplyAnswer"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationModelConfig": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String"
        },
        "baselineModelVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ReloadDocumentRequest": {
      "type": "structure",
      "members": {
        "smartMessagingPartialUpdate": {
          "target": "smithy.api#Boolean"
        },
        "contentUri": {
          "target": "smithy.api#String"
        },
        "importGcsCustomMetadata": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListContextsResponse": {
      "type": "structure",
      "members": {
        "contexts": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ContextList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Connection": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String"
        },
        "connectionId": {
          "target": "smithy.api#String"
        },
        "errorDetails": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConnectionErrorDetails"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConnectionStateEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConnectionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTED"
          }
        },
        "AUTHENTICATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_FAILED"
          }
        },
        "KEEPALIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEPALIVE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageCard": {
      "type": "structure",
      "members": {
        "imageUri": {
          "target": "smithy.api#String"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageCardButtonList"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageCardButton"
      }
    },
    "com.gcp.dialogflow_v2#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "done": {
          "target": "smithy.api#Boolean"
        },
        "response": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TurnSignals": {
      "type": "structure",
      "members": {
        "noUserInput": {
          "target": "smithy.api#Boolean"
        },
        "webhookStatuses": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "sentimentMagnitude": {
          "target": "smithy.api#Double"
        },
        "agentEscalated": {
          "target": "smithy.api#Boolean"
        },
        "noMatch": {
          "target": "smithy.api#Boolean"
        },
        "userEscalated": {
          "target": "smithy.api#Boolean"
        },
        "reachedEndPage": {
          "target": "smithy.api#Boolean"
        },
        "dtmfUsed": {
          "target": "smithy.api#Boolean"
        },
        "sentimentScore": {
          "target": "smithy.api#Double"
        },
        "failureReasons": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TurnSignalsFailureReasonsItemEnumList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TurnSignalsFailureReasonsItemEnum": {
      "type": "enum",
      "members": {
        "FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_REASON_UNSPECIFIED"
          }
        },
        "FAILED_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_INTENT"
          }
        },
        "FAILED_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_WEBHOOK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TurnSignalsFailureReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TurnSignalsFailureReasonsItemEnum"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ConversationTurnUserInput": {
      "type": "structure",
      "members": {
        "enableSentimentAnalysis": {
          "target": "smithy.api#Boolean"
        },
        "injectedParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "input": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3QueryInput"
        },
        "isWebhookEnabled": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ImportDocumentsResponse": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatusList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Version": {
      "type": "structure",
      "members": {
        "versionNumber": {
          "target": "smithy.api#Integer"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2VersionStatusEnum"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2VersionStatusEnum": {
      "type": "enum",
      "members": {
        "VERSION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERSION_STATUS_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessage": {
      "type": "structure",
      "members": {
        "linkOutSuggestion": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "telephonySynthesizeSpeech": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "mediaContent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "card": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "rbmCarouselRichCard": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "browseCarouselCard": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "simpleResponses": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "suggestions": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "quickReplies": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "rbmStandaloneRichCard": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "image": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "tableCard": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "platform": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessagePlatformEnum"
        },
        "telephonyPlayAudio": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "rbmText": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "basicCard": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "carouselSelect": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "telephonyTransferCall": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        },
        "text": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "listSelect": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessagePlatformEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACEBOOK"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLACK"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEGRAM"
          }
        },
        "KIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIK"
          }
        },
        "SKYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKYPE"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "VIBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIBER"
          }
        },
        "ACTIONS_ON_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIONS_ON_GOOGLE"
          }
        },
        "TELEPHONY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEPHONY"
          }
        },
        "GOOGLE_HANGOUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_HANGOUTS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "openUriAction": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentSuggestion": {
      "type": "structure",
      "members": {
        "intentV2": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebService": {
      "type": "structure",
      "members": {
        "oauthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig"
        },
        "password": {
          "target": "smithy.api#String"
        },
        "secretVersionsForRequestHeaders": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValueMap"
        },
        "username": {
          "target": "smithy.api#String"
        },
        "requestHeaders": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "webhookType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceWebhookTypeEnum"
        },
        "serviceAccountAuthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "httpMethod": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceHttpMethodEnum"
        },
        "requestBody": {
          "target": "smithy.api#String"
        },
        "parameterMapping": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "secretVersionForUsernamePassword": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "allowedCaCerts": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "serviceAgentAuth": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAgentAuthEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceWebhookTypeEnum": {
      "type": "enum",
      "members": {
        "WEBHOOK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXIBLE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceHttpMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAgentAuthEnum": {
      "type": "enum",
      "members": {
        "SERVICE_AGENT_AUTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_AGENT_AUTH_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID_TOKEN"
          }
        },
        "ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequest": {
      "type": "structure",
      "members": {
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "triggerEvents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequestTriggerEventsItemEnumList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequestTriggerEventsItemEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_EVENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_EVENT_UNSPECIFIED"
          }
        },
        "END_OF_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_UTTERANCE"
          }
        },
        "MANUAL_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CALL"
          }
        },
        "CUSTOMER_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MESSAGE"
          }
        },
        "AGENT_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_MESSAGE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequestTriggerEventsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateSuggestionsRequestTriggerEventsItemEnum"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ToolCallResult": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ToolCallResultError"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "outputParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "parameterId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2RestoreAgentRequest": {
      "type": "structure",
      "members": {
        "agentUri": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "type": "structure",
      "members": {
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        },
        "audioUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateStatelessSummaryResponse": {
      "type": "structure",
      "members": {
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "summary": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateStatelessSummaryResponseSummary"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluation": {
      "type": "structure",
      "members": {
        "evaluationStatus": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EvaluationStatus"
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean"
        },
        "summarizationMetrics": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetrics"
        },
        "completeTime": {
          "target": "smithy.api#String"
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "initialGenerator": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Generator"
        },
        "generatorEvaluationConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluationConfig"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListGeneratorEvaluationsResponse": {
      "type": "structure",
      "members": {
        "generatorEvaluations": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluationList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluation"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestRunDifference": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestRunDifferenceTypeEnum"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestRunDifferenceTypeEnum": {
      "type": "enum",
      "members": {
        "DIFF_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF_TYPE_UNSPECIFIED"
          }
        },
        "INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT"
          }
        },
        "PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE"
          }
        },
        "PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETERS"
          }
        },
        "UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTTERANCE"
          }
        },
        "FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "type": "structure",
      "members": {
        "agentCoachingSuggestion": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "summarySuggestion": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "toolCallInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfoList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1EventHandler": {
      "type": "structure",
      "members": {
        "targetPlaybook": {
          "target": "smithy.api#String"
        },
        "event": {
          "target": "smithy.api#String"
        },
        "targetPage": {
          "target": "smithy.api#String"
        },
        "targetFlow": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "triggerFulfillment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Fulfillment"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "type": "structure",
      "members": {
        "knowledgeAssistDebugInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        },
        "suggestedQuery": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "suggestedQueryAnswer": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "ssml": {
          "target": "smithy.api#String"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "type": "structure",
      "members": {
        "conversationModelEvaluation": {
          "target": "smithy.api#String"
        },
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadataStateEnum"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ExportDocumentRequest": {
      "type": "structure",
      "members": {
        "gcsDestination": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GcsDestination"
        },
        "smartMessagingPartialUpdate": {
          "target": "smithy.api#Boolean"
        },
        "exportFullContent": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult": {
      "type": "structure",
      "members": {
        "duplicateSuggestions": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ArticleSuggestionModelMetadata": {
      "type": "structure",
      "members": {
        "trainingModelType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ArticleSuggestionModelMetadataTrainingModelTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ArticleSuggestionModelMetadataTrainingModelTypeEnum": {
      "type": "enum",
      "members": {
        "MODEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TYPE_UNSPECIFIED"
          }
        },
        "SMART_REPLY_DUAL_ENCODER_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY_DUAL_ENCODER_MODEL"
          }
        },
        "SMART_REPLY_BERT_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY_BERT_MODEL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleTypeLatLng": {
      "type": "structure",
      "members": {
        "longitude": {
          "target": "smithy.api#Double"
        },
        "latitude": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DataStoreConnection": {
      "type": "structure",
      "members": {
        "dataStoreType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DataStoreConnectionDataStoreTypeEnum"
        },
        "documentProcessingMode": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DataStoreConnectionDocumentProcessingModeEnum"
        },
        "dataStore": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DataStoreConnectionDataStoreTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_STORE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_STORE_TYPE_UNSPECIFIED"
          }
        },
        "PUBLIC_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_WEB"
          }
        },
        "UNSTRUCTURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSTRUCTURED"
          }
        },
        "STRUCTURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCTURED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DataStoreConnectionDocumentProcessingModeEnum": {
      "type": "enum",
      "members": {
        "DOCUMENT_PROCESSING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_PROCESSING_MODE_UNSPECIFIED"
          }
        },
        "DOCUMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENTS"
          }
        },
        "CHUNKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHUNKS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationModel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "smartReplyModelMetadata": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationModelStateEnum"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "articleSuggestionModelMetadata": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean"
        },
        "datasets": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputDatasetList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationModelStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UNDEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEPLOYED"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYED"
          }
        },
        "UNDEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEPLOYING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputDatasetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputDataset"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCard": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList"
        },
        "subtitle": {
          "target": "smithy.api#String"
        },
        "formattedText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButton"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String"
        },
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "doneTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3FulfillmentSetParameterAction": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Document"
        },
        "parameter": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationContext": {
      "type": "structure",
      "members": {
        "version": {
          "target": "smithy.api#String"
        },
        "summarizationSections": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSectionList_"
        },
        "fewShotExamples": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FewShotExampleList"
        },
        "outputLanguageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSectionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSection"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FewShotExampleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FewShotExample"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpec": {
      "type": "structure",
      "members": {
        "confirmationRequirement": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpecConfirmationRequirementEnum"
        },
        "cesTool": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CesToolSpecConfirmationRequirementEnum": {
      "type": "enum",
      "members": {
        "CONFIRMATION_REQUIREMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMATION_REQUIREMENT_UNSPECIFIED"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        },
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REQUIRED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluationConfig": {
      "type": "structure",
      "members": {
        "outputGcsBucketPath": {
          "target": "smithy.api#String"
        },
        "inputDataConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluationConfigInputDataConfig"
        },
        "summarizationConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "type": "structure",
      "members": {
        "similarityScore": {
          "target": "smithy.api#Double"
        },
        "sources": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "suggestionIndex": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SessionEntityType": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EntityTypeEntityList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "entityOverrideMode": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SessionEntityTypeEntityOverrideModeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SessionEntityTypeEntityOverrideModeEnum": {
      "type": "enum",
      "members": {
        "ENTITY_OVERRIDE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_OVERRIDE_MODE_UNSPECIFIED"
          }
        },
        "ENTITY_OVERRIDE_MODE_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_OVERRIDE_MODE_OVERRIDE"
          }
        },
        "ENTITY_OVERRIDE_MODE_SUPPLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TransitionRoute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "triggerFulfillment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3Fulfillment"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "intent": {
          "target": "smithy.api#String"
        },
        "targetPage": {
          "target": "smithy.api#String"
        },
        "targetFlow": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestError": {
      "type": "structure",
      "members": {
        "testCase": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
        },
        "testTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "structure",
      "members": {
        "commitSha": {
          "target": "smithy.api#String"
        },
        "agentUri": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "type": "structure",
      "members": {
        "userInput": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummarySummarySection": {
      "type": "structure",
      "members": {
        "section": {
          "target": "smithy.api#String"
        },
        "summary": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "type": "structure",
      "members": {
        "suggestionResults": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SuggestionResultList"
        },
        "participant": {
          "target": "smithy.api#String"
        },
        "conversation": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SuggestionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1SuggestionResult"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolCall": {
      "type": "structure",
      "members": {
        "cesTool": {
          "target": "smithy.api#String"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "toolDisplayDetails": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "toolDisplayName": {
          "target": "smithy.api#String"
        },
        "cesApp": {
          "target": "smithy.api#String"
        },
        "inputParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolCallStateEnum"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "cesToolset": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolCallStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "TRIGGERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGERED"
          }
        },
        "NEEDS_CONFIRMATION": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
