{
  "smithy": "2.0",
  "metadata": {
    "service": "dialogflow",
    "version": "v2",
    "title": "Dialogflow API",
    "baseUrl": "https://dialogflow.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CompleteConversationRequest": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1EventInput": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "agentAction": {
          "target": "smithy.api#String"
        },
        "duplicateCheckResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1PageInfoFormInfo": {
      "type": "structure",
      "members": {
        "parameterInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfoList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2OutputAudio": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2OutputAudioConfig"
        },
        "audio": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingInstruction": {
      "type": "structure",
      "members": {
        "displayDetails": {
          "target": "smithy.api#String"
        },
        "triggeringEvent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingInstructionTriggeringEventEnum"
        },
        "duplicateCheckResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResult"
        },
        "agentAction": {
          "target": "smithy.api#String"
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "systemAction": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingInstructionTriggeringEventEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_EVENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_EVENT_UNSPECIFIED"
          }
        },
        "END_OF_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_UTTERANCE"
          }
        },
        "MANUAL_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CALL"
          }
        },
        "CUSTOMER_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MESSAGE"
          }
        },
        "AGENT_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_MESSAGE"
          }
        },
        "TOOL_CALL_COMPLETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOOL_CALL_COMPLETION"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestConversationSummaryResponse": {
      "type": "structure",
      "members": {
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "summary": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestConversationSummaryResponseSummary"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListConversationModelsResponse": {
      "type": "structure",
      "members": {
        "conversationModels": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationModelList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationModelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationModel"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer": {
      "type": "structure",
      "members": {
        "knowledgeAssistDebugInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfo"
        },
        "suggestedQuery": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerSuggestedQuery"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "suggestedQueryAnswer": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse": {
      "type": "structure",
      "members": {
        "duplicateCheckResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult"
        },
        "responseText": {
          "target": "smithy.api#String"
        },
        "sources": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListConversationProfilesResponse": {
      "type": "structure",
      "members": {
        "conversationProfiles": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationProfileList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationProfileList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationProfile"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechWordInfo": {
      "type": "structure",
      "members": {
        "word": {
          "target": "smithy.api#String"
        },
        "endOffset": {
          "target": "smithy.api#String"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "startOffset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechToTextConfig": {
      "type": "structure",
      "members": {
        "sampleRateHertz": {
          "target": "smithy.api#Integer"
        },
        "useTimeoutBasedEndpointing": {
          "target": "smithy.api#Boolean"
        },
        "geminiAsrConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "speechModelVariant": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechToTextConfigSpeechModelVariantEnum"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "enableWordInfo": {
          "target": "smithy.api#Boolean"
        },
        "audioEncoding": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechToTextConfigAudioEncodingEnum"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "phraseSets": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "useGeminiAsr": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechToTextConfigSpeechModelVariantEnum": {
      "type": "enum",
      "members": {
        "SPEECH_MODEL_VARIANT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_MODEL_VARIANT_UNSPECIFIED"
          }
        },
        "USE_BEST_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_BEST_AVAILABLE"
          }
        },
        "USE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_STANDARD"
          }
        },
        "USE_ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_ENHANCED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechToTextConfigAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "AUDIO_ENCODING_LINEAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_LINEAR_16"
          }
        },
        "AUDIO_ENCODING_FLAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_FLAC"
          }
        },
        "AUDIO_ENCODING_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_MULAW"
          }
        },
        "AUDIO_ENCODING_AMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR"
          }
        },
        "AUDIO_ENCODING_AMR_WB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR_WB"
          }
        },
        "AUDIO_ENCODING_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_OGG_OPUS"
          }
        },
        "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          }
        },
        "AUDIO_ENCODING_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_ALAW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestArticlesRequest": {
      "type": "structure",
      "members": {
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "assistQueryParams": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AssistQueryParameters"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TransitionRoute": {
      "type": "structure",
      "members": {
        "targetPage": {
          "target": "smithy.api#String"
        },
        "targetFlow": {
          "target": "smithy.api#String"
        },
        "triggerFulfillment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "intent": {
          "target": "smithy.api#String"
        },
        "condition": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ServiceLatency": {
      "type": "structure",
      "members": {
        "internalServiceLatencies": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2BatchDeleteEntityTypesRequest": {
      "type": "structure",
      "members": {
        "entityTypeNames": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfig": {
      "type": "structure",
      "members": {
        "optOutConformerModelMigration": {
          "target": "smithy.api#Boolean"
        },
        "enableAutomaticPunctuation": {
          "target": "smithy.api#Boolean"
        },
        "sampleRateHertz": {
          "target": "smithy.api#Integer"
        },
        "speechContexts": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechContextList"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "enableVoiceActivityEvents": {
          "target": "smithy.api#Boolean"
        },
        "phraseHints": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "phraseSets": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "geminiAsrConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechToTextConfigGeminiAsrConfig"
        },
        "modelVariant": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfigModelVariantEnum"
        },
        "model": {
          "target": "smithy.api#String"
        },
        "singleUtterance": {
          "target": "smithy.api#Boolean"
        },
        "enableWordInfo": {
          "target": "smithy.api#Boolean"
        },
        "disableNoSpeechRecognizedEvent": {
          "target": "smithy.api#Boolean"
        },
        "audioEncoding": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfigAudioEncodingEnum"
        },
        "useGeminiAsr": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SpeechContext"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfigModelVariantEnum": {
      "type": "enum",
      "members": {
        "SPEECH_MODEL_VARIANT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_MODEL_VARIANT_UNSPECIFIED"
          }
        },
        "USE_BEST_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_BEST_AVAILABLE"
          }
        },
        "USE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_STANDARD"
          }
        },
        "USE_ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_ENHANCED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2InputAudioConfigAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "AUDIO_ENCODING_LINEAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_LINEAR_16"
          }
        },
        "AUDIO_ENCODING_FLAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_FLAC"
          }
        },
        "AUDIO_ENCODING_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_MULAW"
          }
        },
        "AUDIO_ENCODING_AMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR"
          }
        },
        "AUDIO_ENCODING_AMR_WB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_AMR_WB"
          }
        },
        "AUDIO_ENCODING_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_OGG_OPUS"
          }
        },
        "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_SPEEX_WITH_HEADER_BYTE"
          }
        },
        "AUDIO_ENCODING_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ENCODING_ALAW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1FreeFormSuggestion": {
      "type": "structure",
      "members": {
        "response": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessage": {
      "type": "structure",
      "members": {
        "endInteraction": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageEndInteraction"
        },
        "outputAudioText": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "conversationSuccess": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageConversationSuccess"
        },
        "playAudio": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessagePlayAudio"
        },
        "channel": {
          "target": "smithy.api#String"
        },
        "knowledgeInfoCard": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageKnowledgeInfoCard"
        },
        "telephonyTransferCall": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall"
        },
        "responseType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageResponseTypeEnum"
        },
        "toolCall": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ToolCall"
        },
        "mixedAudio": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageMixedAudio"
        },
        "liveAgentHandoff": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageLiveAgentHandoff"
        },
        "text": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageText"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ResponseMessageResponseTypeEnum": {
      "type": "enum",
      "members": {
        "RESPONSE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_TYPE_UNSPECIFIED"
          }
        },
        "ENTRY_PROMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTRY_PROMPT"
          }
        },
        "PARAMETER_PROMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_PROMPT"
          }
        },
        "HANDLER_PROMPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HANDLER_PROMPT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Environment": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "agentVersion": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentStateEnum"
        },
        "textToSpeechSettings": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2TextToSpeechSettings"
        },
        "fulfillment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Fulfillment"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        },
        "LOADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOADING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1InlineDestination": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfig": {
      "type": "structure",
      "members": {
        "notificationConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2NotificationConfig"
        },
        "endUserSuggestionConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "humanAgentSuggestionConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionConfig"
        },
        "messageAnalysisConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigMessageAnalysisConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SmartReplyMetricsTopNMetrics": {
      "type": "structure",
      "members": {
        "recall": {
          "target": "smithy.api#Double"
        },
        "n": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmCardContent": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "media": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmCardContentRbmMedia"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "suggestions": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageRbmSuggestion"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestError": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
        },
        "testTime": {
          "target": "smithy.api#String"
        },
        "testCase": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSectionList": {
      "type": "structure",
      "members": {
        "summarizationSections": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSectionList_"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSectionList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationSection"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3BargeInConfig": {
      "type": "structure",
      "members": {
        "totalDuration": {
          "target": "smithy.api#String"
        },
        "noBargeInDuration": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationModelEvaluation": {
      "type": "structure",
      "members": {
        "rawHumanEvalTemplateCsv": {
          "target": "smithy.api#String"
        },
        "smartReplyMetrics": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SmartReplyMetrics"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "evaluationConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EvaluationConfig"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestConversationSummaryRequest": {
      "type": "structure",
      "members": {
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "assistQueryParams": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AssistQueryParameters"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestError"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SummarizationEvaluationMetricsAccuracyDecomposition": {
      "type": "structure",
      "members": {
        "isAccurate": {
          "target": "smithy.api#Boolean"
        },
        "accuracyReasoning": {
          "target": "smithy.api#String"
        },
        "point": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Message": {
      "type": "structure",
      "members": {
        "sentimentAnalysis": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "messageAnnotation": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageAnnotation"
        },
        "participant": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "sendTime": {
          "target": "smithy.api#String"
        },
        "participantRole": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageParticipantRoleEnum"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2MessageParticipantRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "HUMAN_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_AGENT"
          }
        },
        "AUTOMATED_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_AGENT"
          }
        },
        "END_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_USER"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebService": {
      "type": "structure",
      "members": {
        "password": {
          "target": "smithy.api#String"
        },
        "requestHeaders": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "webhookType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceWebhookTypeEnum"
        },
        "serviceAgentAuth": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAgentAuthEnum"
        },
        "parameterMapping": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "allowedCaCerts": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "httpMethod": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceHttpMethodEnum"
        },
        "serviceAccountAuthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "secretVersionsForRequestHeaders": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValueMap"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "oauthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceOAuthConfig"
        },
        "secretVersionForUsernamePassword": {
          "target": "smithy.api#String"
        },
        "requestBody": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceWebhookTypeEnum": {
      "type": "enum",
      "members": {
        "WEBHOOK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXIBLE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAgentAuthEnum": {
      "type": "enum",
      "members": {
        "SERVICE_AGENT_AUTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_AGENT_AUTH_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID_TOKEN"
          }
        },
        "ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceHttpMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookGenericWebServiceSecretVersionHeaderValue"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3FormParameterFillBehavior": {
      "type": "structure",
      "members": {
        "repromptEventHandlers": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3EventHandlerList"
        },
        "initialPromptFulfillment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3Fulfillment"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3EventHandlerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3EventHandler"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemList"
        },
        "imageDisplayOptions": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardImageDisplayOptionsEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardImageDisplayOptionsEnum": {
      "type": "enum",
      "members": {
        "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGE_DISPLAY_OPTIONS_UNSPECIFIED"
          }
        },
        "GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAY"
          }
        },
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHITE"
          }
        },
        "CROPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CROPPED"
          }
        },
        "BLURRED_BACKGROUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLURRED_BACKGROUND"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecs": {
      "type": "structure",
      "members": {
        "dataStores": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "spec": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpec"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "type": "structure",
      "members": {
        "importCount": {
          "target": "smithy.api#Integer"
        },
        "conversationDataset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeOperationMetadata": {
      "type": "structure",
      "members": {
        "knowledgeBase": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeOperationMetadataStateEnum"
        },
        "exportOperationMetadata": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ExportOperationMetadata"
        },
        "doneTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1KnowledgeOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "DONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchKnowledgeRequestSearchConfigFilterSpecs": {
      "type": "structure",
      "members": {
        "dataStores": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "filter": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequest": {
      "type": "structure",
      "members": {
        "participantRole": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequestParticipantRoleEnum"
        },
        "suggestionFeatureType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequestSuggestionFeatureTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequestParticipantRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "HUMAN_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_AGENT"
          }
        },
        "AUTOMATED_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_AGENT"
          }
        },
        "END_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_USER"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ClearSuggestionFeatureConfigRequestSuggestionFeatureTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "ARTICLE_SUGGESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTICLE_SUGGESTION"
          }
        },
        "FAQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAQ"
          }
        },
        "SMART_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY"
          }
        },
        "CONVERSATION_SUMMARIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_SUMMARIZATION"
          }
        },
        "KNOWLEDGE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_SEARCH"
          }
        },
        "KNOWLEDGE_ASSIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_ASSIST"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfo": {
      "type": "structure",
      "members": {
        "dialedNumber": {
          "target": "smithy.api#String"
        },
        "extraMimeContents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContentList"
        },
        "sdp": {
          "target": "smithy.api#String"
        },
        "sipHeaders": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeaderList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoMimeContent"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationTelephonyConnectionInfoSipHeader"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListConversationsResponse": {
      "type": "structure",
      "members": {
        "conversations": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConversationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Conversation"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1QueryInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TextInput"
        },
        "audio": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1AudioInput"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "dtmf": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "intent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentInput"
        },
        "event": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1EventInput"
        },
        "toolCallResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ToolCallResult"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SearchAgentsResponse": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Agent"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Intent": {
      "type": "structure",
      "members": {
        "dtmfPattern": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "isFallback": {
          "target": "smithy.api#Boolean"
        },
        "priority": {
          "target": "smithy.api#Integer"
        },
        "trainingPhrases": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhraseList"
        },
        "labels": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentParameterList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhraseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1IntentParameter"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1AudioInput": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListDocumentsResponse": {
      "type": "structure",
      "members": {
        "documents": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DocumentList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DocumentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Document"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SynthesizeSpeechConfig": {
      "type": "structure",
      "members": {
        "voice": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2VoiceSelectionParams"
        },
        "speakingRate": {
          "target": "smithy.api#Double"
        },
        "pitch": {
          "target": "smithy.api#Double"
        },
        "volumeGainDb": {
          "target": "smithy.api#Double"
        },
        "effectsProfileId": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "pronunciations": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CustomPronunciationParamsList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CustomPronunciationParamsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2CustomPronunciationParams"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GenerateStatelessSuggestionResponse": {
      "type": "structure",
      "members": {
        "generatorSuggestion": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorSuggestion"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Participant": {
      "type": "structure",
      "members": {
        "agentDesktopSource": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ParticipantAgentDesktopSourceEnum"
        },
        "obfuscatedExternalUserId": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "sipRecordingMediaLabel": {
          "target": "smithy.api#String"
        },
        "role": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ParticipantRoleEnum"
        },
        "documentsMetadataFilters": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ParticipantAgentDesktopSourceEnum": {
      "type": "enum",
      "members": {
        "AGENT_DESKTOP_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_DESKTOP_SOURCE_UNSPECIFIED"
          }
        },
        "LIVE_PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE_PERSON"
          }
        },
        "GENESYS_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENESYS_CLOUD"
          }
        },
        "TWILIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWILIO"
          }
        },
        "SALESFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SALESFORCE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ParticipantRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "HUMAN_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_AGENT"
          }
        },
        "AUTOMATED_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_AGENT"
          }
        },
        "END_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_USER"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ExportAgentResponse": {
      "type": "structure",
      "members": {
        "agentUri": {
          "target": "smithy.api#String"
        },
        "commitSha": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput": {
      "type": "structure",
      "members": {
        "triggeredIntent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Intent"
        },
        "differences": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestRunDifferenceList"
        },
        "sessionParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "diagnosticInfo": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "textResponses": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageTextList"
        },
        "status": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
        },
        "currentPage": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Page"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestRunDifferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestRunDifference"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageTextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageText"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse": {
      "type": "structure",
      "members": {
        "entityTypes": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EntityTypeList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EntityTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EntityType"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadata": {
      "type": "structure",
      "members": {
        "participantRole": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadataParticipantRoleEnum"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "conversationProfile": {
          "target": "smithy.api#String"
        },
        "suggestionFeatureType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadataSuggestionFeatureTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadataParticipantRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "HUMAN_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_AGENT"
          }
        },
        "AUTOMATED_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_AGENT"
          }
        },
        "END_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_USER"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SetSuggestionFeatureConfigOperationMetadataSuggestionFeatureTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "ARTICLE_SUGGESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTICLE_SUGGESTION"
          }
        },
        "FAQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAQ"
          }
        },
        "SMART_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY"
          }
        },
        "CONVERSATION_SUMMARIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_SUMMARIZATION"
          }
        },
        "KNOWLEDGE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_SEARCH"
          }
        },
        "KNOWLEDGE_ASSIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_ASSIST"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ToolCallResult": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String"
        },
        "outputParameters": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ToolCallResultError"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.gcp.dialogflow_v2#GoogleRpcStatusList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleRpcStatus"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "type": "structure",
      "members": {
        "suggestionIndex": {
          "target": "smithy.api#Integer"
        },
        "sources": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "target": "smithy.api#Double"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "type": "structure",
      "members": {
        "intentDisplayNames": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "entityDisplayNames": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValueMap"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "lastMatchedIntent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ExportDocumentRequest": {
      "type": "structure",
      "members": {
        "gcsDestination": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GcsDestination"
        },
        "smartMessagingPartialUpdate": {
          "target": "smithy.api#Boolean"
        },
        "exportFullContent": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageCarouselSelectItem": {
      "type": "structure",
      "members": {
        "info": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageSelectItemInfo"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1BargeInConfig": {
      "type": "structure",
      "members": {
        "totalDuration": {
          "target": "smithy.api#String"
        },
        "noBargeInDuration": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListParticipantsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "participants": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ParticipantList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ParticipantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Participant"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo": {
      "type": "structure",
      "members": {
        "toolCall": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ToolCall"
        },
        "toolCallResult": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1ToolCallResult"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestRunDifferenceTypeEnum"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1TestRunDifferenceTypeEnum": {
      "type": "enum",
      "members": {
        "DIFF_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF_TYPE_UNSPECIFIED"
          }
        },
        "INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT"
          }
        },
        "PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE"
          }
        },
        "PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETERS"
          }
        },
        "UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTTERANCE"
          }
        },
        "FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "type": "structure",
      "members": {
        "lastMatchedIntent": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValueMap"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer": {
      "type": "structure",
      "members": {
        "faqSource": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerFaqSource"
        },
        "generativeSource": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "answerText": {
          "target": "smithy.api#String"
        },
        "playbookSource": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource"
        },
        "eventSource": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerEventSource"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AnswerRecord": {
      "type": "structure",
      "members": {
        "answerFeedback": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AnswerFeedback"
        },
        "agentAssistantRecord": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentAssistantRecord"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "structure",
      "members": {
        "ingestionStatus": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum"
        },
        "parameter": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum": {
      "type": "enum",
      "members": {
        "INGESTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_UNSPECIFIED"
          }
        },
        "INGESTION_STATUS_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_SUCCEEDED"
          }
        },
        "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE"
          }
        },
        "INGESTION_STATUS_PARSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_PARSE_FAILED"
          }
        },
        "INGESTION_STATUS_INVALID_ENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_ENTRY"
          }
        },
        "INGESTION_STATUS_INVALID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_FORMAT"
          }
        },
        "INGESTION_STATUS_LANGUAGE_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_LANGUAGE_MISMATCH"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "openUriAction": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "type": "structure",
      "members": {
        "instructionIndexes": {
          "target": "com.gcp.dialogflow_v2#IntegerList"
        }
      }
    },
    "com.gcp.dialogflow_v2#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Webhook": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "serviceDirectory": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookServiceDirectoryConfig"
        },
        "genericWebService": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebService"
        },
        "disabled": {
          "target": "smithy.api#Boolean"
        },
        "timeout": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "type": "structure",
      "members": {
        "parameterId": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TextInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio": {
      "type": "structure",
      "members": {
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        },
        "audioUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthentication": {
      "type": "structure",
      "members": {
        "serviceAgentAuthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationServiceAgentAuthConfig"
        },
        "oauthConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationOAuthConfig"
        },
        "bearerTokenConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationBearerTokenConfig"
        },
        "apiKeyConfig": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolAuthenticationApiKeyConfig"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentTrainingPhrase": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentTrainingPhraseTypeEnum"
        },
        "parts": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentTrainingPhrasePartList"
        },
        "timesAddedCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentTrainingPhraseTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "EXAMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXAMPLE"
          }
        },
        "TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEMPLATE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentTrainingPhrasePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentTrainingPhrasePart"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "type": "structure",
      "members": {
        "parts": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AnnotatedMessagePartList"
        },
        "containEntities": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AnnotatedMessagePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigConversationModelConfig": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String"
        },
        "baselineModelVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "ssml": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "type": "structure",
      "members": {
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "doneTime": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipConfig": {
      "type": "structure",
      "members": {
        "ignoreReinviteMediaDirection": {
          "target": "smithy.api#Boolean"
        },
        "createConversationOnTheFly": {
          "target": "smithy.api#Boolean"
        },
        "allowVirtualAgentInteraction": {
          "target": "smithy.api#Boolean"
        },
        "inactiveStart": {
          "target": "smithy.api#Boolean"
        },
        "keepConversationRunning": {
          "target": "smithy.api#Boolean"
        },
        "maxAudioRecordingDuration": {
          "target": "smithy.api#String"
        },
        "copyInboundCallLegHeaders": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardRow": {
      "type": "structure",
      "members": {
        "cells": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardCellList"
        },
        "dividerAfter": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardCellList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardCell"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipTrunk": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "googleRootCertFile": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipTrunkGoogleRootCertFileEnum"
        },
        "peerHostnames": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipHostnameList"
        },
        "expectedHostname": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "connections": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConnectionList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipTrunkGoogleRootCertFileEnum": {
      "type": "enum",
      "members": {
        "CERT_FILE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERT_FILE_UNSPECIFIED"
          }
        },
        "EXTERNAL_PRIVATE_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_PRIVATE_CA"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipHostnameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipHostname"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Connection"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentHistory": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "entries": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentHistoryEntryList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentHistoryEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2EnvironmentHistoryEntry"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ListSipTrunksResponse": {
      "type": "structure",
      "members": {
        "sipTrunks": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipTrunkList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipTrunkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SipTrunk"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "structure",
      "members": {
        "snippets": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippetList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudLocationListLocationsResponse": {
      "type": "structure",
      "members": {
        "locations": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudLocationLocationList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudLocationLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudLocationLocation"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3Page": {
      "type": "structure",
      "members": {
        "knowledgeConnectorSettings": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3KnowledgeConnectorSettings"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "form": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3Form"
        },
        "entryFulfillment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3Fulfillment"
        },
        "advancedSettings": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3AdvancedSettings"
        },
        "transitionRouteGroups": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "transitionRoutes": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TransitionRouteList"
        },
        "eventHandlers": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3EventHandlerList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TransitionRouteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TransitionRoute"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ExportOperationMetadata": {
      "type": "structure",
      "members": {
        "exportedGcsDestination": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GcsDestination"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ExportEntityTypesResponse": {
      "type": "structure",
      "members": {
        "entityTypesUri": {
          "target": "smithy.api#String"
        },
        "entityTypesContent": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3InlineDestination"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3TestConfig": {
      "type": "structure",
      "members": {
        "trackingParameters": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "flow": {
          "target": "smithy.api#String"
        },
        "page": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3EnvironmentWebhookConfig": {
      "type": "structure",
      "members": {
        "webhookOverrides": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3WebhookList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3Webhook"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCard": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageImage"
        },
        "rows": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardRowList"
        },
        "buttons": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList"
        },
        "columnProperties": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageColumnPropertiesList"
        },
        "subtitle": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardRowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageTableCardRow"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageBasicCardButton"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageColumnPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IntentMessageColumnProperties"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "type": "structure",
      "members": {
        "enableInteractionLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableStackdriverLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableConsentBasedRedaction": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2Fulfillment": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "features": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FulfillmentFeatureList"
        },
        "genericWebService": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FulfillmentGenericWebService"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FulfillmentFeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2FulfillmentFeature"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2UndeployConversationModelRequest": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "type": "structure",
      "members": {
        "finishDigit": {
          "target": "smithy.api#String"
        },
        "maxDigits": {
          "target": "smithy.api#Integer"
        },
        "endpointingTimeoutDuration": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "interdigitTimeoutDuration": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ImportDocumentTemplate": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "mimeType": {
          "target": "smithy.api#String"
        },
        "knowledgeTypes": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ImportDocumentTemplateKnowledgeTypesItemEnumList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ImportDocumentTemplateKnowledgeTypesItemEnum": {
      "type": "enum",
      "members": {
        "KNOWLEDGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_TYPE_UNSPECIFIED"
          }
        },
        "FAQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAQ"
          }
        },
        "EXTRACTIVE_QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTRACTIVE_QA"
          }
        },
        "ARTICLE_SUGGESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTICLE_SUGGESTION"
          }
        },
        "AGENT_FACING_SMART_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_FACING_SMART_REPLY"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ImportDocumentTemplateKnowledgeTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ImportDocumentTemplateKnowledgeTypesItemEnum"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings": {
      "type": "structure",
      "members": {
        "targetPage": {
          "target": "smithy.api#String"
        },
        "dataStoreConnections": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DataStoreConnectionList"
        },
        "triggerFulfillment": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1Fulfillment"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "targetFlow": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DataStoreConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1DataStoreConnection"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudLocationLocation": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "labels": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "locationId": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2HumanAgentAssistantConfigSuggestionQueryConfigKnowledgeBaseQuerySource": {
      "type": "structure",
      "members": {
        "knowledgeBases": {
          "target": "com.gcp.dialogflow_v2#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "structure",
      "members": {
        "ingestionStatus": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum"
        },
        "parameter": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum": {
      "type": "enum",
      "members": {
        "INGESTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_UNSPECIFIED"
          }
        },
        "INGESTION_STATUS_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_SUCCEEDED"
          }
        },
        "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE"
          }
        },
        "INGESTION_STATUS_PARSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_PARSE_FAILED"
          }
        },
        "INGESTION_STATUS_INVALID_ENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_ENTRY"
          }
        },
        "INGESTION_STATUS_INVALID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_FORMAT"
          }
        },
        "INGESTION_STATUS_LANGUAGE_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_LANGUAGE_MISMATCH"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings": {
      "type": "structure",
      "members": {
        "models": {
          "target": "com.gcp.dialogflow_v2#StringMap"
        },
        "noSpeechTimeout": {
          "target": "smithy.api#String"
        },
        "endpointerSensitivity": {
          "target": "smithy.api#Integer"
        },
        "useTimeoutBasedEndpointing": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ContinuousTestResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "testCaseResults": {
          "target": "com.gcp.dialogflow_v2#StringList"
        },
        "runTime": {
          "target": "smithy.api#String"
        },
        "result": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ContinuousTestResultResultEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ContinuousTestResultResultEnum": {
      "type": "enum",
      "members": {
        "AGGREGATED_TEST_RESULT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATED_TEST_RESULT_UNSPECIFIED"
          }
        },
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionFeature": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionFeatureTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SuggestionFeatureTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "ARTICLE_SUGGESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTICLE_SUGGESTION"
          }
        },
        "FAQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAQ"
          }
        },
        "SMART_REPLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY"
          }
        },
        "CONVERSATION_SUMMARIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_SUMMARIZATION"
          }
        },
        "KNOWLEDGE_SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_SEARCH"
          }
        },
        "KNOWLEDGE_ASSIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_ASSIST"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolFunctionTool": {
      "type": "structure",
      "members": {
        "outputSchema": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        },
        "methodType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolFunctionToolMethodTypeEnum"
        },
        "inputSchema": {
          "target": "com.gcp.dialogflow_v2#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2ToolFunctionToolMethodTypeEnum": {
      "type": "enum",
      "members": {
        "METHOD_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METHOD_TYPE_UNSPECIFIED"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2GeneratorEvaluationConfigSummarizationConfig": {
      "type": "structure",
      "members": {
        "enableAccuracyEvaluation": {
          "target": "smithy.api#Boolean"
        },
        "evaluatorVersion": {
          "target": "smithy.api#String"
        },
        "completenessEvaluationVersion": {
          "target": "smithy.api#String"
        },
        "enableCompletenessEvaluation": {
          "target": "smithy.api#Boolean"
        },
        "accuracyEvaluationVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "structure",
      "members": {
        "projectNotAllowlisted": {
          "target": "smithy.api#Boolean"
        },
        "ingestedParametersDebugInfo": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoList"
        },
        "contextReferenceRetrieved": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "type": "structure",
      "members": {
        "trainingModelType": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SmartReplyModelMetadataTrainingModelTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2SmartReplyModelMetadataTrainingModelTypeEnum": {
      "type": "enum",
      "members": {
        "MODEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TYPE_UNSPECIFIED"
          }
        },
        "SMART_REPLY_DUAL_ENCODER_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY_DUAL_ENCODER_MODEL"
          }
        },
        "SMART_REPLY_BERT_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY_BERT_MODEL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3Form": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3FormParameterList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3FormParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3FormParameter"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3ToolCallResultError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue": {
      "type": "structure",
      "members": {
        "secretVersion": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "structure",
      "members": {
        "duplicateSuggestions": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesResponse": {
      "type": "structure",
      "members": {
        "entityTypes": {
          "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1EntityTypeList"
        }
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1EntityTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2beta1EntityType"
      }
    },
    "com.gcp.dialogflow_v2#GoogleCloudDialogflowV2WebhookResponse": {
      "type": "structure",
      "members": {
        "followupEventInput": {
[...]
