{
  "smithy": "2.0",
  "metadata": {
    "service": "dialogflow",
    "version": "v2beta1",
    "title": "Dialogflow API",
    "baseUrl": "https://dialogflow.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeAnswerAnswerSource": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "snippet": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ServiceLatency": {
      "type": "structure",
      "members": {
        "internalServiceLatencies": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ServiceLatencyInternalServiceLatency"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingSuggestion": {
      "type": "structure",
      "members": {
        "applicableInstructions": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingInstructionList"
        },
        "sampleResponses": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponseList"
        },
        "agentActionSuggestions": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingInstructionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingInstruction"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionSampleResponse"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionAgentActionSuggestion"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "type": "structure",
      "members": {
        "repeatCount": {
          "target": "smithy.api#Integer"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "parts": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePartList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageSuggestion": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ImportTestCasesResponse": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EventInput": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1RunContinuousTestMetadata": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestError"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ExportAgentResponse": {
      "type": "structure",
      "members": {
        "agentContent": {
          "target": "smithy.api#String"
        },
        "agentUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1BatchUpdateIntentsResponse": {
      "type": "structure",
      "members": {
        "intents": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Intent"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItem": {
      "type": "structure",
      "members": {
        "openUriAction": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "footer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AutomatedAgentConfig": {
      "type": "structure",
      "members": {
        "agent": {
          "target": "smithy.api#String"
        },
        "sessionTtl": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsAdherenceDecomposition": {
      "type": "structure",
      "members": {
        "point": {
          "target": "smithy.api#String"
        },
        "isAdherent": {
          "target": "smithy.api#Boolean"
        },
        "adherenceReasoning": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ExportOperationMetadata": {
      "type": "structure",
      "members": {
        "exportedGcsDestination": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GcsDestination"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetail": {
      "type": "structure",
      "members": {
        "sectionTokens": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionTokenList"
        },
        "messageEntries": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1MessageEntryList"
        },
        "summarySections": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarySuggestionSummarySectionList"
        },
        "metricDetails": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionTokenList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsSectionToken"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1MessageEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1MessageEntry"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarySuggestionSummarySectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarySuggestionSummarySection"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationEvaluationMetricsConversationDetailMetricDetail"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CreateMessageRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Message"
        },
        "parent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IngestContextReferencesRequest": {
      "type": "structure",
      "members": {
        "contextReferences": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationContextReferenceMap"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationContextReferenceMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationContextReference"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ExportFlowResponse": {
      "type": "structure",
      "members": {
        "flowUri": {
          "target": "smithy.api#String"
        },
        "flowContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3KnowledgeConnectorSettings": {
      "type": "structure",
      "members": {
        "targetFlow": {
          "target": "smithy.api#String"
        },
        "triggerFulfillment": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3Fulfillment"
        },
        "targetPage": {
          "target": "smithy.api#String"
        },
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "dataStoreConnections": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3DataStoreConnectionList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3DataStoreConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3DataStoreConnection"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestConversationSummaryRequest": {
      "type": "structure",
      "members": {
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "assistQueryParams": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AssistQueryParameters"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfo": {
      "type": "structure",
      "members": {
        "contextReferenceRetrieved": {
          "target": "smithy.api#Boolean"
        },
        "ingestedParametersDebugInfo": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoList"
        },
        "projectNotAllowlisted": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput": {
      "type": "structure",
      "members": {
        "diagnosticInfo": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "status": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleRpcStatus"
        },
        "sessionParameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "triggeredIntent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3Intent"
        },
        "differences": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestRunDifferenceList"
        },
        "textResponses": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageTextList"
        },
        "currentPage": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3Page"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestRunDifferenceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestRunDifference"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageTextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageText"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2GeneratorSuggestionToolCallInfo": {
      "type": "structure",
      "members": {
        "toolCall": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ToolCall"
        },
        "toolCallResult": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ToolCallResult"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SuggestFaqAnswersResponse": {
      "type": "structure",
      "members": {
        "faqAnswers": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2FaqAnswerList"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2FaqAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2FaqAnswer"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CompileSuggestionRequest": {
      "type": "structure",
      "members": {
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "structure",
      "members": {
        "snippets": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippetList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfig": {
      "type": "structure",
      "members": {
        "boostSpecs": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsList"
        },
        "filterSpecs": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigFilterSpecsList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecs"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigFilterSpecsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigFilterSpecs"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GenerateStatelessSummaryRequestMinimalConversation": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1MessageList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Message"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestKnowledgeAssistResponse": {
      "type": "structure",
      "members": {
        "knowledgeAssistAnswer": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswer"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "additionalSuggestedQueryResults": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResultList"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3RunTestCaseMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerFaqSource": {
      "type": "structure",
      "members": {
        "question": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfo": {
      "type": "structure",
      "members": {
        "sipHeaders": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoSipHeaderList"
        },
        "dialedNumber": {
          "target": "smithy.api#String"
        },
        "extraMimeContents": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoMimeContentList"
        },
        "sdp": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoSipHeaderList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoSipHeader"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoMimeContentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoMimeContent"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FormParameter": {
      "type": "structure",
      "members": {
        "entityType": {
          "target": "smithy.api#String"
        },
        "redact": {
          "target": "smithy.api#Boolean"
        },
        "isList": {
          "target": "smithy.api#Boolean"
        },
        "required": {
          "target": "smithy.api#Boolean"
        },
        "defaultValue": {
          "target": "smithy.api#Document"
        },
        "advancedSettings": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "fillBehavior": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FormParameterFillBehavior"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadata": {
      "type": "structure",
      "members": {
        "conversationModelEvaluation": {
          "target": "smithy.api#String"
        },
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadataStateEnum"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2CreateConversationModelEvaluationOperationMetadataStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1StreamingRecognitionResult": {
      "type": "structure",
      "members": {
        "isFinal": {
          "target": "smithy.api#Boolean"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "speechWordInfo": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SpeechWordInfoList"
        },
        "messageType": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1StreamingRecognitionResultMessageTypeEnum"
        },
        "transcript": {
          "target": "smithy.api#String"
        },
        "stability": {
          "target": "smithy.api#Double"
        },
        "speechEndOffset": {
          "target": "smithy.api#String"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "dtmfDigits": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SpeechWordInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SpeechWordInfo"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1StreamingRecognitionResultMessageTypeEnum": {
      "type": "enum",
      "members": {
        "MESSAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_TYPE_UNSPECIFIED"
          }
        },
        "TRANSCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSCRIPT"
          }
        },
        "END_OF_SINGLE_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_SINGLE_UTTERANCE"
          }
        },
        "DTMF_DIGITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF_DIGITS"
          }
        },
        "PARTIAL_DTMF_DIGITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_DTMF_DIGITS"
          }
        },
        "SPEECH_ACTIVITY_BEGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_ACTIVITY_BEGIN"
          }
        },
        "SPEECH_ACTIVITY_END": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH_ACTIVITY_END"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SpeechContext": {
      "type": "structure",
      "members": {
        "boost": {
          "target": "smithy.api#Double"
        },
        "phrases": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestCaseError": {
      "type": "structure",
      "members": {
        "testCase": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestCase"
        },
        "status": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleRpcStatus"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String"
        },
        "cesTool": {
          "target": "smithy.api#String"
        },
        "rawContent": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "cesApp": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolCallResultError"
        },
        "cesToolset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ConversationSignals": {
      "type": "structure",
      "members": {
        "turnSignals": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TurnSignals"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV3alpha1TurnSignals": {
      "type": "structure",
      "members": {
        "dtmfUsed": {
          "target": "smithy.api#Boolean"
        },
        "noUserInput": {
          "target": "smithy.api#Boolean"
        },
        "noMatch": {
          "target": "smithy.api#Boolean"
        },
        "failureReasons": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV3alpha1TurnSignalsFailureReasonsItemEnumList"
        },
        "agentEscalated": {
          "target": "smithy.api#Boolean"
        },
        "reachedEndPage": {
          "target": "smithy.api#Boolean"
        },
        "webhookStatuses": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "sentimentMagnitude": {
          "target": "smithy.api#Double"
        },
        "userEscalated": {
          "target": "smithy.api#Boolean"
        },
        "triggeredAbandonmentEvent": {
          "target": "smithy.api#Boolean"
        },
        "sentimentScore": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV3alpha1TurnSignalsFailureReasonsItemEnum": {
      "type": "enum",
      "members": {
        "FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_REASON_UNSPECIFIED"
          }
        },
        "FAILED_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_INTENT"
          }
        },
        "FAILED_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_WEBHOOK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV3alpha1TurnSignalsFailureReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV3alpha1TurnSignalsFailureReasonsItemEnum"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfig": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "smithy.api#String"
        },
        "apiKey": {
          "target": "smithy.api#String"
        },
        "requestLocation": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfigRequestLocationEnum"
        },
        "secretVersionForApiKey": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolAuthenticationApiKeyConfigRequestLocationEnum": {
      "type": "enum",
      "members": {
        "REQUEST_LOCATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_LOCATION_UNSPECIFIED"
          }
        },
        "HEADER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEADER"
          }
        },
        "QUERY_STRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUERY_STRING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Sentiment": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#Double"
        },
        "magnitude": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SipConfig": {
      "type": "structure",
      "members": {
        "inactiveStart": {
          "target": "smithy.api#Boolean"
        },
        "maxAudioRecordingDuration": {
          "target": "smithy.api#String"
        },
        "copyInboundCallLegHeaders": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "createConversationOnTheFly": {
          "target": "smithy.api#Boolean"
        },
        "allowVirtualAgentInteraction": {
          "target": "smithy.api#Boolean"
        },
        "keepConversationRunning": {
          "target": "smithy.api#Boolean"
        },
        "ignoreReinviteMediaDirection": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3DataStoreConnection": {
      "type": "structure",
      "members": {
        "dataStoreType": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3DataStoreConnectionDataStoreTypeEnum"
        },
        "dataStore": {
          "target": "smithy.api#String"
        },
        "documentProcessingMode": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3DataStoreConnectionDocumentProcessingModeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3DataStoreConnectionDataStoreTypeEnum": {
      "type": "enum",
      "members": {
        "DATA_STORE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_STORE_TYPE_UNSPECIFIED"
          }
        },
        "PUBLIC_WEB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_WEB"
          }
        },
        "UNSTRUCTURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSTRUCTURED"
          }
        },
        "STRUCTURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRUCTURED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3DataStoreConnectionDocumentProcessingModeEnum": {
      "type": "enum",
      "members": {
        "DOCUMENT_PROCESSING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_PROCESSING_MODE_UNSPECIFIED"
          }
        },
        "DOCUMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENTS"
          }
        },
        "CHUNKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHUNKS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCase": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String"
        },
        "caseContent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContentList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesCaseCaseContent"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigMessageAnalysisConfig": {
      "type": "structure",
      "members": {
        "enableEntityExtraction": {
          "target": "smithy.api#Boolean"
        },
        "enableSentimentAnalysis": {
          "target": "smithy.api#Boolean"
        },
        "enableSentimentAnalysisV3": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ToolCall": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String"
        },
        "inputParameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "tool": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpec": {
      "type": "structure",
      "members": {
        "boost": {
          "target": "smithy.api#Double"
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "boostControlSpec": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SearchKnowledgeRequestSearchConfigBoostSpecsBoostSpecConditionBoostSpecBoostControlSpec"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButton": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "openUriAction": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageBasicCardButtonOpenUriAction"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingInstructionDuplicateCheckResultDuplicateSuggestion": {
      "type": "structure",
      "members": {
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "suggestionIndex": {
          "target": "smithy.api#Integer"
        },
        "similarityScore": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "structure",
      "members": {
        "subtitle": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "items": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelectItemList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelectItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        },
        "destinationName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3DtmfInput": {
      "type": "structure",
      "members": {
        "digits": {
          "target": "smithy.api#String"
        },
        "finishDigit": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ConversationModel": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "articleSuggestionModelMetadata": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ArticleSuggestionModelMetadata"
        },
        "state": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ConversationModelStateEnum"
        },
        "smartReplyModelMetadata": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SmartReplyModelMetadata"
        },
        "satisfiesPzi": {
          "target": "smithy.api#Boolean"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "satisfiesPzs": {
          "target": "smithy.api#Boolean"
        },
        "datasets": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2InputDatasetList"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ConversationModelStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UNDEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEPLOYED"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYED"
          }
        },
        "UNDEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEPLOYING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2InputDatasetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2InputDataset"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GeneratorEvaluationConfigAgentAssistInputDataConfig": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#String"
        },
        "endTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1AdvancedSettingsLoggingSettings": {
      "type": "structure",
      "members": {
        "enableStackdriverLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableInteractionLogging": {
          "target": "smithy.api#Boolean"
        },
        "enableConsentBasedRedaction": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ConversationTurn": {
      "type": "structure",
      "members": {
        "userInput": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ConversationTurnVirtualAgentOutput"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ToolCallResultError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingInstruction": {
      "type": "structure",
      "members": {
        "displayDetails": {
          "target": "smithy.api#String"
        },
        "systemAction": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "agentAction": {
          "target": "smithy.api#String"
        },
        "duplicateCheckResult": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingInstructionDuplicateCheckResult"
        },
        "triggeringEvent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingInstructionTriggeringEventEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2AgentCoachingInstructionTriggeringEventEnum": {
      "type": "enum",
      "members": {
        "TRIGGER_EVENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRIGGER_EVENT_UNSPECIFIED"
          }
        },
        "END_OF_UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_UTTERANCE"
          }
        },
        "MANUAL_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL_CALL"
          }
        },
        "CUSTOMER_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MESSAGE"
          }
        },
        "AGENT_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_MESSAGE"
          }
        },
        "TOOL_CALL_COMPLETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOOL_CALL_COMPLETION"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ArticleAnswer": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.dialogflow_v2beta1#StringMap"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "snippets": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3Form": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FormParameterList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FormParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FormParameter"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1FulfillmentFeature": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1FulfillmentFeatureTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1FulfillmentFeatureTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "SMALLTALK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALLTALK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfo": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "ingestionStatus": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IngestedContextReferenceDebugInfoIngestedParameterDebugInfoIngestionStatusEnum": {
      "type": "enum",
      "members": {
        "INGESTION_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_UNSPECIFIED"
          }
        },
        "INGESTION_STATUS_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_SUCCEEDED"
          }
        },
        "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_CONTEXT_NOT_AVAILABLE"
          }
        },
        "INGESTION_STATUS_PARSE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_PARSE_FAILED"
          }
        },
        "INGESTION_STATUS_INVALID_ENTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_ENTRY"
          }
        },
        "INGESTION_STATUS_INVALID_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_INVALID_FORMAT"
          }
        },
        "INGESTION_STATUS_LANGUAGE_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_STATUS_LANGUAGE_MISMATCH"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1DetectIntentRequest": {
      "type": "structure",
      "members": {
        "queryInput": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1QueryInput"
        },
        "outputAudioConfigMask": {
          "target": "smithy.api#String"
        },
        "queryParams": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1QueryParameters"
        },
        "outputAudioConfig": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1OutputAudioConfig"
        },
        "inputAudio": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfoMimeContent": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Connection": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConnectionStateEnum"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "errorDetails": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConnectionErrorDetails"
        },
        "connectionId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConnectionStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTED"
          }
        },
        "AUTHENTICATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHENTICATION_FAILED"
          }
        },
        "KEEPALIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEPALIVE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ToolCallResult": {
      "type": "structure",
      "members": {
        "outputParameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "error": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ToolCallResultError"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IngestContextReferencesResponse": {
      "type": "structure",
      "members": {
        "ingestedContextReferences": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationContextReferenceMap"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestionFaqAnswer": {
      "type": "structure",
      "members": {
        "source": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.gcp.dialogflow_v2beta1#StringMap"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "question": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "answer": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CesAppSpec": {
      "type": "structure",
      "members": {
        "confirmationRequirement": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CesAppSpecConfirmationRequirementEnum"
        },
        "proactiveEnabled": {
          "target": "smithy.api#Boolean"
        },
        "reactiveEnabled": {
          "target": "smithy.api#Boolean"
        },
        "cesApp": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1CesAppSpecConfirmationRequirementEnum": {
      "type": "enum",
      "members": {
        "CONFIRMATION_REQUIREMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMATION_REQUIREMENT_UNSPECIFIED"
          }
        },
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        },
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REQUIRED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCase": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String"
        },
        "caseContent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContentList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageSuggestion": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestion": {
      "type": "structure",
      "members": {
        "agentActionSuggestions": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestionList"
        },
        "applicableInstructions": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingInstructionList"
        },
        "sampleResponses": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponseList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionAgentActionSuggestion"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingInstructionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingInstruction"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSampleResponse"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2EncryptionSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "kmsKey": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TextToSpeechSettings": {
      "type": "structure",
      "members": {
        "enableTextToSpeech": {
          "target": "smithy.api#Boolean"
        },
        "outputAudioEncoding": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TextToSpeechSettingsOutputAudioEncodingEnum"
        },
        "sampleRateHertz": {
          "target": "smithy.api#Integer"
        },
        "synthesizeSpeechConfigs": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SynthesizeSpeechConfigMap"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TextToSpeechSettingsOutputAudioEncodingEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_AUDIO_ENCODING_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_UNSPECIFIED"
          }
        },
        "OUTPUT_AUDIO_ENCODING_LINEAR_16": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_LINEAR_16"
          }
        },
        "OUTPUT_AUDIO_ENCODING_MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_MP3"
          }
        },
        "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_MP3_64_KBPS"
          }
        },
        "OUTPUT_AUDIO_ENCODING_OGG_OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_OGG_OPUS"
          }
        },
        "OUTPUT_AUDIO_ENCODING_MULAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_MULAW"
          }
        },
        "OUTPUT_AUDIO_ENCODING_ALAW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_AUDIO_ENCODING_ALAW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SynthesizeSpeechConfigMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SynthesizeSpeechConfig"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ListIntentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "intents": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ImportTestCasesMetadata": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestCaseErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestCaseErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3TestCaseError"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ImportIntentsResponseConflictingResources": {
      "type": "structure",
      "members": {
        "entityDisplayNames": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "intentDisplayNames": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SmartReplyAnswer": {
      "type": "structure",
      "members": {
        "reply": {
          "target": "smithy.api#String"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3AdvancedSettingsDtmfSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "endpointingTimeoutDuration": {
          "target": "smithy.api#String"
        },
        "maxDigits": {
          "target": "smithy.api#Integer"
        },
        "finishDigit": {
          "target": "smithy.api#String"
        },
        "interdigitTimeoutDuration": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AnalyzeContentResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Message"
        },
        "replyText": {
          "target": "smithy.api#String"
        },
        "endUserSuggestionResults": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestionResultList"
        },
        "replyAudio": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1OutputAudio"
        },
        "dtmfParameters": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1DtmfParameters"
        },
        "automatedAgentReply": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AutomatedAgentReply"
        },
        "humanAgentSuggestionResults": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestionResultList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestionResult"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "structure",
      "members": {
        "agentUri": {
          "target": "smithy.api#String"
        },
        "commitSha": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "type": "structure",
      "members": {
        "conversation": {
          "target": "smithy.api#String"
        },
        "suggestionResults": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SuggestionResultList"
        },
        "participant": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SuggestionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SuggestionResult"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "type": "structure",
      "members": {
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        },
        "text": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EnvironmentHistory": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "entries": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EnvironmentHistoryEntryList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EnvironmentHistoryEntryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EnvironmentHistoryEntry"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "clientId": {
          "target": "smithy.api#String"
        },
        "tokenEndpoint": {
          "target": "smithy.api#String"
        },
        "clientSecret": {
          "target": "smithy.api#String"
        },
        "secretVersionForClientSecret": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1BatchRunTestCasesMetadata": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "structure",
      "members": {
        "duplicateSuggestions": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SentimentAnalysisResult": {
      "type": "structure",
      "members": {
        "queryTextSentiment": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Sentiment"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2DeleteConversationModelOperationMetadata": {
      "type": "structure",
      "members": {
        "conversationModel": {
          "target": "smithy.api#String"
        },
        "doneTime": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentAssistantRecord": {
      "type": "structure",
      "members": {
        "dialogflowAssistAnswer": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1DialogflowAssistAnswer"
        },
        "generatorSuggestion": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        },
        "articleSuggestionAnswer": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ArticleAnswer"
        },
        "faqAnswer": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1FaqAnswer"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ServiceLatency": {
      "type": "structure",
      "members": {
        "internalServiceLatencies": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatencyList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationSection": {
      "type": "structure",
      "members": {
        "definition": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationSectionTypeEnum"
        },
        "key": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SummarizationSectionTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "SITUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITUATION"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION"
          }
        },
        "RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLUTION"
          }
        },
        "REASON_FOR_CANCELLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_FOR_CANCELLATION"
          }
        },
        "CUSTOMER_SATISFACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_SATISFACTION"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITIES"
          }
        },
        "CUSTOMER_DEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_DEFINED"
          }
        },
        "SITUATION_CONCISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITUATION_CONCISE"
          }
        },
        "ACTION_CONCISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_CONCISE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1DeployFlowMetadata": {
      "type": "structure",
      "members": {
        "testErrors": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1DeployFlowResponse": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1Environment"
        },
        "deployment": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageList"
        },
        "mergeBehavior": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponseMergeBehaviorEnum"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessage"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponseMergeBehaviorEnum": {
      "type": "enum",
      "members": {
        "MERGE_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE_BEHAVIOR_UNSPECIFIED"
          }
        },
        "APPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPEND"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestSmartRepliesRequest": {
      "type": "structure",
      "members": {
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "currentTextInput": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TextInput"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfig": {
      "type": "structure",
      "members": {
        "oauthGrantType": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfigOauthGrantTypeEnum"
        },
        "scopes": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "clientId": {
          "target": "smithy.api#String"
        },
        "tokenEndpoint": {
          "target": "smithy.api#String"
        },
        "clientSecret": {
          "target": "smithy.api#String"
        },
        "secretVersionForClientSecret": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ToolAuthenticationOAuthConfigOauthGrantTypeEnum": {
      "type": "enum",
      "members": {
        "OAUTH_GRANT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH_GRANT_TYPE_UNSPECIFIED"
          }
        },
        "CLIENT_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CREDENTIAL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1DtmfInput": {
      "type": "structure",
      "members": {
        "digits": {
          "target": "smithy.api#String"
        },
        "finishDigit": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses": {
      "type": "structure",
      "members": {
        "simpleResponses": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageSimpleResponseList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageSimpleResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageSimpleResponse"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1BatchUpdateEntitiesRequest": {
      "type": "structure",
      "members": {
        "updateMask": {
          "target": "smithy.api#String"
        },
        "entities": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EntityTypeEntityList"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EntityTypeEntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EntityTypeEntity"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3EventInput": {
      "type": "structure",
      "members": {
        "event": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio": {
      "type": "structure",
      "members": {
        "segments": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegmentList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionSources": {
      "type": "structure",
      "members": {
        "instructionIndexes": {
          "target": "com.gcp.dialogflow_v2beta1#IntegerList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GenerateStatelessSuggestionResponse": {
      "type": "structure",
      "members": {
        "generatorSuggestion": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GeneratorSuggestion"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Agent": {
      "type": "structure",
      "members": {
        "enableLogging": {
          "target": "smithy.api#Boolean"
        },
        "avatarUri": {
          "target": "smithy.api#String"
        },
        "timeZone": {
          "target": "smithy.api#String"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "tier": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentTierEnum"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "matchMode": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentMatchModeEnum"
        },
        "parent": {
          "target": "smithy.api#String"
        },
        "defaultLanguageCode": {
          "target": "smithy.api#String"
        },
        "apiVersion": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentApiVersionEnum"
        },
        "classificationThreshold": {
          "target": "smithy.api#Double"
        },
        "supportedLanguageCodes": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentTierEnum": {
      "type": "enum",
      "members": {
        "TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_UNSPECIFIED"
          }
        },
        "TIER_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_STANDARD"
          }
        },
        "TIER_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_ENTERPRISE"
          }
        },
        "TIER_ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_ENTERPRISE_PLUS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentMatchModeEnum": {
      "type": "enum",
      "members": {
        "MATCH_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_MODE_UNSPECIFIED"
          }
        },
        "MATCH_MODE_HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_MODE_HYBRID"
          }
        },
        "MATCH_MODE_ML_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCH_MODE_ML_ONLY"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AgentApiVersionEnum": {
      "type": "enum",
      "members": {
        "API_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_UNSPECIFIED"
          }
        },
        "API_VERSION_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_V1"
          }
        },
        "API_VERSION_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_V2"
          }
        },
        "API_VERSION_V2_BETA_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_VERSION_V2_BETA_1"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSections": {
      "type": "structure",
      "members": {
        "sectionTypes": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnumList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnum": {
      "type": "enum",
      "members": {
        "SECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_TYPE_UNSPECIFIED"
          }
        },
        "SITUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITUATION"
          }
        },
        "ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION"
          }
        },
        "RESOLUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLUTION"
          }
        },
        "REASON_FOR_CANCELLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REASON_FOR_CANCELLATION"
          }
        },
        "CUSTOMER_SATISFACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_SATISFACTION"
          }
        },
        "ENTITIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITIES"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantConfigSuggestionQueryConfigSectionsSectionTypesItemEnum"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummary": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "sortedTextSections": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySectionList"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "baselineModelVersion": {
          "target": "smithy.api#String"
        },
        "textSections": {
          "target": "com.gcp.dialogflow_v2beta1#StringMap"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestConversationSummaryResponseSummarySummarySection"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudLocationListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "locations": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudLocationLocationList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudLocationLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudLocationLocation"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1Fulfillment": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String"
        },
        "webhook": {
          "target": "smithy.api#String"
        },
        "messages": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageList"
        },
        "returnPartialResponses": {
          "target": "smithy.api#Boolean"
        },
        "setParameterActions": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterActionList"
        },
        "enableGenerativeFallback": {
          "target": "smithy.api#Boolean"
        },
        "conditionalCases": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesList"
        },
        "advancedSettings": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "generators": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettingsList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessage"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCasesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentConditionalCases"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettingsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FulfillmentGeneratorSettings"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ImportTestCasesMetadata": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestCaseErrorList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestCaseErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestCaseError"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2QueryResult": {
      "type": "structure",
      "members": {
        "webhookSource": {
          "target": "smithy.api#String"
        },
        "intent": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2Intent"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "allRequiredParamsPresent": {
          "target": "smithy.api#Boolean"
        },
        "outputContexts": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ContextList"
        },
        "diagnosticInfo": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "sentimentAnalysisResult": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2SentimentAnalysisResult"
        },
        "fulfillmentMessages": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageList"
        },
        "queryText": {
          "target": "smithy.api#String"
        },
        "intentDetectionConfidence": {
          "target": "smithy.api#Double"
        },
        "speechRecognitionConfidence": {
          "target": "smithy.api#Double"
        },
        "webhookPayload": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "cancelsSlotFilling": {
          "target": "smithy.api#Boolean"
        },
        "fulfillmentText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2Context"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessage"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1Conversation": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationPhoneNumber"
        },
        "initialConversationProfile": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationProfile"
        },
        "ingestedContextReferences": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationContextReferenceMap"
        },
        "conversationProfile": {
          "target": "smithy.api#String"
        },
        "telephonyConnectionInfo": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationTelephonyConnectionInfo"
        },
        "startTime": {
          "target": "smithy.api#String"
        },
        "lifecycleState": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationLifecycleStateEnum"
        },
        "conversationStage": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationConversationStageEnum"
        },
        "endTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "initialGeneratorContexts": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationGeneratorContextMap"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationLifecycleStateEnum": {
      "type": "enum",
      "members": {
        "LIFECYCLE_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFECYCLE_STATE_UNSPECIFIED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationConversationStageEnum": {
      "type": "enum",
      "members": {
        "CONVERSATION_STAGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_STAGE_UNSPECIFIED"
          }
        },
        "VIRTUAL_AGENT_STAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIRTUAL_AGENT_STAGE"
          }
        },
        "HUMAN_ASSIST_STAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_ASSIST_STAGE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationGeneratorContextMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1ConversationGeneratorContext"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageListSelect": {
      "type": "structure",
      "members": {
        "title": {
          "target": "smithy.api#String"
        },
        "items": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageListSelectItemList"
        },
        "subtitle": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageListSelectItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2IntentMessageListSelectItem"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1HumanAgentAssistantEvent": {
      "type": "structure",
      "members": {
        "participant": {
          "target": "smithy.api#String"
        },
        "conversation": {
          "target": "smithy.api#String"
        },
        "suggestionResults": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1SuggestionResultList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1QueryInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TextInput"
        },
        "audioConfig": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1InputAudioConfig"
        },
        "event": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1EventInput"
        },
        "dtmf": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1TelephonyDtmfEvents"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1GcsSources": {
      "type": "structure",
      "members": {
        "uris": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2InitializeEncryptionSpecMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2InitializeEncryptionSpecRequest"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String"
        },
        "genericWebService": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3WebhookGenericWebService"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2CreateConversationDatasetOperationMetadata": {
      "type": "structure",
      "members": {
        "conversationDataset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentMessageText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2Context": {
      "type": "structure",
      "members": {
        "lifespanCount": {
          "target": "smithy.api#Integer"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1MessageAnnotation": {
      "type": "structure",
      "members": {
        "containEntities": {
          "target": "smithy.api#Boolean"
        },
        "parts": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AnnotatedMessagePartList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AnnotatedMessagePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1AnnotatedMessagePart"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1Form": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FormParameterList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FormParameterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1FormParameter"
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ResponseMessageOutputAudioText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "ssml": {
          "target": "smithy.api#String"
        },
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponse": {
      "type": "structure",
      "members": {
        "entityTypes": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "conflictingResources": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1ImportEntityTypesResponseConflictingResources"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "type": "structure",
      "members": {
        "continuousTestResult": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentBatch": {
      "type": "structure",
      "members": {
        "intents": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2beta1IntentList"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3EnvironmentTestCasesConfig": {
      "type": "structure",
      "members": {
        "enablePredeploymentRun": {
          "target": "smithy.api#Boolean"
        },
        "testCases": {
          "target": "com.gcp.dialogflow_v2beta1#StringList"
        },
        "enableContinuousRun": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1RunTestCaseResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3beta1TestCaseResult"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowCxV3SessionInfo": {
      "type": "structure",
      "members": {
        "session": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v2beta1#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ConversationEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ConversationEventTypeEnum"
        },
        "conversation": {
          "target": "smithy.api#String"
        },
        "errorStatus": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleRpcStatus"
        },
        "newMessagePayload": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2Message"
        },
        "newRecognitionResultPayload": {
          "target": "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2StreamingRecognitionResult"
        }
      }
    },
    "com.gcp.dialogflow_v2beta1#GoogleCloudDialogflowV2ConversationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
[...]
