{
  "smithy": "2.0",
  "metadata": {
    "service": "dialogflow",
    "version": "v3beta1",
    "title": "Dialogflow API",
    "baseUrl": "https://dialogflow.googleapis.com/"
  },
  "shapes": {
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookRequestIntentInfo": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String"
        },
        "lastMatchedIntent": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValueMap"
        },
        "confidence": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookRequestIntentInfoIntentParameterValue"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageSuggestions": {
      "type": "structure",
      "members": {
        "suggestions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageSuggestion"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2BatchUpdateIntentsResponse": {
      "type": "structure",
      "members": {
        "intents": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2Intent"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequest": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String"
        },
        "entityTypes": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "entityTypesUri": {
          "target": "smithy.api#String"
        },
        "entityTypesContentInline": {
          "target": "smithy.api#Boolean"
        },
        "dataFormat": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequestDataFormatEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportEntityTypesRequestDataFormatEnum": {
      "type": "enum",
      "members": {
        "DATA_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_FORMAT_UNSPECIFIED"
          }
        },
        "BLOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOB"
          }
        },
        "JSON_PACKAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON_PACKAGE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestConfig": {
      "type": "structure",
      "members": {
        "flow": {
          "target": "smithy.api#String"
        },
        "trackingParameters": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "page": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ListSessionEntityTypesResponse": {
      "type": "structure",
      "members": {
        "sessionEntityTypes": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SessionEntityTypeList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SessionEntityTypeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SessionEntityType"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1NluSettings": {
      "type": "structure",
      "members": {
        "classificationThreshold": {
          "target": "smithy.api#Double"
        },
        "modelType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1NluSettingsModelTypeEnum"
        },
        "modelTrainingMode": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1NluSettingsModelTrainingModeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1NluSettingsModelTypeEnum": {
      "type": "enum",
      "members": {
        "MODEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TYPE_UNSPECIFIED"
          }
        },
        "MODEL_TYPE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TYPE_STANDARD"
          }
        },
        "MODEL_TYPE_ADVANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TYPE_ADVANCED"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1NluSettingsModelTrainingModeEnum": {
      "type": "enum",
      "members": {
        "MODEL_TRAINING_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TRAINING_MODE_UNSPECIFIED"
          }
        },
        "MODEL_TRAINING_MODE_AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TRAINING_MODE_AUTOMATIC"
          }
        },
        "MODEL_TRAINING_MODE_MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TRAINING_MODE_MANUAL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1RestoreToolVersionRequest": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1QueryParameters": {
      "type": "structure",
      "members": {
        "timeZone": {
          "target": "smithy.api#String"
        },
        "sessionTtl": {
          "target": "smithy.api#String"
        },
        "analyzeQueryTextSentiment": {
          "target": "smithy.api#Boolean"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "llmModelSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "webhookHeaders": {
          "target": "com.gcp.dialogflow_v3beta1#StringMap"
        },
        "endUserMetadata": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "sessionEntityTypes": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SessionEntityTypeList"
        },
        "populateDataStoreConnectionSignals": {
          "target": "smithy.api#Boolean"
        },
        "flowVersions": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "currentPage": {
          "target": "smithy.api#String"
        },
        "geoLocation": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleTypeLatLng"
        },
        "parameterScope": {
          "target": "smithy.api#String"
        },
        "channel": {
          "target": "smithy.api#String"
        },
        "disableWebhook": {
          "target": "smithy.api#Boolean"
        },
        "searchConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SearchConfig"
        },
        "currentPlaybook": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.dialogflow_v3beta1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3InlineDestination": {
      "type": "structure",
      "members": {
        "content": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VersionVariants": {
      "type": "structure",
      "members": {
        "variants": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VersionVariantsVariantList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VersionVariantsVariantList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1VersionVariantsVariant"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookResponse": {
      "type": "structure",
      "members": {
        "targetPage": {
          "target": "smithy.api#String"
        },
        "targetFlow": {
          "target": "smithy.api#String"
        },
        "sessionInfo": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3SessionInfo"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "pageInfo": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3PageInfo"
        },
        "fulfillmentResponse": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookResponseFulfillmentResponse"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Span": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "completeTime": {
          "target": "smithy.api#String"
        },
        "startTime": {
          "target": "smithy.api#String"
        },
        "metrics": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1NamedMetricList"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1NamedMetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1NamedMetric"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FlowTransition": {
      "type": "structure",
      "members": {
        "inputActionParameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "flow": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SuggestKnowledgeAssistResponse": {
      "type": "structure",
      "members": {
        "additionalSuggestedQueryResults": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResultList"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        },
        "knowledgeAssistAnswer": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswer"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswer": {
      "type": "structure",
      "members": {
        "knowledgeAssistDebugInfo": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistDebugInfo"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "suggestedQueryAnswer": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerKnowledgeAnswer"
        },
        "suggestedQuery": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2EncryptionSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "kmsKey": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageText": {
      "type": "structure",
      "members": {
        "allowPlaybackInterruption": {
          "target": "smithy.api#Boolean"
        },
        "text": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1RestoreToolVersionResponse": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Tool"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorTool": {
      "type": "structure",
      "members": {
        "actions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "endUserAuthConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageCardButton": {
      "type": "structure",
      "members": {
        "postback": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GcsDestination": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessage": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "smithy.api#String"
        },
        "mixedAudio": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio"
        },
        "endInteraction": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction"
        },
        "outputAudioText": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText"
        },
        "liveAgentHandoff": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff"
        },
        "knowledgeInfoCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageKnowledgeInfoCard"
        },
        "toolCall": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolCall"
        },
        "playAudio": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "conversationSuccess": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess"
        },
        "telephonyTransferCall": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageTelephonyTransferCall"
        },
        "text": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageText"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfig": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "oauthGrantType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfigOauthGrantTypeEnum"
        },
        "tokenEndpoint": {
          "target": "smithy.api#String"
        },
        "clientId": {
          "target": "smithy.api#String"
        },
        "secretVersionForClientSecret": {
          "target": "smithy.api#String"
        },
        "clientSecret": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolAuthenticationOAuthConfigOauthGrantTypeEnum": {
      "type": "enum",
      "members": {
        "OAUTH_GRANT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH_GRANT_TYPE_UNSPECIFIED"
          }
        },
        "CLIENT_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CREDENTIAL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportPlaybookRequest": {
      "type": "structure",
      "members": {
        "playbookContent": {
          "target": "smithy.api#String"
        },
        "importStrategy": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookImportStrategy"
        },
        "playbookUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FulfillmentSetParameterAction": {
      "type": "structure",
      "members": {
        "parameter": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#Document"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SessionEntityType": {
      "type": "structure",
      "members": {
        "entityOverrideMode": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SessionEntityTypeEntityOverrideModeEnum"
        },
        "entities": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EntityTypeEntityList"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SessionEntityTypeEntityOverrideModeEnum": {
      "type": "enum",
      "members": {
        "ENTITY_OVERRIDE_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_OVERRIDE_MODE_UNSPECIFIED"
          }
        },
        "ENTITY_OVERRIDE_MODE_OVERRIDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_OVERRIDE_MODE_OVERRIDE"
          }
        },
        "ENTITY_OVERRIDE_MODE_SUPPLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTITY_OVERRIDE_MODE_SUPPLEMENT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EntityTypeEntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EntityTypeEntity"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3FulfillmentConditionalCasesCaseCaseContent": {
      "type": "structure",
      "members": {
        "additionalCases": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3FulfillmentConditionalCases"
        },
        "message": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ResponseMessage"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ToolCallResult": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String"
        },
        "rawContent": {
          "target": "smithy.api#String"
        },
        "cesApp": {
          "target": "smithy.api#String"
        },
        "cesToolset": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "cesTool": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ToolCallResultError"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ResponseMessageEndInteraction": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3AdvancedSettingsSpeechSettings": {
      "type": "structure",
      "members": {
        "useTimeoutBasedEndpointing": {
          "target": "smithy.api#Boolean"
        },
        "endpointerSensitivity": {
          "target": "smithy.api#Integer"
        },
        "models": {
          "target": "com.gcp.dialogflow_v3beta1#StringMap"
        },
        "noSpeechTimeout": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ServiceLatency": {
      "type": "structure",
      "members": {
        "internalServiceLatencies": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatencyList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatencyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ServiceLatencyInternalServiceLatency"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportFlowRequest": {
      "type": "structure",
      "members": {
        "includeReferencedFlows": {
          "target": "smithy.api#Boolean"
        },
        "flowUri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SessionInfo": {
      "type": "structure",
      "members": {
        "session": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookServiceDirectoryConfig": {
      "type": "structure",
      "members": {
        "genericWebService": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookGenericWebService"
        },
        "service": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ListPagesResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "pages": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PageList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Page"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TestRunDifference": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TestRunDifferenceTypeEnum"
        },
        "description": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TestRunDifferenceTypeEnum": {
      "type": "enum",
      "members": {
        "DIFF_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFF_TYPE_UNSPECIFIED"
          }
        },
        "INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTENT"
          }
        },
        "PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAGE"
          }
        },
        "PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETERS"
          }
        },
        "UTTERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTTERANCE"
          }
        },
        "FLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessageText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebService": {
      "type": "structure",
      "members": {
        "requestBody": {
          "target": "smithy.api#String"
        },
        "username": {
          "target": "smithy.api#String"
        },
        "oauthConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceOAuthConfig"
        },
        "webhookType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceWebhookTypeEnum"
        },
        "requestHeaders": {
          "target": "com.gcp.dialogflow_v3beta1#StringMap"
        },
        "allowedCaCerts": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "password": {
          "target": "smithy.api#String"
        },
        "uri": {
          "target": "smithy.api#String"
        },
        "httpMethod": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceHttpMethodEnum"
        },
        "serviceAgentAuth": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAgentAuthEnum"
        },
        "secretVersionsForRequestHeaders": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValueMap"
        },
        "serviceAccountAuthConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAccountAuthConfig"
        },
        "secretVersionForUsernamePassword": {
          "target": "smithy.api#String"
        },
        "parameterMapping": {
          "target": "com.gcp.dialogflow_v3beta1#StringMap"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceWebhookTypeEnum": {
      "type": "enum",
      "members": {
        "WEBHOOK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBHOOK_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "FLEXIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLEXIBLE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceHttpMethodEnum": {
      "type": "enum",
      "members": {
        "HTTP_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTP_METHOD_UNSPECIFIED"
          }
        },
        "POST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST"
          }
        },
        "GET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "PUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "PATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PATCH"
          }
        },
        "OPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIONS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceServiceAgentAuthEnum": {
      "type": "enum",
      "members": {
        "SERVICE_AGENT_AUTH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_AGENT_AUTH_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ID_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID_TOKEN"
          }
        },
        "ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_TOKEN"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookGenericWebServiceSecretVersionHeaderValue"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FlowMultiLanguageSettings": {
      "type": "structure",
      "members": {
        "enableMultiLanguageDetection": {
          "target": "smithy.api#Boolean"
        },
        "supportedResponseLanguageCodes": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ConversationEvent": {
      "type": "structure",
      "members": {
        "conversation": {
          "target": "smithy.api#String"
        },
        "newRecognitionResultPayload": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2StreamingRecognitionResult"
        },
        "type": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ConversationEventTypeEnum"
        },
        "newMessagePayload": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2Message"
        },
        "errorStatus": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleRpcStatus"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ConversationEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CONVERSATION_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_STARTED"
          }
        },
        "CONVERSATION_FINISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVERSATION_FINISHED"
          }
        },
        "HUMAN_INTERVENTION_NEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_INTERVENTION_NEEDED"
          }
        },
        "NEW_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_MESSAGE"
          }
        },
        "NEW_RECOGNITION_RESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW_RECOGNITION_RESULT"
          }
        },
        "UNRECOVERABLE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRECOVERABLE_ERROR"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3IntentTrainingPhrasePart": {
      "type": "structure",
      "members": {
        "parameterId": {
          "target": "smithy.api#String"
        },
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1CompareVersionsResponse": {
      "type": "structure",
      "members": {
        "baseVersionContentJson": {
          "target": "smithy.api#String"
        },
        "compareTime": {
          "target": "smithy.api#String"
        },
        "targetVersionContentJson": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ExportAgentResponse": {
      "type": "structure",
      "members": {
        "agentUri": {
          "target": "smithy.api#String"
        },
        "commitSha": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ExportAgentResponse": {
      "type": "structure",
      "members": {
        "agentUri": {
          "target": "smithy.api#String"
        },
        "agentContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3WebhookGenericWebServiceServiceAccountAuthConfig": {
      "type": "structure",
      "members": {
        "serviceAccount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolDataStoreTool": {
      "type": "structure",
      "members": {
        "dataStoreConnections": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DataStoreConnectionList"
        },
        "fallbackPrompt": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolDataStoreToolFallbackPrompt"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DataStoreConnectionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DataStoreConnection"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TurnSignals": {
      "type": "structure",
      "members": {
        "failureReasons": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TurnSignalsFailureReasonsItemEnumList"
        },
        "sentimentMagnitude": {
          "target": "smithy.api#Double"
        },
        "dtmfUsed": {
          "target": "smithy.api#Boolean"
        },
        "reachedEndPage": {
          "target": "smithy.api#Boolean"
        },
        "agentEscalated": {
          "target": "smithy.api#Boolean"
        },
        "noMatch": {
          "target": "smithy.api#Boolean"
        },
        "userEscalated": {
          "target": "smithy.api#Boolean"
        },
        "webhookStatuses": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "sentimentScore": {
          "target": "smithy.api#Double"
        },
        "noUserInput": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TurnSignalsFailureReasonsItemEnum": {
      "type": "enum",
      "members": {
        "FAILURE_REASON_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILURE_REASON_UNSPECIFIED"
          }
        },
        "FAILED_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_INTENT"
          }
        },
        "FAILED_WEBHOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_WEBHOOK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TurnSignalsFailureReasonsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TurnSignalsFailureReasonsItemEnum"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TypeSchema": {
      "type": "structure",
      "members": {
        "inlineSchema": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1InlineSchema"
        },
        "schemaReference": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TypeSchemaSchemaReference"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportIntentsMetadata": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1GeneratorSuggestion": {
      "type": "structure",
      "members": {
        "agentCoachingSuggestion": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestion"
        },
        "freeFormSuggestion": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1FreeFormSuggestion"
        },
        "summarySuggestion": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SummarySuggestion"
        },
        "toolCallInfo": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfoList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1GeneratorSuggestionToolCallInfo"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Handler": {
      "type": "structure",
      "members": {
        "lifecycleHandler": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1HandlerLifecycleHandler"
        },
        "eventHandler": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1HandlerEventHandler"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolExtensionTool": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettings": {
      "type": "structure",
      "members": {
        "categoryFilters": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilter"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverage": {
      "type": "structure",
      "members": {
        "routeGroup": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionRouteGroup"
        },
        "coverageScore": {
          "target": "smithy.api#Double"
        },
        "transitions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransitionList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionRouteGroupCoverageCoverageTransition"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfig": {
      "type": "structure",
      "members": {
        "oauth2AuthCodeConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2AuthCodeConfig"
        },
        "oauth2JwtBearerConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolEndUserAuthConfigOauth2JwtBearerConfig"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportEntityTypesResponse": {
      "type": "structure",
      "members": {
        "entityTypesUri": {
          "target": "smithy.api#String"
        },
        "entityTypesContent": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1InlineDestination"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1AudioInput": {
      "type": "structure",
      "members": {
        "audio": {
          "target": "smithy.api#String"
        },
        "config": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1InputAudioConfig"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FilterSpecs": {
      "type": "structure",
      "members": {
        "dataStores": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "filter": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3BatchRunTestCasesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestCaseResultList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestCaseResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TestCaseResult"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelect": {
      "type": "structure",
      "members": {
        "subtitle": {
          "target": "smithy.api#String"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "items": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelectItemList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelectItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelectItem"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1AgentGitIntegrationSettingsGitConnectionSettings": {
      "type": "structure",
      "members": {
        "trackingBranch": {
          "target": "smithy.api#String"
        },
        "accessTokenSecret": {
          "target": "smithy.api#String"
        },
        "branches": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "repositoryUri": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "operations": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleLongrunningOperationList"
        },
        "nextPageToken": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilter": {
      "type": "structure",
      "members": {
        "filterLevel": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterFilterLevelEnum"
        },
        "category": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterCategoryEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterFilterLevelEnum": {
      "type": "enum",
      "members": {
        "SAFETY_FILTER_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFETY_FILTER_LEVEL_UNSPECIFIED"
          }
        },
        "BLOCK_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_NONE"
          }
        },
        "BLOCK_FEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_FEW"
          }
        },
        "BLOCK_SOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_SOME"
          }
        },
        "BLOCK_MOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK_MOST"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SafetySettingsRaiSettingsCategoryFilterCategoryEnum": {
      "type": "enum",
      "members": {
        "SAFETY_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAFETY_CATEGORY_UNSPECIFIED"
          }
        },
        "DANGEROUS_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DANGEROUS_CONTENT"
          }
        },
        "HATE_SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HATE_SPEECH"
          }
        },
        "HARASSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARASSMENT"
          }
        },
        "SEXUALLY_EXPLICIT_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEXUALLY_EXPLICIT_CONTENT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ListPlaybookVersionsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "playbookVersions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookVersionList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookVersion"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1InitializeEncryptionSpecMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1InitializeEncryptionSpecRequest"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ToolCallResult": {
      "type": "structure",
      "members": {
        "cesToolset": {
          "target": "smithy.api#String"
        },
        "error": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ToolCallResultError"
        },
        "tool": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "cesTool": {
          "target": "smithy.api#String"
        },
        "cesApp": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "rawContent": {
          "target": "smithy.api#String"
        },
        "answerRecord": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ImportDocumentsResponse": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleRpcStatusList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleRpcStatus"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TransitionRoute": {
      "type": "structure",
      "members": {
        "targetPage": {
          "target": "smithy.api#String"
        },
        "targetFlow": {
          "target": "smithy.api#String"
        },
        "condition": {
          "target": "smithy.api#String"
        },
        "triggerFulfillment": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3Fulfillment"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "intent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageSimpleResponse": {
      "type": "structure",
      "members": {
        "displayText": {
          "target": "smithy.api#String"
        },
        "textToSpeech": {
          "target": "smithy.api#String"
        },
        "ssml": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Flow": {
      "type": "structure",
      "members": {
        "knowledgeConnectorSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1KnowledgeConnectorSettings"
        },
        "inputParameterDefinitions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ParameterDefinitionList"
        },
        "eventHandlers": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EventHandlerList"
        },
        "description": {
          "target": "smithy.api#String"
        },
        "locked": {
          "target": "smithy.api#Boolean"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "transitionRouteGroups": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "advancedSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "transitionRoutes": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionRouteList"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "nluSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1NluSettings"
        },
        "outputParameterDefinitions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ParameterDefinitionList"
        },
        "multiLanguageSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FlowMultiLanguageSettings"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ParameterDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ParameterDefinition"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EventHandlerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EventHandler"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionRouteList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TransitionRoute"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FlowTraceMetadata": {
      "type": "structure",
      "members": {
        "flow": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessage": {
      "type": "structure",
      "members": {
        "rbmCarouselRichCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmCarouselCard"
        },
        "text": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageText"
        },
        "quickReplies": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageQuickReplies"
        },
        "rbmText": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmText"
        },
        "suggestions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageSuggestions"
        },
        "telephonyPlayAudio": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonyPlayAudio"
        },
        "platform": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessagePlatformEnum"
        },
        "image": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "carouselSelect": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect"
        },
        "telephonySynthesizeSpeech": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonySynthesizeSpeech"
        },
        "rbmStandaloneRichCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageRbmStandaloneCard"
        },
        "listSelect": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageListSelect"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "basicCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBasicCard"
        },
        "card": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageCard"
        },
        "mediaContent": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageMediaContent"
        },
        "linkOutSuggestion": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageLinkOutSuggestion"
        },
        "tableCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTableCard"
        },
        "browseCarouselCard": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCard"
        },
        "simpleResponses": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageSimpleResponses"
        },
        "telephonyTransferCall": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTelephonyTransferCall"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessagePlatformEnum": {
      "type": "enum",
      "members": {
        "PLATFORM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_UNSPECIFIED"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACEBOOK"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLACK"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEGRAM"
          }
        },
        "KIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIK"
          }
        },
        "SKYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKYPE"
          }
        },
        "LINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE"
          }
        },
        "VIBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIBER"
          }
        },
        "ACTIONS_ON_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIONS_ON_GOOGLE"
          }
        },
        "TELEPHONY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TELEPHONY"
          }
        },
        "GOOGLE_HANGOUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GOOGLE_HANGOUTS"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1LlmModelSettingsParameters": {
      "type": "structure",
      "members": {
        "outputTokenLimit": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1LlmModelSettingsParametersOutputTokenLimitEnum"
        },
        "temperature": {
          "target": "smithy.api#Double"
        },
        "inputTokenLimit": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1LlmModelSettingsParametersInputTokenLimitEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1LlmModelSettingsParametersOutputTokenLimitEnum": {
      "type": "enum",
      "members": {
        "OUTPUT_TOKEN_LIMIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_TOKEN_LIMIT_UNSPECIFIED"
          }
        },
        "OUTPUT_TOKEN_LIMIT_SHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_TOKEN_LIMIT_SHORT"
          }
        },
        "OUTPUT_TOKEN_LIMIT_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_TOKEN_LIMIT_MEDIUM"
          }
        },
        "OUTPUT_TOKEN_LIMIT_LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPUT_TOKEN_LIMIT_LONG"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1LlmModelSettingsParametersInputTokenLimitEnum": {
      "type": "enum",
      "members": {
        "INPUT_TOKEN_LIMIT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TOKEN_LIMIT_UNSPECIFIED"
          }
        },
        "INPUT_TOKEN_LIMIT_SHORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TOKEN_LIMIT_SHORT"
          }
        },
        "INPUT_TOKEN_LIMIT_MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TOKEN_LIMIT_MEDIUM"
          }
        },
        "INPUT_TOKEN_LIMIT_LONG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INPUT_TOKEN_LIMIT_LONG"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3IntentParameter": {
      "type": "structure",
      "members": {
        "isList": {
          "target": "smithy.api#Boolean"
        },
        "redact": {
          "target": "smithy.api#Boolean"
        },
        "entityType": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonOpenUriAction": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettings": {
      "type": "structure",
      "members": {
        "promptTemplates": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplateList"
        },
        "selectedPrompt": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplateList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeSettingsFallbackSettingsPromptTemplate"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ExportAgentRequestGitDestination": {
      "type": "structure",
      "members": {
        "commitMessage": {
          "target": "smithy.api#String"
        },
        "trackingBranch": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ImportConversationDataOperationResponse": {
      "type": "structure",
      "members": {
        "conversationDataset": {
          "target": "smithy.api#String"
        },
        "importCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistDebugInfoQueryGenerationDebugInfo": {
      "type": "structure",
      "members": {
        "thinkingBudgetTokens": {
          "target": "smithy.api#Integer"
        },
        "candidatesTokenCount": {
          "target": "smithy.api#Integer"
        },
        "thinkingLevel": {
          "target": "smithy.api#String"
        },
        "totalTokenCount": {
          "target": "smithy.api#Integer"
        },
        "similarityToLastQuery": {
          "target": "smithy.api#Double"
        },
        "similarityToLastQueryThreshold": {
          "target": "smithy.api#Double"
        },
        "promptTokenCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityType": {
      "type": "structure",
      "members": {
        "excludedPhrases": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhraseList"
        },
        "kind": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeKindEnum"
        },
        "enableFuzzyExtraction": {
          "target": "smithy.api#Boolean"
        },
        "entities": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeEntityList"
        },
        "redact": {
          "target": "smithy.api#Boolean"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "autoExpansionMode": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeAutoExpansionModeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhraseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeExcludedPhrase"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "KIND_MAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_MAP"
          }
        },
        "KIND_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_LIST"
          }
        },
        "KIND_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_REGEXP"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeEntityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeEntity"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1EntityTypeAutoExpansionModeEnum": {
      "type": "enum",
      "members": {
        "AUTO_EXPANSION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_EXPANSION_MODE_UNSPECIFIED"
          }
        },
        "AUTO_EXPANSION_MODE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_EXPANSION_MODE_DEFAULT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBasicCard": {
      "type": "structure",
      "members": {
        "buttons": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonList"
        },
        "title": {
          "target": "smithy.api#String"
        },
        "subtitle": {
          "target": "smithy.api#String"
        },
        "image": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageImage"
        },
        "formattedText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBasicCardButtonList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBasicCardButton"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSource": {
      "type": "structure",
      "members": {
        "snippets": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippetList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAssistAnswerKnowledgeAnswerGenerativeSourceSnippet"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResult": {
      "type": "structure",
      "members": {
        "duplicateSuggestions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestionList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SpeechWordInfo": {
      "type": "structure",
      "members": {
        "word": {
          "target": "smithy.api#String"
        },
        "endOffset": {
          "target": "smithy.api#String"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "startOffset": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SpeechToTextSettings": {
      "type": "structure",
      "members": {
        "enableSpeechAdaptation": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3AudioInput": {
      "type": "structure",
      "members": {
        "config": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3InputAudioConfig"
        },
        "audio": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ActionTTS": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageTableCardCell": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ConversationTurn": {
      "type": "structure",
      "members": {
        "userInput": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ConversationTurnUserInput"
        },
        "virtualAgentOutput": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ConversationTurnVirtualAgentOutput"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessage": {
      "type": "structure",
      "members": {
        "liveAgentHandoff": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessageLiveAgentHandoff"
        },
        "payload": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "endInteraction": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessageEndInteraction"
        },
        "telephonyTransferCall": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessageTelephonyTransferCall"
        },
        "text": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessageText"
        },
        "mixedAudio": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessageMixedAudio"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerAdditionalSuggestedQueryResult": {
      "type": "structure",
      "members": {
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "suggestedQuery": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2KnowledgeAssistAnswerSuggestedQuery"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAnswers": {
      "type": "structure",
      "members": {
        "answers": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswerList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1KnowledgeAnswersAnswer"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1Message": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String"
        },
        "content": {
          "target": "smithy.api#String"
        },
        "sendTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "sentimentAnalysis": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1SentimentAnalysisResult"
        },
        "messageAnnotation": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1MessageAnnotation"
        },
        "responseMessages": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessageList"
        },
        "participant": {
          "target": "smithy.api#String"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "participantRole": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1MessageParticipantRoleEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1ResponseMessage"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1MessageParticipantRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "HUMAN_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUMAN_AGENT"
          }
        },
        "AUTOMATED_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED_AGENT"
          }
        },
        "END_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_USER"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorToolAction": {
      "type": "structure",
      "members": {
        "entityOperation": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolConnectorToolActionEntityOperation"
        },
        "inputFields": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "connectionActionId": {
          "target": "smithy.api#String"
        },
        "outputFields": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResourceName": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3RunContinuousTestResponse": {
      "type": "structure",
      "members": {
        "continuousTestResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ContinuousTestResult"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EntityType": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "entities": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EntityTypeEntityList"
        },
        "enableFuzzyExtraction": {
          "target": "smithy.api#Boolean"
        },
        "kind": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EntityTypeKindEnum"
        },
        "autoExpansionMode": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EntityTypeAutoExpansionModeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EntityTypeKindEnum": {
      "type": "enum",
      "members": {
        "KIND_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_UNSPECIFIED"
          }
        },
        "KIND_MAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_MAP"
          }
        },
        "KIND_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_LIST"
          }
        },
        "KIND_REGEXP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KIND_REGEXP"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1EntityTypeAutoExpansionModeEnum": {
      "type": "enum",
      "members": {
        "AUTO_EXPANSION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_EXPANSION_MODE_UNSPECIFIED"
          }
        },
        "AUTO_EXPANSION_MODE_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO_EXPANSION_MODE_DEFAULT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ListIntentsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "intents": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1IntentList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1IntentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Intent"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1QueryResult": {
      "type": "structure",
      "members": {
        "webhookTags": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "match": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Match"
        },
        "webhookDisplayNames": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "intent": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Intent"
        },
        "text": {
          "target": "smithy.api#String"
        },
        "responseMessages": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageList"
        },
        "dtmf": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DtmfInput"
        },
        "transcript": {
          "target": "smithy.api#String"
        },
        "triggerIntent": {
          "target": "smithy.api#String"
        },
        "webhookLatencies": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "traceBlocks": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TraceBlockList"
        },
        "sentimentAnalysisResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1SentimentAnalysisResult"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "currentFlow": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Flow"
        },
        "dataStoreConnectionSignals": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DataStoreConnectionSignals"
        },
        "intentDetectionConfidence": {
          "target": "smithy.api#Double"
        },
        "webhookPayloads": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMapList"
        },
        "webhookStatuses": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleRpcStatusList"
        },
        "advancedSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1AdvancedSettings"
        },
        "allowAnswerFeedback": {
          "target": "smithy.api#Boolean"
        },
        "webhookIds": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "triggerEvent": {
          "target": "smithy.api#String"
        },
        "languageCode": {
          "target": "smithy.api#String"
        },
        "generativeInfo": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GenerativeInfo"
        },
        "diagnosticInfo": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        },
        "currentPage": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Page"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ResponseMessage"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TraceBlockList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1TraceBlock"
      }
    },
    "com.gcp.dialogflow_v3beta1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GeneratorPlaceholder": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportFlowRequest": {
      "type": "structure",
      "members": {
        "flowUri": {
          "target": "smithy.api#String"
        },
        "flowImportStrategy": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1FlowImportStrategy"
        },
        "importOption": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportFlowRequestImportOptionEnum"
        },
        "flowContent": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ImportFlowRequestImportOptionEnum": {
      "type": "enum",
      "members": {
        "IMPORT_OPTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_OPTION_UNSPECIFIED"
          }
        },
        "KEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP"
          }
        },
        "FALLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FALLBACK"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2HumanAgentAssistantEvent": {
      "type": "structure",
      "members": {
        "suggestionResults": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SuggestionResultList"
        },
        "participant": {
          "target": "smithy.api#String"
        },
        "conversation": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SuggestionResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SuggestionResult"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestSentimentAnalysisResult": {
      "type": "structure",
      "members": {
        "magnitude": {
          "target": "smithy.api#Double"
        },
        "score": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3SessionInfo": {
      "type": "structure",
      "members": {
        "session": {
          "target": "smithy.api#String"
        },
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#DocumentMap"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ToolVersion": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Tool"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "updateTime": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentSuggestion": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "intentV2": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlAction": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String"
        },
        "urlTypeHint": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlActionUrlTypeHintEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageBrowseCarouselCardBrowseCarouselCardItemOpenUrlActionUrlTypeHintEnum": {
      "type": "enum",
      "members": {
        "URL_TYPE_HINT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "URL_TYPE_HINT_UNSPECIFIED"
          }
        },
        "AMP_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMP_ACTION"
          }
        },
        "AMP_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMP_CONTENT"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Changelog": {
      "type": "structure",
      "members": {
        "languageCode": {
          "target": "smithy.api#String"
        },
        "userEmail": {
          "target": "smithy.api#String"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String"
        },
        "resource": {
          "target": "smithy.api#String"
        },
        "type": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3QueryInput": {
      "type": "structure",
      "members": {
        "dtmf": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3DtmfInput"
        },
        "intent": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3IntentInput"
        },
        "audio": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3AudioInput"
        },
        "text": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3TextInput"
        },
        "event": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3EventInput"
        },
        "toolCallResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ToolCallResult"
        },
        "languageCode": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentTrainingPhrasePart": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String"
        },
        "entityType": {
          "target": "smithy.api#String"
        },
        "userDefined": {
          "target": "smithy.api#Boolean"
        },
        "alias": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrase": {
      "type": "structure",
      "members": {
        "parts": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePartList"
        },
        "id": {
          "target": "smithy.api#String"
        },
        "repeatCount": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1IntentTrainingPhrasePart"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Playbook": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String"
        },
        "llmModelSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1LlmModelSettings"
        },
        "referencedPlaybooks": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "outputParameterDefinitions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ParameterDefinitionList"
        },
        "referencedTools": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "codeBlock": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1CodeBlock"
        },
        "createTime": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "handlers": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1HandlerList"
        },
        "inputParameterDefinitions": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ParameterDefinitionList"
        },
        "playbookType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookPlaybookTypeEnum"
        },
        "instruction": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookInstruction"
        },
        "displayName": {
          "target": "smithy.api#String"
        },
        "inlineActions": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "goal": {
          "target": "smithy.api#String"
        },
        "speechSettings": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1AdvancedSettingsSpeechSettings"
        },
        "referencedFlows": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        },
        "tokenCount": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1HandlerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Handler"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookPlaybookTypeEnum": {
      "type": "enum",
      "members": {
        "PLAYBOOK_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBOOK_TYPE_UNSPECIFIED"
          }
        },
        "TASK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK"
          }
        },
        "ROUTINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTINE"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DetectIntentResponse": {
      "type": "structure",
      "members": {
        "outputAudio": {
          "target": "smithy.api#String"
        },
        "outputAudioConfig": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1OutputAudioConfig"
        },
        "responseType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DetectIntentResponseResponseTypeEnum"
        },
        "queryResult": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1QueryResult"
        },
        "allowCancellation": {
          "target": "smithy.api#Boolean"
        },
        "responseId": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DetectIntentResponseResponseTypeEnum": {
      "type": "enum",
      "members": {
        "RESPONSE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE_TYPE_UNSPECIFIED"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL"
          }
        },
        "FINAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINAL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo": {
      "type": "structure",
      "members": {
        "parameters": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValueMap"
        },
        "lastMatchedIntent": {
          "target": "smithy.api#String"
        },
        "confidence": {
          "target": "smithy.api#Double"
        },
        "displayName": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValueMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1DeploymentResult": {
      "type": "structure",
      "members": {
        "experiment": {
          "target": "smithy.api#String"
        },
        "deploymentTestResults": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2EntityTypeEntity": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        },
        "synonyms": {
          "target": "com.gcp.dialogflow_v3beta1#StringList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageCarouselSelect": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItemList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2beta1IntentMessageCarouselSelectItem"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ActionSTT": {
      "type": "structure",
      "members": {}
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2IntentMessageImage": {
      "type": "structure",
      "members": {
        "imageUri": {
          "target": "smithy.api#String"
        },
        "accessibilityText": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1ListGeneratorsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String"
        },
        "generators": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GeneratorList"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1GeneratorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1Generator"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SuggestArticlesResponse": {
      "type": "structure",
      "members": {
        "articleAnswers": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ArticleAnswerList"
        },
        "latestMessage": {
          "target": "smithy.api#String"
        },
        "contextSize": {
          "target": "smithy.api#Integer"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ArticleAnswerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2ArticleAnswer"
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3ResponseMessageTelephonyTransferCall": {
      "type": "structure",
      "members": {
        "phoneNumber": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SmartReplyModelMetadata": {
      "type": "structure",
      "members": {
        "trainingModelType": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SmartReplyModelMetadataTrainingModelTypeEnum"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2SmartReplyModelMetadataTrainingModelTypeEnum": {
      "type": "enum",
      "members": {
        "MODEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TYPE_UNSPECIFIED"
          }
        },
        "SMART_REPLY_DUAL_ENCODER_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY_DUAL_ENCODER_MODEL"
          }
        },
        "SMART_REPLY_BERT_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_REPLY_BERT_MODEL"
          }
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionDuplicateCheckResultDuplicateSuggestion": {
      "type": "structure",
      "members": {
        "answerRecord": {
          "target": "smithy.api#String"
        },
        "suggestionIndex": {
          "target": "smithy.api#Integer"
        },
        "sources": {
          "target": "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowV2AgentCoachingSuggestionSources"
        },
        "similarityScore": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.gcp.dialogflow_v3beta1#GoogleCloudDialogflowCxV3beta1PlaybookVersion": {
      "type": "structure",
      "members": {
[...]
