{
  "smithy": "2.0",
  "metadata": {
    "service": "merchantapi",
    "version": "loyaltycustomers_v1",
    "title": "Merchant API",
    "baseUrl": "https://merchantapi.googleapis.com/"
  },
  "shapes": {
    "com.gcp.merchantapi_loyaltycustomers_v1#ManageLoyaltyCustomerMatchResponse": {
      "type": "structure",
      "members": {
        "loyaltyCustomer": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#LoyaltyCustomer",
          "traits": {
            "smithy.api#documentation": "The loyalty customer that was inserted, updated, or removed. If the customer's identifier cannot be matched to a Google account or if the user has not opted into loyalty personalization, this field will contain a default `LoyaltyCustomer` instance."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the ManageLoyaltyCustomerMatch method."
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#ProductChange": {
      "type": "structure",
      "members": {
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The new value of the changed resource or attribute. If empty, it means that the product was deleted. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "reportingContext": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#ProductChangeReportingContextEnum",
          "traits": {
            "smithy.api#documentation": "Reporting contexts that have the change (if applicable). Currently this field supports only (`SHOPPING_ADS`, `LOCAL_INVENTORY_ADS`, `YOUTUBE_SHOPPING`, `YOUTUBE_CHECKOUT`, `YOUTUBE_AFFILIATE`) from the enum value [ReportingContextEnum](/merchant/api/reference/rest/Shared.Types/ReportingContextEnum)"
          }
        },
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The old value of the changed resource or attribute. If empty, it means that the product was created. Will have one of these values : (`approved`, `pending`, `disapproved`, ``)"
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Countries that have the change (if applicable). Represented in the ISO 3166 format."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The change that happened to the product including old value, new value, country code as the region code and reporting context."
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#ProductChangeReportingContextEnum": {
      "type": "enum",
      "members": {
        "REPORTING_CONTEXT_ENUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPORTING_CONTEXT_ENUM_UNSPECIFIED"
          }
        },
        "SHOPPING_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHOPPING_ADS"
          }
        },
        "DISCOVERY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERY_ADS"
          }
        },
        "DEMAND_GEN_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS"
          }
        },
        "DEMAND_GEN_ADS_DISCOVER_SURFACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEMAND_GEN_ADS_DISCOVER_SURFACE"
          }
        },
        "VIDEO_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_ADS"
          }
        },
        "DISPLAY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISPLAY_ADS"
          }
        },
        "LOCAL_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_INVENTORY_ADS"
          }
        },
        "VEHICLE_INVENTORY_ADS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VEHICLE_INVENTORY_ADS"
          }
        },
        "FREE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS"
          }
        },
        "FREE_LISTINGS_UCP_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LISTINGS_UCP_CHECKOUT"
          }
        },
        "FREE_LOCAL_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_LISTINGS"
          }
        },
        "FREE_LOCAL_VEHICLE_LISTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FREE_LOCAL_VEHICLE_LISTINGS"
          }
        },
        "YOUTUBE_AFFILIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_AFFILIATE"
          }
        },
        "YOUTUBE_SHOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_SHOPPING"
          }
        },
        "CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_RETAIL"
          }
        },
        "LOCAL_CLOUD_RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOCAL_CLOUD_RETAIL"
          }
        },
        "PRODUCT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT_REVIEWS"
          }
        },
        "MERCHANT_REVIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERCHANT_REVIEWS"
          }
        },
        "YOUTUBE_CHECKOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YOUTUBE_CHECKOUT"
          }
        }
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#AddressInfo": {
      "type": "structure",
      "members": {
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The Unicode country/region code (CLDR) of the customer, such as \"US\" or \"CH\". This field is case-insensitive. For more information, see https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html."
          }
        },
        "givenName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The given name of the customer."
          }
        },
        "familyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The family name of the customer."
          }
        },
        "postalCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The postal code (zip code) of the customer. **Format Rules:** * **United States:** 5-digit zip codes (e.g., \"94108\")."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The state or province of the customer."
          }
        },
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The city of the customer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a customer’s physical address."
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#LoyaltyCustomer": {
      "type": "structure",
      "members": {
        "userIdentifier": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#UserIdentifier",
          "traits": {
            "smithy.api#documentation": "Required. The identifiers for the customer."
          }
        },
        "pointBalance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The point balance of the loyalty customer."
          }
        },
        "loyaltyTier": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#LoyaltyCustomerLoyaltyTierEnum",
          "traits": {
            "smithy.api#documentation": "Required. The tier label of the loyalty tier the customer belongs to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a customer’s loyalty information. Represents loyalty customer data in `ManageLoyaltyCustomerMatch` API, but is not a resource that can be retrieved or listed by other methods."
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#LoyaltyCustomerLoyaltyTierEnum": {
      "type": "enum",
      "members": {
        "LOYALTY_TIER_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOYALTY_TIER_UNSPECIFIED"
          }
        },
        "TIER1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER1"
          }
        },
        "TIER2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER2"
          }
        },
        "TIER3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER3"
          }
        },
        "TIER4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER4"
          }
        },
        "TIER5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER5"
          }
        },
        "TIER6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER6"
          }
        },
        "TIER7": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER7"
          }
        },
        "NON_MEMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_MEMBER"
          }
        }
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#ProductStatusChangeMessage": {
      "type": "structure",
      "members": {
        "changes": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#ProductChangeList",
          "traits": {
            "smithy.api#documentation": "A message to describe the change that happened to the product"
          }
        },
        "attribute": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#ProductStatusChangeMessageAttributeEnum",
          "traits": {
            "smithy.api#documentation": "The attribute in the resource that changed, in this case it will be always `Status`."
          }
        },
        "eventTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the event was generated. If you want to order the notification messages you receive you should rely on this field not on the order of receiving the notifications."
          }
        },
        "resourceType": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#ProductStatusChangeMessageResourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "The resource that changed, in this case it will always be `Product`."
          }
        },
        "managingAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account that manages the merchant's account. can be the same as merchant id if it is standalone account. Format : `accounts/{service_provider_id}`"
          }
        },
        "account": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The target account that owns the entity that changed. Format : `accounts/{merchant_id}`"
          }
        },
        "expirationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The product expiration time. This field will not be set if the notification is sent for a product deletion event."
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product id."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The product name. Format: `accounts/{account}/products/{product}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The message that the merchant will receive to notify about product status change event"
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#ProductChangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.merchantapi_loyaltycustomers_v1#ProductChange"
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#ProductStatusChangeMessageAttributeEnum": {
      "type": "enum",
      "members": {
        "ATTRIBUTE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTRIBUTE_UNSPECIFIED"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS"
          }
        }
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#ProductStatusChangeMessageResourceTypeEnum": {
      "type": "enum",
      "members": {
        "RESOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_UNSPECIFIED"
          }
        },
        "PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCT"
          }
        },
        "ACCOUNT_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_SERVICE"
          }
        }
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#ManageLoyaltyCustomerMatchRequest": {
      "type": "structure",
      "members": {
        "loyaltyCustomer": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#LoyaltyCustomer",
          "traits": {
            "smithy.api#documentation": "Required. The loyalty customer to insert, update, or remove."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the ManageLoyaltyCustomerMatch method."
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#UserIdentifier": {
      "type": "structure",
      "members": {
        "emailAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The customer’s email address."
          }
        },
        "address": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#AddressInfo",
          "traits": {
            "smithy.api#documentation": "Optional. The customer’s physical address."
          }
        },
        "phoneNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The customer's phone number, in [E.164 format](https://support.google.com/google-ads/answer/16355235) (e.g., \"+16502530000\")."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user identifiers associated with the customer. At least one of the fields within this message must be provided."
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#ManageAccountsLoyaltyCustomersRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent account where this loyalty customer will be handled. Format: `accounts/{account}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#ManageLoyaltyCustomerMatchRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.merchantapi_loyaltycustomers_v1#ManageAccountsLoyaltyCustomers": {
      "type": "operation",
      "input": {
        "target": "com.gcp.merchantapi_loyaltycustomers_v1#ManageAccountsLoyaltyCustomersRequest"
      },
      "output": {
        "target": "com.gcp.merchantapi_loyaltycustomers_v1#ManageLoyaltyCustomerMatchResponse"
      },
      "errors": [
        {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#NotFound"
        },
        {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#Forbidden"
        },
        {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#BadRequest"
        },
        {
          "target": "com.gcp.merchantapi_loyaltycustomers_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "loyaltyCustomers/v1/{+parent}/loyaltyCustomers:manage"
        },
        "smithy.api#documentation": "Manages (inserts, updates, or removes) a customer's loyalty tier information. This method serves as a single interface for all changes to a customer's loyalty status. The specific action (insert, update, or remove) is determined by the current state of the merchant-to-customer association and the `loyalty_tier` value provided in the request. **Operation Logic:** * **Upsert (Insert/Update):** Providing any valid tier other than `NON_MEMBER` will associate the customer with that tier. If an association already exists, it will be updated; otherwise, a new one will be created. * **Removal:** Setting `loyalty_tier` to `NON_MEMBER` will remove any existing loyalty association for the customer. **Privacy Note:** To protect user privacy, this method consistently returns a `200 OK` status with a default `LoyaltyCustomer` response if the customer's identifier cannot be matched to a Google account or if the user has not opted into loyalty personalization."
      }
    }
  }
}
