{
  "smithy": "2.0",
  "metadata": {
    "service": "migrationcenter",
    "version": "v1alpha1",
    "title": "Migration Center API",
    "baseUrl": "https://migrationcenter.googleapis.com/"
  },
  "shapes": {
    "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationDisk": {
      "type": "structure",
      "members": {
        "writeIops": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationStats",
          "traits": {
            "smithy.api#documentation": "Disk write I/O operations per second."
          }
        },
        "readIops": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationStats",
          "traits": {
            "smithy.api#documentation": "Disk read I/O operations per second."
          }
        },
        "iops": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationStats",
          "traits": {
            "smithy.api#documentation": "Disk I/O operations per second."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistical aggregation of disk usage."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MachinePreferences": {
      "type": "structure",
      "members": {
        "allowedMachineSeries": {
          "target": "com.gcp.migrationcenter_v1alpha1#MachineSeriesList",
          "traits": {
            "smithy.api#documentation": "Compute Engine machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of machines to consider when calculating virtual machine migration insights and recommendations for Compute Engine. Not all machine types are available in all zones and regions."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MachineSeriesList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#MachineSeries"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#HostsEntryList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1alpha1#HostsEntryList_",
          "traits": {
            "smithy.api#documentation": "Output only. Hosts entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Hosts content."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#HostsEntryList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#HostsEntry"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DatabaseDeploymentDetailsAggregatedStats": {
      "type": "structure",
      "members": {
        "databaseCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of databases in the deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregated stats for the database deployment."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DatabasePreferencesCloudSqlMySql": {
      "type": "structure",
      "members": {
        "common": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabasePreferencesCloudSqlCommon",
          "traits": {
            "smithy.api#documentation": "Optional. Preferences to Cloud SQL databases."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Preferences for MySQL on Cloud SQL."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MySqlSchemaDetails": {
      "type": "structure",
      "members": {
        "storageEngines": {
          "target": "com.gcp.migrationcenter_v1alpha1#MySqlStorageEngineDetailsList",
          "traits": {
            "smithy.api#documentation": "Optional. Mysql storage engine tables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific details for a Mysql database."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MySqlStorageEngineDetailsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#MySqlStorageEngineDetails"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#CloudSqlForPostgreSqlShape": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.gcp.migrationcenter_v1alpha1#CloudSqlForPostgreSqlShapeVersionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. PostgreSql version to be used on the Cloud SQL for PostgreSql instance."
          }
        },
        "egressGbPerMonth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Predicted Network Out traffic GiB per month."
          }
        },
        "zoneAvailability": {
          "target": "com.gcp.migrationcenter_v1alpha1#CloudSqlForPostgreSqlShapeZoneAvailabilityEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud SQL zone availability."
          }
        },
        "storage": {
          "target": "com.gcp.migrationcenter_v1alpha1#ComputeStorageDescriptor",
          "traits": {
            "smithy.api#documentation": "Output only. Predicted storage shape."
          }
        },
        "logicalCoreCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of logical cores."
          }
        },
        "edition": {
          "target": "com.gcp.migrationcenter_v1alpha1#CloudSqlForPostgreSqlShapeEditionEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Cloud SQL edition."
          }
        },
        "memoryMb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Predicted amount of memory in MiB."
          }
        },
        "backupStorageGb": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Predicted backup storage size in GiB."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Cloud SQL for PostgreSQL database shape."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#CloudSqlForPostgreSqlShapeVersionEnum": {
      "type": "enum",
      "members": {
        "POSTGRESQL_VERSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL_VERSION_UNSPECIFIED"
          }
        },
        "POSTGRESQL_VERSION_9_6": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL_VERSION_9_6"
          }
        },
        "POSTGRESQL_VERSION_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL_VERSION_10"
          }
        },
        "POSTGRESQL_VERSION_11": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL_VERSION_11"
          }
        },
        "POSTGRESQL_VERSION_12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL_VERSION_12"
          }
        },
        "POSTGRESQL_VERSION_13": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL_VERSION_13"
          }
        },
        "POSTGRESQL_VERSION_14": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL_VERSION_14"
          }
        },
        "POSTGRESQL_VERSION_15": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTGRESQL_VERSION_15"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#CloudSqlForPostgreSqlShapeZoneAvailabilityEnum": {
      "type": "enum",
      "members": {
        "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL_ZONE_AVAILABILITY_UNSPECIFIED"
          }
        },
        "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL_ZONE_AVAILABILITY_ZONAL"
          }
        },
        "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL_ZONE_AVAILABILITY_REGIONAL"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#CloudSqlForPostgreSqlShapeEditionEnum": {
      "type": "enum",
      "members": {
        "CLOUD_SQL_EDITION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL_EDITION_UNSPECIFIED"
          }
        },
        "CLOUD_SQL_EDITION_ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL_EDITION_ENTERPRISE"
          }
        },
        "CLOUD_SQL_EDITION_ENTERPRISE_PLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_SQL_EDITION_ENTERPRISE_PLUS"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiskPartition": {
      "type": "structure",
      "members": {
        "subPartitions": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiskPartitionList",
          "traits": {
            "smithy.api#documentation": "Sub-partitions."
          }
        },
        "freeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partition free space."
          }
        },
        "mountPoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mount point (Linux/Windows) or drive letter (Windows)."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partition type (e.g. BIOS boot)."
          }
        },
        "uuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partition UUID."
          }
        },
        "fileSystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partition file system."
          }
        },
        "capacityBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partition capacity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disk Partition details."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#GenericInsight": {
      "type": "structure",
      "members": {
        "defaultMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. In case message_code is not yet known by the client default_message will be the message to be used instead. Text can contain md file style links."
          }
        },
        "additionalInformation": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Additional information about the insight, each entry can be a logical entry and must make sense if it is displayed with line breaks between each entry. Text can contain md style links."
          }
        },
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Represents a globally unique message id for this insight, can be used for localization purposes, in case message_code is not yet known by the client use default_message instead."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A generic insight about an asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.migrationcenter_v1alpha1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#Location"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsEmrClusterDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Contains details for an AWS EMR Cluster asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsAthenaWorkGroupDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Contains details for an AWS Athena Work Group asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListErrorFramesResponse": {
      "type": "structure",
      "members": {
        "errorFrames": {
          "target": "com.gcp.migrationcenter_v1alpha1#ErrorFrameList",
          "traits": {
            "smithy.api#documentation": "The list of error frames."
          }
        },
        "unreachable": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response for listing error frames."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ErrorFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ErrorFrame"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiscoveryClient": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.migrationcenter_v1alpha1#StatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Errors affecting client functionality."
          }
        },
        "recommendedVersions": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiscoveryClientDiscoveryClientRecommendedVersionList",
          "traits": {
            "smithy.api#documentation": "Output only. The recommended versions of the discovery client."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free text description. Maximum length is 1000 characters."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the discovery client was first created."
          }
        },
        "serviceAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Service account used by the discovery client for various operation."
          }
        },
        "heartbeatTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last heartbeat time. Healthy clients are expected to send heartbeats regularly (normally every few minutes)."
          }
        },
        "state": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiscoveryClientStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Current state of the discovery client."
          }
        },
        "labels": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Labels as key value pairs."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Client time-to-live. If specified, the backend will not accept new frames after this time. This field is input only. The derived expiration time is provided as output through the `expire_time` field."
          }
        },
        "signalsEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. This field is intended for internal use."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Full name of the source object associated with this discovery client."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time when the discovery client was last updated. This value is not updated by heartbeats, to view the last heartbeat time please refer to the `heartbeat_time` field."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Client expiration time in UTC. If specified, the backend will not accept new frames after this time."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Free text display name. Maximum length is 63 characters."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Identifier. Full name of this discovery client."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Client version, as reported in recent heartbeat."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an installed Migration Center Discovery Client instance."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#StatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#Status"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiscoveryClientDiscoveryClientRecommendedVersionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#DiscoveryClientDiscoveryClientRecommendedVersion"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiscoveryClientStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "OFFLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFLINE"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsNatGatewayDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Details of an AWS NAT Gateway."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Insight": {
      "type": "structure",
      "members": {
        "migrationInsight": {
          "target": "com.gcp.migrationcenter_v1alpha1#MigrationInsight",
          "traits": {
            "smithy.api#documentation": "Output only. An insight about potential migrations for an asset."
          }
        },
        "genericInsight": {
          "target": "com.gcp.migrationcenter_v1alpha1#GenericInsight",
          "traits": {
            "smithy.api#documentation": "Output only. A generic insight about an asset."
          }
        },
        "softwareInsight": {
          "target": "com.gcp.migrationcenter_v1alpha1#SoftwareInsight",
          "traits": {
            "smithy.api#documentation": "Output only. An insight regarding software detected on an asset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An insight about an asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerTraceFlag": {
      "type": "structure",
      "members": {
        "traceFlagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The trace flag name."
          }
        },
        "scope": {
          "target": "com.gcp.migrationcenter_v1alpha1#SqlServerTraceFlagScopeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The trace flag scope."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQL Server trace flag details."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerTraceFlagScopeEnum": {
      "type": "enum",
      "members": {
        "SCOPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCOPE_UNSPECIFIED"
          }
        },
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "GLOBAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLOBAL"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregationSum": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Sum of field values."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsCloudFrontDistributionDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Details of an AWS CloudFront distribution."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferences": {
      "type": "structure",
      "members": {
        "estimatedUsage": {
          "target": "com.gcp.migrationcenter_v1alpha1#EstimatedUsage",
          "traits": {
            "smithy.api#documentation": "Optional. Estimated usage data for missing usage data. If performance data is available, it overrides this field. If not set, default values will be used for the usage data."
          }
        },
        "vmwareEnginePreferences": {
          "target": "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferences",
          "traits": {
            "smithy.api#documentation": "Preferences concerning insights and recommendations for Google Cloud VMware Engine."
          }
        },
        "regionPreferences": {
          "target": "com.gcp.migrationcenter_v1alpha1#RegionPreferences",
          "traits": {
            "smithy.api#documentation": "Region preferences for assets using this preference set. If you are unsure which value to set, the migration service API region is often a good value to start with. If PreferenceSet.RegionPreferences is specified, it overrides this field."
          }
        },
        "soleTenancyPreferences": {
          "target": "com.gcp.migrationcenter_v1alpha1#SoleTenancyPreferences",
          "traits": {
            "smithy.api#documentation": "Preferences concerning Sole Tenant nodes and virtual machines."
          }
        },
        "targetProduct": {
          "target": "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferencesTargetProductEnum",
          "traits": {
            "smithy.api#documentation": "Target product for assets using this preference set. Specify either target product or business goal, but not both."
          }
        },
        "sizingOptimizationCustomParameters": {
          "target": "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferencesSizingOptimizationCustomParameters",
          "traits": {
            "smithy.api#documentation": "Optional. Custom data to use for sizing optimizations. Relevant when SizingOptimizationStrategy is set to \"custom\"."
          }
        },
        "computeEnginePreferences": {
          "target": "com.gcp.migrationcenter_v1alpha1#ComputeEnginePreferences",
          "traits": {
            "smithy.api#documentation": "Optional. Compute Engine preferences concern insights and recommendations for Compute Engine target."
          }
        },
        "commitmentPlan": {
          "target": "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferencesCommitmentPlanEnum",
          "traits": {
            "smithy.api#documentation": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
          }
        },
        "networkCostParameters": {
          "target": "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferencesNetworkCostParameters",
          "traits": {
            "smithy.api#documentation": "Optional. Parameters that affect network cost estimations. If not set, default values will be used for the parameters."
          }
        },
        "sizingOptimizationStrategy": {
          "target": "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferencesSizingOptimizationStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Sizing optimization strategy specifies the preferred strategy used when extrapolating usage data to calculate insights and recommendations for a virtual machine. If you are unsure which value to set, a moderate sizing optimization strategy is often a good value to start with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VirtualMachinePreferences enables you to create sets of preferences, for example, a geographical location and pricing track, for your migrated virtual machines. The set of preferences influence recommendations for migrating virtual machine assets."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferencesTargetProductEnum": {
      "type": "enum",
      "members": {
        "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_MIGRATION_TARGET_PRODUCT_UNSPECIFIED"
          }
        },
        "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_MIGRATION_TARGET_PRODUCT_COMPUTE_ENGINE"
          }
        },
        "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_MIGRATION_TARGET_PRODUCT_VMWARE_ENGINE"
          }
        },
        "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE_MIGRATION_TARGET_PRODUCT_SOLE_TENANCY"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferencesCommitmentPlanEnum": {
      "type": "enum",
      "members": {
        "COMMITMENT_PLAN_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_UNSPECIFIED"
          }
        },
        "COMMITMENT_PLAN_NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_NONE"
          }
        },
        "COMMITMENT_PLAN_ONE_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_ONE_YEAR"
          }
        },
        "COMMITMENT_PLAN_THREE_YEARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_THREE_YEARS"
          }
        },
        "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_FLEXIBLE_ONE_YEAR"
          }
        },
        "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMITMENT_PLAN_FLEXIBLE_THREE_YEARS"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferencesSizingOptimizationStrategyEnum": {
      "type": "enum",
      "members": {
        "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZING_OPTIMIZATION_STRATEGY_UNSPECIFIED"
          }
        },
        "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZING_OPTIMIZATION_STRATEGY_SAME_AS_SOURCE"
          }
        },
        "SIZING_OPTIMIZATION_STRATEGY_MODERATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZING_OPTIMIZATION_STRATEGY_MODERATE"
          }
        },
        "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZING_OPTIMIZATION_STRATEGY_AGGRESSIVE"
          }
        },
        "SIZING_OPTIMIZATION_STRATEGY_CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIZING_OPTIMIZATION_STRATEGY_CUSTOM"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Asset": {
      "type": "structure",
      "members": {
        "awsApplicationLoadBalancerDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsApplicationLoadBalancerDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS Application Load Balancers."
          }
        },
        "awsAppSyncGraphqlApiDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsAppSyncGraphqlApiDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS AppSync GraphQL APIs."
          }
        },
        "databaseDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabaseDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for logical databases."
          }
        },
        "awsS3BucketDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsS3BucketDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS S3 buckets."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Server generated human readable name of the asset."
          }
        },
        "awsApiGatewayRestApiDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsApiGatewayRestApiDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS API Gateway REST APIs."
          }
        },
        "assignedGroups": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of groups that the asset is assigned to."
          }
        },
        "awsEcrRepositoryDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEcrRepositoryDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AwsEcrRepositoryDetails"
          }
        },
        "awsSnsTopicDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsSnsTopicDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS SNS Topics."
          }
        },
        "hostingProviderDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#HostingProviderDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Details about the hosting provider of the asset."
          }
        },
        "awsEmrClusterDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEmrClusterDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AwsEmrClusterDetails"
          }
        },
        "awsElasticacheClusterDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsElastiCacheClusterDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS ElastiCache Clusters."
          }
        },
        "labels": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "awsElbLoadBalancerDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsElbLoadBalancerDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS Load Balancers."
          }
        },
        "insightList": {
          "target": "com.gcp.migrationcenter_v1alpha1#InsightList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of insights associated with the asset."
          }
        },
        "awsAthenaWorkGroupDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsAthenaWorkGroupDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AwsAthenaWorkGroupDetails"
          }
        },
        "machineDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#MachineDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for virtual machines."
          }
        },
        "awsEksClusterDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEksClusterDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS EKS clusters."
          }
        },
        "awsVpcDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsVpcDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS VPCs."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full name of the asset."
          }
        },
        "awsFirehoseDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsFirehoseDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AwsFirehoseDetails"
          }
        },
        "hidden": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if the asset is hidden."
          }
        },
        "awsKinesisStreamDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsKinesisStreamDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AwsKinesisStreamDetails"
          }
        },
        "awsElasticIpAddressDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsElasticIpAddressDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS Elastic IP Addresses."
          }
        },
        "virtualMachineDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#VirtualMachineDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for virtual machines."
          }
        },
        "awsNatGatewayDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsNatGatewayDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AwsNatGatewayDetails"
          }
        },
        "hideTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the asset was marked as hidden."
          }
        },
        "awsBatchComputeEnvironmentDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsBatchComputeEnvironmentDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS Batch Compute Environments."
          }
        },
        "awsLambdaFunctionDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsLambdaFunctionDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS Lambda functions."
          }
        },
        "awsEfsFileSystemDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEfsFileSystemDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS EFS file systems."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the asset was last updated."
          }
        },
        "hideReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional reason for marking this asset as hidden."
          }
        },
        "attributes": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Generic asset attributes."
          }
        },
        "awsEbsVolumeDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEbsVolumeDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS EBS Volumes."
          }
        },
        "performanceData": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetPerformanceData",
          "traits": {
            "smithy.api#documentation": "Performance data for the asset."
          }
        },
        "awsAutoscalingGroupDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsAutoscalingGroupDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AwsAutoscalingGroupDetails"
          }
        },
        "awsCloudFrontDistributionDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsCloudFrontDistributionDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS CloudFront distributions."
          }
        },
        "awsDynamodbTableDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsDynamoDBTableDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS DynamoDB tables."
          }
        },
        "sources": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of sources contributing to the asset."
          }
        },
        "structuredAttributes": {
          "target": "com.gcp.migrationcenter_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Generic structured asset attributes."
          }
        },
        "awsRedshiftDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsRedshiftDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS Redshift"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the asset was created."
          }
        },
        "awsEcsClusterDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsEcsClusterDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS ECS clusters."
          }
        },
        "databaseDeploymentDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabaseDeploymentDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for database deployments."
          }
        },
        "awsInternetGatewayDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsInternetGatewayDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS Internet Gateways."
          }
        },
        "awsGlueJobDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsGlueJobDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AwsGlueJobDetails"
          }
        },
        "awsRoute53HostedZoneDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsRoute53HostedZoneDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AwsRoute53HostedZoneDetails"
          }
        },
        "awsElasticNetworkInterfaceDetails": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsElasticNetworkInterfaceDetails",
          "traits": {
            "smithy.api#documentation": "Output only. Asset information specific for AWS Elastic Network Interfaces."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An asset represents a resource in your environment. Asset types include virtual machines and databases."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregateAssetsValuesResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationResultList",
          "traits": {
            "smithy.api#documentation": "The aggregation results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response to a request to aggregated assets values."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#AggregationResult"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SignedUri": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Download URI for the file."
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Name of the file the Signed URI references."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a signed URI."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryVMWareNode": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code to identify VMware Engine node series, e.g. \"ve1-standard-72\". Based on the displayName of cloud.google.com/vmware-engine/docs/reference/rest/v1/projects.locations.nodeTypes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A VMWare Engine Node"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        },
        "groups": {
          "target": "com.gcp.migrationcenter_v1alpha1#GroupList",
          "traits": {
            "smithy.api#documentation": "The list of Group"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response for listing groups."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#GroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#Group"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SoleTenantNodeType": {
      "type": "structure",
      "members": {
        "nodeName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the Sole Tenant node. Consult https://cloud.google.com/compute/docs/nodes/sole-tenant-nodes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Sole Tenant node type."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DatabaseObjects": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.gcp.migrationcenter_v1alpha1#DatabaseObjectsCategoryEnum",
          "traits": {
            "smithy.api#documentation": "The category of the objects."
          }
        },
        "count": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of objects."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of a group of database objects."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DatabaseObjectsCategoryEnum": {
      "type": "enum",
      "members": {
        "CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORY_UNSPECIFIED"
          }
        },
        "TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TABLE"
          }
        },
        "INDEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INDEX"
          }
        },
        "CONSTRAINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONSTRAINTS"
          }
        },
        "VIEWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWS"
          }
        },
        "SOURCE_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_CODE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerDatabaseDeployment": {
      "type": "structure",
      "members": {
        "serverFlags": {
          "target": "com.gcp.migrationcenter_v1alpha1#SqlServerServerFlagList",
          "traits": {
            "smithy.api#documentation": "Optional. List of SQL Server server flags."
          }
        },
        "features": {
          "target": "com.gcp.migrationcenter_v1alpha1#SqlServerFeatureList",
          "traits": {
            "smithy.api#documentation": "Optional. List of SQL Server features."
          }
        },
        "traceFlags": {
          "target": "com.gcp.migrationcenter_v1alpha1#SqlServerTraceFlagList",
          "traits": {
            "smithy.api#documentation": "Optional. List of SQL Server trace flags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific details for a Microsoft SQL Server database deployment."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerServerFlagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#SqlServerServerFlag"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerFeatureList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#SqlServerFeature"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerTraceFlagList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#SqlServerTraceFlag"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VMwareEngineMachinePreferences": {
      "type": "structure",
      "members": {
        "protectedNodes": {
          "target": "com.gcp.migrationcenter_v1alpha1#VMwareEngineMachinePreferencesProtectedNodesEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use VMware Engine Protected offering."
          }
        },
        "allowedMachineSeries": {
          "target": "com.gcp.migrationcenter_v1alpha1#MachineSeriesList",
          "traits": {
            "smithy.api#documentation": "Optional. VMware Engine on Google Cloud machine series to consider for insights and recommendations. If empty, no restriction is applied on the machine series."
          }
        },
        "storageOnlyNodes": {
          "target": "com.gcp.migrationcenter_v1alpha1#VMwareEngineMachinePreferencesStorageOnlyNodesEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to use storage-only nodes, if those are available."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of machines to consider when calculating virtual machine migration insights and recommendations for VMware Engine. Not all machine types are available in all zones and regions."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VMwareEngineMachinePreferencesProtectedNodesEnum": {
      "type": "enum",
      "members": {
        "PROTECTED_NODES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTED_NODES_UNSPECIFIED"
          }
        },
        "PROTECTED_NODES_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTED_NODES_ENABLED"
          }
        },
        "PROTECTED_NODES_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTED_NODES_DISABLED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VMwareEngineMachinePreferencesStorageOnlyNodesEnum": {
      "type": "enum",
      "members": {
        "STORAGE_ONLY_NODES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_ONLY_NODES_UNSPECIFIED"
          }
        },
        "STORAGE_ONLY_NODES_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_ONLY_NODES_ENABLED"
          }
        },
        "STORAGE_ONLY_NODES_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_ONLY_NODES_DISABLED"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetsExportJobInventory": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configuration for asset inventory details exports."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#CascadeLogicalDBsRule": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Cascading rule for related logical DBs."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ImportJob": {
      "type": "structure",
      "members": {
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the import job was last updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The full name of the import job."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the import job was created."
          }
        },
        "gcsPayload": {
          "target": "com.gcp.migrationcenter_v1alpha1#GCSPayloadInfo",
          "traits": {
            "smithy.api#documentation": "The payload is in Google Cloud Storage."
          }
        },
        "executionReport": {
          "target": "com.gcp.migrationcenter_v1alpha1#ExecutionReport",
          "traits": {
            "smithy.api#documentation": "Output only. The report with the results of running the import job."
          }
        },
        "validationReport": {
          "target": "com.gcp.migrationcenter_v1alpha1#ValidationReport",
          "traits": {
            "smithy.api#documentation": "Output only. The report with the validation results of the import job."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-friendly display name. Maximum length is 63 characters."
          }
        },
        "state": {
          "target": "com.gcp.migrationcenter_v1alpha1#ImportJobStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the import job."
          }
        },
        "assetSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Reference to a source."
          }
        },
        "completeTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the import job was completed."
          }
        },
        "labels": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringMap",
          "traits": {
            "smithy.api#documentation": "Labels as key value pairs."
          }
        },
        "inlinePayload": {
          "target": "com.gcp.migrationcenter_v1alpha1#InlinePayloadInfo",
          "traits": {
            "smithy.api#documentation": "The payload is included in the request, mainly used for small import jobs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that represents the background job that imports asset frames."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ImportJobStateEnum": {
      "type": "enum",
      "members": {
        "IMPORT_JOB_STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_UNSPECIFIED"
          }
        },
        "IMPORT_JOB_STATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_PENDING"
          }
        },
        "IMPORT_JOB_STATE_RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_RUNNING"
          }
        },
        "IMPORT_JOB_STATE_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_COMPLETED"
          }
        },
        "IMPORT_JOB_STATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_FAILED"
          }
        },
        "IMPORT_JOB_STATE_VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_VALIDATING"
          }
        },
        "IMPORT_JOB_STATE_FAILED_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_FAILED_VALIDATION"
          }
        },
        "IMPORT_JOB_STATE_READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT_JOB_STATE_READY"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryUtilizationChartData": {
      "type": "structure",
      "members": {
        "used": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Aggregate value which falls into the \"Used\" bucket."
          }
        },
        "free": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Aggregate value which falls into the \"Free\" bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Utilization Chart is a specific type of visualization which displays a metric classified into \"Used\" and \"Free\" buckets."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiskEntryList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiskEntryList_",
          "traits": {
            "smithy.api#documentation": "Disk entries."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VM disks."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiskEntryList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#DiskEntry"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryVMWareEngineFinding": {
      "type": "structure",
      "members": {
        "allocatedRegions": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Set of regions in which the assets were allocated"
          }
        },
        "allocatedAssetCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Count of assets which are allocated"
          }
        },
        "nodeAllocations": {
          "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryVMWareNodeAllocationList",
          "traits": {
            "smithy.api#documentation": "Set of per-nodetype allocation records"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A set of findings that applies to assets destined for VMWare Engine."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryVMWareNodeAllocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ReportSummaryVMWareNodeAllocation"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#InsightList": {
      "type": "structure",
      "members": {
        "insights": {
          "target": "com.gcp.migrationcenter_v1alpha1#InsightList_",
          "traits": {
            "smithy.api#documentation": "Output only. Insights of the list."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update timestamp."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message containing insights list."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#InsightList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#Insight"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregationHistogram": {
      "type": "structure",
      "members": {
        "lowerBounds": {
          "target": "com.gcp.migrationcenter_v1alpha1#DoubleList",
          "traits": {
            "smithy.api#documentation": "Lower bounds of buckets. The response will contain `n+1` buckets for `n` bounds. The first bucket will count all assets for which the field value is smaller than the first bound. Subsequent buckets will count assets for which the field value is greater or equal to a lower bound and smaller than the next one. The last bucket will count assets for which the field value is greater or equal to the final lower bound. You can define up to 20 lower bounds."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Histogram of bucketed assets counts by field value."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DoubleList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsElasticIpAddressDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Asset information specific for AWS Elastic IP Addresses."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListAssetsExportJobsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A token identifying a page of results the server should return."
          }
        },
        "assetsExportJobs": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetsExportJobList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of assets export jobs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing assets export jobs."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetsExportJobList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#AssetsExportJob"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Aggregation": {
      "type": "structure",
      "members": {
        "frequency": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationFrequency",
          "traits": {
            "smithy.api#documentation": "Creates a frequency distribution of all field values."
          }
        },
        "sum": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationSum",
          "traits": {
            "smithy.api#documentation": "Sum over a numeric field."
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the field on which to aggregate."
          }
        },
        "count": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationCount",
          "traits": {
            "smithy.api#documentation": "Count the number of matching objects."
          }
        },
        "histogram": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationHistogram",
          "traits": {
            "smithy.api#documentation": "Creates a bucketed histogram of field values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing an aggregation. The message includes the aggregation type, parameters, and the field on which to perform the aggregation."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#OutputFile": {
      "type": "structure",
      "members": {
        "csvOutputFile": {
          "target": "com.gcp.migrationcenter_v1alpha1#CsvOutputFile",
          "traits": {
            "smithy.api#documentation": "Output only. CSV output file."
          }
        },
        "xlsxOutputFile": {
          "target": "com.gcp.migrationcenter_v1alpha1#XlsxOutputFile",
          "traits": {
            "smithy.api#documentation": "Output only. XLSX output file."
          }
        },
        "fileSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. File size in bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a single output file."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Operation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.migrationcenter_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "metadata": {
          "target": "com.gcp.migrationcenter_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "response": {
          "target": "com.gcp.migrationcenter_v1alpha1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsInternetGatewayDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Asset information specific for AWS Internet Gateways."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportExportExecution": {
      "type": "structure",
      "members": {
        "progressPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Represents the progress of the execution. It reaches 100 when the execution is successfully completed. When the execution finishes with a failure, the progress is set to 0."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Execution start timestamp."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Completion time of the export."
          }
        },
        "executionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Globally unique identifier of the execution."
          }
        },
        "result": {
          "target": "com.gcp.migrationcenter_v1alpha1#ReportExportExecutionResult",
          "traits": {
            "smithy.api#documentation": "Output only. Result of the export execution."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Expiration time for the export and artifacts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution status of report export operation."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SignedUriDestination": {
      "type": "structure",
      "members": {
        "fileFormat": {
          "target": "com.gcp.migrationcenter_v1alpha1#SignedUriDestinationFileFormatEnum",
          "traits": {
            "smithy.api#documentation": "Required. The file format to export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Signed URI destination configuration."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SignedUriDestinationFileFormatEnum": {
      "type": "enum",
      "members": {
        "FILE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_UNSPECIFIED"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        },
        "XLSX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XLSX"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#PerformanceSample": {
      "type": "structure",
      "members": {
        "sampleTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time the sample was collected. If omitted, the frame report time will be used."
          }
        },
        "memory": {
          "target": "com.gcp.migrationcenter_v1alpha1#MemoryUsageSample",
          "traits": {
            "smithy.api#documentation": "Memory usage sample."
          }
        },
        "disk": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiskUsageSample",
          "traits": {
            "smithy.api#documentation": "Disk usage sample."
          }
        },
        "network": {
          "target": "com.gcp.migrationcenter_v1alpha1#NetworkUsageSample",
          "traits": {
            "smithy.api#documentation": "Network usage sample."
          }
        },
        "cpu": {
          "target": "com.gcp.migrationcenter_v1alpha1#CpuUsageSample",
          "traits": {
            "smithy.api#documentation": "CPU usage sample."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Performance data sample."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ExecutionReport": {
      "type": "structure",
      "members": {
        "framesReported": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of asset frames reported for the import job."
          }
        },
        "jobErrors": {
          "target": "com.gcp.migrationcenter_v1alpha1#ImportErrorList",
          "traits": {
            "smithy.api#documentation": "List of job-level errors. Deprecated, use the job errors under execution_errors instead."
          }
        },
        "executionErrors": {
          "target": "com.gcp.migrationcenter_v1alpha1#ValidationReport",
          "traits": {
            "smithy.api#documentation": "Validation errors encountered during the execution of the import job."
          }
        },
        "totalRowsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of rows in the import job."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource that reports result of the import job execution."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ImportErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#ImportError"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregation": {
      "type": "structure",
      "members": {
        "cpu": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationCPU",
          "traits": {
            "smithy.api#documentation": "CPU usage."
          }
        },
        "date": {
          "target": "com.gcp.migrationcenter_v1alpha1#Migrationcenter_Date",
          "traits": {
            "smithy.api#documentation": "Aggregation date. Day boundaries are at midnight UTC."
          }
        },
        "disk": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationDisk",
          "traits": {
            "smithy.api#documentation": "Disk usage."
          }
        },
        "memory": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationMemory",
          "traits": {
            "smithy.api#documentation": "Memory usage."
          }
        },
        "network": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationNetwork",
          "traits": {
            "smithy.api#documentation": "Network usage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Usage data aggregation for a single day."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DetectedSoftware": {
      "type": "structure",
      "members": {
        "softwareFamily": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Software family of the detected software, e.g. Database, SAP family."
          }
        },
        "softwareName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Software's name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about software detected on an asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DiskEntry": {
      "type": "structure",
      "members": {
        "diskLabelType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk label type (e.g. BIOS/GPT)"
          }
        },
        "partitions": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiskPartitionList",
          "traits": {
            "smithy.api#documentation": "Partition layout."
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk status (e.g. online)."
          }
        },
        "diskLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk label."
          }
        },
        "totalCapacityBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk capacity."
          }
        },
        "hwAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk hardware address (e.g. 0:1 for SCSI)."
          }
        },
        "capacityBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk capacity."
          }
        },
        "totalFreeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk free space."
          }
        },
        "interfaceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disks interface type (e.g. SATA/SCSI)"
          }
        },
        "freeSpaceBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk free space."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Single disk entry."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportExportExecutionResult": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.migrationcenter_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Error encountered during export."
          }
        },
        "outputFiles": {
          "target": "com.gcp.migrationcenter_v1alpha1#OutputFileList",
          "traits": {
            "smithy.api#documentation": "Output only. List of output files."
          }
        },
        "signedUris": {
          "target": "com.gcp.migrationcenter_v1alpha1#SignedUris",
          "traits": {
            "smithy.api#documentation": "Output only. Signed URLs for downloading export artifacts."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the result of the report export."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsS3BucketDetailsObjectsMetadata": {
      "type": "structure",
      "members": {
        "totalObjects": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsS3BucketDetailsObjectsMetadataTotalObjects",
          "traits": {
            "smithy.api#documentation": "Optional. The total number of objects in the bucket."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata of the objects in the bucket."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#CascadingRule": {
      "type": "structure",
      "members": {
        "cascadeLogicalDbs": {
          "target": "com.gcp.migrationcenter_v1alpha1#CascadeLogicalDBsRule",
          "traits": {
            "smithy.api#documentation": "Cascading rule for related logical DBs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies cascading rules for traversing relations."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#BatchUpdateAssetsResponse": {
      "type": "structure",
      "members": {
        "assets": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetList_",
          "traits": {
            "smithy.api#documentation": "Update asset content. The content only includes values after field mask being applied."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response for updating a list of assets."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#Asset"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#OutputFileList": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.gcp.migrationcenter_v1alpha1#OutputFileList_",
          "traits": {
            "smithy.api#documentation": "List of output files."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains a list of output files."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#OutputFileList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#OutputFile"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsGlueJobDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Contains details for an AWS Glue Job asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MachineDiskDetails": {
      "type": "structure",
      "members": {
        "rawScanResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw disk scan result. This field is intended for human inspection. The format of this field may be lsblk output or any another raw output. The exact format may change without notice and should not be relied upon."
          }
        },
        "totalCapacityBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disk total Capacity."
          }
        },
        "disks": {
          "target": "com.gcp.migrationcenter_v1alpha1#DiskEntryList",
          "traits": {
            "smithy.api#documentation": "List of disks."
          }
        },
        "totalFreeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total disk free space."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details of machine disks."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MySqlProperty": {
      "type": "structure",
      "members": {
        "numericValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The property numeric value."
          }
        },
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The property name."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Required. The property is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "MySql property."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MysqlDatabaseDeployment": {
      "type": "structure",
      "members": {
        "plugins": {
          "target": "com.gcp.migrationcenter_v1alpha1#MySqlPluginList",
          "traits": {
            "smithy.api#documentation": "Optional. List of MySql plugins."
          }
        },
        "resourceGroupsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of resource groups."
          }
        },
        "properties": {
          "target": "com.gcp.migrationcenter_v1alpha1#MySqlPropertyList",
          "traits": {
            "smithy.api#documentation": "Optional. List of MySql properties."
          }
        },
        "variables": {
          "target": "com.gcp.migrationcenter_v1alpha1#MySqlVariableList",
          "traits": {
            "smithy.api#documentation": "Optional. List of MySql variables."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific details for a Mysql database deployment."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MySqlPluginList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#MySqlPlugin"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MySqlPropertyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#MySqlProperty"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#MySqlVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#MySqlVariable"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ListSourcesResponse": {
      "type": "structure",
      "members": {
        "sources": {
          "target": "com.gcp.migrationcenter_v1alpha1#SourceList",
          "traits": {
            "smithy.api#documentation": "The list of sources."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token identifying a page of results the server should return."
          }
        },
        "unreachable": {
          "target": "com.gcp.migrationcenter_v1alpha1#StringList",
          "traits": {
            "smithy.api#documentation": "Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing sources."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SourceList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#Source"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#SqlServerServerFlag": {
      "type": "structure",
      "members": {
        "serverFlagName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The server flag name."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The server flag value set by the user."
          }
        },
        "valueInUse": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The server flag actual value. If `value_in_use` is different from `value` it means that either the configuration change was not applied or it is an expected behavior. See SQL Server documentation for more details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SQL Server server flag details."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ReportSummaryChartDataDataPoint": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Y-axis value for this data point."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The X-axis label for this data point."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a single data point in the Chart."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationCPU": {
      "type": "structure",
      "members": {
        "utilizationPercentage": {
          "target": "com.gcp.migrationcenter_v1alpha1#DailyResourceUsageAggregationStats",
          "traits": {
            "smithy.api#documentation": "CPU utilization percentage."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistical aggregation of CPU usage."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#ComputeEngineSoleTenantMigrationTarget": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Compute engine sole tenant migration target."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregationResultCount": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "The result of a count aggregation."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsElasticNetworkInterfaceDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Asset information specific for AWS Elastic Network Interfaces."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#NetworkConnection": {
      "type": "structure",
      "members": {
        "remoteIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remote IP address."
          }
        },
        "localPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Local port."
          }
        },
        "localIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Local IP address."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection state (e.g. CONNECTED)."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Connection protocol (e.g. TCP/UDP)."
          }
        },
        "remotePort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Remote port."
          }
        },
        "processName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Process or service name."
          }
        },
        "pid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Process ID."
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsBatchComputeEnvironmentDetails": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Asset information specific for AWS Batch Compute Environments."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AggregationResult": {
      "type": "structure",
      "members": {
        "histogram": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationResultHistogram"
        },
        "field": {
          "target": "smithy.api#String"
        },
        "count": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationResultCount"
        },
        "frequency": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationResultFrequency"
        },
        "sum": {
          "target": "com.gcp.migrationcenter_v1alpha1#AggregationResultSum"
        }
      },
      "traits": {
        "smithy.api#documentation": "Message describing a result of an aggregation."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsS3BucketDetailsStorageClass": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.migrationcenter_v1alpha1#AwsS3BucketDetailsStorageClassTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. Type of the storage class."
          }
        },
        "totalBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The total size of the storage class in bytes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about storage class."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AwsS3BucketDetailsStorageClassTypeEnum": {
      "type": "enum",
      "members": {
        "STORAGE_CLASS_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE_CLASS_TYPE_UNSPECIFIED"
          }
        },
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "INTELLIGENT_TIERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTELLIGENT_TIERING"
          }
        },
        "STANDARD_IA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_IA"
          }
        },
        "ONE_ZONE_IA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_ZONE_IA"
          }
        },
        "GLACIER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLACIER"
          }
        },
        "DEEP_ARCHIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEEP_ARCHIVE"
          }
        },
        "GLACIER_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLACIER_IR"
          }
        },
        "REDUCED_REDUNDANCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDUCED_REDUNDANCY"
          }
        },
        "EXPRESS_ONEZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPRESS_ONEZONE"
          }
        }
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VirtualMachinePreferencesNetworkCostParameters": {
      "type": "structure",
      "members": {
        "estimatedEgressTrafficPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. An estimated percentage of priced outbound traffic (egress traffic) from the measured outbound traffic. Must be in the interval [0, 100]."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters that affect network cost estimations."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#UpdateAssetRequest": {
      "type": "structure",
      "members": {
        "asset": {
          "target": "com.gcp.migrationcenter_v1alpha1#Asset",
          "traits": {
            "smithy.api#documentation": "Required. The resource being updated."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Field mask is used to specify the fields to be overwritten in the `Asset` resource by the update. The values specified in the `update_mask` field are relative to the resource, not the full request. A field will be overwritten if it is in the mask. A single * value in the mask lets you to overwrite all fields."
          }
        },
        "requestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to update an asset."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetsExportJobExecutionResult": {
      "type": "structure",
      "members": {
        "signedUris": {
          "target": "com.gcp.migrationcenter_v1alpha1#SignedUris",
          "traits": {
            "smithy.api#documentation": "Output only. Signed URLs for downloading export artifacts."
          }
        },
        "outputFiles": {
          "target": "com.gcp.migrationcenter_v1alpha1#OutputFileList",
          "traits": {
            "smithy.api#documentation": "Output only. List of output files."
          }
        },
        "error": {
          "target": "com.gcp.migrationcenter_v1alpha1#Status",
          "traits": {
            "smithy.api#documentation": "Output only. Error encountered during export."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the result of the assets export."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#Frames": {
      "type": "structure",
      "members": {
        "framesData": {
          "target": "com.gcp.migrationcenter_v1alpha1#AssetFrameList",
          "traits": {
            "smithy.api#documentation": "A repeated field of asset data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Collection of frame data."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#AssetFrameList": {
      "type": "list",
      "member": {
        "target": "com.gcp.migrationcenter_v1alpha1#AssetFrame"
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferences": {
      "type": "structure",
      "members": {
        "licenseDiscountPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Discount percentage for the license offered to you by Broadcom. Must be between 0 and 100. Only valid when service_type is set to SERVICE_TYPE_PORTABLE_LICENSE."
          }
        },
        "serviceType": {
          "target": "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferencesServiceTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. GCVE service type (fully licensed or portable license)."
          }
        },
        "storageDeduplicationCompressionRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The Deduplication and Compression ratio is based on the logical (Used Before) space required to store data before applying deduplication and compression, in relation to the physical (Used After) space required after applying deduplication and compression. Specifically, the ratio is the Used Before space divided by the Used After space. For example, if the Used Before space is 3 GB, but the physical Used After space is 1 GB, the deduplication and compression ratio is 3x. Acceptable values are between 1.0 and 4.0."
          }
        },
        "memoryOvercommitRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Memory overcommit ratio. Acceptable values are 1.0, 1.25, 1.5, 1.75 and 2.0."
          }
        },
        "machinePreferences": {
          "target": "com.gcp.migrationcenter_v1alpha1#VMwareEngineMachinePreferences",
          "traits": {
            "smithy.api#documentation": "Optional. Preferences concerning the machine types to consider on Google Cloud VMware Engine."
          }
        },
        "commitmentPlan": {
          "target": "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferencesCommitmentPlanEnum",
          "traits": {
            "smithy.api#documentation": "Commitment plan to consider when calculating costs for virtual machine insights and recommendations. If you are unsure which value to set, a 3 year commitment plan is often a good value to start with."
          }
        },
        "cpuOvercommitRatio": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "CPU overcommit ratio. Acceptable values are between 1.0 and 8.0, with 0.1 increment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user preferences relating to Google Cloud VMware Engine target platform."
      }
    },
    "com.gcp.migrationcenter_v1alpha1#VmwareEnginePreferencesServiceTypeEnum": {
      "type": "enum",
      "members": {
        "SERVICE_TYPE_UNSPECIFIED": {
[...]
