{
  "smithy": "2.0",
  "metadata": {
    "service": "agentidentitycredentials",
    "version": "v1",
    "title": "Agent Identity Credentials API",
    "baseUrl": "https://agentidentitycredentials.googleapis.com/"
  },
  "shapes": {
    "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response message for `FinalizeCredentials`. Intentionally empty."
      }
    },
    "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_UriConsentRequired": {
      "type": "structure",
      "members": {
        "consentNonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. A one-time, randomly generated value that validates the entire consent flow is handled by a single user, avoiding CSRF attacks. It must be submitted with the `FinalizeCredentials` request to complete the OAuth exchange. This will always be present. Implemented per [RFC 6819 Section 5.3.5](https://www.rfc-editor.org/rfc/rfc6819#section-5.3.5)."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The unique ID of the credentials retrieval operation."
          }
        },
        "authorizationUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The URL where the user should be redirected to grant consent. This will always be present."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the user must visit the provided URI to consent to delegate permission to the agent to act on their behalf. The caller can either poll the `RetrieveCredentials` method, or await the /ValidateUserId callback."
      }
    },
    "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsResponse": {
      "type": "structure",
      "members": {
        "success": {
          "target": "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_Success",
          "traits": {
            "smithy.api#documentation": "Message indicating credentials were successfully retrieved."
          }
        },
        "uriConsentRequired": {
          "target": "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_UriConsentRequired",
          "traits": {
            "smithy.api#documentation": "Message indicating URI-based consent is required."
          }
        },
        "pending": {
          "target": "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_Pending",
          "traits": {
            "smithy.api#documentation": "Message indicating credential retrieval is pending."
          }
        },
        "consentRejected": {
          "target": "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_ConsentRejected",
          "traits": {
            "smithy.api#documentation": "Message indicating consent was rejected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for `RetrieveCredentials`. Contains the access tokens and related artifacts."
      }
    },
    "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsRequest": {
      "type": "structure",
      "members": {
        "userIdValidationState": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The encrypted state passed back from the consent flow."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identity of the end user."
          }
        },
        "consentNonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The same `consent_nonce` value that was provided during retrieval in the [UriConsentRequired](https://cloud.google.com/iam/docs/reference/agentidentitycredentials/rest/v1/projects.locations.authProviders.credentials/retrieve#UriConsentRequired) metadata."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `FinalizeCredentials`."
      }
    },
    "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_Pending": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Indicates that the credential retrieval is pending. The caller should retry the `RetrieveCredentials` request after some time."
      }
    },
    "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_ConsentRejected": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Indicates the user has rejected the permission delegation or canceled the request."
      }
    },
    "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsRequest": {
      "type": "structure",
      "members": {
        "continueUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The URI to redirect the user to after consent is completed. This field is required for auth providers using the 3-legged OAuth flow. For other auth provider types, this field is unused but not rejected."
          }
        },
        "userId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The identity of the end user."
          }
        },
        "scopes": {
          "target": "com.gcp.agentidentitycredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The OAuth scopes required for this access."
          }
        },
        "forceRefreshToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Input only. Set this field only if the previous token was expired or invalid. This value must be the full, previously returned token string. Setting this field triggers a refresh of the access token with a stored refresh token, if possible, or a new consent flow."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `RetrieveCredentials`."
      }
    },
    "com.gcp.agentidentitycredentials_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_Success": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The retrieved access token or credential for the end user. On an MCP tool call, for an invalid token the OAuth spec states that this should return `401` or `403`, but MCP servers may implement this differently. If you get any flavor of `PERMISSION_DENIED`, retry your original request to `RetrieveCredentials` with force_refresh_token set to the expired/invalid token string, which will fetch a new token or initiate a new consent flow."
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP header name where the token should be placed."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time of the token. This does not guarantee that the token will be valid until this time, since the token could be revoked earlier. There could also be clock skew between the auth provider and the client so it may expire slightly earlier. If not set, the token might be permanent or it may be that the service does not (or cannot) know when it will expire."
          }
        },
        "scopes": {
          "target": "com.gcp.agentidentitycredentials_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The scopes actually associated with the retrieved token. End users may have rejected some requested scopes, or the third-party authorization servers can return a different set of scopes than what was asked for. Callers should verify that all required scopes for their intended use are included in this list."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message indicating successful retrieval of credentials."
      }
    },
    "com.gcp.agentidentitycredentials_v1#RetrieveProjectsLocationsAuthProvidersCredentialsRequest": {
      "type": "structure",
      "members": {
        "authProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentitycredentials_v1#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.agentidentitycredentials_v1#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.agentidentitycredentials_v1#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.agentidentitycredentials_v1#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.agentidentitycredentials_v1#RetrieveProjectsLocationsAuthProvidersCredentials": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentitycredentials_v1#RetrieveProjectsLocationsAuthProvidersCredentialsRequest"
      },
      "output": {
        "target": "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_RetrieveCredentialsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentitycredentials_v1#NotFound"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1#BadRequest"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+authProvider}/credentials:retrieve"
        },
        "smithy.api#documentation": "Retrieves authorization credentials for an auth provider, or indicates what action needs to be taken to obtain credentials. If the `token` field in the response is populated, credential retrieval was successful. If one of the fields in the `result` oneof is populated, further action is required to obtain credentials, such as redirecting the user for consent. View comments on `RetrieveCredentialsResponse` for more information."
      }
    },
    "com.gcp.agentidentitycredentials_v1#FinalizeProjectsLocationsAuthProvidersCredentialsRequest": {
      "type": "structure",
      "members": {
        "authProvider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the auth provider. Format: `projects/{project}/locations/{location}/authProviders/{auth_provider}`",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.agentidentitycredentials_v1#FinalizeProjectsLocationsAuthProvidersCredentials": {
      "type": "operation",
      "input": {
        "target": "com.gcp.agentidentitycredentials_v1#FinalizeProjectsLocationsAuthProvidersCredentialsRequest"
      },
      "output": {
        "target": "com.gcp.agentidentitycredentials_v1#GoogleCloudAgentidentitycredentialsV1_FinalizeCredentialsResponse"
      },
      "errors": [
        {
          "target": "com.gcp.agentidentitycredentials_v1#NotFound"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1#Forbidden"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1#BadRequest"
        },
        {
          "target": "com.gcp.agentidentitycredentials_v1#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v1/{+authProvider}/credentials:finalize"
        },
        "smithy.api#documentation": "Finalizes the credentials after a successful consent flow."
      }
    }
  }
}
