{
  "smithy": "2.0",
  "metadata": {
    "service": "ces",
    "version": "v1",
    "title": "Gemini Enterprise for Customer Experience API",
    "baseUrl": "https://ces.googleapis.com/"
  },
  "shapes": {
    "com.gcp.ces_v1#TriggerActionResponse": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Text for the agent to respond with."
          }
        },
        "disabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the response is disabled. Disabled responses are not used by the agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a response from the agent."
      }
    },
    "com.gcp.ces_v1#LfA2aV1StringList": {
      "type": "structure",
      "members": {
        "list": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The individual string values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "protolint:disable REPEATED_FIELD_NAMES_PLURALIZED A list of strings."
      }
    },
    "com.gcp.ces_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ces_v1#ListAppsResponse": {
      "type": "structure",
      "members": {
        "apps": {
          "target": "com.gcp.ces_v1#AppList",
          "traits": {
            "smithy.api#documentation": "The list of apps."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListAppsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        },
        "unreachable": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Locations that could not be reached."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListApps."
      }
    },
    "com.gcp.ces_v1#AppList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#App"
      }
    },
    "com.gcp.ces_v1#TriggerAction": {
      "type": "structure",
      "members": {
        "transferAgent": {
          "target": "com.gcp.ces_v1#TriggerActionTransferAgent",
          "traits": {
            "smithy.api#documentation": "Optional. Transfer the conversation to a different agent."
          }
        },
        "generativeAnswer": {
          "target": "com.gcp.ces_v1#TriggerActionGenerativeAnswer",
          "traits": {
            "smithy.api#documentation": "Optional. Respond with a generative answer."
          }
        },
        "respondImmediately": {
          "target": "com.gcp.ces_v1#TriggerActionRespondImmediately",
          "traits": {
            "smithy.api#documentation": "Optional. Immediately respond with a preconfigured response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action that is taken when a certain precondition is met."
      }
    },
    "com.gcp.ces_v1#App": {
      "type": "structure",
      "members": {
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether the app is pinned in the app list."
          }
        },
        "languageSettings": {
          "target": "com.gcp.ces_v1#LanguageSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Language settings of the app."
          }
        },
        "predefinedVariableDeclarations": {
          "target": "com.gcp.ces_v1#AppVariableDeclarationList",
          "traits": {
            "smithy.api#documentation": "Output only. The declarations of predefined variables for the app."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the app. Format: `projects/{project}/locations/{location}/apps/{app}`"
          }
        },
        "audioProcessingConfig": {
          "target": "com.gcp.ces_v1#AudioProcessingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Audio processing configuration of the app."
          }
        },
        "timeZoneSettings": {
          "target": "com.gcp.ces_v1#TimeZoneSettings",
          "traits": {
            "smithy.api#documentation": "Optional. TimeZone settings of the app."
          }
        },
        "deploymentCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. Number of deployments in the app."
          }
        },
        "loggingSettings": {
          "target": "com.gcp.ces_v1#LoggingSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Logging settings of the app."
          }
        },
        "toolExecutionMode": {
          "target": "com.gcp.ces_v1#AppToolExecutionModeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The tool execution mode for the app. If not provided, will default to PARALLEL."
          }
        },
        "errorHandlingSettings": {
          "target": "com.gcp.ces_v1#ErrorHandlingSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Error handling settings of the app."
          }
        },
        "modelSettings": {
          "target": "com.gcp.ces_v1#ModelSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The default LLM model settings for the app. Individual resources (e.g. agents, guardrails) can override these configurations as needed."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the app was last updated."
          }
        },
        "defaultChannelProfile": {
          "target": "com.gcp.ces_v1#ChannelProfile",
          "traits": {
            "smithy.api#documentation": "Optional. The default channel profile used by the app."
          }
        },
        "evaluationMetricsThresholds": {
          "target": "com.gcp.ces_v1#EvaluationMetricsThresholds",
          "traits": {
            "smithy.api#documentation": "Optional. The evaluation thresholds for the app."
          }
        },
        "metadata": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Metadata about the app. This field can be used to store additional information relevant to the app's details or intended usages."
          }
        },
        "validationErrors": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Misconfigurations or warnings in the app."
          }
        },
        "vpcScSettings": {
          "target": "com.gcp.ces_v1#VpcScSettings",
          "traits": {
            "smithy.api#documentation": "Optional. VPC-SC settings for the app."
          }
        },
        "variableDeclarations": {
          "target": "com.gcp.ces_v1#AppVariableDeclarationList",
          "traits": {
            "smithy.api#documentation": "Optional. The declarations of the variables."
          }
        },
        "locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether the app is locked for changes. If the app is locked, modifications to the app resources will be rejected."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "dashboardSettings": {
          "target": "com.gcp.ces_v1#DashboardSettings",
          "traits": {
            "smithy.api#documentation": "Optional. App-specific dashboard settings for linking and configuring Contact Center Insights dashboards."
          }
        },
        "rootAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The root agent is the entry point of the app. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
          }
        },
        "guardrails": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of guardrails for the app. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable description of the app."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name of the app."
          }
        },
        "globalInstruction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instructions for all the agents in the app. You can use this instruction to set up a stable identity or personality across all the agents."
          }
        },
        "dataStoreSettings": {
          "target": "com.gcp.ces_v1#DataStoreSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The data store settings for the app."
          }
        },
        "clientCertificateSettings": {
          "target": "com.gcp.ces_v1#ClientCertificateSettings",
          "traits": {
            "smithy.api#documentation": "Optional. The default client certificate settings for the app."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the app was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An app serves as a top-level container for a group of agents, including the root agent and its sub-agents, along with their associated configurations. These agents work together to achieve specific goals within the app's context."
      }
    },
    "com.gcp.ces_v1#AppVariableDeclarationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#AppVariableDeclaration"
      }
    },
    "com.gcp.ces_v1#AppToolExecutionModeEnum": {
      "type": "enum",
      "members": {
        "TOOL_EXECUTION_MODE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOOL_EXECUTION_MODE_UNSPECIFIED"
          }
        },
        "PARALLEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARALLEL"
          }
        },
        "SEQUENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEQUENTIAL"
          }
        }
      }
    },
    "com.gcp.ces_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.ces_v1#AgentSkill": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A unique identifier for the agent's skill."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A human-readable name for the skill."
          }
        },
        "examples": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Example prompts or scenarios that this skill can handle."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A detailed description of the skill."
          }
        },
        "tags": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Required. A set of keywords describing the skill's capabilities."
          }
        },
        "outputModes": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of supported output media types for this skill, overriding the agent's defaults."
          }
        },
        "inputModes": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The set of supported input media types for this skill, overriding the agent's defaults."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a distinct capability or function that an agent can perform."
      }
    },
    "com.gcp.ces_v1#BearerTokenConfig": {
      "type": "structure",
      "members": {
        "token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The bearer token. Must be in the format `$context.variables.`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configurations for authentication with a bearer token."
      }
    },
    "com.gcp.ces_v1#ToolResponse": {
      "type": "structure",
      "members": {
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
          }
        },
        "toolsetTool": {
          "target": "com.gcp.ces_v1#ToolsetTool",
          "traits": {
            "smithy.api#documentation": "Optional. The toolset tool that got executed."
          }
        },
        "parentToolCallId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the tool."
          }
        },
        "response": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Required. The tool execution result in JSON object format. Use \"output\" key to specify tool response and \"error\" key to specify error details (if any). If \"output\" and \"error\" keys are not specified, then whole \"response\" is treated as tool execution result."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The matching ID of the tool call the response is for."
          }
        },
        "agentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The execution result of a specific tool from the client or the agent."
      }
    },
    "com.gcp.ces_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.ces_v1#LfA2aV1ImplicitOAuthFlow": {
      "type": "structure",
      "members": {
        "refreshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to be used for obtaining refresh tokens. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS."
          }
        },
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authorization URL to be used for this flow. This MUST be in the form of a URL. The OAuth2 standard requires the use of TLS"
          }
        },
        "scopes": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "The available scopes for the OAuth2 security scheme. A map between the scope name and a short description for it. The map MAY be empty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deprecated: Use Authorization Code + PKCE instead."
      }
    },
    "com.gcp.ces_v1#ImportAppRequestImportOptions": {
      "type": "structure",
      "members": {
        "conflictResolutionStrategy": {
          "target": "com.gcp.ces_v1#ImportAppRequestImportOptionsConflictResolutionStrategyEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The strategy to use when resolving conflicts during import."
          }
        },
        "validateOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag for dry-running the import process. If set to true, the import process will only perform validations and will not make any changes to the existing app or create a new one."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration options for the app import process. These options control how the import behaves, particularly when conflicts arise with existing app data."
      }
    },
    "com.gcp.ces_v1#ImportAppRequestImportOptionsConflictResolutionStrategyEnum": {
      "type": "enum",
      "members": {
        "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT_RESOLUTION_STRATEGY_UNSPECIFIED"
          }
        },
        "REPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACE"
          }
        },
        "OVERWRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERWRITE"
          }
        }
      }
    },
    "com.gcp.ces_v1#ListChangelogsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListChangelogsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        },
        "changelogs": {
          "target": "com.gcp.ces_v1#ChangelogList",
          "traits": {
            "smithy.api#documentation": "The list of changelogs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListChangelogs."
      }
    },
    "com.gcp.ces_v1#ChangelogList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Changelog"
      }
    },
    "com.gcp.ces_v1#ImportAppRequest": {
      "type": "structure",
      "members": {
        "jsonPatchContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Patch content as a JSON string."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the app to import. * If the app is created on import, and the display name is specified, the imported app will use this display name. If a conflict is detected with an existing app, a timestamp will be appended to the display name to make it unique. * If the app is a reimport, this field should not be set. Providing a display name during reimport will result in an INVALID_ARGUMENT error."
          }
        },
        "importOptions": {
          "target": "com.gcp.ces_v1#ImportAppRequestImportOptions",
          "traits": {
            "smithy.api#documentation": "Optional. Options governing the import process for the app."
          }
        },
        "ignoreAppLock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Flag for overriding the app lock during import. If set to true, the import process will ignore the app lock."
          }
        },
        "gcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI from which to import app. The format of this URI must be `gs:///`."
          }
        },
        "appContent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw bytes representing the compressed zip file with the app folder structure."
          }
        },
        "jsonPatchGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A Cloud Storage URI pointing to a JSON file containing the patches."
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID to use for the imported app. * If not specified, a unique ID will be automatically assigned for the app. * Otherwise, the imported app will use this ID as the final component of its resource name. If an app with the same ID already exists at the specified location in the project, the content of the existing app will be replaced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AgentService.ImportApp."
      }
    },
    "com.gcp.ces_v1#RetrieveToolSchemaResponse": {
      "type": "structure",
      "members": {
        "outputSchema": {
          "target": "com.gcp.ces_v1#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "The schema of the tool output parameters."
          }
        },
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the tool that the schema is for. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
          }
        },
        "toolsetTool": {
          "target": "com.gcp.ces_v1#ToolsetTool",
          "traits": {
            "smithy.api#documentation": "The toolset tool that the schema is for."
          }
        },
        "inputSchema": {
          "target": "com.gcp.ces_v1#Ces_Schema",
          "traits": {
            "smithy.api#documentation": "The schema of the tool input parameters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ToolService.RetrieveToolSchema."
      }
    },
    "com.gcp.ces_v1#ToolCall": {
      "type": "structure",
      "members": {
        "args": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. The input parameters and values for the tool in JSON object format."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Display name of the tool."
          }
        },
        "agentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Human-readable name of the agent that issued this call, e.g. \"Contract Architect\". Empty when the root agent issued it."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The unique identifier of the tool call. If populated, the client should return the execution result with the matching ID in ToolResponse."
          }
        },
        "tool": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the tool to execute. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
          }
        },
        "parentToolCallId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The id of the tool call that caused this one, when it was issued by a sub-agent working on behalf of a parent call. Empty for top-level calls. Lets a client group a sub-agent's work under the call that started it instead of rendering every step as a sibling."
          }
        },
        "toolsetTool": {
          "target": "com.gcp.ces_v1#ToolsetTool",
          "traits": {
            "smithy.api#documentation": "Optional. The toolset tool to execute."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request for the client or the agent to execute the specified tool."
      }
    },
    "com.gcp.ces_v1#EndUserAuthConfig": {
      "type": "structure",
      "members": {
        "oauth2JwtBearerConfig": {
          "target": "com.gcp.ces_v1#EndUserAuthConfigOauth2JwtBearerConfig",
          "traits": {
            "smithy.api#documentation": "JWT Profile Oauth 2.0 Authorization Grant authentication."
          }
        },
        "oauth2AuthCodeConfig": {
          "target": "com.gcp.ces_v1#EndUserAuthConfigOauth2AuthCodeConfig",
          "traits": {
            "smithy.api#documentation": "Oauth 2.0 Authorization Code authentication."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "End-user authentication configuration used for Connection calls. The field values must be the names of context variables in the format `$context.variables.`."
      }
    },
    "com.gcp.ces_v1#AmbientSoundConfig": {
      "type": "structure",
      "members": {
        "volumeGainDb": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Volume gain (in dB) of the normal native volume supported by ambient noise, in the range [-96.0, 16.0]. If unset, or set to a value of 0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB) will play at approximately half the amplitude of the normal native signal amplitude. A value of +6.0 (dB) will play at approximately twice the amplitude of the normal native signal amplitude. We strongly recommend not to exceed +10 (dB) as there's usually no effective increase in loudness for any value greater than that."
          }
        },
        "prebuiltAmbientNoise": {
          "target": "com.gcp.ces_v1#AmbientSoundConfigPrebuiltAmbientNoiseEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: `prebuilt_ambient_noise` is deprecated in favor of `prebuilt_ambient_sound`."
          }
        },
        "gcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Ambient noise as a mono-channel, 16kHz WAV file stored in [Cloud Storage](https://cloud.google.com/storage). Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
          }
        },
        "prebuiltAmbientSound": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Name of the prebuilt ambient sound. Valid values are: - \"coffee_shop\" - \"keyboard\" - \"keypad\" - \"hum\" - \"office_1\" - \"office_2\" - \"office_3\" - \"room_1\" - \"room_2\" - \"room_3\" - \"room_4\" - \"room_5\" - \"air_conditioner\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the ambient sound to be played with the synthesized agent response, to enhance the naturalness of the conversation."
      }
    },
    "com.gcp.ces_v1#AmbientSoundConfigPrebuiltAmbientNoiseEnum": {
      "type": "enum",
      "members": {
        "PREBUILT_AMBIENT_NOISE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREBUILT_AMBIENT_NOISE_UNSPECIFIED"
          }
        },
        "RETAIL_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETAIL_STORE"
          }
        },
        "CONVENTION_HALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONVENTION_HALL"
          }
        },
        "OUTDOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTDOOR"
          }
        }
      }
    },
    "com.gcp.ces_v1#ExperimentConfig": {
      "type": "structure",
      "members": {
        "versionRelease": {
          "target": "com.gcp.ces_v1#ExperimentConfigVersionRelease",
          "traits": {
            "smithy.api#documentation": "Optional. Version release for the experiment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Experiment for the deployment."
      }
    },
    "com.gcp.ces_v1#MetricAnalysisSettings": {
      "type": "structure",
      "members": {
        "llmMetricsOptedOut": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether to collect conversation data for llm analysis metrics. If true, conversation data will not be collected for llm analysis metrics; otherwise, conversation data will be collected."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to describe the conversation data collection behaviors for LLM analysis metrics pipeline."
      }
    },
    "com.gcp.ces_v1#DataStoreToolSnippetsConfig": {
      "type": "structure",
      "members": {
        "maxSnippets": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Number of snippets to return per query. If unset, returns all snippets from the service by default."
          }
        },
        "enableSnippets": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Whether snippets are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Snippets configuration."
      }
    },
    "com.gcp.ces_v1#LfA2aV1Message": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The task id of the message. If set, the message will be associated with the given task."
          }
        },
        "role": {
          "target": "com.gcp.ces_v1#LfA2aV1MessageRoleEnum",
          "traits": {
            "smithy.api#documentation": "Required. Identifies the sender of the message."
          }
        },
        "metadata": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Any metadata to provide along with the message."
          }
        },
        "messageId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique identifier (e.g. UUID) of the message. This is created by the message creator."
          }
        },
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The context id of the message. If set, the message will be associated with the given context."
          }
        },
        "extensions": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "The URIs of extensions that are present or contributed to this Message."
          }
        },
        "referenceTaskIds": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "A list of task IDs that this message references for additional context."
          }
        },
        "parts": {
          "target": "com.gcp.ces_v1#LfA2aV1PartList",
          "traits": {
            "smithy.api#documentation": "Required. Parts is the container of the message content."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Message` is one unit of communication between client and server. It can be associated with a context and/or a task. For server messages, `context_id` must be provided, and `task_id` only if a task was created. For client messages, both fields are optional, with the caveat that if both are provided, they have to match (the `context_id` has to be the one that is set on the task). If only `task_id` is provided, the server will infer `context_id` from it."
      }
    },
    "com.gcp.ces_v1#LfA2aV1MessageRoleEnum": {
      "type": "enum",
      "members": {
        "ROLE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_UNSPECIFIED"
          }
        },
        "ROLE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_USER"
          }
        },
        "ROLE_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLE_AGENT"
          }
        }
      }
    },
    "com.gcp.ces_v1#LfA2aV1PartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#LfA2aV1Part"
      }
    },
    "com.gcp.ces_v1#LoggingSettings": {
      "type": "structure",
      "members": {
        "audioRecordingConfig": {
          "target": "com.gcp.ces_v1#AudioRecordingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for how audio interactions should be recorded. The audio is subject to redaction as configured in RedactionConfig."
          }
        },
        "bigqueryExportSettings": {
          "target": "com.gcp.ces_v1#BigQueryExportSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the BigQuery export behaviors for the app. The conversation data is subject to redaction as configured in RedactionConfig."
          }
        },
        "cloudLoggingSettings": {
          "target": "com.gcp.ces_v1#CloudLoggingSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings to describe the Cloud Logging behaviors for the app."
          }
        },
        "redactionConfig": {
          "target": "com.gcp.ces_v1#RedactionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for how sensitive data should be redacted."
          }
        },
        "unredactedBigqueryExportSettings": {
          "target": "com.gcp.ces_v1#BigQueryExportSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Configures the BigQuery export behaviors for the app. The unredacted conversation data will be exported to BigQuery tables if it is enabled."
          }
        },
        "conversationLoggingSettings": {
          "target": "com.gcp.ces_v1#ConversationLoggingSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings to describe the conversation logging behaviors for the app."
          }
        },
        "evaluationAudioRecordingConfig": {
          "target": "com.gcp.ces_v1#AudioRecordingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for how audio interactions should be recorded for the evaluation. By default, audio recording is not enabled for evaluation sessions."
          }
        },
        "metricAnalysisSettings": {
          "target": "com.gcp.ces_v1#MetricAnalysisSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Settings to describe the conversation data collection behaviors for the LLM analysis pipeline for the app."
          }
        },
        "unredactedAudioRecordingConfig": {
          "target": "com.gcp.ces_v1#AudioRecordingConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configures an additional recording of unredacted audio. This can be used to maintain a raw audio copy when audio redaction is enabled, typically for auditing or monitoring purposes."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings to describe the logging behaviors for the app."
      }
    },
    "com.gcp.ces_v1#ListLocationsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        },
        "locations": {
          "target": "com.gcp.ces_v1#LocationList",
          "traits": {
            "smithy.api#documentation": "A list of locations that matches the specified filter in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Locations.ListLocations."
      }
    },
    "com.gcp.ces_v1#LocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Location"
      }
    },
    "com.gcp.ces_v1#RestoreAppVersionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for AgentService.RestoreAppVersion"
      }
    },
    "com.gcp.ces_v1#LfA2aV1StreamResponse": {
      "type": "structure",
      "members": {
        "task": {
          "target": "com.gcp.ces_v1#LfA2aV1Task",
          "traits": {
            "smithy.api#documentation": "A Task object containing the current state of the task."
          }
        },
        "message": {
          "target": "com.gcp.ces_v1#LfA2aV1Message",
          "traits": {
            "smithy.api#documentation": "A Message object containing a message from the agent."
          }
        },
        "statusUpdate": {
          "target": "com.gcp.ces_v1#LfA2aV1TaskStatusUpdateEvent",
          "traits": {
            "smithy.api#documentation": "An event indicating a task status update."
          }
        },
        "artifactUpdate": {
          "target": "com.gcp.ces_v1#LfA2aV1TaskArtifactUpdateEvent",
          "traits": {
            "smithy.api#documentation": "An event indicating a task artifact update."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A wrapper object used in streaming operations to encapsulate different types of response data."
      }
    },
    "com.gcp.ces_v1#LfA2aV1DeviceCodeOAuthFlow": {
      "type": "structure",
      "members": {
        "tokenUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The token URL to be used for this flow."
          }
        },
        "refreshUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL to be used for obtaining refresh tokens."
          }
        },
        "deviceAuthorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The device authorization endpoint URL."
          }
        },
        "scopes": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Required. The available scopes for the OAuth2 security scheme."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines configuration details for the OAuth 2.0 Device Code flow (RFC 8628). This flow is designed for input-constrained devices such as IoT devices, and CLI tools where the user authenticates on a separate device."
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfig": {
      "type": "structure",
      "members": {
        "modality": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfigModalityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The modality of the web widget."
          }
        },
        "webWidgetTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The title of the web widget."
          }
        },
        "theme": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfigThemeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The theme of the web widget."
          }
        },
        "securitySettings": {
          "target": "com.gcp.ces_v1#ChannelProfileWebWidgetConfigSecuritySettings",
          "traits": {
            "smithy.api#documentation": "Optional. The security settings of the web widget."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Message for configuration for the web widget."
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfigModalityEnum": {
      "type": "enum",
      "members": {
        "MODALITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODALITY_UNSPECIFIED"
          }
        },
        "CHAT_AND_VOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_AND_VOICE"
          }
        },
        "VOICE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE_ONLY"
          }
        },
        "CHAT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_ONLY"
          }
        },
        "CHAT_VOICE_AND_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT_VOICE_AND_VIDEO"
          }
        }
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfigThemeEnum": {
      "type": "enum",
      "members": {
        "THEME_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THEME_UNSPECIFIED"
          }
        },
        "LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHT"
          }
        },
        "DARK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DARK"
          }
        }
      }
    },
    "com.gcp.ces_v1#LfA2aV1Part": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The string content of the `text` part."
          }
        },
        "mediaType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `media_type` (MIME type) of the part content (e.g., \"text/plain\", \"application/json\", \"image/png\"). This field is available for all part types."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A `url` pointing to the file's content."
          }
        },
        "data": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary structured `data` as a JSON value (object, array, string, number, boolean, or null)."
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional `filename` for the file (e.g., \"document.pdf\")."
          }
        },
        "raw": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `raw` byte content of a file. In JSON serialization, this is encoded as a base64 string."
          }
        },
        "metadata": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. metadata associated with this part."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`Part` represents a container for a section of communication content. Parts can be purely textual, some sort of file (image, video, etc) or a structured data blob (i.e. JSON)."
      }
    },
    "com.gcp.ces_v1#LfA2aV1MutualTlsSecurityScheme": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description for the security scheme."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a security scheme using mTLS authentication."
      }
    },
    "com.gcp.ces_v1#ChannelProfilePersonaProperty": {
      "type": "structure",
      "members": {
        "persona": {
          "target": "com.gcp.ces_v1#ChannelProfilePersonaPropertyPersonaEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The persona of the channel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the persona property of a channel."
      }
    },
    "com.gcp.ces_v1#ChannelProfilePersonaPropertyPersonaEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "CONCISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCISE"
          }
        },
        "CHATTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHATTY"
          }
        }
      }
    },
    "com.gcp.ces_v1#DataStoreTool": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The tool description."
          }
        },
        "boostSpecs": {
          "target": "com.gcp.ces_v1#DataStoreToolBoostSpecsList",
          "traits": {
            "smithy.api#documentation": "Optional. Boost specification to boost certain documents."
          }
        },
        "modalityConfigs": {
          "target": "com.gcp.ces_v1#DataStoreToolModalityConfigList",
          "traits": {
            "smithy.api#documentation": "Optional. The modality configs for the data store."
          }
        },
        "filterParameterBehavior": {
          "target": "com.gcp.ces_v1#DataStoreToolFilterParameterBehaviorEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The filter parameter behavior."
          }
        },
        "engineSource": {
          "target": "com.gcp.ces_v1#DataStoreToolEngineSource",
          "traits": {
            "smithy.api#documentation": "Optional. Search within an Engine (potentially across multiple DataStores)."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The data store tool name."
          }
        },
        "dataStoreSource": {
          "target": "com.gcp.ces_v1#DataStoreToolDataStoreSource",
          "traits": {
            "smithy.api#documentation": "Optional. Search within a single specific DataStore."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tool to retrieve from Vertex AI Search datastore or engine for grounding. Accepts either a datastore or an engine, but not both. See Vertex AI Search: https://cloud.google.com/generative-ai-app-builder/docs/enterprise-search-introduction."
      }
    },
    "com.gcp.ces_v1#DataStoreToolBoostSpecsList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#DataStoreToolBoostSpecs"
      }
    },
    "com.gcp.ces_v1#DataStoreToolModalityConfigList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#DataStoreToolModalityConfig"
      }
    },
    "com.gcp.ces_v1#DataStoreToolFilterParameterBehaviorEnum": {
      "type": "enum",
      "members": {
        "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTER_PARAMETER_BEHAVIOR_UNSPECIFIED"
          }
        },
        "ALWAYS_INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALWAYS_INCLUDE"
          }
        },
        "NEVER_INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEVER_INCLUDE"
          }
        }
      }
    },
    "com.gcp.ces_v1#ExportAppRequest": {
      "type": "structure",
      "members": {
        "gcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The [Google Cloud Storage](https://cloud.google.com/storage/docs/) URI to which to export the app. The format of this URI must be `gs:///`. The exported app archive will be written directly to the specified GCS object."
          }
        },
        "appVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The resource name of the app version to export. Format: `projects/{project}/locations/{location}/apps/{app}/versions/{version}`."
          }
        },
        "exportFormat": {
          "target": "com.gcp.ces_v1#ExportAppRequestExportFormatEnum",
          "traits": {
            "smithy.api#documentation": "Required. The format to export the app in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for AgentService.ExportApp."
      }
    },
    "com.gcp.ces_v1#ExportAppRequestExportFormatEnum": {
      "type": "enum",
      "members": {
        "EXPORT_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPORT_FORMAT_UNSPECIFIED"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "YAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YAML"
          }
        }
      }
    },
    "com.gcp.ces_v1#BargeInConfig": {
      "type": "structure",
      "members": {
        "disableBargeIn": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: `disable_barge_in` is deprecated in favor of `disable_barge_in_control` in ChannelProfile. Disables user barge-in while the agent is speaking. If true, user input during agent response playback will be ignored."
          }
        },
        "bargeInAwareness": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If enabled, the agent will adapt its next response based on the assumption that the user hasn't heard the full preceding agent message. This should not be used in scenarios where agent responses are displayed visually."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for how the user barge-in activities should be handled."
      }
    },
    "com.gcp.ces_v1#DeployChannelResponse": {
      "type": "structure",
      "members": {
        "deployment": {
          "target": "com.gcp.ces_v1#Deployment",
          "traits": {
            "smithy.api#documentation": "The created deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.DeployChannel."
      }
    },
    "com.gcp.ces_v1#ListToolsResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListToolsRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        },
        "tools": {
          "target": "com.gcp.ces_v1#ToolList",
          "traits": {
            "smithy.api#documentation": "The list of tools."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListTools."
      }
    },
    "com.gcp.ces_v1#ToolList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Tool"
      }
    },
    "com.gcp.ces_v1#Span": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the span."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The start time of the span."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The end time of the span."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration of the span."
          }
        },
        "childSpans": {
          "target": "com.gcp.ces_v1#SpanList",
          "traits": {
            "smithy.api#documentation": "Output only. The child spans that are nested under this span."
          }
        },
        "attributes": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Output only. Key-value attributes associated with the span."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A span is a unit of work or a single operation during the request processing."
      }
    },
    "com.gcp.ces_v1#SpanList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Span"
      }
    },
    "com.gcp.ces_v1#Operation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "metadata": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.ces_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.ces_v1#ListExamplesResponse": {
      "type": "structure",
      "members": {
        "examples": {
          "target": "com.gcp.ces_v1#ExampleList",
          "traits": {
            "smithy.api#documentation": "The list of examples."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as ListExamplesRequest.page_token to retrieve the next page. Absence of this field indicates there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for AgentService.ListExamples."
      }
    },
    "com.gcp.ces_v1#ExampleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Example"
      }
    },
    "com.gcp.ces_v1#LfA2aV1OAuth2SecurityScheme": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description for the security scheme."
          }
        },
        "oauth2MetadataUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "URL to the OAuth2 authorization server metadata [RFC 8414](https://datatracker.ietf.org/doc/html/rfc8414). TLS is required."
          }
        },
        "flows": {
          "target": "com.gcp.ces_v1#LfA2aV1OAuthFlows",
          "traits": {
            "smithy.api#documentation": "Required. An object containing configuration information for the supported OAuth 2.0 flows."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines a security scheme using OAuth 2.0."
      }
    },
    "com.gcp.ces_v1#OpenApiToolset": {
      "type": "structure",
      "members": {
        "serviceDirectoryConfig": {
          "target": "com.gcp.ces_v1#ServiceDirectoryConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Service Directory configuration."
          }
        },
        "openApiSchema": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The OpenAPI schema of the toolset."
          }
        },
        "apiAuthentication": {
          "target": "com.gcp.ces_v1#ApiAuthentication",
          "traits": {
            "smithy.api#documentation": "Optional. Authentication information required by the API."
          }
        },
        "ignoreUnknownFields": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the agent will ignore unknown fields in the API response for all operations defined in the OpenAPI schema."
          }
        },
        "tlsConfig": {
          "target": "com.gcp.ces_v1#TlsConfig",
          "traits": {
            "smithy.api#documentation": "Optional. The TLS configuration. Includes the custom server certificates"
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The server URL of the Open API schema. This field is only set in toolsets in the environment dependencies during the export process if the schema contains a server url. During the import process, if this url is present in the environment dependencies and the schema has the $env_var placeholder, it will replace the placeholder in the schema."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A toolset that contains a list of tools that are defined by an OpenAPI schema."
      }
    },
    "com.gcp.ces_v1#Citations": {
      "type": "structure",
      "members": {
        "citedChunks": {
          "target": "com.gcp.ces_v1#CitationsCitedChunkList",
          "traits": {
            "smithy.api#documentation": "List of cited pieces of information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Citations associated with the agent response."
      }
    },
    "com.gcp.ces_v1#CitationsCitedChunkList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#CitationsCitedChunk"
      }
    },
    "com.gcp.ces_v1#ChannelProfileWebWidgetConfigSecuritySettings": {
      "type": "structure",
      "members": {
        "enableOriginCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether origin check for the web widget is enabled. If `true`, the web widget will check the origin of the website that loads the web widget and only allow it to be loaded in the same origin or any of the allowed origins."
          }
        },
        "enableRecaptcha": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether reCAPTCHA verification for the web widget is enabled."
          }
        },
        "allowedOrigins": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The origins that are allowed to host the web widget. An origin is defined by RFC 6454. If empty, all origins are allowed. A maximum of 100 origins is allowed. Example: \"https://example.com\""
          }
        },
        "enablePublicAccess": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates whether public access to the web widget is enabled. If `true`, the web widget will be publicly accessible. If `false`, the web widget must be integrated with your own authentication and authorization system to return valid credentials for accessing the CES agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Security settings for the web widget."
      }
    },
    "com.gcp.ces_v1#Agent": {
      "type": "structure",
      "members": {
        "instruction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Instructions for the LLM model to guide the agent's behavior."
          }
        },
        "toolsets": {
          "target": "com.gcp.ces_v1#AgentAgentToolsetList",
          "traits": {
            "smithy.api#documentation": "Optional. List of toolsets for the agent."
          }
        },
        "remoteDialogflowAgent": {
          "target": "com.gcp.ces_v1#AgentRemoteDialogflowAgent",
          "traits": {
            "smithy.api#documentation": "Optional. The remote [Dialogflow](https://cloud.google.com/dialogflow/cx/docs/concept/console-conversational-agents) agent to be used for the agent execution. If this field is set, all other agent level properties will be ignored. Note: If the Dialogflow agent is in a different project from the app, you should grant `roles/dialogflow.client` to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
          }
        },
        "generatedSummary": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. If the agent is generated by the LLM assistant, this field contains a descriptive summary of the generation."
          }
        },
        "modelSettings": {
          "target": "com.gcp.ces_v1#ModelSettings",
          "traits": {
            "smithy.api#documentation": "Optional. Configurations for the LLM model."
          }
        },
        "beforeAgentCallbacks": {
          "target": "com.gcp.ces_v1#CallbackList",
          "traits": {
            "smithy.api#documentation": "Optional. The callbacks to execute before the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the agent was last updated."
          }
        },
        "afterToolCallbacks": {
          "target": "com.gcp.ces_v1#CallbackList",
          "traits": {
            "smithy.api#documentation": "Optional. The callbacks to execute after the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "llmAgent": {
          "target": "com.gcp.ces_v1#AgentLlmAgent",
          "traits": {
            "smithy.api#documentation": "Optional. The default agent type."
          }
        },
        "afterAgentCallbacks": {
          "target": "com.gcp.ces_v1#CallbackList",
          "traits": {
            "smithy.api#documentation": "Optional. The callbacks to execute after the agent is called. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
          }
        },
        "beforeModelCallbacks": {
          "target": "com.gcp.ces_v1#CallbackList",
          "traits": {
            "smithy.api#documentation": "Optional. The callbacks to execute before the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
          }
        },
        "validationErrors": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Misconfigurations or errors in the agent that may affect agent quality."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable description of the agent."
          }
        },
        "childAgents": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of child agents in the agent tree. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
          }
        },
        "guardrails": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of guardrails for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/guardrails/{guardrail}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
          }
        },
        "transferRules": {
          "target": "com.gcp.ces_v1#TransferRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. Agent transfer rules. If multiple rules match, the first one in the list will be used."
          }
        },
        "afterModelCallbacks": {
          "target": "com.gcp.ces_v1#CallbackList",
          "traits": {
            "smithy.api#documentation": "Optional. The callbacks to execute after the model is called. If there are multiple calls to the model, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the agent was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name of the agent."
          }
        },
        "tools": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. List of available tools for the agent. Format: `projects/{project}/locations/{location}/apps/{app}/tools/{tool}`"
          }
        },
        "beforeToolCallbacks": {
          "target": "com.gcp.ces_v1#CallbackList",
          "traits": {
            "smithy.api#documentation": "Optional. The callbacks to execute before the tool is invoked. If there are multiple tool invocations, the callback will be executed multiple times. The provided callbacks are executed sequentially in the exact order they are given in the list. If a callback returns an overridden response, execution stops and any remaining callbacks are skipped."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An agent acts as the fundamental building block that provides instructions to the Large Language Model (LLM) for executing specific tasks."
      }
    },
    "com.gcp.ces_v1#AgentAgentToolsetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#AgentAgentToolset"
      }
    },
    "com.gcp.ces_v1#CallbackList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Callback"
      }
    },
    "com.gcp.ces_v1#TransferRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#TransferRule"
      }
    },
    "com.gcp.ces_v1#SynthesizeSpeechConfig": {
      "type": "structure",
      "members": {
        "speakingRate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. The speaking rate/speed in the range [0.25, 2.0]. 1.0 is the normal native speed supported by the specific voice. 2.0 is twice as fast, and 0.5 is half as fast. Values outside of the range [0.25, 2.0] will return an error."
          }
        },
        "voice": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The name of the voice. If not set, the service will choose a voice based on the other parameters such as language_code. For the list of available voices, please refer to [Supported voices and languages](https://cloud.google.com/text-to-speech/docs/voices) from Cloud Text-to-Speech."
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The model used to synthesize audio. Currently supported values: - \"gemini-3.1-flash-tts-preview\" If empty, Chirp3-HD is used."
          }
        },
        "consentAudioGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the consent audio for voice cloning."
          }
        },
        "voiceSampleGcsUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated: Use `custom_voice_samples` in AudioProcessingConfig instead. The Cloud Storage URI to the audio sample for voice cloning. The audio sample should be a mono-channel, 24kHz WAV file. Note: Please make sure the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com` has `storage.objects.get` permission to the Cloud Storage object."
          }
        },
        "instruction": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The instruction used to synthesize speech when using a generative model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for how the agent response should be synthesized."
      }
    },
    "com.gcp.ces_v1#TransferRule": {
      "type": "structure",
      "members": {
        "childAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the child agent the rule applies to. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
          }
        },
        "deterministicTransfer": {
          "target": "com.gcp.ces_v1#TransferRuleDeterministicTransfer",
          "traits": {
            "smithy.api#documentation": "Optional. A rule that immediately transfers to the target agent when the condition is met."
          }
        },
        "disablePlannerTransfer": {
          "target": "com.gcp.ces_v1#TransferRuleDisablePlannerTransfer",
          "traits": {
            "smithy.api#documentation": "Optional. Rule that prevents the planner from transferring to the target agent."
          }
        },
        "direction": {
          "target": "com.gcp.ces_v1#TransferRuleDirectionEnum",
          "traits": {
            "smithy.api#documentation": "Required. The direction of the transfer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rule for transferring to a specific agent."
      }
    },
    "com.gcp.ces_v1#TransferRuleDirectionEnum": {
      "type": "enum",
      "members": {
        "DIRECTION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTION_UNSPECIFIED"
          }
        },
        "PARENT_TO_CHILD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARENT_TO_CHILD"
          }
        },
        "CHILD_TO_PARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHILD_TO_PARENT"
          }
        }
      }
    },
    "com.gcp.ces_v1#AppSnapshot": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.gcp.ces_v1#AgentList",
          "traits": {
            "smithy.api#documentation": "Optional. List of agents in the app."
          }
        },
        "tools": {
          "target": "com.gcp.ces_v1#ToolList",
          "traits": {
            "smithy.api#documentation": "Optional. List of tools in the app."
          }
        },
        "examples": {
          "target": "com.gcp.ces_v1#ExampleList",
          "traits": {
            "smithy.api#documentation": "Optional. List of examples in the app."
          }
        },
        "toolsets": {
          "target": "com.gcp.ces_v1#ToolsetList",
          "traits": {
            "smithy.api#documentation": "Optional. List of toolsets in the app."
          }
        },
        "app": {
          "target": "com.gcp.ces_v1#App",
          "traits": {
            "smithy.api#documentation": "Optional. The basic settings for the app."
          }
        },
        "guardrails": {
          "target": "com.gcp.ces_v1#GuardrailList",
          "traits": {
            "smithy.api#documentation": "Optional. List of guardrails in the app."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A snapshot of the app."
      }
    },
    "com.gcp.ces_v1#AgentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Agent"
      }
    },
    "com.gcp.ces_v1#ToolsetList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Toolset"
      }
    },
    "com.gcp.ces_v1#GuardrailList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Guardrail"
      }
    },
    "com.gcp.ces_v1#GenerateChatTokenRequest": {
      "type": "structure",
      "members": {
        "recaptchaToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The reCAPTCHA token generated by the client-side chat widget."
          }
        },
        "deployment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The deployment of the app to use for the session. Format: projects/{project}/locations/{location}/apps/{app}/deployments/{deployment}"
          }
        },
        "liveHandoffEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates if live handoff is enabled for the session."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for WidgetService.GenerateChatToken."
      }
    },
    "com.gcp.ces_v1#ToolResponses": {
      "type": "structure",
      "members": {
        "toolResponses": {
          "target": "com.gcp.ces_v1#ToolResponseList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of tool execution results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Execution results for the requested tool calls from the client."
      }
    },
    "com.gcp.ces_v1#ToolResponseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#ToolResponse"
      }
    },
    "com.gcp.ces_v1#ConversationTurn": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.gcp.ces_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "Optional. List of messages in the conversation turn, including user input, agent responses and intermediate events during the processing."
          }
        },
        "rootSpan": {
          "target": "com.gcp.ces_v1#Span",
          "traits": {
            "smithy.api#documentation": "Optional. The root span of the action processing."
          }
        },
        "userIntendedText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The intended ground-truth text from the Simulated Caller (Polysynth). Only populated when word error rate metrics are enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "All information about a single turn in the conversation."
      }
    },
    "com.gcp.ces_v1#MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#Message"
      }
    },
    "com.gcp.ces_v1#SecuritySettings": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Etag of the security settings."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the security settings."
          }
        },
        "endpointControlPolicy": {
          "target": "com.gcp.ces_v1#EndpointControlPolicy",
          "traits": {
            "smithy.api#documentation": "Optional. Endpoint control related settings."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the security settings. Format: `projects/{project}/locations/{location}/securitySettings`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Last update time of the security settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Project/Location level security settings for CES."
      }
    },
    "com.gcp.ces_v1#TriggerActionGenerativeAnswer": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The prompt to use for the generative answer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The agent will immediately respond with a generative answer."
      }
    },
    "com.gcp.ces_v1#ErrorHandlingSettingsFallbackResponseConfig": {
      "type": "structure",
      "members": {
        "customFallbackMessages": {
          "target": "com.gcp.ces_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. The fallback messages in case of system errors (e.g. LLM errors), mapped by [supported language code](https://docs.cloud.google.com/customer-engagement-ai/conversational-agents/ps/reference/language)."
          }
        },
        "maxFallbackAttempts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of fallback attempts to make before the agent emitting EndSession Signal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for handling fallback responses."
      }
    },
    "com.gcp.ces_v1#OAuthConfig": {
      "type": "structure",
      "members": {
        "tokenEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The token endpoint in the OAuth provider to exchange for an access token."
          }
        },
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The client ID from the OAuth provider."
          }
        },
        "clientSecretVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the SecretManager secret version resource storing the client secret. Format: `projects/{project}/secrets/{secret}/versions/{version}` Note: You should grant `roles/secretmanager.secretAccessor` role to the CES service agent `service-@gcp-sa-ces.iam.gserviceaccount.com`."
          }
        },
        "scopes": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The OAuth scopes to grant."
          }
        },
        "oauthGrantType": {
          "target": "com.gcp.ces_v1#OAuthConfigOauthGrantTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. OAuth grant types."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configurations for authentication with OAuth."
      }
    },
    "com.gcp.ces_v1#OAuthConfigOauthGrantTypeEnum": {
      "type": "enum",
      "members": {
        "OAUTH_GRANT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH_GRANT_TYPE_UNSPECIFIED"
          }
        },
        "CLIENT_CREDENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_CREDENTIAL"
          }
        }
      }
    },
    "com.gcp.ces_v1#Toolset": {
      "type": "structure",
      "members": {
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ETag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "timeout": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The timeout for the toolset execution. If not set, the default timeout is 30 seconds for `SYNCHRONOUS` toolsets and 60 seconds for `ASYNCHRONOUS` toolsets."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the toolset was created."
          }
        },
        "connectorToolset": {
          "target": "com.gcp.ces_v1#ConnectorToolset",
          "traits": {
            "smithy.api#documentation": "Optional. A toolset that generates tools from an Integration Connectors Connection."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The display name of the toolset. Must be unique within the same app."
          }
        },
        "executionType": {
          "target": "com.gcp.ces_v1#ToolsetExecutionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The execution type of the tools in the toolset."
          }
        },
        "mcpToolset": {
          "target": "com.gcp.ces_v1#McpToolset",
          "traits": {
            "smithy.api#documentation": "Optional. A toolset that contains a list of tools that are offered by the MCP server."
          }
        },
        "toolFakeConfig": {
          "target": "com.gcp.ces_v1#ToolFakeConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Configuration for tools behavior in fake mode."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The description of the toolset."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the toolset was last updated."
          }
        },
        "openApiToolset": {
          "target": "com.gcp.ces_v1#OpenApiToolset",
          "traits": {
            "smithy.api#documentation": "Optional. A toolset that contains a list of tools that are defined by an OpenAPI schema."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A toolset represents a group of dynamically managed tools that can be used by the agent."
      }
    },
    "com.gcp.ces_v1#ToolsetExecutionTypeEnum": {
      "type": "enum",
      "members": {
        "EXECUTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_TYPE_UNSPECIFIED"
          }
        },
        "SYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYNCHRONOUS"
          }
        },
        "ASYNCHRONOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASYNCHRONOUS"
          }
        }
      }
    },
    "com.gcp.ces_v1#GoogleSearchSuggestions": {
      "type": "structure",
      "members": {
        "webSearchQueries": {
          "target": "com.gcp.ces_v1#WebSearchQueryList",
          "traits": {
            "smithy.api#documentation": "List of queries used to perform the google search along with the search result URIs forming the search suggestions."
          }
        },
        "htmls": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Compliant HTML and CSS styling for search suggestions. The provided HTML and CSS automatically adapts to your device settings, displaying in either light or dark mode indicated by `@media(prefers-color-scheme)`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Search suggestions from Google Search Tool."
      }
    },
    "com.gcp.ces_v1#WebSearchQueryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#WebSearchQuery"
      }
    },
    "com.gcp.ces_v1#Image": {
      "type": "structure",
      "members": {
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The IANA standard MIME type of the source data. Supported image types includes: * image/png * image/jpeg * image/webp"
          }
        },
        "data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Raw bytes of the image."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an image input or output in the conversation."
      }
    },
    "com.gcp.ces_v1#AgentAgentToolset": {
      "type": "structure",
      "members": {
        "toolset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The resource name of the toolset. Format: `projects/{project}/locations/{location}/apps/{app}/toolsets/{toolset}`"
          }
        },
        "toolIds": {
          "target": "com.gcp.ces_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The tools IDs to filter the toolset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A toolset with a selection of its tools."
      }
    },
    "com.gcp.ces_v1#TransferRuleDisablePlannerTransfer": {
      "type": "structure",
      "members": {
        "expressionCondition": {
          "target": "com.gcp.ces_v1#ExpressionCondition",
          "traits": {
            "smithy.api#documentation": "Required. If the condition evaluates to true, planner will not be allowed to transfer to the target agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A rule that prevents the planner from transferring to the target agent."
      }
    },
    "com.gcp.ces_v1#SessionOutput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output text from the CES agent."
          }
        },
        "turnIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Indicates the sequential order of conversation turn to which this output belongs to, starting from 1."
          }
        },
        "audio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output audio from the CES agent."
          }
        },
        "image": {
          "target": "com.gcp.ces_v1#Image",
          "traits": {
            "smithy.api#documentation": "Output image from the CES agent."
          }
        },
        "googleSearchSuggestions": {
          "target": "com.gcp.ces_v1#GoogleSearchSuggestions",
          "traits": {
            "smithy.api#documentation": "The suggestions returned from Google Search as a result of invoking the GoogleSearchTool."
          }
        },
        "payload": {
          "target": "com.gcp.ces_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Custom payload with structured output from the CES agent."
          }
        },
        "turnCompleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, the CES agent has detected the end of the current conversation turn and will provide no further output for this turn."
          }
        },
        "citations": {
          "target": "com.gcp.ces_v1#Citations",
          "traits": {
            "smithy.api#documentation": "Citations that provide the source information for the agent's generated text."
          }
        },
        "diagnosticInfo": {
          "target": "com.gcp.ces_v1#SessionOutputDiagnosticInfo",
          "traits": {
            "smithy.api#documentation": "Optional. Diagnostic information contains execution details during the processing of the input. Only populated in the last SessionOutput (with `turn_completed=true`) for each turn."
          }
        },
        "toolCalls": {
          "target": "com.gcp.ces_v1#ToolCalls",
          "traits": {
            "smithy.api#documentation": "Request for the client to execute the tools."
          }
        },
        "endSession": {
          "target": "com.gcp.ces_v1#EndSession",
          "traits": {
            "smithy.api#documentation": "Indicates the session has ended."
          }
        },
        "context": {
          "target": "com.gcp.ces_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Context messages for external supervision guardrails."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output for the session."
      }
    },
    "com.gcp.ces_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.ces_v1#DocumentMap"
      }
    },
    "com.gcp.ces_v1#Example": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable description of the example."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the example was last updated."
          }
        },
        "messages": {
          "target": "com.gcp.ces_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "Optional. The collection of messages that make up the conversation."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique identifier of the example. Format: `projects/{project}/locations/{location}/apps/{app}/examples/{example}`"
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Etag used to ensure the object hasn't changed during a read-modify-write operation. If the etag is empty, the update will overwrite any concurrent changes."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Timestamp when the example was created."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Display name of the example."
          }
        },
        "invalid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. The example may become invalid if referencing resources are deleted. Invalid examples will not be used as few-shot examples."
          }
        },
        "entryAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The agent that initially handles the conversation. If not specified, the example represents a conversation that is handled by the root agent. Format: `projects/{project}/locations/{location}/apps/{app}/agents/{agent}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An example represents a sample conversation between the user and the agent(s)."
      }
    },
    "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpec": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. An expression which specifies a boost condition. The syntax is the same as filter expression syntax. Currently, the only supported condition is a list of BCP-47 lang codes. Example: To boost suggestions in languages en or fr: (lang_code: ANY(\"en\", \"fr\"))"
          }
        },
        "boostControlSpec": {
          "target": "com.gcp.ces_v1#DataStoreToolBoostSpecConditionBoostSpecBoostControlSpec",
          "traits": {
            "smithy.api#documentation": "Optional. Complex specification for custom ranking based on customer defined attribute value."
          }
        },
        "boost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Optional. Strength of the boost, which should be in [-1, 1]. Negative boost means demotion. Default is 0.0. Setting to 1.0 gives the suggestions a big promotion. However, it does not necessarily mean that the top result will be a boosted suggestion. Setting to -1.0 gives the suggestions a big demotion. However, other suggestions that are relevant might still be shown. Setting to 0.0 means no boost applied. The boosting condition is ignored."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Boost specification for a condition."
      }
    },
    "com.gcp.ces_v1#ServiceAgentIdTokenAuthConfig": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Configurations for authentication with [ID token](https://cloud.google.com/docs/authentication/token-types#id) generated from service agent."
      }
    },
    "com.gcp.ces_v1#LfA2aV1TaskStatusUpdateEvent": {
      "type": "structure",
      "members": {
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The ID of the context that the task belongs to."
          }
        },
        "status": {
          "target": "com.gcp.ces_v1#LfA2aV1TaskStatus",
          "traits": {
            "smithy.api#documentation": "Required. The new status of the task."
          }
        },
        "taskId": {
          "target": "smithy.api#String",
[...]
