{
  "smithy": "2.0",
  "metadata": {
    "service": "contactcenterinsights",
    "version": "v1",
    "title": "Contact Center AI Insights API",
    "baseUrl": "https://contactcenterinsights.googleapis.com/"
  },
  "shapes": {
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationCallMetadata": {
      "type": "structure",
      "members": {
        "customerChannel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The audio channel that contains the customer."
          }
        },
        "agentChannel": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The audio channel that contains the agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Call-specific metadata."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1DimensionClientSentimentCategoryDimensionMetadata": {
      "type": "structure",
      "members": {
        "sentimentCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The client sentiment category."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the client sentiment category dimension."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleLongrunningOperation": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatus",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        },
        "response": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "metadata": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.contactcenterinsights_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationTranscriptTranscriptSegmentWordInfo": {
      "type": "structure",
      "members": {
        "endOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time offset of the end of this word relative to the beginning of the total conversation."
          }
        },
        "word": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The word itself. Includes punctuation marks that surround the word."
          }
        },
        "startOffset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Time offset of the start of this word relative to the beginning of the total conversation."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A confidence estimate between 0.0 and 1.0 of the fidelity of this word. A default value of 0.0 indicates that the value is unset."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Word-level info for words in a transcript."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1QaQuestionTag": {
      "type": "structure",
      "members": {
        "qaQuestionIds": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of Scorecard Question IDs that the tag applies to. Each QaQuestionId is represented as a full resource name containing the Question ID. Lastly, Since a tag may not necessarily be referenced by any Scorecard Questions, we treat this field as optional."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A user-specified display name for the tag."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the question tag was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time at which the question tag was updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Resource name for the QaQuestionTag Format projects/{project}/locations/{location}/qaQuestionTags/{qa_question_tag} In the above format, the last segment, i.e., qa_question_tag, is a server-generated ID corresponding to the tag resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A tag is a resource which aims to categorize a set of questions across multiple scorecards, e.g., \"Customer Satisfaction\",\"Billing\", etc."
      }
    },
    "com.gcp.contactcenterinsights_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DialogflowSource": {
      "type": "structure",
      "members": {
        "dialogflowConversation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The name of the Dialogflow conversation that this conversation resource is derived from. Format: projects/{project}/locations/{location}/conversations/{conversation}"
          }
        },
        "audioUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Cloud Storage URI that points to a file that contains the conversation audio."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dialogflow source of conversation data."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegment": {
      "type": "structure",
      "members": {
        "turnLevelAudio": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationDataSourceTurnLevelAudio",
          "traits": {
            "smithy.api#documentation": "Turn level audio for this transcript segment."
          }
        },
        "messageTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time that the message occurred, if provided."
          }
        },
        "sentiment": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1SentimentData",
          "traits": {
            "smithy.api#documentation": "The sentiment for this transcript segment."
          }
        },
        "channelTag": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "For conversations derived from multi-channel audio, this is the channel number corresponding to the audio from that channel. For audioChannelCount = N, its output values can range from '1' to 'N'. A channel tag of 0 indicates that the audio is mono."
          }
        },
        "dialogflowSegmentMetadata": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentDialogflowSegmentMetadata",
          "traits": {
            "smithy.api#documentation": "CCAI metadata relating to the current transcript segment."
          }
        },
        "segmentParticipant": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationParticipant",
          "traits": {
            "smithy.api#documentation": "The participant of this segment."
          }
        },
        "confidence": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "A confidence estimate between 0.0 and 1.0 of the fidelity of this segment. A default value of 0.0 indicates that the value is unset."
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of this segment."
          }
        },
        "words": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfoList",
          "traits": {
            "smithy.api#documentation": "A list of the word-specific information for each word in the segment."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language code of this segment as a [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. Example: \"en-US\"."
          }
        },
        "parts": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartList",
          "traits": {
            "smithy.api#documentation": "Optional. The structured parts that make up this transcript segment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A segment of a full transcript."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentWordInfo"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPart"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleIamV1SetIamPolicyRequest": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleIamV1Policy",
          "traits": {
            "smithy.api#documentation": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
          }
        },
        "updateMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for `SetIamPolicy` method."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfig": {
      "type": "structure",
      "members": {
        "scorecardList": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfigScorecardList",
          "traits": {
            "smithy.api#documentation": "A manual list of scorecards to score."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the QA feature."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1SampleConversationsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response to an SampleConversations operation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The issue model to undeploy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to undeploy an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessage": {
      "type": "structure",
      "members": {
        "generatedSqlQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Raw SQL from LLM, before templatization"
          }
        },
        "userProvidedSqlQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. User provided SQL query"
          }
        },
        "textMessage": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1GenerativeInsightConversationTranscriptMessageSystemMessageTextOutput",
          "traits": {
            "smithy.api#documentation": "A direct natural language response to the user message."
          }
        },
        "chartSpec": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Chart spec from LLM"
          }
        },
        "userProvidedChartSpec": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. User provided chart spec"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message from the system in response to the user. This message can also be a message from the user as historical context for multiturn conversations with the system."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ListAnalysisRulesResponse": {
      "type": "structure",
      "members": {
        "analysisRules": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1AnalysisRuleList",
          "traits": {
            "smithy.api#documentation": "The analysis_rule that match the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of listing views."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1AnalysisRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1AnalysisRule"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPart": {
      "type": "structure",
      "members": {
        "list": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartListPart",
          "traits": {
            "smithy.api#documentation": "Optional. Ordered or unordered list."
          }
        },
        "video": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
          "traits": {
            "smithy.api#documentation": "Optional. Video media."
          }
        },
        "citation": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCitationPart",
          "traits": {
            "smithy.api#documentation": "Optional. Citation or reference to grounding material."
          }
        },
        "thought": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartThoughtPart",
          "traits": {
            "smithy.api#documentation": "Optional. Model thought or internal reasoning."
          }
        },
        "customPayload": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart",
          "traits": {
            "smithy.api#documentation": "Optional. Generic custom structured payload."
          }
        },
        "text": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTextPart",
          "traits": {
            "smithy.api#documentation": "Optional. Plain text content."
          }
        },
        "image": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartMediaPart",
          "traits": {
            "smithy.api#documentation": "Optional. Image media."
          }
        },
        "link": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartLinkPart",
          "traits": {
            "smithy.api#documentation": "Optional. Web link or URL."
          }
        },
        "table": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartTablePart",
          "traits": {
            "smithy.api#documentation": "Optional. Tabular data."
          }
        },
        "suggestionChips": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartSuggestionChipsPart",
          "traits": {
            "smithy.api#documentation": "Optional. Suggestion chips or interactive buttons."
          }
        },
        "productCollection": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationTranscriptTranscriptSegmentTranscriptPartProductCollectionPart",
          "traits": {
            "smithy.api#documentation": "Optional. Product collection or carousel."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A structured component/part of a transcript segment."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversation": {
      "type": "structure",
      "members": {
        "qualityMetadata": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationQualityMetadata",
          "traits": {
            "smithy.api#documentation": "Conversation metadata related to quality management."
          }
        },
        "callMetadata": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationCallMetadata",
          "traits": {
            "smithy.api#documentation": "Call-specific metadata."
          }
        },
        "expireTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which this conversation should expire. After this time, the conversation data and any associated analyses will be deleted."
          }
        },
        "startTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the conversation started."
          }
        },
        "latestSummary": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationSummarizationSuggestionData",
          "traits": {
            "smithy.api#documentation": "Output only. Latest summary of the conversation."
          }
        },
        "turnCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Output only. The number of turns in the conversation."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which the conversation was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time at which the conversation was updated."
          }
        },
        "transcript": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationTranscript",
          "traits": {
            "smithy.api#documentation": "Output only. The conversation transcript."
          }
        },
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Input only. The TTL for this resource. If specified, then this TTL will be used to calculate the expire time."
          }
        },
        "agentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An opaque, user-specified string representing the human agent who handled the conversation."
          }
        },
        "latestAnalysis": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainAnalysis",
          "traits": {
            "smithy.api#documentation": "Output only. The conversation's latest analysis, if one exists."
          }
        },
        "duration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The duration of the conversation."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A user-specified language code for the conversation."
          }
        },
        "dataSource": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationDataSource",
          "traits": {
            "smithy.api#documentation": "The source of the audio and transcription for the conversation."
          }
        },
        "medium": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationMediumEnum",
          "traits": {
            "smithy.api#documentation": "Immutable. The conversation medium."
          }
        },
        "runtimeAnnotations": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainRuntimeAnnotationList",
          "traits": {
            "smithy.api#documentation": "Output only. The annotations that were generated during the customer and agent interaction."
          }
        },
        "metadataJson": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. JSON metadata encoded as a string. This field is primarily used by Insights integrations with various telephony systems and must be in one of Insight's supported formats."
          }
        },
        "dialogflowIntents": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDialogflowIntentMap",
          "traits": {
            "smithy.api#documentation": "Output only. All the matched Dialogflow intents in the call. The key corresponds to a Dialogflow intent, format: projects/{project}/agent/{agent}/intents/{intent}"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the conversation. Format: projects/{project}/locations/{location}/conversations/{conversation}"
          }
        },
        "obfuscatedUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Obfuscated user ID which the customer sent to us."
          }
        },
        "labels": {
          "target": "com.gcp.contactcenterinsights_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "A map for the user to specify any custom fields. A maximum of 100 labels per conversation is allowed, with a maximum of 256 characters per entry."
          }
        },
        "correlationInfo": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationCorrelationInfo",
          "traits": {
            "smithy.api#documentation": "Output only. Info for correlating across conversations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The conversation resource."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainConversationMediumEnum": {
      "type": "enum",
      "members": {
        "MEDIUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM_UNSPECIFIED"
          }
        },
        "PHONE_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_CALL"
          }
        },
        "CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainRuntimeAnnotationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainRuntimeAnnotation"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDialogflowIntentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDialogflowIntent"
      }
    },
    "com.gcp.contactcenterinsights_v1#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1CallAnnotation": {
      "type": "structure",
      "members": {
        "intentMatchData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IntentMatchData",
          "traits": {
            "smithy.api#documentation": "Data specifying an intent match."
          }
        },
        "silenceData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1SilenceData",
          "traits": {
            "smithy.api#documentation": "Data specifying silence."
          }
        },
        "channelTag": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The channel of the audio where the annotation occurs. For single-channel audio, this field is not populated."
          }
        },
        "annotationEndBoundary": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1AnnotationBoundary",
          "traits": {
            "smithy.api#documentation": "The boundary in the conversation where the annotation ends, inclusive."
          }
        },
        "entityMentionData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1EntityMentionData",
          "traits": {
            "smithy.api#documentation": "Data specifying an entity mention."
          }
        },
        "interruptionData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1InterruptionData",
          "traits": {
            "smithy.api#documentation": "Data specifying an interruption."
          }
        },
        "holdData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1HoldData",
          "traits": {
            "smithy.api#documentation": "Data specifying a hold."
          }
        },
        "sentimentData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1SentimentData",
          "traits": {
            "smithy.api#documentation": "Data specifying sentiment."
          }
        },
        "phraseMatchData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1PhraseMatchData",
          "traits": {
            "smithy.api#documentation": "Data specifying a phrase match."
          }
        },
        "annotationStartBoundary": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1AnnotationBoundary",
          "traits": {
            "smithy.api#documentation": "The boundary in the conversation where the annotation starts, inclusive."
          }
        },
        "issueMatchData": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueMatchData",
          "traits": {
            "smithy.api#documentation": "Data specifying an issue match."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A piece of metadata that applies to a window of a call."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1NoteAssessmentNote": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A note about the entire parent assessment."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStats": {
      "type": "structure",
      "members": {
        "analyzedConversationsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of conversations the issue model has analyzed at this point in time."
          }
        },
        "unclassifiedConversationsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of analyzed conversations for which no issue was applicable at this point in time."
          }
        },
        "issueStats": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStatsMap",
          "traits": {
            "smithy.api#documentation": "Statistics on each issue. Key is the issue's resource name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aggregated statistics about an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStatsMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStats"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1CalculateIssueModelStatsResponse": {
      "type": "structure",
      "members": {
        "currentStats": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStats",
          "traits": {
            "smithy.api#documentation": "The latest label statistics for the queried issue model. Includes results on both training data and data labeled after deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response of querying an issue model's statistics."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSource": {
      "type": "structure",
      "members": {
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The overall numerical score of the result."
          }
        },
        "sourceType": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSourceSourceTypeEnum",
          "traits": {
            "smithy.api#documentation": "What created the score."
          }
        },
        "normalizedScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The normalized score, which is the score divided by the potential score."
          }
        },
        "qaTagResults": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResultList",
          "traits": {
            "smithy.api#documentation": "Collection of tags and their scores."
          }
        },
        "potentialScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The maximum potential overall score of the scorecard. Any questions answered using `na_value` are excluded from this calculation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A scorecard result may have multiple sets of scores from varying sources, one of which becomes the \"main\" answer above. A ScoreSource represents each individual set of scores."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaScorecardResultScoreSourceSourceTypeEnum": {
      "type": "enum",
      "members": {
        "SOURCE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_TYPE_UNSPECIFIED"
          }
        },
        "SYSTEM_GENERATED_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM_GENERATED_ONLY"
          }
        },
        "INCLUDES_MANUAL_EDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDES_MANUAL_EDITS"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainQaScorecardResultQaTagResult"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DeployIssueModelRequest",
          "traits": {
            "smithy.api#documentation": "The original request for deployment."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for deploying an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainInitializeEncryptionSpecRequest": {
      "type": "structure",
      "members": {
        "encryptionSpec": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainEncryptionSpec",
          "traits": {
            "smithy.api#documentation": "Required. The encryption spec used for CMEK encryption. It is required that the kms key is in the same region as the endpoint. The same key will be used for all provisioned resources, if encryption is available. If the `kms_key_name` field is left empty, no encryption will be enforced."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to initialize a location-level encryption specification."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DeleteQaQuestionTagRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The name of the QaQuestionTag to delete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for deleting a QaQuestionTag."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainSmartReplyData": {
      "type": "structure",
      "members": {
        "reply": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The content of the reply."
          }
        },
        "metadata": {
          "target": "com.gcp.contactcenterinsights_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map that contains metadata about the Smart Reply and the document from which it originates."
          }
        },
        "queryRecord": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
          }
        },
        "confidenceScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The system's confidence score that this reply is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Agent Assist Smart Reply data."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ListChartsResponse": {
      "type": "structure",
      "members": {
        "charts": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ChartList",
          "traits": {
            "smithy.api#documentation": "The charts under the parent."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value returned by the last `ListChartsResponse`. This value indicates that this is a continuation of a prior `ListCharts` call and that the system should return the next page of data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of listing charts."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ChartList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1Chart"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponse": {
      "type": "structure",
      "members": {
        "generatedSqlQuery": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The generated SQL query from the LLM. Will be populated during the chart building phase. The generated SQL will be cached in the corresponding chart resource."
          }
        },
        "textMessage": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1GenerativeInsightsResponseGenerativeResponseTextOutput",
          "traits": {
            "smithy.api#documentation": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
          }
        },
        "chartSpec": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The chart spec for the data. This will be specified in the vega-lite or vega format."
          }
        },
        "textOutput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text output from the LLM. Will be populated during the chart building phase. For a reloaded chart, this will NOT be populated. May contain THOUGHT or a FINAL response or some in-progress response."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for storing the generative response for a chart."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelectorQaConfigScorecardList": {
      "type": "structure",
      "members": {
        "qaScorecardRevisions": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "List of QaScorecardRevisions."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Container for a list of scorecards."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelMetadata": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1UndeployIssueModelRequest",
          "traits": {
            "smithy.api#documentation": "The original request for undeployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for undeploying an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ListFeedbackLabelsResponse": {
      "type": "structure",
      "members": {
        "feedbackLabels": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1FeedbackLabelList",
          "traits": {
            "smithy.api#documentation": "The feedback labels that match the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The next page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for listing feedback labels."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1FeedbackLabelList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1FeedbackLabel"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssue": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this issue was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time that this issue was updated."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the issue. Format: projects/{project}/locations/{location}/issueModels/{issue_model}/issues/{issue}"
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The representative name for the issue."
          }
        },
        "displayDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Representative description of the issue."
          }
        },
        "sampleUtterances": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. Resource names of the sample representative utterances that match to this issue."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The issue resource."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainRedactionConfig": {
      "type": "structure",
      "members": {
        "deidentifyTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully-qualified DLP deidentify template resource name. Format: `projects/{project}/deidentifyTemplates/{template}`"
          }
        },
        "inspectTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The fully-qualified DLP inspect template resource name. Format: `projects/{project}/locations/{location}/inspectTemplates/{template}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "DLP resources used for redaction while ingesting conversations. DLP settings are applied to conversations ingested from the `UploadConversation` and `IngestConversations` endpoints, including conversation coming from CCAI Platform. They are not applied to conversations ingested from the `CreateConversation` endpoint or the Dialogflow / Agent Assist runtime integrations. When using Dialogflow / Agent Assist runtime integrations, redaction should be performed in Dialogflow / Agent Assist."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStats": {
      "type": "structure",
      "members": {
        "partialErrors": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Partial errors during test correlation config operation that might cause the operation output to be incomplete."
          }
        },
        "sampledConversationsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of conversations sampled."
          }
        },
        "conversationCorrelationErrors": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationErrorList",
          "traits": {
            "smithy.api#documentation": "A list of errors that occurred during correlation, one for each conversation that failed."
          }
        },
        "failedConversationsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of conversations that failed correlation."
          }
        },
        "correlatedConversationsCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of conversations correlated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statistics for TestCorrelationConfig operation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatus"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigMetadataFullConversationCorrelationStatsConversationCorrelationError"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainAnswerFeedback": {
      "type": "structure",
      "members": {
        "displayed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether an answer or item was displayed to the human agent in the agent desktop UI."
          }
        },
        "correctnessLevel": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainAnswerFeedbackCorrectnessLevelEnum",
          "traits": {
            "smithy.api#documentation": "The correctness level of an answer."
          }
        },
        "clicked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether an answer or item was clicked by the human agent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The feedback that the customer has about a certain answer in the conversation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainAnswerFeedbackCorrectnessLevelEnum": {
      "type": "enum",
      "members": {
        "CORRECTNESS_LEVEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORRECTNESS_LEVEL_UNSPECIFIED"
          }
        },
        "NOT_CORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CORRECT"
          }
        },
        "PARTIALLY_CORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIALLY_CORRECT"
          }
        },
        "FULLY_CORRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULLY_CORRECT"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsRequest": {
      "type": "structure",
      "members": {
        "measureMask": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Measures to return. Defaults to all measures if this field is unspecified. A valid mask should traverse from the `measure` field from the response. For example, a path from a measure mask to get the conversation count is \"conversation_measure.count\"."
          }
        },
        "dimensions": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1DimensionList",
          "traits": {
            "smithy.api#documentation": "The dimensions that determine the grouping key for the query. Defaults to no dimension if this field is unspecified. If a dimension is specified, its key must also be specified. Each dimension's key must be unique. If a time granularity is also specified, metric values in the dimension will be bucketed by this granularity. Up to one dimension is supported for now."
          }
        },
        "timeGranularity": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsRequestTimeGranularityEnum",
          "traits": {
            "smithy.api#documentation": "The time granularity of each data point in the time series. Defaults to NONE if this field is unspecified."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Filter to select a subset of conversations to compute the metrics. Must specify a window of the conversation create time to compute the metrics. The returned metrics will be from the range [DATE(starting create time), DATE(ending create time)). "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request for querying metrics."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1DimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1Dimension"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsRequestTimeGranularityEnum": {
      "type": "enum",
      "members": {
        "TIME_GRANULARITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_GRANULARITY_UNSPECIFIED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "DAILY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAILY"
          }
        },
        "HOURLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOURLY"
          }
        },
        "PER_MINUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_MINUTE"
          }
        },
        "PER_5_MINUTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_5_MINUTES"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHLY"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainBulkDeleteConversationsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter used to select the subset of conversations to delete."
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to true, all of this conversation's analyses will also be deleted. Otherwise, the request will only succeed if the conversation has no analyses."
          }
        },
        "maxDeleteCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum number of conversations to delete."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource to delete conversations from. Format: projects/{project}/locations/{location}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to delete conversations in bulk."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleLongrunningListOperationsResponse": {
      "type": "structure",
      "members": {
        "unreachable": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
          }
        },
        "operations": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleLongrunningOperationList",
          "traits": {
            "smithy.api#documentation": "A list of operations that matches the specified filter in the request."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The standard List next-page token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for Operations.ListOperations."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleLongrunningOperationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleLongrunningOperation"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotationBoundary": {
      "type": "structure",
      "members": {
        "transcriptIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The index in the sequence of transcribed pieces of the conversation where the boundary is located. This index starts at zero."
          }
        },
        "wordIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The word index of this boundary with respect to the first word in the transcript piece. This index starts at zero."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A point in a conversation that marks the start or the end of an annotation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelMetadata": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        },
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1DeleteIssueModelRequest",
          "traits": {
            "smithy.api#documentation": "The original request for deletion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for deleting an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ExportIssueModelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response from export issue model"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The text of the list item."
          }
        },
        "subItems": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItemList",
          "traits": {
            "smithy.api#documentation": "Optional. Nested sub-items."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An item in a list."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartListItem"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1BulkDeleteFeedbackLabelsRequest",
          "traits": {
            "smithy.api#documentation": "Output only. The original request for delete."
          }
        },
        "partialErrors": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Partial errors during deletion operation that might cause the operation output to be incomplete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for the BulkDeleteFeedbackLabels endpoint."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDataset": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Option TTL for the dataset."
          }
        },
        "type": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDatasetTypeEnum",
          "traits": {
            "smithy.api#documentation": "Dataset usage type."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. Resource name of the dataset. Format: projects/{project}/locations/{location}/datasets/{dataset}"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dataset description."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Display name for the dataaset"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Dataset create time."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Dataset update time."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dataset resource represents a collection of conversations that may be bounded (Static Dataset, e.g. golden dataset for training), or unbounded (Dynamic Dataset, e.g. live traffic, or agent training traffic)"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDatasetTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "EVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EVAL"
          }
        },
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ArticleSuggestionData": {
      "type": "structure",
      "members": {
        "confidenceScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The system's confidence score that this article is a good match for this conversation, ranging from 0.0 (completely uncertain) to 1.0 (completely certain)."
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The knowledge document that this answer was extracted from. Format: projects/{project}/knowledgeBases/{knowledge_base}/documents/{document}"
          }
        },
        "metadata": {
          "target": "com.gcp.contactcenterinsights_v1#StringMap",
          "traits": {
            "smithy.api#documentation": "Map that contains metadata about the Article Suggestion and the document that it originates from."
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Article title."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Article URI."
          }
        },
        "queryRecord": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the answer record. Format: projects/{project}/locations/{location}/answerRecords/{answer_record}"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Agent Assist Article Suggestion data."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1FeedbackLabel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}"
          }
        },
        "labeledResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`"
          }
        },
        "qaAnswerLabel": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QaAnswerAnswerValue",
          "traits": {
            "smithy.api#documentation": "QaAnswer label used for Quality AI example conversations."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String label used for Topic Modeling."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the label."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time of the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest": {
      "type": "structure",
      "members": {
        "analysisPercentage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Required. Percentage of selected conversation to analyze, between [0, 100]."
          }
        },
        "annotatorSelector": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1AnnotatorSelector",
          "traits": {
            "smithy.api#documentation": "To select the annotators to run and the phrase matchers to use (if any). If not specified, all annotators will be run."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource to create analyses in."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. Filter used to select the subset of conversations to analyze."
          }
        },
        "relabel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. If true, the labeling rules will be re-evaluated for the conversations."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The request to analyze conversations in bulk."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessages": {
      "type": "structure",
      "members": {
        "systemMessages": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageList",
          "traits": {
            "smithy.api#documentation": "A message from the system in response to the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A wrapper for system messages per turn."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainGenerativeInsightConversationTranscriptMessageSystemMessage"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponse": {
      "type": "structure",
      "members": {
        "detailedResults": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1TestCorrelationConfigResponseDetailedCorrelationResults",
          "traits": {
            "smithy.api#documentation": "Results for the DETAILED_SYNC execution mode."
          }
        },
        "partialErrors": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Partial errors during test correlation config operation that might cause the operation output to be incomplete."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response of testing correlation config."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueModel": {
      "type": "structure",
      "members": {
        "issueCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of issues in this issue model."
          }
        },
        "languageCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language of the model."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The representative name for the issue model."
          }
        },
        "state": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueModelStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. State of the model."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time at which this issue model was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The most recent time at which the issue model was updated."
          }
        },
        "trainingStats": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueModelLabelStats",
          "traits": {
            "smithy.api#documentation": "Output only. Immutable. The issue model's label statistics on its training data."
          }
        },
        "inputDataConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueModelInputDataConfig",
          "traits": {
            "smithy.api#documentation": "Configs for the input data that used to create the issue model."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The resource name of the issue model. Format: projects/{project}/locations/{location}/issueModels/{issue_model}"
          }
        },
        "modelType": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueModelModelTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the model."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The issue model resource."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueModelStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "UNDEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEPLOYED"
          }
        },
        "DEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYING"
          }
        },
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYED"
          }
        },
        "UNDEPLOYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEPLOYING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainIssueModelModelTypeEnum": {
      "type": "enum",
      "members": {
        "MODEL_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODEL_TYPE_UNSPECIFIED"
          }
        },
        "TYPE_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_V1"
          }
        },
        "TYPE_V2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_V2"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1NoteQaQuestionNote": {
      "type": "structure",
      "members": {
        "qaQuestion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The question resource that the note is associated with."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A note about a QA question."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1InitializeEncryptionSpecResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "The response to initialize a location-level encryption specification."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1GenerativeInsightsChartConversationMessageUserMessage": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A message from the user that is interacting with the system."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user message."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDeployIssueModelMetadata": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1mainDeployIssueModelRequest",
          "traits": {
            "smithy.api#documentation": "The original request for deployment."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation finished running."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The time the operation was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata for deploying an issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleIamV1AuditLogConfig": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleIamV1AuditLogConfigLogTypeEnum",
          "traits": {
            "smithy.api#documentation": "The log type that this config enables."
          }
        },
        "exemptedMembers": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleIamV1AuditLogConfigLogTypeEnum": {
      "type": "enum",
      "members": {
        "LOG_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1ConversationTranscriptTranscriptSegmentTranscriptPartCustomPayloadPart": {
      "type": "structure",
      "members": {
        "payloadType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Type identifier for the payload."
          }
        },
        "payload": {
          "target": "com.gcp.contactcenterinsights_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Arbitrary structured payload."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A custom payload part."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1QueryMetricsResponseSliceDataPointConversationMeasureQaTagScore": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tag name."
          }
        },
        "averageTagNormalizedScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Average tag normalized score per tag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Average QA normalized score for the tag."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1UploadConversationRequest": {
      "type": "structure",
      "members": {
        "redactionConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1RedactionConfig",
          "traits": {
            "smithy.api#documentation": "Optional. DLP settings for transcript redaction. Will default to the config specified in Settings."
          }
        },
        "speechConfig": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1SpeechConfig",
          "traits": {
            "smithy.api#documentation": "Optional. Speech-to-Text configuration. Will default to the config specified in Settings."
          }
        },
        "conversation": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1Conversation",
          "traits": {
            "smithy.api#documentation": "Required. The conversation resource to create."
          }
        },
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource of the conversation."
          }
        },
        "conversationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A unique ID for the new conversation. This ID will become the final component of the conversation's resource name. If no ID is specified, a server-generated ID will be used. This value should be 4-64 characters and must match the regular expression `^[a-z0-9-]{4,64}$`. Valid characters are `a-z-`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to upload a conversation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IntentMatchData": {
      "type": "structure",
      "members": {
        "intentUniqueId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The id of the matched intent. Can be used to retrieve the corresponding intent information."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The data for an intent match. Represents an intent match for a text segment in the conversation. A text segment can be part of a sentence, a complete sentence, or an utterance with multiple sentences."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1TestCorrelationConfigResponseDetailedCorrelationResults": {
      "type": "structure",
      "members": {
        "constraintResults": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultList",
          "traits": {
            "smithy.api#documentation": "A list of constraint evaluation results for each pair of conversations."
          }
        },
        "joinKeyResults": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationCorrelationResultList",
          "traits": {
            "smithy.api#documentation": "A list of join key correlation results for each conversation tested."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Wrapper for detailed, step-by-step results."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConstraintEvaluationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConstraintEvaluationResult"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationCorrelationResultList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationCorrelationResult"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1FeedbackLabel": {
      "type": "structure",
      "members": {
        "labeledResource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the resource to be labeled. Supported resources are: * `projects/{project}/locations/{location}/qaScorecards/{scorecard}/revisions/{revision}/qaQuestions/{question}` * `projects/{project}/locations/{location}/issueModels/{issue_model}` * `projects/{project}/locations/{location}/generators/{generator_id}`"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Resource name of the FeedbackLabel. Format: projects/{project}/locations/{location}/conversations/{conversation}/feedbackLabels/{feedback_label}"
          }
        },
        "qaAnswerLabel": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1QaAnswerAnswerValue",
          "traits": {
            "smithy.api#documentation": "QaAnswer label used for Quality AI example conversations."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String label used for Topic Modeling."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Create time of the label."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Update time of the label."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a conversation, resource, and label provided by the user. Can take the form of a string label or a QaAnswer label. QaAnswer labels are used for Quality AI example conversations. String labels are used for Topic Modeling. AgentAssistSummary labels are used for Agent Assist Summarization."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1SignedAudioUris": {
      "type": "structure",
      "members": {
        "signedGcsAudioUris": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. The signed URIs for the audio from the Cloud Storage conversation source when multiple audio files exist (e.g. multi-leg conversations)."
          }
        },
        "signedGcsAudioUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed URI for the audio from the Cloud Storage conversation source."
          }
        },
        "signedTurnLevelAudios": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudioList",
          "traits": {
            "smithy.api#documentation": "The signed URI for the audio corresponding to each turn in the conversation."
          }
        },
        "signedDialogflowAudioUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The signed URI for the audio from the Dialogflow conversation source."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Signed audio URIs for a conversation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudioList": {
      "type": "list",
      "member": {
        "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1ConversationDataSourceTurnLevelAudio"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1CalculateStatsResponse": {
      "type": "structure",
      "members": {
        "conversationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of conversations."
          }
        },
        "averageDuration": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The average duration of all conversations. The average is calculated using only conversations that have a time duration."
          }
        },
        "smartHighlighterMatches": {
          "target": "com.gcp.contactcenterinsights_v1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "A map associating each smart highlighter display name with its respective number of matches in the set of conversations."
          }
        },
        "averageTurnCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The average number of turns per conversation."
          }
        },
        "issueMatchesStats": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1IssueModelLabelStatsIssueStatsMap",
          "traits": {
            "smithy.api#documentation": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/`"
          }
        },
        "issueMatches": {
          "target": "com.gcp.contactcenterinsights_v1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "A map associating each issue resource name with its respective number of matches in the set of conversations. Key has the format: `projects//locations//issueModels//issues/` Deprecated, use `issue_matches_stats` field instead."
          }
        },
        "customHighlighterMatches": {
          "target": "com.gcp.contactcenterinsights_v1#IntegerMap",
          "traits": {
            "smithy.api#documentation": "A map associating each custom highlighter resource name with its respective number of matches in the set of conversations."
          }
        },
        "conversationCountTimeSeries": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1CalculateStatsResponseTimeSeries",
          "traits": {
            "smithy.api#documentation": "A time series representing the count of conversations created over time that match that requested filter criteria."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response for calculating conversation statistics."
      }
    },
    "com.gcp.contactcenterinsights_v1#IntegerMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1QaScorecardResultQaTagResult": {
      "type": "structure",
      "members": {
        "normalizedScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The normalized score the tag applies to."
          }
        },
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tag the score applies to."
          }
        },
        "potentialScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The potential score the tag applies to."
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The score the tag applies to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Tags and their corresponding results."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsMetadata": {
      "type": "structure",
      "members": {
        "failedAnalysesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of requested analyses that have failed so far."
          }
        },
        "endTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation finished running."
          }
        },
        "relabel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Output only. If true, the labeling rules will be re-evaluated for the conversations."
          }
        },
        "request": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1BulkAnalyzeConversationsRequest",
          "traits": {
            "smithy.api#documentation": "The original request for bulk analyze."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the operation was created."
          }
        },
        "partialErrors": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleRpcStatusList",
          "traits": {
            "smithy.api#documentation": "Output only. Partial errors during bulk analyze operation that might cause the operation output to be incomplete."
          }
        },
        "completedAnalysesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of requested analyses that have completed successfully so far."
          }
        },
        "totalRequestedAnalysesCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of analyses requested. Computed by the number of conversations returned by `filter` multiplied by `analysis_percentage` in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The metadata for a bulk analyze conversations operation."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfig": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A filter to reduce the conversations used for training the model to a specific subset. Refer to https://cloud.google.com/contact-center/insights/docs/filtering for details."
          }
        },
        "medium": {
          "target": "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfigMediumEnum",
          "traits": {
            "smithy.api#documentation": "Medium of conversations used in training data. This field is being deprecated. To specify the medium to be used in training a new issue model, set the `medium` field on `filter`."
          }
        },
        "trainingConversationsCount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Number of conversations used in training. Output only."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configs for the input data used to create the issue model."
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1alpha1IssueModelInputDataConfigMediumEnum": {
      "type": "enum",
      "members": {
        "MEDIUM_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM_UNSPECIFIED"
          }
        },
        "PHONE_CALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHONE_CALL"
          }
        },
        "CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT"
          }
        }
      }
    },
    "com.gcp.contactcenterinsights_v1#GoogleCloudContactcenterinsightsV1BulkDownloadFeedbackLabelsRequest": {
      "type": "structure",
      "members": {
        "parent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The parent resource for new feedback labels."
          }
        },
        "conversationFilter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Filter parent conversations to download feedback labels for. When specified, the feedback labels will be downloaded for the conversations that match the filter. If `template_qa_scorecard_id` is set, all the conversations that match the filter will be paired with the questions under the scorecard for labeling."
          }
        },
        "templateQaScorecardId": {
          "target": "com.gcp.contactcenterinsights_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. If set, a template for labeling conversations and scorecard questions will be created from the conversation_filter and the questions under the scorecard(s). The feedback label `filter` will be ignored."
          }
        },
        "maxDownloadCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. Limits the maximum number of feedback labels that will be downloaded. The first `N` feedback labels will be downloaded."
          }
        },
        "filter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A filter to reduce results to a specific subset. Supports disjunctions (OR) and conjunctions (AND). Supported fields: * `issue_model_id` * `qa_question_id` * `qa_scorecard_id` * `min_create_time` * `max_create_time` * `min_update_time` * `max_update_time` * `feedback_label_type`: QUALITY_AI, TOPIC_MODELING"
          }
        },
        "feedbackLabelType": {
[...]
