{
  "smithy": "2.0",
  "metadata": {
    "service": "curationpartners",
    "version": "v1",
    "title": "Curation Partners API",
    "baseUrl": "https://curationpartners.googleapis.com/"
  },
  "shapes": {
    "com.gcp.curationpartners_v1#FetchReportResultRowsResponse": {
      "type": "structure",
      "members": {
        "runTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which the report was scheduled to run. For non-scheduled reports, this is the time at which the report was requested to be run."
          }
        },
        "rows": {
          "target": "com.gcp.curationpartners_v1#RowList",
          "traits": {
            "smithy.api#documentation": "Up to `page_size` rows of report data."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "totalRowCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of rows available from this report. Useful for pagination. Only returned with the first page of results (when page_token is not included in the request)."
          }
        },
        "dateRanges": {
          "target": "com.gcp.curationpartners_v1#FixedDateRangeList",
          "traits": {
            "smithy.api#documentation": "The computed fixed date ranges this report includes. Only returned with the first page of results (when page_token is not included in the request)."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The response message for the fetch report result rows endpoint."
      }
    },
    "com.gcp.curationpartners_v1#RowList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#Row"
      }
    },
    "com.gcp.curationpartners_v1#FixedDateRangeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#FixedDateRange"
      }
    },
    "com.gcp.curationpartners_v1#FieldFilter": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.curationpartners_v1#Field",
          "traits": {
            "smithy.api#documentation": "Required. The field to filter on."
          }
        },
        "operation": {
          "target": "com.gcp.curationpartners_v1#FieldFilterOperationEnum",
          "traits": {
            "smithy.api#documentation": "Required. The operation of this filter."
          }
        },
        "values": {
          "target": "com.gcp.curationpartners_v1#ReportValueList",
          "traits": {
            "smithy.api#documentation": "Required. Values to filter to."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter on a specific field."
      }
    },
    "com.gcp.curationpartners_v1#FieldFilterOperationEnum": {
      "type": "enum",
      "members": {
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "NOT_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_IN"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "NOT_CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_CONTAINS"
          }
        },
        "LESS_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN"
          }
        },
        "LESS_THAN_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LESS_THAN_EQUALS"
          }
        },
        "GREATER_THAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN"
          }
        },
        "GREATER_THAN_EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREATER_THAN_EQUALS"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETWEEN"
          }
        },
        "MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MATCHES"
          }
        },
        "NOT_MATCHES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_MATCHES"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#ReportValueList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#ReportValue"
      }
    },
    "com.gcp.curationpartners_v1#Status": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        },
        "details": {
          "target": "com.gcp.curationpartners_v1#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.curationpartners_v1#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.curationpartners_v1#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#DocumentMap"
      }
    },
    "com.gcp.curationpartners_v1#RunReportResponse": {
      "type": "structure",
      "members": {
        "reportResult": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique name of the generated result. Use with `FetchReportResultRows` to retrieve data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for a completed `RunReport` operation."
      }
    },
    "com.gcp.curationpartners_v1#Sort": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.gcp.curationpartners_v1#Field",
          "traits": {
            "smithy.api#documentation": "Required. A field (dimension or metric) to sort by."
          }
        },
        "descending": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. The sort order. If true the sort will be descending."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a sorting in a report."
      }
    },
    "com.gcp.curationpartners_v1#DataSegment": {
      "type": "structure",
      "members": {
        "userListId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The ID of the User List wrapped by this Data Segment. Curators with a linked Data Partner account can create a data segment that wraps a user list owned by the linked Data Partner account. User lists can be uploaded and managed using the [Data Manager API](https://developers.google.com/data-manager/api/data-partners/audiences). Linking a user list to a data segment lets you define a segment of inventory that is based on an audience you create."
          }
        },
        "millipercentOfMediaFee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000."
          }
        },
        "state": {
          "target": "com.gcp.curationpartners_v1#DataSegmentStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the data segment."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. Format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the data segment was created."
          }
        },
        "cpmFee": {
          "target": "com.gcp.curationpartners_v1#Money",
          "traits": {
            "smithy.api#documentation": "Optional. A fixed fee charged per thousand impressions. Once set, the currency code cannot be changed."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Time the data segment was last updated."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines an identifier for a segment of inventory that can be targeted by curators or media planners in the deals or auction packages UI. Curation of inventory is done by curators on external platforms. -- Next ID: 9 --"
      }
    },
    "com.gcp.curationpartners_v1#DataSegmentStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#Filter": {
      "type": "structure",
      "members": {
        "orFilter": {
          "target": "com.gcp.curationpartners_v1#FilterList",
          "traits": {
            "smithy.api#documentation": "A list of filters whose results are OR-ed."
          }
        },
        "fieldFilter": {
          "target": "com.gcp.curationpartners_v1#FieldFilter",
          "traits": {
            "smithy.api#documentation": "A filter on a single field."
          }
        },
        "notFilter": {
          "target": "com.gcp.curationpartners_v1#Filter",
          "traits": {
            "smithy.api#documentation": "A filter whose result is negated."
          }
        },
        "andFilter": {
          "target": "com.gcp.curationpartners_v1#FilterList",
          "traits": {
            "smithy.api#documentation": "A list of filters whose results are AND-ed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A filter over one or more fields."
      }
    },
    "com.gcp.curationpartners_v1#ListMediaPlannersResponse": {
      "type": "structure",
      "members": {
        "mediaPlanners": {
          "target": "com.gcp.curationpartners_v1#MediaPlannerList",
          "traits": {
            "smithy.api#documentation": "List of media planners."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token which can be passed to a subsequent call to the ListMediaPlanners method to retrieve the next page of results in ListMediaPlannersRequest.page_token."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A response containing media planner account information."
      }
    },
    "com.gcp.curationpartners_v1#MediaPlannerList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#MediaPlanner"
      }
    },
    "com.gcp.curationpartners_v1#AdSize": {
      "type": "structure",
      "members": {
        "width": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
          }
        },
        "height": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
          }
        },
        "type": {
          "target": "com.gcp.curationpartners_v1#AdSizeTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the ad slot size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents size of a single ad slot, or a creative."
      }
    },
    "com.gcp.curationpartners_v1#AdSizeTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "PIXEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PIXEL"
          }
        },
        "INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERSTITIAL"
          }
        },
        "NATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE"
          }
        },
        "FLUID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLUID"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageVideoTargeting": {
      "type": "structure",
      "members": {
        "includedMaximumAdDurationTargeting": {
          "target": "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedMaximumAdDurationTargetingEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted maximum video ad duration. If unset, inventory will be targeted regardless of maximum video ad duration."
          }
        },
        "includedMimeTypes": {
          "target": "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedMimeTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted video mime types using the IANA published MIME type strings (https://www.iana.org/assignments/media-types/media-types.xhtml). If empty, inventory will be targeted regardless of video mime type."
          }
        },
        "includedPlaybackMethods": {
          "target": "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedPlaybackMethodsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted video playback methods. If empty, inventory will be targeted regardless of video playback method."
          }
        },
        "includedContentDeliveryMethod": {
          "target": "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedContentDeliveryMethodEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted video delivery method. If unset, inventory will be targeted regardless of video delivery method."
          }
        },
        "includedPositionTypes": {
          "target": "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedPositionTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted video ad position types. If empty, inventory will be targeted regardless of video ad position type."
          }
        },
        "minimumPredictedCompletionRatePercentage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted minimum predicted completion rate percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% completion rate. An unset value indicates inventory will be targeted regardless of predicted completion rate."
          }
        },
        "plcmtTargeting": {
          "target": "com.gcp.curationpartners_v1#VideoPlcmtTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted video plcmt types. If unset, inventory will be targeted regardless of video plcmt type."
          }
        },
        "includedPlayerSizeTargeting": {
          "target": "com.gcp.curationpartners_v1#VideoPlayerSizeTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted video player size. If unset, inventory will be targeted regardless of video player size."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Video specific targeting criteria."
      }
    },
    "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedMaximumAdDurationTargetingEnum": {
      "type": "enum",
      "members": {
        "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS"
          }
        },
        "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedMimeTypesItemEnum": {
      "type": "enum",
      "members": {
        "VIDEO_MIME_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_UNSPECIFIED"
          }
        },
        "VIDEO_MIME_TYPE_THREEGPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_THREEGPP"
          }
        },
        "VIDEO_MIME_TYPE_APPLICATION_MPEGURL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_APPLICATION_MPEGURL"
          }
        },
        "VIDEO_MIME_TYPE_MP4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_MP4"
          }
        },
        "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH"
          }
        },
        "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT"
          }
        },
        "VIDEO_MIME_TYPE_WEBM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_MIME_TYPE_WEBM"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedMimeTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedMimeTypesItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedPlaybackMethodsItemEnum": {
      "type": "enum",
      "members": {
        "PLAYBACK_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBACK_METHOD_UNSPECIFIED"
          }
        },
        "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON"
          }
        },
        "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF"
          }
        },
        "PLAYBACK_METHOD_CLICK_TO_PLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYBACK_METHOD_CLICK_TO_PLAY"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedPlaybackMethodsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedPlaybackMethodsItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedContentDeliveryMethodEnum": {
      "type": "enum",
      "members": {
        "CONTENT_DELIVERY_METHOD_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DELIVERY_METHOD_UNSPECIFIED"
          }
        },
        "CONTENT_DELIVERY_METHOD_STREAMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DELIVERY_METHOD_STREAMING"
          }
        },
        "CONTENT_DELIVERY_METHOD_PROGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTENT_DELIVERY_METHOD_PROGRESSIVE"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedPositionTypesItemEnum": {
      "type": "enum",
      "members": {
        "POSITION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_UNSPECIFIED"
          }
        },
        "POSITION_TYPE_MIDROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_MIDROLL"
          }
        },
        "POSITION_TYPE_POSTROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_POSTROLL"
          }
        },
        "POSITION_TYPE_PREROLL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSITION_TYPE_PREROLL"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedPositionTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#PackageVideoTargetingIncludedPositionTypesItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#FixedDateRange": {
      "type": "structure",
      "members": {
        "endDate": {
          "target": "com.gcp.curationpartners_v1#Curationpartners_Date",
          "traits": {
            "smithy.api#documentation": "Required. The end date (inclusive) of this date range."
          }
        },
        "startDate": {
          "target": "com.gcp.curationpartners_v1#Curationpartners_Date",
          "traits": {
            "smithy.api#documentation": "Required. The start date of this date range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A date range between two fixed dates (inclusive of end date)."
      }
    },
    "com.gcp.curationpartners_v1#ListReportsResponse": {
      "type": "structure",
      "members": {
        "totalSize": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Total number of `Report` objects. If a filter was included in the request, this reflects the total number after the filtering is applied. `total_size` won't be calculated in the response unless it has been included in a response field mask. The response field mask can be provided to the method by using the URL parameter `$fields` or `fields`, or by using the HTTP/gRPC header `X-Goog-FieldMask`. For more information, see https://developers.google.com/ad-manager/api/beta/field-masks"
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
          }
        },
        "reports": {
          "target": "com.gcp.curationpartners_v1#ReportList",
          "traits": {
            "smithy.api#documentation": "The `Report` objects from the specified network."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response object for `ListReportsResponse` containing matching `Report` objects."
      }
    },
    "com.gcp.curationpartners_v1#ReportList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#Report"
      }
    },
    "com.gcp.curationpartners_v1#ReportDefinition": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.gcp.curationpartners_v1#FilterList_",
          "traits": {
            "smithy.api#documentation": "Optional. The filters for this report."
          }
        },
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ISO 4217 currency code for this report. Defaults to account currency code if not specified."
          }
        },
        "timeZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. If time_zone_source is PROVIDED, this is the time zone to use for this report. Leave empty for any other time zone source. Time zone in IANA format. For example, \"America/New_York\"."
          }
        },
        "dimensions": {
          "target": "com.gcp.curationpartners_v1#ReportDefinitionDimensionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The list of dimensions to report on. If empty, the report will have no dimensions, and any metrics will be totals."
          }
        },
        "metrics": {
          "target": "com.gcp.curationpartners_v1#ReportDefinitionMetricsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The list of metrics to report on. If empty, the report will have no metrics."
          }
        },
        "timeZoneSource": {
          "target": "com.gcp.curationpartners_v1#ReportDefinitionTimeZoneSourceEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Where to get the time zone for this report. Defaults to using the Pacific time zone (PT). If source is PROVIDED, the time_zone field in the report definition must also set a time zone."
          }
        },
        "dateRange": {
          "target": "com.gcp.curationpartners_v1#DateRange",
          "traits": {
            "smithy.api#documentation": "Required. The primary date range of this report."
          }
        },
        "sorts": {
          "target": "com.gcp.curationpartners_v1#SortList",
          "traits": {
            "smithy.api#documentation": "Optional. Default sorts to apply to this report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The definition of how a report should be run."
      }
    },
    "com.gcp.curationpartners_v1#FilterList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#Filter"
      }
    },
    "com.gcp.curationpartners_v1#ReportDefinitionDimensionsItemEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "ADVERTISER_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISER_DOMAIN"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "CURATION_DATA_SEGMENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_DATA_SEGMENT_ID"
          }
        },
        "CURATION_DATA_SEGMENT_RESPONSE_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_DATA_SEGMENT_RESPONSE_STATUS"
          }
        },
        "CURATION_DATA_SEGMENT_RESPONSE_STATUS_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_DATA_SEGMENT_RESPONSE_STATUS_NAME"
          }
        },
        "CURATOR_FEE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATOR_FEE_TYPE"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "DEAL_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEAL_ID"
          }
        },
        "DEAL_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEAL_NAME"
          }
        },
        "DETECTED_ADVERTISER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTED_ADVERTISER_NAME"
          }
        },
        "DSP_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSP_NAME"
          }
        },
        "DSP_SEAT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSP_SEAT_ID"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT"
          }
        },
        "ENVIRONMENT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_NAME"
          }
        },
        "HOLDING_COMPANY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOLDING_COMPANY_NAME"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOUR"
          }
        },
        "MOBILE_APP_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP_ID"
          }
        },
        "MOBILE_APP_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP_NAME"
          }
        },
        "MOBILE_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_OS"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "PACKAGE_FEE_VISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE_FEE_VISIBILITY"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "PUBLISHER_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER_DOMAIN"
          }
        },
        "PUBLISHER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER_ID"
          }
        },
        "PUBLISHER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER_NAME"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#ReportDefinitionDimensionsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#ReportDefinitionDimensionsItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#ReportDefinitionMetricsItemEnum": {
      "type": "enum",
      "members": {
        "METRIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_UNSPECIFIED"
          }
        },
        "ACTIVE_VIEW_MEASURABILITY_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_VIEW_MEASURABILITY_RATE"
          }
        },
        "ACTIVE_VIEW_MEASURABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_VIEW_MEASURABLE"
          }
        },
        "ACTIVE_VIEW_VIEWABILITY_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_VIEW_VIEWABILITY_RATE"
          }
        },
        "ACTIVE_VIEW_VIEWABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_VIEW_VIEWABLE"
          }
        },
        "AUCTIONS_WON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUCTIONS_WON"
          }
        },
        "BIDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDS"
          }
        },
        "BIDS_IN_AUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDS_IN_AUCTION"
          }
        },
        "BID_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BID_REQUESTS"
          }
        },
        "CLICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICKS"
          }
        },
        "CURATION_PARTNER_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_PARTNER_FEE"
          }
        },
        "DATA_SEGMENT_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SEGMENT_REQUESTS"
          }
        },
        "IMPRESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSIONS"
          }
        },
        "SPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEND"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#ReportDefinitionMetricsItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#ReportDefinitionMetricsItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#ReportDefinitionTimeZoneSourceEnum": {
      "type": "enum",
      "members": {
        "TIME_ZONE_SOURCE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_ZONE_SOURCE_UNSPECIFIED"
          }
        },
        "AD_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_EXCHANGE"
          }
        },
        "UTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UTC"
          }
        },
        "PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVIDED"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#SortList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#Sort"
      }
    },
    "com.gcp.curationpartners_v1#PackagePublisherProvidedSignalsTargeting": {
      "type": "structure",
      "members": {
        "videoAndAudioSignalsTargeting": {
          "target": "com.gcp.curationpartners_v1#StringTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted and excluded video and audio signals IDs. These are additional signals supported by publisher provided signals."
          }
        },
        "audienceTargeting": {
          "target": "com.gcp.curationpartners_v1#TaxonomyTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted or excluded audience IDs. Based off of IAB Audience Taxonomy version 1.1 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Audience%20Taxonomies/Audience%20Taxonomy%201.1.tsv)"
          }
        },
        "contentTargeting": {
          "target": "com.gcp.curationpartners_v1#TaxonomyTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted or excluded content IDs. Based off of IAB Content Taxonomy version 2.2 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Content%20Taxonomies/Content%20Taxonomy%202.2.tsv)"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting about publisher provided signals. Different publisher provided signals types will be logically OR'ed."
      }
    },
    "com.gcp.curationpartners_v1#Row": {
      "type": "structure",
      "members": {
        "dimensionValues": {
          "target": "com.gcp.curationpartners_v1#ReportValueList",
          "traits": {
            "smithy.api#documentation": "The order of the dimension values is the same as the order of the dimensions specified in the request."
          }
        },
        "metricValueGroups": {
          "target": "com.gcp.curationpartners_v1#MetricValueGroupList",
          "traits": {
            "smithy.api#documentation": " The length of the metric_value_groups field will be equal to the length of the date_ranges field in the fetch response. The metric_value_groups field is ordered such that each index corresponds to the date_range at the same index. For example, given date_ranges [x, y], metric_value_groups will have a length of two. The first entry in metric_value_groups represents the metrics for date x and the second entry in metric_value_groups represents the metrics for date y."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A row of report data."
      }
    },
    "com.gcp.curationpartners_v1#MetricValueGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#MetricValueGroup"
      }
    },
    "com.gcp.curationpartners_v1#IntList": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "The values"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of integer values."
      }
    },
    "com.gcp.curationpartners_v1#StringList_": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.curationpartners_v1#FilterList": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.gcp.curationpartners_v1#FilterList_",
          "traits": {
            "smithy.api#documentation": "Required. A list of filters."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of filters."
      }
    },
    "com.gcp.curationpartners_v1#Curationpartners_Date": {
      "type": "structure",
      "members": {
        "month": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
          }
        },
        "year": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
          }
        },
        "day": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
      }
    },
    "com.gcp.curationpartners_v1#Operation": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.curationpartners_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
          }
        },
        "response": {
          "target": "com.gcp.curationpartners_v1#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
          }
        },
        "done": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
          }
        },
        "error": {
          "target": "com.gcp.curationpartners_v1#Status",
          "traits": {
            "smithy.api#documentation": "The error result of the operation in case of failure or cancellation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This resource represents a long-running operation that is the result of a network API call."
      }
    },
    "com.gcp.curationpartners_v1#VideoPlcmtTargeting": {
      "type": "structure",
      "members": {
        "selectionType": {
          "target": "com.gcp.curationpartners_v1#VideoPlcmtTargetingSelectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. The selection type for the list of video plcmts."
          }
        },
        "videoPlcmtTypes": {
          "target": "com.gcp.curationpartners_v1#VideoPlcmtTargetingVideoPlcmtTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Required. The list of targeted video plcmts types. If empty, inventory will be targeted regardless of video plcmt type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines targeting criteria based on the video placement type, often corresponding to the IAB OpenRTB 'plcmt' field."
      }
    },
    "com.gcp.curationpartners_v1#VideoPlcmtTargetingSelectionTypeEnum": {
      "type": "enum",
      "members": {
        "SELECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_UNSPECIFIED"
          }
        },
        "SELECTION_TYPE_INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_INCLUDE"
          }
        },
        "SELECTION_TYPE_EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_EXCLUDE"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#VideoPlcmtTargetingVideoPlcmtTypesItemEnum": {
      "type": "enum",
      "members": {
        "VIDEO_PLCMT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_PLCMT_TYPE_UNSPECIFIED"
          }
        },
        "INSTREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTREAM"
          }
        },
        "ACCOMPANYING_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOMPANYING_CONTENT"
          }
        },
        "INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERSTITIAL"
          }
        },
        "NO_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_CONTENT"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#VideoPlcmtTargetingVideoPlcmtTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#VideoPlcmtTargetingVideoPlcmtTypesItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#StringTargetingDimension": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Required. The values specified."
          }
        },
        "selectionType": {
          "target": "com.gcp.curationpartners_v1#StringTargetingDimensionSelectionTypeEnum",
          "traits": {
            "smithy.api#documentation": "Required. How the items in this list should be targeted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic targeting with string values."
      }
    },
    "com.gcp.curationpartners_v1#StringTargetingDimensionSelectionTypeEnum": {
      "type": "enum",
      "members": {
        "SELECTION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_UNSPECIFIED"
          }
        },
        "SELECTION_TYPE_INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_INCLUDE"
          }
        },
        "SELECTION_TYPE_EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELECTION_TYPE_EXCLUDE"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#CriteriaTargeting": {
      "type": "structure",
      "members": {
        "targetedCriteriaIds": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "A list of numeric IDs to be included."
          }
        },
        "excludedCriteriaIds": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "A list of numeric IDs to be excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax."
      }
    },
    "com.gcp.curationpartners_v1#PackageTargeting": {
      "type": "structure",
      "members": {
        "includedOpenMeasurementTypes": {
          "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedOpenMeasurementTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted open measurement types. If empty, inventory will be targeted regardless of Open Measurement support."
          }
        },
        "includedDataSegments": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Optional. The active data segments to be targeted. If unset, inventory will be targeted regardless of data segments. Format: `curators/{account_id}/dataSegments/{data_segment_id}`"
          }
        },
        "includedAuthorizedSellerStatuses": {
          "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedAuthorizedSellerStatusesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The included list of targeted authorized seller statuses. If empty, inventory will be targeted regardless of seller status."
          }
        },
        "languageTargeting": {
          "target": "com.gcp.curationpartners_v1#StringTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Optional. The languages to target. If unset, inventory will be targeted regardless of language. See https://developers.google.com/google-ads/api/data/codes-formats#languages for the list of supported language codes."
          }
        },
        "includedAcceleratedMobilePageType": {
          "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedAcceleratedMobilePageTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted accelerated mobile page type. If unset, inventory will be targeted regardless of AMP status."
          }
        },
        "placementTargeting": {
          "target": "com.gcp.curationpartners_v1#PackagePlacementTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. Placement targeting information, for example, URL, mobile applications."
          }
        },
        "geoTargeting": {
          "target": "com.gcp.curationpartners_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. The geo criteria IDs to be included or excluded as defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv. If unset, inventory will be targeted regardless of geo."
          }
        },
        "includedDeviceTypes": {
          "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedDeviceTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of included device types to target. If empty, all device types are targeted."
          }
        },
        "minimumPredictedClickThroughRatePercentageMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted minimum predicted click through rate, ranging in values [10, 10000] (0.01% - 10%). A value of 50 means that the configuration will only match adslots for which we predict at least 0.05% click through rate. An unset value indicates inventory will be targeted regardless of predicted click through rate."
          }
        },
        "includedRewardedType": {
          "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedRewardedTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted rewarded type. If unset, inventory will be targeted regardless of rewarded type."
          }
        },
        "includedRestrictedCategories": {
          "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedRestrictedCategoriesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted restricted categories. If empty, inventory will be targeted regardless of restricted categories."
          }
        },
        "minimumPredictedViewabilityPercentage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted minimum predicted viewability percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% viewability. An unset value indicates inventory will be targeted regardless of predicted viewability."
          }
        },
        "verticalTargeting": {
          "target": "com.gcp.curationpartners_v1#CriteriaTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals. If unset, inventory will be targeted regardless of vertical."
          }
        },
        "includedCreativeFormat": {
          "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedCreativeFormatEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The creative format to target. If unset, all creative markup types are targeted."
          }
        },
        "videoTargeting": {
          "target": "com.gcp.curationpartners_v1#PackageVideoTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. Video specific targeting criteria."
          }
        },
        "publisherTargeting": {
          "target": "com.gcp.curationpartners_v1#StringTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted publishers. If unset, inventory will be targeted regardless of publisher. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details."
          }
        },
        "includedAdSizes": {
          "target": "com.gcp.curationpartners_v1#AdSizeList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of ad sizes to target. If unset, inventory will be targeted regardless of ad size. Curated packages supports `PIXEL` and `INTERSTITIAL` ad sizes."
          }
        },
        "publisherProvidedSignalsTargeting": {
          "target": "com.gcp.curationpartners_v1#PackagePublisherProvidedSignalsTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. The publisher provided signals to target. If unset, inventory will be targeted regardless of publisher provided signals."
          }
        },
        "includedEnvironment": {
          "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedEnvironmentEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The environment to target. If unspecified, all environments are targeted."
          }
        },
        "includedNativeInventoryTypes": {
          "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedNativeInventoryTypesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The targeted native inventory types. If empty, inventory will be targeted regardless of native inventory type."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Targeting criteria for curated and auction packages."
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedOpenMeasurementTypesItemEnum": {
      "type": "enum",
      "members": {
        "OPEN_MEASUREMENT_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN_MEASUREMENT_TYPE_UNSPECIFIED"
          }
        },
        "OPEN_MEASUREMENT_TYPE_OMID_V1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN_MEASUREMENT_TYPE_OMID_V1"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedOpenMeasurementTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedOpenMeasurementTypesItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedAuthorizedSellerStatusesItemEnum": {
      "type": "enum",
      "members": {
        "AUTHORIZED_SELLER_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZED_SELLER_STATUS_UNSPECIFIED"
          }
        },
        "AUTHORIZED_SELLER_STATUS_DIRECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZED_SELLER_STATUS_DIRECT"
          }
        },
        "AUTHORIZED_SELLER_STATUS_RESELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTHORIZED_SELLER_STATUS_RESELLER"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedAuthorizedSellerStatusesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedAuthorizedSellerStatusesItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedAcceleratedMobilePageTypeEnum": {
      "type": "enum",
      "members": {
        "ACCELERATED_MOBILE_PAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCELERATED_MOBILE_PAGE_TYPE_UNSPECIFIED"
          }
        },
        "ACCELERATED_MOBILE_PAGE_TYPE_NON_AMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCELERATED_MOBILE_PAGE_TYPE_NON_AMP"
          }
        },
        "ACCELERATED_MOBILE_PAGE_TYPE_AMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCELERATED_MOBILE_PAGE_TYPE_AMP"
          }
        },
        "ACCELERATED_MOBILE_PAGE_TYPE_AMP_STORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCELERATED_MOBILE_PAGE_TYPE_AMP_STORY"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedDeviceTypesItemEnum": {
      "type": "enum",
      "members": {
        "DEVICE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_UNSPECIFIED"
          }
        },
        "DEVICE_TYPE_PERSONAL_COMPUTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_PERSONAL_COMPUTER"
          }
        },
        "DEVICE_TYPE_CONNECTED_TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_CONNECTED_TV"
          }
        },
        "DEVICE_TYPE_PHONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_PHONE"
          }
        },
        "DEVICE_TYPE_TABLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_TYPE_TABLET"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedDeviceTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedDeviceTypesItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedRewardedTypeEnum": {
      "type": "enum",
      "members": {
        "REWARDED_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARDED_TYPE_UNSPECIFIED"
          }
        },
        "REWARDED_TYPE_NON_REWARDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARDED_TYPE_NON_REWARDED"
          }
        },
        "REWARDED_TYPE_REWARDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REWARDED_TYPE_REWARDED"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedRestrictedCategoriesItemEnum": {
      "type": "enum",
      "members": {
        "RESTRICTED_CATEGORY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_CATEGORY_UNSPECIFIED"
          }
        },
        "RESTRICTED_CATEGORY_ALCOHOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_CATEGORY_ALCOHOL"
          }
        },
        "RESTRICTED_CATEGORY_GAMBLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED_CATEGORY_GAMBLING"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedRestrictedCategoriesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedRestrictedCategoriesItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedCreativeFormatEnum": {
      "type": "enum",
      "members": {
        "CREATIVE_FORMAT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_FORMAT_UNSPECIFIED"
          }
        },
        "CREATIVE_FORMAT_DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_FORMAT_DISPLAY"
          }
        },
        "CREATIVE_FORMAT_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_FORMAT_VIDEO"
          }
        },
        "CREATIVE_FORMAT_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATIVE_FORMAT_AUDIO"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#AdSizeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#AdSize"
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedEnvironmentEnum": {
      "type": "enum",
      "members": {
        "ENVIRONMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_UNSPECIFIED"
          }
        },
        "ENVIRONMENT_SITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_SITE"
          }
        },
        "ENVIRONMENT_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_APP"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedNativeInventoryTypesItemEnum": {
      "type": "enum",
      "members": {
        "NATIVE_INVENTORY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_INVENTORY_TYPE_UNSPECIFIED"
          }
        },
        "NATIVE_INVENTORY_TYPE_NATIVE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_INVENTORY_TYPE_NATIVE_ONLY"
          }
        },
        "NATIVE_INVENTORY_TYPE_NATIVE_OR_BANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NATIVE_INVENTORY_TYPE_NATIVE_OR_BANNER"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#PackageTargetingIncludedNativeInventoryTypesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#PackageTargetingIncludedNativeInventoryTypesItemEnum"
      }
    },
    "com.gcp.curationpartners_v1#VideoPlayerSizeTargeting": {
      "type": "structure",
      "members": {
        "minimumWidth": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The minimum width of the video player in pixels."
          }
        },
        "minimumHeight": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The minimum height of the video player in pixels."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the size of the video player that can be targeted. Both width and height are required to be set to non-zero values."
      }
    },
    "com.gcp.curationpartners_v1#RunReportMetadata": {
      "type": "structure",
      "members": {
        "percentComplete": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "An estimate of how close this report is to being completed. Will always be 100 for failed and completed reports."
          }
        },
        "report": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The result's parent report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`RunReport` operation metadata."
      }
    },
    "com.gcp.curationpartners_v1#MetricValueGroup": {
      "type": "structure",
      "members": {
        "primaryValues": {
          "target": "com.gcp.curationpartners_v1#ReportValueList",
          "traits": {
            "smithy.api#documentation": "Data for the PRIMARY MetricValueType."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains all metric values requested for a single date range and set of column dimension values (returned in the columns field of the response). The order of the metrics in each field corresponds to the order of the metrics specified in the request."
      }
    },
    "com.gcp.curationpartners_v1#AccessControlSettings": {
      "type": "structure",
      "members": {
        "allowlistedMediaPlanners": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Required. Immutable. The list of media planners that are explicitly granted access to the curated package. Eligible media planners can be found in the mediaPlanners.list method. Only a single media planner may be allowlisted at this time. Format: `mediaPlanners/{mediaPlannerAccountId}`"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for controlling access to a curated package."
      }
    },
    "com.gcp.curationpartners_v1#StringList": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "The values"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of string values."
      }
    },
    "com.gcp.curationpartners_v1#ListDataSegmentsResponse": {
      "type": "structure",
      "members": {
        "dataSegments": {
          "target": "com.gcp.curationpartners_v1#DataSegmentList",
          "traits": {
            "smithy.api#documentation": "The list of data segments."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token for fetching the next page of results. Pass this value in the ListDataSegmentsRequest.pageToken field in the subsequent call to the `ListDataSegments` method to retrieve the next page of results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for listing data segments."
      }
    },
    "com.gcp.curationpartners_v1#DataSegmentList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#DataSegment"
      }
    },
    "com.gcp.curationpartners_v1#DateRange": {
      "type": "structure",
      "members": {
        "fixed": {
          "target": "com.gcp.curationpartners_v1#FixedDateRange",
          "traits": {
            "smithy.api#documentation": "A fixed date range."
          }
        },
        "relative": {
          "target": "com.gcp.curationpartners_v1#DateRangeRelativeEnum",
          "traits": {
            "smithy.api#documentation": "A relative date range."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A date range for a report."
      }
    },
    "com.gcp.curationpartners_v1#DateRangeRelativeEnum": {
      "type": "enum",
      "members": {
        "RELATIVE_DATE_RANGE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RELATIVE_DATE_RANGE_UNSPECIFIED"
          }
        },
        "TODAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TODAY"
          }
        },
        "YESTERDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YESTERDAY"
          }
        },
        "THIS_WEEK_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIS_WEEK_TO_DATE"
          }
        },
        "THIS_WEEK_TO_YESTERDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIS_WEEK_TO_YESTERDAY"
          }
        },
        "THIS_MONTH_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIS_MONTH_TO_DATE"
          }
        },
        "THIS_MONTH_TO_YESTERDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIS_MONTH_TO_YESTERDAY"
          }
        },
        "THIS_QUARTER_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIS_QUARTER_TO_DATE"
          }
        },
        "THIS_QUARTER_TO_YESTERDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIS_QUARTER_TO_YESTERDAY"
          }
        },
        "THIS_YEAR_TO_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIS_YEAR_TO_DATE"
          }
        },
        "THIS_YEAR_TO_YESTERDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIS_YEAR_TO_YESTERDAY"
          }
        },
        "LAST_WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_WEEK"
          }
        },
        "LAST_WEEK_STARTING_SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_WEEK_STARTING_SUNDAY"
          }
        },
        "LAST_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_MONTH"
          }
        },
        "LAST_QUARTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_QUARTER"
          }
        },
        "LAST_YEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_YEAR"
          }
        },
        "LAST_7_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_7_DAYS"
          }
        },
        "LAST_30_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_30_DAYS"
          }
        },
        "LAST_60_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_60_DAYS"
          }
        },
        "LAST_90_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_90_DAYS"
          }
        },
        "LAST_93_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_93_DAYS"
          }
        },
        "LAST_180_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_180_DAYS"
          }
        },
        "LAST_360_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_360_DAYS"
          }
        },
        "LAST_365_DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_365_DAYS"
          }
        },
        "LAST_3_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_3_MONTHS"
          }
        },
        "LAST_6_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_6_MONTHS"
          }
        },
        "LAST_12_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAST_12_MONTHS"
          }
        },
        "ALL_AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_AVAILABLE"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#ActivateDataSegmentRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for activating a data segment"
      }
    },
    "com.gcp.curationpartners_v1#TaxonomyTargeting": {
      "type": "structure",
      "members": {
        "excludedTaxonomyIds": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Optional. The list of excluded content taxonomy IDs."
          }
        },
        "targetedTaxonomyIds": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted content taxonomy IDs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Defines targeting criteria for handling the IAB audience and content Taxonomy ID space."
      }
    },
    "com.gcp.curationpartners_v1#MediaPlanner": {
      "type": "structure",
      "members": {
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}`. Can be used to filter the response of the mediaPlanners.list method."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Account ID of the media planner."
          }
        },
        "ancestorNames": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}`. Can be used to filter the response of the mediaPlanners.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a media planner account."
      }
    },
    "com.gcp.curationpartners_v1#DoubleList": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.curationpartners_v1#DoubleList_",
          "traits": {
            "smithy.api#documentation": "The values"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of double values."
      }
    },
    "com.gcp.curationpartners_v1#DoubleList_": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      }
    },
    "com.gcp.curationpartners_v1#ListCuratedPackagesResponse": {
      "type": "structure",
      "members": {
        "curatedPackages": {
          "target": "com.gcp.curationpartners_v1#CuratedPackageList",
          "traits": {
            "smithy.api#documentation": "The list of curated packages."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A token to retrieve the next page of results. Pass this value in the ListCuratedPackagesRequest.pageToken field in the subsequent call to `ListCuratedPackages` method to retrieve the next page of results. If empty, then there are no more results."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for ListCuratedPackages."
      }
    },
    "com.gcp.curationpartners_v1#CuratedPackageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.curationpartners_v1#CuratedPackage"
      }
    },
    "com.gcp.curationpartners_v1#Report": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The resource name of the report. Report resource name have the form: `curators/{account_id}/reports/{report_id}`"
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The instant this report was created."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The instant this report was last modified."
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The locale of this report. Locale is set from the user's locale at the time of the request. Locale can't be modified."
          }
        },
        "reportDefinition": {
          "target": "com.gcp.curationpartners_v1#ReportDefinition",
          "traits": {
            "smithy.api#documentation": "Required. The report definition of the report."
          }
        },
        "reportId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Report ID."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Display name for the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Report` resource."
      }
    },
    "com.gcp.curationpartners_v1#ActivateCuratedPackageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for ActivateCuratedPackage."
      }
    },
    "com.gcp.curationpartners_v1#PackagePlacementTargeting": {
      "type": "structure",
      "members": {
        "uriTargeting": {
          "target": "com.gcp.curationpartners_v1#StringTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted or excluded URLs. The domains should have the http/https stripped (for example, google.com), and can contain a max of 5 paths per url."
          }
        },
        "includedMobileAppCategoryTargeting": {
          "target": "com.gcp.curationpartners_v1#StringList_",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted mobile app categories."
          }
        },
        "mobileAppTargeting": {
          "target": "com.gcp.curationpartners_v1#StringTargetingDimension",
          "traits": {
            "smithy.api#documentation": "Optional. The list of targeted or excluded mobile application IDs that publishers own. Currently, only Android and Apple apps are supported. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
      }
    },
    "com.gcp.curationpartners_v1#DeactivateDataSegmentRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for deactivating a data segment"
      }
    },
    "com.gcp.curationpartners_v1#RunReportRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for a running a report."
      }
    },
    "com.gcp.curationpartners_v1#ReportValue": {
      "type": "structure",
      "members": {
        "stringValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For string values."
          }
        },
        "doubleListValue": {
          "target": "com.gcp.curationpartners_v1#DoubleList",
          "traits": {
            "smithy.api#documentation": "For lists of double values."
          }
        },
        "boolValue": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "For boolean values."
          }
        },
        "stringListValue": {
          "target": "com.gcp.curationpartners_v1#StringList",
          "traits": {
            "smithy.api#documentation": "For lists of string values."
          }
        },
        "intValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For integer values."
          }
        },
        "doubleValue": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "For double values."
          }
        },
        "intListValue": {
          "target": "com.gcp.curationpartners_v1#IntList",
          "traits": {
            "smithy.api#documentation": "For lists of integer values."
          }
        },
        "bytesValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For bytes values."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a single value in a report."
      }
    },
    "com.gcp.curationpartners_v1#DeactivateCuratedPackageRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Request message for DeactivateCuratedPackage."
      }
    },
    "com.gcp.curationpartners_v1#Field": {
      "type": "structure",
      "members": {
        "dimension": {
          "target": "com.gcp.curationpartners_v1#FieldDimensionEnum",
          "traits": {
            "smithy.api#documentation": "The dimension this field represents."
          }
        },
        "metric": {
          "target": "com.gcp.curationpartners_v1#FieldMetricEnum",
          "traits": {
            "smithy.api#documentation": "The metric this field represents."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A dimension or a metric in a report."
      }
    },
    "com.gcp.curationpartners_v1#FieldDimensionEnum": {
      "type": "enum",
      "members": {
        "DIMENSION_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIMENSION_UNSPECIFIED"
          }
        },
        "ADVERTISER_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISER_DOMAIN"
          }
        },
        "COUNTRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNTRY"
          }
        },
        "CURATION_DATA_SEGMENT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_DATA_SEGMENT_ID"
          }
        },
        "CURATION_DATA_SEGMENT_RESPONSE_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_DATA_SEGMENT_RESPONSE_STATUS"
          }
        },
        "CURATION_DATA_SEGMENT_RESPONSE_STATUS_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_DATA_SEGMENT_RESPONSE_STATUS_NAME"
          }
        },
        "CURATOR_FEE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATOR_FEE_TYPE"
          }
        },
        "DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATE"
          }
        },
        "DEAL_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEAL_ID"
          }
        },
        "DEAL_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEAL_NAME"
          }
        },
        "DETECTED_ADVERTISER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DETECTED_ADVERTISER_NAME"
          }
        },
        "DSP_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSP_NAME"
          }
        },
        "DSP_SEAT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DSP_SEAT_ID"
          }
        },
        "ENVIRONMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT"
          }
        },
        "ENVIRONMENT_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENVIRONMENT_NAME"
          }
        },
        "HOLDING_COMPANY_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOLDING_COMPANY_NAME"
          }
        },
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOUR"
          }
        },
        "MOBILE_APP_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP_ID"
          }
        },
        "MOBILE_APP_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_APP_NAME"
          }
        },
        "MOBILE_OS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOBILE_OS"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTH"
          }
        },
        "PACKAGE_FEE_VISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PACKAGE_FEE_VISIBILITY"
          }
        },
        "PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM"
          }
        },
        "PUBLISHER_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER_DOMAIN"
          }
        },
        "PUBLISHER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER_ID"
          }
        },
        "PUBLISHER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHER_NAME"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEEK"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#FieldMetricEnum": {
      "type": "enum",
      "members": {
        "METRIC_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_UNSPECIFIED"
          }
        },
        "ACTIVE_VIEW_MEASURABILITY_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_VIEW_MEASURABILITY_RATE"
          }
        },
        "ACTIVE_VIEW_MEASURABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_VIEW_MEASURABLE"
          }
        },
        "ACTIVE_VIEW_VIEWABILITY_RATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_VIEW_VIEWABILITY_RATE"
          }
        },
        "ACTIVE_VIEW_VIEWABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_VIEW_VIEWABLE"
          }
        },
        "AUCTIONS_WON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUCTIONS_WON"
          }
        },
        "BIDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDS"
          }
        },
        "BIDS_IN_AUCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDS_IN_AUCTION"
          }
        },
        "BID_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BID_REQUESTS"
          }
        },
        "CLICKS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICKS"
          }
        },
        "CURATION_PARTNER_FEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_PARTNER_FEE"
          }
        },
        "DATA_SEGMENT_REQUESTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SEGMENT_REQUESTS"
          }
        },
        "IMPRESSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSIONS"
          }
        },
        "SPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEND"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#Empty": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      }
    },
    "com.gcp.curationpartners_v1#Money": {
      "type": "structure",
      "members": {
        "currencyCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The three-letter currency code defined in ISO 4217."
          }
        },
        "units": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
          }
        },
        "nanos": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an amount of money with its currency type."
      }
    },
    "com.gcp.curationpartners_v1#CuratedPackage": {
      "type": "structure",
      "members": {
        "floorPriceCpm": {
          "target": "com.gcp.curationpartners_v1#Money",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum CPM a buyer has to bid to participate in auctions for inventory in this curated package. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`"
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the curated package was last updated. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "curationFeeVisibility": {
          "target": "com.gcp.curationpartners_v1#CuratedPackageCurationFeeVisibilityEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Immutable. The visibility of the combined curation package fee and data segment fees (the total curation fee)."
          }
        },
        "targeting": {
          "target": "com.gcp.curationpartners_v1#PackageTargeting",
          "traits": {
            "smithy.api#documentation": "Optional. Targeting criteria for the curated package."
          }
        },
        "accessSettings": {
          "target": "com.gcp.curationpartners_v1#AccessControlSettings",
          "traits": {
            "smithy.api#documentation": "Required. Settings for controlling access to the curated package. Access to this curated package is limited to the allowlisted media planners and the creator. Buyers and bidders can not be allowlisted for or have direct access to this resource."
          }
        },
        "state": {
          "target": "com.gcp.curationpartners_v1#CuratedPackageStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The state of the curated package. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "millipercentOfMediaFee": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The fee will be charged as a percentage of the impression cost, represented in millipercent. For example, 1% is represented as 1000."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the curated package was created. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "feeCpm": {
          "target": "com.gcp.curationpartners_v1#Money",
          "traits": {
            "smithy.api#documentation": "Optional. The CPM fee charged by the curator to buyers using this curated package. Can be used to filter the response of the curatedPackages.list method."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. A description of the curated package, provided by the curator."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The display name assigned to the curated package by the curator. Can be used to filter the response of the curatedPackages.list method."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a curated package of inventory created and managed by a Curator."
      }
    },
    "com.gcp.curationpartners_v1#CuratedPackageCurationFeeVisibilityEnum": {
      "type": "enum",
      "members": {
        "CURATION_FEE_VISIBILITY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CURATION_FEE_VISIBILITY_UNSPECIFIED"
          }
        },
        "DISCLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCLOSED"
          }
        },
        "NON_DISCLOSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_DISCLOSED"
          }
        }
      }
    },
    "com.gcp.curationpartners_v1#CuratedPackageStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
[...]
