{
  "smithy": "2.0",
  "metadata": {
    "service": "dfareporting",
    "version": "v5",
    "title": "Campaign Manager 360 API",
    "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/"
  },
  "shapes": {
    "com.gcp.dfareporting_v5#PostalCode": {
      "type": "structure",
      "members": {
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code of the country to which this postal code belongs."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#postalCode\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this postal code."
          }
        },
        "countryDartId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DART ID of the country to which this postal code belongs."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Postal code. This is equivalent to the id field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about a postal code that can be targeted by ads."
      }
    },
    "com.gcp.dfareporting_v5#DynamicRules": {
      "type": "structure",
      "members": {
        "weightFieldId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The field ID for the feed that will be used for weighted rotation, only applicable when rotation type is WEIGHTED."
          }
        },
        "ruleType": {
          "target": "com.gcp.dfareporting_v5#DynamicRulesRuleTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The type of the rule, the default value is OPEN."
          }
        },
        "customRules": {
          "target": "com.gcp.dfareporting_v5#CustomRuleList",
          "traits": {
            "smithy.api#documentation": "Optional. The custom rules of the dynamic feed, only applicable when rule type is CUSTOM."
          }
        },
        "autoTargetedFieldIds": {
          "target": "com.gcp.dfareporting_v5#IntegerList",
          "traits": {
            "smithy.api#documentation": "Optional. List of field IDs in this element that should be auto-targeted. Applicable when rule type is AUTO."
          }
        },
        "remarketingValueAttributes": {
          "target": "com.gcp.dfareporting_v5#RemarketingValueAttributeList",
          "traits": {
            "smithy.api#documentation": "Optional. The link between an element field ID and a list of user attribute IDs."
          }
        },
        "rotationType": {
          "target": "com.gcp.dfareporting_v5#DynamicRulesRotationTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. The rotation type to select from eligible rows. Rotation type only apply when the filtering rule results in more than one eligible rows."
          }
        },
        "proximityFilter": {
          "target": "com.gcp.dfareporting_v5#ProximityFilter",
          "traits": {
            "smithy.api#documentation": "Optional. The proximity targeting rules of the dynamic feed, only applicable when rule type is PROXIMITY_TARGETING."
          }
        },
        "customValueFields": {
          "target": "com.gcp.dfareporting_v5#CustomValueFieldList",
          "traits": {
            "smithy.api#documentation": "Optional. Mapping between field ID and custom key that are used to match for auto filtering."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains dynamic rules information."
      }
    },
    "com.gcp.dfareporting_v5#DynamicRulesRuleTypeEnum": {
      "type": "enum",
      "members": {
        "RULE_SET_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RULE_SET_TYPE_UNKNOWN"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "PROXIMITY_TARGETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROXIMITY_TARGETING"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#CustomRuleList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CustomRule"
      }
    },
    "com.gcp.dfareporting_v5#IntegerList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.gcp.dfareporting_v5#RemarketingValueAttributeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#RemarketingValueAttribute"
      }
    },
    "com.gcp.dfareporting_v5#DynamicRulesRotationTypeEnum": {
      "type": "enum",
      "members": {
        "ROTATION_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROTATION_TYPE_UNKNOWN"
          }
        },
        "RANDOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RANDOM"
          }
        },
        "OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIMIZED"
          }
        },
        "WEIGHTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEIGHTED"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#CustomValueFieldList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CustomValueField"
      }
    },
    "com.gcp.dfareporting_v5#ThirdPartyAuthenticationToken": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the third-party authentication token."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Value of the third-party authentication token. This is a read-only, auto-generated field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Third Party Authentication Token"
      }
    },
    "com.gcp.dfareporting_v5#CreativeCustomEvent": {
      "type": "structure",
      "members": {
        "advertiserCustomEventType": {
          "target": "com.gcp.dfareporting_v5#CreativeCustomEventAdvertiserCustomEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "Type of the event. This is a read-only field."
          }
        },
        "popupWindowProperties": {
          "target": "com.gcp.dfareporting_v5#PopupWindowProperties",
          "traits": {
            "smithy.api#documentation": "Properties for rich media popup windows. This field is used only for exit events."
          }
        },
        "videoReportingId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Video reporting ID, used to differentiate multiple videos in a single creative. This is a read-only field."
          }
        },
        "artworkLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Artwork label column, used to link events in Campaign Manager back to events in Studio. This is a required field and should not be modified after insertion."
          }
        },
        "advertiserCustomEventName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User-entered name for the event."
          }
        },
        "advertiserCustomEventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique ID of this event used by Reporting and Data Transfer. This is a read-only field."
          }
        },
        "artworkType": {
          "target": "com.gcp.dfareporting_v5#CreativeCustomEventArtworkTypeEnum",
          "traits": {
            "smithy.api#documentation": "Artwork type used by the creative.This is a read-only field."
          }
        },
        "exitClickThroughUrl": {
          "target": "com.gcp.dfareporting_v5#CreativeClickThroughUrl",
          "traits": {
            "smithy.api#documentation": "Exit click-through URL for the event. This field is used only for exit events."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this event. This is a required field and should not be modified after insertion."
          }
        },
        "targetType": {
          "target": "com.gcp.dfareporting_v5#CreativeCustomEventTargetTypeEnum",
          "traits": {
            "smithy.api#documentation": "Target type used by the event."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creative Custom Event."
      }
    },
    "com.gcp.dfareporting_v5#CreativeCustomEventAdvertiserCustomEventTypeEnum": {
      "type": "enum",
      "members": {
        "ADVERTISER_EVENT_TIMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISER_EVENT_TIMER"
          }
        },
        "ADVERTISER_EVENT_EXIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISER_EVENT_EXIT"
          }
        },
        "ADVERTISER_EVENT_COUNTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADVERTISER_EVENT_COUNTER"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#CreativeCustomEventArtworkTypeEnum": {
      "type": "enum",
      "members": {
        "ARTWORK_TYPE_FLASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTWORK_TYPE_FLASH"
          }
        },
        "ARTWORK_TYPE_HTML5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTWORK_TYPE_HTML5"
          }
        },
        "ARTWORK_TYPE_MIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTWORK_TYPE_MIXED"
          }
        },
        "ARTWORK_TYPE_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARTWORK_TYPE_IMAGE"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#CreativeCustomEventTargetTypeEnum": {
      "type": "enum",
      "members": {
        "TARGET_BLANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_BLANK"
          }
        },
        "TARGET_TOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_TOP"
          }
        },
        "TARGET_SELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_SELF"
          }
        },
        "TARGET_PARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_PARENT"
          }
        },
        "TARGET_POPUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TARGET_POPUP"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ObjectFilter": {
      "type": "structure",
      "members": {
        "objectIds": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Applicable when status is ASSIGNED. The user has access to objects with these object IDs."
          }
        },
        "status": {
          "target": "com.gcp.dfareporting_v5#ObjectFilterStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of the filter. NONE means the user has access to none of the objects. ALL means the user has access to all objects. ASSIGNED means the user has access to the objects with IDs in the objectIds list."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#objectFilter\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Object Filter."
      }
    },
    "com.gcp.dfareporting_v5#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.dfareporting_v5#ObjectFilterStatusEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "ASSIGNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSIGNED"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#DimensionValueList": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.gcp.dfareporting_v5#DimensionValueList_",
          "traits": {
            "smithy.api#documentation": "The dimension values returned in this response."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of list this is, in this case dfareporting#dimensionValueList."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The eTag of this response for caching purposes."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Continuation token used to page through dimension values. To retrieve the next page of results, set the next request's \"pageToken\" to the value of this field. The page token is only valid for a limited amount of time and should not be persisted."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents the list of DimensionValue resources."
      }
    },
    "com.gcp.dfareporting_v5#DimensionValueList_": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#DimensionValue"
      }
    },
    "com.gcp.dfareporting_v5#CountriesListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#countriesListResponse\"."
          }
        },
        "countries": {
          "target": "com.gcp.dfareporting_v5#CountryList",
          "traits": {
            "smithy.api#documentation": "Country collection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Country List Response"
      }
    },
    "com.gcp.dfareporting_v5#CountryList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Country"
      }
    },
    "com.gcp.dfareporting_v5#EventTag": {
      "type": "structure",
      "members": {
        "subaccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subaccount ID of this event tag. This is a read-only field that can be left blank."
          }
        },
        "advertiserIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID of this event tag. This is a read-only field that can be left blank."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this event tag. This is a required field and must be less than 256 characters long."
          }
        },
        "type": {
          "target": "com.gcp.dfareporting_v5#EventTagTypeEnum",
          "traits": {
            "smithy.api#documentation": "Event tag type. Can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking. This is a required field."
          }
        },
        "excludeFromAdxRequests": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to remove this event tag from ads that are trafficked through Display & Video 360 to Ad Exchange. This may be useful if the event tag uses a pixel that is unapproved for Ad Exchange bids on one or more networks, such as the Google Display Network."
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Payload URL for this event tag. The URL on a click-through event tag should have a landing page URL appended to the end of it. This field is required on insertion."
          }
        },
        "status": {
          "target": "com.gcp.dfareporting_v5#EventTagStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of this event tag. Must be ENABLED for this event tag to fire. This is a required field."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this event tag. This is a read-only, auto-generated field."
          }
        },
        "urlEscapeLevels": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Number of times the landing page URL should be URL-escaped before being appended to the click-through event tag URL. Only applies to click-through event tags as specified by the event tag type."
          }
        },
        "enabledByDefault": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this event tag should be automatically enabled for all of the advertiser's campaigns and ads."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#eventTag\"."
          }
        },
        "siteIds": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Filter list of site IDs associated with this event tag. The siteFilterType determines whether this is a allowlist or blocklist filter."
          }
        },
        "siteFilterType": {
          "target": "com.gcp.dfareporting_v5#EventTagSiteFilterTypeEnum",
          "traits": {
            "smithy.api#documentation": "Site filter type for this event tag. If no type is specified then the event tag will be applied to all sites."
          }
        },
        "campaignIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of the campaign. This is a read-only, auto-generated field."
          }
        },
        "campaignId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Campaign ID of this event tag. This field or the advertiserId field is required on insertion."
          }
        },
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advertiser ID of this event tag. This field or the campaignId field is required on insertion."
          }
        },
        "sslCompliant": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this tag is SSL-compliant or not. This is a read-only field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains properties of an event tag."
      }
    },
    "com.gcp.dfareporting_v5#EventTagTypeEnum": {
      "type": "enum",
      "members": {
        "IMPRESSION_IMAGE_EVENT_TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION_IMAGE_EVENT_TAG"
          }
        },
        "IMPRESSION_JAVASCRIPT_EVENT_TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPRESSION_JAVASCRIPT_EVENT_TAG"
          }
        },
        "CLICK_THROUGH_EVENT_TAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICK_THROUGH_EVENT_TAG"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#EventTagStatusEnum": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#EventTagSiteFilterTypeEnum": {
      "type": "enum",
      "members": {
        "ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOWLIST"
          }
        },
        "BLOCKLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKLIST"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#CreativeField": {
      "type": "structure",
      "members": {
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advertiser ID of this creative field. This is a required field on insertion."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this creative field. This is a read-only, auto-generated field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this creative field. This is a required field and must be less than 256 characters long and unique among creative fields of the same advertiser."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID of this creative field. This is a read-only field that can be left blank."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeField\"."
          }
        },
        "subaccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subaccount ID of this creative field. This is a read-only field that can be left blank."
          }
        },
        "advertiserIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains properties of a creative field."
      }
    },
    "com.gcp.dfareporting_v5#Conversion": {
      "type": "structure",
      "members": {
        "limitAdTracking": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Limit Ad Tracking is enabled. When set to true, the conversion will be used for reporting but not targeting. This will prevent remarketing."
          }
        },
        "encryptedUserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The alphanumeric encrypted user ID. When set, encryptionInfo should also be specified. This field is mutually exclusive with encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field."
          }
        },
        "customVariables": {
          "target": "com.gcp.dfareporting_v5#CustomFloodlightVariableList",
          "traits": {
            "smithy.api#documentation": "Custom floodlight variables."
          }
        },
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The value of the conversion. Interpreted in CM360 Floodlight config parent advertiser's currency code. This is a required field."
          }
        },
        "quantity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The quantity of the conversion. This is a required field."
          }
        },
        "adUserDataConsent": {
          "target": "com.gcp.dfareporting_v5#ConversionAdUserDataConsentEnum",
          "traits": {
            "smithy.api#documentation": "This represents consent for ad user data."
          }
        },
        "floodlightActivityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Floodlight Activity ID of this conversion. This is a required field."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversion\"."
          }
        },
        "mobileDeviceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The mobile device ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, gclid, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or gclid or dclid or impressionId is a required field."
          }
        },
        "timestampMicros": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp of conversion, in Unix epoch micros. This is a required field."
          }
        },
        "userIdentifiers": {
          "target": "com.gcp.dfareporting_v5#UserIdentifierList",
          "traits": {
            "smithy.api#documentation": "The user identifiers to enhance the conversion. The maximum number of user identifiers for each conversion is 5."
          }
        },
        "cartData": {
          "target": "com.gcp.dfareporting_v5#CartData",
          "traits": {
            "smithy.api#documentation": "The cart data associated with this conversion."
          }
        },
        "childDirectedTreatment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this particular request may come from a user under the age of 13, under COPPA compliance."
          }
        },
        "encryptedUserIdCandidates": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "A list of the alphanumeric encrypted user IDs. Any user ID with exposure prior to the conversion timestamp will be used in the inserted conversion. If no such user ID is found then the conversion will be rejected with INVALID_ARGUMENT error. When set, encryptionInfo should also be specified. This field may only be used when calling batchinsert; it is not supported by batchupdate. This field is mutually exclusive with encryptedUserId, matchId, mobileDeviceId, gclid dclid, and impressionId. This or encryptedUserId or matchId or mobileDeviceId or gclid or dclid or impressionId is a required field."
          }
        },
        "sessionAttributesEncoded": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Session attributes for the conversion, encoded as based64 bytes. This field may only be used when calling batchinsert; it is not supported by batchupdate."
          }
        },
        "gclid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Google click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, dclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or dclid or impressionId is a required field."
          }
        },
        "matchId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The match ID field. A match ID is your own first-party identifier that has been synced with Google using the match ID feature in Floodlight. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[],mobileDeviceId, gclid, dclid, and impressionId. This or encryptedUserId orencryptedUserIdCandidates[] or mobileDeviceId or gclid or dclid or impressionIdis a required field."
          }
        },
        "nonPersonalizedAd": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the conversion was for a non personalized ad."
          }
        },
        "dclid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display click ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, gclid, and impressionId. This or encryptedUserId or encryptedUserIdCandidates[] or matchId or mobileDeviceId or gclid or impressionId is a required field."
          }
        },
        "ordinal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ordinal of the conversion. Use this field to control how conversions of the same user and day are de-duplicated. This is a required field."
          }
        },
        "impressionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The impression ID. This field is mutually exclusive with encryptedUserId, encryptedUserIdCandidates[], matchId, mobileDeviceId, and gclid. One of these identifiers must be set."
          }
        },
        "treatmentForUnderage": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this particular request may come from a user under the age of 16 (may differ by country), under compliance with the European Union's General Data Protection Regulation (GDPR)."
          }
        },
        "floodlightConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Floodlight Configuration ID of this conversion. This is a required field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Conversion represents when a user successfully performs a desired action after seeing an ad."
      }
    },
    "com.gcp.dfareporting_v5#CustomFloodlightVariableList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CustomFloodlightVariable"
      }
    },
    "com.gcp.dfareporting_v5#ConversionAdUserDataConsentEnum": {
      "type": "enum",
      "members": {
        "GRANTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRANTED"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENIED"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#UserIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#UserIdentifier"
      }
    },
    "com.gcp.dfareporting_v5#CustomViewabilityMetric": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the custom viewability metric."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the custom viewability metric."
          }
        },
        "configuration": {
          "target": "com.gcp.dfareporting_v5#CustomViewabilityMetricConfiguration",
          "traits": {
            "smithy.api#documentation": "Configuration of the custom viewability metric."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Custom Viewability Metric"
      }
    },
    "com.gcp.dfareporting_v5#GeoTargeting": {
      "type": "structure",
      "members": {
        "countries": {
          "target": "com.gcp.dfareporting_v5#CountryList",
          "traits": {
            "smithy.api#documentation": "Countries to be targeted or excluded from targeting, depending on the setting of the excludeCountries field. For each country only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting or excluding a country, do not target regions, cities, metros, or postal codes in the same country."
          }
        },
        "postalCodes": {
          "target": "com.gcp.dfareporting_v5#PostalCodeList",
          "traits": {
            "smithy.api#documentation": "Postal codes to be targeted. For each postal code only id is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a postal code, do not target or exclude the country of the postal code."
          }
        },
        "metros": {
          "target": "com.gcp.dfareporting_v5#MetroList",
          "traits": {
            "smithy.api#documentation": "Metros to be targeted. For each metro only dmaId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a metro, do not target or exclude the country of the metro."
          }
        },
        "regions": {
          "target": "com.gcp.dfareporting_v5#RegionList",
          "traits": {
            "smithy.api#documentation": "Regions to be targeted. For each region only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a region, do not target or exclude the country of the region."
          }
        },
        "cities": {
          "target": "com.gcp.dfareporting_v5#CityList",
          "traits": {
            "smithy.api#documentation": "Cities to be targeted. For each city only dartId is required. The other fields are populated automatically when the ad is inserted or updated. If targeting a city, do not target or exclude the country of the city, and do not target the metro or region of the city."
          }
        },
        "excludeCountries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not to exclude the countries in the countries field from targeting. If false, the countries field refers to countries which will be targeted by the ad."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Geographical Targeting."
      }
    },
    "com.gcp.dfareporting_v5#PostalCodeList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#PostalCode"
      }
    },
    "com.gcp.dfareporting_v5#MetroList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Metro"
      }
    },
    "com.gcp.dfareporting_v5#RegionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Region"
      }
    },
    "com.gcp.dfareporting_v5#CityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#City"
      }
    },
    "com.gcp.dfareporting_v5#AdsListResponse": {
      "type": "structure",
      "members": {
        "ads": {
          "target": "com.gcp.dfareporting_v5#AdList",
          "traits": {
            "smithy.api#documentation": "Ad collection."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#adsListResponse\"."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be used for the next list operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ad List Response"
      }
    },
    "com.gcp.dfareporting_v5#AdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Ad"
      }
    },
    "com.gcp.dfareporting_v5#StudioCreative": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier. Name of this studio creative. This is a required field on insertion."
          }
        },
        "dimension": {
          "target": "com.gcp.dfareporting_v5#StudioCreativeDimension",
          "traits": {
            "smithy.api#documentation": "Dimension of this studio creative. This is a required field on insertion if format is BANNER or EXPANDING."
          }
        },
        "studioAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Studio account ID of this creative. This field, if left unset, will be auto-populated."
          }
        },
        "lastModifiedInfo": {
          "target": "com.gcp.dfareporting_v5#LastModifiedInfo",
          "traits": {
            "smithy.api#documentation": "The timestamp when the studio creative was last modified. This is a read-only, auto-generated field."
          }
        },
        "studioCampaignId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Studio campaign ID of this studio creative. This is a required field on insertion."
          }
        },
        "createdInfo": {
          "target": "com.gcp.dfareporting_v5#LastModifiedInfo",
          "traits": {
            "smithy.api#documentation": "The timestamp when the studio creative was created. This is a read-only, auto-generated field."
          }
        },
        "studioAdvertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Studio advertiser ID of this studio creative. This is a required field on insertion."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Unique ID of this studio creative. This is a read-only, auto-generated field."
          }
        },
        "status": {
          "target": "com.gcp.dfareporting_v5#StudioCreativeStatusEnum",
          "traits": {
            "smithy.api#documentation": "Output only. Status of this studio creative. It is a read-only field."
          }
        },
        "assetIds": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "List of assets associated with this studio creative. It is a required field on insertion."
          }
        },
        "format": {
          "target": "com.gcp.dfareporting_v5#StudioCreativeFormatEnum",
          "traits": {
            "smithy.api#documentation": "Format of this studio creative. This is a required field on insertion."
          }
        },
        "dynamicProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dynamic profile ID of this studio creative."
          }
        },
        "backupImageAssetId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Backup image asset ID of this studio creative. It is a required field on insertion."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": " *Beta:* This API resource is available only to a very limited number of customers. If you'd like to use this resource, please reach out to your Google sales representative. Contains studio creative information."
      }
    },
    "com.gcp.dfareporting_v5#StudioCreativeStatusEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_STATUS"
          }
        },
        "IN_DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_DEVELOPMENT"
          }
        },
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "QA_REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QA_REJECTED"
          }
        },
        "QA_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QA_APPROVED"
          }
        },
        "TRAFFICKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAFFICKED"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#StudioCreativeFormatEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "BANNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BANNER"
          }
        },
        "EXPANDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPANDING"
          }
        },
        "INTERSTITIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERSTITIAL"
          }
        },
        "VPAID_LINEAR_VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPAID_LINEAR_VIDEO"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#Site": {
      "type": "structure",
      "members": {
        "directorySiteId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Directory site associated with this site. This is a required field that is read-only after insertion."
          }
        },
        "subaccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subaccount ID of this site. This is a read-only field that can be left blank."
          }
        },
        "approved": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this site is approved."
          }
        },
        "siteContacts": {
          "target": "com.gcp.dfareporting_v5#SiteContactList",
          "traits": {
            "smithy.api#documentation": "Site contacts."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID of this site. This is a read-only field that can be left blank."
          }
        },
        "adServingPlatformId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Ad serving platform ID to identify the ad serving platform used by the site. Measurement partners can use this field to add ad-server specific macros. If set, this value acts as the default during placement creation. Possible values are: * `1`, Adelphic * `2`, Adform * `3`, Adobe * `4`, Amobee * `5`, Basis (Centro) * `6`, Beeswax * `7`, Amazon * `8`, DV360 (DBM) * `9`, Innovid * `10`, MediaMath * `11`, Roku OneView DSP * `12`, TabMo Hawk * `13`, The Trade Desk * `14`, Xandr Invest DSP * `15`, Yahoo DSP * `16`, Zeta Global * `17`, Scaleout * `18`, Bidtellect * `19`, Unicorn * `20`, Teads * `21`, Quantcast * `22`, Cognitiv * `23`, AdTheorent * `24`, DeepIntent * `25`, Pulsepoint"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this site.This is a required field. Must be less than 128 characters long. If this site is under a subaccount, the name must be unique among sites of the same subaccount. Otherwise, this site is a top-level site, and the name must be unique among top-level sites of the same account."
          }
        },
        "idDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of this site. This is a read-only, auto-generated field."
          }
        },
        "videoSettings": {
          "target": "com.gcp.dfareporting_v5#SiteVideoSettings",
          "traits": {
            "smithy.api#documentation": "Default video settings for new placements created under this site. This value will be used to populate the placements.videoSettings field, when no value is specified for the new placement."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#site\"."
          }
        },
        "keyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Key name of this site. This is a read-only, auto-generated field."
          }
        },
        "directorySiteIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of the directory site. This is a read-only, auto-generated field."
          }
        },
        "siteSettings": {
          "target": "com.gcp.dfareporting_v5#SiteSettings",
          "traits": {
            "smithy.api#documentation": "Site-wide settings."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this site. This is a read-only, auto-generated field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains properties of a site."
      }
    },
    "com.gcp.dfareporting_v5#SiteContactList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#SiteContact"
      }
    },
    "com.gcp.dfareporting_v5#ConversionsBatchInsertResponse": {
      "type": "structure",
      "members": {
        "hasFailures": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates that some or all conversions failed to insert."
          }
        },
        "status": {
          "target": "com.gcp.dfareporting_v5#ConversionStatusList",
          "traits": {
            "smithy.api#documentation": "The insert status of each conversion. Statuses are returned in the same order that conversions are inserted."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#conversionsBatchInsertResponse\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Insert Conversions Response."
      }
    },
    "com.gcp.dfareporting_v5#ConversionStatusList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#ConversionStatus"
      }
    },
    "com.gcp.dfareporting_v5#TvCampaignDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this TV campaign."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#tvCampaignSummary\"."
          }
        },
        "timepoints": {
          "target": "com.gcp.dfareporting_v5#TvCampaignTimepointList",
          "traits": {
            "smithy.api#documentation": "The timepoints of the TV campaign."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "TvCampaignDetail contains data from a TV campaign for specific start dates and date windows."
      }
    },
    "com.gcp.dfareporting_v5#TvCampaignTimepointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#TvCampaignTimepoint"
      }
    },
    "com.gcp.dfareporting_v5#OptimizationActivity": {
      "type": "structure",
      "members": {
        "floodlightActivityIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of the floodlight activity. This is a read-only, auto-generated field."
          }
        },
        "floodlightActivityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Floodlight activity ID of this optimization activity. This is a required field."
          }
        },
        "weight": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Weight associated with this optimization. The weight assigned will be understood in proportion to the weights assigned to the other optimization activities. Value must be greater than or equal to 1."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creative optimization activity."
      }
    },
    "com.gcp.dfareporting_v5#AdvertiserLandingPagesListResponse": {
      "type": "structure",
      "members": {
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be used for the next list operation."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#advertiserLandingPagesListResponse\"."
          }
        },
        "landingPages": {
          "target": "com.gcp.dfareporting_v5#LandingPageList",
          "traits": {
            "smithy.api#documentation": "Landing page collection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Landing Page List Response"
      }
    },
    "com.gcp.dfareporting_v5#LandingPageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#LandingPage"
      }
    },
    "com.gcp.dfareporting_v5#AccountPermission": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this account permission."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this account permission."
          }
        },
        "accountProfiles": {
          "target": "com.gcp.dfareporting_v5#AccountPermissionAccountProfilesItemEnumList",
          "traits": {
            "smithy.api#documentation": "Account profiles associated with this account permission. Possible values are: - \"ACCOUNT_PROFILE_BASIC\" - \"ACCOUNT_PROFILE_STANDARD\" "
          }
        },
        "level": {
          "target": "com.gcp.dfareporting_v5#AccountPermissionLevelEnum",
          "traits": {
            "smithy.api#documentation": "Administrative level required to enable this account permission."
          }
        },
        "permissionGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Permission group of this account permission."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#accountPermission\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AccountPermissions contains information about a particular account permission. Some features of Campaign Manager require an account permission to be present in the account."
      }
    },
    "com.gcp.dfareporting_v5#AccountPermissionAccountProfilesItemEnum": {
      "type": "enum",
      "members": {
        "ACCOUNT_PROFILE_BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_PROFILE_BASIC"
          }
        },
        "ACCOUNT_PROFILE_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_PROFILE_STANDARD"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#AccountPermissionAccountProfilesItemEnumList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#AccountPermissionAccountProfilesItemEnum"
      }
    },
    "com.gcp.dfareporting_v5#AccountPermissionLevelEnum": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "ADMINISTRATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMINISTRATOR"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#CreativeGroupsListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#creativeGroupsListResponse\"."
          }
        },
        "creativeGroups": {
          "target": "com.gcp.dfareporting_v5#CreativeGroupList",
          "traits": {
            "smithy.api#documentation": "Creative group collection."
          }
        },
        "nextPageToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Pagination token to be used for the next list operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creative Group List Response"
      }
    },
    "com.gcp.dfareporting_v5#CreativeGroupList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CreativeGroup"
      }
    },
    "com.gcp.dfareporting_v5#Metric": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource this is, in this case dfareporting#metric."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The metric name, e.g. impressions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a metric."
      }
    },
    "com.gcp.dfareporting_v5#DependentFieldValue": {
      "type": "structure",
      "members": {
        "elementId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the element that value's field will match against."
          }
        },
        "dynamicFeedId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The ID of the dynamic feed that value's field will match against."
          }
        },
        "fieldId": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The field id of the dependent field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains dependent field value information."
      }
    },
    "com.gcp.dfareporting_v5#CrossMediaReachReportCompatibleFields": {
      "type": "structure",
      "members": {
        "metrics": {
          "target": "com.gcp.dfareporting_v5#MetricList",
          "traits": {
            "smithy.api#documentation": "Metrics which are compatible to be selected in the \"metricNames\" section of the report."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource this is, in this case dfareporting#crossMediaReachReportCompatibleFields."
          }
        },
        "dimensionFilters": {
          "target": "com.gcp.dfareporting_v5#DimensionList",
          "traits": {
            "smithy.api#documentation": "Dimensions which are compatible to be selected in the \"dimensionFilters\" section of the report."
          }
        },
        "dimensions": {
          "target": "com.gcp.dfareporting_v5#DimensionList",
          "traits": {
            "smithy.api#documentation": "Dimensions which are compatible to be selected in the \"dimensions\" section of the report."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents fields that are compatible to be selected for a report of type \"CROSS_MEDIA_REACH\"."
      }
    },
    "com.gcp.dfareporting_v5#MetricList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Metric"
      }
    },
    "com.gcp.dfareporting_v5#DimensionList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#Dimension"
      }
    },
    "com.gcp.dfareporting_v5#ChangeLog": {
      "type": "structure",
      "members": {
        "changeTime": {
          "target": "smithy.api#String"
        },
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Action which caused the change."
          }
        },
        "newValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "New value of the object field."
          }
        },
        "userProfileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the user who modified the object."
          }
        },
        "userProfileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User profile name of the user who modified the object."
          }
        },
        "subaccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subaccount ID of the modified object."
          }
        },
        "objectId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the object of this change log. The object could be a campaign, placement, ad, or other type."
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID of the modified object."
          }
        },
        "objectType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Object type of the change log."
          }
        },
        "oldValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Old value of the object field."
          }
        },
        "transactionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Transaction ID of this change log. When a single API call results in many changes, each change will have a separate ID in the change log but will share the same transactionId."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#changeLog\"."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this change log."
          }
        },
        "fieldName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Field name of the object which changed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a change that a user has made to a resource."
      }
    },
    "com.gcp.dfareporting_v5#DynamicProfileFeedSettings": {
      "type": "structure",
      "members": {
        "dynamicFeedId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Dynamic feed ID associated with dynamic profile version."
          }
        },
        "quantity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Optional. The number of this dynamic feed rows needed by the dynamic profile, default value is 1. Acceptable values are between 1 to 99, inclusive."
          }
        },
        "dynamicRules": {
          "target": "com.gcp.dfareporting_v5#DynamicRules",
          "traits": {
            "smithy.api#documentation": "Optional. Dynamic rules for row selection for the given dynamic feed in the given dynamic profile."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains dynamic profile specific settings for an associated dynamic feed."
      }
    },
    "com.gcp.dfareporting_v5#RemarketingList": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
          }
        },
        "subaccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subaccount ID of this remarketing list. This is a read-only, auto-generated field that is only returned in GET requests."
          }
        },
        "advertiserIdDimensionValue": {
          "target": "com.gcp.dfareporting_v5#DimensionValue",
          "traits": {
            "smithy.api#documentation": "Dimension value for the ID of the advertiser. This is a read-only, auto-generated field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the remarketing list. This is a required field. Must be no greater than 128 characters long."
          }
        },
        "listSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of users currently in the list. This is a read-only field."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remarketing list description."
          }
        },
        "listPopulationRule": {
          "target": "com.gcp.dfareporting_v5#ListPopulationRule",
          "traits": {
            "smithy.api#documentation": "Rule used to populate the remarketing list with users."
          }
        },
        "lifeSpan": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of days that a user should remain in the remarketing list without an impression. Acceptable values are 1 to 540, inclusive."
          }
        },
        "active": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this remarketing list is active."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Remarketing list ID. This is a read-only, auto-generated field."
          }
        },
        "listSource": {
          "target": "com.gcp.dfareporting_v5#RemarketingListListSourceEnum",
          "traits": {
            "smithy.api#documentation": "Product from which this remarketing list was originated."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#remarketingList\"."
          }
        },
        "advertiserId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Dimension value for the advertiser ID that owns this remarketing list. This is a required field."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains properties of a remarketing list. Remarketing enables you to create lists of users who have performed specific actions on a site, then target ads to members of those lists. This resource can be used to manage remarketing lists that are owned by your advertisers. To see all remarketing lists that are visible to your advertisers, including those that are shared to your advertiser or account, use the TargetableRemarketingLists resource."
      }
    },
    "com.gcp.dfareporting_v5#RemarketingListListSourceEnum": {
      "type": "enum",
      "members": {
        "REMARKETING_LIST_SOURCE_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_OTHER"
          }
        },
        "REMARKETING_LIST_SOURCE_ADX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_ADX"
          }
        },
        "REMARKETING_LIST_SOURCE_DFP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_DFP"
          }
        },
        "REMARKETING_LIST_SOURCE_XFP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_XFP"
          }
        },
        "REMARKETING_LIST_SOURCE_DFA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_DFA"
          }
        },
        "REMARKETING_LIST_SOURCE_GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_GA"
          }
        },
        "REMARKETING_LIST_SOURCE_YOUTUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_YOUTUBE"
          }
        },
        "REMARKETING_LIST_SOURCE_DBM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_DBM"
          }
        },
        "REMARKETING_LIST_SOURCE_GPLUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_GPLUS"
          }
        },
        "REMARKETING_LIST_SOURCE_DMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_DMP"
          }
        },
        "REMARKETING_LIST_SOURCE_PLAY_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMARKETING_LIST_SOURCE_PLAY_STORE"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#Recipient": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The kind of resource this is, in this case dfareporting#recipient."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the recipient."
          }
        },
        "deliveryType": {
          "target": "com.gcp.dfareporting_v5#RecipientDeliveryTypeEnum",
          "traits": {
            "smithy.api#documentation": "The delivery type for the recipient."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents a recipient."
      }
    },
    "com.gcp.dfareporting_v5#RecipientDeliveryTypeEnum": {
      "type": "enum",
      "members": {
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINK"
          }
        },
        "ATTACHMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACHMENT"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#StudioCreativeDimension": {
      "type": "structure",
      "members": {
        "width": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Width of the studio creative."
          }
        },
        "height": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Height of the studio creative."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dimension information for a studio creative."
      }
    },
    "com.gcp.dfareporting_v5#FloodlightActivityDynamicTag": {
      "type": "structure",
      "members": {
        "tag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tag code."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this dynamic tag. This is a read-only, auto-generated field."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this tag."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dynamic Tag"
      }
    },
    "com.gcp.dfareporting_v5#ListPopulationRule": {
      "type": "structure",
      "members": {
        "floodlightActivityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Floodlight activity ID associated with this rule. This field can be left blank."
          }
        },
        "floodlightActivityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of floodlight activity associated with this rule. This is a read-only, auto-generated field."
          }
        },
        "listPopulationClauses": {
          "target": "com.gcp.dfareporting_v5#ListPopulationClauseList",
          "traits": {
            "smithy.api#documentation": "Clauses that make up this list population rule. Clauses are joined by ANDs, and the clauses themselves are made up of list population terms which are joined by ORs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Remarketing List Population Rule."
      }
    },
    "com.gcp.dfareporting_v5#ListPopulationClauseList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#ListPopulationClause"
      }
    },
    "com.gcp.dfareporting_v5#CartData": {
      "type": "structure",
      "members": {
        "merchantFeedLabel": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The feed labels associated with the feed where your items are uploaded. For more information, please refer to ​​ https://support.google.com/merchants/answer/12453549. Providing the feed label reduces ambiguity in identifying the right offer details."
          }
        },
        "merchantFeedLanguage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The language associated with the feed where your items are uploaded. Use ISO 639-1 language codes. Providing the feed language reduces ambiguity in identifying the right offer details."
          }
        },
        "items": {
          "target": "com.gcp.dfareporting_v5#CartDataItemList",
          "traits": {
            "smithy.api#documentation": "Data of the items purchased."
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Merchant Center ID where the items are uploaded. Providing Merchant Center ID reduces ambiguity in identifying the right offer details."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains additional information about cart data. This field may only be used when calling batchinsert; it is not supported by batchupdate. Cart data reporting is only supported in SA360. [Learn more](https://support.google.com/sa360/topic/13425788)"
      }
    },
    "com.gcp.dfareporting_v5#CartDataItemList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#CartDataItem"
      }
    },
    "com.gcp.dfareporting_v5#CreativeOptimizationConfiguration": {
      "type": "structure",
      "members": {
        "optimizationModel": {
          "target": "com.gcp.dfareporting_v5#CreativeOptimizationConfigurationOptimizationModelEnum",
          "traits": {
            "smithy.api#documentation": "Optimization model for this configuration."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of this creative optimization config. This field is auto-generated when the campaign is inserted or updated. It can be null for existing campaigns."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this creative optimization config. This is a required field and must be less than 129 characters long."
          }
        },
        "optimizationActivitys": {
          "target": "com.gcp.dfareporting_v5#OptimizationActivityList",
          "traits": {
            "smithy.api#documentation": "List of optimization activities associated with this configuration."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creative optimization settings."
      }
    },
    "com.gcp.dfareporting_v5#CreativeOptimizationConfigurationOptimizationModelEnum": {
      "type": "enum",
      "members": {
        "CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLICK"
          }
        },
        "POST_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_CLICK"
          }
        },
        "POST_IMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_IMPRESSION"
          }
        },
        "POST_CLICK_AND_IMPRESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_CLICK_AND_IMPRESSION"
          }
        },
        "VIDEO_COMPLETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIDEO_COMPLETION"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#OptimizationActivityList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#OptimizationActivity"
      }
    },
    "com.gcp.dfareporting_v5#EncryptionInfo": {
      "type": "structure",
      "members": {
        "encryptionEntityId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The encryption entity ID. This should match the encryption configuration for ad serving or Data Transfer."
          }
        },
        "encryptionEntityType": {
          "target": "com.gcp.dfareporting_v5#EncryptionInfoEncryptionEntityTypeEnum",
          "traits": {
            "smithy.api#documentation": "The encryption entity type. This should match the encryption configuration for ad serving or Data Transfer."
          }
        },
        "encryptionSource": {
          "target": "com.gcp.dfareporting_v5#EncryptionInfoEncryptionSourceEnum",
          "traits": {
            "smithy.api#documentation": "Describes whether the encrypted cookie was received from ad serving (the %m macro) or from Data Transfer."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#encryptionInfo\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A description of how user IDs are encrypted."
      }
    },
    "com.gcp.dfareporting_v5#EncryptionInfoEncryptionEntityTypeEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_ENTITY_TYPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_ENTITY_TYPE_UNKNOWN"
          }
        },
        "DCM_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DCM_ACCOUNT"
          }
        },
        "DCM_ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DCM_ADVERTISER"
          }
        },
        "DBM_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DBM_PARTNER"
          }
        },
        "DBM_ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DBM_ADVERTISER"
          }
        },
        "ADWORDS_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADWORDS_CUSTOMER"
          }
        },
        "DFP_NETWORK_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DFP_NETWORK_CODE"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#EncryptionInfoEncryptionSourceEnum": {
      "type": "enum",
      "members": {
        "ENCRYPTION_SCOPE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTION_SCOPE_UNKNOWN"
          }
        },
        "AD_SERVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_SERVING"
          }
        },
        "DATA_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TRANSFER"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#IngestionErrorRecord": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.gcp.dfareporting_v5#FieldErrorList",
          "traits": {
            "smithy.api#documentation": "Output only. The list of field errors of the ingestion error record."
          }
        },
        "recordId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The record ID of the ingestion error record."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the ingestion error record of the dynamic feed. limited to 100 records."
      }
    },
    "com.gcp.dfareporting_v5#FieldErrorList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#FieldError"
      }
    },
    "com.gcp.dfareporting_v5#FeedIngestionStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.dfareporting_v5#FeedIngestionStatusStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The processing state of the feed."
          }
        },
        "ingestionErrorRecords": {
          "target": "com.gcp.dfareporting_v5#IngestionErrorRecordList",
          "traits": {
            "smithy.api#documentation": "Output only. The ingestion error records of the feed."
          }
        },
        "ingestionStatus": {
          "target": "com.gcp.dfareporting_v5#IngestionStatus",
          "traits": {
            "smithy.api#documentation": "Output only. The ingestion status of the feed."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the ingestion status of the dynamic feed. Feed ingestion is an asynchronous process. If the feed create request is successful, feed ingestion will be processed in the background, including validation, assets retrieval, and saving the data from the resource link. The processing time is dependent on the data size in the resource link. This read-only status field contains the current stage of that processing and its ingestion state."
      }
    },
    "com.gcp.dfareporting_v5#FeedIngestionStatusStateEnum": {
      "type": "enum",
      "members": {
        "FEED_PROCESSING_STATE_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FEED_PROCESSING_STATE_UNKNOWN"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "INGESTING_QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTING_QUEUED"
          }
        },
        "INGESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTING"
          }
        },
        "INGESTED_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTED_SUCCESS"
          }
        },
        "INGESTED_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTED_FAILURE"
          }
        },
        "REQUEST_TO_PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST_TO_PUBLISH"
          }
        },
        "PUBLISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHING"
          }
        },
        "PUBLISHED_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED_SUCCESS"
          }
        },
        "PUBLISHED_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED_FAILURE"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#IngestionErrorRecordList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#IngestionErrorRecord"
      }
    },
    "com.gcp.dfareporting_v5#DynamicProfileGenerateCodeResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Generated code for the dynamic profile. The code will need to be unescaped."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for DfareportingDynamicProfiles.GenerateCode."
      }
    },
    "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLink": {
      "type": "structure",
      "members": {
        "measurementPartner": {
          "target": "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLinkMeasurementPartnerEnum",
          "traits": {
            "smithy.api#documentation": "Measurement partner used for tag wrapping."
          }
        },
        "linkStatus": {
          "target": "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLinkLinkStatusEnum",
          "traits": {
            "smithy.api#documentation": "."
          }
        },
        "partnerCampaignId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Partner campaign ID needed for establishing linking with Measurement partner."
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLinkMeasurementPartnerEnum": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "INTEGRAL_AD_SCIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTEGRAL_AD_SCIENCE"
          }
        },
        "DOUBLE_VERIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOUBLE_VERIFY"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#MeasurementPartnerCampaignLinkLinkStatusEnum": {
      "type": "enum",
      "members": {
        "MEASUREMENT_PARTNER_UNLINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_UNLINKED"
          }
        },
        "MEASUREMENT_PARTNER_LINKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINKED"
          }
        },
        "MEASUREMENT_PARTNER_LINK_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_PENDING"
          }
        },
        "MEASUREMENT_PARTNER_LINK_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_FAILURE"
          }
        },
        "MEASUREMENT_PARTNER_LINK_OPT_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_OPT_OUT"
          }
        },
        "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_OPT_OUT_PENDING"
          }
        },
        "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_LINK_WRAPPING_PENDING"
          }
        },
        "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_MODE_CHANGE_PENDING"
          }
        },
        "MEASUREMENT_PARTNER_UNLINK_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASUREMENT_PARTNER_UNLINK_PENDING"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#ReportDataRow": {
      "type": "structure",
      "members": {
        "values": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Output only. A single sequential list of all cell values matching column_headers indices exactly. - Metric cells that are suppressed due to Minimum Reporting Standard (MRS) privacy protection constraints return \"-\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A row of report data."
      }
    },
    "com.gcp.dfareporting_v5#DynamicTargetingKeysListResponse": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#dynamicTargetingKeysListResponse\"."
          }
        },
        "dynamicTargetingKeys": {
          "target": "com.gcp.dfareporting_v5#DynamicTargetingKeyList",
          "traits": {
            "smithy.api#documentation": "Dynamic targeting key collection."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dynamic Targeting Key List Response"
      }
    },
    "com.gcp.dfareporting_v5#DynamicTargetingKeyList": {
      "type": "list",
      "member": {
        "target": "com.gcp.dfareporting_v5#DynamicTargetingKey"
      }
    },
    "com.gcp.dfareporting_v5#VideoProcessingData": {
      "type": "structure",
      "members": {
        "processingState": {
          "target": "com.gcp.dfareporting_v5#VideoProcessingDataProcessingStateEnum",
          "traits": {
            "smithy.api#documentation": "Output only. The processing state of the studio creative asset."
          }
        },
        "errorReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "For a FAILED processing state, the error reason discovered."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains processing data for a video asset."
      }
    },
    "com.gcp.dfareporting_v5#VideoProcessingDataProcessingStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.gcp.dfareporting_v5#Region": {
      "type": "structure",
      "members": {
        "dartId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DART ID of this region."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of this region."
          }
        },
        "countryDartId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "DART ID of the country to which this region belongs."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code of the country to which this region belongs."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Region code."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string \"dfareporting#region\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about a region that can be targeted by ads."
      }
    },
    "com.gcp.dfareporting_v5#YoutubeSettings": {
      "type": "structure",
      "members": {
        "businessName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The business name."
          }
        },
        "longHeadlines": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The long headlines. Currently only one long headline is supported."
          }
        },
        "callToActions": {
          "target": "com.gcp.dfareporting_v5#YoutubeSettingsCallToActionsItemEnumList",
          "traits": {
            "smithy.api#documentation": "Optional. The call to actions. Currently only one call to action is supported."
          }
        },
        "descriptions": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The descriptions. Currently only one description is supported."
          }
        },
        "businessLogoCreativeIds": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The IDs of the creatives to use for the business logo. Currently only one creative is supported."
          }
        },
        "headlines": {
          "target": "com.gcp.dfareporting_v5#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The headlines associated with the call to actions. Currently only one headline is supported."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the YouTube settings."
      }
    },
    "com.gcp.dfareporting_v5#YoutubeSettingsCallToActionsItemEnum": {
      "type": "enum",
      "members": {
        "CALL_TO_ACTION_UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_UNKNOWN"
          }
        },
        "CALL_TO_ACTION_LEARN_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_LEARN_MORE"
          }
        },
        "CALL_TO_ACTION_GET_QUOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_GET_QUOTE"
          }
        },
        "CALL_TO_ACTION_APPLY_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_APPLY_NOW"
          }
        },
        "CALL_TO_ACTION_SIGN_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_SIGN_UP"
          }
        },
        "CALL_TO_ACTION_CONTACT_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_CONTACT_US"
          }
        },
        "CALL_TO_ACTION_SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_SUBSCRIBE"
          }
        },
        "CALL_TO_ACTION_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_DOWNLOAD"
          }
        },
        "CALL_TO_ACTION_BOOK_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_BOOK_NOW"
          }
        },
        "CALL_TO_ACTION_GET_OFFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_GET_OFFER"
          }
        },
        "CALL_TO_ACTION_SHOP_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_SHOP_NOW"
          }
        },
        "CALL_TO_ACTION_VISIT_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_VISIT_STORE"
          }
        },
        "CALL_TO_ACTION_CALL_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_CALL_NOW"
          }
        },
        "CALL_TO_ACTION_VIEW_MENU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_VIEW_MENU"
          }
        },
        "CALL_TO_ACTION_TEST_DRIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_TEST_DRIVE"
          }
        },
        "CALL_TO_ACTION_SCHEDULE_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_SCHEDULE_NOW"
          }
        },
        "CALL_TO_ACTION_BUY_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_BUY_NOW"
          }
        },
        "CALL_TO_ACTION_DONATE_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_DONATE_NOW"
          }
        },
        "CALL_TO_ACTION_ORDER_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_ORDER_NOW"
          }
        },
        "CALL_TO_ACTION_PLAY_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_PLAY_NOW"
          }
        },
        "CALL_TO_ACTION_SEE_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_SEE_MORE"
          }
        },
        "CALL_TO_ACTION_START_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_START_NOW"
          }
        },
        "CALL_TO_ACTION_VISIT_SITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_VISIT_SITE"
          }
        },
        "CALL_TO_ACTION_WATCH_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CALL_TO_ACTION_WATCH_NOW"
          }
        }
      }
    },
[...]
