{
  "smithy": "2.0",
  "metadata": {
    "service": "servicecontrol",
    "version": "v2",
    "title": "Service Control API",
    "baseUrl": "https://servicecontrol.googleapis.com/"
  },
  "shapes": {
    "com.gcp.servicecontrol_v2#PrivilegedAccessManagerMetadata": {
      "type": "structure",
      "members": {
        "pamBindingIds": {
          "target": "com.gcp.servicecontrol_v2#AuditPamBindingIdList",
          "traits": {
            "smithy.api#documentation": "Output only. If PAM is managing the elevated access, AuditPamBindingId is written to an Identity and Access Management (IAM) policy, which specifies access controls for resources. If the access is granted via an IAM policy with a binding which is managed by Privileged Access Manager, PrivilegedAccessManagerMetadata will contain the AuditPamBindingId."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the Privileged Access Manager (PAM) backed authorization decisions."
      }
    },
    "com.gcp.servicecontrol_v2#AuditPamBindingIdList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v2#AuditPamBindingId"
      }
    },
    "com.gcp.servicecontrol_v2#RequestMetadata": {
      "type": "structure",
      "members": {
        "destinationAttributes": {
          "target": "com.gcp.servicecontrol_v2#Peer",
          "traits": {
            "smithy.api#documentation": "The destination of a network activity, such as accepting a TCP connection. In a multi hop network activity, the destination represents the receiver of the last hop. Only two fields are used in this message, Peer.port and Peer.ip. These fields are optionally populated by those services utilizing the IAM condition feature."
          }
        },
        "requestAttributes": {
          "target": "com.gcp.servicecontrol_v2#Request",
          "traits": {
            "smithy.api#documentation": "Request attributes used in IAM condition evaluation. This field contains request attributes like request time and access levels associated with the request. To get the whole view of the attributes used in IAM condition evaluation, the user must also look into `AuditLog.authentication_info.resource_attributes`."
          }
        },
        "callerIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the caller. For a caller from the internet, this will be the public IPv4 or IPv6 address. For calls made from inside Google's internal production network from one GCP service to another, `caller_ip` will be redacted to \"private\". For a caller from a Compute Engine VM with a external IP address, `caller_ip` will be the VM's external IP address. For a caller from a Compute Engine VM without a external IP address, if the VM is in the same organization (or project) as the accessed resource, `caller_ip` will be the VM's internal IPv4 address, otherwise `caller_ip` will be redacted to \"gce-internal-ip\". See https://cloud.google.com/compute/docs/vpc/ for more information."
          }
        },
        "callerSuppliedUserAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user agent of the caller. This information is not authenticated and should be treated accordingly. For example: + `google-api-python-client/1.4.0`: The request was made by the Google API client for Python. + `Cloud SDK Command Line Tool apitools-client/1.0 gcloud/0.9.62`: The request was made by the Google Cloud SDK CLI (gcloud). + `AppEngine-Google; (+http://code.google.com/appengine; appid: s~my-project`: The request was made from the `my-project` App Engine app."
          }
        },
        "callerNetwork": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network of the caller. Set only if the network host project is part of the same GCP organization (or project) as the accessed resource. See https://cloud.google.com/compute/docs/vpc/ for more information. This is a scheme-less URI full resource name. For example: \"//compute.googleapis.com/projects/PROJECT_ID/global/networks/NETWORK_ID\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata about the request."
      }
    },
    "com.gcp.servicecontrol_v2#ReportRequest": {
      "type": "structure",
      "members": {
        "serviceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the version of the service configuration that should be used to process the request. Must not be empty. Set this field to 'latest' to specify using the latest configuration."
          }
        },
        "operations": {
          "target": "com.gcp.servicecontrol_v2#AttributeContextList",
          "traits": {
            "smithy.api#documentation": "Describes the list of operations to be reported. Each operation is represented as an AttributeContext, and contains all attributes around an API access."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the Report method."
      }
    },
    "com.gcp.servicecontrol_v2#AttributeContextList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v2#AttributeContext"
      }
    },
    "com.gcp.servicecontrol_v2#SpanContext": {
      "type": "structure",
      "members": {
        "spanName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource name of the span. The format is: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID] `[TRACE_ID]` is a unique identifier for a trace within a project; it is a 32-character hexadecimal encoding of a 16-byte array. `[SPAN_ID]` is a unique identifier for a span within a trace; it is a 16-character hexadecimal encoding of an 8-byte array."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The context of a span. This is attached to an Exemplar in Distribution values during aggregation. It contains the name of a span with format: projects/[PROJECT_ID_OR_NUMBER]/traces/[TRACE_ID]/spans/[SPAN_ID]"
      }
    },
    "com.gcp.servicecontrol_v2#Resource": {
      "type": "structure",
      "members": {
        "annotations": {
          "target": "com.gcp.servicecontrol_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Annotations is an unstructured key-value map stored with a resource that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The stable identifier (name) of a resource on the `service`. A resource can be logically identified as \"//{resource.service}/{resource.name}\". The differences between a resource name and a URI are: * Resource name is a logical identifier, independent of network protocol and API version. For example, `//pubsub.googleapis.com/projects/123/topics/news-feed`. * URI often includes protocol and version information, so it can be used directly by applications. For example, `https://pubsub.googleapis.com/v1/projects/123/topics/news-feed`. See https://cloud.google.com/apis/design/resource_names for details."
          }
        },
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service that this resource belongs to, such as `pubsub.googleapis.com`. The service may be different from the DNS hostname that actually serves the request."
          }
        },
        "updateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was last updated. Any change to the resource made by users must refresh this value. Changes to a resource made by the service should refresh this value."
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Mutable. The display name set by clients. Must be <= 63 characters."
          }
        },
        "labels": {
          "target": "com.gcp.servicecontrol_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels or tags on the resource, such as AWS resource tags and Kubernetes resource labels."
          }
        },
        "etag": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. An opaque value that uniquely identifies a version or generation of a resource. It can be used to confirm that the client and server agree on the ordering of a resource being written."
          }
        },
        "createTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was created. This may be either the time creation was initiated or when it was completed."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource. The syntax is platform-specific because different platforms define their resources differently. For Google APIs, the type format must be \"{service}/{kind}\", such as \"pubsub.googleapis.com/Topic\"."
          }
        },
        "deleteTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. The timestamp when the resource was deleted. If the resource is not deleted, this must be empty."
          }
        },
        "uid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the resource. UID is unique in the time and space for this resource within the scope of the service. It is typically generated by the server on successful creation of a resource and must not be changed. UID is used to uniquely identify resources with resource name reuses. This should be a UUID4."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Immutable. The location of the resource. The location encoding is specific to the service provider, and new encoding may be introduced as the service evolves. For Google Cloud products, the encoding is what is used by Google Cloud APIs, such as `us-east1`, `aws-us-east-1`, and `azure-eastus2`. The semantics of `location` is identical to the `cloud.googleapis.com/location` label used by some Google Cloud APIs."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message defines core attributes for a resource. A resource is an addressable (named) entity provided by the destination service. For example, a file stored on a network storage service."
      }
    },
    "com.gcp.servicecontrol_v2#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicecontrol_v2#Peer": {
      "type": "structure",
      "members": {
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the peer."
          }
        },
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identity of this peer. Similar to `Request.auth.principal`, but relative to the peer instead of the request. For example, the identity associated with a load balancer that forwarded the request."
          }
        },
        "regionCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The CLDR country/region code associated with the above IP address. If the IP address is private, the `region_code` should reflect the physical location where this peer is running."
          }
        },
        "labels": {
          "target": "com.gcp.servicecontrol_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "The labels associated with the peer."
          }
        },
        "port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network port of the peer."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message defines attributes for a node that handles a network request. The node can be either a service or an application that sends, forwards, or receives the request. Service peers should fill in `principal` and `labels` as appropriate."
      }
    },
    "com.gcp.servicecontrol_v2#Oauth": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The optional OAuth client ID. This is the unique public identifier issued by an authorization server to a registered client application. Empty string is equivalent to no oauth client id. WARNING: This is for MCP tools/call and tools/list authorization and not for general use."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message defines attributes associated with OAuth credentials."
      }
    },
    "com.gcp.servicecontrol_v2#V2LogEntrySourceLocation": {
      "type": "structure",
      "members": {
        "function": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Human-readable name of the function or method being invoked, with optional context such as the class or package name. This information may be used in contexts such as the logs viewer, where a file and line number are less meaningful. The format can vary by language. For example: `qual.if.ied.Class.method` (Java), `dir/package.func` (Go), `function` (Python)."
          }
        },
        "line": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Line within the source file. 1-based; 0 indicates no line number available."
          }
        },
        "file": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Source file name. Depending on the runtime environment, this might be a simple name or a fully-qualified name."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information about the source code location that produced the log entry."
      }
    },
    "com.gcp.servicecontrol_v2#Auth": {
      "type": "structure",
      "members": {
        "principal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authenticated principal. Reflects the issuer (`iss`) and subject (`sub`) claims within a JWT. The issuer and subject should be `/` delimited, with `/` percent-encoded within the subject fragment. For Google accounts, the principal format is: \"https://accounts.google.com/{id}\""
          }
        },
        "credentialId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies the client credential id used for authentication. credential_id is in the format of AUTH_METHOD:IDENTIFIER, e.g. \"serviceaccount:XXXXX, apikey:XXXXX\" where the format of the IDENTIFIER can vary for different AUTH_METHODs."
          }
        },
        "presenter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authorized presenter of the credential. Reflects the optional Authorized Presenter (`azp`) claim within a JWT or the OAuth client id. For example, a Google Cloud Platform client id looks as follows: \"123456789012.apps.googleusercontent.com\"."
          }
        },
        "accessLevels": {
          "target": "com.gcp.servicecontrol_v2#StringList",
          "traits": {
            "smithy.api#documentation": "A list of access level resource names that allow resources to be accessed by authenticated requester. It is part of Secure GCP processing for the incoming request. An access level string has the format: \"//{api_service_name}/accessPolicies/{policy_id}/accessLevels/{short_name}\" Example: \"//accesscontextmanager.googleapis.com/accessPolicies/MY_POLICY_ID/accessLevels/MY_LEVEL\""
          }
        },
        "claims": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Structured claims presented with the credential. JWTs include `{key: value}` pairs for standard and private claims. The following is a subset of the standard required and optional claims that would typically be presented for a Google-based JWT: {'iss': 'accounts.google.com', 'sub': '113289723416554971153', 'aud': ['123456789012', 'pubsub.googleapis.com'], 'azp': '123456789012.apps.googleusercontent.com', 'email': 'jsmith@example.com', 'iat': 1353601026, 'exp': 1353604926} SAML assertions are similarly specified, but with an identity provider dependent structure."
          }
        },
        "oauth": {
          "target": "com.gcp.servicecontrol_v2#Oauth",
          "traits": {
            "smithy.api#documentation": "Attributes of the OAuth token associated with the request."
          }
        },
        "audiences": {
          "target": "com.gcp.servicecontrol_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The intended audience(s) for this authentication information. Reflects the audience (`aud`) claim within a JWT. The audience value(s) depends on the `issuer`, but typically include one or more of the following pieces of information: * The services intended to receive the credential. For example, [\"https://pubsub.googleapis.com/\", \"https://storage.googleapis.com/\"]. * A set of service-based scopes. For example, [\"https://www.googleapis.com/auth/cloud-platform\"]. * The client id of an app, such as the Firebase project id for JWTs from Firebase Auth. Consult the documentation for the credential issuer to determine the information provided."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message defines request authentication attributes. Terminology is based on the JSON Web Token (JWT) standard, but the terms also correlate to concepts in other standards."
      }
    },
    "com.gcp.servicecontrol_v2#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.servicecontrol_v2#DocumentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      }
    },
    "com.gcp.servicecontrol_v2#OAuthInfo": {
      "type": "structure",
      "members": {
        "oauthClientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth client ID of the 1P or 3P application acting on behalf of the user."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OAuth related information about the request."
      }
    },
    "com.gcp.servicecontrol_v2#ReportResponse": {
      "type": "structure",
      "members": {
        "extensions": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The extension field to store serialized OTel responses. e.g. ExportLogsServiceResponse, ExportMetricsServiceResponse."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the Report method."
      }
    },
    "com.gcp.servicecontrol_v2#V2ResourceEvent": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.gcp.servicecontrol_v2#V2ResourceEventTypeEnum",
          "traits": {
            "smithy.api#documentation": "The resource event type determines how the backend service should process the event."
          }
        },
        "parent": {
          "target": "com.gcp.servicecontrol_v2#Resource",
          "traits": {
            "smithy.api#documentation": "The parent resource for the resource."
          }
        },
        "contextId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ESF unique context id of the api request, from which this resource event originated. This field is only needed for CAIS integration via api annotation. See go/cais-lro-delete for more details."
          }
        },
        "payload": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The payload contains metadata associated with the resource event. A ResourceEventPayloadStatus is provided instead if the original payload cannot be returned due to a limitation (e.g. size limit)."
          }
        },
        "destinations": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The destinations field determines which backend services should handle the event. This should be specified as a comma-delimited string."
          }
        },
        "resource": {
          "target": "com.gcp.servicecontrol_v2#Resource",
          "traits": {
            "smithy.api#documentation": "The resource associated with the event."
          }
        },
        "path": {
          "target": "com.gcp.servicecontrol_v2#V2ResourceEventPathEnum",
          "traits": {
            "smithy.api#documentation": "The api path the resource event was created in. This should match the source of the `payload` field. For direct integrations with Chemist, this should generally be the RESPONSE. go/resource-event-pipeline-type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Report v2 extension proto for passing the resource metadata associated with a resource create/update/delete/undelete event from ESF to Chemist. ResourceEvent proto should be serialized into the ReportRequest.operations.extensions."
      }
    },
    "com.gcp.servicecontrol_v2#V2ResourceEventTypeEnum": {
      "type": "enum",
      "members": {
        "TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TYPE_UNSPECIFIED"
          }
        },
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE"
          }
        },
        "UNDELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDELETE"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v2#V2ResourceEventPathEnum": {
      "type": "enum",
      "members": {
        "API_PATH_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API_PATH_UNSPECIFIED"
          }
        },
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v2#CheckRequest": {
      "type": "structure",
      "members": {
        "serviceConfigId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Specifies the version of the service configuration that should be used to process the request. Must not be empty. Set this field to 'latest' to specify using the latest configuration."
          }
        },
        "attributes": {
          "target": "com.gcp.servicecontrol_v2#AttributeContext",
          "traits": {
            "smithy.api#documentation": "Describes attributes about the operation being executed by the service."
          }
        },
        "resources": {
          "target": "com.gcp.servicecontrol_v2#ResourceInfoList",
          "traits": {
            "smithy.api#documentation": "Describes the resources and the policies applied to each resource."
          }
        },
        "flags": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Contains a comma-separated list of flags."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request message for the Check method."
      }
    },
    "com.gcp.servicecontrol_v2#ResourceInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v2#ResourceInfo"
      }
    },
    "com.gcp.servicecontrol_v2#Response": {
      "type": "structure",
      "members": {
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the `destination` service sends the last byte of the response."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP response size in bytes. If unknown, it must be -1."
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP response status code, such as `200` and `404`."
          }
        },
        "backendLatency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The amount of time it takes the backend service to fully respond to a request. Measured from when the destination service starts to send the request to the backend until when the destination service receives the complete response from the backend."
          }
        },
        "headers": {
          "target": "com.gcp.servicecontrol_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "The HTTP response headers. If multiple headers share the same key, they must be merged according to HTTP spec. All header keys must be lowercased, because HTTP header keys are case-insensitive."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message defines attributes for a typical network response. It generally models semantics of an HTTP response."
      }
    },
    "com.gcp.servicecontrol_v2#AuthorizationInfo": {
      "type": "structure",
      "members": {
        "permissionType": {
          "target": "com.gcp.servicecontrol_v2#AuthorizationInfoPermissionTypeEnum",
          "traits": {
            "smithy.api#documentation": "The type of the permission that was checked. For data access audit logs this corresponds with the permission type that must be enabled in the project/folder/organization IAM policy in order for the log to be written."
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The required IAM permission."
          }
        },
        "granted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not authorization for `resource` and `permission` was granted."
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource being accessed, as a REST-style or cloud resource string. For example: bigquery.googleapis.com/projects/PROJECTID/datasets/DATASETID or projects/PROJECTID/datasets/DATASETID"
          }
        },
        "resourceAttributes": {
          "target": "com.gcp.servicecontrol_v2#Resource",
          "traits": {
            "smithy.api#documentation": "Resource attributes used in IAM condition evaluation. This field contains resource attributes like resource type and resource name. To get the whole view of the attributes used in IAM condition evaluation, the user must also look into `AuditLog.request_metadata.request_attributes`."
          }
        },
        "privilegedAccessManagerMetadata": {
          "target": "com.gcp.servicecontrol_v2#PrivilegedAccessManagerMetadata",
          "traits": {
            "smithy.api#documentation": "Output only. Metadata about the Privileged Access Manager (PAM) backed authorization decisions. This field is populated if the access is granted via an IAM policy with a binding which is managed by Privileged Access Manager."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authorization information for the operation."
      }
    },
    "com.gcp.servicecontrol_v2#AuthorizationInfoPermissionTypeEnum": {
      "type": "enum",
      "members": {
        "PERMISSION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERMISSION_TYPE_UNSPECIFIED"
          }
        },
        "ADMIN_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_READ"
          }
        },
        "ADMIN_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADMIN_WRITE"
          }
        },
        "DATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_READ"
          }
        },
        "DATA_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_WRITE"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v2#Api": {
      "type": "structure",
      "members": {
        "service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API service name. It is a logical identifier for a networked API, such as \"pubsub.googleapis.com\". The naming syntax depends on the API management system being used for handling the request."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API protocol used for sending the request, such as \"http\", \"https\", \"grpc\", or \"internal\"."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version associated with the API operation above, such as \"v1\" or \"v1alpha1\"."
          }
        },
        "operation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API operation name. For gRPC requests, it is the fully qualified API method name, such as \"google.pubsub.v1.Publisher.Publish\". For OpenAPI requests, it is the `operationId`, such as \"getPet\"."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message defines attributes associated with API operations, such as a network API request. The terminology is based on the conventions used by Google APIs, Istio, and OpenAPI."
      }
    },
    "com.gcp.servicecontrol_v2#ServiceDelegationHistory": {
      "type": "structure",
      "members": {
        "originalPrincipal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original end user who initiated the request to GCP."
          }
        },
        "serviceMetadata": {
          "target": "com.gcp.servicecontrol_v2#ServiceMetadataList",
          "traits": {
            "smithy.api#documentation": "Data identifying the service specific jobs or units of work that were involved in a chain of service calls."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The history of delegation across multiple services as the result of the original user's action. Such as \"service A uses its own account to do something for user B\". This differs from ServiceAccountDelegationInfo, which only tracks the history of direct token exchanges (impersonation)."
      }
    },
    "com.gcp.servicecontrol_v2#ServiceMetadataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v2#ServiceMetadata"
      }
    },
    "com.gcp.servicecontrol_v2#ServiceMetadata": {
      "type": "structure",
      "members": {
        "serviceDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service's fully qualified domain name, e.g. \"dataproc.googleapis.com\"."
          }
        },
        "principalSubject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the principal_subject associated with the identity. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subject/{subject)` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]` If the identity is a Google account (e.g. workspace user account or service account), this will be the email of the prefixed by `serviceAccount:`. For example: `serviceAccount:my-service-account@project-1.iam.gserviceaccount.com`. If the identity is an individual user, the identity will be formatted as: `user:user_ABC@email.com`."
          }
        },
        "jobMetadata": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Additional metadata provided by service teams to describe service specific job information that was triggered by the original principal."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Metadata describing the service and additional service specific information used to identify the job or unit of work at hand."
      }
    },
    "com.gcp.servicecontrol_v2#V2LogEntryOperation": {
      "type": "structure",
      "members": {
        "producer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary producer identifier. The combination of `id` and `producer` must be globally unique. Examples for `producer`: `\"MyDivision.MyBigCompany.com\"`, `\"github.com/MyProject/MyApplication\"`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. An arbitrary operation identifier. Log entries with the same identifier are assumed to be part of the same operation."
          }
        },
        "first": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this to True if this is the first log entry in the operation."
          }
        },
        "last": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Optional. Set this to True if this is the last log entry in the operation."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Additional information about a potentially long-running operation with which a log entry is associated."
      }
    },
    "com.gcp.servicecontrol_v2#ResourceInfo": {
      "type": "structure",
      "members": {
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The identifier of the container of this resource. For Google Cloud APIs, the resource container must be one of the following formats: - `projects/` - `folders/` - `organizations/` Required for the policy enforcement on the container level (e.g. VPCSC, Location Policy check, Org Policy check)."
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. The location of the resource, it must be a valid zone, region or multiregion, for example: \"europe-west4\", \"northamerica-northeast1-a\". Required for location policy check."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource type in the format of \"{service}/{kind}\"."
          }
        },
        "permission": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource permission needed for this request. The format must be \"{service}/{plural}.{verb}\"."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the resource referenced in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes a resource referenced in the request."
      }
    },
    "com.gcp.servicecontrol_v2#RabPolicyViolationInfo": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Error message detailing what triggered the violation. The error message content originates from the authz library e.g., google3/cloud/security/iam/cap/deny_explanation/internal/make_error_msg.cc. This will be the same (canonical) error message provided by the http error code."
          }
        },
        "resourceLocations": {
          "target": "com.gcp.servicecontrol_v2#StringList",
          "traits": {
            "smithy.api#documentation": "Optional. The list of target locations of the resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents Regional Access Boundary (RAB) Policy Violation information."
      }
    },
    "com.gcp.servicecontrol_v2#AuditLog": {
      "type": "structure",
      "members": {
        "metadata": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Other service-specific data about the request, response, and other information associated with the current audited event."
          }
        },
        "resourceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The resource or collection that is the target of the operation. The name is a scheme-less URI, not including the API service name. For example: \"projects/PROJECT_ID/zones/us-central1-a/instances\" \"projects/PROJECT_ID/datasets/DATASET_ID\""
          }
        },
        "authenticationInfo": {
          "target": "com.gcp.servicecontrol_v2#AuthenticationInfo",
          "traits": {
            "smithy.api#documentation": "Authentication information."
          }
        },
        "response": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The operation response. This may not include all response elements, such as those that are too large, privacy-sensitive, or duplicated elsewhere in the log record. It should never include user-generated data, such as file contents. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        },
        "apiVersionIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API version identifier of the operation that uses interface based versioning (IBV). For example, `\"2026-01-01-preview\"`. The version identifier generally follows the format of [variant_]date[_decorator]. It should not be parsed because the exact format varies across services."
          }
        },
        "methodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service method or operation. For API calls, this should be the name of the API method. For example, \"google.cloud.bigquery.v2.TableService.InsertTable\" \"google.logging.v2.ConfigServiceV2.CreateSink\""
          }
        },
        "resourceLocation": {
          "target": "com.gcp.servicecontrol_v2#ResourceLocation",
          "traits": {
            "smithy.api#documentation": "The resource location information."
          }
        },
        "numResponseItems": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of items returned from a List or Query API method, if applicable."
          }
        },
        "authorizationInfo": {
          "target": "com.gcp.servicecontrol_v2#AuthorizationInfoList",
          "traits": {
            "smithy.api#documentation": "Authorization information. If there are multiple resources or permissions involved, then there is one AuthorizationInfo element for each {resource, permission} tuple."
          }
        },
        "serviceData": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use the `metadata` field instead. Other service-specific data about the request, response, and other activities."
          }
        },
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the API service performing the operation. For example, `\"compute.googleapis.com\"`."
          }
        },
        "resourceOriginalState": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The resource's original state before mutation. Present only for operations which have successfully modified the targeted resource(s). In general, this field should contain all changed fields, except those that are already been included in `request`, `response`, `metadata` or `service_data` fields. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        },
        "status": {
          "target": "com.gcp.servicecontrol_v2#Status",
          "traits": {
            "smithy.api#documentation": "The status of the overall operation."
          }
        },
        "requestMetadata": {
          "target": "com.gcp.servicecontrol_v2#RequestMetadata",
          "traits": {
            "smithy.api#documentation": "Metadata about the operation."
          }
        },
        "policyViolationInfo": {
          "target": "com.gcp.servicecontrol_v2#PolicyViolationInfo",
          "traits": {
            "smithy.api#documentation": "Indicates the policy violations for this request. If the request is denied by the policy, violation information will be logged here."
          }
        },
        "request": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The operation request. This may not include all request parameters, such as those that are too large, privacy-sensitive, or duplicated elsewhere in the log record. It should never include user-generated data, such as file contents. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Common audit log format for Google Cloud Platform API operations. "
      }
    },
    "com.gcp.servicecontrol_v2#AuthorizationInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v2#AuthorizationInfo"
      }
    },
    "com.gcp.servicecontrol_v2#ThirdPartyPrincipal": {
      "type": "structure",
      "members": {
        "thirdPartyClaims": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Metadata about third party identity."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Third party identity principal."
      }
    },
    "com.gcp.servicecontrol_v2#Status": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The status code, which should be an enum value of google.rpc.Code."
          }
        },
        "details": {
          "target": "com.gcp.servicecontrol_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      }
    },
    "com.gcp.servicecontrol_v2#DocumentMapList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v2#DocumentMap"
      }
    },
    "com.gcp.servicecontrol_v2#FirstPartyPrincipal": {
      "type": "structure",
      "members": {
        "principalEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of a Google account. ."
          }
        },
        "serviceMetadata": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Metadata about the service that uses the service account. ."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "First party identity principal."
      }
    },
    "com.gcp.servicecontrol_v2#ServiceAccountDelegationInfo": {
      "type": "structure",
      "members": {
        "thirdPartyPrincipal": {
          "target": "com.gcp.servicecontrol_v2#ThirdPartyPrincipal",
          "traits": {
            "smithy.api#documentation": "Third party identity as the real authority."
          }
        },
        "principalSubject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string representing the principal_subject associated with the identity. For most identities, the format will be `principal://iam.googleapis.com/{identity pool name}/subject/{subject)` except for some GKE identities (GKE_WORKLOAD, FREEFORM, GKE_HUB_WORKLOAD) that are still in the legacy format `serviceAccount:{identity pool name}[{subject}]`"
          }
        },
        "firstPartyPrincipal": {
          "target": "com.gcp.servicecontrol_v2#FirstPartyPrincipal",
          "traits": {
            "smithy.api#documentation": "First party (Google) identity as the real authority."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Identity delegation history of an authenticated service account."
      }
    },
    "com.gcp.servicecontrol_v2#AuditPamBindingId": {
      "type": "structure",
      "members": {
        "grantUuid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. Represents the unique identifier for the PAM grant. Full_resource_name_pattern for PAM Grant is: //privilegedaccessmanager.googleapis.com/ (projects|folders|organizations)/$0/locations/$1/entitlements/$2/ grants/$3 where $3 is the grant_uuid."
          }
        },
        "container": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Output only. GCP Project/Folder/Organization identifier to which the PAM entitlement/grant is bound to. Container will be in the following form: projects/$project_num or folders/$folder_num or organizations/$org"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A composite unique identifier for a PAM Grant which is {Org/Folder/Project identifier, grant Unique Identifier} tuple."
      }
    },
    "com.gcp.servicecontrol_v2#AttributeContext": {
      "type": "structure",
      "members": {
        "request": {
          "target": "com.gcp.servicecontrol_v2#Request",
          "traits": {
            "smithy.api#documentation": "Represents a network request, such as an HTTP request."
          }
        },
        "response": {
          "target": "com.gcp.servicecontrol_v2#Response",
          "traits": {
            "smithy.api#documentation": "Represents a network response, such as an HTTP response."
          }
        },
        "destination": {
          "target": "com.gcp.servicecontrol_v2#Peer",
          "traits": {
            "smithy.api#documentation": "The destination of a network activity, such as accepting a TCP connection. In a multi hop network activity, the destination represents the receiver of the last hop."
          }
        },
        "resource": {
          "target": "com.gcp.servicecontrol_v2#Resource",
          "traits": {
            "smithy.api#documentation": "Represents a target resource that is involved with a network activity. If multiple resources are involved with an activity, this must be the primary one."
          }
        },
        "api": {
          "target": "com.gcp.servicecontrol_v2#Api",
          "traits": {
            "smithy.api#documentation": "Represents an API operation that is involved to a network activity."
          }
        },
        "origin": {
          "target": "com.gcp.servicecontrol_v2#Peer",
          "traits": {
            "smithy.api#documentation": "The origin of a network activity. In a multi hop network activity, the origin represents the sender of the first hop. For the first hop, the `source` and the `origin` must have the same content."
          }
        },
        "source": {
          "target": "com.gcp.servicecontrol_v2#Peer",
          "traits": {
            "smithy.api#documentation": "The source of a network activity, such as starting a TCP connection. In a multi hop network activity, the source represents the sender of the last hop."
          }
        },
        "extensions": {
          "target": "com.gcp.servicecontrol_v2#DocumentMapList",
          "traits": {
            "smithy.api#documentation": "Supports extensions for advanced use cases, such as logs and metrics."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message defines the standard attribute vocabulary for Google APIs. An attribute is a piece of metadata that describes an activity on a network service. For example, the size of an HTTP request, or the status code of an HTTP response. Each attribute has a type and a name, which is logically defined as a proto message field in `AttributeContext`. The field type becomes the attribute type, and the field path becomes the attribute name. For example, the attribute `source.ip` maps to field `AttributeContext.source.ip`. This message definition is guaranteed not to have any wire breaking change. So you can use it directly for passing attributes across different systems. NOTE: Different system may generate different subset of attributes. Please verify the system specification before relying on an attribute generated a system."
      }
    },
    "com.gcp.servicecontrol_v2#ViolationInfo": {
      "type": "structure",
      "members": {
        "constraint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Constraint name"
          }
        },
        "constraintViolationInfo": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Provides extra information for the specific violated constraint. See the constraint's documentation to determine if this field is populated and what the structure of the message should be."
          }
        },
        "checkedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Value that is being checked for the policy. This could be in encrypted form (if pii sensitive). This field will only be emitted in LIST_POLICY types"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Error message that policy is indicating."
          }
        },
        "policyType": {
          "target": "com.gcp.servicecontrol_v2#ViolationInfoPolicyTypeEnum",
          "traits": {
            "smithy.api#documentation": "Optional. Indicates the type of the policy."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides information about the Policy violation info for this request."
      }
    },
    "com.gcp.servicecontrol_v2#ViolationInfoPolicyTypeEnum": {
      "type": "enum",
      "members": {
        "POLICY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POLICY_TYPE_UNSPECIFIED"
          }
        },
        "BOOLEAN_CONSTRAINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOOLEAN_CONSTRAINT"
          }
        },
        "LIST_CONSTRAINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST_CONSTRAINT"
          }
        },
        "CUSTOM_CONSTRAINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_CONSTRAINT"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v2#V2LogEntry": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "com.gcp.servicecontrol_v2#V2LogEntrySeverityEnum",
          "traits": {
            "smithy.api#documentation": "The severity of the log entry. The default value is `LogSeverity.DEFAULT`."
          }
        },
        "structPayload": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The log entry payload, represented as a structure that is expressed as a JSON object."
          }
        },
        "httpRequest": {
          "target": "com.gcp.servicecontrol_v2#V2HttpRequest",
          "traits": {
            "smithy.api#documentation": "Optional. Information about the HTTP request associated with this log entry, if applicable."
          }
        },
        "textPayload": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The log entry payload, represented as a Unicode string (UTF-8)."
          }
        },
        "monitoredResourceLabels": {
          "target": "com.gcp.servicecontrol_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "A set of user-defined (key, value) data that provides additional information about the moniotored resource that the log entry belongs to."
          }
        },
        "protoPayload": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The log entry payload, represented as a protocol buffer that is expressed as a JSON object. The only accepted type currently is AuditLog."
          }
        },
        "operation": {
          "target": "com.gcp.servicecontrol_v2#V2LogEntryOperation",
          "traits": {
            "smithy.api#documentation": "Optional. Information about an operation associated with the log entry, if applicable."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The log to which this log entry belongs. Examples: `\"syslog\"`, `\"book_log\"`."
          }
        },
        "timestamp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the event described by the log entry occurred. If omitted, defaults to operation start time."
          }
        },
        "insertId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID for the log entry used for deduplication. If omitted, the implementation will generate one based on operation_id."
          }
        },
        "sourceLocation": {
          "target": "com.gcp.servicecontrol_v2#V2LogEntrySourceLocation",
          "traits": {
            "smithy.api#documentation": "Optional. Source code location information associated with the log entry, if any."
          }
        },
        "trace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource name of the trace associated with the log entry, if any. If this field contains a relative resource name, you can assume the name is relative to `//tracing.googleapis.com`. Example: `projects/my-projectid/traces/06796866738c859f2f19b7cfb3214824`"
          }
        },
        "labels": {
          "target": "com.gcp.servicecontrol_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "A set of user-defined (key, value) data that provides additional information about the log entry."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An individual log entry."
      }
    },
    "com.gcp.servicecontrol_v2#V2LogEntrySeverityEnum": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "DEBUG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "INFO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "NOTICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTICE"
          }
        },
        "WARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARNING"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRITICAL"
          }
        },
        "ALERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALERT"
          }
        },
        "EMERGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMERGENCY"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v2#OrgPolicyViolationInfo": {
      "type": "structure",
      "members": {
        "resourceTags": {
          "target": "com.gcp.servicecontrol_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. Tags referenced on the resource at the time of evaluation."
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional. Resource type that the orgpolicy is checked against. Example: compute.googleapis.com/Instance, store.googleapis.com/bucket"
          }
        },
        "violationInfo": {
          "target": "com.gcp.servicecontrol_v2#ViolationInfoList",
          "traits": {
            "smithy.api#documentation": "Optional. Policy violations"
          }
        },
        "payload": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional. Deprecated. Resource payload that is currently in scope and is subjected to orgpolicy conditions. This payload may be the subset of the actual Resource that may come in the request."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents OrgPolicy Violation information."
      }
    },
    "com.gcp.servicecontrol_v2#ViolationInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v2#ViolationInfo"
      }
    },
    "com.gcp.servicecontrol_v2#PolicyViolationInfo": {
      "type": "structure",
      "members": {
        "orgPolicyViolationInfo": {
          "target": "com.gcp.servicecontrol_v2#OrgPolicyViolationInfo",
          "traits": {
            "smithy.api#documentation": "Indicates the orgpolicy violations for this resource."
          }
        },
        "rabPolicyViolationInfo": {
          "target": "com.gcp.servicecontrol_v2#RabPolicyViolationInfo",
          "traits": {
            "smithy.api#documentation": "Indicates the regional access boundary policy violations for this resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information related to policy violations for this request."
      }
    },
    "com.gcp.servicecontrol_v2#AuthenticationInfo": {
      "type": "structure",
      "members": {
        "serviceAccountKeyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name of the service account key used to create or exchange credentials for authenticating the service account making the request. This is a scheme-less URI full resource name. For example: \"//iam.googleapis.com/projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}/keys/{key}\""
          }
        },
        "loggableShortLivedCredential": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Converted from \"identity_cloudgaia.AuditLoggableShortLivedCredential\" proto. This message will be used by security, detection and response team. For context please refer to go/cg:short-lived-credential-logging. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        },
        "oauthInfo": {
          "target": "com.gcp.servicecontrol_v2#OAuthInfo",
          "traits": {
            "smithy.api#documentation": "OAuth authentication information such as the OAuth client ID."
          }
        },
        "serviceAccountDelegationInfo": {
          "target": "com.gcp.servicecontrol_v2#ServiceAccountDelegationInfoList",
          "traits": {
            "smithy.api#documentation": "Identity delegation history of an authenticated service account that makes the request. It contains information on the real authorities that try to access GCP resources by delegating on a service account. When multiple authorities present, they are guaranteed to be sorted based on the original ordering of the identity delegation events."
          }
        },
        "principalEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email address of the authenticated user (or service account on behalf of third party principal) making the request. For third party identity callers, the `principal_subject` field is populated instead of this field. For privacy reasons, the principal email address is sometimes redacted. For more information, see [Caller identities in audit logs](https://cloud.google.com/logging/docs/audit#user-id)."
          }
        },
        "authoritySelector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The authority selector specified by the requestor, if any. It is not guaranteed that the principal was allowed to use this authority."
          }
        },
        "thirdPartyPrincipal": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "The third party identification (if any) of the authenticated user making the request. When the JSON object represented here has a proto equivalent, the proto name will be indicated in the `@type` property."
          }
        },
        "principalSubject": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "String representation of identity of requesting party. Populated for both first and third party identities."
          }
        },
        "serviceDelegationHistory": {
          "target": "com.gcp.servicecontrol_v2#ServiceDelegationHistory",
          "traits": {
            "smithy.api#documentation": "Records the history of delegated resource access across Google services."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication information for the operation."
      }
    },
    "com.gcp.servicecontrol_v2#ServiceAccountDelegationInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.servicecontrol_v2#ServiceAccountDelegationInfo"
      }
    },
    "com.gcp.servicecontrol_v2#Request": {
      "type": "structure",
      "members": {
        "origin": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The values from Origin header from the HTTP request, such as \"https://console.cloud.google.com\". Modern browsers can only have one origin. Special browsers and/or HTTP clients may require multiple origins."
          }
        },
        "size": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request size in bytes. If unknown, it must be -1."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique ID for a request, which can be propagated to downstream systems. The ID should have low probability of collision within a single day for a specific service."
          }
        },
        "host": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request `Host` header value."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP request method, such as `GET`, `POST`."
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A special parameter for request reason. It is used by security systems to associate auditing information with a request."
          }
        },
        "headers": {
          "target": "com.gcp.servicecontrol_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "The HTTP request headers. If multiple headers share the same key, they must be merged according to the HTTP spec. All header keys must be lowercased, because HTTP header keys are case-insensitive."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL query in the format of `name1=value1&name2=value2`, as it appears in the first line of the HTTP request. No decoding is performed."
          }
        },
        "auth": {
          "target": "com.gcp.servicecontrol_v2#Auth",
          "traits": {
            "smithy.api#documentation": "The request authentication. May be absent for unauthenticated requests. Derived from the HTTP request `Authorization` header or equivalent."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the `destination` service receives the last byte of the request."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The network protocol used with the request, such as \"http/1.1\", \"spdy/3\", \"h2\", \"h2c\", \"webrtc\", \"tcp\", \"udp\", \"quic\". See https://www.iana.org/assignments/tls-extensiontype-values/tls-extensiontype-values.xhtml#alpn-protocol-ids for details."
          }
        },
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL path, excluding the query parameters."
          }
        },
        "scheme": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP URL scheme, such as `http` and `https`."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This message defines attributes for an HTTP request. If the actual request is not an HTTP request, the runtime system should try to map the actual request to an equivalent HTTP request."
      }
    },
    "com.gcp.servicecontrol_v2#ResourceLocation": {
      "type": "structure",
      "members": {
        "originalLocations": {
          "target": "com.gcp.servicecontrol_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The locations of a resource prior to the execution of the operation. Requests that mutate the resource's location must populate both the 'original_locations' as well as the 'current_locations' fields. For example: \"europe-west1-a\" \"us-east1\" \"nam3\""
          }
        },
        "currentLocations": {
          "target": "com.gcp.servicecontrol_v2#StringList",
          "traits": {
            "smithy.api#documentation": "The locations of a resource after the execution of the operation. Requests to create or delete a location based resource must populate the 'current_locations' field and not the 'original_locations' field. For example: \"europe-west1-a\" \"us-east1\" \"nam3\""
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Location information about a resource."
      }
    },
    "com.gcp.servicecontrol_v2#CheckResponse": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.gcp.servicecontrol_v2#StringMap",
          "traits": {
            "smithy.api#documentation": "Returns a set of request contexts generated from the `CheckRequest`."
          }
        },
        "dynamicMetadata": {
          "target": "com.gcp.servicecontrol_v2#DocumentMap",
          "traits": {
            "smithy.api#documentation": "Optional response metadata that will be emitted as dynamic metadata to be consumed by the caller of ServiceController. For compatibility with the ext_authz interface."
          }
        },
        "status": {
          "target": "com.gcp.servicecontrol_v2#Status",
          "traits": {
            "smithy.api#documentation": "Operation is allowed when this field is not set. Any non-'OK' status indicates a denial; google.rpc.Status.details would contain additional details about the denial."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Response message for the Check method."
      }
    },
    "com.gcp.servicecontrol_v2#V2HttpRequest": {
      "type": "structure",
      "members": {
        "remoteIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address (IPv4 or IPv6) of the client that issued the HTTP request. Examples: `\"192.168.1.1\"`, `\"FE80::0202:B3FF:FE1E:8329\"`."
          }
        },
        "requestSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the HTTP request message in bytes, including the request headers and the request body."
          }
        },
        "referer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The referer URL of the request, as defined in [HTTP/1.1 Header Field Definitions](https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html)."
          }
        },
        "serverIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to."
          }
        },
        "cacheLookup": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not a cache lookup was attempted."
          }
        },
        "cacheFillBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The number of HTTP response bytes inserted into cache. Set only when a cache fill was attempted."
          }
        },
        "protocol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Protocol used for the request. Examples: \"HTTP/1.1\", \"HTTP/2\", \"websocket\""
          }
        },
        "requestUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheme (http, https), the host name, the path, and the query portion of the URL that was requested. Example: `\"http://example.com/some/info?color=red\"`."
          }
        },
        "requestMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request method. Examples: `\"GET\"`, `\"HEAD\"`, `\"PUT\"`, `\"POST\"`."
          }
        },
        "responseSize": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The size of the HTTP response message sent back to the client, in bytes, including the response headers and the response body."
          }
        },
        "cacheValidatedWithOriginServer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the response was validated with the origin server before being served from cache. This field is only meaningful if `cache_hit` is True."
          }
        },
        "status": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The response code indicating the status of the response. Examples: 200, 404."
          }
        },
        "cacheHit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not an entity was served from cache (with or without validation)."
          }
        },
        "userAgent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user agent sent by the client. Example: `\"Mozilla/4.0 (compatible; MSIE 6.0; Windows 98; Q312461; .NET CLR 1.0.3705)\"`."
          }
        },
        "latency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The request processing latency on the server, from the time the request was received until the response was sent."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A common proto for logging HTTP requests. Only contains semantics defined by the HTTP specification. Product-specific logging information MUST be defined in a separate message."
      }
    },
    "com.gcp.servicecontrol_v2#CheckServicesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service name as specified in its service configuration. For example, `\"pubsub.googleapis.com\"`. See [google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service) for the definition of a service name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicecontrol_v2#CheckRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v2#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.gcp.servicecontrol_v2#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.gcp.servicecontrol_v2#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.gcp.servicecontrol_v2#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.gcp.protocols#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.gcp.servicecontrol_v2#CheckServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicecontrol_v2#CheckServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicecontrol_v2#CheckResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicecontrol_v2#NotFound"
        },
        {
          "target": "com.gcp.servicecontrol_v2#Forbidden"
        },
        {
          "target": "com.gcp.servicecontrol_v2#BadRequest"
        },
        {
          "target": "com.gcp.servicecontrol_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/services/{serviceName}:check"
        },
        "smithy.api#documentation": "This method provides admission control for services that are integrated with [Service Infrastructure](https://cloud.google.com/service-infrastructure). It checks whether an operation should be allowed based on the service configuration and relevant policies. It must be called before the operation is executed. For more information, see [Admission Control](https://cloud.google.com/service-infrastructure/docs/admission-control). NOTE: The admission control has an expected policy propagation delay of 60s. The caller **must** not depend on the most recent policy changes. NOTE: The admission control has a hard limit of 1 referenced resources per call. If an operation refers to more than 1 resources, the caller must call the Check method multiple times. This method requires the `servicemanagement.services.check` permission on the specified service. For more information, see [Service Control API Access Control](https://cloud.google.com/service-infrastructure/docs/service-control/access-control)."
      }
    },
    "com.gcp.servicecontrol_v2#ReportServicesRequest": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The service name as specified in its service configuration. For example, `\"pubsub.googleapis.com\"`. See [google.api.Service](https://cloud.google.com/service-management/reference/rpc/google.api#google.api.Service) for the definition of a service name.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.gcp.servicecontrol_v2#ReportRequest",
          "traits": {
            "smithy.api#httpPayload": {},
            "smithy.api#documentation": "Request body"
          }
        }
      }
    },
    "com.gcp.servicecontrol_v2#ReportServices": {
      "type": "operation",
      "input": {
        "target": "com.gcp.servicecontrol_v2#ReportServicesRequest"
      },
      "output": {
        "target": "com.gcp.servicecontrol_v2#ReportResponse"
      },
      "errors": [
        {
          "target": "com.gcp.servicecontrol_v2#NotFound"
        },
        {
          "target": "com.gcp.servicecontrol_v2#Forbidden"
        },
        {
          "target": "com.gcp.servicecontrol_v2#BadRequest"
        },
        {
          "target": "com.gcp.servicecontrol_v2#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "v2/services/{serviceName}:report"
        },
        "smithy.api#documentation": "This method provides telemetry reporting for services that are integrated with [Service Infrastructure](https://cloud.google.com/service-infrastructure). It reports a list of operations that have occurred on a service. It must be called after the operations have been executed. For more information, see [Telemetry Reporting](https://cloud.google.com/service-infrastructure/docs/telemetry-reporting). NOTE: The telemetry reporting has a hard limit of 100 operations and 1MB per Report call. This method requires the `servicemanagement.services.report` permission on the specified service. For more information, see [Service Control API Access Control](https://cloud.google.com/service-infrastructure/docs/service-control/access-control)."
      }
    }
  }
}
