{
  "smithy": "2.0",
  "metadata": {
    "service": "walletobjects",
    "version": "v1",
    "title": "Google Wallet API",
    "baseUrl": "https://walletobjects.googleapis.com/"
  },
  "shapes": {
    "com.gcp.walletobjects_v1#SetPassUpdateNoticeRequest": {
      "type": "structure",
      "members": {
        "updateUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The issuer endpoint URI the pass holder needs to follow in order to receive an updated pass JWT. It can not contain any sensitive information. The endpoint needs to authenticate the user before giving the user the updated JWT. Example update URI https://someissuer.com/update/passId=someExternalPassId"
          }
        },
        "externalPassId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. A fully qualified identifier of the pass that the issuer wants to notify the pass holder(s) about. Formatted as ."
          }
        },
        "updatedPassJwtSignature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The JWT signature of the updated pass that the issuer wants to notify Google about. Only devices that report a different JWT signature than this JWT signature will receive the update notification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request to send a private pass update notice information to Google, so that devices can then fetch the notice prompting the user to update a pass."
      }
    },
    "com.gcp.walletobjects_v1#DetailsItemInfo": {
      "type": "structure",
      "members": {
        "item": {
          "target": "com.gcp.walletobjects_v1#TemplateItem",
          "traits": {
            "smithy.api#documentation": "The item to be displayed in the details list."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#ImageModuleData": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID associated with an image module. This field is here to enable ease of management of image modules."
          }
        },
        "mainImage": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "A 100% width image."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#OfferObject": {
      "type": "structure",
      "members": {
        "validTimeInterval": {
          "target": "com.gcp.walletobjects_v1#TimeInterval",
          "traits": {
            "smithy.api#documentation": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
          }
        },
        "disableExpirationNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
          }
        },
        "smartTapRedemptionValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
          }
        },
        "notifyPreference": {
          "target": "com.gcp.walletobjects_v1#OfferObjectNotifyPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#offerObject\"`."
          }
        },
        "hasUsers": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the object has users. This field is set by the platform."
          }
        },
        "passConstraints": {
          "target": "com.gcp.walletobjects_v1#PassConstraints",
          "traits": {
            "smithy.api#documentation": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
          }
        },
        "valueAddedModuleData": {
          "target": "com.gcp.walletobjects_v1#ValueAddedModuleDataList",
          "traits": {
            "smithy.api#documentation": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed."
          }
        },
        "locations": {
          "target": "com.gcp.walletobjects_v1#LatLongPointList",
          "traits": {
            "smithy.api#documentation": "Note: This field is currently not supported to trigger geo notifications."
          }
        },
        "textModulesData": {
          "target": "com.gcp.walletobjects_v1#TextModuleDataList",
          "traits": {
            "smithy.api#documentation": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
          }
        },
        "infoModuleData": {
          "target": "com.gcp.walletobjects_v1#InfoModuleData",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use textModulesData instead."
          }
        },
        "rotatingBarcode": {
          "target": "com.gcp.walletobjects_v1#RotatingBarcode",
          "traits": {
            "smithy.api#documentation": "The rotating barcode type and value."
          }
        },
        "appLinkData": {
          "target": "com.gcp.walletobjects_v1#AppLinkData",
          "traits": {
            "smithy.api#documentation": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'."
          }
        },
        "linkedObjectIds": {
          "target": "com.gcp.walletobjects_v1#StringList",
          "traits": {
            "smithy.api#documentation": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this offer object. If a user had saved this offer, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID.identifier where the former is issued by Google and the latter is chosen by you."
          }
        },
        "hasLinkedDevice": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information."
          }
        },
        "classId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you."
          }
        },
        "barcode": {
          "target": "com.gcp.walletobjects_v1#Barcode",
          "traits": {
            "smithy.api#documentation": "The barcode type and value."
          }
        },
        "merchantLocations": {
          "target": "com.gcp.walletobjects_v1#MerchantLocationList",
          "traits": {
            "smithy.api#documentation": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
          }
        },
        "groupingInfo": {
          "target": "com.gcp.walletobjects_v1#GroupingInfo",
          "traits": {
            "smithy.api#documentation": "Information that controls how passes are grouped together."
          }
        },
        "messages": {
          "target": "com.gcp.walletobjects_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
          }
        },
        "heroImage": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed."
          }
        },
        "classReference": {
          "target": "com.gcp.walletobjects_v1#OfferClass",
          "traits": {
            "smithy.api#documentation": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET."
          }
        },
        "saveRestrictions": {
          "target": "com.gcp.walletobjects_v1#SaveRestrictions",
          "traits": {
            "smithy.api#documentation": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated"
          }
        },
        "linksModuleData": {
          "target": "com.gcp.walletobjects_v1#LinksModuleData",
          "traits": {
            "smithy.api#documentation": "Links module data. If links module data is also defined on the class, both will be displayed."
          }
        },
        "imageModulesData": {
          "target": "com.gcp.walletobjects_v1#ImageModuleDataList",
          "traits": {
            "smithy.api#documentation": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
          }
        },
        "state": {
          "target": "com.gcp.walletobjects_v1#OfferObjectStateEnum",
          "traits": {
            "smithy.api#documentation": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#OfferObjectNotifyPreferenceEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED"
          }
        },
        "NOTIFY_ON_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFY_ON_UPDATE"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#ValueAddedModuleDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#ValueAddedModuleData"
      }
    },
    "com.gcp.walletobjects_v1#LatLongPointList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#LatLongPoint"
      }
    },
    "com.gcp.walletobjects_v1#TextModuleDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#TextModuleData"
      }
    },
    "com.gcp.walletobjects_v1#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.gcp.walletobjects_v1#MerchantLocationList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#MerchantLocation"
      }
    },
    "com.gcp.walletobjects_v1#MessageList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#Message"
      }
    },
    "com.gcp.walletobjects_v1#ImageModuleDataList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#ImageModuleData"
      }
    },
    "com.gcp.walletobjects_v1#OfferObjectStateEnum": {
      "type": "enum",
      "members": {
        "STATE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATE_UNSPECIFIED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ACTIVE_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "COMPLETED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "EXPIRED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "INACTIVE_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#TransitObjectUploadRotatingBarcodeValuesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Response for uploading rotating barcode values."
      }
    },
    "com.gcp.walletobjects_v1#DiffUploadResponse": {
      "type": "structure",
      "members": {
        "objectVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object version of the object at the server. Must be included in the end notification response. The version in the end notification response must correspond to the new version of the object that is now stored at the server, after the upload."
          }
        },
        "originalObject": {
          "target": "com.gcp.walletobjects_v1#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "The location of the original file for a diff upload request. Must be filled in if responding to an upload start notification."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backend response for a Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
      }
    },
    "com.gcp.walletobjects_v1#ActivationStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.gcp.walletobjects_v1#ActivationStatusStateEnum"
        }
      },
      "traits": {
        "smithy.api#documentation": "The activation status of the object. This field includes activation status if valuable supports activation."
      }
    },
    "com.gcp.walletobjects_v1#ActivationStatusStateEnum": {
      "type": "enum",
      "members": {
        "UNKNOWN_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_STATE"
          }
        },
        "NOT_ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ACTIVATED"
          }
        },
        "NOT_ACTIVATED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "not_activated"
          }
        },
        "ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATED"
          }
        },
        "ACTIVATED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activated"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#CardRowThreeItems": {
      "type": "structure",
      "members": {
        "middleItem": {
          "target": "com.gcp.walletobjects_v1#TemplateItem",
          "traits": {
            "smithy.api#documentation": "The item to be displayed in the middle of the row. This item will be centered between the start and end items."
          }
        },
        "startItem": {
          "target": "com.gcp.walletobjects_v1#TemplateItem",
          "traits": {
            "smithy.api#documentation": "The item to be displayed at the start of the row. This item will be aligned to the left."
          }
        },
        "endItem": {
          "target": "com.gcp.walletobjects_v1#TemplateItem",
          "traits": {
            "smithy.api#documentation": "The item to be displayed at the end of the row. This item will be aligned to the right."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#SmartTap": {
      "type": "structure",
      "members": {
        "infos": {
          "target": "com.gcp.walletobjects_v1#IssuerToUserInfoList",
          "traits": {
            "smithy.api#documentation": "Communication from merchant to user."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#smartTap\"`."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for a smart tap. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is the Smart Tap id. The Smart Tap id is a Base64 encoded string which represents the id which was generated by the Google Pay app."
          }
        },
        "merchantId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Smart Tap merchant ID of who engaged in the Smart Tap interaction."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#IssuerToUserInfoList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#IssuerToUserInfo"
      }
    },
    "com.gcp.walletobjects_v1#EventTicketObjectListResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.walletobjects_v1#EventTicketObjectList",
          "traits": {
            "smithy.api#documentation": "Resources corresponding to the list request."
          }
        },
        "pagination": {
          "target": "com.gcp.walletobjects_v1#Pagination",
          "traits": {
            "smithy.api#documentation": "Pagination of the response."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketObjectList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#EventTicketObject"
      }
    },
    "com.gcp.walletobjects_v1#DateTime": {
      "type": "structure",
      "members": {
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An ISO 8601 extended format date/time. Offset may or may not be required (refer to the parent field's documentation). Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the date/time is intended for a physical location in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. Providing an offset makes this an absolute instant in time around the world. The date/time will be adjusted based on the user's time zone. For example, a time of `2018-06-19T18:30:00-04:00` will be 18:30:00 for a user in New York and 15:30:00 for a user in Los Angeles. Omitting the offset makes this a local date/time, representing several instants in time around the world. The date/time will always be in the user's current time zone. For example, a time of `2018-06-19T18:30:00` will be 18:30:00 for a user in New York and also 18:30:00 for a user in Los Angeles. This is useful when the same local date/time should apply to many physical locations across several time zones."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#ModuleViewConstraints": {
      "type": "structure",
      "members": {
        "displayInterval": {
          "target": "com.gcp.walletobjects_v1#TimeInterval",
          "traits": {
            "smithy.api#documentation": "The period of time that the module will be displayed to users. Can define both a `startTime` and `endTime`. The module is displayed immediately after insertion unless a `startTime` is set. The module is displayed indefinitely if `endTime` is not set."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Constraints that all must be met for the module to be shown."
      }
    },
    "com.gcp.walletobjects_v1#RotatingBarcodeTotpDetailsTotpParameters": {
      "type": "structure",
      "members": {
        "valueLength": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The length of the TOTP value in decimal digits."
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The secret key used for the TOTP value generation, encoded as a Base16 string."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration for the key and value length. See https://www.rfc-editor.org/rfc/rfc4226#section-5.3"
      }
    },
    "com.gcp.walletobjects_v1#DiscoverableProgramMerchantSigninInfo": {
      "type": "structure",
      "members": {
        "signinWebsite": {
          "target": "com.gcp.walletobjects_v1#Uri",
          "traits": {
            "smithy.api#documentation": "The URL to direct the user to for the merchant's signin site."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the merchant hosted signin flow for a program."
      }
    },
    "com.gcp.walletobjects_v1#DiffUploadRequest": {
      "type": "structure",
      "members": {
        "objectInfo": {
          "target": "com.gcp.walletobjects_v1#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "The location of the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received."
          }
        },
        "checksumsInfo": {
          "target": "com.gcp.walletobjects_v1#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "The location of the checksums for the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received. For details on the format of the checksums, see http://go/scotty-diff-protocol."
          }
        },
        "objectVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The object version of the object that is the base version the incoming diff script will be applied to. This field will always be filled in."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
      }
    },
    "com.gcp.walletobjects_v1#UpcomingNotification": {
      "type": "structure",
      "members": {
        "enableNotification": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates if the object needs to have upcoming notification enabled."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Indicates that the issuer would like Google Wallet to send an upcoming card validity notification 1 day before card becomes valid/usable."
      }
    },
    "com.gcp.walletobjects_v1#AddMessageRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.gcp.walletobjects_v1#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "Resource used when the AddMessage endpoints are called."
      }
    },
    "com.gcp.walletobjects_v1#FlightClassListResponse": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.gcp.walletobjects_v1#Pagination",
          "traits": {
            "smithy.api#documentation": "Pagination of the response."
          }
        },
        "resources": {
          "target": "com.gcp.walletobjects_v1#FlightClassList",
          "traits": {
            "smithy.api#documentation": "Resources corresponding to the list request."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightClassList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#FlightClass"
      }
    },
    "com.gcp.walletobjects_v1#DiffDownloadResponse": {
      "type": "structure",
      "members": {
        "objectLocation": {
          "target": "com.gcp.walletobjects_v1#CompositeMedia",
          "traits": {
            "smithy.api#documentation": "The original object location."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backend response for a Diff download response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClass": {
      "type": "structure",
      "members": {
        "customSectionLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "A custom label to use for the section value (`eventTicketObject.seatInfo.section`) on the card detail view. This should only be used if the default \"Section\" label or one of the `sectionLabel` options is not sufficient. Both `sectionLabel` and `customSectionLabel` may not be set. If neither is set, the label will default to \"Section\", localized. If the section field is unset, this label will not be used."
          }
        },
        "locations": {
          "target": "com.gcp.walletobjects_v1#LatLongPointList",
          "traits": {
            "smithy.api#documentation": "Note: This field is currently not supported to trigger geo notifications."
          }
        },
        "hexBackgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated"
          }
        },
        "valueAddedModuleData": {
          "target": "com.gcp.walletobjects_v1#ValueAddedModuleDataList",
          "traits": {
            "smithy.api#documentation": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object."
          }
        },
        "viewUnlockRequirement": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassViewUnlockRequirementEnum",
          "traits": {
            "smithy.api#documentation": "View Unlock Requirement options for the event ticket."
          }
        },
        "infoModuleData": {
          "target": "com.gcp.walletobjects_v1#InfoModuleData",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use textModulesData instead."
          }
        },
        "reviewStatus": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassReviewStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`."
          }
        },
        "dateTime": {
          "target": "com.gcp.walletobjects_v1#EventDateTime",
          "traits": {
            "smithy.api#documentation": "The date & time information of the event."
          }
        },
        "rowLabel": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassRowLabelEnum",
          "traits": {
            "smithy.api#documentation": "The label to use for the row value (`eventTicketObject.seatInfo.row`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `rowLabel` and `customRowLabel` may not be set. If neither is set, the label will default to \"Row\", localized. If the row field is unset, this label will not be used."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale."
          }
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassMultipleDevicesAndHoldersAllowedStatusEnum",
          "traits": {
            "smithy.api#documentation": "Identifies whether multiple users and devices will save the same object referencing this class."
          }
        },
        "homepageUri": {
          "target": "com.gcp.walletobjects_v1#Uri",
          "traits": {
            "smithy.api#documentation": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
          }
        },
        "issuerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
          }
        },
        "customSeatLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "A custom label to use for the seat value (`eventTicketObject.seatInfo.seat`) on the card detail view. This should only be used if the default \"Seat\" label or one of the `seatLabel` options is not sufficient. Both `seatLabel` and `customSeatLabel` may not be set. If neither is set, the label will default to \"Seat\", localized. If the seat field is unset, this label will not be used."
          }
        },
        "notifyPreference": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassNotifyPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered."
          }
        },
        "textModulesData": {
          "target": "com.gcp.walletobjects_v1#TextModuleDataList",
          "traits": {
            "smithy.api#documentation": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
          }
        },
        "gateLabel": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassGateLabelEnum",
          "traits": {
            "smithy.api#documentation": "The label to use for the gate value (`eventTicketObject.seatInfo.gate`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `gateLabel` and `customGateLabel` may not be set. If neither is set, the label will default to \"Gate\", localized. If the gate field is unset, this label will not be used."
          }
        },
        "localizedIssuerName": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
          }
        },
        "sectionLabel": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassSectionLabelEnum",
          "traits": {
            "smithy.api#documentation": "The label to use for the section value (`eventTicketObject.seatInfo.section`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `sectionLabel` and `customSectionLabel` may not be set. If neither is set, the label will default to \"Section\", localized. If the section field is unset, this label will not be used."
          }
        },
        "logo": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "The logo image of the ticket. This image is displayed in the card detail view of the app."
          }
        },
        "messages": {
          "target": "com.gcp.walletobjects_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
          }
        },
        "imageModulesData": {
          "target": "com.gcp.walletobjects_v1#ImageModuleDataList",
          "traits": {
            "smithy.api#documentation": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
          }
        },
        "heroImage": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
          }
        },
        "securityAnimation": {
          "target": "com.gcp.walletobjects_v1#SecurityAnimation",
          "traits": {
            "smithy.api#documentation": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
          }
        },
        "finePrint": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "The fine print, terms, or conditions of the ticket."
          }
        },
        "merchantLocations": {
          "target": "com.gcp.walletobjects_v1#MerchantLocationList",
          "traits": {
            "smithy.api#documentation": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
          }
        },
        "customGateLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "A custom label to use for the gate value (`eventTicketObject.seatInfo.gate`) on the card detail view. This should only be used if the default \"Gate\" label or one of the `gateLabel` options is not sufficient. Both `gateLabel` and `customGateLabel` may not be set. If neither is set, the label will default to \"Gate\", localized. If the gate field is unset, this label will not be used."
          }
        },
        "eventName": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Required. The name of the event, such as \"LA Dodgers at SF Giants\"."
          }
        },
        "wordMark": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Deprecated."
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the event. This ID should be unique for every event in an account. It is used to group tickets together if the user has saved multiple tickets for the same event. It can be at most 64 characters. If provided, the grouping will be stable. Be wary of unintentional collision to avoid grouping tickets that should not be grouped. If you use only one class per event, you can simply set this to the `classId` (with or without the issuer ID portion). If not provided, the platform will attempt to use other data to group tickets (potentially unstable)."
          }
        },
        "enableSmartTap": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
          }
        },
        "linksModuleData": {
          "target": "com.gcp.walletobjects_v1#LinksModuleData",
          "traits": {
            "smithy.api#documentation": "Links module data. If links module data is also defined on the object, both will be displayed."
          }
        },
        "review": {
          "target": "com.gcp.walletobjects_v1#Review",
          "traits": {
            "smithy.api#documentation": "The review comments set by the platform when a class is marked `approved` or `rejected`."
          }
        },
        "customRowLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "A custom label to use for the row value (`eventTicketObject.seatInfo.row`) on the card detail view. This should only be used if the default \"Row\" label or one of the `rowLabel` options is not sufficient. Both `rowLabel` and `customRowLabel` may not be set. If neither is set, the label will default to \"Row\", localized. If the row field is unset, this label will not be used."
          }
        },
        "allowMultipleUsersPerObject": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead."
          }
        },
        "appLinkData": {
          "target": "com.gcp.walletobjects_v1#AppLinkData",
          "traits": {
            "smithy.api#documentation": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead."
          }
        },
        "seatLabel": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassSeatLabelEnum",
          "traits": {
            "smithy.api#documentation": "The label to use for the seat value (`eventTicketObject.seatInfo.seat`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `seatLabel` and `customSeatLabel` may not be set. If neither is set, the label will default to \"Seat\", localized. If the seat field is unset, this label will not be used."
          }
        },
        "venue": {
          "target": "com.gcp.walletobjects_v1#EventVenue",
          "traits": {
            "smithy.api#documentation": "Event venue details."
          }
        },
        "callbackOptions": {
          "target": "com.gcp.walletobjects_v1#CallbackOptions",
          "traits": {
            "smithy.api#documentation": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
          }
        },
        "confirmationCodeLabel": {
          "target": "com.gcp.walletobjects_v1#EventTicketClassConfirmationCodeLabelEnum",
          "traits": {
            "smithy.api#documentation": "The label to use for the confirmation code value (`eventTicketObject.reservationInfo.confirmationCode`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `confirmationCodeLabel` and `customConfirmationCodeLabel` may not be set. If neither is set, the label will default to \"Confirmation Code\", localized. If the confirmation code field is unset, this label will not be used."
          }
        },
        "classTemplateInfo": {
          "target": "com.gcp.walletobjects_v1#ClassTemplateInfo",
          "traits": {
            "smithy.api#documentation": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
          }
        },
        "wideLogo": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "The wide logo of the ticket. When provided, this will be used in place of the logo in the top left of the card view."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventTicketClass\"`."
          }
        },
        "redemptionIssuers": {
          "target": "com.gcp.walletobjects_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
          }
        },
        "customConfirmationCodeLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "A custom label to use for the confirmation code value (`eventTicketObject.reservationInfo.confirmationCode`) on the card detail view. This should only be used if the default \"Confirmation Code\" label or one of the `confirmationCodeLabel` options is not sufficient. Both `confirmationCodeLabel` and `customConfirmationCodeLabel` may not be set. If neither is set, the label will default to \"Confirmation Code\", localized. If the confirmation code field is unset, this label will not be used."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassViewUnlockRequirementEnum": {
      "type": "enum",
      "members": {
        "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED"
          }
        },
        "UNLOCK_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCK_NOT_REQUIRED"
          }
        },
        "UNLOCK_REQUIRED_TO_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCK_REQUIRED_TO_VIEW"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassReviewStatusEnum": {
      "type": "enum",
      "members": {
        "REVIEW_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_UNSPECIFIED"
          }
        },
        "UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_REVIEW"
          }
        },
        "UNDERREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "underReview"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "APPROVED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "REJECTED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "DRAFT_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassRowLabelEnum": {
      "type": "enum",
      "members": {
        "ROW_LABEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROW_LABEL_UNSPECIFIED"
          }
        },
        "ROW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROW"
          }
        },
        "ROW_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "row"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassMultipleDevicesAndHoldersAllowedStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "MULTIPLE_HOLDERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_HOLDERS"
          }
        },
        "ONE_USER_ALL_DEVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_USER_ALL_DEVICES"
          }
        },
        "ONE_USER_ONE_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_USER_ONE_DEVICE"
          }
        },
        "MULTIPLEHOLDERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multipleHolders"
          }
        },
        "ONEUSERALLDEVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneUserAllDevices"
          }
        },
        "ONEUSERONEDEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneUserOneDevice"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassNotifyPreferenceEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED"
          }
        },
        "NOTIFY_ON_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFY_ON_UPDATE"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassGateLabelEnum": {
      "type": "enum",
      "members": {
        "GATE_LABEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GATE_LABEL_UNSPECIFIED"
          }
        },
        "GATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GATE"
          }
        },
        "GATE_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gate"
          }
        },
        "DOOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOOR"
          }
        },
        "DOOR_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "door"
          }
        },
        "ENTRANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTRANCE"
          }
        },
        "ENTRANCE_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entrance"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassSectionLabelEnum": {
      "type": "enum",
      "members": {
        "SECTION_LABEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION_LABEL_UNSPECIFIED"
          }
        },
        "SECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECTION"
          }
        },
        "SECTION_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "section"
          }
        },
        "THEATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THEATER"
          }
        },
        "THEATER_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "theater"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassSeatLabelEnum": {
      "type": "enum",
      "members": {
        "SEAT_LABEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEAT_LABEL_UNSPECIFIED"
          }
        },
        "SEAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEAT"
          }
        },
        "SEAT_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "seat"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventTicketClassConfirmationCodeLabelEnum": {
      "type": "enum",
      "members": {
        "CONFIRMATION_CODE_LABEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMATION_CODE_LABEL_UNSPECIFIED"
          }
        },
        "CONFIRMATION_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMATION_CODE"
          }
        },
        "CONFIRMATIONCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "confirmationCode"
          }
        },
        "CONFIRMATION_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRMATION_NUMBER"
          }
        },
        "CONFIRMATIONNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "confirmationNumber"
          }
        },
        "ORDER_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORDER_NUMBER"
          }
        },
        "ORDERNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "orderNumber"
          }
        },
        "RESERVATION_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVATION_NUMBER"
          }
        },
        "RESERVATIONNUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reservationNumber"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#Message": {
      "type": "structure",
      "members": {
        "displayInterval": {
          "target": "com.gcp.walletobjects_v1#TimeInterval",
          "traits": {
            "smithy.api#documentation": "The period of time that the message will be displayed to users. You can define both a `startTime` and `endTime` for each message. A message is displayed immediately after a Wallet Object is inserted unless a `startTime` is set. The message will appear in a list of messages indefinitely if `endTime` is not provided."
          }
        },
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message body."
          }
        },
        "header": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The message header."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID associated with a message. This field is here to enable ease of management of messages. Notice ID values could possibly duplicate across multiple messages in the same class/instance, and care must be taken to select a reasonable ID for each message."
          }
        },
        "localizedBody": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the message body."
          }
        },
        "messageType": {
          "target": "com.gcp.walletobjects_v1#MessageMessageTypeEnum",
          "traits": {
            "smithy.api#documentation": "The message type."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#walletObjectMessage\"`."
          }
        },
        "localizedHeader": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the message header."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A message that will be displayed with a Valuable"
      }
    },
    "com.gcp.walletobjects_v1#MessageMessageTypeEnum": {
      "type": "enum",
      "members": {
        "MESSAGE_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MESSAGE_TYPE_UNSPECIFIED"
          }
        },
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT"
          }
        },
        "TEXT_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "EXPIRATION_NOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRATION_NOTIFICATION"
          }
        },
        "EXPIRATIONNOTIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expirationNotification"
          }
        },
        "TEXT_AND_NOTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_AND_NOTIFY"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightClass": {
      "type": "structure",
      "members": {
        "classTemplateInfo": {
          "target": "com.gcp.walletobjects_v1#ClassTemplateInfo",
          "traits": {
            "smithy.api#documentation": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
          }
        },
        "localBoardingDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The boarding time as it would be printed on the boarding pass. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on departure airport."
          }
        },
        "valueAddedModuleData": {
          "target": "com.gcp.walletobjects_v1#ValueAddedModuleDataList",
          "traits": {
            "smithy.api#documentation": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object."
          }
        },
        "redemptionIssuers": {
          "target": "com.gcp.walletobjects_v1#StringList",
          "traits": {
            "smithy.api#documentation": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
          }
        },
        "notifyPreference": {
          "target": "com.gcp.walletobjects_v1#FlightClassNotifyPreferenceEnum",
          "traits": {
            "smithy.api#documentation": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered."
          }
        },
        "messages": {
          "target": "com.gcp.walletobjects_v1#MessageList",
          "traits": {
            "smithy.api#documentation": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Deprecated"
          }
        },
        "flightHeader": {
          "target": "com.gcp.walletobjects_v1#FlightHeader",
          "traits": {
            "smithy.api#documentation": "Required. Information about the flight carrier and number."
          }
        },
        "origin": {
          "target": "com.gcp.walletobjects_v1#AirportInfo",
          "traits": {
            "smithy.api#documentation": "Required. Origin airport."
          }
        },
        "securityAnimation": {
          "target": "com.gcp.walletobjects_v1#SecurityAnimation",
          "traits": {
            "smithy.api#documentation": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
          }
        },
        "review": {
          "target": "com.gcp.walletobjects_v1#Review",
          "traits": {
            "smithy.api#documentation": "The review comments set by the platform when a class is marked `approved` or `rejected`."
          }
        },
        "merchantLocations": {
          "target": "com.gcp.walletobjects_v1#MerchantLocationList",
          "traits": {
            "smithy.api#documentation": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected by the validator. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
          }
        },
        "heroImage": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
          }
        },
        "textModulesData": {
          "target": "com.gcp.walletobjects_v1#TextModuleDataList",
          "traits": {
            "smithy.api#documentation": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
          }
        },
        "infoModuleData": {
          "target": "com.gcp.walletobjects_v1#InfoModuleData",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use textModulesData instead."
          }
        },
        "flightStatus": {
          "target": "com.gcp.walletobjects_v1#FlightClassFlightStatusEnum",
          "traits": {
            "smithy.api#documentation": "Status of this flight. If unset, Google will compute status based on data from other sources, such as FlightStats, etc. Note: Google-computed status will not be returned in API responses."
          }
        },
        "issuerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
          }
        },
        "appLinkData": {
          "target": "com.gcp.walletobjects_v1#AppLinkData",
          "traits": {
            "smithy.api#documentation": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead."
          }
        },
        "reviewStatus": {
          "target": "com.gcp.walletobjects_v1#FlightClassReviewStatusEnum",
          "traits": {
            "smithy.api#documentation": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`."
          }
        },
        "viewUnlockRequirement": {
          "target": "com.gcp.walletobjects_v1#FlightClassViewUnlockRequirementEnum",
          "traits": {
            "smithy.api#documentation": "View Unlock Requirement options for the boarding pass."
          }
        },
        "localizedIssuerName": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
          }
        },
        "countryCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale."
          }
        },
        "wordMark": {
          "target": "com.gcp.walletobjects_v1#Image",
          "traits": {
            "smithy.api#documentation": "Deprecated."
          }
        },
        "localEstimatedOrActualArrivalDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The estimated time the aircraft plans to reach the destination gate (not the runway) or the actual time it reached the gate. This field should be set if at least one of the below is true: - It differs from the scheduled time. Google will use it to calculate the delay. - The aircraft already arrived at the gate. Google will use it to inform the user that the flight has arrived at the gate. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on arrival airport."
          }
        },
        "homepageUri": {
          "target": "com.gcp.walletobjects_v1#Uri",
          "traits": {
            "smithy.api#documentation": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
          }
        },
        "localScheduledArrivalDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The scheduled time the aircraft plans to reach the destination gate (not the runway). Note: This field should not change too close to the flight time. For updates to departure times (delays, etc), please set `localEstimatedOrActualArrivalDateTime`. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on arrival airport."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightClass\"`."
          }
        },
        "localEstimatedOrActualDepartureDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The estimated time the aircraft plans to pull from the gate or the actual time the aircraft already pulled from the gate. Note: This is not the runway time. This field should be set if at least one of the below is true: - It differs from the scheduled time. Google will use it to calculate the delay. - The aircraft already pulled from the gate. Google will use it to inform the user when the flight actually departed. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on departure airport."
          }
        },
        "boardingAndSeatingPolicy": {
          "target": "com.gcp.walletobjects_v1#BoardingAndSeatingPolicy",
          "traits": {
            "smithy.api#documentation": "Policies for boarding and seating. These will inform which labels will be shown to users."
          }
        },
        "enableSmartTap": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
          }
        },
        "destination": {
          "target": "com.gcp.walletobjects_v1#AirportInfo",
          "traits": {
            "smithy.api#documentation": "Required. Destination airport."
          }
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "target": "com.gcp.walletobjects_v1#FlightClassMultipleDevicesAndHoldersAllowedStatusEnum",
          "traits": {
            "smithy.api#documentation": "Identifies whether multiple users and devices will save the same object referencing this class."
          }
        },
        "linksModuleData": {
          "target": "com.gcp.walletobjects_v1#LinksModuleData",
          "traits": {
            "smithy.api#documentation": "Links module data. If links module data is also defined on the object, both will be displayed."
          }
        },
        "hexBackgroundColor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
          }
        },
        "locations": {
          "target": "com.gcp.walletobjects_v1#LatLongPointList",
          "traits": {
            "smithy.api#documentation": "Note: This field is currently not supported to trigger geo notifications."
          }
        },
        "languageOverride": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If this field is present, boarding passes served to a user's device will always be in this language. Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\"."
          }
        },
        "localGateClosingDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The gate closing time as it would be printed on the boarding pass. Do not set this field if you do not want to print it in the boarding pass. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on departure airport."
          }
        },
        "allowMultipleUsersPerObject": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead."
          }
        },
        "callbackOptions": {
          "target": "com.gcp.walletobjects_v1#CallbackOptions",
          "traits": {
            "smithy.api#documentation": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
          }
        },
        "imageModulesData": {
          "target": "com.gcp.walletobjects_v1#ImageModuleDataList",
          "traits": {
            "smithy.api#documentation": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
          }
        },
        "localScheduledDepartureDateTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The scheduled date and time when the aircraft is expected to depart the gate (not the runway) Note: This field should not change too close to the departure time. For updates to departure times (delays, etc), please set `localEstimatedOrActualDepartureDateTime`. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on departure airport."
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightClassNotifyPreferenceEnum": {
      "type": "enum",
      "members": {
        "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED"
          }
        },
        "NOTIFY_ON_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOTIFY_ON_UPDATE"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightClassFlightStatusEnum": {
      "type": "enum",
      "members": {
        "FLIGHT_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLIGHT_STATUS_UNSPECIFIED"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "SCHEDULED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ACTIVE_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "LANDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANDED"
          }
        },
        "LANDED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "landed"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "CANCELLED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cancelled"
          }
        },
        "REDIRECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REDIRECTED"
          }
        },
        "REDIRECTED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redirected"
          }
        },
        "DIVERTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIVERTED"
          }
        },
        "DIVERTED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diverted"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightClassReviewStatusEnum": {
      "type": "enum",
      "members": {
        "REVIEW_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVIEW_STATUS_UNSPECIFIED"
          }
        },
        "UNDER_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDER_REVIEW"
          }
        },
        "UNDERREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "underReview"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "APPROVED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "REJECTED_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "DRAFT_": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightClassViewUnlockRequirementEnum": {
      "type": "enum",
      "members": {
        "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED"
          }
        },
        "UNLOCK_NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCK_NOT_REQUIRED"
          }
        },
        "UNLOCK_REQUIRED_TO_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLOCK_REQUIRED_TO_VIEW"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#FlightClassMultipleDevicesAndHoldersAllowedStatusEnum": {
      "type": "enum",
      "members": {
        "STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STATUS_UNSPECIFIED"
          }
        },
        "MULTIPLE_HOLDERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLE_HOLDERS"
          }
        },
        "ONE_USER_ALL_DEVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_USER_ALL_DEVICES"
          }
        },
        "ONE_USER_ONE_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ONE_USER_ONE_DEVICE"
          }
        },
        "MULTIPLEHOLDERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multipleHolders"
          }
        },
        "ONEUSERALLDEVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneUserAllDevices"
          }
        },
        "ONEUSERONEDEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oneUserOneDevice"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#LoyaltyClassAddMessageResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.gcp.walletobjects_v1#LoyaltyClass",
          "traits": {
            "smithy.api#documentation": "The updated LoyaltyClass resource."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#AppLinkDataAppLinkInfoAppTarget": {
      "type": "structure",
      "members": {
        "packageName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Package name for AppTarget. For example: com.google.android.gm"
          }
        },
        "targetUri": {
          "target": "com.gcp.walletobjects_v1#Uri",
          "traits": {
            "smithy.api#documentation": "URI for AppTarget. The description on the URI must be set. Prefer setting package field instead, if this target is defined for your application."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#JwtInsertResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.gcp.walletobjects_v1#Resources",
          "traits": {
            "smithy.api#documentation": "Data that corresponds to the ids of the provided classes and objects in the JWT. resources will only include the non-empty arrays (i.e. if the JWT only includes eventTicketObjects, then that is the only field that will be present in resources)."
          }
        },
        "saveUri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URI that, when opened, will allow the end user to save the object(s) identified in the JWT to their Google account."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#BoardingAndSeatingPolicy": {
      "type": "structure",
      "members": {
        "seatClassPolicy": {
          "target": "com.gcp.walletobjects_v1#BoardingAndSeatingPolicySeatClassPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Seating policy which dictates how we display the seat class. If unset, Google will default to `cabinBased`."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingPolicy\"`."
          }
        },
        "boardingPolicy": {
          "target": "com.gcp.walletobjects_v1#BoardingAndSeatingPolicyBoardingPolicyEnum",
          "traits": {
            "smithy.api#documentation": "Indicates the policy the airline uses for boarding. If unset, Google will default to `zoneBased`."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#BoardingAndSeatingPolicySeatClassPolicyEnum": {
      "type": "enum",
      "members": {
        "SEAT_CLASS_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEAT_CLASS_POLICY_UNSPECIFIED"
          }
        },
        "CABIN_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CABIN_BASED"
          }
        },
        "CABINBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cabinBased"
          }
        },
        "CLASS_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLASS_BASED"
          }
        },
        "CLASSBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "classBased"
          }
        },
        "TIER_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIER_BASED"
          }
        },
        "TIERBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tierBased"
          }
        },
        "SEAT_CLASS_POLICY_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEAT_CLASS_POLICY_OTHER"
          }
        },
        "SEATCLASSPOLICYOTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "seatClassPolicyOther"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#BoardingAndSeatingPolicyBoardingPolicyEnum": {
      "type": "enum",
      "members": {
        "BOARDING_POLICY_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOARDING_POLICY_UNSPECIFIED"
          }
        },
        "ZONE_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONE_BASED"
          }
        },
        "ZONEBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zoneBased"
          }
        },
        "GROUP_BASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GROUP_BASED"
          }
        },
        "GROUPBASED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "groupBased"
          }
        },
        "BOARDING_POLICY_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOARDING_POLICY_OTHER"
          }
        },
        "BOARDINGPOLICYOTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boardingPolicyOther"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#DownloadParameters": {
      "type": "structure",
      "members": {
        "allowGzipCompression": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client."
          }
        },
        "ignoreRange": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Parameters specific to media downloads."
      }
    },
    "com.gcp.walletobjects_v1#EventDateTime": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventDateTime\"`."
          }
        },
        "doorsOpenLabel": {
          "target": "com.gcp.walletobjects_v1#EventDateTimeDoorsOpenLabelEnum",
          "traits": {
            "smithy.api#documentation": "The label to use for the doors open value (`doorsOpen`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `doorsOpenLabel` and `customDoorsOpenLabel` may not be set. If neither is set, the label will default to \"Doors Open\", localized. If the doors open field is unset, this label will not be used."
          }
        },
        "doorsOpen": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date/time when the doors open at the venue. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
          }
        },
        "start": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date/time when the event starts. If the event spans multiple days, it should be the start date/time on the first day. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
          }
        },
        "end": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date/time when the event ends. If the event spans multiple days, it should be the end date/time on the last day. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
          }
        },
        "customDoorsOpenLabel": {
          "target": "com.gcp.walletobjects_v1#LocalizedString",
          "traits": {
            "smithy.api#documentation": "A custom label to use for the doors open value (`doorsOpen`) on the card detail view. This should only be used if the default \"Doors Open\" label or one of the `doorsOpenLabel` options is not sufficient. Both `doorsOpenLabel` and `customDoorsOpenLabel` may not be set. If neither is set, the label will default to \"Doors Open\", localized. If the doors open field is unset, this label will not be used."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#EventDateTimeDoorsOpenLabelEnum": {
      "type": "enum",
      "members": {
        "DOORS_OPEN_LABEL_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOORS_OPEN_LABEL_UNSPECIFIED"
          }
        },
        "DOORS_OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOORS_OPEN"
          }
        },
        "DOORSOPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doorsOpen"
          }
        },
        "GATES_OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GATES_OPEN"
          }
        },
        "GATESOPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gatesOpen"
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#DiffVersionResponse": {
      "type": "structure",
      "members": {
        "objectVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The version of the object stored at the server."
          }
        },
        "objectSizeBytes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The total size of the server object."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
      }
    },
    "com.gcp.walletobjects_v1#TranslatedString": {
      "type": "structure",
      "members": {
        "language": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\"."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The UTF-8 encoded translated string."
          }
        },
        "kind": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#translatedString\"`."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#OfferClassListResponse": {
      "type": "structure",
      "members": {
        "pagination": {
          "target": "com.gcp.walletobjects_v1#Pagination",
          "traits": {
            "smithy.api#documentation": "Pagination of the response."
          }
        },
        "resources": {
          "target": "com.gcp.walletobjects_v1#OfferClassList",
          "traits": {
            "smithy.api#documentation": "Resources corresponding to the list request."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#OfferClassList": {
      "type": "list",
      "member": {
        "target": "com.gcp.walletobjects_v1#OfferClass"
      }
    },
    "com.gcp.walletobjects_v1#OfferObjectAddMessageResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.gcp.walletobjects_v1#OfferObject",
          "traits": {
            "smithy.api#documentation": "The updated OfferObject resource."
          }
        }
      }
    },
    "com.gcp.walletobjects_v1#RotatingBarcodeValues": {
      "type": "structure",
      "members": {
        "periodMillis": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Required. The amount of time each barcode is valid for."
          }
        },
        "startDateTime": {
          "target": "smithy.api#String",
          "traits": {
[...]
