{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.accounts#ListAccountsRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "volume"
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#ListAccountsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#ListAccountsRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "suspended"
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#ListAccountsRequest": {
      "type": "structure",
      "members": {
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "The number of accounts to return (default 10, max 50)."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor; returns accounts after this position."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "The number of accounts to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor; returns accounts before this position."
          }
        },
        "order": {
          "target": "com.whop.accounts#ListAccountsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The field to sort accounts by. `volume` requires `stats:read` on the parent account."
          }
        },
        "direction": {
          "target": "com.whop.accounts#ListAccountsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction."
          }
        },
        "status": {
          "target": "com.whop.accounts#ListAccountsRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Return only accounts with this status: `active` (includes accounts that have not entered payments review) or `suspended`."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#documentation": "Free-text filter on account title or ID. `%` and `_` match literally."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after",
            "smithy.api#documentation": "Return only accounts created after this ISO 8601 timestamp."
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before",
            "smithy.api#documentation": "Return only accounts created before this ISO 8601 timestamp."
          }
        },
        "volume_min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "volume_min",
            "smithy.api#documentation": "Return only accounts whose lifetime USD volume is at least this value. Requires `stats:read` on the parent account."
          }
        },
        "volume_max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#httpQuery": "volume_max",
            "smithy.api#documentation": "Return only accounts whose lifetime USD volume is at most this value. Requires `stats:read` on the parent account."
          }
        },
        "parent_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "parent_account_id",
            "smithy.api#documentation": "For platforms: the parent account ID whose direct connected accounts to return. Requires `payout:account:read` on the parent account."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.accounts#Account": {
      "type": "structure",
      "members": {
        "balances": {
          "target": "com.whop.accounts#AccountBalancesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "banner_image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account banner image URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_address": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Account business address used to calculate tax, with `line1`, `line2`, `city`, `state`, `postal_code`, and `country`. `null` when no address is set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account's legal business name used with its tax address.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "business_type": {
          "target": "com.whop.accounts#AccountBusinessType",
          "traits": {
            "smithy.api#documentation": "High-level business category for the account. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "can_transfer_pending_balance_to_children": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether pending funds may be transferred from this platform account to its connected accounts.",
            "smithy.api#required": {}
          }
        },
        "capabilities": {
          "target": "com.whop.accounts#AccountCapabilities",
          "traits": {
            "smithy.api#documentation": "Payment rails enabled for this account, each `active`, `inactive`, or `pending` (onboarding or review in progress). Computed only on `retrieve` and `me` for callers with `company:balance:read` scope; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "cards": {
          "target": "com.whop.accounts#AccountCards",
          "traits": {
            "smithy.api#documentation": "Whop Cards application details for the account. Computed only on `retrieve` and `me` for callers with `company:balance:read` scope; `null` otherwise, or when the account has no card application.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "collect_vat_id": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether checkout shows a VAT/tax ID field for buyers to optionally enter. Does not require a VAT ID to purchase.",
            "smithy.api#required": {}
          }
        },
        "company_formation": {
          "target": "com.whop.accounts#AccountCompanyFormation",
          "traits": {
            "smithy.api#documentation": "Company formation state for the account, managed through [Form Company](/api-reference/beta/accounts/form-company). A `draft` `status` until the formation checkout is paid, then filing progress with downloadable documents and signatures awaiting action. Empty when the formation state is temporarily unavailable.",
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Country where the account is located.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the account was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account promotional description.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account owner email address.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "eula": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's end-user license agreement document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "home_preferences": {
          "target": "com.whop.accounts#AccountHomePreferencesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID, prefixed `biz_`.",
            "smithy.api#required": {}
          }
        },
        "industry_group": {
          "target": "com.whop.accounts#AccountIndustryGroup",
          "traits": {
            "smithy.api#documentation": "Account industry group. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "industry_type": {
          "target": "com.whop.accounts#AccountIndustryType",
          "traits": {
            "smithy.api#documentation": "Specific industry vertical for the account. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "invoice_prefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefix used for account invoices.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "logo_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account logo image URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Arbitrary key/value metadata supplied at account creation.",
            "smithy.api#required": {}
          }
        },
        "onboarding_type": {
          "target": "com.whop.accounts#AccountOnboardingType",
          "traits": {
            "smithy.api#documentation": "Type of onboarding the account has completed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "opengraph_image_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account Open Graph image URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "opengraph_image_variant": {
          "target": "com.whop.accounts#AccountOpengraphImageVariant",
          "traits": {
            "smithy.api#documentation": "Account Open Graph image variant.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "other_business_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Business type details when business_type is `other`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "other_industry_description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Industry details when industry_type is `other`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "owner": {
          "target": "com.whop.accounts#UserSummary",
          "traits": {
            "smithy.api#documentation": "The single user who owns the account, whose email is the `email` above. Distinct from the `owner` role on team members, which any number of them can hold.",
            "smithy.api#required": {}
          }
        },
        "parent_account": {
          "target": "com.whop.accounts#AccountParent",
          "traits": {
            "smithy.api#documentation": "Parent account for connected accounts, or `null` for standalone accounts.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_controls": {
          "target": "com.whop.accounts#AccountPaymentControls",
          "traits": {
            "smithy.api#documentation": "Payment health controls currently applied to the account. Computed only on `retrieve` and `me` for callers with `company:balance:read` scope; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "privacy_policy": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's privacy policy document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "product_tax_code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Tax classification code applied by default to the account's products, with `id`, `name`, and `product_type`. `null` when no default is set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "recommended_actions": {
          "target": "com.whop.accounts#AccountRecommendedActionsList",
          "traits": {
            "smithy.api#documentation": "DEPRECATED: Use the `GET /recommended_actions?account_id={account_id}` endpoint instead.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "require_2fa": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether authorized users must enable two-factor authentication.",
            "smithy.api#required": {}
          }
        },
        "required_actions": {
          "target": "com.whop.accounts#AccountRequiredActionsList",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "return_policy": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's return policy document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "route": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account public route identifier.",
            "smithy.api#required": {}
          }
        },
        "send_customer_emails": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Whop sends transactional emails to customers on behalf of this account.",
            "smithy.api#required": {}
          }
        },
        "show_joined_whops": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account appears in joined whops on other accounts.",
            "smithy.api#required": {}
          }
        },
        "show_reviews_dtc": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether reviews are displayed on direct-to-consumer product pages.",
            "smithy.api#required": {}
          }
        },
        "show_user_directory": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account shows users in the user directory.",
            "smithy.api#required": {}
          }
        },
        "social_links": {
          "target": "com.whop.accounts#AccountSocialLinksList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stablecoin_rails": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account settles on stablecoin rails — its balance is held on-chain as USDT and paid out over crypto, rather than as fiat cash.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Whether the account can operate on Whop: `active` or `suspended`. Computed on `list`, `retrieve`, and `me`; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status_reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why the account was suspended, in language safe to show the account owner. Computed only on `retrieve` and `me`; `null` otherwise, when `status` is not `suspended`, and when the suspension was recorded without a reason.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "store_page_config": {
          "target": "com.whop.accounts#AccountStorePageConfig",
          "traits": {
            "smithy.api#documentation": "Account store page display configuration.",
            "smithy.api#required": {}
          }
        },
        "target_audience": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Target audience for this account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_collection_enabled_states": {
          "target": "com.whop.accounts#AccountTaxCollectionEnabledStatesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tax_identifiers": {
          "target": "com.whop.accounts#AccountTaxIdentifiersList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tax_remitted_by": {
          "target": "com.whop.accounts#AccountTaxRemittedBy",
          "traits": {
            "smithy.api#documentation": "Who calculates and remits tax for the account: `whop` (Whop calculates and remits), `self` (Whop calculates; the account collects and remits), or `none` (neither; the account is responsible). `null` until the account enrolls in the Whop tax service.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_type": {
          "target": "com.whop.accounts#AccountTaxType",
          "traits": {
            "smithy.api#documentation": "How tax is applied to the account's prices: `inclusive` (tax included in the listed price) or `exclusive` (tax added on top). Defaults to `exclusive` when unset; `null` only when the account has no payment connection.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "terms_of_service": {
          "target": "com.whop.accounts#File",
          "traits": {
            "smithy.api#documentation": "The account's terms of service document, or `null` if they have not published one.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "three_ds_level": {
          "target": "com.whop.accounts#AccountThreeDsLevel",
          "traits": {
            "smithy.api#documentation": "Account-level 3D Secure behavior. `mandate_challenge` requires cardholder verification on supported card payments; `null` uses the standard checkout flow.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name.",
            "smithy.api#required": {}
          }
        },
        "total_earned_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Account lifetime sales, normalized to USD. Computed only on `retrieve` and `me` for callers with `stats:read` scope; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total USD value across balances with known exchange rates. Computed only on single-account reads (`retrieve` and `me`); `null` on list responses, writes, missing balance-read permission, or unavailable balance source.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "use_logo_as_opengraph_image_fallback": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the account uses its logo as the fallback Open Graph image.",
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Account identity verification status for the `individual` (KYC) and `business` (KYB) profiles. Each is `null` until created, otherwise a `status` of `not_started`, `pending`, `manual_review`, `approved`, or `rejected`.",
            "smithy.api#required": {}
          }
        },
        "volume_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Lifetime volume through the account — sales plus transfers received — normalized to USD. Computed only on `list` for callers with `stats:read` on the account; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "wallet": {
          "target": "com.whop.accounts#AccountWallet",
          "traits": {
            "smithy.api#documentation": "Account primary crypto wallet, or `null` if none has been provisioned.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalanceToken": {
      "type": "structure",
      "members": {
        "balance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Total amount held in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "breakdown": {
          "target": "com.whop.accounts#AccountBalanceBreakdown",
          "traits": {
            "smithy.api#documentation": "Balance split into available, pending, and reserve amounts, as native-unit decimal strings, with the days the pending amount is expected to settle. On-chain crypto is entirely available; good_funds and fiat cash can have pending or reserve portions.",
            "smithy.api#required": {}
          }
        },
        "icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Holding icon URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The holding's display name",
            "smithy.api#required": {}
          }
        },
        "price_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "USD price per unit, or `null` when no exchange rate is available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "symbol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Holding display symbol, such as `USDT`, `cbBTC`, or `EUR`.",
            "smithy.api#required": {}
          }
        },
        "value_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Holding USD value, or `null` when no exchange rate is available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalanceBreakdown": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount you can spend, send, or withdraw now, in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "in_transit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount moving between the account's own destinations, such as a treasury sweep to its crypto wallet or a card top-up. In native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "pending": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount from recent payments still settling, in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "pending_settlements": {
          "target": "com.whop.accounts#AccountBalanceBreakdownPendingSettlementsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reserve": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount held back, in native units, as a decimal string. Retrieve the account's reserves for why it is held and when it unlocks.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalanceSettlement": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount expected that day, in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The day this money is expected to finish settling, as an ISO 8601 date.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalanceBreakdownPendingSettlementsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountBalanceSettlement"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBalancesList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountBalanceToken"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountBusinessType": {
      "type": "enum",
      "members": {
        "EDUCATION_PROGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "education_program"
          }
        },
        "COACHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coaching"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "software"
          }
        },
        "PAID_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paid_group"
          }
        },
        "NEWSLETTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "newsletter"
          }
        },
        "AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agency"
          }
        },
        "PHYSICAL_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "physical_products"
          }
        },
        "BRICK_AND_MORTAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brick_and_mortar"
          }
        },
        "EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "events"
          }
        },
        "COACHING_AND_COURSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coaching_and_courses"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "services"
          }
        },
        "GIG_ECONOMY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gig_economy"
          }
        },
        "MARKETPLACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketplace"
          }
        },
        "TELEHEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telehealth"
          }
        },
        "CLASS_ACTION_SETTLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "class_action_settlement"
          }
        },
        "PHYSICAL_PRODUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "physical_product"
          }
        },
        "SAAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "saas"
          }
        },
        "COURSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "course"
          }
        },
        "COMMUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "community"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "High-level business category for the account. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values."
      }
    },
    "com.whop.accounts#AccountCapabilities": {
      "type": "structure",
      "members": {
        "accept_bank_payments": {
          "target": "com.whop.accounts#AccountCapabilitiesAcceptBankPayments",
          "traits": {
            "smithy.api#documentation": "Bank payins: debits, transfers, and local bank rails",
            "smithy.api#required": {}
          }
        },
        "accept_bnpl_payments": {
          "target": "com.whop.accounts#AccountCapabilitiesAcceptBnplPayments",
          "traits": {
            "smithy.api#documentation": "Buy-now-pay-later payins; requires approval",
            "smithy.api#required": {}
          }
        },
        "accept_card_payments": {
          "target": "com.whop.accounts#AccountCapabilitiesAcceptCardPayments",
          "traits": {
            "smithy.api#documentation": "Card payins, including Apple Pay and Google Pay",
            "smithy.api#required": {}
          }
        },
        "bank_deposit": {
          "target": "com.whop.accounts#AccountCapabilitiesBankDeposit",
          "traits": {
            "smithy.api#documentation": "Deposits by bank wire or ACH to the account's virtual bank account",
            "smithy.api#required": {}
          }
        },
        "card_deposit": {
          "target": "com.whop.accounts#AccountCapabilitiesCardDeposit",
          "traits": {
            "smithy.api#documentation": "Balance top-ups by charging a stored payment method",
            "smithy.api#required": {}
          }
        },
        "card_issuing": {
          "target": "com.whop.accounts#AccountCapabilitiesCardIssuing",
          "traits": {
            "smithy.api#documentation": "Issuing Whop cards; requires card application approval",
            "smithy.api#required": {}
          }
        },
        "crypto_deposit": {
          "target": "com.whop.accounts#AccountCapabilitiesCryptoDeposit",
          "traits": {
            "smithy.api#documentation": "On-chain deposits to the account's crypto wallet",
            "smithy.api#required": {}
          }
        },
        "crypto_payout": {
          "target": "com.whop.accounts#AccountCapabilitiesCryptoPayout",
          "traits": {
            "smithy.api#documentation": "On-chain payouts to a crypto wallet",
            "smithy.api#required": {}
          }
        },
        "instant_payout": {
          "target": "com.whop.accounts#AccountCapabilitiesInstantPayout",
          "traits": {
            "smithy.api#documentation": "Instant payouts to an eligible payout destination",
            "smithy.api#required": {}
          }
        },
        "run_ads": {
          "target": "com.whop.accounts#AccountCapabilitiesRunAds",
          "traits": {
            "smithy.api#documentation": "Launching ad campaigns through Whop Ads. `inactive` while a requested ads services agreement is awaiting the account's signature.",
            "smithy.api#required": {}
          }
        },
        "standard_payout": {
          "target": "com.whop.accounts#AccountCapabilitiesStandardPayout",
          "traits": {
            "smithy.api#documentation": "Standard payouts to an external payout destination",
            "smithy.api#required": {}
          }
        },
        "transfer": {
          "target": "com.whop.accounts#AccountCapabilitiesTransfer",
          "traits": {
            "smithy.api#documentation": "Transfers to other accounts",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCapabilitiesAcceptBankPayments": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Bank payins: debits, transfers, and local bank rails"
      }
    },
    "com.whop.accounts#AccountCapabilitiesAcceptBnplPayments": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Buy-now-pay-later payins; requires approval"
      }
    },
    "com.whop.accounts#AccountCapabilitiesAcceptCardPayments": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Card payins, including Apple Pay and Google Pay"
      }
    },
    "com.whop.accounts#AccountCapabilitiesBankDeposit": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Deposits by bank wire or ACH to the account's virtual bank account"
      }
    },
    "com.whop.accounts#AccountCapabilitiesCardDeposit": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Balance top-ups by charging a stored payment method"
      }
    },
    "com.whop.accounts#AccountCapabilitiesCardIssuing": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Issuing Whop cards; requires card application approval"
      }
    },
    "com.whop.accounts#AccountCapabilitiesCryptoDeposit": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "On-chain deposits to the account's crypto wallet"
      }
    },
    "com.whop.accounts#AccountCapabilitiesCryptoPayout": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "On-chain payouts to a crypto wallet"
      }
    },
    "com.whop.accounts#AccountCapabilitiesInstantPayout": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Instant payouts to an eligible payout destination"
      }
    },
    "com.whop.accounts#AccountCapabilitiesRunAds": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Launching ad campaigns through Whop Ads. `inactive` while a requested ads services agreement is awaiting the account's signature."
      }
    },
    "com.whop.accounts#AccountCapabilitiesStandardPayout": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Standard payouts to an external payout destination"
      }
    },
    "com.whop.accounts#AccountCapabilitiesTransfer": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Transfers to other accounts"
      }
    },
    "com.whop.accounts#AccountCards": {
      "type": "structure",
      "members": {
        "kind": {
          "target": "com.whop.accounts#AccountCardsKind",
          "traits": {
            "smithy.api#documentation": "Whether the card application verifies a business (`business`, KYB) or a person (`individual`, consumer identity). `null` when the application is not yet linked to a verification.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.accounts#AccountCardsStatus",
          "traits": {
            "smithy.api#documentation": "Where the card application stands. `approved` means cards can be issued. `needs_verification` means the applicant has not completed identity verification yet; `needs_information` means they did, but the documents were rejected for a fixable reason and must be resubmitted. `pending` and `manual_review` are in flight. `denied`, `locked`, and `canceled` are terminal.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCardsKind": {
      "type": "enum",
      "members": {
        "INDIVIDUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "individual"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the card application verifies a business (`business`, KYB) or a person (`individual`, consumer identity). `null` when the application is not yet linked to a verification."
      }
    },
    "com.whop.accounts#AccountCardsStatus": {
      "type": "enum",
      "members": {
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "MANUAL_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual_review"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "denied"
          }
        },
        "LOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "locked"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "NEEDS_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needs_verification"
          }
        },
        "NEEDS_INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "needs_information"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where the card application stands. `approved` means cards can be issued. `needs_verification` means the applicant has not completed identity verification yet; `needs_information` means they did, but the documents were rejected for a fixable reason and must be resubmitted. `pending` and `manual_review` are in flight. `denied`, `locked`, and `canceled` are terminal."
      }
    },
    "com.whop.accounts#AccountCompanyFormation": {
      "type": "structure",
      "members": {
        "documents": {
          "target": "com.whop.accounts#AccountCompanyFormationDocumentsList"
        },
        "ein_registered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the company's EIN has been issued by the IRS. Present once `status` leaves `draft`."
          }
        },
        "legal_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Registered company name including the entity ending, for example `Acme, LLC`. Present once `status` leaves `draft`.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "signatures": {
          "target": "com.whop.accounts#AccountCompanyFormationSignatures",
          "traits": {
            "smithy.api#documentation": "IRS forms still awaiting a founder's signature, each with a hosted signing URL. Present once `status` leaves `draft`; empty when nothing needs signing."
          }
        },
        "state_registered": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the state formation filing is complete. Present once `status` leaves `draft`."
          }
        },
        "status": {
          "target": "com.whop.accounts#AccountCompanyFormationStatus"
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationDocument": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document ID, prefixed `file_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Human-readable document name, such as `Articles of Organization`.",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Document category: `articles_of_organization`, `operating_agreement`, `ein_letter`, `signed_ss4`, `signed_form8821`, or `mail` for postal correspondence received on the company's behalf.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "CDN URL for downloading the document.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationDocumentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountCompanyFormationDocument"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationSignatures": {
      "type": "structure",
      "members": {
        "form8821": {
          "target": "com.whop.accounts#AccountCompanyFormationSignatureRequest",
          "traits": {
            "smithy.api#documentation": "Signature state for IRS Form 8821, the tax information authorization. Present only while the form still needs the founder's action."
          }
        },
        "ss4": {
          "target": "com.whop.accounts#AccountCompanyFormationSignatureRequest",
          "traits": {
            "smithy.api#documentation": "Signature state for IRS Form SS-4, the EIN application. Present only while the form still needs the founder's action."
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationSignatureRequest": {
      "type": "structure",
      "members": {
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the signing URL expires, as an ISO 8601 timestamp. Present while `status` is `pending`."
          }
        },
        "status": {
          "target": "com.whop.accounts#AccountCompanyFormationSignatureRequestStatus",
          "traits": {
            "smithy.api#documentation": "`pending` when a signing session is ready for the founder; `unknown` when the signature state could not be determined.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Hosted signing URL where the founder completes the form. Present while `status` is `pending`."
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#AccountCompanyFormationSignatureRequestStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`pending` when a signing session is ready for the founder; `unknown` when the signature state could not be determined."
      }
    },
    "com.whop.accounts#AccountCompanyFormationStatus": {
      "type": "enum",
      "members": {
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "draft"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "FILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "filed"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#File": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's MIME type, e.g. `application/pdf`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the file was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original filename, including its extension.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The file's ID, prefixed `file_`.",
            "smithy.api#required": {}
          }
        },
        "multipart_chunk_size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The byte size each part (except the last) must be. Present only on create, and only for multipart uploads.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "multipart_upload_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the multipart upload, passed back to `complete`. Present only on create, and only for multipart uploads.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "multipart_upload_urls": {
          "target": "com.whop.accounts#FileMultipartUploadUrlsList",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of this object, always `file`.",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The file size in bytes. `null` until the upload has finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "upload_headers": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Headers to send with the upload PUT. Present only on create."
          }
        },
        "upload_status": {
          "target": "com.whop.accounts#FileUploadStatus",
          "traits": {
            "smithy.api#documentation": "Where the file is in its upload lifecycle.",
            "smithy.api#required": {}
          }
        },
        "upload_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Presigned URL to PUT the file's bytes to. Present only on create, and only for single-part uploads.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A URL to download the file: a permanent CDN URL for public files, a signed expiring URL for private ones. `null` until the upload has finished.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "visibility": {
          "target": "com.whop.accounts#FileVisibility",
          "traits": {
            "smithy.api#documentation": "`public` files are served via an unsigned CDN URL; `private` files via a signed, expiring URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#FileMultipartUrl": {
      "type": "structure",
      "members": {
        "part_number": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The 1-based index of this part within the multipart upload.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The presigned URL to PUT this part's bytes to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.accounts#FileMultipartUploadUrlsList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#FileMultipartUrl"
      },
      "traits": {}
    },
    "com.whop.accounts#FileUploadStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "processing"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ready"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where the file is in its upload lifecycle."
      }
    },
    "com.whop.accounts#FileVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`public` files are served via an unsigned CDN URL; `private` files via a signed, expiring URL."
      }
    },
    "com.whop.accounts#AccountHomePreferencesItem": {
      "type": "enum",
      "members": {
        "HIDE_MEMBER_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hide_member_count"
          }
        },
        "HIDE_MEMBERS_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hide_members_card"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Public account home page preferences."
      }
    },
    "com.whop.accounts#AccountHomePreferencesList": {
      "type": "list",
      "member": {
        "target": "com.whop.accounts#AccountHomePreferencesItem"
      },
      "traits": {}
    },
    "com.whop.accounts#AccountIndustryGroup": {
      "type": "enum",
      "members": {
        "ACADEMIC_AND_TEST_PREP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "academic_and_test_prep"
          }
        },
        "ACCESSORIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accessories"
          }
        },
        "AGRICULTURE_AND_FARMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agriculture_and_farming"
          }
        },
        "AI_AND_AUTOMATION_AGENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_and_automation_agencies"
          }
        },
        "AI_AND_AUTOMATION_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_and_automation_software"
          }
        },
        "ARTS_AND_CRAFTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arts_and_crafts"
          }
        },
        "AUTOMOTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "automotive"
          }
        },
        "B2B_AND_PROFESSIONAL_MARKETPLACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "b2b_and_professional_marketplaces"
          }
        },
        "BABY_AND_KIDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "baby_and_kids"
          }
        },
        "BARS_AND_BREWERIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bars_and_breweries"
          }
        },
        "BEAUTY_AND_PERSONAL_CARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beauty_and_personal_care"
          }
        },
        "BEAUTY_AND_WELLNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beauty_and_wellness"
          }
        },
        "BUSINESS_AND_ENTREPRENEURSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business_and_entrepreneurship"
          }
        },
        "BUSINESS_AND_MONEY_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business_and_money_groups"
          }
        },
        "CAFES_AND_QUICK_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cafes_and_quick_service"
          }
        },
        "CAREER_AND_PROFESSIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "career_and_professional"
          }
        },
        "CHARITY_AND_CAUSE_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "charity_and_cause_events"
          }
        },
        "CLASS_ACTION_SETTLEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "class_action_settlement"
          }
        },
        "CLOTHING_AND_APPAREL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clothing_and_apparel"
          }
        },
        "COMMUNICATION_AND_MESSAGING_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "communication_and_messaging_software"
          }
        },
        "COMMUNITY_AND_EDUCATION_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "community_and_education_software"
          }
        },
        "CONFERENCE_AND_EXPO_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "conference_and_expo_events"
          }
        },
        "CONSULTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "consulting"
          }
        },
        "CONTENT_AND_CLIPPING_AGENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "content_and_clipping_agencies"
          }
        },
        "CREATIVE_AND_CONTENT_CREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creative_and_content_creation"
          }
        },
        "CREATIVE_AND_CONTENT_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creative_and_content_groups"
          }
        },
        "CREATIVE_AND_EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creative_and_education"
          }
        },
        "CREATIVE_GIGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creative_gigs"
          }
        },
        "CREATIVE_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creative_services"
          }
        },
        "CUSTOMER_SUPPORT_AGENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customer_support_agencies"
          }
        },
        "DATING_AND_RELATIONSHIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dating_and_relationships"
          }
        },
        "DELIVERY_AND_LOGISTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "delivery_and_logistics"
          }
        },
        "DENTAL_AND_VISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dental_and_vision"
          }
        },
        "DERMATOLOGY_AND_SKIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dermatology_and_skin"
          }
        },
        "DESIGN_AND_CREATIVE_AGENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "design_and_creative_agencies"
          }
        },
        "DEVELOPER_AND_TECHNICAL_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer_and_technical_tools"
          }
        },
        "DEVELOPMENT_AGENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development_agencies"
          }
        },
        "DIGITAL_AND_EDUCATION_MARKETPLACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "digital_and_education_marketplaces"
          }
        },
        "DIGITAL_GOODS_AND_ACCOUNTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "digital_goods_and_accounts"
          }
        },
        "E_COMMERCE_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "e_commerce_software"
          }
        },
        "EDUCATION_AND_CHILDCARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "education_and_childcare"
          }
        },
        "EDUCATIONAL_TRAINING_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "educational_training_events"
          }
        },
        "ELECTRONICS_AND_GADGETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "electronics_and_gadgets"
          }
        },
        "ENTERTAINMENT_AND_LEISURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "entertainment_and_leisure"
          }
        },
        "FAMILY_AND_COMMUNITY_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "family_and_community_events"
          }
        },
        "FINANCE_AND_INVESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "finance_and_investing"
          }
        },
        "FITNESS_AND_ATHLETICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fitness_and_athletics"
          }
        },
        "FITNESS_AND_HEALTH_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fitness_and_health_groups"
          }
        },
        "FITNESS_AND_RECREATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fitness_and_recreation"
          }
        },
        "FITNESS_EQUIPMENT_AND_GEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fitness_equipment_and_gear"
          }
        },
        "FOOD_AND_BEVERAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "food_and_beverages"
          }
        },
        "FOOD_AND_HOSPITALITY_MARKETPLACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "food_and_hospitality_marketplaces"
          }
        },
        "FUNERAL_AND_DEATH_CARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "funeral_and_death_care"
          }
        },
        "GAMING_AND_ENTERTAINMENT_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gaming_and_entertainment_software"
          }
        },
        "GAMING_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gaming_groups"
          }
        },
        "GENETIC_AND_SPECIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "genetic_and_specialized"
          }
        },
        "GOVERNMENT_AND_PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "government_and_public"
          }
        },
        "HEALTH_AND_WELLNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health_and_wellness"
          }
        },
        "HEALTH_AND_WELLNESS_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health_and_wellness_services"
          }
        },
        "HEALTHCARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthcare"
          }
        },
        "HEALTHCARE_AND_WELLNESS_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "healthcare_and_wellness_software"
          }
        },
        "HOBBIES_AND_LIFESTYLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobbies_and_lifestyle"
          }
        },
        "HOBBY_AND_INTEREST_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hobby_and_interest_groups"
          }
        },
        "HOME_AND_LIVING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_and_living"
          }
        },
        "HOME_AND_TRADE_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_and_trade_services"
          }
        },
        "HOME_AND_TRADE_STOREFRONTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_and_trade_storefronts"
          }
        },
        "HOME_IMPROVEMENT_AND_TOOLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_improvement_and_tools"
          }
        },
        "HOME_SERVICES_GIGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_services_gigs"
          }
        },
        "HOSPITALITY_AND_LODGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hospitality_and_lodging"
          }
        },
        "INDUSTRIAL_AND_MANUFACTURING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "industrial_and_manufacturing"
          }
        },
        "INDUSTRY_SPECIFIC_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "industry_specific_software"
          }
        },
        "LANGUAGE_AND_COMMUNICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "language_and_communication"
          }
        },
        "LEGAL_AND_COMPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "legal_and_compliance"
          }
        },
        "LIFESTYLE_AND_CULTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lifestyle_and_culture"
          }
        },
        "LIFESTYLE_AND_PERSONAL_GROWTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lifestyle_and_personal_growth"
          }
        },
        "LIFESTYLE_AND_PERSONAL_GROWTH_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lifestyle_and_personal_growth_groups"
          }
        },
        "LIFESTYLE_AND_WELLNESS_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lifestyle_and_wellness_events"
          }
        },
        "LOGISTICS_AND_TRANSPORTATION_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "logistics_and_transportation_services"
          }
        },
        "MARKETING_AGENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing_agencies"
          }
        },
        "MARKETING_AND_ADVERTISING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing_and_advertising"
          }
        },
        "MARKETING_AND_SALES_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing_and_sales_software"
          }
        },
        "MEDIA_AND_PUBLISHING_COMPANIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "media_and_publishing_companies"
          }
        },
        "MENTAL_HEALTH_AND_BEHAVIORAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mental_health_and_behavioral"
          }
        },
        "MISCELLANEOUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "miscellaneous"
          }
        },
        "MUSIC_AND_PERFORMING_ARTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "music_and_performing_arts"
          }
        },
        "NEWS_AND_POLITICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "news_and_politics"
          }
        },
        "NONPROFIT_AND_CHARITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nonprofit_and_charity"
          }
        },
        "OFFICE_AND_BUSINESS_SUPPLIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "office_and_business_supplies"
          }
        },
        "OUTDOOR_AND_SPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "outdoor_and_sports"
          }
        },
        "PERFORMANCE_AND_SHOW_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performance_and_show_events"
          }
        },
        "PERSONAL_DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal_development"
          }
        },
        "PERSONAL_FINANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal_finance"
          }
        },
        "PERSONAL_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal_services"
          }
        },
        "PET_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pet_services"
          }
        },
        "PETS_AND_ANIMALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pets_and_animals"
          }
        },
        "PRIMARY_AND_GENERAL_CARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "primary_and_general_care"
          }
        },
        "PRODUCT_MARKETPLACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "product_marketplaces"
          }
        },
        "PRODUCTIVITY_AND_BUSINESS_OPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "productivity_and_business_ops"
          }
        },
        "PROFESSIONAL_GIGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "professional_gigs"
          }
        },
        "PROFESSIONAL_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "professional_services"
          }
        },
        "PROFESSIONAL_SERVICES_STOREFRONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "professional_services_storefront"
          }
        },
        "PUBLISHING_AND_INFO_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "publishing_and_info_products"
          }
        },
        "REAL_ESTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real_estate"
          }
        },
        "REAL_ESTATE_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real_estate_software"
          }
        },
        "RECRUITING_AND_STAFFING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recruiting_and_staffing"
          }
        },
        "REHABILITATION_AND_THERAPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rehabilitation_and_therapy"
          }
        },
        "RELIGION_AND_FAITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "religion_and_faith"
          }
        },
        "RENTAL_MARKETPLACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rental_marketplaces"
          }
        },
        "RESTAURANTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restaurants"
          }
        },
        "RETAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retail"
          }
        },
        "SALES_AGENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales_agencies"
          }
        },
        "SALES_AND_REVENUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales_and_revenue"
          }
        },
        "SECURITY_AND_INVESTIGATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_and_investigations"
          }
        },
        "SECURITY_AND_PRIVACY_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "security_and_privacy_software"
          }
        },
        "SERVICE_MARKETPLACES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "service_marketplaces"
          }
        },
        "SLEEP_AND_CHRONIC_CONDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sleep_and_chronic_conditions"
          }
        },
        "SOCIAL_AND_NETWORKING_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "social_and_networking_events"
          }
        },
        "SOCIAL_ENTERTAINMENT_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "social_entertainment_events"
          }
        },
        "SPECIALIZED_GIGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "specialized_gigs"
          }
        },
        "SPECIALTY_MEDICAL_CARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "specialty_medical_care"
          }
        },
        "SPIRITUALITY_AND_MINDFULNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spirituality_and_mindfulness"
          }
        },
        "SPIRITUALITY_AND_PERSONAL_GROWTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spirituality_and_personal_growth"
          }
        },
        "SPORTS_AND_FITNESS_EVENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sports_and_fitness_events"
          }
        },
        "SPORTS_BETTING_AND_GAMBLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sports_betting_and_gambling"
          }
        },
        "SPORTS_BETTING_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sports_betting_groups"
          }
        },
        "SUPPLEMENTS_AND_NUTRITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "supplements_and_nutrition"
          }
        },
        "SUSTAINABILITY_AND_ECO_PRODUCTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sustainability_and_eco_products"
          }
        },
        "TASK_AND_ERRANDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "task_and_errands"
          }
        },
        "TECH_AND_AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_and_ai"
          }
        },
        "TECH_AND_DEV_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_and_dev_groups"
          }
        },
        "TECH_AND_DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tech_and_development"
          }
        },
        "TRADING_AND_FINANCE_SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trading_and_finance_software"
          }
        },
        "TRADING_AND_INVESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trading_and_investing"
          }
        },
        "TRADING_AND_INVESTING_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trading_and_investing_groups"
          }
        },
        "TRANSPORTATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "transportation"
          }
        },
        "VETERINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "veterinary"
          }
        },
        "VIDEO_GAMES_AND_ESPORTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video_games_and_esports"
          }
        },
        "WEIGHT_AND_METABOLIC_HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weight_and_metabolic_health"
          }
        },
        "WELLNESS_AND_ALTERNATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wellness_and_alternative"
          }
        },
        "WOMENS_AND_MENS_HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "womens_and_mens_health"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Account industry group. See the [business types and industries glossary](/api-reference/beta/accounts/account#business-types-and-industries-glossary) for valid values."
      }
    },
    "com.whop.accounts#AccountIndustryType": {
      "type": "enum",
      "members": {
        "TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trading"
          }
        },
        "SPORTS_BETTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sports_betting"
          }
        },
        "RESELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "reselling"
          }
        },
        "FITNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fitness"
          }
        },
        "AMAZON_FBA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amazon_fba"
          }
        },
        "REAL_ESTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real_estate"
          }
        },
        "KINDLE_BOOK_PUBLISHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kindle_book_publishing"
          }
        },
        "DATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dating"
          }
        },
        "AGENCIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "agencies"
          }
        },
        "HEALTH_AND_WELLNESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "health_and_wellness"
          }
        },
        "SOCIAL_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "social_media"
          }
        },
        "SALES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales"
          }
        },
        "BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "business"
          }
        },
        "ECOMMERCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ecommerce"
          }
        },
        "VIDEO_GAMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "video_games"
          }
        },
        "HOME_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_services"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai"
          }
        },
        "PUBLIC_SPEAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public_speaking"
          }
        },
        "PERSONAL_FINANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal_finance"
          }
        },
        "CAREERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "careers"
          }
        },
        "TRAVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "travel"
          }
        },
        "CLIPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clipping"
          }
        },
        "SPIRITUALITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spirituality"
          }
        },
        "VAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vas"
          }
        },
        "PERSONAL_DEVELOPMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "personal_development"
          }
        },
        "SOFTWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "software"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        },
        "MARKETING_AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "marketing_agency"
          }
        },
        "SALES_AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales_agency"
          }
        },
        "AI_AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_agency"
          }
        },
        "DESIGN_AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "design_agency"
          }
        },
        "COACHING_AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coaching_agency"
          }
        },
        "DEVELOPMENT_AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "development_agency"
          }
        },
        "RECRUITING_AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recruiting_agency"
          }
        },
        "CUSTOMER_SUPPORT_AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customer_support_agency"
          }
        },
        "CLIPPING_AGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clipping_agency"
          }
        },
        "CLOTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clothing"
          }
        },
        "SUPPLEMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "supplements"
          }
        },
        "BEAUTY_AND_PERSONAL_CARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "beauty_and_personal_care"
          }
        },
        "FITNESS_GEAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fitness_gear"
          }
        },
        "ACCESSORIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accessories"
          }
        },
        "HOME_GOODS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "home_goods"
          }
        },
        "ELECTRONICS_AND_GADGETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "electronics_and_gadgets"
          }
        },
        "FOOD_AND_BEVERAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "food_and_beverages"
          }
        },
        "GYM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gym"
          }
        },
        "RESTAURANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restaurant"
          }
        },
        "RETAIL_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retail_store"
          }
        },
        "COFFEE_SHOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coffee_shop"
          }
        },
        "SALON_SPA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "salon_spa"
          }
        },
        "MEDICAL_DENTIST_OFFICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "medical_dentist_office"
          }
        },
        "HOTEL_LODGING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hotel_lodging"
          }
        },
        "AUTO_REPAIR_SHOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto_repair_shop"
          }
        },
        "MASTERMINDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "masterminds"
          }
        },
        "WEBINARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webinars"
          }
        },
        "BOOTCAMPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bootcamps"
          }
        },
        "CONVENTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "convention"
          }
        },
        "CONCERTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "concerts"
          }
        },
        "MEETUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meetups"
          }
        },
        "PARTIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parties"
          }
        },
        "FOREX_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forex_trading"
          }
        },
        "STOCK_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stock_trading"
          }
        },
        "OPTIONS_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "options_trading"
          }
        },
        "CRYPTO_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crypto_trading"
          }
        },
        "FUTURES_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "futures_trading"
          }
        },
        "DAY_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day_trading"
          }
        },
        "SWING_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "swing_trading"
          }
        },
        "ALGORITHMIC_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "algorithmic_trading"
          }
        },
        "PROP_FIRM_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "prop_firm_trading"
          }
        },
        "VALUE_INVESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "value_investing"
          }
        },
        "REAL_ESTATE_INVESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "real_estate_investing"
          }
        },
        "ALTERNATIVE_INVESTMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alternative_investments"
          }
        },
        "PENNY_STOCK_TRADING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "penny_stock_trading"
          }
        },
        "DIVIDEND_INVESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dividend_investing"
          }
        },
        "INDEX_FUND_INVESTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "index_fund_investing"
          }
        },
        "GOLD_PRECIOUS_METALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gold_precious_metals"
          }
        },
        "VENTURE_CAPITAL_EDUCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "venture_capital_education"
          }
        },
[...]
