{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.authorized_users#AuthorizedUserRoles": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "SALES_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales_manager"
          }
        },
        "MODERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moderator"
          }
        },
        "ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advertiser"
          }
        },
        "APP_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "app_manager"
          }
        },
        "SUPPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "support"
          }
        },
        "MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manager"
          }
        },
        "WORKFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "workforce"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible roles an authorized user can have"
      }
    },
    "com.whop.authorized_users#ListAuthorizedUserRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before"
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first"
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last"
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "company_id"
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id"
          }
        },
        "role": {
          "target": "com.whop.authorized_users#AuthorizedUserRoles",
          "traits": {
            "smithy.api#httpQuery": "role"
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before"
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.authorized_users#AuthorizedUserListItem": {
      "type": "structure",
      "members": {
        "company": {
          "target": "com.whop.authorized_users#AuthorizedUserListItemCompany",
          "traits": {
            "smithy.api#documentation": "The company this authorized user has access to.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the authorized user.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.whop.authorized_users#AuthorizedUserRoles",
          "traits": {
            "smithy.api#documentation": "The permission role assigned to this authorized user within the company.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.authorized_users#AuthorizedUserListItemUser",
          "traits": {
            "smithy.api#documentation": "The user account linked to this authorized user record.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user who belongs to a company's team with access determined by their assigned role."
      }
    },
    "com.whop.authorized_users#AuthorizedUserListItemCompany": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the company.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the company shown to customers.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The company this authorized user has access to."
      }
    },
    "com.whop.authorized_users#AuthorizedUserListItemUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. Requires the member:email:read permission to access. Null if not authorized.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user account linked to this authorized user record."
      }
    },
    "com.whop.authorized_users#ListAuthorizedUserResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.authorized_users#AuthorizedUserListItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of nodes."
      }
    },
    "com.whop.authorized_users#PageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about pagination in a connection."
      }
    },
    "com.whop.authorized_users#ListAuthorizedUserResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.authorized_users#ListAuthorizedUserResponseDataList",
          "traits": {
            "smithy.api#documentation": "A list of nodes.",
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.authorized_users#PageInfo",
          "traits": {
            "smithy.api#documentation": "Information to aid in pagination.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.authorized_users#ListAuthorizedUser": {
      "type": "operation",
      "input": {
        "target": "com.whop.authorized_users#ListAuthorizedUserRequest"
      },
      "output": {
        "target": "com.whop.authorized_users#ListAuthorizedUserResponse"
      },
      "errors": [
        {
          "target": "com.whop.authorized_users#BadRequest"
        },
        {
          "target": "com.whop.authorized_users#Forbidden"
        },
        {
          "target": "com.whop.authorized_users#NotFound"
        },
        {
          "target": "com.whop.authorized_users#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/authorized_users",
          "code": 200
        },
        "smithy.api#documentation": "List authorized users\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nReturns a paginated list of authorized team members for a company, with optional filtering by user, role, and creation date.\n\nRequired permissions:\n - `company:authorized_user:read`\n - `member:email:read`",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.authorized_users#CreateAuthorizedUserRequestElevation": {
      "type": "structure",
      "members": {
        "authenticator_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WebAuthn authenticator data (base64).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "client_data_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WebAuthn client data JSON (base64).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WebAuthn credential ID (base64).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 6-digit code emailed to the user.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WebAuthn signature (base64).",
            "com.distilled.openapi#nullable": {}
          }
        },
        "totp_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The 6-digit code from the authenticator app or SMS.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "use_finance_session": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Reuse an existing elevated session (for SMS/email 2FA users).",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Re-authentication proof required to perform this sensitive action."
      }
    },
    "com.whop.authorized_users#GrantableAuthorizedUserRoles": {
      "type": "enum",
      "members": {
        "OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "owner"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "SALES_MANAGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sales_manager"
          }
        },
        "MODERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "moderator"
          }
        },
        "ADVERTISER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advertiser"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "System roles accepted by legacy authorized-user mutations"
      }
    },
    "com.whop.authorized_users#CreateAuthorizedUserRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the company to add the authorized user to.",
            "smithy.api#required": {}
          }
        },
        "elevation": {
          "target": "com.whop.authorized_users#CreateAuthorizedUserRequestElevation",
          "traits": {
            "smithy.api#documentation": "Re-authentication proof required to perform this sensitive action.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "role": {
          "target": "com.whop.authorized_users#GrantableAuthorizedUserRoles",
          "traits": {
            "smithy.api#documentation": "The role to assign to the authorized user within the company. Supported roles: 'moderator', 'sales_manager'.",
            "smithy.api#required": {}
          }
        },
        "send_emails": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send notification emails to the user on creation.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the user to add as an authorized user.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.authorized_users#AuthorizedUser": {
      "type": "structure",
      "members": {
        "company": {
          "target": "com.whop.authorized_users#AuthorizedUserCompany",
          "traits": {
            "smithy.api#documentation": "The company this authorized user has access to.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the authorized user.",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.whop.authorized_users#AuthorizedUserRoles",
          "traits": {
            "smithy.api#documentation": "The permission role assigned to this authorized user within the company.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.authorized_users#AuthorizedUserUser",
          "traits": {
            "smithy.api#documentation": "The user account linked to this authorized user record.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A user who belongs to a company's team with access determined by their assigned role."
      }
    },
    "com.whop.authorized_users#AuthorizedUserCompany": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the company.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the company shown to customers.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The company this authorized user has access to."
      }
    },
    "com.whop.authorized_users#AuthorizedUserUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. Requires the member:email:read permission to access. Null if not authorized.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user account linked to this authorized user record."
      }
    },
    "com.whop.authorized_users#CreateAuthorizedUser": {
      "type": "operation",
      "input": {
        "target": "com.whop.authorized_users#CreateAuthorizedUserRequest"
      },
      "output": {
        "target": "com.whop.authorized_users#AuthorizedUser"
      },
      "errors": [
        {
          "target": "com.whop.authorized_users#BadRequest"
        },
        {
          "target": "com.whop.authorized_users#Forbidden"
        },
        {
          "target": "com.whop.authorized_users#NotFound"
        },
        {
          "target": "com.whop.authorized_users#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/authorized_users",
          "code": 200
        },
        "smithy.api#documentation": "Create authorized user\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nAdd a new authorized user to a company.\n\nRequired permissions:\n - `authorized_user:create`\n - `member:email:read`"
      }
    },
    "com.whop.authorized_users#RetrieveAuthorizedUserRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the authorized user to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.authorized_users#RetrieveAuthorizedUser": {
      "type": "operation",
      "input": {
        "target": "com.whop.authorized_users#RetrieveAuthorizedUserRequest"
      },
      "output": {
        "target": "com.whop.authorized_users#AuthorizedUser"
      },
      "errors": [
        {
          "target": "com.whop.authorized_users#BadRequest"
        },
        {
          "target": "com.whop.authorized_users#Forbidden"
        },
        {
          "target": "com.whop.authorized_users#NotFound"
        },
        {
          "target": "com.whop.authorized_users#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/authorized_users/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve authorized user\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRetrieves the details of an existing authorized user.\n\nRequired permissions:\n - `company:authorized_user:read`\n - `member:email:read`"
      }
    },
    "com.whop.authorized_users#DeleteAuthorizedUserRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the authorized user or user to remove."
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "company_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.authorized_users#DeleteAuthorizedUserResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.authorized_users#DeleteAuthorizedUser": {
      "type": "operation",
      "input": {
        "target": "com.whop.authorized_users#DeleteAuthorizedUserRequest"
      },
      "output": {
        "target": "com.whop.authorized_users#DeleteAuthorizedUserResponse"
      },
      "errors": [
        {
          "target": "com.whop.authorized_users#BadRequest"
        },
        {
          "target": "com.whop.authorized_users#Forbidden"
        },
        {
          "target": "com.whop.authorized_users#NotFound"
        },
        {
          "target": "com.whop.authorized_users#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/authorized_users/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete authorized user\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRemove an authorized user from a company.\n\nRequired permissions:\n - `authorized_user:delete`"
      }
    },
    "com.whop.authorized_users#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.authorized_users#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.authorized_users#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.authorized_users#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.whop.authorized_users#AuthorizedUsers": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.authorized_users#ListAuthorizedUser"
        },
        {
          "target": "com.whop.authorized_users#CreateAuthorizedUser"
        },
        {
          "target": "com.whop.authorized_users#RetrieveAuthorizedUser"
        },
        {
          "target": "com.whop.authorized_users#DeleteAuthorizedUser"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
