{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.course_students#ListCourseStudentRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before"
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first"
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last"
          }
        },
        "course_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "course_id",
            "smithy.api#required": {}
          }
        },
        "keyword": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "keyword"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.course_students#CourseStudentListItem": {
      "type": "structure",
      "members": {
        "completed_lessons_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of lessons this student has marked as completed in the course.",
            "smithy.api#required": {}
          }
        },
        "completion_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of available lessons the student has completed, as a value from 0 to 100 rounded to two decimal places.",
            "smithy.api#required": {}
          }
        },
        "first_interaction_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the student first interacted with this course, as a Unix timestamp.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the course student type.",
            "smithy.api#required": {}
          }
        },
        "last_interaction_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the student most recently interacted with this course, as a Unix timestamp.",
            "smithy.api#required": {}
          }
        },
        "total_lessons_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of visible lessons available to this student in the course.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.course_students#CourseStudentListItemUser",
          "traits": {
            "smithy.api#documentation": "The user profile of the enrolled student.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An enrollment record for a student in a course, including progress and completion metrics."
      }
    },
    "com.whop.course_students#CourseStudentListItemUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user profile of the enrolled student."
      }
    },
    "com.whop.course_students#ListCourseStudentResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.course_students#CourseStudentListItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of nodes."
      }
    },
    "com.whop.course_students#PageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about pagination in a connection."
      }
    },
    "com.whop.course_students#ListCourseStudentResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.course_students#ListCourseStudentResponseDataList",
          "traits": {
            "smithy.api#documentation": "A list of nodes.",
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.course_students#PageInfo",
          "traits": {
            "smithy.api#documentation": "Information to aid in pagination.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.course_students#ListCourseStudent": {
      "type": "operation",
      "input": {
        "target": "com.whop.course_students#ListCourseStudentRequest"
      },
      "output": {
        "target": "com.whop.course_students#ListCourseStudentResponse"
      },
      "errors": [
        {
          "target": "com.whop.course_students#BadRequest"
        },
        {
          "target": "com.whop.course_students#Forbidden"
        },
        {
          "target": "com.whop.course_students#NotFound"
        },
        {
          "target": "com.whop.course_students#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/course_students",
          "code": 200
        },
        "smithy.api#documentation": "List course students\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nReturns a paginated list of students enrolled in a course, with optional name filtering.\n\nRequired permissions:\n - `courses:read`\n - `course_analytics:read`",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.course_students#RetrieveCourseStudentRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the course student record to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.course_students#CourseStudent": {
      "type": "structure",
      "members": {
        "completed_lessons_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of lessons this student has marked as completed in the course.",
            "smithy.api#required": {}
          }
        },
        "completion_rate": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The percentage of available lessons the student has completed, as a value from 0 to 100 rounded to two decimal places.",
            "smithy.api#required": {}
          }
        },
        "course": {
          "target": "com.whop.course_students#CourseStudentCourse",
          "traits": {
            "smithy.api#documentation": "The course this student is enrolled in.",
            "smithy.api#required": {}
          }
        },
        "first_interaction_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the student first interacted with this course, as a Unix timestamp.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the course student type.",
            "smithy.api#required": {}
          }
        },
        "last_interaction_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the student most recently interacted with this course, as a Unix timestamp.",
            "smithy.api#required": {}
          }
        },
        "total_lessons_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of visible lessons available to this student in the course.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.course_students#CourseStudentUser",
          "traits": {
            "smithy.api#documentation": "The user profile of the enrolled student.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An enrollment record for a student in a course, including progress and completion metrics."
      }
    },
    "com.whop.course_students#CourseStudentCourseExperience": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the experience.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parent experience that this course belongs to."
      }
    },
    "com.whop.course_students#CourseStudentCourse": {
      "type": "structure",
      "members": {
        "experience": {
          "target": "com.whop.course_students#CourseStudentCourseExperience",
          "traits": {
            "smithy.api#documentation": "The parent experience that this course belongs to.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the course.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the course shown to students. Null if no title has been set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The course this student is enrolled in."
      }
    },
    "com.whop.course_students#CourseStudentUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user profile of the enrolled student."
      }
    },
    "com.whop.course_students#RetrieveCourseStudent": {
      "type": "operation",
      "input": {
        "target": "com.whop.course_students#RetrieveCourseStudentRequest"
      },
      "output": {
        "target": "com.whop.course_students#CourseStudent"
      },
      "errors": [
        {
          "target": "com.whop.course_students#BadRequest"
        },
        {
          "target": "com.whop.course_students#Forbidden"
        },
        {
          "target": "com.whop.course_students#NotFound"
        },
        {
          "target": "com.whop.course_students#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/course_students/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve course student\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRetrieves the details of an existing course student.\n\nRequired permissions:\n - `courses:read`\n - `course_analytics:read`"
      }
    },
    "com.whop.course_students#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.course_students#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.course_students#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.course_students#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.whop.course_students#CourseStudents": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.course_students#ListCourseStudent"
        },
        {
          "target": "com.whop.course_students#RetrieveCourseStudent"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
