{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.dm_channels#ListDmChannelRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before"
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first"
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last"
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "company_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.dm_channels#DmChannelListItem": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the entity was created (in milliseconds since Unix epoch)",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the entity",
            "smithy.api#required": {}
          }
        },
        "last_message_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the most recent message was sent in this channel. Null if no messages have been sent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A custom display name assigned to this channel by the user. Null if no custom name has been set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A messaging channel that can be a one-on-one DM, group chat, company support conversation, or platform-level direct message."
      }
    },
    "com.whop.dm_channels#ListDmChannelResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.dm_channels#DmChannelListItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of nodes."
      }
    },
    "com.whop.dm_channels#PageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about pagination in a connection."
      }
    },
    "com.whop.dm_channels#ListDmChannelResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.dm_channels#ListDmChannelResponseDataList",
          "traits": {
            "smithy.api#documentation": "A list of nodes.",
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.dm_channels#PageInfo",
          "traits": {
            "smithy.api#documentation": "Information to aid in pagination.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.dm_channels#ListDmChannel": {
      "type": "operation",
      "input": {
        "target": "com.whop.dm_channels#ListDmChannelRequest"
      },
      "output": {
        "target": "com.whop.dm_channels#ListDmChannelResponse"
      },
      "errors": [
        {
          "target": "com.whop.dm_channels#BadRequest"
        },
        {
          "target": "com.whop.dm_channels#Forbidden"
        },
        {
          "target": "com.whop.dm_channels#NotFound"
        },
        {
          "target": "com.whop.dm_channels#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dm_channels",
          "code": 200
        },
        "smithy.api#documentation": "List dm channels\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nReturns a paginated list of DM channels for the currently authenticated user, sorted by most recently active.\n\nRequired permissions:\n - `dms:read`",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.dm_channels#CreateDmChannelRequestWithUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The list of user identifiers to include in the DM channel. Each entry can be an email, username, or user ID (e.g. 'user_xxxxx')."
      }
    },
    "com.whop.dm_channels#CreateDmChannelRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the company to scope this DM channel to. When set, the channel is visible only within that company context.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A custom display name for the DM channel. For example, 'Project Discussion'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "notifications_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Whop app notifications are enabled for this direct message channel. Webhooks still fire.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "with_user_ids": {
          "target": "com.whop.dm_channels#CreateDmChannelRequestWithUserIdsList",
          "traits": {
            "smithy.api#documentation": "The list of user identifiers to include in the DM channel. Each entry can be an email, username, or user ID (e.g. 'user_xxxxx').",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.dm_channels#DmChannel": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time the entity was created (in milliseconds since Unix epoch)",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the entity",
            "smithy.api#required": {}
          }
        },
        "last_message_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the most recent message was sent in this channel. Null if no messages have been sent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A custom display name assigned to this channel by the user. Null if no custom name has been set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A messaging channel that can be a one-on-one DM, group chat, company support conversation, or platform-level direct message."
      }
    },
    "com.whop.dm_channels#CreateDmChannel": {
      "type": "operation",
      "input": {
        "target": "com.whop.dm_channels#CreateDmChannelRequest"
      },
      "output": {
        "target": "com.whop.dm_channels#DmChannel"
      },
      "errors": [
        {
          "target": "com.whop.dm_channels#BadRequest"
        },
        {
          "target": "com.whop.dm_channels#Forbidden"
        },
        {
          "target": "com.whop.dm_channels#NotFound"
        },
        {
          "target": "com.whop.dm_channels#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dm_channels",
          "code": 200
        },
        "smithy.api#documentation": "Create dm channel\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nCreate a new DM channel between two or more users, optionally scoped to a specific company. Returns the existing channel if one already exists.\n\nRequired permissions:\n - `dms:channel:manage`"
      }
    },
    "com.whop.dm_channels#RetrieveDmChannelRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the DM channel to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.dm_channels#RetrieveDmChannel": {
      "type": "operation",
      "input": {
        "target": "com.whop.dm_channels#RetrieveDmChannelRequest"
      },
      "output": {
        "target": "com.whop.dm_channels#DmChannel"
      },
      "errors": [
        {
          "target": "com.whop.dm_channels#BadRequest"
        },
        {
          "target": "com.whop.dm_channels#Forbidden"
        },
        {
          "target": "com.whop.dm_channels#NotFound"
        },
        {
          "target": "com.whop.dm_channels#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dm_channels/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve dm channel\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRetrieves the details of an existing DM channel.\n\nRequired permissions (one of):\n - `dms:read`\n - `support_chat:read`"
      }
    },
    "com.whop.dm_channels#UpdateDmChannelRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the DM channel to update."
          }
        },
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A new custom display name for the DM channel. For example, 'Project Discussion'.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.dm_channels#UpdateDmChannel": {
      "type": "operation",
      "input": {
        "target": "com.whop.dm_channels#UpdateDmChannelRequest"
      },
      "output": {
        "target": "com.whop.dm_channels#DmChannel"
      },
      "errors": [
        {
          "target": "com.whop.dm_channels#BadRequest"
        },
        {
          "target": "com.whop.dm_channels#Forbidden"
        },
        {
          "target": "com.whop.dm_channels#NotFound"
        },
        {
          "target": "com.whop.dm_channels#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/dm_channels/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update dm channel\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nUpdate the settings of an existing DM channel, such as its display name. Only an admin of the channel can perform this action.\n\nRequired permissions (one of):\n - `dms:channel:manage`\n - `support_chat:create`"
      }
    },
    "com.whop.dm_channels#DeleteDmChannelRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the DM channel to delete."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.dm_channels#DeleteDmChannelResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Boolean",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.dm_channels#DeleteDmChannel": {
      "type": "operation",
      "input": {
        "target": "com.whop.dm_channels#DeleteDmChannelRequest"
      },
      "output": {
        "target": "com.whop.dm_channels#DeleteDmChannelResponse"
      },
      "errors": [
        {
          "target": "com.whop.dm_channels#BadRequest"
        },
        {
          "target": "com.whop.dm_channels#Forbidden"
        },
        {
          "target": "com.whop.dm_channels#NotFound"
        },
        {
          "target": "com.whop.dm_channels#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/dm_channels/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete dm channel\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nPermanently delete a DM channel and all of its messages. Only an admin of the channel can perform this action.\n\nRequired permissions (one of):\n - `dms:channel:manage`\n - `support_chat:create`"
      }
    },
    "com.whop.dm_channels#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.dm_channels#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.dm_channels#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.dm_channels#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.whop.dm_channels#DmChannels": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.dm_channels#ListDmChannel"
        },
        {
          "target": "com.whop.dm_channels#CreateDmChannel"
        },
        {
          "target": "com.whop.dm_channels#RetrieveDmChannel"
        },
        {
          "target": "com.whop.dm_channels#UpdateDmChannel"
        },
        {
          "target": "com.whop.dm_channels#DeleteDmChannel"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
