{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.forums#ListForumRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before"
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first"
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last"
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "company_id",
            "smithy.api#required": {}
          }
        },
        "product_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "product_id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.forums#ForumListItem": {
      "type": "structure",
      "members": {
        "email_notification_preference": {
          "target": "com.whop.forums#ForumEmailNotificationPreferences",
          "traits": {
            "smithy.api#documentation": "The email notification setting that controls which posts trigger email alerts. One of: all_admin_posts, only_weekly_summary, none.",
            "smithy.api#required": {}
          }
        },
        "experience": {
          "target": "com.whop.forums#ForumListItemExperience",
          "traits": {
            "smithy.api#documentation": "The parent experience that this forum belongs to.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the entity",
            "smithy.api#required": {}
          }
        },
        "who_can_comment": {
          "target": "com.whop.forums#ForumWhoCanCommentTypes",
          "traits": {
            "smithy.api#documentation": "The permission level controlling who can comment on posts. One of: everyone, admins.",
            "smithy.api#required": {}
          }
        },
        "who_can_post": {
          "target": "com.whop.forums#ForumWhoCanPostTypes",
          "traits": {
            "smithy.api#documentation": "The permission level controlling who can create new posts. One of: everyone, admins.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A discussion forum where members can create posts, comment, and react, belonging to an experience."
      }
    },
    "com.whop.forums#ForumEmailNotificationPreferences": {
      "type": "enum",
      "members": {
        "ALL_ADMIN_POSTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all_admin_posts"
          }
        },
        "ONLY_WEEKLY_SUMMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "only_weekly_summary"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Email notification preference option for a forum feed"
      }
    },
    "com.whop.forums#ForumListItemExperience": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the experience.",
            "smithy.api#required": {}
          }
        },
        "is_public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this experience is publicly visible to all users, including those without a membership.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of this experience shown to users in the product navigation. Maximum 255 characters.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parent experience that this forum belongs to."
      }
    },
    "com.whop.forums#ForumWhoCanCommentTypes": {
      "type": "enum",
      "members": {
        "EVERYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "everyone"
          }
        },
        "ADMINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admins"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Who can comment on a forum feed"
      }
    },
    "com.whop.forums#ForumWhoCanPostTypes": {
      "type": "enum",
      "members": {
        "EVERYONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "everyone"
          }
        },
        "ADMINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admins"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Who can post on a forum feed"
      }
    },
    "com.whop.forums#ListForumResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.forums#ForumListItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of nodes."
      }
    },
    "com.whop.forums#PageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about pagination in a connection."
      }
    },
    "com.whop.forums#ListForumResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.forums#ListForumResponseDataList",
          "traits": {
            "smithy.api#documentation": "A list of nodes.",
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.forums#PageInfo",
          "traits": {
            "smithy.api#documentation": "Information to aid in pagination.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.forums#ListForum": {
      "type": "operation",
      "input": {
        "target": "com.whop.forums#ListForumRequest"
      },
      "output": {
        "target": "com.whop.forums#ListForumResponse"
      },
      "errors": [
        {
          "target": "com.whop.forums#BadRequest"
        },
        {
          "target": "com.whop.forums#Forbidden"
        },
        {
          "target": "com.whop.forums#NotFound"
        },
        {
          "target": "com.whop.forums#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/forums",
          "code": 200
        },
        "smithy.api#documentation": "List forums\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nReturns a paginated list of forums within a specific company, with optional filtering by product.\n\nRequired permissions:\n - `forum:read`",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.forums#RetrieveForumRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the forum or experience to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.forums#Forum": {
      "type": "structure",
      "members": {
        "email_notification_preference": {
          "target": "com.whop.forums#ForumEmailNotificationPreferences",
          "traits": {
            "smithy.api#documentation": "The email notification setting that controls which posts trigger email alerts. One of: all_admin_posts, only_weekly_summary, none.",
            "smithy.api#required": {}
          }
        },
        "experience": {
          "target": "com.whop.forums#ForumExperience",
          "traits": {
            "smithy.api#documentation": "The parent experience that this forum belongs to.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the entity",
            "smithy.api#required": {}
          }
        },
        "who_can_comment": {
          "target": "com.whop.forums#ForumWhoCanCommentTypes",
          "traits": {
            "smithy.api#documentation": "The permission level controlling who can comment on posts. One of: everyone, admins.",
            "smithy.api#required": {}
          }
        },
        "who_can_post": {
          "target": "com.whop.forums#ForumWhoCanPostTypes",
          "traits": {
            "smithy.api#documentation": "The permission level controlling who can create new posts. One of: everyone, admins.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A discussion forum where members can create posts, comment, and react, belonging to an experience."
      }
    },
    "com.whop.forums#ForumExperience": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the experience.",
            "smithy.api#required": {}
          }
        },
        "is_public": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this experience is publicly visible to all users, including those without a membership.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of this experience shown to users in the product navigation. Maximum 255 characters.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The parent experience that this forum belongs to."
      }
    },
    "com.whop.forums#RetrieveForum": {
      "type": "operation",
      "input": {
        "target": "com.whop.forums#RetrieveForumRequest"
      },
      "output": {
        "target": "com.whop.forums#Forum"
      },
      "errors": [
        {
          "target": "com.whop.forums#BadRequest"
        },
        {
          "target": "com.whop.forums#Forbidden"
        },
        {
          "target": "com.whop.forums#NotFound"
        },
        {
          "target": "com.whop.forums#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/forums/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve forum\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRetrieves the details of an existing forum.\n\nRequired permissions:\n - `forum:read`"
      }
    },
    "com.whop.forums#UpdateForumRequestBannedWordsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "A list of words that are automatically blocked from posts in this forum. For example, ['spam', 'scam']."
      }
    },
    "com.whop.forums#UpdateForumRequestBannerImage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an existing file object.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The banner image displayed at the top of the forum page. Pass null to remove the existing banner."
      }
    },
    "com.whop.forums#UpdateForumRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the forum to update. Accepts either an experience ID (e.g. 'exp_xxxxx') or a forum ID."
          }
        },
        "banned_words": {
          "target": "com.whop.forums#UpdateForumRequestBannedWordsList",
          "traits": {
            "smithy.api#documentation": "A list of words that are automatically blocked from posts in this forum. For example, ['spam', 'scam'].",
            "com.distilled.openapi#nullable": {}
          }
        },
        "banner_image": {
          "target": "com.whop.forums#UpdateForumRequestBannerImage",
          "traits": {
            "smithy.api#documentation": "The banner image displayed at the top of the forum page. Pass null to remove the existing banner.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "email_notification_preference": {
          "target": "com.whop.forums#ForumEmailNotificationPreferences",
          "traits": {
            "smithy.api#documentation": "Controls how email notifications are sent to members when new posts are created in this forum.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "who_can_comment": {
          "target": "com.whop.forums#ForumWhoCanCommentTypes",
          "traits": {
            "smithy.api#documentation": "Controls which roles are allowed to comment on posts in this forum.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "who_can_post": {
          "target": "com.whop.forums#ForumWhoCanPostTypes",
          "traits": {
            "smithy.api#documentation": "Controls which roles are allowed to create new posts in this forum.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.forums#UpdateForum": {
      "type": "operation",
      "input": {
        "target": "com.whop.forums#UpdateForumRequest"
      },
      "output": {
        "target": "com.whop.forums#Forum"
      },
      "errors": [
        {
          "target": "com.whop.forums#BadRequest"
        },
        {
          "target": "com.whop.forums#Forbidden"
        },
        {
          "target": "com.whop.forums#NotFound"
        },
        {
          "target": "com.whop.forums#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/forums/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update forum\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nUpdate moderation and notification settings for a forum, such as who can post, who can comment, and email notification preferences.\n\nRequired permissions:\n - `forum:moderate`"
      }
    },
    "com.whop.forums#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.forums#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.forums#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.forums#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.whop.forums#Forums": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.forums#ListForum"
        },
        {
          "target": "com.whop.forums#RetrieveForum"
        },
        {
          "target": "com.whop.forums#UpdateForum"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
