{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.forum_posts#ListForumPostRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before"
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first"
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last"
          }
        },
        "experience_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "experience_id",
            "smithy.api#required": {}
          }
        },
        "include_bounty_anchors": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_bounty_anchors"
          }
        },
        "parent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "parent_id"
          }
        },
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "pinned"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.forum_posts#ForumPostListItem": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.whop.forum_posts#ForumPostListItemAttachmentsList",
          "traits": {
            "smithy.api#documentation": "All file attachments on this post, such as images, documents, and videos.",
            "smithy.api#required": {}
          }
        },
        "comment_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of direct comments on this post.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the forum post in Markdown format. Null if the post is paywalled and the current user does not have access.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this post was created, as a Unix timestamp.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a unique identifier that is Base64 obfuscated. It is often used to refetch an object or as key for a cache. The ID type appears in a JSON response as a String; however, it is not intended to be human-readable. When expected as an input type, any string (such as `\"VXNlci0xMA==\"`) or integer (such as `4`) input value will be accepted as an ID.",
            "smithy.api#required": {}
          }
        },
        "is_edited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this post has been edited after its initial creation.",
            "smithy.api#required": {}
          }
        },
        "is_pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this post is pinned to the top of the forum feed.",
            "smithy.api#required": {}
          }
        },
        "is_poster_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the author of this post is an admin of the company that owns the forum.",
            "smithy.api#required": {}
          }
        },
        "like_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of like reactions this post has received.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "parent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the parent post. Null if this is a top-level post.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The headline of the forum post. Null if the post has no title.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this post was last updated, as a Unix timestamp.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.forum_posts#ForumPostListItemUser",
          "traits": {
            "smithy.api#documentation": "The user who authored this forum post.",
            "smithy.api#required": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of times this post has been viewed by users.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A post or comment in a forum feed, supporting rich text, attachments, polls, and reactions."
      }
    },
    "com.whop.forum_posts#ForumPostListItemAttachmentsItem": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uploaded file MIME type, such as image/jpeg, video/mp4, or audio/mpeg.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original filename of the uploaded attachment, including its file extension.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a unique identifier that is Base64 obfuscated. It is often used to refetch an object or as key for a cache. The ID type appears in a JSON response as a String; however, it is not intended to be human-readable. When expected as an input type, any string (such as `\"VXNlci0xMA==\"`) or integer (such as `4`) input value will be accepted as an ID.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pre-optimized URL for rendering this attachment on the client. This should be used for displaying attachments in apps.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an image attachment"
      }
    },
    "com.whop.forum_posts#ForumPostListItemAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.forum_posts#ForumPostListItemAttachmentsItem"
      },
      "traits": {
        "smithy.api#documentation": "All file attachments on this post, such as images, documents, and videos."
      }
    },
    "com.whop.forum_posts#ForumPostListItemUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user who authored this forum post."
      }
    },
    "com.whop.forum_posts#ListForumPostResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.forum_posts#ForumPostListItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of nodes."
      }
    },
    "com.whop.forum_posts#PageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about pagination in a connection."
      }
    },
    "com.whop.forum_posts#ListForumPostResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.forum_posts#ListForumPostResponseDataList",
          "traits": {
            "smithy.api#documentation": "A list of nodes.",
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.forum_posts#PageInfo",
          "traits": {
            "smithy.api#documentation": "Information to aid in pagination.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.forum_posts#ListForumPost": {
      "type": "operation",
      "input": {
        "target": "com.whop.forum_posts#ListForumPostRequest"
      },
      "output": {
        "target": "com.whop.forum_posts#ListForumPostResponse"
      },
      "errors": [
        {
          "target": "com.whop.forum_posts#BadRequest"
        },
        {
          "target": "com.whop.forum_posts#Forbidden"
        },
        {
          "target": "com.whop.forum_posts#NotFound"
        },
        {
          "target": "com.whop.forum_posts#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/forum_posts",
          "code": 200
        },
        "smithy.api#documentation": "List forum posts\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nReturns a paginated list of forum posts within a specific experience, with optional filtering by parent post or pinned status.\n\nRequired permissions:\n - `forum:read`",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.forum_posts#CreateForumPostRequestAttachmentsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an existing file object.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for an attachment"
      }
    },
    "com.whop.forum_posts#CreateForumPostRequestAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.forum_posts#CreateForumPostRequestAttachmentsItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of file attachments to include with the post, such as images or videos."
      }
    },
    "com.whop.forum_posts#Currencies": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usd"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgd"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inr"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aud"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brl"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cad"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dkk"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eur"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nok"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gbp"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sek"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chf"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hkd"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "huf"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpy"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mxn"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "myr"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pln"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "czk"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nzd"
          }
        },
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aed"
          }
        },
        "ETH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eth"
          }
        },
        "APE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ape"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cop"
          }
        },
        "RON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ron"
          }
        },
        "THB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thb"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bgn"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idr"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dop"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "php"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "krw"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twd"
          }
        },
        "VND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vnd"
          }
        },
        "PKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkr"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clp"
          }
        },
        "UYU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uyu"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ars"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zar"
          }
        },
        "DZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dzd"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tnd"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mad"
          }
        },
        "KES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kes"
          }
        },
        "KWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kwd"
          }
        },
        "JOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jod"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "XCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xcd"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd"
          }
        },
        "BHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhd"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bob"
          }
        },
        "BAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bam"
          }
        },
        "KHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "khr"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crc"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xof"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "egp"
          }
        },
        "ETB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "etb"
          }
        },
        "GMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gmd"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ghs"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gtq"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gyd"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ils"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jmd"
          }
        },
        "MOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mop"
          }
        },
        "MGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mga"
          }
        },
        "MUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mur"
          }
        },
        "MDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mdl"
          }
        },
        "MNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnt"
          }
        },
        "NAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nad"
          }
        },
        "NGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ngn"
          }
        },
        "MKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mkd"
          }
        },
        "OMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "omr"
          }
        },
        "PYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pyg"
          }
        },
        "PEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pen"
          }
        },
        "QAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qar"
          }
        },
        "RWF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rwf"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sar"
          }
        },
        "RSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsd"
          }
        },
        "LKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lkr"
          }
        },
        "TZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tzs"
          }
        },
        "TTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttd"
          }
        },
        "UZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uzs"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rub"
          }
        },
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "btc"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cny"
          }
        },
        "USDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdt"
          }
        },
        "KZT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kzt"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awg"
          }
        },
        "WHOP_USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whop_usd"
          }
        },
        "XAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xau"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available currencies on the platform"
      }
    },
    "com.whop.forum_posts#CreateForumPostRequestPollOptionsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sequential ID for the poll option (starting from '1')",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The text of the poll option",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input type for a single poll option"
      }
    },
    "com.whop.forum_posts#CreateForumPostRequestPollOptionsList": {
      "type": "list",
      "member": {
        "target": "com.whop.forum_posts#CreateForumPostRequestPollOptionsItem"
      },
      "traits": {
        "smithy.api#documentation": "The options for the poll. Must have sequential IDs starting from 1"
      }
    },
    "com.whop.forum_posts#CreateForumPostRequestPoll": {
      "type": "structure",
      "members": {
        "options": {
          "target": "com.whop.forum_posts#CreateForumPostRequestPollOptionsList",
          "traits": {
            "smithy.api#documentation": "The options for the poll. Must have sequential IDs starting from 1",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A poll to attach to this post, allowing members to vote on options."
      }
    },
    "com.whop.forum_posts#ForumPostVisibilityTypes": {
      "type": "enum",
      "members": {
        "MEMBERS_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "members_only"
          }
        },
        "GLOBALLY_VISIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "globally_visible"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The visibility types for forum posts"
      }
    },
    "com.whop.forum_posts#CreateForumPostRequest": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.whop.forum_posts#CreateForumPostRequestAttachmentsList",
          "traits": {
            "smithy.api#documentation": "A list of file attachments to include with the post, such as images or videos.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the company whose public forum to post in. Required when experience_id is 'public'. For example, 'biz_xxxxx'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The main body of the post in Markdown format. For example, 'Check out this **update**'. Hidden if the post is paywalled and the viewer has not purchased access.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "experience_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the experience to create this post in. For example, 'exp_xxxxx'. Pass 'public' along with company_id to automatically use the company's public forum.",
            "smithy.api#required": {}
          }
        },
        "is_mention": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether to send this post as a mention notification to all users in the experience who have mentions enabled.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "parent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the parent post to comment on. Omit this field to create a top-level post.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "paywall_amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The price to unlock this post in the specified paywall currency. For example, 5.00 for $5.00. When set, users must purchase access to view the post content.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "paywall_currency": {
          "target": "com.whop.forum_posts#Currencies",
          "traits": {
            "smithy.api#documentation": "The currency for the paywall price on this post. When set along with paywall_amount, users must purchase access to view the post content.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this post should be pinned to the top of the forum.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "poll": {
          "target": "com.whop.forum_posts#CreateForumPostRequestPoll",
          "traits": {
            "smithy.api#documentation": "A poll to attach to this post, allowing members to vote on options.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "rich_content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The rich content of the post in Tiptap JSON format. When provided, takes priority over the markdown content field for rendering.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The title of the post, displayed prominently at the top. Required for paywalled posts as it remains visible to non-purchasers.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "visibility": {
          "target": "com.whop.forum_posts#ForumPostVisibilityTypes",
          "traits": {
            "smithy.api#documentation": "Controls who can see this forum post, such as members only or public.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.forum_posts#ForumPost": {
      "type": "structure",
      "members": {
        "attachments": {
          "target": "com.whop.forum_posts#ForumPostAttachmentsList",
          "traits": {
            "smithy.api#documentation": "All file attachments on this post, such as images, documents, and videos.",
            "smithy.api#required": {}
          }
        },
        "comment_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of direct comments on this post.",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The body of the forum post in Markdown format. Null if the post is paywalled and the current user does not have access.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this post was created, as a Unix timestamp.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a unique identifier that is Base64 obfuscated. It is often used to refetch an object or as key for a cache. The ID type appears in a JSON response as a String; however, it is not intended to be human-readable. When expected as an input type, any string (such as `\"VXNlci0xMA==\"`) or integer (such as `4`) input value will be accepted as an ID.",
            "smithy.api#required": {}
          }
        },
        "is_edited": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this post has been edited after its initial creation.",
            "smithy.api#required": {}
          }
        },
        "is_pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this post is pinned to the top of the forum feed.",
            "smithy.api#required": {}
          }
        },
        "is_poster_admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the author of this post is an admin of the company that owns the forum.",
            "smithy.api#required": {}
          }
        },
        "like_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of like reactions this post has received.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "parent_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the parent post. Null if this is a top-level post.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The headline of the forum post. Null if the post has no title.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time this post was last updated, as a Unix timestamp.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.forum_posts#ForumPostUser",
          "traits": {
            "smithy.api#documentation": "The user who authored this forum post.",
            "smithy.api#required": {}
          }
        },
        "view_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The total number of times this post has been viewed by users.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A post or comment in a forum feed, supporting rich text, attachments, polls, and reactions."
      }
    },
    "com.whop.forum_posts#ForumPostAttachmentsItem": {
      "type": "structure",
      "members": {
        "content_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Uploaded file MIME type, such as image/jpeg, video/mp4, or audio/mpeg.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The original filename of the uploaded attachment, including its file extension.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Represents a unique identifier that is Base64 obfuscated. It is often used to refetch an object or as key for a cache. The ID type appears in a JSON response as a String; however, it is not intended to be human-readable. When expected as an input type, any string (such as `\"VXNlci0xMA==\"`) or integer (such as `4`) input value will be accepted as an ID.",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A pre-optimized URL for rendering this attachment on the client. This should be used for displaying attachments in apps.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Represents an image attachment"
      }
    },
    "com.whop.forum_posts#ForumPostAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.forum_posts#ForumPostAttachmentsItem"
      },
      "traits": {
        "smithy.api#documentation": "All file attachments on this post, such as images, documents, and videos."
      }
    },
    "com.whop.forum_posts#ForumPostUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user who authored this forum post."
      }
    },
    "com.whop.forum_posts#CreateForumPost": {
      "type": "operation",
      "input": {
        "target": "com.whop.forum_posts#CreateForumPostRequest"
      },
      "output": {
        "target": "com.whop.forum_posts#ForumPost"
      },
      "errors": [
        {
          "target": "com.whop.forum_posts#BadRequest"
        },
        {
          "target": "com.whop.forum_posts#Forbidden"
        },
        {
          "target": "com.whop.forum_posts#NotFound"
        },
        {
          "target": "com.whop.forum_posts#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/forum_posts",
          "code": 200
        },
        "smithy.api#documentation": "Create forum post\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nCreate a new forum post or comment within an experience. Supports text content, attachments, polls, paywalling, and pinning. Pass experience_id 'public' with a company_id to post to a company's public forum.\n\nRequired permissions:\n - `forum:post:create`"
      }
    },
    "com.whop.forum_posts#RetrieveForumPostRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the forum post to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.forum_posts#RetrieveForumPost": {
      "type": "operation",
      "input": {
        "target": "com.whop.forum_posts#RetrieveForumPostRequest"
      },
      "output": {
        "target": "com.whop.forum_posts#ForumPost"
      },
      "errors": [
        {
          "target": "com.whop.forum_posts#BadRequest"
        },
        {
          "target": "com.whop.forum_posts#Forbidden"
        },
        {
          "target": "com.whop.forum_posts#NotFound"
        },
        {
          "target": "com.whop.forum_posts#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/forum_posts/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve forum post\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRetrieves the details of an existing forum post.\n\nRequired permissions:\n - `forum:read`"
      }
    },
    "com.whop.forum_posts#UpdateForumPostRequestAttachmentsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of an existing file object.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Input for an attachment"
      }
    },
    "com.whop.forum_posts#UpdateForumPostRequestAttachmentsList": {
      "type": "list",
      "member": {
        "target": "com.whop.forum_posts#UpdateForumPostRequestAttachmentsItem"
      },
      "traits": {
        "smithy.api#documentation": "A replacement list of file attachments for this post, such as images or videos."
      }
    },
    "com.whop.forum_posts#UpdateForumPostRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the forum post to update."
          }
        },
        "attachments": {
          "target": "com.whop.forum_posts#UpdateForumPostRequestAttachmentsList",
          "traits": {
            "smithy.api#documentation": "A replacement list of file attachments for this post, such as images or videos.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "content": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The updated body of the post in Markdown format. For example, 'Check out this **update**'. Hidden if the post is paywalled and the viewer has not purchased access.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "is_pinned": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether this post should be pinned to the top of the forum. Only top-level posts can be pinned, not comments.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The updated title of the post, displayed prominently at the top. Required for paywalled posts as it remains visible to non-purchasers.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "visibility": {
          "target": "com.whop.forum_posts#ForumPostVisibilityTypes",
          "traits": {
            "smithy.api#documentation": "Controls who can see this forum post, such as members only or public.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.forum_posts#UpdateForumPost": {
      "type": "operation",
      "input": {
        "target": "com.whop.forum_posts#UpdateForumPostRequest"
      },
      "output": {
        "target": "com.whop.forum_posts#ForumPost"
      },
      "errors": [
        {
          "target": "com.whop.forum_posts#BadRequest"
        },
        {
          "target": "com.whop.forum_posts#Forbidden"
        },
        {
          "target": "com.whop.forum_posts#NotFound"
        },
        {
          "target": "com.whop.forum_posts#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/forum_posts/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update forum post\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nEdit the content, attachments, pinned status, or visibility of an existing forum post or comment."
      }
    },
    "com.whop.forum_posts#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.forum_posts#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.forum_posts#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.forum_posts#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.whop.forum_posts#ForumPosts": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.forum_posts#ListForumPost"
        },
        {
          "target": "com.whop.forum_posts#CreateForumPost"
        },
        {
          "target": "com.whop.forum_posts#RetrieveForumPost"
        },
        {
          "target": "com.whop.forum_posts#UpdateForumPost"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
