{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.leads#ListLeadRequestProductIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Filter leads to only those associated with these specific product identifiers."
      }
    },
    "com.whop.leads#ListLeadRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before"
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first"
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last"
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "company_id",
            "smithy.api#required": {}
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after"
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before"
          }
        },
        "product_ids": {
          "target": "com.whop.leads#ListLeadRequestProductIdsList",
          "traits": {
            "smithy.api#httpQuery": "product_ids"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.leads#LeadListItem": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime the lead was created.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the lead.",
            "smithy.api#required": {}
          }
        },
        "member": {
          "target": "com.whop.leads#LeadListItemMember",
          "traits": {
            "smithy.api#documentation": "The company member record if this lead has converted into a paying customer. Null if the lead has not converted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.whop.leads#LeadListItemMetadataMap",
          "traits": {
            "smithy.api#documentation": "Custom key-value pairs attached to this lead. Null if no metadata was provided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "product": {
          "target": "com.whop.leads#LeadListItemProduct",
          "traits": {
            "smithy.api#documentation": "The product the lead expressed interest in. Null if the lead is not associated with a specific product.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "referrer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the page that referred this lead to the company. Null if no referrer was captured.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime the lead was last updated.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.leads#LeadListItemUser",
          "traits": {
            "smithy.api#documentation": "The user account associated with this lead.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A prospective customer who has expressed interest in a company or product but has not yet purchased."
      }
    },
    "com.whop.leads#LeadListItemMember": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the company member.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The company member record if this lead has converted into a paying customer. Null if the lead has not converted."
      }
    },
    "com.whop.leads#LeadListItemMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Custom key-value pairs attached to this lead. Null if no metadata was provided."
      }
    },
    "com.whop.leads#LeadListItemProduct": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the product.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the product shown to customers on the product page and in search results.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The product the lead expressed interest in. Null if the lead is not associated with a specific product."
      }
    },
    "com.whop.leads#LeadListItemUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. Requires the member:email:read permission to access. Null if not authorized.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user account associated with this lead."
      }
    },
    "com.whop.leads#ListLeadResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.leads#LeadListItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of nodes."
      }
    },
    "com.whop.leads#PageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about pagination in a connection."
      }
    },
    "com.whop.leads#ListLeadResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.leads#ListLeadResponseDataList",
          "traits": {
            "smithy.api#documentation": "A list of nodes.",
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.leads#PageInfo",
          "traits": {
            "smithy.api#documentation": "Information to aid in pagination.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.leads#ListLead": {
      "type": "operation",
      "input": {
        "target": "com.whop.leads#ListLeadRequest"
      },
      "output": {
        "target": "com.whop.leads#ListLeadResponse"
      },
      "errors": [
        {
          "target": "com.whop.leads#BadRequest"
        },
        {
          "target": "com.whop.leads#Forbidden"
        },
        {
          "target": "com.whop.leads#NotFound"
        },
        {
          "target": "com.whop.leads#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/leads",
          "code": 200
        },
        "smithy.api#documentation": "List leads\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nReturns a paginated list of leads for a company, with optional filtering by product and creation date.\n\nRequired permissions:\n - `lead:basic:read`\n - `member:email:read`\n - `access_pass:basic:read`\n - `member:basic:read`",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.leads#CreateLeadRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A JSON object of custom metadata to attach to the lead for tracking purposes."
      }
    },
    "com.whop.leads#CreateLeadRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the company to create the lead for, starting with 'biz_'.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.whop.leads#CreateLeadRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "A JSON object of custom metadata to attach to the lead for tracking purposes.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "product_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the product the lead is interested in, starting with 'prod_'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "referrer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The referral URL that brought the lead to the company, such as 'https://example.com/landing'.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the user to record as the lead. If authenticated as a user, that user is used automatically.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.leads#Lead": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime the lead was created.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the lead.",
            "smithy.api#required": {}
          }
        },
        "member": {
          "target": "com.whop.leads#LeadMember",
          "traits": {
            "smithy.api#documentation": "The company member record if this lead has converted into a paying customer. Null if the lead has not converted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.whop.leads#LeadMetadataMap",
          "traits": {
            "smithy.api#documentation": "Custom key-value pairs attached to this lead. Null if no metadata was provided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "product": {
          "target": "com.whop.leads#LeadProduct",
          "traits": {
            "smithy.api#documentation": "The product the lead expressed interest in. Null if the lead is not associated with a specific product.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "referrer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the page that referred this lead to the company. Null if no referrer was captured.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime the lead was last updated.",
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "com.whop.leads#LeadUser",
          "traits": {
            "smithy.api#documentation": "The user account associated with this lead.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A prospective customer who has expressed interest in a company or product but has not yet purchased."
      }
    },
    "com.whop.leads#LeadMember": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the company member.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The company member record if this lead has converted into a paying customer. Null if the lead has not converted."
      }
    },
    "com.whop.leads#LeadMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Custom key-value pairs attached to this lead. Null if no metadata was provided."
      }
    },
    "com.whop.leads#LeadProduct": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the product.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the product shown to customers on the product page and in search results.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The product the lead expressed interest in. Null if the lead is not associated with a specific product."
      }
    },
    "com.whop.leads#LeadUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. Requires the member:email:read permission to access. Null if not authorized.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user account associated with this lead."
      }
    },
    "com.whop.leads#CreateLead": {
      "type": "operation",
      "input": {
        "target": "com.whop.leads#CreateLeadRequest"
      },
      "output": {
        "target": "com.whop.leads#Lead"
      },
      "errors": [
        {
          "target": "com.whop.leads#BadRequest"
        },
        {
          "target": "com.whop.leads#Forbidden"
        },
        {
          "target": "com.whop.leads#NotFound"
        },
        {
          "target": "com.whop.leads#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/leads",
          "code": 200
        },
        "smithy.api#documentation": "Create lead\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRecord a new lead for a company, capturing a potential customer's interest in a specific product.\n\nRequired permissions:\n - `lead:manage`\n - `member:email:read`\n - `access_pass:basic:read`\n - `member:basic:read`"
      }
    },
    "com.whop.leads#RetrieveLeadRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the lead to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.leads#RetrieveLead": {
      "type": "operation",
      "input": {
        "target": "com.whop.leads#RetrieveLeadRequest"
      },
      "output": {
        "target": "com.whop.leads#Lead"
      },
      "errors": [
        {
          "target": "com.whop.leads#BadRequest"
        },
        {
          "target": "com.whop.leads#Forbidden"
        },
        {
          "target": "com.whop.leads#NotFound"
        },
        {
          "target": "com.whop.leads#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/leads/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve lead\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRetrieves the details of an existing lead.\n\nRequired permissions:\n - `lead:basic:read`\n - `member:email:read`\n - `access_pass:basic:read`\n - `member:basic:read`"
      }
    },
    "com.whop.leads#UpdateLeadRequestMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "A JSON object of custom metadata to set on the lead, replacing any existing metadata."
      }
    },
    "com.whop.leads#UpdateLeadRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the lead to update, starting with 'lead_'."
          }
        },
        "metadata": {
          "target": "com.whop.leads#UpdateLeadRequestMetadataMap",
          "traits": {
            "smithy.api#documentation": "A JSON object of custom metadata to set on the lead, replacing any existing metadata.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "referrer": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The updated referral URL for the lead, such as 'https://example.com/landing'.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.leads#UpdateLead": {
      "type": "operation",
      "input": {
        "target": "com.whop.leads#UpdateLeadRequest"
      },
      "output": {
        "target": "com.whop.leads#Lead"
      },
      "errors": [
        {
          "target": "com.whop.leads#BadRequest"
        },
        {
          "target": "com.whop.leads#Forbidden"
        },
        {
          "target": "com.whop.leads#NotFound"
        },
        {
          "target": "com.whop.leads#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/leads/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update lead\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nUpdate the metadata or referrer information on an existing lead record.\n\nRequired permissions:\n - `lead:manage`\n - `member:email:read`\n - `access_pass:basic:read`\n - `member:basic:read`"
      }
    },
    "com.whop.leads#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.leads#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.leads#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.leads#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.whop.leads#Leads": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.leads#ListLead"
        },
        {
          "target": "com.whop.leads#CreateLead"
        },
        {
          "target": "com.whop.leads#RetrieveLead"
        },
        {
          "target": "com.whop.leads#UpdateLead"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
