{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.people#ListPeopleRequestSourceList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleRequestAttributionModel": {
      "type": "enum",
      "members": {
        "LAST_TOUCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_touch"
          }
        },
        "FIRST_TOUCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_touch"
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleRequestEventNameList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleRequestOrder": {
      "type": "enum",
      "members": {
        "FIRST_SEEN_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_seen_at"
          }
        },
        "LAST_SEEN_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_seen_at"
          }
        },
        "FIRST_PURCHASE_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first_purchase_at"
          }
        },
        "LAST_PURCHASE_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_purchase_at"
          }
        },
        "PURCHASE_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "purchase_count"
          }
        },
        "EVENT_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_count"
          }
        },
        "LTV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ltv"
          }
        },
        "AOV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aov"
          }
        },
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "name"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Account ID, prefixed `biz_`. Optional for account API keys; required for credentials that can access multiple accounts."
          }
        },
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#documentation": "Search people by name, email, phone, or whop user ID (case-insensitive substring match)."
          }
        },
        "source": {
          "target": "com.whop.people#ListPeopleRequestSourceList",
          "traits": {
            "smithy.api#httpQuery": "source",
            "smithy.api#documentation": "Only include people acquired from any of these sources — canonical paths (whop:<campaign>:<group>:<ad>, ext:<platform>:..., referrer:<domain>, direct, other), exact or with a trailing :* prefix. The same vocabulary the events / people metrics use."
          }
        },
        "attribution_model": {
          "target": "com.whop.people#ListPeopleRequestAttributionModel",
          "traits": {
            "smithy.api#httpQuery": "attribution_model",
            "smithy.api#documentation": "Attribution model the source filter matches against (defaults to last_touch)."
          }
        },
        "event_name": {
          "target": "com.whop.people#ListPeopleRequestEventNameList",
          "traits": {
            "smithy.api#httpQuery": "event_name",
            "smithy.api#documentation": "Only include people who fired any of these events, e.g. payment.completed or page.checkout.view."
          }
        },
        "custom_event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "custom_event",
            "smithy.api#documentation": "Only include people who fired this custom pixel event."
          }
        },
        "event_from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "event_from",
            "smithy.api#documentation": "With event_to plus an event or source filter, switches to exact-population mode: person ids are resolved and paginated on the events side within this window (the same query the people metric counts), then hydrated per page."
          }
        },
        "event_to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "event_to",
            "smithy.api#documentation": "The inclusive end of the event window for exact-population mode."
          }
        },
        "audience_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "audience_id",
            "smithy.api#documentation": "Only include people in this audience. An audience that keeps itself up to date resolves to the People filters that define it, so this always reflects who matches now; uploaded lists and point-in-time snapshots match their recorded members."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "Only include the person linked to this whop user ID."
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "email",
            "smithy.api#documentation": "Only include the person linked to this email address."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "phone",
            "smithy.api#documentation": "Only include the person linked to this phone number."
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "country",
            "smithy.api#documentation": "Only include people whose most recent visit came from this ISO 3166-1 alpha-2 country code."
          }
        },
        "has_purchased": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "has_purchased",
            "smithy.api#documentation": "true for customers only, false for people who have never purchased."
          }
        },
        "contactable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "contactable",
            "smithy.api#documentation": "true for people who have an email address or phone number — the ones an ad platform can match."
          }
        },
        "first_seen_within_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first_seen_within_days",
            "smithy.api#documentation": "Only include people first seen within this many days, as a rolling window."
          }
        },
        "last_seen_within_days": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last_seen_within_days",
            "smithy.api#documentation": "Only include people last seen within this many days, as a rolling window."
          }
        },
        "first_seen_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "first_seen_after",
            "smithy.api#documentation": "Only include people first seen at or after this ISO 8601 timestamp."
          }
        },
        "first_seen_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "first_seen_before",
            "smithy.api#documentation": "Only include people first seen before this ISO 8601 timestamp."
          }
        },
        "last_seen_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "last_seen_after",
            "smithy.api#documentation": "Only include people last seen at or after this ISO 8601 timestamp."
          }
        },
        "last_seen_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "last_seen_before",
            "smithy.api#documentation": "Only include people last seen before this ISO 8601 timestamp."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "The number of people to return (default 100, max 100)."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor for fetching people after a previous page."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor for fetching people before a later page."
          }
        },
        "order": {
          "target": "com.whop.people#ListPeopleRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Column to sort by. Defaults to last_seen_at."
          }
        },
        "direction": {
          "target": "com.whop.people#ListPeopleRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction. Defaults to desc."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.people#ListPeopleResponseDataItemDevice": {
      "type": "structure",
      "members": {
        "browser": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "device": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemFirstSourceAd": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemFirstSourceAdGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemFirstSourceCampaign": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemFirstSourceType": {
      "type": "enum",
      "members": {
        "AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_click"
          }
        },
        "LEAD_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lead_form"
          }
        },
        "EXTERNAL_AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external_ad_click"
          }
        },
        "REFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrer"
          }
        },
        "UTM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm"
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemFirstSource": {
      "type": "structure",
      "members": {
        "ad": {
          "target": "com.whop.people#ListPeopleResponseDataItemFirstSourceAd",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ad_group": {
          "target": "com.whop.people#ListPeopleResponseDataItemFirstSourceAdGroup",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "campaign": {
          "target": "com.whop.people#ListPeopleResponseDataItemFirstSourceCampaign",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "occurred_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.whop.people#ListPeopleResponseDataItemFirstSourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utm_source": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where a visit came from: a whop ad click, a lead form, an external ad, or a referring site."
      }
    },
    "com.whop.people#ListPeopleResponseDataItemLastSourceAd": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemLastSourceAdGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemLastSourceCampaign": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemLastSourceType": {
      "type": "enum",
      "members": {
        "AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_click"
          }
        },
        "LEAD_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lead_form"
          }
        },
        "EXTERNAL_AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external_ad_click"
          }
        },
        "REFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrer"
          }
        },
        "UTM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm"
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemLastSource": {
      "type": "structure",
      "members": {
        "ad": {
          "target": "com.whop.people#ListPeopleResponseDataItemLastSourceAd",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ad_group": {
          "target": "com.whop.people#ListPeopleResponseDataItemLastSourceAdGroup",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "campaign": {
          "target": "com.whop.people#ListPeopleResponseDataItemLastSourceCampaign",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "occurred_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.whop.people#ListPeopleResponseDataItemLastSourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utm_source": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where a visit came from: a whop ad click, a lead form, an external ad, or a referring site."
      }
    },
    "com.whop.people#ListPeopleResponseDataItemLocation": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "continent": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataItemMember": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "joined_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "usd_total_spend": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "The user's member record at this account, when they are a member of it."
      }
    },
    "com.whop.people#ListPeopleResponseDataItemUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "profile_pic_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The person's primary whop user, when one of their identities is a whop account."
      }
    },
    "com.whop.people#ListPeopleResponseDataItem": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aov": {
          "target": "smithy.api#Double"
        },
        "device": {
          "target": "com.whop.people#ListPeopleResponseDataItemDevice"
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email from the person's most recent event that carried one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_purchase_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_source": {
          "target": "com.whop.people#ListPeopleResponseDataItemFirstSource",
          "traits": {
            "smithy.api#documentation": "Where a visit came from: a whop ad click, a lead form, an external ad, or a referring site.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_ip": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_purchase_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_source": {
          "target": "com.whop.people#ListPeopleResponseDataItemLastSource",
          "traits": {
            "smithy.api#documentation": "Where a visit came from: a whop ad click, a lead form, an external ad, or a referring site.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "location": {
          "target": "com.whop.people#ListPeopleResponseDataItemLocation"
        },
        "ltv": {
          "target": "smithy.api#Double"
        },
        "member": {
          "target": "com.whop.people#ListPeopleResponseDataItemMember",
          "traits": {
            "smithy.api#documentation": "The user's member record at this account, when they are a member of it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name from the person's most recent event that carried one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone from the person's most recent event that carried one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "purchase_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "com.whop.people#ListPeopleResponseDataItemUser",
          "traits": {
            "smithy.api#documentation": "The person's primary whop user, when one of their identities is a whop account.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#ListPeopleResponseDataItem"
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#ListPeopleResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.people#ListPeopleResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.people#ListPeopleResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Integer"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.people#ListPeople": {
      "type": "operation",
      "input": {
        "target": "com.whop.people#ListPeopleRequest"
      },
      "output": {
        "target": "com.whop.people#ListPeopleResponse"
      },
      "errors": [
        {
          "target": "com.whop.people#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/people",
          "code": 200
        },
        "smithy.api#documentation": "List People\n\nLists the people (visitors and customers) of an account: the identity-linked person profiles aggregated from every pixel, payment, and platform event — identities, purchases and LTV, geo/device profile, traffic sources, and first/last marketing touches.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.people#RetrievePersonRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The person ID, user ID, email address, or phone number to look up."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Account ID, prefixed `biz_`. Optional for account API keys; required for credentials that can access multiple accounts."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.people#RetrievePersonResponseAudienceIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseCustomEventNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseDevice": {
      "type": "structure",
      "members": {
        "browser": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "device": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "os": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseEmailsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Every linked email, primary first."
      }
    },
    "com.whop.people#RetrievePersonResponseEventNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseFirstSourceAd": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseFirstSourceAdGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseFirstSourceCampaign": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseFirstSourceType": {
      "type": "enum",
      "members": {
        "AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_click"
          }
        },
        "LEAD_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lead_form"
          }
        },
        "EXTERNAL_AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external_ad_click"
          }
        },
        "REFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrer"
          }
        },
        "UTM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm"
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseFirstSource": {
      "type": "structure",
      "members": {
        "ad": {
          "target": "com.whop.people#RetrievePersonResponseFirstSourceAd",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ad_group": {
          "target": "com.whop.people#RetrievePersonResponseFirstSourceAdGroup",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "campaign": {
          "target": "com.whop.people#RetrievePersonResponseFirstSourceCampaign",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "occurred_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.whop.people#RetrievePersonResponseFirstSourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utm_source": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where a visit came from: a whop ad click, a lead form, an external ad, or a referring site."
      }
    },
    "com.whop.people#RetrievePersonResponseLastSourceAd": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseLastSourceAdGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseLastSourceCampaign": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseLastSourceType": {
      "type": "enum",
      "members": {
        "AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_click"
          }
        },
        "LEAD_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lead_form"
          }
        },
        "EXTERNAL_AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external_ad_click"
          }
        },
        "REFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrer"
          }
        },
        "UTM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm"
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseLastSource": {
      "type": "structure",
      "members": {
        "ad": {
          "target": "com.whop.people#RetrievePersonResponseLastSourceAd",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ad_group": {
          "target": "com.whop.people#RetrievePersonResponseLastSourceAdGroup",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "campaign": {
          "target": "com.whop.people#RetrievePersonResponseLastSourceCampaign",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "occurred_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.whop.people#RetrievePersonResponseLastSourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utm_source": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where a visit came from: a whop ad click, a lead form, an external ad, or a referring site."
      }
    },
    "com.whop.people#RetrievePersonResponseLocation": {
      "type": "structure",
      "members": {
        "city": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "continent": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "country": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseMember": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "joined_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "usd_total_spend": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#documentation": "The user's member record at this account, when they are a member of it."
      }
    },
    "com.whop.people#RetrievePersonResponseNamesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Every name the person's linked identities carried, primary first."
      }
    },
    "com.whop.people#RetrievePersonResponsePhonesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Every linked phone, primary first."
      }
    },
    "com.whop.people#RetrievePersonResponsePurchasesItem": {
      "type": "structure",
      "members": {
        "event_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "occurred_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "usd_value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponsePurchasesList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponsePurchasesItem"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseRolesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseSourcesItemAd": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseSourcesItemAdGroup": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseSourcesItemCampaign": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseSourcesItemType": {
      "type": "enum",
      "members": {
        "AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ad_click"
          }
        },
        "LEAD_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lead_form"
          }
        },
        "EXTERNAL_AD_CLICK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "external_ad_click"
          }
        },
        "REFERRER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "referrer"
          }
        },
        "UTM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "utm"
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseSourcesItem": {
      "type": "structure",
      "members": {
        "ad": {
          "target": "com.whop.people#RetrievePersonResponseSourcesItemAd",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "ad_group": {
          "target": "com.whop.people#RetrievePersonResponseSourcesItemAdGroup",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "campaign": {
          "target": "com.whop.people#RetrievePersonResponseSourcesItemCampaign",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "domain": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "occurred_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "type": {
          "target": "com.whop.people#RetrievePersonResponseSourcesItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "utm_source": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where a visit came from: a whop ad click, a lead form, an external ad, or a referring site."
      }
    },
    "com.whop.people#RetrievePersonResponseSourcesList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponseSourcesItem"
      },
      "traits": {
        "smithy.api#documentation": "Every distinct acquisition signal the person ever carried, ad entities hydrated."
      }
    },
    "com.whop.people#RetrievePersonResponseUsageBrowserItem": {
      "type": "structure",
      "members": {
        "events": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageBrowserList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponseUsageBrowserItem"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageCityItem": {
      "type": "structure",
      "members": {
        "events": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageCityList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponseUsageCityItem"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageCountryItem": {
      "type": "structure",
      "members": {
        "events": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageCountryList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponseUsageCountryItem"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageDeviceItem": {
      "type": "structure",
      "members": {
        "events": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageDeviceList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponseUsageDeviceItem"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageIpItem": {
      "type": "structure",
      "members": {
        "events": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageIpList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponseUsageIpItem"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageOsItem": {
      "type": "structure",
      "members": {
        "events": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageOsList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponseUsageOsItem"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageReferrerItem": {
      "type": "structure",
      "members": {
        "events": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageReferrerList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponseUsageReferrerItem"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageTimezoneItem": {
      "type": "structure",
      "members": {
        "events": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsageTimezoneList": {
      "type": "list",
      "member": {
        "target": "com.whop.people#RetrievePersonResponseUsageTimezoneItem"
      },
      "traits": {}
    },
    "com.whop.people#RetrievePersonResponseUsage": {
      "type": "structure",
      "members": {
        "browser": {
          "target": "com.whop.people#RetrievePersonResponseUsageBrowserList"
        },
        "city": {
          "target": "com.whop.people#RetrievePersonResponseUsageCityList"
        },
        "country": {
          "target": "com.whop.people#RetrievePersonResponseUsageCountryList"
        },
        "device": {
          "target": "com.whop.people#RetrievePersonResponseUsageDeviceList"
        },
        "ip": {
          "target": "com.whop.people#RetrievePersonResponseUsageIpList"
        },
        "os": {
          "target": "com.whop.people#RetrievePersonResponseUsageOsList"
        },
        "referrer": {
          "target": "com.whop.people#RetrievePersonResponseUsageReferrerList"
        },
        "timezone": {
          "target": "com.whop.people#RetrievePersonResponseUsageTimezoneList"
        }
      },
      "traits": {
        "smithy.api#documentation": "Exact usage breakdowns for the person's browser traffic (distinct events per value)."
      }
    },
    "com.whop.people#RetrievePersonResponseUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "profile_pic_url": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The person's primary whop user, when one of their identities is a whop account."
      }
    },
    "com.whop.people#RetrievePersonResponseUserIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "Every linked whop account, the most used one first."
      }
    },
    "com.whop.people#RetrievePersonResponse": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "aov": {
          "target": "smithy.api#Double"
        },
        "audience_ids": {
          "target": "com.whop.people#RetrievePersonResponseAudienceIdsList"
        },
        "custom_event_names": {
          "target": "com.whop.people#RetrievePersonResponseCustomEventNamesList"
        },
        "device": {
          "target": "com.whop.people#RetrievePersonResponseDevice"
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email from the person's most recent event that carried one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "emails": {
          "target": "com.whop.people#RetrievePersonResponseEmailsList",
          "traits": {
            "smithy.api#documentation": "Every linked email, primary first."
          }
        },
        "event_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "event_names": {
          "target": "com.whop.people#RetrievePersonResponseEventNamesList"
        },
        "first_purchase_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "first_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "first_source": {
          "target": "com.whop.people#RetrievePersonResponseFirstSource",
          "traits": {
            "smithy.api#documentation": "Where a visit came from: a whop ad click, a lead form, an external ad, or a referring site.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_ip": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_purchase_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "last_seen_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last_source": {
          "target": "com.whop.people#RetrievePersonResponseLastSource",
          "traits": {
            "smithy.api#documentation": "Where a visit came from: a whop ad click, a lead form, an external ad, or a referring site.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "location": {
          "target": "com.whop.people#RetrievePersonResponseLocation"
        },
        "ltv": {
          "target": "smithy.api#Double"
        },
        "member": {
          "target": "com.whop.people#RetrievePersonResponseMember",
          "traits": {
            "smithy.api#documentation": "The user's member record at this account, when they are a member of it.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name from the person's most recent event that carried one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "names": {
          "target": "com.whop.people#RetrievePersonResponseNamesList",
          "traits": {
            "smithy.api#documentation": "Every name the person's linked identities carried, primary first."
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone from the person's most recent event that carried one.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "phones": {
          "target": "com.whop.people#RetrievePersonResponsePhonesList",
          "traits": {
            "smithy.api#documentation": "Every linked phone, primary first."
          }
        },
        "purchase_count": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "purchases": {
          "target": "com.whop.people#RetrievePersonResponsePurchasesList"
        },
        "roles": {
          "target": "com.whop.people#RetrievePersonResponseRolesList"
        },
        "sources": {
          "target": "com.whop.people#RetrievePersonResponseSourcesList",
          "traits": {
            "smithy.api#documentation": "Every distinct acquisition signal the person ever carried, ad entities hydrated."
          }
        },
        "timezone": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "usage": {
          "target": "com.whop.people#RetrievePersonResponseUsage",
          "traits": {
            "smithy.api#documentation": "Exact usage breakdowns for the person's browser traffic (distinct events per value)."
          }
        },
        "user": {
          "target": "com.whop.people#RetrievePersonResponseUser",
          "traits": {
            "smithy.api#documentation": "The person's primary whop user, when one of their identities is a whop account.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_ids": {
          "target": "com.whop.people#RetrievePersonResponseUserIdsList",
          "traits": {
            "smithy.api#documentation": "Every linked whop account, the most used one first."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.people#RetrievePerson": {
      "type": "operation",
      "input": {
        "target": "com.whop.people#RetrievePersonRequest"
      },
      "output": {
        "target": "com.whop.people#RetrievePersonResponse"
      },
      "errors": [
        {
          "target": "com.whop.people#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/people/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve Person\n\nRetrieves one person for an account. The identifier can be a person ID (prefixed `prsn_`), a user ID (prefixed `user_`), an email address, or a phone number — merged people resolve to the surviving profile."
      }
    },
    "com.whop.people#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.people#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.people#People": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.people#ListPeople"
        },
        {
          "target": "com.whop.people#RetrievePerson"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
