{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.promo_codes#ListPromoCodesRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#ListPromoCodesRequestProductIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.promo_codes#ListPromoCodesRequestPlanIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.promo_codes#ListPromoCodesRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#ListPromoCodesRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#ListPromoCodesRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "Account whose promo codes are listed (`biz_` tag)."
          }
        },
        "status": {
          "target": "com.whop.promo_codes#ListPromoCodesRequestStatus",
          "traits": {
            "smithy.api#httpQuery": "status",
            "smithy.api#documentation": "Promo-code status. `expired` groups inactive and archived codes."
          }
        },
        "product_ids": {
          "target": "com.whop.promo_codes#ListPromoCodesRequestProductIdsList",
          "traits": {
            "smithy.api#httpQuery": "product_ids",
            "smithy.api#documentation": "Only promo codes scoped to these product IDs."
          }
        },
        "plan_ids": {
          "target": "com.whop.promo_codes#ListPromoCodesRequestPlanIdsList",
          "traits": {
            "smithy.api#httpQuery": "plan_ids",
            "smithy.api#documentation": "Only promo codes scoped to these plan IDs."
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before",
            "smithy.api#documentation": "Only promo codes created before this ISO 8601 timestamp."
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after",
            "smithy.api#documentation": "Only promo codes created after this ISO 8601 timestamp."
          }
        },
        "order": {
          "target": "com.whop.promo_codes#ListPromoCodesRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "Sort field."
          }
        },
        "direction": {
          "target": "com.whop.promo_codes#ListPromoCodesRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "Number of promo codes to return from the start of the window."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Cursor to paginate forwards from."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "Number of promo codes to return from the end of the window."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Cursor to paginate backwards from."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.promo_codes#PromoCodeListItem": {
      "type": "structure",
      "members": {
        "amount_off": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Discount amount. Percentage discounts are represented as a decimal fraction.",
            "smithy.api#required": {}
          }
        },
        "churned_users_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the promo code is restricted to churned customers.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code entered at checkout.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the promo code was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.whop.promo_codes#PromoCodeListItemCurrency",
          "traits": {
            "smithy.api#documentation": "Currency used for a fixed-amount discount.",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "com.whop.promo_codes#PromoCodeListItemDuration",
          "traits": {
            "smithy.api#documentation": "How long the discount applies.",
            "smithy.api#required": {}
          }
        },
        "existing_memberships_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the promo code applies only to existing memberships.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the promo code expires, as an ISO 8601 timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Promo code ID, prefixed `promo_`.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom key-value metadata stored on the promo code.",
            "smithy.api#required": {}
          }
        },
        "new_users_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the promo code is restricted to new customers.",
            "smithy.api#required": {}
          }
        },
        "one_per_customer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether each customer may redeem the promo code only once.",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "com.whop.promo_codes#PromoCodeProduct",
          "traits": {
            "smithy.api#documentation": "Product the promo code is restricted to, or `null` when it is not product-scoped.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "promo_duration_months": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Billing intervals the discount applies to.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "promo_type": {
          "target": "com.whop.promo_codes#PromoCodeListItemPromoType",
          "traits": {
            "smithy.api#documentation": "Whether the discount is percentage-based or a fixed amount.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.whop.promo_codes#PromoCodeListItemStatus",
          "traits": {
            "smithy.api#documentation": "Promo code lifecycle status.",
            "smithy.api#required": {}
          }
        },
        "stock": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum uses when stock is limited.",
            "smithy.api#required": {}
          }
        },
        "unlimited_stock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the promo code has no redemption limit.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the promo code was updated, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "uses": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memberships that used the promo code.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#PromoCodeListItemCurrency": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usd"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgd"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inr"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aud"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brl"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cad"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dkk"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eur"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nok"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gbp"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sek"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chf"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hkd"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "huf"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpy"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mxn"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "myr"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pln"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "czk"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nzd"
          }
        },
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aed"
          }
        },
        "ETH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eth"
          }
        },
        "APE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ape"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cop"
          }
        },
        "RON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ron"
          }
        },
        "THB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thb"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bgn"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idr"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dop"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "php"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "krw"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twd"
          }
        },
        "VND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vnd"
          }
        },
        "PKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkr"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clp"
          }
        },
        "UYU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uyu"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ars"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zar"
          }
        },
        "DZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dzd"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tnd"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mad"
          }
        },
        "KES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kes"
          }
        },
        "KWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kwd"
          }
        },
        "JOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jod"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "XCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xcd"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd"
          }
        },
        "BHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhd"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bob"
          }
        },
        "BAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bam"
          }
        },
        "KHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "khr"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crc"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xof"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "egp"
          }
        },
        "ETB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "etb"
          }
        },
        "GMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gmd"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ghs"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gtq"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gyd"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ils"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jmd"
          }
        },
        "MOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mop"
          }
        },
        "MGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mga"
          }
        },
        "MUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mur"
          }
        },
        "MDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mdl"
          }
        },
        "MNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnt"
          }
        },
        "NAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nad"
          }
        },
        "NGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ngn"
          }
        },
        "MKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mkd"
          }
        },
        "OMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "omr"
          }
        },
        "PYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pyg"
          }
        },
        "PEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pen"
          }
        },
        "QAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qar"
          }
        },
        "RWF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rwf"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sar"
          }
        },
        "RSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsd"
          }
        },
        "LKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lkr"
          }
        },
        "TZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tzs"
          }
        },
        "TTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttd"
          }
        },
        "UZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uzs"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rub"
          }
        },
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "btc"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cny"
          }
        },
        "USDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdt"
          }
        },
        "KZT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kzt"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awg"
          }
        },
        "WHOP_USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whop_usd"
          }
        },
        "XAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xau"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Currency used for a fixed-amount discount."
      }
    },
    "com.whop.promo_codes#PromoCodeListItemDuration": {
      "type": "enum",
      "members": {
        "FOREVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forever"
          }
        },
        "ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "once"
          }
        },
        "REPEATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repeating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How long the discount applies."
      }
    },
    "com.whop.promo_codes#PromoCodeProduct": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product ID, prefixed `prod_`.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Product display name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#PromoCodeListItemPromoType": {
      "type": "enum",
      "members": {
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percentage"
          }
        },
        "FLAT_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flat_amount"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the discount is percentage-based or a fixed amount."
      }
    },
    "com.whop.promo_codes#PromoCodeListItemStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Promo code lifecycle status."
      }
    },
    "com.whop.promo_codes#ListPromoCodesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.promo_codes#PromoCodeListItem"
      },
      "traits": {}
    },
    "com.whop.promo_codes#ListPromoCodesResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#ListPromoCodesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.promo_codes#ListPromoCodesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.promo_codes#ListPromoCodesResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.promo_codes#ListPromoCodes": {
      "type": "operation",
      "input": {
        "target": "com.whop.promo_codes#ListPromoCodesRequest"
      },
      "output": {
        "target": "com.whop.promo_codes#ListPromoCodesResponse"
      },
      "errors": [
        {
          "target": "com.whop.promo_codes#BadRequest"
        },
        {
          "target": "com.whop.promo_codes#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/promo_codes",
          "code": 200
        },
        "smithy.api#documentation": "List Promo Codes\n\nLists promo codes for an account with cursor pagination, filters, and sorting.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.promo_codes#CreatePromoCodeRequestBaseCurrency": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usd"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgd"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inr"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aud"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brl"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cad"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dkk"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eur"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nok"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gbp"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sek"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chf"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hkd"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "huf"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpy"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mxn"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "myr"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pln"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "czk"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nzd"
          }
        },
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aed"
          }
        },
        "ETH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eth"
          }
        },
        "APE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ape"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cop"
          }
        },
        "RON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ron"
          }
        },
        "THB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thb"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bgn"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idr"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dop"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "php"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "krw"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twd"
          }
        },
        "VND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vnd"
          }
        },
        "PKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkr"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clp"
          }
        },
        "UYU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uyu"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ars"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zar"
          }
        },
        "DZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dzd"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tnd"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mad"
          }
        },
        "KES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kes"
          }
        },
        "KWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kwd"
          }
        },
        "JOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jod"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "XCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xcd"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd"
          }
        },
        "BHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhd"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bob"
          }
        },
        "BAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bam"
          }
        },
        "KHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "khr"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crc"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xof"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "egp"
          }
        },
        "ETB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "etb"
          }
        },
        "GMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gmd"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ghs"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gtq"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gyd"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ils"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jmd"
          }
        },
        "MOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mop"
          }
        },
        "MGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mga"
          }
        },
        "MUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mur"
          }
        },
        "MDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mdl"
          }
        },
        "MNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnt"
          }
        },
        "NAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nad"
          }
        },
        "NGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ngn"
          }
        },
        "MKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mkd"
          }
        },
        "OMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "omr"
          }
        },
        "PYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pyg"
          }
        },
        "PEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pen"
          }
        },
        "QAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qar"
          }
        },
        "RWF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rwf"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sar"
          }
        },
        "RSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsd"
          }
        },
        "LKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lkr"
          }
        },
        "TZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tzs"
          }
        },
        "TTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttd"
          }
        },
        "UZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uzs"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rub"
          }
        },
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "btc"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cny"
          }
        },
        "USDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdt"
          }
        },
        "KZT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kzt"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awg"
          }
        },
        "WHOP_USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whop_usd"
          }
        },
        "XAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xau"
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#CreatePromoCodeRequestPlanIdsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.promo_codes#CreatePromoCodeRequestPromoType": {
      "type": "enum",
      "members": {
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percentage"
          }
        },
        "FLAT_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flat_amount"
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#CreatePromoCodeRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "amount_off": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "base_currency": {
          "target": "com.whop.promo_codes#CreatePromoCodeRequestBaseCurrency",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "churned_users_only": {
          "target": "smithy.api#Boolean"
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "existing_memberships_only": {
          "target": "smithy.api#Boolean"
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "new_users_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "one_per_customer": {
          "target": "smithy.api#Boolean"
        },
        "plan_ids": {
          "target": "com.whop.promo_codes#CreatePromoCodeRequestPlanIdsList"
        },
        "product_id": {
          "target": "smithy.api#String",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "promo_duration_months": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "promo_type": {
          "target": "com.whop.promo_codes#CreatePromoCodeRequestPromoType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "stock": {
          "target": "smithy.api#Integer",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "unlimited_stock": {
          "target": "smithy.api#Boolean"
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.promo_codes#PromoCode": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.whop.promo_codes#AccountSummary",
          "traits": {
            "smithy.api#documentation": "Account that owns the promo code.",
            "smithy.api#required": {}
          }
        },
        "amount_off": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Discount amount. Percentage discounts are represented as a decimal fraction.",
            "smithy.api#required": {}
          }
        },
        "churned_users_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the promo code is restricted to churned customers.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Code entered at checkout.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the promo code was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.whop.promo_codes#PromoCodeCurrency",
          "traits": {
            "smithy.api#documentation": "Currency used for a fixed-amount discount.",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "com.whop.promo_codes#PromoCodeDuration",
          "traits": {
            "smithy.api#documentation": "How long the discount applies.",
            "smithy.api#required": {}
          }
        },
        "existing_memberships_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the promo code applies only to existing memberships.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the promo code expires, as an ISO 8601 timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Promo code ID, prefixed `promo_`.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Custom key-value metadata stored on the promo code.",
            "smithy.api#required": {}
          }
        },
        "new_users_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the promo code is restricted to new customers.",
            "smithy.api#required": {}
          }
        },
        "one_per_customer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether each customer may redeem the promo code only once.",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "com.whop.promo_codes#PromoCodeProduct",
          "traits": {
            "smithy.api#documentation": "Product the promo code is restricted to, or `null` when it is not product-scoped.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "promo_duration_months": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Billing intervals the discount applies to.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "promo_type": {
          "target": "com.whop.promo_codes#PromoCodePromoType",
          "traits": {
            "smithy.api#documentation": "Whether the discount is percentage-based or a fixed amount.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.whop.promo_codes#PromoCodeStatus",
          "traits": {
            "smithy.api#documentation": "Promo code lifecycle status.",
            "smithy.api#required": {}
          }
        },
        "stock": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Maximum uses when stock is limited.",
            "smithy.api#required": {}
          }
        },
        "unlimited_stock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the promo code has no redemption limit.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the promo code was updated, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "uses": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Memberships that used the promo code.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#AccountSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account ID, prefixed `biz_`.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account display name.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.promo_codes#PromoCodeCurrency": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usd"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgd"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inr"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aud"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brl"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cad"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dkk"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eur"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nok"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gbp"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sek"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chf"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hkd"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "huf"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpy"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mxn"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "myr"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pln"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "czk"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nzd"
          }
        },
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aed"
          }
        },
        "ETH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eth"
          }
        },
        "APE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ape"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cop"
          }
        },
        "RON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ron"
          }
        },
        "THB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thb"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bgn"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idr"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dop"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "php"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "krw"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twd"
          }
        },
        "VND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vnd"
          }
        },
        "PKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkr"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clp"
          }
        },
        "UYU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uyu"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ars"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zar"
          }
        },
        "DZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dzd"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tnd"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mad"
          }
        },
        "KES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kes"
          }
        },
        "KWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kwd"
          }
        },
        "JOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jod"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "XCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xcd"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd"
          }
        },
        "BHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhd"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bob"
          }
        },
        "BAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bam"
          }
        },
        "KHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "khr"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crc"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xof"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "egp"
          }
        },
        "ETB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "etb"
          }
        },
        "GMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gmd"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ghs"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gtq"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gyd"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ils"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jmd"
          }
        },
        "MOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mop"
          }
        },
        "MGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mga"
          }
        },
        "MUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mur"
          }
        },
        "MDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mdl"
          }
        },
        "MNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnt"
          }
        },
        "NAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nad"
          }
        },
        "NGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ngn"
          }
        },
        "MKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mkd"
          }
        },
        "OMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "omr"
          }
        },
        "PYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pyg"
          }
        },
        "PEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pen"
          }
        },
        "QAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qar"
          }
        },
        "RWF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rwf"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sar"
          }
        },
        "RSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsd"
          }
        },
        "LKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lkr"
          }
        },
        "TZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tzs"
          }
        },
        "TTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttd"
          }
        },
        "UZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uzs"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rub"
          }
        },
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "btc"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cny"
          }
        },
        "USDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdt"
          }
        },
        "KZT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kzt"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awg"
          }
        },
        "WHOP_USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whop_usd"
          }
        },
        "XAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xau"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Currency used for a fixed-amount discount."
      }
    },
    "com.whop.promo_codes#PromoCodeDuration": {
      "type": "enum",
      "members": {
        "FOREVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forever"
          }
        },
        "ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "once"
          }
        },
        "REPEATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repeating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How long the discount applies."
      }
    },
    "com.whop.promo_codes#PromoCodePromoType": {
      "type": "enum",
      "members": {
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percentage"
          }
        },
        "FLAT_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flat_amount"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether the discount is percentage-based or a fixed amount."
      }
    },
    "com.whop.promo_codes#PromoCodeStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Promo code lifecycle status."
      }
    },
    "com.whop.promo_codes#CreatePromoCode": {
      "type": "operation",
      "input": {
        "target": "com.whop.promo_codes#CreatePromoCodeRequest"
      },
      "output": {
        "target": "com.whop.promo_codes#PromoCode"
      },
      "errors": [
        {
          "target": "com.whop.promo_codes#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/promo_codes",
          "code": 200
        },
        "smithy.api#documentation": "Create Promo Code\n\nCreates a promo code for an account. First-party sessions may attach an affiliate."
      }
    },
    "com.whop.promo_codes#RetrievePromoCodeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Promo code ID (`promo_` tag)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.promo_codes#RetrievePromoCode": {
      "type": "operation",
      "input": {
        "target": "com.whop.promo_codes#RetrievePromoCodeRequest"
      },
      "output": {
        "target": "com.whop.promo_codes#PromoCode"
      },
      "errors": [
        {
          "target": "com.whop.promo_codes#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/promo_codes/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve Promo Code\n\nRetrieves a promo code by ID."
      }
    },
    "com.whop.promo_codes#PromoCodeUpdateStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statuses that can be applied to promo codes through update operations."
      }
    },
    "com.whop.promo_codes#UpdatePromoCodeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the promo code to update."
          }
        },
        "status": {
          "target": "com.whop.promo_codes#PromoCodeUpdateStatus",
          "traits": {
            "smithy.api#documentation": "The status to apply to the promo code.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.promo_codes#LegacyPromoCode": {
      "type": "structure",
      "members": {
        "amount_off": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The discount amount. Interpretation depends on promo_type: if 'percentage', this is the percentage (e.g., 20 means 20% off); if 'flat_amount', this is dollars off (e.g., 10.00 means $10.00 off).",
            "smithy.api#required": {}
          }
        },
        "churned_users_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Restricts promo use to only users who have churned from the company before.",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The specific code used to apply the promo at checkout.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "company": {
          "target": "com.whop.promo_codes#LegacyPromoCodeCompany",
          "traits": {
            "smithy.api#documentation": "The company for the promo code.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime the promo code was created.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.whop.promo_codes#Currencies",
          "traits": {
            "smithy.api#documentation": "The monetary currency of the promo code.",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "com.whop.promo_codes#PromoDurations",
          "traits": {
            "smithy.api#documentation": "The duration of the promo.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "existing_memberships_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Restricts promo use to only be applied to already purchased memberships.",
            "smithy.api#required": {}
          }
        },
        "expires_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The date/time of when the promo expires.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the promo code.",
            "smithy.api#required": {}
          }
        },
        "new_users_only": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Restricts promo use to only users who have never purchased from the company before.",
            "smithy.api#required": {}
          }
        },
        "one_per_customer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Restricts promo use to only be applied once per customer.",
            "smithy.api#required": {}
          }
        },
        "product": {
          "target": "com.whop.promo_codes#LegacyPromoCodeProduct",
          "traits": {
            "smithy.api#documentation": "The product this promo code applies to",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "promo_duration_months": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The number of months the promo is applied for.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "promo_type": {
          "target": "com.whop.promo_codes#PromoTypes",
          "traits": {
            "smithy.api#documentation": "The type (% or flat amount) of the promo.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.whop.promo_codes#PromoCodeStatus2",
          "traits": {
            "smithy.api#documentation": "Indicates if the promo code is live or disabled.",
            "smithy.api#required": {}
          }
        },
        "stock": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The quantity limit on the number of uses.",
            "smithy.api#required": {}
          }
        },
        "unlimited_stock": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether or not the promo code has unlimited stock.",
            "smithy.api#required": {}
          }
        },
        "uses": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The amount of times the promo codes has been used.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A promo code applies a discount to a plan during checkout. Promo codes can be percentage-based or fixed-amount, and can have usage limits and expiration dates."
      }
    },
    "com.whop.promo_codes#LegacyPromoCodeCompany": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the company.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The written name of the company.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The company for the promo code."
      }
    },
    "com.whop.promo_codes#Currencies": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usd"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgd"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inr"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aud"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brl"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cad"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dkk"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eur"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nok"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gbp"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sek"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chf"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hkd"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "huf"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpy"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mxn"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "myr"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pln"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "czk"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nzd"
          }
        },
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aed"
          }
        },
        "ETH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eth"
          }
        },
        "APE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ape"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cop"
          }
        },
        "RON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ron"
          }
        },
        "THB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thb"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bgn"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idr"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dop"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "php"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "krw"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twd"
          }
        },
        "VND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vnd"
          }
        },
        "PKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkr"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clp"
          }
        },
        "UYU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uyu"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ars"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zar"
          }
        },
        "DZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dzd"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tnd"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mad"
          }
        },
        "KES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kes"
          }
        },
        "KWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kwd"
          }
        },
        "JOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jod"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "XCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xcd"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd"
          }
        },
        "BHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhd"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bob"
          }
        },
        "BAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bam"
          }
        },
        "KHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "khr"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crc"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xof"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "egp"
          }
        },
        "ETB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "etb"
          }
        },
        "GMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gmd"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ghs"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gtq"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gyd"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ils"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jmd"
          }
        },
        "MOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mop"
          }
        },
        "MGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mga"
          }
        },
        "MUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mur"
          }
        },
        "MDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mdl"
          }
        },
        "MNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnt"
          }
        },
        "NAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nad"
          }
        },
        "NGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ngn"
          }
        },
        "MKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mkd"
          }
        },
        "OMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "omr"
          }
        },
        "PYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pyg"
          }
        },
        "PEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pen"
          }
        },
        "QAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qar"
          }
        },
        "RWF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rwf"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sar"
          }
        },
        "RSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsd"
          }
        },
        "LKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lkr"
          }
        },
        "TZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tzs"
          }
        },
        "TTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttd"
          }
        },
        "UZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uzs"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rub"
          }
        },
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "btc"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cny"
          }
        },
        "USDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdt"
          }
        },
        "KZT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kzt"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awg"
          }
        },
        "WHOP_USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whop_usd"
          }
        },
        "XAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xau"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available currencies on the platform"
      }
    },
    "com.whop.promo_codes#PromoDurations": {
      "type": "enum",
      "members": {
        "FOREVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "forever"
          }
        },
        "ONCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "once"
          }
        },
        "REPEATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repeating"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The duration setting for the promo code"
      }
    },
    "com.whop.promo_codes#LegacyPromoCodeProduct": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the product.",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the product shown to customers on the product page and in search results.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The product this promo code applies to"
      }
    },
    "com.whop.promo_codes#PromoTypes": {
      "type": "enum",
      "members": {
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "percentage"
          }
        },
        "FLAT_AMOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "flat_amount"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of promo code used to discount a plan"
      }
    },
    "com.whop.promo_codes#PromoCodeStatus2": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inactive"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "archived"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Statuses for promo codes"
      }
    },
    "com.whop.promo_codes#UpdatePromoCode": {
      "type": "operation",
      "input": {
        "target": "com.whop.promo_codes#UpdatePromoCodeRequest"
      },
      "output": {
        "target": "com.whop.promo_codes#LegacyPromoCode"
      },
      "errors": [
        {
          "target": "com.whop.promo_codes#BadRequest"
        },
        {
          "target": "com.whop.promo_codes#Forbidden"
        },
        {
          "target": "com.whop.promo_codes#NotFound"
        },
        {
          "target": "com.whop.promo_codes#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/promo_codes/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update promo code\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nUpdate whether a promo code can be used at checkout.\n\nRequired permissions:\n - `promo_code:update`\n - `access_pass:basic:read`"
      }
    },
    "com.whop.promo_codes#DeletePromoCodeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Promo code ID (`promo_` tag)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.promo_codes#DeletePromoCodeResponse": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.promo_codes#DeletePromoCode": {
      "type": "operation",
      "input": {
        "target": "com.whop.promo_codes#DeletePromoCodeRequest"
      },
      "output": {
        "target": "com.whop.promo_codes#DeletePromoCodeResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/promo_codes/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete Promo Code\n\nArchives a promo code so it cannot be used in future checkouts."
      }
    },
    "com.whop.promo_codes#ActivatePromoCodeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Promo code ID (`promo_` tag)."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.promo_codes#ActivatePromoCode": {
      "type": "operation",
      "input": {
        "target": "com.whop.promo_codes#ActivatePromoCodeRequest"
      },
      "output": {
        "target": "com.whop.promo_codes#PromoCode"
      },
      "errors": [
        {
          "target": "com.whop.promo_codes#BadRequest"
        },
        {
          "target": "com.whop.promo_codes#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/promo_codes/{id}/activate",
          "code": 200
        },
        "smithy.api#documentation": "Activate Promo Code\n\nTurns an inactive promo code back on so it can be redeemed at checkout."
      }
    },
    "com.whop.promo_codes#DeactivatePromoCodeRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Promo code ID (`promo_` tag)."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.promo_codes#DeactivatePromoCode": {
      "type": "operation",
      "input": {
        "target": "com.whop.promo_codes#DeactivatePromoCodeRequest"
      },
      "output": {
        "target": "com.whop.promo_codes#PromoCode"
      },
      "errors": [
        {
          "target": "com.whop.promo_codes#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/promo_codes/{id}/deactivate",
          "code": 200
        },
        "smithy.api#documentation": "Deactivate Promo Code\n\nTurns off an active promo code so it can no longer be redeemed at checkout."
      }
    },
    "com.whop.promo_codes#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.promo_codes#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.promo_codes#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.whop.promo_codes#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.promo_codes#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.whop.promo_codes#PromoCodes": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.promo_codes#ListPromoCodes"
        },
        {
          "target": "com.whop.promo_codes#CreatePromoCode"
        },
        {
          "target": "com.whop.promo_codes#RetrievePromoCode"
        },
        {
          "target": "com.whop.promo_codes#UpdatePromoCode"
        },
        {
          "target": "com.whop.promo_codes#DeletePromoCode"
        },
        {
          "target": "com.whop.promo_codes#ActivatePromoCode"
        },
        {
          "target": "com.whop.promo_codes#DeactivatePromoCode"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
