{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.refunds#Direction": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The direction of the sort."
      }
    },
    "com.whop.refunds#ListRefundRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before"
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first"
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last"
          }
        },
        "payment_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "payment_id"
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "company_id"
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id"
          }
        },
        "direction": {
          "target": "com.whop.refunds#Direction",
          "traits": {
            "smithy.api#httpQuery": "direction"
          }
        },
        "created_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_before"
          }
        },
        "created_after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "created_after"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.refunds#RefundListItem": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The refunded amount as a decimal in the specified currency, such as 10.43 for $10.43 USD.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime the refund was created.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.whop.refunds#Currencies",
          "traits": {
            "smithy.api#documentation": "The three-letter ISO currency code for the refunded amount.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the refund.",
            "smithy.api#required": {}
          }
        },
        "payment": {
          "target": "com.whop.refunds#RefundListItemPayment",
          "traits": {
            "smithy.api#documentation": "The original payment that this refund was issued against. Null if the payment is no longer available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider": {
          "target": "com.whop.refunds#PaymentProviders",
          "traits": {
            "smithy.api#documentation": "The payment provider that processed the refund.",
            "smithy.api#required": {}
          }
        },
        "provider_created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the refund was created in the payment provider's system. Null if not available from the provider.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_status": {
          "target": "com.whop.refunds#RefundReferenceStatuses",
          "traits": {
            "smithy.api#documentation": "The availability status of the refund tracking reference from the payment processor. Null if no reference was provided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_type": {
          "target": "com.whop.refunds#RefundReferenceTypes",
          "traits": {
            "smithy.api#documentation": "The type of tracking reference provided by the payment processor, such as an acquirer reference number. Null if no reference was provided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tracking reference value from the payment processor, used to trace the refund through banking networks. Null if no reference was provided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.refunds#RefundStatuses",
          "traits": {
            "smithy.api#documentation": "The current processing status of the refund, such as pending, succeeded, or failed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A refund represents a full or partial reversal of a payment, including the amount, status, and payment provider."
      }
    },
    "com.whop.refunds#Currencies": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usd"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sgd"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inr"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aud"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "brl"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cad"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dkk"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eur"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nok"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gbp"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sek"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "chf"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hkd"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "huf"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jpy"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mxn"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "myr"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pln"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "czk"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nzd"
          }
        },
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aed"
          }
        },
        "ETH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eth"
          }
        },
        "APE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ape"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cop"
          }
        },
        "RON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ron"
          }
        },
        "THB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "thb"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bgn"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "idr"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dop"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "php"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "try"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "krw"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twd"
          }
        },
        "VND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vnd"
          }
        },
        "PKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pkr"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "clp"
          }
        },
        "UYU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uyu"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ars"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zar"
          }
        },
        "DZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dzd"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tnd"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mad"
          }
        },
        "KES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kes"
          }
        },
        "KWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kwd"
          }
        },
        "JOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jod"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "XCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xcd"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amd"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bsd"
          }
        },
        "BHD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bhd"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bob"
          }
        },
        "BAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bam"
          }
        },
        "KHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "khr"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crc"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xof"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "egp"
          }
        },
        "ETB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "etb"
          }
        },
        "GMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gmd"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ghs"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gtq"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gyd"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ils"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jmd"
          }
        },
        "MOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mop"
          }
        },
        "MGA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mga"
          }
        },
        "MUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mur"
          }
        },
        "MDL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mdl"
          }
        },
        "MNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mnt"
          }
        },
        "NAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nad"
          }
        },
        "NGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ngn"
          }
        },
        "MKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mkd"
          }
        },
        "OMR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "omr"
          }
        },
        "PYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pyg"
          }
        },
        "PEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pen"
          }
        },
        "QAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qar"
          }
        },
        "RWF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rwf"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sar"
          }
        },
        "RSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rsd"
          }
        },
        "LKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lkr"
          }
        },
        "TZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tzs"
          }
        },
        "TTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ttd"
          }
        },
        "UZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uzs"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rub"
          }
        },
        "BTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "btc"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cny"
          }
        },
        "USDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "usdt"
          }
        },
        "KZT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kzt"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "awg"
          }
        },
        "WHOP_USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whop_usd"
          }
        },
        "XAU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xau"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The available currencies on the platform"
      }
    },
    "com.whop.refunds#RefundListItemPayment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the payment.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The original payment that this refund was issued against. Null if the payment is no longer available."
      }
    },
    "com.whop.refunds#PaymentProviders": {
      "type": "enum",
      "members": {
        "STRIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stripe"
          }
        },
        "COINBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coinbase"
          }
        },
        "PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paypal"
          }
        },
        "APPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple"
          }
        },
        "SEZZLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sezzle"
          }
        },
        "SPLITIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "splitit"
          }
        },
        "PLATFORM_BALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "platform_balance"
          }
        },
        "MULTI_PSP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multi_psp"
          }
        },
        "ADYEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "adyen"
          }
        },
        "CLARITYPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "claritypay"
          }
        },
        "CHECKOUT_DOT_COM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "checkout_dot_com"
          }
        },
        "AIRWALLEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "airwallex"
          }
        },
        "COINFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coinflow"
          }
        },
        "SEQURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sequra"
          }
        },
        "DLOCAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dlocal"
          }
        },
        "MASSPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "masspay"
          }
        },
        "BRAINTREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "braintree"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The different payment providers."
      }
    },
    "com.whop.refunds#RefundReferenceStatuses": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of the refund reference."
      }
    },
    "com.whop.refunds#RefundReferenceTypes": {
      "type": "enum",
      "members": {
        "ACQUIRER_REFERENCE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acquirer_reference_number"
          }
        },
        "RETRIEVAL_REFERENCE_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "retrieval_reference_number"
          }
        },
        "SYSTEM_TRACE_AUDIT_NUMBER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system_trace_audit_number"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of refund reference that was made available by the payment provider."
      }
    },
    "com.whop.refunds#RefundStatuses": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "REQUIRES_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requires_action"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "succeeded"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The different statuses for a Refund object"
      }
    },
    "com.whop.refunds#ListRefundResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.refunds#RefundListItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of nodes."
      }
    },
    "com.whop.refunds#PageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about pagination in a connection."
      }
    },
    "com.whop.refunds#ListRefundResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.refunds#ListRefundResponseDataList",
          "traits": {
            "smithy.api#documentation": "A list of nodes.",
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.refunds#PageInfo",
          "traits": {
            "smithy.api#documentation": "Information to aid in pagination.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.refunds#ListRefund": {
      "type": "operation",
      "input": {
        "target": "com.whop.refunds#ListRefundRequest"
      },
      "output": {
        "target": "com.whop.refunds#ListRefundResponse"
      },
      "errors": [
        {
          "target": "com.whop.refunds#BadRequest"
        },
        {
          "target": "com.whop.refunds#Forbidden"
        },
        {
          "target": "com.whop.refunds#NotFound"
        },
        {
          "target": "com.whop.refunds#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/refunds",
          "code": 200
        },
        "smithy.api#documentation": "List refunds\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nReturns a paginated list of refunds, with optional filtering by payment, company, user, and creation date.\n\nRequired permissions:\n - `payment:basic:read`",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.refunds#RetrieveRefundRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the refund."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.refunds#Refund": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The refunded amount as a decimal in the specified currency, such as 10.43 for $10.43 USD.",
            "smithy.api#required": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime the refund was created.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.whop.refunds#Currencies",
          "traits": {
            "smithy.api#documentation": "The three-letter ISO currency code for the refunded amount.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the refund.",
            "smithy.api#required": {}
          }
        },
        "payment": {
          "target": "com.whop.refunds#RefundPayment",
          "traits": {
            "smithy.api#documentation": "The original payment that this refund was issued against. Null if the payment is no longer available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "provider": {
          "target": "com.whop.refunds#PaymentProviders",
          "traits": {
            "smithy.api#documentation": "The payment provider that processed the refund.",
            "smithy.api#required": {}
          }
        },
        "provider_created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the refund was created in the payment provider's system. Null if not available from the provider.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_status": {
          "target": "com.whop.refunds#RefundReferenceStatuses",
          "traits": {
            "smithy.api#documentation": "The availability status of the refund tracking reference from the payment processor. Null if no reference was provided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_type": {
          "target": "com.whop.refunds#RefundReferenceTypes",
          "traits": {
            "smithy.api#documentation": "The type of tracking reference provided by the payment processor, such as an acquirer reference number. Null if no reference was provided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reference_value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The tracking reference value from the payment processor, used to trace the refund through banking networks. Null if no reference was provided.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "status": {
          "target": "com.whop.refunds#RefundStatuses",
          "traits": {
            "smithy.api#documentation": "The current processing status of the refund, such as pending, succeeded, or failed.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A refund represents a full or partial reversal of a payment, including the amount, status, and payment provider."
      }
    },
    "com.whop.refunds#BillingReasons": {
      "type": "enum",
      "members": {
        "SUBSCRIPTION_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_create"
          }
        },
        "SUBSCRIPTION_CYCLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_cycle"
          }
        },
        "SUBSCRIPTION_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription_update"
          }
        },
        "ONE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "one_time"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "manual"
          }
        },
        "SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscription"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The reason why a specific payment was billed"
      }
    },
    "com.whop.refunds#CardBrands": {
      "type": "enum",
      "members": {
        "MASTERCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mastercard"
          }
        },
        "VISA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visa"
          }
        },
        "AMEX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amex"
          }
        },
        "DISCOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discover"
          }
        },
        "UNIONPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unionpay"
          }
        },
        "JCB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jcb"
          }
        },
        "DINERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "diners"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "TROY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "troy"
          }
        },
        "VISADANKORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visadankort"
          }
        },
        "VISABANCONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "visabancontact"
          }
        },
        "CHINA_UNION_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "china_union_pay"
          }
        },
        "RUPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rupay"
          }
        },
        "JCBRUPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jcbrupay"
          }
        },
        "ELO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "elo"
          }
        },
        "MAESTRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "maestro"
          }
        },
        "TARJETA_NARANJA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tarjeta_naranja"
          }
        },
        "CIRRUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cirrus"
          }
        },
        "NSPK_MIR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nspk_mir"
          }
        },
        "VERVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "verve"
          }
        },
        "EBT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ebt"
          }
        },
        "PRIVATE_LABEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private_label"
          }
        },
        "LOCAL_BRAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "local_brand"
          }
        },
        "UATP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uatp"
          }
        },
        "WEXCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wexcard"
          }
        },
        "UZCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uzcard"
          }
        },
        "MEEZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meeza"
          }
        },
        "HRG_STORE_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hrg_store_card"
          }
        },
        "GIROCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "girocard"
          }
        },
        "FUEL_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fuel_card"
          }
        },
        "DANKORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dankort"
          }
        },
        "CARNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "carnet"
          }
        },
        "ATM_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "atm_card"
          }
        },
        "CHINA_UNION_PAYUZCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "china_union_payuzcard"
          }
        },
        "CODENSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "codensa"
          }
        },
        "CABAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cabal"
          }
        },
        "HIPERCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hipercard"
          }
        },
        "JCBLANKAPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jcblankapay"
          }
        },
        "CMI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cmi"
          }
        },
        "AURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aura"
          }
        },
        "ACCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accel"
          }
        },
        "CULIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "culiance"
          }
        },
        "NYCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nyce"
          }
        },
        "PULSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pulse"
          }
        },
        "STAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "star"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Possible card brands that a payment token can have"
      }
    },
    "com.whop.refunds#RefundPaymentMember": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the company member.",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The phone number for the member, if available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The member attached to this payment."
      }
    },
    "com.whop.refunds#MembershipStatus": {
      "type": "enum",
      "members": {
        "TRIALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trialing"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "PAST_DUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "past_due"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        },
        "UNRESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unresolved"
          }
        },
        "DRAFTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "drafted"
          }
        },
        "CANCELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceling"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a membership"
      }
    },
    "com.whop.refunds#RefundPaymentMembership": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the membership.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.whop.refunds#MembershipStatus",
          "traits": {
            "smithy.api#documentation": "The state of the membership.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The membership attached to this payment."
      }
    },
    "com.whop.refunds#RefundPaymentMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "The custom metadata stored on this payment. This will be copied over to the checkout configuration for which this payment was made"
      }
    },
    "com.whop.refunds#PaymentMethodTypes": {
      "type": "enum",
      "members": {
        "ACSS_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acss_debit"
          }
        },
        "ADDI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "addi"
          }
        },
        "AFFIRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "affirm"
          }
        },
        "AFTERPAY_CLEARPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "afterpay_clearpay"
          }
        },
        "ALIPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alipay"
          }
        },
        "ALMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "alma"
          }
        },
        "AMAZON_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "amazon_pay"
          }
        },
        "APPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple"
          }
        },
        "APPLE_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apple_pay"
          }
        },
        "AU_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "au_bank_transfer"
          }
        },
        "AU_BECS_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "au_becs_debit"
          }
        },
        "BACS_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bacs_debit"
          }
        },
        "BANCOLOMBIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bancolombia"
          }
        },
        "BANCONTACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bancontact"
          }
        },
        "BANK_WIRE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bank_wire"
          }
        },
        "BILLIE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billie"
          }
        },
        "BIZUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bizum"
          }
        },
        "BLIK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blik"
          }
        },
        "BOLETO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "boleto"
          }
        },
        "BRE_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bre_b"
          }
        },
        "CA_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ca_bank_transfer"
          }
        },
        "CAPCHASE_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "capchase_pay"
          }
        },
        "CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card"
          }
        },
        "CARD_INSTALLMENTS_THREE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_installments_three"
          }
        },
        "CARD_INSTALLMENTS_SIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_installments_six"
          }
        },
        "CARD_INSTALLMENTS_TWELVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "card_installments_twelve"
          }
        },
        "CASHAPP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cashapp"
          }
        },
        "CLARITYPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "claritypay"
          }
        },
        "COINBASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coinbase"
          }
        },
        "CRYPTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "crypto"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        },
        "CUSTOMER_BALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customer_balance"
          }
        },
        "DEMO_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "demo_pay"
          }
        },
        "EFECTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "efecty"
          }
        },
        "EPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eps"
          }
        },
        "EU_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "eu_bank_transfer"
          }
        },
        "FPX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fpx"
          }
        },
        "GB_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gb_bank_transfer"
          }
        },
        "GIROPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "giropay"
          }
        },
        "GOOGLE_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "google_pay"
          }
        },
        "GOPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "gopay"
          }
        },
        "GRABPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grabpay"
          }
        },
        "ID_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "id_bank_transfer"
          }
        },
        "IDEAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ideal"
          }
        },
        "INTERAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "interac"
          }
        },
        "KAKAO_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kakao_pay"
          }
        },
        "KLARNA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "klarna"
          }
        },
        "KLARNA_PAY_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "klarna_pay_now"
          }
        },
        "KONBINI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "konbini"
          }
        },
        "KR_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kr_card"
          }
        },
        "KR_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kr_market"
          }
        },
        "KRIYA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kriya"
          }
        },
        "KUESKI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kueski"
          }
        },
        "LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "link"
          }
        },
        "MB_WAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mb_way"
          }
        },
        "M_PESA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "m_pesa"
          }
        },
        "MERCADO_PAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mercado_pago"
          }
        },
        "MOBILEPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobilepay"
          }
        },
        "MODO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "modo"
          }
        },
        "MONDU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mondu"
          }
        },
        "MULTIBANCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "multibanco"
          }
        },
        "NAVER_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "naver_pay"
          }
        },
        "NEQUI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nequi"
          }
        },
        "NETBANKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "netbanking"
          }
        },
        "NG_BANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_bank"
          }
        },
        "NG_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_bank_transfer"
          }
        },
        "NG_CARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_card"
          }
        },
        "NG_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_market"
          }
        },
        "NG_USSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_ussd"
          }
        },
        "NG_WALLET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ng_wallet"
          }
        },
        "NZ_BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nz_bank_account"
          }
        },
        "OXXO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oxxo"
          }
        },
        "P24": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "p24"
          }
        },
        "PAGO_EFECTIVO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pago_efectivo"
          }
        },
        "PSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pse"
          }
        },
        "PAY_BY_BANK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pay_by_bank"
          }
        },
        "PAYCO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payco"
          }
        },
        "PAYNOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paynow"
          }
        },
        "PAYPAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paypal"
          }
        },
        "PAYPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "paypay"
          }
        },
        "PAYTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "payto"
          }
        },
        "PIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pix"
          }
        },
        "PLATFORM_BALANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "platform_balance"
          }
        },
        "PROMPTPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promptpay"
          }
        },
        "QRIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "qris"
          }
        },
        "RAPIPAGO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rapipago"
          }
        },
        "RECHNUNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rechnung"
          }
        },
        "REVOLUT_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revolut_pay"
          }
        },
        "SAMSUNG_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "samsung_pay"
          }
        },
        "SATISPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "satispay"
          }
        },
        "SCALAPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scalapay"
          }
        },
        "SENCILLITO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sencillito"
          }
        },
        "SEPA_DEBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sepa_debit"
          }
        },
        "SEQURA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sequra"
          }
        },
        "SERVIPAG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "servipag"
          }
        },
        "SEZZLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sezzle"
          }
        },
        "SHOP_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shop_pay"
          }
        },
        "SHOPEEPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shopeepay"
          }
        },
        "SOFORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sofort"
          }
        },
        "SOUTH_KOREA_MARKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "south_korea_market"
          }
        },
        "SPEI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spei"
          }
        },
        "SPLITIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "splitit"
          }
        },
        "SUNBIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sunbit"
          }
        },
        "SWISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "swish"
          }
        },
        "TAMARA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tamara"
          }
        },
        "TWINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "twint"
          }
        },
        "UPI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "upi"
          }
        },
        "US_BANK_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us_bank_account"
          }
        },
        "US_BANK_TRANSFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "us_bank_transfer"
          }
        },
        "VENMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "venmo"
          }
        },
        "VIPPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "vipps"
          }
        },
        "WEBPAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "webpay"
          }
        },
        "WECHAT_PAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wechat_pay"
          }
        },
        "YAPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yape"
          }
        },
        "ZIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zip"
          }
        },
        "COINFLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "coinflow"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The different types of payment methods that can be used."
      }
    },
    "com.whop.refunds#RefundPaymentPlanMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Custom key-value pairs stored on the plan. Included in webhook payloads for payment and membership events. Max 50 keys, 100 chars per key, 500 chars per string value. The reserved keys `custom_cta` and `custom_cta_url`, when set, override the product's checkout call to action for this plan."
      }
    },
    "com.whop.refunds#RefundPaymentPlan": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the plan.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.whop.refunds#RefundPaymentPlanMetadataMap",
          "traits": {
            "smithy.api#documentation": "Custom key-value pairs stored on the plan. Included in webhook payloads for payment and membership events. Max 50 keys, 100 chars per key, 500 chars per string value. The reserved keys `custom_cta` and `custom_cta_url`, when set, override the product's checkout call to action for this plan.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The plan attached to this payment."
      }
    },
    "com.whop.refunds#RefundPaymentProductMetadataMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#Document"
      },
      "traits": {
        "smithy.api#documentation": "Custom key-value pairs stored on the product and included in payment and membership webhook payloads. Max 50 keys, 100 characters per key, 500 characters per string value."
      }
    },
    "com.whop.refunds#RefundPaymentProduct": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the product.",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.whop.refunds#RefundPaymentProductMetadataMap",
          "traits": {
            "smithy.api#documentation": "Custom key-value pairs stored on the product and included in payment and membership webhook payloads. Max 50 keys, 100 characters per key, 500 characters per string value.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The product this payment was made for"
      }
    },
    "com.whop.refunds#ReceiptTaxBehaviors": {
      "type": "enum",
      "members": {
        "EXCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "exclusive"
          }
        },
        "INCLUSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inclusive"
          }
        },
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unspecified"
          }
        },
        "UNABLE_TO_COLLECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unable_to_collect"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of tax inclusivity applied to the receipt, for determining whether the tax is included in the final price, or paid on top."
      }
    },
    "com.whop.refunds#RefundPaymentUser": {
      "type": "structure",
      "members": {
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. Requires the member:email:read permission to access. Null if not authorized.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The user that made this payment."
      }
    },
    "com.whop.refunds#RefundPayment": {
      "type": "structure",
      "members": {
        "billing_reason": {
          "target": "com.whop.refunds#BillingReasons",
          "traits": {
            "smithy.api#documentation": "The machine-readable reason this charge was created, such as initial subscription purchase, renewal cycle, or one-time payment.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "card_brand": {
          "target": "com.whop.refunds#CardBrands",
          "traits": {
            "smithy.api#documentation": "Card network reported by the processor (e.g., 'visa', 'mastercard', 'amex'). Present only when the payment method type is 'card'.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "card_last4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The last four digits of the card used to make this payment. Null if the payment was not made with a card.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The datetime the payment was created.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.whop.refunds#Currencies",
          "traits": {
            "smithy.api#documentation": "The three-letter ISO currency code for this payment (e.g., 'usd', 'eur').",
            "smithy.api#required": {}
          }
        },
        "dispute_alerted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When an alert came in that this transaction will be disputed",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the payment.",
            "smithy.api#required": {}
          }
        },
        "member": {
          "target": "com.whop.refunds#RefundPaymentMember",
          "traits": {
            "smithy.api#documentation": "The member attached to this payment.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "membership": {
          "target": "com.whop.refunds#RefundPaymentMembership",
          "traits": {
            "smithy.api#documentation": "The membership attached to this payment.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "metadata": {
          "target": "com.whop.refunds#RefundPaymentMetadataMap",
          "traits": {
            "smithy.api#documentation": "The custom metadata stored on this payment. This will be copied over to the checkout configuration for which this payment was made",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "paid_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time at which this payment was successfully collected. Null if the payment has not yet succeeded. As a Unix timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "payment_method_type": {
          "target": "com.whop.refunds#PaymentMethodTypes",
          "traits": {
            "smithy.api#documentation": "The type of payment instrument used for this payment (e.g., card, Cash App, iDEAL, Klarna, crypto). Null when the processor does not supply a type.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "plan": {
          "target": "com.whop.refunds#RefundPaymentPlan",
          "traits": {
            "smithy.api#documentation": "The plan attached to this payment.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "product": {
          "target": "com.whop.refunds#RefundPaymentProduct",
          "traits": {
            "smithy.api#documentation": "The product this payment was made for",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "subtotal": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The subtotal to show to the creator (excluding buyer fees).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The calculated amount of the sales/VAT tax (if applicable).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_behavior": {
          "target": "com.whop.refunds#ReceiptTaxBehaviors",
          "traits": {
            "smithy.api#documentation": "The type of tax inclusivity applied to the payment, for determining whether the tax is included in the final price, or paid on top.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "tax_refunded_amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The amount of tax that has been refunded (if applicable).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total to show to the creator (excluding buyer fees).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "usd_total": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The total in USD to show to the creator (excluding buyer fees).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "user": {
          "target": "com.whop.refunds#RefundPaymentUser",
          "traits": {
            "smithy.api#documentation": "The user that made this payment.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The original payment that this refund was issued against. Null if the payment is no longer available."
      }
    },
    "com.whop.refunds#RetrieveRefund": {
      "type": "operation",
      "input": {
        "target": "com.whop.refunds#RetrieveRefundRequest"
      },
      "output": {
        "target": "com.whop.refunds#Refund"
      },
      "errors": [
        {
          "target": "com.whop.refunds#BadRequest"
        },
        {
          "target": "com.whop.refunds#Forbidden"
        },
        {
          "target": "com.whop.refunds#NotFound"
        },
        {
          "target": "com.whop.refunds#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/refunds/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve refund\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRetrieves the details of an existing refund.\n\nRequired permissions:\n - `payment:basic:read`\n - `plan:basic:read`\n - `access_pass:basic:read`\n - `member:email:read`\n - `member:basic:read`\n - `member:phone:read`"
      }
    },
    "com.whop.refunds#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.refunds#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.refunds#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.refunds#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.whop.refunds#Refunds": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.refunds#ListRefund"
        },
        {
          "target": "com.whop.refunds#RetrieveRefund"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
