{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.social_accounts#ListSocialAccountsRequestPlatform": {
      "type": "enum",
      "members": {
        "X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x"
          }
        },
        "INSTAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram"
          }
        },
        "YOUTUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "youtube"
          }
        },
        "TIKTOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tiktok"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "facebook"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telegram"
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountsRequestScopesItem": {
      "type": "enum",
      "members": {
        "ADVERTISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advertise"
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountsRequestScopesList": {
      "type": "list",
      "member": {
        "target": "com.whop.social_accounts#ListSocialAccountsRequestScopesItem"
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountsRequestOrder": {
      "type": "enum",
      "members": {
        "DISPLAY_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "display_order"
          }
        },
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountsRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "The Account that the social accounts are connected to. Provide either this or user_id."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "The User that the social accounts are connected to. Provide either this or account_id."
          }
        },
        "platform": {
          "target": "com.whop.social_accounts#ListSocialAccountsRequestPlatform",
          "traits": {
            "smithy.api#httpQuery": "platform",
            "smithy.api#documentation": "Only return social accounts for the platform that is specified."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "verified",
            "smithy.api#documentation": "Only return social accounts that are verified on the platform."
          }
        },
        "scopes": {
          "target": "com.whop.social_accounts#ListSocialAccountsRequestScopesList",
          "traits": {
            "smithy.api#httpQuery": "scopes",
            "smithy.api#documentation": "Only return social accounts that have these scopes."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "The number of social accounts to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Cursor to fetch the page after (from page_info.end_cursor)."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "The number of social accounts to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "Cursor to fetch the page before (from page_info.start_cursor)."
          }
        },
        "order": {
          "target": "com.whop.social_accounts#ListSocialAccountsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The field to sort social accounts by."
          }
        },
        "direction": {
          "target": "com.whop.social_accounts#ListSocialAccountsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.social_accounts#SocialAccount": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why this social account currently can't be used for advertising — a failed share or a Meta-side restriction. Null when the account is healthy.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The platform-specific ID for this social account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the social account.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the social account on the platform.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "parent_social_account": {
          "target": "com.whop.social_accounts#SocialAccountParent",
          "traits": {
            "smithy.api#documentation": "The social account this one belongs to on the platform, such as the Facebook page that owns an Instagram account. Null when the social account stands on its own.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "com.whop.social_accounts#SocialAccountPlatform",
          "traits": {
            "smithy.api#documentation": "The platform the social account exists on.",
            "smithy.api#required": {}
          }
        },
        "profile_picture_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the profile picture of the social account can be accessed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "scopes": {
          "target": "com.whop.social_accounts#SocialAccountScopesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the social account can be accessed on the platform. Null while a Whop-owned page is still being provisioned.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the social account on the platform. Null while a Whop-owned page is still being provisioned.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the social account is verified on the platform.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#SocialAccountParent": {
      "type": "structure",
      "members": {
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The platform-specific ID for the parent social account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Social account ID, prefixed `sacc_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the parent social account on the platform.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "com.whop.social_accounts#SocialAccountParentPlatform",
          "traits": {
            "smithy.api#documentation": "The platform the parent social account exists on.",
            "smithy.api#required": {}
          }
        },
        "profile_picture_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the profile picture of the parent social account can be accessed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the parent social account on the platform.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the parent social account is verified on the platform.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#SocialAccountParentPlatform": {
      "type": "enum",
      "members": {
        "X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x"
          }
        },
        "INSTAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram"
          }
        },
        "YOUTUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "youtube"
          }
        },
        "TIKTOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tiktok"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "facebook"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telegram"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The platform the parent social account exists on."
      }
    },
    "com.whop.social_accounts#SocialAccountPlatform": {
      "type": "enum",
      "members": {
        "X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x"
          }
        },
        "INSTAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram"
          }
        },
        "YOUTUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "youtube"
          }
        },
        "TIKTOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tiktok"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "facebook"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telegram"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The platform the social account exists on."
      }
    },
    "com.whop.social_accounts#SocialAccountScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.social_accounts#SocialAccount"
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountsResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.social_accounts#ListSocialAccountsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.social_accounts#ListSocialAccountsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.social_accounts#ListSocialAccounts": {
      "type": "operation",
      "input": {
        "target": "com.whop.social_accounts#ListSocialAccountsRequest"
      },
      "output": {
        "target": "com.whop.social_accounts#ListSocialAccountsResponse"
      },
      "errors": [
        {
          "target": "com.whop.social_accounts#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/social_accounts",
          "code": 200
        },
        "smithy.api#documentation": "List Social Accounts\n\nLists the social accounts linked to an account or user.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.social_accounts#CreateSocialAccountRequestPlatform": {
      "type": "enum",
      "members": {
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "facebook"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The platform to create the social account on. `facebook` requires the account's `banner_image`, `logo`, and `description`; configure them with [Update Account](/api-reference/beta/accounts/update-account)."
      }
    },
    "com.whop.social_accounts#CreateSocialAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account (biz_ identifier) to create the social account for. An account-scoped API key may omit this to default to its own account. Account API keys cannot update their own account's branding through Update Account; use a user-authenticated path."
          }
        },
        "platform": {
          "target": "com.whop.social_accounts#CreateSocialAccountRequestPlatform",
          "traits": {
            "smithy.api#documentation": "The platform to create the social account on. `facebook` requires the account's `banner_image`, `logo`, and `description`; configure them with [Update Account](/api-reference/beta/accounts/update-account).",
            "smithy.api#required": {}
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.social_accounts#CreateSocialAccount": {
      "type": "operation",
      "input": {
        "target": "com.whop.social_accounts#CreateSocialAccountRequest"
      },
      "output": {
        "target": "com.whop.social_accounts#SocialAccount"
      },
      "errors": [
        {
          "target": "com.whop.social_accounts#BadRequest"
        },
        {
          "target": "com.whop.social_accounts#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/social_accounts",
          "code": 200
        },
        "smithy.api#documentation": "Create a Social Account\n\nCreates or returns a Whop-managed Facebook page for an account."
      }
    },
    "com.whop.social_accounts#ConnectSocialAccountRequestPlatform": {
      "type": "enum",
      "members": {
        "META_BUSINESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "meta_business"
          }
        },
        "TIKTOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tiktok"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The platform to connect the social account on. Supported options are `meta_business` and `tiktok`."
      }
    },
    "com.whop.social_accounts#ConnectSocialAccountRequestScopesItem": {
      "type": "enum",
      "members": {
        "ADVERTISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "advertise"
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#ConnectSocialAccountRequestScopesList": {
      "type": "list",
      "member": {
        "target": "com.whop.social_accounts#ConnectSocialAccountRequestScopesItem"
      },
      "traits": {
        "smithy.api#documentation": "Capabilities to grant for the connected social account. Use `advertise` when connecting a Meta Business or TikTok account for ads."
      }
    },
    "com.whop.social_accounts#ConnectSocialAccountRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Account (biz_ identifier) to connect the social account for. An account-scoped API key may omit this to default to its own account."
          }
        },
        "platform": {
          "target": "com.whop.social_accounts#ConnectSocialAccountRequestPlatform",
          "traits": {
            "smithy.api#documentation": "The platform to connect the social account on. Supported options are `meta_business` and `tiktok`.",
            "smithy.api#required": {}
          }
        },
        "redirect_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Whop URL to redirect the user to after they finish connecting."
          }
        },
        "scopes": {
          "target": "com.whop.social_accounts#ConnectSocialAccountRequestScopesList",
          "traits": {
            "smithy.api#documentation": "Capabilities to grant for the connected social account. Use `advertise` when connecting a Meta Business or TikTok account for ads."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.social_accounts#ConnectSocialAccountResponse": {
      "type": "structure",
      "members": {
        "authorize_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The OAuth authorization URL to redirect the user to.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.social_accounts#ConnectSocialAccount": {
      "type": "operation",
      "input": {
        "target": "com.whop.social_accounts#ConnectSocialAccountRequest"
      },
      "output": {
        "target": "com.whop.social_accounts#ConnectSocialAccountResponse"
      },
      "errors": [
        {
          "target": "com.whop.social_accounts#BadRequest"
        },
        {
          "target": "com.whop.social_accounts#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/social_accounts/connect",
          "code": 200
        },
        "smithy.api#documentation": "Connect a Social Account\n\nStarts an OAuth connection flow and returns an authorize_url where the user can connect a social account."
      }
    },
    "com.whop.social_accounts#DeleteSocialAccountRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The ID of the social account to disconnect."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "The Account that the social account is connected to. Provide either this or user_id."
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "user_id",
            "smithy.api#documentation": "The User that the social account is connected to. Provide either this or account_id."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.social_accounts#DeleteSocialAccountResponse": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always true.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the disconnected social account.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.social_accounts#DeleteSocialAccount": {
      "type": "operation",
      "input": {
        "target": "com.whop.social_accounts#DeleteSocialAccountRequest"
      },
      "output": {
        "target": "com.whop.social_accounts#DeleteSocialAccountResponse"
      },
      "errors": [
        {
          "target": "com.whop.social_accounts#BadRequest"
        },
        {
          "target": "com.whop.social_accounts#Forbidden"
        },
        {
          "target": "com.whop.social_accounts#NotFound"
        },
        {
          "target": "com.whop.social_accounts#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/social_accounts/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a Social Account\n\nDisconnects a social account from an account or user without deleting the underlying platform account."
      }
    },
    "com.whop.social_accounts#ListSocialAccountLeadFormsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The social account (a sacc_ identifier) whose lead forms to list."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "The Account (a biz_ identifier) the social account is connected to."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.social_accounts#SocialAccountLeadForm": {
      "type": "structure",
      "members": {
        "completion": {
          "target": "com.whop.social_accounts#AdLeadFormCompletion",
          "traits": {
            "smithy.api#documentation": "Screen shown after the form is submitted. `null` when the form has none.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the form was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "disclaimer": {
          "target": "com.whop.social_accounts#AdLeadFormDisclaimer",
          "traits": {
            "smithy.api#documentation": "Custom consent disclaimer shown before submission. `null` when the form has none.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "form_type": {
          "target": "com.whop.social_accounts#SocialAccountLeadFormFormType",
          "traits": {
            "smithy.api#documentation": "`more_volume` is quickest to submit; `higher_intent` adds a confirmation step before submission.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ad platform's identifier for the form. Use it as lead_gen_form_id on an ad to reuse the form.",
            "smithy.api#required": {}
          }
        },
        "intro": {
          "target": "com.whop.social_accounts#AdLeadFormIntro",
          "traits": {
            "smithy.api#documentation": "Intro screen shown before the questions. `null` when the form has none.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Language the form is shown in, such as en_US.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Advertiser-facing form name.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "privacy_policy_link_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Custom link text for the privacy policy. `null` when the default is used.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "privacy_policy_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Privacy policy URL configured on the form.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "question_labels": {
          "target": "com.whop.social_accounts#SocialAccountLeadFormQuestionLabelsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "questions": {
          "target": "com.whop.social_accounts#SocialAccountLeadFormQuestionsList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#AdLeadFormCompletion": {
      "type": "structure",
      "members": {
        "button_text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Text of the follow-up button.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Body text under the headline.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "headline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Headline of the completion screen.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Website the follow-up button opens. `null` when the screen has no button.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#AdLeadFormDisclaimer": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disclaimer text.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "checkboxes": {
          "target": "com.whop.social_accounts#AdLeadFormDisclaimerCheckboxesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Disclaimer title.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#AdLeadFormDisclaimerCheckbox": {
      "type": "structure",
      "members": {
        "checked_by_default": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the checkbox starts ticked.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier consent responses are stored under.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "required": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the checkbox must be ticked to submit the form.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Consent text next to the checkbox.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#AdLeadFormDisclaimerCheckboxesList": {
      "type": "list",
      "member": {
        "target": "com.whop.social_accounts#AdLeadFormDisclaimerCheckbox"
      },
      "traits": {}
    },
    "com.whop.social_accounts#SocialAccountLeadFormFormType": {
      "type": "enum",
      "members": {
        "MORE_VOLUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "more_volume"
          }
        },
        "HIGHER_INTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "higher_intent"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`more_volume` is quickest to submit; `higher_intent` adds a confirmation step before submission."
      }
    },
    "com.whop.social_accounts#AdLeadFormIntro": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Body text under the headline.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "headline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Headline of the intro screen.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#SocialAccountLeadFormQuestionLabelsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.social_accounts#AdLeadFormQuestion": {
      "type": "structure",
      "members": {
        "format": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Answer format for `custom` questions: `short_answer`, `multiple_choice`, or `appointment`. Absent otherwise."
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question text for `custom` questions. Absent for standard prefill questions."
          }
        },
        "options": {
          "target": "com.whop.social_accounts#AdLeadFormQuestionOptionsList"
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Question type: a standard prefill type such as `email`, `phone`, or `full_name`, or `custom` for your own question.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#AdLeadFormQuestionOption": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Stable identifier the choice's answers are stored under. Absent for simple choices.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "logic": {
          "target": "com.whop.social_accounts#AdLeadFormOptionLogic",
          "traits": {
            "smithy.api#documentation": "Where the form goes when this choice is selected. Absent when the form just continues to the next question."
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Choice text shown to the person.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#AdLeadFormOptionLogic": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.whop.social_accounts#AdLeadFormOptionLogicAction",
          "traits": {
            "smithy.api#documentation": "What happens when the choice is selected.",
            "smithy.api#required": {}
          }
        },
        "target_end_page_index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Zero-based index of the ending screen to jump to."
          }
        },
        "target_question_index": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Zero-based index of the question to jump to, for `go_to_question`."
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#AdLeadFormOptionLogicAction": {
      "type": "enum",
      "members": {
        "GO_TO_QUESTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "go_to_question"
          }
        },
        "SUBMIT_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "submit_form"
          }
        },
        "CLOSE_FORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "close_form"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What happens when the choice is selected."
      }
    },
    "com.whop.social_accounts#AdLeadFormQuestionOptionsList": {
      "type": "list",
      "member": {
        "target": "com.whop.social_accounts#AdLeadFormQuestionOption"
      },
      "traits": {}
    },
    "com.whop.social_accounts#SocialAccountLeadFormQuestionsList": {
      "type": "list",
      "member": {
        "target": "com.whop.social_accounts#AdLeadFormQuestion"
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountLeadFormsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.social_accounts#SocialAccountLeadForm"
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountLeadFormsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.social_accounts#ListSocialAccountLeadFormsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.social_accounts#ListSocialAccountLeadForms": {
      "type": "operation",
      "input": {
        "target": "com.whop.social_accounts#ListSocialAccountLeadFormsRequest"
      },
      "output": {
        "target": "com.whop.social_accounts#ListSocialAccountLeadFormsResponse"
      },
      "errors": [
        {
          "target": "com.whop.social_accounts#BadRequest"
        },
        {
          "target": "com.whop.social_accounts#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/social_accounts/{id}/lead_forms",
          "code": 200
        },
        "smithy.api#documentation": "List Social Account Lead Forms\n\nLists the active lead (instant) forms that already exist on a connected Facebook page, so an ad can reuse one as its `lead_gen_form_id` instead of authoring a new form. Every active form comes back in a single response — the list is not paginated."
      }
    },
    "com.whop.social_accounts#ListSocialAccountPostsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The social account (a sacc_ identifier) whose posts to list."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#required": {},
            "smithy.api#documentation": "The Account (a biz_ identifier) the social account is connected to."
          }
        },
        "post_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "post_id",
            "smithy.api#documentation": "Return only the single post with this platform id, instead of the full list."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "The number of posts to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "Cursor to fetch the page after (from page_info.end_cursor)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.social_accounts#SocialAccountPost": {
      "type": "structure",
      "members": {
        "call_to_action": {
          "target": "com.whop.social_accounts#SocialAccountPostCallToAction",
          "traits": {
            "smithy.api#documentation": "The post's call-to-action button, for example shop_now (Facebook only; null for Instagram and TikTok).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "destination_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL the post's call-to-action drives to (Facebook only; null for Instagram and TikTok).",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "embed_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An iframe-embeddable URL for previewing the post inline (the platform's player or post embed). For TikTok this is the only preview, since media_url is null; for Facebook and Instagram it supplements media_url. Null when no public embed is available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The platform's own identifier for the post or media. Use it to reference the post on an ad.",
            "smithy.api#required": {}
          }
        },
        "media_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL of the post's media — the image for image posts, the playable video file for video posts. Null for TikTok, which exposes no raw file (use embed_url). Meta URLs are signed and expire after roughly 24 hours, so don't store them.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "restrictions": {
          "target": "com.whop.social_accounts#SocialAccountPostRestrictionsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "thumbnail_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Poster image for video posts (always set for TikTok, which is video-only); null for image posts, where media_url is already the image.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#SocialAccountPostCallToAction": {
      "type": "enum",
      "members": {
        "LEARN_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "learn_more"
          }
        },
        "SHOP_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "shop_now"
          }
        },
        "SIGN_UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sign_up"
          }
        },
        "SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "subscribe"
          }
        },
        "GET_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "get_started"
          }
        },
        "BOOK_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "book_now"
          }
        },
        "APPLY_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apply_now"
          }
        },
        "CONTACT_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contact_us"
          }
        },
        "DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "download"
          }
        },
        "ORDER_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "order_now"
          }
        },
        "BUY_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "buy_now"
          }
        },
        "GET_QUOTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "get_quote"
          }
        },
        "MESSAGE_PAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "message_page"
          }
        },
        "WHATSAPP_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whatsapp_message"
          }
        },
        "INSTAGRAM_MESSAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram_message"
          }
        },
        "CALL_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "call_now"
          }
        },
        "GET_DIRECTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "get_directions"
          }
        },
        "SEND_UPDATES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "send_updates"
          }
        },
        "GET_OFFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "get_offer"
          }
        },
        "WATCH_MORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "watch_more"
          }
        },
        "LISTEN_NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "listen_now"
          }
        },
        "PLAY_GAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "play_game"
          }
        },
        "OPEN_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "open_link"
          }
        },
        "NO_BUTTON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_button"
          }
        },
        "GET_OFFER_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "get_offer_view"
          }
        },
        "GET_EVENT_TICKETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "get_event_tickets"
          }
        },
        "SEE_MENU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "see_menu"
          }
        },
        "REQUEST_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "request_time"
          }
        },
        "EVENT_RSVP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "event_rsvp"
          }
        },
        "SEE_DETAILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "see_details"
          }
        },
        "VIEW_INSTAGRAM_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "view_instagram_profile"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The post's call-to-action button, for example shop_now (Facebook only; null for Instagram and TikTok)."
      }
    },
    "com.whop.social_accounts#SocialAccountPostRestrictionsItem": {
      "type": "enum",
      "members": {
        "LEAD_FORM_INELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "lead_form_ineligible"
          }
        },
        "PROMOTION_INELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "promotion_ineligible"
          }
        },
        "COPYRIGHTED_MUSIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "copyrighted_music"
          }
        },
        "MESSENGER_DESTINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "messenger_destination"
          }
        },
        "INSTAGRAM_DESTINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram_destination"
          }
        },
        "WHATSAPP_DESTINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whatsapp_destination"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ways this post can't be used on an ad. `lead_form_ineligible`: post can't be used in lead form ads. `promotion_ineligible`: the platform won't promote this post at all — always present when that's true, alongside a reason code when one is identified. `copyrighted_music`: post uses music the platform does not allow for ads. `messenger_destination`, `instagram_destination`, `whatsapp_destination`: the post's own button opens that chat app, so the post can only run in an ad group that sends people to the same one — always accompanied by `lead_form_ineligible`. Empty when the post has no restrictions."
      }
    },
    "com.whop.social_accounts#SocialAccountPostRestrictionsList": {
      "type": "list",
      "member": {
        "target": "com.whop.social_accounts#SocialAccountPostRestrictionsItem"
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountPostsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.social_accounts#SocialAccountPost"
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountPostsResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.social_accounts#ListSocialAccountPostsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.social_accounts#ListSocialAccountPostsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.social_accounts#ListSocialAccountPostsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.social_accounts#ListSocialAccountPosts": {
      "type": "operation",
      "input": {
        "target": "com.whop.social_accounts#ListSocialAccountPostsRequest"
      },
      "output": {
        "target": "com.whop.social_accounts#ListSocialAccountPostsResponse"
      },
      "errors": [
        {
          "target": "com.whop.social_accounts#BadRequest"
        },
        {
          "target": "com.whop.social_accounts#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/social_accounts/{id}/posts",
          "code": 200
        },
        "smithy.api#documentation": "List Social Account Posts\n\nLists the existing posts of a connected Facebook page, Instagram account, or TikTok account.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.social_accounts#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.social_accounts#Conflict": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 409
          }
        ]
      }
    },
    "com.whop.social_accounts#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.social_accounts#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.social_accounts#SocialAccounts": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.social_accounts#ListSocialAccounts"
        },
        {
          "target": "com.whop.social_accounts#CreateSocialAccount"
        },
        {
          "target": "com.whop.social_accounts#ConnectSocialAccount"
        },
        {
          "target": "com.whop.social_accounts#DeleteSocialAccount"
        },
        {
          "target": "com.whop.social_accounts#ListSocialAccountLeadForms"
        },
        {
          "target": "com.whop.social_accounts#ListSocialAccountPosts"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
