{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.support_channels#SupportChannelView": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "customer"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The perspective to filter support channels by."
      }
    },
    "com.whop.support_channels#Direction": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The direction of the sort."
      }
    },
    "com.whop.support_channels#MessageChannelOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        },
        "LAST_POST_SENT_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last_post_sent_at"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort options for message channels"
      }
    },
    "com.whop.support_channels#ListSupportChannelRequest": {
      "type": "structure",
      "members": {
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after"
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before"
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first"
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last"
          }
        },
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "company_id"
          }
        },
        "view": {
          "target": "com.whop.support_channels#SupportChannelView",
          "traits": {
            "smithy.api#httpQuery": "view"
          }
        },
        "open": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "open"
          }
        },
        "direction": {
          "target": "com.whop.support_channels#Direction",
          "traits": {
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "com.whop.support_channels#MessageChannelOrder",
          "traits": {
            "smithy.api#httpQuery": "order"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.support_channels#SupportChannelListItem": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the company associated with this channel. Null if this is not a support or company-scoped conversation.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A custom display name assigned to this channel by the user. Null if no custom name has been set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "customer_user": {
          "target": "com.whop.support_channels#SupportChannelListItemCustomerUser",
          "traits": {
            "smithy.api#documentation": "The customer who initiated this support conversation. Null if this is not a support chat.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the entity",
            "smithy.api#required": {}
          }
        },
        "last_message_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the most recent message was sent in this channel. Null if no messages have been sent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "resolved_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the linked support ticket was marked as resolved. Null if unresolved or not a support chat.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A messaging channel that can be a one-on-one DM, group chat, company support conversation, or platform-level direct message."
      }
    },
    "com.whop.support_channels#SupportChannelListItemCustomerUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The customer who initiated this support conversation. Null if this is not a support chat."
      }
    },
    "com.whop.support_channels#ListSupportChannelResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.support_channels#SupportChannelListItem"
      },
      "traits": {
        "smithy.api#documentation": "A list of nodes."
      }
    },
    "com.whop.support_channels#PageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating forwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, are there more items?",
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When paginating backwards, the cursor to continue.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about pagination in a connection."
      }
    },
    "com.whop.support_channels#ListSupportChannelResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.support_channels#ListSupportChannelResponseDataList",
          "traits": {
            "smithy.api#documentation": "A list of nodes.",
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.support_channels#PageInfo",
          "traits": {
            "smithy.api#documentation": "Information to aid in pagination.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.support_channels#ListSupportChannel": {
      "type": "operation",
      "input": {
        "target": "com.whop.support_channels#ListSupportChannelRequest"
      },
      "output": {
        "target": "com.whop.support_channels#ListSupportChannelResponse"
      },
      "errors": [
        {
          "target": "com.whop.support_channels#BadRequest"
        },
        {
          "target": "com.whop.support_channels#Forbidden"
        },
        {
          "target": "com.whop.support_channels#NotFound"
        },
        {
          "target": "com.whop.support_channels#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/support_channels",
          "code": 200
        },
        "smithy.api#documentation": "List support channels\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nReturns a paginated list of support channels for a specific company, with optional filtering by resolution status and custom sorting.\n\nRequired permissions:\n - `support_chat:read`",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.support_channels#CreateSupportChannelRequest": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the company to create the support channel in.",
            "smithy.api#required": {}
          }
        },
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Optional custom display name for the support channel.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "notifications_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Whop app notifications are enabled for this support channel. Webhooks still fire.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "user_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user ID (e.g. 'user_xxxxx') or username of the customer to open a support channel for.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.support_channels#SupportChannel": {
      "type": "structure",
      "members": {
        "company_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier of the company associated with this channel. Null if this is not a support or company-scoped conversation.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "custom_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A custom display name assigned to this channel by the user. Null if no custom name has been set.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "customer_user": {
          "target": "com.whop.support_channels#SupportChannelCustomerUser",
          "traits": {
            "smithy.api#documentation": "The customer who initiated this support conversation. Null if this is not a support chat.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the entity",
            "smithy.api#required": {}
          }
        },
        "last_message_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the most recent message was sent in this channel. Null if no messages have been sent.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "resolved_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The timestamp when the linked support ticket was marked as resolved. Null if unresolved or not a support chat.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A messaging channel that can be a one-on-one DM, group chat, company support conversation, or platform-level direct message."
      }
    },
    "com.whop.support_channels#SupportChannelCustomerUser": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the user.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name shown on their public profile.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username shown on their public profile.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The customer who initiated this support conversation. Null if this is not a support chat."
      }
    },
    "com.whop.support_channels#CreateSupportChannel": {
      "type": "operation",
      "input": {
        "target": "com.whop.support_channels#CreateSupportChannelRequest"
      },
      "output": {
        "target": "com.whop.support_channels#SupportChannel"
      },
      "errors": [
        {
          "target": "com.whop.support_channels#BadRequest"
        },
        {
          "target": "com.whop.support_channels#Forbidden"
        },
        {
          "target": "com.whop.support_channels#NotFound"
        },
        {
          "target": "com.whop.support_channels#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/support_channels",
          "code": 200
        },
        "smithy.api#documentation": "Create support channel\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nOpen a new support channel between a company team member and a customer. Returns the existing channel if one already exists for that user.\n\nRequired permissions:\n - `support_chat:create`"
      }
    },
    "com.whop.support_channels#RetrieveSupportChannelRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The unique identifier of the support channel to retrieve."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.support_channels#RetrieveSupportChannel": {
      "type": "operation",
      "input": {
        "target": "com.whop.support_channels#RetrieveSupportChannelRequest"
      },
      "output": {
        "target": "com.whop.support_channels#SupportChannel"
      },
      "errors": [
        {
          "target": "com.whop.support_channels#BadRequest"
        },
        {
          "target": "com.whop.support_channels#Forbidden"
        },
        {
          "target": "com.whop.support_channels#NotFound"
        },
        {
          "target": "com.whop.support_channels#UnprocessableEntity"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/support_channels/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve support channel\n\n[Legacy API — https://docs.whop.com/api-reference]\n\nRetrieves the details of an existing support channel.\n\nRequired permissions:\n - `support_chat:read`"
      }
    },
    "com.whop.support_channels#BadRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 400
          }
        ]
      }
    },
    "com.whop.support_channels#Forbidden": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 403
          }
        ]
      }
    },
    "com.whop.support_channels#NotFound": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 404
          }
        ]
      }
    },
    "com.whop.support_channels#UnprocessableEntity": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 422,
        "com.distilled.openapi#errorMatchers": [
          {
            "status": 422
          }
        ]
      }
    },
    "com.whop.support_channels#SupportChannels": {
      "type": "service",
      "version": "1.0.0",
      "operations": [
        {
          "target": "com.whop.support_channels#ListSupportChannel"
        },
        {
          "target": "com.whop.support_channels#CreateSupportChannel"
        },
        {
          "target": "com.whop.support_channels#RetrieveSupportChannel"
        }
      ],
      "traits": {
        "smithy.api#title": "Whop API",
        "smithy.api#documentation": "The Whop REST API. Please see https://docs.whop.com/developer/api/getting-started for more details."
      }
    }
  }
}
