{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.whop.users#ListUsersRequest": {
      "type": "structure",
      "members": {
        "query": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "query",
            "smithy.api#documentation": "A search term to filter users by name or username."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "The number of users to return (max 50)."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor; returns users after this position."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "The number of users to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor; returns users before this position."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#User": {
      "type": "structure",
      "members": {
        "balance": {
          "target": "com.whop.users#UserBalance",
          "traits": {
            "smithy.api#documentation": "The user's balance: personal cash + crypto + in-flight treasury deposits, plus account balances for accounts they own. Computed only on the self view (retrieved with the reserved id `me`) for callers with balance-read scope; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "balance_history": {
          "target": "com.whop.users#UserBalanceHistory",
          "traits": {
            "smithy.api#documentation": "The user's cumulative wallet balance over time (USD `{ t, v }` points plus last/min/max), for the balance chart. Opt in with `include_balance_history=true` when retrieving yourself with the reserved id `me`; populated only for callers with balance-read scope and `null` otherwise. A user with no wallet activity returns an empty series.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "banner": {
          "target": "com.whop.users#UserBanner",
          "traits": {
            "smithy.api#documentation": "The user's profile banner wrapper. `null` when the user has no banner.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "bio": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's biography",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the user was created, as an ISO 8601 timestamp",
            "smithy.api#required": {}
          }
        },
        "earnings_usd": {
          "target": "com.whop.users#UserEarnings",
          "traits": {
            "smithy.api#documentation": "The user's gross USD income over time. Populated only on single-user self reads for callers with balance-read scope; `null` otherwise.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's email address. Populated only on the self view (retrieved with the reserved id `me`) for callers with email-read scope; `null` otherwise, or while the account has no confirmed email yet.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "User ID, prefixed `user_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's display name",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "profile_picture": {
          "target": "com.whop.users#UserProfilePicture",
          "traits": {
            "smithy.api#documentation": "Avatar wrapper; its `url` is always present, using a generated placeholder when the user set no picture.",
            "smithy.api#required": {}
          }
        },
        "social_accounts": {
          "target": "com.whop.users#UserSocialAccountsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "staff": {
          "target": "com.whop.users#UserStaffAccess",
          "traits": {
            "smithy.api#documentation": "Whop staff access flags. Populated only on the self view (retrieved with the reserved id `me`) for callers with staff-read scope; `null` there for every user who is not Whop staff, and always `null` elsewhere.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's unique username",
            "smithy.api#required": {}
          }
        },
        "verification": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "Identity verification status for the user's `individual` (KYC) and `business` (KYB) profiles. Each is `null` until created, otherwise a `status` of `not_started`, `pending`, `approved`, or `rejected`.",
            "smithy.api#required": {}
          }
        },
        "whop_partner_enabled_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the user became an enrolled Whop Partner, as an ISO 8601 timestamp. `null` if never enrolled.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserBalance": {
      "type": "structure",
      "members": {
        "businesses": {
          "target": "com.whop.users#UserBalanceBusinessesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "businesses_total_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Combined USD balance across every account the user owns.",
            "smithy.api#required": {}
          }
        },
        "cash": {
          "target": "com.whop.users#UserBalanceCashList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "cash_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fiat cash in USD, including pending, in-transit, and reserve.",
            "smithy.api#required": {}
          }
        },
        "crypto": {
          "target": "com.whop.users#UserBalanceCryptoList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "crypto_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Crypto holdings in USD.",
            "smithy.api#required": {}
          }
        },
        "pending_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fiat pending and in-transit balances, plus in-flight treasury deposits, in USD.",
            "smithy.api#required": {}
          }
        },
        "total_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's personal balance in USD: cash (available + pending + in-transit + reserve) + crypto + in-flight treasury deposits. Excludes account balances (see businesses_total_usd).",
            "smithy.api#required": {}
          }
        },
        "treasury_pending_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Balance-to-wallet USDT0 payouts still in flight, in USD.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserBalanceBusiness": {
      "type": "structure",
      "members": {
        "balance_usd": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account's total balance in USD.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account ID, which looks like biz_*************.",
            "smithy.api#required": {}
          }
        },
        "logo_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account's logo URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account's display name.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserBalanceBusinessesList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#UserBalanceBusiness"
      },
      "traits": {}
    },
    "com.whop.users#UserBalanceCash": {
      "type": "structure",
      "members": {
        "balance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Available balance in the native currency.",
            "smithy.api#required": {}
          }
        },
        "balance_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Available balance converted to USD.",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lowercase ISO currency code, such as `usd` or `eur`.",
            "smithy.api#required": {}
          }
        },
        "in_transit_balance_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Balance moving to the user's own wallet or card, converted to USD.",
            "smithy.api#required": {}
          }
        },
        "pending_balance_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Pending balance converted to USD.",
            "smithy.api#required": {}
          }
        },
        "price_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "USD price per native currency unit, or `null` when no exchange rate is available.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "reserve_balance_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Reserved balance converted to USD.",
            "smithy.api#required": {}
          }
        },
        "total_withdrawable_balance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Withdrawable amount in the native currency.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserBalanceCashList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#UserBalanceCash"
      },
      "traits": {}
    },
    "com.whop.users#UserBalanceToken": {
      "type": "structure",
      "members": {
        "balance": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount held in native token units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "breakdown": {
          "target": "com.whop.users#AccountBalanceBreakdown",
          "traits": {
            "smithy.api#documentation": "Balance split into available, pending, in-transit, and reserve amounts, as native-unit decimal strings. Transfers between the user's own wallet and card are reported in `in_transit` until they arrive.",
            "smithy.api#required": {}
          }
        },
        "icon_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token icon URL.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The token's display name.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "price_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "USD price per token, or `null` when unknown.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "symbol": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token display symbol, such as `USDT`, `XAUT`, or `cbBTC`.",
            "smithy.api#required": {}
          }
        },
        "value_usd": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Holding USD value.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#AccountBalanceBreakdown": {
      "type": "structure",
      "members": {
        "available": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount you can spend, send, or withdraw now, in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "in_transit": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount moving between the account's own destinations, such as a treasury sweep to its crypto wallet or a card top-up. In native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "pending": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount from recent payments still settling, in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "pending_settlements": {
          "target": "com.whop.users#AccountBalanceBreakdownPendingSettlementsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reserve": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount held back, in native units, as a decimal string. Retrieve the account's reserves for why it is held and when it unlocks.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#AccountBalanceSettlement": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Amount expected that day, in native units, as a decimal string.",
            "smithy.api#required": {}
          }
        },
        "date": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The day this money is expected to finish settling, as an ISO 8601 date.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#AccountBalanceBreakdownPendingSettlementsList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#AccountBalanceSettlement"
      },
      "traits": {}
    },
    "com.whop.users#UserBalanceCryptoList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#UserBalanceToken"
      },
      "traits": {}
    },
    "com.whop.users#UserBalanceHistory": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.users#UserBalanceHistoryDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "last": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Value of the most recent point, in USD.",
            "smithy.api#required": {}
          }
        },
        "max": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum value across the window, in USD.",
            "smithy.api#required": {}
          }
        },
        "min": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Minimum value across the window, in USD.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserBalanceHistoryPoint": {
      "type": "structure",
      "members": {
        "t": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Point timestamp, in Unix seconds.",
            "smithy.api#required": {}
          }
        },
        "v": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Cumulative wallet balance at this point, in USD.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserBalanceHistoryDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#UserBalanceHistoryPoint"
      },
      "traits": {}
    },
    "com.whop.users#UserBanner": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Profile banner image URL.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserEarnings": {
      "type": "structure",
      "members": {
        "first_earned_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The first time the user earned gross income, as an ISO 8601 timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "owned_accounts": {
          "target": "com.whop.users#UserEarningsAmount",
          "traits": {
            "smithy.api#documentation": "Gross income from accounts the user owns or is owner-authorized on.",
            "smithy.api#required": {}
          }
        },
        "personal": {
          "target": "com.whop.users#UserEarningsAmount",
          "traits": {
            "smithy.api#documentation": "Gross income from the user's personal wallet.",
            "smithy.api#required": {}
          }
        },
        "total": {
          "target": "com.whop.users#UserEarningsAmount",
          "traits": {
            "smithy.api#documentation": "Gross income from the user's personal wallet plus accounts they own or are owner-authorized on.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserEarningsAmount": {
      "type": "structure",
      "members": {
        "last_24_hours": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gross income in USD over the last 24 hours.",
            "smithy.api#required": {}
          }
        },
        "last_30_days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gross income in USD over the last 30 days.",
            "smithy.api#required": {}
          }
        },
        "last_7_days": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Gross income in USD over the last 7 days.",
            "smithy.api#required": {}
          }
        },
        "lifetime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "All-time gross income in USD.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserProfilePicture": {
      "type": "structure",
      "members": {
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Avatar image URL. Always present — a generated placeholder when the user set no picture.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#SocialAccount": {
      "type": "structure",
      "members": {
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Why this social account currently can't be used for advertising — a failed share or a Meta-side restriction. Null when the account is healthy.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The platform-specific ID for this social account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unique identifier for the social account.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the social account on the platform.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "parent_social_account": {
          "target": "com.whop.users#SocialAccountParent",
          "traits": {
            "smithy.api#documentation": "The social account this one belongs to on the platform, such as the Facebook page that owns an Instagram account. Null when the social account stands on its own.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "com.whop.users#SocialAccountPlatform",
          "traits": {
            "smithy.api#documentation": "The platform the social account exists on.",
            "smithy.api#required": {}
          }
        },
        "profile_picture_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the profile picture of the social account can be accessed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "scopes": {
          "target": "com.whop.users#SocialAccountScopesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the social account can be accessed on the platform. Null while a Whop-owned page is still being provisioned.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the social account on the platform. Null while a Whop-owned page is still being provisioned.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the social account is verified on the platform.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#SocialAccountParent": {
      "type": "structure",
      "members": {
        "external_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The platform-specific ID for the parent social account.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Social account ID, prefixed `sacc_`.",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The display name of the parent social account on the platform.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "platform": {
          "target": "com.whop.users#SocialAccountParentPlatform",
          "traits": {
            "smithy.api#documentation": "The platform the parent social account exists on.",
            "smithy.api#required": {}
          }
        },
        "profile_picture_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URL where the profile picture of the parent social account can be accessed.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The username of the parent social account on the platform.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the parent social account is verified on the platform.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#SocialAccountParentPlatform": {
      "type": "enum",
      "members": {
        "X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x"
          }
        },
        "INSTAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram"
          }
        },
        "YOUTUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "youtube"
          }
        },
        "TIKTOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tiktok"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "facebook"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telegram"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The platform the parent social account exists on."
      }
    },
    "com.whop.users#SocialAccountPlatform": {
      "type": "enum",
      "members": {
        "X": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x"
          }
        },
        "INSTAGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "instagram"
          }
        },
        "YOUTUBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "youtube"
          }
        },
        "TIKTOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tiktok"
          }
        },
        "FACEBOOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "facebook"
          }
        },
        "DISCORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discord"
          }
        },
        "TELEGRAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "telegram"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The platform the social account exists on."
      }
    },
    "com.whop.users#SocialAccountScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.users#UserSocialAccountsList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#SocialAccount"
      },
      "traits": {}
    },
    "com.whop.users#UserStaffAccess": {
      "type": "structure",
      "members": {
        "admin": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user holds the admin staff role with a valid second factor.",
            "smithy.api#required": {}
          }
        },
        "investigation_access": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user can open Whop-internal investigation tooling right now: a qualifying staff role plus their investigation toggle switched on.",
            "smithy.api#required": {}
          }
        },
        "manager": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user holds the manager staff role with a valid second factor.",
            "smithy.api#required": {}
          }
        },
        "support": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user holds the support staff role with a valid second factor.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListUsersResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#User"
      },
      "traits": {}
    },
    "com.whop.users#ListUsersResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListUsersResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.users#ListUsersResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.users#ListUsersResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.users#ListUsers": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#ListUsersRequest"
      },
      "output": {
        "target": "com.whop.users#ListUsersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users",
          "code": 200
        },
        "smithy.api#documentation": "List Users\n\nSearch for users by name or username, ranked by social proximity to the authenticated user. Returns the user's most recently followed users when no query is given.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.users#ListOauthGrantsRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListOauthGrantsRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListOauthGrantsRequest": {
      "type": "structure",
      "members": {
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "app_id",
            "smithy.api#documentation": "Only return grants for this app, prefixed `app_`. An app the user has never authorized returns an empty list."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "The number of grants to return (default 20, max 100)."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor; returns grants after this position."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "The number of grants to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor; returns grants before this position."
          }
        },
        "order": {
          "target": "com.whop.users#ListOauthGrantsRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The field to sort grants by."
          }
        },
        "direction": {
          "target": "com.whop.users#ListOauthGrantsRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#OauthGrant": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account the grant is scoped to, prefixed `biz_`. `null` when the user authorized the app for themselves rather than for one of their accounts.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "app_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app this grant authorizes, prefixed `app_`.",
            "smithy.api#required": {}
          }
        },
        "authorized_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the user last authorized the app, as an ISO 8601 timestamp.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the user first authorized the app, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Grant ID, prefixed `oag_`.",
            "smithy.api#required": {}
          }
        },
        "redirect_url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where to send the user to finish the flow: the `redirect_uri` you supplied with the authorization `code` appended, and `state` when you supplied one. Its scheme, host, port, and path come back exactly as sent — never re-cased or re-encoded — because the client matches them against its registered URI. Returned only once, on create: the code is single-use and expires 10 minutes after it is issued, so redirect immediately."
          }
        },
        "revoked_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the grant was revoked, as an ISO 8601 timestamp, or `null` while it is still in force. A revoked grant authorizes nothing — treat its `scopes` as no longer granted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "scopes": {
          "target": "com.whop.users#OauthGrantScopesList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#OauthGrantScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.whop.users#ListOauthGrantsResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#OauthGrant"
      },
      "traits": {}
    },
    "com.whop.users#ListOauthGrantsResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListOauthGrantsResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.users#ListOauthGrantsResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.users#ListOauthGrantsResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.users#ListOauthGrants": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#ListOauthGrantsRequest"
      },
      "output": {
        "target": "com.whop.users#ListOauthGrantsResponse"
      },
      "errors": [
        {
          "target": "com.whop.users#BadRequest"
        },
        {
          "target": "com.whop.users#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/me/oauth_grants",
          "code": 200
        },
        "smithy.api#documentation": "List OAuth Grants\n\nLists the authenticated user's own OAuth grants — one per app they have authorized, per account they authorized it for. The list is always the caller's own; there is no parameter for reading another user's grants. Requires a user session: an API key or an OAuth token is refused, so an app can never enumerate the other apps a user has authorized.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.users#CreateOauthGrantRequestCodeChallengeMethod": {
      "type": "enum",
      "members": {
        "S256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S256"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "How `code_challenge` was derived. Only `S256` is accepted."
      }
    },
    "com.whop.users#CreateOauthGrantRequestRequestedScopesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#documentation": "The permissions the app is asking for, for example `member:basic:read`. `GET /api_keys/permissions` names and describes each one. Granting adds to whatever the user already granted this app rather than replacing it."
      }
    },
    "com.whop.users#CreateOauthGrantRequestResponseType": {
      "type": "enum",
      "members": {
        "CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "code"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The OAuth response type. Only `code` is accepted; defaults to `code`."
      }
    },
    "com.whop.users#CreateOauthGrantRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Authorize the app for one of the user's accounts rather than for the user alone, prefixed `biz_`. The user must have access to it."
          }
        },
        "client_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The app being authorized, prefixed `app_`.",
            "smithy.api#required": {}
          }
        },
        "code_challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The PKCE code challenge: the base64url-encoded SHA-256 of your code verifier, without padding.",
            "smithy.api#required": {}
          }
        },
        "code_challenge_method": {
          "target": "com.whop.users#CreateOauthGrantRequestCodeChallengeMethod",
          "traits": {
            "smithy.api#documentation": "How `code_challenge` was derived. Only `S256` is accepted.",
            "smithy.api#required": {}
          }
        },
        "consent_shown": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the consent UI listed these scopes for the user. Sending `false` succeeds only when the user has already granted every scope requested."
          }
        },
        "nonce": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "OIDC nonce, echoed into the resulting ID token. Required when `requested_scopes` includes `openid`."
          }
        },
        "redirect_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Where to send the user once they have consented. Must match one of the app's registered redirect URIs exactly — it is compared as a string, not normalized.",
            "smithy.api#required": {}
          }
        },
        "requested_scopes": {
          "target": "com.whop.users#CreateOauthGrantRequestRequestedScopesList",
          "traits": {
            "smithy.api#documentation": "The permissions the app is asking for, for example `member:basic:read`. `GET /api_keys/permissions` names and describes each one. Granting adds to whatever the user already granted this app rather than replacing it.",
            "smithy.api#required": {}
          }
        },
        "response_type": {
          "target": "com.whop.users#CreateOauthGrantRequestResponseType",
          "traits": {
            "smithy.api#documentation": "The OAuth response type. Only `code` is accepted; defaults to `code`."
          }
        },
        "state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Opaque value appended to `redirect_url` unchanged, for the client to correlate the response with its request."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#CreateOauthGrant": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#CreateOauthGrantRequest"
      },
      "output": {
        "target": "com.whop.users#OauthGrant"
      },
      "errors": [
        {
          "target": "com.whop.users#BadRequest"
        },
        {
          "target": "com.whop.users#Forbidden"
        },
        {
          "target": "com.whop.users#NotFound"
        },
        {
          "target": "com.whop.users#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/users/me/oauth_grants",
          "code": 200
        },
        "smithy.api#documentation": "Authorize an App\n\nCompletes the OAuth authorization step for the authenticated user: records their consent for the scopes an app asked for and mints the authorization code to hand back to it. Returns the grant, plus a `redirect_url` carrying that code — the one and only time it is returned. Exchange the code at `POST /oauth/token` with the verifier for `code_challenge`. Requires a user session, because consent has to come from the account holder: an API key or an OAuth token is refused, so an app can never authorize itself. Send an `Idempotency-Key` to make a retry safe — a replay returns the original `redirect_url` and its code rather than issuing a second one."
      }
    },
    "com.whop.users#ListPasskeysRequestOrder": {
      "type": "enum",
      "members": {
        "CREATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created_at"
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListPasskeysRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListPasskeysRequest": {
      "type": "structure",
      "members": {
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "The number of passkeys to return (default 20, max 100)."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor; returns passkeys after this position."
          }
        },
        "last": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "last",
            "smithy.api#documentation": "The number of passkeys to return from the end of the range."
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "before",
            "smithy.api#documentation": "A cursor; returns passkeys before this position."
          }
        },
        "order": {
          "target": "com.whop.users#ListPasskeysRequestOrder",
          "traits": {
            "smithy.api#httpQuery": "order",
            "smithy.api#documentation": "The field to sort passkeys by."
          }
        },
        "direction": {
          "target": "com.whop.users#ListPasskeysRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction",
            "smithy.api#documentation": "Sort direction."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#Passkey": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the user registered this passkey, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WebAuthn credential ID as a base64url string. Pass it in `allowCredentials` when you run a ceremony against this specific passkey.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Passkey ID, prefixed `wcred_`. Use it to delete the passkey.",
            "smithy.api#required": {}
          }
        },
        "last_used_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When this passkey last completed a WebAuthn ceremony, as an ISO 8601 timestamp, or `null` if it never has.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "nickname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The name the user gave this passkey, usually the device it lives on.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListPasskeysResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#Passkey"
      },
      "traits": {}
    },
    "com.whop.users#ListPasskeysResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListPasskeysResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.users#ListPasskeysResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.users#ListPasskeysResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.users#ListPasskeys": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#ListPasskeysRequest"
      },
      "output": {
        "target": "com.whop.users#ListPasskeysResponse"
      },
      "errors": [
        {
          "target": "com.whop.users#BadRequest"
        },
        {
          "target": "com.whop.users#Forbidden"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/me/passkeys",
          "code": 200
        },
        "smithy.api#documentation": "List\n\nLists the authenticated user's own passkeys, newest first. The list is always the caller's own; there is no parameter for reading another user's passkeys. Requires a user session: an API key or an OAuth token is refused, because a passkey confirms the account holder before a sensitive action and no app may enumerate one.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.users#CreatePasskeyRequest": {
      "type": "structure",
      "members": {
        "attestation_object": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `attestationObject` from the WebAuthn attestation response, base64url-encoded.",
            "smithy.api#required": {}
          }
        },
        "client_data_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `clientDataJSON` from the WebAuthn attestation response, base64url-encoded.",
            "smithy.api#required": {}
          }
        },
        "credential_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The WebAuthn credential ID the authenticator returned, base64url-encoded.",
            "smithy.api#required": {}
          }
        },
        "nickname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A name for this passkey, usually the device it lives on. 255 characters or fewer.",
            "smithy.api#required": {}
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#CreatePasskey": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#CreatePasskeyRequest"
      },
      "output": {
        "target": "com.whop.users#Passkey"
      },
      "errors": [
        {
          "target": "com.whop.users#BadRequest"
        },
        {
          "target": "com.whop.users#Forbidden"
        },
        {
          "target": "com.whop.users#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/users/me/passkeys",
          "code": 200
        },
        "smithy.api#documentation": "Register\n\nRegisters a passkey for the authenticated user from the attestation a browser produced for a `registration` challenge. Mint that challenge first with `POST /users/me/passkeys/challenge`; it is single-use and expires 5 minutes after it is issued. Requires a user session."
      }
    },
    "com.whop.users#CreatePasskeyChallengeRequestChallengeType": {
      "type": "enum",
      "members": {
        "REGISTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "registration"
          }
        },
        "DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deletion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ceremony this challenge is for."
      }
    },
    "com.whop.users#CreatePasskeyChallengeRequest": {
      "type": "structure",
      "members": {
        "challenge_type": {
          "target": "com.whop.users#CreatePasskeyChallengeRequestChallengeType",
          "traits": {
            "smithy.api#documentation": "The ceremony this challenge is for.",
            "smithy.api#required": {}
          }
        },
        "passkey_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The passkey the ceremony targets, prefixed `wcred_`. Required when `challenge_type` is `deletion`, ignored otherwise."
          }
        },
        "idempotency_key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpHeader": "Idempotency-Key",
            "smithy.api#documentation": "A unique key that makes this request safe to retry. See [Idempotent requests](https://docs.whop.com/developer/api/idempotency)."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#CreatePasskeyChallengeResponse": {
      "type": "structure",
      "members": {
        "challenge": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The challenge to pass to the WebAuthn ceremony, base64url-encoded without padding.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.users#CreatePasskeyChallenge": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#CreatePasskeyChallengeRequest"
      },
      "output": {
        "target": "com.whop.users#CreatePasskeyChallengeResponse"
      },
      "errors": [
        {
          "target": "com.whop.users#BadRequest"
        },
        {
          "target": "com.whop.users#Forbidden"
        },
        {
          "target": "com.whop.users#NotFound"
        },
        {
          "target": "com.whop.users#Conflict"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/users/me/passkeys/challenge",
          "code": 200
        },
        "smithy.api#documentation": "Create Challenge\n\nMints the challenge a browser needs to run a WebAuthn ceremony against the authenticated user's own passkeys. A `registration` challenge enrolls a new passkey; a `deletion` challenge is bound to the one passkey named by `passkey_id` and proves the user still holds it. Challenges are single-use and expire 5 minutes after they are issued, so send a fresh `Idempotency-Key` per ceremony — a replayed key returns the original challenge, which may already have expired. Requires a user session."
      }
    },
    "com.whop.users#DeletePasskeyRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "Passkey ID, prefixed `wcred_`."
          }
        },
        "authenticator_data": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `authenticatorData` from the WebAuthn assertion, base64url-encoded.",
            "smithy.api#required": {}
          }
        },
        "client_data_json": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `clientDataJSON` from the WebAuthn assertion, base64url-encoded.",
            "smithy.api#required": {}
          }
        },
        "signature": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The `signature` from the WebAuthn assertion, base64url-encoded.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#DeletePasskeyResponse": {
      "type": "structure",
      "members": {
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Always `true`: the passkey was removed.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the deleted passkey.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.users#DeletePasskey": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#DeletePasskeyRequest"
      },
      "output": {
        "target": "com.whop.users#DeletePasskeyResponse"
      },
      "errors": [
        {
          "target": "com.whop.users#BadRequest"
        },
        {
          "target": "com.whop.users#Forbidden"
        },
        {
          "target": "com.whop.users#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/users/me/passkeys/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete\n\nDeletes one of the authenticated user's own passkeys. The request body carries a WebAuthn assertion from the passkey being deleted, so possession of the credential is proven before it is removed: mint a `deletion` challenge for it first, run the ceremony with that passkey, and send the result here. Deleting the user's last passkey is allowed — their other step-up factors remain. Requires a user session."
      }
    },
    "com.whop.users#UserPreferences": {
      "type": "structure",
      "members": {
        "bounty_worker_onboarding_dismissed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user has dismissed the first-time bounty worker onboarding. Set to `false` to show it again.",
            "smithy.api#required": {}
          }
        },
        "investigation_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether investigation mode is enabled for the user. Only meaningful for staff users with investigation access.",
            "smithy.api#required": {}
          }
        },
        "terms_accepted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user has accepted Whop's terms and policies. `false` until recorded via `PATCH` with `terms_accepted: true`.",
            "smithy.api#required": {}
          }
        },
        "terms_accepted_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the user most recently accepted Whop's terms and policies, as an ISO 8601 timestamp. `null` until accepted.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#RetrieveUserPreferences": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.whop.users#UserPreferences"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/me/preferences",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve\n\nRetrieves the authenticated user's settings document. Addressed only as `me` — the document always belongs to the session user."
      }
    },
    "com.whop.users#UpdateUserPreferencesRequest": {
      "type": "structure",
      "members": {
        "bounty_worker_onboarding_dismissed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the user has dismissed the first-time bounty worker onboarding. Set to `false` to show it again."
          }
        },
        "investigation_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether investigation mode is enabled for the user. Only meaningful for staff users with investigation access."
          }
        },
        "terms_accepted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Records the user's acceptance of Whop's terms and policies. Only `true` is accepted — the server stamps `terms_accepted_at` and acceptance cannot be withdrawn here."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#UpdateUserPreferences": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#UpdateUserPreferencesRequest"
      },
      "output": {
        "target": "com.whop.users#UserPreferences"
      },
      "errors": [
        {
          "target": "com.whop.users#BadRequest"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/users/me/preferences",
          "code": 200
        },
        "smithy.api#documentation": "Update\n\nUpdates the authenticated user's settings document. Replaces the top-level keys it is given and leaves the rest untouched."
      }
    },
    "com.whop.users#SetUserNotificationPreferencesRequestPreferencesItemLevel": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "MENTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mentions"
          }
        },
        "NOTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nothing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the user is notified about in this scope. `mentions` is only valid for an experience level. `null` clears the preference."
      }
    },
    "com.whop.users#SetUserNotificationPreferencesRequestPreferencesItemScopeChannel": {
      "type": "enum",
      "members": {
        "IN_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_app"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delivery channel the preference applies to. Required when setting a topic override."
      }
    },
    "com.whop.users#SetUserNotificationPreferencesRequestPreferencesItemScope": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account to scope the preference to (member notifications), `biz_` tag.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "com.whop.users#SetUserNotificationPreferencesRequestPreferencesItemScopeChannel",
          "traits": {
            "smithy.api#documentation": "Delivery channel the preference applies to. Required when setting a topic override.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "experience_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Experience to scope the preference to (`exp_` tag). Requires `account_id` when a `topic_id` is also given.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account whose team notifications the preference is scoped to, `biz_` tag.",
            "com.distilled.openapi#nullable": {}
          }
        },
        "topic_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notification topic to scope the preference to, `topic_` tag.",
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the preference applies to. `null` on a dimension means the preference is not narrowed there."
      }
    },
    "com.whop.users#SetUserNotificationPreferencesRequestPreferencesItem": {
      "type": "structure",
      "members": {
        "level": {
          "target": "com.whop.users#SetUserNotificationPreferencesRequestPreferencesItemLevel",
          "traits": {
            "smithy.api#documentation": "What the user is notified about in this scope. `mentions` is only valid for an experience level. `null` clears the preference.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "scope": {
          "target": "com.whop.users#SetUserNotificationPreferencesRequestPreferencesItemScope",
          "traits": {
            "smithy.api#documentation": "What the preference applies to. `null` on a dimension means the preference is not narrowed there.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#SetUserNotificationPreferencesRequestPreferencesList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#SetUserNotificationPreferencesRequestPreferencesItem"
      },
      "traits": {
        "smithy.api#documentation": "The preferences to set, at most 100 per request."
      }
    },
    "com.whop.users#SetUserNotificationPreferencesRequest": {
      "type": "structure",
      "members": {
        "preferences": {
          "target": "com.whop.users#SetUserNotificationPreferencesRequestPreferencesList",
          "traits": {
            "smithy.api#documentation": "The preferences to set, at most 100 per request.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#NotificationPreferenceState": {
      "type": "structure",
      "members": {
        "level": {
          "target": "com.whop.users#NotificationPreferenceStateLevel",
          "traits": {
            "smithy.api#documentation": "What the user is now notified about in this scope, or `null` if the preference was cleared and the scope inherits its default again.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "object": {
          "target": "com.whop.users#NotificationPreferenceStateObject",
          "traits": {
            "smithy.api#documentation": "Which kind of preference was written: `experience_notification_preference` for an experience level, `notification_preference` for a topic override.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.whop.users#NotificationPreferenceScope",
          "traits": {
            "smithy.api#documentation": "The scope that was written, resolved. `null` on a dimension means the preference is not narrowed there.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#NotificationPreferenceStateLevel": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "MENTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mentions"
          }
        },
        "NOTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nothing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the user is now notified about in this scope, or `null` if the preference was cleared and the scope inherits its default again."
      }
    },
    "com.whop.users#NotificationPreferenceStateObject": {
      "type": "enum",
      "members": {
        "NOTIFICATION_PREFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notification_preference"
          }
        },
        "EXPERIENCE_NOTIFICATION_PREFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experience_notification_preference"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Which kind of preference was written: `experience_notification_preference` for an experience level, `notification_preference` for a topic override."
      }
    },
    "com.whop.users#NotificationPreferenceScope": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account the preference is scoped to (member notifications), prefixed `biz_`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "channel": {
          "target": "com.whop.users#NotificationPreferenceScopeChannel",
          "traits": {
            "smithy.api#documentation": "Delivery channel the preference applies to. `null` applies to every channel.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "experience_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Experience the preference is scoped to, prefixed `exp_`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "team_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account whose team notifications the preference is scoped to, prefixed `biz_`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "topic_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notification topic the preference is scoped to, prefixed `topic_`.",
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#NotificationPreferenceScopeChannel": {
      "type": "enum",
      "members": {
        "IN_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_app"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delivery channel the preference applies to. `null` applies to every channel."
      }
    },
    "com.whop.users#SetUserNotificationPreferencesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#NotificationPreferenceState"
      },
      "traits": {}
    },
    "com.whop.users#SetUserNotificationPreferencesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.users#SetUserNotificationPreferencesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.users#SetUserNotificationPreferences": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#SetUserNotificationPreferencesRequest"
      },
      "output": {
        "target": "com.whop.users#SetUserNotificationPreferencesResponse"
      },
      "errors": [
        {
          "target": "com.whop.users#BadRequest"
        },
        {
          "target": "com.whop.users#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/users/me/preferences/notifications",
          "code": 200
        },
        "smithy.api#documentation": "Set\n\nSets the authenticated user's notification preferences. Each preference is addressed by `scope`, not by id, so a scope read back from either list endpoint can be sent straight here.\n\nA scope naming an experience with no topic sets that experience's level, and accepts all three levels. Any other scope sets a topic override, which is binary — `all` or `nothing` — and requires a `channel`.\n\n`level: null` clears the preference. Preferences are stored as overrides, so clearing one means the scope inherits its default again rather than being switched off.\n\nThe batch is applied in one transaction: if any entry is rejected, none are written. Experience levels are applied before topic overrides, because setting a level replaces every topic preference for that experience — so an override sent alongside a level wins. The response reports what each scope now resolves to, in the order the entries were sent."
      }
    },
    "com.whop.users#ListUserNotificationExperiencePreferencesRequest": {
      "type": "structure",
      "members": {
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "The number of preferences to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor; returns preferences after this position."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#ExperienceNotificationPreference": {
      "type": "structure",
      "members": {
        "level": {
          "target": "com.whop.users#ExperienceNotificationPreferenceLevel",
          "traits": {
            "smithy.api#documentation": "What the user is notified about in the experience: `all` notifications, only `mentions`, or `nothing`.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.whop.users#ExperienceNotificationPreferenceObject",
          "traits": {
            "smithy.api#documentation": "The type of object. Always `experience_notification_preference`.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.whop.users#NotificationPreferenceScope",
          "traits": {
            "smithy.api#documentation": "What the preference applies to. Echo it back to `PATCH /users/me/preferences/notifications` to change this preference.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ExperienceNotificationPreferenceLevel": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "MENTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mentions"
          }
        },
        "NOTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nothing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the user is notified about in the experience: `all` notifications, only `mentions`, or `nothing`."
      }
    },
    "com.whop.users#ExperienceNotificationPreferenceObject": {
      "type": "enum",
      "members": {
        "EXPERIENCE_NOTIFICATION_PREFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "experience_notification_preference"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of object. Always `experience_notification_preference`."
      }
    },
    "com.whop.users#ListUserNotificationExperiencePreferencesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#ExperienceNotificationPreference"
      },
      "traits": {}
    },
    "com.whop.users#ListUserNotificationExperiencePreferencesResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListUserNotificationExperiencePreferencesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.users#ListUserNotificationExperiencePreferencesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.users#ListUserNotificationExperiencePreferencesResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.users#ListUserNotificationExperiencePreferences": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#ListUserNotificationExperiencePreferencesRequest"
      },
      "output": {
        "target": "com.whop.users#ListUserNotificationExperiencePreferencesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/me/preferences/notifications/experiences",
          "code": 200
        },
        "smithy.api#documentation": "List Experiences\n\nLists the authenticated user's per-experience notification levels. Experiences the user never set a level for are omitted — their effective level is `all`.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.users#ListUserNotificationTopicPreferencesRequestChannel": {
      "type": "enum",
      "members": {
        "IN_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "in_app"
          }
        },
        "MOBILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "mobile"
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListUserNotificationTopicPreferencesRequest": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "com.whop.users#ListUserNotificationTopicPreferencesRequestChannel",
          "traits": {
            "smithy.api#httpQuery": "channel",
            "smithy.api#documentation": "Only return preferences for this delivery channel (or not narrowed to a channel)."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "Only return preferences scoped to this account's member notifications (`biz_` tag)."
          }
        },
        "team_account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "team_account_id",
            "smithy.api#documentation": "Only return preferences scoped to this account's team notifications (`biz_` tag)."
          }
        },
        "experience_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "experience_id",
            "smithy.api#documentation": "Only return preferences scoped to this experience (`exp_` tag)."
          }
        },
        "topic_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "topic_id",
            "smithy.api#documentation": "Only return preferences scoped to this notification topic (`topic_` tag)."
          }
        },
        "first": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "first",
            "smithy.api#documentation": "The number of preferences to return."
          }
        },
        "after": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "after",
            "smithy.api#documentation": "A cursor; returns preferences after this position."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#UserNotificationPreference": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the preference was created, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Notification preference ID, prefixed `unpf_`.",
            "smithy.api#required": {}
          }
        },
        "level": {
          "target": "com.whop.users#UserNotificationPreferenceLevel",
          "traits": {
            "smithy.api#documentation": "What the user is notified about in this scope: `all` or `nothing`.",
            "smithy.api#required": {}
          }
        },
        "object": {
          "target": "com.whop.users#UserNotificationPreferenceObject",
          "traits": {
            "smithy.api#documentation": "The type of object. Always `notification_preference`.",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.whop.users#NotificationPreferenceScope",
          "traits": {
            "smithy.api#documentation": "What the preference applies to. Echo it back to `PATCH /users/me/preferences/notifications` to change this preference.",
            "smithy.api#required": {}
          }
        },
        "updated_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "When the preference was last changed, as an ISO 8601 timestamp.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#UserNotificationPreferenceLevel": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        },
        "NOTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "nothing"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "What the user is notified about in this scope: `all` or `nothing`."
      }
    },
    "com.whop.users#UserNotificationPreferenceObject": {
      "type": "enum",
      "members": {
        "NOTIFICATION_PREFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "notification_preference"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of object. Always `notification_preference`."
      }
    },
    "com.whop.users#ListUserNotificationTopicPreferencesResponseDataList": {
      "type": "list",
      "member": {
        "target": "com.whop.users#UserNotificationPreference"
      },
      "traits": {}
    },
    "com.whop.users#ListUserNotificationTopicPreferencesResponsePageInfo": {
      "type": "structure",
      "members": {
        "end_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        },
        "has_next_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "has_previous_page": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "start_cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "com.distilled.openapi#nullable": {}
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#ListUserNotificationTopicPreferencesResponse": {
      "type": "structure",
      "members": {
        "data": {
          "target": "com.whop.users#ListUserNotificationTopicPreferencesResponseDataList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page_info": {
          "target": "com.whop.users#ListUserNotificationTopicPreferencesResponsePageInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.whop.users#ListUserNotificationTopicPreferences": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#ListUserNotificationTopicPreferencesRequest"
      },
      "output": {
        "target": "com.whop.users#ListUserNotificationTopicPreferencesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/me/preferences/notifications/topics",
          "code": 200
        },
        "smithy.api#documentation": "List Topics\n\nLists the authenticated user's topic-scoped notification preferences, plus user-agnostic platform defaults. Each filter matches preferences scoped to its value or not narrowed on that dimension. Per-experience levels are listed separately, by `GET /users/me/preferences/notifications/experiences`.",
        "smithy.api#paginated": {
          "mode": "relay",
          "inputToken": "after",
          "outputToken": "page_info.end_cursor",
          "hasNextPage": "page_info.has_next_page",
          "items": "data",
          "pageSize": "first"
        }
      }
    },
    "com.whop.users#RetrieveUserRequestInterval": {
      "type": "enum",
      "members": {
        "HOUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "hour"
          }
        },
        "DAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "day"
          }
        },
        "WEEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "week"
          }
        },
        "MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "month"
          }
        }
      },
      "traits": {}
    },
    "com.whop.users#RetrieveUserRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "User ID (prefixed `user_`), username, or `me` for the authenticated user."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "When set, returns the user's account-specific profile overrides for this account."
          }
        },
        "include_balance_history": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#httpQuery": "include_balance_history",
            "smithy.api#documentation": "Also compute your balance history (opt-in; runs a heavier query). Only applies when the id is `me`; ignored for callers without balance-read scope."
          }
        },
        "from": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "from",
            "smithy.api#documentation": "Balance-history window start, ISO 8601 date or datetime. Defaults to 30 days ago. Only used with `include_balance_history`."
          }
        },
        "to": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "to",
            "smithy.api#documentation": "Balance-history window end, ISO 8601 date or datetime. Defaults to now. Only used with `include_balance_history`."
          }
        },
        "interval": {
          "target": "com.whop.users#RetrieveUserRequestInterval",
          "traits": {
            "smithy.api#httpQuery": "interval",
            "smithy.api#documentation": "Balance-history point granularity. Defaults to `day`. Only used with `include_balance_history`."
          }
        },
        "time_zone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "time_zone",
            "smithy.api#documentation": "IANA time zone the balance-history points are bucketed in. Defaults to `UTC`. Only used with `include_balance_history`."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#RetrieveUser": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#RetrieveUserRequest"
      },
      "output": {
        "target": "com.whop.users#User"
      },
      "errors": [
        {
          "target": "com.whop.users#NotFound"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/users/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Retrieve User\n\nRetrieves a user by `user_` tag or username, or the authenticated user with the reserved id `me`. Profiles include linked social accounts — reading your own profile returns every linked account, other profiles only what is public on Whop (the primary Discord and the X account). The self-only fields are populated only when the id is `me`: `email` (email-read scope), `staff` (Whop staff only, staff-read scope), `balance` and `earnings_usd` (balance-read scope), and the opt-in `balance_history`. They are always `null` when addressing a user by tag or username."
      }
    },
    "com.whop.users#UpdateUserRequestBanner": {
      "type": "structure",
      "members": {
        "direct_upload_id": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.whop.users#UpdateUserRequestProfilePicture": {
      "type": "structure",
      "members": {
        "direct_upload_id": {
          "target": "smithy.api#String"
        },
        "id": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.whop.users#UpdateUserRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "User ID (prefixed `user_`), username, or `me` for the authenticated user."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_id",
            "smithy.api#documentation": "The account whose profile override to update. Required for API key callers."
          }
        },
        "banner": {
          "target": "com.whop.users#UpdateUserRequestBanner",
          "traits": {
            "com.distilled.openapi#nullable": {}
          }
        },
        "bio": {
          "target": "smithy.api#String"
        },
        "name": {
          "target": "smithy.api#String"
        },
        "profile_picture": {
          "target": "com.whop.users#UpdateUserRequestProfilePicture"
        },
        "username": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.whop.users#UpdateUser": {
      "type": "operation",
      "input": {
        "target": "com.whop.users#UpdateUserRequest"
      },
      "output": {
        "target": "com.whop.users#User"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/users/{id}",
          "code": 200
        },
        "smithy.api#documentation": "Update User\n\nUpdates a user, addressed by `user_` tag, username, or the reserved id `me` for the authenticated user. A user token updates their own global profile; an API key updates the user's account-specific profile override (account_id required)."
      }
    },
    "com.whop.users#CheckUserAccessRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#documentation": "The user_ tag or username to check access for."
          }
        },
        "resource_id": {
[...]
