{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.modal.secret#SecretDeleteRequest": {
      "type": "structure",
      "members": {
        "secretId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.secret#SecretDelete": {
      "type": "operation",
      "input": {
        "target": "com.modal.secret#SecretDeleteRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SecretDelete",
          "code": 200
        },
        "smithy.api#documentation": "Secrets"
      }
    },
    "com.modal.secret#ObjectCreationType": {
      "type": "enum",
      "members": {
        "OBJECT_CREATION_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_UNSPECIFIED"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_IF_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_IF_MISSING",
            "smithy.api#documentation": "just lookup"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_FAIL_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_CREATE_OVERWRITE_IF_EXISTS"
          }
        },
        "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP"
          }
        },
        "OBJECT_CREATION_TYPE_EPHEMERAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_CREATION_TYPE_EPHEMERAL",
            "smithy.api#documentation": "deprecate at some point"
          }
        }
      }
    },
    "com.modal.secret#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.secret#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.secret#SecretGetOrCreateRequest": {
      "type": "structure",
      "members": {
        "deploymentName": {
          "target": "smithy.api#String"
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "removed namespace"
          }
        },
        "objectCreationType": {
          "target": "com.modal.secret#ObjectCreationType"
        },
        "envDict": {
          "target": "com.modal.secret#StringMap",
          "traits": {
            "smithy.api#documentation": "Not used atm"
          }
        },
        "appId": {
          "target": "smithy.api#String"
        },
        "requiredKeys": {
          "target": "com.modal.secret#StringList",
          "traits": {
            "smithy.api#documentation": "only used with OBJECT_CREATION_TYPE_ANONYMOUS_OWNED_BY_APP"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.secret#SecretMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String"
        },
        "creationInfo": {
          "target": "com.modal.secret#CreationInfo"
        }
      }
    },
    "com.modal.secret#CreationInfo": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "This message is used in metadata for resource objects like Dict, Queue, Volume, etc."
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of resource creation"
          }
        }
      }
    },
    "com.modal.secret#SecretGetOrCreateResponse": {
      "type": "structure",
      "members": {
        "secretId": {
          "target": "smithy.api#String"
        },
        "metadata": {
          "target": "com.modal.secret#SecretMetadata"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.secret#SecretGetOrCreate": {
      "type": "operation",
      "input": {
        "target": "com.modal.secret#SecretGetOrCreateRequest"
      },
      "output": {
        "target": "com.modal.secret#SecretGetOrCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SecretGetOrCreate",
          "code": 200
        }
      }
    },
    "com.modal.secret#ListPagination": {
      "type": "structure",
      "members": {
        "maxObjects": {
          "target": "smithy.api#Integer"
        },
        "createdBefore": {
          "target": "smithy.api#Double"
        }
      }
    },
    "com.modal.secret#SecretListRequest": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "smithy.api#String"
        },
        "pagination": {
          "target": "com.modal.secret#ListPagination"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.secret#SecretListItem": {
      "type": "structure",
      "members": {
        "label": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#Double"
        },
        "lastUsedAt": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Superseded by metadata, used by clients up to 1.1.2"
          }
        },
        "environmentName": {
          "target": "smithy.api#String"
        },
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Unused by client"
          }
        },
        "metadata": {
          "target": "com.modal.secret#SecretMetadata"
        }
      }
    },
    "com.modal.secret#SecretListItemList": {
      "type": "list",
      "member": {
        "target": "com.modal.secret#SecretListItem"
      }
    },
    "com.modal.secret#SecretListResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.modal.secret#SecretListItemList"
        },
        "environmentName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.secret#SecretList": {
      "type": "operation",
      "input": {
        "target": "com.modal.secret#SecretListRequest"
      },
      "output": {
        "target": "com.modal.secret#SecretListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SecretList",
          "code": 200
        }
      }
    },
    "com.modal.secret#SecretUpdateRequestUpdate": {
      "type": "structure",
      "members": {
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.modal.secret#SecretUpdateRequestUpdateList": {
      "type": "list",
      "member": {
        "target": "com.modal.secret#SecretUpdateRequestUpdate"
      }
    },
    "com.modal.secret#SecretUpdateRequest": {
      "type": "structure",
      "members": {
        "secretId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If not set, the key is removed."
          }
        },
        "updates": {
          "target": "com.modal.secret#SecretUpdateRequestUpdateList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.secret#SecretUpdate": {
      "type": "operation",
      "input": {
        "target": "com.modal.secret#SecretUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.client.ModalClient/SecretUpdate",
          "code": 200
        }
      }
    },
    "com.modal.secret#SecretService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.secret#SecretDelete"
        },
        {
          "target": "com.modal.secret#SecretGetOrCreate"
        },
        {
          "target": "com.modal.secret#SecretList"
        },
        {
          "target": "com.modal.secret#SecretUpdate"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal Secret",
        "smithy.api#documentation": "modal.client.ModalClient RPCs whose names start with `Secret`. Each operation is POST /modal.client.ModalClient/<Method> with a proto3 JSON body."
      }
    }
  }
}
