{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.modal.task.command.router#SandboxStdinWriteV2Request": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "offset": {
          "target": "smithy.api#String"
        },
        "data": {
          "target": "smithy.api#Blob"
        },
        "eof": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#SandboxStdinWriteV2Response": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#SandboxStdinWriteV2": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#SandboxStdinWriteV2Request"
      },
      "output": {
        "target": "com.modal.task.command.router#SandboxStdinWriteV2Response"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/SandboxStdinWriteV2",
          "code": 200
        }
      }
    },
    "com.modal.task.command.router#WaitSandboxUntilReadyRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Float"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#WaitSandboxUntilReadyResponse": {
      "type": "structure",
      "members": {
        "readyAt": {
          "target": "smithy.api#Double"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#WaitSandboxUntilReady": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#WaitSandboxUntilReadyRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#WaitSandboxUntilReadyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/SandboxWaitUntilReady",
          "code": 200
        }
      }
    },
    "com.modal.task.command.router#StringList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.task.command.router#StringMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.modal.task.command.router#VolumeMount": {
      "type": "structure",
      "members": {
        "volumeId": {
          "target": "smithy.api#String"
        },
        "mountPath": {
          "target": "smithy.api#String"
        },
        "allowBackgroundCommits": {
          "target": "smithy.api#Boolean"
        },
        "readOnly": {
          "target": "smithy.api#Boolean"
        },
        "subPath": {
          "target": "smithy.api#String"
        }
      }
    },
    "com.modal.task.command.router#VolumeMountList": {
      "type": "list",
      "member": {
        "target": "com.modal.task.command.router#VolumeMount"
      }
    },
    "com.modal.task.command.router#NetworkAccess": {
      "type": "structure",
      "members": {
        "networkAccessType": {
          "target": "com.modal.task.command.router#NetworkAccessNetworkAccessType"
        },
        "allowedCidrs": {
          "target": "com.modal.task.command.router#StringList"
        },
        "allowedDomains": {
          "target": "com.modal.task.command.router#StringList"
        }
      }
    },
    "com.modal.task.command.router#NetworkAccessNetworkAccessType": {
      "type": "enum",
      "members": {
        "UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSPECIFIED"
          }
        },
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "ALLOWLIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOWLIST"
          }
        }
      }
    },
    "com.modal.task.command.router#PTYInfo": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "smithy.api#Boolean"
        },
        "winszRows": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Soon deprecated"
          }
        },
        "winszCols": {
          "target": "smithy.api#Integer"
        },
        "envTerm": {
          "target": "smithy.api#String"
        },
        "envColorterm": {
          "target": "smithy.api#String"
        },
        "envTermProgram": {
          "target": "smithy.api#String"
        },
        "ptyType": {
          "target": "com.modal.task.command.router#PTYInfoPTYType",
          "traits": {
            "smithy.api#documentation": "Replace function with shell"
          }
        },
        "noTerminateOnIdleStdin": {
          "target": "smithy.api#Boolean"
        }
      }
    },
    "com.modal.task.command.router#PTYInfoPTYType": {
      "type": "enum",
      "members": {
        "PTY_TYPE_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_UNSPECIFIED"
          }
        },
        "PTY_TYPE_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_FUNCTION",
            "smithy.api#documentation": "Nothing"
          }
        },
        "PTY_TYPE_SHELL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTY_TYPE_SHELL",
            "smithy.api#documentation": "Run function in PTY"
          }
        }
      }
    },
    "com.modal.task.command.router#CreateTaskContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logical container name."
          }
        },
        "imageId": {
          "target": "smithy.api#String"
        },
        "args": {
          "target": "com.modal.task.command.router#StringList"
        },
        "env": {
          "target": "com.modal.task.command.router#StringMap"
        },
        "workdir": {
          "target": "smithy.api#String"
        },
        "secretIds": {
          "target": "com.modal.task.command.router#StringList",
          "traits": {
            "smithy.api#documentation": "Secret IDs to inject into the container as environment variables."
          }
        },
        "volumeMounts": {
          "target": "com.modal.task.command.router#VolumeMountList",
          "traits": {
            "smithy.api#documentation": "Volumes to mount into the container."
          }
        },
        "networkAccess": {
          "target": "com.modal.task.command.router#NetworkAccess",
          "traits": {
            "smithy.api#documentation": "Outbound network policy for the sidecar, independent of the main container. When unset, defaults to open network access. BLOCKED is not accepted: a blocked sidecar has no IP and cannot reach the main container."
          }
        },
        "ptyInfo": {
          "target": "com.modal.task.command.router#PTYInfo",
          "traits": {
            "smithy.api#documentation": "Optional PTY info for sidecar."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#CreateTaskContainerResponse": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified container ID (for example, ctr-<ulid>)."
          }
        },
        "containerName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Logical container name associated with this container."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#CreateTaskContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#CreateTaskContainerRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#CreateTaskContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerCreate",
          "code": 200
        },
        "smithy.api#documentation": "Create an additional container for a task."
      }
    },
    "com.modal.task.command.router#GetTaskContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "containerName": {
          "target": "smithy.api#String"
        },
        "includeTerminated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include the latest terminated container if the name is no longer active."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskContainerInfo": {
      "type": "structure",
      "members": {
        "containerId": {
          "target": "smithy.api#String"
        },
        "containerName": {
          "target": "smithy.api#String"
        },
        "status": {
          "target": "smithy.api#String"
        },
        "result": {
          "target": "com.modal.task.command.router#GenericResult"
        }
      }
    },
    "com.modal.task.command.router#GenericResult": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.modal.task.command.router#GenericResultGenericStatus"
        },
        "exception": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status of the task or function output."
          }
        },
        "exitcode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Exception message for failures, if available."
          }
        },
        "traceback": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Status code of the container entrypoint or builder process if it terminates unexpectedly."
          }
        },
        "serializedTb": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "String value of the Python traceback."
          }
        },
        "tbLineCache": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled traceback object."
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Pickled line cache for traceback object."
          }
        },
        "dataBlobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Inline data of the result."
          }
        },
        "propagationReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Blob ID for large data."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "sub-type for generic types like lists"
      }
    },
    "com.modal.task.command.router#GenericResultGenericStatus": {
      "type": "enum",
      "members": {
        "GENERIC_STATUS_UNSPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_UNSPECIFIED"
          }
        },
        "GENERIC_STATUS_SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_SUCCESS"
          }
        },
        "GENERIC_STATUS_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_FAILURE"
          }
        },
        "GENERIC_STATUS_TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TERMINATED",
            "smithy.api#documentation": "Used when a task was killed using an external signal."
          }
        },
        "GENERIC_STATUS_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_TIMEOUT"
          }
        },
        "GENERIC_STATUS_INIT_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INIT_FAILURE",
            "smithy.api#documentation": "Used when the user's function fails to initialize (ex. S3 mount failed due to invalid credentials). Terminates the function and all remaining inputs."
          }
        },
        "GENERIC_STATUS_INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_INTERNAL_FAILURE"
          }
        },
        "GENERIC_STATUS_IDLE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_IDLE_TIMEOUT",
            "smithy.api#documentation": "Used when sandboxes are terminated due to idle_timeout"
          }
        },
        "GENERIC_STATUS_MEMORY_MANAGER_EVICTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERIC_STATUS_MEMORY_MANAGER_EVICTION",
            "smithy.api#documentation": "Used when a task was killed because it was evicted by the memory manager when the worker was under memory pressure."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Used for both tasks and function outputs"
      }
    },
    "com.modal.task.command.router#GetTaskContainerResponse": {
      "type": "structure",
      "members": {
        "container": {
          "target": "com.modal.task.command.router#TaskContainerInfo"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#GetTaskContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#GetTaskContainerRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#GetTaskContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerGet",
          "code": 200
        },
        "smithy.api#documentation": "Get the latest container associated with a logical name."
      }
    },
    "com.modal.task.command.router#ListTaskContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "includeTerminated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Include all tracked terminated containers in addition to active ones."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskContainerInfoList": {
      "type": "list",
      "member": {
        "target": "com.modal.task.command.router#TaskContainerInfo"
      }
    },
    "com.modal.task.command.router#ListTaskContainerResponse": {
      "type": "structure",
      "members": {
        "containers": {
          "target": "com.modal.task.command.router#TaskContainerInfoList"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#ListTaskContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#ListTaskContainerRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#ListTaskContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerList",
          "code": 200
        },
        "smithy.api#documentation": "List containers associated with the task."
      }
    },
    "com.modal.task.command.router#TaskContainerTerminateRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "containerId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskContainerTerminateResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskContainerTerminate": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskContainerTerminateRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskContainerTerminateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerTerminate",
          "code": 200
        },
        "smithy.api#documentation": "Terminate or release a tracked container."
      }
    },
    "com.modal.task.command.router#WaitTaskContainerRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "containerId": {
          "target": "smithy.api#String"
        },
        "timeout": {
          "target": "smithy.api#Float"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#WaitTaskContainerResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.modal.task.command.router#GenericResult"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#WaitTaskContainer": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#WaitTaskContainerRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#WaitTaskContainerResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskContainerWait",
          "code": 200
        },
        "smithy.api#documentation": "Wait for a tracked container to reach a terminal result."
      }
    },
    "com.modal.task.command.router#ExecTaskPollRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command."
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to wait on."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#ExecTaskPollResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The exit code of the command."
          }
        },
        "signal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The signal that terminated the command."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#ExecTaskPoll": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#ExecTaskPollRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#ExecTaskPollResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecPoll",
          "code": 200
        },
        "smithy.api#documentation": "Poll for the exit status of an exec'd command."
      }
    },
    "com.modal.task.command.router#TaskExecStdoutConfig": {
      "type": "enum",
      "members": {
        "TASK_EXEC_STDOUT_CONFIG_DEVNULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDOUT_CONFIG_DEVNULL",
            "smithy.api#documentation": "The output will be discarded."
          }
        },
        "TASK_EXEC_STDOUT_CONFIG_PIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDOUT_CONFIG_PIPE",
            "smithy.api#documentation": "The output will be streamed to the client."
          }
        }
      }
    },
    "com.modal.task.command.router#TaskExecStderrConfig": {
      "type": "enum",
      "members": {
        "TASK_EXEC_STDERR_CONFIG_DEVNULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDERR_CONFIG_DEVNULL",
            "smithy.api#documentation": "The output will be discarded."
          }
        },
        "TASK_EXEC_STDERR_CONFIG_PIPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDERR_CONFIG_PIPE",
            "smithy.api#documentation": "The output will be streamed to the client."
          }
        },
        "TASK_EXEC_STDERR_CONFIG_STDOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TASK_EXEC_STDERR_CONFIG_STDOUT",
            "smithy.api#documentation": "A special value that can be used to indicate that the stderr stream should be merged with the stdout stream."
          }
        }
      }
    },
    "com.modal.task.command.router#TaskExecStartRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task to execute the command in."
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Execution ID. This ID will be used to identify the execution for other requests and ensure exec commands are idempotent."
          }
        },
        "commandArgs": {
          "target": "com.modal.task.command.router#StringList",
          "traits": {
            "smithy.api#documentation": "Command arguments to execute."
          }
        },
        "stdoutConfig": {
          "target": "com.modal.task.command.router#TaskExecStdoutConfig",
          "traits": {
            "smithy.api#documentation": "Configures how the stdout of the command will be handled."
          }
        },
        "stderrConfig": {
          "target": "com.modal.task.command.router#TaskExecStderrConfig",
          "traits": {
            "smithy.api#documentation": "Configures how the stderr of the command will be handled."
          }
        },
        "timeoutSecs": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Timeout in seconds for the exec'd command to exit. If the command does not exit within this duration, the command will be killed. This is NOT the timeout for the ExecStartRequest RPC to complete."
          }
        },
        "workdir": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Working directory for the command."
          }
        },
        "secretIds": {
          "target": "com.modal.task.command.router#StringList",
          "traits": {
            "smithy.api#documentation": "Secret IDs to mount into the task."
          }
        },
        "ptyInfo": {
          "target": "com.modal.task.command.router#PTYInfo",
          "traits": {
            "smithy.api#documentation": "PTY info for the command."
          }
        },
        "runtimeDebug": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Enable debugging capabilities on the container runtime. Used only for internal debugging."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container."
          }
        },
        "env": {
          "target": "com.modal.task.command.router#StringMap",
          "traits": {
            "smithy.api#documentation": "Environment variables to set directly for the exec'd command."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskExecStartResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskExecStart": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskExecStartRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskExecStartResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecStart",
          "code": 200
        },
        "smithy.api#documentation": "Execute a command in the task."
      }
    },
    "com.modal.task.command.router#ExecTaskStdinStatusRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command."
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to query."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#ExecTaskStdinStatusResponse": {
      "type": "structure",
      "members": {
        "numBytesWritten": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Number of bytes the server has accepted for this exec so far. A streaming client that lost its connection should resume sending at this offset."
          }
        },
        "closed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "True if stdin has already been closed (EOF sent) for this exec."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#ExecTaskStdinStatus": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#ExecTaskStdinStatusRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#ExecTaskStdinStatusResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecStdinStatus",
          "code": 200
        },
        "smithy.api#documentation": "Get the current stdin write status for an exec'd command. Used to resume a TaskExecStdinWriteStream after a stream failure. Evicts any in-flight TaskExecStdinWriteStream for this exec, so it is not safe to call for read-only observability."
      }
    },
    "com.modal.task.command.router#ExecTaskStdinWriteRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command."
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to write to."
          }
        },
        "offset": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The offset to start writing to. This is used to resume writing from the last write position if the connection is closed and reopened."
          }
        },
        "data": {
          "target": "smithy.api#Blob"
        },
        "eof": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If true, close the stdin stream after writing any provided data. This signals EOF to the exec'd process."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#ExecTaskStdinWriteResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#ExecTaskStdinWrite": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#ExecTaskStdinWriteRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#ExecTaskStdinWriteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecStdinWrite",
          "code": 200
        },
        "smithy.api#documentation": "Write to the stdin stream of an exec'd command."
      }
    },
    "com.modal.task.command.router#TaskExecWaitRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the task running the exec'd command."
          }
        },
        "execId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The execution ID of the command to wait on."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskExecWaitResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The exit code of the command."
          }
        },
        "signal": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "The signal that terminated the command."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskExecWait": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskExecWaitRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskExecWaitResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskExecWait",
          "code": 200
        },
        "smithy.api#documentation": "Wait for an exec'd command to exit and return the exit code."
      }
    },
    "com.modal.task.command.router#TaskMountDirectoryRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#Blob"
        },
        "imageId": {
          "target": "smithy.api#String"
        },
        "customerSuppliedEncryptionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Customer-supplied encryption key used to decrypt CSEK-encrypted image metadata keys. This key is not persisted by Modal."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskMountDirectory": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskMountDirectoryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskMountDirectory",
          "code": 200
        },
        "smithy.api#documentation": "Mount an image at a directory in the container."
      }
    },
    "com.modal.task.command.router#TaskReloadVolumesRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskReloadVolumesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskReloadVolumes": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskReloadVolumesRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskReloadVolumesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskReloadVolumes",
          "code": 200
        },
        "smithy.api#documentation": "Reload all Volumes mounted in the task to reflect their latest committed state."
      }
    },
    "com.modal.task.command.router#SetTaskNetworkAccessRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "networkAccess": {
          "target": "com.modal.task.command.router#NetworkAccess",
          "traits": {
            "smithy.api#documentation": "Replaces the task's network access policy. Only ALLOWLIST is currently supported; open access is expressed as an allow-all allowlist."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#SetTaskNetworkAccessResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#SetTaskNetworkAccess": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#SetTaskNetworkAccessRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#SetTaskNetworkAccessResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskSetNetworkAccess",
          "code": 200
        },
        "smithy.api#documentation": "Replace the task's outbound network allowlist (domains + CIDRs)."
      }
    },
    "com.modal.task.command.router#TaskSnapshotDirectoryRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#Blob"
        },
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID to ensure idempotency of directory snapshot requests."
          }
        },
        "ttlSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lifetime for the resulting image, in seconds. When set, the image's expires_at is a hard cutoff: it is fixed at creation time and is not extended on use. When unset, the resulting image gets the legacy retention policy: a 30-day TTL that is bumped forward by 30 days on every use, so active images effectively never expire. Sentinel: -1 means \"no expiry\" (the image never expires). 0 and other negative values are invalid and rejected by the server."
          }
        },
        "customerSuppliedEncryptionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Customer-supplied encryption key used to encrypt the resulting image's data and tree metadata keys. This key is not persisted by Modal."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotDirectoryResponse": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotDirectory": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskSnapshotDirectoryRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskSnapshotDirectoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskSnapshotDirectory",
          "code": 200
        },
        "smithy.api#documentation": "Snapshot a directory with a mounted image, including any local changes, into a new image."
      }
    },
    "com.modal.task.command.router#TaskSnapshotFilesystemRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "snapshotId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique ID to ensure idempotency of filesystem snapshot requests."
          }
        },
        "ttlSeconds": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Lifetime for the resulting image, in seconds. Must be set. When positive, the image expiry is a hard cutoff: it is fixed at creation time and is not extended on use. Sentinel: -1 means \"no expiry\" (the image never expires). 0 and other negative values are invalid and rejected by the server."
          }
        },
        "customerSuppliedEncryptionKey": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "Customer-supplied encryption key used to encrypt the resulting image's data and tree metadata keys. This key is not persisted by Modal."
          }
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotFilesystemResponse": {
      "type": "structure",
      "members": {
        "imageId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotFilesystem": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskSnapshotFilesystemRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskSnapshotFilesystemResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskSnapshotFilesystem",
          "code": 200
        },
        "smithy.api#documentation": "Snapshot the full task filesystem into a new image."
      }
    },
    "com.modal.task.command.router#TaskSnapshotMemoryRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "idempotencyKey": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotMemoryResponse": {
      "type": "structure",
      "members": {
        "snapshotId": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.modal.task.command.router#TaskSnapshotMemory": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskSnapshotMemoryRequest"
      },
      "output": {
        "target": "com.modal.task.command.router#TaskSnapshotMemoryResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskSnapshotMemory",
          "code": 200
        },
        "smithy.api#documentation": "Take a memory snapshot of the task's sandbox container. Idempotency is keyed on the request idempotency_key: concurrent and repeated calls with the same key share one snapshot attempt. A successful snapshot currently terminates the container."
      }
    },
    "com.modal.task.command.router#TaskUnmountDirectoryRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "smithy.api#String"
        },
        "path": {
          "target": "smithy.api#Blob"
        },
        "containerId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Fully qualified target container ID. Empty targets the main container."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.modal.task.command.router#TaskUnmountDirectory": {
      "type": "operation",
      "input": {
        "target": "com.modal.task.command.router#TaskUnmountDirectoryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/modal.task_command_router.TaskCommandRouter/TaskUnmountDirectory",
          "code": 200
        },
        "smithy.api#documentation": "Unmount an image previously mounted at a directory in the container."
      }
    },
    "com.modal.task.command.router#TaskCommandRouterService": {
      "type": "service",
      "version": "1.0",
      "operations": [
        {
          "target": "com.modal.task.command.router#SandboxStdinWriteV2"
        },
        {
          "target": "com.modal.task.command.router#WaitSandboxUntilReady"
        },
        {
          "target": "com.modal.task.command.router#CreateTaskContainer"
        },
        {
          "target": "com.modal.task.command.router#GetTaskContainer"
        },
        {
          "target": "com.modal.task.command.router#ListTaskContainer"
        },
        {
          "target": "com.modal.task.command.router#TaskContainerTerminate"
        },
        {
          "target": "com.modal.task.command.router#WaitTaskContainer"
        },
        {
          "target": "com.modal.task.command.router#ExecTaskPoll"
        },
        {
          "target": "com.modal.task.command.router#TaskExecStart"
        },
        {
          "target": "com.modal.task.command.router#ExecTaskStdinStatus"
        },
        {
          "target": "com.modal.task.command.router#ExecTaskStdinWrite"
        },
        {
          "target": "com.modal.task.command.router#TaskExecWait"
        },
        {
          "target": "com.modal.task.command.router#TaskMountDirectory"
        },
        {
          "target": "com.modal.task.command.router#TaskReloadVolumes"
        },
        {
          "target": "com.modal.task.command.router#SetTaskNetworkAccess"
        },
        {
          "target": "com.modal.task.command.router#TaskSnapshotDirectory"
        },
        {
          "target": "com.modal.task.command.router#TaskSnapshotFilesystem"
        },
        {
          "target": "com.modal.task.command.router#TaskSnapshotMemory"
        },
        {
          "target": "com.modal.task.command.router#TaskUnmountDirectory"
        }
      ],
      "traits": {
        "smithy.api#title": "Modal TaskCommandRouter",
        "smithy.api#documentation": "modal.task_command_router.TaskCommandRouter. Each operation is POST /modal.task_command_router.TaskCommandRouter/<Method> with a proto3 JSON body."
      }
    }
  }
}
