{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.huggingface.orgs#ListMemberAccessTokensRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "FINEGRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fineGrained"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Kind of access the token carries. `read` and `write` reach everything their owner can reach, while `fineGrained` is limited to the permissions listed under `fineGrained`"
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemOwner": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Username of the member",
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Organization member the token belongs to"
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemAuthorizationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "revoked"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "denied"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "`pending` while the token awaits an administrator's decision, `approved` once it may act on the organization, `denied` if an administrator refused it, and `revoked` if an administrator withdrew access it had already been granted"
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemAuthorizationAuthorizer": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User who granted the token its access. Absent when `authorizedAt` is, and when that account has since been deleted"
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemAuthorization": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemAuthorizationStatus",
          "traits": {
            "smithy.api#documentation": "`pending` while the token awaits an administrator's decision, `approved` once it may act on the organization, `denied` if an administrator refused it, and `revoked` if an administrator withdrew access it had already been granted",
            "smithy.api#required": {}
          }
        },
        "requestedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date the token first requested access to the organization",
            "smithy.api#required": {}
          }
        },
        "authorizedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date the token was granted access, recorded when the organization grants it automatically because the owner already holds write access"
          }
        },
        "authorizer": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemAuthorizationAuthorizer",
          "traits": {
            "smithy.api#documentation": "User who granted the token its access. Absent when `authorizedAt` is, and when that account has since been deleted"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Where the token stands in the organization's approval flow. Reported by organizations that require administrator approval of member tokens, and on any token whose access has been revoked"
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItemEntityType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        },
        "COLLECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection"
          }
        },
        "ORG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "RESOURCE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource-group"
          }
        },
        "OAUTH_APP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth-app"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItemEntity": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItemEntityType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Entity the permissions apply to the organization itself, or one of its repositories"
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItemPermissionsItem": {
      "type": "enum",
      "members": {
        "REPO_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.read"
          }
        },
        "REPO_CONTENT_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.content.read"
          }
        },
        "REPO_CONTENT_METADATA_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.content.metadata.read"
          }
        },
        "REPO_CONTENT_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.content.write"
          }
        },
        "REPO_LFS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.lfs.read"
          }
        },
        "REPO_DEVMODE_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.devMode.read"
          }
        },
        "REPO_CONFIG_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.config.read"
          }
        },
        "REPO_CONFIG_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.config.write"
          }
        },
        "REPO_CONFIG_DOI_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.config.doi.write"
          }
        },
        "REPO_CONFIG_VISIBILITY_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.config.visibility.write"
          }
        },
        "REPO_CONFIG_VARIABLES_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.config.variables.write"
          }
        },
        "REPO_CONFIG_SECRETS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.config.secrets.write"
          }
        },
        "REPO_ACCESS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.access.read"
          }
        },
        "REPO_ACCESS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.access.write"
          }
        },
        "REPO_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.write"
          }
        },
        "DISCUSSION_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "discussion.write"
          }
        },
        "POST_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "post.write"
          }
        },
        "COLLECTION_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.write"
          }
        },
        "COLLECTION_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.read"
          }
        },
        "USER_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.write"
          }
        },
        "USER_PREFERENCES_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.preferences.write"
          }
        },
        "USER_SETTINGS_NOTIFICATIONS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.settings.notifications.write"
          }
        },
        "USER_NOTIFICATIONS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.notifications.read"
          }
        },
        "USER_NOTIFICATIONS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.notifications.write"
          }
        },
        "USER_ORG_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.org.write"
          }
        },
        "USER_MEMBERSHIP_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.membership.read"
          }
        },
        "USER_MEMBERSHIP_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.membership.write"
          }
        },
        "USER_OAUTH_AUTHORIZATIONS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.oauth.authorizations.write"
          }
        },
        "USER_WEBHOOKS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.webhooks.read"
          }
        },
        "USER_WEBHOOKS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.webhooks.write"
          }
        },
        "USER_MCP_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.mcp.read"
          }
        },
        "USER_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.read"
          }
        },
        "USER_SOCIAL_LIKES_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.social.likes.write"
          }
        },
        "USER_SOCIAL_FOLLOWS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.social.follows.write"
          }
        },
        "USER_SOCIAL_BLOCKS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.social.blocks.write"
          }
        },
        "USER_SOCIAL_UPVOTES_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.social.upvotes.write"
          }
        },
        "USER_TOKENS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.tokens.read"
          }
        },
        "USER_TOKENS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.tokens.write"
          }
        },
        "USER_BILLING_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.billing.read"
          }
        },
        "USER_BILLING_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.billing.write"
          }
        },
        "USER_EMAIL_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.email.read"
          }
        },
        "USER_EMAIL_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.email.write"
          }
        },
        "USER_PAPERS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.papers.write"
          }
        },
        "USER_CRYPTOKEYS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.cryptoKeys.write"
          }
        },
        "USER_INFERENCE_PROVIDERS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.inference-providers.write"
          }
        },
        "USER_AUTHENTICATION_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.authentication.read"
          }
        },
        "USER_AUTHENTICATION_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.authentication.write"
          }
        },
        "USER_INFO_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.info.write"
          }
        },
        "USER_GATED_REPOS_REQUESTS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.gated-repos-requests.read"
          }
        },
        "USER_GATED_REPOS_REQUESTS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.gated-repos-requests.write"
          }
        },
        "OAUTHAPP_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauthApp.read"
          }
        },
        "OAUTHAPP_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauthApp.write"
          }
        },
        "ORG_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.read"
          }
        },
        "ORG_BILLING_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.billing.read"
          }
        },
        "ORG_BILLING_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.billing.write"
          }
        },
        "ORG_PROVIDERMAPPINGS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.providerMappings.write"
          }
        },
        "ORG_SERVICEACCOUNTS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.serviceAccounts.read"
          }
        },
        "ORG_SERVICEACCOUNTS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.serviceAccounts.write"
          }
        },
        "ORG_MEMBERS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.members.read"
          }
        },
        "ORG_MEMBERS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.members.write"
          }
        },
        "ORG_NETWORKSECURITY_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.networkSecurity.read"
          }
        },
        "ORG_NETWORKSECURITY_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.networkSecurity.write"
          }
        },
        "ORG_ANALYTICS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.analytics.read"
          }
        },
        "ORG_REPOS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.repos.read"
          }
        },
        "ORG_AUDITLOG_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.auditLog.write"
          }
        },
        "ORG_REPOSETTINGS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.repoSettings.write"
          }
        },
        "ORG_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.write"
          }
        },
        "BLOG_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blog.read"
          }
        },
        "BLOG_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blog.write"
          }
        },
        "RESOURCEGROUP_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceGroup.read"
          }
        },
        "RESOURCEGROUP_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceGroup.write"
          }
        },
        "RESOURCEGROUP_SETTINGS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceGroup.settings.write"
          }
        },
        "RESOURCEGROUP_RESOURCES_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resourceGroup.resources.write"
          }
        },
        "INFERENCE_SERVERLESS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.serverless.write"
          }
        },
        "INFERENCE_ENDPOINTS_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.endpoints.read"
          }
        },
        "INFERENCE_ENDPOINTS_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.endpoints.write"
          }
        },
        "INFERENCE_ENDPOINTS_INFER_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inference.endpoints.infer.write"
          }
        },
        "SQL_CONSOLE_EMBED_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sql-console.embed.read"
          }
        },
        "SQL_CONSOLE_EMBED_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sql-console.embed.write"
          }
        },
        "JOB_READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "job.read"
          }
        },
        "JOB_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "job.write"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItemPermissionsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItemPermissionsItem"
      },
      "traits": {
        "smithy.api#documentation": "Permissions the token holds on the entity"
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItem": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItemEntity",
          "traits": {
            "smithy.api#documentation": "Entity the permissions apply to the organization itself, or one of its repositories",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItemPermissionsList",
          "traits": {
            "smithy.api#documentation": "Permissions the token holds on the entity",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedItem"
      },
      "traits": {
        "smithy.api#documentation": "Permissions the token holds on individual entities, limited to the organization and the repositories it owns. Scopes pointing elsewhere are omitted"
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrained": {
      "type": "structure",
      "members": {
        "scoped": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrainedScopedList",
          "traits": {
            "smithy.api#documentation": "Permissions the token holds on individual entities, limited to the organization and the repositories it owns. Scopes pointing elsewhere are omitted",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Permissions carried by a `fineGrained` token, narrowed to those that bear on the organization. Absent on `read` and `write` tokens, whose access is not expressed as a permission list, and never covering the account-wide permissions the token may hold elsewhere"
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name the owner gave the token. Provided when the organization requires administrator approval of member tokens",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemRole",
          "traits": {
            "smithy.api#documentation": "Kind of access the token carries. `read` and `write` reach everything their owner can reach, while `fineGrained` is limited to the permissions listed under `fineGrained`",
            "smithy.api#required": {}
          }
        },
        "last4": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last 4 characters of the token's value, the only part of it ever returned. Absent on tokens created before this was recorded"
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date the token was created, or the date it was last rotated",
            "smithy.api#required": {}
          }
        },
        "lastUsedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Date the token last authenticated a request. Absent on tokens that have never been used"
          }
        },
        "owner": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemOwner",
          "traits": {
            "smithy.api#documentation": "Organization member the token belongs to",
            "smithy.api#required": {}
          }
        },
        "authorization": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemAuthorization",
          "traits": {
            "smithy.api#documentation": "Where the token stands in the organization's approval flow. Reported by organizations that require administrator approval of member tokens, and on any token whose access has been revoked"
          }
        },
        "fineGrained": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItemFineGrained",
          "traits": {
            "smithy.api#documentation": "Permissions carried by a `fineGrained` token, narrowed to those that bear on the organization. Absent on `read` and `write` tokens, whose access is not expressed as a permission list, and never covering the account-wide permissions the token may hold elsewhere"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#ListMemberAccessTokensResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.orgs#ListMemberAccessTokensResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.orgs#ListMemberAccessTokens": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#ListMemberAccessTokensRequest"
      },
      "output": {
        "target": "com.huggingface.orgs#ListMemberAccessTokensResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{name}/settings/tokens",
          "code": 200
        },
        "smithy.api#documentation": "List member access tokens\n\nList the access tokens of the organization's members. Team or Enterprise only."
      }
    },
    "com.huggingface.orgs#RevokeMemberTokenRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tokenId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#RevokeMemberToken": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#RevokeMemberTokenRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/organizations/{name}/settings/tokens/{tokenId}/revoke",
          "code": 200
        },
        "smithy.api#documentation": "Revoke member token\n\nAn org admin can revoke a token's access to the org. The token itself isn't deleted, it still works outside the org. The token id is the one displayed in the org token settings page or through the tokens listing API endpoint. Enterprise only."
      }
    },
    "com.huggingface.orgs#ListOrganizationRepositoriesRequestType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Filter by repository type"
      }
    },
    "com.huggingface.orgs#ListOrganizationRepositoriesRequestSort": {
      "type": "enum",
      "members": {
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "storage"
          }
        },
        "UPDATEDAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updatedAt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort field (default: storage)"
      }
    },
    "com.huggingface.orgs#ListOrganizationRepositoriesRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Sort direction (default: desc)"
      }
    },
    "com.huggingface.orgs#ListOrganizationRepositoriesRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search"
          }
        },
        "type": {
          "target": "com.huggingface.orgs#ListOrganizationRepositoriesRequestType",
          "traits": {
            "smithy.api#httpQuery": "type"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        },
        "sort": {
          "target": "com.huggingface.orgs#ListOrganizationRepositoriesRequestSort",
          "traits": {
            "smithy.api#httpQuery": "sort"
          }
        },
        "direction": {
          "target": "com.huggingface.orgs#ListOrganizationRepositoriesRequestDirection",
          "traits": {
            "smithy.api#httpQuery": "direction"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#ListOrganizationRepositoriesResponseBodyItemType": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ListOrganizationRepositoriesResponseBodyItemVisibility": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PROTECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "protected"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ListOrganizationRepositoriesResponseBodyItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.orgs#ListOrganizationRepositoriesResponseBodyItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "visibility": {
          "target": "com.huggingface.orgs#ListOrganizationRepositoriesResponseBodyItemVisibility",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storage": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storagePercent": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ListOrganizationRepositoriesResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#ListOrganizationRepositoriesResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#ListOrganizationRepositoriesResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.orgs#ListOrganizationRepositoriesResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.orgs#ListOrganizationRepositories": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#ListOrganizationRepositoriesRequest"
      },
      "output": {
        "target": "com.huggingface.orgs#ListOrganizationRepositoriesResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{name}/settings/repositories",
          "code": 200
        },
        "smithy.api#documentation": "List organization repositories"
      }
    },
    "com.huggingface.orgs#RotateSsoCredentialsRequestBodyCase0": {
      "type": "structure",
      "members": {
        "clientSecret": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "OIDC client secret"
      }
    },
    "com.huggingface.orgs#RotateSsoCredentialsRequestBodyCase1": {
      "type": "structure",
      "members": {
        "x509Cert": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "SAML IdP x509 certificate"
      }
    },
    "com.huggingface.orgs#RotateSsoCredentialsRequestBody": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.orgs#RotateSsoCredentialsRequestBodyCase0"
        },
        "Case1": {
          "target": "com.huggingface.orgs#RotateSsoCredentialsRequestBodyCase1"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#RotateSsoCredentialsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.huggingface.orgs#RotateSsoCredentialsRequestBody",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#RotateSsoCredentialsResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.orgs#RotateSsoCredentials": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#RotateSsoCredentialsRequest"
      },
      "output": {
        "target": "com.huggingface.orgs#RotateSsoCredentialsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/api/organizations/{name}/settings/sso/credentials",
          "code": 200
        },
        "smithy.api#documentation": "Rotate SSO credentials\n\nUpdate SSO credentials of the organization's SSO configuration. SSO stays enabled and does not need to be re-tested, so rotation causes no downtime. Requires a paid plan."
      }
    },
    "com.huggingface.orgs#ExportAuditLogRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "q": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "q"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#ExportAuditLogResponseBodyItemType": {
      "type": "enum",
      "members": {
        "BILLING_UPDATE_PAYMENT_METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.update_payment_method"
          }
        },
        "BILLING_CREATE_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.create_customer"
          }
        },
        "BILLING_REMOVE_PAYMENT_METHOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.remove_payment_method"
          }
        },
        "BILLING_AWS_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.aws_add"
          }
        },
        "BILLING_AWS_REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.aws_remove"
          }
        },
        "BILLING_GCP_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.gcp_add"
          }
        },
        "BILLING_GCP_REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.gcp_remove"
          }
        },
        "BILLING_MARKETPLACE_APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.marketplace_approve"
          }
        },
        "BILLING_CANCEL_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.cancel_subscription"
          }
        },
        "BILLING_RENEW_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.renew_subscription"
          }
        },
        "BILLING_START_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.start_subscription"
          }
        },
        "BILLING_UN_CANCEL_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.un_cancel_subscription"
          }
        },
        "BILLING_UPDATE_SUBSCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.update_subscription"
          }
        },
        "BILLING_UPDATE_SUBSCRIPTION_PLAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "billing.update_subscription_plan"
          }
        },
        "COLLECTION_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.create"
          }
        },
        "COLLECTION_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.delete"
          }
        },
        "COLLECTION_UPDATE_RESOURCE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "collection.update_resource_group"
          }
        },
        "ORG_ADD_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.add_user"
          }
        },
        "ORG_CHANGE_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.change_role"
          }
        },
        "ORG_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.create"
          }
        },
        "ORG_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.delete"
          }
        },
        "ORG_RESTORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.restore"
          }
        },
        "ORG_INVITE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.invite_user"
          }
        },
        "ORG_INVITE_ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.invite.accept"
          }
        },
        "ORG_INVITE_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.invite.email"
          }
        },
        "ORG_JOIN_FROM_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.join.from_domain"
          }
        },
        "ORG_JOIN_AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.join.automatic"
          }
        },
        "ORG_LEAVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.leave"
          }
        },
        "ORG_REMOVE_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.remove_user"
          }
        },
        "ORG_RENAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.rename"
          }
        },
        "ORG_ROTATE_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.rotate_token"
          }
        },
        "ORG_SSO_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.sso_login"
          }
        },
        "ORG_SSO_JOIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.sso_join"
          }
        },
        "ORG_UPDATE_JOIN_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.update_join_settings"
          }
        },
        "ORG_UPDATE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.update_settings"
          }
        },
        "ORG_SETTINGS_REGIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.regions"
          }
        },
        "ORG_SETTINGS_PROFILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.profile"
          }
        },
        "ORG_SETTINGS_RESOURCE_GROUPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.resource_groups"
          }
        },
        "ORG_SETTINGS_PUBLISHER_GATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.publisher_gating"
          }
        },
        "ORG_SETTINGS_INFERENCE_PROVIDERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.inference_providers"
          }
        },
        "ORG_SETTINGS_INFERENCE_PROVIDERS_KEYS_ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.inference_providers.keys.add"
          }
        },
        "ORG_SETTINGS_INFERENCE_PROVIDERS_KEYS_REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.inference_providers.keys.remove"
          }
        },
        "ORG_SETTINGS_INFERENCE_PROVIDERS_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.inference_providers.usage"
          }
        },
        "ORG_SETTINGS_SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.sso"
          }
        },
        "ORG_SETTINGS_SSO_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.sso.enable"
          }
        },
        "ORG_SETTINGS_SSO_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.sso.disable"
          }
        },
        "ORG_SETTINGS_SECURITY_REPO_VISIBILITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.security.repo_visibility"
          }
        },
        "ORG_SETTINGS_SECURITY_2FA_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.security.2fa.enable"
          }
        },
        "ORG_SETTINGS_SECURITY_2FA_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.security.2fa.disable"
          }
        },
        "ORG_SETTINGS_SECURITY_AUTO_JOIN_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.security.auto_join.enable"
          }
        },
        "ORG_SETTINGS_SECURITY_AUTO_JOIN_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.security.auto_join.disable"
          }
        },
        "ORG_SETTINGS_SECURITY_MEMBERS_PRIVACY_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.security.members_privacy.enable"
          }
        },
        "ORG_SETTINGS_SECURITY_MEMBERS_PRIVACY_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.security.members_privacy.disable"
          }
        },
        "ORG_SETTINGS_NETWORK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.network"
          }
        },
        "ORG_SETTINGS_NETWORK_IP_RESTRICTION_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.network.ip_restriction.enable"
          }
        },
        "ORG_SETTINGS_NETWORK_IP_RESTRICTION_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.network.ip_restriction.disable"
          }
        },
        "ORG_SETTINGS_NETWORK_AUTH_ENFORCEMENT_ENABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.network.auth_enforcement.enable"
          }
        },
        "ORG_SETTINGS_NETWORK_AUTH_ENFORCEMENT_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.settings.network.auth_enforcement.disable"
          }
        },
        "ORG_TOKEN_APPROVAL_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.token_approval.enabled"
          }
        },
        "ORG_TOKEN_APPROVAL_DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.token_approval.disabled"
          }
        },
        "ORG_TOKEN_APPROVAL_AUTHORIZATION_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.token_approval.authorization_request"
          }
        },
        "ORG_TOKEN_APPROVAL_AUTHORIZATION_REQUEST_AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.token_approval.authorization_request.authorized"
          }
        },
        "ORG_TOKEN_APPROVAL_AUTHORIZATION_REQUEST_REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.token_approval.authorization_request.revoked"
          }
        },
        "ORG_TOKEN_APPROVAL_AUTHORIZATION_REQUEST_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.token_approval.authorization_request.denied"
          }
        },
        "REPO_ADD_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.add_secrets"
          }
        },
        "REPO_REMOVE_SECRETS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.remove_secrets"
          }
        },
        "REPO_ADD_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.add_secret"
          }
        },
        "REPO_UPDATE_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.update_secret"
          }
        },
        "REPO_REMOVE_SECRET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.remove_secret"
          }
        },
        "REPO_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.create"
          }
        },
        "REPO_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.delete"
          }
        },
        "REPO_DISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.disable"
          }
        },
        "REPO_REMOVEDISABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.removeDisable"
          }
        },
        "REPO_DUPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.duplication"
          }
        },
        "REPO_DELETE_DOI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.delete_doi"
          }
        },
        "REPO_MOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.move"
          }
        },
        "REPO_UPDATE_RESOURCE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.update_resource_group"
          }
        },
        "REPO_UPDATE_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.update_settings"
          }
        },
        "REPO_ADD_VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.add_variable"
          }
        },
        "REPO_UPDATE_VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.update_variable"
          }
        },
        "REPO_REMOVE_VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.remove_variable"
          }
        },
        "REPO_ADD_VARIABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.add_variables"
          }
        },
        "REPO_REMOVE_VARIABLES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.remove_variables"
          }
        },
        "REPO_DELETE_LFS_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.delete_lfs_file"
          }
        },
        "REPO_ADD_TRUSTED_PUBLISHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.add_trusted_publisher"
          }
        },
        "REPO_REMOVE_TRUSTED_PUBLISHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "repo.remove_trusted_publisher"
          }
        },
        "SPACES_ADD_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spaces.add_storage"
          }
        },
        "SPACES_REMOVE_STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spaces.remove_storage"
          }
        },
        "SPACES_SET_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spaces.set_volumes"
          }
        },
        "SPACES_REMOVE_VOLUMES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spaces.remove_volumes"
          }
        },
        "SPACES_UPDATE_HARDWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spaces.update_hardware"
          }
        },
        "SPACES_UPDATE_SLEEP_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "spaces.update_sleep_time"
          }
        },
        "RESOURCE_GROUP_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_group.create"
          }
        },
        "RESOURCE_GROUP_ADD_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_group.add_users"
          }
        },
        "RESOURCE_GROUP_REMOVE_USERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_group.remove_users"
          }
        },
        "RESOURCE_GROUP_CHANGE_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_group.change_role"
          }
        },
        "RESOURCE_GROUP_SETTINGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_group.settings"
          }
        },
        "RESOURCE_GROUP_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_group.delete"
          }
        },
        "JOBS_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jobs.create"
          }
        },
        "JOBS_CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jobs.cancel"
          }
        },
        "JOBS_UPDATE_LABELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jobs.update_labels"
          }
        },
        "JOBS_UPDATE_EXPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jobs.update_expose"
          }
        },
        "SCHEDULED_JOB_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled_job.create"
          }
        },
        "SCHEDULED_JOB_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled_job.delete"
          }
        },
        "SCHEDULED_JOB_RESUME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled_job.resume"
          }
        },
        "SCHEDULED_JOB_SUSPEND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled_job.suspend"
          }
        },
        "SCHEDULED_JOB_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled_job.run"
          }
        },
        "SCHEDULED_JOB_UPDATE_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled_job.update_schedule"
          }
        },
        "SCHEDULED_JOB_UPDATE_LABELS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "scheduled_job.update_labels"
          }
        },
        "ORG_SERVICE_ACCOUNT_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.service_account.create"
          }
        },
        "ORG_SERVICE_ACCOUNT_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.service_account.delete"
          }
        },
        "ORG_SERVICE_ACCOUNT_TOKEN_CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.service_account.token.create"
          }
        },
        "ORG_SERVICE_ACCOUNT_TOKEN_DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.service_account.token.delete"
          }
        },
        "ORG_SERVICE_ACCOUNT_TOKEN_ROTATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.service_account.token.rotate"
          }
        },
        "ORG_SERVICE_ACCOUNT_TOKEN_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "org.service_account.token.update"
          }
        },
        "OAUTH_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth.token"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ExportAuditLogResponseBodyItemLocation": {
      "type": "structure",
      "members": {
        "formatted": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "country": {
          "target": "smithy.api#String"
        },
        "city": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ExportAuditLogResponseBodyItemAuthorType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ExportAuditLogResponseBodyItemAuthor": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.orgs#ExportAuditLogResponseBodyItemAuthorType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "deleted": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ExportAuditLogResponseBodyItemTokenRole": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "FINEGRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fineGrained"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ExportAuditLogResponseBodyItemToken": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.huggingface.orgs#ExportAuditLogResponseBodyItemTokenRole"
        },
        "last4": {
          "target": "smithy.api#String"
        },
        "deleted": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ExportAuditLogResponseBodyItemOauth": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ExportAuditLogResponseBodyItem": {
      "type": "structure",
      "members": {
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.huggingface.orgs#ExportAuditLogResponseBodyItemType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "smithy.api#Document"
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ip": {
          "target": "smithy.api#String"
        },
        "location": {
          "target": "com.huggingface.orgs#ExportAuditLogResponseBodyItemLocation"
        },
        "userAgent": {
          "target": "smithy.api#String"
        },
        "author": {
          "target": "com.huggingface.orgs#ExportAuditLogResponseBodyItemAuthor",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "token": {
          "target": "com.huggingface.orgs#ExportAuditLogResponseBodyItemToken"
        },
        "oauth": {
          "target": "com.huggingface.orgs#ExportAuditLogResponseBodyItemOauth"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ExportAuditLogResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#ExportAuditLogResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#ExportAuditLogResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.orgs#ExportAuditLogResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.orgs#ExportAuditLog": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#ExportAuditLogRequest"
      },
      "output": {
        "target": "com.huggingface.orgs#ExportAuditLogResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{name}/audit-log/export",
          "code": 200
        },
        "smithy.api#documentation": "Export the audit log\n\nExport the audit log events in JSON format for a Team or Enterprise organization. The export is limited to the last 100,000 events."
      }
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseEnforceAuth": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseIpRangesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseBlockedContentsItemResourceCase0": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseBlockedContentsItemResource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseBlockedContentsItemResourceCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseBlockedContentsItem": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseBlockedContentsItemResource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseBlockedContentsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseBlockedContentsItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseAllowedContentsItemResourceCase0": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseAllowedContentsItemResource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseAllowedContentsItemResourceCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseAllowedContentsItem": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseAllowedContentsItemResource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponseAllowedContentsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseAllowedContentsItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetNetworkSecuritySettingsResponse": {
      "type": "structure",
      "members": {
        "enforceAuth": {
          "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseEnforceAuth",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enforceIpRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "highRateLimits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipRanges": {
          "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseIpRangesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blockedContents": {
          "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseBlockedContentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowedContents": {
          "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponseAllowedContentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keepReposMetadataVisible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.orgs#GetNetworkSecuritySettings": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#GetNetworkSecuritySettingsRequest"
      },
      "output": {
        "target": "com.huggingface.orgs#GetNetworkSecuritySettingsResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{name}/settings/network-security",
          "code": 200
        },
        "smithy.api#documentation": "Get network security settings\n\nGet the network security settings for an organization."
      }
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequestIpRangesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequestBlockedContentsItemResourceCase0": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequestBlockedContentsItemResource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityRequestBlockedContentsItemResourceCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequestBlockedContentsItem": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityRequestBlockedContentsItemResource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequestBlockedContentsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#UpdateNetworkSecurityRequestBlockedContentsItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequestAllowedContentsItemResourceCase0": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequestAllowedContentsItemResource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityRequestAllowedContentsItemResourceCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequestAllowedContentsItem": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityRequestAllowedContentsItemResource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequestAllowedContentsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#UpdateNetworkSecurityRequestAllowedContentsItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "enforceAuth": {
          "target": "smithy.api#Boolean"
        },
        "enforceIpRestriction": {
          "target": "smithy.api#Boolean"
        },
        "highRateLimits": {
          "target": "smithy.api#Boolean"
        },
        "ipRanges": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityRequestIpRangesList"
        },
        "blockedContents": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityRequestBlockedContentsList"
        },
        "allowedContents": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityRequestAllowedContentsList"
        },
        "keepReposMetadataVisible": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseEnforceAuth": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "smithy.api#Boolean"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseIpRangesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseBlockedContentsItemResourceCase0": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseBlockedContentsItemResource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseBlockedContentsItemResourceCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseBlockedContentsItem": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseBlockedContentsItemResource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseBlockedContentsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseBlockedContentsItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseAllowedContentsItemResourceCase0": {
      "type": "enum",
      "members": {
        "DATASET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataset"
          }
        },
        "MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "model"
          }
        },
        "SPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "space"
          }
        },
        "BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket"
          }
        },
        "KERNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kernel"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseAllowedContentsItemResource": {
      "type": "union",
      "members": {
        "Case0": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseAllowedContentsItemResourceCase0"
        },
        "Case1": {
          "target": "smithy.api#Document"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseAllowedContentsItem": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseAllowedContentsItemResource",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponseAllowedContentsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseAllowedContentsItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#UpdateNetworkSecurityResponse": {
      "type": "structure",
      "members": {
        "enforceAuth": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseEnforceAuth",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "enforceIpRestriction": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "highRateLimits": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ipRanges": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseIpRangesList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "blockedContents": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseBlockedContentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "allowedContents": {
          "target": "com.huggingface.orgs#UpdateNetworkSecurityResponseAllowedContentsList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "keepReposMetadataVisible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.orgs#UpdateNetworkSecurity": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#UpdateNetworkSecurityRequest"
      },
      "output": {
        "target": "com.huggingface.orgs#UpdateNetworkSecurityResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/api/organizations/{name}/settings/network-security",
          "code": 200
        },
        "smithy.api#documentation": "Update network security\n\nUpdate the network security settings for an organization."
      }
    },
    "com.huggingface.orgs#GetAvatarRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "redirect": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#httpQuery": "redirect"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#GetAvatarResponse": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.orgs#GetAvatar": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#GetAvatarRequest"
      },
      "output": {
        "target": "com.huggingface.orgs#GetAvatarResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{name}/avatar",
          "code": 200
        },
        "smithy.api#documentation": "Get avatar\n\nRetrieve organization avatar. This endpoint returns a JSON with the avatar URL for the organization.\n\nIf called with the `Sec-Fetch-Dest: image` header, it instead redirects to the avatar URL"
      }
    },
    "com.huggingface.orgs#GetOrganizationMembersRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "search": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "search"
          }
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "email"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "cursor"
          }
        },
        "limit": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#httpQuery": "limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#GetOrganizationMembersResponseBodyItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetOrganizationMembersResponseBodyItemResourceGroupsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetOrganizationMembersResponseBodyItemResourceGroupsItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "numUsers": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.huggingface.orgs#GetOrganizationMembersResponseBodyItemResourceGroupsItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetOrganizationMembersResponseBodyItemResourceGroupsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#GetOrganizationMembersResponseBodyItemResourceGroupsItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetOrganizationMembersResponseBodyItem": {
      "type": "structure",
      "members": {
        "avatarUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fullname": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isPro": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "user": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "isFollowing": {
          "target": "smithy.api#Boolean"
        },
        "_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.huggingface.orgs#GetOrganizationMembersResponseBodyItemRole"
        },
        "resourceGroups": {
          "target": "com.huggingface.orgs#GetOrganizationMembersResponseBodyItemResourceGroupsList"
        },
        "twoFaEnabled": {
          "target": "smithy.api#Boolean"
        },
        "verifiedEmail": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The user's SSO email, if the org has a Team or Enterprise plan and the requester is an admin",
            "com.distilled.openapi#nullable": {}
          }
        },
        "isExternalCollaborator": {
          "target": "smithy.api#Boolean"
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetOrganizationMembersResponseBodyList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#GetOrganizationMembersResponseBodyItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#GetOrganizationMembersResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.huggingface.orgs#GetOrganizationMembersResponseBodyList",
          "traits": {
            "com.distilled.openapi#rawResponse": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.huggingface.orgs#GetOrganizationMembers": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#GetOrganizationMembersRequest"
      },
      "output": {
        "target": "com.huggingface.orgs#GetOrganizationMembersResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/organizations/{name}/members",
          "code": 200
        },
        "smithy.api#documentation": "Get organization members\n\nGet a list of members for the organization with optional search and pagination."
      }
    },
    "com.huggingface.orgs#ChangeMemberRoleRequestRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ChangeMemberRoleRequestResourceGroupsItemRole": {
      "type": "enum",
      "members": {
        "ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "admin"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        },
        "CONTRIBUTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "contributor"
          }
        },
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "NO_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "no_access"
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ChangeMemberRoleRequestResourceGroupsItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.huggingface.orgs#ChangeMemberRoleRequestResourceGroupsItemRole",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {}
    },
    "com.huggingface.orgs#ChangeMemberRoleRequestResourceGroupsList": {
      "type": "list",
      "member": {
        "target": "com.huggingface.orgs#ChangeMemberRoleRequestResourceGroupsItem"
      },
      "traits": {}
    },
    "com.huggingface.orgs#ChangeMemberRoleRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.huggingface.orgs#ChangeMemberRoleRequestRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceGroups": {
          "target": "com.huggingface.orgs#ChangeMemberRoleRequestResourceGroupsList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.huggingface.orgs#ChangeMemberRole": {
      "type": "operation",
      "input": {
        "target": "com.huggingface.orgs#ChangeMemberRoleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
[...]
