{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.accounts#CreateRequestType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.accounts#CreateRequestUnit": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Tenant unit ID"
          }
        }
      }
    },
    "com.cloudflare.accounts#CreateRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#CreateRequestType"
        },
        "unit": {
          "target": "com.cloudflare.accounts#CreateRequestUnit",
          "traits": {
            "smithy.api#documentation": "information related to the tenant unit, and optionally, an id of the unit to create the account on. see https://developers.cloudflare.com/tenant/how-to/manage-accounts/"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#CreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#Create": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#CreateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#CreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts",
          "code": 200
        },
        "smithy.api#documentation": "Create an account (only available for tenant admins at this time)"
      }
    },
    "com.cloudflare.accounts#DeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The account ID of the account to be deleted",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#DeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#Delete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#DeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#DeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a specific account (only available for tenant admins at this time). This is a permanent operation that will delete any zones or other resources under the account",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#GetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#GetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#Get": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#GetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#GetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a specific account that you are a member of.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#ListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.accounts#ListRequest": {
      "type": "structure",
      "members": {
        "direction": {
          "target": "com.cloudflare.accounts#ListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order results.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the account.",
            "smithy.api#httpQuery": "name"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#ListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#ListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#ListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#List": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#ListRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#ListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts",
          "code": 200
        },
        "smithy.api#documentation": "List all accounts you have ownership or verified access to.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#UpdateRequestType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "standard"
          }
        },
        "ENTERPRISE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enterprise"
          }
        }
      }
    },
    "com.cloudflare.accounts#UpdateRequestManagedBy": {
      "type": "structure",
      "members": {
        "parent_org_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "ID of the parent Organization, if one exists"
          }
        },
        "parent_org_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of the parent Organization, if one exists"
          }
        }
      }
    },
    "com.cloudflare.accounts#UpdateRequestSettings": {
      "type": "structure",
      "members": {
        "abuse_contact_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Sets an abuse contact email to notify for abuse reports."
          }
        },
        "enforce_twofactor": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Indicates whether membership in this account requires that"
          }
        }
      }
    },
    "com.cloudflare.accounts#UpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account name",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#UpdateRequestType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "managed_by": {
          "target": "com.cloudflare.accounts#UpdateRequestManagedBy",
          "traits": {
            "smithy.api#documentation": "Parent container details"
          }
        },
        "settings": {
          "target": "com.cloudflare.accounts#UpdateRequestSettings",
          "traits": {
            "smithy.api#documentation": "Account settings"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#UpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#Update": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#UpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#UpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#AccountOrganizationsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "destination_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#AccountOrganizationsCreateResponse": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "destination_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source_organization_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#AccountOrganizationsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#AccountOrganizationsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#AccountOrganizationsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/move",
          "code": 200
        },
        "smithy.api#documentation": "Move an account within an organization hierarchy or an account outside an organization. (Currently in Public Beta - see https://developers.cloudflare.com/fundamentals/organizations/)"
      }
    },
    "com.cloudflare.accounts#AccountProfileGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#AccountProfileGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#AccountProfileGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#AccountProfileGetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#AccountProfileGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/profile",
          "code": 200
        },
        "smithy.api#documentation": "Retrieves the profile information for a specific Cloudflare account, including organization details, settings, and metadata. This endpoint is commonly used to verify account access and retrieve account-level configuration.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#AccountProfileUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "business_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "business_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "business_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "business_phone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "external_metadata": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#AccountProfileUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#AccountProfileUpdateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/profile",
          "code": 200
        },
        "smithy.api#documentation": "Updates the profile information for a Cloudflare account. Allows modification of account-level settings and organizational details. Requires Account Settings Write permission.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestDirection": {
      "type": "enum",
      "members": {
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        },
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequestProductCategoryList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.accounts#LogsAuditListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique id that identifies the account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits the returned results to logs older than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.",
            "smithy.api#httpQuery": "before",
            "smithy.api#required": {}
          }
        },
        "since": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Limits the returned results to logs newer than the specified date. This can be a date string 2019-04-30 (interpreted in UTC) or an absolute timestamp that conforms to RFC3339.",
            "smithy.api#httpQuery": "since",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "id"
          }
        },
        "account_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "account_name"
          }
        },
        "action_result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "action_result"
          }
        },
        "action_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "action_type"
          }
        },
        "actor_context": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actor_context"
          }
        },
        "actor_email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actor_email"
          }
        },
        "actor_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actor_id"
          }
        },
        "actor_ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actor_ip_address"
          }
        },
        "actor_token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actor_token_id"
          }
        },
        "actor_token_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actor_token_name"
          }
        },
        "actor_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "actor_type"
          }
        },
        "audit_log_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "audit_log_id"
          }
        },
        "cursor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The cursor is an opaque token used to paginate through large sets of records. It indicates the position from which to continue when requesting the next set of records. A valid cursor value can be obtained from the cursor object in the result_info structure of a previous response.",
            "smithy.api#httpQuery": "cursor"
          }
        },
        "direction": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Sets sorting order.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "limit": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The number limits the objects to return. The cursor attribute may be used to iterate over the next batch of objects if there are more than the limit.",
            "smithy.api#httpQuery": "limit"
          }
        },
        "product_category": {
          "target": "com.cloudflare.accounts#LogsAuditListRequestProductCategoryList",
          "traits": {
            "smithy.api#documentation": "Filters audit logs by one or more predefined product categories. Each product category expands into a curated set of resource_product values and is unioned with any explicit resource_product filter. Matched case-insensitively; unknown product categories return 400. Repeatable. Use the audit log product categories endpoint to discover the available values.",
            "smithy.api#httpQuery": "product_category"
          }
        },
        "raw_cf_ray_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "raw_cf_ray_id"
          }
        },
        "raw_method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "raw_method"
          }
        },
        "raw_status_code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "raw_status_code"
          }
        },
        "raw_uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "raw_uri"
          }
        },
        "resource_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resource_id"
          }
        },
        "resource_product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resource_product"
          }
        },
        "resource_scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resource_scope"
          }
        },
        "resource_type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "resource_type"
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "zone_id"
          }
        },
        "zone_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#httpQuery": "zone_name"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the account."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that identifies the account name."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemAction": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short description of the action performed."
          }
        },
        "result": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The result of the action, indicating success or failure."
          }
        },
        "time": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A timestamp indicating when the action was logged."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A short string that describes the action that was performed."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemActorContext": {
      "type": "enum",
      "members": {
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_key"
          }
        },
        "API_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "api_token"
          }
        },
        "DASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dash"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemActorType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "CLOUDFLARE_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudflare_admin"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "system"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemActor": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The ID of the actor who performed the action. If a user performed the action, this will be their User ID."
          }
        },
        "context": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemActorContext"
        },
        "email": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The email of the actor who performed the action."
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The IP address of the request that performed the action."
          }
        },
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API token ID when the actor context is an api_token or oauth."
          }
        },
        "token_name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The API token name when the actor context is an api_token or oauth."
          }
        },
        "type": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemActorType",
          "traits": {
            "smithy.api#documentation": "The type of actor."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemRaw": {
      "type": "structure",
      "members": {
        "cf_ray_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloudflare Ray ID for the request."
          }
        },
        "method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The HTTP method of the request."
          }
        },
        "status_code": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "The HTTP response status code returned by the API."
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The URI of the request."
          }
        },
        "user_agent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The client's user agent string sent with the request."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemResource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the affected resource."
          }
        },
        "product": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The Cloudflare product associated with the resource."
          }
        },
        "request": {
          "target": "smithy.api#Document"
        },
        "response": {
          "target": "smithy.api#Document"
        },
        "scope": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The scope of the resource."
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The type of the resource."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItemZone": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that identifies the zone id."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A string that identifies the zone name."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "A unique identifier for the audit log entry."
          }
        },
        "account": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemAccount",
          "traits": {
            "smithy.api#documentation": "Contains account related information."
          }
        },
        "action": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemAction",
          "traits": {
            "smithy.api#documentation": "Provides information about the action performed."
          }
        },
        "actor": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemActor",
          "traits": {
            "smithy.api#documentation": "Provides details about the actor who performed the action."
          }
        },
        "raw": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemRaw",
          "traits": {
            "smithy.api#documentation": "Provides raw information about the request and response."
          }
        },
        "resource": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemResource",
          "traits": {
            "smithy.api#documentation": "Provides details about the affected resource."
          }
        },
        "zone": {
          "target": "com.cloudflare.accounts#LogsAuditListResultItemZone",
          "traits": {
            "smithy.api#documentation": "Provides details about the zone affected by the action."
          }
        }
      }
    },
    "com.cloudflare.accounts#LogsAuditListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#LogsAuditListResultItem"
      }
    },
    "com.cloudflare.accounts#LogsAuditListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#LogsAuditListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#LogsAuditList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#LogsAuditListRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#LogsAuditListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/logs/audit",
          "code": 200
        },
        "smithy.api#documentation": "Gets a list of audit logs for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#MembersCreateRequestBody": {
      "type": "structure",
      "members": {
        "IAMCreateMemberWithRoles_object___email__roles__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IAMCreateMemberWithRoles object { email, roles, status }"
          }
        },
        "IAMCreateMemberWithPolicies_object___email__policies__status__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IAMCreateMemberWithPolicies object { email, policies, status }"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.accounts#MembersCreateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#MembersCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#MembersCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#MembersCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#MembersCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/members",
          "code": 200
        },
        "smithy.api#documentation": "Add a user to the list of members for this account."
      }
    },
    "com.cloudflare.accounts#MembersDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "member_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#MembersDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#MembersDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#MembersDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#MembersDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/members/{member_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a member from an account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#MembersGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "member_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#MembersGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#MembersGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#MembersGetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#MembersGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/members/{member_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a specific member of an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#MembersListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersListRequestOrder": {
      "type": "enum",
      "members": {
        "USER_FIRST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.first_name"
          }
        },
        "USER_LAST_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.last_name"
          }
        },
        "USER_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user.email"
          }
        },
        "STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "status"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersListRequestStatus": {
      "type": "enum",
      "members": {
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "accepted"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "rejected"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.accounts#MembersListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order results.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "order": {
          "target": "com.cloudflare.accounts#MembersListRequestOrder",
          "traits": {
            "smithy.api#documentation": "Field to order results by.",
            "smithy.api#httpQuery": "order"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        },
        "status": {
          "target": "com.cloudflare.accounts#MembersListRequestStatus",
          "traits": {
            "smithy.api#documentation": "A member's status in the account.",
            "smithy.api#httpQuery": "status"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#MembersListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#MembersListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#MembersListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#MembersList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#MembersListRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#MembersListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/members",
          "code": 200
        },
        "smithy.api#documentation": "List all members of an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#MembersUpdateRequestBody": {
      "type": "structure",
      "members": {
        "IAMUpdateMemberWithRoles_object___id__roles__status__user__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IAMUpdateMemberWithRoles object { id, roles, status, user }"
          }
        },
        "IAMUpdateMemberWithPolicies_object___policies__": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "IAMUpdateMemberWithPolicies object { policies }"
          }
        }
      }
    },
    "com.cloudflare.accounts#MembersUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "member_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Membership identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "com.cloudflare.accounts#MembersUpdateRequestBody",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#MembersUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#MembersUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#MembersUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#MembersUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/members/{member_id}",
          "code": 200
        },
        "smithy.api#documentation": "Modify an account member.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#RolesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "role_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Role identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#RolesGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#RolesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#RolesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#RolesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/roles/{role_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a specific role for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#RolesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Number of roles per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#RolesListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#RolesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#RolesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#RolesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#RolesListRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#RolesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/roles",
          "code": 200
        },
        "smithy.api#documentation": "Get all available roles for an account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsCreateRequestFrequency": {
      "type": "enum",
      "members": {
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "QUARTERLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarterly"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yearly"
          }
        }
      }
    },
    "com.cloudflare.accounts#SubscriptionsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "com.cloudflare.accounts#SubscriptionsCreateRequestFrequency",
          "traits": {
            "smithy.api#documentation": "How often the subscription is renewed automatically."
          }
        },
        "rate_plan": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The rate plan applied to the subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsCreateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#SubscriptionsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#SubscriptionsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/subscriptions",
          "code": 200
        },
        "smithy.api#documentation": "Creates an account subscription."
      }
    },
    "com.cloudflare.accounts#SubscriptionsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subscription_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsDeleteResponse": {
      "type": "structure",
      "members": {
        "subscription_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription identifier tag."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#SubscriptionsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#SubscriptionsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#SubscriptionsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/subscriptions/{subscription_identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Deletes an account's subscription.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsGetResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#SubscriptionsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#SubscriptionsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#SubscriptionsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#SubscriptionsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/subscriptions",
          "code": 200
        },
        "smithy.api#documentation": "Lists all of an account's subscriptions.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsUpdateRequestFrequency": {
      "type": "enum",
      "members": {
        "WEEKLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "weekly"
          }
        },
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "monthly"
          }
        },
        "QUARTERLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "quarterly"
          }
        },
        "YEARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "yearly"
          }
        }
      }
    },
    "com.cloudflare.accounts#SubscriptionsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subscription_identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Subscription identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "com.cloudflare.accounts#SubscriptionsUpdateRequestFrequency",
          "traits": {
            "smithy.api#documentation": "How often the subscription is renewed automatically."
          }
        },
        "rate_plan": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The rate plan applied to the subscription."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#SubscriptionsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#SubscriptionsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#SubscriptionsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/subscriptions/{subscription_identifier}",
          "code": 200
        },
        "smithy.api#documentation": "Updates an account subscription.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#TokensCreateRequestPoliciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensCreateRequestConditionRequestIpInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensCreateRequestConditionRequestIpNotInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensCreateRequestConditionRequestIp": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.cloudflare.accounts#TokensCreateRequestConditionRequestIpInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        },
        "not_in": {
          "target": "com.cloudflare.accounts#TokensCreateRequestConditionRequestIpNotInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensCreateRequestCondition": {
      "type": "structure",
      "members": {
        "request_ip": {
          "target": "com.cloudflare.accounts#TokensCreateRequestConditionRequestIp",
          "traits": {
            "smithy.api#documentation": "Client IP restrictions."
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token name.",
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.accounts#TokensCreateRequestPoliciesList",
          "traits": {
            "smithy.api#documentation": "List of access policies assigned to the token.",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.cloudflare.accounts#TokensCreateRequestCondition"
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time on or after which the JWT MUST NOT be accepted for processing."
          }
        },
        "not_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time before which the token MUST NOT be accepted for processing."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#TokensCreateResponseConditionRequestIpInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensCreateResponseConditionRequestIpNotInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensCreateResponseConditionRequestIp": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.cloudflare.accounts#TokensCreateResponseConditionRequestIpInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        },
        "not_in": {
          "target": "com.cloudflare.accounts#TokensCreateResponseConditionRequestIpNotInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensCreateResponseCondition": {
      "type": "structure",
      "members": {
        "request_ip": {
          "target": "com.cloudflare.accounts#TokensCreateResponseConditionRequestIp",
          "traits": {
            "smithy.api#documentation": "Client IP restrictions."
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensCreateResponsePoliciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensCreateResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag."
          }
        },
        "condition": {
          "target": "com.cloudflare.accounts#TokensCreateResponseCondition"
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time on or after which the JWT MUST NOT be accepted for processing."
          }
        },
        "issued_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time on which the token was created."
          }
        },
        "last_used_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the token was used."
          }
        },
        "modified_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Last time the token was modified."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token name."
          }
        },
        "not_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time before which the token MUST NOT be accepted for processing."
          }
        },
        "policies": {
          "target": "com.cloudflare.accounts#TokensCreateResponsePoliciesList",
          "traits": {
            "smithy.api#documentation": "List of access policies assigned to the token."
          }
        },
        "status": {
          "target": "com.cloudflare.accounts#TokensCreateResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of the token."
          }
        },
        "value": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "The token value."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#TokensCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#TokensCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#TokensCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/tokens",
          "code": 200
        },
        "smithy.api#documentation": "Create a new Account Owned API token."
      }
    },
    "com.cloudflare.accounts#TokensDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#TokensDeleteResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#TokensDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#TokensDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#TokensDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/tokens/{token_id}",
          "code": 200
        },
        "smithy.api#documentation": "Destroy an Account Owned API token.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#TokensGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#TokensGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#TokensGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#TokensGetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#TokensGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tokens/{token_id}",
          "code": 200
        },
        "smithy.api#documentation": "Get information about a specific Account Owned API token.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#TokensListRequestDirection": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "asc"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "desc"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.cloudflare.accounts#TokensListRequestDirection",
          "traits": {
            "smithy.api#documentation": "Direction to order results.",
            "smithy.api#httpQuery": "direction"
          }
        },
        "page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Page number of paginated results.",
            "smithy.api#httpQuery": "page"
          }
        },
        "per_page": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Maximum number of results per page.",
            "smithy.api#httpQuery": "per_page"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#TokensListResultList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#TokensListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#TokensList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#TokensListRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#TokensListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tokens",
          "code": 200
        },
        "smithy.api#documentation": "List all Account Owned API tokens created for this account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#TokensUpdateRequestPoliciesList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensUpdateRequestConditionRequestIpInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensUpdateRequestConditionRequestIpNotInList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Document"
      }
    },
    "com.cloudflare.accounts#TokensUpdateRequestConditionRequestIp": {
      "type": "structure",
      "members": {
        "in": {
          "target": "com.cloudflare.accounts#TokensUpdateRequestConditionRequestIpInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        },
        "not_in": {
          "target": "com.cloudflare.accounts#TokensUpdateRequestConditionRequestIpNotInList",
          "traits": {
            "smithy.api#documentation": "List of IPv4/IPv6 CIDR addresses."
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensUpdateRequestCondition": {
      "type": "structure",
      "members": {
        "request_ip": {
          "target": "com.cloudflare.accounts#TokensUpdateRequestConditionRequestIp",
          "traits": {
            "smithy.api#documentation": "Client IP restrictions."
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensUpdateRequestStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token name.",
            "smithy.api#required": {}
          }
        },
        "policies": {
          "target": "com.cloudflare.accounts#TokensUpdateRequestPoliciesList",
          "traits": {
            "smithy.api#documentation": "List of access policies assigned to the token.",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.cloudflare.accounts#TokensUpdateRequestCondition"
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time on or after which the JWT MUST NOT be accepted for processing."
          }
        },
        "not_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time before which the token MUST NOT be accepted for processing."
          }
        },
        "status": {
          "target": "com.cloudflare.accounts#TokensUpdateRequestStatus",
          "traits": {
            "smithy.api#documentation": "Status of the token."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#TokensUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#TokensUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#TokensUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#TokensUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/tokens/{token_id}",
          "code": 200
        },
        "smithy.api#documentation": "Update an existing token.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#TokensVerifyRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#TokensVerifyResponseStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "active"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "expired"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensVerifyResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.cloudflare.accounts#TokensVerifyResponseStatus",
          "traits": {
            "smithy.api#documentation": "Status of the token.",
            "smithy.api#required": {}
          }
        },
        "expires_on": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The expiration time on or after which the JWT MUST NOT be accepted for processing."
          }
        },
        "not_before": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The time before which the token MUST NOT be accepted for processing."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.accounts#TokensVerify": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#TokensVerifyRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#TokensVerifyResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tokens/verify",
          "code": 200
        },
        "smithy.api#documentation": "Test whether a token works.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by the name of the permission group.",
            "smithy.api#httpQuery": "name"
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by the scope of the permission group.",
            "smithy.api#httpQuery": "scope"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsGetResultItemCategory": {
      "type": "enum",
      "members": {
        "DEVELOPER_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer_platform"
          }
        },
        "AI_AND_MACHINE_LEARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_and_machine_learning"
          }
        },
        "DNS_AND_ZONES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_and_zones"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsGetResultItemScopesItem": {
      "type": "enum",
      "members": {
        "COM_CLOUDFLARE_API_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.api.account"
          }
        },
        "COM_CLOUDFLARE_API_ACCOUNT_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.api.account.zone"
          }
        },
        "COM_CLOUDFLARE_API_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.api.user"
          }
        },
        "COM_CLOUDFLARE_EDGE_R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.edge.r2.bucket"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsGetResultItemScopesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#TokensPermissionGroupsGetResultItemScopesItem"
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsGetResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public ID."
          }
        },
        "category": {
          "target": "com.cloudflare.accounts#TokensPermissionGroupsGetResultItemCategory",
          "traits": {
            "smithy.api#documentation": "Product category that this permission group belongs to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Permission Group Name"
          }
        },
        "scopes": {
          "target": "com.cloudflare.accounts#TokensPermissionGroupsGetResultItemScopesList",
          "traits": {
            "smithy.api#documentation": "Resources to which the Permission Group is scoped"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsGetResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#TokensPermissionGroupsGetResultItem"
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsGetResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#TokensPermissionGroupsGetResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#TokensPermissionGroupsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#TokensPermissionGroupsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tokens/permission_groups",
          "code": 200
        },
        "smithy.api#documentation": "Find all available permission groups for Account Owned API Tokens",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by the name of the permission group.",
            "smithy.api#httpQuery": "name"
          }
        },
        "scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Filter by the scope of the permission group.",
            "smithy.api#httpQuery": "scope"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsListResultItemCategory": {
      "type": "enum",
      "members": {
        "DEVELOPER_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "developer_platform"
          }
        },
        "AI_AND_MACHINE_LEARNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ai_and_machine_learning"
          }
        },
        "DNS_AND_ZONES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dns_and_zones"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsListResultItemScopesItem": {
      "type": "enum",
      "members": {
        "COM_CLOUDFLARE_API_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.api.account"
          }
        },
        "COM_CLOUDFLARE_API_ACCOUNT_ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.api.account.zone"
          }
        },
        "COM_CLOUDFLARE_API_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.api.user"
          }
        },
        "COM_CLOUDFLARE_EDGE_R2_BUCKET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "com.cloudflare.edge.r2.bucket"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsListResultItemScopesList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#TokensPermissionGroupsListResultItemScopesItem"
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Public ID."
          }
        },
        "category": {
          "target": "com.cloudflare.accounts#TokensPermissionGroupsListResultItemCategory",
          "traits": {
            "smithy.api#documentation": "Product category that this permission group belongs to."
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Permission Group Name"
          }
        },
        "scopes": {
          "target": "com.cloudflare.accounts#TokensPermissionGroupsListResultItemScopesList",
          "traits": {
            "smithy.api#documentation": "Resources to which the Permission Group is scoped"
          }
        }
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.accounts#TokensPermissionGroupsListResultItem"
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.accounts#TokensPermissionGroupsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#TokensPermissionGroupsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#TokensPermissionGroupsListRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#TokensPermissionGroupsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/tokens/permission_groups",
          "code": 200
        },
        "smithy.api#documentation": "Find all available permission groups for Account Owned API Tokens",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.accounts#TokensValueUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Account identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "token_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token identifier tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "body": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.accounts#TokensValueUpdateResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "smithy.api#Document",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.accounts#TokensValueUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.accounts#TokensValueUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.accounts#TokensValueUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/tokens/{token_id}/value",
          "code": 200
        },
        "smithy.api#documentation": "Roll the Account Owned API token secret.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.accounts#Accounts": {
      "type": "service",
      "version": "4.0",
      "operations": [
        {
          "target": "com.cloudflare.accounts#Create"
        },
        {
          "target": "com.cloudflare.accounts#Delete"
        },
        {
          "target": "com.cloudflare.accounts#Get"
        },
        {
          "target": "com.cloudflare.accounts#List"
        },
        {
          "target": "com.cloudflare.accounts#Update"
        },
        {
          "target": "com.cloudflare.accounts#AccountOrganizationsCreate"
        },
        {
          "target": "com.cloudflare.accounts#AccountProfileGet"
        },
        {
          "target": "com.cloudflare.accounts#AccountProfileUpdate"
        },
        {
          "target": "com.cloudflare.accounts#LogsAuditList"
        },
        {
          "target": "com.cloudflare.accounts#MembersCreate"
        },
        {
          "target": "com.cloudflare.accounts#MembersDelete"
        },
        {
          "target": "com.cloudflare.accounts#MembersGet"
        },
        {
          "target": "com.cloudflare.accounts#MembersList"
        },
        {
          "target": "com.cloudflare.accounts#MembersUpdate"
        },
        {
          "target": "com.cloudflare.accounts#RolesGet"
        },
        {
          "target": "com.cloudflare.accounts#RolesList"
        },
        {
          "target": "com.cloudflare.accounts#SubscriptionsCreate"
        },
        {
          "target": "com.cloudflare.accounts#SubscriptionsDelete"
        },
        {
          "target": "com.cloudflare.accounts#SubscriptionsGet"
        },
        {
          "target": "com.cloudflare.accounts#SubscriptionsUpdate"
        },
        {
          "target": "com.cloudflare.accounts#TokensCreate"
        },
        {
          "target": "com.cloudflare.accounts#TokensDelete"
        },
        {
          "target": "com.cloudflare.accounts#TokensGet"
        },
        {
          "target": "com.cloudflare.accounts#TokensList"
        },
        {
          "target": "com.cloudflare.accounts#TokensUpdate"
        },
        {
          "target": "com.cloudflare.accounts#TokensVerify"
        },
        {
          "target": "com.cloudflare.accounts#TokensPermissionGroupsGet"
        },
        {
          "target": "com.cloudflare.accounts#TokensPermissionGroupsList"
        },
        {
          "target": "com.cloudflare.accounts#TokensValueUpdate"
        }
      ],
      "traits": {
        "com.cloudflare.protocols#v4Json": {},
        "smithy.api#title": "Cloudflare Accounts",
        "smithy.api#documentation": "Cloudflare API — accounts resource. Speaks the v4 JSON envelope protocol; operation outputs describe the unwrapped `result` payload."
      }
    }
  }
}
