{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "UnreferencedShape",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.cloudflare.addressing#AddressMapsCreateRequestIpsList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItemKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItem": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the membership (eg. a zone or account tag)."
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItemKind",
          "traits": {
            "smithy.api#documentation": "The type of the membership."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare’s DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "ips": {
          "target": "com.cloudflare.addressing#AddressMapsCreateRequestIpsList"
        },
        "memberships": {
          "target": "com.cloudflare.addressing#AddressMapsCreateRequestMembershipsList",
          "traits": {
            "smithy.api#documentation": "Zones and Accounts which will be assigned IPs on this Address Map. A zone membership will take priority over an account membership."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseIps": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItemKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItem": {
      "type": "structure",
      "members": {
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the membership can be deleted via the API or not."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the membership (eg. a zone or account tag)."
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItemKind",
          "traits": {
            "smithy.api#documentation": "The type of the membership."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponseKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare’s DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "ips": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseIps",
          "traits": {
            "smithy.api#documentation": "The set of IPs on the Address Map."
          }
        },
        "memberships": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseMembershipsList",
          "traits": {
            "smithy.api#documentation": "Zones and Accounts which will be assigned IPs on this Address Map. A zone membership will take priority over an account membership."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "description_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "description"
          }
        },
        "enabled_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "enabled"
          }
        },
        "ips_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "\"192.0.2.1\"",
            "smithy.api#required": {},
            "smithy.api#jsonName": "ips"
          }
        },
        "memberships_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "{",
            "smithy.api#required": {},
            "smithy.api#jsonName": "memberships"
          }
        },
        "identifier": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsCreateResponseKind",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#AddressMapsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/address_maps",
          "code": 200
        },
        "smithy.api#documentation": "Create a new address map under the account."
      }
    },
    "com.cloudflare.addressing#AddressMapsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsDeleteResponseTotalPages": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.addressing#AddressMapsDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.addressing#AddressMapsDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        },
        "count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_pages": {
          "target": "com.cloudflare.addressing#AddressMapsDeleteResponseTotalPages",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.addressing#AddressMapsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete a particular address map owned by the account. An Address Map must be disabled before it can be deleted.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare’s DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare’s DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "default_sni_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "default_sni"
          }
        },
        "description_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "description"
          }
        },
        "enabled_2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "enabled"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#AddressMapsEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsEditRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
          "code": 200
        },
        "smithy.api#documentation": "Modify properties of an address map owned by the account."
      }
    },
    "com.cloudflare.addressing#AddressMapsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseIps": {
      "type": "structure",
      "members": {
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "ip": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItemKind": {
      "type": "enum",
      "members": {
        "ZONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "zone"
          }
        },
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItem": {
      "type": "structure",
      "members": {
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Controls whether the membership can be deleted via the API or not."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "The identifier for the membership (eg. a zone or account tag)."
          }
        },
        "kind": {
          "target": "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItemKind",
          "traits": {
            "smithy.api#documentation": "The type of the membership."
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponseMembershipsList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsGetResponseMembershipsItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare’s DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "ips": {
          "target": "com.cloudflare.addressing#AddressMapsGetResponseIps",
          "traits": {
            "smithy.api#documentation": "The set of IPs on the Address Map."
          }
        },
        "memberships": {
          "target": "com.cloudflare.addressing#AddressMapsGetResponseMembershipsList",
          "traits": {
            "smithy.api#documentation": "Zones and Accounts which will be assigned IPs on this Address Map. A zone membership will take priority over an account membership."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#AddressMapsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsGetRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}",
          "code": 200
        },
        "smithy.api#documentation": "Show a particular address map owned by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map."
          }
        },
        "can_delete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the Address Map cannot be deleted via API. This is true for Cloudflare-managed maps."
          }
        },
        "can_modify_ips": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "If set to false, then the IPs on the Address Map cannot be modified via the API. This is true for Cloudflare-managed maps."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "default_sni": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "If you have legacy TLS clients which do not send the TLS server name indicator, then you can specify one default SNI on the map. If Cloudflare receives a TLS handshake from a client without an SNI, it will respond with the default SNI on those IPs. The default SNI can be any valid zone or subdomain owned by the account."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An optional description field which may be used to describe the types of IPs or zones on the map."
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the Address Map is enabled or not. Cloudflare’s DNS will not respond with IP addresses on an Address Map until the map is enabled."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#AddressMapsListResultItem"
      }
    },
    "com.cloudflare.addressing#AddressMapsListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.addressing#AddressMapsListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsListRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/address_maps",
          "code": 200
        },
        "smithy.api#documentation": "List all address maps owned by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_id_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsDeleteResponseTotalPages": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.addressing#AddressMapsAccountsDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.addressing#AddressMapsAccountsDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        },
        "count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_pages": {
          "target": "com.cloudflare.addressing#AddressMapsAccountsDeleteResponseTotalPages",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsAccountsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsAccountsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove an account as a member of a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "account_id_2": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsUpdateResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsUpdateResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsUpdateResponseTotalPages": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsUpdateResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.addressing#AddressMapsAccountsUpdateResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.addressing#AddressMapsAccountsUpdateResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        },
        "count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_pages": {
          "target": "com.cloudflare.addressing#AddressMapsAccountsUpdateResponseTotalPages",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.addressing#AddressMapsAccountsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsAccountsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsAccountsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/accounts/{account_id}",
          "code": 200
        },
        "smithy.api#documentation": "Add an account as a member of a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsDeleteResponseTotalPages": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.addressing#AddressMapsIpsDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.addressing#AddressMapsIpsDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        },
        "count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_pages": {
          "target": "com.cloudflare.addressing#AddressMapsIpsDeleteResponseTotalPages",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsIpsDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsIpsDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/ips/{ip_address}",
          "code": 200
        },
        "smithy.api#documentation": "Remove an IP from a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ip_address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "An IPv4 or IPv6 address.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsUpdateResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsUpdateResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsUpdateResponseTotalPages": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsUpdateResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.addressing#AddressMapsIpsUpdateResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.addressing#AddressMapsIpsUpdateResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        },
        "count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_pages": {
          "target": "com.cloudflare.addressing#AddressMapsIpsUpdateResponseTotalPages",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.addressing#AddressMapsIpsUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsIpsUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsIpsUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/ips/{ip_address}",
          "code": 200
        },
        "smithy.api#documentation": "Add an IP from a prefix owned by the account to a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesDeleteResponseTotalPages": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.addressing#AddressMapsZonesDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.addressing#AddressMapsZonesDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        },
        "count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_pages": {
          "target": "com.cloudflare.addressing#AddressMapsZonesDeleteResponseTotalPages",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsZonesDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsZonesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/zones/{zone_id}",
          "code": 200
        },
        "smithy.api#documentation": "Remove a zone as a member of a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesUpdateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "address_map_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an Address Map.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "zone_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a zone.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesUpdateResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesUpdateResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesUpdateResponseTotalPages": {
      "type": "intEnum",
      "members": {
        "_100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": 100
          }
        }
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesUpdateResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.addressing#AddressMapsZonesUpdateResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.addressing#AddressMapsZonesUpdateResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        },
        "count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "per_page": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_count": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "total_pages": {
          "target": "com.cloudflare.addressing#AddressMapsZonesUpdateResponseTotalPages",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.addressing#AddressMapsZonesUpdate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#AddressMapsZonesUpdateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#AddressMapsZonesUpdateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{account_id}/addressing/address_maps/{address_map_id}/zones/{zone_id}",
          "code": 200
        },
        "smithy.api#documentation": "Add a zone as a member of a particular address map.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#LoaDocumentsCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#LoaDocumentsCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "auto_generated": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the LOA has been auto-generated for the prefix owner by Cloudflare."
          }
        },
        "created": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Name of LOA document. Max file size 10MB, and supported filetype is pdf."
          }
        },
        "size_bytes": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "File size of the uploaded LOA document."
          }
        },
        "verified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether the LOA has been verified by Cloudflare staff."
          }
        },
        "verified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Timestamp of the moment the LOA was marked as validated."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#LoaDocumentsCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#LoaDocumentsCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#LoaDocumentsCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/loa_documents",
          "code": 200
        },
        "smithy.api#documentation": "Submit LOA document (pdf format) under the account."
      }
    },
    "com.cloudflare.addressing#LoaDocumentsGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#LoaDocumentsGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#LoaDocumentsGetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/loa_documents/{loa_document_id}/download",
          "code": 200
        },
        "smithy.api#documentation": "Download specified LOA document under the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesCreateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under.",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format.",
            "smithy.api#required": {}
          }
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesCreateResponseLoaDocumentId": {
      "type": "enum",
      "members": {
        "D933B1530BC56C9953CF8CE166DA8004": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "d933b1530bc56c9953cf8ce166da8004"
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesCreateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "Deprecatedadvertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "Deprecatedadvertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "Deprecatedon_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "Deprecatedon_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "asn_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "asn"
          }
        },
        "cidr_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "cidr"
          }
        },
        "delegate_loa_creation_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "delegate_loa_creation"
          }
        },
        "description_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "description"
          }
        },
        "loa_document_id_2": {
          "target": "com.cloudflare.addressing#PrefixesCreateResponseLoaDocumentId",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "loa_document_id"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesCreate": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesCreateRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesCreateResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{account_id}/addressing/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "Add a new prefix under the account."
      }
    },
    "com.cloudflare.addressing#PrefixesDeleteRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesDeleteResponsePointer": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesDeleteResponsePointer2": {
      "type": "enum",
      "members": {
        "POINTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pointer"
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesDeleteResponse": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "documentation_url": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "pointer": {
          "target": "com.cloudflare.addressing#PrefixesDeleteResponsePointer",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {}
          }
        },
        "code_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "code"
          }
        },
        "message_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "message"
          }
        },
        "documentation_url_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "documentation_url"
          }
        },
        "source_2": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#required": {},
            "smithy.api#jsonName": "source"
          }
        },
        "pointer_2": {
          "target": "com.cloudflare.addressing#PrefixesDeleteResponsePointer2",
          "traits": {
            "smithy.api#documentation": "}",
            "smithy.api#required": {},
            "smithy.api#jsonName": "pointer"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Raw response payload (operation does not use the standard v4 result envelope)."
      }
    },
    "com.cloudflare.addressing#PrefixesDelete": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesDeleteRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesDeleteResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Delete an unapproved prefix owned by the account.",
        "smithy.api#idempotent": {}
      }
    },
    "com.cloudflare.addressing#PrefixesEditRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesEditResponseDescription": {
      "type": "enum",
      "members": {
        "INTERNAL_TEST_PREFIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Internal test prefix"
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesEditResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "Deprecatedadvertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "Deprecatedadvertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "Deprecatedon_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "Deprecatedon_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "description_2": {
          "target": "com.cloudflare.addressing#PrefixesEditResponseDescription",
          "traits": {
            "smithy.api#documentation": "}'",
            "smithy.api#required": {},
            "smithy.api#jsonName": "description"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesEdit": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesEditRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesEditResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "Modify the description for a prefix owned by the account."
      }
    },
    "com.cloudflare.addressing#PrefixesGetRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesGetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "Deprecatedadvertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "Deprecatedadvertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "Deprecatedon_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "Deprecatedon_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#documentation": "Unwrapped `result` payload of the Cloudflare v4 response envelope."
      }
    },
    "com.cloudflare.addressing#PrefixesGet": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesGetRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesGetResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/prefixes/{prefix_id}",
          "code": 200
        },
        "smithy.api#documentation": "List a particular prefix owned by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesListRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesListResultItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "Deprecatedadvertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "Deprecatedadvertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Whether Cloudflare is allowed to generate the LOA document on behalf of the prefix owner."
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the prefix."
          }
        },
        "irr_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "loa_document_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier for the uploaded LOA document."
          }
        },
        "modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "Deprecatedon_demand_enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "Deprecatedon_demand_locked": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "ownership_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        },
        "ownership_validation_token": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Token provided to demonstrate ownership of the prefix."
          }
        },
        "rpki_validation_state": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "State of one kind of validation for an IP prefix."
          }
        }
      }
    },
    "com.cloudflare.addressing#PrefixesListResultList": {
      "type": "list",
      "member": {
        "target": "com.cloudflare.addressing#PrefixesListResultItem"
      }
    },
    "com.cloudflare.addressing#PrefixesListResponse": {
      "type": "structure",
      "members": {
        "result": {
          "target": "com.cloudflare.addressing#PrefixesListResultList",
          "traits": {
            "com.cloudflare.protocols#envelopePayload": {},
            "smithy.api#documentation": "The unwrapped `result` payload of the v4 response envelope."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.cloudflare.addressing#PrefixesList": {
      "type": "operation",
      "input": {
        "target": "com.cloudflare.addressing#PrefixesListRequest"
      },
      "output": {
        "target": "com.cloudflare.addressing#PrefixesListResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{account_id}/addressing/prefixes",
          "code": 200
        },
        "smithy.api#documentation": "List all prefixes owned by the account.",
        "smithy.api#readonly": {}
      }
    },
    "com.cloudflare.addressing#PrefixesValidateRequest": {
      "type": "structure",
      "members": {
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "prefix_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.cloudflare.addressing#PrefixesValidateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of an IP Prefix."
          }
        },
        "account_id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Identifier of a Cloudflare account."
          }
        },
        "Deprecatedadvertised": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "Deprecatedadvertised_modified_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Prefer the BGP Prefixes API instead, which allows for advertising multiple BGP routes within a single IP Prefix."
          }
        },
        "approved": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Approval state of the prefix (P = pending, V = active)."
          }
        },
        "asn": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "Autonomous System Number (ASN) the prefix will be advertised under."
          }
        },
        "cidr": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "IP Prefix in Classless Inter-Domain Routing format."
          }
        },
        "created_at": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "formatdate-time"
          }
        },
        "delegate_loa_creation": {
          "target": "smithy.api#Boolean",
          "traits": {
[...]
